{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "info": {
    "description": "ARM Databricks",
    "title": "DatabricksClient",
    "version": "2018-04-01",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/databricks/resource-manager/Microsoft.Databricks/stable/2018-04-01/databricks.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "azure.com",
    "x-serviceName": "databricks",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "parameters": {
    "ApiVersionParameter": {
      "description": "The API version to use for this operation.",
      "in": "query",
      "name": "api-version",
      "required": true,
      "type": "string"
    },
    "ResourceGroupName": {
      "description": "The name of the resource group. The name is case insensitive.",
      "in": "path",
      "maxLength": 90,
      "minLength": 1,
      "name": "resourceGroupName",
      "pattern": "^[-\\w\\._\\(\\)]+$",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "description": "The ID of the target subscription.",
      "in": "path",
      "name": "subscriptionId",
      "required": true,
      "type": "string"
    },
    "WorkspaceName": {
      "description": "The name of the workspace.",
      "in": "path",
      "maxLength": 64,
      "minLength": 3,
      "name": "workspaceName",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "paths": {
    "/providers/Microsoft.Databricks/operations": {
      "get": {
        "description": "Lists all of the available RP operations.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Operations"
        ],
        "x-ms-examples": {
          "Operations": {
            "parameters": {
              "api-version": "2018-04-01"
            },
            "responses": {
              "200": {
                "body": [
                  {
                    "display": {
                      "description": "Retrieves a list of workspaces.",
                      "operation": "List Workspaces",
                      "provider": "Microsoft Databricks",
                      "resource": "Workspace"
                    },
                    "name": "Microsoft.Databricks/workspaces/read"
                  },
                  {
                    "display": {
                      "description": "Creates an workspace.",
                      "operation": "Create Workspace",
                      "provider": "Microsoft Databricks",
                      "resource": "Workspace"
                    },
                    "name": "Microsoft.Databricks/workspaces/write"
                  },
                  {
                    "display": {
                      "description": "Removes an workspace.",
                      "operation": "Remove Workspace",
                      "provider": "Microsoft Databricks",
                      "resource": "Workspace"
                    },
                    "name": "Microsoft.Databricks/workspaces/delete"
                  }
                ]
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Databricks/workspaces": {
      "get": {
        "description": "Gets all the workspaces within a subscription.",
        "operationId": "Workspaces_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array of workspaces.",
            "schema": {
              "$ref": "#/definitions/WorkspaceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Workspaces"
        ],
        "x-ms-examples": {
          "Lists workspaces": {
            "parameters": {
              "api-version": "2018-04-01",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Databricks/workspaces/myWorkspace1",
                      "location": "East US 2",
                      "name": "myWorkspace1",
                      "properties": {
                        "managedResourceGroupId": "/subscriptions/subid/resourceGroups/myManagedRG",
                        "parameters": null,
                        "provisioningState": "Created",
                        "uiDefinitionUri": "https://path/to/workspaceCreateUiDefinition.json"
                      },
                      "sku": {
                        "name": "skuName"
                      },
                      "tags": null,
                      "type": "Microsoft.Databricks/workspaces"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Databricks/workspaces/myWorkspace2",
                      "location": "East US 2",
                      "name": "myWorkspace2",
                      "properties": {
                        "managedResourceGroupId": "/subscriptions/subid/resourceGroups/myManagedRG",
                        "parameters": null,
                        "provisioningState": "Created",
                        "uiDefinitionUri": "https://path/to/workspaceCreateUiDefinition.json"
                      },
                      "sku": {
                        "name": "skuName"
                      },
                      "tags": null,
                      "type": "Microsoft.Databricks/workspaces"
                    }
                  ]
                },
                "headers": {}
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Databricks/workspaces": {
      "get": {
        "description": "Gets all the workspaces within a resource group.",
        "operationId": "Workspaces_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array of workspaces.",
            "schema": {
              "$ref": "#/definitions/WorkspaceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Workspaces"
        ],
        "x-ms-examples": {
          "Lists workspaces": {
            "parameters": {
              "api-version": "2018-04-01",
              "resourceGroupName": "rg",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Databricks/workspaces/myWorkspace1",
                      "location": "East US 2",
                      "name": "myWorkspace1",
                      "properties": {
                        "managedResourceGroupId": "/subscriptions/subid/resourceGroups/myManagedRG",
                        "parameters": null,
                        "provisioningState": "Created",
                        "uiDefinitionUri": "https://path/to/workspaceCreateUiDefinition.json"
                      },
                      "sku": {
                        "name": "skuName"
                      },
                      "tags": null,
                      "type": "Microsoft.Databricks/workspaces"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Databricks/workspaces/myWorkspace2",
                      "location": "East US 2",
                      "name": "myWorkspace2",
                      "properties": {
                        "managedResourceGroupId": "/subscriptions/subid/resourceGroups/myManagedRG",
                        "parameters": null,
                        "provisioningState": "Created",
                        "uiDefinitionUri": "https://path/to/workspaceCreateUiDefinition.json"
                      },
                      "sku": {
                        "name": "skuName"
                      },
                      "tags": null,
                      "type": "Microsoft.Databricks/workspaces"
                    }
                  ]
                },
                "headers": {}
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Databricks/workspaces/{workspaceName}": {
      "delete": {
        "description": "Deletes the workspace.",
        "operationId": "Workspaces_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/WorkspaceName"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted - Returns this status until the asynchronous operation has completed."
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Workspaces"
        ],
        "x-ms-examples": {
          "Delete a workspace": {
            "parameters": {
              "api-version": "2018-04-01",
              "resourceGroupName": "rg",
              "subscriptionId": "subid",
              "workspaceName": "myWorkspace"
            },
            "responses": {
              "202": {},
              "204": {}
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "description": "Gets the workspace.",
        "operationId": "Workspaces_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/WorkspaceName"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the workspace.",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Workspaces"
        ],
        "x-ms-examples": {
          "Get a workspace": {
            "parameters": {
              "api-version": "2018-04-01",
              "resourceGroupName": "rg",
              "subscriptionId": "subid",
              "workspaceName": "myWorkspace"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Databricks/workspaces/myWorkspace",
                  "location": "East US 2",
                  "name": "myWorkspace",
                  "properties": {
                    "managedResourceGroupId": "/subscriptions/subid/resourceGroups/myManagedRG",
                    "parameters": null,
                    "provisioningState": "Created",
                    "uiDefinitionUri": "https://path/to/workspaceCreateUiDefinition.json"
                  },
                  "type": "Microsoft.Databricks/workspaces"
                },
                "headers": {}
              },
              "404": {}
            }
          },
          "Get a workspace with custom parameters": {
            "parameters": {
              "api-version": "2018-04-01",
              "resourceGroupName": "rg",
              "subscriptionId": "subid",
              "workspaceName": "myWorkspace"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Databricks/workspaces/myWorkspace",
                  "location": "East US 2",
                  "name": "myWorkspace",
                  "properties": {
                    "managedResourceGroupId": "/subscriptions/subid/resourceGroups/myManagedRG",
                    "parameters": {
                      "amlWorkspaceId": {
                        "type": "String",
                        "value": ""
                      },
                      "customPrivateSubnetName": {
                        "type": "String",
                        "value": "PrivateBob"
                      },
                      "customPublicSubnetName": {
                        "type": "String",
                        "value": "PublicSarah"
                      },
                      "customVirtualNetworkId": {
                        "type": "String",
                        "value": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/myNetwork"
                      },
                      "enableNoPublicIp": {
                        "type": "Bool",
                        "value": true
                      },
                      "loadBalancerBackendPoolName": {
                        "type": "String",
                        "value": ""
                      },
                      "loadBalancerId": {
                        "type": "String",
                        "value": ""
                      },
                      "relayNamespaceName": {
                        "type": "String",
                        "value": "test"
                      },
                      "resourceTags": {
                        "type": "Object",
                        "value": {
                          "Environment": "Production",
                          "application": "databricks",
                          "databricks-environment": "true"
                        }
                      },
                      "storageAccountName": {
                        "type": "String",
                        "value": "examplesa99"
                      },
                      "storageAccountSkuName": {
                        "type": "String",
                        "value": "Standard_GRS"
                      },
                      "vnetAddressPrefix": {
                        "type": "String",
                        "value": "10.139"
                      }
                    },
                    "provisioningState": "Created",
                    "uiDefinitionUri": "https://path/to/workspaceCreateUiDefinition.json"
                  },
                  "type": "Microsoft.Databricks/workspaces"
                },
                "headers": {}
              },
              "404": {}
            }
          }
        }
      },
      "patch": {
        "description": "Updates a workspace.",
        "operationId": "Workspaces_Update",
        "parameters": [
          {
            "description": "The update to the workspace.",
            "in": "body",
            "name": "parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkspaceUpdate"
            }
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/WorkspaceName"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the workspace.",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Workspaces"
        ],
        "x-ms-examples": {
          "Update a workspace's tags.": {
            "parameters": {
              "api-version": "2018-04-01",
              "parameters": {
                "tags": {
                  "mytag1": "myvalue1"
                }
              },
              "resourceGroupName": "rg",
              "subscriptionId": "subid",
              "workspaceName": "myWorkspace"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Databricks/workspaces/myWorkspace",
                  "location": "East US 2",
                  "properties": {
                    "managedResourceGroupId": "/subscriptions/subid/resourceGroups/myManagedRG",
                    "parameters": null,
                    "provisioningState": "Created",
                    "uiDefinitionUri": "https://path/to/workspaceCreateUiDefinition.json"
                  },
                  "tags": {
                    "mytag1": "myvalue1"
                  },
                  "type": "Microsoft.Databricks/workspaces"
                },
                "headers": {}
              },
              "202": {}
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "description": "Creates a new workspace.",
        "operationId": "Workspaces_CreateOrUpdate",
        "parameters": [
          {
            "description": "Parameters supplied to the create or update a workspace.",
            "in": "body",
            "name": "parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/WorkspaceName"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Created - Returns information about the workspace, including provisioning status.",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "201": {
            "description": "Created - Returns information about the workspace, including provisioning status.",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Workspaces"
        ],
        "x-ms-examples": {
          "Create or update workspace": {
            "parameters": {
              "api-version": "2018-04-01",
              "parameters": {
                "location": "westus",
                "properties": {
                  "managedResourceGroupId": "/subscriptions/subid/resourceGroups/myManagedRG"
                }
              },
              "resourceGroupName": "rg",
              "subscriptionId": "subid",
              "workspaceName": "myWorkspace"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Databricks/workspaces/myWorkspace",
                  "location": "East US 2",
                  "properties": {
                    "managedResourceGroupId": "/subscriptions/subid/resourceGroups/myManagedRG",
                    "parameters": null,
                    "provisioningState": "Created",
                    "uiDefinitionUri": "https://path/to/workspaceCreateUiDefinition.json"
                  },
                  "sku": {
                    "name": "skuName"
                  },
                  "tags": null,
                  "type": "Microsoft.Databricks/workspaces"
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Databricks/workspaces/myWorkspace",
                  "location": "East US 2",
                  "name": "myWorkspace",
                  "properties": {
                    "managedResourceGroupId": "/subscriptions/subid/resourceGroups/myManagedRG",
                    "parameters": null,
                    "provisioningState": "Created",
                    "uiDefinitionUri": "https://path/to/workspaceCreateUiDefinition.json"
                  },
                  "sku": {
                    "name": "skuName"
                  },
                  "tags": null,
                  "type": "Microsoft.Databricks/workspaces"
                }
              }
            }
          },
          "Create or update workspace with custom parameters": {
            "parameters": {
              "api-version": "2018-04-01",
              "parameters": {
                "location": "westus",
                "properties": {
                  "managedResourceGroupId": "/subscriptions/subid/resourceGroups/myManagedRG"
                }
              },
              "resourceGroupName": "rg",
              "subscriptionId": "subid",
              "workspaceName": "myWorkspace"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Databricks/workspaces/myWorkspace",
                  "location": "East US 2",
                  "properties": {
                    "managedResourceGroupId": "/subscriptions/subid/resourceGroups/myManagedRG",
                    "parameters": {
                      "amlWorkspaceId": {
                        "type": "String",
                        "value": "11112222-3333-4444-5555-666677778888"
                      },
                      "customPrivateSubnetName": {
                        "type": "String",
                        "value": "PrivateBob"
                      },
                      "customPublicSubnetName": {
                        "type": "String",
                        "value": "PublicSarah"
                      },
                      "customVirtualNetworkId": {
                        "type": "String",
                        "value": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/myNetwork"
                      },
                      "enableNoPublicIp": {
                        "type": "Bool",
                        "value": true
                      },
                      "loadBalancerBackendPoolName": {
                        "type": "String",
                        "value": "CustomBackendAddressPool"
                      },
                      "loadBalancerId": {
                        "type": "String",
                        "value": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Network/loadBalancers/lb1"
                      },
                      "relayNamespaceName": {
                        "type": "String",
                        "value": "test"
                      },
                      "resourceTags": {
                        "type": "Object",
                        "value": {
                          "hello": "world"
                        }
                      },
                      "storageAccountName": {
                        "type": "String",
                        "value": "mysa999"
                      },
                      "storageAccountSkuName": {
                        "type": "String",
                        "value": "Standard_GRS"
                      },
                      "vnetAddressPrefix": {
                        "type": "String",
                        "value": "10.139"
                      }
                    },
                    "provisioningState": "Created",
                    "uiDefinitionUri": "https://path/to/workspaceCreateUiDefinition.json"
                  },
                  "sku": {
                    "name": "skuName"
                  },
                  "tags": null,
                  "type": "Microsoft.Databricks/workspaces"
                },
                "headers": {}
              },
              "201": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Databricks/workspaces/myWorkspace",
                  "location": "East US 2",
                  "name": "myWorkspace",
                  "properties": {
                    "managedResourceGroupId": "/subscriptions/subid/resourceGroups/myManagedRG",
                    "parameters": {
                      "amlWorkspaceId": {
                        "type": "String",
                        "value": "11112222-3333-4444-5555-666677778888"
                      },
                      "customPrivateSubnetName": {
                        "type": "String",
                        "value": "PrivateBob"
                      },
                      "customPublicSubnetName": {
                        "type": "String",
                        "value": "PublicSarah"
                      },
                      "customVirtualNetworkId": {
                        "type": "String",
                        "value": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/myNetwork"
                      },
                      "enableNoPublicIp": {
                        "type": "Bool",
                        "value": true
                      },
                      "loadBalancerBackendPoolName": {
                        "type": "String",
                        "value": "CustomBackendAddressPool"
                      },
                      "loadBalancerId": {
                        "type": "String",
                        "value": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Network/loadBalancers/lb1"
                      },
                      "relayNamespaceName": {
                        "type": "String",
                        "value": "test"
                      },
                      "resourceTags": {
                        "type": "Object",
                        "value": {
                          "hello": "world"
                        }
                      },
                      "storageAccountName": {
                        "type": "String",
                        "value": "mysa999"
                      },
                      "storageAccountSkuName": {
                        "type": "String",
                        "value": "Standard_GRS"
                      },
                      "vnetAddressPrefix": {
                        "type": "String",
                        "value": "10.139"
                      }
                    },
                    "provisioningState": "Created",
                    "uiDefinitionUri": "https://path/to/workspaceCreateUiDefinition.json"
                  },
                  "sku": {
                    "name": "skuName"
                  },
                  "tags": null,
                  "type": "Microsoft.Databricks/workspaces"
                },
                "headers": {}
              }
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ErrorDetail": {
      "properties": {
        "code": {
          "description": "The error's code.",
          "type": "string"
        },
        "message": {
          "description": "A human readable error message.",
          "type": "string"
        },
        "target": {
          "description": "Indicates which property in the request is responsible for the error.",
          "type": "string"
        }
      },
      "required": [
        "code",
        "message"
      ],
      "title": "Error details.",
      "type": "object"
    },
    "ErrorInfo": {
      "properties": {
        "code": {
          "description": "A machine readable error code.",
          "type": "string"
        },
        "details": {
          "description": "error details.",
          "items": {
            "$ref": "#/definitions/ErrorDetail"
          },
          "type": "array"
        },
        "innererror": {
          "description": "Inner error details if they exist.",
          "type": "string"
        },
        "message": {
          "description": "A human readable error message.",
          "type": "string"
        }
      },
      "required": [
        "code",
        "message"
      ],
      "title": "The code and message for an error.",
      "type": "object"
    },
    "ErrorResponse": {
      "description": "Contains details when the response code indicates an error.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorInfo",
          "description": "The error details."
        }
      },
      "required": [
        "error"
      ],
      "title": "Error response.",
      "type": "object"
    },
    "Operation": {
      "description": "REST API operation",
      "properties": {
        "display": {
          "description": "The object that represents the operation.",
          "properties": {
            "operation": {
              "description": "Operation type: Read, write, delete, etc.",
              "type": "string"
            },
            "provider": {
              "description": "Service provider: Microsoft.ResourceProvider",
              "type": "string"
            },
            "resource": {
              "description": "Resource on which the operation is performed.",
              "type": "string"
            }
          }
        },
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OperationListResult": {
      "description": "Result of the request to list Resource Provider operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "nextLink": {
          "description": "URL to get the next set of operation list results if there are any.",
          "type": "string"
        },
        "value": {
          "description": "List of Resource Provider operations supported by the Resource Provider resource provider.",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "type": "array"
        }
      }
    },
    "ProvisioningState": {
      "description": "Provisioning status of the workspace.",
      "enum": [
        "Accepted",
        "Running",
        "Ready",
        "Creating",
        "Created",
        "Deleting",
        "Deleted",
        "Canceled",
        "Failed",
        "Succeeded",
        "Updating"
      ],
      "readOnly": true,
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "ProvisioningState"
      }
    },
    "Resource": {
      "description": "The core properties of ARM resources",
      "properties": {
        "id": {
          "description": "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "The name of the resource",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "description": "The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.",
          "readOnly": true,
          "type": "string"
        }
      },
      "x-ms-azure-resource": true
    },
    "Sku": {
      "description": "SKU for the resource.",
      "properties": {
        "name": {
          "description": "The SKU name.",
          "type": "string"
        },
        "tier": {
          "description": "The SKU tier.",
          "type": "string"
        }
      },
      "required": [
        "name"
      ]
    },
    "TrackedResource": {
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "The resource model definition for a ARM tracked top level resource",
      "properties": {
        "location": {
          "description": "The geo-location where the resource lives",
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags.",
          "type": "object",
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ]
        }
      },
      "required": [
        "location"
      ]
    },
    "Workspace": {
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "description": "Information about workspace.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/WorkspaceProperties",
          "description": "The workspace properties.",
          "x-ms-client-flatten": true
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The SKU of the resource."
        }
      },
      "required": [
        "properties"
      ]
    },
    "WorkspaceCustomBooleanParameter": {
      "description": "The value which should be used for this field.",
      "properties": {
        "type": {
          "$ref": "#/definitions/WorkspaceCustomParameterType",
          "description": "The type of variable that this is"
        },
        "value": {
          "description": "The value which should be used for this field.",
          "type": "boolean"
        }
      },
      "required": [
        "value"
      ]
    },
    "WorkspaceCustomObjectParameter": {
      "description": "The value which should be used for this field.",
      "properties": {
        "type": {
          "$ref": "#/definitions/WorkspaceCustomParameterType",
          "description": "The type of variable that this is"
        },
        "value": {
          "description": "The value which should be used for this field.",
          "type": "object"
        }
      },
      "required": [
        "value"
      ]
    },
    "WorkspaceCustomParameterType": {
      "description": "Provisioning status of the workspace.",
      "enum": [
        "Bool",
        "Object",
        "String"
      ],
      "readOnly": true,
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "CustomParameterType"
      }
    },
    "WorkspaceCustomParameters": {
      "description": "Custom Parameters used for Cluster Creation.",
      "properties": {
        "amlWorkspaceId": {
          "$ref": "#/definitions/WorkspaceCustomStringParameter",
          "description": "The Workspace ID of an Azure Machine Learning Workspace"
        },
        "customPrivateSubnetName": {
          "$ref": "#/definitions/WorkspaceCustomStringParameter",
          "description": "The name of the Private Subnet within the Virtual Network"
        },
        "customPublicSubnetName": {
          "$ref": "#/definitions/WorkspaceCustomStringParameter",
          "description": "The name of a Public Subnet within the Virtual Network"
        },
        "customVirtualNetworkId": {
          "$ref": "#/definitions/WorkspaceCustomStringParameter",
          "description": "The ID of a Virtual Network where this Databricks Cluster should be created"
        },
        "enableNoPublicIp": {
          "$ref": "#/definitions/WorkspaceCustomBooleanParameter",
          "description": "Should the Public IP be Disabled?"
        },
        "loadBalancerBackendPoolName": {
          "$ref": "#/definitions/WorkspaceCustomStringParameter",
          "description": "The name of a Backend Address Pool within an Azure Load Balancer"
        },
        "loadBalancerId": {
          "$ref": "#/definitions/WorkspaceCustomStringParameter",
          "description": "The Resource ID of an Azure Load Balancer"
        },
        "relayNamespaceName": {
          "$ref": "#/definitions/WorkspaceCustomStringParameter",
          "description": "The name of an Azure Relay Namespace"
        },
        "resourceTags": {
          "$ref": "#/definitions/WorkspaceCustomObjectParameter",
          "description": "A map of Tags which should be applied to the resources used by this Databricks Cluster."
        },
        "storageAccountName": {
          "$ref": "#/definitions/WorkspaceCustomStringParameter",
          "description": "The name which should be used for the Storage Account"
        },
        "storageAccountSkuName": {
          "$ref": "#/definitions/WorkspaceCustomStringParameter",
          "description": "The SKU which should be used for this Storage Account"
        },
        "vnetAddressPrefix": {
          "$ref": "#/definitions/WorkspaceCustomStringParameter",
          "description": "The first 2 octets of the virtual network /16 address range (e.g., '10.139' for the address range 10.139.0.0/16)."
        }
      }
    },
    "WorkspaceCustomStringParameter": {
      "description": "The Value.",
      "properties": {
        "type": {
          "$ref": "#/definitions/WorkspaceCustomParameterType",
          "description": "The type of variable that this is"
        },
        "value": {
          "description": "The value which should be used for this field.",
          "type": "string"
        }
      },
      "required": [
        "value"
      ]
    },
    "WorkspaceListResult": {
      "description": "List of workspaces.",
      "properties": {
        "nextLink": {
          "description": "The URL to use for getting the next set of results.",
          "type": "string"
        },
        "value": {
          "description": "The array of workspaces.",
          "items": {
            "$ref": "#/definitions/Workspace"
          },
          "type": "array"
        }
      }
    },
    "WorkspaceProperties": {
      "description": "The workspace properties.",
      "properties": {
        "authorizations": {
          "description": "The workspace provider authorizations.",
          "items": {
            "$ref": "#/definitions/WorkspaceProviderAuthorization"
          },
          "type": "array"
        },
        "managedResourceGroupId": {
          "description": "The managed resource group Id.",
          "type": "string"
        },
        "parameters": {
          "$ref": "#/definitions/WorkspaceCustomParameters",
          "description": "The workspace's custom parameters."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The workspace provisioning state.",
          "readOnly": true
        },
        "uiDefinitionUri": {
          "description": "The blob URI where the UI definition file is located.",
          "type": "string"
        }
      },
      "required": [
        "managedResourceGroupId"
      ]
    },
    "WorkspaceProviderAuthorization": {
      "description": "The workspace provider authorization.",
      "properties": {
        "principalId": {
          "description": "The provider's principal identifier. This is the identity that the provider will use to call ARM to manage the workspace resources.",
          "format": "uuid",
          "type": "string"
        },
        "roleDefinitionId": {
          "description": "The provider's role definition identifier. This role will define all the permissions that the provider must have on the workspace's container resource group. This role definition cannot have permission to delete the resource group.",
          "format": "uuid",
          "type": "string"
        }
      },
      "required": [
        "principalId",
        "roleDefinitionId"
      ]
    },
    "WorkspaceUpdate": {
      "description": "An update to a workspace.",
      "properties": {
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags.",
          "type": "object"
        }
      },
      "type": "object"
    }
  }
}