swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2019-04-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/privateEndpoint.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-privateEndpoint
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/availablePrivateEndpointTypes":
    get:
      description: Returns all of the resource types that can be linked to a Private Endpoint in this subscription in this region.
      operationId: AvailablePrivateEndpointTypes_List
      parameters:
        - description: The location of the domain name.
          in: path
          name: location
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. Returns all of the resource types that can be linked to a Private Endpoint in this subscription in this region.
          schema:
            $ref: "#/definitions/AvailablePrivateEndpointTypesResult"
      x-ms-examples:
        Get available PrivateEndpoint types:
          parameters:
            api-version: 2019-04-01
            location: regionName
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subId/providers/Microsoft.Network/availablePrivateEndpointTypes/Microsoft.Provider.resourceType
                    resourceName: Microsoft.Provider/resourceType
                    type: Microsoft.Network/availablePrivateEndpointTypes
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/privateEndpoints":
    get:
      description: Gets all private endpoints in a subscription.
      operationId: PrivateEndpoints_ListBySubscription
      parameters:
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns a list of private endpoint resources.
          schema:
            $ref: "#/definitions/PrivateEndpointListResult"
        default:
          description: Error.
          schema:
            description: Common error representation.
            properties:
              code:
                description: Error code.
                type: string
              details:
                description: Error details.
                items:
                  description: Common error details representation.
                  properties:
                    code:
                      description: Error code.
                      type: string
                    message:
                      description: Error message.
                      type: string
                    target:
                      description: Error target.
                      type: string
                type: array
              innerError:
                description: Inner error message.
                type: string
              message:
                description: Error message.
                type: string
              target:
                description: Error target.
                type: string
      tags:
        - PrivateEndpoints
      x-ms-examples:
        List all private endpoints:
          parameters:
            api-version: 2019-04-01
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateEndpoints/pe1
                    location: eastus
                    name: pe1
                    properties:
                      networkInterfaces:
                        - id: /subscriptions/subId/resourceGroups/rg1/provders/Microsoft.Network/networkInterfaces/pe1.nic.abcd1234
                      privateLinkServiceConnections:
                        - properties:
                            groupIds:
                              - groupIdFromResource
                            privateLinkServiceConnectionState:
                              actionsRequired: None
                              description: Auto-approved
                              status: Approved
                            privateLinkServiceId: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateLinkServices/testPls1
                            requestMessage: Please approve my connection for pe1.
                      provisioningState: Succeeded
                      subnet:
                        id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/myVnet/subnets/mySubnet
                    type: Microsoft.Network/privateEndpoints
                  - id: /subscriptions/subId/resourceGroups/rg2/providers/Microsoft.Network/privateEndpoints/pe2
                    location: eastus
                    name: pe2
                    properties:
                      manualPrivateLinkServiceConnections:
                        - properties:
                            groupIds:
                              - groupIdFromResource
                            privateLinkServiceConnectionState:
                              actionsRequired: None
                              description: Awaiting approval
                              status: Pending
                            privateLinkServiceId: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateLinkServices/testPls2
                            requestMessage: Please manually approve my connection for pe2.
                      networkInterfaces:
                        - id: /subscriptions/subId/resourceGroups/rg2/provders/Microsoft.Network/networkInterfaces/pe2.nic.zyxw9876
                      privateLinkServiceConnections: []
                      provisioningState: Succeeded
                      subnet:
                        id: /subscriptions/subId/resourceGroups/rg2/providers/Microsoft.Network/virtualNetworks/myVnet/subnets/mySubnet2
                    type: Microsoft.Network/privateEndpoints
                  - id: /subscriptions/subId/resourceGroups/rg3/providers/Microsoft.Network/privateEndpoints/pe3
                    location: eastus
                    name: pe3
                    properties:
                      networkInterfaces:
                        - id: /subscriptions/subId/resourceGroups/rg3/provders/Microsoft.Network/networkInterfaces/pe3.nic.efgh5463
                      privateLinkServiceConnections:
                        - properties:
                            groupIds:
                              - groupIdFromResource
                            privateLinkServiceConnectionState:
                              actionsRequired: None
                              description: Auto-approved
                              status: Approved
                            privateLinkServiceId: /subscriptions/subId/resourceGroups/rg3/providers/Microsoft.Network/privateLinkServices/testPls3
                            requestMessage: Please approve my connection for pe3.
                      provisioningState: Succeeded
                      subnet:
                        id: /subscriptions/subId/resourceGroups/rg3/providers/Microsoft.Network/virtualNetworks/myVnet/subnets/mySubnet3
                    type: Microsoft.Network/privateEndpoints
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/locations/{location}/availablePrivateEndpointTypes":
    get:
      description: Returns all of the resource types that can be linked to a Private Endpoint in this subscription in this region.
      operationId: AvailablePrivateEndpointTypes_ListByResourceGroup
      parameters:
        - description: The location of the domain name.
          in: path
          name: location
          required: true
          type: string
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: Request successful. Returns all of the resource types that can be linked to a Private Endpoint in this subscription in this region.
          schema:
            $ref: "#/definitions/AvailablePrivateEndpointTypesResult"
      x-ms-examples:
        Get available PrivateEndpoint types in the resource group:
          parameters:
            api-version: 2019-04-01
            location: regionName
            resourceGroupName: rg1
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/availablePrivateEndpointTypes/Microsoft.Provider.resourceType
                    resourceName: Microsoft.Provider/resourceType
                    type: Microsoft.Network/availablePrivateEndpointTypes
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateEndpoints":
    get:
      description: Gets all private endpoints in a resource group.
      operationId: PrivateEndpoints_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns a list of private endpoint resources.
          schema:
            $ref: "#/definitions/PrivateEndpointListResult"
        default:
          description: Error.
          schema:
            description: Common error representation.
            properties:
              code:
                description: Error code.
                type: string
              details:
                description: Error details.
                items:
                  description: Common error details representation.
                  properties:
                    code:
                      description: Error code.
                      type: string
                    message:
                      description: Error message.
                      type: string
                    target:
                      description: Error target.
                      type: string
                type: array
              innerError:
                description: Inner error message.
                type: string
              message:
                description: Error message.
                type: string
              target:
                description: Error target.
                type: string
      tags:
        - PrivateEndpoints
      x-ms-examples:
        List private endpoints in resource group:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: rg1
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateEndpoints/pe1
                    location: eastus
                    name: pe1
                    properties:
                      manualPrivateLinkServiceConnections: []
                      networkInterfaces:
                        - id: /subscriptions/subId/resourceGroups/rg1/provders/Microsoft.Network/networkInterfaces/pe1.nic.abcd1234
                      privateLinkServiceConnections:
                        - properties:
                            groupIds:
                              - groupIdFromResource
                            privateLinkServiceConnectionState:
                              actionsRequired: None
                              description: Auto-approved
                              status: Approved
                            privateLinkServiceId: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateLinkServices/testPls1
                            requestMessage: Please approve my connection for pe1.
                      provisioningState: Succeeded
                      subnet:
                        id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/myVnet/subnets/mySubnet
                    type: Microsoft.Network/privateEndpoints
                  - id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateEndpoints/pe2
                    location: eastus
                    name: pe2
                    properties:
                      manualPrivateLinkServiceConnections:
                        - properties:
                            groupIds:
                              - groupIdFromResource
                            privateLinkServiceConnectionState:
                              actionsRequired: None
                              description: Awaiting approval
                              status: Pending
                            privateLinkServiceId: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateLinkServices/testPls2
                            requestMessage: Please manually approve my connection for pe2.
                      networkInterfaces:
                        - id: /subscriptions/subId/resourceGroups/rg1/provders/Microsoft.Network/networkInterfaces/pe2.nic.zyxw9876
                      privateLinkServiceConnections: []
                      provisioningState: Succeeded
                      subnet:
                        id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/myVnet/subnets/mySubnet2
                    type: Microsoft.Network/privateEndpoints
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateEndpoints/{privateEndpointName}":
    delete:
      description: Deletes the specified private endpoint.
      operationId: PrivateEndpoints_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the private endpoint.
          in: path
          name: privateEndpointName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Delete successful.
        "202":
          description: Accepted and the operation will complete asynchronously.
        "204":
          description: Delete successful.
        default:
          description: Error.
          schema:
            description: Common error representation.
            properties:
              code:
                description: Error code.
                type: string
              details:
                description: Error details.
                items:
                  description: Common error details representation.
                  properties:
                    code:
                      description: Error code.
                      type: string
                    message:
                      description: Error message.
                      type: string
                    target:
                      description: Error target.
                      type: string
                type: array
              innerError:
                description: Inner error message.
                type: string
              message:
                description: Error message.
                type: string
              target:
                description: Error target.
                type: string
      tags:
        - PrivateEndpoints
      x-ms-examples:
        Delete private endpoint:
          parameters:
            api-version: 2019-04-01
            privateEndpointName: testPe
            resourceGroupName: rg1
            subscriptionId: subId
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      description: Gets the specified private endpoint by resource group.
      operationId: PrivateEndpoints_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the private endpoint.
          in: path
          name: privateEndpointName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Expands referenced resources.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        "200":
          description: Request successful. The operation returns the resulting private endpoint resource.
          schema:
            $ref: "#/definitions/PrivateEndpoint"
        default:
          description: Error.
          schema:
            description: Common error representation.
            properties:
              code:
                description: Error code.
                type: string
              details:
                description: Error details.
                items:
                  description: Common error details representation.
                  properties:
                    code:
                      description: Error code.
                      type: string
                    message:
                      description: Error message.
                      type: string
                    target:
                      description: Error target.
                      type: string
                type: array
              innerError:
                description: Inner error message.
                type: string
              message:
                description: Error message.
                type: string
              target:
                description: Error target.
                type: string
      tags:
        - PrivateEndpoints
      x-ms-examples:
        Get private endpoint:
          parameters:
            api-version: 2019-04-01
            privateEndpointName: testPe
            resourceGroupName: rg1
            subscriptionId: subId
          responses:
            "200":
              body:
                id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateEndpoints/testPe
                location: eastus
                name: testPe
                properties:
                  manualPrivateLinkServiceConnections: []
                  networkInterfaces:
                    - id: /subscriptions/subId/resourceGroups/rg1/provders/Microsoft.Network/networkInterfaces/testPe.nic.abcd1234
                  privateLinkServiceConnections:
                    - properties:
                        groupIds:
                          - groupIdFromResource
                        privateLinkServiceConnectionState:
                          actionsRequired: None
                          description: Auto-approved
                          status: Approved
                        privateLinkServiceId: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateLinkServices/testPls
                        requestMessage: Please approve my connection.
                  provisioningState: Succeeded
                  subnet:
                    id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/myVnet/subnets/mySubnet
                type: Microsoft.Network/privateEndpoints
        Get private endpoint with manual approval connection:
          parameters:
            api-version: 2019-04-01
            privateEndpointName: testPe
            resourceGroupName: rg1
            subscriptionId: subId
          responses:
            "200":
              body:
                id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateEndpoints/testPe
                location: eastus
                name: testPe
                properties:
                  manualPrivateLinkServiceConnections:
                    - properties:
                        groupIds:
                          - groupIdFromResource
                        privateLinkServiceConnectionState:
                          actionsRequired: None
                          description: Awaiting approval
                          status: Pending
                        privateLinkServiceId: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateLinkServices/testPls
                        requestMessage: Please manually approve my connection.
                  networkInterfaces:
                    - id: /subscriptions/subId/resourceGroups/rg1/provders/Microsoft.Network/networkInterfaces/testPe.nic.abcd1234
                  privateLinkServiceConnections: []
                  provisioningState: Succeeded
                  subnet:
                    id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/myVnet/subnets/mySubnet
                type: Microsoft.Network/privateEndpoints
    put:
      description: Creates or updates an private endpoint in the specified resource group.
      operationId: PrivateEndpoints_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the private endpoint.
          in: path
          name: privateEndpointName
          required: true
          type: string
        - description: Parameters supplied to the create or update private endpoint operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/PrivateEndpoint"
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Update successful. The operation returns the resulting private endpoint resource.
          schema:
            $ref: "#/definitions/PrivateEndpoint"
        "201":
          description: Create successful. The operation returns the resulting private endpoint resource.
          schema:
            $ref: "#/definitions/PrivateEndpoint"
        default:
          description: Error.
          schema:
            description: Common error representation.
            properties:
              code:
                description: Error code.
                type: string
              details:
                description: Error details.
                items:
                  description: Common error details representation.
                  properties:
                    code:
                      description: Error code.
                      type: string
                    message:
                      description: Error message.
                      type: string
                    target:
                      description: Error target.
                      type: string
                type: array
              innerError:
                description: Inner error message.
                type: string
              message:
                description: Error message.
                type: string
              target:
                description: Error target.
                type: string
      tags:
        - PrivateEndpoints
      x-ms-examples:
        Create private endpoint:
          parameters:
            api-version: 2019-04-01
            parameters:
              properties:
                privateLinkServiceConnections:
                  - properties:
                      groupIds:
                        - groupIdFromResource
                      privateLinkServiceId: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateLinkServices/testPls
                      requestMessage: Please approve my connection.
                subnet:
                  id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/myVnet/subnets/mySubnet
            privateEndpointName: testPe
            resourceGroupName: rg1
            subscriptionId: subId
          responses:
            "200":
              body:
                id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateEndpoints/testPe
                location: eastus
                name: testPe
                properties:
                  manualPrivateLinkServiceConnections: []
                  networkInterfaces:
                    - id: /subscriptions/subId/resourceGroups/rg1/provders/Microsoft.Network/networkInterfaces/testPe.nic.abcd1234
                  privateLinkServiceConnections:
                    - properties:
                        groupIds:
                          - groupIdFromResource
                        privateLinkServiceConnectionState:
                          actionsRequired: None
                          description: Auto-approved
                          status: Approved
                        privateLinkServiceId: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateLinkServices/testPls
                        requestMessage: Please approve my connection.
                  provisioningState: Succeeded
                  subnet:
                    id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/myVnet/subnets/mySubnet
            "201":
              body:
                id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateEndpoints/testPe
                location: eastus
                name: testPe
                properties:
                  networkInterfaces:
                    - id: /subscriptions/subId/resourceGroups/rg1/provders/Microsoft.Network/networkInterfaces/testPe.nic.abcd1234
                  privateLinkServiceConnections:
                    - properties:
                        groupIds:
                          - groupIdFromResource
                        privateLinkServiceConnectionState:
                          actionsRequired: None
                          description: Auto-approved
                          status: Approved
                        privateLinkServiceId: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateLinkServices/testPls
                        requestMessage: Please approve my connection.
                  provisioningState: Succeeded
                  subnet:
                    id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/myVnet/subnets/mySubnet
        Create private endpoint with manual approval connection:
          parameters:
            api-version: 2019-04-01
            parameters:
              location: eastus2euap
              properties:
                manualPrivateLinkServiceConnections:
                  - properties:
                      groupIds:
                        - groupIdFromResource
                      privateLinkServiceId: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateLinkServices/testPls
                      requestMessage: Please manually approve my connection.
                subnet:
                  id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/myVnet/subnets/mySubnet
            privateEndpointName: testPe
            resourceGroupName: rg1
            subscriptionId: subId
          responses:
            "200":
              body:
                id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateEndpoints/testPe
                location: eastus2euap
                name: testPe
                properties:
                  manualPrivateLinkServiceConnections:
                    - properties:
                        groupIds:
                          - groupIdFromResource
                        privateLinkServiceConnectionState:
                          actionsRequired: None
                          description: Awaiting approval
                          status: Pending
                        privateLinkServiceId: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateLinkServices/testPls
                        requestMessage: Please manually approve my connection.
                  networkInterfaces:
                    - id: /subscriptions/subId/resourceGroups/rg1/provders/Microsoft.Network/networkInterfaces/testPe.nic.abcd1234
                  privateLinkServiceConnections: []
                  provisioningState: Succeeded
                  subnet:
                    id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/myVnet/subnets/mySubnet
            "201":
              body:
                id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateEndpoints/testPe
                location: eastus2euap
                name: testPe
                properties:
                  networkInterfaces:
                    - id: /subscriptions/subId/resourceGroups/rg1/provders/Microsoft.Network/networkInterfaces/testPe.nic.abcd1234
                  privateLinkServiceConnections:
                    - properties:
                        groupIds:
                          - groupIdFromResource
                        privateLinkServiceConnectionState:
                          actionsRequired: None
                          description: Auto-approved
                          status: Approved
                        privateLinkServiceId: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/privateLinkServices/testPls
                        requestMessage: Please approve my connection.
                  provisioningState: Succeeded
                  subnet:
                    id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/myVnet/subnets/mySubnet
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
definitions:
  AvailablePrivateEndpointType:
    description: The information of an AvailablePrivateEndpointType.
    properties:
      id:
        description: A unique identifier of the AvailablePrivateEndpoint Type resource.
        type: string
      name:
        description: The name of the service and resource.
        type: string
      resourceName:
        description: The name of the service and resource.
        type: string
      type:
        description: Resource type.
        type: string
  AvailablePrivateEndpointTypesResult:
    description: An array of available PrivateEndpoint types.
    properties:
      nextLink:
        description: The URL to get the next set of results.
        readOnly: true
        type: string
      value:
        description: An array of available privateEndpoint type.
        items:
          $ref: "#/definitions/AvailablePrivateEndpointType"
        type: array
  PrivateEndpoint:
    allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: Private endpoint resource.
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated.
        type: string
      properties:
        $ref: "#/definitions/PrivateEndpointProperties"
        description: Properties of the private endpoint.
        x-ms-client-flatten: true
  PrivateEndpointListResult:
    description: Response for the ListPrivateEndpoints API service call.
    properties:
      nextLink:
        description: The URL to get the next set of results.
        readOnly: true
        type: string
      value:
        description: Gets a list of private endpoint resources in a resource group.
        items:
          $ref: "#/definitions/PrivateEndpoint"
        type: array
  PrivateEndpointProperties:
    description: Properties of the private endpoint.
    properties:
      manualPrivateLinkServiceConnections:
        description: A grouping of information about the connection to the remote resource. Used when the network admin does not have access to approve connections to the remote resource.
        items:
          allOf:
            - description: Reference to another subresource.
              properties:
                id:
                  description: Resource ID.
                  type: string
              x-ms-azure-resource: true
          description: PrivateLinkServiceConnection resource.
          properties:
            etag:
              description: A unique read-only string that changes whenever the resource is updated.
              readOnly: true
              type: string
            name:
              description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
              type: string
            properties:
              description: Properties of the PrivateLinkServiceConnection.
              properties:
                groupIds:
                  description: The ID(s) of the group(s) obtained from the remote resource that this private endpoint should connect to.
                  items:
                    type: string
                  type: array
                privateLinkServiceConnectionState:
                  description: A collection of information about the state of the connection between service consumer and provider.
                  properties:
                    actionsRequired:
                      description: A message indicating if changes on the service provider require any updates on the consumer.
                      type: string
                    description:
                      description: The reason for approval/rejection of the connection.
                      type: string
                    status:
                      description: Indicates whether the connection has been Approved/Rejected/Removed by the owner of the service.
                      type: string
                privateLinkServiceId:
                  description: The resource id of private link service.
                  type: string
                provisioningState:
                  description: The current provisioning state.
                  enum:
                    - Succeeded
                    - Updating
                    - Deleting
                    - Failed
                  readOnly: true
                  type: string
                  x-ms-enum:
                    modelAsString: true
                    name: ProvisioningState
                requestMessage:
                  description: A message passed to the owner of the remote resource with this connection request. Restricted to 140 chars.
                  type: string
            type:
              description: The resource type.
              readOnly: true
              type: string
        type: array
      networkInterfaces:
        description: Gets an array of references to the network interfaces created for this private endpoint.
        items:
          $ref: ./networkInterface.json#/definitions/NetworkInterface
        readOnly: true
        type: array
      privateLinkServiceConnections:
        description: A grouping of information about the connection to the remote resource.
        items:
          allOf:
            - description: Reference to another subresource.
              properties:
                id:
                  description: Resource ID.
                  type: string
              x-ms-azure-resource: true
          description: PrivateLinkServiceConnection resource.
          properties:
            etag:
              description: A unique read-only string that changes whenever the resource is updated.
              readOnly: true
              type: string
            name:
              description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
              type: string
            properties:
              description: Properties of the PrivateLinkServiceConnection.
              properties:
                groupIds:
                  description: The ID(s) of the group(s) obtained from the remote resource that this private endpoint should connect to.
                  items:
                    type: string
                  type: array
                privateLinkServiceConnectionState:
                  description: A collection of information about the state of the connection between service consumer and provider.
                  properties:
                    actionsRequired:
                      description: A message indicating if changes on the service provider require any updates on the consumer.
                      type: string
                    description:
                      description: The reason for approval/rejection of the connection.
                      type: string
                    status:
                      description: Indicates whether the connection has been Approved/Rejected/Removed by the owner of the service.
                      type: string
                privateLinkServiceId:
                  description: The resource id of private link service.
                  type: string
                provisioningState:
                  description: The current provisioning state.
                  enum:
                    - Succeeded
                    - Updating
                    - Deleting
                    - Failed
                  readOnly: true
                  type: string
                  x-ms-enum:
                    modelAsString: true
                    name: ProvisioningState
                requestMessage:
                  description: A message passed to the owner of the remote resource with this connection request. Restricted to 140 chars.
                  type: string
            type:
              description: The resource type.
              readOnly: true
              type: string
        type: array
      provisioningState:
        description: The current provisioning state.
        enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProvisioningState
      subnet:
        $ref: ./virtualNetwork.json#/definitions/Subnet
        description: The ID of the subnet from which the private IP will be allocated.
  PrivateLinkServiceConnection:
    allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        x-ms-azure-resource: true
    description: PrivateLinkServiceConnection resource.
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated.
        readOnly: true
        type: string
      name:
        description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
        type: string
      properties:
        description: Properties of the PrivateLinkServiceConnection.
        properties:
          groupIds:
            description: The ID(s) of the group(s) obtained from the remote resource that this private endpoint should connect to.
            items:
              type: string
            type: array
          privateLinkServiceConnectionState:
            description: A collection of information about the state of the connection between service consumer and provider.
            properties:
              actionsRequired:
                description: A message indicating if changes on the service provider require any updates on the consumer.
                type: string
              description:
                description: The reason for approval/rejection of the connection.
                type: string
              status:
                description: Indicates whether the connection has been Approved/Rejected/Removed by the owner of the service.
                type: string
          privateLinkServiceId:
            description: The resource id of private link service.
            type: string
          provisioningState:
            description: The current provisioning state.
            enum:
              - Succeeded
              - Updating
              - Deleting
              - Failed
            readOnly: true
            type: string
            x-ms-enum:
              modelAsString: true
              name: ProvisioningState
          requestMessage:
            description: A message passed to the owner of the remote resource with this connection request. Restricted to 140 chars.
            type: string
      type:
        description: The resource type.
        readOnly: true
        type: string
  PrivateLinkServiceConnectionProperties:
    description: Properties of the PrivateLinkServiceConnection.
    properties:
      groupIds:
        description: The ID(s) of the group(s) obtained from the remote resource that this private endpoint should connect to.
        items:
          type: string
        type: array
      privateLinkServiceConnectionState:
        description: A collection of information about the state of the connection between service consumer and provider.
        properties:
          actionsRequired:
            description: A message indicating if changes on the service provider require any updates on the consumer.
            type: string
          description:
            description: The reason for approval/rejection of the connection.
            type: string
          status:
            description: Indicates whether the connection has been Approved/Rejected/Removed by the owner of the service.
            type: string
      privateLinkServiceId:
        description: The resource id of private link service.
        type: string
      provisioningState:
        description: The current provisioning state.
        enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProvisioningState
      requestMessage:
        description: A message passed to the owner of the remote resource with this connection request. Restricted to 140 chars.
        type: string
