{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "http://api.fungenerators.com"
    },
    {
      "url": "https://api.fungenerators.com"
    }
  ],
  "info": {
    "contact": {
      "name": "Fun Generators",
      "url": "http://fungenerators.com/api/barcode/"
    },
    "description": "Generate Barcode images for a given barcode number. You can decode Barcode images and get the barcodes in a numberic form as well. Many industry standard barcode types are supported. The best and complete Barcode API on the cloud. [Click here to subscribe](http://fungenerators.com/api/barcode/) \n",
    "termsOfService": "https://fungenerators.com/terms",
    "title": "Barcode API",
    "version": "1.5",
    "x-apisguru-categories": [
      "text"
    ],
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://fungenerators.com/yaml/barcode.yaml",
        "version": "3.0"
      }
    ],
    "x-providerName": "fungenerators.com",
    "x-serviceName": "barcode",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg"
    }
  },
  "tags": [
    {
      "description": "Barcode API",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://fungenerators.com/api/barcode/"
      },
      "name": "Barcode"
    }
  ],
  "paths": {
    "/barcode/decode": {
      "post": {
        "description": "Decode a Barcode image and return the cotents if successful",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "barimage": {
                    "description": "Barcode image to decode and get the content value",
                    "format": "binary",
                    "type": "string"
                  }
                },
                "required": [
                  "barimage"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"contents\": [\n      {\n               \"value\": 234567,\n               \"format\": 'C39',\n               \"content_type\": \"number\"\n      }\n  ]\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}              "
                  }
                }
              }
            },
            "description": "401  response"
          }
        },
        "security": [
          {
            "X-Fungenerators-Api-Secret": []
          }
        ],
        "tags": [
          "Barcode"
        ]
      }
    },
    "/barcode/decode/types": {
      "get": {
        "description": "Get the supported barcode types for the decoding process.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\"total\":28},\n  \"contents\": \n  {\n     \"types\":\n     {\n       \"C39\":\"Code 39\",\n       \"C39CKSUM\":\"Code 39 with Checksum\",\n       \"C39E\":\"Extended Code 39\",\n       \"C39ECKSUM\":\"Extended Code 39 With Checksum\",\n       \"C93\":\"Code 93\",\n       \"I25\":\"Interleaved 2 of 5\",\n       \"I25CKSUM\":\"Interleaved 2 of 5 with Checksum\",\n       \"C128\":\"Code 128 (Standard)\",\n       \"C128A\":\"Code 128-A\",\n       \"C128B\":\"Code 128-B\",\n       \"C128C\":\"Code 128-C\",\n       \"CODABAR\":\"CODABAR\"\n       \n     }\n  }\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}                    "
                  }
                }
              }
            },
            "description": "401  response"
          }
        },
        "security": [
          {
            "X-Fungenerators-Api-Secret": []
          }
        ],
        "tags": [
          "Barcode"
        ]
      }
    },
    "/barcode/encode": {
      "get": {
        "description": "Get a Bar Code image for the given barcode number",
        "parameters": [
          {
            "description": "Barcode number",
            "in": "query",
            "name": "number",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Barcode format default C39. Valid values are the keys to those returned from /barcode/encode/types.",
            "in": "query",
            "name": "barcodeformat",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Output image format. Must be one of png/html/jpg/svg",
            "in": "query",
            "name": "outputformat",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Width factor of the image",
            "in": "query",
            "name": "widthfactor",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          },
          {
            "description": "Total height of the image",
            "in": "query",
            "name": "totalheight",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"success\": {\n        \"total\": 1\n    },\n    \"contents\": [\n        {\n            \"encoding\": \"base64\",\n            \"format\": \"png\",\n            \"content\": \"\",\n        }\n    ]\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}                    "
                  }
                }
              }
            },
            "description": "401  response"
          }
        },
        "security": [
          {
            "X-Fungenerators-Api-Secret": []
          }
        ],
        "tags": [
          "Barcode"
        ]
      }
    },
    "/barcode/encode/types": {
      "get": {
        "description": "Get the supported barcode types for encoding / image generation.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\"total\":28},\n  \"contents\": {\"types\":\n       {\n          \"C39\":\"Code 39\",\n          \"C39CKSUM\":\"Code 39 with Checksum\",\n          \"C39E\":\"Extended Code 39\",\n          \"C39ECKSUM\":\"Extended Code 39 With Checksum\",\n          \"C93\":\"Code 93\",\n          \"S25\":\"Standard 2 of 5\",\n          \"S25CKSUM\":\"Standard 2 of 5 with Checksum\",\n          \"I25\":\"Interleaved 2 of 5\",\n          \"I25CKSUM\":\"Interleaved 2 of 5 with Checksum\",\n          \"UPCA\":\"UPC-A\",\n          \"UPCE\":\"UPC-E\",\n          \"C128\":\"Code 128 (Standard)\",\n          \"C128A\":\"Code 128-A\",\n          \"C128B\":\"Code 128-B\",\n          \"C128C\":\"Code 128-C\",\n          \"EAN8\":\"EAN-8\",\n          \"EAN13\":\"EAN-13\",\n          \"MSI\":\"MSI Plessey\",\n          \"MSICKSUM\":\"MSI with Checksum\",\n          \"POSTNET\":\"POSTNET\",\n          \"PLANET\":\"PLANET\",\n          \"RMS4CC\":\"RMS4CC \\/ CBC\",\n          \"KIX\":\"KIX\",\n          \"IMB\":\"IMB\",\n          \"CODABAR\":\"CODABAR\",\n          \"CODE11\":\"Code 11\",\n          \"PHARMA\":\"Pharma One-Track\",\n          \"PHARMA2T\":\"Pharma Two-Track\"\n       }\n  }\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401  response"
          }
        },
        "security": [
          {
            "X-Fungenerators-Api-Secret": []
          }
        ],
        "tags": [
          "Barcode"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "X-Fungenerators-Api-Secret": {
        "in": "header",
        "name": "X-Fungenerators-Api-Secret",
        "type": "apiKey"
      }
    }
  }
}