swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Azure Cosmos DB Database Service Resource Provider REST API
  title: Cosmos DB
  version: 2019-08-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2019-08-01/cosmos-db.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: cosmos-db
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: Impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  accountNameParameter:
    description: Cosmos DB database account name.
    in: path
    maxLength: 50
    minLength: 3
    name: accountName
    pattern: ^[a-z0-9]+(-[a-z0-9]+)*
    required: true
    type: string
    x-ms-parameter-location: method
  apiVersionParameter:
    description: Version of the API to be used with the client request. The current version is 2019-08-01.
    in: query
    name: api-version
    required: true
    type: string
  collectionNameParameter:
    description: Cosmos DB collection name.
    in: path
    name: collectionName
    required: true
    type: string
    x-ms-parameter-location: method
  collectionRidParameter:
    description: Cosmos DB collection rid.
    in: path
    name: collectionRid
    required: true
    type: string
    x-ms-parameter-location: method
  containerNameParameter:
    description: Cosmos DB container name.
    in: path
    name: containerName
    required: true
    type: string
    x-ms-parameter-location: method
  databaseNameParameter:
    description: Cosmos DB database name.
    in: path
    name: databaseName
    required: true
    type: string
    x-ms-parameter-location: method
  databaseRidParameter:
    description: Cosmos DB database rid.
    in: path
    name: databaseRid
    required: true
    type: string
    x-ms-parameter-location: method
  filterParameter:
    description: An OData filter expression that describes a subset of metrics to return. The parameters that can be filtered are name.value (name of the metric, can have an or of multiple names), startTime, endTime, and timeGrain. The supported operator is eq.
    in: query
    name: $filter
    required: true
    type: string
    x-ms-parameter-location: method
  graphNameParameter:
    description: Cosmos DB graph name.
    in: path
    name: graphName
    required: true
    type: string
    x-ms-parameter-location: method
  keyspaceNameParameter:
    description: Cosmos DB keyspace name.
    in: path
    name: keyspaceName
    required: true
    type: string
    x-ms-parameter-location: method
  partitionKeyRangeIdParameter:
    description: Partition Key Range Id for which to get data.
    in: path
    name: partitionKeyRangeId
    required: true
    type: string
    x-ms-parameter-location: method
  regionParameter:
    description: Cosmos DB region, with spaces between words and each word capitalized.
    in: path
    name: region
    required: true
    type: string
    x-ms-parameter-location: method
  resourceGroupNameParameter:
    description: Name of an Azure resource group.
    in: path
    maxLength: 90
    minLength: 1
    name: resourceGroupName
    pattern: ^[-\w\._\(\)]+$
    required: true
    type: string
    x-ms-parameter-location: method
  sourceRegionParameter:
    description: Source region from which data is written. Cosmos DB region, with spaces between words and each word capitalized.
    in: path
    name: sourceRegion
    required: true
    type: string
    x-ms-parameter-location: method
  storedProcedureNameParameter:
    description: Cosmos DB storedProcedure name.
    in: path
    name: storedProcedureName
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionIdParameter:
    description: Azure subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
  tableNameParameter:
    description: Cosmos DB table name.
    in: path
    name: tableName
    required: true
    type: string
    x-ms-parameter-location: method
  targetRegionParameter:
    description: Target region to which data is written. Cosmos DB region, with spaces between words and each word capitalized.
    in: path
    name: targetRegion
    required: true
    type: string
    x-ms-parameter-location: method
  triggerNameParameter:
    description: Cosmos DB trigger name.
    in: path
    name: triggerName
    required: true
    type: string
    x-ms-parameter-location: method
  usageFilterParameter:
    description: An OData filter expression that describes a subset of usages to return. The supported parameter is name.value (name of the metric, can have an or of multiple names).
    in: query
    name: $filter
    required: false
    type: string
    x-ms-parameter-location: method
  userDefinedFunctionNameParameter:
    description: Cosmos DB userDefinedFunction name.
    in: path
    name: userDefinedFunctionName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/providers/Microsoft.DocumentDB/databaseAccountNames/{accountName}":
    head:
      description: Checks that the Azure Cosmos DB account name already exists. A valid account name may contain only lowercase letters, numbers, and the '-' character, and must be between 3 and 50 characters.
      operationId: DatabaseAccounts_CheckNameExists
      parameters:
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The account name is valid but is already in use.
        "404":
          description: Not Found. The account name is available and valid.
      x-ms-examples:
        CosmosDBDatabaseAccountCheckNameExists:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01
          responses:
            "200": {}
            "404": {}
  /providers/Microsoft.DocumentDB/operations:
    get:
      description: Lists all of the available Cosmos DB Resource Provider operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/OperationListResult"
      tags:
        - Operations
      x-ms-examples:
        CosmosDBOperationsList:
          parameters:
            api-version: 2019-08-01
          responses:
            "200":
              body:
                value:
                  - display:
                      Description: description
                      Operation: operationName
                      Provider: providerName
                      Resource: resourceName
                    name: operationName
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/databaseAccounts":
    get:
      description: Lists all the Azure Cosmos DB database accounts available under the subscription.
      operationId: DatabaseAccounts_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
      responses:
        "200":
          description: The operation completed successfully.
          schema:
            $ref: "#/definitions/DatabaseAccountsListResult"
      x-ms-examples:
        CosmosDBDatabaseAccountList:
          parameters:
            api-version: 2019-08-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                    kind: GlobalDocumentDB
                    location: West US
                    name: ddb1
                    properties:
                      consistencyPolicy:
                        defaultConsistencyLevel: Session
                        maxIntervalInSeconds: 5
                        maxStalenessPrefix: 100
                      databaseAccountOfferType: Standard
                      disableKeyBasedMetadataWriteAccess: false
                      documentEndpoint: https://ddb1.documents.azure.com:443/
                      failoverPolicies:
                        - failoverPriority: 0
                          id: ddb1-eastus
                          locationName: East US
                      ipRangeFilter: ""
                      locations:
                        - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                          failoverPriority: 0
                          id: ddb1-eastus
                          locationName: East US
                          provisioningState: Succeeded
                      provisioningState: Succeeded
                      readLocations:
                        - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                          failoverPriority: 0
                          id: ddb1-eastus
                          locationName: East US
                          provisioningState: Succeeded
                      writeLocations:
                        - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                          failoverPriority: 0
                          id: ddb1-eastus
                          locationName: East US
                          provisioningState: Succeeded
                    tags: {}
                    type: Microsoft.DocumentDB/databaseAccounts
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts":
    get:
      description: Lists all the Azure Cosmos DB database accounts available under the given resource group.
      operationId: DatabaseAccounts_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
      responses:
        "200":
          description: The operation completed successfully.
          schema:
            $ref: "#/definitions/DatabaseAccountsListResult"
      x-ms-examples:
        CosmosDBDatabaseAccountListByResourceGroup:
          parameters:
            api-version: 2019-08-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                    kind: GlobalDocumentDB
                    location: West US
                    name: ddb1
                    properties:
                      consistencyPolicy:
                        defaultConsistencyLevel: Session
                        maxIntervalInSeconds: 5
                        maxStalenessPrefix: 100
                      databaseAccountOfferType: Standard
                      disableKeyBasedMetadataWriteAccess: false
                      documentEndpoint: https://ddb1.documents.azure.com:443/
                      failoverPolicies:
                        - failoverPriority: 0
                          id: ddb1-eastus
                          locationName: East US
                      ipRangeFilter: ""
                      locations:
                        - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                          failoverPriority: 0
                          id: ddb1-eastus
                          locationName: East US
                          provisioningState: Succeeded
                      provisioningState: Succeeded
                      readLocations:
                        - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                          failoverPriority: 0
                          id: ddb1-eastus
                          locationName: East US
                          provisioningState: Succeeded
                      writeLocations:
                        - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                          failoverPriority: 0
                          id: ddb1-eastus
                          locationName: East US
                          provisioningState: Succeeded
                    tags: {}
                    type: Microsoft.DocumentDB/databaseAccounts
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}":
    delete:
      description: Deletes an existing Azure Cosmos DB database account.
      operationId: DatabaseAccounts_Delete
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "202":
          description: The database account delete operation will complete asynchronously.
        "204":
          description: The specified account does not exist in the subscription.
      x-ms-examples:
        CosmosDBDatabaseAccountDelete:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Retrieves the properties of an existing Azure Cosmos DB database account.
      operationId: DatabaseAccounts_Get
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The database account properties were retrieved successfully.
          schema:
            $ref: "#/definitions/DatabaseAccountGetResults"
      x-ms-examples:
        CosmosDBDatabaseAccountGet:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                kind: GlobalDocumentDB
                location: West US
                name: ddb1
                properties:
                  consistencyPolicy:
                    defaultConsistencyLevel: Session
                    maxIntervalInSeconds: 5
                    maxStalenessPrefix: 100
                  databaseAccountOfferType: Standard
                  disableKeyBasedMetadataWriteAccess: false
                  documentEndpoint: https://ddb1.documents.azure.com:443/
                  failoverPolicies:
                    - failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                  ipRangeFilter: ""
                  isVirtualNetworkFilterEnabled: false
                  locations:
                    - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                      failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                      provisioningState: Succeeded
                  provisioningState: Succeeded
                  readLocations:
                    - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                      failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                      provisioningState: Succeeded
                  virtualNetworkRules: []
                  writeLocations:
                    - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                      failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                      provisioningState: Succeeded
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts
    patch:
      description: Updates the properties of an existing Azure Cosmos DB database account.
      operationId: DatabaseAccounts_Update
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: The parameters to provide for the current database account.
          in: body
          name: updateParameters
          required: true
          schema:
            $ref: "#/definitions/DatabaseAccountUpdateParameters"
      responses:
        "200":
          description: The database account update operation will complete asynchronously.
          schema:
            $ref: "#/definitions/DatabaseAccountGetResults"
      x-ms-examples:
        CosmosDBDatabaseAccountPatch:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01
            resourceGroupName: rg1
            subscriptionId: subid
            updateParameters:
              location: westus
              properties:
                consistencyPolicy:
                  defaultConsistencyLevel: BoundedStaleness
                  maxIntervalInSeconds: 10
                  maxStalenessPrefix: 200
                ipRangeFilter: 10.10.10.10
                isVirtualNetworkFilterEnabled: true
                virtualNetworkRules:
                  - id: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
                    ignoreMissingVNetServiceEndpoint: false
              tags:
                dept: finance
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                kind: GlobalDocumentDB
                location: West US
                name: ddb1
                properties:
                  consistencyPolicy:
                    defaultConsistencyLevel: BoundedStaleness
                    maxIntervalInSeconds: 10
                    maxStalenessPrefix: 200
                  databaseAccountOfferType: Standard
                  disableKeyBasedMetadataWriteAccess: false
                  documentEndpoint: https://ddb1.documents.azure.com:443/
                  failoverPolicies:
                    - failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                  ipRangeFilter: 10.10.10.10
                  isVirtualNetworkFilterEnabled: true
                  locations:
                    - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                      failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                      provisioningState: Succeeded
                  provisioningState: Succeeded
                  readLocations:
                    - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                      failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                      provisioningState: Succeeded
                  virtualNetworkRules:
                    - id: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
                      ignoreMissingVNetServiceEndpoint: false
                  writeLocations:
                    - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                      failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                      provisioningState: Succeeded
                tags:
                  dept: finance
                type: Microsoft.DocumentDB/databaseAccounts
      x-ms-long-running-operation: true
    put:
      description: Creates or updates an Azure Cosmos DB database account. The "Update" method is preferred when performing updates on an account.
      operationId: DatabaseAccounts_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: The parameters to provide for the current database account.
          in: body
          name: createUpdateParameters
          required: true
          schema:
            $ref: "#/definitions/DatabaseAccountCreateUpdateParameters"
      responses:
        "200":
          description: The database account create or update operation will complete asynchronously.
          schema:
            $ref: "#/definitions/DatabaseAccountGetResults"
      x-ms-examples:
        CosmosDBDatabaseAccountCreateMax:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01
            createUpdateParameters:
              kind: GlobalDocumentDB
              location: westus
              properties:
                consistencyPolicy:
                  defaultConsistencyLevel: BoundedStaleness
                  maxIntervalInSeconds: 10
                  maxStalenessPrefix: 200
                databaseAccountOfferType: Standard
                ipRangeFilter: 10.10.10.10
                isVirtualNetworkFilterEnabled: true
                locations:
                  - failoverPriority: 0
                    isZoneRedundant: false
                    locationName: southcentralus
                  - failoverPriority: 1
                    isZoneRedundant: false
                    locationName: eastus
                virtualNetworkRules:
                  - id: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
                    ignoreMissingVNetServiceEndpoint: false
              tags: {}
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                kind: GlobalDocumentDB
                location: West US
                name: ddb1
                properties:
                  consistencyPolicy:
                    defaultConsistencyLevel: BoundedStaleness
                    maxIntervalInSeconds: 10
                    maxStalenessPrefix: 200
                  databaseAccountOfferType: Standard
                  disableKeyBasedMetadataWriteAccess: false
                  failoverPolicies:
                    - failoverPriority: 0
                      id: ddb1-southcentralus
                      locationName: South Central US
                    - failoverPriority: 1
                      id: ddb1-eastus
                      locationName: East US
                  ipRangeFilter: 10.10.10.10
                  isVirtualNetworkFilterEnabled: true
                  locations:
                    - failoverPriority: 0
                      id: ddb1-southcentralus
                      isZoneRedundant: false
                      locationName: South Central US
                      provisioningState: Initializing
                    - failoverPriority: 1
                      id: ddb1-eastus
                      isZoneRedundant: false
                      locationName: East US
                      provisioningState: Initializing
                  provisioningState: Initializing
                  readLocations:
                    - failoverPriority: 0
                      id: ddb1-southcentralus
                      isZoneRedundant: false
                      locationName: South Central US
                      provisioningState: Initializing
                    - failoverPriority: 1
                      id: ddb1-eastus
                      isZoneRedundant: false
                      locationName: East US
                      provisioningState: Initializing
                  virtualNetworkRules:
                    - id: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
                  writeLocations:
                    - failoverPriority: 0
                      id: ddb1-southcentralus
                      isZoneRedundant: false
                      locationName: South Central US
                      provisioningState: Initializing
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts
        CosmosDBDatabaseAccountCreateMin:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01
            createUpdateParameters:
              location: westus
              properties:
                databaseAccountOfferType: Standard
                locations:
                  - failoverPriority: 0
                    isZoneRedundant: false
                    locationName: southcentralus
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                kind: GlobalDocumentDB
                location: West US
                name: ddb1
                properties:
                  consistencyPolicy:
                    defaultConsistencyLevel: Session
                    maxIntervalInSeconds: 5
                    maxStalenessPrefix: 100
                  databaseAccountOfferType: Standard
                  disableKeyBasedMetadataWriteAccess: false
                  failoverPolicies:
                    - failoverPriority: 0
                      id: ddb1-southcentralus
                      locationName: South Central US
                  ipRangeFilter: ""
                  locations:
                    - failoverPriority: 0
                      id: ddb1-southcentralus
                      isZoneRedundant: false
                      locationName: South Central US
                      provisioningState: Initializing
                  provisioningState: Initializing
                  readLocations:
                    - failoverPriority: 0
                      id: ddb1-southcentralus
                      isZoneRedundant: false
                      locationName: South Central US
                      provisioningState: Initializing
                  writeLocations:
                    - failoverPriority: 0
                      id: ddb1-southcentralus
                      isZoneRedundant: false
                      locationName: South Central US
                      provisioningState: Initializing
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/cassandraKeyspaces":
    get:
      description: Lists the Cassandra keyspaces under an existing Azure Cosmos DB database account.
      operationId: CassandraResources_ListCassandraKeyspaces
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The Cassandra keyspace properties were retrieved successfully.
          schema:
            $ref: "#/definitions/CassandraKeyspaceListResult"
      x-ms-examples:
        CosmosDBCassandraKeyspaceList:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01
            resourceGroupName: rgName
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1/cassandraKeyspaces/keyspaceName
                    location: West US
                    name: keyspaceName
                    properties:
                      resource:
                        id: keyspaceName
                    tags: {}
                    type: Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/cassandraKeyspaces/{keyspaceName}":
    delete:
      description: Deletes an existing Azure Cosmos DB Cassandra keyspace.
      operationId: CassandraResources_DeleteCassandraKeyspace
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/keyspaceNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "202":
          description: The Cassandra keyspace delete operation will complete asynchronously.
        "204":
          description: The Cassandra keyspace delete operation was completed successfully.
      x-ms-examples:
        CosmosDBCassandraKeyspaceDelete:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets the Cassandra keyspaces under an existing Azure Cosmos DB database account with the provided name.
      operationId: CassandraResources_GetCassandraKeyspace
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/keyspaceNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The Cassandra keyspace property was retrieved successfully.
          schema:
            $ref: "#/definitions/CassandraKeyspaceGetResults"
      x-ms-examples:
        CosmosDBCassandraKeyspaceGet:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1/cassandraKeyspaces/keyspaceName
                location: West US
                name: keyspaceName
                properties:
                  resource:
                    _etag: '"00005900-0000-0000-0000-56f9a2630000"'
                    _rid: PD5DALigDgw=
                    _ts: 1459200611
                    id: keyspaceName
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces
    put:
      description: Create or update an Azure Cosmos DB Cassandra keyspace
      operationId: CassandraResources_CreateUpdateCassandraKeyspace
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/keyspaceNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: The parameters to provide for the current Cassandra keyspace.
          in: body
          name: createUpdateCassandraKeyspaceParameters
          required: true
          schema:
            $ref: "#/definitions/CassandraKeyspaceCreateUpdateParameters"
      responses:
        "200":
          description: The Cassandra keyspace create or update operation was completed successfully.
          schema:
            $ref: "#/definitions/CassandraKeyspaceGetResults"
        "202":
          description: The Cassandra keyspace create or update operation will complete asynchronously.
      x-ms-examples:
        CosmosDBCassandraKeyspaceCreateUpdate:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01
            createUpdateCassandraKeyspaceParameters:
              location: West US
              properties:
                options: {}
                resource:
                  id: keyspaceName
              tags: {}
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1/cassandraKeyspaces/keyspaceName
                location: West US
                name: keyspaceName
                properties:
                  resource:
                    id: keyspaceName
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/cassandraKeyspaces/{keyspaceName}/tables":
    get:
      description: Lists the Cassandra table under an existing Azure Cosmos DB database account.
      operationId: CassandraResources_ListCassandraTables
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/keyspaceNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The Cassandra table properties were retrieved successfully.
          schema:
            $ref: "#/definitions/CassandraTableListResult"
      x-ms-examples:
        CosmosDBCassandraTableList:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01
            keyspaceName: keyspaceName
            resourceGroupName: rgName
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1/cassandraKeyspaces/keyspaceName/cassandraTables/tableName
                    location: West US
                    name: tableName
                    properties:
                      resource:
                        defaultTtl: 100
                        id: tableName
                        schema:
                          clusterKeys:
                            - name: columnA
                              orderBy: Asc
                          columns:
                            - name: columnA
                              type: Ascii
                          partitionKeys:
                            - name: columnA
                    tags: {}
                    type: Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces/cassandraTables
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/cassandraKeyspaces/{keyspaceName}/tables/{tableName}":
    delete:
      description: Deletes an existing Azure Cosmos DB Cassandra table.
      operationId: CassandraResources_DeleteCassandraTable
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/keyspaceNameParameter"
        - $ref: "#/parameters/tableNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "202":
          description: The Cassandra table delete operation will complete asynchronously.
        "204":
          description: The Cassandra table delete operation was completed successfully.
      x-ms-examples:
        CosmosDBCassandraTableDelete:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
            tableName: tableName
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets the Cassandra table under an existing Azure Cosmos DB database account.
      operationId: CassandraResources_GetCassandraTable
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/keyspaceNameParameter"
        - $ref: "#/parameters/tableNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The Cassandra table property was retrieved successfully.
          schema:
            $ref: "#/definitions/CassandraTableGetResults"
      x-ms-examples:
        CosmosDBCassandraTableGet:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
            tableName: tableName
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1/cassandraKeyspaces/keyspaceName/cassandraTables/tableName
                location: West US
                name: tableName
                properties:
                  resource:
                    _etag: '"00005900-0000-0000-0000-56f9a2630000"'
                    _rid: PD5DALigDgw=
                    _ts: 1459200611
                    defaultTtl: 100
                    id: tableName
                    schema:
                      clusterKeys:
                        - name: columnA
                          orderBy: Asc
                      columns:
                        - name: columnA
                          type: Ascii
                      partitionKeys:
                        - name: columnA
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces/cassandraTables
    put:
      description: Create or update an Azure Cosmos DB Cassandra Table
      operationId: CassandraResources_CreateUpdateCassandraTable
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/keyspaceNameParameter"
        - $ref: "#/parameters/tableNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: The parameters to provide for the current Cassandra Table.
          in: body
          name: createUpdateCassandraTableParameters
          required: true
          schema:
            $ref: "#/definitions/CassandraTableCreateUpdateParameters"
      responses:
        "200":
          description: The Cassandra Table create or update operation was completed successfully.
          schema:
            $ref: "#/definitions/CassandraTableGetResults"
        "202":
          description: The Cassandra Table create or update operation will complete asynchronously.
      x-ms-examples:
        CosmosDBCassandraTableCreateUpdate:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01
            createUpdateCassandraTableParameters:
              location: West US
              properties:
                options: {}
                resource:
                  defaultTtl: 100
                  id: tableName
                  schema:
                    clusterKeys:
                      - name: columnA
                        orderBy: Asc
                    columns:
                      - name: columnA
                        type: Ascii
                    partitionKeys:
                      - name: columnA
              tags: {}
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
            tableName: tableName
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1/cassandraKeyspaces/keyspaceName/cassandraTables/tableName
                location: West US
                name: tableName
                properties:
                  resource:
                    defaultTtl: 100
                    id: tableName
                    schema:
                      clusterKeys:
                        - name: columnA
                          orderBy: Asc
                      columns:
                        - name: columnA
                          type: Ascii
                      partitionKeys:
                        - name: columnA
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces/cassandraTables
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/cassandraKeyspaces/{keyspaceName}/tables/{tableName}/throughputSettings/default":
    get:
      description: Gets the RUs per second of the Cassandra table under an existing Azure Cosmos DB database account with the provided name.
      operationId: CassandraResources_GetCassandraTableThroughput
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/keyspaceNameParameter"
        - $ref: "#/parameters/tableNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The RUs per second of the Cassandra table was retrieved successfully.
          schema:
            $ref: "#/definitions/ThroughputSettingsGetResults"
      x-ms-examples:
        CosmosDBCassandraTableThroughputGet:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
            tableName: tableName
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1/cassandraKeyspaces/keyspaceName/cassandraTables/tableName/throughputSettings/default
                location: West US
                name: default
                properties:
                  resource:
                    _etag: '"00005900-0000-0000-0000-56f9a2630000"'
                    _rid: PD5DALigDgw=
                    _ts: 1459200611
                    minimumThroughput: "400"
                    offerReplacePending: "true"
                    throughput: 400
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces/cassandraTables/throughputSettings
    put:
      description: Update RUs per second of an Azure Cosmos DB Cassandra table
      operationId: CassandraResources_UpdateCassandraTableThroughput
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/keyspaceNameParameter"
        - $ref: "#/parameters/tableNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: The RUs per second of the parameters to provide for the current Cassandra table.
          in: body
          name: updateThroughputParameters
          required: true
          schema:
            $ref: "#/definitions/ThroughputSettingsUpdateParameters"
      responses:
        "200":
          description: The RUs per second of the Cassandra table update operation was completed successfully.
          schema:
            $ref: "#/definitions/ThroughputSettingsGetResults"
        "202":
          description: The RUs per second of the Cassandra table update operation will complete asynchronously.
      x-ms-examples:
        CosmosDBCassandraTableThroughputUpdate:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
            tableName: tableName
            updateThroughputParameters:
              location: West US
              properties:
                resource:
                  throughput: 400
              tags: {}
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1/cassandraKeyspaces/keyspaceName/cassandraTables/tableName/throughputSettings/default
                name: default
                properties:
                  resource:
                    _etag: '"00005900-0000-0000-0000-56f9a2630000"'
                    _rid: PD5DALigDgw=
                    _ts: 1459200611
                    minimumThroughput: "400"
                    offerReplacePending: "true"
                    throughput: 400
                type: Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces/cassandraTables/throughputSettings
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/cassandraKeyspaces/{keyspaceName}/throughputSettings/default":
    get:
      description: Gets the RUs per second of the Cassandra Keyspace under an existing Azure Cosmos DB database account with the provided name.
      operationId: CassandraResources_GetCassandraKeyspaceThroughput
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/keyspaceNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The RUs per second of the Cassandra Keyspace was retrieved successfully.
          schema:
            $ref: "#/definitions/ThroughputSettingsGetResults"
      x-ms-examples:
        CosmosDBCassandraKeyspaceThroughputGet:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1/cassandraKeyspaces/keyspaceName/throughputSettings/default
                location: West US
                name: default
                properties:
                  resource:
                    _etag: '"00005900-0000-0000-0000-56f9a2630000"'
                    _rid: PD5DALigDgw=
                    _ts: 1459200611
                    minimumThroughput: "400"
                    offerReplacePending: "true"
                    throughput: 400
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces/throughputSettings
    put:
      description: Update RUs per second of an Azure Cosmos DB Cassandra Keyspace
      operationId: CassandraResources_UpdateCassandraKeyspaceThroughput
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/keyspaceNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: The RUs per second of the parameters to provide for the current Cassandra Keyspace.
          in: body
          name: updateThroughputParameters
          required: true
          schema:
            $ref: "#/definitions/ThroughputSettingsUpdateParameters"
      responses:
        "200":
          description: The RUs per second of the Cassandra Keyspace update operation was completed successfully.
          schema:
            $ref: "#/definitions/ThroughputSettingsGetResults"
        "202":
          description: The RUs per second of the Cassandra Keyspace update operation will complete asynchronously.
      x-ms-examples:
        CosmosDBCassandraKeyspaceThroughputUpdate:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
            updateThroughputParameters:
              location: West US
              properties:
                resource:
                  throughput: 400
              tags: {}
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1/cassandraKeyspaces/keyspaceName/throughputSettings/default
                location: West US
                name: default
                properties:
                  resource:
                    _etag: '"00005900-0000-0000-0000-56f9a2630000"'
                    _rid: PD5DALigDgw=
                    _ts: 1459200611
                    minimumThroughput: "400"
                    offerReplacePending: "true"
                    throughput: 400
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces/throughputSettings
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/metricDefinitions":
    get:
      description: Retrieves metric definitions for the given collection.
      operationId: Collection_ListMetricDefinitions
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseRidParameter"
        - $ref: "#/parameters/collectionRidParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The metric definitions for the collection were retrieved successfully.
          schema:
            $ref: "#/definitions/MetricDefinitionsListResult"
      x-ms-examples:
        CosmosDBCollectionGetMetricDefinitions:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01
            collectionRid: collectionRid
            databaseRid: databaseRid
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - metricAvailabilities:
                      - retention: P2D
                        timeGrain: PT5M
                      - retention: P14D
                        timeGrain: PT1H
                      - retention: P60D
                        timeGrain: P1D
                    name:
                      localizedValue: Total Requests
                      value: Total Requests
                    primaryAggregationType: Total
                    resourceUri: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                    unit: Count
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/metrics":
    get:
      description: Retrieves the metrics determined by the given filter for the given database account and collection.
      operationId: Collection_ListMetrics
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseRidParameter"
        - $ref: "#/parameters/collectionRidParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/filterParameter"
      responses:
        "200":
          description: The metrics for the database account were retrieved successfully.
          schema:
            $ref: "#/definitions/MetricListResult"
      x-ms-examples:
        CosmosDBCollectionGetMetrics:
          parameters:
            $filter: $filter=(name.value eq 'Total Requests') and timeGrain eq duration'PT5M' and startTime eq '2017-11-19T23:53:55.2780000Z' and endTime eq '2017-11-20T00:13:55.2780000Z
            accountName: ddb1
            api-version: 2019-08-01
            collectionRid: collectionRid
            databaseRid: databaseRid
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - endTime: 2017-11-20T00:13:55.2780000Z
                    metricValues:
                      - _count: 0
                        average: 0
                        timestamp: 2017-11-19T23:53:55.2780000Z
                        total: 0
                      - _count: 0
                        average: 0
                        timestamp: 2017-11-19T23:58:55.2780000Z
                        total: 0
                      - _count: 0
                        average: 0
                        timestamp: 2017-11-20T00:03:55.2780000Z
                        total: 0
                      - _count: 0
                        average: 0
                        timestamp: 2017-11-20T00:08:55.2780000Z
                        total: 0
                    name:
                      localizedValue: Total Requests
                      value: Total Requests
                    startTime: 2017-11-19T23:53:55.2780000Z
                    timeGrain: PT5M
                    unit: Count
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/partitionKeyRangeId/{partitionKeyRangeId}/metrics":
    get:
      description: Retrieves the metrics determined by the given filter for the given partition key range id.
      operationId: PartitionKeyRangeId_ListMetrics
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseRidParameter"
        - $ref: "#/parameters/collectionRidParameter"
        - $ref: "#/parameters/partitionKeyRangeIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/filterParameter"
      responses:
        "200":
          description: The partition-level metrics for the partition key range id were retrieved successfully.
          schema:
            $ref: "#/definitions/PartitionMetricListResult"
      x-ms-examples:
        CosmosDBDatabaseAccountRegionGetMetrics:
          parameters:
            $filter: $filter=(name.value eq 'Max RUs Per Second') and timeGrain eq duration'PT1M' and startTime eq '2017-11-19T23:53:55.2780000Z' and endTime eq '2017-11-20T23:58:55.2780000Z
            accountName: ddb1
            api-version: 2019-08-01
            collectionRid: collectionRid
            databaseRid: databaseRid
            partitionKeyRangeId: "0"
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - endTime: 2017-11-20T23:58:55.2780000Z
                    metricValues:
                      - maximum: 5
                        timestamp: 2017-11-19T23:53:55.2780000Z
                      - maximum: 5
                        timestamp: 2017-11-19T23:54:55.2780000Z
                      - maximum: 5
                        timestamp: 2017-11-19T23:55:55.2780000Z
                      - maximum: 5
                        timestamp: 2017-11-19T23:56:55.2780000Z
                      - maximum: 5
                        timestamp: 2017-11-19T23:57:55.2780000Z
                      - maximum: 5
                        timestamp: 2017-11-19T23:58:55.2780000Z
                    name:
                      localizedValue: Max RUs Per Second
                      value: Max RUs Per Second
                    partitionId: 00000000-0000-0000-0000-000000000000
                    partitionKeyRangeId: "0"
                    startTime: 2017-11-19T23:53:55.2780000Z
                    timeGrain: PT1M
                    unit: Count
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/partitions/metrics":
    get:
      description: Retrieves the metrics determined by the given filter for the given collection, split by partition.
      operationId: CollectionPartition_ListMetrics
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseRidParameter"
        - $ref: "#/parameters/collectionRidParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/filterParameter"
      responses:
        "200":
          description: The partition-level metrics for the collection were retrieved successfully.
          schema:
            $ref: "#/definitions/PartitionMetricListResult"
      x-ms-examples:
        CosmosDBDatabaseAccountRegionGetMetrics:
          parameters:
            $filter: $filter=(name.value eq 'Max RUs Per Second') and timeGrain eq duration'PT1M' and startTime eq '2017-11-19T23:53:55.2780000Z' and endTime eq '2017-11-20T23:58:55.2780000Z
            accountName: ddb1
            api-version: 2019-08-01
            collectionRid: collectionRid
            databaseRid: databaseRid
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - endTime: 2017-11-20T23:58:55.2780000Z
                    metricValues:
                      - maximum: 5
                        timestamp: 2017-11-19T23:53:55.2780000Z
                      - maximum: 5
                        timestamp: 2017-11-19T23:54:55.2780000Z
                      - maximum: 5
                        timestamp: 2017-11-19T23:55:55.2780000Z
                      - maximum: 5
                        timestamp: 2017-11-19T23:56:55.2780000Z
                      - maximum: 5
                        timestamp: 2017-11-19T23:57:55.2780000Z
                      - maximum: 5
                        timestamp: 2017-11-19T23:58:55.2780000Z
                    name:
                      localizedValue: Max RUs Per Second
                      value: Max RUs Per Second
                    partitionId: 00000000-0000-0000-0000-000000000000
                    partitionKeyRangeId: "0"
                    startTime: 2017-11-19T23:53:55.2780000Z
                    timeGrain: PT1M
                    unit: Count
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/partitions/usages":
    get:
      description: Retrieves the usages (most recent storage data) for the given collection, split by partition.
      operationId: CollectionPartition_ListUsages
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseRidParameter"
        - $ref: "#/parameters/collectionRidParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/usageFilterParameter"
      responses:
        "200":
          description: The usages for the collection, per partition were retrieved successfully.
          schema:
            $ref: "#/definitions/PartitionUsagesResult"
      x-ms-examples:
        CosmosDBCollectionGetUsages:
          parameters:
            $filter: $filter=name.value eq 'Partition Storage'
            accountName: ddb1
            api-version: 2019-08-01
            collectionRid: collectionRid
            databaseRid: databaseRid
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - currentValue: 0
                    limit: 10737418240
                    name:
                      localizedValue: Storage
                      value: Storage
                    partitionId: 00000000-0000-0000-0000-000000000000
                    partitionKeyRangeId: "0"
                    quotaPeriod: P1D
                    unit: Bytes
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/usages":
    get:
      description: Retrieves the usages (most recent storage data) for the given collection.
      operationId: Collection_ListUsages
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseRidParameter"
        - $ref: "#/parameters/collectionRidParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/usageFilterParameter"
      responses:
        "200":
          description: The usages for the collection were retrieved successfully.
          schema:
            $ref: "#/definitions/UsagesResult"
      x-ms-examples:
        CosmosDBCollectionGetUsages:
          parameters:
            $filter: $filter=name.value eq 'Storage'
            accountName: ddb1
            api-version: 2019-08-01
            collectionRid: collectionRid
            databaseRid: databaseRid
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - currentValue: 0
                    limit: 10737418240
                    name:
                      localizedValue: Storage
                      value: Storage
                    quotaPeriod: P1D
                    unit: Bytes
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/metricDefinitions":
    get:
      description: Retrieves metric definitions for the given database.
      operationId: Database_ListMetricDefinitions
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseRidParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The metric definitions for the database were retrieved successfully.
          schema:
            $ref: "#/definitions/MetricDefinitionsListResult"
      x-ms-examples:
        CosmosDBDatabaseGetMetricDefinitions:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01
            databaseRid: databaseRid
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - metricAvailabilities:
                      - retention: P2D
                        timeGrain: PT5M
                      - retention: P14D
                        timeGrain: PT1H
                      - retention: P60D
                        timeGrain: P1D
                    name:
                      localizedValue: Total Requests
                      value: Total Requests
                    primaryAggregationType: Total
                    resourceUri: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                    unit: Count
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/metrics":
    get:
      description: Retrieves the metrics determined by the given filter for the given database account and database.
      operationId: Database_ListMetrics
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseRidParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/filterParameter"
      responses:
        "200":
          description: The metrics for the database account were retrieved successfully.
          schema:
            $ref: "#/definitions/MetricListResult"
      x-ms-examples:
        CosmosDBDatabaseGetMetrics:
          parameters:
            $filter: $filter=(name.value eq 'Total Requests') and timeGrain eq duration'PT5M' and startTime eq '2017-11-19T23:53:55.2780000Z' and endTime eq '2017-11-20T00:13:55.2780000Z
            accountName: ddb1
            api-version: 2019-08-01
            databaseRid: rid
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - endTime: 2017-11-20T00:13:55.2780000Z
                    metricValues:
                      - _count: 0
                        average: 0
                        timestamp: 2017-11-19T23:53:55.2780000Z
                        total: 0
                      - _count: 0
                        average: 0
                        timestamp: 2017-11-19T23:58:55.2780000Z
                        total: 0
                      - _count: 0
                        average: 0
                        timestamp: 2017-11-20T00:03:55.2780000Z
                        total: 0
                      - _count: 0
                        average: 0
                        timestamp: 2017-11-20T00:08:55.2780000Z
                        total: 0
                    name:
                      localizedValue: Total Requests
                      value: Total Requests
                    startTime: 2017-11-19T23:53:55.2780000Z
                    timeGrain: PT5M
                    unit: Count
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/usages":
    get:
      description: Retrieves the usages (most recent data) for the given database.
      operationId: Database_ListUsages
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseRidParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/usageFilterParameter"
      responses:
        "200":
          description: The usages for the database were retrieved successfully.
          schema:
            $ref: "#/definitions/UsagesResult"
      x-ms-examples:
        CosmosDBDatabaseGetUsages:
          parameters:
            $filter: $filter=name.value eq 'Storage'
            accountName: ddb1
            api-version: 2019-08-01
            databaseRid: databaseRid
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - currentValue: 0
                    limit: 10737418240
                    name:
                      localizedValue: Storage
                      value: Storage
                    quotaPeriod: P1D
                    unit: Bytes
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/failoverPriorityChange":
    post:
      description: Changes the failover priority for the Azure Cosmos DB database account. A failover priority of 0 indicates a write region. The maximum value for a failover priority = (total number of regions - 1). Failover priority values must be unique for each of the regions in which the database account exists.
      operationId: DatabaseAccounts_FailoverPriorityChange
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: The new failover policies for the database account.
          in: body
          name: failoverParameters
          required: true
          schema:
            $ref: "#/definitions/FailoverPolicies"
      responses:
        "202":
          description: Accepted. The failover policy change operation will complete asynchronously.
        "204":
          description: No Content
      x-ms-examples:
        CosmosDBDatabaseAccountFailoverPriorityChange:
          parameters:
            accountName: ddb1-failover
            api-version: 2019-08-01
            failoverParameters:
              failoverPolicies:
                - failoverPriority: 0
                  locationName: eastus
                - failoverPriority: 1
                  locationName: westus
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/gremlinDatabases":
    get:
      description: Lists the Gremlin databases under an existing Azure Cosmos DB database account.
      operationId: GremlinResources_ListGremlinDatabases
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The Gremlin database properties were retrieved successfully.
          schema:
            $ref: "#/definitions/GremlinDatabaseListResult"
      x-ms-examples:
        CosmosDBGremlinDatabaseList:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01
            resourceGroupName: rgName
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1/gremlinDatabases/databaseName
                    location: West US
                    name: databaseName
                    properties:
                      resource:
                        _etag: '"00000a00-0000-0000-0000-56672f920000"'
                        _rid: CqNBAA==
                        _ts: 1449602962
                        id: databaseName
                    tags: {}
                    type: Microsoft.DocumentDB/databaseAccounts/gremlinDatabases
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/gremlinDatabases/{databaseName}":
    delete:
      description: Deletes an existing Azure Cosmos DB Gremlin database.
      operationId: GremlinResources_DeleteGremlinDatabase
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "202":
          description: The Gremlin database delete operation will complete asynchronously.
        "204":
          description: The Gremlin database delete operation was completed successfully.
      x-ms-examples:
        CosmosDBGremlinDatabaseDelete:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01
            databaseName: databaseName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets the Gremlin databases under an existing Azure Cosmos DB database account with the provided name.
      operationId: GremlinResources_GetGremlinDatabase
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The Gremlin database property was retrieved successfully.
          schema:
            $ref: "#/definitions/GremlinDatabaseGetResults"
      x-ms-examples:
        CosmosDBGremlinDatabaseGet:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01
            databaseName: databaseName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1/gremlinDatabases/databaseName
                location: West US
                name: databaseName
                properties:
                  resource:
                    _etag: '"00000a00-0000-0000-0000-56672f920000"'
                    _rid: CqNBAA==
                    _ts: 1449602962
                    id: databaseName
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts/gremlinDatabases
    put:
      description: Create or update an Azure Cosmos DB Gremlin database
      operationId: GremlinResources_CreateUpdateGremlinDatabase
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: The parameters to provide for the current Gremlin database.
          in: body
          name: createUpdateGremlinDatabaseParameters
          required: true
          schema:
            $ref: "#/definitions/GremlinDatabaseCreateUpdateParameters"
      responses:
        "200":
          description: The Gremlin database create or update operation was completed successfully.
          schema:
            $ref: "#/definitions/GremlinDatabaseGetResults"
        "202":
          description: The Gremlin database create or update operation will complete asynchronously.
      x-ms-examples:
        CosmosDBGremlinDatabaseCreateUpdate:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01
            createUpdateGremlinDatabaseParameters:
              location: West US
              properties:
                options: {}
                resource:
                  id: databaseName
              tags: {}
            databaseName: databaseName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1/gremlinDatabases/databaseName
                location: West US
                name: databaseName
                properties:
                  resource:
                    _etag: '"00000a00-0000-0000-0000-56672f920000"'
                    _rid: CqNBAA==
                    _ts: 1449602962
                    id: databaseName
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts/gremlinDatabases
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/gremlinDatabases/{databaseName}/graphs":
    get:
      description: Lists the Gremlin graph under an existing Azure Cosmos DB database account.
      operationId: GremlinResources_ListGremlinGraphs
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The Gremlin graph properties were retrieved successfully.
          schema:
            $ref: "#/definitions/GremlinGraphListResult"
      x-ms-examples:
        CosmosDBGremlinGraphList:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01
            databaseName: databaseName
            resourceGroupName: rgName
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: testgrf
                    name: testgrf
                    properties:
                      resource:
                        _etag: '"00005900-0000-0000-0000-56f9a2630000"'
                        _rid: PD5DALigDgw=
                        _ts: 1459200611
                        conflictResolutionPolicy:
                          conflictResolutionPath: /path
                          mode: LastWriterWins
                        defaultTtl: 100
                        id: testgrf
                        indexingPolicy:
                          automatic: true
                          excludedPaths: []
                          includedPaths:
                            - indexes:
                                - dataType: String
                                  kind: Range
                                  precision: -1
                                - dataType: Number
                                  kind: Range
                                  precision: -1
                              path: /*
                          indexingMode: Consistent
                        partitionKey:
                          kind: Hash
                          paths:
                            - /AccountNumber
                        uniqueKeyPolicy:
                          uniqueKeys:
                            - paths:
                                - /testPath
                    type: Microsoft.DocumentDB/databaseAccounts/apis/databases/graphs
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/gremlinDatabases/{databaseName}/graphs/{graphName}":
    delete:
      description: Deletes an existing Azure Cosmos DB Gremlin graph.
      operationId: GremlinResources_DeleteGremlinGraph
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/graphNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "202":
          description: The Gremlin graph delete operation will complete asynchronously.
        "204":
          description: The Gremlin graph delete operation was completed successfully.
      x-ms-examples:
        CosmosDBGremlinGraphDelete:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01
            databaseName: databaseName
            graphName: graphName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets the Gremlin graph under an existing Azure Cosmos DB database account.
      operationId: GremlinResources_GetGremlinGraph
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/graphNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The Gremlin graph property was retrieved successfully.
          schema:
            $ref: "#/definitions/GremlinGraphGetResults"
      x-ms-examples:
        CosmosDBGremlinGraphGet:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01
            databaseName: databaseName
            graphName: graphName
            resourceGroupName: rgName
            subscriptionId: subid
          responses:
            "200":
              body:
                id: graphName
                name: graphName
                properties:
                  resource:
                    _etag: '"00005900-0000-0000-0000-56f9a2630000"'
                    _rid: PD5DALigDgw=
                    _ts: 1459200611
                    conflictResolutionPolicy:
                      conflictResolutionPath: /path
                      mode: LastWriterWins
                    defaultTtl: 100
                    id: graphName
                    indexingPolicy:
                      automatic: true
                      excludedPaths: []
                      includedPaths:
                        - indexes:
                            - dataType: String
                              kind: Range
                              precision: -1
                            - dataType: Number
                              kind: Range
                              precision: -1
                          path: /*
                      indexingMode: Consistent
                    partitionKey:
                      kind: Hash
                      paths:
                        - /AccountNumber
                    uniqueKeyPolicy:
                      uniqueKeys:
                        - paths:
                            - /testPath
                type: Microsoft.DocumentDB/databaseAccounts/apis/databases/graphs
    put:
      description: Create or update an Azure Cosmos DB Gremlin graph
      operationId: GremlinResources_CreateUpdateGremlinGraph
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/graphNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: The parameters to provide for the current Gremlin graph.
          in: body
          name: createUpdateGremlinGraphParameters
          required: true
          schema:
            $ref: "#/definitions/GremlinGraphCreateUpdateParameters"
      responses:
        "200":
          description: The Gremlin graph create or update operation was completed successfully.
          schema:
            $ref: "#/definitions/GremlinGraphGetResults"
        "202":
          description: The Gremlin graph create or update operation will complete asynchronously.
      x-ms-examples:
        CosmosDBGremlinGraphCreateUpdate:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01
            createUpdateGremlinGraphParameters:
              location: West US
              properties:
                options: {}
                resource:
                  conflictResolutionPolicy:
                    conflictResolutionPath: /path
                    mode: LastWriterWins
                  defaultTtl: 100
                  id: graphName
                  indexingPolicy:
                    automatic: true
                    excludedPaths: []
                    includedPaths:
                      - indexes:
                          - dataType: String
                            kind: Range
                            precision: -1
                          - dataType: Number
                            kind: Range
                            precision: -1
                        path: /*
                    indexingMode: Consistent
                  partitionKey:
                    kind: Hash
                    paths:
                      - /AccountNumber
                  uniqueKeyPolicy:
                    uniqueKeys:
                      - paths:
                          - /testPath
              tags: {}
            databaseName: databaseName
            graphName: graphName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1/gremlinDatabases/databaseName/gremlinGraphs/graphName
                location: West US
                name: graphName
                properties:
                  resource:
                    _etag: '"00005900-0000-0000-0000-56f9a2630000"'
                    _rid: PD5DALigDgw=
                    _ts: 1459200611
                    conflictResolutionPolicy:
                      conflictResolutionPath: /path
                      mode: LastWriterWins
                    defaultTtl: 100
                    id: graphName
                    indexingPolicy:
                      automatic: true
                      excludedPaths: []
                      includedPaths:
                        - indexes:
                            - dataType: String
                              kind: Range
                              precision: -1
                            - dataType: Number
                              kind: Range
                              precision: -1
                          path: /*
                      indexingMode: Consistent
                    partitionKey:
                      kind: Hash
                      paths:
                        - /AccountNumber
                    uniqueKeyPolicy:
                      uniqueKeys:
                        - paths:
                            - /testPath
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/gremlinGraphs
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/gremlinDatabases/{databaseName}/graphs/{graphName}/throughputSettings/default":
    get:
      description: Gets the Gremlin graph throughput under an existing Azure Cosmos DB database account with the provided name.
      operationId: GremlinResources_GetGremlinGraphThroughput
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/graphNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The RUs per second of the Gremlin graph was retrieved successfully.
          schema:
            $ref: "#/definitions/ThroughputSettingsGetResults"
      x-ms-examples:
        CosmosDBGremlinGraphThroughputGet:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01
            databaseName: databaseName
            graphName: graphName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1/gremlinDatabases/databaseName/gremlinGraphs/graphName/throughputSettings/default
                location: West US
                name: default
                properties:
                  resource:
                    _etag: '"00005900-0000-0000-0000-56f9a2630000"'
                    _rid: PD5DALigDgw=
                    _ts: 1459200611
                    minimumThroughput: "400"
                    offerReplacePending: "true"
                    throughput: 400
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/throughputSettings
    put:
      description: Update RUs per second of an Azure Cosmos DB Gremlin graph
      operationId: GremlinResources_UpdateGremlinGraphThroughput
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/graphNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: The RUs per second of the parameters to provide for the current Gremlin graph.
          in: body
          name: updateThroughputParameters
          required: true
          schema:
            $ref: "#/definitions/ThroughputSettingsUpdateParameters"
      responses:
        "200":
          description: The RUs per second of the Gremlin graph update operation was completed successfully.
          schema:
            $ref: "#/definitions/ThroughputSettingsGetResults"
        "202":
          description: The RUs per second of the Gremlin graph update operation will complete asynchronously.
      x-ms-examples:
        CosmosDBGremlinGraphThroughputUpdate:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01
            databaseName: databaseName
            graphName: graphName
            resourceGroupName: rg1
            subscriptionId: subid
            updateThroughputParameters:
              location: West US
              properties:
                resource:
                  throughput: 400
              tags: {}
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1/gremlinDatabases/databaseName/gremlinGraphs/graphName/throughputSettings/default
                location: West US
                name: default
                properties:
                  resource:
                    _etag: '"00005900-0000-0000-0000-56f9a2630000"'
                    _rid: PD5DALigDgw=
                    _ts: 1459200611
                    minimumThroughput: "400"
                    offerReplacePending: "true"
                    throughput: 400
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/throughputSettings
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/gremlinDatabases/{databaseName}/throughputSettings/default":
    get:
      description: Gets the RUs per second of the Gremlin database under an existing Azure Cosmos DB database account with the provided name.
      operationId: GremlinResources_GetGremlinDatabaseThroughput
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The RUs per second of the Gremlin database was retrieved successfully.
          schema:
            $ref: "#/definitions/ThroughputSettingsGetResults"
      x-ms-examples:
        CosmosDBGremlinDatabaseThroughputGet:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01
            databaseName: databaseName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1/gremlinDatabases/databaseName/throughputSettings/default
                location: West US
                name: default
                properties:
                  resource:
                    _etag: '"00005900-0000-0000-0000-56f9a2630000"'
                    _rid: PD5DALigDgw=
                    _ts: 1459200611
                    minimumThroughput: "400"
                    offerReplacePending: "true"
                    throughput: 400
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/throughputSettings
    put:
      description: Update RUs per second of an Azure Cosmos DB Gremlin database
      operationId: GremlinResources_UpdateGremlinDatabaseThroughput
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: The RUs per second of the parameters to provide for the current Gremlin database.
          in: body
          name: updateThroughputParameters
          required: true
          schema:
            $ref: "#/definitions/ThroughputSettingsUpdateParameters"
      responses:
        "200":
          description: The RUs per second of the Gremlin database update operation was completed successfully.
          schema:
            $ref: "#/definitions/ThroughputSettingsGetResults"
        "202":
          description: The RUs per second of the Gremlin database update operation will complete asynchronously.
      x-ms-examples:
        CosmosDBGremlinDatabaseThroughputUpdate:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01
            databaseName: databaseName
            resourceGroupName: rg1
            subscriptionId: subid
            updateThroughputParameters:
              location: West US
              properties:
                resource:
                  throughput: 400
              tags: {}
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1/gremlinDatabases/databaseName/throughputSettings/default
                location: West US
                name: default
                properties:
                  resource:
                    _etag: '"00005900-0000-0000-0000-56f9a2630000"'
                    _rid: PD5DALigDgw=
                    _ts: 1459200611
                    minimumThroughput: "400"
                    offerReplacePending: "true"
                    throughput: 400
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts/gremlinDatabases/throughputSettings
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/listConnectionStrings":
    post:
      description: Lists the connection strings for the specified Azure Cosmos DB database account.
      operationId: DatabaseAccounts_ListConnectionStrings
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The operation completed successfully.
          schema:
            $ref: "#/definitions/DatabaseAccountListConnectionStringsResult"
      x-ms-examples:
        CosmosDBDatabaseAccountListConnectionStrings:
          parameters:
            accountName: ddb1
            api-version: 2019-08-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body: {}
        CosmosDBDatabaseAccountListConnectionStringsMongo:
          parameters:
            accountName: mongo-ddb1
            api-version: 2019-08-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                connectionStrings:
                  - connectionString: connection-string
                    description: Name of the connection string
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/listKeys":
    post:
      description: Lists the access keys for the specified Azure Cosmos DB database account.
      operationId: DatabaseAccounts_ListKeys
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The operation completed successfully.
          schema:
            $ref: "#/definitions/DatabaseAccountListKeysResult"
      x-ms-examples:
        CosmosDBDatabaseAccountListKeys:
[...]
