swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2018-12-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/interfaceEndpoint.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-interfaceEndpoint
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/interfaceEndpoints":
    get:
      description: Gets all interface endpoints in a subscription.
      operationId: InterfaceEndpoints_ListBySubscription
      parameters:
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns a list of InterfaceEndpoint resources.
          schema:
            $ref: "#/definitions/InterfaceEndpointListResult"
      tags:
        - InterfaceEndpoints
      x-ms-examples:
        List all interface endpoints:
          parameters:
            api-version: 2018-12-01
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/interfaceEndpoints/ie1
                    location: eastus
                    name: ie1
                    properties:
                      endpointService:
                        id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Provider/resourceType/resourceName
                      fqdn: uniqueIdentifier.fqdn.windows.net
                      networkInterfaces:
                        - id: /subscriptions/subId/resourceGroups/rg1/provders/Microsoft.Network/networkInterfaces/ie1.nic.abcd1234
                      owner: User
                      provisioningState: Succeeded
                      subnet:
                        id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/myVnet/subnets/mySubnet
                    type: Microsoft.Network/interfaceEndpoints
                  - id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/interfaceEndpoints/ie2
                    location: eastus
                    name: ie2
                    properties:
                      endpointService:
                        id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Provider/resourceType/otherResourceName
                      fqdn: alsoUnique.fqdn.windows.net
                      networkInterfaces:
                        - id: /subscriptions/subId/resourceGroups/rg1/provders/Microsoft.Network/networkInterfaces/ie2.nic.zyxw9876
                      owner: User
                      provisioningState: Succeeded
                      subnet:
                        id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/myVnet/subnets/mySubnet
                    type: Microsoft.Network/interfaceEndpoints
                  - id: /subscriptions/subId/resourceGroups/rg2/providers/Microsoft.Network/interfaceEndpoints/ie1
                    location: eastus
                    name: ie1
                    properties:
                      endpointService:
                        id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Provider/resourceType/resourceName
                      fqdn: stillVeryUnique.fqdn.windows.net
                      networkInterfaces:
                        - id: /subscriptions/subId/resourceGroups/rg2/provders/Microsoft.Network/networkInterfaces/ie1.nic.efgh5463
                      owner: User
                      provisioningState: Succeeded
                      subnet:
                        id: /subscriptions/subId/resourceGroups/rg2/providers/Microsoft.Network/virtualNetworks/myVnet/subnets/mySubnet
                    type: Microsoft.Network/interfaceEndpoints
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/interfaceEndpoints":
    get:
      description: Gets all interface endpoints in a resource group.
      operationId: InterfaceEndpoints_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns a list of InterfaceEndpoint resources.
          schema:
            $ref: "#/definitions/InterfaceEndpointListResult"
      tags:
        - InterfaceEndpoints
      x-ms-examples:
        List interface endpoints in resource group:
          parameters:
            api-version: 2018-12-01
            resourceGroupName: rg1
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/interfaceEndpoints/ie1
                    location: eastus
                    name: ie1
                    properties:
                      endpointService:
                        id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Provider/resourceType/resourceName
                      fqdn: uniqueIdentifier.fqdn.windows.net
                      networkInterfaces:
                        - id: /subscriptions/subId/resourceGroups/rg1/provders/Microsoft.Network/networkInterfaces/ie1.nic.abcd1234
                      owner: User
                      provisioningState: Succeeded
                      subnet:
                        id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/myVnet/subnets/mySubnet
                    type: Microsoft.Network/interfaceEndpoints
                  - id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/interfaceEndpoints/ie2
                    location: eastus
                    name: ie2
                    properties:
                      endpointService:
                        id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Provider/resourceType/otherResourceName
                      fqdn: alsoUnique.fqdn.windows.net
                      networkInterfaces:
                        - id: /subscriptions/subId/resourceGroups/rg1/provders/Microsoft.Network/networkInterfaces/ie2.nic.zyxw9876
                      owner: User
                      provisioningState: Succeeded
                      subnet:
                        id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/myVnet/subnets/mySubnet
                    type: Microsoft.Network/interfaceEndpoints
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/interfaceEndpoints/{interfaceEndpointName}":
    delete:
      description: Deletes the specified interface endpoint.
      operationId: InterfaceEndpoints_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the interface endpoint.
          in: path
          name: interfaceEndpointName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Delete successful.
        "202":
          description: Accepted and the operation will complete asynchronously.
        "204":
          description: Delete successful.
      tags:
        - InterfaceEndpoints
      x-ms-examples:
        Delete interface endpoint:
          parameters:
            api-version: 2018-12-01
            interfaceEndpointName: testIe
            resourceGroupName: rg1
            subscriptionId: subId
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets the specified interface endpoint by resource group.
      operationId: InterfaceEndpoints_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the interface endpoint.
          in: path
          name: interfaceEndpointName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Expands referenced resources.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        "200":
          description: Request successful. The operation returns the resulting InterfaceEndpoint resource.
          schema:
            $ref: "#/definitions/InterfaceEndpoint"
      tags:
        - InterfaceEndpoints
      x-ms-examples:
        Get interface endpoint:
          parameters:
            api-version: 2018-12-01
            interfaceEndpointName: testIe
            resourceGroupName: rg1
            subscriptionId: subId
          responses:
            "200":
              body:
                id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/interfaceEndpoints/testIe
                location: eastus
                name: testIe
                properties:
                  endpointService:
                    id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Provider/resourceType/resourceName
                  fqdn: uniqueIdentifier.fqdn.windows.net
                  networkInterfaces:
                    - id: /subscriptions/subId/resourceGroups/rg1/provders/Microsoft.Network/networkInterfaces/testIe.nic.abcd1234
                  owner: User
                  provisioningState: Succeeded
                  subnet:
                    id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/myVnet/subnets/mySubnet
                type: Microsoft.Network/interfaceEndpoints
    put:
      description: Creates or updates an interface endpoint in the specified resource group.
      operationId: InterfaceEndpoints_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the interface endpoint.
          in: path
          name: interfaceEndpointName
          required: true
          type: string
        - description: Parameters supplied to the create or update interface endpoint operation
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/InterfaceEndpoint"
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Update successful. The operation returns the resulting InterfaceEndpoint resource.
          schema:
            $ref: "#/definitions/InterfaceEndpoint"
        "201":
          description: Create successful. The operation returns the resulting InterfaceEndpoint resource.
          schema:
            $ref: "#/definitions/InterfaceEndpoint"
      tags:
        - InterfaceEndpoints
      x-ms-examples:
        Create interface endpoint:
          parameters:
            api-version: 2018-12-01
            interfaceEndpointName: testIe
            parameters:
              properties:
                endpointService:
                  id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Provider/resourceType/resourceName
                fqdn: uniqueIdentifier.fqdn.windows.net
                subnet:
                  id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/myVnet/subnets/mySubnet
            resourceGroupName: rg1
            subscriptionId: subId
          responses:
            "200":
              body:
                id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/interfaceEndpoints/testIe
                location: eastus
                name: testIe
                properties:
                  endpointService:
                    id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Provider/resourceType/resourceName
                  fqdn: uniqueIdentifier.fqdn.windows.net
                  networkInterfaces:
                    - id: /subscriptions/subId/resourceGroups/rg1/provders/Microsoft.Network/networkInterfaces/testIe.nic.abcd1234
                  owner: User
                  provisioningState: Succeded
                  subnet:
                    id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/myVnet/subnets/mySubnet
            "201":
              body:
                id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/interfaceEndpoints/testIe
                location: eastus
                name: testIe
                properties:
                  endpointService:
                    id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Provider/resourceType/resourceName
                  fqdn: uniqueIdentifier.fqdn.windows.net
                  networkInterfaces:
                    - id: /subscriptions/subId/resourceGroups/rg1/provders/Microsoft.Network/networkInterfaces/testIe.nic.abcd1234
                  owner: User
                  provisioningState: Succeeded
                  subnet:
                    id: /subscriptions/subId/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/myVnet/subnets/mySubnet
      x-ms-long-running-operation: true
definitions:
  EndpointService:
    description: Identifies the service being brought into the virtual network.
    properties:
      id:
        description: A unique identifier of the service being referenced by the interface endpoint.
        type: string
  InterfaceEndpoint:
    allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: Interface endpoint resource.
    properties:
      etag:
        description: Gets a unique read-only string that changes whenever the resource is updated.
        type: string
      properties:
        $ref: "#/definitions/InterfaceEndpointProperties"
        description: Properties of the interface endpoint.
        x-ms-client-flatten: true
  InterfaceEndpointListResult:
    description: Response for the ListInterfaceEndpoints API service call.
    properties:
      nextLink:
        description: The URL to get the next set of results.
        readOnly: true
        type: string
      value:
        description: Gets a list of InterfaceEndpoint resources in a resource group.
        items:
          $ref: "#/definitions/InterfaceEndpoint"
        type: array
  InterfaceEndpointProperties:
    description: Properties of the interface endpoint.
    properties:
      endpointService:
        description: Identifies the service being brought into the virtual network.
        properties:
          id:
            description: A unique identifier of the service being referenced by the interface endpoint.
            type: string
      fqdn:
        description: A first-party service's FQDN that is mapped to the private IP allocated via this interface endpoint.
        type: string
      networkInterfaces:
        description: Gets an array of references to the network interfaces created for this interface endpoint.
        items:
          $ref: ./networkInterface.json#/definitions/NetworkInterface
        readOnly: true
        type: array
      owner:
        description: A read-only property that identifies who created this interface endpoint.
        readOnly: true
        type: string
      provisioningState:
        description: "The provisioning state of the interface endpoint. Possible values are: 'Updating', 'Deleting', and 'Failed'."
        readOnly: true
        type: string
      subnet:
        $ref: ./virtualNetwork.json#/definitions/Subnet
        description: The ID of the subnet from which the private IP will be allocated.
