{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "www.haloapi.com",
  "basePath": "/metadata",
  "info": {
    "contact": {
      "x-twitter": "halo"
    },
    "description": "API that provides Metadata information.",
    "title": "Metadata",
    "version": "1.0",
    "x-apisguru-categories": [
      "entertainment"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_commons_d_d7_Halo_%28series%29_logo.svg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://developer.haloapi.com/docs/services/58ace18c21091812784ce8c5/export?DocumentFormat=Swagger",
        "version": "2.0"
      },
      {
        "format": "swagger",
        "url": "https://developer.haloapi.com/docs/services/58ace18c21091812784ce8c5/export?DocumentFormat=Swagger",
        "version": "2.0"
      }
    ],
    "x-providerName": "haloapi.com",
    "x-serviceName": "metadata"
  },
  "securityDefinitions": {
    "apiKeyHeader": {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "type": "apiKey"
    },
    "apiKeyQuery": {
      "in": "query",
      "name": "subscription-key",
      "type": "apiKey"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [],
  "paths": {
    "/h5/metadata/campaign-missions": {
      "get": {
        "description": "<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>February 21, 2017:</strong></p>\n    <ul>\n        <li>Renamed Endpoint from \"Campaign Missions\" to \"Halo 5 - Campaign Missions\".</li>\n        <li>Removed \"{title}\" Request Parameter.</li>\n        <li>Documented \"Accept-Language\" Request Header.</li>\n    </ul>\n</div>\n",
        "operationId": "Halo-5-Campaign-Missions",
        "parameters": [
          {
            "default": "en",
            "description": "The desired language for the Metadata.",
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain the requested Metadata.",
            "examples": {
              "application/json": "// A listing of campaign missions supported in the title. There is no significance to the\n// ordering.\n[\n  {\n    // The order of the mission in the story. The first mission is #1.\n    \"missionNumber\": \"int\",\n\n    // A localized name suitable for display.\n    \"name\": \"string\",\n\n    // A localized description, suitable for display to users.\n    \"description\": \"string\",\n\n    // An image that is used as the background art for this mission.\n    \"imageUrl\": \"string\",\n\n    // The team for the mission. One of the following values:\n    //   - BlueTeam\n    //   - OsirisTeam\n    \"type\": \"string\",\n\n    // The ID that uniquely identifies this campaign mission.\n    \"id\": \"guid\",\n\n    // Internal use only. Do not use.\n    \"contentId\": \"guid\"\n  }\n]\n"
            }
          }
        },
        "summary": "Halo 5 - Campaign Missions"
      }
    },
    "/h5/metadata/commendations": {
      "get": {
        "description": "<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>February 21, 2017:</strong></p>\n    <ul>\n        <li>Renamed Endpoint from \"Commendations\" to \"Halo 5 - Commendations\".</li>\n        <li>Removed \"{title}\" Request Parameter.</li>\n        <li>Documented \"Accept-Language\" Request Header.</li>\n    </ul>\n</div>\n",
        "operationId": "Halo-5-Commendations",
        "parameters": [
          {
            "default": "en",
            "description": "The desired language for the Metadata.",
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain the requested Metadata.",
            "examples": {
              "application/json": "// A list of commendations for the title. There is no significance to the ordering.\n[\n  {\n    // Indicates the type of commendation. This is one of the two following options:\n    //   - \"Progressive\"\n    //   - \"Meta\"\n    // Progressive commendations have a series of increasingly difficult thresholds\n    // (levels) a player must cross to receive increasingly greater rewards.\n    // Meta commendations are unlocked when a player has completed one or more other\n    // commendation levels. We model this by giving meta commendations one level with\n    // dependencies rather than a threshold.\n    \"type\": \"string\",\n\n    // A localized name for the commendation, suitable for display to users. The text is\n    // title cased. \n    \"name\": \"string\",\n\n    // A localized description, suitable for display to users.\n    \"description\": \"string\",\n\n    // An image that is used as the icon for this commendation.\n    \"iconImageUrl\": \"string\",\n\n    // One or more levels that model what a player must do to earn rewards and complete\n    // the commendation.\n    \"levels\": [\n      {\n        // The reward the player will receive for earning this level.\n        \"reward\": {\n\n          // The amount of XP that will be awarded.\n          \"xp\": \"int\",\n\n          // The set of requisition packs (if any) that will be awarded.\n          \"requisitionPacks\": [\n            {\n              // A localized name for the pack, suitable for display to users. The text\n              // is title cased. \n              \"name\": \"string\",\n\n              // A localized description, suitable for display to users.\n              \"description\": \"string\",\n\n              // A large image for the pack.\n              \"largeImageUrl\": \"string\",\n\n              // A medium image for the pack.\n              \"mediumImageUrl\": \"string\",\n\n              // A small image for the pack.\n              \"smallImageUrl\": \"string\",\n\n              // Internal use. Whether the item should be featured ahead of others.\n              \"isFeatured\": \"boolean\",\n\n              // Internal use. Whether the item should be labeled as \"new!\"\n              \"isNew\": \"boolean\",\n\n              // If the pack is purchasable via credits, this value contains the number\n              // of credits a player must spend to acquire one pack. This value is zero\n              // when isPurchasableWithCredits is false.\n              \"creditPrice\": \"int\",\n\n              // If the pack is currently available for purchase by spending credits,\n              // then this value is true.\n              \"isPurchasableWithCredits\": \"boolean\",\n\n              // If the pack might be obtainable through the Xbox Live Marketplace, then\n              // this value is true.\n              \"isPurchasableFromMarketplace\": \"boolean\",\n\n              // If this pack might be obtainable through the Xbox Live Marketplace, this\n              // is the product ID. Note: Pricing and availability within the Xbox Live\n              // marketplace is controlled independently of this value. The presence of\n              // an Id in this field is not a guarantee the product is purchasable. There\n              // may be geographic restrictions restricting purchase in certain regions,\n              // or the item may not be currently purchasable at all.\n              \"xboxMarketplaceProductId\": \"guid\",\n\n              // If this pack might be obtainable through the Xbox Live Marketplace, this\n              // is the URL to the product.\n              \"xboxMarketplaceProductUrl\": \"string\",\n\n              // Internal use. The order in which packs are shown for merchandising\n              // purposes.\n              \"merchandisingOrder\": \"int\",\n\n              // Internal use. Indicates the visual treatment of the pack. This is one of\n              // the following options:\n              //   - None\n              //   - New\n              //   - Hot\n              //   - LeavingSoon\n              //   - MaximumValue\n              //   - LimitedTime\n              //   - Featured\n              //   - BestSeller\n              //   - Popular\n              \"flair\": \"string\",\n\n              // The ID that uniquely identifies this pack.\n              \"id\": \"guid\",\n\n              // Internal use only. Do not use.\n              \"contentId\": \"guid\"\n            }\n          ],\n\n          // The ID that uniquely identifies this reward.\n          \"id\": \"guid\",\n\n          // Internal use only. Do not use.\n          \"contentId\": \"guid\"\n        },\n\n        // For progressive commendations this indicates the threshold that the player\n        // must meet or exceed to consider the commendation level \"completed\". For meta\n        // commendations, this value is always zero.\n        \"threshold\": \"int\",\n\n        // The ID that uniquely identifies this commendation level.\n        \"id\": \"guid\",\n\n        // Internal use only. Do not use.\n        \"contentId\": \"guid\"\n      }\n    ],\n\n    // For meta commendations, the commendation is considered \"completed\" when all\n    // required levels have been \"completed\". This list contains one or more Level Ids\n    // from other commendations. For progressive commendations, this list is empty.\n    \"requiredLevels\": [\n      {\n        // The threshold that the player must meet or exceed in order to consider the\n        // level requirement met.\n        \"threshold\": \"int\",\n\n        // The ID of the commendation level that must be met in order to consider the\n        // level requirement met.\n        \"id\": \"guid\",\n\n        // Internal use only. Do not use.\n        \"contentId\": \"guid\"\n      }\n    ],\n\n    // The reward the player will receive for earning this commendation.\n    \"reward\": {\n\n      // The amount of XP that will be awarded.\n      \"xp\": \"int\",\n\n      // The set of requisition packs (if any) that will be awarded.\n      \"requisitionPacks\": [\n        {\n          // A localized name for the pack, suitable for display to users. The text is\n          // title cased. \n          \"name\": \"string\",\n\n          // A localized description, suitable for display to users.\n          \"description\": \"Your achievement on the field of battle will not go unrewarded.\",\n\n          // A large image for the pack.\n          \"largeImageUrl\": \"string\",\n\n          // A medium image for the pack.\n          \"mediumImageUrl\": \"string\",\n\n          // A small image for the pack.\n          \"smallImageUrl\": \"string\",\n\n          // Internal use. Whether the item should be featured ahead of others.\n          \"isFeatured\": \"boolean\",\n\n          // Internal use. Whether the item should be labeled as \"new!\"\n          \"isNew\": \"boolean\",\n\n          // If the pack is purchasable via credits, this value contains the number of\n          // credits a player must spend to acquire one pack. This value is zero when\n          // isPurchasableWithCredits is false.\n          \"creditPrice\": \"int\",\n\n          // If the pack is currently available for purchase by spending credits, then\n          // this value is true.\n          \"isPurchasableWithCredits\": \"boolean\",\n\n          // If the pack might be obtainable through the Xbox Live Marketplace, then this\n          // value is true.\n          \"isPurchasableFromMarketplace\": \"boolean\",\n\n          // If this pack might be obtainable through the Xbox Live Marketplace, this is\n          // the product ID. Note: Pricing and availability within the Xbox Live\n          // marketplace is controlled independently of this value. The presence of an Id\n          // in this field is not a guarantee the product is purchasable. There may be\n          // geographic restrictions restricting purchase in certain regions, or the item\n          // may not be currently purchasable at all.\n          \"xboxMarketplaceProductId\": \"guid\",\n\n          // If this pack might be obtainable through the Xbox Live Marketplace, this is\n          // the URL to the product.\n          \"xboxMarketplaceProductUrl\": \"string\",\n\n          // Internal use. The order in which packs are shown for merchandising purposes.\n          \"merchandisingOrder\": \"int\",\n\n          // Internal use. Indicates the visual treatment of the pack. This is one of the\n          // following options:\n          //   - None\n          //   - New\n          //   - Hot\n          //   - LeavingSoon\n          //   - MaximumValue\n          //   - LimitedTime\n          //   - Featured\n          //   - BestSeller\n          //   - Popular\n          \"flair\": \"string\",\n\n          // The ID that uniquely identifies this pack.\n          \"id\": \"guid\",\n\n          // Internal use only. Do not use.\n          \"contentId\": \"guid\"\n        }\n      ],\n\n      // The ID that uniquely identifies this reward.\n      \"id\": \"guid\",\n\n      // Internal use only. Do not use.\n      \"contentId\": \"guid\"\n    },\n\n    // Information about how this commendation should be categorized when shown to users.\n    \"category\": {\n\n      // A localized name for the category, suitable for display to users. The text is\n      // title cased.\n      \"name\": \"string\",\n\n      // An image that is used as the icon for this category.\n      \"iconImageUrl\": \"string\",\n\n      // Internal use. The order in which the category should be displayed relative to\n      // other categories. The lower the value, the more important the category - more\n      // important categories should be shown before or ahead of less important\n      // categories.\n      \"order\": \"int\",\n\n      // The ID that uniquely identifies this category.\n      \"id\": \"guid\",\n\n      // Internal use only. Do not use.\n      \"contentId\": \"guid\"\n    },\n\n    // Whether this commendation is enabled or not.\n    \"enabled\": \"boolean\",\n\n    // The ID that uniquely identifies this commendation.\n    \"id\": \"guid\",\n\n      // Internal use only. Do not use.\n    \"contentId\": \"guid\"\n  }\n]\n"
            }
          }
        },
        "summary": "Halo 5 - Commendations"
      }
    },
    "/h5/metadata/company-commendations": {
      "get": {
        "description": "<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>August 15, 2018:</strong></p>\n    <ul>\n        <li>Added Endpoint.</li>\n    </ul>\n</div>\n",
        "operationId": "Halo-5-Company-Commendations",
        "parameters": [
          {
            "default": "en",
            "description": "The desired language for the Metadata.",
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain the requested Metadata.",
            "examples": {
              "application/json": "// A list of commendations for the title. There is no significance to the ordering.\n[\n  {\n    // Indicates the type of commendation. This is one of the two following options:\n    //   - \"Progressive\"\n    //   - \"Meta\"\n    // Progressive commendations have a series of increasingly difficult thresholds\n    // (levels) a player must cross to receive increasingly greater rewards.\n    // Meta commendations are unlocked when a player has completed one or more other\n    // commendation levels. We model this by giving meta commendations one level with\n    // dependencies rather than a threshold.\n    \"type\": \"string\",\n\n    // A localized name for the commendation, suitable for display to users. The text is\n    // title cased. \n    \"name\": \"string\",\n\n    // A localized description, suitable for display to users.\n    \"description\": \"string\",\n\n    // An image that is used as the icon for this commendation.\n    \"iconImageUrl\": \"string\",\n\n    // One or more levels that model what a player must do to earn rewards and complete\n    // the commendation.\n    \"levels\": [\n      {\n        // The reward the player will receive for earning this level.\n        \"reward\": {\n\n          // The amount of XP that will be awarded.\n          \"xp\": \"int\",\n\n          // The set of requisition packs (if any) that will be awarded.\n          \"requisitionPacks\": [\n            {\n              // A localized name for the pack, suitable for display to users. The text\n              // is title cased. \n              \"name\": \"string\",\n\n              // A localized description, suitable for display to users.\n              \"description\": \"string\",\n\n              // A large image for the pack.\n              \"largeImageUrl\": \"string\",\n\n              // A medium image for the pack.\n              \"mediumImageUrl\": \"string\",\n\n              // A small image for the pack.\n              \"smallImageUrl\": \"string\",\n\n              // Internal use. Whether the item should be featured ahead of others.\n              \"isFeatured\": \"boolean\",\n\n              // Internal use. Whether the item should be labeled as \"new!\"\n              \"isNew\": \"boolean\",\n\n              // If the pack is purchasable via credits, this value contains the number\n              // of credits a player must spend to acquire one pack. This value is zero\n              // when isPurchasableWithCredits is false.\n              \"creditPrice\": \"int\",\n\n              // If the pack is currently available for purchase by spending credits,\n              // then this value is true.\n              \"isPurchasableWithCredits\": \"boolean\",\n\n              // If the pack might be obtainable through the Xbox Live Marketplace, then\n              // this value is true.\n              \"isPurchasableFromMarketplace\": \"boolean\",\n\n              // If this pack might be obtainable through the Xbox Live Marketplace, this\n              // is the product ID. Note: Pricing and availability within the Xbox Live\n              // marketplace is controlled independently of this value. The presence of\n              // an Id in this field is not a guarantee the product is purchasable. There\n              // may be geographic restrictions restricting purchase in certain regions,\n              // or the item may not be currently purchasable at all.\n              \"xboxMarketplaceProductId\": \"guid\",\n\n              // If this pack might be obtainable through the Xbox Live Marketplace, this\n              // is the URL to the product.\n              \"xboxMarketplaceProductUrl\": \"string\",\n\n              // Internal use. The order in which packs are shown for merchandising\n              // purposes.\n              \"merchandisingOrder\": \"int\",\n\n              // Internal use. Indicates the visual treatment of the pack. This is one of\n              // the following options:\n              //   - None\n              //   - New\n              //   - Hot\n              //   - LeavingSoon\n              //   - MaximumValue\n              //   - LimitedTime\n              //   - Featured\n              //   - BestSeller\n              //   - Popular\n              \"flair\": \"string\",\n\n              // The ID that uniquely identifies this pack.\n              \"id\": \"guid\",\n\n              // Internal use only. Do not use.\n              \"contentId\": \"guid\"\n            }\n          ],\n\n          // The ID that uniquely identifies this reward.\n          \"id\": \"guid\",\n\n          // Internal use only. Do not use.\n          \"contentId\": \"guid\"\n        },\n\n        // For progressive commendations this indicates the threshold that the player\n        // must meet or exceed to consider the commendation level \"completed\". For meta\n        // commendations, this value is always zero.\n        \"threshold\": \"int\",\n\n        // The ID that uniquely identifies this commendation level.\n        \"id\": \"guid\",\n\n        // Internal use only. Do not use.\n        \"contentId\": \"guid\"\n      }\n    ],\n\n    // For meta commendations, the commendation is considered \"completed\" when all\n    // required levels have been \"completed\". This list contains one or more Level Ids\n    // from other commendations. For progressive commendations, this list is empty.\n    \"requiredLevels\": [\n      {\n        // The threshold that the player must meet or exceed in order to consider the\n        // level requirement met.\n        \"threshold\": \"int\",\n\n        // The ID of the commendation level that must be met in order to consider the\n        // level requirement met.\n        \"id\": \"guid\",\n\n        // Internal use only. Do not use.\n        \"contentId\": \"guid\"\n      }\n    ],\n\n    // The reward the player will receive for earning this commendation.\n    \"reward\": {\n\n      // The amount of XP that will be awarded.\n      \"xp\": \"int\",\n\n      // The set of requisition packs (if any) that will be awarded.\n      \"requisitionPacks\": [\n        {\n          // A localized name for the pack, suitable for display to users. The text is\n          // title cased. \n          \"name\": \"string\",\n\n          // A localized description, suitable for display to users.\n          \"description\": \"Your achievement on the field of battle will not go unrewarded.\",\n\n          // A large image for the pack.\n          \"largeImageUrl\": \"string\",\n\n          // A medium image for the pack.\n          \"mediumImageUrl\": \"string\",\n\n          // A small image for the pack.\n          \"smallImageUrl\": \"string\",\n\n          // Internal use. Whether the item should be featured ahead of others.\n          \"isFeatured\": \"boolean\",\n\n          // Internal use. Whether the item should be labeled as \"new!\"\n          \"isNew\": \"boolean\",\n\n          // If the pack is purchasable via credits, this value contains the number of\n          // credits a player must spend to acquire one pack. This value is zero when\n          // isPurchasableWithCredits is false.\n          \"creditPrice\": \"int\",\n\n          // If the pack is currently available for purchase by spending credits, then\n          // this value is true.\n          \"isPurchasableWithCredits\": \"boolean\",\n\n          // If the pack might be obtainable through the Xbox Live Marketplace, then this\n          // value is true.\n          \"isPurchasableFromMarketplace\": \"boolean\",\n\n          // If this pack might be obtainable through the Xbox Live Marketplace, this is\n          // the product ID. Note: Pricing and availability within the Xbox Live\n          // marketplace is controlled independently of this value. The presence of an Id\n          // in this field is not a guarantee the product is purchasable. There may be\n          // geographic restrictions restricting purchase in certain regions, or the item\n          // may not be currently purchasable at all.\n          \"xboxMarketplaceProductId\": \"guid\",\n\n          // If this pack might be obtainable through the Xbox Live Marketplace, this is\n          // the URL to the product.\n          \"xboxMarketplaceProductUrl\": \"string\",\n\n          // Internal use. The order in which packs are shown for merchandising purposes.\n          \"merchandisingOrder\": \"int\",\n\n          // Internal use. Indicates the visual treatment of the pack. This is one of the\n          // following options:\n          //   - None\n          //   - New\n          //   - Hot\n          //   - LeavingSoon\n          //   - MaximumValue\n          //   - LimitedTime\n          //   - Featured\n          //   - BestSeller\n          //   - Popular\n          \"flair\": \"string\",\n\n          // The ID that uniquely identifies this pack.\n          \"id\": \"guid\",\n\n          // Internal use only. Do not use.\n          \"contentId\": \"guid\"\n        }\n      ],\n\n      // The ID that uniquely identifies this reward.\n      \"id\": \"guid\",\n\n      // Internal use only. Do not use.\n      \"contentId\": \"guid\"\n    },\n\n    // Information about how this commendation should be categorized when shown to users.\n    \"category\": {\n\n      // A localized name for the category, suitable for display to users. The text is\n      // title cased.\n      \"name\": \"string\",\n\n      // An image that is used as the icon for this category.\n      \"iconImageUrl\": \"string\",\n\n      // Internal use. The order in which the category should be displayed relative to\n      // other categories. The lower the value, the more important the category - more\n      // important categories should be shown before or ahead of less important\n      // categories.\n      \"order\": \"int\",\n\n      // The ID that uniquely identifies this category.\n      \"id\": \"guid\",\n\n      // Internal use only. Do not use.\n      \"contentId\": \"guid\"\n    },\n\n    // Whether this commendation is enabled or not.\n    \"enabled\": \"boolean\",\n\n    // The ID that uniquely identifies this commendation.\n    \"id\": \"guid\",\n\n      // Internal use only. Do not use.\n    \"contentId\": \"guid\"\n  }\n]\n"
            }
          }
        },
        "summary": "Halo 5 - Company Commendations"
      }
    },
    "/h5/metadata/csr-designations": {
      "get": {
        "description": "<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>February 21, 2017:</strong></p>\n    <ul>\n        <li>Renamed Endpoint from \"CSR Designations\" to \"Halo 5 - CSR Designations\".</li>\n        <li>Removed \"{title}\" Request Parameter.</li>\n        <li>Documented \"Accept-Language\" Request Header.</li>\n    </ul>\n</div>\n",
        "operationId": "Halo-5-CSR-Designations",
        "parameters": [
          {
            "default": "en",
            "description": "The desired language for the Metadata.",
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain the requested Metadata.",
            "examples": {
              "application/json": "// A list of CSR designations for the title. CSR stands for Competitive Skill Rank. CSR\n// is organized into a series of designations, each with a set of tiers within the\n// designation. The designations are: Bronze, Silver, Gold, Platinum, Diamond, Onyx, and\n// Champion. Within each designation are tiers, for example, Bronze 1, Bronze 2, Bronze\n// 3, etc. The Onyx and Champion designations are special. They only have one tier. For\n// non-Champion players, we keep the raw CSR value and absolute ranking hidden and show\n// the CSR tier. For Onyx and Champion players, we display the raw CSR value. For\n// Champion players, we show a leaderboard ranking. To determine what CSR a player has\n// earned, view the Service Record stats for that player. There is no significance to the\n// ordering.\n[\n  {\n    // A localized name for the designation, suitable for display to users. The text is\n    // title cased. \n    \"name\": \"string\",\n\n    // An image to use as the background for the designation.\n    \"bannerImageUrl\": \"string\",\n\n    // An array of \"CSR Tier\" entries, one for each tier this designation supports.\n    \"tiers\": [\n      {\n        // An image to use as the icon for th tier.\n        \"iconImageUrl\": \"string\",\n\n        // An ID that identifies the tier.\n        \"id\": \"int\",\n\n        // Internal use only. Do not use.\n        \"contentId\": \"guid\"\n      }\n    ],\n\n    // An ID that identifies the designation. It happens to be the same as the\n    // designation ordering. This value is the same across all languages. Note that Id =\n    // 0 indicates the player has an \"Unranked\" designation. The player must complete\n    // additional matches before being assigned an official CSR designation.\n    \"id\": \"int\",\n\n    // Internal use only. Do not use.\n    \"contentId\": \"guid\"\n  }\n]\n"
            }
          }
        },
        "summary": "Halo 5 - CSR Designations"
      }
    },
    "/h5/metadata/enemies": {
      "get": {
        "description": "<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>February 21, 2017:</strong></p>\n    <ul>\n        <li>Renamed Endpoint from \"Enemies\" to \"Halo 5 - Enemies\".</li>\n        <li>Removed \"{title}\" Request Parameter.</li>\n        <li>Documented \"Accept-Language\" Request Header.</li>\n    </ul>\n</div>\n<div class=\"panel-body\">\n    <p><strong>April 20, 2016:</strong></p>\n    <ul>\n        <li>Corrected documentation typo. The field \"largeIconImageUrl\" was incorrectly named \"lageIconImageUrl\".</li>\n    </ul>\n</div>\n",
        "operationId": "Halo-5-Enemies",
        "parameters": [
          {
            "default": "en",
            "description": "The desired language for the Metadata.",
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain the requested Metadata.",
            "examples": {
              "application/json": "// A list of enemies for the title. There is no significance to the ordering.\n[\n  {\n    // The faction that this enemy is affiliated with. One of the following options:\n    //   - UNSC\n    //   - Covenant\n    //   - Promethean\n    \"faction\": \"string\",\n\n    // A localized name for the object, suitable for display to users. The text is title\n    // cased. \n    \"name\": \"string\",\n\n    // A localized description, suitable for display to users. Note: This may be null.\n    \"description\": \"string\",\n\n    // A reference to a large image for icon use. This may be null if there is no image\n    // defined.\n    \"largeIconImageUrl\": \"string\",\n\n    // A reference to a small image for icon use. This may be null if there is no image\n    // defined.\n    \"smallIconImageUrl\": \"string\",\n\n    // The ID that uniquely identifies this enemy.\n    \"id\": \"int\",\n\n    // Internal use only. Do not use.\n    \"contentId\": \"guid\"\n  }\n]\n"
            }
          }
        },
        "summary": "Halo 5 - Enemies"
      }
    },
    "/h5/metadata/flexible-stats": {
      "get": {
        "description": "<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>February 21, 2017:</strong></p>\n    <ul>\n        <li>Renamed Endpoint from \"Flexible Stats\" to \"Halo 5 - Flexible Stats\".</li>\n        <li>Removed \"{title}\" Request Parameter.</li>\n        <li>Documented \"Accept-Language\" Request Header.</li>\n    </ul>\n</div>\n",
        "operationId": "Halo-5-Flexible-Stats",
        "parameters": [
          {
            "default": "en",
            "description": "The desired language for the Metadata.",
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain the requested Metadata.",
            "examples": {
              "application/json": "// A list of defined flexible stat entries for the title. There is no significance to the\n// ordering.\n[\n  {\n    // A localized name for the data point, suitable for display to users. The text is\n    // title cased.\n    \"name\": \"string\",\n\n    // The type of stat this represents, it is one of the following options:\n    //   - Count\n    //   - Duration\n    \"type\": \"string\",\n\n    // The ID that uniquely identifies this stat.\n    \"id\": \"guid\",\n\n    // Internal use only. Do not use.\n    \"contentId\": \"guid\"\n  }\n]\n"
            }
          }
        },
        "summary": "Halo 5 - Flexible Stats"
      }
    },
    "/h5/metadata/game-base-variants": {
      "get": {
        "description": "<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>February 21, 2017:</strong></p>\n    <ul>\n        <li>Renamed Endpoint from \"Game Base Variants\" to \"Halo 5 - Game Base Variants\".</li>\n        <li>Removed \"{title}\" Request Parameter.</li>\n        <li>Documented \"Accept-Language\" Request Header.</li>\n    </ul>\n</div>\n",
        "operationId": "Halo-5-Game-Base-Variants",
        "parameters": [
          {
            "default": "en",
            "description": "The desired language for the Metadata.",
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain the requested Metadata.",
            "examples": {
              "application/json": "// A list of game base variants for the title. There is no mechanism to determine which\n// game base variants are currently available for play. To determine which game base\n// variants a specific player has played, view the Service Record stats for that\n// player.There is no significance to the ordering.\n[\n  {\n    // A localized name for the game base variant, suitable for display to users. The\n    // text is title cased.\n    \"name\": null,\n\n    // Internal use. The internal non-localized name for the the game base variant.\n    \"internalName\": \"string\",\n\n    // An image to use as the game base variant for the designation.\n    \"iconUrl\": \"string\",\n\n    // A list that indicates what game modes this base variant is available within.\n    // Options are:\n    //   - Arena\n    //   - Campaign\n    //   - Custom\n    //   - Warzone\n    \"supportedGameModes\": [\n      \"string\"\n    ],\n\n    // The ID that uniquely identifies this game base variant.\n    \"id\": \"guid\",\n\n    // Internal use only. Do not use.\n    \"contentId\": \"guid\"\n  }\n]\n"
            }
          }
        },
        "summary": "Halo 5 - Game Base Variants"
      }
    },
    "/h5/metadata/game-variants/{id}": {
      "get": {
        "description": "<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>February 21, 2017:</strong></p>\n    <ul>\n        <li>Renamed Endpoint from \"Game Variants\" to \"Halo 5 - Game Variant\".</li>\n        <li>Removed \"{title}\" Request Parameter.</li>\n        <li>Documented \"Accept-Language\" Request Header.</li>\n    </ul>\n</div>\n",
        "operationId": "Halo-5-Game-Variant",
        "parameters": [
          {
            "description": "An ID that uniquely identifies a Game Variant.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "default": "en",
            "description": "The desired language for the Metadata.",
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain the requested Metadata.",
            "examples": {
              "application/json": "// A list of game variants for the title. There is no significance to the ordering.\n{\n  // A localized name, suitable for display to users.\n  \"name\": \"string\",\n\n  // A localized description, suitable for display to users.\n  \"description\": \"string\",\n\n  // The ID of the game base variant this is a variant for. Game Base Variants are\n  // available via the Metadata API.\n  \"gameBaseVariantId\": \"guid\",\n\n  // An icon image for the game variant.\n  \"iconUrl\": \"string\",\n\n  // The ID that uniquely identifies this game variant.\n  \"id\": \"guid\",\n\n  // Internal use only. Do not use.\n  \"contentId\": \"guid\"\n}\n"
            }
          },
          "404": {
            "description": "Specified Game Variant was not found."
          }
        },
        "summary": "Halo 5 - Game Variant"
      }
    },
    "/h5/metadata/impulses": {
      "get": {
        "description": "<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>February 21, 2017:</strong></p>\n    <ul>\n        <li>Renamed Endpoint from \"Impulses\" to \"Halo 5 - Impulses\".</li>\n        <li>Removed \"{title}\" Request Parameter.</li>\n        <li>Documented \"Accept-Language\" Request Header.</li>\n    </ul>\n</div>\n",
        "operationId": "Halo-5-Impulses",
        "parameters": [
          {
            "default": "en",
            "description": "The desired language for the Metadata.",
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain the requested Metadata.",
            "examples": {
              "application/json": "// A list of impulses (essentially invisible medals) for the title. There is no\n// significance to the ordering.\n[\n  {\n    // Internal use. The non-localized name of the impulse.\n    \"internalName\": \"string\",\n\n    // The ID that uniquely identifies this impulse.\n    \"id\": \"int\",\n\n    // Internal use only. Do not use.\n    \"contentId\": \"guid\"\n  }\n]\n"
            }
          }
        },
        "summary": "Halo 5 - Impulses"
      }
    },
    "/h5/metadata/map-variants/{id}": {
      "get": {
        "description": "<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>February 21, 2017:</strong></p>\n    <ul>\n        <li>Renamed Endpoint from \"Map Variants\" to \"Halo 5 - Map Variant\".</li>\n        <li>Removed \"{title}\" Request Parameter.</li>\n        <li>Documented \"Accept-Language\" Request Header.</li>\n    </ul>\n</div>\n",
        "operationId": "Halo-5-Map-Variant",
        "parameters": [
          {
            "description": "An ID that uniquely identifies a Map Variant.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "default": "en",
            "description": "The desired language for the Metadata.",
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain the requested Metadata.",
            "examples": {
              "application/json": "// A list of map variants for the title. There is no significance to the ordering.\n{\n  // A localized name, suitable for display to users.\n  \"name\": \"string\",\n\n  // A localized description, suitable for display to users.\n  \"description\": \"string\",\n\n  // A reference to an image. This may be null if there is no image defined.\n  \"mapImageUrl\": \"string\",\n\n  // The ID of the map this is a variant for. Maps are available via the Metadata API.\n  \"mapId\": \"guid\",\n\n  // The ID that uniquely identifies this map variant.\n  \"id\": \"guid\",\n\n  // Internal use only. Do not use.\n  \"contentId\": \"guid\"\n}\n"
            }
          },
          "404": {
            "description": "Specified Map Variant was not found."
          }
        },
        "summary": "Halo 5 - Map Variant"
      }
    },
    "/h5/metadata/maps": {
      "get": {
        "description": "<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>February 21, 2017:</strong></p>\n    <ul>\n        <li>Renamed Endpoint from \"Maps\" to \"Halo 5 - Maps\".</li>\n        <li>Removed \"{title}\" Request Parameter.</li>\n        <li>Documented \"Accept-Language\" Request Header.</li>\n    </ul>\n</div>\n",
        "operationId": "Halo-5-Maps",
        "parameters": [
          {
            "default": "en",
            "description": "The desired language for the Metadata.",
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain the requested Metadata.",
            "examples": {
              "application/json": "// A list of maps for the title. There is no significance to the ordering.\n[\n  {\n    // A localized name, suitable for display to users.\n    \"name\": \"string\",\n\n    // A localized description, suitable for display to users.\n    \"description\": \"string\",\n\n    // This lists all the game modes to which this map is available. Options are:\n    //   - Arena\n    //   - Campaign\n    //   - Custom\n    //   - Warzone\n    \"supportedGameModes\": [\n      \"string\"\n    ],\n\n    // A reference to an image. This may be null if there is no image defined.\n    \"imageUrl\": \"string\",\n\n    // The ID that uniquely identifies this map.\n    \"id\": \"guid\",\n\n    // Internal use only. Do not use.\n    \"contentId\": \"guid\"\n  }\n]\n"
            }
          }
        },
        "summary": "Halo 5 - Maps"
      }
    },
    "/h5/metadata/medals": {
      "get": {
        "description": "<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>February 21, 2017:</strong></p>\n    <ul>\n        <li>Renamed Endpoint from \"Medals\" to \"Halo 5 - Medals\".</li>\n        <li>Removed \"{title}\" Request Parameter.</li>\n        <li>Documented \"Accept-Language\" Request Header.</li>\n    </ul>\n</div>\n",
        "operationId": "Halo-5-Medals",
        "parameters": [
          {
            "default": "en",
            "description": "The desired language for the Metadata.",
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain the requested Metadata.",
            "examples": {
              "application/json": "// A list of medals for the title. There is no significance to the ordering.\n[\n  {\n    // A localized name for the medal, suitable for display to users.\n    \"name\": \"string\",\n\n    // A localized description, suitable for display to users. \n    \"description\": \"string\",\n\n    // The type of this medal. It will be one of the following options:\n    //   - Unknown\n    //   - Multi-kill\n    //   - Spree\n    //   - Style\n    //   - Vehicle\n    //   - Breakout\n    //   - Objective\n    \"classification\": \"string\",\n\n    // The anticipated difficulty, relative to all other medals of this classification.\n    // The difficulty is ordered from easiest to most difficult.\n    \"difficulty\": \"int\",\n\n    // The location on the sprite sheet for the medal.\n    \"spriteLocation\": {\n\n      // A reference to an image that contains all the sprites.\n      \"spriteSheetUri\": \"string\",\n\n      // The X coordinate where the top-left corner of the sprite is located.\n      \"left\": \"int\",\n\n      // The Y coordinate where the top-left corner of the sprite is located.\n      \"top\": \"int\",\n\n      // The width of the full sprite sheet (in pixels). The dimensions of the full sheet\n      // are included so that the sheet can be resized.\n      \"width\": \"int\",\n\n      // The height of the full sprite sheet (in pixels). The dimensions of the full\n      // sheet are included so that the sheet can be resized.\n      \"height\": \"int\",\n\n      // The width of this sprite (in pixels).\n      \"spriteWidth\": \"int\",\n\n      // The height of this sprite (in pixels).\n      \"spriteHeight\": \"int\"\n    },\n\n    // The ID that uniquely identifies this map medal.\n    \"id\": \"int\",\n\n    // Internal use only. Do not use.\n    \"contentId\": \"guid\"\n  }\n]\n"
            }
          }
        },
        "summary": "Halo 5 - Medals"
      }
    },
    "/h5/metadata/playlists": {
      "get": {
        "description": "<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>February 21, 2017:</strong></p>\n    <ul>\n        <li>Renamed Endpoint from \"Playlists\" to \"Halo 5 - Playlists\".</li>\n        <li>Removed \"{title}\" Request Parameter.</li>\n        <li>Documented \"Accept-Language\" Request Header.</li>\n    </ul>\n</div>\n",
        "operationId": "Halo-5-Playlists",
        "parameters": [
          {
            "default": "en",
            "description": "The desired language for the Metadata.",
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain the requested Metadata.",
            "examples": {
              "application/json": "// A list of playlists for the title. To determine which playlists a specific player has\n// played within, view the Service Record stats for that player. There is no significance\n// to the ordering.\n[\n  {\n    // A localized name for the playlist, suitable for display to users. The text is\n    // title cased.\n    \"name\": \"string\",\n\n    // A localized description for the playlist, suitable for display to users.\n    \"description\": \"string\",\n\n    // Indicates if a CSR (competitive skill rank) is shown for players who participate\n    // in this playlist.\n    \"isRanked\": \"boolean\",\n\n    // An image used to illustrate this playlist.\n    \"imageUrl\": \"string\",    \n\n    // The game mode played in this playlist. Options are:\n    //   - Arena\n    //   - Campaign\n    //   - Custom\n    //   - Warzone\n    \"gameMode\": \"string\",\n\n    // Indicates if this playlist is currently available for play.\n    \"isActive\": \"boolean\",\n\n    // The ID that uniquely identifies this playlist.\n    \"id\": \"guid\",\n\n    // Internal use only. Do not use.\n    \"contentId\": \"guid\"\n  }\n]\n"
            }
          }
        },
        "summary": "Halo 5 - Playlists"
      }
    },
    "/h5/metadata/requisition-packs/{id}": {
      "get": {
        "description": "<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>February 21, 2017:</strong></p>\n    <ul>\n        <li>Renamed Endpoint from \"Requisition Packs\" to \"Halo 5 - Requisition Pack\".</li>\n        <li>Removed \"{title}\" Request Parameter.</li>\n        <li>Documented \"Accept-Language\" Request Header.</li>\n    </ul>\n</div>\n",
        "operationId": "Halo-5-Requisition-Pack",
        "parameters": [
          {
            "description": "An ID that uniquely identifies a Requisition Pack.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "default": "en",
            "description": "The desired language for the Metadata.",
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain the requested Metadata.",
            "examples": {
              "application/json": "// A requisition pack for the title.\n{\n  // A localized name for the pack, suitable for display to users. The text is title\n  // cased. \n  \"name\": \"string\",\n\n  // A localized description, suitable for display to users.\n  \"description\": \"Your achievement on the field of battle will not go unrewarded.\",\n\n  // A large image for the pack.\n  \"largeImageUrl\": \"string\",\n\n  // A medium image for the pack.\n  \"mediumImageUrl\": \"string\",\n\n  // A small image for the pack.\n  \"smallImageUrl\": \"string\",\n\n  // Internal use. Whether the item should be featured ahead of others.\n  \"isFeatured\": \"boolean\",\n\n  // Internal use. Whether the item should be labeled as \"new!\"\n  \"isNew\": \"boolean\",\n\n  // If the pack is purchasable via credits, this value contains the number of credits a\n  // player must spend to acquire one pack. This value is zero when\n  // isPurchasableWithCredits is false.\n  \"creditPrice\": \"int\",\n\n  // If the pack is currently available for purchase by spending credits, then this value\n  // is true.\n  \"isPurchasableWithCredits\": \"boolean\",\n\n  // If the pack might be obtainable through the Xbox Live Marketplace, then this value\n  // is true.\n  \"isPurchasableFromMarketplace\": \"boolean\",\n\n  // If this pack might be obtainable through the Xbox Live Marketplace, this is the\n  // product ID. Note: Pricing and availability within the Xbox Live marketplace is\n  // controlled independently of this value. The presence of an Id in this field is not a\n  // guarantee the product is purchasable. There may be geographic restrictions\n  // restricting purchase in certain regions, or the item may not be currently\n  // purchasable at all.\n  \"xboxMarketplaceProductId\": \"guid\",\n\n  // If this pack might be obtainable through the Xbox Live Marketplace, this is the URL\n  // to the product.\n  \"xboxMarketplaceProductUrl\": \"string\",\n\n  // Internal use. The order in which packs are shown for merchandising purposes.\n  \"merchandisingOrder\": \"int\",\n\n  // Internal use. Indicates the visual treatment of the pack. This is one of the\n  // following options:\n  //   - None\n  //   - New\n  //   - Hot\n  //   - LeavingSoon\n  //   - MaximumValue\n  //   - LimitedTime\n  //   - Featured\n  //   - BestSeller\n  //   - Popular\n  \"flair\": \"string\",\n\n  // The ID that uniquely identifies this pack.\n  \"id\": \"guid\",\n\n  // Internal use only. Do not use.\n  \"contentId\": \"guid\"\n}\n"
            }
          },
          "404": {
            "description": "Specified Requisition Pack was not found."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Halo 5 - Requisition Pack"
      }
    },
    "/h5/metadata/requisitions/{id}": {
      "get": {
        "description": "<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>February 21, 2017:</strong></p>\n    <ul>\n        <li>Renamed Endpoint from \"Requisitions\" to \"Halo 5 - Requisition\".</li>\n        <li>Removed \"{title}\" Request Parameter.</li>\n        <li>Documented \"Accept-Language\" Request Header.</li>\n    </ul>\n</div>\n",
        "operationId": "Halo-5-Requisition",
        "parameters": [
          {
            "description": "An ID that uniquely identifies a Requisition.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "default": "en",
            "description": "The desired language for the Metadata.",
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain the requested Metadata.",
            "examples": {
              "application/json": "// A list of requisitions for the title. There is no significance to the ordering.\n[\n  {\n    // This lists all the game modes that this requisition is redeemable in. Options are:\n    //   - Arena\n    //   - Campaign\n    //   - Custom\n    //   - Warzone\n    \"supportedGameModes\": [\n      \"string\"\n    ],\n\n    // A localized name, suitable for display to users. The text is title cased.\n    \"name\": \"string\",\n\n    // A localized description, suitable for display to users.\n    \"description\": \"string\",\n\n    // The non-localized rarity. Indicates the scarcity and thus rarity of the\n    // requisition. The options are (in increasing order of rarity):\n    //   - Common\n    //   - Uncommon\n    //   - Rare\n    //   - UltraRare\n    //   - Legendary\n    \"rarityType\": \"string\",\n\n    // The localized rarity suitable for display to users. Indicates the scarcity and\n    // thus rarity of the requisition\n    \"rarity\": \"string\",\n\n    // Indicates if this requisition has been flagged as having 'mythic status'.\n    \"isMythic\": \"boolean\",\n\n    // Indicates if this item is a Certification. Certifications will always be durable\n    // and are required to earn certain other requisitions.\n    \"isCertification\": \"boolean\",\n\n    // Indicates whether the requisition is wearable.\n    \"isWearable\": \"boolean\",\n\n    // Indicates if the requisition counts towards collection completion. If true, this\n    // requisition will not be shown as unearned in the game. \n    // This behavior is typically used for specialty requisitions that aren't awarded\n    // through normal progression flows.\n    \"hideIfNotAcquired\": \"boolean\",\n\n    // Indicates how the requisition card may be used. Options are:\n    //   - Consumable\n    //   - Durable\n    //   - Boost\n    //   - CreditGranting\n    // Consumable: The requisition can be called in and used while in-game. When players\n    // call in a consumable requisition it is removed from the players inventory.\n    // Durable: The requisition is not usable in-game. Players can only earn one of each\n    // durable requisition and it is used to model awards such as armor suits, helmets,\n    // emblems or other items such as stickers. Durables are never removed from the\n    // player inventory.\n    // Boost: The requisition is used prior to a match beginning and will modify how many\n    // XP or Credits the player will earn at the end of the match. When put into effect,\n    // it is removed from the player inventory.\n    // Credit Granting: When obtained, the requisition will grant the player some amount\n    // of credits. Once the credits are granted the requisition is immediately removed\n    // from the player inventory.\n    \"useType\": \"string\",\n\n    // A reference to a large image for icon use. This may be null if there is no image\n    // defined.\n    \"largeImageUrl\": \"string\",\n\n    // A reference to a medium image for icon use. This may be null if there is no image\n    // defined.\n    \"mediumImageUrl\": \"string\",\n\n    // A reference to a small image for icon use. This may be null if there is no image\n    // defined.\n    \"smallImageUrl\": \"string\",\n\n    // A localized name for the category of the requisition, suitable for display to\n    // users. The text is title cased.\n    \"categoryName\": \"string\",\n\n    // Internal use. A non-localized name for the category of the requisition.\n    \"internalCategoryName\": \"string\",\n\n    // A localized name for the sub-category of the requisition, suitable for display to\n    // users. The text is title cased.\n    \"subcategoryName\": \"string\",\n\n    // The order of the subcategory in the category.\n    \"subcategoryOrder\": \"int\",\n\n    // This field indicates how many credits the player will receive if they wish to\n    // discard this requisition. When SellPrice is zero, the card cannot be sold back for\n    // credits.\n    \"sellPrice\": \"int\",\n\n    // The energy level required in order to use this requisition in a Warzone game.\n    \"levelRequirement\": \"int\",\n\n    // For requisitions where the useType is CreditGranting, this field indicates how\n    // many credits the player is rewarded with. When the requisition is not\n    // CreditGranting, this value is zero.\n    \"creditsAwarded\": \"int\",\n\n    // If this is set, this is the ID of the Certification Requisition that is required\n    // to earn this requisition.\n    \"certificationRequisitionId\": \"guid\",\n\n    // The ID that uniquely identifies this requisition.\n    \"id\": \"guid\",\n\n    // Internal use only. Do not use.\n    \"contentId\": \"guid\"\n  }\n]\n"
            }
          },
          "404": {
            "description": "Specified Requisition was not found."
          }
        },
        "summary": "Halo 5 - Requisition"
      }
    },
    "/h5/metadata/seasons": {
      "get": {
        "description": "<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>February 21, 2017:</strong></p>\n    <ul>\n        <li>Renamed Endpoint from \"Seasons\" to \"Halo 5 - Seasons\".</li>\n        <li>Removed \"{title}\" Request Parameter.</li>\n        <li>Documented \"Accept-Language\" Request Header.</li>\n    </ul>\n</div>\n",
        "operationId": "Halo-5-Seasons",
        "parameters": [
          {
            "default": "en",
            "description": "The desired language for the Metadata.",
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain the requested Metadata.",
            "examples": {
              "application/json": "// A list of seasons for the title. There is no significance to the ordering.\n[\n  {\n    // One or more playlists that are available in this season.\n    \"playlists\": [\n      {\n        // A localized name for the playlist, suitable for display to users. The text is\n        // title cased.\n        \"name\": \"string\",\n\n        // A localized description for the playlist, suitable for display to users.\n        \"description\": \"string\",\n\n        // Indicates if a CSR (competitive skill rank) is shown for players who\n        // participate in this playlist.\n        \"isRanked\": \"boolean\",\n\n        // An image used to illustrate this playlist.\n        \"imageUrl\": \"string\",\n\n        // The game mode played in this playlist. Options are:\n        //   - Arena\n        //   - Campaign\n        //   - Custom\n        //   - Warzone\n        \"gameMode\": \"string\",\n\n        // Indicates if this playlist is currently available for play.\n        \"isActive\": \"boolean\",\n\n        // The ID that uniquely identifies this playlist.\n        \"id\": \"guid\",\n\n        // Internal use only. Do not use.\n        \"contentId\": \"guid\"\n      }\n    ],\n\n    // An icon used to represent this season.\n    \"iconUrl\": \"string\",\n\n    // A localized name for the season, suitable for display to users.\n    \"name\": \"string\",\n\n    // The start date and time of this season. This is expressed as an ISO 8601 combined\n    // Date and Time.\n    \"startDate\": \"string\",\n\n    // The end date and time of this season. This is expressed as an ISO 8601 combined\n    // Date and Time.\n    \"endDate\": \"string\",\n\n    // Indicates if this season is currently active.\n    \"isActive\": \"boolean\",\n\n    // The ID that uniquely identifies this season.\n    \"id\": \"guid\",\n\n    // Internal use only. Do not use.\n    \"contentId\": \"guid\"\n  }\n]\n"
            }
          }
        },
        "summary": "Halo 5 - Seasons"
      }
    },
    "/h5/metadata/skulls": {
      "get": {
        "description": "<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>February 21, 2017:</strong></p>\n    <ul>\n        <li>Renamed Endpoint from \"Skulls\" to \"Halo 5 - Skulls\".</li>\n        <li>Removed \"{title}\" Request Parameter.</li>\n        <li>Documented \"Accept-Language\" Request Header.</li>\n    </ul>\n</div>\n",
        "operationId": "Halo-5-Skulls",
        "parameters": [
          {
            "default": "en",
            "description": "The desired language for the Metadata.",
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain the requested Metadata.",
            "examples": {
              "application/json": "// A list of skulls for the title. There is no significance to the ordering.\n[\n  {\n    // A localized name, suitable for display to users. The text is title cased.\n    \"name\": \"string\",\n\n    // A localized description, suitable for display to users.\n    \"description\": \"string\",\n\n    // A reference to the image for the skull.\n    \"imageUrl\": \"string\",\n\n    // Indicates what mission this skull can be located within. Null when the skull is\n    // not found in a mission. Missions are available via the Metadata API.\n    \"missionId\": \"guid\",\n\n    // The ID that uniquely identifies this skull.\n    \"id\": \"int\",\n\n    // Internal use only. Do not use.\n    \"contentId\": \"guid\"\n  }\n]\n"
            }
          }
        },
        "summary": "Halo 5 - Skulls"
      }
    },
    "/h5/metadata/spartan-ranks": {
      "get": {
        "description": "<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>February 21, 2017:</strong></p>\n    <ul>\n        <li>Renamed Endpoint from \"Spartan Ranks\" to \"Halo 5 - Spartan Ranks\".</li>\n        <li>Removed \"{title}\" Request Parameter.</li>\n        <li>Documented \"Accept-Language\" Request Header.</li>\n    </ul>\n</div>\n",
        "operationId": "Halo-5-Spartan-Ranks",
        "parameters": [
          {
            "default": "en",
            "description": "The desired language for the Metadata.",
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain the requested Metadata.",
            "examples": {
              "application/json": "// A list of Spartan Ranks for the title. There is no significance to the ordering.\n[\n  {\n    // The amount of XP required to enter this rank.\n    \"startXp\": \"int\",\n\n    // The reward the player will receive for earning this Spartan Rank.\n    \"reward\": {\n\n      // The amount of XP that will be awarded.\n      \"xp\": \"int\",\n\n      // The set of requisition packs (if any) that will be awarded.\n      \"requisitionPacks\": [\n        {\n          // A localized name for the pack, suitable for display to users. The text is\n          // title cased. \n          \"name\": \"string\",\n\n          // A localized description, suitable for display to users.\n          \"description\": \"Your achievement on the field of battle will not go unrewarded.\",\n\n          // A large image for the pack.\n          \"largeImageUrl\": \"string\",\n\n          // A medium image for the pack.\n          \"mediumImageUrl\": \"string\",\n\n          // A small image for the pack.\n          \"smallImageUrl\": \"string\",\n\n          // Internal use. Whether the item should be featured ahead of others.\n          \"isFeatured\": \"boolean\",\n\n          // Internal use. Whether the item should be labeled as \"new!\"\n          \"isNew\": \"boolean\",\n\n          // If the pack is purchasable via credits, this value contains the number of\n          // credits a player must spend to acquire one pack. This value is zero when\n          // isPurchasableWithCredits is false.\n          \"creditPrice\": \"int\",\n\n          // If the pack is currently available for purchase by spending credits, then\n          // this value is true.\n          \"isPurchasableWithCredits\": \"boolean\",\n\n          // If the pack might be obtainable through the Xbox Live Marketplace, then this\n          // value is true.\n          \"isPurchasableFromMarketplace\": \"boolean\",\n\n          // If this pack might be obtainable through the Xbox Live Marketplace, this is\n          // the product ID. Note: Pricing and availability within the Xbox Live\n          // marketplace is controlled independently of this value. The presence of an Id\n          // in this field is not a guarantee the product is purchasable. There may be\n          // geographic restrictions restricting purchase in certain regions, or the item\n          // may not be currently purchasable at all.\n          \"xboxMarketplaceProductId\": \"guid\",\n\n          // If this pack might be obtainable through the Xbox Live Marketplace, this is\n          // the URL to the product.\n          \"xboxMarketplaceProductUrl\": \"string\",\n\n          // Internal use. The order in which packs are shown for merchandising purposes.\n          \"merchandisingOrder\": \"int\",\n\n          // Internal use. Indicates the visual treatment of the pack. This is one of the\n          // following options:\n          //   - None\n          //   - New\n          //   - Hot\n          //   - LeavingSoon\n          //   - MaximumValue\n          //   - LimitedTime\n          //   - Featured\n          //   - BestSeller\n          //   - Popular\n          \"flair\": \"string\",\n\n          // The ID that uniquely identifies this pack.\n          \"id\": \"guid\",\n\n          // Internal use only. Do not use.\n          \"contentId\": \"guid\"\n        }\n      ],\n\n      // The ID that uniquely identifies this reward.\n      \"id\": \"guid\",\n\n      // Internal use only. Do not use.\n      \"contentId\": \"guid\"\n    },\n\n    // The ID that uniquely identifies this Spartan Rank. \n    \"id\": \"int\",\n\n    // Internal use only. Do not use.\n    \"contentId\": \"guid\"\n  }\n]\n"
            }
          }
        },
        "summary": "Halo 5 - Spartan Ranks"
      }
    },
    "/h5/metadata/team-colors": {
      "get": {
        "description": "<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>February 21, 2017:</strong></p>\n    <ul>\n        <li>Renamed Endpoint from \"Team Colors\" to \"Halo 5 - Team Colors\".</li>\n        <li>Removed \"{title}\" Request Parameter.</li>\n        <li>Documented \"Accept-Language\" Request Header.</li>\n    </ul>\n</div>\n",
        "operationId": "Halo-5-Team-Colors",
        "parameters": [
          {
            "default": "en",
            "description": "The desired language for the Metadata.",
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain the requested Metadata.",
            "examples": {
              "application/json": "// A listing of team colors supported in the title. There is no significance to the\n// ordering.\n[\n  {\n    // A localized name, suitable for display to users.\n    \"name\": \"string\",\n\n    // A localized description, suitable for display to users.\n    \"description\": \"string\",\n\n    // A seven-character string representing the team color in \"RGB Hex\" notation. This\n    // notation uses a \"#\" followed by a hex triplet.\n    \"color\": \"string\",\n\n    // A reference to an image for icon use. This may be null if there is no image\n    // defined.\n    \"iconUrl\": \"string\",\n\n    // The ID that uniquely identifies this color. This will be the same as the team's ID\n    // in responses from the Stats API.\n    \"id\": \"int\",\n\n    // Internal use only. Do not use.\n    \"contentId\": \"guid\"\n  }\n]\n"
            }
          }
        },
        "summary": "Halo 5 - Team Colors"
      }
    },
    "/h5/metadata/vehicles": {
      "get": {
        "description": "<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>February 21, 2017:</strong></p>\n    <ul>\n        <li>Renamed Endpoint from \"Vehicles\" to \"Halo 5 - Vehicles\".</li>\n        <li>Removed \"{title}\" Request Parameter.</li>\n        <li>Documented \"Accept-Language\" Request Header.</li>\n    </ul>\n</div>\n",
        "operationId": "Halo-5-Vehicles",
        "parameters": [
          {
            "default": "en",
            "description": "The desired language for the Metadata.",
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain the requested Metadata.",
            "examples": {
              "application/json": "// A list of vehicles for the title. There is no significance to the ordering.\n[\n  {\n    // A localized name for the object, suitable for display to users. The text is title\n    // cased.\n    \"name\": \"string\",\n\n    // A localized description, suitable for display to users.\n    \"description\": \"string\",\n\n    // A reference to a large image for icon use. This may be null if there is no image\n    // defined.\n    \"largeIconImageUrl\": \"string\",\n\n    // A reference to a small image for icon use. This may be null if there is no image\n    // defined.\n    \"smallIconImageUrl\": \"string\",\n\n    // Indicates whether the vehicle is usable by a player.\n    \"isUsableByPlayer\": \"boolean\",\n\n    // The ID that uniquely identifies this vehicle.\n    \"id\": \"int\",\n\n    // Internal use only. Do not use.\n    \"contentId\": \"guid\"\n  }\n]\n"
            }
          }
        },
        "summary": "Halo 5 - Vehicles"
      }
    },
    "/h5/metadata/weapons": {
      "get": {
        "description": "<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>February 21, 2017:</strong></p>\n    <ul>\n        <li>Renamed Endpoint from \"Weapons\" to \"Halo 5 - Weapons\".</li>\n        <li>Removed \"{title}\" Request Parameter.</li>\n        <li>Documented \"Accept-Language\" Request Header.</li>\n    </ul>\n</div>\n<div class=\"panel-body\">\n    <p><strong>April 26, 2016:</strong></p>\n    <ul>\n        <li>Corrected documentation issue. The documentation for the \"type\" field was incorrect.</li>\n    </ul>\n</div>\n",
        "operationId": "Halo-5-Weapons",
        "parameters": [
          {
            "default": "en",
            "description": "The desired language for the Metadata.",
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain the requested Metadata.",
            "examples": {
              "application/json": "// A listing of weapons supported in the title. There is no significance to the ordering.\n[\n  {\n    // A localized name for the object, suitable for display to users. The text is title\n    // cased.\n    \"name\": \"string\",\n\n    // A localized description, suitable for display to users.\n    \"description\": \"string\",\n\n    // The type of the weapon. Options are:\n    //   - Grenade\n    //   - Turret\n    //   - Vehicle\n    //   - Standard\n    //   - Power\n    \"type\": \"string\",\n\n    // A reference to a large image for icon use. This may be null if there is no image\n    // defined.\n    \"largeIconImageUrl\": \"string\",\n\n    // A reference to a small image for icon use. This may be null if there is no image\n    // defined.\n    \"smallIconImageUrl\": \"string\",\n\n    // Indicates whether the weapon is usable by a player.\n    \"isUsableByPlayer\": \"boolean\",\n\n    // The ID that uniquely identifies the weapon.\n    \"id\": \"int\",\n\n    // Internal use only. Do not use.\n    \"contentId\": \"guid\"\n  }\n]\n"
            }
          }
        },
        "summary": "Halo 5 - Weapons"
      }
    },
    "/hw2/campaign-levels": {
      "get": {
        "description": "<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>February 21, 2017:</strong></p>\n    <ul>\n        <li>Added Endpoint.</li>\n    </ul>\n</div>\n",
        "operationId": "Halo-Wars-2-Campaign-Levels",
        "parameters": [
          {
            "description": "When specified, this indicates the index of the item to start at.\n\nWhen omitted, 0 is assumed.\n\nWhen the value contains a non-digit or is not a multiple of 100, HTTP 400 (\"Bad Request\") is returned.",
            "in": "query",
            "name": "startAt",
            "type": "number"
          },
          {
            "default": "en",
            "description": "The desired language for the Metadata.",
            "in": "header",
            "name": "Accept-Language",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain the requested Metadata.",
            "examples": {
              "application/json": "{\n  // Pagination information.\n  \"Paging\": {\n\n    // Index of the first item in this response in the collection of all available items\n    // of this type.\n    \"StartAt\": \"int\",\n\n    // Count of items returned in this response.\n    \"InlineCount\": \"int\",\n\n    // Count of all available items of this type.\n    \"TotalCount\": \"int\"\n  },\n\n  // Contents.\n  \"ContentItems\": [\n    {\n      // Internal use.\n      \"Id\": \"int\",\n\n      // Name of the content type.\n      \"Type\": \"HW2CampaignLevel\",\n\n      // Contains the information for the content type.\n      \"View\": {\n\n        // Internal use.\n        \"Status\": \"Published\",\n\n        // Information common to all content types.\n        \"Common\": {\n\n          // Internal use.\n          \"Owner\": \"string\",\n\n          // Date the content was created. This is expressed as an ISO 8601 combined Date\n          // and Time.\n          \"CreatedUtc\": \"string\",\n\n          // Date the content was last modified. This is expressed as an ISO 8601\n          // combined Date and Time.\n          \"ModifiedUtc\": \"string\",\n\n          // Date the content was last published. This is expressed as an ISO 8601\n          // combined Date and Time.\n          \"PublishedUtc\": \"string\",\n\n          // Internal use.\n          \"Container\": \"int\"\n        },\n\n        // ID that identifies this content item in the Metadata API.\n        \"Identity\": \"guid\",\n\n        // Non-localized title of the content item.\n        \"Title\": \"string\",\n\n        // Information about the Campaign Level.\n        \"HW2CampaignLevel\": {\n\n          // ID used by the Game and Stats API to identify this Campaign Level.\n          \"Id\": \"int\",\n\n          // Maximum score that players can earn when completing this level (at any\n          // difficulty).\n          \"MaxScore\": \"int\",\n\n          // Critical Objectives that are available when playing this level.\n          \"CriticalObjectives\": [\n            {\n              // Internal use.\n              \"Id\": \"int\",\n\n              // Name of the content type.\n              \"Type\": \"HW2CampaignObjective\",\n\n              // Contains the information for the content type.\n              \"View\": {\n\n                // Internal use.\n                \"Status\": \"string\",\n\n                // Information common to all content types.\n                \"Common\": {\n\n                  // Internal use.\n                  \"Owner\": \"string\",\n\n                  // Date the content was created. This is expressed as an ISO 8601\n                  // combined Date and Time.\n                  \"CreatedUtc\": \"string\",\n\n                  // Date the content was last modified. This is expressed as an ISO 8601\n                  // combined Date and Time.\n                  \"ModifiedUtc\": \"string\",\n\n                  // Date the content was last published. This is expressed as an ISO\n                  // 8601 combined Date and Time.\n                  \"PublishedUtc\": \"string\",\n\n                  // Internal use.\n                  \"Container\": \"int\"\n                },\n\n                // ID that identifies this content item in the Metadata API.\n                \"Identity\": \"guid\",\n\n                // Non-localized title of the content item.\n                \"Title\": \"string\",\n\n                // Information about the Campaign Objective.\n                \"HW2CampaignObjective\": {\n\n                  // ID used by the Game and Stats API to identify this Campaign\n                  // Objective.\n                  \"Id\": \"int\"\n                }\n              }\n            }\n          ],\n\n          // Bonus Objectives that are available when playing this level.\n          \"BonusObjectives\": [\n            {\n              // Internal use.\n              \"Id\": \"int\",\n\n              // Name of the content type.\n              \"Type\": \"HW2CampaignObjective\",\n\n              // Contains the information for the content type.\n              \"View\": {\n\n                // Internal use.\n                \"Status\": \"string\",\n\n                // Information common to all content types.\n                \"Common\": {\n\n                  // Internal use.\n                  \"Owner\": \"string\",\n\n                  // Date the content was created. This is expressed as an ISO 8601\n                  // combined Date and Time.\n                  \"CreatedUtc\": \"string\",\n\n                  // Date the content was last modified. This is expressed as an ISO 8601\n                  // combined Date and Time.\n                  \"ModifiedUtc\": \"string\",\n\n                  // Date the content was last published. This is expressed as an ISO\n                  // 8601 combined Date and Time.\n                  \"PublishedUtc\": \"string\",\n\n                  // Internal use.\n                  \"Container\": \"int\"\n                },\n\n                // ID that identifies this content item in the Metadata API.\n                \"Identity\": \"guid\",\n\n                // Non-localized title of the content item.\n                \"Title\": \"string\",\n\n                // Information about the Campaign Objective.\n                \"HW2CampaignObjective\": {\n\n                  // ID used by the Game and Stats API to identify this Campaign\n                  // Objective.\n                  \"Id\": \"int\"\n                }\n              }\n            }\n          ],\n\n          // Optional objectives that are available when playing this level.\n          \"OptionalObjectives\": [\n            {\n              // Internal use.\n              \"Id\": \"int\",\n\n              // Name of the content type.\n              \"Type\": \"HW2CampaignObjective\",\n\n              // Contains the information for the content type.\n              \"View\": {\n\n                // Internal use.\n                \"Status\": \"string\",\n\n                // Information common to all content types.\n                \"Common\": {\n\n                  // Internal use.\n                  \"Owner\": \"string\",\n\n                  // Date the content was created. This is expressed as an ISO 8601\n                  // combined Date and Time.\n                  \"CreatedUtc\": \"string\",\n\n                  // Date the content was last modified. This is expressed as an ISO 8601\n                  // combined Date and Time.\n                  \"ModifiedUtc\": \"string\",\n\n                  // Date the content was last published. This is expressed as an ISO\n                  // 8601 combined Date and Time.\n                  \"PublishedUtc\": \"string\",\n\n                  // Internal use.\n                  \"Container\": \"int\"\n                },\n\n                // ID that identifies this content item in the Metadata API.\n                \"Identity\": \"guid\",\n\n                // Non-localized title of the content item.\n                \"Title\": \"string\",\n\n                // Information about the Campaign Objective.\n                \"HW2CampaignObjective\": {\n\n                  // ID used by the Game and Stats API to identify this Campaign\n                  // Objective.\n                  \"Id\": \"int\"\n                }\n              }\n            }\n          ],\n\n          // Skulls that can be unlocked by playing this level.\n          \"Skulls\": [\n            {\n              // Internal use.\n              \"Id\": \"int\",\n\n              // Name of the content type.\n              \"Type\": \"HW2Skull\",\n\n              // Contains the information for the content type.\n              \"View\": {\n\n                // Internal use.\n                \"Status\": \"string\",\n\n                // Information common to all content types.\n                \"Common\": {\n\n                  // Internal use.\n                  \"Owner\": \"string\",\n\n                  // Date the content was created. This is expressed as an ISO 8601\n                  // combined Date and Time.\n                  \"CreatedUtc\": \"string\",\n\n                  // Date the content was last modified. This is expressed as an ISO 8601\n                  // combined Date and Time.\n                  \"ModifiedUtc\": \"string\",\n\n                  // Date the content was last published. This is expressed as an ISO\n                  // 8601 combined Date and Time.\n                  \"PublishedUtc\": \"string\",\n\n                  // Internal use.\n                  \"Container\": \"int\"\n                },\n\n                // ID that identifies this content item in the Metadata API.\n                \"Identity\": \"guid\",\n\n                // Non-localized title of the content item.\n                \"Title\": \"string\",\n\n                // Information about the Skull.\n                \"HW2Skull\": {\n\n                  // ID used by the Game and Stats API to identify this Skull.\n                  \"Id\": \"int\"\n                }\n              }\n            }\n          ],\n\n          // Packs that are awarded upon the first completion of this level (at any\n          // difficulty).\n          \"AwardedPacks\": [\n            {\n              // Internal use.\n              \"Id\": \"int\",\n\n              // Name of the content type.\n              \"Type\": \"HW2Pack\",\n\n              // Contains the information for the content type.\n              \"View\": {\n\n                // Internal use.\n                \"Status\": \"string\",\n\n                // Information common to all content types.\n                \"Common\": {\n\n                  // Internal use.\n                  \"Owner\": \"string\",\n\n                  // Date the content was created. This is expressed as an ISO 8601\n                  // combined Date and Time.\n                  \"CreatedUtc\": \"string\",\n\n                  // Date the content was last modified. This is expressed as an ISO 8601\n                  // combined Date and Time.\n                  \"ModifiedUtc\": \"string\",\n\n                  // Date the content was last published. This is expressed as an ISO\n                  // 8601 combined Date and Time.\n                  \"PublishedUtc\": \"string\",\n\n                  // Internal use.\n                  \"Container\": \"int\"\n                },\n\n                // ID that identifies this content item in the Metadata API.\n                \"Identity\": \"guid\",\n\n                // Non-localized title of the content item.\n                \"Title\": \"string\",\n\n                // Information about the Pack.\n                \"HW2Pack\": {\n\n                  // Internal use.\n                  \"HW2PackRules\": [\n                    {\n                      \"Id\": \"int\",\n\n                      \"Type\": \"string\",\n\n                      \"Identity\": \"guid\"\n                    }\n                  ],\n\n                  // Image of the front of the Pack that is suitable for HD resolutions.\n                  \"FrontImageHD\": {\n\n                    // Internal use.\n                    \"Id\": \"int\",\n\n                    // Name of the content type.\n                    \"Type\": \"Image\",\n\n                    // Contains the information for the content type.\n                    \"View\": {\n\n                      // Internal use.\n                      \"Status\": \"string\",\n\n                      // Information common to all content types.\n                      \"Common\": {\n\n                        // Internal use.\n                        \"Owner\": \"string\",\n\n                        // Date the content was created. This is expressed as an ISO 8601\n                        // combined Date and Time.\n                        \"CreatedUtc\": \"string\",\n\n                        // Date the content was last modified. This is expressed as an\n                        // ISO 8601 combined Date and Time.\n                        \"ModifiedUtc\": \"string\",\n\n                        // Date the content was last published. This is expressed as an\n                        // ISO 8601 combined Date and Time.\n                        \"PublishedUtc\": \"string\",\n\n                        // Internal use.\n                        \"Container\": \"int\"\n                      },\n\n                      // ID that identifies this content item in the Metadata API.\n                      \"Identity\": \"guid\",\n\n                      // Non-localized title of the content item.\n                      \"Title\": \"string\",\n\n                      // Information about the location of the Image.\n                      \"Media\": {\n\n                        // URL of the Image.\n                        \"MediaUrl\": \"string\",\n\n                        // Type of the Image.\n                        \"MimeType\": \"string\",\n\n                        // Caption for the Image.\n                        \"Caption\": \"string\",\n\n                        // Alternate text for the Image.\n                        \"AlternateText\": \"string\",\n\n                        // Internal use.\n                        \"FolderPath\": \"string\",\n\n                        // Internal use.\n                        \"FileName\": \"string\"\n                      },\n\n                      // Information about the Image.\n                      \"Image\": {\n\n                        // Width of the Image.\n                        \"Width\": \"int\",\n\n                        // Height of the image.\n                        \"Height\": \"int\"\n                      }\n                    }\n                  },\n\n                  // Image of the back of the Pack that is suitable for HD resolutions.\n                  \"BackImageHD\": {\n\n                    // Internal use.\n                    \"Id\": \"int\",\n\n                    // Name of the content type.\n                    \"Type\": \"Image\",\n\n                    // Contains the information for the content type.\n                    \"View\": {\n\n                      // Internal use.\n                      \"Status\": \"string\",\n\n                      // Information common to all content types.\n                      \"Common\": {\n\n                        // Internal use.\n                        \"Owner\": \"string\",\n\n                        // Date the content was created. This is expressed as an ISO 8601\n                        // combined Date and Time.\n                        \"CreatedUtc\": \"string\",\n\n                        // Date the content was last modified. This is expressed as an\n                        // ISO 8601 combined Date and Time.\n                        \"ModifiedUtc\": \"string\",\n\n                        // Date the content was last published. This is expressed as an\n                        // ISO 8601 combined Date and Time.\n                        \"PublishedUtc\": \"string\",\n\n                        // Internal use.\n                        \"Container\": \"int\"\n                      },\n\n                      // ID that identifies this content item in the Metadata API.\n                      \"Identity\": \"guid\",\n\n                      // Non-localized title of the content item.\n                      \"Title\": \"string\",\n\n                      // Information about the location of the Image.\n                      \"Media\": {\n\n                        // URL of the Image.\n                        \"MediaUrl\": \"string\",\n\n                        // Type of the Image.\n                        \"MimeType\": \"string\",\n\n                        // Caption for the Image.\n                        \"Caption\": \"string\",\n\n                        // Alternate text for the Image.\n                        \"AlternateText\": \"string\",\n\n                        // Internal use.\n                        \"FolderPath\": \"string\",\n\n                        // Internal use.\n                        \"FileName\": \"string\"\n                      },\n\n                      // Information about the Image.\n                      \"Image\": {\n\n                        // Width of the Image.\n                        \"Width\": \"int\",\n\n                        // Height of the image.\n                        \"Height\": \"int\"\n                      }\n                    }\n                  },\n\n                  // Image for use when the Pack is highlighted that is suitable for HD\n                  // resolutions.\n                  \"HighlightImageHD\": {\n\n                    // Internal use.\n                    \"Id\": \"int\",\n\n                    // Name of the content type.\n                    \"Type\": \"Image\",\n\n                    // Contains the information for the content type.\n                    \"View\": {\n\n                      // Internal use.\n                      \"Status\": \"string\",\n\n                      // Information common to all content types.\n                      \"Common\": {\n\n                        // Internal use.\n                        \"Owner\": \"string\",\n\n                        // Date the content was created. This is expressed as an ISO 8601\n                        // combined Date and Time.\n                        \"CreatedUtc\": \"string\",\n\n                        // Date the content was last modified. This is expressed as an\n                        // ISO 8601 combined Date and Time.\n                        \"ModifiedUtc\": \"string\",\n\n                        // Date the content was last published. This is expressed as an\n                        // ISO 8601 combined Date and Time.\n                        \"PublishedUtc\": \"string\",\n\n                        // Internal use.\n                        \"Container\": \"int\"\n                      },\n\n                      // ID that identifies this content item in the Metadata API.\n                      \"Identity\": \"guid\",\n\n                      // Non-localized title of the content item.\n                      \"Title\": \"string\",\n\n                      // Information about the location of the Image.\n                      \"Media\": {\n\n                        // URL of the Image.\n                        \"MediaUrl\": \"string\",\n\n                        // Type of the Image.\n                        \"MimeType\": \"string\",\n\n                        // Caption for the Image.\n                        \"Caption\": \"string\",\n\n                        // Alternate text for the Image.\n                        \"AlternateText\": \"string\",\n\n                        // Internal use.\n                        \"FolderPath\": \"string\",\n\n                        // Internal use.\n                        \"FileName\": \"string\"\n                      },\n\n                      // Information about the Image.\n                      \"Image\": {\n\n                        // Width of the Image.\n                        \"Width\": \"int\",\n\n                        // Height of the image.\n                        \"Height\": \"int\"\n                      }\n                    }\n                  },\n\n                  // Image of the front of the Pack that is suitable for 4K resolutions.\n                  \"FrontImage4K\": {\n\n                    // Internal use.\n                    \"Id\": \"int\",\n\n                    // Name of the content type.\n                    \"Type\": \"Image\",\n\n                    // Contains the information for the content type.\n                    \"View\": {\n\n                      // Internal use.\n                      \"Status\": \"string\",\n\n                      // Information common to all content types.\n                      \"Common\": {\n\n                        // Internal use.\n                        \"Owner\": \"string\",\n\n                        // Date the content was created. This is expressed as an ISO 8601\n                        // combined Date and Time.\n                        \"CreatedUtc\": \"string\",\n\n                        // Date the content was last modified. This is expressed as an\n                        // ISO 8601 combined Date and Time.\n                        \"ModifiedUtc\": \"string\",\n\n                        // Date the content was last published. This is expressed as an\n                        // ISO 8601 combined Date and Time.\n                        \"PublishedUtc\": \"string\",\n\n                        // Internal use.\n                        \"Container\": \"int\"\n                      },\n\n                      // ID that identifies this content item in the Metadata API.\n                      \"Identity\": \"guid\",\n\n                      // Non-localized title of the content item.\n                      \"Title\": \"string\",\n\n                      // Information about the location of the Image.\n                      \"Media\": {\n\n                        // URL of the Image.\n                        \"MediaUrl\": \"string\",\n\n                        // Type of the Image.\n                        \"MimeType\": \"string\",\n\n                        // Caption for the Image.\n                        \"Caption\": \"string\",\n\n                        // Alternate text for the Image.\n                        \"AlternateText\": \"string\",\n\n                        // Internal use.\n                        \"FolderPath\": \"string\",\n\n                        // Internal use.\n                        \"FileName\": \"string\"\n                      },\n\n                      // Information about the Image.\n                      \"Image\": {\n\n                        // Width of the Image.\n                        \"Width\": \"int\",\n\n                        // Height of the image.\n                        \"Height\": \"int\"\n                      }\n                    }\n                  },\n\n                  // Image of the back of the Pack that is suitable for 4K resolutions.\n                  \"BackImage4K\": {\n\n                    // Internal use.\n                    \"Id\": \"int\",\n\n                    // Name of the content type.\n                    \"Type\": \"Image\",\n\n                    // Contains the information for the content type.\n                    \"View\": {\n\n                      // Internal use.\n                      \"Status\": \"string\",\n\n                      // Information common to all content types.\n                      \"Common\": {\n\n                        // Internal use.\n                        \"Owner\": \"string\",\n\n                        // Date the content was created. This is expressed as an ISO 8601\n                        // combined Date and Time.\n                        \"CreatedUtc\": \"string\",\n\n                        // Date the content was last modified. This is expressed as an\n                        // ISO 8601 combined Date and Time.\n                        \"ModifiedUtc\": \"string\",\n\n                        // Date the content was last published. This is expressed as an\n                        // ISO 8601 combined Date and Time.\n                        \"PublishedUtc\": \"string\",\n\n                        // Internal use.\n                        \"Container\": \"int\"\n                      },\n\n                      // ID that identifies this content item in the Metadata API.\n                      \"Identity\": \"guid\",\n\n                      // Non-localized title of the content item.\n                      \"Title\": \"string\",\n\n                      // Information about the location of the Image.\n                      \"Media\": {\n\n                        // URL of the Image.\n                        \"MediaUrl\": \"string\",\n\n                        // Type of the Image.\n                        \"MimeType\": \"string\",\n\n                        // Caption for the Image.\n                        \"Caption\": \"string\",\n\n                        // Alternate text for the Image.\n                        \"AlternateText\": \"string\",\n\n                        // Internal use.\n                        \"FolderPath\": \"string\",\n\n                        // Internal use.\n                        \"FileName\": \"string\"\n                      },\n\n                      // Information about the Image.\n                      \"Image\": {\n\n                        // Width of the Image.\n                        \"Width\": \"int\",\n\n                        // Height of the image.\n                        \"Height\": \"int\"\n                      }\n                    }\n                  },\n\n                  // Image for use when the Pack is highlighted that is suitable for 4K\n                  // resolutions.\n                  \"HighlightImage4K\": {\n\n                    // Internal use.\n                    \"Id\": \"int\",\n\n                    // Name of the content type.\n                    \"Type\": \"Image\",\n\n                    // Contains the information for the content type.\n                    \"View\": {\n\n                      // Internal use.\n                      \"Status\": \"string\",\n\n                      // Information common to all content types.\n                      \"Common\": {\n\n                        // Internal use.\n                        \"Owner\": \"string\",\n\n                        // Date the content was created. This is expressed as an ISO 8601\n                        // combined Date and Time.\n                        \"CreatedUtc\": \"string\",\n\n                        // Date the content was last modified. This is expressed as an\n                        // ISO 8601 combined Date and Time.\n                        \"ModifiedUtc\": \"string\",\n\n                        // Date the content was last published.
[...]
