swagger: "2.0"
schemes:
  - https
host: www.haloapi.com
basePath: /metadata
info:
  contact:
    x-twitter: halo
  description: API that provides Metadata information.
  title: Metadata
  version: "1.0"
  x-apisguru-categories:
    - entertainment
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_commons_d_d7_Halo_%28series%29_logo.svg
  x-origin:
    - format: swagger
      url: https://developer.haloapi.com/docs/services/58ace18c21091812784ce8c5/export?DocumentFormat=Swagger
      version: "2.0"
    - format: swagger
      url: https://developer.haloapi.com/docs/services/58ace18c21091812784ce8c5/export?DocumentFormat=Swagger
      version: "2.0"
  x-providerName: haloapi.com
  x-serviceName: metadata
securityDefinitions:
  apiKeyHeader:
    in: header
    name: Ocp-Apim-Subscription-Key
    type: apiKey
  apiKeyQuery:
    in: query
    name: subscription-key
    type: apiKey
security:
  - apiKeyHeader: []
  - apiKeyQuery: []
tags: []
paths:
  /h5/metadata/campaign-missions:
    get:
      description: |
        <br />
        <h4>Changelog</h4>
        <div class="panel-body">
            <p><strong>February 21, 2017:</strong></p>
            <ul>
                <li>Renamed Endpoint from "Campaign Missions" to "Halo 5 - Campaign Missions".</li>
                <li>Removed "{title}" Request Parameter.</li>
                <li>Documented "Accept-Language" Request Header.</li>
            </ul>
        </div>
      operationId: Halo-5-Campaign-Missions
      parameters:
        - default: en
          description: The desired language for the Metadata.
          in: header
          name: Accept-Language
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The response body will contain the requested Metadata.
          examples:
            application/json: |
              // A listing of campaign missions supported in the title. There is no significance to the
              // ordering.
              [
                {
                  // The order of the mission in the story. The first mission is #1.
                  "missionNumber": "int",

                  // A localized name suitable for display.
                  "name": "string",

                  // A localized description, suitable for display to users.
                  "description": "string",

                  // An image that is used as the background art for this mission.
                  "imageUrl": "string",

                  // The team for the mission. One of the following values:
                  //   - BlueTeam
                  //   - OsirisTeam
                  "type": "string",

                  // The ID that uniquely identifies this campaign mission.
                  "id": "guid",

                  // Internal use only. Do not use.
                  "contentId": "guid"
                }
              ]
      summary: Halo 5 - Campaign Missions
  /h5/metadata/commendations:
    get:
      description: |
        <br />
        <h4>Changelog</h4>
        <div class="panel-body">
            <p><strong>February 21, 2017:</strong></p>
            <ul>
                <li>Renamed Endpoint from "Commendations" to "Halo 5 - Commendations".</li>
                <li>Removed "{title}" Request Parameter.</li>
                <li>Documented "Accept-Language" Request Header.</li>
            </ul>
        </div>
      operationId: Halo-5-Commendations
      parameters:
        - default: en
          description: The desired language for the Metadata.
          in: header
          name: Accept-Language
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The response body will contain the requested Metadata.
          examples:
            application/json: |
              // A list of commendations for the title. There is no significance to the ordering.
              [
                {
                  // Indicates the type of commendation. This is one of the two following options:
                  //   - "Progressive"
                  //   - "Meta"
                  // Progressive commendations have a series of increasingly difficult thresholds
                  // (levels) a player must cross to receive increasingly greater rewards.
                  // Meta commendations are unlocked when a player has completed one or more other
                  // commendation levels. We model this by giving meta commendations one level with
                  // dependencies rather than a threshold.
                  "type": "string",

                  // A localized name for the commendation, suitable for display to users. The text is
                  // title cased. 
                  "name": "string",

                  // A localized description, suitable for display to users.
                  "description": "string",

                  // An image that is used as the icon for this commendation.
                  "iconImageUrl": "string",

                  // One or more levels that model what a player must do to earn rewards and complete
                  // the commendation.
                  "levels": [
                    {
                      // The reward the player will receive for earning this level.
                      "reward": {

                        // The amount of XP that will be awarded.
                        "xp": "int",

                        // The set of requisition packs (if any) that will be awarded.
                        "requisitionPacks": [
                          {
                            // A localized name for the pack, suitable for display to users. The text
                            // is title cased. 
                            "name": "string",

                            // A localized description, suitable for display to users.
                            "description": "string",

                            // A large image for the pack.
                            "largeImageUrl": "string",

                            // A medium image for the pack.
                            "mediumImageUrl": "string",

                            // A small image for the pack.
                            "smallImageUrl": "string",

                            // Internal use. Whether the item should be featured ahead of others.
                            "isFeatured": "boolean",

                            // Internal use. Whether the item should be labeled as "new!"
                            "isNew": "boolean",

                            // If the pack is purchasable via credits, this value contains the number
                            // of credits a player must spend to acquire one pack. This value is zero
                            // when isPurchasableWithCredits is false.
                            "creditPrice": "int",

                            // If the pack is currently available for purchase by spending credits,
                            // then this value is true.
                            "isPurchasableWithCredits": "boolean",

                            // If the pack might be obtainable through the Xbox Live Marketplace, then
                            // this value is true.
                            "isPurchasableFromMarketplace": "boolean",

                            // If this pack might be obtainable through the Xbox Live Marketplace, this
                            // is the product ID. Note: Pricing and availability within the Xbox Live
                            // marketplace is controlled independently of this value. The presence of
                            // an Id in this field is not a guarantee the product is purchasable. There
                            // may be geographic restrictions restricting purchase in certain regions,
                            // or the item may not be currently purchasable at all.
                            "xboxMarketplaceProductId": "guid",

                            // If this pack might be obtainable through the Xbox Live Marketplace, this
                            // is the URL to the product.
                            "xboxMarketplaceProductUrl": "string",

                            // Internal use. The order in which packs are shown for merchandising
                            // purposes.
                            "merchandisingOrder": "int",

                            // Internal use. Indicates the visual treatment of the pack. This is one of
                            // the following options:
                            //   - None
                            //   - New
                            //   - Hot
                            //   - LeavingSoon
                            //   - MaximumValue
                            //   - LimitedTime
                            //   - Featured
                            //   - BestSeller
                            //   - Popular
                            "flair": "string",

                            // The ID that uniquely identifies this pack.
                            "id": "guid",

                            // Internal use only. Do not use.
                            "contentId": "guid"
                          }
                        ],

                        // The ID that uniquely identifies this reward.
                        "id": "guid",

                        // Internal use only. Do not use.
                        "contentId": "guid"
                      },

                      // For progressive commendations this indicates the threshold that the player
                      // must meet or exceed to consider the commendation level "completed". For meta
                      // commendations, this value is always zero.
                      "threshold": "int",

                      // The ID that uniquely identifies this commendation level.
                      "id": "guid",

                      // Internal use only. Do not use.
                      "contentId": "guid"
                    }
                  ],

                  // For meta commendations, the commendation is considered "completed" when all
                  // required levels have been "completed". This list contains one or more Level Ids
                  // from other commendations. For progressive commendations, this list is empty.
                  "requiredLevels": [
                    {
                      // The threshold that the player must meet or exceed in order to consider the
                      // level requirement met.
                      "threshold": "int",

                      // The ID of the commendation level that must be met in order to consider the
                      // level requirement met.
                      "id": "guid",

                      // Internal use only. Do not use.
                      "contentId": "guid"
                    }
                  ],

                  // The reward the player will receive for earning this commendation.
                  "reward": {

                    // The amount of XP that will be awarded.
                    "xp": "int",

                    // The set of requisition packs (if any) that will be awarded.
                    "requisitionPacks": [
                      {
                        // A localized name for the pack, suitable for display to users. The text is
                        // title cased. 
                        "name": "string",

                        // A localized description, suitable for display to users.
                        "description": "Your achievement on the field of battle will not go unrewarded.",

                        // A large image for the pack.
                        "largeImageUrl": "string",

                        // A medium image for the pack.
                        "mediumImageUrl": "string",

                        // A small image for the pack.
                        "smallImageUrl": "string",

                        // Internal use. Whether the item should be featured ahead of others.
                        "isFeatured": "boolean",

                        // Internal use. Whether the item should be labeled as "new!"
                        "isNew": "boolean",

                        // If the pack is purchasable via credits, this value contains the number of
                        // credits a player must spend to acquire one pack. This value is zero when
                        // isPurchasableWithCredits is false.
                        "creditPrice": "int",

                        // If the pack is currently available for purchase by spending credits, then
                        // this value is true.
                        "isPurchasableWithCredits": "boolean",

                        // If the pack might be obtainable through the Xbox Live Marketplace, then this
                        // value is true.
                        "isPurchasableFromMarketplace": "boolean",

                        // If this pack might be obtainable through the Xbox Live Marketplace, this is
                        // the product ID. Note: Pricing and availability within the Xbox Live
                        // marketplace is controlled independently of this value. The presence of an Id
                        // in this field is not a guarantee the product is purchasable. There may be
                        // geographic restrictions restricting purchase in certain regions, or the item
                        // may not be currently purchasable at all.
                        "xboxMarketplaceProductId": "guid",

                        // If this pack might be obtainable through the Xbox Live Marketplace, this is
                        // the URL to the product.
                        "xboxMarketplaceProductUrl": "string",

                        // Internal use. The order in which packs are shown for merchandising purposes.
                        "merchandisingOrder": "int",

                        // Internal use. Indicates the visual treatment of the pack. This is one of the
                        // following options:
                        //   - None
                        //   - New
                        //   - Hot
                        //   - LeavingSoon
                        //   - MaximumValue
                        //   - LimitedTime
                        //   - Featured
                        //   - BestSeller
                        //   - Popular
                        "flair": "string",

                        // The ID that uniquely identifies this pack.
                        "id": "guid",

                        // Internal use only. Do not use.
                        "contentId": "guid"
                      }
                    ],

                    // The ID that uniquely identifies this reward.
                    "id": "guid",

                    // Internal use only. Do not use.
                    "contentId": "guid"
                  },

                  // Information about how this commendation should be categorized when shown to users.
                  "category": {

                    // A localized name for the category, suitable for display to users. The text is
                    // title cased.
                    "name": "string",

                    // An image that is used as the icon for this category.
                    "iconImageUrl": "string",

                    // Internal use. The order in which the category should be displayed relative to
                    // other categories. The lower the value, the more important the category - more
                    // important categories should be shown before or ahead of less important
                    // categories.
                    "order": "int",

                    // The ID that uniquely identifies this category.
                    "id": "guid",

                    // Internal use only. Do not use.
                    "contentId": "guid"
                  },

                  // Whether this commendation is enabled or not.
                  "enabled": "boolean",

                  // The ID that uniquely identifies this commendation.
                  "id": "guid",

                    // Internal use only. Do not use.
                  "contentId": "guid"
                }
              ]
      summary: Halo 5 - Commendations
  /h5/metadata/company-commendations:
    get:
      description: |
        <br />
        <h4>Changelog</h4>
        <div class="panel-body">
            <p><strong>August 15, 2018:</strong></p>
            <ul>
                <li>Added Endpoint.</li>
            </ul>
        </div>
      operationId: Halo-5-Company-Commendations
      parameters:
        - default: en
          description: The desired language for the Metadata.
          in: header
          name: Accept-Language
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The response body will contain the requested Metadata.
          examples:
            application/json: |
              // A list of commendations for the title. There is no significance to the ordering.
              [
                {
                  // Indicates the type of commendation. This is one of the two following options:
                  //   - "Progressive"
                  //   - "Meta"
                  // Progressive commendations have a series of increasingly difficult thresholds
                  // (levels) a player must cross to receive increasingly greater rewards.
                  // Meta commendations are unlocked when a player has completed one or more other
                  // commendation levels. We model this by giving meta commendations one level with
                  // dependencies rather than a threshold.
                  "type": "string",

                  // A localized name for the commendation, suitable for display to users. The text is
                  // title cased. 
                  "name": "string",

                  // A localized description, suitable for display to users.
                  "description": "string",

                  // An image that is used as the icon for this commendation.
                  "iconImageUrl": "string",

                  // One or more levels that model what a player must do to earn rewards and complete
                  // the commendation.
                  "levels": [
                    {
                      // The reward the player will receive for earning this level.
                      "reward": {

                        // The amount of XP that will be awarded.
                        "xp": "int",

                        // The set of requisition packs (if any) that will be awarded.
                        "requisitionPacks": [
                          {
                            // A localized name for the pack, suitable for display to users. The text
                            // is title cased. 
                            "name": "string",

                            // A localized description, suitable for display to users.
                            "description": "string",

                            // A large image for the pack.
                            "largeImageUrl": "string",

                            // A medium image for the pack.
                            "mediumImageUrl": "string",

                            // A small image for the pack.
                            "smallImageUrl": "string",

                            // Internal use. Whether the item should be featured ahead of others.
                            "isFeatured": "boolean",

                            // Internal use. Whether the item should be labeled as "new!"
                            "isNew": "boolean",

                            // If the pack is purchasable via credits, this value contains the number
                            // of credits a player must spend to acquire one pack. This value is zero
                            // when isPurchasableWithCredits is false.
                            "creditPrice": "int",

                            // If the pack is currently available for purchase by spending credits,
                            // then this value is true.
                            "isPurchasableWithCredits": "boolean",

                            // If the pack might be obtainable through the Xbox Live Marketplace, then
                            // this value is true.
                            "isPurchasableFromMarketplace": "boolean",

                            // If this pack might be obtainable through the Xbox Live Marketplace, this
                            // is the product ID. Note: Pricing and availability within the Xbox Live
                            // marketplace is controlled independently of this value. The presence of
                            // an Id in this field is not a guarantee the product is purchasable. There
                            // may be geographic restrictions restricting purchase in certain regions,
                            // or the item may not be currently purchasable at all.
                            "xboxMarketplaceProductId": "guid",

                            // If this pack might be obtainable through the Xbox Live Marketplace, this
                            // is the URL to the product.
                            "xboxMarketplaceProductUrl": "string",

                            // Internal use. The order in which packs are shown for merchandising
                            // purposes.
                            "merchandisingOrder": "int",

                            // Internal use. Indicates the visual treatment of the pack. This is one of
                            // the following options:
                            //   - None
                            //   - New
                            //   - Hot
                            //   - LeavingSoon
                            //   - MaximumValue
                            //   - LimitedTime
                            //   - Featured
                            //   - BestSeller
                            //   - Popular
                            "flair": "string",

                            // The ID that uniquely identifies this pack.
                            "id": "guid",

                            // Internal use only. Do not use.
                            "contentId": "guid"
                          }
                        ],

                        // The ID that uniquely identifies this reward.
                        "id": "guid",

                        // Internal use only. Do not use.
                        "contentId": "guid"
                      },

                      // For progressive commendations this indicates the threshold that the player
                      // must meet or exceed to consider the commendation level "completed". For meta
                      // commendations, this value is always zero.
                      "threshold": "int",

                      // The ID that uniquely identifies this commendation level.
                      "id": "guid",

                      // Internal use only. Do not use.
                      "contentId": "guid"
                    }
                  ],

                  // For meta commendations, the commendation is considered "completed" when all
                  // required levels have been "completed". This list contains one or more Level Ids
                  // from other commendations. For progressive commendations, this list is empty.
                  "requiredLevels": [
                    {
                      // The threshold that the player must meet or exceed in order to consider the
                      // level requirement met.
                      "threshold": "int",

                      // The ID of the commendation level that must be met in order to consider the
                      // level requirement met.
                      "id": "guid",

                      // Internal use only. Do not use.
                      "contentId": "guid"
                    }
                  ],

                  // The reward the player will receive for earning this commendation.
                  "reward": {

                    // The amount of XP that will be awarded.
                    "xp": "int",

                    // The set of requisition packs (if any) that will be awarded.
                    "requisitionPacks": [
                      {
                        // A localized name for the pack, suitable for display to users. The text is
                        // title cased. 
                        "name": "string",

                        // A localized description, suitable for display to users.
                        "description": "Your achievement on the field of battle will not go unrewarded.",

                        // A large image for the pack.
                        "largeImageUrl": "string",

                        // A medium image for the pack.
                        "mediumImageUrl": "string",

                        // A small image for the pack.
                        "smallImageUrl": "string",

                        // Internal use. Whether the item should be featured ahead of others.
                        "isFeatured": "boolean",

                        // Internal use. Whether the item should be labeled as "new!"
                        "isNew": "boolean",

                        // If the pack is purchasable via credits, this value contains the number of
                        // credits a player must spend to acquire one pack. This value is zero when
                        // isPurchasableWithCredits is false.
                        "creditPrice": "int",

                        // If the pack is currently available for purchase by spending credits, then
                        // this value is true.
                        "isPurchasableWithCredits": "boolean",

                        // If the pack might be obtainable through the Xbox Live Marketplace, then this
                        // value is true.
                        "isPurchasableFromMarketplace": "boolean",

                        // If this pack might be obtainable through the Xbox Live Marketplace, this is
                        // the product ID. Note: Pricing and availability within the Xbox Live
                        // marketplace is controlled independently of this value. The presence of an Id
                        // in this field is not a guarantee the product is purchasable. There may be
                        // geographic restrictions restricting purchase in certain regions, or the item
                        // may not be currently purchasable at all.
                        "xboxMarketplaceProductId": "guid",

                        // If this pack might be obtainable through the Xbox Live Marketplace, this is
                        // the URL to the product.
                        "xboxMarketplaceProductUrl": "string",

                        // Internal use. The order in which packs are shown for merchandising purposes.
                        "merchandisingOrder": "int",

                        // Internal use. Indicates the visual treatment of the pack. This is one of the
                        // following options:
                        //   - None
                        //   - New
                        //   - Hot
                        //   - LeavingSoon
                        //   - MaximumValue
                        //   - LimitedTime
                        //   - Featured
                        //   - BestSeller
                        //   - Popular
                        "flair": "string",

                        // The ID that uniquely identifies this pack.
                        "id": "guid",

                        // Internal use only. Do not use.
                        "contentId": "guid"
                      }
                    ],

                    // The ID that uniquely identifies this reward.
                    "id": "guid",

                    // Internal use only. Do not use.
                    "contentId": "guid"
                  },

                  // Information about how this commendation should be categorized when shown to users.
                  "category": {

                    // A localized name for the category, suitable for display to users. The text is
                    // title cased.
                    "name": "string",

                    // An image that is used as the icon for this category.
                    "iconImageUrl": "string",

                    // Internal use. The order in which the category should be displayed relative to
                    // other categories. The lower the value, the more important the category - more
                    // important categories should be shown before or ahead of less important
                    // categories.
                    "order": "int",

                    // The ID that uniquely identifies this category.
                    "id": "guid",

                    // Internal use only. Do not use.
                    "contentId": "guid"
                  },

                  // Whether this commendation is enabled or not.
                  "enabled": "boolean",

                  // The ID that uniquely identifies this commendation.
                  "id": "guid",

                    // Internal use only. Do not use.
                  "contentId": "guid"
                }
              ]
      summary: Halo 5 - Company Commendations
  /h5/metadata/csr-designations:
    get:
      description: |
        <br />
        <h4>Changelog</h4>
        <div class="panel-body">
            <p><strong>February 21, 2017:</strong></p>
            <ul>
                <li>Renamed Endpoint from "CSR Designations" to "Halo 5 - CSR Designations".</li>
                <li>Removed "{title}" Request Parameter.</li>
                <li>Documented "Accept-Language" Request Header.</li>
            </ul>
        </div>
      operationId: Halo-5-CSR-Designations
      parameters:
        - default: en
          description: The desired language for the Metadata.
          in: header
          name: Accept-Language
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The response body will contain the requested Metadata.
          examples:
            application/json: |
              // A list of CSR designations for the title. CSR stands for Competitive Skill Rank. CSR
              // is organized into a series of designations, each with a set of tiers within the
              // designation. The designations are: Bronze, Silver, Gold, Platinum, Diamond, Onyx, and
              // Champion. Within each designation are tiers, for example, Bronze 1, Bronze 2, Bronze
              // 3, etc. The Onyx and Champion designations are special. They only have one tier. For
              // non-Champion players, we keep the raw CSR value and absolute ranking hidden and show
              // the CSR tier. For Onyx and Champion players, we display the raw CSR value. For
              // Champion players, we show a leaderboard ranking. To determine what CSR a player has
              // earned, view the Service Record stats for that player. There is no significance to the
              // ordering.
              [
                {
                  // A localized name for the designation, suitable for display to users. The text is
                  // title cased. 
                  "name": "string",

                  // An image to use as the background for the designation.
                  "bannerImageUrl": "string",

                  // An array of "CSR Tier" entries, one for each tier this designation supports.
                  "tiers": [
                    {
                      // An image to use as the icon for th tier.
                      "iconImageUrl": "string",

                      // An ID that identifies the tier.
                      "id": "int",

                      // Internal use only. Do not use.
                      "contentId": "guid"
                    }
                  ],

                  // An ID that identifies the designation. It happens to be the same as the
                  // designation ordering. This value is the same across all languages. Note that Id =
                  // 0 indicates the player has an "Unranked" designation. The player must complete
                  // additional matches before being assigned an official CSR designation.
                  "id": "int",

                  // Internal use only. Do not use.
                  "contentId": "guid"
                }
              ]
      summary: Halo 5 - CSR Designations
  /h5/metadata/enemies:
    get:
      description: |
        <br />
        <h4>Changelog</h4>
        <div class="panel-body">
            <p><strong>February 21, 2017:</strong></p>
            <ul>
                <li>Renamed Endpoint from "Enemies" to "Halo 5 - Enemies".</li>
                <li>Removed "{title}" Request Parameter.</li>
                <li>Documented "Accept-Language" Request Header.</li>
            </ul>
        </div>
        <div class="panel-body">
            <p><strong>April 20, 2016:</strong></p>
            <ul>
                <li>Corrected documentation typo. The field "largeIconImageUrl" was incorrectly named "lageIconImageUrl".</li>
            </ul>
        </div>
      operationId: Halo-5-Enemies
      parameters:
        - default: en
          description: The desired language for the Metadata.
          in: header
          name: Accept-Language
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The response body will contain the requested Metadata.
          examples:
            application/json: |
              // A list of enemies for the title. There is no significance to the ordering.
              [
                {
                  // The faction that this enemy is affiliated with. One of the following options:
                  //   - UNSC
                  //   - Covenant
                  //   - Promethean
                  "faction": "string",

                  // A localized name for the object, suitable for display to users. The text is title
                  // cased. 
                  "name": "string",

                  // A localized description, suitable for display to users. Note: This may be null.
                  "description": "string",

                  // A reference to a large image for icon use. This may be null if there is no image
                  // defined.
                  "largeIconImageUrl": "string",

                  // A reference to a small image for icon use. This may be null if there is no image
                  // defined.
                  "smallIconImageUrl": "string",

                  // The ID that uniquely identifies this enemy.
                  "id": "int",

                  // Internal use only. Do not use.
                  "contentId": "guid"
                }
              ]
      summary: Halo 5 - Enemies
  /h5/metadata/flexible-stats:
    get:
      description: |
        <br />
        <h4>Changelog</h4>
        <div class="panel-body">
            <p><strong>February 21, 2017:</strong></p>
            <ul>
                <li>Renamed Endpoint from "Flexible Stats" to "Halo 5 - Flexible Stats".</li>
                <li>Removed "{title}" Request Parameter.</li>
                <li>Documented "Accept-Language" Request Header.</li>
            </ul>
        </div>
      operationId: Halo-5-Flexible-Stats
      parameters:
        - default: en
          description: The desired language for the Metadata.
          in: header
          name: Accept-Language
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The response body will contain the requested Metadata.
          examples:
            application/json: |
              // A list of defined flexible stat entries for the title. There is no significance to the
              // ordering.
              [
                {
                  // A localized name for the data point, suitable for display to users. The text is
                  // title cased.
                  "name": "string",

                  // The type of stat this represents, it is one of the following options:
                  //   - Count
                  //   - Duration
                  "type": "string",

                  // The ID that uniquely identifies this stat.
                  "id": "guid",

                  // Internal use only. Do not use.
                  "contentId": "guid"
                }
              ]
      summary: Halo 5 - Flexible Stats
  /h5/metadata/game-base-variants:
    get:
      description: |
        <br />
        <h4>Changelog</h4>
        <div class="panel-body">
            <p><strong>February 21, 2017:</strong></p>
            <ul>
                <li>Renamed Endpoint from "Game Base Variants" to "Halo 5 - Game Base Variants".</li>
                <li>Removed "{title}" Request Parameter.</li>
                <li>Documented "Accept-Language" Request Header.</li>
            </ul>
        </div>
      operationId: Halo-5-Game-Base-Variants
      parameters:
        - default: en
          description: The desired language for the Metadata.
          in: header
          name: Accept-Language
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The response body will contain the requested Metadata.
          examples:
            application/json: |
              // A list of game base variants for the title. There is no mechanism to determine which
              // game base variants are currently available for play. To determine which game base
              // variants a specific player has played, view the Service Record stats for that
              // player.There is no significance to the ordering.
              [
                {
                  // A localized name for the game base variant, suitable for display to users. The
                  // text is title cased.
                  "name": null,

                  // Internal use. The internal non-localized name for the the game base variant.
                  "internalName": "string",

                  // An image to use as the game base variant for the designation.
                  "iconUrl": "string",

                  // A list that indicates what game modes this base variant is available within.
                  // Options are:
                  //   - Arena
                  //   - Campaign
                  //   - Custom
                  //   - Warzone
                  "supportedGameModes": [
                    "string"
                  ],

                  // The ID that uniquely identifies this game base variant.
                  "id": "guid",

                  // Internal use only. Do not use.
                  "contentId": "guid"
                }
              ]
      summary: Halo 5 - Game Base Variants
  "/h5/metadata/game-variants/{id}":
    get:
      description: |
        <br />
        <h4>Changelog</h4>
        <div class="panel-body">
            <p><strong>February 21, 2017:</strong></p>
            <ul>
                <li>Renamed Endpoint from "Game Variants" to "Halo 5 - Game Variant".</li>
                <li>Removed "{title}" Request Parameter.</li>
                <li>Documented "Accept-Language" Request Header.</li>
            </ul>
        </div>
      operationId: Halo-5-Game-Variant
      parameters:
        - description: An ID that uniquely identifies a Game Variant.
          in: path
          name: id
          required: true
          type: string
        - default: en
          description: The desired language for the Metadata.
          in: header
          name: Accept-Language
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The response body will contain the requested Metadata.
          examples:
            application/json: |
              // A list of game variants for the title. There is no significance to the ordering.
              {
                // A localized name, suitable for display to users.
                "name": "string",

                // A localized description, suitable for display to users.
                "description": "string",

                // The ID of the game base variant this is a variant for. Game Base Variants are
                // available via the Metadata API.
                "gameBaseVariantId": "guid",

                // An icon image for the game variant.
                "iconUrl": "string",

                // The ID that uniquely identifies this game variant.
                "id": "guid",

                // Internal use only. Do not use.
                "contentId": "guid"
              }
        "404":
          description: Specified Game Variant was not found.
      summary: Halo 5 - Game Variant
  /h5/metadata/impulses:
    get:
      description: |
        <br />
        <h4>Changelog</h4>
        <div class="panel-body">
            <p><strong>February 21, 2017:</strong></p>
            <ul>
                <li>Renamed Endpoint from "Impulses" to "Halo 5 - Impulses".</li>
                <li>Removed "{title}" Request Parameter.</li>
                <li>Documented "Accept-Language" Request Header.</li>
            </ul>
        </div>
      operationId: Halo-5-Impulses
      parameters:
        - default: en
          description: The desired language for the Metadata.
          in: header
          name: Accept-Language
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The response body will contain the requested Metadata.
          examples:
            application/json: |
              // A list of impulses (essentially invisible medals) for the title. There is no
              // significance to the ordering.
              [
                {
                  // Internal use. The non-localized name of the impulse.
                  "internalName": "string",

                  // The ID that uniquely identifies this impulse.
                  "id": "int",

                  // Internal use only. Do not use.
                  "contentId": "guid"
                }
              ]
      summary: Halo 5 - Impulses
  "/h5/metadata/map-variants/{id}":
    get:
      description: |
        <br />
        <h4>Changelog</h4>
        <div class="panel-body">
            <p><strong>February 21, 2017:</strong></p>
            <ul>
                <li>Renamed Endpoint from "Map Variants" to "Halo 5 - Map Variant".</li>
                <li>Removed "{title}" Request Parameter.</li>
                <li>Documented "Accept-Language" Request Header.</li>
            </ul>
        </div>
      operationId: Halo-5-Map-Variant
      parameters:
        - description: An ID that uniquely identifies a Map Variant.
          in: path
          name: id
          required: true
          type: string
        - default: en
          description: The desired language for the Metadata.
          in: header
          name: Accept-Language
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The response body will contain the requested Metadata.
          examples:
            application/json: |
              // A list of map variants for the title. There is no significance to the ordering.
              {
                // A localized name, suitable for display to users.
                "name": "string",

                // A localized description, suitable for display to users.
                "description": "string",

                // A reference to an image. This may be null if there is no image defined.
                "mapImageUrl": "string",

                // The ID of the map this is a variant for. Maps are available via the Metadata API.
                "mapId": "guid",

                // The ID that uniquely identifies this map variant.
                "id": "guid",

                // Internal use only. Do not use.
                "contentId": "guid"
              }
        "404":
          description: Specified Map Variant was not found.
      summary: Halo 5 - Map Variant
  /h5/metadata/maps:
    get:
      description: |
        <br />
        <h4>Changelog</h4>
        <div class="panel-body">
            <p><strong>February 21, 2017:</strong></p>
            <ul>
                <li>Renamed Endpoint from "Maps" to "Halo 5 - Maps".</li>
                <li>Removed "{title}" Request Parameter.</li>
                <li>Documented "Accept-Language" Request Header.</li>
            </ul>
        </div>
      operationId: Halo-5-Maps
      parameters:
        - default: en
          description: The desired language for the Metadata.
          in: header
          name: Accept-Language
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The response body will contain the requested Metadata.
          examples:
            application/json: |
              // A list of maps for the title. There is no significance to the ordering.
              [
                {
                  // A localized name, suitable for display to users.
                  "name": "string",

                  // A localized description, suitable for display to users.
                  "description": "string",

                  // This lists all the game modes to which this map is available. Options are:
                  //   - Arena
                  //   - Campaign
                  //   - Custom
                  //   - Warzone
                  "supportedGameModes": [
                    "string"
                  ],

                  // A reference to an image. This may be null if there is no image defined.
                  "imageUrl": "string",

                  // The ID that uniquely identifies this map.
                  "id": "guid",

                  // Internal use only. Do not use.
                  "contentId": "guid"
                }
              ]
      summary: Halo 5 - Maps
  /h5/metadata/medals:
    get:
      description: |
        <br />
        <h4>Changelog</h4>
        <div class="panel-body">
            <p><strong>February 21, 2017:</strong></p>
            <ul>
                <li>Renamed Endpoint from "Medals" to "Halo 5 - Medals".</li>
                <li>Removed "{title}" Request Parameter.</li>
                <li>Documented "Accept-Language" Request Header.</li>
            </ul>
        </div>
      operationId: Halo-5-Medals
      parameters:
        - default: en
          description: The desired language for the Metadata.
          in: header
          name: Accept-Language
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The response body will contain the requested Metadata.
          examples:
            application/json: |
              // A list of medals for the title. There is no significance to the ordering.
              [
                {
                  // A localized name for the medal, suitable for display to users.
                  "name": "string",

                  // A localized description, suitable for display to users. 
                  "description": "string",

                  // The type of this medal. It will be one of the following options:
                  //   - Unknown
                  //   - Multi-kill
                  //   - Spree
                  //   - Style
                  //   - Vehicle
                  //   - Breakout
                  //   - Objective
                  "classification": "string",

                  // The anticipated difficulty, relative to all other medals of this classification.
                  // The difficulty is ordered from easiest to most difficult.
                  "difficulty": "int",

                  // The location on the sprite sheet for the medal.
                  "spriteLocation": {

                    // A reference to an image that contains all the sprites.
                    "spriteSheetUri": "string",

                    // The X coordinate where the top-left corner of the sprite is located.
                    "left": "int",

                    // The Y coordinate where the top-left corner of the sprite is located.
                    "top": "int",

                    // The width of the full sprite sheet (in pixels). The dimensions of the full sheet
                    // are included so that the sheet can be resized.
                    "width": "int",

                    // The height of the full sprite sheet (in pixels). The dimensions of the full
                    // sheet are included so that the sheet can be resized.
                    "height": "int",

                    // The width of this sprite (in pixels).
                    "spriteWidth": "int",

                    // The height of this sprite (in pixels).
                    "spriteHeight": "int"
                  },

                  // The ID that uniquely identifies this map medal.
                  "id": "int",

                  // Internal use only. Do not use.
                  "contentId": "guid"
                }
              ]
      summary: Halo 5 - Medals
  /h5/metadata/playlists:
    get:
      description: |
        <br />
        <h4>Changelog</h4>
        <div class="panel-body">
            <p><strong>February 21, 2017:</strong></p>
            <ul>
                <li>Renamed Endpoint from "Playlists" to "Halo 5 - Playlists".</li>
                <li>Removed "{title}" Request Parameter.</li>
                <li>Documented "Accept-Language" Request Header.</li>
            </ul>
        </div>
      operationId: Halo-5-Playlists
      parameters:
        - default: en
          description: The desired language for the Metadata.
          in: header
          name: Accept-Language
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The response body will contain the requested Metadata.
          examples:
            application/json: |
              // A list of playlists for the title. To determine which playlists a specific player has
              // played within, view the Service Record stats for that player. There is no significance
              // to the ordering.
              [
                {
                  // A localized name for the playlist, suitable for display to users. The text is
                  // title cased.
                  "name": "string",

                  // A localized description for the playlist, suitable for display to users.
                  "description": "string",

                  // Indicates if a CSR (competitive skill rank) is shown for players who participate
                  // in this playlist.
                  "isRanked": "boolean",

                  // An image used to illustrate this playlist.
                  "imageUrl": "string",    

                  // The game mode played in this playlist. Options are:
                  //   - Arena
                  //   - Campaign
                  //   - Custom
                  //   - Warzone
                  "gameMode": "string",

                  // Indicates if this playlist is currently available for play.
                  "isActive": "boolean",

                  // The ID that uniquely identifies this playlist.
                  "id": "guid",

                  // Internal use only. Do not use.
                  "contentId": "guid"
                }
              ]
      summary: Halo 5 - Playlists
  "/h5/metadata/requisition-packs/{id}":
    get:
      description: |
        <br />
        <h4>Changelog</h4>
        <div class="panel-body">
            <p><strong>February 21, 2017:</strong></p>
            <ul>
                <li>Renamed Endpoint from "Requisition Packs" to "Halo 5 - Requisition Pack".</li>
                <li>Removed "{title}" Request Parameter.</li>
                <li>Documented "Accept-Language" Request Header.</li>
            </ul>
        </div>
      operationId: Halo-5-Requisition-Pack
      parameters:
        - description: An ID that uniquely identifies a Requisition Pack.
          in: path
          name: id
          required: true
          type: string
        - default: en
          description: The desired language for the Metadata.
          in: header
          name: Accept-Language
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The response body will contain the requested Metadata.
          examples:
            application/json: |
              // A requisition pack for the title.
              {
                // A localized name for the pack, suitable for display to users. The text is title
                // cased. 
                "name": "string",

                // A localized description, suitable for display to users.
                "description": "Your achievement on the field of battle will not go unrewarded.",

                // A large image for the pack.
                "largeImageUrl": "string",

                // A medium image for the pack.
                "mediumImageUrl": "string",

                // A small image for the pack.
                "smallImageUrl": "string",

                // Internal use. Whether the item should be featured ahead of others.
                "isFeatured": "boolean",

                // Internal use. Whether the item should be labeled as "new!"
                "isNew": "boolean",

                // If the pack is purchasable via credits, this value contains the number of credits a
                // player must spend to acquire one pack. This value is zero when
                // isPurchasableWithCredits is false.
                "creditPrice": "int",

                // If the pack is currently available for purchase by spending credits, then this value
                // is true.
                "isPurchasableWithCredits": "boolean",

                // If the pack might be obtainable through the Xbox Live Marketplace, then this value
                // is true.
                "isPurchasableFromMarketplace": "boolean",

                // If this pack might be obtainable through the Xbox Live Marketplace, this is the
                // product ID. Note: Pricing and availability within the Xbox Live marketplace is
                // controlled independently of this value. The presence of an Id in this field is not a
                // guarantee the product is purchasable. There may be geographic restrictions
                // restricting purchase in certain regions, or the item may not be currently
                // purchasable at all.
                "xboxMarketplaceProductId": "guid",

                // If this pack might be obtainable through the Xbox Live Marketplace, this is the URL
                // to the product.
                "xboxMarketplaceProductUrl": "string",

                // Internal use. The order in which packs are shown for merchandising purposes.
                "merchandisingOrder": "int",

                // Internal use. Indicates the visual treatment of the pack. This is one of the
                // following options:
                //   - None
                //   - New
                //   - Hot
                //   - LeavingSoon
                //   - MaximumValue
                //   - LimitedTime
                //   - Featured
                //   - BestSeller
                //   - Popular
                "flair": "string",

                // The ID that uniquely identifies this pack.
                "id": "guid",

                // Internal use only. Do not use.
                "contentId": "guid"
              }
        "404":
          description: Specified Requisition Pack was not found.
        "500":
          description: Internal Server Error
      summary: Halo 5 - Requisition Pack
  "/h5/metadata/requisitions/{id}":
    get:
      description: |
        <br />
        <h4>Changelog</h4>
        <div class="panel-body">
            <p><strong>February 21, 2017:</strong></p>
            <ul>
                <li>Renamed Endpoint from "Requisitions" to "Halo 5 - Requisition".</li>
                <li>Removed "{title}" Request Parameter.</li>
                <li>Documented "Accept-Language" Request Header.</li>
            </ul>
        </div>
      operationId: Halo-5-Requisition
      parameters:
        - description: An ID that uniquely identifies a Requisition.
          in: path
          name: id
          required: true
          type: string
        - default: en
          description: The desired language for the Metadata.
          in: header
          name: Accept-Language
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The response body will contain the requested Metadata.
          examples:
            application/json: |
              // A list of requisitions for the title. There is no significance to the ordering.
              [
                {
                  // This lists all the game modes that this requisition is redeemable in. Options are:
                  //   - Arena
                  //   - Campaign
                  //   - Custom
                  //   - Warzone
                  "supportedGameModes": [
                    "string"
                  ],

                  // A localized name, suitable for display to users. The text is title cased.
                  "name": "string",

                  // A localized description, suitable for display to users.
                  "description": "string",

                  // The non-localized rarity. Indicates the scarcity and thus rarity of the
                  // requisition. The options are (in increasing order of rarity):
                  //   - Common
                  //   - Uncommon
                  //   - Rare
                  //   - UltraRare
                  //   - Legendary
                  "rarityType": "string",

                  // The localized rarity suitable for display to users. Indicates the scarcity and
                  // thus rarity of the requisition
                  "rarity": "string",

                  // Indicates if this requisition has been flagged as having 'mythic status'.
                  "isMythic": "boolean",

                  // Indicates if this item is a Certification. Certifications will always be durable
                  // and are required to earn certain other requisitions.
                  "isCertification": "boolean",

                  // Indicates whether the requisition is wearable.
                  "isWearable": "boolean",

                  // Indicates if the requisition counts towards collection completion. If true, this
                  // requisition will not be shown as unearned in the game. 
                  // This behavior is typically used for specialty requisitions that aren't awarded
                  // through normal progression flows.
                  "hideIfNotAcquired": "boolean",

                  // Indicates how the requisition card may be used. Options are:
                  //   - Consumable
                  //   - Durable
                  //   - Boost
                  //   - CreditGranting
                  // Consumable: The requisition can be called in and used while in-game. When players
                  // call in a consumable requisition it is removed from the players inventory.
                  // Durable: The requisition is not usable in-game. Players can only earn one of each
                  // durable requisition and it is used to model awards such as armor suits, helmets,
                  // emblems or other items such as stickers. Durables are never removed from the
                  // player inventory.
                  // Boost: The requisition is used prior to a match beginning and will modify how many
                  // XP or Credits the player will earn at the end of the match. When put into effect,
                  // it is removed from the player inventory.
                  // Credit Granting: When obtained, the requisition will grant the player some amount
                  // of credits. Once the credits are granted the requisition is immediately removed
                  // from the player inventory.
                  "useType": "string",

                  // A reference to a large image for icon use. This may be null if there is no image
                  // defined.
                  "largeImageUrl": "string",

                  // A reference to a medium image for icon use. This may be null if there is no image
                  // defined.
                  "mediumImageUrl": "string",

                  // A reference to a small image for icon use. This may be null if there is no image
                  // defined.
                  "smallImageUrl": "string",

                  // A localized name for the category of the requisition, suitable for display to
                  // users. The text is title cased.
                  "categoryName": "string",

                  // Internal use. A non-localized name for the category of the requisition.
                  "internalCategoryName": "string",

                  // A localized name for the sub-category of the requisition, suitable for display to
                  // users. The text is title cased.
                  "subcategoryName": "string",

                  // The order of the subcategory in the category.
                  "subcategoryOrder": "int",

                  // This field indicates how many credits the player will receive if they wish to
                  // discard this requisition. When SellPrice is zero, the card cannot be sold back for
                  // credits.
                  "sellPrice": "int",

                  // The energy level required in order to use this requisition in a Warzone game.
                  "levelRequirement": "int",

                  // For requisitions where the useType is CreditGranting, this field indicates how
                  // many credits the player is rewarded with. When the requisition is not
                  // CreditGranting, this value is zero.
                  "creditsAwarded": "int",

                  // If this is set, this is the ID of the Certification Requisition that is required
                  // to earn this requisition.
                  "certificationRequisitionId": "guid",

                  // The ID that uniquely identifies this requisition.
                  "id": "guid",

                  // Internal use only. Do not use.
                  "contentId": "guid"
                }
              ]
        "404":
          description: Specified Requisition was not found.
      summary: Halo 5 - Requisition
  /h5/metadata/seasons:
    get:
      description: |
        <br />
        <h4>Changelog</h4>
        <div class="panel-body">
            <p><strong>February 21, 2017:</strong></p>
            <ul>
                <li>Renamed Endpoint from "Seasons" to "Halo 5 - Seasons".</li>
                <li>Removed "{title}" Request Parameter.</li>
                <li>Documented "Accept-Language" Request Header.</li>
            </ul>
        </div>
      operationId: Halo-5-Seasons
      parameters:
        - default: en
          description: The desired language for the Metadata.
          in: header
          name: Accept-Language
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The response body will contain the requested Metadata.
          examples:
            application/json: |
              // A list of seasons for the title. There is no significance to the ordering.
              [
                {
                  // One or more playlists that are available in this season.
                  "playlists": [
                    {
                      // A localized name for the playlist, suitable for display to users. The text is
                      // title cased.
                      "name": "string",

                      // A localized description for the playlist, suitable for display to users.
                      "description": "string",

                      // Indicates if a CSR (competitive skill rank) is shown for players who
                      // participate in this playlist.
                      "isRanked": "boolean",

                      // An image used to illustrate this playlist.
                      "imageUrl": "string",

                      // The game mode played in this playlist. Options are:
                      //   - Arena
                      //   - Campaign
                      //   - Custom
                      //   - Warzone
                      "gameMode": "string",

                      // Indicates if this playlist is currently available for play.
                      "isActive": "boolean",

                      // The ID that uniquely identifies this playlist.
                      "id": "guid",

                      // Internal use only. Do not use.
                      "contentId": "guid"
                    }
                  ],

                  // An icon used to represent this season.
                  "iconUrl": "string",

                  // A localized name for the season, suitable for display to users.
                  "name": "string",

                  // The start date and time of this season. This is expressed as an ISO 8601 combined
                  // Date and Time.
                  "startDate": "string",

                  // The end date and time of this season. This is expressed as an ISO 8601 combined
                  // Date and Time.
                  "endDate": "string",

                  // Indicates if this season is currently active.
                  "isActive": "boolean",

                  // The ID that uniquely identifies this season.
                  "id": "guid",

                  // Internal use only. Do not use.
                  "contentId": "guid"
                }
              ]
      summary: Halo 5 - Seasons
  /h5/metadata/skulls:
    get:
      description: |
        <br />
        <h4>Changelog</h4>
        <div class="panel-body">
            <p><strong>February 21, 2017:</strong></p>
            <ul>
                <li>Renamed Endpoint from "Skulls" to "Halo 5 - Skulls".</li>
                <li>Removed "{title}" Request Parameter.</li>
                <li>Documented "Accept-Language" Request Header.</li>
            </ul>
        </div>
      operationId: Halo-5-Skulls
      parameters:
        - default: en
          description: The desired language for the Metadata.
          in: header
          name: Accept-Language
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The response body will contain the requested Metadata.
          examples:
            application/json: |
              // A list of skulls for the title. There is no significance to the ordering.
              [
                {
                  // A localized name, suitable for display to users. The text is title cased.
                  "name": "string",

                  // A localized description, suitable for display to users.
                  "description": "string",

                  // A reference to the image for the skull.
                  "imageUrl": "string",

                  // Indicates what mission this skull can be located within. Null when the skull is
                  // not found in a mission. Missions are available via the Metadata API.
                  "missionId": "guid",

                  // The ID that uniquely identifies this skull.
                  "id": "int",

                  // Internal use only. Do not use.
                  "contentId": "guid"
                }
              ]
      summary: Halo 5 - Skulls
  /h5/metadata/spartan-ranks:
    get:
      description: |
        <br />
        <h4>Changelog</h4>
        <div class="panel-body">
            <p><strong>February 21, 2017:</strong></p>
            <ul>
                <li>Renamed Endpoint from "Spartan Ranks" to "Halo 5 - Spartan Ranks".</li>
                <li>Removed "{title}" Request Parameter.</li>
                <li>Documented "Accept-Language" Request Header.</li>
            </ul>
        </div>
      operationId: Halo-5-Spartan-Ranks
      parameters:
        - default: en
          description: The desired language for the Metadata.
          in: header
          name: Accept-Language
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The response body will contain the requested Metadata.
          examples:
            application/json: |
              // A list of Spartan Ranks for the title. There is no significance to the ordering.
              [
                {
                  // The amount of XP required to enter this rank.
                  "startXp": "int",

                  // The reward the player will receive for earning this Spartan Rank.
                  "reward": {

                    // The amount of XP that will be awarded.
                    "xp": "int",

                    // The set of requisition packs (if any) that will be awarded.
                    "requisitionPacks": [
                      {
                        // A localized name for the pack, suitable for display to users. The text is
                        // title cased. 
                        "name": "string",

                        // A localized description, suitable for display to users.
                        "description": "Your achievement on the field of battle will not go unrewarded.",

                        // A large image for the pack.
                        "largeImageUrl": "string",

                        // A medium image for the pack.
                        "mediumImageUrl": "string",

                        // A small image for the pack.
                        "smallImageUrl": "string",

                        // Internal use. Whether the item should be featured ahead of others.
                        "isFeatured": "boolean",

                        // Internal use. Whether the item should be labeled as "new!"
                        "isNew": "boolean",

                        // If the pack is purchasable via credits, this value contains the number of
                        // credits a player must spend to acquire one pack. This value is zero when
                        // isPurchasableWithCredits is false.
                        "creditPrice": "int",

                        // If the pack is currently available for purchase by spending credits, then
                        // this value is true.
                        "isPurchasableWithCredits": "boolean",

                        // If the pack might be obtainable through the Xbox Live Marketplace, then this
                        // value is true.
                        "isPurchasableFromMarketplace": "boolean",

                        // If this pack might be obtainable through the Xbox Live Marketplace, this is
                        // the product ID. Note: Pricing and availability within the Xbox Live
                        // marketplace is controlled independently of this value. The presence of an Id
                        // in this field is not a guarantee the product is purchasable. There may be
                        // geographic restrictions restricting purchase in certain regions, or the item
                        // may not be currently purchasable at all.
                        "xboxMarketplaceProductId": "guid",

                        // If this pack might be obtainable through the Xbox Live Marketplace, this is
                        // the URL to the product.
                        "xboxMarketplaceProductUrl": "string",

                        // Internal use. The order in which packs are shown for merchandising purposes.
                        "merchandisingOrder": "int",

                        // Internal use. Indicates the visual treatment of the pack. This is one of the
                        // following options:
                        //   - None
                        //   - New
                        //   - Hot
                        //   - LeavingSoon
                        //   - MaximumValue
                        //   - LimitedTime
                        //   - Featured
                        //   - BestSeller
                        //   - Popular
                        "flair": "string",

                        // The ID that uniquely identifies this pack.
                        "id": "guid",

                        // Internal use only. Do not use.
                        "contentId": "guid"
                      }
                    ],

                    // The ID that uniquely identifies this reward.
                    "id": "guid",

                    // Internal use only. Do not use.
                    "contentId": "guid"
                  },

                  // The ID that uniquely identifies this Spartan Rank. 
                  "id": "int",

                  // Internal use only. Do not use.
                  "contentId": "guid"
                }
              ]
      summary: Halo 5 - Spartan Ranks
  /h5/metadata/team-colors:
    get:
      description: |
        <br />
        <h4>Changelog</h4>
        <div class="panel-body">
            <p><strong>February 21, 2017:</strong></p>
            <ul>
                <li>Renamed Endpoint from "Team Colors" to "Halo 5 - Team Colors".</li>
                <li>Removed "{title}" Request Parameter.</li>
                <li>Documented "Accept-Language" Request Header.</li>
            </ul>
        </div>
      operationId: Halo-5-Team-Colors
      parameters:
        - default: en
          description: The desired language for the Metadata.
          in: header
          name: Accept-Language
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The response body will contain the requested Metadata.
          examples:
            application/json: |
              // A listing of team colors supported in the title. There is no significance to the
              // ordering.
              [
                {
                  // A localized name, suitable for display to users.
                  "name": "string",

                  // A localized description, suitable for display to users.
                  "description": "string",

                  // A seven-character string representing the team color in "RGB Hex" notation. This
                  // notation uses a "#" followed by a hex triplet.
                  "color": "string",

                  // A reference to an image for icon use. This may be null if there is no image
                  // defined.
                  "iconUrl": "string",

                  // The ID that uniquely identifies this color. This will be the same as the team's ID
                  // in responses from the Stats API.
                  "id": "int",

                  // Internal use only. Do not use.
                  "contentId": "guid"
                }
              ]
      summary: Halo 5 - Team Colors
  /h5/metadata/vehicles:
    get:
      description: |
        <br />
        <h4>Changelog</h4>
        <div class="panel-body">
            <p><strong>February 21, 2017:</strong></p>
            <ul>
                <li>Renamed Endpoint from "Vehicles" to "Halo 5 - Vehicles".</li>
                <li>Removed "{title}" Request Parameter.</li>
                <li>Documented "Accept-Language" Request Header.</li>
            </ul>
        </div>
      operationId: Halo-5-Vehicles
      parameters:
        - default: en
          description: The desired language for the Metadata.
          in: header
          name: Accept-Language
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The response body will contain the requested Metadata.
          examples:
            application/json: |
              // A list of vehicles for the title. There is no significance to the ordering.
              [
                {
                  // A localized name for the object, suitable for display to users. The text is title
                  // cased.
                  "name": "string",

                  // A localized description, suitable for display to users.
                  "description": "string",

                  // A reference to a large image for icon use. This may be null if there is no image
                  // defined.
                  "largeIconImageUrl": "string",

                  // A reference to a small image for icon use. This may be null if there is no image
                  // defined.
                  "smallIconImageUrl": "string",

                  // Indicates whether the vehicle is usable by a player.
                  "isUsableByPlayer": "boolean",

                  // The ID that uniquely identifies this vehicle.
                  "id": "int",

                  // Internal use only. Do not use.
                  "contentId": "guid"
                }
              ]
      summary: Halo 5 - Vehicles
  /h5/metadata/weapons:
    get:
      description: |
        <br />
        <h4>Changelog</h4>
        <div class="panel-body">
            <p><strong>February 21, 2017:</strong></p>
            <ul>
                <li>Renamed Endpoint from "Weapons" to "Halo 5 - Weapons".</li>
                <li>Removed "{title}" Request Parameter.</li>
                <li>Documented "Accept-Language" Request Header.</li>
            </ul>
        </div>
        <div class="panel-body">
            <p><strong>April 26, 2016:</strong></p>
            <ul>
                <li>Corrected documentation issue. The documentation for the "type" field was incorrect.</li>
            </ul>
        </div>
      operationId: Halo-5-Weapons
      parameters:
        - default: en
          description: The desired language for the Metadata.
          in: header
          name: Accept-Language
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The response body will contain the requested Metadata.
          examples:
            application/json: |
              // A listing of weapons supported in the title. There is no significance to the ordering.
              [
                {
                  // A localized name for the object, suitable for display to users. The text is title
                  // cased.
                  "name": "string",

                  // A localized description, suitable for display to users.
                  "description": "string",

                  // The type of the weapon. Options are:
                  //   - Grenade
                  //   - Turret
                  //   - Vehicle
                  //   - Standard
                  //   - Power
                  "type": "string",

                  // A reference to a large image for icon use. This may be null if there is no image
                  // defined.
                  "largeIconImageUrl": "string",

                  // A reference to a small image for icon use. This may be null if there is no image
                  // defined.
                  "smallIconImageUrl": "string",

                  // Indicates whether the weapon is usable by a player.
                  "isUsableByPlayer": "boolean",

                  // The ID that uniquely identifies the weapon.
                  "id": "int",

                  // Internal use only. Do not use.
                  "contentId": "guid"
                }
              ]
      summary: Halo 5 - Weapons
  /hw2/campaign-levels:
    get:
      description: |
        <br />
        <h4>Changelog</h4>
        <div class="panel-body">
            <p><strong>February 21, 2017:</strong></p>
            <ul>
                <li>Added Endpoint.</li>
            </ul>
        </div>
      operationId: Halo-Wars-2-Campaign-Levels
      parameters:
        - description: |-
            When specified, this indicates the index of the item to start at.

            When omitted, 0 is assumed.

            When the value contains a non-digit or is not a multiple of 100, HTTP 400 ("Bad Request") is returned.
          in: query
          name: startAt
          type: number
        - default: en
          description: The desired language for the Metadata.
          in: header
          name: Accept-Language
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: The response body will contain the requested Metadata.
          examples:
            application/json: |
              {
                // Pagination information.
                "Paging": {

                  // Index of the first item in this response in the collection of all available items
                  // of this type.
                  "StartAt": "int",

                  // Count of items returned in this response.
                  "InlineCount": "int",

                  // Count of all available items of this type.
                  "TotalCount": "int"
                },

                // Contents.
                "ContentItems": [
                  {
                    // Internal use.
                    "Id": "int",

                    // Name of the content type.
                    "Type": "HW2CampaignLevel",

                    // Contains the information for the content type.
                    "View": {

                      // Internal use.
                      "Status": "Published",

                      // Information common to all content types.
                      "Common": {

                        // Internal use.
                        "Owner": "string",

                        // Date the content was created. This is expressed as an ISO 8601 combined Date
                        // and Time.
                        "CreatedUtc": "string",

                        // Date the content was last modified. This is expressed as an ISO 8601
                        // combined Date and Time.
                        "ModifiedUtc": "string",

                        // Date the content was last published. This is expressed as an ISO 8601
                        // combined Date and Time.
                        "PublishedUtc": "string",

                        // Internal use.
                        "Container": "int"
                      },

                      // ID that identifies this content item in the Metadata API.
                      "Identity": "guid",

                      // Non-localized title of the content item.
                      "Title": "string",

                      // Information about the Campaign Level.
                      "HW2CampaignLevel": {

                        // ID used by the Game and Stats API to identify this Campaign Level.
                        "Id": "int",

                        // Maximum score that players can earn when completing this level (at any
                        // difficulty).
                        "MaxScore": "int",

                        // Critical Objectives that are available when playing this level.
                        "CriticalObjectives": [
                          {
                            // Internal use.
                            "Id": "int",

                            // Name of the content type.
                            "Type": "HW2CampaignObjective",

                            // Contains the information for the content type.
                            "View": {

                              // Internal use.
                              "Status": "string",

                              // Information common to all content types.
                              "Common": {

                                // Internal use.
                                "Owner": "string",

                                // Date the content was created. This is expressed as an ISO 8601
                                // combined Date and Time.
                                "CreatedUtc": "string",

                                // Date the content was last modified. This is expressed as an ISO 8601
                                // combined Date and Time.
                                "ModifiedUtc": "string",

                                // Date the content was last published. This is expressed as an ISO
                                // 8601 combined Date and Time.
                                "PublishedUtc": "string",

                                // Internal use.
                                "Container": "int"
                              },

                              // ID that identifies this content item in the Metadata API.
                              "Identity": "guid",

                              // Non-localized title of the content item.
                              "Title": "string",

                              // Information about the Campaign Objective.
                              "HW2CampaignObjective": {

                                // ID used by the Game and Stats API to identify this Campaign
                                // Objective.
                                "Id": "int"
                              }
                            }
                          }
                        ],

                        // Bonus Objectives that are available when playing this level.
                        "BonusObjectives": [
                          {
                            // Internal use.
                            "Id": "int",

                            // Name of the content type.
                            "Type": "HW2CampaignObjective",

                            // Contains the information for the content type.
                            "View": {

                              // Internal use.
                              "Status": "string",

                              // Information common to all content types.
                              "Common": {

                                // Internal use.
                                "Owner": "string",

                                // Date the content was created. This is expressed as an ISO 8601
                                // combined Date and Time.
                                "CreatedUtc": "string",

                                // Date the content was last modified. This is expressed as an ISO 8601
                                // combined Date and Time.
                                "ModifiedUtc": "string",

                                // Date the content was last published. This is expressed as an ISO
                                // 8601 combined Date and Time.
                                "PublishedUtc": "string",

                                // Internal use.
                                "Container": "int"
                              },

                              // ID that identifies this content item in the Metadata API.
                              "Identity": "guid",

                              // Non-localized title of the content item.
                              "Title": "string",

                              // Information about the Campaign Objective.
                              "HW2CampaignObjective": {

                                // ID used by the Game and Stats API to identify this Campaign
                                // Objective.
                                "Id": "int"
                              }
                            }
                          }
                        ],

                        // Optional objectives that are available when playing this level.
                        "OptionalObjectives": [
                          {
                            // Internal use.
                            "Id": "int",

                            // Name of the content type.
                            "Type": "HW2CampaignObjective",

                            // Contains the information for the content type.
                            "View": {

                              // Internal use.
                              "Status": "string",

                              // Information common to all content types.
                              "Common": {

                                // Internal use.
                                "Owner": "string",

                                // Date the content was created. This is expressed as an ISO 8601
                                // combined Date and Time.
                                "CreatedUtc": "string",

                                // Date the content was last modified. This is expressed as an ISO 8601
                                // combined Date and Time.
                                "ModifiedUtc": "string",

                                // Date the content was last published. This is expressed as an ISO
                                // 8601 combined Date and Time.
                                "PublishedUtc": "string",

                                // Internal use.
                                "Container": "int"
                              },

                              // ID that identifies this content item in the Metadata API.
                              "Identity": "guid",

                              // Non-localized title of the content item.
                              "Title": "string",

                              // Information about the Campaign Objective.
                              "HW2CampaignObjective": {

                                // ID used by the Game and Stats API to identify this Campaign
                                // Objective.
                                "Id": "int"
                              }
                            }
                          }
                        ],

                        // Skulls that can be unlocked by playing this level.
                        "Skulls": [
                          {
                            // Internal use.
                            "Id": "int",

                            // Name of the content type.
                            "Type": "HW2Skull",

                            // Contains the information for the content type.
                            "View": {

                              // Internal use.
                              "Status": "string",

                              // Information common to all content types.
                              "Common": {

                                // Internal use.
                                "Owner": "string",

                                // Date the content was created. This is expressed as an ISO 8601
                                // combined Date and Time.
                                "CreatedUtc": "string",

                                // Date the content was last modified. This is expressed as an ISO 8601
                                // combined Date and Time.
                                "ModifiedUtc": "string",

                                // Date the content was last published. This is expressed as an ISO
                                // 8601 combined Date and Time.
                                "PublishedUtc": "string",

                                // Internal use.
                                "Container": "int"
                              },

                              // ID that identifies this content item in the Metadata API.
                              "Identity": "guid",

                              // Non-localized title of the content item.
                              "Title": "string",

                              // Information about the Skull.
                              "HW2Skull": {

                                // ID used by the Game and Stats API to identify this Skull.
                                "Id": "int"
                              }
                            }
                          }
                        ],

                        // Packs that are awarded upon the first completion of this level (at any
                        // difficulty).
                        "AwardedPacks": [
                          {
                            // Internal use.
                            "Id": "int",

                            // Name of the content type.
                            "Type": "HW2Pack",

                            // Contains the information for the content type.
                            "View": {

                              // Internal use.
                              "Status": "string",

                              // Information common to all content types.
                              "Common": {

                                // Internal use.
                                "Owner": "string",

                                // Date the content was created. This is expressed as an ISO 8601
                                // combined Date and Time.
                                "CreatedUtc": "string",

                                // Date the content was last modified. This is expressed as an ISO 8601
                                // combined Date and Time.
                                "ModifiedUtc": "string",

                                // Date the content was last published. This is expressed as an ISO
                                // 8601 combined Date and Time.
                                "PublishedUtc": "string",

                                // Internal use.
                                "Container": "int"
                              },

                              // ID that identifies this content item in the Metadata API.
                              "Identity": "guid",

                              // Non-localized title of the content item.
                              "Title": "string",

                              // Information about the Pack.
                              "HW2Pack": {

                                // Internal use.
                                "HW2PackRules": [
                                  {
                                    "Id": "int",

                                    "Type": "string",

                                    "Identity": "guid"
                                  }
                                ],

                                // Image of the front of the Pack that is suitable for HD resolutions.
                                "FrontImageHD": {

                                  // Internal use.
                                  "Id": "int",

                                  // Name of the content type.
                                  "Type": "Image",

                                  // Contains the information for the content type.
                                  "View": {

                                    // Internal use.
                                    "Status": "string",

                                    // Information common to all content types.
                                    "Common": {

                                      // Internal use.
                                      "Owner": "string",

                                      // Date the content was created. This is expressed as an ISO 8601
                                      // combined Date and Time.
                                      "CreatedUtc": "string",

                                      // Date the content was last modified. This is expressed as an
                                      // ISO 8601 combined Date and Time.
                                      "ModifiedUtc": "string",

                                      // Date the content was last published. This is expressed as an
                                      // ISO 8601 combined Date and Time.
                                      "PublishedUtc": "string",

                                      // Internal use.
                                      "Container": "int"
                                    },

                                    // ID that identifies this content item in the Metadata API.
                                    "Identity": "guid",

                                    // Non-localized title of the content item.
                                    "Title": "string",

                                    // Information about the location of the Image.
                                    "Media": {

                                      // URL of the Image.
                                      "MediaUrl": "string",

                                      // Type of the Image.
                                      "MimeType": "string",

                                      // Caption for the Image.
                                      "Caption": "string",

                                      // Alternate text for the Image.
                                      "AlternateText": "string",

                                      // Internal use.
                                      "FolderPath": "string",

                                      // Internal use.
                                      "FileName": "string"
                                    },

                                    // Information about the Image.
                                    "Image": {

                                      // Width of the Image.
                                      "Width": "int",

                                      // Height of the image.
                                      "Height": "int"
                                    }
                                  }
                                },

                                // Image of the back of the Pack that is suitable for HD resolutions.
                                "BackImageHD": {

                                  // Internal use.
                                  "Id": "int",

                                  // Name of the content type.
                                  "Type": "Image",

                                  // Contains the information for the content type.
                                  "View": {

[...]
