{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "sonar.trading",
  "basePath": "/api/v1/",
  "info": {
    "contact": {
      "x-twitter": "tradingsonar"
    },
    "description": "Currency Authority: Exchange Rate of 1453 country currencies and crypto currencies",
    "title": "Sonar Trading",
    "version": "1.0",
    "x-apisguru-categories": [
      "financial"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_tradingsonar_profile_image.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://sonar.trading/docs/api-docs.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "sonar.trading"
  },
  "consumes": [
    "string"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/convert": {
      "get": {
        "parameters": [
          {
            "description": "Currency you want to convert. For example, EUR",
            "in": "query",
            "name": "from",
            "required": true,
            "type": "string"
          },
          {
            "description": "Comma separated list of currencies codes. For example, USD",
            "in": "query",
            "name": "to",
            "required": true,
            "type": "string"
          },
          {
            "description": "This parameter can be used to specify the amount you want to convert. If an amount is not specified then 1 is assumed.",
            "in": "query",
            "name": "amount",
            "required": false,
            "type": "string"
          },
          {
            "description": "This parameter can be used to specify the number of decimal places included in the output. If an amount is not specified then 12 is assumed.",
            "in": "query",
            "name": "decimal_places",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Command completed successfully"
          },
          "422": {
            "description": "Parameter value syntax error / Parameter value range error"
          }
        },
        "summary": "Convert a currency amount to multiple other currencies",
        "tags": [
          "Currencies"
        ]
      }
    },
    "/country/currencies": {
      "get": {
        "parameters": [
          {
            "description": "Parameter used to specify the language in which you would like the currency names to be provided. If not specified, EN is used. Now availeble only EN language.",
            "in": "query",
            "name": "language",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Command completed successfully"
          },
          "422": {
            "description": "Parameter value syntax error / Parameter value range error"
          }
        },
        "summary": "Return a list of all currencies of countries, available via service",
        "tags": [
          "Currencies"
        ]
      }
    },
    "/digital/currencies": {
      "get": {
        "parameters": [
          {
            "description": "Parameter used to specify the language in which you would like the currency names to be provided. If not specified, EN is used. Now availeble only EN language.",
            "in": "query",
            "name": "language",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Command completed successfully"
          },
          "422": {
            "description": "Parameter value syntax error / Parameter value range error"
          }
        },
        "summary": "Return a list of all digital currencies, available via service",
        "tags": [
          "Currencies"
        ]
      }
    },
    "/history": {
      "get": {
        "parameters": [
          {
            "description": "Currency you want to convert. For example, EUR",
            "in": "query",
            "name": "from",
            "required": true,
            "type": "string"
          },
          {
            "description": "Comma separated list of currencies codes. For example, USD",
            "in": "query",
            "name": "to",
            "required": true,
            "type": "string"
          },
          {
            "description": "UTC date should be in the form of YYYY-MM-DD, for example, 2018-06-20. Data available from 2018-06-19 only.",
            "in": "query",
            "name": "date",
            "required": true,
            "type": "string"
          },
          {
            "description": "This parameter can be used to specify the amount you want to convert. If an amount is not specified then 1 is assumed.",
            "in": "query",
            "name": "amount",
            "required": false,
            "type": "string"
          },
          {
            "description": "This parameter can be used to specify the number of decimal places included in the output. If an amount is not specified then 4 is assumed.",
            "in": "query",
            "name": "decimal_places",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Command completed successfully"
          },
          "422": {
            "description": "Parameter value syntax error / Parameter value range error"
          }
        },
        "summary": "Return a historic rate for a currencies",
        "tags": [
          "Currencies"
        ]
      }
    }
  },
  "definitions": {}
}