swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Azure Analysis Services Web API provides a RESTful set of web services that enables users to create, retrieve, update, and delete Analysis Services servers
  title: AzureAnalysisServices
  version: 2017-07-14
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-ms-code-generation-settings:
    name: AnalysisServicesManagementClient
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/analysisservices/resource-manager/Microsoft.AnalysisServices/stable/2017-07-14/analysisservices.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: analysisservices
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: The client API version.
    in: query
    name: api-version
    required: true
    type: string
  ResourceGroupNameParameter:
    description: The name of the Azure Resource group of which a given Analysis Services server is part. This name must be at least 1 character in length, and no more than 90.
    in: path
    maxLength: 90
    minLength: 1
    name: resourceGroupName
    pattern: ^[-\w\._\(\)]+$
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: A unique identifier for a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/locations/{location}/checkNameAvailability":
    post:
      description: Check the name availability in the target location.
      operationId: Servers_CheckNameAvailability
      parameters:
        - description: The region name which the operation will lookup into.
          in: path
          name: location
          required: true
          type: string
        - description: Contains the information used to provision the Analysis Services server.
          in: body
          name: serverParameters
          required: true
          schema:
            $ref: "#/definitions/CheckServerNameAvailabilityParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/CheckServerNameAvailabilityResult"
      tags:
        - Servers
      x-ms-examples:
        Get details of a server:
          parameters:
            api-version: 2017-07-14
            location: West US
            serverParameters:
              name: azsdktest
              type: Microsoft.AnalysisServices/servers
            subscriptionId: 613192d7-503f-477a-9cfe-4efc3ee2bd60
          responses:
            "200":
              body:
                nameAvailable: true
              headers: {}
  "/subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/locations/{location}/operationresults/{operationId}":
    get:
      description: List the result of the specified operation.
      operationId: Servers_ListOperationResults
      parameters:
        - description: The region name which the operation will lookup into.
          in: path
          name: location
          required: true
          type: string
        - description: The target operation Id.
          in: path
          name: operationId
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK. The operation completed.
        "202":
          description: Accepted. The operation is ongoing.
      tags:
        - Servers
      x-ms-examples:
        Get details of a server:
          parameters:
            api-version: 2017-07-14
            location: West US
            operationId: "00000000000000000000000000000000"
            subscriptionId: 613192d7-503f-477a-9cfe-4efc3ee2bd60
          responses:
            "200":
              headers: {}
            "202":
              headers: {}
  "/subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/locations/{location}/operationstatuses/{operationId}":
    get:
      description: List the status of operation.
      operationId: Servers_ListOperationStatuses
      parameters:
        - description: The region name which the operation will lookup into.
          in: path
          name: location
          required: true
          type: string
        - description: The target operation Id.
          in: path
          name: operationId
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK. The operation completed.
          schema:
            $ref: "#/definitions/OperationStatus"
        "202":
          description: Accepted. The operation is ongoing.
          schema:
            $ref: "#/definitions/OperationStatus"
      tags:
        - Servers
  "/subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/servers":
    get:
      description: Lists all the Analysis Services servers for the given subscription.
      operationId: Servers_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AnalysisServicesServers"
      tags:
        - Servers
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/skus":
    get:
      description: Lists eligible SKUs for Analysis Services resource provider.
      operationId: Servers_ListSkusForNew
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SkuEnumerationForNewResourceResult"
      x-ms-examples:
        List eligible SKUs for a new server:
          parameters:
            api-version: 2017-07-14
            subscriptionId: 613192d7-503f-477a-9cfe-4efc3ee2bd60
          responses:
            "200":
              body:
                value:
                  - name: B1
                  - name: B2
                  - name: D1
                  - name: S0
                  - name: S1
                  - name: S2
                  - name: S3
                  - name: S4
              headers: {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers":
    get:
      description: Gets all the Analysis Services servers for the given resource group.
      operationId: Servers_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AnalysisServicesServers"
      tags:
        - Servers
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}":
    delete:
      description: Deletes the specified Analysis Services server.
      operationId: Servers_Delete
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - description: The name of the Analysis Services server. It must be at least 3 characters in length, and no more than 63.
          in: path
          maxLength: 63
          minLength: 3
          name: serverName
          pattern: ^[a-z][a-z0-9]*$
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK.
        "202":
          description: Accepted.
        "204":
          description: No Content.
      tags:
        - Servers
      x-ms-long-running-operation: true
    get:
      description: Gets details about the specified Analysis Services server.
      operationId: Servers_GetDetails
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - description: The name of the Analysis Services server. It must be a minimum of 3 characters, and a maximum of 63.
          in: path
          maxLength: 63
          minLength: 3
          name: serverName
          pattern: ^[a-z][a-z0-9]*$
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK. The operation was successful.
          schema:
            $ref: "#/definitions/AnalysisServicesServer"
      tags:
        - Servers
    patch:
      description: Updates the current state of the specified Analysis Services server.
      operationId: Servers_Update
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - description: The name of the Analysis Services server. It must be at least 3 characters in length, and no more than 63.
          in: path
          maxLength: 63
          minLength: 3
          name: serverName
          pattern: ^[a-z][a-z0-9]*$
          required: true
          type: string
        - description: Request object that contains the updated information for the server.
          in: body
          name: serverUpdateParameters
          required: true
          schema:
            $ref: "#/definitions/AnalysisServicesServerUpdateParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AnalysisServicesServer"
        "202":
          description: Accepted
          schema:
            $ref: "#/definitions/AnalysisServicesServer"
      tags:
        - Servers
      x-ms-long-running-operation: true
    put:
      description: Provisions the specified Analysis Services server based on the configuration specified in the request.
      operationId: Servers_Create
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - description: The name of the Analysis Services server. It must be a minimum of 3 characters, and a maximum of 63.
          in: path
          maxLength: 63
          minLength: 3
          name: serverName
          pattern: ^[a-z][a-z0-9]*$
          required: true
          type: string
        - description: Contains the information used to provision the Analysis Services server.
          in: body
          name: serverParameters
          required: true
          schema:
            $ref: "#/definitions/AnalysisServicesServer"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK. The operation completed successfully.
          schema:
            $ref: "#/definitions/AnalysisServicesServer"
        "201":
          description: InProgress. The operation is still completing.
          schema:
            $ref: "#/definitions/AnalysisServicesServer"
      tags:
        - Servers
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}/dissociateGateway":
    post:
      description: Dissociates a Unified Gateway associated with the server.
      operationId: Servers_DissociateGateway
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - description: The name of the Analysis Services server. It must be at least 3 characters in length, and no more than 63.
          in: path
          maxLength: 63
          minLength: 3
          name: serverName
          pattern: ^[a-z][a-z0-9]*$
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK.
      tags:
        - Servers
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}/listGatewayStatus":
    post:
      description: Return the gateway status of the specified Analysis Services server instance.
      operationId: Servers_ListGatewayStatus
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - description: The name of the Analysis Services server. It must be at least 3 characters in length, and no more than 63.
          in: path
          maxLength: 63
          minLength: 3
          name: serverName
          pattern: ^[a-z][a-z0-9]*$
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/GatewayListStatusLive"
        default:
          description: Default response as an error
          schema:
            $ref: "#/definitions/GatewayListStatusError"
      tags:
        - Servers
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}/resume":
    post:
      description: Resumes operation of the specified Analysis Services server instance.
      operationId: Servers_Resume
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - description: The name of the Analysis Services server. It must be at least 3 characters in length, and no more than 63.
          in: path
          maxLength: 63
          minLength: 3
          name: serverName
          pattern: ^[a-z][a-z0-9]*$
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
      tags:
        - Servers
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}/skus":
    get:
      description: Lists eligible SKUs for an Analysis Services resource.
      operationId: Servers_ListSkusForExisting
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - description: The name of the Analysis Services server. It must be at least 3 characters in length, and no more than 63.
          in: path
          maxLength: 63
          minLength: 3
          name: serverName
          pattern: ^[a-z][a-z0-9]*$
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SkuEnumerationForExistingResourceResult"
      tags:
        - Servers
      x-ms-examples:
        List eligible SKUs for an existing server:
          parameters:
            api-version: 2017-07-14
            resourceGroupName: TestRG
            serverName: azsdktest
            subscriptionId: 613192d7-503f-477a-9cfe-4efc3ee2bd60
          responses:
            "200":
              body:
                value:
                  - sku:
                      name: B1
                      tier: Basic
                  - sku:
                      name: B2
                      tier: Basic
                  - sku:
                      name: S0
                      tier: Standard
                  - sku:
                      name: S1
                      tier: Standard
                  - sku:
                      name: S2
                      tier: Standard
                  - sku:
                      name: S3
                      tier: Standard
                  - sku:
                      name: S4
                      tier: Standard
              headers: {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}/suspend":
    post:
      description: Suspends operation of the specified Analysis Services server instance.
      operationId: Servers_Suspend
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - description: The name of the Analysis Services server. It must be at least 3 characters in length, and no more than 63.
          in: path
          maxLength: 63
          minLength: 3
          name: serverName
          pattern: ^[a-z][a-z0-9]*$
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK.
        "202":
          description: Accepted.
      tags:
        - Servers
      x-ms-long-running-operation: true
definitions:
  AnalysisServicesServer:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Represents an instance of an Analysis Services resource.
    properties:
      properties:
        $ref: "#/definitions/AnalysisServicesServerProperties"
        description: Properties of the provision operation request.
        x-ms-client-flatten: true
    type: object
  AnalysisServicesServerMutableProperties:
    description: An object that represents a set of mutable Analysis Services resource properties.
    properties:
      asAdministrators:
        $ref: "#/definitions/ServerAdministrators"
        description: A collection of AS server administrators
      backupBlobContainerUri:
        description: The SAS container URI to the backup container.
        type: string
      gatewayDetails:
        $ref: "#/definitions/GatewayDetails"
        description: The gateway details configured for the AS server.
    type: object
  AnalysisServicesServerProperties:
    allOf:
      - $ref: "#/definitions/AnalysisServicesServerMutableProperties"
    description: Properties of Analysis Services resource.
    properties:
      provisioningState:
        description: The current deployment state of Analysis Services resource. The provisioningState is to indicate states for resource provisioning.
        enum:
          - Deleting
          - Succeeded
          - Failed
          - Paused
          - Suspended
          - Provisioning
          - Updating
          - Suspending
          - Pausing
          - Resuming
          - Preparing
          - Scaling
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProvisioningState
      serverFullName:
        description: The full name of the Analysis Services resource.
        readOnly: true
        type: string
      state:
        description: The current state of Analysis Services resource. The state is to indicate more states outside of resource provisioning.
        enum:
          - Deleting
          - Succeeded
          - Failed
          - Paused
          - Suspended
          - Provisioning
          - Updating
          - Suspending
          - Pausing
          - Resuming
          - Preparing
          - Scaling
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: State
    type: object
  AnalysisServicesServerUpdateParameters:
    description: Provision request specification
    properties:
      properties:
        $ref: "#/definitions/AnalysisServicesServerMutableProperties"
        description: Properties of the provision operation request.
        x-ms-client-flatten: true
      sku:
        $ref: "#/definitions/ResourceSku"
        description: The SKU of the Analysis Services resource.
      tags:
        additionalProperties:
          type: string
        description: Key-value pairs of additional provisioning properties.
        type: object
    type: object
  AnalysisServicesServers:
    description: An array of Analysis Services resources.
    properties:
      value:
        description: An array of Analysis Services resources.
        items:
          $ref: "#/definitions/AnalysisServicesServer"
        type: array
    required:
      - value
    type: object
  CheckServerNameAvailabilityParameters:
    description: Details of server name request body.
    properties:
      name:
        description: Name for checking availability.
        maxLength: 63
        minLength: 3
        pattern: ^[a-z][a-z0-9]*$
        type: string
      type:
        default: Microsoft.AnalysisServices/servers
        description: The resource type of azure analysis services.
        type: string
    type: object
  CheckServerNameAvailabilityResult:
    description: The checking result of server name availability.
    properties:
      message:
        description: The detailed message of the request unavailability.
        type: string
      nameAvailable:
        description: Indicator of available of the server name.
        type: boolean
      reason:
        description: The reason of unavailability.
        type: string
    type: object
  ErrorResponse:
    description: Describes the format of Error response.
    properties:
      code:
        description: Error code
        type: string
      message:
        description: Error message indicating why the operation failed.
        type: string
    type: object
  GatewayDetails:
    description: The gateway details.
    properties:
      dmtsClusterUri:
        description: Uri of the DMTS cluster.
        readOnly: true
        type: string
      gatewayObjectId:
        description: Gateway object id from in the DMTS cluster for the gateway resource.
        readOnly: true
        type: string
      gatewayResourceId:
        description: Gateway resource to be associated with the server.
        type: string
    type: object
  GatewayError:
    description: Detail of gateway errors
    properties:
      code:
        description: Error code of list gateway.
        type: string
      message:
        description: Error message of list gateway.
        type: string
    type: object
  GatewayListStatusError:
    description: Status of gateway is error
    properties:
      error:
        $ref: "#/definitions/GatewayError"
        description: Error of the list gateway status.
    type: object
  GatewayListStatusLive:
    description: Status of gateway is live
    properties:
      status:
        description: Live message of list gateway.
        enum:
          - Live
        type: string
        x-ms-enum:
          modelAsString: false
          name: Status
    type: object
  OperationStatus:
    description: The status of operation.
    properties:
      endTime:
        description: The end time of the operation.
        type: string
      error:
        $ref: "#/definitions/ErrorResponse"
        description: The error detail of the operation if any.
        type: object
      id:
        description: The operation Id.
        type: string
      name:
        description: The operation name.
        type: string
      startTime:
        description: The start time of the operation.
        type: string
      status:
        description: The status of the operation.
        type: string
    type: object
  Resource:
    description: Represents an instance of an Analysis Services resource.
    properties:
      id:
        description: An identifier that represents the Analysis Services resource.
        readOnly: true
        type: string
      location:
        description: Location of the Analysis Services resource.
        type: string
      name:
        description: The name of the Analysis Services resource.
        readOnly: true
        type: string
      sku:
        $ref: "#/definitions/ResourceSku"
        description: The SKU of the Analysis Services resource.
      tags:
        additionalProperties:
          type: string
        description: Key-value pairs of additional resource provisioning properties.
        type: object
      type:
        description: The type of the Analysis Services resource.
        readOnly: true
        type: string
    required:
      - location
      - sku
    type: object
    x-ms-azure-resource: true
  ResourceSku:
    description: Represents the SKU name and Azure pricing tier for Analysis Services resource.
    properties:
      name:
        description: Name of the SKU level.
        type: string
      tier:
        description: The name of the Azure pricing tier to which the SKU applies.
        enum:
          - Development
          - Basic
          - Standard
        type: string
        x-ms-enum:
          modelAsString: true
          name: SkuTier
    required:
      - name
    type: object
  ServerAdministrators:
    description: An array of administrator user identities
    properties:
      members:
        description: An array of administrator user identities.
        items:
          description: "The UPN of the user. For example: johnsmith@contoso.com."
          type: string
        type: array
    type: object
  SkuDetailsForExistingResource:
    description: An object that represents SKU details for existing resources
    properties:
      sku:
        $ref: "#/definitions/ResourceSku"
        description: The SKU in SKU details for existing resources.
    type: object
  SkuEnumerationForExistingResourceResult:
    description: An object that represents enumerating SKUs for existing resources
    properties:
      value:
        description: The collection of available SKUs for existing resources
        items:
          $ref: "#/definitions/SkuDetailsForExistingResource"
        type: array
    type: object
  SkuEnumerationForNewResourceResult:
    description: An object that represents enumerating SKUs for new resources
    properties:
      value:
        description: The collection of available SKUs for new resources
        items:
          $ref: "#/definitions/ResourceSku"
        type: array
    type: object
