{
  "swagger": "2.0",
  "schemes": [
    "http",
    "https"
  ],
  "host": "www.omdbapi.com",
  "basePath": "/",
  "info": {
    "contact": {
      "email": "bfritz@fadingsignal.com",
      "name": "Open Movie Database",
      "url": "http://omdbapi.com"
    },
    "description": "The Open Movie Database. The OMDb API is a free web service to obtain movie information, all content and images on the site are contributed and maintained by our users.",
    "license": {
      "name": "CC BY-NC 4.0",
      "url": "https://creativecommons.org/licenses/by-nc/4.0/"
    },
    "termsOfService": "http://www.omdbapi.com/legal.htm",
    "title": "OMDb",
    "version": "1",
    "x-apisguru-categories": [
      "media",
      "open_data"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/http_raw.githubusercontent.com_Mermade_open_api_specifications_master_OMDb_OMDb.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Mermade/open_api_specifications/master/OMDb/swagger.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "omdbapi.com",
    "x-unofficialSpec": true
  },
  "externalDocs": {
    "description": "OMDb Usage",
    "url": "http://www.omdbapi.com/#usage"
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "securityDefinitions": {},
  "paths": {
    "/": {
      "get": {
        "description": "Find a movie, series or episode from the OMDb by title, IMDb-id or by free-text search",
        "operationId": "Get_OMDb Search",
        "parameters": [
          {
            "description": "Movie title to search for. One of t, i or s is required.",
            "in": "query",
            "name": "t",
            "required": false,
            "type": "string"
          },
          {
            "description": "A valid IMDb ID (e.g. tt1285016). One of t, i or s is required.",
            "in": "query",
            "name": "i",
            "required": false,
            "type": "string"
          },
          {
            "description": "Movie title to search for. One of t, i or s is required.",
            "in": "query",
            "name": "s",
            "required": false,
            "type": "string"
          },
          {
            "description": "Year of release.",
            "in": "query",
            "name": "y",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Type of result to return.",
            "enum": [
              "movie",
              "series",
              "episode"
            ],
            "in": "query",
            "name": "type",
            "required": false,
            "type": "string"
          },
          {
            "default": "short",
            "description": "Return short or full plot.",
            "enum": [
              "short",
              "full"
            ],
            "in": "query",
            "name": "plot",
            "required": false,
            "type": "string"
          },
          {
            "default": false,
            "description": "Include Rotten Tomatoes ratings.",
            "in": "query",
            "name": "tomatoes",
            "required": false,
            "type": "boolean"
          },
          {
            "default": "json",
            "description": "The data type to return.",
            "enum": [
              "json",
              "xml"
            ],
            "in": "query",
            "name": "r",
            "required": true,
            "type": "string"
          },
          {
            "default": 1,
            "description": "API version (reserved for future use).",
            "in": "query",
            "name": "v",
            "required": false,
            "type": "integer"
          },
          {
            "default": 1,
            "description": "Page number to return.",
            "format": "int32",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "description": "JSONP callback name.",
            "in": "query",
            "name": "callback",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Default response",
            "schema": {
              "$ref": "#/definitions/combinedResult"
            }
          }
        },
        "security": [],
        "summary": "OMDb Search"
      }
    }
  },
  "definitions": {
    "combinedResult": {
      "properties": {
        "Actors": {
          "type": "string"
        },
        "Awards": {
          "type": "string"
        },
        "BoxOffice": {
          "type": "string"
        },
        "Country": {
          "type": "string"
        },
        "DVD": {
          "type": "string"
        },
        "Director": {
          "type": "string"
        },
        "Genre": {
          "type": "string"
        },
        "Language": {
          "type": "string"
        },
        "Metascore": {
          "type": "string"
        },
        "Plot": {
          "type": "string"
        },
        "Poster": {
          "type": "string"
        },
        "Production": {
          "type": "string"
        },
        "Rated": {
          "type": "string"
        },
        "Released": {
          "type": "string"
        },
        "Response": {
          "type": "string"
        },
        "Runtime": {
          "type": "string"
        },
        "Search": {
          "items": {
            "properties": {
              "Poster": {
                "type": "string"
              },
              "Title": {
                "type": "string"
              },
              "Type": {
                "type": "string"
              },
              "Year": {
                "type": "string"
              },
              "imdbID": {
                "type": "string"
              }
            },
            "required": [
              "Title",
              "Year",
              "imdbID",
              "Type",
              "Poster"
            ],
            "type": "object"
          },
          "type": "array"
        },
        "Title": {
          "type": "string"
        },
        "Type": {
          "type": "string"
        },
        "Website": {
          "type": "string"
        },
        "Writer": {
          "type": "string"
        },
        "Year": {
          "type": "string"
        },
        "imdbID": {
          "type": "string"
        },
        "imdbRating": {
          "type": "string"
        },
        "imdbVotes": {
          "type": "string"
        },
        "tomatoConsensus": {
          "type": "string"
        },
        "tomatoFresh": {
          "type": "string"
        },
        "tomatoImage": {
          "type": "string"
        },
        "tomatoMeter": {
          "type": "string"
        },
        "tomatoRating": {
          "type": "string"
        },
        "tomatoReviews": {
          "type": "string"
        },
        "tomatoRotten": {
          "type": "string"
        },
        "tomatoURL": {
          "type": "string"
        },
        "tomatoUserMeter": {
          "type": "string"
        },
        "tomatoUserRating": {
          "type": "string"
        },
        "tomatoUserReviews": {
          "type": "string"
        },
        "totalResults": {
          "type": "string"
        },
        "totalSeasons": {
          "type": "string"
        }
      },
      "required": [
        "Response"
      ],
      "type": "object"
    }
  }
}