openapi: 3.0.1
servers:
  - url: https://extpose.com/api/v1
info:
  contact:
    email: info@extpose.com
  description: Extpose — in‑store performance analytics and optimization tool for Chrome extensions. [https://extpose.com](https://extpose.com)
  termsOfService: https://extpose.com/privacy-policy
  title: Extpose
  version: 1.0.0
  x-apisguru-categories:
    - developer_tools
  x-origin:
    - converter:
        url: https://github.com/mermade/oas-kit
        version: 7.0.4
      format: openapi
      url: https://extpose.com/openapi.yaml
      version: "3.0"
  x-providerName: extpose.com
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg
externalDocs:
  description: Find out more about Extpose
  url: https://extpose.com
tags:
  - description: user-specific methods
    name: user
paths:
  /user-extensions:
    get:
      description: This endpoint allows you to get list of your extensions including extensions from the watchlist.
      operationId: getUserExtensions
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Extension"
                type: array
          description: successful operation
        "400":
          content: {}
          description: Invalid status value
      security:
        - api_key: []
      summary: Get User Extensions
      tags:
        - user
components:
  schemas:
    Extension:
      example:
        avg_rating: 4.5
        extension_id: 4186
        install_count: 2333
        prev_avg_rating: 4.57142857142857
        prev_install_count: 1225
        prev_rating_count: 7
        rating_count: 10
        update_ts: Tue, 24 Sep 2019 22:16:41 GMT
        url: https://chrome.google.com/webstore/detail/bitcoin-price-ticker/bgddejjmhilkdllbakkgddjodommlimc
      properties:
        avg_rating:
          format: float
          type: number
        extension_id:
          format: int64
          type: integer
        install_count:
          format: int64
          type: integer
        prev_avg_rating:
          format: float
          type: number
        prev_install_count:
          format: int64
          type: integer
        prev_rating_count:
          format: int64
          type: integer
        rating_count:
          format: int64
          type: integer
        update_ts:
          format: date-time
          type: string
        url:
          format: uri
          type: string
      type: object
  securitySchemes:
    api_key:
      in: header
      name: X-API-Key
      type: apiKey
