swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: API spec for Microsoft.SecurityInsights (Azure Security Insights) resource provider
  title: Security Insights
  version: 2019-01-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2019-01-01-preview/SecurityInsights.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: securityinsights-SecurityInsights
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  Action:
    description: The action
    in: body
    name: action
    required: true
    schema:
      $ref: "#/definitions/ActionRequest"
    x-ms-parameter-location: method
  ActionId:
    description: Action ID
    in: path
    name: actionId
    required: true
    type: string
    x-ms-parameter-location: method
  AggregationsName:
    description: The aggregation name. Supports - Cases
    in: path
    name: aggregationsName
    required: true
    type: string
    x-ms-parameter-location: method
  AlertRule:
    description: The alert rule
    in: body
    name: alertRule
    required: true
    schema:
      $ref: "#/definitions/AlertRule"
    x-ms-parameter-location: method
  AlertRuleTemplateId:
    description: Alert rule template ID
    in: path
    name: alertRuleTemplateId
    required: true
    type: string
    x-ms-parameter-location: method
  ApiVersion:
    description: API version for the operation
    enum:
      - 2019-01-01-preview
    in: query
    name: api-version
    required: true
    type: string
  Bookmark:
    description: The bookmark
    in: body
    name: bookmark
    required: true
    schema:
      $ref: "#/definitions/Bookmark"
    x-ms-parameter-location: method
  BookmarkId:
    description: Bookmark ID
    in: path
    name: bookmarkId
    required: true
    type: string
    x-ms-parameter-location: method
  Case:
    description: The case
    in: body
    name: case
    required: true
    schema:
      $ref: "#/definitions/Case"
    x-ms-parameter-location: method
  CaseComment:
    description: The case comment
    in: body
    name: caseComment
    required: true
    schema:
      $ref: "#/definitions/CaseComment"
    x-ms-parameter-location: method
  CaseCommentId:
    description: Case comment ID
    in: path
    name: caseCommentId
    required: true
    type: string
    x-ms-parameter-location: method
  CaseId:
    description: Case ID
    in: path
    name: caseId
    required: true
    type: string
    x-ms-parameter-location: method
  ConsentId:
    description: consent ID
    in: path
    name: consentId
    required: true
    type: string
    x-ms-parameter-location: method
  DataConnector:
    description: The data connector
    in: body
    name: dataConnector
    required: true
    schema:
      $ref: "#/definitions/DataConnector"
    x-ms-parameter-location: method
  DataConnectorId:
    description: Connector ID
    in: path
    name: dataConnectorId
    required: true
    type: string
    x-ms-parameter-location: method
  EntityExpandRequestBody:
    description: The parameters required to execute an expand operation on the given entity.
    in: body
    name: parameters
    required: true
    schema:
      $ref: "#/definitions/EntityExpandParameters"
    x-ms-parameter-location: method
  EntityId:
    description: entity ID
    in: path
    name: entityId
    required: true
    type: string
    x-ms-parameter-location: method
  EntityQueryId:
    description: entity query ID
    in: path
    name: entityQueryId
    required: true
    type: string
    x-ms-parameter-location: method
  ODataFilter:
    description: Filters the results, based on a Boolean condition. Optional.
    in: query
    name: $filter
    required: false
    type: string
    x-ms-parameter-location: method
  ODataOrderBy:
    description: Sorts the results. Optional.
    in: query
    name: $orderby
    required: false
    type: string
    x-ms-parameter-location: method
  ODataSkipToken:
    description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls. Optional.
    in: query
    name: $skipToken
    required: false
    type: string
    x-ms-parameter-location: method
  ODataTop:
    description: Returns only the first n results. Optional.
    format: int32
    in: query
    name: $top
    required: false
    type: integer
    x-ms-parameter-location: method
  OperationalInsightsResourceProvider:
    description: The namespace of workspaces resource provider- Microsoft.OperationalInsights.
    in: path
    name: operationalInsightsResourceProvider
    required: true
    type: string
    x-ms-parameter-location: method
  RelationInputModel:
    description: The relation input model
    in: body
    name: relationInputModel
    required: true
    schema:
      $ref: "#/definitions/RelationsModelInput"
    x-ms-parameter-location: method
  RelationName:
    description: Relation Name
    in: path
    name: relationName
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceGroupName:
    description: The name of the resource group within the user's subscription. The name is case insensitive.
    in: path
    maxLength: 90
    minLength: 1
    name: resourceGroupName
    pattern: ^[-\w\._\(\)]+$
    required: true
    type: string
    x-ms-parameter-location: method
  RuleId:
    description: Alert rule ID
    in: path
    name: ruleId
    required: true
    type: string
    x-ms-parameter-location: method
  Settings:
    description: The setting
    in: body
    name: settings
    required: true
    schema:
      $ref: "#/definitions/Settings"
    x-ms-parameter-location: method
  SettingsName:
    description: The setting name. Supports- Fusion, UEBA
    in: path
    name: settingsName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionId:
    description: Azure subscription ID
    in: path
    name: subscriptionId
    pattern: ^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$
    required: true
    type: string
  WorkspaceName:
    description: The name of the workspace.
    in: path
    maxLength: 90
    minLength: 1
    name: workspaceName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  /providers/Microsoft.SecurityInsights/operations:
    get:
      description: Lists all operations available Azure Security Insights Resource Provider.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersion"
      responses:
        "200":
          description: OK. Successfully retrieved operations list.
          schema:
            $ref: "#/definitions/OperationsList"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/aggregations/{aggregationsName}":
    get:
      description: Get aggregative result for the given resources under the defined workspace
      operationId: CasesAggregations_Get
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/OperationalInsightsResourceProvider"
        - $ref: "#/parameters/WorkspaceName"
        - $ref: "#/parameters/AggregationsName"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Aggregations"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Aggregations
      x-ms-examples:
        "Get aggregative data for all cases under the defined workspace, between the time range if specified.":
          parameters:
            aggregationsName: Cases
            api-version: 2019-01-01-preview
            operationalInsightsResourceProvider: Microsoft.OperationalInsights
            resourceGroupName: myRg
            subscriptionId: d0cfe6b2-9ac0-4464-9919-dccaee2e48c0
            workspaceName: myWorkspace
          responses:
            "200":
              body:
                id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/aggregations/Cases
                kind: CasesAggregation
                name: Cases
                properties:
                  aggregationBySeverity:
                    totalCriticalSeverity: 13
                    totalHighSeverity: 14
                    totalInformationalSeverity: 26
                    totalLowSeverity: 15
                    totalMediumSeverity: 4
                  aggregationByStatus:
                    totalDismissedStatus: 1
                    totalInProgressStatus: 30
                    totalNewStatus: 42
                    totalResolvedStatus: 2
                type: Microsoft.SecurityInsights/aggregations
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/alertRuleTemplates":
    get:
      description: Gets all alert rule templates.
      operationId: AlertRuleTemplates_List
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/OperationalInsightsResourceProvider"
        - $ref: "#/parameters/WorkspaceName"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AlertRuleTemplatesList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Alert Rule Templates
      x-ms-examples:
        Get all alert rule templates.:
          parameters:
            api-version: 2019-01-01-preview
            operationalInsightsResourceProvider: Microsoft.OperationalIinsights
            resourceGroupName: myRg
            subscriptionId: d0cfe6b2-9ac0-4464-9919-dccaee2e48c0
            workspaceName: myWorkspace
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/AlertRuleTemplates/65360bb0-8986-4ade-a89d-af3cf44d28aa
                    kind: Scheduled
                    name: 65360bb0-8986-4ade-a89d-af3cf44d28aa
                    properties:
                      alertRulesCreatedByTemplateCount: 0
                      createdDateUTC: 2019-02-27T00:00:00Z
                      description: |-
                        This alert monitors changes to Amazon VPC (Virtual Private Cloud) settings such as new ACL entries and routes in route tables.
                        More information: https://medium.com/@GorillaStack/the-most-important-aws-cloudtrail-security-events-to-track-a5b9873f8255 
                        and https://aws.amazon.com/vpc/
                      displayName: Changes to Amazon VPC settings
                      query: |-
                        let timeframe = 1d;
                        AWSCloudTrail
                        | where TimeGenerated >= ago(timeframe)
                        | where EventName == "CreateNetworkAclEntry"
                            or EventName == "CreateRoute"
                        | project TimeGenerated, EventName, EventTypeName, UserIdentityAccountId, UserIdentityPrincipalid, UserAgent, UserIdentityUserName, SessionMfaAuthenticated, SourceIpAddress, AWSRegion, EventSource, AdditionalEventData, ResponseElements
                        | extend AccountCustomEntity = UserIdentityUserName, IPCustomEntity = SourceIpAddress
                      queryFrequency: P1D
                      queryPeriod: P1D
                      requiredDataConnectors:
                        - connectorId: AWS
                          dataTypes:
                            AWSCloudTrail: Exist
                      severity: Low
                      status: Available
                      tactics:
                        - PrivilegeEscalation
                        - LateralMovement
                      triggerOperator: GreaterThan
                      triggerThreshold: 0
                    type: Microsoft.SecurityInsights/AlertRuleTemplates
                  - id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/AlertRuleTemplates/f71aba3d-28fb-450b-b192-4e76a83015c8
                    kind: Fusion
                    name: f71aba3d-28fb-450b-b192-4e76a83015c8
                    properties:
                      alertRulesCreatedByTemplateCount: 0
                      createdDateUTC: 2019-07-25T00:00:00Z
                      description: |
                        Place holder: Fusion uses graph powered machine learning algorithms to correlate between millions of lower fidelity anomalous activities from different products such as Azure AD Identity Protection, and Microsoft Cloud App Security, to combine them into a manageable number of interesting security cases.
                      displayName: Advanced Multi-Stage Attack Detection
                      severity: High
                      status: Available
                      tactics:
                        - Persistence
                        - LateralMovement
                        - Exfiltration
                        - CommandAndControl
                    type: Microsoft.SecurityInsights/AlertRuleTemplates
                  - id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/AlertRuleTemplates/b3cfc7c0-092c-481c-a55b-34a3979758cb
                    kind: MicrosoftSecurityIncidentCreation
                    name: b3cfc7c0-092c-481c-a55b-34a3979758cb
                    properties:
                      alertRulesCreatedByTemplateCount: 0
                      createdDateUTC: 2019-07-16T00:00:00Z
                      description: Create incidents based on all alerts generated in Microsoft Cloud App Security
                      displayName: Create incidents based on Microsoft Cloud App Security alerts
                      productFilter: Microsoft Cloud App Security
                      status: Available
                    type: Microsoft.SecurityInsights/AlertRuleTemplates
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/alertRuleTemplates/{alertRuleTemplateId}":
    get:
      description: Gets the alert rule template.
      operationId: AlertRuleTemplates_Get
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/OperationalInsightsResourceProvider"
        - $ref: "#/parameters/WorkspaceName"
        - $ref: "#/parameters/AlertRuleTemplateId"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AlertRuleTemplate"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Alert Rule Templates
      x-ms-examples:
        Get alert rule template by Id.:
          parameters:
            alertRuleTemplateId: 65360bb0-8986-4ade-a89d-af3cf44d28aa
            api-version: 2019-01-01-preview
            operationalInsightsResourceProvider: Microsoft.OperationalIinsights
            resourceGroupName: myRg
            subscriptionId: d0cfe6b2-9ac0-4464-9919-dccaee2e48c0
            workspaceName: myWorkspace
          responses:
            "200":
              body:
                id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/alertRuleTemplates/65360bb0-8986-4ade-a89d-af3cf44d28aa
                kind: Scheduled
                name: 65360bb0-8986-4ade-a89d-af3cf44d28aa
                properties:
                  alertRulesCreatedByTemplateCount: 0
                  createdDateUTC: 2019-02-27T00:00:00Z
                  description: |-
                    This alert monitors changes to Amazon VPC (Virtual Private Cloud) settings such as new ACL entries and routes in route tables.
                    More information: https://medium.com/@GorillaStack/the-most-important-aws-cloudtrail-security-events-to-track-a5b9873f8255 
                    and https://aws.amazon.com/vpc/
                  displayName: Changes to Amazon VPC settings
                  query: |-
                    let timeframe = 1d;
                    AWSCloudTrail
                    | where TimeGenerated >= ago(timeframe)
                    | where EventName == "CreateNetworkAclEntry"
                        or EventName == "CreateRoute"
                    | project TimeGenerated, EventName, EventTypeName, UserIdentityAccountId, UserIdentityPrincipalid, UserAgent, UserIdentityUserName, SessionMfaAuthenticated, SourceIpAddress, AWSRegion, EventSource, AdditionalEventData, ResponseElements
                    | extend AccountCustomEntity = UserIdentityUserName, IPCustomEntity = SourceIpAddress
                  queryFrequency: P1D
                  queryPeriod: P1D
                  requiredDataConnectors:
                    - connectorId: AWS
                      dataTypes:
                        AWSCloudTrail: Exist
                  severity: Low
                  status: Available
                  tactics:
                    - PrivilegeEscalation
                    - LateralMovement
                  triggerOperator: GreaterThan
                  triggerThreshold: 0
                type: Microsoft.SecurityInsights/AlertRuleTemplates
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/alertRules":
    get:
      description: Gets all alert rules.
      operationId: AlertRules_List
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/OperationalInsightsResourceProvider"
        - $ref: "#/parameters/WorkspaceName"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AlertRulesList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Alert Rules
      x-ms-examples:
        Get all alert rules.:
          parameters:
            api-version: 2019-01-01-preview
            operationalInsightsResourceProvider: Microsoft.OperationalIinsights
            resourceGroupName: myRg
            subscriptionId: d0cfe6b2-9ac0-4464-9919-dccaee2e48c0
            workspaceName: myWorkspace
          responses:
            "200":
              body:
                value:
                  - etag: '"0300bf09-0000-0000-0000-5c37296e0000"'
                    id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/alertRules/73e01a99-5cd7-4139-a149-9f2736ff2ab5
                    kind: Scheduled
                    name: 73e01a99-5cd7-4139-a149-9f2736ff2ab5
                    properties:
                      alertRuleTemplateName: null
                      description: ""
                      displayName: Rule2
                      enabled: true
                      lastModifiedUtc: 2019-01-01T13:15:30Z
                      query: ProtectionStatus | extend HostCustomEntity = Computer | extend IPCustomEntity = ComputerIP_Hidden
                      queryFrequency: PT1H
                      queryPeriod: P2DT1H30M
                      severity: High
                      suppressionDuration: PT1H
                      suppressionEnabled: false
                      tactics:
                        - Persistence
                        - LateralMovement
                      triggerOperator: GreaterThan
                      triggerThreshold: 0
                    type: Microsoft.SecurityInsights/alertRules
                  - etag: '"260097e0-0000-0d00-0000-5d6fa88f0000"'
                    id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/alertRules/microsoftSecurityIncidentCreationRuleExample
                    kind: MicrosoftSecurityIncidentCreation
                    name: microsoftSecurityIncidentCreationRuleExample
                    properties:
                      alertRuleTemplateName: null
                      description: null
                      displayName: testing displayname
                      displayNamesFilter: null
                      enabled: true
                      lastModifiedUtc: 2019-09-04T12:05:35.7296311Z
                      productFilter: Microsoft Cloud App Security
                      severitiesFilter: null
                      tactics: []
                    type: Microsoft.SecurityInsights/alertRules
                  - etag: '"25005c11-0000-0d00-0000-5d6cc0e20000"'
                    id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/alertRules/myFirstFusionRule
                    kind: Fusion
                    name: myFirstFusionRule
                    properties:
                      alertRuleTemplateName: f71aba3d-28fb-450b-b192-4e76a83015c8
                      description: |-
                        In this mode, Sentinel combines low fidelity alerts, which themselves may not be actionable, and events across multiple products, into high fidelity security interesting incidents. The system looks at multiple products to produce actionable incidents. Custom tailored to each tenant, Fusion not only reduces false positive rates but also can detect attacks with limited or missing information. 
                        Incidents generated by Fusion system will encase two or more alerts. By design, Fusion incidents are low volume, high fidelity and will be high severity, which is why Fusion is turned ON by default in Azure Sentinel.

                        For Fusion to work, please configure the following data sources in Data Connectors tab:
                        Required - Azure Active Directory Identity Protection
                        Required - Microsoft Cloud App Security
                        If Available - Palo Alto Network

                        For full list of scenarios covered by Fusion, and detail instructions on how to configure the required data sources, go to aka.ms/SentinelFusion
                      displayName: Advanced Multi-Stage Attack Detection
                      enabled: false
                      lastModifiedUtc: 2019-09-02T07:12:34.9065092Z
                      severity: High
                      tactics:
                        - Persistence
                        - LateralMovement
                        - Exfiltration
                        - CommandAndControl
                    type: Microsoft.SecurityInsights/alertRules
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/alertRules/{ruleId}":
    delete:
      description: Delete the alert rule.
      operationId: AlertRules_Delete
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/OperationalInsightsResourceProvider"
        - $ref: "#/parameters/WorkspaceName"
        - $ref: "#/parameters/RuleId"
      responses:
        "200":
          description: OK
        "204":
          description: No Content
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Alert Rules
      x-ms-examples:
        Delete an alert rule.:
          parameters:
            api-version: 2019-01-01-preview
            operationalInsightsResourceProvider: Microsoft.OperationalIinsights
            resourceGroupName: myRg
            ruleId: 73e01a99-5cd7-4139-a149-9f2736ff2ab5
            subscriptionId: d0cfe6b2-9ac0-4464-9919-dccaee2e48c0
            workspaceName: myWorkspace
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets the alert rule.
      operationId: AlertRules_Get
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/OperationalInsightsResourceProvider"
        - $ref: "#/parameters/WorkspaceName"
        - $ref: "#/parameters/RuleId"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AlertRule"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Alert Rules
      x-ms-examples:
        Get a Fusion alert rule.:
          parameters:
            api-version: 2019-01-01-preview
            operationalInsightsResourceProvider: Microsoft.OperationalIinsights
            resourceGroupName: myRg
            ruleId: myFirstFusionRule
            subscriptionId: d0cfe6b2-9ac0-4464-9919-dccaee2e48c0
            workspaceName: myWorkspace
          responses:
            "200":
              body:
                etag: '"260090e2-0000-0d00-0000-5d6fb8670000"'
                id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/alertRules/myFirstFusionRule
                kind: Fusion
                name: myFirstFusionRule
                properties:
                  alertRuleTemplateName: f71aba3d-28fb-450b-b192-4e76a83015c8
                  description: |-
                    In this mode, Sentinel combines low fidelity alerts, which themselves may not be actionable, and events across multiple products, into high fidelity security interesting incidents. The system looks at multiple products to produce actionable incidents. Custom tailored to each tenant, Fusion not only reduces false positive rates but also can detect attacks with limited or missing information. 
                    Incidents generated by Fusion system will encase two or more alerts. By design, Fusion incidents are low volume, high fidelity and will be high severity, which is why Fusion is turned ON by default in Azure Sentinel.

                    For Fusion to work, please configure the following data sources in Data Connectors tab:
                    Required - Azure Active Directory Identity Protection
                    Required - Microsoft Cloud App Security
                    If Available - Palo Alto Network

                    For full list of scenarios covered by Fusion, and detail instructions on how to configure the required data sources, go to aka.ms/SentinelFusion
                  displayName: Advanced Multi-Stage Attack Detection
                  enabled: true
                  lastModifiedUtc: 2019-09-04T13:13:11.5340061Z
                  severity: High
                  tactics:
                    - Persistence
                    - LateralMovement
                    - Exfiltration
                    - CommandAndControl
                type: Microsoft.SecurityInsights/alertRules
        Get a MicrosoftSecurityIncidentCreation rule.:
          parameters:
            api-version: 2019-01-01-preview
            operationalInsightsResourceProvider: Microsoft.OperationalIinsights
            resourceGroupName: myRg
            ruleId: microsoftSecurityIncidentCreationRuleExample
            subscriptionId: d0cfe6b2-9ac0-4464-9919-dccaee2e48c0
            workspaceName: myWorkspace
          responses:
            "200":
              body:
                etag: '"260097e0-0000-0d00-0000-5d6fa88f0000"'
                id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/alertRules/microsoftSecurityIncidentCreationRuleExample
                kind: MicrosoftSecurityIncidentCreation
                name: microsoftSecurityIncidentCreationRuleExample
                properties:
                  alertRuleTemplateName: null
                  description: null
                  displayName: testing displayname
                  displayNamesFilter: null
                  enabled: true
                  lastModifiedUtc: 2019-09-04T12:05:35.7296311Z
                  productFilter: Microsoft Cloud App Security
                  severitiesFilter: null
                  tactics: []
                type: Microsoft.SecurityInsights/alertRules
        Get a Scheduled alert rule.:
          parameters:
            api-version: 2019-01-01-preview
            operationalInsightsResourceProvider: Microsoft.OperationalIinsights
            resourceGroupName: myRg
            ruleId: 73e01a99-5cd7-4139-a149-9f2736ff2ab5
            subscriptionId: d0cfe6b2-9ac0-4464-9919-dccaee2e48c0
            workspaceName: myWorkspace
          responses:
            "200":
              body:
                etag: '"0300bf09-0000-0000-0000-5c37296e0000"'
                id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/alertRules/73e01a99-5cd7-4139-a149-9f2736ff2ab5
                kind: Scheduled
                name: 73e01a99-5cd7-4139-a149-9f2736ff2ab5
                properties:
                  alertRuleTemplateName: null
                  description: ""
                  displayName: Rule2
                  enabled: true
                  lastModifiedUtc: 2019-01-01T13:15:30Z
                  query: ProtectionStatus | extend HostCustomEntity = Computer | extend IPCustomEntity = ComputerIP_Hidden
                  queryFrequency: PT1H
                  queryPeriod: P2DT1H30M
                  severity: High
                  suppressionDuration: PT1H
                  suppressionEnabled: false
                  tactics:
                    - Persistence
                    - LateralMovement
                  triggerOperator: GreaterThan
                  triggerThreshold: 0
                type: Microsoft.SecurityInsights/alertRules
    put:
      description: Creates or updates the alert rule.
      operationId: AlertRules_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/OperationalInsightsResourceProvider"
        - $ref: "#/parameters/WorkspaceName"
        - $ref: "#/parameters/RuleId"
        - $ref: "#/parameters/AlertRule"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AlertRule"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/AlertRule"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Alert Rules
      x-ms-examples:
        Creates or updates a Fusion alert rule.:
          parameters:
            alertRule:
              etag: 3d00c3ca-0000-0100-0000-5d42d5010000
              kind: Fusion
              properties:
                alertRuleTemplateName: f71aba3d-28fb-450b-b192-4e76a83015c8
                enabled: "true"
            api-version: 2019-01-01-preview
            operationalInsightsResourceProvider: Microsoft.OperationalInsights
            resourceGroupName: myRg
            ruleId: myFirstFusionRule
            subscriptionId: d0cfe6b2-9ac0-4464-9919-dccaee2e48c0
            workspaceName: myWorkspace
          responses:
            "200":
              body:
                etag: '"260090e2-0000-0d00-0000-5d6fb8670000"'
                id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/alertRules/myFirstFusionRule
                kind: Fusion
                name: myFirstFusionRule
                properties:
                  alertRuleTemplateName: f71aba3d-28fb-450b-b192-4e76a83015c8
                  description: |-
                    In this mode, Sentinel combines low fidelity alerts, which themselves may not be actionable, and events across multiple products, into high fidelity security interesting incidents. The system looks at multiple products to produce actionable incidents. Custom tailored to each tenant, Fusion not only reduces false positive rates but also can detect attacks with limited or missing information. 
                    Incidents generated by Fusion system will encase two or more alerts. By design, Fusion incidents are low volume, high fidelity and will be high severity, which is why Fusion is turned ON by default in Azure Sentinel.

                    For Fusion to work, please configure the following data sources in Data Connectors tab:
                    Required - Azure Active Directory Identity Protection
                    Required - Microsoft Cloud App Security
                    If Available - Palo Alto Network

                    For full list of scenarios covered by Fusion, and detail instructions on how to configure the required data sources, go to aka.ms/SentinelFusion
                  displayName: Advanced Multi-Stage Attack Detection
                  enabled: true
                  lastModifiedUtc: 2019-09-04T13:13:11.5340061Z
                  severity: High
                  tactics:
                    - Persistence
                    - LateralMovement
                    - Exfiltration
                    - CommandAndControl
                type: Microsoft.SecurityInsights/alertRules
            "201":
              body:
                etag: '"260090e2-0000-0d00-0000-5d6fb8670000"'
                id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/alertRules/myFirstFusionRule
                kind: Fusion
                name: myFirstFusionRule
                properties:
                  alertRuleTemplateName: f71aba3d-28fb-450b-b192-4e76a83015c8
                  description: |-
                    In this mode, Sentinel combines low fidelity alerts, which themselves may not be actionable, and events across multiple products, into high fidelity security interesting incidents. The system looks at multiple products to produce actionable incidents. Custom tailored to each tenant, Fusion not only reduces false positive rates but also can detect attacks with limited or missing information. 
                    Incidents generated by Fusion system will encase two or more alerts. By design, Fusion incidents are low volume, high fidelity and will be high severity, which is why Fusion is turned ON by default in Azure Sentinel.

                    For Fusion to work, please configure the following data sources in Data Connectors tab:
                    Required - Azure Active Directory Identity Protection
                    Required - Microsoft Cloud App Security
                    If Available - Palo Alto Network

                    For full list of scenarios covered by Fusion, and detail instructions on how to configure the required data sources, go to aka.ms/SentinelFusion
                  displayName: Advanced Multi-Stage Attack Detection
                  enabled: true
                  lastModifiedUtc: 2019-09-04T13:13:11.5340061Z
                  severity: High
                  tactics:
                    - Persistence
                    - LateralMovement
                    - Exfiltration
                    - CommandAndControl
                type: Microsoft.SecurityInsights/alertRules
        Creates or updates a MicrosoftSecurityIncidentCreation rule.:
          parameters:
            alertRule:
              etag: '"260097e0-0000-0d00-0000-5d6fa88f0000"'
              kind: MicrosoftSecurityIncidentCreation
              properties:
                displayName: testing displayname
                enabled: true
                productFilter: Microsoft Cloud App Security
            api-version: 2019-01-01-preview
            operationalInsightsResourceProvider: Microsoft.OperationalInsights
            resourceGroupName: myRg
            ruleId: microsoftSecurityIncidentCreationRuleExample
            subscriptionId: d0cfe6b2-9ac0-4464-9919-dccaee2e48c0
            workspaceName: myWorkspace
          responses:
            "200":
              body:
                etag: '"260097e0-0000-0d00-0000-5d6fa88f0000"'
                id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/alertRules/microsoftSecurityIncidentCreationRuleExample
                kind: MicrosoftSecurityIncidentCreation
                name: microsoftSecurityIncidentCreationRuleExample
                properties:
                  alertRuleTemplateName: null
                  description: null
                  displayName: testing displayname
                  displayNamesFilter: null
                  enabled: true
                  lastModifiedUtc: 2019-09-04T12:05:35.7296311Z
                  productFilter: Microsoft Cloud App Security
                  severitiesFilter: null
                  tactics: []
                type: Microsoft.SecurityInsights/alertRules
            "201":
              body:
                etag: '"260097e0-0000-0d00-0000-5d6fa88f0000"'
                id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/alertRules/microsoftSecurityIncidentCreationRuleExample
                kind: MicrosoftSecurityIncidentCreation
                name: microsoftSecurityIncidentCreationRuleExample
                properties:
                  alertRuleTemplateName: null
                  description: null
                  displayName: testing displayname
                  displayNamesFilter: null
                  enabled: true
                  lastModifiedUtc: 2019-09-04T12:05:35.7296311Z
                  productFilter: Microsoft Cloud App Security
                  severitiesFilter: null
                  tactics: []
                type: Microsoft.SecurityInsights/alertRules
        Creates or updates a Scheduled alert rule.:
          parameters:
            alertRule:
              etag: '"0300bf09-0000-0000-0000-5c37296e0000"'
              kind: Scheduled
              properties:
                description: ""
                displayName: Rule2
                enabled: true
                query: ProtectionStatus | extend HostCustomEntity = Computer | extend IPCustomEntity = ComputerIP_Hidden
                queryFrequency: PT1H
                queryPeriod: P2DT1H30M
                severity: High
                suppressionDuration: PT1H
                suppressionEnabled: false
                tactics:
                  - Persistence
                  - LateralMovement
                triggerOperator: GreaterThan
                triggerThreshold: 0
            api-version: 2019-01-01-preview
            operationalInsightsResourceProvider: Microsoft.OperationalInsights
            resourceGroupName: myRg
            ruleId: 73e01a99-5cd7-4139-a149-9f2736ff2ab5
            subscriptionId: d0cfe6b2-9ac0-4464-9919-dccaee2e48c0
            workspaceName: myWorkspace
          responses:
            "200":
              body:
                etag: '"0300bf09-0000-0000-0000-5c37296e0000"'
                id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/alertRules/73e01a99-5cd7-4139-a149-9f2736ff2ab5
                kind: Scheduled
                name: 73e01a99-5cd7-4139-a149-9f2736ff2ab5
                properties:
                  alertRuleTemplateName: null
                  description: ""
                  displayName: Rule2
                  enabled: true
                  lastModifiedUtc: 2019-01-01T13:15:30Z
                  query: ProtectionStatus | extend HostCustomEntity = Computer | extend IPCustomEntity = ComputerIP_Hidden
                  queryFrequency: PT1H
                  queryPeriod: P2DT1H30M
                  severity: High
                  suppressionDuration: PT1H
                  suppressionEnabled: false
                  tactics:
                    - Persistence
                    - LateralMovement
                  triggerOperator: GreaterThan
                  triggerThreshold: 0
                type: Microsoft.SecurityInsights/alertRules
            "201":
              body:
                etag: '"0300bf09-0000-0000-0000-5c37296e0000"'
                id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/alertRules/73e01a99-5cd7-4139-a149-9f2736ff2ab5
                kind: Scheduled
                name: 73e01a99-5cd7-4139-a149-9f2736ff2ab5
                properties:
                  alertRuleTemplateName: null
                  description: ""
                  displayName: Rule2
                  enabled: true
                  lastModifiedUtc: 2019-01-01T13:15:30Z
                  query: ProtectionStatus | extend HostCustomEntity = Computer | extend IPCustomEntity = ComputerIP_Hidden
                  queryFrequency: PT1H
                  queryPeriod: P2DT1H30M
                  severity: High
                  suppressionDuration: PT1H
                  suppressionEnabled: false
                  tactics:
                    - Persistence
                    - LateralMovement
                  triggerOperator: GreaterThan
                  triggerThreshold: 0
                type: Microsoft.SecurityInsights/alertRules
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/alertRules/{ruleId}/actions":
    get:
      description: Gets all actions of alert rule.
      operationId: Actions_ListByAlertRule
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/OperationalInsightsResourceProvider"
        - $ref: "#/parameters/WorkspaceName"
        - $ref: "#/parameters/RuleId"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ActionsList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Actions
      x-ms-examples:
        Get all actions of alert rule.:
          parameters:
            api-version: 2019-01-01-preview
            operationalInsightsResourceProvider: Microsoft.OperationalIinsights
            resourceGroupName: myRg
            ruleId: 73e01a99-5cd7-4139-a149-9f2736ff2ab5
            subscriptionId: d0cfe6b2-9ac0-4464-9919-dccaee2e48c0
            workspaceName: myWorkspace
          responses:
            "200":
              body:
                value:
                  - etag: '"0300bf09-0000-0000-0000-5c37296e0000"'
                    id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/alertRules/73e01a99-5cd7-4139-a149-9f2736ff2ab5/actions/912bec42-cb66-4c03-ac63-1761b6898c3e
                    name: 912bec42-cb66-4c03-ac63-1761b6898c3e
                    properties:
                      workflowId: cd3765391efd48549fd7681ded1d48d7
                    type: Microsoft.SecurityInsights/alertRules/actions
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/alertRules/{ruleId}/actions/{actionId}":
    delete:
      description: Delete the action of alert rule.
      operationId: AlertRules_DeleteAction
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/OperationalInsightsResourceProvider"
        - $ref: "#/parameters/WorkspaceName"
        - $ref: "#/parameters/RuleId"
        - $ref: "#/parameters/ActionId"
      responses:
        "200":
          description: OK
        "204":
          description: No Content
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Actions
      x-ms-examples:
        Delete an action of alert rule.:
          parameters:
            actionId: 912bec42-cb66-4c03-ac63-1761b6898c3e
            api-version: 2019-01-01-preview
            operationalInsightsResourceProvider: Microsoft.OperationalIinsights
            resourceGroupName: myRg
            ruleId: 73e01a99-5cd7-4139-a149-9f2736ff2ab5
            subscriptionId: d0cfe6b2-9ac0-4464-9919-dccaee2e48c0
            workspaceName: myWorkspace
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets the action of alert rule.
      operationId: AlertRules_GetAction
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/OperationalInsightsResourceProvider"
        - $ref: "#/parameters/WorkspaceName"
        - $ref: "#/parameters/RuleId"
        - $ref: "#/parameters/ActionId"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ActionResponse"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Actions
      x-ms-examples:
        Get an action of alert rule.:
          parameters:
            actionId: 912bec42-cb66-4c03-ac63-1761b6898c3e
            api-version: 2019-01-01-preview
            operationalInsightsResourceProvider: Microsoft.OperationalIinsights
            resourceGroupName: myRg
            ruleId: 73e01a99-5cd7-4139-a149-9f2736ff2ab5
            subscriptionId: d0cfe6b2-9ac0-4464-9919-dccaee2e48c0
            workspaceName: myWorkspace
          responses:
            "200":
              body:
                etag: '"0300bf09-0000-0000-0000-5c37296e0000"'
                id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/alertRules/73e01a99-5cd7-4139-a149-9f2736ff2ab5/actions/912bec42-cb66-4c03-ac63-1761b6898c3e
                name: 912bec42-cb66-4c03-ac63-1761b6898c3e
                properties:
                  workflowId: cd3765391efd48549fd7681ded1d48d7
                type: Microsoft.SecurityInsights/alertRules/actions
    put:
      description: Creates or updates the action of alert rule.
      operationId: AlertRules_CreateOrUpdateAction
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/OperationalInsightsResourceProvider"
        - $ref: "#/parameters/WorkspaceName"
        - $ref: "#/parameters/RuleId"
        - $ref: "#/parameters/ActionId"
        - $ref: "#/parameters/Action"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ActionResponse"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/ActionResponse"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Actions
      x-ms-examples:
        Creates or updates an action of alert rule.:
          parameters:
            action:
              etag: '"0300bf09-0000-0000-0000-5c37296e0000"'
              id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/alertRules/73e01a99-5cd7-4139-a149-9f2736ff2ab5/actions/912bec42-cb66-4c03-ac63-1761b6898c3e
              name: 912bec42-cb66-4c03-ac63-1761b6898c3e
              properties:
                triggerUri: https://prod-31.northcentralus.logic.azure.com:443/workflows/cd3765391efd48549fd7681ded1d48d7/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=signature
              type: Microsoft.SecurityInsights/alertRules/actions
            actionId: 912bec42-cb66-4c03-ac63-1761b6898c3e
            api-version: 2019-01-01-preview
            operationalInsightsResourceProvider: Microsoft.OperationalInsights
            resourceGroupName: myRg
            ruleId: 73e01a99-5cd7-4139-a149-9f2736ff2ab5
            subscriptionId: d0cfe6b2-9ac0-4464-9919-dccaee2e48c0
            workspaceName: myWorkspace
          responses:
            "200":
              body:
                etag: '"0300bf09-0000-0000-0000-5c37296e0000"'
                id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/alertRules/73e01a99-5cd7-4139-a149-9f2736ff2ab5/actions/912bec42-cb66-4c03-ac63-1761b6898c3e
                name: 912bec42-cb66-4c03-ac63-1761b6898c3e
                properties:
                  workflowId: cd3765391efd48549fd7681ded1d48d7
                type: Microsoft.SecurityInsights/alertRules/actions
            "201":
              body:
                etag: '"0300bf09-0000-0000-0000-5c37296e0000"'
                id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/alertRules/73e01a99-5cd7-4139-a149-9f2736ff2ab5/actions/912bec42-cb66-4c03-ac63-1761b6898c3e
                name: 912bec42-cb66-4c03-ac63-1761b6898c3e
                properties:
                  workflowId: cd3765391efd48549fd7681ded1d48d7
                type: Microsoft.SecurityInsights/alertRules/actions
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/bookmarks":
    get:
      description: Gets all bookmarks.
      operationId: Bookmarks_List
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/OperationalInsightsResourceProvider"
        - $ref: "#/parameters/WorkspaceName"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/BookmarkList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Bookmarks
      x-ms-examples:
        Get all bookmarks.:
          parameters:
            api-version: 2019-01-01-preview
            operationalInsightsResourceProvider: Microsoft.OperationalIinsights
            resourceGroupName: myRg
            subscriptionId: d0cfe6b2-9ac0-4464-9919-dccaee2e48c0
            workspaceName: myWorkspace
          responses:
            "200":
              body:
                value:
                  - etag: '"0300bf09-0000-0000-0000-5c37296e0000"'
                    id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/bookmarks/73e01a99-5cd7-4139-a149-9f2736ff2ab5
                    name: 73e01a99-5cd7-4139-a149-9f2736ff2ab5
                    properties:
                      created: 2019-01-01T13:15:30Z
                      createdBy:
                        email: john@contoso.com
                        name: john doe
                        objectId: 2046feea-040d-4a46-9e2b-91c2941bfa70
                      displayName: My bookmark
                      incidentInfo:
                        incidentId: DDA55F97-170B-40B9-B8ED-CBFD05481E7D
                        relationName: 4bb36b7b-26ff-4d1c-9cbe-0d8ab3da0018
                        severity: Low
                        title: New case 1
                      labels:
                        - Tag1
                        - Tag2
                      notes: Found a suspicious activity
                      query: SecurityEvent | where TimeGenerated > ago(1d) and TimeGenerated < ago(2d)
                      queryResult: Security Event query result
                      updated: 2019-01-01T13:15:30Z
                      updatedBy:
                        email: john@contoso.com
                        name: john doe
                        objectId: 2046feea-040d-4a46-9e2b-91c2941bfa70
                    type: Microsoft.SecurityInsights/bookmarks
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/bookmarks/{bookmarkId}":
    delete:
      description: Delete the bookmark.
      operationId: Bookmarks_Delete
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/OperationalInsightsResourceProvider"
        - $ref: "#/parameters/WorkspaceName"
        - $ref: "#/parameters/BookmarkId"
      responses:
        "200":
          description: OK
        "204":
          description: No Content
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Bookmarks
      x-ms-examples:
        Delete a bookmark.:
          parameters:
            api-version: 2019-01-01-preview
            bookmarkId: 73e01a99-5cd7-4139-a149-9f2736ff2ab5
            operationalInsightsResourceProvider: Microsoft.OperationalIinsights
            resourceGroupName: myRg
            subscriptionId: d0cfe6b2-9ac0-4464-9919-dccaee2e48c0
            workspaceName: myWorkspace
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets a bookmark.
      operationId: Bookmarks_Get
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/OperationalInsightsResourceProvider"
        - $ref: "#/parameters/WorkspaceName"
        - $ref: "#/parameters/BookmarkId"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Bookmark"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Bookmarks
      x-ms-examples:
        Get a bookmark.:
          parameters:
            api-version: 2019-01-01-preview
            bookmarkId: 73e01a99-5cd7-4139-a149-9f2736ff2ab5
            operationalInsightsResourceProvider: Microsoft.OperationalIinsights
            resourceGroupName: myRg
            subscriptionId: d0cfe6b2-9ac0-4464-9919-dccaee2e48c0
            workspaceName: myWorkspace
          responses:
            "200":
              body:
                etag: '"0300bf09-0000-0000-0000-5c37296e0000"'
                id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/bookmarks/73e01a99-5cd7-4139-a149-9f2736ff2ab5
                name: 73e01a99-5cd7-4139-a149-9f2736ff2ab5
                properties:
                  created: 2019-01-01T13:15:30Z
                  createdBy:
                    email: john@contoso.com
                    name: john doe
                    objectId: 2046feea-040d-4a46-9e2b-91c2941bfa70
                  displayName: My bookmark
                  incidentInfo:
                    incidentId: DDA55F97-170B-40B9-B8ED-CBFD05481E7D
                    relationName: 4bb36b7b-26ff-4d1c-9cbe-0d8ab3da0018
                    severity: Low
                    title: New case 1
                  labels:
                    - Tag1
                    - Tag2
                  notes: Found a suspicious activity
                  query: SecurityEvent | where TimeGenerated > ago(1d) and TimeGenerated < ago(2d)
                  queryResult: Security Event query result
                  updated: 2019-01-01T13:15:30Z
                  updatedBy:
                    email: john@contoso.com
                    name: john doe
                    objectId: 2046feea-040d-4a46-9e2b-91c2941bfa70
                type: Microsoft.SecurityInsights/bookmarks
    put:
      description: Creates or updates the bookmark.
      operationId: Bookmarks_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/OperationalInsightsResourceProvider"
        - $ref: "#/parameters/WorkspaceName"
        - $ref: "#/parameters/BookmarkId"
        - $ref: "#/parameters/Bookmark"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Bookmark"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/Bookmark"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Bookmarks
      x-ms-examples:
        Creates or updates a bookmark.:
          parameters:
            api-version: 2019-01-01-preview
            bookmark:
              etag: '"0300bf09-0000-0000-0000-5c37296e0000"'
              id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/bookmarks/73e01a99-5cd7-4139-a149-9f2736ff2ab5
              name: 73e01a99-5cd7-4139-a149-9f2736ff2ab5
              properties:
                created: 2019-01-01T13:15:30Z
                createdBy:
                  email: john@contoso.com
                  name: john doe
                  objectId: 2046feea-040d-4a46-9e2b-91c2941bfa70
                displayName: My bookmark
                labels:
                  - Tag1
                  - Tag2
                notes: Found a suspicious activity
                query: SecurityEvent | where TimeGenerated > ago(1d) and TimeGenerated < ago(2d)
                queryResult: Security Event query result
                updated: 2019-01-01T13:15:30Z
                updatedBy:
                  email: john@contoso.com
                  name: john doe
                  objectId: 2046feea-040d-4a46-9e2b-91c2941bfa70
              type: Microsoft.SecurityInsights/bookmarks
            bookmarkId: 73e01a99-5cd7-4139-a149-9f2736ff2ab5
            operationalInsightsResourceProvider: Microsoft.OperationalInsights
            resourceGroupName: myRg
            subscriptionId: d0cfe6b2-9ac0-4464-9919-dccaee2e48c0
            workspaceName: myWorkspace
          responses:
            "200":
              body:
                etag: '"0300bf09-0000-0000-0000-5c37296e0000"'
                id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/bookmarks/73e01a99-5cd7-4139-a149-9f2736ff2ab5
                name: 73e01a99-5cd7-4139-a149-9f2736ff2ab5
                properties:
                  created: 2019-01-01T13:15:30Z
                  createdBy:
                    email: john@contoso.com
                    name: john doe
                    objectId: 2046feea-040d-4a46-9e2b-91c2941bfa70
                  displayName: My bookmark
                  labels:
                    - Tag1
                    - Tag2
                  notes: Found a suspicious activity
                  query: SecurityEvent | where TimeGenerated > ago(1d) and TimeGenerated < ago(2d)
                  queryResult: Security Event query result
                  updated: 2019-01-01T13:15:30Z
                  updatedBy:
                    email: john@contoso.com
                    name: john doe
                    objectId: 2046feea-040d-4a46-9e2b-91c2941bfa70
                type: Microsoft.SecurityInsights/bookmarks
            "201":
              body:
                etag: '"0300bf09-0000-0000-0000-5c37296e0000"'
                id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/bookmarks/73e01a99-5cd7-4139-a149-9f2736ff2ab5
                name: 73e01a99-5cd7-4139-a149-9f2736ff2ab5
                properties:
                  created: 2019-01-01T13:15:30Z
                  createdBy:
                    email: john@contoso.com
                    name: john doe
                    objectId: 2046feea-040d-4a46-9e2b-91c2941bfa70
                  displayName: My bookmark
                  labels:
                    - Tag1
                    - Tag2
                  notes: Found a suspicious activity
                  query: SecurityEvent | where TimeGenerated > ago(1d) and TimeGenerated < ago(2d)
                  queryResult: Security Event query result
                  updated: 2019-01-01T13:15:30Z
                  updatedBy:
                    email: john@contoso.com
                    name: john doe
                    objectId: 2046feea-040d-4a46-9e2b-91c2941bfa70
                type: Microsoft.SecurityInsights/bookmarks
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/bookmarks/{bookmarkId}/relations":
    get:
      description: Gets all bookmark relations.
      operationId: BookmarkRelations_List
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/OperationalInsightsResourceProvider"
        - $ref: "#/parameters/WorkspaceName"
        - $ref: "#/parameters/BookmarkId"
        - $ref: "#/parameters/ODataFilter"
        - $ref: "#/parameters/ODataOrderBy"
        - $ref: "#/parameters/ODataTop"
        - $ref: "#/parameters/ODataSkipToken"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/BookmarkRelationList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - BookmarkRelations
      x-ms-examples:
        Get all bookmark relations.:
          parameters:
            api-version: 2019-01-01-preview
            bookmarkId: 2216d0e1-91e3-4902-89fd-d2df8c535096
            operationalInsightsResourceProvider: Microsoft.OperationalIinsights
            resourceGroupName: myRg
            subscriptionId: d0cfe6b2-9ac0-4464-9919-dccaee2e48c0
            workspaceName: myWorkspace
          responses:
            "200":
              body:
                value:
                  - etag: 190057d0-0000-0d00-0000-5c6f5adb0000
                    id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/bookmarks/2216d0e1-91e3-4902-89fd-d2df8c535096/relations/4bb36b7b-26ff-4d1c-9cbe-0d8ab3da0014
                    kind: CasesToBookmarks
                    name: 4bb36b7b-26ff-4d1c-9cbe-0d8ab3da0014
                    properties:
                      bookmarkId: 2216d0e1-91e3-4902-89fd-d2df8c535096
                      caseIdentifier: afbd324f-6c48-459c-8710-8d1e1cd03812
                      caseSeverity: High
                      caseTitle: Test case
                      relationName: 4bb36b7b-26ff-4d1c-9cbe-0d8ab3da0014
                    type: Microsoft.SecurityInsights/bookmarks/relations
      x-ms-odata: "#/definitions/BookmarkRelation"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/bookmarks/{bookmarkId}/relations/{relationName}":
    delete:
      description: Delete the bookmark relation.
      operationId: BookmarkRelations_DeleteRelation
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/OperationalInsightsResourceProvider"
        - $ref: "#/parameters/WorkspaceName"
        - $ref: "#/parameters/BookmarkId"
        - $ref: "#/parameters/RelationName"
      responses:
        "200":
          description: OK
        "204":
          description: No Content
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - BookmarkRelations
      x-ms-examples:
        Delete the bookmark relation.:
          parameters:
            api-version: 2019-01-01-preview
            bookmarkId: 2216d0e1-91e3-4902-89fd-d2df8c535096
            operationalInsightsResourceProvider: Microsoft.OperationalIinsights
            relationName: 4bb36b7b-26ff-4d1c-9cbe-0d8ab3da0014
            resourceGroupName: myRg
            subscriptionId: d0cfe6b2-9ac0-4464-9919-dccaee2e48c0
            workspaceName: myWorkspace
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets a bookmark relation.
      operationId: BookmarkRelations_GetRelation
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/OperationalInsightsResourceProvider"
        - $ref: "#/parameters/WorkspaceName"
        - $ref: "#/parameters/BookmarkId"
        - $ref: "#/parameters/RelationName"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/BookmarkRelation"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - BookmarkRelations
      x-ms-examples:
        Get a bookmark relation.:
          parameters:
            api-version: 2019-01-01-preview
            bookmarkId: 2216d0e1-91e3-4902-89fd-d2df8c535096
            operationalInsightsResourceProvider: Microsoft.OperationalIinsights
            relationName: 4bb36b7b-26ff-4d1c-9cbe-0d8ab3da0014
            resourceGroupName: myRg
            subscriptionId: d0cfe6b2-9ac0-4464-9919-dccaee2e48c0
            workspaceName: myWorkspace
          responses:
            "200":
              body:
                etag: 190057d0-0000-0d00-0000-5c6f5adb0000
                id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/bookmarks/2216d0e1-91e3-4902-89fd-d2df8c535096/relations/4bb36b7b-26ff-4d1c-9cbe-0d8ab3da0014
                kind: CasesToBookmarks
                name: 4bb36b7b-26ff-4d1c-9cbe-0d8ab3da0014
                properties:
                  bookmarkId: 2216d0e1-91e3-4902-89fd-d2df8c535096
                  caseIdentifier: afbd324f-6c48-459c-8710-8d1e1cd03812
                  caseSeverity: High
                  caseTitle: Test case
                  relationName: 4bb36b7b-26ff-4d1c-9cbe-0d8ab3da0014
                type: Microsoft.SecurityInsights/bookmarks/relations
    put:
      description: Creates the bookmark relation.
      operationId: BookmarkRelations_CreateOrUpdateRelation
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/OperationalInsightsResourceProvider"
        - $ref: "#/parameters/WorkspaceName"
        - $ref: "#/parameters/BookmarkId"
        - $ref: "#/parameters/RelationName"
        - $ref: "#/parameters/RelationInputModel"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/BookmarkRelation"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/BookmarkRelation"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - BookmarkRelations
      x-ms-examples:
        Creates or updates a bookmark relation.:
          parameters:
            api-version: 2019-01-01-preview
            bookmarkId: 2216d0e1-91e3-4902-89fd-d2df8c535096
            operationalInsightsResourceProvider: Microsoft.OperationalInsights
            relationInputModel:
              properties:
                sourceRelationNode:
                  relationNodeId: afbd324f-6c48-459c-8710-8d1e1cd03812
                  relationNodeKind: Case
                targetRelationNode:
                  relationNodeId: 2216d0e1-91e3-4902-89fd-d2df8c535096
                  relationNodeKind: Bookmark
            relationName: 4bb36b7b-26ff-4d1c-9cbe-0d8ab3da0014
            resourceGroupName: myRg
            subscriptionId: d0cfe6b2-9ac0-4464-9919-dccaee2e48c0
            workspaceName: myWorkspace
          responses:
            "200":
              body:
                etag: 190057d0-0000-0d00-0000-5c6f5adb0000
                id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/bookmarks/2216d0e1-91e3-4902-89fd-d2df8c535096/relations/4bb36b7b-26ff-4d1c-9cbe-0d8ab3da0014
                kind: CasesToBookmarks
                name: 4bb36b7b-26ff-4d1c-9cbe-0d8ab3da0014
                properties:
                  bookmarkId: 2216d0e1-91e3-4902-89fd-d2df8c535096
                  caseIdentifier: afbd324f-6c48-459c-8710-8d1e1cd03812
                  caseSeverity: High
                  caseTitle: Test case
                  relationName: 4bb36b7b-26ff-4d1c-9cbe-0d8ab3da0014
                type: Microsoft.SecurityInsights/bookmarks/relations
            "201":
              body:
                etag: 190057d0-0000-0d00-0000-5c6f5adb0000
                id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/bookmarks/2216d0e1-91e3-4902-89fd-d2df8c535096/relations/4bb36b7b-26ff-4d1c-9cbe-0d8ab3da0014
                kind: CasesToBookmarks
                name: 4bb36b7b-26ff-4d1c-9cbe-0d8ab3da0014
                properties:
                  bookmarkId: 2216d0e1-91e3-4902-89fd-d2df8c535096
                  caseIdentifier: afbd324f-6c48-459c-8710-8d1e1cd03812
                  caseSeverity: High
                  caseTitle: Test case
                  relationName: 4bb36b7b-26ff-4d1c-9cbe-0d8ab3da0014
                type: Microsoft.SecurityInsights/bookmarks/relations
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/cases":
    get:
      deprecated: true
      description: Gets all cases.
      operationId: Cases_List
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/OperationalInsightsResourceProvider"
        - $ref: "#/parameters/WorkspaceName"
        - $ref: "#/parameters/ODataFilter"
        - $ref: "#/parameters/ODataOrderBy"
        - $ref: "#/parameters/ODataTop"
        - $ref: "#/parameters/ODataSkipToken"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CaseList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Cases
      x-ms-examples:
        Get all cases.:
          parameters:
            $orderby: properties/createdTimeUtc desc
            $top: 1
            api-version: 2019-01-01-preview
            operationalInsightsResourceProvider: Microsoft.OperationalIinsights
            resourceGroupName: myRg
            subscriptionId: d0cfe6b2-9ac0-4464-9919-dccaee2e48c0
            workspaceName: myWorkspace
          responses:
            "200":
              body:
                value:
                  - etag: '"0300bf09-0000-0000-0000-5c37296e0000"'
                    id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/cases/73e01a99-5cd7-4139-a149-9f2736ff2ab5
                    name: 73e01a99-5cd7-4139-a149-9f2736ff2ab5
                    properties:
                      caseNumber: 3177
                      closeReason: Resolved
                      closedReasonText: case resolved
                      createdTimeUtc: 2019-01-01T13:15:30Z
                      description: This is a demo case
                      endTimeUtc: 2019-01-01T13:05:30Z
                      labels:
                        - Tag1
                        - Tag2
                      lastComment: This is a demo case
                      lastUpdatedTimeUtc: 2019-01-01T13:15:30Z
                      owner:
                        email: john@contoso.com
                        name: john doe
                        objectId: 2046feea-040d-4a46-9e2b-91c2941bfa70
                      relatedAlertIds:
                        - cf441808-2d50-4c10-81af-cdd0b908c121
                      severity: High
                      startTimeUtc: 2019-01-01T13:00:30Z
                      status: Closed
                      title: My case
                      totalComments: 3
                    type: Microsoft.SecurityInsights/cases
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/cases/{caseId}":
    delete:
      deprecated: true
      description: Delete the case.
      operationId: Cases_Delete
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/OperationalInsightsResourceProvider"
        - $ref: "#/parameters/WorkspaceName"
        - $ref: "#/parameters/CaseId"
      responses:
        "200":
          description: OK
        "204":
          description: No Content
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Cases
      x-ms-examples:
        Delete a case.:
          parameters:
            api-version: 2019-01-01-preview
            caseId: 73e01a99-5cd7-4139-a149-9f2736ff2ab5
            operationalInsightsResourceProvider: Microsoft.OperationalIinsights
            resourceGroupName: myRg
            subscriptionId: d0cfe6b2-9ac0-4464-9919-dccaee2e48c0
            workspaceName: myWorkspace
          responses:
            "200": {}
            "204": {}
    get:
      deprecated: true
      description: Gets a case.
      operationId: Cases_Get
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/OperationalInsightsResourceProvider"
        - $ref: "#/parameters/WorkspaceName"
        - $ref: "#/parameters/CaseId"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Case"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Cases
      x-ms-examples:
        Get a case.:
          parameters:
            api-version: 2019-01-01-preview
            caseId: 73e01a99-5cd7-4139-a149-9f2736ff2ab5
            operationalInsightsResourceProvider: Microsoft.OperationalIinsights
            resourceGroupName: myRg
            subscriptionId: d0cfe6b2-9ac0-4464-9919-dccaee2e48c0
            workspaceName: myWorkspace
          responses:
            "200":
              body:
                etag: '"0300bf09-0000-0000-0000-5c37296e0000"'
                id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/cases/73e01a99-5cd7-4139-a149-9f2736ff2ab5
                name: 73e01a99-5cd7-4139-a149-9f2736ff2ab5
                properties:
                  caseNumber: 3177
                  closeReason: Resolved
                  closedReasonText: case resolved
                  createdTimeUtc: 2019-01-01T13:15:30Z
                  description: This is a demo case
                  endTimeUtc: 2019-01-01T13:05:30Z
                  labels:
                    - Tag1
                    - Tag2
                  lastComment: This is a demo case
                  lastUpdatedTimeUtc: 2019-01-01T13:15:30Z
                  owner:
                    email: john@contoso.com
                    name: john doe
                    objectId: 2046feea-040d-4a46-9e2b-91c2941bfa70
                  relatedAlertIds:
                    - cf441808-2d50-4c10-81af-cdd0b908c121
                  severity: High
                  startTimeUtc: 2019-01-01T13:00:30Z
                  status: Closed
                  title: My case
                  totalComments: 3
                type: Microsoft.SecurityInsights/cases
    put:
      deprecated: true
      description: Creates or updates the case.
      operationId: Cases_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/OperationalInsightsResourceProvider"
        - $ref: "#/parameters/WorkspaceName"
        - $ref: "#/parameters/CaseId"
        - $ref: "#/parameters/Case"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Case"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/Case"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Cases
      x-ms-examples:
        Creates or updates a case.:
          parameters:
            api-version: 2019-01-01-preview
            case:
              etag: '"0300bf09-0000-0000-0000-5c37296e0000"'
              properties:
                closeReason: Resolved
                description: This is a demo case
                endTimeUtc: 2019-01-01T13:05:30Z
                labels:
                  - Tag1
                  - Tag2
                owner:
                  objectId: 2046feea-040d-4a46-9e2b-91c2941bfa70
                severity: High
                startTimeUtc: 2019-01-01T13:00:30Z
                status: Closed
                title: My case
            caseId: 73e01a99-5cd7-4139-a149-9f2736ff2ab5
            operationalInsightsResourceProvider: Microsoft.OperationalInsights
            resourceGroupName: myRg
            subscriptionId: d0cfe6b2-9ac0-4464-9919-dccaee2e48c0
            workspaceName: myWorkspace
          responses:
            "200":
              body:
                etag: '"0300bf09-0000-0000-0000-5c37296e0000"'
                id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/cases/73e01a99-5cd7-4139-a149-9f2736ff2ab5
                name: 73e01a99-5cd7-4139-a149-9f2736ff2ab5
                properties:
                  caseNumber: 3177
                  closeReason: Resolved
                  createdTimeUtc: 2019-01-01T13:15:30Z
                  description: This is a demo case
                  endTimeUtc: 2019-01-01T13:05:30Z
                  labels:
                    - Tag1
                    - Tag2
                  lastUpdatedTimeUtc: 2019-01-01T13:15:30Z
                  owner:
                    email: john@contoso.com
                    name: john doe
                    objectId: 2046feea-040d-4a46-9e2b-91c2941bfa70
                  relatedAlertIds:
                    - cf441808-2d50-4c10-81af-cdd0b908c121
                  severity: High
                  startTimeUtc: 2019-01-01T13:00:30Z
                  status: Closed
                  title: My case
                type: Microsoft.SecurityInsights/cases
            "201":
              body:
                etag: '"0300bf09-0000-0000-0000-5c37296e0000"'
                id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/cases/73e01a99-5cd7-4139-a149-9f2736ff2ab5
                name: 73e01a99-5cd7-4139-a149-9f2736ff2ab5
                properties:
                  caseNumber: 3177
                  closeReason: Resolved
                  createdTimeUtc: 2019-01-01T13:15:30Z
                  description: This is a demo case
                  endTimeUtc: 2019-01-01T13:05:30Z
                  labels:
                    - Tag1
                    - Tag2
                  lastUpdatedTimeUtc: 2019-01-01T13:15:30Z
                  owner:
                    email: john@contoso.com
                    name: john doe
                    objectId: 2046feea-040d-4a46-9e2b-91c2941bfa70
                  relatedAlertIds:
                    - cf441808-2d50-4c10-81af-cdd0b908c121
                  severity: High
                  startTimeUtc: 2019-01-01T13:00:30Z
                  status: Closed
                  title: My case
                type: Microsoft.SecurityInsights/cases
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/cases/{caseId}/comments":
    get:
      deprecated: true
      description: Gets all case comments.
      operationId: Comments_ListByCase
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/OperationalInsightsResourceProvider"
        - $ref: "#/parameters/WorkspaceName"
        - $ref: "#/parameters/CaseId"
        - $ref: "#/parameters/ODataFilter"
        - $ref: "#/parameters/ODataOrderBy"
        - $ref: "#/parameters/ODataTop"
        - $ref: "#/parameters/ODataSkipToken"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CaseCommentList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - CaseComments
      x-ms-examples:
        Get all case comments.:
          parameters:
            api-version: 2019-01-01-preview
            caseId: 73e01a99-5cd7-4139-a149-9f2736ff2ab5
            operationalInsightsResourceProvider: Microsoft.OperationalIinsights
            resourceGroupName: myRg
            subscriptionId: d0cfe6b2-9ac0-4464-9919-dccaee2e48c0
            workspaceName: myWorkspace
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/cases/73e01a99-5cd7-4139-a149-9f2736ff2ab5/comments/4bb36b7b-26ff-4d1c-9cbe-0d8ab3da0014
                    name: 4bb36b7b-26ff-4d1c-9cbe-0d8ab3da0014
                    properties:
                      createdTimeUtc: 2019-01-01T13:15:30Z
                      message: Some message
                      userInfo:
                        email: john@contoso.com
                        name: john doe
                        objectId: 2046feea-040d-4a46-9e2b-91c2941bfa70
                    type: Microsoft.SecurityInsights/cases/comments
      x-ms-odata: "#/definitions/CaseComment"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/cases/{caseId}/comments/{caseCommentId}":
    get:
      deprecated: true
      description: Gets a case comment.
      operationId: Cases_GetComment
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/OperationalInsightsResourceProvider"
        - $ref: "#/parameters/WorkspaceName"
        - $ref: "#/parameters/CaseId"
        - $ref: "#/parameters/CaseCommentId"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CaseComment"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - CaseComments
      x-ms-examples:
        Get a case comment.:
          parameters:
            api-version: 2019-01-01-preview
            caseCommentId: 4bb36b7b-26ff-4d1c-9cbe-0d8ab3da0014
            caseId: 73e01a99-5cd7-4139-a149-9f2736ff2ab5
            operationalInsightsResourceProvider: Microsoft.OperationalIinsights
            resourceGroupName: myRg
            subscriptionId: d0cfe6b2-9ac0-4464-9919-dccaee2e48c0
            workspaceName: myWorkspace
          responses:
            "200":
              body:
                id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/cases/73e01a99-5cd7-4139-a149-9f2736ff2ab5/comments/4bb36b7b-26ff-4d1c-9cbe-0d8ab3da0014
                name: 4bb36b7b-26ff-4d1c-9cbe-0d8ab3da0014
                properties:
                  createdTimeUtc: 2019-01-01T13:15:30Z
                  message: Some message
                  userInfo:
                    email: john@contoso.com
                    name: john doe
                    objectId: 2046feea-040d-4a46-9e2b-91c2941bfa70
                type: Microsoft.SecurityInsights/cases/comments
    put:
      deprecated: true
      description: Creates the case comment.
      operationId: CaseComments_CreateComment
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/OperationalInsightsResourceProvider"
        - $ref: "#/parameters/WorkspaceName"
        - $ref: "#/parameters/CaseId"
        - $ref: "#/parameters/CaseCommentId"
        - $ref: "#/parameters/CaseComment"
      responses:
        "201":
          description: Created
          schema:
            $ref: "#/definitions/CaseComment"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - CaseComments
      x-ms-examples:
        Creates or updates a case comment.:
          parameters:
            api-version: 2019-01-01-preview
            caseComment:
              properties:
                message: Some message
            caseCommentId: 4bb36b7b-26ff-4d1c-9cbe-0d8ab3da0014
            caseId: 73e01a99-5cd7-4139-a149-9f2736ff2ab5
            operationalInsightsResourceProvider: Microsoft.OperationalInsights
            resourceGroupName: myRg
            subscriptionId: d0cfe6b2-9ac0-4464-9919-dccaee2e48c0
            workspaceName: myWorkspace
          responses:
            "201":
              body:
                id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/cases/73e01a99-5cd7-4139-a149-9f2736ff2ab5/comments/4bb36b7b-26ff-4d1c-9cbe-0d8ab3da0014
                name: 4bb36b7b-26ff-4d1c-9cbe-0d8ab3da0014
                properties:
                  createdTimeUtc: 2019-01-01T13:15:30Z
                  message: Some message
                  userInfo:
                    email: john@contoso.com
                    name: john doe
                    objectId: 2046feea-040d-4a46-9e2b-91c2941bfa70
                type: Microsoft.SecurityInsights/cases/comments
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/cases/{caseId}/relations":
    get:
      deprecated: true
      description: Gets all case relations.
      operationId: CaseRelations_List
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/OperationalInsightsResourceProvider"
        - $ref: "#/parameters/WorkspaceName"
        - $ref: "#/parameters/CaseId"
        - $ref: "#/parameters/ODataFilter"
        - $ref: "#/parameters/ODataOrderBy"
        - $ref: "#/parameters/ODataTop"
        - $ref: "#/parameters/ODataSkipToken"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CaseRelationList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - CaseRelations
      x-ms-examples:
        Get all case relations.:
          parameters:
            api-version: 2019-01-01-preview
            caseId: afbd324f-6c48-459c-8710-8d1e1cd03812
            operationalInsightsResourceProvider: Microsoft.OperationalIinsights
            resourceGroupName: myRg
            subscriptionId: d0cfe6b2-9ac0-4464-9919-dccaee2e48c0
            workspaceName: myWorkspace
          responses:
            "200":
              body:
                value:
                  - etag: 190057d0-0000-0d00-0000-5c6f5adb0000
                    id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/cases/afbd324f-6c48-459c-8710-8d1e1cd03812/relations/4bb36b7b-26ff-4d1c-9cbe-0d8ab3da0014
                    kind: CasesToBookmarks
                    name: 4bb36b7b-26ff-4d1c-9cbe-0d8ab3da0014
                    properties:
                      bookmarkId: 2216d0e1-91e3-4902-89fd-d2df8c535096
                      bookmarkName: Test bookmark
                      caseIdentifier: afbd324f-6c48-459c-8710-8d1e1cd03812
                      relationName: 4bb36b7b-26ff-4d1c-9cbe-0d8ab3da0014
                    type: Microsoft.SecurityInsights/cases/relations
      x-ms-odata: "#/definitions/CaseRelation"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/cases/{caseId}/relations/{relationName}":
    delete:
      deprecated: true
      description: Delete the case relation.
      operationId: CaseRelations_DeleteRelation
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/OperationalInsightsResourceProvider"
        - $ref: "#/parameters/WorkspaceName"
        - $ref: "#/parameters/CaseId"
        - $ref: "#/parameters/RelationName"
      responses:
        "200":
          description: OK
        "204":
          description: No Content
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - CaseRelations
      x-ms-examples:
        Delete the case relation.:
          parameters:
            api-version: 2019-01-01-preview
            caseId: afbd324f-6c48-459c-8710-8d1e1cd03812
            operationalInsightsResourceProvider: Microsoft.OperationalIinsights
            relationName: 4bb36b7b-26ff-4d1c-9cbe-0d8ab3da0014
            resourceGroupName: myRg
            subscriptionId: d0cfe6b2-9ac0-4464-9919-dccaee2e48c0
            workspaceName: myWorkspace
          responses:
            "200": {}
            "204": {}
    get:
      deprecated: true
      description: Gets a case relation.
      operationId: CaseRelations_GetRelation
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/OperationalInsightsResourceProvider"
        - $ref: "#/parameters/WorkspaceName"
        - $ref: "#/parameters/CaseId"
        - $ref: "#/parameters/RelationName"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CaseRelation"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - CaseRelations
      x-ms-examples:
        Get a case relation.:
          parameters:
            api-version: 2019-01-01-preview
            caseId: afbd324f-6c48-459c-8710-8d1e1cd03812
            operationalInsightsResourceProvider: Microsoft.OperationalIinsights
            relationName: 4bb36b7b-26ff-4d1c-9cbe-0d8ab3da0014
            resourceGroupName: myRg
            subscriptionId: d0cfe6b2-9ac0-4464-9919-dccaee2e48c0
            workspaceName: myWorkspace
          responses:
            "200":
              body:
                etag: 190057d0-0000-0d00-0000-5c6f5adb0000
                id: /subscriptions/d0cfe6b2-9ac0-4464-9919-dccaee2e48c0/resourceGroups/myRg/providers/Microsoft.OperationalIinsights/workspaces/myWorkspace/providers/Microsoft.SecurityInsights/cases/afbd324f-6c48-459c-8710-8d1e1cd03812/relations/4bb36b7b-26ff-4d1c-9cbe-0d8ab3da0014
                kind: CasesToBookmarks
                name: 4bb36b7b-26ff-4d1c-9cbe-0d8ab3da0014
                properties:
                  bookmarkId: 2216d0e1-91e3-4902-89fd-d2df8c535096
                  bookmarkName: Test bookmark
                  caseIdentifier: afbd324f-6c48-459c-8710-8d1e1cd03812
                  relationName: 4bb36b7b-26ff-4d1c-9cbe-0d8ab3da0014
                type: Microsoft.SecurityInsights/cases/relations
    put:
      deprecated: true
      description: Creates or updates the case relation.
      operationId: CaseRelations_CreateOrUpdateRelation
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/OperationalInsightsResourceProvider"
        - $ref: "#/parameters/WorkspaceName"
        - $ref: "#/parameters/CaseId"
        - $ref: "#/parameters/RelationName"
        - $ref: "#/parameters/RelationInputModel"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CaseRelation"
        "201":
          description: Created
[...]
