swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: REST API for Azure Logic Apps.
  title: LogicManagementClient
  version: 2015-02-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/logic/resource-manager/Microsoft.Logic/preview/2015-02-01-preview/logic.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: logic
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
  - text/json
produces:
  - application/json
  - text/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  api-version:
    description: The API version.
    in: query
    name: api-version
    required: true
    type: string
  subscriptionId:
    description: The subscription id.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Logic/workflows":
    get:
      description: Gets a list of workflows by subscription.
      operationId: Workflows_ListBySubscription
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/api-version"
        - description: The number of items to be included in the result.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/WorkflowListResult"
      tags:
        - Workflows
      x-ms-odata: "#/definitions/WorkflowFilter"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows":
    get:
      description: Gets a list of workflows by resource group.
      operationId: Workflows_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
        - description: The number of items to be included in the result.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/WorkflowListResult"
      tags:
        - Workflows
      x-ms-odata: "#/definitions/WorkflowFilter"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}":
    delete:
      description: Deletes a workflow.
      operationId: Workflows_Delete
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
        "204":
          description: No Content
      tags:
        - Workflows
    get:
      description: Gets a workflow.
      operationId: Workflows_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Workflow"
      tags:
        - Workflows
    patch:
      description: Updates a workflow.
      operationId: Workflows_Update
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
        - description: The workflow.
          in: body
          name: workflow
          required: true
          schema:
            $ref: "#/definitions/Workflow"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Workflow"
      tags:
        - Workflows
    put:
      description: Creates or updates a workflow.
      operationId: Workflows_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
        - description: The workflow.
          in: body
          name: workflow
          required: true
          schema:
            $ref: "#/definitions/Workflow"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Workflow"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/Workflow"
      tags:
        - Workflows
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/accessKeys":
    get:
      description: Gets a list of workflow access keys.
      operationId: WorkflowAccessKeys_List
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
        - description: The number of items to be included in the result.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/WorkflowAccessKeyListResult"
      tags:
        - WorkflowAccessKeys
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/accessKeys/{accessKeyName}":
    delete:
      description: Deletes a workflow access key.
      operationId: WorkflowAccessKeys_Delete
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - description: The workflow access key name.
          in: path
          name: accessKeyName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
        "204":
          description: No Content
      tags:
        - WorkflowAccessKeys
    get:
      description: Gets a workflow access key.
      operationId: WorkflowAccessKeys_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - description: The workflow access key name.
          in: path
          name: accessKeyName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/WorkflowAccessKey"
      tags:
        - WorkflowAccessKeys
    put:
      description: Creates or updates a workflow access key.
      operationId: WorkflowAccessKeys_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - description: The workflow access key name.
          in: path
          name: accessKeyName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
        - description: The workflow access key.
          in: body
          name: workflowAccesskey
          required: true
          schema:
            $ref: "#/definitions/WorkflowAccessKey"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/WorkflowAccessKey"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/WorkflowAccessKey"
      tags:
        - WorkflowAccessKeys
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/accessKeys/{accessKeyName}/list":
    post:
      description: Lists secret keys.
      operationId: WorkflowAccessKeys_ListSecretKeys
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - description: The workflow access key name.
          in: path
          name: accessKeyName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/WorkflowSecretKeys"
      tags:
        - WorkflowAccessKeys
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/accessKeys/{accessKeyName}/regenerate":
    post:
      description: Regenerates secret key.
      operationId: WorkflowAccessKeys_RegenerateSecretKey
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - description: The workflow access key name.
          in: path
          name: accessKeyName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
        - description: The parameters.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/RegenerateSecretKeyParameters"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/WorkflowSecretKeys"
      tags:
        - WorkflowAccessKeys
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/disable":
    post:
      description: Disables a workflow.
      operationId: Workflows_Disable
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
      tags:
        - Workflows
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/enable":
    post:
      description: Enables a workflow.
      operationId: Workflows_Enable
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
      tags:
        - Workflows
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/run":
    post:
      description: Runs a workflow.
      operationId: Workflows_Run
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
        - description: The parameters.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/RunWorkflowParameters"
      responses:
        "202":
          description: Accepted
          schema:
            $ref: "#/definitions/WorkflowRun"
      tags:
        - Workflows
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs":
    get:
      description: Gets a list of workflow runs.
      operationId: WorkflowRuns_List
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
        - description: The number of items to be included in the result.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/WorkflowRunListResult"
      tags:
        - WorkflowRuns
      x-ms-odata: "#/definitions/WorkflowRunFilter"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}":
    get:
      description: Gets a workflow run.
      operationId: WorkflowRuns_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - description: The workflow run name.
          in: path
          name: runName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/WorkflowRun"
      tags:
        - WorkflowRuns
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}/actions":
    get:
      description: Gets a list of workflow run actions.
      operationId: WorkflowRunActions_List
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - description: The workflow run name.
          in: path
          name: runName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
        - description: The number of items to be included in the result.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/WorkflowRunActionListResult"
      tags:
        - WorkflowRunActions
      x-ms-odata: "#/definitions/WorkflowRunActionFilter"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}/actions/{actionName}":
    get:
      description: Gets a workflow run action.
      operationId: WorkflowRunActions_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - description: The workflow run name.
          in: path
          name: runName
          required: true
          type: string
        - description: The workflow action name.
          in: path
          name: actionName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/WorkflowRunAction"
      tags:
        - WorkflowRunActions
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}/cancel":
    post:
      description: Cancels a workflow run.
      operationId: WorkflowRuns_Cancel
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - description: The workflow run name.
          in: path
          name: runName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
      tags:
        - WorkflowRuns
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/":
    get:
      description: Gets a list of workflow triggers.
      operationId: WorkflowTriggers_List
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
        - description: The number of items to be included in the result.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/WorkflowTriggerListResult"
      tags:
        - WorkflowTriggers
      x-ms-odata: "#/definitions/WorkflowTriggerFilter"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}":
    get:
      description: Gets a workflow trigger.
      operationId: WorkflowTriggers_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - description: The workflow trigger name.
          in: path
          name: triggerName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/WorkflowTrigger"
      tags:
        - WorkflowTriggers
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}/histories":
    get:
      description: Gets a list of workflow trigger histories.
      operationId: WorkflowTriggerHistories_List
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - description: The workflow trigger name.
          in: path
          name: triggerName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
        - description: The number of items to be included in the result.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/WorkflowTriggerHistoryListResult"
      tags:
        - WorkflowTriggerHistories
      x-ms-odata: "#/definitions/WorkflowTriggerHistoryFilter"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}/histories/{historyName}":
    get:
      description: Gets a workflow trigger history.
      operationId: WorkflowTriggerHistories_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - description: The workflow trigger name.
          in: path
          name: triggerName
          required: true
          type: string
        - description: The workflow trigger history name.
          in: path
          name: historyName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/WorkflowTriggerHistory"
      tags:
        - WorkflowTriggerHistories
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/triggers/{triggerName}/run":
    post:
      description: Runs a workflow trigger.
      operationId: WorkflowTriggers_Run
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - description: The workflow trigger name.
          in: path
          name: triggerName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
      tags:
        - WorkflowTriggers
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/validate":
    post:
      description: Validates a workflow.
      operationId: Workflows_Validate
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
        - description: The workflow.
          in: body
          name: workflow
          required: true
          schema:
            $ref: "#/definitions/Workflow"
      responses:
        "200":
          description: OK
      tags:
        - Workflows
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/versions/{versionId}":
    get:
      description: Gets a workflow version.
      operationId: WorkflowVersions_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The workflow name.
          in: path
          name: workflowName
          required: true
          type: string
        - description: The workflow versionId.
          in: path
          name: versionId
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/WorkflowVersion"
      tags:
        - WorkflowVersions
definitions:
  ContentHash:
    properties:
      algorithm:
        description: Gets or sets the algorithm.
        type: string
      value:
        description: Gets or sets the value.
        type: string
    type: object
  ContentLink:
    properties:
      contentHash:
        $ref: "#/definitions/ContentHash"
        description: Gets or sets the content hash.
      contentSize:
        description: Gets or sets the content size.
        format: int64
        type: integer
      contentVersion:
        description: Gets or sets the content version.
        type: string
      metadata:
        $ref: "#/definitions/Object"
        description: Gets or sets the metadata.
      uri:
        description: Gets or sets the content link URI.
        type: string
    type: object
  KeyType:
    enum:
      - NotSpecified
      - Primary
      - Secondary
    type: string
    x-ms-enum:
      modelAsString: false
      name: KeyType
  Object:
    properties: {}
    type: object
  ParameterType:
    enum:
      - NotSpecified
      - String
      - SecureString
      - Int
      - Float
      - Bool
      - Array
      - Object
      - SecureObject
    type: string
    x-ms-enum:
      modelAsString: false
      name: ParameterType
  RecurrenceFrequency:
    enum:
      - Second
      - Minute
      - Hour
      - Day
      - Week
      - Month
      - Year
    type: string
    x-ms-enum:
      modelAsString: false
      name: RecurrenceFrequency
  RegenerateSecretKeyParameters:
    properties:
      keyType:
        $ref: "#/definitions/KeyType"
        description: Gets or sets the key type.
    type: object
  Resource:
    properties:
      id:
        description: Gets or sets the resource id.
        type: string
      location:
        description: Gets or sets the resource location.
        type: string
      name:
        description: Gets the resource name.
        type: string
      tags:
        additionalProperties:
          type: string
        description: Gets or sets the resource tags.
        type: object
      type:
        description: Gets the resource type.
        type: string
    x-ms-azure-resource: true
  ResourceReference:
    properties:
      id:
        description: Gets or sets the resource id.
        type: string
      name:
        description: Gets the resource name.
        readOnly: true
        type: string
      type:
        description: Gets the resource type.
        readOnly: true
        type: string
    type: object
  RunWorkflowParameters:
    properties:
      name:
        description: Gets or sets the name of workflow run trigger.
        type: string
      outputs:
        description: Gets or sets the outputs of workflow run trigger.
        type: object
    type: object
  Sku:
    properties:
      name:
        $ref: "#/definitions/SkuName"
        description: Gets or sets the name.
      plan:
        $ref: "#/definitions/ResourceReference"
        description: Gets or sets the reference to plan.
    type: object
  SkuName:
    enum:
      - NotSpecified
      - Free
      - Shared
      - Basic
      - Standard
      - Premium
    type: string
    x-ms-enum:
      modelAsString: false
      name: SkuName
  SubResource:
    properties:
      id:
        description: Gets or sets the resource id.
        type: string
    x-ms-azure-resource: true
  Workflow:
    allOf:
      - $ref: "#/definitions/Resource"
    properties:
      properties:
        $ref: "#/definitions/WorkflowProperties"
        description: Gets or sets the workflow properties.
        x-ms-client-flatten: true
    type: object
  WorkflowAccessKey:
    allOf:
      - $ref: "#/definitions/SubResource"
    properties:
      name:
        description: Gets the workflow access key name.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/WorkflowAccessKeyProperties"
        description: Gets or sets the workflow access key properties.
        x-ms-client-flatten: true
      type:
        description: Gets the workflow access key type.
        readOnly: true
        type: string
    type: object
  WorkflowAccessKeyListResult:
    properties:
      nextLink:
        description: Gets or sets the URL to get the next set of results.
        type: string
      value:
        description: Gets or sets a list of workflow access keys.
        items:
          $ref: "#/definitions/WorkflowAccessKey"
        type: array
    type: object
  WorkflowAccessKeyProperties:
    properties:
      notAfter:
        description: Gets or sets the not-after time.
        format: date-time
        type: string
      notBefore:
        description: Gets or sets the not-before time.
        format: date-time
        type: string
    type: object
  WorkflowFilter:
    properties:
      state:
        $ref: "#/definitions/WorkflowState"
        description: Gets or sets the state of workflows.
    type: object
  WorkflowListResult:
    properties:
      nextLink:
        description: Gets or sets the URL to get the next set of results.
        type: string
      value:
        description: Gets or sets the list of workflows.
        items:
          $ref: "#/definitions/Workflow"
        type: array
    type: object
  WorkflowOutputParameter:
    allOf:
      - $ref: "#/definitions/WorkflowParameter"
    properties:
      error:
        $ref: "#/definitions/Object"
        description: Gets the error.
        readOnly: true
    type: object
  WorkflowParameter:
    properties:
      metadata:
        $ref: "#/definitions/Object"
        description: Gets or sets the metadata.
      type:
        $ref: "#/definitions/ParameterType"
        description: Gets or sets the type.
      value:
        $ref: "#/definitions/Object"
        description: Gets or sets the value.
    type: object
  WorkflowProperties:
    properties:
      accessEndpoint:
        description: Gets the access endpoint.
        readOnly: true
        type: string
      changedTime:
        description: Gets the changed time.
        format: date-time
        readOnly: true
        type: string
      createdTime:
        description: Gets the created time.
        format: date-time
        readOnly: true
        type: string
      definition:
        $ref: "#/definitions/Object"
        description: Gets or sets the definition.
      definitionLink:
        $ref: "#/definitions/ContentLink"
        description: Gets or sets the link to definition.
      parameters:
        additionalProperties:
          $ref: "#/definitions/WorkflowParameter"
        description: Gets or sets the parameters.
        type: object
      parametersLink:
        $ref: "#/definitions/ContentLink"
        description: Gets or sets the link to parameters.
      provisioningState:
        $ref: "#/definitions/WorkflowProvisioningState"
        description: Gets the provisioning state.
        readOnly: true
      sku:
        $ref: "#/definitions/Sku"
        description: Gets or sets the sku.
      state:
        $ref: "#/definitions/WorkflowState"
        description: Gets or sets the state.
      version:
        description: Gets the version.
        readOnly: true
        type: string
    type: object
  WorkflowProvisioningState:
    enum:
      - NotSpecified
      - Moving
      - Succeeded
    type: string
    x-ms-enum:
      modelAsString: false
      name: WorkflowProvisioningState
  WorkflowRun:
    allOf:
      - $ref: "#/definitions/SubResource"
    properties:
      name:
        description: Gets the workflow run name.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/WorkflowRunProperties"
        description: Gets or sets the workflow run properties.
        x-ms-client-flatten: true
      type:
        description: Gets the workflow run type.
        readOnly: true
        type: string
    type: object
  WorkflowRunAction:
    allOf:
      - $ref: "#/definitions/SubResource"
    properties:
      name:
        description: Gets the workflow run action name.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/WorkflowRunActionProperties"
        description: Gets or sets the workflow run action properties.
        x-ms-client-flatten: true
      type:
        description: Gets the workflow run action type.
        readOnly: true
        type: string
    type: object
  WorkflowRunActionFilter:
    properties:
      status:
        $ref: "#/definitions/WorkflowStatus"
        description: Gets or sets the status of workflow run action.
    type: object
  WorkflowRunActionListResult:
    properties:
      nextLink:
        description: Gets or sets the URL to get the next set of results.
        type: string
      value:
        description: Gets or sets a list of workflow run actions.
        items:
          $ref: "#/definitions/WorkflowRunAction"
        type: array
    type: object
  WorkflowRunActionProperties:
    properties:
      code:
        description: Gets the code.
        readOnly: true
        type: string
      endTime:
        description: Gets the end time.
        format: date-time
        readOnly: true
        type: string
      error:
        $ref: "#/definitions/Object"
        description: Gets the error.
        readOnly: true
      inputsLink:
        $ref: "#/definitions/ContentLink"
        description: Gets the link to inputs.
        readOnly: true
      outputsLink:
        $ref: "#/definitions/ContentLink"
        description: Gets the link to outputs.
        readOnly: true
      startTime:
        description: Gets the start time.
        format: date-time
        readOnly: true
        type: string
      status:
        $ref: "#/definitions/WorkflowStatus"
        description: Gets the status.
        readOnly: true
      trackingId:
        description: Gets the trackingId.
        readOnly: true
        type: string
    type: object
  WorkflowRunFilter:
    properties:
      status:
        $ref: "#/definitions/WorkflowStatus"
        description: Gets or sets the status of workflow run.
    type: object
  WorkflowRunListResult:
    properties:
      nextLink:
        description: Gets or sets the URL to get the next set of results.
        type: string
      value:
        description: Gets or sets a list of workflow runs.
        items:
          $ref: "#/definitions/WorkflowRun"
        type: array
    type: object
  WorkflowRunProperties:
    properties:
      code:
        description: Gets the code.
        readOnly: true
        type: string
      correlationId:
        description: Gets the correlation id.
        readOnly: true
        type: string
      endTime:
        description: Gets the end time.
        format: date-time
        readOnly: true
        type: string
      error:
        $ref: "#/definitions/Object"
        description: Gets the error.
        readOnly: true
      outputs:
        additionalProperties:
          $ref: "#/definitions/WorkflowOutputParameter"
        description: Gets the outputs.
        readOnly: true
        type: object
      startTime:
        description: Gets the start time.
        format: date-time
        readOnly: true
        type: string
      status:
        $ref: "#/definitions/WorkflowStatus"
        description: Gets the status.
        readOnly: true
      trigger:
        $ref: "#/definitions/WorkflowRunTrigger"
        description: Gets the fired trigger.
        readOnly: true
      workflow:
        $ref: "#/definitions/ResourceReference"
        description: Gets the reference to workflow version.
        readOnly: true
    type: object
  WorkflowRunTrigger:
    properties:
      code:
        description: Gets the code.
        readOnly: true
        type: string
      endTime:
        description: Gets the end time.
        format: date-time
        readOnly: true
        type: string
      error:
        $ref: "#/definitions/Object"
        description: Gets the error.
        readOnly: true
      inputs:
        $ref: "#/definitions/Object"
        description: Gets the inputs.
        readOnly: true
      inputsLink:
        $ref: "#/definitions/ContentLink"
        description: Gets the link to inputs.
        readOnly: true
      name:
        description: Gets the name.
        readOnly: true
        type: string
      outputs:
        $ref: "#/definitions/Object"
        description: Gets the outputs.
        readOnly: true
      outputsLink:
        $ref: "#/definitions/ContentLink"
        description: Gets the link to outputs.
        readOnly: true
      startTime:
        description: Gets the start time.
        format: date-time
        readOnly: true
        type: string
      status:
        $ref: "#/definitions/WorkflowStatus"
        description: Gets the status.
        readOnly: true
      trackingId:
        description: Gets the trackingId.
        readOnly: true
        type: string
    type: object
  WorkflowSecretKeys:
    properties:
      primarySecretKey:
        description: Gets the primary secret key.
        readOnly: true
        type: string
      secondarySecretKey:
        description: Gets the secondary secret key.
        readOnly: true
        type: string
    type: object
  WorkflowState:
    enum:
      - NotSpecified
      - Enabled
      - Disabled
      - Deleted
      - Suspended
    type: string
    x-ms-enum:
      modelAsString: false
      name: WorkflowState
  WorkflowStatus:
    enum:
      - NotSpecified
      - Paused
      - Running
      - Waiting
      - Succeeded
      - Skipped
      - Suspended
      - Cancelled
      - Failed
      - Faulted
      - TimedOut
      - Aborted
    type: string
    x-ms-enum:
      modelAsString: false
      name: WorkflowStatus
  WorkflowTrigger:
    allOf:
      - $ref: "#/definitions/SubResource"
    properties:
      name:
        description: Gets the workflow trigger name.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/WorkflowTriggerProperties"
        description: Gets or sets the workflow trigger properties.
        x-ms-client-flatten: true
      type:
        description: Gets the workflow trigger type.
        readOnly: true
        type: string
    type: object
  WorkflowTriggerFilter:
    properties:
      state:
        $ref: "#/definitions/WorkflowState"
        description: Gets or sets the state of workflow trigger.
    type: object
  WorkflowTriggerHistory:
    allOf:
      - $ref: "#/definitions/SubResource"
    properties:
      name:
        description: Gets the workflow trigger history name.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/WorkflowTriggerHistoryProperties"
        description: Gets the workflow trigger history properties.
        x-ms-client-flatten: true
      type:
        description: Gets the workflow trigger history type.
        readOnly: true
        type: string
    type: object
  WorkflowTriggerHistoryFilter:
    properties:
      status:
        $ref: "#/definitions/WorkflowStatus"
        description: Gets or sets the status of workflow trigger history.
    type: object
  WorkflowTriggerHistoryListResult:
    properties:
      nextLink:
        description: Gets or sets the URL to get the next set of results.
        type: string
      value:
        description: Gets or sets a list of workflow trigger histories.
        items:
          $ref: "#/definitions/WorkflowTriggerHistory"
        type: array
    type: object
  WorkflowTriggerHistoryProperties:
    properties:
      code:
        description: Gets the code.
        readOnly: true
        type: string
      endTime:
        description: Gets the end time.
        format: date-time
        readOnly: true
        type: string
      error:
        $ref: "#/definitions/Object"
        description: Gets the error.
        readOnly: true
      fired:
        description: Gets a value indicating whether trigger was fired.
        readOnly: true
        type: boolean
      inputsLink:
        $ref: "#/definitions/ContentLink"
        description: Gets the link to input parameters.
        readOnly: true
      outputsLink:
        $ref: "#/definitions/ContentLink"
        description: Gets the link to output parameters.
        readOnly: true
      run:
        $ref: "#/definitions/ResourceReference"
        description: Gets the reference to workflow run.
        readOnly: true
      startTime:
        description: Gets the start time.
        format: date-time
        readOnly: true
        type: string
      status:
        $ref: "#/definitions/WorkflowStatus"
        description: Gets the status.
        readOnly: true
      trackingId:
        description: Gets the tracking id.
        readOnly: true
        type: string
    type: object
  WorkflowTriggerListResult:
    properties:
      nextLink:
        description: Gets or sets the URL to get the next set of results.
        type: string
      value:
        description: Gets or sets a list of workflow triggers.
        items:
          $ref: "#/definitions/WorkflowTrigger"
        type: array
    type: object
  WorkflowTriggerProperties:
    properties:
      changedTime:
        description: Gets the changed time.
        format: date-time
        readOnly: true
        type: string
      createdTime:
        description: Gets the created time.
        format: date-time
        readOnly: true
        type: string
      lastExecutionTime:
        description: Gets the last execution time.
        format: date-time
        readOnly: true
        type: string
      nextExecutionTime:
        description: Gets the next execution time.
        format: date-time
        readOnly: true
        type: string
      provisioningState:
        $ref: "#/definitions/WorkflowTriggerProvisioningState"
        description: Gets the provisioning state.
        readOnly: true
      recurrence:
        $ref: "#/definitions/WorkflowTriggerRecurrence"
        description: Gets the workflow trigger recurrence.
        readOnly: true
      state:
        $ref: "#/definitions/WorkflowState"
        description: Gets the state.
        readOnly: true
      status:
        $ref: "#/definitions/WorkflowStatus"
        description: Gets the status.
        readOnly: true
      workflow:
        $ref: "#/definitions/ResourceReference"
        description: Gets the reference to workflow.
        readOnly: true
    type: object
  WorkflowTriggerProvisioningState:
    enum:
      - NotSpecified
      - Creating
      - Succeeded
      - Updating
    type: string
    x-ms-enum:
      modelAsString: false
      name: WorkflowTriggerProvisioningState
  WorkflowTriggerRecurrence:
    properties:
      frequency:
        $ref: "#/definitions/RecurrenceFrequency"
        description: Gets or sets the frequency.
      interval:
        description: Gets or sets the interval.
        format: int32
        type: integer
      startTime:
        description: Gets or sets the start time.
        format: date-time
        type: string
      timeZone:
        description: Gets or sets the time zone.
        type: string
    type: object
  WorkflowVersion:
    allOf:
      - $ref: "#/definitions/Resource"
    properties:
      properties:
        $ref: "#/definitions/WorkflowVersionProperties"
        description: Gets or sets the workflow version properties.
        x-ms-client-flatten: true
    type: object
  WorkflowVersionProperties:
    properties:
      accessEndpoint:
        description: Gets the access endpoint.
        readOnly: true
        type: string
      changedTime:
        description: Gets the changed time.
        format: date-time
        readOnly: true
        type: string
      createdTime:
        description: Gets the created time.
        format: date-time
        readOnly: true
        type: string
      definition:
        $ref: "#/definitions/Object"
        description: Gets or sets the definition.
      definitionLink:
        $ref: "#/definitions/ContentLink"
        description: Gets or sets the link to definition.
      parameters:
        additionalProperties:
          $ref: "#/definitions/WorkflowParameter"
        description: Gets or sets the parameters.
        type: object
      parametersLink:
        $ref: "#/definitions/ContentLink"
        description: Gets or sets the link to parameters.
      sku:
        $ref: "#/definitions/Sku"
        description: Gets or sets the sku.
      state:
        $ref: "#/definitions/WorkflowState"
        description: Gets or sets the state.
      version:
        description: Gets the version.
        readOnly: true
        type: string
    type: object
