swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Consumption management client provides access to consumption resources for Azure Enterprise Subscriptions.
  title: ConsumptionManagementClient
  version: 2017-12-30-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/consumption/resource-manager/Microsoft.Consumption/preview/2017-12-30-preview/consumption.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: consumption
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: Version of the API to be used with the client request. The current version is 2017-12-30-preview.
    in: query
    name: api-version
    required: true
    type: string
  budgetNameParameter:
    description: Budget name.
    in: path
    name: name
    required: true
    type: string
    x-ms-parameter-location: client
  subscriptionIdParameter:
    description: Azure Subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
tags:
  - description: Perform CRUD (Create, Update, Read, Delete) operations on the budget entity at the Subscription scope.
    externalDocs:
      url: https://docs.microsoft.com/en-us/rest/api/consumption/
    name: Budgets-Preview
paths:
  /providers/Microsoft.Consumption/operations:
    get:
      description: Lists all of the available consumption REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/OperationListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Operations
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Consumption/budgets":
    get:
      description: Lists all budgets for a subscription.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: Budgets_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/BudgetsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Budgets-Preview
      x-ms-examples:
        BudgetsList:
          parameters:
            api-version: 2017-12-30-preview
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                  - eTag: '"1d34d012214157f"'
                    id: subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget
                    name: TestBudget
                    properties:
                      amount: 100.65
                      category: Cost
                      currentSpend:
                        amount: 80.89
                        unit: USD
                      notifications:
                        Actual_GreaterThanOrEqualTo_90_Percent:
                          contactEmails:
                            - johndoe@contoso.com
                            - janesmith@contoso.com
                          contactRoles:
                            - Contributor
                            - Reader
                          enabled: true
                          operator: GreaterThanOrEqualTo
                          threshold: 90
                        Actual_GreaterThan_80_Percent:
                          contactEmails:
                            - johndoe@contoso.com
                            - janesmith@contoso.com
                          contactRoles:
                            - Contributor
                            - Reader
                          enabled: true
                          operator: GreaterThan
                          threshold: 80
                      timeGrain: Monthly
                      timePeriod:
                        endDate: 2018-10-31T00:00:00Z
                        startDate: 2017-10-01T00:00:00Z
                    type: Microsoft.Consumption/budgets
                  - eTag: '"1d34d012214157f"'
                    id: subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget
                    name: TestBudget
                    properties:
                      amount: 600.65
                      category: Cost
                      currentSpend:
                        amount: 120.89
                        unit: USD
                      notifications:
                        Actual_GreaterThanOrEqualTo_60_Percent:
                          contactEmails:
                            - johndoe@contoso.com
                            - janesmith@contoso.com
                          contactRoles:
                            - Contributor
                            - Reader
                          enabled: true
                          operator: GreaterThanOrEqualTo
                          threshold: 60
                        Actual_GreaterThan_40_Percent:
                          contactEmails:
                            - johndoe@contoso.com
                            - janesmith@contoso.com
                          contactRoles:
                            - Contributor
                            - Reader
                          enabled: true
                          operator: GreaterThan
                          threshold: 40
                      timeGrain: Monthly
                      timePeriod:
                        endDate: 2018-10-31T00:00:00Z
                        startDate: 2017-10-01T00:00:00Z
                    type: Microsoft.Consumption/budgets
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/providers/Microsoft.Consumption/budgets/{name}":
    delete:
      description: The operation to delete a budget.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: Budgets_Delete
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/budgetNameParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Budgets-Preview
      x-ms-examples:
        DeleteBudget:
          parameters:
            api-version: 2017-12-30-preview
            name: TestBudget
            subscriptionId: "{subscription-id}"
          responses:
            "200": {}
    get:
      description: Gets the budget for a subscription by budget name.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: Budgets_Get
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/budgetNameParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/Budget"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Budgets-Preview
      x-ms-examples:
        Budget:
          parameters:
            api-version: 2017-12-30-preview
            name: TestBudget
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                eTag: '"1d34d012214157f"'
                id: subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget
                name: TestBudget
                properties:
                  amount: 100.65
                  category: Cost
                  currentSpend:
                    amount: 80.89
                    unit: USD
                  notifications:
                    Actual_GreaterThan_80_Percent:
                      contactEmails:
                        - johndoe@contoso.com
                        - janesmith@contoso.com
                      contactRoles:
                        - Contributor
                        - Reader
                      enabled: true
                      operator: GreaterThan
                      threshold: 80
                  timeGrain: Monthly
                  timePeriod:
                    endDate: 2018-10-31T00:00:00Z
                    startDate: 2017-10-01T00:00:00Z
                type: Microsoft.Consumption/budgets
    put:
      description: The operation to create or update a budget. Update operation requires latest eTag to be set in the request mandatorily. You may obtain the latest eTag by performing a get operation. Create operation does not require eTag.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: Budgets_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/budgetNameParameter"
        - description: Parameters supplied to the Create Budget operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Budget"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/Budget"
        "201":
          description: Created.
          schema:
            $ref: "#/definitions/Budget"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Budgets-Preview
      x-ms-examples:
        CreateOrUpdateBudget:
          parameters:
            api-version: 2017-12-30-preview
            name: TestBudget
            parameters:
              eTag: '"1d34d016a593709"'
              properties:
                amount: 100.65
                category: Cost
                notifications:
                  Actual_GreaterThan_80_Percent:
                    contactEmails:
                      - johndoe@contoso.com
                      - janesmith@contoso.com
                    contactRoles:
                      - Contributor
                      - Reader
                    enabled: true
                    operator: GreaterThan
                    threshold: 80
                timeGrain: Monthly
                timePeriod:
                  endDate: 2018-10-31T00:00:00Z
                  startDate: 2017-10-01T00:00:00Z
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                eTag: '"1d34d012214157f"'
                id: subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget
                name: TestBudget
                properties:
                  amount: 100.65
                  category: Cost
                  currentSpend:
                    amount: 80.89
                    unit: USD
                  notifications:
                    Actual_GreaterThan_80_Percent:
                      contactEmails:
                        - johndoe@contoso.com
                        - janesmith@contoso.com
                      contactRoles:
                        - Contributor
                        - Reader
                      enabled: true
                      operator: GreaterThan
                      threshold: 80
                  timeGrain: Monthly
                  timePeriod:
                    endDate: 2018-10-31T00:00:00Z
                    startDate: 2017-10-01T00:00:00Z
                type: Microsoft.Consumption/budgets
            "201":
              body:
                eTag: '"1d34d012214157f"'
                id: subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget
                name: TestBudget
                properties:
                  amount: 100.65
                  category: Cost
                  currentSpend:
                    amount: 80.89
                    unit: USD
                  notifications:
                    Actual_GreaterThan_80_Percent:
                      contactEmails:
                        - johndoe@contoso.com
                        - janesmith@contoso.com
                      contactRoles:
                        - Contributor
                        - Reader
                      enabled: true
                      operator: GreaterThan
                      threshold: 80
                  timeGrain: Monthly
                  timePeriod:
                    endDate: 2018-10-31T00:00:00Z
                    startDate: 2017-10-01T00:00:00Z
                type: Microsoft.Consumption/budgets
      x-ms-pageable:
        nextLinkName: null
definitions:
  Budget:
    allOf:
      - $ref: "#/definitions/ProxyResource"
    description: A budget resource.
    properties:
      properties:
        $ref: "#/definitions/BudgetProperties"
        title: Budget properties
        x-ms-client-flatten: true
    type: object
  BudgetProperties:
    description: The properties of the budget.
    properties:
      amount:
        description: The total amount of cost to track with the budget
        format: decimal
        type: number
      category:
        description: The category of the budget, whether the budget tracks cost or something else.
        enum:
          - Cost
        type: string
        x-ms-enum:
          modelAsString: true
          name: CategoryType
      currentSpend:
        $ref: "#/definitions/CurrentSpend"
        description: The current amount of cost which is being tracked for a budget.
        readOnly: true
      notifications:
        additionalProperties:
          $ref: "#/definitions/Notification"
          type: object
        description: Dictionary of notifications associated with the budget. Budget can have up to five notifications.
        maxItems: 5
        type: object
      timeGrain:
        description: The time covered by a budget. Tracking of the amount will be reset based on the time grain.
        enum:
          - Monthly
          - Quarterly
          - Annually
        type: string
        x-ms-enum:
          modelAsString: true
          name: TimeGrainType
      timePeriod:
        $ref: "#/definitions/BudgetTimePeriod"
        description: Has start and end date of the budget. The start date must be first of the month and should be less than the end date. Budget start date must be on or after June 1, 2017. Future start date should not be more than three months. Past start date should  be selected within the timegrain period. There are no restrictions on the end date.
    required:
      - category
      - amount
      - timeGrain
      - timePeriod
  BudgetTimePeriod:
    description: The start and end date for a budget.
    properties:
      endDate:
        description: The end date for the budget. If not provided, we default this to 10 years from the start date.
        format: date-time
        type: string
      startDate:
        description: The start date for the budget.
        format: date-time
        type: string
    required:
      - startDate
  BudgetsListResult:
    description: Result of listing budgets. It contains a list of available budgets in the scope provided.
    properties:
      value:
        description: The list of budgets.
        items:
          $ref: "#/definitions/Budget"
        readOnly: true
        type: array
  CurrentSpend:
    description: The current amount of cost which is being tracked for a budget.
    properties:
      amount:
        description: The total amount of cost which is being tracked by the budget.
        format: decimal
        readOnly: true
        type: number
      unit:
        description: The unit of measure for the budget amount.
        readOnly: true
        type: string
  ErrorDetails:
    description: The details of the error.
    properties:
      code:
        description: Error code.
        readOnly: true
        type: string
      message:
        description: Error message indicating why the operation failed.
        readOnly: true
        type: string
  ErrorResponse:
    description: Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.
    properties:
      error:
        $ref: "#/definitions/ErrorDetails"
        description: The details of the error.
    type: object
  Notification:
    description: The notification associated with a budget.
    properties:
      contactEmails:
        description: Email addresses to send the budget notification to when the threshold is exceeded.
        items:
          type: string
        maxItems: 50
        minItems: 1
        type: array
      contactRoles:
        description: Contact roles to send the budget notification to when the threshold is exceeded.
        items:
          type: string
        type: array
      enabled:
        description: The notification is enabled or not.
        type: boolean
      operator:
        description: The comparison operator.
        enum:
          - EqualTo
          - GreaterThan
          - GreaterThanOrEqualTo
        type: string
        x-ms-enum:
          modelAsString: true
          name: OperatorType
      threshold:
        description: Threshold value associated with a notification. Notification is sent when the cost exceeded the threshold. It is always percent and has to be between 0 and 1000.
        format: decimal
        type: number
    required:
      - enabled
      - operator
      - threshold
      - contactEmails
  Operation:
    description: A Consumption REST API operation.
    properties:
      display:
        description: The object that represents the operation.
        properties:
          operation:
            description: "Operation type: Read, write, delete, etc."
            readOnly: true
            type: string
          provider:
            description: "Service provider: Microsoft.Consumption."
            readOnly: true
            type: string
          resource:
            description: "Resource on which the operation is performed: UsageDetail, etc."
            readOnly: true
            type: string
      name:
        description: "Operation name: {provider}/{resource}/{operation}."
        readOnly: true
        type: string
    type: object
  OperationListResult:
    description: Result of listing consumption operations. It contains a list of operations and a URL link to get the next set of results.
    properties:
      nextLink:
        description: URL to get the next set of operation list results if there are any.
        readOnly: true
        type: string
      value:
        description: List of consumption operations supported by the Microsoft.Consumption resource provider.
        items:
          $ref: "#/definitions/Operation"
        readOnly: true
        type: array
  ProxyResource:
    description: The Resource model definition.
    properties:
      eTag:
        description: eTag of the resource. To handle concurrent update scenario, this field will be used to determine whether the user is updating the latest version or not.
        type: string
      id:
        description: Resource Id.
        readOnly: true
        type: string
      name:
        description: Resource name.
        readOnly: true
        type: string
      type:
        description: Resource type.
        readOnly: true
        type: string
    x-ms-azure-resource: true
