swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: StreamAnalyticsManagementClient
  version: 2016-03-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/stable/2016-03-01/outputs.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: streamanalytics-outputs
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  OutputNameParameter:
    description: The name of the output.
    in: path
    name: outputName
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceGroupNameParameter:
    description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  StreamingJobNameParameter:
    description: The name of the streaming job.
    in: path
    name: jobName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/outputs":
    get:
      description: Lists all of the outputs under the specified streaming job.
      operationId: Outputs_ListByStreamingJob
      parameters:
        - description: The $select OData query parameter. This is a comma-separated list of structural properties to include in the response, or "*" to include all properties. By default, all properties are returned except diagnostics. Currently only accepts '*' as a valid value.
          in: query
          name: $select
          required: false
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/StreamingJobNameParameter"
      responses:
        "200":
          description: Successfully listed the outputs under the specified streaming job.
          schema:
            $ref: "#/definitions/OutputListResult"
      tags:
        - Outputs
      x-ms-examples:
        List all outputs in a streaming job:
          parameters:
            api-version: 2016-03-01
            jobName: sj6458
            resourceGroupName: sjrg2157
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg2157/providers/Microsoft.StreamAnalytics/streamingjobs/sj6458/outputs/output1755
                    name: output1755
                    properties:
                      datasource:
                        properties:
                          database: someDatabase
                          server: someServer
                          table: differentTable
                          user: someUser
                        type: Microsoft.Sql/Server/Database
                      etag: f489d6f3-fcd5-4bcb-b642-81e987ee16d6
                    type: Microsoft.StreamAnalytics/streamingjobs/outputs
                  - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg2157/providers/Microsoft.StreamAnalytics/streamingjobs/sj6458/outputs/output958
                    name: output958
                    properties:
                      datasource:
                        properties:
                          accountName: someAccountName
                          batchSize: 25
                          columnsToRemove:
                            - column1
                            - column2
                          partitionKey: differentPartitionKey
                          rowKey: rowKey
                          table: samples
                        type: Microsoft.Storage/Table
                      etag: ea1d20bf-6cb3-40bc-bc7b-ec3a7fd5977e
                    type: Microsoft.StreamAnalytics/streamingjobs/outputs
                  - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg2157/providers/Microsoft.StreamAnalytics/streamingjobs/sj6458/outputs/output1623
                    name: output1623
                    properties:
                      datasource:
                        properties:
                          container: differentContainer
                          dateFormat: yyyy/MM/dd
                          pathPattern: "{date}/{time}"
                          storageAccounts:
                            - accountName: someAccountName
                          timeFormat: HH
                        type: Microsoft.Storage/Blob
                      etag: 3a1b2023-79a9-4b33-93e8-f49fc3e573fe
                      serialization:
                        properties:
                          encoding: UTF8
                          fieldDelimiter: "|"
                        type: Csv
                    type: Microsoft.StreamAnalytics/streamingjobs/outputs
                  - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg2157/providers/Microsoft.StreamAnalytics/streamingjobs/sj6458/outputs/output3022
                    name: output3022
                    properties:
                      datasource:
                        properties:
                          accountId: someAccountId
                          collectionNamePattern: collection
                          database: db01
                          documentId: documentId
                          partitionKey: differentPartitionKey
                        type: Microsoft.Storage/DocumentDB
                      etag: 7849c132-e995-4631-91c3-931606eec432
                    type: Microsoft.StreamAnalytics/streamingjobs/outputs
                  - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg2157/providers/Microsoft.StreamAnalytics/streamingjobs/sj6458/outputs/output5195
                    name: output5195
                    properties:
                      datasource:
                        properties:
                          eventHubName: sdkeventhub
                          partitionKey: differentPartitionKey
                          serviceBusNamespace: sdktest
                          sharedAccessPolicyName: RootManageSharedAccessKey
                        type: Microsoft.ServiceBus/EventHub
                      etag: 5020de6b-5bb3-4b88-8606-f11fb3c46185
                      serialization:
                        properties:
                          encoding: UTF8
                          format: LineSeparated
                        type: Json
                    type: Microsoft.StreamAnalytics/streamingjobs/outputs
                  - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg2157/providers/Microsoft.StreamAnalytics/streamingjobs/sj6458/outputs/output3456
                    name: output3456
                    properties:
                      datasource:
                        properties:
                          propertyColumns:
                            - column1
                            - column2
                          queueName: differentQueueName
                          serviceBusNamespace: sdktest
                          sharedAccessPolicyName: RootManageSharedAccessKey
                        type: Microsoft.ServiceBus/Queue
                      etag: 429adaec-a777-4750-8a39-8d0c931d801c
                      serialization:
                        properties:
                          encoding: UTF8
                          format: LineSeparated
                        type: Json
                    type: Microsoft.StreamAnalytics/streamingjobs/outputs
                  - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg2157/providers/Microsoft.StreamAnalytics/streamingjobs/sj6458/outputs/output7886
                    name: output7886
                    properties:
                      datasource:
                        properties:
                          propertyColumns:
                            - column1
                            - column2
                          serviceBusNamespace: sdktest
                          sharedAccessPolicyName: RootManageSharedAccessKey
                          topicName: differentTopicName
                        type: Microsoft.ServiceBus/Topic
                      etag: c1c2007f-45b2-419a-ae7d-4d2148998460
                      serialization:
                        properties:
                          encoding: UTF8
                          fieldDelimiter: "|"
                        type: Csv
                    type: Microsoft.StreamAnalytics/streamingjobs/outputs
                  - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg2157/providers/Microsoft.StreamAnalytics/streamingjobs/sj6458/outputs/output3021
                    name: output3021
                    properties:
                      datasource:
                        properties:
                          dataset: differentDataset
                          groupId: ac40305e-3e8d-43ac-8161-c33799f43e95
                          groupName: MyPowerBIGroup
                          table: someTable
                          tokenUserDisplayName: Bob Smith
                          tokenUserPrincipalName: bobsmith@contoso.com
                        type: PowerBI
                      etag: 4a492191-9672-4178-be10-043b9dbd4b9f
                    type: Microsoft.StreamAnalytics/streamingjobs/outputs
                  - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg2157/providers/Microsoft.StreamAnalytics/streamingjobs/sj6458/outputs/output5196
                    name: output5196
                    properties:
                      datasource:
                        properties:
                          accountName: differentaccount
                          dateFormat: yyyy/MM/dd
                          filePathPrefix: "{date}/{time}"
                          tenantId: cea4e98b-c798-49e7-8c40-4a2b3beb47dd
                          timeFormat: HH
                          tokenUserDisplayName: Bob Smith
                          tokenUserPrincipalName: bobsmith@contoso.com
                        type: Microsoft.DataLake/Accounts
                      etag: 39ab7642-8c1e-48ed-85eb-949068d68002
                      serialization:
                        properties:
                          encoding: UTF8
                          format: LineSeparated
                        type: Json
                    type: Microsoft.StreamAnalytics/streamingjobs/outputs
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/outputs/{outputName}":
    delete:
      description: Deletes an output from the streaming job.
      operationId: Outputs_Delete
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/StreamingJobNameParameter"
        - $ref: "#/parameters/OutputNameParameter"
      responses:
        "200":
          description: The output was successfully deleted.
        "204":
          description: The output does not exist.
      tags:
        - Outputs
      x-ms-examples:
        Delete an output:
          parameters:
            api-version: 2016-03-01
            jobName: sj6458
            outputName: output1755
            resourceGroupName: sjrg2157
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets details about the specified output.
      operationId: Outputs_Get
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/StreamingJobNameParameter"
        - $ref: "#/parameters/OutputNameParameter"
      responses:
        "200":
          description: Successfully retrieved the specified output.
          headers:
            ETag:
              description: The current entity tag for the output. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.
              type: string
          schema:
            $ref: "#/definitions/Output"
      tags:
        - Outputs
      x-ms-examples:
        Get a DocumentDB output:
          parameters:
            api-version: 2016-03-01
            jobName: sj2331
            outputName: output3022
            resourceGroupName: sjrg7983
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg7983/providers/Microsoft.StreamAnalytics/streamingjobs/sj2331/outputs/output3022
                name: output3022
                properties:
                  datasource:
                    properties:
                      accountId: someAccountId
                      collectionNamePattern: collection
                      database: db01
                      documentId: documentId
                      partitionKey: key
                    type: Microsoft.Storage/DocumentDB
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: ccf8b864-259e-43c5-a628-ba10858b2c07
        Get a Power BI output:
          parameters:
            api-version: 2016-03-01
            jobName: sj2331
            outputName: output3022
            resourceGroupName: sjrg7983
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg7983/providers/Microsoft.StreamAnalytics/streamingjobs/sj2331/outputs/output3022
                name: output3022
                properties:
                  datasource:
                    properties:
                      dataset: someDataset
                      groupId: ac40305e-3e8d-43ac-8161-c33799f43e95
                      groupName: MyPowerBIGroup
                      table: someTable
                      tokenUserDisplayName: Bob Smith
                      tokenUserPrincipalName: bobsmith@contoso.com
                    type: PowerBI
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: ccf8b864-259e-43c5-a628-ba10858b2c07
        Get a Service Bus Queue output with Avro serialization:
          parameters:
            api-version: 2016-03-01
            jobName: sj5095
            outputName: output3456
            resourceGroupName: sjrg3410
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3410/providers/Microsoft.StreamAnalytics/streamingjobs/sj5095/outputs/output3456
                name: output3456
                properties:
                  datasource:
                    properties:
                      propertyColumns:
                        - column1
                        - column2
                      queueName: sdkqueue
                      serviceBusNamespace: sdktest
                      sharedAccessPolicyName: RootManageSharedAccessKey
                    type: Microsoft.ServiceBus/Queue
                  serialization:
                    properties: {}
                    type: Avro
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: 2f68c1ec-2080-43cb-93ec-4bcd3b7f9dbe
        Get a Service Bus Topic output with CSV serialization:
          parameters:
            api-version: 2016-03-01
            jobName: sj7094
            outputName: output7886
            resourceGroupName: sjrg6450
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg6450/providers/Microsoft.StreamAnalytics/streamingjobs/sj7094/outputs/output7886
                name: output7886
                properties:
                  datasource:
                    properties:
                      propertyColumns:
                        - column1
                        - column2
                      serviceBusNamespace: sdktest
                      sharedAccessPolicyName: RootManageSharedAccessKey
                      topicName: sdktopic
                    type: Microsoft.ServiceBus/Topic
                  serialization:
                    properties:
                      encoding: UTF8
                      fieldDelimiter: ","
                    type: Csv
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: 39259839-e581-4af4-bf68-302e6820e3a0
        Get a blob output with CSV serialization:
          parameters:
            api-version: 2016-03-01
            jobName: sj900
            outputName: output1623
            resourceGroupName: sjrg5023
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg5023/providers/Microsoft.StreamAnalytics/streamingjobs/sj900/outputs/output1623
                name: output1623
                properties:
                  datasource:
                    properties:
                      container: state
                      dateFormat: yyyy/MM/dd
                      pathPattern: "{date}/{time}"
                      storageAccounts:
                        - accountName: someAccountName
                      timeFormat: HH
                    type: Microsoft.Storage/Blob
                  serialization:
                    properties:
                      encoding: UTF8
                      fieldDelimiter: ","
                    type: Csv
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: 5433fd97-d133-46e3-8588-5fe1f1599ee0
        Get an Azure Data Lake Store output with JSON serialization:
          parameters:
            api-version: 2016-03-01
            jobName: sj3310
            outputName: output5195
            resourceGroupName: sjrg6912
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg6912/providers/Microsoft.StreamAnalytics/streamingjobs/sj3310/outputs/output5195
                name: output5195
                properties:
                  datasource:
                    properties:
                      accountName: someaccount
                      dateFormat: yyyy/MM/dd
                      filePathPrefix: "{date}/{time}"
                      tenantId: cea4e98b-c798-49e7-8c40-4a2b3beb47dd
                      timeFormat: HH
                      tokenUserDisplayName: Bob Smith
                      tokenUserPrincipalName: bobsmith@contoso.com
                    type: Microsoft.DataLake/Accounts
                  serialization:
                    properties:
                      encoding: UTF8
                      format: Array
                    type: Json
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: 5472168f-7317-4241-8b75-0c8d9d0ea804
        Get an Azure SQL database output:
          parameters:
            api-version: 2016-03-01
            jobName: sj6458
            outputName: output1755
            resourceGroupName: sjrg2157
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg2157/providers/Microsoft.StreamAnalytics/streamingjobs/sj6458/outputs/output1755
                name: output1755
                properties:
                  datasource:
                    properties:
                      database: someDatabase
                      server: someServer
                      table: someTable
                      user: someUser
                    type: Microsoft.Sql/Server/Database
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: 731a47c6-ff67-4439-bde6-a2a3da4c1ecf
        Get an Azure Table output:
          parameters:
            api-version: 2016-03-01
            jobName: sj2790
            outputName: output958
            resourceGroupName: sjrg5176
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg5176/providers/Microsoft.StreamAnalytics/streamingjobs/sj2790/outputs/output958
                name: output958
                properties:
                  datasource:
                    properties:
                      accountName: someAccountName
                      batchSize: 25
                      columnsToRemove:
                        - column1
                        - column2
                      partitionKey: partitionKey
                      rowKey: rowKey
                      table: samples
                    type: Microsoft.Storage/Table
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: 2409b6d1-c99c-405b-9a14-ea7833637038
        Get an Event Hub output with JSON serialization:
          parameters:
            api-version: 2016-03-01
            jobName: sj3310
            outputName: output5195
            resourceGroupName: sjrg6912
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg6912/providers/Microsoft.StreamAnalytics/streamingjobs/sj3310/outputs/output5195
                name: output5195
                properties:
                  datasource:
                    properties:
                      eventHubName: sdkeventhub
                      partitionKey: partitionKey
                      serviceBusNamespace: sdktest
                      sharedAccessPolicyName: RootManageSharedAccessKey
                    type: Microsoft.ServiceBus/EventHub
                  serialization:
                    properties:
                      encoding: UTF8
                      format: Array
                    type: Json
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: 5472168f-7317-4241-8b75-0c8d9d0ea804
    patch:
      description: Updates an existing output under an existing streaming job. This can be used to partially update (ie. update one or two properties) an output without affecting the rest the job or output definition.
      operationId: Outputs_Update
      parameters:
        - description: An Output object. The properties specified here will overwrite the corresponding properties in the existing output (ie. Those properties will be updated). Any properties that are set to null here will mean that the corresponding property in the existing output will remain the same and not change as a result of this PATCH operation.
          in: body
          name: output
          required: true
          schema:
            $ref: "#/definitions/Output"
        - description: The ETag of the output. Omit this value to always overwrite the current output. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.
          in: header
          name: If-Match
          required: false
          type: string
          x-ms-client-name: IfMatch
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/StreamingJobNameParameter"
        - $ref: "#/parameters/OutputNameParameter"
      responses:
        "200":
          description: The output was successfully updated.
          headers:
            ETag:
              description: The current entity tag for the output. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.
              type: string
          schema:
            $ref: "#/definitions/Output"
      tags:
        - Outputs
      x-ms-examples:
        Update a DocumentDB output:
          parameters:
            api-version: 2016-03-01
            jobName: sj2331
            output:
              properties:
                datasource:
                  properties:
                    partitionKey: differentPartitionKey
                  type: Microsoft.Storage/DocumentDB
            outputName: output3022
            resourceGroupName: sjrg7983
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg7983/providers/Microsoft.StreamAnalytics/streamingjobs/sj2331/outputs/output3022
                name: output3022
                properties:
                  datasource:
                    properties:
                      accountId: someAccountId
                      collectionNamePattern: collection
                      database: db01
                      documentId: documentId
                      partitionKey: differentPartitionKey
                    type: Microsoft.Storage/DocumentDB
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: 7849c132-e995-4631-91c3-931606eec432
        Update a Power BI output:
          parameters:
            api-version: 2016-03-01
            jobName: sj2331
            output:
              properties:
                datasource:
                  properties:
                    dataset: differentDataset
                  type: PowerBI
            outputName: output3022
            resourceGroupName: sjrg7983
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg7983/providers/Microsoft.StreamAnalytics/streamingjobs/sj2331/outputs/output3022
                name: output3022
                properties:
                  datasource:
                    properties:
                      dataset: differentDataset
                      groupId: ac40305e-3e8d-43ac-8161-c33799f43e95
                      groupName: MyPowerBIGroup
                      table: someTable
                      tokenUserDisplayName: Bob Smith
                      tokenUserPrincipalName: bobsmith@contoso.com
                    type: PowerBI
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: 7849c132-e995-4631-91c3-931606eec432
        Update a Service Bus Queue output with Avro serialization:
          parameters:
            api-version: 2016-03-01
            jobName: sj5095
            output:
              properties:
                datasource:
                  properties:
                    queueName: differentQueueName
                  type: Microsoft.ServiceBus/Queue
                serialization:
                  properties:
                    encoding: UTF8
                    format: LineSeparated
                  type: Json
            outputName: output3456
            resourceGroupName: sjrg3410
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3410/providers/Microsoft.StreamAnalytics/streamingjobs/sj5095/outputs/output3456
                name: output3456
                properties:
                  datasource:
                    properties:
                      propertyColumns:
                        - column1
                        - column2
                      queueName: differentQueueName
                      serviceBusNamespace: sdktest
                      sharedAccessPolicyName: RootManageSharedAccessKey
                    type: Microsoft.ServiceBus/Queue
                  serialization:
                    properties:
                      encoding: UTF8
                      format: LineSeparated
                    type: Json
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: 429adaec-a777-4750-8a39-8d0c931d801c
        Update a Service Bus Topic output with CSV serialization:
          parameters:
            api-version: 2016-03-01
            jobName: sj7094
            output:
              properties:
                datasource:
                  properties:
                    topicName: differentTopicName
                  type: Microsoft.ServiceBus/Topic
                serialization:
                  properties:
                    encoding: UTF8
                    fieldDelimiter: "|"
                  type: Csv
            outputName: output7886
            resourceGroupName: sjrg6450
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg6450/providers/Microsoft.StreamAnalytics/streamingjobs/sj7094/outputs/output7886
                name: output7886
                properties:
                  datasource:
                    properties:
                      propertyColumns:
                        - column1
                        - column2
                      serviceBusNamespace: sdktest
                      sharedAccessPolicyName: RootManageSharedAccessKey
                      topicName: differentTopicName
                    type: Microsoft.ServiceBus/Topic
                  serialization:
                    properties:
                      encoding: UTF8
                      fieldDelimiter: "|"
                    type: Csv
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: c1c2007f-45b2-419a-ae7d-4d2148998460
        Update a blob output with CSV serialization:
          parameters:
            api-version: 2016-03-01
            jobName: sj900
            output:
              properties:
                datasource:
                  properties:
                    container: differentContainer
                  type: Microsoft.Storage/Blob
                serialization:
                  properties:
                    encoding: UTF8
                    fieldDelimiter: "|"
                  type: Csv
            outputName: output1623
            resourceGroupName: sjrg5023
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg5023/providers/Microsoft.StreamAnalytics/streamingjobs/sj900/outputs/output1623
                name: output1623
                properties:
                  datasource:
                    properties:
                      container: differentContainer
                      dateFormat: yyyy/MM/dd
                      pathPattern: "{date}/{time}"
                      storageAccounts:
                        - accountName: someAccountName
                      timeFormat: HH
                    type: Microsoft.Storage/Blob
                  serialization:
                    properties:
                      encoding: UTF8
                      fieldDelimiter: "|"
                    type: Csv
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: 3a1b2023-79a9-4b33-93e8-f49fc3e573fe
        Update an Azure Data Lake Store output with JSON serialization:
          parameters:
            api-version: 2016-03-01
            jobName: sj3310
            output:
              properties:
                datasource:
                  properties:
                    accountName: differentaccount
                  type: Microsoft.DataLake/Accounts
                serialization:
                  properties:
                    encoding: UTF8
                    format: LineSeparated
                  type: Json
            outputName: output5195
            resourceGroupName: sjrg6912
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg6912/providers/Microsoft.StreamAnalytics/streamingjobs/sj3310/outputs/output5195
                name: output5195
                properties:
                  datasource:
                    properties:
                      accountName: differentaccount
                      dateFormat: yyyy/MM/dd
                      filePathPrefix: "{date}/{time}"
                      tenantId: cea4e98b-c798-49e7-8c40-4a2b3beb47dd
                      timeFormat: HH
                      tokenUserDisplayName: Bob Smith
                      tokenUserPrincipalName: bobsmith@contoso.com
                    type: Microsoft.DataLake/Accounts
                  serialization:
                    properties:
                      encoding: UTF8
                      format: LineSeparated
                    type: Json
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: 5020de6b-5bb3-4b88-8606-f11fb3c46185
        Update an Azure SQL database output:
          parameters:
            api-version: 2016-03-01
            jobName: sj6458
            output:
              properties:
                datasource:
                  properties:
                    table: differentTable
                  type: Microsoft.Sql/Server/Database
            outputName: output1755
            resourceGroupName: sjrg2157
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg2157/providers/Microsoft.StreamAnalytics/streamingjobs/sj6458/outputs/output1755
                name: output1755
                properties:
                  datasource:
                    properties:
                      database: someDatabase
                      server: someServer
                      table: differentTable
                      user: someUser
                    type: Microsoft.Sql/Server/Database
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: f489d6f3-fcd5-4bcb-b642-81e987ee16d6
        Update an Azure Table output:
          parameters:
            api-version: 2016-03-01
            jobName: sj2790
            output:
              properties:
                datasource:
                  properties:
                    partitionKey: differentPartitionKey
                  type: Microsoft.Storage/Table
            outputName: output958
            resourceGroupName: sjrg5176
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg5176/providers/Microsoft.StreamAnalytics/streamingjobs/sj2790/outputs/output958
                name: output958
                properties:
                  datasource:
                    properties:
                      accountName: someAccountName
                      batchSize: 25
                      columnsToRemove:
                        - column1
                        - column2
                      partitionKey: differentPartitionKey
                      rowKey: rowKey
                      table: samples
                    type: Microsoft.Storage/Table
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: ea1d20bf-6cb3-40bc-bc7b-ec3a7fd5977e
        Update an Event Hub output with JSON serialization:
          parameters:
            api-version: 2016-03-01
            jobName: sj3310
            output:
              properties:
                datasource:
                  properties:
                    partitionKey: differentPartitionKey
                  type: Microsoft.ServiceBus/EventHub
                serialization:
                  properties:
                    encoding: UTF8
                    format: LineSeparated
                  type: Json
            outputName: output5195
            resourceGroupName: sjrg6912
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg6912/providers/Microsoft.StreamAnalytics/streamingjobs/sj3310/outputs/output5195
                name: output5195
                properties:
                  datasource:
                    properties:
                      eventHubName: sdkeventhub
                      partitionKey: differentPartitionKey
                      serviceBusNamespace: sdktest
                      sharedAccessPolicyName: RootManageSharedAccessKey
                    type: Microsoft.ServiceBus/EventHub
                  serialization:
                    properties:
                      encoding: UTF8
                      format: LineSeparated
                    type: Json
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: 5020de6b-5bb3-4b88-8606-f11fb3c46185
    put:
      description: Creates an output or replaces an already existing output under an existing streaming job.
      operationId: Outputs_CreateOrReplace
      parameters:
        - description: The definition of the output that will be used to create a new output or replace the existing one under the streaming job.
          in: body
          name: output
          required: true
          schema:
            $ref: "#/definitions/Output"
        - description: The ETag of the output. Omit this value to always overwrite the current output. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.
          in: header
          name: If-Match
          required: false
          type: string
          x-ms-client-name: IfMatch
        - description: Set to '*' to allow a new output to be created, but to prevent updating an existing output. Other values will result in a 412 Pre-condition Failed response.
          in: header
          name: If-None-Match
          required: false
          type: string
          x-ms-client-name: IfNoneMatch
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/StreamingJobNameParameter"
        - $ref: "#/parameters/OutputNameParameter"
      responses:
        "200":
          description: The output was successfully created or replaced.
          headers:
            ETag:
              description: The current entity tag for the output. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.
              type: string
          schema:
            $ref: "#/definitions/Output"
        "201":
          description: The output was successfully created or replaced.
          headers:
            ETag:
              description: The current entity tag for the output. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.
              type: string
          schema:
            $ref: "#/definitions/Output"
      tags:
        - Outputs
      x-ms-examples:
        Create a DocumentDB output:
          parameters:
            api-version: 2016-03-01
            jobName: sj2331
            output:
              properties:
                datasource:
                  properties:
                    accountId: someAccountId
                    accountKey: accountKey==
                    collectionNamePattern: collection
                    database: db01
                    documentId: documentId
                    partitionKey: key
                  type: Microsoft.Storage/DocumentDB
            outputName: output3022
            resourceGroupName: sjrg7983
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg7983/providers/Microsoft.StreamAnalytics/streamingjobs/sj2331/outputs/output3022
                name: output3022
                properties:
                  datasource:
                    properties:
                      accountId: someAccountId
                      collectionNamePattern: collection
                      database: db01
                      documentId: documentId
                      partitionKey: key
                    type: Microsoft.Storage/DocumentDB
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: ccf8b864-259e-43c5-a628-ba10858b2c07
            "201":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg7983/providers/Microsoft.StreamAnalytics/streamingjobs/sj2331/outputs/output3022
                name: output3022
                properties:
                  datasource:
                    properties:
                      accountId: someAccountId
                      collectionNamePattern: collection
                      database: db01
                      documentId: documentId
                      partitionKey: key
                    type: Microsoft.Storage/DocumentDB
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: ccf8b864-259e-43c5-a628-ba10858b2c07
        Create a Power BI output:
          parameters:
            api-version: 2016-03-01
            jobName: sj2331
            output:
              properties:
                datasource:
                  properties:
                    dataset: someDataset
                    groupId: ac40305e-3e8d-43ac-8161-c33799f43e95
                    groupName: MyPowerBIGroup
                    refreshToken: someRefreshToken==
                    table: someTable
                    tokenUserDisplayName: Bob Smith
                    tokenUserPrincipalName: bobsmith@contoso.com
                  type: PowerBI
            outputName: output3022
            resourceGroupName: sjrg7983
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg7983/providers/Microsoft.StreamAnalytics/streamingjobs/sj2331/outputs/output3022
                name: output3022
                properties:
                  datasource:
                    properties:
                      dataset: someDataset
                      groupId: ac40305e-3e8d-43ac-8161-c33799f43e95
                      groupName: MyPowerBIGroup
                      table: someTable
                      tokenUserDisplayName: Bob Smith
                      tokenUserPrincipalName: bobsmith@contoso.com
                    type: PowerBI
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: ccf8b864-259e-43c5-a628-ba10858b2c07
            "201":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg7983/providers/Microsoft.StreamAnalytics/streamingjobs/sj2331/outputs/output3022
                name: output3022
                properties:
                  datasource:
                    properties:
                      dataset: someDataset
                      groupId: ac40305e-3e8d-43ac-8161-c33799f43e95
                      groupName: MyPowerBIGroup
                      table: someTable
                      tokenUserDisplayName: Bob Smith
                      tokenUserPrincipalName: bobsmith@contoso.com
                    type: PowerBI
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: ccf8b864-259e-43c5-a628-ba10858b2c07
        Create a Service Bus Queue output with Avro serialization:
          parameters:
            api-version: 2016-03-01
            jobName: sj5095
            output:
              properties:
                datasource:
                  properties:
                    propertyColumns:
                      - column1
                      - column2
                    queueName: sdkqueue
                    serviceBusNamespace: sdktest
                    sharedAccessPolicyKey: sharedAccessPolicyKey=
                    sharedAccessPolicyName: RootManageSharedAccessKey
                  type: Microsoft.ServiceBus/Queue
                serialization:
                  type: Avro
            outputName: output3456
            resourceGroupName: sjrg3410
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3410/providers/Microsoft.StreamAnalytics/streamingjobs/sj5095/outputs/output3456
                name: output3456
                properties:
                  datasource:
                    properties:
                      propertyColumns:
                        - column1
                        - column2
                      queueName: sdkqueue
                      serviceBusNamespace: sdktest
                      sharedAccessPolicyName: RootManageSharedAccessKey
                    type: Microsoft.ServiceBus/Queue
                  serialization:
                    properties: {}
                    type: Avro
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: 2f68c1ec-2080-43cb-93ec-4bcd3b7f9dbe
            "201":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3410/providers/Microsoft.StreamAnalytics/streamingjobs/sj5095/outputs/output3456
                name: output3456
                properties:
                  datasource:
                    properties:
                      propertyColumns:
                        - column1
                        - column2
                      queueName: sdkqueue
                      serviceBusNamespace: sdktest
                      sharedAccessPolicyName: RootManageSharedAccessKey
                    type: Microsoft.ServiceBus/Queue
                  serialization:
                    properties: {}
                    type: Avro
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: 2f68c1ec-2080-43cb-93ec-4bcd3b7f9dbe
        Create a Service Bus Topic output with CSV serialization:
          parameters:
            api-version: 2016-03-01
            jobName: sj7094
            output:
              properties:
                datasource:
                  properties:
                    propertyColumns:
                      - column1
                      - column2
                    serviceBusNamespace: sdktest
                    sharedAccessPolicyKey: sharedAccessPolicyKey=
                    sharedAccessPolicyName: RootManageSharedAccessKey
                    topicName: sdktopic
                  type: Microsoft.ServiceBus/Topic
                serialization:
                  properties:
                    encoding: UTF8
                    fieldDelimiter: ","
                  type: Csv
            outputName: output7886
            resourceGroupName: sjrg6450
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg6450/providers/Microsoft.StreamAnalytics/streamingjobs/sj7094/outputs/output7886
                name: output7886
                properties:
                  datasource:
                    properties:
                      propertyColumns:
                        - column1
                        - column2
                      serviceBusNamespace: sdktest
                      sharedAccessPolicyName: RootManageSharedAccessKey
                      topicName: sdktopic
                    type: Microsoft.ServiceBus/Topic
                  serialization:
                    properties:
                      encoding: UTF8
                      fieldDelimiter: ","
                    type: Csv
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: 39259839-e581-4af4-bf68-302e6820e3a0
            "201":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg6450/providers/Microsoft.StreamAnalytics/streamingjobs/sj7094/outputs/output7886
                name: output7886
                properties:
                  datasource:
                    properties:
                      propertyColumns:
                        - column1
                        - column2
                      serviceBusNamespace: sdktest
                      sharedAccessPolicyName: RootManageSharedAccessKey
                      topicName: sdktopic
                    type: Microsoft.ServiceBus/Topic
                  serialization:
                    properties:
                      encoding: UTF8
                      fieldDelimiter: ","
                    type: Csv
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: 39259839-e581-4af4-bf68-302e6820e3a0
        Create a blob output with CSV serialization:
          parameters:
            api-version: 2016-03-01
            jobName: sj900
            output:
              properties:
                datasource:
                  properties:
                    container: state
                    dateFormat: yyyy/MM/dd
                    pathPattern: "{date}/{time}"
                    storageAccounts:
                      - accountKey: accountKey==
                        accountName: someAccountName
                    timeFormat: HH
                  type: Microsoft.Storage/Blob
                serialization:
                  properties:
                    encoding: UTF8
                    fieldDelimiter: ","
                  type: Csv
            outputName: output1623
            resourceGroupName: sjrg5023
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg5023/providers/Microsoft.StreamAnalytics/streamingjobs/sj900/outputs/output1623
                name: output1623
                properties:
                  datasource:
                    properties:
                      container: state
                      dateFormat: yyyy/MM/dd
                      pathPattern: "{date}/{time}"
                      storageAccounts:
                        - accountName: someAccountName
                      timeFormat: HH
                    type: Microsoft.Storage/Blob
                  serialization:
                    properties:
                      encoding: UTF8
                      fieldDelimiter: ","
                    type: Csv
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: 5433fd97-d133-46e3-8588-5fe1f1599ee0
            "201":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg5023/providers/Microsoft.StreamAnalytics/streamingjobs/sj900/outputs/output1623
                name: output1623
                properties:
                  datasource:
                    properties:
                      container: state
                      dateFormat: yyyy/MM/dd
                      pathPattern: "{date}/{time}"
                      storageAccounts:
                        - accountName: someAccountName
                      timeFormat: HH
                    type: Microsoft.Storage/Blob
                  serialization:
                    properties:
                      encoding: UTF8
                      fieldDelimiter: ","
                    type: Csv
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: 5433fd97-d133-46e3-8588-5fe1f1599ee0
        Create an Azure Data Lake Store output with JSON serialization:
          parameters:
            api-version: 2016-03-01
            jobName: sj3310
            output:
              properties:
                datasource:
                  properties:
                    accountName: someaccount
                    dateFormat: yyyy/MM/dd
                    filePathPrefix: "{date}/{time}"
                    refreshToken: someRefreshToken==
                    tenantId: cea4e98b-c798-49e7-8c40-4a2b3beb47dd
                    timeFormat: HH
                    tokenUserDisplayName: Bob Smith
                    tokenUserPrincipalName: bobsmith@contoso.com
                  type: Microsoft.DataLake/Accounts
                serialization:
                  properties:
                    encoding: UTF8
                    format: Array
                  type: Json
            outputName: output5195
            resourceGroupName: sjrg6912
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg6912/providers/Microsoft.StreamAnalytics/streamingjobs/sj3310/outputs/output5195
                name: output5195
                properties:
                  datasource:
                    properties:
                      accountName: someaccount
                      dateFormat: yyyy/MM/dd
                      filePathPrefix: "{date}/{time}"
                      tenantId: cea4e98b-c798-49e7-8c40-4a2b3beb47dd
                      timeFormat: HH
                      tokenUserDisplayName: Bob Smith
                      tokenUserPrincipalName: bobsmith@contoso.com
                    type: Microsoft.DataLake/Accounts
                  serialization:
                    properties:
                      encoding: UTF8
                      format: Array
                    type: Json
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: 5472168f-7317-4241-8b75-0c8d9d0ea804
            "201":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg6912/providers/Microsoft.StreamAnalytics/streamingjobs/sj3310/outputs/output5195
                name: output5195
                properties:
                  datasource:
                    properties:
                      accountName: someaccount
                      dateFormat: yyyy/MM/dd
                      filePathPrefix: "{date}/{time}"
                      tenantId: cea4e98b-c798-49e7-8c40-4a2b3beb47dd
                      timeFormat: HH
                      tokenUserDisplayName: Bob Smith
                      tokenUserPrincipalName: bobsmith@contoso.com
                    type: Microsoft.DataLake/Accounts
                  serialization:
                    properties:
                      encoding: UTF8
                      format: Array
                    type: Json
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: 5472168f-7317-4241-8b75-0c8d9d0ea804
        Create an Azure SQL database output:
          parameters:
            api-version: 2016-03-01
            jobName: sj6458
            output:
              properties:
                datasource:
                  properties:
                    database: someDatabase
                    password: somePassword
                    server: someServer
                    table: someTable
                    user: someUser
                  type: Microsoft.Sql/Server/Database
            outputName: output1755
            resourceGroupName: sjrg2157
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg2157/providers/Microsoft.StreamAnalytics/streamingjobs/sj6458/outputs/output1755
                name: output1755
                properties:
                  datasource:
                    properties:
                      database: someDatabase
                      server: someServer
                      table: someTable
                      user: someUser
                    type: Microsoft.Sql/Server/Database
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: 731a47c6-ff67-4439-bde6-a2a3da4c1ecf
            "201":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg2157/providers/Microsoft.StreamAnalytics/streamingjobs/sj6458/outputs/output1755
                name: output1755
                properties:
                  datasource:
                    properties:
                      database: someDatabase
                      server: someServer
                      table: someTable
                      user: someUser
                    type: Microsoft.Sql/Server/Database
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: 731a47c6-ff67-4439-bde6-a2a3da4c1ecf
        Create an Azure Table output:
          parameters:
            api-version: 2016-03-01
            jobName: sj2790
            output:
              properties:
                datasource:
                  properties:
                    accountKey: accountKey==
                    accountName: someAccountName
                    batchSize: 25
                    columnsToRemove:
                      - column1
                      - column2
                    partitionKey: partitionKey
                    rowKey: rowKey
                    table: samples
                  type: Microsoft.Storage/Table
            outputName: output958
            resourceGroupName: sjrg5176
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg5176/providers/Microsoft.StreamAnalytics/streamingjobs/sj2790/outputs/output958
                name: output958
                properties:
                  datasource:
                    properties:
                      accountName: someAccountName
                      batchSize: 25
                      columnsToRemove:
                        - column1
                        - column2
                      partitionKey: partitionKey
                      rowKey: rowKey
                      table: samples
                    type: Microsoft.Storage/Table
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: 2409b6d1-c99c-405b-9a14-ea7833637038
            "201":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg5176/providers/Microsoft.StreamAnalytics/streamingjobs/sj2790/outputs/output958
                name: output958
                properties:
                  datasource:
                    properties:
                      accountName: someAccountName
                      batchSize: 25
                      columnsToRemove:
                        - column1
                        - column2
                      partitionKey: partitionKey
                      rowKey: rowKey
                      table: samples
                    type: Microsoft.Storage/Table
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: 2409b6d1-c99c-405b-9a14-ea7833637038
        Create an Event Hub output with JSON serialization:
          parameters:
            api-version: 2016-03-01
            jobName: sj3310
            output:
              properties:
                datasource:
                  properties:
                    eventHubName: sdkeventhub
                    partitionKey: partitionKey
                    serviceBusNamespace: sdktest
                    sharedAccessPolicyKey: sharedAccessPolicyKey=
                    sharedAccessPolicyName: RootManageSharedAccessKey
                  type: Microsoft.ServiceBus/EventHub
                serialization:
                  properties:
                    encoding: UTF8
                    format: Array
                  type: Json
            outputName: output5195
            resourceGroupName: sjrg6912
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg6912/providers/Microsoft.StreamAnalytics/streamingjobs/sj3310/outputs/output5195
                name: output5195
                properties:
                  datasource:
                    properties:
                      eventHubName: sdkeventhub
                      partitionKey: partitionKey
                      serviceBusNamespace: sdktest
                      sharedAccessPolicyName: RootManageSharedAccessKey
                    type: Microsoft.ServiceBus/EventHub
                  serialization:
                    properties:
                      encoding: UTF8
                      format: Array
                    type: Json
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: 5472168f-7317-4241-8b75-0c8d9d0ea804
            "201":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg6912/providers/Microsoft.StreamAnalytics/streamingjobs/sj3310/outputs/output5195
                name: output5195
                properties:
                  datasource:
                    properties:
                      eventHubName: sdkeventhub
                      partitionKey: partitionKey
                      serviceBusNamespace: sdktest
                      sharedAccessPolicyName: RootManageSharedAccessKey
                    type: Microsoft.ServiceBus/EventHub
                  serialization:
                    properties:
                      encoding: UTF8
                      format: Array
                    type: Json
                type: Microsoft.StreamAnalytics/streamingjobs/outputs
              headers:
                ETag: 5472168f-7317-4241-8b75-0c8d9d0ea804
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/outputs/{outputName}/test":
    post:
      description: Tests whether an output’s datasource is reachable and usable by the Azure Stream Analytics service.
      operationId: Outputs_Test
      parameters:
        - description: If the output specified does not already exist, this parameter must contain the full output definition intended to be tested. If the output specified already exists, this parameter can be left null to test the existing output as is or if specified, the properties specified will overwrite the corresponding properties in the existing output (exactly like a PATCH operation) and the resulting output will be tested.
          in: body
          name: output
          required: false
          schema:
            $ref: "#/definitions/Output"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/StreamingJobNameParameter"
        - $ref: "#/parameters/OutputNameParameter"
      responses:
        "200":
          description: The test operation completed successfully.
          schema:
            description: Describes the status of the test operation along with error information, if applicable.
            properties:
              error:
                description: Describes the error that occurred.
                properties:
                  code:
                    description: Error code associated with the error that occurred.
                    readOnly: true
                    type: string
                  message:
                    description: Describes the error in detail.
                    readOnly: true
                    type: string
              status:
                description: The status of the test operation.
                readOnly: true
                type: string
        "202":
          description: The test request was successfully initiated.
      tags:
        - Outputs
      x-ms-examples:
        Test the connection for an output:
          parameters:
            api-version: 2016-03-01
            jobName: sj6458
            outputName: output1755
            resourceGroupName: sjrg2157
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                status: TestSucceeded
            "202": {}
      x-ms-long-running-operation: true
definitions:
  AzureDataLakeStoreOutputDataSource:
    allOf:
      - $ref: "#/definitions/OutputDataSource"
    description: Describes an Azure Data Lake Store output data source.
    properties:
      properties:
        $ref: "#/definitions/AzureDataLakeStoreOutputDataSourceProperties"
        description: The properties that are associated with an Azure Data Lake Store output. Required on PUT (CreateOrReplace) requests.
        x-ms-client-flatten: true
    x-ms-discriminator-value: Microsoft.DataLake/Accounts
  AzureDataLakeStoreOutputDataSourceProperties:
    allOf:
      - $ref: "#/definitions/OAuthBasedDataSourceProperties"
    description: The properties that are associated with an Azure Data Lake Store.
    properties:
      accountName:
        description: The name of the Azure Data Lake Store account. Required on PUT (CreateOrReplace) requests.
        type: string
      dateFormat:
        description: The date format. Wherever {date} appears in filePathPrefix, the value of this property is used as the date format instead.
        type: string
      filePathPrefix:
        description: The location of the file to which the output should be written to. Required on PUT (CreateOrReplace) requests.
        type: string
      tenantId:
        description: The tenant id of the user used to obtain the refresh token. Required on PUT (CreateOrReplace) requests.
        type: string
      timeFormat:
        description: The time format. Wherever {time} appears in filePathPrefix, the value of this property is used as the time format instead.
        type: string
  AzureSqlDatabaseDataSourceProperties:
    description: The properties that are associated with an Azure SQL database data source.
    properties:
      database:
        description: The name of the Azure SQL database. Required on PUT (CreateOrReplace) requests.
        type: string
      password:
        description: The password that will be used to connect to the Azure SQL database. Required on PUT (CreateOrReplace) requests.
        type: string
      server:
        description: The name of the SQL server containing the Azure SQL database. Required on PUT (CreateOrReplace) requests.
        type: string
      table:
        description: The name of the table in the Azure SQL database. Required on PUT (CreateOrReplace) requests.
        type: string
      user:
        description: The user name that will be used to connect to the Azure SQL database. Required on PUT (CreateOrReplace) requests.
        type: string
  AzureSqlDatabaseOutputDataSource:
    allOf:
      - $ref: "#/definitions/OutputDataSource"
    description: Describes an Azure SQL database output data source.
    properties:
      properties:
        $ref: "#/definitions/AzureSqlDatabaseOutputDataSourceProperties"
        description: The properties that are associated with an Azure SQL database output. Required on PUT (CreateOrReplace) requests.
        x-ms-client-flatten: true
    x-ms-discriminator-value: Microsoft.Sql/Server/Database
  AzureSqlDatabaseOutputDataSourceProperties:
    allOf:
      - $ref: "#/definitions/AzureSqlDatabaseDataSourceProperties"
    description: The properties that are associated with an Azure SQL database output.
    properties: {}
  AzureTableOutputDataSource:
    allOf:
      - $ref: "#/definitions/OutputDataSource"
    description: Describes an Azure Table output data source.
    properties:
      properties:
        $ref: "#/definitions/AzureTableOutputDataSourceProperties"
        description: The properties that are associated with an Azure Table output. Required on PUT (CreateOrReplace) requests.
        x-ms-client-flatten: true
    x-ms-discriminator-value: Microsoft.Storage/Table
  AzureTableOutputDataSourceProperties:
    description: The properties that are associated with an Azure Table output.
    properties:
      accountKey:
        description: The account key for the Azure Storage account. Required on PUT (CreateOrReplace) requests.
        type: string
      accountName:
        description: The name of the Azure Storage account. Required on PUT (CreateOrReplace) requests.
        type: string
      batchSize:
        description: The number of rows to write to the Azure Table at a time.
        format: int32
        type: integer
      columnsToRemove:
        description: If specified, each item in the array is the name of a column to remove (if present) from output event entities.
        items:
          type: string
        type: array
      partitionKey:
        description: This element indicates the name of a column from the SELECT statement in the query that will be used as the partition key for the Azure Table. Required on PUT (CreateOrReplace) requests.
        type: string
      rowKey:
        description: This element indicates the name of a column from the SELECT statement in the query that will be used as the row key for the Azure Table. Required on PUT (CreateOrReplace) requests.
        type: string
      table:
        description: The name of the Azure Table. Required on PUT (CreateOrReplace) requests.
        type: string
  BlobOutputDataSource:
    allOf:
      - $ref: "#/definitions/OutputDataSource"
    description: Describes a blob output data source.
    properties:
      properties:
        $ref: "#/definitions/BlobOutputDataSourceProperties"
        description: The properties that are associated with a blob output. Required on PUT (CreateOrReplace) requests.
        x-ms-client-flatten: true
    x-ms-discriminator-value: Microsoft.Storage/Blob
  BlobOutputDataSourceProperties:
    allOf:
      - description: The properties that are associated with a blob data source.
        properties:
          container:
            description: The name of a container within the associated Storage account. This container contains either the blob(s) to be read from or written to. Required on PUT (CreateOrReplace) requests.
            type: string
          dateFormat:
            description: The date format. Wherever {date} appears in pathPattern, the value of this property is used as the date format instead.
            type: string
          pathPattern:
            description: The blob path pattern. Not a regular expression. It represents a pattern against which blob names will be matched to determine whether or not they should be included as input or output to the job. See https://docs.microsoft.com/en-us/rest/api/streamanalytics/stream-analytics-input or https://docs.microsoft.com/en-us/rest/api/streamanalytics/stream-analytics-output for a more detailed explanation and example.
            type: string
          storageAccounts:
            description: A list of one or more Azure Storage accounts. Required on PUT (CreateOrReplace) requests.
            items:
              description: The properties that are associated with an Azure Storage account
              properties:
                accountKey:
                  description: The account key for the Azure Storage account. Required on PUT (CreateOrReplace) requests.
                  type: string
                accountName:
                  description: The name of the Azure Storage account. Required on PUT (CreateOrReplace) requests.
                  type: string
            type: array
          timeFormat:
            description: The time format. Wherever {time} appears in pathPattern, the value of this property is used as the time format instead.
            type: string
    description: The properties that are associated with a blob output.
    properties: {}
  DocumentDbOutputDataSource:
    allOf:
      - $ref: "#/definitions/OutputDataSource"
    description: Describes a DocumentDB output data source.
    properties:
      properties:
        $ref: "#/definitions/DocumentDbOutputDataSourceProperties"
        description: The properties that are associated with a DocumentDB output. Required on PUT (CreateOrReplace) requests.
        x-ms-client-flatten: true
    x-ms-discriminator-value: Microsoft.Storage/DocumentDB
  DocumentDbOutputDataSourceProperties:
    description: The properties that are associated with a DocumentDB output.
    properties:
      accountId:
        description: The DocumentDB account name or ID. Required on PUT (CreateOrReplace) requests.
        type: string
      accountKey:
        description: The account key for the DocumentDB account. Required on PUT (CreateOrReplace) requests.
        type: string
      collectionNamePattern:
        description: The collection name pattern for the collections to be used. The collection name format can be constructed using the optional {partition} token, where partitions start from 0. See the DocumentDB section of https://docs.microsoft.com/en-us/rest/api/streamanalytics/stream-analytics-output for more information. Required on PUT (CreateOrReplace) requests.
        type: string
      database:
        description: The name of the DocumentDB database. Required on PUT (CreateOrReplace) requests.
        type: string
      documentId:
        description: The name of the field in output events used to specify the primary key which insert or update operations are based on.
        type: string
      partitionKey:
        description: The name of the field in output events used to specify the key for partitioning output across collections. If 'collectionNamePattern' contains the {partition} token, this property is required to be specified.
        type: string
  EventHubOutputDataSource:
    allOf:
      - $ref: "#/definitions/OutputDataSource"
    description: Describes an Event Hub output data source.
    properties:
      properties:
        $ref: "#/definitions/EventHubOutputDataSourceProperties"
        description: The properties that are associated with an Event Hub output. Required on PUT (CreateOrReplace) requests.
        x-ms-client-flatten: true
    x-ms-discriminator-value: Microsoft.ServiceBus/EventHub
  EventHubOutputDataSourceProperties:
    allOf:
      - allOf:
          - description: The common properties that are associated with Service Bus data sources (Queues, Topics, Event Hubs, etc.).
            properties:
              serviceBusNamespace:
                description: The namespace that is associated with the desired Event Hub, Service Bus Queue, Service Bus Topic, etc. Required on PUT (CreateOrReplace) requests.
                type: string
              sharedAccessPolicyKey:
                description: The shared access policy key for the specified shared access policy. Required on PUT (CreateOrReplace) requests.
                type: string
              sharedAccessPolicyName:
                description: The shared access policy name for the Event Hub, Service Bus Queue, Service Bus Topic, etc. Required on PUT (CreateOrReplace) requests.
                type: string
        description: The common properties that are associated with Event Hub data sources.
        properties:
          eventHubName:
            description: The name of the Event Hub. Required on PUT (CreateOrReplace) requests.
            type: string
    description: The properties that are associated with an Event Hub output.
    properties:
      partitionKey:
        description: The key/column that is used to determine to which partition to send event data.
        type: string
  OAuthBasedDataSourceProperties:
    description: The properties that are associated with data sources that use OAuth as their authentication model.
    properties:
      refreshToken:
        description: A refresh token that can be used to obtain a valid access token that can then be used to authenticate with the data source. A valid refresh token is currently only obtainable via the Azure Portal. It is recommended to put a dummy string value here when creating the data source and then going to the Azure Portal to authenticate the data source which will update this property with a valid refresh token. Required on PUT (CreateOrReplace) requests.
        type: string
      tokenUserDisplayName:
        description: The user display name of the user that was used to obtain the refresh token. Use this property to help remember which user was used to obtain the refresh token.
        type: string
      tokenUserPrincipalName:
        description: The user principal name (UPN) of the user that was used to obtain the refresh token. Use this property to help remember which user was used to obtain the refresh token.
        type: string
  Output:
    allOf:
      - $ref: "#/definitions/SubResource"
    description: An output object, containing all information associated with the named output. All outputs are contained under a streaming job.
    properties:
      properties:
        $ref: "#/definitions/OutputProperties"
        description: The properties that are associated with an output. Required on PUT (CreateOrReplace) requests.
        x-ms-client-flatten: true
  OutputDataSource:
    description: Describes the data source that output will be written to.
    discriminator: type
    properties:
      type:
        description: Indicates the type of data source output will be written to. Required on PUT (CreateOrReplace) requests.
        type: string
  OutputListResult:
    description: Object containing a list of outputs under a streaming job.
    properties:
      nextLink:
        description: The link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        description: A list of outputs under a streaming job. Populated by a 'List' operation.
        items:
          $ref: "#/definitions/Output"
        readOnly: true
        type: array
  OutputProperties:
    description: The properties that are associated with an output.
    properties:
      datasource:
        $ref: "#/definitions/OutputDataSource"
        description: Describes the data source that output will be written to. Required on PUT (CreateOrReplace) requests.
      diagnostics:
        description: Describes conditions applicable to the Input, Output, or the job overall, that warrant customer attention.
        properties:
          conditions:
            description: A collection of zero or more conditions applicable to the resource, or to the job overall, that warrant customer attention.
            items:
              description: Condition applicable to the resource, or to the job overall, that warrant customer attention.
              properties:
                code:
                  description: The opaque diagnostic code.
                  readOnly: true
                  type: string
                message:
                  description: The human-readable message describing the condition in detail. Localized in the Accept-Language of the client request.
                  readOnly: true
                  type: string
                since:
                  description: The UTC timestamp of when the condition started. Customers should be able to find a corresponding event in the ops log around this time.
                  readOnly: true
                  type: string
            readOnly: true
            type: array
      etag:
        description: The current entity tag for the output. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.
        readOnly: true
        type: string
      serialization:
        description: Describes how data from an input is serialized or how data is serialized when written to an output.
        discriminator: type
        properties:
          type:
            description: Indicates the type of serialization that the input or output uses. Required on PUT (CreateOrReplace) requests.
            type: string
  PowerBIOutputDataSource:
    allOf:
      - $ref: "#/definitions/OutputDataSource"
    description: Describes a Power BI output data source.
    properties:
      properties:
        $ref: "#/definitions/PowerBIOutputDataSourceProperties"
        description: The properties that are associated with a Power BI output. Required on PUT (CreateOrReplace) requests.
        x-ms-client-flatten: true
    x-ms-discriminator-value: PowerBI
  PowerBIOutputDataSourceProperties:
    allOf:
      - $ref: "#/definitions/OAuthBasedDataSourceProperties"
    description: The properties that are associated with a Power BI output.
    properties:
      dataset:
        description: The name of the Power BI dataset. Required on PUT (CreateOrReplace) requests.
        type: string
      groupId:
        description: The ID of the Power BI group.
        type: string
      groupName:
        description: The name of the Power BI group. Use this property to help remember which specific Power BI group id was used.
        type: string
      table:
        description: The name of the Power BI table under the specified dataset. Required on PUT (CreateOrReplace) requests.
        type: string
  ServiceBusQueueOutputDataSource:
    allOf:
      - $ref: "#/definitions/OutputDataSource"
    description: Describes a Service Bus Queue output data source.
    properties:
      properties:
        $ref: "#/definitions/ServiceBusQueueOutputDataSourceProperties"
        description: The properties that are associated with a Service Bus Queue output. Required on PUT (CreateOrReplace) requests.
        x-ms-client-flatten: true
    x-ms-discriminator-value: Microsoft.ServiceBus/Queue
  ServiceBusQueueOutputDataSourceProperties:
    allOf:
      - description: The common properties that are associated with Service Bus data sources (Queues, Topics, Event Hubs, etc.).
        properties:
          serviceBusNamespace:
            description: The namespace that is associated with the desired Event Hub, Service Bus Queue, Service Bus Topic, etc. Required on PUT (CreateOrReplace) requests.
            type: string
          sharedAccessPolicyKey:
            description: The shared access policy key for the specified shared access policy. Required on PUT (CreateOrReplace) requests.
            type: string
          sharedAccessPolicyName:
            description: The shared access policy name for the Event Hub, Service Bus Queue, Service Bus Topic, etc. Required on PUT (CreateOrReplace) requests.
            type: string
    description: The properties that are associated with a Service Bus Queue output.
    properties:
      propertyColumns:
        description: A string array of the names of output columns to be attached to Service Bus messages as custom properties.
        items:
          type: string
        type: array
      queueName:
        description: The name of the Service Bus Queue. Required on PUT (CreateOrReplace) requests.
        type: string
  ServiceBusTopicOutputDataSource:
    allOf:
      - $ref: "#/definitions/OutputDataSource"
    description: Describes a Service Bus Topic output data source.
    properties:
      properties:
        $ref: "#/definitions/ServiceBusTopicOutputDataSourceProperties"
        description: The properties that are associated with a Service Bus Topic output. Required on PUT (CreateOrReplace) requests.
        x-ms-client-flatten: true
    x-ms-discriminator-value: Microsoft.ServiceBus/Topic
  ServiceBusTopicOutputDataSourceProperties:
    allOf:
      - description: The common properties that are associated with Service Bus data sources (Queues, Topics, Event Hubs, etc.).
        properties:
          serviceBusNamespace:
            description: The namespace that is associated with the desired Event Hub, Service Bus Queue, Service Bus Topic, etc. Required on PUT (CreateOrReplace) requests.
            type: string
          sharedAccessPolicyKey:
            description: The shared access policy key for the specified shared access policy. Required on PUT (CreateOrReplace) requests.
            type: string
          sharedAccessPolicyName:
            description: The shared access policy name for the Event Hub, Service Bus Queue, Service Bus Topic, etc. Required on PUT (CreateOrReplace) requests.
            type: string
    description: The properties that are associated with a Service Bus Topic output.
    properties:
      propertyColumns:
        description: A string array of the names of output columns to be attached to Service Bus messages as custom properties.
        items:
          type: string
        type: array
      topicName:
        description: The name of the Service Bus Topic. Required on PUT (CreateOrReplace) requests.
        type: string
  SubResource:
    description: The base sub-resource model definition.
    properties:
      id:
        description: Resource Id
        readOnly: true
        type: string
      name:
        description: Resource name
        type: string
      type:
        description: Resource type
        readOnly: true
        type: string
    x-ms-azure-resource: true
