openapi: 3.0.1
servers:
  - description: Send an SMS with verification code and a custom message for authentication purpose.
    url: https://api.fraudlabspro.com
  - description: Verify that an OTP sent by the Send SMS Verification API is valid.
    url: https://api.fraudlabspro.com
info:
  contact:
    x-twitter: fraudlabspro
  description: Send an SMS with verification code and a custom message for authentication purpose. It helps merchants to minimize chargebacks and fraud for various kinds of payment method, such as credit card, paypal, cod and so on. Please visit https://www.fraudlabspro.com to learn more.
  title: FraudLabs Pro SMS Verification
  version: "1.0"
  x-apisguru-categories:
    - telecom
    - ecommerce
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_fraudlabspro_profile_image.png
  x-origin:
    - converter:
        url: https://github.com/mermade/oas-kit
        version: 7.0.4
      format: openapi
      url: https://api.swaggerhub.com/apis/fraudlabs-pro/fraudlabspro-sms-verification/1.0
      version: "3.0"
  x-providerName: fraudlabspro.com
  x-serviceName: sms-verification
paths:
  /v1/verification/result:
    get:
      description: Verify that an OTP sent by the Send SMS Verification API is valid.
      parameters:
        - description: The unique ID that was returned by the Send Verification SMS API that triggered the OTP sms.
          in: query
          name: tran_id
          required: true
          schema:
            type: string
        - description: FraudLabs Pro API key.
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: Returns the API response in json (default) or xml format.
          in: query
          name: format
          schema:
            enum:
              - json
              - xml
            type: string
        - description: The OTP that was sent to the recipient’s phone.
          in: query
          name: otp
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                "0":
                  value: '{"result":"","error":""}'
              schema:
                type: string
          description: Get verification response
  /v1/verification/send:
    post:
      description: Send an SMS with verification code and a custom message for authentication purpose.
      parameters:
        - description: ISO 3166 country code for the recipient mobile phone number. If parameter is supplied, then some basic telephone number validation is done.
          in: query
          name: country_code
          schema:
            type: string
        - description: Returns the API response in json (default) or xml format.
          in: query
          name: format
          schema:
            enum:
              - json
              - xml
            type: string
        - description: The recipient mobile phone number in E164 format which is a plus followed by just numbers with no spaces or parentheses.
          in: query
          name: tel
          required: true
          schema:
            type: string
        - description: FraudLabs Pro API key.
          in: query
          name: key
          required: true
          schema:
            type: string
        - allowEmptyValue: true
          description: The message template for the SMS. Add <otp> as placeholder for the actual OTP to be generated. Max length is 140 characters.
          in: query
          name: mesg
          schema:
            type: string
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                "0":
                  value: '{"tran_id":"","credits_remaining":"0","error":""}'
              schema:
                type: string
          description: send verification response
