swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Microsoft Azure Managed Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to programmatically view, control, change, and monitor your entire Azure network centrally and with ease.
  title: ManagedNetworkManagementClient
  version: 2019-06-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/managednetwork/resource-manager/Microsoft.ManagedNetwork/preview/2019-06-01-preview/managedNetwork.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: managednetwork-managedNetwork
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  ListPageSizeParameter:
    description: May be used to limit the number of results in a page for list queries.
    in: query
    maximum: 20
    minimum: 1
    name: $top
    required: false
    type: integer
    x-ms-parameter-location: method
  ListSkipTokenParameter:
    description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
    in: query
    name: $skiptoken
    required: false
    type: string
    x-ms-parameter-location: method
  ManagedNetworkGroupNameParameter:
    description: The name of the Managed Network Group.
    in: path
    name: managedNetworkGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  ManagedNetworkNameParameter:
    description: The name of the Managed Network.
    in: path
    name: managedNetworkName
    required: true
    type: string
    x-ms-parameter-location: method
  ManagedNetworkPeeringPolicyNameParameter:
    description: The name of the Managed Network Peering Policy.
    in: path
    name: managedNetworkPeeringPolicyName
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceGroupNameParameter:
    description: The name of the resource group.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.ManagedNetwork/operations:
    get:
      description: Lists all of the available MNC operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/OperationListResult"
        default:
          description: Resource Provider error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Operations
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetwork/managedNetworks":
    get:
      description: The ListBySubscription  ManagedNetwork operation retrieves all the Managed Network Resources in the current subscription in a paginated format.
      operationId: ManagedNetworks_ListBySubscription
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ListPageSizeParameter"
        - $ref: "#/parameters/ListSkipTokenParameter"
      responses:
        "200":
          description: Get successful. The operation returns all Managed Network resources under the current subscription in a paginated format.
          schema:
            $ref: "#/definitions/ManagedNetworkListResult"
        default:
          description: Resource Provider error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ManagedNetworks
      x-ms-examples:
        ManagedNetworksListBySubscription:
          parameters:
            api-version: 2019-06-01
            subscriptionId: subscriptionA
          responses:
            "200":
              body:
                nextLink: "{baseurl}/subscriptions/subscriptionA/resourceGroups/myResourceGroup/providers/Microsoft.ManagedNetwork/managedNetworks?api-version=2019-06-01$skipToken=10"
                value:
                  - id: /subscriptions/subscriptionA/resourceGroups/myResourceGroup/providers/Microsoft.ManagedNetwork/managedNetworks/myManagedNetwork
                    location: eastus
                    name: myManagedNetwork
                    properties:
                      connectivity:
                        groups: []
                        peerings: []
                      etag: sadf-asdf-asdf-asdf
                      provisioningState: Succeeded
                      scope:
                        managementGroups:
                          - id: /providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000000
                          - id: /providers/Microsoft.Management/managementGroups/20000000-0002-0000-0000-000000000000
                        subnets:
                          - id: /subscriptions/subscriptionC/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetC/subnets/subnetA
                          - id: /subscriptions/subscriptionC/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetC/subnets/subnetB
                        subscriptions:
                          - id: subscriptionA
                          - id: subscriptionB
                        virtualNetworks:
                          - id: /subscriptions/subscriptionC/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetA
                          - id: /subscriptions/subscriptionC/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetB
                    tags: {}
                    type: Microsoft.ManagedNetwork/managedNetworks
          title: Get Managed Network
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetwork/managedNetworks":
    get:
      description: The ListByResourceGroup ManagedNetwork operation retrieves all the Managed Network resources in a resource group in a paginated format.
      operationId: ManagedNetworks_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ListPageSizeParameter"
        - $ref: "#/parameters/ListSkipTokenParameter"
      responses:
        "200":
          description: Get successful. The operation returns all Managed Network resources under the specified resource group in a paginated format
          schema:
            $ref: "#/definitions/ManagedNetworkListResult"
        default:
          description: Resource Provider error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ManagedNetworks
      x-ms-examples:
        ManagedNetworksListByResourceGroup:
          parameters:
            api-version: 2019-06-01
            resourceGroupName: myResourceGroup
            subscriptionId: subscriptionA
          responses:
            "200":
              body:
                nextLink: "{baseurl}/subscriptions/subscriptionA/resourceGroups/myResourceGroup/providers/Microsoft.ManagedNetwork/managedNetworks?api-version=2019-06-01$skipToken=10"
                value:
                  - id: /subscriptions/subscriptionA/resourceGroups/myResourceGroup/providers/Microsoft.ManagedNetwork/managedNetworks/myManagedNetwork
                    location: eastus
                    name: myManagedNetwork
                    properties:
                      connectivity:
                        groups: []
                        peerings: []
                      etag: sadf-asdf-asdf-asdf
                      provisioningState: Succeeded
                      scope:
                        managementGroups:
                          - id: /providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000000
                          - id: /providers/Microsoft.Management/managementGroups/20000000-0002-0000-0000-000000000000
                        subnets:
                          - id: /subscriptions/subscriptionC/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetC/subnets/subnetA
                          - id: /subscriptions/subscriptionC/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetC/subnets/subnetB
                        subscriptions:
                          - id: subscriptionA
                          - id: subscriptionB
                        virtualNetworks:
                          - id: /subscriptions/subscriptionC/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetA
                          - id: /subscriptions/subscriptionC/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetB
                    tags: {}
                    type: Microsoft.ManagedNetwork/managedNetworks
          title: Get Managed Network
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetwork/managedNetworks/{managedNetworkName}":
    delete:
      description: The Delete ManagedNetworks operation deletes a Managed Network Resource, specified by the  resource group and Managed Network name
      operationId: ManagedNetworks_Delete
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ManagedNetworkNameParameter"
      responses:
        "200":
          description: Delete successful.
        "202":
          description: Accepted and the operation will complete asynchronously.
        "204":
          description: Request successful. Resource does not exist.
        default:
          description: Resource Provider error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ManagedNetworks
      x-ms-examples:
        ManagedNetworksDelete:
          parameters:
            api-version: 2019-06-01
            managedNetworkName: myManagedNetwork
            resourceGroupName: myResourceGroup
            subscriptionId: subscriptionA
          responses:
            "200": {}
            "202": {}
            "204": {}
          title: Delete Managed Network
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    get:
      description: The Get ManagedNetworks operation gets a Managed Network Resource, specified by the resource group and Managed Network name
      operationId: ManagedNetworks_Get
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ManagedNetworkNameParameter"
      responses:
        "200":
          description: Get successful. The operation returns the specified Managed Network resource.
          schema:
            $ref: "#/definitions/ManagedNetwork"
        default:
          description: Resource Provider error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ManagedNetworks
      x-ms-examples:
        ManagedNetworksGet:
          parameters:
            api-version: 2019-06-01
            managedNetworkName: myManagedNetwork
            resourceGroupName: myResourceGroup
            subscriptionId: subscriptionA
          responses:
            "200":
              body:
                id: /subscriptions/subscriptionA/resourceGroups/myResourceGroup/providers/Microsoft.ManagedNetwork/managedNetworks/myManagedNetwork
                location: eastus
                name: myManagedNetwork
                properties:
                  connectivity:
                    groups: []
                    peerings: []
                  etag: sadf-asdf-asdf-asdf
                  provisioningState: Succeeded
                  scope:
                    managementGroups:
                      - id: /providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000000
                      - id: /providers/Microsoft.Management/managementGroups/20000000-0002-0000-0000-000000000000
                    subnets:
                      - id: /subscriptions/subscriptionC/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetC/subnets/subnetA
                      - id: /subscriptions/subscriptionC/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetC/subnets/subnetB
                    subscriptions:
                      - id: subscriptionA
                      - id: subscriptionB
                    virtualNetworks:
                      - id: /subscriptions/subscriptionC/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetA
                      - id: /subscriptions/subscriptionC/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetB
                tags: {}
                type: Microsoft.ManagedNetwork/managedNetworks
          title: Get Managed Network
    patch:
      description: Updates the specified Managed Network resource tags.
      operationId: ManagedNetworks_Update
      parameters:
        - description: Parameters supplied to update application gateway tags and/or scope.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ManagedNetworkUpdate"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ManagedNetworkNameParameter"
      responses:
        "200":
          description: Update successful. The operation returns the updated Managed Network resource.
          schema:
            $ref: "#/definitions/ManagedNetwork"
        "201":
          description: Update successful. The operation returns the updated Managed Network resource.
          schema:
            $ref: "#/definitions/ManagedNetwork"
        default:
          description: Resource Provider error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ManagedNetworks
      x-ms-examples:
        ManagedNetworksPatch:
          parameters:
            api-version: 2019-06-01
            managedNetworkName: myManagedNetwork
            parameters:
              tags: {}
            resourceGroupName: myResourceGroup
            subscriptionId: subscriptionA
          responses:
            "200":
              body:
                id: /subscriptions/subscriptionA/resourceGroups/myResourceGroup/providers/Microsoft.ManagedNetwork/managedNetworks/myManagedNetwork
                location: eastus
                name: myManagedNetwork
                properties:
                  connectivity:
                    groups: []
                    peerings: []
                  etag: sadf-asdf-asdf-asdf
                  provisioningState: Succeeded
                  scope:
                    managementGroups:
                      - id: /providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000000
                      - id: /providers/Microsoft.Management/managementGroups/20000000-0002-0000-0000-000000000000
                    subnets:
                      - id: /subscriptions/subscriptionC/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetC/subnets/subnetA
                      - id: /subscriptions/subscriptionC/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetC/subnets/subnetB
                    subscriptions:
                      - id: subscriptionA
                      - id: subscriptionB
                    virtualNetworks:
                      - id: /subscriptions/subscriptionC/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetA
                      - id: /subscriptions/subscriptionC/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetB
                tags: {}
                type: Microsoft.ManagedNetwork/managedNetworks
            "201":
              body:
                id: /subscriptions/subscriptionA/resourceGroups/myResourceGroup/providers/Microsoft.ManagedNetwork/managedNetworks/myManagedNetwork
                location: eastus
                name: myManagedNetwork
                properties:
                  connectivity:
                    groups: []
                    peerings: []
                  etag: sadf-asdf-asdf-asdf
                  provisioningState: Succeeded
                  scope:
                    managementGroups:
                      - id: /providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000000
                      - id: /providers/Microsoft.Management/managementGroups/20000000-0002-0000-0000-000000000000
                    subnets:
                      - id: /subscriptions/subscriptionC/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetC/subnets/subnetA
                      - id: /subscriptions/subscriptionC/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetC/subnets/subnetB
                    subscriptions:
                      - id: subscriptionA
                      - id: subscriptionB
                    virtualNetworks:
                      - id: /subscriptions/subscriptionC/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetA
                      - id: /subscriptions/subscriptionC/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetB
                tags: {}
                type: Microsoft.ManagedNetwork/managedNetworks
          title: Create/Update Managed Network
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    put:
      description: The Put ManagedNetworks operation creates/updates a Managed Network Resource, specified by resource group and Managed Network name
      operationId: ManagedNetworks_CreateOrUpdate
      parameters:
        - description: Parameters supplied to the create/update a Managed Network Resource
          in: body
          name: managedNetwork
          required: true
          schema:
            $ref: "#/definitions/ManagedNetwork"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ManagedNetworkNameParameter"
      responses:
        "200":
          description: Update successful. The operation returns the resulting Managed Network resource.
          schema:
            $ref: "#/definitions/ManagedNetwork"
        "201":
          description: Create successful. The operation returns the resulting Managed Network resource.
          schema:
            $ref: "#/definitions/ManagedNetwork"
        default:
          description: Resource Provider error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ManagedNetworks
      x-ms-examples:
        ManagedNetworksPut:
          parameters:
            api-version: 2019-06-01
            managedNetwork:
              location: eastus
              properties:
                scope:
                  managementGroups:
                    - id: /providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000000
                    - id: /providers/Microsoft.Management/managementGroups/20000000-0002-0000-0000-000000000000
                  subnets:
                    - id: /subscriptions/subscriptionC/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetC/subnets/subnetA
                    - id: /subscriptions/subscriptionC/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetC/subnets/subnetB
                  subscriptions:
                    - id: subscriptionA
                    - id: subscriptionB
                  virtualNetworks:
                    - id: /subscriptions/subscriptionC/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetA
                    - id: /subscriptions/subscriptionC/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetB
              tags: {}
            managedNetworkName: myManagedNetwork
            resourceGroupName: myResourceGroup
            subscriptionId: subscriptionA
          responses:
            "200":
              body:
                id: /subscriptions/subscriptionA/resourceGroups/myResourceGroup/providers/Microsoft.ManagedNetwork/managedNetworks/myManagedNetwork
                location: eastus
                name: myManagedNetwork
                properties:
                  connectivity:
                    groups: []
                    peerings: []
                  etag: sadf-asdf-asdf-asdf
                  provisioningState: Succeeded
                  scope:
                    managementGroups:
                      - id: /providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000000
                      - id: /providers/Microsoft.Management/managementGroups/20000000-0002-0000-0000-000000000000
                    subnets:
                      - id: /subscriptions/subscriptionC/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetC/subnets/subnetA
                      - id: /subscriptions/subscriptionC/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetC/subnets/subnetB
                    subscriptions:
                      - id: subscriptionA
                      - id: subscriptionB
                    virtualNetworks:
                      - id: /subscriptions/subscriptionC/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetA
                      - id: /subscriptions/subscriptionC/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetB
                tags: {}
                type: Microsoft.ManagedNetwork/managedNetworks
            "201":
              body:
                id: /subscriptions/subscriptionA/resourceGroups/myResourceGroup/providers/Microsoft.ManagedNetwork/managedNetworks/myManagedNetwork
                location: eastus
                name: myManagedNetwork
                properties:
                  connectivity:
                    groups: []
                    peerings: []
                  etag: sadf-asdf-asdf-asdf
                  provisioningState: Succeeded
                  scope:
                    managementGroups:
                      - id: /providers/Microsoft.Management/managementGroups/20000000-0001-0000-0000-000000000000
                      - id: /providers/Microsoft.Management/managementGroups/20000000-0002-0000-0000-000000000000
                    subnets:
                      - id: /subscriptions/subscriptionC/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetC/subnets/subnetA
                      - id: /subscriptions/subscriptionC/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetC/subnets/subnetB
                    subscriptions:
                      - id: subscriptionA
                      - id: subscriptionB
                    virtualNetworks:
                      - id: /subscriptions/subscriptionC/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetA
                      - id: /subscriptions/subscriptionC/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetB
                tags: {}
                type: Microsoft.ManagedNetwork/managedNetworks
          title: Create/Update Managed Network
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetwork/managedNetworks/{managedNetworkName}/managedNetworkGroups":
    get:
      description: The ListByManagedNetwork ManagedNetworkGroup operation retrieves all the Managed Network Groups in a specified Managed Networks in a paginated format.
      operationId: ManagedNetworkGroups_ListByManagedNetwork
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ManagedNetworkNameParameter"
        - $ref: "#/parameters/ListPageSizeParameter"
        - $ref: "#/parameters/ListSkipTokenParameter"
      responses:
        "200":
          description: Get successful. The operation returns all Managed Network Group resources under the specified Managed Network in a paginated format.
          schema:
            $ref: "#/definitions/ManagedNetworkGroupListResult"
        default:
          description: Resource Provider error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ManagedNetworkGroups
      x-ms-examples:
        ManagedNetworksGroupsListByManagedNetwork:
          parameters:
            api-version: 2019-06-01
            managedNetworkName: myManagedNetwork
            resourceGroupName: myResourceGroup
            subscriptionId: subscriptionA
          responses:
            "200":
              body:
                nextLink: "{baseurl}/subscriptions/subscriptionA/resourceGroups/myResourceGroup/providers/Microsoft.ManagedNetwork/managedNetworks/myManagedNetwork/managedNetworkGroups?api-version=2019-06-01&$skipToken=10"
                value:
                  - id: /subscriptionA/resourceGroups/myResourceGroup/providers/Microsoft.ManagedNetwork/managedNetworks/myManagedNetwork/managedNetworkGroups/myManagedNetworkGroup1
                    name: myManagedNetworkGroup1
                    properties:
                      etag: asdf-asdf-asdf1
                      managementGroups: []
                      provisioningState: Succeeded
                      subnets:
                        - id: /subscriptionB/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetA/subnets/subnetA
                      subscriptions: []
                      virtualNetworks:
                        - id: /subscriptionB/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetA
                        - id: /subscriptionB/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetB
                    type: Microsoft.ManagedNetwork/managedNetworkGroups
          title: Get Managed Network Group
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetwork/managedNetworks/{managedNetworkName}/managedNetworkGroups/{managedNetworkGroupName}":
    delete:
      description: The Delete ManagedNetworkGroups operation deletes a Managed Network Group specified by the resource group, Managed Network name, and group name
      operationId: ManagedNetworkGroups_Delete
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ManagedNetworkNameParameter"
        - $ref: "#/parameters/ManagedNetworkGroupNameParameter"
      responses:
        "200":
          description: Delete successful.
        "202":
          description: Accepted and the operation will complete asynchronously.
        "204":
          description: Request successful. Resource does not exist.
        default:
          description: Resource Provider error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ManagedNetworkGroups
      x-ms-examples:
        ManagementNetworkGroupsDelete:
          parameters:
            api-version: 2019-06-01
            managedNetworkGroupName: myManagedNetworkGroup1
            managedNetworkName: myManagedNetwork
            resourceGroupName: myResourceGroup
            subscriptionId: subscriptionA
          responses:
            "200": {}
            "202": {}
            "204": {}
          title: Delete Managed Network Group
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    get:
      description: The Get ManagedNetworkGroups operation gets a Managed Network Group specified by the resource group, Managed Network name, and group name
      operationId: ManagedNetworkGroups_Get
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ManagedNetworkNameParameter"
        - $ref: "#/parameters/ManagedNetworkGroupNameParameter"
      responses:
        "200":
          description: Get successful. The operation returns the specified Managed Network Group resource.
          schema:
            $ref: "#/definitions/ManagedNetworkGroup"
        default:
          description: Resource Provider error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ManagedNetworkGroups
      x-ms-examples:
        ManagementNetworkGroupsGet:
          parameters:
            api-version: 2019-06-01
            managedNetworkGroupName: myManagedNetworkGroup1
            managedNetworkName: myManagedNetwork
            resourceGroupName: myResourceGroup
            subscriptionId: subscriptionA
          responses:
            "200":
              body:
                id: /subscriptionA/resourceGroups/myResourceGroup/providers/Microsoft.ManagedNetwork/managedNetworks/myManagedNetwork/managedNetworkGroups/myManagedNetworkGroup1
                name: myManagedNetworkGroup1
                properties:
                  etag: asdf-asdf-asdf1
                  managementGroups: []
                  provisioningState: Succeeded
                  subnets:
                    - id: /subscriptionB/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetA/subnets/subnetA
                  subscriptions: []
                  virtualNetworks:
                    - id: /subscriptionB/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetA
                    - id: /subscriptionB/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetB
                type: Microsoft.ManagedNetwork/managedNetworkGroups
          title: Get Managed Network Group
    put:
      description: The Put ManagedNetworkGroups operation creates or updates a Managed Network Group resource
      operationId: ManagedNetworkGroups_CreateOrUpdate
      parameters:
        - description: Parameters supplied to the create/update a Managed Network Group resource
          in: body
          name: managedNetworkGroup
          required: true
          schema:
            $ref: "#/definitions/ManagedNetworkGroup"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ManagedNetworkNameParameter"
        - $ref: "#/parameters/ManagedNetworkGroupNameParameter"
      responses:
        "200":
          description: Update successful. The operation returns the resulting Managed Network Group resource.
          schema:
            $ref: "#/definitions/ManagedNetworkGroup"
        "201":
          description: Create successful. The operation returns the resulting Managed Network Group resource.
          schema:
            $ref: "#/definitions/ManagedNetworkGroup"
        default:
          description: Resource Provider error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ManagedNetworkGroups
      x-ms-examples:
        ManagementNetworkGroupsPut:
          parameters:
            api-version: 2019-06-01
            managedNetworkGroup:
              properties:
                managementGroups: []
                subnets:
                  - id: /subscriptionB/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetA/subnets/subnetA
                subscriptions: []
                virtualNetworks:
                  - id: /subscriptionB/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetA
                  - id: /subscriptionB/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetB
            managedNetworkGroupName: myManagedNetworkGroup1
            managedNetworkName: myManagedNetwork
            resourceGroupName: myResourceGroup
            subscriptionId: subscriptionA
          responses:
            "200":
              body:
                id: /subscriptionA/resourceGroups/myResourceGroup/providers/Microsoft.ManagedNetwork/managedNetworks/myManagedNetwork/managedNetworkGroups/myManagedNetworkGroup1
                name: myManagedNetworkGroup1
                properties:
                  etag: asdf-asdf-asdf1
                  managementGroups: []
                  provisioningState: Succeeded
                  subnets:
                    - id: /subscriptionB/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetA/subnets/subnetA
                  subscriptions: []
                  virtualNetworks:
                    - id: /subscriptionB/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetA
                    - id: /subscriptionB/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetB
                type: Microsoft.ManagedNetwork/managedNetworkGroups
            "201":
              body:
                id: /subscriptionB/resourceGroups/myResourceGroup/providers/Microsoft.ManagedNetwork/managedNetworks/myManagedNetwork/managedNetworkGroups/myManagedNetworkGroup1
                name: myManagedNetworkGroup1
                properties:
                  etag: asdf-asdf-asdf1
                  managementGroups: []
                  provisioningState: Succeeded
                  subnets:
                    - id: /subscriptionB/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetA/subnets/subnetA
                  subscriptions: []
                  virtualNetworks:
                    - id: /subscriptionB/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetA
                    - id: /subscriptionB/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/VnetB
                type: Microsoft.ManagedNetwork/managedNetworkGroups
          title: Create/Update Managed Network Group
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetwork/managedNetworks/{managedNetworkName}/managedNetworkPeeringPolicies":
    get:
      description: The ListByManagedNetwork PeeringPolicies operation retrieves all the Managed Network Peering Policies in a specified Managed Network, in a paginated format.
      operationId: ManagedNetworkPeeringPolicies_ListByManagedNetwork
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ManagedNetworkNameParameter"
        - $ref: "#/parameters/ListPageSizeParameter"
        - $ref: "#/parameters/ListSkipTokenParameter"
      responses:
        "200":
          description: Get successful. The operation returns all Managed Network Peering Policy resources in the specified Managed Network, in a paginated format
          schema:
            $ref: "#/definitions/ManagedNetworkPeeringPolicyListResult"
        default:
          description: Resource Provider error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ManagedNetworkPeeringPolicies
      x-ms-examples:
        ManagedNetworkPeeringPoliciesListByManagedNetwork:
          parameters:
            api-version: 2019-06-01
            managedNetworkName: myManagedNetwork
            resourceGroupName: myResourceGroup
            subscriptionId: subscriptionA
          responses:
            "200":
              body:
                nextLink: "{baseurl}/subscriptions/subscriptionA/resourceGroups/myResourceGroup/providers/Microsoft.ManagedNetwork/managedNetworks/myManagedNetwork/managedNetworkPeeringPolicies?api-version=2019-06-01&$skipToken=10"
                value:
                  - id: /subscriptionA/resourceGroups/myResourceGroup/providers/Microsoft.ManagedNetwork/managedNetworks/myManagedNetwork/managedNetworkPeeringPolicies/myHubAndSpoke
                    name: myHubAndSpoke
                    properties:
                      etag: asdf-asdf-asdf2
                      hub:
                        id: /subscriptionB/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/myHubVnet
                      provisioningState: Succeeded
                      spokes:
                        - id: /subscriptionB/resourceGroups/myResourceGroup/providers/Microsoft.ManagedNetwork/managedNetworks/myManagedNetwork/managedNetworkGroups/myManagedNetworkGroup1
                      type: HubAndSpokeTopology
                    type: Microsoft.ManagedNetwork/peeringPolicies
          title: Get Managed Network Group
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetwork/managedNetworks/{managedNetworkName}/managedNetworkPeeringPolicies/{managedNetworkPeeringPolicyName}":
    delete:
      description: The Delete ManagedNetworkPeeringPolicies operation deletes a Managed Network Peering Policy, specified by the  resource group, Managed Network name, and peering policy name
      operationId: ManagedNetworkPeeringPolicies_Delete
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ManagedNetworkNameParameter"
        - $ref: "#/parameters/ManagedNetworkPeeringPolicyNameParameter"
      responses:
        "200":
          description: Delete successful.
        "202":
          description: Accepted and the operation will complete asynchronously.
        "204":
          description: Request successful. Resource does not exist.
        default:
          description: Resource Provider error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ManagedNetworkPeeringPolicies
      x-ms-examples:
        ManagedNetworkPeeringPoliciesDelete:
          parameters:
            api-version: 2019-06-01
            managedNetworkName: myManagedNetwork
            managedNetworkPeeringPolicyName: myHubAndSpoke
            resourceGroupName: myResourceGroup
            subscriptionId: subscriptionA
          responses:
            "200": {}
            "202": {}
            "204": {}
          title: Get Managed Network Peering Policy
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    get:
      description: The Get ManagedNetworkPeeringPolicies operation gets a Managed Network Peering Policy resource, specified by the  resource group, Managed Network name, and peering policy name
      operationId: ManagedNetworkPeeringPolicies_Get
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ManagedNetworkNameParameter"
        - $ref: "#/parameters/ManagedNetworkPeeringPolicyNameParameter"
      responses:
        "200":
          description: Get successful. The operation returns the specified Managed Network Peering Policy resource.
          schema:
            $ref: "#/definitions/ManagedNetworkPeeringPolicy"
        default:
          description: Resource Provider error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ManagedNetworkPeeringPolicies
      x-ms-examples:
        ManagedNetworkPeeringPoliciesGet:
          parameters:
            api-version: 2019-06-01
            managedNetworkName: myManagedNetwork
            managedNetworkPeeringPolicyName: myHubAndSpoke
            resourceGroupName: myResourceGroup
            subscriptionId: subscriptionA
          responses:
            "200":
              body:
                id: /subscriptionA/resourceGroups/myResourceGroup/providers/Microsoft.ManagedNetwork/managedNetworks/myManagedNetwork/managedNetworkPeeringPolicies/myHubAndSpoke
                name: myHubAndSpoke
                properties:
                  etag: asdf-asdf-asdf2
                  hub:
                    id: /subscriptionB/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/myHubVnet
                  provisioningState: Succeeded
                  spokes:
                    - id: /subscriptionB/resourceGroups/myResourceGroup/providers/Microsoft.ManagedNetwork/managedNetworks/myManagedNetwork/managedNetworkGroups/myManagedNetworkGroup1
                  type: HubAndSpokeTopology
                type: Microsoft.ManagedNetwork/peeringPolicies
          title: Get Managed Network Peering Policy
    put:
      description: The Put ManagedNetworkPeeringPolicies operation creates/updates a new Managed Network Peering Policy
      operationId: ManagedNetworkPeeringPolicies_CreateOrUpdate
      parameters:
        - description: Parameters supplied to create/update a Managed Network Peering Policy
          in: body
          name: managedNetworkPolicy
          required: true
          schema:
            $ref: "#/definitions/ManagedNetworkPeeringPolicy"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ManagedNetworkNameParameter"
        - $ref: "#/parameters/ManagedNetworkPeeringPolicyNameParameter"
      responses:
        "200":
          description: Update successful. The operation returns the resulting Managed Network Peering Policy resource.
          schema:
            $ref: "#/definitions/ManagedNetworkPeeringPolicy"
        "201":
          description: Create successful. The operation returns the resulting Managed Network Peering Policy resource.
          schema:
            $ref: "#/definitions/ManagedNetworkPeeringPolicy"
        default:
          description: Resource Provider error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ManagedNetworkPeeringPolicies
      x-ms-examples:
        ManagedNetworkPeeringPoliciesPut:
          parameters:
            api-version: 2019-06-01
            managedNetworkName: myManagedNetwork
            managedNetworkPeeringPolicyName: myHubAndSpoke
            managedNetworkPolicy:
              properties:
                hub:
                  id: /subscriptionB/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/myHubVnet
                spokes:
                  - id: /subscriptionB/resourceGroups/myResourceGroup/providers/Microsoft.ManagedNetwork/managedNetworks/myManagedNetwork/managedNetworkGroups/myManagedNetworkGroup1
                type: HubAndSpokeTopology
            resourceGroupName: myResourceGroup
            subscriptionId: subscriptionA
          responses:
            "200":
              body:
                id: /subscriptionA/resourceGroups/myResourceGroup/providers/Microsoft.ManagedNetwork/managedNetworks/myManagedNetwork/managedNetworkPeeringPolicies/myHubAndSpoke
                name: myHubAndSpoke
                properties:
                  etag: asdf-asdf-asdf2
                  hub:
                    id: /subscriptionB/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/myHubVnet
                  provisioningState: Succeeded
                  spokes:
                    - id: /subscriptionB/resourceGroups/myResourceGroup/providers/Microsoft.ManagedNetwork/managedNetworks/myManagedNetwork/managedNetworkGroups/myManagedNetworkGroup1
                  type: HubAndSpokeTopology
                type: Microsoft.ManagedNetwork/peeringPolicies
            "201":
              body:
                id: /subscriptionB/resourceGroups/myResourceGroup/providers/Microsoft.ManagedNetwork/managedNetworks/myManagedNetwork/managedNetworkPeeringPolicies/myHubAndSpoke
                name: myHubAndSpoke
                properties:
                  etag: asdf-asdf-asdf2
                  hub:
                    id: /subscriptionB/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/myHubVnet
                  provisioningState: Succeeded
                  spokes:
                    - id: /subscriptionB/resourceGroups/myResourceGroup/providers/Microsoft.ManagedNetwork/managedNetworks/myManagedNetwork/managedNetworkGroups/myManagedNetworkGroup1
                  type: HubAndSpokeTopology
                type: Microsoft.ManagedNetwork/peeringPolicies
          title: Create/Update Managed Network Peering Policy
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  "/{scope}/providers/Microsoft.ManagedNetwork/scopeAssignments":
    get:
      description: Get the specified scope assignment.
      operationId: ScopeAssignments_List
      parameters:
        - description: The base resource of the scope assignment.
          in: path
          name: scope
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK - Returns information about the scope assignment.
          schema:
            $ref: "#/definitions/ScopeAssignmentListResult"
        default:
          description: Resource Provider error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ScopeAssignments
      x-ms-examples:
        ScopeAssignmentsList:
          parameters:
            api-version: 2019-06-01
            scope: subscriptions/subscriptionC
          responses:
            "200":
              body:
                nextLink: "{baseurl}/subscriptions/subscriptionC/providers/Microsoft.ManagedNetwork/scopeAssignments?api-version=2019-06-01&$skipToken=10"
                value:
                  - id: /subscriptions/subscriptionC/providers/Microsoft.ManagedNetwork/scopeAssignments/subscriptionCAssignment
                    name: subscriptionCAssignemnt
                    properties:
                      assignedManagedNetwork: /subscriptions/subscriptionA/resourceGroups/myResourceGroup/providers/Microsoft.ManagedNetwork/managedNetworks/myManagedNetwork
                      etag: sadf-asdf-asdf-asdf
                      provisioningState: Succeeded
                    type: Microsoft.ManagedNetwork/scopeAssignment
          title: Create/Update Managed Network
      x-ms-pageable:
        nextLinkName: nextLink
  "/{scope}/providers/Microsoft.ManagedNetwork/scopeAssignments/{scopeAssignmentName}":
    delete:
      description: Deletes a scope assignment.
      operationId: ScopeAssignments_Delete
      parameters:
        - description: The scope of the scope assignment to delete.
          in: path
          name: scope
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The name of the scope assignment to delete.
          in: path
          name: scopeAssignmentName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Delete Succeed.
        default:
          description: Resource Provider error response describing why the operation failed.
      tags:
        - ScopeAssignments
      x-ms-examples:
        ScopeAssignmentsDelete:
          parameters:
            api-version: 2019-06-01
            scope: subscriptions/subscriptionC
            scopeAssignmentName: subscriptionCAssignment
          responses:
            "200": {}
          title: Create/Update Managed Network
    get:
      description: Get the specified scope assignment.
      operationId: ScopeAssignments_Get
      parameters:
        - description: The base resource of the scope assignment.
          in: path
          name: scope
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The name of the scope assignment to get.
          in: path
          name: scopeAssignmentName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK - Returns information about the scope assignment.
          schema:
            $ref: "#/definitions/ScopeAssignment"
        default:
          description: Resource Provider error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ScopeAssignments
      x-ms-examples:
        ScopeAssignmentsGet:
          parameters:
            api-version: 2019-06-01
            scope: subscriptions/subscriptionC
            scopeAssignmentName: subscriptionCAssignment
          responses:
            "200":
              body:
                id: /subscriptions/subscriptionC/providers/Microsoft.ManagedNetwork/scopeAssignments/subscriptionCAssignment
                name: subscriptionCAssignment
                properties:
                  assignedManagedNetwork: /subscriptions/subscriptionA/resourceGroups/myResourceGroup/providers/Microsoft.ManagedNetwork/managedNetworks/myManagedNetwork
                type: Microsoft.ManagedNetwork/scopeAssignment
          title: Create/Update Managed Network
    put:
      description: Creates a scope assignment.
      operationId: ScopeAssignments_CreateOrUpdate
      parameters:
        - description: Parameters supplied to the specify which Managed Network this scope is being assigned
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ScopeAssignment"
        - description: The base resource of the scope assignment to create. The scope can be any REST resource instance. For example, use 'subscriptions/{subscription-id}' for a subscription, 'subscriptions/{subscription-id}/resourceGroups/{resource-group-name}' for a resource group, and 'subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/{resource-provider}/{resource-type}/{resource-name}' for a resource.
          in: path
          name: scope
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The name of the scope assignment to create.
          in: path
          name: scopeAssignmentName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Updated - Returns information about the scope assignment.
          schema:
            $ref: "#/definitions/ScopeAssignment"
        "201":
          description: Created - Returns information about the scope assignment.
          schema:
            $ref: "#/definitions/ScopeAssignment"
        default:
          description: Resource Provider error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ScopeAssignments
      x-ms-examples:
        ScopeAssignmentsPut:
          parameters:
            api-version: 2019-06-01
            parameters:
              properties:
                assignedManagedNetwork: /subscriptions/subscriptionA/resourceGroups/myResourceGroup/providers/Microsoft.ManagedNetwork/managedNetworks/myManagedNetwork
            scope: subscriptions/subscriptionC
            scopeAssignmentName: subscriptionCAssignment
          responses:
            "200":
              body:
                id: /subscriptions/subscriptionC/providers/Microsoft.ManagedNetwork/scopeAssignments/subscriptionCAssignment
                name: subscriptionCAssignment
                properties:
                  assignedManagedNetwork: /subscriptions/subscriptionA/resourceGroups/myResourceGroup/providers/Microsoft.ManagedNetwork/managedNetworks/myManagedNetwork
                  etag: sadf-asdf-asdf-asdf
                  provisioningState: Succeeded
                type: Microsoft.ManagedNetwork/scopeAssignment
            "201":
              body:
                id: /subscriptions/subscriptionC/providers/Microsoft.ManagedNetwork/scopeAssignments/subscriptionCAssignment
                name: subscriptionCAssignment
                properties:
                  assignedManagedNetwork: /subscriptions/subscriptionA/resourceGroups/myResourceGroup/providers/Microsoft.ManagedNetwork/managedNetworks/myManagedNetwork
                  etag: sadf-asdf-asdf-asdf
                  provisioningState: Succeeded
                type: Microsoft.ManagedNetwork/scopeAssignment
          title: Create/Update Managed Network
definitions:
  ConnectivityCollection:
    description: The collection of Connectivity related groups and policies within the Managed Network
    properties:
      groups:
        description: The collection of connectivity related Managed Network Groups within the Managed Network
        items:
          $ref: "#/definitions/ManagedNetworkGroup"
        readOnly: true
        type: array
      peerings:
        description: The collection of Managed Network Peering Policies within the Managed Network
        items:
          $ref: "#/definitions/ManagedNetworkPeeringPolicy"
        readOnly: true
        type: array
  ErrorResponse:
    description: The error response that indicates why an operation has failed.
    properties:
      code:
        description: The error code.
        readOnly: true
        type: string
      message:
        description: The error message.
        readOnly: true
        type: string
    type: object
  HubAndSpokePeeringPolicyProperties:
    allOf:
      - $ref: "#/definitions/ManagedNetworkPeeringPolicyProperties"
    description: Properties of a Hub and Spoke Peering Policy
    properties:
      hub:
        $ref: "#/definitions/ResourceId"
        description: Gets or sets the hub virtual network ID
      spokes:
        description: Gets or sets the spokes group IDs
        items:
          $ref: "#/definitions/ResourceId"
        type: array
    x-ms-discriminator-value: HubAndSpokeTopology
  ManagedNetwork:
    allOf:
      - $ref: "#/definitions/TrackedResource"
    description: The Managed Network resource
    properties:
      properties:
        $ref: "#/definitions/ManagedNetworkProperties"
        description: The MNC properties
        x-ms-client-flatten: true
  ManagedNetworkGroup:
    allOf:
      - $ref: "#/definitions/ProxyResource"
    description: The Managed Network Group resource
    properties:
      kind:
        description: Responsibility role under which this Managed Network Group will be created
        enum:
          - Connectivity
        type: string
        x-ms-enum:
          modelAsString: true
          name: Kind
      properties:
        $ref: "#/definitions/ManagedNetworkGroupProperties"
        description: Gets or sets the properties of a network group
        x-ms-client-flatten: true
  ManagedNetworkGroupListResult:
    description: Result of the request to list Managed Network Groups. It contains a list of groups and a URL link to get the next set of results.
    properties:
      nextLink:
        description: Gets the URL to get the next set of results.
        type: string
      value:
        description: Gets a page of ManagedNetworkGroup
        items:
          $ref: "#/definitions/ManagedNetworkGroup"
        type: array
  ManagedNetworkGroupProperties:
    allOf:
      - $ref: "#/definitions/ResourceProperties"
    description: Properties of a Managed Network Group
    properties:
      managementGroups:
        description: The collection of management groups covered by the Managed Network
        items:
          $ref: "#/definitions/ResourceId"
        type: array
      subnets:
        description: The collection of  subnets covered by the Managed Network
        items:
          $ref: "#/definitions/ResourceId"
        type: array
      subscriptions:
        description: The collection of subscriptions covered by the Managed Network
        items:
          $ref: "#/definitions/ResourceId"
        type: array
      virtualNetworks:
        description: The collection of virtual nets covered by the Managed Network
        items:
          $ref: "#/definitions/ResourceId"
        type: array
  ManagedNetworkListResult:
    description: Result of the request to list Managed Network. It contains a list of Managed Networks and a URL link to get the next set of results.
    properties:
      nextLink:
        description: Gets the URL to get the next page of results.
        type: string
      value:
        description: Gets a page of ManagedNetworks
        items:
          $ref: "#/definitions/ManagedNetwork"
        type: array
  ManagedNetworkPeeringPolicy:
    allOf:
      - $ref: "#/definitions/ProxyResource"
    description: The Managed Network Peering Policy resource
    properties:
      properties:
        $ref: "#/definitions/ManagedNetworkPeeringPolicyProperties"
        description: Gets or sets the properties of a Managed Network Policy
  ManagedNetworkPeeringPolicyListResult:
    description: Result of the request to list Managed Network Peering Policies. It contains a list of policies and a URL link to get the next set of results.
    properties:
      nextLink:
        description: Gets the URL to get the next page of results.
        type: string
      value:
        description: Gets a page of Peering Policies
        items:
          $ref: "#/definitions/ManagedNetworkPeeringPolicy"
        type: array
  ManagedNetworkPeeringPolicyProperties:
    allOf:
      - $ref: "#/definitions/ResourceProperties"
    description: Properties of a Managed Network Peering Policy
    properties:
      hub:
        $ref: "#/definitions/ResourceId"
        description: Gets or sets the hub virtual network ID
      mesh:
        description: Gets or sets the mesh group IDs
        items:
          $ref: "#/definitions/ResourceId"
        type: array
      spokes:
        description: Gets or sets the spokes group IDs
        items:
          $ref: "#/definitions/ResourceId"
        type: array
      type:
        description: Gets or sets the connectivity type of a network structure policy
        enum:
          - HubAndSpokeTopology
          - MeshTopology
        type: string
        x-ms-enum:
          modelAsString: true
          name: type
    required:
      - type
  ManagedNetworkProperties:
    allOf:
      - $ref: "#/definitions/ResourceProperties"
    description: Properties of Managed Network
    properties:
      connectivity:
        $ref: "#/definitions/ConnectivityCollection"
        description: The collection of groups and policies concerned with connectivity
        readOnly: true
      scope:
        $ref: "#/definitions/Scope"
        description: The collection of management groups, subscriptions, virtual networks, and subnets by the Managed Network. This is a read-only property that is reflective of all ScopeAssignments for this Managed Network
    type: object
  ManagedNetworkUpdate:
    description: Update Tags of Managed Network
    properties:
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
        x-ms-mutability:
          - read
          - create
          - update
    type: object
  MeshPeeringPolicyProperties:
    allOf:
      - $ref: "#/definitions/ManagedNetworkPeeringPolicyProperties"
    description: Properties of a Mesh Peering Policy
    properties:
      mesh:
        description: Gets or sets the mesh group IDs
        items:
          $ref: "#/definitions/ResourceId"
        type: array
    x-ms-discriminator-value: MeshTopology
  Operation:
    description: REST API operation
    properties:
      display:
        description: The object that represents the operation.
        properties:
          operation:
            description: "Operation type: Read, write, delete, etc."
            type: string
          provider:
            description: "Service provider: Microsoft.ManagedNetwork"
            type: string
          resource:
            description: "Resource on which the operation is performed: Profile, endpoint, etc."
            type: string
      name:
        description: "Operation name: {provider}/{resource}/{operation}"
        type: string
    type: object
  OperationListResult:
    description: Result of the request to list Managed Network operations. It contains a list of operations and a URL link to get the next set of results.
    properties:
      nextLink:
        description: URL to get the next set of operation list results if there are any.
        type: string
      value:
        description: List of Resource Provider operations supported by the Managed Network resource provider.
        items:
          $ref: "#/definitions/Operation"
        type: array
  ProxyResource:
    allOf:
      - $ref: "#/definitions/Resource"
    description: The resource model definition for a ARM proxy resource. It will have everything other than required location and tags
  Resource:
    description: The general resource model definition
    properties:
      id:
        description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
        readOnly: true
        type: string
      location:
        description: The geo-location where the resource lives
        type: string
        x-ms-mutability:
          - read
          - create
      name:
        description: The name of the resource
        readOnly: true
        type: string
      type:
        description: The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.
        readOnly: true
        type: string
    x-ms-azure-resource: true
  ResourceId:
    description: Generic pointer to a resource
    properties:
      id:
        description: Resource Id
        type: string
  ResourceProperties:
    description: Base for resource properties.
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated.
        readOnly: true
        type: string
      provisioningState:
        description: Provisioning state of the ManagedNetwork resource.
        enum:
          - Updating
          - Deleting
          - Failed
          - Succeeded
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProvisioningState
  Scope:
    description: Scope of a Managed Network
    properties:
      managementGroups:
        description: The collection of management groups covered by the Managed Network
        items:
          $ref: "#/definitions/ResourceId"
        type: array
      subnets:
        description: The collection of  subnets covered by the Managed Network
        items:
          $ref: "#/definitions/ResourceId"
        type: array
      subscriptions:
        description: The collection of subscriptions covered by the Managed Network
        items:
          $ref: "#/definitions/ResourceId"
        type: array
      virtualNetworks:
        description: The collection of virtual nets covered by the Managed Network
        items:
          $ref: "#/definitions/ResourceId"
        type: array
  ScopeAssignment:
    allOf:
      - $ref: "#/definitions/ProxyResource"
    description: The Managed Network resource
    properties:
      properties:
        $ref: "#/definitions/ScopeAssignmentProperties"
        description: The Scope Assignment properties
        x-ms-client-flatten: true
  ScopeAssignmentListResult:
    description: Result of the request to list ScopeAssignment. It contains a list of groups and a URL link to get the next set of results.
    properties:
      nextLink:
        description: Gets the URL to get the next set of results.
        type: string
      value:
        description: Gets a page of ScopeAssignment
        items:
          $ref: "#/definitions/ScopeAssignment"
        type: array
  ScopeAssignmentProperties:
    allOf:
      - $ref: "#/definitions/ResourceProperties"
    description: Properties of Managed Network
    properties:
      assignedManagedNetwork:
        description: The managed network ID with scope will be assigned to.
        type: string
    type: object
  TrackedResource:
    allOf:
      - $ref: "#/definitions/Resource"
    description: The resource model definition for a ARM tracked top level resource
    properties:
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
        x-ms-mutability:
          - read
          - create
          - update
    required:
      - location
