swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2018-11-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/networkProfile.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-networkProfile
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkProfiles":
    get:
      description: Gets all the network profiles in a subscription.
      operationId: NetworkProfiles_ListAll
      parameters:
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns a list of NetworkProfile resources.
          schema:
            $ref: "#/definitions/NetworkProfileListResult"
      tags:
        - NetworkProfiles
      x-ms-examples:
        List all network profiles:
          parameters:
            api-version: 2018-11-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1
                    location: centraluseuap
                    name: networkProfile1
                    properties:
                      containerNetworkInterfaceConfigurations:
                        - etag: W/"4d705a71-752f-4e0a-8057-c02b125b1c08"
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaceConfigurations/eth0
                          name: eth0
                          properties:
                            ipConfigurations:
                              - etag: W/"4d705a71-752f-4e0a-8057-c02b125b1c08"
                                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaceConfigurations/eth0/ipConfigurations/ipconfigprofile1
                                name: ipconfigprofile1
                                properties:
                                  provisioningState: Succeeded
                                  subnet:
                                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/networkProfileVnet/subnets/networkProfileSubnet1
                                type: Microsoft.Network/networkProfiles/containerNetworkInterfaceConfigurations/ipConfigurations
                            provisioningState: Succeeded
                          type: Microsoft.Network/networkProfiles/containerNetworkInterfaceConfigurations
                      containerNetworkInterfaces: []
                      provisioningState: Succeeded
                      resourceGuid: 1570d8b6-ab8a-4ad2-81d6-d2799b429cbf
                    type: Microsoft.Network/networkProfiles
                  - id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/networkProfiles/networkProfile2
                    location: centraluseuap
                    name: networkProfile2
                    properties:
                      containerNetworkInterfaceConfigurations:
                        - etag: W/"4d705a71-752f-4e0a-8057-c02b125b1c08"
                          id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaceConfigurations/eth1
                          name: eth1
                          properties:
                            ipConfigurations:
                              - etag: W/"4d705a71-752f-4e0a-8057-c02b125b1c08"
                                id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaceConfigurations/eth1/ipConfigurations/ipconfigprofile3
                                name: ipconfigprofile3
                                properties:
                                  provisioningState: Succeeded
                                  subnet:
                                    id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualNetworks/networkProfileVnet/subnets/networkProfileSubnet1
                                type: Microsoft.Network/networkProfiles/containerNetworkInterfaceConfigurations/ipConfigurations
                            provisioningState: Succeeded
                          type: Microsoft.Network/networkProfiles/containerNetworkInterfaceConfigurations
                      containerNetworkInterfaces: []
                    type: Microsoft.Network/networkProfiles
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkProfiles":
    get:
      description: Gets all network profiles in a resource group.
      operationId: NetworkProfiles_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns a list of NetworkProfile resources.
          schema:
            $ref: "#/definitions/NetworkProfileListResult"
      tags:
        - NetworkProfiles
      x-ms-examples:
        List resource group network profiles:
          parameters:
            api-version: 2018-11-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1
                    location: centraluseuap
                    name: networkProfile1
                    properties:
                      containerNetworkInterfaceConfigurations:
                        - etag: W/"4d705a71-752f-4e0a-8057-c02b125b1c08"
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaceConfigurations/eth0
                          name: eth0
                          properties:
                            ipConfigurations:
                              - etag: W/"4d705a71-752f-4e0a-8057-c02b125b1c08"
                                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaceConfigurations/eth0/ipConfigurations/ipconfigprofile1
                                name: ipconfigprofile1
                                properties:
                                  provisioningState: Succeeded
                                  subnet:
                                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/networkProfileVnet/subnets/networkProfileSubnet1
                                type: Microsoft.Network/networkProfiles/containerNetworkInterfaceConfigurations/ipConfigurations
                              - etag: W/"4d705a71-752f-4e0a-8057-c02b125b1c08"
                                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaceConfigurations/eth0/ipConfigurations/ipconfigprofile2
                                name: ipconfigprofile2
                                properties:
                                  provisioningState: Succeeded
                                  subnet:
                                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/networkProfileVnet/subnets/networkProfileSubnet1
                                type: Microsoft.Network/networkProfiles/containerNetworkInterfaceConfigurations/ipConfigurations
                            provisioningState: Succeeded
                          type: Microsoft.Network/networkProfiles/containerNetworkInterfaceConfigurations
                      containerNetworkInterfaces: []
                      provisioningState: Succeeded
                      resourceGuid: 1570d8b6-ab8a-4ad2-81d6-d2799b429cbf
                    type: Microsoft.Network/networkProfiles
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile2
                    location: centraluseuap
                    name: networkProfile2
                    properties:
                      containerNetworkInterfaceConfigurations:
                        - etag: W/"4d705a71-752f-4e0a-8057-c02b125b1c08"
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaceConfigurations/eth1
                          name: eth1
                          properties:
                            ipConfigurations:
                              - etag: W/"4d705a71-752f-4e0a-8057-c02b125b1c08"
                                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaceConfigurations/eth1/ipConfigurations/ipconfigprofile3
                                name: ipconfigprofile3
                                properties:
                                  provisioningState: Succeeded
                                  subnet:
                                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/networkProfileVnet/subnets/networkProfileSubnet1
                                type: Microsoft.Network/networkProfiles/containerNetworkInterfaceConfigurations/ipConfigurations
                            provisioningState: Succeeded
                          type: Microsoft.Network/networkProfiles/containerNetworkInterfaceConfigurations
                      containerNetworkInterfaces: []
                    type: Microsoft.Network/networkProfiles
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkProfiles/{networkProfileName}":
    delete:
      description: Deletes the specified network profile.
      operationId: NetworkProfiles_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the NetworkProfile.
          in: path
          name: networkProfileName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Delete successful.
        "202":
          description: Accepted and the operation will complete asynchronously.
        "204":
          description: Request successful. Resource does not exist.
      tags:
        - NetworkProfiles
      x-ms-examples:
        Delete network profile:
          parameters:
            api-version: 2018-11-01
            networkProfileName: networkProfile1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      description: Gets the specified network profile in a specified resource group.
      operationId: NetworkProfiles_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the PublicIPPrefix.
          in: path
          name: networkProfileName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Expands referenced resources.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        "200":
          description: Request successful. The operation returns the resulting NetworkProfile resource.
          schema:
            $ref: "#/definitions/NetworkProfile"
      tags:
        - NetworkProfiles
      x-ms-examples:
        Get network profile:
          parameters:
            api-version: 2018-11-01
            networkProfileName: networkProfile1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"4d705a71-752f-4e0a-8057-c02b125b1c08"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1
                location: centraluseuap
                name: networkProfile1
                properties:
                  containerNetworkInterfaceConfigurations:
                    - etag: W/"4d705a71-752f-4e0a-8057-c02b125b1c08"
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaceConfigurations/eth0
                      name: eth0
                      properties:
                        ipConfigurations:
                          - etag: W/"4d705a71-752f-4e0a-8057-c02b125b1c08"
                            id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaceConfigurations/eth0/ipConfigurations/ipconfigprofile1
                            name: ipconfigprofile1
                            properties:
                              provisioningState: Succeeded
                              subnet:
                                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/networkProfileVnet/subnets/networkProfileSubnet1
                            type: Microsoft.Network/networkProfiles/containerNetworkInterfaceConfigurations/ipConfigurations
                          - etag: W/"4d705a71-752f-4e0a-8057-c02b125b1c08"
                            id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaceConfigurations/eth0/ipConfigurations/ipconfigprofile2
                            name: ipconfigprofile2
                            properties:
                              provisioningState: Succeeded
                              subnet:
                                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/networkProfileVnet/subnets/networkProfileSubnet1
                            type: Microsoft.Network/networkProfiles/containerNetworkInterfaceConfigurations/ipConfigurations
                        provisioningState: Succeeded
                      type: Microsoft.Network/networkProfiles/containerNetworkInterfaceConfigurations
                    - etag: W/"4d705a71-752f-4e0a-8057-c02b125b1c08"
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaceConfigurations/eth1
                      name: eth1
                      properties:
                        ipConfigurations:
                          - etag: W/"4d705a71-752f-4e0a-8057-c02b125b1c08"
                            id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaceConfigurations/eth1/ipConfigurations/ipconfigprofile3
                            name: ipconfigprofile3
                            properties:
                              provisioningState: Succeeded
                              subnet:
                                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/networkProfileVnet/subnets/networkProfileSubnet1
                            type: Microsoft.Network/networkProfiles/containerNetworkInterfaceConfigurations/ipConfigurations
                        provisioningState: Succeeded
                      type: Microsoft.Network/networkProfiles/containerNetworkInterfaceConfigurations
                  containerNetworkInterfaces: []
                  provisioningState: Succeeded
                  resourceGuid: 1570d8b6-ab8a-4ad2-81d6-d2799b429cbf
                type: Microsoft.Network/networkProfiles
        Get network profile with container network interfaces:
          parameters:
            api-version: 2018-11-01
            networkProfileName: networkProfile1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"de9b89d2-83b0-4da3-b488-6ea8b0557edd"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1
                location: centraluseuap
                name: networkProfile1
                properties:
                  containerNetworkInterfaceConfigurations:
                    - etag: W/"de9b89d2-83b0-4da3-b488-6ea8b0557edd"
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaceConfigurations/eth0
                      name: eth0
                      properties:
                        containerNetworkInterfaces:
                          - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaces/containerGroup1_eth0
                          - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaces/containerGroup2_eth0
                          - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaces/containerGroup3_eth0
                        ipConfigurations:
                          - etag: W/"de9b89d2-83b0-4da3-b488-6ea8b0557edd"
                            id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaceConfigurations/eth0/ipConfigurations/ipconfigprofile1
                            name: ipconfigprofile1
                            properties:
                              provisioningState: Succeeded
                              subnet:
                                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/networkProfileVnet/subnets/networkProfileSubnet1
                            type: Microsoft.Network/networkProfiles/containerNetworkInterfaceConfigurations/ipConfigurations
                          - etag: W/"de9b89d2-83b0-4da3-b488-6ea8b0557edd"
                            id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaceConfigurations/eth0/ipConfigurations/ipconfigprofile2
                            name: ipconfigprofile2
                            properties:
                              provisioningState: Succeeded
                              subnet:
                                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/networkProfileVnet/subnets/networkProfileSubnet1
                            type: Microsoft.Network/networkProfiles/containerNetworkInterfaceConfigurations/ipConfigurations
                        provisioningState: Succeeded
                      type: Microsoft.Network/networkProfiles/containerNetworkInterfaceConfigurations
                    - etag: W/"de9b89d2-83b0-4da3-b488-6ea8b0557edd"
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaceConfigurations/eth1
                      name: eth1
                      properties:
                        containerNetworkInterfaces:
                          - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaces/containerGroup1_eth1
                          - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaces/containerGroup2_eth1
                          - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaces/containerGroup3_eth1
                        ipConfigurations:
                          - etag: W/"de9b89d2-83b0-4da3-b488-6ea8b0557edd"
                            id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaceConfigurations/eth1/ipConfigurations/ipconfigprofile3
                            name: ipconfigprofile3
                            properties:
                              provisioningState: Succeeded
                              subnet:
                                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/networkProfileVnet/subnets/networkProfileSubnet1
                            type: Microsoft.Network/networkProfiles/containerNetworkInterfaceConfigurations/ipConfigurations
                        provisioningState: Succeeded
                      type: Microsoft.Network/networkProfiles/containerNetworkInterfaceConfigurations
                  containerNetworkInterfaces:
                    - etag: W/"de9b89d2-83b0-4da3-b488-6ea8b0557edd"
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaces/containerGroup1_eth0
                      name: containerGroup1_eth0
                      properties:
                        container:
                          id: /subscriptions/subid/resourceGroups/networkProfilesDemo/providers/Microsoft.ContainerInstance/containerGroups/containerGroup1
                        containerNetworkInterfaceConfiguration:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaceConfigurations/eth0
                        ipConfigurations: []
                        provisioningState: Succeeded
                      type: Microsoft.Network/networkProfiles/containerNetworkInterfaces
                    - etag: W/"de9b89d2-83b0-4da3-b488-6ea8b0557edd"
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaces/containerGroup1_eth1
                      name: containerGroup1_eth1
                      properties:
                        container:
                          id: /subscriptions/subid/resourceGroups/networkProfilesDemo/providers/Microsoft.ContainerInstance/containerGroups/containerGroup1
                        containerNetworkInterfaceConfiguration:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaceConfigurations/eth1
                        ipConfigurations: []
                        provisioningState: Succeeded
                      type: Microsoft.Network/networkProfiles/containerNetworkInterfaces
                    - etag: W/"de9b89d2-83b0-4da3-b488-6ea8b0557edd"
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaces/containerGroup2_eth0
                      name: containerGroup2_eth0
                      properties:
                        container:
                          id: /subscriptions/subid/resourceGroups/networkProfilesDemo/providers/Microsoft.ContainerInstance/containerGroups/containerGroup2
                        containerNetworkInterfaceConfiguration:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaceConfigurations/eth0
                        ipConfigurations: []
                        provisioningState: Succeeded
                      type: Microsoft.Network/networkProfiles/containerNetworkInterfaces
                    - etag: W/"de9b89d2-83b0-4da3-b488-6ea8b0557edd"
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaces/containerGroup2_eth1
                      name: containerGroup2_eth1
                      properties:
                        container:
                          id: /subscriptions/subid/resourceGroups/networkProfilesDemo/providers/Microsoft.ContainerInstance/containerGroups/containerGroup2
                        containerNetworkInterfaceConfiguration:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaceConfigurations/eth1
                        ipConfigurations: []
                        provisioningState: Succeeded
                      type: Microsoft.Network/networkProfiles/containerNetworkInterfaces
                    - etag: W/"de9b89d2-83b0-4da3-b488-6ea8b0557edd"
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaces/containerGroup3_eth0
                      name: containerGroup3_eth0
                      properties:
                        container:
                          id: /subscriptions/subid/resourceGroups/networkProfilesDemo/providers/Microsoft.ContainerInstance/containerGroups/containerGroup3
                        containerNetworkInterfaceConfiguration:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaceConfigurations/eth0
                        ipConfigurations: []
                        provisioningState: Succeeded
                      type: Microsoft.Network/networkProfiles/containerNetworkInterfaces
                    - etag: W/"de9b89d2-83b0-4da3-b488-6ea8b0557edd"
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaces/containerGroup3_eth1
                      name: containerGroup3_eth1
                      properties:
                        container:
                          id: /subscriptions/subid/resourceGroups/networkProfilesDemo/providers/Microsoft.ContainerInstance/containerGroups/containerGroup3
                        containerNetworkInterfaceConfiguration:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaceConfigurations/eth1
                        ipConfigurations: []
                        provisioningState: Succeeded
                      type: Microsoft.Network/networkProfiles/containerNetworkInterfaces
                  provisioningState: Succeeded
                  resourceGuid: 1570d8b6-ab8a-4ad2-81d6-d2799b429cbf
                type: Microsoft.Network/networkProfiles
    patch:
      description: Updates network profile tags.
      operationId: NetworkProfiles_UpdateTags
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network profile.
          in: path
          name: networkProfileName
          required: true
          type: string
        - description: Parameters supplied to update network profile tags.
          in: body
          name: parameters
          required: true
          schema:
            description: Tags object for patch operations.
            properties:
              tags:
                additionalProperties:
                  type: string
                description: Resource tags.
                type: object
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Update successful. The operation returns the resulting NetworkProfile resource.
          schema:
            $ref: "#/definitions/NetworkProfile"
      tags:
        - NetworkProfiles
      x-ms-examples:
        Update network profile tags:
          parameters:
            api-version: 2018-11-01
            networkProfileName: test-np
            parameters:
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/test-np
                location: centraluseuap
                name: test-np
                properties:
                  containerNetworkInterfaceConfigurations:
                    - etag: W/"4d705a71-752f-4e0a-8057-c02b125b1c08"
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaceConfigurations/eth0
                      name: eth0
                      properties:
                        ipConfigurations:
                          - etag: W/"4d705a71-752f-4e0a-8057-c02b125b1c08"
                            id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaceConfigurations/eth0/ipConfigurations/ipconfigprofile1
                            name: ipconfigprofile1
                            properties:
                              provisioningState: Succeeded
                              subnet:
                                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/networkProfileVnet/subnets/networkProfileSubnet1
                            type: Microsoft.Network/networkProfiles/containerNetworkInterfaceConfigurations/ipConfigurations
                        provisioningState: Succeeded
                      type: Microsoft.Network/networkProfiles/containerNetworkInterfaceConfigurations
                  containerNetworkInterfaces: []
                  provisioningState: Succeeded
                  resourceGuid: 1570d8b6-ab8a-4ad2-81d6-d2799b429cbf
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Network/networkProfiles
      x-ms-long-running-operation: false
    put:
      description: Creates or updates a network profile.
      operationId: NetworkProfiles_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network profile.
          in: path
          name: networkProfileName
          required: true
          type: string
        - description: Parameters supplied to the create or update network profile operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/NetworkProfile"
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Update successful. The operation returns the resulting NetworkProfile resource.
          schema:
            $ref: "#/definitions/NetworkProfile"
        "201":
          description: Create successful. The operation returns the resulting NetworkProfile resource.
          schema:
            $ref: "#/definitions/NetworkProfile"
      tags:
        - NetworkProfiles
      x-ms-examples:
        Create network profile defaults:
          parameters:
            api-version: 2018-11-01
            location: westus
            networkProfileName: networkProfile1
            parameters:
              properties:
                containerNetworkInterfaceConfigurations:
                  - name: eth1
                    properties:
                      ipConfigurations:
                        - name: ipconfig1
                          properties:
                            subnet:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/networkProfileVnet/subnets/networkProfileSubnet1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"4d705a71-752f-4e0a-8057-c02b125b1c08"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1
                location: westus
                name: networkProfile1
                properties:
                  containerNetworkInterfaceConfigurations:
                    - etag: W/"4d705a71-752f-4e0a-8057-c02b125b1c08"
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaceConfigurations/eth1
                      name: eth1
                      properties:
                        ipConfigurations:
                          - etag: W/"4d705a71-752f-4e0a-8057-c02b125b1c08"
                            id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaceConfigurations/eth1/ipConfigurations/ipconfig1
                            name: ipconfig1
                            properties:
                              provisioningState: Succeeded
                              subnet:
                                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/networkProfileVnet/subnets/networkProfileSubnet1
                            type: Microsoft.Network/networkProfiles/containerNetworkInterfaceConfigurations/ipConfigurations
                        provisioningState: Succeeded
                      type: Microsoft.Network/networkProfiles/containerNetworkInterfaceConfigurations
                  containerNetworkInterfaces: []
                  provisioningState: Succeeded
                  resourceGuid: 1570d8b6-ab8a-4ad2-81d6-d2799b429cbf
                type: Microsoft.Network/networkProfiles
            "201":
              body:
                etag: W/"4d705a71-752f-4e0a-8057-c02b125b1c08"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1
                location: westus
                name: networkProfile1
                properties:
                  containerNetworkInterfaceConfigurations:
                    - etag: W/"4d705a71-752f-4e0a-8057-c02b125b1c08"
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaceConfigurations/eth1
                      name: eth1
                      properties:
                        ipConfigurations:
                          - etag: W/"4d705a71-752f-4e0a-8057-c02b125b1c08"
                            id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkProfiles/networkProfile1/containerNetworkInterfaceConfigurations/eth1/ipConfigurations/ipconfig1
                            name: ipconfig1
                            properties:
                              provisioningState: Succeeded
                              subnet:
                                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/networkProfileVnet/subnets/networkProfileSubnet1
                            type: Microsoft.Network/networkProfiles/containerNetworkInterfaceConfigurations/ipConfigurations
                        provisioningState: Succeeded
                      type: Microsoft.Network/networkProfiles/containerNetworkInterfaceConfigurations
                  containerNetworkInterfaces: []
                  provisioningState: Succeeded
                  resourceGuid: 1570d8b6-ab8a-4ad2-81d6-d2799b429cbf
                type: Microsoft.Network/networkProfiles
      x-ms-long-running-operation: false
definitions:
  Container:
    allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        x-ms-azure-resource: true
    description: Reference to container resource in remote resource provider.
    properties: {}
  ContainerNetworkInterface:
    allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        x-ms-azure-resource: true
    description: Container network interface child resource.
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated.
        type: string
      name:
        description: The name of the resource. This name can be used to access the resource.
        type: string
      properties:
        $ref: "#/definitions/ContainerNetworkInterfacePropertiesFormat"
        description: Container network interface properties.
        x-ms-client-flatten: true
      type:
        description: Sub Resource type.
        readOnly: true
        type: string
  ContainerNetworkInterfaceConfiguration:
    allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        x-ms-azure-resource: true
    description: Container network interface configuration child resource.
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated.
        type: string
      name:
        description: The name of the resource. This name can be used to access the resource.
        type: string
      properties:
        $ref: "#/definitions/ContainerNetworkInterfaceConfigurationPropertiesFormat"
        description: Container network interface configuration properties.
        x-ms-client-flatten: true
      type:
        description: Sub Resource type.
        readOnly: true
        type: string
  ContainerNetworkInterfaceConfigurationPropertiesFormat:
    description: Container network interface configuration properties.
    properties:
      containerNetworkInterfaces:
        description: A list of container network interfaces created from this container network interface configuration.
        items:
          description: Reference to another subresource.
          properties:
            id:
              description: Resource ID.
              type: string
          x-ms-azure-resource: true
        type: array
      ipConfigurations:
        description: A list of ip configurations of the container network interface configuration.
        items:
          $ref: "#/definitions/IPConfigurationProfile"
        type: array
      provisioningState:
        description: The provisioning state of the resource.
        readOnly: true
        type: string
  ContainerNetworkInterfaceIpConfiguration:
    description: The ip configuration for a container network interface.
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated.
        type: string
      name:
        description: The name of the resource. This name can be used to access the resource.
        type: string
      properties:
        $ref: "#/definitions/ContainerNetworkInterfaceIpConfigurationPropertiesFormat"
        description: Properties of the container network interface IP configuration.
        x-ms-client-flatten: true
      type:
        description: Sub Resource type.
        readOnly: true
        type: string
  ContainerNetworkInterfaceIpConfigurationPropertiesFormat:
    description: Properties of the container network interface IP configuration.
    properties:
      provisioningState:
        description: The provisioning state of the resource.
        readOnly: true
        type: string
  ContainerNetworkInterfacePropertiesFormat:
    properties:
      container:
        $ref: "#/definitions/Container"
        description: Reference to the container to which this container network interface is attached.
      containerNetworkInterfaceConfiguration:
        $ref: "#/definitions/ContainerNetworkInterfaceConfiguration"
        description: Container network interface configuration from which this container network interface is created.
      ipConfigurations:
        description: Reference to the ip configuration on this container nic.
        items:
          $ref: "#/definitions/ContainerNetworkInterfaceIpConfiguration"
        type: array
      provisioningState:
        description: The provisioning state of the resource.
        readOnly: true
        type: string
  IPConfigurationProfile:
    allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        x-ms-azure-resource: true
    description: IP configuration profile child resource.
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated.
        type: string
      name:
        description: The name of the resource. This name can be used to access the resource.
        type: string
      properties:
        $ref: "#/definitions/IPConfigurationProfilePropertiesFormat"
        description: Properties of the IP configuration profile.
        x-ms-client-flatten: true
      type:
        description: Sub Resource type.
        readOnly: true
        type: string
  IPConfigurationProfilePropertiesFormat:
    description: IP configuration profile properties.
    properties:
      provisioningState:
        description: The provisioning state of the resource.
        readOnly: true
        type: string
      subnet:
        $ref: ./virtualNetwork.json#/definitions/Subnet
        description: The reference of the subnet resource to create a container network interface ip configuration.
  NetworkProfile:
    allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: Network profile resource.
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated.
        type: string
      properties:
        $ref: "#/definitions/NetworkProfilePropertiesFormat"
        description: Network profile properties.
        x-ms-client-flatten: true
  NetworkProfileListResult:
    description: Response for ListNetworkProfiles API service call.
    properties:
      nextLink:
        description: The URL to get the next set of results.
        type: string
      value:
        description: A list of network profiles that exist in a resource group.
        items:
          $ref: "#/definitions/NetworkProfile"
        type: array
  NetworkProfilePropertiesFormat:
    description: Network profile properties.
    properties:
      containerNetworkInterfaceConfigurations:
        description: List of chid container network interface configurations.
        items:
          $ref: "#/definitions/ContainerNetworkInterfaceConfiguration"
        type: array
      containerNetworkInterfaces:
        description: List of child container network interfaces.
        items:
          $ref: "#/definitions/ContainerNetworkInterface"
        type: array
      provisioningState:
        description: The provisioning state of the resource.
        readOnly: true
        type: string
      resourceGuid:
        description: The resource GUID property of the network interface resource.
        readOnly: true
        type: string
