swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: DeletedWebApps API Client
  version: 2016-03-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2016-03-01/DeletedWebApps.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: web-DeletedWebApps
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: API Version
    in: query
    name: api-version
    required: true
    type: string
  subscriptionIdParameter:
    description: Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Web/deletedSites":
    get:
      description: Get all deleted apps for a subscription.
      operationId: DeletedWebApps_List
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DeletedWebAppCollection"
      summary: Get all deleted apps for a subscription.
      tags:
        - DeletedWebApps
      x-ms-pageable:
        nextLinkName: nextLink
definitions:
  DeletedSite:
    description: A deleted app.
    properties:
      deletedTimestamp:
        description: Time in UTC when the app was deleted.
        readOnly: true
        type: string
      id:
        description: Numeric id for the deleted site
        format: int32
        type: integer
      name:
        description: Name of the deleted site
        readOnly: true
        type: string
      resourceGroup:
        description: ResourceGroup that contained the deleted site
        readOnly: true
        type: string
      slot:
        description: Slot of the deleted site
        readOnly: true
        type: string
      subscription:
        description: Subscription containing the deleted site
        readOnly: true
        type: string
    type: object
  DeletedWebAppCollection:
    description: Collection of deleted apps.
    properties:
      nextLink:
        description: Link to next page of resources.
        readOnly: true
        type: string
      value:
        description: Collection of resources.
        items:
          $ref: "#/definitions/DeletedSite"
        type: array
    required:
      - value
    type: object
