swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Specification for ManagedServices.
  title: ManagedServicesClient
  version: 2019-04-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/managedservices/resource-manager/Microsoft.ManagedServices/preview/2019-04-01-preview/managedservices.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: managedservices
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: The API version to use for this operation.
    in: query
    name: api-version
    required: true
    type: string
    x-ms-parameter-location: method
  ExpandRegistrationDefinition:
    description: Tells whether to return registration definition details also along with registration assignment details.
    in: query
    name: $expandRegistrationDefinition
    type: boolean
    x-ms-parameter-location: method
  RegistrationAssignmentIdParameter:
    description: Guid of the registration assignment.
    in: path
    name: registrationAssignmentId
    required: true
    type: string
    x-ms-parameter-location: method
  ScopeParameter:
    description: Scope of the resource.
    in: path
    name: scope
    required: true
    type: string
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
  registrationDefinitionIdParameter:
    description: Guid of the registration definition.
    in: path
    name: registrationDefinitionId
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  /providers/Microsoft.ManagedServices/operations:
    get:
      description: Gets a list of the operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK - Returns a list of operations.
          schema:
            $ref: "#/definitions/OperationList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Operations
      x-ms-examples:
        Get Registration Operations:
          parameters:
            api-version: 2019-04-01-preview
          responses:
            "200":
              body:
                value:
                  - display:
                      description: Retrieves a list of Managed Services registration definitions.
                      operation: List Managed Services Registration Definitions
                      provider: Microsoft Managed Services
                      resource: Managed Services Registration Definition
                    name: Microsoft.ManagedServices/registrationDefinitions/read
  "/{scope}/providers/Microsoft.ManagedServices/registrationAssignments":
    get:
      description: Gets a list of the registration assignments.
      operationId: RegistrationAssignments_List
      parameters:
        - $ref: "#/parameters/ScopeParameter"
        - $ref: "#/parameters/ExpandRegistrationDefinition"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK - Returns a list of the registration assignments.
          schema:
            $ref: "#/definitions/RegistrationAssignmentList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - RegistrationAssignments
      x-ms-examples:
        Get Registration Assignments:
          parameters:
            api-version: 2019-04-01-preview
            scope: subscription/0afefe50-734e-4610-8a82-a144ahf49dea
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/0afefe50-734e-4610-8c82-a144aff49dea/providers/Microsoft.ManagedServices/registrationAssignments/484a7d5f-9729-4b87-bc9b-26610985a013
                    name: 484a7d5f-9729-4b87-bc9b-26610985a013
                    properties:
                      provisioningState: Succeeded
                      registrationDefinition:
                        id: /subscriptions/0afefe50-734e-4610-8c82-a144aff49dea/providers/Microsoft.ManagedServices/registrationDefinitions/26c128c2-fefa-4340-9bb1-8e081c90ada2
                        name: 26c128c2-fefa-4340-9bb1-8e081c90ada2
                        plan:
                          name: addesai-plan
                          product: test
                          publisher: marketplace-test
                          version: 1.0.0
                        properties:
                          authorizations:
                            - principalId: f98d86a2-4cc4-4e9d-ad47-b3e80a1bcdfc
                              roleDefinitionId: acdd72a7-3385-48ef-bd42-f606fba81ae7
                          description: Test
                          managedByTenantId: 83abe5cd-bcc3-441a-bd86-e6a75360cecc
                          managedByTenantName: Contoso Corp.
                          manageeTenantId: 01c0bcd5-4f47-4e4b-b492-418b7e2a8854
                          manageeTenantName: test_test_aad_SbtFhyGiLHPFm
                          provisioningState: Succeeded
                          registrationDefinitionName: DefinitionName
                        type: Microsoft.ManagedServices/registrationDefinitions
                      registrationDefinitionId: /subscriptions/0afefe50-734e-4610-8c82-a144aff49dea/providers/Microsoft.ManagedServices/registrationDefinitions/26c128c2-fefa-4340-9bb1-8e081c90ada2
                    type: Microsoft.ManagedServices/registrationAssignments
      x-ms-pageable:
        nextLinkName: nextLink
  "/{scope}/providers/Microsoft.ManagedServices/registrationAssignments/{registrationAssignmentId}":
    delete:
      description: Deletes the specified registration assignment.
      operationId: RegistrationAssignments_Delete
      parameters:
        - $ref: "#/parameters/ScopeParameter"
        - $ref: "#/parameters/RegistrationAssignmentIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK - The registration assignment is deleted.
        "202":
          description: Accepted - The registration assignment deletion operation is accepted.
        "204":
          description: No Content- The registration assignment does not exist.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - RegistrationAssignments
      x-ms-examples:
        Delete Registration Assignment:
          parameters:
            api-version: 2019-04-01-preview
            registrationAssignmentId: 26c128c2-fefa-4340-9bb1-6e081c90ada2
            scope: subscription/0afefe50-734e-4610-8a82-a144ahf49dea
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets the details of specified registration assignment.
      operationId: RegistrationAssignments_Get
      parameters:
        - $ref: "#/parameters/ScopeParameter"
        - $ref: "#/parameters/RegistrationAssignmentIdParameter"
        - $ref: "#/parameters/ExpandRegistrationDefinition"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK - Returns the registration assignment.
          schema:
            $ref: "#/definitions/RegistrationAssignment"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - RegistrationAssignments
      x-ms-examples:
        Get Registration Assignment:
          parameters:
            api-version: 2019-04-01-preview
            registrationAssignmentId: 26c128c2-fefa-4340-9bb1-6e081c90ada2
            scope: subscription/0afefe50-734e-4610-8a82-a144ahf49dea
          responses:
            "200":
              body:
                id: /subscriptions/0afefe50-734e-4610-8c82-a144aff49dea/providers/Microsoft.ManagedServices/registrationAssignments/484a7d5f-9729-4b87-bc9b-26610985a013
                name: 484a7d5f-9729-4b87-bc9b-26610985a013
                properties:
                  provisioningState: Succeeded
                  registrationDefinition:
                    id: /subscriptions/0afefe50-734e-4610-8c82-a144aff49dea/providers/Microsoft.ManagedServices/registrationDefinitions/26c128c2-fefa-4340-9bb1-8e081c90ada2
                    name: 26c128c2-fefa-4340-9bb1-8e081c90ada2
                    plan:
                      name: addesai-plan
                      product: test
                      publisher: marketplace-test
                      version: 1.0.0
                    properties:
                      authorizations:
                        - principalId: f98d86a2-4cc4-4e9d-ad47-b3e80a1bcdfc
                          roleDefinitionId: acdd72a7-3385-48ef-bd42-f606fba81ae7
                      description: Test
                      managedByTenantId: 83abe5cd-bcc3-441a-bd86-e6a75360cecc
                      managedByTenantName: Contoso Corp.
                      manageeTenantId: 01c0bcd5-4f47-4e4b-b492-418b7e2a8854
                      manageeTenantName: test_test_aad_SbtFhyGiLHPFm
                      provisioningState: Succeeded
                      registrationDefinitionName: DefinitionName
                    type: Microsoft.ManagedServices/registrationDefinitions
                  registrationDefinitionId: /subscriptions/0afefe50-734e-4610-8c82-a144aff49dea/providers/Microsoft.ManagedServices/registrationDefinitions/26c128c2-fefa-4340-9bb1-8e081c90ada2
                type: Microsoft.ManagedServices/registrationAssignments
              headers: {}
    put:
      description: Creates or updates a registration assignment.
      operationId: RegistrationAssignments_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/ScopeParameter"
        - $ref: "#/parameters/RegistrationAssignmentIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: The parameters required to create new registration assignment.
          in: body
          name: requestBody
          required: true
          schema:
            $ref: "#/definitions/RegistrationAssignment"
      responses:
        "200":
          description: Ok - Returns information about the updated registration assignment.
          schema:
            $ref: "#/definitions/RegistrationAssignment"
        "201":
          description: Created - Returns information about the created registration assignment.
          schema:
            $ref: "#/definitions/RegistrationAssignment"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - RegistrationAssignments
      x-ms-examples:
        Put Registration Assignment:
          parameters:
            api-version: 2019-04-01-preview
            registrationAssignmentId: 26c128c2-fefa-4340-9bb1-6e081c90ada2
            requestBody:
              properties:
                registrationDefinitionId: /subscriptions/0afefe50-734e-4610-8a82-a144ahf49dea/providers/Microsoft.ManagedServices/registrationDefinitions/26c128c2-fefa-4340-9bb1-6e081c90ada2
            scope: subscription/0afefe50-734e-4610-8a82-a144ahf49dea
          responses:
            "200":
              body:
                id: /subscriptions/0afefe50-734e-4610-8c82-a144aff49dea/providers/Microsoft.ManagedServices/registrationAssignments/484a7d5f-9729-4b87-bc9b-26610985a013
                name: 484a7d5f-9729-4b87-bc9b-26610985a013
                properties:
                  provisioningState: Succeeded
                  registrationDefinitionId: /subscriptions/0afefe50-734e-4610-8c82-a144aff49dea/providers/Microsoft.ManagedServices/registrationDefinitions/26c128c2-fefa-4340-9bb1-8e081c90ada2
                type: Microsoft.ManagedServices/registrationAssignments
            "201":
              body:
                id: /subscriptions/0afefe50-734e-4610-8c82-a144aff49dea/providers/Microsoft.ManagedServices/registrationAssignments/484a7d5f-9729-4b87-bc9b-26610985a013
                name: 484a7d5f-9729-4b87-bc9b-26610985a013
                properties:
                  provisioningState: Succeeded
                  registrationDefinitionId: /subscriptions/0afefe50-734e-4610-8c82-a144aff49dea/providers/Microsoft.ManagedServices/registrationDefinitions/26c128c2-fefa-4340-9bb1-8e081c90ada2
                type: Microsoft.ManagedServices/registrationAssignments
      x-ms-long-running-operation: true
  "/{scope}/providers/Microsoft.ManagedServices/registrationDefinitions":
    get:
      description: Gets a list of the registration definitions.
      operationId: RegistrationDefinitions_List
      parameters:
        - $ref: "#/parameters/ScopeParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK - Returns a list of the registration definitions.
          schema:
            $ref: "#/definitions/RegistrationDefinitionList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - RegistrationDefinitions
      x-ms-examples:
        Get Registration Definitions:
          parameters:
            api-version: 2019-04-01-preview
            scope: subscription/0afefe50-734e-4610-8a82-a144ahf49dea
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/0afefe50-734e-4610-8a82-a144ahf49dea/providers/Microsoft.ManagedServices/registrationDefinitions/26c128c2-fefa-4340-9bb1-6e081c90ada2
                    name: 26c128c2-fefa-4340-9bb1-6e081c90ada2
                    plan:
                      name: addesai-plan
                      product: test
                      publisher: marketplace-test
                      version: 1.0.0
                    properties:
                      authorizations:
                        - principalId: f98g86a2-4cc4-4e6d-ad47-b3e80a1bcdfc
                          roleDefinitionId: acdd72a7-3385-48ef-bd42-f606fba81ae7
                      description: Test
                      managedByTenantId: 83ace5cd-bcc3-441a-hd86-e6a75360cecc
                      managedByTenantName: Test Tenant
                      provisioningState: Succeeded
                      registrationDefinitionName: DefinitionName
                    type: Microsoft.ManagedServices/registrationDefinitions
      x-ms-pageable:
        nextLinkName: nextLink
  "/{scope}/providers/Microsoft.ManagedServices/registrationDefinitions/{registrationDefinitionId}":
    delete:
      description: Deletes the registration definition.
      operationId: RegistrationDefinitions_Delete
      parameters:
        - $ref: "#/parameters/registrationDefinitionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/ScopeParameter"
      responses:
        "200":
          description: OK - The registration definition is deleted.
        "204":
          description: No Content- The registration definition does not exist.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - RegistrationDefinitions
      x-ms-examples:
        Delete Registration Definition:
          parameters:
            api-version: 2019-04-01-preview
            registrationDefinitionId: 26c128c2-fefa-4340-9bb1-6e081c90ada2
            scope: subscription/0afefe50-734e-4610-8a82-a144ahf49dea
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets the registration definition details.
      operationId: RegistrationDefinitions_Get
      parameters:
        - $ref: "#/parameters/ScopeParameter"
        - $ref: "#/parameters/registrationDefinitionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK - Returns the complete registration definition with plan details.
          schema:
            $ref: "#/definitions/RegistrationDefinition"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - RegistrationDefinitions
      x-ms-examples:
        Get Registration Definition:
          parameters:
            api-version: 2019-04-01-preview
            registrationDefinitionId: 26c128c2-fefa-4340-9bb1-6e081c90ada2
            scope: subscription/0afefe50-734e-4610-8a82-a144ahf49dea
          responses:
            "200":
              body:
                id: /subscriptions/0afefe50-734e-4610-8a82-a144ahf49dea/providers/Microsoft.ManagedServices/registrationDefinitions/26c128c2-fefa-4340-9bb1-6e081c90ada2
                name: 26c128c2-fefa-4340-9bb1-6e081c90ada2
                plan:
                  name: addesai-plan
                  product: test
                  publisher: marketplace-test
                  version: 1.0.0
                properties:
                  authorizations:
                    - principalId: f98g86a2-4cc4-4e6d-ad47-b3e80a1bcdfc
                      roleDefinitionId: acdd72a7-3385-48ef-bd42-f606fba81ae7
                  description: Test
                  managedByTenantId: 83ace5cd-bcc3-441a-hd86-e6a75360cecc
                  managedByTenantName: Test Tenant
                  provisioningState: Succeeded
                  registrationDefinitionName: DefinitionName
                type: Microsoft.ManagedServices/registrationDefinitions
    put:
      description: Creates or updates a registration definition.
      operationId: RegistrationDefinitions_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/registrationDefinitionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/ScopeParameter"
        - description: The parameters required to create new registration definition.
          in: body
          name: requestBody
          required: true
          schema:
            $ref: "#/definitions/RegistrationDefinition"
      responses:
        "200":
          description: Ok - Returns information about the updated registration definition.
          schema:
            $ref: "#/definitions/RegistrationDefinition"
        "201":
          description: Created - Returns information about the created registration definition.
          schema:
            $ref: "#/definitions/RegistrationDefinition"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - RegistrationDefinitions
      x-ms-examples:
        Put Registration Definition:
          parameters:
            api-version: 2019-04-01-preview
            registrationDefinitionId: 26c128c2-fefa-4340-9bb1-6e081c90ada2
            requestBody:
              plan:
                name: addesai-plan
                product: test
                publisher: marketplace-test
                version: 1.0.0
              properties:
                authorizations:
                  - principalId: f98d86a2-4cc4-4e9d-ad47-b3e80a1bcdfc
                    roleDefinitionId: acdd72a7-3385-48ef-bd42-f606fba81ae7
                description: Tes1t
                managedByTenantId: 83abe5cd-bcc3-441a-bd86-e6a75360cecc
                registrationDefinitionName: DefinitionName
            scope: subscription/0afefe50-734e-4610-8a82-a144ahf49dea
          responses:
            "200":
              body:
                id: /subscriptions/0afefe50-734e-4610-8a82-a144ahf49dea/providers/Microsoft.ManagedServices/registrationDefinitions/26c128c2-fefa-4340-9bb1-6e081c90ada2
                name: 26c128c2-fefa-4340-9bb1-6e081c90ada2
                plan:
                  name: addesai-plan
                  product: test
                  publisher: marketplace-test
                  version: 1.0.0
                properties:
                  authorizations:
                    - principalId: f98g86a2-4cc4-4e6d-ad47-b3e80a1bcdfc
                      roleDefinitionId: acdd72a7-3385-48ef-bd42-f606fba81ae7
                  description: Test
                  managedByTenantId: 83ace5cd-bcc3-441a-hd86-e6a75360cecc
                  managedByTenantName: Test Tenant
                  provisioningState: Succeeded
                  registrationDefinitionName: DefinitionName
                type: Microsoft.ManagedServices/registrationDefinitions
            "201":
              body:
                id: /subscriptions/0afefe50-734e-4610-8a82-a144ahf49dea/providers/Microsoft.ManagedServices/registrationDefinitions/26c128c2-fefa-4340-9bb1-6e081c90ada2
                name: 26c128c2-fefa-4340-9bb1-6e081c90ada2
                plan:
                  name: addesai-plan
                  product: test
                  publisher: marketplace-test
                  version: 1.0.0
                properties:
                  authorizations:
                    - principalId: f98g86a2-4cc4-4e6d-ad47-b3e80a1bcdfc
                      roleDefinitionId: acdd72a7-3385-48ef-bd42-f606fba81ae7
                  description: Test
                  managedByTenantId: 83ace5cd-bcc3-441a-hd86-e6a75360cecc
                  managedByTenantName: Test Tenant
                  provisioningState: Succeeded
                  registrationDefinitionName: DefinitionName
                type: Microsoft.ManagedServices/registrationDefinitions
      x-ms-long-running-operation: true
definitions:
  Authorization:
    description: Authorization tuple containing principal Id (of user/service principal/security group) and role definition id.
    properties:
      principalId:
        description: Principal Id of the security group/service principal/user that would be assigned permissions to the projected subscription
        type: string
      roleDefinitionId:
        description: The role definition identifier. This role will define all the permissions that the security group/service principal/user must have on the projected subscription. This role cannot be an owner role.
        type: string
    required:
      - principalId
      - roleDefinitionId
    type: object
  ErrorResponse:
    description: Error response.
    properties:
      error:
        description: Error response indicates Azure Resource Manager is not able to process the incoming request. The reason is provided in the error message.
        properties:
          code:
            description: Error code.
            type: string
          message:
            description: Error message indicating why the operation failed.
            type: string
        readOnly: true
        required:
          - code
          - message
        type: object
  Operation:
    description: Object that describes a single Microsoft.ManagedServices operation.
    properties:
      display:
        description: The object that represents the operation.
        properties:
          description:
            description: Description of the operation.
            type: string
          operation:
            description: "Operation type: Read, write, delete, etc."
            type: string
          provider:
            description: "Service provider: Microsoft.ManagedServices"
            type: string
          resource:
            description: "Resource on which the operation is performed: Registration definition, registration assignment etc."
            type: string
        readOnly: true
      name:
        description: "Operation name: {provider}/{resource}/{operation}"
        readOnly: true
        type: string
    type: object
  OperationList:
    description: List of the operations.
    properties:
      value:
        description: List of Microsoft.ManagedServices operations.
        items:
          $ref: "#/definitions/Operation"
        readOnly: true
        type: array
    type: object
  Plan:
    description: Plan details for the managed services.
    properties:
      name:
        description: The plan name.
        type: string
      product:
        description: The product code.
        type: string
      publisher:
        description: The publisher ID.
        type: string
      version:
        description: The plan's version.
        type: string
    required:
      - name
      - publisher
      - product
      - version
    type: object
  RegistrationAssignment:
    description: Registration assignment.
    properties:
      id:
        description: The fully qualified path of the registration assignment.
        readOnly: true
        type: string
      name:
        description: Name of the registration assignment.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/RegistrationAssignmentProperties"
        description: Properties of a registration assignment.
      type:
        description: Type of the resource.
        readOnly: true
        type: string
    type: object
    x-ms-azure-resource: true
  RegistrationAssignmentList:
    description: List of registration assignments.
    properties:
      nextLink:
        description: Link to next page of registration assignments.
        readOnly: true
        type: string
      value:
        description: List of registration assignments.
        items:
          $ref: "#/definitions/RegistrationAssignment"
        readOnly: true
        type: array
  RegistrationAssignmentProperties:
    description: Properties of a registration assignment.
    properties:
      provisioningState:
        description: Current state of the registration assignment.
        enum:
          - NotSpecified
          - Accepted
          - Running
          - Ready
          - Creating
          - Created
          - Deleting
          - Deleted
          - Canceled
          - Failed
          - Succeeded
          - Updating
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProvisioningState
      registrationDefinition:
        description: Registration definition inside registration assignment.
        properties:
          id:
            description: Fully qualified path of the registration definition.
            readOnly: true
            type: string
          name:
            description: Name of the registration definition.
            readOnly: true
            type: string
          plan:
            $ref: "#/definitions/Plan"
            description: Plan details for the managed services.
          properties:
            description: Properties of registration definition inside registration assignment.
            properties:
              authorizations:
                description: Authorization tuple containing principal id of the user/security group or service principal and id of the build-in role.
                items:
                  $ref: "#/definitions/Authorization"
                type: array
              description:
                description: Description of the registration definition.
                type: string
              managedByTenantId:
                description: Id of the managedBy tenant.
                type: string
              managedByTenantName:
                description: Name of the managedBy tenant.
                type: string
              manageeTenantId:
                description: Id of the home tenant.
                type: string
              manageeTenantName:
                description: Name of the home tenant.
                type: string
              provisioningState:
                description: Current state of the registration definition.
                enum:
                  - NotSpecified
                  - Accepted
                  - Running
                  - Ready
                  - Creating
                  - Created
                  - Deleting
                  - Deleted
                  - Canceled
                  - Failed
                  - Succeeded
                  - Updating
                type: string
                x-ms-enum:
                  modelAsString: true
                  name: ProvisioningState
              registrationDefinitionName:
                description: Name of the registration definition.
                type: string
          type:
            description: Type of the resource (Microsoft.ManagedServices/registrationDefinitions).
            readOnly: true
            type: string
        readOnly: true
        type: object
      registrationDefinitionId:
        description: Fully qualified path of the registration definition.
        type: string
    required:
      - registrationDefinitionId
    type: object
  RegistrationDefinition:
    description: Registration definition.
    properties:
      id:
        description: Fully qualified path of the registration definition.
        readOnly: true
        type: string
      name:
        description: Name of the registration definition.
        readOnly: true
        type: string
      plan:
        $ref: "#/definitions/Plan"
        description: Plan details for the managed services.
      properties:
        $ref: "#/definitions/RegistrationDefinitionProperties"
        description: Properties of a registration definition.
      type:
        description: Type of the resource.
        readOnly: true
        type: string
    type: object
    x-ms-azure-resource: true
  RegistrationDefinitionList:
    description: List of registration definitions.
    properties:
      nextLink:
        description: Link to next page of registration definitions.
        readOnly: true
        type: string
      value:
        description: List of registration definitions.
        items:
          $ref: "#/definitions/RegistrationDefinition"
        readOnly: true
        type: array
  RegistrationDefinitionProperties:
    description: Properties of a registration definition.
    properties:
      authorizations:
        description: Authorization tuple containing principal id of the user/security group or service principal and id of the build-in role.
        items:
          $ref: "#/definitions/Authorization"
        type: array
      description:
        description: Description of the registration definition.
        type: string
      managedByTenantId:
        description: Id of the managedBy tenant.
        type: string
      managedByTenantName:
        description: Name of the managedBy tenant.
        readOnly: true
        type: string
      provisioningState:
        description: Current state of the registration definition.
        enum:
          - NotSpecified
          - Accepted
          - Running
          - Ready
          - Creating
          - Created
          - Deleting
          - Deleted
          - Canceled
          - Failed
          - Succeeded
          - Updating
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProvisioningState
      registrationDefinitionName:
        description: Name of the registration definition.
        type: string
    required:
      - managedByTenantId
      - authorizations
    type: object
