swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Deployment Admin Client.
  title: DeploymentAdminClient
  version: 2019-01-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/deployment/Microsoft.Deployment.Admin/preview/2019-01-01/FileContainer.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-FileContainer
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Authorization uses an Azure Active Directory OAuth2 flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  FileContainerIdParameter:
    description: The file container identifier.
    in: path
    name: fileContainerId
    required: true
    type: string
    x-ms-parameter-location: method
  FileContainerParameters:
    description: The parameters required to create a new file container.
    in: body
    name: fileContainerParameters
    required: true
    schema:
      $ref: "#/definitions/FileContainerParameters"
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/fileContainers":
    get:
      description: Returns an array of file containers.
      operationId: FileContainers_List
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - default: 2019-01-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/FileContainersList"
      tags:
        - FileContainers
      x-ms-examples:
        Return file containers list.:
          parameters:
            api-version: 2019-01-01
            location: global
            subscriptionId: be8b2e19-7f92-4644-b808-a18283aebb01
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/be8b2e19-7f92-4644-b808-a18283aebb01/providers/Microsoft.Deployment.Admin/locations/global/fileContainers/Microsoft.NullProvider.1.1
                    location: global
                    name: global/Microsoft.NullProvider.1.1
                    properties:
                      postCopyAction: Unzip
                      provisioningState: Succeeded
                      uri: https://deploymentrp.blob.redmond.ext-n22r1708.masd.stbtest.microsoft.com/msdpfilecontainer-cb72641657134ed79ffeb632a58a671e/
                    type: Microsoft.Deployment.Admin/locations/fileContainers
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/fileContainers/{fileContainerId}":
    delete:
      description: Delete an existing file container.
      operationId: FileContainers_Delete
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - $ref: "#/parameters/FileContainerIdParameter"
        - default: 2019-01-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
        "404":
          description: Not found
      summary: Deletes specified file container.
      tags:
        - FileContainers
      x-ms-examples:
        Deletes specified file container.:
          parameters:
            api-version: 2019-01-01
            fileContainerId: Microsoft.NullProvider.1.1
            location: global
            subscriptionId: be8b2e19-7f92-4644-b808-a18283aebb01
          responses:
            "200": {}
            "404": {}
    get:
      description: Retrieves the specific file container details.
      operationId: FileContainers_Get
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - $ref: "#/parameters/FileContainerIdParameter"
        - default: 2019-01-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/FileContainer"
        "404":
          description: Not Found
      tags:
        - FileContainers
      x-ms-examples:
        Return the file container details.:
          parameters:
            api-version: 2019-01-01
            fileContainerId: Microsoft.NullProvider.1.1
            location: global
            subscriptionId: be8b2e19-7f92-4644-b808-a18283aebb01
          responses:
            "200":
              body:
                id: /subscriptions/be8b2e19-7f92-4644-b808-a18283aebb01/providers/Microsoft.Deployment.Admin/locations/global/fileContainers/Microsoft.NullProvider.1.1
                location: global
                name: global/Microsoft.NullProvider.1.1
                properties:
                  postCopyAction: Unzip
                  provisioningState: Succeeded
                  uri: https://deploymentrp.blob.redmond.ext-n22r1708.masd.stbtest.microsoft.com/msdpfilecontainer-cb72641657134ed79ffeb632a58a671e/
                type: Microsoft.Deployment.Admin/locations/fileContainers
            "404": {}
    put:
      description: Creates a new file container.
      operationId: FileContainers_Create
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - $ref: "#/parameters/FileContainerParameters"
        - default: 2019-01-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
        - $ref: "#/parameters/FileContainerIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/FileContainer"
        "202":
          description: Accepted
      tags:
        - FileContainers
      x-ms-examples:
        Creates a new file container.:
          parameters:
            api-version: 2019-01-01
            fileContainerId: Microsoft.NullProvider.1.1
            fileContainerParameters:
              properties:
                postCopyAction: Unzip
                sourceUri: https://deploymentproviderbvts.blob.redmond.ext-n22r1708.masd.stbtest.microsoft.com/temp/Microsoft.NullProvider.1.1.zip
            location: global
            subscriptionId: be8b2e19-7f92-4644-b808-a18283aebb01
          responses:
            "200":
              body:
                id: /subscriptions/be8b2e19-7f92-4644-b808-a18283aebb01/providers/Microsoft.Deployment.Admin/locations/global/fileContainers/Microsoft.NullProvider.1.1
                location: global
                name: global/Microsoft.NullProvider.1.1
                properties:
                  postCopyAction: Unzip
                  provisioningState: Creating
                type: Microsoft.Deployment.Admin/locations/fileContainers
            "202": {}
      x-ms-long-running-operation: true
definitions:
  ErrorInfo:
    description: Extended Error Information.
    properties:
      code:
        description: The error code.
        type: string
      details:
        description: The detailed error messages.
        items:
          $ref: "#/definitions/ErrorInfo"
        type: array
      message:
        description: The error message.
        type: string
    type: object
  FileContainer:
    allOf:
      - description: Object model of azure resource manager base.
        properties:
          id:
            description: ID of the resource.
            readOnly: true
            type: string
          location:
            description: Location of the resource.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          type:
            description: Type of Resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
    description: File container entity.
    properties:
      properties:
        $ref: "#/definitions/FileContainerAdminProperties"
        description: File Container properties
        x-ms-client-flatten: true
    type: object
  FileContainerAdminProperties:
    description: File Container Properties.
    properties:
      error:
        $ref: "#/definitions/ErrorInfo"
        description: The error response message.
      fileContainerId:
        $ref: "#/definitions/FileContainerId"
        description: File container resource identifier containing product manifest.
      postCopyAction:
        $ref: "#/definitions/PostCopyAction"
        description: Specifies the file post copy action.
      provisioningState:
        description: Provisioning state of the resource.
        type: string
      sourceUri:
        $ref: "#/definitions/SourceUri"
        description: The remote file location. This is write-only property, DRP never returns it back to a user.
      uri:
        description: The file or container Uri. This is read-only property; a user cannot set it.
        type: string
    type: object
  FileContainerId:
    description: File container resource identifier containing product manifest.
    type: string
  FileContainerParameters:
    description: Parameters for creating a new file container.
    properties:
      postCopyAction:
        $ref: "#/definitions/PostCopyAction"
        description: Specifies the file post copy action.
      sourceUri:
        $ref: "#/definitions/SourceUri"
        description: Specifies The remote file location.
    type: object
  FileContainersList:
    description: List of file containers.
    properties:
      nextLink:
        description: Continuation token.
        type: string
      value:
        description: List of file containers.
        items:
          $ref: "#/definitions/FileContainer"
        type: array
  PostCopyAction:
    description: Specifies the file post copy action.
    enum:
      - None
      - Unzip
    type: string
    x-ms-enum:
      modelAsString: true
      name: PostCopyAction
  SourceUri:
    description: Specifies The remote file location.
    type: string
