{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "adminmanagement.local.azurestack.external",
  "info": {
    "description": "Storage pool operation endpoints and objects.",
    "title": "FabricAdminClient",
    "version": "2016-05-01",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/StoragePool.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "azure.com",
    "x-serviceName": "azsadmin-StoragePool",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "parameters": {
    "StoragePoolParameter": {
      "description": "Storage pool name.",
      "in": "path",
      "name": "storagePool",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/storageSubSystems/{storageSubSystem}/storagePools": {
      "get": {
        "description": "Returns a list of all storage pools for a location.",
        "operationId": "StoragePools_List",
        "parameters": [
          {
            "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Location of the resource.",
            "in": "path",
            "name": "location",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Name of the storage system.",
            "in": "path",
            "name": "storageSubSystem",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "default": "2016-05-01",
            "description": "Client API Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "OData filter parameter.",
            "in": "query",
            "name": "$filter",
            "type": "string",
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StoragePoolList"
            }
          },
          "404": {
            "description": "NOT FOUND"
          }
        },
        "tags": [
          "StoragePools"
        ],
        "x-ms-examples": {
          "Returns a list of all storage pools for a location.": {
            "parameters": {
              "api-version": "2016-05-01",
              "location": "local",
              "resourceGroupName": "System.local",
              "storageSubSystem": "S-Cluster.azurestack.local",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/storageSubSystems/S-Cluster.azurestack.local/storagePools/SU1_Pool",
                      "location": "local",
                      "name": "SU1_Pool",
                      "properties": {
                        "sizeGB": 5646
                      },
                      "tags": {},
                      "type": "Microsoft.Fabric.Admin/fabricLocations/storageSubSystems/storagePools"
                    }
                  ]
                }
              },
              "404": {}
            }
          }
        },
        "x-ms-odata": "#/definitions/StoragePool",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/storageSubSystems/{storageSubSystem}/storagePools/{storagePool}": {
      "get": {
        "description": "Return the requested a storage pool.",
        "operationId": "StoragePools_Get",
        "parameters": [
          {
            "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Location of the resource.",
            "in": "path",
            "name": "location",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Name of the storage system.",
            "in": "path",
            "name": "storageSubSystem",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/parameters/StoragePoolParameter"
          },
          {
            "default": "2016-05-01",
            "description": "Client API Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StoragePool"
            }
          },
          "404": {
            "description": "NOT FOUND"
          }
        },
        "tags": [
          "StoragePools"
        ],
        "x-ms-examples": {
          "Return the requested a storage pool.": {
            "parameters": {
              "api-version": "2016-05-01",
              "location": "local",
              "resourceGroupName": "System.local",
              "storagePool": "SU1_Pool",
              "storageSubSystem": "S-Cluster.azurestack.local",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/storageSubSystems/S-Cluster.azurestack.local/storagePools/SU1_Pool",
                  "location": "local",
                  "name": "SU1_Pool",
                  "properties": {
                    "sizeGB": 5646
                  },
                  "tags": {},
                  "type": "Microsoft.Fabric.Admin/fabricLocations/storageSubSystems/storagePools"
                }
              },
              "404": {}
            }
          }
        }
      }
    }
  },
  "definitions": {
    "StoragePool": {
      "allOf": [
        {
          "description": "Base resource object.",
          "properties": {
            "id": {
              "description": "URI of the resource.",
              "readOnly": true,
              "type": "string"
            },
            "location": {
              "description": "The region where the resource is located.",
              "type": "string"
            },
            "name": {
              "description": "Name of the resource.",
              "readOnly": true,
              "type": "string"
            },
            "tags": {
              "additionalProperties": {
                "type": "string"
              },
              "description": "List of key-value pairs.",
              "type": "object"
            },
            "type": {
              "description": "Type of resource.",
              "readOnly": true,
              "type": "string"
            }
          },
          "type": "object",
          "x-ms-azure-resource": true
        }
      ],
      "description": "Representation of a storage pool resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/StoragePoolModel",
          "description": "All properties of a storage pool.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "StoragePoolList": {
      "description": "Pageable list of storage pools.",
      "properties": {
        "nextLink": {
          "description": "URI to the next page.",
          "type": "string"
        },
        "value": {
          "description": "List of storage pools.",
          "items": {
            "$ref": "#/definitions/StoragePool"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "StoragePoolModel": {
      "description": "All properties of a storage pool.",
      "properties": {
        "sizeGB": {
          "description": "Amount of space in the storage pool in GB.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    }
  }
}