swagger: "2.0"
schemes:
  - https
host: api.cognitive.microsoft.com
basePath: /bingcustomsearch/v7.0
info:
  contact:
    x-twitter: microsoft
  description: The Bing Custom Image Search API lets you send an image search query to Bing and get back image search results customized to meet your custom search definition.
  title: Custom Image Search Client
  version: "1.0"
  x-apisguru-categories:
    - developer_tools
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_microsoft_profile_image.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/CustomImageSearch/stable/v1.0/CustomImageSearch.json
      version: "2.0"
  x-providerName: microsoft.com
  x-serviceName: cognitiveservices-CustomImageSearch
  x-tags:
    - Microsoft
produces:
  - application/json
securityDefinitions:
  apiKeyHeader:
    in: header
    name: Ocp-Apim-Subscription-Key
    type: apiKey
security:
  - apiKeyHeader: []
parameters:
  x-bingapis-sdk:
    description: Activate swagger compliance
    enum:
      - "true"
    in: header
    name: X-BingApis-SDK
    required: true
    type: string
    x-ms-enum:
      modelAsString: true
      name: XBingApisSDK
    x-ms-parameter-location: method
paths:
  /images/search:
    get:
      operationId: CustomInstance_ImageSearch
      parameters:
        - $ref: "#/parameters/x-bingapis-sdk"
        - description: The default media type is application/json. To specify that the response use [JSON-LD](http://json-ld.org/), set the Accept header to application/ld+json.
          in: header
          name: Accept
          required: false
          type: string
        - description: A comma-delimited list of one or more languages to use for user interface strings. The list is in decreasing order of preference. For additional information, including expected format, see [RFC2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html). This header and the [setLang](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#setlang) query parameter are mutually exclusive; do not specify both. If you set this header, you must also specify the [cc](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#cc) query parameter. To determine the market to return results for, Bing uses the first supported language it finds from the list and combines it with the cc parameter value. If the list does not include a supported language, Bing finds the closest language and market that supports the request or it uses an aggregated or default market for the results. To determine the market that Bing used, see the BingAPIs-Market header. Use this header and the cc query parameter only if you specify multiple languages. Otherwise, use the [mkt](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#mkt) and [setLang](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#setlang) query parameters. A user interface string is a string that's used as a label in a user interface. There are few user interface strings in the JSON response objects. Any links to Bing.com properties in the response objects apply the specified language.
          in: header
          name: Accept-Language
          required: false
          type: string
          x-ms-client-name: AcceptLanguage
        - description: "The user agent originating the request. Bing uses the user agent to provide mobile users with an optimized experience. Although optional, you are encouraged to always specify this header. The user-agent should be the same string that any commonly used browser sends. For information about user agents, see [RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html). The following are examples of user-agent strings. Windows Phone: Mozilla/5.0 (compatible; MSIE 10.0; Windows Phone 8.0; Trident/6.0; IEMobile/10.0; ARM; Touch; NOKIA; Lumia 822). Android: Mozilla / 5.0 (Linux; U; Android 2.3.5; en - us; SCH - I500 Build / GINGERBREAD) AppleWebKit / 533.1 (KHTML; like Gecko) Version / 4.0 Mobile Safari / 533.1. iPhone: Mozilla / 5.0 (iPhone; CPU iPhone OS 6_1 like Mac OS X) AppleWebKit / 536.26 (KHTML; like Gecko) Mobile / 10B142 iPhone4; 1 BingWeb / 3.03.1428.20120423. PC: Mozilla / 5.0 (Windows NT 6.3; WOW64; Trident / 7.0; Touch; rv:11.0) like Gecko. iPad: Mozilla / 5.0 (iPad; CPU OS 7_0 like Mac OS X) AppleWebKit / 537.51.1 (KHTML, like Gecko) Version / 7.0 Mobile / 11A465 Safari / 9537.53"
          in: header
          name: User-Agent
          required: false
          type: string
          x-ms-client-name: UserAgent
        - description: "Bing uses this header to provide users with consistent behavior across Bing API calls. Bing often flights new features and improvements, and it uses the client ID as a key for assigning traffic on different flights. If you do not use the same client ID for a user across multiple requests, then Bing may assign the user to multiple conflicting flights. Being assigned to multiple conflicting flights can lead to an inconsistent user experience. For example, if the second request has a different flight assignment than the first, the experience may be unexpected. Also, Bing can use the client ID to tailor web results to that client ID’s search history, providing a richer experience for the user. Bing also uses this header to help improve result rankings by analyzing the activity generated by a client ID. The relevance improvements help with better quality of results delivered by Bing APIs and in turn enables higher click-through rates for the API consumer. IMPORTANT: Although optional, you should consider this header required. Persisting the client ID across multiple requests for the same end user and device combination enables 1) the API consumer to receive a consistent user experience, and 2) higher click-through rates via better quality of results from the Bing APIs. Each user that uses your application on the device must have a unique, Bing generated client ID. If you do not include this header in the request, Bing generates an ID and returns it in the X-MSEdge-ClientID response header. The only time that you should NOT include this header in a request is the first time the user uses your app on that device. Use the client ID for each Bing API request that your app makes for this user on the device. Persist the client ID. To persist the ID in a browser app, use a persistent HTTP cookie to ensure the ID is used across all sessions. Do not use a session cookie. For other apps such as mobile apps, use the device's persistent storage to persist the ID. The next time the user uses your app on that device, get the client ID that you persisted. Bing responses may or may not include this header. If the response includes this header, capture the client ID and use it for all subsequent Bing requests for the user on that device. If you include the X-MSEdge-ClientID, you must not include cookies in the request."
          in: header
          name: X-MSEdge-ClientID
          required: false
          type: string
          x-ms-client-name: ClientId
        - description: The IPv4 or IPv6 address of the client device. The IP address is used to discover the user's location. Bing uses the location information to determine safe search behavior. Although optional, you are encouraged to always specify this header and the X-Search-Location header. Do not obfuscate the address (for example, by changing the last octet to 0). Obfuscating the address results in the location not being anywhere near the device's actual location, which may result in Bing serving erroneous results.
          in: header
          name: X-MSEdge-ClientIP
          required: false
          type: string
          x-ms-client-name: ClientIp
        - description: "A semicolon-delimited list of key/value pairs that describe the client's geographical location. Bing uses the location information to determine safe search behavior and to return relevant local content. Specify the key/value pair as <key>:<value>. The following are the keys that you use to specify the user's location. lat (required): The latitude of the client's location, in degrees. The latitude must be greater than or equal to -90.0 and less than or equal to +90.0. Negative values indicate southern latitudes and positive values indicate northern latitudes. long (required): The longitude of the client's location, in degrees. The longitude must be greater than or equal to -180.0 and less than or equal to +180.0. Negative values indicate western longitudes and positive values indicate eastern longitudes. re (required): The radius, in meters, which specifies the horizontal accuracy of the coordinates. Pass the value returned by the device's location service. Typical values might be 22m for GPS/Wi-Fi, 380m for cell tower triangulation, and 18,000m for reverse IP lookup. ts (optional): The UTC UNIX timestamp of when the client was at the location. (The UNIX timestamp is the number of seconds since January 1, 1970.) head (optional): The client's relative heading or direction of travel. Specify the direction of travel as degrees from 0 through 360, counting clockwise relative to true north. Specify this key only if the sp key is nonzero. sp (optional): The horizontal velocity (speed), in meters per second, that the client device is traveling. alt (optional): The altitude of the client device, in meters. are (optional): The radius, in meters, that specifies the vertical accuracy of the coordinates. Specify this key only if you specify the alt key. Although many of the keys are optional, the more information that you provide, the more accurate the location results are. Although optional, you are encouraged to always specify the user's geographical location. Providing the location is especially important if the client's IP address does not accurately reflect the user's physical location (for example, if the client uses VPN). For optimal results, you should include this header and the X-MSEdge-ClientIP header, but at a minimum, you should include this header."
          in: header
          name: X-Search-Location
          required: false
          type: string
          x-ms-client-name: Location
        - description: The identifier for the custom search configuration
          in: query
          name: customConfig
          required: true
          type: string
          x-ms-client-name: CustomConfig
        - description: "Filter images by the following aspect ratios. All: Do not filter by aspect.Specifying this value is the same as not specifying the aspect parameter. Square: Return images with standard aspect ratio. Wide: Return images with wide screen aspect ratio. Tall: Return images with tall aspect ratio."
          enum:
            - All
            - Square
            - Wide
            - Tall
          in: query
          name: aspect
          required: false
          type: string
          x-ms-client-name: Aspect
          x-ms-enum:
            modelAsString: true
            name: ImageAspect
        - description: "Filter images by the following color options. ColorOnly: Return color images. Monochrome: Return black and white images. Return images with one of the following dominant colors: Black, Blue, Brown, Gray, Green, Orange, Pink, Purple, Red, Teal, White, Yellow"
          enum:
            - ColorOnly
            - Monochrome
            - Black
            - Blue
            - Brown
            - Gray
            - Green
            - Orange
            - Pink
            - Purple
            - Red
            - Teal
            - White
            - Yellow
          in: query
          name: color
          required: false
          type: string
          x-ms-client-name: Color
          x-ms-enum:
            modelAsString: true
            name: ImageColor
        - description: A 2-character country code of the country where the results come from. For a list of possible values, see [Market Codes](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#market-codes). If you set this parameter, you must also specify the [Accept-Language](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#acceptlanguage) header. Bing uses the first supported language it finds from the languages list, and combine that language with the country code that you specify to determine the market to return results for. If the languages list does not include a supported language, Bing finds the closest language and market that supports the request, or it may use an aggregated or default market for the results instead of a specified one. You should use this query parameter and the Accept-Language query parameter only if you specify multiple languages; otherwise, you should use the mkt and setLang query parameters. This parameter and the [mkt](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#mkt) query parameter are mutually exclusive—do not specify both.
          in: query
          name: cc
          required: false
          type: string
          x-ms-client-name: CountryCode
        - description: The number of images to return in the response. The actual number delivered may be less than requested. The default is 35. The maximum value is 150. You use this parameter along with the offset parameter to page results.For example, if your user interface displays 20 images per page, set count to 20 and offset to 0 to get the first page of results.For each subsequent page, increment offset by 20 (for example, 0, 20, 40). Use this parameter only with the Image Search API.Do not specify this parameter when calling the Insights, Trending Images, or Web Search APIs.
          format: int32
          in: query
          name: count
          required: false
          type: integer
          x-ms-client-name: Count
        - description: "Filter images by the following discovery options. Day: Return images discovered by Bing within the last 24 hours. Week: Return images discovered by Bing within the last 7 days. Month: Return images discovered by Bing within the last 30 days."
          enum:
            - Day
            - Week
            - Month
          in: query
          name: freshness
          required: false
          type: string
          x-ms-client-name: Freshness
          x-ms-enum:
            modelAsString: true
            name: Freshness
        - description: Filter images that have the specified height, in pixels. You may use this filter with the size filter to return small images that have a height of 150 pixels.
          format: int32
          in: query
          name: height
          required: false
          type: integer
          x-ms-client-name: Height
        - description: An ID that uniquely identifies an image. Use this parameter to ensure that the specified image is the first image in the list of images that Bing returns. The [Image](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#image) object's imageId field contains the ID that you set this parameter to.
          in: query
          name: id
          required: false
          type: string
          x-ms-client-name: Id
        - description: "Filter images by the following content types. Face: Return images that show only a person's face. Portrait: Return images that show only a person's head and shoulders."
          enum:
            - Face
            - Portrait
          in: query
          name: imageContent
          required: false
          type: string
          x-ms-client-name: ImageContent
          x-ms-enum:
            modelAsString: true
            name: ImageContent
        - description: "Filter images by the following image types. AnimatedGif: Return only animated GIFs. Clipart: Return only clip art images. Line: Return only line drawings. Photo: Return only photographs(excluding line drawings, animated Gifs, and clip art). Shopping: Return only images that contain items where Bing knows of a merchant that is selling the items. This option is valid in the en - US market only.Transparent: Return only images with a transparent background."
          enum:
            - AnimatedGif
            - Clipart
            - Line
            - Photo
            - Shopping
            - Transparent
          in: query
          name: imageType
          required: false
          type: string
          x-ms-client-name: ImageType
          x-ms-enum:
            modelAsString: true
            name: ImageType
        - description: "Filter images by the following license types. All: Do not filter by license type.Specifying this value is the same as not specifying the license parameter. Any: Return images that are under any license type. The response doesn't include images that do not specify a license or the license is unknown. Public: Return images where the creator has waived their exclusive rights, to the fullest extent allowed by law. Share: Return images that may be shared with others. Changing or editing the image might not be allowed. Also, modifying, sharing, and using the image for commercial purposes might not be allowed. Typically, this option returns the most images. ShareCommercially: Return images that may be shared with others for personal or commercial purposes. Changing or editing the image might not be allowed. Modify: Return images that may be modified, shared, and used. Changing or editing the image might not be allowed. Modifying, sharing, and using the image for commercial purposes might not be allowed. ModifyCommercially: Return images that may be modified, shared, and used for personal or commercial purposes. Typically, this option returns the fewest images. For more information about these license types, see [Filter Images By License Type](http://go.microsoft.com/fwlink/?LinkId=309768)."
          enum:
            - All
            - Any
            - Public
            - Share
            - ShareCommercially
            - Modify
            - ModifyCommercially
          in: query
          name: license
          required: false
          type: string
          x-ms-client-name: License
          x-ms-enum:
            modelAsString: true
            name: ImageLicense
        - description: "The market where the results come from. Typically, mkt is the country where the user is making the request from. However, it could be a different country if the user is not located in a country where Bing delivers results. The market must be in the form <language code>-<country code>. For example, en-US. The string is case insensitive. For a list of possible market values, see [Market Codes](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#market-codes). NOTE: If known, you are encouraged to always specify the market. Specifying the market helps Bing route the request and return an appropriate and optimal response. If you specify a market that is not listed in [Market Codes](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#market-codes), Bing uses a best fit market code based on an internal mapping that is subject to change. This parameter and the [cc](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#cc) query parameter are mutually exclusive—do not specify both."
          in: query
          name: mkt
          required: false
          type: string
          x-ms-client-name: Market
        - description: Filter images that are less than or equal to the specified file size. The maximum file size that you may specify is 520,192 bytes. If you specify a larger value, the API uses 520,192. It is possible that the response may include images that are slightly larger than the specified maximum. You may specify this filter and minFileSize to filter images within a range of file sizes.
          format: int64
          in: query
          name: maxFileSize
          required: false
          type: integer
          x-ms-client-name: MaxFileSize
        - description: Filter images that have a height that is less than or equal to the specified height. Specify the height in pixels. You may specify this filter and minHeight to filter images within a range of heights. This filter and the height filter are mutually exclusive.
          format: int64
          in: query
          name: maxHeight
          required: false
          type: integer
          x-ms-client-name: MaxHeight
        - description: Filter images that have a width that is less than or equal to the specified width. Specify the width in pixels. You may specify this filter and maxWidth to filter images within a range of widths. This filter and the width filter are mutually exclusive.
          format: int64
          in: query
          name: maxWidth
          required: false
          type: integer
          x-ms-client-name: MaxWidth
        - description: Filter images that are greater than or equal to the specified file size. The maximum file size that you may specify is 520,192 bytes. If you specify a larger value, the API uses 520,192. It is possible that the response may include images that are slightly smaller than the specified minimum. You may specify this filter and maxFileSize to filter images within a range of file sizes.
          format: int64
          in: query
          name: minFileSize
          required: false
          type: integer
          x-ms-client-name: MinFileSize
        - description: Filter images that have a height that is greater than or equal to the specified height. Specify the height in pixels. You may specify this filter and maxHeight to filter images within a range of heights. This filter and the height filter are mutually exclusive.
          format: int64
          in: query
          name: minHeight
          required: false
          type: integer
          x-ms-client-name: MinHeight
        - description: Filter images that have a width that is greater than or equal to the specified width. Specify the width in pixels. You may specify this filter and maxWidth to filter images within a range of widths. This filter and the width filter are mutually exclusive.
          format: int64
          in: query
          name: minWidth
          required: false
          type: integer
          x-ms-client-name: MinWidth
        - description: The zero-based offset that indicates the number of images to skip before returning images. The default is 0. The offset should be less than ([totalEstimatedMatches](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#totalestimatedmatches) - count). Use this parameter along with the count parameter to page results. For example, if your user interface displays 20 images per page, set count to 20 and offset to 0 to get the first page of results. For each subsequent page, increment offset by 20 (for example, 0, 20, 40). It is possible for multiple pages to include some overlap in results. To prevent duplicates, see [nextOffset](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#nextoffset). Use this parameter only with the Image API. Do not specify this parameter when calling the Trending Images API or the Web Search API.
          format: int64
          in: query
          name: offset
          required: false
          type: integer
          x-ms-client-name: Offset
        - description: The user's search query term. The term cannot be empty. The term may contain [Bing Advanced Operators](http://msdn.microsoft.com/library/ff795620.aspx). For example, to limit images to a specific domain, use the [site:](http://msdn.microsoft.com/library/ff795613.aspx) operator. To help improve relevance of an insights query (see [insightsToken](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#insightstoken)), you should always include the user's query term. Use this parameter only with the Image Search API.Do not specify this parameter when calling the Trending Images API.
          in: query
          name: q
          required: true
          type: string
          x-ms-client-name: Query
        - description: "Filter images for adult content. The following are the possible filter values. Off: May return images with adult content. If the request is through the Image Search API, the response includes thumbnail images that are clear (non-fuzzy). However, if the request is through the Web Search API, the response includes thumbnail images that are pixelated (fuzzy). Moderate: If the request is through the Image Search API, the response doesn't include images with adult content. If the request is through the Web Search API, the response may include images with adult content (the thumbnail images are pixelated (fuzzy)). Strict: Do not return images with adult content. The default is Moderate. If the request comes from a market that Bing's adult policy requires that safeSearch is set to Strict, Bing ignores the safeSearch value and uses Strict. If you use the site: query operator, there is the chance that the response may contain adult content regardless of what the safeSearch query parameter is set to. Use site: only if you are aware of the content on the site and your scenario supports the possibility of adult content."
          enum:
            - Off
            - Moderate
            - Strict
          in: query
          name: safeSearch
          required: false
          type: string
          x-ms-client-name: SafeSearch
          x-ms-enum:
            modelAsString: true
            name: SafeSearch
        - description: "Filter images by the following sizes. All: Do not filter by size. Specifying this value is the same as not specifying the size parameter. Small: Return images that are less than 200x200 pixels. Medium: Return images that are greater than or equal to 200x200 pixels but less than 500x500 pixels. Large: Return images that are 500x500 pixels or larger. Wallpaper: Return wallpaper images. You may use this parameter along with the height or width parameters. For example, you may use height and size to request small images that are 150 pixels tall."
          enum:
            - All
            - Small
            - Medium
            - Large
            - Wallpaper
          in: query
          name: size
          required: false
          type: string
          x-ms-client-name: Size
          x-ms-enum:
            modelAsString: true
            name: ImageSize
        - description: The language to use for user interface strings. Specify the language using the ISO 639-1 2-letter language code. For example, the language code for English is EN. The default is EN (English). Although optional, you should always specify the language. Typically, you set setLang to the same language specified by mkt unless the user wants the user interface strings displayed in a different language. This parameter and the [Accept-Language](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#acceptlanguage) header are mutually exclusive; do not specify both. A user interface string is a string that's used as a label in a user interface. There are few user interface strings in the JSON response objects. Also, any links to Bing.com properties in the response objects apply the specified language.
          in: query
          name: setLang
          required: false
          type: string
          x-ms-client-name: SetLang
        - description: Filter images that have the specified width, in pixels. You may use this filter with the size filter to return small images that have a width of 150 pixels.
          format: int32
          in: query
          name: width
          required: false
          type: integer
          x-ms-client-name: Width
      responses:
        "200":
          description: Success.
          schema:
            $ref: "#/definitions/Images"
        default:
          description: An error has occurred. Check the response type and/or status code for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: The Custom Image Search API lets you send an image search query to Bing and get image results found in your custom view of the web.
      tags:
        - CustomImageSearch
      x-ms-examples:
        Successful image search:
          parameters:
            Ocp-Apim-Subscription-Key: "{API key}"
            X-BingApis-SDK: "true"
          responses:
            "200":
              body:
                _type: Images
                nextOffset: 43
                pivotSuggestions:
                  - pivot: shakira
                    suggestions:
                      - displayText: Jennifer Lopez
                        searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Jennifer+Lopez&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Jennifer+Lopez%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                        text: Jennifer Lopez
                        thumbnail:
                          thumbnailUrl: https://tse4.mm.bing.net/th?q=Jennifer+Lopez&pid=Api&mkt=en-US&adlt=strict&t=1
                        webSearchUrl: https://www.bing.com/images/search?q=Jennifer+Lopez&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Jennifer+Lopez%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRQBPS
                        webSearchUrlPingSuffix: DevEx,5264.1
                      - displayText: Rihanna
                        searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Rihanna&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Rihanna%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                        text: Rihanna
                        thumbnail:
                          thumbnailUrl: https://tse2.mm.bing.net/th?q=Rihanna&pid=Api&mkt=en-US&adlt=strict&t=1
                        webSearchUrl: https://www.bing.com/images/search?q=Rihanna&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Rihanna%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRQBPS
                        webSearchUrlPingSuffix: DevEx,5266.1
                      - displayText: Beyoncé Knowles
                        searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Beyonc%c3%a9+Knowles&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Beyonc%c3%a9+Knowles%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                        text: Beyoncé Knowles
                        thumbnail:
                          thumbnailUrl: https://tse3.mm.bing.net/th?q=Beyonc%c3%a9+Knowles&pid=Api&mkt=en-US&adlt=strict&t=1
                        webSearchUrl: https://www.bing.com/images/search?q=Beyonc%c3%a9+Knowles&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Beyonc%c3%a9+Knowles%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRQBPS
                        webSearchUrlPingSuffix: DevEx,5268.1
                      - displayText: Usher Raymond IV
                        searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Usher+Raymond+IV&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Usher+Raymond+IV%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                        text: Usher Raymond IV
                        thumbnail:
                          thumbnailUrl: https://tse3.mm.bing.net/th?q=Usher+Raymond+IV&pid=Api&mkt=en-US&adlt=strict&t=1
                        webSearchUrl: https://www.bing.com/images/search?q=Usher+Raymond+IV&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Usher+Raymond+IV%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRQBPS
                        webSearchUrlPingSuffix: DevEx,5270.1
                      - displayText: Christina Aguilera
                        searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Christina+Aguilera&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Christina+Aguilera%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                        text: Christina Aguilera
                        thumbnail:
                          thumbnailUrl: https://tse2.mm.bing.net/th?q=Christina+Aguilera&pid=Api&mkt=en-US&adlt=strict&t=1
                        webSearchUrl: https://www.bing.com/images/search?q=Christina+Aguilera&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Christina+Aguilera%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRQBPS
                        webSearchUrlPingSuffix: DevEx,5272.1
                      - displayText: Adam Levine
                        searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Adam+Levine&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Adam+Levine%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                        text: Adam Levine
                        thumbnail:
                          thumbnailUrl: https://tse1.mm.bing.net/th?q=Adam+Levine&pid=Api&mkt=en-US&adlt=strict&t=1
                        webSearchUrl: https://www.bing.com/images/search?q=Adam+Levine&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Adam+Levine%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRQBPS
                        webSearchUrlPingSuffix: DevEx,5274.1
                      - displayText: Katy Perry
                        searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Katy+Perry&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Katy+Perry%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                        text: Katy Perry
                        thumbnail:
                          thumbnailUrl: https://tse4.mm.bing.net/th?q=Katy+Perry&pid=Api&mkt=en-US&adlt=strict&t=1
                        webSearchUrl: https://www.bing.com/images/search?q=Katy+Perry&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Katy+Perry%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRQBPS
                        webSearchUrlPingSuffix: DevEx,5276.1
                      - displayText: Blake Shelton
                        searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Blake+Shelton&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Blake+Shelton%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                        text: Blake Shelton
                        thumbnail:
                          thumbnailUrl: https://tse1.mm.bing.net/th?q=Blake+Shelton&pid=Api&mkt=en-US&adlt=strict&t=1
                        webSearchUrl: https://www.bing.com/images/search?q=Blake+Shelton&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Blake+Shelton%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRQBPS
                        webSearchUrlPingSuffix: DevEx,5278.1
                      - displayText: Pitbull Rapper
                        searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Pitbull+Rapper&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Pitbull+Rapper%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                        text: Pitbull Rapper
                        thumbnail:
                          thumbnailUrl: https://tse1.mm.bing.net/th?q=Pitbull+Rapper&pid=Api&mkt=en-US&adlt=strict&t=1
                        webSearchUrl: https://www.bing.com/images/search?q=Pitbull+Rapper&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Pitbull+Rapper%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRQBPS
                        webSearchUrlPingSuffix: DevEx,5280.1
                      - displayText: Lady Gaga
                        searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Lady+Gaga&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Lady+Gaga%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                        text: Lady Gaga
                        thumbnail:
                          thumbnailUrl: https://tse3.mm.bing.net/th?q=Lady+Gaga&pid=Api&mkt=en-US&adlt=strict&t=1
                        webSearchUrl: https://www.bing.com/images/search?q=Lady+Gaga&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Lady+Gaga%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRQBPS
                        webSearchUrlPingSuffix: DevEx,5282.1
                      - displayText: Selena Gomez
                        searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Selena+Gomez&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Selena+Gomez%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                        text: Selena Gomez
                        thumbnail:
                          thumbnailUrl: https://tse3.mm.bing.net/th?q=Selena+Gomez&pid=Api&mkt=en-US&adlt=strict&t=1
                        webSearchUrl: https://www.bing.com/images/search?q=Selena+Gomez&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Selena+Gomez%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRQBPS
                        webSearchUrlPingSuffix: DevEx,5284.1
                      - displayText: Britney Spears
                        searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Britney+Spears&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Britney+Spears%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                        text: Britney Spears
                        thumbnail:
                          thumbnailUrl: https://tse4.mm.bing.net/th?q=Britney+Spears&pid=Api&mkt=en-US&adlt=strict&t=1
                        webSearchUrl: https://www.bing.com/images/search?q=Britney+Spears&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Britney+Spears%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRQBPS
                        webSearchUrlPingSuffix: DevEx,5286.1
                      - displayText: Miley Cyrus
                        searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Miley+Cyrus&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Miley+Cyrus%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                        text: Miley Cyrus
                        thumbnail:
                          thumbnailUrl: https://tse1.mm.bing.net/th?q=Miley+Cyrus&pid=Api&mkt=en-US&adlt=strict&t=1
                        webSearchUrl: https://www.bing.com/images/search?q=Miley+Cyrus&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Miley+Cyrus%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRQBPS
                        webSearchUrlPingSuffix: DevEx,5288.1
                      - displayText: Taylor Swift
                        searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Taylor+Swift&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Taylor+Swift%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                        text: Taylor Swift
                        thumbnail:
                          thumbnailUrl: https://tse3.mm.bing.net/th?q=Taylor+Swift&pid=Api&mkt=en-US&adlt=strict&t=1
                        webSearchUrl: https://www.bing.com/images/search?q=Taylor+Swift&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Taylor+Swift%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRQBPS
                        webSearchUrlPingSuffix: DevEx,5290.1
                      - displayText: Nicki Minaj
                        searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Nicki+Minaj&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Nicki+Minaj%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                        text: Nicki Minaj
                        thumbnail:
                          thumbnailUrl: https://tse4.mm.bing.net/th?q=Nicki+Minaj&pid=Api&mkt=en-US&adlt=strict&t=1
                        webSearchUrl: https://www.bing.com/images/search?q=Nicki+Minaj&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Nicki+Minaj%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRQBPS
                        webSearchUrlPingSuffix: DevEx,5292.1
                      - displayText: Justin Bieber
                        searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Justin+Bieber&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Justin+Bieber%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                        text: Justin Bieber
                        thumbnail:
                          thumbnailUrl: https://tse1.mm.bing.net/th?q=Justin+Bieber&pid=Api&mkt=en-US&adlt=strict&t=1
                        webSearchUrl: https://www.bing.com/images/search?q=Justin+Bieber&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Justin+Bieber%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRQBPS
                        webSearchUrlPingSuffix: DevEx,5294.1
                      - displayText: Madonna Louise Veronica Ciccone
                        searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Madonna+Louise+Veronica+Ciccone&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Madonna+Louise+Veronica+Ciccone%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                        text: Madonna Louise Veronica Ciccone
                        thumbnail:
                          thumbnailUrl: https://tse1.mm.bing.net/th?q=Madonna+Louise+Veronica+Ciccone&pid=Api&mkt=en-US&adlt=strict&t=1
                        webSearchUrl: https://www.bing.com/images/search?q=Madonna+Louise+Veronica+Ciccone&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Madonna+Louise+Veronica+Ciccone%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRQBPS
                        webSearchUrlPingSuffix: DevEx,5296.1
                      - displayText: Mariah Carey
                        searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Mariah+Carey&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Mariah+Carey%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                        text: Mariah Carey
                        thumbnail:
                          thumbnailUrl: https://tse1.mm.bing.net/th?q=Mariah+Carey&pid=Api&mkt=en-US&adlt=strict&t=1
                        webSearchUrl: https://www.bing.com/images/search?q=Mariah+Carey&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Mariah+Carey%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRQBPS
                        webSearchUrlPingSuffix: DevEx,5298.1
                      - displayText: Demi Lovato
                        searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Demi+Lovato&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Demi+Lovato%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                        text: Demi Lovato
                        thumbnail:
                          thumbnailUrl: https://tse1.mm.bing.net/th?q=Demi+Lovato&pid=Api&mkt=en-US&adlt=strict&t=1
                        webSearchUrl: https://www.bing.com/images/search?q=Demi+Lovato&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Demi+Lovato%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRQBPS
                        webSearchUrlPingSuffix: DevEx,5300.1
                      - displayText: Iggy Azalea
                        searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Iggy+Azalea&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Iggy+Azalea%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                        text: Iggy Azalea
                        thumbnail:
                          thumbnailUrl: https://tse3.mm.bing.net/th?q=Iggy+Azalea&pid=Api&mkt=en-US&adlt=strict&t=1
                        webSearchUrl: https://www.bing.com/images/search?q=Iggy+Azalea&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Iggy+Azalea%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRQBPS
                        webSearchUrlPingSuffix: DevEx,5302.1
                queryExpansions:
                  - displayText: Pregnant
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Pregnant&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Pregnant%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira Pregnant
                    thumbnail:
                      thumbnailUrl: https://tse3.mm.bing.net/th?q=Shakira+Pregnant&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Pregnant&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Pregnant%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5179.1
                  - displayText: Baby
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Baby&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Baby%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira Baby
                    thumbnail:
                      thumbnailUrl: https://tse4.mm.bing.net/th?q=Shakira+Baby&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Baby&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Baby%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5181.1
                  - displayText: Husband
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Husband&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Husband%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira Husband
                    thumbnail:
                      thumbnailUrl: https://tse3.mm.bing.net/th?q=Shakira+Husband&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Husband&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Husband%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5183.1
                  - displayText: YouTube
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=YouTube+Shakira&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22YouTube%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: YouTube Shakira
                    thumbnail:
                      thumbnailUrl: https://tse1.mm.bing.net/th?q=YouTube+Shakira&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=YouTube+Shakira&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22YouTube%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5185.1
                  - displayText: Colombia
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Colombia&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Colombia%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira Colombia
                    thumbnail:
                      thumbnailUrl: https://tse4.mm.bing.net/th?q=Shakira+Colombia&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Colombia&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Colombia%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5187.1
                  - displayText: Pique
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Pique&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Pique%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira Pique
                    thumbnail:
                      thumbnailUrl: https://tse4.mm.bing.net/th?q=Shakira+Pique&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Pique&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Pique%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5189.1
                  - displayText: Voice
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Voice&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Voice%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira Voice
                    thumbnail:
                      thumbnailUrl: https://tse4.mm.bing.net/th?q=Shakira+Voice&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Voice&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Voice%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5191.1
                  - displayText: FIFA
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+FIFA&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22FIFA%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira FIFA
                    thumbnail:
                      thumbnailUrl: https://tse4.mm.bing.net/th?q=Shakira+FIFA&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+FIFA&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22FIFA%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5193.1
                  - displayText: World Cup
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+World+Cup&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22World+Cup%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira World Cup
                    thumbnail:
                      thumbnailUrl: https://tse2.mm.bing.net/th?q=Shakira+World+Cup&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+World+Cup&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22World+Cup%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5195.1
                  - displayText: Waka Waka
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Waka+Waka&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Waka+Waka%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira Waka Waka
                    thumbnail:
                      thumbnailUrl: https://tse4.mm.bing.net/th?q=Shakira+Waka+Waka&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Waka+Waka&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Waka+Waka%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5197.1
                  - displayText: Dress
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Dress&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Dress%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira Dress
                    thumbnail:
                      thumbnailUrl: https://tse3.mm.bing.net/th?q=Shakira+Dress&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Dress&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Dress%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5199.1
                  - displayText: Hair
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Hair&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Hair%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira Hair
                    thumbnail:
                      thumbnailUrl: https://tse2.mm.bing.net/th?q=Shakira+Hair&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Hair&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Hair%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5201.1
                  - displayText: Hairstyles
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Hairstyles&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Hairstyles%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira Hairstyles
                    thumbnail:
                      thumbnailUrl: https://tse4.mm.bing.net/th?q=Shakira+Hairstyles&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Hairstyles&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Hairstyles%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5203.1
                  - displayText: Oral Fixation
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Oral+Fixation&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Oral+Fixation%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira Oral Fixation
                    thumbnail:
                      thumbnailUrl: https://tse4.mm.bing.net/th?q=Shakira+Oral+Fixation&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Oral+Fixation&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Oral+Fixation%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5205.1
                  - displayText: Album Cover
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Album+Cover&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Album+Cover%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira Album Cover
                    thumbnail:
                      thumbnailUrl: https://tse2.mm.bing.net/th?q=Shakira+Album+Cover&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Album+Cover&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Album+Cover%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5207.1
                  - displayText: Zootopia
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Zootopia&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Zootopia%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira Zootopia
                    thumbnail:
                      thumbnailUrl: https://tse3.mm.bing.net/th?q=Shakira+Zootopia&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Zootopia&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Zootopia%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5209.1
                  - displayText: Beyonce
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Beyonce+Shakira&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Beyonce%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Beyonce Shakira
                    thumbnail:
                      thumbnailUrl: https://tse1.mm.bing.net/th?q=Beyonce+Shakira&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Beyonce+Shakira&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Beyonce%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5211.1
                  - displayText: Loca
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Loca&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Loca%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira Loca
                    thumbnail:
                      thumbnailUrl: https://tse3.mm.bing.net/th?q=Shakira+Loca&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Loca&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Loca%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5213.1
                  - displayText: Suerte
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Suerte&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Suerte%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira Suerte
                    thumbnail:
                      thumbnailUrl: https://tse4.mm.bing.net/th?q=Shakira+Suerte&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Suerte&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Suerte%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5215.1
                  - displayText: Singing
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Singing&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Singing%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira Singing
                    thumbnail:
                      thumbnailUrl: https://tse1.mm.bing.net/th?q=Shakira+Singing&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Singing&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Singing%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5217.1
                  - displayText: Dancing
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Dancing&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Dancing%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira Dancing
                    thumbnail:
                      thumbnailUrl: https://tse4.mm.bing.net/th?q=Shakira+Dancing&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Dancing&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Dancing%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5219.1
                  - displayText: Caine
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Caine&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Caine%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira Caine
                    thumbnail:
                      thumbnailUrl: https://tse2.mm.bing.net/th?q=Shakira+Caine&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Caine&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Caine%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5221.1
                  - displayText: Son
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Son&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Son%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira Son
                    thumbnail:
                      thumbnailUrl: https://tse4.mm.bing.net/th?q=Shakira+Son&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Son&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Son%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5223.1
                  - displayText: Parents
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Parents&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Parents%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira Parents
                    thumbnail:
                      thumbnailUrl: https://tse1.mm.bing.net/th?q=Shakira+Parents&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Parents&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Parents%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5225.1
                  - displayText: Family
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Family&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Family%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira Family
                    thumbnail:
                      thumbnailUrl: https://tse4.mm.bing.net/th?q=Shakira+Family&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Family&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Family%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5227.1
                  - displayText: Remember to for Get You
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Remember+to+for+Get+You+Shakira&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Remember+to+for+Get+You%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Remember to for Get You Shakira
                    thumbnail:
                      thumbnailUrl: https://tse4.mm.bing.net/th?q=Remember+to+for+Get+You+Shakira&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Remember+to+for+Get+You+Shakira&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Remember+to+for+Get+You%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5229.1
                  - displayText: Gypsy
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Gypsy&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Gypsy%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira Gypsy
                    thumbnail:
                      thumbnailUrl: https://tse4.mm.bing.net/th?q=Shakira+Gypsy&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Gypsy&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Gypsy%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5231.1
                  - displayText: Rabiosa
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Rabiosa&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Rabiosa%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira Rabiosa
                    thumbnail:
                      thumbnailUrl: https://tse1.mm.bing.net/th?q=Shakira+Rabiosa&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Rabiosa&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Rabiosa%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5233.1
                  - displayText: Wallpaper
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Wallpaper&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Wallpaper%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira Wallpaper
                    thumbnail:
                      thumbnailUrl: https://tse4.mm.bing.net/th?q=Shakira+Wallpaper&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Wallpaper&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Wallpaper%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5235.1
                  - displayText: Cartoon
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Cartoon&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Cartoon%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira Cartoon
                    thumbnail:
                      thumbnailUrl: https://tse4.mm.bing.net/th?q=Shakira+Cartoon&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Cartoon&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Cartoon%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5237.1
                  - displayText: Doll
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Doll&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Doll%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira Doll
                    thumbnail:
                      thumbnailUrl: https://tse3.mm.bing.net/th?q=Shakira+Doll&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Doll&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Doll%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5239.1
                  - displayText: Poster
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Poster&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Poster%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira Poster
                    thumbnail:
                      thumbnailUrl: https://tse3.mm.bing.net/th?q=Shakira+Poster&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Poster&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Poster%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5241.1
                  - displayText: Beautiful
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Beautiful+Shakira&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Beautiful%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Beautiful Shakira
                    thumbnail:
                      thumbnailUrl: https://tse3.mm.bing.net/th?q=Beautiful+Shakira&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Beautiful+Shakira&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Beautiful%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5243.1
                  - displayText: Enrique Iglesias
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Enrique+Iglesias&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Enrique+Iglesias%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira Enrique Iglesias
                    thumbnail:
                      thumbnailUrl: https://tse4.mm.bing.net/th?q=Shakira+Enrique+Iglesias&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Enrique+Iglesias&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Enrique+Iglesias%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5245.1
                  - displayText: Jennifer Lopez
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Jennifer+Lopez+Shakira&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Jennifer+Lopez%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Jennifer Lopez Shakira
                    thumbnail:
                      thumbnailUrl: https://tse1.mm.bing.net/th?q=Jennifer+Lopez+Shakira&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Jennifer+Lopez+Shakira&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Jennifer+Lopez%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5247.1
                  - displayText: Pies Descalzos
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Pies+Descalzos&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Pies+Descalzos%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira Pies Descalzos
                    thumbnail:
                      thumbnailUrl: https://tse1.mm.bing.net/th?q=Shakira+Pies+Descalzos&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Pies+Descalzos&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Pies+Descalzos%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5249.1
                  - displayText: Boots
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Boots&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Boots%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira Boots
                    thumbnail:
                      thumbnailUrl: https://tse1.mm.bing.net/th?q=Shakira+Boots&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Boots&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Boots%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5251.1
                  - displayText: Jeans
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Jeans&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Jeans%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira Jeans
                    thumbnail:
                      thumbnailUrl: https://tse3.mm.bing.net/th?q=Shakira+Jeans&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Jeans&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Jeans%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5253.1
                  - displayText: Outfits
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Outfits&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Outfits%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira Outfits
                    thumbnail:
                      thumbnailUrl: https://tse4.mm.bing.net/th?q=Shakira+Outfits&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Outfits&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Outfits%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5255.1
                  - displayText: "2002"
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+2002&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%222002%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                    text: Shakira 2002
                    thumbnail:
                      thumbnailUrl: https://tse2.mm.bing.net/th?q=Shakira+2002&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+2002&tq=%7b%22pq%22%3a%22shakira%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22shakira%22%2c%22pv%22%3a%22shakira%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%222002%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5257.1
                readLink: https://www.bingapis.com/api/v7/images/search?q=degas
                relatedSearches:
                  - displayText: Demi Lovato
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Demi+Lovato
                    text: Demi Lovato
                    thumbnail:
                      thumbnailUrl: https://tse1.mm.bing.net/th?q=Demi+Lovato&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Demi+Lovato&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5309.1
                  - displayText: Jennifer Lopez
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Jennifer+Lopez
                    text: Jennifer Lopez
                    thumbnail:
                      thumbnailUrl: https://tse4.mm.bing.net/th?q=Jennifer+Lopez&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Jennifer+Lopez&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5311.1
                  - displayText: Lady Gaga
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Lady+Gaga
                    text: Lady Gaga
                    thumbnail:
                      thumbnailUrl: https://tse3.mm.bing.net/th?q=Lady+Gaga&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Lady+Gaga&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5313.1
                  - displayText: Katy Perry
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Katy+Perry
                    text: Katy Perry
                    thumbnail:
                      thumbnailUrl: https://tse4.mm.bing.net/th?q=Katy+Perry&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Katy+Perry&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5315.1
                  - displayText: Nicki Minaj
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Nicki+Minaj
                    text: Nicki Minaj
                    thumbnail:
                      thumbnailUrl: https://tse4.mm.bing.net/th?q=Nicki+Minaj&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Nicki+Minaj&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5317.1
                  - displayText: Ariana Grande
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Ariana+Grande
                    text: Ariana Grande
                    thumbnail:
                      thumbnailUrl: https://tse4.mm.bing.net/th?q=Ariana+Grande&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Ariana+Grande&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5319.1
                  - displayText: Beyonce
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Beyonce
                    text: Beyonce
                    thumbnail:
                      thumbnailUrl: https://tse2.mm.bing.net/th?q=Beyonce&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Beyonce&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5321.1
                  - displayText: Christina Aguilera
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Christina+Aguilera
                    text: Christina Aguilera
                    thumbnail:
                      thumbnailUrl: https://tse2.mm.bing.net/th?q=Christina+Aguilera&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Christina+Aguilera&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5323.1
                  - displayText: Gwen Stefani
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Gwen+Stefani
                    text: Gwen Stefani
                    thumbnail:
                      thumbnailUrl: https://tse4.mm.bing.net/th?q=Gwen+Stefani&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Gwen+Stefani&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5325.1
                  - displayText: Rihanna
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Rihanna
                    text: Rihanna
                    thumbnail:
                      thumbnailUrl: https://tse2.mm.bing.net/th?q=Rihanna&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Rihanna&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5327.1
                  - displayText: Selena Gomez
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Selena+Gomez
                    text: Selena Gomez
                    thumbnail:
                      thumbnailUrl: https://tse3.mm.bing.net/th?q=Selena+Gomez&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Selena+Gomez&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5329.1
                  - displayText: Justin Bieber
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Justin+Bieber
                    text: Justin Bieber
                    thumbnail:
                      thumbnailUrl: https://tse1.mm.bing.net/th?q=Justin+Bieber&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Justin+Bieber&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5331.1
                  - displayText: 2017 Shakira
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=2017+Shakira
                    text: 2017 Shakira
                    thumbnail:
                      thumbnailUrl: https://tse4.mm.bing.net/th?q=2017+Shakira&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=2017+Shakira&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5333.1
                  - displayText: 2018 Shakira
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=2018+Shakira
                    text: 2018 Shakira
                    thumbnail:
                      thumbnailUrl: https://tse3.mm.bing.net/th?q=2018+Shakira&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=2018+Shakira&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5335.1
                  - displayText: Shakira 2012
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+2012
                    text: Shakira 2012
                    thumbnail:
                      thumbnailUrl: https://tse3.mm.bing.net/th?q=Shakira+2012&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+2012&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5337.1
                  - displayText: Taylor Swift
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Taylor+Swift
                    text: Taylor Swift
                    thumbnail:
                      thumbnailUrl: https://tse3.mm.bing.net/th?q=Taylor+Swift&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Taylor+Swift&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5339.1
                  - displayText: Avril Lavigne
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Avril+Lavigne
                    text: Avril Lavigne
                    thumbnail:
                      thumbnailUrl: https://tse3.mm.bing.net/th?q=Avril+Lavigne&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Avril+Lavigne&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5341.1
                  - displayText: Adele
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Adele
                    text: Adele
                    thumbnail:
                      thumbnailUrl: https://tse4.mm.bing.net/th?q=Adele&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Adele&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5343.1
                  - displayText: Shakira Son
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Son
                    text: Shakira Son
                    thumbnail:
                      thumbnailUrl: https://tse4.mm.bing.net/th?q=Shakira+Son&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Son&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5345.1
                  - displayText: Shakira Now
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Now
                    text: Shakira Now
                    thumbnail:
                      thumbnailUrl: https://tse4.mm.bing.net/th?q=Shakira+Now&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Now&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5347.1
                  - displayText: Shakira Black Hair
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Black+Hair
                    text: Shakira Black Hair
                    thumbnail:
                      thumbnailUrl: https://tse3.mm.bing.net/th?q=Shakira+Black+Hair&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Black+Hair&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5349.1
                  - displayText: Shakira Album
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Album
                    text: Shakira Album
                    thumbnail:
                      thumbnailUrl: https://tse3.mm.bing.net/th?q=Shakira+Album&pid=Api&mkt=en-US&adlt=strict&t=1
                    webSearchUrl: https://www.bing.com/images/search?q=Shakira+Album&FORM=IRPATC
                    webSearchUrlPingSuffix: DevEx,5351.1
                  - displayText: Shakira Caine
                    searchLink: https://cognitivegblppe.azure-api.net/api/v7/images/search?q=Shakira+Caine
                    text: Shakira Caine
                    thumbnail:
                      thumbnailUrl: https://tse2.mm.bing.net/th?q=Shakira+Caine&pid=Api&mkt=en-US&adlt=strict&t=1
[...]
