swagger: "2.0"
schemes:
  - https
host: api.cognitive.microsoft.com
basePath: /bing
info:
  contact:
    x-twitter: microsoft
  description: The Local Search client lets you send a search query to Bing and get back search results that include local businesses such as restaurants, hotels, retail stores, or other local businesses. The query can specify the name of the local business or it can ask for a list (for example, restaurants near me).
  title: Local Search Client
  version: "1.0"
  x-apisguru-categories:
    - developer_tools
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_microsoft_profile_image.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/LocalSearch/stable/v1.0/LocalSearch.json
      version: "2.0"
  x-providerName: microsoft.com
  x-serviceName: cognitiveservices-LocalSearch
  x-tags:
    - Microsoft
produces:
  - application/json
securityDefinitions:
  apiKeyHeader:
    in: header
    name: Ocp-Apim-Subscription-Key
    type: apiKey
security:
  - apiKeyHeader: []
parameters:
  x-bingapis-sdk:
    description: Activate swagger compliance
    enum:
      - "true"
    in: header
    name: X-BingApis-SDK
    required: true
    type: string
    x-ms-enum:
      modelAsString: true
      name: XBingApisSDK
    x-ms-parameter-location: method
paths:
  /v7.0/localbusinesses/search:
    get:
      operationId: Local_Search
      parameters:
        - $ref: "#/parameters/x-bingapis-sdk"
        - description: The default media type is application/json. To specify that the response use [JSON-LD](http://json-ld.org/), set the Accept header to application/ld+json.
          in: header
          name: Accept
          required: false
          type: string
        - description: A comma-delimited list of one or more languages to use for user interface strings. The list is in decreasing order of preference. For additional information, including expected format, see [RFC2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html). This header and the setLang query parameter are mutually exclusive; do not specify both. If you set this header, you must also specify the cc query parameter. Bing will use the first supported language it finds from the list, and combine that language with the cc parameter value to determine the market to return results for. If the list does not include a supported language, Bing will find the closest language and market that supports the request, and may use an aggregated or default market for the results instead of a specified one. You should use this header and the cc query parameter only if you specify multiple languages; otherwise, you should use the mkt and setLang query parameters. A user interface string is a string that's used as a label in a user interface. There are very few user interface strings in the JSON response objects. Any links in the response objects to Bing.com properties will apply the specified language.
          in: header
          name: Accept-Language
          required: false
          type: string
          x-ms-client-name: AcceptLanguage
        - description: "By default, Bing returns cached content, if available. To prevent Bing from returning cached content, set the Pragma header to no-cache (for example, Pragma: no-cache)."
          in: header
          name: Pragma
          required: false
          type: string
        - description: The user agent originating the request. Bing uses the user agent to provide mobile users with an optimized experience. Although optional, you are strongly encouraged to always specify this header. The user-agent should be the same string that any commonly used browser would send. For information about user agents, see [RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).
          in: header
          name: User-Agent
          required: false
          type: string
          x-ms-client-name: UserAgent
        - description: "Bing uses this header to provide users with consistent behavior across Bing API calls. Bing often flights new features and improvements, and it uses the client ID as a key for assigning traffic on different flights. If you do not use the same client ID for a user across multiple requests, then Bing may assign the user to multiple conflicting flights. Being assigned to multiple conflicting flights can lead to an inconsistent user experience. For example, if the second request has a different flight assignment than the first, the experience may be unexpected. Also, Bing can use the client ID to tailor web results to that client ID’s search history, providing a richer experience for the user. Bing also uses this header to help improve result rankings by analyzing the activity generated by a client ID. The relevance improvements help with better quality of results delivered by Bing APIs and in turn enables higher click-through rates for the API consumer. IMPORTANT: Although optional, you should consider this header required. Persisting the client ID across multiple requests for the same end user and device combination enables 1) the API consumer to receive a consistent user experience, and 2) higher click-through rates via better quality of results from the Bing APIs. Each user that uses your application on the device must have a unique, Bing generated client ID. If you do not include this header in the request, Bing generates an ID and returns it in the X-MSEdge-ClientID response header. The only time that you should NOT include this header in a request is the first time the user uses your app on that device. Use the client ID for each Bing API request that your app makes for this user on the device. Persist the client ID. To persist the ID in a browser app, use a persistent HTTP cookie to ensure the ID is used across all sessions. Do not use a session cookie. For other apps such as mobile apps, use the device's persistent storage to persist the ID. The next time the user uses your app on that device, get the client ID that you persisted. Bing responses may or may not include this header. If the response includes this header, capture the client ID and use it for all subsequent Bing requests for the user on that device. If you include the X-MSEdge-ClientID, you must not include cookies in the request."
          in: header
          name: X-MSEdge-ClientID
          required: false
          type: string
          x-ms-client-name: ClientId
        - description: The IPv4 or IPv6 address of the client device. The IP address is used to discover the user's location. Bing uses the location information to determine safe search behavior. Although optional, you are encouraged to always specify this header and the X-Search-Location header. Do not obfuscate the address (for example, by changing the last octet to 0). Obfuscating the address results in the location not being anywhere near the device's actual location, which may result in Bing serving erroneous results.
          in: header
          name: X-MSEdge-ClientIP
          required: false
          type: string
          x-ms-client-name: ClientIp
        - description: "A semicolon-delimited list of key/value pairs that describe the client's geographical location. Bing uses the location information to determine safe search behavior and to return relevant local content. Specify the key/value pair as <key>:<value>. The following are the keys that you use to specify the user's location. lat (required): The latitude of the client's location, in degrees. The latitude must be greater than or equal to -90.0 and less than or equal to +90.0. Negative values indicate southern latitudes and positive values indicate northern latitudes. long (required): The longitude of the client's location, in degrees. The longitude must be greater than or equal to -180.0 and less than or equal to +180.0. Negative values indicate western longitudes and positive values indicate eastern longitudes. re (required): The radius, in meters, which specifies the horizontal accuracy of the coordinates. Pass the value returned by the device's location service. Typical values might be 22m for GPS/Wi-Fi, 380m for cell tower triangulation, and 18,000m for reverse IP lookup. ts (optional): The UTC UNIX timestamp of when the client was at the location. (The UNIX timestamp is the number of seconds since January 1, 1970.) head (optional): The client's relative heading or direction of travel. Specify the direction of travel as degrees from 0 through 360, counting clockwise relative to true north. Specify this key only if the sp key is nonzero. sp (optional): The horizontal velocity (speed), in meters per second, that the client device is traveling. alt (optional): The altitude of the client device, in meters. are (optional): The radius, in meters, that specifies the vertical accuracy of the coordinates. Specify this key only if you specify the alt key. Although many of the keys are optional, the more information that you provide, the more accurate the location results are. Although optional, you are encouraged to always specify the user's geographical location. Providing the location is especially important if the client's IP address does not accurately reflect the user's physical location (for example, if the client uses VPN). For optimal results, you should include this header and the X-MSEdge-ClientIP header, but at a minimum, you should include this header."
          in: header
          name: X-Search-Location
          required: false
          type: string
          x-ms-client-name: Location
        - description: A 2-character country code of the country where the results come from. This API supports only the United States market. If you specify this query parameter, it must be set to us. If you set this parameter, you must also specify the Accept-Language header. Bing uses the first supported language it finds from the languages list, and combine that language with the country code that you specify to determine the market to return results for. If the languages list does not include a supported language, Bing finds the closest language and market that supports the request, or it may use an aggregated or default market for the results instead of a specified one. You should use this query parameter and the Accept-Language query parameter only if you specify multiple languages; otherwise, you should use the mkt and setLang query parameters. This parameter and the mkt query parameter are mutually exclusive—do not specify both.
          in: query
          name: cc
          required: false
          type: string
          x-ms-client-name: CountryCode
        - default: en-us
          description: The market where the results come from. You are strongly encouraged to always specify the market, if known. Specifying the market helps Bing route the request and return an appropriate and optimal response. This parameter and the cc query parameter are mutually exclusive—do not specify both.
          in: query
          name: mkt
          required: false
          type: string
          x-ms-client-name: Market
        - description: The user's search term.
          in: query
          name: q
          required: true
          type: string
          x-ms-client-name: Query
        - description: comma-delimited list of business categories to search for. Supported categories can be high-level such as EatDrink, Shop, SeeDo.
          in: query
          name: localcategories
          required: false
          type: string
          x-ms-client-name: LocalCategories
        - description: Preferred location to search around, expressed as Latitude, longitude and radius in meters. For example 47.61503,-122.1719,5000. Note that circular view should only be used to indicate a search around a point on the map, not as an approximation for a view port of a map rectangle.
          in: query
          name: localcircularview
          required: false
          type: string
          x-ms-client-name: localCircularView
        - description: Preferred bounding box for results, specified in NW_latitude, NW_Longitude, SE_Latitude, SE_Longitude format. For example 47.64,-122.13,47.63,-122.12. These values are lat, long pairs for the Northwest corner and the Southeast corner of a rectangle.
          in: query
          name: localmapview
          required: false
          type: string
          x-ms-client-name: localMapView
        - description: Preferred number of results to return. If not specified, then Bing returns 1-20 of the most relevant results.
          in: query
          name: count
          required: false
          type: string
          x-ms-client-name: Count
        - description: First result to return. zero-based. default is 0.
          in: query
          name: first
          required: false
          type: string
          x-ms-client-name: First
        - collectionFormat: csv
          description: "The media type to use for the response. The following are the possible case-insensitive values: JSON, JSONLD. The default is JSON. If you specify JSONLD, the response body includes JSON-LD objects that contain the search results."
          in: query
          items:
            enum:
              - Json
              - JsonLd
            type: string
            x-ms-enum:
              modelAsString: true
              name: ResponseFormat
          name: ResponseFormat
          required: false
          type: array
        - description: "A filter used to filter adult content. Off: Return webpages with adult text, images, or videos. Moderate: Return webpages with adult text, but not adult images or videos. Strict: Do not return webpages with adult text, images, or videos. The default is Moderate. If the request comes from a market that Bing's adult policy requires that safeSearch is set to Strict, Bing ignores the safeSearch value and uses Strict. If you use the site: query operator, there is the chance that the response may contain adult content regardless of what the safeSearch query parameter is set to. Use site: only if you are aware of the content on the site and your scenario supports the possibility of adult content."
          enum:
            - Off
            - Moderate
            - Strict
          in: query
          name: SafeSearch
          required: false
          type: string
          x-ms-enum:
            modelAsString: true
            name: SafeSearch
        - description: The language to use for user interface strings. Specify the language using the ISO 639-1 2-letter language code. For example, the language code for English is EN. The default is EN (English). Although optional, you should always specify the language. Typically, you set setLang to the same language specified by mkt unless the user wants the user interface strings displayed in a different language. This parameter and the Accept-Language header are mutually exclusive; do not specify both. A user interface string is a string that's used as a label in a user interface. There are few user interface strings in the JSON response objects. Also, any links to Bing.com properties in the response objects apply the specified language.
          in: query
          name: SetLang
          required: false
          type: string
      responses:
        "200":
          description: Success.
          schema:
            $ref: "#/definitions/SearchResponse"
        default:
          description: An error has occurred. Check the response type and/or status code for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: The Local Search API lets you send a search query to Bing and get back search results that include local businesses such as restaurants, hotels, retail stores, or other local businesses. The query can specify the name of the local business or it can ask for a list (for example, restaurants near me).
      tags:
        - LocalSearch
      x-ms-examples:
        Successful query:
          parameters:
            Accept: application/json
            Ocp-Apim-Subscription-Key: "{API key}"
            User-Agent: "{User Agent}"
            X-MSEdge-ClientID: "{Client ID}"
            mkt: en-us
            q: restaurants in seattle
          responses:
            "200":
              body:
                _type: SearchResponse
                places:
                  searchAction: {}
                  totalEstimatedMatches: 10
                  value:
                    - _type: LocalBusiness
                      address:
                        addressCountry: US
                        addressLocality: Seattle
                        addressRegion: WA
                        neighborhood: "Queen Anne: Lower"
                        postalCode: "98109"
                        streetAddress: 400 Broad St
                        text: 400 Broad St, Seattle, WA, 98109
                      entityPresentationInfo:
                        entityScenario: ListItem
                        entityTypeHints:
                          - Place
                          - LocalBusiness
                          - Restaurant
                      geo:
                        latitude: 47.620491027832
                        longitude: -122.349227905273
                      id: https://api.cognitive.microsoft.com/api/v7/#Places.0
                      name: SkyCity Restaurant
                      routablePoint:
                        latitude: 47.620044708252
                        longitude: -122.348487854004
                      telephone: (206) 905-2100
                      url: http://www.spaceneedle.com/
                    - _type: LocalBusiness
                      address:
                        addressCountry: US
                        addressLocality: Seattle
                        addressRegion: WA
                        neighborhood: Belltown
                        postalCode: "98121"
                        streetAddress: 2401 2nd Ave
                        text: 2401 2nd Ave, Seattle, WA, 98121
                      entityPresentationInfo:
                        entityScenario: ListItem
                        entityTypeHints:
                          - Place
                          - LocalBusiness
                          - Restaurant
                      geo:
                        latitude: 47.6147994995117
                        longitude: -122.347297668457
                      id: https://api.cognitive.microsoft.com/api/v7/#Places.1
                      name: Shiro's Sushi Restaurant
                      routablePoint:
                        latitude: 47.614917755127
                        longitude: -122.347145080566
                      telephone: (206) 443-9844
                      url: http://shiros.com/
                    - _type: LocalBusiness
                      address:
                        addressCountry: US
                        addressLocality: Seattle
                        addressRegion: WA
                        neighborhood: Japantown, Chinatown International District
                        postalCode: "98104"
                        streetAddress: 304 6th Ave S
                        text: 304 6th Ave S, Seattle, WA, 98104
                      entityPresentationInfo:
                        entityScenario: ListItem
                        entityTypeHints:
                          - Place
                          - LocalBusiness
                          - Restaurant
                      geo:
                        latitude: 47.599739074707
                        longitude: -122.326141357422
                      id: https://api.cognitive.microsoft.com/api/v7/#Places.2
                      name: Maneki Restaurant
                      routablePoint:
                        latitude: 47.599739074707
                        longitude: -122.326362609863
                      telephone: (206) 622-2631
                      url: http://www.manekirestaurant.com/
                    - _type: LocalBusiness
                      address:
                        addressCountry: US
                        addressLocality: Seattle
                        addressRegion: WA
                        neighborhood: Downtown
                        postalCode: "98101"
                        streetAddress: 1420 5th Ave
                        text: 1420 5th Ave, Seattle, WA, 98101
                      entityPresentationInfo:
                        entityScenario: ListItem
                        entityTypeHints:
                          - Place
                          - LocalBusiness
                          - Restaurant
                      geo:
                        latitude: 47.610538482666
                        longitude: -122.334686279297
                      id: https://api.cognitive.microsoft.com/api/v7/#Places.3
                      name: Palomino
                      routablePoint:
                        latitude: 47.6102981567383
                        longitude: -122.335258483887
                      telephone: (206) 623-1300
                      url: http://palomino.com/
                    - _type: LocalBusiness
                      address:
                        addressCountry: US
                        addressLocality: Seattle
                        addressRegion: WA
                        neighborhood: Downtown
                        postalCode: "98101"
                        streetAddress: 1519 Pike Pl
                        text: 1519 Pike Pl, Seattle, WA, 98101
                      entityPresentationInfo:
                        entityScenario: ListItem
                        entityTypeHints:
                          - Place
                          - LocalBusiness
                          - Restaurant
                      geo:
                        latitude: 47.6087112426758
                        longitude: -122.340911865234
                      id: https://api.cognitive.microsoft.com/api/v7/#Places.4
                      name: Lowell's Restaurant
                      routablePoint:
                        latitude: 47.6088256835938
                        longitude: -122.340766906738
                      telephone: (206) 622-2036
                      url: http://eatatlowells.com/
                    - _type: LocalBusiness
                      address:
                        addressCountry: US
                        addressLocality: Seattle
                        addressRegion: WA
                        neighborhood: Downtown
                        postalCode: "98101"
                        streetAddress: ""
                        text: Seattle, WA, 98101
                      entityPresentationInfo:
                        entityScenario: ListItem
                        entityTypeHints:
                          - Place
                          - LocalBusiness
                          - Restaurant
                      id: https://api.cognitive.microsoft.com/api/v7/#Places.5
                      name: The Athenian Seafood Restaurant and Bar
                      telephone: (206) 624-7166
                      url: http://www.athenianseattle.com/
                    - _type: LocalBusiness
                      address:
                        addressCountry: US
                        addressLocality: Seattle
                        addressRegion: WA
                        neighborhood: Downtown
                        postalCode: "98121"
                        streetAddress: 2001 Western Ave
                        text: 2001 Western Ave, Seattle, WA, 98121
                      entityPresentationInfo:
                        entityScenario: ListItem
                        entityTypeHints:
                          - Place
                          - LocalBusiness
                          - Restaurant
                      geo:
                        latitude: 47.6105194091797
                        longitude: -122.344390869141
                      id: https://api.cognitive.microsoft.com/api/v7/#Places.6
                      name: Cutters Crabhouse
                      routablePoint:
                        latitude: 47.610767364502
                        longitude: -122.34407043457
                      telephone: (206) 448-4884
                      url: http://cutterscrabhouse.com/
                    - _type: LocalBusiness
                      address:
                        addressCountry: US
                        addressLocality: Seattle
                        addressRegion: WA
                        neighborhood: Capitol Hill
                        postalCode: "98102"
                        streetAddress: 219 Broadway E
                        text: 219 Broadway E, Seattle, WA, 98102
                      entityPresentationInfo:
                        entityScenario: ListItem
                        entityTypeHints:
                          - Place
                          - LocalBusiness
                          - Restaurant
                      geo:
                        latitude: 47.6206283569336
                        longitude: -122.321342468262
                      id: https://api.cognitive.microsoft.com/api/v7/#Places.7
                      name: Americana Restaurant
                      routablePoint:
                        latitude: 47.6206321716309
                        longitude: -122.320915222168
                      telephone: (206) 328-4604
                      url: http://www.americanaseattle.com/
                    - _type: LocalBusiness
                      address:
                        addressCountry: US
                        addressLocality: Seattle
                        addressRegion: WA
                        neighborhood: Interbay
                        postalCode: "98121"
                        streetAddress: 2411 Alaskan Way
                        text: 2411 Alaskan Way, Seattle, WA, 98121
                      entityPresentationInfo:
                        entityScenario: ListItem
                        entityTypeHints:
                          - Place
                          - LocalBusiness
                          - Restaurant
                      geo:
                        latitude: 47.6125106811523
                        longitude: -122.352020263672
                      id: https://api.cognitive.microsoft.com/api/v7/#Places.8
                      name: Six Seven Restaurant
                      routablePoint:
                        latitude: 47.612964630127
                        longitude: -122.351547241211
                      telephone: (206) 269-4575
                      url: http://www.edgewaterhotel.com/seattle-six-seven-restaurant.aspx
                    - _type: LocalBusiness
                      address:
                        addressCountry: US
                        addressLocality: Seattle
                        addressRegion: WA
                        neighborhood: Waterfront
                        postalCode: "98101"
                        streetAddress: 1301 Alaskan Way
                        text: 1301 Alaskan Way, Seattle, WA, 98101
                      entityPresentationInfo:
                        entityScenario: ListItem
                        entityTypeHints:
                          - Place
                          - LocalBusiness
                          - Restaurant
                      geo:
                        latitude: 47.6060791015625
                        longitude: -122.341049194336
                      id: https://api.cognitive.microsoft.com/api/v7/#Places.9
                      name: Fisherman's Restaurant
                      routablePoint:
                        latitude: 47.606330871582
                        longitude: -122.340446472168
                      telephone: (206) 623-3500
                      url: http://thefishermansrestaurant.com/
                queryContext:
                  originalQuery: restaurants in seattle
              headers: {}
definitions:
  Action:
    allOf:
      - $ref: "#/definitions/CreativeWork"
    description: Defines an action.
    properties:
      displayName:
        description: A display name for the action.
        readOnly: true
        type: string
      isTopAction:
        description: A Boolean representing whether this result is the top action.
        readOnly: true
        type: boolean
      location:
        items:
          $ref: "#/definitions/Place"
        readOnly: true
        type: array
      result:
        description: The result produced in the action.
        items:
          $ref: "#/definitions/Thing"
        readOnly: true
        type: array
      serviceUrl:
        description: Use this URL to get additional data to determine how to take the appropriate action. For example, the serviceUrl might return JSON along with an image URL.
        readOnly: true
        type: string
    type: object
  Answer:
    allOf:
      - $ref: "#/definitions/Response"
    description: Defines an answer.
    properties: {}
    type: object
  CreativeWork:
    allOf:
      - $ref: "#/definitions/Thing"
    description: The most generic kind of creative work, including books, movies, photographs, software programs, etc.
    properties:
      about:
        description: For internal use only.
        items:
          $ref: "#/definitions/Thing"
        readOnly: true
        type: array
      commentCount:
        format: int32
        readOnly: true
        type: integer
      copyrightHolder:
        $ref: "#/definitions/Thing"
        readOnly: true
      copyrightYear:
        format: int32
        readOnly: true
        type: integer
      creator:
        $ref: "#/definitions/Thing"
        readOnly: true
      disclaimer:
        readOnly: true
        type: string
      discussionUrl:
        readOnly: true
        type: string
      genre:
        items:
          type: string
        readOnly: true
        type: array
      headLine:
        readOnly: true
        type: string
      isAccessibleForFree:
        readOnly: true
        type: boolean
      isFamilyFriendly:
        readOnly: true
        type: boolean
      mainEntity:
        $ref: "#/definitions/Thing"
        readOnly: true
      mentions:
        description: For internal use only.
        items:
          $ref: "#/definitions/Thing"
        readOnly: true
        type: array
      provider:
        description: The source of the creative work.
        items:
          $ref: "#/definitions/Thing"
        readOnly: true
        type: array
      text:
        description: Text content of this creative work
        readOnly: true
        type: string
      thumbnailUrl:
        description: The URL to a thumbnail of the item.
        readOnly: true
        type: string
    type: object
  EntitiesEntityPresentationInfo:
    description: Defines additional information about an entity such as type hints.
    discriminator: _type
    properties:
      _type:
        type: string
      entityScenario:
        default: DominantEntity
        description: The supported scenario.
        enum:
          - DominantEntity
          - DisambiguationItem
          - ListItem
        type: string
        x-ms-enum:
          modelAsString: true
          name: EntityScenario
      entitySubTypeHints:
        items:
          type: string
        readOnly: true
        type: array
      entityTypeDisplayHint:
        description: A display version of the entity hint. For example, if entityTypeHints is Artist, this field may be set to American Singer.
        readOnly: true
        type: string
      entityTypeHints:
        description: A list of hints that indicate the entity's type. The list could contain a single hint such as Movie or a list of hints such as Place, LocalBusiness, Restaurant. Each successive hint in the array narrows the entity's type.
        items:
          enum:
            - Place
            - LocalBusiness
            - Restaurant
            - Hotel
          type: string
          x-ms-enum:
            modelAsString: true
            name: EntityType
        readOnly: true
        type: array
      query:
        readOnly: true
        type: string
    required:
      - entityScenario
      - _type
    type: object
    x-ms-discriminator-value: Entities/EntityPresentationInfo
  Error:
    description: Defines the error that occurred.
    discriminator: _type
    properties:
      _type:
        type: string
      code:
        default: None
        description: The error code that identifies the category of error.
        enum:
          - None
          - ServerError
          - InvalidRequest
          - RateLimitExceeded
          - InvalidAuthorization
          - InsufficientAuthorization
        type: string
        x-ms-enum:
          modelAsString: true
          name: ErrorCode
      message:
        description: A description of the error.
        type: string
      moreDetails:
        description: A description that provides additional information about the error.
        readOnly: true
        type: string
      parameter:
        description: The parameter in the request that caused the error.
        readOnly: true
        type: string
      subCode:
        description: The error code that further helps to identify the error.
        enum:
          - UnexpectedError
          - ResourceError
          - NotImplemented
          - ParameterMissing
          - ParameterInvalidValue
          - HttpNotAllowed
          - Blocked
          - AuthorizationMissing
          - AuthorizationRedundancy
          - AuthorizationDisabled
          - AuthorizationExpired
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ErrorSubCode
      value:
        description: The parameter's value in the request that was not valid.
        readOnly: true
        type: string
    required:
      - code
      - message
      - _type
    type: object
  ErrorResponse:
    allOf:
      - $ref: "#/definitions/Response"
    description: The top-level response that represents a failed request.
    properties:
      errors:
        description: A list of errors that describe the reasons why the request failed.
        items:
          $ref: "#/definitions/Error"
        type: array
    required:
      - errors
    type: object
  GeoCoordinates:
    discriminator: _type
    properties:
      _type:
        type: string
      elevation:
        format: double
        readOnly: true
        type: number
      latitude:
        format: double
        type: number
      longitude:
        format: double
        type: number
    required:
      - latitude
      - longitude
      - _type
    type: object
  Identifiable:
    allOf:
      - $ref: "#/definitions/ResponseBase"
    description: Defines the identity of a resource.
    properties:
      id:
        description: A String identifier.
        readOnly: true
        type: string
    type: object
  Intangible:
    allOf:
      - $ref: "#/definitions/Thing"
    description: A utility class that serves as the umbrella for a number of 'intangible' things such as quantities, structured values, etc.
    type: object
  Place:
    allOf:
      - $ref: "#/definitions/Thing"
    description: Defines information about a local entity, such as a restaurant or hotel.
    properties:
      address:
        $ref: "#/definitions/PostalAddress"
        description: The postal address of where the entity is located
        readOnly: true
      geo:
        $ref: "#/definitions/GeoCoordinates"
        readOnly: true
      routablePoint:
        $ref: "#/definitions/GeoCoordinates"
        readOnly: true
      telephone:
        description: The entity's telephone number
        readOnly: true
        type: string
    type: object
  Places:
    allOf:
      - $ref: "#/definitions/SearchResultsAnswer"
    description: Defines a local entity answer.
    properties:
      value:
        description: A list of local entities, such as restaurants or hotels.
        items:
          $ref: "#/definitions/Thing"
        type: array
    required:
      - value
    type: object
  PostalAddress:
    allOf:
      - $ref: "#/definitions/StructuredValue"
    description: Defines a postal address.
    properties:
      addressCountry:
        description: The country/region where the street address is located. This could be the two-letter ISO code. For example, US, or the full name, United States.
        readOnly: true
        type: string
      addressLocality:
        description: The city where the street address is located. For example, Seattle.
        readOnly: true
        type: string
      addressRegion:
        description: The state or province code where the street address is located. This could be the two-letter code. For example, WA, or the full name , Washington.
        readOnly: true
        type: string
      addressRegionAbbreviation:
        description: Region Abbreviation. For example, WA.
        readOnly: true
        type: string
      addressSubregion:
        readOnly: true
        type: string
      countryIso:
        description: The two letter ISO code of this country. For example, US.
        readOnly: true
        type: string
      formattingRuleId:
        readOnly: true
        type: string
      houseNumber:
        readOnly: true
        type: string
      neighborhood:
        description: The neighborhood where the street address is located. For example, Westlake.
        readOnly: true
        type: string
      postOfficeBoxNumber:
        readOnly: true
        type: string
      postalCode:
        description: The zip code or postal code where the street address is located. For example, 98052.
        readOnly: true
        type: string
      streetAddress:
        readOnly: true
        type: string
      streetName:
        readOnly: true
        type: string
      text:
        description: The complete address. For example, 2100 Westlake Ave N, Bellevue, WA 98052.
        readOnly: true
        type: string
    type: object
  QueryContext:
    description: Defines the query context that Bing used for the request.
    discriminator: _type
    properties:
      _type:
        type: string
      adultIntent:
        description: A Boolean value that indicates whether the specified query has adult intent. The value is true if the query has adult intent; otherwise, false.
        readOnly: true
        type: boolean
      alterationDisplayQuery:
        description: AlteredQuery that is formatted for display purpose. The query string in the AlterationDisplayQuery can be html-escaped and can contain hit-highlighting characters
        readOnly: true
        type: string
      alterationOverrideQuery:
        description: The query string to use to force Bing to use the original string. For example, if the query string is "saling downwind", the override query string will be "+saling downwind". Remember to encode the query string which results in "%2Bsaling+downwind". This field is included only if the original query string contains a spelling mistake.
        readOnly: true
        type: string
      alteredQuery:
        description: The query string used by Bing to perform the query. Bing uses the altered query string if the original query string contained spelling mistakes. For example, if the query string is "saling downwind", the altered query string will be "sailing downwind". This field is included only if the original query string contains a spelling mistake.
        readOnly: true
        type: string
      askUserForLocation:
        description: A Boolean value that indicates whether Bing requires the user's location to provide accurate results. If you specified the user's location by using the X-MSEdge-ClientIP and X-Search-Location headers, you can ignore this field. For location aware queries, such as "today's weather" or "restaurants near me" that need the user's location to provide accurate results, this field is set to true. For location aware queries that include the location (for example, "Seattle weather"), this field is set to false. This field is also set to false for queries that are not location aware, such as "best sellers".
        readOnly: true
        type: boolean
      isTransactional:
        readOnly: true
        type: boolean
      originalQuery:
        description: The query string as specified in the request.
        type: string
    required:
      - originalQuery
      - _type
    type: object
  Response:
    allOf:
      - $ref: "#/definitions/Identifiable"
    description: Defines a response. All schemas that return at the root of the response must inherit from this object.
    properties:
      adaptiveCard:
        readOnly: true
        type: string
      immediateAction:
        items:
          $ref: "#/definitions/Action"
        readOnly: true
        type: array
      potentialAction:
        items:
          $ref: "#/definitions/Action"
        readOnly: true
        type: array
      preferredClickthroughUrl:
        readOnly: true
        type: string
      readLink:
        description: The URL that returns this resource.
        readOnly: true
        type: string
      webSearchUrl:
        description: The URL to Bing's search result for this item.
        readOnly: true
        type: string
    type: object
  ResponseBase:
    description: Response base
    discriminator: _type
    properties:
      _type:
        type: string
    required:
      - _type
    type: object
  SearchAction:
    allOf:
      - $ref: "#/definitions/Action"
    properties:
      displayText:
        readOnly: true
        type: string
      formattingRuleId:
        readOnly: true
        type: string
      query:
        readOnly: true
        type: string
      richContent:
        items:
          $ref: "#/definitions/Answer"
        readOnly: true
        type: array
    type: object
  SearchResponse:
    allOf:
      - $ref: "#/definitions/Response"
    description: Defines the top-level object that the response includes when the request succeeds.
    properties:
      lottery:
        $ref: "#/definitions/SearchResultsAnswer"
        readOnly: true
      places:
        $ref: "#/definitions/Places"
        description: A list of local entities such as restaurants or hotels that are relevant to the query.
        readOnly: true
      queryContext:
        $ref: "#/definitions/QueryContext"
        description: An object that contains the query string that Bing used for the request. This object contains the query string as entered by the user. It may also contain an altered query string that Bing used for the query if the query string contained a spelling mistake.
        readOnly: true
      searchResultsConfidenceScore:
        format: float
        readOnly: true
        type: number
    type: object
  SearchResultsAnswer:
    allOf:
      - $ref: "#/definitions/Answer"
    description: Defines a search result answer.
    properties:
      isFamilyFriendly:
        readOnly: true
        type: boolean
      queryContext:
        $ref: "#/definitions/QueryContext"
        readOnly: true
      totalEstimatedMatches:
        description: The estimated number of webpages that are relevant to the query. Use this number along with the count and offset query parameters to page the results.
        format: int64
        readOnly: true
        type: integer
    type: object
  StructuredValue:
    allOf:
      - $ref: "#/definitions/Intangible"
    type: object
  Thing:
    allOf:
      - $ref: "#/definitions/Response"
    description: Defines a thing.
    properties:
      entityPresentationInfo:
        $ref: "#/definitions/EntitiesEntityPresentationInfo"
        description: Additional information about the entity such as hints that you can use to determine the entity's type. To determine the entity's type, use the entityScenario and entityTypeHint fields.
        readOnly: true
      name:
        description: The name of the thing represented by this object.
        readOnly: true
        type: string
      url:
        description: The URL to get more information about the thing represented by this object.
        readOnly: true
        type: string
    type: object
