swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2019-02-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/virtualNetworkGateway.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-virtualNetworkGateway
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections":
    get:
      description: The List VirtualNetworkGatewayConnections operation retrieves all the virtual network gateways connections created.
      operationId: VirtualNetworkGatewayConnections_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation resets the virtual network gateway connection shared key.
          schema:
            $ref: "#/definitions/VirtualNetworkGatewayConnectionListResult"
      tags:
        - VirtualNetworkGatewayConnections
      x-ms-examples:
        ListVirtualNetworkGatewayConnectionsinResourceGroup:
          parameters:
            api-version: 2019-02-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - etag: W/"00000000-0000-0000-0000-000000000000"
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/connections/conn1
                    location: centralus
                    name: conn1
                    properties:
                      connectionProtocol: IKEv1
                      connectionType: IPsec
                      egressBytesTransferred: 0
                      enableBgp: false
                      ingressBytesTransferred: 0
                      ipsecPolicies: []
                      localNetworkGateway2:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/localNetworkGateways/localgw1
                        properties: {}
                      provisioningState: Succeeded
                      resourceGuid: 00000000-0000-0000-0000-000000000000
                      routingWeight: 0
                      usePolicyBasedTrafficSelectors: false
                      virtualNetworkGateway1:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw1
                        properties: {}
                    type: Microsoft.Network/connections
                  - etag: W/"00000000-0000-0000-0000-000000000000"
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/connections/conn2
                    location: eastus
                    name: conn2
                    properties:
                      connectionProtocol: IKEv2
                      connectionType: IPsec
                      egressBytesTransferred: 0
                      enableBgp: false
                      ingressBytesTransferred: 0
                      ipsecPolicies: []
                      localNetworkGateway2:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/localNetworkGateways/localgw2
                        properties: {}
                      provisioningState: Succeeded
                      resourceGuid: 00000000-0000-0000-0000-000000000000
                      routingWeight: 0
                      usePolicyBasedTrafficSelectors: false
                      virtualNetworkGateway1:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw2
                        properties: {}
                    type: Microsoft.Network/connections
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}":
    delete:
      description: Deletes the specified virtual network Gateway connection.
      operationId: VirtualNetworkGatewayConnections_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway connection.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Delete successful.
        "202":
          description: Accepted and the operation will complete asynchronously.
        "204":
          description: Delete successful.
      tags:
        - VirtualNetworkGatewayConnections
      x-ms-examples:
        DeleteVirtualNetworkGatewayConnection:
          parameters:
            api-version: 2019-02-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayConnectionName: conn1
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      description: Gets the specified virtual network gateway connection by resource group.
      operationId: VirtualNetworkGatewayConnections_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway connection.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns the resulting VirtualNetworkGatewayConnection resource.
          schema:
            $ref: "#/definitions/VirtualNetworkGatewayConnection"
      tags:
        - VirtualNetworkGatewayConnections
      x-ms-examples:
        GetVirtualNetworkGatewayConnection:
          parameters:
            api-version: 2019-02-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayConnectionName: connS2S
          responses:
            "200":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/connections/connS2S
                location: centralus
                name: connS2S
                properties:
                  connectionProtocol: IKEv2
                  connectionStatus: Connecting
                  connectionType: IPsec
                  egressBytesTransferred: 0
                  enableBgp: false
                  ingressBytesTransferred: 0
                  ipsecPolicies: []
                  localNetworkGateway2:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/localNetworkGateways/localgw
                    properties: {}
                  provisioningState: Succeeded
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                  routingWeight: 0
                  sharedKey: Abc123
                  usePolicyBasedTrafficSelectors: false
                  virtualNetworkGateway1:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw
                    properties: {}
                type: Microsoft.Network/connections
    patch:
      description: Updates a virtual network gateway connection tags.
      operationId: VirtualNetworkGatewayConnections_UpdateTags
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway connection.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          type: string
        - description: Parameters supplied to update virtual network gateway connection tags.
          in: body
          name: parameters
          required: true
          schema:
            description: Tags object for patch operations.
            properties:
              tags:
                additionalProperties:
                  type: string
                description: Resource tags.
                type: object
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Update successful. The operation returns the resulting VirtualNetworkGatewayConnection resource.
          schema:
            $ref: "#/definitions/VirtualNetworkGatewayConnection"
      tags:
        - VirtualNetworkGatewayConnections
      x-ms-examples:
        UpdateVirtualNetworkGatewayConnectionTags:
          parameters:
            api-version: 2019-02-01
            parameters:
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayConnectionName: test
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/connections/test
                location: westus
                name: test
                properties:
                  connectionStatus: Unknown
                  connectionType: IPsec
                  egressBytesTransferred: 0
                  enableBgp: false
                  ingressBytesTransferred: 0
                  ipsecPolicies: []
                  localNetworkGateway2:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/localNetworkGateways/lgw
                    properties: {}
                  provisioningState: Succeeded
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                  routingWeight: 0
                  sharedKey: temp1234
                  usePolicyBasedTrafficSelectors: false
                  virtualNetworkGateway1:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw
                    properties: {}
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Network/connections
      x-ms-long-running-operation: true
    put:
      description: Creates or updates a virtual network gateway connection in the specified resource group.
      operationId: VirtualNetworkGatewayConnections_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway connection.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          type: string
        - description: Parameters supplied to the create or update virtual network gateway connection operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/VirtualNetworkGatewayConnection"
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Update successful. The operation returns the resulting VirtualNetworkGatewayConnection resource.
          schema:
            $ref: "#/definitions/VirtualNetworkGatewayConnection"
        "201":
          description: Create successful. The operation returns the resulting VirtualNetworkGatewayConnection resource.
          schema:
            $ref: "#/definitions/VirtualNetworkGatewayConnection"
      tags:
        - VirtualNetworkGatewayConnections
      x-ms-examples:
        CreateVirtualNetworkGatewayConnection_S2S:
          parameters:
            api-version: 2019-02-01
            parameters:
              location: centralus
              properties:
                connectionProtocol: IKEv2
                connectionType: IPsec
                enableBgp: false
                ipsecPolicies: []
                localNetworkGateway2:
                  etag: W/"00000000-0000-0000-0000-000000000000"
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/localNetworkGateways/localgw
                  location: centralus
                  properties:
                    gatewayIpAddress: x.x.x.x
                    localNetworkAddressSpace:
                      addressPrefixes:
                        - 10.1.0.0/16
                    resourceGuid: 00000000-0000-0000-0000-000000000000
                  tags: {}
                routingWeight: 0
                sharedKey: Abc123
                usePolicyBasedTrafficSelectors: false
                virtualNetworkGateway1:
                  etag: W/"00000000-0000-0000-0000-000000000000"
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw
                  location: centralus
                  properties:
                    activeActive: false
                    bgpSettings:
                      asn: 65514
                      bgpPeeringAddress: 10.0.1.30
                      peerWeight: 0
                    enableBgp: false
                    gatewayType: Vpn
                    ipConfigurations:
                      - etag: W/"00000000-0000-0000-0000-000000000000"
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw/ipConfigurations/gwipconfig1
                        name: gwipconfig1
                        properties:
                          privateIPAllocationMethod: Dynamic
                          publicIPAddress:
                            id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/gwpip
                          subnet:
                            id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/GatewaySubnet
                    resourceGuid: 00000000-0000-0000-0000-000000000000
                    sku:
                      capacity: 2
                      name: VpnGw1
                      tier: VpnGw1
                    vpnType: RouteBased
                  tags: {}
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayConnectionName: connS2S
          responses:
            "200":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/connections/connS2S
                location: centralus
                name: connS2S
                properties:
                  connectionProtocol: IKEv2
                  connectionType: IPsec
                  egressBytesTransferred: 0
                  enableBgp: false
                  ingressBytesTransferred: 0
                  ipsecPolicies: []
                  localNetworkGateway2:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/localNetworkGateways/localgw
                    properties: {}
                  provisioningState: Updating
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                  routingWeight: 0
                  sharedKey: Abc123
                  usePolicyBasedTrafficSelectors: false
                  virtualNetworkGateway1:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw
                    properties: {}
                type: Microsoft.Network/connections
            "201":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/connections/connS2S
                location: centralus
                name: connS2S
                properties:
                  connectionProtocol: IKEv2
                  connectionType: IPsec
                  egressBytesTransferred: 0
                  enableBgp: false
                  ingressBytesTransferred: 0
                  ipsecPolicies: []
                  localNetworkGateway2:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/localNetworkGateways/localgw
                    properties: {}
                  provisioningState: Updating
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                  routingWeight: 0
                  sharedKey: Abc123
                  usePolicyBasedTrafficSelectors: false
                  virtualNetworkGateway1:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw
                    properties: {}
                type: Microsoft.Network/connections
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/sharedkey":
    get:
      description: The Get VirtualNetworkGatewayConnectionSharedKey operation retrieves information about the specified virtual network gateway connection shared key through Network resource provider.
      operationId: VirtualNetworkGatewayConnections_GetSharedKey
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The virtual network gateway connection shared key name.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns a list of VirtualNetworkGatewayConnection resources.
          schema:
            $ref: "#/definitions/ConnectionSharedKey"
      tags:
        - VirtualNetworkGatewayConnections
      x-ms-examples:
        GetVirtualNetworkGatewayConnectionSharedKey:
          parameters:
            api-version: 2019-02-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayConnectionName: connS2S
          responses:
            "200":
              body:
                value: AzureAbc123
    put:
      description: The Put VirtualNetworkGatewayConnectionSharedKey operation sets the virtual network gateway connection shared key for passed virtual network gateway connection in the specified resource group through Network resource provider.
      operationId: VirtualNetworkGatewayConnections_SetSharedKey
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The virtual network gateway connection name.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          type: string
        - description: Parameters supplied to the Begin Set Virtual Network Gateway connection Shared key operation throughNetwork resource provider.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ConnectionSharedKey"
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns the resulting ConnectionSharedKey resource.
          schema:
            $ref: "#/definitions/ConnectionSharedKey"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/ConnectionSharedKey"
      tags:
        - VirtualNetworkGatewayConnections
      x-ms-examples:
        SetVirtualNetworkGatewayConnectionSharedKey:
          parameters:
            api-version: 2019-02-01
            parameters:
              value: AzureAbc123
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayConnectionName: connS2S
          responses:
            "200":
              body:
                value: AzureAbc123
            "201":
              body:
                value: AzureAbc123
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/sharedkey/reset":
    post:
      description: The VirtualNetworkGatewayConnectionResetSharedKey operation resets the virtual network gateway connection shared key for passed virtual network gateway connection in the specified resource group through Network resource provider.
      operationId: VirtualNetworkGatewayConnections_ResetSharedKey
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The virtual network gateway connection reset shared key Name.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          type: string
        - description: Parameters supplied to the begin reset virtual network gateway connection shared key operation through network resource provider.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ConnectionResetSharedKey"
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation sets the virtual network gateway connection shared key.
          schema:
            $ref: "#/definitions/ConnectionResetSharedKey"
        "202":
          description: ""
      tags:
        - VirtualNetworkGatewayConnections
      x-ms-examples:
        ResetVirtualNetworkGatewayConnectionSharedKey:
          parameters:
            api-version: 2019-02-01
            parameters:
              keyLength: 128
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayConnectionName: conn1
          responses:
            "200":
              body:
                keyLength: 128
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/vpndeviceconfigurationscript":
    post:
      description: Gets a xml format representation for vpn device configuration script.
      operationId: VirtualNetworkGateways_VpnDeviceConfigurationScript
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway connection for which the configuration script is generated.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          type: string
        - description: Parameters supplied to the generate vpn device script operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/VpnDeviceScriptParameters"
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Xml format representation for vpn device configuration script.
          schema:
            type: string
      tags:
        - VirtualNetworkGateways
      x-ms-examples:
        GetVPNDeviceConfigurationScript:
          parameters:
            api-version: 2019-02-01
            parameters:
              deviceFamily: ISR
              firmwareVersion: IOS 15.1 (Preview)
              vendor: Cisco
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayConnectionName: vpngw
          responses:
            "200":
              body: "! Microsoft Corporation\r

                ! ---------------------------------------------------------------------------------------------------------------------\r

                ! Sample VPN tunnel configuration template for IOS-based devices\r

                !\r

                ! This configuration template applies to Cisco VPN devices running IOS 15.1 or beyond (ISR or ASR)\r

                !\r

                \r

                \r

                \t\t\r

                \r

                ! ---------------------------------------------------------------------------------------------------------------------\r

                ! ACL rules\r

                !\r

                ! Some VPN devices require explicit ACL rules to allow cross-premises traffic:\r

                !\r

                ! 1. Allow traffic between on premises address ranges and VNet address ranges\r

                ! 2. Allow IKE traffic (UDP:500) between on premises VPN devices and Azure VPN gateway\r

                ! 3. Allow IPsec traffic (Proto:ESP) between on premises VPN devices and Azure VPN gateway\r

                !\r

                \t\t\r

                access-list 101 permit ip 10.1.0.0 0.0.255.255 10.0.0.0 0.0.255.255\r

                \r

                ! ---------------------------------------------------------------------------------------------------------------------\r

                ! Internet Key Exchange (IKE) configuration\r

                !\r

                ! This section specifies the authentication, encryption, hashing, and Diffie-Hellman group parameters for IKE\r

                ! main mode or phase 1\r

                !\r

                \r

                crypto ikev2 proposal SwaggerS2S-proposal\r

                \  encryption DES3\r

                \  integrity  SHA384\r

                \  group      DHGroup24\r

                \  lifetime   3600\r

                \ exit\r

                \r

                crypto ikev2 policy SwaggerS2S-policy\r

                \  proposal SwaggerS2S-proposal\r

                \  exit\r

                \r

                crypto ikev2 keyring SwaggerBranch-keyring\r

                \t\t\r

                \t\tpeer 52.173.199.254\r

                \t\taddress        52.173.199.254\r

                \t\tpre-shared-key lALEHuppeopJmA94exRNiRr2QzuZ6lOsvzu5IlJUEA6LthbTc8g5MTT86MCsGNMzGkTAaLuLnEJoD1Cn4cIlr94qKZm9drsgllzWvsPNezS71stAkaW1Bb7h6GBnDlDP\r

                \  exit\r

                \r

                crypto ikev2 profile  SwaggerS2S-profile\r

                \  match address  local 10.3.0.0\r

                \tmatch identity remote address 52.173.199.254 255.255.255.255\r

                \t\t\r

                \  authentication remote pre-share\r

                \  authentication local  pre-share\r

                \  keyring        SwaggerBranch-keyring\r

                \  exit\r

                \r

                ! ---------------------------------------------------------------------------------------------------------------------\r

                ! IPsec configuration\r

                !\r

                ! This section specifies encryption, authentication, tunnel mode properties for the Phase 2 negotiation\r

                !\r

                crypto ipsec transform-set SwaggerS2S-TransformSet DES3 DES3\r

                \ mode  tunnel\r

                \ exit\r

                \r

                ! ---------------------------------------------------------------------------------------------------------------------\r

                ! Crypto map configuration\r

                !\r

                ! This section defines a crypto profile that binds the cross-premises network traffic to the IPsec and IKE\r

                ! policy profiles for this connection. Then defines the VTI (virtual tunnel interface) with the crypto\r

                ! profile. A random interface number (tunnel 1) was used with a random link local address (169.254.0.1/28)\r

                ! for the tunnel interface. If either selection is already used in the VPN device, please select another\r

                ! interface number or address.  The only requirement is that they must not overlap with another interface\r

                ! on the same VPN device.\r

                !\r

                crypto ipsec profile SwaggerS2S-IPsecProfile\r

                \  set transform-set  SwaggerS2S-TransformSet\r

                \  set ikev2-profile  SwaggerS2S-profile\r

                \  set pfs            None\r

                \  set security-association lifetime 3600\r

                \ exit\r

                \r

                \r

                int tunnel 52.173.199.254\r

                \  ip address 169.254.0.1 255.255.255.252\r

                \  ip tcp adjust-mss 1350\r

                \  tunnel source 10.3.0.0\r

                \  tunnel mode ipsec ipv4\r

                \  tunnel destination 52.173.199.254\r

                \  tunnel protection ipsec profile SwaggerS2S-IPsecProfile\r

                \  exit\r

                \r

                \tip route 10.0.0.0 255.255.0.0 tunnel 52.173.199.254 "
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways":
    get:
      description: Gets all the local network gateways in a resource group.
      operationId: LocalNetworkGateways_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns a list of LocalNetworkGateway resources.
          schema:
            $ref: "#/definitions/LocalNetworkGatewayListResult"
      tags:
        - LocalNetworkGateways
      x-ms-examples:
        ListLocalNetworkGateways:
          parameters:
            api-version: 2019-02-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - etag: W/"00000000-0000-0000-0000-000000000000"
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/localNetworkGateways/localgw1
                    location: centralus
                    name: localgw1
                    properties:
                      gatewayIpAddress: x.x.x.x
                      localNetworkAddressSpace:
                        addressPrefixes:
                          - 10.1.0.0/16
                      provisioningState: Succeeded
                      resourceGuid: 00000000-0000-0000-0000-000000000000
                    type: Microsoft.Network/localNetworkGateways
                  - etag: W/"00000000-0000-0000-0000-000000000000"
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/localNetworkGateways/localgw2
                    location: eastus
                    name: localgw2
                    properties:
                      gatewayIpAddress: x.x.x.x
                      localNetworkAddressSpace:
                        addressPrefixes:
                          - 10.2.0.0/16
                      provisioningState: Succeeded
                      resourceGuid: 00000000-0000-0000-0000-000000000000
                    type: Microsoft.Network/localNetworkGateways
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways/{localNetworkGatewayName}":
    delete:
      description: Deletes the specified local network gateway.
      operationId: LocalNetworkGateways_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the local network gateway.
          in: path
          minLength: 1
          name: localNetworkGatewayName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Delete successful.
        "202":
          description: Accepted and the operation will complete asynchronously.
        "204":
          description: Delete successful.
      tags:
        - LocalNetworkGateways
      x-ms-examples:
        DeleteLocalNetworkGateway:
          parameters:
            api-version: 2019-02-01
            localNetworkGatewayName: localgw
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      description: Gets the specified local network gateway in a resource group.
      operationId: LocalNetworkGateways_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the local network gateway.
          in: path
          minLength: 1
          name: localNetworkGatewayName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns the resulting LocalNetworkGateway resource.
          schema:
            $ref: "#/definitions/LocalNetworkGateway"
      tags:
        - LocalNetworkGateways
      x-ms-examples:
        GetLocalNetworkGateway:
          parameters:
            api-version: 2019-02-01
            localNetworkGatewayName: localgw
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/localNetworkGateways/localgw
                location: centralus
                name: localgw
                properties:
                  gatewayIpAddress: x.x.x.x
                  localNetworkAddressSpace:
                    addressPrefixes:
                      - 10.1.0.0/16
                  provisioningState: Succeeded
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                type: Microsoft.Network/localNetworkGateways
    patch:
      description: Updates a local network gateway tags.
      operationId: LocalNetworkGateways_UpdateTags
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the local network gateway.
          in: path
          minLength: 1
          name: localNetworkGatewayName
          required: true
          type: string
        - description: Parameters supplied to update local network gateway tags.
          in: body
          name: parameters
          required: true
          schema:
            description: Tags object for patch operations.
            properties:
              tags:
                additionalProperties:
                  type: string
                description: Resource tags.
                type: object
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Update successful. The operation returns the resulting LocalNetworkGateway resource.
          schema:
            $ref: "#/definitions/LocalNetworkGateway"
      tags:
        - LocalNetworkGateways
      x-ms-examples:
        UpdateLocalNetworkGatewayTags:
          parameters:
            api-version: 2019-02-01
            localNetworkGatewayName: lgw
            parameters:
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/localNetworkGateways/lgw
                location: westus
                name: lgw
                properties:
                  gatewayIpAddress: 12.0.0.1
                  localNetworkAddressSpace:
                    addressPrefixes:
                      - 12.0.0.0/8
                  provisioningState: Succeeded
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Network/localNetworkGateways
      x-ms-long-running-operation: true
    put:
      description: Creates or updates a local network gateway in the specified resource group.
      operationId: LocalNetworkGateways_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the local network gateway.
          in: path
          minLength: 1
          name: localNetworkGatewayName
          required: true
          type: string
        - description: Parameters supplied to the create or update local network gateway operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/LocalNetworkGateway"
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Update successful. The operation returns the resulting LocalNetworkGateway resource.
          schema:
            $ref: "#/definitions/LocalNetworkGateway"
        "201":
          description: Create successful. The operation returns the resulting LocalNetworkGateway resource.
          schema:
            $ref: "#/definitions/LocalNetworkGateway"
      tags:
        - LocalNetworkGateways
      x-ms-examples:
        CreateLocalNetworkGateway:
          parameters:
            api-version: 2019-02-01
            localNetworkGatewayName: localgw
            parameters:
              location: Central US
              properties:
                gatewayIpAddress: x.x.x.x
                localNetworkAddressSpace:
                  addressPrefixes:
                    - 10.1.0.0/16
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/localNetworkGateways/localgw
                location: centralus
                name: localgw
                properties:
                  gatewayIpAddress: x.x.x.x
                  localNetworkAddressSpace:
                    addressPrefixes:
                      - 10.1.0.0/16
                  provisioningState: Updating
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                type: Microsoft.Network/localNetworkGateways
            "201":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/localNetworkGateways/localgw
                location: centralus
                name: localgw
                properties:
                  gatewayIpAddress: x.x.x.x
                  localNetworkAddressSpace:
                    addressPrefixes:
                      - 10.1.0.0/16
                  provisioningState: Updating
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                type: Microsoft.Network/localNetworkGateways
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways":
    get:
      description: Gets all virtual network gateways by resource group.
      operationId: VirtualNetworkGateways_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns a list of VirtualNetworkGateway resources.
          schema:
            $ref: "#/definitions/VirtualNetworkGatewayListResult"
      tags:
        - VirtualNetworkGateways
      x-ms-examples:
        ListVirtualNetworkGatewaysinResourceGroup:
          parameters:
            api-version: 2019-02-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - etag: W/"00000000-0000-0000-0000-000000000000"
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw1
                    location: loc1
                    name: vpngw1
                    properties:
                      activeActive: false
                      bgpSettings:
                        asn: 65515
                        bgpPeeringAddress: 10.0.0.14
                        peerWeight: 0
                      customRoutes:
                        addressPrefixes:
                          - 101.168.0.6/32
                      enableBgp: false
                      gatewayType: Vpn
                      ipConfigurations:
                        - etag: W/"00000000-0000-0000-0000-000000000000"
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw1/ipConfigurations/default
                          name: default
                          properties:
                            privateIPAllocationMethod: Dynamic
                            provisioningState: Succeeded
                            publicIPAddress:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/vpngw1-ip
                            subnet:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/GatewaySubnet
                      provisioningState: Succeeded
                      resourceGuid: 00000000-0000-0000-0000-000000000000
                      sku:
                        capacity: 2
                        name: VpnGw1
                        tier: VpnGw1
                      vpnClientConfiguration:
                        vpnClientProtocols: []
                        vpnClientRevokedCertificates: []
                        vpnClientRootCertificates: []
                      vpnType: RouteBased
                    type: Microsoft.Network/virtualNetworkGateways
                  - etag: W/"00000000-0000-0000-0000-000000000000"
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw2
                    location: loc2
                    name: vpngw2
                    properties:
                      activeActive: false
                      bgpSettings:
                        asn: 65515
                        bgpPeeringAddress: 10.1.0.46
                        peerWeight: 0
                      customRoutes:
                        addressPrefixes:
                          - 101.168.0.6/32
                      enableBgp: false
                      gatewayType: Vpn
                      ipConfigurations:
                        - etag: W/"00000000-0000-0000-0000-000000000000"
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw2/ipConfigurations/default
                          name: default
                          properties:
                            privateIPAllocationMethod: Dynamic
                            provisioningState: Succeeded
                            publicIPAddress:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/vpngw2-ip
                            subnet:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/GatewaySubnet
                      provisioningState: Succeeded
                      resourceGuid: 00000000-0000-0000-0000-000000000000
                      sku:
                        capacity: 2
                        name: VpnGw1
                        tier: VpnGw1
                      vpnClientConfiguration:
                        vpnClientProtocols: []
                        vpnClientRevokedCertificates: []
                        vpnClientRootCertificates: []
                      vpnType: RouteBased
                    type: Microsoft.Network/virtualNetworkGateways
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}":
    delete:
      description: Deletes the specified virtual network gateway.
      operationId: VirtualNetworkGateways_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Delete successful.
        "202":
          description: Accepted and the operation will complete asynchronously.
        "204":
          description: Delete successful.
      tags:
        - VirtualNetworkGateways
      x-ms-examples:
        DeleteVirtualNetworkGateway:
          parameters:
            api-version: 2019-02-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayName: vpngw
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      description: Gets the specified virtual network gateway by resource group.
      operationId: VirtualNetworkGateways_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns a VirtualNetworkGateway resource.
          schema:
            $ref: "#/definitions/VirtualNetworkGateway"
      tags:
        - VirtualNetworkGateways
      x-ms-examples:
        GetVirtualNetworkGateway:
          parameters:
            api-version: 2019-02-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayName: vpngw
          responses:
            "200":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw
                location: centralus
                name: vpngw
                properties:
                  activeActive: false
                  bgpSettings:
                    asn: 65514
                    bgpPeeringAddress: 10.0.1.30
                    peerWeight: 0
                  customRoutes:
                    addressPrefixes:
                      - 101.168.0.6/32
                  enableBgp: false
                  gatewayType: Vpn
                  ipConfigurations:
                    - etag: W/"00000000-0000-0000-0000-000000000000"
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw/ipConfigurations/gwipconfig1
                      name: gwipconfig1
                      properties:
                        privateIPAllocationMethod: Dynamic
                        provisioningState: Succeeded
                        publicIPAddress:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/gwpip
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/GatewaySubnet
                  provisioningState: Succeeded
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                  sku:
                    capacity: 0
                    name: VpnGw1
                    tier: VpnGw1
                  vpnType: RouteBased
                type: Microsoft.Network/virtualNetworkGateways
    patch:
      description: Updates a virtual network gateway tags.
      operationId: VirtualNetworkGateways_UpdateTags
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          type: string
        - description: Parameters supplied to update virtual network gateway tags.
          in: body
          name: parameters
          required: true
          schema:
            description: Tags object for patch operations.
            properties:
              tags:
                additionalProperties:
                  type: string
                description: Resource tags.
                type: object
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Update successful. The operation returns the resulting VirtualNetworkGateway resource.
          schema:
            $ref: "#/definitions/VirtualNetworkGateway"
      tags:
        - VirtualNetworkGateways
      x-ms-examples:
        UpdateVirtualNetworkGatewayTags:
          parameters:
            api-version: 2019-02-01
            parameters:
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayName: vpngw
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw
                location: westus
                name: vpngw
                properties:
                  activeActive: false
                  bgpSettings:
                    asn: 65515
                    bgpPeeringAddress: 10.0.0.254
                    peerWeight: 0
                  customRoutes:
                    addressPrefixes:
                      - 101.168.0.6/32
                  enableBgp: false
                  gatewayType: Vpn
                  ipConfigurations:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw/ipConfigurations/default
                      name: default
                      properties:
                        privateIPAllocationMethod: Dynamic
                        provisioningState: Succeeded
                        publicIPAddress:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/testpub1
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2/subnets/GatewaySubnet
                  provisioningState: Succeeded
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                  sku:
                    capacity: 2
                    name: VpnGw1
                    tier: VpnGw1
                  vpnType: RouteBased
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Network/virtualNetworkGateways
      x-ms-long-running-operation: true
    put:
      description: Creates or updates a virtual network gateway in the specified resource group.
      operationId: VirtualNetworkGateways_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          type: string
        - description: Parameters supplied to create or update virtual network gateway operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/VirtualNetworkGateway"
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Update successful. The operation returns the resulting VirtualNetworkGateway resource.
          schema:
            $ref: "#/definitions/VirtualNetworkGateway"
        "201":
          description: Create successful. The operation returns the resulting VirtualNetworkGateway resource.
          schema:
            $ref: "#/definitions/VirtualNetworkGateway"
      tags:
        - VirtualNetworkGateways
      x-ms-examples:
        UpdateVirtualNetworkGateway:
          parameters:
            api-version: 2019-02-01
            parameters:
              location: centralus
              properties:
                activeActive: false
                bgpSettings:
                  asn: 65515
                  bgpPeeringAddress: 10.0.1.30
                  peerWeight: 0
                customRoutes:
                  addressPrefixes:
                    - 101.168.0.6/32
                enableBgp: false
                gatewayType: Vpn
                ipConfigurations:
                  - name: gwipconfig1
                    properties:
                      privateIPAllocationMethod: Dynamic
                      publicIPAddress:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/gwpip
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/GatewaySubnet
                sku:
                  name: VpnGw1
                  tier: VpnGw1
                vpnType: RouteBased
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayName: vpngw
          responses:
            "200":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw
                location: centralus
                name: vpngw
                properties:
                  activeActive: false
                  bgpSettings:
                    asn: 65515
                    bgpPeeringAddress: 10.0.1.30
                    peerWeight: 0
                  customRoutes:
                    addressPrefixes:
                      - 101.168.0.6/32
                  enableBgp: false
                  gatewayType: Vpn
                  ipConfigurations:
                    - etag: W/"00000000-0000-0000-0000-000000000000"
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw/ipConfigurations/gwipconfig1
                      name: gwipconfig1
                      properties:
                        privateIPAllocationMethod: Dynamic
                        provisioningState: Succeeded
                        publicIPAddress:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/gwpip
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/GatewaySubnet
                  provisioningState: Succeeded
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                  sku:
                    capacity: 0
                    name: VpnGw1
                    tier: VpnGw1
                  vpnClientConfiguration:
                    vpnClientProtocols:
                      - SSTP
                      - IkeV2
                    vpnClientRevokedCertificates: []
                    vpnClientRootCertificates: []
                  vpnType: RouteBased
                type: Microsoft.Network/virtualNetworkGateways
            "201":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw
                location: centralus
                name: vpngw
                properties:
                  activeActive: false
                  bgpSettings:
                    asn: 65515
                    bgpPeeringAddress: 10.0.1.30
                    peerWeight: 0
                  customRoutes:
                    addressPrefixes:
                      - 101.168.0.6/32
                  enableBgp: false
                  gatewayType: Vpn
                  ipConfigurations:
                    - etag: W/"00000000-0000-0000-0000-000000000000"
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw/ipConfigurations/gwipconfig1
                      name: gwipconfig1
                      properties:
                        privateIPAllocationMethod: Dynamic
                        provisioningState: Succeeded
                        publicIPAddress:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/gwpip
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/GatewaySubnet
                  provisioningState: Succeeded
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                  sku:
                    capacity: 0
                    name: VpnGw1
                    tier: VpnGw1
                  vpnClientConfiguration:
                    vpnClientProtocols:
                      - SSTP
                      - IkeV2
                    vpnClientRevokedCertificates: []
                    vpnClientRootCertificates: []
                  vpnType: RouteBased
                type: Microsoft.Network/virtualNetworkGateways
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/connections":
    get:
      description: Gets all the connections in a virtual network gateway.
      operationId: VirtualNetworkGateways_ListConnections
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns a list of VirtualNetworkGatewayConnection resource.
          schema:
            $ref: "#/definitions/VirtualNetworkGatewayListConnectionsResult"
      tags:
        - VirtualNetworkGateways
      x-ms-examples:
        VirtualNetworkGatewaysListConnections:
          parameters:
            api-version: 2019-02-01
            resourceGroupName: testrg
            subscriptionId: subid
            virtualNetworkGatewayName: test-vpn-gateway-1
          responses:
            "200":
              body:
                value:
                  - etag: W/\"00000000-0000-0000-0000-000000000000\"
                    id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/connections/test-vpn-connection
                    location: eastus
                    name: test-vpn-connection
                    properties:
                      connectionType: Vnet2Vnet
                      egressBytesTransferred: 0
                      enableBgp: true
                      ingressBytesTransferred: 0
                      ipsecPolicies: []
                      provisioningState: Succeeded
                      resourceGuid: 00000000-0000-0000-0000-000000000000
                      routingWeight: 22
                      usePolicyBasedTrafficSelectors: false
                      virtualNetworkGateway1:
                        id: /subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/virtualNetworkGateways/test-vpn-gateway-1
                      virtualNetworkGateway2:
                        id: /subscriptions/subid/resourceGroups/testrg-2/providers/Microsoft.Network/virtualNetworkGateways/test-vpn-gateway-2
                    type: Microsoft.Network/connections
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/generatevpnclientpackage":
    post:
      description: Generates VPN client package for P2S client of the virtual network gateway in the specified resource group.
      operationId: VirtualNetworkGateways_Generatevpnclientpackage
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          type: string
        - description: Parameters supplied to the generate virtual network gateway VPN client package operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/VpnClientParameters"
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: VPN client package URL.
          schema:
            type: string
        "202":
          description: Accepted and the operation will complete asynchronously.
      tags:
        - VirtualNetworkGateways
      x-ms-examples:
        GenerateVPNClientPackage:
          parameters:
            api-version: 2019-02-01
            parameters: {}
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayName: vpngw
          responses:
            "200":
              body: ""
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/generatevpnprofile":
    post:
      description: Generates VPN profile for P2S client of the virtual network gateway in the specified resource group. Used for IKEV2 and radius based authentication.
      operationId: VirtualNetworkGateways_GenerateVpnProfile
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          type: string
        - description: Parameters supplied to the generate virtual network gateway VPN client package operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/VpnClientParameters"
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: VPN profile package URL.
          schema:
            type: string
        "202":
          description: Accepted and the operation will complete asynchronously.
      tags:
        - VirtualNetworkGateways
      x-ms-examples:
        GenerateVirtualNetworkGatewayVPNProfile:
          parameters:
            api-version: 2019-02-01
            parameters: {}
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayName: vpngw
          responses:
            "200":
              body: ""
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getAdvertisedRoutes":
    post:
      description: This operation retrieves a list of routes the virtual network gateway is advertising to the specified peer.
      operationId: VirtualNetworkGateways_GetAdvertisedRoutes
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          type: string
        - description: The IP address of the peer
          in: query
          name: peer
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: List of learned BGP routes
          schema:
            $ref: "#/definitions/GatewayRouteListResult"
        "202":
          description: Accepted and the operation will complete asynchronously.
      tags:
        - VirtualNetworkGateways
      x-ms-examples:
        GetVirtualNetworkGatewayAdvertisedRoutes:
          parameters:
            api-version: 2019-02-01
            peer: test
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayName: vpngw
          responses:
            "200":
              body: {}
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getBgpPeerStatus":
    post:
      description: The GetBgpPeerStatus operation retrieves the status of all BGP peers.
      operationId: VirtualNetworkGateways_GetBgpPeerStatus
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          type: string
        - description: The IP address of the peer to retrieve the status of.
          in: query
          name: peer
          required: false
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: List of BGP peer statuses
          schema:
            $ref: "#/definitions/BgpPeerStatusListResult"
        "202":
          description: Accepted and the operation will complete asynchronously.
      tags:
        - VirtualNetworkGateways
      x-ms-examples:
        GetVirtualNetworkGatewayBGPPeerStatus:
          parameters:
            api-version: 2019-02-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayName: vpngw
          responses:
            "200":
              body: {}
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getLearnedRoutes":
    post:
      description: This operation retrieves a list of routes the virtual network gateway has learned, including routes learned from BGP peers.
      operationId: VirtualNetworkGateways_GetLearnedRoutes
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: List of advertised BGP routes
          schema:
            $ref: "#/definitions/GatewayRouteListResult"
        "202":
          description: Accepted and the operation will complete asynchronously.
      tags:
        - VirtualNetworkGateways
      x-ms-examples:
        GetVirtualNetworkGatewayLearnedRoutes:
          parameters:
            api-version: 2019-02-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayName: vpngw
          responses:
            "200":
              body: {}
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getvpnclientipsecparameters":
    post:
      description: The Get VpnclientIpsecParameters operation retrieves information about the vpnclient ipsec policy for P2S client of virtual network gateway in the specified resource group through Network resource provider.
      operationId: VirtualNetworkGateways_GetVpnclientIpsecParameters
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The virtual network gateway name.
          in: path
          name: virtualNetworkGatewayName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns the set vpnclient ipsec parameters for P2S client of VirtualNetworkGateway resource.
          schema:
            $ref: "#/definitions/VpnClientIPsecParameters"
      tags:
        - VirtualNetworkGateways
      x-ms-examples:
        Get VirtualNetworkGateway VpnClientIpsecParameters:
          parameters:
            api-version: 2019-02-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayName: vpngw
          responses:
            "200":
              body:
                dhGroup: DHGroup2
                ikeEncryption: AES256
                ikeIntegrity: SHA384
                ipsecEncryption: AES256
                ipsecIntegrity: SHA256
                pfsGroup: PFS2
                saDataSizeKilobytes: 429497
                saLifeTimeSeconds: 86473
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/getvpnprofilepackageurl":
    post:
      description: Gets pre-generated VPN profile for P2S client of the virtual network gateway in the specified resource group. The profile needs to be generated first using generateVpnProfile.
      operationId: VirtualNetworkGateways_GetVpnProfilePackageUrl
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: VPN profile package URL.
          schema:
            type: string
        "202":
          description: Accepted and the operation will complete asynchronously.
      tags:
        - VirtualNetworkGateways
      x-ms-examples:
        GetVirtualNetworkGatewayVPNProfilePackageURL:
          parameters:
            api-version: 2019-02-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayName: vpngw
          responses:
            "200":
              body: ""
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/reset":
    post:
      description: Resets the primary of the virtual network gateway in the specified resource group.
      operationId: VirtualNetworkGateways_Reset
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          type: string
        - description: Virtual network gateway vip address supplied to the begin reset of the active-active feature enabled gateway.
          in: query
          name: gatewayVip
          required: false
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation reset the primary of the virtual network gateway.
          schema:
            $ref: "#/definitions/VirtualNetworkGateway"
        "202":
          description: Accepted and the operation will complete asynchronously.
      tags:
        - VirtualNetworkGateways
      x-ms-examples:
        ResetVirtualNetworkGateway:
          parameters:
            api-version: 2019-02-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayName: vpngw
          responses:
            "200":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw
                location: centralus
                name: vpngw
                properties:
                  activeActive: false
                  bgpSettings:
                    asn: 65514
                    bgpPeeringAddress: 10.0.1.30
                    peerWeight: 0
                  customRoutes:
                    addressPrefixes:
                      - 101.168.0.6/32
                  enableBgp: false
                  gatewayType: Vpn
                  ipConfigurations:
                    - etag: W/"00000000-0000-0000-0000-000000000000"
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vpngw/ipConfigurations/gwipconfig1
                      name: gwipconfig1
                      properties:
                        privateIPAllocationMethod: Dynamic
                        provisioningState: Succeeded
                        publicIPAddress:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/gwpip
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/GatewaySubnet
                  provisioningState: Succeeded
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                  sku:
                    capacity: 0
                    name: VpnGw1
                    tier: VpnGw1
                  vpnType: RouteBased
                type: Microsoft.Network/virtualNetworkGateways
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/resetvpnclientsharedkey":
    post:
      description: Resets the VPN client shared key of the virtual network gateway in the specified resource group.
      operationId: VirtualNetworkGateways_ResetVpnClientSharedKey
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation reset the vpn client shared key of the virtual network gateway.
        "202":
          description: Accepted and the operation will complete asynchronously
      tags:
        - VirtualNetworkGateways
      x-ms-examples:
        ResetVpnClientSharedKey:
          parameters:
            api-version: 2019-02-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayName: vpngw
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/setvpnclientipsecparameters":
    post:
      description: The Set VpnclientIpsecParameters operation sets the vpnclient ipsec policy for P2S client of virtual network gateway in the specified resource group through Network resource provider.
      operationId: VirtualNetworkGateways_SetVpnclientIpsecParameters
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          type: string
        - description: Parameters supplied to the Begin Set vpnclient ipsec parameters of Virtual Network Gateway P2S client operation through Network resource provider.
          in: body
          name: vpnclientIpsecParams
          required: true
          schema:
            $ref: "#/definitions/VpnClientIPsecParameters"
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation sets the specified vpnclient ipsec parameters for P2S client of the virtual network gateway.
          schema:
            $ref: "#/definitions/VpnClientIPsecParameters"
        "202":
          description: Accepted and the operation will complete asynchronously.
      tags:
        - VirtualNetworkGateways
      x-ms-examples:
        Set VirtualNetworkGateway VpnClientIpsecParameters:
          parameters:
            api-version: 2019-02-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayName: vpngw
            vpnclientIpsecParams:
              dhGroup: DHGroup2
              ikeEncryption: AES256
              ikeIntegrity: SHA384
              ipsecEncryption: AES256
              ipsecIntegrity: SHA256
              pfsGroup: PFS2
              saDataSizeKilobytes: 429497
              saLifeTimeSeconds: 86473
          responses:
            "200":
              body: ""
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/supportedvpndevices":
    post:
      description: Gets a xml format representation for supported vpn devices.
      operationId: VirtualNetworkGateways_SupportedVpnDevices
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Xml format representation for supported vpn devices.
          schema:
            type: string
      tags:
        - VirtualNetworkGateways
      x-ms-examples:
        ListVirtualNetworkGatewaySupportedVPNDevices:
          parameters:
            api-version: 2019-02-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualNetworkGatewayName: vpngw
          responses:
            "200":
              body: <?xml version="1.0" encoding="utf-8"?><RpVpnDeviceList version="1.0"><Vendor name="Cisco"><DeviceFamily name="ISR"><FirmwareVersion name="IOS 15.1 (Preview)" /></DeviceFamily><DeviceFamily name="ASA (Adaptive Security Appliance)"><FirmwareVersion name="ASA_9.8.x_ActivePassive_NoBGP_NoCustomPolicies"/><FirmwareVersion name="ASA_9.8(x)_CustomPolicies" /></DeviceFamily></Vendor><Vendor name="Juniper"><DeviceFamily name="Juniper_SRX_GA"><FirmwareVersion name="Juniper_SRX_12.x_GA" /></DeviceFamily><DeviceFamily name="Juniper_SSG_GA"><FirmwareVersion name="Juniper_SSG_ScreenOS-6.2.x_GA"/></DeviceFamily><DeviceFamily name="Juniper_JSeries_GA"><FirmwareVersion name="Juniper_JSeries_JunOS12.x._GA" /></DeviceFamily></Vendor><Vendor name="Ubiquiti"><DeviceFamily name="EdgeRouter"><FirmwareVersion name="Ubiquiti_EdgeOS_1.10.x-RouteBased_VTI" /><FirmwareVersionname="Ubiquiti_EdgeOS_1.10.x-RouteBased_BGP" /></DeviceFamily></Vendor></RpVpnDeviceList>
definitions:
  BgpPeerStatus:
    description: BGP peer status details
    properties:
      asn:
        description: The autonomous system number of the remote BGP peer
        format: int32
        readOnly: true
        type: integer
      connectedDuration:
        description: For how long the peering has been up
        readOnly: true
        type: string
      localAddress:
        description: The virtual network gateway's local address
        readOnly: true
        type: string
      messagesReceived:
        description: The number of BGP messages received
        format: int64
        readOnly: true
        type: integer
      messagesSent:
        description: The number of BGP messages sent
        format: int64
        readOnly: true
        type: integer
      neighbor:
        description: The remote BGP peer
        readOnly: true
        type: string
      routesReceived:
        description: The number of routes learned from this peer
        format: int64
        readOnly: true
        type: integer
      state:
        description: The BGP peer state
        enum:
          - Unknown
          - Stopped
          - Idle
          - Connecting
          - Connected
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: BgpPeerState
  BgpPeerStatusListResult:
    description: Response for list BGP peer status API service call
    properties:
      value:
        description: List of BGP peers
        items:
          $ref: "#/definitions/BgpPeerStatus"
        type: array
  BgpSettings:
    description: BGP settings details
    properties:
      asn:
        description: The BGP speaker's ASN.
        format: int64
        type: integer
      bgpPeeringAddress:
        description: The BGP peering address and BGP identifier of this BGP speaker.
        type: string
      peerWeight:
        description: The weight added to routes learned from this BGP speaker.
        format: int32
        type: integer
  ConnectionProtocol:
    description: "Gateway connection protocol. Possible values are: 'IKEv2', 'IKEv1'."
    enum:
      - IKEv2
      - IKEv1
    type: string
    x-ms-enum:
      modelAsString: true
      name: VirtualNetworkGatewayConnectionProtocol
  ConnectionResetSharedKey:
    description: The virtual network connection reset shared key
    properties:
      keyLength:
        description: The virtual network connection reset shared key length, should between 1 and 128.
        format: int32
        maximum: 128
        minimum: 1
        type: integer
    required:
      - keyLength
  ConnectionSharedKey:
    allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        x-ms-azure-resource: true
    description: Response for GetConnectionSharedKey API service call
    properties:
      value:
        description: The virtual network connection shared key value.
        type: string
    required:
      - value
  DhGroup:
    description: The DH Groups used in IKE Phase 1 for initial SA.
    enum:
      - None
      - DHGroup1
      - DHGroup2
      - DHGroup14
      - DHGroup2048
      - ECP256
      - ECP384
      - DHGroup24
    type: string
    x-ms-enum:
      modelAsString: true
[...]
