swagger: "2.0"
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: Application operation results.
  title: FabricAdminClient
  version: 2016-05-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/ApplicationOperationResults.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-ApplicationOperationResults
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Authorization uses an Azure Active Directory OAuth2 flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  OperationParameter:
    description: Operation identifier.
    in: path
    name: operation
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/applicationOperationResults":
    get:
      description: Returns a list of all application operation results at a location.
      operationId: ApplicationOperationResults_List
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2016-05-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
        - description: OData filter parameter.
          in: query
          name: $filter
          type: string
          x-ms-parameter-location: method
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ApplicationOperationResultList"
        "404":
          description: NOT FOUND
      tags:
        - ApplicationOperationResults
      x-ms-examples:
        Returns a list of all application operation results at a location.:
          parameters:
            api-version: 2016-05-01
            location: local
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                  - properties:
                      provisioningState: Succeeded
                  - error:
                      code: OperationBlockedDueToUpdateInProgress
                      message: The operation cannot be performed at the present time, because there is an Azure Stack update in progress. Wait until the Azure Stack update is complete and then try your operation again.
                    properties:
                      provisioningState: Failed
            "404": {}
      x-ms-odata: "#/definitions/ApplicationOperationResult"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/applicationOperationResults/{operation}":
    get:
      description: Returns the status of an application operation.
      operationId: ApplicationOperationResults_Get
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/OperationParameter"
        - default: 2016-05-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ApplicationOperationResult"
        "404":
          description: NOT FOUND
      tags:
        - ApplicationOperationResults
      x-ms-examples:
        Returns the status of the operation.:
          parameters:
            api-version: 2016-05-01
            location: local
            operation: 7129ebd4-efb5-4faf-89a5-9b9071811610
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                properties:
                  provisioningState: Succeeded
            "404": {}
definitions:
  ApplicationOperationResult:
    allOf:
      - description: Base resource object.
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: The region where the resource is located.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key-value pairs.
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
    description: Application operation result description.
    properties:
      properties:
        $ref: "#/definitions/ApplicationOperationResultModel"
        description: Application operation result properties.
        x-ms-client-flatten: true
    type: object
  ApplicationOperationResultList:
    description: Pageable list of application operation results.
    properties:
      nextLink:
        description: URI to the next page.
        type: string
      value:
        description: List of application operation results.
        items:
          $ref: "#/definitions/ApplicationOperationResult"
        type: array
    type: object
  ApplicationOperationResultModel:
    description: Application operation result properties.
    properties:
      instances:
        description: List of operation result instances.
        items:
          type: string
        type: array
      provisioningState:
        description: Success or failure of operation.
        type: string
    type: object
