openapi: 3.0.0
servers:
  - url: https://trello.com/1
x-hasEquivalentPaths: true
info:
  contact:
    name: Trello
    url: https://trello.com/home
  description: |-
    This document describes the REST API of Trello as published by Trello.com.
     - <a href='https://trello.com/docs/index.html' target='_blank'>Official Documentation</a>
     - <a href='https://trello.com/docs/api' target='_blank'>The HTML pages that were scraped in order to generate this specification.</a>
  license:
    name: "Trello : Terms of Service"
    url: https://trello.com/legal
  termsOfService: https://trello.com/legal
  title: Trello
  version: "1.0"
  x-apisguru-categories:
    - collaboration
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_d2k1ftgv7pobq7.cloudfront.net_meta_p_res_images_c13d1cd96a2cff30f0460a5e1860c5ea_header-logo-blue.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/APIs-guru/unofficial_openapi_specs/master/trello.com/1.0/swagger.yaml
      version: "3.0"
  x-providerName: trello.com
  x-unofficialSpec: true
externalDocs:
  url: https://developers.trello.com
tags:
  - description: https://trello.com/docs/api/action/index.html
    name: action
  - description: https://trello.com/docs/api/batch/index.html
    name: batch
  - description: https://trello.com/docs/api/board/index.html
    name: board
  - description: https://trello.com/docs/api/card/index.html
    name: card
  - description: https://trello.com/docs/api/checklist/index.html
    name: checklist
  - description: https://trello.com/docs/api/label/index.html
    name: label
  - description: https://trello.com/docs/api/list/index.html
    name: list
  - description: https://trello.com/docs/api/member/index.html
    name: member
  - description: https://trello.com/docs/api/notification/index.html
    name: notification
  - description: https://trello.com/docs/api/organization/index.html
    name: organization
  - description: https://trello.com/docs/api/search/index.html
    name: search
  - description: https://trello.com/docs/api/session/index.html
    name: session
  - description: https://trello.com/docs/api/token/index.html
    name: token
  - description: https://trello.com/docs/api/type/index.html
    name: type
  - description: https://trello.com/docs/api/webhook/index.html
    name: webhook
paths:
  "/actions/{idAction}":
    delete:
      operationId: deleteActionsByIdAction
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: deleteActionsByIdAction()
      tags:
        - action
    get:
      operationId: getActionsByIdAction
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        - description: " true or false"
          in: query
          name: display
          required: false
          schema:
            type: string
        - description: " true or false"
          in: query
          name: entities
          required: false
          schema:
            type: string
        - description: "all or a comma-separated list of: data, date, idMemberCreator or type"
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
        - description: " true or false"
          in: query
          name: member
          required: false
          schema:
            type: string
        - description: "all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username"
          in: query
          name: member_fields
          required: false
          schema:
            default: avatarHash, fullName, initials and username
            type: string
        - description: " true or false"
          in: query
          name: memberCreator
          required: false
          schema:
            type: string
        - description: "all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username"
          in: query
          name: memberCreator_fields
          required: false
          schema:
            default: avatarHash, fullName, initials and username
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: getActionsByIdAction()
      tags:
        - action
    put:
      operationId: updateActionsByIdAction
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/actions"
        description: Attributes of "Actions" to be updated.
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: updateActionsByIdAction()
      tags:
        - action
  "/actions/{idAction}/board":
    get:
      operationId: getActionsBoardByIdAction
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        - description: "all or a comma-separated list of: closed, dateLastActivity, dateLastView, desc, descData, idOrganization, invitations, invited, labelNames, memberships, name, pinned, powerUps, prefs, shortLink, shortUrl, starred, subscribed or url"
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: getActionsBoardByIdAction()
      tags:
        - action
  "/actions/{idAction}/board/{field}":
    get:
      operationId: getActionsBoardByIdActionByField
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        - description: field
          in: path
          name: field
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: getActionsBoardByIdActionByField()
      tags:
        - action
  "/actions/{idAction}/card":
    get:
      operationId: getActionsCardByIdAction
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        - description: "all or a comma-separated list of: badges, checkItemStates, closed, dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels, manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url"
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: getActionsCardByIdAction()
      tags:
        - action
  "/actions/{idAction}/card/{field}":
    get:
      operationId: getActionsCardByIdActionByField
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        - description: field
          in: path
          name: field
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: getActionsCardByIdActionByField()
      tags:
        - action
  "/actions/{idAction}/display":
    get:
      operationId: getActionsDisplayByIdAction
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: getActionsDisplayByIdAction()
      tags:
        - action
  "/actions/{idAction}/entities":
    get:
      operationId: getActionsEntitiesByIdAction
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: getActionsEntitiesByIdAction()
      tags:
        - action
  "/actions/{idAction}/list":
    get:
      operationId: getActionsListByIdAction
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        - description: "all or a comma-separated list of: closed, idBoard, name, pos or subscribed"
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: getActionsListByIdAction()
      tags:
        - action
  "/actions/{idAction}/list/{field}":
    get:
      operationId: getActionsListByIdActionByField
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        - description: field
          in: path
          name: field
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: getActionsListByIdActionByField()
      tags:
        - action
  "/actions/{idAction}/member":
    get:
      operationId: getActionsMemberByIdAction
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        - description: "all or a comma-separated list of: avatarHash, avatarSource, bio, bioData, confirmed, email, fullName, gravatarHash, idBoards, idBoardsPinned, idOrganizations, idPremOrgsAdmin, initials, loginTypes, memberType, oneTimeMessagesDismissed, prefs, premiumFeatures, products, status, status, trophies, uploadedAvatarHash, url or username"
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: getActionsMemberByIdAction()
      tags:
        - action
  "/actions/{idAction}/member/{field}":
    get:
      operationId: getActionsMemberByIdActionByField
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        - description: field
          in: path
          name: field
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: getActionsMemberByIdActionByField()
      tags:
        - action
  "/actions/{idAction}/memberCreator":
    get:
      operationId: getActionsMemberCreatorByIdAction
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        - description: "all or a comma-separated list of: avatarHash, avatarSource, bio, bioData, confirmed, email, fullName, gravatarHash, idBoards, idBoardsPinned, idOrganizations, idPremOrgsAdmin, initials, loginTypes, memberType, oneTimeMessagesDismissed, prefs, premiumFeatures, products, status, status, trophies, uploadedAvatarHash, url or username"
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: getActionsMemberCreatorByIdAction()
      tags:
        - action
  "/actions/{idAction}/memberCreator/{field}":
    get:
      operationId: getActionsMemberCreatorByIdActionByField
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        - description: field
          in: path
          name: field
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: getActionsMemberCreatorByIdActionByField()
      tags:
        - action
  "/actions/{idAction}/organization":
    get:
      operationId: getActionsOrganizationByIdAction
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        - description: "all or a comma-separated list of: billableMemberCount, desc, descData, displayName, idBoards, invitations, invited, logoHash, memberships, name, powerUps, prefs, premiumFeatures, products, url or website"
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: getActionsOrganizationByIdAction()
      tags:
        - action
  "/actions/{idAction}/organization/{field}":
    get:
      operationId: getActionsOrganizationByIdActionByField
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        - description: field
          in: path
          name: field
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: getActionsOrganizationByIdActionByField()
      tags:
        - action
  "/actions/{idAction}/text":
    put:
      operationId: updateActionsTextByIdAction
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/actions_text"
        description: Attributes of "Actions Text" to be updated.
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: updateActionsTextByIdAction()
      tags:
        - action
  "/actions/{idAction}/{field}":
    get:
      operationId: getActionsByIdActionByField
      parameters:
        - description: idAction
          in: path
          name: idAction
          required: true
          schema:
            type: string
        - description: field
          in: path
          name: field
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      summary: getActionsByIdActionByField()
      tags:
        - action
  /batch:
    get:
      operationId: getBatch
      parameters:
        - description: list of API v1 GET routes, not including the version prefix
          in: query
          name: urls
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      summary: getBatch()
      tags:
        - batch
  /boards:
    post:
      operationId: addBoards
      parameters:
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boards"
        description: Attributes of "Boards" to be added.
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: addBoards()
      tags:
        - board
  "/boards/{idBoard}":
    get:
      operationId: getBoardsByIdBoard
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: "all or a comma-separated list of: addAttachmentToCard, addChecklistToCard, addMemberToBoard, addMemberToCard, addMemberToOrganization, addToOrganizationBoard, commentCard, convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard, createBoard, createCard, createList, createOrganization, deleteAttachmentFromCard, deleteBoardInvitation, deleteCard, deleteOrganizationInvitation, disablePowerUp, emailCard, enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard, makeNormalMemberOfOrganization, makeObserverOfBoard, memberJoinedTrello, moveCardFromBoard, moveCardToBoard, moveListFromBoard, moveListToBoard, removeChecklistFromCard, removeFromOrganizationBoard, removeMemberFromCard, unconfirmedBoardInvitation, unconfirmedOrganizationInvitation, updateBoard, updateCard, updateCard:closed, updateCard:desc, updateCard:idList, updateCard:name, updateCheckItemStateOnCard, updateChecklist, updateList, updateList:closed, updateList:name, updateMember or updateOrganization"
          in: query
          name: actions
          required: false
          schema:
            type: string
        - description: " true or false"
          in: query
          name: actions_entities
          required: false
          schema:
            type: string
        - description: " true or false"
          in: query
          name: actions_display
          required: false
          schema:
            type: string
        - description: "One of: count, list or minimal"
          in: query
          name: actions_format
          required: false
          schema:
            default: list
            type: string
        - description: A date, null or lastView
          in: query
          name: actions_since
          required: false
          schema:
            type: string
        - description: a number from 0 to 1000
          in: query
          name: actions_limit
          required: false
          schema:
            default: "50"
            type: string
        - description: "all or a comma-separated list of: data, date, idMemberCreator or type"
          in: query
          name: action_fields
          required: false
          schema:
            default: all
            type: string
        - description: " true or false"
          in: query
          name: action_member
          required: false
          schema:
            type: string
        - description: "all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username"
          in: query
          name: action_member_fields
          required: false
          schema:
            default: avatarHash, fullName, initials and username
            type: string
        - description: " true or false"
          in: query
          name: action_memberCreator
          required: false
          schema:
            type: string
        - description: "all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username"
          in: query
          name: action_memberCreator_fields
          required: false
          schema:
            default: avatarHash, fullName, initials and username
            type: string
        - description: "One of: all, closed, none, open or visible"
          in: query
          name: cards
          required: false
          schema:
            default: none
            type: string
        - description: "all or a comma-separated list of: badges, checkItemStates, closed, dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels, manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url"
          in: query
          name: card_fields
          required: false
          schema:
            default: all
            type: string
        - description: A boolean value or &quot;cover&quot; for only card cover attachments
          in: query
          name: card_attachments
          required: false
          schema:
            type: string
        - description: "all or a comma-separated list of: bytes, date, edgeColor, idMember, isUpload, mimeType, name, previews or url"
          in: query
          name: card_attachment_fields
          required: false
          schema:
            default: all
            type: string
        - description: "One of: all or none"
          in: query
          name: card_checklists
          required: false
          schema:
            default: none
            type: string
        - description: " true or false"
          in: query
          name: card_stickers
          required: false
          schema:
            type: string
        - description: "One of: mine or none"
          in: query
          name: boardStars
          required: false
          schema:
            default: none
            type: string
        - description: "One of: all or none"
          in: query
          name: labels
          required: false
          schema:
            default: none
            type: string
        - description: "all or a comma-separated list of: color, idBoard, name or uses"
          in: query
          name: label_fields
          required: false
          schema:
            default: all
            type: string
        - description: a number from 0 to 1000
          in: query
          name: labels_limit
          required: false
          schema:
            default: "50"
            type: string
        - description: "One of: all, closed, none or open"
          in: query
          name: lists
          required: false
          schema:
            default: none
            type: string
        - description: "all or a comma-separated list of: closed, idBoard, name, pos or subscribed"
          in: query
          name: list_fields
          required: false
          schema:
            default: all
            type: string
        - description: "all or a comma-separated list of: active, admin, deactivated, me or normal"
          in: query
          name: memberships
          required: false
          schema:
            default: none
            type: string
        - description: " true or false"
          in: query
          name: memberships_member
          required: false
          schema:
            type: string
        - description: "all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username"
          in: query
          name: memberships_member_fields
          required: false
          schema:
            default: fullName and username
            type: string
        - description: "One of: admins, all, none, normal or owners"
          in: query
          name: members
          required: false
          schema:
            default: none
            type: string
        - description: "all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username"
          in: query
          name: member_fields
          required: false
          schema:
            default: avatarHash, initials, fullName, username and confirmed
            type: string
        - description: "One of: admins, all, none, normal or owners"
          in: query
          name: membersInvited
          required: false
          schema:
            default: none
            type: string
        - description: "all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username"
          in: query
          name: membersInvited_fields
          required: false
          schema:
            default: avatarHash, initials, fullName and username
            type: string
        - description: "One of: all or none"
          in: query
          name: checklists
          required: false
          schema:
            default: none
            type: string
        - description: "all or a comma-separated list of: idBoard, idCard, name or pos"
          in: query
          name: checklist_fields
          required: false
          schema:
            default: all
            type: string
        - description: " true or false"
          in: query
          name: organization
          required: false
          schema:
            type: string
        - description: "all or a comma-separated list of: billableMemberCount, desc, descData, displayName, idBoards, invitations, invited, logoHash, memberships, name, powerUps, prefs, premiumFeatures, products, url or website"
          in: query
          name: organization_fields
          required: false
          schema:
            default: name and displayName
            type: string
        - description: "all or a comma-separated list of: active, admin, deactivated, me or normal"
          in: query
          name: organization_memberships
          required: false
          schema:
            default: none
            type: string
        - description: " true or false"
          in: query
          name: myPrefs
          required: false
          schema:
            type: string
        - description: "all or a comma-separated list of: closed, dateLastActivity, dateLastView, desc, descData, idOrganization, invitations, invited, labelNames, memberships, name, pinned, powerUps, prefs, shortLink, shortUrl, starred, subscribed or url"
          in: query
          name: fields
          required: false
          schema:
            default: name, desc, descData, closed, idOrganization, pinned, url, shortUrl, prefs and labelNames
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: getBoardsByIdBoard()
      tags:
        - board
    put:
      operationId: updateBoardsByIdBoard
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boards"
        description: Attributes of "Boards" to be updated.
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: updateBoardsByIdBoard()
      tags:
        - board
  "/boards/{idBoard}/actions":
    get:
      operationId: getBoardsActionsByIdBoard
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: " true or false"
          in: query
          name: entities
          required: false
          schema:
            type: string
        - description: " true or false"
          in: query
          name: display
          required: false
          schema:
            type: string
        - description: "all or a comma-separated list of: addAttachmentToCard, addChecklistToCard, addMemberToBoard, addMemberToCard, addMemberToOrganization, addToOrganizationBoard, commentCard, convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard, createBoard, createCard, createList, createOrganization, deleteAttachmentFromCard, deleteBoardInvitation, deleteCard, deleteOrganizationInvitation, disablePowerUp, emailCard, enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard, makeNormalMemberOfOrganization, makeObserverOfBoard, memberJoinedTrello, moveCardFromBoard, moveCardToBoard, moveListFromBoard, moveListToBoard, removeChecklistFromCard, removeFromOrganizationBoard, removeMemberFromCard, unconfirmedBoardInvitation, unconfirmedOrganizationInvitation, updateBoard, updateCard, updateCard:closed, updateCard:desc, updateCard:idList, updateCard:name, updateCheckItemStateOnCard, updateChecklist, updateList, updateList:closed, updateList:name, updateMember or updateOrganization"
          in: query
          name: filter
          required: false
          schema:
            default: all
            type: string
        - description: "all or a comma-separated list of: data, date, idMemberCreator or type"
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
        - description: a number from 0 to 1000
          in: query
          name: limit
          required: false
          schema:
            default: "50"
            type: string
        - description: "One of: count, list or minimal"
          in: query
          name: format
          required: false
          schema:
            default: list
            type: string
        - description: A date, null or lastView
          in: query
          name: since
          required: false
          schema:
            type: string
        - description: A date, or null
          in: query
          name: before
          required: false
          schema:
            type: string
        - description: Page * limit must be less than 1000
          in: query
          name: page
          required: false
          schema:
            default: "0"
            type: string
        - description: Only return actions related to these model ids
          in: query
          name: idModels
          required: false
          schema:
            type: string
        - description: " true or false"
          in: query
          name: member
          required: false
          schema:
            type: string
        - description: "all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username"
          in: query
          name: member_fields
          required: false
          schema:
            default: avatarHash, fullName, initials and username
            type: string
        - description: " true or false"
          in: query
          name: memberCreator
          required: false
          schema:
            type: string
        - description: "all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username"
          in: query
          name: memberCreator_fields
          required: false
          schema:
            default: avatarHash, fullName, initials and username
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: getBoardsActionsByIdBoard()
      tags:
        - board
  "/boards/{idBoard}/boardStars":
    get:
      operationId: getBoardsBoardStarsByIdBoard
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: "One of: mine or none"
          in: query
          name: filter
          required: false
          schema:
            default: mine
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: getBoardsBoardStarsByIdBoard()
      tags:
        - board
  "/boards/{idBoard}/calendarKey/generate":
    post:
      operationId: addBoardsCalendarKeyGenerateByIdBoard
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: addBoardsCalendarKeyGenerateByIdBoard()
      tags:
        - board
  "/boards/{idBoard}/cards":
    get:
      operationId: getBoardsCardsByIdBoard
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: "all or a comma-separated list of: addAttachmentToCard, addChecklistToCard, addMemberToBoard, addMemberToCard, addMemberToOrganization, addToOrganizationBoard, commentCard, convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard, createBoard, createCard, createList, createOrganization, deleteAttachmentFromCard, deleteBoardInvitation, deleteCard, deleteOrganizationInvitation, disablePowerUp, emailCard, enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard, makeNormalMemberOfOrganization, makeObserverOfBoard, memberJoinedTrello, moveCardFromBoard, moveCardToBoard, moveListFromBoard, moveListToBoard, removeChecklistFromCard, removeFromOrganizationBoard, removeMemberFromCard, unconfirmedBoardInvitation, unconfirmedOrganizationInvitation, updateBoard, updateCard, updateCard:closed, updateCard:desc, updateCard:idList, updateCard:name, updateCheckItemStateOnCard, updateChecklist, updateList, updateList:closed, updateList:name, updateMember or updateOrganization"
          in: query
          name: actions
          required: false
          schema:
            type: string
        - description: A boolean value or &quot;cover&quot; for only card cover attachments
          in: query
          name: attachments
          required: false
          schema:
            type: string
        - description: "all or a comma-separated list of: bytes, date, edgeColor, idMember, isUpload, mimeType, name, previews or url"
          in: query
          name: attachment_fields
          required: false
          schema:
            default: all
            type: string
        - description: " true or false"
          in: query
          name: stickers
          required: false
          schema:
            type: string
        - description: " true or false"
          in: query
          name: members
          required: false
          schema:
            type: string
        - description: "all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username"
          in: query
          name: member_fields
          required: false
          schema:
            default: avatarHash, fullName, initials and username
            type: string
        - description: " true or false"
          in: query
          name: checkItemStates
          required: false
          schema:
            type: string
        - description: "One of: all or none"
          in: query
          name: checklists
          required: false
          schema:
            default: none
            type: string
        - description: a number from 1 to 1000
          in: query
          name: limit
          required: false
          schema:
            type: string
        - description: A date, or null
          in: query
          name: since
          required: false
          schema:
            type: string
        - description: A date, or null
          in: query
          name: before
          required: false
          schema:
            type: string
        - description: "One of: all, closed, none, open or visible"
          in: query
          name: filter
          required: false
          schema:
            default: visible
            type: string
        - description: "all or a comma-separated list of: badges, checkItemStates, closed, dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels, manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url"
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: getBoardsCardsByIdBoard()
      tags:
        - board
  "/boards/{idBoard}/cards/{filter}":
    get:
      operationId: getBoardsCardsByIdBoardByFilter
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: filter
          in: path
          name: filter
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      summary: getBoardsCardsByIdBoardByFilter()
      tags:
        - board
  "/boards/{idBoard}/cards/{idCard}":
    get:
      operationId: getBoardsCardsByIdBoardByIdCard
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: idCard
          in: path
          name: idCard
          required: true
          schema:
            type: string
        - description: A boolean value or &quot;cover&quot; for only card cover attachments
          in: query
          name: attachments
          required: false
          schema:
            type: string
        - description: "all or a comma-separated list of: bytes, date, edgeColor, idMember, isUpload, mimeType, name, previews or url"
          in: query
          name: attachment_fields
          required: false
          schema:
            default: all
            type: string
        - description: "all or a comma-separated list of: addAttachmentToCard, addChecklistToCard, addMemberToBoard, addMemberToCard, addMemberToOrganization, addToOrganizationBoard, commentCard, convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard, createBoard, createCard, createList, createOrganization, deleteAttachmentFromCard, deleteBoardInvitation, deleteCard, deleteOrganizationInvitation, disablePowerUp, emailCard, enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard, makeNormalMemberOfOrganization, makeObserverOfBoard, memberJoinedTrello, moveCardFromBoard, moveCardToBoard, moveListFromBoard, moveListToBoard, removeChecklistFromCard, removeFromOrganizationBoard, removeMemberFromCard, unconfirmedBoardInvitation, unconfirmedOrganizationInvitation, updateBoard, updateCard, updateCard:closed, updateCard:desc, updateCard:idList, updateCard:name, updateCheckItemStateOnCard, updateChecklist, updateList, updateList:closed, updateList:name, updateMember or updateOrganization"
          in: query
          name: actions
          required: false
          schema:
            type: string
        - description: " true or false"
          in: query
          name: actions_entities
          required: false
          schema:
            type: string
        - description: " true or false"
          in: query
          name: actions_display
          required: false
          schema:
            type: string
        - description: a number from 0 to 1000
          in: query
          name: actions_limit
          required: false
          schema:
            default: "50"
            type: string
        - description: "all or a comma-separated list of: data, date, idMemberCreator or type"
          in: query
          name: action_fields
          required: false
          schema:
            default: all
            type: string
        - description: "all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username"
          in: query
          name: action_memberCreator_fields
          required: false
          schema:
            default: avatarHash, fullName, initials and username
            type: string
        - description: " true or false"
          in: query
          name: members
          required: false
          schema:
            type: string
        - description: "all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username"
          in: query
          name: member_fields
          required: false
          schema:
            default: avatarHash, initials, fullName and username
            type: string
        - description: " true or false"
          in: query
          name: checkItemStates
          required: false
          schema:
            type: string
        - description: "all or a comma-separated list of: idCheckItem or state"
          in: query
          name: checkItemState_fields
          required: false
          schema:
            default: all
            type: string
        - description: " true or false"
          in: query
          name: labels
          required: false
          schema:
            type: string
        - description: "One of: all or none"
          in: query
          name: checklists
          required: false
          schema:
            default: none
            type: string
        - description: "all or a comma-separated list of: idBoard, idCard, name or pos"
          in: query
          name: checklist_fields
          required: false
          schema:
            default: all
            type: string
        - description: "all or a comma-separated list of: badges, checkItemStates, closed, dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels, manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url"
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: getBoardsCardsByIdBoardByIdCard()
      tags:
        - board
  "/boards/{idBoard}/checklists":
    get:
      operationId: getBoardsChecklistsByIdBoard
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: "One of: all, closed, none, open or visible"
          in: query
          name: cards
          required: false
          schema:
            default: none
            type: string
        - description: "all or a comma-separated list of: badges, checkItemStates, closed, dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels, manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url"
          in: query
          name: card_fields
          required: false
          schema:
            default: all
            type: string
        - description: "One of: all or none"
          in: query
          name: checkItems
          required: false
          schema:
            default: all
            type: string
        - description: "all or a comma-separated list of: name, nameData, pos, state or type"
          in: query
          name: checkItem_fields
          required: false
          schema:
            default: name, nameData, pos and state
            type: string
        - description: "One of: all or none"
          in: query
          name: filter
          required: false
          schema:
            default: all
            type: string
        - description: "all or a comma-separated list of: idBoard, idCard, name or pos"
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: getBoardsChecklistsByIdBoard()
      tags:
        - board
    post:
      operationId: addBoardsChecklistsByIdBoard
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boards_checklists"
        description: Attributes of "Boards Checklists" to be added.
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: addBoardsChecklistsByIdBoard()
      tags:
        - board
  "/boards/{idBoard}/closed":
    put:
      operationId: updateBoardsClosedByIdBoard
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boards_closed"
        description: Attributes of "Boards Closed" to be updated.
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: updateBoardsClosedByIdBoard()
      tags:
        - board
  "/boards/{idBoard}/deltas":
    get:
      operationId: getBoardsDeltasByIdBoard
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: A valid tag for subscribing
          in: query
          name: tags
          required: true
          schema:
            type: string
        - description: a number from -1 to Infinity
          in: query
          name: ixLastUpdate
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: getBoardsDeltasByIdBoard()
      tags:
        - board
  "/boards/{idBoard}/desc":
    put:
      operationId: updateBoardsDescByIdBoard
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boards_desc"
        description: Attributes of "Boards Desc" to be updated.
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: updateBoardsDescByIdBoard()
      tags:
        - board
  "/boards/{idBoard}/emailKey/generate":
    post:
      operationId: addBoardsEmailKeyGenerateByIdBoard
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: addBoardsEmailKeyGenerateByIdBoard()
      tags:
        - board
  "/boards/{idBoard}/idOrganization":
    put:
      operationId: updateBoardsIdOrganizationByIdBoard
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boards_idOrganization"
        description: Attributes of "Boards Id Organization" to be updated.
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: updateBoardsIdOrganizationByIdBoard()
      tags:
        - board
  "/boards/{idBoard}/labelNames/blue":
    put:
      operationId: updateBoardsLabelNamesBlueByIdBoard
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/labelNames_blue"
        description: Attributes of "Label Names Blue" to be updated.
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: updateBoardsLabelNamesBlueByIdBoard()
      tags:
        - board
  "/boards/{idBoard}/labelNames/green":
    put:
      operationId: updateBoardsLabelNamesGreenByIdBoard
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/labelNames_green"
        description: Attributes of "Label Names Green" to be updated.
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: updateBoardsLabelNamesGreenByIdBoard()
      tags:
        - board
  "/boards/{idBoard}/labelNames/orange":
    put:
      operationId: updateBoardsLabelNamesOrangeByIdBoard
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/labelNames_orange"
        description: Attributes of "Label Names Orange" to be updated.
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: updateBoardsLabelNamesOrangeByIdBoard()
      tags:
        - board
  "/boards/{idBoard}/labelNames/purple":
    put:
      operationId: updateBoardsLabelNamesPurpleByIdBoard
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/labelNames_purple"
        description: Attributes of "Label Names Purple" to be updated.
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: updateBoardsLabelNamesPurpleByIdBoard()
      tags:
        - board
  "/boards/{idBoard}/labelNames/red":
    put:
      operationId: updateBoardsLabelNamesRedByIdBoard
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/labelNames_red"
        description: Attributes of "Label Names Red" to be updated.
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: updateBoardsLabelNamesRedByIdBoard()
      tags:
        - board
  "/boards/{idBoard}/labelNames/yellow":
    put:
      operationId: updateBoardsLabelNamesYellowByIdBoard
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/labelNames_yellow"
        description: Attributes of "Label Names Yellow" to be updated.
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: updateBoardsLabelNamesYellowByIdBoard()
      tags:
        - board
  "/boards/{idBoard}/labels":
    get:
      operationId: getBoardsLabelsByIdBoard
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: "all or a comma-separated list of: color, idBoard, name or uses"
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
        - description: a number from 0 to 1000
          in: query
          name: limit
          required: false
          schema:
            default: "50"
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: getBoardsLabelsByIdBoard()
      tags:
        - board
    post:
      operationId: addBoardsLabelsByIdBoard
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boards_labels"
        description: Attributes of "Boards Labels" to be added.
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: addBoardsLabelsByIdBoard()
      tags:
        - board
  "/boards/{idBoard}/labels/{idLabel}":
    get:
      operationId: getBoardsLabelsByIdBoardByIdLabel
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: idLabel
          in: path
          name: idLabel
          required: true
          schema:
            type: string
        - description: "all or a comma-separated list of: color, idBoard, name or uses"
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: getBoardsLabelsByIdBoardByIdLabel()
      tags:
        - board
  "/boards/{idBoard}/lists":
    get:
      operationId: getBoardsListsByIdBoard
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: "One of: all, closed, none, open or visible"
          in: query
          name: cards
          required: false
          schema:
            default: none
            type: string
        - description: "all or a comma-separated list of: badges, checkItemStates, closed, dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels, manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url"
          in: query
          name: card_fields
          required: false
          schema:
            default: all
            type: string
        - description: "One of: all, closed, none or open"
          in: query
          name: filter
          required: false
          schema:
            default: open
            type: string
        - description: "all or a comma-separated list of: closed, idBoard, name, pos or subscribed"
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: getBoardsListsByIdBoard()
      tags:
        - board
    post:
      operationId: addBoardsListsByIdBoard
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/boards_lists"
        description: Attributes of "Boards Lists" to be added.
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: addBoardsListsByIdBoard()
      tags:
        - board
  "/boards/{idBoard}/lists/{filter}":
    get:
      operationId: getBoardsListsByIdBoardByFilter
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: filter
          in: path
          name: filter
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      summary: getBoardsListsByIdBoardByFilter()
      tags:
        - board
  "/boards/{idBoard}/markAsViewed":
    post:
      operationId: addBoardsMarkAsViewedByIdBoard
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: addBoardsMarkAsViewedByIdBoard()
      tags:
        - board
  "/boards/{idBoard}/members":
    get:
      operationId: getBoardsMembersByIdBoard
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: "One of: admins, all, none, normal or owners"
          in: query
          name: filter
          required: false
          schema:
            default: all
            type: string
        - description: "all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username"
          in: query
          name: fields
          required: false
          schema:
            default: fullName and username
            type: string
        - description: true or false ; works for premium organizations only.
          in: query
          name: activity
          required: false
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: getBoardsMembersByIdBoard()
      tags:
        - board
    put:
      operationId: updateBoardsMembersByIdBoard
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      requestBody:
        $ref: "#/components/requestBodies/boards_members"
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: updateBoardsMembersByIdBoard()
      tags:
        - board
  "/boards/{idBoard}/members/{filter}":
    get:
      operationId: getBoardsMembersByIdBoardByFilter
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: filter
          in: path
          name: filter
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      summary: getBoardsMembersByIdBoardByFilter()
      tags:
        - board
  "/boards/{idBoard}/members/{idMember}":
    delete:
      operationId: deleteBoardsMembersByIdBoardByIdMember
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: idMember
          in: path
          name: idMember
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: deleteBoardsMembersByIdBoardByIdMember()
      tags:
        - board
    put:
      operationId: updateBoardsMembersByIdBoardByIdMember
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: idMember
          in: path
          name: idMember
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      requestBody:
        $ref: "#/components/requestBodies/boards_members"
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: updateBoardsMembersByIdBoardByIdMember()
      tags:
        - board
  "/boards/{idBoard}/members/{idMember}/cards":
    get:
      operationId: getBoardsMembersCardsByIdBoardByIdMember
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: idMember
          in: path
          name: idMember
          required: true
          schema:
            type: string
        - description: "all or a comma-separated list of: addAttachmentToCard, addChecklistToCard, addMemberToBoard, addMemberToCard, addMemberToOrganization, addToOrganizationBoard, commentCard, convertToCardFromCheckItem, copyBoard, copyCard, copyCommentCard, createBoard, createCard, createList, createOrganization, deleteAttachmentFromCard, deleteBoardInvitation, deleteCard, deleteOrganizationInvitation, disablePowerUp, emailCard, enablePowerUp, makeAdminOfBoard, makeNormalMemberOfBoard, makeNormalMemberOfOrganization, makeObserverOfBoard, memberJoinedTrello, moveCardFromBoard, moveCardToBoard, moveListFromBoard, moveListToBoard, removeChecklistFromCard, removeFromOrganizationBoard, removeMemberFromCard, unconfirmedBoardInvitation, unconfirmedOrganizationInvitation, updateBoard, updateCard, updateCard:closed, updateCard:desc, updateCard:idList, updateCard:name, updateCheckItemStateOnCard, updateChecklist, updateList, updateList:closed, updateList:name, updateMember or updateOrganization"
          in: query
          name: actions
          required: false
          schema:
            type: string
        - description: A boolean value or &quot;cover&quot; for only card cover attachments
          in: query
          name: attachments
          required: false
          schema:
            type: string
        - description: "all or a comma-separated list of: bytes, date, edgeColor, idMember, isUpload, mimeType, name, previews or url"
          in: query
          name: attachment_fields
          required: false
          schema:
            default: all
            type: string
        - description: " true or false"
          in: query
          name: members
          required: false
          schema:
            type: string
        - description: "all or a comma-separated list of: avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url or username"
          in: query
          name: member_fields
          required: false
          schema:
            default: avatarHash, fullName, initials and username
            type: string
        - description: " true or false"
          in: query
          name: checkItemStates
          required: false
          schema:
            type: string
        - description: "One of: all or none"
          in: query
          name: checklists
          required: false
          schema:
            default: none
            type: string
        - description: " true or false"
          in: query
          name: board
          required: false
          schema:
            type: string
        - description: "all or a comma-separated list of: closed, dateLastActivity, dateLastView, desc, descData, idOrganization, invitations, invited, labelNames, memberships, name, pinned, powerUps, prefs, shortLink, shortUrl, starred, subscribed or url"
          in: query
          name: board_fields
          required: false
          schema:
            default: name, desc, closed, idOrganization, pinned, url and prefs
            type: string
        - description: " true or false"
          in: query
          name: list
          required: false
          schema:
            type: string
        - description: "all or a comma-separated list of: closed, idBoard, name, pos or subscribed"
          in: query
          name: list_fields
          required: false
          schema:
            default: all
            type: string
        - description: "One of: all, closed, none, open or visible"
          in: query
          name: filter
          required: false
          schema:
            default: visible
            type: string
        - description: "all or a comma-separated list of: badges, checkItemStates, closed, dateLastActivity, desc, descData, due, email, idAttachmentCover, idBoard, idChecklists, idLabels, idList, idMembers, idMembersVoted, idShort, labels, manualCoverAttachment, name, pos, shortLink, shortUrl, subscribed or url"
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: getBoardsMembersCardsByIdBoardByIdMember()
      tags:
        - board
  "/boards/{idBoard}/membersInvited":
    get:
      operationId: getBoardsMembersInvitedByIdBoard
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: "all or a comma-separated list of: avatarHash, avatarSource, bio, bioData, confirmed, email, fullName, gravatarHash, idBoards, idBoardsPinned, idOrganizations, idPremOrgsAdmin, initials, loginTypes, memberType, oneTimeMessagesDismissed, prefs, premiumFeatures, products, status, status, trophies, uploadedAvatarHash, url or username"
          in: query
          name: fields
          required: false
          schema:
            default: all
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/docs/gettingstarted/index.html#getting-a-token-from-a-user"  target="_blank">Getting a token from a user</a>
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
        "400":
          description: Server rejection
      security:
        - api_key: []
        - api_token: []
      summary: getBoardsMembersInvitedByIdBoard()
      tags:
        - board
  "/boards/{idBoard}/membersInvited/{field}":
    get:
      operationId: getBoardsMembersInvitedByIdBoardByField
      parameters:
        - description: board_id
          in: path
          name: idBoard
          required: true
          schema:
            type: string
        - description: field
          in: path
          name: field
          required: true
          schema:
            type: string
        - description: <a href="https://trello.com/1/appKey/generate"  target="_blank">Generate your application key</a>
          in: query
          name: key
          required: true
          schema:
            type: string
[...]
