swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: CostManagementClient
  version: 2018-12-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2018-12-01-preview/costmanagement.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: cost-management-costmanagement
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: Version of the API to be used with the client request. The current version is 2018-05-31.
    in: query
    name: api-version
    required: true
    type: string
  billingAccountIdParameter:
    description: BillingAccount ID
    in: path
    name: billingAccountId
    required: true
    type: string
    x-ms-parameter-location: method
  departmentIdParameter:
    description: Department ID
    in: path
    name: departmentId
    required: true
    type: string
    x-ms-parameter-location: method
  enrollmentAccountIdParameter:
    description: Enrollment Account ID
    in: path
    name: enrollmentAccountId
    required: true
    type: string
    x-ms-parameter-location: method
  managementGroupIdParameter:
    description: ManagementGroup ID
    in: path
    name: managementGroupId
    required: true
    type: string
    x-ms-parameter-location: method
  resourceGroupNameParameter:
    description: Azure Resource Group Name.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionIdParameter:
    description: Azure Subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}/providers/Microsoft.CostManagement/Forecast":
    post:
      description: Forecast the usage data for department.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Forecast_UsageByDepartment
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/billingAccountIdParameter"
        - $ref: "#/parameters/departmentIdParameter"
        - description: Parameters supplied to the CreateOrUpdate Report Config operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ReportConfigDefinition"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/QueryResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Forecast
      x-ms-examples:
        DepartmentForecast:
          parameters:
            api-version: 2018-12-01-preview
            billingAccountId: "70664866"
            departmentId: "123"
            parameters:
              dataset:
                filter:
                  and:
                    - or:
                        - dimension:
                            name: SubscriptionName
                            operator: In
                            values:
                              - Azure Dev Subscription
                              - Azure Prod Subscription
                              - Azure PPE Subscription
                        - tag:
                            name: Environment
                            operator: In
                            values:
                              - Dev
                              - PPE
                              - Prod
                    - dimension:
                        name: AccountName
                        operator: In
                        values:
                          - Azure Account
                granularity: Daily
              timePeriod:
                from: 2018-10-01T00:00:00.000Z
                to: 2018-12-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/70664866/departments/123/providers/Microsoft.CostManagement/Forecast/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    properties:
                      columns:
                        - name: PreTaxCost
                          type: Number
                        - name: UsageDate
                          type: Number
                        - name: CostStatus
                          type: String
                        - name: Currency
                          type: String
                      nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/70664866/departments/123/providers/Microsoft.CostManagement/Forecast?api-version=2018-12-01-preview&$skiptoken=AQAAAA%3D%3D
                      rows:
                        - - 19.545363672276512
                          - 20181026
                          - Actual
                          - USD
                        - - 20.41179241293923
                          - 20181027
                          - Actual
                          - USD
                        - - 21.35941656262545
                          - 20181028
                          - Actual
                          - USD
                        - - 22.545363672276512
                          - 20181029
                          - Forecast
                          - USD
                        - - 23.41979241290323
                          - 20181030
                          - Forecast
                          - USD
                        - - 24.35941656262545
                          - 20181031
                          - Forecast
                          - USD
                    type: microsoft.costmanagement/Forecast
      x-ms-pageable:
        nextLinkName: null
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}/providers/Microsoft.CostManagement/Query":
    post:
      description: Query the usage data for department.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Query_UsageByDepartment
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/billingAccountIdParameter"
        - $ref: "#/parameters/departmentIdParameter"
        - description: Parameters supplied to the CreateOrUpdate Report Config operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ReportConfigDefinition"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/QueryResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Query
      x-ms-examples:
        DepartmentQuery:
          parameters:
            api-version: 2018-12-01-preview
            billingAccountId: "70664866"
            departmentId: "123"
            parameters:
              dataset:
                filter:
                  and:
                    - or:
                        - dimension:
                            name: SubscriptionName
                            operator: In
                            values:
                              - Azure Dev Subscription
                              - Azure Prod Subscription
                              - Azure PPE Subscription
                        - tag:
                            name: Environment
                            operator: In
                            values:
                              - Dev
                              - PPE
                              - Prod
                    - dimension:
                        name: AccountName
                        operator: In
                        values:
                          - Azure Account
                granularity: Daily
              timePeriod:
                from: 2018-10-01T00:00:00.000Z
                to: 2018-12-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/70664866/departments/123/providers/Microsoft.CostManagement/Query/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    properties:
                      columns:
                        - name: PreTaxCost
                          type: Number
                        - name: UsageDate
                          type: Number
                        - name: Currency
                          type: String
                      nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/70664866/departments/123/providers/Microsoft.CostManagement/Query?api-version=2018-12-01-preview&$skiptoken=AQAAAA%3D%3D
                      rows:
                        - - 19.545363672276512
                          - 20181031
                          - USD
                        - - 173.41979241290323
                          - 20181031
                          - USD
                        - - 20.35941656262545
                          - 20181031
                          - USD
                    type: microsoft.costmanagement/Query
        DepartmentQueryGroupingUsage:
          parameters:
            api-version: 2018-12-01-preview
            billingAccountId: "70664866"
            departmentId: "123"
            parameters:
              dataset:
                aggregation:
                  totalCost:
                    function: Sum
                    name: PreTaxCost
                granularity: None
                grouping:
                  - name: AccountName
                    type: Dimension
              timePeriod:
                from: 2018-08-01T00:00:00.000Z
                to: 2018-10-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/70664866/departments/123/providers/Microsoft.CostManagement/Query/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    properties:
                      columns:
                        - name: PreTaxCost
                          type: Number
                        - name: AccountName
                          type: String
                        - name: Currency
                          type: String
                      nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/70664866/departments/123/providers/Microsoft.CostManagement/Query?api-version=2018-12-01-preview&$skiptoken=AQAAAA%3D%3D
                      rows:
                        - - 19.545363672276512
                          - Azure Dev Account
                          - USD
                        - - 173.41979241290323
                          - Azure PPE Account
                          - USD
                        - - 20.35941656262545
                          - Azure Prod Account
                          - USD
                    type: microsoft.costmanagement/Query
      x-ms-pageable:
        nextLinkName: null
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}/providers/Microsoft.CostManagement/dimensions":
    get:
      description: Lists the dimensions by Department Id.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Dimensions_ListByDepartment
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/billingAccountIdParameter"
        - $ref: "#/parameters/departmentIdParameter"
        - description: May be used to filter dimensions by properties/category, properties/usageStart, properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'.
          in: query
          name: $filter
          required: false
          type: string
        - description: May be used to expand the properties/data within a dimension category. By default, data is not included when listing dimensions.
          in: query
          name: $expand
          required: false
          type: string
        - description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          type: string
        - description: May be used to limit the number of results to the most recent N dimension data.
          in: query
          maximum: 1000
          minimum: 1
          name: $top
          required: false
          type: integer
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/DimensionsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Dimensions
      x-ms-examples:
        DepartmentDimensionsList:
          parameters:
            api-version: 2018-12-01-preview
            billingAccountId: "100"
            departmentId: "123"
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/100/departments/123/providers/microsoft.consumption/dimensions_ResourceGroup_2018-12-01_2018-12-31
                    name: dimensions_ResourceGroup_2018-12-01_2018-12-31
                    properties:
                      category: ResourceGroup
                      data: []
                      description: Resource group
                      filterEnabled: true
                      groupingEnabled: true
                      total: 377
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
                  - id: providers/Microsoft.Billing/billingAccounts/100/departments/123/providers/microsoft.consumption/dimensions_ResourceType_2018-12-01_2018-12-31
                    name: dimensions_ResourceType_2018-12-01_2018-12-31
                    properties:
                      category: ResourceType
                      data: []
                      description: Resource type
                      filterEnabled: true
                      groupingEnabled: true
                      total: 37
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
        DepartmentDimensionsListExpandAndTop:
          parameters:
            $expand: properties/data
            $top: 5
            api-version: 2018-12-01-preview
            billingAccountId: "100"
            departmentId: "123"
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/100/departments/123/providers/microsoft.consumption/dimensions_ResourceGroup_2018-12-01_2018-12-31_5
                    name: dimensions_ResourceGroup_2018-12-01_2018-12-31_5
                    properties:
                      category: ResourceGroup
                      data:
                        - thoroetrg01
                        - default-notificationhubs-westus
                        - jedikeyvaultrg
                        - contosocodeflow8d4a
                        - noobaa
                      description: Resource group
                      filterEnabled: true
                      groupingEnabled: true
                      total: 377
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
                  - id: providers/Microsoft.Billing/billingAccounts/100/departments/123/providers/microsoft.consumption/dimensions_ResourceType_2018-12-01_2018-12-31_5
                    name: dimensions_ResourceType_2018-12-01_2018-12-31_5
                    properties:
                      category: ResourceType
                      data:
                        - microsoft.automation/automationaccounts
                        - microsoft.databricks/workspaces
                        - microsoft.dbformysql/servers
                        - microsoft.containerregistry/registries
                        - microsoft.search/searchservices
                      description: Resource type
                      filterEnabled: true
                      groupingEnabled: true
                      total: 37
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
        DepartmentDimensionsListWithFilter:
          parameters:
            $expand: properties/data
            $filter: properties/category eq 'resourceId'
            $top: 5
            api-version: 2018-12-01-preview
            billingAccountId: "100"
            departmentId: "123"
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/100/departments/123/providers/microsoft.consumption/dimensions_ResourceId_2018-12-01_2018-12-31_5
                    name: dimensions_ResourceId_2018-12-01_2018-12-31_5
                    properties:
                      category: ResourceId
                      data:
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/urphealthaccount
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/srphytenaccount
                        - /subscriptions/67e24f6b-1ec2-4c90-993a-dc2d25b00b6c/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-67e24f6b-1ec2-4c90-993a-dc2d25b00b6c-eus
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg-sql-ha/providers/microsoft.compute/virtualmachines/sql-4qqp1
                        - /subscriptions/a98d6dc5-eb8f-46cf-8938-f1fb08f03706/resourcegroups/databricks-rg-testwsp-xijmsdubneexm/providers/microsoft.compute/disks/488cdb42bf74474a98075415be3f806c-containerrootvolume
                      description: Resource Id
                      filterEnabled: true
                      groupingEnabled: true
                      nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/100/departments/123/providers/Microsoft.Consumption/Dimensions?$filter=properties/category eq 'resourceId'&$top=5&api-version=2018-12-01-preview&$expand=properties/data&$skiptoken=AQAAAA%3D%3D
                      total: 1409
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
      x-ms-odata: "#/definitions/Dimension"
      x-ms-pageable:
        nextLinkName: null
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.CostManagement/Forecast":
    post:
      description: Forecast the usage data for an enrollment account.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Forecast_UsageByEnrollmentAccount
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/billingAccountIdParameter"
        - $ref: "#/parameters/enrollmentAccountIdParameter"
        - description: Parameters supplied to the CreateOrUpdate Report Config operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ReportConfigDefinition"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/QueryResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Forecast
      x-ms-examples:
        EnrollmentAccountForecast:
          parameters:
            api-version: 2018-12-01-preview
            billingAccountId: "70664866"
            enrollmentAccountId: "456"
            parameters:
              dataset:
                filter:
                  or:
                    - dimension:
                        name: SubscriptionName
                        operator: In
                        values:
                          - Azure Dev Subscription
                          - Azure Prod Subscription
                          - Azure PPE Subscription
                    - tag:
                        name: Environment
                        operator: In
                        values:
                          - Dev
                          - PPE
                          - Prod
                granularity: Daily
              timePeriod:
                from: 2018-08-01T00:00:00.000Z
                to: 2018-10-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/70664866/enrollmentAccounts/456/providers/Microsoft.CostManagement/Forecast/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    properties:
                      columns:
                        - name: PreTaxCost
                          type: Number
                        - name: UsageDate
                          type: Number
                        - name: CostStatus
                          type: String
                        - name: Currency
                          type: String
                      nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/70664866/enrollmentAccounts/456/providers/Microsoft.CostManagement/Forecast?api-version=2018-12-01-preview&$skiptoken=AQAAAA%3D%3D
                      rows:
                        - - 168.54532346722763
                          - 20180826
                          - Actual
                          - USD
                        - - 169.41979241290343
                          - 20180927
                          - Actual
                          - USD
                        - - 170.35941656233845
                          - 20181028
                          - Actual
                          - USD
                        - - 172.54536323427652
                          - 20180829
                          - Forecast
                          - USD
                        - - 173.41979241290323
                          - 20180930
                          - Forecast
                          - USD
                        - - 174.35941656262546
                          - 20181031
                          - Forecast
                          - USD
                    type: microsoft.costmanagement/Forecast
      x-ms-pageable:
        nextLinkName: null
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.CostManagement/Query":
    post:
      description: Query the usage data for an enrollment account.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Query_UsageByEnrollmentAccount
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/billingAccountIdParameter"
        - $ref: "#/parameters/enrollmentAccountIdParameter"
        - description: Parameters supplied to the CreateOrUpdate Report Config operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ReportConfigDefinition"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/QueryResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Query
      x-ms-examples:
        EnrollmentAccountQuery:
          parameters:
            api-version: 2018-12-01-preview
            billingAccountId: "70664866"
            enrollmentAccountId: "456"
            parameters:
              dataset:
                filter:
                  or:
                    - dimension:
                        name: SubscriptionName
                        operator: In
                        values:
                          - Azure Dev Subscription
                          - Azure Prod Subscription
                          - Azure PPE Subscription
                    - tag:
                        name: Environment
                        operator: In
                        values:
                          - Dev
                          - PPE
                          - Prod
                granularity: Daily
              timePeriod:
                from: 2018-08-01T00:00:00.000Z
                to: 2018-10-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/70664866/enrollmentAccounts/456/providers/Microsoft.CostManagement/Query/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    properties:
                      columns:
                        - name: PreTaxCost
                          type: Number
                        - name: UsageDate
                          type: Number
                        - name: Currency
                          type: String
                      nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/70664866/enrollmentAccounts/456/providers/Microsoft.CostManagement/Query?api-version=2018-12-01-preview&$skiptoken=AQAAAA%3D%3D
                      rows:
                        - - 19.545363672276512
                          - 20180831
                          - USD
                        - - 173.41979241290323
                          - 20180930
                          - USD
                        - - 20.35941656262545
                          - 20181031
                          - USD
                    type: microsoft.costmanagement/Query
        EnrollmentAccountQueryGroupingUsage:
          parameters:
            api-version: 2018-12-01-preview
            billingAccountId: "70664866"
            enrollmentAccountId: "456"
            parameters:
              dataset:
                aggregation:
                  totalCost:
                    function: Sum
                    name: PreTaxCost
                granularity: Daily
                grouping:
                  - name: SubscriptionName
                    type: Dimension
                sorting:
                  - name: UsageDate
              timePeriod:
                from: 2018-08-01T00:00:00.000Z
                to: 2018-10-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/70664866/enrollmentAccounts/456/providers/Microsoft.CostManagement/Query/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    properties:
                      columns:
                        - name: PreTaxCost
                          type: Number
                        - name: SubscriptionName
                          type: String
                        - name: UsageDate
                          type: Number
                        - name: Currency
                          type: String
                      nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/70664866/enrollmentAccounts/456/providers/Microsoft.CostManagement/Query?api-version=2018-12-01-preview&$skiptoken=AQAAAA%3D%3D
                      rows:
                        - - 19.545363672276512
                          - Azure Dev Subscription
                          - 20180831
                          - USD
                        - - 173.41979241290323
                          - Azure PPE Subscription
                          - 20180930
                          - USD
                        - - 20.35941656262545
                          - Azure Prod Subscription
                          - 20181031
                          - USD
                    type: microsoft.costmanagement/Query
      x-ms-pageable:
        nextLinkName: null
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.CostManagement/dimensions":
    get:
      description: Lists the dimensions by Enrollment Account Id.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Dimensions_ListByEnrollmentAccount
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/billingAccountIdParameter"
        - $ref: "#/parameters/enrollmentAccountIdParameter"
        - description: May be used to filter dimensions by properties/category, properties/usageStart, properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'.
          in: query
          name: $filter
          required: false
          type: string
        - description: May be used to expand the properties/data within a dimension category. By default, data is not included when listing dimensions.
          in: query
          name: $expand
          required: false
          type: string
        - description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          type: string
        - description: May be used to limit the number of results to the most recent N dimension data.
          in: query
          maximum: 1000
          minimum: 1
          name: $top
          required: false
          type: integer
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/DimensionsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Dimensions
      x-ms-examples:
        EnrollmentAccountDimensionsList:
          parameters:
            api-version: 2018-12-01-preview
            billingAccountId: "100"
            enrollmentAccountId: "456"
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456/providers/microsoft.consumption/dimensions_ResourceGroup_2018-12-01_2018-12-31
                    name: dimensions_ResourceGroup_2018-12-01_2018-12-31
                    properties:
                      category: ResourceGroup
                      data: []
                      description: Resource group
                      filterEnabled: true
                      groupingEnabled: true
                      total: 377
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
                  - id: providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456/providers/microsoft.consumption/dimensions_ResourceType_2018-12-01_2018-12-31
                    name: dimensions_ResourceType_2018-12-01_2018-12-31
                    properties:
                      category: ResourceType
                      data: []
                      description: Resource type
                      filterEnabled: true
                      groupingEnabled: true
                      total: 37
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
        EnrollmentAccountDimensionsListExpandAndTop:
          parameters:
            $expand: properties/data
            $top: 5
            api-version: 2018-12-01-preview
            billingAccountId: "100"
            enrollmentAccountId: "456"
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456/providers/microsoft.consumption/dimensions_ResourceGroup_2018-12-01_2018-12-31_5
                    name: dimensions_ResourceGroup_2018-12-01_2018-12-31_5
                    properties:
                      category: ResourceGroup
                      data:
                        - thoroetrg01
                        - default-notificationhubs-westus
                        - jedikeyvaultrg
                        - contosocodeflow8d4a
                        - noobaa
                      description: Resource group
                      filterEnabled: true
                      groupingEnabled: true
                      total: 377
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
                  - id: providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456/providers/microsoft.consumption/dimensions_ResourceType_2018-12-01_2018-12-31_5
                    name: dimensions_ResourceType_2018-12-01_2018-12-31_5
                    properties:
                      category: ResourceType
                      data:
                        - microsoft.automation/automationaccounts
                        - microsoft.databricks/workspaces
                        - microsoft.dbformysql/servers
                        - microsoft.containerregistry/registries
                        - microsoft.search/searchservices
                      description: Resource type
                      filterEnabled: true
                      groupingEnabled: true
                      total: 37
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
        EnrollmentAccountDimensionsListWithFilter:
          parameters:
            $expand: properties/data
            $filter: properties/category eq 'resourceId'
            $top: 5
            api-version: 2018-12-01-preview
            billingAccountId: "100"
            enrollmentAccountId: "456"
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456/providers/microsoft.consumption/dimensions_ResourceId_2018-12-01_2018-12-31_5
                    name: dimensions_ResourceId_2018-12-01_2018-12-31_5
                    properties:
                      category: ResourceId
                      data:
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/urphealthaccount
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/srphytenaccount
                        - /subscriptions/67e24f6b-1ec2-4c90-993a-dc2d25b00b6c/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-67e24f6b-1ec2-4c90-993a-dc2d25b00b6c-eus
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg-sql-ha/providers/microsoft.compute/virtualmachines/sql-4qqp1
                        - /subscriptions/a98d6dc5-eb8f-46cf-8938-f1fb08f03706/resourcegroups/databricks-rg-testwsp-xijmsdubneexm/providers/microsoft.compute/disks/488cdb42bf74474a98075415be3f806c-containerrootvolume
                      description: Resource Id
                      filterEnabled: true
                      groupingEnabled: true
                      nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456/providers/Microsoft.Consumption/Dimensions?$filter=properties/category eq 'resourceId'&$top=5&api-version=2018-12-01-preview&$expand=properties/data&$skiptoken=AQAAAA%3D%3D
                      total: 1409
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
      x-ms-odata: "#/definitions/Dimension"
      x-ms-pageable:
        nextLinkName: null
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/Forecast":
    post:
      description: Forecast the usage data for billing account.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Forecast_UsageByBillingAccount
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/billingAccountIdParameter"
        - description: Parameters supplied to the CreateOrUpdate Report Config operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ReportConfigDefinition"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/QueryResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Forecast
      x-ms-examples:
        BillingAccountForecast:
          parameters:
            api-version: 2018-12-01-preview
            billingAccountId: "70664866"
            parameters:
              dataset:
                filter:
                  and:
                    - or:
                        - dimension:
                            name: SubscriptionName
                            operator: In
                            values:
                              - Azure Dev
                              - Azure Prod
                              - Azure PPE
                        - tag:
                            name: Environment
                            operator: In
                            values:
                              - Dev
                              - PPE
                              - Prod
                    - dimension:
                        name: DepartmentName
                        operator: In
                        values:
                          - Azure Dept
                granularity: Daily
              timePeriod:
                from: 2018-08-01T00:00:00.000Z
                to: 2018-10-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/70664866/providers/Microsoft.CostManagement/Forecast/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    properties:
                      columns:
                        - name: PreTaxCost
                          type: Number
                        - name: UsageDate
                          type: Number
                        - name: CostStatus
                          type: String
                        - name: Currency
                          type: String
                      nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/70664866/providers/Microsoft.CostManagement/Forecast?api-version=2018-12-01-preview&$skiptoken=AQAAAA%3D%3D
                      rows:
                        - - 19.545363672276512
                          - 20180831
                          - Actual
                          - USD
                        - - 20.41979233490323
                          - 20180930
                          - Actual
                          - USD
                        - - 21.322216562625453
                          - 20181031
                          - Actual
                          - USD
                        - - 22.545363672276533
                          - 20180831
                          - Actual
                          - USD
                        - - 23.41979675590323
                          - 20180930
                          - Forecast
                          - USD
                        - - 24.359416562626652
                          - 20181031
                          - Forecast
                          - USD
                    type: microsoft.costmanagement/Forecast
      x-ms-pageable:
        nextLinkName: null
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/Query":
    post:
      description: Query the usage data for billing account.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Query_UsageByBillingAccount
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/billingAccountIdParameter"
        - description: Parameters supplied to the CreateOrUpdate Report Config operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ReportConfigDefinition"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/QueryResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Query
      x-ms-examples:
        BillingAccountQuery:
          parameters:
            api-version: 2018-12-01-preview
            billingAccountId: "70664866"
            parameters:
              dataset:
                filter:
                  and:
                    - or:
                        - dimension:
                            name: SubscriptionName
                            operator: In
                            values:
                              - Azure Dev
                              - Azure Prod
                              - Azure PPE
                        - tag:
                            name: Environment
                            operator: In
                            values:
                              - Dev
                              - PPE
                              - Prod
                    - dimension:
                        name: DepartmentName
                        operator: In
                        values:
                          - Azure Dept
                granularity: Daily
              timePeriod:
                from: 2018-08-01T00:00:00.000Z
                to: 2018-10-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/70664866/providers/Microsoft.CostManagement/Query/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    properties:
                      columns:
                        - name: PreTaxCost
                          type: Number
                        - name: UsageDate
                          type: Number
                        - name: Currency
                          type: String
                      nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/70664866/providers/Microsoft.CostManagement/Query?api-version=2018-12-01-preview&$skiptoken=AQAAAA%3D%3D
                      rows:
                        - - 19.545363672276512
                          - 20180831
                          - USD
                        - - 173.41979241290323
                          - 20180930
                          - USD
                        - - 20.35941656262545
                          - 20181031
                          - USD
                    type: microsoft.costmanagement/Query
        BillingAccountQueryGroupingUsage:
          parameters:
            api-version: 2018-12-01-preview
            billingAccountId: "70664866"
            parameters:
              dataset:
                aggregation:
                  totalCost:
                    function: Sum
                    name: PreTaxCost
                granularity: None
                grouping:
                  - name: SubscriptionName
                    type: Dimension
              timePeriod:
                from: 2018-10-01T00:00:00.000Z
                to: 2018-10-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/70664866/providers/Microsoft.CostManagement/Query/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    properties:
                      columns:
                        - name: PreTaxCost
                          type: Number
                        - name: SubscriptionName
                          type: String
                        - name: Currency
                          type: String
                      nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/70664866/providers/Microsoft.CostManagement/Query?api-version=2018-12-01-preview&$skiptoken=AQAAAA%3D%3D
                      rows:
                        - - 19.545363672276512
                          - Trial Subscription
                          - USD
                        - - 173.41979241290323
                          - DEV Subscription
                          - USD
                        - - 20.35941656262545
                          - Cost Management Subscrioption
                          - USD
                    type: microsoft.costmanagement/Query
      x-ms-pageable:
        nextLinkName: null
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/dimensions":
    get:
      description: Lists the dimensions by billingAccount Id.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Dimensions_ListByBillingAccount
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/billingAccountIdParameter"
        - description: May be used to filter dimensions by properties/category, properties/usageStart, properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'.
          in: query
          name: $filter
          required: false
          type: string
        - description: May be used to expand the properties/data within a dimension category. By default, data is not included when listing dimensions.
          in: query
          name: $expand
          required: false
          type: string
        - description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          type: string
        - description: May be used to limit the number of results to the most recent N dimension data.
          in: query
          maximum: 1000
          minimum: 1
          name: $top
          required: false
          type: integer
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/DimensionsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Dimensions
      x-ms-examples:
        BillingAccountDimensionsList:
          parameters:
            api-version: 2018-12-01-preview
            billingAccountId: "100"
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.consumption/dimensions_ResourceGroup_2018-12-01_2018-12-31
                    name: dimensions_ResourceGroup_2018-12-01_2018-12-31
                    properties:
                      category: SubscriptionGuid
                      data: []
                      description: Subscription Guid
                      filterEnabled: true
                      groupingEnabled: true
                      total: 3
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
                  - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.consumption/dimensions_ResourceType_2018-12-01_2018-12-31
                    name: dimensions_ResourceType_2018-12-01_2018-12-31
                    properties:
                      category: Account Name
                      data: []
                      description: Resource type
                      filterEnabled: true
                      groupingEnabled: true
                      total: 37
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
        BillingAccountDimensionsListExpandAndTop:
          parameters:
            $expand: properties/data
            $top: 5
            api-version: 2018-12-01-preview
            billingAccountId: "100"
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.consumption/dimensions_ResourceGroup_2018-12-01_2018-12-31_5
                    name: dimensions_ResourceGroup_2018-12-01_2018-12-31_5
                    properties:
                      category: ResourceGroup
                      data:
                        - thoroetrg01
                        - default-notificationhubs-westus
                        - jedikeyvaultrg
                        - contosocodeflow8d4a
                        - noobaa
                      description: Resource group
                      filterEnabled: true
                      groupingEnabled: true
                      total: 377
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
                  - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.consumption/dimensions_ResourceType_2018-12-31_2018-12-31_5
                    name: dimensions_ResourceType_2018-12-01_2018-12-31_5
                    properties:
                      category: ResourceType
                      data:
                        - microsoft.automation/automationaccounts
                        - microsoft.databricks/workspaces
                        - microsoft.dbformysql/servers
                        - microsoft.containerregistry/registries
                        - microsoft.search/searchservices
                      description: Resource type
                      filterEnabled: true
                      groupingEnabled: true
                      total: 37
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
        BillingAccountDimensionsListWithFilter:
          parameters:
            $expand: properties/data
            $filter: properties/category eq 'resourceId'
            $top: 5
            api-version: 2018-12-01-preview
            billingAccountId: "100"
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.consumption/dimensions_ResourceId_2018-12-01_2018-12-31_5
                    name: dimensions_ResourceId_2018-12-01_2018-12-31_5
                    properties:
                      category: ResourceId
                      data:
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/urphealthaccount
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/srphytenaccount
                        - /subscriptions/67e24f6b-1ec2-4c90-993a-dc2d25b00b6c/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-67e24f6b-1ec2-4c90-993a-dc2d25b00b6c-eus
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg-sql-ha/providers/microsoft.compute/virtualmachines/sql-4qqp1
                        - /subscriptions/a98d6dc5-eb8f-46cf-8938-f1fb08f03706/resourcegroups/databricks-rg-testwsp-xijmsdubneexm/providers/microsoft.compute/disks/488cdb42bf74474a98075415be3f806c-containerrootvolume
                      description: Resource Id
                      filterEnabled: true
                      groupingEnabled: true
                      nextLink: http://management.azure.com/ccmapi/providers/Microsoft.Billing/billingAccounts/100/providers/Microsoft.Consumption/Dimensions?$filter=properties/category eq 'resourceId'&$top=5&api-version=2018-12-01-preview&$expand=properties/data&$skiptoken=AQAAAA%3D%3D
                      total: 1409
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
      x-ms-odata: "#/definitions/Dimension"
      x-ms-pageable:
        nextLinkName: null
  /providers/Microsoft.CostManagement/operations:
    get:
      description: Lists all of the available consumption REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/OperationListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Operations
      x-ms-pageable:
        nextLinkName: nextLink
  "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.CostManagement/Forecast":
    post:
      description: Lists the usage data for management group.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Forecast_UsageByManagmentGroup
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/managementGroupIdParameter"
        - description: Parameters supplied to the CreateOrUpdate Report Config operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ReportConfigDefinition"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/QueryResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Forecast
      x-ms-examples:
        ManagementGroupForecast:
          parameters:
            api-version: 2018-12-01-preview
            managementGroupId: MyMgId
            parameters:
              dataset:
                filter:
                  or:
                    - dimension:
                        name: SubscriptionName
                        operator: In
                        values:
                          - Azure Dev
                          - Azure Prod
                          - Azure PPE
                    - tag:
                        name: Environment
                        operator: In
                        values:
                          - Dev
                          - PPE
                          - Prod
                granularity: Daily
              timePeriod:
                from: 2018-11-01T00:00:00.000Z
                to: 2019-01-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Management/managementGroups/MyMgId/providers/Microsoft.CostManagement/Forecast/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    properties:
                      columns:
                        - name: PreTaxCost
                          type: Number
                        - name: UsageDate
                          type: Number
                        - name: CostStatus
                          type: String
                        - name: Currency
                          type: String
                      nextLink: https://management.azure.com/providers/Microsoft.Management/managementGroups/MyMgId/providers/Microsoft.CostManagement/Forecast?api-version=2018-12-01-preview&$skiptoken=AQAAAA%3D%3D
                      rows:
                        - - 19.045363672276512
                          - 20190126
                          - Actual
                          - USD
                        - - 19.41979241290323
                          - 20190127
                          - Actual
                          - USD
                        - - 20.35941656262545
                          - 20190128
                          - Actual
                          - USD
                        - - 19.045363672276512
                          - 20190129
                          - Forecast
                          - USD
                        - - 19.41979241290323
                          - 20190130
                          - Forecast
                          - USD
                        - - 20.35941656262545
                          - 20190131
                          - Forecast
                          - USD
                    type: microsoft.costmanagement/Forecast
      x-ms-pageable:
        nextLinkName: null
  "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.CostManagement/Query":
    post:
      description: Lists the usage data for management group.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Query_UsageByManagmentGroup
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/managementGroupIdParameter"
        - description: Parameters supplied to the CreateOrUpdate Report Config operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ReportConfigDefinition"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/QueryResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Query
      x-ms-examples:
        ManagementGroupQuery:
          parameters:
            api-version: 2018-12-01-preview
            managementGroupId: MyMgId
            parameters:
              dataset:
                filter:
                  or:
                    - dimension:
                        name: SubscriptionName
                        operator: In
                        values:
                          - Azure Dev
                          - Azure Prod
                          - Azure PPE
                    - tag:
                        name: Environment
                        operator: In
                        values:
                          - Dev
                          - PPE
                          - Prod
                granularity: Daily
              timePeriod:
                from: 2018-11-01T00:00:00.000Z
                to: 2019-01-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Management/managementGroups/MyMgId/providers/Microsoft.CostManagement/Query/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    properties:
                      columns:
                        - name: PreTaxCost
                          type: Number
                        - name: UsageDate
                          type: Number
                        - name: Currency
                          type: String
                      nextLink: https://management.azure.com/providers/Microsoft.Management/managementGroups/MyMgId/providers/Microsoft.CostManagement/Query?api-version=2018-12-01-preview&$skiptoken=AQAAAA%3D%3D
                      rows:
                        - - 19.545363672276512
                          - 20181131
                          - USD
                        - - 173.41979241290323
                          - 20181231
                          - USD
                        - - 20.35941656262545
                          - 20190131
                          - USD
                    type: microsoft.costmanagement/Query
        ManagementGroupQueryGroupingUsage:
          parameters:
            api-version: 2018-12-01-preview
            managementGroupId: MyMgId
            parameters:
              dataset:
                aggregation:
                  totalCost:
                    function: Sum
                    name: PreTaxCost
                granularity: None
                grouping:
                  - name: SubscriptionName
                    type: Dimension
              timePeriod:
                from: 2018-08-01T00:00:00.000Z
                to: 2018-10-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Management/managementGroups/MyMgId/providers/Microsoft.CostManagement/Query/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    properties:
                      columns:
                        - name: PreTaxCost
                          type: Number
                        - name: SubscriptionName
                          type: String
                        - name: Currency
                          type: String
                      nextLink: https://management.azure.com/providers/Microsoft.Management/managementGroups/MyMgId/providers/Microsoft.CostManagement/Query?api-version=2018-12-01-preview&$skiptoken=AQAAAA%3D%3D
                      rows:
                        - - 19.545363672276512
                          - Trial Subscription
                          - USD
                        - - 173.41979241290323
                          - DEV Subscription
                          - USD
                        - - 20.35941656262545
                          - Cost Management Subscrioption
                          - USD
                    type: microsoft.costmanagement/Query
      x-ms-pageable:
        nextLinkName: null
  "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.CostManagement/dimensions":
    get:
      description: Lists the dimensions by managementGroup Id.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Dimensions_ListByManagementGroup
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/managementGroupIdParameter"
        - description: May be used to filter dimensions by properties/category, properties/usageStart, properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'.
          in: query
          name: $filter
          required: false
          type: string
        - description: May be used to expand the properties/data within a dimension category. By default, data is not included when listing dimensions.
          in: query
          name: $expand
          required: false
          type: string
        - description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          type: string
        - description: May be used to limit the number of results to the most recent N dimension data.
          in: query
          maximum: 1000
          minimum: 1
          name: $top
          required: false
          type: integer
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/DimensionsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Dimensions
      x-ms-examples:
        ManagementGroupDimensionsList:
          parameters:
            api-version: 2018-12-01-preview
            managementGroupId: MyMgId
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Management/managementGroups/MyMgId/providers/microsoft.consumption/dimensions_ResourceGroup_2018-12-01_2018-12-31
                    name: dimensions_ResourceGroup_2018-12-01_2018-12-31
                    properties:
                      category: ResourceGroup
                      data: []
                      description: Resource group
                      filterEnabled: true
                      groupingEnabled: true
                      total: 377
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
                  - id: providers/Microsoft.Management/managementGroups/MyMgId/providers/microsoft.consumption/dimensions_ResourceType_2018-12-01_2018-12-31
                    name: dimensions_ResourceType_2018-12-01_2018-12-31
                    properties:
                      category: ResourceType
                      data: []
                      description: Resource type
                      filterEnabled: true
                      groupingEnabled: true
                      total: 37
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
        ManagementGroupDimensionsListExpandAndTop:
          parameters:
            $expand: properties/data
            $top: 5
            api-version: 2018-12-01-preview
            managementGroupId: MyMgId
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Management/managementGroups/MyMgId/providers/microsoft.consumption/dimensions_ResourceGroup_2018-12-01_2018-12-31_5
                    name: dimensions_ResourceGroup_2018-12-01_2018-12-31_5
                    properties:
                      category: ResourceGroup
                      data:
                        - thoroetrg01
                        - default-notificationhubs-westus
                        - jedikeyvaultrg
                        - contosocodeflow8d4a
                        - noobaa
                      description: Resource group
                      filterEnabled: true
                      groupingEnabled: true
                      total: 377
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
                  - id: providers/Microsoft.Management/managementGroups/MyMgId/providers/microsoft.consumption/dimensions_ResourceType_2018-12-01_2018-12-31_5
                    name: dimensions_ResourceType_2018-12-01_2018-12-31_5
                    properties:
                      category: ResourceType
                      data:
                        - microsoft.automation/automationaccounts
                        - microsoft.databricks/workspaces
                        - microsoft.dbformysql/servers
                        - microsoft.containerregistry/registries
                        - microsoft.search/searchservices
                      description: Resource type
                      filterEnabled: true
                      groupingEnabled: true
                      total: 37
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
        ManagementGroupDimensionsListWithFilter:
          parameters:
            $expand: properties/data
            $filter: properties/category eq 'resourceId'
            $top: 5
            api-version: 2018-12-01-preview
            managementGroupId: MyMgId
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Management/managementGroups/MyMgId/providers/microsoft.consumption/dimensions_ResourceId_2018-12-01_2018-12-31_5
                    name: dimensions_ResourceId_2018-12-01_2018-12-31_5
                    properties:
                      category: ResourceId
                      data:
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/urphealthaccount
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/srphytenaccount
                        - /subscriptions/67e24f6b-1ec2-4c90-993a-dc2d25b00b6c/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-67e24f6b-1ec2-4c90-993a-dc2d25b00b6c-eus
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg-sql-ha/providers/microsoft.compute/virtualmachines/sql-4qqp1
                        - /subscriptions/a98d6dc5-eb8f-46cf-8938-f1fb08f03706/resourcegroups/databricks-rg-testwsp-xijmsdubneexm/providers/microsoft.compute/disks/488cdb42bf74474a98075415be3f806c-containerrootvolume
                      description: Resource Id
                      filterEnabled: true
                      groupingEnabled: true
                      nextLink: http://management.azure.com/providers/Microsoft.Management/managementGroups/MyMgId/providers/Microsoft.Consumption/Dimensions?$filter=properties/category eq 'resourceId'&$top=5&api-version=2018-12-31-preview&$expand=properties/data&$skiptoken=AQAAAA%3D%3D
                      total: 1409
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
      x-ms-odata: "#/definitions/Dimension"
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/Forecast":
    post:
      description: Forecast the usage data for subscriptionId.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Forecast_UsageBySubscription
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - description: Parameters supplied to the CreateOrUpdate Report Config operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ReportConfigDefinition"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/QueryResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Forecast
      x-ms-examples:
        SubscriptionForecast:
          parameters:
            api-version: 2018-12-01-preview
            parameters:
              dataset:
                filter:
                  tag:
                    name: Environment
                    operator: In
                    values:
                      - Dev
                      - PPE
                      - Prod
                granularity: Daily
              timePeriod:
                from: 2018-10-01T00:00:00.000Z
                to: 2018-12-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CostManagement/Forecast/00000000-0000-0000-0000-000000000000
                    name: 55312978-ba1b-415c-9304-cfd9c43c0481
                    properties:
                      columns:
                        - name: PreTaxCost
                          type: Number
                        - name: UsageDate
                          type: Number
                        - name: CostStatus
                          type: String
                        - name: Currency
                          type: String
                      nextLink: null
                      rows:
                        - - 214.68795741935486
                          - 20181222
                          - Actual
                          - USD
                        - - 215.68795741935486
                          - 20181223
                          - Actual
                          - USD
                        - - 216.68795741935486
                          - 20181224
                          - Actual
                          - USD
                        - - 217.68795741935486
                          - 20181225
                          - Actual
                          - USD
                        - - 218.68795741935486
                          - 20181226
                          - Actual
                          - USD
                        - - 219.14384914358166
                          - 20181227
                          - Actual
                          - USD
                        - - 220.14384914358877
                          - 20181228
                          - Forecast
                          - USD
                        - - 221.14343314358877
                          - 20181229
                          - Forecast
                          - USD
                        - - 222.14343355558876
                          - 20181230
                          - Forecast
                          - USD
                        - - 223.14343355558876
                          - 20181231
                          - Forecast
                          - USD
                    type: microsoft.costmanagement/Forecast
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/Query":
    post:
      description: Query the usage data for subscriptionId.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Query_UsageBySubscription
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - description: Parameters supplied to the CreateOrUpdate Report Config operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ReportConfigDefinition"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/QueryResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Query
      x-ms-examples:
        SubscriptionQuery:
          parameters:
            api-version: 2018-12-01-preview
            parameters:
              dataset:
                filter:
                  tag:
                    name: Environment
                    operator: In
                    values:
                      - Dev
                      - PPE
                      - Prod
                granularity: Daily
              timePeriod:
                from: 2018-10-01T00:00:00.000Z
                to: 2018-12-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CostManagement/Query/00000000-0000-0000-0000-000000000000
                    name: 55312978-ba1b-415c-9304-cfd9c43c0481
                    properties:
                      columns:
                        - name: PreTaxCost
                          type: Number
                        - name: UsageDate
                          type: Number
                        - name: Currency
                          type: String
                      nextLink: null
                      rows:
                        - - 2.10333307059661
                          - 20181017
                          - USD
                        - - 218.68795741935486
                          - 20181018
                          - USD
                        - - 0.14384913581657052
                          - 20181019
                          - USD
                    type: microsoft.costmanagement/Query
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/dimensions":
    get:
      description: Lists the dimensions by subscription Id.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Dimensions_ListBySubscription
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - description: May be used to filter dimensions by properties/category, properties/usageStart, properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'.
          in: query
          name: $filter
          required: false
          type: string
        - description: May be used to expand the properties/data within a dimension category. By default, data is not included when listing dimensions.
          in: query
          name: $expand
          required: false
          type: string
        - description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          type: string
        - description: May be used to limit the number of results to the most recent N dimension data.
          in: query
          maximum: 1000
          minimum: 1
          name: $top
          required: false
          type: integer
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/DimensionsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Dimensions
      x-ms-examples:
        SubscriptionDimensionsList:
          parameters:
            $expand: properties/data
            $top: 5
            api-version: 2018-12-01-preview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/dimensions_ResourceGroup_2018-12-01_2018-12-31_5
                    name: dimensions_ResourceGroup_2018-12-01_2018-12-31_5
                    properties:
                      category: ResourceGroup
                      data:
                        - dcrg
                        - rg
                        - offlinegalleryrg
                        - system.orlando.adminkeyvault
                        - system.orlando.keyvault
                      description: Resource group
                      filterEnabled: true
                      groupingEnabled: true
                      total: 68
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/dimensions_ResourceType_2018-12-01_2018-12-31_5
                    name: dimensions_ResourceType_2018-12-01_2018-12-31_5
                    properties:
                      category: ResourceType
                      data:
                        - microsoft.storage/storageaccounts
                        - microsoft.web.admin/role
                        - microsoft.sql/servers
                        - microsoft.compute/virtualmachines
                      description: Resource type
                      filterEnabled: true
                      groupingEnabled: true
                      total: 4
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
      x-ms-odata: "#/definitions/Dimension"
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/dimensions":
    get:
      description: Lists the dimensions by resource group Id.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Dimensions_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: May be used to filter dimensions by properties/category, properties/usageStart, properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'.
          in: query
          name: $filter
          required: false
          type: string
        - description: May be used to expand the properties/data within a dimension category. By default, data is not included when listing dimensions.
          in: query
          name: $expand
          required: false
          type: string
        - description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          type: string
        - description: May be used to limit the number of results to the most recent N dimension data.
          in: query
          maximum: 1000
          minimum: 1
          name: $top
          required: false
          type: integer
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/DimensionsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Dimensions
      x-ms-examples:
        ResourceGroupDimensionsList:
          parameters:
            $expand: properties/data
            $top: 5
            api-version: 2018-12-01-preview
            resourceGroupName: system.orlando
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/system.orlando/providers/microsoft.consumption/dimensions_ResourceType_2018-05-01_2018-05-31_5
                    name: dimensions_ResourceType_2018-05-01_2018-05-31_5
                    properties:
                      category: ResourceType
                      data:
                        - microsoft.storage/storageaccounts
                      description: Resource type
                      filterEnabled: true
                      groupingEnabled: true
                      total: 1
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/system.orlando/providers/microsoft.consumption/dimensions_ResourceId_2018-05-01_2018-05-31_5
                    name: dimensions_ResourceId_2018-05-01_2018-05-31_5
                    properties:
                      category: ResourceId
                      data:
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/authprod
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/systemevents
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/armadminprod
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/srphytenaccount
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/publicsystemportal
                      description: Resource Id
                      filterEnabled: true
                      groupingEnabled: true
                      total: 27
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
      x-ms-odata: "#/definitions/Dimension"
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.CostManagement/Forecast":
    post:
      description: Forecast the usage data for subscriptionId and resource group.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Forecast_UsageByResourceGroup
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Parameters supplied to the CreateOrUpdate Report Config operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ReportConfigDefinition"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/QueryResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Forecast
      x-ms-examples:
        ResourceGroupForecast:
          parameters:
            api-version: 2018-12-01-preview
            parameters:
              dataset:
                filter:
                  and:
                    - or:
                        - dimension:
                            name: ResourceLocation
                            operator: In
                            values:
                              - East US
                              - West Europe
                        - tag:
                            name: Environment
                            operator: In
                            values:
                              - UAT
                              - Prod
                    - dimension:
                        name: ResourceGroup
                        operator: In
                        values:
                          - API
                granularity: Daily
              timeframe: MonthToDate
              type: Usage
            resourceGroupName: ScreenSharingTest-peer
            subscriptionId: 55312978-ba1b-415c-9304-c4b9c43c0481
          responses:
            "200":
              body:
                value:
                  - id: subscriptions/55312978-ba1b-415c-9304-c4b9c43c0481/resourcegroups/ScreenSharingTest-peer/providers/Microsoft.CostManagement/Forecast/9af9459d-441d-4055-9ed0-83d4c4a363fb
                    name: 9af9459d-441d-4055-9ed0-83d4c4a363fb
                    properties:
                      columns:
                        - name: PreTaxCost
                          type: Number
                        - name: UsageDate
                          type: Number
                        - name: CostStatus
                          type: String
                        - name: Currency
                          type: String
                      nextLink: null
                      rows:
                        - - 19.10333307059661
                          - 20180417
                          - Actual
                          - USD
                        - - 20.10333307059661
                          - 20180418
                          - Actual
                          - USD
                        - - 21.10333307059661
                          - 20180419
                          - Forecast
                          - USD
                        - - 22.10333307059661
                          - 20180420
                          - Forecast
                          - USD
                    type: microsoft.costmanagement/Forecast
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.CostManagement/Query":
    post:
      description: Query the usage data for subscriptionId and resource group.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Query_UsageByResourceGroup
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Parameters supplied to the CreateOrUpdate Report Config operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ReportConfigDefinition"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/QueryResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Query
      x-ms-examples:
        ResourceGroupQuery:
          parameters:
            api-version: 2018-12-01-preview
            parameters:
              dataset:
                filter:
                  and:
                    - or:
                        - dimension:
                            name: ResourceLocation
                            operator: In
                            values:
                              - East US
                              - West Europe
                        - tag:
                            name: Environment
                            operator: In
                            values:
                              - UAT
                              - Prod
                    - dimension:
                        name: ResourceGroup
                        operator: In
                        values:
                          - API
                granularity: Daily
              timeframe: MonthToDate
              type: Usage
            resourceGroupName: ScreenSharingTest-peer
            subscriptionId: 55312978-ba1b-415c-9304-c4b9c43c0481
          responses:
            "200":
              body:
                value:
                  - id: subscriptions/55312978-ba1b-415c-9304-c4b9c43c0481/resourcegroups/ScreenSharingTest-peer/providers/Microsoft.CostManagement/Query/9af9459d-441d-4055-9ed0-83d4c4a363fb
                    name: 9af9459d-441d-4055-9ed0-83d4c4a363fb
                    properties:
                      columns:
                        - name: PreTaxCost
                          type: Number
                        - name: UsageDate
                          type: Number
                        - name: Currency
                          type: String
                      nextLink: null
                      rows:
                        - - 2.10333307059661
                          - 20180417
                          - USD
                        - - 20.10333307059661
                          - 20180418
                          - USD
                    type: microsoft.costmanagement/Query
      x-ms-pageable:
        nextLinkName: null
definitions:
  Dimension:
    allOf:
      - $ref: "#/definitions/Resource"
    properties:
      properties:
        $ref: "#/definitions/DimensionProperties"
        title: Dimension properties
        x-ms-client-flatten: true
    type: object
  DimensionProperties:
    properties:
      category:
        type: string
      data:
        items:
          type: string
        type: array
      description:
        type: string
      filterEnabled:
        type: boolean
      groupingEnabled:
        type: boolean
      nextLink:
        type: string
      total:
        format: int32
        type: integer
      usageEnd:
        format: date-time
        type: string
      usageStart:
        format: date-time
        type: string
    type: object
  DimensionsListResult:
    description: Result of listing dimensions. It contains a list of available dimensions.
    properties:
      value:
        description: The list of dimensions.
        items:
          $ref: "#/definitions/Dimension"
        readOnly: true
        type: array
    type: object
  ErrorDetails:
    description: The details of the error.
    properties:
      code:
        description: Error code.
        readOnly: true
        type: string
      message:
        description: Error message indicating why the operation failed.
        readOnly: true
        type: string
  ErrorResponse:
    description: Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.
    properties:
      error:
        $ref: "#/definitions/ErrorDetails"
        description: The details of the error.
    type: object
  Operation:
    description: A Cost management REST API operation.
    properties:
      display:
        description: The object that represents the operation.
        properties:
          operation:
            description: "Operation type: Read, write, delete, etc."
            readOnly: true
            type: string
          provider:
            description: "Service provider: Microsoft.CostManagement."
            readOnly: true
            type: string
          resource:
            description: "Resource on which the operation is performed: Dimensions, Query."
            readOnly: true
            type: string
      name:
        description: "Operation name: {provider}/{resource}/{operation}."
        readOnly: true
        type: string
    type: object
  OperationListResult:
    description: Result of listing cost management operations. It contains a list of operations and a URL link to get the next set of results.
    properties:
      nextLink:
[...]
