swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Use these REST APIs to get the analytics reports associated with your Azure API Management deployment.
  title: ApiManagementClient
  version: 2019-12-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/apimreports.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: apimanagement-apimreports
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters: {}
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/reports/byApi":
    get:
      description: Lists report records by API.
      operationId: Reports_ListByApi
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: true
          type: string
        - description: Number of records to return.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Number of records to skip.
          format: int32
          in: query
          minimum: 0
          name: $skip
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: OData order by query option.
          in: query
          name: $orderby
          required: false
          type: string
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Lists a collection of Report record.
          schema:
            description: Paged Report records list representation.
            properties:
              count:
                description: Total record count number across all pages.
                format: int64
                type: integer
              nextLink:
                description: Next page link if any.
                type: string
              value:
                description: Page values.
                items:
                  description: Report data.
                  properties:
                    apiId:
                      description: API identifier path. /apis/{apiId}
                      type: string
                    apiRegion:
                      description: API region identifier.
                      type: string
                    apiTimeAvg:
                      description: Average time it took to process request.
                      format: double
                      type: number
                    apiTimeMax:
                      description: Maximum time it took to process request.
                      format: double
                      type: number
                    apiTimeMin:
                      description: Minimum time it took to process request.
                      format: double
                      type: number
                    bandwidth:
                      description: Bandwidth consumed.
                      format: int64
                      type: integer
                    cacheHitCount:
                      description: Number of times when content was served from cache policy.
                      format: int32
                      type: integer
                    cacheMissCount:
                      description: Number of times content was fetched from backend.
                      format: int32
                      type: integer
                    callCountBlocked:
                      description: Number of calls blocked due to invalid credentials. This includes calls returning HttpStatusCode.Unauthorized and HttpStatusCode.Forbidden and HttpStatusCode.TooManyRequests
                      format: int32
                      type: integer
                    callCountFailed:
                      description: Number of calls failed due to proxy or backend errors. This includes calls returning HttpStatusCode.BadRequest(400) and any Code between HttpStatusCode.InternalServerError (500) and 600
                      format: int32
                      type: integer
                    callCountOther:
                      description: Number of other calls.
                      format: int32
                      type: integer
                    callCountSuccess:
                      description: Number of successful calls. This includes calls returning HttpStatusCode <= 301 and HttpStatusCode.NotModified and HttpStatusCode.TemporaryRedirect
                      format: int32
                      type: integer
                    callCountTotal:
                      description: Total number of calls.
                      format: int32
                      type: integer
                    country:
                      description: Country to which this record data is related.
                      type: string
                    interval:
                      description: Length of aggregation period.  Interval must be multiple of 15 minutes and may not be zero. The value should be in ISO 8601 format (http://en.wikipedia.org/wiki/ISO_8601#Durations).
                      type: string
                    name:
                      description: Name depending on report endpoint specifies product, API, operation or developer name.
                      type: string
                    operationId:
                      description: Operation identifier path. /apis/{apiId}/operations/{operationId}
                      type: string
                    productId:
                      description: Product identifier path. /products/{productId}
                      readOnly: true
                      type: string
                    region:
                      description: Country region to which this record data is related.
                      type: string
                    serviceTimeAvg:
                      description: Average time it took to process request on backend.
                      format: double
                      type: number
                    serviceTimeMax:
                      description: Maximum time it took to process request on backend.
                      format: double
                      type: number
                    serviceTimeMin:
                      description: Minimum time it took to process request on backend.
                      format: double
                      type: number
                    subscriptionId:
                      description: Subscription identifier path. /subscriptions/{subscriptionId}
                      type: string
                    timestamp:
                      description: |
                        Start of aggregation period. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
                      format: date-time
                      type: string
                    userId:
                      description: User identifier path. /users/{userId}
                      readOnly: true
                      type: string
                    zip:
                      description: Zip code to which this record data is related.
                      type: string
                type: array
      tags:
        - Reports
      x-ms-examples:
        ApiManagementGetReportsByApi:
          parameters:
            $filter: timestamp ge datetime'2017-06-01T00:00:00' and timestamp le datetime'2017-06-04T00:00:00'
            api-version: 2019-12-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                count: 2
                nextLink: ""
                value:
                  - apiId: /apis/5600b59475ff190048040001
                    apiTimeAvg: 0
                    apiTimeMax: 0
                    apiTimeMin: 0
                    bandwidth: 0
                    cacheHitCount: 0
                    cacheMissCount: 0
                    callCountBlocked: 0
                    callCountFailed: 0
                    callCountOther: 0
                    callCountSuccess: 0
                    callCountTotal: 0
                    name: Echo API
                    serviceTimeAvg: 0
                    serviceTimeMax: 0
                    serviceTimeMin: 0
                  - apiId: /apis/57a03a13e4bbd5119c8b19e9
                    apiTimeAvg: 1015.7607923076923
                    apiTimeMax: 1819.2173
                    apiTimeMin: 330.3206
                    bandwidth: 11019
                    cacheHitCount: 0
                    cacheMissCount: 0
                    callCountBlocked: 1
                    callCountFailed: 0
                    callCountOther: 0
                    callCountSuccess: 13
                    callCountTotal: 14
                    name: httpbin
                    serviceTimeAvg: 957.094776923077
                    serviceTimeMax: 1697.3612
                    serviceTimeMin: 215.24
      x-ms-odata: ./definitions.json#/definitions/ReportRecordContract
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/reports/byGeo":
    get:
      description: Lists report records by geography.
      operationId: Reports_ListByGeo
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: "|   Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>| timestamp | filter | ge, le |     | </br>| country | select |     |     | </br>| region | select |     |     | </br>| zip | select |     |     | </br>| apiRegion | filter | eq |     | </br>| userId | filter | eq |     | </br>| productId | filter | eq |     | </br>| subscriptionId | filter | eq |     | </br>| apiId | filter | eq |     | </br>| operationId | filter | eq |     | </br>| callCountSuccess | select |     |     | </br>| callCountBlocked | select |     |     | </br>| callCountFailed | select |     |     | </br>| callCountOther | select |     |     | </br>| bandwidth | select, orderBy |     |     | </br>| cacheHitsCount | select |     |     | </br>| cacheMissCount | select |     |     | </br>| apiTimeAvg | select |     |     | </br>| apiTimeMin | select |     |     | </br>| apiTimeMax | select |     |     | </br>| serviceTimeAvg | select |     |     | </br>| serviceTimeMin | select |     |     | </br>| serviceTimeMax | select |     |     | </br>"
          in: query
          name: $filter
          required: true
          type: string
        - description: Number of records to return.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Number of records to skip.
          format: int32
          in: query
          minimum: 0
          name: $skip
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Lists a collection of Report record.
          schema:
            description: Paged Report records list representation.
            properties:
              count:
                description: Total record count number across all pages.
                format: int64
                type: integer
              nextLink:
                description: Next page link if any.
                type: string
              value:
                description: Page values.
                items:
                  description: Report data.
                  properties:
                    apiId:
                      description: API identifier path. /apis/{apiId}
                      type: string
                    apiRegion:
                      description: API region identifier.
                      type: string
                    apiTimeAvg:
                      description: Average time it took to process request.
                      format: double
                      type: number
                    apiTimeMax:
                      description: Maximum time it took to process request.
                      format: double
                      type: number
                    apiTimeMin:
                      description: Minimum time it took to process request.
                      format: double
                      type: number
                    bandwidth:
                      description: Bandwidth consumed.
                      format: int64
                      type: integer
                    cacheHitCount:
                      description: Number of times when content was served from cache policy.
                      format: int32
                      type: integer
                    cacheMissCount:
                      description: Number of times content was fetched from backend.
                      format: int32
                      type: integer
                    callCountBlocked:
                      description: Number of calls blocked due to invalid credentials. This includes calls returning HttpStatusCode.Unauthorized and HttpStatusCode.Forbidden and HttpStatusCode.TooManyRequests
                      format: int32
                      type: integer
                    callCountFailed:
                      description: Number of calls failed due to proxy or backend errors. This includes calls returning HttpStatusCode.BadRequest(400) and any Code between HttpStatusCode.InternalServerError (500) and 600
                      format: int32
                      type: integer
                    callCountOther:
                      description: Number of other calls.
                      format: int32
                      type: integer
                    callCountSuccess:
                      description: Number of successful calls. This includes calls returning HttpStatusCode <= 301 and HttpStatusCode.NotModified and HttpStatusCode.TemporaryRedirect
                      format: int32
                      type: integer
                    callCountTotal:
                      description: Total number of calls.
                      format: int32
                      type: integer
                    country:
                      description: Country to which this record data is related.
                      type: string
                    interval:
                      description: Length of aggregation period.  Interval must be multiple of 15 minutes and may not be zero. The value should be in ISO 8601 format (http://en.wikipedia.org/wiki/ISO_8601#Durations).
                      type: string
                    name:
                      description: Name depending on report endpoint specifies product, API, operation or developer name.
                      type: string
                    operationId:
                      description: Operation identifier path. /apis/{apiId}/operations/{operationId}
                      type: string
                    productId:
                      description: Product identifier path. /products/{productId}
                      readOnly: true
                      type: string
                    region:
                      description: Country region to which this record data is related.
                      type: string
                    serviceTimeAvg:
                      description: Average time it took to process request on backend.
                      format: double
                      type: number
                    serviceTimeMax:
                      description: Maximum time it took to process request on backend.
                      format: double
                      type: number
                    serviceTimeMin:
                      description: Minimum time it took to process request on backend.
                      format: double
                      type: number
                    subscriptionId:
                      description: Subscription identifier path. /subscriptions/{subscriptionId}
                      type: string
                    timestamp:
                      description: |
                        Start of aggregation period. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
                      format: date-time
                      type: string
                    userId:
                      description: User identifier path. /users/{userId}
                      readOnly: true
                      type: string
                    zip:
                      description: Zip code to which this record data is related.
                      type: string
                type: array
      tags:
        - Reports
      x-ms-examples:
        ApiManagementGetReportsByGeo:
          parameters:
            $filter: timestamp ge datetime'2017-06-01T00:00:00' and timestamp le datetime'2017-06-04T00:00:00'
            api-version: 2019-12-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                  - apiTimeAvg: 1015.7607923076923
                    apiTimeMax: 1819.2173
                    apiTimeMin: 330.3206
                    bandwidth: 11019
                    cacheHitCount: 0
                    cacheMissCount: 0
                    callCountBlocked: 1
                    callCountFailed: 0
                    callCountOther: 0
                    callCountSuccess: 13
                    callCountTotal: 14
                    country: US
                    region: WA
                    serviceTimeAvg: 957.094776923077
                    serviceTimeMax: 1697.3612
                    serviceTimeMin: 215.24
                    zip: "98052"
      x-ms-odata: ./definitions.json#/definitions/ReportRecordContract
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/reports/byOperation":
    get:
      description: Lists report records by API Operations.
      operationId: Reports_ListByOperation
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: "|   Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>| timestamp | filter | ge, le |     | </br>| displayName | select, orderBy |     |     | </br>| apiRegion | filter | eq |     | </br>| userId | filter | eq |     | </br>| productId | filter | eq |     | </br>| subscriptionId | filter | eq |     | </br>| apiId | filter | eq |     | </br>| operationId | select, filter | eq |     | </br>| callCountSuccess | select, orderBy |     |     | </br>| callCountBlocked | select, orderBy |     |     | </br>| callCountFailed | select, orderBy |     |     | </br>| callCountOther | select, orderBy |     |     | </br>| callCountTotal | select, orderBy |     |     | </br>| bandwidth | select, orderBy |     |     | </br>| cacheHitsCount | select |     |     | </br>| cacheMissCount | select |     |     | </br>| apiTimeAvg | select, orderBy |     |     | </br>| apiTimeMin | select |     |     | </br>| apiTimeMax | select |     |     | </br>| serviceTimeAvg | select |     |     | </br>| serviceTimeMin | select |     |     | </br>| serviceTimeMax | select |     |     | </br>"
          in: query
          name: $filter
          required: true
          type: string
        - description: Number of records to return.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Number of records to skip.
          format: int32
          in: query
          minimum: 0
          name: $skip
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: OData order by query option.
          in: query
          name: $orderby
          required: false
          type: string
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Lists a collection of Report record.
          schema:
            description: Paged Report records list representation.
            properties:
              count:
                description: Total record count number across all pages.
                format: int64
                type: integer
              nextLink:
                description: Next page link if any.
                type: string
              value:
                description: Page values.
                items:
                  description: Report data.
                  properties:
                    apiId:
                      description: API identifier path. /apis/{apiId}
                      type: string
                    apiRegion:
                      description: API region identifier.
                      type: string
                    apiTimeAvg:
                      description: Average time it took to process request.
                      format: double
                      type: number
                    apiTimeMax:
                      description: Maximum time it took to process request.
                      format: double
                      type: number
                    apiTimeMin:
                      description: Minimum time it took to process request.
                      format: double
                      type: number
                    bandwidth:
                      description: Bandwidth consumed.
                      format: int64
                      type: integer
                    cacheHitCount:
                      description: Number of times when content was served from cache policy.
                      format: int32
                      type: integer
                    cacheMissCount:
                      description: Number of times content was fetched from backend.
                      format: int32
                      type: integer
                    callCountBlocked:
                      description: Number of calls blocked due to invalid credentials. This includes calls returning HttpStatusCode.Unauthorized and HttpStatusCode.Forbidden and HttpStatusCode.TooManyRequests
                      format: int32
                      type: integer
                    callCountFailed:
                      description: Number of calls failed due to proxy or backend errors. This includes calls returning HttpStatusCode.BadRequest(400) and any Code between HttpStatusCode.InternalServerError (500) and 600
                      format: int32
                      type: integer
                    callCountOther:
                      description: Number of other calls.
                      format: int32
                      type: integer
                    callCountSuccess:
                      description: Number of successful calls. This includes calls returning HttpStatusCode <= 301 and HttpStatusCode.NotModified and HttpStatusCode.TemporaryRedirect
                      format: int32
                      type: integer
                    callCountTotal:
                      description: Total number of calls.
                      format: int32
                      type: integer
                    country:
                      description: Country to which this record data is related.
                      type: string
                    interval:
                      description: Length of aggregation period.  Interval must be multiple of 15 minutes and may not be zero. The value should be in ISO 8601 format (http://en.wikipedia.org/wiki/ISO_8601#Durations).
                      type: string
                    name:
                      description: Name depending on report endpoint specifies product, API, operation or developer name.
                      type: string
                    operationId:
                      description: Operation identifier path. /apis/{apiId}/operations/{operationId}
                      type: string
                    productId:
                      description: Product identifier path. /products/{productId}
                      readOnly: true
                      type: string
                    region:
                      description: Country region to which this record data is related.
                      type: string
                    serviceTimeAvg:
                      description: Average time it took to process request on backend.
                      format: double
                      type: number
                    serviceTimeMax:
                      description: Maximum time it took to process request on backend.
                      format: double
                      type: number
                    serviceTimeMin:
                      description: Minimum time it took to process request on backend.
                      format: double
                      type: number
                    subscriptionId:
                      description: Subscription identifier path. /subscriptions/{subscriptionId}
                      type: string
                    timestamp:
                      description: |
                        Start of aggregation period. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
                      format: date-time
                      type: string
                    userId:
                      description: User identifier path. /users/{userId}
                      readOnly: true
                      type: string
                    zip:
                      description: Zip code to which this record data is related.
                      type: string
                type: array
      tags:
        - Reports
      x-ms-examples:
        ApiManagementGetReportsByOperation:
          parameters:
            $filter: timestamp ge datetime'2017-06-01T00:00:00' and timestamp le datetime'2017-06-04T00:00:00'
            api-version: 2019-12-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                count: 3
                nextLink: ""
                value:
                  - apiId: /apis/57a03a13e4bbd5119c8b19e9
                    apiTimeAvg: 1015.7607923076923
                    apiTimeMax: 1819.2173
                    apiTimeMin: 330.3206
                    bandwidth: 11019
                    cacheHitCount: 0
                    cacheMissCount: 0
                    callCountBlocked: 1
                    callCountFailed: 0
                    callCountOther: 0
                    callCountSuccess: 13
                    callCountTotal: 14
                    name: get
                    operationId: /apis/57a03a13e4bbd5119c8b19e9/operations/57a03a1dd8d14f0a780d7d14
                    serviceTimeAvg: 957.094776923077
                    serviceTimeMax: 1697.3612
                    serviceTimeMin: 215.24
                  - apiId: /apis/57c999d1e4bbd50c988cb2c3
                    apiTimeAvg: 0
                    apiTimeMax: 0
                    apiTimeMin: 0
                    bandwidth: 0
                    cacheHitCount: 0
                    cacheMissCount: 0
                    callCountBlocked: 0
                    callCountFailed: 0
                    callCountOther: 0
                    callCountSuccess: 0
                    callCountTotal: 0
                    name: GetWeatherInformation
                    operationId: /apis/57c999d1e4bbd50c988cb2c3/operations/57c999d1e4bbd50df889c93e
                    serviceTimeAvg: 0
                    serviceTimeMax: 0
                    serviceTimeMin: 0
                  - apiId: /apis/57c999d1e4bbd50c988cb2c3
                    apiTimeAvg: 0
                    apiTimeMax: 0
                    apiTimeMin: 0
                    bandwidth: 0
                    cacheHitCount: 0
                    cacheMissCount: 0
                    callCountBlocked: 0
                    callCountFailed: 0
                    callCountOther: 0
                    callCountSuccess: 0
                    callCountTotal: 0
                    name: GetCityForecastByZIP
                    operationId: /apis/57c999d1e4bbd50c988cb2c3/operations/57c999d1e4bbd50df889c93f
                    serviceTimeAvg: 0
                    serviceTimeMax: 0
                    serviceTimeMin: 0
      x-ms-odata: ./definitions.json#/definitions/ReportRecordContract
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/reports/byProduct":
    get:
      description: Lists report records by Product.
      operationId: Reports_ListByProduct
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: "|   Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>| timestamp | filter | ge, le |     | </br>| displayName | select, orderBy |     |     | </br>| apiRegion | filter | eq |     | </br>| userId | filter | eq |     | </br>| productId | select, filter | eq |     | </br>| subscriptionId | filter | eq |     | </br>| callCountSuccess | select, orderBy |     |     | </br>| callCountBlocked | select, orderBy |     |     | </br>| callCountFailed | select, orderBy |     |     | </br>| callCountOther | select, orderBy |     |     | </br>| callCountTotal | select, orderBy |     |     | </br>| bandwidth | select, orderBy |     |     | </br>| cacheHitsCount | select |     |     | </br>| cacheMissCount | select |     |     | </br>| apiTimeAvg | select, orderBy |     |     | </br>| apiTimeMin | select |     |     | </br>| apiTimeMax | select |     |     | </br>| serviceTimeAvg | select |     |     | </br>| serviceTimeMin | select |     |     | </br>| serviceTimeMax | select |     |     | </br>"
          in: query
          name: $filter
          required: true
          type: string
        - description: Number of records to return.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Number of records to skip.
          format: int32
          in: query
          minimum: 0
          name: $skip
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: OData order by query option.
          in: query
          name: $orderby
          required: false
          type: string
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Lists a collection of Report record.
          schema:
            description: Paged Report records list representation.
            properties:
              count:
                description: Total record count number across all pages.
                format: int64
                type: integer
              nextLink:
                description: Next page link if any.
                type: string
              value:
                description: Page values.
                items:
                  description: Report data.
                  properties:
                    apiId:
                      description: API identifier path. /apis/{apiId}
                      type: string
                    apiRegion:
                      description: API region identifier.
                      type: string
                    apiTimeAvg:
                      description: Average time it took to process request.
                      format: double
                      type: number
                    apiTimeMax:
                      description: Maximum time it took to process request.
                      format: double
                      type: number
                    apiTimeMin:
                      description: Minimum time it took to process request.
                      format: double
                      type: number
                    bandwidth:
                      description: Bandwidth consumed.
                      format: int64
                      type: integer
                    cacheHitCount:
                      description: Number of times when content was served from cache policy.
                      format: int32
                      type: integer
                    cacheMissCount:
                      description: Number of times content was fetched from backend.
                      format: int32
                      type: integer
                    callCountBlocked:
                      description: Number of calls blocked due to invalid credentials. This includes calls returning HttpStatusCode.Unauthorized and HttpStatusCode.Forbidden and HttpStatusCode.TooManyRequests
                      format: int32
                      type: integer
                    callCountFailed:
                      description: Number of calls failed due to proxy or backend errors. This includes calls returning HttpStatusCode.BadRequest(400) and any Code between HttpStatusCode.InternalServerError (500) and 600
                      format: int32
                      type: integer
                    callCountOther:
                      description: Number of other calls.
                      format: int32
                      type: integer
                    callCountSuccess:
                      description: Number of successful calls. This includes calls returning HttpStatusCode <= 301 and HttpStatusCode.NotModified and HttpStatusCode.TemporaryRedirect
                      format: int32
                      type: integer
                    callCountTotal:
                      description: Total number of calls.
                      format: int32
                      type: integer
                    country:
                      description: Country to which this record data is related.
                      type: string
                    interval:
                      description: Length of aggregation period.  Interval must be multiple of 15 minutes and may not be zero. The value should be in ISO 8601 format (http://en.wikipedia.org/wiki/ISO_8601#Durations).
                      type: string
                    name:
                      description: Name depending on report endpoint specifies product, API, operation or developer name.
                      type: string
                    operationId:
                      description: Operation identifier path. /apis/{apiId}/operations/{operationId}
                      type: string
                    productId:
                      description: Product identifier path. /products/{productId}
                      readOnly: true
                      type: string
                    region:
                      description: Country region to which this record data is related.
                      type: string
                    serviceTimeAvg:
                      description: Average time it took to process request on backend.
                      format: double
                      type: number
                    serviceTimeMax:
                      description: Maximum time it took to process request on backend.
                      format: double
                      type: number
                    serviceTimeMin:
                      description: Minimum time it took to process request on backend.
                      format: double
                      type: number
                    subscriptionId:
                      description: Subscription identifier path. /subscriptions/{subscriptionId}
                      type: string
                    timestamp:
                      description: |
                        Start of aggregation period. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
                      format: date-time
                      type: string
                    userId:
                      description: User identifier path. /users/{userId}
                      readOnly: true
                      type: string
                    zip:
                      description: Zip code to which this record data is related.
                      type: string
                type: array
      tags:
        - Reports
      x-ms-examples:
        ApiManagementGetReportsByProduct:
          parameters:
            $filter: timestamp ge datetime'2017-06-01T00:00:00' and timestamp le datetime'2017-06-04T00:00:00'
            api-version: 2019-12-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                count: 2
                nextLink: ""
                value:
                  - apiTimeAvg: 0
                    apiTimeMax: 0
                    apiTimeMin: 0
                    bandwidth: 0
                    cacheHitCount: 0
                    cacheMissCount: 0
                    callCountBlocked: 0
                    callCountFailed: 0
                    callCountOther: 0
                    callCountSuccess: 0
                    callCountTotal: 0
                    name: Starter
                    productId: /products/5600b59475ff190048060001
                    serviceTimeAvg: 0
                    serviceTimeMax: 0
                    serviceTimeMin: 0
                  - apiTimeAvg: 1015.7607923076923
                    apiTimeMax: 1819.2173
                    apiTimeMin: 330.3206
                    bandwidth: 11019
                    cacheHitCount: 0
                    cacheMissCount: 0
                    callCountBlocked: 1
                    callCountFailed: 0
                    callCountOther: 0
                    callCountSuccess: 13
                    callCountTotal: 14
                    name: Unlimited
                    productId: /products/5600b59475ff190048060002
                    serviceTimeAvg: 957.094776923077
                    serviceTimeMax: 1697.3612
                    serviceTimeMin: 215.24
      x-ms-odata: ./definitions.json#/definitions/ReportRecordContract
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/reports/byRequest":
    get:
      description: Lists report records by Request.
      operationId: Reports_ListByRequest
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: "|   Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>| timestamp | filter | ge, le |     | </br>| apiId | filter | eq |     | </br>| operationId | filter | eq |     | </br>| productId | filter | eq |     | </br>| userId | filter | eq |     | </br>| apiRegion | filter | eq |     | </br>| subscriptionId | filter | eq |     | </br>"
          in: query
          name: $filter
          required: true
          type: string
        - description: Number of records to return.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Number of records to skip.
          format: int32
          in: query
          minimum: 0
          name: $skip
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Lists a collection of Report record.
          schema:
            description: Paged Report records list representation.
            properties:
              count:
                description: Total record count number across all pages.
                format: int64
                type: integer
              value:
                description: Page values.
                items:
                  description: Request Report data.
                  properties:
                    apiId:
                      description: API identifier path. /apis/{apiId}
                      type: string
                    apiRegion:
                      description: Azure region where the gateway that processed this request is located.
                      type: string
                    apiTime:
                      description: The total time it took to process this request.
                      format: double
                      type: number
                    backendResponseCode:
                      description: The HTTP status code received by the gateway as a result of forwarding this request to the backend.
                      type: string
                    cache:
                      description: Specifies if response cache was involved in generating the response. If the value is none, the cache was not used. If the value is hit, cached response was returned. If the value is miss, the cache was used but lookup resulted in a miss and request was fulfilled by the backend.
                      type: string
                    ipAddress:
                      description: The client IP address associated with this request.
                      type: string
                    method:
                      description: The HTTP method associated with this request..
                      type: string
                    operationId:
                      description: Operation identifier path. /apis/{apiId}/operations/{operationId}
                      type: string
                    productId:
                      description: Product identifier path. /products/{productId}
                      readOnly: true
                      type: string
                    requestId:
                      description: Request Identifier.
                      type: string
                    requestSize:
                      description: The size of this request..
                      format: int32
                      type: integer
                    responseCode:
                      description: The HTTP status code returned by the gateway.
                      format: int32
                      type: integer
                    responseSize:
                      description: The size of the response returned by the gateway.
                      format: int32
                      type: integer
                    serviceTime:
                      description: he time it took to forward this request to the backend and get the response back.
                      format: double
                      type: number
                    subscriptionId:
                      description: Subscription identifier path. /subscriptions/{subscriptionId}
                      type: string
                    timestamp:
                      description: The date and time when this request was received by the gateway in ISO 8601 format.
                      format: date-time
                      type: string
                    url:
                      description: The full URL associated with this request.
                      type: string
                    userId:
                      description: User identifier path. /users/{userId}
                      readOnly: true
                      type: string
                type: array
      tags:
        - Reports
      x-ms-examples:
        ApiManagementGetReportsByRequest:
          parameters:
            $filter: timestamp ge datetime'2017-06-01T00:00:00' and timestamp le datetime'2017-06-04T00:00:00'
            api-version: 2019-12-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                count: 2
                value:
                  - apiId: /apis/5931a75ae4bbd512a88c680b
                    apiRegion: East Asia
                    apiTime: 221.1544
                    cache: none
                    ipAddress: 207.xx.155.xx
                    method: GET
                    operationId: /apis/5931a75ae4bbd512a88c680b/operations/-
                    productId: /products/-
                    requestId: 63e7119c-26aa-433c-96d7-f6f3267ff52f
                    requestSize: 0
                    responseCode: 404
                    responseSize: 405
                    serviceTime: 0
                    subscriptionId: /subscriptions/5600b59475ff190048070002
                    timestamp: 2017-06-03T00:17:00.1649134Z
                    url: https://apimService1.azure-api.net/echo/resource?param1=sample
                    userId: /users/1
                  - apiId: /apis/5931a75ae4bbd512a88c680b
                    apiRegion: East Asia
                    apiTime: 6.675400000000001
                    cache: none
                    ipAddress: 207.xx.155.xx
                    method: POST
                    operationId: /apis/5931a75ae4bbd512a88c680b/operations/-
                    productId: /products/-
                    requestId: e581b7f7-c9ec-4fc6-8ab9-3855d9b00b04
                    requestSize: 0
                    responseCode: 404
                    responseSize: 403
                    serviceTime: 0
                    subscriptionId: /subscriptions/5600b59475ff190048070002
                    timestamp: 2017-06-03T00:17:20.5255131Z
                    url: https://apimService1.azure-api.net/echo/resource
                    userId: /users/1
      x-ms-odata: ./definitions.json#/definitions/RequestReportRecordContract
      x-ms-pageable: {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/reports/bySubscription":
    get:
      description: Lists report records by subscription.
      operationId: Reports_ListBySubscription
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: "|   Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>| timestamp | filter | ge, le |     | </br>| displayName | select, orderBy |     |     | </br>| apiRegion | filter | eq |     | </br>| userId | select, filter | eq |     | </br>| productId | select, filter | eq |     | </br>| subscriptionId | select, filter | eq |     | </br>| callCountSuccess | select, orderBy |     |     | </br>| callCountBlocked | select, orderBy |     |     | </br>| callCountFailed | select, orderBy |     |     | </br>| callCountOther | select, orderBy |     |     | </br>| callCountTotal | select, orderBy |     |     | </br>| bandwidth | select, orderBy |     |     | </br>| cacheHitsCount | select |     |     | </br>| cacheMissCount | select |     |     | </br>| apiTimeAvg | select, orderBy |     |     | </br>| apiTimeMin | select |     |     | </br>| apiTimeMax | select |     |     | </br>| serviceTimeAvg | select |     |     | </br>| serviceTimeMin | select |     |     | </br>| serviceTimeMax | select |     |     | </br>"
          in: query
          name: $filter
          required: true
          type: string
        - description: Number of records to return.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Number of records to skip.
          format: int32
          in: query
          minimum: 0
          name: $skip
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: OData order by query option.
          in: query
          name: $orderby
          required: false
          type: string
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Lists a collection of Report record.
          schema:
            description: Paged Report records list representation.
            properties:
              count:
                description: Total record count number across all pages.
                format: int64
                type: integer
              nextLink:
                description: Next page link if any.
                type: string
              value:
                description: Page values.
                items:
                  description: Report data.
                  properties:
                    apiId:
                      description: API identifier path. /apis/{apiId}
                      type: string
                    apiRegion:
                      description: API region identifier.
                      type: string
                    apiTimeAvg:
                      description: Average time it took to process request.
                      format: double
                      type: number
                    apiTimeMax:
                      description: Maximum time it took to process request.
                      format: double
                      type: number
                    apiTimeMin:
                      description: Minimum time it took to process request.
                      format: double
                      type: number
                    bandwidth:
                      description: Bandwidth consumed.
                      format: int64
                      type: integer
                    cacheHitCount:
                      description: Number of times when content was served from cache policy.
                      format: int32
                      type: integer
                    cacheMissCount:
                      description: Number of times content was fetched from backend.
                      format: int32
                      type: integer
                    callCountBlocked:
                      description: Number of calls blocked due to invalid credentials. This includes calls returning HttpStatusCode.Unauthorized and HttpStatusCode.Forbidden and HttpStatusCode.TooManyRequests
                      format: int32
                      type: integer
                    callCountFailed:
                      description: Number of calls failed due to proxy or backend errors. This includes calls returning HttpStatusCode.BadRequest(400) and any Code between HttpStatusCode.InternalServerError (500) and 600
                      format: int32
                      type: integer
                    callCountOther:
                      description: Number of other calls.
                      format: int32
                      type: integer
                    callCountSuccess:
                      description: Number of successful calls. This includes calls returning HttpStatusCode <= 301 and HttpStatusCode.NotModified and HttpStatusCode.TemporaryRedirect
                      format: int32
                      type: integer
                    callCountTotal:
                      description: Total number of calls.
                      format: int32
                      type: integer
                    country:
                      description: Country to which this record data is related.
                      type: string
                    interval:
                      description: Length of aggregation period.  Interval must be multiple of 15 minutes and may not be zero. The value should be in ISO 8601 format (http://en.wikipedia.org/wiki/ISO_8601#Durations).
                      type: string
                    name:
                      description: Name depending on report endpoint specifies product, API, operation or developer name.
                      type: string
                    operationId:
                      description: Operation identifier path. /apis/{apiId}/operations/{operationId}
                      type: string
                    productId:
                      description: Product identifier path. /products/{productId}
                      readOnly: true
                      type: string
                    region:
                      description: Country region to which this record data is related.
                      type: string
                    serviceTimeAvg:
                      description: Average time it took to process request on backend.
                      format: double
                      type: number
                    serviceTimeMax:
                      description: Maximum time it took to process request on backend.
                      format: double
                      type: number
                    serviceTimeMin:
                      description: Minimum time it took to process request on backend.
                      format: double
                      type: number
                    subscriptionId:
                      description: Subscription identifier path. /subscriptions/{subscriptionId}
                      type: string
                    timestamp:
                      description: |
                        Start of aggregation period. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
                      format: date-time
                      type: string
                    userId:
                      description: User identifier path. /users/{userId}
                      readOnly: true
                      type: string
                    zip:
                      description: Zip code to which this record data is related.
                      type: string
                type: array
      tags:
        - Reports
      x-ms-examples:
        ApiManagementGetReportsBySubscription:
          parameters:
            $filter: timestamp ge datetime'2017-06-01T00:00:00' and timestamp le datetime'2017-06-04T00:00:00'
            api-version: 2019-12-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                count: 3
                nextLink: ""
                value:
                  - apiTimeAvg: 0
                    apiTimeMax: 0
                    apiTimeMin: 0
                    bandwidth: 0
                    cacheHitCount: 0
                    cacheMissCount: 0
                    callCountBlocked: 0
                    callCountFailed: 0
                    callCountOther: 0
                    callCountSuccess: 0
                    callCountTotal: 0
                    name: ""
                    productId: /products/5600b59475ff190048060001
                    serviceTimeAvg: 0
                    serviceTimeMax: 0
                    serviceTimeMin: 0
                    subscriptionId: /subscriptions/5600b59475ff190048070001
                    userId: /users/1
                  - apiTimeAvg: 1015.7607923076923
                    apiTimeMax: 1819.2173
                    apiTimeMin: 330.3206
                    bandwidth: 11019
                    cacheHitCount: 0
                    cacheMissCount: 0
                    callCountBlocked: 1
                    callCountFailed: 0
                    callCountOther: 0
                    callCountSuccess: 13
                    callCountTotal: 14
                    name: ""
                    productId: /products/5600b59475ff190048060002
                    serviceTimeAvg: 957.094776923077
                    serviceTimeMax: 1697.3612
                    serviceTimeMin: 215.24
                    subscriptionId: /subscriptions/5600b59475ff190048070002
                    userId: /users/1
                  - apiTimeAvg: 0
                    apiTimeMax: 0
                    apiTimeMin: 0
                    bandwidth: 0
                    cacheHitCount: 0
                    cacheMissCount: 0
                    callCountBlocked: 0
                    callCountFailed: 0
                    callCountOther: 0
                    callCountSuccess: 0
                    callCountTotal: 0
                    name: ""
                    productId: /products/5702e97e5157a50f48dce801
                    serviceTimeAvg: 0
                    serviceTimeMax: 0
                    serviceTimeMin: 0
                    subscriptionId: /subscriptions/5702e97e5157a50a9c733303
                    userId: /users/1
      x-ms-odata: ./definitions.json#/definitions/ReportRecordContract
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/reports/byTime":
    get:
      description: Lists report records by Time.
      operationId: Reports_ListByTime
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: "|   Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>| timestamp | filter, select | ge, le |     | </br>| interval | select |     |     | </br>| apiRegion | filter | eq |     | </br>| userId | filter | eq |     | </br>| productId | filter | eq |     | </br>| subscriptionId | filter | eq |     | </br>| apiId | filter | eq |     | </br>| operationId | filter | eq |     | </br>| callCountSuccess | select |     |     | </br>| callCountBlocked | select |     |     | </br>| callCountFailed | select |     |     | </br>| callCountOther | select |     |     | </br>| bandwidth | select, orderBy |     |     | </br>| cacheHitsCount | select |     |     | </br>| cacheMissCount | select |     |     | </br>| apiTimeAvg | select |     |     | </br>| apiTimeMin | select |     |     | </br>| apiTimeMax | select |     |     | </br>| serviceTimeAvg | select |     |     | </br>| serviceTimeMin | select |     |     | </br>| serviceTimeMax | select |     |     | </br>"
          in: query
          name: $filter
          required: true
          type: string
        - description: Number of records to return.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Number of records to skip.
          format: int32
          in: query
          minimum: 0
          name: $skip
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: OData order by query option.
          in: query
          name: $orderby
          required: false
          type: string
        - description: "By time interval. Interval must be multiple of 15 minutes and may not be zero. The value should be in ISO  8601 format (http://en.wikipedia.org/wiki/ISO_8601#Durations).This code can be used to convert TimeSpan to a valid interval string: XmlConvert.ToString(new TimeSpan(hours, minutes, seconds))."
          format: duration
          in: query
          name: interval
          required: true
          type: string
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Lists a collection of Report record.
          schema:
            description: Paged Report records list representation.
            properties:
              count:
                description: Total record count number across all pages.
                format: int64
                type: integer
              nextLink:
                description: Next page link if any.
                type: string
              value:
                description: Page values.
                items:
                  description: Report data.
                  properties:
                    apiId:
                      description: API identifier path. /apis/{apiId}
                      type: string
                    apiRegion:
                      description: API region identifier.
                      type: string
                    apiTimeAvg:
                      description: Average time it took to process request.
                      format: double
                      type: number
                    apiTimeMax:
                      description: Maximum time it took to process request.
                      format: double
                      type: number
                    apiTimeMin:
                      description: Minimum time it took to process request.
                      format: double
                      type: number
                    bandwidth:
                      description: Bandwidth consumed.
                      format: int64
                      type: integer
                    cacheHitCount:
                      description: Number of times when content was served from cache policy.
                      format: int32
                      type: integer
                    cacheMissCount:
                      description: Number of times content was fetched from backend.
                      format: int32
                      type: integer
                    callCountBlocked:
                      description: Number of calls blocked due to invalid credentials. This includes calls returning HttpStatusCode.Unauthorized and HttpStatusCode.Forbidden and HttpStatusCode.TooManyRequests
                      format: int32
                      type: integer
                    callCountFailed:
                      description: Number of calls failed due to proxy or backend errors. This includes calls returning HttpStatusCode.BadRequest(400) and any Code between HttpStatusCode.InternalServerError (500) and 600
                      format: int32
                      type: integer
                    callCountOther:
                      description: Number of other calls.
                      format: int32
                      type: integer
                    callCountSuccess:
                      description: Number of successful calls. This includes calls returning HttpStatusCode <= 301 and HttpStatusCode.NotModified and HttpStatusCode.TemporaryRedirect
                      format: int32
                      type: integer
                    callCountTotal:
                      description: Total number of calls.
                      format: int32
                      type: integer
                    country:
                      description: Country to which this record data is related.
                      type: string
                    interval:
                      description: Length of aggregation period.  Interval must be multiple of 15 minutes and may not be zero. The value should be in ISO 8601 format (http://en.wikipedia.org/wiki/ISO_8601#Durations).
                      type: string
                    name:
                      description: Name depending on report endpoint specifies product, API, operation or developer name.
                      type: string
                    operationId:
                      description: Operation identifier path. /apis/{apiId}/operations/{operationId}
                      type: string
                    productId:
                      description: Product identifier path. /products/{productId}
                      readOnly: true
                      type: string
                    region:
                      description: Country region to which this record data is related.
                      type: string
                    serviceTimeAvg:
                      description: Average time it took to process request on backend.
                      format: double
                      type: number
                    serviceTimeMax:
                      description: Maximum time it took to process request on backend.
                      format: double
                      type: number
                    serviceTimeMin:
                      description: Minimum time it took to process request on backend.
                      format: double
                      type: number
                    subscriptionId:
                      description: Subscription identifier path. /subscriptions/{subscriptionId}
                      type: string
                    timestamp:
                      description: |
                        Start of aggregation period. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
                      format: date-time
                      type: string
                    userId:
                      description: User identifier path. /users/{userId}
                      readOnly: true
                      type: string
                    zip:
                      description: Zip code to which this record data is related.
                      type: string
                type: array
      tags:
        - Reports
      x-ms-examples:
        ApiManagementGetReportsByTime:
          parameters:
            $filter: timestamp ge datetime'2017-06-01T00:00:00' and timestamp le datetime'2017-06-04T00:00:00'
            api-version: 2019-12-01-preview
            interval: PT15M
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                count: 2
                nextLink: ""
                value:
                  - apiTimeAvg: 1337.46335
                    apiTimeMax: 1819.2173
                    apiTimeMin: 885.0839000000001
                    bandwidth: 3243
                    cacheHitCount: 0
                    cacheMissCount: 0
                    callCountBlocked: 0
                    callCountFailed: 0
                    callCountOther: 0
                    callCountSuccess: 4
                    callCountTotal: 4
                    interval: PT15M
                    serviceTimeAvg: 1255.917425
                    serviceTimeMax: 1697.3612
                    serviceTimeMin: 882.8264
                    timestamp: 2017-06-03T00:15:00Z
                  - apiTimeAvg: 872.7818777777778
                    apiTimeMax: 1093.8407
                    apiTimeMin: 330.3206
                    bandwidth: 7776
                    cacheHitCount: 0
                    cacheMissCount: 0
                    callCountBlocked: 1
                    callCountFailed: 0
                    callCountOther: 0
                    callCountSuccess: 9
                    callCountTotal: 10
                    interval: PT15M
                    serviceTimeAvg: 824.2847111111112
                    serviceTimeMax: 973.2262000000001
                    serviceTimeMin: 215.24
                    timestamp: 2017-06-03T00:30:00Z
      x-ms-odata: ./definitions.json#/definitions/ReportRecordContract
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/reports/byUser":
    get:
      description: Lists report records by User.
      operationId: Reports_ListByUser
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: "|   Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>| timestamp | filter | ge, le |     | </br>| displayName | select, orderBy |     |     | </br>| userId | select, filter | eq |     | </br>| apiRegion | filter | eq |     | </br>| productId | filter | eq |     | </br>| subscriptionId | filter | eq |     | </br>| apiId | filter | eq |     | </br>| operationId | filter | eq |     | </br>| callCountSuccess | select, orderBy |     |     | </br>| callCountBlocked | select, orderBy |     |     | </br>| callCountFailed | select, orderBy |     |     | </br>| callCountOther | select, orderBy |     |     | </br>| callCountTotal | select, orderBy |     |     | </br>| bandwidth | select, orderBy |     |     | </br>| cacheHitsCount | select |     |     | </br>| cacheMissCount | select |     |     | </br>| apiTimeAvg | select, orderBy |     |     | </br>| apiTimeMin | select |     |     | </br>| apiTimeMax | select |     |     | </br>| serviceTimeAvg | select |     |     | </br>| serviceTimeMin | select |     |     | </br>| serviceTimeMax | select |     |     | </br>"
          in: query
          name: $filter
          required: true
          type: string
        - description: Number of records to return.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Number of records to skip.
          format: int32
          in: query
          minimum: 0
          name: $skip
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: OData order by query option.
          in: query
          name: $orderby
          required: false
          type: string
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Lists a collection of Report record.
          schema:
            description: Paged Report records list representation.
            properties:
              count:
                description: Total record count number across all pages.
                format: int64
                type: integer
              nextLink:
                description: Next page link if any.
                type: string
              value:
                description: Page values.
                items:
                  description: Report data.
                  properties:
                    apiId:
                      description: API identifier path. /apis/{apiId}
                      type: string
                    apiRegion:
                      description: API region identifier.
                      type: string
                    apiTimeAvg:
                      description: Average time it took to process request.
                      format: double
                      type: number
                    apiTimeMax:
                      description: Maximum time it took to process request.
                      format: double
                      type: number
                    apiTimeMin:
                      description: Minimum time it took to process request.
                      format: double
                      type: number
                    bandwidth:
                      description: Bandwidth consumed.
                      format: int64
                      type: integer
                    cacheHitCount:
                      description: Number of times when content was served from cache policy.
                      format: int32
                      type: integer
                    cacheMissCount:
                      description: Number of times content was fetched from backend.
                      format: int32
                      type: integer
                    callCountBlocked:
                      description: Number of calls blocked due to invalid credentials. This includes calls returning HttpStatusCode.Unauthorized and HttpStatusCode.Forbidden and HttpStatusCode.TooManyRequests
                      format: int32
                      type: integer
                    callCountFailed:
                      description: Number of calls failed due to proxy or backend errors. This includes calls returning HttpStatusCode.BadRequest(400) and any Code between HttpStatusCode.InternalServerError (500) and 600
                      format: int32
                      type: integer
                    callCountOther:
                      description: Number of other calls.
                      format: int32
                      type: integer
                    callCountSuccess:
                      description: Number of successful calls. This includes calls returning HttpStatusCode <= 301 and HttpStatusCode.NotModified and HttpStatusCode.TemporaryRedirect
                      format: int32
                      type: integer
                    callCountTotal:
                      description: Total number of calls.
                      format: int32
                      type: integer
                    country:
                      description: Country to which this record data is related.
                      type: string
                    interval:
                      description: Length of aggregation period.  Interval must be multiple of 15 minutes and may not be zero. The value should be in ISO 8601 format (http://en.wikipedia.org/wiki/ISO_8601#Durations).
                      type: string
                    name:
                      description: Name depending on report endpoint specifies product, API, operation or developer name.
                      type: string
                    operationId:
                      description: Operation identifier path. /apis/{apiId}/operations/{operationId}
                      type: string
                    productId:
                      description: Product identifier path. /products/{productId}
                      readOnly: true
                      type: string
                    region:
                      description: Country region to which this record data is related.
                      type: string
                    serviceTimeAvg:
                      description: Average time it took to process request on backend.
                      format: double
                      type: number
                    serviceTimeMax:
                      description: Maximum time it took to process request on backend.
                      format: double
                      type: number
                    serviceTimeMin:
                      description: Minimum time it took to process request on backend.
                      format: double
                      type: number
                    subscriptionId:
                      description: Subscription identifier path. /subscriptions/{subscriptionId}
                      type: string
                    timestamp:
                      description: |
                        Start of aggregation period. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
                      format: date-time
                      type: string
                    userId:
                      description: User identifier path. /users/{userId}
                      readOnly: true
                      type: string
                    zip:
                      description: Zip code to which this record data is related.
                      type: string
                type: array
      tags:
        - Reports
      x-ms-examples:
        ApiManagementGetReportsByUser:
          parameters:
            $filter: timestamp ge datetime'2017-06-01T00:00:00' and timestamp le datetime'2017-06-04T00:00:00'
            api-version: 2019-12-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                count: 3
                nextLink: ""
                value:
                  - apiTimeAvg: 1015.7607923076923
                    apiTimeMax: 1819.2173
                    apiTimeMin: 330.3206
                    bandwidth: 11019
                    cacheHitCount: 0
                    cacheMissCount: 0
                    callCountBlocked: 1
                    callCountFailed: 0
                    callCountOther: 0
                    callCountSuccess: 13
                    callCountTotal: 14
                    name: Administrator
                    serviceTimeAvg: 957.094776923077
                    serviceTimeMax: 1697.3612
                    serviceTimeMin: 215.24
                    userId: /users/1
                  - apiTimeAvg: 0
                    apiTimeMax: 0
                    apiTimeMin: 0
                    bandwidth: 0
                    cacheHitCount: 0
                    cacheMissCount: 0
                    callCountBlocked: 0
                    callCountFailed: 0
                    callCountOther: 0
                    callCountSuccess: 0
                    callCountTotal: 0
                    name: Samir Solanki
                    serviceTimeAvg: 0
                    serviceTimeMax: 0
                    serviceTimeMin: 0
                    userId: /users/56eaec62baf08b06e46d27fd
                  - apiTimeAvg: 0
                    apiTimeMax: 0
                    apiTimeMin: 0
                    bandwidth: 0
                    cacheHitCount: 0
                    cacheMissCount: 0
                    callCountBlocked: 0
                    callCountFailed: 0
                    callCountOther: 0
                    callCountSuccess: 0
                    callCountTotal: 0
                    name: Anonymous
                    serviceTimeAvg: 0
                    serviceTimeMax: 0
                    serviceTimeMin: 0
                    userId: /users/54c800b332965a0035030000
      x-ms-odata: ./definitions.json#/definitions/ReportRecordContract
      x-ms-pageable:
        nextLinkName: nextLink
definitions: {}
