swagger: "2.0"
host: www.ticketmaster.com
basePath: /commerce/v2
info:
  contact:
    url: http://developer.ticketmaster.com/support/contact-us/
  description: Use the Ticketmaster Commerce API to look up available offers and products on various Ticketmaster platforms for North America markets. For formal partnerships and relationships, selected offers and products can be carted and transacted on through the cart, delivery, payment and purchase APIs – These APIs require approved access from Ticketmaster.
  title: Commerce API
  version: v2
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/ticketmaster-api/ticketmaster-api.github.io/dev/_data/orgs/commerce-api/v2/api.json
      version: "2.0"
  x-providerName: ticketmaster.com
  x-serviceName: commerce
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg
paths:
  "/commerce/v2/events/{eventId}/offers":
    get:
      description: Returns Event Offers.
      operationId: getEventOffers
      parameters:
        - default: ""
          description: API Key for external API developer
          in: header
          name: X-SSL-CERT-UID
          required: false
          type: string
        - default: ""
          description: Access token for
          in: header
          name: X-TM-ACCESS-TOKEN
          required: false
          type: string
        - description: Query Param Access Token
          in: query
          name: access_token
          required: false
          type: string
        - description: Query Param API Key for external API developer
          in: query
          name: api-key
          required: false
          type: string
        - description: Event Identifier
          in: path
          name: eventId
          required: true
          type: string
        - description: displayId to un-hide protected offers
          in: body
          name: body
          required: false
          schema:
            type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/OfferingResponse"
      summary: Event Offers
definitions:
  Area:
    properties:
      _links:
        $ref: "#/definitions/SimpleLinks"
      attributes:
        $ref: "#/definitions/AreaAttributes"
      id:
        type: string
      relationships:
        $ref: "#/definitions/AreaRelationships"
      type:
        type: string
    type: object
  AreaAttributes:
    properties:
      areaType:
        enum:
          - LEVEL
          - SECTION
          - AREA
        type: string
      description:
        type: string
      name:
        type: string
      rank:
        format: int32
        type: integer
    type: object
  AreaRelationships:
    properties:
      areas:
        $ref: "#/definitions/ResponseObjectRefList"
      offers:
        $ref: "#/definitions/ResponseObjectRefList"
      priceZones:
        $ref: "#/definitions/ResponseObjectRefList"
    type: object
  AttributeRef:
    properties:
      _links:
        $ref: "#/definitions/SimpleLinks"
      attributes:
        $ref: "#/definitions/AttributeRefAttributes"
      id:
        type: string
      relationships:
        $ref: "#/definitions/AttributeRefRelationships"
      type:
        type: string
    type: object
  AttributeRefAttributes:
    properties:
      description:
        type: string
    type: object
  AttributeRefRelationships:
    type: object
  EventMappingView:
    properties:
      id:
        type: string
      source:
        $ref: "#/definitions/Source"
      type:
        type: string
    type: object
  HoldRef:
    properties:
      _links:
        $ref: "#/definitions/SimpleLinks"
      attributes:
        $ref: "#/definitions/HoldRefAttributes"
      id:
        type: string
      relationships:
        $ref: "#/definitions/HoldRefRelationships"
      type:
        type: string
    type: object
  HoldRefAttributes:
    type: object
  HoldRefRelationships:
    type: object
  HrefLinkValue:
    properties:
      href:
        type: string
    type: object
  Limit:
    properties:
      max:
        format: int32
        type: integer
      maxAccessibleSeats:
        format: int32
        type: integer
      maxCompanionSeatsPerAccessibleSeat:
        format: int32
        type: integer
      min:
        format: int32
        type: integer
      multiples:
        format: int32
        type: integer
      sellableQty:
        type: string
    type: object
  Links:
    type: object
  Offer:
    properties:
      _links:
        $ref: "#/definitions/SimpleLinks"
      attributes:
        $ref: "#/definitions/OfferAttributes"
      id:
        type: string
      relationships:
        $ref: "#/definitions/OfferRelationships"
      type:
        type: string
    type: object
  OfferAttributes:
    properties:
      currency:
        type: string
      description:
        type: string
      end:
        format: date-time
        type: string
      limit:
        $ref: "#/definitions/Limit"
      name:
        type: string
      offerDetails:
        $ref: "#/definitions/OfferDetails"
      offerType:
        type: string
      prices:
        items:
          $ref: "#/definitions/OfferPrice"
        type: array
      rank:
        format: int32
        type: integer
      start:
        format: date-time
        type: string
    type: object
  OfferDetails:
    properties:
      link:
        type: string
      linkText:
        type: string
      text:
        type: string
    type: object
  OfferPrice:
    properties:
      fees:
        items:
          $ref: "#/definitions/OfferPriceFee"
        type: array
      priceZone:
        type: string
      taxes:
        items:
          $ref: "#/definitions/OfferPriceTax"
        type: array
      total:
        type: string
      value:
        type: string
    type: object
  OfferPriceFee:
    properties:
      label:
        type: string
      type:
        type: string
      value:
        type: string
    type: object
  OfferPriceTax:
    properties:
      label:
        type: string
      type:
        type: string
      value:
        type: string
    type: object
  OfferRelationships:
    properties:
      areas:
        $ref: "#/definitions/ResponseObjectRefList"
      offerSets:
        $ref: "#/definitions/ResponseObjectRefList"
      passwords:
        $ref: "#/definitions/ResponseObjectRefList"
      priceZones:
        $ref: "#/definitions/ResponseObjectRefList"
      products:
        $ref: "#/definitions/ResponseObjectRefList"
    type: object
  OfferedPrice:
    properties:
      _links:
        $ref: "#/definitions/SimpleLinks"
      attributes:
        $ref: "#/definitions/OfferedPriceAttributes"
      id:
        type: string
      relationships:
        $ref: "#/definitions/OfferedPriceRelationships"
      type:
        type: string
    type: object
  OfferedPriceAttributes:
    properties:
      currency:
        type: string
      value:
        type: string
    type: object
  OfferedPriceRelationships:
    properties:
      areas:
        $ref: "#/definitions/ResponseObjectRefList"
      offers:
        $ref: "#/definitions/ResponseObjectRefListSimpleLinks"
      priceZones:
        $ref: "#/definitions/ResponseObjectRefListSimpleLinks"
    type: object
  OfferingResponse:
    properties:
      _embedded:
        $ref: "#/definitions/OfferingResponseEmbeddedData"
      debug:
        items:
          type: string
        type: array
      limits:
        $ref: "#/definitions/Limit"
      metadata:
        $ref: "#/definitions/OfferingResponseMetadata"
      offers:
        items:
          $ref: "#/definitions/Offer"
        type: array
      prices:
        $ref: "#/definitions/ResponseObjectListOfferedPriceSimpleLinks"
    type: object
  OfferingResponseEmbeddedData:
    properties:
      areas:
        $ref: "#/definitions/ResponseObjectListAreaSimpleLinks"
      attributesRefs:
        $ref: "#/definitions/ResponseObjectListAttributeRefSimpleLinks"
      holds:
        $ref: "#/definitions/ResponseObjectListHoldRefSimpleLinks"
      passwords:
        $ref: "#/definitions/ResponseObjectListPasswordSimpleLinks"
      priceZones:
        $ref: "#/definitions/ResponseObjectListPriceZoneSimpleLinks"
    type: object
  OfferingResponseMetadata:
    properties:
      accessibleSeatingEnabled:
        default: false
        type: boolean
      eventMapping:
        $ref: "#/definitions/EventMappingView"
    type: object
  Password:
    properties:
      _links:
        $ref: "#/definitions/SimpleLinks"
      attributes:
        $ref: "#/definitions/PasswordAttributes"
      id:
        type: string
      metadata:
        $ref: "#/definitions/PasswordMetadata"
      relationships:
        $ref: "#/definitions/PasswordRelationships"
      type:
        type: string
    type: object
  PasswordAttributes:
    properties:
      end:
        format: date-time
        type: string
      exclusive:
        default: false
        type: boolean
      link:
        type: string
      linkLabel:
        type: string
      name:
        type: string
      prompts:
        items:
          $ref: "#/definitions/Prompt"
        type: array
      start:
        format: date-time
        type: string
      text:
        type: string
      textLabel:
        type: string
      type:
        type: string
    type: object
  PasswordMetadata:
    discriminator: type
    properties:
      offerIds:
        items:
          type: string
        type: array
    type: object
  PasswordRelationships:
    properties:
      offers:
        $ref: "#/definitions/ResponseObjectRefListSimpleLinks"
    type: object
  PriceZone:
    properties:
      _links:
        $ref: "#/definitions/SimpleLinks"
      attributes:
        $ref: "#/definitions/PriceZoneAttributes"
      id:
        type: string
      relationships:
        $ref: "#/definitions/PriceZoneRelationships"
      type:
        type: string
    type: object
  PriceZoneAttributes:
    properties:
      currency:
        type: string
      name:
        type: string
    type: object
  PriceZoneRelationships:
    properties:
      areas:
        $ref: "#/definitions/ResponseObjectRefList"
      offers:
        $ref: "#/definitions/ResponseObjectRefList"
    type: object
  Prompt:
    properties:
      id:
        type: string
      text:
        type: string
    type: object
  ResponseObjectListAreaSimpleLinks:
    properties:
      _links:
        $ref: "#/definitions/SimpleLinks"
      data:
        items:
          $ref: "#/definitions/Area"
        type: array
    type: object
  ResponseObjectListAttributeRefSimpleLinks:
    properties:
      _links:
        $ref: "#/definitions/SimpleLinks"
      data:
        items:
          $ref: "#/definitions/AttributeRef"
        type: array
    type: object
  ResponseObjectListHoldRefSimpleLinks:
    properties:
      _links:
        $ref: "#/definitions/SimpleLinks"
      data:
        items:
          $ref: "#/definitions/HoldRef"
        type: array
    type: object
  ResponseObjectListOfferedPriceSimpleLinks:
    properties:
      _links:
        $ref: "#/definitions/SimpleLinks"
      data:
        items:
          $ref: "#/definitions/OfferedPrice"
        type: array
    type: object
  ResponseObjectListPasswordSimpleLinks:
    properties:
      _links:
        $ref: "#/definitions/SimpleLinks"
      data:
        items:
          $ref: "#/definitions/Password"
        type: array
    type: object
  ResponseObjectListPriceZoneSimpleLinks:
    properties:
      _links:
        $ref: "#/definitions/SimpleLinks"
      data:
        items:
          $ref: "#/definitions/PriceZone"
        type: array
    type: object
  ResponseObjectRef:
    properties:
      id:
        type: string
      type:
        type: string
    type: object
  ResponseObjectRefList:
    properties:
      _links:
        $ref: "#/definitions/Links"
      data:
        items:
          $ref: "#/definitions/ResponseObjectRef"
        type: array
    type: object
  ResponseObjectRefListSimpleLinks:
    properties:
      _links:
        $ref: "#/definitions/SimpleLinks"
      data:
        items:
          $ref: "#/definitions/ResponseObjectRef"
        type: array
    type: object
  SimpleLinks:
    properties:
      self:
        $ref: "#/definitions/HrefLinkValue"
    type: object
  Source:
    properties:
      id:
        type: string
      name:
        type: string
    type: object
