openapi: 3.0.0
servers:
  - url: https://www.googleapis.com/androidpublisher/v2/applications
info:
  contact:
    name: Google
    url: https://google.com
  description: Accesses Android application developers' Google Play accounts.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google Play Developer
  version: v2
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - developer_tools
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.gstatic.com_android_market_images_web_play_logo_x2.png
  x-origin:
    - converter:
        url: https://github.com/lucybot/api-spec-converter
        version: 2.7.31
      format: google
      url: https://www.googleapis.com/discovery/v1/apis/androidpublisher/v2/rest
      version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: androidpublisher
externalDocs:
  url: https://developers.google.com/android-publisher
tags:
  - name: edits
  - name: inappproducts
  - name: orders
  - name: purchases
  - name: reviews
paths:
  "/{packageName}/edits":
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Creates a new edit for an app, populated with the app's current state.
      operationId: androidpublisher.edits.insert
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppEdit"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/AppEdit"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
  "/{packageName}/edits/{editId}":
    delete:
      description: Deletes an edit for an app. Creating a new edit will automatically delete any of your previous edits so this method need only be called if you want to preemptively abandon an edit.
      operationId: androidpublisher.edits.delete
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    get:
      description: Returns information about the edit specified. Calls will fail if the edit is no long active (e.g. has been deleted, superseded or expired).
      operationId: androidpublisher.edits.get
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/AppEdit"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/{packageName}/edits/{editId}/apks":
    get:
      operationId: androidpublisher.edits.apks.list
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApksListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      operationId: androidpublisher.edits.apks.upload
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Apk"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
  "/{packageName}/edits/{editId}/apks/externallyHosted":
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Creates a new APK without uploading the APK itself to Google Play, instead hosting the APK at a specified URL. This function is only available to enterprises using Google Play for Work whose application is configured to restrict distribution to the enterprise domain.
      operationId: androidpublisher.edits.apks.addexternallyhosted
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApksAddExternallyHostedRequest"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApksAddExternallyHostedResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
  "/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}":
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Uploads the deobfuscation file of the specified APK. If a deobfuscation or symbolication file already exists, it will be replaced. See https://developer.android.com/studio/build/shrink-code to learn more about deobfuscation files.
      operationId: androidpublisher.edits.deobfuscationfiles.upload
      parameters:
        - description: Unique identifier of the Android app for which the deobfuscation files are being uploaded; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The version code of the APK whose deobfuscation file is being uploaded.
          in: path
          name: apkVersionCode
          required: true
          schema:
            type: integer
        - in: path
          name: deobfuscationFileType
          required: true
          schema:
            enum:
              - nativeCode
              - proguard
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/DeobfuscationFilesUploadResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
  "/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}":
    get:
      description: Fetches the Expansion File configuration for the APK specified.
      operationId: androidpublisher.edits.expansionfiles.get
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The version code of the APK whose Expansion File configuration is being read or modified.
          in: path
          name: apkVersionCode
          required: true
          schema:
            type: integer
        - in: path
          name: expansionFileType
          required: true
          schema:
            enum:
              - main
              - patch
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ExpansionFile"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    patch:
      description: Updates the APK's Expansion File configuration to reference another APK's Expansion Files. To add a new Expansion File use the Upload method. This method supports patch semantics.
      operationId: androidpublisher.edits.expansionfiles.patch
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The version code of the APK whose Expansion File configuration is being read or modified.
          in: path
          name: apkVersionCode
          required: true
          schema:
            type: integer
        - in: path
          name: expansionFileType
          required: true
          schema:
            enum:
              - main
              - patch
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExpansionFile"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ExpansionFile"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    post:
      description: Uploads and attaches a new Expansion File to the APK specified.
      operationId: androidpublisher.edits.expansionfiles.upload
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The version code of the APK whose Expansion File configuration is being read or modified.
          in: path
          name: apkVersionCode
          required: true
          schema:
            type: integer
        - in: path
          name: expansionFileType
          required: true
          schema:
            enum:
              - main
              - patch
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ExpansionFilesUploadResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    put:
      description: Updates the APK's Expansion File configuration to reference another APK's Expansion Files. To add a new Expansion File use the Upload method.
      operationId: androidpublisher.edits.expansionfiles.update
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The version code of the APK whose Expansion File configuration is being read or modified.
          in: path
          name: apkVersionCode
          required: true
          schema:
            type: integer
        - in: path
          name: expansionFileType
          required: true
          schema:
            enum:
              - main
              - patch
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExpansionFile"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ExpansionFile"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
  "/{packageName}/edits/{editId}/apks/{apkVersionCode}/listings":
    delete:
      description: Deletes all the APK-specific localized listings for a specified APK.
      operationId: androidpublisher.edits.apklistings.deleteall
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The APK version code whose APK-specific listings should be read or modified.
          in: path
          name: apkVersionCode
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    get:
      description: Lists all the APK-specific localized listings for a specified APK.
      operationId: androidpublisher.edits.apklistings.list
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The APK version code whose APK-specific listings should be read or modified.
          in: path
          name: apkVersionCode
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApkListingsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/{packageName}/edits/{editId}/apks/{apkVersionCode}/listings/{language}":
    delete:
      description: Deletes the APK-specific localized listing for a specified APK and language code.
      operationId: androidpublisher.edits.apklistings.delete
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The APK version code whose APK-specific listings should be read or modified.
          in: path
          name: apkVersionCode
          required: true
          schema:
            type: integer
        - description: The language code (a BCP-47 language tag) of the APK-specific localized listing to read or modify. For example, to select Austrian German, pass "de-AT".
          in: path
          name: language
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    get:
      description: Fetches the APK-specific localized listing for a specified APK and language code.
      operationId: androidpublisher.edits.apklistings.get
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The APK version code whose APK-specific listings should be read or modified.
          in: path
          name: apkVersionCode
          required: true
          schema:
            type: integer
        - description: The language code (a BCP-47 language tag) of the APK-specific localized listing to read or modify. For example, to select Austrian German, pass "de-AT".
          in: path
          name: language
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApkListing"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    patch:
      description: Updates or creates the APK-specific localized listing for a specified APK and language code. This method supports patch semantics.
      operationId: androidpublisher.edits.apklistings.patch
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The APK version code whose APK-specific listings should be read or modified.
          in: path
          name: apkVersionCode
          required: true
          schema:
            type: integer
        - description: The language code (a BCP-47 language tag) of the APK-specific localized listing to read or modify. For example, to select Austrian German, pass "de-AT".
          in: path
          name: language
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApkListing"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApkListing"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    put:
      description: Updates or creates the APK-specific localized listing for a specified APK and language code.
      operationId: androidpublisher.edits.apklistings.update
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The APK version code whose APK-specific listings should be read or modified.
          in: path
          name: apkVersionCode
          required: true
          schema:
            type: integer
        - description: The language code (a BCP-47 language tag) of the APK-specific localized listing to read or modify. For example, to select Austrian German, pass "de-AT".
          in: path
          name: language
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApkListing"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ApkListing"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
  "/{packageName}/edits/{editId}/bundles":
    get:
      operationId: androidpublisher.edits.bundles.list
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/BundlesListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: "Uploads a new Android App Bundle to this edit. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See: https://developers.google.com/api-client-library/java/google-api-java-client/errors for an example in java."
      operationId: androidpublisher.edits.bundles.upload
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: Must be set to true if the bundle installation may trigger a warning on user devices (for example, if installation size may be over a threshold, typically 100 MB).
          in: query
          name: ackBundleInstallationWarning
          schema:
            type: boolean
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Bundle"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
  "/{packageName}/edits/{editId}/details":
    get:
      description: Fetches app details for this edit. This includes the default language and developer support contact information.
      operationId: androidpublisher.edits.details.get
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/AppDetails"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    patch:
      description: Updates app details for this edit. This method supports patch semantics.
      operationId: androidpublisher.edits.details.patch
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppDetails"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/AppDetails"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    put:
      description: Updates app details for this edit.
      operationId: androidpublisher.edits.details.update
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppDetails"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/AppDetails"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
  "/{packageName}/edits/{editId}/listings":
    delete:
      description: Deletes all localized listings from an edit.
      operationId: androidpublisher.edits.listings.deleteall
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    get:
      description: Returns all of the localized store listings attached to this edit.
      operationId: androidpublisher.edits.listings.list
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ListingsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/{packageName}/edits/{editId}/listings/{language}":
    delete:
      description: Deletes the specified localized store listing from an edit.
      operationId: androidpublisher.edits.listings.delete
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The language code (a BCP-47 language tag) of the localized listing to read or modify. For example, to select Austrian German, pass "de-AT".
          in: path
          name: language
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    get:
      description: Fetches information about a localized store listing.
      operationId: androidpublisher.edits.listings.get
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The language code (a BCP-47 language tag) of the localized listing to read or modify. For example, to select Austrian German, pass "de-AT".
          in: path
          name: language
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Listing"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    patch:
      description: Creates or updates a localized store listing. This method supports patch semantics.
      operationId: androidpublisher.edits.listings.patch
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The language code (a BCP-47 language tag) of the localized listing to read or modify. For example, to select Austrian German, pass "de-AT".
          in: path
          name: language
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Listing"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Listing"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    put:
      description: Creates or updates a localized store listing.
      operationId: androidpublisher.edits.listings.update
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The language code (a BCP-47 language tag) of the localized listing to read or modify. For example, to select Austrian German, pass "de-AT".
          in: path
          name: language
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Listing"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Listing"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
  "/{packageName}/edits/{editId}/listings/{language}/{imageType}":
    delete:
      description: Deletes all images for the specified language and image type.
      operationId: androidpublisher.edits.images.deleteall
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The language code (a BCP-47 language tag) of the localized listing whose images are to read or modified. For example, to select Austrian German, pass "de-AT".
          in: path
          name: language
          required: true
          schema:
            type: string
        - in: path
          name: imageType
          required: true
          schema:
            enum:
              - featureGraphic
              - icon
              - phoneScreenshots
              - promoGraphic
              - sevenInchScreenshots
              - tenInchScreenshots
              - tvBanner
              - tvScreenshots
              - wearScreenshots
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ImagesDeleteAllResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    get:
      description: Lists all images for the specified language and image type.
      operationId: androidpublisher.edits.images.list
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The language code (a BCP-47 language tag) of the localized listing whose images are to read or modified. For example, to select Austrian German, pass "de-AT".
          in: path
          name: language
          required: true
          schema:
            type: string
        - in: path
          name: imageType
          required: true
          schema:
            enum:
              - featureGraphic
              - icon
              - phoneScreenshots
              - promoGraphic
              - sevenInchScreenshots
              - tenInchScreenshots
              - tvBanner
              - tvScreenshots
              - wearScreenshots
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ImagesListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Uploads a new image and adds it to the list of images for the specified language and image type.
      operationId: androidpublisher.edits.images.upload
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The language code (a BCP-47 language tag) of the localized listing whose images are to read or modified. For example, to select Austrian German, pass "de-AT".
          in: path
          name: language
          required: true
          schema:
            type: string
        - in: path
          name: imageType
          required: true
          schema:
            enum:
              - featureGraphic
              - icon
              - phoneScreenshots
              - promoGraphic
              - sevenInchScreenshots
              - tenInchScreenshots
              - tvBanner
              - tvScreenshots
              - wearScreenshots
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ImagesUploadResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
  "/{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}":
    delete:
      description: Deletes the image (specified by id) from the edit.
      operationId: androidpublisher.edits.images.delete
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The language code (a BCP-47 language tag) of the localized listing whose images are to read or modified. For example, to select Austrian German, pass "de-AT".
          in: path
          name: language
          required: true
          schema:
            type: string
        - in: path
          name: imageType
          required: true
          schema:
            enum:
              - featureGraphic
              - icon
              - phoneScreenshots
              - promoGraphic
              - sevenInchScreenshots
              - tenInchScreenshots
              - tvBanner
              - tvScreenshots
              - wearScreenshots
            type: string
        - description: Unique identifier an image within the set of images attached to this edit.
          in: path
          name: imageId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/{packageName}/edits/{editId}/testers/{track}":
    get:
      operationId: androidpublisher.edits.testers.get
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The track to read or modify.
          in: path
          name: track
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Testers"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    patch:
      operationId: androidpublisher.edits.testers.patch
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The track to read or modify.
          in: path
          name: track
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Testers"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Testers"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    put:
      operationId: androidpublisher.edits.testers.update
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The track to read or modify.
          in: path
          name: track
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Testers"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Testers"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
  "/{packageName}/edits/{editId}/tracks":
    get:
      description: Lists all the track configurations for this edit.
      operationId: androidpublisher.edits.tracks.list
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/TracksListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/{packageName}/edits/{editId}/tracks/{track}":
    get:
      description: Fetches the track configuration for the specified track type. Includes the APK version codes that are in this track.
      operationId: androidpublisher.edits.tracks.get
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The track to read or modify.
          in: path
          name: track
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Track"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    patch:
      description: Updates the track configuration for the specified track type. This method supports patch semantics.
      operationId: androidpublisher.edits.tracks.patch
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The track to read or modify.
          in: path
          name: track
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Track"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Track"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
    put:
      description: Updates the track configuration for the specified track type.
      operationId: androidpublisher.edits.tracks.update
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
        - description: The track to read or modify.
          in: path
          name: track
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Track"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Track"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
  "/{packageName}/edits/{editId}:commit":
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Commits/applies the changes made in this edit back to the app.
      operationId: androidpublisher.edits.commit
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/AppEdit"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
  "/{packageName}/edits/{editId}:validate":
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Checks that the edit can be successfully committed. The edit's changes are not applied to the live app.
      operationId: androidpublisher.edits.validate
      parameters:
        - description: Unique identifier for the Android app that is being updated; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for this edit.
          in: path
          name: editId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/AppEdit"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - edits
  "/{packageName}/inappproducts":
    get:
      description: List all the in-app products for an Android app, both subscriptions and managed in-app products..
      operationId: androidpublisher.inappproducts.list
      parameters:
        - description: Unique identifier for the Android app with in-app products; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - in: query
          name: maxResults
          schema:
            type: integer
        - in: query
          name: startIndex
          schema:
            type: integer
        - in: query
          name: token
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/InappproductsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - inappproducts
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Creates a new in-app product for an app.
      operationId: androidpublisher.inappproducts.insert
      parameters:
        - description: Unique identifier for the Android app; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.
          in: query
          name: autoConvertMissingPrices
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InAppProduct"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/InAppProduct"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - inappproducts
  "/{packageName}/inappproducts/{sku}":
    delete:
      description: Delete an in-app product for an app.
      operationId: androidpublisher.inappproducts.delete
      parameters:
        - description: Unique identifier for the Android app with the in-app product; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for the in-app product.
          in: path
          name: sku
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - inappproducts
    get:
      description: Returns information about the in-app product specified.
      operationId: androidpublisher.inappproducts.get
      parameters:
        - in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for the in-app product.
          in: path
          name: sku
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/InAppProduct"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - inappproducts
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    patch:
      description: Updates the details of an in-app product. This method supports patch semantics.
      operationId: androidpublisher.inappproducts.patch
      parameters:
        - description: Unique identifier for the Android app with the in-app product; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for the in-app product.
          in: path
          name: sku
          required: true
          schema:
            type: string
        - description: If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.
          in: query
          name: autoConvertMissingPrices
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InAppProduct"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/InAppProduct"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - inappproducts
    put:
      description: Updates the details of an in-app product.
      operationId: androidpublisher.inappproducts.update
      parameters:
        - description: Unique identifier for the Android app with the in-app product; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: Unique identifier for the in-app product.
          in: path
          name: sku
          required: true
          schema:
            type: string
        - description: If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.
          in: query
          name: autoConvertMissingPrices
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InAppProduct"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/InAppProduct"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - inappproducts
  "/{packageName}/orders/{orderId}:refund":
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Refund a user's subscription or in-app purchase order.
      operationId: androidpublisher.orders.refund
      parameters:
        - description: The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: The order ID provided to the user when the subscription or in-app order was purchased.
          in: path
          name: orderId
          required: true
          schema:
            type: string
        - description: Whether to revoke the purchased item. If set to true, access to the subscription or in-app item will be terminated immediately. If the item is a recurring subscription, all future payments will also be terminated. Consumed in-app items need to be handled by developer's app. (optional)
          in: query
          name: revoke
          schema:
            type: boolean
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - orders
  "/{packageName}/purchases/products/{productId}/tokens/{token}":
    get:
      description: Checks the purchase and consumption status of an inapp item.
      operationId: androidpublisher.purchases.products.get
      parameters:
        - description: The package name of the application the inapp product was sold in (for example, 'com.some.thing').
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: The inapp product SKU (for example, 'com.some.thing.inapp1').
          in: path
          name: productId
          required: true
          schema:
            type: string
        - description: The token provided to the user's device when the inapp product was purchased.
          in: path
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ProductPurchase"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - purchases
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}":
    get:
      description: Checks whether a user's subscription purchase is valid and returns its expiry time.
      operationId: androidpublisher.purchases.subscriptions.get
      parameters:
        - description: The package name of the application for which this subscription was purchased (for example, 'com.some.thing').
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: The purchased subscription ID (for example, 'monthly001').
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
        - description: The token provided to the user's device when the subscription was purchased.
          in: path
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/SubscriptionPurchase"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - purchases
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel":
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Cancels a user's subscription purchase. The subscription remains valid until its expiration time.
      operationId: androidpublisher.purchases.subscriptions.cancel
      parameters:
        - description: The package name of the application for which this subscription was purchased (for example, 'com.some.thing').
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: The purchased subscription ID (for example, 'monthly001').
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
        - description: The token provided to the user's device when the subscription was purchased.
          in: path
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - purchases
  "/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer":
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Defers a user's subscription purchase until a specified future expiration time.
      operationId: androidpublisher.purchases.subscriptions.defer
      parameters:
        - description: The package name of the application for which this subscription was purchased (for example, 'com.some.thing').
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: The purchased subscription ID (for example, 'monthly001').
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
        - description: The token provided to the user's device when the subscription was purchased.
          in: path
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubscriptionPurchasesDeferRequest"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/SubscriptionPurchasesDeferResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - purchases
  "/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:refund":
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Refunds a user's subscription purchase, but the subscription remains valid until its expiration time and it will continue to recur.
      operationId: androidpublisher.purchases.subscriptions.refund
      parameters:
        - description: The package name of the application for which this subscription was purchased (for example, 'com.some.thing').
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: The purchased subscription ID (for example, 'monthly001').
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
        - description: The token provided to the user's device when the subscription was purchased.
          in: path
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - purchases
  "/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:revoke":
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Refunds and immediately revokes a user's subscription purchase. Access to the subscription will be terminated immediately and it will stop recurring.
      operationId: androidpublisher.purchases.subscriptions.revoke
      parameters:
        - description: The package name of the application for which this subscription was purchased (for example, 'com.some.thing').
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: The purchased subscription ID (for example, 'monthly001').
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
        - description: The token provided to the user's device when the subscription was purchased.
          in: path
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - purchases
  "/{packageName}/purchases/voidedpurchases":
    get:
      description: Lists the purchases that were canceled, refunded or charged-back.
      operationId: androidpublisher.purchases.voidedpurchases.list
      parameters:
        - description: The package name of the application for which voided purchases need to be returned (for example, 'com.some.thing').
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: "The time, in milliseconds since the Epoch, of the newest voided purchase that you want to see in the response. The value of this parameter cannot be greater than the current time and is ignored if a pagination token is set. Default value is current time. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response."
          in: query
          name: endTime
          schema:
            type: string
        - in: query
          name: maxResults
          schema:
            type: integer
        - in: query
          name: startIndex
          schema:
            type: integer
        - description: "The time, in milliseconds since the Epoch, of the oldest voided purchase that you want to see in the response. The value of this parameter cannot be older than 30 days and is ignored if a pagination token is set. Default value is current time minus 30 days. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response."
          in: query
          name: startTime
          schema:
            type: string
        - in: query
          name: token
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/VoidedPurchasesListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - purchases
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/{packageName}/reviews":
    get:
      description: Returns a list of reviews. Only reviews from last week will be returned.
      operationId: androidpublisher.reviews.list
      parameters:
        - description: Unique identifier for the Android app for which we want reviews; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - in: query
          name: maxResults
          schema:
            type: integer
        - in: query
          name: startIndex
          schema:
            type: integer
        - in: query
          name: token
          schema:
            type: string
        - in: query
          name: translationLanguage
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ReviewsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - reviews
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/{packageName}/reviews/{reviewId}":
    get:
      description: Returns a single review.
      operationId: androidpublisher.reviews.get
      parameters:
        - description: Unique identifier for the Android app for which we want reviews; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - in: path
          name: reviewId
          required: true
          schema:
            type: string
        - in: query
          name: translationLanguage
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Review"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - reviews
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/{packageName}/reviews/{reviewId}:reply":
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Reply to a single review, or update an existing reply.
      operationId: androidpublisher.reviews.reply
      parameters:
        - description: Unique identifier for the Android app for which we want reviews; for example, "com.spiffygame".
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - in: path
          name: reviewId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviewsReplyRequest"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ReviewsReplyResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - reviews
components:
  parameters:
    alt:
      description: Data format for the response.
      in: query
      name: alt
      schema:
        default: json
        enum:
          - json
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        default: true
        type: boolean
    quotaUser:
      description: An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    userIp:
      description: Deprecated. Please use quotaUser instead.
      in: query
      name: userIp
      schema:
        type: string
  requestBodies:
    ApkListing:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApkListing"
    AppDetails:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/AppDetails"
    ExpansionFile:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ExpansionFile"
    InAppProduct:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/InAppProduct"
    Listing:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Listing"
    Testers:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Testers"
    Track:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Track"
  schemas:
    Apk:
      properties:
        binary:
          $ref: "#/components/schemas/ApkBinary"
          description: Information about the binary payload of this APK.
        versionCode:
          description: The version code of the APK, as specified in the APK's manifest file.
          format: int32
          type: integer
      type: object
    ApkBinary:
      description: Represents the binary payload of an APK.
      properties:
        sha1:
          description: A sha1 hash of the APK payload, encoded as a hex string and matching the output of the sha1sum command.
          type: string
        sha256:
          description: A sha256 hash of the APK payload, encoded as a hex string and matching the output of the sha256sum command.
          type: string
      type: object
    ApkListing:
      properties:
        language:
          description: The language code, in BCP 47 format (eg "en-US").
          type: string
        recentChanges:
          description: Describe what's new in your APK.
          type: string
      type: object
    ApkListingsListResponse:
      properties:
        kind:
          default: androidpublisher#apkListingsListResponse
          description: 'Identifies what kind of resource this is. Value: the fixed string "androidpublisher#apkListingsListResponse".'
          type: string
        listings:
          items:
            $ref: "#/components/schemas/ApkListing"
          type: array
      type: object
    ApksAddExternallyHostedRequest:
      properties:
        externallyHostedApk:
          $ref: "#/components/schemas/ExternallyHostedApk"
          description: The definition of the externally-hosted APK and where it is located.
      type: object
    ApksAddExternallyHostedResponse:
      properties:
        externallyHostedApk:
          $ref: "#/components/schemas/ExternallyHostedApk"
          description: The definition of the externally-hosted APK and where it is located.
      type: object
    ApksListResponse:
      properties:
        apks:
          items:
            $ref: "#/components/schemas/Apk"
          type: array
        kind:
          default: androidpublisher#apksListResponse
          description: 'Identifies what kind of resource this is. Value: the fixed string "androidpublisher#apksListResponse".'
          type: string
      type: object
    AppDetails:
      properties:
        contactEmail:
          description: The user-visible support email for this app.
          type: string
        contactPhone:
          description: The user-visible support telephone number for this app.
          type: string
        contactWebsite:
          description: The user-visible website for this app.
          type: string
        defaultLanguage:
          description: Default language code, in BCP 47 format (eg "en-US").
          type: string
      type: object
    AppEdit:
      description: Represents an edit of an app. An edit allows clients to make multiple changes before committing them in one operation.
      properties:
        expiryTimeSeconds:
          description: The time at which the edit will expire and will be no longer valid for use in any subsequent API calls (encoded as seconds since the Epoch).
          type: string
        id:
          description: The ID of the edit that can be used in subsequent API calls.
          type: string
      type: object
    Bundle:
      properties:
        sha1:
          description: A sha1 hash of the upload payload, encoded as a hex string and matching the output of the sha1sum command.
          type: string
        sha256:
          description: A sha256 hash of the upload payload, encoded as a hex string and matching the output of the sha256sum command.
          type: string
        versionCode:
          description: The version code of the Android App Bundle. As specified in the Android App Bundle's base module APK manifest file.
          format: int32
          type: integer
      type: object
    BundlesListResponse:
      properties:
        bundles:
          items:
            $ref: "#/components/schemas/Bundle"
          type: array
        kind:
          default: androidpublisher#bundlesListResponse
          description: 'Identifies what kind of resource this is. Value: the fixed string "androidpublisher#bundlesListResponse".'
          type: string
      type: object
    Comment:
      properties:
        developerComment:
          $ref: "#/components/schemas/DeveloperComment"
          description: A comment from a developer.
        userComment:
          $ref: "#/components/schemas/UserComment"
          description: A comment from a user.
      type: object
    DeobfuscationFile:
      description: Represents a deobfuscation file.
      properties:
        symbolType:
          description: The type of the deobfuscation file.
          type: string
      type: object
    DeobfuscationFilesUploadResponse:
      properties:
        deobfuscationFile:
          $ref: "#/components/schemas/DeobfuscationFile"
      type: object
    DeveloperComment:
      properties:
        lastModified:
          $ref: "#/components/schemas/Timestamp"
          description: The last time at which this comment was updated.
        text:
          description: The content of the comment, i.e. reply body.
          type: string
      type: object
    DeviceMetadata:
      properties:
        cpuMake:
          description: Device CPU make e.g. "Qualcomm"
          type: string
        cpuModel:
          description: Device CPU model e.g. "MSM8974"
          type: string
        deviceClass:
          description: Device class (e.g. tablet)
          type: string
        glEsVersion:
          description: OpenGL version
          format: int32
          type: integer
        manufacturer:
          description: Device manufacturer (e.g. Motorola)
          type: string
        nativePlatform:
          description: Comma separated list of native platforms (e.g. "arm", "arm7")
          type: string
        productName:
          description: Device model name (e.g. Droid)
          type: string
        ramMb:
          description: Device RAM in Megabytes e.g. "2048"
          format: int32
          type: integer
        screenDensityDpi:
          description: Screen density in DPI
          format: int32
          type: integer
        screenHeightPx:
          description: Screen height in pixels
          format: int32
          type: integer
        screenWidthPx:
          description: Screen width in pixels
          format: int32
          type: integer
      type: object
    ExpansionFile:
      properties:
        fileSize:
          description: "If set this field indicates that this APK has an Expansion File uploaded to it: this APK does not reference another APK's Expansion File. The field's value is the size of the uploaded Expansion File in bytes."
          format: int64
          type: string
        referencesVersion:
          description: If set this APK's Expansion File references another APK's Expansion File. The file_size field will not be set.
          format: int32
          type: integer
      type: object
    ExpansionFilesUploadResponse:
      properties:
        expansionFile:
          $ref: "#/components/schemas/ExpansionFile"
      type: object
    ExternallyHostedApk:
      description: Defines an APK available for this application that is hosted externally and not uploaded to Google Play. This function is only available to enterprises who are using Google Play for Work, and whos application is restricted to the enterprise private channel
      properties:
        applicationLabel:
          description: The application label.
          type: string
        certificateBase64s:
          description: A certificate (or array of certificates if a certificate-chain is used) used to signed this APK, represented as a base64 encoded byte array.
          items:
            type: string
          type: array
        externallyHostedUrl:
          description: The URL at which the APK is hosted. This must be an https URL.
          type: string
        fileSha1Base64:
          description: The SHA1 checksum of this APK, represented as a base64 encoded byte array.
          type: string
        fileSha256Base64:
          description: The SHA256 checksum of this APK, represented as a base64 encoded byte array.
          type: string
        fileSize:
          description: The file size in bytes of this APK.
          format: int64
          type: string
        iconBase64:
          description: The icon image from the APK, as a base64 encoded byte array.
          type: string
        maximumSdk:
          description: The maximum SDK supported by this APK (optional).
          format: int32
          type: integer
        minimumSdk:
          description: The minimum SDK targeted by this APK.
          format: int32
          type: integer
        nativeCodes:
          description: The native code environments supported by this APK (optional).
          items:
            type: string
          type: array
        packageName:
          description: The package name.
          type: string
        usesFeatures:
          description: The features required by this APK (optional).
          items:
            type: string
          type: array
        usesPermissions:
          description: The permissions requested by this APK.
          items:
            $ref: "#/components/schemas/ExternallyHostedApkUsesPermission"
          type: array
        versionCode:
          description: The version code of this APK.
          format: int32
          type: integer
        versionName:
          description: The version name of this APK.
          type: string
      type: object
    ExternallyHostedApkUsesPermission:
      description: A permission used by this APK.
      properties:
        maxSdkVersion:
          description: Optionally, the maximum SDK version for which the permission is required.
          format: int32
          type: integer
        name:
          description: The name of the permission requested.
          type: string
      type: object
    Image:
      properties:
        id:
          description: A unique id representing this image.
          type: string
        sha1:
          description: A sha1 hash of the image that was uploaded.
          type: string
        sha256:
          description: A sha256 hash of the image that was uploaded.
          type: string
        url:
          description: A URL that will serve a preview of the image.
          type: string
      type: object
    ImagesDeleteAllResponse:
      properties:
        deleted:
          items:
            $ref: "#/components/schemas/Image"
          type: array
      type: object
    ImagesListResponse:
      properties:
        images:
          items:
            $ref: "#/components/schemas/Image"
          type: array
      type: object
    ImagesUploadResponse:
      properties:
        image:
          $ref: "#/components/schemas/Image"
      type: object
    InAppProduct:
[...]
