swagger: "2.0"
schemes:
  - http
  - https
host: free.gisgraphy.com
basePath: /
info:
  contact:
    name: davidmasclet@gisgraphy.com
  description: |
    Since 2006, [Gisgraphy](http://www.gisgraphy.com) is a free, open source framework that offers the possibility to do geolocalisation and geocoding via Java APIs or REST webservices. Because geocoding is nothing without data, it provides an easy to use importer that will automatically download and import the necessary (free) data to your local database ([OpenStreetMap](http://www.openstreetmap.org/), [Geonames](http://www.geonames.org/) and [Quattroshapes](http://www.quattroshapes.com/): more than 100 million entries). You can also add your own data with the Web interface or the importer connectors provided. Gisgraphy is production ready, and has been designed to be scalable(load balanced), performant and used in other languages than just java : results can be output in XML, JSON, PHP, Python, Ruby, YAML, GeoRSS, and Atom. One of the most popular GPS tracking System (OpenGTS) also includes a Gisgraphy client...Gisgraphy is a framework. As a result it's flexible and powerful enough to be used in a lot of different use cases. [read more](http://www.gisgraphy.com)


    if you use the premium servers, you can use the api key to test the webservices
  license:
    name: LGPL license V3.
    url: http://www.gisgraphy.com/license.html
  termsOfService: http://www.gisgraphy.com/free-access.htm | https://premium.gisgraphy.com/terms
  title: Gisgraphy webservices
  version: 4.0.0
  x-apisguru-categories:
    - location
  x-logo:
    backgroundColor: "#FFFFFF"
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_gisgraphy_profile_image.png
  x-origin:
    - format: swagger
      url: http://www.gisgraphy.com/documentation/gisgraphy-swagger.json
      version: "2.0"
  x-providerName: gisgraphy.com
securityDefinitions:
  api_key:
    in: query
    name: api_key
    type: apiKey
paths:
  /addressparser/parse:
    get:
      description: "The address parser and address standardizer, are part of the Gisgraphy project (free open source worldwide geocoder). Address parsing is the process of dividing a single address string into its individual component parts. Please visit [http://www.address-parser.net](http://www.address-parser.net) for more details "
      operationId: addressparsing
      parameters:
        - description: A postal address.
          in: query
          name: address
          required: true
          type: string
        - description: The ISO 3166 Alpha 2 code of the country.
          in: query
          name: country
          required: false
          type: string
        - default: XML
          description: The output format.
          enum:
            - XML
            - JSON
            - PHP
            - RUBY
            - PYTHON
            - YAML
          in: query
          name: format
          required: false
          type: string
        - description: The callback method name (optional), use to wrap the content into a (alphanumeric) Javascript method. Works only for script output formats (JSON, PHP, Ruby, Python)
          in: query
          name: callback
          required: false
          type: string
        - default: "false"
          description: "indents the results.Default to false. Possible values are true or false (or on when used with the rest service. If you use a checkbox in a web form, to indent the results, the value will be 'on' or 'off', so for a simple use : the value of indent can be 'true' or 'on'"
          in: query
          name: indent
          required: false
          type: boolean
        - default: "false"
          description: "Whether the address should be standardized after parsing, the value will be 'on' or 'off', so for a simple use : the value of indent can be 'true' or 'on'"
          in: query
          name: standardize
          required: false
          type: boolean
        - default: "false"
          description: "UNUSED YET. Whether the address should be geocoded after parsing, the value will be 'on' or 'off', so for a simple use : the value of indent can be 'true' or 'on'"
          in: query
          name: geocode
          required: false
          type: boolean
      produces:
        - application/json
        - application/xml
        - application/php
        - application/ruby
        - application/yaml
        - application/python
      responses:
        "200":
          description: Sucessfully processed
          schema:
            $ref: "#/definitions/AddressResultsDto"
        "401":
          description: Need auth. The API key parameter is missing or wrong, or doesn't correspond to any subscriptions
        "403":
          description: Unhauthorize (auth will change nothing).Your IP is not allowed.
        "412":
          description: Missing parameter. Some parameters required for the webservices ar missing, please consult documentation
        "429":
          description: Too many requests. You exceed the authorized rate
        "500":
          description: Internal error
      security:
        - api_key: []
      summary: split a raw address into several parts
      tags:
        - addressparser - standardizer
  /fulltext/search:
    get:
      description: "The full text service allows you to search for features / places / street and do autocompletion . you can : Specify one or more words search on part of the name (auto completion / suggestion) Search for text or zip code Specify a GPS restriction (promote nearest, not sorted but has an impact on the score), Limit the results to a specific Language, Country, place type, Paginate the results, Specify the output verbosity, Tells if you want the output to be indented, Tells that all words are required or not, The search is case insensitive, use synonyms (Saint/st, ..), separator characters stripping, ..."
      operationId: fulltxtsearch
      parameters:
        - description: "The searched text : The text for the query can be a zip code, a string or one or more strings"
          in: query
          name: q
          required: true
          type: string
        - default: "false"
          description: Whether the fulltext engine should considers all the words specified as required. Defaults to false (since v 4.0). possible values are true|false (or 'on' when used with the rest service)
          in: query
          name: allwordsrequired
          required: true
          type: boolean
        - description: "The spellchecking (optional) : whether some suggestions should be provided if no results are found"
          in: query
          name: spellchecking
          required: false
          type: string
        - description: The latitude (north-south) for the location point to search around. The value is a floating number, between -90 and +90. It uses GPS coordinates
          format: double
          in: query
          name: lat
          required: false
          type: number
        - description: TThe longitude (east-West) for the location point to search around. The value is a floating number between -180 and +180. It uses GPS coordinates.
          format: double
          in: query
          name: lng
          required: false
          type: number
        - default: 10000
          description: distance from the location point in meters we'd like to search around. The value is a number > 0 if it is not specify or incorrect.
          format: double
          in: query
          name: radius
          required: false
          type: number
        - default: "false"
          description: If this parameter is set then it will search in part of the names of the street, place,.... It allow you to do auto completion auto suggestion. See the Gisgraphy leaflet plugin for more details. The JSON format will be forced if this parameter is true. See auto completion / suggestions engine for more details
          in: query
          name: suggest
          type: boolean
        - default: MEDIUM
          description: "The output style verbosity (optional) : Determines the output verbosity. 4 styles are available"
          enum:
            - SHORT
            - MEDIUM
            - LONG
            - FULL
          in: query
          name: style
          type: string
        - description: "limit the search to the specified ISO 3166 country code. Default : search in all countries"
          in: query
          name: country
          required: false
          type: string
        - description: "The language code (optional) : The iso 639 Alpha2 or alpha3 Language Code. Some properties such as the AlternateName AdmNames and countryname belong to a certain language code. The language parameter can limit the output of those fields to a certain language (it only apply when style parameter='style') : If the language code does not exists or is not specified, properties with all the languages are retrieved If it exists, the properties with the specified language code, are retrieved"
          in: query
          name: lang
          required: false
          type: string
        - default: XML
          description: The output format.
          enum:
            - XML
            - JSON
            - PHP
            - RUBY
            - PYTHON
            - YAML
            - ATOM
            - GEORSS
          in: query
          name: format
          required: false
          type: string
        - default: 1
          description: "The first pagination index. Numbered from 1. If the number is < 1 or not specified, it will be set to the default value : 1"
          format: int32
          in: query
          name: from
          required: false
          type: integer
        - default: 10
          description: The last pagination index. if < 1 or not specified, it will be set to startindex + 10. Max = 10 (can be changed)
          format: int32
          in: query
          name: to
          required: false
          type: integer
        - description: The callback method name (optional), use to wrap the content into a (alphanumeric) Javascript method. Works only for script output formats (JSON, PHP, Ruby, Python)
          in: query
          name: callback
          required: false
          type: string
        - default: "false"
          description: "indents the results.Default to false. Possible values are true or false (or on when used with the rest service. If you use a checkbox in a web form, to indent the results, the value will be 'on' or 'off', so for a simple use : the value of indent can be 'true' or 'on'"
          in: query
          name: indent
          required: false
          type: boolean
      produces:
        - application/json
        - application/xml
        - application/php
        - application/ruby
        - application/yaml
        - application/python
        - text/plain
      responses:
        "200":
          description: Sucessfully processed
          schema:
            $ref: "#/definitions/FulltextResultsDto"
        "401":
          description: Need auth. The API key parameter is missing or wrong, or doesn't correspond to any subscriptions
        "403":
          description: Unhauthorize (auth will change nothing).Your IP is not allowed.
        "412":
          description: Missing parameter. Some parameters required for the webservices ar missing, please consult documentation
        "429":
          description: Too many requests. You exceed the authorized rate
        "500":
          description: Internal error
      security:
        - api_key: []
      summary: search for places by text around a GPS point
      tags:
        - fulltext - autocomplete
  /geocoding/geocode:
    get:
      description: The Gisgraphy geocoding service allows you to transform postal addresses or other descriptions (a street, a city, a postal code, a country, or a combination) of a location into a (latitude, longitude) coordinate.
      operationId: geocode
      parameters:
        - description: A postal address, structured or not, a street, a city, a postal code, a country, or a combination.
          in: query
          name: address
          required: true
          type: string
        - description: The country where the place/address is. It is used to determine the postal address format and to improve performance. It will probably be optional in next version to ease the usability. The value must be the ISO 3166 Alpha 2 code of the country.
          in: query
          name: country
          required: false
          type: string
        - description: Whether the given address is a postal address. default to false. In other words, if the address follow the specification or if it is a well-formed address as it was written on an envelope. This parameter will enable the parsing of the address by the address parser before geocoding, this way, the relevance will be better because because if parsing is successful, we will know the meaning of each word. Note that you can also specify each field if you already know them.
          in: query
          name: postal
          required: false
          type: string
        - default: XML
          description: The output format.
          enum:
            - XML
            - JSON
            - PHP
            - RUBY
            - PYTHON
            - YAML
          in: query
          name: format
          required: false
          type: string
        - default: 1
          description: "The first pagination index. Numbered from 1. If the number is < 1 or not specified, it will be set to the default value : 1"
          format: int32
          in: query
          name: from
          required: false
          type: integer
        - default: 10
          description: The last pagination index. if < 1 or not specified, it will be set to startindex + 10. Max = 10 (can be changed)
          format: int32
          in: query
          name: to
          required: false
          type: integer
        - description: The callback method name (optional), use to wrap the content into a (alphanumeric) Javascript method. Works only for script output formats (JSON, PHP, Ruby, Python)
          in: query
          name: callback
          required: false
          type: string
        - default: "false"
          description: "indents the results. Possible values are true or false (or on when used with the rest service. If you use a checkbox in a web form, to indent the results, the value will be 'on' or 'off', so for a simple use : the value of indent can be 'true' or 'on'"
          in: query
          name: indent
          required: false
          type: boolean
      produces:
        - application/json
        - application/xml
        - application/php
        - application/ruby
        - application/yaml
        - application/python
      responses:
        "200":
          description: Sucessfully processed
          schema:
            $ref: "#/definitions/AddressResultsDto"
        "401":
          description: Need auth. The API key parameter is missing or wrong, or doesn't correspond to any subscriptions
        "403":
          description: Unhauthorize (auth will change nothing).Your IP is not allowed.
        "412":
          description: Missing parameter. Some parameters required for the webservices ar missing, please consult documentation
        "429":
          description: Too many requests. You exceed the authorized rate
        "500":
          description: Internal error
      security:
        - api_key: []
      summary: Geocode an address
      tags:
        - geocoding
  /geoloc/search:
    get:
      description: "The geolocalisation service allows to search for features around a earth location. you can Specify GPS position, Limit the results to a specific place type (e.g : search all monuments around a point), Limit the results to a specified radius, Paginate the results, Tells if you want the output to be indented (currently, applies only for XML, not JSON for performance reasons. May change in next version)"
      operationId: geoloc
      parameters:
        - description: The latitude (north-south) for the location point to search around. The value is a floating number, between -90 and +90. It uses GPS coordinates
          format: double
          in: query
          name: lat
          required: true
          type: number
        - description: TThe longitude (east-West) for the location point to search around. The value is a floating number between -180 and +180. It uses GPS coordinates.
          format: double
          in: query
          name: lng
          required: true
          type: number
        - default: 10000
          description: distance from the location point in meters we'd like to search around. The value is a number > 0 if it is not specify or incorrect.
          format: double
          in: query
          name: radius
          required: false
          type: number
        - default: true
          description: "Whether (or not) we want the distance field to be output. This option is useful to improve the performance if we don't care about the distance (e.g : we search for name). Of course, the results won't be sorted by distance. If you use a checkbox in a form to indent the results, the value will be 'on' or 'off', so to simplify the use : the value for the web service can be 'true' or 'on'"
          in: query
          name: distance
          required: false
          type: boolean
        - description: filter search for a given placetype
          in: query
          name: placetype
          required: false
          type: string
        - default: XML
          description: The output format.
          enum:
            - XML
            - JSON
            - PHP
            - RUBY
            - PYTHON
            - YAML
          in: query
          name: format
          required: false
          type: string
        - default: 1
          description: "The first pagination index. Numbered from 1. If the number is < 1 or not specified, it will be set to the default value : 1"
          format: int32
          in: query
          name: from
          required: false
          type: integer
        - default: 10
          description: The last pagination index. if < 1 or not specified, it will be set to startindex + 10. Max = 10 (can be changed)
          format: int32
          in: query
          name: to
          required: false
          type: integer
        - description: The callback method name (optional), use to wrap the content into a (alphanumeric) Javascript method. Works only for script output formats (JSON, PHP, Ruby, Python)
          in: query
          name: callback
          required: false
          type: string
        - default: "false"
          description: "indents the results.Default to false. Possible values are true or false (or on when used with the rest service. If you use a checkbox in a web form, to indent the results, the value will be 'on' or 'off', so for a simple use : the value of indent can be 'true' or 'on'"
          in: query
          name: indent
          required: false
          type: boolean
      produces:
        - application/json
        - application/xml
        - application/php
        - application/ruby
        - application/yaml
        - application/python
        - text/plain
      responses:
        "200":
          description: Sucessfully processed
          schema:
            $ref: "#/definitions/GeolocResultsDto"
        "401":
          description: Need auth. The API key parameter is missing or wrong, or doesn't correspond to any subscriptions
        "403":
          description: Unhauthorize (auth will change nothing).Your IP is not allowed.
        "412":
          description: Missing parameter. Some parameters required for the webservices ar missing, please consult documentation
        "429":
          description: Too many requests. You exceed the authorized rate
        "500":
          description: Internal error
      security:
        - api_key: []
      summary: Geocode an address
      tags:
        - geolocalisation
  /reversegeocoding/reversegeocode:
    get:
      description: The Reverse geocoding service allows to search for an address for a given GPS position.
      operationId: reversegeocode
      parameters:
        - description: The latitude (north-south) for the location point to search around. The value is a floating number, between -90 and +90. It uses GPS coordinates
          format: double
          in: query
          name: lat
          required: true
          type: number
        - description: TThe longitude (east-West) for the location point to search around. The value is a floating number between -180 and +180. It uses GPS coordinates.
          format: double
          in: query
          name: lng
          required: true
          type: number
        - default: XML
          description: The output format.
          enum:
            - XML
            - JSON
            - PHP
            - RUBY
            - PYTHON
            - YAML
          in: query
          name: format
          required: false
          type: string
        - default: 1
          description: "The first pagination index. Numbered from 1. If the number is < 1 or not specified, it will be set to the default value : 1"
          format: int32
          in: query
          name: from
          required: false
          type: integer
        - default: 10
          description: The last pagination index. if < 1 or not specified, it will be set to startindex + 10. Max = 10 (can be changed)
          format: int32
          in: query
          name: to
          required: false
          type: integer
        - description: The callback method name (optional), use to wrap the content into a (alphanumeric) Javascript method. Works only for script output formats (JSON, PHP, Ruby, Python)
          in: query
          name: callback
          required: false
          type: string
        - default: "false"
          description: "indents the results. Possible values are true or false (or on when used with the rest service. If you use a checkbox in a web form, to indent the results, the value will be 'on' or 'off', so for a simple use : the value of indent can be 'true' or 'on'"
          in: query
          name: indent
          required: false
          type: boolean
      produces:
        - application/json
        - application/xml
        - application/php
        - application/ruby
        - application/yaml
        - application/python
        - text/plain
      responses:
        "200":
          description: Sucessfully processed
          schema:
            $ref: "#/definitions/AddressResultsDto"
        "401":
          description: Need auth. The API key parameter is missing or wrong, or doesn't correspond to any subscriptions
        "403":
          description: Unhauthorize (auth will change nothing).Your IP is not allowed.
        "412":
          description: Missing parameter. Some parameters required for the webservices ar missing, please consult documentation
        "429":
          description: Too many requests. You exceed the authorized rate
        "500":
          description: Internal error
      security:
        - api_key: []
      summary: Reverse geocode an address
      tags:
        - reversegeocoding
  /street/find:
    get:
      description: "The street service allows you to search for street by GPS position. You can : Specify GPS position, Give the beginning or a part of the name of the street (useful for autocompletion), Limit search to a specific type (e.g : Pedestrian, highway, residential, ... 25 types available), Limit search to a specified radius, Limit search to one way streets,"
      operationId: streetsearch
      parameters:
        - description: The latitude (north-south) for the location point to search around. The value is a floating number, between -90 and +90. It uses GPS coordinates
          format: double
          in: query
          name: lat
          required: true
          type: number
        - description: TThe longitude (east-West) for the location point to search around. The value is a floating number between -180 and +180. It uses GPS coordinates.
          format: double
          in: query
          name: lng
          required: true
          type: number
        - default: 10000
          description: distance from the location point in meters we'd like to search around. The value is a number > 0 if it is not specify or incorrect.
          format: double
          in: query
          name: radius
          required: false
          type: number
        - default: "false"
          description: "whether the street should be a oneWay street (optional) : limit the search to the street that are one way street. If you use a checkbox in a form to indent the results, the value will be 'on' or 'off', so to simplify the use : the value for the web service can be 'true' or 'on'"
          in: query
          name: oneway
          required: false
          type: boolean
        - default: true
          description: "Whether (or not) we want the distance field to be output. This option is useful to improve the performance if we don't care about the distance (e.g : we search for name). Of course, the results won't be sorted by distance. If you use a checkbox in a form to indent the results, the value will be 'on' or 'off', so to simplify the use : the value for the web service can be 'true' or 'on'"
          in: query
          name: distance
          required: false
          type: boolean
        - description: filter search with a stret type
          in: query
          name: streettype
          required: false
          type: string
        - default: XML
          description: The output format.
          enum:
            - XML
            - JSON
            - PHP
            - RUBY
            - PYTHON
            - YAML
          in: query
          name: format
          required: false
          type: string
        - default: 1
          description: "The first pagination index. Numbered from 1. If the number is < 1 or not specified, it will be set to the default value : 1"
          format: int32
          in: query
          name: from
          required: false
          type: integer
        - default: 10
          description: The last pagination index. if < 1 or not specified, it will be set to startindex + 10. Max = 10 (can be changed)
          format: int32
          in: query
          name: to
          required: false
          type: integer
        - description: The callback method name (optional), use to wrap the content into a (alphanumeric) Javascript method. Works only for script output formats (JSON, PHP, Ruby, Python)
          in: query
          name: callback
          required: false
          type: string
        - default: "false"
          description: "indents the results. Possible values are true or false (or on when used with the rest service. If you use a checkbox in a web form, to indent the results, the value will be 'on' or 'off', so for a simple use : the value of indent can be 'true' or 'on'"
          in: query
          name: indent
          required: false
          type: boolean
      produces:
        - application/json
        - application/xml
        - application/php
        - application/ruby
        - application/yaml
        - application/python
        - text/plain
      responses:
        "200":
          description: Sucessfully processed
          schema:
            $ref: "#/definitions/StreetSearchResultsDto"
        "401":
          description: Need auth. The API key parameter is missing or wrong, or doesn't correspond to any subscriptions
        "403":
          description: Unhauthorize (auth will change nothing).Your IP is not allowed.
        "412":
          description: Missing parameter. Some parameters required for the webservices ar missing, please consult documentation
        "429":
          description: Too many requests. You exceed the authorized rate
        "500":
          description: Internal error
      security:
        - api_key: []
      summary: Geocode an address
      tags:
        - streetservice
definitions:
  Address:
    properties:
      POBox:
        description: Post office box, Boite postale, Casilla de Correo,...
        type: string
      POBoxAgency:
        description: Agency where the office box, Boite postale, Casilla de Correo is
        type: string
      POBoxInfo:
        description: extra info on post office box, Boite postale, Casilla de Correo,..
        type: string
      adm1NameAlternatesLocalized:
        additionalProperties:
          items:
            type: string
          type: array
        type: object
      adm2NameAlternatesLocalized:
        additionalProperties:
          items:
            type: string
          type: array
        type: object
      block:
        description: The block in an address (Brasilia only) the block in austria, singapore,... address
        type: string
      city:
        description: The city or locality, a small town or village name sometimes is included in an address when the Delivery Point is outside the boundary of the main Post Town that serves it.
        type: string
      citySubdivision:
        description: A sub division of a city
        type: string
      civicNumberSuffix:
        description: The number that follows the house number (Canada only)
        type: string
      confidence:
        description: An indicator that mesure how the parser is confident for the result
        type: string
      country:
        description: The country name
        type: string
      countryNameAlternatesLocalized:
        additionalProperties:
          items:
            type: string
          type: array
        type: object
      countrycode:
        description: The countrycode given in the request
        type: string
      dependentLocality:
        description: "'Sub' city atached to a big city"
        type: string
      distance:
        description: The distance of the address for the given parameter location in the query
        format: double
        type: number
      district:
        description: The district, mainly use for Russia
        type: string
      extraInfo:
        description: Informations on floor, unit, and sometimes POBOX,...
        type: string
      floor:
        description: The floor in an address, not a floor number in a unit (Brasilia only)
        type: string
      geocodinglevel:
        enum:
          - NONE
          - HOUSE_NUMBER
          - STREET
          - CITY
          - STATE
          - COUNTRY
        type: string
      houseNumber:
        description: Official number assigned to an address by the municipality, several languages supported
        type: string
      houseNumberInfo:
        description: All information that give extra information on the house number
        type: string
      id:
        description: An internal ID to identify the address
        format: int64
        type: integer
      lat:
        description: The latitude of the address
        format: double
        type: number
      lng:
        description: The longitude of the address
        format: double
        type: number
      lote:
        description: Lote in Brazilian address
        type: string
      name:
        description: Name of the place, it is null in case of address but filled if common place. Name is different than recipient name
        type: string
      nameAlternatesLocalized:
        additionalProperties:
          items:
            type: string
          type: array
        type: object
      postDirection:
        description: The cardinal direction after the name of the street
        type: string
      postDirectionIntersection:
        description: The cardinal direction after the name of the intersection street
        type: string
      postTown:
        description: a city is a required part of all postal addresses in the United Kingdom
        type: string
      preDirection:
        description: The cardinal direction before the name of the street
        type: string
      preDirectionIntersection:
        description: The cardinal direction before the name of the intersection street
        type: string
      prefecture:
        description: prefecture of China
        type: string
      quadrant:
        description: The quadrant in an address (Brasilia only)
        type: string
      quarter:
        description: A section of an urban settlement
        type: string
      recipientName:
        description: Name of the organisation or person at the given address
        type: string
      sector:
        description: The sector in an address (Brasilia only)
        type: string
      state:
        description: The state or county when applicable, can be fullname or abbreviation
        type: string
      streetName:
        description: The official name of the street or the ordinal number
        type: string
      streetNameIntersection:
        description: The official name of the intersection street
        type: string
      streetType:
        description: The type of the street
        type: string
      streetTypeIntersection:
        description: The type of the intersection street
        type: string
      suiteNumber:
        description: Informations on the unit, mainly used and filled by standardizer
        type: string
      suiteType:
        description: Informations on the unit, mainly used and filled by standardizer
        type: string
      ward:
        description: Ward in japanese address
        type: string
      zipCode:
        description: The zip or post code
        type: string
  AddressResultsDto:
    properties:
      QTime:
        description: how long the query took
        format: int64
        type: integer
      message:
        description: a message
        type: string
      numFound:
        description: how many result found
        format: int32
        type: integer
      parsedAddress:
        $ref: "#/definitions/Address"
        description: the parsed address
      result:
        items:
          $ref: "#/definitions/Address"
        type: array
  FulltextResultsDto:
    properties:
      QTime:
        description: how long the query took
        format: int64
        type: integer
      maxScore:
        description: the max score value accross all the results found
        format: float
        type: number
      message:
        description: a message
        type: string
      numFound:
        description: how many results were found whatever the pagination
        format: int32
        type: integer
      result:
        items:
          $ref: "#/definitions/SolrResponseDto"
        type: array
      resultsSize:
        description: how many results are return
        format: int32
        type: integer
  GeolocResultsDto:
    properties:
      QTime:
        description: The execution time of the query in ms
        format: int64
        type: integer
      error:
        description: "A String only present if an error occured (e.g : empty Latitude or longitude)"
        type: string
      numFound:
        description: The number of results display with this query (it takes the pagination into account)
        format: int32
        type: integer
      result:
        items:
          $ref: "#/definitions/GisFeatureDistance"
        type: array
  GisFeatureDistance:
    properties:
      adm1Code:
        description: The internal code for the administrative division of level 1
        type: string
      adm1Name:
        description: The name of the administrative division of level 1
        type: string
      adm2Code:
        description: The internal code for the administrative division of level 2
        type: string
      adm2Name:
        description: The name of the administrative division of level 2
        type: string
      adm3Code:
        description: The internal code for the administrative division of level 3
        type: string
      adm3Name:
        description: The name of the administrative division of level 3
        type: string
      adm4Code:
        description: The internal code for the administrative division of level 4
        type: string
      adm4Name:
        description: The name of the administrative division of level 4
        type: string
      adm5Code:
        description: The internal code for the administrative division of level 5
        type: string
      adm5Name:
        description: The name of the administrative division of level 5
        type: string
      amenity:
        description: Informations on category of OpenStreetMap POIs
        type: string
      area:
        description: The area of the feature
        format: double
        type: number
      asciiName:
        description: The ASCII name of the feature
        type: string
      capitalName:
        description: The Capital of the country
        type: string
      continent:
        description: The continent the country belongs
        type: string
      countryCode:
        description: The ISO 3166 country code
        type: string
      country_flag_url:
        description: The relative URL to get the country flag image
        type: string
      currencyCode:
        description: The Currency code (ISO_4217) of the country
        type: string
      currencyName:
        description: The Currency name of the country
        type: string
      distance:
        description: The distance beetween the point and the gisFeature in meters
        format: double
        type: number
      elevation:
        description: The elevation in meters
        format: int32
        type: integer
      equivalentFipsCode:
        description: The fips Code of the country when no code are available
        type: string
      featureClass:
        description: The feature Class.
        type: string
      featureCode:
        description: The feature Code.
        type: string
      featureId:
        description: A unique id that identify the feature
        format: int64
        type: integer
      fipsCode:
        description: The fips Code of the country
        type: string
      fullyQualifiedAddress:
        description: NOT USED YET
        type: string
      google_map_url:
        description: The URL to get the location on Google Map
        type: string
      gtopo30:
        description: Average elevation of 30'x30' (ca 900mx900m) area in meters
        format: int32
        type: integer
      isIn:
        description: Information of the city where the street / POI is (depends on openstreetmap 'is_in' field), the city in general (only for placetype street)
        type: string
      isInAdm:
        description: "Information of the administration division where the street / POI is. "
        type: string
      isInPlace:
        description: Information of the place where the street / POI is (quarter, common place). Generally a place at a lower level than city
        type: string
      isInZip:
        description: Information of the zipcode where the street / POI is"
        type: string
      iso3166Alpha2Code:
        description: The iso 3166 Alpha 2 code of the country
        type: string
      iso3166Alpha3Code:
        description: The iso 3166 Alpha 3 code of the country
        type: string
      iso3166NumericCode:
        description: The iso 3166 numeric code of the country
        type: string
      lat:
        description: The latitude (north-south)
        format: double
        type: number
      length:
        description: length of the street
        format: double
        type: number
      level:
        description: The level of the Administrative division (1-5)
        format: int32
        type: integer
      lng:
        description: The longitude (east-West)
        format: double
        type: number
      name:
        description: The name of the feature
        type: string
      oneWay:
        description: Wether the street is oneway or not
        type: boolean
      openstreetmapId:
        description: the id of the openstreetmap element
        format: int64
        type: integer
      openstreetmap_map_url:
        description: The URL to get the location on Openstreetmap Map
        type: string
      phonePrefix:
        description: The phone prefix of the country
        type: string
      placeType:
        description: The Type of Feature see faq
        type: string
      population:
        description: How many people lives in this feature
        format: int32
        type: integer
      postalCodeMask:
        description: The mask that all postal code of the country matches
        type: string
      postalCodeRegex:
        description: The regexp that all zipcode/postalcode of the country matches
        type: string
      streetType:
        description: the type of the street
        type: string
      timezone:
        description: "The time zone (e.g : Europe/Paris)"
        type: string
      tld:
        description: top-level domain name, (last part of an Internet domain name) of the country
        type: string
      yahoo_map_url:
        description: The URL to get the location on Yahoo Map
        type: string
      zipCodes:
        description: The zipcodes (only for city and city subdivision), one node by zipcode
        items:
          type: string
        type: array
  HouseNumberDto:
    properties:
      location:
        description: The lat / long coordinate
        type: string
      number:
        description: the house number value
        type: string
  SolrResponseDto:
    properties:
      adm1_code:
        description: The internal code for the administrative division of level 1
        type: string
      adm1_name:
        description: The name of the administrative division of level 1
        type: string
      adm1_names_alternate:
        description: The alternate names of the administrative division of level 1 without specific language code
        items:
          type: string
        type: array
      adm2_code:
        description: The internal code for the administrative division of level 2
        type: string
      adm2_name:
        description: The name of the administrative division of level 2
        type: string
      adm2_names_alternate:
        description: The alternate names of the administrative division of level 2 without specific language code
        items:
          type: string
        type: array
      adm3_code:
        description: The internal code for the administrative division of level 3
        type: string
      adm3_name:
        description: The name of the administrative division of level 3
        type: string
      adm4_code:
        description: The internal code for the administrative division of level 4
        type: string
      adm4_name:
        description: The name of the administrative division of level 4
        type: string
      amenity:
        description: Informations on category of OpenStreetMap POIs
        type: string
      area:
        description: Area of the country in m² (only for country placetype)
        format: double
        type: number
      capital_name:
        description: Name of the capital of the country(only for country placetype)
        type: string
      continent:
        description: The continent the country belongs (only for country placetype)
        type: string
      country_code:
        description: The ISO 3166 country code
        type: string
      country_flag_url:
        description: The relative URL to get the country flag image
        type: string
      country_name:
        description: The name of the country the features belongs to
        type: string
      country_names_alternate:
        description: The alternate names of the country without specific language code
        items:
          type: string
        type: array
      currency_code:
        description: The ISO 4217 Currency from the curencycode (only for country placetype)
        type: string
      currency_name:
        description: The name of the currency of the country (only for country placetype)
        type: string
      elevation:
        description: Elevation in meters
        format: int32
        type: integer
      feature_class:
        description: The feature Class.
        type: string
      feature_code:
        description: The feature Code.
        type: string
      feature_id:
        description: A unique id that identify the feature
        format: int64
        type: integer
      fips_code:
        description: The FIPS Code of the country (only for country placetype)
        type: string
      fully_qualified_address:
        description: NOT USED YET
        type: string
      fully_qualified_name:
        description: "A name of the form : (adm1Name et adm2Name are printed) Paris, Département de Ville-De-Paris, Ile-De-France, (FR)"
        type: string
      google_map_url:
        description: The URL to get the location on Google Map
        type: string
      gtopo30:
        description: Average elevation of 30'x30' (ca 900mx900m) area in meters
        format: int32
        type: integer
      house_numbers:
        description: a list of all the house numbers sorted and their coordinates (only for placetype street)
        items:
          $ref: "#/definitions/HouseNumberDto"
        type: array
      is_in:
        description: Information on the city where the street / POI is (depends on OpenStreetMap 'is_in' field), the city in general (only for placetype street)
        type: string
      is_in_adm:
        description: Information of the administration division where the street / POI is.
        type: string
      is_in_place:
        description: Information on the place where the street / POI is (quater, common place). Generally a place at a lower level than city
        type: string
      is_in_zip:
        description: Information of the zipcode where the street / POI is (often fill for placetype street)
        items:
          type: string
        type: array
      isoalpha2_country_code:
        description: The ISO 3166 alpha 2 code of the country (only for country placetype)
        type: string
      isoalpha3_country_code:
        description: The ISO 3166 alpha 3 code of the country (only for country placetype)
        type: string
      lat:
        description: The latitude (north-south)
        format: double
        type: number
      length:
        description: The length of the street (only for placetype street)
        format: double
        type: number
      level:
        description: Level of the Adm 1 , 2, 3, or 4(only for Adm placetype)
        format: int32
        type: integer
      lng:
        description: The longitude (east-West)
        format: double
        type: number
      municipality:
        description: if the place is a municipality. it is usefull for geonames feature that don't have concept of 'city' but a populated place (that can be a quarter)
        type: boolean
      name:
        description: The name of the feature
        type: string
      name_alternates:
        description: The alternate names of the feature that without specific language code
        items:
          type: string
        type: array
      name_ascii:
        description: The ASCII name
        type: string
      one_way:
        description: whether the street is one way or not (only for placetype street)
        type: boolean
      openstreetmap_id:
        description: The OpenStreetMap unique id of the street (only for placetype street)
        format: int64
        type: integer
      openstreetmap_map_url:
        description: The URL to get the location on OpenStreetMap.org
        type: string
      phone_prefix:
        description: "The phone prefix of the country. e.g : +33 .(only for country placetype)"
        type: string
      placetype:
        description: The place Type of the Feature
        type: string
      population:
        description: How many people live in this feature
        format: int32
        type: integer
      postal_code_mask:
        description: "The mask that postal codes should verify. e.g : ##### (only for country placetype)"
        type: string
      postal_code_regex:
        description: The regular expression that postal codes should verify (only for country placetype)
        type: string
      score:
        description: a number that indicates the relevance of the result
        format: float
        type: number
      spoken_languages:
        description: List of languages spoken in the country (only for country placetype)
        items:
          type: string
        type: array
      street_type:
        description: The type of the street (only for placetype street)
        type: string
      timezone:
        description: The timezone (e.g :Europe/Paris).
        type: string
      tld:
        description: Top level domain of the country (only for country placetype)
        type: string
      yahoo_map_url:
        description: The URL to get the location on Yahoo Map
        type: string
      zipcodes:
        description: The zipcodes
        items:
          type: string
        type: array
  StreetDistance:
    properties:
      countryCode:
        description: The ISO 3166 country code
        type: string
      distance:
        description: The distance between the point and the nearest point to the street in meters
        type: number
      fullyQualifiedAddress:
        description: NOT USED YET
        type: string
      gid:
        description: Unique id of the street, it is unique between GeoNames and OpenStreetMap
        format: int64
        type: integer
      isIn:
        description: Information on the city where the street is (depends on OpenStreetMap 'is_in' field), the city in general
        type: string
      isInAdm:
        description: Information of the administration division where the street is.
        type: string
      isInPlace:
        description: Information on the place where the street is (quater, common place). Generally a place at a lower level than city
        type: string
      isInZip:
        description: Information of the zipcode where the street / POI is (often fill for placetype street)
        type: string
      lat:
        description: The latitude of the middle of the street(north-south)
        format: double
        type: number
      length:
        description: length of the street in meters
        format: double
        type: number
      lng:
        description: The longitude of the middle of the street(east-west)
        format: double
        type: number
      name:
        description: The name of the street
        type: string
      oneWay:
        description: Whether the street is a one way street or not
        type: boolean
      openstreetmapId:
        description: OpenStreetMap unique id of the street
        format: int64
        type: integer
      streetType:
        description: The type of the street (see street type list)
        type: string
  StreetSearchResultsDto:
    properties:
      QTime:
        description: The execution time of the query in ms
        format: int64
        type: integer
      error:
        description: "A String only present if an error occured (e.g : empty Latitude or longitude)"
        type: string
      numFound:
        description: The number of results display with this query (it takes the pagination into account)
        format: int32
        type: integer
      result:
        items:
          $ref: "#/definitions/StreetDistance"
        type: array
