swagger: "2.0"
schemes:
  - https
host: management.azure.com
basePath: /
info:
  title: ContainerRegistryManagementClient
  version: 2019-04-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-04-01/containerregistry_build.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: containerregistry-containerregistry_build
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: The client API version.
    in: query
    name: api-version
    required: true
    type: string
  RegistryNameParameter:
    description: The name of the container registry.
    in: path
    maxLength: 50
    minLength: 5
    name: registryName
    pattern: ^[a-zA-Z0-9]*$
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceGroupNameParameter:
    description: The name of the resource group to which the container registry belongs.
    in: path
    minLength: 1
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: The Microsoft Azure subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
  TaskNameParameter:
    description: The name of the container registry task.
    in: path
    maxLength: 50
    minLength: 5
    name: taskName
    pattern: ^[a-zA-Z0-9-_]*$
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/listBuildSourceUploadUrl":
    post:
      description: Get the upload location for the user to be able to upload the source.
      operationId: Registries_GetBuildSourceUploadUrl
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/RegistryNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/SourceUploadDefinition"
        default:
          description: Error response describing why the operation failed. If the registry doesn't exist, 404 (Not found) is returned.
      tags:
        - Registries
      x-ms-examples:
        Registries_GetBuildSourceUploadUrl:
          parameters:
            api-version: 2019-04-01
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                relativePath: source/201802130000/b52f12d8-c3d6-4d75-9107-220f0bfc681d.tar.gz
                uploadUrl: https://registrystorageaccount.blob.core.windows.net/registrycontainer/source/201802130000/b52f12d8-c3d6-4d75-9107-220f0bfc681d.tar.gz?sv=2015-04-05&st=2015-04-29T22%3A18%3A26Z&se=2015-04-30T02%3A23%3A26Z&sr=b&sp=rw&sip=168.1.5.60-168.1.5.70&spr=https&sig=Z%2FRHIX5Xcg0Mq2rqI3OlWTjEg2tYkboXr1P9ZUXDtkk%3D
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/runs":
    get:
      description: Gets all the runs for a registry.
      operationId: Runs_List
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/RegistryNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: The runs filter to apply on the operation. Arithmetic operators are not supported. The allowed string function is 'contains'. All logical operators except 'Not', 'Has', 'All' are allowed.
          in: query
          name: $filter
          required: false
          type: string
        - description: $top is supported for get list of runs, which limits the maximum number of runs to return.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/RunListResult"
        default:
          description: Error response describing why the operation failed.
      tags:
        - Runs
      x-ms-examples:
        Runs_List:
          parameters:
            $filter: ""
            $top: 10
            api-version: 2019-04-01
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/runs/0accec26-d6de-4757-8e74-d080f38eaaab
                    name: 0accec26-d6de-4757-8e74-d080f38eaaab
                    properties:
                      agentConfiguration:
                        cpu: 2
                      createTime: 2018-01-25T05:13:51.618Z
                      finishTime: 2018-01-25T06:13:51.618Z
                      imageUpdateTrigger:
                        id: c0c43143-da5d-41ef-b9e1-e7d749272e88
                        images:
                          - digest: sha256:cbbf2f9a99b47fc460d422812b6a5adff7dfee951d8fa2e4a98caa0
                            registry: registry.hub.docker.com
                            repository: mybaseimage
                            tag: latest
                        timestamp: 2018-01-25T05:13:51.618Z
                      isArchiveEnabled: true
                      lastUpdatedTime: 2018-01-25T05:13:51.617Z
                      outputImages:
                        - digest: sha256:cbbf2f9a99b47fc460d422812b6a5adff7dfee951d8fa2e4a98caa0
                          registry: myregistry.azurecr.io
                          repository: myimage
                          tag: latest
                      platform:
                        architecture: amd64
                        os: Linux
                      provisioningState: Succeeded
                      runId: 0accec26-d6de-4757-8e74-d080f38eaaab
                      runType: AutoBuild
                      startTime: 2018-01-25T05:50:51.618Z
                      status: Succeeded
                      task: myTask
                    type: Microsoft.ContainerRegistry/registries/runs
        Runs_List_WithTimerTrigger:
          parameters:
            $filter: ""
            $top: 10
            api-version: 2019-04-01
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/runs/0accec26-d6de-4757-8e74-d080f38eaaab
                    name: 0accec26-d6de-4757-8e74-d080f38eaaab
                    properties:
                      agentConfiguration:
                        cpu: 2
                      createTime: 2018-01-25T05:13:51.618Z
                      finishTime: 2018-01-25T06:13:51.618Z
                      isArchiveEnabled: true
                      lastUpdatedTime: 2018-01-25T05:13:51.617Z
                      outputImages:
                        - digest: sha256:cbbf2f9a99b47fc460d422812b6a5adff7dfee951d8fa2e4a98caa0
                          registry: myregistry.azurecr.io
                          repository: myimage
                          tag: latest
                      platform:
                        architecture: amd64
                        os: Linux
                      provisioningState: Succeeded
                      runId: 0accec26-d6de-4757-8e74-d080f38eaaab
                      runType: AutoBuild
                      startTime: 2018-01-25T05:50:51.618Z
                      status: Succeeded
                      task: myTask
                      timerTrigger:
                        scheduleOccurrence: 6/4/2019 9:30 AM
                        timerTriggerName: myTimerTrigger
                    type: Microsoft.ContainerRegistry/registries/runs
      x-ms-odata: "#/definitions/RunFilter"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/runs/{runId}":
    get:
      description: Gets the detailed information for a given run.
      operationId: Runs_Get
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/RegistryNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: The run ID.
          in: path
          name: runId
          required: true
          type: string
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/Run"
        default:
          description: Error response describing why the operation failed. If the registry/run doesn't exist, 404 (Not found) is returned.
      tags:
        - Runs
      x-ms-examples:
        Runs_Get:
          parameters:
            api-version: 2019-04-01
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            runId: 0accec26-d6de-4757-8e74-d080f38eaaab
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/runs/0accec26-d6de-4757-8e74-d080f38eaaab
                name: 0accec26-d6de-4757-8e74-d080f38eaaab
                properties:
                  agentConfiguration:
                    cpu: 2
                  createTime: 2018-01-25T05:13:51.618Z
                  finishTime: 2018-01-25T06:13:51.618Z
                  imageUpdateTrigger:
                    id: c0c43143-da5d-41ef-b9e1-e7d749272e88
                    images:
                      - digest: sha256:cbbf2f9a99b47fc460d422812b6a5adff7dfee951d8fa2e4a98caa0
                        registry: registry.hub.docker.com
                        repository: mybaseimage
                        tag: latest
                    timestamp: 2018-01-25T05:13:51.618Z
                  isArchiveEnabled: true
                  lastUpdatedTime: 2018-01-25T05:13:51.617Z
                  outputImages:
                    - digest: sha256:cbbf2f9a99b47fc460d422812b6a5adff7dfee951d8fa2e4a98caa0
                      registry: myregistry.azurecr.io
                      repository: myimage
                      tag: latest
                  platform:
                    architecture: amd64
                    os: Linux
                  provisioningState: Succeeded
                  runId: 0accec26-d6de-4757-8e74-d080f38eaaab
                  runType: AutoBuild
                  startTime: 2018-01-25T05:50:51.618Z
                  status: Succeeded
                  task: myTask
                type: Microsoft.ContainerRegistry/registries/runs
        Runs_Get_WithTimerTrigger:
          parameters:
            api-version: 2019-04-01
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            runId: 0accec26-d6de-4757-8e74-d080f38eaaab
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/runs/0accec26-d6de-4757-8e74-d080f38eaaab
                name: 0accec26-d6de-4757-8e74-d080f38eaaab
                properties:
                  agentConfiguration:
                    cpu: 2
                  createTime: 2018-01-25T05:13:51.618Z
                  finishTime: 2018-01-25T06:13:51.618Z
                  isArchiveEnabled: true
                  lastUpdatedTime: 2018-01-25T05:13:51.617Z
                  outputImages:
                    - digest: sha256:cbbf2f9a99b47fc460d422812b6a5adff7dfee951d8fa2e4a98caa0
                      registry: myregistry.azurecr.io
                      repository: myimage
                      tag: latest
                  platform:
                    architecture: amd64
                    os: Linux
                  provisioningState: Succeeded
                  runId: 0accec26-d6de-4757-8e74-d080f38eaaab
                  runType: AutoBuild
                  startTime: 2018-01-25T05:50:51.618Z
                  status: Succeeded
                  task: myTask
                  timerTrigger:
                    scheduleOccurrence: 6/4/2019 9:30 AM
                    timerTriggerName: myTimerTrigger
                type: Microsoft.ContainerRegistry/registries/runs
    patch:
      description: Patch the run properties.
      operationId: Runs_Update
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/RegistryNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: The run ID.
          in: path
          name: runId
          required: true
          type: string
        - description: The run update properties.
          in: body
          name: runUpdateParameters
          required: true
          schema:
            $ref: "#/definitions/RunUpdateParameters"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/Run"
        "201":
          description: The request was successfully accepted; the operation will complete asynchronously. The provisioning state of the resource should indicate the current state of the resource.
          schema:
            $ref: "#/definitions/Run"
        default:
          description: Error response describing why the operation failed. If the registry/build doesn't exist, 404 (Not found) is returned. If any of the input parameters is wrong, 400(Bad Request) is returned.
      tags:
        - Runs
      x-ms-examples:
        Runs_Update:
          parameters:
            api-version: 2019-04-01
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            runId: 0accec26-d6de-4757-8e74-d080f38eaaab
            runUpdateParameters:
              isArchiveEnabled: true
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/runs/0accec26-d6de-4757-8e74-d080f38eaaab
                name: 0accec26-d6de-4757-8e74-d080f38eaaab
                properties:
                  agentConfiguration:
                    cpu: 2
                  createTime: 2018-01-25T05:13:51.618Z
                  finishTime: 2018-01-25T06:13:51.618Z
                  imageUpdateTrigger:
                    id: c0c43143-da5d-41ef-b9e1-e7d749272e88
                    images:
                      - digest: sha256:cbbf2f9a99b47fc460d422812b6a5adff7dfee951d8fa2e4a98caa0
                        registry: registry.hub.docker.com
                        repository: mybaseimage
                        tag: latest
                    timestamp: 2018-01-25T05:13:51.618Z
                  isArchiveEnabled: true
                  lastUpdatedTime: 2018-01-25T05:13:51.617Z
                  outputImages:
                    - digest: sha256:cbbf2f9a99b47fc460d422812b6a5adff7dfee951d8fa2e4a98caa0
                      registry: myregistry.azurecr.io
                      repository: myimage
                      tag: latest
                  platform:
                    architecture: amd64
                    os: Linux
                  provisioningState: Succeeded
                  runId: 0accec26-d6de-4757-8e74-d080f38eaaab
                  runType: AutoBuild
                  startTime: 2018-01-25T05:50:51.618Z
                  status: Succeeded
                  task: myTask
                type: Microsoft.ContainerRegistry/registries/runs
            "201":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/runs/0accec26-d6de-4757-8e74-d080f38eaaab
                name: 0accec26-d6de-4757-8e74-d080f38eaaab
                properties:
                  agentConfiguration:
                    cpu: 2
                  createTime: 2018-01-25T05:13:51.618Z
                  finishTime: 2018-01-25T06:13:51.618Z
                  imageUpdateTrigger:
                    id: c0c43143-da5d-41ef-b9e1-e7d749272e88
                    images:
                      - digest: sha256:cbbf2f9a99b47fc460d422812b6a5adff7dfee951d8fa2e4a98caa0
                        registry: registry.hub.docker.com
                        repository: mybaseimage
                        tag: latest
                    timestamp: 2018-01-25T05:13:51.618Z
                  isArchiveEnabled: true
                  lastUpdatedTime: 2018-01-25T05:13:51.617Z
                  outputImages:
                    - digest: sha256:cbbf2f9a99b47fc460d422812b6a5adff7dfee951d8fa2e4a98caa0
                      registry: myregistry.azurecr.io
                      repository: myimage
                      tag: latest
                  platform:
                    architecture: amd64
                    os: Linux
                  provisioningState: Updating
                  runId: 0accec26-d6de-4757-8e74-d080f38eaaab
                  runType: AutoBuild
                  startTime: 2018-01-25T05:50:51.618Z
                  status: Succeeded
                  task: myTask
                type: Microsoft.ContainerRegistry/registries/runs
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/runs/{runId}/cancel":
    post:
      description: Cancel an existing run.
      operationId: Runs_Cancel
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/RegistryNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: The run ID.
          in: path
          name: runId
          required: true
          type: string
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
        "202":
          description: The request was successfully accepted; the operation will complete asynchronously.
        default:
          description: Error response describing why the operation failed. If the registry/run doesn't exist, 404 (Not found) is returned.
      tags:
        - Runs
      x-ms-examples:
        Runs_Cancel:
          parameters:
            api-version: 2019-04-01
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            runId: 0accec26-d6de-4757-8e74-d080f38eaaab
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/runs/{runId}/listLogSasUrl":
    post:
      description: Gets a link to download the run logs.
      operationId: Runs_GetLogSasUrl
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/RegistryNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: The run ID.
          in: path
          name: runId
          required: true
          type: string
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/RunGetLogResult"
        default:
          description: Error response describing why the operation failed. If the registry/run doesn't exist, 404 (Not found) is returned.
      tags:
        - Runs
      x-ms-examples:
        Runs_GetLogSasUrl:
          parameters:
            api-version: 2019-04-01
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            runId: 0accec26-d6de-4757-8e74-d080f38eaaab
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                logLink: https://registrystorageaccount.blob.core.windows.net/sascontainer/logs/0accec26-d6de-4757-8e74-d080f38eaaab/rawtext.log?sv=2015-04-05&st=2015-04-29T22%3A18%3A26Z&se=2015-04-30T02%3A23%3A26Z&sr=b&sp=rw&sip=168.1.5.60-168.1.5.70&spr=https&sig=Z%2FRHIX5Xcg0Mq2rqI3OlWTjEg2tYkboXr1P9ZUXDtkk%3D
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/scheduleRun":
    post:
      description: Schedules a new run based on the request parameters and add it to the run queue.
      operationId: Registries_ScheduleRun
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/RegistryNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: The parameters of a run that needs to scheduled.
          in: body
          name: runRequest
          required: true
          schema:
            $ref: "#/definitions/RunRequest"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/Run"
        "202":
          description: The request was successfully accepted; the operation will complete asynchronously.
        default:
          description: Error response describing why the operation failed. If the registry/run doesn't exist, 404 (Not found) is returned. If any of the input parameters is wrong, 400(Bad Request) is returned.
      tags:
        - Registries
      x-ms-examples:
        Registries_ScheduleRun:
          parameters:
            api-version: 2019-04-01
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            runRequest:
              agentConfiguration:
                cpu: 2
              arguments:
                - isSecret: false
                  name: mytestargument
                  value: mytestvalue
                - isSecret: true
                  name: mysecrettestargument
                  value: mysecrettestvalue
              dockerFilePath: DockerFile
              imageNames:
                - azurerest:testtag
              isArchiveEnabled: true
              isPushEnabled: true
              noCache: true
              platform:
                architecture: amd64
                os: Linux
              sourceLocation: https://myaccount.blob.core.windows.net/sascontainer/source.zip?sv=2015-04-05&st=2015-04-29T22%3A18%3A26Z&se=2015-04-30T02%3A23%3A26Z&sr=b&sp=rw&sip=168.1.5.60-168.1.5.70&spr=https&sig=Z%2FRHIX5Xcg0Mq2rqI3OlWTjEg2tYkboXr1P9ZUXDtkk%3D
              type: DockerBuildRequest
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/runs/0accec26-d6de-4757-8e74-d080f38eaaab
                name: 0accec26-d6de-4757-8e74-d080f38eaaab
                properties:
                  lastUpdatedTime: 2018-01-25T05:13:51.617Z
                  provisioningState: Succeeded
                  runId: 0accec26-d6de-4757-8e74-d080f38eaaab
                  status: Succeeded
                type: Microsoft.ContainerRegistry/registries/run
            "202": {}
        Registries_ScheduleRun_EncodedTaskRun:
          parameters:
            api-version: 2019-04-01
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            runRequest:
              agentConfiguration:
                cpu: 2
              encodedTaskContent: c3RlcHM6Cnt7IGlmIFZhbHVlcy5lbnZpcm9ubWVudCA9PSAncHJvZCcgfX0KICAtIHJ1bjogcHJvZCBzZXR1cAp7eyBlbHNlIGlmIFZhbHVlcy5lbnZpcm9ubWVudCA9PSAnc3RhZ2luZycgfX0KICAtIHJ1bjogc3RhZ2luZyBzZXR1cAp7eyBlbHNlIH19CiAgLSBydW46IGRlZmF1bHQgc2V0dXAKe3sgZW5kIH19CgogIC0gcnVuOiBidWlsZCAtdCBGYW5jeVRoaW5nOnt7LlZhbHVlcy5lbnZpcm9ubWVudH19LXt7LlZhbHVlcy52ZXJzaW9ufX0gLgoKcHVzaDogWydGYW5jeVRoaW5nOnt7LlZhbHVlcy5lbnZpcm9ubWVudH19LXt7LlZhbHVlcy52ZXJzaW9ufX0nXQ==
              encodedValuesContent: ZW52aXJvbm1lbnQ6IHByb2QKdmVyc2lvbjogMQ==
              platform:
                os: Linux
              type: EncodedTaskRunRequest
              values:
                - isSecret: false
                  name: mytestargument
                  value: mytestvalue
                - isSecret: true
                  name: mysecrettestargument
                  value: mysecrettestvalue
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/runs/0accec26-d6de-4757-8e74-d080f38eaaab
                name: 0accec26-d6de-4757-8e74-d080f38eaaab
                properties:
                  lastUpdatedTime: 2018-01-25T05:13:51.617Z
                  provisioningState: Succeeded
                  runId: 0accec26-d6de-4757-8e74-d080f38eaaab
                  status: Succeeded
                type: Microsoft.ContainerRegistry/registries/run
            "202": {}
        Registries_ScheduleRun_FileTaskRun:
          parameters:
            api-version: 2019-04-01
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            runRequest:
              agentConfiguration:
                cpu: 2
              platform:
                os: Linux
              sourceLocation: https://myaccount.blob.core.windows.net/sascontainer/source.zip?sv=2015-04-05&st=2015-04-29T22%3A18%3A26Z&se=2015-04-30T02%3A23%3A26Z&sr=b&sp=rw&sip=168.1.5.60-168.1.5.70&spr=https&sig=Z%2FRHIX5Xcg0Mq2rqI3OlWTjEg2tYkboXr1P9ZUXDtkk%3D
              taskFilePath: acb.yaml
              type: FileTaskRunRequest
              values:
                - isSecret: false
                  name: mytestargument
                  value: mytestvalue
                - isSecret: true
                  name: mysecrettestargument
                  value: mysecrettestvalue
              valuesFilePath: prod-values.yaml
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/runs/0accec26-d6de-4757-8e74-d080f38eaaab
                name: 0accec26-d6de-4757-8e74-d080f38eaaab
                properties:
                  lastUpdatedTime: 2018-01-25T05:13:51.617Z
                  provisioningState: Succeeded
                  runId: 0accec26-d6de-4757-8e74-d080f38eaaab
                  status: Succeeded
                type: Microsoft.ContainerRegistry/registries/run
            "202": {}
        Registries_ScheduleRun_Task:
          parameters:
            api-version: 2019-04-01
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            runRequest:
              taskName: myTask
              type: TaskRunRequest
              values:
                - isSecret: false
                  name: mytestargument
                  value: mytestvalue
                - isSecret: true
                  name: mysecrettestargument
                  value: mysecrettestvalue
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/runs/0accec26-d6de-4757-8e74-d080f38eaaab
                name: 0accec26-d6de-4757-8e74-d080f38eaaab
                properties:
                  lastUpdatedTime: 2018-01-25T05:13:51.617Z
                  provisioningState: Succeeded
                  runId: 0accec26-d6de-4757-8e74-d080f38eaaab
                  status: Succeeded
                type: Microsoft.ContainerRegistry/registries/run
            "202": {}
        Registries_ScheduleRun_Task_WithCustomCredentials:
          parameters:
            api-version: 2019-04-01
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            runRequest:
              credentials:
                customRegistries:
                  myregistry.azurecr.io:
                    password:
                      type: Opaque
                      value: "***"
                    userName:
                      type: Opaque
                      value: reg1
                sourceRegistry:
                  loginMode: Default
              platform:
                os: Linux
              taskFilePath: acb.yaml
              type: FileTaskRunRequest
              values:
                - isSecret: false
                  name: mytestargument
                  value: mytestvalue
                - isSecret: true
                  name: mysecrettestargument
                  value: mysecrettestvalue
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/runs/0accec26-d6de-4757-8e74-d080f38eaaab
                name: 0accec26-d6de-4757-8e74-d080f38eaaab
                properties:
                  lastUpdatedTime: 2018-01-25T05:13:51.617Z
                  provisioningState: Succeeded
                  runId: 0accec26-d6de-4757-8e74-d080f38eaaab
                  status: Succeeded
                type: Microsoft.ContainerRegistry/registries/run
            "202": {}
        Registries_ScheduleRun_WithCustomCredentials:
          parameters:
            api-version: 2019-04-01
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            runRequest:
              agentConfiguration:
                cpu: 2
              arguments:
                - isSecret: false
                  name: mytestargument
                  value: mytestvalue
                - isSecret: true
                  name: mysecrettestargument
                  value: mysecrettestvalue
              credentials:
                customRegistries:
                  myregistry.azurecr.io:
                    password:
                      type: Opaque
                      value: "***"
                    userName:
                      type: Opaque
                      value: reg1
                  myregistry2.azurecr.io:
                    password:
                      type: Opaque
                      value: "***"
                    userName:
                      type: Opaque
                      value: reg2
                sourceRegistry:
                  loginMode: Default
              dockerFilePath: DockerFile
              imageNames:
                - azurerest:testtag
              isArchiveEnabled: true
              isPushEnabled: true
              noCache: true
              platform:
                architecture: amd64
                os: Linux
              sourceLocation: https://myaccount.blob.core.windows.net/sascontainer/source.zip?sv=2015-04-05&st=2015-04-29T22%3A18%3A26Z&se=2015-04-30T02%3A23%3A26Z&sr=b&sp=rw&sip=168.1.5.60-168.1.5.70&spr=https&sig=Z%2FRHIX5Xcg0Mq2rqI3OlWTjEg2tYkboXr1P9ZUXDtkk%3D
              target: stage1
              type: DockerBuildRequest
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/runs/0accec26-d6de-4757-8e74-d080f38eaaab
                name: 0accec26-d6de-4757-8e74-d080f38eaaab
                properties:
                  lastUpdatedTime: 2018-01-25T05:13:51.617Z
                  provisioningState: Succeeded
                  runId: 0accec26-d6de-4757-8e74-d080f38eaaab
                  status: Succeeded
                type: Microsoft.ContainerRegistry/registries/run
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/tasks":
    get:
      description: Lists all the tasks for a specified container registry.
      operationId: Tasks_List
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/RegistryNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/TaskListResult"
        default:
          description: Error response describing why the operation failed.
      tags:
        - Tasks
      x-ms-examples:
        Tasks_List:
          parameters:
            api-version: 2019-04-01
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/tasks/myTask
                    identity:
                      principalId: fa153151-b9fd-46f4-9088-5e6600f2689v
                      tenantId: f686d426-8d16-42db-81b7-abu4gm510ccd
                      type: SystemAssigned
                    location: eastus
                    name: myTask
                    properties:
                      agentConfiguration:
                        cpu: 2
                      creationDate: 2018-01-25T06:54:23.536Z
                      credentials:
                        customRegistries:
                          myRegistry.azure.io: null
                        sourceRegistry: null
                      platform:
                        architecture: amd64
                        os: Linux
                      provisioningState: Succeeded
                      status: Enabled
                      step:
                        arguments:
                          - isSecret: false
                            name: mytestargument
                            value: mytestvalue
                        contextPath: src
                        dockerFilePath: src/DockerFile
                        imageNames:
                          - azurerest:testtag
                        isPushEnabled: true
                        noCache: false
                        type: Docker
                      trigger:
                        baseImageTrigger:
                          baseImageTriggerType: Runtime
                          name: myBaseImageTrigger
                          status: Enabled
                        sourceTriggers:
                          - name: mySourceTrigger
                            sourceRepository:
                              branch: master
                              repositoryUrl: https://github.com/Azure/azure-rest-api-specs
                              sourceControlType: Github
                            sourceTriggerEvents:
                              - commit
                            status: Enabled
                        timerTriggers:
                          - name: myTimerTrigger
                            schedule: 30 9 * * 1-5
                            status: Enabled
                    tags:
                      testkey: value
                    type: Microsoft.ContainerRegistry/registries/tasks
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/tasks/{taskName}":
    delete:
      description: Deletes a specified task.
      operationId: Tasks_Delete
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/RegistryNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/TaskNameParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
        "202":
          description: The request was successfully accepted; the operation will complete asynchronously.
        "204":
          description: No Content - the specified resource was not found.
        default:
          description: Error response describing why the operation failed.
      tags:
        - Tasks
      x-ms-examples:
        Tasks_Delete:
          parameters:
            api-version: 2019-04-01
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
            taskName: myTask
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Get the properties of a specified task.
      operationId: Tasks_Get
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/RegistryNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/TaskNameParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/Task"
        default:
          description: Error response describing why the operation failed. If the registry doesn't exist, 404 (Not found) is returned.
      tags:
        - Tasks
      x-ms-examples:
        Tasks_Get:
          parameters:
            api-version: 2019-04-01
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
            taskName: myTask
          responses:
            "200":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/tasks/myTask
                identity:
                  principalId: fa153151-b9fd-46f4-9088-5e6600f2689v
                  tenantId: f686d426-8d16-42db-81b7-abu4gm510ccd
                  type: SystemAssigned
                location: eastus
                name: myTask
                properties:
                  agentConfiguration:
                    cpu: 2
                  creationDate: 2018-01-25T06:54:23.536Z
                  credentials:
                    customRegistries:
                      myregistry.azure.io: null
                    sourceRegistry: null
                  platform:
                    architecture: amd64
                    os: Linux
                  provisioningState: Succeeded
                  status: Enabled
                  step:
                    arguments:
                      - isSecret: false
                        name: mytestargument
                        value: mytestvalue
                    contextPath: src
                    dockerFilePath: src/DockerFile
                    imageNames:
                      - azurerest:testtag
                    isPushEnabled: true
                    noCache: false
                    type: Docker
                  trigger:
                    baseImageTrigger:
                      baseImageTriggerType: Runtime
                      name: myBaseImageTrigger
                      status: Enabled
                    sourceTriggers:
                      - name: mySourceTrigger
                        sourceRepository:
                          branch: master
                          repositoryUrl: https://github.com/Azure/azure-rest-api-specs
                          sourceControlType: Github
                        sourceTriggerEvents:
                          - commit
                        status: Enabled
                    timerTriggers:
                      - name: myTimerTrigger
                        schedule: 30 9 * * 1-5
                        status: Enabled
                tags:
                  testkey: value
                type: Microsoft.ContainerRegistry/registries/tasks
    patch:
      description: Updates a task with the specified parameters.
      operationId: Tasks_Update
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/RegistryNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/TaskNameParameter"
        - description: The parameters for updating a task.
          in: body
          name: taskUpdateParameters
          required: true
          schema:
            $ref: "#/definitions/TaskUpdateParameters"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/Task"
        "201":
          description: The request was successfully accepted; the operation will complete asynchronously. The provisioning state of the resource should indicate the current state of the resource.
          schema:
            $ref: "#/definitions/Task"
        default:
          description: Error response describing why the operation failed. If the registry doesn't exist, 404 (Not found) is returned. If any of the input parameters is wrong, 400(Bad Request) is returned.
      tags:
        - Tasks
      x-ms-examples:
        Tasks_Update:
          parameters:
            api-version: 2019-04-01
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
            taskName: myTask
            taskUpdateParameters:
              properties:
                agentConfiguration:
                  cpu: 3
                credentials:
                  customRegistries:
                    myregistry.azurecr.io:
                      identity: "[system]"
                      password:
                        type: Vaultsecret
                        value: https://myacbvault.vault.azure.net/secrets/password
                      userName:
                        type: Opaque
                        value: username
                status: Enabled
                step:
                  dockerFilePath: src/DockerFile
                  imageNames:
                    - azurerest:testtag1
                trigger:
                  sourceTriggers:
                    - name: mySourceTrigger
                      sourceRepository:
                        sourceControlAuthProperties:
                          token: xxxxx
                          tokenType: PAT
                      sourceTriggerEvents:
                        - commit
              tags:
                testkey: value
          responses:
            "200":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/tasks/myTask
                identity:
                  principalId: fa153151-b9fd-46f4-9088-5e6600f2689v
                  tenantId: f686d426-8d16-42db-81b7-abu4gm510ccd
                  type: SystemAssigned
                location: eastus
                name: myTask
                properties:
                  agentConfiguration:
                    cpu: 3
                  creationDate: 2018-01-25T06:54:23.536Z
                  credentials:
                    customRegistries:
                      myregistry.azurecr.io: null
                    sourceRegistry: null
                  platform:
                    architecture: amd64
                    os: Linux
                  provisioningState: Succeeded
                  status: Enabled
                  step:
                    arguments:
                      - isSecret: false
                        name: mytestargument
                        value: mytestvalue
                    contextPath: src
                    dockerFilePath: src/DockerFile
                    imageNames:
                      - azurerest:testtag1
                    isPushEnabled: true
                    noCache: false
                    type: Docker
                  trigger:
                    baseImageTrigger:
                      baseImageTriggerType: Runtime
                      name: myBaseImageTrigger
                      status: Enabled
                    sourceTriggers:
                      - name: mySourceTrigger
                        sourceRepository:
                          branch: master
                          repositoryUrl: https://github.com/Azure/azure-rest-api-specs
                          sourceControlType: Github
                        sourceTriggerEvents:
                          - commit
                        status: Enabled
                    timerTriggers:
                      - name: myTimerTrigger
                        schedule: 30 9 * * 1-5
                        status: Enabled
                tags:
                  testkey: value
                type: Microsoft.ContainerRegistry/registries/tasks
            "201":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/tasks/myTask
                identity:
                  principalId: fa153151-b9fd-46f4-9088-5e6600f2689v
                  tenantId: f686d426-8d16-42db-81b7-abu4gm510ccd
                  type: SystemAssigned
                location: eastus
                name: myTask
                properties:
                  agentConfiguration:
                    cpu: 3
                  creationDate: 2018-01-25T06:54:23.536Z
                  credentials:
                    customRegistries:
                      myregistry.azurecr.io: null
                    sourceRegistry: null
                  platform:
                    architecture: amd64
                    os: Linux
                  provisioningState: Succeeded
                  status: Enabled
                  step:
                    arguments:
                      - isSecret: false
                        name: mytestargument
                        value: mytestvalue
                    contextPath: src
                    dockerFilePath: src/DockerFile
                    imageNames:
                      - azurerest:testtag1
                    isPushEnabled: true
                    noCache: false
                    type: Docker
                  trigger:
                    baseImageTrigger:
                      baseImageTriggerType: Runtime
                      name: myBaseImageTrigger
                      status: Enabled
                    sourceTriggers:
                      - name: mySourceTrigger
                        sourceRepository:
                          branch: master
                          repositoryUrl: https://github.com/Azure/azure-rest-api-specs
                          sourceControlType: Github
                        sourceTriggerEvents:
                          - commit
                        status: Enabled
                    timerTriggers:
                      - name: myTimerTrigger
                        schedule: 30 9 * * 1-5
                        status: Enabled
                tags:
                  testkey: value
                type: Microsoft.ContainerRegistry/registries/tasks
        Tasks_Update_WithKeyVaultCustomCredentials:
          parameters:
            api-version: 2019-04-01
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
            taskName: myTask
            taskUpdateParameters:
              properties:
                agentConfiguration:
                  cpu: 3
                credentials:
                  customRegistries:
                    myregistry.azurecr.io:
                      identity: "[system]"
                      password:
                        type: Vaultsecret
                        value: https://myacbvault.vault.azure.net/secrets/password
                      userName:
                        type: Vaultsecret
                        value: https://myacbvault.vault.azure.net/secrets/username
                status: Enabled
                step:
                  dockerFilePath: src/DockerFile
                  imageNames:
                    - azurerest:testtag1
                trigger:
                  sourceTriggers:
                    - name: mySourceTrigger
                      sourceRepository:
                        sourceControlAuthProperties:
                          token: xxxxx
                          tokenType: PAT
                      sourceTriggerEvents:
                        - commit
              tags:
                testkey: value
          responses:
            "200":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/tasks/myTask
                identity:
                  principalId: fa153151-b9fd-46f4-9088-5e6600f2689v
                  tenantId: f686d426-8d16-42db-81b7-abu4gm510ccd
                  type: SystemAssigned
                location: eastus
                name: myTask
                properties:
                  agentConfiguration:
                    cpu: 3
                  creationDate: 2018-01-25T06:54:23.536Z
                  credentials:
                    customRegistries:
                      myregistry.azurecr.io: null
                    sourceRegistry: null
                  platform:
                    architecture: amd64
                    os: Linux
                  provisioningState: Succeeded
                  status: Enabled
                  step:
                    arguments:
                      - isSecret: false
                        name: mytestargument
                        value: mytestvalue
                    contextPath: src
                    dockerFilePath: src/DockerFile
                    imageNames:
                      - azurerest:testtag1
                    isPushEnabled: true
                    noCache: false
                    type: Docker
                  trigger:
                    baseImageTrigger:
                      baseImageTriggerType: Runtime
                      name: myBaseImageTrigger
                      status: Enabled
                    sourceTriggers:
                      - name: mySourceTrigger
                        sourceRepository:
                          branch: master
                          repositoryUrl: https://github.com/Azure/azure-rest-api-specs
                          sourceControlType: Github
                        sourceTriggerEvents:
                          - commit
                        status: Enabled
                    timerTriggers:
                      - name: myTimerTrigger
                        schedule: 30 9 * * 1-5
                        status: Enabled
                tags:
                  testkey: value
                type: Microsoft.ContainerRegistry/registries/tasks
            "201":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/tasks/myTask
                identity:
                  principalId: fa153151-b9fd-46f4-9088-5e6600f2689v
                  tenantId: f686d426-8d16-42db-81b7-abu4gm510ccd
                  type: SystemAssigned
                location: eastus
                name: myTask
                properties:
                  agentConfiguration:
                    cpu: 3
                  creationDate: 2018-01-25T06:54:23.536Z
                  credentials:
                    customRegistries:
                      myregistry.azurecr.io: null
                    sourceRegistry: null
                  platform:
                    architecture: amd64
                    os: Linux
                  provisioningState: Succeeded
                  status: Enabled
                  step:
                    arguments:
                      - isSecret: false
                        name: mytestargument
                        value: mytestvalue
                    contextPath: src
                    dockerFilePath: src/DockerFile
                    imageNames:
                      - azurerest:testtag1
                    isPushEnabled: true
                    noCache: false
                    type: Docker
                  trigger:
                    baseImageTrigger:
                      baseImageTriggerType: Runtime
                      name: myBaseImageTrigger
                      status: Enabled
                    sourceTriggers:
                      - name: mySourceTrigger
                        sourceRepository:
                          branch: master
                          repositoryUrl: https://github.com/Azure/azure-rest-api-specs
                          sourceControlType: Github
                        sourceTriggerEvents:
                          - commit
                        status: Enabled
                    timerTriggers:
                      - name: myTimerTrigger
                        schedule: 30 9 * * 1-5
                        status: Enabled
                tags:
                  testkey: value
                type: Microsoft.ContainerRegistry/registries/tasks
        Tasks_Update_WithMSICustomCredentials:
          parameters:
            api-version: 2019-04-01
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
            taskName: myTask
            taskUpdateParameters:
              properties:
                agentConfiguration:
                  cpu: 3
                credentials:
                  customRegistries:
                    myregistry.azurecr.io:
                      identity: "[system]"
                status: Enabled
                step:
                  dockerFilePath: src/DockerFile
                  imageNames:
                    - azurerest:testtag1
                trigger:
                  sourceTriggers:
                    - name: mySourceTrigger
                      sourceRepository:
                        sourceControlAuthProperties:
                          token: xxxxx
                          tokenType: PAT
                      sourceTriggerEvents:
                        - commit
              tags:
                testkey: value
          responses:
            "200":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/tasks/myTask
                identity:
                  principalId: fa153151-b9fd-46f4-9088-5e6600f2689v
                  tenantId: f686d426-8d16-42db-81b7-abu4gm510ccd
                  type: SystemAssigned
                location: eastus
                name: myTask
                properties:
                  agentConfiguration:
                    cpu: 3
                  creationDate: 2018-01-25T06:54:23.536Z
                  credentials:
                    customRegistries:
                      myregistry.azure.io: null
                    sourceRegistry: null
                  platform:
                    architecture: amd64
                    os: Linux
                  provisioningState: Succeeded
                  status: Enabled
                  step:
                    arguments:
                      - isSecret: false
                        name: mytestargument
                        value: mytestvalue
                    contextPath: src
                    dockerFilePath: src/DockerFile
                    imageNames:
                      - azurerest:testtag1
                    isPushEnabled: true
                    noCache: false
                    type: Docker
                  trigger:
                    baseImageTrigger:
                      baseImageTriggerType: Runtime
                      name: myBaseImageTrigger
                      status: Enabled
                    sourceTriggers:
                      - name: mySourceTrigger
                        sourceRepository:
                          branch: master
                          repositoryUrl: https://github.com/Azure/azure-rest-api-specs
                          sourceControlType: Github
                        sourceTriggerEvents:
                          - commit
                        status: Enabled
                    timerTriggers:
                      - name: myTimerTrigger
                        schedule: 30 9 * * 1-5
                        status: Enabled
                tags:
                  testkey: value
                type: Microsoft.ContainerRegistry/registries/tasks
            "201":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/tasks/myTask
                identity:
                  principalId: fa153151-b9fd-46f4-9088-5e6600f2689v
                  tenantId: f686d426-8d16-42db-81b7-abu4gm510ccd
                  type: SystemAssigned
                location: eastus
                name: myTask
                properties:
                  agentConfiguration:
                    cpu: 3
                  creationDate: 2018-01-25T06:54:23.536Z
                  credentials:
                    customRegistries:
                      myregistry.azure.io: null
                    sourceRegistry: null
                  platform:
                    architecture: amd64
                    os: Linux
                  provisioningState: Succeeded
                  status: Enabled
                  step:
                    arguments:
                      - isSecret: false
                        name: mytestargument
                        value: mytestvalue
                    contextPath: src
                    dockerFilePath: src/DockerFile
                    imageNames:
                      - azurerest:testtag1
                    isPushEnabled: true
                    noCache: false
                    type: Docker
                  trigger:
                    baseImageTrigger:
                      baseImageTriggerType: Runtime
                      name: myBaseImageTrigger
                      status: Enabled
                    sourceTriggers:
                      - name: mySourceTrigger
                        sourceRepository:
                          branch: master
                          repositoryUrl: https://github.com/Azure/azure-rest-api-specs
                          sourceControlType: Github
                        sourceTriggerEvents:
                          - commit
                        status: Enabled
                    timerTriggers:
                      - name: myTimerTrigger
                        schedule: 30 9 * * 1-5
                        status: Enabled
                tags:
                  testkey: value
                type: Microsoft.ContainerRegistry/registries/tasks
        Tasks_Update_WithOpaqueCustomCredentials:
          parameters:
            api-version: 2019-04-01
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
            taskName: myTask
            taskUpdateParameters:
              properties:
                agentConfiguration:
                  cpu: 3
                credentials:
                  customRegistries:
                    myregistry.azurecr.io:
                      password:
                        type: Opaque
                        value: "***"
                      userName:
                        type: Opaque
                        value: username
                status: Enabled
                step:
                  dockerFilePath: src/DockerFile
                  imageNames:
                    - azurerest:testtag1
                trigger:
                  sourceTriggers:
                    - name: mySourceTrigger
                      sourceRepository:
                        sourceControlAuthProperties:
                          token: xxxxx
                          tokenType: PAT
                      sourceTriggerEvents:
                        - commit
              tags:
                testkey: value
          responses:
            "200":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/tasks/myTask
                identity:
                  principalId: fa153151-b9fd-46f4-9088-5e6600f2689v
                  tenantId: f686d426-8d16-42db-81b7-abu4gm510ccd
                  type: SystemAssigned
                location: eastus
                name: myTask
                properties:
                  agentConfiguration:
                    cpu: 3
                  creationDate: 2018-01-25T06:54:23.536Z
                  credentials:
                    customRegistries:
                      myregistry.azure.io: null
                    sourceRegistry: null
                  platform:
                    architecture: amd64
                    os: Linux
                  provisioningState: Succeeded
                  status: Enabled
                  step:
                    arguments:
                      - isSecret: false
                        name: mytestargument
                        value: mytestvalue
                    contextPath: src
                    dockerFilePath: src/DockerFile
                    imageNames:
                      - azurerest:testtag1
                    isPushEnabled: true
                    noCache: false
                    type: Docker
                  trigger:
                    baseImageTrigger:
                      baseImageTriggerType: Runtime
                      name: myBaseImageTrigger
                      status: Enabled
                    sourceTriggers:
                      - name: mySourceTrigger
                        sourceRepository:
                          branch: master
                          repositoryUrl: https://github.com/Azure/azure-rest-api-specs
                          sourceControlType: Github
                        sourceTriggerEvents:
                          - commit
                        status: Enabled
                    timerTriggers:
                      - name: myTimerTrigger
                        schedule: 30 9 * * 1-5
                        status: Enabled
                tags:
                  testkey: value
                type: Microsoft.ContainerRegistry/registries/tasks
            "201":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/tasks/myTask
                identity:
                  principalId: fa153151-b9fd-46f4-9088-5e6600f2689v
                  tenantId: f686d426-8d16-42db-81b7-abu4gm510ccd
                  type: SystemAssigned
                location: eastus
                name: myTask
                properties:
                  agentConfiguration:
                    cpu: 3
                  creationDate: 2018-01-25T06:54:23.536Z
                  credentials:
                    customRegistries:
                      myregistry.azure.io: null
                    sourceRegistry: null
                  platform:
                    architecture: amd64
                    os: Linux
                  provisioningState: Succeeded
                  status: Enabled
                  step:
                    arguments:
                      - isSecret: false
                        name: mytestargument
                        value: mytestvalue
                    contextPath: src
                    dockerFilePath: src/DockerFile
                    imageNames:
                      - azurerest:testtag1
                    isPushEnabled: true
                    noCache: false
                    type: Docker
                  trigger:
                    baseImageTrigger:
                      baseImageTriggerType: Runtime
                      name: myBaseImageTrigger
                      status: Enabled
                    sourceTriggers:
                      - name: mySourceTrigger
                        sourceRepository:
                          branch: master
                          repositoryUrl: https://github.com/Azure/azure-rest-api-specs
                          sourceControlType: Github
                        sourceTriggerEvents:
                          - commit
                        status: Enabled
                    timerTriggers:
                      - name: myTimerTrigger
                        schedule: 30 9 * * 1-5
                        status: Enabled
                tags:
                  testkey: value
                type: Microsoft.ContainerRegistry/registries/tasks
      x-ms-long-running-operation: true
    put:
      description: Creates a task for a container registry with the specified parameters.
      operationId: Tasks_Create
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/RegistryNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/TaskNameParameter"
        - description: The parameters for creating a task.
          in: body
          name: taskCreateParameters
          required: true
          schema:
            $ref: "#/definitions/Task"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/Task"
        "201":
          description: The request was successfully accepted; the operation will complete asynchronously. The provisioning state of the resource should indicate the current state of the resource.
          schema:
            $ref: "#/definitions/Task"
        default:
          description: Error response describing why the operation failed. If the registry doesn't exist, 404 (Not found) is returned. If any of the input parameters is wrong, 400(Bad Request) is returned.
      tags:
        - Tasks
      x-ms-examples:
        Tasks_Create:
          parameters:
            api-version: 2019-04-01
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
            taskCreateParameters:
              identity:
                type: SystemAssigned
              location: eastus
              properties:
                agentConfiguration:
                  cpu: 2
                platform:
                  architecture: amd64
                  os: Linux
                status: Enabled
                step:
                  arguments:
                    - isSecret: false
                      name: mytestargument
                      value: mytestvalue
                    - isSecret: true
                      name: mysecrettestargument
                      value: mysecrettestvalue
                  contextPath: src
                  dockerFilePath: src/DockerFile
                  imageNames:
                    - azurerest:testtag
                  isPushEnabled: true
                  noCache: false
                trigger:
                  baseImageTrigger:
                    baseImageTriggerType: Runtime
                    name: myBaseImageTrigger
                  sourceTriggers:
                    - name: mySourceTrigger
                      sourceRepository:
                        branch: master
                        repositoryUrl: https://github.com/Azure/azure-rest-api-specs
                        sourceControlAuthProperties:
                          token: xxxxx
                          tokenType: PAT
                        sourceControlType: Github
                      sourceTriggerEvents:
                        - commit
                  timerTriggers:
                    - name: myTimerTrigger
                      schedule: 30 9 * * 1-5
              tags:
                testkey: value
            taskName: mytTask
          responses:
            "200":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/tasks/myTask
                identity:
                  principalId: fa153151-b9fd-46f4-9088-5e6600f2689v
                  tenantId: f686d426-8d16-42db-81b7-abu4gm510ccd
                  type: SystemAssigned
                location: eastus
                name: myTask
                properties:
                  agentConfiguration:
                    cpu: 2
                  creationDate: 2018-01-25T06:54:23.536Z
                  platform:
                    architecture: amd64
                    os: Linux
                  provisioningState: Succeeded
                  status: Enabled
                  step:
                    arguments:
                      - isSecret: false
                        name: mytestargument
                        value: mytestvalue
                    contextPath: src
                    dockerFilePath: src/DockerFile
                    imageNames:
                      - azurerest:testtag
                    isPushEnabled: true
                    noCache: false
                    type: Docker
                  trigger:
                    baseImageTrigger:
                      baseImageTriggerType: Runtime
                      name: myBaseImageTrigger
                      status: Enabled
                    sourceTriggers:
                      - name: mySourceTrigger
                        sourceRepository:
                          branch: master
                          repositoryUrl: https://github.com/Azure/azure-rest-api-specs
                          sourceControlType: Github
                        sourceTriggerEvents:
                          - commit
                        status: Enabled
                    timerTriggers:
                      - name: myTimerTrigger
                        schedule: 30 9 * * 1-5
                        status: Enabled
                tags:
                  testkey: value
                type: Microsoft.ContainerRegistry/registries/tasks
            "201":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/tasks/myTask
                identity:
                  principalId: fa153151-b9fd-46f4-9088-5e6600f2689v
                  tenantId: f686d426-8d16-42db-81b7-abu4gm510ccd
                  type: SystemAssigned
                location: eastus
                name: myTask
                properties:
                  agentConfiguration:
                    cpu: 2
                  creationDate: 2018-01-25T06:54:23.536Z
                  platform:
                    architecture: amd64
                    os: Linux
                  provisioningState: Creating
                  status: Enabled
                  step:
                    arguments:
                      - isSecret: false
                        name: mytestargument
                        value: mytestvalue
                    contextPath: src
                    dockerFilePath: src/DockerFile
                    imageNames:
                      - azurerest:testtag
                    isPushEnabled: true
                    noCache: false
                    type: Docker
                  trigger:
                    baseImageTrigger:
                      baseImageTriggerType: Runtime
                      name: myBaseImageTrigger
                      status: Enabled
                    sourceTriggers:
                      - name: mySourceTrigger
                        sourceRepository:
                          branch: master
                          repositoryUrl: https://github.com/Azure/azure-rest-api-specs
                          sourceControlType: Github
                        sourceTriggerEvents:
                          - commit
                        status: Enabled
                    timerTriggers:
                      - name: myTimerTrigger
                        schedule: 30 9 * * 1-5
                        status: Enabled
                tags:
                  testkey: value
                type: Microsoft.ContainerRegistry/registries/tasks
        Tasks_Create_WithSystemAndUserIdentities:
          parameters:
            api-version: 2019-04-01
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
            taskCreateParameters:
              identity:
                type: SystemAssigned, UserAssigned
                userAssignedIdentities:
                  /subscriptions/f9d7ebed-adbd-4cb4-b973-aaf82c136138/resourcegroups/myResourceGroup1/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity2: {}
              location: eastus
              properties:
                agentConfiguration:
                  cpu: 2
                platform:
                  architecture: amd64
                  os: Linux
                status: Enabled
                step:
                  arguments:
                    - isSecret: false
                      name: mytestargument
                      value: mytestvalue
                    - isSecret: true
                      name: mysecrettestargument
                      value: mysecrettestvalue
                  contextPath: src
                  dockerFilePath: src/DockerFile
                  imageNames:
                    - azurerest:testtag
                  isPushEnabled: true
                  noCache: false
                trigger:
                  baseImageTrigger:
                    baseImageTriggerType: Runtime
                    name: myBaseImageTrigger
                  sourceTriggers:
                    - name: mySourceTrigger
                      sourceRepository:
                        branch: master
                        repositoryUrl: https://github.com/Azure/azure-rest-api-specs
                        sourceControlAuthProperties:
                          token: xxxxx
                          tokenType: PAT
                        sourceControlType: Github
                      sourceTriggerEvents:
                        - commit
                  timerTriggers:
                    - name: myTimerTrigger
                      schedule: 30 9 * * 1-5
              tags:
                testkey: value
            taskName: mytTask
          responses:
            "200":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/tasks/myTask
                identity:
                  principalId: fc99dc67-1ad9-45c8-9ebc-e438081c8e30
                  tenantId: f686d426-8d16-42db-81b7-ab578e110ccd
                  type: SystemAssigned, UserAssigned
                  userAssignedIdentities:
                    /subscriptions/f9d7ebed-adbd-4cb4-b973-aaf82c136138/resourcegroups/myResourceGroup1/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity2:
                      clientId: e35621a5-f615-4a20-940e-de8a84b15abc
                      principalId: e45e3m7c-176e-416a-b466-0c5ec8298f8a
                location: eastus
                name: myTask
                properties:
                  agentConfiguration:
                    cpu: 2
                  creationDate: 2018-01-25T06:54:23.536Z
                  platform:
                    architecture: amd64
                    os: Linux
                  provisioningState: Succeeded
                  status: Enabled
                  step:
                    arguments:
                      - isSecret: false
                        name: mytestargument
                        value: mytestvalue
                    contextPath: src
                    dockerFilePath: src/DockerFile
                    imageNames:
                      - azurerest:testtag
                    isPushEnabled: true
                    noCache: false
                    type: Docker
                  trigger:
                    baseImageTrigger:
                      baseImageTriggerType: Runtime
                      name: myBaseImageTrigger
                      status: Enabled
                    sourceTriggers:
                      - name: mySourceTrigger
                        sourceRepository:
                          branch: master
                          repositoryUrl: https://github.com/Azure/azure-rest-api-specs
                          sourceControlType: Github
                        sourceTriggerEvents:
                          - commit
                        status: Enabled
                    timerTriggers:
                      - name: myTimerTrigger
                        schedule: 30 9 * * 1-5
                        status: Enabled
                tags:
                  testkey: value
                type: Microsoft.ContainerRegistry/registries/tasks
            "201":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/tasks/myTask
                identity:
                  principalId: fc99dc67-1ad9-45c8-9ebc-e438081c8e30
                  tenantId: f686d426-8d16-42db-81b7-ab578e110ccd
                  type: SystemAssigned, UserAssigned
                  userAssignedIdentities:
                    /subscriptions/f9d7ebed-adbd-4cb4-b973-aaf82c136138/resourcegroups/myResourceGroup1/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity2:
                      clientId: e35621a5-f615-4a20-940e-de8a84b15abc
                      principalId: e45e3m7c-176e-416a-b466-0c5ec8298f8a
                location: eastus
                name: myTask
                properties:
                  agentConfiguration:
                    cpu: 2
                  creationDate: 2018-01-25T06:54:23.536Z
                  platform:
                    architecture: amd64
                    os: Linux
                  provisioningState: Creating
                  status: Enabled
                  step:
                    arguments:
                      - isSecret: false
                        name: mytestargument
                        value: mytestvalue
                    contextPath: src
                    dockerFilePath: src/DockerFile
                    imageNames:
                      - azurerest:testtag
                    isPushEnabled: true
                    noCache: false
                    type: Docker
                  trigger:
                    baseImageTrigger:
                      baseImageTriggerType: Runtime
                      name: myBaseImageTrigger
                      status: Enabled
                    sourceTriggers:
                      - name: mySourceTrigger
                        sourceRepository:
                          branch: master
                          repositoryUrl: https://github.com/Azure/azure-rest-api-specs
                          sourceControlType: Github
                        sourceTriggerEvents:
                          - commit
                        status: Enabled
                    timerTriggers:
                      - name: myTimerTrigger
                        schedule: 30 9 * * 1-5
                        status: Enabled
                tags:
                  testkey: value
                type: Microsoft.ContainerRegistry/registries/tasks
        Tasks_Create_WithUserIdentities:
          parameters:
            api-version: 2019-04-01
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
            taskCreateParameters:
              identity:
                type: UserAssigned
                userAssignedIdentities:
                  /subscriptions/f9d7ebed-adbd-4cb4-b973-aaf82c136138/resourcegroups/myResourceGroup/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity1: {}
                  /subscriptions/f9d7ebed-adbd-4cb4-b973-aaf82c136138/resourcegroups/myResourceGroup1/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity2: {}
              location: eastus
              properties:
                agentConfiguration:
                  cpu: 2
                platform:
                  architecture: amd64
                  os: Linux
                status: Enabled
                step:
                  arguments:
                    - isSecret: false
                      name: mytestargument
                      value: mytestvalue
                    - isSecret: true
                      name: mysecrettestargument
                      value: mysecrettestvalue
                  contextPath: src
                  dockerFilePath: src/DockerFile
                  imageNames:
                    - azurerest:testtag
                  isPushEnabled: true
                  noCache: false
                trigger:
                  baseImageTrigger:
                    baseImageTriggerType: Runtime
                    name: myBaseImageTrigger
                  sourceTriggers:
                    - name: mySourceTrigger
                      sourceRepository:
                        branch: master
                        repositoryUrl: https://github.com/Azure/azure-rest-api-specs
                        sourceControlAuthProperties:
                          token: xxxxx
                          tokenType: PAT
                        sourceControlType: Github
                      sourceTriggerEvents:
                        - commit
                  timerTriggers:
                    - name: myTimerTrigger
                      schedule: 30 9 * * 1-5
              tags:
                testkey: value
            taskName: mytTask
          responses:
            "200":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/tasks/myTask
                identity:
                  type: UserAssigned
                  userAssignedIdentities:
                    /subscriptions/f9d7ebed-adbd-4cb4-b973-aaf82c136138/resourcegroups/myResourceGroup/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity1:
                      clientId: d3ce1bc2-f7d7-4a5b-9979-950f4e57680e
                      principalId: b6p9f58b-6fbf-4efd-a7e0-fvd46911a466
                    /subscriptions/f9d7ebed-adbd-4cb4-b973-aaf82c136138/resourcegroups/myResourceGroup1/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity2:
                      clientId: e35621a5-f615-4a20-940e-de8a84b15abc
                      principalId: e45e3m7c-176e-416a-b466-0c5ec8298f8a
                location: eastus
                name: myTask
                properties:
                  agentConfiguration:
                    cpu: 2
                  creationDate: 2018-01-25T06:54:23.536Z
                  platform:
                    architecture: amd64
                    os: Linux
                  provisioningState: Succeeded
                  status: Enabled
                  step:
                    arguments:
                      - isSecret: false
                        name: mytestargument
                        value: mytestvalue
                    contextPath: src
                    dockerFilePath: src/DockerFile
                    imageNames:
                      - azurerest:testtag
                    isPushEnabled: true
                    noCache: false
                    type: Docker
                  trigger:
                    baseImageTrigger:
                      baseImageTriggerType: Runtime
                      name: myBaseImageTrigger
                      status: Enabled
                    sourceTriggers:
                      - name: mySourceTrigger
                        sourceRepository:
                          branch: master
                          repositoryUrl: https://github.com/Azure/azure-rest-api-specs
                          sourceControlType: Github
                        sourceTriggerEvents:
                          - commit
                        status: Enabled
                    timerTriggers:
                      - name: myTimerTrigger
                        schedule: 30 9 * * 1-5
                        status: Enabled
                tags:
                  testkey: value
                type: Microsoft.ContainerRegistry/registries/tasks
            "201":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/tasks/myTask
                identity:
                  type: UserAssigned
                  userAssignedIdentities:
                    /subscriptions/f9d7ebed-adbd-4cb4-b973-aaf82c136138/resourcegroups/myResourceGroup/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity1:
                      clientId: d3ce1bc2-f7d7-4a5b-9979-950f4e57680e
                      principalId: b6p9f58b-6fbf-4efd-a7e0-fvd46911a466
                    /subscriptions/f9d7ebed-adbd-4cb4-b973-aaf82c136138/resourcegroups/myResourceGroup1/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity2:
                      clientId: e35621a5-f615-4a20-940e-de8a84b15abc
                      principalId: e45e3m7c-176e-416a-b466-0c5ec8298f8a
                location: eastus
                name: myTask
                properties:
                  agentConfiguration:
                    cpu: 2
                  creationDate: 2018-01-25T06:54:23.536Z
                  platform:
                    architecture: amd64
                    os: Linux
                  provisioningState: Creating
                  status: Enabled
                  step:
                    arguments:
                      - isSecret: false
                        name: mytestargument
                        value: mytestvalue
                    contextPath: src
                    dockerFilePath: src/DockerFile
                    imageNames:
                      - azurerest:testtag
                    isPushEnabled: true
                    noCache: false
                    type: Docker
                  trigger:
                    baseImageTrigger:
                      baseImageTriggerType: Runtime
                      name: myBaseImageTrigger
                      status: Enabled
                    sourceTriggers:
                      - name: mySourceTrigger
                        sourceRepository:
                          branch: master
                          repositoryUrl: https://github.com/Azure/azure-rest-api-specs
                          sourceControlType: Github
                        sourceTriggerEvents:
                          - commit
                        status: Enabled
                    timerTriggers:
                      - name: myTimerTrigger
                        schedule: 30 9 * * 1-5
                        status: Enabled
                tags:
                  testkey: value
                type: Microsoft.ContainerRegistry/registries/tasks
        Tasks_Create_WithUserIdentities_WithSystemIdentity:
          parameters:
            api-version: 2019-04-01
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
            taskCreateParameters:
              identity:
                type: SystemAssigned
              location: eastus
              properties:
                agentConfiguration:
                  cpu: 2
                platform:
                  architecture: amd64
                  os: Linux
                status: Enabled
                step:
                  arguments:
                    - isSecret: false
                      name: mytestargument
                      value: mytestvalue
                    - isSecret: true
                      name: mysecrettestargument
                      value: mysecrettestvalue
                  contextPath: src
                  dockerFilePath: src/DockerFile
                  imageNames:
                    - azurerest:testtag
                  isPushEnabled: true
                  noCache: false
                trigger:
                  baseImageTrigger:
                    baseImageTriggerType: Runtime
                    name: myBaseImageTrigger
                  sourceTriggers:
                    - name: mySourceTrigger
                      sourceRepository:
                        branch: master
                        repositoryUrl: https://github.com/Azure/azure-rest-api-specs
                        sourceControlAuthProperties:
                          token: xxxxx
                          tokenType: PAT
                        sourceControlType: Github
                      sourceTriggerEvents:
                        - commit
                  timerTriggers:
                    - name: myTimerTrigger
                      schedule: 30 9 * * 1-5
              tags:
                testkey: value
            taskName: mytTask
          responses:
            "200":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/tasks/myTask
                identity:
                  principalId: fa153151-b9fd-46f4-9088-5e6600f2689v
                  tenantId: f686d426-8d16-42db-81b7-abu4gm510ccd
                  type: SystemAssigned
                location: eastus
                name: myTask
                properties:
                  agentConfiguration:
                    cpu: 2
                  creationDate: 2018-01-25T06:54:23.536Z
                  platform:
                    architecture: amd64
                    os: Linux
                  provisioningState: Succeeded
                  status: Enabled
                  step:
                    arguments:
                      - isSecret: false
                        name: mytestargument
                        value: mytestvalue
                    contextPath: src
                    dockerFilePath: src/DockerFile
                    imageNames:
                      - azurerest:testtag
                    isPushEnabled: true
                    noCache: false
                    type: Docker
                  trigger:
                    baseImageTrigger:
                      baseImageTriggerType: Runtime
                      name: myBaseImageTrigger
                      status: Enabled
                    sourceTriggers:
                      - name: mySourceTrigger
                        sourceRepository:
                          branch: master
                          repositoryUrl: https://github.com/Azure/azure-rest-api-specs
                          sourceControlType: Github
                        sourceTriggerEvents:
                          - commit
                        status: Enabled
                    timerTriggers:
                      - name: myTimerTrigger
                        schedule: 30 9 * * 1-5
                        status: Enabled
                tags:
                  testkey: value
                type: Microsoft.ContainerRegistry/registries/tasks
            "201":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/tasks/myTask
                identity:
                  principalId: fa153151-b9fd-46f4-9088-5e6600f2689v
                  tenantId: f686d426-8d16-42db-81b7-abu4gm510ccd
                  type: SystemAssigned
                location: eastus
                name: myTask
                properties:
                  agentConfiguration:
                    cpu: 2
                  creationDate: 2018-01-25T06:54:23.536Z
                  platform:
                    architecture: amd64
                    os: Linux
                  provisioningState: Creating
                  status: Enabled
                  step:
                    arguments:
                      - isSecret: false
                        name: mytestargument
                        value: mytestvalue
                    contextPath: src
                    dockerFilePath: src/DockerFile
                    imageNames:
                      - azurerest:testtag
                    isPushEnabled: true
                    noCache: false
                    type: Docker
                  trigger:
                    baseImageTrigger:
                      baseImageTriggerType: Runtime
                      name: myBaseImageTrigger
                      status: Enabled
                    sourceTriggers:
                      - name: mySourceTrigger
                        sourceRepository:
                          branch: master
                          repositoryUrl: https://github.com/Azure/azure-rest-api-specs
                          sourceControlType: Github
                        sourceTriggerEvents:
                          - commit
                        status: Enabled
                    timerTriggers:
                      - name: myTimerTrigger
                        schedule: 30 9 * * 1-5
                        status: Enabled
                tags:
                  testkey: value
                type: Microsoft.ContainerRegistry/registries/tasks
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/tasks/{taskName}/listDetails":
    post:
      description: Returns a task with extended information that includes all secrets.
      operationId: Tasks_GetDetails
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/RegistryNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/TaskNameParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/Task"
        default:
          description: Error response describing why the operation failed. If the registry doesn't exist, 404 (Not found) is returned.
      tags:
        - Tasks
      x-ms-examples:
        Tasks_GetDetails:
          parameters:
            api-version: 2019-04-01
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
            taskName: myTask
          responses:
            "200":
              body:
                identity:
                  principalId: fa153151-b9fd-46f4-9088-5e6600f2689v
                  tenantId: f686d426-8d16-42db-81b7-abu4gm510ccd
                  type: SystemAssigned
                location: eastus
                properties:
                  agentConfiguration:
                    cpu: 2
                  credentials:
                    customRegistries:
                      myregistry.azure-test.io:
                        identity: "[system]"
                        password:
                          type: Vaultsecret
                          value: https://myacbvault.vault.azure.net/secrets/username
                        userName:
                          type: Opaque
                          value: username
                    sourceRegistry: null
                  platform:
                    architecture: amd64
                    os: Linux
                  status: Enabled
                  step:
                    arguments:
                      - isSecret: false
                        name: mytestargument
[...]
