{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.trapstreet.com"
    }
  ],
  "info": {
    "contact": {
      "name": "John Swanson"
    },
    "description": "The TrapStreet API finds trap streets in Google Maps, Bing Maps and OpenStreetMap data.",
    "title": "TrapStreet API",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "location"
    ],
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://gist.githubusercontent.com/MikeRalphson/e455f437f87a149ae0501d8cefe2ecab/raw/8f3608b72b0ab6eb6b0cea1c54ff9d84df7de05d/openapi.yaml",
        "version": "3.0"
      }
    ],
    "x-providerName": "trapstreet.com",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg"
    }
  },
  "paths": {
    "/{address}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "description": {
                      "type": "string"
                    },
                    "trap": {
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "description": "OK"
          }
        }
      }
    }
  }
}