swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Role based access control provides you a way to apply granular level policy administration down to individual resources or resource groups. These operations enable you to manage role definitions and role assignments. A role definition describes the set of actions that can be performed on resources. A role assignment grants access to Azure Active Directory users.
  title: AuthorizationManagementClient
  version: 2015-07-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/authorization/resource-manager/Microsoft.Authorization/stable/2015-07-01/authorization-ClassicAdminCalls.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: authorization-authorization-ClassicAdminCalls
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: The API version to use for this operation.
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: The ID of the target subscription.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/classicAdministrators":
    get:
      description: Gets service administrator, account administrator, and co-administrators for the subscription.
      operationId: ClassicAdministrators_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Returns an array of administrators.
          schema:
            $ref: "#/definitions/ClassicAdministratorListResult"
      tags:
        - ClassicAdministrators
      x-ms-examples:
        GetConfigurations:
          parameters:
            api-version: 2015-07-01
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subId/providers/Microsoft.Authorization/classicAdministrators/classicadminid
                    name: classicadminid
                    properties:
                      emailAddress: test@test.com
                      role: ServiceAdministrator;AccountAdministrator
                    type: Microsoft.Authorization/classicAdministrators
                  - id: /subscriptions/subId/providers/Microsoft.Authorization/classicAdministrators/classicadminid2
                    name: classicadminid2
                    properties:
                      emailAddress: coadmin@test.com
                      role: CoAdministrator
                    type: Microsoft.Authorization/classicAdministrators
      x-ms-pageable:
        nextLinkName: nextLink
definitions:
  ClassicAdministrator:
    description: Classic Administrators
    properties:
      id:
        description: The ID of the administrator.
        type: string
      name:
        description: The name of the administrator.
        type: string
      properties:
        $ref: "#/definitions/ClassicAdministratorProperties"
        description: Properties for the classic administrator.
        x-ms-client-flatten: true
      type:
        description: The type of the administrator.
        type: string
  ClassicAdministratorListResult:
    description: ClassicAdministrator list result information.
    properties:
      nextLink:
        description: The URL to use for getting the next set of results.
        type: string
      value:
        description: An array of administrators.
        items:
          $ref: "#/definitions/ClassicAdministrator"
        type: array
  ClassicAdministratorProperties:
    description: Classic Administrator properties.
    properties:
      emailAddress:
        description: The email address of the administrator.
        type: string
      role:
        description: The role of the administrator.
        type: string
