swagger: "2.0"
schemes:
  - https
host: api.mastercard.com
basePath: /plo/v1
info:
  description: This API provides content for financial instutions participating in Mastercard Personalized Offers to use in online and mobile banking applications for cardholders.
  title: Personalized Offers
  version: "1.3"
  x-artifactId: personalized-loyalty-offers
  x-origin:
    - format: swagger
      url: https://developer.mastercard.com/devzone/api/portal/swagger/personalized-offers
      version: "2.0"
  x-providerName: mastercard.com
  x-serviceName: PersonalizedLoyaltyOffers
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg
consumes:
  - application/x-www-form-urlencoded
produces:
  - application/json
paths:
  /activatestatementcreditoffer:
    post:
      description: |
        This resource is used to make a statement credit offer available for redemption.
      parameters:
        - description: Financial Institution Identifier. Code that specifies the platform and configuration instance, provided by Mastercard during implementation.
          in: query
          name: FId
          required: true
          type: string
          x-example: "999999"
        - description: Session identifier as returned by the UserToken resource.
          in: query
          name: UserToken
          required: true
          type: string
        - description: System-wide identifier for the campaign, not intended for end-user display.
          in: query
          name: OfferId
          required: true
          type: string
          x-example: c7dcfca7-cf35-36b0-9e67-d4f363d643e0
      responses:
        "200":
          description: This resource returns information about the activated offer.
          schema:
            $ref: "#/definitions/ActivateOfferResponse"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Make Statement Credit Offer Available Redeemable
      tags:
        - Activate Statement Credit Offer
      x-testable: false
  /matchedoffers:
    get:
      description: |
        This resource returns offers that are available to the user and conform to the search criteria (if specified).
      parameters:
        - description: Financial Institution Identifier. Code that specifies the platform and configuration instance, provided by Mastercard during implementation.
          in: query
          name: FId
          required: true
          type: string
          x-example: "999999"
        - description: Session identifier as returned by the UserToken resource.
          in: query
          name: UserToken
          required: true
          type: string
        - description: When utilized with a multi-lingual implementation, may be the tongue and country of the user in ISO 639-1, underscore, ISO 3166-1 alpha-2 format.
          in: query
          name: Lang
          required: false
          type: string
          x-example: en_US
        - description: Fuzzy term to search retailers with offers for the user. In general, searching of Matched Offers is not advised as users generally have a modest selection of highly relevant promotions.
          in: query
          name: MerchantName
          required: false
          type: string
          x-example: Example.com
        - description: Offer Categories.
          in: query
          name: Category
          required: false
          type: string
          x-example: DEPARTMENTSTORE
        - description: The kind of deal. POSTPAIDCREDIT- Statement Credit Offer, which is a discount that is automatically applied to the card linked to the user and utilized to make the purchase.
          in: query
          name: OfferType
          required: false
          type: string
          x-example: POSTPAIDCREDIT
        - description: Segment of offers to return.
          in: query
          name: PageNumber
          required: false
          type: integer
          x-example: 1
        - description: Segment size of offer to be returned. Default is 25.
          in: query
          name: ItemsPerPage
          required: false
          type: integer
          x-example: 1
      responses:
        "200":
          description: This resource returns offers that are available to the user and conform to the search criteria (if specified).
          schema:
            $ref: "#/definitions/MatchedOffersResponse"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Returns Matched Offers
      tags:
        - Matched Offers
      x-testable: false
  /offerdetails:
    get:
      description: |
        This resource returns extended information for the requested offer, typically used to display a detail view.
      parameters:
        - description: Financial Institution Identifier. Code that specifies the platform and configuration instance, provided by Mastercard during implementation.
          in: query
          name: FId
          required: true
          type: string
          x-example: "999999"
        - description: Session identifier as returned by the UserToken resource.
          in: query
          name: UserToken
          required: true
          type: string
          x-example: mh3WonUm5xmE
        - description: System-wide identifier for the campaign, not intended for end-user display.
          in: query
          name: OfferId
          required: true
          type: string
          x-example: c7dcfca7-cf35-36b0-9e67-d4f363d643e0
      responses:
        "200":
          description: This resource returns extended information for the requested offer, typically used to display a detail view.
          schema:
            $ref: "#/definitions/OfferDetailsResponse"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Returns Information on an Offer
      tags:
        - Offer Details
      x-testable: false
  /redeemedoffers:
    get:
      description: |
        This resource returns offers that have been fulfilled by the user.
      parameters:
        - description: Financial Institution Identifier. Code that specifies the platform and configuration instance, provided by Mastercard during implementation.
          in: query
          name: FId
          required: true
          type: string
          x-example: "999999"
        - description: Session identifier as returned by the UserToken resource.
          in: query
          name: UserToken
          required: true
          type: string
        - description: When utilized with a multi-lingual implementation, may be the tongue and country of the user in ISO 639-1, underscore, ISO 3166-1 alpha-2 format.
          in: query
          name: Lang
          required: false
          type: string
          x-example: en_US
        - description: Segment of offers to return.
          in: query
          name: PageNumber
          required: false
          type: integer
          x-example: 1
        - description: Segment size of offer to be returned. Default is 25.
          in: query
          name: ItemsPerPage
          required: false
          type: integer
          x-example: 1
      responses:
        "200":
          description: This resource returns offers that have been fulfilled by the user.
          schema:
            $ref: "#/definitions/RedeemedOffersResponse"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Returns Redeemed Offers
      tags:
        - Redeemed Offers
      x-testable: false
  /statementcreditactivationdetail:
    get:
      description: |
        This resource returns extended information about the specified activated postpaid credit offer.
      parameters:
        - description: Financial Institution Identifier. Code that specifies the platform and configuration instance, provided by Mastercard during implementation.
          in: query
          name: FId
          required: true
          type: string
          x-example: "999999"
        - description: Session identifier as returned by the UserToken resource.
          in: query
          name: UserToken
          required: true
          type: string
        - description: Distinct identifier for the offer being available for redemption by the user as returned by Activate Statement Credit Offer or Redeemed Offers, not intended for end-user display.
          in: query
          name: ActivationId
          required: true
          type: string
          x-example: TRU_1000136
      responses:
        "200":
          description: This resource returns extended information about the specified activated postpaid credit offer.
          schema:
            $ref: "#/definitions/StatementCreditActivationResponse"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Returns Information About Redeemable Postpaid Credit Offer
      tags:
        - Statement Credit Activation Detail
      x-testable: false
  /userfeedback:
    post:
      description: |
        This resource allows a user to provide a thumbs-up or a thumbs-down rating of the specified offer. Offer matches that are disliked will be supressed from the results of future calls to Matched Offers.
      parameters:
        - description: Financial Institution Identifier. Code that specifies the platform and configuration instance, provided by Mastercard during implementation.
          in: query
          name: FId
          required: true
          type: string
          x-example: "999999"
        - description: Session identifier as returned by the UserToken resource.
          in: query
          name: UserToken
          required: true
          type: string
        - description: System-wide identifier for the campaign, not intended for end-user display.
          in: query
          name: OfferId
          required: true
          type: string
          x-example: d82e1e7c-c6b9-3b46-acd0-5498731c2838
        - description: User response to the offer. 0- Dislike offer. 1- Like offer.
          in: query
          name: Feedback
          required: true
          type: integer
          x-example: 1
      responses:
        "200":
          description: This resource returns the user rating of the specified offer.
          schema:
            $ref: "#/definitions/UserFeedbackResponse"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Provide User Feedback on Offer
      tags:
        - User Feedback
      x-testable: false
  /usersavings:
    get:
      description: |
        This resource returns the accumulated and potential savings for a Personalized Offers user.
      parameters:
        - description: Financial Institution Identifier. Code that specifies the platform and configuration instance, provided by Mastercard during implementation.
          in: query
          name: FId
          required: true
          type: string
          x-example: "999999"
        - description: Session identifier as returned by the UserToken resource.
          in: query
          name: UserToken
          required: true
          type: string
      responses:
        "200":
          description: This resource returns the accumulated and potential savings for a Personalized Offers user.
          schema:
            $ref: "#/definitions/UserSavingsResponse"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Returns Savings for the User
      tags:
        - User Savings
      x-testable: false
  /usertoken:
    get:
      description: |
        This resource creates the user session. It must be called prior to any other API calls for the specified user. The Token value does not expire.
      parameters:
        - description: Financial Institution Identifier. Code that specifies the platform and configuration instance, provided by Mastercard during implementation.
          in: query
          name: FId
          required: true
          type: string
          x-example: "999999"
        - description: Authorization Information. AES 128-bit encrypted concatenation of "User ID as specified in enrollment:FI ID as provided by Mastercard:current Unix time". Key exchange and establishment of maintenance procedures occur during implementation.
          in: query
          name: AuthInfo
          required: true
          type: string
      responses:
        "200":
          description: This resource returns the user session token (UserToken), which is a required input to all other API resources.
          schema:
            $ref: "#/definitions/UserTokenResponse"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Returns User Session Token
      tags:
        - User Token
      x-testable: false
definitions:
  ActivateOfferResponse:
    properties:
      Response:
        $ref: "#/definitions/ActivateResponse"
  ActivateResponse:
    properties:
      ScActivation:
        $ref: "#/definitions/ScActivation"
      Status:
        $ref: "#/definitions/Status"
  ActivationResponse:
    properties:
      ScActivation:
        $ref: "#/definitions/ScActivation"
      Status:
        $ref: "#/definitions/Status"
  DetailPostpaidCreditOffer:
    properties:
      CashBack:
        description: Value of POSTPAIDCREDIT deal redemption.
        example: 10
        type: string
      CurrencyCode:
        description: ISO 4217 code in which the redeeming transaction must be made to qualify for the offer.
        example: USD
        type: string
      MaxCashback:
        description: The most cash back which a user can earn for the offer.
        example: 10
        type: string
      MinTransactionAmountToRedeem:
        description: The smallest purchase amount that will qualify for redemption.
        example: 30
        type: string
      StatementCreditType:
        description: Calculation kind of the redemption value. SPEND_CASH/VISIT_CASH- fixed value. SPEND_PERCENTAGE/VISIT_PERCENTAGE- share value.
        example: SPEND_CASH
        type: string
      VisitThreshold:
        description: The number of purchases required to qualify for redemption.
        example: 1
        type: string
  Error:
    properties:
      ReasonCode:
        description: This will identify the reason for the error.
        type: string
      Source:
        description: This is the unique identifier that attempts to define the field in error when available.  If a specific field can't be identified System will be returned.
        example: Atms.Atm.Location.Address.Line1
        type: string
  ErrorResponse:
    properties:
      Errors:
        $ref: "#/definitions/Errors"
  Errors:
    properties:
      Error:
        items:
          $ref: "#/definitions/Error"
        type: array
  FeedbackResponse:
    properties:
      Status:
        $ref: "#/definitions/Status"
      UserFeedback:
        $ref: "#/definitions/UserFeedback"
  Items:
    properties:
      MatchedOffer:
        $ref: "#/definitions/MatchedOffer"
  MatchedOffer:
    properties:
      ActiveSc:
        description: ACTIVATED_STATEMENT_CREDIT- ready for redemption by the user. AVAILABLE- requires call to Activate Statement Credit Offer to make ready for redemption.
        example: AVAILABLE
        type: string
      CurrencyCode:
        description: ISO 4217 code in which the redeeming transaction must be made to qualify for the offer.
        example: USD
        type: string
      Discount:
        description: The markdown represented by the offer, in absolute value or percentage.
        example: 20
        type: string
      DiscountType:
        description: The kind of markdown represented by the offer. ABSOLUTE- fixed amount. PERCENTAGE- share of purchase.
        example: 20
        type: string
      EventEndDate:
        description: Last day that redemption can be made.
        example: 2012-07-10
        format: date
        type: string
      EventStartDate:
        description: First day that redemption can be made by any user, may not apply to the specified user.
        example: 2012-05-10
        format: date
        type: string
      Headline:
        description: Brief details about the deal.
        example: Shop at Example.com and get 20% back on purchase of $25 or more
        type: string
      Language:
        description: Tongue of offer display text.
        example: English
        type: string
      Merchant:
        $ref: "#/definitions/Merchant"
      MerchantImageURL:
        description: Square picture of the retailer logo.
        example: https://truaxis.mastercard.com/assets/sr/source/billshrink/example.png
        type: string
      OfferId:
        description: System-wide identifier for the campaign, not intended for end-user display.
        example: c7dcfca7-cf35-36b0-9e67-d4f363d643e0
        type: string
      OfferSource:
        description: Platform that made the offer available, not intended for end-user display.
        example: Truaxis
        type: string
      OfferType:
        description: The kind of deal. POSTPAIDCREDIT- Statement Credit Offer, which is a discount that is automatically applied to the card linked to the user and utilized to make the purchase.
        example: POSTPAIDCREDIT
        type: string
      Price:
        description: Reserved for future use.
        example: 0
        type: string
      RedemptionMode:
        description: Type of credit made upon redemption of the offer- CASH, POINTS, or EITHER.
        example: CASH
        type: string
      ShortDescription:
        description: Summary of the deal, typically displayed beneath the headline in a list view.
        example: On your next purchase of $25 or more at Example.com online or at a store, receive 20% back posted to the card associated with this account.
        type: string
  MatchedOffersResponse:
    properties:
      Response:
        $ref: "#/definitions/MatchedResponse"
  MatchedResponse:
    properties:
      CurrentPage:
        description: Count of current offer return segment.
        example: 1
        type: integer
      Items:
        $ref: "#/definitions/Items"
      ItemsPerPage:
        description: Count of offers in the returned segment.
        example: 1
        type: integer
      NumberOfPages:
        description: Count of offer return segments.
        example: 1
        type: integer
      Status:
        $ref: "#/definitions/Status"
      TotalCount:
        description: Count of all offers available for criteria.
        example: 8
        type: integer
  Merchant:
    properties:
      Category:
        description: The type of retailer to which the offer applies.
        example: DEPARTMENTSTORE
        type: string
      MerchantDistance:
        description: Reserved for future use.
        example: 0
        type: string
      Name:
        description: Display name for the retailer to which the offer applies.
        example: Example.com
        type: string
      StoreLocatorUrl:
        description: Web page where retailer outlets can be found.
        example: http://www.example.com/locations/
        type: string
      WebsiteUrl:
        description: The internet address of the retailer.
        example: http://www.example.com/
        type: string
  OfferDetails:
    properties:
      CurrencyCode:
        description: ISO 4217 code in which the redeeming transaction must be made to qualify for the offer.
        example: USD
        type: string
      DetailPostpaidCreditOffer:
        $ref: "#/definitions/DetailPostpaidCreditOffer"
      EventEndDate:
        description: Last day that redemption can be made.
        example: 2012-07-10
        format: date
        type: string
      EventStartDate:
        description: First day that redemption can be made by any user, may not apply to the specified user.
        example: 2012-05-10
        format: date
        type: string
      Headline:
        description: Brief details about the deal.
        example: Shop at Example.com and get 20% back on purchase of $25 or more
        type: string
      Language:
        description: Tongue of offer display text.
        example: English
        type: string
      LinkOut:
        description: Deprecated.
      LongDescription:
        description: Explanation of the deal, typically displayed beneath the headline in a detail view. Often the same as the ShortDescription.
        example: On your next purchase of $30 or more at Example.com online or at a store, receive $10.00 back posted to the card associated with this account.
        type: string
      Merchant:
        $ref: "#/definitions/Merchant"
      OfferDisplay:
        $ref: "#/definitions/OfferDisplay"
      OfferId:
        description: System-wide identifier for the campaign, not intended for end-user display.
        example: c7dcfca7-cf35-36b0-9e67-d4f363d643e0
        type: string
      OfferMedia:
        $ref: "#/definitions/OfferMedia"
      OfferSource:
        description: Platform that made the offer available, not intended for end-user display.
        example: Truaxis
        type: string
      OfferType:
        description: The kind of deal. POSTPAIDCREDIT- Statement Credit Offer, which is a discount that is automatically applied to the card linked to the user and utilized to make the purchase.
        example: POSTPAIDCREDIT
        type: string
      OfferUrl:
        description: Deprecated.
      RedemptionMode:
        description: Type of credit made upon redemption of the offer- CASH, POINTS, or EITHER.
        example: CASH
        type: string
      RedemptionType:
        description: Where a purchase may be made to qualify for the offer- INSTORE, ONLINE, or ONLINE-INSTORE (either).
        example: ONLINE-INSTORE
        type: string
      ShortDescription:
        description: Summary of the deal, typically displayed beneath the headline in a list view.
        example: On your next purchase of $25 or more at Example.com online or at a store, receive 20% back posted to the card associated with this account.
        type: string
  OfferDetailsResponse:
    properties:
      Response:
        $ref: "#/definitions/OfferResponse"
  OfferDisplay:
    properties:
      DetailedTerms:
        description: Conditions required for successful redemption of the offer.
        example: Offer is non-transferable and applies to one purchase of a min. of $30 online or in store charged to your card by the expiration date.
        type: string
  OfferImages:
    properties:
      AltText:
        description: Description of a picture or graphic that may be displayed along with the offer information.
        example: Example.com
        type: string
      Description:
        description: Verbal details of the image, may be used for accessiblity.
        example: The logo for Example.com
        type: string
      ImageUrl:
        description: A picture or graphic that may be displayed along with the offer information.
        example: https://truaxis.mastercard.com/assets/sr/source/billshrink/example_medium.png
        type: string
  OfferMedia:
    properties:
      OfferImages:
        items:
          $ref: "#/definitions/OfferImages"
        type: array
  OfferResponse:
    properties:
      OfferDetails:
        $ref: "#/definitions/OfferDetails"
      Status:
        $ref: "#/definitions/Status"
  PrepaidOfferSavings:
    properties:
      AmountSaved:
        description: Deprecated.
        example: 0
        type: string
      NumAvailable:
        description: Deprecated.
        example: 0
        type: string
      NumPurchased:
        description: Deprecated.
        example: 0
        type: string
      PotentialSavings:
        description: Deprecated.
        example: 0
        type: string
  RedeemedOffersResponse:
    properties:
      Response:
        $ref: "#/definitions/ReedemedResponse"
  RedemedItems:
    properties:
      RedemedOffer:
        $ref: "#/definitions/RedemedOffer"
  RedemedOffer:
    properties:
      ActivationDate:
        description: Day on which the offer became ready for redemption.
        example: 2015-10-15
        format: date
        type: string
      ActivationId:
        description: Distinct identifier for the offer being available for redemption by the user, not intended for end-user display.
        example: TRU_1000136
        type: string
      CurrencyCode:
        description: ISO 4217 code in which the redeeming transaction must be made to qualify for the offer.
        example: USD
        type: string
      DetailPostpaidCreditOffer:
        $ref: "#/definitions/DetailPostpaidCreditOffer"
      EventEndDate:
        description: Last day that redemption can be made.
        example: 2012-07-10
        format: date
        type: string
      EventStartDate:
        description: First day that redemption can be made.
        example: 2012-05-10
        format: date
        type: string
      Headline:
        description: Brief details about the deal.
        example: Shop at Example.com and get 20% back on purchase of $25 or more
        type: string
      Language:
        description: Tongue of offer display text.
        example: English
        type: string
      LinkoutUrl:
        description: Deprecated, disregard.
        type: string
      LongDescription:
        description: Explanation of the deal, typically displayed beneath the headline in a detail view. Often the same as the ShortDescription.
        example: On your next purchase of $30 or more at Example.com online or at a store, receive $10.00 back posted to the card associated with this account.
        type: string
      MaxUserRedemptions:
        description: The number of times that the cardholder may take advantage of this offer.
        example: 1
        type: integer
      Merchant:
        $ref: "#/definitions/RedemedOfferMerchant"
      OfferDisplay:
        $ref: "#/definitions/OfferDisplay"
      OfferId:
        description: System-wide identifier for the campaign, not intended for end-user display.
        example: c7dcfca7-cf35-36b0-9e67-d4f363d643e0
        type: string
      OfferMedia:
        $ref: "#/definitions/OfferMedia"
      OfferSource:
        description: Platform that made the offer available, not intended for end-user display.
        example: Truaxis
        type: string
      OfferType:
        description: The kind of deal. POSTPAIDCREDIT- Statement Credit Offer, which is a discount that is automatically applied to the card linked to the user and utilized to make the purchase.
        example: POSTPAIDCREDIT
        type: string
      OfferUrl:
        description: Deprecated, disregard.
        type: string
      RedemptionMode:
        description: Type of credit made upon redemption of the offer- CASH, POINTS, or EITHER.
        example: CASH
        type: string
      RedemptionType:
        description: Where a purchase may be made to qualify for the offer- INSTORE, ONLINE, or ONLINE-INSTORE (either).
        example: ONLINE-INSTORE
        type: string
      ShortDescription:
        description: Summary of the deal, typically displayed beneath the headline in a list view.
        example: On your next purchase of $30 or more at Example.com inline or at a store, receive $10.00 back posted to the card associated with this account.
        type: string
      Transactions:
        $ref: "#/definitions/Transaction"
  RedemedOfferMerchant:
    properties:
      Category:
        description: The type of retailer to which the offer applies, not intended for end-user display.
        example: DEPARTMENTSTORE
        type: string
      MerchantDistance:
        description: Reserved for future use.
        example: 0
        type: number
      Name:
        description: Display name for the retailer to which the offer applies.
        example: Example.com
        type: string
      StoreLocatorUrl:
        description: Web page where retailer outlets can be found.
        example: http://www.example.com/locations/
        type: string
      WebsiteUrl:
        description: The internet address of the retailer.
        example: http://www.example.com/
        type: string
  ReedemedResponse:
    properties:
      CurrentPage:
        description: Count of current offer return segment.
        example: 1
        type: integer
      Items:
        $ref: "#/definitions/RedemedItems"
      ItemsPerPage:
        description: Count of offers in the returned segment.
        example: 1
        type: integer
      NumberOfPages:
        description: Count of offer return segments.
        example: 1
        type: integer
      Status:
        $ref: "#/definitions/Status"
      TotalCount:
        description: Count of all offers available for criteria.
        example: 8
        type: integer
  SavingsResponse:
    properties:
      Status:
        $ref: "#/definitions/Status"
      UserSavings:
        $ref: "#/definitions/UserSavings"
  ScActivation:
    properties:
      ActivationDate:
        description: Day on which the offer became ready for redemption.
        example: 2015-10-15
        format: date
        type: string
      ActivationId:
        description: Distinct identifier for the offer being available for redemption by the user, not intended for end-user display.
        example: TRU_1000136
        type: string
      CashBack:
        description: Value earned upon fulfillment of offer conditions, not applicable to points activations.
        example: 0
        type: string
      DaysRemaining:
        description: Number of days until the offer expires.
        example: 13
        type: string
      Headline:
        description: Brief details about the deal.
        example: Shop at Example.com and get $10.00 back on purchase of $30 or more
        type: string
      Merchant:
        description: Display name for the retailer to which the offer applies.
        example: Example.com
        type: string
      MerchantLogo:
        description: Square retailer brand image.
        example: https://truaxis.mastercard.com/assets/sr/source/billshrink/example.png
        type: string
      OfferId:
        description: System-wide identifier for the campaign, not intended for end-user display.
        example: c7dcfca7-cf35-36b0-9e67-d4f363d643e0
        type: string
      PointsEarned:
        description: Value earned upon fulfillment of offer conditions, not applicable to cash activations.
        example: 0
        type: string
      RedemptionEndDate:
        description: Last day on which a purchase will qualify for the offer.
        example: 2015-10-29
        format: date
        type: string
      RedemptionMode:
        description: Type of credit made upon redemption of the offer- CASH or POINTS.
        example: CASH
        type: string
      RemainingSpend:
        description: Purchase amount still required to redeem the offer.
        example: 30
        type: string
      ShortDescription:
        description: Summary of the deal, typically displayed beneath the headline in a list view.
        example: On your next purchase of $30 or more at Example.com inline or at a store, receive $10.00 back posted to the card associated with this account.
        type: string
      Status:
        description: Disposition of offer- ACTIVATED, REDEEMED, CREDIT_DECLINED.
        example: ACTIVATED
        type: string
      TotalSpend:
        description: Count of purchases user made to redeem the offer.
        example: 0
        type: string
  StatementCreditActivationResponse:
    properties:
      Response:
        $ref: "#/definitions/ActivationResponse"
  StatementCreditOffersSavings:
    properties:
      EarnedCashback:
        description: Value of postpaid credit deal redemptions.
        example: 21
        type: string
      NumAvailable:
        description: Count of postpaid credit deals that are ready for activation or redemption.
        example: 0
        type: string
      NumRedeemed:
        description: Count of postpaid credit deals redeemed.
        example: 1
        type: string
      PotentialSavings:
        description: Minimum value of unredeemed postpaid credit deals.
        example: 195
        type: string
  Status:
    properties:
      Code:
        description: Status Code
        example: 600
        type: string
      Message:
        description: Success or Failure
        example: Success
        type: string
  TokenResponse:
    properties:
      Status:
        $ref: "#/definitions/Status"
      UserToken:
        $ref: "#/definitions/UserToken"
  Transaction:
    properties:
      CashBackEarned:
        description: Value earned upon fulfillment of offer conditions, not applicable to points activations.
        example: 0
        type: string
      PointsEarned:
        description: Value earned upon fulfillment of offer conditions, not applicable to cash activations.
        example: 0
        type: string
      RedemptionDate:
        description: The day on which a purchase fulfilled the offer.
        example: 2015-10-12
        format: date
        type: string
      TransactionAmount:
        description: Value of the purchase that fulfilled the offer, decimal is implied.
        example: 12
        type: string
  UserFeedback:
    properties:
      Feedback:
        description: Response provided by the user.
        example: 1
        type: string
      OfferId:
        description: System-wide identifier for the campaign, not intended for end-user display.
        example: c7dcfca7-cf35-36b0-9e67-d4f363d643e0
        type: string
  UserFeedbackResponse:
    properties:
      Response:
        $ref: "#/definitions/FeedbackResponse"
  UserSavings:
    properties:
      PrepaidOfferSavings:
        $ref: "#/definitions/PrepaidOfferSavings"
      StatementCreditOffersSavings:
        $ref: "#/definitions/StatementCreditOffersSavings"
      TotalAmountSaved:
        description: Combined value of purchased and redeemed deals.
        example: 21
        type: string
      TotalOffersUsed:
        description: Combined count of purchased and redeemed deals.
        example: 1
        type: string
  UserSavingsResponse:
    properties:
      Response:
        $ref: "#/definitions/SavingsResponse"
  UserToken:
    properties:
      Token:
        description: Session identifier that is passed for subsequent API calls.
        example: mh3WonUm5xmE
        type: string
  UserTokenResponse:
    properties:
      Response:
        $ref: "#/definitions/TokenResponse"
