{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "info": {
    "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.",
    "title": "SqlManagementClient",
    "version": "2018-06-01-preview",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/capabilities.json",
        "version": "2.0"
      }
    ],
    "x-preferred": false,
    "x-providerName": "azure.com",
    "x-serviceName": "sql-capabilities",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "description": "The API version to use for the request.",
      "in": "query",
      "name": "api-version",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "client"
    },
    "BlobAuditingPolicyNameParameter": {
      "description": "The name of the blob auditing policy.",
      "enum": [
        "default"
      ],
      "in": "path",
      "name": "blobAuditingPolicyName",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "DatabaseNameParameter": {
      "description": "The name of the database.",
      "in": "path",
      "name": "databaseName",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ManagedInstanceNameParameter": {
      "description": "The name of the managed instance.",
      "in": "path",
      "name": "managedInstanceName",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupParameter": {
      "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
      "in": "path",
      "name": "resourceGroupName",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ServerNameParameter": {
      "description": "The name of the server.",
      "in": "path",
      "name": "serverName",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SqlVirtualMachineContainerNameParameter": {
      "description": "The name of the SqlVirtualMachineContainer.",
      "in": "path",
      "name": "sqlVirtualMachineContainerName",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SqlVirtualMachineInstanceNameParameter": {
      "description": "The name of the SqlVirtualMachineInstance.",
      "in": "path",
      "name": "sqlVirtualMachineInstanceName",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "description": "The subscription ID that identifies an Azure subscription.",
      "in": "path",
      "name": "subscriptionId",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "client"
    },
    "VirtualClusterNameParameter": {
      "description": "The name of the virtual cluster.",
      "in": "path",
      "name": "virtualClusterName",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Sql/locations/{locationName}/capabilities": {
      "get": {
        "description": "Gets the subscription capabilities available for the specified location.",
        "operationId": "Capabilities_ListByLocation",
        "parameters": [
          {
            "description": "The location name whose capabilities are retrieved.",
            "in": "path",
            "name": "locationName",
            "required": true,
            "type": "string"
          },
          {
            "description": "If specified, restricts the response to only include the selected item.",
            "enum": [
              "supportedEditions",
              "supportedElasticPoolEditions",
              "supportedManagedInstanceVersions",
              "supportedInstancePoolEditions",
              "supportedManagedInstanceEditions"
            ],
            "in": "query",
            "name": "include",
            "required": false,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "CapabilityGroup"
            }
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the subscription location capabilities.",
            "schema": {
              "$ref": "#/definitions/LocationCapabilities"
            }
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 400 InvalidLocation - An invalid location was specified.\n\n * 400 SubscriptionNotFound - The requested subscription was not found."
          }
        },
        "tags": [
          "LocationCapabilities"
        ],
        "x-ms-examples": {
          "List subscription capabilities in the given location.": {
            "parameters": {
              "api-version": "2018-06-01",
              "locationName": "eastus2euap",
              "subscriptionId": "00000000-1111-2222-3333-444444444444"
            },
            "responses": {
              "200": {
                "body": {
                  "name": "North Central US",
                  "status": "Available",
                  "supportedManagedInstanceVersions": [
                    {
                      "name": "12.0",
                      "status": "Default",
                      "supportedEditions": [
                        {
                          "name": "GeneralPurpose",
                          "status": "Default",
                          "supportedFamilies": [
                            {
                              "name": "Gen5",
                              "sku": "GP_Gen5",
                              "status": "Default",
                              "supportedLicenseTypes": [
                                {
                                  "name": "LicenseIncluded",
                                  "status": "Default"
                                },
                                {
                                  "name": "BasePrice",
                                  "status": "Available"
                                }
                              ],
                              "supportedVcoresValues": [
                                {
                                  "includedMaxSize": {
                                    "limit": 262144,
                                    "unit": "Megabytes"
                                  },
                                  "instancePoolSupported": true,
                                  "name": "2",
                                  "standaloneSupported": false,
                                  "status": "Available",
                                  "supportedStorageSizes": [
                                    {
                                      "maxValue": {
                                        "limit": 640,
                                        "unit": "Gigabytes"
                                      },
                                      "minValue": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "scaleSize": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "status": "Available"
                                    }
                                  ],
                                  "value": 2
                                },
                                {
                                  "includedMaxSize": {
                                    "limit": 262144,
                                    "unit": "Megabytes"
                                  },
                                  "instancePoolSupported": true,
                                  "name": "4",
                                  "standaloneSupported": true,
                                  "status": "Available",
                                  "supportedStorageSizes": [
                                    {
                                      "maxValue": {
                                        "limit": 2,
                                        "unit": "Terabytes"
                                      },
                                      "minValue": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "scaleSize": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "status": "Available"
                                    }
                                  ],
                                  "value": 4
                                },
                                {
                                  "includedMaxSize": {
                                    "limit": 262144,
                                    "unit": "Megabytes"
                                  },
                                  "instancePoolSupported": true,
                                  "name": "8",
                                  "standaloneSupported": true,
                                  "status": "Default",
                                  "supportedStorageSizes": [
                                    {
                                      "maxValue": {
                                        "limit": 8,
                                        "unit": "Terabytes"
                                      },
                                      "minValue": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "scaleSize": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "status": "Available"
                                    }
                                  ],
                                  "value": 8
                                },
                                {
                                  "includedMaxSize": {
                                    "limit": 262144,
                                    "unit": "Megabytes"
                                  },
                                  "instancePoolSupported": true,
                                  "name": "16",
                                  "standaloneSupported": true,
                                  "status": "Available",
                                  "supportedStorageSizes": [
                                    {
                                      "maxValue": {
                                        "limit": 8,
                                        "unit": "Terabytes"
                                      },
                                      "minValue": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "scaleSize": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "status": "Available"
                                    }
                                  ],
                                  "value": 16
                                },
                                {
                                  "includedMaxSize": {
                                    "limit": 262144,
                                    "unit": "Megabytes"
                                  },
                                  "instancePoolSupported": true,
                                  "name": "24",
                                  "standaloneSupported": true,
                                  "status": "Available",
                                  "supportedStorageSizes": [
                                    {
                                      "maxValue": {
                                        "limit": 8,
                                        "unit": "Terabytes"
                                      },
                                      "minValue": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "scaleSize": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "status": "Available"
                                    }
                                  ],
                                  "value": 24
                                },
                                {
                                  "includedMaxSize": {
                                    "limit": 262144,
                                    "unit": "Megabytes"
                                  },
                                  "instancePoolSupported": true,
                                  "name": "32",
                                  "standaloneSupported": true,
                                  "status": "Available",
                                  "supportedStorageSizes": [
                                    {
                                      "maxValue": {
                                        "limit": 8,
                                        "unit": "Terabytes"
                                      },
                                      "minValue": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "scaleSize": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "status": "Available"
                                    }
                                  ],
                                  "value": 32
                                },
                                {
                                  "includedMaxSize": {
                                    "limit": 262144,
                                    "unit": "Megabytes"
                                  },
                                  "instancePoolSupported": true,
                                  "name": "40",
                                  "standaloneSupported": true,
                                  "status": "Available",
                                  "supportedStorageSizes": [
                                    {
                                      "maxValue": {
                                        "limit": 8,
                                        "unit": "Terabytes"
                                      },
                                      "minValue": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "scaleSize": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "status": "Available"
                                    }
                                  ],
                                  "value": 40
                                },
                                {
                                  "includedMaxSize": {
                                    "limit": 262144,
                                    "unit": "Megabytes"
                                  },
                                  "instancePoolSupported": true,
                                  "name": "64",
                                  "standaloneSupported": true,
                                  "status": "Available",
                                  "supportedStorageSizes": [
                                    {
                                      "maxValue": {
                                        "limit": 8,
                                        "unit": "Terabytes"
                                      },
                                      "minValue": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "scaleSize": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "status": "Available"
                                    }
                                  ],
                                  "value": 64
                                },
                                {
                                  "includedMaxSize": {
                                    "limit": 262144,
                                    "unit": "Megabytes"
                                  },
                                  "instancePoolSupported": true,
                                  "name": "80",
                                  "standaloneSupported": true,
                                  "status": "Available",
                                  "supportedStorageSizes": [
                                    {
                                      "maxValue": {
                                        "limit": 8,
                                        "unit": "Terabytes"
                                      },
                                      "minValue": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "scaleSize": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "status": "Available"
                                    }
                                  ],
                                  "value": 80
                                }
                              ]
                            }
                          ]
                        },
                        {
                          "name": "BusinessCritical",
                          "status": "Available",
                          "supportedFamilies": [
                            {
                              "name": "Gen5",
                              "sku": "BC_Gen5",
                              "status": "Default",
                              "supportedLicenseTypes": [
                                {
                                  "name": "LicenseIncluded",
                                  "status": "Default"
                                },
                                {
                                  "name": "BasePrice",
                                  "status": "Available"
                                }
                              ],
                              "supportedVcoresValues": [
                                {
                                  "includedMaxSize": {
                                    "limit": 262144,
                                    "unit": "Megabytes"
                                  },
                                  "instancePoolSupported": true,
                                  "name": "4",
                                  "standaloneSupported": true,
                                  "status": "Available",
                                  "supportedStorageSizes": [
                                    {
                                      "maxValue": {
                                        "limit": 1,
                                        "unit": "Terabytes"
                                      },
                                      "minValue": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "scaleSize": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "status": "Available"
                                    }
                                  ],
                                  "value": 4
                                },
                                {
                                  "includedMaxSize": {
                                    "limit": 262144,
                                    "unit": "Megabytes"
                                  },
                                  "instancePoolSupported": true,
                                  "name": "8",
                                  "standaloneSupported": true,
                                  "status": "Default",
                                  "supportedStorageSizes": [
                                    {
                                      "maxValue": {
                                        "limit": 1,
                                        "unit": "Terabytes"
                                      },
                                      "minValue": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "scaleSize": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "status": "Available"
                                    }
                                  ],
                                  "value": 8
                                },
                                {
                                  "includedMaxSize": {
                                    "limit": 262144,
                                    "unit": "Megabytes"
                                  },
                                  "instancePoolSupported": true,
                                  "name": "16",
                                  "standaloneSupported": true,
                                  "status": "Available",
                                  "supportedStorageSizes": [
                                    {
                                      "maxValue": {
                                        "limit": 1,
                                        "unit": "Terabytes"
                                      },
                                      "minValue": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "scaleSize": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "status": "Available"
                                    }
                                  ],
                                  "value": 16
                                },
                                {
                                  "includedMaxSize": {
                                    "limit": 262144,
                                    "unit": "Megabytes"
                                  },
                                  "instancePoolSupported": true,
                                  "name": "24",
                                  "standaloneSupported": true,
                                  "status": "Available",
                                  "supportedStorageSizes": [
                                    {
                                      "maxValue": {
                                        "limit": 2,
                                        "unit": "Terabytes"
                                      },
                                      "minValue": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "scaleSize": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "status": "Available"
                                    }
                                  ],
                                  "value": 24
                                },
                                {
                                  "includedMaxSize": {
                                    "limit": 262144,
                                    "unit": "Megabytes"
                                  },
                                  "instancePoolSupported": true,
                                  "name": "32",
                                  "standaloneSupported": true,
                                  "status": "Available",
                                  "supportedStorageSizes": [
                                    {
                                      "maxValue": {
                                        "limit": 4,
                                        "unit": "Terabytes"
                                      },
                                      "minValue": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "scaleSize": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "status": "Available"
                                    }
                                  ],
                                  "value": 32
                                },
                                {
                                  "includedMaxSize": {
                                    "limit": 262144,
                                    "unit": "Megabytes"
                                  },
                                  "instancePoolSupported": true,
                                  "name": "40",
                                  "standaloneSupported": true,
                                  "status": "Available",
                                  "supportedStorageSizes": [
                                    {
                                      "maxValue": {
                                        "limit": 4,
                                        "unit": "Terabytes"
                                      },
                                      "minValue": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "scaleSize": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "status": "Available"
                                    }
                                  ],
                                  "value": 40
                                },
                                {
                                  "includedMaxSize": {
                                    "limit": 262144,
                                    "unit": "Megabytes"
                                  },
                                  "instancePoolSupported": true,
                                  "name": "64",
                                  "standaloneSupported": true,
                                  "status": "Available",
                                  "supportedStorageSizes": [
                                    {
                                      "maxValue": {
                                        "limit": 4,
                                        "unit": "Terabytes"
                                      },
                                      "minValue": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "scaleSize": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "status": "Available"
                                    }
                                  ],
                                  "value": 64
                                },
                                {
                                  "includedMaxSize": {
                                    "limit": 262144,
                                    "unit": "Megabytes"
                                  },
                                  "instancePoolSupported": true,
                                  "name": "80",
                                  "standaloneSupported": true,
                                  "status": "Available",
                                  "supportedStorageSizes": [
                                    {
                                      "maxValue": {
                                        "limit": 4,
                                        "unit": "Terabytes"
                                      },
                                      "minValue": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "scaleSize": {
                                        "limit": 32,
                                        "unit": "Gigabytes"
                                      },
                                      "status": "Available"
                                    }
                                  ],
                                  "value": 80
                                }
                              ]
                            }
                          ]
                        }
                      ],
                      "supportedInstancePoolEditions": [
                        {
                          "name": "GeneralPurpose",
                          "status": "Default",
                          "supportedFamilies": [
                            {
                              "name": "Gen5",
                              "status": "Default",
                              "supportedLicenseTypes": [
                                {
                                  "name": "LicenseIncluded",
                                  "status": "Default"
                                },
                                {
                                  "name": "BasePrice",
                                  "status": "Available"
                                }
                              ],
                              "supportedVcoresValues": [
                                {
                                  "name": "GP_Gen5_8",
                                  "status": "Default",
                                  "storageLimit": {
                                    "limit": 8388608,
                                    "unit": "Megabytes"
                                  },
                                  "value": 8
                                },
                                {
                                  "name": "GP_Gen5_16",
                                  "status": "Available",
                                  "storageLimit": {
                                    "limit": 8388608,
                                    "unit": "Megabytes"
                                  },
                                  "value": 16
                                },
                                {
                                  "name": "GP_Gen5_24",
                                  "status": "Available",
                                  "storageLimit": {
                                    "limit": 8388608,
                                    "unit": "Megabytes"
                                  },
                                  "value": 24
                                },
                                {
                                  "name": "GP_Gen5_32",
                                  "status": "Available",
                                  "storageLimit": {
                                    "limit": 8388608,
                                    "unit": "Megabytes"
                                  },
                                  "value": 32
                                },
                                {
                                  "name": "GP_Gen5_40",
                                  "status": "Available",
                                  "storageLimit": {
                                    "limit": 8388608,
                                    "unit": "Megabytes"
                                  },
                                  "value": 40
                                },
                                {
                                  "name": "GP_Gen5_64",
                                  "status": "Available",
                                  "storageLimit": {
                                    "limit": 8388608,
                                    "unit": "Megabytes"
                                  },
                                  "value": 64
                                },
                                {
                                  "name": "GP_Gen5_80",
                                  "status": "Available",
                                  "storageLimit": {
                                    "limit": 8388608,
                                    "unit": "Megabytes"
                                  },
                                  "value": 80
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  ],
                  "supportedServerVersions": [
                    {
                      "name": "12.0",
                      "status": "Default",
                      "supportedEditions": [
                        {
                          "name": "System",
                          "readScale": {
                            "maxNumberOfReplicas": 0
                          },
                          "reason": "'System' is not a valid database edition in this version of SQL Server.",
                          "status": "Visible",
                          "supportedServiceLevelObjectives": [
                            {
                              "id": "26e021db-f1f9-4c98-84c6-92af8ef433d7",
                              "name": "System",
                              "performanceLevel": {
                                "unit": "DTU",
                                "value": 0
                              },
                              "reason": "'System' is not a valid database edition in this version of SQL Server.",
                              "sku": {
                                "capacity": 0,
                                "name": "System",
                                "tier": "System"
                              },
                              "status": "Visible",
                              "supportedLicenseTypes": [],
                              "supportedMaxSizes": [
                                {
                                  "maxValue": {
                                    "limit": 5,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 5,
                                    "unit": "Gigabytes"
                                  },
                                  "reason": "'System' is not a valid database edition in this version of SQL Server.",
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Visible"
                                },
                                {
                                  "maxValue": {
                                    "limit": 30,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 30,
                                    "unit": "Gigabytes"
                                  },
                                  "reason": "'System' is not a valid database edition in this version of SQL Server.",
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Visible"
                                }
                              ],
                              "zoneRedundant": false
                            },
                            {
                              "id": "29dd7459-4a7c-4e56-be22-f0adda49440d",
                              "name": "System0",
                              "performanceLevel": {
                                "unit": "DTU",
                                "value": 0
                              },
                              "reason": "'System' is not a valid database edition in this version of SQL Server.",
                              "sku": {
                                "capacity": 0,
                                "name": "System",
                                "tier": "System"
                              },
                              "status": "Visible",
                              "supportedLicenseTypes": [],
                              "supportedMaxSizes": [
                                {
                                  "maxValue": {
                                    "limit": 5,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 5,
                                    "unit": "Gigabytes"
                                  },
                                  "reason": "'System' is not a valid database edition in this version of SQL Server.",
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Visible"
                                },
                                {
                                  "maxValue": {
                                    "limit": 30,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 30,
                                    "unit": "Gigabytes"
                                  },
                                  "reason": "'System' is not a valid database edition in this version of SQL Server.",
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Visible"
                                }
                              ],
                              "zoneRedundant": false
                            },
                            {
                              "id": "c99ac918-dbea-463f-a475-16ec020fdc12",
                              "name": "System1",
                              "performanceLevel": {
                                "unit": "DTU",
                                "value": 0
                              },
                              "reason": "'System' is not a valid database edition in this version of SQL Server.",
                              "sku": {
                                "capacity": 0,
                                "name": "System",
                                "tier": "System"
                              },
                              "status": "Visible",
                              "supportedLicenseTypes": [],
                              "supportedMaxSizes": [
                                {
                                  "maxValue": {
                                    "limit": 5,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 5,
                                    "unit": "Gigabytes"
                                  },
                                  "reason": "'System' is not a valid database edition in this version of SQL Server.",
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Visible"
                                },
                                {
                                  "maxValue": {
                                    "limit": 30,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 30,
                                    "unit": "Gigabytes"
                                  },
                                  "reason": "'System' is not a valid database edition in this version of SQL Server.",
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Visible"
                                }
                              ],
                              "zoneRedundant": false
                            },
                            {
                              "id": "620323bf-2879-4807-b30d-c2e6d7b3b3aa",
                              "name": "System2",
                              "performanceLevel": {
                                "unit": "DTU",
                                "value": 0
                              },
                              "reason": "'System' is not a valid database edition in this version of SQL Server.",
                              "sku": {
                                "capacity": 0,
                                "name": "System",
                                "tier": "System"
                              },
                              "status": "Visible",
                              "supportedLicenseTypes": [],
                              "supportedMaxSizes": [
                                {
                                  "maxValue": {
                                    "limit": 5,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 5,
                                    "unit": "Gigabytes"
                                  },
                                  "reason": "'System' is not a valid database edition in this version of SQL Server.",
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Visible"
                                },
                                {
                                  "maxValue": {
                                    "limit": 30,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 30,
                                    "unit": "Gigabytes"
                                  },
                                  "reason": "'System' is not a valid database edition in this version of SQL Server.",
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Visible"
                                }
                              ],
                              "zoneRedundant": false
                            },
                            {
                              "id": "33d0db1f-6893-4210-99f9-463fb9b496a4",
                              "name": "System3",
                              "performanceLevel": {
                                "unit": "DTU",
                                "value": 0
                              },
                              "reason": "'System' is not a valid database edition in this version of SQL Server.",
                              "sku": {
                                "capacity": 0,
                                "name": "System",
                                "tier": "System"
                              },
                              "status": "Visible",
                              "supportedLicenseTypes": [],
                              "supportedMaxSizes": [
                                {
                                  "maxValue": {
                                    "limit": 5,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 5,
                                    "unit": "Gigabytes"
                                  },
                                  "reason": "'System' is not a valid database edition in this version of SQL Server.",
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Visible"
                                },
                                {
                                  "maxValue": {
                                    "limit": 30,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 30,
                                    "unit": "Gigabytes"
                                  },
                                  "reason": "'System' is not a valid database edition in this version of SQL Server.",
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Visible"
                                }
                              ],
                              "zoneRedundant": false
                            },
                            {
                              "id": "da24338c-a6c9-46c2-a4bf-4ac95b496ae4",
                              "name": "System4",
                              "performanceLevel": {
                                "unit": "DTU",
                                "value": 0
                              },
                              "reason": "'System' is not a valid database edition in this version of SQL Server.",
                              "sku": {
                                "capacity": 0,
                                "name": "System",
                                "tier": "System"
                              },
                              "status": "Visible",
                              "supportedLicenseTypes": [],
                              "supportedMaxSizes": [
                                {
                                  "maxValue": {
                                    "limit": 5,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 5,
                                    "unit": "Gigabytes"
                                  },
                                  "reason": "'System' is not a valid database edition in this version of SQL Server.",
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Visible"
                                },
                                {
                                  "maxValue": {
                                    "limit": 30,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 30,
                                    "unit": "Gigabytes"
                                  },
                                  "reason": "'System' is not a valid database edition in this version of SQL Server.",
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Visible"
                                }
                              ],
                              "zoneRedundant": false
                            },
                            {
                              "id": "53f7fa1b-b0d0-43d6-bc29-c5f059fb36e9",
                              "name": "System2L",
                              "performanceLevel": {
                                "unit": "DTU",
                                "value": 0
                              },
                              "reason": "'System' is not a valid database edition in this version of SQL Server.",
                              "sku": {
                                "capacity": 0,
                                "name": "System",
                                "tier": "System"
                              },
                              "status": "Visible",
                              "supportedLicenseTypes": [],
                              "supportedMaxSizes": [
                                {
                                  "maxValue": {
                                    "limit": 5,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 5,
                                    "unit": "Gigabytes"
                                  },
                                  "reason": "'System' is not a valid database edition in this version of SQL Server.",
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Visible"
                                },
                                {
                                  "maxValue": {
                                    "limit": 30,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 30,
                                    "unit": "Gigabytes"
                                  },
                                  "reason": "'System' is not a valid database edition in this version of SQL Server.",
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Visible"
                                }
                              ],
                              "zoneRedundant": false
                            },
                            {
                              "id": "e79cd55c-689f-48d9-bffa-0dd12c772248",
                              "name": "System3L",
                              "performanceLevel": {
                                "unit": "DTU",
                                "value": 0
                              },
                              "reason": "'System' is not a valid database edition in this version of SQL Server.",
                              "sku": {
                                "capacity": 0,
                                "name": "System",
                                "tier": "System"
                              },
                              "status": "Visible",
                              "supportedLicenseTypes": [],
                              "supportedMaxSizes": [
                                {
                                  "maxValue": {
                                    "limit": 5,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 5,
                                    "unit": "Gigabytes"
                                  },
                                  "reason": "'System' is not a valid database edition in this version of SQL Server.",
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Visible"
                                },
                                {
                                  "maxValue": {
                                    "limit": 30,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 30,
                                    "unit": "Gigabytes"
                                  },
                                  "reason": "'System' is not a valid database edition in this version of SQL Server.",
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Visible"
                                }
                              ],
                              "zoneRedundant": false
                            },
                            {
                              "id": "4b37bb6d-e004-47ac-8f7a-be56ac9fb490",
                              "name": "System4L",
                              "performanceLevel": {
                                "unit": "DTU",
                                "value": 0
                              },
                              "reason": "'System' is not a valid database edition in this version of SQL Server.",
                              "sku": {
                                "capacity": 0,
                                "name": "System",
                                "tier": "System"
                              },
                              "status": "Visible",
                              "supportedLicenseTypes": [],
                              "supportedMaxSizes": [
                                {
                                  "maxValue": {
                                    "limit": 5,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 5,
                                    "unit": "Gigabytes"
                                  },
                                  "reason": "'System' is not a valid database edition in this version of SQL Server.",
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Visible"
                                },
                                {
                                  "maxValue": {
                                    "limit": 30,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 30,
                                    "unit": "Gigabytes"
                                  },
                                  "reason": "'System' is not a valid database edition in this version of SQL Server.",
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Visible"
                                }
                              ],
                              "zoneRedundant": false
                            }
                          ],
                          "supportedStorageCapabilities": [
                            {
                              "status": "Default",
                              "storageAccountType": "GRS"
                            },
                            {
                              "status": "Available",
                              "storageAccountType": "LRS"
                            },
                            {
                              "reason": "ZRS is available in multi-az regions",
                              "status": "Visible",
                              "storageAccountType": "ZRS"
                            }
                          ],
                          "zoneRedundant": false
                        },
                        {
                          "name": "Free",
                          "readScale": {
                            "maxNumberOfReplicas": 0
                          },
                          "status": "Available",
                          "supportedServiceLevelObjectives": [
                            {
                              "id": "6aa3bb3e-7f50-40d6-95ef-5497c30d99d8",
                              "includedMaxSize": {
                                "limit": 32,
                                "unit": "Megabytes"
                              },
                              "name": "Free",
                              "performanceLevel": {
                                "unit": "DTU",
                                "value": 5
                              },
                              "sku": {
                                "capacity": 5,
                                "name": "Free",
                                "tier": "Free"
                              },
                              "status": "Default",
                              "supportedLicenseTypes": [],
                              "supportedMaxSizes": [
                                {
                                  "maxValue": {
                                    "limit": 32,
                                    "unit": "Megabytes"
                                  },
                                  "minValue": {
                                    "limit": 32,
                                    "unit": "Megabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Megabytes"
                                  },
                                  "status": "Default"
                                }
                              ],
                              "zoneRedundant": false
                            }
                          ],
                          "supportedStorageCapabilities": [
                            {
                              "status": "Default",
                              "storageAccountType": "GRS"
                            },
                            {
                              "status": "Available",
                              "storageAccountType": "LRS"
                            },
                            {
                              "reason": "ZRS is available in multi-az regions",
                              "status": "Visible",
                              "storageAccountType": "ZRS"
                            }
                          ],
                          "zoneRedundant": false
                        },
                        {
                          "name": "Basic",
                          "readScale": {
                            "maxNumberOfReplicas": 0
                          },
                          "status": "Available",
                          "supportedServiceLevelObjectives": [
                            {
                              "id": "dd6d99bb-f193-4ec1-86f2-43d3bccbc49c",
                              "includedMaxSize": {
                                "limit": 2,
                                "unit": "Gigabytes"
                              },
                              "name": "Basic",
                              "performanceLevel": {
                                "unit": "DTU",
                                "value": 5
                              },
                              "sku": {
                                "capacity": 5,
                                "name": "Basic",
                                "tier": "Basic"
                              },
                              "status": "Default",
                              "supportedLicenseTypes": [],
                              "supportedMaxSizes": [
                                {
                                  "maxValue": {
                                    "limit": 100,
                                    "unit": "Megabytes"
                                  },
                                  "minValue": {
                                    "limit": 100,
                                    "unit": "Megabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Megabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 500,
                                    "unit": "Megabytes"
                                  },
                                  "minValue": {
                                    "limit": 500,
                                    "unit": "Megabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Megabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 1,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 1,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 2,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 2,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Default"
                                }
                              ],
                              "zoneRedundant": false
                            }
                          ],
                          "supportedStorageCapabilities": [
                            {
                              "status": "Default",
                              "storageAccountType": "GRS"
                            },
                            {
                              "status": "Available",
                              "storageAccountType": "LRS"
                            },
                            {
                              "reason": "ZRS is available in multi-az regions",
                              "status": "Visible",
                              "storageAccountType": "ZRS"
                            }
                          ],
                          "zoneRedundant": false
                        },
                        {
                          "name": "Standard",
                          "readScale": {
                            "maxNumberOfReplicas": 0
                          },
                          "status": "Available",
                          "supportedServiceLevelObjectives": [
                            {
                              "id": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                              "includedMaxSize": {
                                "limit": 250,
                                "unit": "Gigabytes"
                              },
                              "name": "S0",
                              "performanceLevel": {
                                "unit": "DTU",
                                "value": 10
                              },
                              "sku": {
                                "capacity": 10,
                                "name": "Standard",
                                "tier": "Standard"
                              },
                              "status": "Default",
                              "supportedLicenseTypes": [],
                              "supportedMaxSizes": [
                                {
                                  "maxValue": {
                                    "limit": 100,
                                    "unit": "Megabytes"
                                  },
                                  "minValue": {
                                    "limit": 100,
                                    "unit": "Megabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Megabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 500,
                                    "unit": "Megabytes"
                                  },
                                  "minValue": {
                                    "limit": 500,
                                    "unit": "Megabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Megabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 1,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 1,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 2,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 2,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 5,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 5,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 10,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 10,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 20,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 20,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 30,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 30,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 40,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 40,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 50,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 50,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 100,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 100,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 150,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 150,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 200,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 200,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 250,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 250,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Default"
                                }
                              ],
                              "zoneRedundant": false
                            },
                            {
                              "id": "1b1ebd4d-d903-4baa-97f9-4ea675f5e928",
                              "includedMaxSize": {
                                "limit": 250,
                                "unit": "Gigabytes"
                              },
                              "name": "S1",
                              "performanceLevel": {
                                "unit": "DTU",
                                "value": 20
                              },
                              "sku": {
                                "capacity": 20,
                                "name": "Standard",
                                "tier": "Standard"
                              },
                              "status": "Available",
                              "supportedLicenseTypes": [],
                              "supportedMaxSizes": [
                                {
                                  "maxValue": {
                                    "limit": 100,
                                    "unit": "Megabytes"
                                  },
                                  "minValue": {
                                    "limit": 100,
                                    "unit": "Megabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Megabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 500,
                                    "unit": "Megabytes"
                                  },
                                  "minValue": {
                                    "limit": 500,
                                    "unit": "Megabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Megabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 1,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 1,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 2,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 2,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 5,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 5,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 10,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 10,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 20,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 20,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 30,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 30,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 40,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 40,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 50,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 50,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 100,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 100,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 150,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 150,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 200,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 200,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 250,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 250,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Default"
                                }
                              ],
                              "zoneRedundant": false
                            },
                            {
                              "id": "455330e1-00cd-488b-b5fa-177c226f28b7",
                              "includedMaxSize": {
                                "limit": 250,
                                "unit": "Gigabytes"
                              },
                              "name": "S2",
                              "performanceLevel": {
                                "unit": "DTU",
                                "value": 50
                              },
                              "sku": {
                                "capacity": 50,
                                "name": "Standard",
                                "tier": "Standard"
                              },
                              "status": "Available",
                              "supportedLicenseTypes": [],
                              "supportedMaxSizes": [
                                {
                                  "maxValue": {
                                    "limit": 100,
                                    "unit": "Megabytes"
                                  },
                                  "minValue": {
                                    "limit": 100,
                                    "unit": "Megabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Megabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 500,
                                    "unit": "Megabytes"
                                  },
                                  "minValue": {
                                    "limit": 500,
                                    "unit": "Megabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Megabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 1,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 1,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 2,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 2,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 5,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 5,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 10,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 10,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 20,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 20,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 30,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 30,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 40,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 40,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 50,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 50,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 100,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 100,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 150,
                                    "unit": "Gigabytes"
                                  },
                                  "minValue": {
                                    "limit": 150,
                                    "unit": "Gigabytes"
                                  },
                                  "scaleSize": {
                                    "limit": 0,
                                    "unit": "Gigabytes"
                                  },
                                  "status": "Available"
                                },
                                {
                                  "maxValue": {
                                    "limit": 200,
                                    "unit": "Gigabytes"
                                  },
[...]
