swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2018-10-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/vmssNetworkInterface.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: network-vmssNetworkInterface
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/networkInterfaces":
    get:
      description: Gets all network interfaces in a virtual machine scale set.
      operationId: NetworkInterfaces_ListVirtualMachineScaleSetNetworkInterfaces
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: virtualMachineScaleSetName
          required: true
          type: string
        - description: Client API version.
          enum:
            - 2017-03-30
          in: query
          name: api-version
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ApiVersion
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns a list of NetworkInterface resources.
          schema:
            description: Response for the ListNetworkInterface API service call.
            properties:
              nextLink:
                description: The URL to get the next set of results.
                readOnly: true
                type: string
              value:
                description: A list of network interfaces in a resource group.
                items:
                  allOf:
                    - description: Common resource representation.
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                        location:
                          description: Resource location.
                          type: string
                        name:
                          description: Resource name.
                          readOnly: true
                          type: string
                        tags:
                          additionalProperties:
                            type: string
                          description: Resource tags.
                          type: object
                        type:
                          description: Resource type.
                          readOnly: true
                          type: string
                      x-ms-azure-resource: true
                  description: A network interface in a resource group.
                  properties:
                    etag:
                      description: A unique read-only string that changes whenever the resource is updated.
                      type: string
                    properties:
                      $ref: "#/definitions/NetworkInterfacePropertiesFormat"
                      description: Properties of the network interface.
                      x-ms-client-flatten: true
                type: array
      tags:
        - NetworkInterfaces
      x-ms-examples:
        List virtual machine scale set network interfaces:
          parameters:
            api-version: 2018-10-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualMachineScaleSetName: vmss1
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/nic1
                    name: nic1
                    properties:
                      dnsSettings:
                        appliedDnsServers: []
                        dnsServers: []
                        internalDomainNameSuffix: ruw4wz3grewudjsyzrxj44pxod.cdmx.internal.cloudapp.net
                      enableAcceleratedNetworking: false
                      enableIPForwarding: false
                      ipConfigurations:
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/nic1/ipConfigurations/ip1
                          name: ip1
                          properties:
                            loadBalancerBackendAddressPools:
                              - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/addressPool1
                            loadBalancerInboundNatRules:
                              - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb1/inboundNatRules/natPool1.0
                            primary: true
                            privateIPAddress: 10.0.0.4
                            privateIPAddressVersion: IPv4
                            privateIPAllocationMethod: Dynamic
                            provisioningState: Succeeded
                            publicIPAddress:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0/networkInterfaces/nic1/ipConfigurations/ip1/publicIPAddresses/pub1
                            subnet:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
                      macAddress: 00-00-00-00-00-00
                      networkSecurityGroup:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1
                      primary: true
                      provisioningState: Succeeded
                      virtualMachine:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/0
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1
                    name: nic1
                    properties:
                      dnsSettings:
                        appliedDnsServers: []
                        dnsServers: []
                        internalDomainNameSuffix: ruw4wz3grewudjsyzrxj44pxod.cdmx.internal.cloudapp.net
                      enableAcceleratedNetworking: false
                      enableIPForwarding: false
                      ipConfigurations:
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1/ipConfigurations/ip1
                          name: ip1
                          properties:
                            loadBalancerBackendAddressPools:
                              - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/addressPool1
                            loadBalancerInboundNatRules:
                              - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb1/inboundNatRules/natPool1.1
                            primary: true
                            privateIPAddress: 10.0.0.5
                            privateIPAddressVersion: IPv4
                            privateIPAllocationMethod: Dynamic
                            provisioningState: Succeeded
                            publicIPAddress:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1/ipConfigurations/ip1/publicIPAddresses/pub1
                            subnet:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
                      macAddress: 00-00-00-00-00-00
                      networkSecurityGroup:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1
                      primary: true
                      provisioningState: Succeeded
                      virtualMachine:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces":
    get:
      description: Gets information about all network interfaces in a virtual machine in a virtual machine scale set.
      operationId: NetworkInterfaces_ListVirtualMachineScaleSetVMNetworkInterfaces
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: virtualMachineScaleSetName
          required: true
          type: string
        - description: The virtual machine index.
          in: path
          name: virtualmachineIndex
          required: true
          type: string
        - description: Client API version.
          enum:
            - 2017-03-30
          in: query
          name: api-version
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ApiVersion
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns a list of NetworkInterface resources.
          schema:
            description: Response for the ListNetworkInterface API service call.
            properties:
              nextLink:
                description: The URL to get the next set of results.
                readOnly: true
                type: string
              value:
                description: A list of network interfaces in a resource group.
                items:
                  allOf:
                    - description: Common resource representation.
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                        location:
                          description: Resource location.
                          type: string
                        name:
                          description: Resource name.
                          readOnly: true
                          type: string
                        tags:
                          additionalProperties:
                            type: string
                          description: Resource tags.
                          type: object
                        type:
                          description: Resource type.
                          readOnly: true
                          type: string
                      x-ms-azure-resource: true
                  description: A network interface in a resource group.
                  properties:
                    etag:
                      description: A unique read-only string that changes whenever the resource is updated.
                      type: string
                    properties:
                      $ref: "#/definitions/NetworkInterfacePropertiesFormat"
                      description: Properties of the network interface.
                      x-ms-client-flatten: true
                type: array
      tags:
        - NetworkInterfaces
      x-ms-examples:
        List virtual machine scale set vm network interfaces:
          parameters:
            api-version: 2018-10-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualMachineScaleSetName: vmss1
            virtualmachineIndex: "1"
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1
                    name: nic1
                    properties:
                      dnsSettings:
                        appliedDnsServers: []
                        dnsServers: []
                        internalDomainNameSuffix: ruw4wz3grewudjsyzrxj44pxod.cdmx.internal.cloudapp.net
                      enableAcceleratedNetworking: false
                      enableIPForwarding: false
                      ipConfigurations:
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1/ipConfigurations/ip1
                          name: ip1
                          properties:
                            loadBalancerBackendAddressPools:
                              - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/addressPool1
                            loadBalancerInboundNatRules:
                              - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb1/inboundNatRules/natPool1.1
                            primary: true
                            privateIPAddress: 10.0.0.5
                            privateIPAddressVersion: IPv4
                            privateIPAllocationMethod: Dynamic
                            provisioningState: Succeeded
                            publicIPAddress:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1/ipConfigurations/ip1/publicIPAddresses/pub1
                            subnet:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
                      macAddress: 00-00-00-00-00-00
                      networkSecurityGroup:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1
                      primary: true
                      provisioningState: Succeeded
                      virtualMachine:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}":
    get:
      description: Get the specified network interface in a virtual machine scale set.
      operationId: NetworkInterfaces_GetVirtualMachineScaleSetNetworkInterface
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: virtualMachineScaleSetName
          required: true
          type: string
        - description: The virtual machine index.
          in: path
          name: virtualmachineIndex
          required: true
          type: string
        - description: The name of the network interface.
          in: path
          name: networkInterfaceName
          required: true
          type: string
        - description: Client API version.
          enum:
            - 2017-03-30
          in: query
          name: api-version
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ApiVersion
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Expands referenced resources.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        "200":
          description: Request successful. The operation returns the resulting NetworkInterface resource.
          schema:
            allOf:
              - description: Common resource representation.
                properties:
                  id:
                    description: Resource ID.
                    type: string
                  location:
                    description: Resource location.
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  tags:
                    additionalProperties:
                      type: string
                    description: Resource tags.
                    type: object
                  type:
                    description: Resource type.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: A network interface in a resource group.
            properties:
              etag:
                description: A unique read-only string that changes whenever the resource is updated.
                type: string
              properties:
                $ref: "#/definitions/NetworkInterfacePropertiesFormat"
                description: Properties of the network interface.
                x-ms-client-flatten: true
      tags:
        - NetworkInterfaces
      x-ms-examples:
        Get virtual machine scale set network interface:
          parameters:
            api-version: 2018-10-01
            networkInterfaceName: nic1
            resourceGroupName: rg1
            subscriptionId: subid
            virtualMachineScaleSetName: vmss1
            virtualmachineIndex: "1"
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1
                name: nic1
                properties:
                  dnsSettings:
                    appliedDnsServers: []
                    dnsServers: []
                    internalDomainNameSuffix: dns.cdmx.internal.cloudapp.net
                  enableAcceleratedNetworking: false
                  enableIPForwarding: false
                  ipConfigurations:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1/ipConfigurations/ip1
                      name: ip1
                      properties:
                        loadBalancerBackendAddressPools:
                          - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/addressPool1
                        loadBalancerInboundNatRules:
                          - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb1/inboundNatRules/natPool1.1
                        primary: true
                        privateIPAddress: 10.0.0.5
                        privateIPAddressVersion: IPv4
                        privateIPAllocationMethod: Dynamic
                        provisioningState: Succeeded
                        publicIPAddress:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1/ipConfigurations/ip1/publicIPAddresses/pub1
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
                  macAddress: 00-00-00-00-00-00
                  networkSecurityGroup:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1
                  primary: true
                  provisioningState: Succeeded
                  virtualMachine:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}/ipConfigurations":
    get:
      description: Get the specified network interface ip configuration in a virtual machine scale set.
      operationId: NetworkInterfaces_ListVirtualMachineScaleSetIpConfigurations
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: virtualMachineScaleSetName
          required: true
          type: string
        - description: The virtual machine index.
          in: path
          name: virtualmachineIndex
          required: true
          type: string
        - description: The name of the network interface.
          in: path
          name: networkInterfaceName
          required: true
          type: string
        - description: Client API version.
          enum:
            - 2017-03-30
          in: query
          name: api-version
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ApiVersion
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Expands referenced resources.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        "200":
          description: Request successful. The operation returns the list of resulting NetworkInterfaceIPConfigurations resources.
          schema:
            description: Response for list ip configurations API service call.
            properties:
              nextLink:
                description: The URL to get the next set of results.
                readOnly: true
                type: string
              value:
                description: A list of ip configurations.
                items:
                  allOf:
                    - description: Reference to another subresource.
                      properties:
                        id:
                          description: Resource ID.
                          type: string
                      x-ms-azure-resource: true
                  description: IPConfiguration in a network interface.
                  properties:
                    etag:
                      description: A unique read-only string that changes whenever the resource is updated.
                      type: string
                    name:
                      description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
                      type: string
                    properties:
                      $ref: "#/definitions/NetworkInterfaceIPConfigurationPropertiesFormat"
                      description: Network interface IP configuration properties.
                      x-ms-client-flatten: true
                type: array
      tags:
        - NetworkInterfaces
      x-ms-examples:
        List virtual machine scale set network interface ip configurations:
          parameters:
            api-version: 2018-10-01
            networkInterfaceName: nic1
            resourceGroupName: rg1
            subscriptionId: subid
            virtualMachineScaleSetName: vmss1
            virtualmachineIndex: "2"
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/2/networkInterfaces/nic1/ipConfigurations/ip1
                    name: ip1
                    properties:
                      loadBalancerBackendAddressPools:
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/addressPool1
                      loadBalancerInboundNatRules:
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb1/inboundNatRules/natPool1.2
                      primary: true
                      privateIPAddress: 10.0.0.6
                      privateIPAddressVersion: IPv4
                      privateIPAllocationMethod: Dynamic
                      provisioningState: Succeeded
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}/ipConfigurations/{ipConfigurationName}":
    get:
      description: Get the specified network interface ip configuration in a virtual machine scale set.
      operationId: NetworkInterfaces_GetVirtualMachineScaleSetIpConfiguration
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: virtualMachineScaleSetName
          required: true
          type: string
        - description: The virtual machine index.
          in: path
          name: virtualmachineIndex
          required: true
          type: string
        - description: The name of the network interface.
          in: path
          name: networkInterfaceName
          required: true
          type: string
        - description: The name of the ip configuration.
          in: path
          name: ipConfigurationName
          required: true
          type: string
        - description: Client API version.
          enum:
            - 2017-03-30
          in: query
          name: api-version
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ApiVersion
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Expands referenced resources.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        "200":
          description: Request successful. The operation returns the resulting NetworkInterfaceIPConfiguration resource.
          schema:
            allOf:
              - description: Reference to another subresource.
                properties:
                  id:
                    description: Resource ID.
                    type: string
                x-ms-azure-resource: true
            description: IPConfiguration in a network interface.
            properties:
              etag:
                description: A unique read-only string that changes whenever the resource is updated.
                type: string
              name:
                description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
                type: string
              properties:
                $ref: "#/definitions/NetworkInterfaceIPConfigurationPropertiesFormat"
                description: Network interface IP configuration properties.
                x-ms-client-flatten: true
      tags:
        - NetworkInterfaces
      x-ms-examples:
        Get virtual machine scale set network interface:
          parameters:
            api-version: 2018-10-01
            ipConfigurationName: ip1
            networkInterfaceName: nic1
            resourceGroupName: rg1
            subscriptionId: subid
            virtualMachineScaleSetName: vmss1
            virtualmachineIndex: "2"
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/2/networkInterfaces/nic1/ipConfigurations/ip1
                name: ip1
                properties:
                  loadBalancerBackendAddressPools:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb1/backendAddressPools/addressPool1
                  loadBalancerInboundNatRules:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb1/inboundNatRules/natPool1.2
                  primary: true
                  privateIPAddress: 10.0.0.6
                  privateIPAddressVersion: IPv4
                  privateIPAllocationMethod: Dynamic
                  provisioningState: Succeeded
                  subnet:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
definitions:
  NetworkInterfaceIPConfigurationPropertiesFormat: {}
  NetworkInterfacePropertiesFormat: {}
