swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.
  title: SqlManagementClient
  version: 2015-05-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/preview/2015-05-01-preview/syncAgents.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: sql-syncAgents
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
parameters:
  ApiVersionParameter:
    description: The API version to use for the request.
    in: query
    name: api-version
    required: true
    type: string
    x-ms-parameter-location: client
  DatabaseNameParameter:
    description: The name of the database.
    in: path
    name: databaseName
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceGroupParameter:
    description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  ServerNameParameter:
    description: The name of the server.
    in: path
    name: serverName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: The subscription ID that identifies an Azure subscription.
    in: path
    name: subscriptionId
    required: true
    type: string
    x-ms-parameter-location: client
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/syncAgents":
    get:
      description: Lists sync agents in a server.
      operationId: SyncAgents_ListByServer
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - description: The name of the server on which the sync agent is hosted.
          in: path
          name: serverName
          required: true
          type: string
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the list of sync agents.
          schema:
            $ref: "#/definitions/SyncAgentListResult"
        default:
          description: |-
            *** Error Responses: ***

             * 400 InvalidSyncGroupCreateOrUpdateRequest - The create or update sync group request body is empty.

             * 400 InvalidSyncMemberCreateOrUpdateRequest - The create or update sync member request body is empty.

             * 400 InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent request body is empty.

             * 400 InvalidDatabaseResourceId - Invalid database resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 InvalidSyncAgent - Sync agent is invalid.

             * 400 CannotDeleteInUseSyncAgent - Cannot delete sync agent because it is used by sync member.

             * 400 InvalidSyncMetadataDatabase - Sync metadata database is invalid.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.
      tags:
        - SyncAgents
      x-ms-examples:
        Get sync agents under a server:
          parameters:
            api-version: 2015-05-01-preview
            resourceGroupName: syncagentcrud-65440
            serverName: syncagentcrud-8475
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-Onebox/providers/Microsoft.Sql/servers/syncagentcrud-8475/syncAgents/syncagentcrud-3187
                    name: syncagent
                    properties:
                      expiryTime: 9999-12-31T23:59:59.9999999Z
                      isUpToDate: true
                      state: NeverConnected
                      syncDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-Onebox/providers/Microsoft.Sql/servers/syncagentcrud-8475/databases/sync
                      version: 4.2.0.0
                    type: Microsoft.Sql/servers/syncAgents
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/syncAgents/{syncAgentName}":
    delete:
      description: Deletes a sync agent.
      operationId: SyncAgents_Delete
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - description: The name of the server on which the sync agent is hosted.
          in: path
          name: serverName
          required: true
          type: string
        - description: The name of the sync agent.
          in: path
          name: syncAgentName
          required: true
          type: string
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully deleted the sync agent.
        "202":
          description: Deleting the sync agent is in progress.
        "204":
          description: The specified sync agent does not exist.
        default:
          description: |-
            *** Error Responses: ***

             * 400 InvalidSyncGroupCreateOrUpdateRequest - The create or update sync group request body is empty.

             * 400 InvalidSyncMemberCreateOrUpdateRequest - The create or update sync member request body is empty.

             * 400 InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent request body is empty.

             * 400 InvalidDatabaseResourceId - Invalid database resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 InvalidSyncAgent - Sync agent is invalid.

             * 400 CannotDeleteInUseSyncAgent - Cannot delete sync agent because it is used by sync member.

             * 400 InvalidSyncMetadataDatabase - Sync metadata database is invalid.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.
      tags:
        - SyncAgents
      x-ms-examples:
        Delete a sync agent:
          parameters:
            api-version: 2015-05-01-preview
            resourceGroupName: syncagentcrud-65440
            serverName: syncagentcrud-8475
            subscriptionId: 00000000-1111-2222-3333-444444444444
            syncAgentName: syncagentcrud-3187
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets a sync agent.
      operationId: SyncAgents_Get
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - description: The name of the server on which the sync agent is hosted.
          in: path
          name: serverName
          required: true
          type: string
        - description: The name of the sync agent.
          in: path
          name: syncAgentName
          required: true
          type: string
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the specified sync agent.
          schema:
            $ref: "#/definitions/SyncAgent"
        default:
          description: |-
            *** Error Responses: ***

             * 400 InvalidSyncGroupCreateOrUpdateRequest - The create or update sync group request body is empty.

             * 400 InvalidSyncMemberCreateOrUpdateRequest - The create or update sync member request body is empty.

             * 400 InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent request body is empty.

             * 400 InvalidDatabaseResourceId - Invalid database resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 InvalidSyncAgent - Sync agent is invalid.

             * 400 CannotDeleteInUseSyncAgent - Cannot delete sync agent because it is used by sync member.

             * 400 InvalidSyncMetadataDatabase - Sync metadata database is invalid.

             * 404 ResourceNotFound - The requested resource was not found.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.
      tags:
        - SyncAgents
      x-ms-examples:
        Get a sync agent:
          parameters:
            api-version: 2015-05-01-preview
            resourceGroupName: syncagentcrud-65440
            serverName: syncagentcrud-8475
            subscriptionId: 00000000-1111-2222-3333-444444444444
            syncAgentName: syncagentcrud-3187
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-Onebox/providers/Microsoft.Sql/servers/syncagentcrud-8475/syncAgents/syncagentcrud-3187
                name: syncagent
                properties:
                  expiryTime: 9999-12-31T23:59:59.9999999Z
                  isUpToDate: true
                  state: NeverConnected
                  syncDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-Onebox/providers/Microsoft.Sql/servers/syncagentcrud-8475/databases/sync
                  version: 4.2.0.0
                type: Microsoft.Sql/servers/syncAgents
    put:
      description: Creates or updates a sync agent.
      operationId: SyncAgents_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - description: The name of the server on which the sync agent is hosted.
          in: path
          name: serverName
          required: true
          type: string
        - description: The name of the sync agent.
          in: path
          name: syncAgentName
          required: true
          type: string
        - description: The requested sync agent resource state.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/SyncAgent"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully updated the sync agent.
          schema:
            $ref: "#/definitions/SyncAgent"
        "201":
          description: Successfully created the sync agent.
          schema:
            $ref: "#/definitions/SyncAgent"
        "202":
          description: Creating or updating the sync agent is in progress.
        default:
          description: |-
            *** Error Responses: ***

             * 400 InvalidSyncGroupCreateOrUpdateRequest - The create or update sync group request body is empty.

             * 400 InvalidSyncMemberCreateOrUpdateRequest - The create or update sync member request body is empty.

             * 400 InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent request body is empty.

             * 400 InvalidDatabaseResourceId - Invalid database resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 InvalidSyncAgent - Sync agent is invalid.

             * 400 CannotDeleteInUseSyncAgent - Cannot delete sync agent because it is used by sync member.

             * 400 InvalidSyncMetadataDatabase - Sync metadata database is invalid.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.
      tags:
        - SyncAgents
      x-ms-examples:
        Create a new sync agent:
          parameters:
            api-version: 2015-05-01-preview
            parameters:
              properties:
                syncDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-Onebox/providers/Microsoft.Sql/servers/syncagentcrud-8475/databases/sync
            resourceGroupName: syncagentcrud-65440
            serverName: syncagentcrud-8475
            subscriptionId: 00000000-1111-2222-3333-444444444444
            syncAgentName: syncagentcrud-3187
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-Onebox/providers/Microsoft.Sql/servers/syncagentcrud-8475/syncAgents/syncagentcrud-3187
                name: syncagent
                properties:
                  expiryTime: 9999-12-31T23:59:59.9999999Z
                  isUpToDate: true
                  state: NeverConnected
                  syncDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-Onebox/providers/Microsoft.Sql/servers/syncagentcrud-8475/databases/sync
                  version: 4.2.0.0
                type: Microsoft.Sql/servers/syncAgents
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-Onebox/providers/Microsoft.Sql/servers/syncagentcrud-8475/syncAgents/syncagentcrud-3187
                name: syncagent
                properties:
                  expiryTime: 9999-12-31T23:59:59.9999999Z
                  isUpToDate: true
                  state: NeverConnected
                  syncDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-Onebox/providers/Microsoft.Sql/servers/syncagentcrud-8475/databases/sync
                  version: 4.2.0.0
                type: Microsoft.Sql/servers/syncAgents
            "202": {}
        Update a sync agent:
          parameters:
            api-version: 2015-05-01-preview
            parameters:
              properties:
                syncDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-Onebox/providers/Microsoft.Sql/servers/syncagentcrud-8475/databases/sync
            resourceGroupName: syncagentcrud-65440
            serverName: syncagentcrud-8475
            subscriptionId: 00000000-1111-2222-3333-444444444444
            syncAgentName: syncagentcrud-3187
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-Onebox/providers/Microsoft.Sql/servers/syncagentcrud-8475/syncAgents/syncagentcrud-3187
                name: syncagent
                properties:
                  expiryTime: 9999-12-31T23:59:59.9999999Z
                  isUpToDate: true
                  state: NeverConnected
                  syncDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-Onebox/providers/Microsoft.Sql/servers/syncagentcrud-8475/databases/sync
                  version: 4.2.0.0
                type: Microsoft.Sql/servers/syncAgents
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-Onebox/providers/Microsoft.Sql/servers/syncagentcrud-8475/syncAgents/syncagentcrud-3187
                name: syncagent
                properties:
                  expiryTime: 9999-12-31T23:59:59.9999999Z
                  isUpToDate: true
                  state: NeverConnected
                  syncDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-Onebox/providers/Microsoft.Sql/servers/syncagentcrud-8475/databases/sync
                  version: 4.2.0.0
                type: Microsoft.Sql/servers/syncAgents
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/syncAgents/{syncAgentName}/generateKey":
    post:
      description: Generates a sync agent key.
      operationId: SyncAgents_GenerateKey
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - description: The name of the server on which the sync agent is hosted.
          in: path
          name: serverName
          required: true
          type: string
        - description: The name of the sync agent.
          in: path
          name: syncAgentName
          required: true
          type: string
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully generate a sync agent key.
          schema:
            $ref: "#/definitions/SyncAgentKeyProperties"
        default:
          description: |-
            *** Error Responses: ***

             * 400 InvalidSyncGroupCreateOrUpdateRequest - The create or update sync group request body is empty.

             * 400 InvalidSyncMemberCreateOrUpdateRequest - The create or update sync member request body is empty.

             * 400 InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent request body is empty.

             * 400 InvalidDatabaseResourceId - Invalid database resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 InvalidSyncAgent - Sync agent is invalid.

             * 400 CannotDeleteInUseSyncAgent - Cannot delete sync agent because it is used by sync member.

             * 400 InvalidSyncMetadataDatabase - Sync metadata database is invalid.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.
      tags:
        - SyncAgents
      x-ms-examples:
        Generate a sync agent key:
          parameters:
            api-version: 2015-05-01-preview
            resourceGroupName: syncagentcrud-65440
            serverName: syncagentcrud-8475
            subscriptionId: 00000000-1111-2222-3333-444444444444
            syncAgentName: syncagentcrud-3187
          responses:
            "200":
              body:
                syncAgentKey: 865f9998-6dae-4214-bbb1-4796b7c76ca0:0Axt2fR1GSYDQPcSbS72bYH9jzWus2Kbm1phxvCvwpH=:fU5mbtZLp387bUK8z4qOTUewbP7MuFUXoWr09xlbUCwguFCkjWWuXw6yoSCKxWRAKbB=
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/syncAgents/{syncAgentName}/linkedDatabases":
    get:
      description: Lists databases linked to a sync agent.
      operationId: SyncAgents_ListLinkedDatabases
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - description: The name of the server on which the sync agent is hosted.
          in: path
          name: serverName
          required: true
          type: string
        - description: The name of the sync agent.
          in: path
          name: syncAgentName
          required: true
          type: string
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved sync agent linked SQL server databases.
          schema:
            $ref: "#/definitions/SyncAgentLinkedDatabaseListResult"
        default:
          description: |-
            *** Error Responses: ***

             * 400 InvalidSyncGroupCreateOrUpdateRequest - The create or update sync group request body is empty.

             * 400 InvalidSyncMemberCreateOrUpdateRequest - The create or update sync member request body is empty.

             * 400 InvalidSyncAgentCreateOrUpdateRequest - The create or update sync agent request body is empty.

             * 400 InvalidDatabaseResourceId - Invalid database resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 InvalidSyncAgentResourceId - Invalid sync agent resource identifier.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 InvalidSyncAgent - Sync agent is invalid.

             * 400 CannotDeleteInUseSyncAgent - Cannot delete sync agent because it is used by sync member.

             * 400 InvalidSyncMetadataDatabase - Sync metadata database is invalid.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 DatabaseDoesNotExist - User has specified a database name that does not exist on this server instance.
      tags:
        - SyncAgents
      x-ms-examples:
        Get sync agent linked databases:
          parameters:
            api-version: 2015-05-01-preview
            resourceGroupName: syncagentcrud-65440
            serverName: syncagentcrud-8475
            subscriptionId: 00000000-1111-2222-3333-444444444444
            syncAgentName: syncagentcrud-3187
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default-SQL-Onebox/providers/Microsoft.Sql/servers/syncagentcrud-8475/syncAgents/syncagentcrud-3187/linkedDatabases/55555555-6666-7777-8888-999999999999
                    properties:
                      databaseId: 55555555-6666-7777-8888-999999999999
                      databaseName: DummySqlServerDb
                      databaseType: SqlServerDatabase
                      description: ""
                      serverName: DummySqlServer
                      userName: DummyUser
      x-ms-pageable:
        nextLinkName: nextLink
definitions:
  SyncAgent:
    allOf:
      - allOf:
          - description: ARM resource.
            properties:
              id:
                description: Resource ID.
                readOnly: true
                type: string
              name:
                description: Resource name.
                readOnly: true
                type: string
              type:
                description: Resource type.
                readOnly: true
                type: string
            type: object
            x-ms-azure-resource: true
        description: ARM proxy resource.
        properties: {}
        type: object
    description: An Azure SQL Database sync agent.
    properties:
      properties:
        $ref: "#/definitions/SyncAgentProperties"
        description: Resource properties.
        x-ms-client-flatten: true
    type: object
  SyncAgentKeyProperties:
    description: Properties of an Azure SQL Database sync agent key.
    properties:
      syncAgentKey:
        description: Key of sync agent.
        readOnly: true
        type: string
    type: object
  SyncAgentLinkedDatabase:
    allOf:
      - allOf:
          - description: ARM resource.
            properties:
              id:
                description: Resource ID.
                readOnly: true
                type: string
              name:
                description: Resource name.
                readOnly: true
                type: string
              type:
                description: Resource type.
                readOnly: true
                type: string
            type: object
            x-ms-azure-resource: true
        description: ARM proxy resource.
        properties: {}
        type: object
    description: An Azure SQL Database sync agent linked database.
    properties:
      properties:
        $ref: "#/definitions/SyncAgentLinkedDatabaseProperties"
        description: Resource properties.
        x-ms-client-flatten: true
    type: object
  SyncAgentLinkedDatabaseListResult:
    description: A list of sync agent linked databases.
    properties:
      nextLink:
        description: Link to retrieve next page of results.
        readOnly: true
        type: string
      value:
        description: Array of results.
        items:
          $ref: "#/definitions/SyncAgentLinkedDatabase"
        readOnly: true
        type: array
    type: object
  SyncAgentLinkedDatabaseProperties:
    description: Properties of an Azure SQL Database sync agent linked database.
    properties:
      databaseId:
        description: Id of the sync agent linked database.
        readOnly: true
        type: string
      databaseName:
        description: Database name of the sync agent linked database.
        readOnly: true
        type: string
      databaseType:
        description: Type of the sync agent linked database.
        enum:
          - AzureSqlDatabase
          - SqlServerDatabase
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: SyncMemberDbType
      description:
        description: Description of the sync agent linked database.
        readOnly: true
        type: string
      serverName:
        description: Server name of the sync agent linked database.
        readOnly: true
        type: string
      userName:
        description: User name of the sync agent linked database.
        readOnly: true
        type: string
    type: object
  SyncAgentListResult:
    description: A list of sync agents.
    properties:
      nextLink:
        description: Link to retrieve next page of results.
        readOnly: true
        type: string
      value:
        description: Array of results.
        items:
          $ref: "#/definitions/SyncAgent"
        readOnly: true
        type: array
    type: object
  SyncAgentProperties:
    description: Properties of an Azure SQL Database sync agent.
    properties:
      expiryTime:
        description: Expiration time of the sync agent version.
        format: date-time
        readOnly: true
        type: string
      isUpToDate:
        description: If the sync agent version is up to date.
        readOnly: true
        type: boolean
      lastAliveTime:
        description: Last alive time of the sync agent.
        format: date-time
        readOnly: true
        type: string
      name:
        description: Name of the sync agent.
        readOnly: true
        type: string
      state:
        description: State of the sync agent.
        enum:
          - Online
          - Offline
          - NeverConnected
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: SyncAgentState
      syncDatabaseId:
        description: ARM resource id of the sync database in the sync agent.
        type: string
      version:
        description: Version of the sync agent.
        readOnly: true
        type: string
    type: object
