swagger: "2.0"
schemes:
  - https
host: esi.evetech.net
basePath: /latest
info:
  description: An OpenAPI for EVE Online
  title: EVE Swagger Interface
  version: 0.8.6
  x-apisguru-categories:
    - media
  x-logo:
    backgroundColor: "#FFFFFF"
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_Evetech_profile_image.jpeg
  x-origin:
    - format: swagger
      url: https://esi.tech.ccp.is/latest/swagger.json
      version: "2.0"
  x-providerName: evetech.net
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  evesso:
    authorizationUrl: https://login.eveonline.com/v2/oauth/authorize
    flow: implicit
    scopes:
      esi-alliances.read_contacts.v1: EVE SSO scope esi-alliances.read_contacts.v1
      esi-assets.read_assets.v1: EVE SSO scope esi-assets.read_assets.v1
      esi-assets.read_corporation_assets.v1: EVE SSO scope esi-assets.read_corporation_assets.v1
      esi-bookmarks.read_character_bookmarks.v1: EVE SSO scope esi-bookmarks.read_character_bookmarks.v1
      esi-bookmarks.read_corporation_bookmarks.v1: EVE SSO scope esi-bookmarks.read_corporation_bookmarks.v1
      esi-calendar.read_calendar_events.v1: EVE SSO scope esi-calendar.read_calendar_events.v1
      esi-calendar.respond_calendar_events.v1: EVE SSO scope esi-calendar.respond_calendar_events.v1
      esi-characters.read_agents_research.v1: EVE SSO scope esi-characters.read_agents_research.v1
      esi-characters.read_blueprints.v1: EVE SSO scope esi-characters.read_blueprints.v1
      esi-characters.read_contacts.v1: EVE SSO scope esi-characters.read_contacts.v1
      esi-characters.read_corporation_roles.v1: EVE SSO scope esi-characters.read_corporation_roles.v1
      esi-characters.read_fatigue.v1: EVE SSO scope esi-characters.read_fatigue.v1
      esi-characters.read_fw_stats.v1: EVE SSO scope esi-characters.read_fw_stats.v1
      esi-characters.read_loyalty.v1: EVE SSO scope esi-characters.read_loyalty.v1
      esi-characters.read_medals.v1: EVE SSO scope esi-characters.read_medals.v1
      esi-characters.read_notifications.v1: EVE SSO scope esi-characters.read_notifications.v1
      esi-characters.read_opportunities.v1: EVE SSO scope esi-characters.read_opportunities.v1
      esi-characters.read_standings.v1: EVE SSO scope esi-characters.read_standings.v1
      esi-characters.read_titles.v1: EVE SSO scope esi-characters.read_titles.v1
      esi-characters.write_contacts.v1: EVE SSO scope esi-characters.write_contacts.v1
      esi-characterstats.read.v1: EVE SSO scope esi-characterstats.read.v1
      esi-clones.read_clones.v1: EVE SSO scope esi-clones.read_clones.v1
      esi-clones.read_implants.v1: EVE SSO scope esi-clones.read_implants.v1
      esi-contracts.read_character_contracts.v1: EVE SSO scope esi-contracts.read_character_contracts.v1
      esi-contracts.read_corporation_contracts.v1: EVE SSO scope esi-contracts.read_corporation_contracts.v1
      esi-corporations.read_blueprints.v1: EVE SSO scope esi-corporations.read_blueprints.v1
      esi-corporations.read_contacts.v1: EVE SSO scope esi-corporations.read_contacts.v1
      esi-corporations.read_container_logs.v1: EVE SSO scope esi-corporations.read_container_logs.v1
      esi-corporations.read_corporation_membership.v1: EVE SSO scope esi-corporations.read_corporation_membership.v1
      esi-corporations.read_divisions.v1: EVE SSO scope esi-corporations.read_divisions.v1
      esi-corporations.read_facilities.v1: EVE SSO scope esi-corporations.read_facilities.v1
      esi-corporations.read_fw_stats.v1: EVE SSO scope esi-corporations.read_fw_stats.v1
      esi-corporations.read_medals.v1: EVE SSO scope esi-corporations.read_medals.v1
      esi-corporations.read_standings.v1: EVE SSO scope esi-corporations.read_standings.v1
      esi-corporations.read_starbases.v1: EVE SSO scope esi-corporations.read_starbases.v1
      esi-corporations.read_structures.v1: EVE SSO scope esi-corporations.read_structures.v1
      esi-corporations.read_titles.v1: EVE SSO scope esi-corporations.read_titles.v1
      esi-corporations.track_members.v1: EVE SSO scope esi-corporations.track_members.v1
      esi-fittings.read_fittings.v1: EVE SSO scope esi-fittings.read_fittings.v1
      esi-fittings.write_fittings.v1: EVE SSO scope esi-fittings.write_fittings.v1
      esi-fleets.read_fleet.v1: EVE SSO scope esi-fleets.read_fleet.v1
      esi-fleets.write_fleet.v1: EVE SSO scope esi-fleets.write_fleet.v1
      esi-industry.read_character_jobs.v1: EVE SSO scope esi-industry.read_character_jobs.v1
      esi-industry.read_character_mining.v1: EVE SSO scope esi-industry.read_character_mining.v1
      esi-industry.read_corporation_jobs.v1: EVE SSO scope esi-industry.read_corporation_jobs.v1
      esi-industry.read_corporation_mining.v1: EVE SSO scope esi-industry.read_corporation_mining.v1
      esi-killmails.read_corporation_killmails.v1: EVE SSO scope esi-killmails.read_corporation_killmails.v1
      esi-killmails.read_killmails.v1: EVE SSO scope esi-killmails.read_killmails.v1
      esi-location.read_location.v1: EVE SSO scope esi-location.read_location.v1
      esi-location.read_online.v1: EVE SSO scope esi-location.read_online.v1
      esi-location.read_ship_type.v1: EVE SSO scope esi-location.read_ship_type.v1
      esi-mail.organize_mail.v1: EVE SSO scope esi-mail.organize_mail.v1
      esi-mail.read_mail.v1: EVE SSO scope esi-mail.read_mail.v1
      esi-mail.send_mail.v1: EVE SSO scope esi-mail.send_mail.v1
      esi-markets.read_character_orders.v1: EVE SSO scope esi-markets.read_character_orders.v1
      esi-markets.read_corporation_orders.v1: EVE SSO scope esi-markets.read_corporation_orders.v1
      esi-markets.structure_markets.v1: EVE SSO scope esi-markets.structure_markets.v1
      esi-planets.manage_planets.v1: EVE SSO scope esi-planets.manage_planets.v1
      esi-planets.read_customs_offices.v1: EVE SSO scope esi-planets.read_customs_offices.v1
      esi-search.search_structures.v1: EVE SSO scope esi-search.search_structures.v1
      esi-skills.read_skillqueue.v1: EVE SSO scope esi-skills.read_skillqueue.v1
      esi-skills.read_skills.v1: EVE SSO scope esi-skills.read_skills.v1
      esi-ui.open_window.v1: EVE SSO scope esi-ui.open_window.v1
      esi-ui.write_waypoint.v1: EVE SSO scope esi-ui.write_waypoint.v1
      esi-universe.read_structures.v1: EVE SSO scope esi-universe.read_structures.v1
      esi-wallet.read_character_wallet.v1: EVE SSO scope esi-wallet.read_character_wallet.v1
      esi-wallet.read_corporation_wallets.v1: EVE SSO scope esi-wallet.read_corporation_wallets.v1
    type: oauth2
parameters:
  Accept-Language:
    default: en-us
    description: Language to use in the response
    enum:
      - de
      - en-us
      - fr
      - ja
      - ru
      - zh
    in: header
    name: Accept-Language
    type: string
  If-None-Match:
    description: ETag from a previous request. A 304 will be returned if this matches the current ETag
    in: header
    name: If-None-Match
    type: string
  alliance_id:
    description: An EVE alliance ID
    format: int32
    in: path
    minimum: 1
    name: alliance_id
    required: true
    type: integer
  character_id:
    description: An EVE character ID
    format: int32
    in: path
    minimum: 1
    name: character_id
    required: true
    type: integer
  corporation_id:
    description: An EVE corporation ID
    format: int32
    in: path
    minimum: 1
    name: corporation_id
    required: true
    type: integer
  datasource:
    default: tranquility
    description: The server name you would like data from
    enum:
      - tranquility
      - singularity
    in: query
    name: datasource
    type: string
  language:
    default: en-us
    description: Language to use in the response, takes precedence over Accept-Language
    enum:
      - de
      - en-us
      - fr
      - ja
      - ru
      - zh
    in: query
    name: language
    type: string
  page:
    default: 1
    description: Which page of results to return
    format: int32
    in: query
    minimum: 1
    name: page
    type: integer
  token:
    description: Access token to use if unable to set a header
    in: query
    name: token
    type: string
paths:
  /alliances/:
    get:
      description: |-
        List all active player alliances

        ---
        Alternate route: `/dev/alliances/`

        Alternate route: `/legacy/alliances/`

        Alternate route: `/v1/alliances/`

        ---
        This route is cached for up to 3600 seconds
      operationId: get_alliances
      parameters:
        - $ref: "#/parameters/datasource"
        - $ref: "#/parameters/If-None-Match"
      responses:
        "200":
          description: List of Alliance IDs
          examples:
            application/json:
              - 99000001
              - 99000002
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
          schema:
            description: 200 ok array
            items:
              description: 200 ok integer
              format: int32
              minimum: 0
              title: get_alliances_200_ok
              type: integer
              uniqueItems: true
            maxItems: 5000
            title: get_alliances_ok
            type: array
        "304":
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        "400":
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: "#/definitions/bad_request"
        "420":
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: "#/definitions/error_limited"
        "500":
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: "#/definitions/internal_server_error"
        "503":
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: "#/definitions/service_unavailable"
        "504":
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: "#/definitions/gateway_timeout"
      summary: List all alliances
      tags:
        - Alliance
      x-alternate-versions:
        - dev
        - legacy
        - v1
      x-cached-seconds: 3600
  "/alliances/{alliance_id}/":
    get:
      description: |-
        Public information about an alliance

        ---
        Alternate route: `/dev/alliances/{alliance_id}/`

        Alternate route: `/v3/alliances/{alliance_id}/`

        ---
        This route is cached for up to 3600 seconds
      operationId: get_alliances_alliance_id
      parameters:
        - $ref: "#/parameters/alliance_id"
        - $ref: "#/parameters/datasource"
        - $ref: "#/parameters/If-None-Match"
      responses:
        "200":
          description: Public data about an alliance
          examples:
            application/json:
              creator_corporation_id: 45678
              creator_id: 12345
              date_founded: 2016-06-26T21:00:00Z
              executor_corporation_id: 98356193
              name: C C P Alliance
              ticker: <C C P>
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
          schema:
            description: 200 ok object
            properties:
              creator_corporation_id:
                description: ID of the corporation that created the alliance
                format: int32
                title: get_alliances_alliance_id_creator_corporation_id
                type: integer
              creator_id:
                description: ID of the character that created the alliance
                format: int32
                title: get_alliances_alliance_id_creator_id
                type: integer
              date_founded:
                description: date_founded string
                format: date-time
                title: get_alliances_alliance_id_date_founded
                type: string
              executor_corporation_id:
                description: the executor corporation ID, if this alliance is not closed
                format: int32
                title: get_alliances_alliance_id_executor_corporation_id
                type: integer
              faction_id:
                description: Faction ID this alliance is fighting for, if this alliance is enlisted in factional warfare
                format: int32
                title: get_alliances_alliance_id_faction_id
                type: integer
              name:
                description: the full name of the alliance
                title: get_alliances_alliance_id_name
                type: string
              ticker:
                description: the short name of the alliance
                title: get_alliances_alliance_id_ticker
                type: string
            required:
              - name
              - creator_id
              - creator_corporation_id
              - ticker
              - date_founded
            title: get_alliances_alliance_id_ok
            type: object
        "304":
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        "400":
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: "#/definitions/bad_request"
        "404":
          description: Alliance not found
          examples:
            application/json:
              error: Not found message
          schema:
            description: Not found
            properties:
              error:
                description: Not found message
                title: get_alliances_alliance_id_404_not_found
                type: string
            title: get_alliances_alliance_id_not_found
            type: object
        "420":
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: "#/definitions/error_limited"
        "500":
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: "#/definitions/internal_server_error"
        "503":
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: "#/definitions/service_unavailable"
        "504":
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: "#/definitions/gateway_timeout"
      summary: Get alliance information
      tags:
        - Alliance
      x-alternate-versions:
        - dev
        - v3
      x-cached-seconds: 3600
  "/alliances/{alliance_id}/contacts/":
    get:
      description: |-
        Return contacts of an alliance

        ---
        Alternate route: `/dev/alliances/{alliance_id}/contacts/`

        Alternate route: `/v2/alliances/{alliance_id}/contacts/`

        ---
        This route is cached for up to 300 seconds
      operationId: get_alliances_alliance_id_contacts
      parameters:
        - $ref: "#/parameters/alliance_id"
        - $ref: "#/parameters/datasource"
        - $ref: "#/parameters/If-None-Match"
        - $ref: "#/parameters/page"
        - $ref: "#/parameters/token"
      responses:
        "200":
          description: A list of contacts
          examples:
            application/json:
              - contact_id: 2112625428
                contact_type: character
                standing: 9.9
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
            X-Pages:
              default: 1
              description: Maximum page number
              format: int32
              type: integer
          schema:
            description: 200 ok array
            items:
              description: 200 ok object
              properties:
                contact_id:
                  description: contact_id integer
                  format: int32
                  title: get_alliances_alliance_id_contacts_contact_id
                  type: integer
                contact_type:
                  description: contact_type string
                  enum:
                    - character
                    - corporation
                    - alliance
                    - faction
                  title: get_alliances_alliance_id_contacts_contact_type
                  type: string
                label_ids:
                  description: label_ids array
                  items:
                    description: Label IDs applied to the contact
                    format: int64
                    title: get_alliances_alliance_id_contacts_label_id
                    type: integer
                  maxItems: 63
                  title: get_alliances_alliance_id_contacts_label_ids
                  type: array
                standing:
                  description: Standing of the contact
                  format: float
                  title: get_alliances_alliance_id_contacts_standing
                  type: number
              required:
                - standing
                - contact_type
                - contact_id
              title: get_alliances_alliance_id_contacts_200_ok
              type: object
            maxItems: 1000
            title: get_alliances_alliance_id_contacts_ok
            type: array
        "304":
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        "400":
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: "#/definitions/bad_request"
        "401":
          description: Unauthorized
          examples:
            application/json:
              error: Unauthorized message
          schema:
            $ref: "#/definitions/unauthorized"
        "403":
          description: Forbidden
          examples:
            application/json:
              error: Forbidden message
          schema:
            $ref: "#/definitions/forbidden"
        "420":
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: "#/definitions/error_limited"
        "500":
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: "#/definitions/internal_server_error"
        "503":
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: "#/definitions/service_unavailable"
        "504":
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: "#/definitions/gateway_timeout"
      security:
        - evesso:
            - esi-alliances.read_contacts.v1
      summary: Get alliance contacts
      tags:
        - Contacts
      x-alternate-versions:
        - dev
        - v2
      x-cached-seconds: 300
  "/alliances/{alliance_id}/contacts/labels/":
    get:
      description: |-
        Return custom labels for an alliance's contacts

        ---
        Alternate route: `/dev/alliances/{alliance_id}/contacts/labels/`

        Alternate route: `/legacy/alliances/{alliance_id}/contacts/labels/`

        Alternate route: `/v1/alliances/{alliance_id}/contacts/labels/`

        ---
        This route is cached for up to 300 seconds
      operationId: get_alliances_alliance_id_contacts_labels
      parameters:
        - $ref: "#/parameters/alliance_id"
        - $ref: "#/parameters/datasource"
        - $ref: "#/parameters/If-None-Match"
        - $ref: "#/parameters/token"
      responses:
        "200":
          description: A list of alliance contact labels
          examples:
            application/json:
              - label_id: 1
                label_name: Alliance Friends
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
          schema:
            description: 200 ok array
            items:
              description: 200 ok object
              properties:
                label_id:
                  description: label_id integer
                  format: int64
                  title: get_alliances_alliance_id_contacts_labels_label_id
                  type: integer
                label_name:
                  description: label_name string
                  title: get_alliances_alliance_id_contacts_labels_label_name
                  type: string
              required:
                - label_id
                - label_name
              title: get_alliances_alliance_id_contacts_labels_200_ok
              type: object
            maxItems: 64
            title: get_alliances_alliance_id_contacts_labels_ok
            type: array
        "304":
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        "400":
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: "#/definitions/bad_request"
        "401":
          description: Unauthorized
          examples:
            application/json:
              error: Unauthorized message
          schema:
            $ref: "#/definitions/unauthorized"
        "403":
          description: Forbidden
          examples:
            application/json:
              error: Forbidden message
          schema:
            $ref: "#/definitions/forbidden"
        "420":
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: "#/definitions/error_limited"
        "500":
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: "#/definitions/internal_server_error"
        "503":
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: "#/definitions/service_unavailable"
        "504":
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: "#/definitions/gateway_timeout"
      security:
        - evesso:
            - esi-alliances.read_contacts.v1
      summary: Get alliance contact labels
      tags:
        - Contacts
      x-alternate-versions:
        - dev
        - legacy
        - v1
      x-cached-seconds: 300
  "/alliances/{alliance_id}/corporations/":
    get:
      description: |-
        List all current member corporations of an alliance

        ---
        Alternate route: `/dev/alliances/{alliance_id}/corporations/`

        Alternate route: `/legacy/alliances/{alliance_id}/corporations/`

        Alternate route: `/v1/alliances/{alliance_id}/corporations/`

        ---
        This route is cached for up to 3600 seconds
      operationId: get_alliances_alliance_id_corporations
      parameters:
        - $ref: "#/parameters/alliance_id"
        - $ref: "#/parameters/datasource"
        - $ref: "#/parameters/If-None-Match"
      responses:
        "200":
          description: List of corporation IDs
          examples:
            application/json:
              - 98000001
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
          schema:
            description: 200 ok array
            items:
              description: 200 ok integer
              format: int32
              minimum: 0
              title: get_alliances_alliance_id_corporations_200_ok
              type: integer
              uniqueItems: true
            maxItems: 1000
            title: get_alliances_alliance_id_corporations_ok
            type: array
        "304":
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        "400":
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: "#/definitions/bad_request"
        "420":
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: "#/definitions/error_limited"
        "500":
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: "#/definitions/internal_server_error"
        "503":
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: "#/definitions/service_unavailable"
        "504":
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: "#/definitions/gateway_timeout"
      summary: List alliance's corporations
      tags:
        - Alliance
      x-alternate-versions:
        - dev
        - legacy
        - v1
      x-cached-seconds: 3600
  "/alliances/{alliance_id}/icons/":
    get:
      description: |-
        Get the icon urls for a alliance

        ---
        Alternate route: `/dev/alliances/{alliance_id}/icons/`

        Alternate route: `/legacy/alliances/{alliance_id}/icons/`

        Alternate route: `/v1/alliances/{alliance_id}/icons/`

        ---
        This route expires daily at 11:05
      operationId: get_alliances_alliance_id_icons
      parameters:
        - $ref: "#/parameters/alliance_id"
        - $ref: "#/parameters/datasource"
        - $ref: "#/parameters/If-None-Match"
      responses:
        "200":
          description: Icon URLs for the given alliance id and server
          examples:
            application/json:
              px128x128: https://imageserver.eveonline.com/Alliance/503818424_128.png
              px64x64: https://imageserver.eveonline.com/Alliance/503818424_64.png
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
          schema:
            description: 200 ok object
            properties:
              px128x128:
                description: px128x128 string
                title: get_alliances_alliance_id_icons_px128x128
                type: string
              px64x64:
                description: px64x64 string
                title: get_alliances_alliance_id_icons_px64x64
                type: string
            title: get_alliances_alliance_id_icons_ok
            type: object
        "304":
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        "400":
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: "#/definitions/bad_request"
        "404":
          description: No image server for this datasource
          examples:
            application/json:
              error: No image server for this datasource
          schema:
            description: No image server for this datasource
            properties:
              error:
                description: error message
                title: get_alliances_alliance_id_icons_error
                type: string
            title: get_alliances_alliance_id_icons_not_found
            type: object
        "420":
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: "#/definitions/error_limited"
        "500":
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: "#/definitions/internal_server_error"
        "503":
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: "#/definitions/service_unavailable"
        "504":
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: "#/definitions/gateway_timeout"
      summary: Get alliance icon
      tags:
        - Alliance
      x-alternate-versions:
        - dev
        - legacy
        - v1
  /characters/affiliation/:
    post:
      description: |-
        Bulk lookup of character IDs to corporation, alliance and faction

        ---
        Alternate route: `/dev/characters/affiliation/`

        Alternate route: `/legacy/characters/affiliation/`

        Alternate route: `/v1/characters/affiliation/`

        ---
        This route is cached for up to 3600 seconds
      operationId: post_characters_affiliation
      parameters:
        - description: The character IDs to fetch affiliations for. All characters must exist, or none will be returned
          in: body
          name: characters
          required: true
          schema:
            description: characters array
            items:
              description: character integer
              format: int32
              title: post_characters_affiliation_character
              type: integer
            maxItems: 1000
            minItems: 1
            title: post_characters_affiliation_characters
            type: array
            uniqueItems: true
        - $ref: "#/parameters/datasource"
      responses:
        "200":
          description: Character corporation, alliance and faction IDs
          examples:
            application/json:
              - alliance_id: 434243723
                character_id: 95538921
                corporation_id: 109299958
          schema:
            description: 200 ok array
            items:
              description: 200 ok object
              properties:
                alliance_id:
                  description: The character's alliance ID, if their corporation is in an alliance
                  format: int32
                  title: post_characters_affiliation_alliance_id
                  type: integer
                character_id:
                  description: The character's ID
                  format: int32
                  title: post_characters_affiliation_character_id
                  type: integer
                corporation_id:
                  description: The character's corporation ID
                  format: int32
                  title: post_characters_affiliation_corporation_id
                  type: integer
                faction_id:
                  description: The character's faction ID, if their corporation is in a faction
                  format: int32
                  title: post_characters_affiliation_faction_id
                  type: integer
              required:
                - character_id
                - corporation_id
              title: post_characters_affiliation_200_ok
              type: object
            maxItems: 1000
            title: post_characters_affiliation_ok
            type: array
        "400":
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: "#/definitions/bad_request"
        "404":
          description: No characters found
          examples:
            application/json:
              error: Not found message
          schema:
            description: Not found
            properties:
              error:
                description: Not found message
                title: post_characters_affiliation_404_not_found
                type: string
            title: post_characters_affiliation_not_found
            type: object
        "420":
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: "#/definitions/error_limited"
        "500":
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: "#/definitions/internal_server_error"
        "503":
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: "#/definitions/service_unavailable"
        "504":
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: "#/definitions/gateway_timeout"
      summary: Character affiliation
      tags:
        - Character
      x-alternate-versions:
        - dev
        - legacy
        - v1
      x-cached-seconds: 3600
  "/characters/{character_id}/":
    get:
      description: |-
        Public information about a character

        ---
        Alternate route: `/dev/characters/{character_id}/`

        Alternate route: `/v4/characters/{character_id}/`

        ---
        This route is cached for up to 3600 seconds
      operationId: get_characters_character_id
      parameters:
        - $ref: "#/parameters/character_id"
        - $ref: "#/parameters/datasource"
        - $ref: "#/parameters/If-None-Match"
      responses:
        "200":
          description: Public data for the given character
          examples:
            application/json:
              ancestry_id: 19
              birthday: 2015-03-24T11:37:00Z
              bloodline_id: 3
              corporation_id: 109299958
              description: ""
              gender: male
              name: CCP Bartender
              race_id: 2
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
          schema:
            description: 200 ok object
            properties:
              alliance_id:
                description: The character's alliance ID
                format: int32
                title: get_characters_character_id_alliance_id
                type: integer
              ancestry_id:
                description: ancestry_id integer
                format: int32
                title: get_characters_character_id_ancestry_id
                type: integer
              birthday:
                description: Creation date of the character
                format: date-time
                title: get_characters_character_id_birthday
                type: string
              bloodline_id:
                description: bloodline_id integer
                format: int32
                title: get_characters_character_id_bloodline_id
                type: integer
              corporation_id:
                description: The character's corporation ID
                format: int32
                title: get_characters_character_id_corporation_id
                type: integer
              description:
                description: description string
                title: get_characters_character_id_description
                type: string
              faction_id:
                description: ID of the faction the character is fighting for, if the character is enlisted in Factional Warfare
                format: int32
                title: get_characters_character_id_faction_id
                type: integer
              gender:
                description: gender string
                enum:
                  - female
                  - male
                title: get_characters_character_id_gender
                type: string
              name:
                description: name string
                title: get_characters_character_id_name
                type: string
              race_id:
                description: race_id integer
                format: int32
                title: get_characters_character_id_race_id
                type: integer
              security_status:
                description: security_status number
                format: float
                maximum: 10
                minimum: -10
                title: get_characters_character_id_security_status
                type: number
            required:
              - corporation_id
              - birthday
              - name
              - gender
              - race_id
              - bloodline_id
            title: get_characters_character_id_ok
            type: object
        "304":
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        "400":
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: "#/definitions/bad_request"
        "404":
          description: Character not found
          examples:
            application/json:
              error: Not found message
          schema:
            description: Not found
            properties:
              error:
                description: Not found message
                title: get_characters_character_id_404_not_found
                type: string
            title: get_characters_character_id_not_found
            type: object
        "420":
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: "#/definitions/error_limited"
        "500":
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: "#/definitions/internal_server_error"
        "503":
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: "#/definitions/service_unavailable"
        "504":
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: "#/definitions/gateway_timeout"
      summary: Get character's public information
      tags:
        - Character
      x-alternate-versions:
        - dev
        - v4
      x-cached-seconds: 3600
  "/characters/{character_id}/agents_research/":
    get:
      description: |-
        Return a list of agents research information for a character. The formula for finding the current research points with an agent is: currentPoints = remainderPoints + pointsPerDay * days(currentTime - researchStartDate)

        ---
        Alternate route: `/dev/characters/{character_id}/agents_research/`

        Alternate route: `/legacy/characters/{character_id}/agents_research/`

        Alternate route: `/v1/characters/{character_id}/agents_research/`

        ---
        This route is cached for up to 3600 seconds
      operationId: get_characters_character_id_agents_research
      parameters:
        - $ref: "#/parameters/character_id"
        - $ref: "#/parameters/datasource"
        - $ref: "#/parameters/If-None-Match"
        - $ref: "#/parameters/token"
      responses:
        "200":
          description: A list of agents research information
          examples:
            application/json:
              - agent_id: 3009358
                points_per_day: 53.5346162146776
                remainder_points: 53604.0634303189
                skill_type_id: 11450
                started_at: 2017-03-23T14:47:00Z
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
          schema:
            description: 200 ok array
            items:
              description: 200 ok object
              properties:
                agent_id:
                  description: agent_id integer
                  format: int32
                  title: get_characters_character_id_agents_research_agent_id
                  type: integer
                points_per_day:
                  description: points_per_day number
                  format: float
                  title: get_characters_character_id_agents_research_points_per_day
                  type: number
                remainder_points:
                  description: remainder_points number
                  format: float
                  title: get_characters_character_id_agents_research_remainder_points
                  type: number
                skill_type_id:
                  description: skill_type_id integer
                  format: int32
                  title: get_characters_character_id_agents_research_skill_type_id
                  type: integer
                started_at:
                  description: started_at string
                  format: date-time
                  title: get_characters_character_id_agents_research_started_at
                  type: string
              required:
                - agent_id
                - skill_type_id
                - started_at
                - points_per_day
                - remainder_points
              title: get_characters_character_id_agents_research_200_ok
              type: object
            maxItems: 1000
            title: get_characters_character_id_agents_research_ok
            type: array
        "304":
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        "400":
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: "#/definitions/bad_request"
        "401":
          description: Unauthorized
          examples:
            application/json:
              error: Unauthorized message
          schema:
            $ref: "#/definitions/unauthorized"
        "403":
          description: Forbidden
          examples:
            application/json:
              error: Forbidden message
          schema:
            $ref: "#/definitions/forbidden"
        "420":
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: "#/definitions/error_limited"
        "500":
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: "#/definitions/internal_server_error"
        "503":
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: "#/definitions/service_unavailable"
        "504":
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: "#/definitions/gateway_timeout"
      security:
        - evesso:
            - esi-characters.read_agents_research.v1
      summary: Get agents research
      tags:
        - Character
      x-alternate-versions:
        - dev
        - legacy
        - v1
      x-cached-seconds: 3600
  "/characters/{character_id}/assets/":
    get:
      description: |-
        Return a list of the characters assets

        ---
        Alternate route: `/dev/characters/{character_id}/assets/`

        Alternate route: `/v3/characters/{character_id}/assets/`

        ---
        This route is cached for up to 3600 seconds
      operationId: get_characters_character_id_assets
      parameters:
        - $ref: "#/parameters/character_id"
        - $ref: "#/parameters/datasource"
        - $ref: "#/parameters/If-None-Match"
        - $ref: "#/parameters/page"
        - $ref: "#/parameters/token"
      responses:
        "200":
          description: A flat list of the users assets
          examples:
            application/json:
              - is_blueprint_copy: true
                is_singleton: true
                item_id: 1000000016835
                location_flag: Hangar
                location_id: 60002959
                location_type: station
                quantity: 1
                type_id: 3516
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
            X-Pages:
              default: 1
              description: Maximum page number
              format: int32
              type: integer
          schema:
            description: 200 ok array
            items:
              description: 200 ok object
              properties:
                is_blueprint_copy:
                  description: is_blueprint_copy boolean
                  title: get_characters_character_id_assets_is_blueprint_copy
                  type: boolean
                is_singleton:
                  description: is_singleton boolean
                  title: get_characters_character_id_assets_is_singleton
                  type: boolean
                item_id:
                  description: item_id integer
                  format: int64
                  title: get_characters_character_id_assets_item_id
                  type: integer
                location_flag:
                  description: location_flag string
                  enum:
                    - AssetSafety
                    - AutoFit
                    - BoosterBay
                    - Cargo
                    - CorpseBay
                    - Deliveries
                    - DroneBay
                    - FighterBay
                    - FighterTube0
                    - FighterTube1
                    - FighterTube2
                    - FighterTube3
                    - FighterTube4
                    - FleetHangar
                    - Hangar
                    - HangarAll
                    - HiSlot0
                    - HiSlot1
                    - HiSlot2
                    - HiSlot3
                    - HiSlot4
                    - HiSlot5
                    - HiSlot6
                    - HiSlot7
                    - HiddenModifiers
                    - Implant
                    - LoSlot0
                    - LoSlot1
                    - LoSlot2
                    - LoSlot3
                    - LoSlot4
                    - LoSlot5
                    - LoSlot6
                    - LoSlot7
                    - Locked
                    - MedSlot0
                    - MedSlot1
                    - MedSlot2
                    - MedSlot3
                    - MedSlot4
                    - MedSlot5
                    - MedSlot6
                    - MedSlot7
                    - QuafeBay
                    - RigSlot0
                    - RigSlot1
                    - RigSlot2
                    - RigSlot3
                    - RigSlot4
                    - RigSlot5
                    - RigSlot6
                    - RigSlot7
                    - ShipHangar
                    - Skill
                    - SpecializedAmmoHold
                    - SpecializedCommandCenterHold
                    - SpecializedFuelBay
                    - SpecializedGasHold
                    - SpecializedIndustrialShipHold
                    - SpecializedLargeShipHold
                    - SpecializedMaterialBay
                    - SpecializedMediumShipHold
                    - SpecializedMineralHold
                    - SpecializedOreHold
                    - SpecializedPlanetaryCommoditiesHold
                    - SpecializedSalvageHold
                    - SpecializedShipHold
                    - SpecializedSmallShipHold
                    - SubSystemBay
                    - SubSystemSlot0
                    - SubSystemSlot1
                    - SubSystemSlot2
                    - SubSystemSlot3
                    - SubSystemSlot4
                    - SubSystemSlot5
                    - SubSystemSlot6
                    - SubSystemSlot7
                    - Unlocked
                    - Wardrobe
                  title: get_characters_character_id_assets_location_flag
                  type: string
                location_id:
                  description: location_id integer
                  format: int64
                  title: get_characters_character_id_assets_location_id
                  type: integer
                location_type:
                  description: location_type string
                  enum:
                    - station
                    - solar_system
                    - other
                  title: get_characters_character_id_assets_location_type
                  type: string
                quantity:
                  description: quantity integer
                  format: int32
                  title: get_characters_character_id_assets_quantity
                  type: integer
                type_id:
                  description: type_id integer
                  format: int32
                  title: get_characters_character_id_assets_type_id
                  type: integer
              required:
                - type_id
                - quantity
                - location_id
                - location_type
                - item_id
                - location_flag
                - is_singleton
              title: get_characters_character_id_assets_200_ok
              type: object
            maxItems: 1000
            title: get_characters_character_id_assets_ok
            type: array
        "304":
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        "400":
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: "#/definitions/bad_request"
        "401":
          description: Unauthorized
          examples:
            application/json:
              error: Unauthorized message
          schema:
            $ref: "#/definitions/unauthorized"
        "403":
          description: Forbidden
          examples:
            application/json:
              error: Forbidden message
          schema:
            $ref: "#/definitions/forbidden"
        "420":
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: "#/definitions/error_limited"
        "500":
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: "#/definitions/internal_server_error"
        "503":
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: "#/definitions/service_unavailable"
        "504":
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: "#/definitions/gateway_timeout"
      security:
        - evesso:
            - esi-assets.read_assets.v1
      summary: Get character assets
      tags:
        - Assets
      x-alternate-versions:
        - dev
        - v3
      x-cached-seconds: 3600
  "/characters/{character_id}/assets/locations/":
    post:
      description: |
        Return locations for a set of item ids, which you can get from character assets endpoint. Coordinates for items in hangars or stations are set to (0,0,0)

        ---
        Alternate route: `/dev/characters/{character_id}/assets/locations/`

        Alternate route: `/v2/characters/{character_id}/assets/locations/`
      operationId: post_characters_character_id_assets_locations
      parameters:
        - $ref: "#/parameters/character_id"
        - $ref: "#/parameters/datasource"
        - description: A list of item ids
          in: body
          name: item_ids
          required: true
          schema:
            description: item_ids array
            items:
              description: item_id integer
              format: int64
              title: post_characters_character_id_assets_locations_item_id
              type: integer
            maxItems: 1000
            minItems: 1
            title: post_characters_character_id_assets_locations_item_ids
            type: array
            uniqueItems: true
        - $ref: "#/parameters/token"
      responses:
        "200":
          description: List of asset locations
          examples:
            application/json:
              - item_id: 12345
                position:
                  x: 1.2
                  y: 2.3
                  z: -3.4
          schema:
            description: 200 ok array
            items:
              description: 200 ok object
              properties:
                item_id:
                  description: item_id integer
                  format: int64
                  title: post_characters_character_id_assets_locations_item_id
                  type: integer
                position:
                  description: position object
                  properties:
                    x:
                      description: x number
                      format: double
                      title: post_characters_character_id_assets_locations_x
                      type: number
                    y:
                      description: y number
                      format: double
                      title: post_characters_character_id_assets_locations_y
                      type: number
                    z:
                      description: z number
                      format: double
                      title: post_characters_character_id_assets_locations_z
                      type: number
                  required:
                    - x
                    - y
                    - z
                  title: post_characters_character_id_assets_locations_position
                  type: object
              required:
                - item_id
                - position
              title: post_characters_character_id_assets_locations_200_ok
              type: object
            maxItems: 1000
            title: post_characters_character_id_assets_locations_ok
            type: array
        "400":
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: "#/definitions/bad_request"
        "401":
          description: Unauthorized
          examples:
            application/json:
              error: Unauthorized message
          schema:
            $ref: "#/definitions/unauthorized"
        "403":
          description: Forbidden
          examples:
            application/json:
              error: Forbidden message
          schema:
            $ref: "#/definitions/forbidden"
        "420":
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: "#/definitions/error_limited"
        "500":
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: "#/definitions/internal_server_error"
        "503":
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: "#/definitions/service_unavailable"
        "504":
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: "#/definitions/gateway_timeout"
      security:
        - evesso:
            - esi-assets.read_assets.v1
      summary: Get character asset locations
      tags:
        - Assets
      x-alternate-versions:
        - dev
        - v2
  "/characters/{character_id}/assets/names/":
    post:
      description: |
        Return names for a set of item ids, which you can get from character assets endpoint. Typically used for items that can customize names, like containers or ships.

        ---
        Alternate route: `/dev/characters/{character_id}/assets/names/`

        Alternate route: `/legacy/characters/{character_id}/assets/names/`

        Alternate route: `/v1/characters/{character_id}/assets/names/`
      operationId: post_characters_character_id_assets_names
      parameters:
        - $ref: "#/parameters/character_id"
        - $ref: "#/parameters/datasource"
        - description: A list of item ids
          in: body
          name: item_ids
          required: true
          schema:
            description: item_ids array
            items:
              description: item_id integer
              format: int64
              title: post_characters_character_id_assets_names_item_id
              type: integer
            maxItems: 1000
            minItems: 1
            title: post_characters_character_id_assets_names_item_ids
            type: array
            uniqueItems: true
        - $ref: "#/parameters/token"
      responses:
        "200":
          description: List of asset names
          examples:
            application/json:
              - item_id: 12345
                name: Awesome Name
          schema:
            description: 200 ok array
            items:
              description: 200 ok object
              properties:
                item_id:
                  description: item_id integer
                  format: int64
                  title: post_characters_character_id_assets_names_item_id
                  type: integer
                name:
                  description: name string
                  title: post_characters_character_id_assets_names_name
                  type: string
              required:
                - item_id
                - name
              title: post_characters_character_id_assets_names_200_ok
              type: object
            maxItems: 1000
            title: post_characters_character_id_assets_names_ok
            type: array
        "400":
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: "#/definitions/bad_request"
        "401":
          description: Unauthorized
          examples:
            application/json:
              error: Unauthorized message
          schema:
            $ref: "#/definitions/unauthorized"
        "403":
          description: Forbidden
          examples:
            application/json:
              error: Forbidden message
          schema:
            $ref: "#/definitions/forbidden"
        "420":
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: "#/definitions/error_limited"
        "500":
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: "#/definitions/internal_server_error"
        "503":
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: "#/definitions/service_unavailable"
        "504":
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: "#/definitions/gateway_timeout"
      security:
        - evesso:
            - esi-assets.read_assets.v1
      summary: Get character asset names
      tags:
        - Assets
      x-alternate-versions:
        - dev
        - legacy
        - v1
  "/characters/{character_id}/attributes/":
    get:
      description: |-
        Return attributes of a character

        ---
        Alternate route: `/dev/characters/{character_id}/attributes/`

        Alternate route: `/legacy/characters/{character_id}/attributes/`

        Alternate route: `/v1/characters/{character_id}/attributes/`

        ---
        This route is cached for up to 3600 seconds
      operationId: get_characters_character_id_attributes
      parameters:
        - $ref: "#/parameters/character_id"
        - $ref: "#/parameters/datasource"
        - $ref: "#/parameters/If-None-Match"
        - $ref: "#/parameters/token"
      responses:
        "200":
          description: Attributes of a character
          examples:
            application/json:
              charisma: 20
              intelligence: 20
              memory: 20
              perception: 20
              willpower: 20
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
          schema:
            description: 200 ok object
            properties:
              accrued_remap_cooldown_date:
                description: Neural remapping cooldown after a character uses remap accrued over time
                format: date-time
                title: get_characters_character_id_attributes_accrued_remap_cooldown_date
                type: string
              bonus_remaps:
                description: Number of available bonus character neural remaps
                format: int32
                title: get_characters_character_id_attributes_bonus_remaps
                type: integer
              charisma:
                description: charisma integer
                format: int32
                title: get_characters_character_id_attributes_charisma
                type: integer
              intelligence:
                description: intelligence integer
                format: int32
                title: get_characters_character_id_attributes_intelligence
                type: integer
              last_remap_date:
                description: Datetime of last neural remap, including usage of bonus remaps
                format: date-time
                title: get_characters_character_id_attributes_last_remap_date
                type: string
              memory:
                description: memory integer
                format: int32
                title: get_characters_character_id_attributes_memory
                type: integer
              perception:
                description: perception integer
                format: int32
                title: get_characters_character_id_attributes_perception
                type: integer
              willpower:
                description: willpower integer
                format: int32
                title: get_characters_character_id_attributes_willpower
                type: integer
            required:
              - charisma
              - intelligence
              - memory
              - perception
              - willpower
            title: get_characters_character_id_attributes_ok
            type: object
        "304":
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        "400":
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: "#/definitions/bad_request"
        "401":
          description: Unauthorized
          examples:
            application/json:
              error: Unauthorized message
          schema:
            $ref: "#/definitions/unauthorized"
        "403":
          description: Forbidden
          examples:
            application/json:
              error: Forbidden message
          schema:
            $ref: "#/definitions/forbidden"
        "420":
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: "#/definitions/error_limited"
        "500":
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: "#/definitions/internal_server_error"
        "503":
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: "#/definitions/service_unavailable"
        "504":
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: "#/definitions/gateway_timeout"
      security:
        - evesso:
            - esi-skills.read_skills.v1
      summary: Get character attributes
      tags:
        - Skills
      x-alternate-versions:
        - dev
        - legacy
        - v1
      x-cached-seconds: 3600
  "/characters/{character_id}/blueprints/":
    get:
      description: |-
        Return a list of blueprints the character owns

        ---
        Alternate route: `/dev/characters/{character_id}/blueprints/`

        Alternate route: `/v2/characters/{character_id}/blueprints/`

        ---
        This route is cached for up to 3600 seconds
      operationId: get_characters_character_id_blueprints
      parameters:
        - $ref: "#/parameters/character_id"
        - $ref: "#/parameters/datasource"
        - $ref: "#/parameters/If-None-Match"
        - $ref: "#/parameters/page"
        - $ref: "#/parameters/token"
      responses:
        "200":
          description: A list of blueprints
          examples:
            application/json:
              - item_id: 1000000010495
                location_flag: Hangar
                location_id: 60014719
                material_efficiency: 0
                quantity: 1
                runs: -1
                time_efficiency: 0
                type_id: 691
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
            X-Pages:
              default: 1
              description: Maximum page number
              format: int32
              type: integer
          schema:
            description: 200 ok array
            items:
              description: 200 ok object
              properties:
                item_id:
                  description: Unique ID for this item.
                  format: int64
                  title: get_characters_character_id_blueprints_item_id
                  type: integer
                location_flag:
                  description: Type of the location_id
                  enum:
                    - AutoFit
                    - Cargo
                    - CorpseBay
                    - DroneBay
                    - FleetHangar
                    - Deliveries
                    - HiddenModifiers
                    - Hangar
                    - HangarAll
                    - LoSlot0
                    - LoSlot1
                    - LoSlot2
                    - LoSlot3
                    - LoSlot4
                    - LoSlot5
                    - LoSlot6
                    - LoSlot7
                    - MedSlot0
                    - MedSlot1
                    - MedSlot2
                    - MedSlot3
                    - MedSlot4
                    - MedSlot5
                    - MedSlot6
                    - MedSlot7
                    - HiSlot0
                    - HiSlot1
                    - HiSlot2
                    - HiSlot3
                    - HiSlot4
                    - HiSlot5
                    - HiSlot6
                    - HiSlot7
                    - AssetSafety
                    - Locked
                    - Unlocked
                    - Implant
                    - QuafeBay
                    - RigSlot0
                    - RigSlot1
                    - RigSlot2
                    - RigSlot3
                    - RigSlot4
                    - RigSlot5
                    - RigSlot6
                    - RigSlot7
                    - ShipHangar
                    - SpecializedFuelBay
                    - SpecializedOreHold
                    - SpecializedGasHold
                    - SpecializedMineralHold
                    - SpecializedSalvageHold
                    - SpecializedShipHold
                    - SpecializedSmallShipHold
                    - SpecializedMediumShipHold
                    - SpecializedLargeShipHold
                    - SpecializedIndustrialShipHold
                    - SpecializedAmmoHold
                    - SpecializedCommandCenterHold
                    - SpecializedPlanetaryCommoditiesHold
                    - SpecializedMaterialBay
                    - SubSystemSlot0
                    - SubSystemSlot1
                    - SubSystemSlot2
                    - SubSystemSlot3
                    - SubSystemSlot4
                    - SubSystemSlot5
                    - SubSystemSlot6
                    - SubSystemSlot7
                    - FighterBay
                    - FighterTube0
                    - FighterTube1
                    - FighterTube2
                    - FighterTube3
                    - FighterTube4
                    - Module
                  title: get_characters_character_id_blueprints_location_flag
                  type: string
                location_id:
                  description: References a solar system, station or item_id if this blueprint is located within a container. If the return value is an item_id, then the Character AssetList API must be queried to find the container using the given item_id to determine the correct location of the Blueprint.
                  format: int64
                  title: get_characters_character_id_blueprints_location_id
                  type: integer
                material_efficiency:
                  description: Material Efficiency Level of the blueprint.
                  format: int32
                  maximum: 25
                  minimum: 0
                  title: get_characters_character_id_blueprints_material_efficiency
                  type: integer
                quantity:
                  description: A range of numbers with a minimum of -2 and no maximum value where -1 is an original and -2 is a copy. It can be a positive integer if it is a stack of blueprint originals fresh from the market (e.g. no activities performed on them yet).
                  format: int32
                  minimum: -2
                  title: get_characters_character_id_blueprints_quantity
                  type: integer
                runs:
                  description: Number of runs remaining if the blueprint is a copy, -1 if it is an original.
                  format: int32
                  minimum: -1
                  title: get_characters_character_id_blueprints_runs
                  type: integer
                time_efficiency:
                  description: Time Efficiency Level of the blueprint.
                  format: int32
                  maximum: 20
                  minimum: 0
                  title: get_characters_character_id_blueprints_time_efficiency
                  type: integer
                type_id:
                  description: type_id integer
                  format: int32
                  title: get_characters_character_id_blueprints_type_id
                  type: integer
              required:
                - item_id
                - type_id
                - location_id
                - location_flag
                - quantity
                - time_efficiency
                - material_efficiency
                - runs
              title: get_characters_character_id_blueprints_200_ok
              type: object
            maxItems: 1000
            title: get_characters_character_id_blueprints_ok
            type: array
        "304":
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        "400":
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: "#/definitions/bad_request"
        "401":
          description: Unauthorized
          examples:
            application/json:
              error: Unauthorized message
          schema:
            $ref: "#/definitions/unauthorized"
        "403":
          description: Forbidden
          examples:
            application/json:
              error: Forbidden message
          schema:
            $ref: "#/definitions/forbidden"
        "420":
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: "#/definitions/error_limited"
        "500":
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: "#/definitions/internal_server_error"
        "503":
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: "#/definitions/service_unavailable"
        "504":
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: "#/definitions/gateway_timeout"
      security:
        - evesso:
            - esi-characters.read_blueprints.v1
      summary: Get blueprints
      tags:
        - Character
      x-alternate-versions:
        - dev
        - v2
      x-cached-seconds: 3600
  "/characters/{character_id}/bookmarks/":
    get:
      description: |-
        A list of your character's personal bookmarks

        ---
        Alternate route: `/dev/characters/{character_id}/bookmarks/`

        Alternate route: `/v2/characters/{character_id}/bookmarks/`

        ---
        This route is cached for up to 3600 seconds
      operationId: get_characters_character_id_bookmarks
      parameters:
        - $ref: "#/parameters/character_id"
        - $ref: "#/parameters/datasource"
        - $ref: "#/parameters/If-None-Match"
        - $ref: "#/parameters/page"
        - $ref: "#/parameters/token"
      responses:
        "200":
          description: A list of bookmarks
          examples:
            application/json:
              - bookmark_id: 4
                created: 2016-08-09T11:57:47Z
                creator_id: 2112625428
                folder_id: 5
                item:
                  item_id: 50006722
                  type_id: 29633
                label: Stargate
                location_id: 30003430
                notes: This is a stargate
              - bookmark_id: 5
                coordinates:
                  x: -2958928814000
                  y: -338367275823
                  z: 2114538075090
                created: 2016-08-09T11:57:47Z
                creator_id: 2112625428
                folder_id: 5
                label: Random location
                location_id: 30003430
                notes: This is a random location in space
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
            X-Pages:
              default: 1
              description: Maximum page number
              format: int32
              type: integer
          schema:
            description: 200 ok array
            items:
              description: 200 ok object
              properties:
                bookmark_id:
                  description: bookmark_id integer
                  format: int32
                  title: get_characters_character_id_bookmarks_bookmark_id
                  type: integer
                coordinates:
                  description: Optional object that is returned if a bookmark was made on a planet or a random location in space.
                  properties:
                    x:
                      description: x number
                      format: double
                      title: get_characters_character_id_bookmarks_x
                      type: number
                    y:
                      description: y number
                      format: double
                      title: get_characters_character_id_bookmarks_y
                      type: number
                    z:
                      description: z number
                      format: double
                      title: get_characters_character_id_bookmarks_z
                      type: number
                  required:
                    - x
                    - y
                    - z
                  title: get_characters_character_id_bookmarks_coordinates
                  type: object
                created:
                  description: created string
                  format: date-time
                  title: get_characters_character_id_bookmarks_created
                  type: string
                creator_id:
                  description: creator_id integer
                  format: int32
                  title: get_characters_character_id_bookmarks_creator_id
                  type: integer
                folder_id:
                  description: folder_id integer
                  format: int32
                  title: get_characters_character_id_bookmarks_folder_id
                  type: integer
                item:
                  description: Optional object that is returned if a bookmark was made on a particular item.
                  properties:
                    item_id:
                      description: item_id integer
                      format: int64
                      title: get_characters_character_id_bookmarks_item_id
                      type: integer
                    type_id:
                      description: type_id integer
                      format: int32
                      title: get_characters_character_id_bookmarks_type_id
                      type: integer
                  required:
                    - item_id
                    - type_id
                  title: get_characters_character_id_bookmarks_item
                  type: object
                label:
                  description: label string
                  title: get_characters_character_id_bookmarks_label
                  type: string
                location_id:
                  description: location_id integer
                  format: int32
                  title: get_characters_character_id_bookmarks_location_id
                  type: integer
                notes:
                  description: notes string
                  title: get_characters_character_id_bookmarks_notes
                  type: string
              required:
                - bookmark_id
                - created
                - label
                - notes
                - location_id
                - creator_id
              title: get_characters_character_id_bookmarks_200_ok
              type: object
            maxItems: 1000
            title: get_characters_character_id_bookmarks_ok
            type: array
        "304":
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        "400":
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: "#/definitions/bad_request"
        "401":
          description: Unauthorized
          examples:
            application/json:
              error: Unauthorized message
          schema:
            $ref: "#/definitions/unauthorized"
        "403":
          description: Forbidden
          examples:
            application/json:
              error: Forbidden message
          schema:
            $ref: "#/definitions/forbidden"
        "420":
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: "#/definitions/error_limited"
        "500":
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: "#/definitions/internal_server_error"
        "503":
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: "#/definitions/service_unavailable"
        "504":
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: "#/definitions/gateway_timeout"
      security:
        - evesso:
            - esi-bookmarks.read_character_bookmarks.v1
      summary: List bookmarks
      tags:
        - Bookmarks
      x-alternate-versions:
        - dev
        - v2
      x-cached-seconds: 3600
  "/characters/{character_id}/bookmarks/folders/":
    get:
      description: |-
        A list of your character's personal bookmark folders

        ---
        Alternate route: `/dev/characters/{character_id}/bookmarks/folders/`

        Alternate route: `/v2/characters/{character_id}/bookmarks/folders/`

        ---
        This route is cached for up to 3600 seconds
      operationId: get_characters_character_id_bookmarks_folders
      parameters:
        - $ref: "#/parameters/character_id"
        - $ref: "#/parameters/datasource"
        - $ref: "#/parameters/If-None-Match"
        - $ref: "#/parameters/page"
        - $ref: "#/parameters/token"
      responses:
        "200":
          description: List of bookmark folders
          examples:
            application/json:
              - folder_id: 5
                name: Icecream
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
            X-Pages:
              default: 1
              description: Maximum page number
              format: int32
              type: integer
          schema:
            description: 200 ok array
            items:
              description: 200 ok object
              properties:
                folder_id:
                  description: folder_id integer
                  format: int32
                  title: get_characters_character_id_bookmarks_folders_folder_id
                  type: integer
                name:
                  description: name string
                  title: get_characters_character_id_bookmarks_folders_name
                  type: string
              required:
                - folder_id
                - name
              title: get_characters_character_id_bookmarks_folders_200_ok
              type: object
            maxItems: 1000
            title: get_characters_character_id_bookmarks_folders_ok
            type: array
        "304":
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        "400":
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: "#/definitions/bad_request"
        "401":
          description: Unauthorized
          examples:
            application/json:
              error: Unauthorized message
          schema:
            $ref: "#/definitions/unauthorized"
        "403":
          description: Forbidden
          examples:
            application/json:
              error: Forbidden message
          schema:
            $ref: "#/definitions/forbidden"
        "420":
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: "#/definitions/error_limited"
        "500":
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: "#/definitions/internal_server_error"
        "503":
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: "#/definitions/service_unavailable"
        "504":
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: "#/definitions/gateway_timeout"
      security:
        - evesso:
            - esi-bookmarks.read_character_bookmarks.v1
      summary: List bookmark folders
      tags:
        - Bookmarks
      x-alternate-versions:
        - dev
        - v2
      x-cached-seconds: 3600
  "/characters/{character_id}/calendar/":
    get:
      description: |-
        Get 50 event summaries from the calendar. If no from_event ID is given, the resource will return the next 50 chronological event summaries from now. If a from_event ID is specified, it will return the next 50 chronological event summaries from after that event

        ---
        Alternate route: `/dev/characters/{character_id}/calendar/`

        Alternate route: `/legacy/characters/{character_id}/calendar/`

        Alternate route: `/v1/characters/{character_id}/calendar/`

        ---
        This route is cached for up to 5 seconds
      operationId: get_characters_character_id_calendar
      parameters:
        - $ref: "#/parameters/character_id"
        - $ref: "#/parameters/datasource"
        - description: The event ID to retrieve events from
          format: int32
          in: query
          name: from_event
          required: false
          type: integer
        - $ref: "#/parameters/If-None-Match"
        - $ref: "#/parameters/token"
      responses:
        "200":
          description: A collection of event summaries
          examples:
            application/json:
              - event_date: 2016-06-26T20:00:00Z
                event_id: 1386435
                event_response: accepted
                importance: 0
                title: o7 The EVE Online Show
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
          schema:
            description: Up to 50 events from now or the event you requested
            items:
              description: event
              properties:
                event_date:
                  description: event_date string
                  format: date-time
                  title: get_characters_character_id_calendar_event_date
                  type: string
                event_id:
                  description: event_id integer
                  format: int32
                  title: get_characters_character_id_calendar_event_id
                  type: integer
                event_response:
                  description: event_response string
                  enum:
                    - declined
                    - not_responded
                    - accepted
                    - tentative
                  title: get_characters_character_id_calendar_event_response
                  type: string
                importance:
                  description: importance integer
                  format: int32
                  title: get_characters_character_id_calendar_importance
                  type: integer
                title:
                  description: title string
                  title: get_characters_character_id_calendar_title
                  type: string
              title: get_characters_character_id_calendar_200_ok
              type: object
            maxItems: 50
            title: get_characters_character_id_calendar_ok
            type: array
        "304":
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        "400":
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: "#/definitions/bad_request"
        "401":
[...]
