swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: DataFactoryManagementClient
  version: 2018-06-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/datafactory/resource-manager/Microsoft.DataFactory/stable/2018-06-01/datafactory.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: datafactory
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  api-version:
    description: The API version.
    in: query
    name: api-version
    required: true
    type: string
  dataFlowName:
    description: The data flow name.
    in: path
    maxLength: 260
    minLength: 1
    name: dataFlowName
    pattern: ^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$
    required: true
    type: string
    x-ms-parameter-location: method
  datasetName:
    description: The dataset name.
    in: path
    maxLength: 260
    minLength: 1
    name: datasetName
    pattern: ^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$
    required: true
    type: string
    x-ms-parameter-location: method
  factoryName:
    description: The factory name.
    in: path
    maxLength: 63
    minLength: 3
    name: factoryName
    pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
    required: true
    type: string
    x-ms-parameter-location: method
  integrationRuntimeName:
    description: The integration runtime name.
    in: path
    maxLength: 63
    minLength: 3
    name: integrationRuntimeName
    pattern: ^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$
    required: true
    type: string
    x-ms-parameter-location: method
  linkedServiceName:
    description: The linked service name.
    in: path
    maxLength: 260
    minLength: 1
    name: linkedServiceName
    pattern: ^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$
    required: true
    type: string
    x-ms-parameter-location: method
  locationId:
    description: The location identifier.
    in: path
    name: locationId
    required: true
    type: string
    x-ms-parameter-location: method
  nodeName:
    description: The integration runtime node name.
    in: path
    maxLength: 150
    minLength: 1
    name: nodeName
    pattern: ^[a-z0-9A-Z][a-z0-9A-Z_-]{0,149}$
    required: true
    type: string
    x-ms-parameter-location: method
  pipelineName:
    description: The pipeline name.
    in: path
    maxLength: 260
    minLength: 1
    name: pipelineName
    pattern: ^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$
    required: true
    type: string
    x-ms-parameter-location: method
  rerunTriggerName:
    description: The rerun trigger name.
    in: path
    maxLength: 260
    minLength: 1
    name: rerunTriggerName
    pattern: ^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$
    required: true
    type: string
    x-ms-parameter-location: method
  resourceGroupName:
    description: The resource group name.
    in: path
    maxLength: 90
    minLength: 1
    name: resourceGroupName
    pattern: ^[-\w\._\(\)]+$
    required: true
    type: string
    x-ms-parameter-location: method
  runId:
    description: The pipeline run identifier.
    in: path
    name: runId
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionId:
    description: The subscription identifier.
    in: path
    name: subscriptionId
    required: true
    type: string
  triggerName:
    description: The trigger name.
    in: path
    maxLength: 260
    minLength: 1
    name: triggerName
    pattern: ^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  /providers/Microsoft.DataFactory/operations:
    get:
      description: Lists the available Azure Data Factory API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/OperationListResponse"
        default:
          description: An error response received from the Azure Data Factory service.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - operations
      x-ms-examples:
        Operations_List:
          parameters:
            api-version: 2018-06-01
            subscriptionId: 12345678-1234-1234-1234-12345678abc
          responses:
            "200":
              body:
                value:
                  - display:
                      description: Gets the available metrics for datafactories
                      operation: Read datafactories metric definitions
                      provider: Microsoft.DataFactory
                      resource: datafactories
                    name: Microsoft.DataFactory/datafactories/providers/Microsoft.Insights/metricDefinitions/read
                    origin: system
                    properties:
                      serviceSpecification:
                        metricSpecifications:
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: P1D
                                timeGrain: PT1H
                            dimensions:
                              - displayName: Pipeline
                                name: pipelineName
                                toBeExportedForShoebox: true
                              - displayName: Activity
                                name: activityName
                                toBeExportedForShoebox: true
                              - displayName: Window End
                                name: windowEnd
                                toBeExportedForShoebox: true
                              - displayName: Window Start
                                name: windowStart
                                toBeExportedForShoebox: true
                            displayName: Failed Runs
                            enableRegionalMdmAccount: "false"
                            name: FailedRuns
                            sourceMdmAccount: MicrosoftDataFactoryProdShoebox
                            sourceMdmNamespace: ADFMetricsV1
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: P1D
                                timeGrain: PT1H
                            dimensions:
                              - displayName: Pipeline
                                name: pipelineName
                                toBeExportedForShoebox: true
                              - displayName: Activity
                                name: activityName
                                toBeExportedForShoebox: true
                              - displayName: Window End
                                name: windowEnd
                                toBeExportedForShoebox: true
                              - displayName: Window Start
                                name: windowStart
                                toBeExportedForShoebox: true
                            displayName: Successful Runs
                            enableRegionalMdmAccount: "false"
                            name: SuccessfulRuns
                            sourceMdmAccount: MicrosoftDataFactoryProdShoebox
                            sourceMdmNamespace: ADFMetricsV1
                            unit: Count
                  - display:
                      description: Gets the diagnostic setting for the resource
                      operation: Read diagnostic setting
                      provider: Microsoft.DataFactory
                      resource: datafactories
                    name: Microsoft.DataFactory/datafactories/providers/Microsoft.Insights/diagnosticSettings/read
                    origin: system
                  - display:
                      description: Creates or updates the diagnostic setting for the resource
                      operation: Write diagnostic setting
                      provider: Microsoft.DataFactory
                      resource: datafactories
                    name: Microsoft.DataFactory/datafactories/providers/Microsoft.Insights/diagnosticSettings/write
                    origin: system
                  - display:
                      description: Gets the available logs for factories
                      operation: Read factories log definitions
                      provider: Microsoft.DataFactory
                      resource: The log definition of factories
                    name: Microsoft.DataFactory/factories/providers/Microsoft.Insights/logDefinitions/read
                    origin: system
                    properties:
                      serviceSpecification:
                        logSpecifications:
                          - blobDuration: PT1H
                            displayName: Pipeline activity runs log
                            name: ActivityRuns
                          - blobDuration: PT1H
                            displayName: Pipeline runs log
                            name: PipelineRuns
                          - blobDuration: PT1H
                            displayName: Trigger runs log
                            name: TriggerRuns
                  - display:
                      description: Gets the diagnostic setting for the resource
                      operation: Read diagnostic setting
                      provider: Microsoft.DataFactory
                      resource: factories
                    name: Microsoft.DataFactory/factories/providers/Microsoft.Insights/diagnosticSettings/read
                    origin: system
                  - display:
                      description: Creates or updates the diagnostic setting for the resource
                      operation: Write diagnostic setting
                      provider: Microsoft.DataFactory
                      resource: factories
                    name: Microsoft.DataFactory/factories/providers/Microsoft.Insights/diagnosticSettings/write
                    origin: system
                  - display:
                      description: Gets the available metrics for factories
                      operation: Read metric definitions
                      provider: Microsoft.DataFactory
                      resource: factories
                    name: Microsoft.DataFactory/factories/providers/Microsoft.Insights/metricDefinitions/read
                    origin: system
                    properties:
                      serviceSpecification:
                        metricSpecifications:
                          - aggregationType: Total
                            dimensions:
                              - displayName: Failure Type
                                name: FailureType
                                toBeExportedForShoebox: true
                              - displayName: Pipeline
                                name: Name
                                toBeExportedForShoebox: true
                            displayName: Failed pipeline runs metrics
                            enableRegionalMdmAccount: "false"
                            name: PipelineFailedRuns
                            sourceMdmAccount: MicrosoftDataFactoryProdShoebox
                            sourceMdmNamespace: ADFMetrics
                            unit: Count
                          - aggregationType: Total
                            dimensions:
                              - displayName: Failure Type
                                name: FailureType
                                toBeExportedForShoebox: true
                              - displayName: Pipeline
                                name: Name
                                toBeExportedForShoebox: true
                            displayName: Succeeded pipeline runs metrics
                            enableRegionalMdmAccount: "false"
                            name: PipelineSucceededRuns
                            sourceMdmAccount: MicrosoftDataFactoryProdShoebox
                            sourceMdmNamespace: ADFMetrics
                            unit: Count
                          - aggregationType: Total
                            dimensions:
                              - displayName: Activity Type
                                name: ActivityType
                                toBeExportedForShoebox: true
                              - displayName: Pipeline
                                name: PipelineName
                                toBeExportedForShoebox: true
                              - displayName: Failure Type
                                name: FailureType
                                toBeExportedForShoebox: true
                              - displayName: Activity
                                name: Name
                                toBeExportedForShoebox: true
                            displayName: Failed activity runs metrics
                            enableRegionalMdmAccount: "false"
                            name: ActivityFailedRuns
                            sourceMdmAccount: MicrosoftDataFactoryProdShoebox
                            sourceMdmNamespace: ADFMetrics
                            unit: Count
                          - aggregationType: Total
                            dimensions:
                              - displayName: Activity Type
                                name: ActivityType
                                toBeExportedForShoebox: true
                              - displayName: Pipeline
                                name: PipelineName
                                toBeExportedForShoebox: true
                              - displayName: Failure Type
                                name: FailureType
                                toBeExportedForShoebox: true
                              - displayName: Activity
                                name: Name
                                toBeExportedForShoebox: true
                            displayName: Succeeded activity runs metrics
                            enableRegionalMdmAccount: "false"
                            name: ActivitySucceededRuns
                            sourceMdmAccount: MicrosoftDataFactoryProdShoebox
                            sourceMdmNamespace: ADFMetrics
                            unit: Count
                          - aggregationType: Total
                            dimensions:
                              - displayName: Trigger
                                name: Name
                                toBeExportedForShoebox: true
                              - displayName: Failure Type
                                name: FailureType
                                toBeExportedForShoebox: true
                            displayName: Failed trigger runs metrics
                            enableRegionalMdmAccount: "false"
                            name: TriggerFailedRuns
                            sourceMdmAccount: MicrosoftDataFactoryProdShoebox
                            sourceMdmNamespace: ADFMetrics
                            unit: Count
                          - aggregationType: Total
                            dimensions:
                              - displayName: Trigger
                                name: Name
                                toBeExportedForShoebox: true
                              - displayName: Failure Type
                                name: FailureType
                                toBeExportedForShoebox: true
                            displayName: Succeeded trigger runs metrics
                            enableRegionalMdmAccount: "false"
                            name: TriggerSucceededRuns
                            sourceMdmAccount: MicrosoftDataFactoryProdShoebox
                            sourceMdmNamespace: ADFMetrics
                            unit: Count
                          - aggregationType: Average
                            dimensions:
                              - displayName: Integration Runtime
                                name: IntegrationRuntimeName
                                toBeExportedForShoebox: true
                              - displayName: Integration Runtime Node
                                name: NodeName
                                toBeExportedForShoebox: true
                            displayName: Integration runtime CPU utilization
                            enableRegionalMdmAccount: "false"
                            name: IntegrationRuntimeCpuPercentage
                            sourceMdmAccount: MicrosoftDataFactoryProdShoebox
                            sourceMdmNamespace: ADFMetrics
                            unit: Percent
                          - aggregationType: Average
                            dimensions:
                              - displayName: Integration Runtime
                                name: IntegrationRuntimeName
                                toBeExportedForShoebox: true
                              - displayName: Integration Runtime Node
                                name: NodeName
                                toBeExportedForShoebox: true
                            displayName: Integration runtime available memory
                            enableRegionalMdmAccount: "false"
                            name: IntegrationRuntimeAvailableMemory
                            sourceMdmAccount: MicrosoftDataFactoryProdShoebox
                            sourceMdmNamespace: ADFMetrics
                            unit: Bytes
                  - display:
                      description: Registers the subscription for the Data Factory Resource Provider.
                      operation: Register Data Factory Resource Provider
                      provider: Microsoft Data Factory
                      resource: Data Factory Resource Provider
                    name: Microsoft.DataFactory/register/action
                  - display:
                      description: Unregisters the subscription for the Data Factory Resource Provider.
                      operation: Unregister Data Factory Resource Provider
                      provider: Microsoft Data Factory
                      resource: Data Factory Resource Provider
                    name: Microsoft.DataFactory/unregister/action
                  - display:
                      description: Reads the Data Factory.
                      operation: Read Data Factory
                      provider: Microsoft Data Factory
                      resource: Data Factory
                    name: Microsoft.DataFactory/datafactories/read
                  - display:
                      description: Creates or Updates the Data Factory.
                      operation: Create or Update Data Factory
                      provider: Microsoft Data Factory
                      resource: Data Factory
                    name: Microsoft.DataFactory/datafactories/write
                  - display:
                      description: Deletes the Data Factory.
                      operation: Delete Data Factory
                      provider: Microsoft Data Factory
                      resource: Data Factory
                    name: Microsoft.DataFactory/datafactories/delete
                  - display:
                      description: Reads any Linked Service.
                      operation: Read Linked Service
                      provider: Microsoft Data Factory
                      resource: Linked Service
                    name: Microsoft.DataFactory/datafactories/linkedServices/read
                  - display:
                      description: Deletes any Linked Service.
                      operation: Delete Linked Service
                      provider: Microsoft Data Factory
                      resource: Linked Service
                    name: Microsoft.DataFactory/datafactories/linkedServices/delete
                  - display:
                      description: Creates or Updates any Linked Service.
                      operation: Create or Update Linked Service
                      provider: Microsoft Data Factory
                      resource: Linked Service
                    name: Microsoft.DataFactory/datafactories/linkedServices/write
                  - display:
                      description: Reads any Pipeline.
                      operation: Read Pipeline
                      provider: Microsoft Data Factory
                      resource: Pipeline
                    name: Microsoft.DataFactory/datafactories/datapipelines/read
                  - display:
                      description: Deletes any Pipeline.
                      operation: Delete Pipeline
                      provider: Microsoft Data Factory
                      resource: Pipeline
                    name: Microsoft.DataFactory/datafactories/datapipelines/delete
                  - display:
                      description: Pauses any Pipeline.
                      operation: Pause Pipeline
                      provider: Microsoft Data Factory
                      resource: Pipeline
                    name: Microsoft.DataFactory/datafactories/datapipelines/pause/action
                  - display:
                      description: Resumes any Pipeline.
                      operation: Resume Pipeline
                      provider: Microsoft Data Factory
                      resource: Pipeline
                    name: Microsoft.DataFactory/datafactories/datapipelines/resume/action
                  - display:
                      description: Updates any Pipeline.
                      operation: Update Pipeline
                      provider: Microsoft Data Factory
                      resource: Pipeline
                    name: Microsoft.DataFactory/datafactories/datapipelines/update/action
                  - display:
                      description: Creates or Updates any Pipeline.
                      operation: Create or Update Pipeline
                      provider: Microsoft Data Factory
                      resource: Pipeline
                    name: Microsoft.DataFactory/datafactories/datapipelines/write
                  - display:
                      description: Reads any Dataset.
                      operation: Read Dataset
                      provider: Microsoft Data Factory
                      resource: Dataset
                    name: Microsoft.DataFactory/datafactories/datasets/read
                  - display:
                      description: Deletes any Dataset.
                      operation: Delete Dataset
                      provider: Microsoft Data Factory
                      resource: Dataset
                    name: Microsoft.DataFactory/datafactories/datasets/delete
                  - display:
                      description: Creates or Updates any Dataset.
                      operation: Create or Update Dataset
                      provider: Microsoft Data Factory
                      resource: Dataset
                    name: Microsoft.DataFactory/datafactories/datasets/write
                  - display:
                      description: Reads any Dataset.
                      operation: Read Dataset
                      provider: Microsoft Data Factory
                      resource: Dataset
                    name: Microsoft.DataFactory/datafactories/tables/read
                  - display:
                      description: Deletes any Dataset.
                      operation: Delete Dataset
                      provider: Microsoft Data Factory
                      resource: Dataset
                    name: Microsoft.DataFactory/datafactories/tables/delete
                  - display:
                      description: Creates or Updates any Dataset.
                      operation: Create or Update Dataset
                      provider: Microsoft Data Factory
                      resource: Dataset
                    name: Microsoft.DataFactory/datafactories/tables/write
                  - display:
                      description: Gets the Data Slices in the given period.
                      operation: Read Data Slices
                      provider: Microsoft Data Factory
                      resource: Data Slice
                    name: Microsoft.DataFactory/datafactories/datasets/slices/read
                  - display:
                      description: Update the Status of the Data Slice.
                      operation: Update Data Slice Status
                      provider: Microsoft Data Factory
                      resource: Data Slice
                    name: Microsoft.DataFactory/datafactories/datasets/slices/write
                  - display:
                      description: Reads the Data Slice Run for the given dataset with the given start time.
                      operation: Read Data Slice Run
                      provider: Microsoft Data Factory
                      resource: Data Slice
                    name: Microsoft.DataFactory/datafactories/datasets/sliceruns/read
                  - display:
                      description: Reads a SAS URI to a blob container containing the logs.
                      operation: Read Run Log Info
                      provider: Microsoft Data Factory
                      resource: Run Log
                    name: Microsoft.DataFactory/datafactories/runs/loginfo/read
                  - display:
                      description: Reads Activity Windows in the Data Factory with specified parameters.
                      operation: Read Activity Windows in any Data Factory
                      provider: Microsoft Data Factory
                      resource: Activity Windows
                    name: Microsoft.DataFactory/datafactories/activitywindows/read
                  - display:
                      description: Reads Activity Windows for the Pipeline with specified parameters.
                      operation: Read Activity Windows for any Pipeline
                      provider: Microsoft Data Factory
                      resource: Activity Windows
                    name: Microsoft.DataFactory/datafactories/datapipelines/activitywindows/read
                  - display:
                      description: Reads Activity Windows for the Pipeline Activity with specified parameters.
                      operation: Read Activity Windows for any Pipeline Activity
                      provider: Microsoft Data Factory
                      resource: Activity Windows
                    name: Microsoft.DataFactory/datafactories/datapipelines/activities/activitywindows/read
                  - display:
                      description: Reads Activity Windows for the Dataset with specified parameters.
                      operation: Read Activity Windows for any Dataset
                      provider: Microsoft Data Factory
                      resource: Activity Windows
                    name: Microsoft.DataFactory/datafactories/datasets/activitywindows/read
                  - display:
                      description: Reads any Gateway.
                      operation: Read Gateway
                      provider: Microsoft Data Factory
                      resource: Gateway
                    name: Microsoft.DataFactory/datafactories/gateways/read
                  - display:
                      description: Creates or Updates any Gateway.
                      operation: Create or Update Gateway
                      provider: Microsoft Data Factory
                      resource: Gateway
                    name: Microsoft.DataFactory/datafactories/gateways/write
                  - display:
                      description: Deletes any Gateway.
                      operation: Delete Gateway
                      provider: Microsoft Data Factory
                      resource: Gateway
                    name: Microsoft.DataFactory/datafactories/gateways/delete
                  - display:
                      description: Reads the Connection Info for any Gateway.
                      operation: Read Gateway Connection Info
                      provider: Microsoft Data Factory
                      resource: Gateway
                    name: Microsoft.DataFactory/datafactories/gateways/connectioninfo/action
                  - display:
                      description: Lists the Authentication Keys for any Gateway.
                      operation: List Gateway Authentication Keys
                      provider: Microsoft Data Factory
                      resource: Gateway
                    name: Microsoft.DataFactory/datafactories/gateways/listauthkeys/action
                  - display:
                      description: Regenerates the Authentication Keys for any Gateway.
                      operation: Regenerate Gateway Authentication Keys
                      provider: Microsoft Data Factory
                      resource: Gateway
                    name: Microsoft.DataFactory/datafactories/gateways/regenerateauthkey/action
                  - display:
                      description: Reads Data Factory.
                      operation: Read Data Factory
                      provider: Microsoft Data Factory
                      resource: Data Factory
                    name: Microsoft.DataFactory/factories/read
                  - display:
                      description: Create or Update Data Factory
                      operation: Create or Update any Data Factory.
                      provider: Microsoft Data Factory
                      resource: Data Factory
                    name: Microsoft.DataFactory/factories/write
                  - display:
                      description: Deletes Data Factory.
                      operation: Delete Data Factory
                      provider: Microsoft Data Factory
                      resource: Data Factory
                    name: Microsoft.DataFactory/factories/delete
                  - display:
                      description: Reads Linked Service.
                      operation: Read Linked Service
                      provider: Microsoft Data Factory
                      resource: Linked Service
                    name: Microsoft.DataFactory/factories/linkedServices/read
                  - display:
                      description: Deletes Linked Service.
                      operation: Delete Linked Service
                      provider: Microsoft Data Factory
                      resource: Linked Service
                    name: Microsoft.DataFactory/factories/linkedServices/delete
                  - display:
                      description: Create or Update Linked Service
                      operation: Create or Update any Linked Service.
                      provider: Microsoft Data Factory
                      resource: Linked Service
                    name: Microsoft.DataFactory/factories/linkedServices/write
                  - display:
                      description: Reads Pipeline.
                      operation: Read Pipeline
                      provider: Microsoft Data Factory
                      resource: Pipeline
                    name: Microsoft.DataFactory/factories/pipelines/read
                  - display:
                      description: Deletes Pipeline.
                      operation: Delete Pipeline
                      provider: Microsoft Data Factory
                      resource: Pipeline
                    name: Microsoft.DataFactory/factories/pipelines/delete
                  - display:
                      description: Create or Update Pipeline
                      operation: Create or Update any Pipeline.
                      provider: Microsoft Data Factory
                      resource: Pipeline
                    name: Microsoft.DataFactory/factories/pipelines/write
                  - display:
                      description: Creates a run for the Pipeline.
                      operation: Create Pipeline Run
                      provider: Microsoft Data Factory
                      resource: Pipeline
                    name: Microsoft.DataFactory/factories/pipelines/createrun/action
                  - display:
                      description: Cancels the pipeline run specified by the run ID.
                      operation: Cancel any Pipeline Run
                      provider: Microsoft Data Factory
                      resource: Data Factory
                    name: Microsoft.DataFactory/factories/cancelpipelinerun/action
                  - display:
                      description: Reads the Pipeline Runs.
                      operation: Read Pipeline Runs
                      provider: Microsoft Data Factory
                      resource: Data Factory
                    name: Microsoft.DataFactory/factories/pipelineruns/read
                  - display:
                      description: Reads the activity runs for the specified pipeline run ID.
                      operation: Read Activity Runs
                      provider: Microsoft Data Factory
                      resource: Data Factory
                    name: Microsoft.DataFactory/factories/pipelineruns/activityruns/read
                  - display:
                      description: Reads any Dataset.
                      operation: Read Dataset
                      provider: Microsoft Data Factory
                      resource: Dataset
                    name: Microsoft.DataFactory/factories/datasets/read
                  - display:
                      description: Deletes any Dataset.
                      operation: Delete Dataset
                      provider: Microsoft Data Factory
                      resource: Dataset
                    name: Microsoft.DataFactory/factories/datasets/delete
                  - display:
                      description: Creates or Updates any Dataset.
                      operation: Create or Update Dataset
                      provider: Microsoft Data Factory
                      resource: Dataset
                    name: Microsoft.DataFactory/factories/datasets/write
                  - display:
                      description: Reads any Integration Runtime.
                      operation: Read Integration Runtime
                      provider: Microsoft Data Factory
                      resource: Integration Runtime
                    name: Microsoft.DataFactory/factories/integrationruntimes/read
                  - display:
                      description: Creates or Updates any Integration Runtime.
                      operation: Create or Update Integration Runtime
                      provider: Microsoft Data Factory
                      resource: Integration Runtime
                    name: Microsoft.DataFactory/factories/integrationruntimes/write
                  - display:
                      description: Deletes any Integration Runtime.
                      operation: Delete Integration Runtime
                      provider: Microsoft Data Factory
                      resource: Integration Runtime
                    name: Microsoft.DataFactory/factories/integrationruntimes/delete
                  - display:
                      description: Starts any Integration Runtime.
                      operation: Start Integration Runtime
                      provider: Microsoft Data Factory
                      resource: Integration Runtime
                    name: Microsoft.DataFactory/factories/integrationruntimes/start/action
                  - display:
                      description: Stops any Integration Runtime.
                      operation: Stop Integration Runtime
                      provider: Microsoft Data Factory
                      resource: Integration Runtime
                    name: Microsoft.DataFactory/factories/integrationruntimes/stop/action
                  - display:
                      description: Reads Integration Runtime Connection Info.
                      operation: Read Integration Runtime Connection Info
                      provider: Microsoft Data Factory
                      resource: Integration Runtime
                    name: Microsoft.DataFactory/factories/integrationruntimes/getconnectioninfo/read
                  - display:
                      description: Reads Integration Runtime Status.
                      operation: Read Integration Runtime Status
                      provider: Microsoft Data Factory
                      resource: Integration Runtime
                    name: Microsoft.DataFactory/factories/integrationruntimes/getstatus/read
                  - display:
                      description: Lists the Authentication Keys for any Integration Runtime.
                      operation: List Integration Runtime Authentication Keys
                      provider: Microsoft Data Factory
                      resource: Integration Runtime
                    name: Microsoft.DataFactory/factories/integrationruntimes/listauthkeys/read
                  - display:
                      description: Gets the Monitoring Data for any Integration Runtime.
                      operation: Get Integration Runtime Monitoring Data
                      provider: Microsoft Data Factory
                      resource: Integration Runtime
                    name: Microsoft.DataFactory/factories/integrationruntimes/monitoringdata/read
                  - display:
                      description: Deletes the Node for the specified Integration Runtime.
                      operation: Delete Integration Runtime Node
                      provider: Microsoft Data Factory
                      resource: Integration Runtime
                    name: Microsoft.DataFactory/factories/integrationruntimes/nodes/delete
                  - display:
                      description: Updates a self-hosted Integration Runtime Node.
                      operation: Update Integration Runtime Node
                      provider: Microsoft Data Factory
                      resource: Integration Runtime
                    name: Microsoft.DataFactory/factories/integrationruntimes/nodes/write
                  - display:
                      description: Returns the IP Address for the specified node of the Integration Runtime.
                      operation: Read Integration Runtime Node IP Address
                      provider: Microsoft Data Factory
                      resource: Integration Runtime
                    name: Microsoft.DataFactory/factories/integrationruntimes/nodes/ipAddress/action
                  - display:
                      description: Syncs the Credentials for the specified Integration Runtime.
                      operation: Sync Credentials for Integration Runtime
                      provider: Microsoft Data Factory
                      resource: Integration Runtime
                    name: Microsoft.DataFactory/factories/integrationruntimes/synccredentials/action
                  - display:
                      description: Upgrades the specified Integration Runtime.
                      operation: Upgrade Integration Runtime
                      provider: Microsoft Data Factory
                      resource: Integration Runtime
                    name: Microsoft.DataFactory/factories/integrationruntimes/upgrade/action
                  - display:
                      description: Regenerates the Authentication Keys for the specified Integration Runtime.
                      operation: Regenerate Integration Runtime Authentication Keys
                      provider: Microsoft Data Factory
                      resource: Integration Runtime
                    name: Microsoft.DataFactory/factories/integrationruntimes/regenerateauthkey/action
                  - display:
                      description: Reads any Trigger.
                      operation: Read Trigger
                      provider: Microsoft Data Factory
                      resource: Trigger
                    name: Microsoft.DataFactory/factories/triggers/read
                  - display:
                      description: Creates or Updates any Trigger.
                      operation: Create or Update Trigger
                      provider: Microsoft Data Factory
                      resource: Trigger
                    name: Microsoft.DataFactory/factories/triggers/write
                  - display:
                      description: Deletes any Trigger.
                      operation: Delete Trigger
                      provider: Microsoft Data Factory
                      resource: Trigger
                    name: Microsoft.DataFactory/factories/triggers/delete
                  - display:
                      description: Starts any Trigger.
                      operation: Start Trigger
                      provider: Microsoft Data Factory
                      resource: Trigger
                    name: Microsoft.DataFactory/factories/triggers/start/action
                  - display:
                      description: Stops any Trigger.
                      operation: Stop Trigger
                      provider: Microsoft Data Factory
                      resource: Trigger
                    name: Microsoft.DataFactory/factories/triggers/stop/action
                  - display:
                      description: Reads the Trigger Runs.
                      operation: Read Trigger Runs
                      provider: Microsoft Data Factory
                      resource: Data Factory
                    name: Microsoft.DataFactory/factories/triggers/triggerruns/read
                  - display:
                      description: Configures the repository for the factory.
                      operation: Configure Factory Repository
                      provider: Microsoft Data Factory
                      resource: Data Factory
                    name: Microsoft.DataFactory/locations/configureFactoryRepo/action
              headers:
                Date: Sat, 16 Jun 2018 00:46:33 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 522fceaa-5c3b-42ff-a518-843b2a53e0aa
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: 522fceaa-5c3b-42ff-a518-843b2a53e0aa
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.DataFactory/factories":
    get:
      description: Lists factories under the specified subscription.
      operationId: Factories_List
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/FactoryListResponse"
        default:
          description: An error response received from the Azure Data Factory service.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - factories
      x-ms-examples:
        Factories_List:
          parameters:
            api-version: 2018-06-01
            subscriptionId: 12345678-1234-1234-1234-12345678abc
          responses:
            "200":
              body:
                value:
                  - eTag: '"0000aa0d-0000-0000-0000-5b0d58170000"'
                    id: /subscriptions/12345678-1234-1234-1234-12345678abc/resourceGroups/rg-yanzhang-dfv2/providers/Microsoft.DataFactory/factories/rpv2origdf-72c7d3d4-5e17-4ec6-91de-9ab433f15e79
                    identity:
                      principalId: 399c3de2-6072-4326-bfa9-4d0c116f1a7b
                      tenantId: 12345678-1234-1234-1234-123456789abc
                      type: SystemAssigned
                    location: East US
                    name: rpV2OrigDF-72c7d3d4-5e17-4ec6-91de-9ab433f15e79
                    properties:
                      createTime: 2018-05-29T13:39:35.615921Z
                      provisioningState: Succeeded
                      version: 2017-09-01-preview
                    tags: {}
                    type: Microsoft.DataFactory/factories
                  - eTag: '"0000f301-0000-0000-0000-5b21b16c0000"'
                    id: /subscriptions/12345678-1234-1234-1234-12345678abc/resourceGroups/rg-yanzhang-dfv2/providers/Microsoft.DataFactory/factories/df-dogfood-yanzhang-we
                    identity:
                      principalId: e8dd6df9-bad5-4dea-8fb8-0d13d1845d9e
                      tenantId: 12345678-1234-1234-1234-123456789abc
                      type: SystemAssigned
                    location: West Europe
                    name: df-dogfood-yanzhang-we
                    properties:
                      createTime: 2018-06-14T00:06:04.6667461Z
                      provisioningState: Succeeded
                      version: 2017-09-01-preview
                    tags: {}
                    type: Microsoft.DataFactory/factories
                  - eTag: '"00008a02-0000-0000-0000-5b237f270000"'
                    id: /subscriptions/12345678-1234-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataFactory/factories/exampleFactoryName-linked
                    identity:
                      principalId: 10743799-44d2-42fe-8c4d-5bc5c51c0684
                      tenantId: 12345678-1234-1234-1234-123456789abc
                      type: SystemAssigned
                    location: East US
                    name: exampleFactoryName-linked
                    properties:
                      createTime: 2018-06-15T08:56:07.1828318Z
                      provisioningState: Succeeded
                      version: 2017-09-01-preview
                    tags: {}
                    type: Microsoft.DataFactory/factories
                  - eTag: '"00003d04-0000-0000-0000-5b28962f0000"'
                    id: /subscriptions/12345678-1234-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataFactory/factories/factorytoupgrade
                    location: East US
                    name: FactoryToUpgrade
                    properties:
                      createTime: 2018-06-19T05:35:35.7133828Z
                      provisioningState: Succeeded
                      version: 2018-06-01
                    tags: {}
                    type: Microsoft.DataFactory/factories
                  - eTag: '"00004004-0000-0000-0000-5b28979e0000"'
                    id: /subscriptions/12345678-1234-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataFactory/factories/exampleFactoryName
                    location: East US
                    name: exampleFactoryName
                    properties:
                      createTime: 2018-06-19T05:41:50.0041314Z
                      provisioningState: Succeeded
                      repoConfiguration:
                        accountName: ADF
                        collaborationBranch: master
                        lastCommitId: ""
                        projectName: project
                        repositoryName: repo
                        rootFolder: /
                        tenantId: ""
                        type: FactoryVSTSConfiguration
                      version: 2018-06-01
                    tags:
                      exampleTag: exampleValue
                    type: Microsoft.DataFactory/factories
                  - eTag: '"0000aa0d-0000-0000-0000-5b0d58170000"'
                    id: /subscriptions/12345678-1234-1234-1234-12345678abc/resourceGroups/rg-yanzhang-dfv2/providers/Microsoft.DataFactory/factories/rpv2origdf-72c7d3d4-5e17-4ec6-91de-9ab433f15e79
                    identity:
                      principalId: 399c3de2-6072-4326-bfa9-4d0c116f1a7b
                      tenantId: 12345678-1234-1234-1234-123456789abc
                      type: SystemAssigned
                    location: East US
                    name: rpV2OrigDF-72c7d3d4-5e17-4ec6-91de-9ab433f15e79
                    properties:
                      createTime: 2018-05-29T13:39:35.615921Z
                      provisioningState: Succeeded
                      version: 2017-09-01-preview
                    tags: {}
                    type: Microsoft.DataFactory/factories
                  - eTag: '"0000f301-0000-0000-0000-5b21b16c0000"'
                    id: /subscriptions/12345678-1234-1234-1234-12345678abc/resourceGroups/rg-yanzhang-dfv2/providers/Microsoft.DataFactory/factories/df-dogfood-yanzhang-we
                    identity:
                      principalId: e8dd6df9-bad5-4dea-8fb8-0d13d1845d9e
                      tenantId: 12345678-1234-1234-1234-123456789abc
                      type: SystemAssigned
                    location: West Europe
                    name: df-dogfood-yanzhang-we
                    properties:
                      createTime: 2018-06-14T00:06:04.6667461Z
                      provisioningState: Succeeded
                      version: 2017-09-01-preview
                    tags: {}
                    type: Microsoft.DataFactory/factories
                  - eTag: '"00008a02-0000-0000-0000-5b237f270000"'
                    id: /subscriptions/12345678-1234-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataFactory/factories/exampleFactoryName-linked
                    identity:
                      principalId: 10743799-44d2-42fe-8c4d-5bc5c51c0684
                      tenantId: 12345678-1234-1234-1234-123456789abc
                      type: SystemAssigned
                    location: East US
                    name: exampleFactoryName-linked
                    properties:
                      createTime: 2018-06-15T08:56:07.1828318Z
                      provisioningState: Succeeded
                      version: 2017-09-01-preview
                    tags: {}
                    type: Microsoft.DataFactory/factories
                  - eTag: '"00003d04-0000-0000-0000-5b28962f0000"'
                    id: /subscriptions/12345678-1234-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataFactory/factories/factorytoupgrade
                    location: East US
                    name: FactoryToUpgrade
                    properties:
                      createTime: 2018-06-19T05:35:35.7133828Z
                      provisioningState: Succeeded
                      version: 2018-06-01
                    tags: {}
                    type: Microsoft.DataFactory/factories
                  - eTag: '"00004004-0000-0000-0000-5b28979e0000"'
                    id: /subscriptions/12345678-1234-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataFactory/factories/exampleFactoryName
                    location: East US
                    name: exampleFactoryName
                    properties:
                      createTime: 2018-06-19T05:41:50.0041314Z
                      provisioningState: Succeeded
                      repoConfiguration:
                        accountName: ADF
                        collaborationBranch: master
                        lastCommitId: ""
                        projectName: project
                        repositoryName: repo
                        rootFolder: /
                        tenantId: ""
                        type: FactoryVSTSConfiguration
                      version: 2018-06-01
                    tags:
                      exampleTag: exampleValue
                    type: Microsoft.DataFactory/factories
              headers:
                Date: Tue, 19 Jun 2018 05:41:51 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 533da6af-ad1a-4f89-ae04-d55e9c72b89d
                x-ms-ratelimit-remaining-subscription-reads: "14992"
                x-ms-request-id: 533da6af-ad1a-4f89-ae04-d55e9c72b89d
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.DataFactory/locations/{locationId}/configureFactoryRepo":
    post:
      description: Updates a factory's repo information.
      operationId: Factories_ConfigureFactoryRepo
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/locationId"
        - $ref: "#/parameters/api-version"
        - description: Update factory repo request definition.
          in: body
          name: factoryRepoUpdate
          required: true
          schema:
            $ref: "#/definitions/FactoryRepoUpdate"
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/Factory"
        default:
          description: An error response received from the Azure Data Factory service.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - factories
      x-ms-examples:
        Factories_ConfigureFactoryRepo:
          parameters:
            api-version: 2018-06-01
            factoryRepoUpdate:
              factoryResourceId: /subscriptions/12345678-1234-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataFactory/factories/exampleFactoryName
              repoConfiguration:
                accountName: ADF
                collaborationBranch: master
                lastCommitId: ""
                projectName: project
                repositoryName: repo
                rootFolder: /
                tenantId: ""
                type: FactoryVSTSConfiguration
            locationId: East US
            subscriptionId: 12345678-1234-1234-1234-12345678abc
          responses:
            "200":
              body:
                eTag: '"00004004-0000-0000-0000-5b28979e0000"'
                id: /subscriptions/12345678-1234-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataFactory/factories/exampleFactoryName
                location: East US
                name: exampleFactoryName
                properties:
                  createTime: 2018-06-19T05:41:50.0041314Z
                  provisioningState: Succeeded
                  repoConfiguration:
                    accountName: ADF
                    collaborationBranch: master
                    lastCommitId: ""
                    projectName: project
                    repositoryName: repo
                    rootFolder: /
                    tenantId: ""
                    type: FactoryVSTSConfiguration
                  version: 2018-06-01
                tags:
                  exampleTag: exampleValue
                type: Microsoft.DataFactory/factories
              headers:
                Date: Tue, 19 Jun 2018 05:41:50 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: c63640bd-3e5f-4ee0-bae1-cea74f761a7d
                x-ms-ratelimit-remaining-subscription-writes: "1191"
                x-ms-request-id: c63640bd-3e5f-4ee0-bae1-cea74f761a7d
  "/subscriptions/{subscriptionId}/providers/Microsoft.DataFactory/locations/{locationId}/getFeatureValue":
    post:
      description: Get exposure control feature for specific location.
      operationId: ExposureControl_GetFeatureValue
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/locationId"
        - $ref: "#/parameters/api-version"
        - description: The exposure control request.
          in: body
          name: exposureControlRequest
          required: true
          schema:
            $ref: "#/definitions/ExposureControlRequest"
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/ExposureControlResponse"
        default:
          description: An error response received from the Azure Data Factory service.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - exposureControl
      x-ms-examples:
        ExposureControl_GetFeatureValue:
          parameters:
            api-version: 2018-06-01
            exposureControlRequest:
              featureName: ADFIntegrationRuntimeSharingRbac
              featureType: Feature
            locationId: WestEurope
            subscriptionId: 12345678-1234-1234-1234-12345678abc
          responses:
            "200":
              body:
                featureName: ADFIntegrationRuntimeSharingRbac
                value: "False"
              headers:
                Date: Sat, 22 Dec 2018 09:46:07 GMT
                X-Content-Type-Options: nosniff
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories":
    get:
      description: Lists factories.
      operationId: Factories_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/FactoryListResponse"
        default:
          description: An error response received from the Azure Data Factory service.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - factories
      x-ms-examples:
        Factories_ListByResourceGroup:
          parameters:
            api-version: 2018-06-01
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-1234-12345678abc
          responses:
            "200":
              body:
                value:
                  - eTag: '"00008a02-0000-0000-0000-5b237f270000"'
                    id: /subscriptions/12345678-1234-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataFactory/factories/exampleFactoryName-linked
                    identity:
                      principalId: 10743799-44d2-42fe-8c4d-5bc5c51c0684
                      tenantId: 12345678-1234-1234-1234-123456789abc
                      type: SystemAssigned
                    location: East US
                    name: exampleFactoryName-linked
                    properties:
                      createTime: 2018-06-15T08:56:07.1828318Z
                      provisioningState: Succeeded
                      version: 2017-09-01-preview
                    tags: {}
                    type: Microsoft.DataFactory/factories
                  - eTag: '"00003d04-0000-0000-0000-5b28962f0000"'
                    id: /subscriptions/12345678-1234-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataFactory/factories/factorytoupgrade
                    location: East US
                    name: FactoryToUpgrade
                    properties:
                      createTime: 2018-06-19T05:35:35.7133828Z
                      provisioningState: Succeeded
                      version: 2018-06-01
                    tags: {}
                    type: Microsoft.DataFactory/factories
                  - eTag: '"00004004-0000-0000-0000-5b28979e0000"'
                    id: /subscriptions/12345678-1234-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataFactory/factories/exampleFactoryName
                    location: East US
                    name: exampleFactoryName
                    properties:
                      createTime: 2018-06-19T05:41:50.0041314Z
                      provisioningState: Succeeded
                      repoConfiguration:
                        accountName: ADF
                        collaborationBranch: master
                        lastCommitId: ""
                        projectName: project
                        repositoryName: repo
                        rootFolder: /
                        tenantId: ""
                        type: FactoryVSTSConfiguration
                      version: 2018-06-01
                    tags:
                      exampleTag: exampleValue
                    type: Microsoft.DataFactory/factories
              headers:
                Date: Tue, 19 Jun 2018 05:41:51 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: f9c976e7-4205-4cfc-833e-e5d50565fcef
                x-ms-ratelimit-remaining-subscription-reads: "14993"
                x-ms-request-id: f9c976e7-4205-4cfc-833e-e5d50565fcef
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}":
    delete:
      description: Deletes a factory.
      operationId: Factories_Delete
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/factoryName"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK.
        "204":
          description: No Content.
        default:
          description: An error response received from the Azure Data Factory service.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - factories
      x-ms-examples:
        Factories_Delete:
          parameters:
            api-version: 2018-06-01
            factoryName: exampleFactoryName
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-1234-12345678abc
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets a factory.
      operationId: Factories_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/factoryName"
        - $ref: "#/parameters/api-version"
        - description: ETag of the factory entity. Should only be specified for get. If the ETag matches the existing entity tag, or if * was provided, then no content will be returned.
          in: header
          name: If-None-Match
          required: false
          type: string
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/Factory"
        "304":
          description: Not modified.
        default:
          description: An error response received from the Azure Data Factory service.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - factories
      x-ms-examples:
        Factories_Get:
          parameters:
            api-version: 2018-06-01
            factoryName: exampleFactoryName
            ifNoneMatch: 00004004-0000-0000-0000-5b28979e0000
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-1234-12345678abc
          responses:
            "200":
              body:
                eTag: '"00004004-0000-0000-0000-5b28979e0000"'
                id: /subscriptions/12345678-1234-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataFactory/factories/exampleFactoryName
                location: East US
                name: exampleFactoryName
                properties:
                  createTime: 2018-06-19T05:41:50.0041314Z
                  provisioningState: Succeeded
                  repoConfiguration:
                    accountName: ADF
                    collaborationBranch: master
                    lastCommitId: ""
                    projectName: project
                    repositoryName: repo
                    rootFolder: /
                    tenantId: ""
                    type: FactoryVSTSConfiguration
                  version: 2018-06-01
                tags:
                  exampleTag: exampleValue
                type: Microsoft.DataFactory/factories
              headers:
                Date: Tue, 19 Jun 2018 05:41:50 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: d84e59aa-718c-4b1a-951c-076ffff766c8
                x-ms-ratelimit-remaining-subscription-reads: "14994"
                x-ms-request-id: d84e59aa-718c-4b1a-951c-076ffff766c8
            "304": {}
    patch:
      description: Updates a factory.
      operationId: Factories_Update
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/factoryName"
        - $ref: "#/parameters/api-version"
        - description: The parameters for updating a factory.
          in: body
          name: factoryUpdateParameters
          required: true
          schema:
            $ref: "#/definitions/FactoryUpdateParameters"
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/Factory"
        default:
          description: An error response received from the Azure Data Factory service.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - factories
      x-ms-examples:
        Factories_Update:
          parameters:
            api-version: 2018-06-01
            factoryName: exampleFactoryName
            factoryUpdateParameters:
              tags:
                exampleTag: exampleValue
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-1234-12345678abc
          responses:
            "200":
              body:
                eTag: '"00003f04-0000-0000-0000-5b28979e0000"'
                id: /subscriptions/12345678-1234-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataFactory/factories/exampleFactoryName
                location: East US
                name: exampleFactoryName
                properties:
                  createTime: 2018-06-19T05:41:50.0041314Z
                  provisioningState: Succeeded
                  version: 2018-06-01
                tags:
                  exampleTag: exampleValue
                type: Microsoft.DataFactory/factories
              headers:
                Date: Tue, 19 Jun 2018 05:41:50 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 699c67a6-fef5-40c9-bc73-d571d09783c3
                x-ms-ratelimit-remaining-subscription-writes: "1192"
                x-ms-request-id: 699c67a6-fef5-40c9-bc73-d571d09783c3
    put:
      description: Creates or updates a factory.
      operationId: Factories_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/factoryName"
        - $ref: "#/parameters/api-version"
        - description: Factory resource definition.
          in: body
          name: factory
          required: true
          schema:
            $ref: "#/definitions/Factory"
        - description: ETag of the factory entity. Should only be specified for update, for which it should match existing entity or can be * for unconditional update.
          in: header
          name: If-Match
          required: false
          type: string
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/Factory"
        default:
          description: An error response received from the Azure Data Factory service.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - factories
      x-ms-examples:
        Factories_CreateOrUpdate:
          parameters:
            api-version: 2018-06-01
            factory:
              location: East US
            factoryName: exampleFactoryName
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-1234-12345678abc
          responses:
            "200":
              body:
                eTag: '"00003e04-0000-0000-0000-5b28979e0000"'
                id: /subscriptions/12345678-1234-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataFactory/factories/exampleFactoryName
                location: East US
                name: exampleFactoryName
                properties:
                  createTime: 2018-06-19T05:41:50.0041314Z
                  provisioningState: Succeeded
                  version: 2018-06-01
                tags: {}
                type: Microsoft.DataFactory/factories
              headers:
                Date: Tue, 19 Jun 2018 05:41:50 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 657028b7-5e63-4d7c-b8e7-cb336ed92ff0
                x-ms-ratelimit-remaining-subscription-writes: "1193"
                x-ms-request-id: 657028b7-5e63-4d7c-b8e7-cb336ed92ff0
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/addDataFlowToDebugSession":
    post:
      description: Add a data flow into debug session.
      operationId: DataFlowDebugSession_AddDataFlow
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/factoryName"
        - $ref: "#/parameters/api-version"
        - description: Data flow debug session definition with debug content.
          in: body
          name: request
          required: true
          schema:
            $ref: "#/definitions/DataFlowDebugPackage"
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/AddDataFlowToDebugSessionResponse"
        default:
          description: An error response received from the Azure Data Factory service.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - dataFlowDebugSession
      x-ms-examples:
        DataFlowDebugSession_AddDataFlow:
          parameters:
            api-version: 2018-06-01
            factoryName: exampleFactoryName
            request:
              dataFlow:
                name: dataflow1
                properties:
                  type: MappingDataFlow
                  typeProperties:
                    script: |-
                      

                      source(output(
                      		Column_1 as string
                      	),
                      	allowSchemaDrift: true,
                      	validateSchema: false) ~> source1
                    sinks: []
                    sources:
                      - dataset:
                          referenceName: DelimitedText2
                          type: DatasetReference
                        name: source1
                    transformations: []
              datasets:
                - name: dataset1
                  properties:
                    annotations: []
                    linkedServiceName:
                      referenceName: linkedService5
                      type: LinkedServiceReference
                    schema:
                      - type: String
                    type: DelimitedText
                    typeProperties:
                      columnDelimiter: ","
                      escapeChar: \
                      firstRowAsHeader: true
                      location:
                        container: dataflow-sample-data
                        fileName: Ansiencoding.csv
                        type: AzureBlobStorageLocation
                      quoteChar: '"'
              debugSettings:
                datasetParameters:
                  Movies:
                    path: abc
                  Output:
                    time: def
                parameters:
                  sourcePath: Toy
                sourceSettings:
                  - rowLimit: 1000
                    sourceName: source1
                  - rowLimit: 222
                    sourceName: source2
              linkedServices:
                - name: linkedService1
                  properties:
                    annotations: []
                    type: AzureBlobStorage
                    typeProperties:
                      connectionString: DefaultEndpointsProtocol=https;AccountName=<storageName>;EndpointSuffix=core.windows.net;
                      encryptedCredential: <credential>
              sessionId: f06ed247-9d07-49b2-b05e-2cb4a2fc871e
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-1234-12345678abc
          responses:
            "200":
              body:
                jobVersion: e5328ee7-c524-4207-8ba4-b709010db33d
              headers:
                Date: Sat, 16 Jun 2018 00:40:01 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 2f955e10-c6df-45a7-97d4-81acdb8540cd
                x-ms-ratelimit-remaining-subscription-reads: "14989"
                x-ms-request-id: 2f955e10-c6df-45a7-97d4-81acdb8540cd
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/createDataFlowDebugSession":
    post:
      description: Creates a data flow debug session.
      operationId: DataFlowDebugSession_Create
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/factoryName"
        - $ref: "#/parameters/api-version"
        - description: Data flow debug session definition
          in: body
          name: request
          required: true
          schema:
            $ref: "#/definitions/CreateDataFlowDebugSessionRequest"
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/CreateDataFlowDebugSessionResponse"
        "202":
          description: Accepted.
          headers:
            location:
              description: URI to poll for asynchronous operation status.
              type: string
        default:
          description: An error response received from the Azure Data Factory service.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - dataFlowDebugSession
      x-ms-examples:
        DataFlowDebugSession_Create:
          parameters:
            api-version: 2018-06-01
            factoryName: exampleFactoryName
            request:
              integrationRuntime:
                name: ir1
                properties:
                  type: Managed
                  typeProperties:
                    computeProperties:
                      dataFlowProperties:
                        computeType: General
                        coreCount: 48
                        timeToLive: 10
                      location: AutoResolve
              timeToLive: 60
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-1234-12345678abc
          responses:
            "200":
              body:
                sessionId: 229c688c-944c-44ac-b31a-82d50f347154
                status: Succeeded
            "202":
              headers:
                Date: Sat, 16 Jun 2018 00:40:01 GMT
                X-Content-Type-Options: nosniff
                location: https://management.azure.com/subscriptions/12345678-1234-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataFactory/factories/exampleFactoryName/operationStatuses/dfCreateSession$$229c688c-944c-44ac-b31a-82d50f347154?api-version=2018-06-01
                x-ms-correlation-request-id: 2f955e10-c6df-45a7-97d4-81acdb8540cd
                x-ms-ratelimit-remaining-subscription-reads: "14989"
                x-ms-request-id: 2f955e10-c6df-45a7-97d4-81acdb8540cd
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/dataflows":
    get:
      description: Lists data flows.
      operationId: DataFlows_ListByFactory
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/factoryName"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/DataFlowListResponse"
        default:
          description: An error response received from the Azure Data Factory service.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - dataFlows
      x-ms-examples:
        DataFlows_ListByFactory:
          parameters:
            api-version: 2018-06-01
            factoryName: exampleFactoryName
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-1234-12345678abc
          responses:
            "200":
              body:
                value:
                  - etag: 0a0068d4-0000-0000-0000-5b245bd30000
                    id: /subscriptions/12345678-1234-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataFactory/factories/exampleFactoryName/dataflows/exampleDataFlow
                    name: exampleDataFlow
                    properties:
                      description: Sample demo data flow to convert currencies showing usage of union, derive and conditional split transformation.
                      type: MappingDataFlow
                      typeProperties:
                        script: |-
                          source(output(PreviousConversionRate as double,Country as string,DateTime1 as string,CurrentConversionRate as double),allowSchemaDrift: false,validateSchema: false) ~> USDCurrency
                          source(output(PreviousConversionRate as double,Country as string,DateTime1 as string,CurrentConversionRate as double),allowSchemaDrift: true,validateSchema: false) ~> CADSource
                          USDCurrency, CADSource union(byName: true)~> Union
                          Union derive(NewCurrencyRate = round(CurrentConversionRate*1.25)) ~> NewCurrencyColumn
                          NewCurrencyColumn split(Country == 'USD',Country == 'CAD',disjoint: false) ~> ConditionalSplit1@(USD, CAD)
                          ConditionalSplit1@USD sink(saveMode:'overwrite' ) ~> USDSink
                          ConditionalSplit1@CAD sink(saveMode:'overwrite' ) ~> CADSink
                        sinks:
                          - dataset:
                              referenceName: USDOutput
                              type: DatasetReference
                            name: USDSink
                          - dataset:
                              referenceName: CADOutput
                              type: DatasetReference
                            name: CADSink
                        sources:
                          - dataset:
                              referenceName: CurrencyDatasetUSD
                              type: DatasetReference
                            name: USDCurrency
                          - dataset:
                              referenceName: CurrencyDatasetCAD
                              type: DatasetReference
                            name: CADSource
                    type: Microsoft.DataFactory/factories/dataflows
              headers:
                Date: Sat, 16 Jun 2018 00:37:40 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 341c9ece-5062-448b-be98-3ccbf476ed5d
                x-ms-ratelimit-remaining-subscription-reads: "14992"
                x-ms-request-id: 341c9ece-5062-448b-be98-3ccbf476ed5d
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/dataflows/{dataFlowName}":
    delete:
      description: Deletes a data flow.
      operationId: DataFlows_Delete
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/factoryName"
        - $ref: "#/parameters/dataFlowName"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK.
        "204":
          description: No Content.
        default:
          description: An error response received from the Azure Data Factory service.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - dataFlows
      x-ms-examples:
        DataFlows_Delete:
          parameters:
            api-version: 2018-06-01
            dataFlowName: exampleDataFlow
            factoryName: exampleFactoryName
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-1234-12345678abc
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets a data flow.
      operationId: DataFlows_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/factoryName"
        - $ref: "#/parameters/dataFlowName"
        - $ref: "#/parameters/api-version"
        - description: ETag of the data flow entity. Should only be specified for get. If the ETag matches the existing entity tag, or if * was provided, then no content will be returned.
          in: header
          name: If-None-Match
          required: false
          type: string
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/DataFlowResource"
        default:
          description: An error response received from the Azure Data Factory service.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - dataFlows
      x-ms-examples:
        DataFlows_Get:
          parameters:
            api-version: 2018-06-01
            dataFlowName: exampleDataFlow
            factoryName: exampleFactoryName
            ifNoneMatch: 15004c4f-0000-0200-0000-5cbe090e0000
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-1234-12345678abc
          responses:
            "200":
              body:
                etag: 15004c4f-0000-0200-0000-5cbe090e0000
                id: /subscriptions/12345678-1234-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataFactory/factories/exampleFactoryName/dataflows/exampleDataFlow
                name: exampleDataFlow
                properties:
                  description: Sample demo data flow to convert currencies showing usage of union, derive and conditional split transformation.
                  type: MappingDataFlow
                  typeProperties:
                    script: |-
                      source(output(PreviousConversionRate as double,Country as string,DateTime1 as string,CurrentConversionRate as double),allowSchemaDrift: false,validateSchema: false) ~> USDCurrency
                      source(output(PreviousConversionRate as double,Country as string,DateTime1 as string,CurrentConversionRate as double),allowSchemaDrift: true,validateSchema: false) ~> CADSource
                      USDCurrency, CADSource union(byName: true)~> Union
                      Union derive(NewCurrencyRate = round(CurrentConversionRate*1.25)) ~> NewCurrencyColumn
                      NewCurrencyColumn split(Country == 'USD',Country == 'CAD',disjoint: false) ~> ConditionalSplit1@(USD, CAD)
                      ConditionalSplit1@USD sink(saveMode:'overwrite' ) ~> USDSink
                      ConditionalSplit1@CAD sink(saveMode:'overwrite' ) ~> CADSink
                    sinks:
                      - dataset:
                          referenceName: USDOutput
                          type: DatasetReference
                        name: USDSink
                      - dataset:
                          referenceName: CADOutput
                          type: DatasetReference
                        name: CADSink
                    sources:
                      - dataset:
                          referenceName: CurrencyDatasetUSD
                          type: DatasetReference
                        name: USDCurrency
                      - dataset:
                          referenceName: CurrencyDatasetCAD
                          type: DatasetReference
                        name: CADSource
                type: Microsoft.DataFactory/factories/dataflows
              headers:
                Date: Mon, 22 Apr 2019 18:33:50 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 48983fb5-612a-44c6-8158-add7ffebb32b
                x-ms-ratelimit-remaining-subscription-reads: "11993"
                x-ms-request-id: 48983fb5-612a-44c6-8158-add7ffebb32b
    put:
      description: Creates or updates a data flow.
      operationId: DataFlows_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/factoryName"
        - $ref: "#/parameters/dataFlowName"
        - $ref: "#/parameters/api-version"
        - description: ETag of the data flow entity. Should only be specified for update, for which it should match existing entity or can be * for unconditional update.
          in: header
          name: If-Match
          required: false
          type: string
        - description: Data flow resource definition.
          in: body
          name: dataFlow
          required: true
          schema:
            $ref: "#/definitions/DataFlowResource"
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/DataFlowResource"
        default:
          description: An error response received from the Azure Data Factory service.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - dataFlows
      x-ms-examples:
        DataFlows_Create:
          parameters:
            api-version: 2018-06-01
            dataFlow:
              properties:
                description: Sample demo data flow to convert currencies showing usage of union, derive and conditional split transformation.
                type: MappingDataFlow
                typeProperties:
                  script: |-
                    source(output(PreviousConversionRate as double,Country as string,DateTime1 as string,CurrentConversionRate as double),allowSchemaDrift: false,validateSchema: false) ~> USDCurrency
                    source(output(PreviousConversionRate as double,Country as string,DateTime1 as string,CurrentConversionRate as double),allowSchemaDrift: true,validateSchema: false) ~> CADSource
                    USDCurrency, CADSource union(byName: true)~> Union
                    Union derive(NewCurrencyRate = round(CurrentConversionRate*1.25)) ~> NewCurrencyColumn
                    NewCurrencyColumn split(Country == 'USD',Country == 'CAD',disjoint: false) ~> ConditionalSplit1@(USD, CAD)
                    ConditionalSplit1@USD sink(saveMode:'overwrite' ) ~> USDSink
                    ConditionalSplit1@CAD sink(saveMode:'overwrite' ) ~> CADSink
                  sinks:
                    - dataset:
                        referenceName: USDOutput
                        type: DatasetReference
                      name: USDSink
                    - dataset:
                        referenceName: CADOutput
                        type: DatasetReference
                      name: CADSink
                  sources:
                    - dataset:
                        referenceName: CurrencyDatasetUSD
                        type: DatasetReference
                      name: USDCurrency
                    - dataset:
                        referenceName: CurrencyDatasetCAD
                        type: DatasetReference
                      name: CADSource
            dataFlowName: exampleDataFlow
            factoryName: exampleFactoryName
            ifMatch: null
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-1234-12345678abc
          responses:
            "200":
              body:
                etag: 0a0066d4-0000-0000-0000-5b245bd20000
                id: /subscriptions/12345678-1234-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataFactory/factories/exampleFactoryName/datasets/exampleDataset
                name: exampleDataFlow
                properties:
                  description: Sample demo data flow to convert currencies showing usage of union, derive and conditional split transformation.
                  type: MappingDataFlow
                  typeProperties:
                    script: |-
                      source(output(PreviousConversionRate as double,Country as string,DateTime1 as string,CurrentConversionRate as double),allowSchemaDrift: false,validateSchema: false) ~> USDCurrency
                      source(output(PreviousConversionRate as double,Country as string,DateTime1 as string,CurrentConversionRate as double),allowSchemaDrift: true,validateSchema: false) ~> CADSource
                      USDCurrency, CADSource union(byName: true)~> Union
                      Union derive(NewCurrencyRate = round(CurrentConversionRate*1.25)) ~> NewCurrencyColumn
                      NewCurrencyColumn split(Country == 'USD',Country == 'CAD',disjoint: false) ~> ConditionalSplit1@(USD, CAD)
                      ConditionalSplit1@USD sink(saveMode:'overwrite' ) ~> USDSink
                      ConditionalSplit1@CAD sink(saveMode:'overwrite' ) ~> CADSink
                    sinks:
                      - dataset:
                          referenceName: USDOutput
                          type: DatasetReference
                        name: USDSink
                      - dataset:
                          referenceName: CADOutput
                          type: DatasetReference
                        name: CADSink
                    sources:
                      - dataset:
                          referenceName: CurrencyDatasetUSD
                          type: DatasetReference
                        name: USDCurrency
                      - dataset:
                          referenceName: CurrencyDatasetCAD
                          type: DatasetReference
                        name: CADSource
                type: Microsoft.DataFactory/factories/dataflows
              headers:
                Date: Sat, 16 Jun 2019 00:37:38 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: ce95d6dd-c04d-4b02-b7ad-fe79c9b26df0
                x-ms-ratelimit-remaining-subscription-writes: "1194"
                x-ms-request-id: ce95d6dd-c04d-4b02-b7ad-fe79c9b26df0
        DataFlows_Update:
          parameters:
            api-version: 2018-06-01
            dataFlow:
              properties:
                description: Sample demo data flow to convert currencies showing usage of union, derive and conditional split transformation.
                type: MappingDataFlow
                typeProperties:
                  script: |-
                    source(output(PreviousConversionRate as double,Country as string,DateTime1 as string,CurrentConversionRate as double),allowSchemaDrift: false,validateSchema: false) ~> USDCurrency
                    source(output(PreviousConversionRate as double,Country as string,DateTime1 as string,CurrentConversionRate as double),allowSchemaDrift: true,validateSchema: false) ~> CADSource
                    USDCurrency, CADSource union(byName: true)~> Union
                    Union derive(NewCurrencyRate = round(CurrentConversionRate*1.25)) ~> NewCurrencyColumn
                    NewCurrencyColumn split(Country == 'USD',Country == 'CAD',disjoint: false) ~> ConditionalSplit1@(USD, CAD)
                    ConditionalSplit1@USD sink(saveMode:'overwrite' ) ~> USDSink
                    ConditionalSplit1@CAD sink(saveMode:'overwrite' ) ~> CADSink
                  sinks:
                    - dataset:
                        referenceName: USDOutput
                        type: DatasetReference
                      name: USDSink
                    - dataset:
                        referenceName: CADOutput
                        type: DatasetReference
                      name: CADSink
                  sources:
                    - dataset:
                        referenceName: CurrencyDatasetUSD
                        type: DatasetReference
                      name: USDCurrency
                    - dataset:
                        referenceName: CurrencyDatasetCAD
                        type: DatasetReference
                      name: CADSource
            dataFlowName: exampleDataFlow
            factoryName: exampleFactoryName
            ifMatch: null
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-1234-12345678abc
          responses:
            "200":
              body:
                etag: 0a0068d4-0000-0000-0000-5b245bd30002
                id: /subscriptions/12345678-1234-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataFactory/factories/exampleFactoryName/datasets/exampleDataset
                name: exampleDataFlow
                properties:
                  description: Sample demo data flow to convert currencies showing usage of union, derive and conditional split transformation.
                  type: MappingDataFlow
                  typeProperties:
                    script: |-
                      source(output(PreviousConversionRate as double,Country as string,DateTime1 as string,CurrentConversionRate as double),allowSchemaDrift: false,validateSchema: false) ~> USDCurrency
                      source(output(PreviousConversionRate as double,Country as string,DateTime1 as string,CurrentConversionRate as double),allowSchemaDrift: true,validateSchema: false) ~> CADSource
                      USDCurrency, CADSource union(byName: true)~> Union
                      Union derive(NewCurrencyRate = round(CurrentConversionRate*1.25)) ~> NewCurrencyColumn
                      NewCurrencyColumn split(Country == 'USD',Country == 'CAD',disjoint: false) ~> ConditionalSplit1@(USD, CAD)
                      ConditionalSplit1@USD sink(saveMode:'overwrite' ) ~> USDSink
                      ConditionalSplit1@CAD sink(saveMode:'overwrite' ) ~> CADSink
                    sinks:
                      - dataset:
                          referenceName: USDOutput
                          type: DatasetReference
                        name: USDSink
                      - dataset:
                          referenceName: CADOutput
                          type: DatasetReference
                        name: CADSink
                    sources:
                      - dataset:
                          referenceName: CurrencyDatasetUSD
                          type: DatasetReference
                        name: USDCurrency
                      - dataset:
                          referenceName: CurrencyDatasetCAD
                          type: DatasetReference
                        name: CADSource
                type: Microsoft.DataFactory/factories/dataflows
              headers:
                Date: Sat, 16 Jun 2019 00:37:38 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: ce95d6dd-c04d-4b02-b7ad-fe79c9b26df0
                x-ms-ratelimit-remaining-subscription-writes: "1193"
                x-ms-request-id: ce95d6dd-c04d-4b02-b7ad-fe79c9b26df0
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/datasets":
    get:
      description: Lists datasets.
      operationId: Datasets_ListByFactory
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/factoryName"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/DatasetListResponse"
        default:
          description: An error response received from the Azure Data Factory service.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - datasets
      x-ms-examples:
        Datasets_ListByFactory:
          parameters:
            api-version: 2018-06-01
            factoryName: exampleFactoryName
            resourceGroupName: exampleResourceGroup
            subscriptionId: 12345678-1234-1234-1234-12345678abc
          responses:
            "200":
              body:
                value:
                  - etag: 0a0068d4-0000-0000-0000-5b245bd30000
                    id: /subscriptions/12345678-1234-1234-1234-12345678abc/resourceGroups/exampleResourceGroup/providers/Microsoft.DataFactory/factories/exampleFactoryName/datasets/exampleDataset
                    name: exampleDataset
                    properties:
                      description: Example description
                      linkedServiceName:
                        referenceName: exampleLinkedService
                        type: LinkedServiceReference
                      parameters:
                        MyFileName:
                          type: String
                        MyFolderPath:
                          type: String
                      type: AzureBlob
                      typeProperties:
                        fileName:
                          type: Expression
                          value: "@dataset().MyFileName"
                        folderPath:
                          type: Expression
                          value: "@dataset().MyFolderPath"
                        format:
                          type: TextFormat
                    type: Microsoft.DataFactory/factories/datasets
              headers:
                Date: Sat, 16 Jun 2018 00:37:40 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 341c9ece-5062-448b-be98-3ccbf476ed5d
                x-ms-ratelimit-remaining-subscription-reads: "14992"
                x-ms-request-id: 341c9ece-5062-448b-be98-3ccbf476ed5d
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{factoryName}/datasets/{datasetName}":
    delete:
      description: Deletes a dataset.
      operationId: Datasets_Delete
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/factoryName"
        - $ref: "#/parameters/datasetName"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK.
        "204":
          description: No Content.
        default:
          description: An error response received from the Azure Data Factory service.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - datasets
      x-ms-examples:
        Datasets_Delete:
          parameters:
[...]
