swagger: "2.0"
schemes:
  - https
host: api.medcorder.com
info:
  contact:
    email: api@medcorder.com
    name: Medcorder API Support
  description: Returns doctors near a client given a lat/lon and autocomplete text.
  termsOfService: https://medcorder.com/terms
  title: Medcorder Nearby Doctor API
  version: 1.0.0
  x-apisguru-categories:
    - open_data
  x-origin:
    - format: swagger
      url: https://static.medcorder.com/openapi.yaml
      version: "2.0"
  x-providerName: medcorder.com
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg
produces:
  - application/json
paths:
  /doctors:
    get:
      operationId: doctors
      parameters:
        - description: The search text so far for autocomplete
          in: query
          name: search
          required: false
          type: string
        - description: The latitude of the client, around which to search
          format: double
          in: query
          maximum: 90
          minimum: -90
          name: latitude
          required: false
          type: number
        - description: The longitude of the client, around which to search
          format: double
          in: query
          maximum: 180
          minimum: -180
          name: longitude
          required: false
          type: number
        - default: 50
          description: The number of results desired
          in: query
          maximum: 50
          minimum: 1
          name: limit
          required: false
          type: integer
      responses:
        "200":
          description: A list of doctors
          schema:
            items:
              $ref: "#/definitions/doctor"
            type: array
      summary: Fetch a list of nearby medical providers
definitions:
  doctor:
    properties:
      address:
        type: string
      address2:
        type: string
      city:
        type: string
      county:
        type: string
      distance:
        format: float
        type: number
      email:
        type: string
      first_name:
        type: string
      full_name:
        type: string
      gender:
        type: string
      last_name:
        type: string
      latitude:
        format: float
        type: number
      longitude:
        format: float
        type: number
      specialty:
        type: string
      state:
        type: string
      title:
        type: string
      website:
        type: string
      zip:
        type: string
    type: object
x-google-backend:
  address: https://medcorder-api-production.uc.r.appspot.com/
  jwt_audience: 369549039786-08mij7ihsqfoe0ehi5u08kao9kc774mo.apps.googleusercontent.com
  protocol: h2
