swagger: "2.0"
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: The Admin Storage Management Client.
  title: StorageManagementClient
  version: 2015-12-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/storage/Microsoft.Storage.Admin/preview/2015-12-01/tableServices.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-tableServices
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Authorization uses an Azure Active Directory OAuth2 flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters: {}
paths:
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/tableservices/{serviceType}":
    get:
      description: Returns the table service.
      operationId: TableServices_Get
      parameters:
        - description: Subscription Id.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Farm Id.
          in: path
          name: farmId
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The service type.
          enum:
            - default
          in: path
          name: serviceType
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ServiceType
          x-ms-parameter-location: method
        - description: REST Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK -- Table service has been returned.
          schema:
            $ref: "#/definitions/TableService"
        "404":
          description: NOT FOUND -- The specified farm was not found.
      tags:
        - TableServices
      x-ms-examples:
        Returns the table service.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            resourceGroupName: System.local
            serviceType: default
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body:
                id: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourceGroups/System.local/providers/Microsoft.Storage.Admin/farms/3cf03497-c44a-4e51-a56f-3987d88c70af/tableservices/default
                location: local
                name: 3cf03497-c44a-4e51-a56f-3987d88c70af/default
                properties:
                  settings:
                    frontEndCallbackThreadsCount: 1600
                    frontEndCpuBasedKeepAliveThrottlingCpuMonitorIntervalInSeconds: 5
                    frontEndCpuBasedKeepAliveThrottlingEnabled: true
                    frontEndCpuBasedKeepAliveThrottlingPercentCpuThreshold: 90
                    frontEndCpuBasedKeepAliveThrottlingPercentRequestsToThrottle: 2
                    frontEndHttpListenPort: 11002
                    frontEndHttpsListenPort: 11102
                    frontEndMaxMillisecondsBetweenMemorySamples: 10000
                    frontEndMemoryThrottleThresholdSettings: 5,100,0;7,50,0;10,25,0;15,0,25;
                    frontEndMemoryThrottlingEnabled: true
                    frontEndMinThreadPoolThreads: 1850
                    frontEndThreadPoolBasedKeepAliveIOCompletionThreshold: 1500
                    frontEndThreadPoolBasedKeepAliveMonitorIntervalInSeconds: 30
                    frontEndThreadPoolBasedKeepAlivePercentage: 10
                    frontEndThreadPoolBasedKeepAliveWorkerThreadThreshold: 1500
                    frontEndUseSlaTimeInAvailability: true
                  version: "1.0"
                type: Microsoft.Storage.Admin/farms/tableservices
            "404": {}
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/tableservices/{serviceType}/metricdefinitions":
    get:
      description: Returns a list of metric definitions for table service.
      operationId: TableServices_ListMetricDefinitions
      parameters:
        - description: Subscription Id.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Farm Id.
          in: path
          name: farmId
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The service type.
          enum:
            - default
          in: path
          name: serviceType
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ServiceType
          x-ms-parameter-location: method
        - description: REST Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK -- The list of metric definitions has been returned.
          schema:
            description: Pageable list of metric definitions.
            properties:
              nextLink:
                description: URI to the next page.
                readOnly: true
                type: string
              value:
                description: List of metric definitions.
                items:
                  description: Metric definition.
                  properties:
                    metricAvailabilities:
                      description: Metric availabilities.
                      items:
                        description: Metric availability.
                        properties:
                          retention:
                            description: Retention of metric.
                            type: string
                          timeGrain:
                            description: Time grain.
                            type: string
                        type: object
                      readOnly: true
                      type: array
                    name:
                      description: Localizable string.
                      properties:
                        localizedValue:
                          description: Localized value of the string.
                          type: string
                        value:
                          description: Value of the string.
                          type: string
                      type: object
                    primaryAggregationType:
                      description: Aggregate type.
                      enum:
                        - None
                        - Average
                        - Total
                        - Minimum
                        - Maximum
                        - Last
                      readOnly: true
                      type: string
                      x-ms-enum:
                        modelAsString: true
                        name: AggregateType
                    unit:
                      description: Metric unit.
                      enum:
                        - Count
                        - Bytes
                        - Seconds
                        - CountPerSecond
                        - BytesPerSecond
                      type: string
                      x-ms-enum:
                        modelAsString: true
                        name: MetricUnit
                  type: object
                readOnly: true
                type: array
            type: object
        "404":
          description: NOT FOUND -- The specified farm was not found.
      tags:
        - TableServices
      x-ms-examples:
        Returns a list of metric definitions for table service.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            resourceGroupName: System.local
            serviceType: default
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body:
                value:
                  - metricAvailabilities:
                      - retention: P1D
                        timeGrain: PT1M
                      - retention: P10D
                        timeGrain: PT1H
                      - retention: P60D
                        timeGrain: P1D
                    name:
                      localizedValue: End-to-end latency (TableService)
                      value: E2ELatency
                    primaryAggregationType: Average
                    unit: Count
                  - metricAvailabilities:
                      - retention: P1D
                        timeGrain: PT1M
                      - retention: P10D
                        timeGrain: PT1H
                      - retention: P60D
                        timeGrain: P1D
                    name:
                      localizedValue: Server latency (TableService)
                      value: ServerLatency
                    primaryAggregationType: Average
                    unit: Count
                  - metricAvailabilities:
                      - retention: P1D
                        timeGrain: PT1M
                      - retention: P10D
                        timeGrain: PT1H
                      - retention: P60D
                        timeGrain: P1D
                    name:
                      localizedValue: Availability (TableService)
                      value: Availability
                    primaryAggregationType: Average
                    unit: Count
                  - metricAvailabilities:
                      - retention: P1D
                        timeGrain: PT1M
                      - retention: P10D
                        timeGrain: PT1H
                      - retention: P60D
                        timeGrain: P1D
                    name:
                      localizedValue: Total requests (TableService)
                      value: TotalRequests
                    primaryAggregationType: Total
                    unit: Count
                  - metricAvailabilities:
                      - retention: P1D
                        timeGrain: PT1M
                      - retention: P10D
                        timeGrain: PT1H
                      - retention: P60D
                        timeGrain: P1D
                    name:
                      localizedValue: Ingress (TableService)
                      value: Ingress
                    primaryAggregationType: Total
                    unit: Count
                  - metricAvailabilities:
                      - retention: P1D
                        timeGrain: PT1M
                      - retention: P10D
                        timeGrain: PT1H
                      - retention: P60D
                        timeGrain: P1D
                    name:
                      localizedValue: Egress (TableService)
                      value: Egress
                    primaryAggregationType: Total
                    unit: Count
                  - metricAvailabilities:
                      - retention: P10D
                        timeGrain: PT1M
                      - retention: P30D
                        timeGrain: PT1H
                      - retention: P60D
                        timeGrain: P1D
                    name:
                      localizedValue: Requests per second (TableFrontEnd)
                      value: TableFrontEndRequestsPerSecond
                    primaryAggregationType: Average
                    unit: CountPerSecond
                  - metricAvailabilities:
                      - retention: P10D
                        timeGrain: PT1M
                      - retention: P30D
                        timeGrain: PT1H
                      - retention: P60D
                        timeGrain: P1D
                    name:
                      localizedValue: End-to-end latency (TableFrontEnd)
                      value: TableFrontEndE2ELatency
                    primaryAggregationType: Average
                    unit: Count
                  - metricAvailabilities:
                      - retention: P10D
                        timeGrain: PT1M
                      - retention: P30D
                        timeGrain: PT1H
                      - retention: P60D
                        timeGrain: P1D
                    name:
                      localizedValue: Server latency (TableFrontEnd)
                      value: TableFrontEndServerLatency
                    primaryAggregationType: Average
                    unit: Count
                  - metricAvailabilities:
                      - retention: P10D
                        timeGrain: PT1M
                      - retention: P30D
                        timeGrain: PT1H
                      - retention: P60D
                        timeGrain: P1D
                    name:
                      localizedValue: Concurrent requests (TableFrontEnd)
                      value: TableFrontEndConcurrentRequests
                    primaryAggregationType: Average
                    unit: Count
                  - metricAvailabilities:
                      - retention: P10D
                        timeGrain: PT1M
                      - retention: P30D
                        timeGrain: PT1H
                      - retention: P60D
                        timeGrain: P1D
                    name:
                      localizedValue: The count of pending requests in the request queue (TableFrontEnd)
                      value: TableFrontEndRequestQueueLength
                    primaryAggregationType: Average
                    unit: Count
                  - metricAvailabilities:
                      - retention: P10D
                        timeGrain: PT1M
                      - retention: P30D
                        timeGrain: PT1H
                      - retention: P60D
                        timeGrain: P1D
                    name:
                      localizedValue: Processor time percentage (TableFrontEnd)
                      value: TableFrontEndProcessorTime
                    primaryAggregationType: Average
                    unit: Count
                  - metricAvailabilities:
                      - retention: P10D
                        timeGrain: PT1M
                      - retention: P30D
                        timeGrain: PT1H
                      - retention: P60D
                        timeGrain: P1D
                    name:
                      localizedValue: Requests per second (TableMaster)
                      value: TableMasterRequestsPerSecond
                    primaryAggregationType: Average
                    unit: CountPerSecond
                  - metricAvailabilities:
                      - retention: P10D
                        timeGrain: PT1M
                      - retention: P30D
                        timeGrain: PT1H
                      - retention: P60D
                        timeGrain: P1D
                    name:
                      localizedValue: Successful requests per second (TableMaster)
                      value: TableMasterSuccessfulRequestsPerSecond
                    primaryAggregationType: Average
                    unit: CountPerSecond
                  - metricAvailabilities:
                      - retention: P10D
                        timeGrain: PT1M
                      - retention: P30D
                        timeGrain: PT1H
                      - retention: P60D
                        timeGrain: P1D
                    name:
                      localizedValue: Failed requests per second (TableMaster)
                      value: TableMasterFailedRequestsPerSecond
                    primaryAggregationType: Average
                    unit: CountPerSecond
                  - metricAvailabilities:
                      - retention: P10D
                        timeGrain: PT1M
                      - retention: P30D
                        timeGrain: PT1H
                      - retention: P60D
                        timeGrain: P1D
                    name:
                      localizedValue: Server latency (TableMaster)
                      value: TableMasterServerLatency
                    primaryAggregationType: Average
                    unit: Count
                  - metricAvailabilities:
                      - retention: P10D
                        timeGrain: PT1M
                      - retention: P30D
                        timeGrain: PT1H
                      - retention: P60D
                        timeGrain: P1D
                    name:
                      localizedValue: Processor time percentage (TableMaster)
                      value: TableMasterProcessorTime
                    primaryAggregationType: Average
                    unit: Count
                  - metricAvailabilities:
                      - retention: P10D
                        timeGrain: PT1M
                      - retention: P30D
                        timeGrain: PT1H
                      - retention: P60D
                        timeGrain: P1D
                    name:
                      localizedValue: Requests per second (TableServer)
                      value: TableServerRequestsPerSecond
                    primaryAggregationType: Average
                    unit: CountPerSecond
                  - metricAvailabilities:
                      - retention: P10D
                        timeGrain: PT1M
                      - retention: P30D
                        timeGrain: PT1H
                      - retention: P60D
                        timeGrain: P1D
                    name:
                      localizedValue: Successful requests per second (TableServer)
                      value: TableServerSuccessfulRequestsPerSecond
                    primaryAggregationType: Average
                    unit: CountPerSecond
                  - metricAvailabilities:
                      - retention: P10D
                        timeGrain: PT1M
                      - retention: P30D
                        timeGrain: PT1H
                      - retention: P60D
                        timeGrain: P1D
                    name:
                      localizedValue: Failed requests per second (TableServer)
                      value: TableServerFailedRequestsPerSecond
                    primaryAggregationType: Average
                    unit: CountPerSecond
                  - metricAvailabilities:
                      - retention: P10D
                        timeGrain: PT1M
                      - retention: P30D
                        timeGrain: PT1H
                      - retention: P60D
                        timeGrain: P1D
                    name:
                      localizedValue: Server latency (TableServer)
                      value: TableServerServerLatency
                    primaryAggregationType: Average
                    unit: Count
                  - metricAvailabilities:
                      - retention: P10D
                        timeGrain: PT1M
                      - retention: P30D
                        timeGrain: PT1H
                      - retention: P60D
                        timeGrain: P1D
                    name:
                      localizedValue: Processor time percentage (TableServer)
                      value: TableServerProcessorTime
                    primaryAggregationType: Average
                    unit: Count
            "404": {}
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/tableservices/{serviceType}/metrics":
    get:
      description: Returns a list of metrics for table service.
      operationId: TableServices_ListMetrics
      parameters:
        - description: Subscription Id.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Farm Id.
          in: path
          name: farmId
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The service type.
          enum:
            - default
          in: path
          name: serviceType
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ServiceType
          x-ms-parameter-location: method
        - description: REST Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK -- The list of metrics has been returned.
          schema:
            description: Pageable list of metrics.
            properties:
              nextLink:
                description: URI to the next page.
                readOnly: true
                type: string
              value:
                description: List of metrics.
                items:
                  description: Metric information.
                  properties:
                    endTime:
                      description: Metric end time.
                      format: date-time
                      readOnly: true
                      type: string
                    metricUnit:
                      description: Metric unit.
                      enum:
                        - Count
                        - Bytes
                        - Seconds
                        - CountPerSecond
                        - BytesPerSecond
                      type: string
                      x-ms-enum:
                        modelAsString: true
                        name: MetricUnit
                    metricValues:
                      description: List of metric values.
                      items:
                        description: Metric value.
                        properties:
                          average:
                            description: Average value of metric.
                            format: float
                            readOnly: true
                            type: number
                          count:
                            description: Count of metric values.
                            format: int32
                            readOnly: true
                            type: integer
                          maximum:
                            description: Maximum value of metric.
                            format: float
                            readOnly: true
                            type: number
                          minimum:
                            description: Minimum value of metric.
                            format: float
                            readOnly: true
                            type: number
                          properties:
                            description: Metric value properties.
                            readOnly: true
                            type: string
                          timeStamp:
                            description: Timestamp of metric value.
                            format: date-time
                            readOnly: true
                            type: string
                          total:
                            description: Total value of metric.
                            format: float
                            readOnly: true
                            type: number
                      readOnly: true
                      type: array
                    name:
                      description: Localizable string.
                      properties:
                        localizedValue:
                          description: Localized value of the string.
                          type: string
                        value:
                          description: Value of the string.
                          type: string
                      type: object
                    startTime:
                      description: Metric start time.
                      format: date-time
                      readOnly: true
                      type: string
                    timeGrain:
                      description: Metric time grain.
                      readOnly: true
                      type: string
                  type: object
                readOnly: true
                type: array
            type: object
        "404":
          description: NOT FOUND -- The specified farm was not found.
      tags:
        - TableServices
      x-ms-examples:
        Returns a list of metrics for table service.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            resourceGroupName: System.local
            serviceType: default
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body:
                value:
                  - endTime: 2018-01-30T19:31:22.8313413Z
                    metricUnit: CountPerSecond
                    metricValues: []
                    name:
                      localizedValue: Requests per second (TableFrontEnd)
                      value: TableFrontEndRequestsPerSecond
                    startTime: 2018-01-23T00:00:00Z
                    timeGrain: P1D
                  - endTime: 2018-01-30T19:31:22.8313413Z
                    metricUnit: Count
                    metricValues: []
                    name:
                      localizedValue: End-to-end latency (TableFrontEnd)
                      value: TableFrontEndE2ELatency
                    startTime: 2018-01-23T00:00:00Z
                    timeGrain: P1D
                  - endTime: 2018-01-30T19:31:22.8313413Z
                    metricUnit: Count
                    metricValues: []
                    name:
                      localizedValue: Server latency (TableFrontEnd)
                      value: TableFrontEndServerLatency
                    startTime: 2018-01-23T00:00:00Z
                    timeGrain: P1D
                  - endTime: 2018-01-30T19:31:22.8313413Z
                    metricUnit: Count
                    metricValues: []
                    name:
                      localizedValue: Concurrent requests (TableFrontEnd)
                      value: TableFrontEndConcurrentRequests
                    startTime: 2018-01-23T00:00:00Z
                    timeGrain: P1D
                  - endTime: 2018-01-30T19:31:22.8313413Z
                    metricUnit: Count
                    metricValues: []
                    name:
                      localizedValue: The count of pending requests in the request queue (TableFrontEnd)
                      value: TableFrontEndRequestQueueLength
                    startTime: 2018-01-23T00:00:00Z
                    timeGrain: P1D
                  - endTime: 2018-01-30T19:31:22.8313413Z
                    metricUnit: Count
                    metricValues: []
                    name:
                      localizedValue: Processor time percentage (TableFrontEnd)
                      value: TableFrontEndProcessorTime
                    startTime: 2018-01-23T00:00:00Z
                    timeGrain: P1D
                  - endTime: 2018-01-30T19:31:22.8313413Z
                    metricUnit: CountPerSecond
                    metricValues: []
                    name:
                      localizedValue: Requests per second (TableMaster)
                      value: TableMasterRequestsPerSecond
                    startTime: 2018-01-23T00:00:00Z
                    timeGrain: P1D
                  - endTime: 2018-01-30T19:31:22.8313413Z
                    metricUnit: CountPerSecond
                    metricValues: []
                    name:
                      localizedValue: Successful requests per second (TableMaster)
                      value: TableMasterSuccessfulRequestsPerSecond
                    startTime: 2018-01-23T00:00:00Z
                    timeGrain: P1D
                  - endTime: 2018-01-30T19:31:22.8313413Z
                    metricUnit: CountPerSecond
                    metricValues: []
                    name:
                      localizedValue: Failed requests per second (TableMaster)
                      value: TableMasterFailedRequestsPerSecond
                    startTime: 2018-01-23T00:00:00Z
                    timeGrain: P1D
                  - endTime: 2018-01-30T19:31:22.8313413Z
                    metricUnit: Count
                    metricValues: []
                    name:
                      localizedValue: Server latency (TableMaster)
                      value: TableMasterServerLatency
                    startTime: 2018-01-23T00:00:00Z
                    timeGrain: P1D
                  - endTime: 2018-01-30T19:31:22.8313413Z
                    metricUnit: Count
                    metricValues: []
                    name:
                      localizedValue: Processor time percentage (TableMaster)
                      value: TableMasterProcessorTime
                    startTime: 2018-01-23T00:00:00Z
                    timeGrain: P1D
                  - endTime: 2018-01-30T19:31:22.8313413Z
                    metricUnit: CountPerSecond
                    metricValues: []
                    name:
                      localizedValue: Requests per second (TableServer)
                      value: TableServerRequestsPerSecond
                    startTime: 2018-01-23T00:00:00Z
                    timeGrain: P1D
                  - endTime: 2018-01-30T19:31:22.8313413Z
                    metricUnit: CountPerSecond
                    metricValues: []
                    name:
                      localizedValue: Successful requests per second (TableServer)
                      value: TableServerSuccessfulRequestsPerSecond
                    startTime: 2018-01-23T00:00:00Z
                    timeGrain: P1D
                  - endTime: 2018-01-30T19:31:22.8313413Z
                    metricUnit: CountPerSecond
                    metricValues: []
                    name:
                      localizedValue: Failed requests per second (TableServer)
                      value: TableServerFailedRequestsPerSecond
                    startTime: 2018-01-23T00:00:00Z
                    timeGrain: P1D
                  - endTime: 2018-01-30T19:31:22.8313413Z
                    metricUnit: Count
                    metricValues: []
                    name:
                      localizedValue: Server latency (TableServer)
                      value: TableServerServerLatency
                    startTime: 2018-01-23T00:00:00Z
                    timeGrain: P1D
                  - endTime: 2018-01-30T19:31:22.8313413Z
                    metricUnit: Count
                    metricValues: []
                    name:
                      localizedValue: Processor time percentage (TableServer)
                      value: TableServerProcessorTime
                    startTime: 2018-01-23T00:00:00Z
                    timeGrain: P1D
                  - endTime: 2018-01-30T19:31:22.8313413Z
                    metricUnit: Count
                    metricValues:
                      - average: 7.29314082130133
                        timeStamp: 2018-01-23T00:00:00Z
                      - average: 7.29242044505202
                        timeStamp: 2018-01-24T00:00:00Z
                      - average: 7.45627809068669
                        timeStamp: 2018-01-25T00:00:00Z
                      - average: 7.30089294071398
                        timeStamp: 2018-01-26T00:00:00Z
                      - average: 7.72399956185191
                        timeStamp: 2018-01-27T00:00:00Z
                      - average: 7.60159978218237
                        timeStamp: 2018-01-28T00:00:00Z
                      - average: 7.47610318708534
                        timeStamp: 2018-01-29T00:00:00Z
                    name:
                      localizedValue: End-to-end latency (TableService)
                      value: E2ELatency
                    startTime: 2018-01-23T00:00:00Z
                    timeGrain: P1D
                  - endTime: 2018-01-30T19:31:22.8313413Z
                    metricUnit: Count
                    metricValues:
                      - average: 6.35217701106319
                        timeStamp: 2018-01-23T00:00:00Z
                      - average: 6.33429027113238
                        timeStamp: 2018-01-24T00:00:00Z
                      - average: 6.48739451176727
                        timeStamp: 2018-01-25T00:00:00Z
                      - average: 6.32658791815646
                        timeStamp: 2018-01-26T00:00:00Z
                      - average: 6.7042208266394
                        timeStamp: 2018-01-27T00:00:00Z
                      - average: 6.63925794831982
                        timeStamp: 2018-01-28T00:00:00Z
                      - average: 6.49650197949997
                        timeStamp: 2018-01-29T00:00:00Z
                    name:
                      localizedValue: Server latency (TableService)
                      value: ServerLatency
                    startTime: 2018-01-23T00:00:00Z
                    timeGrain: P1D
                  - endTime: 2018-01-30T19:31:22.8313413Z
                    metricUnit: Count
                    metricValues:
                      - average: 100
                        timeStamp: 2018-01-23T00:00:00Z
                      - average: 100
                        timeStamp: 2018-01-24T00:00:00Z
                      - average: 99.9981206752038
                        timeStamp: 2018-01-25T00:00:00Z
                      - average: 100
                        timeStamp: 2018-01-26T00:00:00Z
                      - average: 100
                        timeStamp: 2018-01-27T00:00:00Z
                      - average: 100
                        timeStamp: 2018-01-28T00:00:00Z
                      - average: 100
                        timeStamp: 2018-01-29T00:00:00Z
                    name:
                      localizedValue: Availability (TableService)
                      value: Availability
                    startTime: 2018-01-23T00:00:00Z
                    timeGrain: P1D
                  - endTime: 2018-01-30T19:31:22.8313413Z
                    metricUnit: Count
                    metricValues:
                      - timeStamp: 2018-01-23T00:00:00Z
                        total: 269054
                      - timeStamp: 2018-01-24T00:00:00Z
                        total: 265771
                      - timeStamp: 2018-01-25T00:00:00Z
                        total: 266053
                      - timeStamp: 2018-01-26T00:00:00Z
                        total: 269687
                      - timeStamp: 2018-01-27T00:00:00Z
                        total: 276294
                      - timeStamp: 2018-01-28T00:00:00Z
                        total: 274176
                      - timeStamp: 2018-01-29T00:00:00Z
                        total: 279001
                    name:
                      localizedValue: Total requests (TableService)
                      value: TotalRequests
                    startTime: 2018-01-23T00:00:00Z
                    timeGrain: P1D
                  - endTime: 2018-01-30T19:31:22.8313413Z
                    metricUnit: Count
                    metricValues:
                      - timeStamp: 2018-01-23T00:00:00Z
                        total: 511130540
                      - timeStamp: 2018-01-24T00:00:00Z
                        total: 503169523
                      - timeStamp: 2018-01-25T00:00:00Z
                        total: 507168827
                      - timeStamp: 2018-01-26T00:00:00Z
                        total: 568486028
                      - timeStamp: 2018-01-27T00:00:00Z
                        total: 700065592
                      - timeStamp: 2018-01-28T00:00:00Z
                        total: 690837578
                      - timeStamp: 2018-01-29T00:00:00Z
                        total: 695035903
                    name:
                      localizedValue: Ingress (TableService)
                      value: Ingress
                    startTime: 2018-01-23T00:00:00Z
                    timeGrain: P1D
                  - endTime: 2018-01-30T19:31:22.8313413Z
                    metricUnit: Count
                    metricValues:
                      - timeStamp: 2018-01-23T00:00:00Z
                        total: 6755876285
                      - timeStamp: 2018-01-24T00:00:00Z
                        total: 6754791566
                      - timeStamp: 2018-01-25T00:00:00Z
                        total: 6756295607
                      - timeStamp: 2018-01-26T00:00:00Z
                        total: 6762121121
                      - timeStamp: 2018-01-27T00:00:00Z
                        total: 6787273660
                      - timeStamp: 2018-01-28T00:00:00Z
                        total: 6749797687
                      - timeStamp: 2018-01-29T00:00:00Z
                        total: 6790505524
                    name:
                      localizedValue: Egress (TableService)
                      value: Egress
                    startTime: 2018-01-23T00:00:00Z
                    timeGrain: P1D
            "404": {}
      x-ms-pageable:
        nextLinkName: nextLink
definitions:
  TableService:
    allOf:
      - description: Base resource object.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource Name.
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            type: string
        type: object
        x-ms-azure-resource: true
    description: Table service.
    properties:
      properties:
        $ref: "#/definitions/TableServiceProperties"
        description: Table service properties.
        readOnly: true
        x-ms-client-flatten: true
    type: object
  TableServiceProperties:
    allOf:
      - description: Storage service.
        properties:
          healthStatus:
            description: Current health status.
            enum:
              - Unknown
              - Healthy
              - Warning
              - Critical
            readOnly: true
            type: string
            x-ms-enum:
              modelAsString: true
              name: HealthStatus
          version:
            description: Storage service version.
            type: string
    description: Table service properties.
    properties:
      settings:
        allOf:
          - description: Storage service settings.
            properties:
              frontEndCallbackThreadsCount:
                description: Front end callback threads count.
                format: int32
                type: integer
              frontEndCpuBasedKeepAliveThrottlingCpuMonitorIntervalInSeconds:
                description: Interval (in second) of CPU monitor for front end CPU based keep-alive throttling.
                format: int32
                type: integer
              frontEndCpuBasedKeepAliveThrottlingEnabled:
                description: Switch of front end CPU based keep-alive throttling.
                type: boolean
              frontEndCpuBasedKeepAliveThrottlingPercentCpuThreshold:
                description: Threshold (% percentage) of front end CPU based keep-alive throttling.
                format: float
                type: number
              frontEndCpuBasedKeepAliveThrottlingPercentRequestsToThrottle:
                description: Threshold (% percentage) of requests to throttle in front end CPU based keep-alive throttling.
                format: float
                type: number
              frontEndMaxMillisecondsBetweenMemorySamples:
                description: Maximum interval (in millisecond) between memory samples of front end.
                format: int32
                type: integer
              frontEndMemoryThrottleThresholdSettings:
                description: Front end memory throttle threshold settings.
                type: string
              frontEndMemoryThrottlingEnabled:
                description: Switch of front end memory throttling.
                type: boolean
              frontEndMinThreadPoolThreads:
                description: Front end minimum number of threads in thread pool.
                format: int32
                type: integer
              frontEndThreadPoolBasedKeepAliveIOCompletionThreshold:
                description: Threshold of front end thread pool based keep-alive IO completion.
                format: int32
                type: integer
              frontEndThreadPoolBasedKeepAliveMonitorIntervalInSeconds:
                description: Monitor interval (in seconds) of front end thread pool based keep-alive monitor.
                format: int32
                type: integer
              frontEndThreadPoolBasedKeepAlivePercentage:
                description: Percentage (%) of front end thread pool based keep-alive.
                format: float
                type: number
              frontEndThreadPoolBasedKeepAliveWorkerThreadThreshold:
                description: Threshold of front end thread pool based keep-alive worker thread.
                format: int32
                type: integer
              frontEndUseSlaTimeInAvailability:
                description: Switch of whether front end uses SLA time in availability.
                type: boolean
            type: object
        description: Settings of storage services.
        properties:
          frontEndHttpListenPort:
            description: The HTTP port of the storage service front end.
            format: int32
            type: integer
          frontEndHttpsListenPort:
            description: The HTTPs port of the storage service front end.
            format: int32
            type: integer
        type: object
    type: object
