{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "info": {
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "title": "NetworkManagementClient",
    "version": "2019-08-01",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/availableServiceAliases.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "azure.com",
    "x-serviceName": "network-availableServiceAliases",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/availableServiceAliases": {
      "get": {
        "description": "Gets all available service aliases for this subscription in this region.",
        "operationId": "AvailableServiceAliases_List",
        "parameters": [
          {
            "description": "The location.",
            "in": "path",
            "name": "location",
            "required": true,
            "type": "string"
          },
          {
            "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Client API version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. Returns all available service aliases for the subscription in the region.",
            "schema": {
              "$ref": "#/definitions/AvailableServiceAliasesResult"
            }
          }
        },
        "x-ms-examples": {
          "Get available service aliases": {
            "parameters": {
              "api-version": "2019-08-01",
              "location": "westcentralus",
              "subscriptionId": "subId"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subId/providers/Microsoft.Network/AvailableServiceAliases/servicesAzure",
                      "name": "servicesAzure",
                      "resourceName": "/services/Azure",
                      "type": "Microsoft.Network/AvailableServiceAliases"
                    },
                    {
                      "id": "/subscriptions/subId/providers/Microsoft.Network/AvailableServiceAliases/servicesAzureManagedInstance",
                      "name": "servicesAzureManagedInstance",
                      "resourceName": "/services/Azure/ManagedInstance",
                      "type": "Microsoft.Network/AvailableServiceAliases"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/locations/{location}/availableServiceAliases": {
      "get": {
        "description": "Gets all available service aliases for this resource group in this region.",
        "operationId": "AvailableServiceAliases_ListByResourceGroup",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The location.",
            "in": "path",
            "name": "location",
            "required": true,
            "type": "string"
          },
          {
            "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Client API version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. Returns all available service aliases for the resource group in the region.",
            "schema": {
              "$ref": "#/definitions/AvailableServiceAliasesResult"
            }
          }
        },
        "x-ms-examples": {
          "Get available service aliases in the resource group": {
            "parameters": {
              "api-version": "2019-08-01",
              "location": "westcentralus",
              "resourceGroupName": "rg1",
              "subscriptionId": "subId"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subId/providers/Microsoft.Network/AvailableServiceAliases/servicesAzure",
                      "name": "servicesAzure",
                      "resourceName": "/services/Azure",
                      "type": "Microsoft.Network/AvailableServiceAliases"
                    },
                    {
                      "id": "/subscriptions/subId/providers/Microsoft.Network/AvailableServiceAliases/servicesAzureManagedInstance",
                      "name": "servicesAzureManagedInstance",
                      "resourceName": "/services/Azure/ManagedInstance",
                      "type": "Microsoft.Network/AvailableServiceAliases"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "AvailableServiceAlias": {
      "description": "The available service alias.",
      "properties": {
        "id": {
          "description": "The ID of the service alias.",
          "type": "string"
        },
        "name": {
          "description": "The name of the service alias.",
          "type": "string"
        },
        "resourceName": {
          "description": "The resource name of the service alias.",
          "type": "string"
        },
        "type": {
          "description": "The type of the resource.",
          "type": "string"
        }
      }
    },
    "AvailableServiceAliasesResult": {
      "description": "An array of available service aliases.",
      "properties": {
        "nextLink": {
          "description": "The URL to get the next set of results.",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "description": "An array of available service aliases.",
          "items": {
            "$ref": "#/definitions/AvailableServiceAlias"
          },
          "type": "array"
        }
      }
    }
  }
}