{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "info": {
    "description": "APIs to manage Peering resources through the Azure Resource Manager.",
    "title": "PeeringManagementClient",
    "version": "2020-01-01-preview",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/peering/resource-manager/Microsoft.Peering/preview/2020-01-01-preview/peering.json",
        "version": "2.0"
      }
    ],
    "x-preferred": false,
    "x-providerName": "azure.com",
    "x-serviceName": "peering",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "parameters": {
    "ApiVersionParameter": {
      "description": "The client API version.",
      "in": "query",
      "name": "api-version",
      "required": true,
      "type": "string"
    },
    "SubscriptionIdParameter": {
      "description": "The Azure subscription ID.",
      "in": "path",
      "name": "subscriptionId",
      "required": true,
      "type": "string"
    }
  },
  "paths": {
    "/providers/Microsoft.Peering/operations": {
      "get": {
        "description": "Lists all of the available API operations for peering resources.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation has failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Operations"
        ],
        "x-ms-examples": {
          "List peering operations": {
            "parameters": {
              "api-version": "2020-01-01-preview"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "display": {
                        "description": "Registers the subscription for the Peering Resource Provider and enables the creation of peerings",
                        "operation": "Registers the Peering Resource Provider",
                        "provider": "Microsoft.Peering",
                        "resource": "Peering Resource Provider"
                      },
                      "isDataAction": false,
                      "name": "Microsoft.Peering/register/action"
                    },
                    {
                      "display": {
                        "description": "Write any peerAsns",
                        "operation": "Write PeerAsn",
                        "provider": "Microsoft.Peering",
                        "resource": "peerAsns"
                      },
                      "isDataAction": false,
                      "name": "Microsoft.Peering/peerAsns/write"
                    },
                    {
                      "display": {
                        "description": "Read any peerAsns",
                        "operation": "Read PeerAsn",
                        "provider": "Microsoft.Peering",
                        "resource": "peerAsns"
                      },
                      "isDataAction": false,
                      "name": "Microsoft.Peering/peerAsns/read"
                    },
                    {
                      "display": {
                        "description": "Delete any peerAsns",
                        "operation": "Delete PeerAsn",
                        "provider": "Microsoft.Peering",
                        "resource": "peerAsns"
                      },
                      "isDataAction": false,
                      "name": "Microsoft.Peering/peerAsns/delete"
                    },
                    {
                      "display": {
                        "description": "Read any peeringLocations",
                        "operation": "Read PeeringLocation",
                        "provider": "Microsoft.Peering",
                        "resource": "peeringLocations"
                      },
                      "isDataAction": false,
                      "name": "Microsoft.Peering/peeringLocations/read"
                    },
                    {
                      "display": {
                        "description": "Read any legacyPeerings",
                        "operation": "Read LegacyPeering",
                        "provider": "Microsoft.Peering",
                        "resource": "legacyPeerings"
                      },
                      "isDataAction": false,
                      "name": "Microsoft.Peering/legacyPeerings/read"
                    },
                    {
                      "display": {
                        "description": "Write any peerings",
                        "operation": "Write Peering",
                        "provider": "Microsoft.Peering",
                        "resource": "peerings"
                      },
                      "isDataAction": false,
                      "name": "Microsoft.Peering/peerings/write"
                    },
                    {
                      "display": {
                        "description": "Read any peerings",
                        "operation": "Read Peering",
                        "provider": "Microsoft.Peering",
                        "resource": "peerings"
                      },
                      "isDataAction": false,
                      "name": "Microsoft.Peering/peerings/read"
                    },
                    {
                      "display": {
                        "description": "Delete any peerings",
                        "operation": "Delete Peering",
                        "provider": "Microsoft.Peering",
                        "resource": "peerings"
                      },
                      "isDataAction": false,
                      "name": "Microsoft.Peering/peerings/delete"
                    },
                    {
                      "display": {
                        "description": "Read any peeringServiceLocations",
                        "operation": "Read PeeringServiceLocations",
                        "provider": "Microsoft.Peering",
                        "resource": "peeringServiceLocations"
                      },
                      "isDataAction": false,
                      "name": "Microsoft.Peering/peeringServiceLocations/read"
                    },
                    {
                      "display": {
                        "description": "Read any peeringServiceProviders",
                        "operation": "Read PeeringServiceProviders",
                        "provider": "Microsoft.Peering",
                        "resource": "peeringServiceProviders"
                      },
                      "isDataAction": false,
                      "name": "Microsoft.Peering/peeringServiceProviders/read"
                    },
                    {
                      "display": {
                        "description": "Read any peeringServices",
                        "operation": "Read PeeringServices",
                        "provider": "Microsoft.Peering",
                        "resource": "peeringServices"
                      },
                      "isDataAction": false,
                      "name": "Microsoft.Peering/peeringServices/read"
                    },
                    {
                      "display": {
                        "description": "Write any peeringServices",
                        "operation": "Write PeeringService",
                        "provider": "Microsoft.Peering",
                        "resource": "peeringServices"
                      },
                      "isDataAction": false,
                      "name": "Microsoft.Peering/peeringServices/write"
                    },
                    {
                      "display": {
                        "description": "Delete any peeringServices",
                        "operation": "Delete PeeringServices",
                        "provider": "Microsoft.Peering",
                        "resource": "peeringServices"
                      },
                      "isDataAction": false,
                      "name": "Microsoft.Peering/peeringServices/delete"
                    },
                    {
                      "display": {
                        "description": "Read any prefixes",
                        "operation": "Read PeeringServicePrefixes",
                        "provider": "Microsoft.Peering",
                        "resource": "prefixes"
                      },
                      "isDataAction": false,
                      "name": "Microsoft.Peering/peeringServices/prefixes/read"
                    },
                    {
                      "display": {
                        "description": "Write any prefixes",
                        "operation": "Write PeeringServicePrefixes",
                        "provider": "Microsoft.Peering",
                        "resource": "prefixes"
                      },
                      "isDataAction": false,
                      "name": "Microsoft.Peering/peeringServices/prefixes/write"
                    },
                    {
                      "display": {
                        "description": "Delete any prefixes",
                        "operation": "Delete PeeringServicePrefixes",
                        "provider": "Microsoft.Peering",
                        "resource": "prefixes"
                      },
                      "isDataAction": false,
                      "name": "Microsoft.Peering/peeringServices/prefixes/delete"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Peering/CheckServiceProviderAvailability": {
      "post": {
        "description": "Checks if the peering service provider is present within 1000 miles of customer's location",
        "operationId": "CheckServiceProviderAvailability",
        "parameters": [
          {
            "description": "The CheckServiceProviderAvailabilityInput indicating customer location and service provider.",
            "in": "body",
            "name": "checkServiceProviderAvailabilityInput",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckServiceProviderAvailabilityInput"
            }
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "enum": [
                "Available",
                "Unavailable"
              ],
              "type": "string"
            }
          },
          "default": {
            "description": "Error response describing why the operation has failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "CheckServiceProviderAvailability"
        ],
        "x-ms-examples": {
          "Check if peering service provider is available in customer location": {
            "parameters": {
              "api-version": "2020-01-01-preview",
              "checkServiceProviderAvailabilityInput": {
                "peeringServiceLocation": "peeringServiceLocation1",
                "peeringServiceProvider": "peeringServiceProvider1"
              },
              "subscriptionId": "subId"
            },
            "responses": {
              "200": {
                "body": "Available"
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Peering/legacyPeerings": {
      "get": {
        "description": "Lists all of the legacy peerings under the given subscription matching the specified kind and location.",
        "operationId": "LegacyPeerings_List",
        "parameters": [
          {
            "description": "The location of the peering.",
            "in": "query",
            "name": "peeringLocation",
            "required": true,
            "type": "string"
          },
          {
            "description": "The kind of the peering.",
            "enum": [
              "Direct",
              "Exchange"
            ],
            "in": "query",
            "name": "kind",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ASN number associated with a legacy peering.",
            "format": "int32",
            "in": "query",
            "name": "asn",
            "required": false,
            "type": "integer"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PeeringListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation has failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "LegacyPeerings"
        ],
        "x-ms-examples": {
          "List legacy peerings": {
            "parameters": {
              "api-version": "2020-01-01-preview",
              "asn": 65000,
              "kind": "Exchange",
              "peeringLocation": "peeringLocation0",
              "subscriptionId": "subId"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subId/providers/Microsoft.Peering/peerings/peeringName",
                      "kind": "Exchange",
                      "location": "centralus",
                      "name": "peeringName",
                      "properties": {
                        "exchange": {
                          "connections": [
                            {
                              "bgpSession": {
                                "maxPrefixesAdvertisedV4": 1000,
                                "maxPrefixesAdvertisedV6": 100,
                                "md5AuthenticationKey": "test-md5-auth-key",
                                "microsoftSessionIPv4Address": "192.168.3.1",
                                "microsoftSessionIPv6Address": "fd00::1:1",
                                "peerSessionIPv4Address": "192.168.2.1",
                                "peerSessionIPv6Address": "fd00::1",
                                "sessionStateV4": "Established",
                                "sessionStateV6": "Established"
                              },
                              "connectionIdentifier": "CE495334-0E94-4E51-8164-8116D6CD284D",
                              "connectionState": "Active",
                              "peeringDBFacilityId": 99999
                            },
                            {
                              "bgpSession": {
                                "maxPrefixesAdvertisedV4": 1000,
                                "maxPrefixesAdvertisedV6": 100,
                                "md5AuthenticationKey": "test-md5-auth-key",
                                "microsoftSessionIPv4Address": "192.168.3.2",
                                "microsoftSessionIPv6Address": "fd00::1:2",
                                "peerSessionIPv4Address": "192.168.2.2",
                                "peerSessionIPv6Address": "fd00::2",
                                "sessionStateV4": "Established",
                                "sessionStateV6": "Established"
                              },
                              "connectionIdentifier": "CDD8E673-CB07-47E6-84DE-3739F778762B",
                              "connectionState": "Active",
                              "peeringDBFacilityId": 99999
                            }
                          ],
                          "peerAsn": {
                            "id": "65000"
                          }
                        },
                        "peeringLocation": "peeringLocation0",
                        "provisioningState": "Succeeded"
                      },
                      "sku": {
                        "family": "Exchange",
                        "name": "Basic_Exchange_Free",
                        "size": "Free",
                        "tier": "Basic"
                      },
                      "type": "Microsoft.Peering/peerings"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Peering/peerAsns": {
      "get": {
        "description": "Lists all of the peer ASNs under the given subscription.",
        "operationId": "PeerAsns_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PeerAsnListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation has failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PeerAsns"
        ],
        "x-ms-examples": {
          "List peer ASNs in a subscription": {
            "parameters": {
              "api-version": "2020-01-01-preview",
              "subscriptionId": "subId"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subId/providers/Microsoft.Peering/peerAsns/peerAsnName",
                      "name": "peerAsnName",
                      "properties": {
                        "peerAsn": 65000,
                        "peerContactDetail": [
                          {
                            "email": "noc@contoso.com",
                            "phone": "+1 (234) 567-8999",
                            "role": "Noc"
                          },
                          {
                            "email": "abc@contoso.com",
                            "phone": "+1 (234) 567-8900",
                            "role": "Policy"
                          },
                          {
                            "email": "xyz@contoso.com",
                            "phone": "+1 (234) 567-8900",
                            "role": "Technical"
                          }
                        ],
                        "peerName": "Contoso",
                        "validationState": "Approved"
                      },
                      "type": "Microsoft.Peering/peerAsns"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Peering/peerAsns/{peerAsnName}": {
      "delete": {
        "description": "Deletes an existing peer ASN with the specified name under the given subscription.",
        "operationId": "PeerAsns_Delete",
        "parameters": [
          {
            "description": "The peer ASN name.",
            "in": "path",
            "name": "peerAsnName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation has failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PeerAsns"
        ],
        "x-ms-examples": {
          "Delete a peer ASN": {
            "parameters": {
              "api-version": "2020-01-01-preview",
              "peerAsnName": "peerAsnName",
              "subscriptionId": "subId"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        }
      },
      "get": {
        "description": "Gets the peer ASN with the specified name under the given subscription.",
        "operationId": "PeerAsns_Get",
        "parameters": [
          {
            "description": "The peer ASN name.",
            "in": "path",
            "name": "peerAsnName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PeerAsn"
            }
          },
          "default": {
            "description": "Error response describing why the operation has failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PeerAsns"
        ],
        "x-ms-examples": {
          "Get a peer ASN": {
            "parameters": {
              "api-version": "2020-01-01-preview",
              "peerAsnName": "peerAsnName",
              "subscriptionId": "subId"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subId/providers/Microsoft.Peering/peerAsns/peerAsnName",
                  "name": "peerAsnName",
                  "properties": {
                    "peerAsn": 65000,
                    "peerContactDetail": [
                      {
                        "email": "noc@contoso.com",
                        "phone": "+1 (234) 567-8999",
                        "role": "Noc"
                      },
                      {
                        "email": "abc@contoso.com",
                        "phone": "+1 (234) 567-8900",
                        "role": "Policy"
                      },
                      {
                        "email": "xyz@contoso.com",
                        "phone": "+1 (234) 567-8900",
                        "role": "Technical"
                      }
                    ],
                    "peerName": "Contoso",
                    "validationState": "Approved"
                  },
                  "type": "Microsoft.Peering/peerAsns"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Creates a new peer ASN or updates an existing peer ASN with the specified name under the given subscription.",
        "operationId": "PeerAsns_CreateOrUpdate",
        "parameters": [
          {
            "description": "The peer ASN name.",
            "in": "path",
            "name": "peerAsnName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The peer ASN.",
            "in": "body",
            "name": "peerAsn",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PeerAsn"
            }
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PeerAsn"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/PeerAsn"
            }
          },
          "default": {
            "description": "Error response describing why the operation has failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PeerAsns"
        ],
        "x-ms-examples": {
          "Create a peer ASN": {
            "parameters": {
              "api-version": "2020-01-01-preview",
              "peerAsn": {
                "properties": {
                  "peerAsn": 65000,
                  "peerContactDetail": [
                    {
                      "email": "noc@contoso.com",
                      "phone": "+1 (234) 567-8999",
                      "role": "Noc"
                    },
                    {
                      "email": "abc@contoso.com",
                      "phone": "+1 (234) 567-8900",
                      "role": "Policy"
                    },
                    {
                      "email": "xyz@contoso.com",
                      "phone": "+1 (234) 567-8900",
                      "role": "Technical"
                    }
                  ],
                  "peerName": "Contoso"
                }
              },
              "peerAsnName": "peerAsnName",
              "subscriptionId": "subId"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subId/providers/Microsoft.Peering/peerAsns/peerAsnName",
                  "name": "peerAsnName",
                  "properties": {
                    "peerAsn": 65000,
                    "peerContactDetail": [
                      {
                        "email": "noc@contoso.com",
                        "phone": "+1 (234) 567-8999",
                        "role": "Noc"
                      },
                      {
                        "email": "abc@contoso.com",
                        "phone": "+1 (234) 567-8900",
                        "role": "Policy"
                      },
                      {
                        "email": "xyz@contoso.com",
                        "phone": "+1 (234) 567-8900",
                        "role": "Technical"
                      }
                    ],
                    "peerName": "Contoso",
                    "validationState": "Pending"
                  },
                  "type": "Microsoft.Peering/peerAsns"
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/subId/providers/Microsoft.Peering/peerAsns/peerAsnName",
                  "name": "peerAsnName",
                  "properties": {
                    "peerAsn": 65000,
                    "peerContactDetail": [
                      {
                        "email": "noc@contoso.com",
                        "phone": "+1 (234) 567-8999",
                        "role": "Noc"
                      },
                      {
                        "email": "abc@contoso.com",
                        "phone": "+1 (234) 567-8900",
                        "role": "Policy"
                      },
                      {
                        "email": "xyz@contoso.com",
                        "phone": "+1 (234) 567-8900",
                        "role": "Technical"
                      }
                    ],
                    "peerName": "Contoso",
                    "validationState": "Pending"
                  },
                  "type": "Microsoft.Peering/peerAsns"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Peering/peeringLocations": {
      "get": {
        "description": "Lists all of the available peering locations for the specified kind of peering.",
        "operationId": "PeeringLocations_List",
        "parameters": [
          {
            "description": "The kind of the peering.",
            "enum": [
              "Direct",
              "Exchange"
            ],
            "in": "query",
            "name": "kind",
            "required": true,
            "type": "string"
          },
          {
            "description": "The type of direct peering.",
            "enum": [
              "Edge",
              "Transit",
              "Cdn",
              "Internal",
              "Ix",
              "IxRs"
            ],
            "in": "query",
            "name": "directPeeringType",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PeeringLocationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation has failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PeeringLocations"
        ],
        "x-ms-examples": {
          "List direct peering locations": {
            "parameters": {
              "api-version": "2020-01-01-preview",
              "kind": "Direct",
              "subscriptionId": "subId"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subId/providers/Microsoft.Peering/peeringLocations/peeringLocation1",
                      "kind": "Direct",
                      "name": "peeringLocation1",
                      "properties": {
                        "country": "country1",
                        "direct": {
                          "bandwidthOffers": [
                            {
                              "offerName": "10Gbps",
                              "valueInMbps": 10000
                            },
                            {
                              "offerName": "100Gbps",
                              "valueInMbps": 100000
                            }
                          ],
                          "peeringFacilities": [
                            {
                              "address": "address1",
                              "directPeeringType": "Edge",
                              "peeringDBFacilityId": 99999,
                              "peeringDBFacilityLink": "https://www.peeringdb.com/fac/99999"
                            },
                            {
                              "address": "address3",
                              "directPeeringType": "Cdn",
                              "peeringDBFacilityId": 99999,
                              "peeringDBFacilityLink": "https://www.peeringdb.com/fac/99999"
                            }
                          ]
                        },
                        "peeringLocation": "peeringLocation1"
                      },
                      "type": "Microsoft.Peering/peeringLocations"
                    },
                    {
                      "id": "/subscriptions/subId/providers/Microsoft.Peering/peeringLocations/peeringLocation2",
                      "kind": "Direct",
                      "name": "peeringLocation2",
                      "properties": {
                        "country": "country2",
                        "direct": {
                          "bandwidthOffers": [
                            {
                              "offerName": "10Gbps",
                              "valueInMbps": 10000
                            },
                            {
                              "offerName": "100Gbps",
                              "valueInMbps": 100000
                            }
                          ],
                          "peeringFacilities": [
                            {
                              "address": "address2",
                              "directPeeringType": "Edge",
                              "peeringDBFacilityId": 99999,
                              "peeringDBFacilityLink": "https://www.peeringdb.com/fac/99999"
                            }
                          ]
                        },
                        "peeringLocation": "peeringLocation2"
                      },
                      "type": "Microsoft.Peering/peeringLocations"
                    }
                  ]
                }
              }
            }
          },
          "List exchange peering locations": {
            "parameters": {
              "api-version": "2020-01-01-preview",
              "kind": "Exchange",
              "subscriptionId": "subId"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subId/providers/Microsoft.Peering/peeringLocations/peeringLocation1",
                      "kind": "Exchange",
                      "name": "peeringLocation1",
                      "properties": {
                        "country": "country1",
                        "exchange": {
                          "peeringFacilities": [
                            {
                              "bandwidthInMbps": 10000,
                              "exchangeName": "name1",
                              "facilityIPv4Prefix": "192.168.128.0/17",
                              "facilityIPv6Prefix": "fd00::1000:0/98",
                              "microsoftIPv4Address": "192.168.131.1",
                              "microsoftIPv6Address": "fd00::1:1",
                              "peeringDBFacilityId": 99999,
                              "peeringDBFacilityLink": "https://www.peeringdb.com/ix/99999"
                            },
                            {
                              "bandwidthInMbps": 10000,
                              "exchangeName": "name3",
                              "facilityIPv4Prefix": "192.168.0.0/17",
                              "facilityIPv6Prefix": "fd00::0/98",
                              "microsoftIPv4Address": "192.168.2.2",
                              "microsoftIPv6Address": "fd00::2",
                              "peeringDBFacilityId": 99999,
                              "peeringDBFacilityLink": "https://www.peeringdb.com/ix/99999"
                            }
                          ]
                        },
                        "peeringLocation": "peeringLocation1"
                      },
                      "type": "Microsoft.Peering/peeringLocations"
                    },
                    {
                      "id": "/subscriptions/subId/providers/Microsoft.Peering/peeringLocations/peeringLocation2",
                      "kind": "Exchange",
                      "name": "peeringLocation2",
                      "properties": {
                        "country": "country2",
                        "exchange": {
                          "peeringFacilities": [
                            {
                              "bandwidthInMbps": 10000,
                              "exchangeName": "name2",
                              "facilityIPv4Prefix": "192.168.0.0/16",
                              "facilityIPv6Prefix": "fd00::0/98",
                              "microsoftIPv4Address": "192.168.2.1",
                              "microsoftIPv6Address": "fd00::2",
                              "peeringDBFacilityId": 99999,
                              "peeringDBFacilityLink": "https://www.peeringdb.com/ix/99999"
                            }
                          ]
                        },
                        "peeringLocation": "peeringLocation2"
                      },
                      "type": "Microsoft.Peering/peeringLocations"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Peering/peeringServiceCountries": {
      "get": {
        "description": "Lists all of the available countries for peering service.",
        "operationId": "PeeringServiceCountries_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PeeringServiceCountryListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation has failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PeeringServiceCountries"
        ],
        "x-ms-examples": {
          "List peering service countries": {
            "parameters": {
              "api-version": "2020-01-01-preview",
              "subscriptionId": "subId"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subId/providers/Microsoft.Peering/peeringServiceCountries/country1",
                      "name": "country1",
                      "type": "Microsoft.Peering/peeringServiceCountries"
                    },
                    {
                      "id": "/subscriptions/subId/providers/Microsoft.Peering/peeringServiceCountries/country2",
                      "name": "country2",
                      "type": "Microsoft.Peering/peeringServiceCountries"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Peering/peeringServiceLocations": {
      "get": {
        "description": "Lists all of the available locations for peering service.",
        "operationId": "PeeringServiceLocations_List",
        "parameters": [
          {
            "description": "The country of interest, in which the locations are to be present.",
            "in": "query",
            "name": "country",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PeeringServiceLocationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation has failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PeeringServiceLocations"
        ],
        "x-ms-examples": {
          "List peering service locations": {
            "parameters": {
              "api-version": "2020-01-01-preview",
              "country": "country1",
              "subscriptionId": "subId"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subId/providers/Microsoft.Peering/peeringServiceLocations/peeringServiceLocation1",
                      "name": "peeringServiceLocation1",
                      "properties": {
                        "country": "country1",
                        "state": "state1"
                      },
                      "type": "Microsoft.Peering/peeringServiceLocations"
                    },
                    {
                      "id": "/subscriptions/subId/providers/Microsoft.Peering/peeringServiceLocations/peeringServiceLocation2",
                      "name": "peeringServiceLocation2",
                      "properties": {
                        "country": "country1",
                        "state": "state2"
                      },
                      "type": "Microsoft.Peering/peeringServiceLocations"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Peering/peeringServiceProviders": {
      "get": {
        "description": "Lists all of the available peering service locations for the specified kind of peering.",
        "operationId": "PeeringServiceProviders_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PeeringServiceProviderListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation has failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PeeringServiceProviders"
        ],
        "x-ms-examples": {
          "List peering service providers": {
            "parameters": {
              "api-version": "2020-01-01-preview",
              "subscriptionId": "subId"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subId/providers/Microsoft.Peering/peeringServiceProviders/peeringServiceProvider1",
                      "name": "peeringServiceProvider1",
                      "properties": {
                        "serviceProviderName": "peeringServiceProvider1"
                      },
                      "type": "Microsoft.Peering/peeringServiceProviders"
                    },
                    {
                      "id": "/subscriptions/subId/providers/Microsoft.Peering/peeringServiceProviders/peeringServiceProvider2",
                      "name": "peeringServiceProvider2",
                      "properties": {
                        "serviceProviderName": "peeringServiceProvider2"
                      },
                      "type": "Microsoft.Peering/peeringServiceProviders"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Peering/peeringServices": {
      "get": {
        "description": "Lists all of the peerings under the given subscription.",
        "operationId": "PeeringServices_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PeeringServiceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation has failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PeeringServices"
        ],
        "x-ms-examples": {
          "List peering services in a subscription": {
            "parameters": {
              "api-version": "2020-01-01-preview",
              "subscriptionId": "subId"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subId/resourceGroups/rgName/providers/Microsoft.Peering/peeringServices/peeringServiceName",
                      "location": "eastus",
                      "name": "peeringServiceName",
                      "properties": {
                        "peeringServiceLocation": "state1",
                        "peeringServiceProvider": "serviceProvider1",
                        "provisioningState": "Succeeded"
                      },
                      "type": "Microsoft.Peering/peeringServices"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Peering/peerings": {
      "get": {
        "description": "Lists all of the peerings under the given subscription.",
        "operationId": "Peerings_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PeeringListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation has failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Peerings"
        ],
        "x-ms-examples": {
          "List peerings in a subscription": {
            "parameters": {
              "api-version": "2020-01-01-preview",
              "subscriptionId": "subId"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subId/resourceGroups/rgName/providers/Microsoft.Peering/peerings/peeringName",
                      "kind": "Exchange",
                      "location": "eastus",
                      "name": "peeringName",
                      "properties": {
                        "exchange": {
                          "connections": [
                            {
                              "bgpSession": {
                                "maxPrefixesAdvertisedV4": 1000,
                                "maxPrefixesAdvertisedV6": 100,
                                "md5AuthenticationKey": "test-md5-auth-key",
                                "microsoftSessionIPv4Address": "192.168.3.1",
                                "microsoftSessionIPv6Address": "fd00::1:1",
                                "peerSessionIPv4Address": "192.168.2.1",
                                "peerSessionIPv6Address": "fd00::1",
                                "sessionStateV4": "Established",
                                "sessionStateV6": "Established"
                              },
                              "connectionIdentifier": "CE495334-0E94-4E51-8164-8116D6CD284D",
                              "connectionState": "Active",
                              "peeringDBFacilityId": 99999
                            },
                            {
                              "bgpSession": {
                                "maxPrefixesAdvertisedV4": 1000,
                                "maxPrefixesAdvertisedV6": 100,
                                "md5AuthenticationKey": "test-md5-auth-key",
                                "microsoftSessionIPv4Address": "192.168.3.2",
                                "microsoftSessionIPv6Address": "fd00::1:2",
                                "peerSessionIPv4Address": "192.168.2.2",
                                "peerSessionIPv6Address": "fd00::2",
                                "sessionStateV4": "Established",
                                "sessionStateV6": "Established"
                              },
                              "connectionIdentifier": "CDD8E673-CB07-47E6-84DE-3739F778762B",
                              "connectionState": "Active",
                              "peeringDBFacilityId": 99999
                            }
                          ],
                          "peerAsn": {
                            "id": "/subscriptions/subId/providers/Microsoft.Peering/peerAsns/myAsn1"
                          }
                        },
                        "peeringLocation": "peeringLocation0",
                        "provisioningState": "Succeeded"
                      },
                      "sku": {
                        "family": "Exchange",
                        "name": "Basic_Exchange_Free",
                        "size": "Free",
                        "tier": "Basic"
                      },
                      "type": "Microsoft.Peering/peerings"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peeringServices": {
      "get": {
        "description": "Lists all of the peering services under the given subscription and resource group.",
        "operationId": "PeeringServices_ListByResourceGroup",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PeeringServiceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation has failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PeeringServices"
        ],
        "x-ms-examples": {
          "List peering services in a resource group": {
            "parameters": {
              "api-version": "2020-01-01-preview",
              "resourceGroupName": "rgName",
              "subscriptionId": "subId"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subId/resourceGroups/rgName/providers/Microsoft.Peering/peeringServices/peeringServiceName",
                      "location": "eastus",
                      "name": "peeringServiceName",
                      "properties": {
                        "peeringServiceLocation": "state1",
                        "peeringServiceProvider": "serviceProvider1",
                        "provisioningState": "Succeeded"
                      },
                      "type": "Microsoft.Peering/peeringServices"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peeringServices/{peeringServiceName}": {
      "delete": {
        "description": "Deletes an existing peering service with the specified name under the given subscription and resource group.",
        "operationId": "PeeringServices_Delete",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the peering service.",
            "in": "path",
            "name": "peeringServiceName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation has failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PeeringServices"
        ],
        "x-ms-examples": {
          "Delete a peering service": {
            "parameters": {
              "api-version": "2020-01-01-preview",
              "peeringServiceName": "peeringServiceName",
              "resourceGroupName": "rgName",
              "subscriptionId": "subId"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        }
      },
      "get": {
        "description": "Gets an existing peering service with the specified name under the given subscription and resource group.",
        "operationId": "PeeringServices_Get",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the peering.",
            "in": "path",
            "name": "peeringServiceName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PeeringService"
            }
          },
          "default": {
            "description": "Error response describing why the operation has failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PeeringServices"
        ],
        "x-ms-examples": {
          "Get a peering service": {
            "parameters": {
              "api-version": "2020-01-01-preview",
              "peeringServiceName": "peeringServiceName",
              "resourceGroupName": "rgName",
              "subscriptionId": "subId"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subId/resourceGroups/rgName/providers/Microsoft.Peering/peeringServices/peeringServiceName",
                  "location": "eastus",
                  "name": "peeringServiceName",
                  "properties": {
                    "peeringServiceLocation": "state1",
                    "peeringServiceProvider": "serviceProvider1",
                    "provisioningState": "Succeeded"
                  },
                  "type": "Microsoft.Peering/peeringServices"
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Updates tags for a peering service with the specified name under the given subscription and resource group.",
        "operationId": "PeeringServices_Update",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the peering service.",
            "in": "path",
            "name": "peeringServiceName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The resource tags.",
            "in": "body",
            "name": "tags",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceTags"
            }
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PeeringService"
            }
          },
          "default": {
            "description": "Error response describing why the operation has failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PeeringServices"
        ],
        "x-ms-examples": {
          "Update peering service tags": {
            "parameters": {
              "api-version": "2020-01-01-preview",
              "peeringServiceName": "peeringServiceName",
              "resourceGroupName": "rgName",
              "subscriptionId": "subId",
              "tags": {
                "tags": {
                  "tag0": "value0",
                  "tag1": "value1"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subId/resourceGroups/rgName/providers/Microsoft.Peering/peeringServices/peeringServiceName",
                  "location": "eastus",
                  "name": "peeringServiceName",
                  "properties": {
                    "peeringServiceLocation": "state1",
                    "peeringServiceProvider": "serviceProvider1",
                    "provisioningState": "Succeeded"
                  },
                  "tags": {
                    "tag0": "value0",
                    "tag1": "value1"
                  },
                  "type": "Microsoft.Peering/peeringServices"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Creates a new peering service or updates an existing peering with the specified name under the given subscription and resource group.",
        "operationId": "PeeringServices_CreateOrUpdate",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the peering service.",
            "in": "path",
            "name": "peeringServiceName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The properties needed to create or update a peering service.",
            "in": "body",
            "name": "peeringService",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PeeringService"
            }
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PeeringService"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/PeeringService"
            }
          },
          "default": {
            "description": "Error response describing why the operation has failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PeeringServices"
        ],
        "x-ms-examples": {
          "Create a  peering service": {
            "parameters": {
              "api-version": "2020-01-01-preview",
              "peeringService": {
                "location": "eastus",
                "properties": {
                  "peeringServiceLocation": "state1",
                  "peeringServiceProvider": "serviceProvider1"
                }
              },
              "peeringServiceName": "peeringServiceName",
              "resourceGroupName": "rgName",
              "subscriptionId": "subId"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subId/resourceGroups/rgName/providers/Microsoft.Peering/peeringServices/peeringServiceName",
                  "location": "eastus",
                  "name": "peeringServiceName",
                  "properties": {
                    "peeringServiceLocation": "state1",
                    "peeringServiceProvider": "serviceProvider1",
                    "provisioningState": "Succeeded"
                  },
                  "type": "Microsoft.Peering/peeringServices"
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/subId/resourceGroups/rgName/providers/Microsoft.Peering/peeringServices/peeringServiceName",
                  "location": "eastus",
                  "name": "peeringServiceName",
                  "properties": {
                    "peeringServiceLocation": "state1",
                    "peeringServiceProvider": "serviceProvider1",
                    "provisioningState": "Succeeded"
                  },
                  "type": "Microsoft.Peering/peeringServices"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peeringServices/{peeringServiceName}/prefixes": {
      "get": {
        "description": "Lists all prefixes under the given subscription, resource group and peering service.",
        "operationId": "Prefixes_ListByPeeringService",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the peering service.",
            "in": "path",
            "name": "peeringServiceName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The properties to be expanded.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PeeringServicePrefixListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation has failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PeeringServicePrefixes"
        ],
        "x-ms-examples": {
          "List all the prefixes associated with the peering service": {
            "parameters": {
              "api-version": "2020-01-01-preview",
              "peeringServiceName": "peeringServiceName",
              "resourceGroupName": "rgName",
              "subscriptionId": "subId"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subId/resourceGroups/rgName/providers/Microsoft.Peering/peeringServices/peeringServiceName/prefixes/peeringServicePrefixName1",
                      "name": "peeringServicePrefixName1",
                      "properties": {
                        "learnedType": "ViaServiceProvider",
                        "peeringServicePrefixKey": "00000000-0000-0000-0000-000000000000",
                        "prefix": "192.168.1.0/24",
                        "prefixValidationState": "Verified",
                        "provisioningState": "Succeeded"
                      }
                    },
                    {
                      "id": "/subscriptions/subId/resourceGroups/rgName/providers/Microsoft.Peering/peeringServices/peeringServiceName/prefixes/peeringServicePrefixName2",
                      "name": "peeringServicePrefixName2",
                      "properties": {
                        "learnedType": "ViaServiceProvider",
                        "peeringServicePrefixKey": "00000000-0000-0000-0000-000000000000",
                        "prefix": "192.168.2.0/24",
                        "prefixValidationState": "Verified",
                        "provisioningState": "Succeeded"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peeringServices/{peeringServiceName}/prefixes/{prefixName}": {
      "delete": {
        "description": "Deletes an existing prefix with the specified name under the given subscription, resource group and peering service.",
        "operationId": "Prefixes_Delete",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the peering service.",
            "in": "path",
            "name": "peeringServiceName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the prefix.",
            "in": "path",
            "name": "prefixName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation has failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PeeringServicePrefixes"
        ],
        "x-ms-examples": {
          "Delete a prefix associated with the peering service": {
            "parameters": {
              "api-version": "2020-01-01-preview",
              "peeringServiceName": "peeringServiceName",
              "prefixName": "peeringServicePrefixName",
              "resourceGroupName": "rgName",
              "subscriptionId": "subId"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        }
      },
      "get": {
        "description": "Gets an existing prefix with the specified name under the given subscription, resource group and peering service.",
        "operationId": "Prefixes_Get",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the peering service.",
            "in": "path",
            "name": "peeringServiceName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the prefix.",
            "in": "path",
            "name": "prefixName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The properties to be expanded.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PeeringServicePrefix"
            }
          },
          "default": {
            "description": "Error response describing why the operation has failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PeeringServicePrefixes"
        ],
        "x-ms-examples": {
          "Get a prefix associated with the peering service": {
            "parameters": {
              "api-version": "2020-01-01-preview",
              "peeringServiceName": "peeringServiceName",
              "prefixName": "peeringServicePrefixName",
              "resourceGroupName": "rgName",
              "subscriptionId": "subId"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subId/resourceGroups/rgName/providers/Microsoft.Peering/peeringServices/peeringServiceName/prefixes/peeringServicePrefixName",
                  "name": "peeringServicePrefixName",
                  "properties": {
                    "learnedType": "ViaServiceProvider",
                    "peeringServicePrefixKey": "00000000-0000-0000-0000-000000000000",
                    "prefix": "192.168.1.0/24",
                    "prefixValidationState": "Verified",
                    "provisioningState": "Succeeded"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Creates a new prefix with the specified name under the given subscription, resource group and peering service.",
        "operationId": "Prefixes_CreateOrUpdate",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the peering service.",
            "in": "path",
            "name": "peeringServiceName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the prefix.",
            "in": "path",
            "name": "prefixName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The properties needed to create a prefix.",
            "in": "body",
            "name": "peeringServicePrefix",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PeeringServicePrefix"
            }
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PeeringServicePrefix"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/PeeringServicePrefix"
            }
          },
          "default": {
            "description": "Error response describing why the operation has failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "PeeringServicePrefixes"
        ],
        "x-ms-examples": {
          "Create or update a prefix for the peering service": {
            "parameters": {
              "api-version": "2020-01-01-preview",
              "peeringServiceName": "peeringServiceName",
              "peeringServicePrefix": {
                "properties": {
                  "peeringServicePrefixKey": "00000000-0000-0000-0000-000000000000",
                  "prefix": "192.168.1.0/24"
                }
              },
              "prefixName": "peeringServicePrefixName",
              "resourceGroupName": "rgName",
              "subscriptionId": "subId"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subId/resourceGroups/rgName/providers/Microsoft.Peering/peeringServices/peeringServiceName/prefixes/peeringServicePrefixName",
                  "name": "peeringServicePrefixName",
                  "properties": {
                    "errorMessage": "Prefix is not announced by the service provider to Microsoft.",
                    "learnedType": "None",
                    "peeringServicePrefixKey": "00000000-0000-0000-0000-000000000000",
                    "prefix": "192.168.1.0/24",
                    "prefixValidationState": "Failed",
                    "provisioningState": "Succeeded"
                  }
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/subId/resourceGroups/rgName/providers/Microsoft.Peering/peeringServices/peeringServiceName/prefixes/peeringServicePrefixName",
                  "name": "peeringServicePrefixName",
                  "properties": {
                    "errorMessage": "Prefix is not announced by the service provider to Microsoft.",
                    "learnedType": "None",
                    "peeringServicePrefixKey": "00000000-0000-0000-0000-000000000000",
                    "prefix": "192.168.1.0/24",
                    "prefixValidationState": "Failed",
                    "provisioningState": "Succeeded"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings": {
      "get": {
        "description": "Lists all of the peerings under the given subscription and resource group.",
        "operationId": "Peerings_ListByResourceGroup",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PeeringListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation has failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Peerings"
        ],
        "x-ms-examples": {
          "List peerings in a resource group": {
            "parameters": {
              "api-version": "2020-01-01-preview",
              "resourceGroupName": "rgName",
              "subscriptionId": "subId"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subId/resourceGroups/rgName/providers/Microsoft.Peering/peerings/peeringName",
                      "kind": "Exchange",
                      "location": "eastus",
                      "name": "peeringName",
                      "properties": {
                        "exchange": {
                          "connections": [
                            {
                              "bgpSession": {
                                "maxPrefixesAdvertisedV4": 1000,
                                "maxPrefixesAdvertisedV6": 100,
                                "md5AuthenticationKey": "test-md5-auth-key",
                                "microsoftSessionIPv4Address": "192.168.3.1",
                                "microsoftSessionIPv6Address": "fd00::1:1",
                                "peerSessionIPv4Address": "192.168.2.1",
                                "peerSessionIPv6Address": "fd00::1",
                                "sessionStateV4": "Established",
                                "sessionStateV6": "Established"
                              },
                              "connectionIdentifier": "CE495334-0E94-4E51-8164-8116D6CD284D",
                              "connectionState": "Active",
                              "peeringDBFacilityId": 99999
                            },
                            {
                              "bgpSession": {
                                "maxPrefixesAdvertisedV4": 1000,
                                "maxPrefixesAdvertisedV6": 100,
                                "md5AuthenticationKey": "test-md5-auth-key",
                                "microsoftSessionIPv4Address": "192.168.3.2",
                                "microsoftSessionIPv6Address": "fd00::1:2",
                                "peerSessionIPv4Address": "192.168.2.2",
                                "peerSessionIPv6Address": "fd00::2",
                                "sessionStateV4": "Established",
                                "sessionStateV6": "Established"
                              },
                              "connectionIdentifier": "CDD8E673-CB07-47E6-84DE-3739F778762B",
                              "connectionState": "Active",
                              "peeringDBFacilityId": 99999
                            }
                          ],
                          "peerAsn": {
                            "id": "/subscriptions/subId/providers/Microsoft.Peering/peerAsns/myAsn1"
                          }
                        },
                        "peeringLocation": "peeringLocation0",
                        "provisioningState": "Succeeded"
                      },
                      "sku": {
                        "family": "Exchange",
                        "name": "Basic_Exchange_Free",
                        "size": "Free",
                        "tier": "Basic"
                      },
                      "type": "Microsoft.Peering/peerings"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}": {
      "delete": {
        "description": "Deletes an existing peering with the specified name under the given subscription and resource group.",
        "operationId": "Peerings_Delete",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the peering.",
            "in": "path",
            "name": "peeringName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation has failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Peerings"
        ],
        "x-ms-examples": {
          "Delete a peering": {
            "parameters": {
              "api-version": "2020-01-01-preview",
              "peeringName": "peeringName",
              "resourceGroupName": "rgName",
              "subscriptionId": "subId"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        }
      },
      "get": {
        "description": "Gets an existing peering with the specified name under the given subscription and resource group.",
        "operationId": "Peerings_Get",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the peering.",
            "in": "path",
            "name": "peeringName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Peering"
            }
          },
          "default": {
            "description": "Error response describing why the operation has failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Peerings"
        ],
        "x-ms-examples": {
          "Get a peering": {
            "parameters": {
              "api-version": "2020-01-01-preview",
              "peeringName": "peeringName",
              "resourceGroupName": "rgName",
              "subscriptionId": "subId"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subId/resourceGroups/rgName/providers/Microsoft.Peering/peerings/peeringName",
                  "kind": "Exchange",
                  "location": "eastus",
                  "name": "peeringName",
                  "properties": {
                    "exchange": {
                      "connections": [
                        {
                          "bgpSession": {
                            "maxPrefixesAdvertisedV4": 1000,
                            "maxPrefixesAdvertisedV6": 100,
                            "md5AuthenticationKey": "test-md5-auth-key",
                            "microsoftSessionIPv4Address": "192.168.3.1",
                            "microsoftSessionIPv6Address": "fd00::1:1",
                            "peerSessionIPv4Address": "192.168.2.1",
                            "peerSessionIPv6Address": "fd00::1",
                            "sessionStateV4": "Established",
                            "sessionStateV6": "Established"
                          },
                          "connectionIdentifier": "CE495334-0E94-4E51-8164-8116D6CD284D",
                          "connectionState": "Active",
                          "peeringDBFacilityId": 99999
                        },
                        {
                          "bgpSession": {
                            "maxPrefixesAdvertisedV4": 1000,
                            "maxPrefixesAdvertisedV6": 100,
                            "md5AuthenticationKey": "test-md5-auth-key",
                            "microsoftSessionIPv4Address": "192.168.3.2",
                            "microsoftSessionIPv6Address": "fd00::1:2",
                            "peerSessionIPv4Address": "192.168.2.2",
                            "peerSessionIPv6Address": "fd00::2",
                            "sessionStateV4": "Established",
                            "sessionStateV6": "Established"
                          },
                          "connectionIdentifier": "CDD8E673-CB07-47E6-84DE-3739F778762B",
                          "connectionState": "Active",
                          "peeringDBFacilityId": 99999
                        }
                      ],
                      "peerAsn": {
                        "id": "/subscriptions/subId/providers/Microsoft.Peering/peerAsns/myAsn1"
                      }
                    },
                    "peeringLocation": "peeringLocation0",
                    "provisioningState": "Succeeded"
                  },
                  "sku": {
                    "family": "Exchange",
                    "name": "Basic_Exchange_Free",
                    "size": "Free",
                    "tier": "Basic"
                  },
                  "type": "Microsoft.Peering/peerings"
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Updates tags for a peering with the specified name under the given subscription and resource group.",
        "operationId": "Peerings_Update",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the peering.",
            "in": "path",
            "name": "peeringName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The resource tags.",
            "in": "body",
            "name": "tags",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceTags"
            }
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Peering"
            }
          },
          "default": {
            "description": "Error response describing why the operation has failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Peerings"
        ],
        "x-ms-examples": {
          "Update peering tags": {
            "parameters": {
              "api-version": "2020-01-01-preview",
              "peeringName": "peeringName",
              "resourceGroupName": "rgName",
              "subscriptionId": "subId",
              "tags": {
                "tags": {
                  "tag0": "value0",
                  "tag1": "value1"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subId/resourceGroups/rgName/providers/Microsoft.Peering/peerings/peeringName",
                  "kind": "Exchange",
                  "location": "eastus",
                  "name": "peeringName",
                  "properties": {
                    "exchange": {
                      "connections": [
                        {
                          "bgpSession": {
                            "maxPrefixesAdvertisedV4": 1000,
                            "maxPrefixesAdvertisedV6": 100,
                            "md5AuthenticationKey": "test-md5-auth-key",
                            "microsoftSessionIPv4Address": "192.168.3.1",
                            "microsoftSessionIPv6Address": "fd00::1:1",
                            "peerSessionIPv4Address": "192.168.2.1",
                            "peerSessionIPv6Address": "fd00::1",
                            "sessionStateV4": "Established",
                            "sessionStateV6": "Established"
                          },
                          "connectionIdentifier": "CE495334-0E94-4E51-8164-8116D6CD284D",
                          "connectionState": "Active",
                          "peeringDBFacilityId": 99999
                        },
                        {
                          "bgpSession": {
                            "maxPrefixesAdvertisedV4": 1000,
                            "maxPrefixesAdvertisedV6": 100,
                            "md5AuthenticationKey": "test-md5-auth-key",
                            "microsoftSessionIPv4Address": "192.168.3.2",
                            "microsoftSessionIPv6Address": "fd00::1:2",
                            "peerSessionIPv4Address": "192.168.2.2",
                            "peerSessionIPv6Address": "fd00::2",
                            "sessionStateV4": "Established",
                            "sessionStateV6": "Established"
                          },
                          "connectionIdentifier": "CDD8E673-CB07-47E6-84DE-3739F778762B",
                          "connectionState": "Active",
                          "peeringDBFacilityId": 99999
                        }
                      ],
                      "peerAsn": {
                        "id": "/subscriptions/subId/providers/Microsoft.Peering/peerAsns/myAsn1"
                      }
                    },
                    "peeringLocation": "peeringLocation0",
                    "provisioningState": "Succeeded"
                  },
                  "sku": {
                    "family": "Exchange",
                    "name": "Basic_Exchange_Free",
                    "size": "Free",
                    "tier": "Basic"
                  },
                  "tags": {
                    "tag0": "value0",
                    "tag1": "value1"
                  },
                  "type": "Microsoft.Peering/peerings"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Creates a new peering or updates an existing peering with the specified name under the given subscription and resource group.",
        "operationId": "Peerings_CreateOrUpdate",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the peering.",
            "in": "path",
            "name": "peeringName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The properties needed to create or update a peering.",
            "in": "body",
            "name": "peering",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Peering"
            }
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Peering"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Peering"
            }
          },
          "default": {
            "description": "Error response describing why the operation has failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Peerings"
        ],
        "x-ms-examples": {
          "Create a direct peering": {
            "parameters": {
              "api-version": "2020-01-01-preview",
              "peering": {
                "kind": "Direct",
                "location": "eastus",
                "properties": {
                  "direct": {
                    "connections": [
                      {
                        "bandwidthInMbps": 10000,
                        "bgpSession": {
                          "maxPrefixesAdvertisedV4": 1000,
                          "maxPrefixesAdvertisedV6": 100,
                          "md5AuthenticationKey": "test-md5-auth-key",
                          "sessionPrefixV4": "192.168.0.0/31",
                          "sessionPrefixV6": "fd00::0/127"
                        },
                        "connectionIdentifier": "5F4CB5C7-6B43-4444-9338-9ABC72606C16",
                        "peeringDBFacilityId": 99999,
                        "sessionAddressProvider": "Peer",
                        "useForPeeringService": false
                      },
                      {
                        "bandwidthInMbps": 10000,
                        "connectionIdentifier": "8AB00818-D533-4504-A25A-03A17F61201C",
                        "peeringDBFacilityId": 99999,
                        "sessionAddressProvider": "Microsoft",
                        "useForPeeringService": true
                      }
                    ],
                    "directPeeringType": "Edge",
                    "peerAsn": {
                      "id": "/subscriptions/subId/providers/Microsoft.Peering/peerAsns/myAsn1"
                    }
                  },
                  "peeringLocation": "peeringLocation0"
                },
                "sku": {
                  "name": "Basic_Direct_Free"
                }
              },
              "peeringName": "peeringName",
              "resourceGroupName": "rgName",
              "subscriptionId": "subId"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subId/resourceGroups/rgName/providers/Microsoft.Peering/peerings/peeringName",
                  "kind": "Direct",
                  "location": "eastus",
                  "name": "peeringName",
                  "properties": {
                    "direct": {
                      "connections": [
                        {
                          "bandwidthInMbps": 10000,
                          "bgpSession": {
                            "maxPrefixesAdvertisedV4": 1000,
                            "maxPrefixesAdvertisedV6": 100,
                            "md5AuthenticationKey": "test-md5-auth-key",
                            "sessionPrefixV4": "192.168.0.0/31",
                            "sessionPrefixV6": "fd00::0/127",
                            "sessionStateV4": "Established",
                            "sessionStateV6": "Established"
                          },
                          "connectionIdentifier": "5F4CB5C7-6B43-4444-9338-9ABC72606C16",
                          "connectionState": "ProvisioningFailed",
                          "errorMessage": "IPv4 address is already configured with a different ASN",
                          "peeringDBFacilityId": 99999,
                          "provisionedBandwidthInMbps": 10000,
                          "sessionAddressProvider": "Peer",
                          "useForPeeringService": false
                        },
                        {
                          "bandwidthInMbps": 10000,
                          "bgpSession": {
                            "maxPrefixesAdvertisedV4": 1000,
                            "maxPrefixesAdvertisedV6": 100,
                            "md5AuthenticationKey": "test-md5-auth-key",
                            "sessionPrefixV4": "192.168.1.0/31",
                            "sessionPrefixV6": "fd00::2/127",
                            "sessionStateV4": "Established",
                            "sessionStateV6": "Established"
                          },
                          "connectionIdentifier": "8AB00818-D533-4504-A25A-03A17F61201C",
                          "connectionState": "Active",
                          "peeringDBFacilityId": 99999,
                          "provisionedBandwidthInMbps": 10000,
                          "sessionAddressProvider": "Microsoft",
                          "useForPeeringService": true
                        }
                      ],
                      "directPeeringType": "Edge",
                      "peerAsn": {
                        "id": "/subscriptions/subId/providers/Microsoft.Peering/peerAsns/myAsn1"
                      },
                      "useForPeeringService": true
                    },
                    "peeringLocation": "peeringLocation0",
                    "provisioningState": "Succeeded"
                  },
                  "sku": {
                    "family": "Direct",
                    "name": "Basic_Direct_Free",
                    "size": "Free",
                    "tier": "Basic"
                  },
                  "type": "Microsoft.Peering/peerings"
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/subId/resourceGroups/rgName/providers/Microsoft.Peering/peerings/peeringName",
                  "kind": "Direct",
                  "location": "eastus",
                  "name": "peeringName",
                  "properties": {
[...]
