swagger: "2.0"
schemes:
  - https
host: api.cognitive.microsoft.com
basePath: /bing/v7.0
info:
  contact:
    x-twitter: microsoft
  description: The Web Search API lets you send a search query to Bing and get back search results that include links to webpages, images, and more.
  title: Web Search Client
  version: "1.0"
  x-apisguru-categories:
    - developer_tools
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_microsoft_profile_image.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/WebSearch/stable/v1.0/WebSearch.json
      version: "2.0"
  x-providerName: microsoft.com
  x-serviceName: cognitiveservices-WebSearch
  x-tags:
    - Microsoft
produces:
  - application/json
securityDefinitions:
  apiKeyHeader:
    in: header
    name: Ocp-Apim-Subscription-Key
    type: apiKey
security:
  - apiKeyHeader: []
parameters:
  x-bingapis-sdk:
    description: Activate swagger compliance
    enum:
      - "true"
    in: header
    name: X-BingApis-SDK
    required: true
    type: string
    x-ms-enum:
      modelAsString: true
      name: XBingApisSDK
    x-ms-parameter-location: method
paths:
  /search:
    get:
      operationId: Web_Search
      parameters:
        - $ref: "#/parameters/x-bingapis-sdk"
        - description: The default media type is application/json. To specify that the response use [JSON-LD](http://json-ld.org/), set the Accept header to application/ld+json.
          in: header
          name: Accept
          required: false
          type: string
        - description: A comma-delimited list of one or more languages to use for user interface strings. The list is in decreasing order of preference. For additional information, including expected format, see [RFC2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html). This header and the setLang query parameter are mutually exclusive; do not specify both. If you set this header, you must also specify the cc query parameter. Bing will use the first supported language it finds from the list, and combine that language with the cc parameter value to determine the market to return results for. If the list does not include a supported language, Bing will find the closest language and market that supports the request, and may use an aggregated or default market for the results instead of a specified one. You should use this header and the cc query parameter only if you specify multiple languages; otherwise, you should use the mkt and setLang query parameters. A user interface string is a string that's used as a label in a user interface. There are very few user interface strings in the JSON response objects. Any links in the response objects to Bing.com properties will apply the specified language.
          in: header
          name: Accept-Language
          required: false
          type: string
          x-ms-client-name: AcceptLanguage
        - description: "By default, Bing returns cached content, if available. To prevent Bing from returning cached content, set the Pragma header to no-cache (for example, Pragma: no-cache)."
          in: header
          name: Pragma
          required: false
          type: string
        - description: The user agent originating the request. Bing uses the user agent to provide mobile users with an optimized experience. Although optional, you are strongly encouraged to always specify this header. The user-agent should be the same string that any commonly used browser would send. For information about user agents, see [RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).
          in: header
          name: User-Agent
          required: false
          type: string
          x-ms-client-name: UserAgent
        - description: "Bing uses this header to provide users with consistent behavior across Bing API calls. Bing often flights new features and improvements, and it uses the client ID as a key for assigning traffic on different flights. If you do not use the same client ID for a user across multiple requests, then Bing may assign the user to multiple conflicting flights. Being assigned to multiple conflicting flights can lead to an inconsistent user experience. For example, if the second request has a different flight assignment than the first, the experience may be unexpected. Also, Bing can use the client ID to tailor web results to that client ID’s search history, providing a richer experience for the user. Bing also uses this header to help improve result rankings by analyzing the activity generated by a client ID. The relevance improvements help with better quality of results delivered by Bing APIs and in turn enables higher click-through rates for the API consumer. IMPORTANT: Although optional, you should consider this header required. Persisting the client ID across multiple requests for the same end user and device combination enables 1) the API consumer to receive a consistent user experience, and 2) higher click-through rates via better quality of results from the Bing APIs. Each user that uses your application on the device must have a unique, Bing generated client ID. If you do not include this header in the request, Bing generates an ID and returns it in the X-MSEdge-ClientID response header. The only time that you should NOT include this header in a request is the first time the user uses your app on that device. Use the client ID for each Bing API request that your app makes for this user on the device. Persist the client ID. To persist the ID in a browser app, use a persistent HTTP cookie to ensure the ID is used across all sessions. Do not use a session cookie. For other apps such as mobile apps, use the device's persistent storage to persist the ID. The next time the user uses your app on that device, get the client ID that you persisted. Bing responses may or may not include this header. If the response includes this header, capture the client ID and use it for all subsequent Bing requests for the user on that device. If you include the X-MSEdge-ClientID, you must not include cookies in the request."
          in: header
          name: X-MSEdge-ClientID
          required: false
          type: string
          x-ms-client-name: ClientId
        - description: The IPv4 or IPv6 address of the client device. The IP address is used to discover the user's location. Bing uses the location information to determine safe search behavior. Although optional, you are encouraged to always specify this header and the X-Search-Location header. Do not obfuscate the address (for example, by changing the last octet to 0). Obfuscating the address results in the location not being anywhere near the device's actual location, which may result in Bing serving erroneous results.
          in: header
          name: X-MSEdge-ClientIP
          required: false
          type: string
          x-ms-client-name: ClientIp
        - description: "A semicolon-delimited list of key/value pairs that describe the client's geographical location. Bing uses the location information to determine safe search behavior and to return relevant local content. Specify the key/value pair as <key>:<value>. The following are the keys that you use to specify the user's location. lat (required): The latitude of the client's location, in degrees. The latitude must be greater than or equal to -90.0 and less than or equal to +90.0. Negative values indicate southern latitudes and positive values indicate northern latitudes. long (required): The longitude of the client's location, in degrees. The longitude must be greater than or equal to -180.0 and less than or equal to +180.0. Negative values indicate western longitudes and positive values indicate eastern longitudes. re (required): The radius, in meters, which specifies the horizontal accuracy of the coordinates. Pass the value returned by the device's location service. Typical values might be 22m for GPS/Wi-Fi, 380m for cell tower triangulation, and 18,000m for reverse IP lookup. ts (optional): The UTC UNIX timestamp of when the client was at the location. (The UNIX timestamp is the number of seconds since January 1, 1970.) head (optional): The client's relative heading or direction of travel. Specify the direction of travel as degrees from 0 through 360, counting clockwise relative to true north. Specify this key only if the sp key is nonzero. sp (optional): The horizontal velocity (speed), in meters per second, that the client device is traveling. alt (optional): The altitude of the client device, in meters. are (optional): The radius, in meters, that specifies the vertical accuracy of the coordinates. Specify this key only if you specify the alt key. Although many of the keys are optional, the more information that you provide, the more accurate the location results are. Although optional, you are encouraged to always specify the user's geographical location. Providing the location is especially important if the client's IP address does not accurately reflect the user's physical location (for example, if the client uses VPN). For optimal results, you should include this header and the X-MSEdge-ClientIP header, but at a minimum, you should include this header."
          in: header
          name: X-Search-Location
          required: false
          type: string
          x-ms-client-name: Location
        - description: The number of answers that you want the response to include. The answers that Bing returns are based on ranking. For example, if Bing returns webpages, images, videos, and relatedSearches for a request and you set this parameter to two (2), the response includes webpages and images.If you included the responseFilter query parameter in the same request and set it to webpages and news, the response would include only webpages.
          format: int32
          in: query
          name: answerCount
          required: false
          type: integer
          x-ms-client-name: AnswerCount
        - description: A 2-character country code of the country where the results come from. This API supports only the United States market. If you specify this query parameter, it must be set to us. If you set this parameter, you must also specify the Accept-Language header. Bing uses the first supported language it finds from the languages list, and combine that language with the country code that you specify to determine the market to return results for. If the languages list does not include a supported language, Bing finds the closest language and market that supports the request, or it may use an aggregated or default market for the results instead of a specified one. You should use this query parameter and the Accept-Language query parameter only if you specify multiple languages; otherwise, you should use the mkt and setLang query parameters. This parameter and the mkt query parameter are mutually exclusive—do not specify both.
          in: query
          name: cc
          required: false
          type: string
          x-ms-client-name: CountryCode
        - description: The number of search results to return in the response. The default is 10 and the maximum value is 50. The actual number delivered may be less than requested.Use this parameter along with the offset parameter to page results.For example, if your user interface displays 10 search results per page, set count to 10 and offset to 0 to get the first page of results. For each subsequent page, increment offset by 10 (for example, 0, 10, 20). It is possible for multiple pages to include some overlap in results.
          format: int32
          in: query
          name: count
          required: false
          type: integer
          x-ms-client-name: Count
        - description: "Filter search results by the following age values: Day—Return webpages that Bing discovered within the last 24 hours. Week—Return webpages that Bing discovered within the last 7 days. Month—Return webpages that discovered within the last 30 days. This filter applies only to webpage results and not to the other results such as news and images."
          enum:
            - Day
            - Week
            - Month
          in: query
          name: freshness
          required: false
          type: string
          x-ms-client-name: Freshness
          x-ms-enum:
            modelAsString: true
            name: Freshness
        - default: en-us
          description: The market where the results come from. Typically, mkt is the country where the user is making the request from. However, it could be a different country if the user is not located in a country where Bing delivers results. The market must be in the form <language code>-<country code>. For example, en-US. The string is case insensitive. If known, you are encouraged to always specify the market. Specifying the market helps Bing route the request and return an appropriate and optimal response. If you specify a market that is not listed in Market Codes, Bing uses a best fit market code based on an internal mapping that is subject to change. This parameter and the cc query parameter are mutually exclusive—do not specify both.
          in: query
          name: mkt
          required: false
          type: string
          x-ms-client-name: Market
        - description: The zero-based offset that indicates the number of search results to skip before returning results. The default is 0. The offset should be less than (totalEstimatedMatches - count). Use this parameter along with the count parameter to page results. For example, if your user interface displays 10 search results per page, set count to 10 and offset to 0 to get the first page of results. For each subsequent page, increment offset by 10 (for example, 0, 10, 20). it is possible for multiple pages to include some overlap in results.
          format: int32
          in: query
          name: offset
          required: false
          type: integer
          x-ms-client-name: Offset
        - collectionFormat: csv
          description: A comma-delimited list of answers that you want the response to include regardless of their ranking. For example, if you set answerCount) to two (2) so Bing returns the top two ranked answers, but you also want the response to include news, you'd set promote to news. If the top ranked answers are webpages, images, videos, and relatedSearches, the response includes webpages and images because news is not a ranked answer. But if you set promote to video, Bing would promote the video answer into the response and return webpages, images, and videos. The answers that you want to promote do not count against the answerCount limit. For example, if the ranked answers are news, images, and videos, and you set answerCount to 1 and promote to news, the response contains news and images. Or, if the ranked answers are videos, images, and news, the response contains videos and news. Possible values are Computation, Images, News, RelatedSearches, SpellSuggestions, TimeZone, Videos, Webpages. Use only if you specify answerCount.
          in: query
          items:
            enum:
              - WebPages
              - Images
              - SpellSuggestions
              - News
              - RelatedSearches
              - Videos
              - Computation
              - TimeZone
            type: string
            x-ms-enum:
              modelAsString: true
              name: AnswerType
          name: promote
          required: false
          type: array
          x-ms-client-name: Promote
        - description: "The user's search query term. The term may not be empty. The term may contain Bing Advanced Operators. For example, to limit results to a specific domain, use the site: operator."
          in: query
          name: q
          required: true
          type: string
          x-ms-client-name: Query
        - collectionFormat: csv
          description: A comma-delimited list of answers to include in the response. If you do not specify this parameter, the response includes all search answers for which there's relevant data. Possible filter values are Computation, Images, News, RelatedSearches, SpellSuggestions, TimeZone, Videos, Webpages. Although you may use this filter to get a single answer, you should instead use the answer-specific endpoint in order to get richer results. For example, to receive only images, send the request to one of the Image Search API endpoints. The RelatedSearches and SpellSuggestions answers do not support a separate endpoint like the Image Search API does (only the Web Search API returns them). To include answers that would otherwise be excluded because of ranking, see the promote query parameter.
          in: query
          items:
            enum:
              - WebPages
              - Images
              - SpellSuggestions
              - News
              - RelatedSearches
              - Videos
              - Computation
              - TimeZone
            type: string
            x-ms-enum:
              modelAsString: true
              name: AnswerType
          name: responseFilter
          required: false
          type: array
          x-ms-client-name: ResponseFilter
        - description: "A filter used to filter adult content. Off: Return webpages with adult text, images, or videos. Moderate: Return webpages with adult text, but not adult images or videos. Strict: Do not return webpages with adult text, images, or videos. The default is Moderate. If the request comes from a market that Bing's adult policy requires that safeSearch is set to Strict, Bing ignores the safeSearch value and uses Strict. If you use the site: query operator, there is the chance that the response may contain adult content regardless of what the safeSearch query parameter is set to. Use site: only if you are aware of the content on the site and your scenario supports the possibility of adult content."
          enum:
            - Off
            - Moderate
            - Strict
          in: query
          name: safeSearch
          required: false
          type: string
          x-ms-client-name: SafeSearch
          x-ms-enum:
            modelAsString: true
            name: SafeSearch
        - description: The language to use for user interface strings. Specify the language using the ISO 639-1 2-letter language code. For example, the language code for English is EN. The default is EN (English). Although optional, you should always specify the language. Typically, you set setLang to the same language specified by mkt unless the user wants the user interface strings displayed in a different language. This parameter and the Accept-Language header are mutually exclusive; do not specify both. A user interface string is a string that's used as a label in a user interface. There are few user interface strings in the JSON response objects. Also, any links to Bing.com properties in the response objects apply the specified language.
          in: query
          name: setLang
          required: false
          type: string
          x-ms-client-name: SetLang
        - description: A Boolean value that determines whether display strings should contain decoration markers such as hit highlighting characters. If true, the strings may include markers. The default is false. To specify whether to use Unicode characters or HTML tags as the markers, see the textFormat query parameter.
          in: query
          name: textDecorations
          required: false
          type: boolean
          x-ms-client-name: TextDecorations
        - description: The type of markers to use for text decorations (see the textDecorations query parameter). Possible values are Raw—Use Unicode characters to mark content that needs special formatting. The Unicode characters are in the range E000 through E019. For example, Bing uses E000 and E001 to mark the beginning and end of query terms for hit highlighting. HTML—Use HTML tags to mark content that needs special formatting. For example, use <b> tags to highlight query terms in display strings. The default is Raw. For display strings that contain escapable HTML characters such as <, >, and &, if textFormat is set to HTML, Bing escapes the characters as appropriate (for example, < is escaped to &lt;).
          enum:
            - Raw
            - Html
          in: query
          name: textFormat
          required: false
          type: string
          x-ms-client-name: TextFormat
          x-ms-enum:
            modelAsString: true
            name: TextFormat
      responses:
        "200":
          description: Success.
          schema:
            $ref: "#/definitions/SearchResponse"
        default:
          description: An error has occurred. Check the response type and/or status code for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: The Web Search API lets you send a search query to Bing and get back search results that include links to webpages, images, and more.
      tags:
        - WebSearch
      x-ms-examples:
        Successful query:
          parameters:
            Ocp-Apim-Subscription-Key: "{API key}"
            q: tom cruise
          responses:
            "200":
              body:
                _type: SearchResponse
                images:
                  displayRecipeSourcesBadges: false
                  displayShoppingSourcesBadges: false
                  id: https://api.cognitive.microsoft.com/api/v7/#Images
                  isFamilyFriendly: true
                  readLink: https://api.cognitive.microsoft.com/api/v7/images/search?q=tom+cruise&qpvt=tom+cruise
                  value:
                    - contentSize: 360493 B
                      contentUrl: http://cdn01.cdn.justjared.com/wp-content/uploads/headlines/2017/06/cruise-title.jpg
                      datePublished: 2017-06-02T12:00:00Z
                      encodingFormat: jpeg
                      height: 910
                      hostPageDisplayUrl: http://www.justjared.com/2017/06/02/tom-cruise-reveals-title-for-top-gun-sequel/
                      hostPageUrl: http://www.justjared.com/2017/06/02/tom-cruise-reveals-title-for-top-gun-sequel/
                      name: "Tom Cruise Reveals Title for ‘Top Gun’ Sequel | Movies, Tom Cruise, Top Gun : Just Jared"
                      thumbnail:
                        height: 194
                        width: 320
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OIP.nuYBQAUs4hZQbLlxph5_TAFADC&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?q=tom+cruise&id=35621EAD0B0F501C671E115DA7FD96905C16DEFF&FORM=IARRTH
                      width: 1500
                    - contentSize: 205954 B
                      contentUrl: https://pmcvariety.files.wordpress.com/2017/05/tom_cruise.png?w=1000&h=750&crop=1
                      datePublished: 2017-09-24T09:32:00Z
                      encodingFormat: png
                      height: 750
                      hostPageDisplayUrl: http://variety.com/exec/tom-cruise/
                      hostPageUrl: http://variety.com/exec/tom-cruise/
                      name: Tom Cruise | Variety
                      thumbnail:
                        height: 216
                        width: 288
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OIP.Jcm9NY3pQwm9TD3pEmMLrgEgDY&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?q=tom+cruise&id=B10837866A03E9457C4EA93A9D39E781DE06484C&FORM=IARRTH
                      width: 1000
                    - contentSize: 441096 B
                      contentUrl: http://d.ibtimes.co.uk/en/full/1543414/tom-cruise.jpg
                      datePublished: 2016-08-22T09:02:00Z
                      encodingFormat: jpeg
                      height: 788
                      hostPageDisplayUrl: http://www.ibtimes.co.uk/tom-cruise-starring-mission-impossible-6-halts-pre-production-over-stars-salary-demands-1577315
                      hostPageUrl: http://www.ibtimes.co.uk/tom-cruise-starring-mission-impossible-6-halts-pre-production-over-stars-salary-demands-1577315
                      name: "Tom Cruise: Mission Impossible 6 production delayed due high pay demands - report"
                      thumbnail:
                        height: 204
                        width: 305
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OIP.yKxWf28ybJyiHPKFuNjaQAExDM&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?q=tom+cruise&id=A637F35D66638CF9F52F2D049841350EFAA700F7&FORM=IARRTH
                      width: 1180
                    - contentSize: 65531 B
                      contentUrl: http://cdn1-www.comingsoon.net/assets/uploads/2016/07/tomcruise.jpg
                      datePublished: 2017-10-09T23:04:00Z
                      encodingFormat: jpeg
                      height: 426
                      hostPageDisplayUrl: http://www.comingsoon.net/movies/features/700111-tom-cruise-movies-spotlight
                      hostPageUrl: http://www.comingsoon.net/movies/features/700111-tom-cruise-movies-spotlight
                      name: Tom Cruise Movies Spotlight at ComingSoon.net
                      thumbnail:
                        height: 203
                        width: 306
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OIP.XRavbJHQk_HvHCbZ4-4iUQEyDL&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?q=tom+cruise&id=3DB8131A08145FE6F62ECEE3BC778F745B72A917&FORM=IARRTH
                      width: 640
                    - contentSize: 1256521 B
                      contentUrl: https://i0.wp.com/nyppagesix.files.wordpress.com/2017/03/tom-cruise.jpg?quality=90&strip=all&ssl=1
                      datePublished: 2017-03-23T02:02:00Z
                      encodingFormat: jpeg
                      height: 2001
                      hostPageDisplayUrl: http://pagesix.com/2017/03/22/why-tom-cruise-once-felt-persecuted-over-scientology-beliefs/
                      hostPageUrl: http://pagesix.com/2017/03/22/why-tom-cruise-once-felt-persecuted-over-scientology-beliefs/
                      name: Why Tom Cruise once felt ‘persecuted’ over Scientology beliefs | Page Six
                      thumbnail:
                        height: 204
                        width: 306
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OIP.YqnzdgvLLb83Lj-TeO2_GwEyDM&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?q=tom+cruise&id=4CD859FFC094FCD41958121E43F3EC10B9F52B49&FORM=IARRTH
                      width: 3000
                    - contentSize: 63078 B
                      contentUrl: http://www.fiz-x.com/wp-content/uploads/2016/01/Tom-Cruise-Pics.jpg
                      datePublished: 2016-01-22T10:56:00Z
                      encodingFormat: jpeg
                      height: 600
                      hostPageDisplayUrl: http://www.fiz-x.com/tom-cruise-confirmed-for-the-mummy-reboot/
                      hostPageUrl: http://www.fiz-x.com/tom-cruise-confirmed-for-the-mummy-reboot/
                      name: Tom Cruise Confirmed For THE MUMMY Reboot | FizX
                      thumbnail:
                        height: 225
                        width: 300
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OIP.4yq7TfvERO194iuazMVizQEsDh&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?q=tom+cruise&id=11C190F4A6FC5E9063B4E37DC9A363E76E1A1866&FORM=IARRTH
                      width: 800
                    - contentSize: 64194 B
                      contentUrl: http://dlisted.com/wp-content/uploads/2016/02/tomcruiseface2016-500x605.jpg
                      datePublished: 2016-02-05T19:01:00Z
                      encodingFormat: jpeg
                      height: 605
                      hostPageDisplayUrl: http://dlisted.com/2016/02/05/cuba-gooding-jr-spills-the-secrets-of-tom-cruises-beauty/
                      hostPageUrl: http://dlisted.com/2016/02/05/cuba-gooding-jr-spills-the-secrets-of-tom-cruises-beauty/
                      name: Dlisted | Cuba Gooding Jr. Spills The Secrets Of Tom Cruise’s Beauty
                      thumbnail:
                        height: 275
                        width: 227
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OIP.a1IoETkBPGnwuHdwSVMrvwDjET&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?q=tom+cruise&id=B607B2846C1697AD615CCB508120C13F48FFF1FD&FORM=IARRTH
                      width: 500
                    - contentSize: 56427 B
                      contentUrl: http://www.laineygossip.com/Content/images/articles/tom-cruise-money-22aug16.jpg
                      datePublished: 2017-05-06T12:51:00Z
                      encodingFormat: jpeg
                      height: 800
                      hostPageDisplayUrl: http://www.laineygossip.com/Tom-Cruise-holding-up-production-of-next-Mission-Impossible-film-with-demands-for-more-money/44711
                      hostPageUrl: http://www.laineygossip.com/Tom-Cruise-holding-up-production-of-next-Mission-Impossible-film-with-demands-for-more-money/44711
                      name: "Tom Cruise holding up production of next Mission: Impossible film with demands for more money ..."
                      thumbnail:
                        height: 291
                        width: 214
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OIP.DpIrpfzlWaWw86Ipf00BxADWEj&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?q=tom+cruise&id=920058191D4A9229936E29763215200686C47448&FORM=IARRTH
                      width: 588
                    - contentSize: 66360 B
                      contentUrl: https://upload.wikimedia.org/wikipedia/commons/7/71/Tom_Cruise_avp_2014_4.jpg
                      datePublished: 2017-04-08T02:44:00Z
                      encodingFormat: jpeg
                      height: 800
                      hostPageDisplayUrl: https://en.wikipedia.org/wiki/Tom_Cruise
                      hostPageUrl: https://en.wikipedia.org/wiki/Tom_Cruise
                      name: Tom Cruise - Wikipedia
                      thumbnail:
                        height: 300
                        width: 211
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OIP.ZpKroMJoxhQ3kDJc1irL8QDTEs&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?q=tom+cruise&id=861365C2BA0CEC20D22CEEC8C33EDE973D5BDE9E&FORM=IARRTH
                      width: 565
                    - contentSize: 122544 B
                      contentUrl: http://celebrityinsider.org/wp-content/uploads/2017/09/tom-cruise.jpg
                      datePublished: 2017-09-21T19:13:00Z
                      encodingFormat: jpeg
                      height: 1361
                      hostPageDisplayUrl: http://celebrityinsider.org/families-of-the-stunt-pilots-who-died-on-set-of-new-movie-claim-tom-cruise-is-also-to-blame-69184/
                      hostPageUrl: http://celebrityinsider.org/families-of-the-stunt-pilots-who-died-on-set-of-new-movie-claim-tom-cruise-is-also-to-blame-69184/
                      name: Families Of The Stunt Pilots Who Died On Set Of New Movie Claim Tom Cruise Is Also To Blame ...
                      thumbnail:
                        height: 203
                        width: 306
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OIP.3W0IfP5ehIrHqeWM_qpzRQEyDL&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?q=tom+cruise&id=4077D4B0E6500F4E5D89F5C2499D5FBDE84DB08E&FORM=IARRTH
                      width: 2048
                    - contentSize: 114578 B
                      contentUrl: http://photos.laineygossip.com/articles/tom-cruise-connor-06apr15-02.jpg
                      datePublished: 2015-04-06T13:53:00Z
                      encodingFormat: jpeg
                      height: 970
                      hostPageDisplayUrl: http://www.laineygossip.com/Tom-Cruise-and-son-Conner-at-college-basketball-game-together-and-will-Going-Clear-affect-Cruise/38108
                      hostPageUrl: http://www.laineygossip.com/Tom-Cruise-and-son-Conner-at-college-basketball-game-together-and-will-Going-Clear-affect-Cruise/38108
                      name: Tom Cruise and son Conner at college basketball game together and will Going Clear affect Cruise ...
                      thumbnail:
                        height: 263
                        width: 236
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OIP.tdPuval8D8XbgN6Dj5UxmwDsEH&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?q=tom+cruise&id=9011FA0BA86595686FE22E7B2135597F5007DD27&FORM=IARRTH
                      width: 871
                    - contentSize: 161168 B
                      contentUrl: http://cdn4.thr.com/sites/default/files/2016/09/tom_cruise_-_mission_impossible_-_rogue_nation_press_conference_-_h_-_2016.jpg
                      datePublished: 2017-09-24T07:51:00Z
                      encodingFormat: jpeg
                      height: 730
                      hostPageDisplayUrl: http://www.hollywoodreporter.com/heat-vision/tom-cruise-closes-mission-impossible-929294
                      hostPageUrl: http://www.hollywoodreporter.com/heat-vision/tom-cruise-closes-mission-impossible-929294
                      name: "Tom Cruise Closes &#39;Mission: Impossible 6&#39; Deal, Preproduction to Resume (Exclusive) | Hollywood ..."
                      thumbnail:
                        height: 168
                        width: 300
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OIP.kLIG3M2ke5P57bX5WtOL2QEsCo&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?q=tom+cruise&id=27731B772CD7BA6D0314506271CE3030F286744F&FORM=IARRTH
                      width: 1296
                    - contentSize: 68914 B
                      contentUrl: https://pmcvariety.files.wordpress.com/2015/11/tom-cruise-the-mummy-reboot.jpg?w=1000&h=562&crop=1
                      datePublished: 2016-01-21T12:00:00Z
                      encodingFormat: jpeg
                      height: 562
                      hostPageDisplayUrl: http://variety.com/2016/film/news/tom-cruise-mummy-universal-release-date-1201685122/
                      hostPageUrl: http://variety.com/2016/film/news/tom-cruise-mummy-universal-release-date-1201685122/
                      name: Tom Cruise’s ‘The Mummy’ Gets Release Date’ | Variety
                      thumbnail:
                        height: 168
                        width: 300
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OIP.jUuaxsB1FOPOD_q_KTjK1AEsCo&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?q=tom+cruise&id=8A2B2DFED143FC10FC6264971CF896EFA549E366&FORM=IARRTH
                      width: 1000
                    - contentSize: 70221 B
                      contentUrl: http://photos.laineygossip.com/articles/tom-cruise-smiling-06nov15-01.jpg
                      datePublished: 2015-11-06T16:42:00Z
                      encodingFormat: jpeg
                      height: 745
                      hostPageDisplayUrl: http://www.laineygossip.com/Tom-Cruise-smiles-on-the-set-of-Jack-Reacher-2/41147
                      hostPageUrl: http://www.laineygossip.com/Tom-Cruise-smiles-on-the-set-of-Jack-Reacher-2/41147
                      name: Tom Cruise smiles on the set of Jack Reacher 2|Lainey Gossip Entertainment Update
                      thumbnail:
                        height: 278
                        width: 224
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OIP.kG96u2jhpbm6xEfmTWHHEwDgEW&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?q=tom+cruise&id=0CC216533CA4E86AA5F1483454CF3E64506C4F59&FORM=IARRTH
                      width: 600
                    - contentSize: 101598 B
                      contentUrl: http://photos.laineygossip.com/articles/tom-cruise-reacher-24oct16-01.jpg
                      datePublished: 2016-10-25T14:09:00Z
                      encodingFormat: jpeg
                      height: 1100
                      hostPageDisplayUrl: http://www.laineygossip.com/Jack-Reacher-Never-Go-Back-starring-Tom-Cruise-movie-review/45287
                      hostPageUrl: http://www.laineygossip.com/Jack-Reacher-Never-Go-Back-starring-Tom-Cruise-movie-review/45287
                      name: Jack Reacher Never Go Back starring Tom Cruise movie review
                      thumbnail:
                        height: 306
                        width: 204
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OIP.TSTOOa73W_YZ8urNbI9B5gDMEy&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?q=tom+cruise&id=F20A3B220BAC393244F853FE895E029A532C4720&FORM=IARRTH
                      width: 734
                    - contentSize: 154101 B
                      contentUrl: http://cdn04.cdn.justjared.com/wp-content/uploads/headlines/2017/04/tom-chase.jpg
                      datePublished: 2017-04-10T19:37:00Z
                      encodingFormat: jpeg
                      height: 684
                      hostPageDisplayUrl: http://www.justjared.com/2017/04/10/tom-cruise-films-car-chase-scene-for-mission-impossible-6/
                      hostPageUrl: http://www.justjared.com/2017/04/10/tom-cruise-films-car-chase-scene-for-mission-impossible-6/
                      name: Tom Cruise Films Car Chase Scene For ‘Mission Impossible 6′ | Mission Impossible, Movies, sean ...
                      thumbnail:
                        height: 178
                        width: 351
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OIP.lw5XdSfZgOfAbNc__zSNYgFfCy&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?q=tom+cruise&id=68971A6D0BBA0336AC338EF787DDC24F41DDDE1A&FORM=IARRTH
                      width: 1349
                    - contentSize: 86736 B
                      contentUrl: https://upload.wikimedia.org/wikipedia/commons/3/37/Tom_Cruise_avp_2014_3.jpg
                      datePublished: 2017-06-23T12:41:00Z
                      encodingFormat: jpeg
                      height: 800
                      hostPageDisplayUrl: https://en.wikipedia.org/wiki/Tom_Cruise
                      hostPageUrl: https://en.wikipedia.org/wiki/Tom_Cruise
                      name: Tom Cruise - Wikipedia
                      thumbnail:
                        height: 300
                        width: 212
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OIP.6AWkNDOgXHR9a8X6GjT3FQDUEs&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?q=tom+cruise&id=861365C2BA0CEC20D22C57AF0ED4DF87BD665A8C&FORM=IARRTH
                      width: 566
                    - contentSize: 407641 B
                      contentUrl: http://cdn04.cdn.justjared.com/wp-content/uploads/headlines/2017/04/tom-cruise-continues-filming-mission-impossible-6-social.jpg
                      datePublished: 2017-04-08T17:56:00Z
                      encodingFormat: jpeg
                      height: 800
                      hostPageDisplayUrl: http://www.justjared.com/2017/04/08/tom-cruise-continues-work-on-mission-impossible-6/
                      hostPageUrl: http://www.justjared.com/2017/04/08/tom-cruise-continues-work-on-mission-impossible-6/
                      name: "Tom Cruise Continues Work on ‘Mission: Impossible 6′ | Mission Impossible, Tom Cruise : Just Jared"
                      thumbnail:
                        height: 182
                        width: 342
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OIP.8FsDagQtS38VR3JOKiWFnAFWC2&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?q=tom+cruise&id=CB1FD1DE6938743299453F97788761E0CA6DE27C&FORM=IARRTH
                      width: 1500
                  webSearchUrl: https://www.bing.com/images/search?q=tom+cruise&qpvt=tom+cruise
                news:
                  id: https://api.cognitive.microsoft.com/api/v7/#News
                  readLink: https://api.cognitive.microsoft.com/api/v7/news/search?q=Tom+Cruise
                  value:
                    - about:
                        - name: Tom Cruise
                          readLink: https://api.cognitive.microsoft.com/api/v7/entities/fdc9ba0e-f198-b3c3-3cad-cf81595a654c
                        - name: Bans, Jura
                          readLink: https://api.cognitive.microsoft.com/api/v7/entities/ed81335a-e940-c30c-046f-cd422e0fc04d
                        - name: Social media
                          readLink: https://api.cognitive.microsoft.com/api/v7/entities/4ce177ea-a99f-5e40-7159-82f7b5581be3
                      category: Entertainment
                      clusteredArticles: null
                      datePublished: 2017-11-07T18:57:00Z
                      description: It looks like <b>Tom Cruise</b> is going to extreme lengths to avoid his youngest child, 11-year-old Suri <b>Cruise</b>. The 55-year-old has gone more than four years without seeing his youngest child, and now, a report claims that he doesn’t even want to see her on ...
                      image:
                        contentUrl: https://images-production.global.ssl.fastly.net/uploads/posts/image/146194/suri-cruise-basketball-gi.jpg?auto=compress&crop=faces,top&fit=crop&h=421&q=55&w=750
                        thumbnail:
                          contentUrl: https://www.bing.com/th?id=ON.1ED187FFB7E74E13D33D5113C255457E&pid=News
                          height: 392
                          width: 700
                      name: <b>Tom Cruise</b> Doesn&#39;t Even Want to See Suri on Social Media, Pal Claims
                      provider:
                        - _type: Organization
                          name: intouchweekly.com
                      url: http://www.intouchweekly.com/posts/tom-cruise-suri-pics-social-media-146194
                      video: null
                    - about:
                        - name: Tom Cruise
                          readLink: https://api.cognitive.microsoft.com/api/v7/entities/fdc9ba0e-f198-b3c3-3cad-cf81595a654c
                        - name: The Bellamy Brothers
                          readLink: https://api.cognitive.microsoft.com/api/v7/entities/0d49476f-d898-32a3-34ec-f824044a4d5a
                      category: Entertainment
                      clusteredArticles: null
                      datePublished: 2017-11-07T20:16:00Z
                      description: In Universal Pictures&#39; AMERICAN MADE, <b>Tom Cruise</b> reunites with his EDGE OF TOMORROW director, Doug Liman (THE BOURNE IDENTITY, MR AND MRS SMITH), in this international escapade based on the outrageous (and real) exploits of a hustler and pilot unexpectedly ...
                      image:
                        contentUrl: https://images.bwwstatic.com/columnpic10/2F04A0DD9-CC05-D080-7874C3C9B7A3F88C.jpg
                        thumbnail:
                          contentUrl: https://www.bing.com/th?id=ON.03C2C9F34A5F8D27E27E0F93D03FCE9E&pid=News
                          height: 205
                          width: 280
                      name: The Bellamy Brothers&#39; Hit Song &#39;Let Your Love Flow&#39; to Be Used in New <b>Tom Cruise</b> Film
                      provider:
                        - _type: Organization
                          name: art.broadwayworld.com
                      url: https://www.broadwayworld.com/bwwmusic/article/The-Bellamy-Brothers-Hit-Song-Let-Your-Love-Flow-to-Be-Used-in-New-Tom-Cruise-Film-20171107
                      video: null
                    - about:
                        - name: War of the Worlds
                          readLink: https://api.cognitive.microsoft.com/api/v7/entities/6fcc63d9-0c21-cd9f-d0f6-70d95819746b
                        - name: Train
                          readLink: https://api.cognitive.microsoft.com/api/v7/entities/cc6adbe1-d871-c1c0-dc8d-c59eee2d09d6
                        - name: Tom Cruise
                          readLink: https://api.cognitive.microsoft.com/api/v7/entities/fdc9ba0e-f198-b3c3-3cad-cf81595a654c
                      category: null
                      clusteredArticles: null
                      datePublished: 2017-11-07T21:24:00Z
                      description: I&#39;ll admit it, I&#39;m not too fond of flying on airplanes and try to avoid them as much as I can, opting instead for the relaxing rails of Amtrak whenever my travel needs require venturing beyond county borders. But one particularly shocking scene in Steven ...
                      image:
                        contentUrl: http://www.syfy.com/sites/syfy/files/styles/1200x680/public/2017/11/screen_shot_2017-11-07_at_12.18.15_pm.png?itok=qYZhCi_l
                        thumbnail:
                          contentUrl: https://www.bing.com/th?id=ON.F601BA785E1621FEED7531A9CBB8FDF3&pid=News
                          height: 396
                          width: 700
                      name: "Stuff We Love: That flaming train scene in <b>Tom Cruise</b>&#39;s War of the Worlds"
                      provider:
                        - _type: Organization
                          name: syfy.com
                      url: http://www.syfy.com/syfywire/stuff-we-love-flaming-train-scene-war-of-the-worlds
                      video: null
                    - about:
                        - name: Stephen Colbert
                          readLink: https://api.cognitive.microsoft.com/api/v7/entities/40452965-4e5a-8dfa-7603-dea710dca54f
                        - name: Tom Cruise
                          readLink: https://api.cognitive.microsoft.com/api/v7/entities/fdc9ba0e-f198-b3c3-3cad-cf81595a654c
                        - name: Hall of fame
                          readLink: https://api.cognitive.microsoft.com/api/v7/entities/b43f3a75-cac5-d60c-0b15-4741b9ef46cc
                      category: null
                      clusteredArticles: null
                      datePublished: 2017-11-06T06:23:00Z
                      description: TRENTON, NEW JERSEY — “Late Show” host Stephen Colbert, <b>Tom Cruise</b> and the late Supreme Court Justice Antonin Scalia are among 51 people nominated for the New Jersey Hall of Fame. The hall honors people in five categories who live or have lived in ...
                      image:
                        contentUrl: https://bloximages.newyork1.vip.townnews.com/postandcourier.com/content/tncms/assets/v3/editorial/7/b3/7b389e22-0bd3-5005-bde1-df3e602c2c69/59fcab9d2341f.image.jpg
                        thumbnail:
                          contentUrl: https://www.bing.com/th?id=ON.E1F6C0E3041CCA49F02DD4E2F9DEA651&pid=News
                          height: 351
                          width: 512
                      name: <b>Tom Cruise</b>, Stephen Colbert among NJ Hall of Fame nominees
                      provider:
                        - _type: Organization
                          name: The Post and Courier
                      url: http://www.postandcourier.com/ap/entertainment/tom-cruise-stephen-colbert-among-nj-hall-of-fame-nominees/article_669b6113-baad-5549-aa23-749da3b46de6.html
                      video: null
                    - about:
                        - name: Tom Cruise
                          readLink: https://api.cognitive.microsoft.com/api/v7/entities/fdc9ba0e-f198-b3c3-3cad-cf81595a654c
                        - name: Hollywood
                          readLink: https://api.cognitive.microsoft.com/api/v7/entities/9984d1da-4a59-c40a-0ea2-6d2c87719a31
                      category: Entertainment
                      clusteredArticles: null
                      datePublished: 2017-11-07T15:54:00Z
                      description: There is very little about <b>Tom Cruise</b> these days that isn&#39;t perplexing. The weird Scientology stuff, the fact that he&#39;s still cast in roles for guys half his age, what&#39;s going on with his butt, and his unexplained estrangement from his daughter. It looks ...
                      image:
                        contentUrl: https://the-hollywood-gossip-res.cloudinary.com/iu/s--MtVAqV6T--/c_fill,h_200,w_320/c_fill,h_200,l_upload:tom-cruise-photo,w_320,x_324/c_fill,h_200,l_upload:slides:2262:cruise-loves-to-play-hide-and-seek,w_320,x_-162,y_204/c_fill,h_200,l_upload:slides:2262:keeping-jumping-tom,w_320,x_162,y_102/f_auto,fl_lossy,q_auto:420/v1446656679/slides/2262/how-did-they-meet.jpg
                        thumbnail:
                          contentUrl: https://www.bing.com/th?id=ON.1647B8BFFFF94EB560EADCF4B47B7603&pid=News
                          height: 404
                          width: 644
                      name: <b>Tom Cruise</b> Doesn&#39;t Even Want to SEE Suri!
                      provider:
                        - _type: Organization
                          name: Jossip.com
                      url: https://www.thehollywoodgossip.com/2017/11/tom-cruise-doesnt-even-want-to-see-suri/
                      video:
                        allowHttpsEmbed: false
                        embedHtml: null
                        name: Tom Cruise Doesn&#39;t Even Want to SEE Suri!
                        thumbnail:
                          height: 344
                          width: 480
                        thumbnailUrl: https://www.bing.com/th?id=ON.24E0F83AF2454A8FA7C1009A5841F5A5&pid=News
                rankingResponse:
                  mainline:
                    items:
                      - answerType: News
                        resultIndex: 0
                        value:
                          id: https://api.cognitive.microsoft.com/api/v7/#News
                      - answerType: WebPages
                        resultIndex: 0
                        value:
                          id: https://api.cognitive.microsoft.com/api/v7/#WebPages.0
                      - answerType: WebPages
                        resultIndex: 1
                        value:
                          id: https://api.cognitive.microsoft.com/api/v7/#WebPages.1
                      - answerType: Videos
                        resultIndex: 0
                        value:
                          id: https://api.cognitive.microsoft.com/api/v7/#Videos
                      - answerType: WebPages
                        resultIndex: 2
                        value:
                          id: https://api.cognitive.microsoft.com/api/v7/#WebPages.2
                      - answerType: WebPages
                        resultIndex: 3
                        value:
                          id: https://api.cognitive.microsoft.com/api/v7/#WebPages.3
                      - answerType: WebPages
                        resultIndex: 4
                        value:
                          id: https://api.cognitive.microsoft.com/api/v7/#WebPages.4
                      - answerType: WebPages
                        resultIndex: 5
                        value:
                          id: https://api.cognitive.microsoft.com/api/v7/#WebPages.5
                      - answerType: WebPages
                        resultIndex: 6
                        value:
                          id: https://api.cognitive.microsoft.com/api/v7/#WebPages.6
                      - answerType: WebPages
                        resultIndex: 7
                        value:
                          id: https://api.cognitive.microsoft.com/api/v7/#WebPages.7
                      - answerType: WebPages
                        resultIndex: 8
                        value:
                          id: https://api.cognitive.microsoft.com/api/v7/#WebPages.8
                      - answerType: WebPages
                        resultIndex: 9
                        value:
                          id: https://api.cognitive.microsoft.com/api/v7/#WebPages.9
                      - answerType: RelatedSearches
                        resultIndex: 0
                        value:
                          id: https://api.cognitive.microsoft.com/api/v7/#RelatedSearches
                  sidebar:
                    items:
                      - answerType: Images
                        value:
                          id: https://api.cognitive.microsoft.com/api/v7/#Images
                      - answerType: Entities
                        value:
                          id: https://api.cognitive.microsoft.com/api/v7/#Entities.0
                relatedSearches:
                  id: https://api.cognitive.microsoft.com/api/v7/#RelatedSearches
                  value:
                    - displayText: <b>katie</b> <b>holmes</b> <b>blasts</b> <b>scientology</b>
                      text: katie holmes blasts scientology
                      webSearchUrl: https://www.bing.com/search?q=katie+holmes+blasts+scientology
                    - displayText: tom cruise <b>movies</b> <b>list</b>
                      text: tom cruise movies list
                      webSearchUrl: https://www.bing.com/search?q=tom+cruise+movies+list
                    - displayText: <b>isabella</b> <b>jane</b> cruise <b>wedding</b>
                      text: isabella jane cruise wedding
                      webSearchUrl: https://www.bing.com/search?q=isabella+jane+cruise+wedding
                    - displayText: <b>why</b> <b>did</b> <b>katie</b> <b>holmes</b> <b>divorce</b> tom cruise
                      text: why did katie holmes divorce tom cruise
                      webSearchUrl: https://www.bing.com/search?q=why+did+katie+holmes+divorce+tom+cruise
                    - displayText: tom cruise <b>new</b> <b>girlfriend</b> <b>photo</b>
                      text: tom cruise new girlfriend photo
                      webSearchUrl: https://www.bing.com/search?q=tom+cruise+new+girlfriend+photo
                    - displayText: tom cruise <b>children</b>
                      text: tom cruise children
                      webSearchUrl: https://www.bing.com/search?q=tom+cruise+children
                    - displayText: <b>isabella</b> cruise <b>wedding</b> <b>pictures</b>
                      text: isabella cruise wedding pictures
                      webSearchUrl: https://www.bing.com/search?q=isabella+cruise+wedding+pictures
                    - displayText: tom cruise <b>movies</b> <b>list</b> <b>in</b> <b>order</b>
                      text: tom cruise movies list in order
                      webSearchUrl: https://www.bing.com/search?q=tom+cruise+movies+list+in+order
                videos:
                  id: https://api.cognitive.microsoft.com/api/v7/#Videos
                  isFamilyFriendly: true
                  readLink: https://api.cognitive.microsoft.com/api/v7/videos/search?q=tom+cruise
                  scenario: List
                  value:
                    - allowHttpsEmbed: true
                      allowMobileEmbed: true
                      contentUrl: https://www.youtube.com/watch?v=l36BVi8K1uo
                      datePublished: 2016-10-19T05:13:23
                      description: Tom reacts to Kenny Loggins playing &#39;Highway to the Danger Zone&#39; during his entrance and reveals that this is the first time they have ever met. Tom also recalls ...
                      duration: PT6M6S
                      embedHtml: "&lt;iframe width=&quot;1280&quot; height=&quot;720&quot; src=&quot;http://www.youtube.com/embed/l36BVi8K1uo?autoplay=1&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;"
                      encodingFormat: mp4
                      height: 720
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=l36BVi8K1uo
                      hostPageUrl: https://www.youtube.com/watch?v=l36BVi8K1uo
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse3.mm.bing.net/th?id=OM.er0sxEFJGQeh6g_1500439518&pid=Api
                      name: Tom Cruise on Training for Top Gun
                      publisher:
                        - name: YouTube
                      thumbnail:
                        height: 168
                        width: 300
                      thumbnailUrl: https://tse3.mm.bing.net/th?id=OVP.Yfes_h2TyrnGFcZmE9G_SgEsCo&pid=Api
                      webSearchUrl: https://www.bing.com/videos/search?q=tom%20cruise&view=detail&mid=EAA107194941C42CBD7AEAA107194941C42CBD7A
                      width: 1280
                    - allowHttpsEmbed: true
                      allowMobileEmbed: true
                      contentUrl: https://www.youtube.com/watch?v=Z9u6gqqLlB0
                      datePublished: 2017-05-19T20:56:49
                      description: "Tom Cruise stars in this spectacular version of the legend that has fascinated cultures all over the world since the dawn of civilization: The Mummy. Thought..."
                      duration: PT1H50M8S
                      embedHtml: "&lt;iframe width=&quot;1280&quot; height=&quot;720&quot; src=&quot;http://www.youtube.com/embed/Z9u6gqqLlB0?autoplay=1&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;"
                      encodingFormat: ""
                      height: 720
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=Z9u6gqqLlB0
                      hostPageUrl: https://www.youtube.com/watch?v=Z9u6gqqLlB0
                      isSuperfresh: false
                      motionThumbnailUrl: null
                      name: The Mummy (2017)
                      publisher:
                        - name: YouTube
                      thumbnail:
                        height: 360
                        width: 480
                      thumbnailUrl: https://tse4.mm.bing.net/th?id=OVP.xMVy7cT3SI1lSHloRJl3TQHgFo&pid=Api
                      webSearchUrl: https://www.bing.com/videos/search?q=tom%20cruise&view=detail&mid=CAFFCC6ADC945AB2DAA6CAFFCC6ADC945AB2DAA6
                      width: 1280
                    - allowHttpsEmbed: true
                      allowMobileEmbed: true
                      contentUrl: https://www.youtube.com/watch?v=e4rPaZo8HKc
                      datePublished: 2016-10-19T05:07:42
                      description: Tom says he enjoys watching himself beat people up on film and Jimmy tries to get him to reveal how fast he can run. Cobie Smulders Spills the Beans on Avengers ...
                      duration: PT3M2S
                      embedHtml: "&lt;iframe width=&quot;1280&quot; height=&quot;720&quot; src=&quot;http://www.youtube.com/embed/e4rPaZo8HKc?autoplay=1&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;"
                      encodingFormat: mp4
                      height: 720
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=e4rPaZo8HKc
                      hostPageUrl: https://www.youtube.com/watch?v=e4rPaZo8HKc
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse4.mm.bing.net/th?id=OM.wviGmthuRx7cug_1503523296&pid=Api
                      name: Tom Cruise Likes Beating People Up
                      publisher:
                        - name: YouTube
                      thumbnail:
                        height: 168
                        width: 300
                      thumbnailUrl: https://tse4.mm.bing.net/th?id=OVP.xRziMJxCsw6lKtjn5w7cJQEsCo&pid=Api
                      webSearchUrl: https://www.bing.com/videos/search?q=tom%20cruise&view=detail&mid=BADC1E476ED89A86F8C2BADC1E476ED89A86F8C2
                      width: 1280
                    - allowHttpsEmbed: true
                      allowMobileEmbed: true
                      contentUrl: https://www.youtube.com/watch?v=D5tKcRqcuyo
                      datePublished: 2016-10-20T05:58:32
                      description: James asks Tom Cruise about growing up and learns Tom had a thing for wandering off and eventually &quot;borrowing&quot; the family car before he was a teenager. &quot;Subs...
                      duration: PT1M51S
                      embedHtml: "&lt;iframe width=&quot;1280&quot; height=&quot;720&quot; src=&quot;http://www.youtube.com/embed/D5tKcRqcuyo?autoplay=1&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;"
                      encodingFormat: mp4
                      height: 360
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=D5tKcRqcuyo
                      hostPageUrl: https://www.youtube.com/watch?v=D5tKcRqcuyo
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse2.mm.bing.net/th?id=OM.p32DPRpepzJWDA_1509119357&pid=Api
                      name: Tom Cruise Was a Bit of a Problem Child
                      publisher:
                        - name: YouTube
                      thumbnail:
                        height: 168
                        width: 300
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OVP.NxyEOWTLlYO9nHGdAgS__wEsCo&pid=Api
                      webSearchUrl: https://www.bing.com/videos/search?q=tom%20cruise&view=detail&mid=0C5632A75E1A3D837DA70C5632A75E1A3D837DA7
                      width: 480
                    - allowHttpsEmbed: true
                      allowMobileEmbed: true
                      contentUrl: https://www.biography.com/video/tom-cruise-mini-biography-74766915556
                      datePublished: 2017-02-18T08:22:13
                      description: American actor Tom Cruise was made famous by the 1983 film Risky Business. From there he has gone on to star in numerous Hollywood films and become one of the most ...
                      duration: PT3M52S
                      embedHtml: "&lt;iframe src=&#39;//players.brightcove.net/4495439099001/rkC8QsjOx_default/index.html?videoId=5319088890001&amp;autoplay=true&#39; allowfullscreen frameborder=0 width=100% height=100%&gt;&lt;/iframe&gt;"
                      encodingFormat: ""
                      height: 252
                      hostPageDisplayUrl: https://www.biography.com/video/tom-cruise-mini-biography-74766915556
                      hostPageUrl: https://www.biography.com/video/tom-cruise-mini-biography-74766915556
                      isSuperfresh: false
                      motionThumbnailUrl: null
                      name: Tom Cruise - Mini Biography
                      publisher:
                        - name: biography.com
                      thumbnail:
                        height: 168
                        width: 300
                      thumbnailUrl: https://tse3.mm.bing.net/th?id=OVP.7eamQVaHgwSTGpjxXvopIAEsCo&pid=Api
                      webSearchUrl: https://www.bing.com/videos/search?q=tom%20cruise&view=detail&mid=6DD4E89CE84A6260CDEC6DD4E89CE84A6260CDEC
                      width: 448
                    - allowHttpsEmbed: true
                      allowMobileEmbed: true
                      contentUrl: https://www.youtube.com/watch?v=450jX7kwOfc
                      datePublished: 2017-05-24T14:34:03
                      description: Tom Cruise surprises 2 of his biggest Australian fans For all my Tom Cruise videos go to https://www.youtube.com/watch?v=DcXbmmQGiZQ&amp;list=PLAT80u8I1IOYitbCHe...
                      duration: PT2M55S
                      embedHtml: "&lt;iframe width=&quot;1280&quot; height=&quot;720&quot; src=&quot;http://www.youtube.com/embed/450jX7kwOfc?autoplay=1&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;"
                      encodingFormat: mp4
                      height: 720
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=450jX7kwOfc
                      hostPageUrl: https://www.youtube.com/watch?v=450jX7kwOfc
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse2.mm.bing.net/th?id=OM.oDW5vjMIEMLtqw_1507975417&pid=Api
                      name: Tom Cruise Pranks 2 of his Fans on Live TV
                      publisher:
                        - name: YouTube
                      thumbnail:
                        height: 337
                        width: 600
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OVP.m_Ml0zY-qwR4TBByey2WfQJYFR&pid=Api
                      webSearchUrl: https://www.bing.com/videos/search?q=tom%20cruise&view=detail&mid=ABEDC2100833BEB935A0ABEDC2100833BEB935A0
                      width: 1280
                    - allowHttpsEmbed: true
                      allowMobileEmbed: true
                      contentUrl: http://www.cnn.com/videos/entertainment/2017/08/17/tom-cruise-movie-set-injury-cnni.cnn
                      datePublished: 2017-08-17T08:03:34
                      description: "Production on the latest installment of the &quot;Mission: Impossible&quot; franchise is on hold as star Tom Cruise recovers from an ankle injury sustained on set, the film&#39;s ..."
                      duration: PT54S
                      embedHtml: "&lt;iframe width=&#39;416&#39; height=&#39;234&#39; src=&#39;http://fave.api.cnn.io/v1/fav/?video=entertainment/2017/08/17/tom-cruise-movie-set-injury-cnni.cnn&amp;customer=cnn&amp;edition=domestic&amp;env=prod&#39; frameborder=&#39;0&#39;&gt;&lt;/iframe&gt;"
                      encodingFormat: mp4
                      height: 288
                      hostPageDisplayUrl: http://www.cnn.com/videos/entertainment/2017/08/17/tom-cruise-movie-set-injury-cnni.cnn
                      hostPageUrl: http://www.cnn.com/videos/entertainment/2017/08/17/tom-cruise-movie-set-injury-cnni.cnn
                      isSuperfresh: false
                      motionThumbnailUrl: null
                      name: Tom Cruise injured in movie stunt fall
                      publisher:
                        - name: CNN
                      thumbnail:
                        height: 337
                        width: 600
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OVP.kgFmYHqqf_LcVekHX3QGWQJYFR&pid=Api
                      webSearchUrl: https://www.bing.com/videos/search?q=tom%20cruise&view=detail&mid=2971847967D29E3713F42971847967D29E3713F4
                      width: 512
                    - allowHttpsEmbed: true
                      allowMobileEmbed: true
                      contentUrl: https://www.youtube.com/watch?v=U8Q2MgdMskQ
                      datePublished: 2016-10-14T07:32:30
                      description: Every Tom Cruise Run. Ever. Not speed walking. Not jogging. RUNNING. New videos every month! http://burgerfiction.com http://twitter.com/burgerfiction
                      duration: PT18M51S
                      embedHtml: "&lt;iframe width=&quot;1280&quot; height=&quot;720&quot; src=&quot;http://www.youtube.com/embed/U8Q2MgdMskQ?autoplay=1&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;"
                      encodingFormat: mp4
                      height: 720
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=U8Q2MgdMskQ
                      hostPageUrl: https://www.youtube.com/watch?v=U8Q2MgdMskQ
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse2.mm.bing.net/th?id=OM.jQUBE28FDUcaKw_1507911124&pid=Api
                      name: Every Tom Cruise Run. Ever.
                      publisher:
                        - name: YouTube
                      thumbnail:
                        height: 168
                        width: 300
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OVP.xWRKgq3DQ60ecejuNh5JIwEsCo&pid=Api
                      webSearchUrl: https://www.bing.com/videos/search?q=tom%20cruise&view=detail&mid=2B1A470D056F1301058D2B1A470D056F1301058D
                      width: 1280
                    - allowHttpsEmbed: true
                      allowMobileEmbed: true
                      contentUrl: https://www.youtube.com/watch?v=4V5Sly0EgYg
                      datePublished: 2016-10-19T05:05:20
                      description: "Tom reveals what he thinks about superhero movies and explains why he hasn&#39;t been in one. Cobie Smulders Spills the Beans on Avengers: Infinity War and it was ..."
                      duration: PT42S
                      embedHtml: "&lt;iframe width=&quot;1280&quot; height=&quot;720&quot; src=&quot;http://www.youtube.com/embed/4V5Sly0EgYg?autoplay=1&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;"
                      encodingFormat: mp4
                      height: 720
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=4V5Sly0EgYg
                      hostPageUrl: https://www.youtube.com/watch?v=4V5Sly0EgYg
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse1.mm.bing.net/th?id=OM.R4HY%2bTavj0agxg_1503828511&pid=Api
                      name: Tom Cruise Reveals Why He Hasn&#39;t Done a Superhero Movie
                      publisher:
                        - name: YouTube
                      thumbnail:
                        height: 168
                        width: 300
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OVP.xp0oblUBVNxD4sZbw6zNNQEsCo&pid=Api
                      webSearchUrl: https://www.bing.com/videos/search?q=tom%20cruise&view=detail&mid=C6A0468FAF36F9D88147C6A0468FAF36F9D88147
                      width: 1280
                    - allowHttpsEmbed: true
                      allowMobileEmbed: true
                      contentUrl: https://www.youtube.com/watch?v=WEpLstnXdWA
                      datePublished: 2017-08-14T14:51:29
                      description: Tom Cruise Stunt Failure during Filming for Mission Impossible 6
                      duration: PT2M6S
                      embedHtml: "&lt;iframe width=&quot;1280&quot; height=&quot;720&quot; src=&quot;http://www.youtube.com/embed/WEpLstnXdWA?autoplay=1&quot; frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;"
                      encodingFormat: mp4
                      height: 360
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=WEpLstnXdWA
                      hostPageUrl: https://www.youtube.com/watch?v=WEpLstnXdWA
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse2.mm.bing.net/th?id=OM.i%2fe64QP7uK%2bD9A_1507176493&pid=Api
                      name: Tom Cruise Stunt Failure Filming Mission Impossible 6 (2017)
                      publisher:
                        - name: YouTube
                      thumbnail:
                        height: 337
                        width: 600
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OVP.It0EPEbkpNAxTR1x9haGigJYFR&pid=Api
                      webSearchUrl: https://www.bing.com/videos/search?q=tom%20cruise&view=detail&mid=F483AFB8FB03E1BAF78BF483AFB8FB03E1BAF78B
                      width: 480
                  webSearchUrl: https://www.bing.com/videos/search?q=tom+cruise
                webPages:
                  totalEstimatedMatches: 1380000
                  value:
                    - about:
                        - name: Tom Cruise
                        - name: Suri Cruise
                      dateLastCrawled: 2017-11-01T16:49:00Z
                      deepLinks: null
                      displayUrl: https://<b>en.wikipedia.org</b>/wiki/<b>Tom_Cruise</b>
                      id: https://api.cognitive.microsoft.com/api/v7/#WebPages.0
                      name: <b>Tom Cruise</b> - <b>Wikipedia</b>
                      snippet: Thomas <b>Cruise</b> Mapother IV (born July 3, 1962), known professionally as <b>Tom Cruise</b>, is an American actor and producer. He has been nominated for three ...
                      url: https://en.wikipedia.org/wiki/Tom_Cruise
                    - about:
                        - name: Tom Cruise
                      dateLastCrawled: 2017-11-02T06:57:00Z
                      deepLinks: null
                      displayUrl: www.<b>tomcruise</b>.com
                      id: https://api.cognitive.microsoft.com/api/v7/#WebPages.1
                      name: "Official <b>Tom Cruise</b>: Reel, Bio, &amp; Filmography"
                      snippet: "OFFICIAL <b>TOM CRUISE</b> SITE: Watch career movie trailers, videos, and retrospective. Read the <b>Tom Cruise</b> biography or blog for interview videos and new movie news. View ..."
                      url: http://www.tomcruise.com/
                    - about:
                        - name: Tom Cruise
                      dateLastCrawled: 2017-10-24T11:20:00Z
                      deepLinks: null
                      displayUrl: <b>www.imdb.com</b>/name/nm0000129
                      id: https://api.cognitive.microsoft.com/api/v7/#WebPages.2
                      name: <b>Tom Cruise</b> - <b>IMDb</b>
                      snippet: "<b>Tom Cruise</b>, Actor: Top Gun. In 1976, if you had told fourteen year-old Franciscan seminary student Thomas <b>Cruise</b> Mapother IV that one day in the not too distant ..."
                      url: http://www.imdb.com/name/nm0000129/
                    - about: null
                      dateLastCrawled: 2017-11-02T15:35:00Z
                      deepLinks: null
                      displayUrl: https://<b>www.rottentomatoes.com</b>/celebrity/<b>tom_cruise</b>
                      id: https://api.cognitive.microsoft.com/api/v7/#WebPages.3
                      name: <b>Tom Cruise</b> - <b>Rotten Tomatoes</b>
                      snippet: <b>Tom Cruise</b> Celebrity Profile - Check out the latest <b>Tom Cruise</b> photo gallery, biography, pics, pictures, interviews, news, forums and blogs at <b>Rotten Tomatoes</b>!
                      url: https://www.rottentomatoes.com/celebrity/tom_cruise/
                    - about: null
                      dateLastCrawled: 2017-11-02T04:29:00Z
                      deepLinks: null
                      displayUrl: https://<b>www.biography.com</b>/people/<b>tom-cruise</b>-9262645
                      id: https://api.cognitive.microsoft.com/api/v7/#WebPages.4
                      name: <b>Tom Cruise</b> - Film Actor, Producer, Actor - <b>Biography.com</b>
                      snippet: Biography.<b>com</b> examines the career of actor <b>Tom Cruise</b>, star of such films as Risky Business, Top Gun, The Firm, and A Few Good Men.
                      url: https://www.biography.com/people/tom-cruise-9262645
                    - about:
                        - name: Tom Cruise
                      dateLastCrawled: 2017-11-02T08:55:00Z
                      deepLinks: null
                      displayUrl: <b>www.tmz.com</b>/person/<b>tom-cruise</b>
                      id: https://api.cognitive.microsoft.com/api/v7/#WebPages.5
                      name: <b>Tom Cruise</b> News, Pictures, and Videos | <b>TMZ.com</b>
                      snippet: In 1976, if you had told fourteen year-old Franciscan seminary student Thomas <b>Cruise</b> Mapother IV that one day in the not too distant future he would be <b>Tom Cruise</b> ...
                      url: http://www.tmz.com/person/tom-cruise/
                    - about:
                        - name: Tom Cruise
                      dateLastCrawled: 2017-11-01T22:23:00Z
                      deepLinks: null
                      displayUrl: https://<b>www.facebook.com</b>/official<b>tomcruise</b>
                      id: https://api.cognitive.microsoft.com/api/v7/#WebPages.6
                      name: <b>Tom Cruise</b> - Home | <b>Facebook</b>
                      snippet: <b>Tom Cruise</b>. 11M likes. Actor. Producer. Running in movies since 1981.
                      url: https://www.facebook.com/officialtomcruise
                    - about:
                        - name: Tom Cruise
                      dateLastCrawled: 2017-11-02T00:05:00Z
                      deepLinks: null
                      displayUrl: <b>www.imdb.com</b>/name/nm0000129/bio
                      id: https://api.cognitive.microsoft.com/api/v7/#WebPages.7
                      name: <b>Tom Cruise</b> - Biography - <b>IMDb</b>
                      snippet: In 1976, if you had told fourteen year-old Franciscan seminary student Thomas <b>Cruise</b> Mapother IV that one day in the not too distant future he would ...
                      url: http://www.imdb.com/name/nm0000129/bio
                    - about: null
                      dateLastCrawled: 2017-11-01T04:27:00Z
                      deepLinks: null
                      displayUrl: people.com/tag/<b>tom-cruise</b>
                      id: https://api.cognitive.microsoft.com/api/v7/#WebPages.8
                      name: <b>Tom Cruise</b> | PEOPLE.com
                      snippet: <b>Tom Cruise</b> articles and galleries from PEOPLE.com.
                      url: http://people.com/tag/tom-cruise/
                    - about: null
                      dateLastCrawled: 2017-10-30T09:39:00Z
                      deepLinks: null
                      displayUrl: <b>www.dailymail.co.uk</b>/tvshowbiz/article-3334704/New-report-claims...
                      id: https://api.cognitive.microsoft.com/api/v7/#WebPages.9
                      name: <b>Tom Cruise</b> is staying away from Katie Holmes and hasn&#39;t ...
                      snippet: <b>Tom Cruise</b> is believed to have not seen his daughter Suri for around 800 days, according to a report in the National Enquirer.
                      url: http://www.dailymail.co.uk/tvshowbiz/article-3334704/New-report-claims-Tom-Cruise-not-seen-daughter-Suri-800-days-amid-rumours-s-keeping-distance-ex-wife-Katie-Holmes.html
                  webSearchUrl: https://www.bing.com/search?q=tom+cruise
              headers: {}
definitions:
  Answer:
    allOf:
      - $ref: "#/definitions/Response"
    properties:
      followUpQueries:
        items:
          $ref: "#/definitions/Query"
        readOnly: true
        type: array
    type: object
  Article:
    allOf:
      - $ref: "#/definitions/CreativeWork"
    properties:
      wordCount:
        description: The number of words in the text of the Article.
        format: int32
        readOnly: true
        type: integer
    type: object
  Computation:
    allOf:
      - $ref: "#/definitions/Answer"
    description: Defines an expression and its answer
    properties:
      expression:
        description: The math or conversion expression. If the query contains a request to convert units of measure (for example, meters to feet), this field contains the from units and value contains the to units. If the query contains a mathematical expression such as 2+2, this field contains the expression and value contains the answer. Note that mathematical expressions may be normalized. For example, if the query was sqrt(4^2+8^2), the normalized expression may be sqrt((4^2)+(8^2)). If the user's query is a math question and the textDecorations query parameter is set to true, the expression string may include formatting markers. For example, if the user's query is log(2), the normalized expression includes the subscript markers. For more information, see Hit Highlighting.
        type: string
      value:
        description: The expression's answer.
        type: string
    required:
      - expression
      - value
    type: object
  CreativeWork:
    allOf:
      - $ref: "#/definitions/Thing"
    properties:
      provider:
        description: The source of the creative work.
        items:
          $ref: "#/definitions/Thing"
        readOnly: true
        type: array
      text:
        readOnly: true
        type: string
      thumbnailUrl:
        description: The URL to a thumbnail of the item.
        readOnly: true
        type: string
    type: object
  Error:
    description: Defines the error that occurred.
    properties:
      code:
        default: None
        description: The error code that identifies the category of error.
        enum:
          - None
          - ServerError
          - InvalidRequest
          - RateLimitExceeded
          - InvalidAuthorization
          - InsufficientAuthorization
        type: string
        x-ms-enum:
          modelAsString: true
          name: ErrorCode
      message:
        description: A description of the error.
        type: string
      moreDetails:
        description: A description that provides additional information about the error.
        readOnly: true
        type: string
      parameter:
        description: The parameter in the request that caused the error.
        readOnly: true
        type: string
      subCode:
        description: The error code that further helps to identify the error.
        enum:
          - UnexpectedError
          - ResourceError
          - NotImplemented
          - ParameterMissing
          - ParameterInvalidValue
          - HttpNotAllowed
          - Blocked
          - AuthorizationMissing
          - AuthorizationRedundancy
          - AuthorizationDisabled
          - AuthorizationExpired
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ErrorSubCode
      value:
        description: The parameter's value in the request that was not valid.
        readOnly: true
        type: string
    required:
      - code
      - message
    type: object
  ErrorResponse:
    allOf:
      - $ref: "#/definitions/Response"
    description: The top-level response that represents a failed request.
    properties:
      errors:
        description: A list of errors that describe the reasons why the request failed.
        items:
          $ref: "#/definitions/Error"
        type: array
    required:
      - errors
    type: object
  Identifiable:
    allOf:
      - $ref: "#/definitions/ResponseBase"
    description: Defines the identity of a resource.
    properties:
      id:
        description: A String identifier.
        readOnly: true
        type: string
    type: object
  ImageObject:
    allOf:
      - $ref: "#/definitions/MediaObject"
    description: Defines an image
    properties:
      thumbnail:
        $ref: "#/definitions/ImageObject"
        description: The URL to a thumbnail of the image
        readOnly: true
    type: object
  Images:
    allOf:
      - $ref: "#/definitions/SearchResultsAnswer"
    description: Defines an image answer
    properties:
      nextOffset:
        format: int32
        readOnly: true
        type: integer
      queryExpansions:
        items:
          $ref: "#/definitions/Query"
        readOnly: true
        type: array
      relatedSearches:
        items:
          $ref: "#/definitions/Query"
        readOnly: true
        type: array
      similarTerms:
        items:
          $ref: "#/definitions/Query"
        readOnly: true
        type: array
      value:
        description: A list of image objects that are relevant to the query. If there are no results, the List is empty.
        items:
          $ref: "#/definitions/ImageObject"
        type: array
    required:
      - value
    type: object
  Intangible:
    allOf:
      - $ref: "#/definitions/Thing"
    type: object
  MediaObject:
    allOf:
      - $ref: "#/definitions/CreativeWork"
    properties:
      contentUrl:
        description: Original URL to retrieve the source (file) for the media object (e.g the source URL for the image).
        readOnly: true
        type: string
      height:
        description: The height of the source media object, in pixels.
        format: int32
        readOnly: true
        type: integer
      hostPageUrl:
        description: URL of the page that hosts the media object.
        readOnly: true
        type: string
      width:
        description: The width of the source media object, in pixels.
        format: int32
        readOnly: true
        type: integer
    type: object
  News:
    allOf:
      - $ref: "#/definitions/SearchResultsAnswer"
    description: Defines a news answer.
    properties:
      location:
        readOnly: true
        type: string
      value:
        description: An array of NewsArticle objects that contain information about news articles that are relevant to the query. If there are no results to return for the request, the array is empty.
        items:
          $ref: "#/definitions/NewsArticle"
        type: array
    required:
      - value
    type: object
  NewsArticle:
    allOf:
      - $ref: "#/definitions/Article"
    description: Defines a news article.
    properties: {}
    type: object
  Places:
    allOf:
      - $ref: "#/definitions/SearchResultsAnswer"
    description: Defines a local entity answer.
    properties:
      value:
        description: A list of local entities, such as restaurants or hotels.
        items:
          $ref: "#/definitions/Thing"
        type: array
    required:
      - value
    type: object
  Query:
    description: Defines a search query.
    properties:
      displayText:
        description: The display version of the query term. This version of the query term may contain special characters that highlight the search term found in the query string. The string contains the highlighting characters only if the query enabled hit highlighting
        readOnly: true
        type: string
      searchLink:
        readOnly: true
        type: string
      text:
        description: The query string. Use this string as the query term in a new search request.
        type: string
      thumbnail:
        $ref: "#/definitions/ImageObject"
        readOnly: true
      webSearchUrl:
        description: The URL that takes the user to the Bing search results page for the query.Only related search results include this field.
        readOnly: true
        type: string
    required:
      - text
    type: object
  QueryContext:
    description: Defines the query context that Bing used for the request.
    properties:
      adultIntent:
        description: A Boolean value that indicates whether the specified query has adult intent. The value is true if the query has adult intent; otherwise, false.
        readOnly: true
        type: boolean
      alterationOverrideQuery:
        description: The query string to use to force Bing to use the original string. For example, if the query string is "saling downwind", the override query string will be "+saling downwind". Remember to encode the query string which results in "%2Bsaling+downwind". This field is included only if the original query string contains a spelling mistake.
        readOnly: true
        type: string
      alteredQuery:
        description: The query string used by Bing to perform the query. Bing uses the altered query string if the original query string contained spelling mistakes. For example, if the query string is "saling downwind", the altered query string will be "sailing downwind". This field is included only if the original query string contains a spelling mistake.
        readOnly: true
        type: string
      askUserForLocation:
        description: A Boolean value that indicates whether Bing requires the user's location to provide accurate results. If you specified the user's location by using the X-MSEdge-ClientIP and X-Search-Location headers, you can ignore this field. For location aware queries, such as "today's weather" or "restaurants near me" that need the user's location to provide accurate results, this field is set to true. For location aware queries that include the location (for example, "Seattle weather"), this field is set to false. This field is also set to false for queries that are not location aware, such as "best sellers".
        readOnly: true
        type: boolean
      isTransactional:
        readOnly: true
        type: boolean
      originalQuery:
        description: The query string as specified in the request.
        type: string
    required:
      - originalQuery
    type: object
  RankingRankingGroup:
    description: Defines a search results group, such as mainline.
    properties:
      items:
        description: A list of search result items to display in the group.
        items:
          $ref: "#/definitions/RankingRankingItem"
        type: array
    required:
      - items
    type: object
    x-ms-discriminator-value: Ranking/RankingGroup
  RankingRankingItem:
    description: Defines a search result item to display
    properties:
      answerType:
        default: WebPages
        description: The answer that contains the item to display. Use the type to find the answer in the SearchResponse object. The type is the name of a SearchResponse field.
        enum:
          - WebPages
          - Images
          - SpellSuggestions
          - News
          - RelatedSearches
          - Videos
          - Computation
          - TimeZone
        type: string
        x-ms-enum:
          modelAsString: true
          name: AnswerType
      htmlIndex:
        format: int32
        readOnly: true
        type: integer
      resultIndex:
        description: A zero-based index of the item in the answer.If the item does not include this field, display all items in the answer. For example, display all news articles in the News answer.
        format: int32
        readOnly: true
        type: integer
      screenshotIndex:
        format: int32
        readOnly: true
        type: integer
      textualIndex:
        format: int32
        readOnly: true
        type: integer
      value:
        $ref: "#/definitions/Identifiable"
        description: The ID that identifies either an answer to display or an item of an answer to display. If the ID identifies an answer, display all items of the answer.
        readOnly: true
    required:
      - answerType
    type: object
    x-ms-discriminator-value: Ranking/RankingItem
  RankingRankingResponse:
    description: Defines where on the search results page content should be placed and in what order.
    properties:
      mainline:
        $ref: "#/definitions/RankingRankingGroup"
        description: The search results to display in the mainline.
        readOnly: true
      pole:
        $ref: "#/definitions/RankingRankingGroup"
        description: The search results that should be afforded the most visible treatment (for example, displayed above the mainline and sidebar).
        readOnly: true
      sidebar:
        $ref: "#/definitions/RankingRankingGroup"
        description: The search results to display in the sidebar.
        readOnly: true
    type: object
    x-ms-discriminator-value: Ranking/RankingResponse
  RelatedSearchesRelatedSearchAnswer:
    allOf:
      - $ref: "#/definitions/SearchResultsAnswer"
    description: Defines a list of related queries made by others.
    properties:
      value:
        description: A list of related queries that were made by others.
        items:
          $ref: "#/definitions/Query"
        type: array
    required:
      - value
    type: object
    x-ms-discriminator-value: RelatedSearches/RelatedSearchAnswer
  Response:
    allOf:
      - $ref: "#/definitions/Identifiable"
    description: Defines a response. All schemas that could be returned at the root of a response should inherit from this
    properties:
      webSearchUrl:
        description: The URL To Bing's search result for this item.
        readOnly: true
        type: string
    type: object
  ResponseBase:
    discriminator: _type
    properties:
      _type:
        type: string
    required:
      - _type
    type: object
  SearchResponse:
    allOf:
      - $ref: "#/definitions/Response"
    description: Defines the top-level object that the response includes when the request succeeds.
    properties:
      computation:
        $ref: "#/definitions/Computation"
        description: The answer to a math expression or units conversion expression.
        readOnly: true
      images:
        $ref: "#/definitions/Images"
        description: A list of images that are relevant to the search query.
        readOnly: true
      news:
        $ref: "#/definitions/News"
        description: A list of news articles that are relevant to the search query.
        readOnly: true
      queryContext:
        $ref: "#/definitions/QueryContext"
        description: An object that contains the query string that Bing used for the request. This object contains the query string as entered by the user. It may also contain an altered query string that Bing used for the query if the query string contained a spelling mistake.
        readOnly: true
      rankingResponse:
        $ref: "#/definitions/RankingRankingResponse"
        description: The order that Bing suggests that you display the search results in.
        readOnly: true
      relatedSearches:
        $ref: "#/definitions/RelatedSearchesRelatedSearchAnswer"
        description: A list of related queries made by others.
        readOnly: true
      spellSuggestions:
        $ref: "#/definitions/SpellSuggestions"
        description: The query string that likely represents the user's intent.
        readOnly: true
      timeZone:
        $ref: "#/definitions/TimeZone"
        description: The date and time of one or more geographic locations.
        readOnly: true
      videos:
        $ref: "#/definitions/Videos"
        description: A list of videos that are relevant to the search query.
        readOnly: true
      webPages:
        $ref: "#/definitions/WebWebAnswer"
        description: A list of webpages that are relevant to the search query.
        readOnly: true
    type: object
  SearchResultsAnswer:
    allOf:
      - $ref: "#/definitions/Answer"
    properties:
      isFamilyFriendly:
        readOnly: true
        type: boolean
      queryContext:
        $ref: "#/definitions/QueryContext"
        readOnly: true
      totalEstimatedMatches:
        description: The estimated number of webpages that are relevant to the query. Use this number along with the count and offset query parameters to page the results.
        format: int64
        readOnly: true
        type: integer
    type: object
  SpellSuggestions:
    allOf:
      - $ref: "#/definitions/SearchResultsAnswer"
    description: Defines a suggested query string that likely represents the user's intent. The search results include this response if Bing determines that the user may have intended to search for something different. For example, if the user searches for alon brown, Bing may determine that the user likely intended to search for Alton Brown instead (based on past searches by others of Alon Brown).
    properties:
      value:
        description: A list of suggested query strings that may represent the user's intention. The list contains only one Query object.
        items:
          $ref: "#/definitions/Query"
        type: array
    required:
      - value
    type: object
  StructuredValue:
    allOf:
      - $ref: "#/definitions/Intangible"
    type: object
  Thing:
    allOf:
      - $ref: "#/definitions/Response"
    properties:
      bingId:
        description: An ID that uniquely identifies this item.
        readOnly: true
        type: string
      description:
        description: A short description of the item.
        readOnly: true
        type: string
      image:
        $ref: "#/definitions/ImageObject"
        readOnly: true
      name:
        description: The name of the thing represented by this object.
        readOnly: true
        type: string
      url:
        description: The URL to get more information about the thing represented by this object.
        readOnly: true
        type: string
    type: object
  TimeZone:
    allOf:
      - $ref: "#/definitions/SearchResultsAnswer"
    description: Defines the data and time of one or more geographic locations.
    properties:
      otherCityTimes:
        description: A list of dates and times of nearby time zones.
        items:
          $ref: "#/definitions/TimeZoneTimeZoneInformation"
        readOnly: true
        type: array
      primaryCityTime:
        $ref: "#/definitions/TimeZoneTimeZoneInformation"
        description: The data and time, in UTC, of the geographic location specified in the query. If the query specified a specific geographic location (for example, a city), this object contains the name of the geographic location and the current date and time of the location, in UTC. If the query specified a general geographic location, such as a state or country, this object contains the date and time of the primary city or state found in the specified state or country. If the location contains additional time zones, the otherCityTimes field contains the data and time of cities or states located in the other time zones.
    required:
      - primaryCityTime
    type: object
  TimeZoneTimeZoneInformation:
    description: Defines a date and time for a geographical location.
    properties:
      location:
        description: The name of the geographical location.For example, County; City; City, State; City, State, Country; or Time Zone.
        type: string
      time:
        description: The data and time specified in the form, YYYY-MM-DDThh;mm:ss.ssssssZ.
        type: string
      utcOffset:
        description: The offset from UTC. For example, UTC-7.
        type: string
    required:
      - location
      - time
      - utcOffset
    type: object
    x-ms-discriminator-value: TimeZone/TimeZoneInformation
  VideoObject:
    allOf:
      - $ref: "#/definitions/MediaObject"
    description: Defines a video object that is relevant to the query.
    properties:
      allowHttpsEmbed:
        readOnly: true
        type: boolean
      allowMobileEmbed:
        readOnly: true
        type: boolean
      embedHtml:
        readOnly: true
        type: string
      isSuperfresh:
        readOnly: true
        type: boolean
      motionThumbnailId:
        readOnly: true
        type: string
      motionThumbnailUrl:
        readOnly: true
        type: string
      thumbnail:
        $ref: "#/definitions/ImageObject"
        readOnly: true
      videoId:
        readOnly: true
        type: string
      viewCount:
        format: int32
        readOnly: true
        type: integer
    type: object
  Videos:
    allOf:
      - $ref: "#/definitions/SearchResultsAnswer"
    description: Defines a video answer.
    properties:
      nextOffset:
        format: int32
        readOnly: true
        type: integer
      queryExpansions:
        items:
          $ref: "#/definitions/Query"
        readOnly: true
        type: array
      relatedSearches:
        items:
          $ref: "#/definitions/Query"
        readOnly: true
        type: array
      value:
        description: A list of video objects that are relevant to the query.
        items:
          $ref: "#/definitions/VideoObject"
        type: array
    required:
      - value
    type: object
  WebMetaTag:
    description: Defines a webpage's metadata.
    properties:
      content:
        description: The name of the metadata.
        readOnly: true
        type: string
      name:
        description: The metadata.
        readOnly: true
        type: string
    type: object
    x-ms-discriminator-value: Web/MetaTag
  WebPage:
    allOf:
      - $ref: "#/definitions/CreativeWork"
    description: Defines a webpage that is relevant to the query.
    properties:
      dateLastCrawled:
[...]
