{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "info": {
    "title": "AppServicePlans API Client",
    "version": "2016-09-01",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2016-09-01/AppServicePlans.json",
        "version": "2.0"
      }
    ],
    "x-preferred": false,
    "x-providerName": "azure.com",
    "x-serviceName": "web-AppServicePlans",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "parameters": {
    "apiVersionParameter": {
      "description": "API Version",
      "in": "query",
      "name": "api-version",
      "required": true,
      "type": "string"
    },
    "resourceGroupNameParameter": {
      "description": "Name of the resource group to which the resource belongs.",
      "in": "path",
      "maxLength": 90,
      "minLength": 1,
      "name": "resourceGroupName",
      "pattern": "^[-\\w\\._\\(\\)]+[^\\.]$",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "subscriptionIdParameter": {
      "description": "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
      "in": "path",
      "name": "subscriptionId",
      "required": true,
      "type": "string"
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/serverfarms": {
      "get": {
        "description": "Get all App Service plans for a subscription.",
        "operationId": "AppServicePlans_List",
        "parameters": [
          {
            "description": "Specify <code>true</code> to return all App Service plan properties. The default is <code>false</code>, which returns a subset of the properties.\n Retrieval of all properties may increase the API latency.",
            "in": "query",
            "name": "detailed",
            "type": "boolean"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Collection of App Service plans.",
              "properties": {
                "nextLink": {
                  "description": "Link to next page of resources.",
                  "type": "string"
                },
                "value": {
                  "description": "Collection of resources.",
                  "items": {
                    "allOf": [
                      {
                        "description": "Azure resource. This resource is tracked in Azure Resource Manager",
                        "properties": {
                          "id": {
                            "description": "Resource Id.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "kind": {
                            "description": "Kind of resource.",
                            "type": "string"
                          },
                          "location": {
                            "description": "Resource Location.",
                            "type": "string"
                          },
                          "name": {
                            "description": "Resource Name.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "tags": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "description": "Resource tags.",
                            "type": "object"
                          },
                          "type": {
                            "description": "Resource type.",
                            "readOnly": true,
                            "type": "string"
                          }
                        },
                        "required": [
                          "location"
                        ],
                        "x-ms-azure-resource": true
                      }
                    ],
                    "description": "App Service plan.",
                    "properties": {
                      "properties": {
                        "description": "AppServicePlan resource specific properties",
                        "properties": {
                          "adminSiteName": {
                            "description": "App Service plan administration site.",
                            "type": "string"
                          },
                          "geoRegion": {
                            "description": "Geographical location for the App Service plan.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "hostingEnvironmentProfile": {
                            "description": "Specification for an App Service Environment to use for this resource.",
                            "properties": {
                              "id": {
                                "description": "Resource ID of the App Service Environment.",
                                "type": "string"
                              },
                              "name": {
                                "description": "Name of the App Service Environment.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "type": {
                                "description": "Resource type of the App Service Environment.",
                                "readOnly": true,
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "isSpot": {
                            "description": "If <code>true</code>, this App Service Plan owns spot instances.",
                            "type": "boolean"
                          },
                          "maximumNumberOfWorkers": {
                            "description": "Maximum number of instances that can be assigned to this App Service plan.",
                            "format": "int32",
                            "readOnly": true,
                            "type": "integer"
                          },
                          "name": {
                            "description": "Name for the App Service plan.",
                            "type": "string"
                          },
                          "numberOfSites": {
                            "description": "Number of apps assigned to this App Service plan.",
                            "format": "int32",
                            "readOnly": true,
                            "type": "integer"
                          },
                          "perSiteScaling": {
                            "default": false,
                            "description": "If <code>true</code>, apps assigned to this App Service plan can be scaled independently.\nIf <code>false</code>, apps assigned to this App Service plan will scale to all instances of the plan.",
                            "type": "boolean"
                          },
                          "provisioningState": {
                            "description": "Provisioning state of the App Service Environment.",
                            "enum": [
                              "Succeeded",
                              "Failed",
                              "Canceled",
                              "InProgress",
                              "Deleting"
                            ],
                            "readOnly": true,
                            "type": "string",
                            "x-ms-enum": {
                              "modelAsString": false,
                              "name": "ProvisioningState"
                            }
                          },
                          "reserved": {
                            "default": false,
                            "description": "If Linux app service plan <code>true</code>, <code>false</code> otherwise.",
                            "type": "boolean",
                            "x-ms-mutability": [
                              "create",
                              "read"
                            ]
                          },
                          "resourceGroup": {
                            "description": "Resource group of the App Service plan.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "spotExpirationTime": {
                            "description": "The time when the server farm expires. Valid only if it is a spot server farm.",
                            "format": "date-time",
                            "type": "string"
                          },
                          "status": {
                            "description": "App Service plan status.",
                            "enum": [
                              "Ready",
                              "Pending",
                              "Creating"
                            ],
                            "readOnly": true,
                            "type": "string",
                            "x-ms-enum": {
                              "modelAsString": false,
                              "name": "StatusOptions"
                            }
                          },
                          "subscription": {
                            "description": "App Service plan subscription.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "targetWorkerCount": {
                            "description": "Scaling worker count.",
                            "format": "int32",
                            "type": "integer"
                          },
                          "targetWorkerSizeId": {
                            "description": "Scaling worker size ID.",
                            "format": "int32",
                            "type": "integer"
                          },
                          "workerTierName": {
                            "description": "Target worker tier assigned to the App Service plan.",
                            "type": "string"
                          }
                        },
                        "required": [
                          "name"
                        ],
                        "x-ms-client-flatten": true
                      },
                      "sku": {
                        "description": "Description of a SKU for a scalable resource.",
                        "properties": {
                          "capabilities": {
                            "description": "Capabilities of the SKU, e.g., is traffic manager enabled?",
                            "items": {
                              "description": "Describes the capabilities/features allowed for a specific SKU.",
                              "properties": {
                                "name": {
                                  "description": "Name of the SKU capability.",
                                  "type": "string"
                                },
                                "reason": {
                                  "description": "Reason of the SKU capability.",
                                  "type": "string"
                                },
                                "value": {
                                  "description": "Value of the SKU capability.",
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "capacity": {
                            "description": "Current number of instances assigned to the resource.",
                            "format": "int32",
                            "type": "integer"
                          },
                          "family": {
                            "description": "Family code of the resource SKU.",
                            "type": "string"
                          },
                          "locations": {
                            "description": "Locations of the SKU.",
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "name": {
                            "description": "Name of the resource SKU.",
                            "type": "string"
                          },
                          "size": {
                            "description": "Size specifier of the resource SKU.",
                            "type": "string"
                          },
                          "skuCapacity": {
                            "description": "Description of the App Service plan scale options.",
                            "properties": {
                              "default": {
                                "description": "Default number of workers for this App Service plan SKU.",
                                "format": "int32",
                                "type": "integer"
                              },
                              "maximum": {
                                "description": "Maximum number of workers for this App Service plan SKU.",
                                "format": "int32",
                                "type": "integer"
                              },
                              "minimum": {
                                "description": "Minimum number of workers for this App Service plan SKU.",
                                "format": "int32",
                                "type": "integer"
                              },
                              "scaleType": {
                                "description": "Available scale configurations for an App Service plan.",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "tier": {
                            "description": "Service tier of the resource SKU.",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "required": [
                "value"
              ],
              "type": "object"
            }
          }
        },
        "summary": "Get all App Service plans for a subscription.",
        "tags": [
          "AppServicePlans"
        ],
        "x-ms-examples": {
          "List App Service plans": {
            "parameters": {
              "api-version": "2016-09-01",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141",
                      "kind": "app",
                      "location": "East US",
                      "name": "testsf6141",
                      "properties": {
                        "currentNumberOfWorkers": 1,
                        "currentWorkerSize": "Default",
                        "geoRegion": "East US",
                        "isSpot": false,
                        "kind": "app",
                        "maximumNumberOfWorkers": 20,
                        "mdmId": "waws-prod-blu-033_4740",
                        "name": "testsf6141",
                        "numberOfSites": 4,
                        "numberOfWorkers": 1,
                        "provisioningState": "Succeeded",
                        "reserved": false,
                        "status": "Ready",
                        "targetWorkerCount": 0,
                        "targetWorkerSizeId": 0,
                        "workerSize": "Default"
                      },
                      "sku": {
                        "capacity": 1,
                        "family": "P",
                        "name": "P1",
                        "size": "P1",
                        "tier": "Premium"
                      },
                      "type": "Microsoft.Web/serverfarms"
                    },
                    {
                      "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf7252",
                      "kind": "app",
                      "location": "East US",
                      "name": "testsf7252",
                      "properties": {
                        "currentNumberOfWorkers": 1,
                        "currentWorkerSize": "Default",
                        "geoRegion": "East US",
                        "isSpot": false,
                        "kind": "app",
                        "maximumNumberOfWorkers": 20,
                        "mdmId": "waws-prod-blu-033_5680",
                        "name": "testsf7252",
                        "numberOfSites": 4,
                        "numberOfWorkers": 1,
                        "provisioningState": "Succeeded",
                        "reserved": false,
                        "status": "Ready",
                        "targetWorkerCount": 0,
                        "targetWorkerSizeId": 0,
                        "workerSize": "Default"
                      },
                      "sku": {
                        "capacity": 1,
                        "family": "P",
                        "name": "P1",
                        "size": "P1",
                        "tier": "Premium"
                      },
                      "type": "Microsoft.Web/serverfarms"
                    }
                  ]
                },
                "headers": {}
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms": {
      "get": {
        "description": "Get all App Service plans in a resource group.",
        "operationId": "AppServicePlans_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Collection of App Service plans.",
              "properties": {
                "nextLink": {
                  "description": "Link to next page of resources.",
                  "type": "string"
                },
                "value": {
                  "description": "Collection of resources.",
                  "items": {
                    "allOf": [
                      {
                        "description": "Azure resource. This resource is tracked in Azure Resource Manager",
                        "properties": {
                          "id": {
                            "description": "Resource Id.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "kind": {
                            "description": "Kind of resource.",
                            "type": "string"
                          },
                          "location": {
                            "description": "Resource Location.",
                            "type": "string"
                          },
                          "name": {
                            "description": "Resource Name.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "tags": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "description": "Resource tags.",
                            "type": "object"
                          },
                          "type": {
                            "description": "Resource type.",
                            "readOnly": true,
                            "type": "string"
                          }
                        },
                        "required": [
                          "location"
                        ],
                        "x-ms-azure-resource": true
                      }
                    ],
                    "description": "App Service plan.",
                    "properties": {
                      "properties": {
                        "description": "AppServicePlan resource specific properties",
                        "properties": {
                          "adminSiteName": {
                            "description": "App Service plan administration site.",
                            "type": "string"
                          },
                          "geoRegion": {
                            "description": "Geographical location for the App Service plan.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "hostingEnvironmentProfile": {
                            "description": "Specification for an App Service Environment to use for this resource.",
                            "properties": {
                              "id": {
                                "description": "Resource ID of the App Service Environment.",
                                "type": "string"
                              },
                              "name": {
                                "description": "Name of the App Service Environment.",
                                "readOnly": true,
                                "type": "string"
                              },
                              "type": {
                                "description": "Resource type of the App Service Environment.",
                                "readOnly": true,
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "isSpot": {
                            "description": "If <code>true</code>, this App Service Plan owns spot instances.",
                            "type": "boolean"
                          },
                          "maximumNumberOfWorkers": {
                            "description": "Maximum number of instances that can be assigned to this App Service plan.",
                            "format": "int32",
                            "readOnly": true,
                            "type": "integer"
                          },
                          "name": {
                            "description": "Name for the App Service plan.",
                            "type": "string"
                          },
                          "numberOfSites": {
                            "description": "Number of apps assigned to this App Service plan.",
                            "format": "int32",
                            "readOnly": true,
                            "type": "integer"
                          },
                          "perSiteScaling": {
                            "default": false,
                            "description": "If <code>true</code>, apps assigned to this App Service plan can be scaled independently.\nIf <code>false</code>, apps assigned to this App Service plan will scale to all instances of the plan.",
                            "type": "boolean"
                          },
                          "provisioningState": {
                            "description": "Provisioning state of the App Service Environment.",
                            "enum": [
                              "Succeeded",
                              "Failed",
                              "Canceled",
                              "InProgress",
                              "Deleting"
                            ],
                            "readOnly": true,
                            "type": "string",
                            "x-ms-enum": {
                              "modelAsString": false,
                              "name": "ProvisioningState"
                            }
                          },
                          "reserved": {
                            "default": false,
                            "description": "If Linux app service plan <code>true</code>, <code>false</code> otherwise.",
                            "type": "boolean",
                            "x-ms-mutability": [
                              "create",
                              "read"
                            ]
                          },
                          "resourceGroup": {
                            "description": "Resource group of the App Service plan.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "spotExpirationTime": {
                            "description": "The time when the server farm expires. Valid only if it is a spot server farm.",
                            "format": "date-time",
                            "type": "string"
                          },
                          "status": {
                            "description": "App Service plan status.",
                            "enum": [
                              "Ready",
                              "Pending",
                              "Creating"
                            ],
                            "readOnly": true,
                            "type": "string",
                            "x-ms-enum": {
                              "modelAsString": false,
                              "name": "StatusOptions"
                            }
                          },
                          "subscription": {
                            "description": "App Service plan subscription.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "targetWorkerCount": {
                            "description": "Scaling worker count.",
                            "format": "int32",
                            "type": "integer"
                          },
                          "targetWorkerSizeId": {
                            "description": "Scaling worker size ID.",
                            "format": "int32",
                            "type": "integer"
                          },
                          "workerTierName": {
                            "description": "Target worker tier assigned to the App Service plan.",
                            "type": "string"
                          }
                        },
                        "required": [
                          "name"
                        ],
                        "x-ms-client-flatten": true
                      },
                      "sku": {
                        "description": "Description of a SKU for a scalable resource.",
                        "properties": {
                          "capabilities": {
                            "description": "Capabilities of the SKU, e.g., is traffic manager enabled?",
                            "items": {
                              "description": "Describes the capabilities/features allowed for a specific SKU.",
                              "properties": {
                                "name": {
                                  "description": "Name of the SKU capability.",
                                  "type": "string"
                                },
                                "reason": {
                                  "description": "Reason of the SKU capability.",
                                  "type": "string"
                                },
                                "value": {
                                  "description": "Value of the SKU capability.",
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "capacity": {
                            "description": "Current number of instances assigned to the resource.",
                            "format": "int32",
                            "type": "integer"
                          },
                          "family": {
                            "description": "Family code of the resource SKU.",
                            "type": "string"
                          },
                          "locations": {
                            "description": "Locations of the SKU.",
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "name": {
                            "description": "Name of the resource SKU.",
                            "type": "string"
                          },
                          "size": {
                            "description": "Size specifier of the resource SKU.",
                            "type": "string"
                          },
                          "skuCapacity": {
                            "description": "Description of the App Service plan scale options.",
                            "properties": {
                              "default": {
                                "description": "Default number of workers for this App Service plan SKU.",
                                "format": "int32",
                                "type": "integer"
                              },
                              "maximum": {
                                "description": "Maximum number of workers for this App Service plan SKU.",
                                "format": "int32",
                                "type": "integer"
                              },
                              "minimum": {
                                "description": "Minimum number of workers for this App Service plan SKU.",
                                "format": "int32",
                                "type": "integer"
                              },
                              "scaleType": {
                                "description": "Available scale configurations for an App Service plan.",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "tier": {
                            "description": "Service tier of the resource SKU.",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "required": [
                "value"
              ],
              "type": "object"
            }
          }
        },
        "summary": "Get all App Service plans in a resource group.",
        "tags": [
          "AppServicePlans"
        ],
        "x-ms-examples": {
          "List App Service plans by resource group": {
            "parameters": {
              "api-version": "2016-09-01",
              "resourceGroupName": "testrg123",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141",
                      "kind": "app",
                      "location": "East US",
                      "name": "testsf6141",
                      "properties": {
                        "currentNumberOfWorkers": 1,
                        "currentWorkerSize": "Default",
                        "geoRegion": "East US",
                        "isSpot": false,
                        "kind": "app",
                        "maximumNumberOfWorkers": 20,
                        "mdmId": "waws-prod-blu-033_4740",
                        "name": "testsf6141",
                        "numberOfSites": 4,
                        "numberOfWorkers": 1,
                        "provisioningState": "Succeeded",
                        "reserved": false,
                        "status": "Ready",
                        "targetWorkerCount": 0,
                        "targetWorkerSizeId": 0,
                        "workerSize": "Default"
                      },
                      "sku": {
                        "capacity": 1,
                        "family": "P",
                        "name": "P1",
                        "size": "P1",
                        "tier": "Premium"
                      },
                      "type": "Microsoft.Web/serverfarms"
                    },
                    {
                      "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf7252",
                      "kind": "app",
                      "location": "East US",
                      "name": "testsf7252",
                      "properties": {
                        "currentNumberOfWorkers": 1,
                        "currentWorkerSize": "Default",
                        "geoRegion": "East US",
                        "isSpot": false,
                        "kind": "app",
                        "maximumNumberOfWorkers": 20,
                        "mdmId": "waws-prod-blu-033_5680",
                        "name": "testsf7252",
                        "numberOfSites": 4,
                        "numberOfWorkers": 1,
                        "provisioningState": "Succeeded",
                        "reserved": false,
                        "status": "Ready",
                        "targetWorkerCount": 0,
                        "targetWorkerSizeId": 0,
                        "workerSize": "Default"
                      },
                      "sku": {
                        "capacity": 1,
                        "family": "P",
                        "name": "P1",
                        "size": "P1",
                        "tier": "Premium"
                      },
                      "type": "Microsoft.Web/serverfarms"
                    }
                  ]
                },
                "headers": {}
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}": {
      "delete": {
        "description": "Delete an App Service plan.",
        "operationId": "AppServicePlans_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service plan.",
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          },
          "204": {
            "description": "OK."
          }
        },
        "summary": "Delete an App Service plan.",
        "tags": [
          "AppServicePlans"
        ],
        "x-ms-examples": {
          "Delete App Service plan": {
            "parameters": {
              "api-version": "2016-09-01",
              "name": "testsf6141",
              "resourceGroupName": "testrg123",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        }
      },
      "get": {
        "description": "Get an App Service plan.",
        "operationId": "AppServicePlans_Get",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service plan.",
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "allOf": [
                {
                  "description": "Azure resource. This resource is tracked in Azure Resource Manager",
                  "properties": {
                    "id": {
                      "description": "Resource Id.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "kind": {
                      "description": "Kind of resource.",
                      "type": "string"
                    },
                    "location": {
                      "description": "Resource Location.",
                      "type": "string"
                    },
                    "name": {
                      "description": "Resource Name.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "tags": {
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Resource tags.",
                      "type": "object"
                    },
                    "type": {
                      "description": "Resource type.",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "required": [
                    "location"
                  ],
                  "x-ms-azure-resource": true
                }
              ],
              "description": "App Service plan.",
              "properties": {
                "properties": {
                  "description": "AppServicePlan resource specific properties",
                  "properties": {
                    "adminSiteName": {
                      "description": "App Service plan administration site.",
                      "type": "string"
                    },
                    "geoRegion": {
                      "description": "Geographical location for the App Service plan.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "hostingEnvironmentProfile": {
                      "description": "Specification for an App Service Environment to use for this resource.",
                      "properties": {
                        "id": {
                          "description": "Resource ID of the App Service Environment.",
                          "type": "string"
                        },
                        "name": {
                          "description": "Name of the App Service Environment.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "type": {
                          "description": "Resource type of the App Service Environment.",
                          "readOnly": true,
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "isSpot": {
                      "description": "If <code>true</code>, this App Service Plan owns spot instances.",
                      "type": "boolean"
                    },
                    "maximumNumberOfWorkers": {
                      "description": "Maximum number of instances that can be assigned to this App Service plan.",
                      "format": "int32",
                      "readOnly": true,
                      "type": "integer"
                    },
                    "name": {
                      "description": "Name for the App Service plan.",
                      "type": "string"
                    },
                    "numberOfSites": {
                      "description": "Number of apps assigned to this App Service plan.",
                      "format": "int32",
                      "readOnly": true,
                      "type": "integer"
                    },
                    "perSiteScaling": {
                      "default": false,
                      "description": "If <code>true</code>, apps assigned to this App Service plan can be scaled independently.\nIf <code>false</code>, apps assigned to this App Service plan will scale to all instances of the plan.",
                      "type": "boolean"
                    },
                    "provisioningState": {
                      "description": "Provisioning state of the App Service Environment.",
                      "enum": [
                        "Succeeded",
                        "Failed",
                        "Canceled",
                        "InProgress",
                        "Deleting"
                      ],
                      "readOnly": true,
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": false,
                        "name": "ProvisioningState"
                      }
                    },
                    "reserved": {
                      "default": false,
                      "description": "If Linux app service plan <code>true</code>, <code>false</code> otherwise.",
                      "type": "boolean",
                      "x-ms-mutability": [
                        "create",
                        "read"
                      ]
                    },
                    "resourceGroup": {
                      "description": "Resource group of the App Service plan.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "spotExpirationTime": {
                      "description": "The time when the server farm expires. Valid only if it is a spot server farm.",
                      "format": "date-time",
                      "type": "string"
                    },
                    "status": {
                      "description": "App Service plan status.",
                      "enum": [
                        "Ready",
                        "Pending",
                        "Creating"
                      ],
                      "readOnly": true,
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": false,
                        "name": "StatusOptions"
                      }
                    },
                    "subscription": {
                      "description": "App Service plan subscription.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "targetWorkerCount": {
                      "description": "Scaling worker count.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "targetWorkerSizeId": {
                      "description": "Scaling worker size ID.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "workerTierName": {
                      "description": "Target worker tier assigned to the App Service plan.",
                      "type": "string"
                    }
                  },
                  "required": [
                    "name"
                  ],
                  "x-ms-client-flatten": true
                },
                "sku": {
                  "description": "Description of a SKU for a scalable resource.",
                  "properties": {
                    "capabilities": {
                      "description": "Capabilities of the SKU, e.g., is traffic manager enabled?",
                      "items": {
                        "description": "Describes the capabilities/features allowed for a specific SKU.",
                        "properties": {
                          "name": {
                            "description": "Name of the SKU capability.",
                            "type": "string"
                          },
                          "reason": {
                            "description": "Reason of the SKU capability.",
                            "type": "string"
                          },
                          "value": {
                            "description": "Value of the SKU capability.",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "capacity": {
                      "description": "Current number of instances assigned to the resource.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "family": {
                      "description": "Family code of the resource SKU.",
                      "type": "string"
                    },
                    "locations": {
                      "description": "Locations of the SKU.",
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "name": {
                      "description": "Name of the resource SKU.",
                      "type": "string"
                    },
                    "size": {
                      "description": "Size specifier of the resource SKU.",
                      "type": "string"
                    },
                    "skuCapacity": {
                      "description": "Description of the App Service plan scale options.",
                      "properties": {
                        "default": {
                          "description": "Default number of workers for this App Service plan SKU.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "maximum": {
                          "description": "Maximum number of workers for this App Service plan SKU.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "minimum": {
                          "description": "Minimum number of workers for this App Service plan SKU.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "scaleType": {
                          "description": "Available scale configurations for an App Service plan.",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "tier": {
                      "description": "Service tier of the resource SKU.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          },
          "404": {
            "description": "Not found."
          }
        },
        "summary": "Get an App Service plan.",
        "tags": [
          "AppServicePlans"
        ],
        "x-ms-examples": {
          "Get App Service plan": {
            "parameters": {
              "api-version": "2016-09-01",
              "name": "testsf6141",
              "resourceGroupName": "testrg123",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141",
                  "kind": "app",
                  "location": "East US",
                  "name": "testsf6141",
                  "properties": {
                    "currentNumberOfWorkers": 1,
                    "currentWorkerSize": "Default",
                    "geoRegion": "East US",
                    "isSpot": false,
                    "kind": "app",
                    "maximumNumberOfWorkers": 20,
                    "mdmId": "waws-prod-blu-033_4740",
                    "name": "testsf6141",
                    "numberOfSites": 4,
                    "numberOfWorkers": 1,
                    "provisioningState": "Succeeded",
                    "reserved": false,
                    "status": "Ready",
                    "targetWorkerCount": 0,
                    "targetWorkerSizeId": 0,
                    "workerSize": "Default"
                  },
                  "sku": {
                    "capacity": 1,
                    "family": "P",
                    "name": "P1",
                    "size": "P1",
                    "tier": "Premium"
                  },
                  "type": "Microsoft.Web/serverfarms"
                },
                "headers": {}
              },
              "404": {}
            }
          }
        }
      },
      "patch": {
        "description": "Creates or updates an App Service Plan.",
        "operationId": "AppServicePlans_Update",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service plan.",
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "description": "Details of the App Service plan.",
            "in": "body",
            "name": "appServicePlan",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppServicePlanPatchResource"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "allOf": [
                {
                  "description": "Azure resource. This resource is tracked in Azure Resource Manager",
                  "properties": {
                    "id": {
                      "description": "Resource Id.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "kind": {
                      "description": "Kind of resource.",
                      "type": "string"
                    },
                    "location": {
                      "description": "Resource Location.",
                      "type": "string"
                    },
                    "name": {
                      "description": "Resource Name.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "tags": {
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Resource tags.",
                      "type": "object"
                    },
                    "type": {
                      "description": "Resource type.",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "required": [
                    "location"
                  ],
                  "x-ms-azure-resource": true
                }
              ],
              "description": "App Service plan.",
              "properties": {
                "properties": {
                  "description": "AppServicePlan resource specific properties",
                  "properties": {
                    "adminSiteName": {
                      "description": "App Service plan administration site.",
                      "type": "string"
                    },
                    "geoRegion": {
                      "description": "Geographical location for the App Service plan.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "hostingEnvironmentProfile": {
                      "description": "Specification for an App Service Environment to use for this resource.",
                      "properties": {
                        "id": {
                          "description": "Resource ID of the App Service Environment.",
                          "type": "string"
                        },
                        "name": {
                          "description": "Name of the App Service Environment.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "type": {
                          "description": "Resource type of the App Service Environment.",
                          "readOnly": true,
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "isSpot": {
                      "description": "If <code>true</code>, this App Service Plan owns spot instances.",
                      "type": "boolean"
                    },
                    "maximumNumberOfWorkers": {
                      "description": "Maximum number of instances that can be assigned to this App Service plan.",
                      "format": "int32",
                      "readOnly": true,
                      "type": "integer"
                    },
                    "name": {
                      "description": "Name for the App Service plan.",
                      "type": "string"
                    },
                    "numberOfSites": {
                      "description": "Number of apps assigned to this App Service plan.",
                      "format": "int32",
                      "readOnly": true,
                      "type": "integer"
                    },
                    "perSiteScaling": {
                      "default": false,
                      "description": "If <code>true</code>, apps assigned to this App Service plan can be scaled independently.\nIf <code>false</code>, apps assigned to this App Service plan will scale to all instances of the plan.",
                      "type": "boolean"
                    },
                    "provisioningState": {
                      "description": "Provisioning state of the App Service Environment.",
                      "enum": [
                        "Succeeded",
                        "Failed",
                        "Canceled",
                        "InProgress",
                        "Deleting"
                      ],
                      "readOnly": true,
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": false,
                        "name": "ProvisioningState"
                      }
                    },
                    "reserved": {
                      "default": false,
                      "description": "If Linux app service plan <code>true</code>, <code>false</code> otherwise.",
                      "type": "boolean",
                      "x-ms-mutability": [
                        "create",
                        "read"
                      ]
                    },
                    "resourceGroup": {
                      "description": "Resource group of the App Service plan.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "spotExpirationTime": {
                      "description": "The time when the server farm expires. Valid only if it is a spot server farm.",
                      "format": "date-time",
                      "type": "string"
                    },
                    "status": {
                      "description": "App Service plan status.",
                      "enum": [
                        "Ready",
                        "Pending",
                        "Creating"
                      ],
                      "readOnly": true,
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": false,
                        "name": "StatusOptions"
                      }
                    },
                    "subscription": {
                      "description": "App Service plan subscription.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "targetWorkerCount": {
                      "description": "Scaling worker count.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "targetWorkerSizeId": {
                      "description": "Scaling worker size ID.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "workerTierName": {
                      "description": "Target worker tier assigned to the App Service plan.",
                      "type": "string"
                    }
                  },
                  "required": [
                    "name"
                  ],
                  "x-ms-client-flatten": true
                },
                "sku": {
                  "description": "Description of a SKU for a scalable resource.",
                  "properties": {
                    "capabilities": {
                      "description": "Capabilities of the SKU, e.g., is traffic manager enabled?",
                      "items": {
                        "description": "Describes the capabilities/features allowed for a specific SKU.",
                        "properties": {
                          "name": {
                            "description": "Name of the SKU capability.",
                            "type": "string"
                          },
                          "reason": {
                            "description": "Reason of the SKU capability.",
                            "type": "string"
                          },
                          "value": {
                            "description": "Value of the SKU capability.",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "capacity": {
                      "description": "Current number of instances assigned to the resource.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "family": {
                      "description": "Family code of the resource SKU.",
                      "type": "string"
                    },
                    "locations": {
                      "description": "Locations of the SKU.",
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "name": {
                      "description": "Name of the resource SKU.",
                      "type": "string"
                    },
                    "size": {
                      "description": "Size specifier of the resource SKU.",
                      "type": "string"
                    },
                    "skuCapacity": {
                      "description": "Description of the App Service plan scale options.",
                      "properties": {
                        "default": {
                          "description": "Default number of workers for this App Service plan SKU.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "maximum": {
                          "description": "Maximum number of workers for this App Service plan SKU.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "minimum": {
                          "description": "Minimum number of workers for this App Service plan SKU.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "scaleType": {
                          "description": "Available scale configurations for an App Service plan.",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "tier": {
                      "description": "Service tier of the resource SKU.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          },
          "202": {
            "description": "Operation is in progress.",
            "schema": {
              "allOf": [
                {
                  "description": "Azure resource. This resource is tracked in Azure Resource Manager",
                  "properties": {
                    "id": {
                      "description": "Resource Id.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "kind": {
                      "description": "Kind of resource.",
                      "type": "string"
                    },
                    "location": {
                      "description": "Resource Location.",
                      "type": "string"
                    },
                    "name": {
                      "description": "Resource Name.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "tags": {
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Resource tags.",
                      "type": "object"
                    },
                    "type": {
                      "description": "Resource type.",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "required": [
                    "location"
                  ],
                  "x-ms-azure-resource": true
                }
              ],
              "description": "App Service plan.",
              "properties": {
                "properties": {
                  "description": "AppServicePlan resource specific properties",
                  "properties": {
                    "adminSiteName": {
                      "description": "App Service plan administration site.",
                      "type": "string"
                    },
                    "geoRegion": {
                      "description": "Geographical location for the App Service plan.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "hostingEnvironmentProfile": {
                      "description": "Specification for an App Service Environment to use for this resource.",
                      "properties": {
                        "id": {
                          "description": "Resource ID of the App Service Environment.",
                          "type": "string"
                        },
                        "name": {
                          "description": "Name of the App Service Environment.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "type": {
                          "description": "Resource type of the App Service Environment.",
                          "readOnly": true,
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "isSpot": {
                      "description": "If <code>true</code>, this App Service Plan owns spot instances.",
                      "type": "boolean"
                    },
                    "maximumNumberOfWorkers": {
                      "description": "Maximum number of instances that can be assigned to this App Service plan.",
                      "format": "int32",
                      "readOnly": true,
                      "type": "integer"
                    },
                    "name": {
                      "description": "Name for the App Service plan.",
                      "type": "string"
                    },
                    "numberOfSites": {
                      "description": "Number of apps assigned to this App Service plan.",
                      "format": "int32",
                      "readOnly": true,
                      "type": "integer"
                    },
                    "perSiteScaling": {
                      "default": false,
                      "description": "If <code>true</code>, apps assigned to this App Service plan can be scaled independently.\nIf <code>false</code>, apps assigned to this App Service plan will scale to all instances of the plan.",
                      "type": "boolean"
                    },
                    "provisioningState": {
                      "description": "Provisioning state of the App Service Environment.",
                      "enum": [
                        "Succeeded",
                        "Failed",
                        "Canceled",
                        "InProgress",
                        "Deleting"
                      ],
                      "readOnly": true,
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": false,
                        "name": "ProvisioningState"
                      }
                    },
                    "reserved": {
                      "default": false,
                      "description": "If Linux app service plan <code>true</code>, <code>false</code> otherwise.",
                      "type": "boolean",
                      "x-ms-mutability": [
                        "create",
                        "read"
                      ]
                    },
                    "resourceGroup": {
                      "description": "Resource group of the App Service plan.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "spotExpirationTime": {
                      "description": "The time when the server farm expires. Valid only if it is a spot server farm.",
                      "format": "date-time",
                      "type": "string"
                    },
                    "status": {
                      "description": "App Service plan status.",
                      "enum": [
                        "Ready",
                        "Pending",
                        "Creating"
                      ],
                      "readOnly": true,
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": false,
                        "name": "StatusOptions"
                      }
                    },
                    "subscription": {
                      "description": "App Service plan subscription.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "targetWorkerCount": {
                      "description": "Scaling worker count.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "targetWorkerSizeId": {
                      "description": "Scaling worker size ID.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "workerTierName": {
                      "description": "Target worker tier assigned to the App Service plan.",
                      "type": "string"
                    }
                  },
                  "required": [
                    "name"
                  ],
                  "x-ms-client-flatten": true
                },
                "sku": {
                  "description": "Description of a SKU for a scalable resource.",
                  "properties": {
                    "capabilities": {
                      "description": "Capabilities of the SKU, e.g., is traffic manager enabled?",
                      "items": {
                        "description": "Describes the capabilities/features allowed for a specific SKU.",
                        "properties": {
                          "name": {
                            "description": "Name of the SKU capability.",
                            "type": "string"
                          },
                          "reason": {
                            "description": "Reason of the SKU capability.",
                            "type": "string"
                          },
                          "value": {
                            "description": "Value of the SKU capability.",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "capacity": {
                      "description": "Current number of instances assigned to the resource.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "family": {
                      "description": "Family code of the resource SKU.",
                      "type": "string"
                    },
                    "locations": {
                      "description": "Locations of the SKU.",
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "name": {
                      "description": "Name of the resource SKU.",
                      "type": "string"
                    },
                    "size": {
                      "description": "Size specifier of the resource SKU.",
                      "type": "string"
                    },
                    "skuCapacity": {
                      "description": "Description of the App Service plan scale options.",
                      "properties": {
                        "default": {
                          "description": "Default number of workers for this App Service plan SKU.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "maximum": {
                          "description": "Maximum number of workers for this App Service plan SKU.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "minimum": {
                          "description": "Minimum number of workers for this App Service plan SKU.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "scaleType": {
                          "description": "Available scale configurations for an App Service plan.",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "tier": {
                      "description": "Service tier of the resource SKU.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Creates or updates an App Service Plan.",
        "tags": [
          "AppServicePlans"
        ],
        "x-ms-examples": {
          "Patch Service plan": {
            "parameters": {
              "api-version": "2016-09-01",
              "appServicePlan": {
                "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141",
                "kind": "app",
                "name": "testsf6141",
                "properties": {
                  "name": "testsf6141"
                },
                "type": "Microsoft.Web/serverfarms"
              },
              "name": "testsf6141",
              "resourceGroupName": "testrg123",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141",
                  "kind": "app",
                  "location": "East US",
                  "name": "testsf6141",
                  "properties": {
                    "currentNumberOfWorkers": 1,
                    "currentWorkerSize": "Default",
                    "geoRegion": "East US",
                    "maximumNumberOfWorkers": 20,
                    "mdmId": "waws-prod-blu-033_4740",
                    "name": "testsf6141",
                    "numberOfSites": 4,
                    "numberOfWorkers": 1,
                    "provisioningState": "Succeeded",
                    "reserved": false,
                    "status": "Ready",
                    "targetWorkerCount": 0,
                    "targetWorkerSizeId": 0,
                    "workerSize": "Default"
                  },
                  "sku": {
                    "capacity": 1,
                    "family": "P",
                    "name": "P1",
                    "size": "P1",
                    "tier": "Premium"
                  },
                  "type": "Microsoft.Web/serverfarms"
                },
                "headers": {}
              },
              "202": {
                "body": {
                  "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141",
                  "kind": "app",
                  "location": "East US",
                  "name": "testsf6141",
                  "properties": {
                    "currentNumberOfWorkers": 1,
                    "currentWorkerSize": "Default",
                    "geoRegion": "East US",
                    "isSpot": false,
                    "maximumNumberOfWorkers": 20,
                    "mdmId": "waws-prod-blu-033_4740",
                    "name": "testsf6141",
                    "numberOfSites": 4,
                    "numberOfWorkers": 1,
                    "provisioningState": "Succeeded",
                    "reserved": false,
                    "status": "Ready",
                    "targetWorkerCount": 0,
                    "targetWorkerSizeId": 0,
                    "workerSize": "Default"
                  },
                  "sku": {
                    "capacity": 1,
                    "family": "P",
                    "name": "P1",
                    "size": "P1",
                    "tier": "Premium"
                  },
                  "type": "Microsoft.Web/serverfarms"
                },
                "headers": {
                  "azure-asyncoperation": "https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141/operationresults/F0C6B8EC-0D53-432C-913B-1CD9E8CDE3A0",
                  "location": "https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141/operationresults/F0C6B8EC-0D53-432C-913B-1CD9E8CDE3A0"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Creates or updates an App Service Plan.",
        "operationId": "AppServicePlans_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "description": "Name of the App Service plan.",
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "description": "Details of the App Service plan.",
            "in": "body",
            "name": "appServicePlan",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "description": "Azure resource. This resource is tracked in Azure Resource Manager",
                  "properties": {
                    "id": {
                      "description": "Resource Id.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "kind": {
                      "description": "Kind of resource.",
                      "type": "string"
                    },
                    "location": {
                      "description": "Resource Location.",
                      "type": "string"
                    },
                    "name": {
                      "description": "Resource Name.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "tags": {
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Resource tags.",
                      "type": "object"
                    },
                    "type": {
                      "description": "Resource type.",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "required": [
                    "location"
                  ],
                  "x-ms-azure-resource": true
                }
              ],
              "description": "App Service plan.",
              "properties": {
                "properties": {
                  "description": "AppServicePlan resource specific properties",
                  "properties": {
                    "adminSiteName": {
                      "description": "App Service plan administration site.",
                      "type": "string"
                    },
                    "geoRegion": {
                      "description": "Geographical location for the App Service plan.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "hostingEnvironmentProfile": {
                      "description": "Specification for an App Service Environment to use for this resource.",
                      "properties": {
                        "id": {
                          "description": "Resource ID of the App Service Environment.",
                          "type": "string"
                        },
                        "name": {
                          "description": "Name of the App Service Environment.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "type": {
                          "description": "Resource type of the App Service Environment.",
                          "readOnly": true,
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "isSpot": {
                      "description": "If <code>true</code>, this App Service Plan owns spot instances.",
                      "type": "boolean"
                    },
                    "maximumNumberOfWorkers": {
                      "description": "Maximum number of instances that can be assigned to this App Service plan.",
                      "format": "int32",
                      "readOnly": true,
                      "type": "integer"
                    },
                    "name": {
                      "description": "Name for the App Service plan.",
                      "type": "string"
                    },
                    "numberOfSites": {
                      "description": "Number of apps assigned to this App Service plan.",
                      "format": "int32",
                      "readOnly": true,
                      "type": "integer"
                    },
                    "perSiteScaling": {
                      "default": false,
                      "description": "If <code>true</code>, apps assigned to this App Service plan can be scaled independently.\nIf <code>false</code>, apps assigned to this App Service plan will scale to all instances of the plan.",
                      "type": "boolean"
                    },
                    "provisioningState": {
                      "description": "Provisioning state of the App Service Environment.",
                      "enum": [
                        "Succeeded",
                        "Failed",
                        "Canceled",
                        "InProgress",
                        "Deleting"
                      ],
                      "readOnly": true,
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": false,
                        "name": "ProvisioningState"
                      }
                    },
                    "reserved": {
                      "default": false,
                      "description": "If Linux app service plan <code>true</code>, <code>false</code> otherwise.",
                      "type": "boolean",
                      "x-ms-mutability": [
                        "create",
                        "read"
                      ]
                    },
                    "resourceGroup": {
                      "description": "Resource group of the App Service plan.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "spotExpirationTime": {
                      "description": "The time when the server farm expires. Valid only if it is a spot server farm.",
                      "format": "date-time",
                      "type": "string"
                    },
                    "status": {
                      "description": "App Service plan status.",
                      "enum": [
                        "Ready",
                        "Pending",
                        "Creating"
                      ],
                      "readOnly": true,
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": false,
                        "name": "StatusOptions"
                      }
                    },
                    "subscription": {
                      "description": "App Service plan subscription.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "targetWorkerCount": {
                      "description": "Scaling worker count.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "targetWorkerSizeId": {
                      "description": "Scaling worker size ID.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "workerTierName": {
                      "description": "Target worker tier assigned to the App Service plan.",
                      "type": "string"
                    }
                  },
                  "required": [
                    "name"
                  ],
                  "x-ms-client-flatten": true
                },
                "sku": {
                  "description": "Description of a SKU for a scalable resource.",
                  "properties": {
                    "capabilities": {
                      "description": "Capabilities of the SKU, e.g., is traffic manager enabled?",
                      "items": {
                        "description": "Describes the capabilities/features allowed for a specific SKU.",
                        "properties": {
                          "name": {
                            "description": "Name of the SKU capability.",
                            "type": "string"
                          },
                          "reason": {
                            "description": "Reason of the SKU capability.",
                            "type": "string"
                          },
                          "value": {
                            "description": "Value of the SKU capability.",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "capacity": {
                      "description": "Current number of instances assigned to the resource.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "family": {
                      "description": "Family code of the resource SKU.",
                      "type": "string"
                    },
                    "locations": {
                      "description": "Locations of the SKU.",
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "name": {
                      "description": "Name of the resource SKU.",
                      "type": "string"
                    },
                    "size": {
                      "description": "Size specifier of the resource SKU.",
                      "type": "string"
                    },
                    "skuCapacity": {
                      "description": "Description of the App Service plan scale options.",
                      "properties": {
                        "default": {
                          "description": "Default number of workers for this App Service plan SKU.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "maximum": {
                          "description": "Maximum number of workers for this App Service plan SKU.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "minimum": {
                          "description": "Minimum number of workers for this App Service plan SKU.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "scaleType": {
                          "description": "Available scale configurations for an App Service plan.",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "tier": {
                      "description": "Service tier of the resource SKU.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "allOf": [
                {
                  "description": "Azure resource. This resource is tracked in Azure Resource Manager",
                  "properties": {
                    "id": {
                      "description": "Resource Id.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "kind": {
                      "description": "Kind of resource.",
                      "type": "string"
                    },
                    "location": {
                      "description": "Resource Location.",
                      "type": "string"
                    },
                    "name": {
                      "description": "Resource Name.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "tags": {
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Resource tags.",
                      "type": "object"
                    },
                    "type": {
                      "description": "Resource type.",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "required": [
                    "location"
                  ],
                  "x-ms-azure-resource": true
                }
              ],
              "description": "App Service plan.",
              "properties": {
                "properties": {
                  "description": "AppServicePlan resource specific properties",
                  "properties": {
                    "adminSiteName": {
                      "description": "App Service plan administration site.",
                      "type": "string"
                    },
                    "geoRegion": {
                      "description": "Geographical location for the App Service plan.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "hostingEnvironmentProfile": {
                      "description": "Specification for an App Service Environment to use for this resource.",
                      "properties": {
                        "id": {
                          "description": "Resource ID of the App Service Environment.",
                          "type": "string"
                        },
                        "name": {
                          "description": "Name of the App Service Environment.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "type": {
                          "description": "Resource type of the App Service Environment.",
                          "readOnly": true,
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "isSpot": {
                      "description": "If <code>true</code>, this App Service Plan owns spot instances.",
                      "type": "boolean"
                    },
                    "maximumNumberOfWorkers": {
                      "description": "Maximum number of instances that can be assigned to this App Service plan.",
                      "format": "int32",
                      "readOnly": true,
                      "type": "integer"
                    },
                    "name": {
                      "description": "Name for the App Service plan.",
                      "type": "string"
                    },
                    "numberOfSites": {
                      "description": "Number of apps assigned to this App Service plan.",
                      "format": "int32",
                      "readOnly": true,
                      "type": "integer"
                    },
                    "perSiteScaling": {
                      "default": false,
                      "description": "If <code>true</code>, apps assigned to this App Service plan can be scaled independently.\nIf <code>false</code>, apps assigned to this App Service plan will scale to all instances of the plan.",
                      "type": "boolean"
                    },
                    "provisioningState": {
                      "description": "Provisioning state of the App Service Environment.",
                      "enum": [
                        "Succeeded",
                        "Failed",
                        "Canceled",
                        "InProgress",
                        "Deleting"
                      ],
                      "readOnly": true,
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": false,
                        "name": "ProvisioningState"
                      }
                    },
                    "reserved": {
                      "default": false,
                      "description": "If Linux app service plan <code>true</code>, <code>false</code> otherwise.",
                      "type": "boolean",
                      "x-ms-mutability": [
                        "create",
                        "read"
                      ]
                    },
                    "resourceGroup": {
                      "description": "Resource group of the App Service plan.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "spotExpirationTime": {
                      "description": "The time when the server farm expires. Valid only if it is a spot server farm.",
                      "format": "date-time",
                      "type": "string"
                    },
                    "status": {
                      "description": "App Service plan status.",
                      "enum": [
                        "Ready",
                        "Pending",
                        "Creating"
                      ],
                      "readOnly": true,
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": false,
                        "name": "StatusOptions"
                      }
                    },
                    "subscription": {
                      "description": "App Service plan subscription.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "targetWorkerCount": {
                      "description": "Scaling worker count.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "targetWorkerSizeId": {
                      "description": "Scaling worker size ID.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "workerTierName": {
                      "description": "Target worker tier assigned to the App Service plan.",
                      "type": "string"
                    }
                  },
                  "required": [
                    "name"
                  ],
                  "x-ms-client-flatten": true
                },
                "sku": {
                  "description": "Description of a SKU for a scalable resource.",
                  "properties": {
                    "capabilities": {
                      "description": "Capabilities of the SKU, e.g., is traffic manager enabled?",
                      "items": {
                        "description": "Describes the capabilities/features allowed for a specific SKU.",
                        "properties": {
                          "name": {
                            "description": "Name of the SKU capability.",
[...]
