swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Azure management API provides a RESTful set of web services that interact with Azure Key Vault.
  title: KeyVaultManagementClient
  version: 2018-02-14-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2018-02-14-preview/providers.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: keyvault-providers
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.KeyVault/operations:
    get:
      description: Lists all of the available Key Vault Rest API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/OperationListResult"
      tags:
        - Operations
      x-ms-examples:
        Lists available Rest API operations.:
          parameters:
            api-version: 2018-02-14-preview
          responses:
            "200":
              body:
                value:
                  - display:
                      description: View the properties of a key vault
                      operation: View Key Vault
                      provider: Microsoft Key Vault
                      resource: Key Vault
                    name: Microsoft.KeyVault/vaults/read
                  - display:
                      description: Create a new key vault or update the properties of an existing key vault
                      operation: Update Key Vault
                      provider: Microsoft Key Vault
                      resource: Key Vault
                    name: Microsoft.KeyVault/vaults/write
                  - display:
                      description: Delete a key vault
                      operation: Delete Key Vault
                      provider: Microsoft Key Vault
                      resource: Key Vault
                    name: Microsoft.KeyVault/vaults/delete
                  - display:
                      description: Enables access to secrets in a key vault when deploying Azure resources
                      operation: Use Vault for Azure Deployments
                      provider: Microsoft Key Vault
                      resource: Key Vault
                    name: Microsoft.KeyVault/vaults/deploy/action
                  - display:
                      description: View the properties of a secret, but not its value
                      operation: View Secret Properties
                      provider: Microsoft Key Vault
                      resource: Secret
                    name: Microsoft.KeyVault/vaults/secrets/read
                  - display:
                      description: Create a new secret or update the value of an existing secret
                      operation: Update Secret
                      provider: Microsoft Key Vault
                      resource: Secret
                    name: Microsoft.KeyVault/vaults/secrets/write
                  - display:
                      description: Update an existing access policy by merging or replacing, or add a new access policy to a vault.
                      operation: Update Access Policy
                      provider: Microsoft Key Vault
                      resource: Access Policy
                    name: Microsoft.KeyVault/vaults/accessPolicies/write
                  - display:
                      description: Gets the available logs for a key vault
                      operation: Read log definition
                      provider: Microsoft Key Vault
                      resource: Key Vault Log Definition
                    name: Microsoft.KeyVault/vaults/providers/Microsoft.Insights/logDefinitions/read
                    origin: system
                    properties:
                      serviceSpecification:
                        logSpecifications:
                          - blobDuration: PT1H
                            displayName: Audit Logs
                            name: AuditEvent
                  - display:
                      description: Gets the diagnostic setting for the resource
                      operation: Read diagnostic setting
                      provider: Microsoft Key Vault
                      resource: Key Vault Diagnostic Settings
                    name: Microsoft.KeyVault/vaults/providers/Microsoft.Insights/diagnosticSettings/Read
                    origin: system
                  - display:
                      description: Creates or updates the diagnostic setting for the resource
                      operation: Write diagnostic setting
                      provider: Microsoft Key Vault
                      resource: Key Vault Diagnostic Settings
                    name: Microsoft.KeyVault/vaults/providers/Microsoft.Insights/diagnosticSettings/Write
                    origin: system
                  - display:
                      description: Registers a subscription
                      operation: Register Subscription
                      provider: Microsoft Key Vault
                      resource: Subscription
                    name: Microsoft.KeyVault/register/action
                  - display:
                      description: Unregisters a subscription
                      operation: Unregister Subscription
                      provider: Microsoft Key Vault
                      resource: Subscription
                    name: Microsoft.KeyVault/unregister/action
                  - display:
                      description: Lists operations available on Microsoft.KeyVault resource provider
                      operation: Available Key Vault Operations
                      provider: Microsoft Key Vault
                      resource: Operations
                    name: Microsoft.KeyVault/operations/read
                  - display:
                      description: Checks that a key vault name is valid and is not in use
                      operation: Check Name Availability
                      provider: Microsoft Key Vault
                      resource: Name Availability
                    name: Microsoft.KeyVault/checkNameAvailability/read
                  - display:
                      description: View the properties of soft deleted key vaults
                      operation: View Soft Deleted Vaults
                      provider: Microsoft Key Vault
                      resource: Soft Deleted Key Vault
                    name: Microsoft.KeyVault/deletedVaults/read
                  - display:
                      description: View the properties of a soft deleted key vault
                      operation: View Soft Deleted Key Vault
                      provider: Microsoft Key Vault
                      resource: Soft Deleted Key Vault
                    name: Microsoft.KeyVault/locations/deletedVaults/read
                  - display:
                      description: Purge a soft deleted key vault
                      operation: Purge Soft Deleted Key Vault
                      provider: Microsoft Key Vault
                      resource: Soft Deleted Key Vault
                    name: Microsoft.KeyVault/locations/deletedVaults/purge/action
                  - display:
                      description: Check the result of a long run operation
                      operation: Check Operation Result
                      provider: Microsoft Key Vault
                      resource: Long Run Operation Result
                    name: Microsoft.KeyVault/locations/operationResults/read
                  - display:
                      description: View the properties of an HSM pool
                      operation: View HSM pool
                      provider: Microsoft Key Vault
                      resource: HSM pool
                    name: Microsoft.KeyVault/hsmPools/read
                  - display:
                      description: Create a new HSM pool of update the properties of an existing HSM pool
                      operation: Create or Update HSM pool
                      provider: Microsoft Key Vault
                      resource: HSM pool
                    name: Microsoft.KeyVault/hsmPools/write
                  - display:
                      description: Delete an HSM pool
                      operation: Delete HSM pool
                      provider: Microsoft Key Vault
                      resource: HSM pool
                    name: Microsoft.KeyVault/hsmPools/delete
                  - display:
                      description: Join a key vault to an HSM pool
                      operation: Join KeyVault to HSM pool
                      provider: Microsoft Key Vault
                      resource: HSM pool
                    name: Microsoft.KeyVault/hsmPools/joinVault/action
                  - display:
                      description: Gets the available metrics for a key vault
                      operation: Read metric definition
                      provider: Microsoft Key Vault
                      resource: Key Vault Metric Definition
                    name: Microsoft.KeyVault/vaults/providers/Microsoft.Insights/metricDefinitions/read
                    origin: system
                    properties:
                      serviceSpecification: {}
                  - display:
                      description: Notifies Microsoft.KeyVault that a virtual network or subnet is being deleted
                      operation: "Modify Network ACLs containing the deleted Vitual Network or Subnet "
                      provider: Microsoft Key Vault
                      resource: Location
                    name: Microsoft.KeyVault/locations/deleteVirtualNetworkOrSubnets/action
                    origin: system
      x-ms-pageable:
        nextLinkName: nextLink
definitions:
  LogSpecification:
    description: Log specification of operation.
    properties:
      blobDuration:
        description: Blob duration of specification.
        type: string
      displayName:
        description: Display name of log specification.
        type: string
      name:
        description: Name of log specification.
        type: string
  Operation:
    description: Key Vault REST API operation definition.
    properties:
      display:
        description: Display metadata associated with the operation.
        properties:
          description:
            description: Description of operation.
            type: string
          operation:
            description: "Type of operation: get, read, delete, etc."
            type: string
          provider:
            description: "Service provider: Microsoft Key Vault."
            type: string
          resource:
            description: Resource on which the operation is performed etc.
            type: string
      name:
        description: "Operation name: {provider}/{resource}/{operation}"
        type: string
      origin:
        description: The origin of operations.
        type: string
      properties:
        $ref: "#/definitions/OperationProperties"
        description: Properties of operation, include metric specifications.
        x-ms-client-flatten: true
        x-ms-client-name: OperationProperties
    type: object
  OperationListResult:
    description: Result of the request to list Storage operations. It contains a list of operations and a URL link to get the next set of results.
    properties:
      nextLink:
        description: The URL to get the next set of operations.
        type: string
      value:
        description: List of Storage operations supported by the Storage resource provider.
        items:
          $ref: "#/definitions/Operation"
        type: array
  OperationProperties:
    description: Properties of operation, include metric specifications.
    properties:
      serviceSpecification:
        $ref: "#/definitions/ServiceSpecification"
        description: One property of operation, include metric specifications.
  ServiceSpecification:
    description: One property of operation, include log specifications.
    properties:
      logSpecifications:
        description: Log specifications of operation.
        items:
          $ref: "#/definitions/LogSpecification"
        type: array
