swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Consumption management client provides access to consumption resources for Azure Enterprise Subscriptions.
  title: ConsumptionManagementClient
  version: 2018-11-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/consumption/resource-manager/Microsoft.Consumption/preview/2018-11-01-preview/consumption.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: consumption
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: Version of the API to be used with the client request. The current version is 2018-11-01-preview.
    in: query
    name: api-version
    required: true
    type: string
  billingAccountIdParameter:
    description: BillingAccount ID
    in: path
    name: billingAccountId
    required: true
    type: string
    x-ms-parameter-location: method
  billingProfileIdParameter:
    description: Billing Profile Id.
    in: path
    name: billingProfileId
    required: true
    type: string
    x-ms-parameter-location: method
  endDateParameter:
    description: End date
    in: query
    name: endDate
    required: true
    type: string
    x-ms-parameter-location: method
  invoiceNameParameter:
    description: Invoice name.
    in: path
    name: invoiceName
    required: true
    type: string
    x-ms-parameter-location: method
  invoiceSectionIdParameter:
    description: Invoice Section Id.
    in: path
    name: invoiceSectionId
    required: true
    type: string
    x-ms-parameter-location: method
  startDateParameter:
    description: Start date
    in: query
    name: startDate
    required: true
    type: string
    x-ms-parameter-location: method
tags:
  - description: Consumption APIs for Azure Go-to-market scopes. Includes Credits, Events, Lots, Charges and Pricesheets.
    externalDocs:
      url: https://docs.microsoft.com/en-us/rest/api/consumption/
    name: GTM-Preview
paths:
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.Consumption/charges":
    get:
      description: Lists the charges by billing profile id for given start and end date. Start and end date are used to determine the billing period. For current month, the data will be provided from month to date. If there are no charges for a month then that month will show all zeroes.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: ChargesByBillingProfile_List
      parameters:
        - $ref: "#/parameters/billingAccountIdParameter"
        - $ref: "#/parameters/billingProfileIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/startDateParameter"
        - $ref: "#/parameters/endDateParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ChargesListByBillingProfile"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Charges
      x-ms-examples:
        ChargesListByBillingProfile:
          parameters:
            api-version: 2018-11-01-preview
            billingAccountId: 95b221a7-a3a2-5808-d690-659c180e8ccf
            billingProfileId: f30c32de-fba9-4cf1-a146-2ff60881e0fe
            endDate: 2019-02-28
            startDate: 2019-02-01
          responses:
            "200":
              body:
                value:
                  - id: /providers/Microsoft.Billing/billingAccounts/95b221a7-a3a2-5808-d690-659c180e8ccf/billingProfiles/f30c32de-fba9-4cf1-a146-2ff60881e0fe/providers/Microsoft.Consumption/charges/bcb1b554-985d-46e5-d9a3-92399414677e
                    name: bcb1b554-985d-46e5-d9a3-92399414677e
                    properties:
                      azureCharges:
                        currency: USD
                        value: 27000
                      billingAccountId: /providers/Microsoft.Billing/billingAccounts/95b221a7-a3a2-5808-d690-659c180e8ccf
                      billingPeriodId: /providers/Microsoft.Billing/billingAccounts/95b221a7-a3a2-5808-d690-659c180e8ccf/providers/Microsoft.Billing/billingPeriods/201902
                      billingProfileId: /providers/Microsoft.Billing/billingAccounts/95b221a7-a3a2-5808-d690-659c180e8ccf/billingProfiles/f30c32de-fba9-4cf1-a146-2ff60881e0fe
                      chargesBilledSeparately:
                        currency: USD
                        value: 4487.5
                      invoiceSectionId: null
                      marketplaceCharges:
                        currency: USD
                        value: 0
                      usageEnd: 2019-02-28
                      usageStart: 2019-02-01
                    type: Microsoft.Consumption/charges
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.Consumption/credits/balanceSummary":
    get:
      description: The credit summary by billingAccountId and billingProfileId for given start and end date.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: CreditSummaryByBillingProfile_Get
      parameters:
        - $ref: "#/parameters/billingAccountIdParameter"
        - $ref: "#/parameters/billingProfileIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/CreditSummary"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Credits
      x-ms-examples:
        CreditSummaryByBillingProfile:
          parameters:
            api-version: 2018-11-01-preview
            billingAccountId: 95b221a7-a3a2-5808-d690-659c180e8ccf
            billingProfileId: f30c32de-fba9-4cf1-a146-2ff60881e0fe
          responses:
            "200":
              body:
                id: /providers/Microsoft.Billing/billingAccounts/95b221a7-a3a2-5808-d690-659c180e8ccf/billingProfiles/f30c32de-fba9-4cf1-a146-2ff60881e0fe/providers/Microsoft.Consumption/credits/balanceSummary/436626aa-9ebd-4ef6-94e7-91bfef2f2859
                name: 436626aa-9ebd-4ef6-94e7-91bfef2f2859
                properties:
                  balanceSummary:
                    currentBalance:
                      currency: USD
                      value: 100
                    estimatedBalance:
                      currency: USD
                      value: 600
                  expiredCredit:
                    currency: USD
                    value: 0
                  pendingCreditAdjustments:
                    currency: USD
                    value: 500
                  pendingEligibleCharges:
                    currency: USD
                    value: 0
                type: Microsoft.Consumption/credits/balanceSummary
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.Consumption/events":
    get:
      description: Lists the events by billingAccountId and billingProfileId for given start and end date.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: EventsByBillingProfile_List
      parameters:
        - $ref: "#/parameters/billingAccountIdParameter"
        - $ref: "#/parameters/billingProfileIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/startDateParameter"
        - $ref: "#/parameters/endDateParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/Events"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Events
      x-ms-examples:
        EventsListByBillingProfile:
          parameters:
            api-version: 2018-11-01-preview
            billingAccountId: 95b221a7-a3a2-5808-d690-659c180e8ccf
            billingProfileId: f30c32de-fba9-4cf1-a146-2ff60881e0fe
            endDate: 2018-05-30
            startDate: 2018-04-01
          responses:
            "200":
              body:
                value:
                  - id: /providers/Microsoft.Billing/billingAccounts/95b221a7-a3a2-5808-d690-659c180e8ccf/billingProfiles/f30c32de-fba9-4cf1-a146-2ff60881e0fe/providers/Microsoft.Consumption/events/bcb1b554-985d-46e5-d9a3-92399414677e
                    name: bcb1b554-985d-46e5-d9a3-92399414677e
                    properties:
                      adjustments:
                        currency: USD
                        value: 0
                      charges:
                        currency: USD
                        value: 500
                      closedBalance:
                        currency: USD
                        value: 500
                      creditExpired:
                        currency: USD
                        value: 0
                      description: "Settled invoice #312033"
                      eventType: SettledCharges
                      invoiceNumber: "3301"
                      newCredit:
                        currency: USD
                        value: 0
                      transactionDate: 2018-01-01T00:00:00Z
                    type: Microsoft.Consumption/events
                  - id: /providers/Microsoft.Billing/billingAccounts/95b221a7-a3a2-5808-d690-659c180e8ccf/billingProfiles/f30c32de-fba9-4cf1-a146-2ff60881e0fe/providers/Microsoft.Consumption/events/6898a55b-96f2-40bb-8329-bf3b493f3d88
                    name: 6898a55b-96f2-40bb-8329-bf3b493f3d88
                    properties:
                      adjustments:
                        currency: USD
                        value: 0
                      charges:
                        currency: USD
                        value: 0
                      closedBalance:
                        currency: USD
                        value: 900
                      creditExpired:
                        currency: USD
                        value: 0
                      description: New credits added
                      eventType: NewCredit
                      invoiceNumber: "3302"
                      newCredit:
                        currency: USD
                        value: 400
                      transactionDate: 2018-02-01T00:00:00Z
                    type: Microsoft.Consumption/events
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.Consumption/lots":
    get:
      description: Lists the lots by billingAccountId and billingProfileId for given start and end date.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: LotsByBillingProfile_List
      parameters:
        - $ref: "#/parameters/billingAccountIdParameter"
        - $ref: "#/parameters/billingProfileIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/Lots"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Lots
      x-ms-examples:
        LotsListByBillingProfile:
          parameters:
            api-version: 2018-11-01-preview
            billingAccountId: 95b221a7-a3a2-5808-d690-659c180e8ccf
            billingProfileId: f30c32de-fba9-4cf1-a146-2ff60881e0fe
          responses:
            "200":
              body:
                value:
                  - id: /providers/Microsoft.Billing/billingAccounts/95b221a7-a3a2-5808-d690-659c180e8ccf/billingProfiles/f30c32de-fba9-4cf1-a146-2ff60881e0fe/providers/Microsoft.Consumption/lots/e3f15e96-afad-4940-b459-0c7ea9692efe
                    name: e3f15e96-afad-4940-b459-0c7ea9692efe
                    properties:
                      closedBalance:
                        currency: USD
                        value: 60.9
                      expirationDate: 2018-03-01T00:00:00Z
                      originalAmount:
                        currency: USD
                        value: 5000
                      poNumber: "3524"
                      source: PurchasedCredit
                      startDate: 2018-02-01T00:00:00Z
                    type: Microsoft.Consumption/lots
                  - id: /providers/Microsoft.Billing/billingAccounts/95b221a7-a3a2-5808-d690-659c180e8ccf/billingProfiles/f30c32de-fba9-4cf1-a146-2ff60881e0fe/providers/Microsoft.Consumption/lots/436626aa-9ebd-4ef6-94e7-91bfef2f2859
                    name: 436626aa-9ebd-4ef6-94e7-91bfef2f2859
                    properties:
                      closedBalance:
                        currency: USD
                        value: 80.9
                      expirationDate: 2018-12-31T00:00:00Z
                      originalAmount:
                        currency: USD
                        value: 6000
                      poNumber: "31224"
                      source: PurchasedCredit
                      startDate: 2018-04-01T00:00:00Z
                    type: Microsoft.Consumption/lots
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}/providers/Microsoft.Consumption/charges":
    get:
      description: Lists the charges by invoice section id for given start and end date. Start and end date are used to determine the billing period. For current month, the data will be provided from month to date. If there are no charges for a month then that month will show all zeroes.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: ChargesByInvoiceSection_List
      parameters:
        - $ref: "#/parameters/billingAccountIdParameter"
        - $ref: "#/parameters/invoiceSectionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/startDateParameter"
        - $ref: "#/parameters/endDateParameter"
        - description: May be used to group charges by properties/productName.
          in: query
          name: $apply
          required: false
          type: string
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ChargesListByInvoiceSection"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Charges
      x-ms-examples:
        ChargesListByInvoiceSection:
          parameters:
            api-version: 2018-11-01-preview
            billingAccountId: 95b221a7-a3a2-5808-d690-659c180e8ccf
            endDate: 2019-02-28
            invoiceSectionId: f30c32de-fba9-4cf1-a146-2ff60881e0fe
            startDate: 2019-02-01
          responses:
            "200":
              body:
                value:
                  - id: /providers/Microsoft.Billing/billingAccounts/95b221a7-a3a2-5808-d690-659c180e8ccf/invoiceSections/f30c32de-fba9-4cf1-a146-2ff60881e0fe/providers/Microsoft.Consumption/charges/bcb1b554-985d-46e5-d9a3-92399414677e
                    name: bcb1b554-985d-46e5-d9a3-92399414677e
                    properties:
                      azureCharges:
                        currency: USD
                        value: 27000
                      billingAccountId: /providers/Microsoft.Billing/billingAccounts/95b221a7-a3a2-5808-d690-659c180e8ccf
                      billingPeriodId: /providers/Microsoft.Billing/billingAccounts/95b221a7-a3a2-5808-d690-659c180e8ccf/providers/Microsoft.Billing/billingPeriods/201902
                      billingProfileId: null
                      chargesBilledSeparately:
                        currency: USD
                        value: 4487.5
                      invoiceSectionId: /providers/Microsoft.Billing/billingAccounts/95b221a7-a3a2-5808-d690-659c180e8ccf/invoiceSections/f30c32de-fba9-4cf1-a146-2ff60881e0fe
                      marketplaceCharges:
                        currency: USD
                        value: 0
                      usageEnd: 2019-02-28
                      usageStart: 2019-02-01
                    type: Microsoft.Consumption/charges
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/charges":
    get:
      description: Lists the charges by billingAccountId for given start and end date. Start and end date are used to determine the billing period. For current month, the data will be provided from month to date. If there are no charges for a month then that month will show all zeroes.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: ChargesByBillingAccount_List
      parameters:
        - $ref: "#/parameters/billingAccountIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/startDateParameter"
        - $ref: "#/parameters/endDateParameter"
        - description: May be used to group charges by properties/billingProfileId, or properties/invoiceSectionId.
          in: query
          name: $apply
          required: false
          type: string
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ChargesListByBillingAccount"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Charges
      x-ms-examples:
        ChargesListByBillingAccount:
          parameters:
            api-version: 2018-11-01-preview
            billingAccountId: 95b221a7-a3a2-5808-d690-659c180e8ccf
            endDate: 2019-02-28
            startDate: 2019-02-01
          responses:
            "200":
              body:
                value:
                  - id: /providers/Microsoft.Billing/billingAccounts/95b221a7-a3a2-5808-d690-659c180e8ccf/providers/Microsoft.Consumption/charges/bcb1b554-985d-46e5-d9a3-92399414677e
                    name: bcb1b554-985d-46e5-d9a3-92399414677e
                    properties:
                      azureCharges:
                        currency: USD
                        value: 5000
                      billingAccountId: /providers/Microsoft.Billing/billingAccounts/95b221a7-a3a2-5808-d690-659c180e8ccf
                      billingPeriodId: /providers/Microsoft.Billing/billingAccounts/bcb1b554-985d-46e5-d9a3-92399414677e/providers/Microsoft.Billing/billingPeriods/201902
                      billingProfileId: null
                      chargesBilledSeparately:
                        currency: USD
                        value: 60.9
                      invoiceSectionId: null
                      marketplaceCharges:
                        currency: USD
                        value: 100
                      usageEnd: 2019-02-28
                      usageStart: 2019-02-01
                    type: Microsoft.Consumption/charges
  "/providers/Microsoft.Consumption/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/pricesheet/default/download":
    post:
      description: Get pricesheet data for invoice id (invoiceName).
      operationId: BillingProfilePricesheet_Download
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - description: Azure Billing Account Id.
          in: path
          name: billingAccountId
          required: true
          type: string
        - description: Azure Billing Profile Id.
          in: path
          name: billingProfileId
          required: true
          type: string
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/PricesheetDownloadResponse"
        "202":
          description: Accepted.
          headers:
            Azure-AsyncOperation:
              description: To get the progress of the operation, call GET operation on the URL in Azure-AsyncOperation header field.
              type: string
            Location:
              description: GET this URL to retrieve the status of the asynchronous operation.
              type: string
            OData-EntityId:
              description: The operation entity Id GUID.
              type: string
            Retry-After:
              description: The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - pricesheets
      x-ms-examples:
        pricesheetDownload:
          parameters:
            api-version: 2018-11-01-preview
            billingAccountId: 84ae600f-763c-4a66-a8f0-4c497fc58d98
            billingProfileId: 95869cd5-6f00-42b3-8708-04e85fef9e15
          responses:
            "200":
              body:
                id: /providers/Microsoft.Consumption/billingAccounts/2909cffc-b0a2-5de1-bb7b-5d3383764184/pricesheets/default
                name: default
                properties:
                  downloadUrl: https://myaccount.blob.core.windows.net/?restype=service&comp=properties&sv=2015-04-05&ss=bf&srt=s&st=2015-04-29T22%3A18%3A26Z&se=2015-04-30T02%3A23%3A26Z&sr=b&sp=rw&sip=168.1.5.60-168.1.5.70&spr=https&sig=F%6GRVAZ5Cdj2Pw4tgU7IlSTkWgn7bUkkAg8P6HESXwmf%4B
                  expiryTime: 03/05/2019 20:13:06
                type: Microsoft.Consumption/pricesheets
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/providers/Microsoft.Billing/operationStatus/1a0a30a7-36a7-4dd6-9200-a1c23ba96151?sessiontoken=0%3A2943&api-version=2018-11-01-preview
                Location: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/2909cffc-b0a2-5de1-bb7b-5d3383764184/billingProfiles/2dcffe0c-ee92-4265-8647-515b8fe7dc78/pricesheetDownloadOperations/1a0a30a7-36a7-4dd6-9200-a1c23ba96151?sessiontoken=0%3A2943&api-version=2018-11-01-preview
                OData-EntityId: 84ae600f-763c-4a66-a8f0-4c497fc58d98
                Retry-After: "60"
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  "/providers/Microsoft.Consumption/billingAccounts/{billingAccountId}/invoices/{invoiceName}/pricesheet/default/download":
    post:
      description: Get pricesheet data for invoice id (invoiceName).
      operationId: InvoicePricesheet_Download
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - description: Azure Billing Account Id.
          in: path
          name: billingAccountId
          required: true
          type: string
        - description: The name of an invoice resource.
          in: path
          name: invoiceName
          required: true
          type: string
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/PricesheetDownloadResponse"
        "202":
          description: Accepted.
          headers:
            Azure-AsyncOperation:
              description: To get the progress of the operation, call GET operation on the URL in Azure-AsyncOperation header field.
              type: string
            Location:
              description: GET this URL to retrieve the status of the asynchronous operation.
              type: string
            OData-EntityId:
              description: The operation entity Id GUID.
              type: string
            Retry-After:
              description: The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - pricesheets
      x-ms-examples:
        pricesheetDownload:
          parameters:
            api-version: 2018-11-01-preview
            billingAccountId: 84ae600f-763c-4a66-a8f0-4c497fc58d98
            invoiceName: 95869cd5-6f00-42b3-8708-04e85fef9e15
          responses:
            "200":
              body:
                id: /providers/Microsoft.Consumption/billingAccounts/2909cffc-b0a2-5de1-bb7b-5d3383764184/pricesheets/default
                name: default
                properties:
                  downloadUrl: https://myaccount.blob.core.windows.net/?restype=service&comp=properties&sv=2015-04-05&ss=bf&srt=s&st=2015-04-29T22%3A18%3A26Z&se=2015-04-30T02%3A23%3A26Z&sr=b&sp=rw&sip=168.1.5.60-168.1.5.70&spr=https&sig=F%6GRVAZ5Cdj2Pw4tgU7IlSTkWgn7bUkkAg8P6HESXwmf%4B
                  expiryTime: 03/05/2019 20:13:06
                type: Microsoft.Consumption/pricesheets
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/providers/Microsoft.Billing/operationStatus/1a0a30a7-36a7-4dd6-9200-a1c23ba96151?sessiontoken=0%3A2943&api-version=2018-11-01-preview
                Location: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/2909cffc-b0a2-5de1-bb7b-5d3383764184/invoices/2dcffe0c-ee92-4265-8647-515b8fe7dc78/pricesheetDownloadOperations/1a0a30a7-36a7-4dd6-9200-a1c23ba96151?sessiontoken=0%3A2943&api-version=2018-11-01-preview
                OData-EntityId: 84ae600f-763c-4a66-a8f0-4c497fc58d98
                Retry-After: "60"
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  /providers/Microsoft.Consumption/operations:
    get:
      description: Lists all of the available consumption REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/OperationListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Operations
      x-ms-pageable:
        nextLinkName: nextLink
definitions:
  Address:
    description: Address details.
    properties:
      addressLine1:
        description: Address Line1.
        type: string
      addressLine2:
        description: Address Line2.
        type: string
      addressLine3:
        description: Address Line3.
        type: string
      city:
        description: Address City.
        type: string
      country:
        description: Country code uses ISO2, 2-digit format..
        type: string
      phoneNumber:
        description: Phone Number.
        type: string
      postalCode:
        description: Postal Code.
        type: string
      region:
        description: Address Region.
        type: string
  Amount:
    description: Object to represent monetary quantities.
    properties:
      currency:
        description: The currency for the amount value.
        readOnly: true
        type: string
      value:
        description: Amount value.
        readOnly: true
        type: number
  BillingAccount:
    allOf:
      - $ref: "#/definitions/Resource"
    description: A billing account resource.
    properties:
      properties:
        $ref: "#/definitions/BillingAccountProperties"
        description: A billing account.
        x-ms-client-flatten: true
    type: object
  BillingAccountProperties:
    description: The properties of the billing account.
    properties:
      accountType:
        description: The billing account Type.
        enum:
          - CommerceRoot
          - Enrollment
        readOnly: true
        type: string
      address:
        $ref: "#/definitions/Address"
        description: The address associated with billing account.
      agreements:
        description: Agreements associated with billing account
        readOnly: true
        type: string
      billingProfiles:
        description: The billing profiles associated to the billing account.
        items:
          $ref: "#/definitions/BillingProfile"
        readOnly: true
        type: array
      company:
        description: The Company this billing account belongs to.
        readOnly: true
        type: string
      country:
        description: The country associated with billing account.
        readOnly: true
        type: string
      defaultCurrency:
        description: The ISO currency, for example, USD.
        readOnly: true
        type: string
      departments:
        description: The departments associated to the enrollment.
        items:
          $ref: "#/definitions/Department"
        readOnly: true
        type: array
      enrollmentAccounts:
        description: The accounts associated to the enrollment.
        items:
          $ref: "#/definitions/EnrollmentAccount"
        readOnly: true
        type: array
      enrollmentDetails:
        $ref: "#/definitions/Enrollment"
        description: The details about the associated legacy enrollment. By default this is not populated, unless it's specified in $expand.
        readOnly: true
      invoiceSections:
        description: The invoiceSections associated to the billing account.
        items:
          $ref: "#/definitions/InvoiceSection"
        readOnly: true
        type: array
  BillingProfile:
    allOf:
      - $ref: "#/definitions/Resource"
    description: A billing profile resource.
    properties:
      properties:
        $ref: "#/definitions/BillingProfileProperties"
        description: A billing profile.
        x-ms-client-flatten: true
    type: object
  BillingProfileProperties:
    description: The properties of the billing profile.
    properties:
      billingAddress:
        $ref: "#/definitions/Address"
        description: Billing address.
      billingContact:
        description: Billing contact.
        readOnly: true
        type: string
      currency:
        description: Currency on the billing profile.
        readOnly: true
        type: string
      displayName:
        description: The billing profile name.
        type: string
      emailInvoice:
        description: Email invoice.
        readOnly: true
        type: boolean
      invoiceDay:
        description: Invoice day.
        format: date-time
        readOnly: true
        type: integer
      poNumber:
        description: Purchase order number.
        type: string
  ChargeSummaryByBillingAccount:
    allOf:
      - $ref: "#/definitions/Resource"
    description: A charge summary resource by billing account.
    properties:
      properties:
        $ref: "#/definitions/ChargeSummaryProperties"
        title: Charge summary properties
        x-ms-client-flatten: true
    type: object
  ChargeSummaryByBillingProfile:
    allOf:
      - $ref: "#/definitions/Resource"
    description: A charge summary resource by billing profile.
    properties:
      properties:
        $ref: "#/definitions/ChargeSummaryProperties"
        title: Charge summary properties
        x-ms-client-flatten: true
    type: object
  ChargeSummaryByInvoiceSection:
    allOf:
      - $ref: "#/definitions/Resource"
    description: A charge summary resource by invoiceSection.
    properties:
      properties:
        $ref: "#/definitions/ChargeSummaryProperties"
        title: Charge summary properties
        x-ms-client-flatten: true
    type: object
  ChargeSummaryProperties:
    description: The properties of the charge summary.
    properties:
      azureCharges:
        $ref: "#/definitions/Amount"
        description: Azure Charges.
        readOnly: true
      billingAccountId:
        description: The id of the billing account resource that the charge belongs to.
        readOnly: true
        type: string
      billingPeriodId:
        description: The id of the billing period resource that the usage belongs to.
        readOnly: true
        type: string
      billingProfileId:
        description: The id of the billing profile resource that the charge belongs to.
        readOnly: true
        type: string
      chargesBilledSeparately:
        $ref: "#/definitions/Amount"
        description: Charges Billed separately.
        readOnly: true
      invoiceSectionId:
        description: The id of the invoice section resource that the charge belongs to.
        readOnly: true
        type: string
      marketplaceCharges:
        $ref: "#/definitions/Amount"
        description: Marketplace Charges.
        readOnly: true
      usageEnd:
        description: Billing period end date.
        readOnly: true
        type: string
      usageStart:
        description: Billing period start date.
        readOnly: true
        type: string
  ChargesListByBillingAccount:
    description: Result of listing charge summary by billing account. It contains a list of available change summaries in reverse chronological order by billing period.
    properties:
      value:
        description: The list of charge summary by billing account.
        items:
          $ref: "#/definitions/ChargeSummaryByBillingAccount"
        readOnly: true
        type: array
  ChargesListByBillingProfile:
    description: Result of listing charge summary by billing profile. It contains a list of available change summaries in reverse chronological order by billing period.
    properties:
      value:
        description: The list of charge summary by billing profile.
        items:
          $ref: "#/definitions/ChargeSummaryByBillingProfile"
        readOnly: true
        type: array
  ChargesListByInvoiceSection:
    description: Result of listing charge summary by invoiceSection. It contains a list of available change summaries in reverse chronological order by billing period.
    properties:
      value:
        description: The list of charge summary by invoiceSection.
        items:
          $ref: "#/definitions/ChargeSummaryByInvoiceSection"
        readOnly: true
        type: array
  CreditBalanceSummary:
    description: Summary of credit balances.
    properties:
      currentBalance:
        $ref: "#/definitions/Amount"
        description: Current balance.
        readOnly: true
      estimatedBalance:
        $ref: "#/definitions/Amount"
        description: Estimated balance.
        readOnly: true
  CreditSummary:
    allOf:
      - $ref: "#/definitions/Resource"
    description: A credit summary resource.
    properties:
      properties:
        $ref: "#/definitions/CreditSummaryProperties"
        title: Credit summary properties
        x-ms-client-flatten: true
    type: object
  CreditSummaryProperties:
    description: The properties of the credit summary.
    properties:
      balanceSummary:
        $ref: "#/definitions/CreditBalanceSummary"
        description: Summary of balances associated with this credit summary.
      expiredCredit:
        $ref: "#/definitions/Amount"
        description: Expired Credit.
        readOnly: true
      pendingCreditAdjustments:
        $ref: "#/definitions/Amount"
        description: Pending Credit Adjustments.
        readOnly: true
      pendingEligibleCharges:
        $ref: "#/definitions/Amount"
        description: Pending Eligible Charges.
        readOnly: true
  Department:
    allOf:
      - $ref: "#/definitions/Resource"
    description: A department resource.
    properties:
      properties:
        $ref: "#/definitions/DepartmentProperties"
        description: A department.
        x-ms-client-flatten: true
    type: object
  DepartmentProperties:
    description: The properties of the department.
    properties:
      costCenter:
        description: The cost center name.
        type: string
      departmentName:
        description: The name for department.
        type: string
      enrollmentAccounts:
        description: Associated enrollment accounts. By default this is not populated, unless it's specified in $expand.
        items:
          $ref: "#/definitions/EnrollmentAccount"
        type: array
      status:
        description: The status for department.
        type: string
  DownloadUrl:
    description: A secure URL that can be used to download a an entity until the URL expires.
    properties:
      downloadUrl:
        description: The URL to the PDF file.
        readOnly: true
        type: string
      expiryTime:
        description: The time in UTC at which this download URL will expire.
        readOnly: true
        type: string
  Enrollment:
    description: Current entity level details
    properties:
      billingCycle:
        description: Enrollment billing cycle
        readOnly: true
        type: string
      channel:
        description: The channel for Enrollment
        readOnly: true
        type: string
      countryCode:
        description: The countryCode for Enrollment
        readOnly: true
        type: string
      currency:
        description: The currency associated with enrollment
        readOnly: true
        type: string
      endDate:
        description: Enrollment End Date
        format: date-time
        readOnly: true
        type: string
      language:
        description: The language for Enrollment
        readOnly: true
        type: string
      policies:
        $ref: "#/definitions/EnrollmentPolicies"
        description: The attributes associated with legacy enrollment.
        readOnly: true
      startDate:
        description: Enrollment Start Date
        format: date-time
        readOnly: true
        type: string
      status:
        description: Enrollment status
        readOnly: true
        type: string
  EnrollmentAccount:
    allOf:
      - $ref: "#/definitions/Resource"
    description: An account resource.
    properties:
      properties:
        $ref: "#/definitions/EnrollmentAccountProperties"
        description: An account.
        x-ms-client-flatten: true
    type: object
  EnrollmentAccountProperties:
    description: The properties of the account.
    properties:
      accountName:
        description: The account name.
        type: string
      accountOwner:
        description: The account owner
        type: string
      costCenter:
        description: The cost center name.
        type: string
      department:
        $ref: "#/definitions/Department"
        description: Associated department. By default this is not populated, unless it's specified in $expand.
      endDate:
        description: Account End Date
        format: date-time
        type: string
      startDate:
        description: Account Start Date
        format: date-time
        type: string
      status:
        description: The status for account.
        type: string
  EnrollmentPolicies:
    description: The attributes associated with legacy enrollment
    properties:
      accountOwnerViewCharges:
        description: The accountOwnerViewCharges flag for Enrollment
        readOnly: true
        type: boolean
      departmentAdminViewCharges:
        description: The departmentAdminViewCharges flag for Enrollment
        readOnly: true
        type: boolean
      marketplacesEnabled:
        description: The marketplaces flag for Enrollment
        readOnly: true
        type: boolean
      reservedInstancesEnabled:
        description: The reserved instances flag for Enrollment
        readOnly: true
        type: boolean
  ErrorDetails:
    description: The details of the error.
    properties:
      code:
        description: Error code.
        readOnly: true
        type: string
      message:
        description: Error message indicating why the operation failed.
        readOnly: true
        type: string
  ErrorResponse:
    description: Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.
    properties:
      error:
        $ref: "#/definitions/ErrorDetails"
        description: The details of the error.
    type: object
  EventProperties:
    description: The event properties.
    properties:
      adjustments:
        $ref: "#/definitions/Amount"
        description: Credit Adjustments.
        readOnly: true
      charges:
        $ref: "#/definitions/Amount"
        description: Credit Eligible Charges.
        readOnly: true
      closedBalance:
        $ref: "#/definitions/Amount"
        description: Closed Balance.
        readOnly: true
      creditExpired:
        $ref: "#/definitions/Amount"
        description: Credit Expired.
        readOnly: true
      description:
        description: Transaction description.
        readOnly: true
        type: string
      eventType:
        description: The type of event.
        enum:
          - NewCredit
          - ExpiredCredit
          - SettledCharges
        type: string
        x-ms-enum:
          modelAsString: true
          name: EventType
      invoiceNumber:
        description: Invoice Number.
        readOnly: true
        type: string
      newCredit:
        $ref: "#/definitions/Amount"
        description: New Credit.
        readOnly: true
      transactionDate:
        description: Transaction Date.
        format: date-time
        readOnly: true
        type: string
  EventSummary:
    allOf:
      - $ref: "#/definitions/Resource"
    description: An event summary resource.
    properties:
      properties:
        $ref: "#/definitions/EventProperties"
        title: Event summary properties
        x-ms-client-flatten: true
    type: object
  Events:
    description: Result of listing event summary.
    properties:
      value:
        description: The list of event summary.
        items:
          $ref: "#/definitions/EventSummary"
        readOnly: true
        type: array
  InvoiceSection:
    allOf:
      - $ref: "#/definitions/Resource"
    description: An InvoiceSection resource.
    properties:
      properties:
        $ref: "#/definitions/InvoiceSectionProperties"
        description: The InvoiceSection.
        x-ms-client-flatten: true
    type: object
  InvoiceSectionProperties:
    description: The properties of an InvoiceSection.
    properties:
      billingProfiles:
        description: The billing profiles associated to the billing account.
        items:
          $ref: "#/definitions/BillingProfile"
        type: array
      displayName:
        description: The name of the InvoiceSection.
        type: string
  LotProperties:
    description: The lot properties.
    properties:
      closedBalance:
        $ref: "#/definitions/Amount"
        description: Closed Balance.
        readOnly: true
      expirationDate:
        description: Expiration Date.
        format: date-time
        readOnly: true
        type: string
      originalAmount:
        $ref: "#/definitions/Amount"
        description: Original Amount.
        readOnly: true
      poNumber:
        description: PO Number.
        readOnly: true
        type: string
      source:
        description: Lot source.
        enum:
          - PurchasedCredit
          - PromotionalCredit
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: LotSource
      startDate:
        description: Start Date.
        format: date-time
        readOnly: true
        type: string
  LotSummary:
    allOf:
      - $ref: "#/definitions/Resource"
    description: A lot summary resource.
    properties:
      properties:
        $ref: "#/definitions/LotProperties"
        title: Lot summary properties
        x-ms-client-flatten: true
    type: object
  Lots:
    description: Result of listing lot summary.
    properties:
      value:
        description: The list of lot summary.
        items:
          $ref: "#/definitions/LotSummary"
        readOnly: true
        type: array
  Operation:
    description: A Consumption REST API operation.
    properties:
      display:
        description: The object that represents the operation.
        properties:
          operation:
            description: "Operation type: Read, write, delete, etc."
            readOnly: true
            type: string
          provider:
            description: "Service provider: Microsoft.Consumption."
            readOnly: true
            type: string
          resource:
            description: "Resource on which the operation is performed: UsageDetail, etc."
            readOnly: true
            type: string
      name:
        description: "Operation name: {provider}/{resource}/{operation}."
        readOnly: true
        type: string
    type: object
  OperationListResult:
    description: Result of listing consumption operations. It contains a list of operations and a URL link to get the next set of results.
    properties:
      nextLink:
        description: URL to get the next set of operation list results if there are any.
        readOnly: true
        type: string
      value:
        description: List of consumption operations supported by the Microsoft.Consumption resource provider.
        items:
          $ref: "#/definitions/Operation"
        readOnly: true
        type: array
  PricesheetDownloadResponse:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Download response of Pricesheets.
    properties:
      properties:
        $ref: "#/definitions/DownloadUrl"
        title: Download url properties.
        x-ms-client-flatten: true
    type: object
  ProxyResource:
    description: The Resource model definition.
    properties:
      eTag:
        description: eTag of the resource. To handle concurrent update scenario, this field will be used to determine whether the user is updating the latest version or not.
        type: string
      id:
        description: Resource Id.
        readOnly: true
        type: string
      name:
        description: Resource name.
        readOnly: true
        type: string
      type:
        description: Resource type.
        readOnly: true
        type: string
    x-ms-azure-resource: true
  Resource:
    description: The Resource model definition.
    properties:
      id:
        description: Resource Id.
        readOnly: true
        type: string
      name:
        description: Resource name.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags.
        readOnly: true
        type: object
      type:
        description: Resource type.
        readOnly: true
        type: string
    x-ms-azure-resource: true
