swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: REST APIs for Azure Active Directory Connect Health
  title: ADHybridHealthService
  version: 2014-01-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/adhybridhealthservice/resource-manager/Microsoft.ADHybridHealthService/stable/2014-01-01/ADHybridHealthService.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: adhybridhealthservice-ADHybridHealthService
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: The version of the API to be used with the client request.
    in: query
    name: api-version
    required: true
    type: string
paths:
  /providers/Microsoft.ADHybridHealthService/addsservices:
    get:
      description: Gets the details of Active Directory Domain Service, for a tenant, that are onboarded to Azure Active Directory Connect Health.
      operationId: addsServices_list
      parameters:
        - description: The service property filter to apply.
          in: query
          name: $filter
          required: false
          type: string
        - description: The service type for the services onboarded to Azure Active Directory Connect Health. Depending on whether the service is monitoring, ADFS, Sync or ADDS roles, the service type can either be AdFederationService or AadSyncService or AdDomainService.
          in: query
          name: serviceType
          required: false
          type: string
        - description: The skip count, which specifies the number of elements that can be bypassed from a sequence and then return the remaining elements.
          in: query
          name: skipCount
          required: false
          type: integer
        - description: The take count , which specifies the number of elements that can be returned from a sequence.
          in: query
          name: takeCount
          required: false
          type: integer
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: " The list of Active Directory Domain Controller services."
          schema:
            $ref: "#/definitions/Services"
      tags:
        - Adds
      x-ms-examples:
        addsServices_list:
          parameters:
            api-version: 2014-01-01
          responses:
            "200":
              body:
                continuationToken: null
                nextLink: null
                totalCount: 1
                value:
                  - activeAlerts: 0
                    additionalInformation: SampleAdditionalInformation
                    createdDate: 2017-04-07T16:03:06.9053139Z
                    customNotificationEmails:
                      - email1
                      - email2
                    disabled: false
                    displayName: sample display name
                    health: Healthy
                    id: /providers/Microsoft.ADHybridHealthService/services/GetServices/PremiumCheck
                    lastDisabled: 2017-05-07T16:03:06.9053139Z
                    lastUpdated: 2018-04-30T00:55:33.5799677Z
                    monitoringConfigurationsComputed: samplemonitoringConfig
                    monitoringConfigurationsCustomized: samplemonitoringConfig
                    notificationEmailEnabled: true
                    notificationEmailEnabledForGlobalAdmins: true
                    notificationEmails:
                      - email3
                      - email4
                    notificationEmailsEnabledForGlobalAdmins: false
                    originalDisabledState: false
                    resolvedAlerts: 0
                    serviceId: 12345678-1234-1234-1234-123456789000
                    serviceName: sampleServiceName
                    signature: SampleSignature
                    simpleProperties: null
                    tenantId: 12345678-1234-1234-1234-123456789000
                    type: AadSyncService
      x-ms-pageable:
        nextLinkName: nextLink
    post:
      description: Onboards a service for a given tenant in Azure Active Directory Connect Health.
      operationId: addsServices_add
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - description: The service object.
          in: body
          name: service
          required: true
          schema:
            $ref: "#/definitions/ServiceProperties"
      responses:
        "200":
          description: Adds the Active Directory Domain Controller Services.
          schema:
            $ref: "#/definitions/ServiceProperties"
      tags:
        - Adds
      x-ms-examples:
        addsServices_add:
          parameters:
            api-version: 2014-01-01
            service:
              activeAlerts: 0
              additionalInformation: SampleAdditionalInformation
              createdDate: 2017-04-07T16:03:06.9053139Z
              customNotificationEmails:
                - email1
                - email2
              disabled: false
              displayName: sample display name
              health: Healthy
              id: ServiceId
              lastDisabled: 2017-05-07T16:03:06.9053139Z
              lastUpdated: 2018-04-30T00:55:33.5799677Z
              monitoringConfigurationsComputed: samplemonitoringConfig
              monitoringConfigurationsCustomized: samplemonitoringConfig
              notificationEmailEnabled: true
              notificationEmailEnabledForGlobalAdmins: true
              notificationEmails:
                - email3
                - email4
              notificationEmailsEnabledForGlobalAdmins: false
              originalDisabledState: false
              resolvedAlerts: 0
              serviceId: 12345678-1234-1234-1234-123456789000
              serviceName: sampleServiceName
              signature: SampleSignature
              simpleProperties: null
              tenantId: 12345678-1234-1234-1234-123456789000
              type: AadSyncService
            serviceName: sampleServiceName
          responses:
            "200":
              body:
                activeAlerts: 0
                additionalInformation: SampleAdditionalInformation
                createdDate: 2017-04-07T16:03:06.9053139Z
                customNotificationEmails:
                  - email1
                  - email2
                disabled: false
                displayName: sample display name
                health: Healthy
                id: ServiceId
                lastDisabled: 2017-05-07T16:03:06.9053139Z
                lastUpdated: 2018-04-30T00:55:33.5799677Z
                monitoringConfigurationsComputed: samplemonitoringConfig
                monitoringConfigurationsCustomized: samplemonitoringConfig
                notificationEmailEnabled: true
                notificationEmailEnabledForGlobalAdmins: true
                notificationEmails:
                  - email3
                  - email4
                notificationEmailsEnabledForGlobalAdmins: false
                originalDisabledState: false
                resolvedAlerts: 0
                serviceId: 12345678-1234-1234-1234-123456789000
                serviceName: sampleServiceName
                signature: SampleSignature
                simpleProperties: null
                tenantId: 12345678-1234-1234-1234-123456789000
                type: AadSyncService
  /providers/Microsoft.ADHybridHealthService/addsservices/premiumCheck:
    get:
      description: Gets the details of Active Directory Domain Services for a tenant having Azure AD Premium license and is onboarded to Azure Active Directory Connect Health.
      operationId: addsServices_listPremiumServices
      parameters:
        - description: The service property filter to apply.
          in: query
          name: $filter
          required: false
          type: string
        - description: The service type for the services onboarded to Azure Active Directory Connect Health. Depending on whether the service is monitoring, ADFS, Sync or ADDS roles, the service type can either be AdFederationService or AadSyncService or AdDomainService.
          in: query
          name: serviceType
          required: false
          type: string
        - description: The skip count, which specifies the number of elements that can be bypassed from a sequence and then return the remaining elements.
          in: query
          name: skipCount
          required: false
          type: integer
        - description: The take count , which specifies the number of elements that can be returned from a sequence.
          in: query
          name: takeCount
          required: false
          type: integer
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The list of premium services.
          schema:
            $ref: "#/definitions/Services"
      tags:
        - Services
      x-ms-examples:
        addsServices_listPremiumServices:
          parameters:
            api-version: 2014-01-01
          responses:
            "200":
              body:
                continuationToken: null
                nextLink: null
                totalCount: 1
                value:
                  - activeAlerts: 0
                    additionalInformation: SampleAdditionalInformation
                    createdDate: 2017-04-07T16:03:06.9053139Z
                    customNotificationEmails:
                      - email1
                      - email2
                    disabled: false
                    displayName: sample display name
                    health: Healthy
                    id: /providers/Microsoft.ADHybridHealthService/services/GetServices/PremiumCheck
                    lastDisabled: 2017-05-07T16:03:06.9053139Z
                    lastUpdated: 2018-04-30T00:55:33.5799677Z
                    monitoringConfigurationsComputed: samplemonitoringConfig
                    monitoringConfigurationsCustomized: samplemonitoringConfig
                    notificationEmailEnabled: true
                    notificationEmailEnabledForGlobalAdmins: true
                    notificationEmails:
                      - email3
                      - email4
                    notificationEmailsEnabledForGlobalAdmins: false
                    originalDisabledState: false
                    resolvedAlerts: 0
                    serviceId: 12345678-1234-1234-1234-123456789000
                    serviceName: sampleServiceName
                    signature: SampleSignature
                    simpleProperties: null
                    tenantId: 12345678-1234-1234-1234-123456789000
                    type: AadSyncService
      x-ms-pageable:
        nextLinkName: nextLink
  "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}":
    delete:
      description: Deletes an Active Directory Domain Service which is onboarded to Azure Active Directory Connect Health.
      operationId: addsServices_delete
      parameters:
        - description: The name of the service which needs to be deleted.
          in: path
          name: serviceName
          required: true
          type: string
        - description: Indicates if the service will be permanently deleted or disabled. True indicates that the service will be permanently deleted and False indicates that the service will be marked disabled and then deleted after 30 days, if it is not re-registered.
          in: query
          name: confirm
          required: false
          type: boolean
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "204":
          description: Successfully deleted the service.
      tags:
        - Services
      x-ms-examples:
        addsServices_delete:
          parameters:
            api-version: 2014-01-01
            serviceName: SampleServiceName
          responses:
            "204": {}
    get:
      description: Gets the details of an Active Directory Domain Service for a tenant having Azure AD Premium license and is onboarded to Azure Active Directory Connect Health.
      operationId: addsServices_get
      parameters:
        - description: The name of the service.
          in: path
          name: serviceName
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: "The Active Directory Domain Controller service as specified by the serviceName property. "
          schema:
            $ref: "#/definitions/ServiceProperties"
      tags:
        - Services
      x-ms-examples:
        addsServices_get:
          parameters:
            api-version: 2014-01-01
            serviceName: sampleServiceName
          responses:
            "200":
              body:
                activeAlerts: 0
                additionalInformation: SampleAdditionalInformation
                createdDate: 2017-04-07T16:03:06.9053139Z
                customNotificationEmails:
                  - email1
                  - email2
                disabled: false
                displayName: sample display name
                health: Healthy
                id: ServiceId
                lastDisabled: 2017-05-07T16:03:06.9053139Z
                lastUpdated: 2018-04-30T00:55:33.5799677Z
                monitoringConfigurationsComputed: samplemonitoringConfig
                monitoringConfigurationsCustomized: samplemonitoringConfig
                notificationEmailEnabled: true
                notificationEmailEnabledForGlobalAdmins: true
                notificationEmails:
                  - email3
                  - email4
                notificationEmailsEnabledForGlobalAdmins: false
                originalDisabledState: false
                resolvedAlerts: 0
                serviceId: 12345678-1234-1234-1234-123456789000
                serviceName: sampleServiceName
                signature: SampleSignature
                simpleProperties: null
                tenantId: 12345678-1234-1234-1234-123456789000
                type: AadSyncService
    patch:
      description: Updates an Active Directory Domain Service properties of an onboarded service.
      operationId: addsServices_update
      parameters:
        - description: The name of the service which needs to be deleted.
          in: path
          name: serviceName
          required: true
          type: string
        - description: The service object.
          in: body
          name: service
          required: true
          schema:
            $ref: "#/definitions/ServiceProperties"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: Successfully updated service.
          schema:
            $ref: "#/definitions/ServiceProperties"
      tags:
        - Services
      x-ms-examples:
        addsServices_update:
          parameters:
            api-version: 2014-01-01
            service:
              notificationEmailEnabled: true
              notificationEmailEnabledForGlobalAdmins: true
            serviceName: sampleServiceName
          responses:
            "200":
              body:
                activeAlerts: 0
                additionalInformation: SampleAdditionalInformation
                createdDate: 2017-04-07T16:03:06.9053139Z
                customNotificationEmails:
                  - email1
                  - email2
                disabled: false
                displayName: sample display name
                health: Healthy
                id: /providers/Microsoft.ADHybridHealthService/services/GetServices/PremiumCheck/sampleServiceName
                lastDisabled: 2017-05-07T16:03:06.9053139Z
                lastUpdated: 2018-04-30T00:55:33.5799677Z
                monitoringConfigurationsComputed: samplemonitoringConfig
                monitoringConfigurationsCustomized: samplemonitoringConfig
                notificationEmailEnabled: true
                notificationEmailEnabledForGlobalAdmins: true
                notificationEmails:
                  - email3
                  - email4
                notificationEmailsEnabledForGlobalAdmins: false
                originalDisabledState: false
                resolvedAlerts: 0
                serviceId: 12345678-1234-1234-1234-123456789000
                serviceName: sampleServiceName
                signature: SampleSignature
                simpleProperties: null
                tenantId: 12345678-1234-1234-1234-123456789000
                type: AadSyncService
  "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/addomainservicemembers":
    get:
      description: Gets the details of the servers, for a given Active Directory Domain Service, that are onboarded to Azure Active Directory Connect Health.
      operationId: adDomainServiceMembers_list
      parameters:
        - description: The name of the service.
          in: path
          name: serviceName
          required: true
          type: string
        - description: The server property filter to apply.
          in: query
          name: $filter
          required: false
          type: string
        - description: Indicates if the result should be grouped by site or not.
          in: query
          name: isGroupbySite
          required: true
          type: boolean
        - description: The custom query.
          in: query
          name: query
          required: false
          type: string
        - description: The next partition key to query for.
          enum:
            - " "
          in: query
          name: nextPartitionKey
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: nextPartitionKey
        - description: The next row key to query for.
          enum:
            - " "
          in: query
          name: nextRowKey
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: nextRowKey
        - description: The take count , which specifies the number of elements that can be returned from a sequence.
          in: query
          name: takeCount
          required: false
          type: integer
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The list of Active Directory Domain Servers.
          schema:
            $ref: "#/definitions/AddsServiceMembers"
      tags:
        - Adds
      x-ms-examples:
        adDomainServiceMembers_list:
          parameters:
            api-version: 2014-01-01
            isGroupbySite: true
            nextPartitionKey: " "
            nextRowKey: " "
            serviceName: sampleServiceName
            takeCount: 1
          responses:
            "200":
              body:
                continuationToken: null
                nextLink: null
                totalCount: 0
                value:
                  - activeAlerts: 0
                    additionalInformation: SampleAdditionalInformation
                    addsRoles:
                      - sampleRole
                    createdDate: 2018-04-28T23:17:00.511864Z
                    dcTypes:
                      - GC
                    dimensions:
                      - key: key1
                        value: value1
                    disabled: false
                    disabledReason: 0
                    domainName: sampleDomainName
                    gcReachable: true
                    installedQfes:
                      - installedDate: 2016-11-06T04:00:00Z
                        kbName: KB3019978
                        link: SampleLink
                    isAdvertising: true
                    lastDisabled: 2018-04-28T23:17:00.511864Z
                    lastReboot: 2018-04-28T23:17:00.511864Z
                    lastServerReportedMonitoringLevelChange: 2018-04-30T18:00:41.6956022Z
                    lastUpdated: 2018-04-30T18:00:41.6956022Z
                    machineId: machineIdGuid
                    machineName: sampleMachineName
                    monitoringConfigurationsComputed:
                      - key: key1
                        value: value1
                    monitoringConfigurationsCustomized:
                      - key: key1
                        value: value1
                    osName: osName
                    osVersion: osVersion
                    pdcReachable: true
                    properties:
                      - key: key1
                        value: value1
                    recommendedQfes:
                      - installedDate: 2016-11-06T04:00:00Z
                        kbName: KB3019978
                        link: SampleLink
                    resolvedAlerts: 0
                    role: SampleRole
                    serverReportedMonitoringLevel: Off
                    serviceId: serviceIdGuid
                    serviceMemberId: ServiceMemberIdGuid
                    siteName: Default-First-Site-Name
                    status: Healthy
                    sysvolState: true
                    tenantId: 00000000-0000-0000-0000-000000000000
      x-ms-pageable:
        nextLinkName: nextLink
  "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/addsservicemembers":
    get:
      description: Gets the details of the Active Directory Domain servers, for a given Active Directory Domain Service, that are onboarded to Azure Active Directory Connect Health.
      operationId: addsServiceMembers_list
      parameters:
        - description: The name of the service.
          in: path
          name: serviceName
          required: true
          type: string
        - description: The server property filter to apply.
          in: query
          name: $filter
          required: false
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: "The list of Active Directory Domain Servers. "
          schema:
            $ref: "#/definitions/AddsServiceMembers"
      tags:
        - Adds
      x-ms-examples:
        addsServiceMembers_list:
          parameters:
            api-version: 2014-01-01
            serviceName: sampleServiceName
          responses:
            "200":
              body:
                continuationToken: null
                nextLink: null
                totalCount: 0
                value:
                  - activeAlerts: 0
                    additionalInformation: SampleAdditionalInformation
                    addsRoles:
                      - sampleRole
                    createdDate: 2018-04-28T11:33:07.484Z
                    dcTypes:
                      - GC
                    dimensions:
                      - key: key1
                        value: value1
                    disabled: false
                    disabledReason: 0
                    domainName: sampleDomainName
                    gcReachable: true
                    installedQfes:
                      - installedDate: 2016-11-06T04:00:00Z
                        kbName: KB3019978
                        link: SampleLink
                    isAdvertising: true
                    lastDisabled: 2018-04-28T23:17:00.511864Z
                    lastReboot: 2018-04-28T23:17:00.511864Z
                    lastServerReportedMonitoringLevelChange: 2018-04-30T18:00:41.6956022Z
                    lastUpdated: 2018-04-30T18:00:41.6956022Z
                    machineId: machineIdGuid
                    machineName: sampleMachineName
                    monitoringConfigurationsComputed:
                      - key: key1
                        value: value1
                    monitoringConfigurationsCustomized:
                      - key: key1
                        value: value1
                    osName: osName
                    osVersion: osVersion
                    pdcReachable: true
                    properties:
                      - key: key1
                        value: value1
                    recommendedQfes:
                      - installedDate: 2016-11-06T04:00:00Z
                        kbName: KB3019978
                        link: SampleLink
                    resolvedAlerts: 0
                    role: SampleRole
                    serverReportedMonitoringLevel: Off
                    serviceId: serviceIdGuid
                    serviceMemberId: ServiceMemberIdGuid
                    siteName: Default-First-Site-Name
                    status: Healthy
                    sysvolState: true
                    tenantId: 00000000-0000-0000-0000-000000000000
      x-ms-pageable:
        nextLinkName: nextLink
  "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/alerts":
    get:
      description: Gets the alerts for a given Active Directory Domain Service.
      operationId: alerts_listAddsAlerts
      parameters:
        - description: The name of the service.
          in: path
          name: serviceName
          required: true
          type: string
        - description: The alert property filter to apply.
          in: query
          name: $filter
          required: false
          type: string
        - description: The alert state to query for.
          in: query
          name: state
          required: false
          type: string
        - description: The start date to query for.
          format: date-time
          in: query
          name: from
          required: false
          type: string
        - description: The end date till when to query for.
          format: date-time
          in: query
          name: to
          required: false
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The list of alerts for the given service.
          schema:
            $ref: "#/definitions/Alerts"
      tags:
        - Adds
      x-ms-examples:
        alerts_listAddsAlerts:
          parameters:
            api-version: 2014-01-01
            serviceName: sampleServiceName
            state: Active
          responses:
            "200":
              body:
                continuationToken: null
                nextLink: null
                totalCount: 0
                value:
                  - activeAlertProperties:
                      - key: ActiveProperty1
                        value: Value1
                    additionalInformation:
                      - hasProperties: true
                        properties:
                          - key: Property1
                            value: Value1
                          - key: Property2
                            value: Value2
                        titleName: SampleAdditionalInfo
                        titleValue: SampleTitle
                    alertId: SampleAlertId
                    createdDate: 2018-04-10T03:12:23.4408944Z
                    description: SampleAlertDescription
                    displayName: SampleAlertDisplayName
                    lastUpdated: 2018-04-30T19:24:42.1946017Z
                    level: Error
                    monitorRoleType: SampleRole
                    relatedLinks:
                      - title: SampleTitle1
                        url: SampleUrl1
                      - title: SampleTilte2
                        url: SampleUrl2
                    remediation: SampleAlertRemediation
                    resolvedAlertProperties:
                      - key: ResolvedProperty1
                        value: Value1
                    resolvedDate: 2018-04-10T03:12:23.4408944Z
                    scope: SampleScope
                    serviceId: SampleServiceId
                    serviceMemberId: SampleServiceMemberId
                    shortName: SampleAlertName
                    state: Active
                    tenantId: SampleTenantId
      x-ms-pageable:
        nextLinkName: nextLink
  "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/configuration":
    get:
      description: Gets the service configurations.
      operationId: configuration_listAddsConfigurations
      parameters:
        - description: The name of the service.
          in: path
          name: serviceName
          required: true
          type: string
        - description: The grouping for configurations.
          in: query
          name: grouping
          required: false
          type: string
      responses:
        "200":
          description: "The Active Directory Domain Controller service configuration. "
          schema:
            $ref: "#/definitions/AddsConfiguration"
      tags:
        - Adds
      x-ms-examples:
        configuration_listAddsConfigurations:
          parameters:
            api-version: 2014-01-01
            serviceName: SampleServiceName
          responses:
            "200":
              body:
                continuationToken: null
                nextLink: null
                totalCount: 1
                value:
                  - key: Forest name
                    value: SampleForestName
                  - key: Functional Level
                    value: Sample Functional Level.
      x-ms-pageable:
        nextLinkName: nextLink
  "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/dimensions/{dimension}":
    get:
      description: Gets the dimensions for a given dimension type in a server.
      operationId: dimensions_listAddsDimensions
      parameters:
        - description: The name of the service.
          in: path
          name: serviceName
          required: true
          type: string
        - description: The dimension type.
          in: path
          name: dimension
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: "The list of dimensions for a server. "
          schema:
            $ref: "#/definitions/Dimensions"
      tags:
        - Adds
      x-ms-examples:
        dimensions_listAddsDimensions:
          parameters:
            api-version: 2014-01-01
            dimension: SmapleDimension
            serviceName: sampleServiceName
          responses:
            "200":
              body:
                continuationToken: null
                nextLink: null
                totalCount: 0
                value:
                  - activeAlerts: 0
                    additionalInformation: AdditionInformation1
                    displayName: sampleDisplayName
                    health: Healthy
                    lastUpdated: 2018-04-09T23:55:51.0067357Z
                    resolvedAlerts: 0
                    signature: sampleSignature
                    simpleProperties:
                      - key: Domain Functional Level
                        value: Value1
                      - key: Forest
                        value: Value1
                      - key: Infrastructure Master
                        value: Value1
                      - key: PDC
                        value: Value1
                      - key: RID Master
                        value: Value1
                    type: addsdomain
      x-ms-pageable:
        nextLinkName: nextLink
  "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/features/{featureName}/userpreference":
    delete:
      description: Deletes the user preferences for a given feature.
      operationId: addsServicesUserPreference_delete
      parameters:
        - description: The name of the service.
          in: path
          name: serviceName
          required: true
          type: string
        - description: The name of the feature.
          in: path
          name: featureName
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: "Successfully deleted the user preference settings. "
      tags:
        - Adds
      x-ms-examples:
        addsServicesUserPreference_delete:
          parameters:
            api-version: 2014-01-01
            featureName: SampleFeatureName
            serviceName: sampleServiceName
          responses:
            "200": {}
    get:
      description: Gets the user preferences for a given feature.
      operationId: addsServicesUserPreference_get
      parameters:
        - description: The name of the service.
          in: path
          name: serviceName
          required: true
          type: string
        - description: The name of the feature.
          in: path
          name: featureName
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: "The user preference settings. "
          schema:
            $ref: "#/definitions/UserPreference"
      tags:
        - Adds
      x-ms-examples:
        addsServicesUserPreference_get:
          parameters:
            api-version: 2014-01-01
            featureName: SampleFeatureName
            serviceName: sampleServiceName
          responses:
            "200":
              body:
                metricNames:
                  - UserPreference1
                  - UserPreference2
    post:
      description: Adds the user preferences for a given feature.
      operationId: addsServicesUserPreference_add
      parameters:
        - description: The name of the service.
          in: path
          name: serviceName
          required: true
          type: string
        - description: The name of the feature.
          in: path
          name: featureName
          required: true
          type: string
        - description: The user preference setting.
          in: body
          name: setting
          required: true
          schema:
            $ref: "#/definitions/UserPreference"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: " Successfully added the user preference settings. "
      tags:
        - Adds
      x-ms-examples:
        addsServicesUserPreference_add:
          parameters:
            api-version: 2014-01-01
            featureName: SampleFeatureName
            serviceName: sampleServiceName
            setting:
              metricNames:
                - UserPreference1
                - UserPreference2
          responses:
            "200": {}
  "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/forestsummary":
    get:
      description: Gets the forest summary for a given Active Directory Domain Service, that is onboarded to Azure Active Directory Connect Health.
      operationId: addsServices_getForestSummary
      parameters:
        - description: The name of the service.
          in: path
          name: serviceName
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: "The list of forest summary for the service. "
          schema:
            $ref: "#/definitions/ForestSummary"
      tags:
        - Adds
      x-ms-examples:
        addsServices_getForestSummary:
          parameters:
            api-version: 2014-01-01
            serviceName: sampleServiceName
          responses:
            "200":
              body:
                domainCount: 1
                domains:
                  - sampledomain
                forestName: sampleForestName
                monitoredDcCount: 1
                siteCount: 1
                sites:
                  - Default-First-Site-Name
                totalDcCount: 1
  "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/metricmetadata":
    get:
      description: Gets the service related metrics information.
      operationId: addsServices_listMetricMetadata
      parameters:
        - description: The metric metadata property filter to apply.
          in: query
          name: $filter
          required: false
          type: string
        - description: The name of the service.
          in: path
          name: serviceName
          required: true
          type: string
        - description: Indicates if only performance counter metrics are requested.
          in: query
          name: perfCounter
          required: false
          type: boolean
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: "The list of metric metadata for a service. "
          schema:
            $ref: "#/definitions/MetricMetadataList"
      tags:
        - Adds
      x-ms-examples:
        addsServices_listMetricMetadata:
          parameters:
            api-version: 2014-01-01
            serviceName: SampleName
          responses:
            "200":
              body:
                continuationToken: null
                nextLink: null
                totalCount: 0
                value:
                  - displayName: SampleDisplayName
                    groupings:
                      - displayName: SampleDisplayName
                        invisibleForUi: false
                        key: SampleKey
                    isDefault: false
                    isDevOps: false
                    isPerfCounter: false
                    kind: Line
                    maxValue: 0
                    metricName: SampleMetricName
                    metricsProcessorClassName: SampleMetricsProcessorClassName1
                    minValue: 0
                    valueKind: Value
      x-ms-pageable:
        nextLinkName: nextLink
  "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/metricmetadata/{metricName}":
    get:
      description: Gets the service related metric information.
      operationId: addsServices_getMetricMetadata
      parameters:
        - description: The name of the service.
          in: path
          name: serviceName
          required: true
          type: string
        - description: The metric name
          in: path
          name: metricName
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: " The metric metadata for the service."
          schema:
            $ref: "#/definitions/MetricMetadata"
      tags:
        - Adds
      x-ms-examples:
        addsServices_getMetricMetadata:
          parameters:
            api-version: 2014-01-01
            metricName: SampleMetricName
            serviceName: SampleName
          responses:
            "200":
              body:
                displayName: SampleDisplayName
                groupings:
                  - displayName: SampleDisplayName
                    invisibleForUi: false
                    key: SampleKey
                isDefault: false
                isDevOps: false
                isPerfCounter: false
                kind: Line
                maxValue: 0
                metricName: SampleMetricName
                metricsProcessorClassName: SampleMetricsProcessorClassName1
                minValue: 0
                valueKind: Value
  "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/metricmetadata/{metricName}/groups/{groupName}":
    get:
      description: Gets the service related metrics for a given metric and group combination.
      operationId: addsServices_getMetricMetadataForGroup
      parameters:
        - description: The name of the service.
          in: path
          name: serviceName
          required: true
          type: string
        - description: The metric name
          in: path
          name: metricName
          required: true
          type: string
        - description: The group name
          in: path
          name: groupName
          required: true
          type: string
        - description: The group key
          in: query
          name: groupKey
          required: false
          type: string
        - description: The start date.
          format: date-time
          in: query
          name: fromDate
          required: false
          type: string
        - description: The end date.
          format: date-time
          in: query
          name: toDate
          required: false
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: "The metric sets for a given service and group. "
          schema:
            $ref: "#/definitions/MetricSets"
      tags:
        - Adds
      x-ms-examples:
        addsServices_getMetricMetadataForGroup:
          parameters:
            api-version: 2014-01-01
            groupName: SampleGroupName
            metricName: SamplemetricName
            serviceName: SampleName
          responses:
            "200":
              body:
                sets:
                  - setName: SampleSetName
                    values:
                      - null
                      - null
                      - null
                      - null
                      - null
                      - null
                      - null
                      - null
                      - null
                      - null
                      - 5
                      - 8
                      - 3
                      - 3
                      - 12
                      - 7
                      - 7
                      - 10
                      - null
                      - 1
                      - 1
                      - 2
                      - 2
                      - null
                timeStamps:
                  - 2018-04-29T22:00:00Z
                  - 2018-04-29T23:00:00Z
                  - 2018-04-30T00:00:00Z
                  - 2018-04-30T01:00:00Z
                  - 2018-04-30T02:00:00Z
                  - 2018-04-30T03:00:00Z
                  - 2018-04-30T04:00:00Z
                  - 2018-04-30T05:00:00Z
                  - 2018-04-30T06:00:00Z
                  - 2018-04-30T07:00:00Z
                  - 2018-04-30T08:00:00Z
                  - 2018-04-30T09:00:00Z
                  - 2018-04-30T10:00:00Z
                  - 2018-04-30T11:00:00Z
                  - 2018-04-30T12:00:00Z
                  - 2018-04-30T13:00:00Z
                  - 2018-04-30T14:00:00Z
                  - 2018-04-30T15:00:00Z
                  - 2018-04-30T16:00:00Z
                  - 2018-04-30T17:00:00Z
                  - 2018-04-30T18:00:00Z
                  - 2018-04-30T19:00:00Z
                  - 2018-04-30T20:00:00Z
                  - 2018-04-30T21:00:00Z
  "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/metrics/{metricName}/groups/{groupName}":
    get:
      description: Gets the server related metrics for a given metric and group combination.
      operationId: addsService_getMetrics
      parameters:
        - description: The name of the service.
          in: path
          name: serviceName
          required: true
          type: string
        - description: The metric name
          in: path
          name: metricName
          required: true
          type: string
        - description: The group name
          in: path
          name: groupName
          required: true
          type: string
        - description: The group key
          in: query
          name: groupKey
          required: false
          type: string
        - description: The start date.
          format: date-time
          in: query
          name: fromDate
          required: false
          type: string
        - description: The end date.
          format: date-time
          in: query
          name: toDate
          required: false
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: "The metric sets for the service. "
          schema:
            $ref: "#/definitions/MetricSets"
      tags:
        - Adds
      x-ms-examples:
        addsService_getMetrics:
          parameters:
            api-version: 2014-01-01
            groupName: SampleGroupName
            metricName: SamplemetricName
            serviceMemberId: SampleServiceMemberId
            serviceName: SampleName
          responses:
            "200":
              body:
                sets:
                  - setName: SampleSetName
                    values:
                      - null
                      - null
                      - null
                      - null
                      - null
                      - null
                      - null
                      - null
                      - null
                      - null
                      - 5
                      - 8
                      - 3
                      - 3
                      - 12
                      - 7
                      - 7
                      - 10
                      - null
                      - 1
                      - 1
                      - 2
                      - 2
                      - null
                timeStamps:
                  - 2018-04-29T22:00:00Z
                  - 2018-04-29T23:00:00Z
                  - 2018-04-30T00:00:00Z
                  - 2018-04-30T01:00:00Z
                  - 2018-04-30T02:00:00Z
                  - 2018-04-30T03:00:00Z
                  - 2018-04-30T04:00:00Z
                  - 2018-04-30T05:00:00Z
                  - 2018-04-30T06:00:00Z
                  - 2018-04-30T07:00:00Z
                  - 2018-04-30T08:00:00Z
                  - 2018-04-30T09:00:00Z
                  - 2018-04-30T10:00:00Z
                  - 2018-04-30T11:00:00Z
                  - 2018-04-30T12:00:00Z
                  - 2018-04-30T13:00:00Z
                  - 2018-04-30T14:00:00Z
                  - 2018-04-30T15:00:00Z
                  - 2018-04-30T16:00:00Z
                  - 2018-04-30T17:00:00Z
                  - 2018-04-30T18:00:00Z
                  - 2018-04-30T19:00:00Z
                  - 2018-04-30T20:00:00Z
                  - 2018-04-30T21:00:00Z
  "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/metrics/{metricName}/groups/{groupName}/average":
    get:
      description: Gets the average of the metric values for a given metric and group combination.
      operationId: addsServices_listMetricsAverage
      parameters:
        - description: The name of the service.
          in: path
          name: serviceName
          required: true
          type: string
        - description: The metric name
          in: path
          name: metricName
          required: true
          type: string
        - description: The group name
          in: path
          name: groupName
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: "The list of metrics. "
          schema:
            $ref: "#/definitions/Metrics"
      tags:
        - Adds
      x-ms-examples:
        addsServices_listMetricsAverage:
          parameters:
            api-version: 2014-01-01
            groupName: SampleGroupName
            metricName: SampleMetricName
            metricsName: SampleMetricName
            serviceName: SampleName
          responses:
            "200":
              body:
                continuationToken: null
                nextLink: null
                totalCount: 0
                value:
                  - key: Key1
                    value: Value1
                  - key: Key2
                    value: Value2
      x-ms-pageable:
        nextLinkName: nextLink
  "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/metrics/{metricName}/groups/{groupName}/sum":
    get:
      description: Gets the sum of the metric values for a given metric and group combination.
      operationId: addsServices_listMetricsSum
      parameters:
        - description: The name of the service.
          in: path
          name: serviceName
          required: true
          type: string
        - description: The metric name
          in: path
          name: metricName
          required: true
          type: string
        - description: The group name
          in: path
          name: groupName
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: "The list of aum of the metric values for a given service. "
          schema:
            $ref: "#/definitions/Metrics"
      tags:
        - Adds
      x-ms-examples:
        addsServices_listMetricsSum:
          parameters:
            api-version: 2014-01-01
            groupName: SampleGroupName
            metricName: SampleMetricName
            metricsName: SampleMetricName
            serviceName: SampleName
          responses:
            "200":
              body:
                continuationToken: null
                nextLink: null
                totalCount: 0
                value:
                  - key: Key1
                    value: Value1
                  - key: Key2
                    value: Value2
      x-ms-pageable:
        nextLinkName: nextLink
  "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/replicationdetails":
    get:
      description: Gets complete domain controller list along with replication details for a given Active Directory Domain Service, that is onboarded to Azure Active Directory Connect Health.
      operationId: addsServices_listReplicationDetails
      parameters:
        - description: The name of the service.
          in: path
          name: serviceName
          required: true
          type: string
        - description: The server property filter to apply.
          in: query
          name: $filter
          required: false
          type: string
        - description: Indicates if InboundReplicationNeighbor details are required or not.
          in: query
          name: withDetails
          required: false
          type: boolean
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: "The list of replication details for a service. "
          schema:
            $ref: "#/definitions/ReplicationDetailsList"
      tags:
        - Adds
      x-ms-examples:
        addsServices_listReplicationDetails:
          parameters:
            api-version: 2014-01-01
            query: SampleQuery
            serviceName: SampleName
          responses:
            "200":
              body:
                continuationToken: null
                nextLink: null
                totalCount: 1
                value:
                  - domain: SampleDomainName
                    inboundNeighborCollection:
                      - additionalInfo: SampleAdditionalInformation
                        consecutiveFailureCount: 0
                        errorDescription: SampleErrorDescription
                        errorTitle: SampleErrorTitle
                        fixDetails: SampleFixDescription
                        fixLink: SampleFixLink
                        lastAttemptedSync: 2018-04-30T21:39:45+00:00
                        lastErrorCode: 0
                        lastErrorMessage: "The operation completed successfully.\r\n"
                        lastSuccessfulSync: 2018-04-30T21:39:45+00:00
                        namingContext: SampleNamingContext
                        sourceDomainController: SampleSourceDomainName
                        status: 0
                    lastAttemptedSync: 2018-04-30T21:40:10Z
                    lastSuccessfulSync: 2018-04-30T21:40:10Z
                    site: Domain-Controllers
                    status: 0
                    targetServer: SampleTargetServerName
      x-ms-pageable:
        nextLinkName: null
  "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/replicationstatus":
    get:
      description: Gets Replication status for a given Active Directory Domain Service, that is onboarded to Azure Active Directory Connect Health.
      operationId: addsServicesReplicationStatus_get
      parameters:
        - description: The name of the service.
          in: path
          name: serviceName
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: "The replication status for a service. "
          schema:
            $ref: "#/definitions/ReplicationStatus"
      tags:
        - Adds
      x-ms-examples:
        addsServicesReplicationStatus_get:
          parameters:
            api-version: 2014-01-01
            serviceName: SampleName
          responses:
            "200":
              body:
                errorDcCount: 0
                forestName: SampleForestName
                totalDcCount: 6
  "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/replicationsummary":
    get:
      description: Gets complete domain controller list along with replication details for a given Active Directory Domain Service, that is onboarded to Azure Active Directory Connect Health.
      operationId: addsServices_listReplicationSummary
      parameters:
        - description: The name of the service.
          in: path
          name: serviceName
          required: true
          type: string
        - description: The server property filter to apply.
          in: query
          name: $filter
          required: false
          type: string
        - description: Indicates if the result should be grouped by site or not.
          in: query
          name: isGroupbySite
          required: true
          type: boolean
        - description: The custom query.
          in: query
          name: query
          required: true
          type: string
        - description: The next partition key to query for.
          enum:
            - " "
          in: query
          name: nextPartitionKey
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: nextPartitionKey
        - description: The next row key to query for.
          enum:
            - " "
          in: query
          name: nextRowKey
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: nextRowKey
        - description: The take count , which specifies the number of elements that can be returned from a sequence.
          in: query
          name: takeCount
          required: false
          type: integer
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: "The list of replication summary for a service. "
          schema:
            $ref: "#/definitions/ReplicationSummaryList"
      tags:
        - Adds
      x-ms-examples:
        addsServices_listReplicationSummary:
          parameters:
            api-version: 2014-01-01
            isGroupbySite: true
            nextPartitionKey: " "
            nextRowKey: " "
            query: SampleQuery
            serviceName: SampleName
          responses:
            "200":
              body:
                value:
                  - domain: SampleDomainName
                    inboundNeighborCollection:
                      - additionalInfo: SampleAdditionalInformation
                        consecutiveFailureCount: 0
                        errorDescription: SampleErrorDescription
                        errorTitle: SampleErrorTitle
                        fixDetails: SampleFixDescription
                        fixLink: SampleFixLink
                        lastAttemptedSync: 2018-04-30T21:39:45+00:00
                        lastErrorCode: 0
                        lastErrorMessage: "The operation completed successfully.\r\n"
                        lastSuccessfulSync: 2018-04-30T21:39:45+00:00
                        namingContext: SampleNamingContext
                        sourceDomainController: SampleSourceDomainName
                        status: 0
                    lastAttemptedSync: 2018-04-30T21:40:10Z
                    lastSuccessfulSync: 2018-04-30T21:40:10Z
                    site: Domain-Controllers
                    status: 0
                    targetServer: SampleTargetServerName
      x-ms-pageable:
        nextLinkName: null
  "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/servicemembers":
    get:
      description: Gets the details of the servers, for a given Active Directory Domain Controller service, that are onboarded to Azure Active Directory Connect Health Service.
      operationId: addsServicesServiceMembers_list
      parameters:
        - description: The name of the service.
          in: path
          name: serviceName
          required: true
          type: string
        - description: The server property filter to apply.
          in: query
          name: $filter
          required: false
          type: string
        - description: The server specific dimension.
          in: query
          name: dimensionType
          required: false
          type: string
        - description: The value of the dimension.
          in: query
          name: dimensionSignature
          required: false
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The list of service members for a given service.
          schema:
            $ref: "#/definitions/ServiceMembers"
      tags:
        - Adds
      x-ms-examples:
        addsServicesServiceMembers_list:
          parameters:
            api-version: 2014-01-01
            serviceName: sampleServiceName
          responses:
            "200":
              body:
                continuationToken: null
                nextLink: null
                totalCount: 0
                value:
                  - activeAlerts: 0
                    additionalInformation: SampleAdditionalInformation
                    createdDate: 2018-04-28T11:33:07.484Z
                    dimensions:
                      - key: key1
                        value: value1
                    disabled: false
                    disabledReason: 0
                    installedQfes:
                      - installedDate: 2016-11-06T04:00:00Z
                        kbName: KB3019978
                        link: SampleLink
                    lastDisabled: 2018-04-28T23:17:00.511864Z
                    lastReboot: 2018-04-28T11:33:07.484Z
                    lastServerReportedMonitoringLevelChange: 2018-04-30T18:00:41.6956022Z
                    lastUpdated: 2018-05-01T00:15:32.5476494Z
                    machineId: SampleMachineId
                    machineName: SampleMachineName
                    monitoringConfigurationsComputed:
                      - key: key1
                        value: value1
                    monitoringConfigurationsCustomized:
                      - key: key1
                        value: value1
                    osName: SampleOSName
                    osVersion: SampleOSVersion
                    properties:
                      - key: key1
                        value: value1
                    recommendedQfes:
                      - installedDate: 2016-11-06T04:00:00Z
                        kbName: KB3019978
                        link: SampleLink
                    resolvedAlerts: 0
                    role: AdfsServer_30
                    serverReportedMonitoringLevel: Off
                    serviceId: SampleServiceId
                    serviceMemberId: SampleServiceMemberId
                    status: Healthy
                    tenantId: SampleTenantId
      x-ms-pageable:
        nextLinkName: nextLink
    post:
      description: Onboards  a server, for a given Active Directory Domain Controller service, to Azure Active Directory Connect Health Service.
      operationId: addsServicesServiceMembers_add
      parameters:
        - description: The name of the service under which the server is to be onboarded.
          in: path
          name: serviceName
          required: true
          type: string
        - description: The server object.
          in: body
          name: serviceMember
          required: true
          schema:
            $ref: "#/definitions/ServiceMember"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: Successfully added the service member.
          schema:
            $ref: "#/definitions/ServiceMember"
      tags:
        - Adds
      x-ms-examples:
        addsServicesServiceMembers_add:
          parameters:
            api-version: 2014-01-01
            serviceMember:
              activeAlerts: 0
              additionalInformation: SampleAdditionalInformation
              createdDate: 2018-04-28T23:17:00.511864Z
              dimensions:
                - key: key1
                  value: value1
              disabled: false
              disabledReason: 0
              installedQfes:
                - installedDate: 2016-11-06T04:00:00Z
                  kbName: KB3019978
                  link: SampleLink
              lastDisabled: 2018-04-28T23:17:00.511864Z
              lastReboot: 2018-04-28T11:33:07.484Z
              lastServerReportedMonitoringLevelChange: 2018-04-30T18:00:41.6956022Z
              lastUpdated: 2018-05-01T00:15:32.5476494Z
              machineId: SampleMachineId
              machineName: SampleMachineName
              monitoringConfigurationsComputed:
                - key: key1
                  value: value1
              monitoringConfigurationsCustomized:
                - key: key1
                  value: value1
              osName: osName
              osVersion: osVersion
              properties:
                - key: key1
                  value: value1
              recommendedQfes:
                - installedDate: 2016-11-06T04:00:00Z
                  kbName: KB3019978
                  link: SampleLink
              resolvedAlerts: 0
              role: AdfsServer_30
              serverReportedMonitoringLevel: Off
              serviceId: SampleServiceId
              serviceMemberId: SampleServiceMemberId
              status: Healthy
              tenantId: SampleTenantId
            serviceName: sampleServiceName
          responses:
            "200":
              body:
                activeAlerts: 0
                additionalInformation: SampleAdditionalInformation
                createdDate: 2018-04-28T23:17:00.511864Z
                dimensions:
                  - key: key1
                    value: value1
                disabled: false
                disabledReason: 0
                installedQfes:
                  - installedDate: 2016-11-06T04:00:00Z
                    kbName: KB3019978
                    link: SampleLink
                lastDisabled: 2018-04-28T23:17:00.511864Z
                lastReboot: 2018-04-28T11:33:07.484Z
                lastServerReportedMonitoringLevelChange: 2018-04-30T18:00:41.6956022Z
                lastUpdated: 2018-05-01T00:15:32.5476494Z
                machineId: SampleMachineId
                machineName: SampleMachineName
                monitoringConfigurationsComputed:
                  - key: key1
                    value: value1
                monitoringConfigurationsCustomized:
                  - key: key1
                    value: value1
                osName: osName
                osVersion: osVersion
                properties:
                  - key: key1
                    value: value1
                recommendedQfes:
                  - installedDate: 2016-11-06T04:00:00Z
                    kbName: KB3019978
                    link: SampleLink
                resolvedAlerts: 0
                role: AdfsServer_30
                serverReportedMonitoringLevel: Off
                serviceId: SampleServiceId
                serviceMemberId: SampleServiceMemberId
                status: Healthy
                tenantId: SampleTenantId
  "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/servicemembers/{serviceMemberId}":
    delete:
      description: Deletes a Active Directory Domain Controller server that has been onboarded to Azure Active Directory Connect Health Service.
      operationId: addsServiceMembers_delete
      parameters:
        - description: The name of the service.
          in: path
          name: serviceName
          required: true
          type: string
        - description: The server Id.
          format: uuid
          in: path
          name: serviceMemberId
          required: true
          type: string
        - description: Indicates if the server will be permanently deleted or disabled. True indicates that the server will be permanently deleted and False indicates that the server will be marked disabled and then deleted after 30 days, if it is not re-registered.
          in: query
          name: confirm
          required: false
          type: boolean
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: Successfully deleted the service member.
      tags:
        - Adds
      x-ms-examples:
        addsServiceMembers_delete:
          parameters:
            api-version: 2014-01-01
            serviceMemberId: SampleServiceMemberId
            serviceName: SampleServiceName
          responses:
            "200": {}
    get:
      description: Gets the details of a server, for a given Active Directory Domain Controller service, that are onboarded to Azure Active Directory Connect Health Service.
      operationId: addsServiceMembers_get
      parameters:
        - description: The name of the service.
          in: path
          name: serviceName
          required: true
          type: string
        - description: The server Id.
          format: uuid
          in: path
          name: serviceMemberId
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: "The service member details for a given service. "
          schema:
            $ref: "#/definitions/ServiceMember"
      tags:
        - Adds
      x-ms-examples:
        addsServiceMembers_get:
          parameters:
            api-version: 2014-01-01
            serviceMemberId: SampleServiceMemberId
            serviceName: sampleServiceName
          responses:
            "200":
              body:
                activeAlerts: 0
                additionalInformation: SampleAdditionalInformation
                createdDate: 2018-04-28T11:33:07.484Z
                dimensions:
                  - key: key1
                    value: value1
                disabled: false
                disabledReason: 0
                installedQfes:
                  - installedDate: 2016-11-06T04:00:00Z
                    kbName: KB3019978
                    link: SampleLink
                lastDisabled: 2018-04-28T23:17:00.511864Z
                lastReboot: 2018-04-28T11:33:07.484Z
                lastServerReportedMonitoringLevelChange: 2018-04-30T18:00:41.6956022Z
                lastUpdated: 2018-05-01T00:15:32.5476494Z
                machineId: SampleMachineId
                machineName: SampleMachineName
                monitoringConfigurationsComputed:
                  - key: key1
                    value: value1
                monitoringConfigurationsCustomized:
                  - key: key1
                    value: value1
                osName: SampleOSName
                osVersion: SampleOSVersion
                properties:
                  - key: key1
                    value: value1
                recommendedQfes:
                  - installedDate: 2016-11-06T04:00:00Z
                    kbName: KB3019978
                    link: SampleLink
                resolvedAlerts: 0
                role: AdfsServer_30
                serverReportedMonitoringLevel: Off
                serviceId: SampleServiceId
                serviceMemberId: SampleServiceMemberId
                status: Healthy
                tenantId: SampleTenantId
  "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/servicemembers/{serviceMemberId}/alerts":
    get:
      description: Gets the details of an alert for a given Active Directory Domain Controller service and server combination.
      operationId: addsServices_listServerAlerts
      parameters:
        - description: The server Id for which the alert details needs to be queried.
          format: uuid
          in: path
          name: serviceMemberId
          required: true
          type: string
        - description: The name of the service.
          in: path
          name: serviceName
          required: true
          type: string
        - description: The alert property filter to apply.
          in: query
          name: $filter
          required: false
          type: string
        - description: The alert state to query for.
          in: query
          name: state
          required: false
          type: string
        - description: The start date to query for.
          format: date-time
          in: query
          name: from
          required: false
          type: string
        - description: The end date till when to query for.
          format: date-time
          in: query
          name: to
          required: false
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The list of server alerts.
          schema:
            $ref: "#/definitions/Alerts"
      tags:
        - Adds
      x-ms-examples:
        addsServices_listServerAlerts:
          parameters:
            api-version: 2014-01-01
            serviceMemberId: SampleServiceMemberId
            serviceName: sampleServiceName
            state: Active
          responses:
            "200":
              body:
                continuationToken: null
                nextLink: null
                totalCount: 0
                value:
                  - activeAlertProperties:
                      - key: ActiveProperty1
                        value: Value1
                    additionalInformation:
                      - hasProperties: true
                        properties:
                          - key: Property1
                            value: Value1
                          - key: Property2
                            value: Value2
                        titleName: SampleAdditionalInfo
                        titleValue: SampleTitle
                    alertId: SampleAlertId
                    createdDate: 2018-04-10T03:12:23.4408944Z
                    description: SampleAlertDescription
                    displayName: SampleAlertDisplayName
                    lastUpdated: 2018-04-30T19:24:42.1945017Z
                    level: Error
                    monitorRoleType: SampleRole
                    relatedLinks:
                      - title: SampleTitle1
                        url: SampleUrl1
                      - title: SampleTilte2
                        url: SampleUrl2
                    remediation: SampleAlertRemediation
                    resolvedAlertProperties:
                      - key: ActiveProperty1
                        value: Value1
                    resolvedDate: 2018-04-10T03:12:23.4408944Z
                    scope: SampleScope
                    serviceId: SampleServiceId
                    serviceMemberId: SampleServiceMemberId
                    shortName: SampleAlertName
                    state: Active
                    tenantId: SampleTenantId
      x-ms-pageable:
        nextLinkName: nextLink
  "/providers/Microsoft.ADHybridHealthService/addsservices/{serviceName}/servicemembers/{serviceMemberId}/credentials":
    get:
      description: Gets the credentials of the server which is needed by the agent to connect to Azure Active Directory Connect Health Service.
      operationId: addsServiceMembers_listCredentials
      parameters:
        - description: The name of the service.
          in: path
          name: serviceName
          required: true
          type: string
        - description: The property filter to apply.
          in: query
          name: $filter
          required: false
          type: string
        - description: The server Id.
          format: uuid
          in: path
          name: serviceMemberId
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The list of server credentials.
          schema:
            $ref: "#/definitions/Credentials"
      tags:
        - Adds
      x-ms-examples:
        addsServiceMembers_listCredentials:
          parameters:
            api-version: 2014-01-01
            serviceMemberId: SampleServiceMemberId
            serviceName: sampleServiceName
          responses:
            "200":
              body:
                value:
                  - credentialData:
                      - SampleCredentialData
                      - SampleCredentialData1
                    identifier: SampleIdentifier
                    type: SampleType
      x-ms-pageable:
        nextLinkName: null
  /providers/Microsoft.ADHybridHealthService/configuration:
    get:
      description: Gets the details of a tenant onboarded to Azure Active Directory Connect Health.
      operationId: configuration_get
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The tenant details.
          schema:
            $ref: "#/definitions/Tenant"
      tags:
        - Configuration
      x-ms-examples:
        configuration_get:
          parameters:
            api-version: 2014-01-01
          responses:
            "200":
              body:
                aadLicense: Premium
                aadPremium: true
                agentAutoUpdate: true
                alertSuppressionTimeInMins: 4320
                consentedToMicrosoftDevOps: true
                countryLetterCode: tenantCountryLetterCode
                createdDate: 2015-03-06T20:35:04.0018068Z
                devOpsTtl: 0001-01-01T00:00:00Z
                disabled: false
                disabledReason: 0
                globalAdminsEmail:
                  - email1
                  - email2
                initialDomain: tenantInitialDomain
                lastDisabled: 0001-01-01T00:00:00Z
                lastVerified: 0001-01-01T00:00:00Z
                onboarded: true
                onboardingAllowed: true
                pksCertificate: SamplePKSCertificate
                privatePreviewTenant: false
                tenantId: sampleTenantId
                tenantInQuarantine: false
                tenantName: SampleTenantName
    patch:
      description: Updates tenant properties for tenants onboarded to Azure Active Directory Connect Health.
      operationId: configuration_update
      parameters:
        - description: The tenant object with the properties set to the updated value.
          in: body
          name: tenant
          required: true
          schema:
            $ref: "#/definitions/Tenant"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: Successfully updated the tenant.
          schema:
            $ref: "#/definitions/Tenant"
      tags:
        - Configuration
      x-ms-examples:
        configuration_update:
          parameters:
            api-version: 2014-01-01
            tenant:
              agentAutoUpdate: false
          responses:
            "200":
              body:
                aadLicense: Premium
                aadPremium: true
                agentAutoUpdate: true
                alertSuppressionTimeInMins: 4320
                consentedToMicrosoftDevOps: true
                countryLetterCode: tenantCountryLetterCode
                createdDate: 2015-03-06T20:35:04.0018068Z
                devOpsTtl: 0001-01-01T00:00:00Z
                disabled: false
                disabledReason: 0
                globalAdminsEmail:
                  - email1
                  - email2
                initialDomain: tenantInitialDomain
                lastDisabled: 0001-01-01T00:00:00Z
                lastVerified: 0001-01-01T00:00:00Z
                onboarded: true
                onboardingAllowed: true
                pksCertificate: SamplePKSCertificate
                privatePreviewTenant: false
                tenantId: sampleTenantId
                tenantInQuarantine: false
                tenantName: SampleTenantName
    post:
      description: Onboards a tenant in Azure Active Directory Connect Health.
      operationId: configuration_add
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: Successfully added the tenant.
          schema:
            $ref: "#/definitions/Tenant"
      tags:
        - Configuration
      x-ms-examples:
        configuration_add:
          parameters:
            api-version: 2014-01-01
          responses:
            "200":
              body:
                aadLicense: Premium
                aadPremium: true
                agentAutoUpdate: true
                alertSuppressionTimeInMins: 4320
                consentedToMicrosoftDevOps: true
                countryLetterCode: tenantCountryLetterCode
                createdDate: 2015-03-06T20:35:04.0018068Z
                devOpsTtl: 0001-01-01T00:00:00Z
                disabled: false
                disabledReason: 0
                globalAdminsEmail:
                  - email1
                  - email2
                initialDomain: tenantInitialDomain
                lastDisabled: 0001-01-01T00:00:00Z
                lastVerified: 0001-01-01T00:00:00Z
                onboarded: true
                onboardingAllowed: true
                pksCertificate: SamplePKSCertificate
                privatePreviewTenant: false
                tenantId: sampleTenantId
                tenantInQuarantine: false
                tenantName: SampleTenantName
  /providers/Microsoft.ADHybridHealthService/operations:
    get:
      description: Lists the available Azure Data Factory API operations.
      operationId: operations_list
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The list of operations.
          schema:
            $ref: "#/definitions/OperationListResponse"
      tags:
        - operations
      x-ms-examples:
        operations_list:
          parameters:
            api-version: 2014-01-01
          responses:
            "200":
              body:
                continuationToken: null
                nextLink: null
                totalCount: 0
                value:
                  - display:
                      description: Sample description
                      operation: Sample operation
                      provider: Microsoft ADHybridHealthService
                      resource: Sample Resource
                    name: Microsoft.ADHybridHealthService_Sample_Operation
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.ADHybridHealthService/reports/DevOps/IsDevOps:
    get:
      description: Checks if the user is enabled for Dev Ops access.
      operationId: reports_getDevOps
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: Indicates if the user is Dev Ops or not.
          schema:
            $ref: "#/definitions/Result"
      tags:
        - DevOps
      x-ms-examples:
        reports_getDevOps:
          parameters:
            api-version: 2014-01-01
          responses:
            "200":
              body:
                value: true
  "/providers/Microsoft.ADHybridHealthService/service/{serviceName}/servicemembers/{serviceMemberId}/connectors":
    get:
      description: Gets the connector details for a service.
      operationId: serviceMembers_listConnectors
      parameters:
        - description: The name of the service.
          in: path
          name: serviceName
          required: true
          type: string
        - description: The server Id.
          format: uuid
          in: path
          name: serviceMemberId
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The list of connector details.
          schema:
            $ref: "#/definitions/Connectors"
      tags:
        - ServiceMembers
      x-ms-examples:
        serviceMembers_listConnectors:
          parameters:
            api-version: 2014-01-01
            serviceMemberId: SampleServiceMemberId
            serviceName: sampleServiceName
          responses:
            "200":
              body:
                value:
                  - connectorId: SampleConnectorId
                    description: SampleDescription
                    id: SampleId
                    name: SampleName
                    partitions:
                      - dn: SampleDN
                        enabled: false
                        id: SampleId
                        isDomain: true
                        name: SampleName
                        partitionScope:
                          containersExcluded:
                            - SampleContainer1
                          containersIncluded:
                            - SampleContainer
                          isDefault: false
                          objectClasses:
                            - SampleClass
                        timeCreated: 2017-08-04T19:07:34.903Z
                        timeLastModified: 2018-05-03T23:08:25.273+00:00
                        type: AD
                      - dn: SampleDN
                        enabled: true
                        id: SampleId2
                        isDomain: true
                        name: SampleName
                        partitionScope:
                          containersExcluded:
                            - SampleContainer1
                          containersIncluded:
                            - SampleContainer
                          isDefault: false
                          objectClasses:
                            - sampleClass
                        timeCreated: 2017-08-04T19:07:34.97Z
                        timeLastModified: 2018-05-03T23:08:25.273+00:00
                        type: AD
                    passwordHashSyncConfiguration:
                      enabled: true
                      target: SampleTarget
                    passwordManagementSettings:
                      connectTo: SampleConnectTo
                      connectionTimeout: 24
                      enabled: true
                      extensionFilePath: SampleFilePath
                      maximumRetryCount: 10
                      requiresSecureConnection: true
                      retryIntervalInSeconds: 20
                      supportedPasswordOperations: Undefined
                      unlockAccount: true
                      user: SampleUser
                    runProfiles:
                      - id: SampleId
                        name: Full Import
                        runSteps:
                          - batchSize: 50
                            objectDeleteLimit: 0
                            objectProcessLimit: 0
                            operationType: 1
                            pageSize: 500
                            partitionId: SamplePartitionId
                            timeout: 120
                    schemaXml: SampleSchema
                    timeCreated: 2017-08-04T19:07:02.957Z
                    timeLastModified: 2018-05-03T23:08:25.273Z
                    type: SampleType
                    version: 12418
      x-ms-pageable:
        nextLinkName: null
  /providers/Microsoft.ADHybridHealthService/services:
    get:
      description: Gets the details of services, for a tenant, that are onboarded to Azure Active Directory Connect Health.
      operationId: services_list
      parameters:
        - description: The service property filter to apply.
          in: query
          name: $filter
          required: false
          type: string
        - description: The service type for the services onboarded to Azure Active Directory Connect Health. Depending on whether the service is monitoring, ADFS, Sync or ADDS roles, the service type can either be AdFederationService or AadSyncService or AdDomainService.
          in: query
          name: serviceType
          required: false
          type: string
        - description: The skip count, which specifies the number of elements that can be bypassed from a sequence and then return the remaining elements.
          in: query
          name: skipCount
          required: false
          type: integer
        - description: The take count , which specifies the number of elements that can be returned from a sequence.
          in: query
          name: takeCount
          required: false
          type: integer
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The list of services.
          schema:
            $ref: "#/definitions/Services"
      tags:
        - Services
      x-ms-examples:
        services_list:
          parameters:
            api-version: 2014-01-01
          responses:
            "200":
              body:
                continuationToken: null
                nextLink: null
                totalCount: 1
                value:
                  - activeAlerts: 0
                    additionalInformation: SampleAdditionalInformation
                    createdDate: 2017-04-07T16:03:06.9053139Z
                    customNotificationEmails:
                      - email1
                      - email2
                    disabled: false
                    displayName: sample display name
                    health: Healthy
                    id: /providers/Microsoft.ADHybridHealthService/services/GetServices/PremiumCheck
                    lastDisabled: 2017-05-07T16:03:06.9053139Z
                    lastUpdated: 2018-04-30T00:55:33.5799677Z
                    monitoringConfigurationsComputed: samplemonitoringConfig
                    monitoringConfigurationsCustomized: samplemonitoringConfig
                    notificationEmailEnabled: true
                    notificationEmailEnabledForGlobalAdmins: true
                    notificationEmails:
                      - email3
                      - email4
                    notificationEmailsEnabledForGlobalAdmins: false
                    originalDisabledState: false
                    resolvedAlerts: 0
                    serviceId: 12345678-1234-1234-1234-123456789000
                    serviceName: sampleServiceName
                    signature: SampleSignature
                    simpleProperties: null
                    tenantId: 12345678-1234-1234-1234-123456789000
                    type: AadSyncService
      x-ms-pageable:
        nextLinkName: nextLink
    post:
      description: Onboards a service for a given tenant in Azure Active Directory Connect Health.
      operationId: services_add
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - description: The service object.
          in: body
          name: service
          required: true
          schema:
            $ref: "#/definitions/ServiceProperties"
      responses:
        "200":
          description: Successfully added the service.
          schema:
            $ref: "#/definitions/ServiceProperties"
      tags:
        - Services
      x-ms-examples:
        services_add:
          parameters:
            api-version: 2014-01-01
            service:
              activeAlerts: 0
              additionalInformation: SampleAdditionalInformation
              createdDate: 2017-04-07T16:03:06.9053139Z
              customNotificationEmails:
                - email1
                - email2
              disabled: false
              displayName: sample display name
              health: Healthy
              id: ServiceId
              lastDisabled: 2017-05-07T16:03:06.9053139Z
              lastUpdated: 2018-04-30T00:55:33.5799677Z
              monitoringConfigurationsComputed: samplemonitoringConfig
              monitoringConfigurationsCustomized: samplemonitoringConfig
              notificationEmailEnabled: true
              notificationEmailEnabledForGlobalAdmins: true
              notificationEmails:
                - email3
                - email4
              notificationEmailsEnabledForGlobalAdmins: false
              originalDisabledState: false
              resolvedAlerts: 0
              serviceId: 12345678-1234-1234-1234-123456789000
              serviceName: sampleServiceName
              signature: SampleSignature
              simpleProperties: null
              tenantId: 12345678-1234-1234-1234-123456789000
              type: AadSyncService
            serviceName: sampleServiceName
          responses:
            "200":
              body:
                activeAlerts: 0
                additionalInformation: SampleAdditionalInformation
                createdDate: 2017-04-07T16:03:06.9053139Z
                customNotificationEmails:
                  - email1
                  - email2
                disabled: false
                displayName: sample display name
                health: Healthy
                id: ServiceId
                lastDisabled: 2017-05-07T16:03:06.9053139Z
                lastUpdated: 2018-04-30T00:55:33.5799677Z
                monitoringConfigurationsComputed: samplemonitoringConfig
                monitoringConfigurationsCustomized: samplemonitoringConfig
                notificationEmailEnabled: true
                notificationEmailEnabledForGlobalAdmins: true
                notificationEmails:
                  - email3
                  - email4
                notificationEmailsEnabledForGlobalAdmins: false
                originalDisabledState: false
                resolvedAlerts: 0
                serviceId: 12345678-1234-1234-1234-123456789000
                serviceName: sampleServiceName
                signature: SampleSignature
                simpleProperties: null
                tenantId: 12345678-1234-1234-1234-123456789000
                type: AadSyncService
  /providers/Microsoft.ADHybridHealthService/services/premiumCheck:
    get:
      description: Gets the details of services for a tenant having Azure AD Premium license and is onboarded to Azure Active Directory Connect Health.
      operationId: services_listPremium
      parameters:
        - description: The service property filter to apply.
          in: query
          name: $filter
          required: false
          type: string
        - description: The service type for the services onboarded to Azure Active Directory Connect Health. Depending on whether the service is monitoring, ADFS, Sync or ADDS roles, the service type can either be AdFederationService or AadSyncService or AdDomainService.
          in: query
          name: serviceType
          required: false
          type: string
        - description: The skip count, which specifies the number of elements that can be bypassed from a sequence and then return the remaining elements.
          in: query
          name: skipCount
          required: false
          type: integer
        - description: The take count , which specifies the number of elements that can be returned from a sequence.
          in: query
          name: takeCount
          required: false
          type: integer
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The list of premium services.
          schema:
            $ref: "#/definitions/Services"
      tags:
        - Services
      x-ms-examples:
        services_listPremium:
          parameters:
            api-version: 2014-01-01
          responses:
            "200":
              body:
                continuationToken: null
                nextLink: null
                totalCount: 1
                value:
                  - activeAlerts: 0
                    additionalInformation: SampleAdditionalInformation
                    createdDate: 2017-04-07T16:03:06.9053139Z
                    customNotificationEmails:
                      - email1
                      - email2
                    disabled: false
                    displayName: sample display name
                    health: Healthy
                    id: /providers/Microsoft.ADHybridHealthService/services/GetServices/PremiumCheck
                    lastDisabled: 2017-05-07T16:03:06.9053139Z
                    lastUpdated: 2018-04-30T00:55:33.5799677Z
                    monitoringConfigurationsComputed: samplemonitoringConfig
                    monitoringConfigurationsCustomized: samplemonitoringConfig
                    notificationEmailEnabled: true
                    notificationEmailEnabledForGlobalAdmins: true
                    notificationEmails:
                      - email3
                      - email4
                    notificationEmailsEnabledForGlobalAdmins: false
                    originalDisabledState: false
                    resolvedAlerts: 0
                    serviceId: 12345678-1234-1234-1234-123456789000
                    serviceName: sampleServiceName
                    signature: SampleSignature
                    simpleProperties: null
                    tenantId: 12345678-1234-1234-1234-123456789000
                    type: AadSyncService
      x-ms-pageable:
        nextLinkName: nextLink
  "/providers/Microsoft.ADHybridHealthService/services/{serviceName}":
    delete:
      description: Deletes a service which is onboarded to Azure Active Directory Connect Health.
      operationId: services_delete
      parameters:
        - description: The name of the service which needs to be deleted.
          in: path
          name: serviceName
          required: true
          type: string
        - description: Indicates if the service will be permanently deleted or disabled. True indicates that the service will be permanently deleted and False indicates that the service will be marked disabled and then deleted after 30 days, if it is not re-registered.
          in: query
          name: confirm
          required: false
          type: boolean
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "204":
          description: Successfully deleted the service.
      tags:
        - Services
      x-ms-examples:
        services_delete:
          parameters:
            api-version: 2014-01-01
            serviceName: SampleServiceName
          responses:
            "204": {}
    get:
      description: Gets the details of a service for a tenant having Azure AD Premium license and is onboarded to Azure Active Directory Connect Health.
      operationId: services_get
      parameters:
        - description: The name of the service.
          in: path
          name: serviceName
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The list of services.
          schema:
            $ref: "#/definitions/ServiceProperties"
      tags:
        - Services
      x-ms-examples:
        services_get:
          parameters:
            api-version: 2014-01-01
            serviceName: sampleServiceName
          responses:
            "200":
              body:
                activeAlerts: 0
                additionalInformation: SampleAdditionalInformation
                createdDate: 2017-04-07T16:03:06.9053139Z
                customNotificationEmails:
                  - email1
                  - email2
                disabled: false
                displayName: sample display name
                health: Healthy
                id: ServiceId
                lastDisabled: 2017-05-07T16:03:06.9053139Z
                lastUpdated: 2018-04-30T00:55:33.5799677Z
                monitoringConfigurationsComputed: samplemonitoringConfig
                monitoringConfigurationsCustomized: samplemonitoringConfig
                notificationEmailEnabled: true
                notificationEmailEnabledForGlobalAdmins: true
                notificationEmails:
                  - email3
                  - email4
                notificationEmailsEnabledForGlobalAdmins: false
                originalDisabledState: false
                resolvedAlerts: 0
                serviceId: 12345678-1234-1234-1234-123456789000
                serviceName: sampleServiceName
                signature: SampleSignature
                simpleProperties: null
                tenantId: 12345678-1234-1234-1234-123456789000
                type: AadSyncService
    patch:
      description: Updates the service properties of an onboarded service.
      operationId: services_update
      parameters:
        - description: The name of the service which needs to be deleted.
          in: path
          name: serviceName
          required: true
          type: string
        - description: The service object.
          in: body
          name: service
          required: true
          schema:
            $ref: "#/definitions/ServiceProperties"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: Successfully updated the service.
          schema:
            $ref: "#/definitions/ServiceProperties"
      tags:
        - Services
      x-ms-examples:
        services_update:
          parameters:
            api-version: 2014-01-01
            service:
              notificationEmailEnabled: true
              notificationEmailEnabledForGlobalAdmins: true
            serviceName: sampleServiceName
          responses:
            "200":
              body:
                activeAlerts: 0
                additionalInformation: SampleAdditionalInformation
                createdDate: 2017-04-07T16:03:06.9053139Z
                customNotificationEmails:
                  - email1
                  - email2
                disabled: false
                displayName: sample display name
                health: Healthy
                id: /providers/Microsoft.ADHybridHealthService/services/GetServices/PremiumCheck/sampleServiceName
                lastDisabled: 2017-05-07T16:03:06.9053139Z
                lastUpdated: 2018-04-30T00:55:33.5799677Z
                monitoringConfigurationsComputed: samplemonitoringConfig
[...]
