{
  "swagger": "2.0",
  "schemes": [
    "https",
    "http"
  ],
  "host": "api.fungenerators.com",
  "info": {
    "contact": {
      "name": "Fun Generators",
      "url": "http://fungenerators.com/"
    },
    "description": "Fungenerators taunt generation API generates random taunts / insults,  relevant to the given category. Many categories are supported and new ones are added very frequently. [Click here to subscribe](http://fungenerators.com/api/taunt/)\n",
    "termsOfService": "https://fungenerators.com/terms",
    "title": "Taunt as a service",
    "version": "1.5",
    "x-apisguru-categories": [
      "text"
    ],
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://fungenerators.com/yaml/taunt.yaml",
        "version": "2.0"
      }
    ],
    "x-providerName": "fungenerators.com",
    "x-serviceName": "taunt",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg"
    }
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json",
    "application/xml",
    "application/js"
  ],
  "securityDefinitions": {
    "X-Fungenerators-Api-Secret": {
      "in": "header",
      "name": "X-Fungenerators-Api-Secret",
      "type": "apiKey"
    }
  },
  "tags": [
    {
      "description": "Taunt Generation API",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://fungenerators.com/api/taunt/"
      },
      "name": "Taunt"
    }
  ],
  "paths": {
    "/taunt/categories": {
      "get": {
        "description": "Get available taunt generation categories.",
        "parameters": [
          {
            "description": "start",
            "format": "integer",
            "in": "query",
            "name": "start",
            "required": false,
            "type": "integer"
          },
          {
            "description": "limit",
            "format": "integer",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json",
          "application/xml",
          "application/js"
        ],
        "responses": {
          "200": {
            "description": "200  response",
            "examples": {
              "application/json": "{\n  \"success\": {\n    \"total\": \"7\",\n    \"start\": 0,\n    \"limit\": 10\n  },\n  \"contents\": [\n    [\n      {\n        \"name\": \"new-age-insult\",\n        \"title\": \"Random Insult Generator\",\n        \"description\": \"Nothing personal mate! Just for fun! This is not appropriate for children!\"\n      },\n      {\n        \"name\": \"shakespeare\",\n        \"title\": \"Random Shakespearean Curse Generator\",\n        \"description\": \"Generates a random Shakespeare sounding curse every-time you visit the page. Cursing is bad for health ;) , use it only when necessary.\"\n      },\n      {\n        \"name\": \"lutheran-insult\",\n        \"title\": \"Random Lutheran Insult Generator\",\n        \"description\": \"Let Luther insult you from the history! These insults directly from the books of Luther will make you feel like the real Hanswursts - blockheads, boors, and dunderheads.\"\n      },\n      {\n        \"name\": \"scottish\",\n        \"title\": \"Random Scottish Insult Generator\",\n        \"description\": \"If you are insulting someone insult like Scot! Our Scottish insult generator will be your mate and do most of job for you!\"\n      },\n      {\n        \"name\": \"pirate-insult\",\n        \"title\": \"Pirate Insult Generator\",\n        \"description\": \"If you are insulting someone insult like Pirate! Our Pirate insult generator will make you a weasel hearted worm suckin' spineless bastitch !\"\n      },\n      {\n        \"name\": \"conservative-insult\",\n        \"title\": \"Conservative Insult Generator\",\n        \"description\": \"If you are in a political argument and need to insult the conservative on the other side in a hurry, our conservative insult generator will do the job for you!\"\n      },\n      {\n        \"name\": \"liberal-insult\",\n        \"title\": \"Liberal Insult Generator\",\n        \"description\": \"If you are in a political argument and need to insult the liberal on the other side in a hurry, our liberal insult generator will do the job for you!\"\n      }\n    ]\n  ]\n}"
            }
          },
          "401": {
            "description": "401  response",
            "examples": {
              "application/json": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}     "
            }
          }
        },
        "security": [
          {
            "X-Fungenerators-Api-Secret": []
          }
        ],
        "tags": [
          "Taunt"
        ]
      }
    },
    "/taunt/generate": {
      "get": {
        "description": "Generated taunts in the given category",
        "parameters": [
          {
            "description": "Category to generator taunt from",
            "format": "string",
            "in": "query",
            "name": "category",
            "required": true,
            "type": "string"
          },
          {
            "description": "Limit. Controls number of taunts generated. Max of 5-10 based on the plan",
            "format": "integer",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json",
          "application/xml",
          "application/js"
        ],
        "responses": {
          "200": {
            "description": "200  response",
            "examples": {
              "application/json": "{\n  \"success\": {\n    \"total\": null,\n    \"limit\": 3\n  },\n  \"contents\": {\n    \"category\": \"shakespeare\",\n    \"taunts\": [\n      \"Thou infectious hasty-witted mammet!\",\n      \"Thou distempered iron-witted fustilarian!\",\n      \"Thou reeky ill-breeding scullion!\"\n    ]\n  },\n  \"copyright\": \"https://fungenerators.com/\"\n}"
            }
          },
          "401": {
            "description": "401  response",
            "examples": {
              "application/json": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
            }
          }
        },
        "security": [
          {
            "X-Fungenerators-Api-Secret": []
          }
        ],
        "tags": [
          "Taunt"
        ]
      }
    }
  }
}