swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Use these REST APIs for performing operations on tenant entity associated with your Azure API Management deployment. Using this entity you can manage properties and configuration that apply to the entire API Management service instance.
  title: ApiManagementClient
  version: 2019-01-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2019-01-01/apimtenant.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: apimanagement-apimtenant
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters: {}
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/{accessName}":
    get:
      description: Get tenant access information details
      operationId: TenantAccess_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The identifier of the Access configuration.
          enum:
            - access
          in: path
          name: accessName
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: AccessIdName
          x-ms-parameter-location: method
      responses:
        "200":
          description: Tenant Access information.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            description: Tenant access information contract of the API Management service.
            properties:
              enabled:
                description: Determines whether direct access is enabled.
                type: boolean
              id:
                description: Identifier.
                type: string
              primaryKey:
                description: Primary access key.
                type: string
              secondaryKey:
                description: Secondary access key.
                type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - TenantAccess
      x-ms-examples:
        ApiManagementGetTenantAccess:
          parameters:
            accessName: access
            api-version: 2019-01-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                enabled: true
                id: 5600b59375ff190048030003
                primaryKey: qr5nbjNoZkgtLojXgU+OA/ntYMgko3XPSVyt+ObwR1sqp2ZkM9tGhwxkeEz7bfAuPS5ss61b2S3ZrZmqa9v3Mw==
                secondaryKey: 2dCJv1CasJl286SZiKxyBFDiIYCUdbwM1YrFNDcFMXCjCKbFzomrGkv+exAbnV5E3DEk91VP4jbeJ2eV/qtejA==
    head:
      description: Tenant access metadata
      operationId: TenantAccess_GetEntityTag
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The identifier of the Access configuration.
          enum:
            - access
          in: path
          name: accessName
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: AccessIdName
          x-ms-parameter-location: method
      responses:
        "200":
          description: Operation completed successfully.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - TenantAccess
      x-ms-examples:
        ApiManagementHeadTenantAccess:
          parameters:
            accessName: access
            api-version: 2019-01-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200": {}
    patch:
      description: Update tenant access information details.
      operationId: TenantAccess_Update
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Parameters supplied to retrieve the Tenant Access Information.
          in: body
          name: parameters
          required: true
          schema:
            description: Tenant access information update parameters.
            properties:
              properties:
                description: Tenant access information update parameters of the API Management service
                properties:
                  enabled:
                    description: Determines whether direct access is enabled.
                    type: boolean
        - description: The identifier of the Access configuration.
          enum:
            - access
          in: path
          name: accessName
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: AccessIdName
          x-ms-parameter-location: method
        - description: ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.
          in: header
          name: If-Match
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "204":
          description: Tenant's access information updated successfully.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - TenantAccess
      x-ms-examples:
        ApiManagementUpdateTenantAccess:
          parameters:
            If-Match: "*"
            accessName: access
            api-version: 2019-01-01
            parameters:
              enabled: true
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/{accessName}/git":
    get:
      description: Gets the Git access configuration for the tenant.
      operationId: TenantAccessGit_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The identifier of the Access configuration.
          enum:
            - access
          in: path
          name: accessName
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: AccessIdName
          x-ms-parameter-location: method
      responses:
        "200":
          description: Git Access Information for the Service.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            description: Tenant access information contract of the API Management service.
            properties:
              enabled:
                description: Determines whether direct access is enabled.
                type: boolean
              id:
                description: Identifier.
                type: string
              primaryKey:
                description: Primary access key.
                type: string
              secondaryKey:
                description: Secondary access key.
                type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - TenantAccessGit
      x-ms-examples:
        ApiManagementGetTenantAccess:
          parameters:
            accessName: access
            api-version: 2019-01-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                enabled: true
                id: 5600b59375ff190048030003
                primaryKey: qr5nbjNoZkgtLojXgU+OA/ntYMgko3XPSVyt+ObwR1sqp2ZkM9tGhwxkeEz7bfAuPS5ss61b2S3ZrZmqa9v3Mw==
                secondaryKey: 2dCJv1CasJl286SZiKxyBFDiIYCUdbwM1YrFNDcFMXCjCKbFzomrGkv+exAbnV5E3DEk91VP4jbeJ2eV/qtejA==
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/{accessName}/git/regeneratePrimaryKey":
    post:
      description: Regenerate primary access key for GIT.
      operationId: TenantAccessGit_RegeneratePrimaryKey
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The identifier of the Access configuration.
          enum:
            - access
          in: path
          name: accessName
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: AccessIdName
          x-ms-parameter-location: method
      responses:
        "204":
          description: The primary key was successfully regenerated.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - TenantAccessGit
      x-ms-examples:
        ApiManagementTenantAccessRegenerateKey:
          parameters:
            accessName: access
            api-version: 2019-01-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/{accessName}/git/regenerateSecondaryKey":
    post:
      description: Regenerate secondary access key for GIT.
      operationId: TenantAccessGit_RegenerateSecondaryKey
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The identifier of the Access configuration.
          enum:
            - access
          in: path
          name: accessName
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: AccessIdName
          x-ms-parameter-location: method
      responses:
        "204":
          description: The secondary key was successfully regenerated.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - TenantAccessGit
      x-ms-examples:
        ApiManagementTenantAccessRegenerateKey:
          parameters:
            accessName: access
            api-version: 2019-01-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/{accessName}/regeneratePrimaryKey":
    post:
      description: Regenerate primary access key
      operationId: TenantAccess_RegeneratePrimaryKey
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The identifier of the Access configuration.
          enum:
            - access
          in: path
          name: accessName
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: AccessIdName
          x-ms-parameter-location: method
      responses:
        "204":
          description: The primary key was successfully regenerated.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - TenantAccess
      x-ms-examples:
        ApiManagementTenantAccessRegenerateKey:
          parameters:
            accessName: access
            api-version: 2019-01-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/{accessName}/regenerateSecondaryKey":
    post:
      description: Regenerate secondary access key
      operationId: TenantAccess_RegenerateSecondaryKey
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The identifier of the Access configuration.
          enum:
            - access
          in: path
          name: accessName
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: AccessIdName
          x-ms-parameter-location: method
      responses:
        "204":
          description: The secondary key was successfully regenerated.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - TenantAccess
      x-ms-examples:
        ApiManagementTenantAccessRegenerateKey:
          parameters:
            accessName: access
            api-version: 2019-01-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/{configurationName}/deploy":
    post:
      description: This operation applies changes from the specified Git branch to the configuration database. This is a long running operation and could take several minutes to complete.
      externalDocs:
        description: To deploy any service configuration changes to the API Management service instance
        url: https://azure.microsoft.com/en-us/documentation/articles/api-management-configuration-repository-git/#to-deploy-any-service-configuration-changes-to-the-api-management-service-instance
      operationId: TenantConfiguration_Deploy
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Deploy Configuration parameters.
          in: body
          name: parameters
          required: true
          schema:
            description: Deploy Tenant Configuration Contract.
            properties:
              properties:
                description: Parameters supplied to the Deploy Configuration operation.
                properties:
                  branch:
                    description: The name of the Git branch from which the configuration is to be deployed to the configuration database.
                    type: string
                  force:
                    description: The value enforcing deleting subscriptions to products that are deleted in this update.
                    type: boolean
                required:
                  - branch
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The identifier of the Git Configuration Operation.
          enum:
            - configuration
          in: path
          name: configurationName
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: configurationIdName
          x-ms-parameter-location: method
      responses:
        "200":
          description: Result of applying changes from Git branch to database.
          schema:
            description: Operation Result.
            properties:
              actionLog:
                description: This property if only provided as part of the TenantConfiguration_Validate operation. It contains the log the entities which will be updated/created/deleted as part of the TenantConfiguration_Deploy operation.
                items:
                  description: Log of the entity being created, updated or deleted.
                  properties:
                    action:
                      description: Action like create/update/delete.
                      type: string
                    objectKey:
                      description: Identifier of the entity being created/updated/deleted.
                      type: string
                    objectType:
                      description: The type of entity contract.
                      type: string
                readOnly: true
                type: array
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
              id:
                description: Operation result identifier.
                type: string
              resultInfo:
                description: Optional result info.
                type: string
              started:
                description: |
                  Start time of an async operation. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
                format: date-time
                type: string
              status:
                description: Status of an async operation.
                enum:
                  - Started
                  - InProgress
                  - Succeeded
                  - Failed
                type: string
                x-ms-enum:
                  modelAsString: false
                  name: AsyncOperationStatus
              updated:
                description: |
                  Last update time of an async operation. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
                format: date-time
                type: string
        "202":
          description: "Accepted: Location header contains the URL where the status of the long running operation can be checked."
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - TenantConfiguration
      x-ms-examples:
        ApiManagementTenantConfigurationDeploy:
          parameters:
            api-version: 2019-01-01
            configurationName: configuration
            parameters:
              properties:
                branch: master
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                error:
                  code: ValidationError
                  message: "File not found: 'api-management/configuration.json'"
                id: 5a1af4ae2a6d2e0b688d7517
                started: 2017-11-26T17:06:54.303Z
                status: Failed
                updated: 2017-11-26T17:07:21.777Z
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tenant/operationResults/5a1af4ae2a6d2e0b688d7517?api-version=2019-01-01
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/{configurationName}/save":
    post:
      description: This operation creates a commit with the current configuration snapshot to the specified branch in the repository. This is a long running operation and could take several minutes to complete.
      externalDocs:
        description: To save the service configuration to the Git repository
        url: https://azure.microsoft.com/en-us/documentation/articles/api-management-configuration-repository-git/#to-save-the-service-configuration-to-the-git-repository
      operationId: TenantConfiguration_Save
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Save Configuration parameters.
          in: body
          name: parameters
          required: true
          schema:
            description: Save Tenant Configuration Contract details.
            properties:
              properties:
                description: Parameters supplied to the Save Tenant Configuration operation.
                properties:
                  branch:
                    description: The name of the Git branch in which to commit the current configuration snapshot.
                    type: string
                  force:
                    description: The value if true, the current configuration database is committed to the Git repository, even if the Git repository has newer changes that would be overwritten.
                    type: boolean
                required:
                  - branch
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The identifier of the Git Configuration Operation.
          enum:
            - configuration
          in: path
          name: configurationName
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: configurationIdName
          x-ms-parameter-location: method
      responses:
        "200":
          description: Result of creating a commit in the repository.
          schema:
            description: Operation Result.
            properties:
              actionLog:
                description: This property if only provided as part of the TenantConfiguration_Validate operation. It contains the log the entities which will be updated/created/deleted as part of the TenantConfiguration_Deploy operation.
                items:
                  description: Log of the entity being created, updated or deleted.
                  properties:
                    action:
                      description: Action like create/update/delete.
                      type: string
                    objectKey:
                      description: Identifier of the entity being created/updated/deleted.
                      type: string
                    objectType:
                      description: The type of entity contract.
                      type: string
                readOnly: true
                type: array
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
              id:
                description: Operation result identifier.
                type: string
              resultInfo:
                description: Optional result info.
                type: string
              started:
                description: |
                  Start time of an async operation. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
                format: date-time
                type: string
              status:
                description: Status of an async operation.
                enum:
                  - Started
                  - InProgress
                  - Succeeded
                  - Failed
                type: string
                x-ms-enum:
                  modelAsString: false
                  name: AsyncOperationStatus
              updated:
                description: |
                  Last update time of an async operation. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
                format: date-time
                type: string
        "202":
          description: "Accepted: Location header contains the URL where the status of the long running operation can be checked."
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - TenantConfiguration
      x-ms-examples:
        ApiManagementTenantConfigurationSave:
          parameters:
            api-version: 2019-01-01
            configurationName: configuration
            parameters:
              properties:
                branch: master
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                actionLog: []
                error: null
                id: 5cae98acb597440f487b0d78
                resultInfo: The configuration was successfully saved to master as commit 709678560f72e689e469cf98ba9ba6d1b7736893.
                started: 2019-04-11T01:30:20.883Z
                status: Succeeded
                updated: 2019-04-11T01:30:41.623Z
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tenant/operationResults/5a1af57d2a6d2e0b688d751b?api-version=2019-01-01
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/{configurationName}/syncState":
    get:
      description: Gets the status of the most recent synchronization between the configuration database and the Git repository.
      operationId: TenantConfiguration_GetSyncState
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The identifier of the Git Configuration Operation.
          enum:
            - configuration
          in: path
          name: configurationName
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: configurationIdName
          x-ms-parameter-location: method
      responses:
        "200":
          description: Sync state result.
          schema:
            description: Tenant Configuration Synchronization State.
            properties:
              branch:
                description: The name of Git branch.
                type: string
              commitId:
                description: The latest commit Id.
                type: string
              configurationChangeDate:
                description: |
                  The date of the latest configuration change. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
                format: date-time
                type: string
              isExport:
                description: value indicating if last sync was save (true) or deploy (false) operation.
                type: boolean
              isGitEnabled:
                description: value indicating whether Git configuration access is enabled.
                type: boolean
              isSynced:
                description: value indicating if last synchronization was later than the configuration change.
                type: boolean
              syncDate:
                description: |
                  The date of the latest synchronization. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
                format: date-time
                type: string
      tags:
        - TenantConfigurationSyncState
      x-ms-examples:
        ApiManagementTenantAccessSyncState:
          parameters:
            api-version: 2019-01-01
            configurationName: configuration
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                branch: master
                commitId: 44c29c27a876372e2ea18d9c381cc493a6a89fc5
                configurationChangeDate: 2017-06-03T00:41:30.9670873Z
                isExport: true
                isGitEnabled: true
                isSynced: false
                syncDate: 2016-10-24T19:17:14.3641403Z
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/{configurationName}/validate":
    post:
      description: This operation validates the changes in the specified Git branch. This is a long running operation and could take several minutes to complete.
      operationId: TenantConfiguration_Validate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Validate Configuration parameters.
          in: body
          name: parameters
          required: true
          schema:
            description: Deploy Tenant Configuration Contract.
            properties:
              properties:
                description: Parameters supplied to the Deploy Configuration operation.
                properties:
                  branch:
                    description: The name of the Git branch from which the configuration is to be deployed to the configuration database.
                    type: string
                  force:
                    description: The value enforcing deleting subscriptions to products that are deleted in this update.
                    type: boolean
                required:
                  - branch
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The identifier of the Git Configuration Operation.
          enum:
            - configuration
          in: path
          name: configurationName
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: configurationIdName
          x-ms-parameter-location: method
      responses:
        "200":
          description: Result of validating the changes in the specified Git branch.
          schema:
            description: Operation Result.
            properties:
              actionLog:
                description: This property if only provided as part of the TenantConfiguration_Validate operation. It contains the log the entities which will be updated/created/deleted as part of the TenantConfiguration_Deploy operation.
                items:
                  description: Log of the entity being created, updated or deleted.
                  properties:
                    action:
                      description: Action like create/update/delete.
                      type: string
                    objectKey:
                      description: Identifier of the entity being created/updated/deleted.
                      type: string
                    objectType:
                      description: The type of entity contract.
                      type: string
                readOnly: true
                type: array
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
              id:
                description: Operation result identifier.
                type: string
              resultInfo:
                description: Optional result info.
                type: string
              started:
                description: |
                  Start time of an async operation. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
                format: date-time
                type: string
              status:
                description: Status of an async operation.
                enum:
                  - Started
                  - InProgress
                  - Succeeded
                  - Failed
                type: string
                x-ms-enum:
                  modelAsString: false
                  name: AsyncOperationStatus
              updated:
                description: |
                  Last update time of an async operation. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
                format: date-time
                type: string
        "202":
          description: "Accepted: Location header contains the URL where the status of the long running operation can be checked."
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - TenantConfiguration
      x-ms-examples:
        ApiManagementTenantConfigurationValidate:
          parameters:
            api-version: 2019-01-01
            configurationName: configuration
            parameters:
              properties:
                branch: master
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                actionLog:
                  - action: Updated
                    objectKey: 57914cb351f68a16889be190;rev=1
                    objectType: ApiSpecificationContract
                  - action: Updated
                    objectKey: 5768181ea40f7eb6c49f6ac7
                    objectType: ProductSpecificationContract
                  - action: Updated
                    objectKey: 576819c9a40f7e86289fb3e3
                    objectType: ProductSpecificationContract
                  - action: Updated
                    objectKey: 576819f1a40f7e86289fb6de
                    objectType: ProductSpecificationContract
                  - action: Updated
                    objectKey: 57681a67a40f7e72b4132522
                    objectType: ProductSpecificationContract
                  - action: Updated
                    objectKey: 57681a73a40f7e72b413281d
                    objectType: ProductSpecificationContract
                  - action: Updated
                    objectKey: 57681a7ea40f7e72b4132b18
                    objectType: ProductSpecificationContract
                  - action: Updated
                    objectKey: 57681b88a40f7ea0f017f099
                    objectType: ProductSpecificationContract
                  - action: Updated
                    objectKey: 57681b9fa40f7ea0f017f682
                    objectType: ProductSpecificationContract
                  - action: Updated
                    objectKey: 57681bb5a40f7ea0f017fc6b
                    objectType: ProductSpecificationContract
                  - action: Updated
                    objectKey: 57681bcaa40f7ea0f0180254
                    objectType: ProductSpecificationContract
                  - action: Updated
                    objectKey: 57681bdfa40f7ea0f018083d
                    objectType: ProductSpecificationContract
                  - action: Updated
                    objectKey: 57681bf5a40f7ea0f0180e26
                    objectType: ProductSpecificationContract
                  - action: Updated
                    objectKey: 57681c0ea40f7ea0f018140f
                    objectType: ProductSpecificationContract
                  - action: Updated
                    objectKey: 57681c26a40f7ea0f01819f8
                    objectType: ProductSpecificationContract
                  - action: Updated
                    objectKey: 57681c83a40f7e85f44db237
                    objectType: ProductSpecificationContract
                  - action: Updated
                    objectKey: 57681cb2a40f7e85f44dbcd0
                    objectType: ProductSpecificationContract
                  - action: Updated
                    objectKey: 57681ce3a40f7e85f44dc769
                    objectType: ProductSpecificationContract
                  - action: Updated
                    objectKey: 57681d1fa40f7e85f44dd202
                    objectType: ProductSpecificationContract
                  - action: Updated
                    objectKey: 57681d60a40f7e85f44ddc9b
                    objectType: ProductSpecificationContract
                  - action: Updated
                    objectKey: 57681db4a40f7e85f44de735
                    objectType: ProductSpecificationContract
                  - action: Updated
                    objectKey: 57681e11a40f7e85f44df1ce
                    objectType: ProductSpecificationContract
                  - action: Updated
                    objectKey: 57681e73a40f7e85f44dfc67
                    objectType: ProductSpecificationContract
                  - action: Updated
                    objectKey: 57681f06a40f7e74ec07785c
                    objectType: ProductSpecificationContract
                  - action: Updated
                    objectKey: 5768211fa40f7e74ec07a74a
                    objectType: ProductSpecificationContract
                  - action: Updated
                    objectKey: 576823cfa40f7e74ec07d63a
                    objectType: ProductSpecificationContract
                  - action: Updated
                    objectKey: 5600b57e7e8880006a060001
                    objectType: ProductSpecificationContract
                  - action: Updated
                    objectKey: 5600b57e7e8880006a060002
                    objectType: ProductSpecificationContract
                id: 5a1af64e2a6d2e0b688d751e
                resultInfo: Validation is successfull
                started: 2019-04-11T01:30:51.767Z
                status: Succeeded
                updated: 2019-04-11T01:30:57.653Z
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tenant/operationResults/5a1af64e2a6d2e0b688d751e?api-version=2019-01-01
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
definitions: {}
