swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: ContainerInstanceManagementClient
  version: 2018-10-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-10-01/containerInstance.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: containerinstance-containerInstance
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: Impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client API version
    in: query
    name: api-version
    required: true
    type: string
    x-ms-parameter-location: client
  ContainerGroupNameParameter:
    description: The name of the container group.
    in: path
    name: containerGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  LocationParameter:
    description: The identifier for the physical azure location.
    in: path
    name: location
    required: true
    type: string
    x-ms-parameter-location: method
  OperationIdParameter:
    description: The operation Id.
    in: path
    name: operationId
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceGroupNameParameter:
    description: The name of the resource group.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  SubnetNameParameter:
    description: The name of the subnet.
    in: path
    name: subnetName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
    x-ms-parameter-location: client
  VirtualNetworkNameParameter:
    description: The name of the virtual network.
    in: path
    name: virtualNetworkName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  /providers/Microsoft.ContainerInstance/operations:
    get:
      description: List the operations for Azure Container Instance service.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/OperationListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Operations
      x-ms-examples:
        OperationsList:
          parameters:
            api-version: 2018-10-01
          responses:
            "200":
              body:
                value:
                  - display:
                      description: Get all container goups.
                      operation: Get Container Groups
                      provider: Microsoft Container Instance
                      resource: Container Group
                    name: Microsoft.ContainerInstance/containerGroups/read
                    origin: User
  "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerInstance/containerGroups":
    get:
      description: Get a list of container groups in the specified subscription. This operation returns properties of each container group including containers, image registry credentials, restart policy, IP address type, OS type, state, and volumes.
      operationId: ContainerGroups_List
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ContainerGroupListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Get a list of container groups in the specified subscription.
      x-ms-examples:
        ContainerGroupsList:
          parameters:
            api-version: 2018-10-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/demo/providers/Microsoft.ContainerInstance/containerGroups/demo1
                    location: WestUs
                    name: demo1
                    properties:
                      containers:
                        - name: demo1
                          properties:
                            command: []
                            environmentVariables: []
                            image: nginx
                            instanceView:
                              currentState:
                                detailStatus: ""
                                startTime: 2017-10-17T17:27:21Z
                                state: Running
                              events: []
                              restartCount: 0
                            ports:
                              - port: 80
                            resources:
                              requests:
                                cpu: 1
                                memoryInGB: 1.5
                            volumeMounts:
                              - mountPath: /mnt/volume1
                                name: volume1
                                readOnly: false
                      imageRegistryCredentials:
                        - server: azcloudconsoleregistry.azurecr.io
                          username: azcloudconsoleregistry
                      ipAddress:
                        ip: 10.0.0.1
                        ports:
                          - port: 80
                            protocol: TCP
                        type: Public
                      osType: Linux
                      provisioningState: Succeeded
                      volumes:
                        - azureFile:
                            readOnly: false
                            shareName: share1
                            storageAccountName: storage1
                          name: volume1
                    type: Microsoft.ContainerInstance/containerGroups
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerInstance/locations/{location}/cachedImages":
    get:
      description: Get the list of cached images on specific OS type for a subscription in a region.
      operationId: ListCachedImages
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/LocationParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CachedImagesListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Get the list of cached images.
      x-ms-examples:
        CachedImages:
          parameters:
            api-version: 2018-10-01
            location: westcentralus
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - image: ubuntu:16.04
                    osType: Linux
                  - image: alpine:3.6
                    osType: Linux
                  - image: microsoft/nanoserver:10.0.14393.2485
                    osType: Windows
  "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerInstance/locations/{location}/capabilities":
    get:
      description: Get the list of CPU/memory/GPU capabilities of a region.
      operationId: ListCapabilities
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/LocationParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CapabilitiesListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Get the list of capabilities of the location.
      x-ms-examples:
        GetCapabilities:
          parameters:
            api-version: 2018-10-01
            location: westus
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - capabilities:
                      maxCpu: 4
                      maxGpuCount: 4
                      maxMemoryInGB: 14
                    gpu: K80
                    ipAddressType: Public
                    location: West US
                    osType: Linux
                    resourceType: containerGroups
                  - capabilities:
                      maxCpu: 4
                      maxGpuCount: 0
                      maxMemoryInGB: 14
                    gpu: None
                    ipAddressType: Public
                    location: West US
                    osType: Windows
                    resourceType: containerGroups
  "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerInstance/locations/{location}/usages":
    get:
      description: Get the usage for a subscription
      operationId: ContainerGroupUsage_List
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/LocationParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/UsageListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      x-ms-examples:
        ContainerUsage:
          parameters:
            api-version: 2018-10-01
            location: westcentralus
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - currentValue: 1
                    limit: 2000
                    name:
                      localizedValue: Container Groups
                      value: ContainerGroups
                    unit: Count
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups":
    get:
      description: Get a list of container groups in a specified subscription and resource group. This operation returns properties of each container group including containers, image registry credentials, restart policy, IP address type, OS type, state, and volumes.
      operationId: ContainerGroups_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ContainerGroupListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Get a list of container groups in the specified subscription and resource group.
      x-ms-examples:
        ContainerGroupsListByResourceGroup:
          parameters:
            api-version: 2018-10-01
            resourceGroupName: demo
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/demo/providers/Microsoft.ContainerInstance/containerGroups/demo1
                    location: WestUs
                    name: demo1
                    properties:
                      containers:
                        - name: demo1
                          properties:
                            command: []
                            environmentVariables: []
                            image: nginx
                            ports:
                              - port: 80
                            resources:
                              requests:
                                cpu: 1
                                memoryInGB: 1.5
                            volumeMounts:
                              - mountPath: /mnt/volume1
                                name: volume1
                                readOnly: false
                      imageRegistryCredentials:
                        - server: azcloudconsoleregistry.azurecr.io
                          username: azcloudconsoleregistry
                      ipAddress:
                        ip: 10.0.0.1
                        ports:
                          - port: 80
                            protocol: TCP
                        type: Public
                      osType: Linux
                      provisioningState: Succeeded
                      volumes:
                        - azureFile:
                            readOnly: false
                            shareName: share1
                            storageAccountName: storage1
                          name: volume1
                    type: Microsoft.ContainerInstance/containerGroups
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}":
    delete:
      description: Delete the specified container group in the specified subscription and resource group. The operation does not delete other resources provided by the user, such as volumes.
      operationId: ContainerGroups_Delete
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ContainerGroupNameParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ContainerGroup"
        "204":
          description: No Content - the specified container group was not found.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Delete the specified container group.
      x-ms-examples:
        ContainerGroupsDelete:
          parameters:
            api-version: 2018-10-01
            containerGroupName: demo1
            resourceGroupName: demo
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets the properties of the specified container group in the specified subscription and resource group. The operation returns the properties of each container group including containers, image registry credentials, restart policy, IP address type, OS type, state, and volumes.
      operationId: ContainerGroups_Get
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ContainerGroupNameParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ContainerGroup"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Get the properties of the specified container group.
      x-ms-examples:
        ContainerGroupsGet_Failed:
          parameters:
            api-version: 2018-10-01
            containerGroupName: demo1
            resourceGroupName: demo
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/demo/providers/Microsoft.ContainerInstance/containerGroups/demo1
                location: WestUs
                name: demo1
                properties:
                  containers:
                    - name: demo1
                      properties:
                        command: []
                        environmentVariables: []
                        image: nginx
                        instanceView:
                          currentState:
                            detailStatus: ""
                            startTime: 2017-08-08T00:09:10Z
                            state: Waiting
                          events:
                            - count: 1
                              firstTimestamp: 2017-08-08T00:09:01Z
                              lastTimestamp: 2017-08-08T00:09:01Z
                              message: pulling image "nginx"
                              name: Pulling
                              type: Normal
                            - count: 1
                              firstTimestamp: 2017-08-08T00:09:10Z
                              lastTimestamp: 2017-08-08T00:09:10Z
                              message: Successfully pulled image "nginx"
                              name: Pulled
                              type: Normal
                          restartCount: 0
                        ports:
                          - port: 80
                        resources:
                          requests:
                            cpu: 1
                            memoryInGB: 1.5
                        volumeMounts:
                          - mountPath: /mnt/volume1
                            name: volume1
                            readOnly: false
                  imageRegistryCredentials:
                    - server: azcloudconsoleregistry.azurecr.io
                      username: azcloudconsoleregistry
                  instanceView:
                    events:
                      - count: 1
                        firstTimestamp: 2017-10-08T00:19:10Z
                        lastTimestamp: 2017-10-08T00:19:10Z
                        message: "Output: mount error(2): Permission denied"
                        name: FailedMount
                        type: Normal
                    state: Pending
                  ipAddress:
                    ip: 10.0.0.1
                    ports:
                      - port: 80
                        protocol: TCP
                    type: Public
                  osType: Linux
                  provisioningState: Failed
                  volumes:
                    - azureFile:
                        readOnly: false
                        shareName: share1
                        storageAccountName: storage1
                      name: volume1
                type: Microsoft.ContainerInstance/containerGroups
        ContainerGroupsGet_Succeeded:
          parameters:
            api-version: 2018-10-01
            containerGroupName: demo1
            resourceGroupName: demo
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/demo/providers/Microsoft.ContainerInstance/containerGroups/demo1
                location: WestUs
                name: demo1
                properties:
                  containers:
                    - name: demo1
                      properties:
                        command: []
                        environmentVariables: []
                        image: nginx
                        ports:
                          - port: 80
                        resources:
                          requests:
                            cpu: 1
                            memoryInGB: 1.5
                        volumeMounts:
                          - mountPath: /mnt/volume1
                            name: volume1
                            readOnly: false
                  imageRegistryCredentials:
                    - server: azcloudconsoleregistry.azurecr.io
                      username: azcloudconsoleregistry
                  ipAddress:
                    ip: 10.0.0.1
                    ports:
                      - port: 80
                        protocol: TCP
                    type: Public
                  osType: Linux
                  provisioningState: Succeeded
                  volumes:
                    - azureFile:
                        readOnly: false
                        shareName: share1
                        storageAccountName: storage1
                      name: volume1
                type: Microsoft.ContainerInstance/containerGroups
    patch:
      description: Updates container group tags with specified values.
      operationId: ContainerGroups_Update
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ContainerGroupNameParameter"
        - description: The container group resource with just the tags to be updated.
          in: body
          name: Resource
          required: true
          schema:
            $ref: "#/definitions/Resource"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ContainerGroup"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Update container groups.
      x-ms-examples:
        ContainerGroupsUpdate:
          parameters:
            Resource:
              tags:
                tag1key: tag1Value
                tag2key: tag2Value
            api-version: 2018-10-01
            containerGroupName: demo1
            resourceGroupName: demoResource
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/demoResource/providers/Microsoft.ContainerInstance/containerGroups/demo1
                location: WestUs
                name: demo1
                properties:
                  containers:
                    - name: demo1
                      properties:
                        command: []
                        environmentVariables: []
                        image: nginx
                        ports:
                          - port: 80
                        resources:
                          requests:
                            cpu: 1
                            memoryInGB: 1.5
                        volumeMounts:
                          - mountPath: /mnt/volume1
                            name: volume1
                            readOnly: false
                          - mountPath: /mnt/volume2
                            name: volume2
                            readOnly: false
                          - mountPath: /mnt/volume3
                            name: volume3
                            readOnly: true
                  imageRegistryCredentials: []
                  ipAddress:
                    dnsNameLabel: dnsnamelabel1
                    fqdn: dnsnamelabel1.azure-container.io
                    ip: 10.0.0.1
                    ports:
                      - port: 80
                        protocol: TCP
                    type: Public
                  osType: Linux
                  provisioningState: Succeeded
                  volumes:
                    - azureFile:
                        shareName: shareName
                        storageAccountName: accountName
                      name: volume1
                    - emptyDir: {}
                      name: volume2
                    - name: volume3
                      secret: {}
                tags:
                  tag1key: tag1Value
                  tag2key: tag2Value
                type: Microsoft.ContainerInstance/containerGroups
    put:
      description: Create or update container groups with specified configurations.
      operationId: ContainerGroups_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ContainerGroupNameParameter"
        - description: The properties of the container group to be created or updated.
          in: body
          name: containerGroup
          required: true
          schema:
            $ref: "#/definitions/ContainerGroup"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ContainerGroup"
        "201":
          description: Created - the container group is created.
          schema:
            $ref: "#/definitions/ContainerGroup"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Create or update container groups.
      x-ms-examples:
        ContainerGroupsCreateOrUpdate:
          parameters:
            api-version: 2018-10-01
            containerGroup:
              id: /subscriptions/subid/resourceGroups/demo/providers/Microsoft.ContainerInstance/containerGroups/demo1
              identity:
                type: SystemAssigned, UserAssigned
                userAssignedIdentities:
                  /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity-name: {}
              location: west us
              name: demo1
              properties:
                containers:
                  - name: demo1
                    properties:
                      command: []
                      environmentVariables: []
                      image: nginx
                      ports:
                        - port: 80
                      resources:
                        requests:
                          cpu: 1
                          gpu:
                            count: 1
                            sku: K80
                          memoryInGB: 1.5
                      volumeMounts:
                        - mountPath: /mnt/volume1
                          name: volume1
                          readOnly: false
                        - mountPath: /mnt/volume2
                          name: volume2
                          readOnly: false
                        - mountPath: /mnt/volume3
                          name: volume3
                          readOnly: true
                diagnostics:
                  logAnalytics:
                    logType: ContainerInsights
                    metadata:
                      test-key: test-metadata-value
                    workspaceId: workspaceid
                    workspaceKey: workspaceKey
                dnsConfig:
                  nameServers:
                    - 1.1.1.1
                  options: ndots:2
                  searchDomains: cluster.local svc.cluster.local
                imageRegistryCredentials: []
                ipAddress:
                  dnsNameLabel: dnsnamelabel1
                  ports:
                    - port: 80
                      protocol: TCP
                  type: Public
                networkProfile:
                  id: test-network-profile-id
                osType: Linux
                volumes:
                  - azureFile:
                      shareName: shareName
                      storageAccountKey: accountKey
                      storageAccountName: accountName
                    name: volume1
                  - emptyDir: {}
                    name: volume2
                  - name: volume3
                    secret:
                      secretKey1: SecretValue1InBase64
                      secretKey2: SecretValue2InBase64
              type: Microsoft.ContainerInstance/containerGroups
            containerGroupName: demo1
            resourceGroupName: demo
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/demo/providers/Microsoft.ContainerInstance/containerGroups/demo1
                location: WestUs
                name: demo1
                properties:
                  containers:
                    - name: demo1
                      properties:
                        command: []
                        environmentVariables: []
                        image: nginx
                        ports:
                          - port: 80
                        resources:
                          requests:
                            cpu: 1
                            gpu:
                              count: 1
                              sku: K80
                            memoryInGB: 1.5
                        volumeMounts:
                          - mountPath: /mnt/volume1
                            name: volume1
                            readOnly: false
                          - mountPath: /mnt/volume2
                            name: volume2
                            readOnly: false
                          - mountPath: /mnt/volume3
                            name: volume3
                            readOnly: true
                  diagnostics:
                    logAnalytics:
                      workspaceId: workspaceid
                      workspaceKey: ""
                  dnsConfig:
                    nameServers:
                      - 1.1.1.1
                    options: ndots:2
                    searchDomains: cluster.local svc.cluster.local
                  imageRegistryCredentials: []
                  ipAddress:
                    dnsNameLabel: dnsnamelabel1
                    fqdn: dnsnamelabel1.azure-container.io
                    ip: 10.0.0.1
                    ports:
                      - port: 80
                        protocol: TCP
                    type: Public
                  osType: Linux
                  provisioningState: Succeeded
                  volumes:
                    - azureFile:
                        shareName: shareName
                        storageAccountName: accountName
                      name: volume1
                    - emptyDir: {}
                      name: volume2
                    - name: volume3
                      secret: {}
                type: Microsoft.ContainerInstance/containerGroups
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/demo/providers/Microsoft.ContainerInstance/containerGroups/demo1
                location: WestUs
                name: demo1
                properties:
                  containers:
                    - name: demo1
                      properties:
                        command: []
                        environmentVariables: []
                        image: nginx
                        ports:
                          - port: 80
                        resources:
                          requests:
                            cpu: 1
                            gpu:
                              count: 1
                              sku: K80
                            memoryInGB: 1.5
                        volumeMounts:
                          - mountPath: /mnt/volume1
                            name: volume1
                            readOnly: false
                          - mountPath: /mnt/volume2
                            name: volume2
                            readOnly: false
                          - mountPath: /mnt/volume3
                            name: volume3
                            readOnly: true
                  dnsConfig:
                    nameServers:
                      - 1.1.1.1
                  imageRegistryCredentials: []
                  ipAddress:
                    dnsNameLabel: dnsnamelabel1
                    fqdn: dnsnamelabel1.azure-container.io
                    ip: 10.0.0.1
                    ports:
                      - port: 80
                        protocol: TCP
                    type: Public
                  osType: Linux
                  provisioningState: Succeeded
                  volumes:
                    - azureFile:
                        shareName: shareName
                        storageAccountName: accountName
                      name: volume1
                    - emptyDir: {}
                      name: volume2
                    - name: volume3
                      secret: {}
                type: Microsoft.ContainerInstance/containerGroups
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/containers/{containerName}/exec":
    post:
      description: Executes a command for a specific container instance in a specified resource group and container group.
      operationId: Container_ExecuteCommand
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ContainerGroupNameParameter"
        - description: The name of the container instance.
          in: path
          name: containerName
          required: true
          type: string
        - description: The request for the exec command.
          in: body
          name: containerExecRequest
          required: true
          schema:
            $ref: "#/definitions/ContainerExecRequest"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ContainerExecResponse"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Executes a command in a specific container instance.
      x-ms-examples:
        ContainerExec:
          parameters:
            api-version: 2018-10-01
            containerExecRequest:
              command: /bin/bash
              terminalSize:
                column: 12
                row: 12
            containerGroupName: demo1
            containerName: container1
            resourceGroupName: demo
            subscriptionId: subid
          responses:
            "200":
              body:
                password: password
                webSocketUri: wss://web-socket-uri
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/containers/{containerName}/logs":
    get:
      description: Get the logs for a specified container instance in a specified resource group and container group.
      operationId: Container_ListLogs
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ContainerGroupNameParameter"
        - description: The name of the container instance.
          in: path
          name: containerName
          required: true
          type: string
        - description: The number of lines to show from the tail of the container instance log. If not provided, all available logs are shown up to 4mb.
          in: query
          name: tail
          type: integer
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Logs"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Get the logs for a specified container instance.
      x-ms-examples:
        ContainerListLogs:
          parameters:
            api-version: 2018-10-01
            containerGroupName: demo1
            containerName: container1
            resourceGroupName: demo
            subscriptionId: subid
            tail: 10
          responses:
            "200":
              body:
                content: log content
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/restart":
    post:
      description: Restarts all containers in a container group in place. If container image has updates, new image will be downloaded.
      operationId: ContainerGroups_Restart
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ContainerGroupNameParameter"
      responses:
        "204":
          description: NoContent
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Restarts all containers in a container group.
      x-ms-examples:
        ContainerRestart:
          parameters:
            api-version: 2018-10-01
            containerGroupName: demo1
            resourceGroupName: demo
            subscriptionId: subid
          responses:
            "204": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/start":
    post:
      description: Starts all containers in a container group.
      operationId: ContainerGroups_Start
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ContainerGroupNameParameter"
      responses:
        "204":
          description: NoContent
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Starts all containers in a container group.
      x-ms-examples:
        ContainerStart:
          parameters:
            api-version: 2018-10-01
            containerGroupName: demo1
            resourceGroupName: demo
            subscriptionId: subid
          responses:
            "204": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/stop":
    post:
      description: Stops all containers in a container group. Compute resources will be deallocated and billing will stop.
      operationId: ContainerGroups_Stop
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ContainerGroupNameParameter"
      responses:
        "204":
          description: NoContent
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Stops all containers in a container group.
      x-ms-examples:
        ContainerStop:
          parameters:
            api-version: 2018-10-01
            containerGroupName: demo1
            resourceGroupName: demo
            subscriptionId: subid
          responses:
            "204": {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/subnets/{subnetName}/providers/Microsoft.ContainerInstance/serviceAssociationLinks/default":
    delete:
      description: Delete the container instance service association link for the subnet. This operation unblocks user from deleting subnet.
      operationId: ServiceAssociationLink_Delete
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/VirtualNetworkNameParameter"
        - $ref: "#/parameters/SubnetNameParameter"
      responses:
        "200":
          description: OK
        "204":
          description: No Content - the specified service association link was not found.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Delete the container instance service association link for the subnet.
      x-ms-examples:
        ContainerGroupsDelete:
          parameters:
            api-version: 2018-09-01
            resourceGroupName: demo
            subnetName: demo1
            subscriptionId: subid
            virtualNetworkName: demo1
          responses:
            "200": {}
            "204": {}
definitions:
  AzureFileVolume:
    description: The properties of the Azure File volume. Azure File shares are mounted as volumes.
    properties:
      readOnly:
        description: The flag indicating whether the Azure File shared mounted as a volume is read-only.
        type: boolean
      shareName:
        description: The name of the Azure File share to be mounted as a volume.
        type: string
      storageAccountKey:
        description: The storage account access key used to access the Azure File share.
        type: string
      storageAccountName:
        description: The name of the storage account that contains the Azure File share.
        type: string
    required:
      - shareName
      - storageAccountName
    type: object
  CachedImagesListResult:
    description: The response containing cached images.
    properties:
      nextLink:
        description: The URI to fetch the next page of cached images.
        type: string
      value:
        description: The list of cached images.
        items:
          $ref: "#/definitions/cachedImages"
        type: array
    type: object
  Capabilities:
    description: The regional capabilities.
    properties:
      capabilities:
        description: The supported capabilities.
        properties:
          maxCpu:
            description: The maximum allowed CPU request in cores.
            readOnly: true
            type: number
          maxGpuCount:
            description: The maximum allowed GPU count.
            readOnly: true
            type: number
          maxMemoryInGB:
            description: The maximum allowed memory request in GB.
            readOnly: true
            type: number
        readOnly: true
        type: object
      gpu:
        description: The GPU sku that this capability describes.
        readOnly: true
        type: string
      ipAddressType:
        description: The ip address type that this capability describes.
        readOnly: true
        type: string
      location:
        description: The resource location.
        readOnly: true
        type: string
      osType:
        description: The OS type that this capability describes.
        readOnly: true
        type: string
      resourceType:
        description: The resource type that this capability describes.
        readOnly: true
        type: string
    type: object
  CapabilitiesListResult:
    description: The response containing list of capabilities.
    properties:
      nextLink:
        description: The URI to fetch the next page of capabilities.
        type: string
      value:
        description: The list of capabilities.
        items:
          $ref: "#/definitions/Capabilities"
        type: array
    type: object
  CloudError:
    description: An error response from the Batch service.
    properties:
      error:
        $ref: "#/definitions/CloudErrorBody"
    x-ms-external: true
  CloudErrorBody:
    description: An error response from the Batch service.
    properties:
      code:
        description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        type: string
      details:
        description: A list of additional details about the error.
        items:
          $ref: "#/definitions/CloudErrorBody"
        type: array
      message:
        description: A message describing the error, intended to be suitable for display in a user interface.
        type: string
      target:
        description: The target of the particular error. For example, the name of the property in error.
        type: string
    x-ms-external: true
  Container:
    description: A container instance.
    properties:
      name:
        description: The user-provided name of the container instance.
        type: string
      properties:
        $ref: "#/definitions/ContainerProperties"
        description: The properties of the container instance.
        x-ms-client-flatten: true
    required:
      - properties
      - name
    type: object
  ContainerExec:
    description: The container execution command, for liveness or readiness probe
    properties:
      command:
        description: The commands to execute within the container.
        items:
          type: string
        type: array
    type: object
  ContainerExecRequest:
    description: The container exec request.
    properties:
      command:
        description: The command to be executed.
        type: string
      terminalSize:
        description: The size of the terminal.
        properties:
          cols:
            description: The column size of the terminal
            type: integer
          rows:
            description: The row size of the terminal
            type: integer
        type: object
    type: object
  ContainerExecResponse:
    description: The information for the container exec command.
    properties:
      password:
        description: The password to start the exec command.
        type: string
      webSocketUri:
        description: The uri for the exec websocket.
        type: string
    type: object
  ContainerGroup:
    allOf:
      - $ref: "#/definitions/Resource"
      - properties:
          identity:
            $ref: "#/definitions/ContainerGroupIdentity"
            description: The identity of the container group, if configured.
          properties:
            properties:
              containers:
                description: The containers within the container group.
                items:
                  $ref: "#/definitions/Container"
                type: array
              diagnostics:
                $ref: "#/definitions/ContainerGroupDiagnostics"
                description: The diagnostic information for a container group.
              dnsConfig:
                $ref: "#/definitions/DnsConfiguration"
                description: The DNS config information for a container group.
              imageRegistryCredentials:
                description: The image registry credentials by which the container group is created from.
                items:
                  $ref: "#/definitions/ImageRegistryCredential"
                type: array
              instanceView:
                description: The instance view of the container group. Only valid in response.
                properties:
                  events:
                    description: The events of this container group.
                    items:
                      $ref: "#/definitions/Event"
                    readOnly: true
                    type: array
                  state:
                    description: The state of the container group. Only valid in response.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
              ipAddress:
                $ref: "#/definitions/IpAddress"
                description: The IP address type of the container group.
              networkProfile:
                $ref: "#/definitions/ContainerGroupNetworkProfile"
                description: The network profile information for a container group.
              osType:
                description: The operating system type required by the containers in the container group.
                enum:
                  - Windows
                  - Linux
                type: string
                x-ms-enum:
                  modelAsString: true
                  name: OperatingSystemTypes
              provisioningState:
                description: The provisioning state of the container group. This only appears in the response.
                readOnly: true
                type: string
              restartPolicy:
                description: |
                  Restart policy for all containers within the container group. 
                  - `Always` Always restart
                  - `OnFailure` Restart on failure
                  - `Never` Never restart
                enum:
                  - Always
                  - OnFailure
                  - Never
                type: string
                x-ms-enum:
                  modelAsString: true
                  name: ContainerGroupRestartPolicy
              volumes:
                description: The list of volumes that can be mounted by containers in this container group.
                items:
                  $ref: "#/definitions/Volume"
                type: array
            required:
              - containers
              - osType
            type: object
            x-ms-client-flatten: true
        required:
          - properties
        type: object
    description: A container group.
  ContainerGroupDiagnostics:
    description: Container group diagnostic information.
    properties:
      logAnalytics:
        $ref: "#/definitions/LogAnalytics"
        description: Container group log analytics information.
    type: object
  ContainerGroupIdentity:
    description: Identity for the container group.
    properties:
      principalId:
        description: The principal id of the container group identity. This property will only be provided for a system assigned identity.
        readOnly: true
        type: string
      tenantId:
        description: The tenant id associated with the container group. This property will only be provided for a system assigned identity.
        readOnly: true
        type: string
      type:
        description: The type of identity used for the container group. The type 'SystemAssigned, UserAssigned' includes both an implicitly created identity and a set of user assigned identities. The type 'None' will remove any identities from the container group.
        enum:
          - SystemAssigned
          - UserAssigned
          - SystemAssigned, UserAssigned
          - None
        type: string
        x-ms-enum:
          modelAsString: false
          name: ResourceIdentityType
      userAssignedIdentities:
        additionalProperties:
          properties:
            clientId:
              description: The client id of user assigned identity.
              readOnly: true
              type: string
            principalId:
              description: The principal id of user assigned identity.
              readOnly: true
              type: string
          type: object
        description: "The list of user identities associated with the container group. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."
        type: object
  ContainerGroupListResult:
    description: The container group list response that contains the container group properties.
    properties:
      nextLink:
        description: The URI to fetch the next page of container groups.
        type: string
      value:
        description: The list of container groups.
        items:
          $ref: "#/definitions/ContainerGroup"
        type: array
    type: object
  ContainerGroupNetworkProfile:
    description: Container group network profile information.
    properties:
      id:
        description: The identifier for a network profile.
        type: string
    required:
      - id
    type: object
  ContainerHttpGet:
    description: The container Http Get settings, for liveness or readiness probe
    properties:
      path:
        description: The path to probe.
        type: string
      port:
        description: The port number to probe.
        format: int32
        type: integer
      scheme:
        description: The scheme.
        enum:
          - http
          - https
        type: string
    required:
      - port
    type: object
  ContainerPort:
    description: The port exposed on the container instance.
    properties:
      port:
        description: The port number exposed within the container group.
        format: int32
        type: integer
      protocol:
        description: The protocol associated with the port.
        enum:
          - TCP
          - UDP
        type: string
        x-ms-enum:
          modelAsString: true
          name: ContainerNetworkProtocol
    required:
      - port
    type: object
  ContainerProbe:
    description: The container probe, for liveness or readiness
    properties:
      exec:
        $ref: "#/definitions/ContainerExec"
        description: The execution command to probe
      failureThreshold:
        description: The failure threshold.
        format: int32
        type: integer
      httpGet:
        $ref: "#/definitions/ContainerHttpGet"
        description: The Http Get settings to probe
      initialDelaySeconds:
        description: The initial delay seconds.
        format: int32
        type: integer
      periodSeconds:
        description: The period seconds.
        format: int32
        type: integer
      successThreshold:
        description: The success threshold.
        format: int32
        type: integer
      timeoutSeconds:
        description: The timeout seconds.
        format: int32
        type: integer
    type: object
  ContainerProperties:
    description: The container instance properties.
    properties:
      command:
        description: The commands to execute within the container instance in exec form.
        items:
          type: string
        type: array
      environmentVariables:
        description: The environment variables to set in the container instance.
        items:
          $ref: "#/definitions/EnvironmentVariable"
        type: array
      image:
        description: The name of the image used to create the container instance.
        type: string
      instanceView:
        description: The instance view of the container instance. Only valid in response.
        properties:
          currentState:
            $ref: "#/definitions/ContainerState"
            description: Current container instance state.
            readOnly: true
          events:
            description: The events of the container instance.
            items:
              $ref: "#/definitions/Event"
            readOnly: true
            type: array
          previousState:
            $ref: "#/definitions/ContainerState"
            description: Previous container instance state.
            readOnly: true
          restartCount:
            description: The number of times that the container instance has been restarted.
            readOnly: true
            type: integer
        readOnly: true
        type: object
      livenessProbe:
        $ref: "#/definitions/ContainerProbe"
        description: The liveness probe.
      ports:
        description: The exposed ports on the container instance.
        items:
          $ref: "#/definitions/ContainerPort"
        type: array
      readinessProbe:
        $ref: "#/definitions/ContainerProbe"
        description: The readiness probe.
      resources:
        $ref: "#/definitions/ResourceRequirements"
        description: The resource requirements of the container instance.
      volumeMounts:
        description: The volume mounts available to the container instance.
        items:
          $ref: "#/definitions/VolumeMount"
        type: array
    required:
      - image
      - resources
    type: object
  ContainerState:
    description: The container instance state.
    properties:
      detailStatus:
        description: The human-readable status of the container instance state.
        type: string
      exitCode:
        description: The container instance exit codes correspond to those from the `docker run` command.
        type: integer
      finishTime:
        description: The date-time when the container instance state finished.
        format: date-time
        type: string
      startTime:
        description: The date-time when the container instance state started.
        format: date-time
        type: string
      state:
        description: The state of the container instance.
        type: string
    type: object
  DnsConfiguration:
    description: DNS configuration for the container group.
    properties:
      nameServers:
        description: The DNS servers for the container group.
        items:
          type: string
        type: array
      options:
        description: The DNS options for the container group.
        type: string
      searchDomains:
        description: The DNS search domains for hostname lookup in the container group.
        type: string
    required:
      - nameServers
    type: object
  EmptyDirVolume:
    description: The empty directory volume.
    properties: {}
    type: object
  EnvironmentVariable:
    description: The environment variable to set within the container instance.
    properties:
      name:
        description: The name of the environment variable.
        type: string
      secureValue:
        description: The value of the secure environment variable.
        type: string
      value:
        description: The value of the environment variable.
        type: string
    required:
      - name
    type: object
  Event:
    description: A container group or container instance event.
    properties:
      count:
        description: The count of the event.
        type: integer
      firstTimestamp:
        description: The date-time of the earliest logged event.
        format: date-time
        type: string
      lastTimestamp:
        description: The date-time of the latest logged event.
        format: date-time
        type: string
      message:
        description: The event message.
        type: string
      name:
        description: The event name.
        type: string
      type:
        description: The event type.
        type: string
    type: object
  GitRepoVolume:
    description: Represents a volume that is populated with the contents of a git repository
    properties:
      directory:
        description: Target directory name. Must not contain or start with '..'.  If '.' is supplied, the volume directory will be the git repository.  Otherwise, if specified, the volume will contain the git repository in the subdirectory with the given name.
        type: string
      repository:
        description: Repository URL
        type: string
      revision:
        description: Commit hash for the specified revision.
        type: string
    required:
      - repository
  GpuResource:
    description: The GPU resource.
    properties:
      count:
        description: The count of the GPU resource.
        format: int32
        type: integer
      sku:
        description: The SKU of the GPU resource.
        enum:
          - K80
          - P100
          - V100
        type: string
        x-ms-enum:
          modelAsString: true
          name: GpuSku
    required:
      - count
      - sku
    type: object
  ImageRegistryCredential:
    description: Image registry credential.
    properties:
      password:
        description: The password for the private registry.
        type: string
      server:
        description: The Docker image registry server without a protocol such as "http" and "https".
        type: string
      username:
        description: The username for the private registry.
        type: string
    required:
      - server
      - username
    type: object
  IpAddress:
    description: IP address for the container group.
    properties:
      dnsNameLabel:
        description: The Dns name label for the IP.
        type: string
      fqdn:
        description: The FQDN for the IP.
        readOnly: true
        type: string
      ip:
        description: The IP exposed to the public internet.
        type: string
      ports:
        description: The list of ports exposed on the container group.
        items:
          $ref: "#/definitions/Port"
        type: array
      type:
        description: Specifies if the IP is exposed to the public internet or private VNET.
        enum:
          - Public
          - Private
        type: string
        x-ms-enum:
          modelAsString: true
          name: ContainerGroupIpAddressType
    required:
      - ports
      - type
    type: object
  LogAnalytics:
    description: Container group log analytics information.
    properties:
      logType:
        description: The log type to be used.
        enum:
          - ContainerInsights
          - ContainerInstanceLogs
        type: string
        x-ms-enum:
          modelAsString: true
          name: LogAnalyticsLogType
      metadata:
        additionalProperties:
          type: string
        description: Metadata for log analytics.
        type: object
      workspaceId:
        description: The workspace id for log analytics
        type: string
      workspaceKey:
        description: The workspace key for log analytics
        type: string
    required:
      - workspaceId
      - workspaceKey
    type: object
  Logs:
    description: The logs.
    properties:
      content:
        description: The content of the log.
        type: string
    type: object
  Operation:
    description: An operation for Azure Container Instance service.
    properties:
      display:
        description: The display information of the operation.
        properties:
          description:
            description: The description of the operation.
            type: string
          operation:
            description: The friendly name of the operation.
            type: string
          provider:
            description: The name of the provider of the operation.
            type: string
          resource:
            description: The name of the resource type of the operation.
            type: string
        type: object
      name:
        description: The name of the operation.
        type: string
      origin:
        description: The intended executor of the operation.
        enum:
          - User
          - System
        type: string
        x-ms-enum:
          modelAsString: true
          name: ContainerInstanceOperationsOrigin
      properties:
        description: The additional properties.
        type: object
    required:
      - name
      - display
    type: object
  OperationListResult:
    description: The operation list response that contains all operations for Azure Container Instance service.
    properties:
      nextLink:
        description: The URI to fetch the next page of operations.
        type: string
      value:
        description: The list of operations.
        items:
          $ref: "#/definitions/Operation"
        type: array
    type: object
  Port:
    description: The port exposed on the container group.
    properties:
      port:
        description: The port number.
        format: int32
        type: integer
      protocol:
        description: The protocol associated with the port.
        enum:
          - TCP
          - UDP
        type: string
        x-ms-enum:
          modelAsString: true
          name: ContainerGroupNetworkProtocol
    required:
      - port
    type: object
  Resource:
    description: The Resource model definition.
    properties:
      id:
        description: The resource id.
        readOnly: true
        type: string
      location:
        description: The resource location.
        type: string
      name:
        description: The resource name.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: The resource tags.
        type: object
      type:
        description: The resource type.
        readOnly: true
        type: string
    type: object
    x-ms-azure-resource: true
  ResourceLimits:
    description: The resource limits.
    properties:
      cpu:
        description: The CPU limit of this container instance.
        format: double
        type: number
      gpu:
        $ref: "#/definitions/GpuResource"
        description: The GPU limit of this container instance.
      memoryInGB:
        description: The memory limit in GB of this container instance.
        format: double
        type: number
    type: object
  ResourceRequests:
    description: The resource requests.
    properties:
      cpu:
        description: The CPU request of this container instance.
        format: double
        type: number
      gpu:
        $ref: "#/definitions/GpuResource"
        description: The GPU request of this container instance.
      memoryInGB:
        description: The memory request in GB of this container instance.
        format: double
        type: number
    required:
      - memoryInGB
      - cpu
    type: object
  ResourceRequirements:
    description: The resource requirements.
    properties:
      limits:
        $ref: "#/definitions/ResourceLimits"
        description: The resource limits of this container instance.
      requests:
        $ref: "#/definitions/ResourceRequests"
        description: The resource requests of this container instance.
    required:
      - requests
    type: object
  SecretVolume:
    additionalProperties:
      type: string
    description: The secret volume.
    type: object
  Usage:
    description: A single usage result
    properties:
      currentValue:
        description: The current usage of the resource
        readOnly: true
        type: integer
      limit:
        description: The maximum permitted usage of the resource.
        readOnly: true
        type: integer
      name:
        description: The name object of the resource
        properties:
          localizedValue:
            description: The localized name of the resource
            readOnly: true
            type: string
          value:
            description: The name of the resource
            readOnly: true
            type: string
        readOnly: true
        type: object
      unit:
        description: Unit of the usage result
        readOnly: true
        type: string
    type: object
  UsageListResult:
    description: The response containing the usage data
    properties:
      value:
        items:
          $ref: "#/definitions/Usage"
        readOnly: true
        type: array
    type: object
  Volume:
    description: The properties of the volume.
    properties:
      azureFile:
        $ref: "#/definitions/AzureFileVolume"
        description: The Azure File volume.
      emptyDir:
        $ref: "#/definitions/EmptyDirVolume"
        description: The empty directory volume.
      gitRepo:
        $ref: "#/definitions/GitRepoVolume"
        description: The git repo volume.
      name:
        description: The name of the volume.
        type: string
      secret:
        $ref: "#/definitions/SecretVolume"
        description: The secret volume.
    required:
      - name
    type: object
  VolumeMount:
    description: The properties of the volume mount.
    properties:
      mountPath:
        description: The path within the container where the volume should be mounted. Must not contain colon (:).
        type: string
      name:
        description: The name of the volume mount.
        type: string
      readOnly:
        description: The flag indicating whether the volume mount is read-only.
        type: boolean
    required:
      - name
      - mountPath
    type: object
  cachedImages:
    description: The cached image and OS type.
    properties:
      id:
        description: The resource Id of the cached image.
        type: string
      image:
        description: The cached image name.
        type: string
      osType:
        description: The OS type of the cached image.
        type: string
    required:
      - osType
      - image
    type: object
