openapi: 3.0.0
servers:
  - description: The Xero Accounting API exposes accounting and related functions of the main Xero application and can be used for a variety of purposes such as creating transactions like invoices and credit notes, right through to extracting accounting data via our reports endpoint.
    url: https://api.xero.com/api.xro/2.0
x-hasEquivalentPaths: true
info:
  contact:
    email: api@xero.com
    name: Xero Platform Team
    url: https://developer.xero.com
    x-twitter: XeroAPI
  termsOfService: https://developer.xero.com/xero-developer-platform-terms-conditions/
  title: Xero Accounting API
  version: 2.9.4
  x-apisguru-categories:
    - financial
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/XeroAPI/Xero-OpenAPI/master/xero_accounting.yaml
      version: "3.0"
  x-providerName: xero.com
  x-serviceName: xero_accounting
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg
paths:
  /Accounts:
    get:
      operationId: getAccounts
      parameters:
        - $ref: "#/components/parameters/ifModifiedSince"
        - description: Filter by an any element
          example: Status==&quot;ACTIVE&quot; AND Type==&quot;BANK&quot;
          in: query
          name: where
          schema:
            type: string
          x-example-java: Status==&quot;&apos; + Account.StatusEnum.ACTIVE+ &apos;&quot;
          x-example-php: Status==&quot;&apos; . \XeroAPI\XeroPHP\Models\Accounting\Account::STATUS_ACTIVE . &apos;&quot;
          x-ruby-param: Status==#{XeroRuby::Accounting::Account::ACTIVE}
        - description: Order by an any element
          example: Name ASC
          in: query
          name: order
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              example: '{ "Accounts": [{ "AccountID": "ebd06280-af70-4bed-97c6-7451a454ad85", "Code": "091", "Name": "Business Savings Account", "Type": "BANK", "TaxType": "NONE", "EnablePaymentsToAccount": false, "BankAccountNumber": "0209087654321050", "BankAccountType": "BANK", "CurrencyCode": "NZD" },{ "AccountID": "7d05a53d-613d-4eb2-a2fc-dcb6adb80b80", "Code": "200", "Name": "Sales", "Type": "REVENUE", "TaxType": "OUTPUT2", "Description": "Income from any normal business activity", "EnablePaymentsToAccount": false }] }'
              schema:
                $ref: "#/components/schemas/Accounts"
          description: Success - return response of type Accounts array with 0 to n Account
      security:
        - OAuth2:
            - accounting.settings
      summary: Retrieves the full chart of accounts
      tags:
        - Accounting
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
        type: string
    put:
      operationId: createAccount
      requestBody:
        content:
          application/json:
            example: '{ "Code":"123456", "Name":"Foobar", "Type":"EXPENSE", "Description":"Hello World" }'
            schema:
              $ref: "#/components/schemas/Account"
        description: Account object in body of request
        required: true
      responses:
        "200":
          content:
            application/json:
              example: '{ "Id": "11814c9d-3b5e-492e-93b0-fad16bf3244f", "Status": "OK", "ProviderName": "Xero API Partner", "DateTimeUTC": "\/Date(1550793549392)\/", "Accounts": [ { "AccountID": "66b262e2-561e-423e-8937-47d558f13442", "Code": "123456", "Name": "Foobar", "Status": "ACTIVE", "Type": "EXPENSE", "TaxType": "INPUT", "Description": "Hello World", "Class": "EXPENSE", "EnablePaymentsToAccount": false, "ShowInExpenseClaims": false, "ReportingCode": "EXP", "ReportingCodeName": "Expense", "UpdatedDateUTC": "\/Date(1550793549320+0000)\/" } ] }'
              schema:
                $ref: "#/components/schemas/Accounts"
          description: Success - created new Account and return response of type Accounts array with new Account
        "400":
          content:
            application/json:
              example: '{ "ErrorNumber": 10, "Type": "ValidationException", "Message": "A validation exception occurred", "Elements": [ { "AccountID": "00000000-0000-0000-0000-000000000000", "Code": "123456", "Name": "Foobar", "Type": "EXPENSE", "Description": "Hello World", "ValidationErrors": [ { "Message": "Please enter a unique Name." } ] } ] }'
              schema:
                $ref: "#/components/schemas/Error"
          description: Validation Error - some data was incorrect returns response of type Error
      security:
        - OAuth2:
            - accounting.settings
      summary: Creates a new chart of accounts
      tags:
        - Accounting
      x-example:
        - is_object: true
          key: account
          keyPascal: Account
          object: null
        - code: null
          default: 123456
          key: code
          keyPascal: Code
          object: account
        - default: FooBar
          key: name
          keyPascal: Name
          name: null
          object: account
        - csharp: Account.ClassEnum.EXPENSE
          default: EXPENSE
          java: com.xero.models.accounting.AccountType.EXPENSE
          key: type
          keyPascal: Type
          node: AccountType.EXPENSE
          nonString: true
          object: account
          php: XeroAPI\XeroPHP\Models\Accounting\AccountType::EXPENSE
          python: AccountType.EXPENSE
          ruby: XeroRuby::Accounting::AccountType::EXPENSE
          type: null
        - default: Hello World
          description: null
          is_last: true
          key: description
          keyPascal: Description
          object: account
      x-hasAccountingValidationError: true
      x-node-requestBody: '{ code: "123456", name: "Foobar", type: AccountType.EXPENSE, description: "Hello World" }'
      x-ruby-requestBody: 'account = { code: "123456", name: "Foobar", type: XeroRuby::Accounting::AccountType::EXPENSE, description: "Hello World" }'
  "/Accounts/{AccountID}":
    delete:
      operationId: deleteAccount
      parameters:
        - description: Unique identifier for retrieving single object
          example: 00000000-0000-0000-0000-000000000000
          in: path
          name: AccountID
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              example: '{ "Id": "76bb0543-8efe-4acc-b7f6-67dfcdec37b4", "Status": "OK", "ProviderName": "Xero API Partner", "DateTimeUTC": "\/Date(1550798217216)\/", "Accounts": [ { "AccountID": "7f3c0bec-f3e7-4073-b4d6-cc56dd027ef1", "Code": "123456", "Name": "FooBar", "Status": "DELETED", "Type": "EXPENSE", "TaxType": "INPUT", "Description": "Hello World", "Class": "EXPENSE", "EnablePaymentsToAccount": false, "ShowInExpenseClaims": false, "ReportingCode": "EXP", "ReportingCodeName": "Expense", "UpdatedDateUTC": "\/Date(1550798217210+0000)\/" } ] }'
              schema:
                $ref: "#/components/schemas/Accounts"
          description: Success - delete existing Account and return response of type Accounts array with deleted Account
        "400":
          content:
            application/json:
              example: '{ "ErrorNumber": 10, "Type": "ValidationException", "Message": "A validation exception occurred", "Elements": [ { "AccountID": "00000000-0000-0000-0000-000000000000", "Code": "123456", "Name": "Foobar", "Type": "EXPENSE", "Description": "Hello World", "ValidationErrors": [ { "Message": "Please enter a unique Name." } ] } ] }'
              schema:
                $ref: "#/components/schemas/Error"
          description: Validation Error - some data was incorrect returns response of type Error
      security:
        - OAuth2:
            - accounting.settings
      summary: Deletes a chart of accounts
      tags:
        - Accounting
      x-hasAccountingValidationError: true
    get:
      operationId: getAccount
      parameters:
        - description: Unique identifier for retrieving single object
          example: 00000000-0000-0000-0000-000000000000
          in: path
          name: AccountID
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              example: '{ "Id": "323455cc-9511-4451-a873-248d2983f38e", "Status": "OK", "ProviderName": "Xero API Partner", "DateTimeUTC": "\/Date(1550797359081)\/", "Accounts": [ { "AccountID": "99ce6032-0678-4aa0-8148-240c75fee33a", "Code": "123456", "Name": "FooBar", "Status": "ACTIVE", "Type": "EXPENSE", "TaxType": "INPUT", "Description": "Hello World", "Class": "EXPENSE", "EnablePaymentsToAccount": false, "ShowInExpenseClaims": false, "ReportingCode": "EXP", "ReportingCodeName": "Expense", "UpdatedDateUTC": "\/Date(1550797359120+0000)\/" } ] }'
              schema:
                $ref: "#/components/schemas/Accounts"
          description: Success - return response of type Accounts array with one Account
      security:
        - OAuth2:
            - accounting.settings
      summary: Retrieves a single chart of accounts by using a unique account Id
      tags:
        - Accounting
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    post:
      operationId: updateAccount
      parameters:
        - description: Unique identifier for retrieving single object
          example: 00000000-0000-0000-0000-000000000000
          in: path
          name: AccountID
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            example: '{   "Accounts":[   {   "Code":"123456", "Name":"BarFoo", "AccountID":"99ce6032-0678-4aa0-8148-240c75fee33a", "Type":"EXPENSE", "Description":"GoodBye World", "TaxType":"INPUT", "EnablePaymentsToAccount":false, "ShowInExpenseClaims":false, "Class":"EXPENSE", "ReportingCode":"EXP", "ReportingCodeName":"Expense", "UpdatedDateUTC":"2019-02-21T16:29:47.96-08:00" } ] }'
            schema:
              $ref: "#/components/schemas/Accounts"
        description: Request of type Accounts array with one Account
        required: true
      responses:
        "200":
          content:
            application/json:
              example: '{ "Id": "9012e75c-ec08-40a9-ae15-153fc1f35c4d", "Status": "OK", "ProviderName": "Xero API Partner", "DateTimeUTC": "\/Date(1550795389340)\/", "Accounts": [ { "AccountID": "99ce6032-0678-4aa0-8148-240c75fee33a", "Code": "654321", "Name": "BarFoo", "Status": "ACTIVE", "Type": "EXPENSE", "TaxType": "INPUT", "Description": "Good Bye World", "Class": "EXPENSE", "EnablePaymentsToAccount": false, "ShowInExpenseClaims": false, "ReportingCode": "EXP", "ReportingCodeName": "Expense", "UpdatedDateUTC": "\/Date(1550795389333+0000)\/" } ] }'
              schema:
                $ref: "#/components/schemas/Accounts"
          description: Success - update existing Account and return response of type Accounts array with updated Account
        "400":
          content:
            application/json:
              example: '{ "ErrorNumber": 10, "Type": "ValidationException", "Message": "A validation exception occurred", "Elements": [ { "AccountID": "00000000-0000-0000-0000-000000000000", "Code": "123456", "Name": "Foobar", "Type": "EXPENSE", "Description": "Hello World", "ValidationErrors": [ { "Message": "Please enter a unique Name." } ] } ] }'
              schema:
                $ref: "#/components/schemas/Error"
          description: Validation Error - some data was incorrect returns response of type Error
      security:
        - OAuth2:
            - accounting.settings
      summary: Updates a chart of accounts
      tags:
        - Accounting
      x-example:
        - account: null
          is_object: true
          key: account
          keyPascal: Account
        - code: null
          default: 123456
          key: code
          keyPascal: Code
          object: account
        - default: BarFoo
          key: name
          keyPascal: Name
          name: null
          object: account
        - csharp: Account.ClassEnum.EXPENSE
          default: EXPENSE
          java: com.xero.models.accounting.AccountType.EXPENSE
          key: type
          keyPascal: Type
          node: AccountType.EXPENSE
          nonString: true
          object: account
          php: XeroAPI\XeroPHP\Models\Accounting\AccountType::EXPENSE
          python: AccountType.EXPENSE
          ruby: XeroRuby::Accounting::AccountType::EXPENSE
          type: null
        - default: Hello World
          description: null
          key: description
          keyPascal: Description
          object: account
        - default: NONE
          is_last: true
          key: taxType
          keyPascal: TaxType
          keySnake: tax_type
          object: account
          taxType: null
        - accounts: null
          is_object: true
          key: accounts
          keyPascal: Accounts
        - accounts: null
          is_array_add: true
          is_last: true
          java: Accounts
          key: accounts
          keyPascal: Accounts
          object: account
      x-hasAccountingValidationError: true
      x-node-requestBody: '{ accounts: [{ code: "123456", name: "BarFoo", accountID: "00000000-0000-0000-0000-000000000000", type: AccountType.EXPENSE, description: "GoodBye World", taxType: TaxType.INPUT }]}'
      x-ruby-requestBody: '{ accounts: [{ code: "123456", name: "BarFoo", account_id: "00000000-0000-0000-0000-000000000000", type: XeroRuby::Accounting::Account::EXPENSE, description: "GoodBye World", tax_type: XeroRuby::Accounting::TaxType::NONE }]}'
  "/Accounts/{AccountID}/Attachments":
    get:
      operationId: getAccountAttachments
      parameters:
        - description: Unique identifier for Account object
          example: 00000000-0000-0000-0000-000000000000
          in: path
          name: AccountID
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              example: '{ "Id": "439c1573-3cd8-4697-a9f6-81fa651ee8f3", "Status": "OK", "ProviderName": "Xero API Partner", "DateTimeUTC": "\/Date(1550852630329)\/", "Attachments": [ { "AttachmentID": "52a643be-cd5c-489f-9778-53a9fd337756", "FileName": "sample5.jpg", "Url": "https://api.xero.com/api.xro/2.0/Accounts/da962997-a8bd-4dff-9616-01cdc199283f/Attachments/sample5.jpg", "MimeType": "image/jpg", "ContentLength": 2878711 } ] }'
              schema:
                $ref: "#/components/schemas/Attachments"
          description: Success - return response of type Attachments array of Attachment
          x-isAttachment: true
      security:
        - OAuth2:
            - accounting.attachments.read
      summary: Retrieves attachments for a specific accounts by using a unique account Id
      tags:
        - Accounting
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
  "/Accounts/{AccountID}/Attachments/{AttachmentID}":
    get:
      operationId: getAccountAttachmentById
      parameters:
        - description: Unique identifier for Account object
          example: 00000000-0000-0000-0000-000000000000
          in: path
          name: AccountID
          required: true
          schema:
            format: uuid
            type: string
        - description: Unique identifier for Attachment object
          example: 00000000-0000-0000-0000-000000000000
          in: path
          name: AttachmentID
          required: true
          schema:
            format: uuid
            type: string
        - description: The mime type of the attachment file you are retrieving i.e image/jpg, application/pdf
          example: image/jpg
          in: header
          name: contentType
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Success - return response of attachment for Account as binary data
      security:
        - OAuth2:
            - accounting.attachments.read
      summary: Retrieves a specific attachment from a specific account using a unique attachment Id
      tags:
        - Accounting
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
  "/Accounts/{AccountID}/Attachments/{FileName}":
    get:
      operationId: getAccountAttachmentByFileName
      parameters:
        - description: Unique identifier for Account object
          example: 00000000-0000-0000-0000-000000000000
          in: path
          name: AccountID
          required: true
          schema:
            format: uuid
            type: string
        - description: Name of the attachment
          example: xero-dev.jpg
          in: path
          name: FileName
          required: true
          schema:
            type: string
        - description: The mime type of the attachment file you are retrieving i.e image/jpg, application/pdf
          example: image/jpg
          in: header
          name: contentType
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Success - return response of attachment for Account as binary data
      security:
        - OAuth2:
            - accounting.attachments.read
      summary: Retrieves an attachment for a specific account by filename
      tags:
        - Accounting
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    post:
      operationId: updateAccountAttachmentByFileName
      parameters:
        - description: Unique identifier for Account object
          example: 00000000-0000-0000-0000-000000000000
          in: path
          name: AccountID
          required: true
          schema:
            format: uuid
            type: string
        - description: Name of the attachment
          example: xero-dev.jpg
          in: path
          name: FileName
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: byte
              type: string
        description: Byte array of file in body of request
        required: true
      responses:
        "200":
          content:
            application/json:
              example: '{ "Id": "c8d6413a-1da2-4faa-9848-21f60443e906", "Status": "OK", "ProviderName": "Xero API Partner", "DateTimeUTC": "\/Date(1550859714477)\/", "Attachments": [ { "AttachmentID": "3fa85f64-5717-4562-b3fc-2c963f66afa6", "FileName": "sample5.jpg", "Url": "https://api.xero.com/api.xro/2.0/Accounts/da962997-a8bd-4dff-9616-01cdc199283f/Attachments/sample5.jpg", "MimeType": "image/jpg", "ContentLength": 2878711 } ] }'
              schema:
                $ref: "#/components/schemas/Attachments"
          description: Success - return response of type Attachments array of Attachment
          x-isAttachment: true
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Validation Error - some data was incorrect returns response of type Error
      security:
        - OAuth2:
            - accounting.attachments
      summary: Updates attachment on a specific account by filename
      tags:
        - Accounting
      x-hasAccountingValidationError: true
    put:
      operationId: createAccountAttachmentByFileName
      parameters:
        - description: Unique identifier for Account object
          example: 00000000-0000-0000-0000-000000000000
          in: path
          name: AccountID
          required: true
          schema:
            format: uuid
            type: string
        - description: Name of the attachment
          example: xero-dev.jpg
          in: path
          name: FileName
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: byte
              type: string
        description: Byte array of file in body of request
        required: true
      responses:
        "200":
          content:
            application/json:
              example: '{ "Id": "724cdff5-bcd1-4c5c-977e-e864c24258e0", "Status": "OK", "ProviderName": "Xero API Partner", "DateTimeUTC": "\/Date(1550856817769)\/", "Attachments": [ { "AttachmentID": "ab95b276-9dce-4925-9077-439818ba270f", "FileName": "sample5.jpg", "Url": "https://api.xero.com/api.xro/2.0/Accounts/da962997-a8bd-4dff-9616-01cdc199283f/Attachments/sample5.jpg", "MimeType": "image/jpg", "ContentLength": 2878711 } ] }'
              schema:
                $ref: "#/components/schemas/Attachments"
          description: Success - return response of type Attachments array of Attachment
          x-isAttachment: true
        "400":
          $ref: "#/components/responses/400Error"
      security:
        - OAuth2:
            - accounting.attachments
      summary: Creates an attachment on a specific account
      tags:
        - Accounting
      x-hasAccountingValidationError: true
  /BankTransactions:
    get:
      operationId: getBankTransactions
      parameters:
        - $ref: "#/components/parameters/ifModifiedSince"
        - description: Filter by an any element
          example: Status=="AUTHORISED"
          in: query
          name: where
          schema:
            type: string
          x-example-java: Status==&quot;&apos; + BankTransaction.StatusEnum.AUTHORISED + &apos;&quot;
          x-example-php: Status==&quot;&apos; . XeroAPI\XeroPHP\Models\Accounting\BankTransaction::STATUS_AUTHORISED . &apos;&quot;
          x-ruby-param: Status==#{XeroRuby::Accounting::BankTransaction::AUTHORISED}
        - description: Order by an any element
          example: Type ASC
          in: query
          name: order
          schema:
            type: string
        - description: Up to 100 bank transactions will be returned in a single API call with line items details
          example: 1
          in: query
          name: page
          schema:
            type: integer
        - $ref: "#/components/parameters/unitdp"
      responses:
        "200":
          content:
            application/json:
              example: '{ "Id": "18e7e80c-5dca-4a57-974e-8b572cc5efe8", "Status": "OK", "ProviderName": "Xero API Partner", "DateTimeUTC": "/Date(1551212901659)/", "BankTransactions": [ { "BankTransactionID": "db54aab0-ad40-4ced-bcff-0940ba20db2c", "BankAccount": { "AccountID": "6f7594f2-f059-4d56-9e67-47ac9733bfe9", "Code": "088", "Name": "Business Wells Fargo" }, "BatchPayment": { "Account": { "AccountID": "6f7594f2-f059-4d56-9e67-47ac9733bfe9" }, "BatchPaymentID": "b54aa50c-794c-461b-89d1-846e1b84d9c0", "Date": "/Date(1476316800000+0000)/", "Type": "RECBATCH", "Status": "AUTHORISED", "TotalAmount": "12.00", "UpdatedDateUTC": "/Date(1476392487037+0000)/", "IsReconciled": "false" }, "Type": "RECEIVE", "IsReconciled": false, "PrepaymentID": "cb62750f-b49c-464b-a45b-e2e2c514c8a9", "HasAttachments": true, "Contact": { "ContactID": "9c2c64de-12c9-4167-b503-e2c0e1aa1f49", "Name": "sam", "Addresses": [], "Phones": [], "ContactGroups": [], "ContactPersons": [], "HasValidationErrors": false }, "DateString": "2016-10-13T00:00:00", "Date": "/Date(1476316800000+0000)/", "Status": "AUTHORISED", "LineAmountTypes": "Exclusive", "LineItems": [], "SubTotal": 10, "TotalTax": 0, "Total": 10, "UpdatedDateUTC": "/Date(1476389616437+0000)/", "CurrencyCode": "USD" }, { "BankTransactionID": "29a69c45-64ca-4805-a1cc-34990de837b3", "BankAccount": { "AccountID": "6f7594f2-f059-4d56-9e67-47ac9733bfe9", "Code": "088", "Name": "Business Wells Fargo" }, "Type": "SPEND-OVERPAYMENT", "IsReconciled": false, "OverpaymentID": "7d457db3-3b0a-47e9-8b79-81252a7bcdcb", "HasAttachments": false, "Contact": { "ContactID": "9c2c64de-12c9-4167-b503-e2c0e1aa1f49", "Name": "sam", "Addresses": [], "Phones": [], "ContactGroups": [], "ContactPersons": [], "HasValidationErrors": false }, "DateString": "2016-10-13T00:00:00", "Date": "/Date(1476316800000+0000)/", "Status": "AUTHORISED", "LineAmountTypes": "NoTax", "LineItems": [], "SubTotal": 9, "TotalTax": 0, "Total": 9, "UpdatedDateUTC": "/Date(1476389930500+0000)/", "CurrencyCode": "USD" }, { "BankTransactionID": "0b89bf5c-d40b-4514-96be-36a739fb0188", "BankAccount": { "AccountID": "6f7594f2-f059-4d56-9e67-47ac9733bfe9", "Code": "088", "Name": "Business Wells Fargo" }, "Type": "SPEND-OVERPAYMENT", "IsReconciled": false, "OverpaymentID": "bf9b5f33-c0d6-4182-84a2-40848023e5a1", "HasAttachments": false, "Contact": { "ContactID": "9c2c64de-12c9-4167-b503-e2c0e1aa1f49", "Name": "sam", "Addresses": [], "Phones": [], "ContactGroups": [], "ContactPersons": [], "HasValidationErrors": false }, "DateString": "2016-10-13T00:00:00", "Date": "/Date(1476316800000+0000)/", "Status": "AUTHORISED", "LineAmountTypes": "NoTax", "LineItems": [], "SubTotal": 8, "TotalTax": 0, "Total": 8, "UpdatedDateUTC": "/Date(1476392487037+0000)/", "CurrencyCode": "USD" } ] }'
              schema:
                $ref: "#/components/schemas/BankTransactions"
          description: Success - return response of type BankTransactions array with 0 to n BankTransaction
      security:
        - OAuth2:
            - accounting.transactions.read
      summary: Retrieves any spent or received money transactions
      tags:
        - Accounting
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    post:
      operationId: updateOrCreateBankTransactions
      parameters:
        - $ref: "#/components/parameters/summarizeErrors"
        - $ref: "#/components/parameters/unitdp"
      requestBody:
        content:
          application/json:
            example: '{ "BankTransactions": [ { "Type": "SPEND", "Contact": { "ContactID": "00000000-0000-0000-0000-000000000000" }, "Lineitems": [ { "Description": "Foobar", "Quantity": 1, "UnitAmount": 20, "AccountCode": "400" } ], "BankAccount": { "Code": "088" } } ] }'
            schema:
              $ref: "#/components/schemas/BankTransactions"
        required: true
      responses:
        "200":
          content:
            application/json:
              example: '{ "Id": "5bc1d776-3c7f-4fe8-9b2d-09e747077a88", "Status": "OK", "ProviderName": "Xero API Partner", "DateTimeUTC": "\/Date(1551213568047)\/", "BankTransactions": [ { "BankTransactionID": "1289c190-e46d-434b-9628-463ffdb52f00", "BankAccount": { "AccountID": "6f7594f2-f059-4d56-9e67-47ac9733bfe9", "Code": "088", "Name": "Business Wells Fargo" }, "Type": "SPEND", "Reference": "", "IsReconciled": false, "CurrencyRate": 1.000000, "Contact": { "ContactID": "5cc8cf28-567e-4d43-b287-687cfcaec47c", "ContactStatus": "ACTIVE", "Name": "Katherine Warren", "FirstName": "Katherine", "LastName": "Warren", "EmailAddress": "kat.warren@clampett.com", "BankAccountDetails": "", "Addresses": [ { "AddressType": "STREET", "City": "", "Region": "", "PostalCode": "", "Country": "" }, { "AddressType": "POBOX", "AddressLine1": "", "AddressLine2": "", "AddressLine3": "", "AddressLine4": "", "City": "Palo Alto", "Region": "CA", "PostalCode": "94020", "Country": "United States" } ], "Phones": [ { "PhoneType": "DEFAULT", "PhoneNumber": "847-1294", "PhoneAreaCode": "(626)", "PhoneCountryCode": "" }, { "PhoneType": "DDI", "PhoneNumber": "", "PhoneAreaCode": "", "PhoneCountryCode": "" }, { "PhoneType": "FAX", "PhoneNumber": "", "PhoneAreaCode": "", "PhoneCountryCode": "" }, { "PhoneType": "MOBILE", "PhoneNumber": "", "PhoneAreaCode": "", "PhoneCountryCode": "" } ], "UpdatedDateUTC": "\/Date(1503348544227+0000)\/", "ContactGroups": [], "ContactPersons": [], "HasValidationErrors": false }, "DateString": "2019-02-26T00:00:00", "Date": "\/Date(1551139200000+0000)\/", "Status": "AUTHORISED", "LineAmountTypes": "Inclusive", "LineItems": [ { "Description": "Foobar", "UnitAmount": 20.00, "TaxType": "TAX001", "TaxAmount": 1.74, "LineAmount": 20.00, "AccountCode": "400", "Tracking": [], "Quantity": 1.0000, "LineItemID": "d2a06879-da49-4d6c-83b5-72a93a523ec6", "ValidationErrors": [] } ], "SubTotal": 18.26, "TotalTax": 1.74, "Total": 20.00, "UpdatedDateUTC": "\/Date(1551213567813+0000)\/", "CurrencyCode": "USD", "StatusAttributeString": "ERROR", "ValidationErrors": [ { "Message": "The Contact must contain at least 1 of the following elements to identify the contact: Name, ContactID, ContactNumber" } ] } ] }'
              schema:
                $ref: "#/components/schemas/BankTransactions"
          description: Success - return response of type BankTransactions array with new BankTransaction
        "400":
          $ref: "#/components/responses/400Error"
      security:
        - OAuth2:
            - accounting.transactions
      summary: Updates or creates one or more spent or received money transaction
      tags:
        - Accounting
      x-example:
        - contact: null
          is_object: true
          key: contact
          keyPascal: Contact
        - contactID: null
          default: 00000000-0000-0000-0000-000000000000
          is_last: true
          is_uuid: true
          key: contactId
          keyPascal: ContactID
          keySnake: contact_id
          object: contact
        - is_object: true
          key: lineItem
          keyPascal: LineItem
          keySnake: line_item
          lineItem: null
        - default: Foobar
          description: null
          key: description
          keyPascal: Description
          object: lineItem
        - default: 1
          key: quantity
          keyPascal: Quantity
          nonString: true
          object: lineItem
          quantity: null
        - default: 20
          key: unitAmount
          keyPascal: UnitAmount
          keySnake: unit_amount
          nonString: true
          object: lineItem
          unitAmount: null
        - accountCode: null
          default: "000"
          is_last: true
          key: accountCode
          keyPascal: AccountCode
          keySnake: account_code
          object: lineItem
        - bankAccount: null
          is_object: true
          key: bankAccount
          keyPascal: Account
          keySnake: bank_account
        - accountID: null
          default: 00000000-0000-0000-0000-000000000000
          is_last: true
          is_uuid: true
          key: accountID
          keyPascal: AccountID
          keySnake: account_id
          object: bankAccount
        - bankTransaction: null
          is_object: true
          key: bankTransaction
          keyPascal: BankTransaction
          keySnake: bank_transaction
        - csharp: BankTransaction.TypeEnum.RECEIVE
          default: RECEIVE
          java: com.xero.models.accounting.BankTransaction.TypeEnum.RECEIVE
          key: type
          keyPascal: Type
          node: BankTransaction.TypeEnum.RECEIVE
          nonString: true
          object: bankTransaction
          php: XeroAPI\XeroPHP\Models\Accounting\BankTransaction::TYPE_RECEIVE
          python_string: RECEIVE
          ruby: XeroRuby::Accounting::BankTransaction::RECEIVE
          type: null
        - default: contact
          is_variable: true
          key: contact
          keyPascal: Contact
          nonString: true
          object: bankTransaction
          set_contact: null
        - add_lineitems: null
          is_array_add: true
          java: LineItems
          key: bankTransaction
          keyPascal: LineItems
          keySnake: line_items
          object: lineItem
          python: line_item
        - default: bankAccount
          is_last: true
          is_variable: true
          key: bankAccount
          keyPascal: BankAccount
          keySnake: bank_account
          nonString: true
          object: bankTransaction
          python: bank_account
          set_bankaccount: null
        - bankTransactions: null
          is_object: true
          key: bankTransactions
          keyPascal: BankTransactions
        - add_bankTransaction: null
          is_array_add: true
          is_last: true
          java: BankTransactions
          key: bankTransactions
          keyPascal: BankTransactions
          keySnake: bank_transactions
          object: bankTransaction
          python: bank_transaction
      x-hasAccountingValidationError: true
      x-node-requestBody: '{ bankTransactions: [{ type: BankTransaction.TypeEnum.SPEND, contact: { contactId: "00000000-0000-0000-0000-000000000000" }, lineItems: [{ description: "Foobar", quantity: 1.0, unitAmount: 20.0, accountCode: "000" }], bankAccount: { code: "000" }}]}'
      x-ruby-requestBody: 'bank_transactions = { bank_transactions: [{ type: XeroRuby::Accounting::BankTransaction::SPEND, contact: { contact_id: "00000000-0000-0000-0000-000000000000" }, line_items: [{ description: "Foobar", quantity: 1.0, unit_amount: 20.0, account_code: "000" }], bank_account: { code: "000" }}]}'
    put:
      operationId: createBankTransactions
      parameters:
        - $ref: "#/components/parameters/summarizeErrors"
        - $ref: "#/components/parameters/unitdp"
      requestBody:
        content:
          application/json:
            example: '{ bankTransactions: [{ type: BankTransaction.TypeEnum.SPEND, contact: { contactID: "00000000-0000-0000-0000-000000000000" }, lineItems: [{ description: "Foobar", quantity: 1.0, unitAmount: 20.0, accountCode: "000" } ], bankAccount: { code: "000" }}]}'
            schema:
              $ref: "#/components/schemas/BankTransactions"
        description: BankTransactions with an array of BankTransaction objects in body of request
        required: true
      responses:
        "200":
          content:
            application/json:
              example: '{ "Id": "5bc1d776-3c7f-4fe8-9b2d-09e747077a88", "Status": "OK", "ProviderName": "Xero API Partner", "DateTimeUTC": "\/Date(1551213568047)\/", "BankTransactions": [ { "BankTransactionID": "1289c190-e46d-434b-9628-463ffdb52f00", "BankAccount": { "AccountID": "6f7594f2-f059-4d56-9e67-47ac9733bfe9", "Code": "088", "Name": "Business Wells Fargo" }, "Type": "SPEND", "Reference": "", "IsReconciled": false, "CurrencyRate": 1.000000, "Contact": { "ContactID": "5cc8cf28-567e-4d43-b287-687cfcaec47c", "ContactStatus": "ACTIVE", "Name": "Katherine Warren", "FirstName": "Katherine", "LastName": "Warren", "EmailAddress": "kat.warren@clampett.com", "BankAccountDetails": "", "Addresses": [ { "AddressType": "STREET", "City": "", "Region": "", "PostalCode": "", "Country": "" }, { "AddressType": "POBOX", "AddressLine1": "", "AddressLine2": "", "AddressLine3": "", "AddressLine4": "", "City": "Palo Alto", "Region": "CA", "PostalCode": "94020", "Country": "United States" } ], "Phones": [ { "PhoneType": "DEFAULT", "PhoneNumber": "847-1294", "PhoneAreaCode": "(626)", "PhoneCountryCode": "" }, { "PhoneType": "DDI", "PhoneNumber": "", "PhoneAreaCode": "", "PhoneCountryCode": "" }, { "PhoneType": "FAX", "PhoneNumber": "", "PhoneAreaCode": "", "PhoneCountryCode": "" }, { "PhoneType": "MOBILE", "PhoneNumber": "", "PhoneAreaCode": "", "PhoneCountryCode": "" } ], "UpdatedDateUTC": "\/Date(1503348544227+0000)\/", "ContactGroups": [], "ContactPersons": [], "HasValidationErrors": false }, "DateString": "2019-02-26T00:00:00", "Date": "\/Date(1551139200000+0000)\/", "Status": "AUTHORISED", "LineAmountTypes": "Inclusive", "LineItems": [ { "Description": "Foobar", "UnitAmount": 20.00, "TaxType": "TAX001", "TaxAmount": 1.74, "LineAmount": 20.00, "AccountCode": "400", "Tracking": [], "Quantity": 1.0000, "LineItemID": "d2a06879-da49-4d6c-83b5-72a93a523ec6", "ValidationErrors": [] } ], "SubTotal": 18.26, "TotalTax": 1.74, "Total": 20.00, "UpdatedDateUTC": "\/Date(1551213567813+0000)\/", "CurrencyCode": "USD", "StatusAttributeString": "ERROR", "ValidationErrors": [ { "Message": "The Contact must contain at least 1 of the following elements to identify the contact: Name, ContactID, ContactNumber" } ] } ] }'
              schema:
                $ref: "#/components/schemas/BankTransactions"
          description: Success - return response of type BankTransactions array with new BankTransaction
        "400":
          $ref: "#/components/responses/400Error"
      security:
        - OAuth2:
            - accounting.transactions
      summary: Creates one or more spent or received money transaction
      tags:
        - Accounting
      x-example:
        - contact: null
          is_object: true
          key: contact
          keyPascal: Contact
        - contactID: null
          default: 00000000-0000-0000-0000-000000000000
          is_last: true
          is_uuid: true
          key: contactId
          keyPascal: ContactID
          keySnake: contact_id
          object: contact
        - is_object: true
          key: lineItem
          keyPascal: LineItem
          keySnake: line_item
          lineItem: null
        - default: Foobar
          description: null
          key: description
          keyPascal: Description
          object: lineItem
        - default: 1
          key: quantity
          keyPascal: Quantity
          nonString: true
          object: lineItem
          quantity: null
        - default: 20
          key: unitAmount
          keyPascal: UnitAmount
          keySnake: unit_amount
          nonString: true
          object: lineItem
          unitAmount: null
        - accountCode: null
          default: "000"
          is_last: true
          key: accountCode
          keyPascal: AccountCode
          keySnake: account_code
          object: lineItem
        - bankAccount: null
          is_object: true
          key: bankAccount
          keyPascal: Account
          keySnake: bank_account
        - accountID: null
          default: 00000000-0000-0000-0000-000000000000
          is_last: true
          is_uuid: true
          key: accountID
          keyPascal: AccountID
          keySnake: account_id
          object: bankAccount
        - bankTransaction: null
          is_object: true
          key: bankTransaction
          keyPascal: BankTransaction
          keySnake: bank_transaction
        - csharp: BankTransaction.TypeEnum.RECEIVE
          default: RECEIVE
          java: com.xero.models.accounting.BankTransaction.TypeEnum.RECEIVE
          key: type
          keyPascal: Type
          node: BankTransaction.TypeEnum.RECEIVE
          nonString: true
          object: bankTransaction
          php: XeroAPI\XeroPHP\Models\Accounting\BankTransaction::TYPE_RECEIVE
          python_string: RECEIVE
          ruby: XeroRuby::Accounting::BankTransaction::RECEIVE
          type: null
        - default: contact
          is_variable: true
          key: contact
          keyPascal: Contact
          nonString: true
          object: bankTransaction
          set_contact: null
        - add_lineitems: null
          is_array_add: true
          java: LineItems
          key: bankTransaction
          keyPascal: LineItems
          keySnake: line_items
          object: lineItem
          python: line_item
        - default: bankAccount
          is_last: true
          is_variable: true
          key: bankAccount
          keyPascal: BankAccount
          keySnake: bank_account
          nonString: true
          object: bankTransaction
          python: bank_account
          set_bankaccount: null
        - bankTransactions: null
          is_object: true
          key: bankTransactions
          keyPascal: BankTransactions
        - add_bankTransaction: null
          is_array_add: true
          is_last: true
          java: BankTransactions
          key: bankTransactions
          keyPascal: BankTransactions
          keySnake: bank_transactions
          object: bankTransaction
          python: bank_transaction
      x-hasAccountingValidationError: true
      x-node-requestBody: '{ bankTransactions: [{ type: BankTransaction.TypeEnum.SPEND, contact: { contactID: "00000000-0000-0000-0000-000000000000" }, lineItems: [{ description: "Foobar", quantity: 1.0, unitAmount: 20.0, accountCode: "000" } ], bankAccount: { code: "000" }}]}'
      x-ruby-requestBody: 'bank_transactions = { bank_transactions: [{ type: XeroRuby::Accounting::BankTransaction::SPEND, contact: { contact_id: "00000000-0000-0000-0000-000000000000" }, line_items: [{ description: "Foobar", quantity: 1.0, unit_amount: 20.0, account_code: "000" } ], bank_account: { code: "000" }}]}'
  "/BankTransactions/{BankTransactionID}":
    get:
      operationId: getBankTransaction
      parameters:
        - description: Xero generated unique identifier for a bank transaction
          example: 00000000-0000-0000-0000-000000000000
          in: path
          name: BankTransactionID
          required: true
          schema:
            format: uuid
            type: string
        - $ref: "#/components/parameters/unitdp"
      responses:
        "200":
          content:
            application/json:
              example: '{ "Id": "612e204d-21ab-469b-ac84-afe0697b4461", "Status": "OK", "ProviderName": "Xero API Partner", "DateTimeUTC": "\/Date(1551212902962)\/", "BankTransactions": [ { "BankTransactionID": "db54aab0-ad40-4ced-bcff-0940ba20db2c", "BankAccount": { "AccountID": "6f7594f2-f059-4d56-9e67-47ac9733bfe9", "Code": "088", "Name": "Business Wells Fargo" }, "BatchPayment": { "Account": { "AccountID": "6f7594f2-f059-4d56-9e67-47ac9733bfe9" }, "BatchPaymentID": "b54aa50c-794c-461b-89d1-846e1b84d9c0", "Date": "\/Date(1476316800000+0000)\/", "Type": "RECBATCH", "Status": "AUTHORISED", "TotalAmount": "12.00", "UpdatedDateUTC": "\/Date(1476392487037+0000)\/", "IsReconciled": "false" }, "Type": "RECEIVE", "IsReconciled": false, "CurrencyRate": 1.000000, "PrepaymentID": "cb62750f-b49c-464b-a45b-e2e2c514c8a9", "HasAttachments": true, "Attachments": [ { "AttachmentID": "45dd3143-9856-42d2-9a6c-53814f67a33e", "FileName": "sample2.jpg", "Url": "https://api.xero.com/api.xro/2.0/banktransaction/db54aab0-ad40-4ced-bcff-0940ba20db2c/Attachments/sample2.jpg", "MimeType": "image/jpg", "ContentLength": 2878711 } ], "Contact": { "ContactID": "9c2c64de-12c9-4167-b503-e2c0e1aa1f49", "ContactStatus": "ACTIVE", "Name": "sam", "EmailAddress": "", "BankAccountDetails": "", "Addresses": [ { "AddressType": "STREET", "City": "", "Region": "", "PostalCode": "", "Country": "" }, { "AddressType": "POBOX", "City": "", "Region": "", "PostalCode": "", "Country": "" } ], "Phones": [ { "PhoneType": "DEFAULT", "PhoneNumber": "", "PhoneAreaCode": "", "PhoneCountryCode": "" }, { "PhoneType": "DDI", "PhoneNumber": "", "PhoneAreaCode": "", "PhoneCountryCode": "" }, { "PhoneType": "FAX", "PhoneNumber": "", "PhoneAreaCode": "", "PhoneCountryCode": "" }, { "PhoneType": "MOBILE", "PhoneNumber": "", "PhoneAreaCode": "", "PhoneCountryCode": "" } ], "UpdatedDateUTC": "\/Date(1518821703467+0000)\/", "ContactGroups": [], "DefaultCurrency": "USD", "ContactPersons": [], "HasValidationErrors": false }, "DateString": "2016-10-13T00:00:00", "Date": "\/Date(1476316800000+0000)\/", "Status": "AUTHORISED", "LineAmountTypes": "Exclusive", "LineItems": [ { "Description": "hello", "UnitAmount": 10.00, "TaxType": "OUTPUT", "TaxAmount": 0.00, "LineAmount": 10.00, "AccountCode": "400", "Tracking": [], "Quantity": 1.0000, "LineItemID": "40bec527-a744-4149-96c5-0ab643b51158", "ValidationErrors": [] } ], "SubTotal": 10.00, "TotalTax": 0.00, "Total": 10.00, "UpdatedDateUTC": "\/Date(1476389616437+0000)\/", "CurrencyCode": "USD" } ] }'
              schema:
                $ref: "#/components/schemas/BankTransactions"
          description: Success - return response of type BankTransactions array with a specific BankTransaction
      security:
        - OAuth2:
            - accounting.transactions.read
      summary: Retrieves a single spent or received money transaction by using a unique bank transaction Id
      tags:
        - Accounting
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    post:
      operationId: updateBankTransaction
      parameters:
        - description: Xero generated unique identifier for a bank transaction
          example: 00000000-0000-0000-0000-000000000000
          in: path
          name: BankTransactionID
          required: true
          schema:
            format: uuid
            type: string
        - $ref: "#/components/parameters/unitdp"
      requestBody:
        content:
          application/json:
            example: '{ "BankTransactions": [ { "Type": "SPEND", "Contact": { "ContactID": "00000000-0000-0000-0000-000000000000", "ContactStatus": "ACTIVE", "Name": "Buzz Lightyear", "FirstName": "Buzz", "LastName": "Lightyear", "EmailAddress": "buzz.Lightyear@email.com", "ContactPersons": [], "BankAccountDetails": "", "Addresses": [ { "AddressType": "STREET", "City": "", "Region": "", "PostalCode": "", "Country": "" }, { "AddressType": "POBOX", "AddressLine1": "", "AddressLine2": "", "AddressLine3": "", "AddressLine4": "", "City": "Palo Alto", "Region": "CA", "PostalCode": "94020", "Country": "United States" } ], "Phones": [ { "PhoneType": "DEFAULT", "PhoneNumber": "847-1294", "PhoneAreaCode": "(626)", "PhoneCountryCode": "" }, { "PhoneType": "DDI", "PhoneNumber": "", "PhoneAreaCode": "", "PhoneCountryCode": "" }, { "PhoneType": "FAX", "PhoneNumber": "", "PhoneAreaCode": "", "PhoneCountryCode": "" }, { "PhoneType": "MOBILE", "PhoneNumber": "", "PhoneAreaCode": "", "PhoneCountryCode": "" } ], "UpdatedDateUTC": "2017-08-21T13:49:04.227-07:00", "ContactGroups": [] }, "Lineitems": [], "BankAccount": { "Code": "088", "Name": "Business Wells Fargo", "AccountID": "00000000-0000-0000-0000-000000000000" }, "IsReconciled": false, "Date": "2019-02-25", "Reference": "You just updated", "CurrencyCode": "USD", "CurrencyRate": 1, "Status": "AUTHORISED", "LineAmountTypes": "Inclusive", "TotalTax": 1.74, "BankTransactionID": "00000000-0000-0000-0000-000000000000", "UpdatedDateUTC": "2019-02-26T12:39:27.813-08:00" } ] }'
            schema:
              $ref: "#/components/schemas/BankTransactions"
        required: true
      responses:
        "200":
          content:
            application/json:
              example: '{ "Id": "f2c7f037-96fc-49bd-8f59-d3c7bfdd4746", "Status": "OK", "ProviderName": "Xero API Partner", "DateTimeUTC": "\/Date(1551213568875)\/", "BankTransactions": [ { "BankTransactionID": "1289c190-e46d-434b-9628-463ffdb52f00", "BankAccount": { "AccountID": "6f7594f2-f059-4d56-9e67-47ac9733bfe9", "Code": "088", "Name": "Business Wells Fargo" }, "Type": "SPEND", "Reference": "You just updated", "IsReconciled": false, "CurrencyRate": 1.000000, "HasAttachments": false, "Attachments": [], "Contact": { "ContactID": "5cc8cf28-567e-4d43-b287-687cfcaec47c", "ContactStatus": "ACTIVE", "Name": "Katherine Warren", "FirstName": "Katherine", "LastName": "Warren", "EmailAddress": "kat.warren@clampett.com", "BankAccountDetails": "", "Addresses": [ { "AddressType": "STREET", "City": "", "Region": "", "PostalCode": "", "Country": "" }, { "AddressType": "POBOX", "AddressLine1": "", "AddressLine2": "", "AddressLine3": "", "AddressLine4": "", "City": "Palo Alto", "Region": "CA", "PostalCode": "94020", "Country": "United States" } ], "Phones": [ { "PhoneType": "DEFAULT", "PhoneNumber": "847-1294", "PhoneAreaCode": "(626)", "PhoneCountryCode": "" }, { "PhoneType": "DDI", "PhoneNumber": "", "PhoneAreaCode": "", "PhoneCountryCode": "" }, { "PhoneType": "FAX", "PhoneNumber": "", "PhoneAreaCode": "", "PhoneCountryCode": "" }, { "PhoneType": "MOBILE", "PhoneNumber": "", "PhoneAreaCode": "", "PhoneCountryCode": "" } ], "UpdatedDateUTC": "\/Date(1503348544227+0000)\/", "ContactGroups": [], "ContactPersons": [], "HasValidationErrors": false }, "DateString": "2019-02-25T00:00:00", "Date": "\/Date(1551052800000+0000)\/", "Status": "AUTHORISED", "LineAmountTypes": "Inclusive", "LineItems": [ { "Description": "Foobar", "UnitAmount": 20.00, "TaxType": "TAX001", "TaxAmount": 1.74, "LineAmount": 20.00, "AccountCode": "400", "Tracking": [], "Quantity": 1.0000, "LineItemID": "d2a06879-da49-4d6c-83b5-72a93a523ec6", "ValidationErrors": [] } ], "SubTotal": 18.26, "TotalTax": 1.74, "Total": 20.00, "UpdatedDateUTC": "\/Date(1551213568733+0000)\/", "CurrencyCode": "USD" } ] }'
              schema:
                $ref: "#/components/schemas/BankTransactions"
          description: Success - return response of type BankTransactions array with updated BankTransaction
        "400":
          $ref: "#/components/responses/400Error"
      security:
        - OAuth2:
            - accounting.transactions
      summary: Updates a single spent or received money transaction
      tags:
        - Accounting
      x-example:
        - contact: null
          is_object: true
          key: contact
          keyPascal: Contact
        - contactID: null
          default: 00000000-0000-0000-0000-000000000000
          is_last: true
          is_uuid: true
          key: contactId
          keyPascal: ContactID
          keySnake: contact_id
          object: contact
        - is_object: true
          key: lineItem
          keyPascal: LineItem
          keySnake: line_item
          lineItem: null
        - default: Foobar
          description: null
          key: description
          keyPascal: Description
          object: lineItem
        - default: 1
          key: quantity
          keyPascal: Quantity
          nonString: true
          object: lineItem
          quantity: null
        - default: 20
          key: unitAmount
          keyPascal: UnitAmount
          keySnake: unit_amount
          nonString: true
          object: lineItem
          unitAmount: null
        - accountCode: null
          default: "000"
          is_last: true
          key: accountCode
          keyPascal: AccountCode
          keySnake: account_code
          object: lineItem
        - bankAccount: null
          is_object: true
          key: bankAccount
          keyPascal: Account
          keySnake: bank_account
        - accountID: null
          default: 00000000-0000-0000-0000-000000000000
          is_last: true
          is_uuid: true
          key: accountID
          keyPascal: AccountID
          keySnake: account_id
          object: bankAccount
        - bankTransaction: null
          is_object: true
          key: bankTransaction
          keyPascal: BankTransaction
          keySnake: bank_transaction
        - default: You just updated
          key: reference
          keyPascal: Reference
          object: bankTransaction
          reference: null
        - csharp: BankTransaction.TypeEnum.RECEIVE
          default: RECEIVE
          java: com.xero.models.accounting.BankTransaction.TypeEnum.RECEIVE
          key: type
          keyPascal: Type
          node: BankTransaction.TypeEnum.RECEIVE
          nonString: true
          object: bankTransaction
          php: XeroAPI\XeroPHP\Models\Accounting\BankTransaction::TYPE_RECEIVE
          python_string: RECEIVE
          ruby: XeroRuby::Accounting::BankTransaction::RECEIVE
          type: null
        - default: contact
          is_variable: true
          key: contact
          keyPascal: Contact
          nonString: true
          object: bankTransaction
          set_contact: null
        - add_lineitems: null
          is_array_add: true
          java: LineItems
          key: bankTransaction
          keyPascal: LineItems
          keySnake: line_items
          object: lineItem
          python: line_item
        - default: bankAccount
          is_last: true
          is_variable: true
          key: bankAccount
          keyPascal: BankAccount
          keySnake: bank_account
          nonString: true
          object: bankTransaction
          python: bank_account
          set_bankaccount: null
        - bankTransactions: null
          is_object: true
          key: bankTransactions
          keyPascal: BankTransactions
        - add_bankTransaction: null
          is_array_add: true
          is_last: true
          java: BankTransactions
          key: bankTransactions
          keyPascal: BankTransactions
          keySnake: bank_transactions
          object: bankTransaction
          python: bank_transaction
      x-hasAccountingValidationError: true
      x-node-requestBody: '{ bankTransactions: [{ type: BankTransaction.TypeEnum.SPEND, date: "2019-02-25", reference: "You just updated", status: BankTransaction.StatusEnum.AUTHORISED, bankTransactionID: "00000000-0000-0000-0000-000000000000", lineItems: [], contact: {}, bankAccount: { accountID: "00000000-0000-0000-0000-000000000000" }}]}'
      x-ruby-requestBody: '{ bank_transactions: [{ type: XeroRuby::Accounting::BankTransaction::SPEND, date: "2019-02-25", reference: "You just updated", status: XeroRuby::Accounting::BankTransaction::AUTHORISED, bank_transaction_id: "00000000-0000-0000-0000-000000000000", line_items: [], contact: {}, bank_account: { account_id: "00000000-0000-0000-0000-000000000000" }}]}'
  "/BankTransactions/{BankTransactionID}/Attachments":
    get:
      operationId: getBankTransactionAttachments
      parameters:
        - description: Xero generated unique identifier for a bank transaction
          example: 00000000-0000-0000-0000-000000000000
          in: path
          name: BankTransactionID
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              example: '{ "Id": "c50798e1-29e9-4a30-a452-bb6e42e400c8", "Status": "OK", "ProviderName": "Xero API Partner", "DateTimeUTC": "\/Date(1551303999577)\/", "Attachments": [ { "AttachmentID": "4508a692-e52c-4ad8-a138-2f13e22bf57b", "FileName": "sample5.jpg", "Url": "https://api.xero.com/api.xro/2.0/BankTransactions/db54aab0-ad40-4ced-bcff-0940ba20db2c/Attachments/sample5.jpg", "MimeType": "image/jpg", "ContentLength": 2878711 }, { "AttachmentID": "45dd3143-9856-42d2-9a6c-53814f67a33e", "FileName": "sample2.jpg", "Url": "https://api.xero.com/api.xro/2.0/BankTransactions/db54aab0-ad40-4ced-bcff-0940ba20db2c/Attachments/sample2.jpg", "MimeType": "image/jpg", "ContentLength": 2878711 } ] }'
              schema:
                $ref: "#/components/schemas/Attachments"
          description: Success - return response of type Attachments array with 0 to n Attachment
          x-isAttachment: true
      security:
        - OAuth2:
            - accounting.attachments.read
      summary: Retrieves any attachments from a specific bank transactions
      tags:
        - Accounting
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
  "/BankTransactions/{BankTransactionID}/Attachments/{AttachmentID}":
    get:
      operationId: getBankTransactionAttachmentById
      parameters:
        - description: Xero generated unique identifier for a bank transaction
          example: 00000000-0000-0000-0000-000000000000
          in: path
          name: BankTransactionID
          required: true
          schema:
            format: uuid
            type: string
        - description: Xero generated unique identifier for an attachment
          example: 00000000-0000-0000-0000-000000000000
          in: path
          name: AttachmentID
          required: true
          schema:
            format: uuid
            type: string
        - description: The mime type of the attachment file you are retrieving i.e image/jpg, application/pdf
          example: image/jpg
          in: header
          name: contentType
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Success - return response of attachment for BankTransaction as binary data
      security:
        - OAuth2:
            - accounting.attachments.read
      summary: Retrieves specific attachments from a specific BankTransaction using a unique attachment Id
      tags:
        - Accounting
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
  "/BankTransactions/{BankTransactionID}/Attachments/{FileName}":
    get:
      operationId: getBankTransactionAttachmentByFileName
      parameters:
        - description: Xero generated unique identifier for a bank transaction
          example: 00000000-0000-0000-0000-000000000000
          in: path
          name: BankTransactionID
          required: true
          schema:
            format: uuid
            type: string
        - description: The name of the file being attached
          example: xero-dev.jpg
          in: path
          name: FileName
          required: true
          schema:
            type: string
        - description: The mime type of the attachment file you are retrieving i.e image/jpg, application/pdf
          example: image/jpg
          in: header
          name: contentType
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Success - return response of attachment for BankTransaction as binary data
      security:
        - OAuth2:
            - accounting.attachments.read
      summary: Retrieves a specific attachment from a specific bank transaction by filename
      tags:
        - Accounting
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    post:
      operationId: updateBankTransactionAttachmentByFileName
      parameters:
        - description: Xero generated unique identifier for a bank transaction
          example: 00000000-0000-0000-0000-000000000000
          in: path
          name: BankTransactionID
          required: true
          schema:
            format: uuid
            type: string
        - description: The name of the file being attached
          example: xero-dev.jpg
          in: path
          name: FileName
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: byte
              type: string
        description: Byte array of file in body of request
        required: true
      responses:
        "200":
          content:
            application/json:
              example: '{ "Id": "572ad2fe-8c23-45aa-82f9-864485327685", "Status": "OK", "ProviderName": "Xero API Partner", "DateTimeUTC": "\/Date(1551286166630)\/", "Attachments": [ { "AttachmentID": "4508a692-e52c-4ad8-a138-2f13e22bf57b", "FileName": "sample5.jpg", "Url": "https://api.xero.com/api.xro/2.0/BankTransactions/db54aab0-ad40-4ced-bcff-0940ba20db2c/Attachments/sample5.jpg", "MimeType": "image/jpg", "ContentLength": 2878711 } ] }'
              schema:
                $ref: "#/components/schemas/Attachments"
          description: Success - return response of Attachments array of Attachment
          x-isAttachment: true
        "400":
          $ref: "#/components/responses/400Error"
      security:
        - OAuth2:
            - accounting.attachments
      summary: Updates a specific attachment from a specific bank transaction by filename
      tags:
        - Accounting
      x-hasAccountingValidationError: true
    put:
      operationId: createBankTransactionAttachmentByFileName
      parameters:
        - description: Xero generated unique identifier for a bank transaction
          example: 00000000-0000-0000-0000-000000000000
          in: path
          name: BankTransactionID
          required: true
          schema:
            format: uuid
            type: string
        - description: The name of the file being attached
          example: xero-dev.jpg
          in: path
          name: FileName
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: byte
              type: string
        description: Byte array of file in body of request
        required: true
      responses:
        "200":
          content:
            application/json:
              example: '{ "Id": "572ad2fe-8c23-45aa-82f9-864485327685", "Status": "OK", "ProviderName": "Xero API Partner", "DateTimeUTC": "\/Date(1551286166630)\/", "Attachments": [ { "AttachmentID": "4508a692-e52c-4ad8-a138-2f13e22bf57b", "FileName": "sample5.jpg", "Url": "https://api.xero.com/api.xro/2.0/BankTransactions/db54aab0-ad40-4ced-bcff-0940ba20db2c/Attachments/sample5.jpg", "MimeType": "image/jpg", "ContentLength": 2878711 } ] }'
              schema:
                $ref: "#/components/schemas/Attachments"
          description: Success - return response of Attachments array of Attachment
          x-isAttachment: true
        "400":
          $ref: "#/components/responses/400Error"
      security:
        - OAuth2:
            - accounting.attachments
      summary: Creates an attachment for a specific bank transaction by filename
      tags:
        - Accounting
      x-hasAccountingValidationError: true
  "/BankTransactions/{BankTransactionID}/History":
    get:
      operationId: getBankTransactionsHistory
      parameters:
        - description: Xero generated unique identifier for a bank transaction
          example: 00000000-0000-0000-0000-000000000000
          in: path
          name: BankTransactionID
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          $ref: "#/components/responses/HistoryRetrieved"
      security:
        - OAuth2:
            - accounting.transactions.read
      summary: Retrieves history from a specific bank transaction using a unique bank transaction Id
      tags:
        - Accounting
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    put:
      operationId: createBankTransactionHistoryRecord
      parameters:
        - description: Xero generated unique identifier for a bank transaction
          example: 00000000-0000-0000-0000-000000000000
          in: path
          name: BankTransactionID
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        $ref: "#/components/requestBodies/historyRecords"
      responses:
        "200":
          $ref: "#/components/responses/HistoryRecordCreated"
        "400":
          $ref: "#/components/responses/400Error"
      security:
        - OAuth2:
            - accounting.transactions
      summary: Creates a history record for a specific bank transactions
      tags:
        - Accounting
      x-example:
        - historyRecord: null
          is_object: true
          key: historyRecord
          keyPascal: HistoryRecord
          keySnake: history_record
        - Details: null
          default: Hello World
          is_last: true
          key: details
          keyPascal: Details
          object: historyRecord
        - historyRecords: null
          is_object: true
          key: historyRecords
          keyPascal: HistoryRecords
          keySnake: history_records
        - add_historyRecord: null
          is_array_add: true
          is_last: true
          java: HistoryRecords
          key: historyRecords
          keyPascal: HistoryRecords
          keySnake: history_records
          object: historyRecord
          python: history_record
      x-hasAccountingValidationError: true
  /BankTransfers:
    get:
      operationId: getBankTransfers
      parameters:
        - $ref: "#/components/parameters/ifModifiedSince"
        - description: Filter by an any element
          example: HasAttachments==true
          in: query
          name: where
          schema:
            type: string
        - description: Order by an any element
          example: Amount ASC
          in: query
          name: order
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              example: '{ "Id": "dfc0d130-9007-4a98-a5ef-6f01700f18e2", "Status": "OK", "ProviderName": "Xero API Partner", "DateTimeUTC": "\/Date(1551311318988)\/", "BankTransfers": [ { "BankTransferID": "6221458a-ef7a-4d5f-9b1c-1b96ce03833c", "CreatedDateUTCString": "2016-10-17T20:46:01", "CreatedDateUTC": "\/Date(1476737161140+0000)\/", "DateString": "2016-11-12T21:10:00", "Date": "\/Date(1478985000000+0000)\/", "FromBankAccount": { "AccountID": "6f7594f2-f059-4d56-9e67-47ac9733bfe9", "Name": "Business Wells Fargo" }, "ToBankAccount": { "AccountID": "7e5e243b-9fcd-4aef-8e3a-c70be1e39bfa", "Name": "My Savings" }, "Amount": 20.00, "FromBankTransactionID": "a3eca480-bc04-4292-9bbd-5c57b8ba12b4", "ToBankTransactionID": "4ca13f40-f3a0-4530-a442-a600f5696118", "HasAttachments": true }, { "BankTransferID": "9f0153d5-617c-4903-887b-3875807aa27a", "CreatedDateUTCString": "2016-10-21T23:28:42", "CreatedDateUTC": "\/Date(1477092522333+0000)\/", "DateString": "2016-10-19T20:10:00", "Date": "\/Date(1476907800000+0000)\/", "FromBankAccount": { "AccountID": "6f7594f2-f059-4d56-9e67-47ac9733bfe9", "Name": "Business Wells Fargo" }, "ToBankAccount": { "AccountID": "7e5e243b-9fcd-4aef-8e3a-c70be1e39bfa", "Name": "My Savings" }, "Amount": 20.00, "FromBankTransactionID": "cb74287e-5682-4973-b354-93e2c7a836d3", "ToBankTransactionID": "4c48ba6c-f318-4405-aee6-b5efa2c70f55", "HasAttachments": false } ] }'
              schema:
                $ref: "#/components/schemas/BankTransfers"
          description: Success - return response of BankTransfers array of 0 to N BankTransfer
      security:
        - OAuth2:
            - accounting.transactions.read
      summary: Retrieves all bank transfers
      tags:
        - Accounting
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    put:
      operationId: createBankTransfer
      requestBody:
        content:
          application/json:
            example: '{ "BankTransfers": [ { "FromBankAccount": { "Code": "090", "Name": "My Savings", "AccountID": "00000000-0000-0000-0000-000000000000", "Type": "BANK", "BankAccountNumber": "123455", "Status": "ACTIVE", "BankAccountType": "BANK", "CurrencyCode": "USD", "TaxType": "NONE", "EnablePaymentsToAccount": false, "ShowInExpenseClaims": false, "Class": "ASSET", "ReportingCode": "ASS", "ReportingCodeName": "Assets", "HasAttachments": false, "UpdatedDateUTC": "2016-10-17T13:45:33.993-07:00" }, "ToBankAccount": { "Code": "088", "Name": "Business Wells Fargo", "AccountID": "00000000-0000-0000-0000-000000000000", "Type": "BANK", "BankAccountNumber": "123455", "Status": "ACTIVE", "BankAccountType": "BANK", "CurrencyCode": "USD", "TaxType": "NONE", "EnablePaymentsToAccount": false, "ShowInExpenseClaims": false, "Class": "ASSET", "ReportingCode": "ASS", "ReportingCodeName": "Assets", "HasAttachments": false, "UpdatedDateUTC": "2016-06-03T08:31:14.517-07:00" }, "Amount": "50.00" } ] }'
            schema:
              $ref: "#/components/schemas/BankTransfers"
        description: BankTransfers with array of BankTransfer objects in request body
        required: true
      responses:
        "200":
          content:
            application/json:
              example: '{ "Id": "ae767b68-affd-4e17-bac0-83eaf1854dcd", "Status": "OK", "ProviderName": "Xero API Partner", "DateTimeUTC": "\/Date(1551311317475)\/", "BankTransfers": [ { "BankTransferID": "76eea4b6-f026-464c-b6f3-5fb39a196145", "DateString": "2019-02-27T00:00:00", "Date": "\/Date(1551225600000+0000)\/", "FromBankAccount": { "AccountID": "7e5e243b-9fcd-4aef-8e3a-c70be1e39bfa", "Code": "090", "Name": "My Savings" }, "ToBankAccount": { "AccountID": "6f7594f2-f059-4d56-9e67-47ac9733bfe9", "Code": "088", "Name": "Business Wells Fargo" }, "Amount": 50.00, "FromBankTransactionID": "e4059952-5acb-4a56-b076-53fad85f2930", "ToBankTransactionID": "88e4ac17-293b-4e5a-8d8b-3ce3a0b1ee17", "CurrencyRate": 1.000000, "ValidationErrors": [] } ] }'
              schema:
                $ref: "#/components/schemas/BankTransfers"
          description: Success - return response of BankTransfers array of one BankTransfer
        "400":
          $ref: "#/components/responses/400Error"
      security:
        - OAuth2:
            - accounting.transactions
      summary: Creates a bank transfer
      tags:
        - Accounting
      x-example:
        - fromBankAccount: null
          is_object: true
          key: fromBankAccount
          keyPascal: Account
        - accountID: null
          default: 00000000-0000-0000-0000-000000000000
          is_last: true
          is_uuid: true
          key: accountID
          keyPascal: AccountID
          keySnake: account_id
          object: fromBankAccount
        - is_object: true
          key: toBankAccount
          keyPascal: Account
          toBankAccount: null
        - accountID: null
          default: 00000000-0000-0000-0000-000000000000
          is_last: true
          is_uuid: true
          key: accountID
          keyPascal: AccountID
          keySnake: account_id
          object: toBankAccount
        - bankTransfer: null
          is_object: true
          key: bankTransfer
          keyPascal: BankTransfer
          keySnake: bank_transfer
        - default: fromBankAccount
          is_variable: true
          key: fromBankAccount
          keyPascal: FromBankAccount
          keySnake: from_bank_account
          nonString: true
          object: bankTransfer
          set_fromBankAccount: null
        - default: toBankAccount
          is_variable: true
          key: toBankAccount
          keyPascal: ToBankAccount
          keySnake: to_bank_account
          nonString: true
          object: bankTransfer
          set_toBankAccount: null
        - amount: null
          default: 1
          is_last: true
          key: amount
          keyPascal: Amount
          nonString: true
          object: bankTransfer
        - bankTransfers: null
          is_object: true
          key: bankTransfers
          keyPascal: BankTransfers
        - add_bankTransfer: null
          is_array_add: true
          is_last: true
          java: BankTransfers
          key: bankTransfers
          keyPascal: BankTransfers
          keySnake: bank_transfers
          object: bankTransfer
          python: bank_transfer
      x-hasAccountingValidationError: true
      x-node-requestBody: '{ bankTransfers: [{ fromBankAccount: { code: "000", accountID: "00000000-0000-0000-0000-000000000000" }, toBankAccount: { code: "001", accountID: "00000000-0000-0000-0000-000000000000" }, amount: "50.00" }]}'
      x-ruby-requestBody: 'bank_transfers = { bank_transfers: [{ from_bank_account: { code: "000", account_id: "00000000-0000-0000-0000-000000000000" }, to_bank_account: { code: "001", account_id: "00000000-0000-0000-0000-000000000000" }, amount: "50.00" }]}'
  "/BankTransfers/{BankTransferID}":
    get:
      operationId: getBankTransfer
      parameters:
        - description: Xero generated unique identifier for a bank transfer
          example: 00000000-0000-0000-0000-000000000000
          in: path
          name: BankTransferID
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              example: '{ "Id": "1a5fa46d-5ece-4ef2-89b1-77c293b5d833", "Status": "OK", "ProviderName": "Xero API Partner", "DateTimeUTC": "\/Date(1551311320368)\/", "BankTransfers": [ { "BankTransferID": "6221458a-ef7a-4d5f-9b1c-1b96ce03833c", "CreatedDateUTCString": "2016-10-17T20:46:01", "CreatedDateUTC": "\/Date(1476737161140+0000)\/", "DateString": "2016-11-12T21:10:00", "Date": "\/Date(1478985000000+0000)\/", "FromBankAccount": { "AccountID": "6f7594f2-f059-4d56-9e67-47ac9733bfe9", "Code": "088", "Name": "Business Wells Fargo" }, "ToBankAccount": { "AccountID": "7e5e243b-9fcd-4aef-8e3a-c70be1e39bfa", "Code": "090", "Name": "My Savings" }, "Amount": 20.00, "FromBankTransactionID": "a3eca480-bc04-4292-9bbd-5c57b8ba12b4", "ToBankTransactionID": "4ca13f40-f3a0-4530-a442-a600f5696118", "CurrencyRate": 1.000000, "HasAttachments": true, "Attachments": [ { "AttachmentID": "e05a6fd8-0e47-47a9-9799-b809c8267260", "FileName": "HelloWorld.jpg", "Url": "https://api.xero.com/api.xro/2.0/banktransfer/6221458a-ef7a-4d5f-9b1c-1b96ce03833c/Attachments/HelloWorld.jpg", "MimeType": "image/jpg", "ContentLength": 2878711 } ] } ] }'
              schema:
                $ref: "#/components/schemas/BankTransfers"
          description: Success - return response of BankTransfers array with one BankTransfer
      security:
        - OAuth2:
            - accounting.transactions.read
      summary: Retrieves specific bank transfers by using a unique bank transfer Id
      tags:
        - Accounting
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
  "/BankTransfers/{BankTransferID}/Attachments":
    get:
      operationId: getBankTransferAttachments
      parameters:
        - description: Xero generated unique identifier for a bank transfer
          example: 00000000-0000-0000-0000-000000000000
          in: path
          name: BankTransferID
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              example: '{ "Id": "5cb6b587-7b02-46b6-97fe-d8ad8f20321b", "Status": "OK", "ProviderName": "Xero API Partner", "DateTimeUTC": "\/Date(1551397557272)\/", "Attachments": [ { "AttachmentID": "e05a6fd8-0e47-47a9-9799-b809c8267260", "FileName": "HelloWorld.jpg", "Url": "https://api.xero.com/api.xro/2.0/BankTransfers/6221458a-ef7a-4d5f-9b1c-1b96ce03833c/Attachments/HelloWorld.jpg", "MimeType": "image/jpg", "ContentLength": 2878711 } ] }'
              schema:
                $ref: "#/components/schemas/Attachments"
          description: Success - return response of Attachments array of 0 to N Attachment for a Bank Transfer
          x-isAttachment: true
      security:
        - OAuth2:
            - accounting.attachments.read
      summary: Retrieves attachments from a specific bank transfer
      tags:
        - Accounting
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
  "/BankTransfers/{BankTransferID}/Attachments/{AttachmentID}":
    get:
      operationId: getBankTransferAttachmentById
      parameters:
        - description: Xero generated unique identifier for a bank transfer
          example: 00000000-0000-0000-0000-000000000000
          in: path
          name: BankTransferID
          required: true
          schema:
            format: uuid
            type: string
        - description: Xero generated unique identifier for an Attachment to a bank transfer
          example: 00000000-0000-0000-0000-000000000000
          in: path
          name: AttachmentID
          required: true
          schema:
            format: uuid
            type: string
        - description: The mime type of the attachment file you are retrieving i.e image/jpg, application/pdf
          example: image/jpg
          in: header
          name: contentType
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Success - return response of binary data from the Attachment to a Bank Transfer
      security:
        - OAuth2:
            - accounting.attachments.read
      summary: Retrieves a specific attachment from a specific bank transfer using a unique attachment ID
      tags:
        - Accounting
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
  "/BankTransfers/{BankTransferID}/Attachments/{FileName}":
    get:
      operationId: getBankTransferAttachmentByFileName
      parameters:
        - description: Xero generated unique identifier for a bank transfer
          example: 00000000-0000-0000-0000-000000000000
          in: path
          name: BankTransferID
          required: true
          schema:
            format: uuid
            type: string
        - description: The name of the file being attached to a Bank Transfer
          example: xero-dev.jpg
          in: path
          name: FileName
          required: true
          schema:
            type: string
        - description: The mime type of the attachment file you are retrieving i.e image/jpg, application/pdf
          example: image/jpg
          in: header
          name: contentType
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Success - return response of binary data from the Attachment to a Bank Transfer
      security:
        - OAuth2:
            - accounting.attachments.read
      summary: Retrieves a specific attachment on a specific bank transfer by file name
      tags:
        - Accounting
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    post:
      operationId: updateBankTransferAttachmentByFileName
      parameters:
        - description: Xero generated unique identifier for a bank transfer
          example: 00000000-0000-0000-0000-000000000000
          in: path
          name: BankTransferID
          required: true
          schema:
            format: uuid
            type: string
        - description: The name of the file being attached to a Bank Transfer
          example: xero-dev.jpg
          in: path
          name: FileName
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: byte
              type: string
        description: Byte array of file in body of request
        required: true
      responses:
        "200":
          content:
            application/json:
              example: '{ "Id": "c7810140-19c2-4ff7-b3ec-b7e95ce7becf", "Status": "OK", "ProviderName": "Xero API Partner", "DateTimeUTC": "\/Date(1551398138226)\/", "Attachments": [ { "AttachmentID": "0851935c-c4c5-4de8-9247-ce22efde6f82", "FileName": "sample5.jpg", "Url": "https://api.xero.com/api.xro/2.0/BankTransfers/6221458a-ef7a-4d5f-9b1c-1b96ce03833c/Attachments/sample5.jpg", "MimeType": "image/jpg", "ContentLength": 2878711 } ] }'
              schema:
                $ref: "#/components/schemas/Attachments"
          description: Success - return response of Attachments array of 0 to N Attachment for a Bank Transfer
          x-isAttachment: true
        "400":
          $ref: "#/components/responses/400Error"
      security:
        - OAuth2:
            - accounting.attachments
      tags:
        - Accounting
      x-hasAccountingValidationError: true
    put:
      operationId: createBankTransferAttachmentByFileName
      parameters:
        - description: Xero generated unique identifier for a bank transfer
          example: 00000000-0000-0000-0000-000000000000
          in: path
          name: BankTransferID
          required: true
          schema:
            format: uuid
            type: string
        - description: The name of the file being attached to a Bank Transfer
          example: xero-dev.jpg
          in: path
          name: FileName
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: byte
              type: string
        description: Byte array of file in body of request
        required: true
      responses:
        "200":
          content:
            application/json:
              example: '{ "Id": "b73ba149-76a9-4e7c-a5c6-b9230022f416", "Status": "OK", "ProviderName": "Xero API Partner", "DateTimeUTC": "\/Date(1551397998372)\/", "Attachments": [ { "AttachmentID": "9478be4c-c707-48c1-b4a7-83d8eaf442b5", "FileName": "sample5.jpg", "Url": "https://api.xero.com/api.xro/2.0/BankTransfers/6221458a-ef7a-4d5f-9b1c-1b96ce03833c/Attachments/sample5.jpg", "MimeType": "image/jpg", "ContentLength": 2878711 } ] }'
              schema:
                $ref: "#/components/schemas/Attachments"
          description: Success - return response of Attachments array of 0 to N Attachment for a Bank Transfer
          x-isAttachment: true
        "400":
          $ref: "#/components/responses/400Error"
      security:
        - OAuth2:
            - accounting.attachments
      tags:
        - Accounting
      x-hasAccountingValidationError: true
  "/BankTransfers/{BankTransferID}/History":
    get:
      operationId: getBankTransferHistory
      parameters:
        - description: Xero generated unique identifier for a bank transfer
          example: 00000000-0000-0000-0000-000000000000
          in: path
          name: BankTransferID
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          $ref: "#/components/responses/HistoryRetrieved"
      security:
        - OAuth2:
            - accounting.transactions.read
      summary: Retrieves history from a specific bank transfer using a unique bank transfer Id
      tags:
        - Accounting
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    put:
      operationId: createBankTransferHistoryRecord
      parameters:
        - description: Xero generated unique identifier for a bank transfer
          example: 00000000-0000-0000-0000-000000000000
          in: path
          name: BankTransferID
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        $ref: "#/components/requestBodies/historyRecords"
      responses:
        "200":
          $ref: "#/components/responses/HistoryRecordCreated"
        "400":
          $ref: "#/components/responses/400Error"
      security:
        - OAuth2:
            - accounting.transactions
      summary: Creates a history record for a specific bank transfer
      tags:
        - Accounting
      x-example:
        - historyRecord: null
          is_object: true
          key: historyRecord
          keyPascal: HistoryRecord
          keySnake: history_record
        - Details: null
          default: Hello World
          is_last: true
          key: details
          keyPascal: Details
          object: historyRecord
        - historyRecords: null
          is_object: true
          key: historyRecords
          keyPascal: HistoryRecords
          keySnake: history_records
        - add_historyRecord: null
          is_array_add: true
          is_last: true
          java: HistoryRecords
          key: historyRecords
          keyPascal: HistoryRecords
          keySnake: history_records
          object: historyRecord
          python: history_record
      x-hasAccountingValidationError: true
  /BatchPayments:
    description: Batch payments allow you to bundle multiple bills or invoices into one payment transaction. This means a single payment in Xero can be reconciled with a single transaction on the bank statement making for a much simpler bank reconciliation experience.
    get:
      operationId: getBatchPayments
      parameters:
        - $ref: "#/components/parameters/ifModifiedSince"
        - description: Filter by an any element
          example: Status=="AUTHORISED"
          in: query
          name: where
          schema:
            type: string
          x-example-java: Status==&quot;&apos; + BatchPayment.StatusEnum.AUTHORISED + &apos;&quot;
          x-example-php: Status==&quot;&apos; . XeroAPI\XeroPHP\Models\Accounting\BatchPayment::STATUS_AUTHORISED . &apos;&quot;
          x-ruby-param: Status==#{XeroRuby::Accounting::BatchPayment::AUTHORISED}
        - description: Order by an any element
          example: Date ASC
          in: query
          name: order
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              example: '{ "Id": "6ab84949-4fe5-4788-a135-4d8f690d24d7", "Status": "OK", "ProviderName": "Xero API Partner", "DateTimeUTC": "\/Date(1550866184006)\/", "BatchPayments": [ { "Account": { "AccountID": "6f7594f2-f059-4d56-9e67-47ac9733bfe9" }, "Reference": "Hello World", "BatchPaymentID": "d0e9bbbf-5b8a-48b6-906a-035591fcb061", "DateString": "2017-11-28T00:00:00", "Date": "\/Date(1511827200000+0000)\/", "Payments": [ { "Invoice": { "InvoiceID": "0975dec2-0cf6-498d-9c9f-c6775b45c61d", "Payments": [], "CreditNotes": [], "Prepayments": [], "Overpayments": [], "HasErrors": false, "IsDiscounted": false, "LineItems": [] }, "PaymentID": "97ec2ef8-f4d6-4de5-9f2a-385d41cdc2fc", "Amount": 200.00 }, { "Invoice": { "InvoiceID": "600982d9-6605-4e11-afa1-d8dec2be7b52", "Payments": [], "CreditNotes": [], "Prepayments": [], "Overpayments": [], "HasErrors": false, "IsDiscounted": false, "LineItems": [] }, "PaymentID": "e232795f-b919-4865-a754-12f6ae8402c0", "Amount": 200.00 }, { "Invoice": { "InvoiceID": "99a2bd54-4ab1-413c-90bb-57f6464fe5d6", "Payments": [], "CreditNotes": [], "Prepayments": [], "Overpayments": [], "HasErrors": false, "IsDiscounted": false, "LineItems": [] }, "PaymentID": "c2d571a5-38ff-4d37-9d43-dfadb4ad53ff", "Amount": 200.00 }, { "Invoice": { "InvoiceID": "c81942c8-bfc5-4c88-a21a-b892a4a8c1c5", "Payments": [], "CreditNotes": [], "Prepayments": [], "Overpayments": [], "HasErrors": false, "IsDiscounted": false, "LineItems": [] }, "PaymentID": "0f3c18dc-49bd-47a4-a875-03c84a29978f", "Amount": 200.00 }, { "Invoice": { "InvoiceID": "6c9a1d89-8319-42f6-87d6-7690e748af85", "Payments": [], "CreditNotes": [], "Prepayments": [], "Overpayments": [], "HasErrors": false, "IsDiscounted": false, "LineItems": [] }, "PaymentID": "43541eed-f3ac-44ac-88cb-9fe1cb7ed8b8", "Amount": 200.00 } ], "Type": "RECBATCH", "Status": "AUTHORISED", "TotalAmount": 1000.00, "UpdatedDateUTC": "\/Date(1511893792820+0000)\/", "IsReconciled": false } ] }'
              schema:
                $ref: "#/components/schemas/BatchPayments"
          description: Success - return response of type BatchPayments array of BatchPayment objects
      security:
        - OAuth2:
            - accounting.transactions.read
      summary: Retrieves either one or many batch payments for invoices
      tags:
        - Accounting
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    put:
      operationId: createBatchPayment
      parameters:
        - $ref: "#/components/parameters/summarizeErrors"
      requestBody:
        content:
          application/json:
            example: '{ "BatchPayments": [ { "Account": { "AccountID": "00000000-0000-0000-0000-000000000000" }, "Reference": "ref", "Date": "2018-08-01", "Payments": [ { "Account": { "Code": "001" }, "Date": "2019-12-31", "Amount": 500, "Invoice": { "InvoiceID": "00000000-0000-0000-0000-000000000000", "LineItems": [], "Contact": {}, "Type": "ACCPAY" } } ] } ] }'
            schema:
              $ref: "#/components/schemas/BatchPayments"
        description: BatchPayments with an array of Payments in body of request
        required: true
      responses:
        "200":
          content:
            application/json:
              example: '{ "Id": "424745ed-6356-46ad-87d4-3585f9062fb4", "Status": "OK", "ProviderName": "Xero API Partner", "DateTimeUTC": "\/Date(1550865988111)\/", "BatchPayments": [ { "Account": { "AccountID": "5ec2f302-cd60-4f8b-a915-9229dd45e6fa" }, "Reference": "Foobar123", "BatchPaymentID": "d318c343-208e-49fe-b04a-45642349bcf1", "DateString": "2019-02-22T00:00:00", "Date": "\/Date(1550793600000+0000)\/", "Payments": [ { "Invoice": { "InvoiceID": "3323652c-155e-433b-8a73-4dde7cfbf410", "Payments": [], "CreditNotes": [], "Prepayments": [], "Overpayments": [], "HasErrors": false, "IsDiscounted": false, "LineItems": [] }, "PaymentID": "c05098fa-ae3c-4f00-80ec-0a9df07dedff", "Amount": 1.00 }, { "Invoice": { "InvoiceID": "e4abafb4-1f5b-4d9f-80b3-9a7b815bc302", "Payments": [], "CreditNotes": [], "Prepayments": [], "Overpayments": [], "HasErrors": false, "IsDiscounted": false, "LineItems": [] }, "PaymentID": "96409489-2f7d-4804-9a6d-6b939b0e038a", "Amount": 1.00 }, { "Invoice": { "InvoiceID": "e6039672-b161-40cd-b07b-a0178e7186ad", "Payments": [], "CreditNotes": [], "Prepayments": [], "Overpayments": [], "HasErrors": false, "IsDiscounted": false, "LineItems": [] }, "PaymentID": "d2796067-bf71-4f06-b386-81f1454fa866", "Amount": 1.00 } ], "Type": "RECBATCH", "Status": "AUTHORISED", "TotalAmount": 3.00, "UpdatedDateUTC": "\/Date(1550865987783+0000)\/", "IsReconciled": false } ] }'
              schema:
                $ref: "#/components/schemas/BatchPayments"
          description: Success - return response of type BatchPayments array of BatchPayment objects
        "400":
          $ref: "#/components/responses/400Error"
      security:
        - OAuth2:
            - accounting.transactions
      summary: Creates one or many batch payments for invoices
      tags:
        - Accounting
      x-example:
        - currDate: null
          default: LocalDate.now()
          is_date: true
          java: LocalDate.now()
          java_datatype: LocalDate
          key: currDate
          keyPascal: Date
          keySnake: curr_date
          php: new DateTime('2019-12-10')
          python: dateutil.parser.parse('2020-12-03T00:00:00Z')
        - is_object: true
          key: paymentAccount
          keyPascal: Account
          keySnake: payment_account
          paymentAccount: null
        - accountID: null
          default: 00000000-0000-0000-0000-000000000000
          is_last: true
          is_uuid: true
          key: accountId
          keyPascal: AccountID
          keySnake: account_id
          object: paymentAccount
        - bankAccount: null
          is_object: true
          key: bankAccount
          keyPascal: Account
          keySnake: bank_account
        - accountID: null
          default: 00000000-0000-0000-0000-000000000000
          is_last: true
          is_uuid: true
          key: accountID
          keyPascal: AccountID
          keySnake: account_id
          object: bankAccount
        - invoice: null
          is_object: true
          key: invoice
          keyPascal: Invoice
        - default: 00000000-0000-0000-0000-000000000000
          invoiceID: null
          is_last: true
          is_uuid: true
          key: invoiceID
          keyPascal: InvoiceID
          keySnake: invoice_id
          object: invoice
        - is_object: true
          key: payment
          keyPascal: Payment
          payment: null
        - default: bankAccount
          is_variable: true
          key: account
          keyPascal: Account
          nonString: true
          object: payment
          python: bank_account
          set_bankaccount: null
        - date: null
          default: currDate
          is_variable: true
          key: date
          keyPascal: Date
          nonString: true
          object: payment
          python: curr_date
        - amount: null
          default: 1
          key: amount
          keyPascal: Amount
          nonString: true
          object: payment
        - default: invoice
          is_last: true
          is_variable: true
          key: invoice
          keyPascal: Invoice
          nonString: true
          object: payment
          set_invoice: null
        - is_list: true
          key: payments
          keyPascal: Payment
          payments: null
        - add_payments: null
          is_last: true
          is_list_add: true
          key: payments
          keyPascal: Payments
          object: payment
        - batchPayment: null
          is_object: true
          key: batchPayment
          keyPascal: BatchPayment
          keySnake: batch_payment
        - default: paymentAccount
          is_variable: true
          key: account
          keyPascal: Account
          nonString: true
          object: batchPayment
          python: payment_account
          set_paymentaccount: null
        - date: null
          default: currDate
          is_variable: true
          key: date
          keyPascal: Date
          nonString: true
          object: batchPayment
          python: curr_date
        - default: payments
          is_last: true
          is_variable: true
          key: payments
          keyPascal: Payments
          nonString: true
          object: batchPayment
          set_payments: null
        - batchPayments: null
          is_object: true
          key: batchPayments
          keyPascal: BatchPayments
        - add_batchPayments: null
          is_array_add: true
          is_last: true
          java: BatchPayments
          key: batchPayments
          keyPascal: BatchPayments
          keySnake: batch_payments
          object: batchPayment
          python: batch_payment
      x-hasAccountingValidationError: true
      x-node-requestBody: '{ batchPayments: [{ account: { accountId: "00000000-0000-0000-0000-000000000000" }, reference: "ref", date: "2018-08-01", payments: [{  account: { code: "001" }, date: "2019-12-31", amount: 500, invoice: { invoiceId: "00000000-0000-0000-0000-000000000000", lineItems: [], contact: {}, type: Invoice.TypeEnum.ACCPAY }}]}]}'
      x-ruby-requestBody: 'batch_payments = { batch_payments: [{ account: { account_id: "00000000-0000-0000-0000-000000000000" }, reference: "ref", date: "2018-08-01", payments: [{  account: { code: "001" }, date: "2019-12-31", amount: 500, invoice: { invoice_id: "00000000-0000-0000-0000-000000000000", line_items: [], contact: {}, type: XeroRuby::Accounting::Invoice::ACCPAY }}]}]}'
  "/BatchPayments/{BatchPaymentID}/History":
    get:
      operationId: getBatchPaymentHistory
      parameters:
        - description: Unique identifier for BatchPayment
          example: 00000000-0000-0000-0000-000000000000
          in: path
          name: BatchPaymentID
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              example: '{ "Id": "c58e2f9c-baad-42a4-8bb7-f32b6f88fa04", "Status": "OK", "ProviderName": "Xero API Partner", "DateTimeUTC": "\/Date(1550898452503)\/", "HistoryRecords": [ { "Changes": "Approved", "DateUTCString": "2017-11-28T18:29:52", "DateUTC": "\/Date(1511893792813+0000)\/", "User": "Buzz Lightyear", "Details": "" } ] }'
              schema:
                $ref: "#/components/schemas/HistoryRecords"
          description: Success - return response of HistoryRecords array of 0 to N HistoryRecord
      security:
        - OAuth2:
            - accounting.transactions.read
      summary: Retrieves history from a specific batch payment
      tags:
        - Accounting
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    put:
      operationId: createBatchPaymentHistoryRecord
      parameters:
        - description: Unique identifier for BatchPayment
          example: 00000000-0000-0000-0000-000000000000
          in: path
          name: BatchPaymentID
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        $ref: "#/components/requestBodies/historyRecords"
      responses:
        "200":
          content:
            application/json:
              example: '{ "Id": "d7525479-3392-44c0-bb37-ff4a0b5df5bd", "Status": "OK", "ProviderName": "Xero API Partner", "DateTimeUTC": "\/Date(1550899400362)\/", "HistoryRecords": [ { "DateUTCString": "2019-02-23T05:23:20", "DateUTC": "\/Date(1550899400362)\/", "Details": "Hello World", "ValidationErrors": [] } ] }'
              schema:
                $ref: "#/components/schemas/HistoryRecords"
          description: Success - return response of type HistoryRecords array of HistoryRecord objects
        "400":
          $ref: "#/components/responses/400Error"
      security:
        - OAuth2:
            - accounting.transactions
      summary: Creates a history record for a specific batch payment
      tags:
        - Accounting
      x-example:
        - historyRecord: null
          is_object: true
          key: historyRecord
          keyPascal: HistoryRecord
          keySnake: history_record
        - Details: null
          default: Hello World
          is_last: true
          key: details
          keyPascal: Details
          object: historyRecord
        - historyRecords: null
          is_object: true
          key: historyRecords
          keyPascal: HistoryRecords
          keySnake: history_records
        - add_historyRecord: null
          is_array_add: true
          is_last: true
          java: HistoryRecords
          key: historyRecords
          keyPascal: HistoryRecords
          keySnake: history_records
          object: historyRecord
          python: history_record
      x-hasAccountingValidationError: true
  /BrandingThemes:
    get:
      operationId: getBrandingThemes
      responses:
        "200":
          content:
            application/json:
              example: '{ "Id": "d1a1beea-bdfe-4ee4-9dbc-27226a26cd68", "Status": "OK", "ProviderName": "Xero API Partner", "DateTimeUTC": "\/Date(1550881711906)\/", "BrandingThemes": [ { "BrandingThemeID": "dabc7637-62c1-4941-8a6e-ee44fa5090e7", "Name": "Standard", "SortOrder": 0, "CreatedDateUTC": "\/Date(1464967643813+0000)\/" } ] }'
              schema:
                $ref: "#/components/schemas/BrandingThemes"
          description: Success - return response of type BrandingThemes
      security:
        - OAuth2:
            - accounting.settings.read
      summary: Retrieves all the branding themes
      tags:
        - Accounting
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
  "/BrandingThemes/{BrandingThemeID}":
    get:
      operationId: getBrandingTheme
      parameters:
        - description: Unique identifier for a Branding Theme
          example: 00000000-0000-0000-0000-000000000000
          in: path
          name: BrandingThemeID
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              example: '{ "Id": "df671650-cf14-4a7f-b609-4166933719bc", "Status": "OK", "ProviderName": "Xero API Partner", "DateTimeUTC": "\/Date(1550881713071)\/", "BrandingThemes": [ { "BrandingThemeID": "dabc7637-62c1-4941-8a6e-ee44fa5090e7", "Name": "Standard", "SortOrder": 0, "CreatedDateUTC": "\/Date(1464967643813+0000)\/" } ] }'
              schema:
                $ref: "#/components/schemas/BrandingThemes"
          description: Success - return response of type BrandingThemes with one BrandingTheme
      security:
        - OAuth2:
            - accounting.settings.read
      summary: Retrieves a specific branding theme using a unique branding theme Id
      tags:
        - Accounting
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
  "/BrandingThemes/{BrandingThemeID}/PaymentServices":
    get:
      operationId: getBrandingThemePaymentServices
      parameters:
[...]
