swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Deployment Admin Client.
  title: DeploymentAdminClient
  version: 2019-01-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/deployment/Microsoft.Deployment.Admin/preview/2019-01-01/Deployment.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-Deployment
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Authorization uses an Azure Active Directory OAuth2 flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    default: 2019-01-01
    description: Client API Version.
    in: query
    name: api-version
    required: true
    type: string
  LocationParameter:
    default: 2019-01-01
    description: Location of the resource.
    in: path
    name: location
    required: true
    type: string
    x-ms-parameter-location: method
  ProductIdParameter:
    description: The product identifier.
    in: path
    name: productId
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.Deployment.Admin/operations:
    get:
      description: Returns the list of supported REST operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/OperationList"
      tags:
        - Deployment
      x-ms-examples:
        Returns the list of supported REST operations.:
          parameters:
            api-version: 2019-01-01
          responses:
            "200":
              body:
                value:
                  - display:
                      description: Returns the list of file containers or gets properties for the specified file container.
                      operation: List/Get File Container(s)
                      provider: Microsoft Deployment Provider
                      resource: File Container
                    name: Microsoft.Deployment.Admin/locations/fileContainers/read
                  - display:
                      description: Creates or updates a file container.
                      operation: Create/Update File Container
                      provider: Microsoft Deployment Provider
                      resource: File Container
                    name: Microsoft.Deployment.Admin/locations/fileContainers/write
                  - display:
                      description: Deletes an existing file container.
                      operation: Delete File Container
                      provider: Microsoft Deployment Provider
                      resource: File Container
                    name: Microsoft.Deployment.Admin/locations/fileContainers/delete
                  - display:
                      description: Polls the status of an asynchronous operation.
                      operation: Poll Asynchronous Operation
                      provider: Microsoft Deployment Provider
                      resource: Operation Result
                    name: Microsoft.Deployment.Admin/locations/operationresults/read
                    origin: user,system
                  - display:
                      description: Returns the list of supported operations.
                      operation: List Supported Operations
                      provider: Microsoft Deployment Provider
                      resource: Operation
                    name: Microsoft.Deployment.Admin/Operations/read
                    origin: user,system
                  - display:
                      description: Returns the list of product deployments or gets properties for the specified product deployment.
                      operation: List/Get Product Deployment(s)
                      provider: Microsoft Deployment Provider
                      resource: Product Deployment
                    name: Microsoft.Deployment.Admin/locations/productDeployments/read
                  - display:
                      description: Executes 'bootstrap' deployment phase.
                      operation: Execute Bootstrap Deployment Phase
                      provider: Microsoft Deployment Provider
                      resource: Product Deployment
                    name: Microsoft.Deployment.Admin/locations/productDeployments/bootstrap/action
                  - display:
                      description: Executes 'provision' deployment phase.
                      operation: Execute Provision Deployment Phase
                      provider: Microsoft Deployment Provider
                      resource: Product Deployment
                    name: Microsoft.Deployment.Admin/locations/productDeployments/deploy/action
                  - display:
                      description: Removes installed product.
                      operation: Remove Installed Product
                      provider: Microsoft Deployment Provider
                      resource: Product Deployment
                    name: Microsoft.Deployment.Admin/locations/productDeployments/remove/action
                  - display:
                      description: Enables or disables operator's access to product subscription.
                      operation: Set External Access
                      provider: Microsoft Deployment Provider
                      resource: Product Deployment
                    name: Microsoft.Deployment.Admin/locations/productDeployments/setexternalaccess/action
                  - display:
                      description: Returns the list of secrets or gets properties for the specified secret.
                      operation: List/Get Secret(s)
                      provider: Microsoft Deployment Provider
                      resource: Secret
                    name: Microsoft.Deployment.Admin/locations/productDeployments/secrets/read
                  - display:
                      description: Imports a new secret value.
                      operation: Import Secret Value
                      provider: Microsoft Deployment Provider
                      resource: Secret
                    name: Microsoft.Deployment.Admin/locations/productDeployments/secrets/import/action
                  - display:
                      description: Validates input for the import action.
                      operation: Validate Import
                      provider: Microsoft Deployment Provider
                      resource: Secret
                    name: Microsoft.Deployment.Admin/locations/productDeployments/secrets/validateImport/action
                  - display:
                      description: Returns the list of product packages or gets properties for the specified product package.
                      operation: List/Get Product Package(s)
                      provider: Microsoft Deployment Provider
                      resource: Product Package
                    name: Microsoft.Deployment.Admin/locations/productPackages/read
                  - display:
                      description: Creates or updates a product package.
                      operation: Create/Update Product Package
                      provider: Microsoft Deployment Provider
                      resource: Product Package
                    name: Microsoft.Deployment.Admin/locations/productPackages/write
                  - display:
                      description: Deletes an existing product package.
                      operation: Delete Product Package
                      provider: Microsoft Deployment Provider
                      resource: Product Package
                    name: Microsoft.Deployment.Admin/locations/productPackages/delete
      x-ms-pageable:
        nextLinkName: nextLink
definitions:
  Display:
    description: Contains the localized display information for this particular operation or action.
    properties:
      description:
        description: The localized, friendly description for the operation. The description will be displayed to the user. It should be thorough and concise for used in both tooltips and detailed views.
        type: string
      operation:
        description: The localized, friendly name for the operation. Use the name as it will displayed to the user.
        type: string
      provider:
        description: The localized, friendly version of the resource provider name. The provider name is expected to include the name of the publisher or company responsible. The provider name format should use title case and begin with "Microsoft" for first-party services. For example, the provider name may be"Microsoft Monitoring Insights" or "Microsoft Compute."
        type: string
      resource:
        description: The localized, friendly version of the resource type related to this action or operation; the resource type should match the public documentation for the resource provider.
        type: string
  ExtendedErrorInfo:
    description: Error information
    properties:
      code:
        description: Error Code
        type: string
      details:
        $ref: "#/definitions/ExtendedErrorInfo"
        description: Error message details
      message:
        description: Error Message
        type: string
    type: object
  JTokenString:
    description: Error information
    properties:
      value:
        description: Parameters as JToken string
        type: string
    type: object
  Operation:
    description: Describes the supported REST operation.
    properties:
      display:
        $ref: "#/definitions/Display"
        description: Contains the localized display information for this particular operation or action.
      name:
        description: The name of the operation being performed on this particular object. This name should match the name that appears in RBAC or the event service.
        type: string
      origin:
        description: Origin for the operation. Eg. User, System
        type: string
  OperationList:
    description: List of Operations
    properties:
      nextLink:
        description: URI to the next page of operations.
        type: string
      value:
        description: Array of operations
        items:
          $ref: "#/definitions/Operation"
        type: array
  Resource:
    description: Object model of azure resource manager base.
    properties:
      id:
        description: ID of the resource.
        readOnly: true
        type: string
      location:
        description: Location of the resource.
        type: string
      name:
        description: Name of the resource.
        readOnly: true
        type: string
      type:
        description: Type of Resource.
        readOnly: true
        type: string
    type: object
    x-ms-azure-resource: true
