swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Container Service Client.
  title: ContainerServiceClient
  version: 2019-09-30-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/containerservice/resource-manager/Microsoft.ContainerService/preview/2019-09-30/openShiftManagedClusters.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: containerservice-openShiftManagedClusters
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
    x-ms-parameter-location: client
  SubscriptionIdParameter:
    description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
    x-ms-parameter-location: client
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerService/openShiftManagedClusters":
    get:
      description: Gets a list of OpenShift managed clusters in the specified subscription. The operation returns properties of each OpenShift managed cluster.
      operationId: OpenShiftManagedClusters_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/OpenShiftManagedClusterListResult"
      summary: Gets a list of OpenShift managed clusters in the specified subscription.
      tags:
        - OpenShiftManagedClusters
      x-ms-examples:
        List Managed Clusters:
          parameters:
            api-version: 2019-04-30
            subscriptionId: subid1
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid1/providers/Microsoft.ContainerService/openShiftManagedClusters
                    location: location1
                    name: clustername1
                    properties:
                      agentPoolProfiles:
                        - count: 2
                          name: infra
                          osType: Linux
                          role: infra
                          subnetCidr: 10.0.0.0/24
                          vmSize: Standard_D4s_v3
                        - count: 4
                          name: compute
                          osType: Linux
                          role: compute
                          subnetCidr: 10.0.0.0/24
                          vmSize: Standard_D4s_v3
                      authProfile:
                        identityProviders:
                          - name: Azure AD
                            provider:
                              clientId: clientId
                              customerAdminGroupId: customerAdminGroupId
                              kind: AADIdentityProvider
                              tenantId: tenantId
                      clusterVersion: osa.1
                      fqdn: df9337748a4b.location1.cloudapp.azure.com
                      masterPoolProfile:
                        count: 3
                        subnetCidr: 10.0.0.0/24
                        vmSize: Standard_D4s_v3
                      monitorProfile:
                        enabled: true
                        workspaceResourceID: /subscriptions/subid1/resourcegroups/rg1/providers/Microsoft.OperationalInsights/workspaces/workspacename1
                      networkProfile:
                        vnetCidr: 10.0.0.0/8
                      openShiftVersion: v3.11
                      provisioningState: Succeeded
                      publicHostname: openshift.1225bdf9337748a4bd3a.location1.azmosa.io
                      routerProfiles:
                        - fqdn: osa2925bdf9337748f4bd3b.location1.cloudapp.azure.com
                          name: default
                          publicSubdomain: apps.bc309ee87c164153871c.location1.azmosa.io
                    tags:
                      archv2: ""
                      tier: production
                    type: Microsoft.ContainerService/OpenShiftManagedClusters
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/openShiftManagedClusters":
    get:
      description: Lists OpenShift managed clusters in the specified subscription and resource group. The operation returns properties of each OpenShift managed cluster.
      operationId: OpenShiftManagedClusters_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group.
          in: path
          minLength: 1
          name: resourceGroupName
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/OpenShiftManagedClusterListResult"
      summary: Lists OpenShift managed clusters in the specified subscription and resource group.
      tags:
        - OpenShiftManagedClusters
      x-ms-examples:
        Get Managed Clusters by Resource Group:
          parameters:
            api-version: 2018-09-30-preview
            resourceGroupName: rg1
            subscriptionId: subid1
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid1/resourcegroups/rg1/providers/Microsoft.ContainerService/openShiftManagedClusters
                    location: location1
                    name: clustername1
                    properties:
                      agentPoolProfiles:
                        - count: 2
                          name: infra
                          osType: Linux
                          role: infra
                          subnetCidr: 10.0.0.0/24
                          vmSize: Standard_D4s_v3
                        - count: 4
                          name: compute
                          osType: Linux
                          role: compute
                          subnetCidr: 10.0.0.0/24
                          vmSize: Standard_D4s_v3
                      authProfile:
                        identityProviders:
                          - name: Azure AD
                            provider:
                              clientId: clientId
                              customerAdminGroupId: customerAdminGroupId
                              kind: AADIdentityProvider
                              tenantId: tenantId
                      clusterVersion: osa.1
                      fqdn: df9337748a4b.location1.cloudapp.azure.com
                      masterPoolProfile:
                        count: 3
                        subnetCidr: 10.0.0.0/24
                        vmSize: Standard_D4s_v3
                      monitorProfile:
                        enabled: true
                        workspaceResourceID: /subscriptions/subid1/resourcegroups/rg1/providers/Microsoft.OperationalInsights/workspaces/workspacename1
                      networkProfile:
                        vnetCidr: 10.0.0.0/8
                      openShiftVersion: v3.11
                      provisioningState: Succeeded
                      routerProfiles:
                        - fqdn: dce5faa189c841b99f8a.location1.cloudapp.azure.com
                          name: default
                          publicSubdomain: b788fade68d345da9b77.location1.int.aksapp.io
                    tags:
                      archv2: ""
                      tier: production
                    type: Microsoft.ContainerService/OpenShiftManagedClusters
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/openShiftManagedClusters/{resourceName}":
    delete:
      description: Deletes the OpenShift managed cluster with a specified resource group and name.
      operationId: OpenShiftManagedClusters_Delete
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group.
          in: path
          minLength: 1
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the OpenShift managed cluster resource.
          in: path
          name: resourceName
          required: true
          type: string
      responses:
        "202":
          description: Accepted
        "204":
          description: NoContent
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Deletes an OpenShift managed cluster.
      tags:
        - OpenShiftManagedClusters
      x-ms-examples:
        Delete OpenShift Managed Cluster:
          parameters:
            api-version: 2019-04-30
            resourceGroupName: rg1
            resourceName: clustername1
            subscriptionId: subid1
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets the details of the managed OpenShift cluster with a specified resource group and name.
      operationId: OpenShiftManagedClusters_Get
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group.
          in: path
          minLength: 1
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the OpenShift managed cluster resource.
          in: path
          name: resourceName
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/OpenShiftManagedCluster"
        default:
          description: Error response describing why the operation failed. If the cluster doesn't exist, 404 (Not found) is returned.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Gets a OpenShift managed cluster.
      tags:
        - OpenShiftManagedClusters
      x-ms-examples:
        Get OpenShift Managed Cluster:
          parameters:
            api-version: 2019-04-30
            resourceGroupName: rg1
            resourceName: clustername1
            subscriptionId: subid1
          responses:
            "200":
              body:
                id: /subscriptions/subid1/resourcegroups/rg1/providers/Microsoft.ContainerService/openShiftManagedClusters/clustername1
                location: location1
                name: clustername1
                properties:
                  agentPoolProfiles:
                    - count: 2
                      name: infra
                      osType: Linux
                      role: infra
                      subnetCidr: 10.0.0.0/24
                      vmSize: Standard_D4s_v3
                    - count: 4
                      name: compute
                      osType: Linux
                      role: compute
                      subnetCidr: 10.0.0.0/24
                      vmSize: Standard_D4s_v3
                  authProfile:
                    identityProviders:
                      - name: Azure AD
                        provider:
                          clientId: clientId
                          customerAdminGroupId: customerAdminGroupId
                          kind: AADIdentityProvider
                          tenantId: tenantId
                  clusterVersion: osa.1
                  fqdn: df9337748a4b.location1.cloudapp.azure.com
                  masterPoolProfile:
                    count: 3
                    subnetCidr: 10.0.0.0/24
                    vmSize: Standard_D4s_v3
                  monitorProfile:
                    enabled: true
                    workspaceResourceID: /subscriptions/subid1/resourcegroups/rg1/providers/Microsoft.OperationalInsights/workspaces/workspacename1
                  networkProfile:
                    vnetCidr: 10.0.0.0/8
                  openShiftVersion: v3.11
                  provisioningState: Succeeded
                  publicHostname: openshift.1225bdf9337748a4bd3a.location1.azmosa.io
                  routerProfiles:
                    - fqdn: osa2925bdf9337748f4bd3b.location1.cloudapp.azure.com
                      name: default
                      publicSubdomain: apps.bc309ee87c164153871c.location1.azmosa.io
                tags:
                  archv2: ""
                  tier: production
                type: Microsoft.ContainerService/OpenShiftManagedClusters
    patch:
      description: Updates an OpenShift managed cluster with the specified tags.
      operationId: OpenShiftManagedClusters_UpdateTags
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group.
          in: path
          minLength: 1
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the OpenShift managed cluster resource.
          in: path
          name: resourceName
          required: true
          type: string
        - description: Parameters supplied to the Update OpenShift Managed Cluster Tags operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/TagsObject"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/OpenShiftManagedCluster"
        default:
          description: Error response describing why the operation failed. If the cluster doesn't exist, 404 (Not found) is returned. If any of the input parameters is wrong, 400(Bad Request) is returned.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Updates tags on an OpenShift managed cluster.
      tags:
        - OpenShiftManagedClusters
      x-ms-examples:
        Update OpenShift Managed Cluster Tags:
          parameters:
            api-version: 2019-04-30
            parameters:
              tags:
                archv3: ""
                tier: testing
            resourceGroupName: rg1
            resourceName: clustername1
            subscriptionId: subid1
          responses:
            "200":
              body:
                id: /subscriptions/subid1/resourcegroups/rg1/providers/Microsoft.ContainerService/openShiftManagedClusters/clustername1
                location: location1
                name: clustername1
                properties:
                  agentPoolProfiles:
                    - count: 2
                      name: infra
                      osType: Linux
                      role: infra
                      subnetCidr: 10.0.0.0/24
                      vmSize: Standard_D4s_v3
                    - count: 4
                      name: compute
                      osType: Linux
                      role: compute
                      subnetCidr: 10.0.0.0/24
                      vmSize: Standard_D4s_v3
                  authProfile:
                    identityProviders:
                      - name: Azure AD
                        provider:
                          clientId: clientId
                          customerAdminGroupId: customerAdminGroupId
                          kind: AADIdentityProvider
                          tenantId: tenantId
                  fqdn: df9337748a4b.location1.cloudapp.azure.com
                  masterPoolProfile:
                    count: 3
                    subnetCidr: 10.0.0.0/24
                    vmSize: Standard_D4s_v3
                  monitorProfile:
                    enabled: true
                    workspaceResourceID: /subscriptions/subid1/resourcegroups/rg1/providers/Microsoft.OperationalInsights/workspaces/workspacename1
                  networkProfile:
                    vnetCidr: 10.0.0.0/8
                  openShiftVersion: v3.11
                  provisioningState: Succeeded
                  publicHostname: openshift.1225bdf9337748a4bd3a.location1.azmosa.io
                  routerProfiles:
                    - fqdn: osa2925bdf9337748f4bd3b.location1.cloudapp.azure.com
                      name: default
                      publicSubdomain: apps.bc309ee87c164153871c.location1.azmosa.io
                tags:
                  archv3: ""
                  tier: testing
                type: Microsoft.ContainerService/OpenShiftManagedClusters
      x-ms-long-running-operation: true
    put:
      description: Creates or updates a OpenShift managed cluster with the specified configuration for agents and OpenShift version.
      operationId: OpenShiftManagedClusters_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group.
          in: path
          minLength: 1
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the OpenShift managed cluster resource.
          in: path
          name: resourceName
          required: true
          type: string
        - description: Parameters supplied to the Create or Update an OpenShift Managed Cluster operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/OpenShiftManagedCluster"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/OpenShiftManagedCluster"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/OpenShiftManagedCluster"
        default:
          description: Error response describing why the operation failed. If the cluster doesn't exist, 404 (Not found) is returned.If any of the input parameters is wrong, 400(Bad Request) is returned.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Creates or updates an OpenShift managed cluster.
      tags:
        - OpenShiftManagedClusters
      x-ms-examples:
        Create/Update OpenShift Managed Cluster:
          parameters:
            api-version: 2019-04-30
            parameters:
              location: location1
              properties:
                agentPoolProfiles:
                  - count: 2
                    name: infra
                    osType: Linux
                    role: infra
                    subnetCidr: 10.0.0.0/24
                    vmSize: Standard_D4s_v3
                  - count: 4
                    name: compute
                    osType: Linux
                    role: compute
                    subnetCidr: 10.0.0.0/24
                    vmSize: Standard_D4s_v3
                authProfile:
                  identityProviders:
                    - name: Azure AD
                      provider:
                        clientId: clientId
                        customerAdminGroupId: customerAdminGroupId
                        kind: AADIdentityProvider
                        secret: secret
                        tenantId: tenantId
                masterPoolProfile:
                  count: 3
                  name: master
                  osType: Linux
                  subnetCidr: 10.0.0.0/24
                  vmSize: Standard_D4s_v3
                monitorProfile:
                  enabled: true
                  workspaceResourceID: /subscriptions/subid1/resourcegroups/rg1/providers/Microsoft.OperationalInsights/workspaces/workspacename1
                networkProfile:
                  vnetCidr: 10.0.0.0/8
                openShiftVersion: v3.11
                routerProfiles:
                  - name: default
              tags:
                archv2: ""
                tier: production
            resourceGroupName: rg1
            resourceName: clustername1
            subscriptionId: subid1
          responses:
            "200":
              body:
                id: /subscriptions/subid1/resourcegroups/rg1/providers/Microsoft.ContainerService/openShiftManagedClusters/clustername1
                location: location1
                name: clustername1
                properties:
                  agentPoolProfiles:
                    - count: 2
                      name: infra
                      osType: Linux
                      role: infra
                      subnetCidr: 10.0.0.0/24
                      vmSize: Standard_D4s_v3
                    - count: 4
                      name: compute
                      osType: Linux
                      role: compute
                      subnetCidr: 10.0.0.0/24
                      vmSize: Standard_D4s_v3
                  authProfile:
                    identityProviders:
                      - name: Azure AD
                        provider:
                          clientId: clientId
                          customerAdminGroupId: customerAdminGroupId
                          kind: AADIdentityProvider
                          tenantId: tenantId
                  clusterVersion: osa.1
                  fqdn: df9337748a4b.location1.cloudapp.azure.com
                  masterPoolProfile:
                    count: 3
                    subnetCidr: 10.0.0.0/24
                    vmSize: Standard_D4s_v3
                  monitorProfile:
                    enabled: true
                    workspaceResourceID: /subscriptions/subid1/resourcegroups/rg1/providers/Microsoft.OperationalInsights/workspaces/workspacename1
                  networkProfile:
                    vnetCidr: 10.0.0.0/8
                  openShiftVersion: v3.11
                  provisioningState: Updating
                  publicHostname: openshift.1225bdf9337748a4bd3a.location1.azmosa.io
                  routerProfiles:
                    - fqdn: osa2925bdf9337748f4bd3b.location1.cloudapp.azure.com
                      name: default
                      publicSubdomain: apps.bc309ee87c164153871c.location1.azmosa.io
                tags:
                  archv2: ""
                  tier: production
                type: Microsoft.ContainerService/OpenShiftManagedClusters
            "201":
              body:
                id: /subscriptions/subid1/resourcegroups/rg1/providers/Microsoft.ContainerService/openShiftManagedClusters/clustername1
                location: location1
                name: clustername1
                properties:
                  agentPoolProfiles:
                    - count: 2
                      name: infra
                      osType: Linux
                      role: infra
                      subnetCidr: 10.0.0.0/24
                      vmSize: Standard_D4s_v3
                    - count: 4
                      name: compute
                      osType: Linux
                      role: compute
                      subnetCidr: 10.0.0.0/24
                      vmSize: Standard_D4s_v3
                  authProfile:
                    identityProviders:
                      - name: Azure AD
                        provider:
                          clientId: clientId
                          customerAdminGroupId: customerAdminGroupId
                          kind: AADIdentityProvider
                          tenantId: tenantId
                  clusterVersion: osa.1
                  fqdn: df9337748a4b.location1.cloudapp.azure.com
                  masterPoolProfile:
                    count: 3
                    name: master
                    osType: Linux
                    subnetCidr: 10.0.0.0/24
                    vmSize: Standard_D4s_v3
                  monitorProfile:
                    enabled: true
                    workspaceResourceID: /subscriptions/subid1/resourcegroups/rg1/providers/Microsoft.OperationalInsights/workspaces/workspacename1
                  networkProfile:
                    vnetCidr: 10.0.0.0/8
                  openShiftVersion: v3.11
                  provisioningState: Creating
                  routerProfiles:
                    - name: default
                tags:
                  archv2: ""
                  tier: production
                type: Microsoft.ContainerService/OpenShiftManagedClusters
      x-ms-long-running-operation: true
definitions:
  CloudError:
    description: An error response from the Container service.
    properties:
      error:
        $ref: "#/definitions/CloudErrorBody"
        description: Details about the error.
    x-ms-external: true
  CloudErrorBody:
    description: An error response from the Container service.
    properties:
      code:
        description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        type: string
      details:
        description: A list of additional details about the error.
        items:
          $ref: "#/definitions/CloudErrorBody"
        type: array
      message:
        description: A message describing the error, intended to be suitable for display in a user interface.
        type: string
      target:
        description: The target of the particular error. For example, the name of the property in error.
        type: string
    x-ms-external: true
  NetworkProfile:
    description: Represents the OpenShift networking configuration
    properties:
      peerVnetId:
        description: CIDR of the Vnet to peer.
        type: string
      vnetCidr:
        default: 10.0.0.0/8
        description: CIDR for the OpenShift Vnet.
        type: string
      vnetId:
        description: ID of the Vnet created for OSA cluster.
        type: string
  OSType:
    default: Linux
    description: OsType to be used to specify os type. Choose from Linux and Windows. Default to Linux.
    enum:
      - Linux
      - Windows
    type: string
    x-ms-enum:
      modelAsString: true
      name: OSType
  OpenShiftAgentPoolProfileRole:
    description: OpenShiftAgentPoolProfileRole represents the role of the AgentPoolProfile.
    enum:
      - compute
      - infra
    type: string
    x-ms-enum:
      modelAsString: true
      name: OpenShiftAgentPoolProfileRole
  OpenShiftContainerServiceVMSize:
    description: Size of OpenShift VMs.
    enum:
      - Standard_D2s_v3
      - Standard_D4s_v3
      - Standard_D8s_v3
      - Standard_D16s_v3
      - Standard_D32s_v3
      - Standard_D64s_v3
      - Standard_DS4_v2
      - Standard_DS5_v2
      - Standard_F8s_v2
      - Standard_F16s_v2
      - Standard_F32s_v2
      - Standard_F64s_v2
      - Standard_F72s_v2
      - Standard_F8s
      - Standard_F16s
      - Standard_E4s_v3
      - Standard_E8s_v3
      - Standard_E16s_v3
      - Standard_E20s_v3
      - Standard_E32s_v3
      - Standard_E64s_v3
      - Standard_GS2
      - Standard_GS3
      - Standard_GS4
      - Standard_GS5
      - Standard_DS12_v2
      - Standard_DS13_v2
      - Standard_DS14_v2
      - Standard_DS15_v2
      - Standard_L4s
      - Standard_L8s
      - Standard_L16s
      - Standard_L32s
    type: string
    x-ms-enum:
      modelAsString: true
      name: OpenShiftContainerServiceVMSize
  OpenShiftManagedCluster:
    allOf:
      - $ref: "#/definitions/Resource"
      - properties:
          plan:
            $ref: "#/definitions/PurchasePlan"
            description: Define the resource plan as required by ARM for billing purposes
          properties:
            $ref: "#/definitions/OpenShiftManagedClusterProperties"
            description: Properties of a OpenShift managed cluster.
            x-ms-client-flatten: true
    description: OpenShift Managed cluster.
  OpenShiftManagedClusterAADIdentityProvider:
    allOf:
      - $ref: "#/definitions/OpenShiftManagedClusterBaseIdentityProvider"
      - properties:
          clientId:
            description: The clientId password associated with the provider.
            type: string
          customerAdminGroupId:
            description: The groupId to be granted cluster admin role.
            type: string
          secret:
            description: The secret password associated with the provider.
            type: string
          tenantId:
            description: The tenantId associated with the provider.
            type: string
    description: Defines the Identity provider for MS AAD.
    x-ms-discriminator-value: AADIdentityProvider
  OpenShiftManagedClusterAgentPoolProfile:
    description: Defines the configuration of the OpenShift cluster VMs.
    properties:
      count:
        description: Number of agents (VMs) to host docker containers.
        format: int32
        type: integer
      name:
        description: Unique name of the pool profile in the context of the subscription and resource group.
        type: string
      osType:
        $ref: "#/definitions/OSType"
        description: OsType to be used to specify os type. Choose from Linux and Windows. Default to Linux.
      role:
        $ref: "#/definitions/OpenShiftAgentPoolProfileRole"
        description: Define the role of the AgentPoolProfile.
      subnetCidr:
        default: 10.0.0.0/24
        description: Subnet CIDR for the peering.
        type: string
      vmSize:
        $ref: "#/definitions/OpenShiftContainerServiceVMSize"
        description: Size of agent VMs.
    required:
      - name
      - count
      - vmSize
  OpenShiftManagedClusterAuthProfile:
    description: Defines all possible authentication profiles for the OpenShift cluster.
    properties:
      identityProviders:
        description: Type of authentication profile to use.
        items:
          $ref: "#/definitions/OpenShiftManagedClusterIdentityProvider"
        type: array
  OpenShiftManagedClusterBaseIdentityProvider:
    description: Structure for any Identity provider.
    discriminator: kind
    properties:
      kind:
        description: The kind of the provider.
        type: string
    required:
      - kind
  OpenShiftManagedClusterIdentityProvider:
    description: Defines the configuration of the identity providers to be used in the OpenShift cluster.
    properties:
      name:
        description: Name of the provider.
        type: string
      provider:
        $ref: "#/definitions/OpenShiftManagedClusterBaseIdentityProvider"
        description: Configuration of the provider.
  OpenShiftManagedClusterListResult:
    description: The response from the List OpenShift Managed Clusters operation.
    properties:
      nextLink:
        description: The URL to get the next set of OpenShift managed cluster results.
        readOnly: true
        type: string
      value:
        description: The list of OpenShift managed clusters.
        items:
          $ref: "#/definitions/OpenShiftManagedCluster"
        type: array
  OpenShiftManagedClusterMasterPoolProfile:
    description: OpenShiftManagedClusterMaterPoolProfile contains configuration for OpenShift master VMs.
    properties:
      count:
        description: Number of masters (VMs) to host docker containers. The default value is 3.
        format: int32
        type: integer
      name:
        description: Unique name of the master pool profile in the context of the subscription and resource group.
        type: string
      osType:
        $ref: "#/definitions/OSType"
        description: OsType to be used to specify os type. Choose from Linux and Windows. Default to Linux.
      subnetCidr:
        description: Subnet CIDR for the peering.
        type: string
      vmSize:
        $ref: "#/definitions/OpenShiftContainerServiceVMSize"
        description: Size of agent VMs.
    required:
      - count
      - vmSize
  OpenShiftManagedClusterMonitorProfile:
    description: Defines the configuration for Log Analytics integration.
    properties:
      enabled:
        description: If the Log analytics integration should be turned on or off
        type: boolean
      workspaceResourceID:
        description: Azure Resource Manager Resource ID for the Log Analytics workspace to integrate with.
        type: string
  OpenShiftManagedClusterProperties:
    description: Properties of the OpenShift managed cluster.
    properties:
      agentPoolProfiles:
        description: Configuration of OpenShift cluster VMs.
        items:
          $ref: "#/definitions/OpenShiftManagedClusterAgentPoolProfile"
        type: array
      authProfile:
        $ref: "#/definitions/OpenShiftManagedClusterAuthProfile"
        description: Configures OpenShift authentication.
      clusterVersion:
        description: Version of OpenShift specified when creating the cluster.
        readOnly: true
        type: string
      fqdn:
        description: Service generated FQDN for OpenShift API server loadbalancer internal hostname.
        readOnly: true
        type: string
      masterPoolProfile:
        $ref: "#/definitions/OpenShiftManagedClusterMasterPoolProfile"
        description: Configuration for OpenShift master VMs.
      monitorProfile:
        $ref: "#/definitions/OpenShiftManagedClusterMonitorProfile"
        description: Configures Log Analytics integration.
      networkProfile:
        $ref: "#/definitions/NetworkProfile"
        description: Configuration for OpenShift networking.
      openShiftVersion:
        description: Version of OpenShift specified when creating the cluster.
        type: string
      provisioningState:
        description: The current deployment or provisioning state, which only appears in the response.
        readOnly: true
        type: string
      publicHostname:
        description: Service generated FQDN for OpenShift API server.
        readOnly: true
        type: string
      routerProfiles:
        description: Configuration for OpenShift router(s).
        items:
          $ref: "#/definitions/OpenShiftRouterProfile"
        type: array
    required:
      - openShiftVersion
  OpenShiftRouterProfile:
    description: Represents an OpenShift router
    properties:
      fqdn:
        description: Auto-allocated FQDN for the OpenShift router.
        readOnly: true
        type: string
      name:
        description: Name of the router profile.
        type: string
      publicSubdomain:
        description: DNS subdomain for OpenShift router.
        readOnly: true
        type: string
  PurchasePlan:
    description: Used for establishing the purchase context of any 3rd Party artifact through MarketPlace.
    properties:
      name:
        description: The plan ID.
        type: string
      product:
        description: Specifies the product of the image from the marketplace. This is the same value as Offer under the imageReference element.
        type: string
      promotionCode:
        description: The promotion code.
        type: string
      publisher:
        description: The plan ID.
        type: string
  Resource:
    description: The Resource model definition.
    properties:
      id:
        description: Resource Id
        readOnly: true
        type: string
      location:
        description: Resource location
        type: string
        x-ms-mutability:
          - read
          - create
      name:
        description: Resource name
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
      type:
        description: Resource type
        readOnly: true
        type: string
    required:
      - location
    x-ms-azure-resource: true
  TagsObject:
    description: Tags object for patch operations.
    properties:
      tags:
        additionalProperties:
          type: string
        description: Resource tags.
        type: object
