swagger: "2.0"
schemes:
  - https
host: api.illumidesk.com
info:
  title: IllumiDesk
  version: "1.0"
  x-apisguru-categories:
    - open_data
  x-logo:
    backgroundColor: "#FFFFFF"
    url: https://api.apis.guru/v2/cache/logo/https_avatars3.githubusercontent.com_u_12212444.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/3Blades/openapi/master/tbs_swagger.yml
      version: "2.0"
  x-providerName: illumidesk.com
consumes:
  - application/json
produces:
  - application/json
  - text/html
securityDefinitions:
  jwt:
    description: |
      A valid JSON Web Token (JWT) must be passed for all operations except for those in the `/auth` route. A JWT can be retrieved from the `/auth/jwt-token-auth` endpoint.

      The following syntax is required:

        Authorization: Bearer <token>
    in: header
    name: Authorization
    type: apiKey
security:
  - jwt: []
paths:
  /auth/jwt-token-auth/:
    post:
      operationId: auth_jwt-token-auth
      parameters:
        - in: body
          name: jwt_data
          schema:
            $ref: "#/definitions/JWTData"
      responses:
        "201":
          description: JWT created
          examples:
            application/json:
              token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ
          schema:
            $ref: "#/definitions/JWT"
        "400":
          description: Invalid data supplied
          schema:
            $ref: "#/definitions/JWTError"
      security: []
      summary: Create JSON Web Token (JWT)
      tags:
        - auth
  /auth/jwt-token-refresh/:
    post:
      description: Obtains a new JSON Web Token using existing user credentials.
      operationId: auth_jwt-token-refresh
      parameters:
        - in: body
          name: refreshjwt_data
          schema:
            $ref: "#/definitions/RefreshJSONWebTokenData"
      responses:
        "201":
          description: RefreshJSONWebToken created
          schema:
            $ref: "#/definitions/RefreshJSONWebToken"
        "400":
          description: Invalid data supplied
          schema:
            $ref: "#/definitions/RefreshJSONWebTokenError"
      security: []
      summary: Refresh a JSON Web Token (JWT)
      tags:
        - auth
  /auth/jwt-token-verify/:
    post:
      description: Checks veraciy of token.
      operationId: auth_jwt-token-verify
      parameters:
        - in: body
          name: verifyjwt_data
          schema:
            $ref: "#/definitions/VerifyJSONWebTokenData"
      responses:
        "201":
          description: VerifyJSONWebToken created
          examples:
            application/json:
              token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ
          schema:
            $ref: "#/definitions/VerifyJSONWebToken"
        "400":
          description: Invalid data supplied
          schema:
            $ref: "#/definitions/VerifyJSONWebTokenError"
      security: []
      summary: Validate JSON Web Token (JWT)
      tags:
        - auth
  "/auth/login/{provider}/":
    get:
      operationId: oauth_login
      parameters:
        - description: OAuth2 provider
          enum:
            - github
            - google
            - slack
          in: path
          name: provider
          required: true
          type: string
      responses:
        "302":
          description: Redirect to backend auth page
      tags:
        - auth
  /auth/register/:
    post:
      description: User registration requires confirming email address to activate user.
      operationId: auth_register
      parameters:
        - in: body
          name: user_data
          schema:
            $ref: "#/definitions/UserData"
      responses:
        "201":
          description: User created
          examples:
            application/json:
              email: user@email.com
              first_name: John
              id: 536686d7-0096-4c72-a4c3-5d710a361a0a
              last_name: Doe
              profile:
                avatar_url: http://example.com/
                bio: I like tests
                company: IllumiDesk
                location: Atlanta, GA
                timezone: America/New_York
                url: http://about.me/myprofile
              username: johndoe
          schema:
            $ref: "#/definitions/User"
        "400":
          description: Invalid data supplied
          schema:
            $ref: "#/definitions/UserError"
      security: []
      summary: Register a user
      tags:
        - auth
  /v1/me:
    get:
      operationId: me
      responses:
        "200":
          description: User information retrieved.
          examples:
            application/json:
              email: johndoe@email.com
              first_name: John
              id: 66949654-1f75-4c6f-a5c5-e3572eae6527
              last_name: Doe
              profile:
                avatar_url: http://example.com/
                bio: I like tests
                company: 3Blades
                location: Atlanta, GA
                timezone: America/New_York
                url: http://about.me/myprofile
              username: johndoe
          schema:
            $ref: "#/definitions/User"
      summary: A convenience endpoint that is equivalent to GET /v1/users/profiles/<my user id>/
      tags:
        - users
  /v1/servers/options/server-size/:
    get:
      operationId: servers_options_sizes_list
      parameters:
        - description: Set limit when retrieving items.
          in: query
          name: limit
          required: false
          type: string
        - description: Offset when retrieving items.
          in: query
          name: offset
          required: false
          type: string
        - description: Set order when retrieving items.
          in: query
          name: ordering
          required: false
          type: string
      responses:
        "200":
          description: Server size list.
          examples:
            application/json: []
          schema:
            items:
              $ref: "#/definitions/ServerSize"
            type: array
      summary: Retrieve available server sizes
      tags:
        - servers
    post:
      description: Only super users with on-premises version have acceess to this endpoint.
      operationId: servers_options_server_size_create
      parameters:
        - in: body
          name: serversize_data
          schema:
            $ref: "#/definitions/ServerSizeData"
      responses:
        "201":
          description: ServerSize created. This operation is available only to super users.
          examples:
            application/json:
              active: true
              cpu: 1
              id: 2f4a5830-169d-4111-b913-e68c7b94fdbe
              memory: 512
              name: myResource
          schema:
            $ref: "#/definitions/ServerSize"
        "400":
          description: Invalid data supplied
          schema:
            $ref: "#/definitions/ServerSizeError"
      summary: Create a new server size item
      tags:
        - servers
  "/v1/servers/options/server-size/{size}/":
    delete:
      description: Only super users with on-premises version have acceess to this endpoint.
      operationId: servers_options_server_size_delete
      parameters:
        - description: Server size unique identifier expressed as UUID or name.
          in: path
          name: size
          required: true
          type: string
      responses:
        "204":
          description: Server size deleted. This operation is available only to super users
        "404":
          description: ServerSize not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Delete a server size by id
      tags:
        - servers
    get:
      operationId: servers_options_resources_read
      parameters:
        - description: Server size unique identifier expressed as UUID or name.
          in: path
          name: size
          required: true
          type: string
      responses:
        "200":
          description: Environment resource retrieved.
          examples:
            application/json:
              active: true
              cpu: 1
              id: 2f4a5830-169d-4111-b913-e68c7b94fdbe
              memory: 512
              name: myResource
          schema:
            $ref: "#/definitions/ServerSize"
        "404":
          description: Environment resource not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Get a server size by id
      tags:
        - servers
    patch:
      description: Only super users with on-premises version have acceess to this endpoint.
      operationId: servers_options_server_size_update
      parameters:
        - description: Server size unique identifier expressed as UUID or name.
          in: path
          name: size
          required: true
          type: string
        - in: body
          name: serversize_data
          schema:
            $ref: "#/definitions/ServerSizeData"
      responses:
        "200":
          description: Server size updated. This operation is available only to super users.
          examples:
            application/json:
              active: true
              cpu: 1
              id: b673c7ab-65ad-4d6e-859e-0483eea86ad6
              memory: 512
              name: myServerSizeWithPatch
          schema:
            $ref: "#/definitions/ServerSize"
        "400":
          description: Invalid data supplied.
          schema:
            $ref: "#/definitions/ServerSizeError"
        "404":
          description: Server size not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Update a server size by id
      tags:
        - servers
    put:
      description: Only super users with on-premises version have acceess to this endpoint.
      operationId: servers_options_server_size_replace
      parameters:
        - description: Server size unique identifier expressed as UUID or name.
          in: path
          name: size
          required: true
          type: string
        - in: body
          name: serversize_data
          schema:
            $ref: "#/definitions/ServerSizeData"
      responses:
        "200":
          description: Server size replaced. This operation is available only to super users.
          examples:
            application/json:
              active: true
              cpu: 1
              id: b673c7ab-65ad-4d6e-859e-0483eea86ad6
              memory: 512
              name: myResourceWithPut
          schema:
            $ref: "#/definitions/ServerSize"
        "400":
          description: Invalid data supplied.
          schema:
            $ref: "#/definitions/ServerSizeError"
        "404":
          description: ServerSize not found
          schema:
            $ref: "#/definitions/NotFound"
      summary: Replace a server size by id
      tags:
        - servers
  /v1/teams/:
    get:
      operationId: teams_list
      parameters:
        - description: Limit when getting data.
          in: query
          name: limit
          required: false
          type: string
        - description: Offset when getting data.
          in: query
          name: offset
          required: false
          type: string
      responses:
        "200":
          description: Team list
          examples:
            application/json: []
          schema:
            items:
              $ref: "#/definitions/Team"
            type: array
      summary: Get teams
      tags:
        - teams
    post:
      operationId: teams_create
      parameters:
        - in: body
          name: team_data
          schema:
            $ref: "#/definitions/TeamData"
      responses:
        "201":
          description: Team created
          schema:
            $ref: "#/definitions/Team"
        "400":
          description: Invalid data supplied
          schema:
            $ref: "#/definitions/TeamError"
      summary: Create a new team
      tags:
        - teams
  "/v1/teams/{team}/":
    delete:
      operationId: teams_delete
      parameters:
        - description: Team unique identifier expressed as UUID or name.
          in: path
          name: team
          required: true
          type: string
      responses:
        "204":
          description: Team deleted.
        "404":
          description: Team not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Delete a team
      tags:
        - teams
    get:
      operationId: teams_read
      parameters:
        - description: Team unique identifier expressed as UUID or name.
          in: path
          name: team
          required: true
          type: string
      responses:
        "200":
          description: Team retrieved successfully.
          schema:
            $ref: "#/definitions/Team"
        "404":
          description: Team not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Get a team
      tags:
        - teams
    patch:
      operationId: teams_update
      parameters:
        - description: Team unique identifier expressed as UUID or name.
          in: path
          name: team
          required: true
          type: string
        - in: body
          name: team_data
          schema:
            $ref: "#/definitions/TeamData"
      responses:
        "200":
          description: Team updated
          schema:
            $ref: "#/definitions/Team"
        "400":
          description: Invalid data supplied
          schema:
            $ref: "#/definitions/TeamError"
        "404":
          description: Team not found
          schema:
            $ref: "#/definitions/NotFound"
      summary: Update a team
      tags:
        - teams
    put:
      operationId: teams_replace
      parameters:
        - description: Team unique identifier expressed as UUID or name.
          in: path
          name: team
          required: true
          type: string
        - in: body
          name: team_data
          schema:
            $ref: "#/definitions/TeamData"
      responses:
        "200":
          description: Team updated
          schema:
            $ref: "#/definitions/Team"
        "400":
          description: Invalid data supplied.
          schema:
            $ref: "#/definitions/TeamError"
      summary: Replace a team
      tags:
        - teams
  "/v1/teams/{team}/billing/invoices/":
    get:
      operationId: teams_billing_invoices_list
      parameters:
        - description: Team unique identifier expressed as UUID or name.
          in: path
          name: team
          required: true
          type: string
        - description: Limit when getting items.
          in: query
          name: limit
          required: false
          type: string
        - description: Offset when getting items.
          in: query
          name: offset
          required: false
          type: string
      responses:
        "200":
          description: Invoice list.
          examples:
            application/json: []
          schema:
            items:
              $ref: "#/definitions/Invoice"
            type: array
      summary: Get team invoices
      tags:
        - teams
        - billing
  "/v1/teams/{team}/billing/invoices/{id}/":
    get:
      operationId: teams_billing_invoices_read
      parameters:
        - description: Team unique identifier expressed as UUID or name.
          in: path
          name: team
          required: true
          type: string
        - description: Invoice unique identifier expressed as UUID.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Team invoice retrieved.
          schema:
            $ref: "#/definitions/Invoice"
        "404":
          description: Team invoice not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Get an invoice
      tags:
        - teams
        - billing
  "/v1/teams/{team}/billing/invoices/{invoice_id}/invoice-items/":
    get:
      operationId: teams_billing_invoice_items_list
      parameters:
        - description: Team unique identifier expressed as UUID or name.
          in: path
          name: team
          required: true
          type: string
        - description: Invoice id, expressed as UUID.
          in: path
          name: invoice_id
          required: true
          type: string
        - description: Limit when getting items.
          in: query
          name: limit
          required: false
          type: string
        - description: Offset when getting items.
          in: query
          name: offset
          required: false
          type: string
        - description: Ordering when getting items.
          in: query
          name: ordering
          required: false
          type: string
      responses:
        "200":
          description: Team invoiceItem list.
          examples:
            application/json: []
          schema:
            items:
              $ref: "#/definitions/InvoiceItem"
            type: array
      summary: Get team invoice items for a given invoice.
      tags:
        - teams
        - billing
  "/v1/teams/{team}/billing/invoices/{invoice_id}/invoice-items/{id}":
    get:
      operationId: teams_billing_invoice_items_read
      parameters:
        - description: Team unique identifier expressed as UUID or name.
          in: path
          name: team
          required: true
          type: string
        - description: Invoice id, expressed as UUID.
          in: path
          name: invoice_id
          required: true
          type: string
        - description: InvoiceItem id, expressed as UUID.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Team invoiceItem retrieved.
          schema:
            $ref: "#/definitions/InvoiceItem"
        "404":
          description: InvoiceItem not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Get a specific team InvoiceItem.
      tags:
        - teams
        - billing
  "/v1/teams/{team}/billing/subscriptions/":
    get:
      operationId: teams_billing_subscriptions_list
      parameters:
        - description: Team unique identifier expressed as UUID or name.
          in: path
          name: team
          required: true
          type: string
        - description: Limit when getting items.
          in: query
          name: limit
          required: false
          type: string
        - description: Offset when getting items.
          in: query
          name: offset
          required: false
          type: string
        - description: Ordering when getting items.
          in: query
          name: ordering
          required: false
          type: string
      responses:
        "200":
          description: Teams subscription list.
          examples:
            application/json:
              - application_fee_percent: 0
                cancel_at_period_end: false
                canceled_at: ""
                created: 2017-07-24T17:25:04Z
                current_period_end: 2017-07-31T17:25:04Z
                current_period_start: 2017-07-24T17:25:04Z
                ended_at: ""
                id: 579208c3-4f5c-4b5d-baa3-309a06db681c
                livemode: false
                plan: efb36cb0-0ef2-4af3-ae5d-10d9ae73845d
                quantity: 1
                start: 2017-07-24T17:25:04Z
                status: trialing
                stripe_id: sub_B5KyO9BZ6lUNPP
                trial_end: 2017-07-31T17:25:04Z
                trial_start: 2017-07-24T17:25:04Z
          schema:
            items:
              $ref: "#/definitions/Subscription"
            type: array
      summary: Get active team subscriptons
      tags:
        - teams
        - billing
    post:
      operationId: teams_billing_subscriptions_create
      parameters:
        - description: Team unique identifier expressed as UUID or name.
          in: path
          name: team
          required: true
          type: string
        - in: body
          name: subscription_data
          schema:
            $ref: "#/definitions/SubscriptionData"
      responses:
        "201":
          description: Team subscription created
          examples:
            application/json:
              application_fee_percent: 0
              cancel_at_period_end: false
              canceled_at: ""
              created: 2017-07-24T17:25:04Z
              current_period_end: 2017-07-31T17:25:04Z
              current_period_start: 2017-07-24T17:25:04Z
              ended_at: ""
              id: 579208c3-4f5c-4b5d-baa3-309a06db681c
              livemode: false
              plan: efb36cb0-0ef2-4af3-ae5d-10d9ae73845d
              quantity: 1
              start: 2017-07-24T17:25:04Z
              status: trialing
              stripe_id: sub_B5KyO9BZ6lUNPP
              trial_end: 2017-07-31T17:25:04Z
              trial_start: 2017-07-24T17:25:04Z
          schema:
            $ref: "#/definitions/Subscription"
        "400":
          description: Invalid data supplied
          schema:
            $ref: "#/definitions/SubscriptionError"
      summary: Create a new team subscription
      tags:
        - teams
        - billing
  "/v1/teams/{team}/billing/subscriptions/{id}/":
    delete:
      operationId: teams_billing_subscriptions_delete
      parameters:
        - description: Team unique identifier expressed as UUID or name.
          in: path
          name: team
          required: true
          type: string
        - description: Subscription unique identifier expressed as UUID.
          in: path
          name: id
          required: true
          type: string
      responses:
        "204":
          description: Subscription deleted.
        "404":
          description: Subscription not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Delete a subscription
      tags:
        - teams
        - billing
    get:
      operationId: teams_billing_subscriptions_read
      parameters:
        - description: Team unique identifier expressed as UUID or name.
          in: path
          name: team
          required: true
          type: string
        - description: Unique identifier expressed as UUID.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Team subscription retrieved.
          schema:
            $ref: "#/definitions/Subscription"
        "404":
          description: Subscription not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Get team subscriptions
      tags:
        - teams
        - billing
  "/v1/teams/{team}/groups/":
    get:
      operationId: teams_groups_list
      parameters:
        - description: Team unique identifier expressed as UUID or name.
          in: path
          name: team
          required: true
          type: string
        - description: Limit when getting data.
          in: query
          name: limit
          required: false
          type: string
        - description: Offset when getting data.
          in: query
          name: offset
          required: false
          type: string
      responses:
        "200":
          description: Team groups list
          schema:
            items:
              $ref: "#/definitions/Group"
            type: array
      summary: Get team groups
      tags:
        - teams
  "/v1/teams/{team}/groups/{group}/":
    delete:
      operationId: teams_groups_delete
      parameters:
        - description: Team unique identifier expressed as UUID or name.
          in: path
          name: team
          required: true
          type: string
        - description: Group unique identifier expressed as UUID or name.
          in: path
          name: group
          required: true
          type: string
      responses:
        "204":
          description: Group deleted
        "404":
          description: Group not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Delete team group
      tags:
        - teams
    get:
      operationId: teams_groups_read
      parameters:
        - description: Team unique identifier expressed as UUID or name.
          in: path
          name: team
          required: true
          type: string
        - description: Group unique identifier expressed as UUID or name.
          in: path
          name: group
          required: true
          type: string
      responses:
        "200":
          description: Group retrieved.
          schema:
            $ref: "#/definitions/Group"
      summary: Get team group
      tags:
        - teams
    patch:
      operationId: teams_groups_update
      parameters:
        - description: Team unique identifier expressed as UUID or name.
          in: path
          name: team
          required: true
          type: string
        - description: Group unique identifier expressed as UUID or name.
          in: path
          name: group
          required: true
          type: string
        - in: body
          name: group_data
          schema:
            $ref: "#/definitions/GroupData"
      responses:
        "200":
          description: Group updated
          schema:
            $ref: "#/definitions/Group"
        "400":
          description: Invalid data supplied
          schema:
            $ref: "#/definitions/GroupError"
        "404":
          description: Group not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Patch team group
      tags:
        - teams
    put:
      operationId: teams_groups_replace
      parameters:
        - description: Team unique identifier expressed as UUID or name.
          in: path
          name: team
          required: true
          type: string
        - description: Group unique identifier expressed as UUID or name.
          in: path
          name: group
          required: true
          type: string
        - in: body
          name: group_data
          schema:
            $ref: "#/definitions/GroupData"
      responses:
        "200":
          description: Group replaced
          schema:
            $ref: "#/definitions/Group"
        "400":
          description: Invalid data supplied
          schema:
            $ref: "#/definitions/GroupError"
      summary: Patch team group
      tags:
        - teams
  "/v1/teams/{team}/groups/{group}/add/":
    post:
      operationId: teams_groups_add_to_group
      parameters:
        - description: Team unique identifier expressed as UUID or name.
          in: path
          name: team
          required: true
          type: string
        - description: Group unique identifier expressed as UUID or name.
          in: path
          name: group
          required: true
          type: string
      responses:
        "200":
          description: User added to group.
          schema:
            $ref: "#/definitions/GroupUser"
        "400":
          description: Invalid data supplied
          schema:
            $ref: "#/definitions/GroupUserError"
        "404":
          description: Group not found
          schema:
            $ref: "#/definitions/NotFound"
      summary: Add user to group
      tags:
        - teams
  "/v1/teams/{team}/groups/{group}/remove/":
    post:
      operationId: teams_groups_remove_from_group
      parameters:
        - description: Team unique identifier expressed as UUID or name.
          in: path
          name: team
          required: true
          type: string
        - description: Group unique identifier expressed as UUID or name.
          in: path
          name: group
          required: true
          type: string
      responses:
        "200":
          description: User removed from group.
        "400":
          description: Invalid data supplied
        "404":
          description: Group not found
          schema:
            $ref: "#/definitions/NotFound"
      summary: User removed from group
      tags:
        - teams
  /v1/users/profiles/:
    get:
      operationId: users_list
      parameters:
        - description: Limit user list.
          in: query
          name: limit
          required: false
          type: string
        - description: Offset when getting users.
          in: query
          name: offset
          required: false
          type: string
        - description: User username.
          in: query
          name: username
          required: false
          type: string
        - description: User email.
          in: query
          name: email
          required: false
          type: string
        - description: Ordering when getting users.
          in: query
          name: ordering
          required: false
          type: string
      responses:
        "200":
          description: User list
          examples:
            application/json:
              - email: johndoe@email.com
                first_name: John
                id: 66949654-1f75-4c6f-a5c5-e3572eae6527
                last_name: Doe
                profile:
                  avatar_url: http://example.com/
                  bio: I like tests
                  company: 3Blades
                  location: Atlanta, GA
                  timezone: America/New_York
                  url: http://about.me/myprofile
                username: johndoe
              - email: janedoe@email.com
                first_name: John
                id: 66949654-1f75-4c6f-a5c5-e3572eae6527
                last_name: Doe
                profile:
                  avatar_url: http://example.com/
                  bio: I like tests
                  company: 3Blades
                  location: Atlanta, GA
                  timezone: America/New_York
                  url: http://about.me/myprofile
                username: janedoe
          schema:
            items:
              $ref: "#/definitions/User"
            type: array
      summary: Get user list
      tags:
        - users
    post:
      description: Only admin users can create new users. New users have active status by default.
      operationId: users_create
      parameters:
        - in: body
          name: user_data
          schema:
            $ref: "#/definitions/UserData"
      responses:
        "201":
          description: User created
          examples:
            application/json:
              email: johndoe@email.com
              first_name: John
              id: 66949654-1f75-4c6f-a5c5-e3572eae6527
              last_name: Doe
              profile:
                avatar_url: http://example.com/
                bio: I like tests
                company: 3Blades
                location: Atlanta, GA
                timezone: America/New_York
                url: http://about.me/myprofile
              username: johndoe
          schema:
            $ref: "#/definitions/User"
        "400":
          description: Invalid data supplied
          schema:
            $ref: "#/definitions/UserError"
      summary: Create new user
      tags:
        - users
  "/v1/users/profiles/{user}/":
    delete:
      operationId: users_delete
      parameters:
        - description: User identifier expressed as UUID or username.
          in: path
          name: user
          required: true
          type: string
      responses:
        "204":
          description: User deleted.
        "404":
          description: User not found
          schema:
            $ref: "#/definitions/NotFound"
      summary: Delete a user
      tags:
        - users
    get:
      operationId: users_read
      parameters:
        - description: Unique identifier expressed as UUID or username.
          in: path
          name: user
          required: true
          type: string
      responses:
        "200":
          description: User retrieved.
          examples:
            application/json:
              email: johndoe@email.com
              first_name: John
              id: 66949654-1f75-4c6f-a5c5-e3572eae6527
              last_name: Doe
              profile:
                avatar_url: http://example.com/
                bio: I like tests
                company: 3Blades
                location: Atlanta, GA
                timezone: America/New_York
                url: http://about.me/myprofile
              username: johndoe
          schema:
            $ref: "#/definitions/User"
        "404":
          description: User not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Retrieve a user
      tags:
        - users
    patch:
      operationId: users_update
      parameters:
        - description: User unique identifier expressed as UUID or username.
          in: path
          name: user
          required: true
          type: string
        - in: body
          name: user_data
          schema:
            $ref: "#/definitions/UserData"
      responses:
        "200":
          description: User updated.
          examples:
            application/json:
              email: runB@email.com
              first_name: John
              id: 66949654-1f75-4c6f-a5c5-e3572eae6527
              last_name: Doe
              profile:
                avatar_url: http://example.com/
                bio: Data updated with patch
                company: 3Blades
                location: Atlanta, GA
                timezone: America/New_York
                url: http://about.me/myprofile
              username: johndoe
          schema:
            $ref: "#/definitions/User"
        "400":
          description: Invalid data supplied.
          schema:
            $ref: "#/definitions/UserError"
        "404":
          description: User not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Update a user
      tags:
        - users
  "/v1/users/{user}/api-key/":
    get:
      operationId: users_api-key_list
      parameters:
        - description: User unique identifier expressed as UUID or username.
          in: path
          name: user
          required: true
          type: string
      responses:
        "200":
          description: Api Key
      summary: Retrieve account's API key
      tags:
        - users
  "/v1/users/{user}/avatar/":
    delete:
      operationId: user_avatar_delete
      parameters:
        - description: User unique identifier expressed as UUID or username.
          in: path
          name: user
          required: true
          type: string
      responses:
        "204":
          description: Avatar deleted
        "404":
          description: Avatar not found
          schema:
            $ref: "#/definitions/NotFound"
      summary: Delete avatar
      tags:
        - users
    get:
      operationId: user_avatar_get
      parameters:
        - description: User unique identifier expressed as UUIDor username.
          in: path
          name: user
          required: true
          type: string
      responses:
        "200":
          description: User avatar
      summary: Retrieve user's avatar
      tags:
        - users
    patch:
      consumes:
        - multipart/form-data
      operationId: user_avatar_update
      parameters:
        - description: User unique identifier expressed as UUID or username.
          in: path
          name: user
          required: true
          type: string
      responses:
        "200":
          description: Avatar updated.
          schema:
            $ref: "#/definitions/User"
        "400":
          description: Invalid data supplied.
          schema:
            $ref: "#/definitions/UserError"
        "404":
          description: Avatar not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Update a project file
      tags:
        - users
    post:
      consumes:
        - multipart/form-data
      operationId: user_avatar_set
      parameters:
        - description: User unique identifier expressed as UUID or username.
          in: path
          name: user
          required: true
          type: string
      responses:
        "201":
          description: Added user avatar
          schema:
            $ref: "#/definitions/User"
        "400":
          description: Invalid data supplied
      summary: Add user avatar
      tags:
        - users
  "/v1/users/{user}/emails/":
    get:
      operationId: users_emails_list
      parameters:
        - description: User unique identifier as expressed as UUID or username.
          in: path
          name: user
          required: true
          type: string
        - description: Limite when getting email list.
          in: query
          name: limit
          required: false
          type: string
        - description: Offset when getting email list.
          in: query
          name: offset
          required: false
          type: string
        - description: Ordering when getting email list.
          in: query
          name: ordering
          required: false
          type: string
      responses:
        "200":
          description: Email list
          examples:
            application/json: []
          schema:
            items:
              $ref: "#/definitions/Email"
            type: array
      summary: Retrieve account email addresses
      tags:
        - users
    post:
      operationId: users_emails_create
      parameters:
        - description: User unique identifier expressed as UUID or username.
          in: path
          name: user
          required: true
          type: string
        - in: body
          name: email_data
          schema:
            $ref: "#/definitions/EmailData"
      responses:
        "201":
          description: Email created
          examples:
            application/json:
              address: post@email.com
              id: 383e0d16-2052-4196-95b8-d9d73ed043a9
              public: true
              unsubscribed: false
          schema:
            $ref: "#/definitions/Email"
        "400":
          description: Invalid data supplied
          schema:
            $ref: "#/definitions/EmailError"
      summary: Create an email address
      tags:
        - users
  "/v1/users/{user}/emails/{email_id}/":
    delete:
      operationId: users_emails_delete
      parameters:
        - description: Email unique identifier expressed as UUID.
          in: path
          name: email_id
          required: true
          type: string
        - description: User unique identifier expressed as UUID or username.
          in: path
          name: user
          required: true
          type: string
      responses:
        "204":
          description: Email deleted.
        "404":
          description: Email not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Delete an email address
      tags:
        - users
    get:
      operationId: users_emails_read
      parameters:
        - description: Email unique identifier expressed as UUID.
          in: path
          name: email_id
          required: true
          type: string
        - description: User unique identifier expressed as UUID or username.
          in: path
          name: user
          required: true
          type: string
      responses:
        "200":
          description: Email retrieved
          examples:
            application/json:
              address: post@email.com
              id: 383e0d16-2052-4196-95b8-d9d73ed043a9
              public: true
              unsubscribed: false
          schema:
            $ref: "#/definitions/Email"
        "404":
          description: Email not found
          schema:
            $ref: "#/definitions/NotFound"
      summary: Retrieve a user's email addresses
      tags:
        - users
    patch:
      operationId: users_emails_update
      parameters:
        - description: Email unique identifier expressed as UUID.
          in: path
          name: email_id
          required: true
          type: string
        - description: User unique identifier expressed as UUID or username.
          in: path
          name: user
          required: true
          type: string
        - in: body
          name: email_data
          schema:
            $ref: "#/definitions/EmailData"
      responses:
        "200":
          description: Email updated
          examples:
            application/json:
              address: patch@email.com
              id: 383e0d16-2052-4196-95b8-d9d73ed043a9
              public: false
              unsubscribed: false
          schema:
            $ref: "#/definitions/Email"
        "400":
          description: Invalid data supplied
          schema:
            $ref: "#/definitions/EmailError"
        "404":
          description: Email not found
          schema:
            $ref: "#/definitions/NotFound"
      summary: Update an email address
      tags:
        - users
    put:
      operationId: users_emails_replace
      parameters:
        - description: Email unique identifier expressed as UUID.
          in: path
          name: email_id
          required: true
          type: string
        - description: User unique identifier expressed as UUID or username.
          in: path
          name: user
          required: true
          type: string
        - in: body
          name: email_data
          schema:
            $ref: "#/definitions/EmailData"
      responses:
        "200":
          description: Email updated
          examples:
            application/json:
              address: put@email.com
              id: 383e0d16-2052-4196-95b8-d9d73ed043a9
              public: false
              unsubscribed: true
          schema:
            $ref: "#/definitions/Email"
        "400":
          description: Invalid data supplied
          schema:
            $ref: "#/definitions/EmailError"
      summary: Replace an email address
      tags:
        - users
  "/v1/users/{user}/ssh-key/":
    get:
      operationId: users_ssh-key_list
      parameters:
        - description: User unique identifier expressed as UUID or username.
          in: path
          name: user
          required: true
          type: string
      responses:
        "200":
          description: SSH Key.
          examples:
            application/json:
              key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCqadyIPIEOF4M7SDoI+MHnAj6q2CY2j62Eg0sNbBbjnuekxnhSWVVKPte+NVtK4MWIyw3wnCCzTjwe0p2pQpMqxjqnCAkBPGhOjrRWTvV54hHTihBxiAEmXqbaBg5e6SaXcqP1OajWYzDqhts4ISer0uymzi0hW65At5i5k87Xu9HSM/Q0ySVJGm0rMuDCIoaTIeQdTkAI9ww/cmOM7uvIDO0OJv2xai9xLB9APVq8zCtqWdivMaqo2waPDT/I9bwtSZxRsnRMakGmj3CWvciHv13UsGlbB7nTeDKX0eyQl/5SADLO0bU+hY/8BpRjjtdq57Pqn/Xyw22YarDkG74gjLG5GBFZkBxcpENoUtCUyE2bhBT4x9yXlTeycMBTopGtzTfIHrJtIgNCFMhg9LbK4IKP/1pLj8SrVaQ9/k/QkxmDFoqfwdGd3AWOghMCAbAB7KaDKrj/XBf/KgTd8ZozjvkTzu2YRf4o3DebxRJipPQumrH3iXX5Kfe9lBWkR7Smewwp2XZrdgBeXN/54hd+Ic3upi528IGzEzu3/xtLT/e7kLi1QH7CVVN1sskZkIRr7aukw4YiVWgVOAlqKzJEoE/BPZSOA0NlgG0h37ZmyhdY1VqtoD+Vnj7Qh272PlTB14ndEVTqGuZhsCSxIhXev+METZ6XezK5n1VQeHGveQ==
      summary: Retrieve an SSH key
      tags:
        - users
  "/v1/users/{user}/ssh-key/reset/":
    post:
      operationId: users_ssh-key_reset
      parameters:
        - description: User unique identifier expressed as UUID or username.
          in: path
          name: user
          required: true
          type: string
      responses:
        "201":
          description: Reset SSH Key successfully.
          examples:
            application/json:
              key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDhMvg2+n2yNu0H2Hg8uiXfQtAid0WGRigNckb5J0T9GFINmqkYalI/AsWZbl4UfNMviD73h9xowUx+d7s2vB3E8bFxB9OWM22eLSp8fnbuhdI5mKBflq0jr6ms1cR/SD3YsbZ9sX6BqycQrjjYYl7WLM9rgec6b+EYyr/6nbDH/wql06TrNl6LUNkqI+YIqjRvqMeNEY9ux3sB+f46FRKO683u/cRCcp1eWAYf1ByYupIGREbQFLxhYv/NcKD8uIo7DRAuutwHKGOgnAl4WGUVsT5dplhaDYKlDTf2iMiJ+QDT25QABdrkHcIsu5D21AIdH3FI5UQnnu4unyEA77IDLp2EwKRr9k1XQc1o3zQ61+9Gm7Rt80WWgRsnhmshvAIDNcBv1+82kmA9jyeUf3M7KoRJLk6nIbZ1NwoVCX0VF3lRIB0Hvm/dL7Rpk8m/hE0SIIWIGaXbOT4ANFj+TxcF1Mfk7C3/T5/AYLHcq9ocYFKe4Q3Jv7tuHm600edpUfORdpCpjytcKStza07dRDa+OU577r6a1zHMrEMh8oEUtVO5pC1+EaRijTVaOR62DoarHdxJ23Ctk44o0JZfzj9VoVaAwVAhL1aT3pAQxQlWiTKpmYaHUYUp9SRJhyeFr/gpeIGTydKdawkh9Mz8KMlnu1GUolDDuOvSnvidzWaEaw==
        "400":
          description: Invalid data supplied.
      summary: Recreate an SSH key
      tags:
        - users
  "/v1/{namespace}/billing/cards/":
    get:
      operationId: billing_cards_list
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - description: Set limit when retrieving credit or debit cards.
          in: query
          name: limit
          required: false
          type: string
        - description: Set offset when retriving cards.
          in: query
          name: offset
          required: false
          type: string
        - description: Order when retrieving cards.
          in: query
          name: ordering
          required: false
          type: string
      responses:
        "200":
          description: Card list
          examples:
            application/json: []
          schema:
            items:
              $ref: "#/definitions/Card"
            type: array
      summary: Get credit cards
      tags:
        - billing
    post:
      operationId: billing_cards_create
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - in: body
          name: card_data
          schema:
            $ref: "#/definitions/CardDataPost"
      responses:
        "201":
          description: Card created
          examples:
            application/json:
              address_city: Atlanta
              address_country: United States
              address_line1: 3423 Piedmont Rd NE
              address_line1_check: pass
              address_line2: ""
              address_state: Georgia
              address_zip: "30305"
              address_zip_check: pass
              brand: Visa
              created: 2017-07-24T15:16:07.995380Z
              customer: 7e102c7b-55cd-49a0-9b23-58865eba1cc3
              cvc_check: ""
              exp_month: 1
              exp_year: 2019
              fingerprint: WpZ4zQymdmF5LhbH
              funding: credit
              id: 4126086e-525a-4027-b9e7-ae8de47210b2
              last4: "4242"
              name: John Doe
              stripe_id: card_1Aj8HuLUHPUzUsaQlDbaXjzA
          schema:
            $ref: "#/definitions/Card"
        "400":
          description: Invalid data supplied
          schema:
            $ref: "#/definitions/CardError"
      summary: Create new credit card
      tags:
        - billing
  "/v1/{namespace}/billing/cards/{id}/":
    delete:
      operationId: billing_cards_delete
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - description: Card unique identifier expressed as UUID.
          in: path
          name: id
          required: true
          type: string
      responses:
        "204":
          description: Card deleted.
        "404":
          description: Card not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Delete a credit card
      tags:
        - billing
    get:
      operationId: billing_cards_read
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - description: User unique identifier expressed as UUID.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Card retrieved.
          examples:
            application/json:
              address_city: Atlanta
              address_country: United States
              address_line1: 3423 Piedmont Rd NE
              address_line1_check: pass
              address_line2: ""
              address_state: Georgia
              address_zip: "30305"
              address_zip_check: pass
              brand: Visa
              created: 2017-07-24T15:16:07.995380Z
              customer: 7e102c7b-55cd-49a0-9b23-58865eba1cc3
              cvc_check: ""
              exp_month: 1
              exp_year: 2019
              fingerprint: WpZ4zQymdmF5LhbH
              funding: credit
              id: 4126086e-525a-4027-b9e7-ae8de47210b2
              last4: "4242"
              name: John Doe
              stripe_id: card_1Aj8HuLUHPUzUsaQlDbaXjzA
          schema:
            $ref: "#/definitions/Card"
        "404":
          description: Card not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Get credit card by id
      tags:
        - billing
    patch:
      operationId: billing_cards_update
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - description: Card unique identifier.
          in: path
          name: id
          required: true
          type: string
        - in: body
          name: card_data
          schema:
            $ref: "#/definitions/CardDataPutandPatch"
      responses:
        "200":
          description: Card updated
          examples:
            application/json:
              address_city: Atlanta
              address_country: United States
              address_line1: 3423 Piedmont Rd NE
              address_line1_check: pass
              address_line2: ""
              address_state: Georgia
              address_zip: "30305"
              address_zip_check: pass
              brand: Visa
              created: 2017-07-24T15:16:10.806003Z
              customer: 7e102c7b-55cd-49a0-9b23-58865eba1cc3
              cvc_check: ""
              exp_month: 1
              exp_year: 2025
              fingerprint: WpZ4zQymdmF5LhbH
              funding: credit
              id: 4126086e-525a-4027-b9e7-ae8de47210b2
              last4: "4242"
              name: John Doe
              stripe_id: card_1Aj8HuLUHPUzUsaQlDbaXjzA
          schema:
            $ref: "#/definitions/Card"
        "400":
          description: Invalid data supplied
          schema:
            $ref: "#/definitions/CardUpdateError"
        "404":
          description: Card not found
          schema:
            $ref: "#/definitions/NotFound"
      summary: Update a credit card
      tags:
        - billing
    put:
      operationId: billing_cards_replace
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - description: ""
          in: path
          name: id
          required: true
          type: string
        - in: body
          name: card_data
          schema:
            $ref: "#/definitions/CardDataPutandPatch"
      responses:
        "200":
          description: Card updated
          examples:
            application/json:
              address_city: Atlanta
              address_country: United States
              address_line1: 3423 Piedmont Rd NE
              address_line1_check: pass
              address_line2: ""
              address_state: Georgia
              address_zip: "30305"
              address_zip_check: pass
              brand: Visa
              created: 2017-07-24T15:16:07.995380Z
              customer: 7e102c7b-55cd-49a0-9b23-58865eba1cc3
              cvc_check: ""
              exp_month: 1
              exp_year: 2027
              fingerprint: WpZ4zQymdmF5LhbH
              funding: credit
              id: 4126086e-525a-4027-b9e7-ae8de47210b2
              last4: "4242"
              name: John Doe
              stripe_id: card_1Aj8HuLUHPUzUsaQlDbaXjzA
          schema:
            $ref: "#/definitions/Card"
        "400":
          description: Invalid data supplied
          schema:
            $ref: "#/definitions/CardError"
      summary: Replace a credit card
      tags:
        - billing
  "/v1/{namespace}/billing/invoices/":
    get:
      operationId: billing_invoices_list
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - description: Limit when getting items.
          in: query
          name: limit
          required: false
          type: string
        - description: Offset when getting items.
          in: query
          name: offset
          required: false
          type: string
        - description: Ordering when getting items.
          in: query
          name: ordering
          required: false
          type: string
      responses:
        "200":
          description: Invoice list.
          examples:
            application/json: []
          schema:
            items:
              $ref: "#/definitions/Invoice"
            type: array
      summary: Get invoices
      tags:
        - billing
  "/v1/{namespace}/billing/invoices/{id}/":
    get:
      operationId: billing_invoices_read
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - description: Invoice unique identifier expressed as UUID.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Invoice retrieved.
          schema:
            $ref: "#/definitions/Invoice"
        "404":
          description: Invoice not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Get an invoice
      tags:
        - billing
  "/v1/{namespace}/billing/invoices/{invoice_id}/invoice-items/":
    get:
      operationId: billing_invoice_items_list
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - description: Invoice id, expressed as UUID.
          in: path
          name: invoice_id
          required: true
          type: string
        - description: Limit when getting items.
          in: query
          name: limit
          required: false
          type: string
        - description: Offset when getting items.
          in: query
          name: offset
          required: false
          type: string
        - description: Ordering when getting items.
          in: query
          name: ordering
          required: false
          type: string
      responses:
        "200":
          description: InvoiceItem list.
          examples:
            application/json: []
          schema:
            items:
              $ref: "#/definitions/InvoiceItem"
            type: array
      summary: Get invoice items for a given invoice.
      tags:
        - billing
  "/v1/{namespace}/billing/invoices/{invoice_id}/invoice-items/{id}":
    get:
      operationId: billing_invoice_items_read
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - description: Invoice id, expressed as UUID.
          in: path
          name: invoice_id
          required: true
          type: string
        - description: InvoiceItem id, expressed as UUID.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: InvoiceItem retrieved.
          schema:
            $ref: "#/definitions/InvoiceItem"
        "404":
          description: InvoiceItem not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Get a specific InvoiceItem.
      tags:
        - billing
  "/v1/{namespace}/billing/plans/":
    get:
      operationId: billing_plans_list
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - description: Limit when getting items.
          in: query
          name: limit
          required: false
          type: string
        - description: Offset when getting items.
          in: query
          name: offset
          required: false
          type: string
        - description: Ordering when getting items.
          in: query
          name: ordering
          required: false
          type: string
      responses:
        "200":
          description: Plan list.
          examples:
            application/json:
              - amount: 20
                created: 2017-07-24T15:46:39Z
                currency: usd
                id: d5791ab3-aefb-45af-80fc-2c7a166d78eb
                interval: year
                interval_count: 1
                livemode: false
                metadata: {}
                name: patch_billing_plan
                statement_descriptor: ""
                stripe_id: post_billing_plan
                trial_period_days: 7
              - amount: 20
                created: 2017-07-24T15:46:48Z
                currency: usd
                id: 256fd63a-9d6b-48d2-8ff5-f56eaf54c59b
                interval: week
                interval_count: 52
                livemode: false
                metadata: {}
                name: post_billing_plan_2
                statement_descriptor: ""
                stripe_id: post_billing_plan_2
                trial_period_days: 7
              - amount: 20
                created: 2017-07-24T15:46:52Z
                currency: usd
                id: 5915a2ae-12f5-4927-bb26-3b0609228791
                interval: month
                interval_count: 12
                livemode: false
                metadata: {}
                name: post_billing_plan_3
                statement_descriptor: ""
                stripe_id: post_billing_plan_3
                trial_period_days: 7
          schema:
            items:
              $ref: "#/definitions/Plan"
            type: array
      summary: Get billing plans
      tags:
        - billing
  "/v1/{namespace}/billing/plans/{id}/":
    get:
      operationId: billing_plans_read
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - description: Plan unique identifier expressed as UUID.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Plan retrieved
          examples:
            application/json:
              amount: 20
              created: 2017-07-24T15:46:39Z
              currency: usd
              id: d5791ab3-aefb-45af-80fc-2c7a166d78eb
              interval: year
              interval_count: 1
              livemode: false
              metadata: {}
              name: post_billing_plan
              statement_descriptor: ""
              stripe_id: post_billing_plan
              trial_period_days: 7
          schema:
            $ref: "#/definitions/Plan"
        "404":
          description: Plan not found
          schema:
            $ref: "#/definitions/NotFound"
      summary: Get a billing plan
      tags:
        - billing
  "/v1/{namespace}/billing/subscriptions/":
    get:
      operationId: billing_subscriptions_list
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - description: Limit when getting items.
          in: query
          name: limit
          required: false
          type: string
        - description: Offset when getting items.
          in: query
          name: offset
          required: false
          type: string
        - description: Ordering when getting items.
          in: query
          name: ordering
          required: false
          type: string
      responses:
        "200":
          description: Subscription list.
          examples:
            application/json:
              - application_fee_percent: 0
                cancel_at_period_end: false
                canceled_at: ""
                created: 2017-07-24T17:25:04Z
                current_period_end: 2017-07-31T17:25:04Z
                current_period_start: 2017-07-24T17:25:04Z
                ended_at: ""
                id: 579208c3-4f5c-4b5d-baa3-309a06db681c
                livemode: false
                plan: efb36cb0-0ef2-4af3-ae5d-10d9ae73845d
                quantity: 1
                start: 2017-07-24T17:25:04Z
                status: trialing
                stripe_id: sub_B5KyO9BZ6lUNPP
                trial_end: 2017-07-31T17:25:04Z
                trial_start: 2017-07-24T17:25:04Z
          schema:
            items:
              $ref: "#/definitions/Subscription"
            type: array
      summary: Get active subscriptons
      tags:
        - billing
    post:
      operationId: billing_subscriptions_create
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - in: body
          name: subscription_data
          schema:
            $ref: "#/definitions/SubscriptionData"
      responses:
        "201":
          description: Subscription created
          examples:
            application/json:
              application_fee_percent: 0
              cancel_at_period_end: false
              canceled_at: ""
              created: 2017-07-24T17:25:04Z
              current_period_end: 2017-07-31T17:25:04Z
              current_period_start: 2017-07-24T17:25:04Z
              ended_at: ""
              id: 579208c3-4f5c-4b5d-baa3-309a06db681c
              livemode: false
              plan: efb36cb0-0ef2-4af3-ae5d-10d9ae73845d
              quantity: 1
              start: 2017-07-24T17:25:04Z
              status: trialing
              stripe_id: sub_B5KyO9BZ6lUNPP
              trial_end: 2017-07-31T17:25:04Z
              trial_start: 2017-07-24T17:25:04Z
          schema:
            $ref: "#/definitions/Subscription"
        "400":
          description: Invalid data supplied
          schema:
            $ref: "#/definitions/SubscriptionError"
      summary: Create a new subscription
      tags:
        - billing
  "/v1/{namespace}/billing/subscriptions/{id}/":
    delete:
      operationId: billing_subscriptions_delete
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - description: Subscription unique identifier expressed as UUID.
          in: path
          name: id
          required: true
          type: string
      responses:
        "204":
          description: Subscription deleted.
        "404":
          description: Subscription not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Delete a subscription
      tags:
        - billing
    get:
      operationId: billing_subscriptions_read
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - description: Unique identifier expressed as UUID.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Subscription retrieved.
          schema:
            $ref: "#/definitions/Subscription"
        "404":
          description: Subscription not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Get a subscriptions
      tags:
        - billing
  "/v1/{namespace}/notifications/":
    get:
      operationId: notifications_list
      parameters:
        - description: User or team data.
          in: path
          name: namespace
          required: true
          type: string
        - description: Limit when getting items.
          in: query
          name: limit
          required: false
          type: string
        - description: Offset when getting items.
          in: query
          name: offset
          required: false
          type: string
        - description: Ordering when getting items.
          in: query
          name: ordering
          required: false
          type: string
        - description: When true, get only read notifications. When false, get only unread notifications. Default behavior is to return both read and unread.
          in: query
          name: read
          required: false
          type: boolean
      responses:
        "200":
          description: List of notifications
          schema:
            items:
              $ref: "#/definitions/Notification"
            type: array
      summary: Get notifications of all types and entities for the authenticated user.
      tags:
        - notifications
    patch:
      operationId: notifications_update_list
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - in: body
          name: notification_data
          required: true
          schema:
            $ref: "#/definitions/NotificationListUpdateData"
      responses:
        "200":
          description: Notification updated
          schema:
            $ref: "#/definitions/Notification"
        "400":
          description: Invalid data supplied
          schema:
            $ref: "#/definitions/NotificationError"
      summary: Mark a list of notifications as either read or unread.
      tags:
        - notifications
  "/v1/{namespace}/notifications/entity/{entity}":
    get:
      operationId: notifications_list_entity
      parameters:
        - description: User or team data.
          in: path
          name: namespace
          required: true
          type: string
        - description: Limit when getting items.
          in: query
          name: limit
          required: false
          type: string
        - description: Offset when getting items.
          in: query
          name: offset
          required: false
          type: string
        - description: Ordering when getting items.
          in: query
          name: ordering
          required: false
          type: string
        - description: Entity to filter notifications by.
          enum:
            - billing
          in: path
          name: entity
          required: true
          type: string
        - description: When true, get only read notifications. When false, get only unread notifications. Default behavior is to return both read and unread.
          in: query
          name: read
          required: false
          type: boolean
      responses:
        "200":
          description: List of notifications
          schema:
            items:
              $ref: "#/definitions/Notification"
            type: array
      summary: Get notifications of all types and entities for the authenticated user.
      tags:
        - notifications
    patch:
      operationId: notifications_update_entity_list
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - description: Entity to filter notifications by.
          enum:
            - billing
          in: path
          name: entity
          required: true
          type: string
        - in: body
          name: notification_data
          required: true
          schema:
            $ref: "#/definitions/NotificationListUpdateData"
      responses:
        "200":
          description: Notification updated
          schema:
            $ref: "#/definitions/Notification"
        "400":
          description: Invalid data supplied
          schema:
            $ref: "#/definitions/NotificationError"
      summary: Mark a list of notifications as either read or unread.
      tags:
        - notifications
  "/v1/{namespace}/notifications/settings/":
    get:
      operationId: notification_settings_read
      parameters:
        - description: User or team data.
          in: path
          name: namespace
          required: true
          type: string
      responses:
        "200":
          description: Global notification settings
          schema:
            items:
              $ref: "#/definitions/NotificationSettings"
            type: array
        "404":
          description: Notification not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Retrieve global notification settings for the authenticated user
      tags:
        - notifications
    patch:
      operationId: notification_settings_update
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - in: body
          name: notification_settings_data
          schema:
            $ref: "#/definitions/NotificationSettingsData"
      responses:
        "200":
          description: Notification Settings updated
          schema:
            $ref: "#/definitions/NotificationSettings"
        "400":
          description: Invalid data supplied
          schema:
            $ref: "#/definitions/NotificationSettingsError"
        "404":
          description: Notification Settings not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Modify global notification settings.
      tags:
        - notifications
    post:
      operationId: notification_settings_create
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - in: body
          name: notification_settings_data
          required: true
          schema:
            $ref: "#/definitions/NotificationSettingsData"
      responses:
        "201":
          description: Global Notification Settings created successfully.
          schema:
            $ref: "#/definitions/NotificationSettings"
        "400":
          description: Invalid data supplied.
          schema:
            $ref: "#/definitions/NotificationSettingsError"
      summary: Create global notification settings
      tags:
        - notifications
  "/v1/{namespace}/notifications/settings/entity/{entity}":
    get:
      operationId: notification_settings_entity_read
      parameters:
        - description: User or team data.
          in: path
          name: namespace
          required: true
          type: string
        - description: Entity whose settings should be retrieved.
          enum:
            - billing
          in: path
          name: entity
          required: true
          type: string
      responses:
        "200":
          description: Global notification settings
          schema:
            items:
              $ref: "#/definitions/NotificationSettings"
            type: array
        "404":
          description: Notification not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Retrieve global notification settings for the authenticated user
      tags:
        - notifications
    patch:
      operationId: notification_settings_entity_update
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - description: Entity whose settings should be retrieved.
          enum:
            - billing
          in: path
          name: entity
          required: true
          type: string
        - in: body
          name: notification_settings_data
          schema:
            $ref: "#/definitions/NotificationSettingsData"
      responses:
        "200":
          description: Notification Settings updated
          schema:
            $ref: "#/definitions/NotificationSettings"
        "400":
          description: Invalid data supplied
          schema:
            $ref: "#/definitions/NotificationSettingsError"
        "404":
          description: Notification Settings not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Modify global notification settings.
      tags:
        - notifications
    post:
      operationId: notification_settings_entity_create
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - description: Entity whose settings should be retrieved.
          enum:
            - billing
          in: path
          name: entity
          required: true
          type: string
        - in: body
          name: notification_settings_data
          schema:
            $ref: "#/definitions/NotificationSettingsData"
      responses:
        "201":
          description: Global Notification Settings created successfully.
          schema:
            $ref: "#/definitions/NotificationSettings"
        "400":
          description: Invalid data supplied.
          schema:
            $ref: "#/definitions/NotificationSettingsError"
      summary: Create global notification settings
      tags:
        - notifications
  "/v1/{namespace}/notifications/{notification_id}":
    get:
      operationId: notification_read
      parameters:
        - description: User or team data.
          in: path
          name: namespace
          required: true
          type: string
        - description: Notification UUID.
          in: path
          name: notification_id
          required: true
          type: string
      responses:
        "200":
          description: Retrieve a notification.
          schema:
            $ref: "#/definitions/Notification"
        "404":
          description: Notification not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Retrieve a specific notification.
      tags:
        - notifications
    patch:
      operationId: notification_update
      parameters:
        - description: User or team data.
          in: path
          name: namespace
          required: true
          type: string
        - description: Notification UUID.
          in: path
          name: notification_id
          required: true
          type: string
        - in: body
          name: notification_data
          schema:
            $ref: "#/definitions/NotificationUpdateData"
      responses:
        "200":
          description: Notification updated
          schema:
            $ref: "#/definitions/Notification"
        "400":
          description: Invalid data supplied
          schema:
            $ref: "#/definitions/NotificationError"
        "404":
          description: Notification not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Mark a specific notification as either read or unread.
      tags:
        - notifications
  "/v1/{namespace}/oauth/applications/":
    get:
      operationId: oauth_applications_list
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - description: Set limit when retrieving items.
          in: query
          name: limit
          required: false
          type: string
        - description: Offset when retrieving items.
          in: query
          name: offset
          required: false
          type: string
        - description: Set order when retrieving items.
          in: query
          name: ordering
          required: false
          type: string
      responses:
        "200":
          description: OAuth2 application list
          examples:
            application/json:
              - authorization_grant_type: client-credentials
                client_id: CsJiQuhq66C6QP7ZKYzclOwrSVKctdYAbAXu7iHm
                client_secret: iIzh1cidklpF6eoCin986j0YTDS3hjgH1JDs4Wv4jriG7yXpJu8TfoKmtMC4QTRBbF2IzJnfRLBGdZvKm1koyS9xfGfdTDSi5JAVJAwTrxw0VAkZZr0u80afSQ9OVKvJ
                client_type: confidential
                id: 7011a6e6-b4ea-4600-8ab1-01127e1ccdda
                name: Test
                redirect_uris: ""
          schema:
            items:
              $ref: "#/definitions/Application"
            type: array
      summary: Retrieve oauth applications
      tags:
        - oauth
    post:
      description: ""
      operationId: oauth_application_create
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - in: body
          name: application_data
          schema:
            $ref: "#/definitions/ApplicationData"
      responses:
        "201":
          description: Application created.
          examples:
            application/json:
              authorization_grant_type: client-credentials
              client_id: CsJiQuhq66C6QP7ZKYzclOwrSVKctdYAbAXu7iHm
              client_secret: iIzh1cidklpF6eoCin986j0YTDS3hjgH1JDs4Wv4jriG7yXpJu8TfoKmtMC4QTRBbF2IzJnfRLBGdZvKm1koyS9xfGfdTDSi5JAVJAwTrxw0VAkZZr0u80afSQ9OVKvJ
              client_type: confidential
              id: 7011a6e6-b4ea-4600-8ab1-01127e1ccdda
              name: Test
              redirect_uris: ""
          schema:
            $ref: "#/definitions/Application"
        "400":
          description: Invalid data supplied
          schema:
            $ref: "#/definitions/ApplicationError"
      summary: Create a new OAuth2 application
      tags:
        - oauth
  "/v1/{namespace}/oauth/applications/{application}/":
    delete:
      description: ""
      operationId: oauth_application_delete
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - description: Application unique identifier expressed as UUID or name.
          in: path
          name: application
          required: true
          type: string
      responses:
        "204":
          description: Application deleted.
        "404":
          description: Application not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Delete an application by id
      tags:
        - oauth
    get:
      operationId: oauth_application_read
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - description: Application unique identifier expressed as UUID or name.
          in: path
          name: application
          required: true
          type: string
      responses:
        "200":
          description: Application retrieved.
          examples:
            application/json:
              authorization_grant_type: client-credentials
              client_id: CsJiQuhq66C6QP7ZKYzclOwrSVKctdYAbAXu7iHm
              client_secret: iIzh1cidklpF6eoCin986j0YTDS3hjgH1JDs4Wv4jriG7yXpJu8TfoKmtMC4QTRBbF2IzJnfRLBGdZvKm1koyS9xfGfdTDSi5JAVJAwTrxw0VAkZZr0u80afSQ9OVKvJ
              client_type: confidential
              id: 7011a6e6-b4ea-4600-8ab1-01127e1ccdda
              name: Test
              redirect_uris: ""
          schema:
            $ref: "#/definitions/Application"
        "404":
          description: Application not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Get an application by id
      tags:
        - oauth
    patch:
      description: ""
      operationId: oauth_application_update
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - description: Application unique identifier expressed as UUID or name.
          in: path
          name: application
          required: true
          type: string
        - in: body
          name: application_data
          schema:
            $ref: "#/definitions/ApplicationData"
      responses:
        "200":
          description: Application updated.
          examples:
            application/json:
              authorization_grant_type: client-credentials
              client_id: CsJiQuhq66C6QP7ZKYzclOwrSVKctdYAbAXu7iHm
              client_secret: iIzh1cidklpF6eoCin986j0YTDS3hjgH1JDs4Wv4jriG7yXpJu8TfoKmtMC4QTRBbF2IzJnfRLBGdZvKm1koyS9xfGfdTDSi5JAVJAwTrxw0VAkZZr0u80afSQ9OVKvJ
              client_type: confidential
              id: 7011a6e6-b4ea-4600-8ab1-01127e1ccdda
              name: Test
              redirect_uris: ""
          schema:
            $ref: "#/definitions/Application"
        "400":
          description: Invalid data supplied.
          schema:
            $ref: "#/definitions/ApplicationError"
        "404":
          description: Application not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Update an application by id
      tags:
        - oauth
    put:
      description: ""
      operationId: oauth_application_replace
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - description: Application unique identifier expressed as UUID or name.
          in: path
          name: application
          required: true
          type: string
        - in: body
          name: oauth_application_data
          schema:
            $ref: "#/definitions/ApplicationData"
      responses:
        "200":
          description: Application replaced.
          examples:
            application/json:
              authorization_grant_type: client-credentials
              client_id: CsJiQuhq66C6QP7ZKYzclOwrSVKctdYAbAXu7iHm
              client_secret: iIzh1cidklpF6eoCin986j0YTDS3hjgH1JDs4Wv4jriG7yXpJu8TfoKmtMC4QTRBbF2IzJnfRLBGdZvKm1koyS9xfGfdTDSi5JAVJAwTrxw0VAkZZr0u80afSQ9OVKvJ
              client_type: confidential
              id: 7011a6e6-b4ea-4600-8ab1-01127e1ccdda
              name: Test
              redirect_uris: ""
          schema:
            $ref: "#/definitions/Application"
        "400":
          description: Invalid data supplied.
          schema:
            $ref: "#/definitions/ApplicationError"
        "404":
          description: Application not found
          schema:
            $ref: "#/definitions/NotFound"
      summary: Replace an application by id
      tags:
        - oauth
  "/v1/{namespace}/projects/":
    get:
      operationId: projects_list
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - description: Limit when getting data.
          in: query
          name: limit
          required: false
          type: string
        - description: Offset when getting data.
          in: query
          name: offset
          required: false
          type: string
        - description: Private project or public project.
          in: query
          name: private
          required: false
          type: string
        - description: Project name.
          in: query
          name: name
          required: false
          type: string
        - description: Ordering when getting projects.
          in: query
          name: ordering
          required: false
          type: string
      responses:
        "200":
          description: Project list.
          examples:
            application/json: []
          schema:
            items:
              $ref: "#/definitions/Project"
            type: array
      summary: Get available projects
      tags:
        - projects
    post:
      operationId: projects_create
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - in: body
          name: project_data
          schema:
            $ref: "#/definitions/ProjectData"
      responses:
        "201":
          description: Project created
          examples:
            application/json:
              collaborators:
                - johndoe
              description: Project created by me
              id: 79cadd17-5738-4f02-8377-68e67d3eee18
              last_updated: 2017-07-24T14:54:38.797878Z
              name: myProject
              owner: johndoe
              private: false
          schema:
            $ref: "#/definitions/Project"
        "400":
          description: Invalid data supplied
          schema:
            $ref: "#/definitions/ProjectError"
      summary: Create a new project
      tags:
        - projects
  "/v1/{namespace}/projects/project-copy-check/":
    head:
      operationId: project_copy_check
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - in: body
          name: project_copy_data
          required: true
          schema:
            properties:
              project:
                description: UUID of the project the user wishes to copy.
                type: string
            required:
              - project
            type: object
      responses:
        "200":
          description: The authenticated has permission to copy this project
        "404":
          description: Project not found.
      summary: Check if you are able to copy a project to your account.
      tags:
        - projects
  "/v1/{namespace}/projects/project-copy/":
    post:
      operationId: project_copy
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - in: body
          name: project_copy_data
          required: true
          schema:
            properties:
              name:
                description: Name for the newly copied project
                type: string
              project:
                description: UUID of the project the user wishes to copy.
                type: string
            required:
              - project
            type: object
      responses:
        "201":
          description: Project copied
          schema:
            $ref: "#/definitions/Project"
        "400":
          description: Invalid data supplied
          schema:
            $ref: "#/definitions/ProjectError"
        "404":
          description: Project not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Copy a project to your own account.
      tags:
        - projects
  "/v1/{namespace}/projects/{project}/":
    delete:
      operationId: projects_delete
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - description: Project unique identifier expressed as UUID or name.
          in: path
          name: project
          required: true
          type: string
      responses:
        "204":
          description: Project deleted.
        "404":
          description: Project not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Delete a project
      tags:
        - projects
    get:
      operationId: projects_read
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - description: Project unique identifier expressed as UUID or name.
          in: path
          name: project
          required: true
          type: string
      responses:
        "200":
          description: Project retrieved.
          examples:
            application/json:
              collaborators:
                - johndoe
              description: Project created by me
              id: 79cadd17-5738-4f02-8377-68e67d3eee18
              last_updated: 2017-07-24T14:54:38.797878Z
              name: myProject
              owner: johndoe
              private: false
          schema:
            $ref: "#/definitions/Project"
        "404":
          description: Project not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Get a project
      tags:
        - projects
    patch:
      operationId: projects_update
      parameters:
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - description: Project unique identifier expressed as UUID or name.
          in: path
          name: project
          required: true
          type: string
        - in: body
          name: project_data
          schema:
            $ref: "#/definitions/ProjectData"
      responses:
        "200":
          description: Project updated
          examples:
            application/json:
              collaborators:
                - johndoe
              description: My project updated by me using PATCH
              id: 79cadd17-5738-4f02-8377-68e67d3eee18
              last_updated: 2017-07-24T14:54:43.225603Z
              name: myProject
              owner: johndoe
              private: true
          schema:
            $ref: "#/definitions/Project"
        "400":
          description: Invalid data supplied
          schema:
            $ref: "#/definitions/ProjectError"
        "404":
          description: Project not found
          schema:
            $ref: "#/definitions/NotFound"
      summary: Update a project
      tags:
        - projects
    put:
      operationId: projects_replace
      parameters:
        - description: User or team namespace.
          in: path
          name: namespace
          required: true
          type: string
        - description: Project unique identifier expressed as UUID or name.
          in: path
          name: project
          required: true
          type: string
        - in: body
          name: project_data
          schema:
            $ref: "#/definitions/ProjectData"
      responses:
        "200":
          description: Project updated.
          examples:
            application/json:
              collaborators:
                - johndoe
              description: My project updated by me using PUT
              id: 79cadd17-5738-4f02-8377-68e67d3eee18
              last_updated: 2017-07-24T14:54:43.225603Z
              name: myProject
              owner: johndoe
              private: true
          schema:
            $ref: "#/definitions/Project"
        "400":
          description: Invalid data supplied.
          schema:
            $ref: "#/definitions/ProjectError"
      summary: Replace a project
      tags:
        - projects
  "/v1/{namespace}/projects/{project}/collaborators/":
    get:
      operationId: projects_collaborators_list
      parameters:
        - description: Project unique identifier expressed as UUID or name.
          in: path
          name: project
          required: true
          type: string
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - description: Limit when retrieving items.
          in: query
          name: limit
          required: false
          type: string
        - description: Offset when retrieving items.
          in: query
          name: offset
          required: false
          type: string
        - description: Ordering when retrieving items.
          in: query
          name: ordering
          required: false
          type: string
      responses:
        "200":
          description: Collaborator list.
          examples:
            application/json:
              - email: johndoe@example.com
                first_name: John
                id: 42946cd9-2fb6-4764-944b-e107b972dd97
                joined: 2017-07-24T14:54:38.819171Z
                last_name: Doe
                owner: true
                permissions:
                  - read_project
                  - write_project
                username: johndoe
          schema:
            items:
              $ref: "#/definitions/Collaborator"
            type: array
      summary: Get project collaborators
      tags:
        - projects
    post:
      operationId: projects_collaborators_create
      parameters:
        - description: Project unique identifier expressed as UUID or name.
          in: path
          name: project
          required: true
          type: string
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - in: body
          name: collaborator_data
          schema:
            $ref: "#/definitions/CollaboratorData"
      responses:
        "201":
          description: Collaborator created.
          examples:
            application/json:
              email: collaborator@examples.com
              first_name: John
              id: ef4d3a93-ae36-428c-b00f-5805b496ed95
              joined: 2017-07-24T14:54:49.205912Z
              last_name: Doe
              owner: false
              permissions:
                - read_project
                - write_project
              username: collaborator
          schema:
            $ref: "#/definitions/Collaborator"
        "400":
          description: Invalid data supplied.
          schema:
            $ref: "#/definitions/CollaboratorError"
      summary: Create project collaborators
      tags:
        - projects
  "/v1/{namespace}/projects/{project}/collaborators/{collaborator}/":
    delete:
      operationId: projects_collaborators_delete
      parameters:
        - description: Project unique identifier.
          in: path
          name: project
          required: true
          type: string
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - description: Collaborator unique identifier.
          in: path
          name: collaborator
          required: true
          type: string
      responses:
        "204":
          description: Collaborator deleted.
        "404":
          description: Collaborator not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Delete a project collaborator
      tags:
        - projects
    get:
      operationId: projects_collaborators_read
      parameters:
        - description: Project unique identifier.
          in: path
          name: project
          required: true
          type: string
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - description: Collaborator unique identifier expressed as UUID or name.
          in: path
          name: collaborator
          required: true
          type: string
      responses:
        "200":
          description: Collaborator retrieved.
          examples:
            application/json:
              email: collaborator@illumidesk.com
              first_name: John
              id: ef4d3a93-ae36-428c-b00f-5805b496ed95
              joined: 2017-07-24T14:54:49.205912Z
              last_name: Doe
              owner: false
              permissions:
                - read_project
                - write_project
              username: collaborator
          schema:
            $ref: "#/definitions/Collaborator"
        "404":
          description: Collaborator not found.
          schema:
            $ref: "#/definitions/NotFound"
      summary: Get a project collaborator
      tags:
        - projects
    patch:
      operationId: projects_collaborators_update
      parameters:
        - description: ""
          in: path
          name: project
          required: true
          type: string
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - description: ""
          in: path
          name: collaborator
          required: true
          type: string
        - in: body
          name: collaborator_data
          schema:
            $ref: "#/definitions/CollaboratorData"
      responses:
        "200":
          description: Collaborator updated
          schema:
            $ref: "#/definitions/Collaborator"
        "400":
          description: Invalid data supplied
          schema:
            $ref: "#/definitions/CollaboratorError"
        "404":
          description: Collaborator not found
          schema:
            $ref: "#/definitions/NotFound"
      summary: Update project collaborator
      tags:
        - projects
  "/v1/{namespace}/projects/{project}/deployments/":
    get:
      operationId: projects_deployments_list
      parameters:
        - description: Project unique identifier expressed as UUID or name.
          in: path
          name: project
          required: true
          type: string
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - description: Limit results when getting deployment list.
          in: query
          name: limit
          required: false
          type: string
        - description: Offset results when getting deployment list.
          in: query
          name: offset
          required: false
          type: string
        - description: Server name.
          in: query
          name: name
          required: false
          type: string
        - description: Ordering option when getting deployment list.
          in: query
          name: ordering
          required: false
          type: string
      responses:
        "200":
          description: Deployment list.
          examples:
            application/json: []
          schema:
            items:
              $ref: "#/definitions/Deployment"
            type: array
      summary: Retrieve deployments
      tags:
        - projects
    post:
      operationId: projects_deployments_create
      parameters:
        - description: Project unique identifer expressed as UUID or name.
          in: path
          name: project
          required: true
          type: string
        - description: User or team name.
          in: path
          name: namespace
          required: true
          type: string
        - in: body
          name: deployment_data
          schema:
            $ref: "#/definitions/DeploymentData"
      responses:
        "201":
          description: Deployment created.
          schema:
            $ref: "#/definitions/Deployment"
        "400":
          description: Invalid data supplied.
          schema:
            $ref: "#/definitions/DeploymentError"
      summary: Create a new deployment
      tags:
        - projects
  "/v1/{namespace}/projects/{project}/deployments/{deployment}/":
    delete:
      operationId: projects_deployment_delete
      parameters:
[...]
