swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Consumption management client provides access to consumption resources for Azure Enterprise Subscriptions.
  title: ConsumptionManagementClient
  version: 2018-01-31
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-01-31/consumption.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: consumption
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: Version of the API to be used with the client request. The current version is 2018-01-31.
    in: query
    name: api-version
    required: true
    type: string
  billingPeriodNameParameter:
    description: Billing Period Name.
    in: path
    name: billingPeriodName
    required: true
    type: string
    x-ms-parameter-location: method
  budgetNameParameter:
    description: Budget Name.
    in: path
    name: budgetName
    required: true
    type: string
    x-ms-parameter-location: method
  reservationIdParameter:
    description: Id of the reservation
    in: path
    name: reservationId
    required: true
    type: string
    x-ms-parameter-location: method
  reservationOrderIdParameter:
    description: Order Id of the reservation
    in: path
    name: reservationOrderId
    required: true
    type: string
    x-ms-parameter-location: method
  resourceGroupNameParameter:
    description: Azure Resource Group Name.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionIdParameter:
    description: Azure Subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/providers/Microsoft.Consumption/reservationDetails":
    get:
      description: Lists the reservations details for provided date range.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: ReservationsDetails_ListByReservationOrder
      parameters:
        - $ref: "#/parameters/reservationOrderIdParameter"
        - description: "Filter reservation details by date range. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge' "
          in: query
          name: $filter
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ReservationDetailsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ReservedInstances
      x-ms-examples:
        ReservationDetails:
          parameters:
            $filter: properties/usageDate ge '2017-10-01' AND properties/usageDate le '2017-12-05'
            api-version: 2018-01-31
            reservationOrderId: 87f3c981-3e33-43d0-b26b-dfca785cf18a
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Capacity/reservationOrders/87f3c981-3e33-43d0-b26b-dfca785cf18a/reservations/ba4a5693-71ef-4ec2-a5ea-c4897ee7e740/providers/Microsoft.Consumption/reservationDetails/20171129
                    name: 87f3c981-3e33-43d0-b26b-dfca785cf18a_ba4a5693-71ef-4ec2-a5ea-c4897ee7e740_20171129
                    properties:
                      instanceId: /subscriptions/ace02136-302a-429c-a2c8-dac173f60bea/resourcegroups/wvn-sql/providers/microsoft.compute/virtualmachines/wvn-sql2014sp33
                      reservationId: ba4a5693-71ef-4ec2-a5ea-c4897ee7e740
                      reservationOrderId: 87f3c981-3e33-43d0-b26b-dfca785cf18a
                      reservedHours: 24
                      skuName: Standard_D2_v2
                      totalReservedQuantity: 1
                      usageDate: 2017-11-29T00:00:00Z
                      usedHours: 24
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/reservationDetails
      x-ms-pageable:
        nextLinkName: nextLink
  "/providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/providers/Microsoft.Consumption/reservationSummaries":
    get:
      description: Lists the reservations summaries for daily or monthly grain.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: ReservationsSummaries_ListByReservationOrder
      parameters:
        - $ref: "#/parameters/reservationOrderIdParameter"
        - description: Can be daily or monthly
          enum:
            - daily
            - monthly
          in: query
          name: grain
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: datagrain
            values:
              - description: Daily grain of data
                name: DailyGrain
                value: daily
              - description: Monthly grain of data
                name: MonthlyGrain
                value: monthly
        - description: Required only for daily grain. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge'
          in: query
          name: $filter
          required: false
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ReservationSummariesListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ReservedInstances
      x-ms-examples:
        ReservationSummariesDaily:
          parameters:
            $filter: properties/usageDate ge '2017-10-01' AND properties/usageDate le '2017-11-20'
            api-version: 2018-01-31
            grain: daily
            reservationOrderId: 87f3c981-3e33-43d0-b26b-dfca785cf18a
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Capacity/reservationOrders/87f3c981-3e33-43d0-b26b-dfca785cf18a/reservations/ed0bcc5a-8027-451e-8435-e96c4021abc3/providers/Microsoft.Consumption/reservationSummaries/20171001
                    name: 87f3c981-3e33-43d0-b26b-dfca785cf18a_ed0bcc5a-8027-451e-8435-e96c4021abc3_20171001
                    properties:
                      avgUtilizationPercentage: 0
                      maxUtilizationPercentage: 0
                      minUtilizationPercentage: 0
                      reservationId: ed0bcc5a-8027-451e-8435-e96c4021abc3
                      reservationOrderId: 87f3c981-3e33-43d0-b26b-dfca785cf18a
                      reservedHours: 0
                      skuName: Standard_D8s_v3
                      usageDate: 2017-10-01T00:00:00Z
                      usedHours: 0
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/reservationsummaries
        ReservationSummariesMonthly:
          parameters:
            api-version: 2018-01-31
            grain: monthly
            reservationOrderId: 87f3c981-3e33-43d0-b26b-dfca785cf18a
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Capacity/reservationOrders/87f3c981-3e33-43d0-b26b-dfca785cf18a/reservations/ed0bcc5a-8027-451e-8435-e96c4021abc3/providers/Microsoft.Consumption/reservationSummaries/20171001
                    name: 87f3c981-3e33-43d0-b26b-dfca785cf18a_ed0bcc5a-8027-451e-8435-e96c4021abc3_20171001
                    properties:
                      avgUtilizationPercentage: 0
                      maxUtilizationPercentage: 0
                      minUtilizationPercentage: 0
                      reservationId: ed0bcc5a-8027-451e-8435-e96c4021abc3
                      reservationOrderId: 87f3c981-3e33-43d0-b26b-dfca785cf18a
                      reservedHours: 0
                      skuName: Standard_D8s_v3
                      usageDate: 2017-10-01T00:00:00Z
                      usedHours: 0
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/reservationsummaries
      x-ms-pageable:
        nextLinkName: nextLink
  "/providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/reservations/{reservationId}/providers/Microsoft.Consumption/reservationDetails":
    get:
      description: Lists the reservations details for provided date range.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: ReservationsDetails_ListByReservationOrderAndReservation
      parameters:
        - $ref: "#/parameters/reservationOrderIdParameter"
        - $ref: "#/parameters/reservationIdParameter"
        - description: "Filter reservation details by date range. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge' "
          in: query
          name: $filter
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ReservationDetailsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ReservedInstances
      x-ms-examples:
        ReservationDetailsWithReservationId:
          parameters:
            $filter: properties/usageDate ge '2017-10-01' AND properties/usageDate le '2017-12-05'
            api-version: 2018-01-31
            reservationId: ba4a5693-71ef-4ec2-a5ea-c4897ee7e740
            reservationOrderId: 87f3c981-3e33-43d0-b26b-dfca785cf18a
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Capacity/reservationOrders/87f3c981-3e33-43d0-b26b-dfca785cf18a/reservations/ba4a5693-71ef-4ec2-a5ea-c4897ee7e740/providers/Microsoft.Consumption/reservationDetails/20171129
                    name: 87f3c981-3e33-43d0-b26b-dfca785cf18a_ba4a5693-71ef-4ec2-a5ea-c4897ee7e740_20171129
                    properties:
                      instanceId: /subscriptions/ace02136-302a-429c-a2c8-dac173f60bea/resourcegroups/wvn-sql/providers/microsoft.compute/virtualmachines/wvn-sql2014sp33
                      reservationId: ba4a5693-71ef-4ec2-a5ea-c4897ee7e740
                      reservationOrderId: 87f3c981-3e33-43d0-b26b-dfca785cf18a
                      reservedHours: 24
                      skuName: Standard_D2_v2
                      totalReservedQuantity: 1
                      usageDate: 2017-11-29T00:00:00Z
                      usedHours: 24
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/reservationDetails
      x-ms-pageable:
        nextLinkName: nextLink
  "/providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/reservations/{reservationId}/providers/Microsoft.Consumption/reservationSummaries":
    get:
      description: Lists the reservations summaries for daily or monthly grain.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: ReservationsSummaries_ListByReservationOrderAndReservation
      parameters:
        - $ref: "#/parameters/reservationOrderIdParameter"
        - $ref: "#/parameters/reservationIdParameter"
        - description: Can be daily or monthly
          enum:
            - daily
            - monthly
          in: query
          name: grain
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: datagrain
            values:
              - description: Daily grain of data
                name: DailyGrain
                value: daily
              - description: Monthly grain of data
                name: MonthlyGrain
                value: monthly
        - description: Required only for daily grain. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge'
          in: query
          name: $filter
          required: false
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ReservationSummariesListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ReservedInstances
      x-ms-examples:
        ReservationSummariesDailyWithReservationId:
          parameters:
            $filter: properties/usageDate ge '2017-10-01' AND properties/usageDate le '2017-11-20'
            api-version: 2018-01-31
            grain: daily
            reservationId: ba4a5693-71ef-4ec2-a5ea-c4897ee7e740
            reservationOrderId: 87f3c981-3e33-43d0-b26b-dfca785cf18a
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Capacity/reservationOrders/87f3c981-3e33-43d0-b26b-dfca785cf18a/reservations/ed0bcc5a-8027-451e-8435-e96c4021abc3/providers/Microsoft.Consumption/reservationSummaries/20171001
                    name: 87f3c981-3e33-43d0-b26b-dfca785cf18a_ed0bcc5a-8027-451e-8435-e96c4021abc3_20171001
                    properties:
                      avgUtilizationPercentage: 0
                      maxUtilizationPercentage: 0
                      minUtilizationPercentage: 0
                      reservationId: ed0bcc5a-8027-451e-8435-e96c4021abc3
                      reservationOrderId: 87f3c981-3e33-43d0-b26b-dfca785cf18a
                      reservedHours: 0
                      skuName: Standard_D8s_v3
                      usageDate: 2017-10-01T00:00:00Z
                      usedHours: 0
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/reservationsummaries
        ReservationSummariesMonthlyWithReservationId:
          parameters:
            api-version: 2018-01-31
            grain: monthly
            reservationId: ba4a5693-71ef-4ec2-a5ea-c4897ee7e740
            reservationOrderId: 87f3c981-3e33-43d0-b26b-dfca785cf18a
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Capacity/reservationOrders/87f3c981-3e33-43d0-b26b-dfca785cf18a/reservations/ed0bcc5a-8027-451e-8435-e96c4021abc3/providers/Microsoft.Consumption/reservationSummaries/20171001
                    name: 87f3c981-3e33-43d0-b26b-dfca785cf18a_ed0bcc5a-8027-451e-8435-e96c4021abc3_20171001
                    properties:
                      avgUtilizationPercentage: 0
                      maxUtilizationPercentage: 0
                      minUtilizationPercentage: 0
                      reservationId: ed0bcc5a-8027-451e-8435-e96c4021abc3
                      reservationOrderId: 87f3c981-3e33-43d0-b26b-dfca785cf18a
                      reservedHours: 0
                      skuName: Standard_D8s_v3
                      usageDate: 2017-10-01T00:00:00Z
                      usedHours: 0
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/reservationsummaries
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Consumption/operations:
    get:
      description: Lists all of the available consumption REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/OperationListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Operations
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/marketplaces":
    get:
      description: Lists the marketplaces for a scope by billing period and subscriptionId. Marketplaces are available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: Marketplaces_ListByBillingPeriod
      parameters:
        - description: May be used to filter marketplaces by properties/usageEnd (Utc time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'.
          in: query
          name: $filter
          required: false
          type: string
        - description: May be used to limit the number of results to the most recent N marketplaces.
          in: query
          maximum: 1000
          minimum: 1
          name: $top
          required: false
          type: integer
        - description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          type: string
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/billingPeriodNameParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/MarketplacesListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Marketplaces
      x-ms-examples:
        MarketplacesListForBillingPeriod:
          parameters:
            api-version: 2018-01-31
            billingPeriodName: "201801"
            subscriptionId: 00000000-0000-4a5f-88ca-5fce9a69faa0
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/marketPlaces/marketplacesId1
                    name: marketplacesId1
                    properties:
                      billingPeriodId: /subscriptions/subid/providers/Microsoft.Billing/billingPeriods/201702
                      consumedQuantity: 0.00328
                      currency: USD
                      instanceId: /subscriptions/subid/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                      instanceName: shared1
                      isEstimated: false
                      meterId: fe167397-a38d-43c3-9bb3-8e2907e56a41
                      offerName: offer1
                      orderNumber: 4ca79679-0000-0000-bfe5-b8ca1ff80e2b
                      planName: plan2
                      pretaxCost: 0.67
                      publisherName: xyz
                      resourceGroup: TEST
                      resourceRate: 0.24
                      subscriptionGuid: 00000000-0000-4a5f-88ca-5fce9a69faa0
                      subscriptionName: azure subscription
                      usageEnd: 2017-02-13T23:59:59Z
                      usageStart: 2017-02-13T00:00:00Z
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/marketPlaces
      x-ms-odata: "#/definitions/Marketplace"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/pricesheets/default":
    get:
      description: Get the price sheet for a scope by subscriptionId and billing period. Price sheet is available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: PriceSheet_GetByBillingPeriod
      parameters:
        - description: May be used to expand the properties/meterDetails within a price sheet. By default, these fields are not included when returning price sheet.
          in: query
          name: $expand
          required: false
          type: string
        - description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          type: string
        - description: May be used to limit the number of results to the top N results.
          in: query
          maximum: 1000
          minimum: 1
          name: $top
          required: false
          type: integer
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/billingPeriodNameParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/PriceSheetResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - PriceSheet
      x-ms-examples:
        PriceSheetExpand:
          parameters:
            $expand: meterDetails
            api-version: 2018-01-31
            billingPeriodName: "201801"
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/pricesheets/default
                name: default
                properties:
                  nextLink: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.consumption/pricesheets/default?api-version=2018-01-31&$skiptoken=AQAAAA%3D%3D&$expand=properties/pricesheets/meterDetails
                  pricesheets:
                    - billingPeriodId: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201702
                      currencyCode: EUR
                      includedQuantity: 100
                      meterDetails:
                        meterCategory: Networking
                        meterLocation: Zone 2
                        meterName: Data Transfer Out (GB)
                        pretaxStandardRate: 0.138
                        totalIncludedQuantity: 0
                        unit: GB
                      meterId: fe167397-a38d-43c3-9bb3-8e2907e56a41
                      partNumber: AB-11110
                      unitOfMeasure: 100 Hours
                      unitPrice: 0.00328
                type: Microsoft.Consumption/pricesheets
        PriceSheetForBillingPeriod:
          parameters:
            api-version: 2018-01-31
            billingPeriodName: "201801"
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/pricesheets/default
                name: default
                properties:
                  nextLink: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201702/providers/microsoft.consumption/pricesheets/default?api-version=2018-01-31
                  pricesheets:
                    - billingPeriodId: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201702
                      currencyCode: EUR
                      includedQuantity: 100
                      meterId: fe167397-a38d-43c3-9bb3-8e2907e56a41
                      partNumber: AB-11110
                      unitOfMeasure: 100 Hours
                      unitPrice: 0.00328
                type: Microsoft.Consumption/pricesheets
  "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/usageDetails":
    get:
      description: Lists the usage details for a scope by billing period. Usage details are available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: UsageDetails_ListByBillingPeriod
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/billingPeriodNameParameter"
        - description: May be used to expand the properties/additionalProperties or properties/meterDetails within a list of usage details. By default, these fields are not included when listing usage details.
          in: query
          name: $expand
          required: false
          type: string
        - description: May be used to filter usageDetails by properties/usageEnd (Utc time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'.
          in: query
          name: $filter
          required: false
          type: string
        - description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          type: string
        - description: May be used to limit the number of results to the most recent N usageDetails.
          in: query
          maximum: 1000
          minimum: 1
          name: $top
          required: false
          type: integer
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/UsageDetailsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - UsageDetails
      x-ms-examples:
        UsageDetailsExpand:
          parameters:
            $expand: meterDetails,additionalProperties
            $filter: properties/usageEnd ge '2018-01-14' AND properties/usageEnd le '2018-02-14'
            $top: 1
            api-version: 2018-01-31
            billingPeriodName: "201702"
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/usageDetails/usageDetailsId1
                    name: usageDetailsId1
                    properties:
                      accountName: My account name
                      additionalProperties: '{"MyType":"","ServiceType":"","VMName":"","UsageType":"MyUsage"}'
                      billableQuantity: 0.00328
                      billingPeriodId: /subscriptions/subid/providers/Microsoft.Billing/billingPeriods/201702
                      consumedService: My consumed service
                      costCenter: Cost center 1
                      currency: USD
                      departmentName: My department name
                      instanceId: /subscriptions/subid/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                      instanceLocation: eastasia
                      instanceName: shared1
                      invoiceId: /subscriptions/subid/providers/Microsoft.Billing/invoices/201703-123456789
                      isEstimated: false
                      meterDetails:
                        meterCategory: Networking
                        meterLocation: Zone 2
                        meterName: Data Transfer Out (GB)
                        pretaxStandardRate: 0.138
                        totalIncludedQuantity: 0
                        unit: GB
                      meterId: fe167397-a38d-43c3-9bb3-8e2907e56a41
                      pretaxCost: 0.67
                      product: My product name
                      subscriptionGuid: fe167397-a38d-43c3-9bb3-8e2907e56a41
                      subscriptionName: Dummy subscription
                      usageEnd: 2017-02-13T23:59:59Z
                      usageQuantity: 0.00328
                      usageStart: 2017-02-13T00:00:00Z
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/usageDetails
        UsageDetailsListForBillingPeriod:
          parameters:
            api-version: 2018-01-31
            billingPeriodName: "201702"
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/usageDetails/usageDetailsId1
                    name: usageDetailsId1
                    properties:
                      billableQuantity: 0.00328
                      billingPeriodId: /subscriptions/subid/providers/Microsoft.Billing/billingPeriods/201702
                      currency: USD
                      instanceId: /subscriptions/subid/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                      instanceLocation: eastasia
                      instanceName: shared1
                      invoiceId: /subscriptions/subid/providers/Microsoft.Billing/invoices/201703-123456789
                      isEstimated: false
                      meterId: fe167397-a38d-43c3-9bb3-8e2907e56a41
                      pretaxCost: 0.67
                      usageEnd: 2017-02-13T23:59:59Z
                      usageQuantity: 0.00328
                      usageStart: 2017-02-13T00:00:00Z
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/usageDetails
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Consumption/budgets":
    get:
      description: Lists all budgets for a subscription.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: Budgets_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/BudgetsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Budgets
      x-ms-examples:
        BudgetsList:
          parameters:
            api-version: 2018-01-31
            resourceGroupName: MPDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - eTag: '"1d34d012214157f"'
                    id: subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget
                    name: TestBudget
                    properties:
                      amount: 100.65
                      category: Cost
                      currentSpend:
                        amount: 80.89
                        unit: USD
                      filters:
                        meters:
                          - fe167397-a38d-43c3-9bb3-8e2907e56a41
                        resourceGroups:
                          - MPDEVTESTRG
                        resources:
                          - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MSAWSIFT2
                          - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1
                      notifications:
                        Actual_GreaterThanOrEqualTo_90_Percent:
                          contactEmails:
                            - johndoe@contoso.com
                            - janesmith@contoso.com
                          contactGroups:
                            - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup
                          contactRoles:
                            - Contributor
                            - Reader
                          enabled: true
                          operator: GreaterThanOrEqualTo
                          threshold: 90
                        Actual_GreaterThan_80_Percent:
                          contactEmails:
                            - johndoe@contoso.com
                            - janesmith@contoso.com
                          contactRoles:
                            - Contributor
                            - Reader
                          enabled: true
                          operator: GreaterThan
                          threshold: 80
                      timeGrain: Monthly
                      timePeriod:
                        endDate: 2018-10-31T00:00:00Z
                        startDate: 2017-10-01T00:00:00Z
                    type: Microsoft.Consumption/budgets
                  - eTag: '"1d34d012214157f"'
                    id: subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget
                    name: TestBudget
                    properties:
                      amount: 600.65
                      category: Cost
                      currentSpend:
                        amount: 120.89
                        unit: USD
                      filters:
                        meters:
                          - fe167397-a38d-43c3-9bb3-8e2907e56a41
                        resourceGroups:
                          - MPDEVTESTRG
                        resources:
                          - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MSAWSIFT2
                          - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1
                      notifications:
                        Actual_GreaterThanOrEqualTo_60_Percent:
                          contactEmails:
                            - johndoe@contoso.com
                            - janesmith@contoso.com
                          contactGroups:
                            - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup
                          contactRoles:
                            - Contributor
                            - Reader
                          enabled: true
                          operator: GreaterThanOrEqualTo
                          threshold: 60
                        Actual_GreaterThan_40_Percent:
                          contactEmails:
                            - johndoe@contoso.com
                            - janesmith@contoso.com
                          contactRoles:
                            - Contributor
                            - Reader
                          enabled: true
                          operator: GreaterThan
                          threshold: 40
                      timeGrain: Monthly
                      timePeriod:
                        endDate: 2018-10-31T00:00:00Z
                        startDate: 2017-10-01T00:00:00Z
                    type: Microsoft.Consumption/budgets
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Consumption/budgets/{budgetName}":
    delete:
      description: The operation to delete a budget.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: Budgets_Delete
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/budgetNameParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Budgets
      x-ms-examples:
        DeleteBudget:
          parameters:
            api-version: 2018-01-31
            budgetName: TestBudget
            resourceGroupName: MPDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
    get:
      description: Gets the budget for a subscription by budget name.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: Budgets_Get
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/budgetNameParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/Budget"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Budgets
      x-ms-examples:
        Budget:
          parameters:
            api-version: 2018-01-31
            budgetName: TestBudget
            resourceGroupName: MPDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                eTag: '"1d34d012214157f"'
                id: subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget
                name: TestBudget
                properties:
                  amount: 100.65
                  category: Cost
                  currentSpend:
                    amount: 80.89
                    unit: USD
                  filters:
                    meters:
                      - fe167397-a38d-43c3-9bb3-8e2907e56a41
                    resourceGroups:
                      - MPDEVTESTRG
                    resources:
                      - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MSAWSIFT2
                      - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1
                  notifications:
                    Actual_GreaterThan_80_Percent:
                      contactEmails:
                        - johndoe@contoso.com
                        - janesmith@contoso.com
                      contactGroups:
                        - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup
                      contactRoles:
                        - Contributor
                        - Reader
                      enabled: true
                      operator: GreaterThan
                      threshold: 80
                  timeGrain: Monthly
                  timePeriod:
                    endDate: 2018-10-31T00:00:00Z
                    startDate: 2017-10-01T00:00:00Z
                type: Microsoft.Consumption/budgets
    put:
      description: The operation to create or update a budget. Update operation requires latest eTag to be set in the request mandatorily. You may obtain the latest eTag by performing a get operation. Create operation does not require eTag.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: Budgets_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/budgetNameParameter"
        - description: Parameters supplied to the Create Budget operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Budget"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/Budget"
        "201":
          description: Created.
          schema:
            $ref: "#/definitions/Budget"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Budgets
      x-ms-examples:
        CreateOrUpdateBudget:
          parameters:
            api-version: 2018-01-31
            budgetName: TestBudget
            parameters:
              eTag: '"1d34d016a593709"'
              properties:
                amount: 100.65
                category: Cost
                filters:
                  meters:
                    - fe167397-a38d-43c3-9bb3-8e2907e56a41
                  resourceGroups:
                    - MPDEVTESTRG
                  resources:
                    - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MSAWSIFT2
                    - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1
                notifications:
                  Actual_GreaterThan_80_Percent:
                    contactEmails:
                      - johndoe@contoso.com
                      - janesmith@contoso.com
                    contactGroups:
                      - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup
                    contactRoles:
                      - Contributor
                      - Reader
                    enabled: true
                    operator: GreaterThan
                    threshold: 80
                timeGrain: Monthly
                timePeriod:
                  endDate: 2018-10-31T00:00:00Z
                  startDate: 2017-10-01T00:00:00Z
            resourceGroupName: MPDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                eTag: '"1d34d012214157f"'
                id: subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget
                name: TestBudget
                properties:
                  amount: 100.65
                  category: Cost
                  currentSpend:
                    amount: 80.89
                    unit: USD
                  filters:
                    meters:
                      - fe167397-a38d-43c3-9bb3-8e2907e56a41
                    resourceGroups:
                      - MPDEVTESTRG
                    resources:
                      - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MSAWSIFT2
                      - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1
                  notifications:
                    Actual_GreaterThan_80_Percent:
                      contactEmails:
                        - johndoe@contoso.com
                        - janesmith@contoso.com
                      contactGroups:
                        - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup
                      contactRoles:
                        - Contributor
                        - Reader
                      enabled: true
                      operator: GreaterThan
                      threshold: 80
                  timeGrain: Monthly
                  timePeriod:
                    endDate: 2018-10-31T00:00:00Z
                    startDate: 2017-10-01T00:00:00Z
                type: Microsoft.Consumption/budgets
            "201":
              body:
                eTag: '"1d34d012214157f"'
                id: subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget
                name: TestBudget
                properties:
                  amount: 100.65
                  category: Cost
                  currentSpend:
                    amount: 80.89
                    unit: USD
                  filters:
                    meters:
                      - fe167397-a38d-43c3-9bb3-8e2907e56a41
                    resourceGroups:
                      - MPDEVTESTRG
                    resources:
                      - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MSAWSIFT2
                      - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1
                  notifications:
                    Actual_GreaterThan_80_Percent:
                      contactEmails:
                        - johndoe@contoso.com
                        - janesmith@contoso.com
                      contactGroups:
                        - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup
                      contactRoles:
                        - Contributor
                        - Reader
                      enabled: true
                      operator: GreaterThan
                      threshold: 80
                  timeGrain: Monthly
                  timePeriod:
                    endDate: 2018-10-31T00:00:00Z
                    startDate: 2017-10-01T00:00:00Z
                type: Microsoft.Consumption/budgets
  "/subscriptions/{subscriptionId}/providers/Microsoft.Consumption/marketplaces":
    get:
      description: Lists the marketplaces for a scope by subscriptionId. Marketplaces are available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: Marketplaces_List
      parameters:
        - description: May be used to filter marketplaces by properties/usageEnd (Utc time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'.
          in: query
          name: $filter
          required: false
          type: string
        - description: May be used to limit the number of results to the most recent N marketplaces.
          in: query
          maximum: 1000
          minimum: 1
          name: $top
          required: false
          type: integer
        - description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          type: string
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/MarketplacesListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Marketplaces
      x-ms-examples:
        MarketplacesList:
          parameters:
            api-version: 2018-01-31
            subscriptionId: 00000000-0000-4a5f-88ca-5fce9a69faa0
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/providers/Microsoft.Consumption/marketPlaces/marketplaceId1
                    name: marketplaceId1
                    properties:
                      billingPeriodId: /subscriptions/subid/providers/Microsoft.Billing/billingPeriods/201702
                      consumedQuantity: 0.00328
                      currency: USD
                      instanceId: /subscriptions/subid/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                      instanceName: shared1
                      isEstimated: false
                      offerName: offer1
                      orderNumber: 4ca79679-0000-0000-bfe5-b8ca1ff80e00
                      planName: plan1
                      pretaxCost: 0.67
                      publisherName: xyz
                      resourceGroup: TEST
                      resourceRate: 0.24
                      subscriptionGuid: 00000000-0000-4a5f-88ca-5fce9a69faa0
                      subscriptionName: azure subscription
                      usageEnd: 2017-02-13T23:59:59Z
                      usageStart: 2017-02-13T00:00:00Z
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/marketPlaces
      x-ms-odata: "#/definitions/Marketplace"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Consumption/pricesheets/default":
    get:
      description: Gets the price sheet for a scope by subscriptionId. Price sheet is available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: PriceSheet_Get
      parameters:
        - description: May be used to expand the properties/meterDetails within a price sheet. By default, these fields are not included when returning price sheet.
          in: query
          name: $expand
          required: false
          type: string
        - description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          type: string
        - description: May be used to limit the number of results to the top N results.
          in: query
          maximum: 1000
          minimum: 1
          name: $top
          required: false
          type: integer
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/PriceSheetResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - PriceSheet
      x-ms-examples:
        PriceSheet:
          parameters:
            api-version: 2018-01-31
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/pricesheets/default
                name: default
                properties:
                  nextLink: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.consumption/pricesheets/default?api-version=2018-01-31&$skiptoken=AQAAAA%3D%3D
                  pricesheets:
                    - billingPeriodId: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201702
                      currencyCode: EUR
                      includedQuantity: 100
                      meterId: fe167397-a38d-43c3-9bb3-8e2907e56a41
                      partNumber: AB-11110
                      unitOfMeasure: 100 Hours
                      unitPrice: 0.00328
                type: Microsoft.Consumption/pricesheets
  "/subscriptions/{subscriptionId}/providers/Microsoft.Consumption/usageDetails":
    get:
      description: Lists the usage details for a scope by billing period. Usage details are available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: UsageDetails_List
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - description: May be used to expand the properties/additionalProperties or properties/meterDetails within a list of usage details. By default, these fields are not included when listing usage details.
          in: query
          name: $expand
          required: false
          type: string
        - description: May be used to filter usageDetails by properties/usageEnd (Utc time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'.
          in: query
          name: $filter
          required: false
          type: string
        - description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          type: string
        - description: May be used to limit the number of results to the most recent N usageDetails.
          in: query
          maximum: 1000
          minimum: 1
          name: $top
          required: false
          type: integer
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/UsageDetailsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - UsageDetails
      x-ms-examples:
        UsageDetailsList:
          parameters:
            api-version: 2018-01-31
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/providers/Microsoft.Consumption/usageDetails/usageDetailsId1
                    name: usageDetailsId1
                    properties:
                      billableQuantity: 0.00328
                      billingPeriodId: /subscriptions/subid/providers/Microsoft.Billing/billingPeriods/201702
                      currency: USD
                      instanceId: /subscriptions/subid/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                      instanceLocation: eastasia
                      instanceName: shared1
                      invoiceId: /subscriptions/subid/providers/Microsoft.Billing/invoices/201703-123456789
                      isEstimated: false
                      meterId: fe167397-a38d-43c3-9bb3-8e2907e56a41
                      pretaxCost: 0.67
                      usageEnd: 2017-02-13T23:59:59Z
                      usageQuantity: 0.00328
                      usageStart: 2017-02-13T00:00:00Z
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/usageDetails
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Consumption/budgets":
    get:
      description: Lists all budgets for a resource group under a subscription.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: Budgets_ListByResourceGroupName
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/BudgetsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Budgets
      x-ms-examples:
        BudgetsList:
          parameters:
            api-version: 2018-01-31
            resourceGroupName: MPDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - eTag: '"1d34d012214157f"'
                    id: subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget
                    name: TestBudget
                    properties:
                      amount: 100.65
                      category: Cost
                      currentSpend:
                        amount: 80.89
                        unit: USD
                      filters:
                        meters:
                          - fe167397-a38d-43c3-9bb3-8e2907e56a41
                        resourceGroups:
                          - MPDEVTESTRG
                        resources:
                          - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MSAWSIFT2
                          - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1
                      notifications:
                        Actual_GreaterThanOrEqualTo_90_Percent:
                          contactEmails:
                            - johndoe@contoso.com
                            - janesmith@contoso.com
                          contactGroups:
                            - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup
                          contactRoles:
                            - Contributor
                            - Reader
                          enabled: true
                          operator: GreaterThanOrEqualTo
                          threshold: 90
                        Actual_GreaterThan_80_Percent:
                          contactEmails:
                            - johndoe@contoso.com
                            - janesmith@contoso.com
                          contactRoles:
                            - Contributor
                            - Reader
                          enabled: true
                          operator: GreaterThan
                          threshold: 80
                      timeGrain: Monthly
                      timePeriod:
                        endDate: 2018-10-31T00:00:00Z
                        startDate: 2017-10-01T00:00:00Z
                    type: Microsoft.Consumption/budgets
                  - eTag: '"1d34d012214157f"'
                    id: subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget
                    name: TestBudget
                    properties:
                      amount: 600.65
                      category: Cost
                      currentSpend:
                        amount: 120.89
                        unit: USD
                      filters:
                        meters:
                          - fe167397-a38d-43c3-9bb3-8e2907e56a41
                        resourceGroups:
                          - MPDEVTESTRG
                        resources:
                          - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MSAWSIFT2
                          - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1
                      notifications:
                        Actual_GreaterThanOrEqualTo_60_Percent:
                          contactEmails:
                            - johndoe@contoso.com
                            - janesmith@contoso.com
                          contactGroups:
                            - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup
                          contactRoles:
                            - Contributor
                            - Reader
                          enabled: true
                          operator: GreaterThanOrEqualTo
                          threshold: 60
                        Actual_GreaterThan_40_Percent:
                          contactEmails:
                            - johndoe@contoso.com
                            - janesmith@contoso.com
                          contactRoles:
                            - Contributor
                            - Reader
                          enabled: true
                          operator: GreaterThan
                          threshold: 40
                      timeGrain: Monthly
                      timePeriod:
                        endDate: 2018-10-31T00:00:00Z
                        startDate: 2017-10-01T00:00:00Z
                    type: Microsoft.Consumption/budgets
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Consumption/budgets/{budgetName}":
    delete:
      description: The operation to delete a budget.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: Budgets_DeleteByResourceGroupName
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/budgetNameParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Budgets
      x-ms-examples:
        DeleteBudget:
          parameters:
            api-version: 2018-01-31
            budgetName: TestBudget
            resourceGroupName: MPDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
    get:
      description: Gets the budget for a resource group under a subscription by budget name.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: Budgets_GetByResourceGroupName
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/budgetNameParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/Budget"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Budgets
      x-ms-examples:
        Budget:
          parameters:
            api-version: 2018-01-31
            budgetName: TestBudget
            resourceGroupName: MPDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                eTag: '"1d34d012214157f"'
                id: subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget
                name: TestBudget
                properties:
                  amount: 100.65
                  category: Cost
                  currentSpend:
                    amount: 80.89
                    unit: USD
                  filters:
                    meters:
                      - fe167397-a38d-43c3-9bb3-8e2907e56a41
                    resourceGroups:
                      - MPDEVTESTRG
                    resources:
                      - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MSAWSIFT2
                      - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1
                  notifications:
                    Actual_GreaterThan_80_Percent:
                      contactEmails:
                        - johndoe@contoso.com
                        - janesmith@contoso.com
                      contactGroups:
                        - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup
                      contactRoles:
                        - Contributor
                        - Reader
                      enabled: true
                      operator: GreaterThan
                      threshold: 80
                  timeGrain: Monthly
                  timePeriod:
                    endDate: 2018-10-31T00:00:00Z
                    startDate: 2017-10-01T00:00:00Z
                type: Microsoft.Consumption/budgets
    put:
      description: The operation to create or update a budget. Update operation requires latest eTag to be set in the request mandatorily. You may obtain the latest eTag by performing a get operation. Create operation does not require eTag.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: Budgets_CreateOrUpdateByResourceGroupName
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/budgetNameParameter"
        - description: Parameters supplied to the Create Budget operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Budget"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/Budget"
        "201":
          description: Created.
          schema:
            $ref: "#/definitions/Budget"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Budgets
      x-ms-examples:
        CreateOrUpdateBudget:
          parameters:
            api-version: 2018-01-31
            budgetName: TestBudget
            parameters:
              eTag: '"1d34d016a593709"'
              properties:
                amount: 100.65
                category: Cost
                filters:
                  meters:
                    - fe167397-a38d-43c3-9bb3-8e2907e56a41
                  resourceGroups:
                    - MPDEVTESTRG
                  resources:
                    - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MSAWSIFT2
                    - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1
                notifications:
                  Actual_GreaterThan_80_Percent:
                    contactEmails:
                      - johndoe@contoso.com
                      - janesmith@contoso.com
                    contactGroups:
                      - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup
                    contactRoles:
                      - Contributor
                      - Reader
                    enabled: true
                    operator: GreaterThan
                    threshold: 80
                timeGrain: Monthly
                timePeriod:
                  endDate: 2018-10-31T00:00:00Z
                  startDate: 2017-10-01T00:00:00Z
            resourceGroupName: MPDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                eTag: '"1d34d012214157f"'
                id: subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget
                name: TestBudget
                properties:
                  amount: 100.65
                  category: Cost
                  currentSpend:
                    amount: 80.89
                    unit: USD
                  filters:
                    meters:
                      - fe167397-a38d-43c3-9bb3-8e2907e56a41
                    resourceGroups:
                      - MPDEVTESTRG
                    resources:
                      - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MSAWSIFT2
                      - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1
                  notifications:
                    Actual_GreaterThan_80_Percent:
                      contactEmails:
                        - johndoe@contoso.com
                        - janesmith@contoso.com
                      contactGroups:
                        - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup
                      contactRoles:
                        - Contributor
                        - Reader
                      enabled: true
                      operator: GreaterThan
                      threshold: 80
                  timeGrain: Monthly
                  timePeriod:
                    endDate: 2018-10-31T00:00:00Z
                    startDate: 2017-10-01T00:00:00Z
                type: Microsoft.Consumption/budgets
            "201":
              body:
                eTag: '"1d34d012214157f"'
                id: subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget
                name: TestBudget
                properties:
                  amount: 100.65
                  category: Cost
                  currentSpend:
                    amount: 80.89
                    unit: USD
                  filters:
                    meters:
                      - fe167397-a38d-43c3-9bb3-8e2907e56a41
                    resourceGroups:
                      - MPDEVTESTRG
                    resources:
                      - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MSAWSIFT2
                      - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1
                  notifications:
                    Actual_GreaterThan_80_Percent:
                      contactEmails:
                        - johndoe@contoso.com
                        - janesmith@contoso.com
                      contactGroups:
                        - /subscriptions/{subscription-id}/resourceGroups/MPDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup
                      contactRoles:
                        - Contributor
                        - Reader
                      enabled: true
                      operator: GreaterThan
                      threshold: 80
                  timeGrain: Monthly
                  timePeriod:
                    endDate: 2018-10-31T00:00:00Z
                    startDate: 2017-10-01T00:00:00Z
                type: Microsoft.Consumption/budgets
definitions:
  Budget:
    allOf:
      - $ref: "#/definitions/ProxyResource"
    description: A budget resource.
    properties:
      properties:
        $ref: "#/definitions/BudgetProperties"
        title: Budget properties
        x-ms-client-flatten: true
    type: object
  BudgetProperties:
    description: The properties of the budget.
    properties:
      amount:
        description: The total amount of cost to track with the budget
        format: decimal
        type: number
      category:
        description: The category of the budget, whether the budget tracks cost or usage.
        enum:
          - Cost
          - Usage
        type: string
        x-ms-enum:
          modelAsString: true
          name: CategoryType
      currentSpend:
        $ref: "#/definitions/CurrentSpend"
        description: The current amount of cost which is being tracked for a budget.
        readOnly: true
      filters:
        $ref: "#/definitions/Filters"
        description: May be used to filter budgets by resource group, resource, or meter.
        type: object
      notifications:
        additionalProperties:
          $ref: "#/definitions/Notification"
          type: object
        description: Dictionary of notifications associated with the budget. Budget can have up to five notifications.
        maxItems: 5
        type: object
      timeGrain:
        description: The time covered by a budget. Tracking of the amount will be reset based on the time grain.
        enum:
          - Monthly
          - Quarterly
          - Annually
        type: string
        x-ms-enum:
          modelAsString: true
          name: TimeGrainType
      timePeriod:
        $ref: "#/definitions/BudgetTimePeriod"
        description: Has start and end date of the budget. The start date must be first of the month and should be less than the end date. Budget start date must be on or after June 1, 2017. Future start date should not be more than three months. Past start date should  be selected within the timegrain period. There are no restrictions on the end date.
    required:
      - category
      - amount
      - timeGrain
      - timePeriod
  BudgetTimePeriod:
    description: The start and end date for a budget.
    properties:
      endDate:
        description: The end date for the budget. If not provided, we default this to 10 years from the start date.
        format: date-time
        type: string
      startDate:
        description: The start date for the budget.
        format: date-time
        type: string
    required:
      - startDate
  BudgetsListResult:
    description: Result of listing budgets. It contains a list of available budgets in the scope provided.
    properties:
      nextLink:
        description: The link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        description: The list of budgets.
        items:
          $ref: "#/definitions/Budget"
        readOnly: true
        type: array
  CurrentSpend:
    description: The current amount of cost which is being tracked for a budget.
    properties:
      amount:
        description: The total amount of cost which is being tracked by the budget.
        format: decimal
        readOnly: true
        type: number
      unit:
        description: The unit of measure for the budget amount.
        readOnly: true
        type: string
  ErrorDetails:
    description: The details of the error.
    properties:
      code:
        description: Error code.
        readOnly: true
        type: string
      message:
        description: Error message indicating why the operation failed.
        readOnly: true
        type: string
  ErrorResponse:
    description: Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.
    properties:
      error:
        $ref: "#/definitions/ErrorDetails"
        description: The details of the error.
    type: object
  Filters:
    description: May be used to filter budgets by resource group, resource, or meter.
    properties:
      meters:
        description: "The list of filters on meters, mandatory for budgets of usage category. "
        items:
          type: string
        maxItems: 10
        minItems: 0
        type: array
      resourceGroups:
        description: The list of filters on resource groups, allowed at subscription level only.
        items:
          type: string
        maxItems: 10
        minItems: 0
        type: array
      resources:
        description: The list of filters on resources.
        items:
          type: string
        maxItems: 10
        minItems: 0
        type: array
  Marketplace:
    allOf:
      - $ref: "#/definitions/Resource"
    description: An marketplace resource.
    properties:
      properties:
        $ref: "#/definitions/MarketplaceProperties"
        title: Marketplace properties
        x-ms-client-flatten: true
    type: object
  MarketplaceProperties:
    description: The properties of the marketplace usage detail.
    properties:
      accountName:
        description: Account name.
        readOnly: true
        type: string
      additionalProperties:
        description: Additional details of this usage item. By default this is not populated, unless it's specified in $expand.
        readOnly: true
        type: string
      billingPeriodId:
        description: The id of the billing period resource that the usage belongs to.
        readOnly: true
        type: string
      consumedQuantity:
        description: The quantity of usage.
        format: decimal
        readOnly: true
        type: number
      consumedService:
        description: Consumed service name.
        readOnly: true
        type: string
      costCenter:
        description: The cost center of this department if it is a department and a costcenter exists
        readOnly: true
        type: string
      currency:
        description: The ISO currency in which the meter is charged, for example, USD.
        readOnly: true
        type: string
      departmentName:
        description: Department name.
        readOnly: true
        type: string
      instanceId:
        description: The uri of the resource instance that the usage is about.
        readOnly: true
        type: string
      instanceName:
        description: The name of the resource instance that the usage is about.
        readOnly: true
        type: string
      isEstimated:
        description: The estimated usage is subject to change.
        readOnly: true
        type: boolean
      meterId:
        description: The meter id.
        readOnly: true
        type: string
      offerName:
        description: The type of offer.
        readOnly: true
        type: string
      orderNumber:
        description: The order number.
        readOnly: true
        type: string
      planName:
        description: The name of plan.
        readOnly: true
        type: string
      pretaxCost:
        description: The amount of cost before tax.
        format: decimal
        readOnly: true
        type: number
      publisherName:
        description: The name of publisher.
        readOnly: true
        type: string
      resourceGroup:
        description: The name of resource group.
        readOnly: true
        type: string
      resourceRate:
        description: The marketplace resource rate.
        format: decimal
        readOnly: true
        type: number
      subscriptionGuid:
        description: Subscription guid.
        readOnly: true
        type: string
      subscriptionName:
        description: Subscription name.
        readOnly: true
        type: string
      unitOfMeasure:
        description: The unit of measure.
        readOnly: true
        type: string
      usageEnd:
        description: The end of the date time range covered by the usage detail.
        format: date-time
        readOnly: true
        type: string
      usageStart:
        description: The start of the date time range covered by the usage detail.
        format: date-time
        readOnly: true
        type: string
    type: object
  MarketplacesListResult:
    description: Result of listing marketplaces. It contains a list of available marketplaces in reverse chronological order by billing period.
    properties:
      nextLink:
        description: The link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        description: The list of marketplaces.
        items:
          $ref: "#/definitions/Marketplace"
        readOnly: true
        type: array
    type: object
  MeterDetails:
    description: The properties of the meter detail.
    properties:
      meterCategory:
        description: The category of the meter, for example, 'Cloud services', 'Networking', etc..
        readOnly: true
        type: string
      meterLocation:
        description: The location in which the Azure service is available.
        readOnly: true
        type: string
      meterName:
        description: The name of the meter, within the given meter category
        readOnly: true
        type: string
      meterSubCategory:
        description: The subcategory of the meter, for example, 'A6 Cloud services', 'ExpressRoute (IXP)', etc..
        readOnly: true
        type: string
      pretaxStandardRate:
        description: The pretax listing price.
        format: decimal
        readOnly: true
        type: number
      totalIncludedQuantity:
        description: The total included quantity associated with the offer.
        format: decimal
        readOnly: true
        type: number
      unit:
        description: The unit in which the meter consumption is charged, for example, 'Hours', 'GB', etc.
        readOnly: true
        type: string
  Notification:
    description: The notification associated with a budget.
    properties:
      contactEmails:
        description: Email addresses to send the budget notification to when the threshold is exceeded.
        items:
          type: string
        maxItems: 50
        minItems: 1
        type: array
      contactGroups:
        description: Action groups to send the budget notification to when the threshold is exceeded.
        items:
          type: string
        maxItems: 50
        minItems: 0
        type: array
      contactRoles:
        description: Contact roles to send the budget notification to when the threshold is exceeded.
        items:
          type: string
        type: array
      enabled:
        description: The notification is enabled or not.
        type: boolean
      operator:
        description: The comparison operator.
        enum:
          - EqualTo
          - GreaterThan
          - GreaterThanOrEqualTo
        type: string
        x-ms-enum:
          modelAsString: true
          name: OperatorType
      threshold:
        description: Threshold value associated with a notification. Notification is sent when the cost exceeded the threshold. It is always percent and has to be between 0 and 1000.
        format: decimal
        type: number
    required:
      - enabled
      - operator
      - threshold
      - contactEmails
  Operation:
    description: A Consumption REST API operation.
    properties:
      display:
        description: The object that represents the operation.
        properties:
          operation:
            description: "Operation type: Read, write, delete, etc."
            readOnly: true
            type: string
          provider:
            description: "Service provider: Microsoft.Consumption."
            readOnly: true
            type: string
          resource:
            description: "Resource on which the operation is performed: UsageDetail, etc."
            readOnly: true
            type: string
      name:
        description: "Operation name: {provider}/{resource}/{operation}."
        readOnly: true
        type: string
    type: object
  OperationListResult:
    description: Result of listing consumption operations. It contains a list of operations and a URL link to get the next set of results.
    properties:
      nextLink:
        description: URL to get the next set of operation list results if there are any.
        readOnly: true
        type: string
      value:
        description: List of consumption operations supported by the Microsoft.Consumption resource provider.
        items:
          $ref: "#/definitions/Operation"
        readOnly: true
        type: array
  PriceSheetModel:
    description: price sheet result. It contains the pricesheet associated with billing period
    properties:
      nextLink:
        description: The link (url) to the next page of results.
        readOnly: true
        type: string
      pricesheets:
        description: Price sheet
        items:
          $ref: "#/definitions/PriceSheetProperties"
        readOnly: true
        type: array
  PriceSheetProperties:
    description: The properties of the price sheet.
    properties:
      billingPeriodId:
        description: The id of the billing period resource that the usage belongs to.
        readOnly: true
        type: string
      currencyCode:
        description: Currency Code
        readOnly: true
        type: string
      includedQuantity:
        description: Included quality for an offer
        format: decimal
        readOnly: true
        type: number
      meterDetails:
        $ref: "#/definitions/MeterDetails"
        description: The details about the meter. By default this is not populated, unless it's specified in $expand.
        readOnly: true
      meterId:
        description: The meter id
        readOnly: true
        type: string
      partNumber:
        description: Part Number
        readOnly: true
        type: string
      unitOfMeasure:
        description: Unit of measure
        readOnly: true
        type: string
      unitPrice:
        description: Unit Price
        format: decimal
        readOnly: true
        type: number
  PriceSheetResult:
    allOf:
      - $ref: "#/definitions/Resource"
    description: An pricesheet resource.
    properties:
      properties:
        $ref: "#/definitions/PriceSheetModel"
        title: Price sheet properties
        x-ms-client-flatten: true
    type: object
  ProxyResource:
    description: The Resource model definition.
    properties:
      eTag:
        description: eTag of the resource. To handle concurrent update scenario, this field will be used to determine whether the user is updating the latest version or not.
        type: string
      id:
        description: Resource Id.
        readOnly: true
        type: string
      name:
        description: Resource name.
        readOnly: true
        type: string
      type:
        description: Resource type.
        readOnly: true
        type: string
    x-ms-azure-resource: true
  ReservationDetails:
    allOf:
      - $ref: "#/definitions/Resource"
    description: reservation details resource.
    properties:
      properties:
        $ref: "#/definitions/ReservationDetailsProperties"
        title: Reservation Details properties
        x-ms-client-flatten: true
    type: object
  ReservationDetailsListResult:
    description: Result of listing reservation details.
    properties:
      nextLink:
        description: The link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        description: The list of reservation details.
        items:
          $ref: "#/definitions/ReservationDetails"
        readOnly: true
        type: array
  ReservationDetailsProperties:
    description: The properties of the reservation details.
    properties:
      instanceId:
        description: This identifier is the name of the resource or the fully qualified Resource ID.
        readOnly: true
        type: string
      reservationId:
        description: The reservation ID is the identifier of a reservation within a reservation order. Each reservation is the grouping for applying the benefit scope and also specifies the number of instances to which the reservation benefit can be applied to.
        readOnly: true
        type: string
      reservationOrderId:
        description: The reservation order ID is the identifier for a reservation purchase. Each reservation order ID represents a single purchase transaction. A reservation order contains reservations. The reservation order specifies the VM size and region for the reservations.
        readOnly: true
        type: string
      reservedHours:
        description: This is the total hours reserved for the day. E.g. if reservation for 1 instance was made on 1 PM, this will be 11 hours for that day and 24 hours from subsequent days.
        format: decimal
        readOnly: true
        type: number
      skuName:
        description: This is the ARM Sku name. It can be used to join with the serviceType field in additional info in usage records.
        readOnly: true
        type: string
      totalReservedQuantity:
        description: This is the total count of instances that are reserved for the reservationId.
        format: decimal
        readOnly: true
        type: number
      usageDate:
        description: The date on which consumption occurred.
        format: date-time
        readOnly: true
        type: string
      usedHours:
        description: This is the total hours used by the instance.
        format: decimal
        readOnly: true
        type: number
  ReservationSummaries:
    allOf:
      - $ref: "#/definitions/Resource"
    description: reservation summaries resource.
    properties:
      properties:
        $ref: "#/definitions/ReservationSummariesProperties"
        title: Reservation Summaries properties
        x-ms-client-flatten: true
    type: object
  ReservationSummariesListResult:
    description: Result of listing reservation summaries.
    properties:
      nextLink:
        description: The link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        description: The list of reservation summaries.
        items:
          $ref: "#/definitions/ReservationSummaries"
        readOnly: true
        type: array
  ReservationSummariesProperties:
    description: The properties of the reservation summaries.
    properties:
      avgUtilizationPercentage:
        description: This is average utilization for the entire time range. (day or month depending on the grain)
        format: decimal
        readOnly: true
        type: number
      maxUtilizationPercentage:
        description: This is the maximum hourly utilization in the usage time (day or month). E.g. if usage record corresponds to 12/10/2017 and on that for hour 4 and 5, utilization was 100%, this field will return 100% for that day.
        format: decimal
        readOnly: true
        type: number
      minUtilizationPercentage:
        description: This is the minimum hourly utilization in the usage time (day or month). E.g. if usage record corresponds to 12/10/2017 and on that for hour 4 and 5, utilization was 10%, this field will return 10% for that day
        format: decimal
        readOnly: true
        type: number
      reservationId:
        description: The reservation ID is the identifier of a reservation within a reservation order. Each reservation is the grouping for applying the benefit scope and also specifies the number of instances to which the reservation benefit can be applied to.
        readOnly: true
        type: string
      reservationOrderId:
        description: The reservation order ID is the identifier for a reservation purchase. Each reservation order ID represents a single purchase transaction. A reservation order contains reservations. The reservation order specifies the VM size and region for the reservations.
        readOnly: true
        type: string
      reservedHours:
        description: This is the total hours reserved. E.g. if reservation for 1 instance was made on 1 PM, this will be 11 hours for that day and 24 hours from subsequent days
        format: decimal
        readOnly: true
        type: number
      skuName:
        description: This is the ARM Sku name. It can be used to join with the serviceType field in additional info in usage records.
        readOnly: true
        type: string
      usageDate:
        description: Data corresponding to the utilization record. If the grain of data is monthly, it will be first day of month.
        format: date-time
        readOnly: true
        type: string
      usedHours:
        description: Total used hours by the reservation
        format: decimal
        readOnly: true
        type: number
  Resource:
    description: The Resource model definition.
    properties:
      id:
        description: Resource Id.
        readOnly: true
        type: string
      name:
        description: Resource name.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags.
        readOnly: true
        type: object
      type:
        description: Resource type.
        readOnly: true
        type: string
    x-ms-azure-resource: true
  UsageDetail:
    allOf:
      - $ref: "#/definitions/Resource"
    description: An usage detail resource.
    properties:
      properties:
        $ref: "#/definitions/UsageDetailProperties"
        title: Usage detail properties
        x-ms-client-flatten: true
    type: object
  UsageDetailProperties:
    description: The properties of the usage detail.
    properties:
      accountName:
        description: Account name.
        readOnly: true
        type: string
      additionalProperties:
        description: Additional details of this usage item. By default this is not populated, unless it's specified in $expand.
        readOnly: true
        type: string
      billableQuantity:
        description: The billable usage quantity.
        format: decimal
        readOnly: true
        type: number
      billingPeriodId:
        description: The id of the billing period resource that the usage belongs to.
        readOnly: true
        type: string
      consumedService:
        description: Consumed service name.
        readOnly: true
        type: string
      costCenter:
        description: The cost center of this department if it is a department and a costcenter exists
        readOnly: true
        type: string
      currency:
        description: The ISO currency in which the meter is charged, for example, USD.
        readOnly: true
        type: string
      departmentName:
        description: Department name.
        readOnly: true
        type: string
      instanceId:
        description: The uri of the resource instance that the usage is about.
        readOnly: true
        type: string
      instanceLocation:
        description: The location of the resource instance that the usage is about.
        readOnly: true
        type: string
      instanceName:
        description: The name of the resource instance that the usage is about.
        readOnly: true
        type: string
      invoiceId:
        description: The id of the invoice resource that the usage belongs to.
        readOnly: true
        type: string
      isEstimated:
        description: The estimated usage is subject to change.
        readOnly: true
        type: boolean
      meterDetails:
        $ref: "#/definitions/MeterDetails"
        description: The details about the meter. By default this is not populated, unless it's specified in $expand.
        readOnly: true
      meterId:
        description: The meter id.
        readOnly: true
        type: string
      pretaxCost:
        description: The amount of cost before tax.
        format: decimal
        readOnly: true
        type: number
      product:
        description: Product name.
        readOnly: true
        type: string
      subscriptionGuid:
        description: Subscription guid.
        readOnly: true
        type: string
      subscriptionName:
        description: Subscription name.
        readOnly: true
        type: string
      usageEnd:
        description: The end of the date time range covered by the usage detail.
        format: date-time
        readOnly: true
        type: string
      usageQuantity:
        description: The quantity of usage.
        format: decimal
        readOnly: true
        type: number
      usageStart:
        description: The start of the date time range covered by the usage detail.
        format: date-time
        readOnly: true
        type: string
  UsageDetailsListResult:
    description: Result of listing usage details. It contains a list of available usage details in reverse chronological order by billing period.
    properties:
      nextLink:
        description: The link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        description: The list of usage details.
        items:
          $ref: "#/definitions/UsageDetail"
        readOnly: true
        type: array
