swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2019-09-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-09-01/ipGroups.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-ipGroups
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/ipGroups":
    get:
      description: Gets all IpGroups in a subscription.
      operationId: IpGroups_List
      parameters:
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns a list of ipGroups resources.
          schema:
            $ref: "#/definitions/IpGroupListResult"
        default:
          description: Unexpected error.
          schema:
            description: Common error representation.
            properties:
              code:
                description: Error code.
                type: string
              details:
                description: Error details.
                items:
                  description: Common error details representation.
                  properties:
                    code:
                      description: Error code.
                      type: string
                    message:
                      description: Error message.
                      type: string
                    target:
                      description: Error target.
                      type: string
                type: array
              innerError:
                description: Inner error message.
                type: string
              message:
                description: Error message.
                type: string
              target:
                description: Error target.
                type: string
      tags:
        - IpGroups
      x-ms-examples:
        List_IpGroups:
          parameters:
            api-version: 2019-09-01
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subId/providers/Microsoft.Network/resourceGroup/myResourceGroup1/ipGroups
                    location: westcentralus
                    name: iptag1
                    properties:
                      firewalls:
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall
                      ipAddresses:
                        - 13.64.39.16/32
                        - 40.74.146.80/31
                        - 40.74.147.32/28
                      provisioningState: Succeeded
                    type: Microsoft.Network/ipGroups
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subId/providers/Microsoft.Network/resourceGroup/myResourceGroup2/ipGroups
                    location: centralus
                    name: iptag2
                    properties:
                      firewalls:
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall
                      ipAddresses:
                        - 14.64.39.16/32
                        - 41.74.146.80/31
                        - 42.74.147.32/28
                      provisioningState: Succeeded
                    type: Microsoft.Network/ipGroups
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ipGroups":
    get:
      description: Gets all IpGroups in a resource group.
      operationId: IpGroups_ListByResourceGroup
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns a list of ipGroups resources.
          schema:
            $ref: "#/definitions/IpGroupListResult"
        default:
          description: Unexpected error.
          schema:
            description: Common error representation.
            properties:
              code:
                description: Error code.
                type: string
              details:
                description: Error details.
                items:
                  description: Common error details representation.
                  properties:
                    code:
                      description: Error code.
                      type: string
                    message:
                      description: Error message.
                      type: string
                    target:
                      description: Error target.
                      type: string
                type: array
              innerError:
                description: Inner error message.
                type: string
              message:
                description: Error message.
                type: string
              target:
                description: Error target.
                type: string
      tags:
        - IpGroups
      x-ms-examples:
        ListByResourceGroup_IpGroups:
          parameters:
            api-version: 2019-09-01
            resourceGroupName: myResourceGroup
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subId/providers/Microsoft.Network/resourceGroup/myResourceGroup/ipGroups
                    location: westcentralus
                    name: ipGroups1
                    properties:
                      firewalls:
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall
                      ipAddresses:
                        - 13.64.39.16/32
                        - 40.74.146.80/31
                        - 40.74.147.32/28
                      provisioningState: Succeeded
                    type: Microsoft.Network/ipGroups
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subId/providers/Microsoft.Network/resourceGroup/myResourceGroup/ipGroups
                    location: centralus
                    name: ipGroups2
                    properties:
                      firewalls:
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall
                      ipAddresses:
                        - 14.64.39.16/32
                        - 41.74.146.80/31
                        - 42.74.147.32/28
                      provisioningState: Succeeded
                    type: Microsoft.Network/ipGroups
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/ipGroups/{ipGroupsName}":
    delete:
      description: Deletes the specified ipGroups.
      operationId: IpGroups_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the ipGroups.
          in: path
          name: ipGroupsName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Delete successful.
        "202":
          description: Accepted and the operation will complete asynchronously.
        "204":
          description: Delete successful.
        default:
          description: Unexpected error.
          schema:
            description: Common error representation.
            properties:
              code:
                description: Error code.
                type: string
              details:
                description: Error details.
                items:
                  description: Common error details representation.
                  properties:
                    code:
                      description: Error code.
                      type: string
                    message:
                      description: Error message.
                      type: string
                    target:
                      description: Error target.
                      type: string
                type: array
              innerError:
                description: Inner error message.
                type: string
              message:
                description: Error message.
                type: string
              target:
                description: Error target.
                type: string
      tags:
        - IpGroups
      x-ms-examples:
        Delete_IpGroups:
          parameters:
            api-version: 2019-09-01
            ipGroupsName: ipGroups1
            resourceGroupName: myResourceGroup
            subscriptionId: subId
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      description: Gets the specified ipGroups.
      operationId: IpGroups_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the ipGroups.
          in: path
          name: ipGroupsName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Expands resourceIds (of Firewalls/Network Security Groups etc.) back referenced by the IpGroups resource.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        "200":
          description: Request successful. The operation returns the resulting IpGroups resource.
          schema:
            $ref: "#/definitions/IpGroup"
        default:
          description: Unexpected error.
          schema:
            description: Common error representation.
            properties:
              code:
                description: Error code.
                type: string
              details:
                description: Error details.
                items:
                  description: Common error details representation.
                  properties:
                    code:
                      description: Error code.
                      type: string
                    message:
                      description: Error message.
                      type: string
                    target:
                      description: Error target.
                      type: string
                type: array
              innerError:
                description: Inner error message.
                type: string
              message:
                description: Error message.
                type: string
              target:
                description: Error target.
                type: string
      tags:
        - IpGroups
      x-ms-examples:
        Get_IpGroups:
          parameters:
            api-version: 2019-09-01
            ipGroupsName: ipGroups1
            resourceGroupName: myResourceGroup
            subscriptionId: subId
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subId/providers/Microsoft.Network/resourceGroup/myResourceGroup/ipGroups/ipGroups1
                location: westcentralus
                name: ipGroups1
                properties:
                  firewalls:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall
                  ipAddresses:
                    - 13.64.39.16/32
                    - 40.74.146.80/31
                    - 40.74.147.32/28
                  provisioningState: Succeeded
                type: Microsoft.Network/ipGroups
    patch:
      description: Updates tags of an IpGroups resource.
      operationId: IpGroups_UpdateGroups
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the ipGroups.
          in: path
          name: ipGroupsName
          required: true
          type: string
        - description: Parameters supplied to the update ipGroups operation.
          in: body
          name: parameters
          required: true
          schema:
            description: Tags object for patch operations.
            properties:
              tags:
                additionalProperties:
                  type: string
                description: Resource tags.
                type: object
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns the resulting ipGroups resource.
          schema:
            $ref: "#/definitions/IpGroup"
        default:
          description: Unexpected error.
          schema:
            description: Common error representation.
            properties:
              code:
                description: Error code.
                type: string
              details:
                description: Error details.
                items:
                  description: Common error details representation.
                  properties:
                    code:
                      description: Error code.
                      type: string
                    message:
                      description: Error message.
                      type: string
                    target:
                      description: Error target.
                      type: string
                type: array
              innerError:
                description: Inner error message.
                type: string
              message:
                description: Error message.
                type: string
              target:
                description: Error target.
                type: string
      tags:
        - IpGroups
      x-ms-examples:
        Update_IpGroups:
          parameters:
            api-version: 2019-09-01
            ipGroupsName: ipGroups1
            parameters:
              tags:
                key1: value1
                key2: value2
            resourceGroupName: myResourceGroup
            subscriptionId: subId
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subId/providers/Microsoft.Network/resourceGroup/myResourceGroup/ipGroups/ipGroups1
                location: westcentralus
                name: ipGroups1
                properties:
                  firewalls:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall
                  ipAddresses:
                    - 13.64.39.16/32
                    - 40.74.146.80/31
                    - 40.74.147.32/28
                  provisioningState: Succeeded
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Network/ipGroups
    put:
      description: Creates or updates an ipGroups in a specified resource group.
      operationId: IpGroups_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the ipGroups.
          in: path
          name: ipGroupsName
          required: true
          type: string
        - description: Parameters supplied to the create or update IpGroups operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/IpGroup"
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns the resulting ipGroups resource.
          schema:
            $ref: "#/definitions/IpGroup"
        "201":
          description: Create successful. The operation returns the resulting ipGroups resource.
          schema:
            $ref: "#/definitions/IpGroup"
        default:
          description: Unexpected error.
          schema:
            description: Common error representation.
            properties:
              code:
                description: Error code.
                type: string
              details:
                description: Error details.
                items:
                  description: Common error details representation.
                  properties:
                    code:
                      description: Error code.
                      type: string
                    message:
                      description: Error message.
                      type: string
                    target:
                      description: Error target.
                      type: string
                type: array
              innerError:
                description: Inner error message.
                type: string
              message:
                description: Error message.
                type: string
              target:
                description: Error target.
                type: string
      tags:
        - IpGroups
      x-ms-examples:
        CreateOrUpdate_IpGroups:
          parameters:
            api-version: 2019-09-01
            ipGroupsName: ipGroups1
            parameters:
              location: West US
              properties:
                ipAddresses:
                  - 13.64.39.16/32
                  - 40.74.146.80/31
                  - 40.74.147.32/28
              tags:
                key1: value1
            resourceGroupName: myResourceGroup
            subscriptionId: subId
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subId/providers/Microsoft.Network/resourceGroup/myResourceGroup/ipGroups/ipGroups1
                location: westcentralus
                name: ipGroups1
                properties:
                  firewalls:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall
                  ipAddresses:
                    - 13.64.39.16/32
                    - 40.74.146.80/31
                    - 40.74.147.32/28
                  provisioningState: Succeeded
                type: Microsoft.Network/ipGroups
            "201":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subId/providers/Microsoft.Network/resourceGroup/myResourceGroup/ipGroups/ipGroups1
                location: westcentralus
                name: ipGroups1
                properties:
                  firewalls:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/azureFirewalls/azurefirewall
                  ipAddresses:
                    - 13.64.39.16/32
                    - 40.74.146.80/31
                    - 40.74.147.32/28
                  provisioningState: Succeeded
                type: Microsoft.Network/ipGroups
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
definitions:
  IpGroup:
    allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: The IpGroups resource information.
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/IpGroupPropertiesFormat"
        description: Properties of the IpGroups.
        x-ms-client-flatten: true
  IpGroupListResult:
    description: Response for the ListIpGroups API service call.
    properties:
      nextLink:
        description: URL to get the next set of results.
        type: string
      value:
        description: The list of IpGroups information resources.
        items:
          $ref: "#/definitions/IpGroup"
        type: array
  IpGroupPropertiesFormat:
    description: The IpGroups property information.
    properties:
      firewalls:
        description: List of references to Azure resources that this IpGroups is associated with.
        items:
          description: Reference to another subresource.
          properties:
            id:
              description: Resource ID.
              type: string
          x-ms-azure-resource: true
        readOnly: true
        type: array
      ipAddresses:
        description: IpAddresses/IpAddressPrefixes in the IpGroups resource.
        items:
          type: string
        type: array
      provisioningState:
        description: The current provisioning state.
        enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProvisioningState
