swagger: "2.0"
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: Operation status operation endpoints and objects.
  title: FabricAdminClient
  version: 2016-05-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/stable/2016-05-01/Operations.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-Operations
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApplicationOperationResultParameter:
    description: Id of an infra role operation.
    in: path
    name: applicationOperationResult
    required: true
    type: string
    x-ms-parameter-location: method
  ComputeOperationResultParameter:
    description: Id of a compute fabric operation.
    in: path
    name: computeOperationResult
    required: true
    type: string
    x-ms-parameter-location: method
  NetworkOperationResultParameter:
    description: Id of a network fabric operation.
    in: path
    name: networkOperationResult
    required: true
    type: string
    x-ms-parameter-location: method
  ProviderParameter:
    description: Name of the provider.
    in: path
    name: provider
    required: true
    type: string
    x-ms-parameter-location: method
  StorageOperationResultParameter:
    description: Id of a storage fabric operation.
    in: path
    name: storageOperationResult
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/{provider}/fabricLocations/{location}/computeOperationResults/{computeOperationResult}":
    get:
      description: Get the status of a compute fabric operation.
      operationId: ComputeFabricOperations_Get
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ProviderParameter"
        - $ref: "#/parameters/ComputeOperationResultParameter"
        - default: 2016-05-01
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "202":
          description: ACCEPTED
          schema:
            $ref: "#/definitions/OperationStatus"
      tags:
        - ComputeFabricOperations
  "/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/{provider}/fabricLocations/{location}/networkOperationResults/{networkOperationResult}":
    get:
      description: Get the status of a network fabric operation.
      operationId: NetworkFabricOperations_Get
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ProviderParameter"
        - $ref: "#/parameters/NetworkOperationResultParameter"
        - default: 2016-05-01
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "202":
          description: ACCEPTED
          schema:
            $ref: "#/definitions/OperationStatus"
      tags:
        - NetworkFabricOperations
definitions:
  OperationStatus:
    description: Status of the compute operation.
    properties:
      properties:
        $ref: "#/definitions/ProvisioningStateModel"
        description: The state of the operation.
        x-ms-client-flatten: true
  ProvisioningStateModel:
    description: The state of the operation.
    properties:
      provisioningState:
        description: The state of the operation.
        type: string
