{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.interzoid.com"
    }
  ],
  "info": {
    "contact": {
      "email": "support@interzoid.com",
      "name": "API Support",
      "url": "https://www.interzoid.com",
      "x-twitter": "interzoid"
    },
    "description": "This API provides area code information for a given telephone area code.",
    "license": {
      "name": "Interzoid license",
      "url": "https://www.interzoid.com/license"
    },
    "termsOfService": "https://www.interzoid.com/terms",
    "title": "Interzoid Get Area Code API",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "developer_tools"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_interzoid_profile_image.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://oas.interzoid.com/api/lookupareacode.json",
        "version": "3.0"
      }
    ],
    "x-providerName": "interzoid.com",
    "x-serviceName": "lookupareacode"
  },
  "externalDocs": {
    "description": "API home page and documentation",
    "url": "https://www.interzoid.com/services/lookupareacode"
  },
  "paths": {
    "/getareacode": {
      "get": {
        "description": "Gets telephone area code information for a given area code.",
        "operationId": "getareacode",
        "parameters": [
          {
            "description": "Your Interzoid license API key. Register at www.interzoid.com/register",
            "in": "query",
            "name": "license",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Telephone area code to retrieve area code information",
            "in": "query",
            "name": "areacode",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Abbreviation": {
                      "type": "string"
                    },
                    "AreaCode": {
                      "type": "string"
                    },
                    "Code": {
                      "type": "string"
                    },
                    "Credits": {
                      "type": "string"
                    },
                    "Locale": {
                      "type": "string"
                    },
                    "PrimaryCity": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Telephone area code information"
          },
          "400": {
            "description": "bad request - insufficient parameters"
          },
          "402": {
            "description": "credits exhausted"
          },
          "403": {
            "description": "invalid license API key"
          },
          "404": {
            "description": "area code not found"
          },
          "405": {
            "description": "method not allowed"
          },
          "500": {
            "description": "internal server error"
          }
        },
        "summary": "Gets telephone area code information",
        "tags": [
          "Area Code Information"
        ]
      }
    }
  }
}