openapi: 3.0.0
servers:
  - url: https://southcentralus.api.cognitive.microsoft.com/customvision/v2.0/Training
info:
  contact:
    x-twitter: microsoft
  title: TrainingApi
  version: "2.0"
  x-apisguru-categories:
    - developer_tools
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_microsoft_profile_image.png
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/CustomVision/Training/stable/v2.0/Training.json
      version: "3.0"
  x-preferred: false
  x-providerName: microsoft.com
  x-serviceName: cognitiveservices-Training
  x-tags:
    - Microsoft
paths:
  /domains:
    get:
      operationId: GetDomains
      parameters:
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetDomains request:
                  $ref: "#/components/examples/Successful_GetDomains_request"
              schema:
                items:
                  $ref: "#/components/schemas/Domain"
                nullable: true
                type: array
            application/xml:
              examples:
                Successful GetDomains request:
                  $ref: "#/components/examples/Successful_GetDomains_request"
              schema:
                items:
                  $ref: "#/components/schemas/Domain"
                nullable: true
                type: array
            text/json:
              examples:
                Successful GetDomains request:
                  $ref: "#/components/examples/Successful_GetDomains_request"
              schema:
                items:
                  $ref: "#/components/schemas/Domain"
                nullable: true
                type: array
            text/xml:
              examples:
                Successful GetDomains request:
                  $ref: "#/components/examples/Successful_GetDomains_request"
              schema:
                items:
                  $ref: "#/components/schemas/Domain"
                nullable: true
                type: array
          description: OK
      summary: Get a list of the available domains
      tags:
        - DomainsApi
  "/domains/{domainId}":
    get:
      operationId: GetDomain
      parameters:
        - description: The id of the domain to get information about
          examples:
            Successful GetDomain request:
              value: b30a91ae-e3c1-4f73-a81e-c270bff27c39
          in: path
          name: domainId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetDomain request:
                  $ref: "#/components/examples/Successful_GetDomain_request"
              schema:
                $ref: "#/components/schemas/Domain"
            application/xml:
              examples:
                Successful GetDomain request:
                  $ref: "#/components/examples/Successful_GetDomain_request"
              schema:
                $ref: "#/components/schemas/Domain"
            text/json:
              examples:
                Successful GetDomain request:
                  $ref: "#/components/examples/Successful_GetDomain_request"
              schema:
                $ref: "#/components/schemas/Domain"
            text/xml:
              examples:
                Successful GetDomain request:
                  $ref: "#/components/examples/Successful_GetDomain_request"
              schema:
                $ref: "#/components/schemas/Domain"
          description: OK
      summary: Get information about a specific domain
      tags:
        - DomainsApi
  /projects:
    get:
      operationId: GetProjects
      parameters:
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetProjects request:
                  $ref: "#/components/examples/Successful_GetProjects_request"
              schema:
                items:
                  $ref: "#/components/schemas/Project"
                nullable: true
                type: array
            application/xml:
              examples:
                Successful GetProjects request:
                  $ref: "#/components/examples/Successful_GetProjects_request"
              schema:
                items:
                  $ref: "#/components/schemas/Project"
                nullable: true
                type: array
            text/json:
              examples:
                Successful GetProjects request:
                  $ref: "#/components/examples/Successful_GetProjects_request"
              schema:
                items:
                  $ref: "#/components/schemas/Project"
                nullable: true
                type: array
            text/xml:
              examples:
                Successful GetProjects request:
                  $ref: "#/components/examples/Successful_GetProjects_request"
              schema:
                items:
                  $ref: "#/components/schemas/Project"
                nullable: true
                type: array
          description: OK
      summary: Get your projects
      tags:
        - ProjectApi
    post:
      operationId: CreateProject
      parameters:
        - description: Name of the project
          examples:
            Successful CreateProject request:
              value: My New Project
          in: query
          name: name
          required: true
          schema:
            type: string
          x-nullable: true
        - description: The description of the project
          examples:
            Successful CreateProject request:
              value: A test project
          in: query
          name: description
          required: false
          schema:
            type: string
          x-nullable: true
        - description: The id of the domain to use for this project. Defaults to General
          examples:
            Successful CreateProject request:
              value: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
          in: query
          name: domainId
          required: false
          schema:
            format: uuid
            type: string
          x-nullable: true
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful CreateProject request:
                  $ref: "#/components/examples/Successful_CreateProject_request"
              schema:
                $ref: "#/components/schemas/Project"
            application/xml:
              examples:
                Successful CreateProject request:
                  $ref: "#/components/examples/Successful_CreateProject_request"
              schema:
                $ref: "#/components/schemas/Project"
            text/json:
              examples:
                Successful CreateProject request:
                  $ref: "#/components/examples/Successful_CreateProject_request"
              schema:
                $ref: "#/components/schemas/Project"
            text/xml:
              examples:
                Successful CreateProject request:
                  $ref: "#/components/examples/Successful_CreateProject_request"
              schema:
                $ref: "#/components/schemas/Project"
          description: OK
      summary: Create a project
      tags:
        - ProjectApi
  "/projects/{projectId}":
    delete:
      operationId: DeleteProject
      parameters:
        - description: The project id
          examples:
            Successful DeleteProject request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "204":
          description: No Content
      summary: Delete a specific project
      tags:
        - ProjectApi
    get:
      operationId: GetProject
      parameters:
        - description: The id of the project to get
          examples:
            Successful GetProject request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetProject request:
                  $ref: "#/components/examples/Successful_GetProject_request"
              schema:
                $ref: "#/components/schemas/Project"
            application/xml:
              examples:
                Successful GetProject request:
                  $ref: "#/components/examples/Successful_GetProject_request"
              schema:
                $ref: "#/components/schemas/Project"
            text/json:
              examples:
                Successful GetProject request:
                  $ref: "#/components/examples/Successful_GetProject_request"
              schema:
                $ref: "#/components/schemas/Project"
            text/xml:
              examples:
                Successful GetProject request:
                  $ref: "#/components/examples/Successful_GetProject_request"
              schema:
                $ref: "#/components/schemas/Project"
          description: OK
      summary: Get a specific project
      tags:
        - ProjectApi
    patch:
      operationId: UpdateProject
      parameters:
        - description: The id of the project to update
          examples:
            Successful UpdateProject request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Project"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/Project"
          application/xml:
            schema:
              $ref: "#/components/schemas/Project"
          text/json:
            schema:
              $ref: "#/components/schemas/Project"
          text/xml:
            schema:
              $ref: "#/components/schemas/Project"
        description: The updated project model
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful UpdateProject request:
                  $ref: "#/components/examples/Successful_UpdateProject_request"
              schema:
                $ref: "#/components/schemas/Project"
            application/xml:
              examples:
                Successful UpdateProject request:
                  $ref: "#/components/examples/Successful_UpdateProject_request"
              schema:
                $ref: "#/components/schemas/Project"
            text/json:
              examples:
                Successful UpdateProject request:
                  $ref: "#/components/examples/Successful_UpdateProject_request"
              schema:
                $ref: "#/components/schemas/Project"
            text/xml:
              examples:
                Successful UpdateProject request:
                  $ref: "#/components/examples/Successful_UpdateProject_request"
              schema:
                $ref: "#/components/schemas/Project"
          description: OK
      summary: Update a specific project
      tags:
        - ProjectApi
  "/projects/{projectId}/images":
    delete:
      operationId: DeleteImages
      parameters:
        - description: The project id
          examples:
            Successful DeleteImages request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: Ids of the images to be deleted. Limited to 256 images per batch
          examples:
            Successful DeleteImages request:
              value:
                - e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
                - cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
          explode: false
          in: query
          name: imageIds
          required: true
          schema:
            items:
              nullable: false
              type: string
            type: array
          style: form
          x-nullable: true
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "204":
          description: No Content
      summary: Delete images from the set of training images
      tags:
        - ImageApi
    post:
      description: "This API accepts body content as multipart/form-data and application/octet-stream. When using multipart\r

        multiple image files can be sent at once, with a maximum of 64 files"
      operationId: CreateImagesFromData
      parameters:
        - description: The project id
          examples:
            Successful CreateImagesFromData request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The tags ids with which to tag each image. Limited to 20
          examples:
            Successful CreateImagesFromData request:
              value:
                - b607964f-7bd6-4a3b-a869-6791fb6aab87
          explode: false
          in: query
          name: tagIds
          required: false
          schema:
            items:
              nullable: false
              type: string
            type: array
          style: form
          x-nullable: true
        - $ref: "#/components/parameters/ApiKey"
      requestBody:
        $ref: "#/components/requestBodies/CreateImagesFromData"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful CreateImagesFromData request:
                  $ref: "#/components/examples/Successful_CreateImagesFromData_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
            application/xml:
              examples:
                Successful CreateImagesFromData request:
                  $ref: "#/components/examples/Successful_CreateImagesFromData_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
            text/json:
              examples:
                Successful CreateImagesFromData request:
                  $ref: "#/components/examples/Successful_CreateImagesFromData_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
            text/xml:
              examples:
                Successful CreateImagesFromData request:
                  $ref: "#/components/examples/Successful_CreateImagesFromData_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
          description: OK
      summary: Add the provided images to the set of training images
      tags:
        - ImageApi
  "/projects/{projectId}/images/files":
    post:
      description: This API accepts a batch of files, and optionally tags, to create images. There is a limit of 64 images and 20 tags.
      operationId: CreateImagesFromFiles
      parameters:
        - description: The project id
          examples:
            Successful CreateImagesFromFiles request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImageFileCreateBatch"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ImageFileCreateBatch"
          application/xml:
            schema:
              $ref: "#/components/schemas/ImageFileCreateBatch"
          text/json:
            schema:
              $ref: "#/components/schemas/ImageFileCreateBatch"
          text/xml:
            schema:
              $ref: "#/components/schemas/ImageFileCreateBatch"
        description: The batch of image files to add. Limited to 64 images and 20 tags per batch
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful CreateImagesFromFiles request:
                  $ref: "#/components/examples/Successful_CreateImagesFromFiles_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
            application/xml:
              examples:
                Successful CreateImagesFromFiles request:
                  $ref: "#/components/examples/Successful_CreateImagesFromFiles_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
            text/json:
              examples:
                Successful CreateImagesFromFiles request:
                  $ref: "#/components/examples/Successful_CreateImagesFromFiles_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
            text/xml:
              examples:
                Successful CreateImagesFromFiles request:
                  $ref: "#/components/examples/Successful_CreateImagesFromFiles_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
          description: OK
      summary: Add the provided batch of images to the set of training images
      tags:
        - ImageApi
  "/projects/{projectId}/images/id":
    get:
      description: "This API will return a set of Images for the specified tags and optionally iteration. If no iteration is specified the\r

        current workspace is used."
      operationId: GetImagesByIds
      parameters:
        - description: The project id
          examples:
            Successful GetImagesByIds request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The list of image ids to retrieve. Limited to 256
          explode: false
          in: query
          name: imageIds
          required: false
          schema:
            items:
              nullable: false
              type: string
            type: array
          style: form
          x-nullable: true
        - description: The iteration id. Defaults to workspace
          examples:
            Successful GetImagesByIds request:
              value: cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
          in: query
          name: iterationId
          required: false
          schema:
            format: uuid
            type: string
          x-nullable: true
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetImagesByIds request:
                  $ref: "#/components/examples/Successful_GetImagesByIds_request"
              schema:
                items:
                  $ref: "#/components/schemas/Image"
                nullable: true
                type: array
            application/xml:
              examples:
                Successful GetImagesByIds request:
                  $ref: "#/components/examples/Successful_GetImagesByIds_request"
              schema:
                items:
                  $ref: "#/components/schemas/Image"
                nullable: true
                type: array
            text/json:
              examples:
                Successful GetImagesByIds request:
                  $ref: "#/components/examples/Successful_GetImagesByIds_request"
              schema:
                items:
                  $ref: "#/components/schemas/Image"
                nullable: true
                type: array
            text/xml:
              examples:
                Successful GetImagesByIds request:
                  $ref: "#/components/examples/Successful_GetImagesByIds_request"
              schema:
                items:
                  $ref: "#/components/schemas/Image"
                nullable: true
                type: array
          description: OK
      summary: Get images by id for a given project iteration
      tags:
        - ImageApi
  "/projects/{projectId}/images/predictions":
    post:
      description: This API creates a batch of images from predicted images specified. There is a limit of 64 images and 20 tags.
      operationId: CreateImagesFromPredictions
      parameters:
        - description: The project id
          examples:
            Successful CreateImagesFromPredictions request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImageIdCreateBatch"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ImageIdCreateBatch"
          application/xml:
            schema:
              $ref: "#/components/schemas/ImageIdCreateBatch"
          text/json:
            schema:
              $ref: "#/components/schemas/ImageIdCreateBatch"
          text/xml:
            schema:
              $ref: "#/components/schemas/ImageIdCreateBatch"
        description: Image and tag ids. Limited to 64 images and 20 tags per batch
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful CreateImagesFromPredictions request:
                  $ref: "#/components/examples/Successful_CreateImagesFromPredictions_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
            application/xml:
              examples:
                Successful CreateImagesFromPredictions request:
                  $ref: "#/components/examples/Successful_CreateImagesFromPredictions_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
            text/json:
              examples:
                Successful CreateImagesFromPredictions request:
                  $ref: "#/components/examples/Successful_CreateImagesFromPredictions_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
            text/xml:
              examples:
                Successful CreateImagesFromPredictions request:
                  $ref: "#/components/examples/Successful_CreateImagesFromPredictions_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
          description: OK
      summary: Add the specified predicted images to the set of training images
      tags:
        - ImageApi
  "/projects/{projectId}/images/regions":
    delete:
      operationId: DeleteImageRegions
      parameters:
        - description: The project id
          examples:
            Successful DeleteImageRegions request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: Regions to delete. Limited to 64
          examples:
            Successful DeleteImageRegions request:
              value:
                - ""
          explode: false
          in: query
          name: regionIds
          required: true
          schema:
            items:
              nullable: false
              type: string
            type: array
          style: form
          x-nullable: true
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "204":
          description: No Content
      summary: Delete a set of image regions
      tags:
        - ImageApi
    post:
      description: "This API accepts a batch of image regions, and optionally tags, to update existing images with region information.\r

        There is a limit of 64 entries in the batch."
      operationId: CreateImageRegions
      parameters:
        - description: The project id
          examples:
            Successful CreateImageRegions request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImageRegionCreateBatch"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ImageRegionCreateBatch"
          application/xml:
            schema:
              $ref: "#/components/schemas/ImageRegionCreateBatch"
          text/json:
            schema:
              $ref: "#/components/schemas/ImageRegionCreateBatch"
          text/xml:
            schema:
              $ref: "#/components/schemas/ImageRegionCreateBatch"
        description: Batch of image regions which include a tag and bounding box. Limited to 64
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful CreateImageRegions request:
                  $ref: "#/components/examples/Successful_CreateImageRegions_request"
              schema:
                $ref: "#/components/schemas/ImageRegionCreateSummary"
            application/xml:
              examples:
                Successful CreateImageRegions request:
                  $ref: "#/components/examples/Successful_CreateImageRegions_request"
              schema:
                $ref: "#/components/schemas/ImageRegionCreateSummary"
            text/json:
              examples:
                Successful CreateImageRegions request:
                  $ref: "#/components/examples/Successful_CreateImageRegions_request"
              schema:
                $ref: "#/components/schemas/ImageRegionCreateSummary"
            text/xml:
              examples:
                Successful CreateImageRegions request:
                  $ref: "#/components/examples/Successful_CreateImageRegions_request"
              schema:
                $ref: "#/components/schemas/ImageRegionCreateSummary"
          description: OK
      summary: Create a set of image regions
      tags:
        - ImageApi
  "/projects/{projectId}/images/tagged":
    get:
      description: "This API supports batching and range selection. By default it will only return first 50 images matching images.\r

        Use the {take} and {skip} parameters to control how many images to return in a given batch.\r

        The filtering is on an and/or relationship. For example, if the provided tag ids are for the \"Dog\" and\r

        \"Cat\" tags, then only images tagged with Dog and/or Cat will be returned"
      operationId: GetTaggedImages
      parameters:
        - description: The project id
          examples:
            Successful GetTaggedImages request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace
          examples:
            Successful GetTaggedImages request:
              value: cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
          in: query
          name: iterationId
          required: false
          schema:
            format: uuid
            type: string
          x-nullable: true
        - description: A list of tags ids to filter the images. Defaults to all tagged images when null. Limited to 20
          explode: false
          in: query
          name: tagIds
          required: false
          schema:
            items:
              nullable: false
              type: string
            type: array
          style: form
          x-nullable: true
        - description: The ordering. Defaults to newest
          in: query
          name: orderBy
          required: false
          schema:
            enum:
              - Newest
              - Oldest
            type: string
          x-nullable: false
        - description: Maximum number of images to return. Defaults to 50, limited to 256
          in: query
          name: take
          required: false
          schema:
            default: 50
            format: int32
            type: integer
        - description: Number of images to skip before beginning the image batch. Defaults to 0
          in: query
          name: skip
          required: false
          schema:
            default: 0
            format: int32
            type: integer
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetTaggedImages request:
                  $ref: "#/components/examples/Successful_GetTaggedImages_request"
              schema:
                items:
                  $ref: "#/components/schemas/Image"
                nullable: true
                type: array
            application/xml:
              examples:
                Successful GetTaggedImages request:
                  $ref: "#/components/examples/Successful_GetTaggedImages_request"
              schema:
                items:
                  $ref: "#/components/schemas/Image"
                nullable: true
                type: array
            text/json:
              examples:
                Successful GetTaggedImages request:
                  $ref: "#/components/examples/Successful_GetTaggedImages_request"
              schema:
                items:
                  $ref: "#/components/schemas/Image"
                nullable: true
                type: array
            text/xml:
              examples:
                Successful GetTaggedImages request:
                  $ref: "#/components/examples/Successful_GetTaggedImages_request"
              schema:
                items:
                  $ref: "#/components/schemas/Image"
                nullable: true
                type: array
          description: OK
      summary: Get tagged images for a given project iteration
      tags:
        - ImageApi
  "/projects/{projectId}/images/tagged/count":
    get:
      description: "The filtering is on an and/or relationship. For example, if the provided tag ids are for the \"Dog\" and\r

        \"Cat\" tags, then only images tagged with Dog and/or Cat will be returned"
      operationId: GetTaggedImageCount
      parameters:
        - description: The project id
          examples:
            Successful GetTaggedImageCount request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace
          examples:
            Successful GetTaggedImageCount request:
              value: cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
          in: query
          name: iterationId
          required: false
          schema:
            format: uuid
            type: string
          x-nullable: true
        - description: A list of tags ids to filter the images to count. Defaults to all tags when null.
          explode: false
          in: query
          name: tagIds
          required: false
          schema:
            items:
              nullable: false
              type: string
            type: array
          style: form
          x-nullable: true
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetTaggedImageCount request:
                  $ref: "#/components/examples/Successful_GetTaggedImageCount_request"
              schema:
                format: int32
                nullable: false
                type: integer
            application/xml:
              examples:
                Successful GetTaggedImageCount request:
                  $ref: "#/components/examples/Successful_GetTaggedImageCount_request"
              schema:
                format: int32
                nullable: false
                type: integer
            text/json:
              examples:
                Successful GetTaggedImageCount request:
                  $ref: "#/components/examples/Successful_GetTaggedImageCount_request"
              schema:
                format: int32
                nullable: false
                type: integer
            text/xml:
              examples:
                Successful GetTaggedImageCount request:
                  $ref: "#/components/examples/Successful_GetTaggedImageCount_request"
              schema:
                format: int32
                nullable: false
                type: integer
          description: OK
      summary: Gets the number of images tagged with the provided {tagIds}
      tags:
        - ImageApi
  "/projects/{projectId}/images/tags":
    delete:
      operationId: DeleteImageTags
      parameters:
        - description: The project id
          examples:
            Successful DeleteImageTags request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: Image ids. Limited to 64 images
          examples:
            Successful DeleteImageTags request:
              value:
                - e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
                - cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
          explode: false
          in: query
          name: imageIds
          required: true
          schema:
            items:
              nullable: false
              type: string
            type: array
          style: form
          x-nullable: true
        - description: Tags to be deleted from the specified images. Limited to 20 tags
          examples:
            Successful DeleteImageTags request:
              value:
                - e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
                - cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
          explode: false
          in: query
          name: tagIds
          required: true
          schema:
            items:
              nullable: false
              type: string
            type: array
          style: form
          x-nullable: true
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "204":
          description: No Content
      summary: Remove a set of tags from a set of images
      tags:
        - ImageApi
    post:
      operationId: CreateImageTags
      parameters:
        - description: The project id
          examples:
            Successful CreateImageTags request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImageTagCreateBatch"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ImageTagCreateBatch"
          application/xml:
            schema:
              $ref: "#/components/schemas/ImageTagCreateBatch"
          text/json:
            schema:
              $ref: "#/components/schemas/ImageTagCreateBatch"
          text/xml:
            schema:
              $ref: "#/components/schemas/ImageTagCreateBatch"
        description: Batch of image tags. Limited to 128 tags per batch
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful CreateImageTags request:
                  $ref: "#/components/examples/Successful_CreateImageTags_request"
              schema:
                $ref: "#/components/schemas/ImageTagCreateSummary"
            application/xml:
              examples:
                Successful CreateImageTags request:
                  $ref: "#/components/examples/Successful_CreateImageTags_request"
              schema:
                $ref: "#/components/schemas/ImageTagCreateSummary"
            text/json:
              examples:
                Successful CreateImageTags request:
                  $ref: "#/components/examples/Successful_CreateImageTags_request"
              schema:
                $ref: "#/components/schemas/ImageTagCreateSummary"
            text/xml:
              examples:
                Successful CreateImageTags request:
                  $ref: "#/components/examples/Successful_CreateImageTags_request"
              schema:
                $ref: "#/components/schemas/ImageTagCreateSummary"
          description: OK
      summary: Associate a set of images with a set of tags
      tags:
        - ImageApi
  "/projects/{projectId}/images/untagged":
    get:
      description: "This API supports batching and range selection. By default it will only return first 50 images matching images.\r

        Use the {take} and {skip} parameters to control how many images to return in a given batch."
      operationId: GetUntaggedImages
      parameters:
        - description: The project id
          examples:
            Successful GetUntaggedImages request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace
          examples:
            Successful GetUntaggedImages request:
              value: cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
          in: query
          name: iterationId
          required: false
          schema:
            format: uuid
            type: string
          x-nullable: true
        - description: The ordering. Defaults to newest
          in: query
          name: orderBy
          required: false
          schema:
            enum:
              - Newest
              - Oldest
            type: string
          x-nullable: false
        - description: Maximum number of images to return. Defaults to 50, limited to 256
          in: query
          name: take
          required: false
          schema:
            default: 50
            format: int32
            type: integer
        - description: Number of images to skip before beginning the image batch. Defaults to 0
          in: query
          name: skip
          required: false
          schema:
            default: 0
            format: int32
            type: integer
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetUntaggedImages request:
                  $ref: "#/components/examples/Successful_GetUntaggedImages_request"
              schema:
                items:
                  $ref: "#/components/schemas/Image"
                nullable: true
                type: array
            application/xml:
              examples:
                Successful GetUntaggedImages request:
                  $ref: "#/components/examples/Successful_GetUntaggedImages_request"
              schema:
                items:
                  $ref: "#/components/schemas/Image"
                nullable: true
                type: array
            text/json:
              examples:
                Successful GetUntaggedImages request:
                  $ref: "#/components/examples/Successful_GetUntaggedImages_request"
              schema:
                items:
                  $ref: "#/components/schemas/Image"
                nullable: true
                type: array
            text/xml:
              examples:
                Successful GetUntaggedImages request:
                  $ref: "#/components/examples/Successful_GetUntaggedImages_request"
              schema:
                items:
                  $ref: "#/components/schemas/Image"
                nullable: true
                type: array
          description: OK
      summary: Get untagged images for a given project iteration
      tags:
        - ImageApi
  "/projects/{projectId}/images/untagged/count":
    get:
      description: "This API returns the images which have no tags for a given project and optionally an iteration. If no iteration is specified the\r

        current workspace is used."
      operationId: GetUntaggedImageCount
      parameters:
        - description: The project id
          examples:
            Successful GetUntaggedImageCount request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace
          examples:
            Successful GetUntaggedImageCount request:
              value: cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
          in: query
          name: iterationId
          required: false
          schema:
            format: uuid
            type: string
          x-nullable: true
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetUntaggedImageCount request:
                  $ref: "#/components/examples/Successful_GetUntaggedImageCount_request"
              schema:
                format: int32
                nullable: false
                type: integer
            application/xml:
              examples:
                Successful GetUntaggedImageCount request:
                  $ref: "#/components/examples/Successful_GetUntaggedImageCount_request"
              schema:
                format: int32
                nullable: false
                type: integer
            text/json:
              examples:
                Successful GetUntaggedImageCount request:
                  $ref: "#/components/examples/Successful_GetUntaggedImageCount_request"
              schema:
                format: int32
                nullable: false
                type: integer
            text/xml:
              examples:
                Successful GetUntaggedImageCount request:
                  $ref: "#/components/examples/Successful_GetUntaggedImageCount_request"
              schema:
                format: int32
                nullable: false
                type: integer
          description: OK
      summary: Gets the number of untagged images
      tags:
        - ImageApi
  "/projects/{projectId}/images/urls":
    post:
      description: This API accepts a batch of urls, and optionally tags, to create images. There is a limit of 64 images and 20 tags.
      operationId: CreateImagesFromUrls
      parameters:
        - description: The project id
          examples:
            Successful CreateImagesFromUrls request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImageUrlCreateBatch"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ImageUrlCreateBatch"
          application/xml:
            schema:
              $ref: "#/components/schemas/ImageUrlCreateBatch"
          text/json:
            schema:
              $ref: "#/components/schemas/ImageUrlCreateBatch"
          text/xml:
            schema:
              $ref: "#/components/schemas/ImageUrlCreateBatch"
        description: Image urls and tag ids. Limited to 64 images and 20 tags per batch
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful CreateImagesFromUrls request:
                  $ref: "#/components/examples/Successful_CreateImagesFromUrls_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
            application/xml:
              examples:
                Successful CreateImagesFromUrls request:
                  $ref: "#/components/examples/Successful_CreateImagesFromUrls_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
            text/json:
              examples:
                Successful CreateImagesFromUrls request:
                  $ref: "#/components/examples/Successful_CreateImagesFromUrls_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
            text/xml:
              examples:
                Successful CreateImagesFromUrls request:
                  $ref: "#/components/examples/Successful_CreateImagesFromUrls_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
          description: OK
      summary: Add the provided images urls to the set of training images
      tags:
        - ImageApi
  "/projects/{projectId}/iterations":
    get:
      operationId: GetIterations
      parameters:
        - description: The project id
          examples:
            Successful GetIterations request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetIterations request:
                  $ref: "#/components/examples/Successful_GetIterations_request"
              schema:
                items:
                  $ref: "#/components/schemas/Iteration"
                nullable: true
                type: array
            application/xml:
              examples:
                Successful GetIterations request:
                  $ref: "#/components/examples/Successful_GetIterations_request"
              schema:
                items:
                  $ref: "#/components/schemas/Iteration"
                nullable: true
                type: array
            text/json:
              examples:
                Successful GetIterations request:
                  $ref: "#/components/examples/Successful_GetIterations_request"
              schema:
                items:
                  $ref: "#/components/schemas/Iteration"
                nullable: true
                type: array
            text/xml:
              examples:
                Successful GetIterations request:
                  $ref: "#/components/examples/Successful_GetIterations_request"
              schema:
                items:
                  $ref: "#/components/schemas/Iteration"
                nullable: true
                type: array
          description: OK
      summary: Get iterations for the project
      tags:
        - ProjectApi
  "/projects/{projectId}/iterations/{iterationId}":
    delete:
      operationId: DeleteIteration
      parameters:
        - description: The project id
          examples:
            Successful DeleteIteration request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The iteration id
          examples:
            Successful DeleteIteration request:
              value: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
          in: path
          name: iterationId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "204":
          description: No Content
      summary: Delete a specific iteration of a project
      tags:
        - ProjectApi
    get:
      operationId: GetIteration
      parameters:
        - description: The id of the project the iteration belongs to
          examples:
            Successful GetIteration request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The id of the iteration to get
          examples:
            Successful GetIteration request:
              value: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
          in: path
          name: iterationId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetIteration request:
                  $ref: "#/components/examples/Successful_GetIteration_request"
              schema:
                $ref: "#/components/schemas/Iteration"
            application/xml:
              examples:
                Successful GetIteration request:
                  $ref: "#/components/examples/Successful_GetIteration_request"
              schema:
                $ref: "#/components/schemas/Iteration"
            text/json:
              examples:
                Successful GetIteration request:
                  $ref: "#/components/examples/Successful_GetIteration_request"
              schema:
                $ref: "#/components/schemas/Iteration"
            text/xml:
              examples:
                Successful GetIteration request:
                  $ref: "#/components/examples/Successful_GetIteration_request"
              schema:
                $ref: "#/components/schemas/Iteration"
          description: OK
      summary: Get a specific iteration
      tags:
        - ProjectApi
    patch:
      operationId: UpdateIteration
      parameters:
        - description: Project id
          examples:
            Successful UpdateIteration request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: Iteration id
          examples:
            Successful UpdateIteration request:
              value: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
          in: path
          name: iterationId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Iteration"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/Iteration"
          application/xml:
            schema:
              $ref: "#/components/schemas/Iteration"
          text/json:
            schema:
              $ref: "#/components/schemas/Iteration"
          text/xml:
            schema:
              $ref: "#/components/schemas/Iteration"
        description: The updated iteration model
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful UpdateIteration request:
                  $ref: "#/components/examples/Successful_UpdateIteration_request"
              schema:
                $ref: "#/components/schemas/Iteration"
            application/xml:
              examples:
                Successful UpdateIteration request:
                  $ref: "#/components/examples/Successful_UpdateIteration_request"
              schema:
                $ref: "#/components/schemas/Iteration"
            text/json:
              examples:
                Successful UpdateIteration request:
                  $ref: "#/components/examples/Successful_UpdateIteration_request"
              schema:
                $ref: "#/components/schemas/Iteration"
            text/xml:
              examples:
                Successful UpdateIteration request:
                  $ref: "#/components/examples/Successful_UpdateIteration_request"
              schema:
                $ref: "#/components/schemas/Iteration"
          description: OK
      summary: Update a specific iteration
      tags:
        - ProjectApi
  "/projects/{projectId}/iterations/{iterationId}/export":
    get:
      operationId: GetExports
      parameters:
        - description: The project id
          examples:
            Successful GetExports request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The iteration id
          examples:
            Successful GetExports request:
              value: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
          in: path
          name: iterationId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetExports request:
                  $ref: "#/components/examples/Successful_GetExports_request"
              schema:
                items:
                  $ref: "#/components/schemas/Export"
                nullable: true
                type: array
            application/xml:
              examples:
                Successful GetExports request:
                  $ref: "#/components/examples/Successful_GetExports_request"
              schema:
                items:
                  $ref: "#/components/schemas/Export"
                nullable: true
                type: array
            text/json:
              examples:
                Successful GetExports request:
                  $ref: "#/components/examples/Successful_GetExports_request"
              schema:
                items:
                  $ref: "#/components/schemas/Export"
                nullable: true
                type: array
            text/xml:
              examples:
                Successful GetExports request:
                  $ref: "#/components/examples/Successful_GetExports_request"
              schema:
                items:
                  $ref: "#/components/schemas/Export"
                nullable: true
                type: array
          description: OK
      summary: Get the list of exports for a specific iteration
      tags:
        - ProjectApi
    post:
      operationId: ExportIteration
      parameters:
        - description: The project id
          examples:
            Successful ExportIteration request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The iteration id
          examples:
            Successful ExportIteration request:
              value: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
          in: path
          name: iterationId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The target platform (coreml or tensorflow)
          examples:
            Successful ExportIteration request:
              value: tensorflow
          in: query
          name: platform
          required: true
          schema:
            type: string
          x-nullable: true
        - description: The flavor of the target platform (Windows, Linux, ARM, or GPU)
          in: query
          name: flavor
          required: false
          schema:
            type: string
          x-nullable: true
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful ExportIteration request:
                  $ref: "#/components/examples/Successful_ExportIteration_request"
              schema:
                $ref: "#/components/schemas/Export"
            application/xml:
              examples:
                Successful ExportIteration request:
                  $ref: "#/components/examples/Successful_ExportIteration_request"
              schema:
                $ref: "#/components/schemas/Export"
            text/json:
              examples:
                Successful ExportIteration request:
                  $ref: "#/components/examples/Successful_ExportIteration_request"
              schema:
                $ref: "#/components/schemas/Export"
            text/xml:
              examples:
                Successful ExportIteration request:
                  $ref: "#/components/examples/Successful_ExportIteration_request"
              schema:
                $ref: "#/components/schemas/Export"
          description: OK
      summary: Export a trained iteration
      tags:
        - ProjectApi
  "/projects/{projectId}/iterations/{iterationId}/performance":
    get:
      operationId: GetIterationPerformance
      parameters:
        - description: The id of the project the iteration belongs to
          examples:
            Successful GetIterationPerformance request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The id of the iteration to get
          examples:
            Successful GetIterationPerformance request:
              value: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
          in: path
          name: iterationId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The threshold used to determine true predictions
          examples:
            Successful GetIterationPerformance request:
              value: 0.9
          in: query
          name: threshold
          required: false
          schema:
            format: float
            type: number
        - description: If applicable, the bounding box overlap threshold used to determine true predictions
          in: query
          name: overlapThreshold
          required: false
          schema:
            format: float
            type: number
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetIterationPerformance request:
                  $ref: "#/components/examples/Successful_GetIterationPerformance_request"
              schema:
                $ref: "#/components/schemas/IterationPerformance"
            application/xml:
              examples:
                Successful GetIterationPerformance request:
                  $ref: "#/components/examples/Successful_GetIterationPerformance_request"
              schema:
                $ref: "#/components/schemas/IterationPerformance"
            text/json:
              examples:
                Successful GetIterationPerformance request:
                  $ref: "#/components/examples/Successful_GetIterationPerformance_request"
              schema:
                $ref: "#/components/schemas/IterationPerformance"
            text/xml:
              examples:
                Successful GetIterationPerformance request:
                  $ref: "#/components/examples/Successful_GetIterationPerformance_request"
              schema:
                $ref: "#/components/schemas/IterationPerformance"
          description: OK
      summary: Get detailed performance information about an iteration
      tags:
        - ProjectApi
  "/projects/{projectId}/iterations/{iterationId}/performance/images":
    get:
      description: "This API supports batching and range selection. By default it will only return first 50 images matching images.\r

        Use the {take} and {skip} parameters to control how many images to return in a given batch.\r

        The filtering is on an and/or relationship. For example, if the provided tag ids are for the \"Dog\" and\r

        \"Cat\" tags, then only images tagged with Dog and/or Cat will be returned"
      operationId: GetImagePerformances
      parameters:
        - description: The project id
          examples:
            Successful GetImagePerformances request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace
          examples:
            Successful GetImagePerformances request:
              value: b7b9d99c-a2c6-4658-9900-a98d2ff5bc66
          in: path
          name: iterationId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: A list of tags ids to filter the images. Defaults to all tagged images when null. Limited to 20
          examples:
            Successful GetImagePerformances request:
              value:
                - ""
          explode: false
          in: query
          name: tagIds
          required: false
          schema:
            items:
              nullable: false
              type: string
            type: array
          style: form
          x-nullable: true
        - description: The ordering. Defaults to newest
          examples:
            Successful GetImagePerformances request:
              value: Newest
          in: query
          name: orderBy
          required: false
          schema:
            enum:
              - Newest
              - Oldest
            type: string
          x-nullable: false
        - description: Maximum number of images to return. Defaults to 50, limited to 256
          in: query
          name: take
          required: false
          schema:
            default: 50
            format: int32
            type: integer
        - description: Number of images to skip before beginning the image batch. Defaults to 0
          in: query
          name: skip
          required: false
          schema:
            default: 0
            format: int32
            type: integer
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetImagePerformances request:
                  $ref: "#/components/examples/Successful_GetImagePerformances_request"
              schema:
                items:
                  $ref: "#/components/schemas/ImagePerformance"
                nullable: true
                type: array
            application/xml:
              examples:
                Successful GetImagePerformances request:
                  $ref: "#/components/examples/Successful_GetImagePerformances_request"
              schema:
                items:
                  $ref: "#/components/schemas/ImagePerformance"
                nullable: true
                type: array
            text/json:
              examples:
                Successful GetImagePerformances request:
                  $ref: "#/components/examples/Successful_GetImagePerformances_request"
              schema:
                items:
                  $ref: "#/components/schemas/ImagePerformance"
                nullable: true
                type: array
            text/xml:
              examples:
                Successful GetImagePerformances request:
                  $ref: "#/components/examples/Successful_GetImagePerformances_request"
              schema:
                items:
                  $ref: "#/components/schemas/ImagePerformance"
                nullable: true
                type: array
          description: OK
      summary: Get image with its prediction for a given project iteration
      tags:
        - ProjectApi
  "/projects/{projectId}/iterations/{iterationId}/performance/images/count":
    get:
      description: "The filtering is on an and/or relationship. For example, if the provided tag ids are for the \"Dog\" and\r

        \"Cat\" tags, then only images tagged with Dog and/or Cat will be returned"
      operationId: GetImagePerformanceCount
      parameters:
        - description: The project id
          examples:
            Successful GetImagePerformanceCount request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace
          examples:
            Successful GetImagePerformanceCount request:
              value: cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
          in: path
          name: iterationId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: A list of tags ids to filter the images to count. Defaults to all tags when null.
          examples:
            Successful GetImagePerformanceCount request:
              value:
                - b5f7e6a2-a481-49a6-afec-a7cef1af3544
          explode: false
          in: query
          name: tagIds
          required: false
          schema:
            items:
              nullable: false
              type: string
            type: array
          style: form
          x-nullable: true
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetImagePerformanceCount request:
                  $ref: "#/components/examples/Successful_GetImagePerformanceCount_request"
              schema:
                format: int32
                nullable: false
                type: integer
            application/xml:
              examples:
                Successful GetImagePerformanceCount request:
                  $ref: "#/components/examples/Successful_GetImagePerformanceCount_request"
              schema:
                format: int32
                nullable: false
                type: integer
            text/json:
              examples:
                Successful GetImagePerformanceCount request:
                  $ref: "#/components/examples/Successful_GetImagePerformanceCount_request"
              schema:
                format: int32
                nullable: false
                type: integer
            text/xml:
              examples:
                Successful GetImagePerformanceCount request:
                  $ref: "#/components/examples/Successful_GetImagePerformanceCount_request"
              schema:
                format: int32
                nullable: false
                type: integer
          description: OK
      summary: "Gets the number of images tagged with the provided {tagIds} that have prediction results from\r

        training for the provided iteration {iterationId}"
      tags:
        - ProjectApi
  "/projects/{projectId}/predictions":
    delete:
      operationId: DeletePrediction
      parameters:
        - description: The project id
          examples:
            Successful DeletePrediction request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The prediction ids. Limited to 64
          examples:
            Successful DeletePrediction request:
              value:
                - e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
                - cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
          explode: false
          in: query
          name: ids
          required: true
          schema:
            items:
              nullable: false
              type: string
            type: array
          style: form
          x-nullable: true
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "204":
          description: No Content
      summary: Delete a set of predicted images and their associated prediction results
      tags:
        - PredictionsApi
  "/projects/{projectId}/predictions/query":
    post:
      operationId: QueryPredictions
      parameters:
        - description: The project id
          examples:
            Successful QueryPredictions request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PredictionQueryToken"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/PredictionQueryToken"
          application/xml:
            schema:
              $ref: "#/components/schemas/PredictionQueryToken"
          text/json:
            schema:
              $ref: "#/components/schemas/PredictionQueryToken"
          text/xml:
            schema:
              $ref: "#/components/schemas/PredictionQueryToken"
        description: Parameters used to query the predictions. Limited to combining 2 tags
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful QueryPredictions request:
                  $ref: "#/components/examples/Successful_QueryPredictions_request"
              schema:
                $ref: "#/components/schemas/PredictionQueryResult"
            application/xml:
              examples:
                Successful QueryPredictions request:
                  $ref: "#/components/examples/Successful_QueryPredictions_request"
              schema:
                $ref: "#/components/schemas/PredictionQueryResult"
            text/json:
              examples:
                Successful QueryPredictions request:
                  $ref: "#/components/examples/Successful_QueryPredictions_request"
              schema:
                $ref: "#/components/schemas/PredictionQueryResult"
            text/xml:
              examples:
                Successful QueryPredictions request:
                  $ref: "#/components/examples/Successful_QueryPredictions_request"
              schema:
                $ref: "#/components/schemas/PredictionQueryResult"
          description: OK
      summary: Get images that were sent to your prediction endpoint
      tags:
        - PredictionsApi
  "/projects/{projectId}/quicktest/image":
    post:
      operationId: QuickTestImage
      parameters:
        - description: The project id
          examples:
            Successful QuickTestImage request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: "Optional. Specifies the id of a particular iteration to evaluate against.\r

            \            The default iteration for the project will be used when not specified."
          examples:
            Successful QuickTestImage request:
              value: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
          in: query
          name: iterationId
          required: false
          schema:
            format: uuid
            type: string
          x-nullable: true
        - $ref: "#/components/parameters/ApiKey"
      requestBody:
        $ref: "#/components/requestBodies/CreateImagesFromData"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful QuickTestImage request:
                  $ref: "#/components/examples/Successful_QuickTestImage_request"
              schema:
                $ref: "#/components/schemas/ImagePrediction"
            application/xml:
              examples:
                Successful QuickTestImage request:
                  $ref: "#/components/examples/Successful_QuickTestImage_request"
              schema:
                $ref: "#/components/schemas/ImagePrediction"
            text/json:
              examples:
                Successful QuickTestImage request:
                  $ref: "#/components/examples/Successful_QuickTestImage_request"
              schema:
                $ref: "#/components/schemas/ImagePrediction"
            text/xml:
              examples:
                Successful QuickTestImage request:
                  $ref: "#/components/examples/Successful_QuickTestImage_request"
              schema:
                $ref: "#/components/schemas/ImagePrediction"
          description: OK
      summary: Quick test an image
      tags:
        - PredictionsApi
  "/projects/{projectId}/quicktest/url":
    post:
      operationId: QuickTestImageUrl
      parameters:
        - description: The project to evaluate against
          examples:
            Successful QuickTestImageUrl request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: "Optional. Specifies the id of a particular iteration to evaluate against.\r

            \            The default iteration for the project will be used when not specified."
          examples:
            Successful QuickTestImageUrl request:
              value: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
          in: query
          name: iterationId
          required: false
          schema:
            format: uuid
            type: string
          x-nullable: true
        - $ref: "#/components/parameters/ApiKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImageUrl"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ImageUrl"
          application/xml:
            schema:
              $ref: "#/components/schemas/ImageUrl"
          text/json:
            schema:
              $ref: "#/components/schemas/ImageUrl"
          text/xml:
            schema:
              $ref: "#/components/schemas/ImageUrl"
        description: An {Iris.Web.Api.Models.ImageUrl} that contains the url of the image to be evaluated
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful QuickTestImageUrl request:
                  $ref: "#/components/examples/Successful_QuickTestImageUrl_request"
              schema:
                $ref: "#/components/schemas/ImagePrediction"
            application/xml:
              examples:
                Successful QuickTestImageUrl request:
                  $ref: "#/components/examples/Successful_QuickTestImageUrl_request"
              schema:
                $ref: "#/components/schemas/ImagePrediction"
            text/json:
              examples:
                Successful QuickTestImageUrl request:
                  $ref: "#/components/examples/Successful_QuickTestImageUrl_request"
              schema:
                $ref: "#/components/schemas/ImagePrediction"
            text/xml:
              examples:
                Successful QuickTestImageUrl request:
                  $ref: "#/components/examples/Successful_QuickTestImageUrl_request"
              schema:
                $ref: "#/components/schemas/ImagePrediction"
          description: OK
      summary: Quick test an image url
      tags:
        - PredictionsApi
  "/projects/{projectId}/tags":
    get:
      operationId: GetTags
      parameters:
        - description: The project id
          examples:
            Successful GetTags request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace
          in: query
          name: iterationId
          required: false
          schema:
            format: uuid
            type: string
          x-nullable: true
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetTags request:
                  $ref: "#/components/examples/Successful_GetTags_request"
              schema:
                items:
                  $ref: "#/components/schemas/Tag"
                nullable: true
                type: array
            application/xml:
              examples:
                Successful GetTags request:
                  $ref: "#/components/examples/Successful_GetTags_request"
              schema:
                items:
                  $ref: "#/components/schemas/Tag"
                nullable: true
                type: array
            text/json:
              examples:
                Successful GetTags request:
                  $ref: "#/components/examples/Successful_GetTags_request"
              schema:
                items:
                  $ref: "#/components/schemas/Tag"
                nullable: true
                type: array
            text/xml:
              examples:
                Successful GetTags request:
                  $ref: "#/components/examples/Successful_GetTags_request"
              schema:
                items:
                  $ref: "#/components/schemas/Tag"
                nullable: true
                type: array
          description: OK
      summary: Get the tags for a given project and iteration
      tags:
        - TagsApi
    post:
      operationId: CreateTag
      parameters:
        - description: The project id
          examples:
            Successful CreateTag request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The tag name
          examples:
            Successful CreateTag request:
              value: Tag1
          in: query
          name: name
          required: true
          schema:
            type: string
          x-nullable: true
        - description: Optional description for the tag
          examples:
            Successful CreateTag request:
              value: Description of Tag1
          in: query
          name: description
          required: false
          schema:
            type: string
          x-nullable: true
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful CreateTag request:
                  $ref: "#/components/examples/Successful_CreateTag_request"
              schema:
                $ref: "#/components/schemas/Tag"
            application/xml:
              examples:
                Successful CreateTag request:
                  $ref: "#/components/examples/Successful_CreateTag_request"
              schema:
                $ref: "#/components/schemas/Tag"
            text/json:
              examples:
                Successful CreateTag request:
                  $ref: "#/components/examples/Successful_CreateTag_request"
              schema:
                $ref: "#/components/schemas/Tag"
            text/xml:
              examples:
                Successful CreateTag request:
                  $ref: "#/components/examples/Successful_CreateTag_request"
              schema:
                $ref: "#/components/schemas/Tag"
          description: OK
      summary: Create a tag for the project
      tags:
        - TagsApi
  "/projects/{projectId}/tags/{tagId}":
    delete:
      operationId: DeleteTag
      parameters:
        - description: The project id
          examples:
            Successful DeleteTag request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: Id of the tag to be deleted
          examples:
            Successful DeleteTag request:
              value: 9e27bc1b-7ae7-4e3b-a4e5-36153479dc01
          in: path
          name: tagId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "204":
          description: No Content
      summary: Delete a tag from the project
      tags:
        - TagsApi
    get:
      operationId: GetTag
      parameters:
        - description: The project this tag belongs to
          examples:
            Successful GetTag request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The tag id
          examples:
            Successful GetTag request:
              value: 9e27bc1b-7ae7-4e3b-a4e5-36153479dc01
          in: path
          name: tagId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The iteration to retrieve this tag from. Optional, defaults to current training set
          in: query
          name: iterationId
          required: false
          schema:
            format: uuid
            type: string
          x-nullable: true
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetTag request:
                  $ref: "#/components/examples/Successful_GetTag_request"
              schema:
                $ref: "#/components/schemas/Tag"
            application/xml:
              examples:
                Successful GetTag request:
                  $ref: "#/components/examples/Successful_GetTag_request"
              schema:
                $ref: "#/components/schemas/Tag"
            text/json:
              examples:
                Successful GetTag request:
                  $ref: "#/components/examples/Successful_GetTag_request"
              schema:
                $ref: "#/components/schemas/Tag"
            text/xml:
              examples:
                Successful GetTag request:
                  $ref: "#/components/examples/Successful_GetTag_request"
              schema:
                $ref: "#/components/schemas/Tag"
          description: OK
      summary: Get information about a specific tag
      tags:
        - TagsApi
    patch:
      operationId: UpdateTag
      parameters:
        - description: The project id
          examples:
            Successful UpdateTag request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The id of the target tag
          examples:
            Successful UpdateTag request:
              value: 9e27bc1b-7ae7-4e3b-a4e5-36153479dc01
          in: path
          name: tagId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Tag"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/Tag"
          application/xml:
            schema:
              $ref: "#/components/schemas/Tag"
          text/json:
            schema:
              $ref: "#/components/schemas/Tag"
          text/xml:
            schema:
              $ref: "#/components/schemas/Tag"
        description: The updated tag model
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful UpdateTag request:
                  $ref: "#/components/examples/Successful_UpdateTag_request"
              schema:
                $ref: "#/components/schemas/Tag"
            application/xml:
              examples:
                Successful UpdateTag request:
                  $ref: "#/components/examples/Successful_UpdateTag_request"
              schema:
                $ref: "#/components/schemas/Tag"
            text/json:
              examples:
                Successful UpdateTag request:
                  $ref: "#/components/examples/Successful_UpdateTag_request"
              schema:
                $ref: "#/components/schemas/Tag"
            text/xml:
              examples:
                Successful UpdateTag request:
                  $ref: "#/components/examples/Successful_UpdateTag_request"
              schema:
                $ref: "#/components/schemas/Tag"
          description: OK
      summary: Update a tag
      tags:
        - TagsApi
  "/projects/{projectId}/train":
    post:
      operationId: TrainProject
      parameters:
        - description: The project id
          examples:
            Successful TrainProject request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful TrainProject request:
                  $ref: "#/components/examples/Successful_TrainProject_request"
              schema:
                $ref: "#/components/schemas/Iteration"
            application/xml:
              examples:
                Successful TrainProject request:
                  $ref: "#/components/examples/Successful_TrainProject_request"
              schema:
                $ref: "#/components/schemas/Iteration"
            text/json:
              examples:
                Successful TrainProject request:
                  $ref: "#/components/examples/Successful_TrainProject_request"
              schema:
                $ref: "#/components/schemas/Iteration"
            text/xml:
              examples:
                Successful TrainProject request:
                  $ref: "#/components/examples/Successful_TrainProject_request"
              schema:
                $ref: "#/components/schemas/Iteration"
          description: OK
      summary: Queues project for training
      tags:
        - ProjectApi
  "/{projectId}/images/{imageId}/regionproposals":
    post:
      description: This API will get region proposals for an image along with confidences for the region. It returns an empty array if no proposals are found.
      operationId: GetImageRegionProposals
      parameters:
        - description: The project id
          examples:
            Successful GetImageRegionProposals request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The image id
          examples:
            Successful GetImageRegionProposals request:
              value: 4d6eb844-42ee-42bc-bd6f-c32455ef07c9
          in: path
          name: imageId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetImageRegionProposals request:
                  $ref: "#/components/examples/Successful_GetImageRegionProposals_request"
              schema:
                $ref: "#/components/schemas/ImageRegionProposal"
            text/json:
              examples:
                Successful GetImageRegionProposals request:
                  $ref: "#/components/examples/Successful_GetImageRegionProposals_request"
              schema:
                $ref: "#/components/schemas/ImageRegionProposal"
          description: OK
      summary: Get region proposals for an image. Returns empty array if no proposals are found.
      tags:
        - ImageRegionProposalApi
components:
  examples:
    Successful_CreateImageRegions_request:
      value:
        created: []
        duplicated: []
        exceeded: []
    Successful_CreateImageTags_request:
      value:
        created:
          - imageId: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
            tagId: 349d72ac-0948-4d51-b1e4-c14a1f9b848a
    Successful_CreateImagesFromData_request:
      value:
        images:
          - image:
              created: 2017-12-19T15:56:10.65Z
              height: 900
              id: 4d6eb844-42ee-42bc-bd6f-c32455ef07c9
              imageUri: "{Image Uri}"
              tags:
                - created: 2017-12-19T15:56:09.6105895Z
                  tagId: b607964f-7bd6-4a3b-a869-6791fb6aab87
              thumbnailUri: "{Thumbnail Uri}"
              width: 1095
            sourceUrl: '"hemlock_10.jpg"'
            status: OK
          - image:
              created: 2017-12-19T15:56:10.57Z
              height: 1531
              id: f1855a92-b873-47e7-b513-f07a667ceda1
              imageUri: "{Image Uri}"
              tags:
                - created: 2017-12-19T15:56:09.5168568Z
                  tagId: b607964f-7bd6-4a3b-a869-6791fb6aab87
              thumbnailUri: "{Thumbnail Uri}"
              width: 900
            sourceUrl: '"hemlock_6.jpg"'
            status: OK
        isBatchSuccessful: true
    Successful_CreateImagesFromFiles_request:
      value:
        images:
          - image:
              created: 2017-12-19T15:56:10.65Z
              height: 900
              id: 4d6eb844-42ee-42bc-bd6f-c32455ef07c9
              imageUri: "{Image Uri}"
              tags:
                - created: 2017-12-19T15:56:09.6105895Z
                  tagId: b607964f-7bd6-4a3b-a869-6791fb6aab87
              thumbnailUri: "{Thumbnail Uri}"
              width: 1095
            sourceUrl: '"hemlock_10.jpg"'
            status: OK
        isBatchSuccessful: true
    Successful_CreateImagesFromPredictions_request:
      value:
        images:
          - image:
              created: 2017-12-19T15:56:10.65Z
              height: 900
              id: 4d6eb844-42ee-42bc-bd6f-c32455ef07c9
              imageUri: "{Image Uri}"
              tags:
                - created: 2017-12-19T15:56:09.6105895Z
                  tagId: b607964f-7bd6-4a3b-a869-6791fb6aab87
              thumbnailUri: "{Thumbnail Uri}"
              width: 1095
            sourceUrl: '"hemlock_10.jpg"'
            status: OK
        isBatchSuccessful: true
    Successful_CreateImagesFromUrls_request:
      value:
        images:
          - image:
              created: 2017-12-19T15:56:10.65Z
              height: 900
              id: 4d6eb844-42ee-42bc-bd6f-c32455ef07c9
              imageUri: "{Image Uri}"
              tags:
                - created: 2017-12-19T15:56:09.6105895Z
                  tagId: b607964f-7bd6-4a3b-a869-6791fb6aab87
              thumbnailUri: "{Thumbnail Uri}"
              width: 1095
            sourceUrl: "{url to image}"
            status: OK
        isBatchSuccessful: true
    Successful_CreateProject_request:
      value:
        created: 2017-12-18T05:43:18.08Z
        description: A test project
        id: bc3f7dad-5544-468c-8573-3ef04d55463e
        lastModified: 2017-12-18T05:43:18.0962423Z
        name: My New Project
        settings:
          domainId: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
    Successful_CreateTag_request:
      value:
        description: Description of Tag1
        id: 9e27bc1b-7ae7-4e3b-a4e5-36153479dc01
        imageCount: 0
        name: Tag1
    Successful_ExportIteration_request:
      value:
        platform: TensorFlow
        status: Exporting
    Successful_GetDomain_request:
      value:
        exportable: false
        id: b30a91ae-e3c1-4f73-a81e-c270bff27c39
        name: Retail
    Successful_GetDomains_request:
      value:
        - exportable: false
          id: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
          name: General
        - exportable: false
          id: c151d5b5-dd07-472a-acc8-15d29dea8518
          name: Food
        - exportable: false
          id: ca455789-012d-4b50-9fec-5bb63841c793
          name: Landmarks
        - exportable: false
          id: b30a91ae-e3c1-4f73-a81e-c270bff27c39
          name: Retail
        - exportable: false
          id: 45badf75-3591-4f26-a705-45678d3e9f5f
          name: Adult
        - exportable: true
          id: 0732100f-1a38-4e49-a514-c9b44c697ab5
          name: General (compact)
        - exportable: true
          id: b5cfd229-2ac7-4b2b-8d0a-2b0661344894
          name: Landmarks (compact)
        - exportable: true
          id: 6b4faeda-8396-481b-9f8b-177b9fa3097f
          name: Retail (compact)
    Successful_GetExports_request:
      value:
        - downloadUri: "{Download URI"
          platform: TensorFlow
          status: Done
    Successful_GetImagePerformanceCount_request:
      value: "1"
    Successful_GetImagePerformances_request:
      value:
        - created: 2018-01-31T20:18:26.5806336Z
          height: 1600
          id: dfd2d346-3ed5-4e1e-857d-af4e32cec042
          imageUri: <image uri>
          predictions:
            - boundingBox:
                height: 0.25
                left: 0.25
                top: 0.25
                width: 0.25
              probability: 1
              tagId: b5f7e6a2-a481-49a6-afec-a7cef1af3544
              tagName: Tag 1
          regions: []
          tags: []
          thumbnailUri: <thumbnail uri>
          width: 600
    Successful_GetImageRegionProposals_request:
      value:
        imageId: 4d6eb844-42ee-42bc-bd6f-c32455ef07c9
        projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
        proposals:
          - boundingBox:
              height: 0.25
              left: 0.25
              top: 0.25
              width: 0.25
            confidence: 0.25
    Successful_GetImagesByIds_request:
      value: []
    Successful_GetIterationPerformance_request:
      value:
        perTagPerformance:
          - id: e31ff107-5505-4753-be42-b369b21b026c
            name: Hemlock
            precision: 1
            precisionStdDeviation: 0
            recall: 1
            recallStdDeviation: 0
          - id: 349d72ac-0948-4d51-b1e4-c14a1f9b848a
            name: Japanese Cherry
            precision: 1
            precisionStdDeviation: 0
            recall: 1
            recallStdDeviation: 0
        precision: 1
        precisionStdDeviation: 0
        recall: 1
        recallStdDeviation: 0
    Successful_GetIteration_request:
      value:
        created: 2017-12-18T22:40:36.9066667Z
        domainId: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
        exportable: false
        id: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
        isDefault: false
        lastModified: 2017-12-19T15:47:02.9511889Z
        name: Iteration 2
        projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
        status: Completed
        trainedAt: 2017-12-19T15:47:02.9511889Z
    Successful_GetIterations_request:
      value:
        - created: 2017-12-18T22:40:29.7304213Z
          domainId: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
          exportable: false
          id: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
          isDefault: true
          lastModified: 2017-12-18T22:40:41.3173903Z
          name: Iteration 1
          projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
          status: Completed
          trainedAt: 2017-12-18T22:40:41.0058589Z
        - created: 2017-12-18T22:40:36.9066667Z
          domainId: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
          exportable: false
          id: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
          isDefault: false
          lastModified: 2017-12-19T15:47:02.9511889Z
          name: Iteration 2
          projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
          status: Completed
          trainedAt: 2017-12-19T15:47:02.9511889Z
[...]
