swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: Dynamics Telemetry
  version: 2019-01-24
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/dynamicstelemetry/resource-manager/Microsoft.DynamicsTelemetry/preview/2019-01-24/dynamicstelemetry.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: dynamicstelemetry
  x-tags:
    - Azure
    - Microsoft
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
paths:
  /providers/Microsoft.DynamicsTelemetry/operations:
    get:
      operationId: Operations_List
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/OperationList"
        "204":
          description: No Content
      tags:
        - Operations
      x-ms-examples:
        List Operations:
          parameters:
            api-version: 2019-01-24
          responses:
            "200":
              body:
                - display:
                    description: Gets the available logs for tenants
                    operation: Read tenants log definitions
                    provider: Microsoft Dynamics Telemetry
                    resource: Log definition
                  isDataAction: false
                  name: microsoft.dynamicstelemetry/tenants/providers/Microsoft.Insights/logDefinitions/read
                  origin: system
                  properties: {}
                - display:
                    description: Gets the diagnostic setting for the resource
                    operation: Read diagnostic setting
                    provider: Microsoft Dynamics Telemetry
                    resource: tenants
                  isDataAction: false
                  name: microsoft.dynamicstelemetry/tenants/providers/Microsoft.Insights/diagnosticSettings/read
                  origin: system
                - display:
                    description: Creates or updates the diagnostic setting for the resource
                    operation: Write diagnostic setting
                    provider: Microsoft Dynamics Telemetry
                    resource: tenants
                  isDataAction: false
                  name: microsoft.dynamicstelemetry/tenants/providers/Microsoft.Insights/diagnosticSettings/write
                  origin: system
                - display:
                    description: Writing a diagnostic setting
                    operation: Diagnostic settings write
                    provider: Microsoft Monitoring Insights
                    publisher: Microsoft
                    resource: Diagnostic settings
                  isDataAction: false
                  name: microsoft.dynamicstelemetry/diagnosticsettings/write
                  properties: {}
                - display:
                    description: Reading a diagnostic setting
                    operation: Diagnostic settings read
                    provider: Microsoft Monitoring Insights
                    publisher: Microsoft
                    resource: Diagnostic settings
                  isDataAction: false
                  name: microsoft.dynamicstelemetry/diagnosticsettings/read
                  properties: {}
                - display:
                    description: Deleting a diagnostic setting
                    operation: Diagnostic settings delete
                    provider: Microsoft Monitoring Insights
                    publisher: Microsoft
                    resource: Diagnostic settings
                  isDataAction: false
                  name: microsoft.dynamicstelemetry/diagnosticsettings/delete
                  properties: {}
                - display:
                    description: Reading a diagnostic setting categories
                    operation: Diagnostic settings categories read
                    provider: Microsoft Monitoring Insights
                    publisher: Microsoft
                    resource: Diagnostic settings categories
                  isDataAction: false
                  name: microsoft.dynamicstelemetry/diagnosticsettingscategories/read
                  properties: {}
            "204": {}
definitions:
  Display:
    additionalProperties: false
    properties:
      description:
        type: string
      operation:
        type: string
      provider:
        type: string
      publisher:
        type: string
      resource:
        type: string
    type: object
  LogSpecification:
    additionalProperties: false
    properties:
      blobDuration:
        format: duration
        type: string
      displayName:
        type: string
      name:
        type: string
    type: object
  Operation:
    additionalProperties: false
    properties:
      display:
        $ref: "#/definitions/Display"
      isDataAction:
        type: boolean
      name:
        type: string
      origin:
        type: string
      properties:
        $ref: "#/definitions/Properties"
    required:
      - isDataAction
    type: object
  OperationList:
    description: List of supported operations.
    items:
      $ref: "#/definitions/Operation"
    type: array
  Properties:
    additionalProperties: false
    properties:
      serviceSpecification:
        $ref: "#/definitions/ServiceSpecification"
    type: object
  ServiceSpecification:
    additionalProperties: false
    properties:
      logSpecifications:
        items:
          $ref: "#/definitions/LogSpecification"
        type: array
    type: object
