swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2019-04-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/serviceTags.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-serviceTags
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/serviceTags":
    get:
      description: Gets a list of service tag information resources.
      operationId: ServiceTags_List
      parameters:
        - description: The location that will be used as a reference for version (not as a filter based on location, you will get the list of service tags with prefix details across all regions but limited to the cloud that your subscription belongs to).
          in: path
          name: location
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. Returns a list of service tag information resources.
          schema:
            $ref: "#/definitions/ServiceTagsListResult"
      x-ms-examples:
        Get list of service tags:
          parameters:
            api-version: 2019-04-01
            location: regionName
            subscriptionId: subId
          responses:
            "200":
              body:
                changeNumber: "63"
                cloud: Public
                id: /subscriptions/subId/providers/Microsoft.Network/serviceTags/public
                name: public
                type: Microsoft.Network/serviceTags
                values:
                  - id: ApiManagement
                    name: ApiManagement
                    properties:
                      addressPrefixes:
                        - 13.64.39.16/32
                        - 40.74.146.80/31
                        - 40.74.147.32/28
                      changeNumber: "7"
                      region: ""
                      systemService: AzureApiManagement
                  - id: ApiManagement.AustraliaCentral
                    name: ApiManagement.AustraliaCentral
                    properties:
                      addressPrefixes:
                        - 20.36.106.68/31
                        - 20.36.107.176/28
                      changeNumber: "2"
                      region: australiacentral
                      systemService: AzureApiManagement
                  - id: AppService
                    name: AppService
                    properties:
                      addressPrefixes:
                        - 13.64.73.110/32
                        - 191.235.208.12/32
                        - 191.235.215.184/32
                      changeNumber: "13"
                      region: ""
                      systemService: AzureAppService
                  - id: ServiceBus
                    name: ServiceBus
                    properties:
                      addressPrefixes:
                        - 23.98.82.96/29
                        - 40.68.127.68/32
                        - 40.70.146.64/29
                      changeNumber: "10"
                      region: ""
                      systemService: AzureServiceBus
                  - id: ServiceBus.EastUS2
                    name: ServiceBus.EastUS2
                    properties:
                      addressPrefixes:
                        - 13.68.110.36/32
                        - 40.70.146.64/29
                      changeNumber: "1"
                      region: eastus2
                      systemService: AzureServiceBus
definitions:
  ServiceTagInformation:
    description: The service tag information.
    properties:
      id:
        description: The ID of service tag.
        readOnly: true
        type: string
      name:
        description: The name of service tag.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/ServiceTagInformationPropertiesFormat"
        description: Properties of the service tag information.
        readOnly: true
  ServiceTagInformationPropertiesFormat:
    description: Properties of the service tag information.
    properties:
      addressPrefixes:
        description: The list of IP address prefixes.
        items:
          type: string
        readOnly: true
        type: array
      changeNumber:
        description: The iteration number of service tag.
        readOnly: true
        type: string
      region:
        description: The region of service tag.
        readOnly: true
        type: string
      systemService:
        description: The name of system service.
        readOnly: true
        type: string
  ServiceTagsListResult:
    description: Response for the ListServiceTags API service call.
    properties:
      changeNumber:
        description: The iteration number.
        readOnly: true
        type: string
      cloud:
        description: The name of the cloud.
        readOnly: true
        type: string
      id:
        description: The ID of the cloud.
        readOnly: true
        type: string
      name:
        description: The name of the cloud.
        readOnly: true
        type: string
      type:
        description: The azure resource type.
        readOnly: true
        type: string
      values:
        description: The list of service tag information resources.
        items:
          $ref: "#/definitions/ServiceTagInformation"
        readOnly: true
        type: array
