swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Azure Event Hubs client
  title: EventHubManagementClient
  version: 2017-04-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/eventhub/resource-manager/Microsoft.EventHub/stable/2017-04-01/EventHub.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: eventhub-EventHub
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  AliasNameParameter:
    description: The Disaster Recovery configuration name
    in: path
    maxLength: 50
    minLength: 1
    name: alias
    required: true
    type: string
    x-ms-parameter-location: method
  ApiVersionParameter:
    description: Client API Version.
    in: query
    name: api-version
    required: true
    type: string
  AuthorizationRuleNameParameter:
    description: The authorization rule name.
    in: path
    minLength: 1
    name: authorizationRuleName
    required: true
    type: string
    x-ms-parameter-location: method
  ConsumerGroupNameParameter:
    description: The consumer group name
    in: path
    maxLength: 50
    minLength: 1
    name: consumerGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  EventHubNameParameter:
    description: The Event Hub name
    in: path
    maxLength: 50
    minLength: 1
    name: eventHubName
    required: true
    type: string
    x-ms-parameter-location: method
  NamespaceNameParameter:
    description: The Namespace name
    in: path
    maxLength: 50
    minLength: 6
    name: namespaceName
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceGroupNameParameter:
    description: Name of the resource group within the azure subscription.
    in: path
    maxLength: 90
    minLength: 1
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  SkipParameter:
    description: Skip is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skip parameter that specifies a starting point to use for subsequent calls.
    in: query
    maximum: 1000
    minimum: 0
    name: $skip
    required: false
    type: integer
    x-ms-parameter-location: method
  SkuNameParameter:
    description: The sku type.
    in: path
    maxLength: 50
    minLength: 1
    name: sku
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
  TopParameter:
    description: May be used to limit the number of results to the most recent N usageDetails.
    in: query
    maximum: 1000
    minimum: 1
    name: $top
    required: false
    type: integer
    x-ms-parameter-location: method
paths:
  /providers/Microsoft.EventHub/operations:
    get:
      description: Lists all of the available Event Hub REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/OperationListResult"
        default:
          description: Eventhub error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Operations
      x-ms-examples:
        EHOperations_List:
          parameters:
            api-version: 2016-07-01
          responses:
            "200":
              body:
                value:
                  - display:
                      operation: Get namespace availability.
                      provider: Microsoft Azure EventHub
                      resource: Non Resource Operation
                    name: Microsoft.EventHub/checkNameAvailability/action
                  - display:
                      operation: Registers the EventHub Resource Provider
                      provider: Microsoft Azure EventHub
                      resource: EventHub Resource Provider
                    name: Microsoft.EventHub/register/action
                  - display:
                      operation: "Create Or Update Namespace "
                      provider: Microsoft Azure EventHub
                      resource: Namespace
                    name: Microsoft.EventHub/namespaces/write
                  - display:
                      operation: Get Namespace Resource
                      provider: Microsoft Azure EventHub
                      resource: Namespace
                    name: Microsoft.EventHub/namespaces/read
                  - display:
                      operation: Delete Namespace
                      provider: Microsoft Azure EventHub
                      resource: Namespace
                    name: Microsoft.EventHub/namespaces/Delete
                  - display:
                      operation: Get Namespace Authorization Rules
                      provider: Microsoft Azure EventHub
                      resource: AuthorizationRules
                    name: Microsoft.EventHub/namespaces/authorizationRules/read
                  - display:
                      operation: Create or Update Namespace Authorization Rules
                      provider: Microsoft Azure EventHub
                      resource: AuthorizationRules
                    name: Microsoft.EventHub/namespaces/authorizationRules/write
                  - display:
                      operation: Delete Namespace Authorization Rule
                      provider: Microsoft Azure EventHub
                      resource: AuthorizationRules
                    name: Microsoft.EventHub/namespaces/authorizationRules/delete
                  - display:
                      operation: Get Namespace Listkeys
                      provider: Microsoft Azure EventHub
                      resource: AuthorizationRules
                    name: Microsoft.EventHub/namespaces/authorizationRules/listkeys/action
                  - display:
                      operation: Resource Regeneratekeys
                      provider: Microsoft Azure EventHub
                      resource: AuthorizationRules
                    name: Microsoft.EventHub/namespaces/authorizationRules/regenerateKeys/action
                  - display:
                      operation: Create or Update EventHub
                      provider: Microsoft Azure EventHub
                      resource: EventHub
                    name: Microsoft.EventHub/namespaces/eventhubs/write
                  - display:
                      operation: Get EventHub
                      provider: Microsoft Azure EventHub
                      resource: EventHub
                    name: Microsoft.EventHub/namespaces/eventhubs/read
                  - display:
                      operation: Delete EventHub
                      provider: Microsoft Azure EventHub
                      resource: EventHub
                    name: Microsoft.EventHub/namespaces/eventhubs/Delete
                  - display:
                      operation: " Get EventHub Authorization Rules"
                      provider: Microsoft Azure EventHub
                      resource: EventHub AuthorizationRules
                    name: Microsoft.EventHub/namespaces/eventhubs/authorizationRules/read
                  - display:
                      operation: Create or Update EventHub Authorization Rule
                      provider: Microsoft Azure EventHub
                      resource: EventHub AuthorizationRules
                    name: Microsoft.EventHub/namespaces/eventhubs/authorizationRules/write
                  - display:
                      operation: Delete EventHub Authorization Rules
                      provider: Microsoft Azure EventHub
                      resource: EventHub AuthorizationRules
                    name: Microsoft.EventHub/namespaces/eventhubs/authorizationRules/delete
                  - display:
                      operation: List EventHub keys
                      provider: Microsoft Azure EventHub
                      resource: EventHub AuthorizationRules
                    name: Microsoft.EventHub/namespaces/eventhubs/authorizationRules/listkeys/action
                  - display:
                      operation: Resource Regeneratekeys
                      provider: Microsoft Azure EventHub
                      resource: EventHub AuthorizationRules
                    name: Microsoft.EventHub/namespaces/eventhubs/authorizationRules/regenerateKeys/action
                  - display:
                      operation: Create or Update ConsumerGroup
                      provider: Microsoft Azure EventHub
                      resource: ConsumerGroup
                    name: Microsoft.EventHub/namespaces/eventHubs/consumergroups/write
                  - display:
                      operation: Get ConsumerGroup
                      provider: Microsoft Azure EventHub
                      resource: ConsumerGroup
                    name: Microsoft.EventHub/namespaces/eventHubs/consumergroups/read
                  - display:
                      operation: Delete ConsumerGroup
                      provider: Microsoft Azure EventHub
                      resource: ConsumerGroup
                    name: Microsoft.EventHub/namespaces/eventHubs/consumergroups/Delete
                  - display:
                      operation: Get Namespace metrics
                      provider: Microsoft Azure EventHub
                      resource: Namespace metrics
                    name: Microsoft.EventHub/namespaces/metricDefinitions/read
                  - display:
                      operation: Get Namespace diagnostic settings
                      provider: Microsoft Azure EventHub
                      resource: Namespace diagnostic settings
                    name: Microsoft.EventHub/namespaces/diagnosticSettings/read
                  - display:
                      operation: Create or Update Namespace diagnostic settings
                      provider: Microsoft Azure EventHub
                      resource: Namespace diagnostic settings
                    name: Microsoft.EventHub/namespaces/diagnosticSettings/write
                  - display:
                      operation: Get Namespace logs
                      provider: Microsoft Azure EventHub
                      resource: Namespace logs
                    name: Microsoft.EventHub/namespaces/logDefinitions/read
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.EventHub/CheckNameAvailability":
    post:
      description: Check the give Namespace name availability.
      operationId: Namespaces_CheckNameAvailability
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: Parameters to check availability of the given Namespace name
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/CheckNameAvailabilityParameter"
      responses:
        "200":
          description: check availability returned successfully.
          schema:
            $ref: "#/definitions/CheckNameAvailabilityResult"
        default:
          description: Eventhub error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Namespaces
      x-ms-examples:
        NamespacesCheckNameAvailability:
          parameters:
            api-version: 2017-04-01
            parameters:
              name: sdk-Namespace-8458
            subscriptionId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4
          responses:
            "200":
              body:
                message: ""
                nameAvailable: true
                reason: None
  "/subscriptions/{subscriptionId}/providers/Microsoft.EventHub/namespaces":
    get:
      description: Lists all the available Namespaces within a subscription, irrespective of the resource groups.
      operationId: Namespaces_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Namespaces returned successfully.
          schema:
            $ref: "#/definitions/EHNamespaceListResult"
        default:
          description: Eventhub error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Namespaces
      x-ms-examples:
        NamespacesListBySubscription:
          parameters:
            api-version: 2017-04-01
            subscriptionId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/sadfsadfsadf/providers/Microsoft.EventHub/namespaces/eh-ns1
                    location: South Central US
                    name: eh-ns1
                    properties:
                      createdAt: 2016-08-23T04:15:35.263Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:eh-ns1
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://eh-ns1.servicebus.windows-int.net:443/
                      updatedAt: 2017-02-03T20:13:04.007Z
                    sku:
                      capacity: 0
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-EventHub-SouthCentralUS/providers/Microsoft.EventHub/namespaces/ehnamespace1
                    location: South Central US
                    name: ehnamespace1
                    properties:
                      createdAt: 2016-08-05T16:56:48.657Z
                      isAutoInflateEnabled: true
                      maximumThroughputUnits: 20
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ehnamespace1
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://ehnamespace1.servicebus.windows-int.net:443/
                      updatedAt: 2017-05-03T23:49:12.69Z
                    sku:
                      capacity: 9
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/NS-08dc2b6d-82f6-43e8-bdcd-56bbb31a1a95
                    location: South Central US
                    name: NS-08dc2b6d-82f6-43e8-bdcd-56bbb31a1a95
                    properties:
                      createdAt: 2016-09-16T01:10:00.96Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-08dc2b6d-82f6-43e8-bdcd-56bbb31a1a95
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://NS-08dc2b6d-82f6-43e8-bdcd-56bbb31a1a95.servicebus.windows-int.net:443/
                      updatedAt: 2017-02-11T11:15:32.313Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/NS-027302b7-df82-43a1-abf7-b6a2e2429115
                    location: South Central US
                    name: NS-027302b7-df82-43a1-abf7-b6a2e2429115
                    properties:
                      createdAt: 2016-08-05T04:13:34.727Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-027302b7-df82-43a1-abf7-b6a2e2429115
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://NS-027302b7-df82-43a1-abf7-b6a2e2429115.servicebus.windows-int.net:443/
                      updatedAt: 2017-02-11T10:35:30.053Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RichardsResources/providers/Microsoft.EventHub/namespaces/abc-7-14
                    location: South Central US
                    name: abc-7-14
                    properties:
                      createdAt: 2017-05-05T17:58:58.433Z
                      isAutoInflateEnabled: true
                      maximumThroughputUnits: 14
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:abc-7-14
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://abc-7-14.servicebus.windows-int.net:443/
                      updatedAt: 2017-05-05T17:59:20Z
                    sku:
                      capacity: 7
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.EventHub/namespaces/sdk-Namespace-3054
                    location: South Central US
                    name: sdk-Namespace-3054
                    properties:
                      createdAt: 2017-05-24T18:43:53.58Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-3054
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://sdk-Namespace-3054.servicebus.windows-int.net:443/
                      updatedAt: 2017-05-24T18:44:16.657Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-EventHub-SouthCentralUS/providers/Microsoft.EventHub/namespaces/namespace1asdfsa
                    location: South Central US
                    name: namespace1asdfsa
                    properties:
                      createdAt: 2016-09-12T18:23:15.833Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:namespace1asdfsa
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://namespace1asdfsa.servicebus.windows-int.net:443/
                      updatedAt: 2017-02-04T01:58:49.523Z
                    sku:
                      capacity: 0
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RichardsResources/providers/Microsoft.EventHub/namespaces/hello1-3-8
                    location: South Central US
                    name: hello1-3-8
                    properties:
                      createdAt: 2017-05-05T19:23:18.96Z
                      isAutoInflateEnabled: true
                      maximumThroughputUnits: 8
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:hello1-3-8
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://hello1-3-8.servicebus.windows-int.net:443/
                      updatedAt: 2017-05-05T19:23:42.497Z
                    sku:
                      capacity: 3
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RapscallionResources/providers/Microsoft.EventHub/namespaces/SBPerplexed
                    location: South Central US
                    name: SBPerplexed
                    properties:
                      createdAt: 2016-10-10T19:18:57.773Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:sbperplexed
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://SBPerplexed.servicebus.windows-int.net:443/
                      updatedAt: 2017-02-03T23:46:15.22Z
                    sku:
                      capacity: 0
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-EventHub-SouthCentralUS/providers/Microsoft.EventHub/namespaces/ehnamespace123
                    location: South Central US
                    name: ehnamespace123
                    properties:
                      createdAt: 2016-08-05T16:57:09Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ehnamespace123
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://ehnamespace123.servicebus.windows-int.net:443/
                      updatedAt: 2017-02-11T08:25:30.093Z
                    sku:
                      capacity: 0
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.EventHub/namespaces/oaisdjfoiasdjfoiajsdfoijasd
                    location: South Central US
                    name: oaisdjfoiasdjfoiajsdfoijasd
                    properties:
                      createdAt: 2017-05-03T22:05:29.61Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:oaisdjfoiasdjfoiajsdfoijasd
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://oaisdjfoiasdjfoiajsdfoijasd.servicebus.windows-int.net:443/
                      updatedAt: 2017-05-03T22:05:51.593Z
                    sku:
                      capacity: 0
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/rrama-ns3
                    location: South Central US
                    name: rrama-ns3
                    properties:
                      createdAt: 2016-08-23T04:22:40.633Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-ns3
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://rrama-ns3.servicebus.windows-int.net:443/
                      updatedAt: 2017-02-11T12:52:58.277Z
                    sku:
                      capacity: 0
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.EventHub/namespaces/abc123
                    location: South Central US
                    name: abc123
                    properties:
                      createdAt: 2017-05-04T19:06:00.813Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:abc123
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://abc123.servicebus.windows-int.net:443/
                      updatedAt: 2017-05-04T19:06:23.71Z
                    sku:
                      capacity: 0
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-EventHub-SouthCentralUS/providers/Microsoft.EventHub/namespaces/ehnamespace21
                    location: South Central US
                    name: ehnamespace21
                    properties:
                      createdAt: 2016-08-05T16:57:00.377Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ehnamespace21
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://ehnamespace21.servicebus.windows-int.net:443/
                      updatedAt: 2017-02-11T09:50:32.86Z
                    sku:
                      capacity: 0
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RapscallionResources/providers/Microsoft.EventHub/namespaces/SBFlerbederp
                    location: South Central US
                    name: SBFlerbederp
                    properties:
                      createdAt: 2016-10-10T19:32:17.56Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:sbflerbederp
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://SBFlerbederp.servicebus.windows-int.net:443/
                      updatedAt: 2017-02-03T20:46:59.227Z
                    sku:
                      capacity: 0
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RichardsResources/providers/Microsoft.EventHub/namespaces/aaa-001-9-11
                    location: South Central US
                    name: aaa-001-9-11
                    properties:
                      createdAt: 2017-05-05T17:32:22.37Z
                      isAutoInflateEnabled: true
                      maximumThroughputUnits: 11
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:aaa-001-9-11
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://aaa-001-9-11.servicebus.windows-int.net:443/
                      updatedAt: 2017-05-05T17:32:44.76Z
                    sku:
                      capacity: 9
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/NS-47a32389-7331-47c8-9228-4c145b2650d7
                    location: South Central US
                    name: NS-47a32389-7331-47c8-9228-4c145b2650d7
                    properties:
                      createdAt: 2016-09-16T01:41:51.857Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-47a32389-7331-47c8-9228-4c145b2650d7
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://NS-47a32389-7331-47c8-9228-4c145b2650d7.servicebus.windows-int.net:443/
                      updatedAt: 2017-02-11T08:28:03.157Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/NS-54cbc924-fb3c-4b09-bd7a-4fe6d2b785a7
                    location: South Central US
                    name: NS-54cbc924-fb3c-4b09-bd7a-4fe6d2b785a7
                    properties:
                      createdAt: 2016-08-05T03:39:52.323Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-54cbc924-fb3c-4b09-bd7a-4fe6d2b785a7
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://NS-54cbc924-fb3c-4b09-bd7a-4fe6d2b785a7.servicebus.windows-int.net:443/
                      updatedAt: 2017-02-11T04:40:32.24Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RapscallionResources/providers/Microsoft.EventHub/namespaces/SBFeasible
                    location: South Central US
                    name: SBFeasible
                    properties:
                      createdAt: 2016-10-10T19:05:24.76Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:sbfeasible
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://SBFeasible.servicebus.windows-int.net:443/
                      updatedAt: 2017-02-03T19:51:55.893Z
                    sku:
                      capacity: 0
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/NS-3b72258b-a8a1-4250-8952-e89a15af71fc
                    location: South Central US
                    name: NS-3b72258b-a8a1-4250-8952-e89a15af71fc
                    properties:
                      createdAt: 2016-09-16T17:59:27.227Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-3b72258b-a8a1-4250-8952-e89a15af71fc
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://NS-3b72258b-a8a1-4250-8952-e89a15af71fc.servicebus.windows-int.net:443/
                      updatedAt: 2017-02-27T19:34:26.633Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.EventHub/namespaces/sdk-Namespace-5849
                    location: South Central US
                    name: sdk-Namespace-5849
                    properties:
                      createdAt: 2017-05-24T23:23:27.877Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-5849
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://sdk-Namespace-5849.servicebus.windows-int.net:443/
                      updatedAt: 2017-05-24T23:23:50.467Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags:
                      tag1: value1
                      tag2: value2
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/testDC/providers/Microsoft.EventHub/namespaces/TestNamespace1
                    location: South Central US
                    name: TestNamespace1
                    properties:
                      createdAt: 2017-04-25T00:28:00.243Z
                      isAutoInflateEnabled: true
                      maximumThroughputUnits: 10
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:testnamespace1
                      provisioningState: Updating
                      serviceBusEndpoint: https://TestNamespace1.servicebus.windows-int.net:443/
                      updatedAt: 2017-04-26T20:54:41.18Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-EventHub-SouthCentralUS/providers/Microsoft.EventHub/namespaces/rrama-ehns
                    location: South Central US
                    name: rrama-ehns
                    properties:
                      createdAt: 2016-08-23T04:22:49.74Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-ehns
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://rrama-ehns.servicebus.windows-int.net:443/
                      updatedAt: 2017-02-11T07:03:51.793Z
                    sku:
                      capacity: 0
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/testDC/providers/Microsoft.EventHub/namespaces/TestNamespace3
                    location: South Central US
                    name: TestNamespace3
                    properties:
                      createdAt: 2017-05-03T22:33:17.84Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:testnamespace3
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://TestNamespace3.servicebus.windows-int.net:443/
                      updatedAt: 2017-05-03T22:33:40.087Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4984
                    location: South Central US
                    name: sdk-Namespace-4984
                    properties:
                      createdAt: 2017-05-24T21:31:03.587Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-4984
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://sdk-Namespace-4984.servicebus.windows-int.net:443/
                      updatedAt: 2017-05-24T21:31:24.967Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/NS-19df9616-54d6-47c9-8779-a4651835a95c
                    location: South Central US
                    name: NS-19df9616-54d6-47c9-8779-a4651835a95c
                    properties:
                      createdAt: 2016-08-23T02:38:33.8Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-19df9616-54d6-47c9-8779-a4651835a95c
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://NS-19df9616-54d6-47c9-8779-a4651835a95c.servicebus.windows-int.net:443/
                      updatedAt: 2017-02-11T04:28:01.093Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/NS-463af3de-8c87-4347-a614-a4c24f748109
                    location: South Central US
                    name: NS-463af3de-8c87-4347-a614-a4c24f748109
                    properties:
                      createdAt: 2016-08-05T00:55:04.807Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-463af3de-8c87-4347-a614-a4c24f748109
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://NS-463af3de-8c87-4347-a614-a4c24f748109.servicebus.windows-int.net:443/
                      updatedAt: 2017-02-11T06:13:53.343Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.EventHub/namespaces/sdk-Namespace-5606
                    location: South Central US
                    name: sdk-Namespace-5606
                    properties:
                      createdAt: 2017-05-24T18:56:05.093Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-5606
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://sdk-Namespace-5606.servicebus.windows-int.net:443/
                      updatedAt: 2017-05-24T18:56:27.32Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/NS-2d5d93d1-1d01-4141-9f4d-7d619b9c88c3
                    location: South Central US
                    name: NS-2d5d93d1-1d01-4141-9f4d-7d619b9c88c3
                    properties:
                      createdAt: 2016-08-05T04:18:53.27Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-2d5d93d1-1d01-4141-9f4d-7d619b9c88c3
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://NS-2d5d93d1-1d01-4141-9f4d-7d619b9c88c3.servicebus.windows-int.net:443/
                      updatedAt: 2017-02-11T06:49:39.877Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.EventHub/namespaces/sdk-Namespace-7703
                    location: South Central US
                    name: sdk-Namespace-7703
                    properties:
                      createdAt: 2017-05-24T19:05:23.817Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-7703
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://sdk-Namespace-7703.servicebus.windows-int.net:443/
                      updatedAt: 2017-05-24T19:05:44.717Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.EventHub/namespaces/zzzzzzzzzzzzzzzzzzzzzz-00001
                    location: South Central US
                    name: zzzzzzzzzzzzzzzzzzzzzz-00001
                    properties:
                      createdAt: 2017-05-04T21:35:49.383Z
                      isAutoInflateEnabled: true
                      maximumThroughputUnits: 11
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:zzzzzzzzzzzzzzzzzzzzzz-00001
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://zzzzzzzzzzzzzzzzzzzzzz-00001.servicebus.windows-int.net:443/
                      updatedAt: 2017-05-05T17:01:20.733Z
                    sku:
                      capacity: 3
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RapscallionResources/providers/Microsoft.EventHub/namespaces/SBQuestionable
                    location: South Central US
                    name: SBQuestionable
                    properties:
                      createdAt: 2016-10-10T18:56:24.723Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:sbquestionable
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://SBQuestionable.servicebus.windows-int.net:443/
                      updatedAt: 2017-02-03T19:51:46.983Z
                    sku:
                      capacity: 0
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-EventHub-SouthCentralUS/providers/Microsoft.EventHub/namespaces/ehnamespace1234
                    location: South Central US
                    name: ehnamespace1234
                    properties:
                      createdAt: 2016-08-05T16:57:17.863Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ehnamespace1234
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://ehnamespace1234.servicebus.windows-int.net:443/
                      updatedAt: 2017-02-11T10:35:33.817Z
                    sku:
                      capacity: 0
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.EventHub/namespaces/sdk-Namespace-3919
                    location: South Central US
                    name: sdk-Namespace-3919
                    properties:
                      createdAt: 2017-05-24T02:08:20.15Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-3919
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://sdk-Namespace-3919.servicebus.windows-int.net:443/
                      updatedAt: 2017-05-24T02:08:41.313Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-EventHub-SouthCentralUS/providers/Microsoft.EventHub/namespaces/arunarchivetest
                    location: South Central US
                    name: arunarchivetest
                    properties:
                      createdAt: 2017-03-08T19:25:49.897Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:arunarchivetest
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://arunarchivetest.servicebus.windows-int.net:443/
                      updatedAt: 2017-03-08T19:26:17.49Z
                    sku:
                      capacity: 0
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.EventHub/namespaces/aiosdjfaoidjasdoijasdfoijasdfofijsdf
                    location: South Central US
                    name: aiosdjfaoidjasdoijasdfoijasdfofijsdf
                    properties:
                      createdAt: 2017-05-04T21:23:23.9Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:aiosdjfaoidjasdoijasdfoijasdfofijsdf
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://aiosdjfaoidjasdoijasdfoijasdfofijsdf.servicebus.windows-int.net:443/
                      updatedAt: 2017-05-04T21:23:46.78Z
                    sku:
                      capacity: 0
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.EventHub/namespaces/sdk-Namespace-3413
                    location: South Central US
                    name: sdk-Namespace-3413
                    properties:
                      createdAt: 2017-05-24T19:02:15.45Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-3413
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://sdk-Namespace-3413.servicebus.windows-int.net:443/
                      updatedAt: 2017-05-24T19:02:38.047Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RapscallionResources/providers/Microsoft.EventHub/namespaces/SBConfuzzled
                    location: South Central US
                    name: SBConfuzzled
                    properties:
                      createdAt: 2016-10-10T19:30:45.71Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:sbconfuzzled
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://SBConfuzzled.servicebus.windows-int.net:443/
                      updatedAt: 2017-02-03T22:49:17.82Z
                    sku:
                      capacity: 0
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.EventHub/namespaces/sdk-Namespace-8695
                    location: South Central US
                    name: sdk-Namespace-8695
                    properties:
                      createdAt: 2017-05-24T20:03:43.81Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-8695
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://sdk-Namespace-8695.servicebus.windows-int.net:443/
                      updatedAt: 2017-05-24T20:04:05.88Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RichardsResources/providers/Microsoft.EventHub/namespaces/aaa-11-17
                    location: South Central US
                    name: aaa-11-17
                    properties:
                      createdAt: 2017-05-08T18:47:07.64Z
                      isAutoInflateEnabled: true
                      maximumThroughputUnits: 17
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:aaa-11-17
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://aaa-11-17.servicebus.windows-int.net:443/
                      updatedAt: 2017-05-08T18:47:29.587Z
                    sku:
                      capacity: 11
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RichardsResources/providers/Microsoft.EventHub/namespaces/hello1-4-14
                    location: South Central US
                    name: hello1-4-14
                    properties:
                      createdAt: 2017-05-05T18:54:20.563Z
                      isAutoInflateEnabled: true
                      maximumThroughputUnits: 14
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:hello1-4-14
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://hello1-4-14.servicebus.windows-int.net:443/
                      updatedAt: 2017-05-05T18:54:42.507Z
                    sku:
                      capacity: 4
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4801
                    location: South Central US
                    name: sdk-Namespace-4801
                    properties:
                      createdAt: 2017-05-24T18:39:39.213Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-4801
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://sdk-Namespace-4801.servicebus.windows-int.net:443/
                      updatedAt: 2017-05-24T18:40:00.087Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RichardsResources/providers/Microsoft.EventHub/namespaces/RichardsEventHub1
                    location: South Central US
                    name: RichardsEventHub1
                    properties:
                      createdAt: 2017-04-27T19:15:13.05Z
                      isAutoInflateEnabled: true
                      maximumThroughputUnits: 15
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:richardseventhub1
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://RichardsEventHub1.servicebus.windows-int.net:443/
                      updatedAt: 2017-05-09T19:34:41.127Z
                    sku:
                      capacity: 8
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/rrama-autoinflate-test
                    location: South Central US
                    name: rrama-autoinflate-test
                    properties:
                      createdAt: 2017-05-01T16:58:11.34Z
                      isAutoInflateEnabled: true
                      maximumThroughputUnits: 10
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-autoinflate-test
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://rrama-autoinflate-test.servicebus.windows-int.net:443/
                      updatedAt: 2017-05-08T21:52:42.663Z
                    sku:
                      capacity: 7
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/foofoofoofoof
                    location: South Central US
                    name: foofoofoofoof
                    properties:
                      createdAt: 2017-04-29T02:47:53.523Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:foofoofoofoof
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://foofoofoofoof.servicebus.windows-int.net:443/
                      updatedAt: 2017-04-29T02:48:17.95Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/asdf1234asdf
                    location: South Central US
                    name: asdf1234asdf
                    properties:
                      createdAt: 2016-09-13T01:45:40.58Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:asdf1234asdf
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://asdf1234asdf.servicebus.windows-int.net:443/
                      updatedAt: 2017-02-11T06:54:38.623Z
                    sku:
                      capacity: 0
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.EventHub/namespaces/sdk-Namespace-2812
                    location: South Central US
                    name: sdk-Namespace-2812
                    properties:
                      createdAt: 2017-05-24T18:55:44.687Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-2812
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://sdk-Namespace-2812.servicebus.windows-int.net:443/
                      updatedAt: 2017-05-24T18:56:05.587Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/NS-4aadc830-1029-49b8-8fbd-dd0130e7a84c
                    location: South Central US
                    name: NS-4aadc830-1029-49b8-8fbd-dd0130e7a84c
                    properties:
                      createdAt: 2016-08-05T04:02:53.43Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-4aadc830-1029-49b8-8fbd-dd0130e7a84c
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://NS-4aadc830-1029-49b8-8fbd-dd0130e7a84c.servicebus.windows-int.net:443/
                      updatedAt: 2017-02-11T05:13:02.697Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/NS-5e79a429-aa52-42b9-8120-2fe72fc00727
                    location: South Central US
                    name: NS-5e79a429-aa52-42b9-8120-2fe72fc00727
                    properties:
                      createdAt: 2016-08-05T01:13:41.527Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-5e79a429-aa52-42b9-8120-2fe72fc00727
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://NS-5e79a429-aa52-42b9-8120-2fe72fc00727.servicebus.windows-int.net:443/
                      updatedAt: 2017-02-11T04:24:44.797Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-EventHub-SouthCentralUS/providers/Microsoft.EventHub/namespaces/rrama-df-ns1
                    location: South Central US
                    name: rrama-df-ns1
                    properties:
                      createdAt: 2016-10-27T23:35:05.453Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-df-ns1
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://rrama-df-ns1.servicebus.windows-int.net:443/
                      updatedAt: 2017-02-03T20:23:49.533Z
                    sku:
                      capacity: 0
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RichardsResources/providers/Microsoft.EventHub/namespaces/bbbb-9-12
                    location: South Central US
                    name: bbbb-9-12
                    properties:
                      createdAt: 2017-05-05T17:47:35.123Z
                      isAutoInflateEnabled: true
                      maximumThroughputUnits: 12
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:bbbb-9-12
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://bbbb-9-12.servicebus.windows-int.net:443/
                      updatedAt: 2017-05-05T17:47:56.1Z
                    sku:
                      capacity: 9
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/eh-autoInflate/providers/Microsoft.EventHub/namespaces/rrama-autoinflate-template1
                    location: South Central US
                    name: rrama-autoinflate-template1
                    properties:
                      createdAt: 2017-05-03T17:46:36.71Z
                      isAutoInflateEnabled: true
                      maximumThroughputUnits: 10
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-autoinflate-template1
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://rrama-autoinflate-template1.servicebus.windows-int.net:443/
                      updatedAt: 2017-05-03T17:47:00.163Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RapscallionResources/providers/Microsoft.EventHub/namespaces/RandomPlotTwists
                    location: South Central US
                    name: RandomPlotTwists
                    properties:
                      createdAt: 2017-05-18T00:37:26.13Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:randomplottwists
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://RandomPlotTwists.servicebus.windows-int.net:443/
                      updatedAt: 2017-05-18T00:37:49.533Z
                    sku:
                      capacity: 0
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/NS-1862d295-09cc-4e54-b23d-a2bc3bab2392
                    location: South Central US
                    name: NS-1862d295-09cc-4e54-b23d-a2bc3bab2392
                    properties:
                      createdAt: 2016-08-05T04:08:14.253Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-1862d295-09cc-4e54-b23d-a2bc3bab2392
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://NS-1862d295-09cc-4e54-b23d-a2bc3bab2392.servicebus.windows-int.net:443/
                      updatedAt: 2017-02-11T04:33:53.34Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/NS-MigrateThis
                    location: South Central US
                    name: NS-MigrateThis
                    properties:
                      createdAt: 2016-08-06T00:23:12.3Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-migratethis
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://NS-MigrateThis.servicebus.windows-int.net:443/
                      updatedAt: 2017-02-04T00:25:08.043Z
                    sku:
                      capacity: 0
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/NS-5e01d977-125c-4fd2-8a78-cc50be544d1f
                    location: South Central US
                    name: NS-5e01d977-125c-4fd2-8a78-cc50be544d1f
                    properties:
                      createdAt: 2016-08-05T04:34:33.617Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-5e01d977-125c-4fd2-8a78-cc50be544d1f
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://NS-5e01d977-125c-4fd2-8a78-cc50be544d1f.servicebus.windows-int.net:443/
                      updatedAt: 2017-02-11T05:54:42.25Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/NS-2b17fb74-2719-4c68-9ba3-13a018485b1f
                    location: South Central US
                    name: NS-2b17fb74-2719-4c68-9ba3-13a018485b1f
                    properties:
                      createdAt: 2016-08-05T04:29:17.147Z
                      isAutoInflateEnabled: true
                      maximumThroughputUnits: 10
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-2b17fb74-2719-4c68-9ba3-13a018485b1f
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://NS-2b17fb74-2719-4c68-9ba3-13a018485b1f.servicebus.windows-int.net:443/
                      updatedAt: 2017-05-02T19:52:53.243Z
                    sku:
                      capacity: 10
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-EventHub-SouthCentralUS/providers/Microsoft.EventHub/namespaces/rrama-int7-ehns123
                    location: South Central US
                    name: rrama-int7-ehns123
                    properties:
                      createdAt: 2016-09-13T23:35:15.473Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-int7-ehns123
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://rrama-int7-ehns123.servicebus.int7.windows-int.net:443/
                      updatedAt: 2016-09-13T23:35:38.63Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/rrama-autoinflate-test
                    location: South Central US
                    name: rrama-autoinflate-test
                    properties:
                      createdAt: 2017-05-01T17:48:04.55Z
                      isAutoInflateEnabled: true
                      maximumThroughputUnits: 10
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-autoinflate-test
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://rrama-autoinflate-test.servicebus.int7.windows-int.net:443/
                      updatedAt: 2017-05-04T21:15:36.013Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/rrama-autoinflate2
                    location: North Europe
                    name: rrama-autoinflate2
                    properties:
                      createdAt: 2017-05-01T20:50:00.22Z
                      isAutoInflateEnabled: true
                      maximumThroughputUnits: 10
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-autoinflate2
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://rrama-autoinflate2.servicebus.int7.windows-int.net:443/
                      updatedAt: 2017-05-01T20:50:24.687Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.EventHub/namespaces/db3-rrama-foo1
                    location: North Europe
                    name: db3-rrama-foo1
                    properties:
                      createdAt: 2017-04-28T23:47:36.503Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:db3-rrama-foo1
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://db3-rrama-foo1.servicebus.int7.windows-int.net:443/
                      updatedAt: 2017-05-01T21:14:37.133Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-EventHub-SouthCentralUS/providers/Microsoft.EventHub/namespaces/rrama-int7-ehns1
                    location: South Central US
                    name: rrama-int7-ehns1
                    properties:
                      createdAt: 2016-09-13T23:20:44.853Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-int7-ehns1
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://rrama-int7-ehns1.servicebus.int7.windows-int.net:443/
                      updatedAt: 2016-09-13T23:20:47.35Z
                    sku:
                      capacity: 0
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-EventHub-SouthCentralUS/providers/Microsoft.EventHub/namespaces/rrama-int7-ns1
                    location: South Central US
                    name: rrama-int7-ns1
                    properties:
                      createdAt: 2016-09-13T23:17:25.24Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-int7-ns1
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://rrama-int7-ns1.servicebus.int7.windows-int.net:443/
                      updatedAt: 2016-09-13T23:17:28.223Z
                    sku:
                      capacity: 0
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
                  - id: /subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-EventHub-SouthCentralUS/providers/Microsoft.EventHub/namespaces/rrama-ehns2-int7
                    location: South Central US
                    name: rrama-ehns2-int7
                    properties:
                      createdAt: 2016-09-13T23:26:21.64Z
                      isAutoInflateEnabled: false
                      maximumThroughputUnits: 0
                      metricId: 5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-ehns2-int7
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://rrama-ehns2-int7.servicebus.int7.windows-int.net:443/
                      updatedAt: 2016-09-13T23:26:37.95Z
                    sku:
                      capacity: 0
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/Namespaces
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.EventHub/sku/{sku}/regions":
    get:
      description: Gets the available Regions for a given sku
      operationId: Regions_ListBySku
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/SkuNameParameter"
      responses:
        "200":
          description: Regions successfully returned.
          schema:
            $ref: "#/definitions/MessagingRegionsListResult"
        default:
          description: EventHub error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Regions
      x-ms-examples:
        RegionsListBySkuBasic:
          parameters:
            api-version: 2017-04-01
            sku: Basic
            subscriptionId: subscriptionid
          responses:
            "200":
              body:
                nextLink: null
                value:
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/CentralUS
                    location: null
                    name: Central US
                    properties:
                      code: Central US
                      fullName: Central US
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/EastUS
                    location: null
                    name: East US
                    properties:
                      code: East US
                      fullName: East US
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/EastUS2
                    location: null
                    name: East US 2
                    properties:
                      code: East US 2
                      fullName: East US 2
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/NorthCentralUS
                    location: null
                    name: North Central US
                    properties:
                      code: North Central US
                      fullName: North Central US
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/SouthCentralUS
                    location: null
                    name: South Central US
                    properties:
                      code: South Central US
                      fullName: South Central US
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/WestUS
                    location: null
                    name: West US
                    properties:
                      code: West US
                      fullName: West US
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/WestUS2
                    location: null
                    name: West US 2
                    properties:
                      code: West US 2
                      fullName: West US 2
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/WestCentralUS
                    location: null
                    name: West Central US
                    properties:
                      code: West Central US
                      fullName: West Central US
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/NorthEurope
                    location: null
                    name: North Europe
                    properties:
                      code: North Europe
                      fullName: North Europe
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/WestEurope
                    location: null
                    name: West Europe
                    properties:
                      code: West Europe
                      fullName: West Europe
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/EastAsia
                    location: null
                    name: East Asia
                    properties:
                      code: East Asia
                      fullName: East Asia
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/SoutheastAsia
                    location: null
                    name: Southeast Asia
                    properties:
                      code: Southeast Asia
                      fullName: Southeast Asia
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/BrazilSouth
                    location: null
                    name: Brazil South
                    properties:
                      code: Brazil South
                      fullName: Brazil South
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/JapanEast
                    location: null
                    name: Japan East
                    properties:
                      code: Japan East
                      fullName: Japan East
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/JapanWest
                    location: null
                    name: Japan West
                    properties:
                      code: Japan West
                      fullName: Japan West
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/CentralIndia
                    location: null
                    name: Central India
                    properties:
                      code: Central India
                      fullName: Central India
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/SouthIndia
                    location: null
                    name: South India
                    properties:
                      code: South India
                      fullName: South India
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/WestIndia
                    location: null
                    name: West India
                    properties:
                      code: West India
                      fullName: West India
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/UKSouth2
                    location: null
                    name: UK South 2
                    properties:
                      code: UK South 2
                      fullName: UK South 2
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/UKNorth
                    location: null
                    name: UK North
                    properties:
                      code: UK North
                      fullName: UK North
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/CanadaCentral
                    location: null
                    name: Canada Central
                    properties:
                      code: Canada Central
                      fullName: Canada Central
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/CanadaEast
                    location: null
                    name: Canada East
                    properties:
                      code: Canada East
                      fullName: Canada East
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/AustraliaEast
                    location: null
                    name: Australia East
                    properties:
                      code: Australia East
                      fullName: Australia East
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/AustraliaSoutheast
                    location: null
                    name: Australia Southeast
                    properties:
                      code: Australia Southeast
                      fullName: Australia Southeast
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/UKSouth
                    location: null
                    name: UK South
                    properties:
                      code: UK South
                      fullName: UK South
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/UKWest
                    location: null
                    name: UK West
                    properties:
                      code: UK West
                      fullName: UK West
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/EASTUS2EUAP
                    location: null
                    name: EAST US 2 EUAP
                    properties:
                      code: EAST US 2 EUAP
                      fullName: EAST US 2 EUAP
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/CentralUSEUAP
                    location: null
                    name: Central US EUAP
                    properties:
                      code: Central US EUAP
                      fullName: Central US EUAP
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/KoreaCentral
                    location: null
                    name: Korea Central
                    properties:
                      code: Korea Central
                      fullName: Korea Central
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/KoreaSouth
                    location: null
                    name: Korea South
                    properties:
                      code: Korea South
                      fullName: Korea South
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/FranceCentral
                    location: null
                    name: France Central
                    properties:
                      code: France Central
                      fullName: France Central
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/FranceSouth
                    location: null
                    name: France South
                    properties:
                      code: France South
                      fullName: France South
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/AustraliaCentral
                    location: null
                    name: Australia Central
                    properties:
                      code: Australia Central
                      fullName: Australia Central
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Basic/regions/AustraliaCentral2
                    location: null
                    name: Australia Central 2
                    properties:
                      code: Australia Central 2
                      fullName: Australia Central 2
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
        RegionsListBySkuStandard:
          parameters:
            api-version: 2017-04-01
            sku: Standard
            subscriptionId: subscriptionid
          responses:
            "200":
              body:
                nextLink: null
                value:
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Standard/regions/CentralUS
                    location: null
                    name: Central US
                    properties:
                      code: Central US
                      fullName: Central US
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Standard/regions/EastUS
                    location: null
                    name: East US
                    properties:
                      code: East US
                      fullName: East US
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Standard/regions/EastUS2
                    location: null
                    name: East US 2
                    properties:
                      code: East US 2
                      fullName: East US 2
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Standard/regions/NorthCentralUS
                    location: null
                    name: North Central US
                    properties:
                      code: North Central US
                      fullName: North Central US
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Standard/regions/SouthCentralUS
                    location: null
                    name: South Central US
                    properties:
                      code: South Central US
                      fullName: South Central US
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Standard/regions/WestUS
                    location: null
                    name: West US
                    properties:
                      code: West US
                      fullName: West US
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Standard/regions/WestUS2
                    location: null
                    name: West US 2
                    properties:
                      code: West US 2
                      fullName: West US 2
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Standard/regions/WestCentralUS
                    location: null
                    name: West Central US
                    properties:
                      code: West Central US
                      fullName: West Central US
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Standard/regions/NorthEurope
                    location: null
                    name: North Europe
                    properties:
                      code: North Europe
                      fullName: North Europe
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Standard/regions/WestEurope
                    location: null
                    name: West Europe
                    properties:
                      code: West Europe
                      fullName: West Europe
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Standard/regions/EastAsia
                    location: null
                    name: East Asia
                    properties:
                      code: East Asia
                      fullName: East Asia
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Standard/regions/SoutheastAsia
                    location: null
                    name: Southeast Asia
                    properties:
                      code: Southeast Asia
                      fullName: Southeast Asia
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Standard/regions/BrazilSouth
                    location: null
                    name: Brazil South
                    properties:
                      code: Brazil South
                      fullName: Brazil South
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Standard/regions/JapanEast
                    location: null
                    name: Japan East
                    properties:
                      code: Japan East
                      fullName: Japan East
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Standard/regions/JapanWest
                    location: null
                    name: Japan West
                    properties:
                      code: Japan West
                      fullName: Japan West
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Standard/regions/CentralIndia
                    location: null
                    name: Central India
                    properties:
                      code: Central India
                      fullName: Central India
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Standard/regions/SouthIndia
                    location: null
                    name: South India
                    properties:
                      code: South India
                      fullName: South India
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Standard/regions/WestIndia
                    location: null
                    name: West India
                    properties:
                      code: West India
                      fullName: West India
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Standard/regions/UKSouth2
                    location: null
                    name: UK South 2
                    properties:
                      code: UK South 2
                      fullName: UK South 2
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Standard/regions/UKNorth
                    location: null
                    name: UK North
                    properties:
                      code: UK North
                      fullName: UK North
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Standard/regions/CanadaCentral
                    location: null
                    name: Canada Central
                    properties:
                      code: Canada Central
                      fullName: Canada Central
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Standard/regions/CanadaEast
                    location: null
                    name: Canada East
                    properties:
                      code: Canada East
                      fullName: Canada East
                    tags: null
                    type: Microsoft.EventHub/sku/Regions
                  - id: /subscriptions/subscriptionid/providers/Microsoft.EventHub/sku/Standard/regions/AustraliaEast
                    location: null
[...]
