swagger: "2.0"
schemes:
  - http
host: firebrowse.org
basePath: /api/v1
info:
  description: A simple and elegant way to explore cancer data
  title: FireBrowse Beta API
  version: 1.1.38 (2018-02-26 11:01:29 484103261f6ef681a05cf163)
  x-apisguru-categories:
    - open_data
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/http_firebrowse.org_img_firebrowse.png
  x-origin:
    - converter:
        url: https://github.com/lucybot/api-spec-converter
        version: 2.7.11
      format: swagger
      url: http://firebrowse.org/api/api-docs
      version: "1.2"
  x-providerName: firebrowse.org
produces:
  - application/json
  - text/tab-separated-values
  - text/plain
tags:
  - description: Fine grained retrieval of analysis pipeline results
    name: Analyses
  - description: Bulk retrieval of data or analysis pipeline results
    name: Archives
  - description: Retrieve disease, sample, and datatype descriptions, sample counts, and more
    name: Metadata
  - description: Fine grained retrieval of sample-level data
    name: Samples
paths:
  /Analyses/CopyNumber/Genes/All:
    get:
      description: "This service provides access to the Gistic2 all_data_by_genes.txt output data. This data is a gene-level table of copy number values for all samples. The returned copy number values are in units (copy number - 2) so that no amplification or deletion is 0, genes with amplifications have positive values, and genes with deletions are negative values. The data are converted from marker level to gene level using the extreme method: a gene is assigned the greatest amplification or the least deletion value among the markers it covers. Results may be filtered by cohort, gene, or barcode, but at least one gene or barcode must be supplied."
      operationId: All
      parameters:
        - default: json
          description: Format of result.
          enum:
            - json
            - tsv
            - csv
          in: query
          name: format
          required: false
          type: string
        - description: Narrow search to one or more TCGA disease cohorts from the scrollable list.
          in: query
          items:
            enum:
              - ACC
              - BLCA
              - BRCA
              - CESC
              - CHOL
              - COAD
              - COADREAD
              - DLBC
              - ESCA
              - FPPP
              - GBM
              - GBMLGG
              - HNSC
              - KICH
              - KIPAN
              - KIRC
              - KIRP
              - LAML
              - LGG
              - LIHC
              - LUAD
              - LUSC
              - MESO
              - OV
              - PAAD
              - PCPG
              - PRAD
              - READ
              - SARC
              - SKCM
              - STAD
              - STES
              - TGCT
              - THCA
              - THYM
              - UCEC
              - UCS
              - UVM
            type: string
          name: cohort
          required: false
          type: array
        - description: Comma separated list of gene name(s).
          in: query
          items:
            type: string
          name: gene
          required: false
          type: array
        - description: Comma separated list of TCGA participant barcodes (e.g. TCGA-GF-A4EO).
          in: query
          items:
            type: string
          name: tcga_participant_barcode
          required: false
          type: array
        - description: "Which page (slice) of entire results set should be returned. "
          in: query
          items:
            default: 1
            format: int32
            minimum: 1
            type: integer
          name: page
          required: false
          type: array
        - description: Number of records per page of results.  Max is 2000.
          in: query
          items:
            default: 250
            format: int32
            maximum: 2000
            minimum: 1
            type: integer
          name: page_size
          required: false
          type: array
        - default: cohort
          description: Which column in the results should be used for sorting paginated results?
          enum:
            - tcga_participant_barcode
            - cohort
            - gene
          in: query
          name: sort_by
          required: false
          type: string
      responses:
        "200":
          description: No response was specified
      summary: Retrieve all data by genes Gistic2 results.
      tags:
        - Analyses
  /Analyses/CopyNumber/Genes/Amplified:
    get:
      description: This service provides access to the Gistic2 amp_genes.conf_99.txt output data.  At least 1 gene or cohort must be supplied.
      operationId: Amplified
      parameters:
        - default: json
          description: Format of result.
          enum:
            - json
            - tsv
            - csv
          in: query
          name: format
          required: false
          type: string
        - description: Narrow search to one or more TCGA disease cohorts from the scrollable list.
          in: query
          items:
            enum:
              - ACC
              - BLCA
              - BRCA
              - CESC
              - CHOL
              - COAD
              - COADREAD
              - DLBC
              - ESCA
              - FPPP
              - GBM
              - GBMLGG
              - HNSC
              - KICH
              - KIPAN
              - KIRC
              - KIRP
              - LAML
              - LGG
              - LIHC
              - LUAD
              - LUSC
              - MESO
              - OV
              - PAAD
              - PCPG
              - PRAD
              - READ
              - SARC
              - SKCM
              - STAD
              - STES
              - TGCT
              - THCA
              - THYM
              - UCEC
              - UCS
              - UVM
            type: string
          name: cohort
          required: false
          type: array
        - description: Comma separated list of gene name(s).
          in: query
          items:
            type: string
          name: gene
          required: false
          type: array
        - description: Only return results with Q-value <= given threshold.
          in: query
          maximum: 1
          name: q
          required: false
          type: number
        - description: "Which page (slice) of entire results set should be returned. "
          in: query
          items:
            default: 1
            format: int32
            minimum: 1
            type: integer
          name: page
          required: false
          type: array
        - description: Number of records per page of results.  Max is 2000.
          in: query
          items:
            default: 250
            format: int32
            maximum: 2000
            minimum: 1
            type: integer
          name: page_size
          required: false
          type: array
        - default: cohort
          description: Which column in the results should be used for sorting paginated results?
          enum:
            - q
            - cohort
            - gene
          in: query
          name: sort_by
          required: false
          type: string
      responses:
        "200":
          description: No response was specified
      summary: Retrieve Gistic2 significantly amplified genes results.
      tags:
        - Analyses
  /Analyses/CopyNumber/Genes/Deleted:
    get:
      description: This service provides access to the Gistic2 del_genes.conf_99.txt output data.  At least 1 gene or cohort must be supplied.
      operationId: Deleted
      parameters:
        - default: json
          description: Format of result.
          enum:
            - json
            - tsv
            - csv
          in: query
          name: format
          required: false
          type: string
        - description: Narrow search to one or more TCGA disease cohorts from the scrollable list.
          in: query
          items:
            enum:
              - ACC
              - BLCA
              - BRCA
              - CESC
              - CHOL
              - COAD
              - COADREAD
              - DLBC
              - ESCA
              - FPPP
              - GBM
              - GBMLGG
              - HNSC
              - KICH
              - KIPAN
              - KIRC
              - KIRP
              - LAML
              - LGG
              - LIHC
              - LUAD
              - LUSC
              - MESO
              - OV
              - PAAD
              - PCPG
              - PRAD
              - READ
              - SARC
              - SKCM
              - STAD
              - STES
              - TGCT
              - THCA
              - THYM
              - UCEC
              - UCS
              - UVM
            type: string
          name: cohort
          required: false
          type: array
        - description: Comma separated list of gene name(s).
          in: query
          items:
            type: string
          name: gene
          required: false
          type: array
        - description: Only return results with Q-value <= given threshold.
          in: query
          maximum: 1
          name: q
          required: false
          type: number
        - description: "Which page (slice) of entire results set should be returned. "
          in: query
          items:
            default: 1
            format: int32
            minimum: 1
            type: integer
          name: page
          required: false
          type: array
        - description: Number of records per page of results.  Max is 2000.
          in: query
          items:
            default: 250
            format: int32
            maximum: 2000
            minimum: 1
            type: integer
          name: page_size
          required: false
          type: array
        - default: cohort
          description: Which column in the results should be used for sorting paginated results?
          enum:
            - q
            - cohort
            - gene
          in: query
          name: sort_by
          required: false
          type: string
      responses:
        "200":
          description: No response was specified
      summary: Retrieve Gistic2 significantly deleted genes results.
      tags:
        - Analyses
  /Analyses/CopyNumber/Genes/Focal:
    get:
      description: "This service provides access to the Gistic2 focal_data_by_genes.txt output data. This output is similar to the all_data_by_genes.txt output, but using only focal events with lengths greater than the  focal length cutoff. This data is a gene-level table of copy number values for all samples. The returned copy number values are in units (copy number - 2) so that no amplification or deletion is 0, genes with amplifications have positive values, and genes with deletions are negative values. The data are converted from marker level to gene level using the extreme method: a gene is assigned the greatest amplification or the least deletion value among the markers it covers. Results may be filtered by cohort, gene, and/or barcode, but at least one gene or barcode must be supplied."
      operationId: Focal
      parameters:
        - default: json
          description: Format of result.
          enum:
            - json
            - tsv
            - csv
          in: query
          name: format
          required: false
          type: string
        - description: Narrow search to one or more TCGA disease cohorts from the scrollable list.
          in: query
          items:
            enum:
              - ACC
              - BLCA
              - BRCA
              - CESC
              - CHOL
              - COAD
              - COADREAD
              - DLBC
              - ESCA
              - FPPP
              - GBM
              - GBMLGG
              - HNSC
              - KICH
              - KIPAN
              - KIRC
              - KIRP
              - LAML
              - LGG
              - LIHC
              - LUAD
              - LUSC
              - MESO
              - OV
              - PAAD
              - PCPG
              - PRAD
              - READ
              - SARC
              - SKCM
              - STAD
              - STES
              - TGCT
              - THCA
              - THYM
              - UCEC
              - UCS
              - UVM
            type: string
          name: cohort
          required: false
          type: array
        - description: Comma separated list of gene name(s).
          in: query
          items:
            type: string
          name: gene
          required: false
          type: array
        - description: Comma separated list of TCGA participant barcodes (e.g. TCGA-GF-A4EO).
          in: query
          items:
            type: string
          name: tcga_participant_barcode
          required: false
          type: array
        - description: "Which page (slice) of entire results set should be returned. "
          in: query
          items:
            default: 1
            format: int32
            minimum: 1
            type: integer
          name: page
          required: false
          type: array
        - description: Number of records per page of results.  Max is 2000.
          in: query
          items:
            default: 250
            format: int32
            maximum: 2000
            minimum: 1
            type: integer
          name: page_size
          required: false
          type: array
        - default: cohort
          description: Which column in the results should be used for sorting paginated results?
          enum:
            - tcga_participant_barcode
            - cohort
            - gene
          in: query
          name: sort_by
          required: false
          type: string
      responses:
        "200":
          description: No response was specified
      summary: Retrieve focal data by genes Gistic2 results.
      tags:
        - Analyses
  /Analyses/CopyNumber/Genes/Thresholded:
    get:
      description: "This service provides access to the Gistic2 all_thresholded_by_genes.txt output data. A gene-level table of discrete amplification and deletion indicators for all samples. A table value of 0 means no amplification or deletion above the threshold. Amplifications are positive numbers: 1 means amplification above the amplification threshold; 2 means amplifications larger to the arm level amplifications observed for the sample. Deletions are represented by negative table values: -1 represents deletion beyond the threshold; -2 means deletions greater than the minimum arm-level deletion observed for the sample. Results maybe filtered by cohort, gene or barcode, but at least one gene or barcode must be supplied."
      operationId: Thresholded
      parameters:
        - default: json
          description: Format of result.
          enum:
            - json
            - tsv
            - csv
          in: query
          name: format
          required: false
          type: string
        - description: Narrow search to one or more TCGA disease cohorts from the scrollable list.
          in: query
          items:
            enum:
              - ACC
              - BLCA
              - BRCA
              - CESC
              - CHOL
              - COAD
              - COADREAD
              - DLBC
              - ESCA
              - FPPP
              - GBM
              - GBMLGG
              - HNSC
              - KICH
              - KIPAN
              - KIRC
              - KIRP
              - LAML
              - LGG
              - LIHC
              - LUAD
              - LUSC
              - MESO
              - OV
              - PAAD
              - PCPG
              - PRAD
              - READ
              - SARC
              - SKCM
              - STAD
              - STES
              - TGCT
              - THCA
              - THYM
              - UCEC
              - UCS
              - UVM
            type: string
          name: cohort
          required: false
          type: array
        - description: Comma separated list of gene name(s).
          in: query
          items:
            type: string
          name: gene
          required: false
          type: array
        - description: Comma separated list of TCGA participant barcodes (e.g. TCGA-GF-A4EO).
          in: query
          items:
            type: string
          name: tcga_participant_barcode
          required: false
          type: array
        - description: "Which page (slice) of entire results set should be returned. "
          in: query
          items:
            default: 1
            format: int32
            minimum: 1
            type: integer
          name: page
          required: false
          type: array
        - description: Number of records per page of results.  Max is 2000.
          in: query
          items:
            default: 250
            format: int32
            maximum: 2000
            minimum: 1
            type: integer
          name: page_size
          required: false
          type: array
        - default: cohort
          description: Which column in the results should be used for sorting paginated results?
          enum:
            - tcga_participant_barcode
            - cohort
            - gene
          in: query
          name: sort_by
          required: false
          type: string
      responses:
        "200":
          description: No response was specified
      summary: Retrieve all thresholded by genes Gistic2 results.
      tags:
        - Analyses
  /Analyses/FeatureTable:
    get:
      description: This service returns part or all of the so-called <strong>feature table</strong>; which aggregates the most important findings across ALL pipelines in the GDAC Firehose analysis workflow into a single table for simple access.  One feature table is created per disease cohort.  Results may be filtered by date or cohort, but at least 1 cohort must be specified here. For more details please visit the <a href=https://confluence.broadinstitute.org/display/GDAC/Documentation\#Documentation-FeatureTable>online documentation</a>.  Please note that the service is still undergoing experimental evaluation and does not return JSON format.
      operationId: FeatureTable
      parameters:
        - default: tsv
          description: Format of result.
          enum:
            - tsv
            - csv
          in: query
          name: format
          required: false
          type: string
        - description: Narrow search to one or more TCGA disease cohorts from the scrollable list.
          in: query
          items:
            enum:
              - ACC
              - BLCA
              - BRCA
              - CESC
              - CHOL
              - COAD
              - COADREAD
              - DLBC
              - ESCA
              - FPPP
              - GBM
              - GBMLGG
              - HNSC
              - KICH
              - KIPAN
              - KIRC
              - KIRP
              - LAML
              - LGG
              - LIHC
              - LUAD
              - LUSC
              - MESO
              - OV
              - PAAD
              - PCPG
              - PRAD
              - READ
              - SARC
              - SKCM
              - STAD
              - STES
              - TGCT
              - THCA
              - THYM
              - UCEC
              - UCS
              - UVM
            type: string
          name: cohort
          required: false
          type: array
        - description: Select one or more date stamps.
          in: query
          items:
            enum:
              - 2016_01_28
              - 2015_08_21
              - 2015_04_02
              - 2014_10_17
            format: date
            type: string
          name: date
          required: false
          type: array
        - description: Comma separated list of which data columns/fields to return.
          in: query
          items:
            type: string
          name: column
          required: false
          type: array
        - description: "Which page (slice) of entire results set should be returned. "
          in: query
          items:
            default: 1
            format: int32
            minimum: 1
            type: integer
          name: page
          required: false
          type: array
        - description: Number of records per page of results.  Max is 2000.
          in: query
          items:
            default: 250
            format: int32
            maximum: 2000
            minimum: 1
            type: integer
          name: page_size
          required: false
          type: array
      responses:
        "200":
          description: No response was specified
      summary: Retrieve aggregated analysis features table.
      tags:
        - Analyses
  /Analyses/Mutation/MAF:
    get:
      description: This service returns columns from the MAF generated by MutSig. Results may be filtered by gene, cohort, tool, or barcode, but at least one gene OR barcode OR cohort must be given.  By default a subset consisting of the most commonly used columns will be returned, but that can be modified with the column parameter. Specifying 'all' in this parameter is a convenient way to return every column of the respective MAF, and has precedence over any any other column selection expression.  The complete list of column names that may be specified is <a href='http://firebrowse.org/api-docs/#!/Metadata/MAFColNames'>given here</a>.  For more information on the mutation data, and how it is processed by Firehose, please consult the <a href="https://confluence.broadinstitute.org/display/GDAC/Documentation#Documentation-MutationPipelines">pipeline documentation</a>.
      operationId: MAF
      parameters:
        - default: json
          description: Format of result.
          enum:
            - json
            - tsv
            - csv
          in: query
          name: format
          required: false
          type: string
        - description: Narrow search to one or more TCGA disease cohorts from the scrollable list.
          in: query
          items:
            enum:
              - ACC
              - BLCA
              - BRCA
              - CESC
              - CHOL
              - COAD
              - COADREAD
              - DLBC
              - ESCA
              - FPPP
              - GBM
              - GBMLGG
              - HNSC
              - KICH
              - KIPAN
              - KIRC
              - KIRP
              - LAML
              - LGG
              - LIHC
              - LUAD
              - LUSC
              - MESO
              - OV
              - PAAD
              - PCPG
              - PRAD
              - READ
              - SARC
              - SKCM
              - STAD
              - STES
              - TGCT
              - THCA
              - THYM
              - UCEC
              - UCS
              - UVM
            type: string
          name: cohort
          required: false
          type: array
        - description: Narrow search to include only data/results produced by the selected Firehose tool.
          in: query
          items:
            default: MutSig2CV
            enum:
              - MutSig2.0
              - MutSig2CV
            type: string
          name: tool
          required: false
          type: array
        - description: Comma separated list of gene name(s).
          in: query
          items:
            type: string
          name: gene
          required: false
          type: array
        - description: Comma separated list of TCGA participant barcodes (e.g. TCGA-GF-A4EO).
          in: query
          items:
            type: string
          name: tcga_participant_barcode
          required: false
          type: array
        - description: Comma separated list of which data columns/fields to return.
          in: query
          items:
            type: string
          name: column
          required: false
          type: array
        - description: "Which page (slice) of entire results set should be returned. "
          in: query
          items:
            default: 1
            format: int32
            minimum: 1
            type: integer
          name: page
          required: false
          type: array
        - description: Number of records per page of results.  Max is 2000.
          in: query
          items:
            default: 250
            format: int32
            maximum: 2000
            minimum: 1
            type: integer
          name: page_size
          required: false
          type: array
        - default: cohort
          description: Which column in the results should be used for sorting paginated results?
          enum:
            - tcga_participant_barcode
            - cohort
            - tool
            - gene
          in: query
          name: sort_by
          required: false
          type: string
      responses:
        "200":
          description: No response was specified
      summary: Retrieve MutSig final analysis MAF.
      tags:
        - Analyses
  /Analyses/Mutation/SMG:
    get:
      description: This service provides a list of significantly mutated genes, as scored by MutSig.  It may be filtered by cohort, rank, gene, tool and/or Q-value threshold, but at least one cohort or gene must be supplied.
      operationId: SMG
      parameters:
        - default: json
          description: Format of result.
          enum:
            - json
            - tsv
            - csv
          in: query
          name: format
          required: false
          type: string
        - description: Narrow search to one or more TCGA disease cohorts from the scrollable list.
          in: query
          items:
            enum:
              - ACC
              - BLCA
              - BRCA
              - CESC
              - CHOL
              - COAD
              - COADREAD
              - DLBC
              - ESCA
              - FPPP
              - GBM
              - GBMLGG
              - HNSC
              - KICH
              - KIPAN
              - KIRC
              - KIRP
              - LAML
              - LGG
              - LIHC
              - LUAD
              - LUSC
              - MESO
              - OV
              - PAAD
              - PCPG
              - PRAD
              - READ
              - SARC
              - SKCM
              - STAD
              - STES
              - TGCT
              - THCA
              - THYM
              - UCEC
              - UCS
              - UVM
            type: string
          name: cohort
          required: false
          type: array
        - description: Narrow search to include only data/results produced by the selected Firehose tool.
          in: query
          items:
            default: MutSig2CV
            enum:
              - MutSig2.0
              - MutSig2CV
              - MutSigCV
            type: string
          name: tool
          required: false
          type: array
        - description: Number of significant genes to return.
          format: int32
          in: query
          name: rank
          required: false
          type: integer
        - description: Comma separated list of gene name(s).
          in: query
          items:
            type: string
          name: gene
          required: false
          type: array
        - description: Only return results with Q-value <= given threshold.
          in: query
          maximum: 1
          name: q
          required: false
          type: number
        - description: "Which page (slice) of entire results set should be returned. "
          in: query
          items:
            default: 1
            format: int32
            minimum: 1
            type: integer
          name: page
          required: false
          type: array
        - description: Number of records per page of results.  Max is 2000.
          in: query
          items:
            default: 250
            format: int32
            maximum: 2000
            minimum: 1
            type: integer
          name: page_size
          required: false
          type: array
        - default: rank
          description: Which column in the results should be used for sorting paginated results?
          enum:
            - q
            - cohort
            - tool
            - gene
            - rank
          in: query
          name: sort_by
          required: false
          type: string
      responses:
        "200":
          description: No response was specified
      summary: Retrieve Significantly Mutated Genes (SMG).
      tags:
        - Analyses
  /Analyses/Reports:
    get:
      description: This service returns URLs to the analysis result reports for runs of the Broad Institute GDAC Firehose analysis pipeline. At least one year of run reports are maintained in the database, but the reports from the latest run will be returned by default. The set of <a href="https://confluence.broadinstitute.org/display/GDAC/Nozzle">Nozzle</a> reports returned may be filtered by disease cohort, report type and report name.
      operationId: Reports
      parameters:
        - default: json
          description: Format of result.
          enum:
            - json
            - tsv
            - csv
          in: query
          name: format
          required: false
          type: string
        - description: Select one or more date stamps.
          in: query
          items:
            enum:
              - 2016_01_28
              - 2015_08_21
              - 2015_04_02
              - 2014_10_17
              - 2014_07_15
              - 2014_04_16
              - 2014_01_15
              - 2013_09_23
              - 2013_05_23
              - 2013_04_21
            format: date
            type: string
          name: date
          required: false
          type: array
        - description: Narrow search to one or more TCGA disease cohorts from the scrollable list.
          in: query
          items:
            enum:
              - ACC
              - BLCA
              - BRCA
              - CESC
              - CHOL
              - COAD
              - COADREAD
              - DLBC
              - ESCA
              - FPPP
              - GBM
              - GBMLGG
              - HNSC
              - KICH
              - KIPAN
              - KIRC
              - KIRP
              - LAML
              - LGG
              - LIHC
              - LUAD
              - LUSC
              - MESO
              - OV
              - PAAD
              - PCPG
              - PRAD
              - READ
              - SARC
              - SKCM
              - STAD
              - STES
              - TGCT
              - THCA
              - THYM
              - UCEC
              - UCS
              - UVM
            type: string
          name: cohort
          required: false
          type: array
        - description: Narrow search to one or more report names.
          in: query
          items:
            enum:
              - Aggregate_AnalysisFeatures
              - CopyNumber_Clustering_CNMF
              - CopyNumber_Clustering_CNMF_thresholded
              - CopyNumber_Gistic2
              - CopyNumberLowPass_Gistic2
              - Correlate_Clinical_vs_CopyNumber_Arm
              - Correlate_Clinical_vs_CopyNumber_Focal
              - Correlate_Clinical_vs_Methylation
              - Correlate_Clinical_vs_miR
              - Correlate_Clinical_vs_miRseq
              - Correlate_Clinical_vs_Molecular_Subtypes
              - Correlate_Clinical_vs_mRNA
              - Correlate_Clinical_vs_mRNAseq
              - Correlate_Clinical_vs_Mutation
              - Correlate_Clinical_vs_Mutation_APOBEC_Categorical
              - Correlate_Clinical_vs_Mutation_APOBEC_Continuous
              - Correlate_Clinical_vs_MutationRate
              - Correlate_Clinical_vs_RPPA
              - Correlate_CopyNumber_vs_miR
              - Correlate_CopyNumber_vs_mRNA
              - Correlate_CopyNumber_vs_mRNAseq
              - Correlate_Methylation_vs_mRNA
              - Correlate_molecularSubtype_vs_CopyNumber_Arm
              - Correlate_molecularSubtype_vs_CopyNumber_Focal
              - Correlate_molecularSubtype_vs_Mutation
              - Correlate_mRNAseq_vs_Mutation_APOBEC
              - Methylation_Clustering_CNMF
              - miR_Clustering_CNMF
              - miR_Clustering_Consensus
              - miR_Clustering_Consensus_Plus
              - miR_FindDirectTargets
              - miRseq_Clustering_CNMF
              - miRseq_Clustering_Consensus
              - miRseq_Clustering_Consensus_Plus
              - miRseq_FindDirectTargets
              - miRseq_Mature_Clustering_CNMF
              - miRseq_Mature_Clustering_Consensus
              - miRseq_Mature_Clustering_Consensus_Plus
              - mRNA_Clustering_CNMF
              - mRNA_Clustering_Consensus
              - mRNA_Clustering_Consensus_Plus
              - mRNAseq_Clustering_CNMF
              - mRNAseq_Clustering_Consensus
              - mRNAseq_Clustering_Consensus_Plus
              - Mutation_APOBEC
              - Mutation_Assessor
              - Mutation_CHASM
              - MutSig2.0
              - MutSig2CV
              - MutSigCV
              - MutSigNozzleReport1.5
              - MutSigNozzleReport2.0
              - MutSigNozzleReport2CV
              - MutSigNozzleReportCV
              - MutSigNozzleReportMerged
              - Pathway_FindEnrichedGenes
              - Pathway_GSEA_mRNAseq
              - Pathway_Hotnet
              - Pathway_Overlaps_MSigDB_MutSig2CV
              - Pathway_Paradigm_mRNA
              - Pathway_Paradigm_mRNA_And_Copy_Number
              - Pathway_Paradigm_RNASeq
              - Pathway_Paradigm_RNASeq_And_Copy_Number
              - RPPA_Clustering_CNMF
              - RPPA_Clustering_Consensus
              - RPPA_Clustering_Consensus_Plus
            type: string
          name: name
          required: false
          type: array
        - description: Narrow search to one or more report types.
          in: query
          items:
            enum:
              - Aggregate
              - Clustering
              - CopyNumber
              - Correlations
              - Expression
              - Mutation
              - Pathway
            type: string
          name: type
          required: false
          type: array
        - description: "Which page (slice) of entire results set should be returned. "
          in: query
          items:
            default: 1
            format: int32
            minimum: 1
            type: integer
          name: page
          required: false
          type: array
        - description: Number of records per page of results.  Max is 2000.
          in: query
          items:
            default: 250
            format: int32
            maximum: 2000
            minimum: 1
            type: integer
          name: page_size
          required: false
          type: array
        - default: date
          description: Which column in the results should be used for sorting paginated results?
          enum:
            - date
            - cohort
            - type
            - name
          in: query
          name: sort_by
          required: false
          type: string
      responses:
        "200":
          description: No response was specified
      summary: Retrieve links to summary reports from Firehose analysis runs.
      tags:
        - Analyses
  /Analyses/mRNASeq/Quartiles:
    get:
      description: For a given gene compute quartiles and extrema, suitable e.g. for drawing a boxplot (Tukey 1977).  Results may be filtered by cohort, sample type, patient barcode  or characterization protocol, and are returned sorted by cohort.  Note that samples for which no expression value was recorded (e.g. <a href="http://firebrowse.org/api/v1/Samples/mRNASeq?&gene=egfr&cohort=SKCM&tcga_participant_barcode=TCGA-GN-A262">the melanoma sample TCGA-GN-262</a>) are removed prior to calculation.
      operationId: mRNASeq/Quartiles
      parameters:
        - default: json
          description: Format of result.
          enum:
            - json
            - tsv
            - csv
          in: query
          name: format
          required: false
          type: string
        - description: Enter a single gene name.
          in: query
          name: gene
          required: true
          type: string
        - description: Narrow search to one or more TCGA disease cohorts from the scrollable list.
          in: query
          items:
            enum:
              - ACC
              - BLCA
              - BRCA
              - CESC
              - CHOL
              - COAD
              - COADREAD
              - DLBC
              - ESCA
              - FPPP
              - GBM
              - GBMLGG
              - HNSC
              - KICH
              - KIPAN
              - KIRC
              - KIRP
              - LAML
              - LGG
              - LIHC
              - LUAD
              - LUSC
              - MESO
              - OV
              - PAAD
              - PCPG
              - PRAD
              - READ
              - SARC
              - SKCM
              - STAD
              - STES
              - TGCT
              - THCA
              - THYM
              - UCEC
              - UCS
              - UVM
            type: string
          name: cohort
          required: false
          type: array
        - description: Narrow search to one or more sample characterization protocols from the scrollable list.
          in: query
          items:
            default: RSEM
            enum:
              - RPKM
              - RSEM
            type: string
          name: protocol
          required: false
          type: array
        - description: For which type of sample(s) should quartiles be computed?
          in: query
          items:
            default: tumors
            enum:
              - tumors
              - normals
              - TP
              - TB
              - TAM
              - TBM
              - NBC
              - TRB
              - TR
              - TRBM
              - TAP
              - TM
              - THOC
              - NB
              - NT
              - NEBV
              - NBM
            type: string
          name: sample_type
          required: false
          type: array
        - description: Comma separated list of TCGA participants, identified by barcodes such as TCGA-GF-A4EO, denoting samples to exclude from computation.
          in: query
          items:
            type: string
          name: Exclude
          required: false
          type: array
      responses:
        "200":
          description: No response was specified
      summary: Returns RNASeq expression quartiles, e.g. suitable for drawing a boxplot.
      tags:
        - Analyses
  /Archives/StandardData:
    get:
      description: This service returns the archive URLs for our Firehose standard data runs, providing a RESTful interface similar in spirit to the command line <a href="https://confluence.broadinstitute.org/display/GDAC/Download">firehose_get</a> tool. The archives can be filtered based on date, cohort, data type, platform, center, data level, and protocol.
      operationId: StandardData
      parameters:
        - default: json
          description: Format of result.
          enum:
            - json
            - tsv
            - csv
          in: query
          name: format
          required: false
          type: string
        - description: Select one or more date stamps.
          in: query
          items:
            enum:
              - 2016_01_28
              - 2015_11_01
              - 2015_08_21
              - 2015_06_01
              - 2015_04_02
              - 2015_02_04
              - 2014_12_06
              - 2014_10_17
              - 2014_09_02
              - 2014_07_15
              - 2014_05_18
              - 2014_04_16
              - 2014_03_16
            format: date
            type: string
          name: date
          required: false
          type: array
        - description: Narrow search to one or more TCGA disease cohorts from the scrollable list.
          in: query
          items:
            enum:
              - ACC
              - BLCA
              - BRCA
              - CESC
              - CHOL
              - COAD
              - COADREAD
              - DLBC
              - ESCA
              - FPPP
              - GBM
              - GBMLGG
              - HNSC
              - KICH
              - KIPAN
              - KIRC
              - KIRP
              - LAML
              - LGG
              - LIHC
              - LUAD
              - LUSC
              - MESO
              - OV
              - PAAD
              - PCPG
              - PRAD
              - READ
              - SARC
              - SKCM
              - STAD
              - STES
              - TGCT
              - THCA
              - THYM
              - UCEC
              - UCS
              - UVM
            type: string
          name: cohort
          required: false
          type: array
        - description: Narrow search to one or more TCGA data types from the scrollable list.
          in: query
          items:
            enum:
              - Clinical
              - CopyNumber
              - LowPass
              - MAF
              - Methylation
              - miR
              - miRSeq
              - mRNA
              - mRNASeq
              - rawMAF
              - rawWIG
              - RPPA
              - WIG
            type: string
          name: data_type
          required: false
          type: array
        - description: Narrow search to include only data/results produced by the selected Firehose tool.
          in: query
          items:
            enum:
              - Clinical_Pick_Tier1
              - Merge_Clinical
              - Merge_cna__cgh_1x1m_g4447a__mskcc_org__Level_3__segmentation_data_computation__seg
              - Merge_cna__hg_cgh_244a__hms_harvard_edu__Level_3__segmentation__seg
              - Merge_cna__hg_cgh_244a__mskcc_org__Level_3__segmentation_data_computation__seg
              - Merge_cna__hg_cgh_415k_g4124a__hms_harvard_edu__Level_3__segmentation__seg
              - Merge_cna__illuminahiseq_dnaseqc__hms_harvard_edu__Level_3__segmentation__seg
              - Merge_exon__huex_1_0_st_v2__lbl_gov__Level_2__quantile_normalization_exon__data
              - Merge_exon__huex_1_0_st_v2__lbl_gov__Level_3__quantile_normalization_gene__data
              - Merge_exon__huex_1_0_st_v2__lbl_gov__Level_3__segmented_as_firma__data
              - Merge_methylation__humanmethylation27__jhu_usc_edu__Level_3__within_bioassay_data_set_function__data
              - Merge_methylation__humanmethylation450__jhu_usc_edu__Level_3__within_bioassay_data_set_function__data
              - Merge_mirna__h_mirna_8x15k__unc_edu__Level_3__unc_DWD_Batch_adjusted__data
              - Merge_mirna__h_mirna_8x15kv2__unc_edu__Level_3__unc_DWD_Batch_adjusted__data
              - Merge_mirnaseq__illuminaga_mirnaseq__bcgsc_ca__Level_3__miR_gene_expression__data
              - Merge_mirnaseq__illuminaga_mirnaseq__bcgsc_ca__Level_3__miR_isoform_expression__data
              - Merge_mirnaseq__illuminahiseq_mirnaseq__bcgsc_ca__Level_3__miR_gene_expression__data
              - Merge_mirnaseq__illuminahiseq_mirnaseq__bcgsc_ca__Level_3__miR_isoform_expression__data
              - Merge_protein_exp__mda_rppa_core__mdanderson_org__Level_3__protein_normalization__data
              - Merge_rnaseq__illuminaga_rnaseq__bcgsc_ca__Level_3__exon_expression__data
              - Merge_rnaseq__illuminaga_rnaseq__bcgsc_ca__Level_3__gene_expression__data
              - Merge_rnaseq__illuminaga_rnaseq__bcgsc_ca__Level_3__splice_junction_expression__data
              - Merge_rnaseq__illuminaga_rnaseq__unc_edu__Level_3__exon_expression__data
              - Merge_rnaseq__illuminaga_rnaseq__unc_edu__Level_3__gene_expression__data
              - Merge_rnaseq__illuminaga_rnaseq__unc_edu__Level_3__splice_junction_expression__data
              - Merge_rnaseq__illuminahiseq_rnaseq__bcgsc_ca__Level_3__exon_expression__data
              - Merge_rnaseq__illuminahiseq_rnaseq__bcgsc_ca__Level_3__gene_expression__data
              - Merge_rnaseq__illuminahiseq_rnaseq__bcgsc_ca__Level_3__splice_junction_expression__data
              - Merge_rnaseq__illuminahiseq_rnaseq__unc_edu__Level_3__exon_expression__data
              - Merge_rnaseq__illuminahiseq_rnaseq__unc_edu__Level_3__gene_expression__data
              - Merge_rnaseq__illuminahiseq_rnaseq__unc_edu__Level_3__splice_junction_expression__data
              - Merge_rnaseqv2__illuminaga_rnaseqv2__unc_edu__Level_3__exon_quantification__data
              - Merge_rnaseqv2__illuminaga_rnaseqv2__unc_edu__Level_3__junction_quantification__data
              - Merge_rnaseqv2__illuminaga_rnaseqv2__unc_edu__Level_3__RSEM_genes__data
              - Merge_rnaseqv2__illuminaga_rnaseqv2__unc_edu__Level_3__RSEM_genes_normalized__data
              - Merge_rnaseqv2__illuminaga_rnaseqv2__unc_edu__Level_3__RSEM_isoforms__data
              - Merge_rnaseqv2__illuminaga_rnaseqv2__unc_edu__Level_3__RSEM_isoforms_normalized__data
              - Merge_rnaseqv2__illuminahiseq_rnaseqv2__unc_edu__Level_3__exon_quantification__data
              - Merge_rnaseqv2__illuminahiseq_rnaseqv2__unc_edu__Level_3__junction_quantification__data
              - Merge_rnaseqv2__illuminahiseq_rnaseqv2__unc_edu__Level_3__RSEM_genes__data
              - Merge_rnaseqv2__illuminahiseq_rnaseqv2__unc_edu__Level_3__RSEM_genes_normalized__data
              - Merge_rnaseqv2__illuminahiseq_rnaseqv2__unc_edu__Level_3__RSEM_isoforms__data
              - Merge_rnaseqv2__illuminahiseq_rnaseqv2__unc_edu__Level_3__RSEM_isoforms_normalized__data
              - Merge_snp__genome_wide_snp_6__broad_mit_edu__Level_2__birdseed_genotype__birdseed
              - Merge_snp__genome_wide_snp_6__broad_mit_edu__Level_3__segmented_scna_hg18__seg
              - Merge_snp__genome_wide_snp_6__broad_mit_edu__Level_3__segmented_scna_hg19__seg
              - Merge_snp__genome_wide_snp_6__broad_mit_edu__Level_3__segmented_scna_minus_germline_cnv_hg18__seg
              - Merge_snp__genome_wide_snp_6__broad_mit_edu__Level_3__segmented_scna_minus_germline_cnv_hg19__seg
              - Merge_snp__human1mduo__hudsonalpha_org__Level_3__segmented_cna__seg
              - Merge_snp__human1mduo__hudsonalpha_org__Level_3__segmented_cnv__seg
              - Merge_snp__human1mduo__hudsonalpha_org__Level_3__segmented_loh__seg
              - Merge_snp__humanhap550__hudsonalpha_org__Level_3__segmented_cna__seg
              - Merge_snp__humanhap550__hudsonalpha_org__Level_3__segmented_cnv__seg
              - Merge_snp__humanhap550__hudsonalpha_org__Level_3__segmented_loh__seg
              - Merge_transcriptome__agilentg4502a_07_1__unc_edu__Level_2__unc_lowess_normalization_probe_level__data
              - Merge_transcriptome__agilentg4502a_07_1__unc_edu__Level_3__unc_lowess_normalization_gene_level__data
              - Merge_transcriptome__agilentg4502a_07_2__unc_edu__Level_2__unc_lowess_normalization_probe_level__data
              - Merge_transcriptome__agilentg4502a_07_2__unc_edu__Level_3__unc_lowess_normalization_gene_level__data
              - Merge_transcriptome__agilentg4502a_07_3__unc_edu__Level_2__unc_lowess_normalization_probe_level__data
              - Merge_transcriptome__agilentg4502a_07_3__unc_edu__Level_3__unc_lowess_normalization_gene_level__data
              - Merge_transcriptome__ht_hg_u133a__broad_mit_edu__Level_2__probeset_rma__data
              - Merge_transcriptome__ht_hg_u133a__broad_mit_edu__Level_3__gene_rma__data
              - Methylation_Preprocess
              - miRseq_Mature_Preprocess
              - miRseq_Preprocess
              - mRNA_Preprocess_Median
              - mRNAseq_Preprocess
              - Mutation_Packager_Calls
              - Mutation_Packager_Coverage
              - Mutation_Packager_Oncotated_Calls
              - Mutation_Packager_Oncotated_Raw_Calls
              - Mutation_Packager_Raw_Calls
              - Mutation_Packager_Raw_Coverage
              - RPPA_AnnotateWithGene
            type: string
          name: tool
          required: false
          type: array
        - description: Narrow search to one or more TCGA data generation platforms from the scrollable list.
          in: query
          items:
            enum:
              - "454"
              - ABI
              - AgilentG4502A_07
              - AgilentG4502A_07_1
              - AgilentG4502A_07_2
              - AgilentG4502A_07_3
              - bio
              - biotab
              - CGH-1x1M_G4447A
              - diagnostic_images
              - fh_analyses
              - fh_reports
              - fh_stddata
              - Genome_Wide_SNP_6
              - GenomeWideSNP_5
              - H-miRNA_8x15K
              - H-miRNA_8x15Kv2
              - H-miRNA_EarlyAccess
              - H-miRNA_G4470A
              - HG-CGH-244A
              - HG-CGH-415K_G4124A
              - HG-U133_Plus_2
              - HG-U133A_2
              - HT_HG-U133A
              - HuEx-1_0-st-v2
              - Human1MDuo
              - HumanHap550
              - HumanMethylation27
              - HumanMethylation450
              - IlluminaDNAMethylation_OMA002_CPI
              - IlluminaDNAMethylation_OMA003_CPI
              - IlluminaGA_DNASeq
              - IlluminaGA_DNASeq_automated
              - IlluminaGA_DNASeq_Cont
              - IlluminaGA_DNASeq_Cont_automated
              - IlluminaGA_DNASeq_Cont_curated
              - IlluminaGA_DNASeq_curated
              - IlluminaGA_miRNASeq
              - IlluminaGA_mRNA_DGE
              - IlluminaGA_RNASeq
              - IlluminaGA_RNASeqV2
              - IlluminaGG
              - IlluminaHiSeq_DNASeq
              - IlluminaHiSeq_DNASeq_automated
              - IlluminaHiSeq_DNASeq_Cont
              - IlluminaHiSeq_DNASeq_Cont_automated
              - IlluminaHiSeq_DNASeq_Cont_curated
              - IlluminaHiSeq_DNASeq_curated
              - IlluminaHiSeq_DNASeqC
              - IlluminaHiSeq_miRNASeq
              - IlluminaHiSeq_mRNA_DGE
              - IlluminaHiSeq_RNASeq
              - IlluminaHiSeq_RNASeqV2
              - IlluminaHiSeq_TotalRNASeqV2
              - IlluminaHiSeq_WGBS
              - Mapping250K_Nsp
              - Mapping250K_Sty
              - MDA_RPPA_Core
              - microsat_i
              - minbio
              - minbiotab
              - Mixed_DNASeq
              - Mixed_DNASeq_automated
              - Mixed_DNASeq_Cont
              - Mixed_DNASeq_Cont_automated
              - Mixed_DNASeq_Cont_curated
              - Mixed_DNASeq_curated
              - pathology_reports
              - SOLiD_DNASeq
              - SOLiD_DNASeq_automated
              - SOLiD_DNASeq_Cont
              - SOLiD_DNASeq_Cont_automated
              - SOLiD_DNASeq_Cont_curated
              - SOLiD_DNASeq_curated
              - tissue_images
              - WHG-1x44K_G4112A
              - WHG-4x44K_G4112F
              - WHG-CGH_4x44B
            type: string
          name: platform
          required: false
          type: array
        - description: Narrow search to one or more TCGA centers from the scrollable list.
          in: query
          items:
            enum:
              - bcgsc.ca
              - broad.mit.edu
              - broadinstitute.org
              - genome.wustl.edu
              - hgsc.bcm.edu
              - hms.harvard.edu
              - hudsonalpha.org
              - intgen.org
              - jhu-usc.edu
              - jhu.edu
              - lbl.gov
              - mdanderson.org
              - mskcc.org
              - nationwidechildrens.org
              - pnl.gov
              - rubicongenomics.com
              - sanger.ac.uk
              - systemsbiology.org
              - ucsc.edu
              - unc.edu
              - vanderbilt.edu
            type: string
          name: center
          required: false
          type: array
        - description: Narrow search to one or more TCGA data levels.
          in: query
          items:
            enum:
              - 1
              - 2
              - 3
              - 4
            format: int32
            type: integer
          name: level
          required: false
          type: array
        - description: Narrow search to one or more sample characterization protocols from the scrollable list.
          in: query
          items:
            enum:
              - birdseed_genotype
              - exon_expression
              - exon_quantification
              - gene_expression
              - gene_rma
              - junction_quantification
              - miR_gene_expression
              - miR_isoform_expression
              - probeset_rma
              - protein_normalization
              - quantile_normalization_exon
              - quantile_normalization_gene
              - RSEM_genes
              - RSEM_genes_normalized
              - RSEM_isoforms
              - RSEM_isoforms_normalized
              - segmentation
              - segmentation_data_computation
              - segmented_as_firma
              - segmented_cna
              - segmented_cnv
              - segmented_loh
              - segmented_scna_hg18
              - segmented_scna_hg19
              - segmented_scna_minus_germline_cnv_hg18
              - segmented_scna_minus_germline_cnv_hg19
              - splice_junction_expression
              - unc_DWD_Batch_adjusted
              - unc_lowess_normalization_gene_level
              - unc_lowess_normalization_probe_level
              - within_bioassay_data_set_function
            type: string
          name: protocol
          required: false
          type: array
        - description: "Which page (slice) of entire results set should be returned. "
          in: query
          items:
            default: 1
            format: int32
            minimum: 1
            type: integer
          name: page
          required: false
          type: array
        - description: Number of records per page of results.  Max is 2000.
          in: query
          items:
            default: 250
            format: int32
            maximum: 2000
            minimum: 1
            type: integer
          name: page_size
          required: false
          type: array
        - default: cohort
          description: Which column in the results should be used for sorting paginated results?
          enum:
            - cohort
            - protocol
            - center
            - data_type
            - level
            - tool
            - platform
            - date
          in: query
          name: sort_by
          required: false
          type: string
      responses:
        "200":
          description: No response was specified
      summary: Retrieve standard data archives.
      tags:
        - Archives
  /Metadata/Centers:
    get:
      description: By default this function returns a table of all consortium members in TCGA, aka centers; it provides both the HTTP domain and full organizational name of each center.  A subset of this table may be obtained by explicitly specifying one or more domain names.
      operationId: Centers
      parameters:
        - default: json
          description: Format of result.
          enum:
            - json
            - tsv
            - csv
          in: query
          name: format
          required: false
          type: string
        - description: Narrow search to one or more TCGA centers from the scrollable list.
          in: query
          items:
            enum:
              - bcgsc.ca
              - broad.mit.edu
              - broadinstitute.org
              - genome.wustl.edu
              - hgsc.bcm.edu
              - hms.harvard.edu
              - hudsonalpha.org
              - intgen.org
              - jhu-usc.edu
              - jhu.edu
              - lbl.gov
              - mdanderson.org
              - mskcc.org
              - nationwidechildrens.org
              - pnl.gov
              - rubicongenomics.com
              - sanger.ac.uk
              - systemsbiology.org
              - ucsc.edu
              - unc.edu
              - vanderbilt.edu
            type: string
          name: center
          required: false
          type: array
      responses:
        "200":
          description: No response was specified
      summary: Obtain identities of TCGA consortium member centers.
      tags:
        - Metadata
  /Metadata/ClinicalNames:
    get:
      description: Retrieve names of all patient-level clinical data elements (CDES) available in TCGA, unioned across all disease cohorts. A CDE will be listed here only when it has a value other than NA for at least 1 patient case in any disease cohort. For more information on how these CDEs are processed see our <a href="https://confluence.broadinstitute.org/display/GDAC/Documentation">pipeline documentation</a>.
      operationId: ClinicalNames
      parameters:
        - default: json
          description: Format of result.
          enum:
            - json
            - tsv
            - csv
          in: query
          name: format
          required: false
          type: string
      responses:
        "200":
          description: No response was specified
      summary: Retrieve names of all TCGA clinical data elements (CDEs).
      tags:
        - Metadata
  /Metadata/ClinicalNames_FH:
    get:
      description: This service returns the names of patient-level clinical data elements (CDEs) that have been normalized by Firehose for use in analyses, unioned across all disease cohorts. For more information on how these CDEs are processed, see our <a href="https://confluence.broadinstitute.org/display/GDAC/Documentation">pipeline documentation</a>.
      operationId: ClinicalNames_FH
      parameters:
        - default: json
          description: Format of result.
          enum:
            - json
            - tsv
            - csv
          in: query
          name: format
          required: false
          type: string
      responses:
        "200":
          description: No response was specified
      summary: Retrieve names of CDEs normalized by Firehose and selected for analyses.
      tags:
        - Metadata
  /Metadata/Cohorts:
    get:
      description: By default this function returns a table containing all TCGA cohort abbreviations and their corresponding disease names.  A subset of that table may be obtained by explicitly specifying one or more cohort abbreviations.
      operationId: Cohorts
      parameters:
        - default: json
          description: Format of result.
          enum:
            - json
            - tsv
            - csv
          in: query
          name: format
          required: false
          type: string
        - description: Narrow search to one or more TCGA disease cohorts from the scrollable list.
          in: query
          items:
            enum:
              - ACC
              - BLCA
              - BRCA
              - CESC
              - CHOL
              - COAD
              - COADREAD
              - DLBC
              - ESCA
              - FPPP
              - GBM
              - GBMLGG
              - HNSC
              - KICH
              - KIPAN
              - KIRC
              - KIRP
              - LAML
              - LGG
              - LIHC
              - LUAD
              - LUSC
              - MESO
              - OV
              - PAAD
              - PCPG
              - PRAD
              - READ
              - SARC
              - SKCM
              - STAD
              - STES
              - TGCT
              - THCA
              - THYM
              - UCEC
              - UCS
              - UVM
            type: string
          name: cohort
          required: false
          type: array
      responses:
        "200":
          description: No response was specified
      summary: Translate TCGA cohort abbreviations to full disease names.
      tags:
        - Metadata
  /Metadata/Counts:
    get:
      description: |-
        Returns the aliquot counts for each disease cohort, per sample
        type and data type.  The sample type designation of "Tumor"
        may be used to aggregate the count of all tumor aliquots into
        a single number per disease and data type. See the SampleTypes
        function for a complete description of sample types.
      operationId: Counts
      parameters:
        - default: json
          description: Format of result.
          enum:
            - json
            - tsv
            - csv
          in: query
          name: format
          required: false
          type: string
        - description: Select one or more date stamps.
          in: query
          items:
            enum:
              - 2016_01_28
              - 2015_11_01
              - 2015_08_21
              - 2015_06_01
              - 2015_04_02
              - 2015_02_04
              - 2014_12_06
              - 2014_10_17
              - 2014_09_02
              - 2014_07_15
              - 2014_05_18
              - 2014_04_16
              - 2014_03_16
            format: date
            type: string
          name: date
          required: false
          type: array
        - description: Narrow search to one or more TCGA disease cohorts from the scrollable list.
          in: query
          items:
            enum:
              - ACC
              - BLCA
              - BRCA
              - CESC
              - CHOL
              - COAD
              - COADREAD
              - DLBC
              - ESCA
              - FPPP
              - GBM
              - GBMLGG
              - HNSC
              - KICH
              - KIPAN
              - KIRC
              - KIRP
              - LAML
              - LGG
              - LIHC
              - LUAD
              - LUSC
              - MESO
              - OV
              - PAAD
              - PCPG
              - PRAD
              - READ
              - SARC
              - SKCM
              - STAD
              - STES
              - TGCT
              - THCA
              - THYM
              - UCEC
              - UCS
              - UVM
            type: string
          name: cohort
          required: false
          type: array
        - description: Narrow search to one or more TCGA sample types from the scrollable list.
          in: query
          items:
            enum:
              - FFPE
              - NB
              - NBC
              - NBM
              - NT
              - TAM
              - TAP
              - TB
              - TM
              - TP
              - TR
              - Tumor
            type: string
          name: sample_type
          required: false
          type: array
        - description: Narrow search to one or more TCGA data types from the scrollable list.
          in: query
          items:
            enum:
              - bcr
              - clinical
              - cn
              - lowp
              - methylation
              - mrna
              - mrnaseq
              - mir
              - mirseq
              - rppa
              - maf
              - rawmaf
            type: string
          name: data_type
          required: false
          type: array
        - default: true
          description: Output an entry providing the totals for each data type.
          in: query
          name: totals
          required: false
          type: boolean
        - default: cohort
          description: Which column in the results should be used for sorting paginated results?
          enum:
            - cohort
          in: query
          name: sort_by
          required: false
          type: string
      responses:
        "200":
          description: No response was specified
      summary: Retrieve sample counts.
      tags:
        - Metadata
  /Metadata/Dates:
    get:
      operationId: Dates
      parameters:
        - default: json
          description: Format of result.
          enum:
            - json
            - tsv
            - csv
          in: query
          name: format
          required: false
          type: string
      responses:
        "200":
          description: No response was specified
      summary: Retrieve dates of all GDAC Firehose stddata & analyses runs that have been ingested into FireBrowse.
      tags:
        - Metadata
  /Metadata/HeartBeat:
    get:
      description: Returns a message to indicate that API (server) is up and running, or times out if not.
      operationId: HeartBeat
      parameters:
        - default: json
          description: Format of result.
          enum:
            - json
            - tsv
            - csv
          in: query
          name: format
          required: false
          type: string
      responses:
        "200":
          description: No response was specified
      summary: Simple way to discern whether API server is up and running
      tags:
        - Metadata
  /Metadata/MAFColNames:
    get:
      description: Retrieve the names of all columns in the mutation annotation files (MAFs) hosted by FireBrowse.  For more information on the mutation data, and how it is processed by Firehose, please consult the <a href="https://confluence.broadinstitute.org/display/GDAC/Documentation#Documentation-MutationPipelines">pipeline documentation</a>.
      operationId: MAFColNames
      parameters:
        - default: json
          description: Format of result.
          enum:
            - json
            - tsv
            - csv
          in: query
          name: format
          required: false
          type: string
      responses:
        "200":
          description: No response was specified
      summary: Retrieve names of all columns in the mutation annotation files (MAFs) served by FireBrowse.
      tags:
        - Metadata
  /Metadata/Patients:
    get:
      description: This service returns a list of all TCGA patient barcodes in FireBrowse, optionally filtered by disease cohort.  The barcodes are obtained directy from the clinical data.
      operationId: Patients
      parameters:
        - default: json
          description: Format of result.
          enum:
            - json
            - tsv
            - csv
          in: query
          name: format
          required: false
          type: string
        - description: Narrow search to one or more TCGA disease cohorts from the scrollable list.
          in: query
          items:
            enum:
              - ACC
              - BLCA
              - BRCA
              - CESC
              - CHOL
              - COAD
              - COADREAD
              - DLBC
              - ESCA
              - FPPP
              - GBM
              - GBMLGG
              - HNSC
              - KICH
              - KIPAN
              - KIRC
              - KIRP
              - LAML
              - LGG
              - LIHC
              - LUAD
              - LUSC
              - MESO
              - OV
              - PAAD
              - PCPG
              - PRAD
              - READ
              - SARC
              - SKCM
              - STAD
              - STES
              - TGCT
              - THCA
              - THYM
              - UCEC
              - UCS
              - UVM
            type: string
          name: cohort
          required: false
          type: array
        - description: "Which page (slice) of entire results set should be returned. "
          in: query
          items:
            default: 1
            format: int32
            minimum: 1
            type: integer
          name: page
          required: false
          type: array
        - description: Number of records per page of results.  Max is 2000.
          in: query
          items:
            default: 250
            format: int32
            maximum: 2000
            minimum: 1
            type: integer
          name: page_size
          required: false
          type: array
        - default: cohort
          description: Which column in the results should be used for sorting paginated results?
          enum:
            - cohort
          in: query
          name: sort_by
          required: false
          type: string
      responses:
        "200":
          description: No response was specified
      summary: Retrieve list of all TCGA patients.
      tags:
        - Metadata
  /Metadata/Platforms:
    get:
      description: By default this function returns a table of all of the technology platforms used to sequence or characterize samples in TCGA--both their short platform codes and full names.  A subset of this table may be obtained by explicitly specifying one or more platform codes.
      operationId: Platforms
      parameters:
        - default: json
          description: Format of result.
          enum:
            - json
            - tsv
            - csv
          in: query
          name: format
          required: false
          type: string
        - description: Narrow search to one or more TCGA data generation platforms from the scrollable list.
          in: query
          items:
            enum:
              - "454"
              - ABI
              - AgilentG4502A_07
              - AgilentG4502A_07_1
              - AgilentG4502A_07_2
              - AgilentG4502A_07_3
              - bio
              - biotab
              - CGH-1x1M_G4447A
              - diagnostic_images
              - fh_analyses
              - fh_reports
              - fh_stddata
              - Genome_Wide_SNP_6
              - GenomeWideSNP_5
              - H-miRNA_8x15K
              - H-miRNA_8x15Kv2
              - H-miRNA_EarlyAccess
              - H-miRNA_G4470A
              - HG-CGH-244A
              - HG-CGH-415K_G4124A
              - HG-U133_Plus_2
              - HG-U133A_2
              - HT_HG-U133A
              - HuEx-1_0-st-v2
              - Human1MDuo
              - HumanHap550
              - HumanMethylation27
              - HumanMethylation450
              - IlluminaDNAMethylation_OMA002_CPI
              - IlluminaDNAMethylation_OMA003_CPI
              - IlluminaGA_DNASeq
              - IlluminaGA_DNASeq_automated
              - IlluminaGA_DNASeq_Cont
              - IlluminaGA_DNASeq_Cont_automated
              - IlluminaGA_DNASeq_Cont_curated
              - IlluminaGA_DNASeq_curated
              - IlluminaGA_miRNASeq
              - IlluminaGA_mRNA_DGE
              - IlluminaGA_RNASeq
              - IlluminaGA_RNASeqV2
              - IlluminaGG
              - IlluminaHiSeq_DNASeq
              - IlluminaHiSeq_DNASeq_automated
              - IlluminaHiSeq_DNASeq_Cont
              - IlluminaHiSeq_DNASeq_Cont_automated
              - IlluminaHiSeq_DNASeq_Cont_curated
              - IlluminaHiSeq_DNASeq_curated
              - IlluminaHiSeq_DNASeqC
              - IlluminaHiSeq_miRNASeq
              - IlluminaHiSeq_mRNA_DGE
              - IlluminaHiSeq_RNASeq
              - IlluminaHiSeq_RNASeqV2
              - IlluminaHiSeq_TotalRNASeqV2
              - IlluminaHiSeq_WGBS
              - Mapping250K_Nsp
              - Mapping250K_Sty
              - MDA_RPPA_Core
              - microsat_i
              - minbio
              - minbiotab
              - Mixed_DNASeq
              - Mixed_DNASeq_automated
              - Mixed_DNASeq_Cont
              - Mixed_DNASeq_Cont_automated
              - Mixed_DNASeq_Cont_curated
              - Mixed_DNASeq_curated
              - pathology_reports
              - SOLiD_DNASeq
              - SOLiD_DNASeq_automated
              - SOLiD_DNASeq_Cont
              - SOLiD_DNASeq_Cont_automated
              - SOLiD_DNASeq_Cont_curated
              - SOLiD_DNASeq_curated
              - tissue_images
              - WHG-1x44K_G4112A
              - WHG-4x44K_G4112F
              - WHG-CGH_4x44B
            type: string
          name: platform
          required: false
          type: array
      responses:
        "200":
          description: No response was specified
      summary: Translate TCGA platform codes to full platform names.
      tags:
        - Metadata
  "/Metadata/SampleType/Barcode/{TCGA_Barcode}":
    get:
      operationId: Barcode
      parameters:
        - default: json
          description: Format of result.
          enum:
            - json
            - tsv
            - csv
          in: query
          name: format
          required: false
          type: string
        - description: "Enter a single TCGA barcode, of any form: e.g. TCGA-GF-A4EO-06 or TCGA-EL-A3D5-01A-22D-A202-08"
          in: path
          name: TCGA_Barcode
          required: true
          type: string
      responses:
        "200":
          description: No response was specified
      summary: Given a TCGA barcode, return its short letter sample type code.
      tags:
        - Metadata
  "/Metadata/SampleType/Code/{code}":
    get:
      description: Convert a TCGA numeric sample type code (e.g. 01, 02) to its corresponding symbolic (short letter) code (e.g. TP, TR).
      operationId: Code
      parameters:
        - default: json
          description: Format of result.
          enum:
            - json
            - tsv
            - csv
          in: query
          name: format
          required: false
          type: string
        - description: Narrow search to one or more TCGA sample type codes.
          in: path
          items:
            enum:
              - "01"
              - "03"
              - "07"
              - 9
              - "12"
              - "20"
              - "40"
              - "02"
              - "04"
              - "05"
              - "06"
              - 8
              - "10"
              - "11"
              - "13"
              - "14"
              - "50"
              - "60"
              - "61"
            type: string
          name: code
          required: true
          type: array
      responses:
        "200":
          description: No response was specified
      summary: Translate from numeric to symbolic TCGA sample codes.
      tags:
        - Metadata
  "/Metadata/SampleType/ShortLetterCode/{short_letter_code}":
    get:
      description: Convert a TCGA sample type code in symbolic form (or 'short letter code' like TP, TR) to its corresponding numeric form (e.g. 01, 02).
      operationId: ShortLetterCode
      parameters:
        - default: json
          description: Format of result.
          enum:
            - json
            - tsv
            - csv
          in: query
          name: format
          required: false
          type: string
        - description: "TCGA sample type short letter code(s) (e.g. TP, NB, etc.). "
          in: path
          items:
            enum:
              - TP
              - TB
              - TAM
              - TBM
              - NBC
              - CELLC
              - TRB
              - TR
              - TRBM
              - TAP
              - TM
              - THOC
              - NB
              - NT
              - NEBV
              - NBM
              - CELL
              - XP
              - XCL
            type: string
          name: short_letter_code
          required: true
          type: array
      responses:
        "200":
          description: No response was specified
      summary: Translate from symbolic to numeric TCGA sample codes.
      tags:
        - Metadata
  /Metadata/SampleTypes:
    get:
      operationId: SampleTypes
      parameters:
        - default: json
          description: Format of result.
          enum:
            - json
            - tsv
            - csv
          in: query
          name: format
          required: false
          type: string
      responses:
        "200":
          description: No response was specified
      summary: Return all TCGA sample type codes, both numeric and symbolic.
      tags:
        - Metadata
  /Metadata/TSSites:
    get:
      description: By default this function returns a table of all sites which contributed source tissue to TCGA, aka TSS's. A subset of this table may be obtained by explicitly specifying one or more sites.
      operationId: TSSites
      parameters:
        - default: json
          description: Format of result.
          enum:
            - json
            - tsv
            - csv
          in: query
          name: format
          required: false
          type: string
        - description: Narrow search to one or more TSS codes
          in: query
          items:
            enum:
              - "01"
              - "02"
              - "04"
              - "05"
              - "06"
              - "07"
              - 8
              - 9
              - "10"
              - "11"
              - "12"
              - "13"
              - "14"
              - "15"
              - "16"
              - "17"
              - "18"
              - "19"
              - 1Z
              - "20"
              - "21"
              - "22"
              - "23"
              - "24"
              - "25"
              - "26"
              - "27"
              - "28"
              - "29"
              - 2A
              - 2E
              - 2F
              - 2G
              - 2H
              - 2J
              - 2K
              - 2L
              - 2M
              - 2N
              - 2P
              - 2V
              - 2W
              - 2X
              - 2Y
              - 2Z
              - "30"
              - "31"
              - "32"
              - "33"
              - "34"
              - "35"
              - "36"
              - "37"
              - "38"
              - "39"
              - 3A
              - 3B
              - 3C
              - 3E
              - 3G
              - 3H
              - 3J
              - 3K
              - 3L
              - 3M
              - 3N
              - 3P
              - 3Q
              - 3R
              - 3S
              - 3T
              - 3U
              - 3W
              - 3X
              - 3Z
              - "41"
              - "42"
              - "43"
              - "44"
              - "46"
              - "49"
              - 4A
              - 4B
              - 4C
              - 4D
              - 4E
              - 4G
              - 4H
              - 4J
              - 4K
              - 4L
              - 4N
              - 4P
              - 4Q
              - 4R
              - 4S
              - 4T
              - 4V
              - 4W
              - 4X
              - 4Y
              - 4Z
              - "50"
              - "51"
              - "52"
              - "53"
              - "55"
              - "56"
              - "57"
              - "58"
              - "59"
              - 5A
              - 5B
              - 5C
              - 5D
              - 5F
              - 5G
              - 5H
              - 5J
              - 5K
              - 5L
              - 5M
              - 5N
              - 5P
              - 5Q
              - 5R
              - 5S
              - 5T
              - 5U
              - 5V
              - 5W
              - 5X
              - "60"
              - "61"
              - "62"
              - "63"
              - "64"
              - "65"
              - "66"
              - "67"
              - "68"
              - "69"
              - 6A
              - 6D
              - 6G
              - 6H
              - "70"
              - "71"
              - "72"
              - "73"
              - "74"
              - "75"
              - "76"
              - "77"
              - "78"
              - "79"
              - "80"
              - "81"
              - "82"
              - "83"
              - "85"
              - "86"
              - "87"
              - "90"
              - "91"
              - "92"
              - "93"
              - "94"
              - "95"
              - "96"
              - "97"
              - "98"
              - "99"
              - A1
              - A2
              - A3
              - A4
              - A5
              - A6
              - A7
              - A8
              - AA
              - AB
              - AC
              - AD
              - AF
              - AG
              - AH
              - AJ
              - AK
              - AL
              - AM
              - AN
              - AO
              - AP
              - AQ
              - AR
              - AS
              - AT
              - AU
              - AV
              - AW
              - AX
              - AY
              - AZ
              - B0
              - B1
              - B2
              - B3
              - B4
              - B5
              - B6
              - B7
              - B8
              - B9
              - BA
              - BB
              - BC
              - BD
              - BF
              - BG
              - BH
              - BI
              - BJ
              - BK
              - BL
              - BM
              - BP
              - BQ
              - BR
              - BS
              - BT
              - BW
              - C4
              - C5
              - C8
              - C9
              - CA
              - CB
              - CC
              - CD
              - CE
              - CF
              - CG
              - CH
              - CI
              - CJ
              - CK
              - CL
              - CM
              - CN
              - CQ
              - CR
              - CS
              - CU
              - CV
              - CW
              - CX
              - CZ
              - D1
              - D3
              - D5
              - D6
              - D7
              - D8
              - D9
              - DA
              - DB
              - DC
              - DD
              - DE
              - DF
              - DG
              - DH
              - DI
              - DJ
              - DK
              - DM
              - DO
              - DQ
              - DR
              - DS
              - DT
              - DU
              - DV
              - DW
              - DX
              - DY
              - DZ
              - E1
              - E2
              - E3
              - E5
              - E6
              - E7
              - E8
              - E9
              - EA
              - EB
              - EC
              - ED
              - EE
              - EF
              - EI
              - EJ
              - EK
              - EL
              - EM
              - EO
              - EP
              - EQ
              - ER
              - ES
              - ET
              - EU
              - EV
              - EW
              - EX
              - EY
              - EZ
              - F1
              - F2
              - F4
              - F5
              - F6
              - F7
              - F9
              - FA
              - FB
              - FC
              - FD
              - FE
              - FF
              - FG
              - FH
              - FI
              - FJ
              - FK
              - FL
              - FM
              - FN
              - FP
              - FQ
              - FR
              - FS
              - FT
              - FU
              - FV
              - FW
              - FX
              - FY
              - FZ
              - G2
              - G3
              - G4
              - G5
              - G6
              - G7
              - G8
              - G9
              - GC
              - GD
              - GE
              - GF
              - GG
              - GH
              - GI
              - GJ
              - GK
              - GL
              - GM
              - GN
              - GP
              - GR
              - GS
              - GU
              - GV
              - GZ
              - H1
              - H2
              - H3
              - H4
              - H5
              - H6
              - H7
              - H8
              - H9
              - HA
              - HB
              - HC
              - HD
              - HE
              - HF
              - HG
              - HH
              - HI
              - HJ
              - HK
              - HL
              - HM
              - HN
              - HP
              - HQ
              - HR
              - HS
              - HT
              - HU
              - HV
              - HW
              - HZ
              - IA
              - IB
              - IC
              - IE
              - IF
              - IG
              - IH
              - IJ
              - IK
              - IM
              - IN
              - IP
              - IQ
              - IR
              - IS
              - IW
              - IZ
              - J1
              - J2
              - J4
              - J7
              - J8
              - J9
              - JA
              - JL
              - JU
              - JV
              - JW
              - JX
              - JY
              - JZ
              - K1
              - K4
              - K6
              - K7
              - K8
              - KA
              - KB
              - KC
              - KD
              - KE
              - KF
              - KG
              - KH
              - KJ
              - KK
              - KL
              - KM
              - KN
              - KO
              - KP
              - KQ
              - KR
              - KS
              - KT
              - KU
              - KV
              - KZ
              - L1
              - L3
              - L4
              - L5
              - L6
              - L7
              - L8
              - L9
              - LA
              - LB
              - LC
              - LD
              - LG
              - LH
              - LI
              - LK
              - LL
              - LN
              - LP
              - LQ
              - LS
              - LT
              - M7
              - M8
              - M9
              - MA
              - MB
              - ME
              - MF
              - MG
              - MH
              - MI
              - MJ
              - MK
              - ML
              - MM
              - MN
              - MO
              - MP
              - MQ
              - MR
              - MS
              - MT
              - MU
              - MV
              - MW
              - MX
              - MY
              - MZ
              - N1
              - N5
              - N6
              - N7
              - N8
              - N9
              - NA
              - NB
              - NC
              - ND
              - NF
              - NG
              - NH
              - NI
              - NJ
              - NK
              - NM
              - NP
              - NQ
              - NS
              - O1
              - O2
              - O8
              - O9
              - OC
              - OD
              - OE
              - OJ
              - OK
              - OL
              - OR
              - OU
              - OW
              - OX
              - OY
              - P3
              - P4
              - P5
              - P6
              - P7
              - P8
              - P9
              - PA
              - PB
              - PC
              - PD
              - PE
              - PG
              - PH
              - PJ
              - PK
              - PL
              - PN
              - PQ
              - PR
              - PT
              - PZ
              - Q1
              - Q2
              - Q3
              - Q4
              - Q9
              - QA
              - QB
              - QC
              - QD
              - QF
              - QG
              - QH
              - QJ
              - QK
              - QL
              - QM
              - QN
              - QQ
              - QR
              - QS
              - QT
              - QU
              - QV
              - QW
              - R1
              - R2
              - R3
              - R5
              - R6
              - R7
              - R8
              - R9
              - RA
              - RB
              - RC
              - RD
              - RE
              - RG
              - RH
              - RL
              - RM
              - RN
              - RP
              - RQ
              - RR
              - RS
              - RT
              - RU
              - RV
              - RW
              - RX
              - RY
              - RZ
              - S2
              - S3
              - S4
              - S5
              - S6
              - S7
              - S8
              - S9
              - SA
              - SB
              - SC
              - SD
              - SE
              - SG
              - SH
              - SI
              - SJ
              - SK
              - SL
              - SN
              - SO
              - SP
              - SQ
              - SR
              - SS
              - ST
              - SU
              - SW
              - SX
              - SY
              - T1
              - T2
              - T3
              - T6
              - T7
              - T9
              - TE
              - TG
              - TK
              - TL
              - TM
              - TN
              - TP
              - TQ
              - TR
              - TS
              - TT
              - TV
              - UB
              - UC
              - UD
              - UE
              - UF
              - UJ
              - UL
              - UN
              - UP
              - UR
              - US
              - UT
              - UU
              - UV
              - UW
              - UY
              - UZ
              - V1
              - V2
              - V3
              - V4
              - V5
              - V6
              - V7
              - V8
              - V9
              - VA
              - VB
              - VD
              - VF
              - VG
              - VK
              - VL
              - VM
              - VN
              - VP
              - VQ
              - VR
              - VS
              - VT
              - VV
              - VW
              - VX
              - VZ
              - W2
              - W3
              - W4
              - W5
              - W6
              - W7
              - W8
              - W9
              - WA
              - WB
              - WC
              - WD
              - WE
              - WF
              - WG
              - WH
              - WJ
              - WK
              - WL
              - WM
              - WN
              - WP
              - WQ
              - WR
              - WS
              - WT
              - WU
              - WW
              - WX
              - WY
              - WZ
              - X2
              - X3
              - X4
              - X5
              - X6
              - X7
              - X8
              - X9
              - XA
              - XB
              - XC
              - XD
              - XE
              - XF
              - XG
              - XH
              - XJ
              - XK
              - XM
              - XN
              - XP
              - XQ
              - XR
              - XS
              - XT
              - XU
              - XV
              - XX
              - XY
              - Y3
              - Y5
              - Y6
              - Y8
              - YA
              - YB
              - YC
              - YD
              - YF
              - YG
              - YH
              - YJ
              - YL
              - YN
              - YR
              - YS
              - YT
              - YU
              - YV
              - YW
              - YX
              - YY
              - YZ
              - Z2
              - Z3
              - Z4
              - Z5
              - Z6
              - Z7
              - Z8
              - ZA
              - ZB
              - ZC
              - ZD
              - ZE
              - ZF
              - ZG
              - ZH
              - ZJ
              - ZK
              - ZL
              - ZM
              - ZN
              - ZP
              - ZQ
              - ZR
              - ZS
              - ZT
              - ZU
              - ZW
              - ZX
            type: string
          name: tss_code
          required: false
          type: array
      responses:
        "200":
          description: No response was specified
      summary: Obtain identities of tissue source sites in TCGA.
      tags:
        - Metadata
  /Samples/Clinical:
    get:
      description: This service returns patient clinical data from TCGA, verbatim. It differs from the Samples/Clinical_FH method by providing access to all TCGA CDEs in their original form, not merely the subset of CDEs normalized by Firehose for analyses.  Results may be selected by disease cohort, patient barcode or CDE name, but at least one cohort, barcode, or CDE must be provided. When filtering by CDE note that only when a patient record contains one or more of the selected CDEs will it be returned. Visit the Metadata/ClinicalNames api function to see the entire list of TCGA CDEs that may be queried via this method. For more information on how clinical data are processed, see our <a href="https://confluence.broadinstitute.org/display/GDAC/Documentation#Documentation-ClinicalPipeline">pipeline documentation</a>.
      operationId: Clinical
      parameters:
        - default: json
          description: Format of result.
          enum:
            - json
            - tsv
            - csv
          in: query
          name: format
          required: false
          type: string
        - description: Narrow search to one or more TCGA disease cohorts from the scrollable list.
          in: query
          items:
            enum:
              - ACC
              - BLCA
              - BRCA
              - CESC
              - CHOL
              - COAD
              - COADREAD
              - DLBC
              - ESCA
              - FPPP
              - GBM
              - GBMLGG
              - HNSC
              - KICH
              - KIPAN
              - KIRC
              - KIRP
              - LAML
              - LGG
              - LIHC
              - LUAD
              - LUSC
              - MESO
              - OV
              - PAAD
              - PCPG
              - PRAD
              - READ
              - SARC
              - SKCM
              - STAD
              - STES
              - TGCT
              - THCA
              - THYM
              - UCEC
              - UCS
              - UVM
            type: string
          name: cohort
          required: false
          type: array
        - description: Comma separated list of TCGA participant barcodes (e.g. TCGA-GF-A4EO).
          in: query
          items:
            type: string
          name: tcga_participant_barcode
          required: false
          type: array
        - description: Retrieve results only for specified CDEs, per the Metadata/ClinicalNames function
          in: query
          items:
            type: string
          name: cde_name
          required: false
          type: array
        - description: "Which page (slice) of entire results set should be returned. "
          in: query
          items:
            default: 1
            format: int32
            minimum: 1
            type: integer
          name: page
          required: false
          type: array
        - description: Number of records per page of results.  Max is 2000.
          in: query
          items:
            default: 150
            format: int32
            maximum: 2000
            minimum: 1
            type: integer
          name: page_size
          required: false
          type: array
        - default: cohort
          description: Which column in the results should be used for sorting paginated results?
          enum:
            - tcga_participant_barcode
            - cohort
            - cde_name
          in: query
          name: sort_by
          required: false
          type: string
      responses:
        "200":
          description: No response was specified
      summary: Retrieve TCGA CDEs verbatim, i.e. not normalized by Firehose.
      tags:
        - Samples
  /Samples/Clinical_FH:
    get:
      description: This service returns patient-level clinical data elements (CDEs) that have been normalized by Firehose for use in analyses. Results may be selected by disease cohort, patient barcode or CDE name, but at least one cohort, barcode or CDE must be provided. When filtering by CDE note that only when a  patient record contains one or more of the selected CDEs will it be returned. Visit <a href="http://gdac.broadinstitute.org/runs/info/clinical">this table of CDEs</a> to see what's available for every disase cohort; for more information on how these CDEs are processed see our <a href="https://confluence.broadinstitute.org/display/GDAC/Documentation#Documentation-ClinicalPipeline">pipeline documentation</a>.
      operationId: Clinical_FH
      parameters:
        - default: json
          description: Format of result.
          enum:
            - json
            - tsv
            - csv
          in: query
          name: format
          required: false
          type: string
        - description: Narrow search to one or more TCGA disease cohorts from the scrollable list.
          in: query
          items:
            enum:
              - ACC
              - BLCA
              - BRCA
              - CESC
              - CHOL
              - COAD
              - COADREAD
              - DLBC
              - ESCA
              - FPPP
              - GBM
              - GBMLGG
              - HNSC
              - KICH
              - KIPAN
              - KIRC
              - KIRP
              - LAML
              - LGG
              - LIHC
              - LUAD
              - LUSC
              - MESO
              - OV
              - PAAD
              - PCPG
              - PRAD
              - READ
              - SARC
              - SKCM
              - STAD
              - STES
              - TGCT
              - THCA
              - THYM
              - UCEC
              - UCS
              - UVM
            type: string
          name: cohort
          required: false
          type: array
        - description: Comma separated list of TCGA participant barcodes (e.g. TCGA-GF-A4EO).
          in: query
          items:
            type: string
          name: tcga_participant_barcode
          required: false
          type: array
[...]
