swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: DomainRegistrationProvider API Client
  version: 2018-02-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.DomainRegistration/stable/2018-02-01/DomainRegistrationProvider.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: web-DomainRegistrationProvider
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: API Version
    in: query
    name: api-version
    required: true
    type: string
  subscriptionIdParameter:
    description: Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.DomainRegistration/operations:
    get:
      description: Implements Csm operations Api to exposes the list of available Csm Apis under the resource provider
      operationId: DomainRegistrationProvider_ListOperations
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            description: Collection of Azure resource manager operation metadata.
            properties:
              nextLink:
                description: Link to next page of resources.
                readOnly: true
                type: string
              value:
                description: Collection of resources.
                items:
                  description: Description of an operation available for Microsoft.Web resource provider.
                  properties:
                    display:
                      description: Meta data about operation used for display in portal.
                      properties:
                        description:
                          type: string
                        operation:
                          type: string
                        provider:
                          type: string
                        resource:
                          type: string
                      type: object
                    name:
                      type: string
                    origin:
                      type: string
                    properties:
                      description: Properties available for a Microsoft.Web resource provider operation.
                      properties:
                        serviceSpecification:
                          description: Resource metrics service provided by Microsoft.Insights resource provider.
                          properties:
                            logSpecifications:
                              items:
                                description: Log Definition of a single resource metric.
                                properties:
                                  blobDuration:
                                    type: string
                                  displayName:
                                    type: string
                                  name:
                                    type: string
                                type: object
                              type: array
                            metricSpecifications:
                              items:
                                description: Definition of a single resource metric.
                                properties:
                                  aggregationType:
                                    type: string
                                  availabilities:
                                    items:
                                      description: Retention policy of a resource metric.
                                      properties:
                                        blobDuration:
                                          type: string
                                        timeGrain:
                                          type: string
                                      type: object
                                    type: array
                                  category:
                                    type: string
                                  dimensions:
                                    items:
                                      description: |-
                                        Dimension of a resource metric. For e.g. instance specific HTTP requests for a web app, 
                                        where instance name is dimension of the metric HTTP request
                                      properties:
                                        displayName:
                                          type: string
                                        internalName:
                                          type: string
                                        name:
                                          type: string
                                        toBeExportedForShoebox:
                                          type: boolean
                                      type: object
                                    type: array
                                  displayDescription:
                                    type: string
                                  displayName:
                                    type: string
                                  enableRegionalMdmAccount:
                                    type: boolean
                                  fillGapWithZero:
                                    type: boolean
                                  isInternal:
                                    type: boolean
                                  metricFilterPattern:
                                    type: string
                                  name:
                                    type: string
                                  sourceMdmAccount:
                                    type: string
                                  sourceMdmNamespace:
                                    type: string
                                  supportsInstanceLevelAggregation:
                                    type: boolean
                                  unit:
                                    type: string
                                type: object
                              type: array
                          type: object
                      type: object
                  type: object
                type: array
            required:
              - value
            type: object
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Implements Csm operations Api to exposes the list of available Csm Apis under the resource provider
      tags:
        - DomainRegistrationProvider
      x-ms-examples:
        List operations:
          parameters:
            api-version: 2018-02-01
          responses:
            "200":
              body:
                value:
                  - display:
                      description: Get the list of domains
                      operation: Get Domains
                      provider: Microsoft Domains
                      resource: Domain
                    name: Microsoft.DomainRegistration/domains/Read
                    origin: user,system
                  - display:
                      description: Add a new Domain or update an existing one
                      operation: Add or Update Domain
                      provider: Microsoft Domains
                      resource: Domain
                    name: Microsoft.DomainRegistration/domains/Write
                    origin: user,system
                  - display:
                      description: Delete an existing domain.
                      operation: Delete Domain
                      provider: Microsoft Domains
                      resource: Domain
                    name: Microsoft.DomainRegistration/domains/Delete
                    origin: user,system
                  - display:
                      description: Get a domain operation
                      operation: Get Domain Operation
                      provider: Microsoft Domains
                      resource: Domain operation
                    name: Microsoft.DomainRegistration/domains/operationresults/Read
                    origin: user,system
                  - display:
                      description: Generate a request for signing into domain control center.
                      operation: Generate Domain Control Center Single Sign On Request
                      provider: Microsoft Domains
                      resource: Domain Control Center Single Sign On Request
                    name: Microsoft.DomainRegistration/generateSsoRequest/Action
                    origin: user,system
                  - display:
                      description: Validate domain purchase object without submitting it
                      operation: Domain Purchase Info Validation
                      provider: Microsoft Domains
                      resource: Domain Validation
                    name: Microsoft.DomainRegistration/validateDomainRegistrationInformation/Action
                    origin: user,system
                  - display:
                      description: Check if a domain is available for purchase
                      operation: Check Domain Availability
                      provider: Microsoft Domains
                      resource: Domain Availability Result
                    name: Microsoft.DomainRegistration/checkDomainAvailability/Action
                    origin: user,system
                  - display:
                      description: Retrieve the list domain recommendations based on keywords
                      operation: Retrieve Domain Recommendations
                      provider: Microsoft Domains
                      resource: Domain Recommendations
                    name: Microsoft.DomainRegistration/listDomainRecommendations/Action
                    origin: user,system
                  - display:
                      description: Register the Microsoft Domains resource provider for the subscription
                      operation: Register Microsoft Domains resource provider
                      provider: Microsoft Domains
                      resource: Microsoft Domains resource provider
                    name: Microsoft.DomainRegistration/register/action
                    origin: user,system
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
definitions: {}
