openapi: 3.0.1
servers:
  - description: FraudLabs Pro
    url: https://api.fraudlabspro.com
  - description: SwaggerHub API Auto Mocking
    url: https://virtserver.swaggerhub.com/fraudlabspro/fraudlabspro/1.0
info:
  contact:
    x-twitter: fraudlabspro
  description: Online payment fraud detection service. It helps merchants to minimize chargebacks and therefore maximize the revenue. It can be used to detect fraud for various kinds of payment method, such as credit card, paypal, cod and so on. Please visit https://www.fraudlabspro.com to learn more.
  title: FraudLabs Pro Fraud Detection
  version: "1.1"
  x-apisguru-categories:
    - ecommerce
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_fraudlabspro_profile_image.png
  x-origin:
    - converter:
        url: https://github.com/lucybot/api-spec-converter
        version: 2.7.31
      format: openapi
      url: https://app.swaggerhub.com/apiproxy/schema/file/fraudlabspro/fraudlabspro-fraud-detection/1.1/swagger.json
      version: "3.0"
  x-providerName: fraudlabspro.com
  x-serviceName: fraud-detection
paths:
  /v1/order/feedback:
    post:
      description: Feedback the status of an order transaction.
      parameters:
        - in: query
          name: id
          required: true
          schema:
            type: string
        - in: query
          name: key
          required: true
          schema:
            type: string
        - in: query
          name: format
          schema:
            enum:
              - json
              - xml
            type: string
        - in: query
          name: action
          required: true
          schema:
            enum:
              - APPROVE
              - REJECT
              - REJECT_BLACKLIST
            type: string
        - allowEmptyValue: true
          in: query
          name: notes
          schema:
            type: string
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                "0":
                  value: '{"fraudlabspro_error_code":"","fraudlabspro_message":""}'
              schema:
                type: string
          description: Feedback order response
  /v1/order/screen:
    post:
      description: Screen order for payment fraud.
      parameters:
        - in: query
          name: ip
          required: true
          schema:
            type: string
        - in: query
          name: key
          required: true
          schema:
            type: string
        - in: query
          name: format
          schema:
            enum:
              - json
              - xml
            type: string
        - allowEmptyValue: true
          in: query
          name: last_name
          schema:
            type: string
        - allowEmptyValue: true
          in: query
          name: first_name
          schema:
            type: string
        - allowEmptyValue: true
          in: query
          name: bill_addr
          schema:
            type: string
        - allowEmptyValue: true
          in: query
          name: bill_city
          schema:
            type: string
        - allowEmptyValue: true
          in: query
          name: bill_state
          schema:
            type: string
        - allowEmptyValue: true
          in: query
          name: bill_country
          schema:
            type: string
        - allowEmptyValue: true
          in: query
          name: bill_zip_code
          schema:
            type: string
        - allowEmptyValue: true
          in: query
          name: ship_addr
          schema:
            type: string
        - allowEmptyValue: true
          in: query
          name: ship_city
          schema:
            type: string
        - allowEmptyValue: true
          in: query
          name: ship_state
          schema:
            type: string
        - in: query
          name: ship_country
          schema:
            type: string
        - allowEmptyValue: true
          in: query
          name: ship_zip_code
          schema:
            type: string
        - allowEmptyValue: true
          in: query
          name: email_domain
          schema:
            type: string
        - allowEmptyValue: true
          in: query
          name: user_phone
          schema:
            type: string
        - allowEmptyValue: true
          in: query
          name: email
          schema:
            type: string
        - allowEmptyValue: true
          in: query
          name: email_hash
          schema:
            type: string
        - allowEmptyValue: true
          in: query
          name: username_hash
          schema:
            type: string
        - allowEmptyValue: true
          in: query
          name: password_hash
          schema:
            type: string
        - allowEmptyValue: true
          in: query
          name: bin_no
          schema:
            type: string
        - allowEmptyValue: true
          in: query
          name: card_hash
          schema:
            type: string
        - allowEmptyValue: true
          in: query
          name: avs_result
          schema:
            type: string
        - allowEmptyValue: true
          in: query
          name: cvv_result
          schema:
            type: string
        - allowEmptyValue: true
          in: query
          name: user_order_id
          schema:
            type: string
        - allowEmptyValue: true
          in: query
          name: user_order_memo
          schema:
            type: string
        - allowEmptyValue: true
          in: query
          name: amount
          schema:
            type: number
        - allowEmptyValue: true
          in: query
          name: quantity
          schema:
            type: integer
        - allowEmptyValue: true
          in: query
          name: currency
          schema:
            type: string
        - allowEmptyValue: true
          in: query
          name: department
          schema:
            type: string
        - allowEmptyValue: true
          in: query
          name: payment_mode
          schema:
            type: string
        - allowEmptyValue: true
          in: query
          name: flp_checksum
          schema:
            type: string
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                "0":
                  value: '{"is_country_match":"","is_high_risk_country":"","distance_in_km":"-","distance_in_mile":"-","ip_country":"","ip_continent":"","ip_region":"","ip_city":"","ip_latitude":"","ip_longitude":"","ip_timezone":"","ip_elevation":"","ip_domain":"","ip_mobile_mnc":"","ip_mobile_mcc":"","ip_mobile_brand":"","ip_netspeed":"","ip_isp_name":"","ip_usage_type":"","is_free_email":"","is_new_domain_name":"","is_domain_exists":"","is_proxy_ip_address":"","is_bin_found":"","is_bin_country_match":"","is_bin_name_match":"","is_bin_phone_match":"","is_bin_prepaid":"","is_address_ship_forward":"NA","is_bill_ship_city_match":"","is_bill_ship_state_match":"","is_bill_ship_country_match":"","is_bill_ship_postal_match":"","is_ship_address_blacklist":"","is_phone_blacklist":"","is_ip_blacklist":"","is_email_blacklist":"","is_credit_card_blacklist":"","is_device_blacklist":"","is_user_blacklist":"","is_high_risk_username_password":"","is_export_controlled_country":"","is_malware_exploit":"","user_order_id":"","user_order_memo":"","fraudlabspro_score":0,"fraudlabspro_distribution":0,"fraudlabspro_status":"","fraudlabspro_id":"NA","fraudlabspro_version":"1.5.0","fraudlabspro_error_code":"","fraudlabspro_message":"","fraudlabspro_credits":"0"}'
              schema:
                type: string
          description: Screen order response
