swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  contact:
    email: azuremigrate@microsoft.com
    name: Microsoft
  description: Move your workloads to Azure.
  title: Azure Migrate
  version: 2018-02-02
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/migrate/resource-manager/Microsoft.Migrate/stable/2018-02-02/migrate.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: migrate
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  acceptLanguage:
    description: Standard request header. Used by service to respond to client in appropriate language.
    in: header
    name: Accept-Language
    type: string
    x-ms-parameter-location: client
  api-version:
    description: Standard request header. Used by service to identify API version used by client.
    enum:
      - 2018-02-02
    in: query
    name: api-version
    required: true
    type: string
  assessedMachineName:
    description: Unique name of an assessed machine evaluated as part of an assessment.
    in: path
    name: assessedMachineName
    required: true
    type: string
    x-ms-parameter-location: method
  assessmentName:
    description: Unique name of an assessment within a project.
    in: path
    name: assessmentName
    required: true
    type: string
    x-ms-parameter-location: method
  groupName:
    description: Unique name of a group within a project.
    in: path
    name: groupName
    required: true
    type: string
    x-ms-parameter-location: method
  locationName:
    description: Azure region in which the project is created.
    in: path
    name: locationName
    required: true
    type: string
    x-ms-parameter-location: method
  machineName:
    description: Unique name of a machine in private datacenter.
    in: path
    name: machineName
    required: true
    type: string
    x-ms-parameter-location: method
  projectName:
    description: Name of the Azure Migrate project.
    in: path
    name: projectName
    required: true
    type: string
    x-ms-parameter-location: method
  resourceGroupName:
    description: Name of the Azure Resource Group that project is part of.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionId:
    description: Azure Subscription Id in which project was created.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.Migrate/operations:
    get:
      description: Get a list of REST API supported by Microsoft.Migrate provider.
      operationId: Operations_List
      responses:
        "200":
          description: OK. Returns list of operations.
          schema:
            $ref: "#/definitions/OperationResultList"
      summary: Get list of operations supported in the API.
      x-ms-examples:
        Operations_List:
          parameters:
            api-version: 2018-02-02
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                value:
                  - display:
                      description: Reads a project
                      operation: Read
                      provider: Microsoft.Migrate
                      resource: Microsoft.Migrate/projects
                    name: Read
                    origin: user,system
                  - display:
                      description: Creates or updates a project
                      operation: Write
                      provider: Microsoft.Migrate
                      resource: Microsoft.Migrate/projects
                    name: Write
                    origin: user,system
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/providers/Microsoft.Migrate/locations/{locationName}/assessmentOptions":
    get:
      description: Get the available options for the properties of an assessment.
      operationId: AssessmentOptions_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/locationName"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/acceptLanguage"
      responses:
        "200":
          description: OK. Returns assessment options.
          schema:
            $ref: "#/definitions/AssessmentOptionsResultList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Get the assessment options.
      x-ms-examples:
        AssessmentOptions_Get:
          parameters:
            api-version: 2018-02-02
            locationName: SoutheastAsia
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                reservedInstanceVmFamilies:
                  - Dv2_series
                  - F_series
                  - Dv3_series
                  - DS_series
                  - DSv2_series
                  - Fs_series
                  - Dsv3_series
                  - Ev3_series
                  - Esv3_series
                  - D_series
                  - M_series
                  - Ls_series
                  - Fsv2_series
                  - H_series
                vmFamilies:
                  - category:
                      - GeneralPurpose
                    familyName: Standard_A0_A7
                    targetLocations:
                      - EastAsia
                      - SoutheastAsia
                      - AustraliaEast
                      - AustraliaSoutheast
                      - BrazilSouth
                      - CanadaCentral
                      - CanadaEast
                      - WestEurope
                      - NorthEurope
                      - CentralIndia
                      - SouthIndia
                      - WestIndia
                      - JapanEast
                      - JapanWest
                      - KoreaCentral
                      - KoreaSouth
                      - UkWest
                      - UkSouth
                      - NorthCentralUs
                      - EastUs
                      - WestUs2
                      - SouthCentralUs
                      - CentralUs
                      - EastUs2
                      - WestUs
                      - WestCentralUs
                      - ChinaNorth
                      - ChinaEast
                      - GermanyNortheast
                      - GermanyCentral
                      - USGovTexas
                      - USGovArizona
                      - USGovIowa
                      - USGovVirginia
                      - USDoDCentral
                      - USDoDEast
                  - category:
                      - GeneralPurpose
                    familyName: Basic_A0_A4
                    targetLocations:
                      - EastAsia
                      - SoutheastAsia
                      - AustraliaEast
                      - AustraliaSoutheast
                      - BrazilSouth
                      - CanadaCentral
                      - CanadaEast
                      - WestEurope
                      - NorthEurope
                      - CentralIndia
                      - SouthIndia
                      - WestIndia
                      - JapanEast
                      - JapanWest
                      - KoreaCentral
                      - KoreaSouth
                      - UkWest
                      - UkSouth
                      - NorthCentralUs
                      - EastUs
                      - WestUs2
                      - SouthCentralUs
                      - CentralUs
                      - EastUs2
                      - WestUs
                      - WestCentralUs
                      - ChinaNorth
                      - ChinaEast
                      - GermanyNortheast
                      - GermanyCentral
                      - USGovTexas
                      - USGovArizona
                      - USGovIowa
                      - USGovVirginia
                      - USDoDCentral
                      - USDoDEast
                  - category:
                      - GeneralPurpose
                      - MemoryOptimized
                    familyName: Dv2_series
                    targetLocations:
                      - EastAsia
                      - SoutheastAsia
                      - AustraliaEast
                      - AustraliaSoutheast
                      - BrazilSouth
                      - CanadaCentral
                      - CanadaEast
                      - WestEurope
                      - NorthEurope
                      - CentralIndia
                      - SouthIndia
                      - WestIndia
                      - JapanEast
                      - JapanWest
                      - KoreaCentral
                      - KoreaSouth
                      - UkWest
                      - UkSouth
                      - NorthCentralUs
                      - EastUs
                      - WestUs2
                      - SouthCentralUs
                      - CentralUs
                      - EastUs2
                      - WestUs
                      - WestCentralUs
                      - ChinaNorth
                      - ChinaEast
                      - GermanyNortheast
                      - GermanyCentral
                      - USGovTexas
                      - USGovArizona
                      - USGovIowa
                      - USGovVirginia
                      - USDoDCentral
                      - USDoDEast
                  - category:
                      - ComputeOptimized
                    familyName: F_series
                    targetLocations:
                      - EastAsia
                      - SoutheastAsia
                      - AustraliaEast
                      - AustraliaSoutheast
                      - BrazilSouth
                      - CanadaCentral
                      - CanadaEast
                      - WestEurope
                      - NorthEurope
                      - CentralIndia
                      - SouthIndia
                      - WestIndia
                      - JapanEast
                      - JapanWest
                      - KoreaCentral
                      - KoreaSouth
                      - UkWest
                      - UkSouth
                      - NorthCentralUs
                      - EastUs
                      - WestUs2
                      - SouthCentralUs
                      - CentralUs
                      - EastUs2
                      - WestUs
                      - WestCentralUs
                      - ChinaNorth
                      - ChinaEast
                      - GermanyNortheast
                      - GermanyCentral
                      - USGovTexas
                      - USGovArizona
                      - USGovIowa
                      - USGovVirginia
                      - USDoDCentral
                      - USDoDEast
                  - category:
                      - GeneralPurpose
                    familyName: Av2_series
                    targetLocations:
                      - EastAsia
                      - SoutheastAsia
                      - AustraliaEast
                      - AustraliaSoutheast
                      - BrazilSouth
                      - CanadaCentral
                      - CanadaEast
                      - WestEurope
                      - NorthEurope
                      - CentralIndia
                      - SouthIndia
                      - WestIndia
                      - JapanEast
                      - JapanWest
                      - KoreaCentral
                      - KoreaSouth
                      - UkWest
                      - UkSouth
                      - NorthCentralUs
                      - EastUs
                      - WestUs2
                      - SouthCentralUs
                      - CentralUs
                      - EastUs2
                      - WestUs
                      - WestCentralUs
                      - ChinaNorth
                      - ChinaEast
                      - GermanyNortheast
                      - GermanyCentral
                      - USGovTexas
                      - USGovArizona
                      - USGovIowa
                      - USGovVirginia
                      - USDoDCentral
                      - USDoDEast
                  - category:
                      - GeneralPurpose
                    familyName: Dv3_series
                    targetLocations:
                      - EastAsia
                      - SoutheastAsia
                      - AustraliaEast
                      - AustraliaSoutheast
                      - BrazilSouth
                      - CanadaCentral
                      - CanadaEast
                      - WestEurope
                      - NorthEurope
                      - CentralIndia
                      - SouthIndia
                      - WestIndia
                      - JapanEast
                      - JapanWest
                      - KoreaCentral
                      - KoreaSouth
                      - UkWest
                      - UkSouth
                      - NorthCentralUs
                      - EastUs
                      - WestUs2
                      - SouthCentralUs
                      - CentralUs
                      - EastUs2
                      - WestUs
                      - WestCentralUs
                      - GermanyNortheast
                      - GermanyCentral
                      - USGovTexas
                      - USGovVirginia
                  - category:
                      - GeneralPurpose
                      - MemoryOptimized
                      - SupportsPremiumStorage
                    familyName: DS_series
                    targetLocations:
                      - EastAsia
                      - SoutheastAsia
                      - AustraliaEast
                      - AustraliaSoutheast
                      - WestEurope
                      - NorthEurope
                      - JapanEast
                      - JapanWest
                      - EastUs
                      - SouthCentralUs
                      - CentralUs
                      - EastUs2
                      - WestUs
                      - ChinaNorth
                      - ChinaEast
                      - USGovVirginia
                  - category:
                      - GeneralPurpose
                      - MemoryOptimized
                      - SupportsPremiumStorage
                    familyName: DSv2_series
                    targetLocations:
                      - EastAsia
                      - SoutheastAsia
                      - AustraliaEast
                      - AustraliaSoutheast
                      - BrazilSouth
                      - CanadaCentral
                      - CanadaEast
                      - WestEurope
                      - NorthEurope
                      - CentralIndia
                      - SouthIndia
                      - WestIndia
                      - JapanEast
                      - JapanWest
                      - KoreaCentral
                      - KoreaSouth
                      - UkWest
                      - UkSouth
                      - NorthCentralUs
                      - EastUs
                      - WestUs2
                      - SouthCentralUs
                      - CentralUs
                      - EastUs2
                      - WestUs
                      - WestCentralUs
                      - ChinaNorth
                      - ChinaEast
                      - GermanyNortheast
                      - GermanyCentral
                      - USGovTexas
                      - USGovArizona
                      - USGovVirginia
                      - USDoDCentral
                      - USDoDEast
                  - category:
                      - ComputeOptimized
                      - SupportsPremiumStorage
                    familyName: Fs_series
                    targetLocations:
                      - EastAsia
                      - SoutheastAsia
                      - AustraliaEast
                      - AustraliaSoutheast
                      - BrazilSouth
                      - CanadaCentral
                      - CanadaEast
                      - WestEurope
                      - NorthEurope
                      - CentralIndia
                      - SouthIndia
                      - WestIndia
                      - JapanEast
                      - JapanWest
                      - KoreaCentral
                      - KoreaSouth
                      - UkWest
                      - UkSouth
                      - NorthCentralUs
                      - EastUs
                      - WestUs2
                      - SouthCentralUs
                      - CentralUs
                      - EastUs2
                      - WestUs
                      - WestCentralUs
                      - ChinaNorth
                      - ChinaEast
                      - GermanyNortheast
                      - GermanyCentral
                      - USGovTexas
                      - USGovArizona
                      - USGovVirginia
                      - USDoDCentral
                      - USDoDEast
                  - category:
                      - GeneralPurpose
                      - SupportsPremiumStorage
                    familyName: Dsv3_series
                    targetLocations:
                      - EastAsia
                      - SoutheastAsia
                      - AustraliaEast
                      - AustraliaSoutheast
                      - BrazilSouth
                      - CanadaCentral
                      - CanadaEast
                      - WestEurope
                      - NorthEurope
                      - CentralIndia
                      - SouthIndia
                      - WestIndia
                      - JapanEast
                      - JapanWest
                      - KoreaCentral
                      - KoreaSouth
                      - UkWest
                      - UkSouth
                      - NorthCentralUs
                      - EastUs
                      - WestUs2
                      - SouthCentralUs
                      - CentralUs
                      - EastUs2
                      - WestUs
                      - WestCentralUs
                      - GermanyNortheast
                      - GermanyCentral
                      - USGovTexas
                      - USGovVirginia
                  - category:
                      - MemoryOptimized
                    familyName: Ev3_series
                    targetLocations:
                      - EastAsia
                      - SoutheastAsia
                      - AustraliaEast
                      - AustraliaSoutheast
                      - BrazilSouth
                      - CanadaCentral
                      - CanadaEast
                      - WestEurope
                      - NorthEurope
                      - CentralIndia
                      - SouthIndia
                      - WestIndia
                      - JapanEast
                      - JapanWest
                      - KoreaCentral
                      - KoreaSouth
                      - UkWest
                      - UkSouth
                      - NorthCentralUs
                      - EastUs
                      - WestUs2
                      - SouthCentralUs
                      - CentralUs
                      - EastUs2
                      - WestUs
                      - GermanyNortheast
                      - GermanyCentral
                      - USGovTexas
                      - USGovVirginia
                  - category:
                      - MemoryOptimized
                      - SupportsPremiumStorage
                    familyName: Esv3_series
                    targetLocations:
                      - EastAsia
                      - SoutheastAsia
                      - AustraliaEast
                      - AustraliaSoutheast
                      - BrazilSouth
                      - CanadaCentral
                      - CanadaEast
                      - WestEurope
                      - NorthEurope
                      - CentralIndia
                      - SouthIndia
                      - WestIndia
                      - JapanEast
                      - JapanWest
                      - KoreaCentral
                      - KoreaSouth
                      - UkWest
                      - UkSouth
                      - NorthCentralUs
                      - EastUs
                      - WestUs2
                      - SouthCentralUs
                      - CentralUs
                      - EastUs2
                      - WestUs
                      - GermanyNortheast
                      - GermanyCentral
                      - USGovTexas
                      - USGovVirginia
                  - category:
                      - GeneralPurpose
                    familyName: D_series
                    targetLocations:
                      - EastAsia
                      - SoutheastAsia
                      - AustraliaEast
                      - AustraliaSoutheast
                      - BrazilSouth
                      - WestEurope
                      - NorthEurope
                      - JapanEast
                      - JapanWest
                      - NorthCentralUs
                      - EastUs
                      - SouthCentralUs
                      - CentralUs
                      - EastUs2
                      - WestUs
                      - ChinaNorth
                      - ChinaEast
                      - USGovVirginia
                  - category:
                      - MemoryOptimized
                    familyName: M_series
                    targetLocations:
                      - SoutheastAsia
                      - AustraliaEast
                      - AustraliaSoutheast
                      - WestEurope
                      - JapanEast
                      - JapanWest
                      - UkSouth
                      - EastUs
                      - WestUs2
                      - EastUs2
                      - USGovVirginia
                  - category:
                      - MemoryOptimized
                    familyName: G_series
                    targetLocations:
                      - SoutheastAsia
                      - AustraliaEast
                      - CanadaCentral
                      - CanadaEast
                      - WestEurope
                      - JapanEast
                      - UkSouth
                      - WestUs2
                      - EastUs2
                      - WestUs
                      - GermanyCentral
                      - USGovVirginia
                  - category:
                      - MemoryOptimized
                      - SupportsPremiumStorage
                    familyName: GS_series
                    targetLocations:
                      - SoutheastAsia
                      - AustraliaEast
                      - CanadaCentral
                      - CanadaEast
                      - WestEurope
                      - JapanEast
                      - UkSouth
                      - WestUs2
                      - EastUs2
                      - WestUs
                      - GermanyCentral
                      - USGovVirginia
                  - category:
                      - StorageOptimized
                      - SupportsPremiumStorage
                    familyName: Ls_series
                    targetLocations:
                      - SoutheastAsia
                      - AustraliaEast
                      - CanadaCentral
                      - CanadaEast
                      - WestEurope
                      - JapanEast
                      - UkSouth
                      - WestUs2
                      - EastUs2
                      - WestUs
                      - GermanyCentral
                      - USGovVirginia
                  - category:
                      - ComputeOptimized
                      - SupportsPremiumStorage
                    familyName: Fsv2_series
                    targetLocations:
                      - SoutheastAsia
                      - CanadaEast
                      - WestEurope
                      - NorthEurope
                      - EastUs
                      - WestUs2
                      - SouthCentralUs
                      - CentralUs
                      - EastUs2
                      - WestUs
                  - category:
                      - HighPerformanceCompute
                    familyName: H_series
                    targetLocations:
                      - SoutheastAsia
                      - AustraliaEast
                      - WestEurope
                      - NorthEurope
                      - JapanEast
                      - UkSouth
                      - NorthCentralUs
                      - EastUs
                      - WestUs2
                      - SouthCentralUs
                      - WestUs
                      - USGovArizona
                  - category:
                      - HighPerformanceCompute
                    familyName: Standard_A8_A11
                    targetLocations:
                      - WestEurope
                      - NorthEurope
                      - JapanEast
                      - NorthCentralUs
                      - EastUs
                      - SouthCentralUs
                      - WestUs
  "/subscriptions/{subscriptionId}/providers/Microsoft.Migrate/locations/{locationName}/checkNameAvailability":
    post:
      description: Checks whether the project name is available in the specified region.
      operationId: Location_CheckNameAvailability
      parameters:
        - description: The desired region for the name check.
          in: path
          name: locationName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - description: Properties needed to check the availability of a name.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/CheckNameAvailabilityParameters"
      responses:
        "200":
          description: Success. Returns details about whether a project name is available.
          schema:
            $ref: "#/definitions/CheckNameAvailabilityResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      x-ms-examples:
        LocationCheckNameAvailability_AlreadyExists:
          parameters:
            api-version: 2018-02-02
            locationName: eastus
            parameters:
              name: existingprojectname
              type: Microsoft.Migrate/projects
            subscriptionId: subid
          responses:
            "200":
              body:
                message: The Migration project name 'existingprojectname' already exists for the given subscription. Please choose another name.
                nameAvailable: false
                reason: AlreadyExists
        LocationCheckNameAvailability_Available:
          parameters:
            api-version: 2018-02-02
            locationName: eastus
            parameters:
              name: newprojectname
              type: Microsoft.Migrate/projects
            subscriptionId: subid
          responses:
            "200":
              body:
                message: The Migration project name 'newprojectname' is available for the given subscription
                nameAvailable: true
                reason: Available
  "/subscriptions/{subscriptionId}/providers/Microsoft.Migrate/projects":
    get:
      description: Get all the projects in the subscription.
      operationId: Projects_ListBySubscription
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/acceptLanguage"
      responses:
        "200":
          description: OK.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/ProjectResultList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Get all projects.
      x-ms-examples:
        Projects_List:
          parameters:
            api-version: 2018-02-02
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                value:
                  - eTag: '"b701c73a-0000-0000-0000-59c12ff00000"'
                    id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01
                    location: West Us
                    name: project01
                    properties:
                      createdTimestamp: 2018-02-02T13:11:30.8808917Z
                      customerWorkspaceId: url-to-customers-service-map
                      customerWorkspaceLocation: West Us
                      discoveryStatus: NotStarted
                      lastAssessmentTimestamp: 2018-02-02T13:11:30.8808917Z
                      lastDiscoverySessionId: 2c213c69-e2d3-4c3e-b871-83e5f42f3299
                      lastDiscoveryTimestamp: 2018-02-02T13:11:30.8808917Z
                      numberOfAssessments: 5
                      numberOfGroups: 2
                      numberOfMachines: 5
                      provisioningState: Succeeded
                      updatedTimestamp: 2018-02-02T13:11:30.8848966Z
                    tags: {}
                    type: Microsoft.Migrate/projects
                  - eTag: '"b701c73a-0000-1111-0000-59c12ff02222"'
                    id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project02
                    location: West Us
                    name: project02
                    properties:
                      createdTimestamp: 2018-02-02T10:50:05.3206647Z
                      customerWorkspaceId: url-to-customers-service-map
                      customerWorkspaceLocation: West Us
                      discoveryStatus: NotStarted
                      lastAssessmentTimestamp: 2018-02-02T13:11:30.8808917Z
                      lastDiscoverySessionId: 2c213c69-e2d3-4c3e-b871-83e5f42f3299
                      lastDiscoveryTimestamp: 2018-02-02T13:11:30.8808917Z
                      numberOfAssessments: 4
                      numberOfGroups: 4
                      numberOfMachines: 6
                      provisioningState: Succeeded
                      updatedTimestamp: 2018-02-02T10:50:05.3236679Z
                    tags: {}
                    type: Microsoft.Migrate/projects
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/assessments":
    get:
      description: |
        Get all assessments created in the project.

        Returns a json array of objects of type 'assessment' as specified in Models section.
      operationId: Assessments_ListByProject
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns list of Assessment objects.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/AssessmentResultList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Get all assessments created in the project.
      x-ms-examples:
        Assessments_ListByProject:
          parameters:
            api-version: 2018-02-02
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                value:
                  - eTag: '"1100637e-0000-0000-0000-59f6ed1f0000"'
                    id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment01
                    name: assessment01
                    properties:
                      azureHybridUseBenefit: Yes
                      azureLocation: WestUs
                      azureOfferCode: MSAZR0003P
                      azurePricingTier: Standard
                      azureStorageRedundancy: LocallyRedundant
                      confidenceRatingInPercentage: 93.52
                      createdTimestamp: 2018-02-02T13:25:02.6983504Z
                      currency: USD
                      discountPercentage: 100
                      monthlyBandwidthCost: 0
                      monthlyComputeCost: 0
                      monthlyStorageCost: 0
                      numberOfMachines: 4
                      percentile: Percentile50
                      pricesTimestamp: 2018-02-02T13:25:02.6983504Z
                      scalingFactor: 1.2
                      sizingCriterion: PerformanceBased
                      stage: InProgress
                      status: Invalid
                      timeRange: Day
                      updatedTimestamp: 2018-02-02T13:45:57.0489951Z
                    type: Microsoft.Migrate/projects/groups/assessments
                  - eTag: '"1100637e-0000-0000-0000-59f6ed1f0000"'
                    id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment02
                    name: assessment02
                    properties:
                      azureHybridUseBenefit: Yes
                      azureLocation: WestUs
                      azureOfferCode: MSAZR0003P
                      azurePricingTier: Standard
                      azureStorageRedundancy: LocallyRedundant
                      confidenceRatingInPercentage: 90.28
                      createdTimestamp: 2018-02-02T09:59:21.5319568Z
                      currency: USD
                      discountPercentage: 20
                      monthlyBandwidthCost: 10
                      monthlyComputeCost: 50
                      monthlyStorageCost: 30
                      numberOfMachines: 4
                      percentile: Percentile99
                      pricesTimestamp: 2018-02-02T13:25:02.6983504Z
                      scalingFactor: 1
                      sizingCriterion: PerformanceBased
                      stage: InProgress
                      status: Completed
                      timeRange: Day
                      updatedTimestamp: 2018-02-02T09:59:21.5319568Z
                    type: Microsoft.Migrate/projects/groups/assessments
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/groups":
    get:
      description: Get all groups created in the project. Returns a json array of objects of type 'group' as specified in the Models section.
      operationId: Groups_ListByProject
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns list of groups.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/GroupResultList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Get all groups
      x-ms-examples:
        Groups_ListByProject:
          parameters:
            api-version: 2018-02-02
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                value:
                  - eTag: '"1100637e-0000-0000-0000-59f6ed1f0000"'
                    id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01
                    name: group01
                    properties:
                      assessments:
                        - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment01
                        - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment02
                      createdTimestamp: 2018-02-02T13:17:23.5437337Z
                      machines:
                        - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/machines/amansing_vm1
                        - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/machines/amansing_vm2
                      updatedTimestamp: 2018-02-02T09:13:02.7580235Z
                    type: Microsoft.Migrate/projects/groups
                  - eTag: '"0000470d-0000-0000-0000-59b90d820000"'
                    id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group02
                    name: group02
                    properties:
                      assessments:
                        - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group02/assessments/assessment03
                      createdTimestamp: 2018-02-02T10:50:43.4356428Z
                      machines:
                        - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/machines/amansing_vm1
                      updatedTimestamp: 2018-02-02T10:50:43.4356428Z
                    type: Microsoft.Migrate/projects/groups
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/groups/{groupName}":
    delete:
      description: |
        Delete the group from the project. The machines remain in the project. Deleting a non-existent group results in a no-operation.

        A group is an aggregation mechanism for machines in a project. Therefore, deleting group does not delete machines in it.
      operationId: Groups_Delete
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/groupName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Deleted the group.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Delete the group
      x-ms-examples:
        Groups_Delete:
          parameters:
            api-version: 2018-02-02
            groupName: group01
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200": {}
    get:
      description: Get information related to a specific group in the project. Returns a json object of type 'group' as specified in the models section.
      operationId: Groups_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/groupName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns the group with the specified name.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/Group"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Get a specific group.
      x-ms-examples:
        Groups_Get:
          parameters:
            api-version: 2018-02-02
            groupName: group01
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                eTag: '"1100637e-0000-0000-0000-59f6ed1f0000"'
                id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01
                name: group01
                properties:
                  assessments:
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment01
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment02
                  createdTimestamp: 2018-02-02T13:17:23.5437337Z
                  machines:
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/machines/amansing_vm1
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/machines/amansing_vm2
                  updatedTimestamp: 2018-02-02T09:13:02.7580235Z
                type: Microsoft.Migrate/projects/groups
    put:
      description: |
        Create a new group by sending a json object of type 'group' as given in Models section as part of the Request Body. The group name in a project is unique. Labels can be applied on a group as part of creation.

        If a group with the groupName specified in the URL already exists, then this call acts as an update.

        This operation is Idempotent.
      operationId: Groups_Create
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/groupName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
        - description: New or Updated Group object.
          in: body
          name: group
          schema:
            $ref: "#/definitions/Group"
      responses:
        "200":
          description: OK. Existing group updated.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/Group"
        "201":
          description: Created. New group was created.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/Group"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Create a new group with specified settings. If group with the name provided already exists, then the existing group is updated.
      x-ms-examples:
        Groups_Create:
          parameters:
            api-version: 2018-02-02
            group:
              eTag: '"1100637e-0000-0000-0000-59f6ed1f0000"'
              properties:
                machines:
                  - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/machines/amansing_vm1
                  - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/machines/amansing_vm2
                  - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/machines/amansing_vm3
            groupName: group01
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                eTag: '"1100637e-0000-0000-0000-59f6ed1f0000"'
                id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01
                name: group01
                properties:
                  assessments:
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment01
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment02
                  createdTimestamp: 2018-02-02T13:17:23.5437337Z
                  machines:
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/machines/amansing_vm1
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/machines/amansing_vm2
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/machines/amansing_vm3
                  updatedTimestamp: 2018-02-02T09:13:02.7580235Z
                type: Microsoft.Migrate/projects/groups
            "201":
              body:
                eTag: '"1100637e-0000-0000-0000-59f6ed1f0000"'
                id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01
                name: group01
                properties:
                  assessments:
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment01
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment02
                  createdTimestamp: 2018-02-02T13:17:23.5437337Z
                  machines:
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/machines/amansing_vm1
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/machines/amansing_vm2
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/machines/amansing_vm3
                  updatedTimestamp: 2018-02-02T09:13:02.7580235Z
                type: Microsoft.Migrate/projects/groups
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/groups/{groupName}/assessments":
    get:
      description: |
        Get all assessments created for the specified group.

        Returns a json array of objects of type 'assessment' as specified in Models section.
      operationId: Assessments_ListByGroup
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/groupName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns list of Assessment objects.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/AssessmentResultList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Get all assessments created for the specified group.
      x-ms-examples:
        Assessments_ListByGroup:
          parameters:
            api-version: 2018-02-02
            groupName: group01
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                value:
                  - eTag: '"1100637e-0000-0000-0000-59f6ed1f0000"'
                    id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment01
                    name: assessment01
                    properties:
                      azureHybridUseBenefit: Yes
                      azureLocation: WestUs
                      azureOfferCode: MSAZR0003P
                      azurePricingTier: Standard
                      azureStorageRedundancy: LocallyRedundant
                      confidenceRatingInPercentage: 93.52
                      createdTimestamp: 2018-02-02T13:25:02.6983504Z
                      currency: USD
                      discountPercentage: 100
                      monthlyBandwidthCost: 0
                      monthlyComputeCost: 0
                      monthlyStorageCost: 0
                      numberOfMachines: 4
                      percentile: Percentile50
                      pricesTimestamp: 2018-02-02T13:25:02.6983504Z
                      scalingFactor: 1.2
                      sizingCriterion: PerformanceBased
                      stage: InProgress
                      status: Invalid
                      timeRange: Day
                      updatedTimestamp: 2018-02-02T13:45:57.0489951Z
                    type: Microsoft.Migrate/projects/groups/assessments
                  - eTag: '"1100637e-0000-0000-0000-59f6ed1f0000"'
                    id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment02
                    name: assessment02
                    properties:
                      azureHybridUseBenefit: Yes
                      azureLocation: WestUs
                      azureOfferCode: MSAZR0003P
                      azurePricingTier: Standard
                      azureStorageRedundancy: LocallyRedundant
                      confidenceRatingInPercentage: 90.28
                      createdTimestamp: 2018-02-02T09:59:21.5319568Z
                      currency: USD
                      discountPercentage: 20
                      monthlyBandwidthCost: 10
                      monthlyComputeCost: 50
                      monthlyStorageCost: 30
                      numberOfMachines: 4
                      percentile: Percentile99
                      pricesTimestamp: 2018-02-02T13:25:02.6983504Z
                      scalingFactor: 1
                      sizingCriterion: PerformanceBased
                      stage: InProgress
                      status: Completed
                      timeRange: Day
                      updatedTimestamp: 2018-02-02T09:59:21.5319568Z
                    type: Microsoft.Migrate/projects/groups/assessments
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/groups/{groupName}/assessments/{assessmentName}":
    delete:
      description: |
        Delete an assessment from the project. The machines remain in the assessment. Deleting a non-existent assessment results in a no-operation.

        When an assessment is under computation, as indicated by the 'computationState' field, it cannot be deleted. Any such attempt will return a 400 - Bad Request.
      operationId: Assessments_Delete
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/groupName"
        - $ref: "#/parameters/assessmentName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Deleted the assessment.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Deletes an assessment from the project.
      x-ms-examples:
        Assessments_Delete:
          parameters:
            api-version: 2018-02-02
            assessmentName: assessment01
            groupName: group01
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200": {}
    get:
      description: Get an existing assessment with the specified name. Returns a json object of type 'assessment' as specified in Models section.
      operationId: Assessments_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/groupName"
        - $ref: "#/parameters/assessmentName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns Assessment object.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/Assessment"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Get an assessment.
      x-ms-examples:
        Assessments_Get:
          parameters:
            api-version: 2018-02-02
            assessmentName: assessment01
            groupName: group01
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                eTag: '"1100637e-0000-0000-0000-59f6ed1f0000"'
                id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment01
                name: assessment01
                properties:
                  azureHybridUseBenefit: Yes
                  azureLocation: WestUs
                  azureOfferCode: MSAZR0003P
                  azurePricingTier: Standard
                  azureStorageRedundancy: LocallyRedundant
                  confidenceRatingInPercentage: 90.28
                  createdTimestamp: 2018-02-02T13:25:02.6983504Z
                  currency: USD
                  discountPercentage: 100
                  monthlyBandwidthCost: 0
                  monthlyComputeCost: 0
                  monthlyStorageCost: 0
                  numberOfMachines: 4
                  percentile: Percentile50
                  pricesTimestamp: 2018-02-02T13:25:02.6983504Z
                  scalingFactor: 1.2
                  sizingCriterion: PerformanceBased
                  stage: InProgress
                  status: Invalid
                  timeRange: Day
                  updatedTimestamp: 2018-02-02T13:45:57.0489951Z
                type: Microsoft.Migrate/projects/groups/assessments
    put:
      description: |
        Create a new assessment with the given name and the specified settings. Since name of an assessment in a project is a unique identifier, if an assessment with the name provided already exists, then the existing assessment is updated.

        Any PUT operation, resulting in either create or update on an assessment, will cause the assessment to go in a "InProgress" state. This will be indicated by the field 'computationState' on the Assessment object. During this time no other PUT operation will be allowed on that assessment object, nor will a Delete operation. Once the computation for the assessment is complete, the field 'computationState' will be updated to 'Ready', and then other PUT or DELETE operations can happen on the assessment.

        When assessment is under computation, any PUT will lead to a 400 - Bad Request error.
      operationId: Assessments_Create
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/groupName"
        - $ref: "#/parameters/assessmentName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
        - description: New or Updated Assessment object.
          in: body
          name: assessment
          schema:
            $ref: "#/definitions/Assessment"
      responses:
        "200":
          description: OK. Existing assessment updated.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/Assessment"
        "201":
          description: Created. New assessment was created.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/Assessment"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Create or Update assessment.
      x-ms-examples:
        Assessments_Create:
          parameters:
            api-version: 2018-02-02
            assessment:
              eTag: '"1100637e-0000-0000-0000-59f6ed1f0000"'
              properties:
                azureHybridUseBenefit: Yes
                azureLocation: WestUs
                azureOfferCode: MSAZR0003P
                azurePricingTier: Standard
                azureStorageRedundancy: LocallyRedundant
                currency: USD
                discountPercentage: 100
                percentile: Percentile50
                scalingFactor: 1.2
                sizingCriterion: PerformanceBased
                stage: InProgress
                timeRange: Day
            assessmentName: assessment01
            groupName: group01
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                eTag: '"1100637e-0000-0000-0000-59f6ed1f0000"'
                id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment01
                name: assessment01
                properties:
                  azureHybridUseBenefit: Yes
                  azureLocation: WestUs
                  azureOfferCode: MSAZR0003P
                  azurePricingTier: Standard
                  azureStorageRedundancy: LocallyRedundant
                  confidenceRatingInPercentage: 93.52
                  createdTimestamp: 2018-02-02T13:25:02.6983504Z
                  currency: USD
                  discountPercentage: 100
                  monthlyBandwidthCost: 0
                  monthlyComputeCost: 0
                  monthlyStorageCost: 0
                  numberOfMachines: 4
                  percentile: Percentile50
                  pricesTimestamp: 2018-02-02T13:25:02.6983504Z
                  scalingFactor: 1.2
                  sizingCriterion: PerformanceBased
                  stage: InProgress
                  status: Invalid
                  timeRange: Day
                  updatedTimestamp: 2018-02-02T13:45:57.0489951Z
                type: Microsoft.Migrate/projects/groups/assessments
            "201":
              body:
                eTag: '"1100637e-0000-0000-0000-59f6ed1f0000"'
                id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment01
                name: assessment01
                properties:
                  azureHybridUseBenefit: Yes
                  azureLocation: WestUs
                  azureOfferCode: MSAZR0003P
                  azurePricingTier: Standard
                  azureStorageRedundancy: LocallyRedundant
                  confidenceRatingInPercentage: 93.52
                  createdTimestamp: 2018-02-02T13:25:02.6983504Z
                  currency: USD
                  discountPercentage: 100
                  monthlyBandwidthCost: 0
                  monthlyComputeCost: 0
                  monthlyStorageCost: 0
                  numberOfMachines: 4
                  percentile: Percentile50
                  pricesTimestamp: 2018-02-02T13:25:02.6983504Z
                  scalingFactor: 1.2
                  sizingCriterion: PerformanceBased
                  stage: InProgress
                  status: Invalid
                  timeRange: Day
                  updatedTimestamp: 2018-02-02T13:45:57.0489951Z
                type: Microsoft.Migrate/projects/groups/assessments
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/groups/{groupName}/assessments/{assessmentName}/assessedMachines":
    get:
      description: |
        Get list of machines that assessed as part of the specified assessment. Returns a json array of objects of type 'assessedMachine' as specified in the Models section.

        Whenever an assessment is created or updated, it goes under computation. During this phase, the 'status' field of Assessment object reports 'Computing'.
        During the period when the assessment is under computation, the list of assessed machines is empty and no assessed machines are returned by this call.
      operationId: AssessedMachines_ListByAssessment
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/groupName"
        - $ref: "#/parameters/assessmentName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns list of machines with their assessment data in the assessment.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/AssessedMachineResultList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Get assessed machines for assessment.
      x-ms-examples:
        AssessedMachines_ListByAssessment:
          parameters:
            api-version: 2018-02-02
            assessmentName: assessment01
            groupName: group01
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                value:
                  - eTag: '"010000ef-0000-0000-0000-59b7e53e0000"'
                    id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment01/assessedMachines/amansing_vm1
                    name: amansing_vm1
                    properties:
                      bootType: BIOS
                      createdTimestamp: 2018-02-03T13:17:23.5437337Z
                      datacenterContainer: 10.184.81.34
                      datacenterMachineId: vmWare_amansing_vm1
                      datacenterManagementServer: 10.240.17.240
                      datacenterManagementServerId: vmWare_unqie_01
                      description: Azure Migration Planner - Collector
                      discoveredTimestamp: 2018-02-02T13:17:23.5437337Z
                      disks:
                        scsi0:0:
                          gigabytesConsumed: 0
                          gigabytesForRecommendedDiskSize: 32
                          gigabytesProvisioned: 20
                          megabytesPerSecondOfRead: 0
                          megabytesPerSecondOfReadDataPointsExpected: 300
                          megabytesPerSecondOfReadDataPointsReceived: 280
                          megabytesPerSecondOfWrite: 0
                          megabytesPerSecondOfWriteDataPointsExpected: 300
                          megabytesPerSecondOfWriteDataPointsReceived: 280
                          monthlyStorageCost: 0
                          name: scsi0:0
                          numberOfReadOperationsPerSecond: 0
                          numberOfReadOperationsPerSecondDataPointsExpected: 300
                          numberOfReadOperationsPerSecondDataPointsReceived: 280
                          numberOfWriteOperationsPerSecond: 0
                          numberOfWriteOperationsPerSecondDataPointsExpected: 300
                          numberOfWriteOperationsPerSecondDataPointsReceived: 280
                          recommendedDiskSize: Standard_S4
                          recommendedDiskType: Standard
                          suitability: Suitable
                          suitabilityExplanation: NotApplicable
                      displayName: amansing_vm1
                      groups:
                        - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/projects01/groups/groups01
                        - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/projects01/groups/groups02
                      megabytesOfMemory: 8192
                      megabytesOfMemoryForRecommendedSize: 786
                      monthlyBandwidthCost: 0
                      monthlyComputeCostForRecommendedSize: 0
                      monthlyStorageCost: 0
                      networkAdapters:
                        "4000":
                          ipAddresses:
                            - 2001:4898:e0:f099:91fd:55f:42de:c130
                            - 2001:4898:e0:f099:ac11:23c3:e39f:533d
                            - fe80::91fd:55f:42de:c130
                            - 10.184.83.206
                          macAddress: 00:50:56:ba:7f:25
                          megabytesPerSecondOfReadDataPointsReceived: 280
                          megabytesPerSecondReceived: 0
                          megabytesPerSecondReceivedDataPointsExpected: 300
                          megabytesPerSecondTransmitted: 0
                          megabytesPerSecondTransmittedDataPointsExpected: 300
                          megabytesPerSecondTransmittedDataPointsReceived: 280
                          monthlyBandwidthCosts: 0
                          netGigabytesTransmittedPerMonth: 0
                          suitability: Suitable
                          suitabilityExplanation: NotApplicable
                      numberOfCores: 4
                      numberOfCoresForRecommendedSize: 1
                      operatingSystem: Microsoft Windows Server 2008 (64-bit)
                      percentageCoresUtilization: 0.7752173913043479
                      percentageCoresUtilizationDataPointsExpected: 300
                      percentageCoresUtilizationDataPointsReceived: 280
                      percentageMemoryUtilization: 0.43666666666666665
                      percentageMemoryUtilizationDataPointsExpected: 300
                      percentageMemoryUtilizationDataPointsReceived: 280
                      recommendedSize: Standard_A0
                      suitability: ConditionallySuitable
                      suitabilityExplanation: WindowsServerVersionConditionallySupported
                      updatedTimestamp: 2018-02-04T13:17:23.5437337Z
                    type: Microsoft.Migrate/projects/groups/assessments/assessedMachines
                  - eTag: '"0000918f-0000-0000-0000-59c12ce90000"'
                    id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment01/assessedMachines/amansing_vm2
                    name: amansing_vm2
                    properties:
                      bootType: BIOS
                      createdTimestamp: 2018-02-03T13:17:23.5437337Z
                      datacenterContainer: 10.184.81.34
                      datacenterMachineId: vmWare_amansing_vm2
                      datacenterManagementServer: 10.240.17.240
                      datacenterManagementServerId: vmWare_unique_id
                      description: Azure Migration Planner - Collector
                      discoveredTimestamp: 2018-02-02T13:17:23.5437337Z
                      disks:
                        scsi0:0:
                          gigabytesConsumed: 0
                          gigabytesForRecommendedDiskSize: 32
                          gigabytesProvisioned: 20
                          megabytesPerSecondOfRead: 0
                          megabytesPerSecondOfReadDataPointsExpected: 300
                          megabytesPerSecondOfReadDataPointsReceived: 280
                          megabytesPerSecondOfWrite: 0
                          megabytesPerSecondOfWriteDataPointsExpected: 300
                          megabytesPerSecondOfWriteDataPointsReceived: 280
                          monthlyStorageCost: 0
                          name: scsi0:0
                          numberOfReadOperationsPerSecond: 0
                          numberOfReadOperationsPerSecondDataPointsExpected: 300
                          numberOfReadOperationsPerSecondDataPointsReceived: 280
                          numberOfWriteOperationsPerSecond: 0
                          numberOfWriteOperationsPerSecondDataPointsExpected: 300
                          numberOfWriteOperationsPerSecondDataPointsReceived: 280
                          recommendedDiskSize: Standard_S4
                          recommendedDiskType: Standard
                          suitability: Suitable
                          suitabilityExplanation: NotApplicable
                      displayName: amansing_vm2
                      groups:
                        - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/projects01/groups/groups01
                        - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/projects01/groups/groups02
                      megabytesOfMemory: 8192
                      megabytesOfMemoryForRecommendedSize: 786
                      monthlyBandwidthCost: 0
                      monthlyComputeCostForRecommendedSize: 0
                      monthlyStorageCost: 0
                      networkAdapters:
                        "4000":
                          ipAddresses:
                            - 2001:4898:e0:f099:91fd:55f:42de:c130
                            - 2001:4898:e0:f099:ac11:23c3:e39f:533d
                            - fe80::91fd:55f:42de:c130
                            - 10.184.83.206
                          macAddress: 00:50:56:ba:7f:25
                          megabytesPerSecondOfReadDataPointsReceived: 280
                          megabytesPerSecondReceived: 0
                          megabytesPerSecondReceivedDataPointsExpected: 300
                          megabytesPerSecondTransmitted: 0
                          megabytesPerSecondTransmittedDataPointsExpected: 300
                          megabytesPerSecondTransmittedDataPointsReceived: 280
                          monthlyBandwidthCosts: 0
                          netGigabytesTransmittedPerMonth: 0
                          suitability: Suitable
                          suitabilityExplanation: NotApplicable
                      numberOfCores: 4
                      numberOfCoresForRecommendedSize: 1
                      operatingSystem: Microsoft Windows Server 2008 (64-bit)
                      percentageCoresUtilization: 0.7752173913043479
                      percentageCoresUtilizationDataPointsExpected: 300
                      percentageCoresUtilizationDataPointsReceived: 280
                      percentageMemoryUtilization: 0.43666666666666665
                      percentageMemoryUtilizationDataPointsExpected: 300
                      percentageMemoryUtilizationDataPointsReceived: 280
                      recommendedSize: Standard_A0
                      suitability: ConditionallySuitable
                      suitabilityExplanation: WindowsServerVersionConditionallySupported
                      updatedTimestamp: 2018-02-04T13:17:23.5437337Z
                    type: Microsoft.Migrate/projects/groups/assessments/assessedMachines
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/groups/{groupName}/assessments/{assessmentName}/assessedMachines/{assessedMachineName}":
    get:
      description: Get an assessed machine with its size & cost estimate that was evaluated in the specified assessment.
      operationId: AssessedMachines_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/groupName"
        - $ref: "#/parameters/assessmentName"
        - $ref: "#/parameters/assessedMachineName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns a specific assessed machine.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/AssessedMachine"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Get an assessed machine.
      x-ms-examples:
        AssessedMachines_Get:
          parameters:
            api-version: 2018-02-02
            assessedMachineName: amansing_vm1
            assessmentName: assessment01
            groupName: group01
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                eTag: '"010000ef-0000-0000-0000-59b7e53e0000"'
                id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment01/assessedMachines/amansing_vm1
                name: amansing_vm1
                properties:
                  bootType: BIOS
                  createdTimestamp: 2018-02-02T13:17:23.5437337Z
                  datacenterContainer: 10.184.81.34
                  datacenterMachineId: vmWare_amansing_vm1
                  datacenterManagementServer: 10.240.17.240
                  datacenterManagementServerId: vmWare_unqie_01
                  description: Azure Migration Planner - Collector
                  discoveredTimestamp: 2018-02-02T13:17:23.5437337Z
                  disks:
                    scsi0:0:
                      gigabytesConsumed: 0
                      gigabytesForRecommendedDiskSize: 32
                      gigabytesProvisioned: 20
                      megabytesPerSecondOfRead: 0
                      megabytesPerSecondOfReadDataPointsExpected: 300
                      megabytesPerSecondOfReadDataPointsReceived: 280
                      megabytesPerSecondOfWrite: 0
                      megabytesPerSecondOfWriteDataPointsExpected: 300
                      megabytesPerSecondOfWriteDataPointsReceived: 280
                      monthlyStorageCost: 0
                      name: scsi0:0
                      numberOfReadOperationsPerSecond: 0
                      numberOfReadOperationsPerSecondDataPointsExpected: 300
                      numberOfReadOperationsPerSecondDataPointsReceived: 280
                      numberOfWriteOperationsPerSecond: 0
                      numberOfWriteOperationsPerSecondDataPointsExpected: 300
                      numberOfWriteOperationsPerSecondDataPointsReceived: 280
                      recommendedDiskSize: Standard_S4
                      recommendedDiskType: Standard
                      suitability: Suitable
                      suitabilityExplanation: NotApplicable
                  displayName: amansing_vm1
                  groups:
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/projects01/groups/groups01
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/projects01/groups/groups02
                  megabytesOfMemory: 8192
                  megabytesOfMemoryForRecommendedSize: 786
                  monthlyBandwidthCost: 0
                  monthlyComputeCostForRecommendedSize: 0
                  monthlyStorageCost: 0
                  networkAdapters:
                    "4000":
                      ipAddresses:
                        - 2001:4898:e0:f099:91fd:55f:42de:c130
                        - 2001:4898:e0:f099:ac11:23c3:e39f:533d
                        - fe80::91fd:55f:42de:c130
                        - 10.184.83.206
                      macAddress: 00:50:56:ba:7f:25
                      megabytesPerSecondOfReadDataPointsReceived: 280
                      megabytesPerSecondReceived: 0
                      megabytesPerSecondReceivedDataPointsExpected: 300
                      megabytesPerSecondTransmitted: 0
                      megabytesPerSecondTransmittedDataPointsExpected: 300
                      megabytesPerSecondTransmittedDataPointsReceived: 280
                      monthlyBandwidthCosts: 0
                      netGigabytesTransmittedPerMonth: 0
                      suitability: Suitable
                      suitabilityExplanation: NotApplicable
                  numberOfCores: 4
                  numberOfCoresForRecommendedSize: 1
                  operatingSystem: Microsoft Windows Server 2008 (64-bit)
                  percentageCoresUtilization: 0.7752173913043479
                  percentageCoresUtilizationDataPointsExpected: 300
                  percentageCoresUtilizationDataPointsReceived: 280
                  percentageMemoryUtilization: 0.43666666666666665
                  percentageMemoryUtilizationDataPointsExpected: 300
                  percentageMemoryUtilizationDataPointsReceived: 280
                  recommendedSize: Standard_A0
                  suitability: ConditionallySuitable
                  suitabilityExplanation: WindowsServerVersionConditionallySupported
                  updatedTimestamp: 2018-02-02T13:17:23.5437337Z
                type: Microsoft.Migrate/projects/groups/assessments/assessedMachines
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/groups/{groupName}/assessments/{assessmentName}/downloadUrl":
    post:
      description: Get the URL for downloading the assessment in a report format.
      operationId: Assessments_GetReportDownloadUrl
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/groupName"
        - $ref: "#/parameters/assessmentName"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/acceptLanguage"
      responses:
        "200":
          description: OK.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/DownloadUrl"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Get download URL for the assessment report.
      x-ms-examples:
        Assessments_GetReportDownloadUrl:
          parameters:
            api-version: 2018-02-02
            assessmentName: assessment01
            groupName: group01
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                assessmentReportUrl: link-to-download-assessment-report
                expirationTime: 2018-02-02T13:17:23.5437337Z
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/machines":
    get:
      description: Get data of all the machines available in the project. Returns a json array of objects of type 'machine' defined in Models section.
      operationId: Machines_ListByProject
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns list of all machine objects.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/MachineResultList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Get all machines in the project
      x-ms-examples:
        Machines_ListByProject:
          parameters:
            api-version: 2018-02-02
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                value:
                  - eTag: '"b701c63a-0000-0000-0000-59c12fe60000"'
                    id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/projects01/machines/amansing_vm1
                    name: amansing_vm1
                    properties:
                      bootType: BIOS
                      createdTimestamp: 2018-02-02T07:44:44.5677283Z
                      datacenterContainer: vmWareFolder
                      datacenterMachineId: vmWare_amansing_vm1
                      datacenterManagementServer: 123.123.123.123
                      datacenterManagementServerId: vmWare_unqie_01
                      description: Azure Migration Planner - Collector
                      discoveredTimestamp: 2018-02-02T07:44:44.5677283Z
                      disks:
                        scsi0:0:
                          gigabytesAllocated: 20
                          gigabytesConsumed: 0
                      displayName: amansing_vm1
                      groups:
                        - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/projects01/groups/groups01
                        - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/projects01/groups/groups02
                      megabytesOfMemory: 8192
                      networkAdapters:
                        "4000":
                          ipAddresses:
                            - 2001:4898:e0:f099:91fd:55f:42de:c130
                            - 2001:4898:e0:f099:ac11:23c3:e39f:533d
                            - fe80::91fd:55f:42de:c130
                            - 10.184.83.206
                          macAddress: 00:50:56:ba:7f:25
                      numberOfCores: 4
                      operatingSystem: Microsoft Windows Server 2008 (64-bit)
                      updatedTimestamp: 2018-02-02T10:11:25.7585427Z
                    type: Microsoft.Migrate/projects/machines
                  - eTag: '"b701c73a-0000-0000-0000-59c12ff00000"'
                    id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/machines/amansing_vm2
                    name: amansing_vm2
                    properties:
                      bootType: BIOS
                      createdTimestamp: 2018-02-02T07:44:44.5677283Z
                      datacenterContainer: vmWareFolder
                      datacenterMachineId: vmWare_amansing_vm2
                      datacenterManagementServer: 123.123.123.123
                      datacenterManagementServerId: vmWare_unqie_01
                      description: Azure Migration Planner - Collector
                      discoveredTimestamp: 2018-02-02T07:44:44.5677283Z
                      disks:
                        scsi0:0:
                          gigabytesAllocated: 20
                          gigabytesConsumed: 0
                      displayName: amansing_vm2
                      groups:
                        - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/projects01/groups/groups01
                      megabytesOfMemory: 8192
                      networkAdapters:
                        "4000":
                          ipAddresses:
                            - 2001:4898:e0:f099:91fd:55f:42de:c130
                            - 2001:4898:e0:f099:ac11:23c3:e39f:533d
                            - fe80::91fd:55f:42de:c130
                            - 10.184.83.206
                          macAddress: 00:50:56:ba:7f:25
                      numberOfCores: 4
                      operatingSystem: Microsoft Windows Server 2008 (64-bit)
                      updatedTimestamp: 2018-02-02T10:11:25.7585427Z
                    type: Microsoft.Migrate/projects/machines
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/machines/{machineName}":
    get:
      description: Get the machine with the specified name. Returns a json object of type 'machine' defined in Models section.
      operationId: Machines_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/machineName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns the machine with the specified name.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/Machine"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Get a specific machine.
      x-ms-examples:
        Machines_Get:
          parameters:
            api-version: 2018-02-02
            machineName: amansing_vm1
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                eTag: '"b701c63a-0000-0000-0000-59c12fe60000"'
                id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/projects01/machines/amansing_vm1
                name: amansing_vm1
                properties:
                  bootType: BIOS
                  createdTimestamp: 2018-02-02T07:44:44.5677283Z
                  datacenterContainer: vmWareFolder
                  datacenterMachineId: vmWare_amansing_vm1
                  datacenterManagementServer: 123.123.123.123
                  datacenterManagementServerId: vmWare_unqie_01
                  description: Azure Migration Planner - Collector
                  discoveredTimestamp: 2018-02-02T07:44:44.5677283Z
                  disks:
                    scsi0:0:
                      gigabytesAllocated: 20
                      gigabytesConsumed: 0
                  displayName: amansing_vm1
                  groups:
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/projects01/groups/groups01
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/projects01/groups/groups02
                  megabytesOfMemory: 8192
                  networkAdapters:
                    "4000":
                      ipAddresses:
                        - 2001:4898:e0:f099:91fd:55f:42de:c130
                        - 2001:4898:e0:f099:ac11:23c3:e39f:533d
                        - fe80::91fd:55f:42de:c130
                        - 10.184.83.206
                      macAddress: 00:50:56:ba:7f:25
                  numberOfCores: 4
                  operatingSystem: Microsoft Windows Server 2008 (64-bit)
                  updatedTimestamp: 2018-02-02T10:11:25.7585427Z
                type: Microsoft.Migrate/projects/machines
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Migrate/projects":
    get:
      description: Get all the projects in the resource group.
      operationId: Projects_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/acceptLanguage"
      responses:
        "200":
          description: OK.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/ProjectResultList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Get all projects.
      x-ms-examples:
        Projects_List:
          parameters:
            api-version: 2018-02-02
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                value:
                  - eTag: '"b701c73a-0000-0000-0000-59c12ff00000"'
                    id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01
                    location: West Us
                    name: project01
                    properties:
                      createdTimestamp: 2018-02-02T13:11:30.8808917Z
                      customerWorkspaceId: url-to-customers-service-map
                      customerWorkspaceLocation: West Us
                      discoveryStatus: NotStarted
                      lastAssessmentTimestamp: 2018-02-02T13:11:30.8808917Z
                      lastDiscoverySessionId: 2c213c69-e2d3-4c3e-b871-83e5f42f3299
                      lastDiscoveryTimestamp: 2018-02-02T13:11:30.8808917Z
                      numberOfAssessments: 5
                      numberOfGroups: 2
                      numberOfMachines: 5
                      provisioningState: Succeeded
                      updatedTimestamp: 2018-02-02T13:11:30.8848966Z
                    tags: {}
                    type: Microsoft.Migrate/projects
                  - eTag: '"b701c73a-0000-1111-0000-59c12ff02222"'
                    id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project02
                    location: West Us
                    name: project02
                    properties:
                      createdTimestamp: 2018-02-02T10:50:05.3206647Z
                      customerWorkspaceId: url-to-customers-service-map
                      customerWorkspaceLocation: West Us
                      discoveryStatus: NotStarted
                      lastAssessmentTimestamp: 2018-02-02T13:11:30.8808917Z
                      lastDiscoverySessionId: 2c213c69-e2d3-4c3e-b871-83e5f42f3299
                      lastDiscoveryTimestamp: 2018-02-02T13:11:30.8808917Z
                      numberOfAssessments: 4
                      numberOfGroups: 4
                      numberOfMachines: 6
                      provisioningState: Succeeded
                      updatedTimestamp: 2018-02-02T10:50:05.3236679Z
                    tags: {}
                    type: Microsoft.Migrate/projects
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}":
    delete:
      description: Delete the project. Deleting non-existent project is a no-operation.
      operationId: Projects_Delete
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/acceptLanguage"
      responses:
        "200":
          description: OK. Deleted the group.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Delete the project
      x-ms-examples:
        Projects_Delete:
          parameters:
            api-version: 2018-02-02
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200": {}
    get:
      description: Get the project with the specified name.
      operationId: Projects_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/acceptLanguage"
      responses:
        "200":
          description: OK.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/Project"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Get the specified project.
      x-ms-examples:
        Projects_Get:
          parameters:
            api-version: 2018-02-02
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                eTag: '"b701c73a-0000-0000-0000-59c12ff00000"'
                id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01
                location: West Us
                name: project01
                properties:
                  createdTimestamp: 2018-02-02T13:11:30.8808917Z
                  customerWorkspaceId: url-to-customers-service-map
                  customerWorkspaceLocation: West Us
                  discoveryStatus: NotStarted
                  lastAssessmentTimestamp: 2018-02-02T13:11:30.8808917Z
                  lastDiscoverySessionId: 2c213c69-e2d3-4c3e-b871-83e5f42f3299
                  lastDiscoveryTimestamp: 2018-02-02T13:11:30.8808917Z
[...]
