{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://quotes.rest"
    },
    {
      "url": "http://quotes.rest"
    },
    {
      "url": "http://api01.quotes.rest"
    }
  ],
  "info": {
    "contact": {
      "name": "They Said So",
      "url": "https://theysaidso.com/api/quote",
      "x-twitter": "theysaidso"
    },
    "description": " They Said So Quotes API offers a complete feature rich REST API access to its quotes platform.  This is the documentation for the world famous [quotes API](https://theysaidso.com/api).  If you are a subscriber and you are trying this from a console add 'X-TheySaidSo-Api-Secret' header and add your api key as the header value. You can test and play with the API right here on this web page. For using the private end points and subscribing to the API please visit https://theysaidso.com/api.",
    "termsOfService": "https://theysaidso.com/terms#api",
    "title": "They Said So Quotes API",
    "version": "3.1",
    "x-apisguru-categories": [
      "open_data"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_theysaidso_profile_image.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "http://quotes.rest/yaml/theysaidso.quotes.openapi.yaml?v1.1",
        "version": "3.0"
      }
    ],
    "x-providerName": "quotes.rest"
  },
  "tags": [
    {
      "description": "Access quote of the day service. Use this to get the quote of the day in various categories. This is a free API that is available to public. You must credit They Said So if you are using the free version.",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://theysaidso.com/api/quote#qod"
      },
      "name": "Quote of the day"
    },
    {
      "description": "Access random quote service. Use this to get random quotes , quotes filtered by authors or tags etc. You need an API key to access this service.",
      "name": "Quote"
    },
    {
      "description": "Create and manage your own Quotes. You need an API key to access this service.",
      "name": "Private Quotes"
    },
    {
      "description": "Create beatiful quote images or get one of the premade images. You need an API key to access this service.",
      "externalDocs": {
        "description": "Find out more about image",
        "url": "https://theysaidso.com/api/quote#image"
      },
      "name": "Quote Images"
    },
    {
      "description": "Access Qshow - quote collection service. Create curated quotes collection. You can group quotes by any way you want and access them as a single unit. You need an API key to access this service.",
      "name": "Qshow"
    }
  ],
  "paths": {
    "/qod": {
      "get": {
        "description": "Gets `Quote of the Day`. Optional `category` param determines the category of returned quote of the day\n",
        "parameters": [
          {
            "description": "QOD Category",
            "in": "query",
            "name": "category",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Language of the QOD. The language must be supported in our QOD system.",
            "in": "query",
            "name": "language",
            "required": false,
            "schema": {
              "default": "en",
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"success\": {\n        \"total\": 1\n    },\n    \"contents\": {\n        \"quotes\": [\n            {\n                \"quote\": \"Do not worry if you have built your castles in the air. They are where they should be. Now put the foundations under them.\",\n                \"length\": \"122\",\n                \"author\": \"Henry David Thoreau\",\n                \"tags\": [\n                    \"dreams\",\n                    \"inspire\",\n                    \"worry\"\n                ],\n                \"category\": \"inspire\",\n                \"date\": \"2016-11-21\",\n                \"title\": \"Inspiring Quote of the day\",\n                \"background\": \"https://theysaidso.com/img/bgs/man_on_the_mountain.jpg\",\n                \"id\": \"mYpH8syTM8rf8KFORoAJmQeF\"\n            }\n        ]\n    }\n}"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              },
              "application/xml": {
                "examples": {
                  "response": {
                    "value": "<?xml version=\"1.0\"?> <response>\n  <success>\n    <total>1</total>\n  </success>\n  <contents>\n    <quotes>\n      <quote>Sometimes you climb out of bed in the morning and you think, I'm not going to make it, but you laugh inside &#x2014; remembering all the times you've felt that way.</quote>\n      <length>164</length>\n      <author>Charles Bukowski</author>\n      <tags>depression</tags>\n      <tags>inspire</tags>\n      <tags>tso-life</tags>\n      <category>inspire</category>\n      <date>2016-11-23</date>\n      <title>Inspiring Quote of the day</title>\n      <background>https://theysaidso.com/img/bgs/man_on_the_mountain.jpg</background>\n      <id>k7rTMtmveYHUN2ImwxNhhAeF</id>\n    </quotes>\n  </contents>\n</response>"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"error\": {\n    \"code\": 400,\n    \"message\": \"Bad Request: QOD category not supported for this category and language combination\"\n  }\n}               "
                  }
                }
              }
            },
            "description": "400  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Quote of the day"
        ]
      }
    },
    "/qod/categories": {
      "get": {
        "description": "Gets a list of `Quote of the Day` Categories.\n",
        "parameters": [
          {
            "description": "Language of the QOD category. The language must be supported in our QOD system.",
            "in": "query",
            "name": "language",
            "required": false,
            "schema": {
              "default": "en",
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Return detailed information of the categories. Note the data format changes between the two values of this switch.",
            "in": "query",
            "name": "detailed",
            "required": false,
            "schema": {
              "default": false,
              "format": "boolean",
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"success\": {\n        \"total\": 8\n    },\n    \"contents\": {\n        \"categories\": {\n            \"inspire\": \"Inspiring Quote of the day\",\n            \"management\": \"Management Quote of the day\",\n            \"sports\": \"Sports Quote of the day\",\n            \"life\": \"Quote of the day about life\",\n            \"funny\": \"Funny Quote of the day\",\n            \"love\": \"Quote of the day about Love\",\n            \"art\": \"Art quote of the day \",\n            \"students\": \"Quote of the day for students\"\n        },\n        \"copyright\": \"2013-15 http://theysaidso.com\"\n    }\n}   "
                  }
                }
              }
            },
            "description": "200  response"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"error\": {\n    \"code\": 400,\n    \"message\": \"No QOD categories defined for this language.\"\n  }\n}                            "
                  }
                }
              }
            },
            "description": "400  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Quote of the day"
        ]
      }
    },
    "/qod/languages": {
      "get": {
        "description": "Gets a list of supported languages for `Quote of the Day`. \n",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 2\n  },\n  \"contents\": {\n    \"languages\": [\n      \"en\",\n      \"fr\",\n      \"ta\"\n    ]\n  },\n  \"baseurl\": \"https://theysaidso.com\",\n  \"copyright\": \"2019-22 https://theysaidso.com\"\n}"
                  }
                }
              }
            },
            "description": "200  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Quote of the day"
        ]
      }
    },
    "/qshow": {
      "delete": {
        "description": "Delete a qshow.\n",
        "parameters": [
          {
            "description": "Qshow ID",
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "examples": {
                  "response": {
                    "value": "{}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401  response"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 404,\n        \"message\": \"Not Found: Qshow not found\"\n    }\n}                      "
                  }
                }
              }
            },
            "description": "404  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Qshow"
        ]
      },
      "get": {
        "description": "Gets a details about a qshow.\n",
        "parameters": [
          {
            "description": "Qshow ID",
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"success\": {\n        \"total\": 1\n    },\n    \"contents\": {\n        \"qshow\": {\n            \"title\": \"A tribute to Steve Jobs!\",\n            \"description\": \"A collection of great quotes from the master inventor Steve Jobs!\",\n            \"background\": \"https://theysaidso.com\",\n            \"language\": \"en\",\n            \"id\": \"CodzN7F_vU_URoHrPSUvDgeF\"\n        }\n    },\n    \"copyright\": {\n        \"year\": \"2016-18\",\n        \"url\": \"http://theysaidso.com\"\n    }\n}"
                  }
                }
              },
              "application/xml": {
                "examples": {
                  "response": {
                    "value": "<?xml version=\"1.0\"?> <response>\n  <success>\n    <total>1</total>\n  </success>\n  <contents>\n    <qshow>\n      <title>A tribute to Steve Jobs!</title>\n      <description>A collection of great quotes from the master inventor Steve Jobs!</description>\n      <background>https://theysaidso.com</background>\n      <language>en</language>\n      <id>CodzN7F_vU_URoHrPSUvDgeF</id>\n    </qshow>\n  </contents>\n  <copyright>\n    <year>2016-18</year>\n    <url>http://theysaidso.com</url>\n  </copyright>\n</response>"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401  response"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 404,\n        \"message\": \"Not Found: Qshow not found\"\n    }\n}                 "
                  }
                }
              }
            },
            "description": "404  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Qshow"
        ]
      },
      "patch": {
        "description": "Update an existing qshow.",
        "parameters": [
          {
            "description": "Qshow ID",
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Qshow title",
            "in": "query",
            "name": "title",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Qshow description",
            "in": "query",
            "name": "description",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Tags for the qshow",
            "explode": true,
            "in": "query",
            "name": "tags",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"content\": {\n    \"quote\": {\n      \"id\": \"CodzN7F_vU_URoHrPSUvDgeF\"\n    }\n  }\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401  response"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 404,\n        \"message\": \"Not Found: Qshow not found\"\n    }\n}                    "
                  }
                }
              }
            },
            "description": "404  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Qshow"
        ]
      },
      "put": {
        "description": "Create and add a new qshow to your private collection.",
        "parameters": [
          {
            "description": "Qshow title",
            "in": "query",
            "name": "title",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Qshow description",
            "in": "query",
            "name": "description",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Tags for the qshow",
            "explode": true,
            "in": "query",
            "name": "tags",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"content\": {\n    \"quote\": {\n      \"id\": \"CodzN7F_vU_URoHrPSUvDgeF\"\n    }\n  }\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}              "
                  }
                }
              }
            },
            "description": "401  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Qshow"
        ]
      }
    },
    "/qshow/list": {
      "get": {
        "description": "Get the list of Qshows in They Said So platform.",
        "parameters": [
          {
            "description": "Response is paged. This parameter controls where response starts the listing at",
            "in": "query",
            "name": "start",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Should include public qshows or not in the list",
            "in": "query",
            "name": "public",
            "required": false,
            "schema": {
              "default": false,
              "format": "boolean",
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"success\": {\n        \"total\": \"39\",\n        \"start\": 0,\n        \"limit\": 5\n    },\n    \"contents\": {\n        \"qshows\": [\n            {\n                \"title\": \"A tribute to Steve Jobs!\",\n                \"description\": \"A collection of great quotes from the master inventor Steve Jobs!\",\n                \"background\": \"/img/bgs/stevejobs.jpg\",\n                \"language\": \"en\",\n                \"id\": \"CodzN7F_vU_URoHrPSUvDgeF\"\n            },\n            {\n                \"title\": \"Celebrating Life!\",\n                \"description\": \"Eat, Sleep, Live your life!\",\n                \"background\": \"/img/slide-01.jpg\",\n                \"language\": \"en\",\n                \"id\": \"opDfpWwAD6lrfxdW_GBoVAeF\"\n            },\n            {\n                \"title\": \"Books \",\n                \"description\": \"Reading is the greatest pleasure for many! Here's to the bookies!\",\n                \"background\": \"/img/bgs/book.jpg\",\n                \"language\": \"en\",\n                \"id\": \"WMeCgo5WpiLk_qlbdAVyQweF\"\n            },\n            {\n                \"title\": \"Kids\",\n                \"description\": \"\",\n                \"background\": \"\",\n                \"language\": \"en\",\n                \"id\": \"sx9reMTiaGzXdt7lbVWntQeF\"\n            },\n            {\n                \"title\": \"Great quotes to live by\",\n                \"description\": \"Here are some powerful words of wisdom that inspire, educate and motivate a person to take action. \",\n                \"background\": \"/img/slide-03.jpg\",\n                \"language\": \"en\",\n                \"id\": \"k_kwBr7BKzxz3vLTQ6TWMQeF\"\n            }\n        ]\n    },\n    \"copyright\": {\n        \"year\": \"2016-18\",\n        \"url\": \"http://theysaidso.com\"\n    }\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n} "
                  }
                }
              }
            },
            "description": "401  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Qshow"
        ]
      }
    },
    "/qshow/quotes": {
      "get": {
        "description": "Get the quotes in a given Qshow.",
        "parameters": [
          {
            "description": "Qshow ID",
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"success\": {\n        \"total\": 1\n    },\n    \"contents\": {\n        \"qshow\": {\n            \"title\": \"A tribute to Steve Jobs!\",\n            \"description\": \"A collection of great quotes from the master inventor Steve Jobs!\",\n            \"background\": \"https://theysaidso.com/img/bgs/stevejobs.jpg\",\n            \"language\": \"en\",\n            \"id\": \"CodzN7F_vU_URoHrPSUvDgeF\"\n        },\n        \"quotes\": [\n            {\n                \"quote\": \"A lot of people in our industry haven't had very diverse experiences. So they don't have enough dots to connect, and they end up with very linear solutions without a broad perspective on the problem. The broader one's understanding of the human experience, the better design we will have.\",\n                \"length\": \"288\",\n                \"author\": \"Steve Jobs\",\n                \"tags\": [\n                    \"design\",\n                    \"diversity\",\n                    \"experience\",\n                    \"linear-thinking\"\n                ],\n                \"id\": \"6HW5Uopw8VFLRKZEqGKDXQeF\"\n            },\n            {\n                \"quote\": \"Stay hungry. Stay foolish.\",\n                \"length\": \"26\",\n                \"author\": \"Steve Jobs\",\n                \"tags\": [\n                    \"inspirational\"\n                ],\n                \"id\": \"K__p_L1iMZtWulJ1SH4CogeF\"\n            },\n            {\n                \"quote\": \"Your time is limited, so don't waste it living someone else's life.\",\n                \"length\": \"67\",\n                \"author\": \"Steve Jobs\",\n                \"tags\": [\n                    \"life-and-living\",\n                    \"tso-life\"\n                ],\n                \"id\": \"mFjh_dNB_exJMHbyzRFIvQeF\"\n            },\n            {\n                \"quote\": \"If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it. And, like any great relationship, it just gets better and better as the years roll on.\",\n                \"length\": \"207\",\n                \"author\": \"Steve Jobs\",\n                \"tags\": [\n                    \"careers\",\n                    \"ideas\",\n                    \"ingenuity\",\n                    \"match\",\n                    \"passion\"\n                ],\n                \"id\": \"l3Cww1Bx7cYGlIpB_wZuOAeF\"\n            },\n            {\n                \"quote\": \"Details matter, it's worth waiting to get it right.\",\n                \"length\": \"51\",\n                \"author\": \"Steve Jobs\",\n                \"tags\": [\n                    \"apple\",\n                    \"ileadership\",\n                    \"jobs\",\n                    \"mac\",\n                    \"macintosh\",\n                    \"steve\"\n                ],\n                \"id\": \"A8gqJ6u2x3ZdUDU5VlnIxgeF\"\n            },\n            {\n                \"quote\": \"Be a yardstick of quality. Some people aren't used to an environment where excellence is expected.\",\n                \"length\": \"98\",\n                \"author\": \"Steve Jobs\",\n                \"tags\": [\n                    \"environment\",\n                    \"excellence\",\n                    \"people\",\n                    \"quality\"\n                ],\n                \"id\": \"rlqbJLNmDMPT_qkCpDBjEgeF\"\n            },\n            {\n                \"quote\": \"If you live each day as it was your last, someday you'll most certainly be right\",\n                \"length\": \"80\",\n                \"author\": \"Steve Jobs\",\n                \"tags\": [\n                    \"death\",\n                    \"rip\",\n                    \"steve\",\n                    \"tso-life\"\n                ],\n                \"id\": \"sBse0_uUemQD2l_qdL9BJgeF\"\n            },\n            {\n                \"quote\": \"Death is the destination we all share, no one has ever escaped it. And that is as it should be because death is very likely the single best invention of life.\",\n                \"length\": \"158\",\n                \"author\": \"Steve Jobs\",\n                \"tags\": [\n                    \"death\",\n                    \"destination\",\n                    \"invention\",\n                    \"life-and-death\",\n                    \"tso-life\"\n                ],\n                \"id\": \"LvjYLbdYzBOAqPPKfohvmQeF\"\n            },\n            {\n                \"quote\": \"Why join the navy if you can be a pirate?\",\n                \"length\": \"41\",\n                \"author\": \"Steve Jobs\",\n                \"tags\": [\n                    \"career\"\n                ],\n                \"id\": \"S6xVf_Nluid5r_0iO73ArQeF\"\n            },\n            {\n                \"quote\": \"One more thing...\",\n                \"length\": \"17\",\n                \"author\": \"Steve Jobs\",\n                \"tags\": [\n                    \"inspiration\"\n                ],\n                \"id\": \"X2QetehlwForyBZ5Nbp2YQeF\"\n            }\n        ]\n    },\n    \"copyright\": {\n        \"year\": \"2016-18\",\n        \"url\": \"http://theysaidso.com\"\n    }\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401  response"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 404,\n        \"message\": \"Not Found: Qshow not found\"\n    }\n}                      "
                  }
                }
              }
            },
            "description": "404  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Qshow"
        ]
      }
    },
    "/qshow/quotes/add": {
      "post": {
        "description": "Add a quote to a given Qshow.",
        "parameters": [
          {
            "description": "Qshow ID",
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Quote ID to add the qshow collection",
            "in": "query",
            "name": "quoteid",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"content\": {\n    \"Quote added\"\n  }\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401  response"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 404,\n        \"message\": \"Not Found: Qshow not found\"\n    }\n}                      "
                  }
                }
              }
            },
            "description": "404  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Qshow"
        ]
      }
    },
    "/qshow/quotes/remove": {
      "post": {
        "description": "Remove a quote to a given Qshow.",
        "parameters": [
          {
            "description": "Qshow ID",
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Quote ID to remove from the qshow collection",
            "in": "query",
            "name": "quoteid",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"content\": {\n    \"Quote removed from Qshow\"\n  }\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401  response"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 404,\n        \"message\": \"Not Found: Qshow not found\"\n    }\n}                      "
                  }
                }
              }
            },
            "description": "404  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Qshow"
        ]
      }
    },
    "/quote": {
      "delete": {
        "description": "Delete a quote. The user needs to be the owner of the quote to be able to delete it.\n",
        "parameters": [
          {
            "description": "Quote ID",
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "examples": {
                  "response": {
                    "value": "{}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401  response"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 404,\n        \"message\": \"Not Found: Quote not found\"\n    }\n}                      "
                  }
                }
              }
            },
            "description": "404  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Private Quotes"
        ]
      },
      "get": {
        "description": "Gets a `Quote` with a given `id`.",
        "parameters": [
          {
            "description": "Quote ID",
            "in": "query",
            "name": "id",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"contents\": {\n    \"quote\": \"The day soldiers stop bringing you their problems is the day you have stopped leading them. They have either lost confidence that you can help them or concluded that you do not care. Either case is a failure of leadership.\",\n    \"author\": \"Colin Powell\",\n    \"id\": \"XLa1AmylKv1XF_dXcyhvdweF\",\n    \"language\": \"en\",\n    \"sfw\": \"sfw\",\n    \"permalink\": \"https://theysaidso.com/quote/colin-powell-the-day-soldiers-stop-bringing-you-their-problems-is-the-day-you-ha\",\n    \"requested_category\": \"inspire\",\n    \"categories\": [\n      \"confidence\",\n      \"leadership\",\n      \"management\",\n      \"tod\"\n    ]\n  }\n}"
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              },
              "application/xml": {
                "examples": {
                  "response": {
                    "value": "<?xml version=\"1.0\"?> <response>\n  <success>\n    <total>1</total>\n  </success>\n  <contents>\n    <quotes>\n      <quote>Sometimes you climb out of bed in the morning and you think, I'm not going to make it, but you laugh inside &#x2014; remembering all the times you've felt that way.</quote>\n      <length>164</length>\n      <author>Charles Bukowski</author>\n      <tags>depression</tags>\n      <tags>inspire</tags>\n      <tags>tso-life</tags>\n      <category>inspire</category>\n      <date>2016-11-23</date>\n      <title>Inspiring Quote of the day</title>\n      <background>https://theysaidso.com/img/bgs/man_on_the_mountain.jpg</background>\n      <id>k7rTMtmveYHUN2ImwxNhhAeF</id>\n    </quotes>\n  </contents>\n</response>        "
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Quote",
          "Private Quotes"
        ]
      },
      "patch": {
        "description": "Update a quote",
        "parameters": [
          {
            "description": "Quote ID",
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Quote",
            "in": "query",
            "name": "quote",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Quote Author",
            "in": "query",
            "name": "author",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Language. If not supplied an auto detection mechanism will be used to detect a language.",
            "in": "query",
            "name": "language",
            "required": false,
            "schema": {
              "default": "en",
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Comma Separated tags",
            "in": "query",
            "name": "tags",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"content\": {\n    \"quote\": {\n      \"id\": \"0tztT1wYHRzdTf7jIccAzweF\"\n    }\n  }\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}              "
                  }
                }
              }
            },
            "description": "401  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Private Quotes"
        ]
      },
      "post": {
        "description": "Add a new quote to your private collection. Same as 'PUT' but added since some clients don't handle PUT well.",
        "parameters": [
          {
            "description": "Quote",
            "in": "query",
            "name": "quote",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Quote Author",
            "in": "query",
            "name": "author",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Comma Separated tags",
            "in": "query",
            "name": "tags",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Language. If not supplied an auto detection mechanism will be used to detect a language.",
            "in": "query",
            "name": "language",
            "required": false,
            "schema": {
              "default": "en",
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"content\": {\n    \"quote\": {\n      \"id\": \"0tztT1wYHRzdTf7jIccAzweF\"\n    }\n  }\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}              "
                  }
                }
              }
            },
            "description": "401  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Private Quotes"
        ]
      },
      "put": {
        "description": "Add a new quote to your private collection.",
        "parameters": [
          {
            "description": "Quote",
            "in": "query",
            "name": "quote",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Quote Author",
            "in": "query",
            "name": "author",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Comma Separated tags",
            "in": "query",
            "name": "tags",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Language. If not supplied an auto detection mechanism will be used to detect a language.",
            "in": "query",
            "name": "language",
            "required": false,
            "schema": {
              "default": "en",
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"content\": {\n    \"quote\": {\n      \"id\": \"0tztT1wYHRzdTf7jIccAzweF\"\n    }\n  }\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}              "
                  }
                }
              }
            },
            "description": "401  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Private Quotes"
        ]
      }
    },
    "/quote/authors/popular": {
      "get": {
        "description": "Gets a list of popular author names in the system. \n",
        "parameters": [
          {
            "description": "Language. A same author may have quotes in two or more different languages. So for example 'Mahatma Gandhi' may be returned for language \"en\"(English), and \"மஹாத்மா காந்தி\" may be returned when the language is \"ta\" (Tamil).",
            "in": "query",
            "name": "language",
            "required": false,
            "schema": {
              "default": "en",
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Should return detailed author information such as `birthday`, `death date`, `occupation`, `description` etc. Only available at certain subscription levels.",
            "in": "query",
            "name": "detailed",
            "required": false,
            "schema": {
              "default": false,
              "format": "boolean",
              "type": "boolean"
            }
          },
          {
            "description": "Response is paged. This parameter controls where response starts the listing at",
            "in": "query",
            "name": "start",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Response is paged. This parameter controls how many is returned in the result. The maximum depends on the subscription level.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 5,
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": \"2646\",\n    \"range\": {\n      \"start\": 0,\n      \"end\": 5\n    }\n  },\n  \"contents\": {\n    \"authors\": [\n      {\n        \"name\": \"Robert Louis Stevenson\",\n        \"slug\": \"robert-louis-stevenson\",\n        \"occupation\": \"Author\",\n        \"born\": \"1850-11-13 00:00:00\",\n        \"dead\": \"1894-12-03 00:00:00\",\n        \"description\": null,\n        \"id\": \"_kobR6QdDXDw_HCo2J_n0AeF\"\n      },\n      {\n        \"name\": \"Steve Jobs\",\n        \"slug\": \"steve-jobs\",\n        \"occupation\": \"Business\",\n        \"born\": \"1955-02-24 00:00:00\",\n        \"dead\": \"2011-10-05 00:00:00\",\n        \"description\": \"\",\n        \"id\": \"WKCl3utqIPYnCXiZubNNKAeF\"\n      },\n      {\n        \"name\": \"Steve Maraboli\",\n        \"slug\": \"steve-maraboli\",\n        \"occupation\": null,\n        \"born\": null,\n        \"dead\": null,\n        \"description\": null,\n        \"id\": \"GfOeOBX2Gwp1emdunDiXDweF\"\n      },\n      {\n        \"name\": \"Steven Wright\",\n        \"slug\": \"steven-wright\",\n        \"occupation\": \"Comic\",\n        \"born\": \"1955-12-06 00:00:00\",\n        \"dead\": null,\n        \"description\": null,\n        \"id\": \"j144PP_Pew72rXVrRKAmgAeF\"\n      },\n      {\n        \"name\": \"Wallace Stevens\",\n        \"slug\": \"wallace-stevens\",\n        \"occupation\": \"Poet\",\n        \"born\": \"1879-10-02 00:00:00\",\n        \"dead\": \"1955-08-02 00:00:00\",\n        \"description\": null,\n        \"id\": \"IF8HZp3hHsP_BzepN65atQeF\"\n      }\n    ],\n    \"matched_query\": \"steve\"\n  },\n  \"baseurl\": \"https://theysaidso.com\",\n  \"copyright\": \"2019-22 https://theysaidso.com\"\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"error\": {\n    \"code\": 400,\n    \"message\": \"Bad Request: Author details retrieval options are not supported for this user (please upgrade your subscription)\"\n  }\n}"
                  }
                }
              }
            },
            "description": "400  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Quote"
        ]
      }
    },
    "/quote/authors/search": {
      "get": {
        "description": "Gets a list of author names in the system. \n",
        "parameters": [
          {
            "description": "Text string to search for in author names",
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Language. A same author may have quotes in two or more different languages. So for example 'Mahatma Gandhi' may be returned for language \"en\"(English), and \"மஹாத்மா காந்தி\" may be returned when the language is \"ta\" (Tamil).",
            "in": "query",
            "name": "language",
            "required": false,
            "schema": {
              "default": "en",
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Should return detailed author information such as `birthday`, `death date`, `occupation`, `description` etc. Only available at certain subscription levels.",
            "in": "query",
            "name": "detailed",
            "required": false,
            "schema": {
              "default": false,
              "format": "boolean",
              "type": "boolean"
            }
          },
          {
            "description": "Response is paged. This parameter controls where response starts the listing at",
            "in": "query",
            "name": "start",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Response is paged. This parameter controls how many is returned in the result. The maximum depends on the subscription level.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 1,
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": \"2646\",\n    \"range\": {\n      \"start\": 0,\n      \"end\": 5\n    }\n  },\n  \"contents\": {\n    \"authors\": [\n      {\n        \"name\": \"Robert Louis Stevenson\",\n        \"slug\": \"robert-louis-stevenson\",\n        \"occupation\": \"Author\",\n        \"born\": \"1850-11-13 00:00:00\",\n        \"dead\": \"1894-12-03 00:00:00\",\n        \"description\": null,\n        \"id\": \"_kobR6QdDXDw_HCo2J_n0AeF\"\n      },\n      {\n        \"name\": \"Steve Jobs\",\n        \"slug\": \"steve-jobs\",\n        \"occupation\": \"Business\",\n        \"born\": \"1955-02-24 00:00:00\",\n        \"dead\": \"2011-10-05 00:00:00\",\n        \"description\": \"\",\n        \"id\": \"WKCl3utqIPYnCXiZubNNKAeF\"\n      },\n      {\n        \"name\": \"Steve Maraboli\",\n        \"slug\": \"steve-maraboli\",\n        \"occupation\": null,\n        \"born\": null,\n        \"dead\": null,\n        \"description\": null,\n        \"id\": \"GfOeOBX2Gwp1emdunDiXDweF\"\n      },\n      {\n        \"name\": \"Steven Wright\",\n        \"slug\": \"steven-wright\",\n        \"occupation\": \"Comic\",\n        \"born\": \"1955-12-06 00:00:00\",\n        \"dead\": null,\n        \"description\": null,\n        \"id\": \"j144PP_Pew72rXVrRKAmgAeF\"\n      },\n      {\n        \"name\": \"Wallace Stevens\",\n        \"slug\": \"wallace-stevens\",\n        \"occupation\": \"Poet\",\n        \"born\": \"1879-10-02 00:00:00\",\n        \"dead\": \"1955-08-02 00:00:00\",\n        \"description\": null,\n        \"id\": \"IF8HZp3hHsP_BzepN65atQeF\"\n      }\n    ],\n    \"matched_query\": \"steve\"\n  },\n  \"baseurl\": \"https://theysaidso.com\",\n  \"copyright\": \"2019-22 https://theysaidso.com\"\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"error\": {\n    \"code\": 400,\n    \"message\": \"Bad Request: Author details retrieval options are not supported for this user (please upgrade your subscription)\"\n  }\n}"
                  }
                }
              }
            },
            "description": "400  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Quote"
        ]
      }
    },
    "/quote/categories/popular": {
      "get": {
        "description": "Gets a list of popular `Quote` Categories.\n",
        "parameters": [
          {
            "description": "Response is paged. This parameter controls where response starts the listing at",
            "in": "query",
            "name": "start",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Response is paged. This parameter controls how many is returned in the result. The maximum depends on the subscription level.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 5,
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 18,\n    \"range\": {\n      \"start\": 0,\n      \"end\": 5\n    }\n  },\n  \"contents\": {\n    \"categories\": [\n      {\n        \"name\": \"inspirational\",\n        \"title\": \"Inspirational Quotes\"\n      },\n      {\n        \"name\": \"work\",\n        \"title\": null\n      },\n      {\n        \"name\": \"women\",\n        \"title\": null\n      },\n      {\n        \"name\": \"people\",\n        \"title\": null\n      },\n      {\n        \"name\": \"death\",\n        \"title\": null\n      }\n    ]\n  },\n  \"baseurl\": \"https://theysaidso.com\",\n  \"copyright\": \"2019-22 https://theysaidso.com\"\n}               "
                  }
                }
              }
            },
            "description": "200  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Quote"
        ]
      }
    },
    "/quote/categories/search": {
      "get": {
        "description": "Gets a list of `Quote` Categories matching the query string.\n",
        "parameters": [
          {
            "description": "Text string to search for in the categories",
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "default": 0,
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Response is paged. This parameter controls where response starts the listing at",
            "in": "query",
            "name": "start",
            "required": false,
            "schema": {
              "default": 0,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Response is paged. This parameter controls how many is returned in the result. The maximum depends on the subscription level.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 2,
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 34,\n    \"range\": {\n      \"start\": 0,\n      \"end\": 5\n    }\n  },\n  \"contents\": {\n    \"categories\": [\n      {\n        \"name\": \"inspire\",\n        \"title\": null\n      },\n      {\n        \"name\": \"inspired\",\n        \"title\": null\n      },\n      {\n        \"name\": \"words-to-inspire-you\",\n        \"title\": null\n      },\n      {\n        \"name\": \"self-inspired\",\n        \"title\": null\n      },\n      {\n        \"name\": \"inspire-the-world\",\n        \"title\": null\n      }\n    ]\n  },\n  \"baseurl\": \"https://theysaidso.com\",\n  \"copyright\": \"2019-22 https://theysaidso.com\"\n}"
                  }
                }
              }
            },
            "description": "200  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Quote"
        ]
      }
    },
    "/quote/dislike": {
      "delete": {
        "description": "Remove the disLike for the given Quote as a user of the API Key.",
        "parameters": [
          {
            "description": "Quote ID",
            "in": "query",
            "name": "quote_id",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"contents\": \"Like / Dislike removed from quote.\"\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401  response"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 404,\n        \"message\": \"Not Found: Quote not found\"\n    }\n}                       "
                  }
                }
              }
            },
            "description": "404  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Quote"
        ]
      },
      "post": {
        "description": "Dislike the given Quote as a user of the API Key. Same as `put` but a convenient alias for those clients that don't support `put` cleanly.",
        "parameters": [
          {
            "description": "Quote ID",
            "in": "query",
            "name": "quote_id",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"contents\": \"Disliked the quote\"\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401  response"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 404,\n        \"message\": \"Not Found: Quote not found\"\n    }\n}"
                  }
                }
              }
            },
            "description": "404  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Quote"
        ]
      },
      "put": {
        "description": "Dislike the given Quote as a user of the API Key. Some clients don't cleanly support `PUT`, in such scenarios use the `POST` version of this.",
        "parameters": [
          {
            "description": "Quote ID",
            "in": "query",
            "name": "quote_id",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"contents\": \"Disliked the quote\"\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401  response"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 404,\n        \"message\": \"Not Found: Quote not found\"\n    }\n}"
                  }
                }
              }
            },
            "description": "404  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Quote"
        ]
      }
    },
    "/quote/image": {
      "delete": {
        "description": "Delete a quote image. The user needs to be the owner of the quote image to be able to delete it.\n",
        "parameters": [
          {
            "description": "Quote Image ID",
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "examples": {
                  "response": {
                    "value": "{}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401  response"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 404,\n        \"message\": \"Not Found: Quote not found\"\n    }\n}                      "
                  }
                }
              }
            },
            "description": "404  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Quote Images"
        ]
      },
      "get": {
        "description": "Gets a Quote image for a given id. Response can be an image file as a binary or a base64 encoded contents wrapped in json. `TODO`\n",
        "parameters": [
          {
            "description": "Quote Image id",
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Should the response be a direct file download of the image or a base64 encoded image file wrapped in json?",
            "in": "query",
            "name": "binary",
            "required": false,
            "schema": {
              "default": true,
              "format": "boolean",
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"contents\": {\n    \"qimage\": {\n      \"id\": \"75c3EoOmPVolqfB4KeUhXgeF\",\n      \"quote_id\": \"5e0QH_0k5srOUN1Wdu9AgweF\",\n      \"permalink\": \"https://theysaidso.com/i/75c3EoOmPVolqfB4KeUhXgeF\",\n      \"download_uri\": \"https://theysaidso.com/i/image/75c3EoOmPVolqfB4KeUhXgeF\"\n    }\n  },\n  \"copyright\": \"2019-22 https://theysaidso.com\"\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n} "
                  }
                }
              }
            },
            "description": "401  response"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 404,\n        \"message\": \"Not Found: Quote image not found\"\n    }\n}                       "
                  }
                }
              }
            },
            "description": "404  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Quote Images"
        ]
      },
      "put": {
        "description": "Create a new quote image for a given quote. Choose background colors/images , choose different font styles and generate a beautiful quote image. Did you just had a feeling of being a god or what?!\n",
        "parameters": [
          {
            "description": "Quote id",
            "in": "query",
            "name": "quote_id",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Background Image id ( Will override bgcolor if supplied)",
            "in": "query",
            "name": "bgimage_id",
            "required": false,
            "schema": {
              "default": "theysaidso_default_background_image",
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Background Color(if background image id is not supplied)",
            "in": "query",
            "name": "bg_color",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Font id",
            "in": "query",
            "name": "font_id",
            "required": false,
            "schema": {
              "default": "theysaidso_default_font",
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Text Color",
            "in": "query",
            "name": "text_color",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Text/font size",
            "in": "query",
            "name": "text_size",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Horizontal text Alignment Value",
            "in": "query",
            "name": "halign",
            "required": false,
            "schema": {
              "default": "center",
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Vertical text Alignment Value",
            "in": "query",
            "name": "valign",
            "required": false,
            "schema": {
              "default": "center",
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Image Width(By default this takes the width of the background image)",
            "in": "query",
            "name": "width",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          },
          {
            "description": "Image Height(By default this takes the height of the background image)",
            "in": "query",
            "name": "height",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          },
          {
            "description": "Disable They Said So branding (Only available in certain subscription levels. Ignored in other levels)",
            "in": "query",
            "name": "branding",
            "required": false,
            "schema": {
              "default": false,
              "format": "boolean",
              "type": "boolean"
            }
          },
          {
            "description": "Should include a transparent layer between the text and the background image? This helps when the background image is bright and obscures the text.",
            "in": "query",
            "name": "include_transparent_layer",
            "required": false,
            "schema": {
              "default": true,
              "format": "boolean",
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"contents\": {\n      \"id\": \"75c3EoOmPVolqfB4KeUhXgeF\",\n  },\n  \"copyright\": \"2019-22 https://theysaidso.com\"\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n} "
                  }
                }
              }
            },
            "description": "401  response"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 404,\n        \"message\": \"Not Found: Quote image not found\"\n    }\n}                         "
                  }
                }
              }
            },
            "description": "404  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Quote Images"
        ]
      }
    },
    "/quote/image/background": {
      "delete": {
        "description": "Delete a background image file. The user needs to be the owner of the background image to be able to delete it.\n",
        "parameters": [
          {
            "description": "Font ID",
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"content\": \"Resource Deleted\"\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401  response"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 404,\n        \"message\": \"Not Found: Resource not found\"\n    }\n}                                          "
                  }
                }
              }
            },
            "description": "404  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Quote Images"
        ]
      },
      "post": {
        "description": "Add an image for use later as a quote background image.",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "image": {
                    "description": "Image file to add to your collection (png/jpg/gif are supported)",
                    "format": "binary",
                    "type": "string"
                  },
                  "tags": {
                    "description": "Optional comma separated tags",
                    "format": "string",
                    "type": "string"
                  }
                },
                "required": [
                  "image"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"content\": {\n     \"id\" : \"afBLte5678bnzxc_iRbcg\"\n  }\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Quote Images"
        ]
      }
    },
    "/quote/image/background/list": {
      "get": {
        "description": "Lists background images in your private collection. \n",
        "parameters": [
          {
            "description": "Response is paged. This parameter determines where the response should start.",
            "in": "query",
            "name": "start",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"contents\": {\n    \"qimage\": {\n      \"id\": \"75c3EoOmPVolqfB4KeUhXgeF\",\n      \"quote_id\": \"5e0QH_0k5srOUN1Wdu9AgweF\",\n      \"permalink\": \"https://theysaidso.com/i/75c3EoOmPVolqfB4KeUhXgeF\",\n      \"download_uri\": \"https://theysaidso.com/i/image/75c3EoOmPVolqfB4KeUhXgeF\"\n    }\n  },\n  \"copyright\": \"2019-22 https://theysaidso.com\"\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}     "
                  }
                }
              }
            },
            "description": "401  response"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 404,\n        \"message\": \"Not Found: Quote image matching the query criteria not found\"\n    }\n}"
                  }
                }
              }
            },
            "description": "404  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Quote Images"
        ]
      }
    },
    "/quote/image/background/search": {
      "get": {
        "description": "Searches for a background image with a given tag. \n",
        "parameters": [
          {
            "description": "Tag string",
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"contents\": {\n    \"qimage\": {\n      \"id\": \"75c3EoOmPVolqfB4KeUhXgeF\",\n      \"quote_id\": \"5e0QH_0k5srOUN1Wdu9AgweF\",\n      \"permalink\": \"https://theysaidso.com/i/75c3EoOmPVolqfB4KeUhXgeF\",\n      \"download_uri\": \"https://theysaidso.com/i/image/75c3EoOmPVolqfB4KeUhXgeF\"\n    }\n  },\n  \"copyright\": \"2019-22 https://theysaidso.com\"\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}     "
                  }
                }
              }
            },
            "description": "401  response"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 404,\n        \"message\": \"Not Found: Quote image matching the query criteria not found\"\n    }\n}"
                  }
                }
              }
            },
            "description": "404  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Quote Images"
        ]
      }
    },
    "/quote/image/background/tags/add": {
      "post": {
        "description": "Add a tag to a given Image.",
        "parameters": [
          {
            "description": "Image ID",
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Comma Separated tags",
            "in": "query",
            "name": "tags",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401  response"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 404,\n        \"message\": \"Not Found: Image not found\"\n    }\n}                      "
                  }
                }
              }
            },
            "description": "404  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Quote Images"
        ]
      }
    },
    "/quote/image/background/tags/remove": {
      "post": {
        "description": "Remove a tag from a given Image.",
        "parameters": [
          {
            "description": "Image ID",
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Comma Separated tags",
            "in": "query",
            "name": "tags",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401  response"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 404,\n        \"message\": \"Not Found: Image not found\"\n    }\n}"
                  }
                }
              }
            },
            "description": "404  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Quote Images"
        ]
      }
    },
    "/quote/image/font": {
      "delete": {
        "description": "Delete a font file. The user needs to be the owner of the font to be able to delete it.\n",
        "parameters": [
          {
            "description": "Font ID",
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/xml": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"content\": \"Resource Deleted\"\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401  response"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 404,\n        \"message\": \"Not Found: Resource not found\"\n    }\n}                                          "
                  }
                }
              }
            },
            "description": "404  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Quote Images"
        ]
      },
      "post": {
        "description": "Add a font file for use later in creating a quote image. This is essentially a `PUT` but not many clients handle PUT with binary stream i.e. a file, gracefully.",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "font": {
                    "description": "Font file to add to your collection (ttf/otf are supported)",
                    "format": "binary",
                    "type": "string"
                  },
                  "tags": {
                    "description": "Optional comma separated tags",
                    "format": "string",
                    "type": "string"
                  }
                },
                "required": [
                  "font"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"content\": {\n     \"id\" : \"afBLte5678bnzxc_iRbcg\"\n  }\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Quote Images"
        ]
      }
    },
    "/quote/image/font/list": {
      "get": {
        "description": "Lists background images in your private collection. \n",
        "parameters": [
          {
            "description": "Response is paged. This parameter determines where the response should start.",
            "in": "query",
            "name": "start",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"contents\": {\n    \"qimage\": {\n      \"id\": \"75c3EoOmPVolqfB4KeUhXgeF\",\n      \"quote_id\": \"5e0QH_0k5srOUN1Wdu9AgweF\",\n      \"permalink\": \"https://theysaidso.com/i/75c3EoOmPVolqfB4KeUhXgeF\",\n      \"download_uri\": \"https://theysaidso.com/i/image/75c3EoOmPVolqfB4KeUhXgeF\"\n    }\n  },\n  \"copyright\": \"2019-22 https://theysaidso.com\"\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}     "
                  }
                }
              }
            },
            "description": "401  response"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 404,\n        \"message\": \"Not Found: Quote image matching the query criteria not found\"\n    }\n}"
                  }
                }
              }
            },
            "description": "404  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Quote Images"
        ]
      }
    },
    "/quote/image/font/search": {
      "get": {
        "description": "Searches for a font with a given tag. \n",
        "parameters": [
          {
            "description": "Tag string",
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"contents\": {\n    \"qimage\": {\n      \"id\": \"75c3EoOmPVolqfB4KeUhXgeF\",\n      \"quote_id\": \"5e0QH_0k5srOUN1Wdu9AgweF\",\n      \"permalink\": \"https://theysaidso.com/i/75c3EoOmPVolqfB4KeUhXgeF\",\n      \"download_uri\": \"https://theysaidso.com/i/image/75c3EoOmPVolqfB4KeUhXgeF\"\n    }\n  },\n  \"copyright\": \"2019-22 https://theysaidso.com\"\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}     "
                  }
                }
              }
            },
            "description": "401  response"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 404,\n        \"message\": \"Not Found: Quote image matching the query criteria not found\"\n    }\n}"
                  }
                }
              }
            },
            "description": "404  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Quote Images"
        ]
      }
    },
    "/quote/image/font/tags/add": {
      "post": {
        "description": "Add a tag to a given font.",
        "parameters": [
          {
            "description": "Font ID",
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Comma Separated tags",
            "in": "query",
            "name": "tags",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401  response"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 404,\n        \"message\": \"Not Found: font not found\"\n    }\n}                      "
                  }
                }
              }
            },
            "description": "404  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Quote Images"
        ]
      }
    },
    "/quote/image/font/tags/remove": {
      "post": {
        "description": "Remove a tag from a given Font.",
        "parameters": [
          {
            "description": "Font ID",
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Comma Separated tags",
            "in": "query",
            "name": "tags",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401  response"
          },
          "404": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 404,\n        \"message\": \"Not Found: Font not found\"\n    }\n}"
                  }
                }
              }
            },
            "description": "404  response"
          }
        },
        "security": [
          {
            "X-TheySaidSo-Api-Secret": []
          }
        ],
        "tags": [
          "Quote Images"
        ]
      }
    },
    "/quote/image/search": {
      "get": {
        "description": "Gets a Random Quote image. Optional `category` param determines the category of quote used in the image. Optional `author` param gets the quote image of a given author. \n",
        "parameters": [
          {
            "description": "Quote Category",
            "in": "query",
            "name": "category",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "Quote Author",
            "in": "query",
            "name": "author",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
[...]
