swagger: "2.0"
schemes:
  - https
host: api.mastercard.com
basePath: /mdes/csapi/v2
info:
  contact:
    email: apisupport@mastercard.com
    name: Mastercard API Support
  description: This API provides our Issuer partners with resources to help resolve consumer queries about payment accounts enabled through our digitization platform.
  title: MDES Customer Service
  version: 2.0.7
  x-artifactId: mdes-customer-service
  x-origin:
    - format: swagger
      url: https://developer.mastercard.com/devzone/api/portal/swagger/mdes-customer-service
      version: "2.0"
  x-providerName: mastercard.com
  x-serviceName: MDES
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg
consumes:
  - application/json
produces:
  - application/json
paths:
  /accountholdermessaging:
    post:
      description: |
        Allows issuers to display customized messages per token within the Apple Pay wallet, below the digitized image of the card.
      parameters:
        - description: Contains the details of the request message.
          in: body
          name: AccountholderMessagingRequestSchema
          schema:
            $ref: "#/definitions/AccountHolderMessagingRequest"
      responses:
        "200":
          description: Contains the details of the response
          schema:
            $ref: "#/definitions/AccountHolderMessagingResponseSchema"
        default:
          description: unexpected error
          schema:
            $ref: "#/definitions/ErrorsResponse"
      tags:
        - Account Holder Messaging
      x-samples:
        - name: account_holder_messaging
          request:
            application/json: |-
              {
               "AccountHolderMessagingRequest": {
              "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
              "MessageText": " You have earned a statement credit ",
              "MessageExpiration": "2020-06-18T18:04:35-06:00",
              "MessageLanguageCode": "en",
              "MessageIdentifier": "6598123486451346764616431064",
              "IssuerApplicationMessageDisplay": "FALSE",
                "AuditInfo": {
                  "UserId": "A1435477",
                  "UserName": "John Smith",
                  "Organization": "Any Bank",
                  "Phone": "5555551234"
                  }
                }
              }
          response:
            application/json: |-
              {
               "AccountHolderMessagingResponse": {
                 "Token": {"TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c"}
                 }
               }
  /search:
    post:
      description: |
        Provides the ability to search for tokens based on Account PAN, Alternate Account Identifier, Token Unique Reference, Token, Payment App Instance Id or Comment Id. Returns all of the tokens associated with an account according to the scope of the indicated search request criteria. The response includes key state and informational data for each token, including the Token Unique Reference which is needed for subsequent token lifecycle management activities.<br><br>_Notes:_ The Search API request MUST include only one of the available search methods Account PAN, Token Unique Reference, Token, Payment App Instance Id, Comment Id, or Alternate Account Identifier. They cannot be used together in a single request.<br> Moreover, this function only retrieves results if the search criteria matches a current value from the token vault. In other words, if the search criteria is a PAN that has been replaced, the system will not retrieve any data. 
      parameters:
        - description: Contains the details of the request message.
          in: body
          name: SearchRequestSchema
          schema:
            $ref: "#/definitions/SearchRequestSchema"
      responses:
        "200":
          description: Contains the details of the response message.
          schema:
            $ref: "#/definitions/SearchResponseSchema"
        default:
          description: unexpected error
          schema:
            $ref: "#/definitions/ErrorsResponse"
      tags:
        - Search
      x-samples:
        - ignoreAsserts:
            - SearchResponse.Accounts.Account[0].AlternateAccountIdentifierSuffix
            - SearchResponse.Accounts.Account[0].Tokens.Token[0].AccountPanSequenceNumber
            - SearchResponse.Accounts.Account[0].Tokens.Token[0].TokenDeletedFromConsumerApp
          name: example_mdes_search_token_unique_ref
          request:
            application/json: |-
              {
                  "SearchRequest": {
                    "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                    "AuditInfo": {
                      "UserId": "A1435477",
                      "UserName": "John Smith",
                      "Organization": "Any Bank",
                      "Phone": "5555551234"
                    }
                  }
                }
          response:
            application/json: |-
              {
                "SearchResponse": {
                  "Accounts": {
                    "Account": [{
                      "AccountPanSuffix": "1234",
                      "ExpirationDate": "1215",
                      "AlternateAccountIdentifierSuffix": "",
                      "Tokens": {
                        "Token": [{
                          "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                          "PrimaryAccountNumberUniqueReference": "FWSPMC0000000004793dac803f190a4dca4bad33c90a11d3",
                          "TokenSuffix": "7639",
                          "ExpirationDate": "0216",
                          "AccountPanSequenceNumber" : "02",
                          "DigitizationRequestDateTime": "2015-01-20T18:04:35-06:00",
                          "TokenActivatedDateTime": "2015-01-20T18:04:35-06:00",
                          "FinalTokenizationDecision": "A",
                          "CorrelationId": "101234",
                          "CurrentStatusCode": "A",
                          "CurrentStatusDescription": "Active",
                          "ProvisioningStatusCode": "S",
                          "ProvisioningStatusDescription": "Provisioning successful",
                          "TokenRequestorId": "00212345678",
                          "WalletId": "103",
                          "PaymentAppInstanceId": "92de9357a535b2c21a3566e446f43c532a46b54c46",
                          "TokenType": "S",
                          "LastCommentId": "2376",
                          "Device": {
                            "DeviceId": "3e5edf24a24ba98e27d43e345b532a245e4723d7a9c4f624e93452c92de9357a535b2c21a3566e446f43c532d34s6",
                            "DeviceName": "John Phone",
                            "DeviceType": "09",
                            "SecureElementId": "92de9357a535b2c21a3566e446f43c532a46b54c46"
                          },
                          "TokenDeletedFromConsumerApp" : false
                        }]
                      }
                    }]
                  }
                }
              }
        - name: example_mdes_search_account_pan
          request:
            application/json: |-
              {
                  "SearchRequest": {
                    "AccountPan": "5412345678901234",
                    "ExcludeDeletedIndicator": "false",
                    "AuditInfo": {
                      "UserId": "A1435477",
                      "UserName": "John Smith",
                      "Organization": "Any Bank",
                      "Phone": "5555551234"
                    }
                  }
                }
          response:
            application/json: |-
              {

              }
        - name: example_mdes_search_token
          request:
            application/json: |-
              {
                "SearchRequest": {
                  "Token": "5598765432109876",
                  "AuditInfo": {
                    "UserId": "A14354773",
                    "UserName": "John Smith",
                    "Organization": "Any Bank",
                    "Phone": "5551234658"
                  }
                }
              }
          response:
            application/json: |-
              {

              }
        - name: example_mdes_search_comment_id
          request:
            application/json: |-
              {
                "SearchRequest": {
                  "CommentId": "123456",
                  "AuditInfo": {
                    "UserId": "A1435477",
                    "UserName": "John Smith",
                    "Organization": "Any Bank",
                    "Phone": "5555551234"
                  }
                }
              }
          response:
            application/json: |-
              {

              }
        - name: example_mdes_search_payment_app_id
          request:
            application/json: |-
              {
                "SearchRequest": {
                  "PaymentAppInstanceId": "645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e",
                  "AuditInfo": {
                    "UserId": "A14354773",
                    "UserName": "John Smith",
                    "Organization": "Any Bank",
                    "Phone": "5551234658"
                  }
                }
              }
          response:
            application/json: |-
              {

              }
  /systemstatus:
    get:
      description: Returns the overall system status of the Mastercard Digital Enablement Service.
      responses:
        "200":
          description: Contains the details of the response message.
          schema:
            $ref: "#/definitions/SystemStatusResponseSchema"
        default:
          description: unexpected error
          schema:
            $ref: "#/definitions/ErrorsResponse"
      tags:
        - System Status
      x-samples:
        - name: example_mdes_system_status
          request:
            application/json: |-
              {

              }
          response:
            application/json: |-
              {
                "SystemStatusResponse": {
                  "CommentText": "<p><b>The MDES Customer Service Application has been updated as follows:</b><br>&#160;&#8226;&#160;&#160;The text 'UTC' (Coordinated Universal Time) will be displayed next to each date/time stamp to make date/time stamp more obvious.</p>"
                }
              }
  /token/activate:
    post:
      description: |
        Used to activate a token for a digitization that has been approved and provisioned, but requires additional cardholder authentication prior to activation. If the provisioning was not completed successfully, activation cannot be accomplished using Customer Service API. It is expected that a cardholder will complete the authentication process using an issuer's call center or using an issuer-supplied mobile application, and only then should the issuer use this API to activate the token.
      parameters:
        - description: Contains the details of the request message.
          in: body
          name: TokenActivateRequestSchema
          schema:
            $ref: "#/definitions/TokenActivateRequestSchema"
      responses:
        "200":
          description: Contains the details of the response message.
          schema:
            $ref: "#/definitions/TokenActivateResponseSchema"
        default:
          description: unexpected error
          schema:
            $ref: "#/definitions/ErrorsResponse"
      tags:
        - Token Activate
      x-samples:
        - name: example_mdes_token_activate_token_unique_ref
          request:
            application/json: |-
              {
               "TokenActivateRequest": {
                  "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                  "CommentText": "Confirmed cardholder identity.",
                  "ReasonCode": "C",
                  "AuditInfo": {
                    "UserId": "A1435477",
                    "UserName": "John Smith",
                    "Organization": "Any Bank",
                    "Phone": "5555551234"
                  }
                }
              }
          response:
            application/json: |-
              {
                "TokenActivateResponse": {
                  "Token": {
                    "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                    "CommentId": "1234"
                  }
                }
              }
        - name: example_mdes_token_activate_pan_payment_app
          request:
            application/json: |-
              {
                "TokenActivateRequest": {
                  "AccountPan": "5412345678901234",
                  "PaymentAppInstanceId": "645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e",
                  "CommentText": "Confirmed cardholder identity.",
                  "ReasonCode": "A",
                  "AuditInfo": {
                    "UserId": "A14354773",
                    "UserName": "John Smith",
                    "Organization": "Any Bank",
                    "Phone": "5556789876"
                  }
                }
              }
          response:
            application/json: |-
              {

              }
  /token/activationmethods:
    post:
      description: |
        Used to retrieve the available Activation Methods for a token that is awaiting activation. Activation Methods are the means by which a cardholder may complete cardholder authentication with the issuer beyond the scope of MDES. It is possible that there are no Activation Methods for a token when an issuer did not provide any cardholder-specific information with the Tokenization Authorization Request (TAR) pre-digitization network message response.
      parameters:
        - description: Contains the details of the request message.
          in: body
          name: TokenActivationMethodsRequestSchema
          schema:
            $ref: "#/definitions/TokenActivationMethodsRequestSchema"
      responses:
        "200":
          description: Contains the details of the response message.
          schema:
            $ref: "#/definitions/TokenActivationMethodsResponseSchema"
        default:
          description: unexpected error
          schema:
            $ref: "#/definitions/ErrorsResponse"
      tags:
        - Token Activation Methods
      x-samples:
        - name: example_mdes_token_activation_methods
          request:
            application/json: |-
              {
                "TokenActivationMethodsRequest": {
                  "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                  "AuditInfo": {
                    "UserId": "A1435477",
                    "UserName": "John Smith",
                    "Organization": "Any Bank",
                    "Phone": "5555551234"
                  }
                }
              }
          response:
            application/json: |-
              {
                "TokenActivationMethodsResponse": {
                  "ActivationMethods": {
                    "ActivationMethod": [
                      {
                        "ActivationMethodType": "EMA",
                        "ActivationMethodValue": "AXXXXXXD@mc.com",
                        "ActivationMethodId": "123123122",
                        "ResendIndicator": "FALSE"
                      },
                      {
                        "ActivationMethodType": "CLC",
                        "ActivationMethodValue": "(555)123-4567",
                        "ActivationMethodId": "123123123",
                       "ResendIndicator": "FALSE"
                      }
                    ]
                  }
                }
              }
  /token/comments:
    post:
      description: |
        Used to retrieve all comments associated with a token. Typically the response includes comments created earlier by Issuer Customer Service representatives detailing additional information about a particular inquiry or event. There may also be comments with warnings of potential fraud. These comments are created automatically by the MDES system when a Token requestor indicates a high risk of fraud during digitization.
      parameters:
        - description: Contains the details of the request message.
          in: body
          name: TokenCommentsRequestSchema
          schema:
            $ref: "#/definitions/TokenCommentsRequestSchema"
      responses:
        "200":
          description: Contains the details of the response message.
          schema:
            $ref: "#/definitions/TokenCommentsResponseSchema"
        default:
          description: unexpected error
          schema:
            $ref: "#/definitions/ErrorsResponse"
      tags:
        - Token Comments
      x-samples:
        - name: example_mdes_token_comments
          request:
            application/json: |-
              {
                "TokenCommentsRequest": {
                  "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                  "AuditInfo": {
                    "UserId": "A1435477",
                    "UserName": "John Smith",
                    "Organization": "Any Bank",
                    "Phone": "5555551234"
                  }
                }
              }
          response:
            application/json: |-
              {
                "TokenCommentsResponse": {
                  "Comments": {
                    "Comment": [
                      {
                        "CommentId": "1648",
                        "CommentText": "Cardholder lost phone. Suspending device.",
                        "CommentDateTime": "2015-01-21T18:04:35-06:00",
                        "AuditInfo": {
                          "UserId": "A14354774",
                          "UserName": "Jade Mark",
                          "Organization": "Any Bank",
                          "Phone": "5555558888"
                        }
                      },
                      {
                        "CommentId": "1647",
                        "CommentText": "Cardholder called to activate their digital card.",
                        "CommentDateTime": "2015-01-19T11:02:25-06:00",
                        "AuditInfo": {
                          "UserId": "A14354773",
                          "UserName": "Tom Smith",
                          "Organization": "Any Bank",
                          "Phone": "5555559999"
                        }
                      }
                    ]
                  }
                }
              }
  /token/delete:
    post:
      description: |
        Used to delete a token so that it may not initiate any new transactions. All authorizations for a deleted token will be declined. A deleted token may not be returned to an active state.
      parameters:
        - description: Contains the details of the request message.
          in: body
          name: TokenDeleteRequestSchema
          schema:
            $ref: "#/definitions/TokenDeleteRequestSchema"
      responses:
        "200":
          description: Contains the details of the response message.
          schema:
            $ref: "#/definitions/TokenDeleteResponseSchema"
        default:
          description: unexpected error
          schema:
            $ref: "#/definitions/ErrorsResponse"
      tags:
        - Token Delete
      x-samples:
        - name: example_mdes_token_delete
          request:
            application/json: |-
              {
                "TokenDeleteRequest": {
                  "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                  "CommentText": "Fraudulent transactions confirmed.",
                  "ReasonCode": "T",
                  "AuditInfo": {
                    "UserId": "A1435477",
                    "UserName": "John Smith",
                    "Organization": "Any Bank",
                    "Phone": "5555551234"
                  }
                }
              }
          response:
            application/json: |-
              {
                "TokenDeleteResponse": {
                  "Token": {
                    "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                    "CommentId": "1234"
                  }
                }
              }
  /token/resendactivationcode:
    post:
      description: |
        Used to trigger the process of generating and sending a new Activation Code (for a specific token) to the cardholder via the requested Activation Method. When successful, a new Activation Code Expiration Date Time period will begin, and a new Activation Code will be sent to the issuer using the Activation Code Notification (ACN) pre-digitization network message. It can only be used to do this for Activation Methods that involve the external distribution of an Activation Code to the cardholder. For example, via email or SMS. It cannot be used to send a new activation code via the "Mobile Application" activation method, for instance. A new Activation Code can be sent even if the previous code has not expired. A new Activation Code can also be sent even after the previous code has expired; however, it can only be done up to 30 days after the token was created  (the number of days is subject to change at the discretion of Mastercard).
      parameters:
        - description: Contains the details of the request message.
          in: body
          name: TokenResendActivationCodeRequestSchema
          schema:
            $ref: "#/definitions/TokenResendActivationCodeRequestSchema"
      responses:
        "200":
          description: Contains the details of the response message.
          schema:
            $ref: "#/definitions/TokenResendActivationCodeResponseSchema"
        default:
          description: unexpected error
          schema:
            $ref: "#/definitions/ErrorsResponse"
      tags:
        - Token Resend Activation Code
      x-samples:
        - name: example_mdes_token_resend_activation_code
          request:
            application/json: |-
              {
                "TokenResendActivationCodeRequest": {
                  "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                  "ActivationMethodId": "123123122",
                  "AuditInfo": {
                    "UserId": "A1435477",
                    "UserName": "John Smith",
                    "Organization": "Any Bank",
                    "Phone": "5555551234"
                  }
                }
              }
          response:
            application/json: |-
              {
                "TokenResendActivationCodeResponse": {
                  "Token": {
                    "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c"
                  }
                }
              }
  /token/resetmobilepin:
    post:
      description: |
        Used to request that the Mobile PIN for a Mastercard Cloud-Based Payment token in a single issuer wallet is reset. The request is passed to the Credential Management System for processing. When the Mobile PIN is a token-level PIN (as opposed to a wallet-level PIN), the cardholder must choose a new PIN within 10 minutes of a Reset Mobile PIN action. Otherwise, the reset will need to be re-requested.
      parameters:
        - description: Contains the details of the request message.
          in: body
          name: TokenResetMobilePinRequestSchema
          schema:
            $ref: "#/definitions/TokenResetMobilePinRequestSchema"
      responses:
        "200":
          description: Contains the details of the response message.
          schema:
            $ref: "#/definitions/TokenResetMobilePinResponseSchema"
        default:
          description: unexpected error
          schema:
            $ref: "#/definitions/ErrorsResponse"
      tags:
        - Token Reset Mobile PIN
      x-samples:
        - name: example_mdes_token_reset_mobilepin
          request:
            application/json: |-
              {
                "TokenResetMobilePinRequest": {
                  "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                  "CommentText": "Confirmed cardholder identity.",
                  "ReasonCode": "N",
                  "AuditInfo": {
                    "UserId": "A1435477",
                    "UserName": "John Smith",
                    "Organization": "Any Bank",
                    "Phone": "5555551234"
                  }
                }
              }
          response:
            application/json: |-
              {
                "TokenResetMobilePinResponse": {
                  "Token": {
                    "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                    "CommentId": "2356"
                  }
                }
              }
  /token/statushistory:
    post:
      description: |
        Used to retrieve the historical statuses and lifecycle events for a token, such as when it was initially activated, subsequently suspended or resumed, and finally deleted.
      parameters:
        - description: Contains the details of the request message.
          in: body
          name: TokenStatusHistoryRequestSchema
          schema:
            $ref: "#/definitions/TokenStatusHistoryRequestSchema"
      responses:
        "200":
          description: Contains the details of the response message.
          schema:
            $ref: "#/definitions/TokenStatusHistoryResponseSchema"
        default:
          description: unexpected error
          schema:
            $ref: "#/definitions/ErrorsResponse"
      tags:
        - Token Status History
      x-samples:
        - name: example_mdes_token_status_history
          request:
            application/json: |-
              {
                "TokenStatusHistoryRequest": {
                  "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                  "AuditInfo": {
                    "UserId": "A1435477",
                    "UserName": "John Smith",
                    "Organization": "Any Bank",
                    "Phone": "5555551234"
                  }
                }
              }
          response:
            application/json: |-
              {
                "TokenStatusHistoryResponse": {
                  "Statuses": {
                    "Status": [
                      {
                        "StatusCode": "D",
                        "StatusDescription": "Deleted",
                        "StatusDateTime": "2014-12-16T13:04:35-06:00",
                        "Initiator": "C",
                        "ReasonCode": "L"
                      },
                      {
                        "StatusCode": "A",
                        "StatusDescription": "Active",
                        "StatusDateTime": "2014-12-15T11:05:35-06:00",
                        "Initiator": "I",
                        "ReasonCode": "A",
                        "AuditInfo": {
                          "UserId": "AI145530",
                          "UserName": "John Smith",
                          "Organization": "Any Bank",
                          "Phone": "6362205555"
                        }
                      },
                      {
                        "StatusCode": "S",
                        "StatusDescription": "Suspended",
                        "StatusDateTime": "2014-12-14T12:04:35-06:00",
                        "Initiator": "I",
                        "ReasonCode": "L",
                        "AuditInfo": {
                          "UserId": "AI145530",
                          "UserName": "John Smith",
                          "Organization": "Any Bank",
                          "Phone": "6362205555"
                        }
                      },
                      {
                        "StatusCode": "A",
                        "StatusDescription": "Active",
                        "StatusDateTime": "2014-12-13T11:05:35-06:00",
                        "Initiator": "I",
                        "ReasonCode": "A",
                        "AuditInfo": {
                          "UserId": "AI145530",
                          "UserName": "John Smith",
                          "Organization": "Any Bank",
                          "Phone": "6362205555"
                        }
                      },
                      {
                        "StatusCode": "U",
                        "StatusDescription": "Unmapped",
                        "StatusDateTime": "2014-12-12T10:04:35-06:00",
                        "ReasonCode": "Z"
                      }
                    ]
                  }
                }
              }
  /token/suspend:
    post:
      description: |
        Used to suspend an active token so that it may not initiate any new transactions. All authorizations for a SUSPENDED token will be declined. Tokens may be suspended by multiple parties (suspenders) concurrently. The token status is updated from ACTIVE to SUSPENDED when the first suspender triggers a suspend action. Additional suspenders can add their suspend action to the list of suspenders. Suspenders can unsuspend only their own suspend action. All suspenders need to perform an unsuspend action to move a token from SUSPENDED to ACTIVE. The token status will only change when the last suspender has unsuspended the token. <br>For CoF tokens, the only two supported suspenders are issuer and token requestor. <br>For Apple Pay tokens, there are some differences in behavior versus the general principles. An issuer may add themselves as a suspender to a token already suspended by a cardholder, as above. However, a cardholder cannot suspend a token already suspended by the issuer. As a special case for Apple Pay, an issuer may unsuspend (override) a token already suspended by a cardholder. However, a cardholder cannot unsuspend a token already suspended by the issuer.
      parameters:
        - description: Contains the details of the request message.
          in: body
          name: TokenSuspendRequestSchema
          schema:
            $ref: "#/definitions/TokenSuspendRequestSchema"
      responses:
        "200":
          description: Contains the details of the response message.
          schema:
            $ref: "#/definitions/TokenSuspendResponseSchema"
        default:
          description: unexpected error
          schema:
            $ref: "#/definitions/ErrorsResponse"
      tags:
        - Token Suspend
      x-samples:
        - name: example_mdes_token_suspend
          request:
            application/json: |-
              {
                "TokenSuspendRequest": {
                  "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                  "CommentText": "Suspected fraudulent transactions reported.",
                  "ReasonCode": "T",
                  "AuditInfo": {
                    "UserId": "A1435477",
                    "UserName": "John Smith",
                    "Organization": "Any Bank",
                    "Phone": "5555551234"
                  }
                }
              }
          response:
            application/json: |-
              {
                "TokenSuspendResponse": {
                  "Token": {
                    "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                    "CommentId": "1234"
                  }
                }
              }
  /token/unsuspend:
    post:
      description: |
        Used to unsuspend or resume a suspended token and return it to the active state where it may initiate new transactions. Tokens may be suspended by multiple parties (suspenders) concurrently. The token status is updated from ACTIVE to SUSPENDED when the first suspender triggers a suspend action. Additional suspenders can add their suspend action to the list of suspenders. Suspenders can unsuspend only their own suspend action. All suspenders need to perform an unsuspend action to move a token from SUSPENDED to ACTIVE. The token status will only change when the last suspender has unsuspended the token. <br>For CoF tokens, the only two supported suspenders are issuer and token requestor.<br>For Apple Pay tokens, there are some differences in behavior versus the general principles. An issuer may add themselves as a suspender to a token already suspended by a cardholder, as above. However, a cardholder cannot suspend a token already suspended by the issuer. As a special case for Apple Pay, an issuer may unsuspend (override) a token already suspended by a cardholder. However, a cardholder cannot unsuspend a token already suspended by the issuer.
      parameters:
        - description: Contains the details of the request message.
          in: body
          name: TokenUnsuspendRequestSchema
          schema:
            $ref: "#/definitions/TokenUnsuspendRequestSchema"
      responses:
        "200":
          description: Contains the details of the response message.
          schema:
            $ref: "#/definitions/TokenUnsuspendResponseSchema"
        default:
          description: unexpected error
          schema:
            $ref: "#/definitions/ErrorsResponse"
      tags:
        - Token Unsuspend
      x-samples:
        - name: example_mdes_token_unsuspend
          request:
            application/json: |-
              {
                "TokenUnsuspendRequest": {
                  "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                  "CommentText": "Transactionsc confirmed as not fraudulent.",
                  "ReasonCode": "T",
                  "AuditInfo": {
                    "UserId": "A1435477",
                    "UserName": "John Smith",
                    "Organization": "Any Bank",
                    "Phone": "5555551234"
                  }
                }
              }
          response:
            application/json: |-
              {
                "TokenUnsuspendResponse": {
                  "Token": {
                    "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                    "CommentId": "1234"
                  }
                }
              }
  /token/update:
    post:
      description: |
        Used to update Account PAN Mapping Information or Issuer Product Configuration ID associated to a provisioned token. To update a specific token, the API should be requested using the Token Unique Reference. To update all tokens mapped to a specific Account PAN, the API should be requested using the Account PAN. In either case, updates will only be applied to tokens in ACTIVE or SUSPENDED state, not those in IN PROGRESS or DELETED state. When updating Account PAN Mapping Information, the Account PAN, Expiration Date and Sequence Number, may be updated individually or in any combination. Only information provided will be updated. The account mapping will only update an Account PAN for a new Account PAN when they are both in the same Account Range.
      parameters:
        - description: Contains the details of the request message.
          in: body
          name: TokenUpdateRequestSchema
          schema:
            $ref: "#/definitions/TokenUpdateRequestSchema"
      responses:
        "200":
          description: Contains the details of the response message.
          schema:
            $ref: "#/definitions/TokenUpdateResponseSchema"
        default:
          description: unexpected error
          schema:
            $ref: "#/definitions/ErrorsResponse"
      tags:
        - Token Update
      x-samples:
        - name: example_mdes_token_update_pan_exp_token_unique_ref
          request:
            application/json: |-
              {
                "TokenUpdateRequest": {
                  "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                  "NewAccountPan": "5412345678908888",
                  "ExpirationDate": "0125",
                  "AccountPanSequenceNumber": "1",
                  "UpdateWalletProviderIndicator": "1",
                  "CommentText": "Confirmed cardholder identity.",
                  "AuditInfo": {
                    "UserId": "A1435477",
                    "UserName": "John Smith",
                    "Organization": "Any Bank",
                    "Phone": "5555551234"
                  }
                }
              }
          response:
            application/json: |-
              {
                "TokenUpdateResponse": {
                  "Tokens": {
                    "Token": [{
                      "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                      "CommentId": "2345"
                    }]
                  }
                }
              }
        - name: example_mdes_token_update_pan_exp_current_pan
          request:
            application/json: |-
              {
                "TokenUpdateRequest": {
                  "CurrentAccountPan": "1234567890123456",
                  "NewAccountPan": "5412345678908888",
                  "ExpirationDate": "1219",
                  "AccountPanSequenceNumber": "1",
                  "CommentText": "Cardholder has a new Account Pan.",
                  "AuditInfo": {
                    "UserId": "A1435477",
                    "UserName": "John Smith",
                    "Organization": "Any Bank",
                    "Phone": "555 1234"
                  }
                }
              }
          response:
            application/json: |-
              {

              }
        - name: example_mdes_token_update_issuer_prod_config_single_token_by_token_unique_ref
          request:
            application/json: |-
              {
                "TokenUpdateRequest": {
                  "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                  "IssuerProductConfigurationId": "ANYGOLD101",
                  "CommentText": "Update gold artwork",
                  "AuditInfo": {
                    "UserId": "A1435477",
                    "UserName": "John Smith",
                    "Organization": "Any Bank",
                    "Phone": "555 1234"
                  }
                }
              }
          response:
            application/json: |-
              {

              }
        - name: example_mdes_token_update_issuer_prod_config_token_by_pan
          request:
            application/json: |-
              {
                "TokenUpdateRequest": {
                  "CurrentAccountPan": "1234567890123456",
                  "IssuerProductConfigurationId": "ANYGOLD101",
                  "CommentText": "Update gold artwork",
                  "AuditInfo": {
                    "UserId": "A1435477",
                    "UserName": "John Smith",
                    "Organization": "Any Bank",
                    "Phone": "555 1234"
                  }
                }
              }
          response:
            application/json: |-
              {

              }
  /transactions:
    post:
      description: |
        Used to retrieve transactions performed by a token. It only returns transactions performed within the last 30 days, to help identify a particular token, or to identify a particular recent transaction. It is not intended to provide the full transaction history of a token or Account PAN.<br><br>_Notes:_ The Transaction History API response is not supported for static Card on File (CoF) tokens.<br>If a set of tokens has been re-mapped to a new FPAN, all digital transactions will be made available before or after the FPAN has been updated. MDES does not return the value of the FPAN which was mapped to the particular token at the time of the transaction. However, MDES will return the history of all transactions performed on that particular token in the last 30 days, based on old and/or new FPAN.
      parameters:
        - description: Contains the details of the request message.
          in: body
          name: TransactionsRequestSchema
          schema:
            $ref: "#/definitions/TransactionsRequestSchema"
      responses:
        "200":
          description: Contains the details of the response message.
          schema:
            $ref: "#/definitions/TransactionsResponseSchema"
        default:
          description: unexpected error
          schema:
            $ref: "#/definitions/ErrorsResponse"
      tags:
        - Transactions
      x-samples:
        - name: example_mdes_transactions
          request:
            application/json: |-
              {
                "TransactionsRequest": {
                  "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                  "AuditInfo": {
                    "UserId": "A1435477",
                    "UserName": "John Smith",
                    "Organization": "Any Bank",
                    "Phone": "5555551234"
                  }
                }
              }
          response:
            application/json: |-
              {
                "TransactionsResponse": {
                  "Transactions": {
                    "Transaction": [
                      {
                        "CurrencyCode": "USD",
                        "TransactionAmount": "123.45",
                        "TransactionTypeCode": "PURCH",
                        "TransactionTypeDescription": "Purchase",
                        "TransactionStatusCode": "AUTH",
                        "MerchantName": "FOODMART",
                        "MerchantCategoryCode": "1234",
                        "MerchantCategoryDescription": "GROCERY STORES, SUPERMARKETS",
                        "POSEntryMode": "90"
                      },
                      {
                        "CurrencyCode": "USD",
                        "TransactionAmount": "29.47",
                        "TransactionTypeCode": "PURCB",
                        "TransactionTypeDescription": "Purchase with Cashback",
                        "TransactionStatusCode": "COMP",
                        "MerchantName": "RXMART",
                        "MerchantCategoryCode": "5678",
                        "MerchantCategoryDescription": "DRUG STORES, PHARMACIES",
                        "POSEntryMode": "91"
                      },
                      {
                        "CurrencyCode": "USD",
                        "TransactionAmount": "-16.30",
                        "TransactionTypeCode": "REFND",
                        "TransactionTypeDescription": "Refund",
                        "TransactionStatusCode": "COMP",
                        "MerchantName": "AUTOMART",
                        "MerchantCategoryCode": "9012",
                        "MerchantCategoryDescription": "AUTOMOTIVE PARTS, ACCESSORIES STORES",
                        "POSEntryMode": "07"
                      },
                      {
                        "CurrencyCode": "USD",
                        "TransactionAmount": "41.89",
                        "TransactionTypeCode": "AFD",
                        "TransactionTypeDescription": "Purchase Pre-Auth AFD",
                        "TransactionStatusCode": "PAUTC",
                        "MerchantName": "GASMART",
                        "MerchantCategoryCode": "3456",
                        "MerchantCategoryDescription": "FUEL DISPENSER, AUTOMATED",
                        "POSEntryMode": "90"
                      }
                    ]
                  }
                }
              }
  /updatetokenassurance:
    post:
      description: |
        Used after an issuer has performed additional cardholder authentication to indicate an increased level of token assurance. It will only be applied to tokens that actually have a Token Assurance Level, and those that are in ACTIVE or SUSPENDED state.
      parameters:
        - description: Contains the details of the request message.
          in: body
          name: UpdateTokenAssuranceRequestSchema
          schema:
            $ref: "#/definitions/UpdateTokenAssuranceRequestSchema"
      responses:
        "200":
          description: Contains the details of the response message.
          schema:
            $ref: "#/definitions/UpdateTokenAssuranceResponseSchema"
        default:
          description: unexpected error
          schema:
            $ref: "#/definitions/ErrorsResponse"
      tags:
        - Update Token Assurance
      x-samples:
        - name: example_mdes_update_token_assurance
          request:
            application/json: |-
              {
                "UpdateTokenAssuranceRequest": {
                  "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                  "CommentText": "Updating assurance.",
                  "AuditInfo": {
                    "UserId": "A1435477",
                    "UserName": "John Smith",
                    "Organization": "Any Bank",
                    "Phone": "5555551234"
                  }
                }
              }
          response:
            application/json: |-
              {
                "UpdateTokenAssuranceResponse": {
                  "Token": {
                    "TokenUniqueReference": "DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c",
                    "CommentId": "12345"
                  }
                }
              }
definitions:
  Account:
    properties:
      AccountPanSuffix:
        description: Last 4 digits of Account PAN mapped (or to be mapped) to Token(s).
        example: 1234
        maxLength: 4
        type: string
      AlternateAccountIdentifierSuffix:
        description: Alternate Account Identifier is a cardholder friendly reference to a bank account. It is typically used to identify associated tokens when the cardholder is unaware of their Account PAN. The Alternate Account Identifier Suffix exposes just the last few characters of the full identifier in order to protect the full identifier from possible fraud.
        example: 4300
        maxLength: 4
        type: string
      ExpirationDate:
        description: Expiration date of Account PAN mapped (or to be mapped) to Token(s). 'MMYY' Format.
        example: 1225
        maxLength: 4
        type: string
      Tokens:
        $ref: "#/definitions/Tokens"
  AccountHolderMessagingRequest:
    properties:
      AccountHolderMessagingRequest:
        $ref: "#/definitions/AccountHolderMessagingRequestSchema"
  AccountHolderMessagingRequestSchema:
    properties:
      AuditInfo:
        $ref: "#/definitions/AuditInfo"
      IssuerApplicationMessageDisplay:
        description: This is the indicator if the message can be viewed in the Issuer Application using the MessageIdentifier. <br>Please refer to the Apple Card Notification Specification for Notification Deep Linking. Mandatory field.  Valid values are;<br>TRUE ? The message can be viewed in the issuer application<br>FALSE ? The message cannot be viewed in the issuer application.
        example: "FALSE"
        maxLength: 5
        minLength: 4
        type: string
      MessageExpiration:
        description: Date and time after which the message is no longer valid.  Maximum value of 30 days in the future. Mandatory field.  __ISO 8601 format ? YYYY-MM-DDThh:mm:ssTZD__
        example: 2020-06-18T18:04:35-00:00
        type: string
      MessageIdentifier:
        description: This is the message identifier. This could be used for linking into the issuer application. Mandatory field.
        example: 6.598123486451347e+27
        maxLength: 64
        type: string
      MessageLanguageCode:
        description: The language of the message.  Only messages with the requested language code will be presented to the account holder. Mandatory field.  <br>__ISO 639-1 format__
        example: en
        maxLength: 3
        type: string
      MessageText:
        description: This is the message which will be displayed to the cardholder. Mandatory field.
        example: You have earned a statement credit.
        maxLength: 128
        type: string
      TokenUniqueReference:
        description: When present, the search will return one specific matching token. Cannot be used together with any of the following search request parameters; AccountPan, Token, PaymentAppInstanceId, CommentId, or AlternateAccountIdentifier. Mandatory field.
        example: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
        maxLength: 48
        type: string
    required:
      - TokenUniqueReference
      - MessageIdentifier
      - IssuerApplicationMessageDisplay
      - MessageText
      - MessageExpiration
      - MessageLanguageCode
      - AuditInfo
  AccountHolderMessagingResponse:
    properties:
      Token:
        $ref: "#/definitions/TokenResponse"
  AccountHolderMessagingResponseSchema:
    properties:
      AccountHolderMessagingResponse:
        $ref: "#/definitions/AccountHolderMessagingResponse"
  Accounts:
    properties:
      Account:
        description: When searching by Account PAN or by Payment App Instance Id, the search response may contain more than one token. Each individual token can be updated during its lifetime and associated to a different Account PAN, or given a new Expiration Date. Different tokens within a single search response may therefore have different Account PANs and/or Expiration Dates. Account objects are used to group tokens that have exactly the same Account PAN and Account PAN Expiration Date.
        items:
          $ref: "#/definitions/Account"
        type: array
  ActivationMethod:
    properties:
      ActivationMethodId:
        description: Unique identifier of the activation method.
        example: 123123122
        maxLength: 0
        type: string
      ActivationMethodType:
        description: Type of activation method. Valid values:<br />    "SMS" ? Activation code sent in text message to masked mobile phone number<br />    "EMA" ? Activation code sent in email to masked email address<br />    "ACC" ? Cardholder to call automated call center phone number<br />    "CLC" ? Cardholder to call Call Center phone number<br />    "WEB" ? Website<br />    "BAP" ? Mobile application<br />    "OBC" ? Activation code spoken via call to cardholder on masked voice call phone number.
        example: CLC
        maxLength: 3
        type: string
      ActivationMethodValue:
        description: Activation method details value.
        example: 555-123-4567
        maxLength: 0
        type: string
      ResendIndicator:
        description: Whether the activation method can be used to re-send an activation code. Valid values are TRUE and FALSE.
        example: false
        maxLength: 5
        minLength: 4
        type: string
  ActivationMethods:
    properties:
      ActivationMethod:
        items:
          $ref: "#/definitions/ActivationMethod"
        type: array
  AuditInfo:
    properties:
      Organization:
        description: Name of the Issuer or Processor to which the Customer Service Representative who triggered the API request belongs.
        example: Solid Bank Inc
        maxLength: 200
        type: string
      Phone:
        description: Phone Number of the Customer Service Representative who triggered the API request.
        example: 5555551234
        maxLength: 20
        type: string
      UserId:
        description: User ID (as assigned by the Issuer/Processor) of the Customer Service Representative who triggered the API request.
        example: A1435477
        maxLength: 50
        type: string
      UserName:
        description: User Name of the Customer Service Representative who triggered the API request.
        example: John Smith
        maxLength: 200
        type: string
    required:
      - UserId
      - UserName
      - Organization
  Comment:
    properties:
      AuditInfo:
        $ref: "#/definitions/AuditInfo"
      CommentDateTime:
        description: Date and time that the comment was updated. Format - YYYY-MM-DDThh:mm:ssTZD .
        example: 2015-01-21T00:04:35.000Z
        type: string
      CommentId:
        description: Identifier for the comment.
        example: ABC123456
        maxLength: 0
        type: string
      CommentText:
        description: Comment text.
        example: Cardholder called to activate their digital card.
        maxLength: 500
        type: string
  Comments:
    properties:
      Comment:
        items:
          $ref: "#/definitions/Comment"
        type: array
  Device:
    properties:
      DeviceId:
        description: Serial number of the device provisioned with the token. May be masked. Conditional field, not present for CoF tokens, and only present when provided by a Wallet Provider. May be masked (by the Wallet Provider).<br />Example (unmasked) "C2ZBY14310005664". Example (masked) "xxxxY1431xxxxxxx".
        example: C2ZBY14310005664
        maxLength: 0
        type: string
      DeviceName:
        description: Nickname of the device provisioned with the token. Conditional field, not present for CoF tokens, and only present when the Payment App Provider has implemented the 'Get Device Info' MDES API.
        example: John's phone
        maxLength: 0
        type: string
      DeviceType:
        description: Type of the device provisioned with the token. Valid values:<br />    "03" - Watch<br />    "09" - Mobile Phone or Smartphone with a fixed (non-removable) secure element not controlled by the mobile network operator<br />    "13" - Tablet or e-reader with a fixed (non-removable) secure element not controlled by the mobile network operator<br />    "14" - Mobile phone or Smartphone with a payment application running in a host processor<br />    "15" - Tablet or E-Book with a payment application running in a host processor<br />    "16" ? Mobile Phone or Smartphone with a payment application running in the TEE of a host processor<br />    "17" ? Tablet or E-Book with a payment application running in the TEE of a host processor<br />    "18" ? Watch with a payment application running in the TEE of a host processor<br />    "19" ? Watch with a payment application running in a host processor.<br />    "21" ? Phone.<br />    "22" ? Tablet. <br />    "23" ? Watch.<br />    "24" ? Sticker.<br />    "25" ? Personal Computer.<br />    "26" ? Device Peripheral.<br />    "27" ? Tag.<br />    "28" ? Jewelry.<br />    "29" ?  Fashion Accessory.<br />    "30" ?  Garment.<br />    "31" ?  Domestic Appliance.<br />    "32" ?  Vehicle.<br />    "33" ?  Media or Gaming Device.<br />    "99" ?  Undefined.<br />Conditional field, not present for CoF tokens, and only present when supplied by the Payment App Provider.
        example: 14
        maxLength: 2
        type: string
      SecureElementId:
        description: Identifier of the secure element provisioned with the token. Conditional field, not present for CoF tokens, and only present when the token is provisioned to a secure element.
        example: 92de9357a535b2c21a3566e446f43c532a46b54c46
        maxLength: 128
        type: string
  Error:
    properties:
      Description:
        description: A textual description of the error that is appropriate for logging and may communicate additional details related to the reason code.
        example: The date field is missing.
        type: string
      ErrorCode:
        description: An identifier that represents additional detail for the reason of the error.
        example: DATE
        maxLength: 0
        type: string
      ReasonCode:
        description: Indicator that identifies the reason for the error.
        example: EMPTY_RESULT
        maxLength: 0
        type: string
      Recoverable:
        description: An indicator stating whether it is reasonable to retry a failed request.
        example: true
        maxLength: 5
        minLength: 4
        type: string
      Source:
        description: Unique identifier that attempts to define the field in error when available.  If a specific field can't be identified, "System" will be returned.
        example: Atms.Atm.Location.Address.Line1
        maxLength: 0
        type: string
  Errors:
    properties:
      Error:
        items:
          $ref: "#/definitions/Error"
        type: array
  ErrorsResponse:
    properties:
      Errors:
        $ref: "#/definitions/Errors"
  SearchRequest:
    properties:
      AccountPan:
        description: When present, the search will return tokens for the Account matching this Primary Account Number (PAN), for any Wallet Provider or device. Cannot be used together with any of the following search request.  parameters:TokenUniqueReference, Token, PaymentAppInstanceId, CommentId, or AlternateAccountIdentifier.
        example: 5412345678901234
        maxLength: 19
        minLength: 9
        type: string
      AlternateAccountIdentifier:
        description: When present, the search will return tokens matching this Alternate Account Identifier, for any Wallet Provider or device. Space characters are not allowed. Cannot be used together with any of the following search request parameters; AccountPan, TokenUniqueReference, Token, PaymentAppInstanceId, or CommentId.
        example: NL91ABNA0417164300
        maxLength: 64
        minLength: 9
        type: string
      AuditInfo:
        $ref: "#/definitions/AuditInfo"
      CommentId:
        description: When present, the search will return one specific token linked to the comment. Cannot be used together with any of the following search request parameters; AccountPan, TokenUniqueReference, Token, PaymentAppInstanceId, or AlternateAccountIdentifier.
        example: 123456
        maxLength: 0
        type: string
      ExcludeDeletedIndicator:
        description: Indicates whether deleted tokens should be excluded from the search results. When omitted, deleted tokens are included in the results. "true" indicates deleted tokens are excluded from the search results. "false" means deleted tokens are included in the search results.
        enum:
          - "true"
          - "false"
        example: "true"
        type: string
      PaymentAppInstanceId:
        description: When present, the search will return tokens already present or to be provisioned to the specified Payment App instance.<br><br>_Note:_ This may contain the identifier of the Secure Element or a mobile device for some programs. Cannot be used together with any of the following search request parameters; AccountPan, TokenUniqueReference, Token, CommentId, or AlternateAccountIdentifier.
        example: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
        maxLength: 48
        type: string
      Token:
        description: When present, the search will return one specific token. Cannot be used together with any of the following search request parameters; AccountPan, TokenUniqueReference, PaymentAppInstanceId, CommentId, or AlternateAccountIdentifier.
        example: 5598765432109876
        maxLength: 19
        minLength: 9
        type: string
      TokenUniqueReference:
        description: When present, the search will return one specific matching token. Cannot be used together with any of the following search request parameters; AccountPan, Token, PaymentAppInstanceId, CommentId, or AlternateAccountIdentifier.
        example: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
        maxLength: 48
        type: string
    required:
      - AuditInfo
  SearchRequestSchema:
    properties:
      SearchRequest:
        $ref: "#/definitions/SearchRequest"
  SearchResponse:
    properties:
      Accounts:
        $ref: "#/definitions/Accounts"
  SearchResponseSchema:
    properties:
      SearchResponse:
        $ref: "#/definitions/SearchResponse"
  SimpleTokenCommentResponse:
    properties:
      CommentId:
        description: Identifier of the comment added. Only present when comment text was provided in the request.
        example: ABC123456
        maxLength: 0
        type: string
      TokenUniqueReference:
        description: Unique reference to the Token.
        example: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
        maxLength: 48
        type: string
    required:
      - TokenUniqueReference
  SimpleTokenResponse:
    properties:
      Token:
        $ref: "#/definitions/SimpleTokenCommentResponse"
  Status:
    properties:
      AuditInfo:
        $ref: "#/definitions/AuditInfo"
      CommentId:
        description: Identifier of the comment added.  Conditional field, only present when comment text was provided in the request.
        example: 1234
        maxLength: 0
        type: string
      Initiator:
        description: Party that initiated the status update. Valid values:<br />    "I" - Issuer.<br />    "W" - Token Requestor (including Wallet Provider).<br />    "C" - Cardholder.<br />    "P" - Mobile PIN Validation service.<br />    "M" - Mobile PIN Change Validation service.
        example: I
        maxLength: 1
        type: string
      ReasonCode:
        description: Reason for the status update.  Valid values:<br />    "A" ? Cardholder successfully authenticated using a mobile App prior to activation.<br />    "C" ? Cardholder successfully authenticated with a customer service agent prior to activation. (For 'Token Activate').<br />    "C" ? Account closed. (For 'Token Delete').<br />    "F" ? Cardholder reported token device found or not stolen.<br />    "L" ? Cardholder reported/confirmed token device lost.<br />    "S" ? Cardholder reported/confirmed token device stolen.<br />    "T" ? Issuer or cardholder reported fraudulent/then confirmed no fraudulent token transactions.<br />    "Z" ? Other.
        example: Z
        maxLength: 1
        type: string
      StatusCode:
        description: The status of the Token. Valid values:<br />    "U" - Unmapped. The token has not yet been linked to the Account PAN. The process of tokenization is ?In Progress?.<br />    "A" - Active. The token is linked to the Account PAN and may initiate new transactions to be authorized.<br />    "S" - Suspended. The token is linked to the Account PAN but may not perform transactions at the request of one or more suspenders.<br />    "D" - Deleted. The token is logically deleted but is still linked to the Account PAN for the purposes of post-authorization transaction processing.
        example: U
        maxLength: 1
        type: string
      StatusDateTime:
        description: Date and time the status was updated. String, ISO 8691 format - YYYY-MM-DDThh:mm:ssTZD .
        example: 2015-01-21T00:04:35.000Z
        type: string
      StatusDescription:
        description: Description of the current status.
        example: Unmapped
        maxLength: 0
        type: string
  Statuses:
    properties:
      Status:
        items:
          $ref: "#/definitions/Status"
        type: array
  Suspenders:
    properties:
      Suspender:
        description: Suspender(s) of the token when the token current status is SUSPENDED. Conditional field, only present when token mapping is suspended. Valid values:<br />    "I" - The issuer has requested token suspension.<br />    "W" - Token Requestor (including Wallet Provider) has requested token suspension.<br />    "C" - The cardholder has requested token suspension.<br />    "P" - The Mobile PIN Validation service has requested token suspension. Occurs when the cardholder has entered their Mobile PIN incorrectly too many times whilst performing a transaction.<br />    "M" - The Mobile PIN Change Validation service has requested token suspension. Occurs when the cardholder has entered their Mobile PIN incorrectly too many times whilst changing their mobile pin.
        items:
          example: I
          maxLength: 1
          type: string
        type: array
  SystemStatusResponse:
    properties:
      CommentText:
        description: Comment regarding the status of the system.
        example: Mastercard Digital Enablement Service is fully operational
        maxLength: 0
        type: string
      LastStatusDateTime:
        description: Date and time the status of the system was last updated. Format - YYYY-MM-DDThh:mm:ssTZD .
        example: 2015-01-21T00:04:35.000Z
        type: string
  SystemStatusResponseSchema:
    properties:
      SystemStatusResponse:
        $ref: "#/definitions/SystemStatusResponse"
  Token:
    properties:
      AccountPanSequenceNumber:
        description: The Account PAN Sequence Number associated with a specific token, as provided to MDES previously by the issuer. It may be used to distinguish between multiple cardholders for a single Account PAN, to represent an issuance number of a specific card, or to distinguish between different card products, such as debit or credit, that share the same Account PAN. Conditional field, present when successfully assigned. Supported values - 00 to 99.
        example: 59
        maxLength: 2
        type: string
      ActivationCodeExpirationDateTime:
        description: Date and time when an Activation Code will expire. Conditional field, not present for CoF tokens, and only present when an Activation Code has been generated and activation has not yet occurred. The date and time may be in the future or past. string in ISO 8601 format ? YYYY-MM-DDThh:mm:ssTZD .
        example: 2015-01-21T00:04:35.000Z
        type: string
      CorrelationId:
        description: Value linking pre-digitization messages generated during provisioning. Conditional field, not present for CoF tokens.
        example: 98765432101234
        maxLength: 14
        type: string
      CurrentStatusCode:
        description: Current status of the Token. Valid values:<br> "U" - Unmapped. The token has not yet been linked to the Account PAN. The process of tokenization is ?In Progress.'<br> "A" - Active. The token is linked to the Account PAN and may initiate new transactions to be authorized.<br> "S" - Suspended. The token is linked to the Account PAN but may not perform transactions at the request of one or more suspenders.<br> "D" - Deleted. The token is logically deleted but is still linked to the Account PAN for the purposes of post-authorization transaction processing.
        example: A
        maxLength: 1
        type: string
      CurrentStatusDateTime:
        description: Date and time the status was updated.  string, ISO 8601 format ? YYYY-MM-DDThh:mm:ssTZD .
        example: 2015-01-21T00:04:35.000Z
        type: string
      CurrentStatusDescription:
        description: Description of the current status.
        example: Active
        maxLength: 0
        type: string
      Device:
        $ref: "#/definitions/Device"
      DigitizationRequestDateTime:
        description: Date and time of the initial request for digitization of the Account PAN for this token. Conditional field, not present for CoF tokens. string, in ISO 8601 format ? YYYY-MM-DDThh:mm:ssTZD .
        example: 2015-01-21T00:04:35.000Z
        type: string
      ExpirationDate:
        description: Expiration date of token. Conditional field, present once the token has been designated for the digitization. Four digit string. Format "mmyy".
        example: 1026
        maxLength: 4
        type: string
      FinalTokenizationDecision:
        description: Final decision related to the digitization of the Account PAN for this token. Valid values:<br />    "D" - Digitization was declined<br />    "A" - Digitization was approved<br />    "R" - Digitization was approved but required authentication prior to activation.<br />Conditional field, not present for CoF tokens.<br><br>_Note:_this information is currently subject to archival processes and will be present for only 1 year following digitization.
        example: A
        maxLength: 1
        type: string
      LastCommentId:
        description: Identifier of the last comment associated with the token.
        example: ABC123456
        maxLength: 0
        type: string
      PaymentAppInstanceId:
        description: Identifier of the Payment App instance within a device that will be provisioned with a token.<br><br>_Note:_ This may contain the identifier of the Secure Element or a mobile device for some programs. Optional, not present for CoF tokens, and only present when supplied by the Payment App Provider.
        example: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
        maxLength: 48
        type: string
      PrimaryAccountNumberUniqueReference:
        description: Unique reference to the Account PAN originally digitized. Conditional field, present when successfully assigned.
        example: FWSPMC0000000004793dac803f190a4dca4bad33c90a11d3
        maxLength: 48
        type: string
      ProvisioningStatusCode:
        description: Current provisioning status of the token. Valid values:<br />    "P" - Token being prepared<br />    "T" - Awaiting cardholder acceptance of Terms and Conditions<br />    "D" - Token being delivered to Wallet Provider or Device<br />    "A" - Awaiting Activation<br />    "S" - Provisioning successful<br />    "F" - Provisioning failed.<br /><br><br>_Note:_ The order of the statuses above does not indicate any order of status transitions. Conditional field, not present for CoF tokens.
        example: P
        maxLength: 1
        type: string
      ProvisioningStatusDescription:
        description: Description of the provisioning status. Conditional field, not present for CoF tokens.
        example: Provisioning successful
        maxLength: 0
        type: string
      StorageTechnology:
        description: The architecture or technology used for token storage. Valid values:<br />    "D" - Device memory<br />    "P" - Device memory protected by Trusted Platform Module (TPM)<br />    "H" - Server<br />    "E" - Trusted Execution Environment (TEE)<br />    "S" - Secure Element (SE)<br />    "V" - Virtual Execution Environment (VEE).
        example: S
        maxLength: 1
        type: string
      Suspenders:
        $ref: "#/definitions/Suspenders"
      TokenActivatedDateTime:
        description: Date and time that the token was activated. Conditional field, present only once the Token has been activated. string in ISO 8601 format ? YYYY-MM-DDThh:mm:ssTZD .
        example: 2015-01-21T00:04:35.000Z
        type: string
      TokenAssuranceLevel:
        description: Indicates the level of Identification and Verification performed to validate the Cardholder and the Cardholder's account at the time the Token was issued (or at any subsquent time post-issuance).  Only present when a token has a Token Assurance Level assigned.  Supported values are 0 (Not Authenticated) and non-zero (Authenticated).
        example: 1
        maxLength: 1
        type: string
      TokenDeletedFromConsumerApp:
        description: Indicates whether or not a token has been deleted from the consumer app by the token requestor.<br><br>_Note:_ This is a "soft delete" that does not affect the actual Token Status. The token may still be active in the system. Supported values - true, false.
        example: false
        maxLength: 5
        minLength: 4
        type: string
      TokenRequestorConsumerFacingEntityName:
        description: The Token Service Provider name to be displayed to the consumer (consumer-facing name).
        example: Sunday Store
        maxLength: 100
        type: string
      TokenRequestorId:
        description: Per EMV Co, the entity uniquely recognized by Mastercard as the Token Service Provider.
        example: 212345678
        maxLength: 11
        type: string
      TokenRequestorName:
        description: The legal name of the token requestor. There can be more than one Token Requestor Id per Token Requester Name (legal name). So it is important to use both parameters to uniquely identify a token requestor.
        example: Popular High Street Merchant
        maxLength: 100
        type: string
      TokenSuffix:
        description: Last 4 digits of token in a 4 character string. Conditional field, present once the token has been designated for the digitization.
        example: 7890
        maxLength: 4
        type: string
      TokenType:
        description: Type of token. Valid values:<br />    "S" - Embedded Secure Element Token<br />    "C" - Mastercard Cloud-Based Payments token.<br />   F = Static token (deprecated)
        example: S
        maxLength: 1
        type: string
      TokenUniqueReference:
        description: Unique reference to the token. Conditional field, present when successfully assigned.
        example: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
        maxLength: 48
        type: string
      WalletId:
        description: Identifier of the Wallet Provider who requested the digitization or tokenization. Conditional field, not present for CoF tokens, and only present when supplied by the Payment App Provider.
        example: 123
        maxLength: 3
        type: string
  TokenActivateRequest:
    properties:
      AccountPan:
        description: The Account PAN of the token to be activated. Conditional field, must be present when PaymentAppInstanceId is present, must not be present when TokenUniqueReference is present.
        example: 5412345678901234
        format: integer
        maxLength: 19
        minLength: 9
        type: string
      AuditInfo:
        $ref: "#/definitions/AuditInfo"
      CommentText:
        description: Comment related to activating this token.
        example: activated after confirming cardholder identity
        format: integer
        maxLength: 500
        type: string
      PaymentAppInstanceId:
        description: Identifier of the Payment App instance within a device that will be provisioned with a token. <br><br>_Note:_ This may contain the identifier of the Secure Element or a mobile device for some programs. Conditional field, must be present when AccountPan is present. Must not be present when TokenUniqueReference is present.
        example: 645b532a245e4723d7a9c4f62b24f24a24ba98e27d43e34e
        format: integer
        maxLength: 48
        type: string
      ReasonCode:
        description: Reason for the activation. Valid values:<br />    "A" = Cardholder successfully authenticated prior to activation.<br />    "C" = Cardholder successfully authenticated with a customer service agent prior to activation.
        example: A
        maxLength: 1
        type: string
      TokenUniqueReference:
        description: TokenUniqueReference for the token to be activated. Conditional field, present when AccountPan and PaymentAppInstanceId are not present.
        example: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
        maxLength: 48
        minLength: 9
        type: string
    required:
      - ReasonCode
      - AuditInfo
  TokenActivateRequestSchema:
    properties:
      TokenActivateRequest:
        $ref: "#/definitions/TokenActivateRequest"
  TokenActivateResponseSchema:
    properties:
      TokenActivateResponse:
        $ref: "#/definitions/SimpleTokenResponse"
  TokenActivationMethodsRequest:
    properties:
      AuditInfo:
        $ref: "#/definitions/AuditInfo"
      TokenUniqueReference:
        description: The TokenUniqueReference of the token.
        example: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
        maxLength: 48
        type: string
    required:
      - TokenUniqueReference
  TokenActivationMethodsRequestSchema:
    properties:
      TokenActivationMethodsRequest:
        $ref: "#/definitions/TokenActivationMethodsRequest"
  TokenActivationMethodsResponse:
    properties:
      ActivationMethods:
        $ref: "#/definitions/ActivationMethods"
  TokenActivationMethodsResponseSchema:
    properties:
      TokenActivationMethodsResponse:
        $ref: "#/definitions/TokenActivationMethodsResponse"
  TokenCommentsRequest:
    properties:
      AuditInfo:
        $ref: "#/definitions/AuditInfo"
      TokenUniqueReference:
        description: The TokenUniqueReference of the token.
        example: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
        maxLength: 48
        type: string
    required:
      - TokenUniqueReference
  TokenCommentsRequestSchema:
    properties:
      TokenCommentsRequest:
        $ref: "#/definitions/TokenCommentsRequest"
  TokenCommentsResponse:
    properties:
      Comments:
        $ref: "#/definitions/Comments"
  TokenCommentsResponseSchema:
    properties:
      TokenCommentsResponse:
        $ref: "#/definitions/TokenCommentsResponse"
  TokenDeleteRequest:
    properties:
      AuditInfo:
        $ref: "#/definitions/AuditInfo"
      CommentText:
        description: Comment related to deletion.
        example: Cardholder reported fraudulent transactions.
        maxLength: 500
        type: string
      ReasonCode:
        description: The reason for the action. Valid values:<br />    "L" - Cardholder confirmed token device lost<br />    "S" - Cardholder confirmed token device stolen<br />    "F" - Issuer or cardholder confirmed fraudulent token transactions (Deprecated)<br />    "T" - Issuer or cardholder confirmed fraudulent token transactions<br />    "C" - Account closed<br />    "Z" - Other
        example: C
        maxLength: 1
        type: string
      TokenUniqueReference:
        description: The TokenUniqueReference of the token.
        example: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
        maxLength: 48
        type: string
    required:
      - TokenUniqueReference
      - ReasonCode
      - AuditInfo
  TokenDeleteRequestSchema:
    properties:
      TokenDeleteRequest:
        $ref: "#/definitions/TokenDeleteRequest"
  TokenDeleteResponseSchema:
    properties:
      TokenDeleteResponse:
        $ref: "#/definitions/SimpleTokenResponse"
  TokenResendActivationCodeRequest:
    properties:
      ActivationMethodId:
        description: Identifier of the activation method.
        example: 123123122
        maxLength: 0
        type: string
      AuditInfo:
        $ref: "#/definitions/AuditInfo"
      TokenUniqueReference:
        description: TokenUniqueReference of the token. When present, the TUR field will be a 48 characters string.
        example: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
        maxLength: 48
        type: string
    required:
      - TokenUniqueReference
      - ActivationMethodId
      - AuditInfo
  TokenResendActivationCodeRequestSchema:
    properties:
      TokenResendActivationCodeRequest:
        $ref: "#/definitions/TokenResendActivationCodeRequest"
  TokenResendActivationCodeResponse:
    properties:
      Token:
        $ref: "#/definitions/TokenResendActivationCodeResponseToken"
  TokenResendActivationCodeResponseSchema:
    properties:
      TokenResendActivationCodeResponse:
        $ref: "#/definitions/TokenResendActivationCodeResponse"
  TokenResendActivationCodeResponseToken:
    properties:
      TokenUniqueReference:
        description: Unique reference to the Token.
        example: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
        maxLength: 48
        type: string
  TokenResetMobilePinRequest:
    properties:
      AuditInfo:
        $ref: "#/definitions/AuditInfo"
      CommentText:
        description: Comment related to the token mobile PIN reset.
        example: Cardholder reported fraudulent transactions.
        maxLength: 0
        type: string
      ReasonCode:
        description: The reason for the action. Valid values:<br />    "N" - Cardholder requested new Mobile PIN<br />    "R" ? Mobile PIN try counter violation
        example: N
        maxLength: 1
        type: string
      TokenUniqueReference:
        description: The TokenUniqueReference of the token.
        example: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
        maxLength: 48
        type: string
    required:
      - TokenUniqueReference
      - ReasonCode
      - AuditInfo
  TokenResetMobilePinRequestSchema:
    properties:
      TokenResetMobilePinRequest:
        $ref: "#/definitions/TokenResetMobilePinRequest"
  TokenResetMobilePinResponseSchema:
    properties:
      TokenResetMobilePinResponse:
        $ref: "#/definitions/SimpleTokenResponse"
  TokenResponse:
    properties:
      TokenUniqueReference:
        description: Unique reference to the Token.
        example: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
        maxLength: 48
        type: string
    required:
      - TokenUniqueReference
  TokenStatusHistoryRequest:
    properties:
      AuditInfo:
        $ref: "#/definitions/AuditInfo"
      TokenUniqueReference:
        description: The TokenUniqueReference of the token.
        example: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
        maxLength: 48
        type: string
    required:
      - TokenUniqueReference
  TokenStatusHistoryRequestSchema:
    properties:
      TokenStatusHistoryRequest:
        $ref: "#/definitions/TokenStatusHistoryRequest"
  TokenStatusHistoryResponse:
    properties:
      Statuses:
        $ref: "#/definitions/Statuses"
  TokenStatusHistoryResponseSchema:
    properties:
      TokenStatusHistoryResponse:
        $ref: "#/definitions/TokenStatusHistoryResponse"
  TokenSuspendRequest:
    properties:
      AuditInfo:
        $ref: "#/definitions/AuditInfo"
      CommentText:
        description: Comment related to suspension.
        example: Cardholder reported fraudulent transactions
        maxLength: 500
        type: string
      ReasonCode:
        description: The reason for the action. Valid values:<br />    "L" - Cardholder reported token device lost.<br />    "S" - Cardholder reported token device stolen.<br />    "T" - Issue or cardholder reported fraudulent token transactions.<br />    "Z" - Other.
        example: T
        maxLength: 1
        minLength: 1
        type: string
      TokenUniqueReference:
        description: The TokenUniqueReference of the token.
        example: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
        maxLength: 48
        minLength: 9
        type: string
    required:
      - TokenUniqueReference
      - ReasonCode
      - AuditInfo
  TokenSuspendRequestSchema:
    properties:
      TokenSuspendRequest:
        $ref: "#/definitions/TokenSuspendRequest"
  TokenSuspendResponseSchema:
    properties:
      TokenSuspendResponse:
        $ref: "#/definitions/SimpleTokenResponse"
  TokenUnsuspendRequest:
    properties:
      AuditInfo:
        $ref: "#/definitions/AuditInfo"
      CommentText:
        description: Comment related to unsuspension.
        example: Cardholder reported fraudulent transactions.
        maxLength: 500
        type: string
      ReasonCode:
        description: The reason for the action. Valid values:<br />    "F" - Cardholder reported token device found or not stolen<br />    "T" - Issuer or cardholder confirmed no fraudulent token transactions<br />    "Z" - Other.
        example: F
        maxLength: 1
        type: string
      TokenUniqueReference:
        description: The TokenUniqueReference of the token.
        example: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
        maxLength: 48
        type: string
    required:
      - TokenUniqueReference
      - ReasonCode
      - AuditInfo
  TokenUnsuspendRequestSchema:
    properties:
      TokenUnsuspendRequest:
        $ref: "#/definitions/TokenUnsuspendRequest"
  TokenUnsuspendResponseSchema:
    properties:
      TokenUnsuspendResponse:
        $ref: "#/definitions/SimpleTokenResponse"
  TokenUpdateRequest:
    properties:
      AccountPanSequenceNumber:
        description: New PAN sequence number to be applied to the updated token(s). Conditional field, must not be present when IssuerProductConfigurationId is present. Optional if updating PAN mapping or Expiration Date.
        example: 59
        maxLength: 2
        type: string
      AuditInfo:
        $ref: "#/definitions/AuditInfo"
      CommentText:
        description: Comment related to the updated token(s).
        example: Update gold artwork
        maxLength: 500
        type: string
      CurrentAccountPan:
        description: Current Account PAN of the token(s) to be updated. Conditional field, used for updating all tokens mapped to a single Account PAN and must not be present when TokenUniqueReference is present.
        example: 5412345678901234
        maxLength: 19
        minLength: 9
        type: string
      ExpirationDate:
        description: New expiration date to be applied to the updated token(s). Conditional field, must not be present when IssuerProductConfigurationId is present. Optional if updating PAN mapping or PAN Sequence Number.
        example: 1225
        maxLength: 4
        type: string
      IssuerProductConfigurationId:
        description: New product configuration ID to be applied to the updated token(s). Conditional field, must not be present if any of the following are present; NewAccountPan, ExpirationDate, AccountPanSequenceNumber.
        example: ANYGOLD101
        maxLength: 10
        type: string
      NewAccountPan:
        description: New Account PAN to be applied to the updated token(s) if there is in fact a new Account PAN. Optional if updating Expiration Date or PAN Sequence Number.
        example: 5412345678908888
        maxLength: 19
        minLength: 9
        type: string
      TokenUniqueReference:
        description: Unique reference of the token to be updated. Conditional field, used for updating a single token and not used when CurrentAccountPan is present.
        example: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
        maxLength: 48
        type: string
      UpdateWalletProviderIndicator:
        description: Indicates whether the updated token information should be provided to the Wallet Provider. Valid values:<br />    "0" - Pass the updated information to the Wallet Provider<br />    "1" - Do not pass the updated information to the Wallet Provider.<br />Optional parameter. The default is 1 if not present.
        example: 0
        maxLength: 1
        type: string
    required:
      - AuditInfo
  TokenUpdateRequestSchema:
    properties:
      TokenUpdateRequest:
        $ref: "#/definitions/TokenUpdateRequest"
  TokenUpdateResponse:
    properties:
      Tokens:
        $ref: "#/definitions/TokenUpdateTokens"
  TokenUpdateResponseSchema:
    properties:
      TokenUpdateResponse:
        $ref: "#/definitions/TokenUpdateResponse"
  TokenUpdateTokens:
    properties:
      Token:
        items:
          $ref: "#/definitions/SimpleTokenCommentResponse"
        type: array
  Tokens:
    properties:
      Token:
        items:
          $ref: "#/definitions/Token"
        type: array
  Transaction:
    properties:
      CurrencyCode:
        description: ISO-4217 currency code (3-letter alphabetic currency code).
        example: USD
        maxLength: 3
        type: string
      MerchantCategoryCode:
        description: Merchant category of the merchant. Conditional field. When available, it must be included in the response.
        example: 1234
        maxLength: 0
        type: string
      MerchantCategoryDescription:
        description: Description of the merchant category.
        example: GROCERY STORES, SUPERMARKETS
        maxLength: 0
        type: string
      MerchantName:
        description: Name of the merchant. Conditional field. When available, it must be included in the response.
        example: FoodMart
        maxLength: 0
        type: string
      POSEntryMode:
        description: Indicates the mode by which transaction data was collected at the merchant. Conditional field. When available, it must be included in the response.  Valid values:<br />    "07" - Contactless M/Chip transaction<br />    "09" - Digital Secure Remote Payment containing EMV data<br />    "81" - Digital Secure Remote Payment containing UCAF data or CoF<br />    "82" - CoF - PAN auto entry via server<br />    "90" - Dynamic Magnetic Strip Data<br />    "91" - Contactless magnetic stripe
        example: 90
        maxLength: 2
        type: string
      TransactionAmount:
        description: Amount of the transaction formatted with decimal places.
        example: 123.45
        maxLength: 0
        type: string
      TransactionDateTime:
        description: Date and time the comment was updated. String, YYYY-MM-DDThh:mm:ssTZD.
        example: 2015-01-21T00:04:35.000Z
        type: string
      TransactionStatusCode:
        description: Transaction status. Valid values:<br />    "AUTH" = Authorized<br />    "COMP" = Completed<br />    "DCLN" = Declined<br />    "PAUTH" = Pre-Authorized<br />    "PAUTC" = Pre-Authorization Completed<br />    "PAUTD" = Pre-Authorization Declined<br />    "REFND" = Refunded
        example: AUTH
        maxLength: 0
        type: string
      TransactionTypeCode:
        description: Type of transaction. Valid values:<br />    "PURCH" = Purchase<br />    "PURCB" = Purchase with Cashback<br />    "REFND" = Refund<br />    "AFD" = Purchase Pre-Auth AFD<br />    "CLRRF" = Clearing Refund<br />    "NAFD" = Purchase Pre-Auth Non-AFD<br />    "PYMT" = Push Payments.
        example: PURCH
        maxLength: 0
        type: string
      TransactionTypeDescription:
        description: Description of the transaction type.
        example: Purchase
        maxLength: 0
        type: string
  Transactions:
    properties:
      Transaction:
        items:
          $ref: "#/definitions/Transaction"
        type: array
  TransactionsRequest:
    properties:
      AuditInfo:
        $ref: "#/definitions/AuditInfo"
      TokenUniqueReference:
        description: The TokenUniqueReference of the token.
        example: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
        maxLength: 48
        type: string
    required:
      - TokenUniqueReference
      - AuditInfo
  TransactionsRequestSchema:
    properties:
      TransactionsRequest:
        $ref: "#/definitions/TransactionsRequest"
  TransactionsResponse:
    properties:
      Transactions:
        $ref: "#/definitions/Transactions"
  TransactionsResponseSchema:
    properties:
      TransactionsResponse:
        $ref: "#/definitions/TransactionsResponse"
  UpdateTokenAssuranceRequest:
    properties:
      AuditInfo:
        $ref: "#/definitions/AuditInfo"
      CommentText:
        description: Comment related to the update.
        example: Cardholder and account verified.
        maxLength: 0
        type: string
      TokenUniqueReference:
        description: The TokenUniqueReference of the token.
        example: DWSPMC00000000010906a349d9ca4eb1a4d53e3c90a11d9c
        maxLength: 48
        type: string
    required:
      - TokenUniqueReference
      - AuditInfo
  UpdateTokenAssuranceRequestSchema:
    properties:
      UpdateTokenAssuranceRequest:
        $ref: "#/definitions/UpdateTokenAssuranceRequest"
  UpdateTokenAssuranceResponseSchema:
    properties:
      UpdateTokenAssuranceResponse:
        $ref: "#/definitions/SimpleTokenResponse"
