swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: AutomationManagement
  version: 2015-10-31
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/job.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: automation-job
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters: {}
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs":
    get:
      description: Retrieve a list of jobs.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/joboperations
      operationId: Job_ListByAutomationAccount
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/JobListResult"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Job
      x-ms-examples:
        List jobs by automation account:
          parameters:
            api-version: 2015-10-31
            automationAccountName: ContoseAutomationAccount
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/45203a94-a8cb-47c3-8ce4-4dcc3a5f7d23
                    properties:
                      creationTime: 2017-03-30T05:53:30.243+00:00
                      endTime: null
                      jobId: 45203a94-a8cb-47c3-8ce4-4dcc3a5f7d23
                      jobScheduleId: 24bd77b2-f3c1-42a8-815b-e80ac5c2de9c
                      lastModifiedTime: 2017-03-30T05:53:30.243+00:00
                      provisioningState: Processing
                      runbook:
                        name: TestRunbook
                      schedule: null
                      startTime: null
                      status: New
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/7584055f-5118-460a-a2dd-5176c9c8efe9
                    properties:
                      creationTime: 2017-03-30T05:46:49.37+00:00
                      endTime: 2017-03-30T05:48:38.857+00:00
                      jobId: 7584055f-5118-460a-a2dd-5176c9c8efe9
                      jobScheduleId: 379d0e16-245c-43b2-8f99-54dc7f960ff9
                      lastModifiedTime: 2017-03-30T05:48:38.857+00:00
                      provisioningState: Succeeded
                      runbook:
                        name: TestRunbook
                      schedule: null
                      startTime: 2017-03-30T05:47:35.2+00:00
                      status: Completed
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/1054546d-0a8f-4cfe-b08d-b617598f00ed
                    properties:
                      creationTime: 2017-03-30T05:48:33.45+00:00
                      endTime: 2017-03-30T05:48:33.56+00:00
                      jobId: 1054546d-0a8f-4cfe-b08d-b617598f00ed
                      jobScheduleId: 46c278cf-f817-416a-8f30-ccd02ec97873
                      lastModifiedTime: 2017-03-30T05:48:33.56+00:00
                      provisioningState: Failed
                      runbook:
                        name: TestRunbook
                      schedule: null
                      startTime: 2017-03-30T05:48:33.56+00:00
                      status: Failed
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/f8f72961-cc60-4222-ad36-02d66cc79fbc
                    properties:
                      creationTime: 2017-03-30T03:40:42.283+00:00
                      endTime: 2017-03-30T05:46:36.447+00:00
                      jobId: f8f72961-cc60-4222-ad36-02d66cc79fbc
                      jobScheduleId: 7b76b6d9-6823-4eb6-b594-f1033480f942
                      lastModifiedTime: 2017-03-30T05:46:36.447+00:00
                      provisioningState: Failed
                      runbook:
                        name: TestRunbook
                      schedule: null
                      startTime: 2017-03-30T03:42:20.927+00:00
                      status: Stopped
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/962e21d8-625a-40a4-a7d9-ef1d1c594a53
                    properties:
                      creationTime: 2017-03-30T05:43:54.737+00:00
                      endTime: 2017-03-30T05:43:54.817+00:00
                      jobId: 962e21d8-625a-40a4-a7d9-ef1d1c594a53
                      jobScheduleId: b1959bf9-a552-4a26-b6d5-3dada8204e2e
                      lastModifiedTime: 2017-03-30T05:43:54.817+00:00
                      provisioningState: Failed
                      runbook:
                        name: TestRunbook
                      schedule: null
                      startTime: 2017-03-30T05:43:54.817+00:00
                      status: Failed
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/db2708ac-8f07-4af7-af99-f381877e61f3
                    properties:
                      creationTime: 2017-03-30T05:43:09.69+00:00
                      endTime: 2017-03-30T05:43:09.813+00:00
                      jobId: db2708ac-8f07-4af7-af99-f381877e61f3
                      jobScheduleId: d306b6c7-b41c-43ef-b07f-b121e8849793
                      lastModifiedTime: 2017-03-30T05:43:09.813+00:00
                      provisioningState: Failed
                      runbook:
                        name: TestRunbook
                      schedule: null
                      startTime: 2017-03-30T05:43:09.813+00:00
                      status: Failed
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/ad36c63e-cb95-4aae-9f0f-26c8b436440a
                    properties:
                      creationTime: 2017-03-30T05:36:31.127+00:00
                      endTime: 2017-03-30T05:36:31.22+00:00
                      jobId: ad36c63e-cb95-4aae-9f0f-26c8b436440a
                      jobScheduleId: 3e6d8a83-c330-4946-9f37-26dce027258d
                      lastModifiedTime: 2017-03-30T05:36:31.22+00:00
                      provisioningState: Failed
                      runbook:
                        name: TestRunbook
                      schedule: null
                      startTime: 2017-03-30T05:36:31.22+00:00
                      status: Failed
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/3b5d4c8a-14cf-47c3-b7e0-0bf14780e676
                    properties:
                      creationTime: 2017-03-30T05:35:45.513+00:00
                      endTime: 2017-03-30T05:35:45.593+00:00
                      jobId: 3b5d4c8a-14cf-47c3-b7e0-0bf14780e676
                      jobScheduleId: af8ee432-29c2-4a1e-9828-ae66c21523fc
                      lastModifiedTime: 2017-03-30T05:35:45.593+00:00
                      provisioningState: Failed
                      runbook:
                        name: TestRunbook
                      schedule: null
                      startTime: 2017-03-30T05:35:45.593+00:00
                      status: Failed
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/9f199f26-f918-4693-b604-5e3134503cf5
                    properties:
                      creationTime: 2017-03-30T03:27:33.253+00:00
                      endTime: 2017-03-30T03:58:41.713+00:00
                      jobId: 9f199f26-f918-4693-b604-5e3134503cf5
                      jobScheduleId: 78bfb5a9-9b05-4e29-81f7-88e2e2171cd3
                      lastModifiedTime: 2017-03-30T03:58:41.713+00:00
                      provisioningState: Failed
                      runbook:
                        name: TestRunbook
                      schedule: null
                      startTime: 2017-03-30T03:29:18.227+00:00
                      status: Failed
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/89a6bfd1-d10e-4ccd-bfc6-b212a6a2a2d1
                    properties:
                      creationTime: 2017-03-30T02:05:11.343+00:00
                      endTime: 2017-03-30T03:58:32.073+00:00
                      jobId: 89a6bfd1-d10e-4ccd-bfc6-b212a6a2a2d1
                      jobScheduleId: d29ef781-956a-40d2-bfe9-fed8d7cca7e6
                      lastModifiedTime: 2017-03-30T03:58:32.073+00:00
                      provisioningState: Failed
                      runbook:
                        name: TestRunbook
                      schedule: null
                      startTime: 2017-03-30T02:06:20.91+00:00
                      status: Stopped
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/ac08b537-6024-4d36-a61b-94e1c990ebd2
                    properties:
                      creationTime: 2017-03-30T02:02:47.23+00:00
                      endTime: 2017-03-30T02:03:13.933+00:00
                      jobId: ac08b537-6024-4d36-a61b-94e1c990ebd2
                      jobScheduleId: 4664fbae-62b3-4fec-9aa8-c267e2c893bb
                      lastModifiedTime: 2017-03-30T02:03:13.933+00:00
                      provisioningState: Succeeded
                      runbook:
                        name: TestRunbook
                      schedule: null
                      startTime: 2017-03-30T02:03:09.153+00:00
                      status: Completed
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/299920cb-c908-49d1-bd0a-41873ad558bb
                    properties:
                      creationTime: 2017-03-30T02:00:22.133+00:00
                      endTime: 2017-03-30T02:02:05.12+00:00
                      jobId: 299920cb-c908-49d1-bd0a-41873ad558bb
                      jobScheduleId: f1b61fad-b85a-4c1f-a3df-2bdf0f22bae1
                      lastModifiedTime: 2017-03-30T02:02:05.12+00:00
                      provisioningState: Succeeded
                      runbook:
                        name: TestRunbook
                      schedule: null
                      startTime: 2017-03-30T02:01:43.51+00:00
                      status: Completed
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/b0cd9455-7f40-4878-b1e9-68d256ee4d69
                    properties:
                      creationTime: 2017-03-30T01:59:11.77+00:00
                      endTime: 2017-03-30T02:00:05.21+00:00
                      jobId: b0cd9455-7f40-4878-b1e9-68d256ee4d69
                      jobScheduleId: 69bb5960-f2f6-4579-bf8d-014f6e775d68
                      lastModifiedTime: 2017-03-30T02:00:05.21+00:00
                      provisioningState: Succeeded
                      runbook:
                        name: TestRunbook
                      schedule: null
                      startTime: 2017-03-30T01:59:51.35+00:00
                      status: Completed
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/9f8ee99e-ec36-49bd-beb8-9086a6270579
                    properties:
                      creationTime: 2017-03-30T01:55:55.2+00:00
                      endTime: 2017-03-30T01:57:22.563+00:00
                      jobId: 9f8ee99e-ec36-49bd-beb8-9086a6270579
                      jobScheduleId: 7752b3a6-e443-48cd-ada0-6e70f4e43e4d
                      lastModifiedTime: 2017-03-30T01:57:22.563+00:00
                      provisioningState: Succeeded
                      runbook:
                        name: TestRunbook
                      schedule: null
                      startTime: 2017-03-30T01:57:07.14+00:00
                      status: Completed
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}":
    get:
      description: Retrieve the job identified by job id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/joboperations
      operationId: Job_Get
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The job id.
          format: uuid
          in: path
          name: jobId
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Job"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Job
    put:
      description: Create a job of the runbook.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/joboperations
      operationId: Job_Create
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The job id.
          format: uuid
          in: path
          name: jobId
          required: true
          type: string
        - description: The parameters supplied to the create job operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/JobCreateParameters"
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "201":
          description: Created
          schema:
            $ref: "#/definitions/Job"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Job
      x-ms-examples:
        Create job:
          parameters:
            api-version: 2015-10-31
            automationAccountName: ContoseAutomationAccount
            jobId: 45203a94-a8cb-47c3-8ce4-4dcc3a5f7d23
            parameters:
              properties:
                parameters:
                  tag01: value01
                  tag02: value02
                runbook:
                  name: TestRunbook
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/45203a94-a8cb-47c3-8ce4-4dcc3a5f7d23
                properties:
                  creationTime: 2017-03-30T05:53:30.243+00:00
                  endTime: null
                  exception: null
                  jobId: 45203a94-a8cb-47c3-8ce4-4dcc3a5f7d23
                  lastModifiedTime: 2017-03-30T05:53:30.243+00:00
                  lastStatusModifiedTime: 2017-03-30T05:53:30.243+00:00
                  parameters:
                    tag01: value01
                    tag02: value02
                  provisioningState: Processing
                  runOn: null
                  runbook:
                    name: TestRunbook
                  startTime: null
                  startedBy: myEmaild@microsoft.com
                  status: New
                  statusDetails: None
              headers: {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}/output":
    get:
      description: Retrieve the job output identified by job id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/joboperations
      operationId: Job_GetOutput
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The job id.
          in: path
          name: jobId
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: file
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Job
      x-ms-examples:
        Get Job:
          parameters:
            api-version: 2015-10-31
            automationAccountName: ContoseAutomationAccount
            jobId: 45203a94-a8cb-47c3-8ce4-4dcc3a5f7d23
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/45203a94-a8cb-47c3-8ce4-4dcc3a5f7d23
                properties:
                  creationTime: 2017-03-30T05:53:30.243+00:00
                  endTime: null
                  exception: null
                  jobId: 45203a94-a8cb-47c3-8ce4-4dcc3a5f7d23
                  lastModifiedTime: 2017-03-30T05:53:30.243+00:00
                  lastStatusModifiedTime: 2017-03-30T05:53:30.243+00:00
                  parameters:
                    tag01: value01
                    tag02: value02
                  provisioningState: Processing
                  runOn: null
                  runbook:
                    name: TestRunbook
                  startTime: null
                  startedBy: myEmaild@microsoft.com
                  status: New
                  statusDetails: None
              headers: {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}/resume":
    post:
      description: Resume the job identified by jobId.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/joboperations
      operationId: Job_Resume
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The job id.
          format: uuid
          in: path
          name: jobId
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Job
      x-ms-examples:
        Resume job:
          parameters:
            api-version: 2015-10-31
            automationAccountName: ContoseAutomationAccount
            jobId: 45203a94-a8cb-47c3-8ce4-4dcc3a5f7d23
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200": {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}/runbookContent":
    get:
      description: Retrieve the runbook content of the job identified by job id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/joboperations
      operationId: Job_GetRunbookContent
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The job id.
          in: path
          name: jobId
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: file
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Job
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}/stop":
    post:
      description: Stop the job identified by jobId.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/joboperations
      operationId: Job_Stop
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The job id.
          format: uuid
          in: path
          name: jobId
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Job
      x-ms-examples:
        Stop job:
          parameters:
            api-version: 2015-10-31
            automationAccountName: ContoseAutomationAccount
            jobId: 45203a94-a8cb-47c3-8ce4-4dcc3a5f7d23
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200": {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}/streams":
    get:
      description: Retrieve a list of jobs streams identified by job id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/jobstreamoperations
      operationId: JobStream_ListByJob
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The job Id.
          in: path
          name: jobId
          required: true
          type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/JobStreamListResult"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - JobStream
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}/streams/{jobStreamId}":
    get:
      description: Retrieve the job stream identified by job stream id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/jobstreamoperations
      operationId: JobStream_Get
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The job id.
          in: path
          name: jobId
          required: true
          type: string
        - description: The job stream id.
          in: path
          name: jobStreamId
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/JobStream"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - JobStream
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}/suspend":
    post:
      description: Suspend the job identified by jobId.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/joboperations
      operationId: Job_Suspend
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The job id.
          format: uuid
          in: path
          name: jobId
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Job
      x-ms-examples:
        Suspend job:
          parameters:
            api-version: 2015-10-31
            automationAccountName: ContoseAutomationAccount
            jobId: 45203a94-a8cb-47c3-8ce4-4dcc3a5f7d23
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200": {}
definitions:
  Job:
    description: Definition of the job.
    properties:
      id:
        description: Id of the resource.
        type: string
      properties:
        $ref: "#/definitions/JobProperties"
        description: The properties of the job.
        x-ms-client-flatten: true
  JobCreateParameters:
    description: The parameters supplied to the create job operation.
    properties:
      properties:
        $ref: "#/definitions/JobCreateProperties"
        description: Gets or sets the list of job properties.
        x-ms-client-flatten: true
    required:
      - properties
  JobCreateProperties:
    description: The parameters supplied to the create job operation.
    properties:
      parameters:
        additionalProperties:
          type: string
        description: Gets or sets the parameters of the job.
        type: object
      runOn:
        description: Gets or sets the runOn which specifies the group name where the job is to be executed.
        type: string
      runbook:
        $ref: "#/definitions/RunbookAssociationProperty"
        description: Gets or sets the runbook.
    required:
      - runbook
  JobListResult:
    description: The response model for the list job operation.
    properties:
      nextLink:
        description: Gets or sets the next link.
        type: string
      value:
        description: Gets or sets a list of jobs.
        items:
          $ref: "#/definitions/Job"
        type: array
  JobProperties:
    description: Definition of job properties.
    properties:
      creationTime:
        description: Gets or sets the creation time of the job.
        format: date-time
        type: string
        x-nullable: false
      endTime:
        description: Gets or sets the end time of the job.
        format: date-time
        type: string
        x-nullable: true
      exception:
        description: Gets or sets the exception of the job.
        type: string
      jobId:
        description: Gets or sets the id of the job.
        format: uuid
        type: string
        x-nullable: false
      jobScheduleId:
        description: Gets or sets the id of job schedule.
        type: string
      lastModifiedTime:
        description: Gets or sets the last modified time of the job.
        format: date-time
        type: string
        x-nullable: true
      lastStatusModifiedTime:
        description: Gets or sets the last status modified time of the job.
        format: date-time
        type: string
        x-nullable: true
      parameters:
        additionalProperties:
          type: string
        description: Gets or sets the parameters of the job.
        type: object
      provisioningState:
        $ref: "#/definitions/JobProvisioningStateProperty"
        description: The provisioning state of a resource.
      runOn:
        description: Gets or sets the runOn which specifies the group name where the job is to be executed.
        type: string
      runbook:
        $ref: "#/definitions/RunbookAssociationProperty"
        description: Gets or sets the runbook.
      schedule:
        $ref: "#/definitions/ScheduleAssociationProperty"
        description: Gets or sets the runbook.
      startTime:
        description: Gets or sets the start time of the job.
        format: date-time
        type: string
        x-nullable: true
      startedBy:
        description: Gets or sets the job started by.
        type: string
      status:
        description: Gets or sets the status of the job.
        enum:
          - New
          - Activating
          - Running
          - Completed
          - Failed
          - Stopped
          - Blocked
          - Suspended
          - Disconnected
          - Suspending
          - Stopping
          - Resuming
          - Removing
        type: string
        x-ms-enum:
          modelAsString: true
          name: JobStatus
      statusDetails:
        description: Gets or sets the status details of the job.
        type: string
  JobProvisioningStateProperty:
    description: The provisioning state of the resource.
    enum:
      - Failed
      - Succeeded
      - Suspended
      - Processing
    readOnly: true
    type: string
    x-ms-enum:
      modelAsString: true
      name: JobProvisioningState
  JobStream:
    description: Definition of the job stream.
    properties:
      id:
        description: Gets or sets the id of the resource.
        type: string
      properties:
        $ref: "#/definitions/JobStreamProperties"
        description: Gets or sets the id of the job stream.
        x-ms-client-flatten: true
  JobStreamListResult:
    description: The response model for the list job stream operation.
    properties:
      nextLink:
        description: Gets or sets the next link.
        type: string
      value:
        description: A list of job streams.
        items:
          $ref: "#/definitions/JobStream"
        type: array
  JobStreamProperties:
    description: Definition of the job stream.
    properties:
      jobStreamId:
        description: Gets or sets the id of the job stream.
        type: string
      streamText:
        description: Gets or sets the stream text.
        type: string
      streamType:
        description: Gets or sets the stream type.
        enum:
          - Progress
          - Output
          - Warning
          - Error
          - Debug
          - Verbose
          - Any
        type: string
        x-ms-enum:
          modelAsString: true
          name: JobStreamType
      summary:
        description: Gets or sets the summary.
        type: string
      time:
        description: Gets or sets the creation time of the job.
        format: date-time
        type: string
        x-nullable: false
      value:
        additionalProperties:
          type: object
        description: Gets or sets the values of the job stream.
        type: object
    x-ms-client-flatten: true
  RunbookAssociationProperty:
    description: The runbook property associated with the entity.
    properties:
      name:
        description: Gets or sets the name of the runbook.
        type: string
  ScheduleAssociationProperty:
    description: The schedule property associated with the entity.
    properties:
      name:
        description: Gets or sets the name of the Schedule.
        type: string
