swagger: "2.0"
schemes:
  - https
host: echodata.epa.gov
basePath: /echo
info:
  contact:
    name: U.S. EPA, OECA Integration, Targeting and Access Branch
    url: https://echo.epa.gov/resources/general-info/contact-us
  description: "Enforcement and Compliance History Online (ECHO) is a tool developed and maintained by EPA's Office of Enforcement and Compliance Assurance for public use.

    \  ECHO provides integrated compliance and enforcement information for over 1 million regulated facilities nationwide.

    \   EFF Rest Services provides the data for ECHO's Effluent Charts, a set of dynamic charts and tables of permitted effluent limits, releases, and violations over time for Clean Water Act (CWA) wastewater discharge permits issued under the National Pollutant Discharge Elimination System (NPDES). \ 


    See Effluent Charts Help (https://echo.epa.gov/help/reports/effluent-charts-help) for additional information.

    \\

    The are 3 service end points for Effluent Charts:  get_summary_chart, get_effluent_chart, and download_effluent_chart.

    \\

    \ <b>1)</b>  Use get_summary_chart to retrieve a summary matrix of effluent parameters by effluent outfall and an overall violation status for a provided NPDES Permit and date range.

    \ <b>2)</b>  Use get_effluent_chart to retrieve detailed Discharge Limit, DMR and NPDES Violation information for a provided NPDES Permit, date range, effluent parameter, or outfall.

    \ <b>3)</b>  Use download_effluent_chart to generate a Comma Separated Value (CSV) file of the detailed data provided with get_effluent chart, for a provided NPDES Permit, date range, effluent parameter, or outfall.

    \\

    Additional ECHO Resources:   <a href=\"https://echo.epa.gov/tools/web-services\">Web Services</a>, <a href=\"https://echo.epa.gov/resources/echo-data/about-the-data\">About ECHO's Data</a>, <a href=\"https://echo.epa.gov/tools/data-downloads\">Data Downloads</a>

    \ "
  license:
    name: U.S. Public Domain License
    url: https://edg.epa.gov/EPA_Data_License.html
  title: U.S. EPA Enforcement and Compliance History Online (ECHO) - Effluent Charting and Reporting
  version: 2019.10.15
  x-apisguru-categories:
    - open_data
  x-logo:
    backgroundColor: "#FFFFFF"
    url: https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_632233890594299904_DgRDU6dx_400x400.png
  x-origin:
    - format: swagger
      url: https://ofmpub.epa.gov/echo/swaggerx.swagger_json?p_prefix=EFF
      version: "2.0"
  x-providerName: epa.gov
  x-serviceName: eff
consumes:
  - application/x-www-form-urlencoded
produces:
  - application/json
  - application/xml
parameters:
  f.callback:
    description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.
    in: formData
    name: callback
    required: false
    type: string
  f.end_date:
    description: The end date (mm/dd/yyyy) for the date range of interest. Must be used in conjunction with start_date. If start_date and end_date are not specified, the service will return the last three years of data.
    in: formData
    name: end_date
    required: false
    type: string
  f.outfall:
    description: Three-character code that identifies the point of discharge (e.g., pipe or outfall) for a facility. A single NPDES ID may have multiple points of discharge.
    in: formData
    name: outfall
    required: false
    type: string
  f.output:
    description: |-
      Output Format Flag.  Enter one of the following keywords:
      - JSON = Data model formatted as Javascript Object Notation (default).
      - JSONP = Data model formatted as Javascript Object Notation with Padding.  
      - XML = Data model formatted as Extensible Markup Language.
    enum:
      - JSONP
      - JSON
      - XML
    in: formData
    name: output
    required: false
    type: string
  f.p_id:
    description: Identifier for the service.
    in: formData
    name: p_id
    required: true
    type: string
  f.parameter_code:
    description: Five-digit numeric code identifying the parameter. See Parameter Lookup documentation for a complete list of codes.
    in: formData
    name: parameter_code
    required: false
    type: string
  f.search_code:
    description: Enter a partial or complete code value.
    in: formData
    name: search_code
    required: false
    type: string
  f.search_term:
    description: Enter a partial or complete search phrase or word.
    in: formData
    name: search_term
    required: false
    type: string
  f.start_date:
    description: The start date (mm/dd/yyyy) for the date range of interest. Must be used in conjunction with end_date. If start_date and end_date are not specified, the service will return the last three years of data.
    in: formData
    name: start_date
    required: false
    type: string
  q.callback:
    description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.
    in: query
    name: callback
    required: false
    type: string
  q.end_date:
    description: The end date (mm/dd/yyyy) for the date range of interest. Must be used in conjunction with start_date. If start_date and end_date are not specified, the service will return the last three years of data.
    in: query
    name: end_date
    required: false
    type: string
  q.outfall:
    description: Three-character code that identifies the point of discharge (e.g., pipe or outfall) for a facility. A single NPDES ID may have multiple points of discharge.
    in: query
    name: outfall
    required: false
    type: string
  q.output:
    description: |-
      Output Format Flag.  Enter one of the following keywords:
      - JSON = Data model formatted as Javascript Object Notation (default).
      - JSONP = Data model formatted as Javascript Object Notation with Padding.  
      - XML = Data model formatted as Extensible Markup Language.
    enum:
      - JSONP
      - JSON
      - XML
    in: query
    name: output
    required: false
    type: string
  q.p_id:
    description: Identifier for the service.
    in: query
    name: p_id
    required: true
    type: string
  q.parameter_code:
    description: Five-digit numeric code identifying the parameter. See Parameter Lookup documentation for a complete list of codes.
    in: query
    name: parameter_code
    required: false
    type: string
  q.search_code:
    description: Enter a partial or complete code value.
    in: query
    name: search_code
    required: false
    type: string
  q.search_term:
    description: Enter a partial or complete search phrase or word.
    in: query
    name: search_term
    required: false
    type: string
  q.start_date:
    description: The start date (mm/dd/yyyy) for the date range of interest. Must be used in conjunction with end_date. If start_date and end_date are not specified, the service will return the last three years of data.
    in: query
    name: start_date
    required: false
    type: string
paths:
  /eff_rest_services.download_effluent_chart:
    get:
      description: Downloads tabular Discharge Monitoring Report (DMR) and compliance data for one NPDES permit as a CSV.
      parameters:
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.outfall"
        - $ref: "#/parameters/q.parameter_code"
        - $ref: "#/parameters/q.start_date"
        - $ref: "#/parameters/q.end_date"
      responses:
        "200":
          description: Returns an object with summary effluent information
          schema:
            type: file
      summary: Effluent Charts Download Service
      tags:
        - Effluent Charts
    post:
      description: Downloads tabular Discharge Monitoring Report (DMR) and compliance data for one NPDES permit as a CSV.
      parameters:
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.outfall"
        - $ref: "#/parameters/f.parameter_code"
        - $ref: "#/parameters/f.start_date"
        - $ref: "#/parameters/f.end_date"
      responses:
        "200":
          description: Returns an object with summary effluent information
          schema:
            type: file
      summary: Effluent Charts Download Service
      tags:
        - Effluent Charts
  /eff_rest_services.get_effluent_chart:
    get:
      description: |+
        Discharge Monitoring Report (DMR) data supporting each effluent chart for one NPDES permit. Includes Discharge Monitoring Reports and NPDES Violations. 

      parameters:
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.outfall"
        - $ref: "#/parameters/q.parameter_code"
        - $ref: "#/parameters/q.start_date"
        - $ref: "#/parameters/q.end_date"
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object with detailed effluent information
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/eff05"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Effluent Chart Service
      tags:
        - Effluent Charts
    post:
      description: |+
        Discharge Monitoring Report (DMR) data supporting each effluent chart for one NPDES permit. Includes Discharge Monitoring Reports and NPDES Violations. 

      parameters:
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.outfall"
        - $ref: "#/parameters/f.parameter_code"
        - $ref: "#/parameters/f.start_date"
        - $ref: "#/parameters/f.end_date"
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object with detailed effluent information
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/eff05"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Effluent Chart Service
      tags:
        - Effluent Charts
  /eff_rest_services.get_summary_chart:
    get:
      description: Summary of compliance status each outfall and parameter for one NPDES permit. Provides the current compliance status and overall compliance status for the date range of interest. This service supports the Summary Matrix on the Effluent Charts.
      parameters:
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.callback"
        - $ref: "#/parameters/q.start_date"
        - $ref: "#/parameters/q.end_date"
      responses:
        "200":
          description: Returns an object with summary effluent information
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/eff09"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Summary Effluent Chart Service
      tags:
        - Effluent Charts
    post:
      description: Summary of compliance status each outfall and parameter for one NPDES permit. Provides the current compliance status and overall compliance status for the date range of interest. This service supports the Summary Matrix on the Effluent Charts.
      parameters:
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.callback"
        - $ref: "#/parameters/f.start_date"
        - $ref: "#/parameters/f.end_date"
      responses:
        "200":
          description: Returns an object with summary effluent information
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/eff09"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Summary Effluent Chart Service
      tags:
        - Effluent Charts
  /rest_lookups.cwa_parameters:
    get:
      description: Look up Clean Water Act parameter codes and descriptions in the Integrated Compliance Information System - National Pollutant Discharge Elimination System (ICIS-NPDES) by code or term.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.callback"
        - $ref: "#/parameters/q.search_term"
        - $ref: "#/parameters/q.search_code"
      responses:
        "200":
          description: |-
            Returns an array of parameter codes and descriptions that contain the search_term or search_code entered. If search term or search code not provided, returns all values. ValueCode is the 5-digit parameter code.
            ValueDescription is the parameter description.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/rlup23"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: ECHO CWA Parameter Lookup Service
      tags:
        - Lookups
    post:
      description: Look up Clean Water Act parameter codes and descriptions in the Integrated Compliance Information System - National Pollutant Discharge Elimination System (ICIS-NPDES) by code or term.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.callback"
        - $ref: "#/parameters/f.search_term"
        - $ref: "#/parameters/f.search_code"
      responses:
        "200":
          description: |-
            Returns an array of parameter codes and descriptions that contain the search_term or search_code entered. If search term or search code not provided, returns all values. ValueCode is the 5-digit parameter code.
            ValueDescription is the parameter description.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/rlup23"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: ECHO CWA Parameter Lookup Service
      tags:
        - Lookups
definitions:
  eff01:
    description: Discharge Monitoring Reports Object
    properties:
      DMREventId:
        description: The sequence ID identifying the DMR Event.
        example: "3403602486"
        title: DMR Event ID
        type: string
      DMRFormValueId:
        description: The sequence ID identifying the DMR Form Value.
        example: "3444464127"
        title: Measured Value ID
        type: string
      DMRUnitCode:
        description: The code representing the unit of measure applicable to quantity or concentration limits and measurements as entered into ICIS-NPDES
        example: "19"
        title: Measured Value Unit Code
        type: string
      DMRUnitDesc:
        description: The short description of the unit of measure applicable to limit or DMR values
        example: mg/L
        title: Measured Value Unit
        type: string
      DMRValueId:
        description: The unique identifier for the DMR value generated in ICIS-NPDES
        example: "3420340252"
        title: Measured Value ID
        type: string
      DMRValueNmbr:
        description: The DMR value number reported on the DMR Form
        example: "20"
        title: Measured Value
        type: string
      DMRValueQualifierCode:
        description: The unique code identifying the DMR value operator (i.e., <, <=, >, >=, T, E, =). E indicates an estimated value. T indicates too numerous to count
        example: =
        title: DMR Value Qualifier Code
        type: string
      DMRValueStdUnits:
        description: The DMR value expressed in standard units, as calculated in ICIS-NPDES
        example: "20"
        title: Measured Value Standard Units
        type: string
      DaysLate:
        description: The number of days the DMR value is late, as generated in ICIS-NPDES
        example: "5"
        title: Days Received Late
        type: string
      ExceedencePct:
        description: The percent by which the DMR value (or adjusted value) exceeded its limit (or stay) value, as generated in ICIS-NPDES
        example: "0"
        title: Exceedance Percentage
        type: string
      LimitBeginDate:
        description: The date on which a limit becomes in effect for a particular parameter in a limit set
        example: 01-APR-14
        title: Limit Begin Date
        type: string
      LimitEndDate:
        description: The date on which a limit stops being in effect for a particular parameter in a limit set
        example: 31-MAR-19
        title: Limit End Date
        type: string
      LimitId:
        description: The unique identifier for a limit parameter record
        example: "3401161480"
        title: Limit ID
        type: string
      LimitSetId:
        description: The unique identifier for a limit set, generated in ICIS-NPDES
        example: "3400122018"
        title: Limit Set ID
        type: string
      LimitSetScheduleId:
        description: The unique identifier of the Limit Set Schedule, generated in ICIS-NPDES
        example: "3400204974"
        title: Limit Set Schedule ID
        type: string
      LimitTypeCode:
        example: C1
        title: Limit Type Code
        type: string
      LimitUnitCode:
        description: The code representing the unit of measure applicable to quantity or concentration limits and measurements as entered by the user
        example: "12"
        title: Limit Unit Code
        type: string
      LimitUnitDesc:
        description: The short description of the unit of measure applicable to limit or DMR values
        example: SU
        title: Limit Unit Description
        type: string
      LimitValueId:
        description: The unique identifier in ICIS-NPDES for the Limit Value
        example: "3401799401"
        title: Limit Value ID
        type: string
      LimitValueNmbr:
        description: The numerical limit for a given parameter
        example: "20"
        title: Limit Value
        type: string
      LimitValueQualifierCode:
        description: The unique code identifying the limit value operator (i.e., <, <=, >, >=, T, E, =). E indicates an estimated value. T indicates too numerous to count
        example: =
        title: Limit Value Qualifier
        type: string
      LimitValueStdUnits:
        description: The limit value expressed in standard units, as calculated in ICIS-NPDES
        example: "20"
        title: Limit Value in Standard Units
        type: string
      LimitValueTypeCode:
        description: The code indicating the type of value the limit is given as (i.e., Q1, Q2, C1, C2, C3)
        example: C1
        title: Limit Value Code
        type: string
      LimitValueTypeDesc:
        description: The description indicating the type of value the limit is given as (e.g., Concentration, Quantity)
        example: Concentration1
        title: Limit Value Type
        type: string
      MonitoringPeriodEndDate:
        description: The date that the monitoring period for the values covered by the DMR Form ends
        example: 30-APR-14
        title: Monitoring Period End Date
        type: string
      NODEDesc:
        type: string
      NODICode:
        description: The unique code indicating why no DMR Value was submitted by the permittee for a Monitoring Period End Date
        example: C
        title: No Discharge Code
        type: string
      NPDESViolations:
        items:
          $ref: "#/definitions/eff02"
        title: NPDES Violations
        type: array
        xml:
          name: NPDESViolations
          wrapped: true
      NmbrOfSubmission:
        description: The number of months of discharges represented on each DMR for the limit set (e.g., monthly = 1, bi-monthly = 2, quarterly = 3, triannual = 4, semi-annual = 6, annual = 12). This data element will be blank for Unscheduled Limit Sets
        example: "1"
        title: Number of Submissions
        type: string
      PermFeatureId:
        description: The unique identifier in ICIS-NPDES of a permitted feature or outfall
        example: "3400087283"
        title: Permit Feature ID
        type: string
      StatisticalBaseCode:
        description: The code representing the unit of measure applicable to the limit and DMR values entered by the user (e.g., 30-day average, daily maximum)
        example: DC
        title: Statistical Base Code
        type: string
      StatisticalBaseDesc:
        type: string
      StatisticalBaseTypeCode:
        description: The code indicating whether the statistical base code is a minimum, average, or maximum for purposes of calculating compliance against the limit value
        example: MIN
        title: Statistical Base Type Code
        type: string
      StatisticalBaseTypeDesc:
        description: A short description for indicating whether the statistical base code is a minimum, average, or maximum for purposes of calculating compliance against the limit value
        example: Minimum
        title: Statistical Base Type
        type: string
      StayValueNmbr:
        description: The numeric limit value imposed during the period of the stay for the limit; if entered, during the stay period, ICIS-NPDES will use this limit value for calculating compliance rather than the actual limit value
        example: ???
        title: Stay Value Number
        type: string
      StdUnitCode:
        description: The code representing the standard unit of measure applicable to quantity or concentration limits and measurements as entered by the user
        example: "19"
        title: Standard Unit Code
        type: string
      StdUnitDesc:
        description: The short description of the standard unit of measure applicable to limit or DMR values
        example: mg/L
        title: Standard Unit Description
        type: string
      ValueReceivedDate:
        description: The date the DMR value was received by the regulatory authority
        example: 08-MAY-14
        title: Date Received
        type: string
      ValueTypeCode:
        description: The indication of the limit value type (e.g., Quantity 1, Concentration 2)
        example: C1
        title: Measured Value Type Code
        type: string
      ValueTypeDesc:
        description: The type of value the measured number is given as (e.g., Concentration, Quantity)
        example: Concentration1
        title: Measured Value Type
        type: string
      VersionNmbr:
        description: The version of the permit when a modification or reissuance is applied to the permit. Version = 0 indicates the original permit issuance
        example: "0"
        title: Version Number
        type: string
    required:
      - VersionNmbr
      - PermFeatureId
      - LimitSetId
      - LimitSetScheduleId
      - NmbrOfSubmission
      - LimitId
      - LimitTypeCode
      - LimitBeginDate
      - LimitEndDate
      - LimitValueId
      - LimitValueTypeCode
      - LimitValueTypeDesc
      - LimitValueNmbr
      - LimitUnitCode
      - LimitUnitDesc
      - StdUnitCode
      - StdUnitDesc
      - LimitValueStdUnits
      - StatisticalBaseCode
      - StatisticalBaseDesc
      - StatisticalBaseTypeCode
      - StatisticalBaseTypeDesc
      - LimitValueQualifierCode
      - StayValueNmbr
      - DMREventId
      - MonitoringPeriodEndDate
      - DMRFormValueId
      - ValueTypeCode
      - ValueTypeDesc
      - DMRValueId
      - DMRValueNmbr
      - DMRUnitCode
      - DMRUnitDesc
      - DMRValueStdUnits
      - DMRValueQualifierCode
      - ValueReceivedDate
      - DaysLate
      - NODICode
      - NODEDesc
      - ExceedencePct
    type: object
    xml:
      name: DischargeMonitoringReport
  eff02:
    description: NPDES Violations Object
    properties:
      NPDESViolationId:
        description: The unique identifier in ICIS-NPDES for the NPDES Violation
        example: "3401214483"
        title: NPDES Violation ID
        type: string
      RNCDetectionCode:
        description: |-
          The code indicating the reportable noncompliance (RNC) detected for a violation:
          - A = Enforcement Order
          - B = Manual 2A4 - Pass-Through
          - C = Chronic Violation
          - D = Manual Other
          - E = Manual 2F - Permit Narrative
          - F = Manual 2G - Violation of Concern
          - G = Manual 2A1 - Effluent Violation
          - H = Chronic Violation, Non-Monthly Average
          - I = Manual 2A2 - Unauthorized Bypass
          - J = Manual 2A3 - Unpermitted Discharge
          - K = Non-receipt Violation, Non-Monthly Average
          - N = Non-Receipt of DMR/Schedule Report
          - P = Enforcement Order, Non-Monthly Average
          - Q = Manual 2B - Pretreatment
          - R = TRC Limitations Exceeded, Non-Monthly Average
          - S = Schedule Violation
          - T = TRC Limitations Exceeded
          - U = Other Violation with TRC Non-Monthly Average
          - V = Other Violation with TRC
          - W = Manual 2E - Deficient Report
          - X = Manual Other Violation with TRC
          - Y = Manual TRC
          - Z = Manual Chronic
        example: K
        title: RNC Violation Code
        type: string
      RNCDetectionDate:
        description: The date that the exceedance was detected
        example: 28-FEB-16
        title: Detection Date
        type: string
      RNCDetectionDesc:
        description: A description of the reportable noncompliance (RNC) detected
        example: Non-receipt Violation, Non-Monthly Average
        title: RNC Violation
        type: string
      RNCResolutionCode:
        description: The code indicating the resolution of noncompliance (RNC) for a violation
        example: "2"
        title: RNC Resolution Type Code
        type: string
      RNCResolutionDate:
        description: The date RNC was marked to its current resolution status. It can be entered manually or automatically
        example: 01-FEB-16
        title: Resolution Date
        type: string
      RNCResolutionDesc:
        description: |-
          - 1 = Unresolved RNC
          - 2 = Back into Compliance
          - 3 = Due to Formal Enforcement Action Final Order with Compliance Schedule
          - 4 = In Compliance with Formal Enforcement Action Final Order Requirement
          - 5 = Resolved RP by NPDES Closure of Enforcement Action Final Order with Compliance Schedule
          - 6 = Manual Resolution by Enforcement Action
          - 7 = Manual RP - In Compliance with Formal Enforcement Action Order Requirement
          - 8 = Manual Due to Formal Enforcement Action Formal Order
          - 9 = Manual by Back into Compliance
          - A = Manual Unresolved RNC
          - B = Manual by EPA/State/Tribal Action
        example: RE - Back into Compliance
        title: RNC Resolution Type
        type: string
      ViolationCode:
        description: The code identifying which type of Violation has occurred (e.g., D80 = Required Monitoring DMR Value Non-Receipt, E90 = Effluent Violation, C20 = Schedule Event Achieved Late)
        example: E90
        title: Violation Code
        type: string
      ViolationDesc:
        description: A description of which type of violation has occurred
        example: Effluent Violation
        title: Violation
        type: string
      ViolationSeverity:
        description: |-
          - 0 = no violation.
          - 1 = monitoring or reporting violation
          - 2 = effluent violation, i.e., discharge in excess of permitted limit
          - 3 = reportable noncompliance
          - 5 = significant noncompliance
        example: No Violation
        title: Violation Severity
        type: string
      ViolationSeverityDesc:
        type: string
    type: object
    xml:
      name: NPDESViolation
  eff03:
    description: Parameters Object
    properties:
      DischargeMonitoringReports:
        description: An array of Discharge Monitoring Report (DMR) data.
        items:
          $ref: "#/definitions/eff01"
        title: Effluent Discharge Monitoring Report
        type: array
        xml:
          name: DischargeMonitoringReports
          wrapped: true
      MonitoringLocationCode:
        description: The code that the monitoring location at which the monitoring requirement (and effluent limit if limited) applies. One parameter may have several monitoring location codes pertaining to the same permitted feature
        example: "1"
        title: Monitoring Location Code
        type: string
      MonitoringLocationDesc:
        description: The name of the monitoring location at which the monitoring requirement (and effluent limit if limited) applies
        example: Effluent Gross
        title: Monitoring Location Description
        type: string
      ParameterCode:
        description: The unique 5 digit numeric code identifying the parameter. If the code is less than 5 digits in the .CSV, append zeros to the beginning of the number (e.g., 100 is equivalent to 00100)
        example: "00400"
        title: Parameter Code
        type: string
      ParameterDesc:
        description: The pollutant name and form (e.g., dissolved, suspended) associated with the parameter code
        example: pH
        title: Parameter Description
        type: string
      StayTypeCode:
        description: The unique identifier of the type of stay applied to a limit (e.g., X, Y, Z), which indicates whether the limits do not appear on the DMR at all, are treated as monitor only, or have a stay value in effect during the period of the stay
        example: ???
        title: Stay Type Code
        type: string
      StayTypeDesc:
        description: The name of the type of stay applied to a limit, which indicates whether the limits do not appear on the DMR at all (X), are treated as monitor only (Y), or have a stay value in effect during the period of the stay (Z)
        example: ???
        title: Stay Type Description
        type: string
    required:
      - ParameterCode
      - ParameterDesc
      - MonitoringLocationCode
      - MonitoringLocationDesc
      - StayTypeCode
      - StayTypeDesc
      - DischargeMonitoringReports
    type: object
    xml:
      name: Parameter
  eff04:
    description: Permit Features Object
    properties:
      Parameters:
        description: Array of Effuent Limit Parameters
        items:
          $ref: "#/definitions/eff03"
        title: Limit Parameters
        type: array
        xml:
          name: Parameters
          wrapped: true
      PermFeatureNmbr:
        description: A three-character code in ICIS-NPDES that identifies the point of discharge (e.g., outfall) for a facility. A NPDES permit may have multiple points of discharge. If the code is less than three characters in the .CSV, append zeros to the beginning of the number (e.g., 1 is equivalent to 001)
        example: "001"
        title: Discharge Point
        type: string
      PermFeatureTypeCode:
        description: The code indicating the type of permitted feature (e.g., EXO)
        example: EXO
        title: Permit Feature Type Code
        type: string
      PermFeatureTypeDesc:
        description: The description indicating the type of permitted feature (e.g., External Outfall, Internal Outfall, Sum)
        example: External Outfall
        title: Permit Feature Type
        type: string
    required:
      - PermFeatureNmbr
      - PermFeatureTypeCode
      - Parameters
      - PermFeatureTypeDesc
    type: object
    xml:
      name: PermFeature
  eff05:
    description: Results Object
    properties:
      CWPCity:
        description: City in which the facility is located.
        example: HUNTSVILLE
        title: City
        type: string
      CWPCurrentSNCStatus:
        description: The type of noncompliance when a major source is in significant violation or a minor source has a Category 1 violation.
        example: D (DMR NR)
        type: string
      CWPMajorMinorStatusFlag:
        description: |-
          Facilities marked "M" for major refers to CWA major permittees.
          - M = Major
          - N = Minor
        example: N
        title: Major/Minor Status Flag
        type: string
      CWPName:
        description: Facility or permit holder name, as maintained in ICIS-NPDES.
        example: REDSTONE ARSENAL
        title: Facility Name
        type: string
      CWPPermitStatusDesc:
        description: The current stage/status in the NPDES permit life cycle.
        example: Effective
        title: Permit Status Description
        type: string
      CWPPermitTypeDesc:
        description: |-
          NPDES facility permit classification:
          - NPDES Individual Permit
          - General Permit Covered Facility
          - NPDES Master General Permit
          - Associated Permit Record
          - Individual Industrial User Permit
          - Individual State Issued Permit
          - State Issued Master General Permit
          - Unpermitted Facility
        example: General Permit Covered Facility
        title: Permit Type Description
        type: string
      CWPState:
        description: Facility location - two-digit state abbreviation.
        example: AL
        title: State
        type: string
      CWPStreet:
        description: Facility street address
        example: BUILDING 3240 AREA
        title: Street Address
        type: string
      CWPZip:
        description: Facility ZIP code
        example: "35898"
        title: Zip
        type: string
      EPASystem:
        description: |-
          The EPA data system in which permit and facility records are kept. EPA's Facility Registry System (FRS) links all program database records (such as permit IDs and IDs facilities use in reporting to EPA) together. The following list describes the individual data systems that are linked to from the detailed facility report: 

          - AFS: Air Facility System for Clean Air Act stationary source programs.
          - ICP: Integrated Compliance Information System for Clean Water Act programs monitoring National Pollutant Discharge Elimination System (NPDES) permits.
          - RCR: Resource Conservation and Recovery Act Information System (RCRAInfo) for tracking the Resource Conservation and Recovery Act (RCRA) programs.
          - NCDB: National Compliance Database System for monitoring national performance of the Toxic Substance Control Act (TSCA); the Emergency Planning and Right-to-Know Act, Section 313 (EPCRA); the Asbestos Hazard Emergency Response (AHERA); and the Federal Insecticide, Fungicide, and Rodenticide Act (FIFRA).
          - TRI: Toxics Release Inventory for Emergency Planning and Community Right-to-Know Act, Section 313 submissions.
          - NEI: National Emissions Inventory database contains information on stationary and mobile sources that emit criteria air pollutants and their precursors, as well as hazardous air pollutants (HAPs). The database includes estimates of annual emissions, by source, of air pollutants in each area of the country, on an annual basis.
          - TSCA: Toxic Substances Control Act addressing the production, importation, use, and disposal of specific chemicals.
        example: ICP
        title: EPA Data System
        type: string
      EndDate:
        description: End date for the date range of interest. Formatted as mm/dd/yyyy
        example: 01/01/2016
        title: End Date
        type: string
      Message:
        description: Field to record messages (typically performance-related) about packet processing
        example: Success
        title: Message
        type: string
      PermFeatures:
        description: Array of Permitted Features
        items:
          $ref: "#/definitions/eff04"
        title: Permitted Features (Pipe Outfalls)
        type: array
        xml:
          name: PermFeatures
          wrapped: true
      RegistryId:
        description: 12-digit Facility Registry Service (FRS) identification number.  FRS uniquely identifies a facility by assigning an identification number (FRS ID), and uses this FRS ID to link together all EPA regulatory program database records
        example: "110020837601"
        title: FRS Registry ID
        type: string
      SourceId:
        description: Unique Identifier assigned by EPA.
        example: ALR040033
        title: EPA Source Identifier
        type: string
      StartDate:
        description: Starting date for the date range of interest. Formatted as mm/dd/yyyy
        example: 01/01/2016
        title: Start Date
        type: string
      Statute:
        description: |-
          The name of the statute associated with each of the permits and identifiers linked to the facility: 
          - CAA = the Clean Air Act
          - CWA = the Clean Water Act
          - RCRA = the Resource Conservation and Recovery Act
          - EP313 = the Emergency Planning and Community Right-to-Know Act, Section 313 (also known as the Toxics Release Inventory Program)
          - TSCA = the Toxic Substances Control Act
          - SDWA = the Safe Drinking Water Act
        example: CWA
        title: Regulatory Statute
        type: string
    required:
      - Message
      - SourceId
      - EPASystem
      - RegistryId
      - Statute
      - CWPName
      - CWPStreet
      - CWPCity
      - CWPState
      - CWPZip
      - CWPPermitStatusDesc
      - CWPMajorMinorStatusFlag
      - CWPPermitTypeDesc
      - CWPCurrentSNCStatus
      - StartDate
      - EndDate
    type: object
  eff06:
    description: Linked Permits Object
    properties:
      CWPCity:
        description: City in which the facility is located.
        example: HUNTSVILLE
        title: City
        type: string
      CWPCurrentSNCStatus:
        description: The type of noncompliance when a major source is in significant violation or a minor source has a Category 1 violation.
        example: D (DMR NR)
        type: string
      CWPMajorMinorStatusFlag:
        description: |-
          Facilities marked "M" for major refers to CWA major permittees.
          - M = Major
          - N = Minor
        example: N
        title: Major/Minor Status Flag
        type: string
      CWPName:
        description: Facility or permit holder name, as maintained in ICIS-NPDES.
        example: REDSTONE ARSENAL
        title: Facility Name
        type: string
      CWPPermitStatusDesc:
        description: The current stage/status in the NPDES permit life cycle.
        example: Effective
        title: Permit Status Description
        type: string
      CWPPermitTypeDesc:
        description: |-
          NPDES facility permit classification:
          - NPDES Individual Permit
          - General Permit Covered Facility
          - NPDES Master General Permit
          - Associated Permit Record
          - Individual Industrial User Permit
          - Individual State Issued Permit
          - State Issued Master General Permit
          - Unpermitted Facility
        example: General Permit Covered Facility
        title: Permit Type Description
        type: string
      CWPState:
        description: Facility location - two-digit state abbreviation.
        example: AL
        title: State
        type: string
      CWPStreet:
        description: Facility street address
        example: BUILDING 3240 AREA
        title: Street Address
        type: string
      CWPZip:
        description: Facility ZIP code
        example: "35898"
        title: Zip
        type: string
      SourceId:
        description: Unique Identifier assigned by EPA.
        example: ALR040033
        title: EPA Source Identifier
        type: string
    required:
      - SourceId
      - CWPName
      - CWPStreet
      - CWPCity
      - CWPState
      - CWPZip
      - CWPPermitStatusDesc
      - CWPMajorMinorStatusFlag
      - CWPPermitTypeDesc
      - CWPCurrentSNCStatus
    type: object
    xml:
      name: LinkedPermit
  eff07:
    description: Parameters Object
    properties:
      CurrentVioStatus:
        description: The most severe compliance status for an outfall and parameter during the current monitoring period
        example: In Violation
        title: Current Violation Status
        type: string
      MaxVioStatus:
        description: The most severe compliance status for an outfall and parameter during the entire selected date range
        example: In Violation
        title: Most Severe Compliance Status
        type: string
      ParameterCode:
        description: The unique 5 digit numeric code identifying the parameter. If the code is less than 5 digits in the .CSV, append zeros to the beginning of the number (e.g., 100 is equivalent to 00100)
        example: "00400"
        title: Parameter Code
        type: string
      ParameterDesc:
        description: The pollutant name and form (e.g., dissolved, suspended) associated with the parameter code
        example: pH
        title: Parameter Description
        type: string
    required:
      - ParameterCode
      - ParameterDesc
      - MaxVioStatus
      - CurrentVioStatus
    type: object
    xml:
      name: Parameter
  eff08:
    description: Permit Features Object
    properties:
      Parameters:
        items:
          $ref: "#/definitions/eff07"
        title: Parameters
        type: array
        xml:
          name: Parameters
          wrapped: true
      PermFeatureNmbr:
        description: A three-character code in ICIS-NPDES that identifies the point of discharge (e.g., outfall) for a facility. A NPDES permit may have multiple points of discharge. If the code is less than three characters in the .CSV, append zeros to the beginning of the number (e.g., 1 is equivalent to 001)
        example: "001"
        title: Discharge Point
        type: string
      PermFeatureTypeCode:
        description: The code indicating the type of permitted feature (e.g., EXO)
        example: EXO
        title: Permit Feature Type Code
        type: string
      PermFeatureTypeDesc:
        description: The description indicating the type of permitted feature (e.g., External Outfall, Internal Outfall, Sum)
        example: External Outfall
        title: Permit Feature Type
        type: string
    required:
      - PermFeatureNmbr
      - PermFeatureTypeCode
      - PermFeatureTypeDesc
      - Parameters
    type: object
    xml:
      name: PermFeature
  eff09:
    description: Results Object
    properties:
      CWPCity:
        description: City in which the facility is located.
        example: HUNTSVILLE
        title: City
        type: string
      CWPCurrentSNCStatus:
        description: The type of noncompliance when a major source is in significant violation or a minor source has a Category 1 violation.
        example: D (DMR NR)
        type: string
      CWPMajorMinorStatusFlag:
        description: |-
          Facilities marked "M" for major refers to CWA major permittees.
          - M = Major
          - N = Minor
        example: N
        title: Major/Minor Status Flag
        type: string
      CWPName:
        description: Facility or permit holder name, as maintained in ICIS-NPDES.
        example: REDSTONE ARSENAL
        title: Facility Name
        type: string
      CWPPermitStatusDesc:
        description: The current stage/status in the NPDES permit life cycle.
        example: Effective
        title: Permit Status Description
        type: string
      CWPPermitTypeDesc:
        description: |-
          NPDES facility permit classification:
          - NPDES Individual Permit
          - General Permit Covered Facility
          - NPDES Master General Permit
          - Associated Permit Record
          - Individual Industrial User Permit
          - Individual State Issued Permit
          - State Issued Master General Permit
          - Unpermitted Facility
        example: General Permit Covered Facility
        title: Permit Type Description
        type: string
      CWPState:
        description: Facility location - two-digit state abbreviation.
        example: AL
        title: State
        type: string
      CWPStreet:
        description: Facility street address
        example: BUILDING 3240 AREA
        title: Street Address
        type: string
      CWPZip:
        description: Facility ZIP code
        example: "35898"
        title: Zip
        type: string
      EPASystem:
        description: |-
          The EPA data system in which permit and facility records are kept. EPA's Facility Registry System (FRS) links all program database records (such as permit IDs and IDs facilities use in reporting to EPA) together. The following list describes the individual data systems that are linked to from the detailed facility report: 

          - AFS: Air Facility System for Clean Air Act stationary source programs.
          - ICP: Integrated Compliance Information System for Clean Water Act programs monitoring National Pollutant Discharge Elimination System (NPDES) permits.
          - RCR: Resource Conservation and Recovery Act Information System (RCRAInfo) for tracking the Resource Conservation and Recovery Act (RCRA) programs.
          - NCDB: National Compliance Database System for monitoring national performance of the Toxic Substance Control Act (TSCA); the Emergency Planning and Right-to-Know Act, Section 313 (EPCRA); the Asbestos Hazard Emergency Response (AHERA); and the Federal Insecticide, Fungicide, and Rodenticide Act (FIFRA).
          - TRI: Toxics Release Inventory for Emergency Planning and Community Right-to-Know Act, Section 313 submissions.
          - NEI: National Emissions Inventory database contains information on stationary and mobile sources that emit criteria air pollutants and their precursors, as well as hazardous air pollutants (HAPs). The database includes estimates of annual emissions, by source, of air pollutants in each area of the country, on an annual basis.
          - TSCA: Toxic Substances Control Act addressing the production, importation, use, and disposal of specific chemicals.
        example: ICP
        title: EPA Data System
        type: string
      EndDate:
        description: End date for the date range of interest. Formatted as mm/dd/yyyy
        example: 01/01/2016
        title: End Date
        type: string
      LinkedPermits:
        items:
          $ref: "#/definitions/eff06"
        title: Linked Permits
        type: array
        xml:
          name: LinkedPermits
          wrapped: true
      Message:
        description: Field to record messages (typically performance-related) about packet processing
        example: Success
        title: Message
        type: string
      PermFeatures:
        items:
          $ref: "#/definitions/eff08"
        title: Permitted Features (Pipe Outfalls)
        type: array
        xml:
          name: PermFeatures
          wrapped: true
      RegistryId:
        description: 12-digit Facility Registry Service (FRS) identification number.  FRS uniquely identifies a facility by assigning an identification number (FRS ID), and uses this FRS ID to link together all EPA regulatory program database records
        example: "110020837601"
        title: FRS Registry ID
        type: string
      SourceId:
        description: Unique Identifier assigned by EPA.
        example: ALR040033
        title: EPA Source Identifier
        type: string
      StartDate:
        description: Starting date for the date range of interest. Formatted as mm/dd/yyyy
        example: 01/01/2016
        title: Start Date
        type: string
      Statute:
        description: |-
          The name of the statute associated with each of the permits and identifiers linked to the facility: 
          - CAA = the Clean Air Act
          - CWA = the Clean Water Act
          - RCRA = the Resource Conservation and Recovery Act
          - EP313 = the Emergency Planning and Community Right-to-Know Act, Section 313 (also known as the Toxics Release Inventory Program)
          - TSCA = the Toxic Substances Control Act
          - SDWA = the Safe Drinking Water Act
        example: CWA
        title: Regulatory Statute
        type: string
    required:
      - Message
      - SourceId
      - EPASystem
      - RegistryId
      - Statute
      - CWPName
      - CWPStreet
      - CWPCity
      - CWPState
      - CWPZip
      - CWPPermitStatusDesc
      - CWPMajorMinorStatusFlag
      - CWPPermitTypeDesc
      - CWPCurrentSNCStatus
      - StartDate
      - EndDate
    type: object
  rlup01:
    description: Lookup Values
    properties:
      ValueCode:
        example: "77034"
        title: Value Code
        type: string
      ValueDescription:
        example: 1-Butanol
        title: Value Description
        type: string
    required:
      - ValueCode
      - ValueDescription
    type: object
    xml:
      name: LuValue
  rlup23:
    description: Results Object
    properties:
      LuValues:
        items:
          $ref: "#/definitions/rlup01"
        type: array
        xml:
          name: LuValues
          wrapped: true
      Message:
        description: Field to record messages (typically performance-related) about packet processing
        example: Success
        title: Message
        type: string
    required:
      - Message
    type: object
