openapi: 3.0.0
servers:
  - url: https://api.interzoid.com
info:
  contact:
    email: support@interzoid.com
    name: API Support
    url: https://www.interzoid.com
    x-twitter: interzoid
  description: This API provides a standard for US and international cities for the purposes of standardizing city name data, improving query results, analytics, and data merging.
  license:
    name: Interzoid license
    url: https://www.interzoid.com/license
  termsOfService: https://www.interzoid.com/terms
  title: Interzoid City Data Standardization API
  version: 1.0.0
  x-apisguru-categories:
    - developer_tools
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_interzoid_profile_image.png
  x-origin:
    - format: openapi
      url: https://oas.interzoid.com/api/getcitystandard.json
      version: "3.0"
  x-providerName: interzoid.com
  x-serviceName: getcitystandard
externalDocs:
  description: API home page and documentation
  url: https://www.interzoid.com/services/getcitystandard
paths:
  /getcitystandard:
    get:
      description: Gets a pre-selected city name standard for US and international cities for various permutations of a given city name.
      operationId: getcitystandard
      parameters:
        - description: Your Interzoid license API key. Register at www.interzoid.com/register
          in: query
          name: license
          required: true
          schema:
            type: string
        - description: City name from which to retrieve the standardized version
          in: query
          name: city
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  CityStandard:
                    type: string
                  Code:
                    type: string
                  Credits:
                    type: string
                type: object
          description: Standardized city name data
        "400":
          description: bad request - insufficient parameters
        "402":
          description: credits exhausted
        "403":
          description: invalid license API key
        "405":
          description: method not allowed
        "500":
          description: internal server error
      summary: Gets a city name standard for US and international cities
      tags:
        - City Data Standardization
