swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Microsoft Azure management API provides create, read, update, and delete functionality for Azure MySQL resources including servers, databases, firewall rules, VNET rules, security alert policies, log files and configurations with new business model.
  title: MySQLManagementClient
  version: 2018-06-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2018-06-01/QueryPerformanceInsights.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: mysql-QueryPerformanceInsights
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  QueryIdParameter:
    description: The Query-Store query identifier.
    in: path
    name: queryId
    required: true
    type: string
    x-ms-parameter-location: method
  QueryStatisticIdParameter:
    description: The Query Statistic identifier.
    in: path
    name: queryStatisticId
    required: true
    type: string
    x-ms-parameter-location: method
  ServerNameParameter:
    description: The name of the server.
    in: path
    name: serverName
    required: true
    type: string
    x-ms-parameter-location: method
  WaitStatisticsIdParameter:
    description: The Wait Statistic identifier.
    in: path
    name: waitStatisticsId
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/queryTexts":
    get:
      description: Retrieve the Query-Store query texts for specified queryIds.
      operationId: QueryTexts_ListByServer
      parameters:
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
        - collectionFormat: multi
          description: The query identifiers
          in: query
          items:
            type: string
          name: queryIds
          required: true
          type: array
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/QueryTextsResultList"
      tags:
        - QueryTexts
      x-ms-examples:
        QueryTextsListByServer:
          parameters:
            api-version: 2018-06-01
            queryIds:
              - "1"
              - "2"
            resourceGroupName: testResourceGroupName
            serverName: testServerName
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testResourceGroupName/providers/Microsoft.DBforMySQL/servers/testServerName/queryTexts/1
                    name: "1"
                    properties:
                      queryId: "1"
                      queryText: UPDATE `performance_schema`.`setup_instruments` SET `ENABLED` = ? , `TIMED` = ? WHERE NAME = ?
                    type: Microsoft.DBforMySQL/servers/queryTexts
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testResourceGroupName/providers/Microsoft.DBforMySQL/servers/testServerName/queryTexts/2
                    name: "2"
                    properties:
                      queryId: "2"
                      queryText: UPDATE `performance_schema`.`setup_instruments` SET `ENABLED` = ? , `TIMED` = ? WHERE NAME LIKE ?
                    type: Microsoft.DBforMySQL/servers/queryTexts
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/queryTexts/{queryId}":
    get:
      description: Retrieve the Query-Store query texts for the queryId.
      operationId: QueryTexts_Get
      parameters:
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
        - $ref: "#/parameters/QueryIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/QueryText"
      tags:
        - QueryTexts
      x-ms-examples:
        QueryTextsGet:
          parameters:
            api-version: 2018-06-01
            queryId: 1
            resourceGroupName: testResourceGroupName
            serverName: testServerName
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testResourceGroupName/providers/Microsoft.DBforMySQL/servers/testServerName/queryTexts/1
                name: "1"
                properties:
                  queryId: "1"
                  queryText: UPDATE `performance_schema`.`setup_instruments` SET `ENABLED` = ? , `TIMED` = ? WHERE NAME = ?
                type: Microsoft.DBforMySQL/servers/queryTexts
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/topQueryStatistics":
    get:
      description: Retrieve the Query-Store top queries for specified metric and aggregation.
      operationId: TopQueryStatistics_ListByServer
      parameters:
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
        - description: The required parameters for retrieving top query statistics.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/TopQueryStatisticsInput"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/TopQueryStatisticsResultList"
      tags:
        - TopQueryStatistics
      x-ms-examples:
        TopQueryStatisticsListByServer:
          parameters:
            api-version: 2018-06-01
            parameters:
              properties:
                aggregationFunction: avg
                aggregationWindow: PT15M
                numberOfTopQueries: 5
                observationEndTime: 2019-05-07T20:00:00.000Z
                observationStartTime: 2019-05-01T20:00:00.000Z
                observedMetric: duration
            resourceGroupName: testResourceGroupName
            serverName: testServerName
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testResourceGroupName/providers/Microsoft.DBforMySQL/servers/testServerName/queryStatistic/66-636923268000000000-636923277000000000-avg-duration
                    name: 66-636923268000000000-636923277000000000-avg-duration
                    properties:
                      aggregationFunction: avg
                      databaseNames:
                        - /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testResourceGroupName/providers/Microsoft.DBforMySQL/servers/testServerName/databases/mysql
                      endTime: 2019-05-01T17:15:00Z
                      metricDisplayName: Query duration
                      metricName: duration
                      metricValue: 123.301446136
                      metricValueUnit: milliseconds
                      queryExecutionCount: 1
                      queryId: "66"
                      startTime: 2019-05-01T17:00:00Z
                    type: Microsoft.DBforMySQL/servers/queryStatistics
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testResourceGroupName/providers/Microsoft.DBforMySQL/servers/testServerName/queryStatistic/66-636924483000000000-636924492000000000-avg-duration
                    name: 66-636924483000000000-636924492000000000-avg-duration
                    properties:
                      aggregationFunction: avg
                      databaseNames:
                        - /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testResourceGroupName/providers/Microsoft.DBforMySQL/servers/testServerName/databases/mysql
                      endTime: 2019-05-03T03:00:00Z
                      metricDisplayName: Query duration
                      metricName: duration
                      metricValue: 1712.301446136
                      metricValueUnit: milliseconds
                      queryExecutionCount: 1
                      queryId: "66"
                      startTime: 2019-05-03T02:45:00Z
                    type: Microsoft.DBforMySQL/servers/queryStatistics
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/topQueryStatistics/{queryStatisticId}":
    get:
      description: Retrieve the query statistic for specified identifier.
      operationId: TopQueryStatistics_Get
      parameters:
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
        - $ref: "#/parameters/QueryStatisticIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/QueryStatistic"
      tags:
        - TopQueryStatistics
      x-ms-examples:
        TopQueryStatisticsGet:
          parameters:
            api-version: 2018-06-01
            queryStatisticId: 66-636923268000000000-636923277000000000-avg-duration
            resourceGroupName: testResourceGroupName
            serverName: testServerName
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testResourceGroupName/providers/Microsoft.DBforMySQL/servers/testServerName/queryStatistic/66-636923268000000000-636923277000000000-avg-duration
                name: 66-636923268000000000-636923277000000000-avg-duration
                properties:
                  aggregationFunction: avg
                  databaseNames:
                    - /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testResourceGroupName/providers/Microsoft.DBforMySQL/servers/testServerName/databases/mysql
                  endTime: 2019-05-01T17:15:00Z
                  metricDisplayName: Query duration
                  metricName: duration
                  metricValue: 123.301446136
                  metricValueUnit: milliseconds
                  queryExecutionCount: 1
                  queryId: "66"
                  startTime: 2019-05-01T17:00:00Z
                type: Microsoft.DBforMySQL/servers/queryStatistics
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/waitStatistics":
    get:
      description: Retrieve wait statistics for specified aggregation window.
      operationId: WaitStatistics_ListByServer
      parameters:
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
        - description: The required parameters for retrieving wait statistics.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/WaitStatisticsInput"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/WaitStatisticsResultList"
      tags:
        - WaitStatistics
      x-ms-examples:
        WaitStatisticsListByServer:
          parameters:
            api-version: 2018-06-01
            parameters:
              properties:
                aggregationWindow: PT15M
                observationEndTime: 2019-05-07T20:00:00.000Z
                observationStartTime: 2019-05-01T20:00:00.000Z
            resourceGroupName: testResourceGroupName
            serverName: testServerName
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testResourceGroupName/providers/Microsoft.DBforMySQL/servers/testServerName/waitStatistics/636927606000000000-636927615000000000-send-wait/io/socket/sql/client_connection-2--0
                    name: 636927606000000000-636927615000000000-send-wait/io/socket/sql/client_connection-2--0
                    properties:
                      count: 2
                      databaseName: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testResourceGroupName/providers/Microsoft.DBforMySQL/servers/testServerName/databases/mysql
                      endTime: 2019-05-06T17:45:00Z
                      eventName: wait/io/socket/sql/client_connection
                      eventTypeName: send
                      queryId: 2
                      startTime: 2019-05-06T17:30:00Z
                      totalTimeInMs: 12.345
                      userId: 0
                    type: Microsoft.DBforMySQL/servers/waitStatistics
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/hyshim-test/providers/Microsoft.DBforMySQL/servers/hyshim-wait-stats-fix/waitStatistics/636927606000000000-636927615000000000-lock-wait/synch/mutex/mysys/THR_LOCK::mutex-2--0
                    name: 636927606000000000-636927615000000000-lock-wait/synch/mutex/mysys/THR_LOCK::mutex-2--0
                    properties:
                      count: 4
                      databaseName: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/hyshim-test/providers/Microsoft.DBforMySQL/servers/hyshim-wait-stats-fix/databases/
                      endTime: 2019-05-06T17:45:00Z
                      eventName: wait/synch/mutex/mysys/THR_LOCK::mutex
                      eventTypeName: lock
                      queryId: 2
                      startTime: 2019-05-06T17:30:00Z
                      totalTimeInMs: 56.789
                      userId: 0
                    type: Microsoft.DBforMySQL/servers/waitStatistics
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/waitStatistics/{waitStatisticsId}":
    get:
      description: Retrieve wait statistics for specified identifier.
      operationId: WaitStatistics_Get
      parameters:
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
        - $ref: "#/parameters/WaitStatisticsIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/WaitStatistic"
      tags:
        - WaitStatistics
      x-ms-examples:
        WaitStatisticsGet:
          parameters:
            api-version: 2018-06-01
            resourceGroupName: testResourceGroupName
            serverName: testServerName
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
            waitStatisticsId: 636927606000000000-636927615000000000-send-wait/io/socket/sql/client_connection-2--0
          responses:
            "200":
              body:
                id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testResourceGroupName/providers/Microsoft.DBforMySQL/servers/testServerName/waitStatistics/636927606000000000-636927615000000000-send-wait/io/socket/sql/client_connection-2--0
                name: 636927606000000000-636927615000000000-send-wait/io/socket/sql/client_connection-2--0
                properties:
                  count: 3
                  databaseName: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testResourceGroupName/providers/Microsoft.DBforMySQL/servers/testServerName/databases/mysql
                  endTime: 2019-05-06T17:45:00Z
                  eventName: wait/io/socket/sql/client_connection
                  eventTypeName: send
                  queryId: 2
                  startTime: 2019-05-06T17:30:00Z
                  totalTimeInMs: 12.345
                  userId: 0
                type: Microsoft.DBforMySQL/servers/waitStatistics
definitions:
  QueryStatistic:
    allOf:
      - allOf:
          - properties:
              id:
                description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                readOnly: true
                type: string
              name:
                description: The name of the resource
                readOnly: true
                type: string
              type:
                description: The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.
                readOnly: true
                type: string
            x-ms-azure-resource: true
        description: The resource model definition for a ARM proxy resource. It will have everything other than required location and tags
    description: Represents a Query Statistic.
    properties:
      properties:
        $ref: "#/definitions/QueryStatisticProperties"
        description: The properties of a query statistic.
        x-ms-client-flatten: true
  QueryStatisticProperties:
    description: The properties of a query statistic.
    properties:
      aggregationFunction:
        description: Aggregation function name.
        type: string
      databaseNames:
        description: The list of database names.
        items:
          type: string
        type: array
      endTime:
        description: Observation end time.
        format: date-time
        type: string
      metricDisplayName:
        description: Metric display name.
        type: string
      metricName:
        description: Metric name.
        type: string
      metricValue:
        description: Metric value.
        format: double
        type: number
      metricValueUnit:
        description: Metric value unit.
        type: string
      queryExecutionCount:
        description: Number of query executions in this time interval.
        format: int64
        type: integer
      queryId:
        description: Database query identifier.
        type: string
      startTime:
        description: Observation start time.
        format: date-time
        type: string
  QueryText:
    allOf:
      - allOf:
          - properties:
              id:
                description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                readOnly: true
                type: string
              name:
                description: The name of the resource
                readOnly: true
                type: string
              type:
                description: The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.
                readOnly: true
                type: string
            x-ms-azure-resource: true
        description: The resource model definition for a ARM proxy resource. It will have everything other than required location and tags
    description: Represents a Query Text.
    properties:
      properties:
        $ref: "#/definitions/QueryTextProperties"
        description: The properties of a query text.
        x-ms-client-flatten: true
  QueryTextProperties:
    description: The properties of a query text.
    properties:
      queryId:
        description: Query identifier unique to the server.
        type: string
      queryText:
        description: Query text.
        type: string
  QueryTextsResultList:
    description: A list of query texts.
    properties:
      nextLink:
        description: Link to retrieve next page of results.
        readOnly: true
        type: string
      value:
        description: The list of query texts.
        items:
          $ref: "#/definitions/QueryText"
        readOnly: true
        type: array
    type: object
  TopQueryStatisticsInput:
    description: Input to get top query statistics
    properties:
      properties:
        $ref: "#/definitions/TopQueryStatisticsInputProperties"
        description: The properties of a wait statistics input.
        x-ms-client-flatten: true
    required:
      - properties
  TopQueryStatisticsInputProperties:
    description: The properties for input to get top query statistics
    properties:
      aggregationFunction:
        description: Aggregation function name.
        type: string
      aggregationWindow:
        description: Aggregation interval type in ISO 8601 format.
        type: string
      numberOfTopQueries:
        description: Max number of top queries to return.
        format: int32
        type: integer
      observationEndTime:
        description: Observation end time.
        format: date-time
        type: string
      observationStartTime:
        description: Observation start time.
        format: date-time
        type: string
      observedMetric:
        description: Observed metric name.
        type: string
    required:
      - numberOfTopQueries
      - aggregationFunction
      - observedMetric
      - observationStartTime
      - observationEndTime
      - aggregationWindow
  TopQueryStatisticsResultList:
    description: A list of query statistics.
    properties:
      nextLink:
        description: Link to retrieve next page of results.
        readOnly: true
        type: string
      value:
        description: The list of top query statistics.
        items:
          $ref: "#/definitions/QueryStatistic"
        readOnly: true
        type: array
    type: object
  WaitStatistic:
    allOf:
      - allOf:
          - properties:
              id:
                description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                readOnly: true
                type: string
              name:
                description: The name of the resource
                readOnly: true
                type: string
              type:
                description: The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.
                readOnly: true
                type: string
            x-ms-azure-resource: true
        description: The resource model definition for a ARM proxy resource. It will have everything other than required location and tags
    description: Represents a Wait Statistic.
    properties:
      properties:
        $ref: "#/definitions/WaitStatisticProperties"
        description: The properties of a wait statistic.
        x-ms-client-flatten: true
  WaitStatisticProperties:
    description: The properties of a wait statistic.
    properties:
      count:
        description: Wait event count observed in this time interval.
        format: int64
        type: integer
      databaseName:
        description: Database Name.
        type: string
      endTime:
        description: Observation end time.
        format: date-time
        type: string
      eventName:
        description: Wait event name.
        type: string
      eventTypeName:
        description: Wait event type name.
        type: string
      queryId:
        description: Database query identifier.
        format: int64
        type: integer
      startTime:
        description: Observation start time.
        format: date-time
        type: string
      totalTimeInMs:
        description: Total time of wait in milliseconds in this time interval.
        format: double
        type: number
      userId:
        description: Database user identifier.
        format: int64
        type: integer
  WaitStatisticsInput:
    description: Input to get wait statistics
    properties:
      properties:
        $ref: "#/definitions/WaitStatisticsInputProperties"
        description: The properties of a wait statistics input.
        x-ms-client-flatten: true
    required:
      - properties
  WaitStatisticsInputProperties:
    description: The properties for input to get wait statistics
    properties:
      aggregationWindow:
        description: Aggregation interval type in ISO 8601 format.
        type: string
      observationEndTime:
        description: Observation end time.
        format: date-time
        type: string
      observationStartTime:
        description: Observation start time.
        format: date-time
        type: string
    required:
      - observationStartTime
      - observationEndTime
      - aggregationWindow
  WaitStatisticsResultList:
    description: A list of wait statistics.
    properties:
      nextLink:
        description: Link to retrieve next page of results.
        readOnly: true
        type: string
      value:
        description: The list of wait statistics.
        items:
          $ref: "#/definitions/WaitStatistic"
        readOnly: true
        type: array
    type: object
