{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://connect.apptigent.com/api/utilities"
    }
  ],
  "info": {
    "contact": {
      "email": "support@apptigent.com",
      "name": "Customer Support",
      "url": "https://www.apptigent.com/help/"
    },
    "description": "Apptigent PowerTools Developer Edition is a powerful suite of API endpoints for custom applications running on any stack. Manipulate text, modify collections, format dates and times, convert currency, perform advanced mathematical calculations, shorten URL's, encode strings, convert text to speech, translate content into multiple languages, process images, and more. PowerTools is the ultimate developer toolkit.",
    "title": "PowerTools Developer",
    "version": "2021.1.01",
    "x-apisguru-categories": [
      "developer_tools"
    ],
    "x-ibm-name": "powertools-developer",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_portal.apptigent.com_sites_portal.apptigent.com_files_api_powertools-developer.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://portal.apptigent.com/sites/portal.apptigent.com/files/v3-powertools-developer-2021-1-01.json",
        "version": "3.0"
      }
    ],
    "x-providerName": "apptigent.com"
  },
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "tags": [
    {
      "description": "Arrays of base values (strings and numbers).",
      "name": "Collections"
    },
    {
      "description": "Data conversion operations.",
      "name": "Data"
    },
    {
      "description": "Date and time operations.",
      "name": "DateTime"
    },
    {
      "description": "Financial calculations and conversions.",
      "name": "Finance"
    },
    {
      "description": "Mathematical calculations and conversions.",
      "name": "Math"
    },
    {
      "description": "String manipulation, parsing, conversion and related operations.",
      "name": "Text"
    },
    {
      "description": "File operations.",
      "name": "Files"
    }
  ],
  "paths": {
    "/AddToCollection": {
      "post": {
        "description": "Add an item to a collection",
        "operationId": "AddToCollection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCollectionModify"
              }
            }
          },
          "description": "Collection modification parameters",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputCollectionResult"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Collections - Add to collection",
        "tags": [
          "Collections"
        ],
        "x-codegen-request-body-name": "collectionModify"
      }
    },
    "/CSVtoJSON": {
      "post": {
        "description": "Convert a CSV string to a JSON array",
        "operationId": "CsvToJson",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCsvConversionJSON"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Data - CSV to JSON",
        "tags": [
          "Data"
        ],
        "x-codegen-request-body-name": "csvConversionJSON"
      }
    },
    "/CalculateAbsolute": {
      "post": {
        "description": "Calculate the absolute value of a number",
        "operationId": "CalculateAbsolute",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCalculateNumber"
              }
            }
          },
          "description": "Number calculation parameters",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputNumber"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Math - Calculate Absolute",
        "tags": [
          "Math"
        ],
        "x-codegen-request-body-name": "calculateNumber"
      }
    },
    "/CalculateAddition": {
      "post": {
        "description": "Calculate the sum of two numbers",
        "operationId": "CalculateAddition",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCalculateNumbers"
              }
            }
          },
          "description": "Number calculation parameters",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputNumber"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Math - Calculate Addition",
        "tags": [
          "Math"
        ],
        "x-codegen-request-body-name": "calculateNumbers"
      }
    },
    "/CalculateAverage": {
      "post": {
        "description": "Calculate the average of two or more numbers",
        "operationId": "CalculateAverage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCalculateSeries"
              }
            }
          },
          "description": "Series calculation parameters",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputNumber"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Math - Calculate average",
        "tags": [
          "Math"
        ],
        "x-codegen-request-body-name": "calculateSeries"
      }
    },
    "/CalculateCosine": {
      "post": {
        "description": "Calculate the cosine value of an angle",
        "operationId": "CalculateCosine",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCalculateNumber"
              }
            }
          },
          "description": "Number calculation parameters",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputNumber"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Math - Calculate Cosine",
        "tags": [
          "Math"
        ],
        "x-codegen-request-body-name": "calculateNumber"
      }
    },
    "/CalculateDivision": {
      "post": {
        "description": "Calculate the quotient of two numbers",
        "operationId": "CalculateDivision",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCalculateNumbers"
              }
            }
          },
          "description": "Number calculation parameters",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputNumber"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Math - Calculate Division",
        "tags": [
          "Math"
        ],
        "x-codegen-request-body-name": "calculateNumbers"
      }
    },
    "/CalculateLogarithm": {
      "post": {
        "description": "Calculate the logarithm of a number",
        "operationId": "CalculateLogarithm",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCalculateNumber"
              }
            }
          },
          "description": "Number calculation parameters",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputNumber"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Math - Calculate Logarithm",
        "tags": [
          "Math"
        ],
        "x-codegen-request-body-name": "calculateNumber"
      }
    },
    "/CalculateMedian": {
      "post": {
        "description": "Calculate the median of two or more numbers",
        "operationId": "CalculateMedian",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCalculateSeries"
              }
            }
          },
          "description": "Series calculation parameters",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputNumber"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Math - Calculate median",
        "tags": [
          "Math"
        ],
        "x-codegen-request-body-name": "calculateSeries"
      }
    },
    "/CalculateMinMax": {
      "post": {
        "description": "Calculate the minimum or maximum value in a sequence of numbers",
        "operationId": "CalculateMinMax",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCalculateMinMax"
              }
            }
          },
          "description": "Series calculation parameters",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputNumber"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Math - Calculate minimum or maximum",
        "tags": [
          "Math"
        ],
        "x-codegen-request-body-name": "calculateSeries"
      }
    },
    "/CalculateModulo": {
      "post": {
        "description": "Calculate the remainder of dividing two numbers",
        "operationId": "CalculateModulo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCalculateNumbers"
              }
            }
          },
          "description": "Number calculation parameters",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputNumber"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Math - Calculate Modulo",
        "tags": [
          "Math"
        ],
        "x-codegen-request-body-name": "calculateNumbers"
      }
    },
    "/CalculateMultiplication": {
      "post": {
        "description": "Calculate the product of two numbers",
        "operationId": "CalculateMultiplication",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCalculateNumbers"
              }
            }
          },
          "description": "Number calculation parameters",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputNumber"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Math - Calculate Multiplication",
        "tags": [
          "Math"
        ],
        "x-codegen-request-body-name": "calculateNumbers"
      }
    },
    "/CalculateNthRoot": {
      "post": {
        "description": "Calculate the n-th root of a number",
        "operationId": "CalculateNthRoot",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCalculateNumbers"
              }
            }
          },
          "description": "Number calculation parameters",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputNumber"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Math - Calculate Nth Root",
        "tags": [
          "Math"
        ],
        "x-codegen-request-body-name": "calculateNumbers"
      }
    },
    "/CalculatePower": {
      "post": {
        "description": "Raise number to a specified power",
        "operationId": "CalculatePower",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCalculatePower"
              }
            }
          },
          "description": "Power calculation parameters",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputNumber"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Math - Calculate power",
        "tags": [
          "Math"
        ],
        "x-codegen-request-body-name": "calculatePower"
      }
    },
    "/CalculateSine": {
      "post": {
        "description": "Calculate the sine value of an angle",
        "operationId": "CalculateSine",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCalculateNumber"
              }
            }
          },
          "description": "Number calculation parameters",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputNumber"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Math - Calculate Sine",
        "tags": [
          "Math"
        ],
        "x-codegen-request-body-name": "calculateNumber"
      }
    },
    "/CalculateSquareRoot": {
      "post": {
        "description": "Calculate the square root of a number",
        "operationId": "CalculateSquareRoot",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCalculateNumber"
              }
            }
          },
          "description": "Number calculation parameters",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputNumber"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Math - Calculate Square Root",
        "tags": [
          "Math"
        ],
        "x-codegen-request-body-name": "calculateNumber"
      }
    },
    "/CalculateSubtraction": {
      "post": {
        "description": "Calculate the difference between two numbers",
        "operationId": "CalculateSubtraction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCalculateNumbers"
              }
            }
          },
          "description": "Number calculation parameters",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputNumber"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Math - Calculate Subtraction",
        "tags": [
          "Math"
        ],
        "x-codegen-request-body-name": "calculateNumbers"
      }
    },
    "/CalculateSum": {
      "post": {
        "description": "Calculate the sum of two or more numbers",
        "operationId": "CalculateSum",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCalculateSeries"
              }
            }
          },
          "description": "Series calculation parameters",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputNumber"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Math - Calculate sum",
        "tags": [
          "Math"
        ],
        "x-codegen-request-body-name": "calculateSeries"
      }
    },
    "/CalculateTangent": {
      "post": {
        "description": "Calculate the tangent value of an angle",
        "operationId": "CalculateTangent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCalculateNumber"
              }
            }
          },
          "description": "Number calculation parameters",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputNumber"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Math - Calculate Tangent",
        "tags": [
          "Math"
        ],
        "x-codegen-request-body-name": "calculateNumber"
      }
    },
    "/CalculateVariance": {
      "post": {
        "description": "Calculate the statistical variance of two or more numbers",
        "operationId": "CalculateVariance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCalculateSeries"
              }
            }
          },
          "description": "Series calculation parameters",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputNumber"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Math - Calculate variance",
        "tags": [
          "Math"
        ],
        "x-codegen-request-body-name": "calculateSeries"
      }
    },
    "/CollectionContainsNumber": {
      "post": {
        "description": "Determine if a collection contains a specific number",
        "operationId": "CollectionContainsNumber",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCollectionSearchNumeric"
              }
            }
          },
          "description": "Collection search parameters",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputCollectionNumber"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Collections - Contains number",
        "tags": [
          "Collections"
        ],
        "x-codegen-request-body-name": "collectionSearch"
      }
    },
    "/CollectionContainsString": {
      "post": {
        "description": "Determine if any items in a collection contain a specific string",
        "operationId": "CollectionContainsString",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCollectionSearch"
              }
            }
          },
          "description": "Collection search parameters",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputCollectionString"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Collections - Contains string",
        "tags": [
          "Collections"
        ],
        "x-codegen-request-body-name": "collectionSearch"
      }
    },
    "/CollectionEndsWithString": {
      "post": {
        "description": "Determine if any items in a collection end with a specific string",
        "operationId": "CollectionEndsWithString",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCollectionSearch"
              }
            }
          },
          "description": "Collection search parameters",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputCollectionString"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Collections - Ends with string",
        "tags": [
          "Collections"
        ],
        "x-codegen-request-body-name": "collectionSearch"
      }
    },
    "/CollectionStartsWithString": {
      "post": {
        "description": "Determine if any items in a collection start with a specific string",
        "operationId": "CollectionStartsWithString",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCollectionSearch"
              }
            }
          },
          "description": "Collection search parameters",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputCollectionString"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Collections - Starts with string",
        "tags": [
          "Collections"
        ],
        "x-codegen-request-body-name": "collectionSearch"
      }
    },
    "/CollectionToJSON": {
      "post": {
        "description": "Convert a collection to a named JSON object",
        "operationId": "CollectionToJSON",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCollectionConversion"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Collections - Collection to JSON",
        "tags": [
          "Collections"
        ],
        "x-codegen-request-body-name": "collectionConversion"
      }
    },
    "/CollectionToXML": {
      "post": {
        "description": "Convert a collection to an XML string",
        "operationId": "CollectionToXml",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCollectionConversionXML"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Collections - Collection to XML",
        "tags": [
          "Collections"
        ],
        "x-codegen-request-body-name": "collectionConversionXML"
      }
    },
    "/CompareStrings": {
      "post": {
        "description": "Perform a comparison of two strings",
        "operationId": "CompareStrings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputStringComparison"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Text - Compare strings",
        "tags": [
          "Text"
        ],
        "x-codegen-request-body-name": "stringComparison"
      }
    },
    "/ContainsString": {
      "post": {
        "description": "Determine if a string contains another string",
        "operationId": "ContainsString",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputStringContains"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Text - Contains string",
        "tags": [
          "Text"
        ],
        "x-codegen-request-body-name": "stringContains"
      }
    },
    "/ConvertAngle": {
      "post": {
        "description": "Convert value from one angle measurement to another",
        "operationId": "ConvertAngle",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputConvertAngle"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputNumber"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Math - Convert angle",
        "tags": [
          "Math"
        ],
        "x-codegen-request-body-name": "convertAngle"
      }
    },
    "/ConvertArea": {
      "post": {
        "description": "Convert value from one area measurement to another",
        "operationId": "ConvertArea",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputConvertArea"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputNumber"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Math - Convert area",
        "tags": [
          "Math"
        ],
        "x-codegen-request-body-name": "convertArea"
      }
    },
    "/ConvertCase": {
      "post": {
        "description": "Convert string to upper, lower or title case",
        "operationId": "ConvertCase",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCaseConversion"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Text - Convert case",
        "tags": [
          "Text"
        ],
        "x-codegen-request-body-name": "caseConversion"
      }
    },
    "/ConvertCurrency": {
      "post": {
        "description": "Calculate monetary value in a different currency",
        "operationId": "ConvertCurrency",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCurrencyConversion"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputNumber"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Currency - Convert currency",
        "tags": [
          "Finance"
        ],
        "x-codegen-request-body-name": "currencyConversion"
      }
    },
    "/ConvertDistance": {
      "post": {
        "description": "Convert value from one distance measurement to another",
        "operationId": "ConvertDistance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputConvertDistance"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputNumber"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Math - Convert distance",
        "tags": [
          "Math"
        ],
        "x-codegen-request-body-name": "convertDistance"
      }
    },
    "/ConvertDuration": {
      "post": {
        "description": "Convert value from one duration measurement to another",
        "operationId": "ConvertDuration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputConvertDuration"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputNumber"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Math - Convert duration",
        "tags": [
          "Math"
        ],
        "x-codegen-request-body-name": "convertDuration"
      }
    },
    "/ConvertEnergy": {
      "post": {
        "description": "Convert value from one energy measurement to another",
        "operationId": "ConvertEnergy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputConvertEnergy"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputNumber"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Math - Convert energy",
        "tags": [
          "Math"
        ],
        "x-codegen-request-body-name": "convertEnergy"
      }
    },
    "/ConvertImage": {
      "post": {
        "description": "Convert an image from one format to another",
        "operationId": "ConvertImage",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "file": {
                    "description": "Source image file",
                    "format": "binary",
                    "type": "string",
                    "x-ms-summary": "File"
                  },
                  "format": {
                    "default": "PNG",
                    "description": "Output file format",
                    "enum": [
                      "PNG",
                      "JPG",
                      "GIF",
                      "BMP",
                      "TIF"
                    ],
                    "type": "string",
                    "x-ms-summary": "Format"
                  }
                },
                "required": [
                  "file",
                  "format"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "image/bmp": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              },
              "image/gif": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              },
              "image/jpeg": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              },
              "image/png": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "image/bmp": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              },
              "image/gif": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              },
              "image/jpeg": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              },
              "image/png": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Files - Convert Image",
        "tags": [
          "Files"
        ]
      }
    },
    "/ConvertPower": {
      "post": {
        "description": "Convert value from one power measurement to another",
        "operationId": "ConvertPower",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputConvertPower"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputNumber"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Math - Convert power",
        "tags": [
          "Math"
        ],
        "x-codegen-request-body-name": "convertPower"
      }
    },
    "/ConvertSpeed": {
      "post": {
        "description": "Convert value from one speed measurement to another",
        "operationId": "ConvertSpeed",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputConvertSpeed"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputNumber"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Math - Convert speed",
        "tags": [
          "Math"
        ],
        "x-codegen-request-body-name": "convertSpeed"
      }
    },
    "/ConvertTemperature": {
      "post": {
        "description": "Convert value from one temperature measurement to another",
        "operationId": "ConvertTemperature",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputConvertTemperature"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputNumber"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Math - Convert temperature",
        "tags": [
          "Math"
        ],
        "x-codegen-request-body-name": "convertTemperature"
      }
    },
    "/ConvertVolume": {
      "post": {
        "description": "Convert value from one volume measurement to another",
        "operationId": "ConvertVolume",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputConvertVolume"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputNumber"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Math - Convert volume",
        "tags": [
          "Math"
        ],
        "x-codegen-request-body-name": "convertVolume"
      }
    },
    "/ConvertWeight": {
      "post": {
        "description": "Convert value from one weight measurement to another",
        "operationId": "ConvertWeight",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputConvertWeight"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputNumber"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Math - Convert weight",
        "tags": [
          "Math"
        ],
        "x-codegen-request-body-name": "convertWeight"
      }
    },
    "/CountCollection": {
      "post": {
        "description": "Count a collection of items",
        "operationId": "CountCollection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCollectionCount"
              }
            }
          },
          "description": "Count collection parameters",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputNumber"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Collections - Count collection",
        "tags": [
          "Collections"
        ],
        "x-codegen-request-body-name": "collectionCount"
      }
    },
    "/CropImage": {
      "post": {
        "description": "Crop an image",
        "operationId": "CropImage",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "Height": {
                    "description": "Height (Y-axis down, negative to reverse)",
                    "type": "number",
                    "x-ms-summary": "Height"
                  },
                  "Width": {
                    "description": "Width (X-axis right, negative to reverse)",
                    "type": "number",
                    "x-ms-summary": "Width"
                  },
                  "file": {
                    "description": "Source image file",
                    "format": "binary",
                    "type": "string",
                    "x-ms-summary": "File"
                  },
                  "position": {
                    "default": "TopLeft",
                    "description": "Crop start position (use negative values to reverse crop area)",
                    "enum": [
                      "TopLeft",
                      "TopCenter",
                      "TopRight",
                      "MiddleLeft",
                      "MiddleCenter",
                      "MiddleRight",
                      "BottomLeft",
                      "BottomCenter",
                      "BottomRight"
                    ],
                    "type": "string",
                    "x-ms-summary": "Position"
                  }
                },
                "required": [
                  "Height",
                  "Width",
                  "file",
                  "position"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "image/bmp": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              },
              "image/gif": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              },
              "image/jpeg": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              },
              "image/png": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "image/bmp": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              },
              "image/gif": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              },
              "image/jpeg": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              },
              "image/png": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Files - Crop Image",
        "tags": [
          "Files"
        ]
      }
    },
    "/DateTimeDifference": {
      "post": {
        "description": "Calculate the difference between two dates",
        "operationId": "DateTimeDifference",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputDateTimeDifference"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputDateDifference"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "DateTime - DateTime difference",
        "tags": [
          "DateTime"
        ],
        "x-codegen-request-body-name": "dateTimeDifference"
      }
    },
    "/DateTimeInfo": {
      "post": {
        "description": "Retrieve useful date and time information, such as day of year, total seconds and ticks",
        "operationId": "DateTimeInfo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputDateTimeInfo"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputDateInfo"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "DateTime - Get date and time information",
        "tags": [
          "DateTime"
        ],
        "x-codegen-request-body-name": "dateTimeInfo"
      }
    },
    "/DecodeString": {
      "post": {
        "description": "Decode a string encoded with Base64 encoding",
        "operationId": "DecodeString",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "source": "VGhlIGJyb3duIGNvdw=="
                },
                "properties": {
                  "source": {
                    "description": "Encoded string variable or text value",
                    "type": "string",
                    "x-ms-summary": "Source"
                  }
                },
                "required": [
                  "source"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Text - Decode string",
        "tags": [
          "Text"
        ],
        "x-codegen-request-body-name": "stringInput"
      }
    },
    "/EncodeString": {
      "post": {
        "description": "Encode a string using Base64 encoding",
        "operationId": "EncodeString",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputString"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Text - Encode string",
        "tags": [
          "Text"
        ],
        "x-codegen-request-body-name": "stringInput"
      }
    },
    "/FileToString": {
      "post": {
        "description": "Convert a file to a Base64 string",
        "operationId": "FileToString",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "file": {
                    "description": "Source file (10MB limit)",
                    "format": "binary",
                    "type": "string",
                    "x-ms-summary": "File"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Files - File to string",
        "tags": [
          "Files"
        ]
      }
    },
    "/FilterCollection": {
      "post": {
        "description": "Filter a collection of strings by keyword",
        "operationId": "FilterCollection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCollectionFilter"
              }
            }
          },
          "description": "Filter collection parameters",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputCollectionResult"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Collections - Filter collection",
        "tags": [
          "Collections"
        ],
        "x-codegen-request-body-name": "collectionFilter"
      }
    },
    "/FlipImage": {
      "post": {
        "description": "Flip an image (horizontal or vertical)",
        "operationId": "FlipImage",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "file": {
                    "description": "Source image file",
                    "format": "binary",
                    "type": "string",
                    "x-ms-summary": "File"
                  },
                  "orientation": {
                    "default": "Horizontal",
                    "description": "Horizontal or Vertical",
                    "enum": [
                      "Horizontal",
                      "Vertical"
                    ],
                    "type": "string",
                    "x-ms-summary": "Orientation"
                  }
                },
                "required": [
                  "file",
                  "orientation"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Files - Flip Image",
        "tags": [
          "Files"
        ]
      }
    },
    "/FormatCurrency": {
      "post": {
        "description": "Apply currency symbol to a numeric value",
        "operationId": "FormatCurrency",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCurrencyFormat"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Currency - Format currency",
        "tags": [
          "Finance"
        ],
        "x-codegen-request-body-name": "currencyFormat"
      }
    },
    "/FormatDateTime": {
      "post": {
        "description": "Create a date/time string in a specific format",
        "operationId": "FormatDateTime",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputDateTimeFormat"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "DateTime - Format date and time",
        "tags": [
          "DateTime"
        ],
        "x-codegen-request-body-name": "dateTimeFormat"
      }
    },
    "/GenerateGuid": {
      "post": {
        "description": "Generate a globally unique identifier",
        "operationId": "GenerateGuid",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputGenerateUniqueID"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Text - Generate GUID",
        "tags": [
          "Text"
        ],
        "x-codegen-request-body-name": "generateUniqueID"
      }
    },
    "/GenerateHash": {
      "post": {
        "description": "Generate a hash value from a string",
        "operationId": "GenerateHash",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputGenerateHash"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Text - Generate hash",
        "tags": [
          "Text"
        ],
        "x-codegen-request-body-name": "generateHash"
      }
    },
    "/GenerateQRCode": {
      "post": {
        "description": "Generate a QR code image",
        "operationId": "GenerateQRCode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputQRCode"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "image/png": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "image/png": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Files - Generate QR code",
        "tags": [
          "Files"
        ],
        "x-codegen-request-body-name": "inputQRCode"
      }
    },
    "/JSONtoCSV": {
      "post": {
        "description": "Convert a JSON array to CSV string",
        "operationId": "JsonToCsv",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputJsonConversionCSV"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Data - JSON to CSV",
        "tags": [
          "Data"
        ],
        "x-codegen-request-body-name": "jsonConversionCSV"
      }
    },
    "/JSONtoHTML": {
      "post": {
        "description": "Convert a JSON array to an HTML table",
        "operationId": "JsonToHtml",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputJsonConversionHTML"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Data - JSON to HTML Table",
        "tags": [
          "Data"
        ],
        "x-codegen-request-body-name": "jsonConversionHTML"
      }
    },
    "/JSONtoXML": {
      "post": {
        "description": "Convert a JSON object to an XML string",
        "operationId": "JsonToXml",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputJsonConversionXML"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Data - JSON to XML",
        "tags": [
          "Data"
        ],
        "x-codegen-request-body-name": "jsonConversionXML"
      }
    },
    "/JoinStrings": {
      "post": {
        "description": "Join a collection of strings",
        "operationId": "JoinStrings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputJoinStrings"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Text - Join strings",
        "tags": [
          "Text"
        ],
        "x-codegen-request-body-name": "joinStrings"
      }
    },
    "/MarketIndex": {
      "post": {
        "description": "Get current and historical market index information",
        "operationId": "MarketIndex",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputMarketIndex"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputMarketIndex"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Finance - Market index",
        "tags": [
          "Finance"
        ],
        "x-codegen-request-body-name": "marketIndex"
      }
    },
    "/QueryJSON": {
      "post": {
        "description": "Query a JSON object using a JSONPath expression",
        "operationId": "QueryJson",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputDataQuery"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Data - Query JSON",
        "tags": [
          "Data"
        ],
        "x-codegen-request-body-name": "inputDataQuery"
      }
    },
    "/QueryXML": {
      "post": {
        "description": "Query an XML string using an XPath expression",
        "operationId": "QueryXml",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputDataQuery"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Data - Query XML",
        "tags": [
          "Data"
        ],
        "x-codegen-request-body-name": "inputDataQuery"
      }
    },
    "/RandomNumber": {
      "post": {
        "description": "Generate a random number within a specified range",
        "operationId": "RandomNumber",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputNumberRange"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputNumber"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Math - Random number",
        "tags": [
          "Math"
        ],
        "x-codegen-request-body-name": "numberRange"
      }
    },
    "/RedactString": {
      "post": {
        "description": "Redact a strng containing sensitive content",
        "operationId": "RedactString",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputRedactString"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Text - Redact string",
        "tags": [
          "Text"
        ],
        "x-codegen-request-body-name": "redactString"
      }
    },
    "/RemoveFromCollection": {
      "post": {
        "description": "Remove an item from a collection",
        "operationId": "RemoveFromCollection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCollectionModify"
              }
            }
          },
          "description": "Collection modification parameters",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputCollectionResult"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Collections - Remove from collection",
        "tags": [
          "Collections"
        ],
        "x-codegen-request-body-name": "collectionModify"
      }
    },
    "/ReplaceString": {
      "post": {
        "description": "Replace one value with another in a string",
        "operationId": "ReplaceString",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputReplaceString"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Text - Replace string",
        "tags": [
          "Text"
        ],
        "x-codegen-request-body-name": "replaceString"
      }
    },
    "/ReplaceValuesInCollection": {
      "post": {
        "description": "Replace whole or partial strings in a collection",
        "operationId": "ReplaceValuesInCollection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCollectionReplace"
              }
            }
          },
          "description": "Replace values in collection parameters",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputCollectionResult"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Collections - Replace values in collection",
        "tags": [
          "Collections"
        ],
        "x-codegen-request-body-name": "collectionReplace"
      }
    },
    "/ResizeImage": {
      "post": {
        "description": "Resize an image",
        "operationId": "ResizeImage",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "algorithm": {
                    "default": "Bicubic (default)",
                    "description": "Optimize output quality of the target image",
                    "enum": [
                      "Bicubic (default)",
                      "Bilinear",
                      "Cubic (Box)",
                      "Cubic (Catmull-Rom)",
                      "Cubic (Hermite)",
                      "Cubic (Spline)",
                      "Nearest Neighbor",
                      "Sinc (Lanczos2)",
                      "Sinc (Lanczos3)",
                      "Sinc (Lanczos5)",
                      "Sinc (Lanczos8)",
                      "Robidoux",
                      "Robidoux Sharp"
                    ],
                    "type": "string",
                    "x-ms-summary": "Resampling Algorithm"
                  },
                  "file": {
                    "description": "Source image file",
                    "format": "binary",
                    "type": "string",
                    "x-ms-summary": "File"
                  },
                  "height": {
                    "description": "Image height (pixels or percent)",
                    "type": "number",
                    "x-ms-summary": "Height"
                  },
                  "units": {
                    "default": "Pixels",
                    "description": "Image adjustment units",
                    "enum": [
                      "Pixels",
                      "Percent"
                    ],
                    "type": "string",
                    "x-ms-summary": "Units"
                  },
                  "width": {
                    "description": "Image width (pixels or percent)",
                    "type": "number",
                    "x-ms-summary": "Width"
                  }
                },
                "required": [
                  "algorithm",
                  "file",
                  "units"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "image/bmp": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              },
              "image/gif": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              },
              "image/jpeg": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              },
              "image/png": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "image/bmp": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              },
              "image/gif": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              },
              "image/jpeg": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              },
              "image/png": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Files - Resize Image",
        "tags": [
          "Files"
        ]
      }
    },
    "/RotateImage": {
      "post": {
        "description": "Rotate an image by specified number of degrees",
        "operationId": "RotateImage",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "degrees": {
                    "description": "Number of degrees",
                    "type": "string",
                    "x-ms-summary": "Degrees"
                  },
                  "file": {
                    "description": "Source image file",
                    "format": "binary",
                    "type": "string",
                    "x-ms-summary": "File"
                  }
                },
                "required": [
                  "degrees",
                  "file"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Files - Rotate Image",
        "tags": [
          "Files"
        ]
      }
    },
    "/RoundNumber": {
      "post": {
        "description": "Round a numeric value up or down",
        "operationId": "RoundNumber",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCalculateNumber"
              }
            }
          },
          "description": "Numeric calculation parameters",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputNumber"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Math - Round number",
        "tags": [
          "Math"
        ],
        "x-codegen-request-body-name": "calculateNumber"
      }
    },
    "/ShortenLink": {
      "post": {
        "description": "Generate a simple, short URL from a complex URL",
        "operationId": "ShortenLink",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "source": "http://www.somewebsite.com/path1/path2?query1=value&query2=value"
                },
                "properties": {
                  "source": {
                    "description": "String variable or text value",
                    "type": "string",
                    "x-ms-summary": "Source"
                  }
                },
                "required": [
                  "source"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Text - Shorten hyperlink",
        "tags": [
          "Text"
        ],
        "x-codegen-request-body-name": "stringInput"
      }
    },
    "/SortCollection": {
      "post": {
        "description": "Sort a collection of strings",
        "operationId": "SortCollection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/inputCollectionSort"
              }
            }
          },
          "description": "Sort collection parameters",
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputCollectionResult"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Collections - Sort collection",
        "tags": [
          "Collections"
        ],
        "x-codegen-request-body-name": "collectionSort"
      }
    },
    "/SpeechToText": {
      "post": {
        "description": "Convert audio file to text (10MB limit)",
        "operationId": "SpeechToText",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "file": {
                    "description": "Source audio file (WAV, MP3, AAC, M4A)",
                    "format": "binary",
                    "type": "string",
                    "x-ms-summary": "File"
                  },
                  "language": {
                    "default": "English (United States)",
                    "description": "Language of audio input",
                    "enum": [
                      "Arabic (Bahrain)",
                      "Arabic (Egypt)",
                      "Arabic (Iraq)",
                      "Arabic (Jordan)",
                      "Arabic (Kuwait)",
                      "Arabic (Lebanon)",
                      "Arabic (Oman)",
                      "Arabic (Qatar)",
                      "Arabic (Saudi Arabia)",
                      "Arabic (Syria)",
                      "Arabic (United Arab Emirates)",
                      "Bulgarian (Bulgaria)",
                      "Catalan (Spain)",
                      "Chinese (Cantonese, Traditional)",
                      "Chinese (Mandarin, Simplified)",
                      "Chinese (Taiwanese Mandarin)",
                      "Croatian (Croatia)",
                      "Czech (Czech Republic)",
                      "Danish (Denmark)",
                      "Dutch (Netherlands)",
                      "English (Australia)",
                      "English (Canada)",
                      "English (Hong Kong)",
                      "English (India)",
                      "English (Ireland)",
                      "English (New Zealand)",
                      "English (Philippines)",
                      "English (Singapore)",
                      "English (South Africa)",
                      "English (United Kingdom)",
                      "English (United States)",
                      "Estonian(Estonia)",
                      "Finnish (Finland)",
                      "French (Canada)",
                      "French (France)",
                      "German (Germany)",
                      "Greek (Greece)",
                      "Gujarati (Indian)",
                      "Hindi (India)",
                      "Hungarian (Hungary)",
                      "Irish(Ireland)",
                      "Italian (Italy)",
                      "Japanese (Japan)",
                      "Korean (Korea)",
                      "Latvian (Latvia)",
                      "Lithuanian (Lithuania)",
                      "Maltese(Malta)",
                      "Marathi (India)",
                      "Norwegian (Norway)",
                      "Polish (Poland)",
                      "Portuguese (Brazil)",
                      "Portuguese (Portugal)",
                      "Romanian (Romania)",
                      "Russian (Russia)",
                      "Slovak (Slovakia)",
                      "Slovenian (Slovenia)",
                      "Spanish (Argentina)",
                      "Spanish (Bolivia)",
                      "Spanish (Chile)",
                      "Spanish (Colombia)",
                      "Spanish (Costa Rica)",
                      "Spanish (Cuba)",
                      "Spanish (Dominican Republic)",
                      "Spanish (Ecuador)",
                      "Spanish (El Salvador)",
                      "Spanish (Guatemala)",
                      "Spanish (Honduras)",
                      "Spanish (Mexico)",
                      "Spanish (Nicaragua)",
                      "Spanish (Panama)",
                      "Spanish (Paraguay)",
                      "Spanish (Peru)",
                      "Spanish (Puerto Rico)",
                      "Spanish (Spain)",
                      "Spanish (Uruguay)",
                      "Spanish (USA)",
                      "Spanish (Venezuela)",
                      "Swedish (Sweden)",
                      "Tamil (India)",
                      "Telugu (India)",
                      "Thai (Thailand)",
                      "Turkish (Turkey)"
                    ],
                    "type": "string",
                    "x-ms-summary": "Language"
                  }
                },
                "required": [
                  "file",
                  "language"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outputString"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
[...]
