swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2019-02-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/applicationGateway.json
      version: "2.0"
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/applicationGateway.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-applicationGateway
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableRequestHeaders":
    get:
      description: Lists all available request headers.
      operationId: ApplicationGateways_ListAvailableRequestHeaders
      parameters:
        - $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2"
        - $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3"
      responses:
        "200":
          description: Success. The operation returns a list of all available request headers.
          schema:
            $ref: "#/definitions/ApplicationGatewayAvailableRequestHeadersResult"
        default:
          description: unexpected error
          schema:
            $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.Network~1applicationGatewayAvailableServerVariables/get/responses/default/schema"
      tags:
        - ApplicationGateways
      x-ms-examples:
        Get Available Request Headers:
          parameters:
            api-version: 2019-02-01
            subscriptionId: 72f988bf-86f1-41af-91ab-2d7cd0dddd4
          responses:
            "200":
              body:
                - Accept-Charset
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableResponseHeaders":
    get:
      description: Lists all available response headers.
      operationId: ApplicationGateways_ListAvailableResponseHeaders
      parameters:
        - $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2"
        - $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3"
      responses:
        "200":
          description: Success. The operation returns a list of all available response headers.
          schema:
            $ref: "#/definitions/ApplicationGatewayAvailableResponseHeadersResult"
        default:
          description: unexpected error
          schema:
            $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.Network~1applicationGatewayAvailableServerVariables/get/responses/default/schema"
      tags:
        - ApplicationGateways
      x-ms-examples:
        Get Available Response Headers:
          parameters:
            api-version: 2019-02-01
            subscriptionId: 72f988bf-86f1-41af-91ab-2d7cd0dddd4
          responses:
            "200":
              body:
                - Access-Control-Allow-Origin
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableServerVariables":
    get:
      description: Lists all available server variables.
      operationId: ApplicationGateways_ListAvailableServerVariables
      parameters:
        - $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2"
        - $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3"
      responses:
        "200":
          description: Success. The operation returns a list of all available server variables.
          schema:
            $ref: "#/definitions/ApplicationGatewayAvailableServerVariablesResult"
        default:
          description: unexpected error
          schema:
            description: Common error representation.
            properties:
              code:
                description: Error code.
                type: string
              details:
                description: Error details.
                items:
                  description: Common error details representation.
                  properties:
                    code:
                      description: Error code.
                      type: string
                    message:
                      description: Error message.
                      type: string
                    target:
                      description: Error target.
                      type: string
                type: array
              innerError:
                description: Inner error message.
                type: string
              message:
                description: Error message.
                type: string
              target:
                description: Error target.
                type: string
      tags:
        - ApplicationGateways
      x-ms-examples:
        Get Available Server Variables:
          parameters:
            api-version: 2019-02-01
            subscriptionId: 72f988bf-86f1-41af-91ab-2d7cd0dddd4
          responses:
            "200":
              body:
                - request_query
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableSslOptions/default":
    get:
      description: Lists available Ssl options for configuring Ssl policy.
      operationId: ApplicationGateways_ListAvailableSslOptions
      parameters:
        - $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2"
        - $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3"
      responses:
        "200":
          description: Success. The operation returns all available Ssl options for configuring Ssl policy.
          schema:
            $ref: "#/definitions/ApplicationGatewayAvailableSslOptions"
      tags:
        - ApplicationGateways
      x-ms-examples:
        Get Available Ssl Options:
          parameters:
            api-version: 2019-02-01
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups//providers/Microsoft.Network/ApplicationGatewayAvailableSslOptions/default
                name: default
                properties:
                  availableCipherSuites:
                    - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
                    - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
                    - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384
                    - TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256
                    - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA
                    - TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA
                    - TLS_DHE_RSA_WITH_AES_256_GCM_SHA384
                    - TLS_DHE_RSA_WITH_AES_128_GCM_SHA256
                    - TLS_DHE_RSA_WITH_AES_256_CBC_SHA
                    - TLS_DHE_RSA_WITH_AES_128_CBC_SHA
                    - TLS_RSA_WITH_AES_256_GCM_SHA384
                    - TLS_RSA_WITH_AES_128_GCM_SHA256
                    - TLS_RSA_WITH_AES_256_CBC_SHA256
                    - TLS_RSA_WITH_AES_128_CBC_SHA256
                    - TLS_RSA_WITH_AES_256_CBC_SHA
                    - TLS_RSA_WITH_AES_128_CBC_SHA
                    - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
                    - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
                    - TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA384
                    - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA256
                    - TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA
                    - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA
                    - TLS_DHE_DSS_WITH_AES_256_CBC_SHA256
                    - TLS_DHE_DSS_WITH_AES_128_CBC_SHA256
                    - TLS_DHE_DSS_WITH_AES_256_CBC_SHA
                    - TLS_DHE_DSS_WITH_AES_128_CBC_SHA
                    - TLS_RSA_WITH_3DES_EDE_CBC_SHA
                    - TLS_DHE_DSS_WITH_3DES_EDE_CBC_SHA
                  availableProtocols:
                    - TLSv1_0
                    - TLSv1_1
                    - TLSv1_2
                  defaultPolicy: AppGwSslPolicy20150501
                  predefinedPolicies:
                    - id: /subscriptions/subid/resourceGroups//providers/Microsoft.Network/ApplicationGatewayAvailableSslOptions/default/ApplicationGatewaySslPredefinedPolicy/AppGwSslPolicy20150501
                    - id: /subscriptions/subid/resourceGroups//providers/Microsoft.Network/ApplicationGatewayAvailableSslOptions/default/ApplicationGatewaySslPredefinedPolicy/AppGwSslPolicy20170401
                    - id: /subscriptions/subid/resourceGroups//providers/Microsoft.Network/ApplicationGatewayAvailableSslOptions/default/ApplicationGatewaySslPredefinedPolicy/AppGwSslPolicy20170401S
                type: Microsoft.Network/ApplicationGatewayAvailableSslOptions
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableSslOptions/default/predefinedPolicies":
    get:
      description: Lists all SSL predefined policies for configuring Ssl policy.
      operationId: ApplicationGateways_ListAvailableSslPredefinedPolicies
      parameters:
        - $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2"
        - $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3"
      responses:
        "200":
          description: Success. The operation returns a lists of all Ssl predefined policies for configuring Ssl policy.
          schema:
            $ref: "#/definitions/ApplicationGatewayAvailableSslPredefinedPolicies"
      tags:
        - ApplicationGateways
      x-ms-examples:
        Get Available Ssl Predefined Policies:
          parameters:
            api-version: 2019-02-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups//providers/Microsoft.Network/ApplicationGatewayAvailableSslOptions/default/ApplicationGatewaySslPredefinedPolicy/AppGwSslPolicy20150501
                    name: AppGwSslPolicy20150501
                    properties:
                      cipherSuites:
                        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
                        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
                        - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384
                        - TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256
                        - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA
                        - TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA
                        - TLS_DHE_RSA_WITH_AES_256_GCM_SHA384
                        - TLS_DHE_RSA_WITH_AES_128_GCM_SHA256
                        - TLS_DHE_RSA_WITH_AES_256_CBC_SHA
                        - TLS_DHE_RSA_WITH_AES_128_CBC_SHA
                        - TLS_RSA_WITH_AES_256_GCM_SHA384
                        - TLS_RSA_WITH_AES_128_GCM_SHA256
                        - TLS_RSA_WITH_AES_256_CBC_SHA256
                        - TLS_RSA_WITH_AES_128_CBC_SHA256
                        - TLS_RSA_WITH_AES_256_CBC_SHA
                        - TLS_RSA_WITH_AES_128_CBC_SHA
                        - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
                        - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
                        - TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA384
                        - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA256
                        - TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA
                        - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA
                        - TLS_DHE_DSS_WITH_AES_256_CBC_SHA256
                        - TLS_DHE_DSS_WITH_AES_128_CBC_SHA256
                        - TLS_DHE_DSS_WITH_AES_256_CBC_SHA
                        - TLS_DHE_DSS_WITH_AES_128_CBC_SHA
                        - TLS_RSA_WITH_3DES_EDE_CBC_SHA
                        - TLS_DHE_DSS_WITH_3DES_EDE_CBC_SHA
                      minProtocolVersion: TLSv1_0
                  - id: /subscriptions/subid/resourceGroups//providers/Microsoft.Network/ApplicationGatewayAvailableSslOptions/default/ApplicationGatewaySslPredefinedPolicy/AppGwSslPolicy20170401
                    name: AppGwSslPolicy20170401
                    properties:
                      cipherSuites:
                        - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
                        - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
                        - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA
                        - TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA
                        - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA256
                        - TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA384
                        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
                        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
                        - TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA
                        - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA
                        - TLS_RSA_WITH_AES_256_GCM_SHA384
                        - TLS_RSA_WITH_AES_128_GCM_SHA256
                        - TLS_RSA_WITH_AES_256_CBC_SHA256
                        - TLS_RSA_WITH_AES_128_CBC_SHA256
                        - TLS_RSA_WITH_AES_256_CBC_SHA
                        - TLS_RSA_WITH_AES_128_CBC_SHA
                      minProtocolVersion: TLSv1_1
                  - id: /subscriptions/subid/resourceGroups//providers/Microsoft.Network/ApplicationGatewayAvailableSslOptions/default/ApplicationGatewaySslPredefinedPolicy/AppGwSslPolicy20170401S
                    name: AppGwSslPolicy20170401S
                    properties:
                      cipherSuites:
                        - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
                        - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
                        - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA
                        - TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA
                        - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA256
                        - TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA384
                        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
                        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
                        - TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA
                        - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA
                        - TLS_RSA_WITH_AES_256_GCM_SHA384
                        - TLS_RSA_WITH_AES_128_GCM_SHA256
                        - TLS_RSA_WITH_AES_256_CBC_SHA256
                        - TLS_RSA_WITH_AES_128_CBC_SHA256
                        - TLS_RSA_WITH_AES_256_CBC_SHA
                        - TLS_RSA_WITH_AES_128_CBC_SHA
                      minProtocolVersion: TLSv1_2
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableSslOptions/default/predefinedPolicies/{predefinedPolicyName}":
    get:
      description: Gets Ssl predefined policy with the specified policy name.
      operationId: ApplicationGateways_GetSslPredefinedPolicy
      parameters:
        - $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2"
        - $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3"
        - description: Name of Ssl predefined policy.
          in: path
          name: predefinedPolicyName
          required: true
          type: string
      responses:
        "200":
          description: Success. The operation returns a Ssl predefined policy with the specified policy name.
          schema:
            $ref: "#/definitions/ApplicationGatewaySslPredefinedPolicy"
      tags:
        - ApplicationGateways
      x-ms-examples:
        Get Available Ssl Predefined Policy by name:
          parameters:
            api-version: 2019-02-01
            predefinedPolicyName: AppGwSslPolicy20150501
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups//providers/Microsoft.Network/ApplicationGatewayAvailableSslOptions/default/ApplicationGatewaySslPredefinedPolicy/AppGwSslPolicy20150501
                name: AppGwSslPolicy20150501
                properties:
                  cipherSuites:
                    - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
                    - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
                    - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384
                    - TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256
                    - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA
                    - TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA
                    - TLS_DHE_RSA_WITH_AES_256_GCM_SHA384
                    - TLS_DHE_RSA_WITH_AES_128_GCM_SHA256
                    - TLS_DHE_RSA_WITH_AES_256_CBC_SHA
                    - TLS_DHE_RSA_WITH_AES_128_CBC_SHA
                    - TLS_RSA_WITH_AES_256_GCM_SHA384
                    - TLS_RSA_WITH_AES_128_GCM_SHA256
                    - TLS_RSA_WITH_AES_256_CBC_SHA256
                    - TLS_RSA_WITH_AES_128_CBC_SHA256
                    - TLS_RSA_WITH_AES_256_CBC_SHA
                    - TLS_RSA_WITH_AES_128_CBC_SHA
                    - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
                    - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
                    - TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA384
                    - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA256
                    - TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA
                    - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA
                    - TLS_DHE_DSS_WITH_AES_256_CBC_SHA256
                    - TLS_DHE_DSS_WITH_AES_128_CBC_SHA256
                    - TLS_DHE_DSS_WITH_AES_256_CBC_SHA
                    - TLS_DHE_DSS_WITH_AES_128_CBC_SHA
                    - TLS_RSA_WITH_3DES_EDE_CBC_SHA
                    - TLS_DHE_DSS_WITH_3DES_EDE_CBC_SHA
                  minProtocolVersion: TLSv1_0
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableWafRuleSets":
    get:
      description: Lists all available web application firewall rule sets.
      operationId: ApplicationGateways_ListAvailableWafRuleSets
      parameters:
        - $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2"
        - $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3"
      responses:
        "200":
          description: Success. The operation returns a list of all available web application firewall rule sets.
          schema:
            $ref: "#/definitions/ApplicationGatewayAvailableWafRuleSetsResult"
      tags:
        - ApplicationGateways
      x-ms-examples:
        Get Available Waf Rule Sets:
          parameters:
            api-version: 2019-02-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions//resourceGroups//providers/Microsoft.Network/applicationGatewayAvailableWafRuleSets/
                    name: OWASP_3.0
                    properties:
                      provisioningState: Succeeded
                      ruleGroups:
                        - description: ""
                          ruleGroupName: General
                          rules:
                            - description: Possible Multipart Unmatched Boundary.
                              ruleId: 200004
                      ruleSetType: OWASP
                      ruleSetVersion: "3.0"
                    type: Microsoft.Network/applicationGatewayAvailableWafRuleSets
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGateways":
    get:
      description: Gets all the application gateways in a subscription.
      operationId: ApplicationGateways_ListAll
      parameters:
        - $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2"
        - $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3"
      responses:
        "200":
          description: Success. The operation returns a list of ApplicationGateway resources.
          schema:
            $ref: "#/definitions/ApplicationGatewayListResult"
      tags:
        - ApplicationGateways
      x-ms-examples:
        Lists all application gateways in a subscription:
          parameters:
            api-version: 2019-02-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - location: southcentralus
                    name: appgw
                    properties:
                      backendAddressPools:
                        - name: appgwpool
                          properties:
                            backendAddresses:
                              - ipAddress: 10.0.1.1
                              - ipAddress: 10.0.1.2
                      backendHttpSettingsCollection:
                        - name: appgwbhs
                          properties:
                            cookieBasedAffinity: Disabled
                            port: 80
                            protocol: Http
                            requestTimeout: 30
                      frontendIPConfigurations:
                        - name: appgwfip
                          properties:
                            publicIPAddress:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/appgwpip
                      frontendPorts:
                        - name: appgwfp
                          properties:
                            port: 443
                      gatewayIPConfigurations:
                        - name: appgwipc
                          properties:
                            subnet:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet/subnets/appgwsubnet
                      httpListeners:
                        - name: appgwhl
                          properties:
                            frontendIPConfiguration:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                            frontendPort:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp
                            protocol: Https
                            requireServerNameIndication: false
                            sslCertificate:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/sslCertificates/sslcert
                      requestRoutingRules:
                        - name: appgwrule
                          properties:
                            backendAddressPool:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                            backendHttpSettings:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                            httpListener:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhl
                            ruleType: Basic
                      sku:
                        capacity: 3
                        name: Standard_Medium
                        tier: Standard
                      sslCertificates:
                        - name: sslcert
                          properties:
                            data: base64-pfxData
                            password: pass1
                    type: Microsoft.Network/applicationGateways
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways":
    get:
      description: Lists all application gateways in a resource group.
      operationId: ApplicationGateways_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2"
        - $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3"
      responses:
        "200":
          description: Success. The operation returns a list of ApplicationGateway resources.
          schema:
            $ref: "#/definitions/ApplicationGatewayListResult"
      tags:
        - ApplicationGateways
      x-ms-examples:
        Lists all application gateways in a resource group:
          parameters:
            api-version: 2019-02-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - location: southcentralus
                    name: appgw
                    properties:
                      backendAddressPools:
                        - name: appgwpool
                          properties:
                            backendAddresses:
                              - ipAddress: 10.0.1.1
                              - ipAddress: 10.0.1.2
                      backendHttpSettingsCollection:
                        - name: appgwbhs
                          properties:
                            cookieBasedAffinity: Disabled
                            port: 80
                            protocol: Http
                            requestTimeout: 30
                      frontendIPConfigurations:
                        - name: appgwfip
                          properties:
                            publicIPAddress:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/appgwpip
                      frontendPorts:
                        - name: appgwfp
                          properties:
                            port: 443
                      gatewayIPConfigurations:
                        - name: appgwipc
                          properties:
                            subnet:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet/subnets/appgwsubnet
                      httpListeners:
                        - name: appgwhl
                          properties:
                            frontendIPConfiguration:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                            frontendPort:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp
                            protocol: Https
                            requireServerNameIndication: false
                            sslCertificate:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/sslCertificates/sslcert
                      requestRoutingRules:
                        - name: appgwrule
                          properties:
                            backendAddressPool:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                            backendHttpSettings:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                            httpListener:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhl
                            ruleType: Basic
                      sku:
                        capacity: 3
                        name: Standard_Medium
                        tier: Standard
                      sslCertificates:
                        - name: sslcert
                          properties:
                            data: base64-pfxData
                            password: pass1
                    type: Microsoft.Network/applicationGateways
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}":
    delete:
      description: Deletes the specified application gateway.
      operationId: ApplicationGateways_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the application gateway.
          in: path
          name: applicationGatewayName
          required: true
          type: string
        - $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2"
        - $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3"
      responses:
        "200":
          description: Delete successful.
        "202":
          description: Accepted and the operation will complete asynchronously.
        "204":
          description: Request successful. Resource with the specified name does not exist
      tags:
        - ApplicationGateways
      x-ms-examples:
        Delete ApplicationGateway:
          parameters:
            api-version: 2019-02-01
            applicationGatewayName: appgw
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      description: Gets the specified application gateway.
      operationId: ApplicationGateways_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the application gateway.
          in: path
          name: applicationGatewayName
          required: true
          type: string
        - $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2"
        - $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3"
      responses:
        "200":
          description: Request successful. The operation returns an ApplicationGateway resource.
          schema:
            $ref: "#/definitions/ApplicationGateway"
      tags:
        - ApplicationGateways
      x-ms-examples:
        Get ApplicationGateway:
          parameters:
            api-version: 2019-02-01
            applicationGatewayName: appgw
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw
                location: southcentralus
                name: appgw
                properties:
                  authenticationCertificates: []
                  backendAddressPools:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                      name: appgwpool
                      properties:
                        backendAddresses: []
                        provisioningState: Succeeded
                  backendHttpSettingsCollection:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                      name: appgwbhs
                      properties:
                        cookieBasedAffinity: Disabled
                        port: 80
                        protocol: Http
                        provisioningState: Succeeded
                        requestTimeout: 30
                  frontendIPConfigurations:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                      name: appgwfip
                      properties:
                        privateIPAllocationMethod: Dynamic
                        provisioningState: Succeeded
                        publicIPAddress:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/appgwpip
                  frontendPorts:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp
                      name: appgwfp
                      properties:
                        port: 443
                        provisioningState: Succeeded
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp80
                      name: appgwfp80
                      properties:
                        port: 80
                        provisioningState: Succeeded
                  gatewayIPConfigurations:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/gatewayIPConfigurations/appgwipc
                      name: appgwipc
                      properties:
                        provisioningState: Succeeded
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/virtualNetwork1/subnets/appgwsubnet
                  httpListeners:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhl
                      name: appgwhl
                      properties:
                        frontendIPConfiguration:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                        frontendPort:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp
                        protocol: Https
                        provisioningState: Succeeded
                        requireServerNameIndication: false
                        sslCertificate:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/sslCertificates/sslcert
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhttplistener
                      name: appgwhttplistener
                      properties:
                        frontendIPConfiguration:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                        frontendPort:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp80
                        protocol: Http
                        provisioningState: Succeeded
                  operationalState: Running
                  probes: []
                  provisioningState: Succeeded
                  requestRoutingRules:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/requestRoutingRules/appgwrule
                      name: appgwrule
                      properties:
                        backendAddressPool:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                        backendHttpSettings:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                        httpListener:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhl
                        provisioningState: Succeeded
                        rewriteRuleSet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/rewriteRuleSets/rewriteRuleSet1
                        ruleType: Basic
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/requestRoutingRules/appgwPathBasedRule
                      name: appgwPathBasedRule
                      properties:
                        httpListener:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhttplistener
                        provisioningState: Succeeded
                        ruleType: PathBasedRouting
                        urlPathMap:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/urlPathMaps/pathMap1
                  rewriteRuleSets:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/rewriteRuleSets/rewriteRuleSet1
                      name: rewriteRuleSet1
                      properties:
                        provisioningState: Succeeded
                        rewriteRules:
                          - actionSet:
                              requestHeaderConfigurations:
                                - headerName: X-Forwarded-For
                                  headerValue: "{var_remote-addr}"
                              responseHeaderConfigurations:
                                - headerName: Strict-Transport-Security
                                  headerValue: max-age=31536000
                            conditions:
                              - ignoreCase: true
                                negate: false
                                pattern: ^Bearer
                                variable: http_req_Authorization
                            name: Set X-Forwarded-For
                            ruleSequence: 102
                  sku:
                    capacity: 3
                    name: Standard_Medium
                    tier: Standard
                  sslCertificates:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/sslCertificates/sslcert
                      name: sslcert
                      properties:
                        provisioningState: Succeeded
                        publicCertData: "*****"
                  urlPathMaps:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/urlPathMaps/pathMap1
                      name: pathMap1
                      properties:
                        defaultBackendAddressPool:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                        defaultBackendHttpSettings:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                        defaultRewriteRuleSet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/rewriteRuleSets/rewriteRuleSet1
                        pathRules:
                          - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/urlPathMaps/pathMap1/pathRules/apiPaths
                            name: apiPaths
                            properties:
                              backendAddressPool:
                                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                              backendHttpSettings:
                                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                              paths:
                                - /api
                                - /v1/api
                              provisioningState: Succeeded
                              rewriteRuleSet:
                                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/rewriteRuleSets/rewriteRuleSet1
                        provisioningState: Succeeded
                type: Microsoft.Network/applicationGateways
    patch:
      description: Updates the specified application gateway tags.
      operationId: ApplicationGateways_UpdateTags
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the application gateway.
          in: path
          name: applicationGatewayName
          required: true
          type: string
        - description: Parameters supplied to update application gateway tags.
          in: body
          name: parameters
          required: true
          schema:
            description: Tags object for patch operations.
            properties:
              tags:
                additionalProperties:
                  type: string
                description: Resource tags.
                type: object
        - $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2"
        - $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3"
      responses:
        "200":
          description: Update successful. The operation returns the resulting ApplicationGateway resource.
          schema:
            $ref: "#/definitions/ApplicationGateway"
      tags:
        - ApplicationGateways
      x-ms-examples:
        Update Application Gateway tags:
          parameters:
            api-version: 2019-02-01
            applicationGatewayName: AppGw
            parameters:
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw
                location: westus
                name: AppGw
                properties:
                  authenticationCertificates: []
                  backendAddressPools:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/backendAddressPools/Pool01
                      name: Pool01
                      properties:
                        backendAddresses:
                          - ipAddress: 10.10.10.1
                          - ipAddress: 10.10.10.2
                          - ipAddress: 10.10.10.3
                        provisioningState: Succeeded
                  backendHttpSettingsCollection:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/backendHttpSettingsCollection/PoolSetting01
                      name: PoolSetting01
                      properties:
                        cookieBasedAffinity: Disabled
                        pickHostNameFromBackendAddress: false
                        port: 80
                        protocol: Http
                        provisioningState: Succeeded
                        requestTimeout: 30
                  frontendIPConfigurations:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/frontendIPConfigurations/FrontEndConfig01
                      name: FrontEndConfig01
                      properties:
                        privateIPAllocationMethod: Dynamic
                        provisioningState: Succeeded
                        publicIPAddress:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/publicIp1
                  frontendPorts:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/frontendPorts/FrontEndPort01
                      name: FrontEndPort01
                      properties:
                        port: 80
                        provisioningState: Succeeded
                  gatewayIPConfigurations:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/gatewayIPConfigurations/GatewayIp01
                      name: GatewayIp01
                      properties:
                        provisioningState: Succeeded
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet/subnets/subnet1
                  httpListeners:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/httpListeners/listener1
                      name: listener1
                      properties:
                        frontendIPConfiguration:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/frontendIPConfigurations/FrontEndConfig01
                        frontendPort:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/frontendPorts/FrontEndPort01
                        protocol: Http
                        provisioningState: Succeeded
                        requireServerNameIndication: false
                  operationalState: Running
                  probes: []
                  provisioningState: Succeeded
                  redirectConfigurations: []
                  requestRoutingRules:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/requestRoutingRules/Rule01
                      name: Rule01
                      properties:
                        backendAddressPool:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/backendAddressPools/Pool01
                        backendHttpSettings:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/backendHttpSettingsCollection/PoolSetting01
                        httpListener:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/httpListeners/listener1
                        provisioningState: Succeeded
                        ruleType: Basic
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                  sku:
                    capacity: 2
                    name: Standard_Small
                    tier: Standard
                  sslCertificates: []
                  urlPathMaps: []
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Network/applicationGateways
      x-ms-long-running-operation: true
    put:
      description: Creates or updates the specified application gateway.
      operationId: ApplicationGateways_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the application gateway.
          in: path
          name: applicationGatewayName
          required: true
          type: string
        - description: Parameters supplied to the create or update application gateway operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ApplicationGateway"
        - $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2"
        - $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3"
      responses:
        "200":
          description: Update successful. The operation returns the resulting ApplicationGateway resource.
          schema:
            $ref: "#/definitions/ApplicationGateway"
        "201":
          description: Create successful. The operation returns the resulting ApplicationGateway resource.
          schema:
            $ref: "#/definitions/ApplicationGateway"
      tags:
        - ApplicationGateways
      x-ms-examples:
        Create Application Gateway:
          parameters:
            api-version: 2019-02-01
            applicationGatewayName: appgw
            parameters:
              identity:
                type: UserAssigned
                userAssignedIdentities:
                  /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identity1: {}
              properties:
                backendAddressPools:
                  - name: appgwpool
                    properties:
                      backendAddresses:
                        - ipAddress: 10.0.1.1
                        - ipAddress: 10.0.1.2
                backendHttpSettingsCollection:
                  - name: appgwbhs
                    properties:
                      cookieBasedAffinity: Disabled
                      port: 80
                      protocol: Http
                      requestTimeout: 30
                frontendIPConfigurations:
                  - name: appgwfip
                    properties:
                      publicIPAddress:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/appgwpip
                frontendPorts:
                  - name: appgwfp
                    properties:
                      port: 443
                  - name: appgwfp80
                    properties:
                      port: 80
                gatewayIPConfigurations:
                  - name: appgwipc
                    properties:
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet/subnets/appgwsubnet
                httpListeners:
                  - name: appgwhl
                    properties:
                      frontendIPConfiguration:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                      frontendPort:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp
                      protocol: Https
                      requireServerNameIndication: false
                      sslCertificate:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/sslCertificates/sslcert
                  - name: appgwhttplistener
                    properties:
                      frontendIPConfiguration:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                      frontendPort:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp80
                      protocol: Http
                requestRoutingRules:
                  - name: appgwrule
                    properties:
                      backendAddressPool:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                      backendHttpSettings:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                      httpListener:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhl
                      rewriteRuleSet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/rewriteRuleSets/rewriteRuleSet1
                      ruleType: Basic
                  - name: appgwPathBasedRule
                    properties:
                      httpListener:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhttplistener
                      ruleType: PathBasedRouting
                      urlPathMap:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/urlPathMaps/pathMap1
                rewriteRuleSets:
                  - name: rewriteRuleSet1
                    properties:
                      rewriteRules:
                        - actionSet:
                            requestHeaderConfigurations:
                              - headerName: X-Forwarded-For
                                headerValue: "{var_remote-addr}"
                            responseHeaderConfigurations:
                              - headerName: Strict-Transport-Security
                                headerValue: max-age=31536000
                          conditions:
                            - ignoreCase: true
                              negate: false
                              pattern: ^Bearer
                              variable: http_req_Authorization
                          name: Set X-Forwarded-For
                          ruleSequence: 102
                sku:
                  capacity: 3
                  name: Standard_Medium
                  tier: Standard
                sslCertificates:
                  - name: sslcert
                    properties:
                      data: "****"
                      password: "****"
                  - name: sslcert2
                    properties:
                      keyVaultSecretId: https://kv/secret
                trustedRootCertificates:
                  - name: rootcert
                    properties:
                      data: "****"
                  - name: rootcert1
                    properties:
                      keyVaultSecretId: https://kv/secret
                urlPathMaps:
                  - name: pathMap1
                    properties:
                      defaultBackendAddressPool:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                      defaultBackendHttpSettings:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                      defaultRewriteRuleSet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/rewriteRuleSets/rewriteRuleSet1
                      pathRules:
                        - name: apiPaths
                          properties:
                            backendAddressPool:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                            backendHttpSettings:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                            paths:
                              - /api
                              - /v1/api
                            rewriteRuleSet:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/rewriteRuleSets/rewriteRuleSet1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw
                location: southcentralus
                name: appgw
                properties:
                  authenticationCertificates: []
                  backendAddressPools:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                      name: appgwpool
                      properties:
                        backendAddresses: []
                        provisioningState: Succeeded
                  backendHttpSettingsCollection:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                      name: appgwbhs
                      properties:
                        cookieBasedAffinity: Disabled
                        port: 80
                        protocol: Http
                        provisioningState: Succeeded
                        requestTimeout: 30
                  frontendIPConfigurations:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                      name: appgwfip
                      properties:
                        privateIPAllocationMethod: Dynamic
                        provisioningState: Succeeded
                        publicIPAddress:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/appgwpip
                  frontendPorts:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp
                      name: appgwfp
                      properties:
                        port: 443
                        provisioningState: Succeeded
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp80
                      name: appgwfp80
                      properties:
                        port: 80
                        provisioningState: Succeeded
                  gatewayIPConfigurations:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/gatewayIPConfigurations/appgwipc
                      name: appgwipc
                      properties:
                        provisioningState: Succeeded
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/virtualNetwork1/subnets/appgwsubnet
                  httpListeners:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhl
                      name: appgwhl
                      properties:
                        frontendIPConfiguration:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                        frontendPort:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp
                        protocol: Https
                        provisioningState: Succeeded
                        requireServerNameIndication: false
                        sslCertificate:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/sslCertificates/sslcert
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhttplistener
                      name: appgwhttplistener
                      properties:
                        frontendIPConfiguration:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                        frontendPort:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp80
                        protocol: Http
                        provisioningState: Succeeded
                  operationalState: Running
                  probes: []
                  provisioningState: Succeeded
                  requestRoutingRules:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/requestRoutingRules/appgwrule
                      name: appgwrule
                      properties:
                        backendAddressPool:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                        backendHttpSettings:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                        httpListener:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhl
                        provisioningState: Succeeded
                        rewriteRuleSet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/rewriteRuleSets/rewriteRuleSet1
                        ruleType: Basic
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/requestRoutingRules/appgwPathBasedRule
                      name: appgwPathBasedRule
                      properties:
                        httpListener:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhttplistener
                        provisioningState: Succeeded
                        ruleType: PathBasedRouting
                        urlPathMap:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/urlPathMaps/pathMap1
                  rewriteRuleSets:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/rewriteRuleSets/rewriteRuleSet1
                      name: rewriteRuleSet1
                      properties:
                        provisioningState: Succeeded
                        rewriteRules:
                          - actionSet:
                              requestHeaderConfigurations:
                                - headerName: X-Forwarded-For
                                  headerValue: "{var_remote-addr}"
                              responseHeaderConfigurations:
                                - headerName: Strict-Transport-Security
                                  headerValue: max-age=31536000
                            conditions:
                              - ignoreCase: true
                                negate: false
                                pattern: ^Bearer
                                variable: http_req_Authorization
                            name: Set X-Forwarded-For
                            ruleSequence: 102
                  sku:
                    capacity: 3
                    name: Standard_Medium
                    tier: Standard
                  sslCertificates:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/sslCertificates/sslcert
                      name: sslcert
                      properties:
                        provisioningState: Succeeded
                        publicCertData: "*****"
                  urlPathMaps:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/urlPathMaps/pathMap1
                      name: pathMap1
                      properties:
                        defaultBackendAddressPool:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                        defaultBackendHttpSettings:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                        defaultRewriteRuleSet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/rewriteRuleSets/rewriteRuleSet1
                        pathRules:
                          - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/urlPathMaps/pathMap1/pathRules/apiPaths
                            name: apiPaths
                            properties:
                              backendAddressPool:
                                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                              backendHttpSettings:
                                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                              paths:
                                - /api
                                - /v1/api
                              provisioningState: Succeeded
                              rewriteRuleSet:
                                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/rewriteRuleSets/rewriteRuleSet1
                        provisioningState: Succeeded
                type: Microsoft.Network/applicationGateways
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw
                location: southcentralus
                name: appgw
                properties:
                  authenticationCertificates: []
                  backendAddressPools:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                      name: appgwpool
                      properties:
                        backendAddresses: []
                        provisioningState: Succeeded
                  backendHttpSettingsCollection:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                      name: appgwbhs
                      properties:
                        cookieBasedAffinity: Disabled
                        port: 80
                        protocol: Http
                        provisioningState: Succeeded
                        requestTimeout: 30
                  frontendIPConfigurations:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                      name: appgwfip
                      properties:
                        privateIPAllocationMethod: Dynamic
                        provisioningState: Succeeded
                        publicIPAddress:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/appgwpip
                  frontendPorts:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp
                      name: appgwfp
                      properties:
                        port: 443
                        provisioningState: Succeeded
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp80
                      name: appgwfp80
                      properties:
                        port: 80
                        provisioningState: Succeeded
                  gatewayIPConfigurations:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/gatewayIPConfigurations/appgwipc
                      name: appgwipc
                      properties:
                        provisioningState: Succeeded
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/virtualNetwork1/subnets/appgwsubnet
                  httpListeners:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhl
                      name: appgwhl
                      properties:
                        frontendIPConfiguration:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                        frontendPort:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp
                        protocol: Https
                        provisioningState: Succeeded
                        requireServerNameIndication: false
                        sslCertificate:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/sslCertificates/sslcert
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhttplistener
                      name: appgwhttplistener
                      properties:
                        frontendIPConfiguration:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                        frontendPort:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp80
                        protocol: Http
                        provisioningState: Succeeded
                  operationalState: Running
                  probes: []
                  provisioningState: Succeeded
                  requestRoutingRules:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/requestRoutingRules/appgwrule
                      name: appgwrule
                      properties:
                        backendAddressPool:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                        backendHttpSettings:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                        httpListener:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhl
                        provisioningState: Succeeded
                        rewriteRuleSet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/rewriteRuleSets/rewriteRuleSet1
                        ruleType: Basic
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/requestRoutingRules/appgwPathBasedRule
                      name: appgwPathBasedRule
                      properties:
                        httpListener:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhttplistener
                        provisioningState: Succeeded
                        ruleType: PathBasedRouting
                        urlPathMap:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/urlPathMaps/pathMap1
                  rewriteRuleSets:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/rewriteRuleSets/rewriteRuleSet1
                      name: rewriteRuleSet1
                      properties:
                        provisioningState: Succeeded
                        rewriteRules:
                          - actionSet:
                              requestHeaderConfigurations:
                                - headerName: X-Forwarded-For
                                  headerValue: "{var_remote-addr}"
                              responseHeaderConfigurations:
                                - headerName: Strict-Transport-Security
                                  headerValue: max-age=31536000
                            conditions:
                              - ignoreCase: true
                                negate: false
                                pattern: ^Bearer
                                variable: http_req_Authorization
                            name: Set X-Forwarded-For
                            ruleSequence: 102
                  sku:
                    capacity: 3
                    name: Standard_Medium
                    tier: Standard
                  sslCertificates:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/sslCertificates/sslcert
                      name: sslcert
                      properties:
                        provisioningState: Succeeded
                        publicCertData: "*****"
                  urlPathMaps:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/urlPathMaps/pathMap1
                      name: pathMap1
                      properties:
                        defaultBackendAddressPool:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                        defaultBackendHttpSettings:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                        defaultRewriteRuleSet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/rewriteRuleSets/rewriteRuleSet1
                        pathRules:
                          - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/urlPathMaps/pathMap1/pathRules/apiPaths
                            name: apiPaths
                            properties:
                              backendAddressPool:
                                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                              backendHttpSettings:
                                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                              paths:
                                - /api
                                - /v1/api
                              provisioningState: Succeeded
                              rewriteRuleSet:
                                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/rewriteRuleSets/rewriteRuleSet1
                        provisioningState: Succeeded
                type: Microsoft.Network/applicationGateways
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/backendhealth":
    post:
      description: Gets the backend health of the specified application gateway in a resource group.
      operationId: ApplicationGateways_BackendHealth
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the application gateway.
          in: path
          name: applicationGatewayName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Expands BackendAddressPool and BackendHttpSettings referenced in backend health.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        "200":
          description: Request successful.
          schema:
            $ref: "#/definitions/ApplicationGatewayBackendHealth"
        "202":
          description: Accepted and the operation will complete asynchronously.
      tags:
        - ApplicationGateways
      x-ms-examples:
        Get Backend Health:
          parameters:
            api-version: 2019-02-01
            applicationGatewayName: appgw
            resourceGroupName: appgw
            subscriptionId: subid
          responses:
            "200":
              body:
                backendAddressPools:
                  - backendAddressPool:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendaddressPools/MFAnalyticsPool
                    backendHttpSettingsCollection:
                      - backendHttpSettings:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/MFPoolSettings
                        servers:
                          - address: 10.220.1.8
                            health: Up
                  - backendAddressPool:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendaddressPools/MFPool
                    backendHttpSettingsCollection:
                      - backendHttpSettings:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/MFPoolSettings
                        servers:
                          - address: 10.220.1.4
                            health: Up
                          - address: 10.220.1.5
                            health: Up
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/getBackendHealthOnDemand":
    post:
      description: Gets the backend health for given combination of backend pool and http setting of the specified application gateway in a resource group.
      operationId: ApplicationGateways_BackendHealthOnDemand
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the application gateway.
          in: path
          name: applicationGatewayName
          required: true
          type: string
        - $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2"
        - $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3"
        - description: Expands BackendAddressPool and BackendHttpSettings referenced in backend health.
          in: query
          name: $expand
          required: false
          type: string
        - description: Request body for on-demand test probe operation.
          in: body
          name: probeRequest
          required: true
          schema:
            $ref: "#/definitions/ApplicationGatewayOnDemandProbe"
      responses:
        "200":
          description: Request successful.
          schema:
            $ref: "#/definitions/ApplicationGatewayBackendHealthOnDemand"
        "202":
          description: Accepted and the operation will complete asynchronously.
      tags:
        - ApplicationGateways
      x-ms-examples:
        Test Backend Health:
          parameters:
            api-version: 2019-02-01
            applicationGatewayName: appgw
            probeRequest:
              backendAddressPool:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendaddressPools/MFAnalyticsPool
              backendHttpSettings:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/MFPoolSettings
              path: /
              pickHostNameFromBackendHttpSettings: true
              protocol: Http
              timeout: 30
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                backendAddressPool:
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendaddressPools/MFAnalyticsPool
                backendHealthHttpSettings:
                  backendHttpSettings:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/MFPoolSettings
                  servers:
                    - address: 10.220.1.4
                      health: Up
                    - address: 10.220.1.5
                      health: Up
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/start":
    post:
      description: Starts the specified application gateway.
      operationId: ApplicationGateways_Start
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the application gateway.
          in: path
          name: applicationGatewayName
          required: true
          type: string
        - $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2"
        - $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3"
      responses:
        "200":
          description: Request successful. The operation starts the ApplicationGateway resource.
        "202":
          description: Accepted and the operation will complete asynchronously.
      tags:
        - ApplicationGateways
      x-ms-examples:
        Start Application Gateway:
          parameters:
            api-version: 2019-02-01
            applicationGatewayName: appgw
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/stop":
    post:
      description: Stops the specified application gateway in a resource group.
      operationId: ApplicationGateways_Stop
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the application gateway.
          in: path
          name: applicationGatewayName
          required: true
          type: string
        - $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/2"
        - $ref: "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Network~1applicationGateways~1%7BapplicationGatewayName%7D~1backendhealth/post/parameters/3"
      responses:
        "200":
          description: Request successful. The operation stops the ApplicationGateway resource.
        "202":
          description: Accepted and the operation will complete asynchronously.
      tags:
        - ApplicationGateways
      x-ms-examples:
        Stop Application Gateway:
          parameters:
            api-version: 2019-02-01
            applicationGatewayName: appgw
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
definitions:
  ApplicationGateway:
    allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: Application gateway resource
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated.
        type: string
      identity:
        description: Identity for the resource.
        properties:
          principalId:
            description: The principal id of the system assigned identity. This property will only be provided for a system assigned identity.
            readOnly: true
            type: string
          tenantId:
            description: The tenant id of the system assigned identity. This property will only be provided for a system assigned identity.
            readOnly: true
            type: string
          type:
            description: The type of identity used for the resource. The type 'SystemAssigned, UserAssigned' includes both an implicitly created identity and a set of user assigned identities. The type 'None' will remove any identities from the virtual machine.
            enum:
              - SystemAssigned
              - UserAssigned
              - SystemAssigned, UserAssigned
              - None
            type: string
            x-ms-enum:
              modelAsString: false
              name: ResourceIdentityType
          userAssignedIdentities:
            additionalProperties:
              properties:
                clientId:
                  description: The client id of user assigned identity.
                  readOnly: true
                  type: string
                principalId:
                  description: The principal id of user assigned identity.
                  readOnly: true
                  type: string
              type: object
            description: "The list of user identities associated with resource. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."
            type: object
      properties:
        $ref: "#/definitions/ApplicationGatewayPropertiesFormat"
        description: Properties of the application gateway.
        x-ms-client-flatten: true
      zones:
        description: A list of availability zones denoting where the resource needs to come from.
        items:
          type: string
        type: array
  ApplicationGatewayAuthenticationCertificate:
    allOf:
      - $ref: "#/definitions/ApplicationGatewayPathRulePropertiesFormat/properties/rewriteRuleSet"
    description: Authentication certificates of an application gateway.
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated.
        type: string
      name:
        description: Name of the authentication certificate that is unique within an Application Gateway.
        type: string
      properties:
        $ref: "#/definitions/ApplicationGatewayAuthenticationCertificatePropertiesFormat"
        description: Properties of the application gateway authentication certificate.
        x-ms-client-flatten: true
      type:
        description: Type of the resource.
        type: string
  ApplicationGatewayAuthenticationCertificatePropertiesFormat:
    description: Authentication certificates properties of an application gateway.
    properties:
      data:
        description: Certificate public data.
        type: string
      provisioningState:
        description: "Provisioning state of the authentication certificate resource. Possible values are: 'Updating', 'Deleting', and 'Failed'."
        type: string
  ApplicationGatewayAutoscaleConfiguration:
    description: Application Gateway autoscale configuration.
    properties:
      maxCapacity:
        description: Upper bound on number of Application Gateway capacity
        exclusiveMinimum: false
        format: int32
        minimum: 2
        type: integer
      minCapacity:
        description: Lower bound on number of Application Gateway capacity
        exclusiveMinimum: false
        format: int32
        minimum: 0
        type: integer
    required:
      - minCapacity
  ApplicationGatewayAvailableRequestHeadersResult:
    description: Response for ApplicationGatewayAvailableRequestHeaders API service call.
    items:
      type: string
    type: array
  ApplicationGatewayAvailableResponseHeadersResult:
    description: Response for ApplicationGatewayAvailableResponseHeaders API service call.
    items:
      type: string
    type: array
  ApplicationGatewayAvailableServerVariablesResult:
    description: Response for ApplicationGatewayAvailableServerVariables API service call.
    items:
      type: string
    type: array
  ApplicationGatewayAvailableSslOptions:
    allOf:
      - $ref: "#/definitions/ApplicationGateway/allOf/0"
    description: Response for ApplicationGatewayAvailableSslOptions API service call.
    properties:
      properties:
        $ref: "#/definitions/ApplicationGatewayAvailableSslOptionsPropertiesFormat"
        description: Properties of the application gateway available SSL options.
        x-ms-client-flatten: true
  ApplicationGatewayAvailableSslOptionsPropertiesFormat:
    description: Properties of ApplicationGatewayAvailableSslOptions
    properties:
      availableCipherSuites:
        description: List of available Ssl cipher suites.
        items:
          $ref: "#/definitions/CipherSuitesEnum"
        type: array
      availableProtocols:
        description: List of available Ssl protocols.
        items:
          $ref: "#/definitions/ProtocolsEnum"
        type: array
      defaultPolicy:
        $ref: "#/definitions/PolicyNameEnum"
        description: Name of the Ssl predefined policy applied by default to application gateway
      predefinedPolicies:
        description: List of available Ssl predefined policy.
        items:
          $ref: "#/definitions/ApplicationGatewayPathRulePropertiesFormat/properties/rewriteRuleSet"
        type: array
  ApplicationGatewayAvailableSslPredefinedPolicies:
    description: Response for ApplicationGatewayAvailableSslOptions API service call.
    properties:
      nextLink:
        description: URL to get the next set of results.
        type: string
      value:
        description: List of available Ssl predefined policy.
        items:
          $ref: "#/definitions/ApplicationGatewaySslPredefinedPolicy"
        type: array
  ApplicationGatewayAvailableWafRuleSetsResult:
    description: Response for ApplicationGatewayAvailableWafRuleSets API service call.
    properties:
      value:
        description: The list of application gateway rule sets.
        items:
          $ref: "#/definitions/ApplicationGatewayFirewallRuleSet"
        type: array
  ApplicationGatewayBackendAddress:
    description: Backend address of an application gateway.
    properties:
      fqdn:
        description: Fully qualified domain name (FQDN).
        type: string
      ipAddress:
        description: IP address
        type: string
[...]
