swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Use these APIs to manage Azure Websites resources through the Azure Resource Manager. All task operations conform to the HTTP/1.1 protocol specification and each operation returns an x-ms-request-id header that can be used to obtain information about the request. You must make sure that requests made to these resources are secure. For more information, see https://msdn.microsoft.com/en-us/library/azure/dn790557.aspx.
  title: WebSite Management Client
  version: 2015-08-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2015-08-01/service.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: web-service
  x-tags:
    - Azure
    - Microsoft
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: API Version
    in: query
    name: api-version
    required: true
    type: string
  subscriptionIdParameter:
    description: Subscription Id
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.Web/publishingUsers/web:
    get:
      consumes: []
      deprecated: false
      operationId: Provider_GetPublishingUser
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/User"
      summary: Gets publishing user
      tags:
        - Provider
    put:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: Provider_UpdatePublishingUser
      parameters:
        - description: Details of publishing user
          in: body
          name: requestMessage
          required: true
          schema:
            $ref: "#/definitions/User"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/User"
      summary: Updates publishing user
      tags:
        - Provider
  /providers/Microsoft.Web/sourcecontrols:
    get:
      consumes: []
      deprecated: false
      operationId: Provider_GetSourceControls
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SourceControlCollection"
      summary: Gets the source controls available for Azure websites
      tags:
        - Provider
      x-ms-pageable:
        nextLinkName: nextLink
  "/providers/Microsoft.Web/sourcecontrols/{sourceControlType}":
    get:
      consumes: []
      deprecated: false
      operationId: Provider_GetSourceControl
      parameters:
        - description: Type of source control
          in: path
          name: sourceControlType
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SourceControl"
      summary: Gets source control token
      tags:
        - Provider
    put:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: Provider_UpdateSourceControl
      parameters:
        - description: Type of source control
          in: path
          name: sourceControlType
          required: true
          type: string
        - description: Source control token information
          in: body
          name: requestMessage
          required: true
          schema:
            $ref: "#/definitions/SourceControl"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SourceControl"
      summary: Updates source control token
      tags:
        - Provider
  "/subscriptions/{subscriptionId}/providers/Microsoft.CertificateRegistration/certificateOrders":
    get:
      consumes: []
      deprecated: false
      operationId: GlobalCertificateOrder_GetAllCertificateOrders
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CertificateOrderCollection"
      summary: Lists all domains in a subscription
      tags:
        - GlobalCertificateOrder
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.CertificateRegistration/validateCertificateRegistrationInformation":
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: GlobalCertificateOrder_ValidateCertificatePurchaseInformation
      parameters:
        - description: Certificate order
          in: body
          name: certificateOrder
          required: true
          schema:
            $ref: "#/definitions/CertificateOrder"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Object"
      summary: Validate certificate purchase information
      tags:
        - GlobalCertificateOrder
  "/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/checkDomainAvailability":
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: GlobalDomainRegistration_CheckDomainAvailability
      parameters:
        - description: Name of the domain
          in: body
          name: identifier
          required: true
          schema:
            $ref: "#/definitions/NameIdentifier"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DomainAvailablilityCheckResult"
      summary: Checks if a domain is available for registration
      tags:
        - GlobalDomainRegistration
  "/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/domains":
    get:
      consumes: []
      deprecated: false
      operationId: GlobalDomainRegistration_GetAllDomains
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DomainCollection"
      summary: Lists all domains in a subscription
      tags:
        - GlobalDomainRegistration
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/generateSsoRequest":
    post:
      consumes: []
      deprecated: false
      operationId: GlobalDomainRegistration_GetDomainControlCenterSsoRequest
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DomainControlCenterSsoRequest"
      summary: Generates a single sign on request for domain management portal
      tags:
        - GlobalDomainRegistration
  "/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/listDomainRecommendations":
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: GlobalDomainRegistration_ListDomainRecommendations
      parameters:
        - description: Domain recommendation search parameters
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/DomainRecommendationSearchParameters"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/NameIdentifierCollection"
      summary: Lists domain recommendations based on keywords
      tags:
        - GlobalDomainRegistration
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/topLevelDomains":
    get:
      consumes: []
      deprecated: false
      operationId: TopLevelDomains_GetGetTopLevelDomains
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/TopLevelDomainCollection"
      summary: Lists all top level domains supported for registration
      tags:
        - TopLevelDomains
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/topLevelDomains/{name}":
    get:
      consumes: []
      deprecated: false
      operationId: TopLevelDomains_GetTopLevelDomain
      parameters:
        - description: Name of the top level domain
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/TopLevelDomain"
      summary: Gets details of a top level domain
      tags:
        - TopLevelDomains
  "/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/topLevelDomains/{name}/listAgreements":
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: TopLevelDomains_ListTopLevelDomainAgreements
      parameters:
        - description: Name of the top level domain
          in: path
          name: name
          required: true
          type: string
        - description: Domain agreement options
          in: body
          name: agreementOption
          required: true
          schema:
            $ref: "#/definitions/TopLevelDomainAgreementOption"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/TldLegalAgreementCollection"
      summary: Lists legal agreements that user needs to accept before purchasing domain
      tags:
        - TopLevelDomains
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/validateDomainRegistrationInformation":
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: GlobalDomainRegistration_ValidateDomainPurchaseInformation
      parameters:
        - description: Domain registration information
          in: body
          name: domainRegistrationInput
          required: true
          schema:
            $ref: "#/definitions/DomainRegistrationInput"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Object"
      summary: Validates domain registration information
      tags:
        - GlobalDomainRegistration
  "/subscriptions/{subscriptionId}/providers/Microsoft.Web/certificates":
    get:
      consumes: []
      deprecated: false
      operationId: Global_GetAllCertificates
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CertificateCollection"
      summary: Get all certificates for a subscription
      tags:
        - Global
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Web/checknameavailability":
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: Global_CheckNameAvailability
      parameters:
        - description: Name availability request
          in: body
          name: request
          required: true
          schema:
            $ref: "#/definitions/ResourceNameAvailabilityRequest"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ResourceNameAvailability"
      summary: Check if resource name is available
      tags:
        - Global
  "/subscriptions/{subscriptionId}/providers/Microsoft.Web/classicMobileServices":
    get:
      consumes: []
      deprecated: false
      operationId: Global_GetAllClassicMobileServices
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ClassicMobileServiceCollection"
      summary: Gets all mobile services for a subscription
      tags:
        - Global
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Web/geoRegions":
    get:
      consumes: []
      deprecated: false
      operationId: Global_GetSubscriptionGeoRegions
      parameters:
        - description: Filter only to regions that support this sku
          in: query
          name: sku
          type: string
        - description: Filter only to regions that support linux workers
          in: query
          name: linuxWorkersEnabled
          type: boolean
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/GeoRegionCollection"
      summary: Gets list of available geo regions
      tags:
        - Global
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Web/hostingEnvironments":
    get:
      consumes: []
      deprecated: false
      operationId: Global_GetAllHostingEnvironments
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/HostingEnvironmentCollection"
      summary: Gets all hostingEnvironments (App Service Environment) for a subscription
      tags:
        - Global
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Web/ishostingenvironmentnameavailable":
    get:
      consumes: []
      deprecated: false
      operationId: Global_IsHostingEnvironmentNameAvailable
      parameters:
        - description: Hosting environment name
          in: query
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Object"
      summary: Whether hosting environment name is available
      tags:
        - Global
  "/subscriptions/{subscriptionId}/providers/Microsoft.Web/ishostingenvironmentnameavailable/{name}":
    get:
      consumes: []
      deprecated: false
      operationId: Global_IsHostingEnvironmentWithLegacyNameAvailable
      parameters:
        - description: Hosting environment name
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Object"
      summary: Whether hosting environment name is available
      tags:
        - Global
  "/subscriptions/{subscriptionId}/providers/Microsoft.Web/managedHostingEnvironments":
    get:
      consumes: []
      deprecated: false
      operationId: Global_GetAllManagedHostingEnvironments
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ManagedHostingEnvironmentCollection"
      summary: Gets all managed hosting environments for a subscription
      tags:
        - Global
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Web/premieraddonoffers":
    get:
      consumes: []
      deprecated: false
      operationId: Global_ListPremierAddOnOffers
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Object"
      summary: List premier add on offers
      tags:
        - Global
  "/subscriptions/{subscriptionId}/providers/Microsoft.Web/publishingCredentials":
    get:
      consumes: []
      deprecated: false
      operationId: Global_GetSubscriptionPublishingCredentials
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/User"
      summary: Gets publishing credentials for the subscription owner
      tags:
        - Global
    put:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: Global_UpdateSubscriptionPublishingCredentials
      parameters:
        - description: requestMessage with new publishing credentials
          in: body
          name: requestMessage
          required: true
          schema:
            $ref: "#/definitions/User"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/User"
      summary: Updates publishing credentials for the subscription owner
      tags:
        - Global
  "/subscriptions/{subscriptionId}/providers/Microsoft.Web/recommendations":
    get:
      consumes: []
      deprecated: false
      operationId: Recommendations_GetRecommendationBySubscription
      parameters:
        - description: If set, this API returns only the most critical recommendation among the others. Otherwise this API returns all recommendations available
          in: query
          name: featured
          type: boolean
        - description: "Return only channels specified in the filter. Filter is specified by using OData syntax. Example: $filter=channels eq 'Api' or channel eq 'Notification'"
          in: query
          name: $filter
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: "#/definitions/Recommendation"
            type: array
      summary: Gets a list of recommendations associated with the specified subscription.
      tags:
        - Recommendations
  "/subscriptions/{subscriptionId}/providers/Microsoft.Web/serverfarms":
    get:
      consumes: []
      deprecated: false
      operationId: Global_GetAllServerFarms
      parameters:
        - description: "False to return a subset of App Service Plan properties, true to return all of the properties.\r

            \            Retrieval of all properties may increase the API latency."
          in: query
          name: detailed
          type: boolean
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ServerFarmCollection"
      summary: Gets all App Service Plans for a subscription
      tags:
        - Global
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Web/sites":
    get:
      consumes: []
      deprecated: false
      operationId: Global_GetAllSites
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SiteCollection"
      summary: Gets all Web Apps for a subscription
      tags:
        - Global
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/moveResources":
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: GlobalResourceGroups_MoveResources
      parameters:
        - in: path
          name: resourceGroupName
          required: true
          type: string
        - in: body
          name: moveResourceEnvelope
          required: true
          schema:
            $ref: "#/definitions/CsmMoveResourceEnvelope"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces: []
      responses:
        "204":
          description: No Content
      tags:
        - GlobalResourceGroups
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders":
    get:
      consumes: []
      deprecated: false
      operationId: CertificateOrders_GetCertificateOrders
      parameters:
        - description: Azure resource group name
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CertificateOrderCollection"
      summary: Get certificate orders in a resource group
      tags:
        - CertificateOrders
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/certificates":
    get:
      consumes: []
      deprecated: false
      operationId: CertificateOrders_GetCertificates
      parameters:
        - description: Azure resource group name
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Certificate name
          in: path
          name: certificateOrderName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CertificateOrderCertificateCollection"
      summary: List all certificates associated with a certificate order (only one certificate can be associated with an order at a time)
      tags:
        - CertificateOrders
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/certificates/{name}":
    delete:
      consumes: []
      deprecated: false
      operationId: CertificateOrders_DeleteCertificate
      parameters:
        - description: Azure resource group name
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Certificate name
          in: path
          name: certificateOrderName
          required: true
          type: string
        - description: Certificate name
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Object"
      summary: Deletes the certificate associated with the certificate order
      tags:
        - CertificateOrders
    get:
      consumes: []
      deprecated: false
      operationId: CertificateOrders_GetCertificate
      parameters:
        - description: Azure resource group name
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Certificate name
          in: path
          name: certificateOrderName
          required: true
          type: string
        - description: Certificate name
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CertificateOrderCertificate"
      summary: Get certificate associated with the certificate order
      tags:
        - CertificateOrders
    patch:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: CertificateOrders_UpdateCertificate
      parameters:
        - description: Azure resource group name
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Certificate name
          in: path
          name: certificateOrderName
          required: true
          type: string
        - description: Certificate name
          in: path
          name: name
          required: true
          type: string
        - description: Key Vault secret csm Id
          in: body
          name: keyVaultCertificate
          required: true
          schema:
            $ref: "#/definitions/CertificateOrderCertificate"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CertificateOrderCertificate"
      summary: Associates a Key Vault secret to a certificate store that will be used for storing the certificate once it's ready
      tags:
        - CertificateOrders
    put:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: CertificateOrders_CreateOrUpdateCertificate
      parameters:
        - description: Azure resource group name
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Certificate name
          in: path
          name: certificateOrderName
          required: true
          type: string
        - description: Certificate name
          in: path
          name: name
          required: true
          type: string
        - description: Key Vault secret csm Id
          in: body
          name: keyVaultCertificate
          required: true
          schema:
            $ref: "#/definitions/CertificateOrderCertificate"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CertificateOrderCertificate"
      summary: Associates a Key Vault secret to a certificate store that will be used for storing the certificate once it's ready
      tags:
        - CertificateOrders
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}":
    delete:
      consumes: []
      deprecated: false
      operationId: CertificateOrders_DeleteCertificateOrder
      parameters:
        - description: Azure resource group name
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Certificate name
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Object"
      summary: Delete an existing certificate order
      tags:
        - CertificateOrders
    get:
      consumes: []
      deprecated: false
      operationId: CertificateOrders_GetCertificateOrder
      parameters:
        - description: Azure resource group name
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Certificate name
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CertificateOrder"
      summary: Get a certificate order
      tags:
        - CertificateOrders
    patch:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: CertificateOrders_UpdateCertificateOrder
      parameters:
        - description: Azure resource group name
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Certificate name
          in: path
          name: name
          required: true
          type: string
        - description: Distinguished name to be used for purchasing certificate
          in: body
          name: certificateDistinguishedName
          required: true
          schema:
            $ref: "#/definitions/CertificateOrder"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CertificateOrder"
      summary: Create or update a certificate purchase order
      tags:
        - CertificateOrders
    put:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: CertificateOrders_CreateOrUpdateCertificateOrder
      parameters:
        - description: Azure resource group name
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Certificate name
          in: path
          name: name
          required: true
          type: string
        - description: Distinguished name to be used for purchasing certificate
          in: body
          name: certificateDistinguishedName
          required: true
          schema:
            $ref: "#/definitions/CertificateOrder"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CertificateOrder"
      summary: Create or update a certificate purchase order
      tags:
        - CertificateOrders
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/reissue":
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: CertificateOrders_ReissueCertificateOrder
      parameters:
        - description: Azure resource group name
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Certificate name
          in: path
          name: name
          required: true
          type: string
        - description: Reissue parameters
          in: body
          name: reissueCertificateOrderRequest
          required: true
          schema:
            $ref: "#/definitions/ReissueCertificateOrderRequest"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Object"
      summary: Reissue an existing certificate order
      tags:
        - CertificateOrders
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/renew":
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: CertificateOrders_RenewCertificateOrder
      parameters:
        - description: Azure resource group name
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Certificate name
          in: path
          name: name
          required: true
          type: string
        - description: Renew parameters
          in: body
          name: renewCertificateOrderRequest
          required: true
          schema:
            $ref: "#/definitions/RenewCertificateOrderRequest"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Object"
      summary: Renew an existing certificate order
      tags:
        - CertificateOrders
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/resendEmail":
    post:
      consumes: []
      deprecated: false
      operationId: CertificateOrders_ResendCertificateEmail
      parameters:
        - description: Azure resource group name
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Certificate order name
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Object"
      summary: Resend certificate email
      tags:
        - CertificateOrders
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/retrieveCertificateActions":
    post:
      consumes: []
      deprecated: false
      operationId: CertificateOrders_RetrieveCertificateActions
      parameters:
        - description: Azure resource group name
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Certificate order name
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: "#/definitions/CertificateOrderAction"
            type: array
      summary: Retrieve the list of certificate actions
      tags:
        - CertificateOrders
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/retrieveEmailHistory":
    post:
      consumes: []
      deprecated: false
      operationId: CertificateOrders_RetrieveCertificateEmailHistory
      parameters:
        - description: Azure resource group name
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Certificate order name
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: "#/definitions/CertificateEmail"
            type: array
      summary: Retrieve email history
      tags:
        - CertificateOrders
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/verifyDomainOwnership":
    post:
      consumes: []
      deprecated: false
      operationId: CertificateOrders_VerifyDomainOwnership
      parameters:
        - description: Azure resource group name
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Certificate order name
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Object"
      summary: Verify domain ownership for this certificate order
      tags:
        - CertificateOrders
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains":
    get:
      consumes: []
      deprecated: false
      operationId: Domains_GetDomains
      parameters:
        - description: Name of the resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DomainCollection"
      summary: Lists domains under a resource group
      tags:
        - Domains
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}":
    delete:
      consumes: []
      deprecated: false
      operationId: Domains_DeleteDomain
      parameters:
        - description: Name of the resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the domain
          in: path
          name: domainName
          required: true
          type: string
        - description: If true then the domain will be deleted immediately instead of after 24 hours
          in: query
          name: forceHardDeleteDomain
          type: boolean
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "204":
          description: Domain does not exist in Azure database probably because it has already been deleted
          schema:
            $ref: "#/definitions/Object"
      summary: Deletes a domain
      tags:
        - Domains
    get:
      consumes: []
      deprecated: false
      operationId: Domains_GetDomain
      parameters:
        - description: Name of the resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the domain
          in: path
          name: domainName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Domain"
      summary: Gets details of a domain
      tags:
        - Domains
    patch:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: Domains_UpdateDomain
      parameters:
        - description: "&gt;Name of the resource group"
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the domain
          in: path
          name: domainName
          required: true
          type: string
        - description: Domain registration information
          in: body
          name: domain
          required: true
          schema:
            $ref: "#/definitions/Domain"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: Domain purchase was successful
          schema:
            $ref: "#/definitions/Domain"
        "202":
          description: Domain purchase is in progress
          schema:
            $ref: "#/definitions/Domain"
      summary: Creates a domain
      tags:
        - Domains
    put:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: Domains_CreateOrUpdateDomain
      parameters:
        - description: "&gt;Name of the resource group"
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the domain
          in: path
          name: domainName
          required: true
          type: string
        - description: Domain registration information
          in: body
          name: domain
          required: true
          schema:
            $ref: "#/definitions/Domain"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: Domain purchase was successful
          schema:
            $ref: "#/definitions/Domain"
        "202":
          description: Domain purchase is in progress
          schema:
            $ref: "#/definitions/Domain"
      summary: Creates a domain
      tags:
        - Domains
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}/operationresults/{operationId}":
    get:
      consumes: []
      deprecated: false
      operationId: Domains_GetDomainOperation
      parameters:
        - description: Name of the resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the domain
          in: path
          name: domainName
          required: true
          type: string
        - description: Domain purchase operation Id
          in: path
          name: operationId
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: Domain purchase was successful
          schema:
            $ref: "#/definitions/Domain"
        "202":
          description: Domain purchase is in progress
          schema:
            $ref: "#/definitions/Domain"
        "500":
          description: Domain purchase request failed
      summary: Retrieves the latest status of a domain purchase operation
      tags:
        - Domains
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web.Admin/environments/{environmentName}/usage":
    get:
      consumes: []
      deprecated: false
      operationId: Usage_GetUsage
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Environment name
          in: path
          name: environmentName
          required: true
          type: string
        - description: Last marker that was returned from the batch
          in: query
          name: lastId
          required: true
          type: string
        - description: size of the batch to be returned.
          format: int32
          in: query
          name: batchSize
          required: true
          type: integer
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Object"
      summary: Returns usage records for specified subscription and resource groups
      tags:
        - Usage
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/certificates":
    get:
      consumes: []
      deprecated: false
      operationId: Certificates_GetCertificates
      parameters:
        - description: Name of the resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CertificateCollection"
      summary: Get certificates for a subscription in the specified resource group.
      tags:
        - Certificates
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/certificates/{name}":
    delete:
      consumes: []
      deprecated: false
      operationId: Certificates_DeleteCertificate
      parameters:
        - description: Name of the resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the certificate to be deleted.
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Object"
      summary: Delete a certificate by name in a specified subscription and resourcegroup.
      tags:
        - Certificates
    get:
      consumes: []
      deprecated: false
      operationId: Certificates_GetCertificate
      parameters:
        - description: Name of the resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the certificate.
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Certificate"
      summary: Get a certificate by certificate name for a subscription in the specified resource group.
      tags:
        - Certificates
    patch:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: Certificates_UpdateCertificate
      parameters:
        - description: Name of the resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the certificate.
          in: path
          name: name
          required: true
          type: string
        - description: Details of certificate if it exists already.
          in: body
          name: certificateEnvelope
          required: true
          schema:
            $ref: "#/definitions/Certificate"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Certificate"
      summary: Creates or modifies an existing certificate.
      tags:
        - Certificates
    put:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: Certificates_CreateOrUpdateCertificate
      parameters:
        - description: Name of the resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the certificate.
          in: path
          name: name
          required: true
          type: string
        - description: Details of certificate if it exists already.
          in: body
          name: certificateEnvelope
          required: true
          schema:
            $ref: "#/definitions/Certificate"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Certificate"
      summary: Creates or modifies an existing certificate.
      tags:
        - Certificates
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/classicMobileServices":
    get:
      consumes: []
      deprecated: false
      operationId: ClassicMobileServices_GetClassicMobileServices
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ClassicMobileServiceCollection"
      summary: Get all mobile services in a resource group.
      tags:
        - ClassicMobileServices
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/classicMobileServices/{name}":
    delete:
      consumes: []
      deprecated: false
      operationId: ClassicMobileServices_DeleteClassicMobileService
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of mobile service
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Object"
      summary: Delete a mobile service.
      tags:
        - ClassicMobileServices
    get:
      consumes: []
      deprecated: false
      operationId: ClassicMobileServices_GetClassicMobileService
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of mobile service
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ClassicMobileService"
      summary: Get a mobile service.
      tags:
        - ClassicMobileServices
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/csrs":
    get:
      consumes: []
      deprecated: false
      operationId: Certificates_GetCsrs
      parameters:
        - description: Name of the resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: "#/definitions/Csr"
            type: array
      summary: Gets the certificate signing requests for a subscription in the specified resource group
      tags:
        - Certificates
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/csrs/{name}":
    delete:
      consumes: []
      deprecated: false
      operationId: Certificates_DeleteCsr
      parameters:
        - description: Name of the resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the certificate signing request.
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Object"
      summary: Delete the certificate signing request.
      tags:
        - Certificates
    get:
      consumes: []
      deprecated: false
      operationId: Certificates_GetCsr
      parameters:
        - description: Name of the resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the certificate.
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Csr"
      summary: Gets a certificate signing request by certificate name for a subscription in the specified resource group
      tags:
        - Certificates
    patch:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: Certificates_UpdateCsr
      parameters:
        - description: Name of the resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the certificate.
          in: path
          name: name
          required: true
          type: string
        - description: Details of certificate signing request if it exists already.
          in: body
          name: csrEnvelope
          required: true
          schema:
            $ref: "#/definitions/Csr"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Csr"
      summary: Creates or modifies an existing certificate signing request.
      tags:
        - Certificates
    put:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: Certificates_CreateOrUpdateCsr
      parameters:
        - description: Name of the resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the certificate.
          in: path
          name: name
          required: true
          type: string
        - description: Details of certificate signing request if it exists already.
          in: body
          name: csrEnvelope
          required: true
          schema:
            $ref: "#/definitions/Csr"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Csr"
      summary: Creates or modifies an existing certificate signing request.
      tags:
        - Certificates
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/deletedSites":
    get:
      consumes: []
      deprecated: false
      operationId: Sites_GetDeletedSites
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Additional web app properties included in the response
          in: query
          name: propertiesToInclude
          type: string
        - description: Types of apps included in the response
          in: query
          name: includeSiteTypes
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DeletedSiteCollection"
      summary: Gets deleted web apps in subscription
      tags:
        - Sites
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments":
    get:
      consumes: []
      deprecated: false
      operationId: HostingEnvironments_GetHostingEnvironments
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/HostingEnvironmentCollection"
      summary: Get all hostingEnvironments (App Service Environments) in a resource group.
      tags:
        - HostingEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}":
    delete:
      consumes: []
      deprecated: false
      operationId: HostingEnvironments_DeleteHostingEnvironment
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          type: string
        - description: Delete even if the hostingEnvironment (App Service Environment) contains resources
          in: query
          name: forceDelete
          type: boolean
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Object"
        "202":
          description: Operation is in progress
          schema:
            $ref: "#/definitions/Object"
        "400":
          description: Bad request
        "404":
          description: Not found
        "409":
          description: Conflict
      summary: Delete a hostingEnvironment (App Service Environment).
      tags:
        - HostingEnvironments
      x-ms-long-running-operation: true
    get:
      consumes: []
      deprecated: false
      operationId: HostingEnvironments_GetHostingEnvironment
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/HostingEnvironment"
      summary: Get properties of hostingEnvironment (App Service Environment).
      tags:
        - HostingEnvironments
    put:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: HostingEnvironments_CreateOrUpdateHostingEnvironment
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          type: string
        - description: Properties of hostingEnvironment (App Service Environment)
          in: body
          name: hostingEnvironmentEnvelope
          required: true
          schema:
            $ref: "#/definitions/HostingEnvironment"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/HostingEnvironment"
        "202":
          description: Operation is in progress
          schema:
            $ref: "#/definitions/HostingEnvironment"
        "400":
          description: Bad request
        "404":
          description: Not found
        "409":
          description: Conflict
      summary: Create or update a hostingEnvironment (App Service Environment).
      tags:
        - HostingEnvironments
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/capacities/compute":
    get:
      consumes: []
      deprecated: false
      operationId: HostingEnvironments_GetHostingEnvironmentCapacities
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/StampCapacityCollection"
      summary: Get used, available, and total worker capacity for hostingEnvironment (App Service Environment).
      tags:
        - HostingEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/capacities/virtualip":
    get:
      consumes: []
      deprecated: false
      operationId: HostingEnvironments_GetHostingEnvironmentVips
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AddressResponse"
      summary: Get IP addresses assigned to the hostingEnvironment (App Service Environment).
      tags:
        - HostingEnvironments
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/diagnostics":
    get:
      consumes: []
      deprecated: false
      operationId: HostingEnvironments_GetHostingEnvironmentDiagnostics
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: "#/definitions/HostingEnvironmentDiagnostics"
            type: array
      summary: Get diagnostic information for hostingEnvironment (App Service Environment).
      tags:
        - HostingEnvironments
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/diagnostics/{diagnosticsName}":
    get:
      consumes: []
      deprecated: false
      operationId: HostingEnvironments_GetHostingEnvironmentDiagnosticsItem
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          type: string
        - description: Name of the diagnostics
          in: path
          name: diagnosticsName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/HostingEnvironmentDiagnostics"
      summary: Get diagnostic information for hostingEnvironment (App Service Environment).
      tags:
        - HostingEnvironments
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/metricdefinitions":
    get:
      consumes: []
      deprecated: false
      operationId: HostingEnvironments_GetHostingEnvironmentMetricDefinitions
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/MetricDefinition"
      summary: Get global metric definitions of hostingEnvironment (App Service Environment).
      tags:
        - HostingEnvironments
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/metrics":
    get:
      consumes: []
      deprecated: false
      operationId: HostingEnvironments_GetHostingEnvironmentMetrics
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          type: string
        - description: Include instance details
          in: query
          name: details
          type: boolean
        - description: "Return only usages/metrics specified in the filter. Filter conforms to odata syntax. Example: $filter=(name.value eq 'Metric1' or name.value eq 'Metric2') and startTime eq '2014-01-01T00:00:00Z' and endTime eq '2014-12-31T23:59:59Z' and timeGrain eq duration'[Hour|Minute|Day]'."
          in: query
          name: $filter
          type: string
          x-ms-skip-url-encoding: true
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ResourceMetricCollection"
      summary: Get global metrics of hostingEnvironment (App Service Environment).
      tags:
        - HostingEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools":
    get:
      consumes: []
      deprecated: false
      operationId: HostingEnvironments_GetMultiRolePools
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/WorkerPoolCollection"
      summary: Get all multi role pools
      tags:
        - HostingEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default":
    get:
      consumes: []
      deprecated: false
      operationId: HostingEnvironments_GetMultiRolePool
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/WorkerPool"
      summary: Get properties of a multiRole pool.
      tags:
        - HostingEnvironments
    put:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      deprecated: false
      operationId: HostingEnvironments_CreateOrUpdateMultiRolePool
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          type: string
        - description: Properties of multiRole pool
          in: body
          name: multiRolePoolEnvelope
          required: true
          schema:
            $ref: "#/definitions/WorkerPool"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/WorkerPool"
        "202":
          description: Operation is in progress
          schema:
            $ref: "#/definitions/WorkerPool"
        "400":
          description: Bad request
        "404":
          description: Not found
        "409":
          description: Conflict
      summary: Create or update a multiRole pool.
      tags:
        - HostingEnvironments
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/instances/{instance}/metricdefinitions":
    get:
      consumes: []
      deprecated: false
      operationId: HostingEnvironments_GetMultiRolePoolInstanceMetricDefinitions
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          type: string
        - description: Name of instance in the multiRole pool&gt;
          in: path
          name: instance
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Object"
      summary: Get metric definitions for a specific instance of a multiRole pool of a hostingEnvironment (App Service Environment).
      tags:
        - HostingEnvironments
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/instances/{instance}/metrics":
    get:
      consumes: []
      deprecated: false
      operationId: HostingEnvironments_GetMultiRolePoolInstanceMetrics
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          type: string
        - description: Name of instance in the multiRole pool
          in: path
          name: instance
          required: true
          type: string
        - description: Include instance details
          in: query
          name: details
          type: boolean
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Object"
      summary: Get metrics for a specific instance of a multiRole pool of a hostingEnvironment (App Service Environment).
      tags:
        - HostingEnvironments
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/metricdefinitions":
    get:
      consumes: []
      deprecated: false
      operationId: HostingEnvironments_GetHostingEnvironmentMultiRoleMetricDefinitions
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/MetricDefinitionCollection"
      summary: Get metric definitions for a multiRole pool of a hostingEnvironment (App Service Environment).
      tags:
        - HostingEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/metrics":
    get:
      consumes: []
      deprecated: false
      operationId: HostingEnvironments_GetHostingEnvironmentMultiRoleMetrics
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          type: string
        - description: Beginning time of metrics query
          in: query
          name: startTime
          type: string
        - description: End time of metrics query
          in: query
          name: endTime
          type: string
        - description: Time granularity of metrics query
          in: query
          name: timeGrain
          type: string
        - description: Include instance details
          in: query
          name: details
          type: boolean
        - description: "Return only usages/metrics specified in the filter. Filter conforms to odata syntax. Example: $filter=(name.value eq 'Metric1' or name.value eq 'Metric2') and startTime eq '2014-01-01T00:00:00Z' and endTime eq '2014-12-31T23:59:59Z' and timeGrain eq duration'[Hour|Minute|Day]'."
          in: query
          name: $filter
          type: string
          x-ms-skip-url-encoding: true
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ResourceMetricCollection"
      summary: Get metrics for a multiRole pool of a hostingEnvironment (App Service Environment).
      tags:
        - HostingEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/skus":
    get:
      consumes: []
      deprecated: false
      operationId: HostingEnvironments_GetMultiRolePoolSkus
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SkuInfoCollection"
      summary: Get available skus for scaling a multiRole pool.
      tags:
        - HostingEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/usages":
    get:
      consumes: []
      deprecated: false
      operationId: HostingEnvironments_GetHostingEnvironmentMultiRoleUsages
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/UsageCollection"
      summary: Get usages for a multiRole pool of a hostingEnvironment (App Service Environment).
      tags:
        - HostingEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/operations":
    get:
      consumes: []
      deprecated: false
      operationId: HostingEnvironments_GetHostingEnvironmentOperations
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Object"
      summary: List all currently running operations on the hostingEnvironment (App Service Environment)
      tags:
        - HostingEnvironments
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/operations/{operationId}":
    get:
      consumes: []
      deprecated: false
      operationId: HostingEnvironments_GetHostingEnvironmentOperation
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          type: string
        - description: operation identifier GUID
          in: path
          name: operationId
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: Operation completed successfully
          schema:
            $ref: "#/definitions/Object"
        "202":
          description: Asynchronous operation in progress
          schema:
            $ref: "#/definitions/Object"
        "404":
          description: Not found
        "500":
          description: Operation failed
      summary: Get status of an operation on a hostingEnvironment (App Service Environment).
      tags:
        - HostingEnvironments
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/reboot":
    post:
      consumes: []
      deprecated: false
      operationId: HostingEnvironments_RebootHostingEnvironment
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "202":
          description: Asynchronous operation in progress
          schema:
            $ref: "#/definitions/Object"
        "400":
          description: Bad request
        "404":
          description: Not found
        "409":
          description: Conflict
      summary: Reboots all machines in a hostingEnvironment (App Service Environment).
      tags:
        - HostingEnvironments
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/resume":
    post:
      consumes: []
      deprecated: false
      operationId: HostingEnvironments_ResumeHostingEnvironment
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SiteCollection"
        "202":
          description: Operation is in progress
          schema:
            $ref: "#/definitions/SiteCollection"
      summary: Resumes the hostingEnvironment.
      tags:
        - HostingEnvironments
      x-ms-long-running-operation: true
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/serverfarms":
    get:
      consumes: []
      deprecated: false
      operationId: HostingEnvironments_GetHostingEnvironmentServerFarms
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ServerFarmCollection"
      summary: Get all serverfarms (App Service Plans) on the hostingEnvironment (App Service Environment).
      tags:
        - HostingEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/sites":
    get:
      consumes: []
      deprecated: false
      operationId: HostingEnvironments_GetHostingEnvironmentSites
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          type: string
        - description: Comma separated list of site properties to include
          in: query
          name: propertiesToInclude
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SiteCollection"
      summary: Get all sites on the hostingEnvironment (App Service Environment).
      tags:
        - HostingEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/suspend":
    post:
      consumes: []
      deprecated: false
      operationId: HostingEnvironments_SuspendHostingEnvironment
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SiteCollection"
        "202":
          description: Operation is in progress
          schema:
            $ref: "#/definitions/SiteCollection"
      summary: Suspends the hostingEnvironment.
      tags:
        - HostingEnvironments
      x-ms-long-running-operation: true
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/usages":
    get:
      consumes: []
      deprecated: false
      operationId: HostingEnvironments_GetHostingEnvironmentUsages
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          type: string
        - description: "Return only usages/metrics specified in the filter. Filter conforms to odata syntax. Example: $filter=(name.value eq 'Metric1' or name.value eq 'Metric2') and startTime eq '2014-01-01T00:00:00Z' and endTime eq '2014-12-31T23:59:59Z' and timeGrain eq duration'[Hour|Minute|Day]'."
          in: query
          name: $filter
          type: string
          x-ms-skip-url-encoding: true
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CsmUsageQuotaCollection"
      summary: Get global usages of hostingEnvironment (App Service Environment).
      tags:
        - HostingEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/webhostingplans":
    get:
      consumes: []
      deprecated: false
      operationId: HostingEnvironments_GetHostingEnvironmentWebHostingPlans
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ServerFarmCollection"
      summary: Get all serverfarms (App Service Plans) on the hostingEnvironment (App Service Environment).
      tags:
        - HostingEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools":
    get:
      consumes: []
      deprecated: false
      operationId: HostingEnvironments_GetWorkerPools
[...]
