swagger: "2.0"
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: The Admin Fabric Management Client.
  title: FabricAdminClient
  version: 2016-05-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/Fabric.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-Fabric
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Authorization uses an Azure Active Directory OAuth2 flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    default: 2016-05-01
    description: Client API Version.
    in: query
    name: api-version
    required: true
    type: string
  FilterParameter:
    description: OData filter parameter.
    in: query
    name: $filter
    type: string
    x-ms-parameter-location: method
  LocationParameter:
    description: Location of the resource.
    in: path
    name: location
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceGroupParameter:
    description: Name of the resource group.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.Fabric.Admin/operations:
    get:
      description: Returns the list of support REST operations.
      operationId: Fabric_ListOperations
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/OperationList"
      tags:
        - Fabric
      x-ms-examples:
        Returns the list of support REST operations.:
          parameters:
            api-version: 2016-05-01
          responses:
            "200":
              body:
                value:
                  - display:
                      description: Add a Node to a Scale Unit
                      operation: Add a Node to a Scale Unit
                      provider: Microsoft Fabric Resource Provider
                      resource: Scale Unit
                    name: Microsoft.Fabric.Admin/scaleUnits/ScaleIn
                  - display:
                      description: Powers off a Scale Unit Node
                      operation: Power off Scale Unit Node
                      provider: Microsoft Fabric Resource Provider
                      resource: Scale Unit Node
                    name: Microsoft.Fabric.Admin/scaleUnitNodes/PowerOff
                  - display:
                      description: Powers on a Scale Unit Node
                      operation: Power on Scale Unit Node
                      provider: Microsoft Fabric Resource Provider
                      resource: Scale Unit Node
                    name: Microsoft.Fabric.Admin/scaleUnitNodes/PowerOn
                  - display:
                      operation: Shut down Scale Unit Node
                      provider: Microsoft Fabric Resource Provider
                      resource: Scale Unit Node
                    name: Microsoft.Fabric.Admin/scaleUnitNodes/ShutDown
                  - display:
                      description: Starts maintenance on a Scale Unit Node
                      operation: Start maintenance Scale Unit Node
                      provider: Microsoft Fabric Resource Provider
                      resource: Scale Unit Node
                    name: Microsoft.Fabric.Admin/scaleUnitNodes/StartMaintenanceMode
                  - display:
                      description: Stops maintenance on a Scale Unit Node
                      operation: Stop maintenance Scale Unit Node
                      provider: Microsoft Fabric Resource Provider
                      resource: Scale Unit Node
                    name: Microsoft.Fabric.Admin/scaleUnitNodes/StopMaintenanceMode
                  - display:
                      description: Repairs a Scale Unit Node
                      operation: Repair Scale Unit Node
                      provider: Microsoft Fabric Resource Provider
                      resource: Scale Unit Node
                    name: Microsoft.Fabric.Admin/scaleUnitNodes/Repair
                  - display:
                      description: Powers off an Infrastructure Role Instance
                      operation: Power off Infrastructure Role Instance
                      provider: Microsoft Fabric Resource Provider
                      resource: Infrastructure Role Instance
                    name: Microsoft.Fabric.Admin/infraRoleInstances/PowerOff
                  - display:
                      description: Powers on an Infrastructure Role Instance
                      operation: Power on Infrastructure Role Instance
                      provider: Microsoft Fabric Resource Provider
                      resource: Infrastructure Role Instance
                    name: Microsoft.Fabric.Admin/infraRoleInstances/PowerOn
                  - display:
                      description: Shutdown an Infrastructure Role Instance
                      operation: Shutdown an Infrastructure Role Instance
                      provider: Microsoft Fabric Resource Provider
                      resource: Infrastructure Role Instance
                    name: Microsoft.Fabric.Admin/infraRoleInstances/Shutdown
                  - display:
                      description: Reboot an Infrastructure Role Instance
                      operation: Reboot an Infrastructure Role Instance
                      provider: Microsoft Fabric Resource Provider
                      resource: Infrastructure Role Instance
                    name: Microsoft.Fabric.Admin/infraRoleInstances/Reboot
                  - display:
                      description: Creates or updates an IP Pool
                      operation: Create or update IP Pool
                      provider: Microsoft Fabric Resource Provider
                      resource: IP Pool
                    name: Microsoft.Fabric.Admin/ipPools/action
      x-ms-pageable:
        nextLinkName: nextLink
definitions:
  Display:
    description: Contains the localized display information for this particular operation / action.
    properties:
      description:
        description: The localized, friendly description for the operation. The description will be displayed to the user. It should be thorough and concise for used in both tooltips and detailed views.
        type: string
      operation:
        description: The localized, friendly name for the operation. Use the name as it will be displayed to the user.
        type: string
      provider:
        description: The localized friendly form of the resource provider name – it is expected to also include the publisher/company responsible. It should use Title Casing and begin with "Microsoft" for 1st party services. e.g. "Microsoft Monitoring Insights" or "Microsoft Compute.".
        type: string
      resource:
        description: The localized, friendly version of the resource type related to this action or operation; the resource type should match the public documentation for the resource provider.
        type: string
  Operation:
    description: Describes the supported REST operation.
    properties:
      display:
        $ref: "#/definitions/Display"
        description: Contains the localized display information for this particular operation or action.
      name:
        description: The name of the operation being performed on this particular object. This name should match the name that appears in RBAC or the event service.
        type: string
  OperationList:
    description: A pageable list of supported operations objects.
    properties:
      nextLink:
        description: URI to next page.
        type: string
      value:
        description: List of supported operations.
        items:
          $ref: "#/definitions/Operation"
        type: array
  ProvisioningState:
    description: Provisioning status of the resource.
    properties:
      properties:
        $ref: "#/definitions/ProvisioningStateProperties"
        description: Provisioning status of the resource.
        x-ms-client-flatten: true
    type: object
  ProvisioningStateProperties:
    description: Provisioning status of the resource.
    properties:
      provisioningState:
        description: Provisioning status of the resource.
        type: string
    type: object
  Resource:
    description: Base resource object.
    properties:
      id:
        description: URI of the resource.
        readOnly: true
        type: string
      location:
        description: The region where the resource is located.
        type: string
      name:
        description: Name of the resource.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: List of key-value pairs.
        type: object
      type:
        description: Type of resource.
        readOnly: true
        type: string
    type: object
    x-ms-azure-resource: true
