swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2019-06-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/networkWatcherConnectionMonitorV1.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: network-networkWatcherConnectionMonitorV1
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectionMonitors":
    get:
      description: Lists all connection monitors for the specified Network Watcher.
      operationId: ConnectionMonitors_List
      parameters:
        - description: The name of the resource group containing Network Watcher.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Network Watcher resource.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Successful connection monitor enumeration request.
          schema:
            $ref: "#/definitions/ConnectionMonitorListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: The error object.
            properties:
              error:
                description: Common error details representation.
                properties:
                  code:
                    description: Error code.
                    type: string
                  message:
                    description: Error message.
                    type: string
                  target:
                    description: Error target.
                    type: string
      tags:
        - ConnectionMonitors
      x-ms-examples:
        List connection monitors:
          parameters:
            api-version: 2019-06-01
            networkWatcherName: nw1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - etag: W/"00000000-0000-0000-0000-000000000000"
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1/connectionMonitors/cm1
                    location: centraluseuap
                    name: cm1
                    properties:
                      autoStart: true
                      destination:
                        address: bing.com
                        port: 80
                      monitoringIntervalInSeconds: 60
                      monitoringStatus: Running
                      provisioningState: Succeeded
                      source:
                        port: 0
                        resourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachines/vm1
                      startTime: 2018-01-08T03:42:33.3387305Z
                    type: Microsoft.Network/networkWatchers/connectionMonitors
                  - etag: W/"00000000-0000-0000-0000-000000000000"
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1/connectionMonitors/cm2
                    location: centraluseuap
                    name: cm2
                    properties:
                      autoStart: true
                      destination:
                        address: google.com
                        port: 80
                      monitoringIntervalInSeconds: 30
                      monitoringStatus: Running
                      provisioningState: Succeeded
                      source:
                        port: 0
                        resourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachines/vm2
                      startTime: 2018-01-08T05:42:33.3387305Z
                    type: Microsoft.Network/networkWatchers/connectionMonitors
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectionMonitors/{connectionMonitorName}":
    delete:
      description: Deletes the specified connection monitor.
      operationId: ConnectionMonitors_Delete
      parameters:
        - description: The name of the resource group containing Network Watcher.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Network Watcher resource.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - description: The name of the connection monitor.
          in: path
          name: connectionMonitorName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "202":
          description: Accepted. The operation will complete asynchronously.
        "204":
          description: Delete successful.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: The error object.
            properties:
              error:
                description: Common error details representation.
                properties:
                  code:
                    description: Error code.
                    type: string
                  message:
                    description: Error message.
                    type: string
                  target:
                    description: Error target.
                    type: string
      tags:
        - ConnectionMonitors
      x-ms-examples:
        Delete connection monitor:
          parameters:
            api-version: 2019-06-01
            connectionMonitorName: cm1
            networkWatcherName: nw1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      description: Gets a connection monitor by name.
      operationId: ConnectionMonitors_Get
      parameters:
        - description: The name of the resource group containing Network Watcher.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Network Watcher resource.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - description: The name of the connection monitor.
          in: path
          name: connectionMonitorName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns a connection monitor.
          schema:
            $ref: "#/definitions/ConnectionMonitorResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: The error object.
            properties:
              error:
                description: Common error details representation.
                properties:
                  code:
                    description: Error code.
                    type: string
                  message:
                    description: Error message.
                    type: string
                  target:
                    description: Error target.
                    type: string
      tags:
        - ConnectionMonitors
      x-ms-examples:
        Get connection monitor:
          parameters:
            api-version: 2019-06-01
            connectionMonitorName: cm1
            networkWatcherName: nw1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1/connectionMonitors/cm1
                location: centraluseuap
                name: cm1
                properties:
                  autoStart: true
                  destination:
                    address: bing.com
                    port: 80
                  monitoringIntervalInSeconds: 60
                  monitoringStatus: Running
                  provisioningState: Succeeded
                  source:
                    port: 0
                    resourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachines/vm1
                  startTime: 2018-01-08T03:42:33.3387305Z
                type: Microsoft.Network/networkWatchers/connectionMonitors
    patch:
      description: Update tags of the specified connection monitor.
      operationId: ConnectionMonitors_UpdateTags
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network watcher.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - description: The name of the connection monitor.
          in: path
          name: connectionMonitorName
          required: true
          type: string
        - description: Parameters supplied to update connection monitor tags.
          in: body
          name: parameters
          required: true
          schema:
            description: Tags object for patch operations.
            properties:
              tags:
                additionalProperties:
                  type: string
                description: Resource tags.
                type: object
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns updated connection monitor.
          schema:
            $ref: "#/definitions/ConnectionMonitorResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: The error object.
            properties:
              error:
                description: Common error details representation.
                properties:
                  code:
                    description: Error code.
                    type: string
                  message:
                    description: Error message.
                    type: string
                  target:
                    description: Error target.
                    type: string
      tags:
        - ConnectionMonitors
      x-ms-examples:
        Update connection monitor tags:
          parameters:
            api-version: 2019-06-01
            connectionMonitorName: cm1
            networkWatcherName: nw1
            parameters:
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"00000000-0000-0000-0000-000000000000"
                id: /subscriptions/subid/`/rg1/providers/Microsoft.Network/networkWatchers/nw1/connectionMonitors/cm1
                location: westcentralus
                name: cm1
                properties:
                  autoStart: true
                  destination:
                    address: bing.com
                    port: 80
                  monitoringIntervalInSeconds: 60
                  monitoringStatus: Running
                  provisioningState: Succeeded
                  source:
                    port: 0
                    resourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachines/vm1
                  startTime: 2019-09-04T02:48:10.6797393Z
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Network/networkWatchers/connectionMonitors
    put:
      description: Create or update a connection monitor.
      operationId: ConnectionMonitors_CreateOrUpdate
      parameters:
        - description: The name of the resource group containing Network Watcher.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Network Watcher resource.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - description: The name of the connection monitor.
          in: path
          name: connectionMonitorName
          required: true
          type: string
        - description: Parameters that define the operation to create a connection monitor.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ConnectionMonitor"
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Update successful. The operation returns the resulting network watcher resource.
          schema:
            $ref: "#/definitions/ConnectionMonitorResult"
        "201":
          description: Create successful. The operation returns the resulting network watcher resource.
          schema:
            $ref: "#/definitions/ConnectionMonitorResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: The error object.
            properties:
              error:
                description: Common error details representation.
                properties:
                  code:
                    description: Error code.
                    type: string
                  message:
                    description: Error message.
                    type: string
                  target:
                    description: Error target.
                    type: string
      tags:
        - ConnectionMonitors
      x-ms-examples:
        Create connection monitor:
          parameters:
            api-version: 2019-06-01
            connectionMonitorName: cm1
            networkWatcherName: nw1
            parameters:
              location: eastus
              properties:
                destination:
                  address: bing.com
                  port: 80
                monitoringIntervalInSeconds: 60
                source:
                  resourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachines/vm1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"e7497f26-5f09-4559-900b-fe98f3dedb6f"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1/connectionMonitors/cm1
                location: eastus
                name: cm1
                properties:
                  autoStart: true
                  destination:
                    address: bing.com
                    port: 80
                  monitoringIntervalInSeconds: 60
                  monitoringStatus: NotStarted
                  provisioningState: Updating
                  source:
                    port: 0
                    resourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachines/vm1
                type: Microsoft.Network/networkWatchers/connectionMonitors
            "201":
              body:
                etag: W/"e7497f26-5f09-4559-900b-fe98f3dedb6f"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkWatchers/nw1/connectionMonitors/cm1
                location: eastus
                name: cm1
                properties:
                  autoStart: true
                  destination:
                    address: bing.com
                    port: 80
                  monitoringIntervalInSeconds: 60
                  monitoringStatus: NotStarted
                  provisioningState: Updating
                  source:
                    port: 0
                    resourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Compute/virtualMachines/vm1
                type: Microsoft.Network/networkWatchers/connectionMonitors
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectionMonitors/{connectionMonitorName}/query":
    post:
      description: Query a snapshot of the most recent connection states.
      operationId: ConnectionMonitors_Query
      parameters:
        - description: The name of the resource group containing Network Watcher.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Network Watcher resource.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - description: The name given to the connection monitor.
          in: path
          name: connectionMonitorName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Successful query of connection states.
          schema:
            $ref: "#/definitions/ConnectionMonitorQueryResult"
        "202":
          description: Accepted query of connection states.
          schema:
            $ref: "#/definitions/ConnectionMonitorQueryResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: The error object.
            properties:
              error:
                description: Common error details representation.
                properties:
                  code:
                    description: Error code.
                    type: string
                  message:
                    description: Error message.
                    type: string
                  target:
                    description: Error target.
                    type: string
      tags:
        - ConnectionMonitors
      x-ms-examples:
        Query connection monitor:
          parameters:
            api-version: 2019-06-01
            connectionMonitorName: cm1
            networkWatcherName: nw1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                sourceStatus: Active
                states:
                  - connectionState: Reachable
                    endTime: 2018-01-08T05:12:41.5265438Z
                    evaluationState: Completed
                    hops:
                      - address: 10.1.1.4
                        id: 7dbbe7aa-60ba-4650-831e-63d775d38e9e
                        issues: []
                        nextHopIds:
                          - 75c8d819-b208-4584-a311-1aa45ce753f9
                        resourceId: subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/nic0/ipConfigurations/ipconfig1
                        type: Source
                      - address: 192.168.100.4
                        id: 75c8d819-b208-4584-a311-1aa45ce753f9
                        issues: []
                        nextHopIds: []
                        resourceId: subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/nic1/ipConfigurations/ipconfig1
                        type: VirtualNetwork
                    startTime: 2018-01-08T03:42:33.3387305Z
            "202":
              body:
                sourceStatus: Active
                states:
                  - connectionState: Reachable
                    endTime: 2018-01-08T05:12:41.5265438Z
                    evaluationState: Completed
                    hops:
                      - address: 10.1.1.4
                        id: 7dbbe7aa-60ba-4650-831e-63d775d38e9e
                        issues: []
                        nextHopIds:
                          - 75c8d819-b208-4584-a311-1aa45ce753f9
                        resourceId: subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/nic0/ipConfigurations/ipconfig1
                        type: Source
                      - address: 192.168.100.4
                        id: 75c8d819-b208-4584-a311-1aa45ce753f9
                        issues: []
                        nextHopIds: []
                        resourceId: subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkInterfaces/nic1/ipConfigurations/ipconfig1
                        type: VirtualNetwork
                    startTime: 2018-01-08T03:42:33.3387305Z
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectionMonitors/{connectionMonitorName}/start":
    post:
      description: Starts the specified connection monitor.
      operationId: ConnectionMonitors_Start
      parameters:
        - description: The name of the resource group containing Network Watcher.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Network Watcher resource.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - description: The name of the connection monitor.
          in: path
          name: connectionMonitorName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation starts the connection monitor.
        "202":
          description: Accepted. The operation will complete asynchronously.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: The error object.
            properties:
              error:
                description: Common error details representation.
                properties:
                  code:
                    description: Error code.
                    type: string
                  message:
                    description: Error message.
                    type: string
                  target:
                    description: Error target.
                    type: string
      tags:
        - ConnectionMonitors
      x-ms-examples:
        Start connection monitor:
          parameters:
            api-version: 2019-06-01
            connectionMonitorName: cm1
            networkWatcherName: nw1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkWatchers/{networkWatcherName}/connectionMonitors/{connectionMonitorName}/stop":
    post:
      description: Stops the specified connection monitor.
      operationId: ConnectionMonitors_Stop
      parameters:
        - description: The name of the resource group containing Network Watcher.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Network Watcher resource.
          in: path
          name: networkWatcherName
          required: true
          type: string
        - description: The name of the connection monitor.
          in: path
          name: connectionMonitorName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation stops the connection monitor.
        "202":
          description: Accepted. The operation will complete asynchronously.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: The error object.
            properties:
              error:
                description: Common error details representation.
                properties:
                  code:
                    description: Error code.
                    type: string
                  message:
                    description: Error message.
                    type: string
                  target:
                    description: Error target.
                    type: string
      tags:
        - ConnectionMonitors
      x-ms-examples:
        Stop connection monitor:
          parameters:
            api-version: 2019-06-01
            connectionMonitorName: cm1
            networkWatcherName: nw1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
definitions:
  ConnectionMonitor:
    description: Parameters that define the operation to create a connection monitor.
    properties:
      location:
        description: Connection monitor location.
        type: string
      properties:
        $ref: "#/definitions/ConnectionMonitorParameters"
        description: Properties of the connection monitor.
        x-ms-client-flatten: true
      tags:
        additionalProperties:
          type: string
        description: Connection monitor tags.
        type: object
    required:
      - properties
  ConnectionMonitorDestination:
    description: Describes the destination of connection monitor.
    properties:
      address:
        description: Address of the connection monitor destination (IP or domain name).
        type: string
      port:
        description: The destination port used by connection monitor.
        type: integer
      resourceId:
        description: The ID of the resource used as the destination by connection monitor.
        type: string
  ConnectionMonitorListResult:
    description: List of connection monitors.
    properties:
      value:
        description: Information about connection monitors.
        items:
          $ref: "#/definitions/ConnectionMonitorResult"
        type: array
  ConnectionMonitorParameters:
    description: Parameters that define the operation to create a connection monitor.
    properties:
      autoStart:
        default: true
        description: Determines if the connection monitor will start automatically once created.
        type: boolean
      destination:
        $ref: "#/definitions/ConnectionMonitorDestination"
        description: Describes the destination of connection monitor.
      monitoringIntervalInSeconds:
        default: 60
        description: Monitoring interval in seconds.
        type: integer
      source:
        $ref: "#/definitions/ConnectionMonitorSource"
        description: Describes the source of connection monitor.
    required:
      - source
      - destination
  ConnectionMonitorQueryResult:
    description: List of connection states snapshots.
    properties:
      sourceStatus:
        description: Status of connection monitor source.
        enum:
          - Unknown
          - Active
          - Inactive
        type: string
        x-ms-enum:
          modelAsString: true
          name: ConnectionMonitorSourceStatus
      states:
        description: Information about connection states.
        items:
          $ref: "#/definitions/ConnectionStateSnapshot"
        type: array
  ConnectionMonitorResult:
    description: Information about the connection monitor.
    properties:
      etag:
        default: A unique read-only string that changes whenever the resource is updated.
        description: A unique read-only string that changes whenever the resource is updated.
        type: string
      id:
        description: ID of the connection monitor.
        readOnly: true
        type: string
      location:
        description: Connection monitor location.
        type: string
      name:
        description: Name of the connection monitor.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/ConnectionMonitorResultProperties"
        description: Properties of the connection monitor result.
        x-ms-client-flatten: true
      tags:
        additionalProperties:
          type: string
        description: Connection monitor tags.
        type: object
      type:
        description: Connection monitor type.
        readOnly: true
        type: string
    x-ms-azure-resource: true
  ConnectionMonitorResultProperties:
    allOf:
      - $ref: "#/definitions/ConnectionMonitorParameters"
    description: Describes the properties of a connection monitor.
    properties:
      monitoringStatus:
        description: The monitoring status of the connection monitor.
        type: string
      provisioningState:
        description: The current provisioning state.
        enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProvisioningState
      startTime:
        description: The date and time when the connection monitor was started.
        format: date-time
        type: string
  ConnectionMonitorSource:
    description: Describes the source of connection monitor.
    properties:
      port:
        description: The source port used by connection monitor.
        type: integer
      resourceId:
        description: The ID of the resource used as the source by connection monitor.
        type: string
    required:
      - resourceId
  ConnectionStateSnapshot:
    description: Connection state snapshot.
    properties:
      avgLatencyInMs:
        description: Average latency in ms.
        type: integer
      connectionState:
        description: The connection state.
        enum:
          - Reachable
          - Unreachable
          - Unknown
        type: string
        x-ms-enum:
          modelAsString: true
          name: ConnectionState
      endTime:
        description: The end time of the connection snapshot.
        format: date-time
        type: string
      evaluationState:
        description: Connectivity analysis evaluation state.
        enum:
          - NotStarted
          - InProgress
          - Completed
        type: string
        x-ms-enum:
          modelAsString: true
          name: EvaluationState
      hops:
        description: List of hops between the source and the destination.
        items:
          description: Information about a hop between the source and the destination.
          properties:
            address:
              description: The IP address of the hop.
              readOnly: true
              type: string
            id:
              description: The ID of the hop.
              readOnly: true
              type: string
            issues:
              description: List of issues.
              items:
                description: Information about an issue encountered in the process of checking for connectivity.
                properties:
                  context:
                    description: Provides additional context on the issue.
                    items:
                      additionalProperties:
                        type: string
                      description: A key-value pair that provides additional context on the issue.
                      type: object
                    readOnly: true
                    type: array
                  origin:
                    description: The origin of the issue.
                    enum:
                      - Local
                      - Inbound
                      - Outbound
                    readOnly: true
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: Origin
                  severity:
                    description: The severity of the issue.
                    enum:
                      - Error
                      - Warning
                    readOnly: true
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: Severity
                  type:
                    description: The type of issue.
                    enum:
                      - Unknown
                      - AgentStopped
                      - GuestFirewall
                      - DnsResolution
                      - SocketBind
                      - NetworkSecurityRule
                      - UserDefinedRoute
                      - PortThrottled
                      - Platform
                    readOnly: true
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: IssueType
              readOnly: true
              type: array
            nextHopIds:
              description: List of next hop identifiers.
              items:
                type: string
              readOnly: true
              type: array
            resourceId:
              description: The ID of the resource corresponding to this hop.
              readOnly: true
              type: string
            type:
              description: The type of the hop.
              readOnly: true
              type: string
        readOnly: true
        type: array
      maxLatencyInMs:
        description: Maximum latency in ms.
        type: integer
      minLatencyInMs:
        description: Minimum latency in ms.
        type: integer
      probesFailed:
        description: The number of failed probes.
        type: integer
      probesSent:
        description: The number of sent probes.
        type: integer
      startTime:
        description: The start time of the connection snapshot.
        format: date-time
        type: string
