openapi: 3.0.0
servers:
  - url: https://api.icons8.com
info:
  description: |-
    # Icons8 API

    Icons8 API allows us to search and obtain [our icons](https://icons8.com/web-app).

    You're welcome to use our icons to extend the functionality of your web and mobile applications, website templates, and even tattoos.

    ![Tattoos](https://cdn.rawgit.com/icons8/api-docs/cff6fdf0/tattoos.svg)

    ## Usage Examples

    Some examples of what you can do with our icons:

    * **Template customization.** This way, [Canva](https://www.canva.com/) uses our icons to customize their layouts.

    * **Graphics and text editors.** [Gravit](https://gravit.io/) allows to insert our icons into the mockups.

    * **Any application with customization.** [TimeTune](http://timetune.center/) uses our icons to customize the activities.

    ## Getting Started

    To get started, please [contact us](https://icons8.com/contact) to obtain an API key.

    ## Pricing

    Our API license starts at $100/month.
  title: Use a [New Version](https://icons8.github.io/icons8-docs/) Instead
  version: 1.0.0
  x-apisguru-categories:
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_icons_8_profile_image.jpeg
  x-origin:
    - converter:
        url: https://github.com/mermade/oas-kit
        version: 7.0.4
      format: apiBlueprint
      url: https://raw.githubusercontent.com/icons8/api-docs/master/apiary.apib
      version: 1A
  x-providerName: icons8.com
tags:
  - description: |-
      ## Platform

      Attributes and parameters named `platform` or `platform_api_code` or `platform_code` all indicate the style of the icons.
      We’re sorry we have various parameters meaning the same.

      `platform` | Icon style | Example
      ---:|---|---
      win8 | icons in the Microsoft Windows 8/Metro style | [example](https://icons8.com/windows-8-icons/)
      win10 | icons in the Microsoft Windows 10/Threshold style | [example](https://icons8.com/download-huge-windows8-set/)
      ios7 | icons in the Apple iOS 7/8/9/10 style | [example](https://icons8.com/free-ios-7-icons-in-vector/)
      android | icons in the Google Android 4 Kitkat style | [example](https://icons8.com/android-kitkat-icons/)
      androidL | icons in the Google Android 5 Lollipop (Material) style | [example](https://icons8.com/android-icons/)
      color | flat color icons | [example](https://icons8.com/color-icons/)
      office | icons in the Microsoft Office style | [example](https://icons8.com/office-icons/)

      ## Language

      Icon names, categories and tags are localized. Here's the list of supported languages:

      `language` | Language name
      ---|---
      `en-US` | English
      `fr-FR` | French
      `de-DE` | German
      `it-IT` | Italian
      `pt-BR` | Portuguese
      `pl-PL` | Polish
      `ru-RU` | Russian
      `es-ES` | Spanish
      `zh-CN` | Chinese
      `ja-JP` | Japanese

      The primary language is English - if we do not translate something, it will be in English.
    name: Parameters
paths:
  "/api/iconsets/v3/categories?platform={platform}&language={language}":
    get:
      description: |-
        The operation will not return the categories that have less than 10 icons.
        We need it to test the categories without showing garbage on the production website.
      operationId: Categories
      parameters:
        - description: the platform that we are searching icons for
          in: path
          name: platform
          required: true
          schema:
            enum:
              - ios7
              - win8
              - win10
              - android
              - androidL
              - color
              - office
            type: string
        - description: the language code to get localized result
          example: en-US
          in: path
          name: language
          required: true
          schema:
            enum:
              - en-US
              - fr-FR
              - de-DE
              - it-IT
              - pt-BR
              - pl-PL
              - ru-RU
              - es-ES
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    parameters:
                      language: ""
                      platform: ""
                    result:
                      categories:
                        - category_code: ""
                          category_name: ""
                          subcategory:
                            - icons:
                                - common_icon_id: 0
                                  created: ""
                                  features:
                                    bitmap: 0
                                    nolink: 0
                                    vector: 0
                                  id: 0
                                  name: ""
                                  platform_code: ""
                                  svg: ""
                                  url: ""
                              subcategory_code: ""
                              subcategory_name: ""
                        - api_code: Alphabet
                          category_code: ""
                          category_name: ""
                          name: Alphabet
                          subcategory:
                            - icons:
                                - common_icon_id: 0
                                  created: ""
                                  features:
                                    bitmap: 0
                                    nolink: 0
                                    vector: 0
                                  id: 0
                                  name: ""
                                  platform_code: ""
                                  svg: ""
                                  url: ""
                              subcategory_code: ""
                              subcategory_name: ""
                        - api_code: Very_Basic
                          category_code: ""
                          category_name: ""
                          name: Very Basic
                          subcategory:
                            - icons:
                                - common_icon_id: 0
                                  created: ""
                                  features:
                                    bitmap: 0
                                    nolink: 0
                                    vector: 0
                                  id: 0
                                  name: ""
                                  platform_code: ""
                                  svg: ""
                                  url: ""
                              subcategory_code: ""
                              subcategory_name: ""
                        - api_code: Photo_Video
                          category_code: ""
                          category_name: ""
                          name: Photo and Video
                          subcategory:
                            - icons:
                                - common_icon_id: 0
                                  created: ""
                                  features:
                                    bitmap: 0
                                    nolink: 0
                                    vector: 0
                                  id: 0
                                  name: ""
                                  platform_code: ""
                                  svg: ""
                                  url: ""
                              subcategory_code: ""
                              subcategory_name: ""
              schema:
                properties:
                  parameters:
                    description: copy of the input parameters from the request
                    properties:
                      language:
                        type: string
                      platform:
                        type: string
                    type: object
                  result:
                    description: the result of operation
                    properties:
                      categories:
                        items: {}
                        type: array
                    type: object
                type: object
          description: OK
          headers: {}
      summary: Categories
      tags: []
  "/api/iconsets/v3/category?category={category}&subcategory={subcategory}&amount={amount}&offset={offset}&platform={platform}&language={language}":
    get:
      description: ""
      operationId: By Category
      parameters:
        - description: the code of category
          example: free_icons
          in: path
          name: category
          required: true
          schema:
            type: string
        - description: the code of subcategory
          example: home_appliances
          in: path
          name: subcategory
          required: true
          schema:
            type: string
        - description: the maximum number of icons which you'd like to receive
          in: path
          name: amount
          required: true
          schema:
            default: 25
            type: number
        - description: the offset from the first received result
          in: path
          name: offset
          required: true
          schema:
            type: number
        - description: the style of the icons
          in: path
          name: platform
          required: true
          schema:
            enum:
              - ios7
              - win8
              - win10
              - android
              - androidL
              - color
              - office
            type: string
        - description: the language code to get localized result
          example: en-US
          in: path
          name: language
          required: true
          schema:
            enum:
              - en-US
              - fr-FR
              - de-DE
              - it-IT
              - pt-BR
              - pl-PL
              - ru-RU
              - es-ES
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    parameters:
                      amount: 0
                      category: ""
                      language: ""
                      offset: ""
                      platform: ""
                      subcategory: ""
                    result:
                      category:
                        - category_code: ""
                          category_name: ""
                          subcategory:
                            - icons:
                                - common_icon_id: 0
                                  created: ""
                                  features:
                                    bitmap: 0
                                    nolink: 0
                                    vector: 0
                                  id: 0
                                  name: ""
                                  platform_code: ""
                                  svg: ""
                                  url: ""
                              subcategory_code: ""
                              subcategory_name: ""
                        - category: Very Basic
                          common_icon_id: "72"
                          created: 2015-05-21T05:28:59+00:00
                          features:
                            bitmap: "1"
                            nolink: "1"
                            vector: "1"
                          id: "12229"
                          name: Home
                          platform_code: color
                          share:
                            png:
                              - link: https://maxcdn.icons8.com/Share/google/h/home.png
                              - link: https://maxcdn.icons8.com/Share/twitter/h/home.png
                                type: twitter
                              - link: https://maxcdn.icons8.com/Share/social/h/home.png
                                type: social
                            url: http://ic8.link/12229
                          subcategory:
                            api_code: website_sections
                            name: Website Sections
                          svg: /* Plain SVG content here */
                          url: /web-app/12229/home
                          vector:
                            eps: absolute/private/url/to/home.eps
                            pdf: absolute/private/url/to/home.pdf
                            svg-editable: absolute/private/url/to/original/home.svg
                            svg-simplified: absolute/private/url/to/simplified/home.svg
              schema:
                properties:
                  parameters:
                    description: copy of the input parameters from the request
                    properties:
                      amount:
                        type: number
                      category:
                        type: string
                      language:
                        type: string
                      offset:
                        type: string
                      platform:
                        type: string
                      subcategory:
                        type: string
                    type: object
                  result:
                    description: the result of operation
                    properties:
                      category:
                        items: {}
                        type: array
                    type: object
                type: object
          description: OK
          headers: {}
      summary: By Category
      tags: []
  "/api/iconsets/v3/latest?term={term}&amount={amount}&offset={offset}&platform={platform}&language={language}":
    get:
      description: ""
      operationId: Latest
      parameters:
        - description: the maximum number of icons which you'd like to receive
          in: path
          name: amount
          required: true
          schema:
            default: 25
            type: number
        - description: the offset from the first received result
          in: path
          name: offset
          required: true
          schema:
            type: number
        - description: the style of the icons
          in: path
          name: platform
          required: true
          schema:
            enum:
              - ios7
              - win8
              - win10
              - android
              - androidL
              - color
              - office
            type: string
        - description: the language code to get localized result
          example: en-US
          in: path
          name: language
          required: true
          schema:
            enum:
              - en-US
              - fr-FR
              - de-DE
              - it-IT
              - pt-BR
              - pl-PL
              - ru-RU
              - es-ES
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    parameters:
                      amount: 0
                      language: ""
                      offset: ""
                      platform: ""
                      term: ""
                    result:
                      latest:
                        - common_icon_id: 0
                          created: color
                          features:
                            bitmap: 0
                            nolink: 0
                            vector: 0
                          id: 0
                          name: ""
                          platform_code: ""
                          share:
                            png:
                              - link: ""
                            url: ""
                          subcategory:
                            api_code: ""
                            name: ""
                          svg: ""
                          vector:
                            eps: ""
                            pdf: ""
                            svg-simplified: ""
                        - common_icon_id: "72"
                          created: 2015-05-21T05:28:59+00:00
                          features:
                            bitmap: "1"
                            nolink: "1"
                            vector: "1"
                          id: "12229"
                          name: Home
                          platform_code: color
                          share:
                            png:
                              - link: https://maxcdn.icons8.com/Share/google/h/home.png
                              - link: https://maxcdn.icons8.com/Share/twitter/h/home.png
                                type: twitter
                              - link: https://maxcdn.icons8.com/Share/social/h/home.png
                                type: social
                            url: http://ic8.link/12229
                          subcategory:
                            api_code: ""
                            name: ""
                          svg: ""
                          url: /web-app/12229/home
                          vector:
                            eps: ""
                            pdf: ""
                            svg-simplified: ""
              schema:
                properties:
                  parameters:
                    description: copy of the input parameters from the request
                    properties:
                      amount:
                        type: number
                      language:
                        type: string
                      offset:
                        type: string
                      platform:
                        type: string
                      term:
                        type: string
                    type: object
                  result:
                    description: the result of operation
                    properties:
                      latest:
                        items: {}
                        type: array
                    type: object
                type: object
          description: OK
          headers: {}
      summary: Latest
      tags: []
  "/api/iconsets/v3/search?term={term}&amount={amount}&offset={offset}&platform={platform}&language={language}&exact_amount={exact_amount}":
    get:
      description: ""
      operationId: By Keyword v3
      parameters:
        - description: |
            the name or tag of the icon or any other phrase.
            e.g. use "@home" to find icons with the tag "home" and "=home" to find icons with the name "home"
          example: home
          in: path
          name: term
          required: true
          schema:
            type: string
        - description: the maximum number of icons which you'd like to receive (will be multiplied by platforms count, if you didn't specify the platform and didn't set the 'exact_amount' parameter)
          in: path
          name: amount
          required: true
          schema:
            default: 25
            type: number
        - description: set it to 'true' if you'd like to receive the exact amount of icons, not multiplied by platforms count
          in: path
          name: exact_amount
          required: true
          schema:
            type: boolean
        - description: the offset from the first received result
          in: path
          name: offset
          required: true
          schema:
            type: number
        - description: the style of the icons
          in: path
          name: platform
          required: true
          schema:
            enum:
              - ios7
              - win8
              - win10
              - android
              - androidL
              - color
              - office
            type: string
        - description: the language code to get localized result
          example: en-US
          in: path
          name: language
          required: true
          schema:
            enum:
              - en-US
              - fr-FR
              - de-DE
              - it-IT
              - pt-BR
              - pl-PL
              - ru-RU
              - es-ES
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    parameters:
                      amount: 0
                      language: ""
                      offset: ""
                      platform: ""
                      term: ""
                    result:
                      search:
                        - common_icon_id: 0
                          created: color
                          features:
                            bitmap: 0
                            nolink: 0
                            vector: 0
                          id: 0
                          name: ""
                          platform_code: ""
                          share:
                            png:
                              - link: ""
                            url: ""
                          subcategory:
                            api_code: ""
                            name: ""
                          svg: ""
                          vector:
                            eps: ""
                            pdf: ""
                            svg-simplified: ""
                        - category: Very Basic
                          common_icon_id: "72"
                          created: 2015-05-21T05:28:59+00:00
                          features:
                            bitmap: "1"
                            nolink: "1"
                            vector: "1"
                          id: "12229"
                          name: Home
                          platform_code: color
                          share:
                            png:
                              - link: https://maxcdn.icons8.com/Share/google/h/home.png
                              - link: https://maxcdn.icons8.com/Share/twitter/h/home.png
                                type: twitter
                              - link: https://maxcdn.icons8.com/Share/social/h/home.png
                                type: social
                            url: http://ic8.link/12229
                          subcategory:
                            api_code: website_sections
                            name: Website Sections
                          svg: /* Plain SVG content here */
                          url: /web-app/12229/home
                          vector:
                            eps: absolute/private/url/to/home.eps
                            pdf: absolute/private/url/to/home.pdf
                            svg-editable: absolute/private/url/to/original/home.svg
                            svg-simplified: absolute/private/url/to/simplified/home.svg
              schema:
                properties:
                  parameters:
                    description: copy of the input parameters from the request
                    properties:
                      amount:
                        type: number
                      language:
                        type: string
                      offset:
                        type: string
                      platform:
                        type: string
                      term:
                        type: string
                    type: object
                  result:
                    description: the result of operation
                    properties:
                      search:
                        items: {}
                        type: array
                    type: object
                type: object
          description: OK
          headers: {}
      summary: By Keyword v3
      tags: []
  "/api/iconsets/v3/total?since={since}":
    get:
      description: ""
      operationId: Totals
      parameters:
        - description: |
            the optional date to calculate the total number of icons that were created after it.
            It should be in format "four year digits - dash - two month number digits - dash - two day number digits. For example 2014-12-31 means "31th of December, 2014".
          example: 2014-12-31
          in: path
          name: since
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    parameters:
                      since: ""
                    result:
                      total:
                        - api_code: ios7
                          name: ""
                          total: 0
                        - api_code: win8
                          name: Windows 8/Metro
                          total: "802"
                        - api_code: ios7
                          name: iPhone/iOS 7
                          total: "7379"
              schema:
                properties:
                  parameters:
                    description: copy of the input parameters from the request
                    properties:
                      since:
                        type: string
                    type: object
                  result:
                    description: the result of operation
                    properties:
                      total:
                        items: {}
                        type: array
                    type: object
                type: object
          description: OK
          headers: {}
      summary: Totals
      tags: []
  "/api/iconsets/v4/search?term={term}&amount={amount}&offset={offset}&platform={platform}&language={language}&exact_amount={exact_amount}":
    get:
      description: ""
      operationId: By Keyword v4
      parameters:
        - description: |
            the name or tag of the icon or any other phrase.
            e.g. use "@home" to find icons with the tag "home" and "=home" to find icons with the name "home"
          example: home
          in: path
          name: term
          required: true
          schema:
            type: string
        - description: the maximum number of icons which you'd like to receive (will be multiplied by platforms count, if you didn't specify the platform and didn't set the 'exact_amount' parameter)
          in: path
          name: amount
          required: true
          schema:
            default: 50
            type: number
        - description: the offset from the first received result
          in: path
          name: offset
          required: true
          schema:
            type: number
        - description: the style of the icons
          in: path
          name: platform
          required: true
          schema:
            default: all
            enum:
              - all
              - ios7
              - ios11
              - win8
              - win10
              - android
              - androidL
              - color
              - office
              - ultraviolet
              - nolan
              - p1em
              - dotty
              - dusk
              - Dusk_Wired
              - cotton
              - doodle
              - flat_round
            type: string
        - description: the language code to get localized result
          in: path
          name: language
          required: true
          schema:
            default: en-US
            enum:
              - en-US
              - fr-FR
              - de-DE
              - it-IT
              - pt-BR
              - pl-PL
              - ru-RU
              - es-ES
              - zh-CN
              - ja-JP
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    icons:
                      - category: Travel
                        commonId: "3022"
                        commonName: sea-waves
                        id: "23756"
                        name: Sea Waves
                        platform: win10
                        timestamp: "1461024690"
                      - category: Animals
                        commonId: "3035"
                        commonName: starfish
                        id: "19995"
                        name: Sea Star
                        platform: win10
                        timestamp: "1450119085"
                    parameters:
                      amount `50`: ""
                      language: en-US
                      offset: "0"
                      platform: win10
                      term: sea
              schema:
                properties:
                  icons:
                    description: the result of operation
                    items: {}
                    type: array
                  parameters:
                    description: copy of the input parameters from the request
                    properties:
                      amount `50`:
                        type: string
                      language:
                        type: string
                      offset:
                        type: string
                      platform:
                        type: string
                      term:
                        type: string
                    type: object
                type: object
          description: OK
          headers: {}
      summary: By Keyword v4
      tags: []
  /api/task/web-font/collection:
    post:
      description: ""
      operationId: From a Collection
      requestBody:
        $ref: "#/components/requestBodies/From_a_CollectionBody"
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    messages:
                      - code: paid_feature
                        description: Icons "dog", "cat" and 5 more were excluded
                      - code: not_possible
                        description: Icons "dog-color" and "cat-color" were excluded
                    result:
                      description: ""
                      id: abc-def
                      results:
                        zip: https://st.icons8.com/zip/abc-def/icons8-font.zip
                      status: complete
                      type: create_web_font
              schema:
                properties:
                  messages:
                    items: {}
                    type: array
                  result:
                    properties:
                      description:
                        description: human readable description
                        type: string
                      id:
                        description: task identifier
                        type: string
                      results:
                        properties:
                          zip:
                            type: string
                        type: object
                      status:
                        description: task status
                        type: string
                      type:
                        description: task type
                        type: string
                    required:
                      - id
                      - type
                      - status
                    type: object
                type: object
          description: OK
          headers: {}
      summary: From a Collection
      tags: []
  /api/task/web-font/icons:
    post:
      description: ""
      operationId: From Separate Icons
      requestBody:
        $ref: "#/components/requestBodies/From_a_CollectionBody"
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    messages:
                      - code: paid_feature
                        description: Icons "dog", "cat" and 5 more were excluded
                      - code: not_possible
                        description: Icons "dog-color" and "cat-color" were excluded
                    result:
                      description: ""
                      id: abc-def
                      results:
                        zip: https://st.icons8.com/zip/abc-def/icons8-font.zip
                      status: complete
                      type: create_web_font
              schema:
                properties:
                  messages:
                    items: {}
                    type: array
                  result:
                    properties:
                      description:
                        description: human readable description
                        type: string
                      id:
                        description: task identifier
                        type: string
                      results:
                        properties:
                          zip:
                            type: string
                        type: object
                      status:
                        description: task status
                        type: string
                      type:
                        description: task type
                        type: string
                    required:
                      - id
                      - type
                      - status
                    type: object
                type: object
          description: OK
          headers: {}
      summary: From Separate Icons
      tags: []
components:
  requestBodies:
    From_a_CollectionBody:
      content:
        application/json:
          schema:
            example:
              auth:
                hash: api-demo-user
              task:
                arguments:
                  collection: bef787ce-41ad-4424-8e0e-19ce78e104c3
                  css_prefix: icons8
                  css_rules_case: lowercase
                  css_selector: .icons8-{{glyph}}
                  font_name: Material Very Basic
            properties:
              auth:
                properties:
                  hash:
                    description: Authorization hash
                    type: string
                required:
                  - hash
                type: object
              task:
                properties:
                  arguments:
                    properties:
                      collection:
                        description: collection identifier
                        type: string
                      css_prefix:
                        default: icons8
                        description: prefix for CSS rules, used to generate LESS/SCSS
                        type: string
                      css_rules_case:
                        default: lowercase
                        description: glyph names conversion rule
                        enum:
                          - lowercase
                          - as_is
                        type: string
                      css_selector:
                        default: .icons8-{{glyph}}
                        description: template for glyph selector; placeholder {{glyph}} will be replaced with glyph names
                        type: string
                      font_name:
                        default: font_icons8
                        description: name of iconic webfont
                        type: string
                    required:
                      - collection
                      - font_name
                    type: object
                type: object
            type: object
  schemas:
    AuthArgument:
      properties:
        hash:
          description: Authorization hash
          type: string
      required:
        - hash
      type: object
    CategoryV3Item:
      properties:
        category_code:
          type: string
        category_name:
          type: string
        subcategory:
          items: {}
          type: array
      type: object
    CollectionWebFontTaskArguments:
      properties:
        arguments:
          properties:
            collection:
              description: collection identifier
              type: string
            css_prefix:
              description: prefix for CSS rules, used to generate LESS/SCSS
              type: string
            css_rules_case:
              description: glyph names conversion rule
              enum:
                - lowercase
                - as_is
              type: string
            css_selector:
              description: template for glyph selector; placeholder {{glyph}} will be replaced with glyph names
              type: string
            font_name:
              description: name of iconic webfont
              type: string
          required:
            - collection
            - font_name
          type: object
      type: object
    CompactCategoryV3Item:
      properties:
        api_code:
          type: string
        name:
          type: string
      required:
        - name
        - api_code
      type: object
    CompactIconV3Item:
      properties:
        category:
          type: string
        common_icon_id:
          description: identifier for group of the same icons in different styles; i.e. id of all "home" icons
          type: number
        created:
          description: date (ISO8601 format) of icon was published
          type: string
        features:
          description: internal service attribute; internal information about icon features; private; depend on the rights of the current user
          properties:
            bitmap:
              description: '"Could user use images in bitmap / raster formats in any size ?"'
              type: number
            nolink:
              description: '"Could user use images without any link to Icons8 ?"'
              type: number
            vector:
              description: '"Could user use images in vector formats ?"'
              type: number
          required:
            - bitmap
            - vector
            - nolink
          type: object
        id:
          description: unique icon identifier
          type: number
        name:
          description: icon name
          type: string
        platform_code:
          description: icon style
          type: string
        share:
          description: internal service attribute; some links to spread the world
          properties:
            png:
              description: some raster images for share the icon
              items: {}
              type: array
            url:
              description: short URL to use in twitter
              type: string
          type: object
        subcategory:
          properties:
            api_code:
              type: string
            name:
              type: string
          required:
            - name
            - api_code
          type: object
        svg:
          description: plain SVG content of icon
          type: string
        url:
          description: internal service attribute; the meaning of this attribute is "Identifier of thread at Disquss"
          type: string
        vector:
          description: URLs to icon sources in different vector formats; private; depend on the current user and could be opened in user's browser only
          properties:
            eps:
              description: absolute URL to file in EPS format
              type: string
            pdf:
              description: absolute URL to file in PDF format
              type: string
            svg-editable:
              description: absolute URL to original SVG file
              type: string
            svg-simplified:
              description: absolute URL to compressed and simplified SVG file
              type: string
          type: object
      required:
        - id
        - name
        - platform_code
        - created
        - common_icon_id
        - svg
        - features
      type: object
    IconV3Item:
      allOf:
        - $ref: "#/components/schemas/CompactIconV3Item"
        - properties:
            category:
              type: string
            common_icon_id:
              description: identifier for group of the same icons in different styles; i.e. id of all "home" icons
              type: number
            created:
              description: date (ISO8601 format) of icon was published
              type: string
            features:
              description: internal service attribute; internal information about icon features; private; depend on the rights of the current user
              properties:
                bitmap:
                  description: '"Could user use images in bitmap / raster formats in any size ?"'
                  type: number
                nolink:
                  description: '"Could user use images without any link to Icons8 ?"'
                  type: number
                vector:
                  description: '"Could user use images in vector formats ?"'
                  type: number
              required:
                - bitmap
                - vector
                - nolink
              type: object
            id:
              description: unique icon identifier
              type: number
            name:
              description: icon name
              type: string
            platform_code:
              description: icon style
              type: string
            share:
              description: internal service attribute; some links to spread the world
              properties:
                png:
                  description: some raster images for share the icon
                  items: {}
                  type: array
                url:
                  description: short URL to use in twitter
                  type: string
              type: object
            subcategory:
              properties:
                api_code:
                  type: string
                name:
                  type: string
              required:
                - name
                - api_code
              type: object
            svg:
              description: plain SVG content of icon
              type: string
            url:
              description: internal service attribute; the meaning of this attribute is "Identifier of thread at Disquss"
              type: string
            vector:
              description: URLs to icon sources in different vector formats; private; depend on the current user and could be opened in user's browser only
              properties:
                eps:
                  description: absolute URL to file in EPS format
                  type: string
                pdf:
                  description: absolute URL to file in PDF format
                  type: string
                svg-editable:
                  description: absolute URL to original SVG file
                  type: string
                svg-simplified:
                  description: absolute URL to compressed and simplified SVG file
                  type: string
              type: object
          required:
            - id
            - name
            - platform_code
            - created
            - common_icon_id
            - svg
            - features
          type: object
    Meta: {}
    Search: {}
    TaskError:
      properties:
        code:
          description: error code
          enum:
            - json_not_valid
            - auth_required
            - auth_failed
            - access_denied
            - io_fail
            - database_fail
            - argument_is_missed
            - argument_is_wrong
            - paid_feature
            - not_possible
          type: string
        description:
          description: human readable error message
          type: string
      required:
        - code
        - description
      type: object
    TaskResult:
      properties:
        description:
          description: human readable description
          type: string
        id:
          description: task identifier
          type: string
        results:
          properties:
            zip:
              description: URL to webfont files in ZIP format
              type: string
          type: object
        status:
          description: task status
          enum:
            - "`preparing+"
            - idle
            - in_progress
            - timeout
            - complete
            - failed
          type: string
        type:
          description: task type
          enum:
            - create_web_font
            - create_svg_set
          type: string
      required:
        - id
        - type
        - status
      type: object
    TotalV3Item:
      properties:
        api_code:
          description: icons style code; in other places it named `plarform` or `platform_api_code`
          enum:
            - ios7
            - win8
            - win10
            - android
            - androidL
            - color
            - office
          type: string
        name:
          type: string
        total:
          type: number
      required:
        - name
        - api_code
        - total
      type: object
    Web_Fonts: {}
