{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.interzoid.com"
    }
  ],
  "info": {
    "contact": {
      "email": "support@interzoid.com",
      "name": "API Support",
      "url": "https://www.interzoid.com",
      "x-twitter": "interzoid"
    },
    "description": "This API provides a similarity key used to match with other similar full name data when data fields are parsed into first name and last name components, including for purposes of deduplication, fuzzy matching, or merging of datasets. A much higher match rate will be achieved by matching on the similarity key rather than the data itself. This API is for full name data where first and last name are in separate fields. Use the Full Name Similarity Key API for first and last name data that are in the same field.",
    "license": {
      "name": "Interzoid license",
      "url": "https://www.interzoid.com/license"
    },
    "termsOfService": "https://www.interzoid.com/terms",
    "title": "Interzoid Get Full Name Parsed Match Similarity Key API",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "developer_tools"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_interzoid_profile_image.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://oas.interzoid.com/api/getfullnameparsedmatch.json",
        "version": "3.0"
      }
    ],
    "x-providerName": "interzoid.com",
    "x-serviceName": "getfullnameparsedmatch"
  },
  "externalDocs": {
    "description": "API home page and documentation",
    "url": "https://www.interzoid.com/services/getfullnameparsedmatch"
  },
  "paths": {
    "/getfullnameparsedmatch": {
      "get": {
        "description": "Gets a similarity key for matching purposes for parsed full name data, where the first name and last name are split into separate fields in the source data rather than combined.",
        "operationId": "getfullnameparsedmatch",
        "parameters": [
          {
            "description": "Your Interzoid license API key. Register at www.interzoid.com/register",
            "in": "query",
            "name": "license",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "First name from which to generate similarity key",
            "in": "query",
            "name": "firstname",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Last name from which to generate similarity key",
            "in": "query",
            "name": "lastname",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Code": {
                      "type": "string"
                    },
                    "Credits": {
                      "type": "string"
                    },
                    "Simkey": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Generated similarity key for parsed full name data"
          },
          "400": {
            "description": "bad request - insufficient parameters"
          },
          "402": {
            "description": "credits exhausted"
          },
          "403": {
            "description": "invalid license API key"
          },
          "405": {
            "description": "method not allowed"
          },
          "500": {
            "description": "internal server error"
          }
        },
        "summary": "Gets a similarity key for matching purposes for parsed full name data",
        "tags": [
          "Full Name Parsed Similarity Key"
        ]
      }
    }
  }
}