{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "hydramovies.com",
  "basePath": "/api-v2/%3Fsource=http:/hydramovies.com/api-v2",
  "info": {
    "description": "Hydra Movies is a streaming service that holds information on thousands of popular movies. \n\nThe Hydra Movies API gives you access to [their entire collection of full movies.](https://hydramovies.com)\n\nEach film returned provides you with the following data:\n\n- Movie Title\n- Movie Release Year\n- Genre\n- Movie Summary\n- Movie Poster\n- IMDB ID\n- IMDB Rating\n- Runtime\n- Language\n- YouTube trailer",
    "title": "Hydra Movies",
    "version": "1.1",
    "x-apisguru-categories": [
      "entertainment"
    ],
    "x-origin": [
      {
        "format": "swagger",
        "url": "http://hydramovies.com/api-v2/swagger.yaml",
        "version": "2.0"
      }
    ],
    "x-providerName": "hydramovies.com",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg"
    }
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/current-Movie-Data.csv&imdb_id={IMDBid}": {
      "get": {
        "description": "Returns a movie using the films unique IMDB identifier",
        "operationId": "CurrentMovieDataCsvGet",
        "parameters": [
          {
            "description": "IMDB ID of the movie to return",
            "in": "path",
            "name": "IMDBid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [],
        "summary": "getMovieByIMDBid",
        "tags": [
          "Movies"
        ],
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    },
    "/current-Movie-Data.csv&movie_year={MovieYear}": {
      "get": {
        "description": "Returns a movie based on the year of its release",
        "operationId": "CurrentMovieDataCsvGet2",
        "parameters": [
          {
            "description": "Release year of the movies to return",
            "in": "path",
            "name": "MovieYear",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        },
        "security": [],
        "summary": "getMovieByYear",
        "tags": [
          "Movies"
        ],
        "x-operation-settings": {
          "AllowDynamicFormParameters": false,
          "AllowDynamicQueryParameters": false,
          "CollectParameters": false,
          "IsMultiContentStreaming": false
        },
        "x-unitTests": []
      }
    }
  }
}