swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2016-06-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2016-06-01/network.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: network
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
  - text/json
produces:
  - application/json
  - text/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGateways":
    get:
      description: The List ApplicationGateway operation retrieves all the application gateways in a subscription.
      operationId: ApplicationGateways_ListAll
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ApplicationGatewayListResult"
      tags:
        - ApplicationGateways
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteCircuits":
    get:
      description: The List ExpressRouteCircuit operation retrieves all the ExpressRouteCircuits in a subscription.
      operationId: ExpressRouteCircuits_ListAll
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteCircuitListResult"
      tags:
        - ExpressRouteCircuits
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteServiceProviders":
    get:
      description: The List ExpressRouteServiceProvider operation retrieves all the available ExpressRouteServiceProviders.
      operationId: ExpressRouteServiceProviders_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteServiceProviderListResult"
      tags:
        - ExpressRouteServiceProviders
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/loadBalancers":
    get:
      description: The List loadBalancer operation retrieves all the load balancers in a subscription.
      operationId: LoadBalancers_ListAll
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/LoadBalancerListResult"
      tags:
        - LoadBalancers
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/CheckDnsNameAvailability":
    get:
      description: Checks whether a domain name in the cloudapp.net zone is available for use.
      operationId: CheckDnsNameAvailability
      parameters:
        - description: The location of the domain name
          in: path
          name: location
          required: true
          type: string
        - description: "The domain name to be verified. It must conform to the following regular expression: ^[a-z][a-z0-9-]{1,61}[a-z0-9]$."
          in: query
          name: domainNameLabel
          required: false
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/DnsNameAvailabilityResult"
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/usages":
    get:
      description: Lists compute usages for a subscription.
      operationId: Usages_List
      parameters:
        - description: The location upon which resource usage is queried.
          in: path
          name: location
          pattern: ^[-\w\._]+$
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/UsagesListResult"
      tags:
        - Usages
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkInterfaces":
    get:
      description: The List networkInterfaces operation retrieves all the networkInterfaces in a subscription.
      operationId: NetworkInterfaces_ListAll
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/NetworkInterfaceListResult"
      tags:
        - NetworkInterfaces
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkSecurityGroups":
    get:
      description: The list NetworkSecurityGroups returns all network security groups in a subscription
      operationId: NetworkSecurityGroups_ListAll
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/NetworkSecurityGroupListResult"
      tags:
        - NetworkSecurityGroups
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/publicIPAddresses":
    get:
      description: The List publicIpAddress operation retrieves all the publicIpAddresses in a subscription.
      operationId: PublicIPAddresses_ListAll
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/PublicIPAddressListResult"
      tags:
        - PublicIPAddresses
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/routeTables":
    get:
      description: The list RouteTables returns all route tables in a subscription
      operationId: RouteTables_ListAll
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/RouteTableListResult"
      tags:
        - RouteTables
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualNetworks":
    get:
      description: The list VirtualNetwork returns all Virtual Networks in a subscription
      operationId: VirtualNetworks_ListAll
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/VirtualNetworkListResult"
      tags:
        - VirtualNetworks
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways":
    get:
      description: The List ApplicationGateway operation retrieves all the application gateways in a resource group.
      operationId: ApplicationGateways_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ApplicationGatewayListResult"
      tags:
        - ApplicationGateways
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}":
    delete:
      description: The delete ApplicationGateway operation deletes the specified application gateway.
      operationId: ApplicationGateways_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the application gateway.
          in: path
          name: applicationGatewayName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - ApplicationGateways
      x-ms-long-running-operation: true
    get:
      description: The Get ApplicationGateway operation retrieves information about the specified application gateway.
      operationId: ApplicationGateways_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the application gateway.
          in: path
          name: applicationGatewayName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ApplicationGateway"
      tags:
        - ApplicationGateways
    put:
      description: The Put ApplicationGateway operation creates/updates a ApplicationGateway
      operationId: ApplicationGateways_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the ApplicationGateway.
          in: path
          name: applicationGatewayName
          required: true
          type: string
        - description: Parameters supplied to the create/delete ApplicationGateway operation
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ApplicationGateway"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ApplicationGateway"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/ApplicationGateway"
      tags:
        - ApplicationGateways
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/start":
    post:
      description: The Start ApplicationGateway operation starts application gateway in the specified resource group through Network resource provider.
      operationId: ApplicationGateways_Start
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the application gateway.
          in: path
          name: applicationGatewayName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
      tags:
        - ApplicationGateways
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/stop":
    post:
      description: The STOP ApplicationGateway operation stops application gateway in the specified resource group through Network resource provider.
      operationId: ApplicationGateways_Stop
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the application gateway.
          in: path
          name: applicationGatewayName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
      tags:
        - ApplicationGateways
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections":
    get:
      description: The List VirtualNetworkGatewayConnections operation retrieves all the virtual network gateways connections created.
      operationId: VirtualNetworkGatewayConnections_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/VirtualNetworkGatewayConnectionListResult"
      tags:
        - VirtualNetworkGatewayConnections
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}":
    delete:
      description: The Delete VirtualNetworkGatewayConnection operation deletes the specified virtual network Gateway connection through Network resource provider.
      operationId: VirtualNetworkGatewayConnections_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway connection.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - VirtualNetworkGatewayConnections
      x-ms-long-running-operation: true
    get:
      description: The Get VirtualNetworkGatewayConnection operation retrieves information about the specified virtual network gateway connection through Network resource provider.
      operationId: VirtualNetworkGatewayConnections_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway connection.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/VirtualNetworkGatewayConnection"
      tags:
        - VirtualNetworkGatewayConnections
    put:
      description: The Put VirtualNetworkGatewayConnection operation creates/updates a virtual network gateway connection in the specified resource group through Network resource provider.
      operationId: VirtualNetworkGatewayConnections_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway connection.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          type: string
        - description: Parameters supplied to the Begin Create or update Virtual Network Gateway connection operation through Network resource provider.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/VirtualNetworkGatewayConnection"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/VirtualNetworkGatewayConnection"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/VirtualNetworkGatewayConnection"
      tags:
        - VirtualNetworkGatewayConnections
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/sharedkey":
    get:
      description: The Get VirtualNetworkGatewayConnectionSharedKey operation retrieves information about the specified virtual network gateway connection shared key through Network resource provider.
      operationId: VirtualNetworkGatewayConnections_GetSharedKey
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The virtual network gateway connection shared key name.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ConnectionSharedKeyResult"
      tags:
        - VirtualNetworkGatewayConnections
    put:
      description: The Put VirtualNetworkGatewayConnectionSharedKey operation sets the virtual network gateway connection shared key for passed virtual network gateway connection in the specified resource group through Network resource provider.
      operationId: VirtualNetworkGatewayConnections_SetSharedKey
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The virtual network gateway connection name.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          type: string
        - description: Parameters supplied to the Begin Set Virtual Network Gateway connection Shared key operation throughNetwork resource provider.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ConnectionSharedKey"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ConnectionSharedKey"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/ConnectionSharedKey"
      tags:
        - VirtualNetworkGatewayConnections
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/sharedkey/reset":
    post:
      description: The VirtualNetworkGatewayConnectionResetSharedKey operation resets the virtual network gateway connection shared key for passed virtual network gateway connection in the specified resource group through Network resource provider.
      operationId: VirtualNetworkGatewayConnections_ResetSharedKey
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The virtual network gateway connection reset shared key Name.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          type: string
        - description: Parameters supplied to the Begin Reset Virtual Network Gateway connection shared key operation through Network resource provider.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ConnectionResetSharedKey"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ConnectionResetSharedKey"
        "202":
          description: ""
      tags:
        - VirtualNetworkGatewayConnections
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits":
    get:
      description: The List ExpressRouteCircuit operation retrieves all the ExpressRouteCircuits in a resource group.
      operationId: ExpressRouteCircuits_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteCircuitListResult"
      tags:
        - ExpressRouteCircuits
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}":
    delete:
      description: The delete ExpressRouteCircuit operation deletes the specified ExpressRouteCircuit.
      operationId: ExpressRouteCircuits_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route Circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - ExpressRouteCircuits
      x-ms-long-running-operation: true
    get:
      description: The Get ExpressRouteCircuit operation retrieves information about the specified ExpressRouteCircuit.
      operationId: ExpressRouteCircuits_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteCircuit"
      tags:
        - ExpressRouteCircuits
    put:
      description: The Put ExpressRouteCircuit operation creates/updates a ExpressRouteCircuit
      operationId: ExpressRouteCircuits_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: Parameters supplied to the create/delete ExpressRouteCircuit operation
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ExpressRouteCircuit"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteCircuit"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteCircuit"
      tags:
        - ExpressRouteCircuits
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/authorizations":
    get:
      description: The List authorization operation retrieves all the authorizations in an ExpressRouteCircuit.
      operationId: ExpressRouteCircuitAuthorizations_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/AuthorizationListResult"
      tags:
        - ExpressRouteCircuitAuthorizations
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/authorizations/{authorizationName}":
    delete:
      description: The delete authorization operation deletes the specified authorization from the specified ExpressRouteCircuit.
      operationId: ExpressRouteCircuitAuthorizations_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the authorization.
          in: path
          name: authorizationName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - ExpressRouteCircuitAuthorizations
      x-ms-long-running-operation: true
    get:
      description: The GET authorization operation retrieves the specified authorization from the specified ExpressRouteCircuit.
      operationId: ExpressRouteCircuitAuthorizations_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the authorization.
          in: path
          name: authorizationName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteCircuitAuthorization"
      tags:
        - ExpressRouteCircuitAuthorizations
    put:
      description: The Put Authorization operation creates/updates an authorization in the specified ExpressRouteCircuits
      operationId: ExpressRouteCircuitAuthorizations_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the authorization.
          in: path
          name: authorizationName
          required: true
          type: string
        - description: Parameters supplied to the create/update ExpressRouteCircuitAuthorization operation
          in: body
          name: authorizationParameters
          required: true
          schema:
            $ref: "#/definitions/ExpressRouteCircuitAuthorization"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteCircuitAuthorization"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteCircuitAuthorization"
      tags:
        - ExpressRouteCircuitAuthorizations
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings":
    get:
      description: The List peering operation retrieves all the peerings in an ExpressRouteCircuit.
      operationId: ExpressRouteCircuitPeerings_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteCircuitPeeringListResult"
      tags:
        - ExpressRouteCircuitPeerings
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}":
    delete:
      description: The delete peering operation deletes the specified peering from the ExpressRouteCircuit.
      operationId: ExpressRouteCircuitPeerings_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - ExpressRouteCircuitPeerings
      x-ms-long-running-operation: true
    get:
      description: The GET peering operation retrieves the specified authorization from the ExpressRouteCircuit.
      operationId: ExpressRouteCircuitPeerings_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteCircuitPeering"
      tags:
        - ExpressRouteCircuitPeerings
    put:
      description: The Put Peering operation creates/updates an peering in the specified ExpressRouteCircuits
      operationId: ExpressRouteCircuitPeerings_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          type: string
        - description: Parameters supplied to the create/update ExpressRouteCircuit Peering operation
          in: body
          name: peeringParameters
          required: true
          schema:
            $ref: "#/definitions/ExpressRouteCircuitPeering"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteCircuitPeering"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteCircuitPeering"
      tags:
        - ExpressRouteCircuitPeerings
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/arpTables/{devicePath}":
    post:
      description: The ListArpTable from ExpressRouteCircuit operation retrieves the currently advertised arp table associated with the ExpressRouteCircuits in a resource group.
      operationId: ExpressRouteCircuits_ListArpTable
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          type: string
        - description: The path of the device.
          in: path
          name: devicePath
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteCircuitsArpTableListResult"
        "202":
          description: ""
      tags:
        - ExpressRouteCircuitArpTable
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/routeTables/{devicePath}":
    post:
      description: The ListRoutesTable from ExpressRouteCircuit operation retrieves the currently advertised routes table associated with the ExpressRouteCircuits in a resource group.
      operationId: ExpressRouteCircuits_ListRoutesTable
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          type: string
        - description: The path of the device.
          in: path
          name: devicePath
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteCircuitsRoutesTableListResult"
        "202":
          description: ""
      tags:
        - ExpressRouteCircuitRoutesTable
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/routeTablesSummary/{devicePath}":
    post:
      description: The ListRoutesTable from ExpressRouteCircuit operation retrieves the currently advertised routes table associated with the ExpressRouteCircuits in a resource group.
      operationId: ExpressRouteCircuits_ListRoutesTableSummary
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          type: string
        - description: The path of the device.
          in: path
          name: devicePath
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteCircuitsRoutesTableSummaryListResult"
        "202":
          description: ""
      tags:
        - ExpressRouteCircuitRoutesTableSummary
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/stats":
    get:
      description: The List stats ExpressRouteCircuit operation retrieves all the stats from a ExpressRouteCircuits in a resource group.
      operationId: ExpressRouteCircuits_GetPeeringStats
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteCircuitStats"
      tags:
        - ExpressRouteCircuitStats
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/stats":
    get:
      description: The List stats ExpressRouteCircuit operation retrieves all the stats from a ExpressRouteCircuits in a resource group.
      operationId: ExpressRouteCircuits_GetStats
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteCircuitStats"
      tags:
        - ExpressRouteCircuitStats
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers":
    get:
      description: The List loadBalancer operation retrieves all the load balancers in a resource group.
      operationId: LoadBalancers_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/LoadBalancerListResult"
      tags:
        - LoadBalancers
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}":
    delete:
      description: The delete LoadBalancer operation deletes the specified load balancer.
      operationId: LoadBalancers_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the loadBalancer.
          in: path
          name: loadBalancerName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - LoadBalancers
      x-ms-long-running-operation: true
    get:
      description: The Get LoadBalancer operation retrieves information about the specified LoadBalancer.
      operationId: LoadBalancers_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the loadBalancer.
          in: path
          name: loadBalancerName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: expand references resources.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/LoadBalancer"
      tags:
        - LoadBalancers
    put:
      description: The Put LoadBalancer operation creates/updates a LoadBalancer
      operationId: LoadBalancers_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the loadBalancer.
          in: path
          name: loadBalancerName
          required: true
          type: string
        - description: Parameters supplied to the create/delete LoadBalancer operation
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/LoadBalancer"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/LoadBalancer"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/LoadBalancer"
      tags:
        - LoadBalancers
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways":
    get:
      description: The List LocalNetworkGateways operation retrieves all the local network gateways stored.
      operationId: LocalNetworkGateways_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/LocalNetworkGatewayListResult"
      tags:
        - LocalNetworkGateways
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways/{localNetworkGatewayName}":
    delete:
      description: The Delete LocalNetworkGateway operation deletes the specified local network Gateway through Network resource provider.
      operationId: LocalNetworkGateways_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the local network gateway.
          in: path
          name: localNetworkGatewayName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - LocalNetworkGateways
      x-ms-long-running-operation: true
    get:
      description: The Get LocalNetworkGateway operation retrieves information about the specified local network gateway through Network resource provider.
      operationId: LocalNetworkGateways_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the local network gateway.
          in: path
          name: localNetworkGatewayName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/LocalNetworkGateway"
      tags:
        - LocalNetworkGateways
    put:
      description: The Put LocalNetworkGateway operation creates/updates a local network gateway in the specified resource group through Network resource provider.
      operationId: LocalNetworkGateways_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the local network gateway.
          in: path
          name: localNetworkGatewayName
          required: true
          type: string
        - description: Parameters supplied to the Begin Create or update Local Network Gateway operation through Network resource provider.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/LocalNetworkGateway"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/LocalNetworkGateway"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/LocalNetworkGateway"
      tags:
        - LocalNetworkGateways
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces":
    get:
      description: The List networkInterfaces operation retrieves all the networkInterfaces in a resource group.
      operationId: NetworkInterfaces_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/NetworkInterfaceListResult"
      tags:
        - NetworkInterfaces
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}":
    delete:
      description: The delete networkInterface operation deletes the specified networkInterface.
      operationId: NetworkInterfaces_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network interface.
          in: path
          name: networkInterfaceName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - NetworkInterfaces
      x-ms-long-running-operation: true
    get:
      description: The Get network interface operation retrieves information about the specified network interface.
      operationId: NetworkInterfaces_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network interface.
          in: path
          name: networkInterfaceName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: expand references resources.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/NetworkInterface"
      tags:
        - NetworkInterfaces
    put:
      description: The Put NetworkInterface operation creates/updates a networkInterface
      operationId: NetworkInterfaces_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network interface.
          in: path
          name: networkInterfaceName
          required: true
          type: string
        - description: Parameters supplied to the create/update NetworkInterface operation
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/NetworkInterface"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/NetworkInterface"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/NetworkInterface"
      tags:
        - NetworkInterfaces
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}/effectiveNetworkSecurityGroups":
    post:
      description: The list effective network security group operation retrieves all the network security groups applied on a networkInterface.
      operationId: NetworkInterfaces_ListEffectiveNetworkSecurityGroups
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network interface.
          in: path
          name: networkInterfaceName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/EffectiveNetworkSecurityGroupListResult"
        "202":
          description: ""
      tags:
        - NetworkInterfaces
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}/effectiveRouteTable":
    post:
      description: Retrieves all the route tables applied on a networkInterface.
      operationId: NetworkInterfaces_GetEffectiveRouteTable
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network interface.
          in: path
          name: networkInterfaceName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/EffectiveRouteListResult"
        "202":
          description: ""
      tags:
        - NetworkInterfaces
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityGroups":
    get:
      description: The list NetworkSecurityGroups returns all network security groups in a resource group
      operationId: NetworkSecurityGroups_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/NetworkSecurityGroupListResult"
      tags:
        - NetworkSecurityGroups
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityGroups/{networkSecurityGroupName}":
    delete:
      description: The Delete NetworkSecurityGroup operation deletes the specified network security group
      operationId: NetworkSecurityGroups_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network security group.
          in: path
          name: networkSecurityGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - NetworkSecurityGroups
      x-ms-long-running-operation: true
    get:
      description: The Get NetworkSecurityGroups operation retrieves information about the specified network security group.
      operationId: NetworkSecurityGroups_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network security group.
          in: path
          name: networkSecurityGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: expand references resources.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/NetworkSecurityGroup"
      tags:
        - NetworkSecurityGroups
    put:
      description: The Put NetworkSecurityGroup operation creates/updates a network security group in the specified resource group.
      operationId: NetworkSecurityGroups_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network security group.
          in: path
          name: networkSecurityGroupName
          required: true
          type: string
        - description: Parameters supplied to the create/update Network Security Group operation
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/NetworkSecurityGroup"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/NetworkSecurityGroup"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/NetworkSecurityGroup"
      tags:
        - NetworkSecurityGroups
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityGroups/{networkSecurityGroupName}/securityRules":
    get:
      description: The List network security rule operation retrieves all the security rules in a network security group.
      operationId: SecurityRules_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network security group.
          in: path
          name: networkSecurityGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/SecurityRuleListResult"
      tags:
        - SecurityRules
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityGroups/{networkSecurityGroupName}/securityRules/{securityRuleName}":
    delete:
      description: The delete network security rule operation deletes the specified network security rule.
      operationId: SecurityRules_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network security group.
          in: path
          name: networkSecurityGroupName
          required: true
          type: string
        - description: The name of the security rule.
          in: path
          name: securityRuleName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - SecurityRules
      x-ms-long-running-operation: true
    get:
      description: The Get NetworkSecurityRule operation retrieves information about the specified network security rule.
      operationId: SecurityRules_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network security group.
          in: path
          name: networkSecurityGroupName
          required: true
          type: string
        - description: The name of the security rule.
          in: path
          name: securityRuleName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/SecurityRule"
      tags:
        - SecurityRules
    put:
      description: The Put network security rule operation creates/updates a security rule in the specified network security group
      operationId: SecurityRules_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network security group.
          in: path
          name: networkSecurityGroupName
          required: true
          type: string
        - description: The name of the security rule.
          in: path
          name: securityRuleName
          required: true
          type: string
        - description: Parameters supplied to the create/update network security rule operation
          in: body
          name: securityRuleParameters
          required: true
          schema:
            $ref: "#/definitions/SecurityRule"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/SecurityRule"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/SecurityRule"
      tags:
        - SecurityRules
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/publicIPAddresses":
    get:
      description: The List publicIpAddress operation retrieves all the publicIpAddresses in a resource group.
      operationId: PublicIPAddresses_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/PublicIPAddressListResult"
      tags:
        - PublicIPAddresses
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/publicIPAddresses/{publicIpAddressName}":
    delete:
      description: The delete publicIpAddress operation deletes the specified publicIpAddress.
      operationId: PublicIPAddresses_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the subnet.
          in: path
          name: publicIpAddressName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - PublicIPAddresses
      x-ms-long-running-operation: true
    get:
      description: The Get publicIpAddress operation retrieves information about the specified pubicIpAddress
      operationId: PublicIPAddresses_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the subnet.
          in: path
          name: publicIpAddressName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: expand references resources.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/PublicIPAddress"
      tags:
        - PublicIPAddresses
    put:
      description: The Put PublicIPAddress operation creates/updates a stable/dynamic PublicIP address
      operationId: PublicIPAddresses_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the publicIpAddress.
          in: path
          name: publicIpAddressName
          required: true
          type: string
        - description: Parameters supplied to the create/update PublicIPAddress operation
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/PublicIPAddress"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/PublicIPAddress"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/PublicIPAddress"
      tags:
        - PublicIPAddresses
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/routeTables":
    get:
      description: The list RouteTables returns all route tables in a resource group
      operationId: RouteTables_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/RouteTableListResult"
      tags:
        - RouteTables
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/routeTables/{routeTableName}":
    delete:
      description: The Delete RouteTable operation deletes the specified Route Table
      operationId: RouteTables_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the route table.
          in: path
          name: routeTableName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - RouteTables
      x-ms-long-running-operation: true
    get:
      description: The Get RouteTables operation retrieves information about the specified route table.
      operationId: RouteTables_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the route table.
          in: path
          name: routeTableName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: expand references resources.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/RouteTable"
      tags:
        - RouteTables
    put:
      description: The Put RouteTable operation creates/updates a route table in the specified resource group.
      operationId: RouteTables_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the route table.
          in: path
          name: routeTableName
          required: true
          type: string
        - description: Parameters supplied to the create/update Route Table operation
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/RouteTable"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/RouteTable"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/RouteTable"
      tags:
        - RouteTables
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/routeTables/{routeTableName}/routes":
    get:
      description: The List network security rule operation retrieves all the routes in a route table.
      operationId: Routes_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the route table.
          in: path
          name: routeTableName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/RouteListResult"
      tags:
        - Routes
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/routeTables/{routeTableName}/routes/{routeName}":
    delete:
      description: The delete route operation deletes the specified route from a route table.
      operationId: Routes_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the route table.
          in: path
          name: routeTableName
          required: true
          type: string
        - description: The name of the route.
          in: path
          name: routeName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - Routes
      x-ms-long-running-operation: true
    get:
      description: The Get route operation retrieves information about the specified route from the route table.
      operationId: Routes_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the route table.
          in: path
          name: routeTableName
          required: true
          type: string
        - description: The name of the route.
          in: path
          name: routeName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Route"
      tags:
        - Routes
    put:
      description: The Put route operation creates/updates a route in the specified route table
      operationId: Routes_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the route table.
          in: path
          name: routeTableName
          required: true
          type: string
        - description: The name of the route.
          in: path
          name: routeName
          required: true
          type: string
        - description: Parameters supplied to the create/update route operation
          in: body
          name: routeParameters
          required: true
          schema:
            $ref: "#/definitions/Route"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Route"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/Route"
      tags:
        - Routes
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways":
    get:
      description: The List VirtualNetworkGateways operation retrieves all the virtual network gateways stored.
      operationId: VirtualNetworkGateways_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/VirtualNetworkGatewayListResult"
      tags:
        - VirtualNetworkGateways
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}":
    delete:
      description: The Delete VirtualNetworkGateway operation deletes the specified virtual network Gateway through Network resource provider.
      operationId: VirtualNetworkGateways_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - VirtualNetworkGateways
      x-ms-long-running-operation: true
    get:
      description: The Get VirtualNetworkGateway operation retrieves information about the specified virtual network gateway through Network resource provider.
      operationId: VirtualNetworkGateways_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/VirtualNetworkGateway"
      tags:
        - VirtualNetworkGateways
    put:
      description: The Put VirtualNetworkGateway operation creates/updates a virtual network gateway in the specified resource group through Network resource provider.
      operationId: VirtualNetworkGateways_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          type: string
        - description: Parameters supplied to the Begin Create or update Virtual Network Gateway operation through Network resource provider.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/VirtualNetworkGateway"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/VirtualNetworkGateway"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/VirtualNetworkGateway"
      tags:
        - VirtualNetworkGateways
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/generatevpnclientpackage":
    post:
      description: The Generatevpnclientpackage operation generates Vpn client package for P2S client of the virtual network gateway in the specified resource group through Network resource provider.
      operationId: VirtualNetworkGateways_Generatevpnclientpackage
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          type: string
        - description: Parameters supplied to the Begin Generating  Virtual Network Gateway Vpn client package operation through Network resource provider.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/VpnClientParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "202":
          description: Vpn client package url
          schema:
            type: string
      tags:
        - VirtualNetworkGateways
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/reset":
    post:
      description: The Reset VirtualNetworkGateway operation resets the primary of the virtual network gateway in the specified resource group through Network resource provider.
      operationId: VirtualNetworkGateways_Reset
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          type: string
        - description: Parameters supplied to the Begin Reset Virtual Network Gateway operation through Network resource provider.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/VirtualNetworkGateway"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/VirtualNetworkGateway"
        "202":
          description: ""
      tags:
        - VirtualNetworkGateways
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks":
    get:
      description: The list VirtualNetwork returns all Virtual Networks in a resource group
      operationId: VirtualNetworks_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/VirtualNetworkListResult"
      tags:
        - VirtualNetworks
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}":
    delete:
      description: The Delete VirtualNetwork operation deletes the specified virtual network
      operationId: VirtualNetworks_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - VirtualNetworks
      x-ms-long-running-operation: true
    get:
      description: The Get VirtualNetwork operation retrieves information about the specified virtual network.
      operationId: VirtualNetworks_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: expand references resources.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/VirtualNetwork"
      tags:
        - VirtualNetworks
    put:
      description: The Put VirtualNetwork operation creates/updates a virtual network in the specified resource group.
      operationId: VirtualNetworks_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - description: Parameters supplied to the create/update Virtual Network operation
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/VirtualNetwork"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/VirtualNetwork"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/VirtualNetwork"
      tags:
        - VirtualNetworks
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/CheckIPAddressAvailability":
    get:
      description: Checks whether a private Ip address is available for use.
      operationId: VirtualNetworks_CheckIPAddressAvailability
      parameters:
        - description: The private IP address to be verified.
          in: query
          name: ipAddress
          required: false
          type: string
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: private IP address availability and list of other free addresses if the requested one is not available
          schema:
            $ref: "#/definitions/IPAddressAvailabilityResult"
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/subnets":
    get:
      description: The List subnets operation retrieves all the subnets in a virtual network.
      operationId: Subnets_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/SubnetListResult"
      tags:
        - Subnets
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/subnets/{subnetName}":
    delete:
      description: The delete subnet operation deletes the specified subnet.
      operationId: Subnets_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - description: The name of the subnet.
          in: path
          name: subnetName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - Subnets
      x-ms-long-running-operation: true
    get:
      description: The Get subnet operation retrieves information about the specified subnet.
      operationId: Subnets_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - description: The name of the subnet.
          in: path
          name: subnetName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: expand references resources.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Subnet"
      tags:
        - Subnets
    put:
      description: The Put Subnet operation creates/updates a subnet in the specified virtual network
      operationId: Subnets_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - description: The name of the subnet.
          in: path
          name: subnetName
          required: true
          type: string
        - description: Parameters supplied to the create/update Subnet operation
          in: body
          name: subnetParameters
          required: true
          schema:
            $ref: "#/definitions/Subnet"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Subnet"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/Subnet"
      tags:
        - Subnets
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/virtualNetworkPeerings":
    get:
      description: The List virtual network peerings operation retrieves all the peerings in a virtual network.
      operationId: VirtualNetworkPeerings_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/VirtualNetworkPeeringListResult"
      tags:
        - VirtualNetworkPeerings
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/virtualNetworkPeerings/{virtualNetworkPeeringName}":
    delete:
      description: The delete virtual network peering operation deletes the specified peering.
      operationId: VirtualNetworkPeerings_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - description: The name of the virtual network peering.
          in: path
          name: virtualNetworkPeeringName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - VirtualNetworkPeerings
      x-ms-long-running-operation: true
    get:
      description: The Get virtual network peering operation retrieves information about the specified virtual network peering.
      operationId: VirtualNetworkPeerings_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - description: The name of the virtual network peering.
          in: path
          name: virtualNetworkPeeringName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/VirtualNetworkPeering"
      tags:
        - VirtualNetworkPeerings
    put:
      description: The Put virtual network peering operation creates/updates a peering in the specified virtual network
      operationId: VirtualNetworkPeerings_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - description: The name of the peering.
          in: path
          name: virtualNetworkPeeringName
          required: true
          type: string
        - description: Parameters supplied to the create/update virtual network peering operation
          in: body
          name: VirtualNetworkPeeringParameters
          required: true
          schema:
            $ref: "#/definitions/VirtualNetworkPeering"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/VirtualNetworkPeering"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/VirtualNetworkPeering"
      tags:
        - VirtualNetworkPeerings
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/networkInterfaces":
    get:
      description: The list network interface operation retrieves information about all network interfaces in a virtual machine scale set.
      operationId: NetworkInterfaces_ListVirtualMachineScaleSetNetworkInterfaces
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: virtualMachineScaleSetName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/NetworkInterfaceListResult"
      tags:
        - NetworkInterfaces
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces":
    get:
      description: The list network interface operation retrieves information about all network interfaces in a virtual machine from a virtual machine scale set.
      operationId: NetworkInterfaces_ListVirtualMachineScaleSetVMNetworkInterfaces
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: virtualMachineScaleSetName
          required: true
          type: string
        - description: The virtual machine index.
          in: path
          name: virtualmachineIndex
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/NetworkInterfaceListResult"
      tags:
        - NetworkInterfaces
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}":
    get:
      description: The Get network interface operation retrieves information about the specified network interface in a virtual machine scale set.
      operationId: NetworkInterfaces_GetVirtualMachineScaleSetNetworkInterface
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: virtualMachineScaleSetName
          required: true
          type: string
        - description: The virtual machine index.
          in: path
          name: virtualmachineIndex
          required: true
          type: string
        - description: The name of the network interface.
          in: path
          name: networkInterfaceName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: expand references resources.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/NetworkInterface"
      tags:
        - NetworkInterfaces
definitions:
  AddressSpace:
    description: AddressSpace contains an array of IP address ranges that can be used by subnets
    properties:
      addressPrefixes:
        description: Gets or sets list of address blocks reserved for this virtual network in CIDR notation
        items:
          type: string
        type: array
[...]
