swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Use these REST APIs to manage Azure API Management deployment.
  title: ApiManagementClient
  version: 2019-12-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/apimdeployment.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimdeployment
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters: {}
paths:
  /providers/Microsoft.ApiManagement/operations:
    get:
      description: Lists all of the available REST API operations of the Microsoft.ApiManagement provider.
      operationId: ApiManagementOperations_List
      parameters:
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: Success. The response describes the list of operations.
          schema:
            $ref: "#/definitions/OperationListResult"
      tags:
        - ApiManagementOperations
      x-ms-examples:
        ApiManagementListOperations:
          parameters:
            api-version: 2019-12-01-preview
          responses:
            "200":
              body:
                value:
                  - display:
                      description: Create a new instance of API Management Service
                      operation: Create a new instance of API Management Service
                      provider: Microsoft API Management
                      resource: Service
                    name: Microsoft.ApiManagement/service/write
                  - display:
                      description: Read metadata for an API Management Service instance
                      operation: Read metadata for an API Management Service instance
                      provider: Microsoft API Management
                      resource: Service
                    name: Microsoft.ApiManagement/service/read
                  - display:
                      description: Delete API Management Service instance
                      operation: Delete API Management Service instance
                      provider: Microsoft API Management
                      resource: Service
                    name: Microsoft.ApiManagement/service/delete
                  - display:
                      description: Creates or updates the diagnostic setting for API Management service
                      operation: Write diagnostic setting
                      provider: Microsoft API Management
                      resource: Service
                    name: Microsoft.ApiManagement/service/providers/Microsoft.Insights/diagnosticSettings/write
                    origin: system
                  - display:
                      description: Get list of operation results or Get result of a specific operation
                      operation: Get operation results or Get operation result
                      provider: Microsoft API Management
                      resource: Results of async operations
                    name: Microsoft.ApiManagement/service/tenant/operationResults/read
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.ApiManagement/checkNameAvailability":
    post:
      description: Checks availability and correctness of a name for an API Management service.
      operationId: ApiManagementService_CheckNameAvailability
      parameters:
        - description: Parameters supplied to the CheckNameAvailability operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ApiManagementServiceCheckNameAvailabilityParameters"
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: The result of check name availability.
          schema:
            $ref: "#/definitions/ApiManagementServiceNameAvailabilityResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - ApiManagementService
      x-ms-examples:
        ApiManagementServiceCheckNameAvailability:
          parameters:
            api-version: 2019-12-01-preview
            parameters:
              name: apimService1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                message: ""
                nameAvailable: true
                reason: Valid
  "/subscriptions/{subscriptionId}/providers/Microsoft.ApiManagement/service":
    get:
      description: Lists all API Management services within an Azure subscription.
      operationId: ApiManagementService_List
      parameters:
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: The API Management service list.
          schema:
            $ref: "#/definitions/ApiManagementServiceListResult"
      tags:
        - ApiManagementService
      x-ms-examples:
        ApiManagementListServiceBySubscription:
          parameters:
            api-version: 2019-12-01-preview
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - etag: AAAAAAAXXAQ=
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService3
                    location: West US
                    name: apimService3
                    properties:
                      additionalLocations:
                        - location: West Europe
                          publicIPAddresses:
                            - 52.233.184.197
                          sku:
                            capacity: 1
                            name: Premium
                      createdAtUtc: 2017-05-27T15:33:55.5426123Z
                      gatewayUrl: https://apimService3.azure-api.net
                      hostnameConfigurations: []
                      managementApiUrl: https://apimService3.management.azure-api.net
                      notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                      portalUrl: https://apimService3.portal.azure-api.net
                      provisioningState: Succeeded
                      publicIPAddresses:
                        - 13.88.16.64
                      publisherEmail: admin@live.com
                      publisherName: contoso
                      scmUrl: https://apimService3.scm.azure-api.net
                      targetProvisioningState: ""
                      virtualNetworkType: None
                    sku:
                      capacity: 1
                      name: Premium
                    tags: {}
                    type: Microsoft.ApiManagement/service
                  - etag: AAAAAAAXW4U=
                    id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.ApiManagement/service/apimService2
                    location: West US
                    name: apimService2
                    properties:
                      createdAtUtc: 2017-05-26T23:55:31.1405115Z
                      gatewayUrl: https://apimService2.azure-api.net
                      hostnameConfigurations: []
                      managementApiUrl: https://apimService2.management.azure-api.net
                      notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                      portalUrl: https://apimService2.portal.azure-api.net
                      provisioningState: Succeeded
                      publicIPAddresses:
                        - 13.64.237.151
                      publisherEmail: admin@live.com
                      publisherName: MS
                      scmUrl: https://apimService2.scm.azure-api.net
                      targetProvisioningState: ""
                      virtualNetworkType: None
                    sku:
                      capacity: 1
                      name: Developer
                    tags: {}
                    type: Microsoft.ApiManagement/service
                  - etag: AAAAAAAXW5c=
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService5
                    location: West US
                    name: apimService5
                    properties:
                      createdAtUtc: 2017-05-26T18:13:02.0196315Z
                      gatewayUrl: https://apimService5.azure-api.net
                      hostnameConfigurations:
                        - certificate:
                            expiry: 2018-03-17T21:55:07+00:00
                            subject: CN=proxytemplatehostname1.contoso.com
                            thumbprint: DE57B67BA63D21E925DA8BEFA436E6B7553A4C19
                          hostName: proxytemplatehostname1.contoso.com
                          negotiateClientCertificate: false
                          type: Proxy
                        - certificate:
                            expiry: 2018-03-17T21:55:07+00:00
                            subject: CN=proxytemplatehostname2.contoso.com
                            thumbprint: DE57B67BA63D21E925DA8BEFA436E6B7553A4C19
                          hostName: proxytemplatehostname2.contoso.com
                          negotiateClientCertificate: true
                          type: Proxy
                        - certificate:
                            expiry: 2018-03-17T21:55:07+00:00
                            subject: CN=proxytemplatehostname3.contoso.com
                            thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                          hostName: proxytemplatehostname3.azure-api.net
                          negotiateClientCertificate: false
                          type: Proxy
                        - certificate:
                            expiry: 2018-03-17T21:55:07+00:00
                            subject: CN=proxytemplatehostname4.contoso.com
                            thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                          hostName: proxytemplatehostname4.azure-api.net
                          negotiateClientCertificate: true
                          type: Proxy
                        - certificate:
                            expiry: 2018-03-17T21:55:07+00:00
                            subject: CN=portaltemplatehostname1.contoso.com
                            thumbprint: DE57B67BA63D21E925DA8BEFA436E6B7553A4C19
                          hostName: portaltemplatehostname1.contoso.com
                          negotiateClientCertificate: false
                          type: Portal
                      managementApiUrl: https://apimService5.management.azure-api.net
                      notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                      portalUrl: https://apimService5.portal.azure-api.net
                      provisioningState: Succeeded
                      publicIPAddresses:
                        - 13.93.167.166
                      publisherEmail: admin@live.com
                      publisherName: contoso
                      scmUrl: https://apimService5.scm.azure-api.net
                      targetProvisioningState: ""
                      virtualNetworkType: None
                    sku:
                      capacity: 1
                      name: Premium
                    tags: {}
                    type: Microsoft.ApiManagement/service
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service":
    get:
      description: List all API Management services within a resource group.
      operationId: ApiManagementService_ListByResourceGroup
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: The API Management service list.
          schema:
            $ref: "#/definitions/ApiManagementServiceListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - ApiManagementService
      x-ms-examples:
        ApiManagementListServiceBySubscriptionAndResourceGroup:
          parameters:
            api-version: 2019-12-01-preview
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - etag: AAAAAAAXXAQ=
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService3
                    location: West US
                    name: apimService3
                    properties:
                      additionalLocations:
                        - location: West Europe
                          publicIPAddresses:
                            - 52.233.184.197
                          sku:
                            capacity: 1
                            name: Premium
                      createdAtUtc: 2017-05-27T15:33:55.5426123Z
                      gatewayUrl: https://apimService3.azure-api.net
                      hostnameConfigurations: []
                      managementApiUrl: https://apimService3.management.azure-api.net
                      portalUrl: https://apimService3.portal.azure-api.net
                      provisioningState: Succeeded
                      publicIPAddresses:
                        - 13.88.16.64
                      publisherEmail: admin@live.com
                      publisherName: contoso
                      scmUrl: https://apimService3.scm.azure-api.net
                      targetProvisioningState: ""
                      virtualNetworkType: None
                    sku:
                      capacity: 1
                      name: Premium
                    tags: {}
                    type: Microsoft.ApiManagement/service
                  - etag: AAAAAAAXW4U=
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService2
                    location: West US
                    name: apimService2
                    properties:
                      createdAtUtc: 2017-05-26T23:55:31.1405115Z
                      gatewayUrl: https://apimService2.azure-api.net
                      hostnameConfigurations: []
                      managementApiUrl: https://apimService2.management.azure-api.net
                      portalUrl: https://apimService2.portal.azure-api.net
                      provisioningState: Succeeded
                      publicIPAddresses:
                        - 13.64.237.151
                      publisherEmail: admin@live.com
                      publisherName: MS
                      scmUrl: https://apimService2.scm.azure-api.net
                      targetProvisioningState: ""
                      virtualNetworkType: None
                    sku:
                      capacity: 1
                      name: Developer
                    tags: {}
                    type: Microsoft.ApiManagement/service
                  - etag: AAAAAAAXW5c=
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService5
                    location: West US
                    name: apimService5
                    properties:
                      createdAtUtc: 2017-05-26T18:13:02.0196315Z
                      gatewayUrl: https://apimService5.azure-api.net
                      hostnameConfigurations:
                        - certificate:
                            expiry: 2018-03-17T21:55:07+00:00
                            subject: CN=proxytemplatehostname1.contoso.com
                            thumbprint: DE57B67BA63D21E925DA8BEFA436E6B7553A4C19
                          hostName: proxytemplatehostname1.contoso.com
                          negotiateClientCertificate: false
                          type: Proxy
                        - certificate:
                            expiry: 2018-03-17T21:55:07+00:00
                            subject: CN=proxytemplatehostname2.contoso.com
                            thumbprint: DE57B67BA63D21E925DA8BEFA436E6B7553A4C19
                          hostName: proxytemplatehostname2.contoso.com
                          negotiateClientCertificate: true
                          type: Proxy
                        - certificate:
                            expiry: 2018-03-17T21:55:07+00:00
                            subject: CN=proxytemplatehostname3.contoso.com
                            thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                          hostName: proxytemplatehostname3.azure-api.net
                          negotiateClientCertificate: false
                          type: Proxy
                        - certificate:
                            expiry: 2018-03-17T21:55:07+00:00
                            subject: CN=proxytemplatehostname4.contoso.com
                            thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                          hostName: proxytemplatehostname4.azure-api.net
                          negotiateClientCertificate: true
                          type: Proxy
                        - certificate:
                            expiry: 2018-03-17T21:55:07+00:00
                            subject: CN=portaltemplatehostname1.contoso.com
                            thumbprint: DE57B67BA63D21E925DA8BEFA436E6B7553A4C19
                          hostName: portaltemplatehostname1.contoso.com
                          negotiateClientCertificate: false
                          type: Portal
                      managementApiUrl: https://apimService5.management.azure-api.net
                      portalUrl: https://apimService5.portal.azure-api.net
                      provisioningState: Succeeded
                      publicIPAddresses:
                        - 13.93.167.166
                      publisherEmail: admin@live.com
                      publisherName: contoso
                      scmUrl: https://apimService5.scm.azure-api.net
                      targetProvisioningState: ""
                      virtualNetworkType: None
                    sku:
                      capacity: 1
                      name: Premium
                    tags: {}
                    type: Microsoft.ApiManagement/service
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}":
    delete:
      description: Deletes an existing API Management service.
      operationId: ApiManagementService_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Service was successfully deleted.
        "202":
          description: The service delete request was Accepted.
          schema:
            $ref: "#/definitions/ApiManagementServiceResource"
        "204":
          description: The service does not exist.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - ApiManagementService
      x-ms-examples:
        ApiManagementServiceDeleteService:
          parameters:
            api-version: 2019-12-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200": {}
            "202":
              body:
                etag: AAAAAAFfhHY=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: West US
                name: apimService1
                properties:
                  createdAtUtc: 2016-12-20T19:41:21.5823069Z
                  customProperties:
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Protocols.Server.Http2: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Ssl30: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls10: "True"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls11: "True"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Ciphers.TripleDes168: "True"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Ssl30: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10: "True"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls11: "True"
                  gatewayRegionalUrl: https://apimService1-westus-01.regional.azure-api.net
                  gatewayUrl: https://apimService1.azure-api.net
                  hostnameConfigurations: []
                  managementApiUrl: https://apimService1.management.azure-api.net
                  notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publicIPAddresses:
                    - 40.XX.XXX.168
                  publisherEmail: contoso@live.com
                  publisherName: Microsoft
                  scmUrl: https://apimService1.scm.azure-api.net
                  targetProvisioningState: Deleting
                  virtualNetworkConfiguration:
                    subnetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/BlockVNETSamir/subnets/default
                  virtualNetworkType: External
                sku:
                  capacity: 1
                  name: Developer
                tags: {}
                type: Microsoft.ApiManagement/service
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/TGV2eTExMDZtMDJfVGVybV9jMmZlY2QwMA==?api-version=2019-12-01-preview
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets an API Management service resource description.
      operationId: ApiManagementService_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Successfully got the API Management Service Resource.
          schema:
            $ref: "#/definitions/ApiManagementServiceResource"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - ApiManagementService
      x-ms-examples:
        ApiManagementServiceGetMultiRegionInternalVnet:
          parameters:
            api-version: 2019-12-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAADqC0c=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimservice1
                location: West US
                name: apimservice1
                properties:
                  additionalLocations:
                    - disableGateway: false
                      gatewayRegionalUrl: https://apimservice1-westus2-01.regional.azure-api.net
                      location: West US 2
                      privateIPAddresses:
                        - 10.0.X.6
                      publicIPAddresses:
                        - 40.XXX.79.187
                      sku:
                        capacity: 1
                        name: Premium
                      virtualNetworkConfiguration:
                        subnetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/APIMVNet/subnets/apim-internal-sub
                  apiVersionConstraint: {}
                  createdAtUtc: 2019-12-02T01:42:09.1268424Z
                  customProperties:
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Ssl30: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls10: "True"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls11: "True"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Ciphers.TripleDes168: "True"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Ssl30: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10: "True"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls11: "True"
                  developerPortalUrl: https://apimService1.developer.azure-api.net
                  disableGateway: false
                  gatewayRegionalUrl: https://apimservice1-westus-01.regional.azure-api.net
                  gatewayUrl: https://apimservice1.azure-api.net
                  hostnameConfigurations:
                    - defaultSslBinding: false
                      hostName: apimService1.azure-api.net
                      negotiateClientCertificate: false
                      type: Proxy
                    - certificate:
                        expiry: 2019-08-16T16:51:34+00:00
                        subject: CN=*.preview.net
                        thumbprint: B4330123DBAXXXXXXXXX1F35E84493476
                      defaultSslBinding: true
                      hostName: apimgatewaytest.preview.net
                      negotiateClientCertificate: false
                      type: Proxy
                  managementApiUrl: https://apimservice1.management.azure-api.net
                  notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                  portalUrl: https://apimservice1.portal.azure-api.net
                  privateIPAddresses:
                    - 172.XX.0.5
                  provisioningState: Succeeded
                  publicIPAddresses:
                    - 137.XXX.11.74
                  publisherEmail: abcs@contoso.com
                  publisherName: contoso publisher
                  scmUrl: https://apimservice1.scm.azure-api.net
                  targetProvisioningState: ""
                  virtualNetworkConfiguration:
                    subnetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/apim-appGateway-vnet/subnets/apim-subnet
                  virtualNetworkType: Internal
                sku:
                  capacity: 1
                  name: Premium
                tags: {}
                type: Microsoft.ApiManagement/service
        ApiManagementServiceGetService:
          parameters:
            api-version: 2019-12-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAAACXok=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: West US
                name: apimService1
                properties:
                  additionalLocations:
                    - disableGateway: true
                      gatewayRegionalUrl: https://apimService1-eastus-01.regional.azure-api.net
                      location: East US
                      publicIPAddresses:
                        - 23.101.138.153
                      sku:
                        capacity: 1
                        name: Premium
                  apiVersionConstraint:
                    minApiVersion: 2019-01-01
                  createdAtUtc: 2019-12-18T06:26:20.3348609Z
                  customProperties:
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Protocols.Server.Http2: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Ssl30: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls10: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls11: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Ciphers.TripleDes168: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Ssl30: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls11: "False"
                  developerPortalUrl: https://apimService1.developer.azure-api.net
                  disableGateway: false
                  gatewayRegionalUrl: https://apimService1-westus-01.regional.azure-api.net
                  gatewayUrl: https://apimService1.azure-api.net
                  hostnameConfigurations:
                    - defaultSslBinding: false
                      hostName: apimService1.azure-api.net
                      negotiateClientCertificate: false
                      type: Proxy
                    - certificate:
                        expiry: 2036-01-01T07:00:00+00:00
                        subject: CN=*.msitesting.net
                        thumbprint: 8E989652CABCF585ACBFCB9C2C91F1D174FDB3A2
                      defaultSslBinding: true
                      hostName: gateway1.msitesting.net
                      negotiateClientCertificate: false
                      type: Proxy
                    - certificate:
                        expiry: 2036-01-01T07:00:00+00:00
                        subject: CN=*.msitesting.net
                        thumbprint: 8E989652CABCF585ACBFCB9C2C91F1D174FDB3A2
                      defaultSslBinding: false
                      hostName: mgmt.msitesting.net
                      negotiateClientCertificate: false
                      type: Management
                    - certificate:
                        expiry: 2036-01-01T07:00:00+00:00
                        subject: CN=*.msitesting.net
                        thumbprint: 8E989652CABCF585ACBFCB9C2C91F1D174FDB3A2
                      defaultSslBinding: false
                      hostName: portal1.msitesting.net
                      negotiateClientCertificate: false
                      type: Portal
                  managementApiUrl: https://apimService1.management.azure-api.net
                  notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publicIPAddresses:
                    - 13.91.32.113
                  publisherEmail: apim@autorestsdk.com
                  publisherName: autorestsdk
                  scmUrl: https://apimService1.scm.azure-api.net
                  targetProvisioningState: ""
                  virtualNetworkType: None
                sku:
                  capacity: 1
                  name: Premium
                tags:
                  tag1: value1
                  tag2: value2
                  tag3: value3
                type: Microsoft.ApiManagement/service
        ApiManagementServiceGetServiceHavingMsi:
          parameters:
            api-version: 2019-12-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAAAENfI=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                identity:
                  principalId: ca1d33f7-xxxx-42ec-xxxx-d526a1ee953a
                  tenantId: 72f988bf-xxxx-41af-xxxx-2d7cd011db47
                  type: SystemAssigned, UserAssigned
                  userAssignedIdentities:
                    /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ManagedIdentity/userAssignedIdentities/apimService1:
                      clientId: aaff9c7d-xxxx-4db2-xxxx-ab0e3e7806cf
                      principalId: 95194df2-9208-xxxx-xxxx-a10d2af9b5a3
                location: West Europe
                name: apimService1
                properties:
                  createdAtUtc: 2016-04-12T00:20:15.6018952Z
                  customProperties:
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Protocols.Server.Http2: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Ssl30: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls10: "True"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls11: "True"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Ciphers.TripleDes168: "True"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Ssl30: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10: "True"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls11: "True"
                  developerPortalUrl: https://apimService1.developer.azure-api.net
                  disableGateway: false
                  gatewayRegionalUrl: https://apimService1-westeurope-01.regional.azure-api.net
                  gatewayUrl: https://apimService1.azure-api.net
                  hostnameConfigurations:
                    - defaultSslBinding: false
                      hostName: apimService1.azure-api.net
                      negotiateClientCertificate: false
                      type: Proxy
                    - certificate:
                        expiry: 2020-12-18T11:11:47+00:00
                        subject: CN=*.msitesting.net
                        thumbprint: 9833D531D7A45XXXXXA85908BD3692E0BD3F
                      defaultSslBinding: true
                      hostName: proxy.msitesting.net
                      keyVaultId: https://samir-msi-keyvault.vault.azure.net/secrets/msicertificate
                      negotiateClientCertificate: false
                      type: Proxy
                  managementApiUrl: https://apimService1.management.azure-api.net
                  notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publicIPAddresses:
                    - 13.94.xxx.188
                  publisherEmail: foo@contoso.com
                  publisherName: Contoso
                  scmUrl: https://apimService1.scm.azure-api.net
                  targetProvisioningState: ""
                  virtualNetworkConfiguration:
                    subnetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/dfVirtualNetwork/subnets/backendSubnet
                  virtualNetworkType: External
                sku:
                  capacity: 1
                  name: Premium
                tags: {}
                type: Microsoft.ApiManagement/service
    patch:
      description: Updates an existing API Management service.
      operationId: ApiManagementService_Update
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Parameters supplied to the CreateOrUpdate API Management service operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ApiManagementServiceUpdateParameters"
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: The service was successfully updated.
          schema:
            $ref: "#/definitions/ApiManagementServiceResource"
        "202":
          description: The service update request was Accepted.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - ApiManagementService
      x-ms-examples:
        ApiManagementUpdateServiceDisableTls10:
          parameters:
            api-version: 2019-12-01-preview
            parameters:
              properties:
                customProperties:
                  Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10: "false"
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAAAYRPs=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: West US
                name: apimService1
                properties:
                  createdAtUtc: 2017-06-29T17:50:42.3191122Z
                  customProperties:
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10: "False"
                  gatewayUrl: https://apimService1.azure-api.net
                  hostnameConfigurations: []
                  managementApiUrl: https://apimService1.management.azure-api.net
                  notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publicIPAddresses:
                    - 40.86.176.232
                  publisherEmail: admin@live.com
                  publisherName: Contoso
                  scmUrl: https://apimService1.scm.azure-api.net
                  targetProvisioningState: ""
                  virtualNetworkType: None
                sku:
                  capacity: 1
                  name: Standard
                tags:
                  Owner: sasolank
                  Pool: Manual
                  Reserved: ""
                  TestExpiration: Thu, 29 Jun 2017 18:50:40 GMT
                  TestSuiteExpiration: Thu, 29 Jun 2017 18:51:46 GMT
                  UID: 4f5025fe-0669-4e2e-8320-5199466e5eb3
                type: Microsoft.ApiManagement/service
            "202":
              etag: AAAAAAAYRPs=
              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
              location: West US
              name: apimService1
              properties:
                createdAtUtc: 2017-06-29T17:50:42.3191122Z
                customProperties:
                  Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10: "False"
                gatewayUrl: https://apimService1.azure-api.net
                hostnameConfigurations: []
                managementApiUrl: https://apimService1.management.azure-api.net
                notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                portalUrl: https://apimService1.portal.azure-api.net
                provisioningState: Succeeded
                publicIPAddresses:
                  - 40.86.176.232
                publisherEmail: admin@live.com
                publisherName: Contoso
                scmUrl: https://apimService1.scm.azure-api.net
                targetProvisioningState: ""
                virtualNetworkType: None
              sku:
                capacity: 1
                name: Standard
              tags:
                TestExpiration: Thu, 29 Jun 2017 18:50:40 GMT
              type: Microsoft.ApiManagement/service
        ApiManagementUpdateServicePublisherDetails:
          parameters:
            api-version: 2019-12-01-preview
            parameters:
              properties:
                publisherEmail: foobar@live.com
                publisherName: Contoso Vnext
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAAAYRPs=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: West US
                name: apimService1
                properties:
                  createdAtUtc: 2017-06-29T17:50:42.3191122Z
                  customProperties:
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10: "False"
                  gatewayUrl: https://apimService1.azure-api.net
                  hostnameConfigurations: []
                  managementApiUrl: https://apimService1.management.azure-api.net
                  notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publicIPAddresses:
                    - 40.86.176.232
                  publisherEmail: foobar@live.com
                  publisherName: Contoso Vnext
                  scmUrl: https://apimService1.scm.azure-api.net
                  targetProvisioningState: ""
                  virtualNetworkType: None
                sku:
                  capacity: 1
                  name: Standard
                tags:
                  Owner: sasolank
                  Pool: Manual
                  Reserved: ""
                  TestExpiration: Thu, 29 Jun 2017 18:50:40 GMT
                  TestSuiteExpiration: Thu, 29 Jun 2017 18:51:46 GMT
                  UID: 4f5025fe-0669-4e2e-8320-5199466e5eb3
                type: Microsoft.ApiManagement/service
            "202":
              etag: AAAAAAAYRPs=
              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
              location: West US
              name: apimService1
              properties:
                createdAtUtc: 2017-06-29T17:50:42.3191122Z
                customProperties:
                  Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10: "False"
                gatewayUrl: https://apimService1.azure-api.net
                hostnameConfigurations: []
                managementApiUrl: https://apimService1.management.azure-api.net
                notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                portalUrl: https://apimService1.portal.azure-api.net
                provisioningState: Succeeded
                publicIPAddresses:
                  - 40.86.176.232
                publisherEmail: admin@live.com
                publisherName: Contoso
                scmUrl: https://apimService1.scm.azure-api.net
                targetProvisioningState: ""
                virtualNetworkType: None
              sku:
                capacity: 1
                name: Standard
              tags:
                TestExpiration: Thu, 29 Jun 2017 18:50:40 GMT
              type: Microsoft.ApiManagement/service
      x-ms-long-running-operation: true
    put:
      description: Creates or updates an API Management service. This is long running operation and could take several minutes to complete.
      operationId: ApiManagementService_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Parameters supplied to the CreateOrUpdate API Management service operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ApiManagementServiceResource"
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: The service was successfully set up.
          schema:
            $ref: "#/definitions/ApiManagementServiceResource"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/ApiManagementServiceResource"
        "202":
          description: Accepted the configuration change when updating the service.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - ApiManagementService
      x-ms-examples:
        ApiManagementCreateMultiRegionServiceWithCustomHostname:
          parameters:
            api-version: 2019-12-01-preview
            parameters:
              location: West US
              properties:
                additionalLocations:
                  - disableGateway: true
                    location: East US
                    sku:
                      capacity: 1
                      name: Premium
                apiVersionConstraint:
                  minApiVersion: 2019-01-01
                hostnameConfigurations:
                  - certificatePassword: Password
                    defaultSslBinding: true
                    encodedCertificate: "****** Base 64 Encoded Certificate ************"
                    hostName: gateway1.msitesting.net
                    type: Proxy
                  - certificatePassword: Password
                    encodedCertificate: "****** Base 64 Encoded Certificate ************"
                    hostName: mgmt.msitesting.net
                    type: Management
                  - certificatePassword: Password
                    encodedCertificate: "****** Base 64 Encoded Certificate ************"
                    hostName: portal1.msitesting.net
                    type: Portal
                publisherEmail: apim@autorestsdk.com
                publisherName: autorestsdk
                virtualNetworkType: None
              sku:
                capacity: 1
                name: Premium
              tags:
                tag1: value1
                tag2: value2
                tag3: value3
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAAACXok=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: West US
                name: apimService1
                properties:
                  additionalLocations:
                    - disableGateway: true
                      gatewayRegionalUrl: https://apimService1-eastus-01.regional.azure-api.net
                      location: East US
                      publicIPAddresses:
                        - 23.101.138.153
                      sku:
                        capacity: 1
                        name: Premium
                  apiVersionConstraint:
                    minApiVersion: 2019-01-01
                  createdAtUtc: 2019-12-18T06:26:20.3348609Z
                  customProperties:
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Protocols.Server.Http2: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Ssl30: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls10: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls11: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Ciphers.TripleDes168: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Ssl30: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls11: "False"
                  developerPortalUrl: https://apimService1.developer.azure-api.net
                  disableGateway: false
                  gatewayRegionalUrl: https://apimService1-westus-01.regional.azure-api.net
                  gatewayUrl: https://apimService1.azure-api.net
                  hostnameConfigurations:
                    - defaultSslBinding: false
                      hostName: apimService1.azure-api.net
                      negotiateClientCertificate: false
                      type: Proxy
                    - certificate:
                        expiry: 2036-01-01T07:00:00+00:00
                        subject: CN=*.msitesting.net
                        thumbprint: 8E989XXXXXXXXXXXXXXXXF1D174FDB3A2
                      defaultSslBinding: true
                      hostName: gateway1.msitesting.net
                      negotiateClientCertificate: false
                      type: Proxy
                    - certificate:
                        expiry: 2036-01-01T07:00:00+00:00
                        subject: CN=*.msitesting.net
                        thumbprint: 8E989XXXXXXXXXXXXXXXXF1D174FDB3A2
                      defaultSslBinding: false
                      hostName: mgmt.msitesting.net
                      negotiateClientCertificate: false
                      type: Management
                    - certificate:
                        expiry: 2036-01-01T07:00:00+00:00
                        subject: CN=*.msitesting.net
                        thumbprint: 8E989XXXXXXXXXXXXXXXXF1D174FDB3A2
                      defaultSslBinding: false
                      hostName: portal1.msitesting.net
                      negotiateClientCertificate: false
                      type: Portal
                  managementApiUrl: https://apimService1.management.azure-api.net
                  notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publicIPAddresses:
                    - 13.91.32.113
                  publisherEmail: apim@autorestsdk.com
                  publisherName: autorestsdk
                  scmUrl: https://apimService1.scm.azure-api.net
                  targetProvisioningState: ""
                  virtualNetworkType: None
                sku:
                  capacity: 1
                  name: Premium
                tags:
                  tag1: value1
                  tag2: value2
                  tag3: value3
                type: Microsoft.ApiManagement/service
            "201":
              body:
                etag: AAAAAAACXoo=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: West US
                name: apimService1
                properties:
                  additionalLocations:
                    - disableGateway: true
                      location: East US
                      sku:
                        capacity: 1
                        name: Premium
                  apiVersionConstraint:
                    minApiVersion: 2019-01-01
                  createdAtUtc: 2019-12-18T08:04:26.9492661Z
                  disableGateway: false
                  hostnameConfigurations:
                    - defaultSslBinding: false
                      hostName: apimService1.azure-api.net
                      negotiateClientCertificate: false
                      type: Proxy
                    - certificate:
                        expiry: 2036-01-01T07:00:00+00:00
                        subject: CN=*.msitesting.net
                        thumbprint: 8E989XXXXXXXXXXXXXXXXF1D174FDB3A2
                      defaultSslBinding: true
                      hostName: gateway1.msitesting.net
                      negotiateClientCertificate: false
                      type: Proxy
                    - certificate:
                        expiry: 2036-01-01T07:00:00+00:00
                        subject: CN=*.msitesting.net
                        thumbprint: 8E989XXXXXXXXXXXXXXXXF1D174FDB3A2
                      defaultSslBinding: false
                      hostName: mgmt.msitesting.net
                      negotiateClientCertificate: false
                      type: Management
                    - certificate:
                        expiry: 2036-01-01T07:00:00+00:00
                        subject: CN=*.msitesting.net
                        thumbprint: 8E989XXXXXXXXXXXXXXXXF1D174FDB3A2
                      defaultSslBinding: false
                      hostName: portal1.msitesting.net
                      negotiateClientCertificate: false
                      type: Portal
                  notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                  provisioningState: Created
                  publisherEmail: apim@autorestsdk.com
                  publisherName: autorestsdk
                  targetProvisioningState: Activating
                  virtualNetworkType: None
                sku:
                  capacity: 1
                  name: Premium
                tags:
                  tag1: value1
                  tag2: value2
                  tag3: value3
                type: Microsoft.ApiManagement/service
              headers:
                location: https://management.azure.com/subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/bXVsdGlob3N0bmFtZW11bHRpcmVnaW9uc2VydmljZV9BY3RfZjFiOTZhMjc=?api-version=2019-12-01-preview
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/bXVsdGlob3N0bmFtZW11bHRpcmVnaW9uc2VydmljZV9BY3RfZjFiOTZhMjc=?api-version=2019-12-01-preview
        ApiManagementCreateService:
          parameters:
            api-version: 2019-12-01-preview
            parameters:
              location: South Central US
              properties:
                publisherEmail: foo@contoso.com
                publisherName: foo
              sku:
                capacity: 1
                name: Developer
              tags:
                Name: Contoso
                Test: User
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAAAp3T4=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: South Central US
                name: apimService1
                properties:
                  apiVersionConstraint: {}
                  createdAtUtc: 2019-12-18T06:10:56.0327105Z
                  customProperties:
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Protocols.Server.Http2: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Ssl30: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls10: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls11: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Ciphers.TripleDes168: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Ssl30: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls11: "False"
                  developerPortalUrl: https://apimService1.developer.azure-api.net
                  disableGateway: false
                  gatewayRegionalUrl: https://apimService1-southcentralus-01.regional.azure-api.net
                  gatewayUrl: https://apimService1.azure-api.net
                  hostnameConfigurations:
                    - defaultSslBinding: true
                      hostName: apimService1.azure-api.net
                      negotiateClientCertificate: false
                      type: Proxy
                  managementApiUrl: https://apimService1.management.azure-api.net
                  notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publicIPAddresses:
                    - 23.102.171.124
                  publisherEmail: foo@contoso.com
                  publisherName: foo
                  scmUrl: https://apimService1.scm.azure-api.net
                  targetProvisioningState: ""
                  virtualNetworkType: None
                sku:
                  capacity: 1
                  name: Developer
                tags:
                  Name: Contoso
                  Test: User
                type: Microsoft.ApiManagement/service
            "201":
              body:
                etag: AAAAAAAp3P0=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: South Central US
                name: apimService1
                properties:
                  apiVersionConstraint: {}
                  createdAtUtc: 2019-12-18T06:10:56.0327105Z
                  disableGateway: false
                  hostnameConfigurations:
                    - defaultSslBinding: true
                      hostName: apimService1.azure-api.net
                      negotiateClientCertificate: false
                      type: Proxy
                  notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                  provisioningState: Created
                  publisherEmail: foo@contoso.com
                  publisherName: foo
                  targetProvisioningState: Activating
                  virtualNetworkType: None
                sku:
                  capacity: 1
                  name: Developer
                tags:
                  Name: Contoso
                  Test: User
                type: Microsoft.ApiManagement/service
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/dGVjaGVkX01hbmFnZVJvbGVfNWRiNGI3Ng==?api-version=2019-12-01-preview
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/c2RrdGVzdGFwaW0xNTkxX0FjdF9jZTkyMmNmOQ==?api-version=2019-12-01-preview
        ApiManagementCreateServiceHavingMsi:
          parameters:
            api-version: 2019-12-01-preview
            parameters:
              identity:
                type: SystemAssigned
              location: West US
              properties:
                publisherEmail: apim@autorestsdk.com
                publisherName: autorestsdk
              sku:
                name: Consumption
              tags:
                tag1: value1
                tag2: value2
                tag3: value3
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAAAAWiU=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                identity:
                  principalId: dfb9a757-df69-4966-a8d0-711a9cd8ffb4
                  tenantId: XXXXXX-86f1-41af-91ab-2d7cd011db47
                  type: SystemAssigned
                location: West US
                name: apimService1
                properties:
                  createdAtUtc: 2019-04-11T16:29:29.9711098Z
                  enableClientCertificate: false
                  gatewayUrl: https://apimService1.azure-api.net
                  hostnameConfigurations:
                    - defaultSslBinding: true
                      hostName: apimService1.azure-api.net
                      negotiateClientCertificate: false
                      type: Proxy
                  notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                  provisioningState: Succeeded
                  publisherEmail: apim@autorestsdk.com
                  publisherName: autorestsdk
                  targetProvisioningState: ""
                  virtualNetworkType: None
                sku:
                  capacity: 0
                  name: Consumption
                tags:
                  tag1: value1
                  tag2: value2
                  tag3: value3
                type: Microsoft.ApiManagement/service
            "201":
              body:
                etag: AAAAAAAAWiE=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                identity:
                  principalId: dfb9a757-df69-4966-a8d0-711a9cd8ffb4
                  tenantId: XXXXXX-86f1-41af-91ab-2d7cd011db47
                  type: SystemAssigned
                location: West US
                name: apimService1
                properties:
                  createdAtUtc: 2019-04-11T16:29:29.9711098Z
                  hostnameConfigurations:
                    - defaultSslBinding: true
                      hostName: apimService1.azure-api.net
                      negotiateClientCertificate: false
                      type: Proxy
                  notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                  provisioningState: Created
                  publisherEmail: apim@autorestsdk.com
                  publisherName: autorestsdk
                  targetProvisioningState: Activating
                  virtualNetworkType: None
                sku:
                  capacity: 0
                  name: Consumption
                tags:
                  tag1: value1
                  tag2: value2
                  tag3: value3
                type: Microsoft.ApiManagement/service
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/dGVjaGVkX01hbmFnZVJvbGVfNWRiNGI3Ng==?api-version=2019-12-01-preview
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/dGVjaGVkX01hbmFnZVJvbGVfNWRiNGI3Ng==?api-version=2019-12-01-preview
        ApiManagementCreateServiceWithSystemCertificates:
          parameters:
            api-version: 2019-12-01-preview
            parameters:
              location: Central US
              properties:
                certificates:
                  - certificatePassword: Password
                    encodedCertificate: "*******Base64 encoded Certificate******************"
                    storeName: CertificateAuthority
                publisherEmail: apim@autorestsdk.com
                publisherName: autorestsdk
              sku:
                capacity: 1
                name: Basic
              tags:
                tag1: value1
                tag2: value2
                tag3: value3
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAAAp3UM=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: Central US
                name: apimService1
                properties:
                  apiVersionConstraint: {}
                  certificates:
                    - certificate:
                        expiry: 2036-01-01T07:00:00+00:00
                        subject: CN=*.msitesting.net
                        thumbprint: 8E989652CABCF585ACBFCB9C2C91F1D174FDB3A2
                      storeName: CertificateAuthority
                  createdAtUtc: 2019-12-18T06:33:28.0906918Z
                  customProperties:
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Protocols.Server.Http2: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Ssl30: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls10: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls11: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Ciphers.TripleDes168: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Ssl30: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10: "False"
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls11: "False"
                  developerPortalUrl: https://apimService1.developer.azure-api.net
                  disableGateway: false
                  gatewayRegionalUrl: https://apimService1-centralus-01.regional.azure-api.net
                  gatewayUrl: https://apimService1.azure-api.net
                  hostnameConfigurations:
                    - defaultSslBinding: true
                      hostName: apimService1.azure-api.net
                      negotiateClientCertificate: false
                      type: Proxy
                  managementApiUrl: https://apimService1.management.azure-api.net
                  notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publicIPAddresses:
                    - 40.113.223.117
                  publisherEmail: apim@autorestsdk.com
                  publisherName: autorestsdk
                  scmUrl: https://apimService1.scm.azure-api.net
                  targetProvisioningState: ""
                  virtualNetworkType: None
                sku:
                  capacity: 1
                  name: Basic
                tags:
                  tag1: value1
                  tag2: value2
                  tag3: value3
                type: Microsoft.ApiManagement/service
            "201":
              body:
                etag: AAAAAAAp3TM=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: Central US
                name: apimService1
                properties:
                  apiVersionConstraint: {}
                  certificates:
                    - certificate:
                        expiry: 2036-01-01T07:00:00+00:00
                        subject: CN=*.msitesting.net
                        thumbprint: 8E989652CABCF585ACBFCB9C2C91F1D174FDB3A2
                      storeName: CertificateAuthority
                  createdAtUtc: 2019-12-18T06:33:28.0906918Z
                  disableGateway: false
                  hostnameConfigurations:
                    - defaultSslBinding: true
                      hostName: apimService1.azure-api.net
                      negotiateClientCertificate: false
                      type: Proxy
                  notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                  provisioningState: Created
                  publisherEmail: apim@autorestsdk.com
                  publisherName: autorestsdk
                  targetProvisioningState: Activating
                  virtualNetworkType: None
                sku:
                  capacity: 1
                  name: Basic
                tags:
                  tag1: value1
                  tag2: value2
                  tag3: value3
                type: Microsoft.ApiManagement/service
              headers:
                location: https://management.azure.com/subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/bXVsdGlob3N0bmFtZW11bHRpcmVnaW9uc2VydmljZV9BY3RfZjFiOTZhMjc=?api-version=2019-12-01-preview
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/bXVsdGlob3N0bmFtZW11bHRpcmVnaW9uc2VydmljZV9BY3RfZjFiOTZhMjc=?api-version=2019-12-01-preview
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/applynetworkconfigurationupdates":
    post:
      description: Updates the Microsoft.ApiManagement resource running in the Virtual network to pick the updated network settings.
      operationId: ApiManagementService_ApplyNetworkConfigurationUpdates
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Parameters supplied to the Apply Network Configuration operation. If the parameters are empty, all the regions in which the Api Management service is deployed will be updated sequentially without incurring downtime in the region.
          in: body
          name: parameters
          required: false
          schema:
            $ref: "#/definitions/ApiManagementServiceApplyNetworkConfigurationParameters"
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Network configuration updates were successfully applied on the Api Management service.
          schema:
            $ref: "#/definitions/ApiManagementServiceResource"
        "202":
          description: "Accepted: Location header contains the URL where the status of the long running operation can be checked."
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - ApiManagementService
      x-ms-examples:
        ApiManagementApplyNetworkConfigurationUpdates:
          parameters:
            api-version: 2019-12-01-preview
            parameters:
              location: west us
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAAAXX6Y=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: East Asia
                name: apimService1
                properties:
                  createdAtUtc: 2015-09-22T01:50:34.7921566Z
                  gatewayUrl: https://apimService1.azure-api.net
                  hostnameConfigurations: []
                  managementApiUrl: https://apimService1.management.azure-api.net
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publicIPAddresses:
                    - 207.46.155.24
                  publisherEmail: admin@live.com
                  publisherName: Contoso
                  scmUrl: https://apimService1.scm.azure-api.net
                  targetProvisioningState: ""
                  virtualNetworkConfiguration:
                    subnetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/eastUsVirtualNetwork/subnets/apimSubnet
                  virtualNetworkType: External
                sku:
                  capacity: 1
                  name: Premium
                tags:
                  UID: 52ed5986-717b-45b4-b17c-3df8db372cff
                type: Microsoft.ApiManagement/service
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/dGVjaGVkX01hbmFnZVJvbGVfNWRiNGI3Ng==?api-version=2019-12-01-preview
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/backup":
    post:
      description: Creates a backup of the API Management service to the given Azure Storage Account. This is long running operation and could take several minutes to complete.
      operationId: ApiManagementService_Backup
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Parameters supplied to the ApiManagementService_Backup operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ApiManagementServiceBackupRestoreParameters"
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Successfully backed up the API Management service to the storage account.
          schema:
            $ref: "#/definitions/ApiManagementServiceResource"
        "202":
          description: "Accepted: Location header contains the URL where the status of the long running operation can be checked."
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - ApiManagementService
      x-ms-examples:
        ApiManagementCreateBackup:
          parameters:
            api-version: 2019-12-01-preview
            parameters:
              accessKey: "**************************************************"
              backupName: apimService1backup_2017_03_19
              containerName: backupContainer
              storageAccount: teststorageaccount
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAAAXX6Y=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: East Asia
                name: apimService1
                properties:
                  createdAtUtc: 2015-09-22T01:50:34.7921566Z
                  gatewayUrl: https://apimService1.azure-api.net
                  hostnameConfigurations: []
                  managementApiUrl: https://apimService1.management.azure-api.net
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publicIPAddresses:
                    - 207.46.155.24
                  publisherEmail: admin@live.com
                  publisherName: Contoso
                  scmUrl: https://apimService1.scm.azure-api.net
                  targetProvisioningState: ""
                  virtualNetworkType: None
                sku:
                  capacity: 1
                  name: Premium
                tags:
                  UID: 52ed5986-717b-45b4-b17c-3df8db372cff
                type: Microsoft.ApiManagement/service
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/dGVjaGVkX01hbmFnZVJvbGVfNWRiNGI3Ng==?api-version=2019-12-01-preview
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/getssotoken":
    post:
      description: Gets the Single-Sign-On token for the API Management Service which is valid for 5 Minutes.
      operationId: ApiManagementService_GetSsoToken
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: OK if successful with the SSO Redirect URI.
          schema:
            $ref: "#/definitions/ApiManagementServiceGetSsoTokenResult"
            x-ms-client-flatten: true
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - ApiManagementService
      x-ms-examples:
        ApiManagementServiceGetSsoToken:
          parameters:
            api-version: 2019-12-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                redirectUri: https://apimService1.portal.azure-api.net:443/signin-sso?token=1%26201705301929%26eIkr3%2fnfaLs1GVJ0OVbzkJjAcwPFkEZAPM8VUXvXPf7cJ6lWsB9oUwsk2zln9x0KLkn21txCPJWWheSPq7SNeA%3d%3d
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/restore":
    post:
      description: Restores a backup of an API Management service created using the ApiManagementService_Backup operation on the current service. This is a long running operation and could take several minutes to complete.
      operationId: ApiManagementService_Restore
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Parameters supplied to the Restore API Management service from backup operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ApiManagementServiceBackupRestoreParameters"
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Successfully restored the backup onto the API Management service.
          schema:
            $ref: "#/definitions/ApiManagementServiceResource"
        "202":
          description: "Accepted: Location header contains the URL where the status of the long running operation can be checked."
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - ApiManagementService
      x-ms-examples:
        ApiManagementRestoreService:
          parameters:
            api-version: 2019-12-01-preview
            parameters:
              accessKey: "**************************************************"
              backupName: apimService1backup_2017_03_19
              containerName: backupContainer
              storageAccount: teststorageaccount
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAAAXX6Y=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: East Asia
                name: apimService1
[...]
