openapi: 3.0.0
servers:
  - url: https://www.googleapis.com/mirror/v1
info:
  contact:
    name: Google
    url: https://google.com
  description: Interacts with Glass users via the timeline.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google Mirror
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png
  x-origin:
    - converter:
        url: https://github.com/lucybot/api-spec-converter
        version: 2.7.31
      format: google
      url: https://www.googleapis.com/discovery/v1/apis/mirror/v1/rest
      version: v1
  x-providerName: googleapis.com
  x-serviceName: mirror
externalDocs:
  url: https://developers.google.com/glass
tags:
  - name: accounts
  - name: contacts
  - name: locations
  - name: settings
  - name: subscriptions
  - name: timeline
paths:
  "/accounts/{userToken}/{accountType}/{accountName}":
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Inserts a new account for a user
      operationId: mirror.accounts.insert
      parameters:
        - description: The ID for the user.
          in: path
          name: userToken
          required: true
          schema:
            type: string
        - description: Account type to be passed to Android Account Manager.
          in: path
          name: accountType
          required: true
          schema:
            type: string
        - description: The name of the account to be passed to the Android Account Manager.
          in: path
          name: accountName
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Account"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Account"
          description: Successful response
      tags:
        - accounts
  /contacts:
    get:
      description: Retrieves a list of contacts for the authenticated user.
      operationId: mirror.contacts.list
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ContactsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/glass.timeline
          Oauth2c:
            - https://www.googleapis.com/auth/glass.timeline
      tags:
        - contacts
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Inserts a new contact.
      operationId: mirror.contacts.insert
      requestBody:
        $ref: "#/components/requestBodies/Contact"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Contact"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/glass.timeline
          Oauth2c:
            - https://www.googleapis.com/auth/glass.timeline
      tags:
        - contacts
  "/contacts/{id}":
    delete:
      description: Deletes a contact.
      operationId: mirror.contacts.delete
      parameters:
        - description: The ID of the contact.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/glass.timeline
          Oauth2c:
            - https://www.googleapis.com/auth/glass.timeline
      tags:
        - contacts
    get:
      description: Gets a single contact by ID.
      operationId: mirror.contacts.get
      parameters:
        - description: The ID of the contact.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Contact"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/glass.timeline
          Oauth2c:
            - https://www.googleapis.com/auth/glass.timeline
      tags:
        - contacts
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    patch:
      description: Updates a contact in place. This method supports patch semantics.
      operationId: mirror.contacts.patch
      parameters:
        - description: The ID of the contact.
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Contact"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Contact"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/glass.timeline
          Oauth2c:
            - https://www.googleapis.com/auth/glass.timeline
      tags:
        - contacts
    put:
      description: Updates a contact in place.
      operationId: mirror.contacts.update
      parameters:
        - description: The ID of the contact.
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Contact"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Contact"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/glass.timeline
          Oauth2c:
            - https://www.googleapis.com/auth/glass.timeline
      tags:
        - contacts
  /locations:
    get:
      description: Retrieves a list of locations for the user.
      operationId: mirror.locations.list
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/LocationsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/glass.location
          Oauth2c:
            - https://www.googleapis.com/auth/glass.location
        - Oauth2:
            - https://www.googleapis.com/auth/glass.timeline
          Oauth2c:
            - https://www.googleapis.com/auth/glass.timeline
      tags:
        - locations
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/locations/{id}":
    get:
      description: Gets a single location by ID.
      operationId: mirror.locations.get
      parameters:
        - description: The ID of the location or latest for the last known location.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Location"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/glass.location
          Oauth2c:
            - https://www.googleapis.com/auth/glass.location
        - Oauth2:
            - https://www.googleapis.com/auth/glass.timeline
          Oauth2c:
            - https://www.googleapis.com/auth/glass.timeline
      tags:
        - locations
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/settings/{id}":
    get:
      description: Gets a single setting by ID.
      operationId: mirror.settings.get
      parameters:
        - description: |-
            The ID of the setting. The following IDs are valid: 
            - locale - The key to the user’s language/locale (BCP 47 identifier) that Glassware should use to render localized content. 
            - timezone - The key to the user’s current time zone region as defined in the tz database. Example: America/Los_Angeles.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Setting"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/glass.timeline
          Oauth2c:
            - https://www.googleapis.com/auth/glass.timeline
      tags:
        - settings
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  /subscriptions:
    get:
      description: Retrieves a list of subscriptions for the authenticated user and service.
      operationId: mirror.subscriptions.list
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/SubscriptionsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/glass.timeline
          Oauth2c:
            - https://www.googleapis.com/auth/glass.timeline
      tags:
        - subscriptions
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Creates a new subscription.
      operationId: mirror.subscriptions.insert
      requestBody:
        $ref: "#/components/requestBodies/Subscription"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Subscription"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/glass.timeline
          Oauth2c:
            - https://www.googleapis.com/auth/glass.timeline
      tags:
        - subscriptions
  "/subscriptions/{id}":
    delete:
      description: Deletes a subscription.
      operationId: mirror.subscriptions.delete
      parameters:
        - description: The ID of the subscription.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/glass.timeline
          Oauth2c:
            - https://www.googleapis.com/auth/glass.timeline
      tags:
        - subscriptions
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    put:
      description: Updates an existing subscription in place.
      operationId: mirror.subscriptions.update
      parameters:
        - description: The ID of the subscription.
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Subscription"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Subscription"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/glass.timeline
          Oauth2c:
            - https://www.googleapis.com/auth/glass.timeline
      tags:
        - subscriptions
  /timeline:
    get:
      description: Retrieves a list of timeline items for the authenticated user.
      operationId: mirror.timeline.list
      parameters:
        - description: If provided, only items with the given bundleId will be returned.
          in: query
          name: bundleId
          schema:
            type: string
        - description: If true, tombstone records for deleted items will be returned.
          in: query
          name: includeDeleted
          schema:
            type: boolean
        - description: The maximum number of items to include in the response, used for paging.
          in: query
          name: maxResults
          schema:
            type: integer
        - description: Controls the order in which timeline items are returned.
          in: query
          name: orderBy
          schema:
            enum:
              - displayTime
              - writeTime
            type: string
        - description: Token for the page of results to return.
          in: query
          name: pageToken
          schema:
            type: string
        - description: If true, only pinned items will be returned.
          in: query
          name: pinnedOnly
          schema:
            type: boolean
        - description: If provided, only items with the given sourceItemId will be returned.
          in: query
          name: sourceItemId
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/TimelineListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/glass.location
          Oauth2c:
            - https://www.googleapis.com/auth/glass.location
        - Oauth2:
            - https://www.googleapis.com/auth/glass.timeline
          Oauth2c:
            - https://www.googleapis.com/auth/glass.timeline
      tags:
        - timeline
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Inserts a new item into the timeline.
      operationId: mirror.timeline.insert
      requestBody:
        $ref: "#/components/requestBodies/TimelineItem"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/TimelineItem"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/glass.location
          Oauth2c:
            - https://www.googleapis.com/auth/glass.location
        - Oauth2:
            - https://www.googleapis.com/auth/glass.timeline
          Oauth2c:
            - https://www.googleapis.com/auth/glass.timeline
      tags:
        - timeline
  "/timeline/{id}":
    delete:
      description: Deletes a timeline item.
      operationId: mirror.timeline.delete
      parameters:
        - description: The ID of the timeline item.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/glass.location
          Oauth2c:
            - https://www.googleapis.com/auth/glass.location
        - Oauth2:
            - https://www.googleapis.com/auth/glass.timeline
          Oauth2c:
            - https://www.googleapis.com/auth/glass.timeline
      tags:
        - timeline
    get:
      description: Gets a single timeline item by ID.
      operationId: mirror.timeline.get
      parameters:
        - description: The ID of the timeline item.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/TimelineItem"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/glass.location
          Oauth2c:
            - https://www.googleapis.com/auth/glass.location
        - Oauth2:
            - https://www.googleapis.com/auth/glass.timeline
          Oauth2c:
            - https://www.googleapis.com/auth/glass.timeline
      tags:
        - timeline
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    patch:
      description: Updates a timeline item in place. This method supports patch semantics.
      operationId: mirror.timeline.patch
      parameters:
        - description: The ID of the timeline item.
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TimelineItem"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/TimelineItem"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/glass.location
          Oauth2c:
            - https://www.googleapis.com/auth/glass.location
        - Oauth2:
            - https://www.googleapis.com/auth/glass.timeline
          Oauth2c:
            - https://www.googleapis.com/auth/glass.timeline
      tags:
        - timeline
    put:
      description: Updates a timeline item in place.
      operationId: mirror.timeline.update
      parameters:
        - description: The ID of the timeline item.
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          audio/1d-interleaved-parityfec:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/32kadpcm:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/3gpp:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/3gpp2:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/aac:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/ac3:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/adpcm:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/amr:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/amr-wb:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/amr-wb+:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/aptx:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/asc:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/atrac-advanced-lossless:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/atrac-x:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/atrac3:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/basic:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/bv16:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/bv32:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/clearmode:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/cn:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/dat12:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/dls:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/dsr-es201108:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/dsr-es202050:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/dsr-es202211:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/dsr-es202212:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/dv:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/dvi4:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/eac3:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/encaprtp:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/evrc:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/evrc-qcp:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/evrc0:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/evrc1:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/evrcb:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/evrcb0:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/evrcb1:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/evrcnw:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/evrcnw0:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/evrcnw1:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/evrcwb:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/evrcwb0:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/evrcwb1:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/evs:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/fwdred:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/g711-0:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/g719:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/g722:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/g7221:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/g723:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/g726-16:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/g726-24:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/g726-32:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/g726-40:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/g728:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/g729:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/g7291:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/g729d:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/g729e:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/gsm:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/gsm-efr:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/gsm-hr-08:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/ilbc:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/ip-mr_v2.5:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/isac:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/l16:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/l20:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/l24:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/l8:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/lpc:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/melp:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/melp1200:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/melp2400:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/melp600:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/midi:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/mobile-xmf:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/mp3:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/mp4:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/mp4a-latm:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/mpa:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/mpa-robust:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/mpeg:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/mpeg4-generic:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/musepack:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/ogg:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/opus:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/parityfec:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/pcma:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/pcma-wb:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/pcmu:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/pcmu-wb:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/prs.sid:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/qcelp:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/raptorfec:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/red:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/rtp-enc-aescm128:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/rtp-midi:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/rtploopback:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/rtx:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/s3m:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/silk:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/smv:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/smv-qcp:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/smv0:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/sp-midi:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/speex:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/t140c:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/t38:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/telephone-event:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/tetra_acelp:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/tone:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/uemclip:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/ulpfec:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/usac:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vdvi:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vmr-wb:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.3gpp.iufp:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.4sb:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.audiokoz:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.celp:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.cisco.nse:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.cmles.radio-events:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.cns.anp1:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.cns.inf1:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.dece.audio:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.digital-winds:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.dlna.adts:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.dolby.heaac.1:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.dolby.heaac.2:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.dolby.mlp:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.dolby.mps:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.dolby.pl2:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.dolby.pl2x:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.dolby.pl2z:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.dolby.pulse.1:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.dra:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.dts:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.dts.hd:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.dts.uhd:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.dvb.file:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.everad.plj:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.hns.audio:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.lucent.voice:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.ms-playready.media.pya:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.nokia.mobile-xmf:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.nortel.vbk:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.nuera.ecelp4800:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.nuera.ecelp7470:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.nuera.ecelp9600:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.octel.sbc:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.presonus.multitrack:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.qcelp:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.rhetorex.32kadpcm:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.rip:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.rn-realaudio:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.sealedmedia.softseal.mpeg:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.vmx.cvsd:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vnd.wave:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vorbis:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/vorbis-config:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/wav:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/wave:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/webm:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/x-aac:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/x-aiff:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/x-caf:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/x-flac:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/x-m4a:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/x-matroska:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/x-mpegurl:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/x-ms-wax:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/x-ms-wma:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/x-pn-realaudio:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/x-pn-realaudio-plugin:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/x-realaudio:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/x-tta:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/x-wav:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          audio/xm:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/aces:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/apng:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/avci:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/avcs:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/bmp:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/cgm:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/dicom-rle:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/emf:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/fits:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/g3fax:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/gif:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/heic:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/heic-sequence:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/heif:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/heif-sequence:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/ief:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/jls:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/jp2:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/jpeg:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/jpm:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/jpx:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/ktx:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/naplps:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/pjpeg:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/png:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/prs.btif:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/prs.pti:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/pwg-raster:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/sgi:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/svg+xml:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/t38:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/tiff:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/tiff-fx:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/vnd.adobe.photoshop:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/vnd.airzip.accelerator.azv:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/vnd.cns.inf2:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/vnd.dece.graphic:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/vnd.djvu:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/vnd.dvb.subtitle:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/vnd.dwg:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/vnd.dxf:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/vnd.fastbidsheet:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/vnd.fpx:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/vnd.fst:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/vnd.fujixerox.edmics-mmr:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/vnd.fujixerox.edmics-rlc:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/vnd.globalgraphics.pgb:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/vnd.microsoft.icon:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/vnd.mix:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/vnd.mozilla.apng:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/vnd.ms-modi:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/vnd.ms-photo:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/vnd.net-fpx:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/vnd.radiance:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/vnd.sealed.png:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/vnd.sealedmedia.softseal.gif:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/vnd.sealedmedia.softseal.jpg:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/vnd.svf:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/vnd.tencent.tap:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/vnd.valve.source.texture:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/vnd.wap.wbmp:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/vnd.xiff:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/vnd.zbrush.pcx:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/webp:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/wmf:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/x-3ds:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/x-cmu-raster:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/x-cmx:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/x-freehand:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/x-icon:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/x-jng:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/x-mrsid-image:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/x-ms-bmp:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/x-pcx:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/x-pict:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/x-portable-anymap:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/x-portable-bitmap:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/x-portable-graymap:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/x-portable-pixmap:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/x-rgb:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/x-tga:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/x-xbitmap:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/x-xcf:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/x-xpixmap:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          image/x-xwindowdump:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/1d-interleaved-parityfec:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/3gpp:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/3gpp-tt:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/3gpp2:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/bmpeg:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/bt656:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/celb:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/dv:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/encaprtp:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/h261:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/h263:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/h263-1998:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/h263-2000:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/h264:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/h264-rcdo:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/h264-svc:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/h265:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/iso.segment:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/jpeg:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/jpeg2000:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/jpm:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/mj2:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/mp1s:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/mp2p:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/mp2t:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/mp4:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/mp4v-es:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/mpeg:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/mpeg4-generic:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/mpv:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/nv:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/ogg:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/parityfec:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/pointer:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/quicktime:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/raptorfec:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/raw:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/rtp-enc-aescm128:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/rtploopback:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/rtx:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/smpte291:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/smpte292m:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/ulpfec:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vc1:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vc2:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.cctv:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.dece.hd:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.dece.mobile:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.dece.mp4:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.dece.pd:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.dece.sd:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.dece.video:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.directv.mpeg:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.directv.mpeg-tts:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.dlna.mpeg-tts:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.dvb.file:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.fvt:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.hns.video:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.iptvforum.1dparityfec-1010:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.iptvforum.1dparityfec-2005:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.iptvforum.2dparityfec-1010:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.iptvforum.2dparityfec-2005:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.iptvforum.ttsavc:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.iptvforum.ttsmpeg2:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.motorola.video:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.motorola.videop:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.mpegurl:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.ms-playready.media.pyv:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.nokia.interleaved-multimedia:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.nokia.mp4vr:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.nokia.videovoip:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.objectvideo:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.radgamettools.bink:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.radgamettools.smacker:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.sealed.mpeg1:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.sealed.mpeg4:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.sealed.swf:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.sealedmedia.softseal.mov:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.uvvu.mp4:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vnd.vivo:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/vp8:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/webm:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/x-f4v:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/x-fli:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/x-flv:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/x-m4v:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/x-matroska:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/x-mng:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/x-ms-asf:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/x-ms-vob:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/x-ms-wm:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/x-ms-wmv:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/x-ms-wmx:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/x-ms-wvx:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/x-msvideo:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/x-sgi-movie:
            schema:
              $ref: "#/components/schemas/TimelineItem"
          video/x-smv:
            schema:
              $ref: "#/components/schemas/TimelineItem"
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/TimelineItem"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/glass.location
          Oauth2c:
            - https://www.googleapis.com/auth/glass.location
        - Oauth2:
            - https://www.googleapis.com/auth/glass.timeline
          Oauth2c:
            - https://www.googleapis.com/auth/glass.timeline
      tags:
        - timeline
  "/timeline/{itemId}/attachments":
    get:
      description: Returns a list of attachments for a timeline item.
      operationId: mirror.timeline.attachments.list
      parameters:
        - description: The ID of the timeline item whose attachments should be listed.
          in: path
          name: itemId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/AttachmentsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/glass.timeline
          Oauth2c:
            - https://www.googleapis.com/auth/glass.timeline
      tags:
        - timeline
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Adds a new attachment to a timeline item.
      operationId: mirror.timeline.attachments.insert
      parameters:
        - description: The ID of the timeline item the attachment belongs to.
          in: path
          name: itemId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Attachment"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/glass.timeline
          Oauth2c:
            - https://www.googleapis.com/auth/glass.timeline
      tags:
        - timeline
  "/timeline/{itemId}/attachments/{attachmentId}":
    delete:
      description: Deletes an attachment from a timeline item.
      operationId: mirror.timeline.attachments.delete
      parameters:
        - description: The ID of the timeline item the attachment belongs to.
          in: path
          name: itemId
          required: true
          schema:
            type: string
        - description: The ID of the attachment.
          in: path
          name: attachmentId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/glass.timeline
          Oauth2c:
            - https://www.googleapis.com/auth/glass.timeline
      tags:
        - timeline
    get:
      description: Retrieves an attachment on a timeline item by item ID and attachment ID.
      operationId: mirror.timeline.attachments.get
      parameters:
        - description: The ID of the timeline item the attachment belongs to.
          in: path
          name: itemId
          required: true
          schema:
            type: string
        - description: The ID of the attachment.
          in: path
          name: attachmentId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Attachment"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/glass.timeline
          Oauth2c:
            - https://www.googleapis.com/auth/glass.timeline
      tags:
        - timeline
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
components:
  parameters:
    alt:
      description: Data format for the response.
      in: query
      name: alt
      schema:
        default: json
        enum:
          - json
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        default: true
        type: boolean
    quotaUser:
      description: An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    userIp:
      description: Deprecated. Please use quotaUser instead.
      in: query
      name: userIp
      schema:
        type: string
  requestBodies:
    Contact:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Contact"
    Subscription:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Subscription"
    TimelineItem:
      content:
        audio/1d-interleaved-parityfec:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/32kadpcm:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/3gpp:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/3gpp2:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/aac:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/ac3:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/adpcm:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/amr:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/amr-wb:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/amr-wb+:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/aptx:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/asc:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/atrac-advanced-lossless:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/atrac-x:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/atrac3:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/basic:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/bv16:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/bv32:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/clearmode:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/cn:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/dat12:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/dls:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/dsr-es201108:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/dsr-es202050:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/dsr-es202211:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/dsr-es202212:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/dv:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/dvi4:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/eac3:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/encaprtp:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/evrc:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/evrc-qcp:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/evrc0:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/evrc1:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/evrcb:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/evrcb0:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/evrcb1:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/evrcnw:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/evrcnw0:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/evrcnw1:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/evrcwb:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/evrcwb0:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/evrcwb1:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/evs:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/fwdred:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/g711-0:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/g719:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/g722:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/g7221:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/g723:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/g726-16:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/g726-24:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/g726-32:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/g726-40:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/g728:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/g729:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/g7291:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/g729d:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/g729e:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/gsm:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/gsm-efr:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/gsm-hr-08:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/ilbc:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/ip-mr_v2.5:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/isac:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/l16:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/l20:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/l24:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/l8:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/lpc:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/melp:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/melp1200:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/melp2400:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/melp600:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/midi:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/mobile-xmf:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/mp3:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/mp4:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/mp4a-latm:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/mpa:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/mpa-robust:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/mpeg:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/mpeg4-generic:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/musepack:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/ogg:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/opus:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/parityfec:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/pcma:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/pcma-wb:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/pcmu:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/pcmu-wb:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/prs.sid:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/qcelp:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/raptorfec:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/red:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/rtp-enc-aescm128:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/rtp-midi:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/rtploopback:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/rtx:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/s3m:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/silk:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/smv:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/smv-qcp:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/smv0:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/sp-midi:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/speex:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/t140c:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/t38:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/telephone-event:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/tetra_acelp:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/tone:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/uemclip:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/ulpfec:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/usac:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vdvi:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vmr-wb:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.3gpp.iufp:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.4sb:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.audiokoz:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.celp:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.cisco.nse:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.cmles.radio-events:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.cns.anp1:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.cns.inf1:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.dece.audio:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.digital-winds:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.dlna.adts:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.dolby.heaac.1:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.dolby.heaac.2:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.dolby.mlp:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.dolby.mps:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.dolby.pl2:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.dolby.pl2x:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.dolby.pl2z:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.dolby.pulse.1:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.dra:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.dts:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.dts.hd:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.dts.uhd:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.dvb.file:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.everad.plj:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.hns.audio:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.lucent.voice:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.ms-playready.media.pya:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.nokia.mobile-xmf:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.nortel.vbk:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.nuera.ecelp4800:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.nuera.ecelp7470:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.nuera.ecelp9600:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.octel.sbc:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.presonus.multitrack:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.qcelp:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.rhetorex.32kadpcm:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.rip:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.rn-realaudio:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.sealedmedia.softseal.mpeg:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.vmx.cvsd:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vnd.wave:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vorbis:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/vorbis-config:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/wav:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/wave:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/webm:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/x-aac:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/x-aiff:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/x-caf:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/x-flac:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/x-m4a:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/x-matroska:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/x-mpegurl:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/x-ms-wax:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/x-ms-wma:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/x-pn-realaudio:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/x-pn-realaudio-plugin:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/x-realaudio:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/x-tta:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/x-wav:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        audio/xm:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/aces:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/apng:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/avci:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/avcs:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/bmp:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/cgm:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/dicom-rle:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/emf:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/fits:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/g3fax:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/gif:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/heic:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/heic-sequence:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/heif:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/heif-sequence:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/ief:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/jls:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/jp2:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/jpeg:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/jpm:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/jpx:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/ktx:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/naplps:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/pjpeg:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/png:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/prs.btif:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/prs.pti:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/pwg-raster:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/sgi:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/svg+xml:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/t38:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/tiff:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/tiff-fx:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/vnd.adobe.photoshop:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/vnd.airzip.accelerator.azv:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/vnd.cns.inf2:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/vnd.dece.graphic:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/vnd.djvu:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/vnd.dvb.subtitle:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/vnd.dwg:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/vnd.dxf:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/vnd.fastbidsheet:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/vnd.fpx:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/vnd.fst:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/vnd.fujixerox.edmics-mmr:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/vnd.fujixerox.edmics-rlc:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/vnd.globalgraphics.pgb:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/vnd.microsoft.icon:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/vnd.mix:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/vnd.mozilla.apng:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/vnd.ms-modi:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/vnd.ms-photo:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/vnd.net-fpx:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/vnd.radiance:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/vnd.sealed.png:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/vnd.sealedmedia.softseal.gif:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/vnd.sealedmedia.softseal.jpg:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/vnd.svf:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/vnd.tencent.tap:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/vnd.valve.source.texture:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/vnd.wap.wbmp:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/vnd.xiff:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/vnd.zbrush.pcx:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/webp:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/wmf:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/x-3ds:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/x-cmu-raster:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/x-cmx:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/x-freehand:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/x-icon:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/x-jng:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/x-mrsid-image:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/x-ms-bmp:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/x-pcx:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/x-pict:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/x-portable-anymap:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/x-portable-bitmap:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/x-portable-graymap:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/x-portable-pixmap:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/x-rgb:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/x-tga:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/x-xbitmap:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/x-xcf:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/x-xpixmap:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        image/x-xwindowdump:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/1d-interleaved-parityfec:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/3gpp:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/3gpp-tt:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/3gpp2:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/bmpeg:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/bt656:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/celb:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/dv:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/encaprtp:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/h261:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/h263:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/h263-1998:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/h263-2000:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/h264:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/h264-rcdo:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/h264-svc:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/h265:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/iso.segment:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/jpeg:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/jpeg2000:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/jpm:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/mj2:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/mp1s:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/mp2p:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/mp2t:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/mp4:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/mp4v-es:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/mpeg:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/mpeg4-generic:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/mpv:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/nv:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/ogg:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/parityfec:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/pointer:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/quicktime:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/raptorfec:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/raw:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/rtp-enc-aescm128:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/rtploopback:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/rtx:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/smpte291:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/smpte292m:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/ulpfec:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vc1:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vc2:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.cctv:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.dece.hd:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.dece.mobile:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.dece.mp4:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.dece.pd:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.dece.sd:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.dece.video:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.directv.mpeg:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.directv.mpeg-tts:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.dlna.mpeg-tts:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.dvb.file:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.fvt:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.hns.video:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.iptvforum.1dparityfec-1010:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.iptvforum.1dparityfec-2005:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.iptvforum.2dparityfec-1010:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.iptvforum.2dparityfec-2005:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.iptvforum.ttsavc:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.iptvforum.ttsmpeg2:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.motorola.video:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.motorola.videop:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.mpegurl:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.ms-playready.media.pyv:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.nokia.interleaved-multimedia:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.nokia.mp4vr:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.nokia.videovoip:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.objectvideo:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.radgamettools.bink:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.radgamettools.smacker:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.sealed.mpeg1:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.sealed.mpeg4:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.sealed.swf:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.sealedmedia.softseal.mov:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.uvvu.mp4:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vnd.vivo:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/vp8:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/webm:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/x-f4v:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/x-fli:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/x-flv:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/x-m4v:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/x-matroska:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/x-mng:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/x-ms-asf:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/x-ms-vob:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/x-ms-wm:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/x-ms-wmv:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/x-ms-wmx:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/x-ms-wvx:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/x-msvideo:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/x-sgi-movie:
          schema:
            $ref: "#/components/schemas/TimelineItem"
        video/x-smv:
          schema:
            $ref: "#/components/schemas/TimelineItem"
  schemas:
    Account:
      description: Represents an account passed into the Account Manager on Glass.
      properties:
        authTokens:
          items:
            $ref: "#/components/schemas/AuthToken"
          type: array
        features:
          items:
            type: string
          type: array
        password:
          type: string
        userData:
          items:
            $ref: "#/components/schemas/UserData"
          type: array
      type: object
    Attachment:
      description: Represents media content, such as a photo, that can be attached to a timeline item.
      properties:
        contentType:
          description: The MIME type of the attachment.
          type: string
        contentUrl:
          description: The URL for the content.
          type: string
        id:
          description: The ID of the attachment.
          type: string
        isProcessingContent:
          description: Indicates that the contentUrl is not available because the attachment content is still being processed. If the caller wishes to retrieve the content, it should try again later.
          type: boolean
      type: object
    AttachmentsListResponse:
[...]
