{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "spectrocoin.com",
  "basePath": "/api/merchant/1",
  "info": {
    "contact": {
      "name": "info@spectrocoin.com"
    },
    "description": "This is an API designed for merchants who are using SpectroCoin services and wishes to integrate them locally.",
    "title": "SpectroCoin Merchant",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "ecommerce",
      "financial",
      "payment"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_spectrocoin_profile_image.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://spectrocoin.com/api-docs/merchant/1/",
        "version": "2.0"
      }
    ],
    "x-providerName": "spectrocoin.com"
  },
  "consumes": [
    "application/x-www-form-urlencoded"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "name": "createOrder"
    }
  ],
  "paths": {
    "/api/createOrder": {
      "post": {
        "description": "",
        "operationId": "createOrder",
        "parameters": [
          {
            "description": "Request to create order",
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Order_request_class_used_to_provide_order_specific_information"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Order_information_class"
            }
          }
        },
        "summary": "Create merchant order",
        "tags": [
          "createOrder"
        ]
      }
    }
  },
  "definitions": {
    "Order_information_class": {
      "properties": {
        "depositAddress": {
          "description": "Payment deposit address",
          "type": "string"
        },
        "orderId": {
          "description": "Merchant provided or generated order id",
          "type": "string"
        },
        "orderRequestId": {
          "description": "Generated unique order request id",
          "format": "int64",
          "type": "integer"
        },
        "payAmount": {
          "description": "Amount of payment currency to be paid by merchant customer",
          "type": "number"
        },
        "payCurrency": {
          "description": "Currency to be paid with",
          "type": "string"
        },
        "receiveAmount": {
          "description": "Amount of receive currency to be funded to merchant account",
          "type": "number"
        },
        "receiveCurrency": {
          "description": "Currency to be funded to merchant account",
          "type": "string"
        },
        "redirectUrl": {
          "description": "SpectroCoin payment window url where merchant customer may be redirected",
          "type": "string"
        },
        "validUntil": {
          "description": "Timestamp until when order is valid",
          "format": "int64",
          "type": "integer"
        }
      },
      "required": [
        "depositAddress",
        "orderId",
        "orderRequestId",
        "payAmount",
        "payCurrency",
        "receiveAmount",
        "receiveCurrency",
        "redirectUrl",
        "validUntil"
      ],
      "type": "object"
    },
    "Order_request_class_used_to_provide_order_specific_information": {
      "properties": {
        "apiId": {
          "description": "API ID of specific API you have configured on your merchant account",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        },
        "callbackUrl": {
          "description": "Url of merchant endpoint callback about order status to be returned",
          "type": "string"
        },
        "culture": {
          "description": "Merchant customer culture payment window to be presented",
          "enum": [
            "en",
            "lt",
            "ru",
            "de"
          ],
          "type": "string"
        },
        "description": {
          "description": "Order description. Will be presented for merchant customer at payment window",
          "type": "string"
        },
        "failureUrl": {
          "description": "Url of merchant page customer should be redirected after unsuccessful payment",
          "type": "string"
        },
        "merchantId": {
          "description": "Merchant ID assigned to your account",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        },
        "orderId": {
          "description": "Custom order ID. Must be unique per API. If not provided it will be generated.",
          "type": "string"
        },
        "payAmount": {
          "description": "Pay amount in pay currency of value which should be paid by merchant customer. If not provided receive amount will be used to calculate pay amount",
          "type": "number"
        },
        "payCurrency": {
          "description": "Currency of pay amount",
          "type": "string"
        },
        "payerEmail": {
          "description": "Specified payer email.",
          "type": "string"
        },
        "payerName": {
          "description": "Specified payer name.",
          "type": "string"
        },
        "payerSurname": {
          "description": "Specified payer surname.",
          "type": "string"
        },
        "receiveAmount": {
          "description": "Receive amount in receive currency of value that merchant will be funded after merchant customers payment approval. If not provided pay amount will be used to calculate receive amount",
          "type": "number"
        },
        "receiveCurrency": {
          "description": "Currency of receive amount",
          "type": "string"
        },
        "sign": {
          "description": "Signature required for signing create order request",
          "type": "string"
        },
        "successUrl": {
          "description": "Url of merchant page customer should be redirected after successful payment",
          "type": "string"
        }
      },
      "required": [
        "apiId",
        "merchantId",
        "payCurrency",
        "receiveCurrency",
        "sign"
      ],
      "type": "object"
    }
  }
}