swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Azure NotificationHub client
  title: NotificationHubsManagementClient
  version: 2016-03-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/stable/2016-03-01/notificationhubs.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: notificationhubs
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
  - text/json
produces:
  - application/json
  - text/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.NotificationHubs/checkNamespaceAvailability":
    post:
      description: Checks the availability of the given service namespace across all Azure subscriptions. This is useful because the domain name is created based on the service namespace name.
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj870968.aspx
      operationId: Namespaces_CheckAvailability
      parameters:
        - description: The namespace name.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/CheckAvailabilityParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Checks if the Namespace name is a valid available name
          schema:
            $ref: "#/definitions/CheckAvailabilityResult"
      tags:
        - Namespaces
  "/subscriptions/{subscriptionId}/providers/Microsoft.NotificationHubs/namespaces":
    get:
      description: Lists all the available namespaces within the subscription irrespective of the resourceGroups.
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/azure/hh780759.aspx
      operationId: Namespaces_ListAll
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: " Gets all the Namespaces within the subscription irrespective of the ResourceGroup"
          schema:
            $ref: "#/definitions/NamespaceListResult"
      tags:
        - Namespaces
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces":
    get:
      description: Lists the available namespaces within a resourceGroup.
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/azure/hh780759.aspx
      operationId: Namespaces_List
      parameters:
        - description: The name of the resource group. If resourceGroupName value is null the method lists all the namespaces within subscription
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Lists all Namespaces with the ResourceGroup
          schema:
            $ref: "#/definitions/NamespaceListResult"
      tags:
        - Namespaces
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}":
    delete:
      description: Deletes an existing namespace. This operation also removes all associated notificationHubs under the namespace.
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj856296.aspx
      operationId: Namespaces_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Namespace is deleted
        "202":
          description: Namespace delete request has been accepted
        "204":
          description: Namespace is already Deleted
      tags:
        - Namespaces
      x-ms-long-running-operation: true
    get:
      description: Returns the description for the specified namespace.
      externalDocs:
        url: http://msdn.microsoft.com/library/azure/dn140232.aspx
      operationId: Namespaces_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Get Namespace
          schema:
            $ref: "#/definitions/NamespaceResource"
      tags:
        - Namespaces
    patch:
      description: Patches the existing namespace
      operationId: Namespaces_Patch
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: Parameters supplied to patch a Namespace Resource.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/NamespacePatchParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Namespace is Updated
          schema:
            $ref: "#/definitions/NamespaceResource"
      tags:
        - Namespaces
    put:
      description: Creates/Updates a service namespace. Once created, this namespace's resource manifest is immutable. This operation is idempotent.
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj856303.aspx
      operationId: Namespaces_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: Parameters supplied to create a Namespace Resource.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/NamespaceCreateOrUpdateParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Namespace is Create/Update
          schema:
            $ref: "#/definitions/NamespaceResource"
        "201":
          description: Namespace is Create/Update
          schema:
            $ref: "#/definitions/NamespaceResource"
      tags:
        - Namespaces
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules":
    get:
      description: Gets the authorization rules for a namespace.
      operationId: Namespaces_ListAuthorizationRules
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name
          in: path
          name: namespaceName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Get the Namespace AuthorizationRule
          schema:
            $ref: "#/definitions/SharedAccessAuthorizationRuleListResult"
      tags:
        - Namespaces
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}":
    delete:
      description: Deletes a namespace authorization rule
      operationId: Namespaces_DeleteAuthorizationRule
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: Authorization Rule Name.
          in: path
          name: authorizationRuleName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Namespace AuthorizationRule is deleted
        "204":
          description: Namespace AuthorizationRule is already deleted
      tags:
        - Namespaces
    get:
      description: Gets an authorization rule for a namespace by name.
      operationId: Namespaces_GetAuthorizationRule
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name
          in: path
          name: namespaceName
          required: true
          type: string
        - description: Authorization rule name.
          in: path
          name: authorizationRuleName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Get the Namespace AuthorizationRule
          schema:
            $ref: "#/definitions/SharedAccessAuthorizationRuleResource"
      tags:
        - Namespaces
    put:
      description: Creates an authorization rule for a namespace
      operationId: Namespaces_CreateOrUpdateAuthorizationRule
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: Authorization Rule Name.
          in: path
          name: authorizationRuleName
          required: true
          type: string
        - description: The shared access authorization rule.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/SharedAccessAuthorizationRuleCreateOrUpdateParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Namespace Authorization Rule is Created/Updated
          schema:
            $ref: "#/definitions/SharedAccessAuthorizationRuleResource"
      tags:
        - Namespaces
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}/listKeys":
    post:
      description: "Gets the Primary and Secondary ConnectionStrings to the namespace "
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx
      operationId: Namespaces_ListKeys
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The connection string of the namespace for the specified authorizationRule.
          in: path
          name: authorizationRuleName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Gets the Namespace AuthorizationRule's Primary keys and Secondary keys along with the ConnectionStrings
          schema:
            $ref: "#/definitions/ResourceListKeys"
      tags:
        - Namespaces
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}/regenerateKeys":
    post:
      description: Regenerates the Primary/Secondary Keys to the Namespace Authorization Rule
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx
      operationId: Namespaces_RegenerateKeys
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The connection string of the namespace for the specified authorizationRule.
          in: path
          name: authorizationRuleName
          required: true
          type: string
        - description: Parameters supplied to regenerate the Namespace Authorization Rule Key.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/PolicykeyResource"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Regenerate the Primary/Secondary Key and returns the Keys and the connection string
          schema:
            $ref: "#/definitions/ResourceListKeys"
      tags:
        - Namespaces
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/checkNotificationHubAvailability":
    post:
      description: Checks the availability of the given notificationHub in a namespace.
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj870968.aspx
      operationId: NotificationHubs_CheckAvailability
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The notificationHub name.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/CheckAvailabilityParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Checks if the NotificationHub name is a valid available name
          schema:
            $ref: "#/definitions/CheckAvailabilityResult"
      tags:
        - NotificationHubs
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs":
    get:
      description: Lists the notification hubs associated with a namespace.
      operationId: NotificationHubs_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Get all NotificationHubs within a Namespace
          schema:
            $ref: "#/definitions/NotificationHubListResult"
      tags:
        - NotificationHubs
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}":
    delete:
      description: Deletes a notification hub associated with a namespace.
      operationId: NotificationHubs_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The notification hub name.
          in: path
          name: notificationHubName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Namespace is deleted
      tags:
        - NotificationHubs
    get:
      description: Lists the notification hubs associated with a namespace.
      operationId: NotificationHubs_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The notification hub name.
          in: path
          name: notificationHubName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Get the NotificationHub
          schema:
            $ref: "#/definitions/NotificationHubResource"
      tags:
        - NotificationHubs
    put:
      description: Creates/Update a NotificationHub in a namespace.
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj856303.aspx
      operationId: NotificationHubs_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The notification hub name.
          in: path
          name: notificationHubName
          required: true
          type: string
        - description: Parameters supplied to the create/update a NotificationHub Resource.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/NotificationHubCreateOrUpdateParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: NotificationHub is Created/Updated
          schema:
            $ref: "#/definitions/NotificationHubResource"
        "201":
          description: NotificationHub is Created/Updated
          schema:
            $ref: "#/definitions/NotificationHubResource"
      tags:
        - NotificationHubs
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules":
    get:
      description: Gets the authorization rules for a NotificationHub.
      operationId: NotificationHubs_ListAuthorizationRules
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The notification hub name.
          in: path
          name: notificationHubName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Get all NotificationHub AuthorizationRules
          schema:
            $ref: "#/definitions/SharedAccessAuthorizationRuleListResult"
      tags:
        - NotificationHubs
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules/{authorizationRuleName}":
    delete:
      description: Deletes a notificationHub authorization rule
      operationId: NotificationHubs_DeleteAuthorizationRule
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The notification hub name.
          in: path
          name: notificationHubName
          required: true
          type: string
        - description: Authorization Rule Name.
          in: path
          name: authorizationRuleName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: NotificationHub AuthorizationRule is deleted
        "204":
          description: NotificationHub AuthorizationRule is already deleted
      tags:
        - NotificationHubs
    get:
      description: Gets an authorization rule for a NotificationHub by name.
      operationId: NotificationHubs_GetAuthorizationRule
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The notification hub name.
          in: path
          name: notificationHubName
          required: true
          type: string
        - description: authorization rule name.
          in: path
          name: authorizationRuleName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Get NotificationHub AuthorizationRule
          schema:
            $ref: "#/definitions/SharedAccessAuthorizationRuleResource"
      tags:
        - NotificationHubs
    put:
      description: Creates/Updates an authorization rule for a NotificationHub
      operationId: NotificationHubs_CreateOrUpdateAuthorizationRule
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The notification hub name.
          in: path
          name: notificationHubName
          required: true
          type: string
        - description: Authorization Rule Name.
          in: path
          name: authorizationRuleName
          required: true
          type: string
        - description: The shared access authorization rule.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/SharedAccessAuthorizationRuleCreateOrUpdateParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: NotificationHub AuthorizationRule is Created/Updated
          schema:
            $ref: "#/definitions/SharedAccessAuthorizationRuleResource"
      tags:
        - NotificationHubs
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules/{authorizationRuleName}/listKeys":
    post:
      description: "Gets the Primary and Secondary ConnectionStrings to the NotificationHub "
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx
      operationId: NotificationHubs_ListKeys
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The notification hub name.
          in: path
          name: notificationHubName
          required: true
          type: string
        - description: The connection string of the NotificationHub for the specified authorizationRule.
          in: path
          name: authorizationRuleName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Gets the Namespace AuthorizationRule's Primary keys and Secondary keys along with the ConnectionStrings
          schema:
            $ref: "#/definitions/ResourceListKeys"
      tags:
        - NotificationHubs
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/AuthorizationRules/{authorizationRuleName}/regenerateKeys":
    post:
      description: Regenerates the Primary/Secondary Keys to the NotificationHub Authorization Rule
      externalDocs:
        url: http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx
      operationId: NotificationHubs_RegenerateKeys
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The notification hub name.
          in: path
          name: notificationHubName
          required: true
          type: string
        - description: The connection string of the NotificationHub for the specified authorizationRule.
          in: path
          name: authorizationRuleName
          required: true
          type: string
        - description: Parameters supplied to regenerate the NotificationHub Authorization Rule Key.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/PolicykeyResource"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Regenerate the Primary/Secondary Key and returns the Keys and the connection string
          schema:
            $ref: "#/definitions/ResourceListKeys"
      tags:
        - NotificationHubs
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/pnsCredentials":
    post:
      description: Lists the PNS Credentials associated with a notification hub .
      operationId: NotificationHubs_GetPnsCredentials
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: The notification hub name.
          in: path
          name: notificationHubName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Gets all the NotificationHub PNS credentials
          schema:
            $ref: "#/definitions/PnsCredentialsResource"
      tags:
        - NotificationHubs
definitions:
  AdmCredential:
    description: Description of a NotificationHub AdmCredential.
    properties:
      properties:
        $ref: "#/definitions/AdmCredentialProperties"
        description: Properties of NotificationHub AdmCredential.
        x-ms-client-flatten: true
  AdmCredentialProperties:
    description: Description of a NotificationHub AdmCredential.
    properties:
      authTokenUrl:
        description: The URL of the authorization token.
        type: string
      clientId:
        description: The client identifier.
        type: string
      clientSecret:
        description: The credential secret access key.
        type: string
  ApnsCredential:
    description: Description of a NotificationHub ApnsCredential.
    properties:
      properties:
        $ref: "#/definitions/ApnsCredentialProperties"
        description: Properties of NotificationHub ApnsCredential.
        x-ms-client-flatten: true
  ApnsCredentialProperties:
    description: Description of a NotificationHub ApnsCredential.
    properties:
      apnsCertificate:
        description: The APNS certificate.
        type: string
      certificateKey:
        description: The certificate key.
        type: string
      endpoint:
        description: The endpoint of this credential.
        type: string
      thumbprint:
        description: The APNS certificate Thumbprint
        type: string
  BaiduCredential:
    description: Description of a NotificationHub BaiduCredential.
    properties:
      properties:
        $ref: "#/definitions/BaiduCredentialProperties"
        description: Properties of NotificationHub BaiduCredential.
        x-ms-client-flatten: true
  BaiduCredentialProperties:
    description: Description of a NotificationHub BaiduCredential.
    properties:
      baiduApiKey:
        description: Baidu Api Key.
        type: string
      baiduEndPoint:
        description: Baidu Endpoint.
        type: string
      baiduSecretKey:
        description: Baidu Secret Key
        type: string
  CheckAvailabilityParameters:
    description: Parameters supplied to the Check Name Availability for Namespace and NotificationHubs.
    properties:
      id:
        description: Resource Id
        readOnly: true
        type: string
      isAvailiable:
        description: True if the name is available and can be used to create new Namespace/NotificationHub. Otherwise false.
        type: boolean
      location:
        description: Resource location
        type: string
      name:
        description: Resource name
        type: string
      sku:
        $ref: "#/definitions/Sku"
        description: The sku of the created namespace
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
      type:
        description: Resource type
        readOnly: true
        type: string
    required:
      - name
      - location
  CheckAvailabilityResult:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Description of a CheckAvailability resource.
    properties:
      isAvailiable:
        description: True if the name is available and can be used to create new Namespace/NotificationHub. Otherwise false.
        type: boolean
  GcmCredential:
    description: Description of a NotificationHub GcmCredential.
    properties:
      properties:
        $ref: "#/definitions/GcmCredentialProperties"
        description: Properties of NotificationHub GcmCredential.
        x-ms-client-flatten: true
  GcmCredentialProperties:
    description: Description of a NotificationHub GcmCredential.
    properties:
      gcmEndpoint:
        description: The GCM endpoint.
        type: string
      googleApiKey:
        description: The Google API key.
        type: string
  MpnsCredential:
    description: Description of a NotificationHub MpnsCredential.
    properties:
      properties:
        $ref: "#/definitions/MpnsCredentialProperties"
        description: Properties of NotificationHub MpnsCredential.
        x-ms-client-flatten: true
  MpnsCredentialProperties:
    description: Description of a NotificationHub MpnsCredential.
    properties:
      certificateKey:
        description: The certificate key for this credential.
        type: string
      mpnsCertificate:
        description: The MPNS certificate.
        type: string
      thumbprint:
        description: The MPNS certificate Thumbprint
        type: string
  NamespaceCreateOrUpdateParameters:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Parameters supplied to the CreateOrUpdate Namespace operation.
    properties:
      properties:
        $ref: "#/definitions/NamespaceProperties"
        description: Properties of the Namespace.
        x-ms-client-flatten: true
    required:
      - location
  NamespaceListResult:
    description: The response of the List Namespace operation.
    properties:
      nextLink:
        description: Link to the next set of results. Not empty if Value contains incomplete list of Namespaces
        type: string
      value:
        description: Result of the List Namespace operation.
        items:
          $ref: "#/definitions/NamespaceResource"
        type: array
  NamespacePatchParameters:
    description: Parameters supplied to the Patch Namespace operation.
    properties:
      sku:
        $ref: "#/definitions/Sku"
        description: The sku of the created namespace
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
  NamespaceProperties:
    description: Namespace properties.
    properties:
      createdAt:
        description: The time the namespace was created.
        format: date-time
        type: string
      critical:
        description: Whether or not the namespace is set as Critical.
        type: boolean
      enabled:
        description: Whether or not the namespace is currently enabled.
        type: boolean
      name:
        description: The name of the namespace.
        type: string
      namespaceType:
        description: The namespace type.
        enum:
          - Messaging
          - NotificationHub
        type: string
        x-ms-enum:
          modelAsString: false
          name: NamespaceType
      provisioningState:
        description: Provisioning state of the Namespace.
        type: string
      region:
        description: "Specifies the targeted region in which the namespace should be created. It can be any of the following values: Australia East, Australia Southeast, Central US, East US, East US 2, West US, North Central US, South Central US, East Asia, Southeast Asia, Brazil South, Japan East, Japan West, North Europe, West Europe"
        externalDocs:
          url: http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx
        type: string
      scaleUnit:
        description: ScaleUnit where the namespace gets created
        type: string
      serviceBusEndpoint:
        description: Endpoint you can use to perform NotificationHub operations.
        externalDocs:
          url: http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx
        type: string
      status:
        description: Status of the namespace. It can be any of these values:1 = Created/Active2 = Creating3 = Suspended4 = Deleting
        externalDocs:
          url: http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx
        type: string
      subscriptionId:
        description: The Id of the Azure subscription associated with the namespace.
        type: string
  NamespaceResource:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Description of a Namespace resource.
    properties:
      properties:
        $ref: "#/definitions/NamespaceProperties"
        description: Properties of the Namespace.
        x-ms-client-flatten: true
  NotificationHubCreateOrUpdateParameters:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Parameters supplied to the CreateOrUpdate NotificationHub operation.
    properties:
      properties:
        $ref: "#/definitions/NotificationHubProperties"
        description: Properties of the NotificationHub.
        x-ms-client-flatten: true
    required:
      - location
      - properties
  NotificationHubListResult:
    description: The response of the List NotificationHub operation.
    properties:
      nextLink:
        description: Link to the next set of results. Not empty if Value contains incomplete list of NotificationHub
        type: string
      value:
        description: Result of the List NotificationHub operation.
        items:
          $ref: "#/definitions/NotificationHubResource"
        type: array
  NotificationHubProperties:
    description: NotificationHub properties.
    properties:
      admCredential:
        $ref: "#/definitions/AdmCredential"
        description: The AdmCredential of the created NotificationHub
      apnsCredential:
        $ref: "#/definitions/ApnsCredential"
        description: The ApnsCredential of the created NotificationHub
      authorizationRules:
        description: The AuthorizationRules of the created NotificationHub
        items:
          $ref: "#/definitions/SharedAccessAuthorizationRuleProperties"
        type: array
      baiduCredential:
        $ref: "#/definitions/BaiduCredential"
        description: The BaiduCredential of the created NotificationHub
      gcmCredential:
        $ref: "#/definitions/GcmCredential"
        description: The GcmCredential of the created NotificationHub
      mpnsCredential:
        $ref: "#/definitions/MpnsCredential"
        description: The MpnsCredential of the created NotificationHub
      name:
        description: The NotificationHub name.
        type: string
      registrationTtl:
        description: The RegistrationTtl of the created NotificationHub
        type: string
      wnsCredential:
        $ref: "#/definitions/WnsCredential"
        description: The WnsCredential of the created NotificationHub
  NotificationHubResource:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Description of a NotificationHub Resource.
    properties:
      properties:
        $ref: "#/definitions/NotificationHubProperties"
        description: Properties of the NotificationHub.
        x-ms-client-flatten: true
  PnsCredentialsProperties:
    description: Description of a NotificationHub PNS Credentials.
    properties:
      admCredential:
        $ref: "#/definitions/AdmCredential"
        description: The AdmCredential of the created NotificationHub
      apnsCredential:
        $ref: "#/definitions/ApnsCredential"
        description: The ApnsCredential of the created NotificationHub
      baiduCredential:
        $ref: "#/definitions/BaiduCredential"
        description: The BaiduCredential of the created NotificationHub
      gcmCredential:
        $ref: "#/definitions/GcmCredential"
        description: The GcmCredential of the created NotificationHub
      mpnsCredential:
        $ref: "#/definitions/MpnsCredential"
        description: The MpnsCredential of the created NotificationHub
      wnsCredential:
        $ref: "#/definitions/WnsCredential"
        description: The WnsCredential of the created NotificationHub
  PnsCredentialsResource:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Description of a NotificationHub PNS Credentials.
    properties:
      properties:
        $ref: "#/definitions/PnsCredentialsProperties"
        description: NotificationHub PNS Credentials.
        x-ms-client-flatten: true
  PolicykeyResource:
    description: Namespace/NotificationHub Regenerate Keys
    properties:
      policyKey:
        description: Name of the key that has to be regenerated for the Namespace/Notification Hub Authorization Rule. The value can be Primary Key/Secondary Key.
        type: string
  Resource:
    properties:
      id:
        description: Resource Id
        readOnly: true
        type: string
      location:
        description: Resource location
        type: string
      name:
        description: Resource name
        readOnly: true
        type: string
      sku:
        $ref: "#/definitions/Sku"
        description: The sku of the created namespace
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
      type:
        description: Resource type
        readOnly: true
        type: string
    required:
      - location
    x-ms-azure-resource: true
  ResourceListKeys:
    description: Namespace/NotificationHub Connection String
    properties:
      keyName:
        description: KeyName of the created AuthorizationRule
        type: string
      primaryConnectionString:
        description: PrimaryConnectionString of the AuthorizationRule.
        type: string
      primaryKey:
        description: PrimaryKey of the created AuthorizationRule.
        type: string
      secondaryConnectionString:
        description: SecondaryConnectionString of the created AuthorizationRule
        type: string
      secondaryKey:
        description: SecondaryKey of the created AuthorizationRule
        type: string
  SharedAccessAuthorizationRuleCreateOrUpdateParameters:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Parameters supplied to the CreateOrUpdate Namespace AuthorizationRules.
    properties:
      properties:
        $ref: "#/definitions/SharedAccessAuthorizationRuleProperties"
        description: Properties of the Namespace AuthorizationRules.
    required:
      - properties
  SharedAccessAuthorizationRuleListResult:
    description: The response of the List Namespace operation.
    properties:
      nextLink:
        description: Link to the next set of results. Not empty if Value contains incomplete list of AuthorizationRules
        type: string
      value:
        description: Result of the List AuthorizationRules operation.
        items:
          $ref: "#/definitions/SharedAccessAuthorizationRuleResource"
        type: array
  SharedAccessAuthorizationRuleProperties:
    description: SharedAccessAuthorizationRule properties.
    properties:
      rights:
        description: The rights associated with the rule.
        items:
          enum:
            - Manage
            - Send
            - Listen
          type: string
          x-ms-enum:
            modelAsString: false
            name: AccessRights
        type: array
  SharedAccessAuthorizationRuleResource:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Description of a Namespace AuthorizationRules.
    properties:
      properties:
        $ref: "#/definitions/SharedAccessAuthorizationRuleProperties"
        description: Properties of the Namespace AuthorizationRule.
        x-ms-client-flatten: true
  Sku:
    description: The Sku description for a namespace
    properties:
      capacity:
        description: The capacity of the resource
        type: integer
      family:
        description: The Sku Family
        type: string
      name:
        description: Name of the notification hub sku
        enum:
          - Free
          - Basic
          - Standard
        type: string
        x-ms-enum:
          modelAsString: true
          name: SkuName
      size:
        description: The Sku size
        type: string
      tier:
        description: The tier of particular sku
        type: string
    required:
      - name
  SubResource:
    properties:
      id:
        description: Resource Id
        type: string
    x-ms-azure-resource: true
  WnsCredential:
    description: Description of a NotificationHub WnsCredential.
    properties:
      properties:
        $ref: "#/definitions/WnsCredentialProperties"
        description: Properties of NotificationHub WnsCredential.
        x-ms-client-flatten: true
  WnsCredentialProperties:
    description: Description of a NotificationHub WnsCredential.
    properties:
      packageSid:
        description: The package ID for this credential.
        type: string
      secretKey:
        description: The secret key.
        type: string
      windowsLiveEndpoint:
        description: The Windows Live endpoint.
        type: string
