{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "api.moderatecontent.com",
  "basePath": "/moderate/",
  "info": {
    "contact": {
      "email": "info@moderatecontent.com"
    },
    "description": "Our FREE API blocks images with nudity. Build from the ground up, accurate models, best in class support, great price.",
    "termsOfService": "https://www.moderatecontent.com/documentation/terms",
    "title": "Image Moderation",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "media"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_www.moderatecontent.com_img_mdr8_logo-light.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://www.moderatecontent.com/api/swagger.yaml",
        "version": "2.0"
      }
    ],
    "x-providerName": "moderatecontent.com"
  },
  "externalDocs": {
    "description": "Find out more about ModerateContent.com",
    "url": "https://www.moderatecontent.com"
  },
  "tags": [
    {
      "description": "FREE API blocks images with nudity",
      "externalDocs": {
        "description": "Our Documentation",
        "url": "https://www.moderatecontent.com/documentation/content"
      },
      "name": "Image Moderation"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "",
        "parameters": [
          {
            "description": "",
            "in": "query",
            "name": "url",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "summary": "Blocks images with nudity",
        "tags": [
          "Inappropriate Content"
        ]
      }
    }
  }
}