swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Azure EventGrid Management Client
  title: EventGridManagementClient
  version: 2019-02-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/eventgrid/resource-manager/Microsoft.EventGrid/preview/2019-02-01-preview/EventGrid.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: eventgrid-EventGrid
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
parameters:
  ApiVersionParameter:
    description: Version of the API to be used with the client request.
    in: query
    name: api-version
    required: true
    type: string
  FilterParameter:
    description: Filter the results using OData syntax.
    in: query
    name: $filter
    required: false
    type: string
    x-ms-parameter-location: method
  LabelFilterParameter:
    description: The label used to filter the results for event subscriptions list.
    in: query
    name: label
    required: false
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
  TopParameter:
    description: The number of results to return.
    in: query
    name: $top
    required: false
    type: integer
    x-ms-parameter-location: method
paths:
  /providers/Microsoft.EventGrid/operations:
    get:
      consumes: []
      description: List the available operations supported by the Microsoft.EventGrid resource provider
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/OperationsListResult"
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List available operations
      tags:
        - Operations
      x-ms-examples:
        Operations_List:
          parameters:
            api-version: 2019-02-01-preview
          responses:
            "200":
              body:
                value:
                  - display:
                      description: Registers the eventSubscription for the EventGrid resource provider and enables the creation of Event Grid subscriptions.
                      operation: Registers the EventGrid Resource Provider
                      provider: Microsoft Event Grid
                      resource: EventGrid Resource Provider
                    name: Microsoft.EventGrid/register/action
                    origin: UserAndSystem
                  - display:
                      description: Create or update a eventSubscription
                      operation: Write EventSubscription
                      provider: Microsoft Event Grid
                      resource: eventSubscriptions
                    name: Microsoft.EventGrid/eventSubscriptions/write
                    origin: UserAndSystem
                  - display:
                      description: Read a eventSubscription
                      operation: Read EventSubscription
                      provider: Microsoft Event Grid
                      resource: eventSubscriptions
                    name: Microsoft.EventGrid/eventSubscriptions/read
                    origin: UserAndSystem
                  - display:
                      description: Delete a eventSubscription
                      operation: Delete EventSubscription
                      provider: Microsoft Event Grid
                      resource: eventSubscriptions
                    name: Microsoft.EventGrid/eventSubscriptions/delete
                    origin: UserAndSystem
                  - display:
                      description: Create or update a topic
                      operation: Write Topic
                      provider: Microsoft Event Grid
                      resource: topics
                    name: Microsoft.EventGrid/topics/write
                    origin: UserAndSystem
                  - display:
                      description: Read a topic
                      operation: Read Topic
                      provider: Microsoft Event Grid
                      resource: topics
                    name: Microsoft.EventGrid/topics/read
                    origin: UserAndSystem
                  - display:
                      description: Delete a topic
                      operation: Delete Topic
                      provider: Microsoft Event Grid
                      resource: topics
                    name: Microsoft.EventGrid/topics/delete
                    origin: UserAndSystem
      x-ms-pageable:
        nextLinkName: null
  /providers/Microsoft.EventGrid/topicTypes:
    get:
      consumes: []
      description: List all registered topic types
      operationId: TopicTypes_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/TopicTypesListResult"
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 404 Not Found.

             * 500 Internal Server Error.
      summary: List topic types
      tags:
        - TopicTypes
      x-ms-examples:
        TopicTypes_List:
          parameters:
            api-version: 2019-02-01-preview
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.EventGrid/topicTypes/Microsoft.Eventhub.Namespaces
                    name: Microsoft.Eventhub.Namespaces
                    properties:
                      description: Microsoft EventHubs service events.
                      displayName: EventHubs Namespace
                      provider: Microsoft.Eventhub
                      provisioningState: Succeeded
                      resourceRegionType: RegionalResource
                    type: Microsoft.EventGrid/topicTypes
                  - id: providers/Microsoft.EventGrid/topicTypes/Microsoft.Storage.StorageAccounts
                    name: Microsoft.Storage.StorageAccounts
                    properties:
                      description: Microsoft Storage service events.
                      displayName: Storage Accounts
                      provider: Microsoft.Storage
                      provisioningState: Succeeded
                      resourceRegionType: RegionalResource
                    type: Microsoft.EventGrid/topicTypes
      x-ms-pageable:
        nextLinkName: null
  "/providers/Microsoft.EventGrid/topicTypes/{topicTypeName}":
    get:
      consumes: []
      description: Get information about a topic type
      operationId: TopicTypes_Get
      parameters:
        - description: Name of the topic type
          in: path
          name: topicTypeName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/TopicTypeInfo"
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 404 Not Found.

             * 500 Internal Server Error.
      summary: Get a topic type
      tags:
        - TopicTypes
      x-ms-examples:
        TopicTypes_Get:
          parameters:
            api-version: 2019-02-01-preview
            topicTypeName: Microsoft.Storage.StorageAccounts
          responses:
            "200":
              body:
                id: providers/Microsoft.EventGrid/topicTypes/Microsoft.Storage.StorageAccounts
                name: Microsoft.Storage.StorageAccounts
                properties:
                  description: Microsoft Storage service events.
                  displayName: Storage Accounts
                  provider: Microsoft.Storage
                  provisioningState: Succeeded
                  resourceRegionType: RegionalResource
                type: Microsoft.EventGrid/topicTypes
  "/providers/Microsoft.EventGrid/topicTypes/{topicTypeName}/eventTypes":
    get:
      consumes: []
      description: List event types for a topic type
      operationId: TopicTypes_ListEventTypes
      parameters:
        - description: Name of the topic type
          in: path
          name: topicTypeName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/EventTypesListResult"
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 404 Not Found.

             * 500 Internal Server Error.
      summary: List event types
      tags:
        - TopicTypes
      x-ms-examples:
        TopicTypes_ListEventTypes:
          parameters:
            api-version: 2019-02-01-preview
            topicTypeName: Microsoft.Storage.StorageAccounts
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.EventGrid/topicTypes/Microsoft.Storage.StorageAccounts/eventTypes/Microsoft.Storage.BlobCreated
                    name: Microsoft.Storage.BlobCreated
                    properties:
                      description: Raised when a blob is created.
                      displayName: Blob Created
                      schemaUrl: tbd
                    type: Microsoft.EventGrid/topicTypes/eventTypes
                  - id: providers/Microsoft.EventGrid/topicTypes/Microsoft.Storage.StorageAccounts/eventTypes/Microsoft.Storage.BlobDeleted
                    name: Microsoft.Storage.BlobDeleted
                    properties:
                      description: Raised when a blob is deleted.
                      displayName: Blob Deleted
                      schemaUrl: tbd
                    type: Microsoft.EventGrid/topicTypes/eventTypes
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/domains":
    get:
      consumes: []
      description: List all the domains under an Azure subscription
      operationId: Domains_ListBySubscription
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/FilterParameter"
        - $ref: "#/parameters/TopParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DomainsListResult"
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List domains under an Azure subscription
      tags:
        - Domains
      x-ms-examples:
        Domains_ListBySubscription:
          parameters:
            api-version: 2019-02-01-preview
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/exampledomain1
                    location: westus2
                    name: exampledomain1
                    properties:
                      endpoint: https://exampledomain1.westus2-1.eventgrid.azure.net/api/events
                      provisioningState: Succeeded
                    tags:
                      tag1: value1
                      tag2: value2
                    type: Microsoft.EventGrid/domains
                  - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/exampledomain2
                    location: westcentralus
                    name: exampledomain2
                    properties:
                      endpoint: https://exampledomain2.westcentralus-1.eventgrid.azure.net/api/events
                      provisioningState: Succeeded
                    tags:
                      tag1: value1
                      tag2: value2
                    type: Microsoft.EventGrid/domains
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/eventSubscriptions":
    get:
      consumes: []
      description: List all aggregated global event subscriptions under a specific Azure subscription
      operationId: EventSubscriptions_ListGlobalBySubscription
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/FilterParameter"
        - $ref: "#/parameters/TopParameter"
        - $ref: "#/parameters/LabelFilterParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/EventSubscriptionsListResult"
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: Get an aggregated list of all global event subscriptions under an Azure subscription
      tags:
        - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListGlobalBySubscription:
          parameters:
            api-version: 2019-02-01-preview
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription2
                    name: examplesubscription2
                    properties:
                      destination:
                        endpointType: WebHook
                        properties:
                          endpointBaseUrl: https://requestb.in/15ksip71
                      filter:
                        includedEventTypes:
                          - All
                        isSubjectCaseSensitive: false
                        subjectBeginsWith: ""
                        subjectEndsWith: ""
                      provisioningState: Succeeded
                      topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg
                    type: Microsoft.EventGrid/eventSubscriptions
                  - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription4
                    name: examplesubscription4
                    properties:
                      destination:
                        endpointType: WebHook
                        properties:
                          endpointBaseUrl: https://requestb.in/15ksip71
                      filter:
                        includedEventTypes:
                          - All
                        isSubjectCaseSensitive: false
                        subjectBeginsWith: ""
                        subjectEndsWith: ""
                      provisioningState: Succeeded
                      topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg
                    type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/locations/{location}/eventSubscriptions":
    get:
      consumes: []
      description: List all event subscriptions from the given location under a specific Azure subscription
      operationId: EventSubscriptions_ListRegionalBySubscription
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: Name of the location
          in: path
          name: location
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/FilterParameter"
        - $ref: "#/parameters/TopParameter"
        - $ref: "#/parameters/LabelFilterParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/EventSubscriptionsListResult"
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List all regional event subscriptions under an Azure subscription
      tags:
        - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListRegionalBySubscription:
          parameters:
            api-version: 2019-02-01-preview
            location: westus2
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription10
                    name: examplesubscription10
                    properties:
                      destination:
                        endpointType: EventHub
                        properties:
                          resourceId: /subscriptions/55f3dcd4-cac7-43b4-990b-a139d62a1eb2/resourceGroups/TestRG/providers/Microsoft.EventHub/namespaces/ContosoNamespace/eventhubs/EH1
                      filter:
                        includedEventTypes:
                          - All
                        isSubjectCaseSensitive: false
                        subjectBeginsWith: ExamplePrefix
                        subjectEndsWith: ExampleSuffix
                      labels:
                        - Finance
                        - HR
                      provisioningState: Succeeded
                      topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventhub/namespaces/examplenamespace1
                    type: Microsoft.EventGrid/eventSubscriptions
                  - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription11
                    name: examplesubscription11
                    properties:
                      destination:
                        endpointType: WebHook
                        properties:
                          endpointBaseUrl: https://requestb.in/15ksip71
                      filter:
                        includedEventTypes:
                          - All
                        isSubjectCaseSensitive: false
                        subjectBeginsWith: ExamplePrefix
                        subjectEndsWith: ExampleSuffix
                      labels:
                        - Finance
                        - HR
                      provisioningState: Succeeded
                      topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventhub/namespaces/examplenamespace1
                    type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/locations/{location}/topicTypes/{topicTypeName}/eventSubscriptions":
    get:
      consumes: []
      description: List all event subscriptions from the given location under a specific Azure subscription and topic type.
      operationId: EventSubscriptions_ListRegionalBySubscriptionForTopicType
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: Name of the location
          in: path
          name: location
          required: true
          type: string
        - description: Name of the topic type
          in: path
          name: topicTypeName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/FilterParameter"
        - $ref: "#/parameters/TopParameter"
        - $ref: "#/parameters/LabelFilterParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/EventSubscriptionsListResult"
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List all regional event subscriptions under an Azure subscription for a topic type
      tags:
        - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListRegionalBySubscriptionForTopicType:
          parameters:
            api-version: 2019-02-01-preview
            location: westus2
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicTypeName: Microsoft.EventHub.namespaces
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription10
                    name: examplesubscription10
                    properties:
                      destination:
                        endpointType: WebHook
                        properties:
                          endpointBaseUrl: https://requestb.in/15ksip71
                      filter:
                        includedEventTypes:
                          - All
                        isSubjectCaseSensitive: false
                        subjectBeginsWith: ExamplePrefix
                        subjectEndsWith: ExampleSuffix
                      labels:
                        - Finance
                        - HR
                      provisioningState: Succeeded
                      topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventhub/namespaces/examplenamespace1
                    type: Microsoft.EventGrid/eventSubscriptions
                  - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription11
                    name: examplesubscription11
                    properties:
                      destination:
                        endpointType: WebHook
                        properties:
                          endpointBaseUrl: https://requestb.in/15ksip71
                      filter:
                        includedEventTypes:
                          - All
                        isSubjectCaseSensitive: false
                        subjectBeginsWith: ExamplePrefix
                        subjectEndsWith: ExampleSuffix
                      labels:
                        - Finance
                        - HR
                      provisioningState: Succeeded
                      topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventhub/namespaces/examplenamespace1
                    type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/topicTypes/{topicTypeName}/eventSubscriptions":
    get:
      consumes: []
      description: List all global event subscriptions under an Azure subscription for a topic type.
      operationId: EventSubscriptions_ListGlobalBySubscriptionForTopicType
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: Name of the topic type
          in: path
          name: topicTypeName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/FilterParameter"
        - $ref: "#/parameters/TopParameter"
        - $ref: "#/parameters/LabelFilterParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/EventSubscriptionsListResult"
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List all global event subscriptions for a topic type
      tags:
        - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListGlobalBySubscriptionForTopicType:
          parameters:
            api-version: 2019-02-01-preview
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicTypeName: Microsoft.Resources.Subscriptions
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription3
                    name: examplesubscription3
                    properties:
                      destination:
                        endpointType: WebHook
                        properties:
                          endpointBaseUrl: https://requestb.in/15ksip71
                      filter:
                        includedEventTypes:
                          - All
                        isSubjectCaseSensitive: false
                        subjectBeginsWith: ExamplePrefix
                        subjectEndsWith: ExampleSuffix
                      labels:
                        - Finance
                        - HR
                      provisioningState: Succeeded
                      topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4
                    type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.EventGrid/topics":
    get:
      consumes: []
      description: List all the topics under an Azure subscription
      operationId: Topics_ListBySubscription
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/FilterParameter"
        - $ref: "#/parameters/TopParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/TopicsListResult"
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List topics under an Azure subscription
      tags:
        - Topics
      x-ms-examples:
        Topics_ListBySubscription:
          parameters:
            api-version: 2019-02-01-preview
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic1
                    location: westus2
                    name: exampletopic1
                    properties:
                      endpoint: https://exampletopic1.westus2-1.eventgrid.azure.net/api/events
                      provisioningState: Succeeded
                    tags:
                      tag1: value1
                      tag2: value2
                    type: Microsoft.EventGrid/topics
                  - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic2
                    location: westcentralus
                    name: exampletopic2
                    properties:
                      endpoint: https://exampletopic2.westcentralus-1.eventgrid.azure.net/api/events
                      provisioningState: Succeeded
                    tags:
                      tag1: value1
                      tag2: value2
                    type: Microsoft.EventGrid/topics
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains":
    get:
      consumes: []
      description: List all the domains under a resource group
      operationId: Domains_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/FilterParameter"
        - $ref: "#/parameters/TopParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DomainsListResult"
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List domains under a resource group
      tags:
        - Domains
      x-ms-examples:
        Domains_ListByResourceGroup:
          parameters:
            api-version: 2019-02-01-preview
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/exampledomain1
                    location: westus2
                    name: exampledomain1
                    properties:
                      endpoint: https://exampledomain1.westus2-1.eventgrid.azure.net/api/events
                      provisioningState: Succeeded
                    tags:
                      tag1: value1
                      tag2: value2
                    type: Microsoft.EventGrid/domains
                  - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/exampledomain2
                    location: westcentralus
                    name: exampledomain2
                    properties:
                      endpoint: https://exampledomain2.westcentralus-1.eventgrid.azure.net/api/events
                      provisioningState: Succeeded
                    tags:
                      tag1: value1
                      tag2: value2
                    type: Microsoft.EventGrid/domains
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}":
    delete:
      consumes: []
      description: Delete existing domain
      operationId: Domains_Delete
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the domain
          in: path
          name: domainName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "202":
          description: Accepted
        "204":
          description: NoContent
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 404 Not Found.

             * 500 Internal Server Error.
      summary: Delete a domain
      tags:
        - Domains
      x-ms-examples:
        Domains_Delete:
          parameters:
            api-version: 2019-02-01-preview
            domainName: exampledomain1
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      consumes: []
      description: Get properties of a domain
      operationId: Domains_Get
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the domain
          in: path
          name: domainName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Domain"
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: Get a domain
      tags:
        - Domains
      x-ms-examples:
        Domains_Get:
          parameters:
            api-version: 2019-02-01-preview
            domainName: exampledomain2
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/exampledomain2
                location: westcentralus
                name: exampledomain2
                properties:
                  endpoint: https://exampledomain2.westcentralus-1.eventgrid.azure.net/api/events
                  provisioningState: Succeeded
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.EventGrid/domains
    patch:
      description: Asynchronously updates a domain with the specified parameters.
      operationId: Domains_Update
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the domain
          in: path
          name: domainName
          required: true
          type: string
        - description: Domain update information
          in: body
          name: domainUpdateParameters
          required: true
          schema:
            $ref: "#/definitions/DomainUpdateParameters"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "201":
          description: Domain update request accepted.
          schema:
            $ref: "#/definitions/Domain"
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: Update a domain
      tags:
        - Domains
      x-ms-examples:
        Domains_Update:
          parameters:
            api-version: 2019-02-01-preview
            domainName: exampledomain1
            domainUpdateParameters:
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "201":
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/exampledomain1
                location: westus2
                name: exampledomain1
                properties:
                  endpoint: https://exampledomain1.westus2-1.eventgrid.azure.net/api/events
                  provisioningState: Succeeded
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.EventGrid/domains
      x-ms-long-running-operation: true
    put:
      description: Asynchronously creates or updates a new domain with the specified parameters.
      operationId: Domains_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the domain
          in: path
          name: domainName
          required: true
          type: string
        - description: Domain information
          in: body
          name: domainInfo
          required: true
          schema:
            $ref: "#/definitions/Domain"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "201":
          description: Created
          schema:
            $ref: "#/definitions/Domain"
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: Create or update a domain
      tags:
        - Domains
      x-ms-examples:
        Domains_CreateOrUpdate:
          parameters:
            api-version: 2019-02-01-preview
            domainInfo:
              location: westus2
              tags:
                tag1: value1
                tag2: value2
            domainName: exampledomain1
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "201":
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/exampledomain1
                location: westus2
                name: exampledomain1
                properties:
                  endpoint: https://exampledomain1.westus2-1.eventgrid.azure.net/api/events
                  provisioningState: Succeeded
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.EventGrid/domains
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}/listKeys":
    post:
      consumes: []
      description: List the two keys used to publish to a domain
      operationId: Domains_ListSharedAccessKeys
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the domain
          in: path
          name: domainName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DomainSharedAccessKeys"
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List keys for a domain
      tags:
        - Domains
      x-ms-examples:
        Domains_ListSharedAccessKeys:
          parameters:
            api-version: 2019-02-01-preview
            domainName: exampledomain2
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                key1: Rqfq5wWxtQnIQJyswP0Uh/hqQfDDMUOYyQSYEpx5e5g=
                key2: sesymbkIXMtZVqXEFHarJmdGmZjjnY+BZC8yRD/FeuA=
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}/regenerateKey":
    post:
      description: Regenerate a shared access key for a domain
      operationId: Domains_RegenerateKey
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the domain
          in: path
          name: domainName
          required: true
          type: string
        - description: Request body to regenerate key
          in: body
          name: regenerateKeyRequest
          required: true
          schema:
            $ref: "#/definitions/DomainRegenerateKeyRequest"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DomainSharedAccessKeys"
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: Regenerate key for a domain
      tags:
        - Domains
      x-ms-examples:
        Domains_RegenerateKey:
          parameters:
            api-version: 2019-02-01-preview
            domainName: exampledomain2
            regenerateKeyRequest:
              keyName: key1
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                key1: Rqfq5wWxtQnIQJyswP0Uh/hqQfDDMUOYyQSYEpx5e5g=
                key2: sesymbkIXMtZVqXEFHarJmdGmZjjnY+BZC8yRD/FeuA=
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}/topics":
    get:
      consumes: []
      description: List all the topics in a domain.
      operationId: DomainTopics_ListByDomain
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Domain name.
          in: path
          name: domainName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/FilterParameter"
        - $ref: "#/parameters/TopParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DomainTopicsListResult"
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List domain topics.
      tags:
        - DomainTopics
      x-ms-examples:
        DomainTopics_ListByDomain:
          parameters:
            api-version: 2019-02-01-preview
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/exampledomain1
                    location: westus2
                    name: exampledomain1
                    properties:
                      endpoint: https://exampledomain1.westus2-1.eventgrid.azure.net/api/events
                      provisioningState: Succeeded
                    tags:
                      tag1: value1
                      tag2: value2
                    type: Microsoft.EventGrid/domains
                  - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/exampledomain2
                    location: westcentralus
                    name: exampledomain2
                    properties:
                      endpoint: https://exampledomain2.westcentralus-1.eventgrid.azure.net/api/events
                      provisioningState: Succeeded
                    tags:
                      tag1: value1
                      tag2: value2
                    type: Microsoft.EventGrid/domains
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}/topics/{domainTopicName}":
    delete:
      consumes: []
      description: Delete existing domain topic
      operationId: DomainTopics_Delete
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the domain
          in: path
          name: domainName
          required: true
          type: string
        - description: Name of the domain topic
          in: path
          name: domainTopicName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "202":
          description: Accepted
        "204":
          description: NoContent
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 404 Not Found.

             * 500 Internal Server Error.
      summary: Delete a domain topic
      tags:
        - DomainTopics
      x-ms-examples:
        DomainTopics_Delete:
          parameters:
            api-version: 2019-02-01-preview
            domainName: exampledomain1
            domainTopicName: exampledomaintopic1
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      consumes: []
      description: Get properties of a domain topic
      operationId: DomainTopics_Get
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the domain
          in: path
          name: domainName
          required: true
          type: string
        - description: Name of the topic
          in: path
          name: domainTopicName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DomainTopic"
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: Get a domain topic
      tags:
        - DomainTopics
      x-ms-examples:
        DomainTopics_Get:
          parameters:
            api-version: 2019-02-01-preview
            domainName: exampledomain2
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicName: topic1
          responses:
            "200":
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/exampledomain2/topics/topic1
                location: westcentralus
                name: topic1
                properties: {}
                type: Microsoft.EventGrid/domains/topics
    put:
      consumes: []
      description: Asynchronously creates or updates a new domain topic with the specified parameters.
      operationId: DomainTopics_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the domain
          in: path
          name: domainName
          required: true
          type: string
        - description: Name of the domain topic
          in: path
          name: domainTopicName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "201":
          description: Created
          schema:
            $ref: "#/definitions/DomainTopic"
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: Create or update a domain topic
      tags:
        - DomainTopics
      x-ms-examples:
        DomainTopics_CreateOrUpdate:
          parameters:
            api-version: 2019-02-01-preview
            domainName: exampledomain1
            domainTopicName: exampledomaintopic1
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "201":
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/exampledomain1/topics/exampledomaintopic1
                name: exampledomaintopic1
                properties:
                  provisioningState: Succeeded
                type: Microsoft.EventGrid/domains/topics
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/domains/{domainName}/topics/{topicName}/providers/Microsoft.EventGrid/eventSubscriptions":
    get:
      consumes: []
      description: List all event subscriptions that have been created for a specific domain topic
      operationId: EventSubscriptions_ListByDomainTopic
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the top level domain
          in: path
          name: domainName
          required: true
          type: string
        - description: Name of the domain topic
          in: path
          name: topicName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/FilterParameter"
        - $ref: "#/parameters/TopParameter"
        - $ref: "#/parameters/LabelFilterParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/EventSubscriptionsListResult"
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List all event subscriptions for a specific domain topic
      tags:
        - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListByDomainTopic:
          parameters:
            api-version: 2019-02-01-preview
            domainName: domain1
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicName: topic1
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/domain1/topics/topic1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription1
                    name: examplesubscription1
                    properties:
                      destination:
                        endpointType: WebHook
                        properties:
                          endpointBaseUrl: https://requestb.in/15ksip71
                      filter:
                        includedEventTypes:
                          - All
                        isSubjectCaseSensitive: false
                        subjectBeginsWith: ""
                        subjectEndsWith: ""
                      provisioningState: Succeeded
                      topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventgrid/domains/domain1/topics/topic1
                    type: Microsoft.EventGrid/eventSubscriptions
                  - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/domain1/topics/topic1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription2
                    name: examplesubscription2
                    properties:
                      destination:
                        endpointType: WebHook
                        properties:
                          endpointBaseUrl: https://requestb.in/15ksip71
                      filter:
                        includedEventTypes:
                          - All
                        isSubjectCaseSensitive: false
                        subjectBeginsWith: ""
                        subjectEndsWith: ""
                      provisioningState: Succeeded
                      topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventgrid/domains/domain1/topics/topic1
                    type: Microsoft.EventGrid/eventSubscriptions
                  - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/domains/domain1/topics/topic1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription3
                    name: examplesubscription3
                    properties:
                      destination:
                        endpointType: WebHook
                        properties:
                          endpointBaseUrl: https://requestb.in/15ksip71
                      filter:
                        includedEventTypes:
                          - All
                        isSubjectCaseSensitive: false
                        subjectBeginsWith: ""
                        subjectEndsWith: ""
                      labels: []
                      provisioningState: Succeeded
                      topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventgrid/domains/domain1/topics/topic1
                    type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/eventSubscriptions":
    get:
      consumes: []
      description: List all global event subscriptions under a specific Azure subscription and resource group
      operationId: EventSubscriptions_ListGlobalByResourceGroup
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/FilterParameter"
        - $ref: "#/parameters/TopParameter"
        - $ref: "#/parameters/LabelFilterParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/EventSubscriptionsListResult"
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List all global event subscriptions under an Azure subscription and resource group
      tags:
        - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListGlobalByResourceGroup:
          parameters:
            api-version: 2019-02-01-preview
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription2
                    name: examplesubscription2
                    properties:
                      destination:
                        endpointType: WebHook
                        properties:
                          endpointBaseUrl: https://requestb.in/15ksip71
                      filter:
                        includedEventTypes:
                          - All
                        isSubjectCaseSensitive: false
                        subjectBeginsWith: ""
                        subjectEndsWith: ""
                      provisioningState: Succeeded
                      topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg
                    type: Microsoft.EventGrid/eventSubscriptions
                  - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription4
                    name: examplesubscription4
                    properties:
                      destination:
                        endpointType: WebHook
                        properties:
                          endpointBaseUrl: https://requestb.in/15ksip71
                      filter:
                        includedEventTypes:
                          - All
                        isSubjectCaseSensitive: false
                        subjectBeginsWith: ""
                        subjectEndsWith: ""
                      provisioningState: Succeeded
                      topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg
                    type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/locations/{location}/eventSubscriptions":
    get:
      consumes: []
      description: List all event subscriptions from the given location under a specific Azure subscription and resource group
      operationId: EventSubscriptions_ListRegionalByResourceGroup
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the location
          in: path
          name: location
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/FilterParameter"
        - $ref: "#/parameters/TopParameter"
        - $ref: "#/parameters/LabelFilterParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/EventSubscriptionsListResult"
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List all regional event subscriptions under an Azure subscription and resource group
      tags:
        - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListRegionalByResourceGroup:
          parameters:
            api-version: 2019-02-01-preview
            location: westus2
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription10
                    name: examplesubscription10
                    properties:
                      destination:
                        endpointType: WebHook
                        properties:
                          endpointBaseUrl: https://requestb.in/15ksip71
                      filter:
                        includedEventTypes:
                          - All
                        isSubjectCaseSensitive: false
                        subjectBeginsWith: ExamplePrefix
                        subjectEndsWith: ExampleSuffix
                      labels:
                        - Finance
                        - HR
                      provisioningState: Succeeded
                      topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventhub/namespaces/examplenamespace1
                    type: Microsoft.EventGrid/eventSubscriptions
                  - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription11
                    name: examplesubscription11
                    properties:
                      destination:
                        endpointType: WebHook
                        properties:
                          endpointBaseUrl: https://requestb.in/15ksip71
                      filter:
                        includedEventTypes:
                          - All
                        isSubjectCaseSensitive: false
                        subjectBeginsWith: ExamplePrefix
                        subjectEndsWith: ExampleSuffix
                      labels:
                        - Finance
                        - HR
                      provisioningState: Succeeded
                      topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventhub/namespaces/examplenamespace1
                    type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/locations/{location}/topicTypes/{topicTypeName}/eventSubscriptions":
    get:
      consumes: []
      description: List all event subscriptions from the given location under a specific Azure subscription and resource group and topic type
      operationId: EventSubscriptions_ListRegionalByResourceGroupForTopicType
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the location
          in: path
          name: location
          required: true
          type: string
        - description: Name of the topic type
          in: path
          name: topicTypeName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/FilterParameter"
        - $ref: "#/parameters/TopParameter"
        - $ref: "#/parameters/LabelFilterParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/EventSubscriptionsListResult"
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List all regional event subscriptions under an Azure subscription and resource group for a topic type
      tags:
        - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListRegionalByResourceGroupForTopicType:
          parameters:
            api-version: 2019-02-01-preview
            location: westus2
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicTypeName: Microsoft.EventHub.namespaces
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription10
                    name: examplesubscription10
                    properties:
                      destination:
                        endpointType: WebHook
                        properties:
                          endpointBaseUrl: https://requestb.in/15ksip71
                      filter:
                        includedEventTypes:
                          - All
                        isSubjectCaseSensitive: false
                        subjectBeginsWith: ExamplePrefix
                        subjectEndsWith: ExampleSuffix
                      labels:
                        - Finance
                        - HR
                      provisioningState: Succeeded
                      topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventhub/namespaces/examplenamespace1
                    type: Microsoft.EventGrid/eventSubscriptions
                  - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription11
                    name: examplesubscription11
                    properties:
                      destination:
                        endpointType: WebHook
                        properties:
                          endpointBaseUrl: https://requestb.in/15ksip71
                      filter:
                        includedEventTypes:
                          - All
                        isSubjectCaseSensitive: false
                        subjectBeginsWith: ExamplePrefix
                        subjectEndsWith: ExampleSuffix
                      labels:
                        - Finance
                        - HR
                      provisioningState: Succeeded
                      topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventhub/namespaces/examplenamespace1
                    type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topicTypes/{topicTypeName}/eventSubscriptions":
    get:
      consumes: []
      description: List all global event subscriptions under a resource group for a specific topic type.
      operationId: EventSubscriptions_ListGlobalByResourceGroupForTopicType
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the topic type
          in: path
          name: topicTypeName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/FilterParameter"
        - $ref: "#/parameters/TopParameter"
        - $ref: "#/parameters/LabelFilterParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/EventSubscriptionsListResult"
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List all global event subscriptions under a resource group for a topic type
      tags:
        - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListGlobalByResourceGroupForTopicType:
          parameters:
            api-version: 2019-02-01-preview
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicTypeName: Microsoft.Resources.ResourceGroups
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription3
                    name: examplesubscription3
                    properties:
                      destination:
                        endpointType: WebHook
                        properties:
                          endpointBaseUrl: https://requestb.in/15ksip71
                      filter:
                        includedEventTypes:
                          - All
                        isSubjectCaseSensitive: false
                        subjectBeginsWith: ExamplePrefix
                        subjectEndsWith: ExampleSuffix
                      labels:
                        - Finance
                        - HR
                      provisioningState: Succeeded
                      topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg
                    type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics":
    get:
      consumes: []
      description: List all the topics under a resource group
      operationId: Topics_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/FilterParameter"
        - $ref: "#/parameters/TopParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/TopicsListResult"
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List topics under a resource group
      tags:
        - Topics
      x-ms-examples:
        Topics_ListByResourceGroup:
          parameters:
            api-version: 2019-02-01-preview
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic1
                    location: westus2
                    name: exampletopic1
                    properties:
                      endpoint: https://exampletopic1.westus2-1.eventgrid.azure.net/api/events
                      provisioningState: Succeeded
                    tags:
                      tag1: value1
                      tag2: value2
                    type: Microsoft.EventGrid/topics
                  - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic2
                    location: westcentralus
                    name: exampletopic2
                    properties:
                      endpoint: https://exampletopic2.westcentralus-1.eventgrid.azure.net/api/events
                      provisioningState: Succeeded
                    tags:
                      tag1: value1
                      tag2: value2
                    type: Microsoft.EventGrid/topics
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}":
    delete:
      consumes: []
      description: Delete existing topic
      operationId: Topics_Delete
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the topic
          in: path
          name: topicName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "202":
          description: Accepted
        "204":
          description: NoContent
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 404 Not Found.

             * 500 Internal Server Error.
      summary: Delete a topic
      tags:
        - Topics
      x-ms-examples:
        Topics_Delete:
          parameters:
            api-version: 2019-02-01-preview
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicName: exampletopic1
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      consumes: []
      description: Get properties of a topic
      operationId: Topics_Get
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the topic
          in: path
          name: topicName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Topic"
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: Get a topic
      tags:
        - Topics
      x-ms-examples:
        Topics_Get:
          parameters:
            api-version: 2019-02-01-preview
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicName: exampletopic2
          responses:
            "200":
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic2
                location: westcentralus
                name: exampletopic2
                properties:
                  endpoint: https://exampletopic2.westcentralus-1.eventgrid.azure.net/api/events
                  provisioningState: Succeeded
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.EventGrid/topics
    patch:
      description: Asynchronously updates a topic with the specified parameters.
      operationId: Topics_Update
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the topic
          in: path
          name: topicName
          required: true
          type: string
        - description: Topic update information
          in: body
          name: topicUpdateParameters
          required: true
          schema:
            $ref: "#/definitions/TopicUpdateParameters"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "201":
          description: Topic update request accepted.
          schema:
            $ref: "#/definitions/Topic"
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: Update a topic
      tags:
        - Topics
      x-ms-examples:
        Topics_Update:
          parameters:
            api-version: 2019-02-01-preview
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicName: exampletopic1
            topicUpdateParameters:
              tags:
                tag1: value1
                tag2: value2
          responses:
            "201":
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic1
                location: westus2
                name: exampletopic1
                properties:
                  endpoint: https://exampletopic1.westus2-1.eventgrid.azure.net/api/events
                  provisioningState: Succeeded
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.EventGrid/topics
      x-ms-long-running-operation: true
    put:
      description: Asynchronously creates a new topic with the specified parameters.
      operationId: Topics_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the topic
          in: path
          name: topicName
          required: true
          type: string
        - description: Topic information
          in: body
          name: topicInfo
          required: true
          schema:
            $ref: "#/definitions/Topic"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "201":
          description: Created
          schema:
            $ref: "#/definitions/Topic"
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: Create a topic
      tags:
        - Topics
      x-ms-examples:
        Topics_CreateOrUpdate:
          parameters:
            api-version: 2019-02-01-preview
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicInfo:
              location: westus2
              tags:
                tag1: value1
                tag2: value2
            topicName: exampletopic1
          responses:
            "201":
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic1
                location: westus2
                name: exampletopic1
                properties:
                  endpoint: https://exampletopic1.westus2-1.eventgrid.azure.net/api/events
                  provisioningState: Succeeded
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.EventGrid/topics
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}/listKeys":
    post:
      consumes: []
      description: List the two keys used to publish to a topic
      operationId: Topics_ListSharedAccessKeys
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the topic
          in: path
          name: topicName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/TopicSharedAccessKeys"
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List keys for a topic
      tags:
        - Topics
      x-ms-examples:
        Topics_ListSharedAccessKeys:
          parameters:
            api-version: 2019-02-01-preview
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicName: exampletopic2
          responses:
            "200":
              body:
                key1: Rqfq5wWxtQnIQJyswP0Uh/hqQfDDMUOYyQSYEpx5e5g=
                key2: sesymbkIXMtZVqXEFHarJmdGmZjjnY+BZC8yRD/FeuA=
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}/regenerateKey":
    post:
      description: Regenerate a shared access key for a topic
      operationId: Topics_RegenerateKey
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Name of the topic
          in: path
          name: topicName
          required: true
          type: string
        - description: Request body to regenerate key
          in: body
          name: regenerateKeyRequest
          required: true
          schema:
            $ref: "#/definitions/TopicRegenerateKeyRequest"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/TopicSharedAccessKeys"
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: Regenerate key for a topic
      tags:
        - Topics
      x-ms-examples:
        Topics_RegenerateKey:
          parameters:
            api-version: 2019-02-01-preview
            regenerateKeyRequest:
              keyName: key1
            resourceGroupName: examplerg
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
            topicName: exampletopic2
          responses:
            "200":
              body:
                key1: Rqfq5wWxtQnIQJyswP0Uh/hqQfDDMUOYyQSYEpx5e5g=
                key2: sesymbkIXMtZVqXEFHarJmdGmZjjnY+BZC8yRD/FeuA=
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{providerNamespace}/{resourceTypeName}/{resourceName}/providers/Microsoft.EventGrid/eventSubscriptions":
    get:
      consumes: []
      description: List all event subscriptions that have been created for a specific topic
      operationId: EventSubscriptions_ListByResource
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Namespace of the provider of the topic
          in: path
          name: providerNamespace
          required: true
          type: string
        - description: Name of the resource type
          in: path
          name: resourceTypeName
          required: true
          type: string
        - description: Name of the resource
          in: path
          name: resourceName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/FilterParameter"
        - $ref: "#/parameters/TopParameter"
        - $ref: "#/parameters/LabelFilterParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/EventSubscriptionsListResult"
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List all event subscriptions for a specific topic
      tags:
        - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_ListByResource:
          parameters:
            api-version: 2019-02-01-preview
            providerNamespace: Microsoft.EventGrid
            resourceGroupName: examplerg
            resourceName: exampletopic2
            resourceTypeName: topics
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic2/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription1
                    name: examplesubscription1
                    properties:
                      destination:
                        endpointType: WebHook
                        properties:
                          endpointBaseUrl: https://requestb.in/15ksip71
                      filter:
                        includedEventTypes:
                          - All
                        isSubjectCaseSensitive: false
                        subjectBeginsWith: ""
                        subjectEndsWith: ""
                      provisioningState: Succeeded
                      topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventgrid/topics/exampletopic2
                    type: Microsoft.EventGrid/eventSubscriptions
                  - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic2/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription2
                    name: examplesubscription2
                    properties:
                      destination:
                        endpointType: WebHook
                        properties:
                          endpointBaseUrl: https://requestb.in/15ksip71
                      filter:
                        includedEventTypes:
                          - All
                        isSubjectCaseSensitive: false
                        subjectBeginsWith: ""
                        subjectEndsWith: ""
                      provisioningState: Succeeded
                      topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventgrid/topics/exampletopic2
                    type: Microsoft.EventGrid/eventSubscriptions
                  - id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic2/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription3
                    name: examplesubscription3
                    properties:
                      destination:
                        endpointType: WebHook
                        properties:
                          endpointBaseUrl: https://requestb.in/15ksip71
                      filter:
                        includedEventTypes:
                          - All
                        isSubjectCaseSensitive: false
                        subjectBeginsWith: ""
                        subjectEndsWith: ""
                      labels: []
                      provisioningState: Succeeded
                      topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventgrid/topics/exampletopic2
                    type: Microsoft.EventGrid/eventSubscriptions
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{providerNamespace}/{resourceTypeName}/{resourceName}/providers/Microsoft.EventGrid/eventTypes":
    get:
      consumes: []
      description: List event types for a topic
      operationId: Topics_ListEventTypes
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Namespace of the provider of the topic
          in: path
          name: providerNamespace
          required: true
          type: string
        - description: Name of the topic type
          in: path
          name: resourceTypeName
          required: true
          type: string
        - description: Name of the topic
          in: path
          name: resourceName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/EventTypesListResult"
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: List topic event types
      tags:
        - Topics
      x-ms-examples:
        Topics_ListEventTypes:
          parameters:
            api-version: 2019-02-01-preview
            providerNamespace: Microsoft.Storage
            resourceGroupName: examplerg
            resourceName: ExampleStorageAccount
            resourceTypeName: storageAccounts
            subscriptionId: 5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.EventGrid/topicTypes/Microsoft.Storage.StorageAccounts/eventTypes/Microsoft.Storage.BlobCreated
                    name: Microsoft.Storage.BlobCreated
                    properties:
                      description: Raised when a blob is created.
                      displayName: Blob Created
                      schemaUrl: tbd
                    type: Microsoft.EventGrid/topicTypes/eventTypes
                  - id: providers/Microsoft.EventGrid/topicTypes/Microsoft.Storage.StorageAccounts/eventTypes/Microsoft.Storage.BlobDeleted
                    name: Microsoft.Storage.BlobDeleted
                    properties:
                      description: Raised when a blob is deleted.
                      displayName: Blob Deleted
                      schemaUrl: tbd
                    type: Microsoft.EventGrid/topicTypes/eventTypes
      x-ms-pageable:
        nextLinkName: null
  "/{scope}/providers/Microsoft.EventGrid/eventSubscriptions/{eventSubscriptionName}":
    delete:
      consumes: []
      description: Delete an existing event subscription
      operationId: EventSubscriptions_Delete
      parameters:
        - description: The scope of the event subscription. The scope can be a subscription, or a resource group, or a top level resource belonging to a resource provider namespace, or an EventGrid topic. For example, use '/subscriptions/{subscriptionId}/' for a subscription, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for a resource group, and '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}' for a resource, and '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}' for an EventGrid topic.
          in: path
          name: scope
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: Name of the event subscription
          in: path
          name: eventSubscriptionName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
        "204":
          description: NoContent
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 404 Not Found.

             * 500 Internal Server Error.
      summary: Delete an event subscription
      tags:
        - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_DeleteForCustomTopic:
          parameters:
            api-version: 2019-02-01-preview
            eventSubscriptionName: examplesubscription1
            scope: subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic1
          responses:
            "200": {}
            "202": {}
            "204": {}
        EventSubscriptions_DeleteForResource:
          parameters:
            api-version: 2019-02-01-preview
            eventSubscriptionName: examplesubscription10
            scope: subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1
          responses:
            "200": {}
            "202": {}
            "204": {}
        EventSubscriptions_DeleteForResourceGroup:
          parameters:
            api-version: 2019-02-01-preview
            eventSubscriptionName: examplesubscription2
            scope: subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg
          responses:
            "200": {}
            "202": {}
            "204": {}
        EventSubscriptions_DeleteForSubscription:
          parameters:
            api-version: 2019-02-01-preview
            eventSubscriptionName: examplesubscription3
            scope: subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      consumes: []
      description: Get properties of an event subscription
      operationId: EventSubscriptions_Get
      parameters:
        - description: The scope of the event subscription. The scope can be a subscription, or a resource group, or a top level resource belonging to a resource provider namespace, or an EventGrid topic. For example, use '/subscriptions/{subscriptionId}/' for a subscription, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for a resource group, and '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}' for a resource, and '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventGrid/topics/{topicName}' for an EventGrid topic.
          in: path
          name: scope
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: Name of the event subscription
          in: path
          name: eventSubscriptionName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/EventSubscription"
        default:
          description: |-
            *** Error Responses: ***

             * 400 Bad Request.

             * 500 Internal Server Error.
      summary: Get an event subscription
      tags:
        - EventSubscriptions
      x-ms-examples:
        EventSubscriptions_GetForCustomTopic:
          parameters:
            api-version: 2019-02-01-preview
            eventSubscriptionName: examplesubscription1
            scope: subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic2
          responses:
            "200":
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/topics/exampletopic2/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription1
                name: examplesubscription1
                properties:
                  destination:
                    endpointType: WebHook
                    properties:
                      endpointBaseUrl: https://requestb.in/15ksip71
                  filter:
                    includedEventTypes:
                      - All
                    isSubjectCaseSensitive: false
                    subjectBeginsWith: ExamplePrefix
                    subjectEndsWith: ExampleSuffix
                  labels:
                    - label1
                    - label2
                  provisioningState: Succeeded
                  topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/microsoft.eventgrid/topics/exampletopic2
                type: Microsoft.EventGrid/eventSubscriptions
        EventSubscriptions_GetForResource:
          parameters:
            api-version: 2019-02-01-preview
            eventSubscriptionName: examplesubscription1
            scope: subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1
          responses:
            "200":
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription1
                name: examplesubscription1
                properties:
                  destination:
                    endpointType: EventHub
                    properties:
                      resourceId: /subscriptions/55f3dcd4-cac7-43b4-990b-a139d62a1eb2/resourceGroups/TestRG/providers/Microsoft.EventHub/namespaces/ContosoNamespace/eventhubs/EH1
                  filter:
                    includedEventTypes:
                      - All
                    isSubjectCaseSensitive: false
                    subjectBeginsWith: ExamplePrefix
                    subjectEndsWith: ExampleSuffix
                  labels:
                    - label1
                    - label2
                  provisioningState: Succeeded
                  topic: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventHub/namespaces/examplenamespace1
                type: Microsoft.EventGrid/eventSubscriptions
        EventSubscriptions_GetForResourceGroup:
          parameters:
            api-version: 2019-02-01-preview
            eventSubscriptionName: examplesubscription2
            scope: subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg
          responses:
            "200":
              body:
                id: /subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/examplerg/providers/Microsoft.EventGrid/eventSubscriptions/examplesubscription2
                name: examplesubscription2
                properties:
                  destination:
                    endpointType: WebHook
                    properties:
                      endpointBaseUrl: https://requestb.in/15ksip71
                  filter:
                    includedEventTypes:
                      - All
                    isSubjectCaseSensitive: false
                    subjectBeginsWith: ExamplePrefix
                    subjectEndsWith: ExampleSuffix
                  labels:
                    - label1
[...]
