{
  "swagger": "2.0",
  "schemes": [
    "http"
  ],
  "host": "api.citysdk.waag.org",
  "basePath": "/",
  "info": {
    "description": "An API for the distribution and annotation of open data, for small cities and big metropolitan areas.",
    "title": "CitySDK Linked Data",
    "version": "v1",
    "x-apisguru-categories": [
      "open_data"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_waag_profile_image.png"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/lucybot/api-spec-converter",
          "version": "2.7.11"
        },
        "format": "swagger",
        "url": "https://api.citysdk.waag.org/swagger",
        "version": "1.2"
      }
    ],
    "x-providerName": "waag.org"
  },
  "produces": [
    "application/json",
    "application/ld+json"
  ],
  "tags": [
    {
      "description": "Operations about layers",
      "name": "layers"
    },
    {
      "description": "Operations about ngsi10s",
      "name": "ngsi10"
    },
    {
      "description": "Operations about objects",
      "name": "objects"
    },
    {
      "description": "Operations about owners",
      "name": "owners"
    },
    {
      "description": "Operations about sessions",
      "name": "session"
    }
  ],
  "paths": {
    "/layers": {
      "get": {
        "operationId": "GET-layers---format-",
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Return all layers",
        "tags": [
          "layers"
        ]
      },
      "post": {
        "operationId": "POST-layers---format-",
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Create new layer",
        "tags": [
          "layers"
        ]
      }
    },
    "/layers/{layer}": {
      "delete": {
        "operationId": "DELETE-layers--layer---format-",
        "parameters": [
          {
            "in": "path",
            "name": "layer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Delete a layer",
        "tags": [
          "layers"
        ]
      },
      "get": {
        "operationId": "GET-layers--layer---format-",
        "parameters": [
          {
            "in": "path",
            "name": "layer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Return single layer",
        "tags": [
          "layers"
        ]
      },
      "patch": {
        "operationId": "PATCH-layers--layer---format-",
        "parameters": [
          {
            "in": "path",
            "name": "layer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Edit a layer",
        "tags": [
          "layers"
        ]
      }
    },
    "/layers/{layer}/context": {
      "get": {
        "operationId": "GET-layers--layer-context---format-",
        "parameters": [
          {
            "in": "path",
            "name": "layer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Return JSON-LD context of single layer",
        "tags": [
          "layers"
        ]
      },
      "put": {
        "operationId": "PUT-layers--layer-context---format-",
        "parameters": [
          {
            "in": "path",
            "name": "layer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Overwrite JSON-LD context of single layer",
        "tags": [
          "layers"
        ]
      }
    },
    "/layers/{layer}/fields": {
      "get": {
        "operationId": "GET-layers--layer-fields---format-",
        "parameters": [
          {
            "in": "path",
            "name": "layer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Return all fields of single layer",
        "tags": [
          "layers"
        ]
      },
      "post": {
        "operationId": "POST-layers--layer-fields---format-",
        "parameters": [
          {
            "in": "path",
            "name": "layer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Create new field for single layer",
        "tags": [
          "layers"
        ]
      }
    },
    "/layers/{layer}/fields/{field}": {
      "delete": {
        "operationId": "DELETE-layers--layer-fields--field---format-",
        "parameters": [
          {
            "in": "path",
            "name": "layer",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "field",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Delete a single field on single layer",
        "tags": [
          "layers"
        ]
      },
      "get": {
        "operationId": "GET-layers--layer-fields--field---format-",
        "parameters": [
          {
            "in": "path",
            "name": "layer",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "field",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Return single field of single layer",
        "tags": [
          "layers"
        ]
      },
      "patch": {
        "operationId": "PATCH-layers--layer-fields--field---format-",
        "parameters": [
          {
            "in": "path",
            "name": "layer",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "field",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Edit single field on single layer",
        "tags": [
          "layers"
        ]
      },
      "put": {
        "operationId": "PUT-layers--layer-fields--field---format-",
        "parameters": [
          {
            "in": "path",
            "name": "layer",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "field",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Overwrite single field on single layer",
        "tags": [
          "layers"
        ]
      }
    },
    "/layers/{layer}/objects": {
      "delete": {
        "operationId": "DELETE-layers--layer-objects---format-",
        "parameters": [
          {
            "in": "path",
            "name": "layer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Delete all objects from a single layer",
        "tags": [
          "layers"
        ]
      },
      "get": {
        "operationId": "GET-layers--layer-objects---format-",
        "parameters": [
          {
            "in": "path",
            "name": "layer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Return all objects with data on single layer",
        "tags": [
          "layers"
        ]
      },
      "patch": {
        "operationId": "PATCH-layers--layer-objects---format-",
        "parameters": [
          {
            "in": "path",
            "name": "layer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Edit one or more objects and data on single layer",
        "tags": [
          "layers"
        ]
      },
      "post": {
        "operationId": "POST-layers--layer-objects---format-",
        "parameters": [
          {
            "in": "path",
            "name": "layer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Create one or more objects with data on single layer, or add data to existing objects (or a combination thereof)",
        "tags": [
          "layers"
        ]
      }
    },
    "/layers/{layer}/objects/{cdk_id}": {
      "get": {
        "operationId": "GET-layers--layer-objects--cdk_id---format-",
        "parameters": [
          {
            "in": "path",
            "name": "layer",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "cdk_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Return metadata of single layer about single object, e.g. the date the data was added/modified, etc.",
        "tags": [
          "layers"
        ]
      }
    },
    "/layers/{layer}/owners": {
      "get": {
        "operationId": "GET-layers--layer-owners---format-",
        "parameters": [
          {
            "in": "path",
            "name": "layer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Return all owners associated with single layer",
        "tags": [
          "layers"
        ]
      }
    },
    "/ngsi10/contextEntities/{entity}": {
      "get": {
        "operationId": "GET-ngsi10-contextEntities--entity---format-",
        "parameters": [
          {
            "in": "path",
            "name": "entity",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Return single context entity",
        "tags": [
          "ngsi10"
        ]
      }
    },
    "/ngsi10/contextEntities/{entity}/attributes": {
      "put": {
        "operationId": "PUT-ngsi10-contextEntities--entity-attributes---format-",
        "parameters": [
          {
            "in": "path",
            "name": "entity",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Update attributes for single context entity",
        "tags": [
          "ngsi10"
        ]
      }
    },
    "/ngsi10/contextEntities/{entity}/attributes/{attribute}": {
      "get": {
        "operationId": "GET-ngsi10-contextEntities--entity-attributes--attribute---format-",
        "parameters": [
          {
            "in": "path",
            "name": "entity",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "attribute",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Return single context entity attribute",
        "tags": [
          "ngsi10"
        ]
      }
    },
    "/ngsi10/contextEntityTypes/{cetype}": {
      "get": {
        "operationId": "GET-ngsi10-contextEntityTypes--cetype---format-",
        "parameters": [
          {
            "in": "path",
            "name": "cetype",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Return objects of particular type",
        "tags": [
          "ngsi10"
        ]
      }
    },
    "/ngsi10/contextEntityTypes/{cetype}/attributes/{attribute}": {
      "get": {
        "operationId": "GET-ngsi10-contextEntityTypes--cetype-attributes--attribute---format-",
        "parameters": [
          {
            "in": "path",
            "name": "cetype",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "attribute",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Return objects of particular type",
        "tags": [
          "ngsi10"
        ]
      }
    },
    "/ngsi10/queryContext": {
      "post": {
        "operationId": "POST-ngsi10-queryContext---format-",
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Query context broker for contextElements",
        "tags": [
          "ngsi10"
        ]
      }
    },
    "/ngsi10/subscribeContext": {
      "post": {
        "operationId": "POST-ngsi10-subscribeContext---format-",
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Create a new context subscription",
        "tags": [
          "ngsi10"
        ]
      }
    },
    "/ngsi10/unsubscribeContext": {
      "post": {
        "operationId": "POST-ngsi10-unsubscribeContext---format-",
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Delete a context subscription",
        "tags": [
          "ngsi10"
        ]
      }
    },
    "/ngsi10/updateContext": {
      "post": {
        "operationId": "POST-ngsi10-updateContext---format-",
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Add or update NGSI contextElements",
        "tags": [
          "ngsi10"
        ]
      }
    },
    "/ngsi10/updateContextSubscription": {
      "post": {
        "operationId": "POST-ngsi10-updateContextSubscription---format-",
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Update/edit a context subscription",
        "tags": [
          "ngsi10"
        ]
      }
    },
    "/objects": {
      "get": {
        "operationId": "GET-objects---format-",
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Return all objects",
        "tags": [
          "objects"
        ]
      }
    },
    "/objects/{cdk_id}": {
      "delete": {
        "operationId": "DELETE-objects--cdk_id---format-",
        "parameters": [
          {
            "in": "path",
            "name": "cdk_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Delete a single object",
        "tags": [
          "objects"
        ]
      },
      "get": {
        "operationId": "GET-objects--cdk_id---format-",
        "parameters": [
          {
            "in": "path",
            "name": "cdk_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Get a single object",
        "tags": [
          "objects"
        ]
      },
      "patch": {
        "operationId": "PATCH-objects--cdk_id---format-",
        "parameters": [
          {
            "in": "path",
            "name": "cdk_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Edit a single object",
        "tags": [
          "objects"
        ]
      }
    },
    "/objects/{cdk_id}/layers": {
      "get": {
        "operationId": "GET-objects--cdk_id-layers---format-",
        "parameters": [
          {
            "in": "path",
            "name": "cdk_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Get all layers that contain data of single object",
        "tags": [
          "objects"
        ]
      }
    },
    "/objects/{cdk_id}/layers/{layer}": {
      "delete": {
        "operationId": "DELETE-objects--cdk_id-layers--layer---format-",
        "parameters": [
          {
            "in": "path",
            "name": "cdk_id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "layer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Remove data on layer from single object",
        "tags": [
          "objects"
        ]
      },
      "get": {
        "operationId": "GET-objects--cdk_id-layers--layer---format-",
        "parameters": [
          {
            "in": "path",
            "name": "cdk_id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "layer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Return all data on single layer of single object",
        "tags": [
          "objects"
        ]
      },
      "patch": {
        "operationId": "PATCH-objects--cdk_id-layers--layer---format-",
        "parameters": [
          {
            "in": "path",
            "name": "cdk_id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "layer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Update data on layer to single object",
        "tags": [
          "objects"
        ]
      },
      "post": {
        "operationId": "POST-objects--cdk_id-layers--layer---format-",
        "parameters": [
          {
            "in": "path",
            "name": "cdk_id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "layer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Add data on layer to single object",
        "tags": [
          "objects"
        ]
      },
      "put": {
        "operationId": "PUT-objects--cdk_id-layers--layer---format-",
        "parameters": [
          {
            "in": "path",
            "name": "cdk_id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "layer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Overwrite data on layer to single object",
        "tags": [
          "objects"
        ]
      }
    },
    "/owners": {
      "get": {
        "operationId": "GET-owners---format-",
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Return all owners",
        "tags": [
          "owners"
        ]
      },
      "post": {
        "operationId": "POST-owners---format-",
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Create new owner",
        "tags": [
          "owners"
        ]
      }
    },
    "/owners/{owner}": {
      "delete": {
        "operationId": "DELETE-owners--owner---format-",
        "parameters": [
          {
            "in": "path",
            "name": "owner",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Delete owner - and all layers and data belonging to this owner",
        "tags": [
          "owners"
        ]
      },
      "get": {
        "operationId": "GET-owners--owner---format-",
        "parameters": [
          {
            "in": "path",
            "name": "owner",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Get a single owner",
        "tags": [
          "owners"
        ]
      },
      "patch": {
        "operationId": "PATCH-owners--owner---format-",
        "parameters": [
          {
            "in": "path",
            "name": "owner",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Edit an owner",
        "tags": [
          "owners"
        ]
      }
    },
    "/owners/{owner}/layers": {
      "get": {
        "operationId": "GET-owners--owner-layers---format-",
        "parameters": [
          {
            "in": "path",
            "name": "owner",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Return all layers belonging to a single owner",
        "tags": [
          "owners"
        ]
      }
    },
    "/session": {
      "delete": {
        "operationId": "DELETE-session---format-",
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Close session",
        "tags": [
          "session"
        ]
      },
      "get": {
        "operationId": "GET-session---format-",
        "parameters": [
          {
            "description": "Login name.",
            "in": "query",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "description": "Login password.",
            "in": "query",
            "name": "password",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Return a session key",
        "tags": [
          "session"
        ]
      }
    }
  }
}