swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: APIs to deploy and manage resources to SeaBreeze.
  title: SeaBreezeManagementClient
  version: 2018-09-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/servicefabricmesh/resource-manager/Microsoft.ServiceFabricMesh/preview/2018-09-01-preview/servicefabricmesh.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: servicefabricmesh
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApplicationResourceDescriptionRequiredBodyParam:
    description: Description for creating a Application resource.
    in: body
    name: applicationResourceDescription
    required: true
    schema:
      $ref: "#/definitions/ApplicationResourceDescription"
    x-ms-parameter-location: method
  ApplicationResourceNameRequiredPathParam:
    description: The identity of the application.
    in: path
    name: applicationResourceName
    required: true
    type: string
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
  CodePackageNameRequiredPathParam:
    description: The name of code package of the service.
    in: path
    name: codePackageName
    required: true
    type: string
    x-ms-parameter-location: method
  GatewayResourceDescriptionRequiredBodyParam:
    description: Description for creating a Gateway resource.
    in: body
    name: gatewayResourceDescription
    required: true
    schema:
      $ref: "#/definitions/GatewayResourceDescription"
    x-ms-parameter-location: method
  GatewayResourceNameRequiredPathParam:
    description: The identity of the gateway.
    in: path
    name: gatewayResourceName
    required: true
    type: string
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
  NetworkResourceDescriptionRequiredBodyParam:
    description: Description for creating a Network resource.
    in: body
    name: networkResourceDescription
    required: true
    schema:
      $ref: "#/definitions/NetworkResourceDescription"
    x-ms-parameter-location: method
  NetworkResourceNameRequiredPathParam:
    description: The identity of the network.
    in: path
    name: networkResourceName
    required: true
    type: string
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
  ReplicaNameRequiredPathParam:
    description: Service Fabric replica name.
    in: path
    name: replicaName
    required: true
    type: string
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
  ResourceGroupNameRequiredPathParam:
    description: Azure resource group name
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  SecretResourceDescriptionRequiredBodyParam:
    description: Description for creating a secret resource.
    in: body
    name: secretResourceDescription
    required: true
    schema:
      $ref: "#/definitions/SecretResourceDescription"
    x-ms-parameter-location: method
  SecretResourceNameRequiredPathParam:
    description: The name of the secret resource.
    in: path
    name: secretResourceName
    required: true
    type: string
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
  SecretValueResourceDescriptionRequiredBodyParam:
    description: Description for creating a value of a secret resource.
    in: body
    name: secretValueResourceDescription
    required: true
    schema:
      $ref: "#/definitions/SecretValueResourceDescription"
    x-ms-parameter-location: method
  SecretValueResourceNameRequiredPathParam:
    description: The name of the secret resource value which is typically the version identifier for the value.
    in: path
    name: secretValueResourceName
    required: true
    type: string
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
  ServiceResourceNameRequiredPathParam:
    description: The identity of the service.
    in: path
    name: serviceResourceName
    required: true
    type: string
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
  TailOptionalQueryParam:
    description: Number of lines to show from the end of the logs. Default is 100.
    in: query
    name: tail
    required: false
    type: integer
    x-ms-parameter-location: method
  VolumeResourceDescriptionRequiredBodyParam:
    description: Description for creating a Volume resource.
    in: body
    name: volumeResourceDescription
    required: true
    schema:
      $ref: "#/definitions/VolumeResourceDescription"
    x-ms-parameter-location: method
  VolumeResourceNameRequiredPathParam:
    description: The identity of the volume.
    in: path
    name: volumeResourceName
    required: true
    type: string
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
  api-versionRequiredQueryParam:
    default: 2018-09-01-preview
    description: The version of the API. This parameter is required and its value must be `2018-09-01-preview`.
    enum:
      - 2018-09-01-preview
    in: query
    name: api-version
    required: true
    type: string
    x-ms-enum:
      modelAsString: true
      name: 2018-09-01-preview
      values:
        - description: The `2018-09-01-preview` version of the API.
          value: 2018-09-01-preview
  subscriptionIdRequiredPathParam:
    description: The customer subscription identifier
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.ServiceFabricMesh/operations:
    get:
      description: Lists all the available operations provided by Service Fabric SeaBreeze resource provider.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/api-versionRequiredQueryParam"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/OperationListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Lists all of the available operations.
      tags:
        - Operations
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabricMesh/applications":
    get:
      description: Gets the information about all application resources in a given resource group. The information include the description and other properties of the application.
      operationId: Application_ListBySubscription
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ApplicationResourceDescriptionList"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Gets all the application resources in a given subscription.
      tags:
        - Applications
      x-ms-examples:
        ListApplicationsBySubscriptionId:
          description: This example shows how to list all application resources for a specified subscription.
          operationId: Application_ListBySubscriptionId
          parameters:
            api-version: 2018-09-01-privatepreview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/applications/sampleApplication
                    location: EastUS
                    name: sampleApplication
                    properties:
                      description: Service Fabric Mesh sample application.
                      healthState: Ok
                      provisioningState: Succeeded
                      serviceNames:
                        - helloWorldService
                      status: Ready
                    tags: {}
                    type: Microsoft.ServiceFabricMesh/applications
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabricMesh/gateways":
    get:
      description: Gets the information about all gateway resources in a given resource group. The information include the description and other properties of the gateway.
      operationId: Gateway_ListBySubscription
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/GatewayResourceDescriptionList"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Gets all the gateway resources in a given subscription.
      tags:
        - Gateways
      x-ms-examples:
        ListGatewaysBySubscriptionId:
          description: This example shows how to list all gateway resources for a specified subscription.
          operationId: Gateway_ListBySubscriptionId
          parameters:
            api-version: 2018-09-01-privatepreview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/gateways/sampleGateway
                    location: EastUS
                    name: sampleGateway
                    properties:
                      description: Service Fabric Mesh sample gateway.
                      destinationNetwork:
                        name: helloWorldNetwork
                      http:
                        - hosts:
                            - name: contoso.com
                              routes:
                                - destination:
                                    applicationName: httpHelloWorldApp
                                    endpointName: indexHttpEndpoint
                                    serviceName: indexService
                                  match:
                                    headers:
                                      - name: accept
                                        type: exact
                                        value: application/json
                                    path:
                                      rewrite: /
                                      type: prefix
                                      value: /index
                                  name: index
                          name: contosoWebsite
                          port: 8081
                      ipAddress: 192.168.1.1
                      provisioningState: Succeeded
                      sourceNetwork:
                        name: Open
                      status: Ready
                      tcp:
                        - destination:
                            applicationName: helloWorldApp
                            endpointName: helloWorldListener
                            serviceName: helloWorldService
                          name: web
                          port: 80
                    tags: {}
                    type: Microsoft.ServiceFabricMesh/gateways
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabricMesh/networks":
    get:
      description: Gets the information about all network resources in a given resource group. The information include the description and other properties of the network.
      operationId: Network_ListBySubscription
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/NetworkResourceDescriptionList"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Gets all the network resources in a given subscription.
      tags:
        - Networks
      x-ms-examples:
        ListNetworksBySubscriptionId:
          description: This example shows how to list all network resources for a specified subscription.
          operationId: Network_ListBySubscriptionId
          parameters:
            api-version: 2018-09-01-privatepreview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/networks/sampleNetwork
                    location: EastUS
                    name: sampleNetwork
                    properties:
                      description: Service Fabric Mesh sample network.
                      kind: Local
                      networkAddressPrefix: 2.0.0.0/16
                      provisioningState: Succeeded
                      status: Ready
                    tags: {}
                    type: Microsoft.ServiceFabricMesh/networks
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabricMesh/secrets":
    get:
      description: Gets the information about all secret resources in a given resource group. The information include the description and other properties of the secret.
      operationId: Secret_ListBySubscription
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SecretResourceDescriptionList"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Gets all the secret resources in a given subscription.
      tags:
        - Secrets
      x-ms-examples:
        ListSecretsBySubscriptionId:
          description: This example shows how to list all secret resources for a specified subscription.
          operationId: Secret_ListBySubscriptionId
          parameters:
            api-version: 2018-09-01-privatepreview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/secrets/dbConnectionString
                    location: EastUS
                    name: dbConnectionString
                    properties:
                      contentType: text/plain
                      description: Mongo DB connection string for backend database!
                      kind: inlinedValue
                      provisioningState: Succeeded
                      status: Ready
                    tags: {}
                    type: Microsoft.ServiceFabricMesh/secrets
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabricMesh/volumes":
    get:
      description: Gets the information about all volume resources in a given resource group. The information include the description and other properties of the volume.
      operationId: Volume_ListBySubscription
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/VolumeResourceDescriptionList"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Gets all the volume resources in a given subscription.
      tags:
        - Volumes
      x-ms-examples:
        ListVolumesBySubscriptionId:
          description: This example shows how to list all volume resources for a specified subscription.
          operationId: Volume_ListBySubscriptionId
          parameters:
            api-version: 2018-09-01-privatepreview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/volumes/sampleVolume
                    location: EastUS
                    name: sampleVolume
                    properties:
                      azureFileParameters:
                        accountName: sbzdemoaccount
                        shareName: sharel
                      description: Service Fabric Mesh sample volume.
                      provider: SFAzureFile
                      provisioningState: Succeeded
                      status: Ready
                    tags: {}
                    type: Microsoft.ServiceFabricMesh/volumes
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/applications":
    get:
      description: Gets the information about all application resources in a given resource group. The information include the description and other properties of the Application.
      operationId: Application_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
        - $ref: "#/parameters/ResourceGroupNameRequiredPathParam"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ApplicationResourceDescriptionList"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Gets all the application resources in a given resource group.
      tags:
        - Applications
      x-ms-examples:
        ListApplicationsByResourceGroup:
          description: This example shows how to list all application resources within a specified resource group.
          operationId: Application_ListByResourceGroup
          parameters:
            api-version: 2018-09-01-privatepreview
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/applications/sampleApplication
                    location: EastUS
                    name: sampleApplication
                    properties:
                      description: Service Fabric Mesh sample application.
                      healthState: Ok
                      provisioningState: Succeeded
                      serviceNames:
                        - helloWorldService
                      status: Ready
                    tags: {}
                    type: Microsoft.ServiceFabricMesh/applications
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/applications/{applicationResourceName}":
    delete:
      description: Deletes the application resource identified by the name.
      operationId: Application_Delete
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
        - $ref: "#/parameters/ResourceGroupNameRequiredPathParam"
        - $ref: "#/parameters/ApplicationResourceNameRequiredPathParam"
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
        "204":
          description: No Content - the specified application was not found.
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Deletes the application resource.
      tags:
        - Applications
      x-ms-examples:
        DeleteApplication:
          description: This example shows how to delete an existing application resource. If the application resource exists and is deleted successfully, an empty response with 200 status code is returned. If the application resource does not exit, an empty response with 204 status code is returned.
          operationId: Application_Delete
          parameters:
            api-version: 2018-09-01-privatepreview
            applicationResourceName: sampleApplication
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "202": {}
            "204": {}
    get:
      description: Gets the information about the application resource with the given name. The information include the description and other properties of the application.
      operationId: Application_Get
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
        - $ref: "#/parameters/ResourceGroupNameRequiredPathParam"
        - $ref: "#/parameters/ApplicationResourceNameRequiredPathParam"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ApplicationResourceDescription"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Gets the application resource with the given name.
      tags:
        - Applications
      x-ms-examples:
        GetApplication:
          description: This example shows how to get a application resource. If the application resource exists, its description is returned along with an OK (200) status code. If the application resource does not exist, an error is returned with an appropriate status code.
          operationId: Application_Get
          parameters:
            api-version: 2018-09-01-privatepreview
            applicationResourceName: sampleApplication
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/applications/sampleApplication
                location: EastUS
                name: sampleApplication
                properties:
                  description: Service Fabric Mesh sample application.
                  healthState: Ok
                  provisioningState: Succeeded
                  serviceNames:
                    - helloWorldService
                  status: Ready
                tags: {}
                type: Microsoft.ServiceFabricMesh/applications
    put:
      description: Creates an application resource with the specified name, description and properties. If an application resource with the same name exists, then it is updated with the specified description and properties.
      operationId: Application_Create
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
        - $ref: "#/parameters/ResourceGroupNameRequiredPathParam"
        - $ref: "#/parameters/ApplicationResourceNameRequiredPathParam"
        - $ref: "#/parameters/ApplicationResourceDescriptionRequiredBodyParam"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ApplicationResourceDescription"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/ApplicationResourceDescription"
        "202":
          description: Accepted
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Creates or updates an application resource.
      tags:
        - Applications
      x-ms-examples:
        CreateOrUpdateApplication:
          description: This example shows how to create or update a application resource.
          operationId: Application_Create
          parameters:
            api-version: 2018-09-01-privatepreview
            applicationResourceDescription:
              location: EastUS
              properties:
                description: Service Fabric Mesh sample application.
                services:
                  - name: helloWorldService
                    properties:
                      codePackages:
                        - endpoints:
                            - name: helloWorldListener
                              port: 80
                          image: seabreeze/sbz-helloworld:1.0-alpine
                          name: helloWorldCode
                          resources:
                            requests:
                              cpu: 1
                              memoryInGB: 1
                      description: SeaBreeze Hello World Service.
                      networkRefs:
                        - endpointRefs:
                            - name: helloWorldListener
                          name: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/networks/sampleNetwork
                      osType: Linux
                      replicaCount: 1
              tags: {}
            applicationResourceName: sampleApplication
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/applications/sampleApplication
                location: EastUS
                name: sampleApplication
                properties:
                  description: Service Fabric Mesh sample application.
                  healthState: Ok
                  provisioningState: Succeeded
                  serviceNames:
                    - helloWorldService
                  status: Ready
                tags: {}
                type: Microsoft.ServiceFabricMesh/applications
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/applications/sampleApplication
                location: EastUS
                name: sampleApplication
                properties:
                  description: Service Fabric Mesh sample application.
                  healthState: Unknown
                  provisioningState: Updating
                  serviceNames:
                    - helloWorldService
                  status: Creating
                tags: {}
                type: Microsoft.ServiceFabricMesh/applications
            "202": {}
      x-sf-codegen:
        Powershell:
          skipGeneration: "true"
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/applications/{applicationResourceName}/services":
    get:
      description: Gets the information about all services of an application resource. The information include the description and other properties of the Service.
      operationId: Service_List
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
        - $ref: "#/parameters/ResourceGroupNameRequiredPathParam"
        - $ref: "#/parameters/ApplicationResourceNameRequiredPathParam"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ServiceResourceDescriptionList"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Lists all the service resources.
      tags:
        - Services
      x-ms-examples:
        ListServices:
          description: This example shows how to list all services of a given application.
          operationId: Service_List
          parameters:
            api-version: 2018-09-01-privatepreview
            applicationResourceName: sampleApplication
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/applications/sampleApplication/services/helloWorldService
                    name: helloWorldService
                    properties:
                      codePackages:
                        - endpoints:
                            - name: helloWorldListener
                              port: 80
                          image: seabreeze/sbz-helloworld:1.0-alpine
                          name: helloWorldCode
                          resources:
                            requests:
                              cpu: 1
                              memoryInGB: 1
                      description: SeaBreeze Hello World Service.
                      healthState: Ok
                      networkRefs:
                        - endpointRefs:
                            - name: helloWorldListener
                          name: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/networks/sampleNetwork
                      osType: Linux
                      replicaCount: 1
                      status: Ready
                    type: Microsoft.ServiceFabricMesh/services
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/applications/{applicationResourceName}/services/{serviceResourceName}":
    get:
      description: Gets the information about the service resource with the given name. The information include the description and other properties of the service.
      operationId: Service_Get
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
        - $ref: "#/parameters/ResourceGroupNameRequiredPathParam"
        - $ref: "#/parameters/ApplicationResourceNameRequiredPathParam"
        - $ref: "#/parameters/ServiceResourceNameRequiredPathParam"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ServiceResourceDescription"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Gets the service resource with the given name.
      tags:
        - Services
      x-ms-examples:
        GetService:
          description: This example shows how to get a service resource for a given application. If the service resource exists, its description is returned along with an OK (200) status code. If the service resource does not exist, an error is returned with an appropriate status code.
          operationId: Service_Get
          parameters:
            api-version: 2018-09-01-privatepreview
            applicationResourceName: sampleApplication
            resourceGroupName: sbz_demo
            serviceResourceName: helloWorldService
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/applications/sampleApplication/services/helloWorldService
                name: helloWorldService
                properties:
                  codePackages:
                    - endpoints:
                        - name: helloWorldListener
                          port: 80
                      image: seabreeze/sbz-helloworld:1.0-alpine
                      name: helloWorldCode
                      resources:
                        requests:
                          cpu: 1
                          memoryInGB: 1
                  description: SeaBreeze Hello World Service.
                  healthState: Ok
                  networkRefs:
                    - endpointRefs:
                        - name: helloWorldListener
                      name: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/networks/sampleNetwork
                  osType: Linux
                  replicaCount: 1
                  status: Ready
                type: Microsoft.ServiceFabricMesh/services
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/applications/{applicationResourceName}/services/{serviceResourceName}/replicas":
    get:
      description: Gets the information about all replicas of a given service of an application. The information includes the runtime properties of the replica instance.
      operationId: ServiceReplica_List
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
        - $ref: "#/parameters/ResourceGroupNameRequiredPathParam"
        - $ref: "#/parameters/ApplicationResourceNameRequiredPathParam"
        - $ref: "#/parameters/ServiceResourceNameRequiredPathParam"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ServiceReplicaDescriptionList"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Gets replicas of a given service.
      tags:
        - ServiceReplicas
      x-ms-examples:
        ReplicasGetAll:
          description: This example shows how to list replicas of a service resources for a given application.
          operationId: ServiceReplica_List
          parameters:
            api-version: 2018-09-01-privatepreview
            applicationResourceName: sampleApplication
            resourceGroupName: sbz_demo
            serviceResourceName: helloWorldService
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - codePackages:
                      - endpoints:
                          - name: helloWorldListener
                            port: 80
                        image: seabreeze/sbz-helloworld:1.0-alpine
                        instanceView:
                          currentState:
                            exitCode: "0"
                            state: Running
                          events:
                            - count: 3
                              firstTimestamp: 2018-04-05T22:37:20.9016844
                              lastTimestamp: 2018-04-06T06:36:06.0887046
                              message: Container created and started.
                              name: Created
                              type: Normal
                            - count: 1
                              firstTimestamp: 2018-04-06T06:34:00.6622454
                              lastTimestamp: 2018-04-06T06:34:00.6622454
                              message: Container was stopped.
                              name: Stopped
                              type: Normal
                          previousState:
                            exitCode: "0"
                            state: NotSpecified
                          restartCount: 1
                        name: helloWorldCode
                        resources:
                          requests:
                            cpu: 1
                            memoryInGB: 1
                    networkRefs:
                      - endpointRefs:
                          - name: helloWorldListener
                        name: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/networks/sampleNetwork
                    osType: Linux
                    replicaName: "0"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/applications/{applicationResourceName}/services/{serviceResourceName}/replicas/{replicaName}":
    get:
      description: Gets the information about the service replica with the given name. The information include the description and other properties of the service replica.
      operationId: ServiceReplica_Get
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
        - $ref: "#/parameters/ResourceGroupNameRequiredPathParam"
        - $ref: "#/parameters/ApplicationResourceNameRequiredPathParam"
        - $ref: "#/parameters/ServiceResourceNameRequiredPathParam"
        - $ref: "#/parameters/ReplicaNameRequiredPathParam"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ServiceReplicaDescription"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Gets the given replica of the service of an application.
      tags:
        - ServiceReplicas
      x-ms-examples:
        ReplicaGet:
          description: This example shows how to get information about given replica of a service. If the replica exists, its description is returned along with an OK (200) status code. If the replica does not exist, an error is returned with an appropriate status code.
          operationId: ServiceReplica_Get
          parameters:
            api-version: 2018-09-01-privatepreview
            applicationResourceName: helloWorldApp
            replicaName: "0"
            resourceGroupName: sbz_demo
            serviceResourceName: helloWorldService
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                codePackages:
                  - endpoints:
                      - name: helloWorldListener
                        port: 80
                    image: seabreeze/sbz-helloworld:1.0-alpine
                    instanceView:
                      currentState:
                        exitCode: "0"
                        state: Running
                      events:
                        - count: 3
                          firstTimestamp: 2018-04-05T22:37:20.9016844
                          lastTimestamp: 2018-04-06T06:36:06.0887046
                          message: Container created and started.
                          name: Created
                          type: Normal
                        - count: 1
                          firstTimestamp: 2018-04-06T06:34:00.6622454
                          lastTimestamp: 2018-04-06T06:34:00.6622454
                          message: Container was stopped.
                          name: Stopped
                          type: Normal
                      previousState:
                        exitCode: "0"
                        state: NotSpecified
                      restartCount: 1
                    name: helloWorldCode
                    resources:
                      requests:
                        cpu: 1
                        memoryInGB: 1
                networkRefs:
                  - endpointRefs:
                      - name: helloWorldListener
                    name: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/networks/sampleNetwork
                osType: Linux
                replicaName: "0"
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/applications/{applicationResourceName}/services/{serviceResourceName}/replicas/{replicaName}/codePackages/{codePackageName}/logs":
    get:
      description: Gets the logs for the container of the specified code package of the service replica.
      operationId: CodePackage_GetContainerLogs
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/ResourceGroupNameRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
        - $ref: "#/parameters/ApplicationResourceNameRequiredPathParam"
        - $ref: "#/parameters/ServiceResourceNameRequiredPathParam"
        - $ref: "#/parameters/ReplicaNameRequiredPathParam"
        - $ref: "#/parameters/CodePackageNameRequiredPathParam"
        - $ref: "#/parameters/TailOptionalQueryParam"
      responses:
        "200":
          description: Successful response
          schema:
            $ref: "#/definitions/ContainerLogs"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Gets the logs from the container.
      tags:
        - CodePackages
      x-ms-examples:
        GetContainerLogs:
          description: This example shows how to get logs from the container of service replica. If the container exists, the logs are returned with an OK (200) status code, otherwise an error is returned with an appropriate status code.
          operationId: CodePackage_GetContainerLogs
          parameters:
            api-version: 6.4-preview
            applicationResourceName: sbzDocApp
            codePackageName: sbzDocCode
            replicaName: "0"
            resourceGroupName: sbz_demo
            serviceResourceName: sbzDocService
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                content: |2
                   * Running on http://0.0.0.0:8080/ (Press CTRL+C to quit)
                   * Downloading style https://assets-cdn.github.com/assets/frameworks-8f281eb0a8d2308ceb36e714ba3c3aec.css
                   * Downloading style https://assets-cdn.github.com/assets/github-a698da0d53574b056d3c79ac732d4a70.css
                   * Downloading style https://assets-cdn.github.com/assets/site-83dc1f7ebc9c7461fe1eab799b56c4c4.css
                   * Cached all downloads in /root/.grip/cache-4.5.2
                  167.220.0.83 - - [06/Apr/2018 07:16:02] "GET / HTTP/1.1" 200 -
                  167.220.0.83 - - [06/Apr/2018 07:16:02] "GET /__/grip/asset/frameworks-8f281eb0a8d2308ceb36e714ba3c3aec.css HTTP/1.1" 200 -
                  167.220.0.83 - - [06/Apr/2018 07:16:02] "GET /__/grip/asset/site-83dc1f7ebc9c7461fe1eab799b56c4c4.css HTTP/1.1" 200 -
                  167.220.0.83 - - [06/Apr/2018 07:16:02] "GET /__/grip/asset/github-a698da0d53574b056d3c79ac732d4a70.css HTTP/1.1" 200 -
                  167.220.0.83 - - [06/Apr/2018 07:16:02] "GET /__/grip/static/octicons/octicons.css HTTP/1.1" 200 -
                  167.220.0.83 - - [06/Apr/2018 07:16:03] "GET /__/grip/static/octicons/octicons.woff2?ef21c39f0ca9b1b5116e5eb7ac5eabe6 HTTP/1.1" 200 -
                  167.220.0.83 - - [06/Apr/2018 07:16:03] "GET /__/grip/static/favicon.ico HTTP/1.1" 200 -
                  167.220.0.83 - - [06/Apr/2018 07:16:05] "GET /seabreeze-index.md HTTP/1.1" 200 -
                  167.220.0.83 - - [06/Apr/2018 07:16:09] "GET /seabreeze-api-application_get.md HTTP/1.1" 200 -
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/gateways":
    get:
      description: Gets the information about all gateway resources in a given resource group. The information include the description and other properties of the Gateway.
      operationId: Gateway_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
        - $ref: "#/parameters/ResourceGroupNameRequiredPathParam"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/GatewayResourceDescriptionList"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Gets all the gateway resources in a given resource group.
      tags:
        - Gateways
      x-ms-examples:
        ListGatewaysByResourceGroup:
          description: This example shows how to list all gateway resources within a specified resource group.
          operationId: Gateway_ListByResourceGroup
          parameters:
            api-version: 2018-09-01-privatepreview
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/gateways/sampleGateway
                    location: EastUS
                    name: sampleGateway
                    properties:
                      description: Service Fabric Mesh sample gateway.
                      destinationNetwork:
                        name: helloWorldNetwork
                      http:
                        - hosts:
                            - name: contoso.com
                              routes:
                                - destination:
                                    applicationName: httpHelloWorldApp
                                    endpointName: indexHttpEndpoint
                                    serviceName: indexService
                                  match:
                                    headers:
                                      - name: accept
                                        type: exact
                                        value: application/json
                                    path:
                                      rewrite: /
                                      type: prefix
                                      value: /index
                                  name: index
                          name: contosoWebsite
                          port: 8081
                      ipAddress: 192.168.1.1
                      provisioningState: Succeeded
                      sourceNetwork:
                        name: Open
                      status: Ready
                      tcp:
                        - destination:
                            applicationName: helloWorldApp
                            endpointName: helloWorldListener
                            serviceName: helloWorldService
                          name: web
                          port: 80
                    tags: {}
                    type: Microsoft.ServiceFabricMesh/gateways
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/gateways/{gatewayResourceName}":
    delete:
      description: Deletes the gateway resource identified by the name.
      operationId: Gateway_Delete
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
        - $ref: "#/parameters/ResourceGroupNameRequiredPathParam"
        - $ref: "#/parameters/GatewayResourceNameRequiredPathParam"
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
        "204":
          description: No Content - the specified gateway was not found.
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Deletes the gateway resource.
      tags:
        - Gateways
      x-ms-examples:
        DeleteGateway:
          description: This example shows how to delete an existing gateway resource. If the gateway resource exists and is deleted successfully, an empty response with 200 status code is returned. If the gateway resource does not exist, an empty response with 204 status code is returned.
          operationId: Gateway_Delete
          parameters:
            api-version: 2018-09-01-privatepreview
            gatewayResourceName: sampleGateway
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "202": {}
            "204": {}
    get:
      description: Gets the information about the gateway resource with the given name. The information include the description and other properties of the gateway.
      operationId: Gateway_Get
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
        - $ref: "#/parameters/ResourceGroupNameRequiredPathParam"
        - $ref: "#/parameters/GatewayResourceNameRequiredPathParam"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/GatewayResourceDescription"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Gets the gateway resource with the given name.
      tags:
        - Gateways
      x-ms-examples:
        GetGateway:
          description: This example shows how to get a gateway resource. If the gateway resource exists, its description is returned along with an OK (200) status code. If the gateway resource does not exist, an error is returned with an appropriate status code.
          operationId: Gateway_Get
          parameters:
            api-version: 2018-09-01-privatepreview
            gatewayResourceName: sampleGateway
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/gateways/sampleGateway
                location: EastUS
                name: sampleGateway
                properties:
                  description: Service Fabric Mesh sample gateway.
                  destinationNetwork:
                    name: helloWorldNetwork
                  http:
                    - hosts:
                        - name: contoso.com
                          routes:
                            - destination:
                                applicationName: httpHelloWorldApp
                                endpointName: indexHttpEndpoint
                                serviceName: indexService
                              match:
                                headers:
                                  - name: accept
                                    type: exact
                                    value: application/json
                                path:
                                  rewrite: /
                                  type: prefix
                                  value: /index
                              name: index
                      name: contosoWebsite
                      port: 8081
                  ipAddress: 192.168.1.1
                  provisioningState: Succeeded
                  sourceNetwork:
                    name: Open
                  status: Ready
                  tcp:
                    - destination:
                        applicationName: helloWorldApp
                        endpointName: helloWorldListener
                        serviceName: helloWorldService
                      name: web
                      port: 80
                tags: {}
                type: Microsoft.ServiceFabricMesh/gateways
    put:
      description: Creates a gateway resource with the specified name, description and properties. If a gateway resource with the same name exists, then it is updated with the specified description and properties. Use gateway resources to create a gateway for public connectivity for services within your application.
      operationId: Gateway_Create
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
        - $ref: "#/parameters/ResourceGroupNameRequiredPathParam"
        - $ref: "#/parameters/GatewayResourceNameRequiredPathParam"
        - $ref: "#/parameters/GatewayResourceDescriptionRequiredBodyParam"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/GatewayResourceDescription"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/GatewayResourceDescription"
        "202":
          description: Accepted
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Creates or updates a gateway resource.
      tags:
        - Gateways
      x-ms-examples:
        CreateOrUpdateGateway:
          description: This example shows how to create or update a gateway resource.
          operationId: Gateway_Create
          parameters:
            api-version: 2018-09-01-privatepreview
            gatewayResourceDescription:
              location: EastUS
              properties:
                description: Service Fabric Mesh sample gateway.
                destinationNetwork:
                  name: helloWorldNetwork
                http:
                  - hosts:
                      - name: contoso.com
                        routes:
                          - destination:
                              applicationName: httpHelloWorldApp
                              endpointName: indexHttpEndpoint
                              serviceName: indexService
                            match:
                              headers:
                                - name: accept
                                  type: exact
                                  value: application/json
                              path:
                                rewrite: /
                                type: prefix
                                value: /index
                            name: index
                    name: contosoWebsite
                    port: 8081
                sourceNetwork:
                  name: Open
                tcp:
                  - destination:
                      applicationName: helloWorldApp
                      endpointName: helloWorldListener
                      serviceName: helloWorldService
                    name: web
                    port: 80
              tags: {}
            gatewayResourceName: sampleGateway
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/gateways/sampleGateway
                location: EastUS
                name: sampleGateway
                properties:
                  description: Service Fabric Mesh sample gateway.
                  destinationNetwork:
                    name: helloWorldNetwork
                  http:
                    - hosts:
                        - name: contoso.com
                          routes:
                            - destination:
                                applicationName: httpHelloWorldApp
                                endpointName: indexHttpEndpoint
                                serviceName: indexService
                              match:
                                headers:
                                  - name: accept
                                    type: exact
                                    value: application/json
                                path:
                                  rewrite: /
                                  type: prefix
                                  value: /index
                              name: index
                      name: contosoWebsite
                      port: 8081
                  ipAddress: 192.168.1.1
                  provisioningState: Succeeded
                  sourceNetwork:
                    name: Open
                  status: Ready
                  tcp:
                    - destination:
                        applicationName: helloWorldApp
                        endpointName: helloWorldListener
                        serviceName: helloWorldService
                      name: web
                      port: 80
                tags: {}
                type: Microsoft.ServiceFabricMesh/gateways
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/gateways/sampleGateway
                location: EastUS
                name: sampleGateway
                properties:
                  description: Service Fabric Mesh sample gateway.
                  destinationNetwork:
                    name: helloWorldNetwork
                  http:
                    - hosts:
                        - name: contoso.com
                          routes:
                            - destination:
                                applicationName: httpHelloWorldApp
                                endpointName: indexHttpEndpoint
                                serviceName: indexService
                              match:
                                headers:
                                  - name: accept
                                    type: exact
                                    value: application/json
                                path:
                                  rewrite: /
                                  type: prefix
                                  value: /index
                              name: index
                      name: contosoWebsite
                      port: 8081
                  provisioningState: Updating
                  sourceNetwork:
                    name: Open
                  status: Creating
                  tcp:
                    - destination:
                        applicationName: helloWorldApp
                        endpointName: helloWorldListener
                        serviceName: helloWorldService
                      name: web
                      port: 80
                tags: {}
                type: Microsoft.ServiceFabricMesh/gateways
            "202": {}
      x-sf-codegen:
        Powershell:
          skipGeneration: "true"
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/networks":
    get:
      description: Gets the information about all network resources in a given resource group. The information include the description and other properties of the Network.
      operationId: Network_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
        - $ref: "#/parameters/ResourceGroupNameRequiredPathParam"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/NetworkResourceDescriptionList"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Gets all the network resources in a given resource group.
      tags:
        - Networks
      x-ms-examples:
        ListNetworksByResourceGroup:
          description: This example shows how to list all network resources within a specified resource group.
          operationId: Network_ListByResourceGroup
          parameters:
            api-version: 2018-09-01-privatepreview
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/networks/sampleNetwork
                    location: EastUS
                    name: sampleNetwork
                    properties:
                      description: Service Fabric Mesh sample network.
                      kind: Local
                      networkAddressPrefix: 2.0.0.0/16
                      provisioningState: Succeeded
                      status: Ready
                    tags: {}
                    type: Microsoft.ServiceFabricMesh/networks
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/networks/{networkResourceName}":
    delete:
      description: Deletes the network resource identified by the name.
      operationId: Network_Delete
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
        - $ref: "#/parameters/ResourceGroupNameRequiredPathParam"
        - $ref: "#/parameters/NetworkResourceNameRequiredPathParam"
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
        "204":
          description: No Content - the specified network was not found.
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Deletes the network resource.
      tags:
        - Networks
      x-ms-examples:
        DeleteNetwork:
          description: This example shows how to delete an existing network resource. If the network resource exists and is deleted successfully, an empty response with 200 status code is returned. If the network resource does not exist, an empty response with 204 status code is returned.
          operationId: Network_Delete
          parameters:
            api-version: 2018-09-01-privatepreview
            networkResourceName: sampleNetwork
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "202": {}
            "204": {}
    get:
      description: Gets the information about the network resource with the given name. The information include the description and other properties of the network.
      operationId: Network_Get
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
        - $ref: "#/parameters/ResourceGroupNameRequiredPathParam"
        - $ref: "#/parameters/NetworkResourceNameRequiredPathParam"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/NetworkResourceDescription"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Gets the network resource with the given name.
      tags:
        - Networks
      x-ms-examples:
        GetNetwork:
          description: This example shows how to get a network resource. If the network resource exists, its description is returned along with an OK (200) status code. If the network resource does not exist, an error is returned with an appropriate status code.
          operationId: Network_Get
          parameters:
            api-version: 2018-09-01-privatepreview
            networkResourceName: sampleNetwork
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/networks/sampleNetwork
                location: EastUS
                name: sampleNetwork
                properties:
                  description: Service Fabric Mesh sample network.
                  kind: Local
                  networkAddressPrefix: 2.0.0.0/16
                  provisioningState: Succeeded
                  status: Ready
                tags: {}
                type: Microsoft.ServiceFabricMesh/networks
    put:
      description: Creates a network resource with the specified name, description and properties. If a network resource with the same name exists, then it is updated with the specified description and properties.
      operationId: Network_Create
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
        - $ref: "#/parameters/ResourceGroupNameRequiredPathParam"
        - $ref: "#/parameters/NetworkResourceNameRequiredPathParam"
        - $ref: "#/parameters/NetworkResourceDescriptionRequiredBodyParam"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/NetworkResourceDescription"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/NetworkResourceDescription"
        "202":
          description: Accepted
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Creates or updates a network resource.
      tags:
        - Networks
      x-ms-examples:
        CreateOrUpdateNetwork:
          description: This example shows how to create or update a network resource.
          operationId: Network_Create
          parameters:
            api-version: 2018-09-01-privatepreview
            networkResourceDescription:
              location: EastUS
              properties:
                description: Service Fabric Mesh sample network.
                kind: Local
                networkAddressPrefix: 2.0.0.0/16
              tags: {}
            networkResourceName: sampleNetwork
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/networks/sampleNetwork
                location: EastUS
                name: sampleNetwork
                properties:
                  description: Service Fabric Mesh sample network.
                  kind: Local
                  networkAddressPrefix: 2.0.0.0/16
                  provisioningState: Succeeded
                  status: Ready
                tags: {}
                type: Microsoft.ServiceFabricMesh/networks
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/networks/sampleNetwork
                location: EastUS
                name: sampleNetwork
                properties:
                  description: Service Fabric Mesh sample network.
                  kind: Local
                  networkAddressPrefix: 2.0.0.0/16
                  provisioningState: Updating
                  status: Creating
                tags: {}
                type: Microsoft.ServiceFabricMesh/networks
            "202": {}
      x-sf-codegen:
        Powershell:
          skipGeneration: "true"
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/secrets":
    get:
      description: Gets the information about all secret resources in a given resource group. The information include the description and other properties of the Secret.
      operationId: Secret_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
        - $ref: "#/parameters/ResourceGroupNameRequiredPathParam"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SecretResourceDescriptionList"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Gets all the secret resources in a given resource group.
      tags:
        - Secrets
      x-ms-examples:
        ListSecretsByResourceGroup:
          description: This example shows how to list all secret resources within a specified resource group.
          operationId: Secret_ListByResourceGroup
          parameters:
            api-version: 2018-09-01-privatepreview
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/secrets/dbConnectionString
                    location: EastUS
                    name: dbConnectionString
                    properties:
                      contentType: text/plain
                      description: Mongo DB connection string for backend database!
                      kind: inlinedValue
                      provisioningState: Succeeded
                      status: Ready
                    tags: {}
                    type: Microsoft.ServiceFabricMesh/secrets
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/secrets/{secretResourceName}":
    delete:
      description: Deletes the secret resource identified by the name.
      operationId: Secret_Delete
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
        - $ref: "#/parameters/ResourceGroupNameRequiredPathParam"
        - $ref: "#/parameters/SecretResourceNameRequiredPathParam"
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
        "204":
          description: No Content - the specified secret was not found.
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Deletes the secret resource.
      tags:
        - Secrets
      x-ms-examples:
        DeleteSecret:
          description: This example shows how to delete an existing secret resource. If the secret resource exists and is deleted successfully, an empty response with 200 status code is returned. If the secret resource does not exit, an empty response with 204 status code is returned.
          operationId: Secret_Delete
          parameters:
            api-version: 2018-09-01-privatepreview
            resourceGroupName: sbz_demo
            secretResourceName: dbConnectionString
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "202": {}
            "204": {}
    get:
      description: Gets the information about the secret resource with the given name. The information include the description and other properties of the secret.
      operationId: Secret_Get
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
        - $ref: "#/parameters/ResourceGroupNameRequiredPathParam"
        - $ref: "#/parameters/SecretResourceNameRequiredPathParam"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SecretResourceDescription"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Gets the secret resource with the given name.
      tags:
        - Secrets
      x-ms-examples:
        GetSecret:
          description: This example shows how to get a secret resource. If the secret resource exists, its description is returned along with an OK (200) status code. If the secret resource does not exist, an error is returned with an appropriate status code.
          operationId: Secret_Get
          parameters:
            api-version: 2018-09-01-privatepreview
            resourceGroupName: sbz_demo
            secretResourceName: dbConnectionString
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/secrets/dbConnectionString
                location: EastUS
                name: dbConnectionString
                properties:
                  contentType: text/plain
                  description: Mongo DB connection string for backend database!
                  kind: inlinedValue
                  provisioningState: Succeeded
                  status: Ready
                tags: {}
                type: Microsoft.ServiceFabricMesh/secrets
    put:
      description: Creates a secret resource with the specified name, description and properties. If a secret resource with the same name exists, then it is updated with the specified description and properties.
      operationId: Secret_Create
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
        - $ref: "#/parameters/ResourceGroupNameRequiredPathParam"
        - $ref: "#/parameters/SecretResourceNameRequiredPathParam"
        - $ref: "#/parameters/SecretResourceDescriptionRequiredBodyParam"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SecretResourceDescription"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/SecretResourceDescription"
        "202":
          description: Accepted
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Creates or updates a secret resource.
      tags:
        - Secrets
      x-ms-examples:
        CreateOrUpdateSecret:
          description: This example shows how to create or update a secret resource.
          operationId: Secret_Create
          parameters:
            api-version: 2018-09-01-privatepreview
            resourceGroupName: sbz_demo
            secretResourceDescription:
              location: EastUS
              properties:
                contentType: text/plain
                description: Mongo DB connection string for backend database!
                kind: inlinedValue
              tags: {}
            secretResourceName: dbConnectionString
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/secrets/dbConnectionString
                location: EastUS
                name: dbConnectionString
                properties:
                  contentType: text/plain
                  description: Mongo DB connection string for backend database!
                  kind: inlinedValue
                  provisioningState: Succeeded
                  status: Ready
                tags: {}
                type: Microsoft.ServiceFabricMesh/secrets
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/secrets/dbConnectionString
                location: EastUS
                name: dbConnectionString
                properties:
                  contentType: text/plain
                  description: Mongo DB connection string for backend database!
                  kind: inlinedValue
                  provisioningState: Updating
                  status: Creating
                tags: {}
                type: Microsoft.ServiceFabricMesh/secrets
            "202": {}
      x-sf-codegen:
        Powershell:
          skipGeneration: "true"
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/secrets/{secretResourceName}/values":
    get:
      description: Gets information about all secret value resources of the specified secret resource. The information includes the names of the secret value resources, but not the actual values.
      operationId: SecretValue_List
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
        - $ref: "#/parameters/ResourceGroupNameRequiredPathParam"
        - $ref: "#/parameters/SecretResourceNameRequiredPathParam"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SecretValueResourceDescriptionList"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: List names of all values of the specified secret resource.
      tags:
        - SecretValues
      x-ms-examples:
        ListSecretValues:
          description: This example shows how to list names of all values of a secret resource, not including their respective values.
          operationId: SecretValue_List
          parameters:
            api-version: 2018-09-01-privatepreview
            resourceGroupName: sbz_demo
            secretResourceName: dbConnectionString
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/secrets/dbConnectionString/values/v1
                    location: EastUS
                    name: v1
                    properties:
                      provisioningState: Succeeded
                      value: null
                    type: secrets/values
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/secrets/dbConnectionString/values/v2
                    location: EastUS
                    name: v2
                    properties:
                      provisioningState: Succeeded
                      value: null
                    type: secrets/values
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/secrets/{secretResourceName}/values/{secretValueResourceName}":
    delete:
      description: Deletes the secret value resource identified by the name. The name of the resource is typically the version associated with that value. Deletion will fail if the specified value is in use.
      operationId: SecretValue_Delete
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
        - $ref: "#/parameters/ResourceGroupNameRequiredPathParam"
        - $ref: "#/parameters/SecretResourceNameRequiredPathParam"
        - $ref: "#/parameters/SecretValueResourceNameRequiredPathParam"
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
        "204":
          description: No Content - the specified named secret value was not found.
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Deletes the specified  value of the named secret resource.
      tags:
        - SecretValues
      x-ms-examples:
        DeleteSecretValue:
          description: This example shows how to delete a secret value. If the specified named value exists and is deleted successfully, an empty response with 200 status code is returned. If the specified named value does not exist, an empty response with 204 status code is returned.
          operationId: SecretValue_Delete
          parameters:
            api-version: 2018-09-01-privatepreview
            resourceGroupName: sbz_demo
            secretResourceName: dbConnectionString
            secretValueResourceName: v1
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "202": {}
            "204": {}
    get:
      description: Get the information about the specified named secret value resources. The information does not include the actual value of the secret.
      operationId: SecretValue_Get
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
        - $ref: "#/parameters/ResourceGroupNameRequiredPathParam"
        - $ref: "#/parameters/SecretResourceNameRequiredPathParam"
        - $ref: "#/parameters/SecretValueResourceNameRequiredPathParam"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SecretValueResourceDescription"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Gets the specified secret value resource.
      tags:
        - SecretValues
      x-ms-examples:
        GetSecretValue:
          description: This example shows how to get the specified secret value resource. If the specified named value exists, its information is returned along with status code 200. The information does not include the value. To get the unecnrypted value use SecretValue_ListValue operation. If the specified named value does not exist, an error is returned with an appropriate status code.
          operationId: SecretValue_Get
          parameters:
            api-version: 2018-09-01-privatepreview
            resourceGroupName: sbz_demo
            secretResourceName: dbConnectionString
            secretValueResourceName: v1
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/secrets/dbConnectionString/values/v1
                location: EastUS
                name: v1
                properties:
                  provisioningState: Succeeded
                  value: null
                type: secrets/values
    put:
      description: Creates a new value of the specified secret resource. The name of the value is typically the version identifier. Once created the value cannot be changed.
      operationId: SecretValue_Create
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
        - $ref: "#/parameters/ResourceGroupNameRequiredPathParam"
        - $ref: "#/parameters/SecretResourceNameRequiredPathParam"
        - $ref: "#/parameters/SecretValueResourceNameRequiredPathParam"
        - $ref: "#/parameters/SecretValueResourceDescriptionRequiredBodyParam"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SecretValueResourceDescription"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/SecretValueResourceDescription"
        "202":
          description: Accepted
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Adds the specified value as a new version of the specified secret resource.
      tags:
        - SecretValues
      x-ms-examples:
        CreateSecretValue:
          description: This example shows how to add a new value of a secret resource; the secret value is provided as plaintext.
          operationId: SecretValue_Create
          parameters:
            api-version: 2018-09-01-privatepreview
            resourceGroupName: sbz_demo
            secretResourceName: dbConnectionString
            secretValueResourceDescription:
              name: v1
              properties:
                value: mongodb://contoso123:0Fc3IolnL12312asdfawejunASDF@asdfYXX2t8a97kghVcUzcDv98hawelufhawefafnoQRGwNj2nMPL1Y9qsIr9Srdw==@contoso123.documents.azure.com:10255/mydatabase?ssl=true
            secretValueResourceName: v1
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/secrets/dbConnectionString/values/v1
                location: EastUS
                name: v1
                properties:
                  provisioningState: Succeeded
                  value: null
                type: secrets/values
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/secrets/dbConnectionString/values/v1
                location: EastUS
                name: v1
                properties:
                  provisioningState: Updating
                  value: null
                type: secrets/values
            "202": {}
      x-sf-codegen:
        Powershell:
          skipGeneration: "true"
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/secrets/{secretResourceName}/values/{secretValueResourceName}/list_value":
    post:
      description: Lists the decrypted value of the specified named value of the secret resource. This is a privileged operation.
      operationId: SecretValue_ListValue
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
        - $ref: "#/parameters/ResourceGroupNameRequiredPathParam"
        - $ref: "#/parameters/SecretResourceNameRequiredPathParam"
        - $ref: "#/parameters/SecretValueResourceNameRequiredPathParam"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SecretValue"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Lists the specified value of the secret resource.
      tags:
        - SecretValues
      x-ms-examples:
        ListSecretValue:
          description: This example shows how to get the unencrypted value of the secret. If the specified named value resource exists, its unencrypted value is returned along with status code 200. If the specified named value does not exist, an error is returned with an appropriate status code.
          operationId: SecretValue_ListValue
          parameters:
            api-version: 2018-09-01-privatepreview
            resourceGroupName: sbz_demo
            secretResourceName: dbConnectionString
            secretValueResourceName: v1
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value: mongodb://contoso123:0Fc3IolnL12312asdfawejunASDF@asdfYXX2t8a97kghVcUzcDv98hawelufhawefafnoQRGwNj2nMPL1Y9qsIr9Srdw==@contoso123.documents.azure.com:10255/mydatabase?ssl=true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/volumes":
    get:
      description: Gets the information about all volume resources in a given resource group. The information include the description and other properties of the Volume.
      operationId: Volume_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
        - $ref: "#/parameters/ResourceGroupNameRequiredPathParam"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/VolumeResourceDescriptionList"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Gets all the volume resources in a given resource group.
      tags:
        - Volumes
      x-ms-examples:
        ListVolumesByResourceGroup:
          description: This example shows how to list all volume resources within a specified resource group.
          operationId: Volume_ListByResourceGroup
          parameters:
            api-version: 2018-09-01-privatepreview
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/volumes/sampleVolume
                    location: EastUS
                    name: sampleVolume
                    properties:
                      azureFileParameters:
                        accountName: sbzdemoaccount
                        shareName: sharel
                      description: Service Fabric Mesh sample volume.
                      provider: SFAzureFile
                      provisioningState: Succeeded
                      status: Ready
                    tags: {}
                    type: Microsoft.ServiceFabricMesh/volumes
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabricMesh/volumes/{volumeResourceName}":
    delete:
      description: Deletes the volume resource identified by the name.
      operationId: Volume_Delete
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
        - $ref: "#/parameters/ResourceGroupNameRequiredPathParam"
        - $ref: "#/parameters/VolumeResourceNameRequiredPathParam"
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
        "204":
          description: No Content - the specified volume was not found.
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Deletes the volume resource.
      tags:
        - Volumes
      x-ms-examples:
        DeleteVolume:
          description: This example shows how to delete an existing volume resource. If the volume resource exists and is deleted successfully, an empty response with 200 status code is returned. If the volume resource does not exit, an empty response with 204 status code is returned.
          operationId: Volume_Delete
          parameters:
            api-version: 2018-09-01-privatepreview
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
            volumeResourceName: sampleVolume
          responses:
            "200": {}
            "202": {}
            "204": {}
    get:
      description: Gets the information about the volume resource with the given name. The information include the description and other properties of the volume.
      operationId: Volume_Get
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
        - $ref: "#/parameters/ResourceGroupNameRequiredPathParam"
        - $ref: "#/parameters/VolumeResourceNameRequiredPathParam"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/VolumeResourceDescription"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Gets the volume resource with the given name.
      tags:
        - Volumes
      x-ms-examples:
        GetVolume:
          description: This example shows how to get a volume resource. If the volume resource exists, its description is returned along with an OK (200) status code. If the volume resource does not exist, an error is returned with an appropriate status code.
          operationId: Volume_Get
          parameters:
            api-version: 2018-09-01-privatepreview
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
            volumeResourceName: sampleVolume
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/volumes/sampleVolume
                location: EastUS
                name: sampleVolume
                properties:
                  azureFileParameters:
                    accountName: sbzdemoaccount
                    shareName: sharel
                  description: Service Fabric Mesh sample volume.
                  provider: SFAzureFile
                  provisioningState: Succeeded
                  status: Ready
                tags: {}
                type: Microsoft.ServiceFabricMesh/volumes
    put:
      description: Creates a volume resource with the specified name, description and properties. If a volume resource with the same name exists, then it is updated with the specified description and properties.
      operationId: Volume_Create
      parameters:
        - $ref: "#/parameters/subscriptionIdRequiredPathParam"
        - $ref: "#/parameters/api-versionRequiredQueryParam"
        - $ref: "#/parameters/ResourceGroupNameRequiredPathParam"
        - $ref: "#/parameters/VolumeResourceNameRequiredPathParam"
        - $ref: "#/parameters/VolumeResourceDescriptionRequiredBodyParam"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/VolumeResourceDescription"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/VolumeResourceDescription"
        "202":
          description: Accepted
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      summary: Creates or updates a volume resource.
      tags:
        - Volumes
      x-ms-examples:
        CreateOrUpdateVolume:
          description: This example shows how to create or update a volume resource.
          operationId: Volume_Create
          parameters:
            api-version: 2018-09-01-privatepreview
            resourceGroupName: sbz_demo
            subscriptionId: 00000000-0000-0000-0000-000000000000
            volumeResourceDescription:
              location: EastUS
              properties:
                azureFileParameters:
                  accountKey: provide-account-key-here
                  accountName: sbzdemoaccount
                  shareName: sharel
                description: Service Fabric Mesh sample volume.
                provider: SFAzureFile
              tags: {}
            volumeResourceName: sampleVolume
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/volumes/sampleVolume
                location: EastUS
                name: sampleVolume
                properties:
                  azureFileParameters:
                    accountName: sbzdemoaccount
                    shareName: sharel
                  description: Service Fabric Mesh sample volume.
                  provider: SFAzureFile
                  provisioningState: Succeeded
                  status: Ready
                tags: {}
                type: Microsoft.ServiceFabricMesh/volumes
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sbz_demo/providers/Microsoft.ServiceFabricMesh/volumes/sampleVolume
                location: EastUS
                name: sampleVolume
                properties:
                  azureFileParameters:
                    accountName: sbzdemoaccount
                    shareName: sharel
                  description: Service Fabric Mesh sample volume.
                  provider: SFAzureFile
                  provisioningState: Updating
                  status: Creating
                tags: {}
                type: Microsoft.ServiceFabricMesh/volumes
            "202": {}
      x-sf-codegen:
        Powershell:
          skipGeneration: "true"
definitions:
  AddRemoveReplicaScalingMechanism:
    allOf:
      - $ref: "#/definitions/AutoScalingMechanism"
      - type: object
    description: Describes the horizontal auto scaling mechanism that adds or removes replicas (containers or container groups).
    properties:
      maxCount:
        description: Maximum number of containers (scale up won't be performed above this number).
        type: integer
      minCount:
        description: Minimum number of containers (scale down won't be performed below this number).
        type: integer
      scaleIncrement:
        description: Each time auto scaling is performed, this number of containers will be added or removed.
        type: integer
    required:
      - minCount
      - maxCount
      - scaleIncrement
    x-ms-discriminator-value: AddRemoveReplica
  ApplicationProperties:
    description: Describes properties of a application resource.
    properties:
      debugParams:
        description: Internal - used by Visual Studio to setup the debugging session on the local development environment.
        type: string
      description:
        description: User readable description of the application.
        type: string
      diagnostics:
        $ref: "#/definitions/DiagnosticsDescription"
        description: Describes the diagnostics definition and usage for an application resource.
      healthState:
        $ref: "#/definitions/HealthState"
        description: Describes the health state of an application resource.
        readOnly: true
      serviceNames:
        description: Names of the services in the application.
        items:
          type: string
        readOnly: true
        type: array
      services:
        description: Describes the services in the application. This property is used to create or modify services of the application. On get only the name of the service is returned. The service description can be obtained by querying for the service resource.
        items:
          $ref: "#/definitions/ServiceResourceDescription"
        type: array
      status:
        $ref: "#/definitions/ResourceStatus"
        description: Status of the application.
        readOnly: true
      statusDetails:
[...]
