swagger: "2.0"
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: The Admin Gallery Management Client.
  title: GalleryManagementClient
  version: 2015-04-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/gallery/Microsoft.Gallery.Admin/preview/2015-04-01/Gallery.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-Gallery
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Authorization uses an Azure Active Directory OAuth2 flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    default: 2016-05-01
    description: Client API Version.
    in: query
    name: api-version
    required: true
    type: string
  FilterParameter:
    description: OData filter parameter.
    in: query
    name: $filter
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.Gallery.Admin/operations:
    get:
      operationId: Operations_List
      parameters:
        - default: 2016-05-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/OperationList"
      summary: Gets the available gallery admin operations.
      tags:
        - Operations
      x-ms-examples:
        Gets the available gallery admin operations.:
          parameters:
            api-version: 2016-05-01
          responses:
            "200":
              body:
                value:
                  - display:
                      description: Gets the gallery items.
                      operation: Get Gallery Items
                      provider: Microsoft Gallery Administration Service
                      resource: Gallery Item
                    name: Microsoft.Gallery.Admin/galleryItems/read
                  - display:
                      description: Uploads a gallery item.
                      operation: Upload Gallery Item
                      provider: Microsoft Gallery Administration Service
                      resource: Gallery Item
                    name: Microsoft.Gallery.Admin/galleryItems/action
                  - display:
                      description: Deletes a gallery item.
                      operation: Delete Gallery Item
                      provider: Microsoft Gallery Administration Service
                      resource: Gallery Item
                    name: Microsoft.Gallery.Admin/galleryItems/delete
                  - display:
                      description: Lists the supported operations.
                      operation: List Operations
                      provider: Microsoft Gallery Administration Service
                      resource: Operation
                    name: Microsoft.Gallery.Admin/operations/read
      x-ms-pageable:
        nextLinkName: null
definitions:
  Operation:
    description: Represents a REST operation.
    properties:
      display:
        $ref: "#/definitions/OperationDisplayDefinition"
        description: Information about the REST operation.
      name:
        description: Name of the REST operation.
        type: string
      origin:
        description: Origin of the REST operation.
        type: string
    type: object
  OperationDisplayDefinition:
    description: Information about the REST operation.
    properties:
      description:
        description: Description of the REST operation.
        type: string
      operation:
        description: Type of REST operation.
        type: string
      provider:
        description: Provider of the REST operation.
        type: string
      resource:
        description: Resource returned by the REST operation.
        type: string
    type: object
  OperationList:
    description: List of operations.
    properties:
      value:
        description: List of operations.
        items:
          $ref: "#/definitions/Operation"
        type: array
    type: object
  Resource:
    description: Base Resource Object.
    properties:
      id:
        description: URI of the resource.
        readOnly: true
        type: string
      location:
        description: Location of the resource.
        readOnly: true
        type: string
      name:
        description: Name of the resource.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: List of key-value pairs.
        readOnly: true
        type: object
      type:
        description: Type of the resource.
        readOnly: true
        type: string
    type: object
    x-ms-azure-resource: true
