swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Use these REST APIs for performing operations on NamedValue entity associated with your Azure API Management deployment. API Management policies are a powerful capability of the system that allow the publisher to change the behavior of the API through configuration. Policies are a collection of statements that are executed sequentially on the request or response of an API. Policy statements can be constructed using literal text values, policy expressions, and NamedValues. Each API Management service instance has a NamedValues collection of key/value pairs that are global to the service instance. These NamedValues can be used to manage constant string values across all API configuration and policies.
  title: ApiManagementClient
  version: 2019-12-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/apimnamedvalues.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: apimanagement-apimnamedvalues
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters: {}
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/namedValues":
    get:
      description: Lists a collection of NamedValues defined within a service instance.
      externalDocs:
        url: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-properties
      operationId: NamedValue_ListByService
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: "|   Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>| tags | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith, any, all | </br>| displayName | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith | </br>"
          in: query
          name: $filter
          required: false
          type: string
        - description: Number of records to return.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Number of records to skip.
          format: int32
          in: query
          minimum: 0
          name: $skip
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: A Collection of the NamedValue entities for the specified API Management service instance.
          schema:
            description: Paged NamedValue list representation.
            properties:
              nextLink:
                description: Next page link if any.
                type: string
              value:
                description: Page values.
                items:
                  allOf:
                    - description: The Resource definition.
                      properties:
                        id:
                          description: Resource ID.
                          readOnly: true
                          type: string
                        name:
                          description: Resource name.
                          readOnly: true
                          type: string
                        type:
                          description: Resource type for API Management resource.
                          readOnly: true
                          type: string
                      x-ms-azure-resource: true
                  description: NamedValue details.
                  properties:
                    properties:
                      allOf:
                        - description: NamedValue Entity Base Parameters set.
                          properties:
                            secret:
                              description: Determines whether the value is a secret and should be encrypted or not. Default value is false.
                              type: boolean
                            tags:
                              description: Optional tags that when provided can be used to filter the NamedValue list.
                              items:
                                type: string
                              maxItems: 32
                              type: array
                      description: NamedValue Contract properties.
                      properties:
                        displayName:
                          description: Unique name of NamedValue. It may contain only letters, digits, period, dash, and underscore characters.
                          maxLength: 256
                          minLength: 1
                          pattern: ^[A-Za-z0-9-._]+$
                          type: string
                        value:
                          description: Value of the NamedValue. Can contain policy expressions. It may not be empty or consist only of whitespace. This property will not be filled on 'GET' operations! Use '/listSecrets' POST request to get the value.
                          maxLength: 4096
                          minLength: 1
                          type: string
                      required:
                        - displayName
                type: array
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - NamedValue
      x-ms-examples:
        ApiManagementListNamedValues:
          parameters:
            api-version: 2019-12-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/namedValues/592f1174cc83890dc4f32686
                    name: 592f1174cc83890dc4f32686
                    properties:
                      displayName: Logger-Credentials-592f1174cc83890dc4f32687
                      secret: false
                      value: propValue
                    type: Microsoft.ApiManagement/service/namedValues
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/namedValues/testarmTemplateproperties2
                    name: testarmTemplateproperties2
                    properties:
                      displayName: propName
                      secret: true
                      tags:
                        - foo
                        - bar
                    type: Microsoft.ApiManagement/service/namedValues
      x-ms-odata: ./definitions.json#/definitions/NamedValueContract
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/namedValues/{namedValueId}":
    delete:
      description: Deletes specific NamedValue from the API Management service instance.
      operationId: NamedValue_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Identifier of the NamedValue.
          in: path
          maxLength: 256
          name: namedValueId
          pattern: ^[^*#&+:<>?]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.
          in: header
          name: If-Match
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: NamedValue was successfully deleted.
        "204":
          description: NamedValue was successfully deleted.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - NamedValue
      x-ms-examples:
        ApiManagementDeleteNamedValue:
          parameters:
            If-Match: "*"
            api-version: 2019-12-01-preview
            namedValueId: testprop2
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets the details of the NamedValue specified by its identifier.
      operationId: NamedValue_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Identifier of the NamedValue.
          in: path
          maxLength: 256
          name: namedValueId
          pattern: ^[^*#&+:<>?]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: The response body contains the specified NamedValue entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource ID.
                    readOnly: true
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type for API Management resource.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: NamedValue details.
            properties:
              properties:
                allOf:
                  - description: NamedValue Entity Base Parameters set.
                    properties:
                      secret:
                        description: Determines whether the value is a secret and should be encrypted or not. Default value is false.
                        type: boolean
                      tags:
                        description: Optional tags that when provided can be used to filter the NamedValue list.
                        items:
                          type: string
                        maxItems: 32
                        type: array
                description: NamedValue Contract properties.
                properties:
                  displayName:
                    description: Unique name of NamedValue. It may contain only letters, digits, period, dash, and underscore characters.
                    maxLength: 256
                    minLength: 1
                    pattern: ^[A-Za-z0-9-._]+$
                    type: string
                  value:
                    description: Value of the NamedValue. Can contain policy expressions. It may not be empty or consist only of whitespace. This property will not be filled on 'GET' operations! Use '/listSecrets' POST request to get the value.
                    maxLength: 4096
                    minLength: 1
                    type: string
                required:
                  - displayName
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - NamedValue
      x-ms-examples:
        ApiManagementGetNamedValue:
          parameters:
            api-version: 2019-12-01-preview
            namedValueId: testarmTemplateproperties2
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/namedValues/testarmTemplateproperties2
                name: testarmTemplateproperties2
                properties:
                  displayName: propName
                  secret: false
                  tags:
                    - foo
                    - bar
                  value: propValue
                type: Microsoft.ApiManagement/service/namedValues
    head:
      description: Gets the entity state (Etag) version of the NamedValue specified by its identifier.
      operationId: NamedValue_GetEntityTag
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Identifier of the NamedValue.
          in: path
          maxLength: 256
          name: namedValueId
          pattern: ^[^*#&+:<>?]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Specified NamedValue entity exists and current entity state version is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - NamedValue
      x-ms-examples:
        ApiManagementHeadNamedValue:
          parameters:
            api-version: 2019-12-01-preview
            namedValueId: testarmTemplateproperties2
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              headers:
                etag: AAAAAAAAAAa=
    patch:
      description: Updates the specific NamedValue.
      operationId: NamedValue_Update
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Identifier of the NamedValue.
          in: path
          maxLength: 256
          name: namedValueId
          pattern: ^[^*#&+:<>?]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Update parameters.
          in: body
          name: parameters
          required: true
          schema:
            description: NamedValue update Parameters.
            properties:
              properties:
                allOf:
                  - description: NamedValue Entity Base Parameters set.
                    properties:
                      secret:
                        description: Determines whether the value is a secret and should be encrypted or not. Default value is false.
                        type: boolean
                      tags:
                        description: Optional tags that when provided can be used to filter the NamedValue list.
                        items:
                          type: string
                        maxItems: 32
                        type: array
                description: NamedValue Contract properties.
                properties:
                  displayName:
                    description: Unique name of NamedValue. It may contain only letters, digits, period, dash, and underscore characters.
                    maxLength: 256
                    minLength: 1
                    pattern: ^[A-Za-z0-9-._]+$
                    type: string
                  value:
                    description: Value of the NamedValue. Can contain policy expressions. It may not be empty or consist only of whitespace.
                    maxLength: 4096
                    minLength: 1
                    type: string
        - description: ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.
          in: header
          name: If-Match
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: NamedValue was successfully updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource ID.
                    readOnly: true
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type for API Management resource.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: NamedValue details.
            properties:
              properties:
                allOf:
                  - description: NamedValue Entity Base Parameters set.
                    properties:
                      secret:
                        description: Determines whether the value is a secret and should be encrypted or not. Default value is false.
                        type: boolean
                      tags:
                        description: Optional tags that when provided can be used to filter the NamedValue list.
                        items:
                          type: string
                        maxItems: 32
                        type: array
                description: NamedValue Contract properties.
                properties:
                  displayName:
                    description: Unique name of NamedValue. It may contain only letters, digits, period, dash, and underscore characters.
                    maxLength: 256
                    minLength: 1
                    pattern: ^[A-Za-z0-9-._]+$
                    type: string
                  value:
                    description: Value of the NamedValue. Can contain policy expressions. It may not be empty or consist only of whitespace. This property will not be filled on 'GET' operations! Use '/listSecrets' POST request to get the value.
                    maxLength: 4096
                    minLength: 1
                    type: string
                required:
                  - displayName
        "202":
          description: Request to update NamedValue was accepted. Location header contains the URL where the status of the long running operation can be checked.
        "204":
          description: NamedValue was successfully updated.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - NamedValue
      x-ms-examples:
        ApiManagementUpdateNamedValue:
          parameters:
            If-Match: "*"
            api-version: 2019-12-01-preview
            namedValueId: testprop2
            parameters:
              properties:
                displayName: prop3name
                secret: false
                tags:
                  - foo
                  - bar2
                value: propValue
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/namedValues/testprop2
                properties:
                  displayName: prop3name
                  secret: false
                  tags:
                    - foo
                    - bar2
                  value: propValue
                type: Microsoft.ApiManagement/service/namedValues
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/namedValues/testprop2?api-version=2019-12-01-preview&asyncId=5c730e343244df1b9cb56e85&asyncCode=204
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    put:
      description: Creates or updates a NamedValue.
      operationId: NamedValue_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Identifier of the NamedValue.
          in: path
          maxLength: 256
          name: namedValueId
          pattern: ^[^*#&+:<>?]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Create parameters.
          in: body
          name: parameters
          required: true
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource ID.
                    readOnly: true
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type for API Management resource.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: NamedValue details.
            properties:
              properties:
                allOf:
                  - description: NamedValue Entity Base Parameters set.
                    properties:
                      secret:
                        description: Determines whether the value is a secret and should be encrypted or not. Default value is false.
                        type: boolean
                      tags:
                        description: Optional tags that when provided can be used to filter the NamedValue list.
                        items:
                          type: string
                        maxItems: 32
                        type: array
                description: NamedValue Contract properties.
                properties:
                  displayName:
                    description: Unique name of NamedValue. It may contain only letters, digits, period, dash, and underscore characters.
                    maxLength: 256
                    minLength: 1
                    pattern: ^[A-Za-z0-9-._]+$
                    type: string
                  value:
                    description: Value of the NamedValue. Can contain policy expressions. It may not be empty or consist only of whitespace. This property will not be filled on 'GET' operations! Use '/listSecrets' POST request to get the value.
                    maxLength: 4096
                    minLength: 1
                    type: string
                required:
                  - displayName
                  - value
        - description: ETag of the Entity. Not required when creating an entity, but required when updating an entity.
          in: header
          name: If-Match
          required: false
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: NamedValue was successfully updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource ID.
                    readOnly: true
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type for API Management resource.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: NamedValue details.
            properties:
              properties:
                allOf:
                  - description: NamedValue Entity Base Parameters set.
                    properties:
                      secret:
                        description: Determines whether the value is a secret and should be encrypted or not. Default value is false.
                        type: boolean
                      tags:
                        description: Optional tags that when provided can be used to filter the NamedValue list.
                        items:
                          type: string
                        maxItems: 32
                        type: array
                description: NamedValue Contract properties.
                properties:
                  displayName:
                    description: Unique name of NamedValue. It may contain only letters, digits, period, dash, and underscore characters.
                    maxLength: 256
                    minLength: 1
                    pattern: ^[A-Za-z0-9-._]+$
                    type: string
                  value:
                    description: Value of the NamedValue. Can contain policy expressions. It may not be empty or consist only of whitespace. This property will not be filled on 'GET' operations! Use '/listSecrets' POST request to get the value.
                    maxLength: 4096
                    minLength: 1
                    type: string
                required:
                  - displayName
        "201":
          description: NamedValue was successfully created.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource ID.
                    readOnly: true
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type for API Management resource.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: NamedValue details.
            properties:
              properties:
                allOf:
                  - description: NamedValue Entity Base Parameters set.
                    properties:
                      secret:
                        description: Determines whether the value is a secret and should be encrypted or not. Default value is false.
                        type: boolean
                      tags:
                        description: Optional tags that when provided can be used to filter the NamedValue list.
                        items:
                          type: string
                        maxItems: 32
                        type: array
                description: NamedValue Contract properties.
                properties:
                  displayName:
                    description: Unique name of NamedValue. It may contain only letters, digits, period, dash, and underscore characters.
                    maxLength: 256
                    minLength: 1
                    pattern: ^[A-Za-z0-9-._]+$
                    type: string
                  value:
                    description: Value of the NamedValue. Can contain policy expressions. It may not be empty or consist only of whitespace. This property will not be filled on 'GET' operations! Use '/listSecrets' POST request to get the value.
                    maxLength: 4096
                    minLength: 1
                    type: string
                required:
                  - displayName
        "202":
          description: Request to create or update NamedValue was accepted. Location header contains the URL where the status of the long running operation can be checked.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - NamedValue
      x-ms-examples:
        ApiManagementCreateNamedValue:
          parameters:
            api-version: 2019-12-01-preview
            namedValueId: testprop2
            parameters:
              properties:
                displayName: prop3name
                secret: false
                tags:
                  - foo
                  - bar
                value: propValue
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/namedValues/testprop2
                name: testprop2
                properties:
                  displayName: prop3name
                  secret: false
                  tags:
                    - foo
                    - bar
                  value: propValue
                type: Microsoft.ApiManagement/service/namedValues
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/namedValues/testprop2
                name: testprop2
                properties:
                  displayName: prop3name
                  secret: false
                  tags:
                    - foo
                    - bar
                  value: propValue
                type: Microsoft.ApiManagement/service/namedValues
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/namedValues/testprop2?api-version=2019-12-01-preview&asyncId=5c730e343244df1b9cb56e85&asyncCode=201
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/namedValues/{namedValueId}/listValue":
    post:
      description: Gets the secret value of the NamedValue.
      operationId: NamedValue_ListValue
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Identifier of the NamedValue.
          in: path
          maxLength: 256
          name: namedValueId
          pattern: ^[^*#&+:<>?]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: The response body contains secret value.
          schema:
            description: Client or app secret used in IdentityProviders, Aad, OpenID or OAuth.
            properties:
              value:
                description: This is secret value of the NamedValue entity.
                type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - NamedValue
      x-ms-examples:
        ApiManagementListSecretsSubscription:
          parameters:
            api-version: 2019-12-01-preview
            namedValueId: testarmTemplateproperties2
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                value: propValue
definitions: {}
