swagger: "2.0"
schemes:
  - https
host: echodata.epa.gov
basePath: /echo
info:
  contact:
    name: U.S. EPA, OECA Integration, Targeting and Access Branch
    url: https://echo.epa.gov/resources/general-info/contact-us
  description: "Enforcement and Compliance History Online (ECHO) is a tool developed and maintained by EPA's Office of Enforcement and Compliance Assurance for public use. ECHO provides integrated compliance and enforcement information for over 1 million regulated facilities nationwide.

    \   SDW Rest Services provides multiple service endpoints, each with specific capabilities, to search and retrieve data on public water systems regulated under the Safe Drinking Water Act (SDWA).  The returned results reflect data drawn from EPA's Federal Safe Drinking Water Information System (SDWIS) database.

    \\

    The get_systems, get_qid, and get_download end points are meant to be used together.

    \\

    The recommended use scenario for get_systems, get_qid, and get_downoad is:

    \\

    \ <b>1)</b>  Use get_systems to validate passed query parameters, obtain summary statistics and to obtain a query_id (QID).  QIDs are time sensitive and will be valid for approximately 30 minutes.

    \ <b>2)</b>  Use get_qid, with the returned QID, to paginate through arrays of water system results.

    \ <b>3)</b>  Use get_download, with the returned QID, to generate a Comma Separated Value (CSV) file of water system information that meets the QID query criteria.

    \\

    \\

    Use the qcolumns parameter to customize your search results.  Use the Metadata service endpoint for a list of available output objects, their Column Ids, and their definitions to help you build your customized output.\ 

    \\

    Additional ECHO Resources:   <a href=\"https://echo.epa.gov/tools/web-services\">Web Services</a>, <a href=\"https://echo.epa.gov/resources/echo-data/about-the-data\">About ECHO's Data</a>, <a href=\"https://echo.epa.gov/tools/data-downloads\">Data Downloads</a>

    \ "
  license:
    name: U.S. Public Domain License
    url: https://edg.epa.gov/EPA_Data_License.html
  title: U.S. EPA Enforcement and Compliance History Online (ECHO) - Safe Drinking Water Act
  version: 2019.10.15
  x-apisguru-categories:
    - open_data
  x-logo:
    backgroundColor: "#FFFFFF"
    url: https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_632233890594299904_DgRDU6dx_400x400.png
  x-origin:
    - format: swagger
      url: https://ofmpub.epa.gov/echo/swaggerx.swagger_json?p_prefix=SDW
      version: "2.0"
  x-providerName: epa.gov
  x-serviceName: sdw
consumes:
  - application/x-www-form-urlencoded
produces:
  - application/json
  - application/xml
parameters:
  f.callback:
    description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.
    in: formData
    name: callback
    required: false
    type: string
  f.descending:
    description: Output Sort Column Descending Flag.  Enter Y to column identified in the newsort parameter descending.  Enter N to use ascending sort order. Used only when newsort parameter is populated.
    enum:
      - Y
      - N
    in: formData
    name: descending
    required: false
    type: string
  f.newsort:
    description: Output Sort Column.  Enter the number of the column on which the data will be sorted. If unpopulated results will sort on the first column.
    in: formData
    name: newsort
    required: false
    type: number
  f.p_act:
    description: Active Permits/Facilities Flag.  Provide Y or N to filter results to facilities with active permits.
    enum:
      - Y
      - N
      - A
    in: formData
    name: p_act
    required: false
    type: string
  f.p_cms_flag:
    in: formData
    name: p_cms_flag
    required: false
    type: string
  f.p_cntysv:
    in: formData
    name: p_cntysv
    required: false
    type: string
  f.p_co:
    description: Facility County Filter. Provide a single county name in combination with a state value provided via p_st.
    in: formData
    name: p_co
    required: false
    type: string
  f.p_cs:
    description: |-
      Current violations:
      - M = Monitoring and Reporting Violations
      - H = Health-based Violations
      - O = Other Violations
      - P = Public Notice Violations
      - S = Serious Violator
      - N = No Violations
      May contain multiple comma-separated values.
    in: formData
    name: p_cs
    required: false
    type: string
  f.p_ct:
    description: Facility City Filter. Enter a single case-insensitive city name to filter results.
    in: formData
    name: p_ct
    required: false
    type: string
  f.p_cuale:
    description: Copper Action Level Exceedance.  A "Y" value will select water systems with at least 1 Copper Action Level Exceedance.
    in: formData
    name: p_cuale
    required: false
    type: string
  f.p_cuv:
    description: Copper Violation.  A "Y" value will select water systems with at least 1 Copper Violation.
    in: formData
    name: p_cuv
    required: false
    type: string
  f.p_fea:
    description: |-
      Formal Enforcement Actions [within / not within] specified date range indicator. The date range is determined by parameters p_fead1 and p_fead2 or by parameter p_feay.
      - W = within date range
      - N = not within date range
    enum:
      - W
      - N
    in: formData
    name: p_fea
    required: false
    type: string
  f.p_feaa:
    description: |-
      Agency associated with Formal Enforcement Actions:
      - E = EPA
      - S = State
      - A = All
    enum:
      - A
      - E
      - S
    in: formData
    name: p_feaa
    required: false
    type: string
  f.p_feay:
    description: Years (1 to 5) Range.  This value is used to create a date range for Formal Enforcement Actions (FEA). Used along with p_fea (which indicates whether to look within or outside of the date range) to find FEAs within (or not within) the number of years specified.
    enum:
      - 1
      - 2
      - 3
      - 4
      - 5
    in: formData
    name: p_feay
    required: false
    type: number
  f.p_fips:
    description: FIPS Code Filter.  Enter a single 5-character Federal Information Processing Standards (FIPS) state + county value to restrict results.  E.g. to limit results to Kenosha County, Wisconsin, use 55059.
    in: formData
    name: p_fips
    required: false
    type: string
  f.p_fn:
    description: Facility Name Filter. Enter one or more case-insensitive facility names to filter results.  Provide multiple values as a comma-delimited list.  See p_fntype for additional modifiers.
    in: formData
    name: p_fn
    required: false
    type: string
  f.p_health:
    description: Violations of health-based drinking water standards (maximum contaminant levels, maximum residual disinfectant levels, or treatment technique rules).
    enum:
      - Y
      - N
    in: formData
    name: p_health
    required: false
    type: string
  f.p_ico:
    description: Indian Country Flag.  Enter a "Y" or "N" to restrict searches to facilities inside or outside Indian Country.
    enum:
      - Y
      - N
    in: formData
    name: p_ico
    required: false
    type: string
  f.p_idt1:
    description: Beginning of date range of most recent facility inspection.
    in: formData
    name: p_idt1
    required: false
    type: string
  f.p_idt2:
    description: End of date range of most recent facility inspection.
    in: formData
    name: p_idt2
    required: false
    type: string
  f.p_iea:
    description: |-
      Informal Enforcement Actions [within / not within] specified date range.  The date range is determined by parameters p_iead1 and p_iead2 or by parameter p_ieay.
      - W = within date range
      - N = not within date range
    enum:
      - W
      - N
    in: formData
    name: p_iea
    required: false
    type: string
  f.p_ieaa:
    description: |-
      Agency associated with Informal Enforcement Actions. If left blank, both agencies are included.
      - E = EPA
      - S = State
    enum:
      - E
      - S
    in: formData
    name: p_ieaa
    required: false
    type: string
  f.p_ieay:
    description: Years (1 to 5) Range.  This value is used to create a date range for Informal Enforcement Actions (IEA). Used along with p_iea (which indicates whether to look within or outside of the date range) to find IEAs within (or not within) the number of years specified.
    enum:
      - 1
      - 2
      - 3
      - 4
      - 5
    in: formData
    name: p_ieay
    required: false
    type: number
  f.p_lcrv:
    description: Lead or Copper rule violations.  A "Y" value will select water systems with at least 1 Lead or Copper Rule Violation.
    in: formData
    name: p_lcrv
    required: false
    type: string
  f.p_mr:
    description: Monitoring and Reporting Violations (failure to conduct regular monitoring of drinking water quality or submit monitoring results in a timely fashion).
    enum:
      - Y
      - N
    in: formData
    name: p_mr
    required: false
    type: string
  f.p_other:
    description: Other violations, such as failing to issue annual consumer confidence reports or maintain required records.
    enum:
      - Y
      - N
    in: formData
    name: p_other
    required: false
    type: string
  f.p_owop:
    description: |-
      Owner/Operator code filter.  Enter one of the following codes to filter results:
      - F = Federal Government
      - S = State Government
      - L = Local Government
      - M = Public/Private
      - N = Native American
      - P = Private
    enum:
      - F
      - S
      - L
      - M
      - N
      - P
    in: formData
    name: p_owop
    required: false
    type: string
  f.p_pbale:
    description: Lead Action Level Exceedance.  A "Y" value will select water systems with at least 1 Lead Action Level Exceedance.
    in: formData
    name: p_pbale
    required: false
    type: string
  f.p_pbv:
    description: Lead Violations.  A "Y" value will select water systems with at least 1 Lead Violation.
    in: formData
    name: p_pbv
    required: false
    type: string
  f.p_pfead1:
    description: Formal Enforcement Action Date Range Start.  Enter a date in MM/DD/YYYY format to set the start of the range for filtering by recent Formal Enforcement Action (FEA) taken against the facility within the last five years.
    in: formData
    name: p_pfead1
    required: false
    type: string
  f.p_pfead2:
    description: Formal Enforcement Action Date Range End.  Enter a date in MM/DD/YYYY format to set the end of the date range for filtering by recent Formal Enforcement Action (FEA) taken against the facility within the last five years.
    in: formData
    name: p_pfead2
    required: false
    type: string
  f.p_pfeat:
    description: Formal Enforcement Action (FEA) Code Filter.  Enter one or more three-letter FEA codes to restrict results to facilities with these attributes.  Use p_fead1 and p_fead2 parameters to further restrict this filter by entering a date range.  Provide multiple codes as a comma-delimited list.
    in: formData
    name: p_pfeat
    required: false
    type: string
  f.p_pid:
    description: Nine-digit permit IDs. May contain up to 2000 comma-separated values.
    in: formData
    name: p_pid
    required: false
    type: string
  f.p_pn:
    description: Public Notice Violations (failure to immediately alert consumers of serious problem with drinking water).
    enum:
      - Y
      - N
    in: formData
    name: p_pn
    required: false
    type: string
  f.p_popsv:
    description: |-
      Estimated average daily population served by a system:
      - LE500 = 500 or less
      - IN501_3K = 501-3,300
      - IN3K_10K = 3,301-10,000
      - IN10K_100K = 10,001-100,000
      - IN100K_1M = 100,001-1,000,000
      - GT1M = More than 1,000,000
      May contain multiple comma-separated values.
    in: formData
    name: p_popsv
    required: false
    type: string
  f.p_pswpol:
    description: For CWA, pollutant names for surface water discharges. for Drinking Water, SDWIS Violation contaminant codes for unaddressed violations that have occurred in the last 3 years. May contain multiple comma-separated values.
    in: formData
    name: p_pswpol
    required: false
    type: string
  f.p_pswvio:
    description: Used in conjuction with parameters p_pswpol and p_pswparam, indicates whether search should only include pollutants with violations.
    enum:
      - Y
      - N
    in: formData
    name: p_pswvio
    required: false
    type: string
  f.p_qis:
    description: |-
      Significant Quarters in Noncompliance Limiter.  Enter one of the following codes to limit results to facilities having given quarters of noncompliance.
      - Z = Zero quarters in noncompliance.
      - GE1 = One or more quarters in noncompliance.
      - GT1 = More than one quarters in noncompliance.
      - GE2 = Two or more quarters in noncompliance.
      - GT2 = More than two quarters in noncompliance.
      - GE4 = Four or more quarters in noncompliance.
      - GT4 = More than four quarters in noncompliance.
      - GE8 = Eight or more quarters in noncompliance.
      - GT8 = More than eight quarters in noncompliance.
      - GE12 = Twelve or more quarters in noncompliance.
      - GT12 = Twelve or more quarters in noncompliance.
      - 12 = Exactly twelve quarters in noncompliance.
      Note the seemingly incongruous of GT12 is deliberate.
    enum:
      - Z
      - GE1
      - GT1
      - GE2
      - GT2
      - GE4
      - GT4
      - GE8
      - GT8
      - GE12
      - GT12
      - "12"
    in: formData
    name: p_qis
    required: false
    type: string
  f.p_qiv:
    description: |-
      Quarters in Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of noncompliance.
      - Z = Zero quarters in noncompliance.
      - GEXX = Replacing XX with a numeric value, that number of quarterd or more in noncompliance.
      - GTXX = Replacing XX with a numeric value, more than that number of quarters in noncompliance.
    enum:
      - "0"
      - GT1
      - GT2
      - GT4
      - GT8
      - "12"
    in: formData
    name: p_qiv
    required: false
    type: string
  f.p_qs:
    description: Quick Search. Allows entry for city, state, and/or zip code.
    in: formData
    name: p_qs
    required: false
    type: string
  f.p_rc350v:
    description: Rule code 350 violation. A "Y" value will select water systems with at least one rule code 350 violation.
    in: formData
    name: p_rc350v
    required: false
    type: string
  f.p_reg:
    description: EPA Region Filter. Provide a single value of 01 thru 10 to restrict results to a single EPA region.
    enum:
      - "01"
      - "02"
      - "03"
      - "04"
      - "05"
      - "06"
      - "07"
      - "08"
      - "09"
      - "10"
    in: formData
    name: p_reg
    required: false
    type: string
  f.p_sdc:
    description: |-
      Significant Deficiency Count (in past 5 years) flag.  

      Enter "Y" to select facilities with Sanitary Surveys within the past 5 years.  

      Enter "N" to select facilities without Sanitary Surveys in the past 5 years.

      Enter a number to search for facilities with a quantity greater than or equal to that value.
    in: formData
    name: p_sdc
    required: false
    type: string
  f.p_sdc_ils:
    in: formData
    name: p_sdc_ils
    required: false
    type: string
  f.p_sfs:
    description: Single Facility Search Filter.  Provide a facility name or program system identifier to limit results.  For the all data search, the FRS registry identifier is also searched.
    in: formData
    name: p_sfs
    required: false
    type: string
  f.p_ss5yr:
    description: |+
      Sanitary Surveys (in past 5 years) flag.  Values of visit_reason_code are either "SNSV" or "SNSP" in the past 5 years indicate a Sanitary Survey.  

      Enter "Y" to select facilities with Sanitary Surveys within the past 5 years.  

      Enter "N" to select facilities without Sanitary Surveys in the past 5 years.

      Enter a number to search for greater for facilities with a quantity than or equal to that value.


    in: formData
    name: p_ss5yr
    required: false
    type: string
  f.p_st:
    description: Facility State and State-Equivalent Filter.  Provide one or more USPS postal abbreviations for states and state-equivalents to filter results.  Provide multiple values as a comma-delimited list.
    in: formData
    name: p_st
    required: false
    type: string
  f.p_sv:
    description: Serious Violator (unresolved serious, multiple, and/or continuing violations). A value of Y will return only SDWIS systems that are Serious Violators, while a value of N will only return SDWIS Systems that are not Serious Violators.
    enum:
      - Y
      - N
    in: formData
    name: p_sv
    required: false
    type: string
  f.p_swtyp:
    description: |-
      Source Water Type:
      - SW = Surface water 
      - GW= Ground water
      - GU = Ground water under direct influence of (UDI) surface water
      - SWP = Purchased Surface water
      - GWP = Purchased Ground water
      - GUP = Purchased Ground water UDI surface water
    enum:
      - SW
      - GW
      - GU
      - SWP
      - GWP
      - GUP
    in: formData
    name: p_swtyp
    required: false
    type: string
  f.p_systyp:
    description: |-
      Type of public water system:
      - CWS=Community water system
      - NCWS=Non-community water system
      - NTCWS=Non-transient non-community water system
      - TNCWS=Transient non-community water system
    enum:
      - CWS
      - NCWS
      - NTCWS
      - TNCWS
    in: formData
    name: p_systyp
    required: false
    type: string
  f.p_trb:
    description: Tribe name
    in: formData
    name: p_trb
    required: false
    type: string
  f.p_ysl:
    description: |-
      Last Facility Inspection [within / not within] Specified Date Range Indicator. The date range is determined by parameters p_idt1 and p_idt2 or by parameter p_ysly.
      - W = within date range
      - N = not within date range
    enum:
      - W
      - N
      - NV
    in: formData
    name: p_ysl
    required: false
    type: string
  f.p_ysla:
    description: |-
      Facility Last Inspection Code Filter.  If left blank, both agencies are included.  Enter a value to limit results:
      - E = EPA
      - S = State
    enum:
      - E
      - S
      - A
    in: formData
    name: p_ysla
    required: false
    type: string
  f.p_ysly:
    description: Number of years (1 to 5) since last facility inspection.  A value of 1 means that it has been inspected within the year.
    enum:
      - "1"
      - "2"
      - "3"
      - "4"
      - "5"
    in: formData
    name: p_ysly
    required: false
    type: string
  f.p_zip:
    description: 5-Digit ZIP Code Filter. Provide one or more 5-digit postal zip codes to filter results.  May contain multiple comma-separated values.
    in: formData
    name: p_zip
    required: false
    type: string
  f.pageno:
    default: 1
    description: Indicates the number of the page to display. It is used only when the results are paginated.
    in: formData
    name: pageno
    required: false
    type: number
  f.qcolumns:
    description: Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions.
    in: formData
    name: qcolumns
    required: false
    type: string
  f.qid:
    description: Query ID Selector.  Enter the QueryID number from a previously run query.
    in: formData
    name: qid
    required: true
    type: string
  f.queryset:
    description: Query Limiter.  Enter a value to limit the number of records returned for each query. Value cannot exceed 70,000.
    in: formData
    name: queryset
    required: false
    type: number
  f.responseset:
    description: Response Set Limiter. Enter a value to limit the number of records per page. Value cannot exceed 1,000.
    in: formData
    name: responseset
    required: false
    type: number
  q.callback:
    description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.
    in: query
    name: callback
    required: false
    type: string
  q.descending:
    description: Output Sort Column Descending Flag.  Enter Y to column identified in the newsort parameter descending.  Enter N to use ascending sort order. Used only when newsort parameter is populated.
    enum:
      - Y
      - N
    in: query
    name: descending
    required: false
    type: string
  q.newsort:
    description: Output Sort Column.  Enter the number of the column on which the data will be sorted. If unpopulated results will sort on the first column.
    in: query
    name: newsort
    required: false
    type: number
  q.p_act:
    description: Active Permits/Facilities Flag.  Provide Y or N to filter results to facilities with active permits.
    enum:
      - Y
      - N
      - A
    in: query
    name: p_act
    required: false
    type: string
  q.p_cms_flag:
    in: query
    name: p_cms_flag
    required: false
    type: string
  q.p_cntysv:
    in: query
    name: p_cntysv
    required: false
    type: string
  q.p_co:
    description: Facility County Filter. Provide a single county name in combination with a state value provided via p_st.
    in: query
    name: p_co
    required: false
    type: string
  q.p_cs:
    description: |-
      Current violations:
      - M = Monitoring and Reporting Violations
      - H = Health-based Violations
      - O = Other Violations
      - P = Public Notice Violations
      - S = Serious Violator
      - N = No Violations
      May contain multiple comma-separated values.
    in: query
    name: p_cs
    required: false
    type: string
  q.p_ct:
    description: Facility City Filter. Enter a single case-insensitive city name to filter results.
    in: query
    name: p_ct
    required: false
    type: string
  q.p_cuale:
    description: Copper Action Level Exceedance.  A "Y" value will select water systems with at least 1 Copper Action Level Exceedance.
    in: query
    name: p_cuale
    required: false
    type: string
  q.p_cuv:
    description: Copper Violation.  A "Y" value will select water systems with at least 1 Copper Violation.
    in: query
    name: p_cuv
    required: false
    type: string
  q.p_fea:
    description: |-
      Formal Enforcement Actions [within / not within] specified date range indicator. The date range is determined by parameters p_fead1 and p_fead2 or by parameter p_feay.
      - W = within date range
      - N = not within date range
    enum:
      - W
      - N
    in: query
    name: p_fea
    required: false
    type: string
  q.p_feaa:
    description: |-
      Agency associated with Formal Enforcement Actions:
      - E = EPA
      - S = State
      - A = All
    enum:
      - A
      - E
      - S
    in: query
    name: p_feaa
    required: false
    type: string
  q.p_feay:
    description: Years (1 to 5) Range.  This value is used to create a date range for Formal Enforcement Actions (FEA). Used along with p_fea (which indicates whether to look within or outside of the date range) to find FEAs within (or not within) the number of years specified.
    enum:
      - 1
      - 2
      - 3
      - 4
      - 5
    in: query
    name: p_feay
    required: false
    type: number
  q.p_fips:
    description: FIPS Code Filter.  Enter a single 5-character Federal Information Processing Standards (FIPS) state + county value to restrict results.  E.g. to limit results to Kenosha County, Wisconsin, use 55059.
    in: query
    name: p_fips
    required: false
    type: string
  q.p_fn:
    description: Facility Name Filter. Enter one or more case-insensitive facility names to filter results.  Provide multiple values as a comma-delimited list.  See p_fntype for additional modifiers.
    in: query
    name: p_fn
    required: false
    type: string
  q.p_health:
    description: Violations of health-based drinking water standards (maximum contaminant levels, maximum residual disinfectant levels, or treatment technique rules).
    enum:
      - Y
      - N
    in: query
    name: p_health
    required: false
    type: string
  q.p_ico:
    description: Indian Country Flag.  Enter a "Y" or "N" to restrict searches to facilities inside or outside Indian Country.
    enum:
      - Y
      - N
    in: query
    name: p_ico
    required: false
    type: string
  q.p_idt1:
    description: Beginning of date range of most recent facility inspection.
    in: query
    name: p_idt1
    required: false
    type: string
  q.p_idt2:
    description: End of date range of most recent facility inspection.
    in: query
    name: p_idt2
    required: false
    type: string
  q.p_iea:
    description: |-
      Informal Enforcement Actions [within / not within] specified date range.  The date range is determined by parameters p_iead1 and p_iead2 or by parameter p_ieay.
      - W = within date range
      - N = not within date range
    enum:
      - W
      - N
    in: query
    name: p_iea
    required: false
    type: string
  q.p_ieaa:
    description: |-
      Agency associated with Informal Enforcement Actions. If left blank, both agencies are included.
      - E = EPA
      - S = State
    enum:
      - E
      - S
    in: query
    name: p_ieaa
    required: false
    type: string
  q.p_ieay:
    description: Years (1 to 5) Range.  This value is used to create a date range for Informal Enforcement Actions (IEA). Used along with p_iea (which indicates whether to look within or outside of the date range) to find IEAs within (or not within) the number of years specified.
    enum:
      - 1
      - 2
      - 3
      - 4
      - 5
    in: query
    name: p_ieay
    required: false
    type: number
  q.p_lcrv:
    description: Lead or Copper rule violations.  A "Y" value will select water systems with at least 1 Lead or Copper Rule Violation.
    in: query
    name: p_lcrv
    required: false
    type: string
  q.p_mr:
    description: Monitoring and Reporting Violations (failure to conduct regular monitoring of drinking water quality or submit monitoring results in a timely fashion).
    enum:
      - Y
      - N
    in: query
    name: p_mr
    required: false
    type: string
  q.p_other:
    description: Other violations, such as failing to issue annual consumer confidence reports or maintain required records.
    enum:
      - Y
      - N
    in: query
    name: p_other
    required: false
    type: string
  q.p_owop:
    description: |-
      Owner/Operator code filter.  Enter one of the following codes to filter results:
      - F = Federal Government
      - S = State Government
      - L = Local Government
      - M = Public/Private
      - N = Native American
      - P = Private
    enum:
      - F
      - S
      - L
      - M
      - N
      - P
    in: query
    name: p_owop
    required: false
    type: string
  q.p_pbale:
    description: Lead Action Level Exceedance.  A "Y" value will select water systems with at least 1 Lead Action Level Exceedance.
    in: query
    name: p_pbale
    required: false
    type: string
  q.p_pbv:
    description: Lead Violations.  A "Y" value will select water systems with at least 1 Lead Violation.
    in: query
    name: p_pbv
    required: false
    type: string
  q.p_pfead1:
    description: Formal Enforcement Action Date Range Start.  Enter a date in MM/DD/YYYY format to set the start of the range for filtering by recent Formal Enforcement Action (FEA) taken against the facility within the last five years.
    in: query
    name: p_pfead1
    required: false
    type: string
  q.p_pfead2:
    description: Formal Enforcement Action Date Range End.  Enter a date in MM/DD/YYYY format to set the end of the date range for filtering by recent Formal Enforcement Action (FEA) taken against the facility within the last five years.
    in: query
    name: p_pfead2
    required: false
    type: string
  q.p_pfeat:
    description: Formal Enforcement Action (FEA) Code Filter.  Enter one or more three-letter FEA codes to restrict results to facilities with these attributes.  Use p_fead1 and p_fead2 parameters to further restrict this filter by entering a date range.  Provide multiple codes as a comma-delimited list.
    in: query
    name: p_pfeat
    required: false
    type: string
  q.p_pid:
    description: Nine-digit permit IDs. May contain up to 2000 comma-separated values.
    in: query
    name: p_pid
    required: false
    type: string
  q.p_pn:
    description: Public Notice Violations (failure to immediately alert consumers of serious problem with drinking water).
    enum:
      - Y
      - N
    in: query
    name: p_pn
    required: false
    type: string
  q.p_popsv:
    description: |-
      Estimated average daily population served by a system:
      - LE500 = 500 or less
      - IN501_3K = 501-3,300
      - IN3K_10K = 3,301-10,000
      - IN10K_100K = 10,001-100,000
      - IN100K_1M = 100,001-1,000,000
      - GT1M = More than 1,000,000
      May contain multiple comma-separated values.
    in: query
    name: p_popsv
    required: false
    type: string
  q.p_pswpol:
    description: For CWA, pollutant names for surface water discharges. for Drinking Water, SDWIS Violation contaminant codes for unaddressed violations that have occurred in the last 3 years. May contain multiple comma-separated values.
    in: query
    name: p_pswpol
    required: false
    type: string
  q.p_pswvio:
    description: Used in conjuction with parameters p_pswpol and p_pswparam, indicates whether search should only include pollutants with violations.
    enum:
      - Y
      - N
    in: query
    name: p_pswvio
    required: false
    type: string
  q.p_qis:
    description: |-
      Significant Quarters in Noncompliance Limiter.  Enter one of the following codes to limit results to facilities having given quarters of noncompliance.
      - Z = Zero quarters in noncompliance.
      - GE1 = One or more quarters in noncompliance.
      - GT1 = More than one quarters in noncompliance.
      - GE2 = Two or more quarters in noncompliance.
      - GT2 = More than two quarters in noncompliance.
      - GE4 = Four or more quarters in noncompliance.
      - GT4 = More than four quarters in noncompliance.
      - GE8 = Eight or more quarters in noncompliance.
      - GT8 = More than eight quarters in noncompliance.
      - GE12 = Twelve or more quarters in noncompliance.
      - GT12 = Twelve or more quarters in noncompliance.
      - 12 = Exactly twelve quarters in noncompliance.
      Note the seemingly incongruous of GT12 is deliberate.
    enum:
      - Z
      - GE1
      - GT1
      - GE2
      - GT2
      - GE4
      - GT4
      - GE8
      - GT8
      - GE12
      - GT12
      - "12"
    in: query
    name: p_qis
    required: false
    type: string
  q.p_qiv:
    description: |-
      Quarters in Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of noncompliance.
      - Z = Zero quarters in noncompliance.
      - GEXX = Replacing XX with a numeric value, that number of quarterd or more in noncompliance.
      - GTXX = Replacing XX with a numeric value, more than that number of quarters in noncompliance.
    enum:
      - "0"
      - GT1
      - GT2
      - GT4
      - GT8
      - "12"
    in: query
    name: p_qiv
    required: false
    type: string
  q.p_qs:
    description: Quick Search. Allows entry for city, state, and/or zip code.
    in: query
    name: p_qs
    required: false
    type: string
  q.p_rc350v:
    description: Rule code 350 violation. A "Y" value will select water systems with at least one rule code 350 violation.
    in: query
    name: p_rc350v
    required: false
    type: string
  q.p_reg:
    description: EPA Region Filter. Provide a single value of 01 thru 10 to restrict results to a single EPA region.
    enum:
      - "01"
      - "02"
      - "03"
      - "04"
      - "05"
      - "06"
      - "07"
      - "08"
      - "09"
      - "10"
    in: query
    name: p_reg
    required: false
    type: string
  q.p_sdc:
    description: |-
      Significant Deficiency Count (in past 5 years) flag.  

      Enter "Y" to select facilities with Sanitary Surveys within the past 5 years.  

      Enter "N" to select facilities without Sanitary Surveys in the past 5 years.

      Enter a number to search for facilities with a quantity greater than or equal to that value.
    in: query
    name: p_sdc
    required: false
    type: string
  q.p_sdc_ils:
    in: query
    name: p_sdc_ils
    required: false
    type: string
  q.p_sfs:
    description: Single Facility Search Filter.  Provide a facility name or program system identifier to limit results.  For the all data search, the FRS registry identifier is also searched.
    in: query
    name: p_sfs
    required: false
    type: string
  q.p_ss5yr:
    description: |+
      Sanitary Surveys (in past 5 years) flag.  Values of visit_reason_code are either "SNSV" or "SNSP" in the past 5 years indicate a Sanitary Survey.  

      Enter "Y" to select facilities with Sanitary Surveys within the past 5 years.  

      Enter "N" to select facilities without Sanitary Surveys in the past 5 years.

      Enter a number to search for greater for facilities with a quantity than or equal to that value.


    in: query
    name: p_ss5yr
    required: false
    type: string
  q.p_st:
    description: Facility State and State-Equivalent Filter.  Provide one or more USPS postal abbreviations for states and state-equivalents to filter results.  Provide multiple values as a comma-delimited list.
    in: query
    name: p_st
    required: false
    type: string
  q.p_sv:
    description: Serious Violator (unresolved serious, multiple, and/or continuing violations). A value of Y will return only SDWIS systems that are Serious Violators, while a value of N will only return SDWIS Systems that are not Serious Violators.
    enum:
      - Y
      - N
    in: query
    name: p_sv
    required: false
    type: string
  q.p_swtyp:
    description: |-
      Source Water Type:
      - SW = Surface water 
      - GW= Ground water
      - GU = Ground water under direct influence of (UDI) surface water
      - SWP = Purchased Surface water
      - GWP = Purchased Ground water
      - GUP = Purchased Ground water UDI surface water
    enum:
      - SW
      - GW
      - GU
      - SWP
      - GWP
      - GUP
    in: query
    name: p_swtyp
    required: false
    type: string
  q.p_systyp:
    description: |-
      Type of public water system:
      - CWS=Community water system
      - NCWS=Non-community water system
      - NTCWS=Non-transient non-community water system
      - TNCWS=Transient non-community water system
    enum:
      - CWS
      - NCWS
      - NTCWS
      - TNCWS
    in: query
    name: p_systyp
    required: false
    type: string
  q.p_trb:
    description: Tribe name
    in: query
    name: p_trb
    required: false
    type: string
  q.p_ysl:
    description: |-
      Last Facility Inspection [within / not within] Specified Date Range Indicator. The date range is determined by parameters p_idt1 and p_idt2 or by parameter p_ysly.
      - W = within date range
      - N = not within date range
    enum:
      - W
      - N
      - NV
    in: query
    name: p_ysl
    required: false
    type: string
  q.p_ysla:
    description: |-
      Facility Last Inspection Code Filter.  If left blank, both agencies are included.  Enter a value to limit results:
      - E = EPA
      - S = State
    enum:
      - E
      - S
      - A
    in: query
    name: p_ysla
    required: false
    type: string
  q.p_ysly:
    description: Number of years (1 to 5) since last facility inspection.  A value of 1 means that it has been inspected within the year.
    enum:
      - "1"
      - "2"
      - "3"
      - "4"
      - "5"
    in: query
    name: p_ysly
    required: false
    type: string
  q.p_zip:
    description: 5-Digit ZIP Code Filter. Provide one or more 5-digit postal zip codes to filter results.  May contain multiple comma-separated values.
    in: query
    name: p_zip
    required: false
    type: string
  q.pageno:
    default: 1
    description: Indicates the number of the page to display. It is used only when the results are paginated.
    in: query
    name: pageno
    required: false
    type: number
  q.qcolumns:
    description: Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions.
    in: query
    name: qcolumns
    required: false
    type: string
  q.qid:
    description: Query ID Selector.  Enter the QueryID number from a previously run query.
    in: query
    name: qid
    required: true
    type: string
  q.queryset:
    description: Query Limiter.  Enter a value to limit the number of records returned for each query. Value cannot exceed 70,000.
    in: query
    name: queryset
    required: false
    type: number
  q.responseset:
    description: Response Set Limiter. Enter a value to limit the number of records per page. Value cannot exceed 1,000.
    in: query
    name: responseset
    required: false
    type: number
paths:
  /sdw_rest_services.get_download:
    get:
      description: Based on the QID obtained from a get_systems query, return a comma separated value (CSV) file of the water systems found.
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - CSV = Facility results formatted as comma delimited file download (default).
          in: query
          name: output
          required: false
          type: string
        - $ref: "#/parameters/q.qid"
        - $ref: "#/parameters/q.qcolumns"
      responses:
        "200":
          description: Results are a comma separated value (CSV) file.
          schema:
            type: file
      summary: Safe Drinking Water Act (SDWA) Download Data Service
      tags:
        - Safe Drinking Water
    post:
      description: Based on the QID obtained from a get_systems query, return a comma separated value (CSV) file of the water systems found.
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - CSV = Facility results formatted as comma delimited file download (default).
          in: formData
          name: output
          required: false
          type: string
        - $ref: "#/parameters/f.qid"
        - $ref: "#/parameters/f.qcolumns"
      responses:
        "200":
          description: Results are a comma separated value (CSV) file.
          schema:
            type: file
      summary: Safe Drinking Water Act (SDWA) Download Data Service
      tags:
        - Safe Drinking Water
  /sdw_rest_services.get_qid:
    get:
      description: "GET_QID is passed with a query ID corresponding to a previously run get_systems query. It then returns a Systems object containing all matching water systems. The main purpose of GET_QID is for large querysets that contain multiple pages (responsesets) of output. GET_QID allows for pagination and for the selection and sorting of columns. "
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: "#/parameters/q.qid"
        - $ref: "#/parameters/q.pageno"
        - $ref: "#/parameters/q.callback"
        - $ref: "#/parameters/q.newsort"
        - $ref: "#/parameters/q.descending"
        - $ref: "#/parameters/q.qcolumns"
      responses:
        "200":
          description: Results are an array (page)  of SDWA (SDWIS) Water Systems with the number of systems equal to the responseset (page size).
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/sdw02"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Safe Drinking Water Act (SDWA) Paginated Results Service
      tags:
        - Safe Drinking Water
    post:
      description: "GET_QID is passed with a query ID corresponding to a previously run get_systems query. It then returns a Systems object containing all matching water systems. The main purpose of GET_QID is for large querysets that contain multiple pages (responsesets) of output. GET_QID allows for pagination and for the selection and sorting of columns. "
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: formData
          name: output
          required: false
          type: string
        - $ref: "#/parameters/f.qid"
        - $ref: "#/parameters/f.pageno"
        - $ref: "#/parameters/f.callback"
        - $ref: "#/parameters/f.newsort"
        - $ref: "#/parameters/f.descending"
        - $ref: "#/parameters/f.qcolumns"
      responses:
        "200":
          description: Results are an array (page)  of SDWA (SDWIS) Water Systems with the number of systems equal to the responseset (page size).
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/sdw02"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Safe Drinking Water Act (SDWA) Paginated Results Service
      tags:
        - Safe Drinking Water
  /sdw_rest_services.get_systems:
    get:
      description: Returns an array of public water systems that meet the specified search criteria.
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: "#/parameters/q.p_fn"
        - $ref: "#/parameters/q.p_ct"
        - $ref: "#/parameters/q.p_co"
        - $ref: "#/parameters/q.p_fips"
        - $ref: "#/parameters/q.p_st"
        - $ref: "#/parameters/q.p_zip"
        - $ref: "#/parameters/q.p_reg"
        - $ref: "#/parameters/q.p_trb"
        - $ref: "#/parameters/q.p_act"
        - $ref: "#/parameters/q.p_qiv"
        - $ref: "#/parameters/q.p_ico"
        - $ref: "#/parameters/q.p_pid"
        - $ref: "#/parameters/q.p_owop"
        - $ref: "#/parameters/q.p_systyp"
        - $ref: "#/parameters/q.p_swtyp"
        - $ref: "#/parameters/q.p_popsv"
        - $ref: "#/parameters/q.p_cntysv"
        - $ref: "#/parameters/q.p_cs"
        - $ref: "#/parameters/q.p_mr"
        - $ref: "#/parameters/q.p_health"
        - $ref: "#/parameters/q.p_other"
        - $ref: "#/parameters/q.p_pn"
        - $ref: "#/parameters/q.p_sv"
        - $ref: "#/parameters/q.p_qs"
        - $ref: "#/parameters/q.p_sfs"
        - $ref: "#/parameters/q.p_pswpol"
        - $ref: "#/parameters/q.p_pswvio"
        - $ref: "#/parameters/q.p_pbale"
        - $ref: "#/parameters/q.p_cuale"
        - $ref: "#/parameters/q.p_rc350v"
        - $ref: "#/parameters/q.p_pbv"
        - $ref: "#/parameters/q.p_cuv"
        - $ref: "#/parameters/q.p_lcrv"
        - $ref: "#/parameters/q.p_fea"
        - $ref: "#/parameters/q.p_feay"
        - $ref: "#/parameters/q.p_feaa"
        - $ref: "#/parameters/q.p_iea"
        - $ref: "#/parameters/q.p_ieay"
        - $ref: "#/parameters/q.p_ieaa"
        - $ref: "#/parameters/q.p_qis"
        - $ref: "#/parameters/q.p_pfead1"
        - $ref: "#/parameters/q.p_pfead2"
        - $ref: "#/parameters/q.p_pfeat"
        - $ref: "#/parameters/q.p_ss5yr"
        - $ref: "#/parameters/q.p_sdc"
        - $ref: "#/parameters/q.p_sdc_ils"
        - $ref: "#/parameters/q.p_ysl"
        - $ref: "#/parameters/q.p_ysly"
        - $ref: "#/parameters/q.p_ysla"
        - $ref: "#/parameters/q.p_idt1"
        - $ref: "#/parameters/q.p_idt2"
        - $ref: "#/parameters/q.p_cms_flag"
        - $ref: "#/parameters/q.queryset"
        - $ref: "#/parameters/q.responseset"
        - $ref: "#/parameters/q.callback"
        - $ref: "#/parameters/q.qcolumns"
      responses:
        "200":
          description: Returns an array of public water systems that meet the specified search criteria.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/sdw03"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Safe Drinking Water Act (SDWA) Systems Search Service
      tags:
        - Safe Drinking Water
    post:
      description: Returns an array of public water systems that meet the specified search criteria.
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: formData
          name: output
          required: false
          type: string
        - $ref: "#/parameters/f.p_fn"
        - $ref: "#/parameters/f.p_ct"
        - $ref: "#/parameters/f.p_co"
        - $ref: "#/parameters/f.p_fips"
        - $ref: "#/parameters/f.p_st"
        - $ref: "#/parameters/f.p_zip"
        - $ref: "#/parameters/f.p_reg"
        - $ref: "#/parameters/f.p_trb"
        - $ref: "#/parameters/f.p_act"
        - $ref: "#/parameters/f.p_qiv"
        - $ref: "#/parameters/f.p_ico"
        - $ref: "#/parameters/f.p_pid"
        - $ref: "#/parameters/f.p_owop"
        - $ref: "#/parameters/f.p_systyp"
        - $ref: "#/parameters/f.p_swtyp"
        - $ref: "#/parameters/f.p_popsv"
        - $ref: "#/parameters/f.p_cntysv"
        - $ref: "#/parameters/f.p_cs"
        - $ref: "#/parameters/f.p_mr"
        - $ref: "#/parameters/f.p_health"
        - $ref: "#/parameters/f.p_other"
        - $ref: "#/parameters/f.p_pn"
        - $ref: "#/parameters/f.p_sv"
        - $ref: "#/parameters/f.p_qs"
        - $ref: "#/parameters/f.p_sfs"
        - $ref: "#/parameters/f.p_pswpol"
        - $ref: "#/parameters/f.p_pswvio"
        - $ref: "#/parameters/f.p_pbale"
        - $ref: "#/parameters/f.p_cuale"
        - $ref: "#/parameters/f.p_rc350v"
        - $ref: "#/parameters/f.p_pbv"
        - $ref: "#/parameters/f.p_cuv"
        - $ref: "#/parameters/f.p_lcrv"
        - $ref: "#/parameters/f.p_fea"
        - $ref: "#/parameters/f.p_feay"
        - $ref: "#/parameters/f.p_feaa"
        - $ref: "#/parameters/f.p_iea"
        - $ref: "#/parameters/f.p_ieay"
        - $ref: "#/parameters/f.p_ieaa"
        - $ref: "#/parameters/f.p_qis"
        - $ref: "#/parameters/f.p_pfead1"
        - $ref: "#/parameters/f.p_pfead2"
        - $ref: "#/parameters/f.p_pfeat"
        - $ref: "#/parameters/f.p_ss5yr"
        - $ref: "#/parameters/f.p_sdc"
        - $ref: "#/parameters/f.p_sdc_ils"
        - $ref: "#/parameters/f.p_ysl"
        - $ref: "#/parameters/f.p_ysly"
        - $ref: "#/parameters/f.p_ysla"
        - $ref: "#/parameters/f.p_idt1"
        - $ref: "#/parameters/f.p_idt2"
        - $ref: "#/parameters/f.p_cms_flag"
        - $ref: "#/parameters/f.queryset"
        - $ref: "#/parameters/f.responseset"
        - $ref: "#/parameters/f.callback"
        - $ref: "#/parameters/f.qcolumns"
      responses:
        "200":
          description: Returns an array of public water systems that meet the specified search criteria.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/sdw03"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Safe Drinking Water Act (SDWA) Systems Search Service
      tags:
        - Safe Drinking Water
  /sdw_rest_services.metadata:
    get:
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns parameter for get_systems endpoint.
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Results are an array of columns/objects.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/meta1"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Safe Drinking Water Act (SDWA) Metadata Service
      tags:
        - Metadata
    post:
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns parameter for get_systems endpoint.
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: formData
          name: output
          required: false
          type: string
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Results are an array of columns/objects.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/meta1"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Safe Drinking Water Act (SDWA) Metadata Service
      tags:
        - Metadata
definitions:
  meta1:
    description: Results Object
    properties:
      Message:
        description: Field to record messages (typically performance-related) about packet processing
        example: Success
        title: Message
        type: string
      ResultColumns:
        items:
          $ref: "#/definitions/meta3"
        title: Result Columns
        type: array
        xml:
          name: ResultColumns
          wrapped: true
    required:
      - Message
    type: object
  meta3:
    description: Results Column Object
    properties:
      ColumnID:
        title: Column ID
        type: string
      ColumnName:
        title: Column Name
        type: string
      DataLength:
        description: Data length for EPA program database column.
        example: "10"
        title: Data Length
        type: string
      DataType:
        description: Data type for EPA program database column.
        example: NUMBER
        title: Data Type
        type: string
      Description:
        title: Column Description
        type: string
      ObjectName:
        description: The JSON name used for the database column.
        example: CaseName
        title: Object Name
        type: string
    required:
      - ColumnName
      - DataType
      - DataLength
      - ColumnID
      - ObjectName
      - Description
    type: object
    xml:
      name: ResultColumn
  sdw02:
    description: Results Object
    properties:
      Message:
        description: Field to record messages (typically performance-related) about packet processing
        example: Success
        title: Message
        type: string
      PageNo:
        description: The number of pages of results returned
        example: "1"
        title: Page Number
        type: string
      QueryID:
        description: Sequential number assigned to entire search result
        example: "245"
        title: Query Identifier
        type: string
      QueryRows:
        description: Number of query results returned
        example: "5"
        title: Query Row Count
        type: string
      WaterSystems:
        items:
          $ref: "#/definitions/sdw04"
        title: Water Systems
        type: array
        xml:
          name: WaterSystems
          wrapped: true
    required:
      - Message
      - QueryRows
      - QueryID
      - PageNo
    type: object
  sdw03:
    description: Results Object
    properties:
      BadSystemIDs:
        description: Identifies which passed query system identifiers are invalid.
        type: string
      CVRows:
        description: Summary count of the number of CWA facilities or SDWA public drinking water systems with current violations.
        example: "0"
        type: string
      FEARows:
        description: Summary count of the number of facilities with a formal enforcement action in the past five years
        example: "1"
        type: string
      INSPRows:
        description: Number of facilities with insp_5yr_flag populated (CWP_DATE_LAST_INSPECTION)
        example: "1"
        type: string
      IndianCountryRows:
        description: Number of facilities with tribal_flag populated
        example: "0"
        title: Indian Country Row Count
        type: string
      InfFEARows:
        description: Number of facilities with infea_5yr_flag populated (INFORMAL_ENF_ACT_COUNT > 0)
        example: "0"
        type: string
      Message:
        description: Field to record messages (typically performance-related) about packet processing
        example: Success
        title: Message
        type: string
      PageNo:
        description: The number of pages of results returned
        example: "1"
        title: Page Number
        type: string
      QueryID:
        description: Sequential number assigned to entire search result
        example: "245"
        title: Query Identifier
        type: string
      QueryRows:
        description: Number of query results returned
        example: "5"
        title: Query Row Count
        type: string
      SVRows:
        description: Number of facilities with curr_sv_flag populated (CWP_STATUS = "Significant Violation")
        example: "0"
        title: Significant Violation Result Count
        type: string
      V3Rows:
        description: Number of facilities having one or more quarters in non-compliance (QNC) in the last three years
        example: "2"
        type: string
      Version:
        description: Version of the SDWA system service
        example: "v2016-02-02 14:"
        title: Version
        type: string
      WaterSystems:
        items:
          $ref: "#/definitions/sdw04"
        title: Water Systems
        type: array
        xml:
          name: WaterSystems
          wrapped: true
    required:
      - Message
      - Version
      - QueryRows
      - IndianCountryRows
      - SVRows
      - CVRows
      - V3Rows
      - FEARows
      - InfFEARows
      - INSPRows
      - BadSystemIDs
      - QueryID
      - PageNo
    type: object
  sdw04:
    description: Safe Drinking Water Search Results Object
    properties:
      CitiesServed:
        description: County
        example: CAROLINE
        type: string
      CountiesServed:
        description: City
        example: ALEXANDRIA
        title: City
        type: string
      CuAle:
        description: The count of occurrences when 90th percentile sample concentrations of copper exceeded the copper action level of 1.3 mg/L in the past five years.
        example: "4"
        title: Copper Action Level Exceedances (5 years)
        type: string
      CuViol:
        description: The number of copper violations in the last five years.
        example: "2"
        title: Copper Violation
        type: string
      CurrVioFlag:
        description: Indicates if the facility has a current violation. 1 = Yes
        example: "0"
        title: Current Violation Flag
        type: string
      DateLastSansurvey:
        type: string
      DfrUrl:
        description: The URL to the facility's Detailed Facility Report.
        title: DFR URL
        type: string
      EPARegion:
        description: The EPA region in which the facility is located
        example: "04"
        title: EPA Region
        type: string
      FIPSCodes:
        description: "Five-character Federal Information Processing Standards (FIPS) value: 2-character state || 3-character county"
        example: "51033"
        type: string
      FeaFlag:
        description: Number of formal enforcement responses during the past 5 years (20 most recent quarters) as of the last quarterly refresh.  Formal enforcement actions compel a PWS to take specific actions by specific dates to return to compliance
        example: "1"
        type: string
      Feas:
        description: Number of formal enforcement responses during the past 5 years (20 most recent quarters) as of the last quarterly refresh.  Formal enforcement actions compel a PWS to take specific actions by specific dates to return to compliance.
        example: "2"
        title: Formal Enforcement Actions
        type: string
      GwSwCode:
        description: Returns "GW" if the system�source water type is ground water. Returns "SW" if the system source water type is surface water.
        example: GW
        title: Ground Water/Surface Water Code
        type: string
      HealthFlag:
        description: Indicates whether system has violations of health-based drinking water standards
        example: Y
        title: Health Flag
        type: string
      IeaFlag:
        description: Returns 0 if the system does not have informal enforcement actions in the past five years. Returns 1 if the system does have informal enforcement actions in the past five years.
        example: "1"
        title: Informal Enforcement Action Flag
        type: string
      Ifea:
        description: Number of informal enforcement responses during the past 5 years (20 most recent quarters) as of the last quarterly refresh.  Informal enforcement actions do not specify actions and deadlines for returning to compliance.
        example: "3"
        title: Informal Enforcement Actions
        type: string
      IndianCountry:
        description: Indicates whether the facility is located in Indian Country
        example: N
        title: Indian Country
        type: string
      Insp5yrFlag:
        description: Indicates if the facility has an inspection within the last 5 years. 1 = Yes
        example: "1"
        title: Inspected Within Last Five Years Flag
        type: string
      LeadAndCopperViol:
        description: The number of lead and copper violations.
        example: "4"
        title: Lead and Copper Violation
        type: string
      MaxScore:
        description: A sorting score for internal use.
        example: "1"
        title: Max Score
        type: string
      MrFlag:
        description: Indicates whether system has monitoring and reporting violations
        example: Y
        type: string
      NewVioFlg:
        description: Violations that have been reported to SDWA since end of the last official quarter. These violations are considered draft and do not reflect the official compliance status for the facility.
        example: No
        title: Has New Violations
        type: string
      OtherFlag:
        description: Indicates whether system has other violations, such as failing to issue annual consumer confidence reports or maintain required records
        example: Y
        title: Other Flag
        type: string
      OwnerDesc:
        description: Description of Owner code
        example: Local Government
        title: Owner Description
        type: string
      OwnerTypeCode:
        description: |-
          Owner/Operator:
          - P = Private
          - F = Federal Government
          - S = State Government
          - L = Local Government
        example: P
        title: Owner Type Code
        type: string
      PWSActivityCode:
        description: Indicates whether systems have an active or inactive designation.
        example: A
        title: PWS Activity Code
        type: string
      PWSActivityDesc:
        description: Description of activity status code (ACT), e.g., active, inactive.
        example: Active
        title: PWS Activity Description
        type: string
      PWSId:
        description: Unique identifying code for a public water system, consisting of a two-letter state or region code, followed by seven digits
        example: VA0033235
        title: Public Water System Identifier
        type: string
      PWSName:
        description: Name of the system regulated under the Safe Drinking Water Act (SDWA)
        example: ARBOR CHRISTIAN HOME
        title: System Name
        type: string
      PWSTypeCode:
        description: |-
          Type of public water system:
          - CWS   = Community water system
          - NCWS  = Non-community water system
          - NTCWS = Non-transient non-community water system
          - TNCWS = Transient non-community water system
        example: TNCWS
        title: System Type
        type: string
      PWSTypeDesc:
        description: The type of public water system (PWS) and description of corresponding SystemType code. A public water system is a system for the provision to the public of piped water for human consumption, which has at least 15 service connections or regularly serves a
        example: Transient non-community system
        title: System Type Description
        type: string
      PbAle:
        description: The count of occurrences when 90th percentile sample concentrations of lead exceeded the lead action level of 0.015 mg/L in the past five years.
        title: Lead Action Level Exceedances (5 years)
        type: string
      PbViol:
        description: The number of lead violations in the last five years.
        example: "1"
        title: Lead Violation
        type: string
      PnFlag:
        description: Indicates whether system has Public Notice Violations (failure to immediately alert consumers of serious problem with drinking water)
        example: Y
        title: Public Notice Violation Flag
        type: string
      PopulationServedCount:
        description: Estimated average daily population served by a system
        example: "34"
        title: Population Served
        type: string
      PrimarySourceCode:
        description: |-
          The source water type:
          Surface water (SW) - Water pumped and treated from sources open to the atmosphere, such as rivers, lakes, and reservoirs.
          Ground water (GW) - Water pumped and treated from aquifers (natural reservoirs below the earth's surface).
          Ground water under direct influence of surface water (GU) - Any water pumped from natural reservoirs below the earth's surface that has been determined to be under the direct influence of surface water.
          Purchased (Surface, Ground, Ground UDI Surface) Water - Water purchased from a wholesaler who pumps and treats water.
        example: SW
        title: Primary Source Code
        type: string
      PrimarySourceDesc:
        description: |-
          The source water type:
          Surface water (SW) - Water pumped and treated from sources open to the atmosphere, such as rivers, lakes, and reservoirs.
          Ground water (GW) - Water pumped and treated from aquifers (natural reservoirs below the earth's surface).
          Ground water under direct influence of surface water (GU) - Any water pumped from natural reservoirs below the earth's surface that has been determined to be under the direct influence of surface water.
          Purchased (Surface, Ground, Ground UDI Surface) Water - Water purchased from a wholesaler who pumps and treats water.
        example: Surface water
        title: Primary Source Description
        type: string
      QtrsWithSNC:
        description: The number of quarters the system was designated by EPA as a serious violator over the past 3 years (12 most recent quarters).
        example: "0"
        title: Quarters with SNC
        type: string
      QtrsWithVio:
        description: The number of quarters the system was in violation over the past three years. This includes the 12 most recent official quarters and new violations reported after the end of the last official quarter.
        example: "0"
        title: Quarters with Violation
        type: string
      Rc350Viol:
        description: The count of open health-based lead violations in the past five years. These include violations of maximum contaminant levels (MCLs), maximum residual disinfectant levels (MRDLs), or treatment technique (TT) rules. This count includes new violations that have been reported since the end of the last official quarter.
        example: "2"
        type: string
      RegistryID:
        description: An internal 12-digit Facility Registry Service (FRS) tracking number used to tie all facility data together in EPA regulatory program databases.
        example: "110020837601"
        title: FRS ID
        type: string
      RulesVio:
        description: The count of rules the system is violating as of the latest official quarter of data in the source system, SDWIS, which may lag by 3-6 months. This includes violations in the most recent official quarter and new violations reported after the end of the last official quarter.
        example: "0"
        title: Rules Being Violated
        type: string
      RulesVio3yr:
        description: The count of rules the system was in violation of over the past three years. This includes the 12 most recent official quarters and new violations reported after the end of the last official quarter.
        example: "5"
        title: Rules In Violation (past 3 years)
        type: string
      SDWA3yrComplQtrsHistory:
        description: |-
          The system's 3-year compliance status history by quarter (3-month period). Each character represents a quarter of compliance, going from oldest to most recent. Character values correspond to the following compliance statuses:
          _ - No Violation Identified
          V - Noncompliance
          S - Significant Noncompliance
          U - Undetermined
        example: ____SS__VVUU
        title: SDWA 3-Year Compliance History
        type: string
      SDWAContaminants:
        description: All unresolved violation contaminants or violation contaminants that have been resolved in the last 5 years.
        title: SDWA Contaminants
        type: string
      SDWAContaminantsInCurViol:
        description: The contaminant name and code (in SDWIS) in violation of a SDWA regulation. This includes violations in the most recent official quarter and new violations that have been reported since the end of the last official quarter.
        example: 7500=Public Notice
        title: SDWA Contaminants in Current Violation
        type: string
      SDWAContaminantsInViol3yr:
        description: The contaminant name and code in violation of a SDWA regulation in the past three years
        example: 2456=Total Haloacetic Acids (HAA5); 7500=Public Notice
        type: string
      SDWDateLastFea:
        description: Indicates the effective date of the most recent listed formal enforcement action taken against the PWS within the last five years.
        example: 1/27/2013
        title: Date Last Formal Enforcement Action
        type: string
      SDWDateLastFeaEPA:
        description: Indicates the effective date of the most recent listed formal enforcement action taken against the PWS by EPA within the last five years.
        example: 4/5/2011
        title: Date Last Formal Enforcement Action by EPA
        type: string
      SDWDateLastFeaSt:
        description: Indicates the effective date of the most recent listed formal enforcement action taken against the PWS by a state environmental agency within the last five years.
        example: 2/19/2010
        title: Date Last Formal Enforcement Action by State
        type: string
      SDWDateLastIea:
        description: Indicates the effective date of the most recent listed informal enforcement action taken against the PWS within the last five years.
        example: 6/30/2008
        title: Date Last Informal Enforcement Action
        type: string
      SDWDateLastIeaEPA:
        description: Indicates the effective date of the most recent listed informal enforcement action taken against the PWS by EPA within the last five years.
        example: 4/11/2013
        title: Date Last Informal Enforcement Action by EPA
        type: string
      SDWDateLastIeaSt:
        description: Indicates the effective date of the most recent listed informal enforcement action taken against the PWS by a state environmental agency within the last five years.
        example: 7/17/2010
        title: Date Last Informal Enforcement Action by State
        type: string
      SDWDateLastVisit:
        description: The date of the last system visit.
        example: 4/11/2013
        title: Date Last Visit
        type: string
      SDWDateLastVisitEPA:
        description: The date of the last system visit by EPA.
        example: 4/11/2013
        title: Date Last Visit by EPA
        type: string
      SDWDateLastVisitLocal:
        description: The date of the last system visit by a local agency.
        example: 4/11/2013
        title: Date Last Visit by Local
        type: string
      SDWDateLastVisitState:
        description: The date of the last system visit by a state agency.
        example: 4/11/2013
        title: Date Last Visit by State
        type: string
      SNC:
        description: "Indicates the system's compliance status: No Violation,�In Violation, Signficant Noncompliance, or Unknown."
        example: In Violation
        title: Compliance Status
        type: string
      SNCFlag:
        description: Returns 1 if the system is in significant noncompliance (SNC); returns 0 if not.
        example: "0"
        title: SNC Flag
        type: string
      Sansurvey5yr:
        description: The number of sanitary surveys completed within the past five years. A sanitary survey is an on-site review of a system's water source, facilities, equipment, operation, and maintenance, intended to point out sanitary deficiencies and assess the system's capability to supply safe drinking water.
        example: "5"
        title: Sanitary Surveys (5 years)
        type: string
      SeriousViolator:
        description: Indicates whether system is a Serious Violator (has unresolved serious, multiple, and/or continuing violations that is designated as a priority candidate for formal enforcement)
        example: No
        title: Serious Violator
        type: string
      ServiceAreaTypeCode:
        type: string
      ServiceAreaTypeDesc:
        type: string
      SignificantDeficiencyCount:
        description: The number of significant deficiencies found from a sanitary survey within the past five years.
        example: "3"
        title: Significant Deficiency Count
        type: string
      SignificantDeficiencyCountIls:
        type: string
      SiteVisits5yrAll:
        type: string
      SiteVisits5yrInspections:
        type: string
      SiteVisits5yrOther:
        type: string
      StateCode:
        description: The state in which the system is located.
        example: VA
        title: State Code
        type: string
      TRIbalFlag:
        description: A flag indicating that the facility is within a tribal area.
        example: "1"
        title: Tribal Lands Flag
        type: string
      VioFlag:
        description: Indicates whether the system has been in violation in the past five years (1 if yes, 0 if no).
        example: "0"
        title: Violation Flag
        type: string
      Viofeanot:
        description: Sum of violation points accrued during past five years (20 most recent quarters) that are under formal enforcement but not yet returned to compliance, as of the last quarterly refresh
        example: "1"
        type: string
      ViolationCategories:
        type: string
      Viopaccr:
        description: Sum of all violation points for violations reported during the past five years (20 most recent quarters), as of the last quarterly refresh
        example: "12"
        type: string
      Vioremain:
        description: Sum of violation points that were not returned to compliance as of the last quarterly refresh.  Includes points that have received formal enforcement but have not returned to compliance
        example: "4"
        type: string
      Viortcfea:
        description: Sum of violation points during past 5 years (20 most recent quarters) that received formal enforcement and returned to compliance, as of the last quarterly refresh
        example: "6"
        type: string
      Viortcnofea:
        description: Sum of violation points during past 5 years (20 most recent quarters) that did not receive formal enforcement but did return to compliance, as of the last quarterly refresh
        example: "2"
        type: string
      ZipCodesServed:
        description: ZIP code
        example: "22302"
        title: Zip Code
        type: string
    required:
      - PWSName
      - PWSId
      - CitiesServed
      - StateCode
      - ZipCodesServed
      - CountiesServed
      - EPARegion
      - IndianCountry
      - PWSTypeCode
      - PWSTypeDesc
      - PrimarySourceCode
      - PrimarySourceDesc
      - PopulationServedCount
      - PWSActivityCode
      - PWSActivityDesc
      - OwnerTypeCode
      - OwnerDesc
      - QtrsWithVio
      - QtrsWithSNC
      - SeriousViolator
      - HealthFlag
      - MrFlag
      - PnFlag
      - OtherFlag
      - NewVioFlg
      - RulesVio3yr
      - RulesVio
      - Viopaccr
      - Vioremain
      - Viofeanot
      - Viortcfea
      - Viortcnofea
      - Ifea
      - Feas
      - SDWDateLastIea
      - SDWDateLastIeaEPA
      - SDWDateLastIeaSt
      - SDWDateLastFea
      - SDWDateLastFeaEPA
      - SDWDateLastFeaSt
      - SDWAContaminantsInViol3yr
      - SDWAContaminantsInCurViol
      - PbAle
      - CuAle
      - Rc350Viol
      - DfrUrl
      - FIPSCodes
      - SNC
      - GwSwCode
      - SDWA3yrComplQtrsHistory
      - SDWAContaminants
      - PbViol
      - CuViol
      - LeadAndCopperViol
      - TRIbalFlag
      - FeaFlag
      - IeaFlag
      - SNCFlag
      - CurrVioFlag
      - VioFlag
      - Insp5yrFlag
      - ServiceAreaTypeCode
      - ServiceAreaTypeDesc
      - ViolationCategories
      - Sansurvey5yr
      - DateLastSansurvey
      - SignificantDeficiencyCount
      - SignificantDeficiencyCountIls
      - SDWDateLastVisit
      - SDWDateLastVisitEPA
      - SDWDateLastVisitState
      - SDWDateLastVisitLocal
      - SiteVisits5yrAll
      - SiteVisits5yrInspections
      - SiteVisits5yrOther
      - RegistryID
      - MaxScore
    type: object
    xml:
      name: WaterSystem
