swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: REST API for Azure VirtualWAN As a Service.
  title: VirtualWANAsAServiceManagementClient
  version: 2018-11-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/virtualWan.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-virtualWan
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/p2svpnGateways":
    get:
      description: Lists all the P2SVpnGateways in a subscription.
      operationId: P2sVpnGateways_List
      parameters:
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: Request successful. Returns the details of all the P2SVpnGateways in the subscription.
          schema:
            $ref: "#/definitions/ListP2SVpnGatewaysResult"
        default:
          description: Error
          schema:
            properties:
              code:
                type: string
              details:
                items:
                  properties:
                    code:
                      type: string
                    message:
                      type: string
                    target:
                      type: string
                type: array
              innerError:
                type: string
              message:
                type: string
              target:
                type: string
      x-ms-examples:
        P2SVpnGatewayListBySubscription:
          parameters:
            api-version: 2018-11-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/P2SvpnGateways/p2sVpnGateway1
                    location: West US
                    name: p2sVpnGateway1
                    properties:
                      p2SVpnServerConfiguration:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1
                      provisioningState: Succeeded
                      virtualHub:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1
                      vpnClientAddressPool:
                        addressPrefixes:
                          - 101.3.0.0/16
                      vpnClientConnectionHealth:
                        allocatedIpAddresses:
                          - 1.1.1.1
                          - 2.2.2.2
                        totalEgressBytesTransferred: 3000
                        totalIngressBytesTransferred: 2000
                        vpnClientConnectionsCount: 2
                      vpnGatewayScaleUnit: 1
                    type: Microsoft.Network/p2sVpnGateways
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/P2SvpnGateways/p2sVpnGateway2
                    location: West US
                    name: p2sVpnGateway2
                    properties:
                      p2SVpnServerConfiguration:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1
                      provisioningState: Succeeded
                      virtualHub:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub2
                      vpnClientAddressPool:
                        addressPrefixes:
                          - 101.4.0.0/16
                      vpnClientConnectionHealth:
                        allocatedIpAddresses:
                          - 1.1.1.1
                          - 2.2.2.2
                        totalEgressBytesTransferred: 3000
                        totalIngressBytesTransferred: 2000
                        vpnClientConnectionsCount: 2
                      vpnGatewayScaleUnit: 1
                    type: Microsoft.Network/p2sVpnGateways
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualHubs":
    get:
      description: Lists all the VirtualHubs in a subscription.
      operationId: VirtualHubs_List
      parameters:
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: Request successful. Returns the details of all the VirtualHubs in the subscription.
          schema:
            $ref: "#/definitions/ListVirtualHubsResult"
        default:
          description: Error
          schema:
            properties:
              code:
                type: string
              details:
                items:
                  properties:
                    code:
                      type: string
                    message:
                      type: string
                    target:
                      type: string
                type: array
              innerError:
                type: string
              message:
                type: string
              target:
                type: string
      x-ms-examples:
        VirtualHubList:
          parameters:
            api-version: 2018-11-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1
                    location: West US
                    name: virtualHub1
                    properties:
                      addressPrefix: 10.10.1.0/24
                      provisioningState: Succeeded
                      virtualNetworkConnections:
                        - etag: w/\00000000-0000-0000-0000-000000000000\
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1/hubVirtualNetworkConnections/connection1
                          name: connection1
                          properties:
                            allowHubToRemoteVnetTransit: true
                            allowRemoteVnetToUseHubVnetGateways: false
                            provisioningState: Succeeded
                            remoteVirtualNetwork:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/SpokeVnet1
                      virtualWan:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1
                    type: Microsoft.Network/virtualHubs
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualHubs/virtualHub2
                    location: East US
                    name: virtualHub2
                    properties:
                      addressPrefix: 210.10.1.0/24
                      provisioningState: Succeeded
                      virtualNetworkConnections:
                        - etag: w/\00000000-0000-0000-0000-000000000000\
                          id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualHubs/virtualHub2/hubVirtualNetworkConnections/connection2
                          name: connection2
                          properties:
                            allowHubToRemoteVnetTransit: true
                            allowRemoteVnetToUseHubVnetGateways: false
                            provisioningState: Succeeded
                            remoteVirtualNetwork:
                              id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualNetworks/SpokeVnet2
                      virtualWan:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1
                    type: Microsoft.Network/virtualHubs
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualWans":
    get:
      description: Lists all the VirtualWANs in a subscription.
      operationId: VirtualWans_List
      parameters:
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: Request successful. Returns the details of all the VirtualWANs in the subscription.
          schema:
            $ref: "#/definitions/ListVirtualWANsResult"
        default:
          description: Error
          schema:
            properties:
              code:
                type: string
              details:
                items:
                  properties:
                    code:
                      type: string
                    message:
                      type: string
                    target:
                      type: string
                type: array
              innerError:
                type: string
              message:
                type: string
              target:
                type: string
      x-ms-examples:
        VirtualWANList:
          parameters:
            api-version: 2018-11-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1
                    location: West US
                    name: wan1
                    properties:
                      disableVpnEncryption: false
                      provisioningState: Succeeded
                      virtualHubs:
                        - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub1
                        - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub2
                      vpnSites:
                        - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite1
                        - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite2
                    tags:
                      key1: value1
                    type: Microsoft.Network/virtualWANs
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualWANs/wan2
                    location: East US
                    name: wan2
                    properties:
                      disableVpnEncryption: false
                      provisioningState: Succeeded
                      virtualHubs:
                        - /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualHubs/hub1
                        - /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualHubs/hub2
                      vpnSites:
                        - /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/vpnSites/vpnSite1
                        - /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/vpnSites/vpnSite2
                    tags:
                      key1: value1
                    type: Microsoft.Network/virtualWANs
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/vpnGateways":
    get:
      description: Lists all the VpnGateways in a subscription.
      operationId: VpnGateways_List
      parameters:
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: Request successful. Returns the details of all the VpnGateways in the subscription.
          schema:
            $ref: "#/definitions/ListVpnGatewaysResult"
        default:
          description: Error
          schema:
            properties:
              code:
                type: string
              details:
                items:
                  properties:
                    code:
                      type: string
                    message:
                      type: string
                    target:
                      type: string
                type: array
              innerError:
                type: string
              message:
                type: string
              target:
                type: string
      x-ms-examples:
        VpnGatewayListBySubscription:
          parameters:
            api-version: 2018-11-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnGateways/gateway1
                    location: West US
                    name: gateway1
                    properties:
                      bgpSettings:
                        asn: 65514
                        bgpPeeringAddress: 10.0.1.30
                        peerWeight: 0
                      connections:
                        - etag: w/\00000000-0000-0000-0000-000000000000\
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnGateways/gateway1/vpnConnections/vpnConnection1
                          name: vpnConnection1
                          properties:
                            connectionBandwidth: 100
                            connectionStatus: Connected
                            egressBytesTransferred: 0
                            enableBgp: false
                            ingressBytesTransferred: 0
                            ipsecPolicies: []
                            provisioningState: Succeeded
                            remoteVpnSite:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite1
                            routingWeight: 0
                            sharedKey: key
                      provisioningState: Succeeded
                      virtualHub:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1
                    type: Microsoft.Network/vpnGateways
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/vpnGateways/gateway2
                    location: West US
                    name: gateway2
                    properties:
                      bgpSettings:
                        asn: 65514
                        bgpPeeringAddress: 10.0.1.30
                        peerWeight: 0
                      connections:
                        - etag: w/\00000000-0000-0000-0000-000000000000\
                          id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/vpnGateways/gateway2/vpnConnections/vpnConnection2
                          name: vpnConnection1
                          properties:
                            connectionBandwidth: 100
                            connectionStatus: Connected
                            egressBytesTransferred: 0
                            enableBgp: false
                            ingressBytesTransferred: 0
                            ipsecPolicies: []
                            provisioningState: Succeeded
                            remoteVpnSite:
                              id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/vpnSites/vpnSite2
                            routingWeight: 0
                            sharedKey: key
                      provisioningState: Succeeded
                      virtualHub:
                        id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualHubs/virtualHub2
                    type: Microsoft.Network/vpnGateways
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/vpnSites":
    get:
      description: Lists all the VpnSites in a subscription.
      operationId: VpnSites_List
      parameters:
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: Request successful. Returns the details of all the VpnSites in the subscription.
          schema:
            $ref: "#/definitions/ListVpnSitesResult"
        default:
          description: Error
          schema:
            properties:
              code:
                type: string
              details:
                items:
                  properties:
                    code:
                      type: string
                    message:
                      type: string
                    target:
                      type: string
                type: array
              innerError:
                type: string
              message:
                type: string
              target:
                type: string
      x-ms-examples:
        VpnSiteList:
          parameters:
            api-version: 2018-11-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite1
                    location: West US
                    name: vpnSite1
                    properties:
                      addressSpace:
                        addressPrefixes:
                          - 10.0.0.0/16
                      bgpProperties:
                        asn: 1234
                        bgpPeeringAddress: 192.168.0.0
                      deviceProperties:
                        deviceModel: model01
                        deviceVendor: vendor1
                        linkSpeedInMbps: 200
                      ipAddress: 10.0.0.0
                      provisioningState: Succeeded
                      virtualWan: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1
                    tags:
                      key1: value1
                    type: Microsoft.Network/vpnSites
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/vpnSites/vpnSite2
                    location: East US
                    name: vpnSite2
                    properties:
                      addressSpace:
                        addressPrefixes:
                          - 10.0.0.0/16
                      bgpProperties:
                        asn: 1234
                        bgpPeeringAddress: 192.168.0.0
                      deviceProperties:
                        deviceModel: model01
                        deviceVendor: vendor1
                        linkSpeedInMbps: 200
                      ipAddress: 10.1.0.0
                      provisioningState: Succeeded
                      virtualWan: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualWANs/wan1
                    tags:
                      key1: value1
                    type: Microsoft.Network/vpnSites
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/p2svpnGateways":
    get:
      description: Lists all the P2SVpnGateways in a resource group.
      operationId: P2sVpnGateways_ListByResourceGroup
      parameters:
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group name of the P2SVpnGateway.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: Request successful. Returns the details of all the P2SVpnGateways in the resource group.
          schema:
            $ref: "#/definitions/ListP2SVpnGatewaysResult"
        default:
          description: Error
          schema:
            properties:
              code:
                type: string
              details:
                items:
                  properties:
                    code:
                      type: string
                    message:
                      type: string
                    target:
                      type: string
                type: array
              innerError:
                type: string
              message:
                type: string
              target:
                type: string
      x-ms-examples:
        P2SVpnGatewayListByResourceGroup:
          parameters:
            api-version: 2018-11-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/P2SvpnGateways/p2sVpnGateway1
                    location: West US
                    name: p2sVpnGateway1
                    properties:
                      p2SVpnServerConfiguration:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1
                      provisioningState: Succeeded
                      virtualHub:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1
                      vpnClientAddressPool:
                        addressPrefixes:
                          - 101.3.0.0/16
                      vpnClientConnectionHealth:
                        allocatedIpAddresses:
                          - 1.1.1.1
                          - 2.2.2.2
                        totalEgressBytesTransferred: 3000
                        totalIngressBytesTransferred: 2000
                        vpnClientConnectionsCount: 2
                      vpnGatewayScaleUnit: 1
                    type: Microsoft.Network/p2sVpnGateways
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/P2SvpnGateways/p2sVpnGateway2
                    location: West US
                    name: p2sVpnGateway2
                    properties:
                      p2SVpnServerConfiguration:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1
                      provisioningState: Succeeded
                      virtualHub:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub2
                      vpnClientAddressPool:
                        addressPrefixes:
                          - 101.4.0.0/16
                      vpnClientConnectionHealth:
                        allocatedIpAddresses:
                          - 1.1.1.1
                          - 2.2.2.2
                        totalEgressBytesTransferred: 3000
                        totalIngressBytesTransferred: 2000
                        vpnClientConnectionsCount: 2
                      vpnGatewayScaleUnit: 1
                    type: Microsoft.Network/p2sVpnGateways
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/p2svpnGateways/{gatewayName}":
    delete:
      description: Deletes a virtual wan p2s vpn gateway.
      operationId: P2sVpnGateways_Delete
      parameters:
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group name of the P2SVpnGateway.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the gateway.
          in: path
          name: gatewayName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: Request successful. P2SVpnGateway deleted.
        "202":
          description: Request received successfully. P2SVpnGateway deletion is in progress; follow the Location header to poll for final outcome.
        "204":
          description: No p2s vpn gateways exist by the name provided.
        default:
          description: Error
          schema:
            properties:
              code:
                type: string
              details:
                items:
                  properties:
                    code:
                      type: string
                    message:
                      type: string
                    target:
                      type: string
                type: array
              innerError:
                type: string
              message:
                type: string
              target:
                type: string
      x-ms-examples:
        P2SVpnGatewayDelete:
          parameters:
            api-version: 2018-11-01
            gatewayName: p2sVpnGateway1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Retrieves the details of a virtual wan p2s vpn gateway.
      operationId: P2sVpnGateways_Get
      parameters:
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group name of the P2SVpnGateway.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the gateway.
          in: path
          name: gatewayName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: Request successful. Returns the details of the virtual wan p2s vpn gateway retrieved.
          schema:
            $ref: "#/definitions/P2SVpnGateway"
        default:
          description: Error
          schema:
            properties:
              code:
                type: string
              details:
                items:
                  properties:
                    code:
                      type: string
                    message:
                      type: string
                    target:
                      type: string
                type: array
              innerError:
                type: string
              message:
                type: string
              target:
                type: string
      x-ms-examples:
        P2SVpnGatewayGet:
          parameters:
            api-version: 2018-11-01
            gatewayName: p2sVpnGateway1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/P2SvpnGateways/p2sVpnGateway1
                location: West US
                name: p2sVpnGateway1
                properties:
                  p2SVpnServerConfiguration:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1
                  provisioningState: Succeeded
                  virtualHub:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1
                  vpnClientAddressPool:
                    addressPrefixes:
                      - 101.3.0.0/16
                  vpnClientConnectionHealth:
                    allocatedIpAddresses:
                      - 1.1.1.1
                      - 2.2.2.2
                    totalEgressBytesTransferred: 3000
                    totalIngressBytesTransferred: 2000
                    vpnClientConnectionsCount: 2
                  vpnGatewayScaleUnit: 1
                type: Microsoft.Network/p2sVpnGateways
    patch:
      description: Updates virtual wan p2s vpn gateway tags.
      operationId: P2sVpnGateways_UpdateTags
      parameters:
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group name of the P2SVpnGateway.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the gateway.
          in: path
          name: gatewayName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: Parameters supplied to update a virtual wan p2s vpn gateway tags.
          in: body
          name: p2SVpnGatewayParameters
          required: true
          schema:
            description: Tags object for patch operations.
            properties:
              tags:
                additionalProperties:
                  type: string
                description: Resource tags.
                type: object
      responses:
        "200":
          description: Request successful. Returns the details of the updated gateway.
          schema:
            $ref: "#/definitions/P2SVpnGateway"
        "201":
          description: Request received successfully. Returns the details of the updated gateway.
          schema:
            $ref: "#/definitions/P2SVpnGateway"
        default:
          description: Error
          schema:
            properties:
              code:
                type: string
              details:
                items:
                  properties:
                    code:
                      type: string
                    message:
                      type: string
                    target:
                      type: string
                type: array
              innerError:
                type: string
              message:
                type: string
              target:
                type: string
      tags:
        - P2SVpnGateways
      x-ms-examples:
        P2SVpnGatewayUpdate:
          parameters:
            api-version: 2018-11-01
            gatewayName: p2sVpnGateway1
            p2SVpnGatewayParameters:
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/P2SvpnGateways/p2sVpnGateway1
                location: West US
                name: p2sVpnGateway1
                properties:
                  p2SVpnServerConfiguration:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1
                  provisioningState: Succeeded
                  virtualHub:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1
                  vpnClientAddressPool:
                    addressPrefixes:
                      - 101.3.0.0/16
                  vpnClientConnectionHealth:
                    allocatedIpAddresses:
                      - 1.1.1.1
                      - 2.2.2.2
                    totalEgressBytesTransferred: 3000
                    totalIngressBytesTransferred: 2000
                    vpnClientConnectionsCount: 2
                  vpnGatewayScaleUnit: 1
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Network/p2sVpnGateways
            "201":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/P2SvpnGateways/p2sVpnGateway1
                location: West US
                name: p2sVpnGateway1
                properties:
                  p2SVpnServerConfiguration:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1
                  provisioningState: Succeeded
                  virtualHub:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1
                  vpnClientAddressPool:
                    addressPrefixes:
                      - 101.3.0.0/16
                  vpnClientConnectionHealth:
                    allocatedIpAddresses:
                      - 1.1.1.1
                      - 2.2.2.2
                    totalEgressBytesTransferred: 3000
                    totalIngressBytesTransferred: 2000
                    vpnClientConnectionsCount: 2
                  vpnGatewayScaleUnit: 1
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Network/p2sVpnGateways
      x-ms-long-running-operation: true
    put:
      description: Creates a virtual wan p2s vpn gateway if it doesn't exist else updates the existing gateway.
      operationId: P2sVpnGateways_CreateOrUpdate
      parameters:
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group name of the P2SVpnGateway.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the gateway.
          in: path
          name: gatewayName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: Parameters supplied to create or Update a virtual wan p2s vpn gateway.
          in: body
          name: p2SVpnGatewayParameters
          required: true
          schema:
            $ref: "#/definitions/P2SVpnGateway"
      responses:
        "200":
          description: Request successful. Returns the details of the virtual wan p2s vpn Gateway created or updated.
          schema:
            $ref: "#/definitions/P2SVpnGateway"
        "201":
          description: Request successful. Returns the details of the virtual wan p2s vpn gateway retrieved.
          schema:
            $ref: "#/definitions/P2SVpnGateway"
        default:
          description: Error
          schema:
            properties:
              code:
                type: string
              details:
                items:
                  properties:
                    code:
                      type: string
                    message:
                      type: string
                    target:
                      type: string
                type: array
              innerError:
                type: string
              message:
                type: string
              target:
                type: string
      x-ms-examples:
        P2SVpnGatewayPut:
          parameters:
            api-version: 2018-11-01
            gatewayName: p2sVpnGateway1
            p2SVpnGatewayParameters:
              location: West US
              properties:
                p2SVpnServerConfiguration:
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1
                virtualHub:
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1
                vpnClientAddressPool:
                  addressPrefixes:
                    - 101.3.0.0/16
                vpnGatewayScaleUnit: 1
              tags:
                key1: value1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/P2SvpnGateways/p2sVpnGateway1
                location: West US
                name: p2sVpnGateway1
                properties:
                  p2SVpnServerConfiguration:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1
                  provisioningState: Succeeded
                  virtualHub:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1
                  vpnClientAddressPool:
                    addressPrefixes:
                      - 101.3.0.0/16
                  vpnClientConnectionHealth:
                    allocatedIpAddresses: []
                    totalEgressBytesTransferred: 0
                    totalIngressBytesTransferred: 0
                    vpnClientConnectionsCount: 0
                  vpnGatewayScaleUnit: 1
                type: Microsoft.Network/p2sVpnGateways
            "201":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/P2SvpnGateways/p2sVpnGateway1
                location: West US
                name: p2sVpnGateway1
                properties:
                  p2SVpnServerConfiguration:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1
                  provisioningState: Succeeded
                  virtualHub:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1
                  vpnClientAddressPool:
                    addressPrefixes:
                      - 101.3.0.0/16
                  vpnClientConnectionHealth:
                    allocatedIpAddresses: []
                    totalEgressBytesTransferred: 0
                    totalIngressBytesTransferred: 0
                    vpnClientConnectionsCount: 0
                  vpnGatewayScaleUnit: 1
                type: Microsoft.Network/p2sVpnGateways
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/p2svpnGateways/{gatewayName}/generatevpnprofile":
    post:
      description: Generates VPN profile for P2S client of the P2SVpnGateway in the specified resource group.
      operationId: P2sVpnGateways_GenerateVpnProfile
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the P2SVpnGateway.
          in: path
          name: gatewayName
          required: true
          type: string
        - description: Parameters supplied to the generate P2SVpnGateway VPN client package operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/P2SVpnProfileParameters"
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: VPN profile package URL.
          schema:
            $ref: "#/definitions/VpnProfileResponse"
        "202":
          description: Accepted and the operation will complete asynchronously.
      tags:
        - P2SVpnGateways
      x-ms-examples:
        GenerateP2SVpnGatewayVPNProfile:
          parameters:
            api-version: 2018-11-01
            gatewayName: p2sVpnGateway1
            parameters:
              authenticationMethod: EAPTLS
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body: ""
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs":
    get:
      description: Lists all the VirtualHubs in a resource group.
      operationId: VirtualHubs_ListByResourceGroup
      parameters:
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group name of the VirtualHub.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: Request successful. Returns the details of all the VirtualHubs in the resource group.
          schema:
            $ref: "#/definitions/ListVirtualHubsResult"
        default:
          description: Error
          schema:
            properties:
              code:
                type: string
              details:
                items:
                  properties:
                    code:
                      type: string
                    message:
                      type: string
                    target:
                      type: string
                type: array
              innerError:
                type: string
              message:
                type: string
              target:
                type: string
      x-ms-examples:
        VirtualHubListByResourceGroup:
          parameters:
            api-version: 2018-11-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1
                    location: West US
                    name: virtualHub1
                    properties:
                      addressPrefix: 10.10.1.0/24
                      provisioningState: Succeeded
                      virtualNetworkConnections:
                        - etag: w/\00000000-0000-0000-0000-000000000000\
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1/hubVirtualNetworkConnections/connection1
                          name: connection1
                          properties:
                            allowHubToRemoteVnetTransit: true
                            allowRemoteVnetToUseHubVnetGateways: false
                            provisioningState: Succeeded
                            remoteVirtualNetwork:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/SpokeVnet1
                      virtualWan:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1
                    type: Microsoft.Network/virtualHubs
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub2
                    location: East US
                    name: virtualHub2
                    properties:
                      addressPrefix: 210.10.1.0/24
                      provisioningState: Succeeded
                      virtualNetworkConnections:
                        - etag: w/\00000000-0000-0000-0000-000000000000\
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub2/hubVirtualNetworkConnections/connection2
                          name: connection2
                          properties:
                            allowHubToRemoteVnetTransit: true
                            allowRemoteVnetToUseHubVnetGateways: false
                            provisioningState: Succeeded
                            remoteVirtualNetwork:
                              id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/virtualNetworks/SpokeVnet2
                      virtualWan:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1
                    type: Microsoft.Network/virtualHubs
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs/{virtualHubName}":
    delete:
      description: Deletes a VirtualHub.
      operationId: VirtualHubs_Delete
      parameters:
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group name of the VirtualHub.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the VirtualHub.
          in: path
          name: virtualHubName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: Request successful. VirtualHub deleted.
        "202":
          description: Request received successfully. VirtualHub deletion is in progress; follow the Location header to poll for final outcome.
        "204":
          description: No VirtualHubs exist by the name provided.
        default:
          description: Error
          schema:
            properties:
              code:
                type: string
              details:
                items:
                  properties:
                    code:
                      type: string
                    message:
                      type: string
                    target:
                      type: string
                type: array
              innerError:
                type: string
              message:
                type: string
              target:
                type: string
      x-ms-examples:
        VirtualHubDelete:
          parameters:
            api-version: 2018-11-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualHubName: virtualHub1
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Retrieves the details of a VirtualHub.
      operationId: VirtualHubs_Get
      parameters:
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group name of the VirtualHub.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the VirtualHub.
          in: path
          name: virtualHubName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: Request successful. Returns the details of the VirtualHub retrieved.
          schema:
            $ref: "#/definitions/VirtualHub"
        default:
          description: Error
          schema:
            properties:
              code:
                type: string
              details:
                items:
                  properties:
                    code:
                      type: string
                    message:
                      type: string
                    target:
                      type: string
                type: array
              innerError:
                type: string
              message:
                type: string
              target:
                type: string
      x-ms-examples:
        VirtualHubGet:
          parameters:
            api-version: 2018-11-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualHubName: virtualHub1
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1
                location: West US
                name: virtualHub1
                properties:
                  addressPrefix: 10.10.1.0/24
                  provisioningState: Succeeded
                  virtualNetworkConnections: []
                  virtualWan:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1
                type: Microsoft.Network/virtualHubs
    patch:
      description: Updates VirtualHub tags.
      operationId: VirtualHubs_UpdateTags
      parameters:
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group name of the VirtualHub.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the VirtualHub.
          in: path
          name: virtualHubName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: Parameters supplied to update VirtualHub tags.
          in: body
          name: virtualHubParameters
          required: true
          schema:
            description: Tags object for patch operations.
            properties:
              tags:
                additionalProperties:
                  type: string
                description: Resource tags.
                type: object
      responses:
        "200":
          description: Request successful. Returns the details of the VirtualHub updated.
          schema:
            $ref: "#/definitions/VirtualHub"
        "201":
          description: Request received successfully. Returns the details of the VirtualHub updated.
          schema:
            $ref: "#/definitions/VirtualHub"
        default:
          description: Error
          schema:
            properties:
              code:
                type: string
              details:
                items:
                  properties:
                    code:
                      type: string
                    message:
                      type: string
                    target:
                      type: string
                type: array
              innerError:
                type: string
              message:
                type: string
              target:
                type: string
      tags:
        - VirtualWANs
      x-ms-examples:
        VirtualHubUpdate:
          parameters:
            api-version: 2018-11-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualHubName: virtualHub2
            virtualHubParameters:
              tags:
                key1: value1
                key2: value2
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub2
                location: West US
                name: virtualHub2
                properties:
                  addressPrefix: 10.168.0.0/24
                  provisioningState: Succeeded
                  virtualNetworkConnections: []
                  virtualWan:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Network/virtualHubs
            "201":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub2
                location: West US
                name: virtualHub2
                properties:
                  addressPrefix: 10.168.0.0/24
                  provisioningState: Succeeded
                  virtualNetworkConnections: []
                  virtualWan:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Network/virtualHubs
      x-ms-long-running-operation: true
    put:
      description: Creates a VirtualHub resource if it doesn't exist else updates the existing VirtualHub.
      operationId: VirtualHubs_CreateOrUpdate
      parameters:
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group name of the VirtualHub.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the VirtualHub.
          in: path
          name: virtualHubName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: Parameters supplied to create or update VirtualHub.
          in: body
          name: virtualHubParameters
          required: true
          schema:
            $ref: "#/definitions/VirtualHub"
      responses:
        "200":
          description: Request successful. Returns the details of the VirtualHub created or updated.
          schema:
            $ref: "#/definitions/VirtualHub"
        "201":
          description: Request received successfully. Returns the details of the VirtualHub created or updated.
          schema:
            $ref: "#/definitions/VirtualHub"
        default:
          description: Error
          schema:
            properties:
              code:
                type: string
              details:
                items:
                  properties:
                    code:
                      type: string
                    message:
                      type: string
                    target:
                      type: string
                type: array
              innerError:
                type: string
              message:
                type: string
              target:
                type: string
      x-ms-examples:
        VirtualHubPut:
          parameters:
            api-version: 2018-11-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualHubName: virtualHub2
            virtualHubParameters:
              location: West US
              properties:
                addressPrefix: 10.168.0.0/24
                virtualWan:
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1
              tags:
                key1: value1
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub2
                location: West US
                name: virtualHub2
                properties:
                  addressPrefix: 10.168.0.0/24
                  provisioningState: Succeeded
                  virtualNetworkConnections: []
                  virtualWan:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1
                type: Microsoft.Network/virtualHubs
            "201":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub2
                location: West US
                name: virtualHub2
                properties:
                  addressPrefix: 10.168.0.0/24
                  provisioningState: Succeeded
                  virtualNetworkConnections: []
                  virtualWan:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1
                type: Microsoft.Network/virtualHubs
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs/{virtualHubName}/hubVirtualNetworkConnections":
    get:
      description: Retrieves the details of all HubVirtualNetworkConnections.
      operationId: HubVirtualNetworkConnections_List
      parameters:
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group name of the VirtualHub.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the VirtualHub.
          in: path
          name: virtualHubName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: Request successful. Returns the details of all the HubVirtualNetworkConnections for the VirtualHub.
          schema:
            $ref: "#/definitions/ListHubVirtualNetworkConnectionsResult"
        default:
          description: Error
          schema:
            properties:
              code:
                type: string
              details:
                items:
                  properties:
                    code:
                      type: string
                    message:
                      type: string
                    target:
                      type: string
                type: array
              innerError:
                type: string
              message:
                type: string
              target:
                type: string
      x-ms-examples:
        HubVirtualNetworkConnectionList:
          parameters:
            api-version: 2018-11-01
            connectionName: connection1
            resourceGroupName: rg1
            subscriptionId: subid
            virtualHubName: virtualHub1
          responses:
            "200":
              body:
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1/virtualHubVnetConnections/connection1
                  name: connection1
                  properties:
                    allowHubToRemoteVnetTransit: true
                    allowRemoteVnetToUseHubVnetGateways: false
                    provisioningState: Succeeded
                    remoteVirtualNetwork:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1/virtualHubVnetConnections/connection2
                  name: connection2
                  properties:
                    allowHubToRemoteVnetTransit: true
                    allowRemoteVnetToUseHubVnetGateways: false
                    provisioningState: Succeeded
                    remoteVirtualNetwork:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet2
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualHubs/{virtualHubName}/hubVirtualNetworkConnections/{connectionName}":
    get:
      description: Retrieves the details of a HubVirtualNetworkConnection.
      operationId: HubVirtualNetworkConnections_Get
      parameters:
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group name of the VirtualHub.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the VirtualHub.
          in: path
          name: virtualHubName
          required: true
          type: string
        - description: The name of the vpn connection.
          in: path
          name: connectionName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: Request successful. Returns the details of the HubVirtualNetworkConnection retrieved.
          schema:
            $ref: "#/definitions/HubVirtualNetworkConnection"
        default:
          description: Error
          schema:
            properties:
              code:
                type: string
              details:
                items:
                  properties:
                    code:
                      type: string
                    message:
                      type: string
                    target:
                      type: string
                type: array
              innerError:
                type: string
              message:
                type: string
              target:
                type: string
      x-ms-examples:
        HubVirtualNetworkConnectionGet:
          parameters:
            api-version: 2018-11-01
            connectionName: connection1
            resourceGroupName: rg1
            subscriptionId: subid
            virtualHubName: virtualHub1
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/virtualHub1/virtualHubVnetConnections/connection1
                name: connection1
                properties:
                  allowHubToRemoteVnetTransit: true
                  allowRemoteVnetToUseHubVnetGateways: false
                  provisioningState: Succeeded
                  remoteVirtualNetwork:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet1
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualWans":
    get:
      description: Lists all the VirtualWANs in a resource group.
      operationId: VirtualWans_ListByResourceGroup
      parameters:
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group name of the VirtualWan.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: Request successful. Returns the details of all the VirtualWANs in the resource group.
          schema:
            $ref: "#/definitions/ListVirtualWANsResult"
        default:
          description: Error
          schema:
            properties:
              code:
                type: string
              details:
                items:
                  properties:
                    code:
                      type: string
                    message:
                      type: string
                    target:
                      type: string
                type: array
              innerError:
                type: string
              message:
                type: string
              target:
                type: string
      x-ms-examples:
        VirtualWANListByResourceGroup:
          parameters:
            api-version: 2018-11-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1
                    location: West US
                    name: wan1
                    properties:
                      disableVpnEncryption: false
                      provisioningState: Succeeded
                      virtualHubs:
                        - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub1
                        - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub2
                      vpnSites:
                        - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite1
                        - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite2
                    tags:
                      key1: value1
                    type: Microsoft.Network/virtualWANs
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan2
                    location: East US
                    name: wan2
                    properties:
                      disableVpnEncryption: false
                      provisioningState: Succeeded
                      virtualHubs:
                        - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub3
                        - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub4
                      vpnSites:
                        - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite3
                        - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite4
                    tags:
                      key1: value1
                    type: Microsoft.Network/virtualWANs
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualWans/{VirtualWANName}":
    delete:
      description: Deletes a VirtualWAN.
      operationId: VirtualWans_Delete
      parameters:
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group name of the VirtualWan.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the VirtualWAN being deleted.
          in: path
          name: VirtualWANName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: Request successful. VirtualWAN deleted.
        "202":
          description: Request received successfully. VirtualWAN deletion is in progress; follow the Location header to poll for final outcome.
        "204":
          description: No VirtualWANs exist by the name provided.
        default:
          description: Error
          schema:
            properties:
              code:
                type: string
              details:
                items:
                  properties:
                    code:
                      type: string
                    message:
                      type: string
                    target:
                      type: string
                type: array
              innerError:
                type: string
              message:
                type: string
              target:
                type: string
      x-ms-examples:
        VirtualWANDelete:
          parameters:
            VirtualWANName: virtualWan1
            api-version: 2018-11-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Retrieves the details of a VirtualWAN.
      operationId: VirtualWans_Get
      parameters:
        - description: The resource group name of the VirtualWan.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the VirtualWAN being retrieved.
          in: path
          name: VirtualWANName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. Returns the details of the VirtualWAN retrieved.
          schema:
            $ref: "#/definitions/VirtualWAN"
        default:
          description: Error
          schema:
            properties:
              code:
                type: string
              details:
                items:
                  properties:
                    code:
                      type: string
                    message:
                      type: string
                    target:
                      type: string
                type: array
              innerError:
                type: string
              message:
                type: string
              target:
                type: string
      x-ms-examples:
        VirtualWANGet:
          parameters:
            VirtualWANName: wan1
            api-version: 2018-11-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1
                location: West US
                name: wan1
                properties:
                  disableVpnEncryption: false
                  provisioningState: Succeeded
                  virtualHubs:
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub1
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub2
                  vpnSites:
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite1
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite2
                tags:
                  key1: value1
                type: Microsoft.Network/virtualWANs
    patch:
      description: Updates a VirtualWAN tags.
      operationId: VirtualWans_UpdateTags
      parameters:
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group name of the VirtualWan.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the VirtualWAN being updated.
          in: path
          name: VirtualWANName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: Parameters supplied to Update VirtualWAN tags.
          in: body
          name: WANParameters
          required: true
          schema:
            description: Tags object for patch operations.
            properties:
              tags:
                additionalProperties:
                  type: string
                description: Resource tags.
                type: object
      responses:
        "200":
          description: Request successful. Returns the details of the VirtualWAN updated.
          schema:
            $ref: "#/definitions/VirtualWAN"
        "201":
          description: Request received successfully. Returns the details of the VirtualWAN updated.
          schema:
            $ref: "#/definitions/VirtualWAN"
        default:
          description: Error
          schema:
            properties:
              code:
                type: string
              details:
                items:
                  properties:
                    code:
                      type: string
                    message:
                      type: string
                    target:
                      type: string
                type: array
              innerError:
                type: string
              message:
                type: string
              target:
                type: string
      tags:
        - VirtualWANs
      x-ms-examples:
        VirtualWANUpdate:
          parameters:
            VirtualWANName: wan1
            WANParameters:
              tags:
                key1: value1
                key2: value2
            api-version: 2018-11-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1
                location: West US
                name: wan1
                properties:
                  disableVpnEncryption: false
                  provisioningState: Succeeded
                  virtualHubs:
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub1
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub2
                  vpnSites:
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite1
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite2
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Network/virtualWANs
            "201":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1
                location: West US
                name: wan1
                properties:
                  disableVpnEncryption: false
                  provisioningState: Succeeded
                  virtualHubs:
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub1
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub2
                  vpnSites:
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite1
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite2
                tags:
                  key1: value1
                  key2: value2
                type: Microsoft.Network/virtualWANs
      x-ms-long-running-operation: true
    put:
      description: Creates a VirtualWAN resource if it doesn't exist else updates the existing VirtualWAN.
      operationId: VirtualWans_CreateOrUpdate
      parameters:
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group name of the VirtualWan.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the VirtualWAN being created or updated.
          in: path
          name: VirtualWANName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: Parameters supplied to create or update VirtualWAN.
          in: body
          name: WANParameters
          required: true
          schema:
            $ref: "#/definitions/VirtualWAN"
      responses:
        "200":
          description: Request successful. Returns the details of the VirtualWAN created or updated.
          schema:
            $ref: "#/definitions/VirtualWAN"
        "201":
          description: Create successful. The operation returns the resulting VirtualWAN resource.
          schema:
            $ref: "#/definitions/VirtualWAN"
        default:
          description: Error
          schema:
            properties:
              code:
                type: string
              details:
                items:
                  properties:
                    code:
                      type: string
                    message:
                      type: string
                    target:
                      type: string
                type: array
              innerError:
                type: string
              message:
                type: string
              target:
                type: string
      x-ms-examples:
        VirtualWANCreate:
          parameters:
            VirtualWANName: wan1
            WANParameters:
              location: West US
              properties:
                disableVpnEncryption: false
              tags:
                key1: value1
            api-version: 2018-11-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1
                location: West US
                name: wan1
                properties:
                  disableVpnEncryption: false
                  provisioningState: Succeeded
                  virtualHubs:
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub1
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub2
                  vpnSites:
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite1
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite2
                tags:
                  key1: value1
                type: Microsoft.Network/virtualWANs
            "201":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWANs/wan1
                location: West US
                name: wan1
                properties:
                  disableVpnEncryption: false
                  provisioningState: Succeeded
                  virtualHubs:
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub1
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualHubs/hub2
                  vpnSites:
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite1
                    - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/vpnSite2
                tags:
                  key1: value1
                type: Microsoft.Network/virtualWANs
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualWans/{virtualWANName}/supportedSecurityProviders":
    get:
      description: Gives the supported security providers for the virtual wan.
      operationId: SupportedSecurityProviders
      parameters:
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the VirtualWAN for which supported security providers are needed.
          in: path
          name: virtualWANName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: Request successful. Returns the object containing supported security providers.
          schema:
            $ref: "#/definitions/VirtualWanSecurityProviders"
        default:
          description: Error
          schema:
            properties:
              code:
                type: string
              details:
                items:
                  properties:
                    code:
                      type: string
                    message:
                      type: string
                    target:
                      type: string
                type: array
              innerError:
                type: string
              message:
                type: string
              target:
                type: string
      x-ms-examples:
        supportedSecurityProviders:
          parameters:
            api-version: 2018-11-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualWANName: wan1
          responses:
            "200":
              body:
                supportedProviders:
                  - name: AzureFirewall
                    type: Native
                    url: ""
              description: Request successful.
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualWans/{virtualWANName}/vpnConfiguration":
    post:
      description: Gives the sas-url to download the configurations for vpn-sites in a resource group.
      operationId: VpnSitesConfiguration_Download
      parameters:
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the VirtualWAN for which configuration of all vpn-sites is needed.
          in: path
          name: virtualWANName
          required: true
          type: string
        - description: Parameters supplied to download vpn-sites configuration.
          in: body
          name: request
          required: true
          schema:
            $ref: "#/definitions/GetVpnSitesConfigurationRequest"
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: Request successful. Follow the location header for sas-url to output blob.
        "202":
          description: Accepted and the operation will complete asynchronously. Follow the location header for sas-url to output blob.
        default:
          description: Error
          schema:
            properties:
              code:
                type: string
              details:
                items:
                  properties:
                    code:
                      type: string
                    message:
                      type: string
                    target:
                      type: string
                type: array
              innerError:
                type: string
              message:
                type: string
              target:
                type: string
      x-ms-examples:
        VpnSitesConfigurationDownload:
          parameters:
            api-version: 2018-11-01
            request:
              outputBlobSasUrl: https://blobcortextesturl.blob.core.windows.net/folderforconfig/vpnFile?sp=rw&se=2018-01-10T03%3A42%3A04Z&sv=2017-04-17&sig=WvXrT5bDmDFfgHs%2Brz%2BjAu123eRCNE9BO0eQYcPDT7pY%3D&sr=b
              vpnSites:
                - /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/vpnSites/abc
            resourceGroupName: rg1
            subscriptionId: subid
            virtualWANName: wan1
          responses:
            "200":
              description: Request successful. Follow the location header for sas-url to output blob.
            "202":
              description: Accepted and the operation will complete asynchronously.
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualWans/{virtualWanName}/p2sVpnServerConfigurations":
    get:
      description: Retrieves all P2SVpnServerConfigurations for a particular VirtualWan.
      operationId: P2sVpnServerConfigurations_ListByVirtualWan
      parameters:
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group name of the VirtualWan.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the VirtualWan.
          in: path
          name: virtualWanName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: Request successful. Returns all P2SVpnServerConfigurations for a VirtualWan.
          schema:
            $ref: "#/definitions/ListP2SVpnServerConfigurationsResult"
        default:
          description: Error
          schema:
            properties:
              code:
                type: string
              details:
                items:
                  properties:
                    code:
                      type: string
                    message:
                      type: string
                    target:
                      type: string
                type: array
              innerError:
                type: string
              message:
                type: string
              target:
                type: string
      x-ms-examples:
        P2SVpnServerConfigurationList:
          parameters:
            api-version: 2018-11-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualWanName: virtualWan1
          responses:
            "200":
              body:
                - etag: w/\00000000-0000-0000-0000-000000000000\
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1
                  name: p2sVpnServerConfiguration1
                  properties:
                    p2SVpnServerConfigRadiusClientRootCertificates:
                      - etag: w/\00000000-0000-0000-0000-000000000000\
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1/p2sVpnServerConfigRadiusClientRootCertificates/p2sVpnServerConfigRadiusClientRootCert1
                        name: p2sVpnServerConfigRadiusClientRootCert1
                        properties:
                          provisioningState: Succeeded
                          thumbprint: 83FFBFC8848B5A5836C94D0112367E16148A286F
                        type: Microsoft.Network/virtualWans/p2sVpnServerConfigurations/p2sVpnServerConfigRadiusClientRootCertificates
                    p2SVpnServerConfigRadiusServerRootCertificates:
                      - etag: w/\00000000-0000-0000-0000-000000000000\
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1/p2sVpnServerConfigRadiusServerRootCertificates/p2sVpnServerConfigRadiusServerRootCert
                        name: p2sVpnServerConfigRadiusServerRootCert1
                        properties:
                          provisioningState: Succeeded
                          publicCertData: MIIC5zCCAc+gAwIBAgIQErQ0Hk4aDJxIA+Q5RagB+jANBgkqhkiG9w0BAQsFADAWMRQwEgYDVQQDDAtQMlNSb290Q2VydDAeFw0xNzEyMTQyMTA3MzhaFw0xODEyMTQyMTI3MzhaMBYxFDASBgNVBAMMC1AyU1Jvb3RDZXJ0MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEArP7/NQXmW7cQ/ZR1mv3Y3I29Lt7HTOqzo/1KUOoVH3NItbQIRAQbwKy3UWrOFz4eGNX2GWtNRMdCyWsKeqy9Ltsdfcm1IbKXkl84DFeU/ZacXu4Dl3xX3gV5du4TLZjEowJELyur11Ea2YcjPRQ/FzAF9/hGuboS1HZQEPLx4FdUs9OxCYOtc0MxBCwLfVTTRqarb0Ne+arNYd4kCzIhAke1nOyKAJBda5ZL+VHy3S5S8qGlD46jm8HXugmAkUygS4oIIXOmj/1O9sNAi3LN60zufSzCmP8Rm/iUGX+DHAGGiXxwZOKQLEDaZXKqoHjMPP0XudmSWwOIbyeQVrLhkwIDAQABozEwLzAOBgNVHQ8BAf8EBAMCAgQwHQYDVR0OBBYEFEfeNU2trYxNLF9ONmuJUsT13pKDMA0GCSqGSIb3DQEBCwUAA4IBAQBmM6RJzsGGipxyMhimHKN2xlkejhVsgBoTAhOU0llW9aUSwINJ9zFUGgI8IzUFy1VG776fchHp0LMRmPSIUYk5btEPxbsrPtumPuMH8EQGrS+Rt4pD+78c8H1fEPkq5CmDl/PKu4JoFGv+aFcE+Od0hlILstIF10Qysf++QXDolKfzJa/56bgMeYKFiju73loiRM57ns8ddXpfLl792UVpRkFU62LNns6Y1LKTwapmUF4IvIuAIzd6LZNOQng64LAKXtKnViJ1JQiXwf4CEzhgvAti3/ejpb3U90hsrUcyZi6wBv9bZLcAJRWpz61JNYliM1d1grSwQDKGXNQE4xuM
                        type: Microsoft.Network/virtualWans/p2sVpnServerConfigurations/p2sVpnServerConfigRadiusServerRootCertificates
                    p2SVpnServerConfigVpnClientRevokedCertificates:
                      - etag: w/\00000000-0000-0000-0000-000000000000\
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1/p2sVpnServerConfigVpnClientRevokedCertificates/VpnClientRevokedCert2
                        name: p2sVpnServerConfigVpnClientRevokedCert1
                        properties:
                          provisioningState: Succeeded
                          thumbprint: 83FFBFC8848B5A5836C94D0112367E16148A286F
                        type: Microsoft.Network/virtualWans/p2sVpnServerConfigurations/p2sVpnServerConfigVpnClientRevokedCertificates
                    p2SVpnServerConfigVpnClientRootCertificates:
                      - etag: w/\00000000-0000-0000-0000-000000000000\
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualWans/virtualWan1/p2sVpnServerConfigurations/p2sVpnServerConfiguration1/p2sVpnServerConfigVpnClientRootCertificates/p2sVpnServerConfigVpnClientRootCert1
                        name: p2sVpnServerConfigVpnClientRootCert1
                        properties:
                          provisioningState: Succeeded
                          publicCertData: MIIC5zCCAc+gAwIBAgIQErQ0Hk4aDJxIA+Q5RagB+jANBgkqhkiG9w0BAQsFADAWMRQwEgYDVQQDDAtQMlNSb290Q2VydDAeFw0xNzEyMTQyMTA3MzhaFw0xODEyMTQyMTI3MzhaMBYxFDASBgNVBAMMC1AyU1Jvb3RDZXJ0MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEArP7/NQXmW7cQ/ZR1mv3Y3I29Lt7HTOqzo/1KUOoVH3NItbQIRAQbwKy3UWrOFz4eGNX2GWtNRMdCyWsKeqy9Ltsdfcm1IbKXkl84DFeU/ZacXu4Dl3xX3gV5du4TLZjEowJELyur11Ea2YcjPRQ/FzAF9/hGuboS1HZQEPLx4FdUs9OxCYOtc0MxBCwLfVTTRqarb0Ne+arNYd4kCzIhAke1nOyKAJBda5ZL+VHy3S5S8qGlD46jm8HXugmAkUygS4oIIXOmj/1O9sNAi3LN60zufSzCmP8Rm/iUGX+DHAGGiXxwZOKQLEDaZXKqoHjMPP0XudmSWwOIbyeQVrLhkwIDAQABozEwLzAOBgNVHQ8BAf8EBAMCAgQwHQYDVR0OBBYEFEfeNU2trYxNLF9ONmuJUsT13pKDMA0GCSqGSIb3DQEBCwUAA4IBAQBmM6RJzsGGipxyMhimHKN2xlkejhVsgBoTAhOU0llW9aUSwINJ9zFUGgI8IzUFy1VG776fchHp0LMRmPSIUYk5btEPxbsrPtumPuMH8EQGrS+Rt4pD+78c8H1fEPkq5CmDl/PKu4JoFGv+aFcE+Od0hlILstIF10Qysf++QXDolKfzJa/56bgMeYKFiju73loiRM57ns8ddXpfLl792UVpRkFU62LNns6Y1LKTwapmUF4IvIuAIzd6LZNOQng64LAKXtKnViJ1JQiXwf4CEzhgvAti3/ejpb3U90hsrUcyZi6wBv9bZLcAJRWpz61JNYliM1d1grSwQDKGXNQE4xuN
[...]
