openapi: 3.0.0
servers:
  - url: https://api.pandascore.co/
    variables: {}
info:
  description: |
    
    # Introduction

    Whether you're looking to build an official Pandascore integration for your service, or you just want to build something awesome, [we can help you get started](/home).

    The API works over the HTTPS protocol, and is accessed from the `api.pandascore.co` domain.

    - The current endpoint is [https://api.pandascore.co](https://api.pandascore.co).
    - All data is sent and received as JSON by default.
    - Blank fields are included with `null` values instead of being omitted.
    - All timestamps are returned in ISO-8601 format

    ### About this documentation

    Clicking on a query parameter like `filter` or `search` will show you the available options: ![filter](/doc/images/query_param_details.jpg)

    You can also click on a response to see the detailed response schema: ![response](/doc/images/response_schema.jpg)

    ## Events hierarchy

    The PandaScore API allows you to access data about eSports events by using a certain structure detailed below.

    **Leagues**

    Leagues are the top level events. They don't have a date and represent a regular competition. A League is composed of one or several series.  
    Some League of Legends leagues are: _EU LCS, NA LCS, LCK, etc._  
    Some Dota 2 leagues are: _ESL One, GESC, The International, PGL, etc._

    **Series**

    A Serie represents an occurrence of a league event.  
    The EU LCS league has two series per year: _spring 2017, summer 2017, spring 2016, summer 2016 etc._  
    Some Dota2 Series examples would be: _Changsha Major, Open Bucharest, Frankfurt, i-League Invitational etc._

    **Tournaments**

    Tournaments groups all the matches of a serie under "stages" and "groups".  
    The tournaments of the EU LCS of summer 2017 are: _Group A, Group B, Playoffs, etc._  
    Some Dota 2 tournaments are: _Group A, Group B, Playoffs, etc._

    **Matches**

    Finally we have matches which have two players or teams (depending on the played videogame) and several games (the rounds of the match).  
    Matches of the group A in the EU LCS of summer 2017 are: _G2 vs FNC, MSF vs NIP, etc._  
    Matches of the group A in the ESL One, Genting tournamnet are: _Lower Round 1, Quarterfinal, Upper Final, etc._  

    **Please note that some matches may be listed as "TBD vs TBD" if the matchup is not announced yet, for example the date of the Final match is known but the quarterfinal is still being played.**  
    ![Structure](/doc/images/structure.png)

    ## Formats

    &lt;!-- The API currently supports the JSON format by default, as well as the XML format. Add the desired extension to your request URL in order to get that format. --&gt;
    The API currently supports the JSON format by default.

    Other formats may be added depending on user needs.

    ## Pagination

    The Pandascore API paginates all resources on the index method.

    Requests that return multiple items will be paginated to 50 items by default. You can specify further pages with the `page[number]` parameter. You can also set a custom page size (up to 100) with the `page[size]` parameter.

    The `Link` HTTP response header contains pagination data with `first`, `previous`, `next` and `last` raw page links when available, under the format

    ```
    Link: &lt;https://api.pandascore.co/{Resource}?page=X+1&gt;; rel="next", &lt;https://api.pandascore.co/{Resource}?page=X-1&gt;; rel="prev", &lt;https://api.pandascore.co/{Resource}?page=1&gt;; rel="first", &lt;https://api.pandascore.co/{Resource}?page=X+n&gt;; rel="last"
    ```

    There is also:

    * A `X-Page` header field, which contains the current page.
    * A `X-Per-Page` header field, which contains the current pagination length.
    * A `X-Total` header field, which contains the total count of items across all pages.

    ## Filtering

    The `filter` query parameter can be used to filter a collection by one or several fields for one or several values. The `filter` parameter takes the field to filter as a key, and the values to filter as the value. Multiples values must be comma-separated (`,`).

    For example, the following is a request for all the champions with a name matching Twitch or Brand exactly, but only with 21 armor:

    ```
    GET /lol/champions?filter[name]=Brand,Twitch&amp;filter[armor]=21&amp;token=YOUR_ACCESS_TOKEN
    ```

    ## Range

    The `range` parameter is a hash that allows filtering fields by an interval.
    Only values between the given two comma-separated bounds will be returned. The bounds are inclusive.

    For example, the following is a request for all the champions with `hp` within 500 and 1000:

    ```
    GET /lol/champions?range[hp]=500,1000&amp;token=YOUR_ACCESS_TOKEN
    ```

    ## Search

    The `search` parameter is a bit like the `filter` parameter, but it will return all results where the values **contain** the given parameter.

    Note: this only works on strings.
    Searching with integer values is not supported and `filter` or `range` parameters may be better suited for your needs here.

    For example, to get all the champions with a name containing `"twi"`:

    ```
    $ curl -sg -H 'Authorization: Bearer YOUR_ACCESS_TOKEN' 'https://api.pandascore.co/lol/champions?search[name]=twi' | jq -S '.[].name'
    "Twitch"
    "Twisted Fate"
    ```

    ## Sorting

    All index endpoints support multiple sort fields with comma-separation (`,`); the fields are applied in the order specified.

    The sort order for each field is ascending unless it is prefixed with a minus (U+002D HYPHEN-MINUS, “-“), in which case it is descending.

    For example, `GET /lol/champions?sort=attackdamage,-name&amp;token=YOUR_ACCESS_TOKEN` will return all the champions sorted by attack damage.
    Any champions with the same attack damage will then be sorted by their names in descending alphabetical order.

    ## Rate limiting

    Depending on your current plan, you will have a different rate limit. Your plan and your current request count [are available on your dashboard](https://pandascore.co/settings).

    With the **free plan**, you have a limit of 1000 requests per hour, others plans have a limit of 4000 requests per hour. The number of remaining requests is available in the `X-Rate-Limit-Remaining` response header.

    Your API key is included in all the examples on this page, so you can test any example right away. **Only you can see this value.**

    # Authentication

    The authentication on the Pandascore API works with access tokens.

    All developers need to [create an account](https://pandascore.co/users/sign_in) before getting started, in order to get an access token. The access token should not be shared.

    **Your token can be found and regenerated from [your dashboard](https://pandascore.co/settings).**

    The access token can be passed in the URL with the `token` query string parameter, or in the `Authorization: Bearer` header field.

    &lt;!-- ReDoc-Inject: &lt;security-definitions&gt; --&gt;
  title: PandaScore REST API for All Videogames
  version: 2.23.1
  x-apisguru-categories:
    - entertainment
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_pandascore.co_apple-touch-icon.png
  x-origin:
    - format: openapi
      url: blob:https://developers.pandascore.co/blobId
      version: "3.0"
  x-providerName: pandascore.co
security:
  - BearerToken: []
  - QueryToken: []
tags: []
paths:
  /additions:
    get:
      description: |-
        Get the latest additions.

        This endpoint only shows unchanged objects.
      operationId: get_additions
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
        - description: Filter by result type(s)
          in: query
          name: type
          required: false
          schema:
            $ref: "#/components/schemas/type_over_AdditionIncidents"
        - description: Filter out older results
          in: query
          name: since
          required: false
          schema:
            $ref: "#/components/schemas/IncidentModifiedAt"
        - description: Filter by videogame(s)
          in: query
          name: videogame
          required: false
          schema:
            $ref: "#/components/schemas/videogame_over_AdditionIncidents"
      responses:
        "200":
          $ref: "#/components/responses/AdditionIncidents"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: List additions
      tags:
        - Incidents
  /changes:
    get:
      description: |-
        Get the latest updates.

        This endpoint only provides the latest change for an object. It does not keep track of previous changes.
      operationId: get_changes
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
        - description: Filter by result type(s)
          in: query
          name: type
          required: false
          schema:
            $ref: "#/components/schemas/type_over_ChangeIncidents"
        - description: Filter out older results
          in: query
          name: since
          required: false
          schema:
            $ref: "#/components/schemas/IncidentModifiedAt"
        - description: Filter by videogame(s)
          in: query
          name: videogame
          required: false
          schema:
            $ref: "#/components/schemas/videogame_over_ChangeIncidents"
      responses:
        "200":
          $ref: "#/components/responses/ChangeIncidents"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: List changes
      tags:
        - Incidents
  /deletions:
    get:
      description: Get the latest deleted documents
      operationId: get_deletions
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
        - description: Filter by result type(s)
          in: query
          name: type
          required: false
          schema:
            $ref: "#/components/schemas/type_over_DeletionIncidents"
        - description: Filter out older results
          in: query
          name: since
          required: false
          schema:
            $ref: "#/components/schemas/IncidentModifiedAt"
        - description: Filter by videogame(s)
          in: query
          name: videogame
          required: false
          schema:
            $ref: "#/components/schemas/videogame_over_DeletionIncidents"
      responses:
        "200":
          $ref: "#/components/responses/DeletionIncidents"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: List deletions
      tags:
        - Incidents
  /incidents:
    get:
      description: |2-
         Get the latest updates and additions.

        This endpoint only provides the latest incident for an object. It does not keep track of previous incidents.
      operationId: get_incidents
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
        - description: Filter by result type(s)
          in: query
          name: type
          required: false
          schema:
            $ref: "#/components/schemas/type_over_Incidents"
        - description: Filter out older results
          in: query
          name: since
          required: false
          schema:
            $ref: "#/components/schemas/IncidentModifiedAt"
        - description: Filter by videogame(s)
          in: query
          name: videogame
          required: false
          schema:
            $ref: "#/components/schemas/videogame_over_Incidents"
      responses:
        "200":
          $ref: "#/components/responses/Incidents"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: List changes, additions and deletions
      tags:
        - Incidents
  /leagues:
    get:
      description: List leagues
      operationId: get_leagues
      parameters:
        - description: Options to search results
          example:
            name: Contenders
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_Leagues"
          style: deepObject
        - description: Options to sort results
          example:
            - name
            - -modified_at
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_Leagues"
        - description: Options to select results within ranges
          example:
            modified_at:
              - 2019-04-08T17:00:00Z
              - 2019-10-08T22:00:00Z
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_Leagues"
          style: deepObject
        - description: Options to filter results. String fields are case sensitive
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_Leagues"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/Leagues"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: List leagues
      tags:
        - Leagues
  "/leagues/{league_id_or_slug}":
    get:
      description: Get a single league by ID or by slug
      operationId: get_leagues_leagueIdOrSlug
      parameters:
        - description: A league ID or slug
          in: path
          name: league_id_or_slug
          required: true
          schema:
            $ref: "#/components/schemas/LeagueIDOrSlug"
      responses:
        "200":
          $ref: "#/components/responses/League"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get a league
      tags:
        - Leagues
  "/leagues/{league_id_or_slug}/matches":
    get:
      description: List matches of the given league
      operationId: get_leagues_leagueIdOrSlug_matches
      parameters:
        - description: A league ID or slug
          in: path
          name: league_id_or_slug
          required: true
          schema:
            $ref: "#/components/schemas/LeagueIDOrSlug"
        - description: Options to filter results. String fields are case sensitive
          example:
            detailed_stats: true
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_Matches"
          style: deepObject
        - description: Options to search results
          example:
            name: Finals
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_Matches"
          style: deepObject
        - description: Options to sort results
          example:
            - tournament_id
            - scheduled_at
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_Matches"
        - description: Options to select results within ranges
          example:
            begin_at:
              - 2019-04-08T17:00:00Z
              - 2019-10-08T22:00:00Z
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_Matches"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/Matches"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get matches for a league
      tags:
        - Leagues
  "/leagues/{league_id_or_slug}/matches/past":
    get:
      description: List past matches for the given league
      operationId: get_leagues_leagueIdOrSlug_matches_past
      parameters:
        - description: A league ID or slug
          in: path
          name: league_id_or_slug
          required: true
          schema:
            $ref: "#/components/schemas/LeagueIDOrSlug"
        - description: Options to filter results. String fields are case sensitive
          example:
            detailed_stats: true
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_Matches"
          style: deepObject
        - description: Options to search results
          example:
            name: Finals
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_Matches"
          style: deepObject
        - description: Options to sort results
          example:
            - tournament_id
            - scheduled_at
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_Matches"
        - description: Options to select results within ranges
          example:
            begin_at:
              - 2019-04-08T17:00:00Z
              - 2019-10-08T22:00:00Z
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_Matches"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/Matches"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get past matches for league
      tags:
        - Leagues
  "/leagues/{league_id_or_slug}/matches/running":
    get:
      description: List currently running matches for the given league
      operationId: get_leagues_leagueIdOrSlug_matches_running
      parameters:
        - description: A league ID or slug
          in: path
          name: league_id_or_slug
          required: true
          schema:
            $ref: "#/components/schemas/LeagueIDOrSlug"
        - description: Options to filter results. String fields are case sensitive
          example:
            detailed_stats: true
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_Matches"
          style: deepObject
        - description: Options to search results
          example:
            name: Finals
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_Matches"
          style: deepObject
        - description: Options to sort results
          example:
            - tournament_id
            - scheduled_at
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_Matches"
        - description: Options to select results within ranges
          example:
            begin_at:
              - 2019-04-08T17:00:00Z
              - 2019-10-08T22:00:00Z
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_Matches"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/Matches"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get running matches for league
      tags:
        - Leagues
  "/leagues/{league_id_or_slug}/matches/upcoming":
    get:
      description: List upcoming matches for the given league
      operationId: get_leagues_leagueIdOrSlug_matches_upcoming
      parameters:
        - description: A league ID or slug
          in: path
          name: league_id_or_slug
          required: true
          schema:
            $ref: "#/components/schemas/LeagueIDOrSlug"
        - description: Options to filter results. String fields are case sensitive
          example:
            detailed_stats: true
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_Matches"
          style: deepObject
        - description: Options to search results
          example:
            name: Finals
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_Matches"
          style: deepObject
        - description: Options to sort results
          example:
            - tournament_id
            - scheduled_at
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_Matches"
        - description: Options to select results within ranges
          example:
            begin_at:
              - 2019-04-08T17:00:00Z
              - 2019-10-08T22:00:00Z
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_Matches"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/Matches"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get upcoming matches for league
      tags:
        - Leagues
  "/leagues/{league_id_or_slug}/series":
    get:
      description: List series for the given league
      operationId: get_leagues_leagueIdOrSlug_series
      parameters:
        - description: A league ID or slug
          in: path
          name: league_id_or_slug
          required: true
          schema:
            $ref: "#/components/schemas/LeagueIDOrSlug"
        - description: Options to filter results. String fields are case sensitive
          example:
            winner_id: 390
            winner_type: Team
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_Series"
          style: deepObject
        - description: Options to search results
          example:
            slug: lck
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_Series"
          style: deepObject
        - description: Options to sort results
          example:
            - year
            - -modified_at
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_Series"
        - description: Options to select results within ranges
          example:
            begin_at:
              - 2019-04-08T17:00:00Z
              - 2019-10-08T22:00:00Z
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_Series"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/Series"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: List series of a league
      tags:
        - Leagues
  "/leagues/{league_id_or_slug}/tournaments":
    get:
      description: List tournaments of the given league
      operationId: get_leagues_leagueIdOrSlug_tournaments
      parameters:
        - description: A league ID or slug
          in: path
          name: league_id_or_slug
          required: true
          schema:
            $ref: "#/components/schemas/LeagueIDOrSlug"
        - description: Options to filter results. String fields are case sensitive
          example:
            serie_id: 1808
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_ShortTournaments"
          style: deepObject
        - description: Options to search results
          example:
            name: group
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_ShortTournaments"
          style: deepObject
        - description: Options to sort results
          example:
            - serie_id
            - -begin_at
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_ShortTournaments"
        - description: Options to select results within ranges
          example:
            begin_at:
              - 2019-04-08T17:00:00Z
              - 2019-10-08T22:00:00Z
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_ShortTournaments"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/ShortTournaments"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get tournaments for a league
      tags:
        - Leagues
  /lives:
    get:
      description: List currently running live matches, available from pandascore with live websocket data.
      operationId: get_lives
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/Lives"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: List lives matches
      tags:
        - Matches
        - Lives
  /matches:
    get:
      description: List matches
      operationId: get_matches
      parameters:
        - description: Options to filter results. String fields are case sensitive
          example:
            detailed_stats: true
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_Matches"
          style: deepObject
        - description: Options to search results
          example:
            name: Finals
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_Matches"
          style: deepObject
        - description: Options to sort results
          example:
            - tournament_id
            - scheduled_at
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_Matches"
        - description: Options to select results within ranges
          example:
            begin_at:
              - 2019-04-08T17:00:00Z
              - 2019-10-08T22:00:00Z
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_Matches"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/Matches"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: List matches
      tags:
        - Matches
  /matches/past:
    get:
      description: List past matches
      operationId: get_matches_past
      parameters:
        - description: Options to filter results. String fields are case sensitive
          example:
            detailed_stats: true
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_Matches"
          style: deepObject
        - description: Options to search results
          example:
            name: Finals
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_Matches"
          style: deepObject
        - description: Options to sort results
          example:
            - tournament_id
            - scheduled_at
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_Matches"
        - description: Options to select results within ranges
          example:
            begin_at:
              - 2019-04-08T17:00:00Z
              - 2019-10-08T22:00:00Z
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_Matches"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/Matches"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get past matches
      tags:
        - Matches
  /matches/running:
    get:
      description: List currently running matches
      operationId: get_matches_running
      parameters:
        - description: Options to filter results. String fields are case sensitive
          example:
            detailed_stats: true
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_Matches"
          style: deepObject
        - description: Options to search results
          example:
            name: Finals
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_Matches"
          style: deepObject
        - description: Options to sort results
          example:
            - tournament_id
            - scheduled_at
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_Matches"
        - description: Options to select results within ranges
          example:
            begin_at:
              - 2019-04-08T17:00:00Z
              - 2019-10-08T22:00:00Z
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_Matches"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/Matches"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get running matches
      tags:
        - Matches
  /matches/upcoming:
    get:
      description: List upcoming matches
      operationId: get_matches_upcoming
      parameters:
        - description: Options to filter results. String fields are case sensitive
          example:
            detailed_stats: true
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_Matches"
          style: deepObject
        - description: Options to search results
          example:
            name: Finals
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_Matches"
          style: deepObject
        - description: Options to sort results
          example:
            - tournament_id
            - scheduled_at
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_Matches"
        - description: Options to select results within ranges
          example:
            begin_at:
              - 2019-04-08T17:00:00Z
              - 2019-10-08T22:00:00Z
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_Matches"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/Matches"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get upcoming matches
      tags:
        - Matches
  "/matches/{match_id_or_slug}":
    get:
      description: Get a single match by ID or by slug
      operationId: get_matches_matchIdOrSlug
      parameters:
        - description: A match ID or slug
          in: path
          name: match_id_or_slug
          required: true
          schema:
            $ref: "#/components/schemas/MatchIDOrSlug"
      responses:
        "200":
          $ref: "#/components/responses/Match"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get a match
      tags:
        - Matches
  "/matches/{match_id_or_slug}/opponents":
    get:
      description: List opponents (player or teams) for the given match
      operationId: get_matches_matchIdOrSlug_opponents
      parameters:
        - description: A match ID or slug
          in: path
          name: match_id_or_slug
          required: true
          schema:
            $ref: "#/components/schemas/MatchIDOrSlug"
      responses:
        "200":
          $ref: "#/components/responses/MatchOpponentsObject"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get match's opponents
      tags:
        - Matches
  /players:
    get:
      description: List players
      operationId: get_players
      parameters:
        - description: Options to filter results. String fields are case sensitive
          example:
            hometown: France
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_Players"
          style: deepObject
        - description: Options to search results
          example:
            role: tank
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_Players"
          style: deepObject
        - description: Options to sort results
          example:
            - last_name
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_Players"
        - description: Options to select results within ranges
          example:
            name:
              - f
              - i
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_Players"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/Players"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: List players
      tags:
        - Players
  "/players/{player_id_or_slug}":
    get:
      description: Get a single player by ID or by slug
      operationId: get_players_playerIdOrSlug
      parameters:
        - description: A player ID or slug
          in: path
          name: player_id_or_slug
          required: true
          schema:
            $ref: "#/components/schemas/PlayerIDOrSlug"
      responses:
        "200":
          $ref: "#/components/responses/Player"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get a player
      tags:
        - Players
  "/players/{player_id_or_slug}/matches":
    get:
      description: List matches for the given player. Only matches with detailed stats. Available with the plan _Historical data_.
      operationId: get_players_playerIdOrSlug_matches
      parameters:
        - description: A player ID or slug
          in: path
          name: player_id_or_slug
          required: true
          schema:
            $ref: "#/components/schemas/PlayerIDOrSlug"
        - description: Options to filter results. String fields are case sensitive
          example:
            detailed_stats: true
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_Matches"
          style: deepObject
        - description: Options to search results
          example:
            name: Finals
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_Matches"
          style: deepObject
        - description: Options to sort results
          example:
            - tournament_id
            - scheduled_at
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_Matches"
        - description: Options to select results within ranges
          example:
            begin_at:
              - 2019-04-08T17:00:00Z
              - 2019-10-08T22:00:00Z
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_Matches"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/Matches"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get matches for a player
      tags:
        - Players
  /series:
    get:
      description: List series
      operationId: get_series
      parameters:
        - description: Options to filter results. String fields are case sensitive
          example:
            winner_id: 390
            winner_type: Team
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_Series"
          style: deepObject
        - description: Options to search results
          example:
            slug: lck
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_Series"
          style: deepObject
        - description: Options to sort results
          example:
            - year
            - -modified_at
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_Series"
        - description: Options to select results within ranges
          example:
            begin_at:
              - 2019-04-08T17:00:00Z
              - 2019-10-08T22:00:00Z
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_Series"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/Series"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: List series
      tags:
        - Series
  /series/past:
    get:
      description: List past series
      operationId: get_series_past
      parameters:
        - description: Options to filter results. String fields are case sensitive
          example:
            winner_id: 390
            winner_type: Team
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_Series"
          style: deepObject
        - description: Options to search results
          example:
            slug: lck
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_Series"
          style: deepObject
        - description: Options to sort results
          example:
            - year
            - -modified_at
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_Series"
        - description: Options to select results within ranges
          example:
            begin_at:
              - 2019-04-08T17:00:00Z
              - 2019-10-08T22:00:00Z
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_Series"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/Series"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get past series
      tags:
        - Series
  /series/running:
    get:
      description: List currently running series
      operationId: get_series_running
      parameters:
        - description: Options to filter results. String fields are case sensitive
          example:
            winner_id: 390
            winner_type: Team
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_Series"
          style: deepObject
        - description: Options to search results
          example:
            slug: lck
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_Series"
          style: deepObject
        - description: Options to sort results
          example:
            - year
            - -modified_at
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_Series"
        - description: Options to select results within ranges
          example:
            begin_at:
              - 2019-04-08T17:00:00Z
              - 2019-10-08T22:00:00Z
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_Series"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/Series"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get running series
      tags:
        - Series
  /series/upcoming:
    get:
      description: List upcoming series
      operationId: get_series_upcoming
      parameters:
        - description: Options to filter results. String fields are case sensitive
          example:
            winner_id: 390
            winner_type: Team
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_Series"
          style: deepObject
        - description: Options to search results
          example:
            slug: lck
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_Series"
          style: deepObject
        - description: Options to sort results
          example:
            - year
            - -modified_at
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_Series"
        - description: Options to select results within ranges
          example:
            begin_at:
              - 2019-04-08T17:00:00Z
              - 2019-10-08T22:00:00Z
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_Series"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/Series"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get upcoming series
      tags:
        - Series
  "/series/{serie_id_or_slug}":
    get:
      description: Get a single serie by ID or by slug
      operationId: get_series_serieIdOrSlug
      parameters:
        - description: A serie ID or slug
          in: path
          name: serie_id_or_slug
          required: true
          schema:
            $ref: "#/components/schemas/SerieIDOrSlug"
      responses:
        "200":
          $ref: "#/components/responses/Serie"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get a serie
      tags:
        - Series
  "/series/{serie_id_or_slug}/matches":
    get:
      description: List matches of the given serie
      operationId: get_series_serieIdOrSlug_matches
      parameters:
        - description: A serie ID or slug
          in: path
          name: serie_id_or_slug
          required: true
          schema:
            $ref: "#/components/schemas/SerieIDOrSlug"
        - description: Options to filter results. String fields are case sensitive
          example:
            detailed_stats: true
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_Matches"
          style: deepObject
        - description: Options to search results
          example:
            name: Finals
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_Matches"
          style: deepObject
        - description: Options to sort results
          example:
            - tournament_id
            - scheduled_at
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_Matches"
        - description: Options to select results within ranges
          example:
            begin_at:
              - 2019-04-08T17:00:00Z
              - 2019-10-08T22:00:00Z
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_Matches"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/Matches"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get matches for a serie
      tags:
        - Series
  "/series/{serie_id_or_slug}/matches/past":
    get:
      description: List past matches for the given serie
      operationId: get_series_serieIdOrSlug_matches_past
      parameters:
        - description: A serie ID or slug
          in: path
          name: serie_id_or_slug
          required: true
          schema:
            $ref: "#/components/schemas/SerieIDOrSlug"
        - description: Options to filter results. String fields are case sensitive
          example:
            detailed_stats: true
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_Matches"
          style: deepObject
        - description: Options to search results
          example:
            name: Finals
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_Matches"
          style: deepObject
        - description: Options to sort results
          example:
            - tournament_id
            - scheduled_at
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_Matches"
        - description: Options to select results within ranges
          example:
            begin_at:
              - 2019-04-08T17:00:00Z
              - 2019-10-08T22:00:00Z
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_Matches"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/Matches"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get past matches for serie
      tags:
        - Series
  "/series/{serie_id_or_slug}/matches/running":
    get:
      description: List currently running matches for the given serie
      operationId: get_series_serieIdOrSlug_matches_running
      parameters:
        - description: A serie ID or slug
          in: path
          name: serie_id_or_slug
          required: true
          schema:
            $ref: "#/components/schemas/SerieIDOrSlug"
        - description: Options to filter results. String fields are case sensitive
          example:
            detailed_stats: true
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_Matches"
          style: deepObject
        - description: Options to search results
          example:
            name: Finals
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_Matches"
          style: deepObject
        - description: Options to sort results
          example:
            - tournament_id
            - scheduled_at
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_Matches"
        - description: Options to select results within ranges
          example:
            begin_at:
              - 2019-04-08T17:00:00Z
              - 2019-10-08T22:00:00Z
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_Matches"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/Matches"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get running matches for serie
      tags:
        - Series
  "/series/{serie_id_or_slug}/matches/upcoming":
    get:
      description: List upcoming matches for the given serie
      operationId: get_series_serieIdOrSlug_matches_upcoming
      parameters:
        - description: A serie ID or slug
          in: path
          name: serie_id_or_slug
          required: true
          schema:
            $ref: "#/components/schemas/SerieIDOrSlug"
        - description: Options to filter results. String fields are case sensitive
          example:
            detailed_stats: true
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_Matches"
          style: deepObject
        - description: Options to search results
          example:
            name: Finals
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_Matches"
          style: deepObject
        - description: Options to sort results
          example:
            - tournament_id
            - scheduled_at
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_Matches"
        - description: Options to select results within ranges
          example:
            begin_at:
              - 2019-04-08T17:00:00Z
              - 2019-10-08T22:00:00Z
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_Matches"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/Matches"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get upcoming matches for serie
      tags:
        - Series
  "/series/{serie_id_or_slug}/players":
    get:
      description: List players for the given serie
      operationId: get_series_serieIdOrSlug_players
      parameters:
        - description: Options to filter results. String fields are case sensitive
          example:
            hometown: France
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_Players"
          style: deepObject
        - description: Options to search results
          example:
            role: tank
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_Players"
          style: deepObject
        - description: Options to sort results
          example:
            - last_name
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_Players"
        - description: Options to select results within ranges
          example:
            name:
              - f
              - i
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_Players"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
        - description: Automatically added
          in: path
          name: serie_id_or_slug
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Players"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get players for a serie
      tags:
        - Series
  "/series/{serie_id_or_slug}/tournaments":
    get:
      description: List tournaments of the given serie
      operationId: get_series_serieIdOrSlug_tournaments
      parameters:
        - description: A serie ID or slug
          in: path
          name: serie_id_or_slug
          required: true
          schema:
            $ref: "#/components/schemas/SerieIDOrSlug"
        - description: Options to filter results. String fields are case sensitive
          example:
            serie_id: 1808
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_ShortTournaments"
          style: deepObject
        - description: Options to search results
          example:
            name: group
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_ShortTournaments"
          style: deepObject
        - description: Options to sort results
          example:
            - serie_id
            - -begin_at
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_ShortTournaments"
        - description: Options to select results within ranges
          example:
            begin_at:
              - 2019-04-08T17:00:00Z
              - 2019-10-08T22:00:00Z
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_ShortTournaments"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/ShortTournaments"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get tournaments for a serie
      tags:
        - Series
  /teams:
    get:
      description: List teams
      operationId: get_teams
      parameters:
        - description: Options to filter results. String fields are case sensitive
          example:
            acronym: RNG
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_Teams"
          style: deepObject
        - description: Options to search results
          example:
            name: vitality
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_Teams"
          style: deepObject
        - description: Options to sort results
          example:
            - name
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_Teams"
        - description: Options to select results within ranges
          example:
            name:
              - vitality
              - vultur
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_Teams"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/Teams"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: List teams
      tags:
        - Teams
  "/teams/{team_id_or_slug}":
    get:
      description: Get a single team by ID or by slug
      operationId: get_teams_teamIdOrSlug
      parameters:
        - description: A team ID or slug
          in: path
          name: team_id_or_slug
          required: true
          schema:
            $ref: "#/components/schemas/TeamIDOrSlug"
      responses:
        "200":
          $ref: "#/components/responses/Team"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get a team
      tags:
        - Teams
  "/teams/{team_id_or_slug}/leagues":
    get:
      description: List leagues in which the given team was part of
      operationId: get_teams_teamIdOrSlug_leagues
      parameters:
        - description: A team ID or slug
          in: path
          name: team_id_or_slug
          required: true
          schema:
            $ref: "#/components/schemas/TeamIDOrSlug"
        - description: Options to search results
          example:
            name: Contenders
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_Leagues"
          style: deepObject
        - description: Options to sort results
          example:
            - name
            - -modified_at
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_Leagues"
        - description: Options to select results within ranges
          example:
            modified_at:
              - 2019-04-08T17:00:00Z
              - 2019-10-08T22:00:00Z
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_Leagues"
          style: deepObject
        - description: Options to filter results. String fields are case sensitive
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_Leagues"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/Leagues"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get leagues for a team
      tags:
        - Teams
  "/teams/{team_id_or_slug}/matches":
    get:
      description: List matches for the given team
      operationId: get_teams_teamIdOrSlug_matches
      parameters:
        - description: A team ID or slug
          in: path
          name: team_id_or_slug
          required: true
          schema:
            $ref: "#/components/schemas/TeamIDOrSlug"
        - description: Options to filter results. String fields are case sensitive
          example:
            detailed_stats: true
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_Matches"
          style: deepObject
        - description: Options to search results
          example:
            name: Finals
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_Matches"
          style: deepObject
        - description: Options to sort results
          example:
            - tournament_id
            - scheduled_at
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_Matches"
        - description: Options to select results within ranges
          example:
            begin_at:
              - 2019-04-08T17:00:00Z
              - 2019-10-08T22:00:00Z
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_Matches"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/Matches"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get matches for team
      tags:
        - Teams
  "/teams/{team_id_or_slug}/series":
    get:
      description: List series in which the given team was part of
      operationId: get_teams_teamIdOrSlug_series
      parameters:
        - description: A team ID or slug
          in: path
          name: team_id_or_slug
          required: true
          schema:
            $ref: "#/components/schemas/TeamIDOrSlug"
        - description: Options to filter results. String fields are case sensitive
          example:
            winner_id: 390
            winner_type: Team
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_Series"
          style: deepObject
        - description: Options to search results
          example:
            slug: lck
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_Series"
          style: deepObject
        - description: Options to sort results
          example:
            - year
            - -modified_at
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_Series"
        - description: Options to select results within ranges
          example:
            begin_at:
              - 2019-04-08T17:00:00Z
              - 2019-10-08T22:00:00Z
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_Series"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/Series"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get series for a team
      tags:
        - Teams
  "/teams/{team_id_or_slug}/tournaments":
    get:
      description: List tournaments in which the given team was part of
      operationId: get_teams_teamIdOrSlug_tournaments
      parameters:
        - description: A team ID or slug
          in: path
          name: team_id_or_slug
          required: true
          schema:
            $ref: "#/components/schemas/TeamIDOrSlug"
        - description: Options to filter results. String fields are case sensitive
          example:
            serie_id: 1808
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_ShortTournaments"
          style: deepObject
        - description: Options to search results
          example:
            name: group
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_ShortTournaments"
          style: deepObject
        - description: Options to sort results
          example:
            - serie_id
            - -begin_at
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_ShortTournaments"
        - description: Options to select results within ranges
          example:
            begin_at:
              - 2019-04-08T17:00:00Z
              - 2019-10-08T22:00:00Z
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_ShortTournaments"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/ShortTournaments"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get tournaments for a team
      tags:
        - Teams
  /tournaments:
    get:
      description: List tournaments
      operationId: get_tournaments
      parameters:
        - description: Options to filter results. String fields are case sensitive
          example:
            serie_id: 1808
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_ShortTournaments"
          style: deepObject
        - description: Options to search results
          example:
            name: group
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_ShortTournaments"
          style: deepObject
        - description: Options to sort results
          example:
            - serie_id
            - -begin_at
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_ShortTournaments"
        - description: Options to select results within ranges
          example:
            begin_at:
              - 2019-04-08T17:00:00Z
              - 2019-10-08T22:00:00Z
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_ShortTournaments"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/ShortTournaments"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: List tournaments
      tags:
        - Tournaments
  /tournaments/past:
    get:
      description: List past tournaments
      operationId: get_tournaments_past
      parameters:
        - description: Options to filter results. String fields are case sensitive
          example:
            serie_id: 1808
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_ShortTournaments"
          style: deepObject
        - description: Options to search results
          example:
            name: group
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_ShortTournaments"
          style: deepObject
        - description: Options to sort results
          example:
            - serie_id
            - -begin_at
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_ShortTournaments"
        - description: Options to select results within ranges
          example:
            begin_at:
              - 2019-04-08T17:00:00Z
              - 2019-10-08T22:00:00Z
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_ShortTournaments"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/ShortTournaments"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get past tournaments
      tags:
        - Tournaments
  /tournaments/running:
    get:
      description: List currently running tournaments
      operationId: get_tournaments_running
      parameters:
        - description: Options to filter results. String fields are case sensitive
          example:
            serie_id: 1808
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_ShortTournaments"
          style: deepObject
        - description: Options to search results
          example:
            name: group
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_ShortTournaments"
          style: deepObject
        - description: Options to sort results
          example:
            - serie_id
            - -begin_at
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_ShortTournaments"
        - description: Options to select results within ranges
          example:
            begin_at:
              - 2019-04-08T17:00:00Z
              - 2019-10-08T22:00:00Z
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_ShortTournaments"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/ShortTournaments"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get running tournaments
      tags:
        - Tournaments
  /tournaments/upcoming:
    get:
      description: List upcoming tournaments
      operationId: get_tournaments_upcoming
      parameters:
        - description: Options to filter results. String fields are case sensitive
          example:
            serie_id: 1808
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_ShortTournaments"
          style: deepObject
        - description: Options to search results
          example:
            name: group
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_ShortTournaments"
          style: deepObject
        - description: Options to sort results
          example:
            - serie_id
            - -begin_at
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_ShortTournaments"
        - description: Options to select results within ranges
          example:
            begin_at:
              - 2019-04-08T17:00:00Z
              - 2019-10-08T22:00:00Z
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_ShortTournaments"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/ShortTournaments"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get upcoming tournaments
      tags:
        - Tournaments
  "/tournaments/{tournament_id_or_slug}":
    get:
      description: Get a single tournament by ID or by slug
      operationId: get_tournaments_tournamentIdOrSlug
      parameters:
        - description: A tournament ID or slug
          in: path
          name: tournament_id_or_slug
          required: true
          schema:
            $ref: "#/components/schemas/TournamentIDOrSlug"
      responses:
        "200":
          $ref: "#/components/responses/Tournament"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get a tournament
      tags:
        - Tournaments
  "/tournaments/{tournament_id_or_slug}/brackets":
    get:
      description: Get the brackets of the given tournament
      operationId: get_tournaments_tournamentIdOrSlug_brackets
      parameters:
        - description: A tournament ID or slug
          in: path
          name: tournament_id_or_slug
          required: true
          schema:
            $ref: "#/components/schemas/TournamentIDOrSlug"
        - description: Options to filter results. String fields are case sensitive
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_Brackets"
          style: deepObject
        - description: Options to select results within ranges
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_Brackets"
          style: deepObject
        - description: Options to sort results
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_Brackets"
        - description: Options to search results
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_Brackets"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/Brackets"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get a tournament's brackets
      tags:
        - Tournaments
  "/tournaments/{tournament_id_or_slug}/matches":
    get:
      description: List matches for the given tournament
      operationId: get_tournaments_tournamentIdOrSlug_matches
      parameters:
        - description: A tournament ID or slug
          in: path
          name: tournament_id_or_slug
          required: true
          schema:
            $ref: "#/components/schemas/TournamentIDOrSlug"
        - description: Options to filter results. String fields are case sensitive
          example:
            detailed_stats: true
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_Matches"
          style: deepObject
        - description: Options to search results
          example:
            name: Finals
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_Matches"
          style: deepObject
        - description: Options to sort results
          example:
            - tournament_id
            - scheduled_at
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_Matches"
        - description: Options to select results within ranges
          example:
            begin_at:
              - 2019-04-08T17:00:00Z
              - 2019-10-08T22:00:00Z
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_Matches"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/Matches"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get matches for tournament
      tags:
        - Tournaments
  "/tournaments/{tournament_id_or_slug}/players":
    get:
      description: List players for the given tournament
      operationId: get_tournaments_tournamentIdOrSlug_players
      parameters:
        - description: Options to filter results. String fields are case sensitive
          example:
            hometown: France
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_Players"
          style: deepObject
        - description: Options to search results
          example:
            role: tank
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_Players"
          style: deepObject
        - description: Options to sort results
          example:
            - last_name
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_Players"
        - description: Options to select results within ranges
          example:
            name:
              - f
              - i
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_Players"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
        - description: Automatically added
          in: path
          name: tournament_id_or_slug
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/Players"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get players for a tournament
      tags:
        - Tournaments
  "/tournaments/{tournament_id_or_slug}/rosters":
    get:
      description: List participants (player or team) for a given tournament.
      operationId: get_tournaments_tournamentIdOrSlug_rosters
      parameters:
        - description: A tournament ID or slug
          in: path
          name: tournament_id_or_slug
          required: true
          schema:
            $ref: "#/components/schemas/TournamentIDOrSlug"
      responses:
        "200":
          $ref: "#/components/responses/TournamentRosters"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get rosters for a tournament
      tags:
        - Tournaments
  "/tournaments/{tournament_id_or_slug}/standings":
    get:
      description: Get the current standings for a given tournament
      operationId: get_tournaments_tournamentIdOrSlug_standings
      parameters:
        - description: A tournament ID or slug
          in: path
          name: tournament_id_or_slug
          required: true
          schema:
            $ref: "#/components/schemas/TournamentIDOrSlug"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/Standings"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get tournament standings
      tags:
        - Tournaments
  "/tournaments/{tournament_id_or_slug}/teams":
    get:
      description: List teams for the given tournament
      operationId: get_tournaments_tournamentIdOrSlug_teams
      parameters:
        - description: A tournament ID or slug
          in: path
          name: tournament_id_or_slug
          required: true
          schema:
            $ref: "#/components/schemas/TournamentIDOrSlug"
        - description: Options to filter results. String fields are case sensitive
          example:
            acronym: RNG
          explode: true
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/filter_over_Teams"
          style: deepObject
        - description: Options to search results
          example:
            name: vitality
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_Teams"
          style: deepObject
        - description: Options to sort results
          example:
            - name
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_Teams"
        - description: Options to select results within ranges
          example:
            name:
              - vitality
              - vultur
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_Teams"
          style: deepObject
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/Teams"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get teams for a tournament
      tags:
        - tournaments
  /videogames:
    get:
      description: List videogames
      operationId: get_videogames
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PerPage"
      responses:
        "200":
          $ref: "#/components/responses/Videogames"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: List videogames
      tags:
        - Videogames
  "/videogames/{videogame_id_or_slug}":
    get:
      description: Get a single videogame by ID or by slug
      operationId: get_videogames_videogameIdOrSlug
      parameters:
        - description: A videogame ID or slug
          in: path
          name: videogame_id_or_slug
          required: true
          schema:
            $ref: "#/components/schemas/VideogameIDOrSlug"
      responses:
        "200":
          $ref: "#/components/responses/Videogame"
        "400":
          $ref: "#/components/responses/Error400"
        "401":
          $ref: "#/components/responses/Error401"
        "403":
          $ref: "#/components/responses/Error403"
        "404":
          $ref: "#/components/responses/Error404"
        "422":
          $ref: "#/components/responses/Error422"
      summary: Get a videogame
      tags:
        - Videogames
  "/videogames/{videogame_id_or_slug}/leagues":
    get:
      operationId: get_videogames_videogameIdOrSlug_leagues
      parameters:
        - description: A videogame ID or slug
          in: path
          name: videogame_id_or_slug
          required: true
          schema:
            $ref: "#/components/schemas/VideogameIDOrSlug"
        - description: Options to search results
          example:
            name: Contenders
          explode: true
          in: query
          name: search
          required: false
          schema:
            $ref: "#/components/schemas/search_over_Leagues"
          style: deepObject
        - description: Options to sort results
          example:
            - name
            - -modified_at
          in: query
          name: sort
          required: false
          schema:
            $ref: "#/components/schemas/sort_over_Leagues"
        - description: Options to select results within ranges
          example:
            modified_at:
              - 2019-04-08T17:00:00Z
              - 2019-10-08T22:00:00Z
          explode: true
          in: query
          name: range
          required: false
          schema:
            $ref: "#/components/schemas/range_over_Leagues"
          style: deepObject
        - description: Options to filter results. String fields are case sensitive
          explode: true
[...]
