swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2019-02-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-02-01/expressRouteCircuit.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-expressRouteCircuit
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteCircuits":
    get:
      description: Gets all the express route circuits in a subscription.
      operationId: ExpressRouteCircuits_ListAll
      parameters:
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns a list of ExpressRouteCircuit resources.
          schema:
            $ref: "#/definitions/ExpressRouteCircuitListResult"
      tags:
        - ExpressRouteCircuits
      x-ms-examples:
        List ExpressRouteCircuits in a subscription:
          parameters:
            api-version: 2019-02-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - etag: W/"832b28c3-f5fd-4d2a-a2cb-6e4a2fe452b3"
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRouteCircuits/circuitName1
                    location: westus
                    name: circuitName1
                    properties:
                      allowClassicOperations: false
                      authorizations:
                        - etag: W/"832b28c3-f5fd-4d2a-a2cb-6e4a2fe452b3"
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRouteCircuits/circuitName/authorizations/MyAuthorization1
                          name: MyAuthorization1
                          properties:
                            authorizationKey: authkey
                            authorizationUseStatus: Available
                            provisioningState: Succeeded
                      circuitProvisioningState: Enabled
                      gatewayManagerEtag: "113"
                      peerings: []
                      provisioningState: Succeeded
                      resourceGuid: 262effd3-248d-4754-9068-0a89260dd918
                      serviceKey: a1410692-ed3b-4ceb-b94a-b90b95d398d1
                      serviceProviderProperties:
                        bandwidthInMbps: 200
                        peeringLocation: peeringLocation
                        serviceProviderName: providerName
                      serviceProviderProvisioningState: Provisioned
                    sku:
                      family: MeteredData
                      name: Standard_MeteredData
                      tier: Standard
                    type: Microsoft.Network/expressRouteCircuits
                  - etag: W/"e33c875f-48df-4a91-b7d3-eb95b5ddbb89"
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRouteCircuits/circuitName2
                    location: westus
                    name: circuitName2
                    properties:
                      allowClassicOperations: false
                      authorizations:
                        - etag: W/"e33c875f-48df-4a91-b7d3-eb95b5ddbb89"
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRouteCircuits/circuitName2/authorizations/MyAuthorization2
                          name: MyAuthorization2
                          properties:
                            authorizationKey: authkey
                            authorizationUseStatus: Available
                            provisioningState: Succeeded
                      circuitProvisioningState: Enabled
                      gatewayManagerEtag: ""
                      peerings: []
                      provisioningState: Succeeded
                      resourceGuid: 47853fd2-9261-4670-b7c3-2debcf9b88da
                      serviceKey: 6569625a-9ba4-498b-9719-14d778eef609
                      serviceProviderProperties:
                        bandwidthInMbps: 200
                        peeringLocation: peeringLocation
                        serviceProviderName: providerName
                      serviceProviderProvisioningState: NotProvisioned
                    sku:
                      family: MeteredData
                      name: Standard_MeteredData
                      tier: Standard
                    type: Microsoft.Network/expressRouteCircuits
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteServiceProviders":
    get:
      description: Gets all the available express route service providers.
      operationId: ExpressRouteServiceProviders_List
      parameters:
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns a list of ExpressRouteServiceProvider resources.
          schema:
            $ref: "#/definitions/ExpressRouteServiceProviderListResult"
      tags:
        - ExpressRouteServiceProviders
      x-ms-examples:
        List ExpressRoute providers:
          parameters:
            api-version: 2019-02-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions//resourceGroups//providers/Microsoft.Network/expressRouteServiceProviders/
                    name: providerName
                    properties:
                      bandwidthsOffered:
                        - offerName: 50Mbps
                          valueInMbps: 50
                        - offerName: 100Mbps
                          valueInMbps: 100
                        - offerName: 200Mbps
                          valueInMbps: 200
                        - offerName: 500Mbps
                          valueInMbps: 500
                        - offerName: 1Gbps
                          valueInMbps: 1000
                        - offerName: 2Gbps
                          valueInMbps: 2000
                        - offerName: 5Gbps
                          valueInMbps: 5000
                        - offerName: 10Gbps
                          valueInMbps: 10000
                      peeringLocations:
                        - peeringLocation1
                        - peeringLocation2
                      provisioningState: Succeeded
                    type: Microsoft.Network/expressRouteServiceProviders
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits":
    get:
      description: Gets all the express route circuits in a resource group.
      operationId: ExpressRouteCircuits_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns the resulting ExpressRouteCircuitAuthorization resource.
          schema:
            $ref: "#/definitions/ExpressRouteCircuitListResult"
      tags:
        - ExpressRouteCircuits
      x-ms-examples:
        List ExpressRouteCircuits in a resource group:
          parameters:
            api-version: 2019-02-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - etag: W/"832b28c3-f5fd-4d2a-a2cb-6e4a2fe452b3"
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRouteCircuits/circuitName1
                    location: westus
                    name: circuitName1
                    properties:
                      allowClassicOperations: false
                      authorizations:
                        - etag: W/"832b28c3-f5fd-4d2a-a2cb-6e4a2fe452b3"
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRouteCircuits/circuitName/authorizations/MyAuthorization1
                          name: MyAuthorization1
                          properties:
                            authorizationKey: authkey
                            authorizationUseStatus: Available
                            provisioningState: Succeeded
                      circuitProvisioningState: Enabled
                      gatewayManagerEtag: "113"
                      peerings: []
                      provisioningState: Succeeded
                      resourceGuid: 262effd3-248d-4754-9068-0a89260dd918
                      serviceKey: a1410692-ed3b-4ceb-b94a-b90b95d398d1
                      serviceProviderProperties:
                        bandwidthInMbps: 200
                        peeringLocation: peeringLocation
                        serviceProviderName: providerName
                      serviceProviderProvisioningState: Provisioned
                    sku:
                      family: MeteredData
                      name: Standard_MeteredData
                      tier: Standard
                    type: Microsoft.Network/expressRouteCircuits
                  - etag: W/"e33c875f-48df-4a91-b7d3-eb95b5ddbb89"
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRouteCircuits/circuitName2
                    location: westus
                    name: circuitName2
                    properties:
                      allowClassicOperations: false
                      authorizations:
                        - etag: W/"e33c875f-48df-4a91-b7d3-eb95b5ddbb89"
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRouteCircuits/circuitName2/authorizations/MyAuthorization2
                          name: MyAuthorization2
                          properties:
                            authorizationKey: authkey
                            authorizationUseStatus: Available
                            provisioningState: Succeeded
                      circuitProvisioningState: Enabled
                      gatewayManagerEtag: ""
                      peerings: []
                      provisioningState: Succeeded
                      resourceGuid: 47853fd2-9261-4670-b7c3-2debcf9b88da
                      serviceKey: 6569625a-9ba4-498b-9719-14d778eef609
                      serviceProviderProperties:
                        bandwidthInMbps: 200
                        peeringLocation: peeringLocation
                        serviceProviderName: providerName
                      serviceProviderProvisioningState: NotProvisioned
                    sku:
                      family: MeteredData
                      name: Standard_MeteredData
                      tier: Standard
                    type: Microsoft.Network/expressRouteCircuits
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}":
    delete:
      description: Deletes the specified express route circuit.
      operationId: ExpressRouteCircuits_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Delete successful.
        "202":
          description: Accepted. Sets 'Disabling' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation.
        "204":
          description: Delete successful.
      tags:
        - ExpressRouteCircuits
      x-ms-examples:
        Delete ExpressRouteCircuit:
          parameters:
            api-version: 2019-02-01
            circuitName: circuitName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      description: Gets information about the specified express route circuit.
      operationId: ExpressRouteCircuits_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns the resulting ExpressRouteCircuit resource.
          schema:
            $ref: "#/definitions/ExpressRouteCircuit"
      tags:
        - ExpressRouteCircuits
      x-ms-examples:
        Get ExpressRouteCircuit:
          parameters:
            api-version: 2019-02-01
            circuitName: circuitName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRouteCircuits/circuitName
                location: westus
                name: circuitName
                properties:
                  allowClassicOperations: false
                  authorizations: []
                  circuitProvisioningState: Enabled
                  peerings: []
                  provisioningState: Succeeded
                  serviceKey: a1410692-0000-4ceb-b94a-b90b94d398d1
                  serviceProviderProperties:
                    bandwidthInMbps: 200
                    peeringLocation: peeringLocation
                    serviceProviderName: providerName
                  serviceProviderProvisioningState: NotProvisioned
                sku:
                  family: MeteredData
                  name: Standard_MeteredData
                  tier: Standard
                type: Microsoft.Network/expressRouteCircuits
    patch:
      description: Updates an express route circuit tags.
      operationId: ExpressRouteCircuits_UpdateTags
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: Parameters supplied to update express route circuit tags.
          in: body
          name: parameters
          required: true
          schema:
            description: Tags object for patch operations.
            properties:
              tags:
                additionalProperties:
                  type: string
                description: Resource tags.
                type: object
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Update successful. The operation returns the resulting ExpressRouteCircuit resource.
          schema:
            $ref: "#/definitions/ExpressRouteCircuit"
      tags:
        - ExpressRouteCircuits
      x-ms-examples:
        Update Express Route Circuit Tags:
          parameters:
            api-version: 2019-02-01
            circuitName: er1
            parameters:
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: ertest
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/ertest/providers/Microsoft.Network/expressRouteCircuits/er1
                location: brazilsouth
                name: er1
                properties:
                  allowClassicOperations: false
                  authorizations: []
                  circuitProvisioningState: Enabled
                  gatewayManagerEtag: ""
                  peerings: []
                  provisioningState: Failed
                  serviceKey: 0b392c2e-1e9d-46d7-b5e0-9ce90ca6b60c
                  serviceProviderProperties:
                    bandwidthInMbps: 1000
                    peeringLocation: Silicon Valley
                    serviceProviderName: Equinix
                  serviceProviderProvisioningState: NotProvisioned
                sku:
                  family: MeteredData
                  name: Standard_MeteredData
                  tier: Standard
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Network/expressRouteCircuits
      x-ms-long-running-operation: true
    put:
      description: Creates or updates an express route circuit.
      operationId: ExpressRouteCircuits_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: Parameters supplied to the create or update express route circuit operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ExpressRouteCircuit"
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Update successful. The operation returns the resulting ExpressRouteCircuit resource.
          schema:
            $ref: "#/definitions/ExpressRouteCircuit"
        "201":
          description: Create successful. The operation returns the resulting ExpressRouteCircuit resource.
          schema:
            $ref: "#/definitions/ExpressRouteCircuit"
      tags:
        - ExpressRouteCircuits
      x-ms-examples:
        Create ExpressRouteCircuit:
          parameters:
            api-version: 2019-02-01
            circuitName: circuitName
            parameters:
              location: West US
              properties:
                allowClassicOperations: false
                authorizations: []
                peerings: []
                serviceProviderProperties:
                  bandwidthInMbps: 200
                  peeringLocation: peeringLocation
                  serviceProviderName: providerName
              sku:
                family: MeteredData
                name: Standard_MeteredData
                tier: Standard
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRouteCircuits/circuitName
                location: westus
                name: circuitName
                properties:
                  allowClassicOperations: false
                  authorizations: []
                  circuitProvisioningState: Enabled
                  peerings: []
                  provisioningState: Succeeded
                  serviceKey: a1410692-0000-4ceb-b94a-b90b94d398d1
                  serviceProviderProperties:
                    bandwidthInMbps: 200
                    peeringLocation: peeringLocation
                    serviceProviderName: providerName
                  serviceProviderProvisioningState: NotProvisioned
                sku:
                  family: MeteredData
                  name: Standard_MeteredData
                  tier: Standard
                type: Microsoft.Network/expressRouteCircuits
            "201":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRouteCircuits/circuitName
                location: westus
                name: circuitName
                properties:
                  allowClassicOperations: false
                  authorizations: []
                  circuitProvisioningState: Enabled
                  peerings: []
                  provisioningState: Succeeded
                  serviceKey: a1410692-0000-4ceb-b94a-b90b94d398d1
                  serviceProviderProperties:
                    bandwidthInMbps: 200
                    peeringLocation: peeringLocation
                    serviceProviderName: providerName
                  serviceProviderProvisioningState: NotProvisioned
                sku:
                  family: MeteredData
                  name: Standard_MeteredData
                  tier: Standard
                type: Microsoft.Network/expressRouteCircuits
        Create ExpressRouteCircuit on ExpressRoutePort:
          parameters:
            api-version: 2019-02-01
            circuitName: expressRouteCircuit1
            parameters:
              location: westus
              properties:
                bandwidthInGbps: 10
                expressRoutePort:
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRoutePorts/portName
              sku:
                family: MeteredData
                name: Premium_MeteredData
                tier: Premium
            resourceGroupName: rg1
            subscriptionId: subid
            type: Microsoft.Network/expressRouteCircuits
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRouteCircuits/expressRouteCircuit1
                location: westus
                name: expressRouteCircuit1
                properties:
                  allowClassicOperations: false
                  authorizations: []
                  bandwidthInGbps: 10
                  circuitProvisioningState: Enabled
                  expressRoutePort:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRoutePorts/portName
                  gatewayManagerEtag: "20"
                  peerings: []
                  provisioningState: Succeeded
                  serviceKey: d281f746-ee01-4d00-8b0a-edec4833772b
                  serviceProviderProvisioningState: Provisioned
                sku:
                  family: MeteredData
                  name: Premium_MeteredData
                  tier: Premium
                type: Microsoft.Network/expressRouteCircuits
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRouteCircuits/expressRouteCircuit1
                location: westus
                name: expressRouteCircuit1
                properties:
                  allowClassicOperations: false
                  authorizations: []
                  bandwidthInGbps: 10
                  circuitProvisioningState: Enabled
                  expressRoutePort:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRoutePorts/portName
                  gatewayManagerEtag: "20"
                  peerings: []
                  provisioningState: Succeeded
                  serviceKey: d281f746-ee01-4d00-8b0a-edec4833772b
                  serviceProviderProvisioningState: Provisioned
                sku:
                  family: MeteredData
                  name: Premium_MeteredData
                  tier: Premium
                type: Microsoft.Network/expressRouteCircuits
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/authorizations":
    get:
      description: Gets all authorizations in an express route circuit.
      operationId: ExpressRouteCircuitAuthorizations_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns a list of ExpressRouteCircuitAuthorization resources.
          schema:
            $ref: "#/definitions/AuthorizationListResult"
      tags:
        - ExpressRouteCircuitAuthorizations
      x-ms-examples:
        List ExpressRouteCircuit Authorization:
          parameters:
            api-version: 2019-02-01
            circuitName: circuitName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - etag: W/"e33c875f-48df-4a91-b7d3-eb95b5ddbb89"
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRouteCircuits/circuitName/authorizations/MyAuthorization1
                    name: MyAuthorization1
                    properties:
                      authorizationKey: authKey
                      authorizationUseStatus: Available
                      provisioningState: Succeeded
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/authorizations/{authorizationName}":
    delete:
      description: Deletes the specified authorization from the specified express route circuit.
      operationId: ExpressRouteCircuitAuthorizations_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the authorization.
          in: path
          name: authorizationName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Delete successful.
        "202":
          description: Accepted and the operation will complete asynchronously.
        "204":
          description: Delete successful.
      tags:
        - ExpressRouteCircuitAuthorizations
      x-ms-examples:
        Delete ExpressRouteCircuit Authorization:
          parameters:
            api-version: 2019-02-01
            authorizationName: authorizationName
            circuitName: circuitName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      description: Gets the specified authorization from the specified express route circuit.
      operationId: ExpressRouteCircuitAuthorizations_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the authorization.
          in: path
          name: authorizationName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns the ExpressRouteCircuitAuthorization resource.
          schema:
            $ref: "#/definitions/ExpressRouteCircuitAuthorization"
      tags:
        - ExpressRouteCircuitAuthorizations
      x-ms-examples:
        Get ExpressRouteCircuit Authorization:
          parameters:
            api-version: 2019-02-01
            authorizationName: authorizationName
            circuitName: circuitName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"e33c875f-48df-4a91-b7d3-eb95b5ddbb89"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRouteCircuits/circuitName/authorizations/MyAuthorization1
                name: MyAuthorization1
                properties:
                  authorizationKey: authKey
                  authorizationUseStatus: Available
                  provisioningState: Succeeded
    put:
      description: Creates or updates an authorization in the specified express route circuit.
      operationId: ExpressRouteCircuitAuthorizations_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the authorization.
          in: path
          name: authorizationName
          required: true
          type: string
        - description: Parameters supplied to the create or update express route circuit authorization operation.
          in: body
          name: authorizationParameters
          required: true
          schema:
            $ref: "#/definitions/ExpressRouteCircuitAuthorization"
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Update successful. The operation returns the resulting ExpressRouteCircuitAuthorization resource.
          schema:
            $ref: "#/definitions/ExpressRouteCircuitAuthorization"
        "201":
          description: Create successful. The operation returns the resulting ExpressRouteCircuitAuthorization resource.
          schema:
            $ref: "#/definitions/ExpressRouteCircuitAuthorization"
      tags:
        - ExpressRouteCircuitAuthorizations
      x-ms-examples:
        Create ExpressRouteCircuit Authorization:
          parameters:
            api-version: 2019-02-01
            authorizationName: authorizatinName
            authorizationParameters:
              properties:
                authorizationKey: authKey
                authorizationUseStatus: Available
            circuitName: circuitName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"e22dd4b2-4c24-44cf-b702-70a472b62914"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/authorizations/authorizationName
                name: authorizationName
                properties:
                  authorizationUseStatus: Available
                  provisioningState: Updating
            "201":
              body:
                etag: W/"e22dd4b2-4c24-44cf-b702-70a472b62914"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRouteCircuits/circuitName
                name: authorizationName
                properties:
                  authorizationUseStatus: Available
                  provisioningState: Updating
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings":
    get:
      description: Gets all peerings in a specified express route circuit.
      operationId: ExpressRouteCircuitPeerings_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns a list of ExpressRouteCircuitPeering resources.
          schema:
            $ref: "#/definitions/ExpressRouteCircuitPeeringListResult"
      tags:
        - ExpressRouteCircuitPeerings
      x-ms-examples:
        List ExpressRouteCircuit Peerings:
          parameters:
            api-version: 2019-02-01
            circuitName: circuitName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - etag: W/"b2a25b98-2e6d-4d46-87f2-089de5f6fdf9"
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRouteCircuits/circuitName/peerings/MicrosoftPeering
                    name: MicrosoftPeering
                    properties:
                      azureASN: 12076
                      expressRouteConnection: ""
                      gatewayManagerEtag: "103"
                      ipv6PeeringConfig:
                        microsoftPeeringConfig:
                          advertisedCommunities: []
                          advertisedPublicPrefixes:
                            - 3FFE:FFFF:0:CD31::/120
                          advertisedPublicPrefixesState: ValidationNeeded
                          customerASN: 23
                          legacyMode: 0
                          routingRegistryName: ARIN
                        primaryPeerAddressPrefix: 3FFE:FFFF:0:CD30::/126
                        secondaryPeerAddressPrefix: 3FFE:FFFF:0:CD30::4/126
                        state: Enabled
                      lastModifiedBy: Customer
                      microsoftPeeringConfig:
                        advertisedCommunities: []
                        advertisedPublicPrefixes:
                          - 123.1.0.0/24
                        advertisedPublicPrefixesState: ValidationNeeded
                        customerASN: 23
                        legacyMode: 0
                        routingRegistryName: ARIN
                      peerASN: 100
                      peeringType: MicrosoftPeering
                      primaryAzurePort: A51-TEST-06GMR-CIS-1-PRI-A
                      primaryPeerAddressPrefix: 123.0.0.0/30
                      provisioningState: Succeeded
                      secondaryAzurePort: A51-TEST-06GMR-CIS-2-SEC-A
                      secondaryPeerAddressPrefix: 123.0.0.4/30
                      state: Enabled
                      vlanId: 300
                  - etag: W/"b2a25b98-2e6d-4d46-87f2-089de5f6fdf9"
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRouteCircuits/circuitName/peerings/AzurePrivatePeering
                    name: AzurePrivatePeering
                    properties:
                      azureASN: 12076
                      expressRouteConnection:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRouteGateways/expressRouteGatewayName/expressRouteConnections/connectionName
                      gatewayManagerEtag: "103"
                      ipv6PeeringConfig:
                        primaryPeerAddressPrefix: 3FFE:FFFF:0:CD30::/126
                        secondaryPeerAddressPrefix: 3FFE:FFFF:0:CD30::4/126
                        state: Enabled
                      lastModifiedBy: Customer
                      peerASN: 100
                      peeringType: AzurePrivatePeering
                      primaryAzurePort: A51-TEST-06GMR-CIS-1-PRI-A
                      primaryPeerAddressPrefix: 10.0.0.0/30
                      provisioningState: Succeeded
                      secondaryAzurePort: A51-TEST-06GMR-CIS-2-SEC-A
                      secondaryPeerAddressPrefix: 10.0.0.4/30
                      state: Enabled
                      vlanId: 200
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}":
    delete:
      description: Deletes the specified peering from the specified express route circuit.
      operationId: ExpressRouteCircuitPeerings_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Delete successful.
        "202":
          description: Accepted and the operation will complete asynchronously.
        "204":
          description: Delete successful.
      tags:
        - ExpressRouteCircuitPeerings
      x-ms-examples:
        Delete ExpressRouteCircuit Peerings:
          parameters:
            api-version: 2019-02-01
            circuitName: circuitName
            peeringName: peeringName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      description: Gets the specified peering for the express route circuit.
      operationId: ExpressRouteCircuitPeerings_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns the resulting ExpressRouteCircuitPeering resource.
          schema:
            $ref: "#/definitions/ExpressRouteCircuitPeering"
      tags:
        - ExpressRouteCircuitPeerings
      x-ms-examples:
        Get ExpressRouteCircuit Peering:
          parameters:
            api-version: 2019-02-01
            circuitName: circuitName
            peeringName: MicrosoftPeering
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"b2a25b98-2e6d-4d46-87f2-089de5f6fdf9"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRouteCircuits/circuitName/peerings/MicrosoftPeering
                name: MicrosoftPeering
                properties:
                  azureASN: 12076
                  gatewayManagerEtag: "103"
                  ipv6PeeringConfig:
                    microsoftPeeringConfig:
                      advertisedCommunities: []
                      advertisedPublicPrefixes:
                        - 3FFE:FFFF:0:CD31::/120
                      advertisedPublicPrefixesState: ValidationNeeded
                      customerASN: 23
                      legacyMode: 0
                      routingRegistryName: ARIN
                    primaryPeerAddressPrefix: 3FFE:FFFF:0:CD30::/126
                    secondaryPeerAddressPrefix: 3FFE:FFFF:0:CD30::4/126
                    state: Enabled
                  lastModifiedBy: Customer
                  microsoftPeeringConfig:
                    advertisedCommunities: []
                    advertisedPublicPrefixes:
                      - 123.1.0.0/24
                    advertisedPublicPrefixesState: ValidationNeeded
                    customerASN: 23
                    legacyMode: 0
                    routingRegistryName: ARIN
                  peerASN: 100
                  peeringType: MicrosoftPeering
                  primaryAzurePort: A51-TEST-06GMR-CIS-1-PRI-A
                  primaryPeerAddressPrefix: 123.0.0.0/30
                  provisioningState: Succeeded
                  secondaryAzurePort: A51-TEST-06GMR-CIS-2-SEC-A
                  secondaryPeerAddressPrefix: 123.0.0.4/30
                  state: Enabled
                  vlanId: 300
    put:
      description: Creates or updates a peering in the specified express route circuits.
      operationId: ExpressRouteCircuitPeerings_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          type: string
        - description: Parameters supplied to the create or update express route circuit peering operation.
          in: body
          name: peeringParameters
          required: true
          schema:
            $ref: "#/definitions/ExpressRouteCircuitPeering"
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Update successful. The operation returns the resulting ExpressRouteCircuitPeering resource.
          schema:
            $ref: "#/definitions/ExpressRouteCircuitPeering"
        "201":
          description: Create successful. The operation returns the resulting ExpressRouteCircuitPeering resource.
          schema:
            $ref: "#/definitions/ExpressRouteCircuitPeering"
      tags:
        - ExpressRouteCircuitPeerings
      x-ms-examples:
        Create ExpressRouteCircuit Peerings:
          parameters:
            api-version: 2019-02-01
            circuitName: circuitName
            peeringName: AzurePrivatePeering
            peeringParameters:
              properties:
                azureASN: 12076
                ipv6PeeringConfig:
                  primaryPeerAddressPrefix: 3FFE:FFFF:0:CD30::/126
                  secondaryPeerAddressPrefix: 3FFE:FFFF:0:CD30::4/126
                peerASN: 200
                primaryPeerAddressPrefix: 192.168.16.252/30
                secondaryPeerAddressPrefix: 192.168.18.252/30
                vlanId: 200
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"72090554-7e3b-43f2-80ad-99a9020dcb11"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRouteCircuits/circuitName/peerings/AzurePrivatePeering
                name: AzurePrivatePeering
                properties:
                  azureASN: 12076
                  expressRouteConnection: ""
                  gatewayManagerEtag: ""
                  ipv6PeeringConfig:
                    primaryPeerAddressPrefix: 3FFE:FFFF:0:CD30::/126
                    secondaryPeerAddressPrefix: 3FFE:FFFF:0:CD30::4/126
                    state: Enabled
                  lastModifiedBy: Customer
                  peerASN: 200
                  peeringType: AzurePrivatePeering
                  primaryAzurePort: ""
                  primaryPeerAddressPrefix: 192.168.16.252/30
                  provisioningState: Succeeded
                  secondaryAzurePort: ""
                  secondaryPeerAddressPrefix: 192.168.18.252/30
                  state: Enabled
                  vlanId: 200
            "201":
              body:
                etag: W/"72090554-7e3b-43f2-80ad-99a9020dcb11"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRouteCircuits/circuitName/peerings/AzurePrivatePeering
                name: AzurePrivatePeering
                properties:
                  azureASN: 12076
                  expressRouteConnection:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/expressRouteGateways/expressRouteGatewayName/expressRouteConnections/connectionName
                  gatewayManagerEtag: ""
                  ipv6PeeringConfig:
                    primaryPeerAddressPrefix: 3FFE:FFFF:0:CD30::/126
                    secondaryPeerAddressPrefix: 3FFE:FFFF:0:CD30::4/126
                    state: Enabled
                  lastModifiedBy: Customer
                  peerASN: 200
                  peeringType: AzurePrivatePeering
                  primaryAzurePort: ""
                  primaryPeerAddressPrefix: 192.168.16.252/30
                  provisioningState: Succeeded
                  secondaryAzurePort: ""
                  secondaryPeerAddressPrefix: 192.168.18.252/30
                  state: Enabled
                  vlanId: 200
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/arpTables/{devicePath}":
    post:
      description: Gets the currently advertised ARP table associated with the express route circuit in a resource group.
      operationId: ExpressRouteCircuits_ListArpTable
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          type: string
        - description: The path of the device.
          in: path
          name: devicePath
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns the resulting ExpressRouteCircuitsArpTable resource.
          schema:
            $ref: "#/definitions/ExpressRouteCircuitsArpTableListResult"
        "202":
          description: Accepted and the operation will complete asynchronously.
      tags:
        - ExpressRouteCircuitArpTable
      x-ms-examples:
        List ARP Table:
          parameters:
            api-version: 2019-02-01
            circuitName: circuitName
            devicePath: devicePath
            peeringName: peeringName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - age: 0
                    interface: Microsoft
                    ipAddress: IPAddress
                    macAddress: macAddress
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/connections":
    get:
      description: Gets all global reach connections associated with a private peering in an express route circuit.
      operationId: ExpressRouteCircuitConnections_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns a list of ExpressRouteCircuitConnections resources.
          schema:
            $ref: "#/definitions/ExpressRouteCircuitConnectionListResult"
      tags:
        - ExpressRouteCircuitConnections
      x-ms-examples:
        List ExpressRouteCircuit Connection:
          parameters:
            api-version: 2019-02-01
            circuitName: ExpressRouteARMCircuitA
            peeringName: AzurePrivatePeering
            resourceGroupName: rg1
            subscriptionId: subid1
          responses:
            "200":
              body:
                value:
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid1/resourceGroups/dedharcktinit/providers/Microsoft.Network/expressRouteCircuits/ExpressRouteARMCircuitA/peerings/AzurePrivatePeering/connections/circuitConnectionUSAUS
                    name: circuitConnectionUSAUS
                    properties:
                      addressPrefix: 10.0.0.0/24
                      authorizationKey: 946a1918-b7a2-4917-b43c-8c4cdaee006a
                      circuitConnectionStatus: Connected
                      expressRouteCircuitPeering:
                        id: /subscriptions/subid1/resourceGroups/dedharcktinit/providers/Microsoft.Network/expressRouteCircuits/dedharcktlocal/peerings/AzurePrivatePeering
                      peerExpressRouteCircuitPeering:
                        id: /subscriptions/subid2/resourceGroups/dedharcktpeer/providers/Microsoft.Network/expressRouteCircuits/dedharcktremote/peerings/AzurePrivatePeering
                      provisioningState: Succeeded
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid1/resourceGroups/dedharcktinit/providers/Microsoft.Network/expressRouteCircuits/ExpressRouteARMCircuitA/peerings/AzurePrivatePeering/connections/circuitConnectionUSEUR
                    name: circuitConnectionUSEUR
                    properties:
                      addressPrefix: 20.0.0.0/24
                      circuitConnectionStatus: Connected
                      expressRouteCircuitPeering:
                        id: /subscriptions/subid1/resourceGroups/dedharcktinit/providers/Microsoft.Network/expressRouteCircuits/dedharcktlocal/peerings/AzurePrivatePeering
                      peerExpressRouteCircuitPeering:
                        id: /subscriptions/subid1/resourceGroups/dedharckteurope/providers/Microsoft.Network/expressRouteCircuits/dedharcktams/peerings/AzurePrivatePeering
                      provisioningState: Succeeded
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/connections/{connectionName}":
    delete:
      description: Deletes the specified Express Route Circuit Connection from the specified express route circuit.
      operationId: ExpressRouteCircuitConnections_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          type: string
        - description: The name of the express route circuit connection.
          in: path
          name: connectionName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Delete successful.
        "202":
          description: Accepted and the operation will complete asynchronously.
        "204":
          description: Delete successful.
      tags:
        - ExpressRouteCircuitConnections
      x-ms-examples:
        Delete ExpressRouteCircuit:
          parameters:
            api-version: 2019-02-01
            circuitName: ExpressRouteARMCircuitA
            connectionName: circuitConnectionUSAUS
            peeringName: AzurePrivatePeering
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      description: Gets the specified Express Route Circuit Connection from the specified express route circuit.
      operationId: ExpressRouteCircuitConnections_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          type: string
        - description: The name of the express route circuit connection.
          in: path
          name: connectionName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns the resulting Express Route Circuit Connection resource.
          schema:
            $ref: "#/definitions/ExpressRouteCircuitConnection"
      tags:
        - ExpressRouteCircuitConnections
      x-ms-examples:
        ExpressRouteCircuitConnectionGet:
          parameters:
            api-version: 2019-02-01
            circuitName: ExpressRouteARMCircuitA
            connectionName: circuitConnectionUSAUS
            peeringName: AzurePrivatePeering
            resourceGroupName: rg1
            subscriptionId: subid1
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid1/resourceGroups/dedharcktinit/providers/Microsoft.Network/expressRouteCircuits/ExpressRouteARMCircuitA/peerings/AzurePrivatePeering/connections/circuitConnectionUSAUS
                name: circuitConnectionUSAUS
                properties:
                  addressPrefix: 10.0.0.0/24
                  authorizationKey: 946a1918-b7a2-4917-b43c-8c4cdaee006a
                  circuitConnectionStatus: Connected
                  expressRouteCircuitPeering:
                    id: /subscriptions/subid1/resourceGroups/dedharcktinit/providers/Microsoft.Network/expressRouteCircuits/dedharcktlocal/peerings/AzurePrivatePeering
                  peerExpressRouteCircuitPeering:
                    id: /subscriptions/subid2/resourceGroups/dedharcktpeer/providers/Microsoft.Network/expressRouteCircuits/dedharcktremote/peerings/AzurePrivatePeering
                  provisioningState: Succeeded
    put:
      description: Creates or updates a Express Route Circuit Connection in the specified express route circuits.
      operationId: ExpressRouteCircuitConnections_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          type: string
        - description: The name of the express route circuit connection.
          in: path
          name: connectionName
          required: true
          type: string
        - description: Parameters supplied to the create or update express route circuit connection operation.
          in: body
          name: expressRouteCircuitConnectionParameters
          required: true
          schema:
            $ref: "#/definitions/ExpressRouteCircuitConnection"
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Update successful. The operation returns the resulting ExpressRouteCircuitPeering resource.
          schema:
            $ref: "#/definitions/ExpressRouteCircuitConnection"
        "201":
          description: Create successful. The operation returns the resulting ExpressRouteCircuitPeering resource.
          schema:
            $ref: "#/definitions/ExpressRouteCircuitConnection"
      tags:
        - ExpressRouteCircuitConnections
      x-ms-examples:
        ExpressRouteCircuitConnectionCreate:
          parameters:
            api-version: 2019-02-01
            circuitName: ExpressRouteARMCircuitA
            connectionName: circuitConnectionUSAUS
            expressRouteCircuitConnectionParameters:
              properties:
                addressPrefix: 10.0.0.0/29
                authorizationKey: 946a1918-b7a2-4917-b43c-8c4cdaee006a
                expressRouteCircuitPeering:
                  id: /subscriptions/subid1/resourceGroups/dedharcktinit/providers/Microsoft.Network/expressRouteCircuits/dedharcktlocal/peerings/AzurePrivatePeering
                peerExpressRouteCircuitPeering:
                  id: /subscriptions/subid2/resourceGroups/dedharcktpeer/providers/Microsoft.Network/expressRouteCircuits/dedharcktremote/peerings/AzurePrivatePeering
            peeringName: AzurePrivatePeering
            resourceGroupName: rg1
            subscriptionId: subid1
            type: Microsoft.Network/expressRouteCircuits/peerings/connections
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid1/resourceGroups/dedharcktinit/providers/Microsoft.Network/expressRouteCircuits/ExpressRouteARMCircuitA/peerings/AzurePrivatePeering/connections/circuitConnectionUSAUS
                name: circuitConnectionUSAUS
                properties:
                  addressPrefix: 10.0.0.0/24
                  authorizationKey: 946a1918-b7a2-4917-b43c-8c4cdaee006a
                  circuitConnectionStatus: Connected
                  expressRouteCircuitPeering:
                    id: /subscriptions/subid1/resourceGroups/dedharcktinit/providers/Microsoft.Network/expressRouteCircuits/dedharcktlocal/peerings/AzurePrivatePeering
                  peerExpressRouteCircuitPeering:
                    id: /subscriptions/subid2/resourceGroups/dedharcktpeer/providers/Microsoft.Network/expressRouteCircuits/dedharcktremote/peerings/AzurePrivatePeering
                  provisioningState: Succeeded
            "201":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid1/resourceGroups/dedharcktinit/providers/Microsoft.Network/expressRouteCircuits/ExpressRouteARMCircuitA/peerings/AzurePrivatePeering/connections/circuitConnectionUSAUS
                name: circuitConnectionUSAUS
                properties:
                  addressPrefix: 10.0.0.0/24
                  authorizationKey: 946a1918-b7a2-4917-b43c-8c4cdaee006a
                  circuitConnectionStatus: Connected
                  expressRouteCircuitPeering:
                    id: /subscriptions/subid1/resourceGroups/dedharcktinit/providers/Microsoft.Network/expressRouteCircuits/dedharcktlocal/peerings/AzurePrivatePeering
                  peerExpressRouteCircuitPeering:
                    id: /subscriptions/subid2/resourceGroups/dedharcktpeer/providers/Microsoft.Network/expressRouteCircuits/dedharcktremote/peerings/AzurePrivatePeering
                  provisioningState: Succeeded
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/peerConnections":
    get:
      description: Gets all global reach peer connections associated with a private peering in an express route circuit.
      operationId: PeerExpressRouteCircuitConnections_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns a list of PeerExpressRouteCircuitConnections resources.
          schema:
            $ref: "#/definitions/PeerExpressRouteCircuitConnectionListResult"
      tags:
        - PeerExpressRouteCircuitConnections
      x-ms-examples:
        List Peer ExpressRouteCircuit Connection:
          parameters:
            api-version: 2019-02-01
            circuitName: ExpressRouteARMCircuitA
            peeringName: AzurePrivatePeering
            resourceGroupName: rg1
            subscriptionId: subid1
          responses:
            "200":
              body:
                value:
                  - etag: W/"6ffbbb06-da20-44ca-a34f-280c4653b1e9"
                    id: /subscriptions/subid1/resourceGroups/rg1/providers/Microsoft.Network/expressRouteCircuits/ExpressRouteARMCircuitA/peerings/AzurePrivatePeering/peerConnections/60aee347-e889-4a42-8c1b-0aae8b1e4013
                    name: 60aee347-e889-4a42-8c1b-0aae8b1e4013
                    properties:
                      addressPrefix: 20.0.0.0/29
                      authResourceGuid: ""
                      circuitConnectionStatus: Connected
                      connectionName: circuitConnectionWestusEastus
                      expressRouteCircuitPeering:
                        id: /subscriptions/subid1/resourceGroups/rg1/providers/Microsoft.Network/expressRouteCircuits/ExpressRouteARMCircuitA/peerings/AzurePrivatePeering
                      peerExpressRouteCircuitPeering:
                        id: /subscriptions/subid1/resourceGroups/rg1/providers/Microsoft.Network/expressRouteCircuits/ExpressRouteARMCircuitB/peerings/AzurePrivatePeering
                      provisioningState: Succeeded
                  - etag: W/"6ffbbb06-da20-44ca-a34f-280c4653b1e9"
                    id: /subscriptions/subid1/resourceGroups/rg1/providers/Microsoft.Network/expressRouteCircuits/ExpressRouteARMCircuitA/peerings/AzurePrivatePeering/peerConnections/c8b17193-8dd3-4f61-866d-8cdd2e2e268e
                    name: c8b17193-8dd3-4f61-866d-8cdd2e2e268e
                    properties:
                      addressPrefix: 30.0.0.0/29
                      authResourceGuid: 64283012-d377-421d-8398-f6aeb2ac7ea0
                      circuitConnectionStatus: Connected
                      connectionName: circuitConnectionCentralusEastus
                      expressRouteCircuitPeering:
                        id: /subscriptions/subid1/resourceGroups/rg1/providers/Microsoft.Network/expressRouteCircuits/ExpressRouteARMCircuitA/peerings/AzurePrivatePeering
                      peerExpressRouteCircuitPeering:
                        id: /subscriptions/subid2/resourceGroups/rg1/providers/Microsoft.Network/expressRouteCircuits/ExpressRouteARMCircuitC/peerings/AzurePrivatePeering
                      provisioningState: Succeeded
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/peerConnections/{connectionName}":
    get:
      description: Gets the specified Peer Express Route Circuit Connection from the specified express route circuit.
      operationId: PeerExpressRouteCircuitConnections_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          type: string
        - description: The name of the peer express route circuit connection.
          in: path
          name: connectionName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns the resulting Peer Express Route Circuit Connection resource.
          schema:
            $ref: "#/definitions/PeerExpressRouteCircuitConnection"
      tags:
        - PeerExpressRouteCircuitConnections
      x-ms-examples:
        PeerExpressRouteCircuitConnectionGet:
          parameters:
            api-version: 2019-02-01
            circuitName: ExpressRouteARMCircuitA
            connectionName: 60aee347-e889-4a42-8c1b-0aae8b1e4013
            peeringName: AzurePrivatePeering
            resourceGroupName: rg1
            subscriptionId: subid1
          responses:
            "200":
              body:
                etag: W/"6ffbbb06-da20-44ca-a34f-280c4653b1e9"
                id: /subscriptions/subid1/resourceGroups/rg1/providers/Microsoft.Network/expressRouteCircuits/ExpressRouteARMCircuitA/peerings/AzurePrivatePeering/peerConnections/60aee347-e889-4a42-8c1b-0aae8b1e4013
                name: 60aee347-e889-4a42-8c1b-0aae8b1e4013
                properties:
                  addressPrefix: 20.0.0.0/29
                  authResourceGuid: ""
                  circuitConnectionStatus: Connected
                  connectionName: circuitConnectionWestusEastus
                  expressRouteCircuitPeering:
                    id: /subscriptions/subid1/resourceGroups/rg1/providers/Microsoft.Network/expressRouteCircuits/ExpressRouteARMCircuitA/peerings/AzurePrivatePeering
                  peerExpressRouteCircuitPeering:
                    id: /subscriptions/subid1/resourceGroups/rg1/providers/Microsoft.Network/expressRouteCircuits/ExpressRouteARMCircuitB/peerings/AzurePrivatePeering
                  provisioningState: Succeeded
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/routeTables/{devicePath}":
    post:
      description: Gets the currently advertised routes table associated with the express route circuit in a resource group.
      operationId: ExpressRouteCircuits_ListRoutesTable
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          type: string
        - description: The path of the device.
          in: path
          name: devicePath
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns the resulting ExpressRouteCircuitsRouteTable resource.
          schema:
            $ref: "#/definitions/ExpressRouteCircuitsRoutesTableListResult"
        "202":
          description: Accepted and the operation will complete asynchronously.
      tags:
        - ExpressRouteCircuitRoutesTable
      x-ms-examples:
        List Route Tables:
          parameters:
            api-version: 2019-02-01
            circuitName: circuitName
            devicePath: devicePath
            peeringName: peeringName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - locPrf: ""
                    network: ""
                    nextHop: ""
                    path: ""
                    weight: 0
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/routeTablesSummary/{devicePath}":
    post:
      description: Gets the currently advertised routes table summary associated with the express route circuit in a resource group.
      operationId: ExpressRouteCircuits_ListRoutesTableSummary
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          type: string
        - description: The path of the device.
          in: path
          name: devicePath
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns the resulting ExpressRouteCircuitsRoutesTableSummary resource.
          schema:
            $ref: "#/definitions/ExpressRouteCircuitsRoutesTableSummaryListResult"
        "202":
          description: Accepted and the operation will complete asynchronously.
      tags:
        - ExpressRouteCircuitRoutesTableSummary
      x-ms-examples:
        List Route Table Summary:
          parameters:
            api-version: 2019-02-01
            circuitName: circuitName
            devicePath: devicePath
            peeringName: peeringName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - as: 9583
                    neighbor: 100.65.171.1
                    statePfxRcd: Idle
                    upDown: never
                    v: 4
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}/stats":
    get:
      description: Gets all stats from an express route circuit in a resource group.
      operationId: ExpressRouteCircuits_GetPeeringStats
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns the resulting ExpressRouteCircuitStats resource.
          schema:
            $ref: "#/definitions/ExpressRouteCircuitStats"
      tags:
        - ExpressRouteCircuitStats
      x-ms-examples:
        Get ExpressRoute Circuit Peering Traffic Stats:
          parameters:
            api-version: 2019-02-01
            circuitName: circuitName
            peeringName: peeringName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                primaryBytesIn: 537408
                primaryBytesOut: 44032550
                secondaryBytesIn: 0
                secondaryBytesOut: 39002500
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/stats":
    get:
      description: Gets all the stats from an express route circuit in a resource group.
      operationId: ExpressRouteCircuits_GetStats
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns the resulting ExpressRouteCircuitStats resource.
          schema:
            $ref: "#/definitions/ExpressRouteCircuitStats"
      tags:
        - ExpressRouteCircuitStats
      x-ms-examples:
        Get ExpressRoute Circuit Traffic Stats:
          parameters:
            api-version: 2019-02-01
            circuitName: circuitName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                primaryBytesIn: 537408
                primaryBytesOut: 44032550
                secondaryBytesIn: 0
                secondaryBytesOut: 39002500
definitions:
  AuthorizationListResult:
    description: Response for ListAuthorizations API service call retrieves all authorizations that belongs to an ExpressRouteCircuit.
    properties:
      nextLink:
        description: The URL to get the next set of results.
        type: string
      value:
        description: The authorizations in an ExpressRoute Circuit.
        items:
          $ref: "#/definitions/ExpressRouteCircuitAuthorization"
        type: array
  AuthorizationPropertiesFormat:
    description: Properties of ExpressRouteCircuitAuthorization.
    properties:
      authorizationKey:
        description: The authorization key.
        type: string
      authorizationUseStatus:
        description: "AuthorizationUseStatus. Possible values are: 'Available' and 'InUse'."
        enum:
          - Available
          - InUse
        type: string
        x-ms-enum:
          modelAsString: true
          name: AuthorizationUseStatus
      provisioningState:
        description: "Gets the provisioning state of the public IP resource. Possible values are: 'Updating', 'Deleting', and 'Failed'."
        type: string
  CircuitConnectionStatus:
    description: Express Route Circuit connection state.
    enum:
      - Connected
      - Connecting
      - Disconnected
    readOnly: true
    type: string
    x-ms-enum:
      modelAsString: true
      name: CircuitConnectionStatus
  ExpressRouteCircuit:
    allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: ExpressRouteCircuit resource
    properties:
      etag:
        description: Gets a unique read-only string that changes whenever the resource is updated.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/ExpressRouteCircuitPropertiesFormat"
        description: Properties of the express route circuit.
        x-ms-client-flatten: true
      sku:
        $ref: "#/definitions/ExpressRouteCircuitSku"
        description: The SKU.
  ExpressRouteCircuitArpTable:
    description: The ARP table associated with the ExpressRouteCircuit.
    properties:
      age:
        description: Entry age in minutes
        format: int32
        type: integer
      interface:
        description: Interface address
        type: string
      ipAddress:
        description: The IP address.
        type: string
      macAddress:
        description: The MAC address.
        type: string
  ExpressRouteCircuitAuthorization:
    allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        x-ms-azure-resource: true
    description: Authorization in an ExpressRouteCircuit resource.
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated.
        readOnly: true
        type: string
      name:
        description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource.
        type: string
      properties:
        $ref: "#/definitions/AuthorizationPropertiesFormat"
        description: Properties of the express route circuit authorization.
        x-ms-client-flatten: true
  ExpressRouteCircuitConnection:
    allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        x-ms-azure-resource: true
    description: Express Route Circuit Connection in an ExpressRouteCircuitPeering resource.
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated.
        readOnly: true
        type: string
      name:
        description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource.
        type: string
      properties:
        description: Properties of the express route circuit connection.
        properties:
          addressPrefix:
            description: /29 IP address space to carve out Customer addresses for tunnels.
            type: string
          authorizationKey:
            description: The authorization key.
            type: string
          circuitConnectionStatus:
            description: Express Route Circuit connection state.
            enum:
              - Connected
              - Connecting
              - Disconnected
            readOnly: true
            type: string
            x-ms-enum:
              modelAsString: true
              name: CircuitConnectionStatus
          expressRouteCircuitPeering:
            description: Reference to another subresource.
            properties:
              id:
                description: Resource ID.
                type: string
            x-ms-azure-resource: true
          peerExpressRouteCircuitPeering:
            description: Reference to another subresource.
            properties:
              id:
                description: Resource ID.
                type: string
            x-ms-azure-resource: true
          provisioningState:
            description: "Provisioning state of the circuit connection resource. Possible values are: 'Succeeded', 'Updating', 'Deleting', and 'Failed'."
            readOnly: true
            type: string
  ExpressRouteCircuitConnectionListResult:
    description: Response for ListConnections API service call retrieves all global reach connections that belongs to a Private Peering for an ExpressRouteCircuit.
    properties:
      nextLink:
        description: The URL to get the next set of results.
        type: string
      value:
        description: The global reach connection associated with Private Peering in an ExpressRoute Circuit.
        items:
          $ref: "#/definitions/ExpressRouteCircuitConnection"
        type: array
  ExpressRouteCircuitConnectionPropertiesFormat:
    description: Properties of the express route circuit connection.
    properties:
      addressPrefix:
        description: /29 IP address space to carve out Customer addresses for tunnels.
        type: string
      authorizationKey:
        description: The authorization key.
        type: string
      circuitConnectionStatus:
        description: Express Route Circuit connection state.
        enum:
          - Connected
          - Connecting
          - Disconnected
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: CircuitConnectionStatus
      expressRouteCircuitPeering:
        description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        x-ms-azure-resource: true
      peerExpressRouteCircuitPeering:
        description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        x-ms-azure-resource: true
      provisioningState:
        description: "Provisioning state of the circuit connection resource. Possible values are: 'Succeeded', 'Updating', 'Deleting', and 'Failed'."
        readOnly: true
        type: string
  ExpressRouteCircuitListResult:
    description: Response for ListExpressRouteCircuit API service call.
    properties:
      nextLink:
        description: The URL to get the next set of results.
        type: string
      value:
        description: A list of ExpressRouteCircuits in a resource group.
        items:
          $ref: "#/definitions/ExpressRouteCircuit"
        type: array
  ExpressRouteCircuitPeering:
    allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        x-ms-azure-resource: true
    description: Peering in an ExpressRouteCircuit resource.
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated.
        readOnly: true
        type: string
      name:
        description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource.
        type: string
      properties:
        $ref: "#/definitions/ExpressRouteCircuitPeeringPropertiesFormat"
        description: Properties of the express route circuit peering.
        x-ms-client-flatten: true
  ExpressRouteCircuitPeeringConfig:
    description: Specifies the peering configuration.
    properties:
      advertisedCommunities:
        description: The communities of bgp peering. Specified for microsoft peering
        items:
          type: string
        type: array
      advertisedPublicPrefixes:
        description: The reference of AdvertisedPublicPrefixes.
        items:
          type: string
        type: array
      advertisedPublicPrefixesState:
        description: AdvertisedPublicPrefixState of the Peering resource. Possible values are 'NotConfigured', 'Configuring', 'Configured', and 'ValidationNeeded'.
        enum:
          - NotConfigured
          - Configuring
          - Configured
          - ValidationNeeded
        type: string
        x-ms-enum:
          modelAsString: true
          name: ExpressRouteCircuitPeeringAdvertisedPublicPrefixState
      customerASN:
        description: The CustomerASN of the peering.
        format: int32
        type: integer
      legacyMode:
        description: The legacy mode of the peering.
        format: int32
        type: integer
      routingRegistryName:
        description: The RoutingRegistryName of the configuration.
        type: string
  ExpressRouteCircuitPeeringListResult:
    description: Response for ListPeering API service call retrieves all peerings that belong to an ExpressRouteCircuit.
    properties:
      nextLink:
        description: The URL to get the next set of results.
        type: string
      value:
        description: The peerings in an express route circuit.
        items:
          $ref: "#/definitions/ExpressRouteCircuitPeering"
        type: array
  ExpressRouteCircuitPeeringPropertiesFormat:
    description: Properties of the express route circuit peering.
    properties:
      azureASN:
        description: The Azure ASN.
        format: int32
        type: integer
      connections:
        description: The list of circuit connections associated with Azure Private Peering for this circuit.
        items:
          allOf:
            - description: Reference to another subresource.
              properties:
                id:
                  description: Resource ID.
                  type: string
              x-ms-azure-resource: true
          description: Express Route Circuit Connection in an ExpressRouteCircuitPeering resource.
          properties:
            etag:
              description: A unique read-only string that changes whenever the resource is updated.
              readOnly: true
              type: string
            name:
              description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource.
              type: string
            properties:
              description: Properties of the express route circuit connection.
              properties:
                addressPrefix:
                  description: /29 IP address space to carve out Customer addresses for tunnels.
                  type: string
                authorizationKey:
                  description: The authorization key.
                  type: string
                circuitConnectionStatus:
                  description: Express Route Circuit connection state.
                  enum:
                    - Connected
                    - Connecting
                    - Disconnected
                  readOnly: true
                  type: string
                  x-ms-enum:
                    modelAsString: true
                    name: CircuitConnectionStatus
                expressRouteCircuitPeering:
                  description: Reference to another subresource.
                  properties:
                    id:
                      description: Resource ID.
                      type: string
                  x-ms-azure-resource: true
                peerExpressRouteCircuitPeering:
                  description: Reference to another subresource.
                  properties:
                    id:
                      description: Resource ID.
                      type: string
                  x-ms-azure-resource: true
                provisioningState:
                  description: "Provisioning state of the circuit connection resource. Possible values are: 'Succeeded', 'Updating', 'Deleting', and 'Failed'."
                  readOnly: true
                  type: string
        type: array
      expressRouteConnection:
        description: The ID of the ExpressRouteConnection.
        properties:
          id:
            description: The ID of the ExpressRouteConnection.
            readOnly: true
            type: string
      gatewayManagerEtag:
        description: The GatewayManager Etag.
        type: string
      ipv6PeeringConfig:
        $ref: "#/definitions/Ipv6ExpressRouteCircuitPeeringConfig"
        description: The IPv6 peering configuration.
      lastModifiedBy:
        description: Gets whether the provider or the customer last modified the peering.
        type: string
      microsoftPeeringConfig:
        description: Specifies the peering configuration.
        properties:
          advertisedCommunities:
            description: The communities of bgp peering. Specified for microsoft peering
            items:
[...]
