swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The HDInsight Management Client.
  title: HDInsightManagementClient
  version: 2015-03-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/operations.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: hdinsight-operations
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: The HDInsight client API Version.
    in: query
    name: api-version
    required: true
    type: string
paths:
  /providers/Microsoft.HDInsight/operations:
    get:
      description: Lists all of the available HDInsight REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/OperationListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Operations
      x-ms-pageable:
        nextLinkName: nextLink
definitions:
  ErrorResponse:
    description: Describes the format of Error response.
    properties:
      code:
        description: Error code
        type: string
      message:
        description: Error message indicating why the operation failed.
        type: string
    type: object
  Operation:
    description: The HDInsight REST API operation.
    properties:
      display:
        description: The object that represents the operation.
        properties:
          operation:
            description: "The operation type: read, write, delete, etc."
            type: string
          provider:
            description: "The service provider: Microsoft.HDInsight"
            type: string
          resource:
            description: "The resource on which the operation is performed: Cluster, Applications, etc."
            type: string
      name:
        description: "The operation name: {provider}/{resource}/{operation}"
        type: string
    type: object
  OperationListResult:
    description: Result of the request to list HDInsight operations. It contains a list of operations and a URL link to get the next set of results.
    properties:
      nextLink:
        description: The URL to get the next set of operation list results if there are any.
        type: string
      value:
        description: The list of HDInsight operations supported by the HDInsight resource provider.
        items:
          $ref: "#/definitions/Operation"
        type: array
