swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: These APIs allow end users to operate on Azure Machine Learning Team Account resources. They support CRUD operations for Azure Machine Learning Team Accounts.
  title: ML Team Account Management Client
  version: 2017-05-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/machinelearningexperimentation/resource-manager/Microsoft.MachineLearningExperimentation/preview/2017-05-01-preview/machineLearningExperimentation.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: machinelearningexperimentation-machineLearningExperimentation
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  AccountNameParameter:
    description: The name of the machine learning team account.
    in: path
    maxLength: 50
    minLength: 5
    name: accountName
    pattern: ^[a-zA-Z0-9]*$
    required: true
    type: string
    x-ms-parameter-location: method
  ApiVersionParameter:
    description: The client API version.
    in: query
    name: api-version
    required: true
    type: string
  ProjectNameParameter:
    description: The name of the machine learning project under a team account workspace.
    in: path
    maxLength: 50
    minLength: 5
    name: projectName
    pattern: ^[a-zA-Z0-9]*$
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceGroupParameter:
    description: The name of the resource group to which the machine learning team account belongs.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: The Microsoft Azure subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
  WorkspaceNameParameter:
    description: The name of the machine learning team account workspace.
    in: path
    maxLength: 50
    minLength: 5
    name: workspaceName
    pattern: ^[a-zA-Z0-9]*$
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  /providers/Microsoft.MachineLearningExperimentation/operations:
    get:
      description: Lists all of the available Azure Machine Learning Team Accounts REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/OperationListResult"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Operation
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningExperimentation/accounts":
    get:
      description: Lists all the available machine learning team accounts under the specified subscription.
      operationId: Accounts_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/AccountListResult"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Accounts
      x-ms-examples:
        AccountCreate:
          parameters:
            api-version: 2017-05-01-preview
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678
                    location: East US
                    name: accountcrud5678
                    properties:
                      creationDate: 2017-03-01T23:14:37.0707808Z
                      discoveryUri: http://example.com
                      keyVaultId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv
                      provisioningState: Succeeded
                      seats: "2"
                      storageAccount:
                        accessKey: key
                        storageAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                      vsoAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest
                    type: Microsoft.MachineLearningExperimentation/accounts
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-4321/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud8765
                    location: East US
                    name: accountcrud8765
                    properties:
                      creationDate: 2017-03-02T23:14:37.0707808Z
                      discoveryUri: http://example.com
                      keyVaultId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv
                      provisioningState: Succeeded
                      seats: "2"
                      storageAccount:
                        accessKey: key
                        storageAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                      vsoAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest1
                    type: Microsoft.MachineLearningExperimentation/accounts
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/accounts":
    get:
      description: Lists all the available machine learning team accounts under the specified resource group.
      operationId: Accounts_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/AccountListResult"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Accounts
      x-ms-examples:
        AccountCreate:
          parameters:
            api-version: 2017-05-01-preview
            resourceGroupName: accountcrud-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud-5678
                    location: East US
                    name: accountcrud-5678
                    properties:
                      creationDate: 2017-03-01T23:14:37.0707808Z
                      discoveryUri: http://example.com
                      keyVaultId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv
                      provisioningState: Succeeded
                      seats: "2"
                      storageAccount:
                        accessKey: key
                        storageAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                      vsoAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest
                    type: Microsoft.MachineLearningExperimentation/accounts
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud-8765
                    location: East US
                    name: accountcrud-8765
                    properties:
                      creationDate: 2017-03-02T23:14:37.0707808Z
                      discoveryUri: http://example.com
                      keyVaultId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv
                      provisioningState: Succeeded
                      seats: "2"
                      storageAccount:
                        accessKey: key
                        storageAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                      vsoAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest1
                    type: Microsoft.MachineLearningExperimentation/accounts
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/accounts/{accountName}":
    delete:
      description: Deletes a machine learning team account.
      operationId: Accounts_Delete
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/AccountNameParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
        "204":
          description: The machine learning team account does not exist in the subscription.
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Accounts
      x-ms-examples:
        AccountCreate:
          parameters:
            accountName: myAccount
            api-version: 2017-05-01-preview
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets the properties of the specified machine learning team account.
      operationId: Accounts_Get
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/AccountNameParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/Account"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Accounts
      x-ms-examples:
        AccountGet:
          parameters:
            accountName: accountcrud5678
            api-version: 2017-05-01-preview
            resourceGroupName: accountcrud-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678
                location: East US
                name: accountcrud5678
                properties:
                  creationDate: 2017-03-01T23:14:37.0707808Z
                  discoveryUri: http://example.com
                  keyVaultId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv1
                  provisioningState: Succeeded
                  seats: "2"
                  storageAccount:
                    accessKey: key
                    storageAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                  vsoAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts
    patch:
      description: Updates a machine learning team account with the specified parameters.
      operationId: Accounts_Update
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The parameters for updating a machine learning team account.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/AccountUpdateParameters"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/Account"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Accounts
      x-ms-examples:
        AccountUpdate:
          parameters:
            accountName: accountcrud5678
            api-version: 2017-05-01-preview
            parameters:
              properties:
                description: new description
              tags:
                tagKey1: TagValue1
            resourceGroupName: accountcrud-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678
                location: East US
                name: accountcrud5678
                properties:
                  creationDate: 2017-03-01T23:14:37.0707808Z
                  description: new description
                  discoveryUri: http://example.com
                  keyVaultId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv1
                  provisioningState: Succeeded
                  seats: "2"
                  storageAccount:
                    accessKey: key
                    storageAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                  vsoAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts
    put:
      description: Creates or updates a team account with the specified parameters.
      operationId: Accounts_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The parameters for creating or updating a machine learning team account.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Account"
      responses:
        "200":
          description: The request was successful; the resource already exists and was updated.
          schema:
            $ref: "#/definitions/Account"
        "201":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/Account"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Accounts
      x-ms-examples:
        AccountCreate:
          parameters:
            accountName: accountcrud5678
            api-version: 2017-05-01-preview
            parameters:
              location: East US
              properties:
                keyVaultId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv
                storageAccount:
                  accessKey: key
                  storageAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                vsoAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest
              tags:
                tagKey1: TagValue1
            resourceGroupName: accountcrud-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678
                location: East US
                name: accountcrud5678
                properties:
                  creationDate: 2017-03-01T23:14:37.0707808Z
                  discoveryUri: http://example.com
                  keyVaultId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv
                  provisioningState: Succeeded
                  storageAccount:
                    accessKey: key
                    storageAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                  vsoAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678
                location: East US
                name: accountcrud5678
                properties:
                  creationDate: 2017-03-01T23:14:37.0707808Z
                  discoveryUri: http://example.com
                  keyVaultId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.KeyVault/vaults/testkv
                  provisioningState: Succeeded
                  seats: "2"
                  storageAccount:
                    accessKey: key
                    storageAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                  vsoAccountId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/microsoft.visualstudio/account/vsotest
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/accounts/{accountName}/workspaces":
    get:
      description: Lists all the available machine learning workspaces under the specified team account.
      operationId: Workspaces_ListByAccounts
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/WorkspaceListResult"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Workspaces
      x-ms-examples:
        ListWorkspacesByAccounts:
          parameters:
            accountName: testaccount
            api-version: 2017-05-01-preview
            resourceGroupName: accountcrud-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678/workspaces/testworkspace
                    location: East US
                    name: testworkspace
                    properties:
                      creationDate: 2017-03-01T23:14:37.0707808Z
                      friendlyName: testName
                      provisioningState: Succeeded
                    tags:
                      tagKey1: TagValue1
                    type: Microsoft.MachineLearningExperimentation/accounts/workspaces
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678/workspaces/testworkspace1
                    location: East US
                    name: testworkspace1
                    properties:
                      creationDate: 2017-03-01T23:14:37.0707808Z
                      friendlyName: testName1
                      provisioningState: Succeeded
                    tags:
                      tagKey1: TagValue1
                    type: Microsoft.MachineLearningExperimentation/accounts/workspaces
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/accounts/{accountName}/workspaces/{workspaceName}":
    delete:
      description: Deletes a machine learning workspace.
      operationId: Workspaces_Delete
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
        "204":
          description: The machine learning workspace does not exist in the subscription.
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Workspaces
      x-ms-examples:
        WorkspaceDelete:
          parameters:
            accountName: myAccount
            api-version: 2017-05-01-preview
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: testworkspace
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets the properties of the specified machine learning workspace.
      operationId: Workspaces_Get
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/Workspace"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Workspaces
      x-ms-examples:
        WorkspaceGet:
          parameters:
            accountName: accountcrud5678
            api-version: 2017-05-01-preview
            resourceGroupName: accountcrud-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
            workspaceName: testworkspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678/workspaces/testworkspace
                location: East US 2 EUAP
                name: testworkspace
                properties:
                  creationDate: 2017-03-01T23:14:37.0707808Z
                  friendlyName: testName
                  provisioningState: Succeeded
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts/workspaces
    patch:
      description: Updates a machine learning workspace with the specified parameters.
      operationId: Workspaces_Update
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - description: The parameters for updating a machine learning workspace.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/WorkspaceUpdateParameters"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/Workspace"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Workspaces
      x-ms-examples:
        WorkspaceUpdate:
          parameters:
            accountName: accountcrud5678
            api-version: 2017-05-01-preview
            parameters:
              properties:
                friendlyName: testNameNew
            resourceGroupName: accountcrud-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
            workspaceName: testworkspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningExperimentation/accounts/testaccount/workspaces/testworkspace
                location: East US 2 EUAP
                name: accountcrud5678
                properties:
                  creationDate: 2017-03-01T23:14:37.0707808Z
                  friendlyName: testNameNew
                  provisioningState: Succeeded
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts/workspaces
    put:
      description: Creates or updates a machine learning workspace with the specified parameters.
      operationId: Workspaces_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - description: The parameters for creating or updating a machine learning workspace.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Workspace"
      responses:
        "200":
          description: The request was successful; the resource already exists and was updated.
          schema:
            $ref: "#/definitions/Workspace"
        "201":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/Workspace"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Workspaces
      x-ms-examples:
        WorkspaceCreate:
          parameters:
            accountName: testaccount
            api-version: 2017-05-01-preview
            parameters:
              location: East US
              properties:
                friendlyName: testName
              tags:
                tagKey1: TagValue1
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: testworkspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningExperimentation/accounts/testaccount/workspaces/testworkspace
                location: East US
                name: testworkspace
                properties:
                  creationDate: 2017-03-01T23:14:37.0707808Z
                  friendlyName: testName
                  provisioningState: Succeeded
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts/workspaces
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningExperimentation/accounts/testaccount/workspaces/testworkspace
                location: East US
                name: testworkspace
                properties:
                  creationDate: 2017-03-01T23:14:37.0707808Z
                  friendlyName: testName
                  provisioningState: Succeeded
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts/workspaces
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/accounts/{accountName}/workspaces/{workspaceName}/projects/{projectName}":
    delete:
      description: Deletes a project.
      operationId: Projects_Delete
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ProjectNameParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
        "204":
          description: The machine learning team account does not exist in the subscription.
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Projects
      x-ms-examples:
        AccountCreate:
          parameters:
            accountName: myAccount
            api-version: 2017-05-01-preview
            projectName: testProject
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: testworkspace
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets the properties of the specified machine learning project.
      operationId: Projects_Get
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ProjectNameParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/Project"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Projects
      x-ms-examples:
        GetProject:
          parameters:
            accountName: accountcrud5678
            api-version: 2017-05-01-preview
            projectName: testProject
            resourceGroupName: accountcrud-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
            workspaceName: testworkspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678/workspaces/testworkspace/projects/testProject
                location: East US 2
                name: testProject
                properties:
                  creationDate: 2017-03-01T23:14:37.0707808Z
                  friendlyName: testName
                  gitrepo: https://github/abc
                  provisioningState: Succeeded
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts/workspaces/projects
    patch:
      description: Updates a project with the specified parameters.
      operationId: Projects_Update
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ProjectNameParameter"
        - description: The parameters for updating a machine learning team account.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ProjectUpdateParameters"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/Project"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Projects
      x-ms-examples:
        UpdateProject:
          parameters:
            accountName: accountcrud5678
            api-version: 2017-05-01-preview
            parameters:
              properties:
                friendlyName: testName
              tags:
                tagKey1: TagValue1
            projectName: testProject
            resourceGroupName: accountcrud-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
            workspaceName: testworkspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningExperimentation/accounts/testaccount/workspaces/testworkspace/projects/testProject
                location: East US
                name: accountcrud5678
                properties:
                  creationDate: 2017-03-01T23:14:37.0707808Z
                  friendlyName: testName
                  gitrepo: https://github/abc
                  provisioningState: Succeeded
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts/workspaces/projects
    put:
      description: Creates or updates a project with the specified parameters.
      operationId: Projects_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ProjectNameParameter"
        - description: The parameters for creating or updating a project.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Project"
      responses:
        "200":
          description: The request was successful; the resource already exists and was updated.
          schema:
            $ref: "#/definitions/Project"
        "201":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/Project"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Projects
      x-ms-examples:
        CreateProject:
          parameters:
            accountName: testaccount
            api-version: 2017-05-01-preview
            parameters:
              location: East US
              properties:
                friendlyName: testName
                gitrepo: https://github/abc
              tags:
                tagKey1: TagValue1
            projectName: testProject
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: testworkspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningExperimentation/accounts/testaccount/workspaces/testworkspace/projects/testProject
                location: East US
                name: testProject
                properties:
                  creationDate: 2017-03-01T23:14:37.0707808Z
                  friendlyName: testName
                  gitrepo: https://github/abc
                  provisioningState: Succeeded
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts/workspaces/projects
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearningExperimentation/accounts/testaccount/workspaces/testworkspace/projects/testProject
                location: East US
                name: teamAccountcrud5678
                properties:
                  creationDate: 2017-03-01T23:14:37.0707808Z
                  friendlyName: testName
                  gitrepo: https://github/abc
                  provisioningState: Succeeded
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearningExperimentation/accounts/workspaces/projects
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningExperimentation/accounts/{accountName}/workspaces{workspaceName}/projects":
    get:
      description: Lists all the available machine learning projects under the specified workspace.
      operationId: Projects_ListByWorkspace
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/ProjectListResult"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Projects
      x-ms-examples:
        ProjectListByWorkspaces:
          parameters:
            accountName: testaccount
            api-version: 2017-05-01-preview
            resourceGroupName: testrg
            subscriptionId: 00000000-1111-2222-3333-444444444444
            workspaceName: testworkspace
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678/workspaces/testworkspace/projects/testProject
                    location: East US
                    name: testProject
                    properties:
                      creationDate: 2017-03-01T23:14:37.0707808Z
                      friendlyName: testName
                      gitrepo: https://github/abc
                      provisioningState: Succeeded
                    tags:
                      tagKey1: TagValue1
                    type: Microsoft.MachineLearningExperimentation/accounts/workspaces/projects
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.MachineLearningExperimentation/accounts/accountcrud5678/workspaces/testworkspace/projects/testProject1
                    location: East US
                    name: testProject1
                    properties:
                      creationDate: 2017-03-01T23:14:37.0707808Z
                      friendlyName: testName1
                      gitrepo: https://github/def
                      provisioningState: Succeeded
                    tags:
                      tagKey1: TagValue1
                    type: Microsoft.MachineLearningExperimentation/accounts/workspaces/projects
      x-ms-pageable:
        nextLinkName: nextLink
definitions:
  Account:
    allOf:
      - $ref: "#/definitions/Resource"
    description: An object that represents a machine learning team account.
    properties:
      properties:
        $ref: "#/definitions/AccountProperties"
        description: The properties of the machine learning team account.
        x-ms-client-flatten: true
    type: object
  AccountListResult:
    description: The result of a request to list machine learning team accounts.
    properties:
      nextLink:
        description: The URI that can be used to request the next list of machine learning team accounts.
        type: string
      value:
        description: The list of machine learning team accounts. Since this list may be incomplete, the nextLink field should be used to request the next list of machine learning team accounts.
        items:
          $ref: "#/definitions/Account"
        type: array
  AccountProperties:
    description: The properties of a machine learning team account.
    properties:
      accountId:
        description: The immutable id associated with this team account.
        readOnly: true
        type: string
      creationDate:
        description: The creation date of the machine learning team account in ISO8601 format.
        format: date-time
        readOnly: true
        type: string
      description:
        description: The description of this workspace.
        type: string
      discoveryUri:
        description: The uri for this machine learning team account.
        readOnly: true
        type: string
      friendlyName:
        description: The friendly name for this workspace. This will be the workspace name in the arm id when the workspace object gets created
        type: string
      keyVaultId:
        description: The fully qualified arm id of the user key vault.
        type: string
      provisioningState:
        description: The current deployment state of team account resource. The provisioningState is to indicate states for resource provisioning.
        enum:
          - Creating
          - Succeeded
          - Updating
          - Deleting
          - Failed
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: ProvisioningState
      seats:
        description: The no of users/seats who can access this team account. This property defines the charge on the team account.
        type: string
      storageAccount:
        $ref: "#/definitions/StorageAccountProperties"
        description: The properties of the storage account for the machine learning team account.
      vsoAccountId:
        description: The fully qualified arm id of the vso account to be used for this team account.
        type: string
    required:
      - storageAccount
      - vsoAccountId
      - keyVaultId
    type: object
  AccountPropertiesUpdateParameters:
    description: The parameters for updating the properties of a machine learning team account.
    properties:
      description:
        description: The description of this workspace.
        type: string
      friendlyName:
        description: The friendly name for this workspace. This will be the workspace name in the arm id when the workspace object gets created
        type: string
      seats:
        description: The no of users/seats who can access this team account. This property defines the charge on the team account.
        type: string
      storageAccountKey:
        description: The key for storage account associated with this team account
        type: string
  AccountUpdateParameters:
    description: The parameters for updating a machine learning team account.
    properties:
      properties:
        $ref: "#/definitions/AccountPropertiesUpdateParameters"
        description: The properties that the machine learning team account will be updated with.
        x-ms-client-flatten: true
      tags:
        additionalProperties:
          type: string
        description: The resource tags for the machine learning team account.
        type: object
  ErrorResponse:
    description: The error response send when an operation fails.
    properties:
      code:
        description: error code
        type: string
      message:
        description: error message
        type: string
    required:
      - code
      - message
  Operation:
    description: Azure Machine Learning team account REST API operation
    properties:
      display:
        description: Display name of operation
        properties:
          description:
            description: The description for the operation.
            type: string
          operation:
            description: The operation that users can perform.
            type: string
          provider:
            description: "The resource provider name: Microsoft.MachineLearningExperimentation"
            type: string
          resource:
            description: The resource on which the operation is performed.
            type: string
      name:
        description: "Operation name: {provider}/{resource}/{operation}"
        type: string
    type: object
  OperationListResult:
    description: An array of operations supported by the resource provider.
    properties:
      value:
        description: List of AML team account operations supported by the AML team account resource provider.
        items:
          $ref: "#/definitions/Operation"
        type: array
  Project:
    allOf:
      - $ref: "#/definitions/Resource"
    description: An object that represents a machine learning project.
    properties:
      properties:
        $ref: "#/definitions/ProjectProperties"
        description: The properties of the Project.
        x-ms-client-flatten: true
    type: object
  ProjectListResult:
    description: The result of a request to list projects.
    properties:
      nextLink:
        description: The URI that can be used to request the next list of projects.
        type: string
      value:
        description: The list of projects. Since this list may be incomplete, the nextLink field should be used to request the next list of projects.
        items:
          $ref: "#/definitions/Project"
        type: array
  ProjectProperties:
    description: The properties of a machine learning project.
    properties:
      accountId:
        description: The immutable id of the team account which contains this project.
        readOnly: true
        type: string
      creationDate:
        description: The creation date of the project in ISO8601 format.
        format: date-time
        readOnly: true
        type: string
      description:
        description: The description of this project.
        type: string
      friendlyName:
        description: The friendly name for this project.
        type: string
      gitrepo:
        description: The reference to git repo for this project.
        type: string
      projectId:
        description: The immutable id of this project.
        readOnly: true
        type: string
      provisioningState:
        description: The current deployment state of project resource. The provisioningState is to indicate states for resource provisioning.
        enum:
          - Creating
          - Succeeded
          - Updating
          - Deleting
          - Failed
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: ProvisioningState
      workspaceId:
        description: The immutable id of the workspace which contains this project.
        readOnly: true
        type: string
    required:
      - friendlyName
    type: object
  ProjectPropertiesUpdateParameters:
    description: The parameters for updating the properties of a project.
    properties:
      description:
        description: The description of this project.
        type: string
      friendlyName:
        description: The friendly name for this project.
        type: string
      gitrepo:
        description: The reference to git repo for this project.
        type: string
  ProjectUpdateParameters:
    description: The parameters for updating a machine learning project.
    properties:
      properties:
        $ref: "#/definitions/ProjectPropertiesUpdateParameters"
        description: The properties that the project will be updated with.
        x-ms-client-flatten: true
      tags:
        additionalProperties:
          type: string
        description: The resource tags for the machine learning project.
        type: object
  Resource:
    description: An Azure resource.
    properties:
      id:
        description: The resource ID.
        readOnly: true
        type: string
      location:
        description: The location of the resource. This cannot be changed after the resource is created.
        type: string
      name:
        description: The name of the resource.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: The tags of the resource.
        type: object
      type:
        description: The type of the resource.
        readOnly: true
        type: string
    required:
      - location
    x-ms-azure-resource: true
  StorageAccountProperties:
    description: The properties of a storage account for a machine learning team account.
    properties:
      accessKey:
        description: The access key to the storage account.
        type: string
      storageAccountId:
        description: The fully qualified arm Id of the storage account.
        type: string
    required:
      - storageAccountId
      - accessKey
  Workspace:
    allOf:
      - $ref: "#/definitions/Resource"
    description: An object that represents a machine learning team account workspace.
    properties:
      properties:
        $ref: "#/definitions/WorkspaceProperties"
        description: The properties of the machine learning team account workspace.
        x-ms-client-flatten: true
    type: object
  WorkspaceListResult:
    description: The result of a request to list machine learning team account workspaces.
    properties:
      nextLink:
        description: The URI that can be used to request the next list of machine learning workspaces.
        type: string
      value:
        description: The list of machine learning team account workspaces. Since this list may be incomplete, the nextLink field should be used to request the next list of machine learning team accounts.
        items:
          $ref: "#/definitions/Workspace"
        type: array
  WorkspaceProperties:
    description: The properties of a machine learning team account workspace.
    properties:
      accountId:
        description: The immutable id of the team account which contains this workspace.
        readOnly: true
        type: string
      creationDate:
        description: The creation date of the machine learning workspace in ISO8601 format.
        format: date-time
        readOnly: true
        type: string
      description:
        description: The description of this workspace.
        type: string
      friendlyName:
        description: The friendly name for this workspace. This will be the workspace name in the arm id when the workspace object gets created
        type: string
      provisioningState:
        description: The current deployment state of team account workspace resource. The provisioningState is to indicate states for resource provisioning.
        enum:
          - Creating
          - Succeeded
          - Updating
          - Deleting
          - Failed
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: ProvisioningState
      workspaceId:
        description: The immutable id of this workspace.
        readOnly: true
        type: string
    required:
      - friendlyName
    type: object
  WorkspacePropertiesUpdateParameters:
    description: The parameters for updating the properties of a machine learning team account workspace.
    properties:
      description:
        description: Description for this workspace.
        type: string
      friendlyName:
        description: Friendly name of this workspace.
        type: string
  WorkspaceUpdateParameters:
    description: The parameters for updating a machine learning team account workspace.
    properties:
      properties:
        $ref: "#/definitions/WorkspacePropertiesUpdateParameters"
        description: The properties that the machine learning workspace will be updated with.
        x-ms-client-flatten: true
      tags:
        additionalProperties:
          type: string
        description: The resource tags for the machine learning team account workspace.
        type: object
