openapi: 3.0.3
servers:
  - description: Sandbox Server.
    url: https://api-sandbox.rebilly.com
  - description: Live Server.
    url: https://api.rebilly.com
info:
  contact:
    email: integrations@rebilly.com
    name: Rebilly API Support
    url: https://www.rebilly.com/contact/
  description: |
    # Introduction
    The Rebilly API is built on HTTP.  Our API is RESTful.  It has predictable
    resource URLs.  It returns HTTP response codes to indicate errors.  It also
    accepts and returns JSON in the HTTP body.  You can use your favorite
    HTTP/REST library for your programming language to use Rebilly's API, or
    you can use one of our SDKs (currently available in [PHP](https://github.com/Rebilly/rebilly-php)
    and [Javascript](https://github.com/Rebilly/rebilly-js-sdk)).

    We have other APIs that are also available.  Every action from our [app](https://app.rebilly.com)
    is supported by an API which is documented and available for use so that you
    may automate any workflows necessary.  This document contains the most commonly
    integrated resources.

    # Authentication

    When you sign up for an account, you are given your first secret API key.
    You can generate additional API keys, and delete API keys (as you may
    need to rotate your keys in the future). You authenticate to the
    Rebilly API by providing your secret key in the request header.

    Rebilly offers three forms of authentication:  secret key, publishable key, JSON Web Tokens, and public signature key.
    - [Secret API key](#section/Authentication/SecretApiKey): used for requests made
      from the server side. Never share these keys. Keep them guarded and secure.
    - [Publishable API key](#section/Authentication/PublishableApiKey): used for 
      requests from the client side. For now can only be used to create 
      a [Payment Token](#operation/PostToken) and 
      a [File token](#operation/PostFile).
    - [JWT](#section/Authentication/JWT): short lifetime tokens that can be assigned a specific expiration time.

    Never share your secret keys. Keep them guarded and secure.

    &lt;!-- ReDoc-Inject: &lt;security-definitions&gt; --&gt;

    # Errors
    Rebilly follow's the error response format proposed in [RFC 7807](https://tools.ietf.org/html/rfc7807) also known as Problem Details for HTTP APIs.  As with our normal API responses, your client must be prepared to gracefully handle additional members of the response.

    ## Forbidden
    &lt;RedocResponse pointer={"#/components/responses/Forbidden"} /&gt;

    ## Conflict
    &lt;RedocResponse pointer={"#/components/responses/Conflict"} /&gt;

    ## NotFound
    &lt;RedocResponse pointer={"#/components/responses/NotFound"} /&gt;

    ## Unauthorized
    &lt;RedocResponse pointer={"#/components/responses/Unauthorized"} /&gt;

    ## ValidationError
    &lt;RedocResponse pointer={"#/components/responses/ValidationError"} /&gt;

    # SDKs

    Rebilly offers a Javascript SDK and a PHP SDK to help interact with
    the API.  However, no SDK is required to use the API.

    Rebilly also offers [FramePay](https://docs.rebilly.com/docs/developer-docs/framepay/),
     a client-side iFrame-based solution to help
    create payment tokens while minimizing PCI DSS compliance burdens
    and maximizing the customizability. [FramePay](https://docs.rebilly.com/docs/developer-docs/framepay/)
    is interacting with the [payment tokens creation operation](#operation/PostToken).

    ## Javascript SDK

    Installation and usage instructions can be found [here](https://docs.rebilly.com/docs/developer-docs/sdks).
    SDK code examples are included in these docs.

    ## PHP SDK
    For all PHP SDK examples provided in these docs you will need to configure the `$client`.
    You may do it like this:

    ```php
    $client = new Rebilly\Client([
        'apiKey' =&gt; 'YourApiKeyHere',
        'baseUrl' =&gt; 'https://api.rebilly.com',
    ]);
    ```

    # Using filter with collections
    Rebilly provides collections filtering. You can use `?filter` param on collections to define which records should be shown in the response.

    Here is filter format description:

    - Fields and values in filter are separated with `:`: `?filter=firstName:John`.

    - Sub-fields are separated with `.`: `?filter=billingAddress.country:US`.

    - Multiple filters are separated with `;`: `?filter=firstName:John;lastName:Doe`. They will be joined with `AND` logic. In this example: `firstName:John` AND `lastName:Doe`.

    - You can use multiple values using `,` as values separator: `?filter=firstName:John,Bob`. Multiple values specified for a field will be joined with `OR` logic. In this example: `firstName:John` OR `firstName:Bob`.

    - To negate the filter use `!`: `?filter=firstName:!John`. Note that you can negate multiple values like this: `?filter=firstName:!John,!Bob`. This filter rule will exclude all Johns and Bobs from the response.

    - You can use range filters like this: `?filter=amount:1..10`.

    - You can use gte (greater than or equals) filter like this: `?filter=amount:1..`, or lte (less than or equals) than filter like this: `?filter=amount:..10`. This also works for datetime-based fields.

    - You can create some [predefined values lists](https://user-api-docs.rebilly.com/#tag/Lists) and use them in filter: `?filter=firstName:@yourListName`. You can also exclude list values: `?filter=firstName:!@yourListName`.

    - Datetime-based fields accept values formatted using RFC 3339 like this: `?filter=createdTime:2021-02-14T13:30:00Z`. 

    # Expand to include embedded objects
    Rebilly provides the ability to pre-load additional 
    objects with a request. 

    You can use `?expand` param on most requests to expand
    and include embedded objects within the
    `_embedded` property of the response.

    The `_embedded` property contains an array of 
    objects keyed by the expand parameter value(s).

    You may expand multiple objects by passing them
    as comma-separated to the expand value like so:

    ```
    ?expand=recentInvoice,customer
    ```

    And in the response, you would see:

    ```
    "_embedded": [
        "recentInvoice": {...},
        "customer": {...}
    ]
    ```
    Expand may be utilitized not only on `GET` requests but also on `PATCH`, `POST`, `PUT` requests too.


    # Getting started guide

    Rebilly's API has over 300 operations.  That's more than you'll 
    need to implement your use cases.  If you have a use 
    case you would like to implement, please consult us for
    feedback on the best API operations for the task.

    Our getting started guide will demonstrate a basic order form use
    case.  It will allow us to highlight core resources
    in Rebilly that will be helpful for many other use cases
    too.

    Within 25 minutes, you'll have sent API requests (via our console)
    to create a subscription order.
  license:
    name: Rebilly
    url: https://www.rebilly.com/api-license/
  termsOfService: https://www.rebilly.com/terms-of-use/
  title: Rebilly REST API
  version: "2.1"
  x-apisguru-categories:
    - payment
    - ecommerce
  x-logo:
    backgroundColor: "#0033A0"
    url: https://api.apis.guru/v2/cache/logo/https_rebilly-core.redoc.ly_rb_apiLogo.svg
  x-origin:
    - format: openapi
      url: https://api-reference.rebilly.com/openapi.json
      version: "3.0"
  x-providerName: rebilly.com
security:
  - SecretApiKey: []
  - JWT: []
tags:
  - description: |
      3D Secure is a way to authenticate and protect transactions.  Typically,
      it's only possible to protect the initial transaction in an order
      with 3D Secure.
    name: 3D Secure
  - description: |
      AML, also known as Anti-Money-Laundering is an endpoint that searches multiple
      PEP, Sanctions, and Adverse Media lists for listed identities or media for screening
      purposes. Used during some transaction processing and on Contact creation, it helps
      determine whether someone is blocklisted or has political or economic sanctions against
      them.
    name: AML
  - description: |
      Bank Accounts are a type of payment instrument used to collect
      ACH (echeck) payments, similar to how a payment
      card would be used to for a credit card payment.
    name: Bank Accounts
  - description: |
      Your blocklists contains values of customerIds, email addresses,
      ipAddresses, bank identification numbers, countries or payment cards that
      you do NOT want to do business with. They are a good tool for managing
      risk. A blocklist entry that expires after a period of time we call a
      greylist.
    name: Blocklists
  - description: |
      Coupons allows to apply different types of discounts to Invoices, Orders and Plans. Redeemed Coupons will be applied only to Invoices with the same currency.
    name: Coupons
  - description: |
      Customers are your customers, sometimes known as accounts, clients,
      members, patrons, or players in other systems.
    name: Customers
  - description: |
      The customers timeline keeps an audit trail of changes and activity for each customer.
    name: Customers Timeline
  - description: |
      Customer KYC files uploaded on behalf of a customer, tagged with a document type and submitted for validation.
    name: KYC Documents
  - description: |
      Create authentication credentials, login, logout, and verify your customers.
    name: Customer Authentication
  - description: |
      Create additional custom fields for particular resources.  You may name,
      describe, and determine the type of the schema.
    name: Custom Fields
  - description: |
      Handle disputes (chargebacks and retrievals).
    name: Disputes
  - description: |
      A File is an entity that can store a physical file and some metadata. It also provides an easy access to
      its size, mime-type, user-defined tags and description thus allowing easy sorting and searching among stored
      files.
      There are several methods of file uploading available: multipart/form-data encoded form, RAW POST (by sending
      file contents as POST body), fetching from URL (by providing the file URL via 'url' param)
      Attachment is an entity that is used to link a File to one or multiple objects like Customer, Dispute, Payment,
      Transaction, Order, Plan, Product, Invoice, Note. That allows to quickly find and use files related to
      those specific entities.
    name: Files
  - description: |
      Invoices leave a record for both you and your customer of the products sold.
    name: Invoices
  - description: |
      The Payment Instrument allows you to accept a variety of payment methods through a single API.
    name: Payment Instruments
  - description: |
      Payment cards are a type of payment instrument used for credit and debit card
      sales.  Rebilly securely vaults the full payment card number, and can pass it
      onward securely to any gateway account to transact business.
    name: Payment Cards
  - description: |
      PayPal Accounts are used for paying with PayPal.  We can generate a BAID (billing
      agreement id) which will allow for recurring billing.
    name: PayPal Accounts
  - description: |
      Payment tokens are used to reduce the scope of PCI DSS compliance.  A payment
      token can be made using a different authentication scheme (refer to the public key
      authentication scheme in the Authentication section), which allows you to
      create a payment token directly from the browser, bypassing the need to send
      sensitive cardholder info to your servers.  We recommend using this with our
      Rebilly.js library, which helps you wire a form into this API resource and create
      payment tokens.
    name: Payment Tokens
  - description: |
      Plans are a template for making a subscription.  For example, you may have a plan
      that has a 30-day free trial followed by a recurring charge of $19.95 per month
      until canceled.  The combination of the plan and a request to make an order
      will apply those instructions to create the invoices according to the plan's
      schedule.
    name: Plans
  - description: |
      A product describes what you sell (goods or services).
      A product determines how what you sell appears on invoices and receipts.
      The pricing for products is set in Plans.  One product can have many
      plans.
    name: Products
  - description: |
      The Rebilly Reporting API is currently experimental. You may see
      the [Reports API Documentation here](https://reports-api-docs.rebilly.com).
    name: Reports
  - description: |
      Search data including customers, invoices, orders, transactions and more.
    name: Search
  - description: |
      A shipping zone contains regions and countries that you ship to. Each shipping zone has its own shipping rates.
    name: Shipping Zones
  - description: |
      An order applies a plan's template to create invoice(s) for a customer, optionally at the appropriate scheduled intervals. A subscription order may also determine if the payment is collected automatically (with autopay set true).
    name: Orders
  - description: |
      Tag customers to better organize your data.
    name: Tags
  - description: |
      You can map a product to a tax category.  The tax category is used by
      tax providers to calculate taxes for invoices.
    name: Taxes
  - description: |
      Get and refund transactions.
    name: Transactions
  - description: |
      The Rebilly User API is primarily for our GUI apps.  You may see
      the [User API Documentation here](https://user-api-docs.rebilly.com).
      A User represents a person who can login to Rebilly, and take actions subject to
      their granted permissions.  It has resources less commonly integrated by
      3rd parties.
    name: Users
paths:
  /3dsecure:
    get:
      operationId: Get3DSecureCollection
      parameters:
        - $ref: "#/components/parameters/collectionLimit"
        - $ref: "#/components/parameters/collectionOffset"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ThreeDSecure"
                type: array
          description: A list was retrieved successfully.
          headers:
            Pagination-Limit:
              $ref: "#/components/headers/Pagination-Limit"
            Pagination-Offset:
              $ref: "#/components/headers/Pagination-Offset"
            Pagination-Total:
              $ref: "#/components/headers/Pagination-Total"
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      summary: Retrieve a list of ThreeDSecure entries
      tags:
        - 3D Secure
      x-code-samples:
        - lang: JavaScript
          source: |-
            // all parameters are optional
            const firstCollection = await api.threeDSecure.getAll();

            // alternatively you can specify one or more of them
            const params = {limit: 20, offset: 100}; 
            const secondCollection = await api.threeDSecure.getAll(params);

            // access the collection items, each item is a Member
            secondCollection.items.forEach(entry =&gt; console.log(entry.fields.customerId));
      x-sdk-operation-name: getAll
    parameters:
      - $ref: "#/components/parameters/organizationId"
    post:
      description: |
        Create a ThreeDSecure entry.
      operationId: Post3DSecure
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ThreeDSecure"
        description: ThreeDSecure resource.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThreeDSecure"
          description: ThreeDSecure entry was created.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
      summary: Create a ThreeDSecure entry
      tags:
        - 3D Secure
      x-code-samples:
        - lang: JavaScript
          source: |-
            // first set the properties for the new entry
            const data = {
                customerId: 'foobar-001',
                websiteId: 'my-website-id',
                paymentCardId: 'a-certain-card-id',
                gatewayAccountId: 'main-gateway-id',
                enrolled: 'Y',
                // enrollment electronic 
                // commerce indicator
                enrollmentEci: 'abc',
                // electronic commerce indicator
                eci: 0,
                // cardholder authentication verification value
                cavv: '1234',
                // transaction Id
                xid: 'er9349gju09u40394guj',
                payerAuthResponseStatus: 'Y',
                signatureVerification: 'Y',
                amount: 12.99,
                currency: 'USD'
            };

            const entry = await api.threeDSecure.create({data});
      x-sdk-operation-name: create
  "/3dsecure/{id}":
    get:
      description: |
        Retrieve a ThreeDSecure entry with specified identifier string.
      operationId: Get3DSecure
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ThreeDSecure"
          description: ThreeDSecure entry was retrieved successfully.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Retrieve a ThreeDSecure entry
      tags:
        - 3D Secure
      x-code-samples:
        - lang: JavaScript
          source: |-
            const entry = await api.threeDSecure.get({id: 'foobar-001'});
            console.log(entry.fields.customerId);
      x-sdk-operation-name: get
    parameters:
      - $ref: "#/components/parameters/resourceId"
      - $ref: "#/components/parameters/organizationId"
  /aml:
    get:
      description: |
        Search multiple PEP/Sanctions/Adverse Media lists with first and last name to find any blocklisted identities.
        Performs a fuzzy search including soundex. Not all fields are guaranteed to be filled.
      operationId: GetAmlEntry
      parameters:
        - $ref: "#/components/parameters/organizationId"
        - description: First name of individual to search.
          in: query
          name: firstName
          required: true
          schema:
            type: string
        - description: Last name of individual to search.
          in: query
          name: lastName
          required: true
          schema:
            type: string
        - description: Date of birth in format YYYY-MM-DD.
          in: query
          name: dob
          required: false
          schema:
            type: string
        - description: Country of individual as an ISO Alpha-2 code.
          in: query
          name: country
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AML"
                type: array
          description: An array of objects representing hits, or an empty array if none are found.
          headers:
            Pagination-Limit:
              $ref: "#/components/headers/Pagination-Limit"
            Pagination-Offset:
              $ref: "#/components/headers/Pagination-Offset"
            Pagination-Total:
              $ref: "#/components/headers/Pagination-Total"
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
      summary: Search PEP/Sanctions/Adverse Media lists
      tags:
        - AML
      x-sdk-operation-name: getAll
    parameters:
      - $ref: "#/components/parameters/organizationId"
  /attachments:
    get:
      description: |
        Retrieve a list of attachments.
        You may sort by the id, name, relatedId, relatedType, fileId, createdTime, and updatedTime.
      operationId: GetAttachmentCollection
      parameters:
        - $ref: "#/components/parameters/collectionLimit"
        - $ref: "#/components/parameters/collectionOffset"
        - $ref: "#/components/parameters/collectionFilter"
        - $ref: "#/components/parameters/collectionQuery"
        - $ref: "#/components/parameters/collectionExpand"
        - $ref: "#/components/parameters/collectionFields"
        - $ref: "#/components/parameters/collectionSort"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Attachment"
                type: array
          description: A list of Attachments was retrieved successfully.
          headers:
            Pagination-Limit:
              $ref: "#/components/headers/Pagination-Limit"
            Pagination-Offset:
              $ref: "#/components/headers/Pagination-Offset"
            Pagination-Total:
              $ref: "#/components/headers/Pagination-Total"
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      summary: Retrieve a list of Attachments
      tags:
        - Files
      x-code-samples:
        - lang: PHP
          source: |
            $attachments = $client-&gt;attachments()-&gt;search([
                'filter' =&gt; 'relatedType:customer',
            ]);
        - lang: JavaScript
          source: |-
            // all parameters are optional
            const firstCollection = await api.files.getAllAttachments();

            // alternatively you can specify one or more of them
            const params = {limit: 20, offset: 100, sort: '-createdTime'}; 
            const secondCollection = await api.files.getAllAttachments(params);

            // access the collection items, each item is a Member
            secondCollection.items.forEach(attachment =&gt; console.log(attachment.fields.relatedType));
      x-sdk-operation-name: getAllAttachments
    parameters:
      - $ref: "#/components/parameters/organizationId"
    post:
      description: |
        Create an Attachment.
      operationId: PostAttachment
      requestBody:
        $ref: "#/components/requestBodies/Attachment"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachment"
          description: Attachment was created.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
      summary: Create an Attachment
      tags:
        - Files
      x-code-samples:
        - lang: PHP
          source: |
            $attachmentForm = new Rebilly\Entities\Attachment();
            $attachmentForm-&gt;setFileId('fileId');
            $attachmentForm-&gt;setRelatedType($attachmentForm::TYPE_CUSTOMER);
            $attachmentForm-&gt;setRelatedId('customerId');

            try {
                $attachment = $client-&gt;attachments()-&gt;create($attachmentForm);
            } catch (UnprocessableEntityException $e) {
                echo $e-&gt;getMessage();
            }
        - lang: JavaScript
          source: |-
            // define the attachment
            const data = {
                // previously uploaded file ID
                fileId: 'my-file-id',
                relatedType: 'customer',
                relatedId: 'my-customer-id',
                name: 'an attachment',
                description: `the customer's file`
            };

            const attachment = await api.files.attach({data});
            console.log(attachment.fields.id);
      x-sdk-operation-name: attach
  "/attachments/{id}":
    delete:
      description: |
        Delete the Attachment with predefined identifier string.
      operationId: DeleteAttachment
      responses:
        "204":
          description: Attachment was deleted.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Delete an Attachment
      tags:
        - Files
      x-code-samples:
        - lang: PHP
          source: |
            $client-&gt;attachments()-&gt;delete('attachmentId');
        - lang: JavaScript
          source: |-
            const request = await api.files.detach({id: 'my-attachment-id'});

            // the request does not return any fields but
            // you can confirm the success using the status code
            console.log(request.response.status); // 204
      x-sdk-operation-name: detach
    get:
      description: |
        Retrieve a Attachment with specified identifier string.
      operationId: GetAttachment
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachment"
          description: Attachment was retrieved successfully.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Retrieve an Attachment
      tags:
        - Files
      x-code-samples:
        - lang: PHP
          source: |
            $attachment = $client-&gt;attachments()-&gt;load('attachmentId');
        - lang: JavaScript
          source: |-
            const attachment = await api.files.getAttachment({id: 'foobar-001'});
            console.log(attachment.fields.relatedType);
      x-sdk-operation-name: getAttachment
    parameters:
      - $ref: "#/components/parameters/resourceId"
      - $ref: "#/components/parameters/organizationId"
    put:
      description: |
        Update the Attachment with predefined ID.
      operationId: PutAttachment
      requestBody:
        $ref: "#/components/requestBodies/Attachment"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachment"
          description: Attachment was updated.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachment"
          description: Attachment was created.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
      summary: Update the Attachment with predefined ID
      tags:
        - Files
      x-code-samples:
        - lang: PHP
          source: |
            $attachmentForm = new Rebilly\Entities\Attachment();
            $attachmentForm-&gt;setFileId('fileId');
            $attachmentForm-&gt;setRelatedType($attachmentForm::TYPE_CUSTOMER);
            $attachmentForm-&gt;setRelatedId('customerId');

            try {
                $attachment = $client-&gt;attachments()-&gt;update('attachmentId', $attachmentForm);
            } catch (UnprocessableEntityException $e) {
                echo $e-&gt;getMessage();
            }
        - lang: JavaScript
          source: |-
            // define the values to update
            const data = {
                relatedType: 'customer',
                relatedId: 'my-customer-id',
                name: 'an attachment',
                description: `the customer's file`
            };

            const attachment = await api.files.updateAttachment({id: 'foobar-001', data});
      x-sdk-operation-name: updateAttachment
  /authentication-options:
    get:
      description: |
        Read current authentication options.
      operationId: GetAuthenticationOption
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AuthenticationOptions"
                type: array
          description: Current authentication options was retrieved successfully.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      summary: Read current authentication options
      tags:
        - Customer Authentication
      x-code-samples:
        - lang: PHP
          source: |
            $authenticationOptions = $client-&gt;authenticationOptions()-&gt;load();
        - lang: JavaScript
          source: |-
            const options = await api.customerAuthentication.getAuthOptions();
            console.log(options.fields.credentialTtl);
      x-sdk-operation-name: getAuthOptions
    parameters:
      - $ref: "#/components/parameters/organizationId"
    put:
      description: |
        Change options.
      operationId: PutAuthenticationOption
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthenticationOptions"
        description: Authentication Options resource.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationOptions"
          description: Authentication Options were updated.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
      summary: Change authentication options
      tags:
        - Customer Authentication
      x-code-samples:
        - lang: PHP
          source: |
            $authenticationOptionsForm = new Rebilly\Entities\AuthenticationOptions();
            // Regular expression below matches any password with 6+ length that contains alphabet symbols and/or numbers.
            $authenticationOptionsForm-&gt;setPasswordPattern('/^[a-zA-Z0-9]{6,}$/');

            try {
                $authenticationOptions = $client-&gt;authenticationOptions()-&gt;update($authenticationOptionsForm);
            } catch (UnprocessableEntityException $e) {
                echo $e-&gt;getMessage();
            }
        - lang: JavaScript
          source: |-
            // first set the properties for the authentication options
            const data = {
                passwordPattern: null,
                credentialTtl: 10,
                authTokenTtl: 20,
                resetTokenTtl: 30
            };

            const options = await api.customerAuthentication.updateAuthOptions({data});
            console.log(options.fields.credentialTtl);
      x-sdk-operation-name: updateAuthOptions
  /authentication-tokens:
    get:
      description: |
        Retrieve a list of auth tokens.
      operationId: GetAuthenticationTokenCollection
      parameters:
        - $ref: "#/components/parameters/collectionLimit"
        - $ref: "#/components/parameters/collectionOffset"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AuthenticationToken"
                type: array
          description: A list of auth tokens was retrieved successfully.
          headers:
            Pagination-Limit:
              $ref: "#/components/headers/Pagination-Limit"
            Pagination-Offset:
              $ref: "#/components/headers/Pagination-Offset"
            Pagination-Total:
              $ref: "#/components/headers/Pagination-Total"
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      summary: Retrieve a list of auth tokens
      tags:
        - Customer Authentication
      x-code-samples:
        - lang: PHP
          source: |
            $authenticationTokens = $client-&gt;authenticationTokens()-&gt;search([
                'filter' =&gt; 'customerId:testCustomer',
            ]);
        - lang: JavaScript
          source: |-
            // all parameters are optional
            const firstCollection = await api.customerAuthentication.getAllAuthTokens();

            // alternatively you can specify one or more of them
            const params = {limit: 20, offset: 100}; 
            const secondCollection = await api.customerAuthentication.getAllAuthTokens(params);

            // access the collection items, each item is a Member
            secondCollection.items.forEach(token =&gt; console.log(token.fields.username));
      x-sdk-operation-name: getAllAuthTokens
    parameters:
      - $ref: "#/components/parameters/organizationId"
    post:
      description: |
        Login a customer.
      operationId: PostAuthenticationToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthenticationToken"
        description: AuthenticationToken resource.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationToken"
          description: Login successful.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
      security:
        - SecretApiKey: []
        - JWT: []
        - PublishableApiKey: []
      summary: Login
      tags:
        - Customer Authentication
      x-code-samples:
        - lang: PHP
          source: |
            $authenticationForm = new Rebilly\Entities\AuthenticationToken();
            $authenticationForm-&gt;setUsername('username');
            $authenticationForm-&gt;setPassword('test123');

            try {
                $authenticationToken = $client-&gt;authenticationTokens()-&gt;login($authenticationForm);
            } catch (UnprocessableEntityException $e) {
                echo $e-&gt;getMessage();
            }
        - lang: JavaScript
          source: |-
            const data = {
                username: 'foobar',
                password: 'fuubar'

                // optionally you can define an `expiredTime` to 
                // limit the duration of the session token

                //expiredTime: '2017-09-18T19:17:39Z'
            };
            const session = await api.customerAuthentication.login({data});
            console.log(session.fields.token);
      x-sdk-operation-name: login
  "/authentication-tokens/{token}":
    delete:
      description: |
        Logout a customer.
      operationId: DeleteAuthenticationToken
      responses:
        "204":
          description: Customer was logged out.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
        - SecretApiKey: []
        - JWT: []
        - PublishableApiKey: []
      summary: Logout a customer
      tags:
        - Customer Authentication
      x-code-samples:
        - lang: PHP
          source: |
            $client-&gt;authenticationTokens()-&gt;logout('token');
        - lang: JavaScript
          source: |-
            const token = 'dcf6e32f2daee457a1db8ce5fdfbe200';
            const request = await api.customerAuthentication.logout({token});

            // the request does not return any fields but
            // you can confirm the success using the status code
            console.log(request.response.status); // 204
      x-sdk-operation-name: logout
    get:
      description: |
        Verify an authentication token.
      operationId: GetAuthenticationTokenVerification
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationToken"
          description: Authentication Token was verified.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
        - SecretApiKey: []
        - JWT: []
        - PublishableApiKey: []
      summary: Verify
      tags:
        - Customer Authentication
      x-code-samples:
        - lang: PHP
          source: |
            $isVerified = $client-&gt;authenticationTokens()-&gt;verify('token');
        - lang: JavaScript
          source: |-
            const token = 'dcf6e32f2daee457a1db8ce5fdfbe200';
            const verification = await api.customerAuthentication.verify({token});
            // if the the token is valid then no error will be thrown
            console.log(verification.reponse.status) // 200
      x-sdk-operation-name: verify
    parameters:
      - description: The token identifier string.
        in: path
        name: token
        required: true
        schema:
          type: string
      - $ref: "#/components/parameters/organizationId"
  "/authentication-tokens/{token}/exchange":
    parameters:
      - description: The token identifier string.
        in: path
        name: token
        required: true
        schema:
          type: string
      - $ref: "#/components/parameters/organizationId"
    post:
      description: |
        Exchange Authentication Token for JWT.

        It will also invalidate an Authentication Token by default (so it can only be exchanged once).
      operationId: PostAuthenticationTokenExchange
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerJWT"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerJWT"
          description: Authentication Token exchanged for JWT.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      security:
        - SecretApiKey: []
        - JWT: []
        - PublishableApiKey: []
      summary: Exchange
      tags:
        - Customer Authentication
      x-sdk-operation-name: exchangeToken
  /bank-accounts:
    get:
      description: |
        Retrieve a list of Bank Accounts.
      operationId: GetBankAccountCollection
      parameters:
        - $ref: "#/components/parameters/collectionLimit"
        - $ref: "#/components/parameters/collectionOffset"
        - $ref: "#/components/parameters/collectionQuery"
        - $ref: "#/components/parameters/collectionSort"
        - $ref: "#/components/parameters/collectionFilter"
        - $ref: "#/components/parameters/collectionExpand"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BankAccount"
                type: array
          description: A list of Bank Accounts was retrieved successfully.
          headers:
            Pagination-Limit:
              $ref: "#/components/headers/Pagination-Limit"
            Pagination-Offset:
              $ref: "#/components/headers/Pagination-Offset"
            Pagination-Total:
              $ref: "#/components/headers/Pagination-Total"
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      summary: Retrieve a list of bank accounts
      tags:
        - Bank Accounts
      x-code-samples:
        - lang: PHP
          source: |
            $bankAccounts = $client-&gt;bankAccounts()-&gt;search([
                'filter' =&gt; 'customerId:testId',
            ]);
        - lang: JavaScript
          source: |-
            // all parameters are optional
            const firstCollection = await api.bankAccounts.getAll();

            // alternatively you can specify one or more of them
            const params = {limit: 20, offset: 100, sort: '-createdTime'}; 
            const secondCollection = await api.bankAccounts.getAll(params);

            // access the collection items, each item is a Member
            secondCollection.items.forEach(bankAccount =&gt; console.log(bankAccount.fields.status));
      x-sdk-operation-name: getAll
    parameters:
      - $ref: "#/components/parameters/organizationId"
    post:
      description: |
        Create a Bank Account.
      operationId: PostBankAccount
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/BankAccountCreateToken"
                - $ref: "#/components/schemas/BankAccountCreatePlain"
        description: BankAccount resource.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BankAccount"
          description: Bank Account was created.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
      summary: Create a Bank Account
      tags:
        - Bank Accounts
      x-code-samples:
        - lang: PHP
          source: |
            $bankAccountForm = new Rebilly\Entities\BankAccount();
            $bankAccountForm-&gt;setCustomerId('customerId');
            $bankAccountForm-&gt;setRoutingNumber('0123456');
            $bankAccountForm-&gt;setAccountNumber('0123456');
            $bankAccountForm-&gt;setAccountType('checking');
            $bankAccountForm-&gt;setBillingAddress([
                'firstName' =&gt; 'John',
                'lastName' =&gt; 'Doe',
                'organization' =&gt; 'Test LTD',
                'address' =&gt; 'Test street 5',
                'address2' =&gt; 'Test house 5',
                'city' =&gt; 'New York',
                'region' =&gt; 'Long Island',
                'country' =&gt; 'US',
                'postalCode' =&gt; '123456',
                'emails' =&gt; [
                    [
                        'label' =&gt; 'main',
                        'value' =&gt; 'johndoe@testemail.com',
                        'primary' =&gt; true,
                    ],
                    [
                        'label' =&gt; 'secondary',
                        'value' =&gt; 'otheremail@testemail.com',
                    ],
                ],
                'phoneNumbers' =&gt; [
                    [
                        'label' =&gt; 'work',
                        'value' =&gt; '+123456789',
                        'primary' =&gt; true,
                    ],
                    [
                        'label' =&gt; 'home',
                        'value' =&gt; '+9874654321',
                    ],
                ],
            ]);

            try {
                $bankAccount = $client-&gt;bankAccounts()-&gt;create($bankAccountForm);
            } catch (UnprocessableEntityException $e) {
                echo $e-&gt;getMessage();
            }
        - lang: JavaScript
          source: |-
            // first set the required properties for the new bank account
            const data = {
                bankName: 'My Fake Financial',
                routingNumber: '12345678',
                accountNumber: '12345678',
                accountType: 'checking',
                customerId: 'acme-001'
            };

            // the ID is optional
            const firstKey = await api.bankAccounts.create({data});

            // or you can provide one
            const secondKey = await api.bankAccounts.create({id: 'my-second-id', data});
      x-sdk-operation-name: create
  "/bank-accounts/{id}":
    get:
      description: |
        Retrieve a Bank Account with specified identifier string.
      operationId: GetBankAccount
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BankAccount"
          description: Bank Account was retrieved successfully.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Retrieve a Bank Account
      tags:
        - Bank Accounts
      x-code-samples:
        - lang: PHP
          source: |
            $bankAccount = $client-&gt;bankAccounts()-&gt;load('bankAccountId');
        - lang: JavaScript
          source: |-
            const bankAccount = await api.bankAccounts.get({id: 'foobar-001'});
            console.log(bankAccount.fields.status);
      x-sdk-operation-name: get
    parameters:
      - $ref: "#/components/parameters/resourceId"
      - $ref: "#/components/parameters/organizationId"
    patch:
      description: |
        Update bank account's values except for the account number and routing. number.
      operationId: PatchBankAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BankAccountUpdatePlain"
        description: Bank Account.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BankAccount"
          description: Bank Account was updated.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
      summary: Update a bank account's values
      tags:
        - Bank Accounts
      x-code-samples:
        - lang: JavaScript
          source: |
            // properties to be updated
            const data = {
                bankName: 'Your Fake Financial',
                accountType: 'savings',
                billingAddress: {
                    firstName: 'John'
                }
            };

            api.bankAccounts.patch({id: 'id-to-update', data});
      x-sdk-operation-name: patch
    put:
      description: |
        Create or update a BankAccount with predefined identifier string.
      operationId: PutBankAccount
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/BankAccountCreateToken"
                - $ref: "#/components/schemas/BankAccountCreatePlain"
        description: BankAccount resource.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BankAccount"
          description: BankAccount was updated.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BankAccount"
          description: BankAccount was created.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
      summary: Create a Bank Account with predefined ID
      tags:
        - Bank Accounts
      x-code-samples:
        - lang: PHP
          source: |
            $bankAccountForm = new Rebilly\Entities\BankAccount();
            $bankAccountForm-&gt;setCustomerId('customerId');
            $bankAccountForm-&gt;setRoutingNumber('0123456');
            $bankAccountForm-&gt;setAccountNumber('0123456');
            $bankAccountForm-&gt;setAccountType('checking');
            $bankAccountForm-&gt;setBillingAddress([
                'firstName' =&gt; 'John',
                'lastName' =&gt; 'Doe',
                'organization' =&gt; 'Test LTD',
                'address' =&gt; 'Test street 5',
                'address2' =&gt; 'Test house 5',
                'city' =&gt; 'New York',
                'region' =&gt; 'Long Island',
                'country' =&gt; 'US',
                'postalCode' =&gt; '123456',
                'emails' =&gt; [
                    [
                        'label' =&gt; 'main',
                        'value' =&gt; 'johndoe@testemail.com',
                        'primary' =&gt; true,
                    ],
                    [
                        'label' =&gt; 'secondary',
                        'value' =&gt; 'otheremail@testemail.com',
                    ],
                ],
                'phoneNumbers' =&gt; [
                    [
                        'label' =&gt; 'work',
                        'value' =&gt; '+123456789',
                        'primary' =&gt; true,
                    ],
                    [
                        'label' =&gt; 'home',
                        'value' =&gt; '+9874654321',
                    ],
                ],
            ]);

            try {
                $bankAccount = $client-&gt;customers()-&gt;create($bankAccountForm, 'bankAccountId');
            } catch (UnprocessableEntityException $e) {
                echo $e-&gt;getMessage();
            }
        - lang: JavaScript
          source: |-
            // first set the required properties for the new bank account
            const data = {
                bankName: 'My Fake Financial',
                routingNumber: '12345678',
                accountNumber: '12345678',
                accountType: 'checking',
                customerId: 'acme-001'
            };

            // the ID is optional
            const firstKey = await api.bankAccounts.create({data});

            // or you can provide one
            const secondKey = await api.bankAccounts.create({id: 'my-second-id', data});
      x-sdk-operation-name: update
  "/bank-accounts/{id}/deactivation":
    parameters:
      - $ref: "#/components/parameters/resourceId"
      - $ref: "#/components/parameters/organizationId"
    post:
      description: |
        Deactivate a Bank Account.
      operationId: PostBankAccountDeactivation
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BankAccount"
          description: Bank Account was deactivated.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
      summary: Deactivate a Bank Account
      tags:
        - Bank Accounts
      x-code-samples:
        - lang: PHP
          source: |
            $bankAccount = $client-&gt;bankAccounts()-&gt;deactivate('bankAccountId');
        - lang: JavaScript
          source: |-
            const bankAccount = await api.bankAccounts.deactivate({id: 'id-to-deactivate'});

            // the bank account status will be updated to reflect the modification
            console.log(bankAccount.fields.status);
      x-sdk-operation-name: deactivate
  /blocklists:
    get:
      description: |
        Retrieve a list of blocklists.
      operationId: GetBlocklistCollection
      parameters:
        - $ref: "#/components/parameters/collectionLimit"
        - $ref: "#/components/parameters/collectionOffset"
        - $ref: "#/components/parameters/collectionSort"
        - $ref: "#/components/parameters/collectionFilter"
        - $ref: "#/components/parameters/collectionQuery"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Blocklist"
                type: array
          description: A list of Blocklists was retrieved successfully.
          headers:
            Pagination-Limit:
              $ref: "#/components/headers/Pagination-Limit"
            Pagination-Offset:
              $ref: "#/components/headers/Pagination-Offset"
            Pagination-Total:
              $ref: "#/components/headers/Pagination-Total"
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      summary: Retrieve a list of blocklists
      tags:
        - Blocklists
      x-code-samples:
        - lang: PHP
          source: |
            $blocklists = $client-&gt;blocklists()-&gt;search([
                'filter' =&gt; 'value:testValue',
            ]);
        - lang: JavaScript
          source: |
            // all parameters are optional
            const firstCollection = await api.blocklists.getAll();

            // alternatively you can specify one or more of them
            const params = {limit: 20, offset: 100, sort: '-createdTime'};
            const secondCollection = await api.blocklists.getAll(params);

            // access the collection items, each item is a Member
            secondCollection.items.forEach(blocklistItem =&gt; console.log(blocklistItem.fields.status));
      x-sdk-operation-name: getAll
    parameters:
      - $ref: "#/components/parameters/organizationId"
    post:
      description: |
        Create a blocklist.
      operationId: PostBlocklist
      requestBody:
        $ref: "#/components/requestBodies/Blocklist"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Blocklist"
          description: Blocklist was created.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
      summary: Create a blocklist
      tags:
        - Blocklists
      x-code-samples:
        - lang: PHP
          source: |
            $blocklistForm = new Rebilly\Entities\Blocklist();
            $blocklistForm-&gt;setType($blocklistForm::TYPE_EMAIL);
            $blocklistForm-&gt;setValue('test@test.com');
            $blocklistForm-&gt;setExpiredTime('2025-01-01 05:00:00');

            try {
                $blocklist = $client-&gt;blocklists()-&gt;create($blocklistForm);
            } catch (UnprocessableEntityException $e) {
                echo $e-&gt;getMessage();
            }
        - lang: JavaScript
          source: |
            // first set the required properties for the new blocklist item
            const data = {
                type: 'ip-address',
                value: '63.118.98.100'

                // optionally provide an `expirationTime` to make
                // the item expire and function like a `greylist`

                // expirationTime: '2017-09-18T21:50:44Z'
            };

            // the ID is optional
            const firstKey = await api.blocklists.create({data});

            // or you can provide one
            const secondKey = await api.blocklists.create({id: 'my-second-id', data});
      x-sdk-operation-name: create
  "/blocklists/{id}":
    delete:
      description: |
        Delete a blocklist with predefined identifier string.
      operationId: DeleteBlocklist
      responses:
        "204":
          description: Blocklist was deleted.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Delete a blocklist
      tags:
        - Blocklists
      x-code-samples:
        - lang: PHP
          source: |
            $client-&gt;blocklists()-&gt;delete('blocklistId');
        - lang: JavaScript
          source: |
            const request = await api.blocklists.delete({id: 'my-second-key'});

            // the request does not return any fields but
            // you can confirm the success using the status code
            console.log(request.response.status); // 204
      x-sdk-operation-name: delete
    get:
      description: |
        Retrieve a blocklist with specified identifier string.
      operationId: GetBlocklist
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Blocklist"
          description: Blocklist was retrieved successfully.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Retrieve a blocklist
      tags:
        - Blocklists
      x-code-samples:
        - lang: PHP
          source: |
            $blocklist = $client-&gt;blocklists()-&gt;load('blocklistId');
        - lang: JavaScript
          source: |
            const blocklistItem = await api.blocklists.get({id: 'foobar-001'});
            console.log(blocklistItem.fields.status);
      x-sdk-operation-name: get
    parameters:
      - $ref: "#/components/parameters/resourceId"
      - $ref: "#/components/parameters/organizationId"
    put:
      description: |
        Create a blocklist with predefined identifier string.
      operationId: PutBlocklist
      requestBody:
        $ref: "#/components/requestBodies/Blocklist"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Blocklist"
          description: Blocklist was created.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Blocklist exist and cannot be updated.
        "422":
          $ref: "#/components/responses/ValidationError"
      summary: Create a blocklist with predefined ID
      tags:
        - Blocklists
      x-code-samples:
        - lang: PHP
          source: |
            $blocklistForm = new Rebilly\Entities\Blocklist();
            $blocklistForm-&gt;setType($blocklistForm::TYPE_EMAIL);
            $blocklistForm-&gt;setValue('test@test.com');
            $blocklistForm-&gt;setExpiredTime('2025-01-01 05:00:00');

            try {
                $blocklist = $client-&gt;blocklists()-&gt;create($blocklistForm, 'blocklistId');
            } catch (UnprocessableEntityException $e) {
                echo $e-&gt;getMessage();
            }
        - lang: JavaScript
          source: |
            // first set the required properties for the new blocklist item
            const data = {
                type: 'ip-address',
                value: '63.118.98.100'

                // optionally provide an `expirationTime` to make
                // the item expire and function like a `greylist`

                // expirationTime: '2017-09-18T21:50:44Z'
            };

            // the ID is optional
            const firstKey = await api.blocklists.create({data});

            // or you can provide one
            const secondKey = await api.blocklists.create({id: 'my-second-id', data});
      x-sdk-operation-name: update
  /coupons:
    get:
      description: |
        Retrieve a list of coupons.
      operationId: GetCouponCollection
      parameters:
        - $ref: "#/components/parameters/collectionLimit"
        - $ref: "#/components/parameters/collectionOffset"
        - $ref: "#/components/parameters/collectionFilter"
        - $ref: "#/components/parameters/collectionQuery"
        - $ref: "#/components/parameters/collectionSort"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Coupon"
                type: array
          description: A list of coupons was retrieved successfully.
          headers:
            Pagination-Limit:
              $ref: "#/components/headers/Pagination-Limit"
            Pagination-Offset:
              $ref: "#/components/headers/Pagination-Offset"
            Pagination-Total:
              $ref: "#/components/headers/Pagination-Total"
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      summary: Retrieve a list of coupons
      tags:
        - Coupons
      x-code-samples:
        - lang: PHP
          source: |
            $coupons = $client-&gt;coupons()-&gt;search([
                'filter' =&gt; 'status:issued',
            ]);
        - lang: JavaScript
          source: |-
            // all parameters are optional
            const firstCollection = await api.coupons.getAll();

            // alternatively you can specify one or more of them
            const params = {limit: 20, offset: 100, sort: '-createdTime'}; 
            const secondCollection = await api.coupons.getAll(params);

            // access the collection items, each item is a Member
            secondCollection.items.forEach(coupon =&gt; console.log(coupon.fields.status));
      x-sdk-operation-name: getAll
    parameters:
      - $ref: "#/components/parameters/organizationId"
    post:
      description: |
        Create a coupon.
      operationId: PostCoupon
      requestBody:
        $ref: "#/components/requestBodies/Coupon"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Coupon"
          description: Coupon was created.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
      summary: Create a coupon
      tags:
        - Coupons
      x-code-samples:
        - lang: PHP
          source: |
            $couponForm = new Rebilly\Entities\Coupons\Coupon();

            $discountArray = [
                'currency' =&gt; 'USD',
                'amount' =&gt; 1.99,
            ];

            $discountForm = new \Rebilly\Entities\Coupons\Discounts\Fixed($discountArray);
            $couponForm-&gt;setDiscount($discountForm);
            // Coupon can be used right now
            $couponForm-&gt;setIssuedTime(date('Y-m-d H:i:s'));

            $restrictionArray = [
                'quantity' =&gt; 2,
            ];

            $restrictionForm = new Rebilly\Entities\Coupons\Restrictions\DiscountsPerRedemption($restrictionArray);

            $couponForm-&gt;setRestrictions([$restrictionForm]);

            try {
                $coupon = $client-&gt;coupons()-&gt;create($couponForm);
            } catch (UnprocessableEntityException $e) {
                echo $e-&gt;getMessage();
            }
        - lang: JavaScript
          source: |
            // first set the required properties for the new coupon
            const data = {
                description: 'a new coupon',
                issuedTime: '2017-09-19T20:46:44Z',
                discount: {
                    type: 'percent',
                    value: 12
                },
                restrictions: [{
                    type: 'discounts-per-redemption',
                    quantity: 12
                }]
            };

            // the ID is optional
            const firstKey = await api.coupons.create({data});

            // or you can provide one
            const secondKey = await api.coupons.create({id: 'my-second-id', data});
      x-sdk-operation-name: create
  /coupons-redemptions:
    get:
      operationId: GetCouponRedemptionCollection
      parameters:
        - $ref: "#/components/parameters/collectionLimit"
        - $ref: "#/components/parameters/collectionOffset"
        - $ref: "#/components/parameters/collectionFilter"
        - $ref: "#/components/parameters/collectionQuery"
        - $ref: "#/components/parameters/collectionSort"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CouponRedemption"
                type: array
          description: Coupons redemptions were retrieved successfully.
          headers:
            Pagination-Limit:
              $ref: "#/components/headers/Pagination-Limit"
            Pagination-Offset:
              $ref: "#/components/headers/Pagination-Offset"
            Pagination-Total:
              $ref: "#/components/headers/Pagination-Total"
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      summary: Retrieve a list of coupon redemptions
      tags:
        - Coupons
      x-code-samples:
        - lang: PHP
          source: |
            $couponRedemptions = $client-&gt;couponsRedemptions()-&gt;search([
                'filter' =&gt; 'customerId:testCustomer',
            ]);
        - lang: JavaScript
          source: |-
            // all parameters are optional
            const firstCollection = await api.coupons.getAllRedemptions();

            // alternatively you can specify one or more of them
            const params = {limit: 20, offset: 100, sort: '-createdTime'}; 
            const secondCollection = await api.coupons.getAllRedemptions(params);

            // access the collection items, each item is a Member
            secondCollection.items.forEach(coupon =&gt; console.log(coupon.fields.status));
      x-sdk-operation-name: getAllRedemptions
    parameters:
      - $ref: "#/components/parameters/organizationId"
    post:
      description: |
        Redeem a coupon.
      operationId: PostCouponRedemption
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CouponRedemption"
        description: Redeem a coupon.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CouponRedemption"
          description: Coupon was redeemed.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
      summary: Redeem a coupon
      tags:
        - Coupons
      x-code-samples:
        - lang: PHP
          source: |
            $redemptionForm = new Rebilly\Entities\Coupons\Redemption();
            $redemptionForm-&gt;setCustomerId('customerId');
            $redemptionForm-&gt;setCouponId('couponId');

            $restrictionArray = [
                'type' =&gt; Rebilly\Entities\Coupons\Restriction::TYPE_DISCOUNTS_PER_REDEMPTION,
                'quantity' =&gt; 2,
            ];

            $restrictionForm = new Rebilly\Entities\Coupons\Restriction([
                $restrictionArray,
            ]);

            $redemptionForm-&gt;setAdditionalRestrictions($restrictionForm);

            try {
                $couponRedemption = $client-&gt;couponsRedemptions()-&gt;redeem($redemptionForm);
            } catch (UnprocessableEntityException $e) {
                echo $e-&gt;getMessage();
            }
        - lang: JavaScript
          source: |
            // build the redemption data
            const data = {
              couponId: 'my-best-coupon',
              customerId: 'foobar-001'
            };

            const redemption = await api.coupons.redeem({data});
            console.log(redemption.fields.id);
      x-sdk-operation-name: redeem
  "/coupons-redemptions/{id}":
    get:
      operationId: GetCouponRedemption
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CouponRedemption"
          description: Retrieve a coupon redemption with specified identifier string.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Retrieve a coupon redemption with specified identifier string
      tags:
        - Coupons
      x-code-samples:
        - lang: PHP
          source: |
            $couponRedemption = $client-&gt;couponsRedemptions()-&gt;load('redemptionId');
        - lang: JavaScript
          source: |-
            const redemption = await api.coupons.getRedemption({id: 'foobar-001'});
            console.log(redemption.fields.id);
      x-sdk-operation-name: getRedemption
    parameters:
      - $ref: "#/components/parameters/resourceId"
      - $ref: "#/components/parameters/organizationId"
  "/coupons-redemptions/{id}/cancel":
    parameters:
      - $ref: "#/components/parameters/resourceId"
      - $ref: "#/components/parameters/organizationId"
    post:
      operationId: PostCouponRedemptionCancellation
      responses:
        "201":
          description: Cancel a coupon redemption.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Cancel a coupon redemption
      tags:
        - Coupons
      x-code-samples:
        - lang: PHP
          source: |
            $client-&gt;couponsRedemptions()-&gt;cancel('id');
        - lang: JavaScript
          source: |-
            const cancellation = await api.coupons.cancelRedemption({id: 'foobar-001'});

            // the request does not return any fields but
            // you can confirm the success using the status code
            console.log(cancellation.response.status); // 201
      x-sdk-operation-name: cancelRedemption
  "/coupons/{id}":
    get:
      description: |
        Retrieve a coupon with specified coupon ID string.
      operationId: GetCoupon
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Coupon"
          description: Coupon was retrieved successfully.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Retrieve a coupon
      tags:
        - Coupons
      x-code-samples:
        - lang: PHP
          source: |
            $coupon = $client-&gt;coupons()-&gt;load('couponId');
        - lang: JavaScript
          source: |
            const coupon = await api.coupons.get({couponId: 'foobar-001'});
            console.log(coupon.fields.status);
      x-sdk-operation-name: get
    parameters:
      - $ref: "#/components/parameters/resourceId"
      - $ref: "#/components/parameters/organizationId"
    put:
      description: |
        Create or update a coupon with predefined coupon ID.
      operationId: PutCoupon
      requestBody:
        $ref: "#/components/requestBodies/Coupon"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Coupon"
          description: Coupon was updated.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Coupon"
          description: Coupon was created.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
      summary: Create or update a coupon with predefined coupon ID
      tags:
        - Coupons
      x-code-samples:
        - lang: PHP
          source: |
            $couponForm = new Rebilly\Entities\Coupons\Coupon();

            $discountArray = [
                'type' =&gt; Rebilly\Entities\Coupons\Discount::TYPE_FIXED,
                'currency' =&gt; 'USD',
                'amount' =&gt; 1.99,
            ];

            $discountForm = new Rebilly\Entities\Coupons\Discount($discountArray);
            $couponForm-&gt;setDiscount($discountForm);

            $restrictionArray = [
                'type' =&gt; Rebilly\Entities\Coupons\Restriction::TYPE_DISCOUNTS_PER_REDEMPTION,
                'quantity' =&gt; 2,
            ];

            $restrictionForm = new Rebilly\Entities\Coupons\Restriction([
                $restrictionArray,
            ]);

            $couponForm-&gt;setRestrictions($restrictionForm);

            try {
                $coupon = $client-&gt;coupons()-&gt;create($couponForm, 'couponId');
            } catch (UnprocessableEntityException $e) {
                echo $e-&gt;getMessage();
            }
        - lang: JavaScript
          source: |
            // creating a coupon
            const data = {
                description: 'a new coupon',
                issuedTime: '2017-09-19T20:46:44Z',
                discount: {
                    type: 'percent',
                    value: 12
                },
                restrictions: [{
                    type: 'discounts-per-redemption',
                    quantity: 12
                }]
            };

            // the ID is optional
            const firstKey = await api.coupons.create({data});

            // or you can provide one
            const secondKey = await api.coupons.create({id: 'my-second-id', data});


            // updating a coupon
            const data = {
                description: 'a small update'
            };

            const coupon = await api.coupons.update({id: 'my-second-id', data});
      x-sdk-operation-name: update
  "/coupons/{id}/expiration":
    parameters:
      - $ref: "#/components/parameters/resourceId"
      - $ref: "#/components/parameters/organizationId"
    post:
      description: |
        Set a coupon's expiry time with the specified coupon ID.
        The expiredTime of a coupon must be greater than its issuedTime.
        This cannot be performed on expired coupons.
      operationId: PostCouponExpiration
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CouponExpiration"
        description: Coupon resource.
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Coupon"
          description: Coupon expiration was successfully set.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: The coupon is already expired and has been redeemed, unable to. reschedule expiration.
        "422":
          $ref: "#/components/responses/ValidationError"
      summary: Set a coupon's expiration time
      tags:
        - Coupons
      x-code-samples:
        - lang: JavaScript
          source: |
            const data = {
                expiredTime: "2020-05-25T18:51:14Z"
            }

            const coupon = await api.coupons.setExpiration({id: 'my-second-id', data});
      x-sdk-operation-name: setExpiration
  /credentials:
    get:
      description: |
        Retrieve a list of credentials.
      operationId: GetCredentialCollection
      parameters:
        - $ref: "#/components/parameters/collectionLimit"
        - $ref: "#/components/parameters/collectionOffset"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Credential"
                type: array
          description: A list of Credentials was retrieved successfully.
          headers:
            Pagination-Limit:
              $ref: "#/components/headers/Pagination-Limit"
            Pagination-Offset:
              $ref: "#/components/headers/Pagination-Offset"
            Pagination-Total:
              $ref: "#/components/headers/Pagination-Total"
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      summary: Retrieve a list of credentials
      tags:
        - Customer Authentication
      x-code-samples:
        - lang: PHP
          source: |
            $customerCredentials = $client-&gt;customerCredentials()-&gt;search([
                'filter' =&gt; 'customerId:testCustomer',
            ]);
        - lang: JavaScript
          source: |-
            // all parameters are optional
            const firstCollection = await api.customerAuthentication.getAllCredentials();

            // alternatively you can specify one or more of them
            const params = {limit: 20, offset: 100}; 
            const secondCollection = await api.customerAuthentication.getAllCredentials(params);

            // access the collection items, each item is a Member
            secondCollection.items.forEach(credential =&gt; console.log(credential.fields.customerId));
      x-sdk-operation-name: getAllCredentials
    parameters:
      - $ref: "#/components/parameters/organizationId"
    post:
      description: |
        Create a credential.
      operationId: PostCredential
      requestBody:
        $ref: "#/components/requestBodies/Credential"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Credential"
          description: Credential was created.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationError"
      summary: Create a credential
      tags:
        - Customer Authentication
      x-code-samples:
        - lang: PHP
          source: |
            $customerCredentialForm = new Rebilly\Entities\CustomerCredential();
            $customerCredentialForm-&gt;setCustomerId('customerId');
            $customerCredentialForm-&gt;setUsername('test');
            $customerCredentialForm-&gt;setPassword('1234');

            try {
                $customerCredential = $client-&gt;customerCredentials()-&gt;create($customerCredentialForm);
            } catch (UnprocessableEntityException $e) {
                echo $e-&gt;getMessage();
            }
        - lang: JavaScript
          source: |-
            // first set the required properties for the new credential
            const data = {
                username: 'foobar',
                password: 'fuubar',
                customerId: 'foobar-0001'

                // optionally you can define an `expiredTime` to 
                // limit the duration of the credential

                //expiredTime: '2017-09-18T19:17:39Z'
            };

            // the ID is optional
            const firstCredential = await api.customerAuthentication.createCredential({data});

            // or you can provide one
            const secondCredential = await api.customerAuthentication.createCredential({id: 'my-second-id', data});
      x-sdk-operation-name: createCredential
  "/credentials/{id}":
    delete:
      description: |
        Delete a credential with predefined identifier string.
      operationId: DeleteCredential
      responses:
        "204":
          description: Credential was deleted.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Delete a credential
      tags:
        - Customer Authentication
      x-code-samples:
        - lang: PHP
          source: |
            $client-&gt;customerCredentials()-&gt;delete('credentialId');
        - lang: JavaScript
          source: |-
            const request = await api.customerAuthentication.deleteCredential({id: 'my-second-key'});

            // the request does not return any fields but
            // you can confirm the success using the status code
            console.log(request.response.status); // 204
      x-sdk-operation-name: deleteCredential
    get:
      description: |
        Retrieve a credential with specified identifier string.
      operationId: GetCredential
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Credential"
          description: Credential was retrieved successfully.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
      summary: Retrieve a credential
      tags:
        - Customer Authentication
      x-code-samples:
        - lang: PHP
          source: |
            $customerCredential = $client-&gt;customerCredentials()-&gt;load('credentialId');
        - lang: JavaScript
          source: |-
            const credential = await api.customerAuthentication.getCredential({id: 'my-first-id'});
            console.log(credential.fields.customerId);
      x-sdk-operation-name: getCredential
    parameters:
      - $ref: "#/components/parameters/resourceId"
      - $ref: "#/components/parameters/organizationId"
    put:
      description: |
        Create or update a credential with predefined identifier string.
      operationId: PutCredential
      requestBody:
        $ref: "#/components/requestBodies/Credential"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Credential"
          description: Credential was updated.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Credential"
          description: Credential was created.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
      summary: Create or update a credential with predefined ID
      tags:
        - Customer Authentication
      x-code-samples:
        - lang: PHP
          source: |
            $customerCredentialForm = new Rebilly\Entities\CustomerCredential();
            $customerCredentialForm-&gt;setCustomerId('customerId');
            $customerCredentialForm-&gt;setUsername('test');
            $customerCredentialForm-&gt;setPassword('1234');

            try {
                $customerCredential = $client-&gt;customerCredentials()-&gt;update('credentialId', $customerCredentialForm);
            } catch (UnprocessableEntityException $e) {
                echo $e-&gt;getMessage();
            }
        - lang: JavaScript
          source: |-
            // creating a new credential
            const data = {
                username: 'foobar',
                password: 'fuubar',
                customerId: 'foobar-0001'

                // optionally you can define an `expiredTime` to 
                // limit the duration of the credential

                //expiredTime: '2017-09-18T19:17:39Z'
            };

            // the ID is optional
            const firstCredential = await api.customerAuthentication.createCredential({data});

            // or you can provide one
            const secondCredential = await api.customerAuthentication.createCredential({id: 'my-second-id', data});




            // updating a credential
            const data = {
                username: 'foobar',
                password: 'hell0'
            };

            const secondCredential = await api.customerAuthentication.updateCredential({id: 'my-second-id', data});
      x-sdk-operation-name: updateCredential
  "/custom-fields/{resource}":
    get:
      description: |
        Retrieve a schema of Custom Fields for the given resource type.
      operationId: GetCustomFieldCollection
      parameters:
        - $ref: "#/components/parameters/collectionLimit"
        - $ref: "#/components/parameters/collectionOffset"
      responses:
        "200":
          content:
            application/json:
              schema:
                description: The list of custom fields.
                items:
                  $ref: "#/components/schemas/CustomField"
                type: array
          description: A schema of Custom Fields was retrieved successfully.
          headers:
            Rate-Limit-Limit:
              $ref: "#/components/headers/Rate-Limit-Limit"
            Rate-Limit-Remaining:
              $ref: "#/components/headers/Rate-Limit-Remaining"
            Rate-Limit-Reset:
              $ref: "#/components/headers/Rate-Limit-Reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
      summary: Retrieve Custom Fields
      tags:
        - Custom Fields
      x-code-samples:
        - lang: PHP
          source: |
            $customFields = $client-&gt;customFields()-&gt;search('customers', [
                'filter' =&gt; 'type:boolean',
            ]);
        - lang: JavaScript
          source: |-
            // all parameters except `resource` are optional
            const firstCollection = await api.customFields.getAll({resource: 'customers'});

            // alternatively you can specify one or more of them
            const params = {resource: 'customers', limit: 20, offset: 100}; 
            const secondCollection = await api.customFields.getAll(params);

            // access the collection items, each item is a Member
            secondCollection.items.forEach(customField =&gt; console.log(customField.fields.description));
      x-sdk-operation-name: getAll
    parameters:
      - $ref: "#/components/parameters/customFieldResource"
[...]
