swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2019-08-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-08-01/endpointService.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-endpointService
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/virtualNetworkAvailableEndpointServices":
    get:
      description: List what values of endpoint services are available for use.
      operationId: AvailableEndpointServices_List
      parameters:
        - description: The location to check available endpoint services.
          in: path
          name: location
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. Returns list of available endpoint services.
          schema:
            $ref: "#/definitions/EndpointServicesListResult"
      x-ms-examples:
        EndpointServicesList:
          parameters:
            api-version: 2019-08-01
            location: westus
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/providers/Microsoft.Network/virtualNetworkEndpointServices/Microsoft.Storage
                    name: Microsoft.Storage
                    type: Microsoft.Network/virtualNetworkEndpointServices
                  - id: /subscriptions/subid/providers/Microsoft.Network/virtualNetworkEndpointServices/Microsoft.Sql
                    name: Microsoft.Sql
                    type: Microsoft.Network/virtualNetworkEndpointServices
                  - id: /subscriptions/subid/providers/Microsoft.Network/virtualNetworkEndpointServices/Microsoft.AzureActiveDirectory
                    name: Microsoft.AzureActiveDirectory
                    type: Microsoft.Network/virtualNetworkEndpointServices
      x-ms-pageable:
        nextLinkName: nextLink
definitions:
  EndpointServiceResult:
    allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        x-ms-azure-resource: true
    description: Endpoint service.
    properties:
      name:
        description: Name of the endpoint service.
        readOnly: true
        type: string
      type:
        description: Type of the endpoint service.
        readOnly: true
        type: string
  EndpointServicesListResult:
    description: Response for the ListAvailableEndpointServices API service call.
    properties:
      nextLink:
        description: The URL to get the next set of results.
        type: string
      value:
        description: List of available endpoint services in a region.
        items:
          $ref: "#/definitions/EndpointServiceResult"
        type: array
