swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  contact:
    email: wlmengg@microsoft.com
    name: Microsoft
  description: APIs for workload monitoring
  title: Workload Monitor
  version: 2018-08-31-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/workloadmonitor/resource-manager/Microsoft.WorkloadMonitor/preview/2018-08-31-preview/Microsoft.WorkloadMonitor.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: workloadmonitor-Microsoft.WorkloadMonitor
  x-tags:
    - Azure
    - Microsoft
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  $apply:
    description: Apply aggregation.
    in: query
    name: $apply
    required: false
    type: string
    x-ms-parameter-location: method
  $expand:
    description: Include properties inline in the response.
    in: query
    name: $expand
    required: false
    type: string
    x-ms-parameter-location: method
  $filter:
    description: Filter to be applied on the operation.
    in: query
    name: $filter
    required: false
    type: string
    x-ms-parameter-location: method
  $orderby:
    description: Sort the result on one or more properties.
    in: query
    name: $orderby
    required: false
    type: string
    x-ms-parameter-location: method
  $select:
    description: Properties to be returned in the response.
    in: query
    name: $select
    required: false
    type: string
    x-ms-parameter-location: method
  $skiptoken:
    description: The page-continuation token to use with a paged version of this API.
    in: query
    name: $skiptoken
    required: false
    type: string
    x-ms-parameter-location: method
  $top:
    description: Limit the result to the specified number of rows.
    in: query
    name: $top
    required: false
    type: string
    x-ms-parameter-location: method
  api-version:
    description: The API version to use for this operation.
    enum:
      - 2018-08-31-preview
    in: query
    name: api-version
    required: true
    type: string
  componentId:
    description: Component Id.
    format: uuid
    in: path
    name: componentId
    required: true
    type: string
    x-ms-parameter-location: method
  monitorId:
    description: Id of the Monitor.
    format: uuid
    in: path
    name: monitorId
    required: true
    type: string
    x-ms-parameter-location: method
  monitorInstanceId:
    description: MonitorInstance Id.
    format: uuid
    in: path
    name: monitorInstanceId
    required: true
    type: string
    x-ms-parameter-location: method
  notificationSettingName:
    description: Default string modeled as parameter for URL to work correctly.
    enum:
      - default
    in: path
    name: notificationSettingName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  /providers/Microsoft.WorkloadMonitor/operations:
    get:
      consumes: []
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/$skiptoken"
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/OperationListResult"
      summary: Gets the details of all operations possible on the resource provider.
      tags:
        - WorkloadInsights
      x-ms-examples:
        Operations_List:
          parameters:
            api-version: 2018-08-31-preview
          responses:
            "200":
              body:
                value:
                  - display:
                      description: Gets the supported operations
                      operation: Get operations
                      provider: Microsoft.WorkloadMonitor
                      resource: operations
                    name: Microsoft.WorkloadMonitor/operations/read
                    origin: user,system
                  - display:
                      description: Gets summary of monitor instances
                      operation: Get monitor instances summary
                      provider: Microsoft.WorkloadMonitor
                    name: Microsoft.WorkloadMonitor/monitorInstancesSummary/read
                    origin: user,system
                  - display:
                      description: Gets summary of components
                      operation: Get components summary
                      provider: Microsoft.WorkloadMonitor
                      resource: Components summary
                    name: Microsoft.WorkloadMonitor/componentsSummary/read
                    origin: user,system
                  - display:
                      description: Gets instances of monitors for the resource
                      operation: Get monitor instances
                      provider: Microsoft.WorkloadMonitor
                      resource: Monitor instances
                    name: Microsoft.WorkloadMonitor/monitorInstances/read
                    origin: user,system
                  - display:
                      description: Gets components for the resource
                      operation: Get components
                      provider: Microsoft.WorkloadMonitor
                      resource: Components
                    name: Microsoft.WorkloadMonitor/components/read
                    origin: user,system
                  - display:
                      description: Gets monitors for the resource
                      operation: Get monitors
                      provider: Microsoft.WorkloadMonitor
                      resource: Monitors
                    name: Microsoft.WorkloadMonitor/monitors/read
                    origin: user,system
                  - display:
                      description: Configure monitor for the resource
                      operation: Configure monitor
                      provider: Microsoft.WorkloadMonitor
                      resource: Monitors
                    name: Microsoft.WorkloadMonitor/monitors/write
                    origin: user,system
                  - display:
                      description: Gets notification settings for the resource
                      operation: Get notification settings
                      provider: Microsoft.WorkloadMonitor
                      resource: Notification settings
                    name: Microsoft.WorkloadMonitor/notificationSettings/read
                    origin: user,system
                  - display:
                      description: Configure notification settings for the resource
                      operation: Configure notification settings
                      provider: Microsoft.WorkloadMonitor
                      resource: Notification settings
                    name: Microsoft.WorkloadMonitor/notificationSettings/write
                    origin: user,system
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.WorkloadMonitor/componentsSummary":
    get:
      consumes: []
      operationId: ComponentsSummary_List
      parameters:
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/$select"
        - $ref: "#/parameters/$filter"
        - $ref: "#/parameters/$apply"
        - $ref: "#/parameters/$orderby"
        - $ref: "#/parameters/$expand"
        - $ref: "#/parameters/$top"
        - $ref: "#/parameters/$skiptoken"
      responses:
        "200":
          description: OK. At least one component found.
          schema:
            $ref: "#/definitions/ComponentsCollection"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Get subscription wide details of components.
      tags:
        - WorkloadInsights
      x-ms-examples:
        ComponentsSummary_List:
          parameters:
            $apply: groupby((OperatingSystem,HealthState),aggregate(VmId with countdistinct as VmCount))
            $filter: HealthStateCategory eq 'Identity' and (ComponentTypeName eq 'Microsoft.Windows.Server.10.0.Full.Computer' or ComponentTypeName eq 'Microsoft.Linux.Universal.Computer') and WorkloadType eq 'BaseOS' and (ResourceGroupId eq 'viv_rg')
            $orderby: Error
            $select: OSType
            api-version: 2018-08-31-preview
            subscriptionId: a7f23fdb-e626-4f95-89aa-3a360a90861e
          responses:
            "200":
              body:
                nextLink: null
                value:
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/componentsSummary
                    name: componentsSummary
                    properties:
                      aggregateProperties:
                        errorVmCount: "0"
                        operatingSystem: Ubuntu 16.04 (x86_64)
                        osType: Linux
                        successVmCount: "1"
                        unknownVmCount: "0"
                        warningVmCount: "0"
                      children: null
                      componentName: null
                      componentTypeGroupCategory: null
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      solutionId: null
                      vmId: null
                      vmName: null
                      vmTags: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/componentsSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/componentsSummary
                    name: componentsSummary
                    properties:
                      aggregateProperties:
                        errorVmCount: "2"
                        operatingSystem: Microsoft Windows Server 2016 Datacenter
                        osType: Windows
                        successVmCount: "0"
                        unknownVmCount: "4"
                        warningVmCount: "0"
                      children: null
                      componentName: null
                      componentTypeGroupCategory: null
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      solutionId: null
                      vmId: null
                      vmName: null
                      vmTags: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/componentsSummary
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.WorkloadMonitor/monitorInstancesSummary":
    get:
      consumes: []
      operationId: MonitorInstancesSummary_List
      parameters:
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/$select"
        - $ref: "#/parameters/$filter"
        - $ref: "#/parameters/$apply"
        - $ref: "#/parameters/$orderby"
        - $ref: "#/parameters/$expand"
        - $ref: "#/parameters/$top"
        - $ref: "#/parameters/$skiptoken"
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/MonitorInstancesCollection"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Get subscription wide health instances.
      tags:
        - WorkloadInsights
      x-ms-examples:
        MonitorInstancesSummary_List:
          parameters:
            $apply: groupby((MonitorName,HealthState),aggregate($count as Instances))
            $filter: (ResourceGroupId eq 'viv_rg') and WorkloadType eq 'BaseOS' and HealthStateCategory eq 'CustomGroup' and MonitorKind eq 'Custom' and (MonitorType eq 'Unit') and (MonitorCategory eq 'PerformanceHealth' or MonitorCategory eq 'AvailabilityHealth' or MonitorCategory eq 'ConfigurationHealth' or MonitorCategory eq 'SecurityHealth')
            $orderby: Unhealthy desc
            $select: MonitorId,MonitorName,MonitorDisplayName,MonitorType,MonitorCategory,ComponentName,ComponentTypeDisplayName
            api-version: 2018-08-31-preview
            subscriptionId: a7f23fdb-e626-4f95-89aa-3a360a90861e
          responses:
            "200":
              body:
                nextLink: null
                value:
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Windows Server 2016 Operating System (Full)
                        monitorDisplayName: Percentage of Committed Memory in Use
                        successInstances: "0"
                        unhealthyInstances: "2"
                        unknownInstances: "4"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: Windows Operating System
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: PerformanceHealth
                      monitorId: 75472fe7-e406-32a6-4198-0502ecee1bfe
                      monitorName: Microsoft.Windows.Server.10.0.OperatingSystem.PercentCommittedBytesInUse
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Windows Server 2016 Operating System (Full)
                        monitorDisplayName: DHCP Client Service Health
                        successInstances: "1"
                        unhealthyInstances: "1"
                        unknownInstances: "4"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: Windows Operating System
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: AvailabilityHealth
                      monitorId: c9db5e55-f3c8-7366-6b98-bc727e726a4b
                      monitorName: Microsoft.Windows.Server.10.0.OperatingSystem.DHCPClientServiceHealth
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Windows Server 2016 Operating System (Full)
                        monitorDisplayName: Windows Firewall Service Health
                        successInstances: "1"
                        unhealthyInstances: "1"
                        unknownInstances: "4"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: Windows Operating System
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: AvailabilityHealth
                      monitorId: 052f9b7d-7bf0-7f61-966b-f372e207ef4e
                      monitorName: Microsoft.Windows.Server.10.0.OperatingSystem.FirewallServiceHealth
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Windows Server 2016 Operating System (Full)
                        monitorDisplayName: RPC Service Health
                        successInstances: "1"
                        unhealthyInstances: "1"
                        unknownInstances: "4"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: Windows Operating System
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: AvailabilityHealth
                      monitorId: 6799aaae-533c-9a8d-331f-ea833db85d1d
                      monitorName: Microsoft.Windows.Server.10.0.OperatingSystem.RPCServiceHealth
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Windows Server 2016 Operating System (Full)
                        monitorDisplayName: DNS Client Service Health
                        successInstances: "1"
                        unhealthyInstances: "1"
                        unknownInstances: "4"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: Windows Operating System
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: AvailabilityHealth
                      monitorId: 37232a87-988f-6256-3033-ea0c102c2d43
                      monitorName: Microsoft.Windows.Server.10.0.OperatingSystem.DNSClientServiceHealth
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Windows Server 2016 Operating System (Full)
                        monitorDisplayName: Server Service Health
                        successInstances: "1"
                        unhealthyInstances: "1"
                        unknownInstances: "4"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: Windows Operating System
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: AvailabilityHealth
                      monitorId: 4585a2f7-87c5-54e7-2b76-81af1073aec8
                      monitorName: Microsoft.Windows.Server.10.0.OperatingSystem.ServerServiceHealth
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Windows Server 2016 Operating System (Full)
                        monitorDisplayName: Total DPC Time Percentage
                        successInstances: "2"
                        unhealthyInstances: "0"
                        unknownInstances: "4"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: Windows Operating System
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: PerformanceHealth
                      monitorId: 3c184dff-8813-38f9-e965-2a9561425180
                      monitorName: Microsoft.Windows.Server.10.0.OperatingSystem.TotalDPCTime
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Windows Server 2016 Operating System (Full)
                        monitorDisplayName: Windows Remote Management Service Health
                        successInstances: "2"
                        unhealthyInstances: "0"
                        unknownInstances: "4"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: Windows Operating System
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: AvailabilityHealth
                      monitorId: 9a86ee3f-d133-b183-a400-6ad3a3834c86
                      monitorName: Microsoft.Windows.Server.10.0.OperatingSystem.WindowsRemoteManagementServiceHealth
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Windows Server 2016 Processor
                        monitorDisplayName: CPU Percentage Utilization
                        successInstances: "2"
                        unhealthyInstances: "0"
                        unknownInstances: "4"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: CPU0
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: PerformanceHealth
                      monitorId: 94df5e8c-989a-f595-86b0-0baba4662bfb
                      monitorName: Microsoft.Windows.Server.10.0.Processor.CPUUtilization
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Windows Server 2016 Operating System (Full)
                        monitorDisplayName: Memory Pages Per Second
                        successInstances: "2"
                        unhealthyInstances: "0"
                        unknownInstances: "4"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: Windows Operating System
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: PerformanceHealth
                      monitorId: 41eccc60-5578-2eea-e104-8bf7022ed5af
                      monitorName: Microsoft.Windows.Server.10.0.OperatingSystem.MemoryPagesPerSecond
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Windows Server 2016 Operating System (Full)
                        monitorDisplayName: Windows Event Log Service Health
                        successInstances: "2"
                        unhealthyInstances: "0"
                        unknownInstances: "4"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: Windows Operating System
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: AvailabilityHealth
                      monitorId: 33f2143c-d677-6d10-c676-2f2bac54bbbd
                      monitorName: Microsoft.Windows.Server.10.0.OperatingSystem.EventLogServiceHealth
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Windows Server 2016 Physical Disk
                        monitorDisplayName: Average Disk Seconds Per Transfer
                        successInstances: "4"
                        unhealthyInstances: "0"
                        unknownInstances: "8"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: Disk 1
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: PerformanceHealth
                      monitorId: 8966cbe8-38d2-57be-5937-3d43e38a3df5
                      monitorName: Microsoft.Windows.Server.10.0.PhysicalDisk.AvgDiskSecPerTransfer
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Windows Server 2016 Logical Disk
                        monitorDisplayName: Average Logical Disk Seconds Per Read
                        successInstances: "2"
                        unhealthyInstances: "0"
                        unknownInstances: "10"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: "C:"
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: PerformanceHealth
                      monitorId: f69b8b3f-3ba6-adf0-cdec-7c01b385d13c
                      monitorName: Microsoft.Windows.Server.10.0.LogicalDisk.AvgDiskSecPerRead
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Windows Server 2016 Operating System (Full)
                        monitorDisplayName: Free System Page Table Entries
                        successInstances: "2"
                        unhealthyInstances: "0"
                        unknownInstances: "4"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: Windows Operating System
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: PerformanceHealth
                      monitorId: 887e162a-74f4-2951-64e5-87dd5f076342
                      monitorName: Microsoft.Windows.Server.10.0.OperatingSystem.MemoryFreeSystemPageTableEntries
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Windows Server 2016 Network Adapter
                        monitorDisplayName: Percent Bandwidth Used Write
                        successInstances: "1"
                        unhealthyInstances: "0"
                        unknownInstances: "5"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: Ethernet 2
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: PerformanceHealth
                      monitorId: 728733ca-14e2-9ddc-8ec8-5de911bdf35f
                      monitorName: Microsoft.Windows.Server.10.0.NetworkAdapter.PercentBandwidthUsedWrites
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Windows Server 2016 Logical Disk
                        monitorDisplayName: Average Logical Disk Seconds Per Transfer
                        successInstances: "2"
                        unhealthyInstances: "0"
                        unknownInstances: "10"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: "D:"
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: PerformanceHealth
                      monitorId: 850400b6-9fd2-d927-bc47-9934dfe28845
                      monitorName: Microsoft.Windows.Server.10.0.LogicalDisk.AvgDiskSecPerTransfer
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Windows Server 2016 Physical Disk
                        monitorDisplayName: Average Disk Seconds Per Read
                        successInstances: "4"
                        unhealthyInstances: "0"
                        unknownInstances: "8"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: Disk 1
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: PerformanceHealth
                      monitorId: c688a072-2a8f-6409-1895-a0cc363cb326
                      monitorName: Microsoft.Windows.Server.10.0.PhysicalDisk.AvgDiskSecPerRead
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Windows Server 2016 Processor
                        monitorDisplayName: CPU DPC Time Percentage
                        successInstances: "2"
                        unhealthyInstances: "0"
                        unknownInstances: "4"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: CPU0
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: PerformanceHealth
                      monitorId: e80001dc-3aa8-e5c8-f782-5b4ef144fd5c
                      monitorName: Microsoft.Windows.Server.10.0.Processor.PercentDPCTime
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Windows Server 2016 Network Adapter
                        monitorDisplayName: Percent Bandwidth Used Read
                        successInstances: "1"
                        unhealthyInstances: "0"
                        unknownInstances: "5"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: Ethernet 2
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: PerformanceHealth
                      monitorId: 07cacb31-615d-5c7a-e118-fd55c17b5a2c
                      monitorName: Microsoft.Windows.Server.10.0.NetworkAdapter.PercentBandwidthUsedReads
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Windows Server 2016 Operating System (Full)
                        monitorDisplayName: Total CPU Utilization Percentage
                        successInstances: "2"
                        unhealthyInstances: "0"
                        unknownInstances: "4"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: Windows Operating System
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: PerformanceHealth
                      monitorId: 8a16058b-d31e-c156-3460-2c6cae7bfc49
                      monitorName: Microsoft.Windows.Server.10.0.OperatingSystem.TotalCPUUtilization
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Windows Server 2016 Physical Disk
                        monitorDisplayName: Average Disk Seconds Per Write
                        successInstances: "4"
                        unhealthyInstances: "0"
                        unknownInstances: "8"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: Disk 0
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: PerformanceHealth
                      monitorId: 584e5846-a4a3-a17a-26fd-25014f727ee9
                      monitorName: Microsoft.Windows.Server.10.0.PhysicalDisk.AvgDiskSecPerWrite
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Windows Server 2016 Physical Disk
                        monitorDisplayName: Current Disk Queue Length
                        successInstances: "4"
                        unhealthyInstances: "0"
                        unknownInstances: "8"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: Disk 1
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: PerformanceHealth
                      monitorId: 062d163a-0742-73d9-1d9d-a582c82127e4
                      monitorName: Microsoft.Windows.Server.10.0.PhysicalDisk.CurrentDiskQueueLength
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Windows Server 2016 Logical Disk
                        monitorDisplayName: Average Disk Seconds Per Write (Logical Disk)
                        successInstances: "2"
                        unhealthyInstances: "0"
                        unknownInstances: "10"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: "C:"
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: PerformanceHealth
                      monitorId: 99dbb2f7-9335-40c1-562e-0bee9e43b029
                      monitorName: Microsoft.Windows.Server.10.0.LogicalDisk.AvgDiskSecPerWrite
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Windows Server 2016 Network Adapter
                        monitorDisplayName: Percent Bandwidth Used Total
                        successInstances: "1"
                        unhealthyInstances: "0"
                        unknownInstances: "5"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: Ethernet 2
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: PerformanceHealth
                      monitorId: b12539ea-7122-af29-6af6-0047432bab6a
                      monitorName: Microsoft.Windows.Server.10.0.NetworkAdapter.PercentBandwidthUsedTotal
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Windows Server 2016 Logical Disk
                        monitorDisplayName: Logical Disk Percent Idle Time
                        successInstances: "2"
                        unhealthyInstances: "0"
                        unknownInstances: "10"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: "D:"
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: PerformanceHealth
                      monitorId: 08ec2bb4-32be-2fae-2d5a-6b65feb200a6
                      monitorName: Microsoft.Windows.Server.10.0.LogicalDisk.PercentIdleTime
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Windows Server 2016 Logical Disk
                        monitorDisplayName: Current Disk Queue Length (Logical Disk)
                        successInstances: "2"
                        unhealthyInstances: "0"
                        unknownInstances: "10"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: "D:"
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: PerformanceHealth
                      monitorId: 22e3b675-109e-9292-952e-7554604e3605
                      monitorName: Microsoft.Windows.Server.10.0.LogicalDisk.CurrentDiskQueueLength
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Windows Server 2016 Operating System (Full)
                        monitorDisplayName: Available Megabytes of Memory
                        successInstances: "2"
                        unhealthyInstances: "0"
                        unknownInstances: "4"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: Windows Operating System
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: PerformanceHealth
                      monitorId: 7af5bcb4-31e9-5ec9-268f-178c265a6c2c
                      monitorName: Microsoft.Windows.Server.10.0.OperatingSystem.MemoryAvailableMBytes
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Windows Server 2016 Physical Disk
                        monitorDisplayName: Disk Percent Idle Time
                        successInstances: "4"
                        unhealthyInstances: "0"
                        unknownInstances: "8"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: Disk 1
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: PerformanceHealth
                      monitorId: c2396f9e-22eb-9a72-0149-ea3b9a219e64
                      monitorName: Microsoft.Windows.Server.10.0.PhysicalDisk.PercentIdleTime
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Logical Disk
                        monitorDisplayName: Logical Disk % Free Space
                        successInstances: "1"
                        unhealthyInstances: "0"
                        unknownInstances: "1"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: /
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: AvailabilityHealth
                      monitorId: d2d5f441-8445-c966-40e2-7678f5b56ea5
                      monitorName: Microsoft.Linux.Universal.LogicalDisk.PercentFreeSpace.Monitor
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Logical Disk
                        monitorDisplayName: Logical Disk % Free Inodes
                        successInstances: "1"
                        unhealthyInstances: "0"
                        unknownInstances: "1"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: /mnt
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: AvailabilityHealth
                      monitorId: f12a45f0-8f3a-7fb6-8282-e737564ede6f
                      monitorName: Microsoft.Linux.Universal.LogicalDisk.PercentFreeInodes.Monitor
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Physical Disk
                        monitorDisplayName: Disk Avg. Disk sec/Read
                        successInstances: "2"
                        unhealthyInstances: "0"
                        unknownInstances: "0"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: sdb
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: PerformanceHealth
                      monitorId: c6767c76-e3a1-9325-0af3-77480268b100
                      monitorName: Microsoft.Linux.Universal.PhysicalDisk.AverageDiskReadTime.Monitor
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Universal Linux Operating System
                        monitorDisplayName: Operating System Total Percent Processor Time
                        successInstances: "1"
                        unhealthyInstances: "0"
                        unknownInstances: "0"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: Ubuntu 16.04 (x86_64)
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: PerformanceHealth
                      monitorId: e0a59c91-0156-ee90-d5c2-1b9042c15f81
                      monitorName: Microsoft.Linux.Universal.OperatingSystem.TotalPercentProcessorTime.Monitor
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Logical Disk
                        monitorDisplayName: Logical Disk Free Space
                        successInstances: "1"
                        unhealthyInstances: "0"
                        unknownInstances: "1"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: /mnt
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: AvailabilityHealth
                      monitorId: ca5b387a-6b11-ddaa-f87e-61ba59c92009
                      monitorName: Microsoft.Linux.Universal.LogicalDisk.FreeSpace.Monitor
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Universal Linux Operating System
                        monitorDisplayName: Operating System Available Megabytes Memory
                        successInstances: "1"
                        unhealthyInstances: "0"
                        unknownInstances: "0"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: Ubuntu 16.04 (x86_64)
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: PerformanceHealth
                      monitorId: b6e2320f-b09c-1075-ed42-d2044b12dc8c
                      monitorName: Microsoft.Linux.Universal.OperatingSystem.AvailableMBytes.Monitor
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Physical Disk
                        monitorDisplayName: Disk Health
                        successInstances: "2"
                        unhealthyInstances: "0"
                        unknownInstances: "0"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: sdb
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: AvailabilityHealth
                      monitorId: c1c43ce8-1334-0673-2b67-0c778c1777d1
                      monitorName: Microsoft.Linux.Universal.PhysicalDisk.DiskHealth.Monitor
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Physical Disk
                        monitorDisplayName: Disk Avg. Disk sec/Transfer
                        successInstances: "2"
                        unhealthyInstances: "0"
                        unknownInstances: "0"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: sda
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: PerformanceHealth
                      monitorId: ab6dbe24-4877-43fe-ed57-00275eceb655
                      monitorName: Microsoft.Linux.Universal.PhysicalDisk.AverageDiskTransferTime.Monitor
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Physical Disk
                        monitorDisplayName: Disk Avg. Disk sec/Write
                        successInstances: "2"
                        unhealthyInstances: "0"
                        unknownInstances: "0"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: sda
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: PerformanceHealth
                      monitorId: 5304e4ed-54c3-ab52-62fa-e07da44cb840
                      monitorName: Microsoft.Linux.Universal.PhysicalDisk.AverageDiskWriteTime.Monitor
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Logical Disk
                        monitorDisplayName: Logical Disk Health
                        successInstances: "1"
                        unhealthyInstances: "0"
                        unknownInstances: "1"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: /
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: AvailabilityHealth
                      monitorId: d8651e54-d2f0-358c-4b51-10434cc525c7
                      monitorName: Microsoft.Linux.Universal.LogicalDisk.DiskHealth.Monitor
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Network Adapter
                        monitorDisplayName: Network Adapter Health
                        successInstances: "1"
                        unhealthyInstances: "0"
                        unknownInstances: "0"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: eth0
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: AvailabilityHealth
                      monitorId: f5ba8972-426f-5ab7-1fa3-b124b54fec57
                      monitorName: Microsoft.Linux.Universal.NetworkAdapter.Health.Monitor
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Universal Linux Operating System
                        monitorDisplayName: Operating System Total Percent DPC Time
                        successInstances: "1"
                        unhealthyInstances: "0"
                        unknownInstances: "0"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: Ubuntu 16.04 (x86_64)
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: PerformanceHealth
                      monitorId: a8bc2cc6-dd99-5fbb-27c7-7ad2eac0e2ad
                      monitorName: Microsoft.Linux.Universal.OperatingSystem.TotalPercentDPCTime.Monitor
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Processor
                        monitorDisplayName: Processor Percent Processor Time
                        successInstances: "1"
                        unhealthyInstances: "0"
                        unknownInstances: "0"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: "0"
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: PerformanceHealth
                      monitorId: cf7aa0a0-ac57-0dc6-1251-b0225783f735
                      monitorName: Microsoft.Linux.Universal.Processor.PercentProcessorTime.Monitor
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Processor
                        monitorDisplayName: Processor Percent DPC Time
                        successInstances: "1"
                        unhealthyInstances: "0"
                        unknownInstances: "0"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: "0"
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: PerformanceHealth
                      monitorId: 99a75b34-dbf4-2b33-c0c2-0fdd888f23b7
                      monitorName: Microsoft.Linux.Universal.Processor.PercentDPCTime.Monitor
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
                  - etag: null
                    id: /providers/Microsoft.WorkloadMonitor/healthInstancesSummary
                    name: healthInstancesSummary
                    properties:
                      aggregateProperties:
                        componentTypeDisplayName: Windows Server 2016 Operating System (Full)
                        monitorDisplayName: Windows Server 2016 Max Concurrent API Monitor
                        successInstances: "0"
                        unhealthyInstances: "0"
                        unknownInstances: "2"
                      alertGeneration: null
                      children: null
                      componentId: null
                      componentName: Windows Operating System
                      componentTypeId: null
                      componentTypeName: null
                      healthState: Uninitialized
                      healthStateCategory: null
                      healthStateChanges: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: null
                      monitorCategory: AvailabilityHealth
                      monitorId: 1aa535e9-d09c-3557-297f-62923069ba81
                      monitorName: Microsoft.Windows.Server.10.0.MaxConcurrentAPI.Monitor
                      monitorType: Unit
                      solutionId: null
                      workloadType: null
                      workspaceId: null
                    type: Microsoft.WorkloadMonitor/healthInstancesSummary
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceNamespace}/{resourceType}/{resourceName}/providers/Microsoft.WorkloadMonitor/components":
    get:
      consumes: []
      operationId: Components_ListByResource
      parameters:
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The Namespace of the resource.
          in: path
          name: resourceNamespace
          required: true
          type: string
        - description: The type of the resource.
          in: path
          name: resourceType
          required: true
          type: string
        - description: Name of the resource.
          in: path
          name: resourceName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/$select"
        - $ref: "#/parameters/$filter"
        - $ref: "#/parameters/$apply"
        - $ref: "#/parameters/$orderby"
        - $ref: "#/parameters/$expand"
        - $ref: "#/parameters/$top"
        - $ref: "#/parameters/$skiptoken"
      responses:
        "200":
          description: OK. At least one component found.
          schema:
            $ref: "#/definitions/ComponentsCollection"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Get list of components for a resource.
      tags:
        - WLIExtension
      x-ms-examples:
        Components_ListByResource:
          parameters:
            api-version: 2018-08-31-preview
            resourceGroupName: viv_rg
            resourceName: Canary-WLI-2
            resourceNamespace: Microsoft.Compute
            resourceType: virtualMachines
            subscriptionId: a7f23fdb-e626-4f95-89aa-3a360a90861e
          responses:
            "200":
              body:
                nextLink: null
                value:
                  - etag: null
                    id: /subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.Compute/virtualMachines/Canary-WLI-2/providers/Microsoft.WorkloadMonitor/components/ComponentId='d91ce384-b682-883a-d02b-129bf37f218b'
                    name: ComponentId='d91ce384-b682-883a-d02b-129bf37f218b'
                    properties:
                      aggregateProperties:
                        componentId: d91ce384-b682-883a-d02b-129bf37f218b
                        componentTypeDisplayName: Windows Server 2016 Operating System (Full)
                        currentHealth_CustomOrder: 03_Unknown
                        edition: 2016-Datacenter
                        id: a7f23fdb-e626-4f95-89aa-3a360a90861e_viv_rg_0f512229-ba29-4a4d-a9b8-d97b375ab8b1_canary-wli-2_d91ce384-b682-883a-d02b-129bf37f218b_e3ab86a1-34fa-35b5-b864-da4db993c0f5
                        location: westcentralus
                        machineResourceId_Lower: /subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/microsoft.compute/virtualmachines/canary-wli-2
                        monitorCategory: EntityHealth
                        monitorDisplayName: Entity Health
                        monitorId: e3ab86a1-34fa-35b5-b864-da4db993c0f5
                        monitorKind: Standard
                        monitorName: System.Health.EntityState
                        monitorType: Aggregate
                        operatingSystem: Microsoft Windows Server 2016 Datacenter
                        osType: Windows
                        previousHealth: Success
                        resourceGroupId: viv_rg
                        resourceGroupName_Lower: viv_rg
                        subscriptionId: a7f23fdb-e626-4f95-89aa-3a360a90861e
                        version: 2016.127.20180613
                        vmName_Lower: canary-wli-2
                        vmResourceId: /subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.Compute/virtualMachines/Canary-WLI-2
                        workloadId: Canary-WLI-2
                        workloadId_Lower: canary-wli-2
                        workloadResourceId: /subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.WorkloadMonitor/workloadInsights/Canary-WLI-2
                        workloadResourceId_Lower: /subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/microsoft.workloadmonitor/workloadinsights/canary-wli-2
                      children: null
                      componentName: Windows Operating System
                      componentTypeGroupCategory: null
                      componentTypeId: 2dd80822-b238-41ed-2b0c-ccc3f8d0ad92
                      componentTypeName: Microsoft.Windows.Server.10.0.Full.OperatingSystem
                      healthState: Unknown
                      healthStateCategory: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: 2018-08-22T08:43:36+05:30
                      solutionId: null
                      vmId: 0f512229-ba29-4a4d-a9b8-d97b375ab8b1
                      vmName: Canary-WLI-2
                      vmTags: {}
                      workloadType: BaseOS
                      workspaceId: d00ad535-951e-4c6b-ae1b-5d4a5c7a8a3d
                    type: Microsoft.WorkloadMonitor/workloadInsights/components
                  - etag: null
                    id: /subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.Compute/virtualMachines/Canary-WLI-2/providers/Microsoft.WorkloadMonitor/components/ComponentId='06400e6a-6bac-1717-1e0d-e28f31a2e88b'
                    name: ComponentId='06400e6a-6bac-1717-1e0d-e28f31a2e88b'
                    properties:
                      aggregateProperties:
                        componentId: 06400e6a-6bac-1717-1e0d-e28f31a2e88b
                        componentTypeDisplayName: Windows Server 2016 Computer (Full)
                        currentHealth_CustomOrder: 03_Unknown
                        edition: 2016-Datacenter
                        id: a7f23fdb-e626-4f95-89aa-3a360a90861e_viv_rg_0f512229-ba29-4a4d-a9b8-d97b375ab8b1_canary-wli-2_06400e6a-6bac-1717-1e0d-e28f31a2e88b_e3ab86a1-34fa-35b5-b864-da4db993c0f5
                        location: westcentralus
                        machineResourceId_Lower: /subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/microsoft.compute/virtualmachines/canary-wli-2
                        monitorCategory: EntityHealth
                        monitorDisplayName: Entity Health
                        monitorId: e3ab86a1-34fa-35b5-b864-da4db993c0f5
                        monitorKind: Standard
                        monitorName: System.Health.EntityState
                        monitorType: Aggregate
                        operatingSystem: Microsoft Windows Server 2016 Datacenter
                        osType: Windows
                        previousHealth: Success
                        resourceGroupId: viv_rg
                        resourceGroupName_Lower: viv_rg
                        subscriptionId: a7f23fdb-e626-4f95-89aa-3a360a90861e
                        version: 2016.127.20180613
                        vmName_Lower: canary-wli-2
                        vmResourceId: /subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.Compute/virtualMachines/Canary-WLI-2
                        workloadId: Canary-WLI-2
                        workloadId_Lower: canary-wli-2
                        workloadResourceId: /subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.WorkloadMonitor/workloadInsights/Canary-WLI-2
                        workloadResourceId_Lower: /subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/microsoft.workloadmonitor/workloadinsights/canary-wli-2
                      children: null
                      componentName: Canary-WLI-2
                      componentTypeGroupCategory: null
                      componentTypeId: ea99500d-8d52-fc52-b5a5-10dcd1e9d2bd
                      componentTypeName: Microsoft.Windows.Server.10.0.Full.Computer
                      healthState: Unknown
                      healthStateCategory: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: 2018-08-22T09:08:34+05:30
                      solutionId: null
                      vmId: 0f512229-ba29-4a4d-a9b8-d97b375ab8b1
                      vmName: Canary-WLI-2
                      vmTags: {}
                      workloadType: BaseOS
                      workspaceId: d00ad535-951e-4c6b-ae1b-5d4a5c7a8a3d
                    type: Microsoft.WorkloadMonitor/workloadInsights/components
                  - etag: null
                    id: /subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.Compute/virtualMachines/Canary-WLI-2/providers/Microsoft.WorkloadMonitor/components/ComponentId='804fc44e-c49d-58f0-3b03-bf24f7d11663'
                    name: ComponentId='804fc44e-c49d-58f0-3b03-bf24f7d11663'
                    properties:
                      aggregateProperties:
                        componentId: 804fc44e-c49d-58f0-3b03-bf24f7d11663
                        componentTypeDisplayName: Windows Server 2016 Processor
                        currentHealth_CustomOrder: 03_Unknown
                        edition: 2016-Datacenter
                        id: a7f23fdb-e626-4f95-89aa-3a360a90861e_viv_rg_0f512229-ba29-4a4d-a9b8-d97b375ab8b1_canary-wli-2_804fc44e-c49d-58f0-3b03-bf24f7d11663_e3ab86a1-34fa-35b5-b864-da4db993c0f5
                        location: westcentralus
                        machineResourceId_Lower: /subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/microsoft.compute/virtualmachines/canary-wli-2
                        monitorCategory: EntityHealth
                        monitorDisplayName: Entity Health
                        monitorId: e3ab86a1-34fa-35b5-b864-da4db993c0f5
                        monitorKind: Standard
                        monitorName: System.Health.EntityState
                        monitorType: Aggregate
                        operatingSystem: Microsoft Windows Server 2016 Datacenter
                        osType: Windows
                        previousHealth: Success
                        resourceGroupId: viv_rg
                        resourceGroupName_Lower: viv_rg
                        subscriptionId: a7f23fdb-e626-4f95-89aa-3a360a90861e
                        version: 2016.127.20180613
                        vmName_Lower: canary-wli-2
                        vmResourceId: /subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.Compute/virtualMachines/Canary-WLI-2
                        workloadId: Canary-WLI-2
                        workloadId_Lower: canary-wli-2
                        workloadResourceId: /subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.WorkloadMonitor/workloadInsights/Canary-WLI-2
                        workloadResourceId_Lower: /subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/microsoft.workloadmonitor/workloadinsights/canary-wli-2
                      children: null
                      componentName: CPU0
                      componentTypeGroupCategory: null
                      componentTypeId: 933c8d32-3668-6c84-8855-11f301d04589
                      componentTypeName: Microsoft.Windows.Server.10.0.Processor
                      healthState: Unknown
                      healthStateCategory: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: 2018-08-22T08:35:35+05:30
                      solutionId: null
                      vmId: 0f512229-ba29-4a4d-a9b8-d97b375ab8b1
                      vmName: Canary-WLI-2
                      vmTags: {}
                      workloadType: BaseOS
                      workspaceId: d00ad535-951e-4c6b-ae1b-5d4a5c7a8a3d
                    type: Microsoft.WorkloadMonitor/workloadInsights/components
                  - etag: null
                    id: /subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.Compute/virtualMachines/Canary-WLI-2/providers/Microsoft.WorkloadMonitor/components/ComponentId='1a526816-f757-7328-d0b2-7daf65fd919b'
                    name: ComponentId='1a526816-f757-7328-d0b2-7daf65fd919b'
                    properties:
                      aggregateProperties:
                        componentId: 1a526816-f757-7328-d0b2-7daf65fd919b
                        componentTypeDisplayName: Windows Server 2016 Physical Disk
                        currentHealth_CustomOrder: 03_Unknown
                        edition: 2016-Datacenter
                        id: a7f23fdb-e626-4f95-89aa-3a360a90861e_viv_rg_0f512229-ba29-4a4d-a9b8-d97b375ab8b1_canary-wli-2_1a526816-f757-7328-d0b2-7daf65fd919b_e3ab86a1-34fa-35b5-b864-da4db993c0f5
                        location: westcentralus
                        machineResourceId_Lower: /subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/microsoft.compute/virtualmachines/canary-wli-2
                        monitorCategory: EntityHealth
                        monitorDisplayName: Entity Health
                        monitorId: e3ab86a1-34fa-35b5-b864-da4db993c0f5
                        monitorKind: Standard
                        monitorName: System.Health.EntityState
                        monitorType: Aggregate
                        operatingSystem: Microsoft Windows Server 2016 Datacenter
                        osType: Windows
                        previousHealth: Success
                        resourceGroupId: viv_rg
                        resourceGroupName_Lower: viv_rg
                        subscriptionId: a7f23fdb-e626-4f95-89aa-3a360a90861e
                        version: 2016.127.20180613
                        vmName_Lower: canary-wli-2
                        vmResourceId: /subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.Compute/virtualMachines/Canary-WLI-2
                        workloadId: Canary-WLI-2
                        workloadId_Lower: canary-wli-2
                        workloadResourceId: /subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.WorkloadMonitor/workloadInsights/Canary-WLI-2
                        workloadResourceId_Lower: /subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/microsoft.workloadmonitor/workloadinsights/canary-wli-2
                      children: null
                      componentName: Disk 0
                      componentTypeGroupCategory: null
                      componentTypeId: d4a60d0b-5d4e-d1b2-e215-2027a73ab38e
                      componentTypeName: Microsoft.Windows.Server.10.0.PhysicalDisk
                      healthState: Unknown
                      healthStateCategory: null
                      healthStateChangesEndTime: null
                      healthStateChangesStartTime: null
                      lastHealthStateChangeTime: 2018-08-21T09:21:08+05:30
                      solutionId: null
                      vmId: 0f512229-ba29-4a4d-a9b8-d97b375ab8b1
                      vmName: Canary-WLI-2
                      vmTags: {}
                      workloadType: BaseOS
                      workspaceId: d00ad535-951e-4c6b-ae1b-5d4a5c7a8a3d
                    type: Microsoft.WorkloadMonitor/workloadInsights/components
                  - etag: null
                    id: /subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.Compute/virtualMachines/Canary-WLI-2/providers/Microsoft.WorkloadMonitor/components/ComponentId='767aea7b-2a28-8c7b-9a61-153eeced9466'
                    name: ComponentId='767aea7b-2a28-8c7b-9a61-153eeced9466'
                    properties:
                      aggregateProperties:
                        componentId: 767aea7b-2a28-8c7b-9a61-153eeced9466
                        componentTypeDisplayName: Windows Server 2016 Physical Disk
                        currentHealth_CustomOrder: 03_Unknown
                        edition: 2016-Datacenter
                        id: a7f23fdb-e626-4f95-89aa-3a360a90861e_viv_rg_0f512229-ba29-4a4d-a9b8-d97b375ab8b1_canary-wli-2_767aea7b-2a28-8c7b-9a61-153eeced9466_e3ab86a1-34fa-35b5-b864-da4db993c0f5
                        location: westcentralus
                        machineResourceId_Lower: /subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/microsoft.compute/virtualmachines/canary-wli-2
                        monitorCategory: EntityHealth
                        monitorDisplayName: Entity Health
                        monitorId: e3ab86a1-34fa-35b5-b864-da4db993c0f5
                        monitorKind: Standard
                        monitorName: System.Health.EntityState
                        monitorType: Aggregate
                        operatingSystem: Microsoft Windows Server 2016 Datacenter
                        osType: Windows
                        previousHealth: Success
                        resourceGroupId: viv_rg
                        resourceGroupName_Lower: viv_rg
                        subscriptionId: a7f23fdb-e626-4f95-89aa-3a360a90861e
                        version: 2016.127.20180613
                        vmName_Lower: canary-wli-2
                        vmResourceId: /subscriptions/a7f23fdb-e626-4f95-89aa-3a360a90861e/resourcegroups/viv_rg/providers/Microsoft.Compute/virtualMachines/Canary-WLI-2
                        workloadId: Canary-WLI-2
                        workloadId_Lower: canary-wli-2
[...]
