swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.
  title: SqlManagementClient
  version: 2019-06-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/preview/2019-06-01-preview/servers.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: sql-servers
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
parameters:
  ApiVersionParameter:
    description: The API version to use for the request.
    in: query
    name: api-version
    required: true
    type: string
    x-ms-parameter-location: client
  BlobAuditingPolicyNameParameter:
    description: The name of the blob auditing policy.
    enum:
      - default
    in: path
    name: blobAuditingPolicyName
    required: true
    type: string
    x-ms-parameter-location: method
  DatabaseNameParameter:
    description: The name of the database.
    in: path
    name: databaseName
    required: true
    type: string
    x-ms-parameter-location: method
  ManagedInstanceNameParameter:
    description: The name of the managed instance.
    in: path
    name: managedInstanceName
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceGroupParameter:
    description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  ServerNameParameter:
    description: The name of the server.
    in: path
    name: serverName
    required: true
    type: string
    x-ms-parameter-location: method
  SqlVirtualMachineContainerNameParameter:
    description: The name of the SqlVirtualMachineContainer.
    in: path
    name: sqlVirtualMachineContainerName
    required: true
    type: string
    x-ms-parameter-location: method
  SqlVirtualMachineInstanceNameParameter:
    description: The name of the SqlVirtualMachineInstance.
    in: path
    name: sqlVirtualMachineInstanceName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: The subscription ID that identifies an Azure subscription.
    in: path
    name: subscriptionId
    required: true
    type: string
    x-ms-parameter-location: client
  VirtualClusterNameParameter:
    description: The name of the virtual cluster.
    in: path
    name: virtualClusterName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Sql/checkNameAvailability":
    post:
      description: Determines whether a resource can be created with the specified name.
      operationId: Servers_CheckNameAvailability
      parameters:
        - description: The name availability request parameters.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/CheckNameAvailabilityRequest"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully completed the availability check.
          schema:
            $ref: "#/definitions/CheckNameAvailabilityResponse"
        default:
          description: |-
            *** Error Responses: ***

             * 400 InvalidNameAvailabilityRequest - The check name availability request is invalid.

             * 400 UnknownNameType - Unknown resource type specified for a subscription level name availability check.
      tags:
        - Servers
      x-ms-examples:
        Check for a server name that already exists:
          parameters:
            api-version: 2015-05-01-preview
            parameters:
              name: server1
              type: Microsoft.Sql/servers
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                available: false
                message: Specified server name is already used
                name: server1
                reason: AlreadyExists
        Check for a server name that is available:
          parameters:
            api-version: 2015-05-01-preview
            parameters:
              name: server1
              type: Microsoft.Sql/servers
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                available: true
                name: server1
        Check for a server name that is invalid:
          parameters:
            api-version: 2015-05-01-preview
            parameters:
              name: SERVER1
              type: Microsoft.Sql/servers
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                available: false
                message: Specified server name contains unsupported characters or is too long. Server name must be no longer than 63 characters long, contain only lower-case characters or digits, cannot contain '.' or '_' characters and can't start or end with '-' character.
                name: SERVER1
                reason: Invalid
  "/subscriptions/{subscriptionId}/providers/Microsoft.Sql/servers":
    get:
      description: Gets a list of all servers in the subscription.
      operationId: Servers_List
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the list of servers.
          schema:
            $ref: "#/definitions/ServerListResult"
        default:
          description: "*** Error Responses: ***"
      tags:
        - Servers
      x-ms-examples:
        List servers:
          parameters:
            api-version: 2019-06-01-preview
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645
                    kind: v12.0
                    location: japaneast
                    name: sqlcrudtest-4645
                    properties:
                      administratorLogin: dummylogin
                      fullyQualifiedDomainName: sqlcrudtest-4645.database.windows.net
                      privateEndpointConnections:
                        - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645/privateEndpointConnections/private-endpoint-name-00000000-1111-2222-3333-444444444444
                          properties:
                            privateEndpoint:
                              id: /subscriptions/55555555-6666-7777-8888-999999999999/resourceGroups/Default-Network/providers/Microsoft.Network/privateEndpoints/private-endpoint-name
                            privateLinkServiceConnectionState:
                              actionsRequired: None
                              description: Auto-approved
                              status: Approved
                            provisioningState: Ready
                      state: Ready
                      version: "12.0"
                    type: Microsoft.Sql/servers
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-6661
                    kind: v12.0
                    location: japaneast
                    name: sqlcrudtest-6661
                    properties:
                      administratorLogin: dummylogin
                      fullyQualifiedDomainName: sqlcrudtest-6661.database.windows.net
                      privateEndpointConnections:
                        - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645/privateEndpointConnections/private-endpoint-name-00000000-1111-2222-3333-444444444444
                          properties:
                            privateEndpoint:
                              id: /subscriptions/55555555-6666-7777-8888-999999999999/resourceGroups/Default-Network/providers/Microsoft.Network/privateEndpoints/private-endpoint-name
                            privateLinkServiceConnectionState:
                              actionsRequired: None
                              description: Auto-approved
                              status: Approved
                            provisioningState: Ready
                      state: Ready
                      version: "12.0"
                    type: Microsoft.Sql/servers
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers":
    get:
      description: Gets a list of servers in a resource groups.
      operationId: Servers_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the list of servers.
          schema:
            $ref: "#/definitions/ServerListResult"
        default:
          description: "*** Error Responses: ***"
      tags:
        - Servers
      x-ms-examples:
        List servers by resource group:
          parameters:
            api-version: 2019-06-01-preview
            resourceGroupName: sqlcrudtest-7398
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645
                    kind: v12.0
                    location: japaneast
                    name: sqlcrudtest-4645
                    properties:
                      administratorLogin: dummylogin
                      fullyQualifiedDomainName: sqlcrudtest-4645.database.windows.net
                      privateEndpointConnections:
                        - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645/privateEndpointConnections/private-endpoint-name-00000000-1111-2222-3333-444444444444
                          properties:
                            privateEndpoint:
                              id: /subscriptions/55555555-6666-7777-8888-999999999999/resourceGroups/Default-Network/providers/Microsoft.Network/privateEndpoints/private-endpoint-name
                            privateLinkServiceConnectionState:
                              actionsRequired: None
                              description: Auto-approved
                              status: Approved
                            provisioningState: Ready
                      state: Ready
                      version: "12.0"
                    type: Microsoft.Sql/servers
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-6661
                    kind: v12.0
                    location: japaneast
                    name: sqlcrudtest-6661
                    properties:
                      administratorLogin: dummylogin
                      fullyQualifiedDomainName: sqlcrudtest-6661.database.windows.net
                      privateEndpointConnections:
                        - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645/privateEndpointConnections/private-endpoint-name-00000000-1111-2222-3333-444444444444
                          properties:
                            privateEndpoint:
                              id: /subscriptions/55555555-6666-7777-8888-999999999999/resourceGroups/Default-Network/providers/Microsoft.Network/privateEndpoints/private-endpoint-name
                            privateLinkServiceConnectionState:
                              actionsRequired: None
                              description: Auto-approved
                              status: Approved
                            provisioningState: Ready
                      state: Ready
                      version: "12.0"
                    type: Microsoft.Sql/servers
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}":
    delete:
      description: Deletes a server.
      operationId: Servers_Delete
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully deleted the server.
        "202":
          description: Accepted
        "204":
          description: The specified server does not exist.
        default:
          description: |-
            *** Error Responses: ***

             * 400 SubscriptionNotFound - The requested subscription was not found.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.

             * 404 OperationIdNotFound - The operation with Id does not exist.

             * 409 OperationCancelled - The operation has been cancelled by user.

             * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.

             * 409 ConflictingServerOperation - An operation is currently in progress for the server.

             * 429 SubscriptionTooManyCreateUpdateRequests - Requests beyond max requests that can be processed by available resources.

             * 429 SubscriptionTooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.

             * 503 TooManyRequests - Requests beyond max requests that can be processed by available resources.
      tags:
        - Servers
      x-ms-examples:
        Delete server:
          parameters:
            api-version: 2019-06-01-preview
            resourceGroupName: sqlcrudtest-7398
            serverName: sqlcrudtest-6661
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets a server.
      operationId: Servers_Get
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the specified server.
          schema:
            $ref: "#/definitions/Server"
        default:
          description: |-
            *** Error Responses: ***

             * 404 ResourceNotFound - The requested resource was not found.
      tags:
        - Servers
      x-ms-examples:
        Get server:
          parameters:
            api-version: 2019-06-01-preview
            resourceGroupName: sqlcrudtest-7398
            serverName: sqlcrudtest-4645
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645
                kind: v12.0
                location: japaneast
                name: sqlcrudtest-4645
                properties:
                  administratorLogin: dummylogin
                  fullyQualifiedDomainName: sqlcrudtest-4645.database.windows.net
                  privateEndpointConnections:
                    - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645/privateEndpointConnections/private-endpoint-name-00000000-1111-2222-3333-444444444444
                      properties:
                        privateEndpoint:
                          id: /subscriptions/55555555-6666-7777-8888-999999999999/resourceGroups/Default-Network/providers/Microsoft.Network/privateEndpoints/private-endpoint-name
                        privateLinkServiceConnectionState:
                          actionsRequired: None
                          description: Auto-approved
                          status: Approved
                        provisioningState: Ready
                  state: Ready
                  version: "12.0"
                tags:
                  tagKey1: TagValue1
                type: Microsoft.Sql/servers
    patch:
      description: Updates a server.
      operationId: Servers_Update
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - description: The requested server resource state.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ServerUpdate"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully updated the server.
          schema:
            $ref: "#/definitions/Server"
        "202":
          description: Accepted
        default:
          description: |-
            *** Error Responses: ***

             * 400 RegionDoesNotAllowProvisioning - The selected location is not accepting new Windows Azure SQL Database servers. This may change at a later time.

             * 400 InvalidParameterValue - An invalid value was given to a parameter.

             * 400 InvalidLoginName - The provided login name is invalid.

             * 400 PasswordTooShort - The provided password is too short

             * 400 PasswordTooLong - The provided password is too long.

             * 400 NameAlreadyExists - The provided name already exists.

             * 400 PasswordNotComplex - The provided password is not complex enough.

             * 400 ProvisioningDisabled - Displays error message from resources operation authorizer as is, without changes

             * 400 RegionDoesNotSupportVersion - A user attempted to create a server of a specified version in a location where that server version isn't supported.

             * 400 SubscriptionNotFound - The requested subscription was not found.

             * 400 TokenTooLong - The provided token is too long.

             * 400 InvalidLocation - An invalid location was specified.

             * 400 InvalidServerName - Invalid server name specified.

             * 400 InvalidIdentifier - The identifier contains NULL or an invalid unicode character.

             * 400 ServerNotFound - The requested server was not found.

             * 400 InvalidUsername - Supplied user name contains invalid characters.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.

             * 404 OperationIdNotFound - The operation with Id does not exist.

             * 409 OperationCancelled - The operation has been cancelled by user.

             * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.

             * 409 SubscriptionDisabled - Subscription is disabled.

             * 409 ServerDisabled - Server is disabled.

             * 409 ServerQuotaExceeded - Server cannot be added to a subscription because it will exceed quota.

             * 409 ServerAlreadyExists - Duplicate server name.

             * 409 ConflictingServerOperation - An operation is currently in progress for the server.

             * 429 SubscriptionTooManyCreateUpdateRequests - Requests beyond max requests that can be processed by available resources.

             * 429 SubscriptionTooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 429 ConflictingSubscriptionOperation - An operation is currently in progress for the subscription.

             * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.

             * 503 TooManyRequests - Requests beyond max requests that can be processed by available resources.
      tags:
        - Servers
      x-ms-examples:
        Update a server:
          parameters:
            api-version: 2019-06-01-preview
            parameters:
              properties:
                administratorLogin: dummylogin
                administratorLoginPassword: Un53cuRE!
            resourceGroupName: sqlcrudtest-7398
            serverName: sqlcrudtest-4645
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645
                kind: v12.0
                location: japaneast
                name: sqlcrudtest-4645
                properties:
                  administratorLogin: dummylogin
                  fullyQualifiedDomainName: sqlcrudtest-4645.database.windows.net
                  privateEndpointConnections:
                    - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645/privateEndpointConnections/private-endpoint-name-00000000-1111-2222-3333-444444444444
                      properties:
                        privateEndpoint:
                          id: /subscriptions/55555555-6666-7777-8888-999999999999/resourceGroups/Default-Network/providers/Microsoft.Network/privateEndpoints/private-endpoint-name
                        privateLinkServiceConnectionState:
                          actionsRequired: None
                          description: Auto-approved
                          status: Approved
                        provisioningState: Ready
                  state: Ready
                  version: "12.0"
                tags:
                  tagKey1: TagValue1
                type: Microsoft.Sql/servers
            "202": {}
      x-ms-long-running-operation: true
    put:
      description: Creates or updates a server.
      operationId: Servers_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - description: The requested server resource state.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Server"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully updated the server.
          schema:
            $ref: "#/definitions/Server"
        "201":
          description: Successfully created the server.
          schema:
            $ref: "#/definitions/Server"
        "202":
          description: Accepted
        default:
          description: |-
            *** Error Responses: ***

             * 400 RegionDoesNotAllowProvisioning - The selected location is not accepting new Windows Azure SQL Database servers. This may change at a later time.

             * 400 InvalidParameterValue - An invalid value was given to a parameter.

             * 400 InvalidLoginName - The provided login name is invalid.

             * 400 PasswordTooShort - The provided password is too short

             * 400 PasswordTooLong - The provided password is too long.

             * 400 NameAlreadyExists - The provided name already exists.

             * 400 PasswordNotComplex - The provided password is not complex enough.

             * 400 ProvisioningDisabled - Displays error message from resources operation authorizer as is, without changes

             * 400 RegionDoesNotSupportVersion - A user attempted to create a server of a specified version in a location where that server version isn't supported.

             * 400 SubscriptionNotFound - The requested subscription was not found.

             * 400 TokenTooLong - The provided token is too long.

             * 400 InvalidLocation - An invalid location was specified.

             * 400 InvalidServerName - Invalid server name specified.

             * 400 InvalidIdentifier - The identifier contains NULL or an invalid unicode character.

             * 400 ServerNotFound - The requested server was not found.

             * 400 InvalidUsername - Supplied user name contains invalid characters.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.

             * 404 OperationIdNotFound - The operation with Id does not exist.

             * 409 OperationCancelled - The operation has been cancelled by user.

             * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.

             * 409 SubscriptionDisabled - Subscription is disabled.

             * 409 ServerDisabled - Server is disabled.

             * 409 ServerQuotaExceeded - Server cannot be added to a subscription because it will exceed quota.

             * 409 ServerAlreadyExists - Duplicate server name.

             * 409 ConflictingServerOperation - An operation is currently in progress for the server.

             * 429 SubscriptionTooManyCreateUpdateRequests - Requests beyond max requests that can be processed by available resources.

             * 429 SubscriptionTooManyRequests - Requests beyond max requests that can be processed by available resources.

             * 429 ConflictingSubscriptionOperation - An operation is currently in progress for the subscription.

             * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation.

             * 503 TooManyRequests - Requests beyond max requests that can be processed by available resources.
      tags:
        - Servers
      x-ms-examples:
        Create server:
          parameters:
            api-version: 2019-06-01-preview
            parameters:
              location: Japan East
              properties:
                administratorLogin: dummylogin
                administratorLoginPassword: Un53cuRE!
            resourceGroupName: sqlcrudtest-7398
            serverName: sqlcrudtest-4645
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645
                kind: v12.0
                location: japaneast
                name: sqlcrudtest-4645
                properties:
                  administratorLogin: dummylogin
                  fullyQualifiedDomainName: sqlcrudtest-4645.database.windows.net
                  privateEndpointConnections:
                    - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645/privateEndpointConnections/private-endpoint-name-00000000-1111-2222-3333-444444444444
                      properties:
                        privateEndpoint:
                          id: /subscriptions/55555555-6666-7777-8888-999999999999/resourceGroups/Default-Network/providers/Microsoft.Network/privateEndpoints/private-endpoint-name
                        privateLinkServiceConnectionState:
                          actionsRequired: None
                          description: Auto-approved
                          status: Approved
                        provisioningState: Ready
                  state: Ready
                  version: "12.0"
                type: Microsoft.Sql/servers
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645
                kind: v12.0
                location: japaneast
                name: sqlcrudtest-4645
                properties:
                  administratorLogin: dummylogin
                  fullyQualifiedDomainName: sqlcrudtest-4645.database.windows.net
                  privateEndpointConnections:
                    - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645/privateEndpointConnections/private-endpoint-name-00000000-1111-2222-3333-444444444444
                      properties:
                        privateEndpoint:
                          id: /subscriptions/55555555-6666-7777-8888-999999999999/resourceGroups/Default-Network/providers/Microsoft.Network/privateEndpoints/private-endpoint-name
                        privateLinkServiceConnectionState:
                          actionsRequired: None
                          description: Auto-approved
                          status: Approved
                        provisioningState: Ready
                  state: Ready
                  version: "12.0"
                type: Microsoft.Sql/servers
            "202": {}
      x-ms-long-running-operation: true
definitions:
  CheckNameAvailabilityRequest:
    description: A request to check whether the specified name for a resource is available.
    properties:
      name:
        type: string
      type:
        enum:
          - Microsoft.Sql/servers
        type: string
        x-ms-enum:
          modelAsString: false
          name: CheckNameAvailabilityResourceType
    required:
      - name
      - type
    type: object
  CheckNameAvailabilityResponse:
    description: The result of a name availability check.
    properties:
      available:
        description: True if the name is available, otherwise false.
        readOnly: true
        type: boolean
      message:
        description: A message explaining why the name is unavailable. Will be undefined if the name is available.
        readOnly: true
        type: string
      name:
        description: The name whose availability was checked.
        readOnly: true
        type: string
      reason:
        description: The reason code explaining why the name is unavailable. Will be undefined if the name is available.
        enum:
          - Invalid
          - AlreadyExists
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: CheckNameAvailabilityReason
    type: object
  PrivateEndpointConnectionProperties:
    description: Properties of a private endpoint connection.
    properties:
      privateEndpoint:
        $ref: "#/definitions/PrivateEndpointProperty"
        description: Private endpoint which the connection belongs to.
      privateLinkServiceConnectionState:
        $ref: "#/definitions/PrivateLinkServiceConnectionStateProperty"
        description: Connection state of the private endpoint connection.
      provisioningState:
        description: State of the private endpoint connection.
        enum:
          - Approving
          - Ready
          - Dropping
          - Failed
          - Rejecting
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: PrivateEndpointProvisioningState
    type: object
  PrivateEndpointProperty:
    properties:
      id:
        description: Resource id of the private endpoint.
        type: string
    type: object
    x-ms-azure-resource: true
  PrivateLinkServiceConnectionStateProperty:
    properties:
      actionsRequired:
        description: The actions required for private link service connection.
        enum:
          - None
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: PrivateLinkServiceConnectionStateActionsRequire
      description:
        description: The private link service connection description.
        type: string
      status:
        description: The private link service connection status.
        enum:
          - Approved
          - Pending
          - Rejected
          - Disconnected
        type: string
        x-ms-enum:
          modelAsString: true
          name: PrivateLinkServiceConnectionStateStatus
    required:
      - status
      - description
    type: object
  Resource:
    description: ARM resource.
    properties:
      id:
        description: Resource ID.
        readOnly: true
        type: string
      name:
        description: Resource name.
        readOnly: true
        type: string
      type:
        description: Resource type.
        readOnly: true
        type: string
    type: object
    x-ms-azure-resource: true
  ResourceIdentity:
    description: Azure Active Directory identity configuration for a resource.
    properties:
      principalId:
        description: The Azure Active Directory principal id.
        format: uuid
        readOnly: true
        type: string
      tenantId:
        description: The Azure Active Directory tenant id.
        format: uuid
        readOnly: true
        type: string
      type:
        description: The identity type. Set this to 'SystemAssigned' in order to automatically create and assign an Azure Active Directory principal for the resource.
        enum:
          - SystemAssigned
        type: string
        x-ms-enum:
          modelAsString: true
          name: IdentityType
    type: object
  Server:
    allOf:
      - $ref: "#/definitions/TrackedResource"
    description: An Azure SQL Database server.
    properties:
      identity:
        $ref: "#/definitions/ResourceIdentity"
        description: The Azure Active Directory identity of the server.
        x-ms-mutability:
          - read
          - create
      kind:
        description: Kind of sql server. This is metadata used for the Azure portal experience.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/ServerProperties"
        description: Resource properties.
        x-ms-client-flatten: true
    required:
      - location
    type: object
  ServerListResult:
    description: A list of servers.
    properties:
      nextLink:
        description: Link to retrieve next page of results.
        readOnly: true
        type: string
      value:
        description: Array of results.
        items:
          $ref: "#/definitions/Server"
        readOnly: true
        type: array
    type: object
  ServerPrivateEndpointConnection:
    description: A private endpoint connection under a server
    properties:
      id:
        description: Resource ID.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/PrivateEndpointConnectionProperties"
        description: Private endpoint connection properties
        readOnly: true
    type: object
  ServerProperties:
    description: The properties of a server.
    properties:
      administratorLogin:
        description: Administrator username for the server. Once created it cannot be changed.
        type: string
        x-ms-mutability:
          - read
          - create
      administratorLoginPassword:
        description: The administrator login password (required for server creation).
        type: string
        x-ms-mutability:
          - create
          - update
      fullyQualifiedDomainName:
        description: The fully qualified domain name of the server.
        readOnly: true
        type: string
      privateEndpointConnections:
        description: List of private endpoint connections on a server
        items:
          $ref: "#/definitions/ServerPrivateEndpointConnection"
        readOnly: true
        type: array
      state:
        description: The state of the server.
        readOnly: true
        type: string
      version:
        description: The version of the server.
        type: string
    type: object
  ServerUpdate:
    description: An update request for an Azure SQL Database server.
    properties:
      properties:
        $ref: "#/definitions/ServerProperties"
        description: Resource properties.
        x-ms-client-flatten: true
      tags:
        additionalProperties:
          type: string
        description: Resource tags.
        type: object
    type: object
  TrackedResource:
    allOf:
      - $ref: "#/definitions/Resource"
    description: ARM tracked top level resource.
    properties:
      location:
        description: Resource location.
        type: string
        x-ms-mutability:
          - read
          - create
      tags:
        additionalProperties:
          type: string
        description: Resource tags.
        type: object
    required:
      - location
    type: object
