swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: CostManagementClient
  version: 2018-05-31
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2018-05-31/costmanagement.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: cost-management-costmanagement
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: Version of the API to be used with the client request. The current version is 2018-05-31.
    in: query
    name: api-version
    required: true
    type: string
  billingAccountIdParameter:
    description: BillingAccount ID
    in: path
    name: billingAccountId
    required: true
    type: string
    x-ms-parameter-location: method
  reportConfigNameParameter:
    description: Report Config Name.
    in: path
    name: reportConfigName
    required: true
    type: string
    x-ms-parameter-location: method
  resourceGroupNameParameter:
    description: Azure Resource Group Name.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionIdParameter:
    description: Azure Subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/Query":
    post:
      description: Lists the usage data for billing account.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: QueryBillingAccount
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/billingAccountIdParameter"
        - description: Parameters supplied to the CreateOrUpdate Report Config operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ReportConfigDefinition"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/QueryResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Query
      x-ms-examples:
        BillingAccountQuery:
          parameters:
            api-version: 2018-05-31
            billingAccountId: "70664866"
            parameters:
              dataset:
                configuration:
                  columns:
                    - PreTaxCost
                    - ResourceGroup
                    - UsageDate
                filter:
                  and:
                    - or:
                        - dimension:
                            name: ResourceLocation
                            operator: In
                            values:
                              - East US
                              - West Europe
                        - tag:
                            name: Environment
                            operator: In
                            values:
                              - UAT
                              - Prod
                    - dimension:
                        name: ResourceGroup
                        operator: In
                        values:
                          - API
                granularity: Daily
              timeframe: MonthToDate
              type: Usage
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/70664866/providers/Microsoft.CostManagement/Query/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    properties:
                      columns:
                        - name: PreTaxCost
                          type: Number
                        - name: ResourceGroup
                          type: String
                        - name: UsageDate
                          type: Number
                      nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/70664866/providers/Microsoft.CostManagement/Query?api-version=2018-05-31&$skiptoken=AQAAAA%3D%3D
                      rows:
                        - - 19.545363672276512
                          - JapanUnifia-Trial
                          - 20180331
                        - - 173.41979241290323
                          - RVIIOT-TRIAL
                          - 20180331
                        - - 20.35941656262545
                          - VSTSHOL-1595322048000
                          - 20180331
                        - - 0.16677720329728665
                          - gs-stms-dev
                          - 20180331
                    type: microsoft.costmanagement/Query
      x-ms-pageable:
        nextLinkName: null
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/dimensions":
    get:
      description: Lists the dimensions by billingAccount Id.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: BillingAccountDimensions_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/billingAccountIdParameter"
        - description: May be used to filter dimensions by properties/category, properties/usageStart, properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'.
          in: query
          name: $filter
          required: false
          type: string
        - description: May be used to expand the properties/data within a dimension category. By default, data is not included when listing dimensions.
          in: query
          name: $expand
          required: false
          type: string
        - description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          type: string
        - description: May be used to limit the number of results to the most recent N dimension data.
          in: query
          maximum: 1000
          minimum: 1
          name: $top
          required: false
          type: integer
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/DimensionsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Dimensions
      x-ms-examples:
        BillingAccountDimensionsList:
          parameters:
            api-version: 2018-05-31
            billingAccountId: "100"
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.consumption/dimensions_ResourceGroup_2018-05-01_2018-05-31
                    name: dimensions_ResourceGroup_2018-05-01_2018-05-31
                    properties:
                      category: ResourceGroup
                      data: []
                      total: 377
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
                  - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.consumption/dimensions_ResourceType_2018-05-01_2018-05-31
                    name: dimensions_ResourceType_2018-05-01_2018-05-31
                    properties:
                      category: ResourceType
                      data: []
                      total: 37
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
        BillingAccountDimensionsListExpandAndTop:
          parameters:
            $expand: properties/data
            $top: 5
            api-version: 2018-05-31
            billingAccountId: "100"
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.consumption/dimensions_ResourceGroup_2018-05-01_2018-05-31_5
                    name: dimensions_ResourceGroup_2018-05-01_2018-05-31_5
                    properties:
                      category: ResourceGroup
                      data:
                        - thoroetrg01
                        - default-notificationhubs-westus
                        - jedikeyvaultrg
                        - contosocodeflow8d4a
                        - noobaa
                      total: 377
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
                  - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.consumption/dimensions_ResourceType_2018-05-01_2018-05-31_5
                    name: dimensions_ResourceType_2018-05-01_2018-05-31_5
                    properties:
                      category: ResourceType
                      data:
                        - microsoft.automation/automationaccounts
                        - microsoft.databricks/workspaces
                        - microsoft.dbformysql/servers
                        - microsoft.containerregistry/registries
                        - microsoft.search/searchservices
                      total: 37
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
        BillingAccountDimensionsListWithFilter:
          parameters:
            $expand: properties/data
            $filter: properties/category eq 'instanceId'
            $top: 5
            api-version: 2018-05-31
            billingAccountId: "100"
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.consumption/dimensions_InstanceId_2018-05-01_2018-05-31_5
                    name: dimensions_InstanceId_2018-05-01_2018-05-31_5
                    properties:
                      category: InstanceId
                      data:
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/urphealthaccount
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/srphytenaccount
                        - /subscriptions/67e24f6b-1ec2-4c90-993a-dc2d25b00b6c/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-67e24f6b-1ec2-4c90-993a-dc2d25b00b6c-eus
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg-sql-ha/providers/microsoft.compute/virtualmachines/sql-4qqp1
                        - /subscriptions/a98d6dc5-eb8f-46cf-8938-f1fb08f03706/resourcegroups/databricks-rg-testwsp-xijmsdubneexm/providers/microsoft.compute/disks/488cdb42bf74474a98075415be3f806c-containerrootvolume
                      nextLink: http://management.azure.com/ccmapi/providers/Microsoft.Billing/billingAccounts/100/providers/Microsoft.Consumption/Dimensions?$filter=properties/category eq 'instanceId'&$top=5&api-version=2018-05-31&$expand=properties/data&$skiptoken=AQAAAA%3D%3D
                      total: 1409
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
      x-ms-odata: "#/definitions/Dimension"
      x-ms-pageable:
        nextLinkName: null
  /providers/Microsoft.CostManagement/operations:
    get:
      description: Lists all of the available consumption REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/OperationListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Operations
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/Query":
    post:
      description: Lists the usage data for subscriptionId.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: QuerySubscription
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - description: Parameters supplied to the CreateOrUpdate Report Config operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ReportConfigDefinition"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/QueryResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Query
      x-ms-examples:
        SubscriptionQuery:
          parameters:
            api-version: 2018-05-31
            parameters:
              dataset:
                configuration:
                  columns:
                    - PreTaxCost
                    - ResourceGroup
                    - UsageDate
                filter:
                  and:
                    - or:
                        - dimension:
                            name: ResourceLocation
                            operator: In
                            values:
                              - East US
                              - West Europe
                        - tag:
                            name: Environment
                            operator: In
                            values:
                              - UAT
                              - Prod
                    - dimension:
                        name: ResourceGroup
                        operator: In
                        values:
                          - API
                granularity: Daily
              timeframe: MonthToDate
              type: Usage
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CostManagement/Query/00000000-0000-0000-0000-000000000000
                    name: 55312978-ba1b-415c-9304-cfd9c43c0481
                    properties:
                      columns:
                        - name: PreTaxCost
                          type: Number
                        - name: ResourceGroup
                          type: String
                        - name: UsageDate
                          type: Number
                      nextLink: null
                      rows:
                        - - 2.10333307059661
                          - ScreenSharingTest-peer
                          - 20180417
                        - - 218.68795741935486
                          - Ict_StratAndPlan_GoldSprova_Prod
                          - 20180331
                        - - 0.14384913581657052
                          - ssbciotelement01
                          - 20180331
                        - - 0.009865586851323632
                          - ict_stratandplan_goldsprova_prod
                          - 20180331
                    type: microsoft.costmanagement/Query
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/dimensions":
    get:
      description: Lists the dimensions by subscription Id.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: SubscriptionDimensions_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - description: May be used to filter dimensions by properties/category, properties/usageStart, properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'.
          in: query
          name: $filter
          required: false
          type: string
        - description: May be used to expand the properties/data within a dimension category. By default, data is not included when listing dimensions.
          in: query
          name: $expand
          required: false
          type: string
        - description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          type: string
        - description: May be used to limit the number of results to the most recent N dimension data.
          in: query
          maximum: 1000
          minimum: 1
          name: $top
          required: false
          type: integer
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/DimensionsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Dimensions
      x-ms-examples:
        SubscriptionDimensionsList:
          parameters:
            $expand: properties/data
            $top: 5
            api-version: 2018-05-31
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/dimensions_ResourceGroup_2018-05-01_2018-05-31_5
                    name: dimensions_ResourceGroup_2018-05-01_2018-05-31_5
                    properties:
                      category: ResourceGroup
                      data:
                        - dcrg
                        - rg
                        - offlinegalleryrg
                        - system.orlando.adminkeyvault
                        - system.orlando.keyvault
                      total: 68
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/dimensions_ResourceType_2018-05-01_2018-05-31_5
                    name: dimensions_ResourceType_2018-05-01_2018-05-31_5
                    properties:
                      category: ResourceType
                      data:
                        - microsoft.storage/storageaccounts
                        - microsoft.web.admin/role
                        - microsoft.sql/servers
                        - microsoft.compute/virtualmachines
                      total: 4
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
      x-ms-odata: "#/definitions/Dimension"
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/reportconfigs":
    get:
      description: Lists all report configs for a subscription.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: ReportConfig_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ReportConfigListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Reports
      x-ms-examples:
        ReportConfigList:
          parameters:
            api-version: 2018-05-31
            resourceGroupName: MYDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: subscriptions/{subscription-id}/providers/Microsoft.Consumption/reportconfigs/TestReportConfig1
                    name: TestReportConfig1
                    properties:
                      definition:
                        dataset:
                          aggregation:
                            costSum:
                              function: Sum
                              name: PreTaxCost
                          configuration:
                            columns:
                              - Date
                              - MeterId
                              - InstanceId
                              - ResourceLocation
                              - PreTaxCost
                          filter:
                            and:
                              - or:
                                  - dimension:
                                      name: ResourceLocation
                                      operator: In
                                      values:
                                        - East US
                                        - West Europe
                                  - tag:
                                      name: Environment
                                      operator: In
                                      values:
                                        - UAT
                                        - Prod
                              - dimension:
                                  name: ResourceGroup
                                  operator: In
                                  values:
                                    - API
                          granularity: Daily
                          grouping:
                            - columnType: Dimension
                              name: SubscriptionName
                        timePeriod:
                          from: 2018-06-01T00:00:00Z
                          to: 2018-10-31T00:00:00Z
                        timeframe: Custom
                        type: Usage
                      deliveryInfo:
                        destination:
                          container: reports
                          resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                          rootFolderPath: ad-hoc
                      format: Csv
                    type: Microsoft.Consumption/reportconfigs
                  - id: subscriptions/{subscription-id}/providers/Microsoft.Consumption/reportconfigs/TestReportConfig2
                    name: TestReportConfig2
                    properties:
                      definition:
                        dataset:
                          aggregation:
                            usageSum:
                              function: Sum
                              name: UsageQuantity
                          configuration:
                            columns:
                              - Date
                              - MeterId
                              - InstanceId
                              - ResourceLocation
                              - UsageQuantity
                          filter:
                            and:
                              - dimension:
                                  name: ResourceLocation
                                  operator: In
                                  values:
                                    - East US
                                    - West Europe
                              - tag:
                                  name: Environment
                                  operator: In
                                  values:
                                    - UAT
                                    - Prod
                          granularity: Daily
                          grouping:
                            - columnType: Tag
                              name: Environment
                        timeframe: WeekToDate
                        type: Usage
                      deliveryInfo:
                        destination:
                          container: reports
                          resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                          rootFolderPath: ad-hoc
                      format: Csv
                      schedule:
                        recurrence: Weekly
                        recurrencePeriod:
                          from: 2018-06-01T00:00:00Z
                          to: 2018-10-31T00:00:00Z
                        status: Active
                    type: Microsoft.Consumption/reportconfigs
  "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/reportconfigs/{reportConfigName}":
    delete:
      description: The operation to delete a report.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: ReportConfig_Delete
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/reportConfigNameParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Reports
      x-ms-examples:
        DeleteReport:
          parameters:
            api-version: 2018-05-31
            reportConfigName: TestReport
            resourceGroupName: MYDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
    get:
      description: Gets the report config for a subscription by report config name.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: ReportConfig_Get
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/reportConfigNameParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ReportConfig"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Reports
      x-ms-examples:
        Report:
          parameters:
            api-version: 2018-05-31
            reportConfigName: TestReportConfig
            resourceGroupName: MYDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: subscriptions/{subscription-id}/providers/Microsoft.Consumption/reportconfigs/TestReportConfig
                name: TestReportConfig
                properties:
                  definition:
                    dataset:
                      aggregation:
                        usageSum:
                          function: Sum
                          name: UsageQuantity
                      configuration:
                        columns:
                          - UsageDate
                          - MeterId
                          - InstanceId
                          - ResourceLocation
                          - UsageQuantity
                      filter:
                        and:
                          - dimension:
                              name: ResourceLocation
                              operator: In
                              values:
                                - East US
                                - West Europe
                          - tag:
                              name: Environment
                              operator: Contains
                              values:
                                - UAT
                                - Prod
                      granularity: Daily
                      grouping:
                        - columnType: Dimension
                          name: SubscriptionName
                        - columnType: Tag
                          name: Environment
                    timePeriod:
                      from: 2018-06-01T00:00:00Z
                      to: 2018-10-31T00:00:00Z
                    timeframe: Custom
                    type: Usage
                  deliveryInfo:
                    destination:
                      container: reports
                      resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                      rootFolderPath: ad-hoc
                  format: Csv
                type: Microsoft.Consumption/reportconfigs
    put:
      description: The operation to create or update a report config. Update operation requires latest eTag to be set in the request mandatorily. You may obtain the latest eTag by performing a get operation. Create operation does not require eTag.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: ReportConfig_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/reportConfigNameParameter"
        - description: Parameters supplied to the CreateOrUpdate Report Config operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ReportConfig"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ReportConfig"
        "201":
          description: Created.
          schema:
            $ref: "#/definitions/ReportConfig"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Reports
      x-ms-examples:
        CreateOrUpdateReport:
          parameters:
            api-version: 2018-05-31
            parameters:
              properties:
                definition:
                  dataset:
                    aggregation:
                      costSum:
                        function: Sum
                        name: PreTaxCost
                    configuration:
                      columns:
                        - Date
                        - MeterId
                        - InstanceId
                        - ResourceLocation
                        - PreTaxCost
                    filter:
                      and:
                        - or:
                            - dimension:
                                name: ResourceLocation
                                operator: In
                                values:
                                  - East US
                                  - West Europe
                            - tag:
                                name: Environment
                                operator: In
                                values:
                                  - UAT
                                  - Prod
                        - dimension:
                            name: ResourceGroup
                            operator: In
                            values:
                              - API
                    granularity: Daily
                    grouping:
                      - columnType: Dimension
                        name: SubscriptionName
                      - columnType: Tag
                        name: Environment
                  timeframe: MonthToDate
                  type: Usage
                deliveryInfo:
                  destination:
                    container: reports
                    resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                    rootFolderPath: ad-hoc
                format: Csv
                schedule:
                  recurrence: Weekly
                  recurrencePeriod:
                    from: 2018-06-01T00:00:00Z
                    to: 2018-10-31T00:00:00Z
                  status: Active
            reportConfigName: TestReportConfig
            resourceGroupName: MYDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: subscriptions/{subscription-id}/providers/Microsoft.Consumption/reportconfigs/TestReportConfig
                name: TestReportConfig
                properties:
                  definition:
                    dataset:
                      aggregation:
                        costSum:
                          function: Sum
                          name: PreTaxCost
                      configuration:
                        columns:
                          - Date
                          - MeterId
                          - InstanceId
                          - ResourceLocation
                          - PreTaxCost
                      filter:
                        and:
                          - or:
                              - dimension:
                                  name: ResourceLocation
                                  operator: In
                                  values:
                                    - East US
                                    - West Europe
                              - tag:
                                  name: Environment
                                  operator: In
                                  values:
                                    - UAT
                                    - Prod
                          - dimension:
                              name: ResourceGroup
                              operator: In
                              values:
                                - API
                      granularity: Daily
                      grouping:
                        - columnType: Dimension
                          name: SubscriptionName
                        - columnType: Tag
                          name: Environment
                    timeframe: MonthToDate
                    type: Usage
                  deliveryInfo:
                    destination:
                      container: reports
                      resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                      rootFolderPath: ad-hoc
                  format: Csv
                  schedule:
                    recurrence: Weekly
                    recurrencePeriod:
                      from: 2018-06-01T00:00:00Z
                      to: 2018-10-31T00:00:00Z
                    status: Active
                type: Microsoft.Consumption/reportconfigs
            "201":
              body:
                id: subscriptions/{subscription-id}/providers/Microsoft.Consumption/reportconfigs/TestReportConfig
                name: TestReportConfig
                properties:
                  definition:
                    dataset:
                      aggregation:
                        costSum:
                          function: Sum
                          name: PreTaxCost
                      configuration:
                        columns:
                          - Date
                          - MeterId
                          - InstanceId
                          - ResourceLocation
                          - PreTaxCost
                      filter:
                        and:
                          - or:
                              - dimension:
                                  name: ResourceLocation
                                  operator: In
                                  values:
                                    - East US
                                    - West Europe
                              - tag:
                                  name: Environment
                                  operator: In
                                  values:
                                    - UAT
                                    - Prod
                          - dimension:
                              name: ResourceGroup
                              operator: In
                              values:
                                - API
                      granularity: Daily
                      grouping:
                        - columnType: Dimension
                          name: SubscriptionName
                        - columnType: Tag
                          name: Environment
                    timeframe: MonthToDate
                    type: Usage
                  deliveryInfo:
                    destination:
                      container: reports
                      resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                      rootFolderPath: ad-hoc
                  format: Csv
                  schedule:
                    recurrence: Weekly
                    recurrencePeriod:
                      from: 2018-06-01T00:00:00Z
                      to: 2018-10-31T00:00:00Z
                    status: Active
                type: Microsoft.Consumption/reportconfigs
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/dimensions":
    get:
      description: Lists the dimensions by resource group Id.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: ResourceGroupDimensions_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: May be used to filter dimensions by properties/category, properties/usageStart, properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'.
          in: query
          name: $filter
          required: false
          type: string
        - description: May be used to expand the properties/data within a dimension category. By default, data is not included when listing dimensions.
          in: query
          name: $expand
          required: false
          type: string
        - description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          type: string
        - description: May be used to limit the number of results to the most recent N dimension data.
          in: query
          maximum: 1000
          minimum: 1
          name: $top
          required: false
          type: integer
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/DimensionsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Dimensions
      x-ms-examples:
        ResourceGroupDimensionsList:
          parameters:
            $expand: properties/data
            $top: 5
            api-version: 2018-05-31
            resourceGroupName: system.orlando
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/system.orlando/providers/microsoft.consumption/dimensions_ResourceType_2018-05-01_2018-05-31_5
                    name: dimensions_ResourceType_2018-05-01_2018-05-31_5
                    properties:
                      category: ResourceType
                      data:
                        - microsoft.storage/storageaccounts
                      total: 1
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/system.orlando/providers/microsoft.consumption/dimensions_InstanceId_2018-05-01_2018-05-31_5
                    name: dimensions_InstanceId_2018-05-01_2018-05-31_5
                    properties:
                      category: InstanceId
                      data:
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/authprod
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/systemevents
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/armadminprod
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/srphytenaccount
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/publicsystemportal
                      total: 27
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
      x-ms-odata: "#/definitions/Dimension"
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/reportconfigs":
    get:
      description: Lists all report configs for a resource group under a subscription.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: ReportConfig_ListByResourceGroupName
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ReportConfigListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Reports
      x-ms-examples:
        ReportConfigList:
          parameters:
            api-version: 2018-05-31
            resourceGroupName: MYDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: subscriptions/{subscription-id}/providers/Microsoft.Consumption/reportconfigs/TestReportConfig1
                    name: TestReportConfig1
                    properties:
                      definition:
                        dataset:
                          aggregation:
                            costSum:
                              function: Sum
                              name: PreTaxCost
                          configuration:
                            columns:
                              - Date
                              - MeterId
                              - InstanceId
                              - ResourceLocation
                              - PreTaxCost
                          filter:
                            and:
                              - or:
                                  - dimension:
                                      name: ResourceLocation
                                      operator: In
                                      values:
                                        - East US
                                        - West Europe
                                  - tag:
                                      name: Environment
                                      operator: In
                                      values:
                                        - UAT
                                        - Prod
                              - dimension:
                                  name: ResourceGroup
                                  operator: In
                                  values:
                                    - API
                          granularity: Daily
                          grouping:
                            - columnType: Dimension
                              name: SubscriptionName
                        timePeriod:
                          from: 2018-06-01T00:00:00Z
                          to: 2018-10-31T00:00:00Z
                        timeframe: Custom
                        type: Usage
                      deliveryInfo:
                        destination:
                          container: reports
                          resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                          rootFolderPath: ad-hoc
                      format: Csv
                    type: Microsoft.Consumption/reportconfigs
                  - id: subscriptions/{subscription-id}/providers/Microsoft.Consumption/reportconfigs/TestReportConfig2
                    name: TestReportConfig2
                    properties:
                      definition:
                        dataset:
                          aggregation:
                            usageSum:
                              function: Sum
                              name: UsageQuantity
                          configuration:
                            columns:
                              - Date
                              - MeterId
                              - InstanceId
                              - ResourceLocation
                              - UsageQuantity
                          filter:
                            and:
                              - dimension:
                                  name: ResourceLocation
                                  operator: In
                                  values:
                                    - East US
                                    - West Europe
                              - tag:
                                  name: Environment
                                  operator: In
                                  values:
                                    - UAT
                                    - Prod
                          granularity: Daily
                          grouping:
                            - columnType: Tag
                              name: Environment
                        timeframe: WeekToDate
                        type: Usage
                      deliveryInfo:
                        destination:
                          container: reports
                          resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                          rootFolderPath: ad-hoc
                      format: Csv
                      schedule:
                        recurrence: Weekly
                        recurrencePeriod:
                          from: 2018-06-01T00:00:00Z
                          to: 2018-10-31T00:00:00Z
                        status: Active
                    type: Microsoft.Consumption/reportconfigs
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/reportconfigs/{reportConfigName}":
    delete:
      description: The operation to delete a report config.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: ReportConfig_DeleteByResourceGroupName
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/reportConfigNameParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Reports
      x-ms-examples:
        DeleteReport:
          parameters:
            api-version: 2018-05-31
            reportConfigName: TestReport
            resourceGroupName: MYDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
    get:
      description: Gets the report config for a resource group under a subscription by report config name.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: ReportConfig_GetByResourceGroupName
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/reportConfigNameParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ReportConfig"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Reports
      x-ms-examples:
        ReportConfig:
          parameters:
            api-version: 2018-05-31
            reportConfigName: TestReportConfig
            resourceGroupName: MYDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: subscriptions/{subscription-id}/providers/Microsoft.Consumption/reportconfigs/TestReportConfig
                name: TestReportConfig
                properties:
                  definition:
                    dataset:
                      aggregation:
                        usageSum:
                          function: Sum
                          name: UsageQuantity
                      configuration:
                        columns:
                          - UsageDate
                          - MeterId
                          - InstanceId
                          - ResourceLocation
                          - UsageQuantity
                      filter:
                        and:
                          - dimension:
                              name: ResourceLocation
                              operator: In
                              values:
                                - East US
                                - West Europe
                          - tag:
                              name: Environment
                              operator: Contains
                              values:
                                - UAT
                                - Prod
                      granularity: Daily
                      grouping:
                        - columnType: Dimension
                          name: SubscriptionName
                        - columnType: Tag
                          name: Environment
                    timePeriod:
                      from: 2018-06-01T00:00:00Z
                      to: 2018-10-31T00:00:00Z
                    timeframe: Custom
                    type: Usage
                  deliveryInfo:
                    destination:
                      container: reports
                      resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                      rootFolderPath: ad-hoc
                  format: Csv
                type: Microsoft.Consumption/reportconfigs
    put:
      description: The operation to create or update a report config. Update operation requires latest eTag to be set in the request mandatorily. You may obtain the latest eTag by performing a get operation. Create operation does not require eTag.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: ReportConfig_CreateOrUpdateByResourceGroupName
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/reportConfigNameParameter"
        - description: Parameters supplied to the CreateOrUpdate Report Config operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ReportConfig"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ReportConfig"
        "201":
          description: Created.
          schema:
            $ref: "#/definitions/ReportConfig"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Reports
      x-ms-examples:
        CreateOrUpdateReport:
          parameters:
            api-version: 2018-05-31
            parameters:
              properties:
                definition:
                  dataset:
                    aggregation:
                      costSum:
                        function: Sum
                        name: PreTaxCost
                    configuration:
                      columns:
                        - Date
                        - MeterId
                        - InstanceId
                        - ResourceLocation
                        - PreTaxCost
                    filter:
                      and:
                        - or:
                            - dimension:
                                name: ResourceLocation
                                operator: In
                                values:
                                  - East US
                                  - West Europe
                            - tag:
                                name: Environment
                                operator: In
                                values:
                                  - UAT
                                  - Prod
                        - dimension:
                            name: ResourceGroup
                            operator: In
                            values:
                              - API
                    granularity: Daily
                    grouping:
                      - columnType: Dimension
                        name: SubscriptionName
                      - columnType: Tag
                        name: Environment
                  timeframe: MonthToDate
                  type: Usage
                deliveryInfo:
                  destination:
                    container: reports
                    resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                    rootFolderPath: ad-hoc
                format: Csv
                schedule:
                  recurrence: Weekly
                  recurrencePeriod:
                    from: 2018-06-01T00:00:00Z
                    to: 2018-10-31T00:00:00Z
                  status: Active
            reportConfigName: TestReportConfig
            resourceGroupName: MYDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: subscriptions/{subscription-id}/providers/Microsoft.Consumption/reportconfigs/TestReportConfig
                name: TestReportConfig
                properties:
                  definition:
                    dataset:
                      aggregation:
                        costSum:
                          function: Sum
                          name: PreTaxCost
                      configuration:
                        columns:
                          - Date
                          - MeterId
                          - InstanceId
                          - ResourceLocation
                          - PreTaxCost
                      filter:
                        and:
                          - or:
                              - dimension:
                                  name: ResourceLocation
                                  operator: In
                                  values:
                                    - East US
                                    - West Europe
                              - tag:
                                  name: Environment
                                  operator: In
                                  values:
                                    - UAT
                                    - Prod
                          - dimension:
                              name: ResourceGroup
                              operator: In
                              values:
                                - API
                      granularity: Daily
                      grouping:
                        - columnType: Dimension
                          name: SubscriptionName
                        - columnType: Tag
                          name: Environment
                    timeframe: MonthToDate
                    type: Usage
                  deliveryInfo:
                    destination:
                      container: reports
                      resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                      rootFolderPath: ad-hoc
                  format: Csv
                  schedule:
                    recurrence: Weekly
                    recurrencePeriod:
                      from: 2018-06-01T00:00:00Z
                      to: 2018-10-31T00:00:00Z
                    status: Active
                type: Microsoft.Consumption/reportconfigs
            "201":
              body:
                id: subscriptions/{subscription-id}/providers/Microsoft.Consumption/reportconfigs/TestReportConfig
                name: TestReportConfig
                properties:
                  definition:
                    dataset:
                      aggregation:
                        costSum:
                          function: Sum
                          name: PreTaxCost
                      configuration:
                        columns:
                          - Date
                          - MeterId
                          - InstanceId
                          - ResourceLocation
                          - PreTaxCost
                      filter:
                        and:
                          - or:
                              - dimension:
                                  name: ResourceLocation
                                  operator: In
                                  values:
                                    - East US
                                    - West Europe
                              - tag:
                                  name: Environment
                                  operator: In
                                  values:
                                    - UAT
                                    - Prod
                          - dimension:
                              name: ResourceGroup
                              operator: In
                              values:
                                - API
                      granularity: Daily
                      grouping:
                        - columnType: Dimension
                          name: SubscriptionName
                        - columnType: Tag
                          name: Environment
                    timeframe: MonthToDate
                    type: Usage
                  deliveryInfo:
                    destination:
                      container: reports
                      resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                      rootFolderPath: ad-hoc
                  format: Csv
                  schedule:
                    recurrence: Weekly
                    recurrencePeriod:
                      from: 2018-06-01T00:00:00Z
                      to: 2018-10-31T00:00:00Z
                    status: Active
                type: Microsoft.Consumption/reportconfigs
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.CostManagement/Query":
    post:
      description: Lists the usage data for subscriptionId and resource group.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: QueryResourceGroup
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Parameters supplied to the CreateOrUpdate Report Config operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ReportConfigDefinition"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/QueryResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Query
      x-ms-examples:
        ResourceGroupQuery:
          parameters:
            api-version: 2018-05-31
            parameters:
              dataset:
                configuration:
                  columns:
                    - PreTaxCost
                    - ResourceGroup
                    - UsageDate
                filter:
                  and:
                    - or:
                        - dimension:
                            name: ResourceLocation
                            operator: In
                            values:
                              - East US
                              - West Europe
                        - tag:
                            name: Environment
                            operator: In
                            values:
                              - UAT
                              - Prod
                    - dimension:
                        name: ResourceGroup
                        operator: In
                        values:
                          - API
                granularity: Daily
              timeframe: MonthToDate
              type: Usage
            resourceGroupName: ScreenSharingTest-peer
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/ScreenSharingTest-peer/providers/Microsoft.CostManagement/Query/9af9459d-441d-4055-9ed0-83d4c4a363fb
                    name: 9af9459d-441d-4055-9ed0-83d4c4a363fb
                    properties:
                      columns:
                        - name: PreTaxCost
                          type: Number
                        - name: ResourceGroup
                          type: String
                        - name: UsageDate
                          type: Number
                      nextLink: null
                      rows:
                        - - 2.10333307059661
                          - ScreenSharingTest-peer
                          - 20180417
                        - - 20.10333307059661
                          - ScreenSharingTest-peer
                          - 20180418
                    type: microsoft.costmanagement/Query
      x-ms-pageable:
        nextLinkName: null
definitions:
  Dimension:
    allOf:
      - $ref: "#/definitions/Resource"
    properties:
      properties:
        $ref: "#/definitions/DimensionProperties"
        title: Dimension properties
        x-ms-client-flatten: true
    type: object
  DimensionProperties:
    properties:
      category:
        type: string
      data:
        items:
          type: string
        type: array
      nextLink:
        type: string
      total:
        format: int32
        type: integer
      usageEnd:
        format: date-time
        type: string
      usageStart:
        format: date-time
        type: string
    type: object
  DimensionsListResult:
    description: Result of listing dimensions. It contains a list of available dimensions.
    properties:
      value:
        description: The list of dimensions.
        items:
          $ref: "#/definitions/Dimension"
        readOnly: true
        type: array
    type: object
  ErrorDetails:
    description: The details of the error.
    properties:
      code:
        description: Error code.
        readOnly: true
        type: string
      message:
        description: Error message indicating why the operation failed.
        readOnly: true
        type: string
  ErrorResponse:
    description: Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.
    properties:
      error:
        $ref: "#/definitions/ErrorDetails"
        description: The details of the error.
    type: object
  Operation:
    description: A Cost management REST API operation.
    properties:
      display:
        description: The object that represents the operation.
        properties:
          operation:
            description: "Operation type: Read, write, delete, etc."
            readOnly: true
            type: string
          provider:
            description: "Service provider: Microsoft.CostManagement."
            readOnly: true
            type: string
          resource:
            description: "Resource on which the operation is performed: Dimensions, Query."
            readOnly: true
            type: string
      name:
        description: "Operation name: {provider}/{resource}/{operation}."
        readOnly: true
        type: string
    type: object
  OperationListResult:
    description: Result of listing cost management operations. It contains a list of operations and a URL link to get the next set of results.
    properties:
      nextLink:
        description: URL to get the next set of operation list results if there are any.
        readOnly: true
        type: string
      value:
        description: List of cost management operations supported by the Microsoft.CostManagement resource provider.
        items:
          $ref: "#/definitions/Operation"
        readOnly: true
        type: array
  Query:
    allOf:
      - $ref: "#/definitions/Resource"
    properties:
      properties:
        $ref: "#/definitions/QueryProperties"
        title: Query properties
        x-ms-client-flatten: true
    type: object
  QueryColumn:
    properties:
      name:
        type: string
      type:
        type: string
    type: object
  QueryProperties:
    properties:
      columns:
        description: Array of columns
        items:
          $ref: "#/definitions/QueryColumn"
        type: array
      nextLink:
        type: string
      rows:
        items:
          items: {}
          type: array
        type: array
    type: object
  QueryResult:
    description: Result of query. It contains all columns listed under groupings and aggregation.
    properties:
      value:
        description: The list of usage data.
        items:
          $ref: "#/definitions/Query"
        readOnly: true
        type: array
    type: object
  ReportConfig:
    allOf:
      - $ref: "#/definitions/Resource"
    description: A report config resource.
    properties:
      properties:
        $ref: "#/definitions/ReportConfigProperties"
        title: Report config properties
        x-ms-client-flatten: true
    type: object
  ReportConfigAggregation:
    description: The aggregation expression to be used in the report.
    properties:
      function:
        description: The name of the aggregation function to use.
        enum:
          - Sum
        type: string
        x-ms-enum:
          modelAsString: true
          name: FunctionType
      name:
        description: The name of the column to aggregate.
        type: string
    required:
      - name
      - function
  ReportConfigColumnType:
    description: The type of the column in the report.
    enum:
      - Tag
      - Dimension
    type: string
    x-ms-enum:
      modelAsString: true
      name: ReportConfigColumnType
  ReportConfigComparisonExpression:
    description: The comparison expression to be used in the report.
    properties:
      name:
        description: The name of the column to use in comparison.
        type: string
      operator:
        description: The operator to use for comparison.
        enum:
          - In
        type: string
        x-ms-enum:
          modelAsString: true
          name: OperatorType
      values:
        description: Array of values to use for comparison
        items:
          type: string
        minItems: 1
        type: array
    required:
      - name
      - operator
      - values
  ReportConfigDataset:
    description: The definition of data present in the report.
    properties:
      aggregation:
        additionalProperties:
          $ref: "#/definitions/ReportConfigAggregation"
          type: object
        description: Dictionary of aggregation expression to use in the report. The key of each item in the dictionary is the alias for the aggregated column. Report can have up to 2 aggregation clauses.
        maxItems: 2
        type: object
      configuration:
        $ref: "#/definitions/ReportConfigDatasetConfiguration"
        description: Has configuration information for the data in the report. The configuration will be ignored if aggregation and grouping are provided.
      filter:
        $ref: "#/definitions/ReportConfigFilter"
        description: Has filter expression to use in the report.
        type: object
      granularity:
        description: The granularity of rows in the report.
        enum:
          - Daily
        type: string
        x-ms-enum:
          modelAsString: true
          name: GranularityType
      grouping:
        description: Array of group by expression to use in the report. Report can have up to 2 group by clauses.
        items:
          $ref: "#/definitions/ReportConfigGrouping"
        maxItems: 2
        type: array
  ReportConfigDatasetConfiguration:
    description: The configuration of dataset in the report.
    properties:
      columns:
        description: Array of column names to be included in the report. Any valid report column name is allowed. If not provided, then report includes all columns.
        items:
          type: string
        type: array
  ReportConfigDefinition:
    description: The definition of a report config.
    properties:
      dataset:
        $ref: "#/definitions/ReportConfigDataset"
        description: Has definition for data in this report config.
      timePeriod:
        $ref: "#/definitions/ReportConfigTimePeriod"
        description: Has time period for pulling data for the report.
      timeframe:
        description: The time frame for pulling data for the report. If custom, then a specific time period must be provided.
        enum:
          - WeekToDate
          - MonthToDate
          - YearToDate
          - Custom
        type: string
        x-ms-enum:
          modelAsString: true
          name: TimeframeType
      type:
        description: The type of the report.
        enum:
          - Usage
        type: string
        x-ms-enum:
          modelAsString: true
          name: ReportType
    required:
      - type
      - timeframe
  ReportConfigDeliveryDestination:
    description: The destination information for the delivery of the report.
    properties:
      container:
        description: The name of the container where reports will be uploaded.
        type: string
      resourceId:
        description: The resource id of the storage account where reports will be delivered.
        type: string
      rootFolderPath:
        description: The name of the directory where reports will be uploaded.
        type: string
    required:
      - resourceId
      - container
  ReportConfigDeliveryInfo:
    description: The delivery information associated with a report config.
    properties:
      destination:
        $ref: "#/definitions/ReportConfigDeliveryDestination"
        description: Has destination for the report being delivered.
    required:
      - destination
  ReportConfigFilter:
    description: The filter expression to be used in the report.
    properties:
      and:
        description: The logical "AND" expression. Must have at least 2 items.
        items:
          $ref: "#/definitions/ReportConfigFilter"
        minItems: 2
        type: array
      dimension:
        $ref: "#/definitions/ReportConfigComparisonExpression"
        description: Has comparison expression for a dimension
      not:
        $ref: "#/definitions/ReportConfigFilter"
        description: The logical "NOT" expression.
      or:
        description: The logical "OR" expression. Must have at least 2 items.
        items:
          $ref: "#/definitions/ReportConfigFilter"
        minItems: 2
        type: array
      tag:
        $ref: "#/definitions/ReportConfigComparisonExpression"
        description: Has comparison expression for a tag
  ReportConfigGrouping:
    description: The group by expression to be used in the report.
    properties:
      columnType:
        $ref: "#/definitions/ReportConfigColumnType"
        description: Has type of the column to group.
      name:
        description: The name of the column to group.
        type: string
    required:
      - columnType
      - name
  ReportConfigListResult:
    description: Result of listing report configs. It contains a list of available report configurations in the scope provided.
    properties:
      value:
        description: The list of report configs.
        items:
          $ref: "#/definitions/ReportConfig"
        readOnly: true
        type: array
  ReportConfigProperties:
    description: The properties of the report config.
    properties:
      definition:
        $ref: "#/definitions/ReportConfigDefinition"
        description: Has definition for the report config.
      deliveryInfo:
        $ref: "#/definitions/ReportConfigDeliveryInfo"
        description: Has delivery information for the report config.
      format:
        description: The format of the report being delivered.
        enum:
          - Csv
        type: string
        x-ms-enum:
          modelAsString: true
          name: FormatType
      schedule:
        $ref: "#/definitions/ReportConfigSchedule"
        description: Has schedule information for the report config.
    required:
      - deliveryInfo
      - definition
  ReportConfigRecurrencePeriod:
    description: The start and end date for recurrence schedule.
    properties:
      from:
        description: The start date of recurrence.
        format: date-time
        type: string
      to:
        description: The end date of recurrence. If not provided, we default this to 10 years from the start date.
        format: date-time
        type: string
    required:
      - from
  ReportConfigSchedule:
    description: The schedule associated with a report config.
    properties:
      recurrence:
        description: The schedule recurrence.
        enum:
          - Daily
          - Weekly
          - Monthly
          - Annually
        type: string
        x-ms-enum:
          modelAsString: true
          name: RecurrenceType
      recurrencePeriod:
        $ref: "#/definitions/ReportConfigRecurrencePeriod"
        description: Has start and end date of the recurrence. The start date must be in future. If present, the end date must be greater than start date.
      status:
        description: The status of the schedule. Whether active or not. If inactive, the report's scheduled execution is paused.
        enum:
          - Active
          - Inactive
        type: string
        x-ms-enum:
          modelAsString: true
          name: StatusType
    required:
      - recurrence
      - recurrencePeriod
  ReportConfigTimePeriod:
    description: The start and end date for pulling data for the report.
    properties:
      from:
        description: The start date to pull data from.
        format: date-time
        type: string
      to:
        description: The end date to pull data to.
        format: date-time
        type: string
    required:
      - from
      - to
  Resource:
    description: The Resource model definition.
    properties:
      id:
        description: Resource Id.
        readOnly: true
        type: string
      name:
        description: Resource name.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags.
        readOnly: true
        type: object
      type:
        description: Resource type.
        readOnly: true
        type: string
    x-ms-azure-resource: true
