{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.byautomata.io"
    }
  ],
  "info": {
    "contact": {
      "email": "support@byautomata.io"
    },
    "description": "This document provides the documentation for the Market Intelligence API by Automata. Get your API Key at https://apis.byautomata.io and check out our <a href='https://www.getpostman.com/collections/d182a1c78d4491d55e19'>Postman Collection</a>.<br><br>The root API endpoint is https://api.byautomata.io. Please refer to the code samples for examples of how to call the Market Intelligence API. The ContentPro endpoints (/contentpro-search and /contentpro-similar-text) are not included in the standard Market Intelligence API plans. Please contact support@byautomata.io for access.",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "https://byautomata.io/terms/",
    "title": "Automata Market Intelligence API",
    "version": "1.0.1",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_s3.amazonaws.com_api.specs.byautomata.io_Logo_padding.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://s3.amazonaws.com/api.specs.byautomata.io/automata_api.json",
        "version": "3.0"
      }
    ],
    "x-providerName": "byautomata.io"
  },
  "externalDocs": {
    "description": "Find out more about Automata and other Market Intelligence products.",
    "url": "http://byautomata.io"
  },
  "paths": {
    "/contentpro-search": {
      "get": {
        "deprecated": false,
        "parameters": [
          {
            "description": "We provide information about related companies and articles based on the search terms you provide. Separate search terms with commas. Ex. https://api.byautomata.io/contentpro-search?terms=cloud+computing,enterprise,security",
            "in": "query",
            "name": "terms",
            "required": true,
            "schema": {
              "properties": {
                "link": {
                  "description": "Comma separated list of search terms. Ex. terms=cloud+computing,enterprise,security",
                  "type": "string"
                }
              },
              "required": [
                "terms"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "calls_per_month": {
                      "type": "string"
                    },
                    "count_remaining": {
                      "type": "string"
                    },
                    "data": {
                      "items": {
                        "properties": {
                          "article": {
                            "$ref": "#/components/schemas/Article"
                          },
                          "company": {
                            "$ref": "#/components/schemas/ContentProCompany"
                          },
                          "snippets": {
                            "$ref": "#/components/schemas/ContentProSnippets"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "renewal_date": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "A successful operation"
          },
          "400": {
            "description": "Your request was not valid. Please refer to the API documentation https://api-specs.byautomata.io."
          },
          "403": {
            "description": "Invalid API Key. Please refer to the API documentation https://api-specs.byautomata.io."
          },
          "501": {
            "description": "There was a server error. Please try again later or contact support@byautomata.io"
          }
        },
        "summary": "Send search terms to receive the most relevant articles and companies.",
        "tags": [
          "contentpro-search"
        ],
        "x-code-samples": [
          {
            "lang": "Python",
            "source": "import requests\n\nurl = 'https://api.byautomata.io/contentpro-search?terms=cloud+computing,enterprise,security'\npayload = {}\nheaders = {\n  'x-api-key': 'api_key'\n}\n\nresponse = requests.request('GET', url, headers=headers, data = payload)\nprint(response.text.encode('utf8'))"
          },
          {
            "lang": "PHP",
            "source": "$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://api.byautomata.io/contentpro-search?terms=cloud+computing,enterprise,security\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST =>\"GET\",\n  CURLOPT_HTTPHEADER => array(\n    \"x-api-key: api-key\"\n  ),\n));\n\n$response = curl_exec($curl);\ncurl_close($curl);\necho $response;"
          },
          {
            "lang": "NodeJs",
            "source": "var request = require('request');\nvar options = {\n  'method': 'GET',\n  'url': 'https://api.byautomata.io/contentpro-search?terms=cloud+computing,enterprise,security',\n  'headers': {\n    'x-api-key': 'api_key'\n  }\n};\nrequest(options, function (error, response) {\n  if (error) throw new Error(error);\n  console.log(response.body);\n});"
          },
          {
            "lang": "cURL",
            "source": "curl --location --request GET 'https://api.byautomata.io/contentpro-search?terms=cloud+computing,enterprise,security' \\\n--header 'x-api-key: api-key'"
          },
          {
            "lang": "Shell",
            "source": "wget --no-check-certificate --quiet \\\n  --method GET \\\n  --timeout=0 \\\n  --header 'x-api-key: 9OEDkaENEd2dzyF14fzcL73WQ5c8ifbX3waYbmhY' \\\n  'https://api.byautomata.io/contentpro-search?terms=cloud+computing,enterprise,security'"
          }
        ]
      }
    },
    "/contentpro-similar-text": {
      "post": {
        "deprecated": false,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "text": {
                    "description": "Any piece of text",
                    "type": "string"
                  }
                },
                "required": [
                  "text"
                ],
                "type": "object"
              }
            }
          },
          "description": "We'll provide information about related companies and articles based on the text you provide.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "calls_per_month": {
                      "type": "string"
                    },
                    "count_remaining": {
                      "type": "string"
                    },
                    "data": {
                      "items": {
                        "properties": {
                          "article": {
                            "$ref": "#/components/schemas/Article"
                          },
                          "company": {
                            "$ref": "#/components/schemas/ContentProCompany"
                          },
                          "snippets": {
                            "$ref": "#/components/schemas/ContentProSnippets"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "renewal_date": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "A successful operation"
          },
          "400": {
            "description": "Your request was not valid. Please refer to the API documentation https://api-specs.byautomata.io."
          },
          "403": {
            "description": "Invalid API Key. Please refer to the API documentation https://api-specs.byautomata.io."
          },
          "501": {
            "description": "There was a server error. Please try again later or contact support@byautomata.io"
          }
        },
        "summary": "The /contentpro-similar-text endpoint accepts and arbitrary piece of text and returns similar articles and blogs written by companies.",
        "tags": [
          "contentpro-similar-text"
        ],
        "x-code-samples": [
          {
            "lang": "Python",
            "source": "import requests\n\nurl = 'https://api.byautomata.io/contentpro-similar-text'\npayload = {'text': 'some sample text about cloud computing and internet security'}\nheaders = {\n  'x-api-key': 'api_key'\n}\n\nresponse = requests.request('POST', url, headers=headers, data = payload)\nprint(response.text.encode('utf8'))"
          },
          {
            "lang": "PHP",
            "source": "$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://api.byautomata.io/contentpro-similar-text\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST =>\"POST\",\n  CURLOPT_HTTPHEADER => array(\n    \"x-api-key: api-key\"\n  ),\n));\n\n$response = curl_exec($curl);\ncurl_close($curl);\necho $response;"
          },
          {
            "lang": "NodeJs",
            "source": "var request = require('request');\nvar options = {\n  'method': 'POST',\n  'url': 'https://api.byautomata.io/contentpro-similar-text',\n  'headers': {\n    'x-api-key': 'api_key'\n  }\n};\nrequest(options, function (error, response) {\n  if (error) throw new Error(error);\n  console.log(response.body);\n});"
          },
          {
            "lang": "cURL",
            "source": "curl --location --request POST 'https://api.byautomata.io/contentpro-similar-text' \\\n--header 'x-api-key: api-key'"
          },
          {
            "lang": "Shell",
            "source": "wget --no-check-certificate --quiet \\\n  --method POST \\\n  --timeout=0 \\\n  --header 'x-api-key: 9OEDkaENEd2dzyF14fzcL73WQ5c8ifbX3waYbmhY' \\\n  'https://api.byautomata.io/contentpro-similar-text'"
          }
        ]
      }
    },
    "/search": {
      "get": {
        "deprecated": false,
        "parameters": [
          {
            "description": "We provide information about related companies based on the search terms you provide. Separate search terms with commas. Ex. https://api.byautomata.io/search?link=cloud+computing,enterprise,security",
            "in": "query",
            "name": "terms",
            "required": true,
            "schema": {
              "properties": {
                "link": {
                  "description": "Comma separated list of search terms. Ex. terms=cloud+computing,enterprise,security",
                  "type": "string"
                }
              },
              "required": [
                "terms"
              ],
              "type": "string"
            }
          },
          {
            "description": "Page number of search results. Ex. https://api.byautomata.io/search?page=0&link=cloud+computing,enterprise,security",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": "0",
              "properties": {
                "link": {
                  "description": "Results are returned in batches of approximately 15 companies. Use the page parameter to page through results.",
                  "type": "string"
                }
              },
              "required": [
                "page"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "calls_per_month": {
                      "type": "string"
                    },
                    "companies": {
                      "items": {
                        "$ref": "#/components/schemas/SimilarCompanySearch"
                      },
                      "type": "array"
                    },
                    "count_remaining": {
                      "type": "string"
                    },
                    "renewal_date": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "A successful operation"
          },
          "400": {
            "description": "Your request was not valid. Please refer to the API documentation https://api-specs.byautomata.io."
          },
          "403": {
            "description": "Invalid API Key. Please refer to the API documentation https://api-specs.byautomata.io."
          },
          "501": {
            "description": "There was a server error. Please try again later or contact support@byautomata.io"
          }
        },
        "summary": "Send search terms to receive the most relevant companies along with text snippets.",
        "tags": [
          "search"
        ],
        "x-code-samples": [
          {
            "lang": "Python",
            "source": "import requests\n\nurl = 'https://api.byautomata.io/search?terms=cloud+computing,enterprise,security'\npayload = {}\nheaders = {\n  'x-api-key': 'api_key'\n}\n\nresponse = requests.request('GET', url, headers=headers, data = payload)\nprint(response.text.encode('utf8'))"
          },
          {
            "lang": "PHP",
            "source": "$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://api.byautomata.io/search?terms=cloud+computing,enterprise,security\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST =>\"GET\",\n  CURLOPT_HTTPHEADER => array(\n    \"x-api-key: api-key\"\n  ),\n));\n\n$response = curl_exec($curl);\ncurl_close($curl);\necho $response;"
          },
          {
            "lang": "NodeJs",
            "source": "var request = require('request');\nvar options = {\n  'method': 'GET',\n  'url': 'https://api.byautomata.io/search?terms=cloud+computing,enterprise,security',\n  'headers': {\n    'x-api-key': 'api_key'\n  }\n};\nrequest(options, function (error, response) {\n  if (error) throw new Error(error);\n  console.log(response.body);\n});"
          },
          {
            "lang": "cURL",
            "source": "curl --location --request GET 'https://api.byautomata.io/search?terms=cloud+computing,enterprise,security' \\\n--header 'x-api-key: api-key'"
          },
          {
            "lang": "Shell",
            "source": "wget --no-check-certificate --quiet \\\n  --method GET \\\n  --timeout=0 \\\n  --header 'x-api-key: 9OEDkaENEd2dzyF14fzcL73WQ5c8ifbX3waYbmhY' \\\n  'https://api.byautomata.io/search?terms=cloud+computing,enterprise,security'"
          }
        ]
      }
    },
    "/similar": {
      "get": {
        "deprecated": false,
        "parameters": [
          {
            "description": "We'll provide information about related companies based on the site you provide. If a LinkedIn page is sent, we will try to identify the company related to the page. Ex. https://api.byautomata.io/similar?link=ibm.com",
            "in": "query",
            "name": "link",
            "required": true,
            "schema": {
              "properties": {
                "link": {
                  "description": "Any company website. Ex. apple.com",
                  "type": "string"
                }
              },
              "required": [
                "link"
              ],
              "type": "string"
            }
          },
          {
            "description": "Page number of search results. Ex. https://api.byautomata.io/similar?link=ibm.com&page=1",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": "0",
              "properties": {
                "link": {
                  "description": "Results are returned in batches of approximately 10 companies. Use the page parameter to page through results.",
                  "type": "string"
                }
              },
              "required": [
                "page"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "calls_per_month": {
                      "type": "string"
                    },
                    "companies": {
                      "items": {
                        "$ref": "#/components/schemas/SimilarCompany"
                      },
                      "type": "array"
                    },
                    "count_remaining": {
                      "type": "string"
                    },
                    "input_company": {
                      "$ref": "#/components/schemas/InputCompany"
                    },
                    "renewal_date": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "A successful operation"
          },
          "400": {
            "description": "Your request was not valid. Please refer to the API documentation https://api-specs.byautomata.io."
          },
          "403": {
            "description": "Invalid API Key. Please refer to the API documentation https://api-specs.byautomata.io."
          },
          "501": {
            "description": "There was a server error. Please try again later or contact support@byautomata.io"
          }
        },
        "summary": "Send a company website to receive a list of companies related to them.",
        "tags": [
          "similar"
        ],
        "x-code-samples": [
          {
            "lang": "Python",
            "source": "import requests\n\nurl = 'https://api.byautomata.io/similar?link=ibm.com'\npayload = {}\nheaders = {\n  'x-api-key': 'api_key'\n}\n\nresponse = requests.request('GET', url, headers=headers, data = payload)\nprint(response.text.encode('utf8'))"
          },
          {
            "lang": "PHP",
            "source": "$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://api.byautomata.io/similar?link=ibm.com\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 0,\n  CURLOPT_FOLLOWLOCATION => true,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST =>\"GET\",\n  CURLOPT_HTTPHEADER => array(\n    \"x-api-key: api-key\"\n  ),\n));\n\n$response = curl_exec($curl);\ncurl_close($curl);\necho $response;"
          },
          {
            "lang": "NodeJs",
            "source": "var request = require('request');\nvar options = {\n  'method': 'GET',\n  'url': 'https://api.byautomata.io/similar?link=ibm.com',\n  'headers': {\n    'x-api-key': 'api_key'\n  }\n};\nrequest(options, function (error, response) {\n  if (error) throw new Error(error);\n  console.log(response.body);\n});"
          },
          {
            "lang": "cURL",
            "source": "curl --location --request GET 'https://api.byautomata.io/similar?link=ibm.com' \\\n--header 'x-api-key: api-key'"
          },
          {
            "lang": "Shell",
            "source": "wget --no-check-certificate --quiet \\\n  --method GET \\\n  --timeout=0 \\\n  --header 'x-api-key: 9OEDkaENEd2dzyF14fzcL73WQ5c8ifbX3waYbmhY' \\\n  'https://api.byautomata.io/similar?link=ibm.com'"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Article": {
        "properties": {
          "link": {
            "type": "string"
          },
          "pubdate": {
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        },
        "type": "object",
        "xml": {
          "name": "Order"
        }
      },
      "ContentProCompany": {
        "properties": {
          "companyName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "employee": {
            "type": "string"
          },
          "industry": {
            "type": "string"
          },
          "linkedin": {
            "type": "string"
          },
          "twitter": {
            "type": "string"
          },
          "website": {
            "type": "string"
          }
        },
        "type": "object",
        "xml": {
          "name": "Order"
        }
      },
      "ContentProSnippets": {
        "properties": {
          "description": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "text": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "title": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "InputCompany": {
        "properties": {
          "companyName": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "employee": {
            "type": "string"
          },
          "industry": {
            "type": "string"
          },
          "linkedin": {
            "type": "string"
          },
          "twitter": {
            "type": "string"
          },
          "website": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "SimilarCompany": {
        "properties": {
          "companyName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "employee": {
            "type": "string"
          },
          "industry": {
            "type": "string"
          },
          "linkedin": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "twitter": {
            "type": "string"
          },
          "website": {
            "type": "string"
          }
        },
        "type": "object",
        "xml": {
          "name": "Order"
        }
      },
      "SimilarCompanySearch": {
        "properties": {
          "companyName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "employee": {
            "type": "string"
          },
          "industry": {
            "type": "string"
          },
          "linkedin": {
            "type": "string"
          },
          "snippets": {
            "items": {
              "$ref": "#/components/schemas/Snippet"
            },
            "type": "array"
          },
          "title": {
            "type": "string"
          },
          "twitter": {
            "type": "string"
          },
          "website": {
            "type": "string"
          }
        },
        "type": "object",
        "xml": {
          "name": "Order"
        }
      },
      "Snippet": {
        "properties": {
          "description": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "text": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "title": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "api_key": {
        "description": "All Automata API endpoints require an API key distributed by Automata. Retrieve an API key at https://apis.byautomata.io for the /similar and /search endpoints. The ContentPro API endpoints are not included in the standard Market Intelligence API plans. Contact support@byautomata.io for access.",
        "in": "header",
        "name": "x-api-key",
        "type": "apiKey"
      }
    }
  }
}