swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Consumption management client provides access to consumption resources for Azure Enterprise Subscriptions.
  title: ConsumptionManagementClient
  version: 2019-05-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/consumption/resource-manager/Microsoft.Consumption/stable/2019-05-01/consumption.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: consumption
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: Version of the API to be used with the client request. The current version is 2019-05-01.
    in: query
    name: api-version
    required: true
    type: string
  billingAccountIdParameter:
    description: BillingAccount ID
    in: path
    name: billingAccountId
    required: true
    type: string
    x-ms-parameter-location: method
  billingPeriodNameParameter:
    description: Billing Period Name.
    in: path
    name: billingPeriodName
    required: true
    type: string
    x-ms-parameter-location: method
  billingProfileIdParameter:
    description: Azure Billing Profile ID.
    in: path
    name: billingProfileId
    required: true
    type: string
    x-ms-parameter-location: method
  budgetNameParameter:
    description: Budget Name.
    in: path
    name: budgetName
    required: true
    type: string
    x-ms-parameter-location: method
  departmentIdParameter:
    description: Department ID
    in: path
    name: departmentId
    required: true
    type: string
    x-ms-parameter-location: method
  enrollmentAccountIdParameter:
    description: EnrollmentAccount ID
    in: path
    name: enrollmentAccountId
    required: true
    type: string
    x-ms-parameter-location: method
  grainParameter:
    description: Can be daily or monthly
    enum:
      - daily
      - monthly
    in: query
    name: grain
    required: true
    type: string
    x-ms-enum:
      modelAsString: true
      name: datagrain
      values:
        - description: Daily grain of data
          name: DailyGrain
          value: daily
        - description: Monthly grain of data
          name: MonthlyGrain
          value: monthly
    x-ms-parameter-location: method
  invoiceSectionIdParameter:
    description: Azure Invoice Section ID.
    in: path
    name: invoiceSectionId
    required: true
    type: string
    x-ms-parameter-location: method
  managementGroupIdParameter:
    description: Azure Management Group ID.
    in: path
    name: managementGroupId
    required: true
    type: string
    x-ms-parameter-location: method
  metricParameter:
    description: Allows to select different type of cost/usage records.
    enum:
      - actualcost
      - amortizedcost
      - usage
    in: query
    name: metric
    required: false
    type: string
    x-ms-enum:
      modelAsString: true
      name: metrictype
      values:
        - description: Actual cost data.
          name: ActualCostMetricType
          value: actualcost
        - description: Amortized cost data.
          name: AmortizedCostMetricType
          value: amortizedcost
        - description: Usage data.
          name: UsageMetricType
          value: usage
    x-ms-parameter-location: method
  reservationIdParameter:
    description: Id of the reservation
    in: path
    name: reservationId
    required: true
    type: string
    x-ms-parameter-location: method
  reservationOrderIdParameter:
    description: Order Id of the reservation
    in: path
    name: reservationOrderId
    required: true
    type: string
    x-ms-parameter-location: method
  resourceGroupNameParameter:
    description: Azure Resource Group Name.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  scopeBudgetParameter:
    description: The scope associated with budget operations. This includes '/subscriptions/{subscriptionId}/' for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}' for Department scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}' for EnrollmentAccount scope, '/providers/Microsoft.Management/managementGroups/{managementGroupId}' for Management Group scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}' for billingProfile scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}' for invoiceSection scope.
    in: path
    name: scope
    required: true
    type: string
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
  scopeChargesParameter:
    description: The scope associated with usage details operations. This includes '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}' for Department scope and '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}' for EnrollmentAccount scope. For department and enrollment accounts, you can also add billing period to the scope using '/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}'. For e.g. to specify billing period at department scope use '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}'
    in: path
    name: scope
    required: true
    type: string
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
  scopeMarketplaceParameter:
    description: The scope associated with marketplace operations. This includes '/subscriptions/{subscriptionId}/' for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope, '/providers/Microsoft.Billing/departments/{departmentId}' for Department scope, '/providers/Microsoft.Billing/enrollmentAccounts/{enrollmentAccountId}' for EnrollmentAccount scope and '/providers/Microsoft.Management/managementGroups/{managementGroupId}' for Management Group scope. For subscription, billing account, department, enrollment account and ManagementGroup, you can also add billing period to the scope using '/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}'. For e.g. to specify billing period at department scope use '/providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}'
    in: path
    name: scope
    required: true
    type: string
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
  scopeTagsParameter:
    description: The scope associated with tags operations. This includes '/subscriptions/{subscriptionId}/' for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}' for Department scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}' for EnrollmentAccount scope and '/providers/Microsoft.Management/managementGroups/{managementGroupId}' for Management Group scope..
    in: path
    name: scope
    required: true
    type: string
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
  scopeUsageDetailsParameter:
    description: The scope associated with usage details operations. This includes '/subscriptions/{subscriptionId}/' for subscription scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope, '/providers/Microsoft.Billing/departments/{departmentId}' for Department scope, '/providers/Microsoft.Billing/enrollmentAccounts/{enrollmentAccountId}' for EnrollmentAccount scope and '/providers/Microsoft.Management/managementGroups/{managementGroupId}' for Management Group scope. For subscription, billing account, department, enrollment account and management group, you can also add billing period to the scope using '/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}'. For e.g. to specify billing period at department scope use '/providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}'
    in: path
    name: scope
    required: true
    type: string
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
  subscriptionIdParameter:
    description: Azure Subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/balances":
    get:
      description: Gets the balances for a scope by billing period and billingAccountId. Balances are available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: Balances_GetForBillingPeriodByBillingAccount
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/billingAccountIdParameter"
        - $ref: "#/parameters/billingPeriodNameParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/Balance"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Balances
      x-ms-examples:
        Balances:
          parameters:
            api-version: 2019-05-01
            billingAccountId: "123456"
            billingPeriodName: "201702"
          responses:
            "200":
              body:
                id: providers/Microsoft.Billing/billingAccounts/123456/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/balances/balanceId1
                name: balanceId1
                properties:
                  adjustmentDetails:
                    - name: Promo Credit
                      value: 1.1
                    - name: SIE Credit
                      value: 1
                  adjustments: 0
                  azureMarketplaceServiceCharges: 609.82
                  beginningBalance: 3396469.19
                  billingFrequency: Month
                  chargesBilledSeparately: 0
                  currency: "USD  "
                  endingBalance: 2922371.02
                  newPurchases: 0
                  newPurchasesDetails:
                    - name: Promo Purchase
                      value: 1
                  priceHidden: false
                  serviceOverage: 0
                  totalOverage: 0
                  totalUsage: 474098.17
                  utilized: 474098.17
                type: Microsoft.Consumption/balances
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/balances":
    get:
      description: Gets the balances for a scope by billingAccountId. Balances are available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: Balances_GetByBillingAccount
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/billingAccountIdParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/Balance"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Balances
      x-ms-examples:
        Balances:
          parameters:
            api-version: 2019-05-01
            billingAccountId: "123456"
          responses:
            "200":
              body:
                id: /providers/Microsoft.Billing/billingAccounts/123456/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/balances/balanceId1
                name: balanceId1
                properties:
                  adjustmentDetails:
                    - name: Promo Credit
                      value: 1.1
                    - name: SIE Credit
                      value: 1
                  adjustments: 0
                  azureMarketplaceServiceCharges: 609.82
                  beginningBalance: 3396469.19
                  billingFrequency: Month
                  chargesBilledSeparately: 0
                  currency: "USD  "
                  endingBalance: 2922371.02
                  newPurchases: 0
                  newPurchasesDetails:
                    - name: Promo Purchase
                      value: 1
                  priceHidden: false
                  serviceOverage: 0
                  totalOverage: 0
                  totalUsage: 474098.17
                  utilized: 474098.17
                type: Microsoft.Consumption/balances
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/reservationDetails":
    get:
      description: Lists the reservations details for provided date range.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: ReservationsDetails_ListByBillingAccountId
      parameters:
        - $ref: "#/parameters/billingAccountIdParameter"
        - description: "Filter reservation details by date range. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge' "
          in: query
          name: $filter
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ReservationDetailsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ReservedInstances
      x-ms-examples:
        ReservationDetails:
          parameters:
            $filter: properties/usageDate ge '2017-10-01' AND properties/usageDate le '2017-12-05'
            api-version: 2019-05-01
            billingAccountId: "12345"
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Capacity/reservationOrders/00000000-0000-0000-0000-000000000000/reservations/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/reservationDetails/20171130
                    name: 00000000-0000-0000-0000-000000000000
                    properties:
                      instanceFlexibilityGroup: DSv3 Series
                      instanceFlexibilityRatio: "1"
                      instanceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sqlh1/providers/microsoft.compute/virtualmachines/sqlh1
                      reservationId: 00000000-0000-0000-0000-000000000000
                      reservationOrderId: 00000000-0000-0000-0000-000000000000
                      reservedHours: 48
                      skuName: Standard_D2s_v3
                      totalReservedQuantity: 0
                      usageDate: 2017-11-30T00:00:00-08:00
                      usedHours: 0.6
                    tags: null
                    type: Microsoft.Consumption/reservationDetails
      x-ms-pageable:
        nextLinkName: nextLink
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/reservationSummaries":
    get:
      description: Lists the reservations summaries for daily or monthly grain.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: ReservationsSummaries_ListByBillingAccountId
      parameters:
        - $ref: "#/parameters/billingAccountIdParameter"
        - $ref: "#/parameters/grainParameter"
        - description: Required only for daily grain. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge'
          in: query
          name: $filter
          required: false
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ReservationSummariesListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ReservedInstances
      x-ms-examples:
        ReservationSummariesDailyWithReservationId:
          parameters:
            $filter: properties/usageDate ge '2017-10-01' AND properties/usageDate le '2017-11-20'
            api-version: 2019-05-01
            billingAccountId: "12345"
            grain: daily
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Capacity/reservationOrders/00000000-0000-0000-0000-000000000000/reservations/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/reservationSummaries/20180901
                    name: 00000000-0000-0000-0000-000000000000_20180901
                    properties:
                      avgUtilizationPercentage: 0
                      maxUtilizationPercentage: 0
                      minUtilizationPercentage: 0
                      reservationId: 00000000-0000-0000-0000-000000000000
                      reservationOrderId: 00000000-0000-0000-0000-000000000000
                      reservedHours: 720
                      skuName: Standard_B1s
                      usageDate: 2018-09-01T00:00:00-07:00
                      usedHours: 0
                    tags: null
                    type: Microsoft.Consumption/reservationSummaries
        ReservationSummariesMonthlyWithReservationId:
          parameters:
            api-version: 2019-05-01
            billingAccountId: "12345"
            grain: monthly
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Capacity/reservationOrders/00000000-0000-0000-0000-000000000000/reservations/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/reservationSummaries/20180901
                    name: 00000000-0000-0000-0000-000000000000_20180901
                    properties:
                      avgUtilizationPercentage: 0
                      maxUtilizationPercentage: 0
                      minUtilizationPercentage: 0
                      reservationId: 00000000-0000-0000-0000-000000000000
                      reservationOrderId: 00000000-0000-0000-0000-000000000000
                      reservedHours: 720
                      skuName: Standard_B1s
                      usageDate: 2018-09-01T00:00:00-07:00
                      usedHours: 0
                    tags: null
                    type: Microsoft.Consumption/reservationSummaries
      x-ms-pageable:
        nextLinkName: nextLink
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/microsoft.consumption/ReservationRecommendations":
    get:
      description: List of recommendations for purchasing reserved instances on billing account scope
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: ReservationRecommendations_ListByBillingAccountId
      parameters:
        - description: May be used to filter reservationRecommendations by properties/scope and properties/lookBackPeriod.
          in: query
          name: $filter
          required: false
          type: string
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/billingAccountIdParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ReservationRecommendationsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ReservationRecommendations
      x-ms-examples:
        ReservationRecommendations:
          parameters:
            api-version: 2019-05-01
            billingAccountId: "123456"
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/reservationRecommendations?api-version=2018-03-31&$skiptoken=AQAAAA%3D%3D&
                value:
                  - id: billingAccount/123456/providers/Microsoft.Consumption/reservationRecommendations/00000000-0000-0000-0000-000000000000
                    location: westus
                    name: 00000000-0000-0000-0000-000000000000
                    properties:
                      costWithNoReservedInstances: 12.0785105
                      firstUsageDate: 2019-07-07T00:00:00-07:00
                      instanceFlexibilityGroup: DSv2 Series
                      instanceFlexibilityRatio: 1
                      lookBackPeriod: Last7Days
                      meterId: 00000000-0000-0000-0000-000000000000
                      netSavings: 0.588546019225182
                      normalizedSize: Standard_DS1_v2
                      recommendedQuantity: 1
                      recommendedQuantityNormalized: 1
                      scope: Shared
                      term: P1Y
                      totalCostWithReservedInstances: 11.4899644807748
                    sku: Standard_DS1_v2
                    type: Microsoft.Consumption/reservationRecommendations
                  - id: billingAccount/123456/providers/Microsoft.Consumption/reservationRecommendations/00000000-0000-0000-0000-000000000000
                    location: westus
                    name: 00000000-0000-0000-0000-000000000000
                    properties:
                      costWithNoReservedInstances: 10.0785105
                      firstUsageDate: 2019-07-07T00:00:00-07:00
                      instanceFlexibilityGroup: DSv2 Series
                      instanceFlexibilityRatio: 1
                      lookBackPeriod: Last7Days
                      meterId: 00000000-0000-0000-0000-000000000000
                      netSavings: 0.68
                      normalizedSize: Standard_DS1
                      recommendedQuantity: 1
                      recommendedQuantityNormalized: 1.2
                      scope: Shared
                      term: P1Y
                      totalCostWithReservedInstances: 13.48
                    sku: Standard_DS1_v2
                    type: Microsoft.Consumption/reservationRecommendations
      x-ms-pageable:
        nextLinkName: nextLink
  "/providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/providers/Microsoft.Consumption/reservationDetails":
    get:
      description: Lists the reservations details for provided date range.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: ReservationsDetails_ListByReservationOrder
      parameters:
        - $ref: "#/parameters/reservationOrderIdParameter"
        - description: "Filter reservation details by date range. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge' "
          in: query
          name: $filter
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ReservationDetailsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ReservedInstances
      x-ms-examples:
        ReservationDetails:
          parameters:
            $filter: properties/usageDate ge '2017-10-01' AND properties/usageDate le '2017-12-05'
            api-version: 2019-05-01
            reservationOrderId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Capacity/reservationOrders/00000000-0000-0000-0000-000000000000/reservations/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/reservationDetails/20171129
                    name: 00000000-0000-0000-0000-000000000000_00000000-0000-0000-0000-000000000000_20171129
                    properties:
                      instanceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/wvn-sql/providers/microsoft.compute/virtualmachines/abc-sql2014sp33
                      reservationId: 00000000-0000-0000-0000-000000000000
                      reservationOrderId: 00000000-0000-0000-0000-000000000000
                      reservedHours: 24
                      skuName: Standard_D2_v2
                      totalReservedQuantity: 1
                      usageDate: 2017-11-29T00:00:00Z
                      usedHours: 24
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/reservationDetails
      x-ms-pageable:
        nextLinkName: nextLink
  "/providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/providers/Microsoft.Consumption/reservationSummaries":
    get:
      description: Lists the reservations summaries for daily or monthly grain.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: ReservationsSummaries_ListByReservationOrder
      parameters:
        - $ref: "#/parameters/reservationOrderIdParameter"
        - $ref: "#/parameters/grainParameter"
        - description: Required only for daily grain. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge'
          in: query
          name: $filter
          required: false
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ReservationSummariesListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ReservedInstances
      x-ms-examples:
        ReservationSummariesDaily:
          parameters:
            $filter: properties/usageDate ge '2017-10-01' AND properties/usageDate le '2017-11-20'
            api-version: 2019-05-01
            grain: daily
            reservationOrderId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Capacity/reservationOrders/00000000-0000-0000-0000-000000000000/reservations/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/reservationSummaries/20171001
                    name: 00000000-0000-0000-0000-000000000000_00000000-0000-0000-0000-000000000000_20171001
                    properties:
                      avgUtilizationPercentage: 0
                      maxUtilizationPercentage: 0
                      minUtilizationPercentage: 0
                      reservationId: 00000000-0000-0000-0000-000000000000
                      reservationOrderId: 00000000-0000-0000-0000-000000000000
                      reservedHours: 0
                      skuName: Standard_D8s_v3
                      usageDate: 2017-10-01T00:00:00Z
                      usedHours: 0
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/reservationSummaries
        ReservationSummariesMonthly:
          parameters:
            api-version: 2019-05-01
            grain: monthly
            reservationOrderId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Capacity/reservationOrders/00000000-0000-0000-0000-000000000000/reservations/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/reservationSummaries/20171001
                    name: 00000000-0000-0000-0000-000000000000_00000000-0000-0000-0000-000000000000_20171001
                    properties:
                      avgUtilizationPercentage: 0
                      maxUtilizationPercentage: 0
                      minUtilizationPercentage: 0
                      reservationId: 00000000-0000-0000-0000-000000000000
                      reservationOrderId: 00000000-0000-0000-0000-000000000000
                      reservedHours: 0
                      skuName: Standard_D8s_v3
                      usageDate: 2017-10-01T00:00:00Z
                      usedHours: 0
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/reservationSummaries
      x-ms-pageable:
        nextLinkName: nextLink
  "/providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/reservations/{reservationId}/providers/Microsoft.Consumption/reservationDetails":
    get:
      description: Lists the reservations details for provided date range.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: ReservationsDetails_ListByReservationOrderAndReservation
      parameters:
        - $ref: "#/parameters/reservationOrderIdParameter"
        - $ref: "#/parameters/reservationIdParameter"
        - description: "Filter reservation details by date range. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge' "
          in: query
          name: $filter
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ReservationDetailsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ReservedInstances
      x-ms-examples:
        ReservationDetailsWithReservationId:
          parameters:
            $filter: properties/usageDate ge '2017-10-01' AND properties/usageDate le '2017-12-05'
            api-version: 2019-05-01
            reservationId: 00000000-0000-0000-0000-000000000000
            reservationOrderId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Capacity/reservationOrders/00000000-0000-0000-0000-000000000000/reservations/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/reservationDetails/20171129
                    name: 00000000-0000-0000-0000-000000000000_00000000-0000-0000-0000-000000000000_20171129
                    properties:
                      instanceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/wvn-sql/providers/microsoft.compute/virtualmachines/wvn-sql2014sp33
                      reservationId: 00000000-0000-0000-0000-000000000000
                      reservationOrderId: 00000000-0000-0000-0000-000000000000
                      reservedHours: 24
                      skuName: Standard_D2_v2
                      totalReservedQuantity: 1
                      usageDate: 2017-11-29T00:00:00Z
                      usedHours: 24
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/reservationDetails
      x-ms-pageable:
        nextLinkName: nextLink
  "/providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/reservations/{reservationId}/providers/Microsoft.Consumption/reservationSummaries":
    get:
      description: Lists the reservations summaries for daily or monthly grain.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: ReservationsSummaries_ListByReservationOrderAndReservation
      parameters:
        - $ref: "#/parameters/reservationOrderIdParameter"
        - $ref: "#/parameters/reservationIdParameter"
        - $ref: "#/parameters/grainParameter"
        - description: Required only for daily grain. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge'
          in: query
          name: $filter
          required: false
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ReservationSummariesListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ReservedInstances
      x-ms-examples:
        ReservationSummariesDailyWithReservationId:
          parameters:
            $filter: properties/usageDate ge '2017-10-01' AND properties/usageDate le '2017-11-20'
            api-version: 2019-05-01
            grain: daily
            reservationId: 00000000-0000-0000-0000-000000000000
            reservationOrderId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Capacity/reservationOrders/00000000-0000-0000-0000-000000000000/reservations/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/reservationSummaries/20171001
                    name: 00000000-0000-0000-0000-000000000000_00000000-0000-0000-0000-000000000000_20171001
                    properties:
                      avgUtilizationPercentage: 0
                      maxUtilizationPercentage: 0
                      minUtilizationPercentage: 0
                      reservationId: 00000000-0000-0000-0000-000000000000
                      reservationOrderId: 00000000-0000-0000-0000-000000000000
                      reservedHours: 0
                      skuName: Standard_D8s_v3
                      usageDate: 2017-10-01T00:00:00Z
                      usedHours: 0
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/reservationSummaries
        ReservationSummariesMonthlyWithReservationId:
          parameters:
            api-version: 2019-05-01
            grain: monthly
            reservationId: 00000000-0000-0000-0000-000000000000
            reservationOrderId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Capacity/reservationOrders/00000000-0000-0000-0000-000000000000/reservations/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/reservationSummaries/20171001
                    name: 00000000-0000-0000-0000-000000000000_00000000-0000-0000-0000-000000000000_20171001
                    properties:
                      avgUtilizationPercentage: 0
                      maxUtilizationPercentage: 0
                      minUtilizationPercentage: 0
                      reservationId: 00000000-0000-0000-0000-000000000000
                      reservationOrderId: 00000000-0000-0000-0000-000000000000
                      reservedHours: 0
                      skuName: Standard_D8s_v3
                      usageDate: 2017-10-01T00:00:00Z
                      usedHours: 0
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/reservationSummaries
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Consumption/operations:
    get:
      description: Lists all of the available consumption REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/OperationListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Operations
      x-ms-pageable:
        nextLinkName: nextLink
  "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/Microsoft.Consumption/aggregatedcost":
    get:
      description: Provides the aggregate cost of a management group and all child management groups by specified billing period
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: AggregatedCost_GetForBillingPeriodByManagementGroup
      parameters:
        - $ref: "#/parameters/managementGroupIdParameter"
        - $ref: "#/parameters/billingPeriodNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ManagementGroupAggregatedCostResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - AggregatedCost
      x-ms-examples:
        AggregatedCostListForBillingPeriodByManagementGroup:
          parameters:
            api-version: 2019-05-01
            billingPeriodName: "201807"
            managementGroupId: managementGroupForTest
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/managementGroupForTest/providers/Microsoft.Consumption/aggregatedcostId1
                name: aggregatedcostId1
                properties:
                  azureCharges: 250.9876
                  chargesBilledSeparately: 120.345
                  children:
                    - id: /providers/Microsoft.Management/managementGroups/managementGroupChildForTest/providers/Microsoft.Consumption/aggregatedcostId2
                      name: aggregatedcostId2
                      properties:
                        azureCharges: 150
                        chargesBilledSeparately: 30.345
                        children: []
                        currency: USD
                        marketplaceCharges: 50.786
                        usageEnd: 2018-07-31T00:00:00.0000000Z
                        usageStart: 2018-07-01T00:00:00.0000000Z
                      type: Microsoft.Consumption/aggregatedcost
                  currency: USD
                  marketplaceCharges: 150.786
                  usageEnd: 2018-07-31T00:00:00.0000000Z
                  usageStart: 2018-07-01T00:00:00.0000000Z
                type: Microsoft.Consumption/aggregatedcost
  "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Consumption/aggregatedcost":
    get:
      description: Provides the aggregate cost of a management group and all child management groups by current billing period.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: AggregatedCost_GetByManagementGroup
      parameters:
        - $ref: "#/parameters/managementGroupIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: May be used to filter aggregated cost by properties/usageStart (Utc time), properties/usageEnd (Utc time). The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).
          in: query
          name: $filter
          required: false
          type: string
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ManagementGroupAggregatedCostResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - AggregatedCost
      x-ms-examples:
        AggregatedCostByManagementGroup:
          parameters:
            api-version: 2019-05-01
            managementGroupId: managementGroupForTest
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/managementGroupForTest/providers/Microsoft.Consumption/aggregatedcostId1
                name: aggregatedcostId1
                properties:
                  azureCharges: 250.9876
                  chargesBilledSeparately: 120.345
                  children:
                    - id: /providers/Microsoft.Management/managementGroups/managementGroupChildForTest/providers/Microsoft.Consumption/aggregatedcostId2
                      name: aggregatedcostId2
                      properties:
                        azureCharges: 150
                        chargesBilledSeparately: 30.345
                        children: []
                        currency: USD
                        excludedSubscriptions: []
                        includedSubscriptions:
                          - c349567d-c83a-48c9-ab0e-578c69dc97a4
                        marketplaceCharges: 50.786
                        usageEnd: 2018-10-31T00:00:00.0000000Z
                        usageStart: 2019-05-01T00:00:00.0000000Z
                      type: Microsoft.Consumption/aggregatedcost
                  currency: USD
                  excludedSubscriptions: []
                  includedSubscriptions:
                    - 1caaa5a3-2b66-438e-8ab4-bce37d518c5d
                  marketplaceCharges: 150.786
                  usageEnd: 2018-10-31T00:00:00.0000000Z
                  usageStart: 2019-05-01T00:00:00.0000000Z
                type: Microsoft.Consumption/aggregatedcost
        AggregatedCostByManagementGroupFilterByDate:
          parameters:
            $filter: usageStart ge '2018-08-15' and properties/usageStart le '2018-08-31'
            api-version: 2019-05-01
            managementGroupId: managementGroupForTest
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/managementGroupForTest/providers/Microsoft.Consumption/aggregatedcostId1
                name: aggregatedcostId1
                properties:
                  azureCharges: 150.9876
                  chargesBilledSeparately: 90.345
                  children:
                    - id: /providers/Microsoft.Management/managementGroups/managementGroupChildForTest/providers/Microsoft.Consumption/aggregatedcostId2
                      name: aggregatedcostId2
                      properties:
                        azureCharges: 50
                        chargesBilledSeparately: 30.345
                        children: []
                        currency: USD
                        excludedSubscriptions: []
                        includedSubscriptions:
                          - c349567d-c83a-48c9-ab0e-578c69dc97a4
                        marketplaceCharges: 10.786
                        usageEnd: 2018-08-31T00:00:00.0000000Z
                        usageStart: 2018-08-15T00:00:00.0000000Z
                      type: Microsoft.Consumption/aggregatedcost
                  currency: USD
                  excludedSubscriptions: []
                  includedSubscriptions:
                    - 1caaa5a3-2b66-438e-8ab4-bce37d518c5d
                  marketplaceCharges: 80.786
                  usageEnd: 2018-08-31T00:00:00.0000000Z
                  usageStart: 2018-08-15T00:00:00.0000000Z
                type: Microsoft.Consumption/aggregatedcost
  "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/pricesheets/default":
    get:
      description: Get the price sheet for a scope by subscriptionId and billing period. Price sheet is available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: PriceSheet_GetByBillingPeriod
      parameters:
        - description: May be used to expand the properties/meterDetails within a price sheet. By default, these fields are not included when returning price sheet.
          in: query
          name: $expand
          required: false
          type: string
        - description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          type: string
        - description: May be used to limit the number of results to the top N results.
          in: query
          maximum: 1000
          minimum: 1
          name: $top
          required: false
          type: integer
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/billingPeriodNameParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/PriceSheetResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - PriceSheet
      x-ms-examples:
        PriceSheetExpand:
          parameters:
            $expand: meterDetails
            api-version: 2019-05-01
            billingPeriodName: "201801"
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/pricesheets/default
                name: default
                properties:
                  nextLink: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.consumption/pricesheets/default?api-version=2018-01-31&$skiptoken=AQAAAA%3D%3D&$expand=properties/pricesheets/meterDetails
                  pricesheets:
                    - billingPeriodId: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201702
                      currencyCode: EUR
                      includedQuantity: 100
                      meterDetails:
                        meterCategory: Networking
                        meterLocation: Zone 2
                        meterName: Data Transfer Out (GB)
                        pretaxStandardRate: 0.138
                        totalIncludedQuantity: 0
                        unit: GB
                      meterId: 00000000-0000-0000-0000-000000000000
                      offerId: OfferId 1
                      partNumber: XX-11110
                      unitOfMeasure: 100 Hours
                      unitPrice: 0.00328
                type: Microsoft.Consumption/pricesheets
        PriceSheetForBillingPeriod:
          parameters:
            api-version: 2019-05-01
            billingPeriodName: "201801"
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/pricesheets/default
                name: default
                properties:
                  nextLink: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201702/providers/microsoft.consumption/pricesheets/default?api-version=2018-01-31
                  pricesheets:
                    - billingPeriodId: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201702
                      currencyCode: EUR
                      includedQuantity: 100
                      meterId: 00000000-0000-0000-0000-000000000000
                      offerId: OfferId 1
                      partNumber: XX-11110
                      unitOfMeasure: 100 Hours
                      unitPrice: 0.00328
                type: Microsoft.Consumption/pricesheets
  "/subscriptions/{subscriptionId}/providers/Microsoft.Consumption/forecasts":
    get:
      description: Lists the forecast charges by subscriptionId.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: Forecasts_List
      parameters:
        - description: May be used to filter forecasts by properties/usageDate (Utc time), properties/chargeType or properties/grain. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'.
          in: query
          name: $filter
          required: false
          type: string
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ForecastsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Forecasts
      x-ms-examples:
        ForecastsList:
          parameters:
            api-version: 2019-05-01
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/providers/Microsoft.Consumption/forecasts/forecastId1
                    name: forecastId1
                    properties:
                      charge: 752
                      chargeType: Actual
                      confidenceLevels: null
                      currency: USD
                      grain: Daily
                      usageDate: 2018-04-01
                    type: Microsoft.Consumption/forecasts
                  - id: /subscriptions/subid/providers/Microsoft.Consumption/forecasts/forecastId2
                    name: forecastId2
                    properties:
                      charge: 753.809074
                      chargeType: Forecast
                      confidenceLevels:
                        - bound: Upper
                          percentage: 95
                          value: 1165.951737
                        - bound: Lower
                          percentage: 95
                          value: 340.753404
                      currency: USD
                      grain: Daily
                      usageDate: 2018-04-02
                    type: Microsoft.Consumption/forecasts
        ForecastsListFilterByDates:
          parameters:
            $filter: usagedate ge '2018-04-01' AND usagedate le '2018-04-02'
            api-version: 2019-05-01
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/providers/Microsoft.Consumption/forecasts/forecastId1
                    name: forecastId1
                    properties:
                      charge: 752
                      chargeType: Actual
                      confidenceLevels: null
                      currency: USD
                      grain: Daily
                      usageDate: 2018-04-01
                    type: Microsoft.Consumption/forecasts
                  - id: /subscriptions/subid/providers/Microsoft.Consumption/forecasts/forecastId2
                    name: forecastId2
                    properties:
                      charge: 753.809074
                      chargeType: Forecast
                      confidenceLevels:
                        - bound: Upper
                          percentage: 95
                          value: 1165.951737
                        - bound: Lower
                          percentage: 95
                          value: 340.753404
                      currency: USD
                      grain: Daily
                      usageDate: 2018-04-02
                    type: Microsoft.Consumption/forecasts
        ForecastsListFilterByGrain:
          parameters:
            $filter: Grain eq 'Monthly'
            api-version: 2019-05-01
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/providers/Microsoft.Consumption/forecasts/forecastId1
                    name: forecastId1
                    properties:
                      charge: 752
                      chargeType: Actual
                      confidenceLevels: null
                      currency: USD
                      grain: Monthly
                      usageDate: 2018-04-01
                    type: Microsoft.Consumption/forecasts
                  - id: /subscriptions/subid/providers/Microsoft.Consumption/forecasts/forecastId2
                    name: forecastId2
                    properties:
                      charge: 753.809074
                      chargeType: Forecast
                      confidenceLevels:
                        - bound: Upper
                          percentage: 95
                          value: 1165.951737
                        - bound: Lower
                          percentage: 95
                          value: 340.753404
                      currency: USD
                      grain: Monthly
                      usageDate: 2018-05-01
                    type: Microsoft.Consumption/forecasts
      x-ms-odata: "#/definitions/Forecast"
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/providers/Microsoft.Consumption/pricesheets/default":
    get:
      description: Gets the price sheet for a scope by subscriptionId. Price sheet is available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: PriceSheet_Get
      parameters:
        - description: May be used to expand the properties/meterDetails within a price sheet. By default, these fields are not included when returning price sheet.
          in: query
          name: $expand
          required: false
          type: string
        - description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          type: string
        - description: May be used to limit the number of results to the top N results.
          in: query
          maximum: 1000
          minimum: 1
          name: $top
          required: false
          type: integer
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/PriceSheetResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - PriceSheet
      x-ms-examples:
        PriceSheet:
          parameters:
            api-version: 2019-05-01
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/pricesheets/default
                name: default
                properties:
                  nextLink: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.consumption/pricesheets/default?api-version=2018-01-31&$skiptoken=AQAAAA%3D%3D
                  pricesheets:
                    - billingPeriodId: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201702
                      currencyCode: EUR
                      includedQuantity: 100
                      meterId: 00000000-0000-0000-0000-000000000000
                      offerId: OfferId 1
                      partNumber: XX-11110
                      unitOfMeasure: 100 Hours
                      unitPrice: 0.00328
                type: Microsoft.Consumption/pricesheets
  "/subscriptions/{subscriptionId}/providers/Microsoft.Consumption/reservationRecommendations":
    get:
      description: List of recommendations for purchasing reserved instances.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: ReservationRecommendations_List
      parameters:
        - description: May be used to filter reservationRecommendations by properties/scope and properties/lookBackPeriod.
          in: query
          name: $filter
          required: false
          type: string
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ReservationRecommendationsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ReservationRecommendations
      x-ms-examples:
        ReservationRecommendations:
          parameters:
            api-version: 2019-05-01
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/reservationRecommendations?api-version=2018-03-31&$skiptoken=AQAAAA%3D%3D&
                value:
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/reservationRecommendations/reservationRecommendations1
                    location: northeurope
                    name: reservationRecommendations1
                    properties:
                      costWithNoReservedInstances: 0
                      firstUsageDate: 2018-03-06T00:00:00Z
                      lookBackPeriod: Last7Days
                      meterId: 00000000-0000-0000-0000-000000000000
                      netSavings: 4.634521202630137
                      recommendedQuantity: 1
                      scope: Single
                      term: P1Y
                      totalCostWithReservedInstances: 0
                    sku: Standard_DS1_v2
                    type: Microsoft.Consumption/reservationRecommendations
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/reservationRecommendations/reservationRecommendations2
                    location: northeurope
                    name: reservationRecommendations2
                    properties:
                      costWithNoReservedInstances: 0
                      firstUsageDate: 2018-03-06T00:00:00Z
                      lookBackPeriod: Last7Days
                      meterId: 00000000-0000-0000-0000-000000000000
                      netSavings: 7.289315723178081
                      recommendedQuantity: 1
                      scope: Single
                      term: P3Y
                      totalCostWithReservedInstances: 0
                    sku: Standard_DS1_v2
                    type: Microsoft.Consumption/reservationRecommendations
        ReservationRecommendationsFilterByScopeLookBackPeriod:
          parameters:
            $filter: properties/scope eq 'Single' AND properties/lookBackPeriod eq 'Last7Days'
            api-version: 2019-05-01
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/reservationRecommendations?api-version=2018-03-31&$filter=properties/scope+eq+'Single'+AND+properties/lookBackPeriod+eq+'Last7Days'&$skiptoken=AQAAAA%3D%3D&
                value:
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/reservationRecommendations/reservationRecommendations1
                    location: northeurope
                    name: reservationRecommendations1
                    properties:
                      costWithNoReservedInstances: 0
                      firstUsageDate: 2018-03-06T00:00:00Z
                      lookBackPeriod: Last7Days
                      meterId: 00000000-0000-0000-0000-000000000000
                      netSavings: 4.634521202630137
                      recommendedQuantity: 1
                      scope: Single
                      term: P1Y
                      totalCostWithReservedInstances: 0
                    sku: Standard_DS1_v2
                    type: Microsoft.Consumption/reservationRecommendations
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/reservationRecommendations/reservationRecommendations2
                    location: northeurope
                    name: reservationRecommendations2
                    properties:
                      costWithNoReservedInstances: 0
                      firstUsageDate: 2018-03-06T00:00:00Z
                      lookBackPeriod: Last7Days
                      meterId: 00000000-0000-0000-0000-000000000000
                      netSavings: 7.289315723178081
                      recommendedQuantity: 1
                      scope: Single
                      term: P3Y
                      totalCostWithReservedInstances: 0
                    sku: Standard_DS1_v2
                    type: Microsoft.Consumption/reservationRecommendations
      x-ms-pageable:
        nextLinkName: nextLink
  "/{scope}/providers/Microsoft.Consumption/budgets":
    get:
      description: Lists all budgets for the defined scope.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: Budgets_List
      parameters:
        - $ref: "#/parameters/scopeBudgetParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/BudgetsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Budgets
      x-ms-examples:
        BudgetsList:
          parameters:
            api-version: 2019-05-01
            resourceGroupName: MYDEVTESTRG
            scope: subscriptions/00000000-0000-0000-0000-000000000000
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - eTag: '"1d34d012214157f"'
                    id: subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget
                    name: TestBudget
                    properties:
                      amount: 100.65
                      category: Cost
                      currentSpend:
                        amount: 80.89
                        unit: USD
                      filters:
                        meters:
                          - 00000000-0000-0000-0000-000000000000
                        resourceGroups:
                          - MYDEVTESTRG
                        resources:
                          - /subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MYVM2
                          - /subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1
                        tags:
                          category:
                            - Dev
                            - Prod
                          department:
                            - engineering
                            - sales
                      notifications:
                        Actual_GreaterThanOrEqualTo_90_Percent:
                          contactEmails:
                            - johndoe@contoso.com
                            - janesmith@contoso.com
                          contactGroups:
                            - /subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup
                          contactRoles:
                            - Contributor
                            - Reader
                          enabled: true
                          operator: GreaterThanOrEqualTo
                          threshold: 90
                        Actual_GreaterThan_80_Percent:
                          contactEmails:
                            - johndoe@contoso.com
                            - janesmith@contoso.com
                          contactRoles:
                            - Contributor
                            - Reader
                          enabled: true
                          operator: GreaterThan
                          threshold: 80
                      timeGrain: Monthly
                      timePeriod:
                        endDate: 2018-10-31T00:00:00Z
                        startDate: 2017-10-01T00:00:00Z
                    type: Microsoft.Consumption/budgets
                  - eTag: '"1d34d012214157f"'
                    id: subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget
                    name: TestBudget
                    properties:
                      amount: 600.65
                      category: Cost
                      currentSpend:
                        amount: 120.89
                        unit: USD
                      filters:
                        meters:
                          - 00000000-0000-0000-0000-000000000000
                        resourceGroups:
                          - MYDEVTESTRG
                        resources:
                          - /subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MYVM2
                          - /subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1
                        tags:
                          category:
                            - Dev
                            - Prod
                          department:
                            - engineering
                            - sales
                      notifications:
                        Actual_GreaterThanOrEqualTo_60_Percent:
                          contactEmails:
                            - johndoe@contoso.com
                            - janesmith@contoso.com
                          contactGroups:
                            - /subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup
                          contactRoles:
                            - Contributor
                            - Reader
                          enabled: true
                          operator: GreaterThanOrEqualTo
                          threshold: 60
                        Actual_GreaterThan_40_Percent:
                          contactEmails:
                            - johndoe@contoso.com
                            - janesmith@contoso.com
                          contactRoles:
                            - Contributor
                            - Reader
                          enabled: true
                          operator: GreaterThan
                          threshold: 40
                      timeGrain: Monthly
                      timePeriod:
                        endDate: 2018-10-31T00:00:00Z
                        startDate: 2017-10-01T00:00:00Z
                    type: Microsoft.Consumption/budgets
      x-ms-pageable:
        nextLinkName: nextLink
  "/{scope}/providers/Microsoft.Consumption/budgets/{budgetName}":
    delete:
      description: The operation to delete a budget.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: Budgets_Delete
      parameters:
        - $ref: "#/parameters/scopeBudgetParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/budgetNameParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Budgets
      x-ms-examples:
        DeleteBudget:
          parameters:
            api-version: 2019-05-01
            budgetName: TestBudget
            resourceGroupName: MYDEVTESTRG
            scope: subscriptions/00000000-0000-0000-0000-000000000000
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
    get:
      description: Gets the budget for the scope by budget name.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: Budgets_Get
      parameters:
        - $ref: "#/parameters/scopeBudgetParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/budgetNameParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/Budget"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Budgets
      x-ms-examples:
        Budget:
          parameters:
            api-version: 2019-05-01
            budgetName: TestBudget
            resourceGroupName: MYDEVTESTRG
            scope: subscriptions/00000000-0000-0000-0000-000000000000
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                eTag: '"1d34d012214157f"'
                id: subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget
                name: TestBudget
                properties:
                  amount: 100.65
                  category: Cost
                  currentSpend:
                    amount: 80.89
                    unit: USD
                  filters:
                    meters:
                      - 00000000-0000-0000-0000-000000000000
                    resourceGroups:
                      - MPDEVTESTRG
                    resources:
                      - /subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MSVM2
                      - /subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1
                    tags:
                      category:
                        - Dev
                        - Prod
                      department:
                        - engineering
                        - sales
                  notifications:
                    Actual_GreaterThan_80_Percent:
                      contactEmails:
                        - johndoe@contoso.com
                        - janesmith@contoso.com
                      contactGroups:
                        - /subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup
                      contactRoles:
                        - Contributor
                        - Reader
                      enabled: true
                      operator: GreaterThan
                      threshold: 80
                  timeGrain: Monthly
                  timePeriod:
                    endDate: 2018-10-31T00:00:00Z
                    startDate: 2017-10-01T00:00:00Z
                type: Microsoft.Consumption/budgets
    put:
      description: The operation to create or update a budget. Update operation requires latest eTag to be set in the request mandatorily. You may obtain the latest eTag by performing a get operation. Create operation does not require eTag.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: Budgets_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/scopeBudgetParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/budgetNameParameter"
        - description: Parameters supplied to the Create Budget operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Budget"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/Budget"
        "201":
          description: Created.
          schema:
            $ref: "#/definitions/Budget"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Budgets
      x-ms-examples:
        CreateOrUpdateBudget:
          parameters:
            api-version: 2019-05-01
            budgetName: TestBudget
            parameters:
              eTag: '"1d34d016a593709"'
              properties:
                amount: 100.65
                category: Cost
                filters:
                  meters:
                    - 00000000-0000-0000-0000-000000000000
                  resourceGroups:
                    - MYDEVTESTRG
                  resources:
                    - /subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MYVM2
                    - /subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1
                  tags:
                    category:
                      - Dev
                      - Prod
                    department:
                      - engineering
                      - sales
                notifications:
                  Actual_GreaterThan_80_Percent:
                    contactEmails:
                      - johndoe@contoso.com
                      - janesmith@contoso.com
                    contactGroups:
                      - /subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup
                    contactRoles:
                      - Contributor
                      - Reader
                    enabled: true
                    operator: GreaterThan
                    threshold: 80
                timeGrain: Monthly
                timePeriod:
                  endDate: 2018-10-31T00:00:00Z
                  startDate: 2017-10-01T00:00:00Z
            resourceGroupName: MYDEVTESTRG
            scope: subscriptions/00000000-0000-0000-0000-000000000000
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                eTag: '"1d34d012214157f"'
                id: subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget
                name: TestBudget
                properties:
                  amount: 100.65
                  category: Cost
                  currentSpend:
                    amount: 80.89
                    unit: USD
                  filters:
                    meters:
                      - 00000000-0000-0000-0000-000000000000
                    resourceGroups:
                      - MPDEVTESTRG
                    resources:
                      - /subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MYVM2
                      - /subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1
                    tags:
                      category:
                        - Dev
                        - Prod
                      department:
                        - engineering
                        - sales
                  notifications:
                    Actual_GreaterThan_80_Percent:
                      contactEmails:
                        - johndoe@contoso.com
                        - janesmith@contoso.com
                      contactGroups:
                        - /subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup
                      contactRoles:
                        - Contributor
                        - Reader
                      enabled: true
                      operator: GreaterThan
                      threshold: 80
                  timeGrain: Monthly
                  timePeriod:
                    endDate: 2018-10-31T00:00:00Z
                    startDate: 2017-10-01T00:00:00Z
                type: Microsoft.Consumption/budgets
            "201":
              body:
                eTag: '"1d34d012214157f"'
                id: subscriptions/{subscription-id}/providers/Microsoft.Consumption/budgets/TestBudget
                name: TestBudget
                properties:
                  amount: 100.65
                  category: Cost
                  currentSpend:
                    amount: 80.89
                    unit: USD
                  filters:
                    meters:
                      - 00000000-0000-0000-0000-000000000000
                    resourceGroups:
                      - MPDEVTESTRG
                    resources:
                      - /subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/Microsoft.Compute/virtualMachines/MYVM2
                      - /subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/Microsoft.Compute/virtualMachines/platformcloudplatformGeneric1
                    tags:
                      category:
                        - Dev
                        - Prod
                      department:
                        - engineering
                        - sales
                  notifications:
                    Actual_GreaterThan_80_Percent:
                      contactEmails:
                        - johndoe@contoso.com
                        - janesmith@contoso.com
                      contactGroups:
                        - /subscriptions/{subscription-id}/resourceGroups/MYDEVTESTRG/providers/microsoft.insights/actionGroups/SampleActionGroup
                      contactRoles:
                        - Contributor
                        - Reader
                      enabled: true
                      operator: GreaterThan
                      threshold: 80
                  timeGrain: Monthly
                  timePeriod:
                    endDate: 2018-10-31T00:00:00Z
                    startDate: 2017-10-01T00:00:00Z
                type: Microsoft.Consumption/budgets
  "/{scope}/providers/Microsoft.Consumption/charges":
    get:
      description: Lists the charges based for the defined scope.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: Charges_ListByScope
      parameters:
        - $ref: "#/parameters/scopeChargesParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: May be used to filter charges by properties/usageEnd (Utc time), properties/usageStart (Utc time). The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).
          in: query
          name: $filter
          required: false
          type: string
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ChargeSummary"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Charges
      x-ms-examples:
        ChangesForBillingPeriodByDepartment:
          parameters:
            api-version: 2019-05-01
            billingAccountId: "1234"
            billingPeriodName: "201804"
            departmentId: "42425"
            scope: providers/Microsoft.Billing/BillingAccounts/1234
          responses:
            "200":
              body:
                id: /providers/Microsoft.Billing/BillingAccounts/1234/departments/42425/providers/Microsoft.Consumption/charges/chargeSummaryId1
                name: chargeSummaryId1
                properties:
                  azureCharges: 5000
                  billingPeriodId: /providers/Microsoft.Billing/BillingAccounts/1234/providers/Microsoft.Billing/billingPeriods/201804
                  chargesBilledSeparately: 60.9
                  currency: USD
                  marketplaceCharges: 100
                  usageEnd: 2018-04-30
                  usageStart: 2018-04-01
                type: Microsoft.Consumption/charges
        ChangesForBillingPeriodByEnrollmentAccount:
          parameters:
            api-version: 2019-05-01
            billingAccountId: "1234"
            billingPeriodName: "201804"
            enrollmentAccountId: "42425"
            scope: providers/Microsoft.Billing/BillingAccounts/1234
          responses:
            "200":
              body:
                id: /providers/Microsoft.Billing/BillingAccounts/1234/enrollmentAccounts/42425/providers/Microsoft.Consumption/charges/chargeSummaryId1
                name: chargeSummaryId1
                properties:
                  azureCharges: 5000
                  billingPeriodId: /providers/Microsoft.Billing/BillingAccounts/1234/providers/Microsoft.Billing/billingPeriods/201804
                  chargesBilledSeparately: 60.9
                  currency: USD
                  marketplaceCharges: 100
                  usageEnd: 2018-04-30
                  usageStart: 2018-04-01
                type: Microsoft.Consumption/charges
        ChargesListByDepartment:
          parameters:
            $filter: usageStart eq '2018-04-01' AND usageEnd eq '2018-05-30'
            api-version: 2019-05-01
            billingAccountId: "1234"
            departmentId: "42425"
            scope: providers/Microsoft.Billing/BillingAccounts/1234
          responses:
            "200":
              body:
                id: /providers/Microsoft.Billing/BillingAccounts/1234/departments/42425/providers/Microsoft.Consumption/charges/chargeSummaryId1
                name: chargeSummaryId1
                properties:
                  azureCharges: 5000
                  billingPeriodId: /providers/Microsoft.Billing/BillingAccounts/1234/providers/Microsoft.Billing/billingPeriods/201804
                  chargesBilledSeparately: 60.9
                  currency: USD
                  marketplaceCharges: 100
                  usageEnd: 2018-04-30
                  usageStart: 2018-04-01
                type: Microsoft.Consumption/charges
        ChargesListForEnrollmentAccount:
          parameters:
            api-version: 2019-05-01
            billingAccountId: "1234"
            enrollmentAccountId: "42425"
            scope: providers/Microsoft.Billing/BillingAccounts/1234
          responses:
            "200":
              body:
                id: /providers/Microsoft.Billing/BillingAccounts/1234/enrollmentAccounts/42425/providers/Microsoft.Consumption/charges/chargeSummaryId1
                name: chargeSummaryId1
                properties:
                  azureCharges: 5000
                  billingPeriodId: /providers/Microsoft.Billing/BillingAccounts/1234/providers/Microsoft.Billing/billingPeriods/201804
                  chargesBilledSeparately: 60.9
                  currency: USD
                  marketplaceCharges: 100
                  usageEnd: 2018-04-30
                  usageStart: 2018-04-01
                type: Microsoft.Consumption/charges
  "/{scope}/providers/Microsoft.Consumption/marketplaces":
    get:
      description: Lists the marketplaces for a scope at the defined scope. Marketplaces are available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: Marketplaces_List
      parameters:
        - description: May be used to filter marketplaces by properties/usageEnd (Utc time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'.
          in: query
          name: $filter
          required: false
          type: string
        - description: May be used to limit the number of results to the most recent N marketplaces.
          in: query
          maximum: 1000
          minimum: 1
          name: $top
          required: false
          type: integer
        - description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          type: string
        - $ref: "#/parameters/scopeMarketplaceParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/MarketplacesListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Marketplaces
      x-ms-examples:
        BillingAccountMarketplacesList:
          parameters:
            api-version: 2019-05-01
            billingAccountId: "123456"
            scope: providers/Microsoft.Billing/billingAccounts/123456
          responses:
            "200":
              body:
                value:
                  - id: /providers/Microsoft.Billing/billingAccounts/123456/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/marketplaces/marketplaceId1
                    name: marketplaceId1
                    properties:
                      accountName: Account1
                      additionalProperties: additionalProperties
                      billingPeriodId: /providers/Microsoft.Billing/billingAccounts/123456/providers/Microsoft.Billing/billingPeriods/201702
                      consumedQuantity: 0.00328
                      costCenter: Center1
                      currency: USD
                      departmentName: Department1
                      instanceId: /subscriptions/subid/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                      instanceName: shared1
                      isEstimated: false
                      isRecurringCharge: false
                      offerName: offer1
                      orderNumber: 00000000-0000-0000-0000-000000000000
                      planName: plan1
                      pretaxCost: 0.67
                      publisherName: xyz
                      resourceGroup: TEST
                      resourceRate: 0.24
                      subscriptionGuid: 00000000-0000-0000-0000-000000000000
                      subscriptionName: azure subscription
                      unitOfMeasure: 10 Hours
                      usageEnd: 2017-02-13T23:59:59Z
                      usageStart: 2017-02-13T00:00:00Z
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/marketPlaces
        BillingAccountMarketplacesListForBillingPeriod:
          parameters:
            api-version: 2019-05-01
            billingAccountId: "123456"
            billingPeriodName: "201702"
            scope: providers/Microsoft.Billing/billingAccounts/123456
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/123456/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/marketplaces/marketplaceId1
                    name: marketplacesId1
                    properties:
                      accountName: Account1
                      additionalProperties: additionalProperties
                      billingPeriodId: /providers/Microsoft.Billing/billingAccounts/123456/providers/Microsoft.Billing/billingPeriods/201702
                      consumedQuantity: 0.00328
                      costCenter: Center1
                      currency: USD
                      departmentName: Department1
                      instanceId: /subscriptions/subid/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                      instanceName: shared1
                      isEstimated: false
                      isRecurringCharge: false
                      meterId: 00000000-0000-0000-0000-000000000000
                      offerName: offer1
                      orderNumber: 00000000-0000-0000-0000-000000000000
                      planName: plan2
                      pretaxCost: 0.67
                      publisherName: xyz
                      resourceGroup: TEST
                      resourceRate: 0.24
                      subscriptionGuid: 00000000-0000-0000-0000-000000000000
                      subscriptionName: azure subscription
                      unitOfMeasure: 10 Hours
                      usageEnd: 2017-02-13T23:59:59Z
                      usageStart: 2017-02-13T00:00:00Z
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/marketPlaces
        DepartmentMarketplacesList:
          parameters:
            api-version: 2019-05-01
            billingPeriodName: "201702"
            departmentId: "123456"
            scope: providers/Microsoft.Billing/departments/123456
          responses:
            "200":
              body:
                value:
                  - id: /providers/Microsoft.Billing/departments/123456/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/marketplaces/marketplaceId1
                    name: marketplacesId1
                    properties:
                      accountName: Account1
                      additionalProperties: additionalProperties
                      billingPeriodId: /providers/Microsoft.Billing/departments/123456/providers/Microsoft.Billing/billingPeriods/201702
                      consumedQuantity: 0.00328
                      costCenter: Center1
                      currency: USD
                      departmentName: Department1
                      instanceId: /subscriptions/subid/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                      instanceName: shared1
                      isEstimated: false
                      isRecurringCharge: false
                      meterId: 00000000-0000-0000-0000-000000000000
                      offerName: offer1
                      orderNumber: 00000000-0000-0000-0000-000000000000
                      planName: plan2
                      pretaxCost: 0.67
                      publisherName: xyz
                      resourceGroup: TEST
                      resourceRate: 0.24
                      subscriptionGuid: 00000000-0000-0000-0000-000000000000
                      subscriptionName: azure subscription
                      unitOfMeasure: 10 Hours
                      usageEnd: 2017-02-13T23:59:59Z
                      usageStart: 2017-02-13T00:00:00Z
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/marketPlaces
        DepartmentMarketplacesListForBillingPeriod:
          parameters:
            api-version: 2019-05-01
            billingPeriodName: "201702"
            departmentId: "123456"
            scope: providers/Microsoft.Billing/departments/123456
          responses:
            "200":
              body:
                value:
                  - id: /providers/Microsoft.Billing/departments/123456/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/marketplaces/marketplaceId1
                    name: marketplacesId1
                    properties:
                      accountName: Account1
                      additionalProperties: additionalProperties
                      billingPeriodId: /providers/Microsoft.Billing/departments/123456/providers/Microsoft.Billing/billingPeriods/201702
                      consumedQuantity: 0.00328
                      costCenter: Center1
                      currency: USD
                      departmentName: Department1
                      instanceId: /subscriptions/subid/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                      instanceName: shared1
                      isEstimated: false
                      isRecurringCharge: false
                      meterId: 00000000-0000-0000-0000-000000000000
                      offerName: offer1
                      orderNumber: 00000000-0000-0000-0000-000000000000
                      planName: plan2
                      pretaxCost: 0.67
                      publisherName: xyz
                      resourceGroup: TEST
                      resourceRate: 0.24
                      subscriptionGuid: 00000000-0000-0000-0000-000000000000
                      subscriptionName: azure subscription
                      unitOfMeasure: 10 Hours
                      usageEnd: 2017-02-13T23:59:59Z
                      usageStart: 2017-02-13T00:00:00Z
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/marketPlaces
        EnrollmentAccountMarketplacesList:
          parameters:
            api-version: 2019-05-01
            billingPeriodName: "201702"
            enrollmentAccountId: "123456"
            scope: providers/Microsoft.Billing/enrollmentAccounts/123456
          responses:
            "200":
              body:
                value:
                  - id: /providers/Microsoft.Billing/enrollmentAccounts/123456/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/marketplaces/marketplaceId1
                    name: marketplacesId1
                    properties:
                      accountName: Account1
                      additionalProperties: additionalProperties
                      billingPeriodId: /providers/Microsoft.Billing/enrollmentAccounts/123456/providers/Microsoft.Billing/billingPeriods/201702
                      consumedQuantity: 0.00328
                      costCenter: Center1
                      currency: USD
                      departmentName: Department1
                      instanceId: /subscriptions/subid/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                      instanceName: shared1
                      isEstimated: false
                      isRecurringCharge: false
                      meterId: 00000000-0000-0000-0000-000000000000
                      offerName: offer1
                      orderNumber: 00000000-0000-0000-0000-000000000000
                      planName: plan2
                      pretaxCost: 0.67
                      publisherName: xyz
                      resourceGroup: TEST
                      resourceRate: 0.24
                      subscriptionGuid: 00000000-0000-0000-0000-000000000000
                      subscriptionName: azure subscription
                      unitOfMeasure: 10 Hours
                      usageEnd: 2017-02-13T23:59:59Z
                      usageStart: 2017-02-13T00:00:00Z
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/marketPlaces
        EnrollmentAccountMarketplacesListForBillingPeriod:
          parameters:
            api-version: 2019-05-01
            billingPeriodName: "201702"
            enrollmentAccountId: "123456"
            scope: providers/Microsoft.Billing/enrollmentAccounts/123456
          responses:
            "200":
              body:
                value:
                  - id: /providers/Microsoft.Billing/enrollmentAccounts/123456/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/marketplaces/marketplaceId1
                    name: marketplacesId1
                    properties:
                      accountName: Account1
                      additionalProperties: additionalProperties
[...]
