openapi: 3.0.2
servers:
  - url: https://api.goog.io
info:
  contact:
    email: support@goog.io
    name: API Support
    url: https://goog.io
  description: |+
    # Intoduction

    This is the OpenAPI V3 documentation for https://api.goog.io

    An API to perform Google Searches. Extremely fast and accurate. Zero proxies. Clean USA IPs.

    Simple to use API, but advance enough to support special parameters such as languages, country and geographic locality.

    Googio is the ultimate search API for Google Searches, Google News, and Google SERP.
    # Docs

    > An Unofficial Google Search API

    An API to perform Google Searches. Extremely fast and accurate. Zero proxies. Clean USA IPs.

    Simple to use API, but advance enough to support special parameters such as languages, country and geographic locality.

    # Example Code

     Check out [Github repo](https://github.com/googio/googio_examples) for example code for calling the API with various languages.

    # Authentication

    ### API Key

    Optional API key for authenticated access. Note that we use "API key" interchangably in these docs.

    Authenticated requests must include an `apikey` header containing your subscription's API Key.

    | Security Schema Type | Header Name | Example Token |
    | --- | --- | --- |
    | API Key | `apikey` | c5bfb018-ab46-4e61-9271-4ec7e9c04a6e |

    In the following example, `YOU_APIKEY` represents the auth token for your account.

    ```
    curl --header 'apikey: YOU_APIKEY'
    ```

    You can view and manage your API keys in the [Dashboard](/dashboard).

    Be sure to keep your API keys secure. Do not share them in publicly accessible areas such as GitHub, client-side code, and so forth.

    Also note that all API requests must be made over **HTTPS**. Calls made over plain HTTP will attempt to be automatically upgraded to HTTPS, though this use cases is discouraged.


    ## Rate Limits

    API requests may be rate limited depending on your subscription plan and traffic patterns. The following response headers will be present in these cases:

    | Header | Description |
    | ------ | ----------- |
    | `X-RateLimit-Limit` | The maximum number of requests that the consumer is permitted to make. |
    | `X-RateLimit-Remaining` | The number of requests remaining in the current rate limit window. |
    | `X-RateLimit-Reset` | The time at which the current rate limit window resets in UTC epoch seconds. |

    When the rate limit is **exceeded**, an error is returned with the status "**429 Too Many Requests**":

    ```json
    {
      "error": {
        "code": "too_many_requests",
        "message": "Rate limit exceeded"
      }
    }
    ```



    ## Errors

    This API uses conventional HTTP response codes to indicate the success or failure of API requests. In general: Codes in the `2xx` range indicate success. Codes in the `4xx` range indicate an error that failed given the information provided (e.g., a required parameter was omitted, endpoint not found, etc.). Codes in the `5xx` range indicate an error with our API (these are rare).


  title: goog.io | Unoffical Google Search API
  version: 0.1.0
  x-apisguru-categories:
    - search
  x-origin:
    - format: openapi
      url: https://goog.io/openapi.json
      version: "3.0"
  x-providerName: goog.io
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg
security:
  - apikey: []
tags:
  - name: Endpoints
    x-displayName: Endpoints
paths:
  /:
    get:
      description: It "status" == true then API is up, else the API is down
      operationId: Get the status of the API service
      responses:
        "200":
          content:
            application/json:
              examples:
                statusFalse:
                  value:
                    status: false
                statusTrue:
                  value:
                    status: true
              schema:
                properties:
                  status:
                    type: boolean
                type: object
          description: Successful Response
        "404":
          description: Not Found
      summary: Status
      x-code-samples:
        - label: cURL
          lang: bash
          source: |-
            curl \
              'https://api.goog.io/'
        - label: Node.js
          lang: javascript
          source: |-
            const request = require('request')
            const fs = require('fs')

            const options = {
              url: 'https://api.goog.io/',
              qs: ,
              json: true
            }

            request(options, (error, response, body) => {
              if (error) throw new Error(error)

              console.log(body)
            })
  "/v1/crawl/{query}":
    get:
      description: |-
        Perform Google Search

         Parameters
        ----------
        query : the string query to perform search. supports advance queries. Check out https://moz.com/blog/the-ultimate-guide-to-the-google-search-parameters guide for formating

        Returns
        -------
        json: a the html source of the results page
      operationId: Crawl
      parameters:
        - examples:
            regularKeywordSearch:
              value: q=google+search+api
          in: path
          name: query
          required: true
          schema:
            title: Query
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                crawlQueryGoogleSearchApi:
                  value:
                    answer: null
                    results:
                      - <!doctype html><html itemscope="" itemtype="http://schema.org/SearchResultsPage" lang="en"><head> ... </body></html>
                    total: null
              schema:
                properties:
                  answer:
                    type: string
                  results:
                    items:
                      type: string
                    type: array
                  total:
                    type: string
                type: object
          description: Successful Response
        "404":
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
        "429":
          description: Rate limit exceeded
      summary: Crawl
      x-code-samples:
        - label: cURL
          lang: bash
          source: |-
            curl \
              'https://api.goog.io/v1/crawl/q=united+states'
        - label: Node.js
          lang: javascript
          source: |-
            const request = require('request')
            const fs = require('fs')

            const options = {
              url: 'https://api.goog.io/v1/crawl/q=united+states',
              qs: ,
              json: true
            }

            request(options, (error, response, body) => {
              if (error) throw new Error(error)

              console.log(body)
            })
    parameters:
      - description: A url encoded query string, for reference checkout https://moz.com/blog/the-ultimate-guide-to-the-google-search-parameters
        in: path
        name: query
        required: true
        schema:
          type: string
  "/v1/images/{query}":
    get:
      description: |-
        Perform Google Image Search

        Parameters
        ----------
        query : the string query to perform search. supports advance queries.

        Returns
        -------
        json: a list of results with the link, description, and title for each result
      operationId: Images
      parameters:
        - in: path
          name: query
          required: true
          schema:
            title: Query
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                exampleImageSearchForCoffee:
                  value:
                    answers: []
                    image_results:
                      - image:
                          alt: The Great Coffee Debate | Rothman Health Solutions
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSvaUJHVnlx7Pe-eUzCvqjaq0SY8IqvBFUmkA&usqp=CAU
                        link:
                          domain: drnicole.com
                          href: https://drnicole.com/the-great-coffee-debate/
                          title: The Great Coffee Debate | Rothman ...
                      - image:
                          alt: Salted Maple Power Coffee - Coconut Butter Power Coffee
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ97hyMluYaS0i-KtnVksz50YHQYfg0cIQkEw&usqp=CAU
                        link:
                          domain: howsweeteats.com
                          href: https://www.howsweeteats.com/2018/10/power-coffee/
                          title: Salted Maple Power Coffee - Coconut ...
                      - image:
                          alt: Is drinking coffee safe during your pregnancy? Get ready for some ...
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRw78AXlFrxddyUVjmee9zl0WgSAqEEjdBXjw&usqp=CAU
                        link:
                          domain: theguardian.com
                          href: https://www.theguardian.com/commentisfree/2019/oct/17/is-drinking-coffee-safe-during-your-pregnancy-get-ready-for-some-nuance
                          title: Is drinking coffee safe during your ...
                      - image:
                          alt: History of Coffee - Surprising Facts About Coffee and Caffeine
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTMXX9ZFy_phkiDpZDzg7md0eXIfUHwmqkAKg&usqp=CAU
                        link:
                          domain: goodhousekeeping.com
                          href: https://www.goodhousekeeping.com/health/diet-nutrition/a30303/facts-about-coffee/
                          title: Surprising Facts About Coffee and Caffeine
                      - image:
                          alt: THE COFFEE GANG - Home | Facebook
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR5Oxi7uPeHpHvi367Br-dOY5ko8YC27ZVxLQ&usqp=CAU
                        link:
                          domain: facebook.com
                          href: https://www.facebook.com/thecoffeegangkoeln/
                          title: THE COFFEE GANG - Home | Facebook
                      - image:
                          alt: How coffee protects the brain
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTOTPLXLBPAPJRLGsg2nmuQP17QPZwp_LZVkA&usqp=CAU
                        link:
                          domain: medicalnewstoday.com
                          href: https://www.medicalnewstoday.com/articles/323594
                          title: How coffee protects the brain
                      - image:
                          alt: "National Coffee Day 2019: Where to Find Free Coffee and Other ..."
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ72PRQNa22zD2BiLEDx9n7xNOTBoMIk0B40A&usqp=CAU
                        link:
                          domain: foodandwine.com
                          href: https://www.foodandwine.com/news/national-coffee-day-2019-deals-free-coffee
                          title: "National Coffee Day 2019: Where to Find ..."
                      - image:
                          alt: Health benefits of coffee and a proposed warning label - Harvard ...
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTyWNDiNbIMSPdYc_-fsHs0WnB00kVwN79-og&usqp=CAU
                        link:
                          domain: health.harvard.edu
                          href: https://www.health.harvard.edu/blog/health-benefits-of-coffee-and-a-proposed-warning-label-2018072514319
                          title: Health benefits of coffee and a ...
                      - image:
                          alt: Ebb + Flow Coffee Co | Verrado
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSzGnPX8PwkhUNh0_svnKsnZ8h3aizcu7Tm9w&usqp=CAU
                        link:
                          domain: verrado.com
                          href: https://www.verrado.com/ebb-flow-coffee-co/
                          title: Ebb + Flow Coffee Co | Verrado
                      - image:
                          alt: The untold truth of instant coffee
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQR1-hgmeCmtO-lMRGA_G-QsVtTMgxQwjKjNA&usqp=CAU
                        link:
                          domain: mashed.com
                          href: https://www.mashed.com/213334/the-untold-truth-of-instant-coffee/
                          title: The untold truth of instant coffee
                      - image:
                          alt: All Coffees Great and Small - The Coffee Universe
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRuXOtmAcTEKtbzCvSJU9_FHR8qnwW_H2L_Yw&usqp=CAU
                        link:
                          domain: thecoffeeuniverse.org
                          href: http://thecoffeeuniverse.org/all-coffees-great-and-small/
                          title: All Coffees Great and Small - The ...
                      - image:
                          alt: How to Make Strong Coffee (Ultimate Guide to Better Coffee ...
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTIE2P5rxqxqc2t7pSaAYNPNBL-jYc-TpH_CA&usqp=CAU
                        link:
                          domain: enjoyjava.com
                          href: https://enjoyjava.com/how-to-make-strong-coffee/
                          title: How to Make Strong Coffee (Ultimate ...
                      - image:
                          alt: The barista-approved gear you need to recreate the coffee shop at ...
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRk6uRKrZlcWzL-nMSTL0K43W2evcFqqgTK4Q&usqp=CAU
                        link:
                          domain: engadget.com
                          href: https://www.engadget.com/barista-coffee-gear-quarantine-173001511.html
                          title: The barista-approved gear you need to ...
                      - image:
                          alt: What Fort Worth Coffee Shop Fits Your Personality? - Fort Worth ...
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSrIRqyS9DfB4fagLFwi3nZBgHZ-TYtUjWxVg&usqp=CAU
                        link:
                          domain: fwtx.com
                          href: https://fwtx.com/eat-drink/fort-worth-coffee-shop-fits-personality/
                          title: What Fort Worth Coffee Shop Fits Your ...
                      - image:
                          alt: Is Coffee Good for You? - The New York Times
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT-FANRjp7w693rO7nEuyg_sVrF6D__QiJJKw&usqp=CAU
                        link:
                          domain: nytimes.com
                          href: https://www.nytimes.com/2020/02/13/style/self-care/coffee-benefits.html
                          title: Is Coffee Good for You? - The New York ...
                      - image:
                          alt: "Quirky Frisco: Try these 5 unique coffee shop experiences"
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQFTJ-7ZHTyt8FMlETrrC2oZm2D_JCAPBwWtg&usqp=CAU
                        link:
                          domain: dallasnews.com
                          href: https://www.dallasnews.com/food/2019/09/16/quirky-frisco-try-these-5-unique-coffee-shop-experiences/
                          title: Try these 5 unique coffee shop experiences
                      - image:
                          alt: The Original Irish Coffee Recipe
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS4Ho3fU1oK51tBn0JwBpfdYfTFNOqD6gJk_w&usqp=CAU
                        link:
                          domain: thespruceeats.com
                          href: https://www.thespruceeats.com/original-irish-coffee-recipe-759311
                          title: The Original Irish Coffee Recipe
                      - image:
                          alt: Wild Joe*s Coffee Spot
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQmMEfoc0sUA17iMCu1dPJliI9imDOhhKBK3g&usqp=CAU
                        link:
                          domain: wildjoescoffee.com
                          href: https://wildjoescoffee.com/
                          title: Wild Joe*s Coffee Spot
                      - image:
                          alt: "Coffee: Benefits, nutrition, and risks"
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSr-1QoS2MwEqG0QVxmJQ8-TL6nZgnm0wO5kg&usqp=CAU
                        link:
                          domain: medicalnewstoday.com
                          href: https://www.medicalnewstoday.com/articles/270202
                          title: "Coffee: Benefits, nutrition, and risks"
                      - image:
                          alt: Homemade Healthy Coffee Creamer - JoyFoodSunshine
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRc7txgPA1jmLAbEGgRmhkWYQZv-VN7jFUDpg&usqp=CAU
                        link:
                          domain: joyfoodsunshine.com
                          href: https://joyfoodsunshine.com/paleo-vanilla-coconut-coffee-creamer/
                          title: Homemade Healthy Coffee Creamer ...
                      - image:
                          alt: 13 Health Benefits of Coffee, Based on Science
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSLBbLYJ_FVF9RAtIx-kdAv0vrRshF4TK_BFg&usqp=CAU
                        link:
                          domain: healthline.com
                          href: https://www.healthline.com/nutrition/top-13-evidence-based-health-benefits-of-coffee
                          title: 13 Health Benefits of Coffee, Based on ...
                      - image:
                          alt: "Coffee and Kidney Disease: Is it Safe? | National Kidney Foundation"
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQA5e8QKcbSWT5G-Epl4dWLpuzxb7BnCLuQfg&usqp=CAU
                        link:
                          domain: kidney.org
                          href: https://www.kidney.org/newsletter/coffee-and-kidney-disease
                          title: "Coffee and Kidney Disease: Is it Safe ..."
                      - image:
                          alt: Filter coffee is healthier than stove top, French press, decaf ...
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQrHIJL4x1EKMl8aZl1PTN0AK0fYTLRHSZBtw&usqp=CAU
                        link:
                          domain: insider.com
                          href: https://www.insider.com/what-is-the-best-way-to-make-coffee-2020-4
                          title: Filter coffee is healthier than stove ...
                      - image:
                          alt: Recess Coffee – Drink Coffee, Shoot Lightning!
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSAKFuGHaUiUM0e6kP5923DkGL50pX6HxaruA&usqp=CAU
                        link:
                          domain: recesscoffee.com
                          href: https://recesscoffee.com/
                          title: Recess Coffee – Drink Coffee, Shoot ...
                      - image:
                          alt: Is there a healthier way to brew your coffee? | Pittsburgh Post ...
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ7uTsHtb9vLwwZCTh2lpGNxXBdaX6KlfzREg&usqp=CAU
                        link:
                          domain: post-gazette.com
                          href: https://www.post-gazette.com/news/health/2020/04/24/healthy-way-brew-coffee-cholesterol/stories/202004240082
                          title: healthier way to brew your coffee ...
                      - image:
                          alt: What your daily coffee is really doing to your body | Daily Mail ...
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQfHL2uXD4_h03BO3QBpD6jf1R8JcvGaQUv6g&usqp=CAU
                        link:
                          domain: dailymail.co.uk
                          href: https://www.dailymail.co.uk/health/article-2987126/It-good-brain-waistline-bad-bones-kidneys-daily-coffee-really-doing-body.html
                          title: coffee is really doing to your body ...
                      - image:
                          alt: Reinventing the Coffee Industry in Romania
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ80AJo0XdnQPgutOlws6kINluLKDFTP8XPuA&usqp=CAU
                        link:
                          domain: coffeebi.com
                          href: https://coffeebi.com/2018/01/23/bucharest-coffee-to-go/
                          title: Reinventing the Coffee Industry in Romania
                      - image:
                          alt: Whipped Coffee Recipe {3 Ingredients!} | FeelGoodFoodie
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQUqH6leT8YOlOUffEwCiwl-BD9C92e3CR2RQ&usqp=CAU
                        link:
                          domain: feelgoodfoodie.net
                          href: https://feelgoodfoodie.net/recipe/whipped-coffee/
                          title: Whipped Coffee Recipe {3 Ingredients ...
                    results: []
                    total: null
                exampleImageSearchForGames:
                  value:
                    answers: []
                    image_results:
                      - image:
                          alt: The best games to play while waiting out the coronavirus - The ...
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQYw2dBylvWTDAjUiWaRh_KZ50j5fP8Ku4Y2A&usqp=CAU
                        link:
                          domain: washingtonpost.com
                          href: https://www.washingtonpost.com/video-games/2020/04/03/best-video-games-modern-nintendo-playstation-xbox-pc/
                          title: The best games to play while waiting ...
                      - image:
                          alt: Nitro Games announced new game Lootland
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRqrH6AT_3i1LvOEdZNLFVqq7Bc_PGiAAdunQ&usqp=CAU
                        link:
                          domain: ipohub.io
                          href: https://ipohub.io/companies/nitro-games-oyj/news/nitro-games-announced-new-game-lootland-161220190800
                          title: Nitro Games announced new game Lootland
                      - image:
                          alt: The 60 best iPhone games of 2019 - CNET
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSMVpjLV5lussRDZMRfpaOI9oIJ3eT_AB7Bhw&usqp=CAU
                        link:
                          domain: cnet.com
                          href: https://www.cnet.com/pictures/best-iphone-games/
                          title: The 60 best iPhone games of 2019 - CNET
                      - image:
                          alt: The Best Android Games Currently Available (July 2020) | Digital ...
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQDrhmpVjqyA1Fd_XOyXwE_AQC3mC4X8E6EJg&usqp=CAU
                        link:
                          domain: digitaltrends.com
                          href: https://www.digitaltrends.com/mobile/best-android-games/
                          title: The Best Android Games Currently ...
                      - image:
                          alt: Cartoon Network Games | Free Kids Games | Online Games for Kids
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRA-bOKITMe5P9LjjKaayC_9mpVqVPucjWfgA&usqp=CAU
                        link:
                          domain: cartoonnetworkhq.com
                          href: https://www.cartoonnetworkhq.com/games
                          title: Cartoon Network Games | Free Kids Games ...
                      - image:
                          alt: 5 low MB mobile games to play in 2019 | The Tech Portal
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSMZIRj9vIso192y-B5ywMsVMNvHOv38LW5hw&usqp=CAU
                        link:
                          domain: thetechportal.com
                          href: https://thetechportal.com/5-low-mb-mobile-games-to-play-in-2019/
                          title: 5 low MB mobile games to play in 2019 ...
                      - image:
                          alt: Epic buys Rocket League developer Psyonix, strongly hints it will ...
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTyh8_7aGWIR7PuuLgd8vvEGEckW6B5u_HJUA&usqp=CAU
                        link:
                          domain: theverge.com
                          href: https://www.theverge.com/2019/5/1/18525842/epic-games-psyonix-acquisition-rocket-league-fortnite-unreal-deal
                          title: Epic buys Rocket League developer ...
                      - image:
                          alt: Games - Android Apps on Google Play
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQZKw8OKhwd67ZZFpgWC-witUp_Ee9S-8EV8Q&usqp=CAU
                        link:
                          domain: play.google.com
                          href: https://play.google.com/store/apps/category/GAME?hl=en
                          title: Games - Android Apps on Google Play
                      - image:
                          alt: Sites-us_ubisoft-Site
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT_-Um-72YVstzf34I50Mb6I6FbX3CzD45dNQ&usqp=CAU
                        link:
                          domain: store.ubi.com
                          href: https://store.ubi.com/uplayplus
                          title: Sites-us_ubisoft-Site
                      - image:
                          alt: "Amazon.com: Drag Race Super Fast Car Games: Real Racing Game 2019 ..."
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRIn7J4r-oJBkUr_-0o--E5z79GMnXOX6-OiA&usqp=CAU
                        link:
                          domain: amazon.com
                          href: https://www.amazon.com/Drag-Race-Super-Fast-Games/dp/B081TPNXSS
                          title: Drag Race Super Fast Car Games ...
                      - image:
                          alt: 25 best video games to help you socialise while self-isolating ...
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSuZZhK4YDh1mjRYUP2h9WyQClXp8bOSsigLQ&usqp=CAU
                        link:
                          domain: theguardian.com
                          href: https://www.theguardian.com/games/2020/mar/17/25-best-online-video-games-coronavirus-self-isolating
                          title: 25 best video games to help you ...
                      - image:
                          alt: ARMS for Nintendo Switch - Nintendo Game Details
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQYY_N6q9tYZEz0MUF9YdLiSNn5jWRF0PWgoA&usqp=CAU
                        link:
                          domain: nintendo.com
                          href: https://www.nintendo.com/games/detail/arms-switch/
                          title: ARMS for Nintendo Switch - Nintendo ...
                      - image:
                          alt: The Best PS4 Games You Can Play Right Now - GameSpot
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSg9xvd8qiNFcm7fcB9UjDOSCh9RL-P2qfMdw&usqp=CAU
                        link:
                          domain: gamespot.com
                          href: https://www.gamespot.com/gallery/the-best-ps4-games-you-can-play-right-now/2900-1932/
                          title: The Best PS4 Games You Can Play Right ...
                      - image:
                          alt: For the Uninitiated and Bored, an Introduction to the World of ...
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQiPFEDju4CytUgUKtEKT1KrCEdTn7r93rfTQ&usqp=CAU
                        link:
                          domain: nytimes.com
                          href: https://www.nytimes.com/2020/04/01/arts/gaming-introduction-basics-quarantine-coronavirus.html
                          title: For the Uninitiated and Bored, an ...
                      - image:
                          alt: Snap lets you play as your Bitmoji in third-party games | TechCrunch
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ-U5q2QaSxX-3uzn7m9K7svkYslou2lGO_RQ&usqp=CAU
                        link:
                          domain: techcrunch.com
                          href: https://techcrunch.com/2020/06/11/snap-lets-you-play-as-your-bitmoji-in-third-party-games/
                          title: Snap lets you play as your Bitmoji in ...
                      - image:
                          alt: Car Racing Games 2019 Free Driving Simulator - Best Android ...
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTq75r3gbNQv2EDFRVGMr4uZVwHgqVvGMNemQ&usqp=CAU
                        link:
                          domain: youtube.com
                          href: https://www.youtube.com/watch?v=-aMDAGMdwyQ
                          title: Car Racing Games 2019 Free Driving ...
                      - image:
                          alt: Homepage | MY.GAMES
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS20Jl6y5067ykCMSZAbN49MwchNI-SSx4imA&usqp=CAU
                        link:
                          domain: my.games
                          href: https://my.games/
                          title: Homepage | MY.GAMES
                      - image:
                          alt: The 20 Most Popular Video Games of 2020 - Best Games to Play Now
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQUq0xRtALlSQU50GkC7YEbA-Jrx45vZLCmMQ&usqp=CAU
                        link:
                          domain: goodhousekeeping.com
                          href: https://www.goodhousekeeping.com/life/entertainment/g30910862/best-video-games/
                          title: The 20 Most Popular Video Games of 2020 ...
                      - image:
                          alt: "SpongeBob SquarePants: Battle for Bikini Bottom - Rehydrated on Steam"
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRJmyzBsdlth-e2yZGo2fRZhqkqitykxiNvRw&usqp=CAU
                        link:
                          domain: store.steampowered.com
                          href: https://store.steampowered.com/app/969990/SpongeBob_SquarePants_Battle_for_Bikini_Bottom__Rehydrated/
                          title: "SpongeBob SquarePants: Battle for ..."
                      - image:
                          alt: Together in Games | Travian Games
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSiKkWVr_Ohm7cPRfFjWN87Dnv1KaShIwPN2A&usqp=CAU
                        link:
                          domain: traviangames.com
                          href: https://www.traviangames.com/en/
                          title: Together in Games | Travian Games
                      - image:
                          alt: Online Games | Disney LOL
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRjAw3IOi3tDtWvordiUpDNR22UnRWlZteaTA&usqp=CAU
                        link:
                          domain: lol.disney.com
                          href: https://lol.disney.com/games
                          title: Online Games | Disney LOL
                      - image:
                          alt: "Nintendo Switch games: Top free titles you should download now ..."
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQgzVGtlF9HNsRCtGlLITqwCF-P11L1Ar0Yzg&usqp=CAU
                        link:
                          domain: indianexpress.com
                          href: https://indianexpress.com/article/technology/gaming/5-free-games-on-nintendo-switch-you-should-try-6417160/
                          title: "Nintendo Switch games: Top free titles ..."
                      - image:
                          alt: LEGO® video games for PC and console | Official LEGO® Shop US
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQQjyBcnZ9Eh00dV4U_po3g0vlA5Ecy--A1AQ&usqp=CAU
                        link:
                          domain: lego.com
                          href: https://www.lego.com/en-us/games
                          title: LEGO® video games for PC and console ...
                      - image:
                          alt: Epic Games Store | Official Site
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQLvONu0SJkxEqhj-9doW0lDjw5XTNmHWRzjA&usqp=CAU
                        link:
                          domain: epicgames.com
                          href: https://epicgames.com/
                          title: Epic Games Store | Official Site
                      - image:
                          alt: Command & reconquer - The video-games industry raids its back ...
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTLAbNq6KbvFZvOx8RUUDjm0GuFXJV6fwiFPw&usqp=CAU
                        link:
                          domain: economist.com
                          href: https://www.economist.com/business/2020/06/04/the-video-games-industry-raids-its-back-catalogue
                          title: The video-games industry raids its back ...
                      - image:
                          alt: Windows Games - Microsoft Store
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSuGscskpZgoaOCDMbB1lwtWE9PyKzd6dOelQ&usqp=CAU
                        link:
                          domain: microsoft.com
                          href: https://www.microsoft.com/en-mu/store/games/windows?icid=CatNavWindowsGames
                          title: Windows Games - Microsoft Store
                      - image:
                          alt: GameFly | Video Game Rentals & Used Video Games
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTAW5619n9C3Vy_I5rAC6XlCSZgjhDf-tyHgw&usqp=CAU
                        link:
                          domain: gamefly.com
                          href: https://www.gamefly.com/
                          title: Video Game Rentals & Used Video Games
                      - image:
                          alt: Digital Downloads - Games & Season Passes | GameStop
                          src: https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTtw_6Hj3th_P9ngtT2H95hVDuRrMlkxmSt8Q&usqp=CAU
                        link:
                          domain: gamestop.com
                          href: https://www.gamestop.com/video-games/digital-content
                          title: Digital Downloads - Games & Season ...
                    results: []
                    total: null
              schema:
                properties:
                  answers:
                    items:
                      type: string
                    type: array
                  image_results:
                    items:
                      properties:
                        image:
                          properties:
                            alt:
                              type: string
                            src:
                              type: string
                          type: object
                        link:
                          properties:
                            domain:
                              type: string
                            href:
                              type: string
                            title:
                              type: string
                          type: object
                      type: object
                    type: array
                  results:
                    items:
                      type: object
                    type: array
                  total:
                    type: integer
                type: object
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Images
  "/v1/news/{query}":
    get:
      description: |-
        Perform Google News Search

         Parameters
        ----------
        query : the string query to perform search for Google news. A simple query for `president` will be `q=president`. An example of multiple keyword would be `q=news+about+presdient+trump`. News can also be filtered by country and language. For `US` news and in English the query will be `q=trump&ceid=US:en` for news in Great Britian the query will be `q=trump&ceid=GB:en`

        Returns
        -------
        json: {"feed": { "title" : "trump" ...} , "entites": [ {"title" : "Trump doubles down on divisive messaging in speech to honor Independence Day - CNN", "links": []} ...]}
      operationId: News
      responses:
        "200":
          content:
            application/json:
              examples:
                stocksGreatBritian:
                  value:
                    entries:
                      - guidislink: false
                        id: CAIiEJbYpHMf0QD_umAUYNd46A0qGQgEKhAIACoHCAow4uGPCzDQpKMDMOm0sAY
                        link: https://www.thisismoney.co.uk/money/investing/article-8490041/EDENTREE-AMITY-UK-performer-steers-clear-sin-stocks.html
                        links:
                          - href: https://www.thisismoney.co.uk/money/investing/article-8490041/EDENTREE-AMITY-UK-performer-steers-clear-sin-stocks.html
                            rel: alternate
                            type: text/html
                        published: Sat, 04 Jul 2020 22:45:37 GMT
                        published_parsed:
                          - 2020
                          - 7
                          - 4
                          - 22
                          - 45
                          - 37
                          - 5
                          - 186
                          - 0
                        source:
                          href: https://www.thisismoney.co.uk
                          title: This is Money
                        sub_articles: []
                        summary: "<a href=\"https://www.thisismoney.co.uk/money/investing/article-8490041/EDENTREE-AMITY-UK-performer-steers-clear-sin-stocks.html\" target=\"_blank\">EDENTREE AMITY UK: Top performer steers clear of the 'sin' stocks</a>&nbsp;&nbsp;<font color=\"#6f6f6f\">This is Money</font>"
                        summary_detail:
                          base: ""
                          language: null
                          type: text/html
                          value: "<a href=\"https://www.thisismoney.co.uk/money/investing/article-8490041/EDENTREE-AMITY-UK-performer-steers-clear-sin-stocks.html\" target=\"_blank\">EDENTREE AMITY UK: Top performer steers clear of the 'sin' stocks</a>&nbsp;&nbsp;<font color=\"#6f6f6f\">This is Money</font>"
                        title: "EDENTREE AMITY UK: Top performer steers clear of the 'sin' stocks - This is Money"
                        title_detail:
                          base: ""
                          language: null
                          type: text/plain
                          value: "EDENTREE AMITY UK: Top performer steers clear of the 'sin' stocks - This is Money"
                      - guidislink: false
                        id: CBMihgFodHRwczovL3d3dy5mb29sLmNvLnVrL2ludmVzdGluZy8yMDIwLzA3LzA0L2RvbnQtbWlzcy1vdXQtNC1mdHNlLTEwMC1kaXZpZGVuZC1zdG9ja3MtaS10aGluay1jb3VsZC1oZWxwLXlvdS1nZXQtcmljaC1hbmQtcmV0aXJlLWVhcmx5L9IBAA
                        link: https://www.fool.co.uk/investing/2020/07/04/dont-miss-out-4-ftse-100-dividend-stocks-i-think-could-help-you-get-rich-and-retire-early/
                        links:
                          - href: https://www.fool.co.uk/investing/2020/07/04/dont-miss-out-4-ftse-100-dividend-stocks-i-think-could-help-you-get-rich-and-retire-early/
                            rel: alternate
                            type: text/html
                        published: Sat, 04 Jul 2020 12:55:59 GMT
                        published_parsed:
                          - 2020
                          - 7
                          - 4
                          - 12
                          - 55
                          - 59
                          - 5
                          - 186
                          - 0
                        source:
                          href: https://www.fool.co.uk
                          title: Motley Fool UK
                        sub_articles: []
                        summary: <a href="https://www.fool.co.uk/investing/2020/07/04/dont-miss-out-4-ftse-100-dividend-stocks-i-think-could-help-you-get-rich-and-retire-early/" target="_blank">Don't miss out! 4 FTSE 100 dividend stocks I think could help you get rich and retire early</a>&nbsp;&nbsp;<font color="#6f6f6f">Motley Fool UK</font>
                        summary_detail:
                          base: ""
                          language: null
                          type: text/html
                          value: <a href="https://www.fool.co.uk/investing/2020/07/04/dont-miss-out-4-ftse-100-dividend-stocks-i-think-could-help-you-get-rich-and-retire-early/" target="_blank">Don't miss out! 4 FTSE 100 dividend stocks I think could help you get rich and retire early</a>&nbsp;&nbsp;<font color="#6f6f6f">Motley Fool UK</font>
                        title: Don't miss out! 4 FTSE 100 dividend stocks I think could help you get rich and retire early - Motley Fool UK
                        title_detail:
                          base: ""
                          language: null
                          type: text/plain
                          value: Don't miss out! 4 FTSE 100 dividend stocks I think could help you get rich and retire early - Motley Fool UK
                      - guidislink: false
                        id: CBMiW2h0dHBzOi8vd3d3LmJhcnJvbnMuY29tL2FydGljbGVzLzQtc3RvY2tzLWhhdmUtdHJpbGxpb24tZG9sbGFyLXZhbHVlcy13aG9zLW5leHQtNTE1OTM4NjIyMDHSAV9odHRwczovL3d3dy5iYXJyb25zLmNvbS9hbXAvYXJ0aWNsZXMvNC1zdG9ja3MtaGF2ZS10cmlsbGlvbi1kb2xsYXItdmFsdWVzLXdob3MtbmV4dC01MTU5Mzg2MjIwMQ
                        link: https://www.barrons.com/articles/4-stocks-have-trillion-dollar-values-whos-next-51593862201
                        links:
                          - href: https://www.barrons.com/articles/4-stocks-have-trillion-dollar-values-whos-next-51593862201
                            rel: alternate
                            type: text/html
                        published: Sat, 04 Jul 2020 11:30:00 GMT
                        published_parsed:
                          - 2020
                          - 7
                          - 4
                          - 11
                          - 30
                          - 0
                          - 5
                          - 186
                          - 0
                        source:
                          href: https://www.barrons.com
                          title: Barron's
                        sub_articles: []
                        summary: <a href="https://www.barrons.com/articles/4-stocks-have-trillion-dollar-values-whos-next-51593862201" target="_blank">4 Stocks Have Trillion-Dollar Values. Who’s Next?</a>&nbsp;&nbsp;<font color="#6f6f6f">Barron's</font>
                        summary_detail:
                          base: ""
                          language: null
                          type: text/html
                          value: <a href="https://www.barrons.com/articles/4-stocks-have-trillion-dollar-values-whos-next-51593862201" target="_blank">4 Stocks Have Trillion-Dollar Values. Who’s Next?</a>&nbsp;&nbsp;<font color="#6f6f6f">Barron's</font>
                        title: 4 Stocks Have Trillion-Dollar Values. Who’s Next? - Barron's
                        title_detail:
                          base: ""
                          language: null
                          type: text/plain
                          value: 4 Stocks Have Trillion-Dollar Values. Who’s Next? - Barron's
                      - guidislink: false
                        id: CAIiEHoLGxjkYXqngfiYs6dDKcwqFQgEKg0IACoGCAowrqkBMKBFMJGBAg
                        link: https://www.forbes.com/sites/scottcarpenter/2020/07/04/hedge-fund-marshall-wace-will-bet-on-esg-stocks-with-new-1-billion-fund/
                        links:
                          - href: https://www.forbes.com/sites/scottcarpenter/2020/07/04/hedge-fund-marshall-wace-will-bet-on-esg-stocks-with-new-1-billion-fund/
                            rel: alternate
                            type: text/html
                        published: Sat, 04 Jul 2020 18:31:21 GMT
                        published_parsed:
                          - 2020
                          - 7
                          - 4
                          - 18
                          - 31
                          - 21
                          - 5
                          - 186
                          - 0
                        source:
                          href: https://www.forbes.com
                          title: Forbes
                        sub_articles: []
                        summary: <a href="https://www.forbes.com/sites/scottcarpenter/2020/07/04/hedge-fund-marshall-wace-will-bet-on-esg-stocks-with-new-1-billion-fund/" target="_blank">Hedge Fund Marshall Wace Will Bet On ESG Stocks With New $1 Billion Fund</a>&nbsp;&nbsp;<font color="#6f6f6f">Forbes</font>
                        summary_detail:
                          base: ""
                          language: null
                          type: text/html
                          value: <a href="https://www.forbes.com/sites/scottcarpenter/2020/07/04/hedge-fund-marshall-wace-will-bet-on-esg-stocks-with-new-1-billion-fund/" target="_blank">Hedge Fund Marshall Wace Will Bet On ESG Stocks With New $1 Billion Fund</a>&nbsp;&nbsp;<font color="#6f6f6f">Forbes</font>
                        title: Hedge Fund Marshall Wace Will Bet On ESG Stocks With New $1 Billion Fund - Forbes
                        title_detail:
                          base: ""
                          language: null
                          type: text/plain
                          value: Hedge Fund Marshall Wace Will Bet On ESG Stocks With New $1 Billion Fund - Forbes
                      - guidislink: false
                        id: CAIiELdLP6CrE6pXTf8VS6mFwYsqFQgEKg0IACoGCAowrqkBMKBFMLKAAg
                        link: https://www.forbes.com/sites/tomaspray/2020/07/04/investors-bearish-as-the-stock-market-soars/
                        links:
                          - href: https://www.forbes.com/sites/tomaspray/2020/07/04/investors-bearish-as-the-stock-market-soars/
                            rel: alternate
                            type: text/html
                        published: Sat, 04 Jul 2020 18:22:44 GMT
                        published_parsed:
                          - 2020
                          - 7
                          - 4
                          - 18
                          - 22
                          - 44
                          - 5
                          - 186
                          - 0
                        source:
                          href: https://www.forbes.com
                          title: Forbes
                        sub_articles: []
                        summary: <a href="https://www.forbes.com/sites/tomaspray/2020/07/04/investors-bearish-as-the-stock-market-soars/" target="_blank">Investors Bearish As The Stock Market Soars</a>&nbsp;&nbsp;<font color="#6f6f6f">Forbes</font>
                        summary_detail:
                          base: ""
                          language: null
                          type: text/html
                          value: <a href="https://www.forbes.com/sites/tomaspray/2020/07/04/investors-bearish-as-the-stock-market-soars/" target="_blank">Investors Bearish As The Stock Market Soars</a>&nbsp;&nbsp;<font color="#6f6f6f">Forbes</font>
                        title: Investors Bearish As The Stock Market Soars - Forbes
                        title_detail:
                          base: ""
                          language: null
                          type: text/plain
                          value: Investors Bearish As The Stock Market Soars - Forbes
                      - guidislink: false
                        id: CAIiEHJp-NyMXN6lxC1B2gutnDsqFQgEKg0IACoGCAowrqkBMKBFMMGBAg
                        link: https://www.forbes.com/sites/sergeiklebnikov/2020/07/03/stocks-are-rallying-too-much-on-vaccine-news-says-this-market-expert/
                        links:
                          - href: https://www.forbes.com/sites/sergeiklebnikov/2020/07/03/stocks-are-rallying-too-much-on-vaccine-news-says-this-market-expert/
                            rel: alternate
                            type: text/html
                        published: Fri, 03 Jul 2020 20:03:04 GMT
                        published_parsed:
                          - 2020
                          - 7
                          - 3
                          - 20
                          - 3
                          - 4
                          - 4
                          - 185
                          - 0
                        source:
                          href: https://www.forbes.com
                          title: Forbes
                        sub_articles: []
                        summary: <a href="https://www.forbes.com/sites/sergeiklebnikov/2020/07/03/stocks-are-rallying-too-much-on-vaccine-news-says-this-market-expert/" target="_blank">Stocks Are Rallying Too Much On Vaccine News, Says This Market Expert</a>&nbsp;&nbsp;<font color="#6f6f6f">Forbes</font>
                        summary_detail:
                          base: ""
                          language: null
                          type: text/html
                          value: <a href="https://www.forbes.com/sites/sergeiklebnikov/2020/07/03/stocks-are-rallying-too-much-on-vaccine-news-says-this-market-expert/" target="_blank">Stocks Are Rallying Too Much On Vaccine News, Says This Market Expert</a>&nbsp;&nbsp;<font color="#6f6f6f">Forbes</font>
                        title: Stocks Are Rallying Too Much On Vaccine News, Says This Market Expert - Forbes
                        title_detail:
                          base: ""
                          language: null
                          type: text/plain
                          value: Stocks Are Rallying Too Much On Vaccine News, Says This Market Expert - Forbes
                      - guidislink: false
                        id: CBMiYWh0dHBzOi8vd3d3LmZvb2wuY29tL2ludmVzdGluZy8yMDIwLzA3LzA0LzUtdG9wLXN0b2Nrcy10by1zZWN1cmUteW91ci1maW5hbmNpYWwtaW5kZXBlbmRlbmNlLmFzcHjSAWVodHRwczovL3d3dy5mb29sLmNvbS9hbXAvaW52ZXN0aW5nLzIwMjAvMDcvMDQvNS10b3Atc3RvY2tzLXRvLXNlY3VyZS15b3VyLWZpbmFuY2lhbC1pbmRlcGVuZGVuY2UuYXNweA
                        link: https://www.fool.com/investing/2020/07/04/5-top-stocks-to-secure-your-financial-independence.aspx
                        links:
                          - href: https://www.fool.com/investing/2020/07/04/5-top-stocks-to-secure-your-financial-independence.aspx
                            rel: alternate
                            type: text/html
                        published: Sat, 04 Jul 2020 09:51:00 GMT
                        published_parsed:
                          - 2020
                          - 7
                          - 4
                          - 9
                          - 51
                          - 0
                          - 5
                          - 186
                          - 0
                        source:
                          href: https://www.fool.com
                          title: Motley Fool
                        sub_articles: []
                        summary: <a href="https://www.fool.com/investing/2020/07/04/5-top-stocks-to-secure-your-financial-independence.aspx" target="_blank">5 Top Stocks to Secure Your Financial Independence</a>&nbsp;&nbsp;<font color="#6f6f6f">Motley Fool</font>
                        summary_detail:
                          base: ""
                          language: null
                          type: text/html
                          value: <a href="https://www.fool.com/investing/2020/07/04/5-top-stocks-to-secure-your-financial-independence.aspx" target="_blank">5 Top Stocks to Secure Your Financial Independence</a>&nbsp;&nbsp;<font color="#6f6f6f">Motley Fool</font>
                        title: 5 Top Stocks to Secure Your Financial Independence - Motley Fool
                        title_detail:
                          base: ""
                          language: null
                          type: text/plain
                          value: 5 Top Stocks to Secure Your Financial Independence - Motley Fool
                      - guidislink: false
                        id: CBMiZGh0dHBzOi8vd3d3LmZveGJ1c2luZXNzLmNvbS9tYXJrZXRzL3N0b2Nrcy1oYXZlLW1vcmUtcm9vbS10by1ydW4tYWZ0ZXItYmVzdC1xdWFydGVyLWluLW92ZXItMjAteWVhcnPSAWhodHRwczovL3d3dy5mb3hidXNpbmVzcy5jb20vbWFya2V0cy9zdG9ja3MtaGF2ZS1tb3JlLXJvb20tdG8tcnVuLWFmdGVyLWJlc3QtcXVhcnRlci1pbi1vdmVyLTIwLXllYXJzLmFtcA
                        link: https://www.foxbusiness.com/markets/stocks-have-more-room-to-run-after-best-quarter-in-over-20-years
                        links:
                          - href: https://www.foxbusiness.com/markets/stocks-have-more-room-to-run-after-best-quarter-in-over-20-years
                            rel: alternate
                            type: text/html
                        published: Sat, 04 Jul 2020 13:43:06 GMT
                        published_parsed:
                          - 2020
                          - 7
                          - 4
                          - 13
                          - 43
                          - 6
                          - 5
                          - 186
                          - 0
                        source:
                          href: https://www.foxbusiness.com
                          title: Fox Business
                        sub_articles: []
                        summary: <a href="https://www.foxbusiness.com/markets/stocks-have-more-room-to-run-after-best-quarter-in-over-20-years" target="_blank">Stocks set to bound higher despite COVID-19 overshadowing breakout quarter</a>&nbsp;&nbsp;<font color="#6f6f6f">Fox Business</font>
                        summary_detail:
                          base: ""
                          language: null
                          type: text/html
                          value: <a href="https://www.foxbusiness.com/markets/stocks-have-more-room-to-run-after-best-quarter-in-over-20-years" target="_blank">Stocks set to bound higher despite COVID-19 overshadowing breakout quarter</a>&nbsp;&nbsp;<font color="#6f6f6f">Fox Business</font>
                        title: Stocks set to bound higher despite COVID-19 overshadowing breakout quarter - Fox Business
                        title_detail:
                          base: ""
                          language: null
                          type: text/plain
                          value: Stocks set to bound higher despite COVID-19 overshadowing breakout quarter - Fox Business
                      - guidislink: false
                        id: CBMiVGh0dHBzOi8vd3d3LmZvb2wuY29tL2ludmVzdGluZy8yMDIwLzA3LzA0LzMtdG9wLXNtYWxsLWNhcC1zdG9ja3MtdG8tYnV5LWluLWp1bHkuYXNweNIBWGh0dHBzOi8vd3d3LmZvb2wuY29tL2FtcC9pbnZlc3RpbmcvMjAyMC8wNy8wNC8zLXRvcC1zbWFsbC1jYXAtc3RvY2tzLXRvLWJ1eS1pbi1qdWx5LmFzcHg
                        link: https://www.fool.com/investing/2020/07/04/3-top-small-cap-stocks-to-buy-in-july.aspx
                        links:
                          - href: https://www.fool.com/investing/2020/07/04/3-top-small-cap-stocks-to-buy-in-july.aspx
                            rel: alternate
                            type: text/html
                        published: Sat, 04 Jul 2020 19:00:00 GMT
                        published_parsed:
                          - 2020
                          - 7
                          - 4
                          - 19
                          - 0
                          - 0
                          - 5
                          - 186
                          - 0
                        source:
                          href: https://www.fool.com
                          title: Motley Fool
                        sub_articles: []
                        summary: <a href="https://www.fool.com/investing/2020/07/04/3-top-small-cap-stocks-to-buy-in-july.aspx" target="_blank">3 Top Small-Cap Stocks to Buy in July</a>&nbsp;&nbsp;<font color="#6f6f6f">Motley Fool</font>
                        summary_detail:
                          base: ""
                          language: null
                          type: text/html
                          value: <a href="https://www.fool.com/investing/2020/07/04/3-top-small-cap-stocks-to-buy-in-july.aspx" target="_blank">3 Top Small-Cap Stocks to Buy in July</a>&nbsp;&nbsp;<font color="#6f6f6f">Motley Fool</font>
                        title: 3 Top Small-Cap Stocks to Buy in July - Motley Fool
                        title_detail:
                          base: ""
                          language: null
                          type: text/plain
                          value: 3 Top Small-Cap Stocks to Buy in July - Motley Fool
                      - guidislink: false
                        id: CBMiemh0dHBzOi8vd3d3LmZvb2wuY28udWsvaW52ZXN0aW5nLzIwMjAvMDcvMDQvcmV0aXJlbWVudC1zYXZpbmdzLWlkLWJ1eS1jaGVhcC1zdG9ja3MtYWZ0ZXItdGhlLW1hcmtldC1jcmFzaC10by1yZXRpcmUtZWFybHkv0gEA
                        link: https://www.fool.co.uk/investing/2020/07/04/retirement-savings-id-buy-cheap-stocks-after-the-market-crash-to-retire-early/
                        links:
                          - href: https://www.fool.co.uk/investing/2020/07/04/retirement-savings-id-buy-cheap-stocks-after-the-market-crash-to-retire-early/
                            rel: alternate
                            type: text/html
                        published: Sat, 04 Jul 2020 10:41:53 GMT
                        published_parsed:
                          - 2020
                          - 7
                          - 4
                          - 10
                          - 41
                          - 53
                          - 5
                          - 186
                          - 0
                        source:
                          href: https://www.fool.co.uk
                          title: Motley Fool UK
                        sub_articles: []
                        summary: "<a href=\"https://www.fool.co.uk/investing/2020/07/04/retirement-savings-id-buy-cheap-stocks-after-the-market-crash-to-retire-early/\" target=\"_blank\">Retirement savings: I'd buy cheap stocks after the market crash to retire early</a>&nbsp;&nbsp;<font color=\"#6f6f6f\">Motley Fool UK</font>"
                        summary_detail:
                          base: ""
                          language: null
                          type: text/html
                          value: "<a href=\"https://www.fool.co.uk/investing/2020/07/04/retirement-savings-id-buy-cheap-stocks-after-the-market-crash-to-retire-early/\" target=\"_blank\">Retirement savings: I'd buy cheap stocks after the market crash to retire early</a>&nbsp;&nbsp;<font color=\"#6f6f6f\">Motley Fool UK</font>"
                        title: "Retirement savings: I'd buy cheap stocks after the market crash to retire early - Motley Fool UK"
                        title_detail:
                          base: ""
                          language: null
                          type: text/plain
                          value: "Retirement savings: I'd buy cheap stocks after the market crash to retire early - Motley Fool UK"
                      - guidislink: false
                        id: CBMiUGh0dHBzOi8vd3d3LmZvb2wuY29tL2ludmVzdGluZy8yMDIwLzA3LzA0LzMtbGFyZ2UtY2FwLXN0b2Nrcy10by1idXktaW4tanVseS5hc3B40gFUaHR0cHM6Ly93d3cuZm9vbC5jb20vYW1wL2ludmVzdGluZy8yMDIwLzA3LzA0LzMtbGFyZ2UtY2FwLXN0b2Nrcy10by1idXktaW4tanVseS5hc3B4
                        link: https://www.fool.com/investing/2020/07/04/3-large-cap-stocks-to-buy-in-july.aspx
                        links:
                          - href: https://www.fool.com/investing/2020/07/04/3-large-cap-stocks-to-buy-in-july.aspx
                            rel: alternate
                            type: text/html
                        published: Sat, 04 Jul 2020 13:00:00 GMT
                        published_parsed:
                          - 2020
                          - 7
                          - 4
                          - 13
                          - 0
                          - 0
                          - 5
                          - 186
                          - 0
                        source:
                          href: https://www.fool.com
                          title: Motley Fool
                        sub_articles: []
                        summary: <a href="https://www.fool.com/investing/2020/07/04/3-large-cap-stocks-to-buy-in-july.aspx" target="_blank">3 Large-Cap Stocks to Buy in July</a>&nbsp;&nbsp;<font color="#6f6f6f">Motley Fool</font>
                        summary_detail:
                          base: ""
                          language: null
                          type: text/html
                          value: <a href="https://www.fool.com/investing/2020/07/04/3-large-cap-stocks-to-buy-in-july.aspx" target="_blank">3 Large-Cap Stocks to Buy in July</a>&nbsp;&nbsp;<font color="#6f6f6f">Motley Fool</font>
                        title: 3 Large-Cap Stocks to Buy in July - Motley Fool
                        title_detail:
                          base: ""
                          language: null
                          type: text/plain
                          value: 3 Large-Cap Stocks to Buy in July - Motley Fool
                      - guidislink: false
                        id: CBMifWh0dHBzOi8vd3d3LmNuYmMuY29tLzIwMjAvMDcvMDQvaGVyZS1hcmUtc29tZS1kaXZpZGVuZC1zdG9ja3Mtd2l0aC1zdXN0YWluYWJsZS1pbmNvbWUtZm9yLXRoZS1zZWNvbmQtaGFsZi1qZWZmZXJpZXMtc2F5cy5odG1s0gEA
                        link: https://www.cnbc.com/2020/07/04/here-are-some-dividend-stocks-with-sustainable-income-for-the-second-half-jefferies-says.html
                        links:
                          - href: https://www.cnbc.com/2020/07/04/here-are-some-dividend-stocks-with-sustainable-income-for-the-second-half-jefferies-says.html
                            rel: alternate
                            type: text/html
                        published: Sat, 04 Jul 2020 12:22:00 GMT
                        published_parsed:
                          - 2020
                          - 7
                          - 4
                          - 12
                          - 22
                          - 0
                          - 5
                          - 186
                          - 0
                        source:
                          href: https://www.cnbc.com
                          title: CNBC
                        sub_articles: []
                        summary: <a href="https://www.cnbc.com/2020/07/04/here-are-some-dividend-stocks-with-sustainable-income-for-the-second-half-jefferies-says.html" target="_blank">Here are some dividend stocks with sustainable income for the second half, Jefferies says</a>&nbsp;&nbsp;<font color="#6f6f6f">CNBC</font>
                        summary_detail:
                          base: ""
                          language: null
                          type: text/html
                          value: <a href="https://www.cnbc.com/2020/07/04/here-are-some-dividend-stocks-with-sustainable-income-for-the-second-half-jefferies-says.html" target="_blank">Here are some dividend stocks with sustainable income for the second half, Jefferies says</a>&nbsp;&nbsp;<font color="#6f6f6f">CNBC</font>
                        title: Here are some dividend stocks with sustainable income for the second half, Jefferies says - CNBC
                        title_detail:
                          base: ""
                          language: null
                          type: text/plain
                          value: Here are some dividend stocks with sustainable income for the second half, Jefferies says - CNBC
                      - guidislink: false
                        id: CAIiEKCL1QEGVTIA73xRjYlE2QAqFQgEKg0IACoGCAowrqkBMKBFMLKAAg
                        link: https://www.forbes.com/sites/simonmoore/2020/07/03/can-the-stock-market-rally-last/
                        links:
                          - href: https://www.forbes.com/sites/simonmoore/2020/07/03/can-the-stock-market-rally-last/
                            rel: alternate
                            type: text/html
                        published: Fri, 03 Jul 2020 22:10:30 GMT
                        published_parsed:
                          - 2020
                          - 7
                          - 3
                          - 22
                          - 10
                          - 30
                          - 4
                          - 185
                          - 0
                        source:
                          href: https://www.forbes.com
                          title: Forbes
                        sub_articles: []
                        summary: <a href="https://www.forbes.com/sites/simonmoore/2020/07/03/can-the-stock-market-rally-last/" target="_blank">Can The Stock Market Rally Last?</a>&nbsp;&nbsp;<font color="#6f6f6f">Forbes</font>
                        summary_detail:
                          base: ""
                          language: null
                          type: text/html
                          value: <a href="https://www.forbes.com/sites/simonmoore/2020/07/03/can-the-stock-market-rally-last/" target="_blank">Can The Stock Market Rally Last?</a>&nbsp;&nbsp;<font color="#6f6f6f">Forbes</font>
                        title: Can The Stock Market Rally Last? - Forbes
                        title_detail:
                          base: ""
                          language: null
                          type: text/plain
                          value: Can The Stock Market Rally Last? - Forbes
                      - guidislink: false
                        id: CBMiU2h0dHBzOi8vd3d3LmZvb2wuY29tL2ludmVzdGluZy8yMDIwLzA3LzA0LzMtdG9wLWRpdmlkZW5kLXN0b2Nrcy10by1idXktaW4tanVseS5hc3B40gFXaHR0cHM6Ly93d3cuZm9vbC5jb20vYW1wL2ludmVzdGluZy8yMDIwLzA3LzA0LzMtdG9wLWRpdmlkZW5kLXN0b2Nrcy10by1idXktaW4tanVseS5hc3B4
                        link: https://www.fool.com/investing/2020/07/04/3-top-dividend-stocks-to-buy-in-july.aspx
                        links:
                          - href: https://www.fool.com/investing/2020/07/04/3-top-dividend-stocks-to-buy-in-july.aspx
                            rel: alternate
                            type: text/html
                        published: Sat, 04 Jul 2020 13:31:00 GMT
                        published_parsed:
                          - 2020
                          - 7
                          - 4
                          - 13
                          - 31
                          - 0
                          - 5
                          - 186
                          - 0
                        source:
                          href: https://www.fool.com
                          title: Motley Fool
                        sub_articles: []
                        summary: <a href="https://www.fool.com/investing/2020/07/04/3-top-dividend-stocks-to-buy-in-july.aspx" target="_blank">3 Top Dividend Stocks to Buy in July</a>&nbsp;&nbsp;<font color="#6f6f6f">Motley Fool</font>
                        summary_detail:
                          base: ""
                          language: null
                          type: text/html
                          value: <a href="https://www.fool.com/investing/2020/07/04/3-top-dividend-stocks-to-buy-in-july.aspx" target="_blank">3 Top Dividend Stocks to Buy in July</a>&nbsp;&nbsp;<font color="#6f6f6f">Motley Fool</font>
                        title: 3 Top Dividend Stocks to Buy in July - Motley Fool
                        title_detail:
                          base: ""
                          language: null
                          type: text/plain
                          value: 3 Top Dividend Stocks to Buy in July - Motley Fool
                      - guidislink: false
                        id: CBMiYGh0dHBzOi8vd3d3LmZvb2wuY29tL2ludmVzdGluZy8yMDIwLzA3LzA0LzMtcmlkaWN1bG91c2x5LWNoZWFwLWRpdmlkZW5kLXN0b2Nrcy10by1idXktdG9kYXkuYXNweNIBZGh0dHBzOi8vd3d3LmZvb2wuY29tL2FtcC9pbnZlc3RpbmcvMjAyMC8wNy8wNC8zLXJpZGljdWxvdXNseS1jaGVhcC1kaXZpZGVuZC1zdG9ja3MtdG8tYnV5LXRvZGF5LmFzcHg
                        link: https://www.fool.com/investing/2020/07/04/3-ridiculously-cheap-dividend-stocks-to-buy-today.aspx
                        links:
                          - href: https://www.fool.com/investing/2020/07/04/3-ridiculously-cheap-dividend-stocks-to-buy-today.aspx
                            rel: alternate
                            type: text/html
                        published: Sat, 04 Jul 2020 11:02:00 GMT
                        published_parsed:
                          - 2020
                          - 7
                          - 4
                          - 11
                          - 2
                          - 0
                          - 5
                          - 186
                          - 0
                        source:
                          href: https://www.fool.com
                          title: Motley Fool
                        sub_articles: []
                        summary: <a href="https://www.fool.com/investing/2020/07/04/3-ridiculously-cheap-dividend-stocks-to-buy-today.aspx" target="_blank">3 Ridiculously Cheap Dividend Stocks to Buy Today</a>&nbsp;&nbsp;<font color="#6f6f6f">Motley Fool</font>
                        summary_detail:
                          base: ""
                          language: null
                          type: text/html
                          value: <a href="https://www.fool.com/investing/2020/07/04/3-ridiculously-cheap-dividend-stocks-to-buy-today.aspx" target="_blank">3 Ridiculously Cheap Dividend Stocks to Buy Today</a>&nbsp;&nbsp;<font color="#6f6f6f">Motley Fool</font>
                        title: 3 Ridiculously Cheap Dividend Stocks to Buy Today - Motley Fool
                        title_detail:
                          base: ""
                          language: null
                          type: text/plain
                          value: 3 Ridiculously Cheap Dividend Stocks to Buy Today - Motley Fool
                      - guidislink: false
                        id: CAIiECbvr1-xx1zGTfTtFYTIxwMqGAgEKg8IACoHCAowjujJATDXzBUwmJS0AQ
                        link: https://www.marketwatch.com/story/london-stocks-struggle-while-us-markets-are-closed-for-july-4-holiday-2020-07-03
                        links:
                          - href: https://www.marketwatch.com/story/london-stocks-struggle-while-us-markets-are-closed-for-july-4-holiday-2020-07-03
                            rel: alternate
                            type: text/html
                        published: Fri, 03 Jul 2020 13:28:56 GMT
                        published_parsed:
                          - 2020
                          - 7
                          - 3
                          - 13
                          - 28
                          - 56
                          - 4
                          - 185
                          - 0
                        source:
                          href: https://www.marketwatch.com
                          title: MarketWatch
                        sub_articles: []
                        summary: <a href="https://www.marketwatch.com/story/london-stocks-struggle-while-us-markets-are-closed-for-july-4-holiday-2020-07-03" target="_blank">London stocks struggle while U.S. markets are closed for July 4 holiday</a>&nbsp;&nbsp;<font color="#6f6f6f">MarketWatch</font>
                        summary_detail:
                          base: ""
                          language: null
                          type: text/html
                          value: <a href="https://www.marketwatch.com/story/london-stocks-struggle-while-us-markets-are-closed-for-july-4-holiday-2020-07-03" target="_blank">London stocks struggle while U.S. markets are closed for July 4 holiday</a>&nbsp;&nbsp;<font color="#6f6f6f">MarketWatch</font>
                        title: London stocks struggle while U.S. markets are closed for July 4 holiday - MarketWatch
                        title_detail:
                          base: ""
                          language: null
                          type: text/plain
                          value: London stocks struggle while U.S. markets are closed for July 4 holiday - MarketWatch
                      - guidislink: false
                        id: CBMiSmh0dHBzOi8vZmluYW5jZS55YWhvby5jb20vbmV3cy9xdWFudC1mdW5kLWdhaW5zLTEwOC1kdW1waW5nLTIzMDAwMDkxNy5odG1s0gFSaHR0cHM6Ly9maW5hbmNlLnlhaG9vLmNvbS9hbXBodG1sL25ld3MvcXVhbnQtZnVuZC1nYWlucy0xMDgtZHVtcGluZy0yMzAwMDA5MTcuaHRtbA
                        link: https://finance.yahoo.com/news/quant-fund-gains-108-dumping-230000917.html
                        links:
                          - href: https://finance.yahoo.com/news/quant-fund-gains-108-dumping-230000917.html
                            rel: alternate
                            type: text/html
                        published: Sat, 04 Jul 2020 23:00:00 GMT
                        published_parsed:
                          - 2020
                          - 7
                          - 4
                          - 23
                          - 0
                          - 0
                          - 5
                          - 186
                          - 0
                        source:
                          href: https://finance.yahoo.com
                          title: Yahoo Finance
                        sub_articles: []
                        summary: <a href="https://finance.yahoo.com/news/quant-fund-gains-108-dumping-230000917.html" target="_blank">Quant Fund Gains 108% by Dumping China Stocks a Day After Buying</a>&nbsp;&nbsp;<font color="#6f6f6f">Yahoo Finance</font>
                        summary_detail:
                          base: ""
                          language: null
                          type: text/html
                          value: <a href="https://finance.yahoo.com/news/quant-fund-gains-108-dumping-230000917.html" target="_blank">Quant Fund Gains 108% by Dumping China Stocks a Day After Buying</a>&nbsp;&nbsp;<font color="#6f6f6f">Yahoo Finance</font>
                        title: Quant Fund Gains 108% by Dumping China Stocks a Day After Buying - Yahoo Finance
                        title_detail:
                          base: ""
                          language: null
                          type: text/plain
                          value: Quant Fund Gains 108% by Dumping China Stocks a Day After Buying - Yahoo Finance
                      - guidislink: false
                        id: CAIiEGnvBCMpOXaebngl8G98Q2gqGQgEKhAIACoHCAow2Nb3CjDivdcCMMPf7gU
                        link: https://www.cnbc.com/2020/07/04/tech-employees-open-wallets-to-beat-trump-even-as-stocks-profits-soar.html
                        links:
                          - href: https://www.cnbc.com/2020/07/04/tech-employees-open-wallets-to-beat-trump-even-as-stocks-profits-soar.html
                            rel: alternate
                            type: text/html
                        published: Sat, 04 Jul 2020 18:51:32 GMT
                        published_parsed:
                          - 2020
                          - 7
                          - 4
                          - 18
                          - 51
                          - 32
                          - 5
                          - 186
                          - 0
                        source:
                          href: https://www.cnbc.com
                          title: CNBC
                        sub_articles: []
                        summary: <a href="https://www.cnbc.com/2020/07/04/tech-employees-open-wallets-to-beat-trump-even-as-stocks-profits-soar.html" target="_blank">Tech workers are opening their wallets to beat Trump even with stock prices soaring and profits near records</a>&nbsp;&nbsp;<font color="#6f6f6f">CNBC</font>
                        summary_detail:
                          base: ""
                          language: null
                          type: text/html
                          value: <a href="https://www.cnbc.com/2020/07/04/tech-employees-open-wallets-to-beat-trump-even-as-stocks-profits-soar.html" target="_blank">Tech workers are opening their wallets to beat Trump even with stock prices soaring and profits near records</a>&nbsp;&nbsp;<font color="#6f6f6f">CNBC</font>
                        title: Tech workers are opening their wallets to beat Trump even with stock prices soaring and profits near records - CNBC
                        title_detail:
                          base: ""
                          language: null
                          type: text/plain
                          value: Tech workers are opening their wallets to beat Trump even with stock prices soaring and profits near records - CNBC
                      - guidislink: false
                        id: CBMiUmh0dHBzOi8vd3d3LmZvb2wuY29tL2ludmVzdGluZy8yMDIwLzA3LzAzL2hlcmVzLW15LXRvcC1zdG9jay10by1idXktcmlnaHQtbm93LmFzcHjSAVZodHRwczovL3d3dy5mb29sLmNvbS9hbXAvaW52ZXN0aW5nLzIwMjAvMDcvMDMvaGVyZXMtbXktdG9wLXN0b2NrLXRvLWJ1eS1yaWdodC1ub3cuYXNweA
                        link: https://www.fool.com/investing/2020/07/03/heres-my-top-stock-to-buy-right-now.aspx
                        links:
                          - href: https://www.fool.com/investing/2020/07/03/heres-my-top-stock-to-buy-right-now.aspx
                            rel: alternate
                            type: text/html
                        published: Fri, 03 Jul 2020 10:43:00 GMT
                        published_parsed:
                          - 2020
                          - 7
                          - 3
                          - 10
                          - 43
                          - 0
                          - 4
                          - 185
                          - 0
                        source:
                          href: https://www.fool.com
                          title: Motley Fool
                        sub_articles: []
                        summary: <a href="https://www.fool.com/investing/2020/07/03/heres-my-top-stock-to-buy-right-now.aspx" target="_blank">Here's My Top Stock to Buy Right Now</a>&nbsp;&nbsp;<font color="#6f6f6f">Motley Fool</font>
                        summary_detail:
                          base: ""
                          language: null
                          type: text/html
                          value: <a href="https://www.fool.com/investing/2020/07/03/heres-my-top-stock-to-buy-right-now.aspx" target="_blank">Here's My Top Stock to Buy Right Now</a>&nbsp;&nbsp;<font color="#6f6f6f">Motley Fool</font>
                        title: Here's My Top Stock to Buy Right Now - Motley Fool
                        title_detail:
                          base: ""
                          language: null
                          type: text/plain
                          value: Here's My Top Stock to Buy Right Now - Motley Fool
                      - guidislink: false
                        id: CAIiENP2T9YhBhQ0GmnujrSIEnIqGQgEKhAIACoHCAowocv1CjCSptoCMPrTpgU
                        link: https://www.cnn.com/2020/07/02/investing/dow-stock-market-today-jobs-report/index.html
                        links:
                          - href: https://www.cnn.com/2020/07/02/investing/dow-stock-market-today-jobs-report/index.html
                            rel: alternate
                            type: text/html
                        published: Thu, 02 Jul 2020 20:13:02 GMT
                        published_parsed:
                          - 2020
                          - 7
                          - 2
                          - 20
                          - 13
                          - 2
                          - 3
                          - 184
                          - 0
                        source:
                          href: https://www.cnn.com
                          title: CNN
                        sub_articles: []
                        summary: <a href="https://www.cnn.com/2020/07/02/investing/dow-stock-market-today-jobs-report/index.html" target="_blank">Stocks rise after jobs report</a>&nbsp;&nbsp;<font color="#6f6f6f">CNN</font>
                        summary_detail:
                          base: ""
                          language: null
                          type: text/html
                          value: <a href="https://www.cnn.com/2020/07/02/investing/dow-stock-market-today-jobs-report/index.html" target="_blank">Stocks rise after jobs report</a>&nbsp;&nbsp;<font color="#6f6f6f">CNN</font>
                        title: Stocks rise after jobs report - CNN
                        title_detail:
                          base: ""
                          language: null
                          type: text/plain
                          value: Stocks rise after jobs report - CNN
                      - guidislink: false
                        id: CAIiENFUul_j8CKDiPOk_jDwrBEqGAgEKg8IACoHCAow1tzJATDnyxUwyMrPBg
                        link: https://www.wsj.com/articles/global-stock-markets-dow-update-7-03-2020-11593768198
                        links:
                          - href: https://www.wsj.com/articles/global-stock-markets-dow-update-7-03-2020-11593768198
                            rel: alternate
                            type: text/html
                        published: Fri, 03 Jul 2020 16:21:26 GMT
                        published_parsed:
                          - 2020
                          - 7
                          - 3
                          - 16
                          - 21
                          - 26
                          - 4
                          - 185
                          - 0
                        source:
                          href: https://www.wsj.com
                          title: The Wall Street Journal
                        sub_articles: []
                        summary: <a href="https://www.wsj.com/articles/global-stock-markets-dow-update-7-03-2020-11593768198" target="_blank">European Stocks Drift Lower With U.S. Markets Shut</a>&nbsp;&nbsp;<font color="#6f6f6f">The Wall Street Journal</font>
                        summary_detail:
                          base: ""
                          language: null
                          type: text/html
                          value: <a href="https://www.wsj.com/articles/global-stock-markets-dow-update-7-03-2020-11593768198" target="_blank">European Stocks Drift Lower With U.S. Markets Shut</a>&nbsp;&nbsp;<font color="#6f6f6f">The Wall Street Journal</font>
                        title: European Stocks Drift Lower With U.S. Markets Shut - The Wall Street Journal
                        title_detail:
                          base: ""
                          language: null
                          type: text/plain
                          value: European Stocks Drift Lower With U.S. Markets Shut - The Wall Street Journal
                      - guidislink: false
                        id: CBMiW2h0dHBzOi8vcGVubnlzdG9ja3MuY29tL2ZlYXR1cmVkLzIwMjAvMDcvMDQvcGVubnktc3RvY2tzLWJyaW5nLWZpcmV3b3Jrcy1hZnRlci1qdWx5LTQtMjAyMC_SAQA
                        link: https://pennystocks.com/featured/2020/07/04/penny-stocks-bring-fireworks-after-july-4-2020/
                        links:
                          - href: https://pennystocks.com/featured/2020/07/04/penny-stocks-bring-fireworks-after-july-4-2020/
                            rel: alternate
                            type: text/html
                        published: Sat, 04 Jul 2020 19:46:00 GMT
                        published_parsed:
                          - 2020
                          - 7
                          - 4
                          - 19
                          - 46
                          - 0
                          - 5
                          - 186
                          - 0
                        source:
                          href: https://pennystocks.com
                          title: Penny Stocks
                        sub_articles: []
                        summary: <a href="https://pennystocks.com/featured/2020/07/04/penny-stocks-bring-fireworks-after-july-4-2020/" target="_blank">Will These Penny Stocks Bring Fireworks After The 4th?</a>&nbsp;&nbsp;<font color="#6f6f6f">Penny Stocks</font>
                        summary_detail:
                          base: ""
                          language: null
                          type: text/html
                          value: <a href="https://pennystocks.com/featured/2020/07/04/penny-stocks-bring-fireworks-after-july-4-2020/" target="_blank">Will These Penny Stocks Bring Fireworks After The 4th?</a>&nbsp;&nbsp;<font color="#6f6f6f">Penny Stocks</font>
                        title: Will These Penny Stocks Bring Fireworks After The 4th? - Penny Stocks
                        title_detail:
                          base: ""
                          language: null
                          type: text/plain
                          value: Will These Penny Stocks Bring Fireworks After The 4th? - Penny Stocks
                      - guidislink: false
                        id: CBMiWmh0dHBzOi8vd3d3LmZvb2wuY29tL2ludmVzdGluZy8yMDIwLzA3LzA0LzMtdG9wLWNsb3VkLWNvbXB1dGluZy1zdG9ja3MtdG8tYnV5LWluLWp1bHkuYXNweNIBXmh0dHBzOi8vd3d3LmZvb2wuY29tL2FtcC9pbnZlc3RpbmcvMjAyMC8wNy8wNC8zLXRvcC1jbG91ZC1jb21wdXRpbmctc3RvY2tzLXRvLWJ1eS1pbi1qdWx5LmFzcHg
                        link: https://www.fool.com/investing/2020/07/04/3-top-cloud-computing-stocks-to-buy-in-july.aspx
                        links:
                          - href: https://www.fool.com/investing/2020/07/04/3-top-cloud-computing-stocks-to-buy-in-july.aspx
                            rel: alternate
                            type: text/html
                        published: Sat, 04 Jul 2020 20:20:00 GMT
                        published_parsed:
                          - 2020
                          - 7
                          - 4
                          - 20
                          - 20
                          - 0
                          - 5
                          - 186
                          - 0
                        source:
                          href: https://www.fool.com
                          title: Motley Fool
                        sub_articles: []
                        summary: <a href="https://www.fool.com/investing/2020/07/04/3-top-cloud-computing-stocks-to-buy-in-july.aspx" target="_blank">3 Top Cloud Computing Stocks to Buy in July</a>&nbsp;&nbsp;<font color="#6f6f6f">Motley Fool</font>
                        summary_detail:
                          base: ""
                          language: null
                          type: text/html
                          value: <a href="https://www.fool.com/investing/2020/07/04/3-top-cloud-computing-stocks-to-buy-in-july.aspx" target="_blank">3 Top Cloud Computing Stocks to Buy in July</a>&nbsp;&nbsp;<font color="#6f6f6f">Motley Fool</font>
                        title: 3 Top Cloud Computing Stocks to Buy in July - Motley Fool
                        title_detail:
                          base: ""
                          language: null
                          type: text/plain
                          value: 3 Top Cloud Computing Stocks to Buy in July - Motley Fool
                      - guidislink: false
                        id: CBMiggFodHRwczovL3d3dy5pbnZlc3RvcnNjaHJvbmljbGUuY28udWsvY29tbWVudC8yMDIwLzA3LzAzL21hcmtldC1vdXRsb29rLXN0b2Nrcy1zdGVhZHktYXMtcHVicy1wcmVwYXJlLXRvLXJlb3Blbi1yaW8tdGludG8tY21jLW1vcmUv0gEA
                        link: https://www.investorschronicle.co.uk/comment/2020/07/03/market-outlook-stocks-steady-as-pubs-prepare-to-reopen-rio-tinto-cmc-more/
                        links:
                          - href: https://www.investorschronicle.co.uk/comment/2020/07/03/market-outlook-stocks-steady-as-pubs-prepare-to-reopen-rio-tinto-cmc-more/
                            rel: alternate
                            type: text/html
                        published: Fri, 03 Jul 2020 08:34:28 GMT
                        published_parsed:
                          - 2020
                          - 7
                          - 3
                          - 8
                          - 34
                          - 28
                          - 4
                          - 185
                          - 0
                        source:
                          href: https://www.investorschronicle.co.uk
                          title: Investors Chronicle
                        sub_articles: []
                        summary: '<a href="https://www.investorschronicle.co.uk/comment/2020/07/03/market-outlook-stocks-steady-as-pubs-prepare-to-reopen-rio-tinto-cmc-more/" target="_blank">Market Outlook: Stocks steady as pubs prepare to reopen, Rio Tinto, CMC & more</a>&nbsp;&nbsp;<font color="#6f6f6f">Investors Chronicle</font>'
                        summary_detail:
                          base: ""
                          language: null
                          type: text/html
                          value: '<a href="https://www.investorschronicle.co.uk/comment/2020/07/03/market-outlook-stocks-steady-as-pubs-prepare-to-reopen-rio-tinto-cmc-more/" target="_blank">Market Outlook: Stocks steady as pubs prepare to reopen, Rio Tinto, CMC & more</a>&nbsp;&nbsp;<font color="#6f6f6f">Investors Chronicle</font>'
                        title: "Market Outlook: Stocks steady as pubs prepare to reopen, Rio Tinto, CMC & more - Investors Chronicle"
                        title_detail:
                          base: ""
                          language: null
                          type: text/plain
                          value: "Market Outlook: Stocks steady as pubs prepare to reopen, Rio Tinto, CMC & more - Investors Chronicle"
                      - guidislink: false
                        id: CBMiYWh0dHBzOi8vd3d3LmZvb2wuY29tL2ludmVzdGluZy8yMDIwLzA3LzA0L3doeS1lc2ctc3RvY2tzLWFyZS1wZXJmZWN0LWZvci1yZXRpcmVtZW50LXBvcnRmb2xpLmFzcHjSAWVodHRwczovL3d3dy5mb29sLmNvbS9hbXAvaW52ZXN0aW5nLzIwMjAvMDcvMDQvd2h5LWVzZy1zdG9ja3MtYXJlLXBlcmZlY3QtZm9yLXJldGlyZW1lbnQtcG9ydGZvbGkuYXNweA
                        link: https://www.fool.com/investing/2020/07/04/why-esg-stocks-are-perfect-for-retirement-portfoli.aspx
                        links:
                          - href: https://www.fool.com/investing/2020/07/04/why-esg-stocks-are-perfect-for-retirement-portfoli.aspx
                            rel: alternate
                            type: text/html
                        published: Sat, 04 Jul 2020 11:20:00 GMT
                        published_parsed:
                          - 2020
                          - 7
                          - 4
                          - 11
                          - 20
                          - 0
                          - 5
                          - 186
                          - 0
                        source:
                          href: https://www.fool.com
                          title: Motley Fool
                        sub_articles: []
                        summary: <a href="https://www.fool.com/investing/2020/07/04/why-esg-stocks-are-perfect-for-retirement-portfoli.aspx" target="_blank">Why ESG Stocks Are Perfect for Retirement Portfolios</a>&nbsp;&nbsp;<font color="#6f6f6f">Motley Fool</font>
                        summary_detail:
                          base: ""
                          language: null
                          type: text/html
                          value: <a href="https://www.fool.com/investing/2020/07/04/why-esg-stocks-are-perfect-for-retirement-portfoli.aspx" target="_blank">Why ESG Stocks Are Perfect for Retirement Portfolios</a>&nbsp;&nbsp;<font color="#6f6f6f">Motley Fool</font>
                        title: Why ESG Stocks Are Perfect for Retirement Portfolios - Motley Fool
                        title_detail:
                          base: ""
                          language: null
                          type: text/plain
                          value: Why ESG Stocks Are Perfect for Retirement Portfolios - Motley Fool
                      - guidislink: false
                        id: CBMiYGh0dHBzOi8vbmFpcmFtZXRyaWNzLmNvbS8yMDIwLzA3LzAzL2dsb2JhbC1zdG9ja3Mtc3VyZ2UtdHJpZ2dlcmVkLWJ5LXByb21pc2luZy1jb3ZpZC0xOS12YWNjaW5lL9IBAA
                        link: https://nairametrics.com/2020/07/03/global-stocks-surge-triggered-by-promising-covid-19-vaccine/
                        links:
                          - href: https://nairametrics.com/2020/07/03/global-stocks-surge-triggered-by-promising-covid-19-vaccine/
                            rel: alternate
                            type: text/html
                        published: Fri, 03 Jul 2020 07:02:55 GMT
                        published_parsed:
                          - 2020
                          - 7
                          - 3
                          - 7
                          - 2
                          - 55
                          - 4
                          - 185
                          - 0
                        source:
                          href: https://nairametrics.com
                          title: Nairametrics
                        sub_articles: []
                        summary: <a href="https://nairametrics.com/2020/07/03/global-stocks-surge-triggered-by-promising-covid-19-vaccine/" target="_blank">Global stocks surge triggered by promising COVID-19 vaccine</a>&nbsp;&nbsp;<font color="#6f6f6f">Nairametrics</font>
                        summary_detail:
                          base: ""
                          language: null
                          type: text/html
                          value: <a href="https://nairametrics.com/2020/07/03/global-stocks-surge-triggered-by-promising-covid-19-vaccine/" target="_blank">Global stocks surge triggered by promising COVID-19 vaccine</a>&nbsp;&nbsp;<font color="#6f6f6f">Nairametrics</font>
                        title: Global stocks surge triggered by promising COVID-19 vaccine - Nairametrics
                        title_detail:
                          base: ""
                          language: null
                          type: text/plain
                          value: Global stocks surge triggered by promising COVID-19 vaccine - Nairametrics
                      - guidislink: false
                        id: CBMiV2h0dHBzOi8vd3d3LmZvb2wuY29tL2ludmVzdGluZy8yMDIwLzA3LzA0LzMtdG9wLXN0YXktYXQtaG9tZS1zdG9ja3MtdG8tYnV5LWluLWp1bHkuYXNweNIBW2h0dHBzOi8vd3d3LmZvb2wuY29tL2FtcC9pbnZlc3RpbmcvMjAyMC8wNy8wNC8zLXRvcC1zdGF5LWF0LWhvbWUtc3RvY2tzLXRvLWJ1eS1pbi1qdWx5LmFzcHg
                        link: https://www.fool.com/investing/2020/07/04/3-top-stay-at-home-stocks-to-buy-in-july.aspx
                        links:
                          - href: https://www.fool.com/investing/2020/07/04/3-top-stay-at-home-stocks-to-buy-in-july.aspx
                            rel: alternate
                            type: text/html
                        published: Sat, 04 Jul 2020 17:00:00 GMT
                        published_parsed:
                          - 2020
                          - 7
                          - 4
                          - 17
                          - 0
                          - 0
                          - 5
                          - 186
                          - 0
                        source:
                          href: https://www.fool.com
                          title: Motley Fool
                        sub_articles: []
                        summary: <a href="https://www.fool.com/investing/2020/07/04/3-top-stay-at-home-stocks-to-buy-in-july.aspx" target="_blank">3 Top Stay-at-Home Stocks to Buy in July</a>&nbsp;&nbsp;<font color="#6f6f6f">Motley Fool</font>
                        summary_detail:
                          base: ""
                          language: null
                          type: text/html
                          value: <a href="https://www.fool.com/investing/2020/07/04/3-top-stay-at-home-stocks-to-buy-in-july.aspx" target="_blank">3 Top Stay-at-Home Stocks to Buy in July</a>&nbsp;&nbsp;<font color="#6f6f6f">Motley Fool</font>
                        title: 3 Top Stay-at-Home Stocks to Buy in July - Motley Fool
                        title_detail:
                          base: ""
                          language: null
                          type: text/plain
                          value: 3 Top Stay-at-Home Stocks to Buy in July - Motley Fool
                      - guidislink: false
                        id: CAIiEGadQUIC2TxWSxgGKXQeMTcqFwgEKg8IACoHCAowjuuKAzCWrzwwqIQY
                        link: https://www.nytimes.com/2020/07/03/opinion/stock-market.html
                        links:
                          - href: https://www.nytimes.com/2020/07/03/opinion/stock-market.html
                            rel: alternate
                            type: text/html
                        published: Fri, 03 Jul 2020 20:57:33 GMT
                        published_parsed:
                          - 2020
[...]
