swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Deployment Admin Client.
  title: DeploymentAdminClient
  version: 2019-01-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/deployment/Microsoft.Deployment.Admin/preview/2019-01-01/ActionPlanOperation.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-ActionPlanOperation
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Authorization uses an Azure Active Directory OAuth2 flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  OperationIdParameter:
    description: Identifier of the action plan operation.
    in: path
    name: operationId
    required: true
    type: string
    x-ms-parameter-location: method
  PlanIdParameter:
    description: Identifier of the action plan.
    in: path
    name: planId
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/actionPlans/{planId}/operations":
    get:
      description: Lists the action plan operations
      operationId: ActionPlanOperations_List
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - $ref: "#/parameters/PlanIdParameter"
        - default: 2019-01-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ActionPlanOperationsList"
      tags:
        - ActionPlanOperations
      x-ms-examples:
        Lists the action plan operations:
          parameters:
            api-version: 2019-01-01
            location: global
            operationId: DeploySubOwnerResources
            planId: 5f7d40b0-c504-4ebe-9db2-6f906d0faf6e
            productId: Microsoft.IotHubPreview.1.0.2
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/be8b2e19-7f92-4644-b808-a18283aebb01/providers/Microsoft.Deployment.Admin/locations/global/actionplans/5f7d40b0-c504-4ebe-9db2-6f906d0faf6e/operations/DeploySubOwnerResources
                    name: global/5f7d40b0-c504-4ebe-9db2-6f906d0faf6e/DeploySubOwnerResources
                    properties:
                      description: Script demonstrating how to deploy resources from subscription owner access.
                      endTime: 2019-10-15T19:36:29.4432822Z
                      outputs:
                        providerIdentity:
                          applicationId: 99011b1e-4056-44d0-b1a2-9c9ed959f024
                          certificates:
                            - secretUri: https://null-provider-vault.adminvault.redmond.ext-n22r1708.masd.stbtest.microsoft.com/secrets/ProviderIdentityClientCertPublic
                          displayName: Azure Stack - NullProvider App
                          graphApiVersion: "1.6"
                          graphBaseEndpoint: https://graph.windows.net/
                          graphResource: https://graph.windows.net/
                          identifierUriPrefix: nullprovider
                          identifierUris:
                            - https://nullprovider.rp.azurestackci02.onmicrosoft.com/3d6d059d-5b08-4432-bc39-a29fe8de30c1
                          identitySystem: AzureAD
                          loginBaseEndpoint: https://login.microsoftonline.com/
                          provisioningState: Succeeded
                          servicePrincipalObjectId: b0121fa7-fcdb-4d09-80ef-cdcc9d04493b
                          tenantId: 6a8092d6-08d4-45af-894a-121400ef36a1
                        result: true
                        vault:
                          id: /subscriptions/ca13578c-6d3b-4478-b63e-a65c89601d86/resourceGroups/Microsoft.NullProvider/providers/Microsoft.KeyVault/vaults/null-provider-vault
                          name: null-provider-vault
                      parameters:
                        providerIdentity:
                          applicationId: 99011b1e-4056-44d0-b1a2-9c9ed959f024
                          certificates:
                            - secretUri: https://null-provider-vault.adminvault.redmond.ext-n22r1708.masd.stbtest.microsoft.com/secrets/ProviderIdentityClientCertPublic
                          displayName: Azure Stack - NullProvider App
                          graphApiVersion: "1.6"
                          graphBaseEndpoint: https://graph.windows.net/
                          graphResource: https://graph.windows.net/
                          identifierUriPrefix: nullprovider
                          identifierUris:
                            - https://nullprovider.rp.azurestackci02.onmicrosoft.com/3d6d059d-5b08-4432-bc39-a29fe8de30c1
                          identitySystem: AzureAD
                          loginBaseEndpoint: https://login.microsoftonline.com/
                          provisioningState: Succeeded
                          servicePrincipalObjectId: b0121fa7-fcdb-4d09-80ef-cdcc9d04493b
                          tenantId: 6a8092d6-08d4-45af-894a-121400ef36a1
                        result: true
                        vault:
                          id: /subscriptions/ca13578c-6d3b-4478-b63e-a65c89601d86/resourceGroups/Microsoft.NullProvider/providers/Microsoft.KeyVault/vaults/null-provider-vault
                          name: null-provider-vault
                      provisioningState: Succeeded
                      startTime: 2019-10-15T19:35:23.8889341Z
                      title: Deploy Subscription Owner RG
                      type: Script
                    type: Microsoft.Deployment.Admin/locations/actionplans/operations
                  - id: /subscriptions/be8b2e19-7f92-4644-b808-a18283aebb01/providers/Microsoft.Deployment.Admin/locations/global/actionplans/5f7d40b0-c504-4ebe-9db2-6f906d0faf6e/operations/Configure
                    name: global/5f7d40b0-c504-4ebe-9db2-6f906d0faf6e/Configure
                    properties:
                      description: Sample script demonstrating how to connect to ARM and how get secrets from provider's vault.
                      endTime: 2019-10-15T19:35:23.7610359Z
                      outputs:
                        providerIdentity:
                          applicationId: 99011b1e-4056-44d0-b1a2-9c9ed959f024
                          certificates:
                            - secretUri: https://null-provider-vault.adminvault.redmond.ext-n22r1708.masd.stbtest.microsoft.com/secrets/ProviderIdentityClientCertPublic
                          displayName: Azure Stack - NullProvider App
                          graphApiVersion: "1.6"
                          graphBaseEndpoint: https://graph.windows.net/
                          graphResource: https://graph.windows.net/
                          identifierUriPrefix: nullprovider
                          identifierUris:
                            - https://nullprovider.rp.azurestackci02.onmicrosoft.com/3d6d059d-5b08-4432-bc39-a29fe8de30c1
                          identitySystem: AzureAD
                          loginBaseEndpoint: https://login.microsoftonline.com/
                          provisioningState: Succeeded
                          servicePrincipalObjectId: b0121fa7-fcdb-4d09-80ef-cdcc9d04493b
                          tenantId: 6a8092d6-08d4-45af-894a-121400ef36a1
                        result: true
                        vault:
                          id: /subscriptions/ca13578c-6d3b-4478-b63e-a65c89601d86/resourceGroups/Microsoft.NullProvider/providers/Microsoft.KeyVault/vaults/null-provider-vault
                          name: null-provider-vault
                      parameters:
                        providerIdentity:
                          applicationId: 99011b1e-4056-44d0-b1a2-9c9ed959f024
                          certificates:
                            - secretUri: https://null-provider-vault.adminvault.redmond.ext-n22r1708.masd.stbtest.microsoft.com/secrets/ProviderIdentityClientCertPublic
                          displayName: Azure Stack - NullProvider App
                          graphApiVersion: "1.6"
                          graphBaseEndpoint: https://graph.windows.net/
                          graphResource: https://graph.windows.net/
                          identifierUriPrefix: nullprovider
                          identifierUris:
                            - https://nullprovider.rp.azurestackci02.onmicrosoft.com/3d6d059d-5b08-4432-bc39-a29fe8de30c1
                          identitySystem: AzureAD
                          loginBaseEndpoint: https://login.microsoftonline.com/
                          provisioningState: Succeeded
                          servicePrincipalObjectId: b0121fa7-fcdb-4d09-80ef-cdcc9d04493b
                          tenantId: 6a8092d6-08d4-45af-894a-121400ef36a1
                        vault:
                          id: /subscriptions/ca13578c-6d3b-4478-b63e-a65c89601d86/resourceGroups/Microsoft.NullProvider/providers/Microsoft.KeyVault/vaults/null-provider-vault
                          name: null-provider-vault
                      provisioningState: Succeeded
                      startTime: 2019-10-15T19:33:58.9810782Z
                      title: Configure Something
                      type: Script
                    type: Microsoft.Deployment.Admin/locations/actionplans/operations
                  - id: /subscriptions/be8b2e19-7f92-4644-b808-a18283aebb01/providers/Microsoft.Deployment.Admin/locations/global/actionplans/5f7d40b0-c504-4ebe-9db2-6f906d0faf6e/operations/Secrets
                    name: global/5f7d40b0-c504-4ebe-9db2-6f906d0faf6e/Secrets
                    properties:
                      description: Import external secrets and/or create internal secrets.
                      endTime: 2019-10-15T19:33:58.9185836Z
                      outputs:
                        providerIdentity:
                          applicationId: 99011b1e-4056-44d0-b1a2-9c9ed959f024
                          certificates:
                            - secretUri: https://null-provider-vault.adminvault.redmond.ext-n22r1708.masd.stbtest.microsoft.com/secrets/ProviderIdentityClientCertPublic
                          displayName: Azure Stack - NullProvider App
                          graphApiVersion: "1.6"
                          graphBaseEndpoint: https://graph.windows.net/
                          graphResource: https://graph.windows.net/
                          identifierUriPrefix: nullprovider
                          identifierUris:
                            - https://nullprovider.rp.azurestackci02.onmicrosoft.com/3d6d059d-5b08-4432-bc39-a29fe8de30c1
                          identitySystem: AzureAD
                          loginBaseEndpoint: https://login.microsoftonline.com/
                          provisioningState: Succeeded
                          servicePrincipalObjectId: b0121fa7-fcdb-4d09-80ef-cdcc9d04493b
                          tenantId: 6a8092d6-08d4-45af-894a-121400ef36a1
                        vault:
                          id: /subscriptions/ca13578c-6d3b-4478-b63e-a65c89601d86/resourceGroups/Microsoft.NullProvider/providers/Microsoft.KeyVault/vaults/null-provider-vault
                          name: null-provider-vault
                      parameters:
                        providerIdentity:
                          applicationId: 99011b1e-4056-44d0-b1a2-9c9ed959f024
                          certificates:
                            - secretUri: https://null-provider-vault.adminvault.redmond.ext-n22r1708.masd.stbtest.microsoft.com/secrets/ProviderIdentityClientCertPublic
                          displayName: Azure Stack - NullProvider App
                          graphApiVersion: "1.6"
                          graphBaseEndpoint: https://graph.windows.net/
                          graphResource: https://graph.windows.net/
                          identifierUriPrefix: nullprovider
                          identifierUris:
                            - https://nullprovider.rp.azurestackci02.onmicrosoft.com/3d6d059d-5b08-4432-bc39-a29fe8de30c1
                          identitySystem: AzureAD
                          loginBaseEndpoint: https://login.microsoftonline.com/
                          provisioningState: Succeeded
                          servicePrincipalObjectId: b0121fa7-fcdb-4d09-80ef-cdcc9d04493b
                          tenantId: 6a8092d6-08d4-45af-894a-121400ef36a1
                        vault:
                          id: /subscriptions/ca13578c-6d3b-4478-b63e-a65c89601d86/resourceGroups/Microsoft.NullProvider/providers/Microsoft.KeyVault/vaults/null-provider-vault
                          name: null-provider-vault
                      provisioningState: Succeeded
                      startTime: 2019-10-15T19:33:00.5573558Z
                      title: Import and/or Create Secrets
                      type: Template
                    type: Microsoft.Deployment.Admin/locations/actionplans/operations
                  - id: /subscriptions/be8b2e19-7f92-4644-b808-a18283aebb01/providers/Microsoft.Deployment.Admin/locations/global/actionplans/5f7d40b0-c504-4ebe-9db2-6f906d0faf6e/operations/AddSubscriptionOwner
                    name: global/5f7d40b0-c504-4ebe-9db2-6f906d0faf6e/AddSubscriptionOwner
                    properties:
                      description: Grant subscription owner access to the add-on RP
                      endTime: 2019-10-15T19:33:00.5417235Z
                      outputs:
                        providerIdentity:
                          applicationId: 99011b1e-4056-44d0-b1a2-9c9ed959f024
                          certificates:
                            - secretUri: https://null-provider-vault.adminvault.redmond.ext-n22r1708.masd.stbtest.microsoft.com/secrets/ProviderIdentityClientCertPublic
                          displayName: Azure Stack - NullProvider App
                          graphApiVersion: "1.6"
                          graphBaseEndpoint: https://graph.windows.net/
                          graphResource: https://graph.windows.net/
                          identifierUriPrefix: nullprovider
                          identifierUris:
                            - https://nullprovider.rp.azurestackci02.onmicrosoft.com/3d6d059d-5b08-4432-bc39-a29fe8de30c1
                          identitySystem: AzureAD
                          loginBaseEndpoint: https://login.microsoftonline.com/
                          provisioningState: Succeeded
                          servicePrincipalObjectId: b0121fa7-fcdb-4d09-80ef-cdcc9d04493b
                          tenantId: 6a8092d6-08d4-45af-894a-121400ef36a1
                        vault:
                          id: /subscriptions/ca13578c-6d3b-4478-b63e-a65c89601d86/resourceGroups/Microsoft.NullProvider/providers/Microsoft.KeyVault/vaults/null-provider-vault
                          name: null-provider-vault
                      parameters:
                        providerIdentity:
                          applicationId: 99011b1e-4056-44d0-b1a2-9c9ed959f024
                          certificates:
                            - secretUri: https://null-provider-vault.adminvault.redmond.ext-n22r1708.masd.stbtest.microsoft.com/secrets/ProviderIdentityClientCertPublic
                          displayName: Azure Stack - NullProvider App
                          graphApiVersion: "1.6"
                          graphBaseEndpoint: https://graph.windows.net/
                          graphResource: https://graph.windows.net/
                          identifierUriPrefix: nullprovider
                          identifierUris:
                            - https://nullprovider.rp.azurestackci02.onmicrosoft.com/3d6d059d-5b08-4432-bc39-a29fe8de30c1
                          identitySystem: AzureAD
                          loginBaseEndpoint: https://login.microsoftonline.com/
                          provisioningState: Succeeded
                          servicePrincipalObjectId: b0121fa7-fcdb-4d09-80ef-cdcc9d04493b
                          tenantId: 6a8092d6-08d4-45af-894a-121400ef36a1
                        vault:
                          id: /subscriptions/ca13578c-6d3b-4478-b63e-a65c89601d86/resourceGroups/Microsoft.NullProvider/providers/Microsoft.KeyVault/vaults/null-provider-vault
                          name: null-provider-vault
                      provisioningState: Succeeded
                      startTime: 2019-10-15T19:32:59.882963Z
                      title: Add Subscription Owner
                      type: AddSubscriptionOwner
                    type: Microsoft.Deployment.Admin/locations/actionplans/operations
                  - id: /subscriptions/be8b2e19-7f92-4644-b808-a18283aebb01/providers/Microsoft.Deployment.Admin/locations/global/actionplans/5f7d40b0-c504-4ebe-9db2-6f906d0faf6e/operations/SetVaultAccessPolicies
                    name: global/5f7d40b0-c504-4ebe-9db2-6f906d0faf6e/SetVaultAccessPolicies
                    properties:
                      description: Grant access to provider's vault to provider's identity.
                      endTime: 2019-10-15T19:32:59.8360901Z
                      outputs:
                        providerIdentity:
                          applicationId: 99011b1e-4056-44d0-b1a2-9c9ed959f024
                          certificates:
                            - secretUri: https://null-provider-vault.adminvault.redmond.ext-n22r1708.masd.stbtest.microsoft.com/secrets/ProviderIdentityClientCertPublic
                          displayName: Azure Stack - NullProvider App
                          graphApiVersion: "1.6"
                          graphBaseEndpoint: https://graph.windows.net/
                          graphResource: https://graph.windows.net/
                          identifierUriPrefix: nullprovider
                          identifierUris:
                            - https://nullprovider.rp.azurestackci02.onmicrosoft.com/3d6d059d-5b08-4432-bc39-a29fe8de30c1
                          identitySystem: AzureAD
                          loginBaseEndpoint: https://login.microsoftonline.com/
                          provisioningState: Succeeded
                          servicePrincipalObjectId: b0121fa7-fcdb-4d09-80ef-cdcc9d04493b
                          tenantId: 6a8092d6-08d4-45af-894a-121400ef36a1
                        vault:
                          id: /subscriptions/ca13578c-6d3b-4478-b63e-a65c89601d86/resourceGroups/Microsoft.NullProvider/providers/Microsoft.KeyVault/vaults/null-provider-vault
                          name: null-provider-vault
                      parameters:
                        providerIdentity:
                          applicationId: 99011b1e-4056-44d0-b1a2-9c9ed959f024
                          certificates:
                            - secretUri: https://null-provider-vault.adminvault.redmond.ext-n22r1708.masd.stbtest.microsoft.com/secrets/ProviderIdentityClientCertPublic
                          displayName: Azure Stack - NullProvider App
                          graphApiVersion: "1.6"
                          graphBaseEndpoint: https://graph.windows.net/
                          graphResource: https://graph.windows.net/
                          identifierUriPrefix: nullprovider
                          identifierUris:
                            - https://nullprovider.rp.azurestackci02.onmicrosoft.com/3d6d059d-5b08-4432-bc39-a29fe8de30c1
                          identitySystem: AzureAD
                          loginBaseEndpoint: https://login.microsoftonline.com/
                          provisioningState: Succeeded
                          servicePrincipalObjectId: b0121fa7-fcdb-4d09-80ef-cdcc9d04493b
                          tenantId: 6a8092d6-08d4-45af-894a-121400ef36a1
                        vault:
                          id: /subscriptions/ca13578c-6d3b-4478-b63e-a65c89601d86/resourceGroups/Microsoft.NullProvider/providers/Microsoft.KeyVault/vaults/null-provider-vault
                          name: null-provider-vault
                      provisioningState: Succeeded
                      startTime: 2019-10-15T19:32:00.433533Z
                      title: Set Vault Access Policies
                      type: Template
                    type: Microsoft.Deployment.Admin/locations/actionplans/operations
                  - id: /subscriptions/be8b2e19-7f92-4644-b808-a18283aebb01/providers/Microsoft.Deployment.Admin/locations/global/actionplans/5f7d40b0-c504-4ebe-9db2-6f906d0faf6e/operations/Identity
                    name: global/5f7d40b0-c504-4ebe-9db2-6f906d0faf6e/Identity
                    properties:
                      description: Create provider's identity.
                      endTime: 2019-10-15T19:32:00.3866607Z
                      outputs:
                        providerIdentity:
                          applicationId: 99011b1e-4056-44d0-b1a2-9c9ed959f024
                          certificates:
                            - secretUri: https://null-provider-vault.adminvault.redmond.ext-n22r1708.masd.stbtest.microsoft.com/secrets/ProviderIdentityClientCertPublic
                          displayName: Azure Stack - NullProvider App
                          graphApiVersion: "1.6"
                          graphBaseEndpoint: https://graph.windows.net/
                          graphResource: https://graph.windows.net/
                          identifierUriPrefix: nullprovider
                          identifierUris:
                            - https://nullprovider.rp.azurestackci02.onmicrosoft.com/3d6d059d-5b08-4432-bc39-a29fe8de30c1
                          identitySystem: AzureAD
                          loginBaseEndpoint: https://login.microsoftonline.com/
                          provisioningState: Succeeded
                          servicePrincipalObjectId: b0121fa7-fcdb-4d09-80ef-cdcc9d04493b
                          tenantId: 6a8092d6-08d4-45af-894a-121400ef36a1
                        vault:
                          id: /subscriptions/ca13578c-6d3b-4478-b63e-a65c89601d86/resourceGroups/Microsoft.NullProvider/providers/Microsoft.KeyVault/vaults/null-provider-vault
                          name: null-provider-vault
                      parameters:
                        vault:
                          id: /subscriptions/ca13578c-6d3b-4478-b63e-a65c89601d86/resourceGroups/Microsoft.NullProvider/providers/Microsoft.KeyVault/vaults/null-provider-vault
                          name: null-provider-vault
                      provisioningState: Succeeded
                      startTime: 2019-10-15T19:30:30.1106752Z
                      title: Create Identity
                      type: Template
                    type: Microsoft.Deployment.Admin/locations/actionplans/operations
                  - id: /subscriptions/be8b2e19-7f92-4644-b808-a18283aebb01/providers/Microsoft.Deployment.Admin/locations/global/actionplans/5f7d40b0-c504-4ebe-9db2-6f906d0faf6e/operations/CreateVault
                    name: global/5f7d40b0-c504-4ebe-9db2-6f906d0faf6e/CreateVault
                    properties:
                      description: Create provider's vault with minimal access policies.
                      endTime: 2019-10-15T19:30:30.0794295Z
                      outputs:
                        vault:
                          id: /subscriptions/ca13578c-6d3b-4478-b63e-a65c89601d86/resourceGroups/Microsoft.NullProvider/providers/Microsoft.KeyVault/vaults/null-provider-vault
                          name: null-provider-vault
                      parameters:
                        vault:
                          id: /subscriptions/ca13578c-6d3b-4478-b63e-a65c89601d86/resourceGroups/Microsoft.NullProvider/providers/Microsoft.KeyVault/vaults/null-provider-vault
                          name: null-provider-vault
                      provisioningState: Succeeded
                      startTime: 2019-10-15T19:29:56.6504711Z
                      title: Create Vault
                      type: Template
                    type: Microsoft.Deployment.Admin/locations/actionplans/operations
                  - id: /subscriptions/be8b2e19-7f92-4644-b808-a18283aebb01/providers/Microsoft.Deployment.Admin/locations/global/actionplans/5f7d40b0-c504-4ebe-9db2-6f906d0faf6e/operations/Constants
                    name: global/5f7d40b0-c504-4ebe-9db2-6f906d0faf6e/Constants
                    properties:
                      description: Create deployment constants.
                      endTime: 2019-10-15T19:29:56.6348495Z
                      outputs:
                        vault:
                          id: /subscriptions/ca13578c-6d3b-4478-b63e-a65c89601d86/resourceGroups/Microsoft.NullProvider/providers/Microsoft.KeyVault/vaults/null-provider-vault
                          name: null-provider-vault
                      parameters: {}
                      provisioningState: Succeeded
                      startTime: 2019-10-15T19:29:22.7017314Z
                      title: Create Constants
                      type: Template
                    type: Microsoft.Deployment.Admin/locations/actionplans/operations
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/actionPlans/{planId}/operations/{operationId}":
    get:
      description: Gets the specified action plan operation
      operationId: ActionPlanOperations_Get
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - $ref: "#/parameters/PlanIdParameter"
        - $ref: "#/parameters/OperationIdParameter"
        - default: 2019-01-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ActionPlanOperationResourceEntity"
        "404":
          description: NOT FOUND
      tags:
        - ActionPlanOperations
      x-ms-examples:
        Gets the specified action plan operation:
          parameters:
            api-version: 2019-01-01
            location: global
            operationId: DeploySubOwnerResources
            planId: 5f7d40b0-c504-4ebe-9db2-6f906d0faf6e
            productId: Microsoft.IotHubPreview.1.0.2
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/be8b2e19-7f92-4644-b808-a18283aebb01/providers/Microsoft.Deployment.Admin/locations/global/actionplans/5f7d40b0-c504-4ebe-9db2-6f906d0faf6e/operations/DeploySubOwnerResources
                name: global/5f7d40b0-c504-4ebe-9db2-6f906d0faf6e/DeploySubOwnerResources
                properties:
                  description: Script demonstrating how to deploy resources from subscription owner access.
                  endTime: 2019-10-15T19:36:29.4432822Z
                  outputs:
                    providerIdentity:
                      applicationId: 99011b1e-4056-44d0-b1a2-9c9ed959f024
                      certificates:
                        - secretUri: https://null-provider-vault.adminvault.redmond.ext-n22r1708.masd.stbtest.microsoft.com/secrets/ProviderIdentityClientCertPublic
                      displayName: Azure Stack - NullProvider App
                      graphApiVersion: "1.6"
                      graphBaseEndpoint: https://graph.windows.net/
                      graphResource: https://graph.windows.net/
                      identifierUriPrefix: nullprovider
                      identifierUris:
                        - https://nullprovider.rp.azurestackci02.onmicrosoft.com/3d6d059d-5b08-4432-bc39-a29fe8de30c1
                      identitySystem: AzureAD
                      loginBaseEndpoint: https://login.microsoftonline.com/
                      provisioningState: Succeeded
                      servicePrincipalObjectId: b0121fa7-fcdb-4d09-80ef-cdcc9d04493b
                      tenantId: 6a8092d6-08d4-45af-894a-121400ef36a1
                    result: true
                    vault:
                      id: /subscriptions/ca13578c-6d3b-4478-b63e-a65c89601d86/resourceGroups/Microsoft.NullProvider/providers/Microsoft.KeyVault/vaults/null-provider-vault
                      name: null-provider-vault
                  parameters:
                    providerIdentity:
                      applicationId: 99011b1e-4056-44d0-b1a2-9c9ed959f024
                      certificates:
                        - secretUri: https://null-provider-vault.adminvault.redmond.ext-n22r1708.masd.stbtest.microsoft.com/secrets/ProviderIdentityClientCertPublic
                      displayName: Azure Stack - NullProvider App
                      graphApiVersion: "1.6"
                      graphBaseEndpoint: https://graph.windows.net/
                      graphResource: https://graph.windows.net/
                      identifierUriPrefix: nullprovider
                      identifierUris:
                        - https://nullprovider.rp.azurestackci02.onmicrosoft.com/3d6d059d-5b08-4432-bc39-a29fe8de30c1
                      identitySystem: AzureAD
                      loginBaseEndpoint: https://login.microsoftonline.com/
                      provisioningState: Succeeded
                      servicePrincipalObjectId: b0121fa7-fcdb-4d09-80ef-cdcc9d04493b
                      tenantId: 6a8092d6-08d4-45af-894a-121400ef36a1
                    result: true
                    vault:
                      id: /subscriptions/ca13578c-6d3b-4478-b63e-a65c89601d86/resourceGroups/Microsoft.NullProvider/providers/Microsoft.KeyVault/vaults/null-provider-vault
                      name: null-provider-vault
                  provisioningState: Succeeded
                  startTime: 2019-10-15T19:35:23.8889341Z
                  title: Deploy Subscription Owner RG
                  type: Script
                type: Microsoft.Deployment.Admin/locations/actionplans/operations
            "404": {}
definitions:
  ActionPlanOperationAdminProperties:
    description: Action Plan Operation Properties
    properties:
      actionPlanInstanceId:
        description: Action plan instance identifier
        type: string
      actionPlanOperationId:
        description: Action plan operation identifier
        type: string
      blobContainerName:
        description: Blob container name storing the deployment data
        type: string
      description:
        description: The operation description
        type: string
      endTime:
        description: The deployment end time
        format: date-time
        type: string
      error:
        description: Error information
        properties:
          code:
            description: Error Code
            type: string
          details:
            $ref: "#/definitions/ExtendedErrorInfo"
            description: Error message details
          message:
            description: Error Message
            type: string
        type: object
      outputs:
        description: The action plan operation outputs in JToken format
        type: object
      parameters:
        description: The deployment parameters in JToken format
        type: object
      provisioningState:
        description: The provisioning state
        type: string
      startTime:
        description: The deployment start time
        format: date-time
        type: string
      subscriptionId:
        description: The target subscription identifier
        type: string
      title:
        description: The operation title
        type: string
      type:
        $ref: "#/definitions/ActionType"
        description: The action plan operation type
    type: object
  ActionPlanOperationResourceEntity:
    allOf:
      - description: Object model of azure resource manager base.
        properties:
          id:
            description: ID of the resource.
            readOnly: true
            type: string
          location:
            description: Location of the resource.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          type:
            description: Type of Resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
    description: Action Plan Operation Resource Entity
    properties:
      eTag:
        description: Entity tag of the resource
        type: string
      properties:
        $ref: "#/definitions/ActionPlanOperationAdminProperties"
        description: Action Plan Properties
        x-ms-client-flatten: true
    type: object
  ActionPlanOperationsList:
    description: List of action plan operations
    properties:
      nextLink:
        description: Continuation token
        type: string
      value:
        description: Array of action plan operations.
        items:
          $ref: "#/definitions/ActionPlanOperationResourceEntity"
        type: array
  ActionType:
    description: Action plan operation type
    type: string
  ExtendedErrorInfo: {}
