swagger: "2.0"
schemes:
  - https
host: batch.core.windows.net
info:
  description: A client for issuing REST requests to the Azure Batch service.
  title: BatchService
  version: 2017-05-01.5.0
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-ms-code-generation-settings:
    name: BatchServiceClient
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/batch/data-plane/Microsoft.Batch/stable/2017-05-01.5.0/BatchService.json
      version: "2.0"
  x-preferred: false
  x-providerName: windows.net
  x-serviceName: batch-BatchService
consumes:
  - application/json; odata=minimalmetadata
produces:
  - application/json
parameters:
  ApiVersionParameter:
    description: Client API Version.
    in: query
    name: api-version
    required: true
    type: string
paths:
  /applications:
    get:
      description: This operation returns only applications and versions that are available for use on compute nodes; that is, that can be used in an application package reference. For administrator information about applications and versions that are not yet available to compute nodes, use the Azure portal or the Azure Resource Manager API.
      operationId: Application_List
      parameters:
        - default: 1000
          description: The maximum number of items to return in the response. A maximum of 1000 applications can be returned.
          format: int32
          in: query
          maximum: 1000
          minimum: 1
          name: maxresults
          required: false
          type: integer
          x-ms-client-name: maxResults
          x-ms-parameter-grouping:
            postfix: Options
        - default: 30
          description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          format: uuid
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - default: false
          description: Whether the server should return the client-request-id in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: A response containing the list of applications.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              format: uuid
              type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.
              format: uuid
              type: string
          schema:
            $ref: "#/definitions/ApplicationListResult"
        default:
          description: The error from the Batch service.
          schema:
            $ref: "#/definitions/BatchError"
      summary: Lists all of the applications available in the specified account.
      tags:
        - Applications
      x-ms-pageable:
        nextLinkName: odata.nextLink
      x-ms-request-id: request-id
  "/applications/{applicationId}":
    get:
      operationId: Application_Get
      parameters:
        - description: The ID of the application.
          in: path
          name: applicationId
          required: true
          type: string
        - default: 30
          description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          format: uuid
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - default: false
          description: Whether the server should return the client-request-id in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: A response containing the application.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              format: uuid
              type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.
              format: uuid
              type: string
          schema:
            $ref: "#/definitions/ApplicationSummary"
        default:
          description: The error from the Batch service.
          schema:
            $ref: "#/definitions/BatchError"
      summary: Gets information about the specified application.
      tags:
        - Applications
      x-ms-request-id: request-id
  /certificates:
    get:
      operationId: Certificate_List
      parameters:
        - description: An OData $filter clause.
          in: query
          name: $filter
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An OData $select clause.
          in: query
          name: $select
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - default: 1000
          description: The maximum number of items to return in the response. A maximum of 1000 certificates can be returned.
          format: int32
          in: query
          maximum: 1000
          minimum: 1
          name: maxresults
          required: false
          type: integer
          x-ms-client-name: maxResults
          x-ms-parameter-grouping:
            postfix: Options
        - default: 30
          description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          format: uuid
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - default: false
          description: Whether the server should return the client-request-id in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: A response containing the list of certificates.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              format: uuid
              type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.
              format: uuid
              type: string
          schema:
            $ref: "#/definitions/CertificateListResult"
        default:
          description: The error from the Batch service.
          schema:
            $ref: "#/definitions/BatchError"
      summary: Lists all of the certificates that have been added to the specified account.
      tags:
        - Certificates
      x-ms-examples:
        Certificate list:
          parameters:
            api-version: 2017-01-01.4.0
            client-request-id: 00000000-0000-0000-0000-000000000000
            ocp-data: Fri, 17 Feb 2017 00:00:00 GMT
          responses:
            "200":
              body:
                value:
                  - deleteCertificateError:
                      code: PoolsReferencingCertificate
                      message: The specified certificate is being used by the below mentioned pool(s)
                      values:
                        - name: Pools
                          value: mypool1
                    previousState: deleting
                    previousStateTransitionTime: 2014-07-31T21:11:58.236Z
                    publicData: "#####..."
                    state: deleteFailed
                    stateTransitionTime: 2014-07-31T21:12:58.236Z
                    thumbprint: 0123456789abcdef0123456789abcdef01234567
                    thumbprintAlgorithm: sha1
                    url: https://account.region.batch.azure.com/certificates(thumbprintAlgorithm=sha1,thumbprint=0123456789abcdef0123456789abcdef01234567)
      x-ms-pageable:
        nextLinkName: odata.nextLink
      x-ms-request-id: request-id
    post:
      operationId: Certificate_Add
      parameters:
        - description: The certificate to be added.
          in: body
          name: certificate
          required: true
          schema:
            $ref: "#/definitions/CertificateAddParameter"
        - default: 30
          description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          format: uuid
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - default: false
          description: Whether the server should return the client-request-id in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "201":
          description: The request to the Batch service was successful.
          headers:
            DataServiceId:
              description: The OData ID of the resource to which the request applied.
              type: string
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              format: uuid
              type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.
              format: uuid
              type: string
        default:
          description: The error from the Batch service.
          schema:
            $ref: "#/definitions/BatchError"
      summary: Adds a certificate to the specified account.
      tags:
        - Certificates
      x-ms-examples:
        Certificate add:
          parameters:
            api-version: 2017-01-01.4.0
            certificate:
              certificateFormat: pfx
              data: "#####..."
              password: certpassword
              thumbprint: 0123456789abcdef0123456789abcdef01234567
              thumbprintAlgorithm: sha1
            client-request-id: 00000000-0000-0000-0000-000000000000
            ocp-data: Fri, 17 Feb 2017 00:00:00 GMT
          responses:
            "201": {}
      x-ms-request-id: request-id
  "/certificates(thumbprintAlgorithm={thumbprintAlgorithm},thumbprint={thumbprint})":
    delete:
      description: You cannot delete a certificate if a resource (pool or compute node) is using it. Before you can delete a certificate, you must therefore make sure that the certificate is not associated with any existing pools, the certificate is not installed on any compute nodes (even if you remove a certificate from a pool, it is not removed from existing compute nodes in that pool until they restart), and no running tasks depend on the certificate. If you try to delete a certificate that is in use, the deletion fails. The certificate status changes to deleteFailed. You can use Cancel Delete Certificate to set the status back to active if you decide that you want to continue using the certificate.
      operationId: Certificate_Delete
      parameters:
        - description: The algorithm used to derive the thumbprint parameter. This must be sha1.
          in: path
          name: thumbprintAlgorithm
          required: true
          type: string
        - description: The thumbprint of the certificate to be deleted.
          in: path
          name: thumbprint
          required: true
          type: string
        - default: 30
          description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          format: uuid
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - default: false
          description: Whether the server should return the client-request-id in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "202":
          description: The request to the Batch service was successful.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              format: uuid
              type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.
              format: uuid
              type: string
        default:
          description: The error from the Batch service.
          schema:
            $ref: "#/definitions/BatchError"
      summary: Deletes a certificate from the specified account.
      tags:
        - Certificates
      x-ms-examples:
        Certificate delete:
          parameters:
            api-version: 2017-01-01.4.0
            client-request-id: 00000000-0000-0000-0000-000000000000
            ocp-data: Fri, 17 Feb 2017 00:00:00 GMT
            thumbprint: 0123456789abcdef0123456789abcdef01234567
            thumbprintAlgorithm: sha1
          responses:
            "202": {}
      x-ms-request-id: request-id
    get:
      description: Gets information about the specified certificate.
      operationId: Certificate_Get
      parameters:
        - description: The algorithm used to derive the thumbprint parameter. This must be sha1.
          in: path
          name: thumbprintAlgorithm
          required: true
          type: string
        - description: The thumbprint of the certificate to get.
          in: path
          name: thumbprint
          required: true
          type: string
        - description: An OData $select clause.
          in: query
          name: $select
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - default: 30
          description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          format: uuid
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - default: false
          description: Whether the server should return the client-request-id in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: A response containing the certificate.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              format: uuid
              type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.
              format: uuid
              type: string
          schema:
            $ref: "#/definitions/Certificate"
        default:
          description: The error from the Batch service.
          schema:
            $ref: "#/definitions/BatchError"
      tags:
        - Certificates
      x-ms-examples:
        Certificate get:
          parameters:
            api-version: 2017-01-01.4.0
            client-request-id: 00000000-0000-0000-0000-000000000000
            ocp-data: Fri, 17 Feb 2017 00:00:00 GMT
            thumbprint: 0123456789abcdef0123456789abcdef01234567
            thumbprintAlgorithm: sha1
          responses:
            "200":
              body:
                deleteCertificateError:
                  code: PoolsReferencingCertificate
                  message: The specified certificate is being used by the below mentioned pool(s)
                  values:
                    - name: Pools
                      value: mypool1
                previousState: deleting
                previousStateTransitionTime: 2014-07-31T21:11:58.236Z
                publicData: "#####..."
                state: deleteFailed
                stateTransitionTime: 2014-07-31T21:12:58.236Z
                thumbprint: 0123456789abcdef0123456789abcdef01234567
                thumbprintAlgorithm: sha1
                url: https://account.region.batch.azure.com/certificates(thumbprintAlgorithm=sha1,thumbprint=0123456789abcdef0123456789abcdef01234567)
      x-ms-request-id: request-id
  "/certificates(thumbprintAlgorithm={thumbprintAlgorithm},thumbprint={thumbprint})/canceldelete":
    post:
      description: If you try to delete a certificate that is being used by a pool or compute node, the status of the certificate changes to deleteFailed. If you decide that you want to continue using the certificate, you can use this operation to set the status of the certificate back to active. If you intend to delete the certificate, you do not need to run this operation after the deletion failed. You must make sure that the certificate is not being used by any resources, and then you can try again to delete the certificate.
      operationId: Certificate_CancelDeletion
      parameters:
        - description: The algorithm used to derive the thumbprint parameter. This must be sha1.
          in: path
          name: thumbprintAlgorithm
          required: true
          type: string
        - description: The thumbprint of the certificate being deleted.
          in: path
          name: thumbprint
          required: true
          type: string
        - default: 30
          description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          format: uuid
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - default: false
          description: Whether the server should return the client-request-id in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "204":
          description: The request to the Batch service was successful.
          headers:
            DataServiceId:
              description: The OData ID of the resource to which the request applied.
              type: string
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              format: uuid
              type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.
              format: uuid
              type: string
        default:
          description: The error from the Batch service.
          schema:
            $ref: "#/definitions/BatchError"
      summary: Cancels a failed deletion of a certificate from the specified account.
      tags:
        - Certificates
      x-ms-examples:
        Certificate cancel delete:
          parameters:
            api-version: 2017-01-01.4.0
            client-request-id: 00000000-0000-0000-0000-000000000000
            ocp-data: Fri, 17 Feb 2017 00:00:00 GMT
            thumbprint: 0123456789abcdef0123456789abcdef01234567
            thumbprintAlgorithm: sha1
          responses:
            "204": {}
      x-ms-request-id: request-id
  /jobs:
    get:
      operationId: Job_List
      parameters:
        - description: An OData $filter clause.
          in: query
          name: $filter
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An OData $select clause.
          in: query
          name: $select
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An OData $expand clause.
          in: query
          name: $expand
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - default: 1000
          description: The maximum number of items to return in the response. A maximum of 1000 jobs can be returned.
          format: int32
          in: query
          maximum: 1000
          minimum: 1
          name: maxresults
          required: false
          type: integer
          x-ms-client-name: maxResults
          x-ms-parameter-grouping:
            postfix: Options
        - default: 30
          description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          format: uuid
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - default: false
          description: Whether the server should return the client-request-id in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: A response containing the list of jobs.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              format: uuid
              type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.
              format: uuid
              type: string
          schema:
            $ref: "#/definitions/CloudJobListResult"
        default:
          description: The error from the Batch service.
          schema:
            $ref: "#/definitions/BatchError"
      summary: Lists all of the jobs in the specified account.
      tags:
        - Jobs
      x-ms-examples:
        Job list:
          parameters:
            api-version: 2017-01-01.4.0
            client-request-id: 00000000-0000-0000-0000-000000000000
            ocp-data: Fri, 17 Feb 2017 00:00:00 GMT
          responses:
            "200":
              body:
                value:
                  - constraints:
                      maxTaskRetryCount: 0
                      maxWallClockTime: P10675199DT2H48M5.4775807S
                    creationTime: 2016-11-19T00:05:25.311915Z
                    eTag: "0x8D4100FC46D5BF4"
                    executionInfo:
                      poolId: poolId
                      startTime: 2016-11-19T00:05:25.3309105Z
                    id: jobId
                    lastModified: 2016-11-19T00:05:27.2137716Z
                    onAllTasksComplete: noAction
                    onTaskFailure: noAction
                    poolInfo:
                      poolId: poolId
                    previousState: disabled
                    previousStateTransitionTime: 2016-11-19T00:05:26.88777Z
                    priority: 0
                    state: active
                    stateTransitionTime: 2016-11-19T00:05:27.2137716Z
                    url: https://account.region.batch.azure.com/jobs/jobId
                    usesTaskDependencies: false
      x-ms-pageable:
        nextLinkName: odata.nextLink
      x-ms-request-id: request-id
    post:
      description: "The Batch service supports two ways to control the work done as part of a job. In the first approach, the user specifies a Job Manager task. The Batch service launches this task when it is ready to start the job. The Job Manager task controls all other tasks that run under this job, by using the Task APIs. In the second approach, the user directly controls the execution of tasks under an active job, by using the Task APIs. Also note: when naming jobs, avoid including sensitive information such as user names or secret project names. This information may appear in telemetry logs accessible to Microsoft Support engineers."
      operationId: Job_Add
      parameters:
        - description: The job to be added.
          in: body
          name: job
          required: true
          schema:
            $ref: "#/definitions/JobAddParameter"
        - default: 30
          description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          format: uuid
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - default: false
          description: Whether the server should return the client-request-id in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "201":
          description: The request to the Batch service was successful.
          headers:
            DataServiceId:
              description: The OData ID of the resource to which the request applied.
              type: string
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              format: uuid
              type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.
              format: uuid
              type: string
        default:
          description: The error from the Batch service.
          schema:
            $ref: "#/definitions/BatchError"
      summary: Adds a job to the specified account.
      tags:
        - Jobs
      x-ms-examples:
        Add a basic job:
          parameters:
            api-version: 2017-01-01.4.0
            client-request-id: 00000000-0000-0000-0000-000000000000
            job:
              id: jobId
              poolInfo:
                poolId: poolId
              priority: 0
            ocp-data: Fri, 17 Feb 2017 00:00:00 GMT
          responses:
            "201": {}
        Add a complex job:
          parameters:
            api-version: 2017-01-01.4.0
            client-request-id: 00000000-0000-0000-0000-000000000000
            job:
              constraints:
                maxTaskRetryCount: -1
                maxWallClockTime: PT1H
              id: jobId
              jobManagerTask:
                commandLine: myprogram.exe
                constraints:
                  maxTaskRetryCount: 0
                  maxWallClockTime: PT1H
                  retentionTime: PT1H
                environmentSettings:
                  - name: myvariable
                    value: myvalue
                id: taskId
                killJobOnCompletion: false
                resourceFiles:
                  - blobSource: http://mystorage1.blob.core.windows.net/scripts/myprogram.exe?st=2013-08-09T08%3a49%3a37.0000000Z&se=2013-08-10T08%3a49%3a37.0000000Z&sr=c&sp=d&si=YWJjZGTVMZw%3d%3d&sig=%2bSzBm0wi8xECuGkKw97wnkSZ%2f62sxU%2b6Hq6a7qojIVE%3d
                    filePath: myprogram.exe
                  - blobSource: http://mystorage1.blob.core.windows.net/scripts/test.txt?st=2013-08-09T08%3a49%3a37.0000000Z&se=2013-08-10T08%3a49%3a37.0000000Z&sr=c&sp=d&si=YWJjZGTVMZw%3d%3d&sig=%2bSzBm0wi8xECuGkKw97wnkSZ%2f62sxU%2b6Hq6a7qojIVE%3d
                    filePath: test.txt
                runExclusive: true
                userIdentity:
                  autoUser:
                    elevationLevel: admin
                    scope: task
              metadata:
                - name: myproperty
                  value: myvalue
              poolInfo:
                autoPoolSpecification:
                  autoPoolIdPrefix: mypool
                  pool:
                    certificateReferences:
                      - storeLocation: localMachine
                        storeName: Root
                        thumbprint: 0123456789abcdef0123456789abcdef01234567
                        thumbprintAlgorithm: sha1
                        visibility:
                          - task
                    cloudServiceConfiguration:
                      osFamily: "4"
                      targetOSVersion: "*"
                    enableAutoScale: false
                    enableInterNodeCommunication: true
                    maxTasksPerNode: 2
                    metadata:
                      - name: myproperty
                        value: myvalue
                    resizeTimeout: PT15M
                    startTask:
                      commandLine: myprogram2.exe
                      environmentSettings:
                        - name: myvariable
                          value: myvalue
                      maxTaskRetryCount: 2
                      resourceFiles:
                        - blobSource: http://mystorage1.blob.core.windows.net/scripts/myprogram2.exe?st=2013-08-09T08%3a49%3a37.0000000Z&se=2013-08-10T08%3a49%3a37.0000000Z&sr=c&sp=d&si=YWJjZGTVMZw%3d%3d&sig= %2bSzBm0wi8xECuGkKw97wnkSZ%2f62sxU%2b6Hq6a7qojIVE%3d
                          filePath: myprogram2.exe
                      userIdentity:
                        autoUser:
                          elevationLevel: admin
                          scope: task
                      waitForSuccess: true
                    targetDedicatedNodes: 3
                    taskSchedulingPolicy:
                      nodeFillType: spread
                    vmSize: small
                  poolLifetimeOption: job
              priority: 100
            ocp-data: Fri, 17 Feb 2017 00:00:00 GMT
          responses:
            "201": {}
      x-ms-request-id: request-id
  "/jobs/{jobId}":
    delete:
      description: Deleting a job also deletes all tasks that are part of that job, and all job statistics. This also overrides the retention period for task data; that is, if the job contains tasks which are still retained on compute nodes, the Batch services deletes those tasks' working directories and all their contents.
      operationId: Job_Delete
      parameters:
        - description: The ID of the job to delete.
          in: path
          name: jobId
          required: true
          type: string
        - default: 30
          description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          format: uuid
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - default: false
          description: Whether the server should return the client-request-id in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service exactly matches the value specified by the client.
          in: header
          name: If-Match
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service does not match the value specified by the client.
          in: header
          name: If-None-Match
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has been modified since the specified time.
          format: date-time-rfc1123
          in: header
          name: If-Modified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has not been modified since the specified time.
          format: date-time-rfc1123
          in: header
          name: If-Unmodified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "202":
          description: The request to the Batch service was successful.
          headers:
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.
              type: string
        default:
          description: The error from the Batch service.
          schema:
            $ref: "#/definitions/BatchError"
      summary: Deletes a job.
      tags:
        - Jobs
      x-ms-request-id: request-id
    get:
      operationId: Job_Get
      parameters:
        - description: The ID of the job.
          in: path
          name: jobId
          required: true
          type: string
        - description: An OData $select clause.
          in: query
          name: $select
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An OData $expand clause.
          in: query
          name: $expand
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - default: 30
          description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          format: uuid
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - default: false
          description: Whether the server should return the client-request-id in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service exactly matches the value specified by the client.
          in: header
          name: If-Match
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service does not match the value specified by the client.
          in: header
          name: If-None-Match
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has been modified since the specified time.
          format: date-time-rfc1123
          in: header
          name: If-Modified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has not been modified since the specified time.
          format: date-time-rfc1123
          in: header
          name: If-Unmodified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: A response containing the job.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              format: uuid
              type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.
              format: uuid
              type: string
          schema:
            $ref: "#/definitions/CloudJob"
        default:
          description: The error from the Batch service.
          schema:
            $ref: "#/definitions/BatchError"
      summary: Gets information about the specified job.
      tags:
        - Jobs
      x-ms-examples:
        Job get:
          parameters:
            api-version: 2017-01-01.4.0
            client-request-id: 00000000-0000-0000-0000-000000000000
            jobId: jobId
            ocp-data: Fri, 17 Feb 2017 00:00:00 GMT
          responses:
            "200":
              body:
                constraints:
                  maxTaskRetryCount: 0
                  maxWallClockTime: P10675199DT2H48M5.4775807S
                creationTime: 2016-11-19T00:05:25.311915Z
                eTag: "0x8D4100FC49F0278"
                executionInfo:
                  endTime: 2016-11-19T00:05:27.578581Z
                  poolId: poolId
                  startTime: 2016-11-19T00:05:25.3309105Z
                  terminateReason: UserTerminate
                id: jobId
                lastModified: 2016-11-19T00:05:27.5391608Z
                onAllTasksComplete: noAction
                onTaskFailure: noAction
                poolInfo:
                  poolId: poolId
                previousState: active
                previousStateTransitionTime: 2016-11-19T00:05:27.2137716Z
                priority: 0
                state: completed
                stateTransitionTime: 2016-11-19T00:05:27.578581Z
                url: https://account.region.batch.azure.com/jobs/jobId
                usesTaskDependencies: false
      x-ms-request-id: request-id
    patch:
      description: This replaces only the job properties specified in the request. For example, if the job has constraints, and a request does not specify the constraints element, then the job keeps the existing constraints.
      operationId: Job_Patch
      parameters:
        - description: The ID of the job whose properties you want to update.
          in: path
          name: jobId
          required: true
          type: string
        - description: The parameters for the request.
          in: body
          name: jobPatchParameter
          required: true
          schema:
            $ref: "#/definitions/JobPatchParameter"
        - default: 30
          description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          format: uuid
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - default: false
          description: Whether the server should return the client-request-id in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service exactly matches the value specified by the client.
          in: header
          name: If-Match
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service does not match the value specified by the client.
          in: header
          name: If-None-Match
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has been modified since the specified time.
          format: date-time-rfc1123
          in: header
          name: If-Modified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has not been modified since the specified time.
          format: date-time-rfc1123
          in: header
          name: If-Unmodified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: The request to the Batch service was successful.
          headers:
            DataServiceId:
              description: The OData ID of the resource to which the request applied.
              type: string
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              format: uuid
              type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.
              format: uuid
              type: string
        default:
          description: The error from the Batch service.
          schema:
            $ref: "#/definitions/BatchError"
      summary: Updates the properties of the specified job.
      tags:
        - Jobs
      x-ms-examples:
        Job patch:
          parameters:
            api-version: 2017-01-01.4.0
            client-request-id: 00000000-0000-0000-0000-000000000000
            jobId: jobId
            jobPatchParameter:
              constraints:
                maxTaskRetryCount: -1
                maxWallClockTime: PT1H
              poolInfo:
                poolId: poolId
              priority: 100
            ocp-data: Fri, 17 Feb 2017 00:00:00 GMT
          responses:
            "200": {}
      x-ms-request-id: request-id
    put:
      description: This fully replaces all the updatable properties of the job. For example, if the job has constraints associated with it and if constraints is not specified with this request, then the Batch service will remove the existing constraints.
      operationId: Job_Update
      parameters:
        - description: The ID of the job whose properties you want to update.
          in: path
          name: jobId
          required: true
          type: string
        - description: The parameters for the request.
          in: body
          name: jobUpdateParameter
          required: true
          schema:
            $ref: "#/definitions/JobUpdateParameter"
        - default: 30
          description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          format: uuid
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - default: false
          description: Whether the server should return the client-request-id in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service exactly matches the value specified by the client.
          in: header
          name: If-Match
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service does not match the value specified by the client.
          in: header
          name: If-None-Match
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has been modified since the specified time.
          format: date-time-rfc1123
          in: header
          name: If-Modified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has not been modified since the specified time.
          format: date-time-rfc1123
          in: header
          name: If-Unmodified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: The request to the Batch service was successful.
          headers:
            DataServiceId:
              description: The OData ID of the resource to which the request applied.
              type: string
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              format: uuid
              type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.
              format: uuid
              type: string
        default:
          description: The error from the Batch service.
          schema:
            $ref: "#/definitions/BatchError"
      summary: Updates the properties of the specified job.
      tags:
        - Jobs
      x-ms-examples:
        Job update:
          parameters:
            api-version: 2017-01-01.4.0
            client-request-id: 00000000-0000-0000-0000-000000000000
            jobId: jobId
            jobUpdateParameter:
              constraints:
                maxTaskRetryCount: -1
                maxWallClockTime: PT1H
              poolInfo:
                poolId: poolId
              priority: 100
            ocp-data: Fri, 17 Feb 2017 00:00:00 GMT
          responses:
            "200": {}
      x-ms-request-id: request-id
  "/jobs/{jobId}/addtaskcollection":
    post:
      description: Note that each task must have a unique ID. The Batch service may not return the results for each task in the same order the tasks were submitted in this request. If the server times out or the connection is closed during the request, the request may have been partially or fully processed, or not at all. In such cases, the user should re-issue the request. Note that it is up to the user to correctly handle failures when re-issuing a request. For example, you should use the same task ids during a retry so that if the prior operation succeeded, the retry will not create extra tasks unexpectedly.
      operationId: Task_AddCollection
      parameters:
        - description: The ID of the job to which the task collection is to be added.
          in: path
          name: jobId
          required: true
          type: string
        - description: The tasks to be added.
          in: body
          name: taskCollection
          required: true
          schema:
            $ref: "#/definitions/TaskAddCollectionParameter"
        - default: 30
          description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          format: uuid
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - default: false
          description: Whether the server should return the client-request-id in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: A response containing the results of the add task collection operation.
          headers:
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.
              type: string
          schema:
            $ref: "#/definitions/TaskAddCollectionResult"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/BatchError"
      summary: Adds a collection of tasks to the specified job.
      tags:
        - Tasks
      x-ms-examples:
        Add a basic collection of tasks:
          parameters:
            api-version: 2017-01-01.4.0
            client-request-id: 00000000-0000-0000-0000-000000000000
            jobId: jobId
            ocp-data: Fri, 17 Feb 2017 00:00:00 GMT
            taskCollection:
              value:
                - commandLine: cmd /c dir /s
                  id: simple1
                - commandLine: cmd /c dir /s
                  id: simple2
          responses:
            "200":
              body:
                value:
                  - eTag: "0x8D3D623CD661246"
                    lastModified: 2016-09-06T07:02:44.7589958Z
                    location: https://account.region.batch.azure.com/jobs/jobId/tasks/simple1
                    status: success
                    taskId: simple1
                  - eTag: "0x8D3D623CD7072CC"
                    lastModified: 2016-09-06T07:02:44.8270028Z
                    location: https://account.region.batch.azure.com/jobs/jobId/tasks/simple2
                    status: success
                    taskId: simple2
        Add a complex collection of tasks:
          parameters:
            api-version: 2017-01-01.4.0
            client-request-id: 00000000-0000-0000-0000-000000000000
            jobId: jobId
            ocp-data: Fri, 17 Feb 2017 00:00:00 GMT
            taskCollection:
              value:
                - affinityInfo:
                    affinityId: affinityId
                  commandLine: cmd /c dir /s
                  constraints:
                    maxTaskRetryCount: 5
                    maxWallClockTime: P1D
                    retentionTime: P2D
                  environmentSettings:
                    - name: env1
                      value: value1
                    - name: env2
                      value: value2
                  id: complex1
                  multiInstanceSettings:
                    commonResourceFiles:
                      - blobSource: https://common.blob.core.windows.net/
                        filePath: common.exe
                    coordinationCommandLine: cmd /c echo coordinating
                    numberOfInstances: 3
                  resourceFiles:
                    - blobSource: https://account.blob.core.windows.net/
                      filePath: file1
                - commandLine: cmd /c dir /s
                  id: simple3
          responses:
            "200":
              body:
                value:
                  - eTag: "0x8D3D623CE295629"
                    lastModified: 2016-09-06T07:02:46.0386857Z
                    location: https://account.region.batch.azure.com/jobs/jobId/tasks/simple3
                    status: success
                    taskId: simple3
                  - eTag: "0x8D3D623CE29A412"
                    lastModified: 2016-09-06T07:02:46.0406802Z
                    location: https://account.region.batch.azure.com/jobs/jobId/tasks/complex1
                    status: success
                    taskId: complex1
      x-ms-request-id: request-id
  "/jobs/{jobId}/disable":
    post:
      description: The Batch Service immediately moves the job to the disabling state. Batch then uses the disableTasks parameter to determine what to do with the currently running tasks of the job. The job remains in the disabling state until the disable operation is completed and all tasks have been dealt with according to the disableTasks option; the job then moves to the disabled state. No new tasks are started under the job until it moves back to active state. If you try to disable a job that is in any state other than active, disabling, or disabled, the request fails with status code 409.
      operationId: Job_Disable
      parameters:
        - description: The ID of the job to disable.
          in: path
          name: jobId
          required: true
          type: string
        - description: The parameters for the request.
          in: body
          name: jobDisableParameter
          required: true
          schema:
            $ref: "#/definitions/JobDisableParameter"
        - default: 30
          description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          format: uuid
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - default: false
          description: Whether the server should return the client-request-id in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service exactly matches the value specified by the client.
          in: header
          name: If-Match
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service does not match the value specified by the client.
          in: header
          name: If-None-Match
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has been modified since the specified time.
          format: date-time-rfc1123
          in: header
          name: If-Modified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has not been modified since the specified time.
          format: date-time-rfc1123
          in: header
          name: If-Unmodified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "202":
          description: The request to the Batch service was successful.
          headers:
            DataServiceId:
              description: The OData ID of the resource to which the request applied.
              type: string
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              format: uuid
              type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.
              format: uuid
              type: string
        default:
          description: The error from the Batch service.
          schema:
            $ref: "#/definitions/BatchError"
      summary: Disables the specified job, preventing new tasks from running.
      tags:
        - Jobs
      x-ms-examples:
        Job disable:
          parameters:
            api-version: 2017-01-01.4.0
            client-request-id: 00000000-0000-0000-0000-000000000000
            jobDisableParameter:
              disableTasks: terminate
            jobId: jobId
            ocp-data: Fri, 17 Feb 2017 00:00:00 GMT
          responses:
            "202": {}
      x-ms-request-id: request-id
  "/jobs/{jobId}/enable":
    post:
      description: When you call this API, the Batch service sets a disabled job to the enabling state. After the this operation is completed, the job moves to the active state, and scheduling of new tasks under the job resumes. The Batch service does not allow a task to remain in the active state for more than 7 days. Therefore, if you enable a job containing active tasks which were added more than 7 days ago, those tasks will not run.
      operationId: Job_Enable
      parameters:
        - description: The ID of the job to enable.
          in: path
          name: jobId
          required: true
          type: string
        - default: 30
          description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          format: uuid
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - default: false
          description: Whether the server should return the client-request-id in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service exactly matches the value specified by the client.
          in: header
          name: If-Match
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag value associated with the version of the resource known to the client. The operation will be performed only if the resource's current ETag on the service does not match the value specified by the client.
          in: header
          name: If-None-Match
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has been modified since the specified time.
          format: date-time-rfc1123
          in: header
          name: If-Modified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has not been modified since the specified time.
          format: date-time-rfc1123
          in: header
          name: If-Unmodified-Since
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "202":
          description: The request to the Batch service was successful.
          headers:
            DataServiceId:
              description: The OData ID of the resource to which the request applied.
              type: string
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              format: uuid
              type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.
              format: uuid
              type: string
        default:
          description: The error from the Batch service.
          schema:
            $ref: "#/definitions/BatchError"
      summary: Enables the specified job, allowing new tasks to run.
      tags:
        - Jobs
      x-ms-examples:
        Job enable:
          parameters:
            api-version: 2017-01-01.4.0
            client-request-id: 00000000-0000-0000-0000-000000000000
            jobId: jobId
            ocp-data: Fri, 17 Feb 2017 00:00:00 GMT
          responses:
            "202": {}
      x-ms-request-id: request-id
  "/jobs/{jobId}/jobpreparationandreleasetaskstatus":
    get:
      description: "This API returns the Job Preparation and Job Release task status on all compute nodes that have run the Job Preparation or Job Release task. This includes nodes which have since been removed from the pool. "
      operationId: Job_ListPreparationAndReleaseTaskStatus
      parameters:
        - description: The ID of the job.
          in: path
          name: jobId
          required: true
          type: string
        - description: An OData $filter clause.
          in: query
          name: $filter
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An OData $select clause.
          in: query
          name: $select
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - default: 1000
          description: The maximum number of items to return in the response. A maximum of 1000 tasks can be returned.
          format: int32
          in: query
          maximum: 1000
          minimum: 1
          name: maxresults
          required: false
          type: integer
          x-ms-client-name: maxResults
          x-ms-parameter-grouping:
            postfix: Options
        - default: 30
          description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          format: uuid
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - default: false
          description: Whether the server should return the client-request-id in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: A response containing a list of Job Preparation and Job Release task statuses.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              format: uuid
              type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.
              format: uuid
              type: string
          schema:
            $ref: "#/definitions/CloudJobListPreparationAndReleaseTaskStatusResult"
        default:
          description: The error from the Batch service. If this API is invoked on a job which has no Job Preparation or Job Release task, the Batch service returns HTTP status code 409.
          schema:
            $ref: "#/definitions/BatchError"
      summary: Lists the execution status of the Job Preparation and Job Release task for the specified job across the compute nodes where the job has run.
      tags:
        - Jobs
      x-ms-examples:
        Job list preparation and release task status:
          parameters:
            api-version: 2017-01-01.4.0
            client-request-id: 00000000-0000-0000-0000-000000000000
            jobId: jobId
            ocp-data: Fri, 17 Feb 2017 00:00:00 GMT
          responses:
            "200":
              body:
                odata.nextLink: https://account.region.batch.azure.com/jobs/myjob/jobpreparationandreleasestatus?$skipToken=tvm-2167304207_1-20140905t174658z&api-version=2017-01-01.4.0
                value:
                  - jobPreparationTaskExecutionInfo:
                      endTime: 2015-05-02T20:12:42Z
                      exitCode: 0
                      retryCount: 0
                      startTime: 2015-05-01T10:20:31Z
                      state: completed
                      taskRootDirectory: tasks/myjob/job-1/myjobpreptask
                      taskRootDirectoryUrl: https://account.region.batch.azure.com/pools/poolId/nodes/tvm-2167304207_1-20140905t174658z/files/tasks/myjob/job-1/myjobpreptask
                    jobReleaseTaskExecutionInfo:
                      endTime: 2015-05-02T20:12:42Z
                      exitCode: 0
                      startTime: 2015-05-01T10:20:31Z
                      state: completed
                      taskRootDirectory: tasks/myjob/job-1/myjobreleasetask
                      taskRootDirectoryUrl: https://account.region.batch.azure.com/pools/poolId/nodes/tvm-2167304207_1-20140905t174658z/files/tasks/myjob/job-1/myjobreleasetask
                    nodeId: tvm-2167304207_1-20140905t174658z
                    nodeUrl: https://account.region.batch.azure.com/pools/poolId/nodes/tvm-2167304207_1-20140905t174658z
                    poolId: poolId
      x-ms-pageable:
        nextLinkName: odata.nextLink
      x-ms-request-id: request-id
  "/jobs/{jobId}/tasks":
    get:
      description: For multi-instance tasks, information such as affinityId, executionInfo and nodeInfo refer to the primary task. Use the list subtasks API to retrieve information about subtasks.
      operationId: Task_List
      parameters:
        - description: The ID of the job.
          in: path
          name: jobId
          required: true
          type: string
        - description: An OData $filter clause.
          in: query
          name: $filter
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An OData $select clause.
          in: query
          name: $select
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An OData $expand clause.
          in: query
          name: $expand
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - default: 1000
          description: The maximum number of items to return in the response. A maximum of 1000 tasks can be returned.
          format: int32
          in: query
          maximum: 1000
          minimum: 1
          name: maxresults
          required: false
          type: integer
          x-ms-client-name: maxResults
          x-ms-parameter-grouping:
            postfix: Options
        - default: 30
          description: The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          format: int32
          in: query
          name: timeout
          required: false
          type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          format: uuid
          in: header
          name: client-request-id
          required: false
          type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - default: false
          description: Whether the server should return the client-request-id in the response.
          in: header
          name: return-client-request-id
          required: false
          type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.
          format: date-time-rfc1123
          in: header
          name: ocp-date
          required: false
          type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: A response containing the list of tasks.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.
              type: string
            Last-Modified:
              description: The time at which the resource was last modified.
              format: date-time-rfc1123
              type: string
            client-request-id:
              description: The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.
              format: uuid
              type: string
            request-id:
              description: A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.
              format: uuid
[...]
