swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2017-06-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2017-06-01/usage.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-usage
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
  - text/json
produces:
  - application/json
  - text/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client API version.
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/usages":
    get:
      description: Lists compute usages for a subscription.
      operationId: Usages_List
      parameters:
        - description: The location where resource usage is queried.
          in: path
          name: location
          pattern: ^[-\w\._]+$
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Request successful. The operation returns a list of Usage resources.
          schema:
            $ref: "#/definitions/UsagesListResult"
      tags:
        - Usages
      x-ms-examples:
        List usages:
          parameters:
            api-version: 2017-06-01
            location: westus
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - currentValue: 47
                    limit: 100
                    name:
                      localizedValue: Virtual Networks
                      value: VirtualNetworks
                    unit: Count
                  - currentValue: 2
                    limit: 20
                    name:
                      localizedValue: Static Public IP Addresses
                      value: StaticPublicIPAddresses
                    unit: Count
                  - currentValue: 19
                    limit: 100
                    name:
                      localizedValue: Network Security Groups
                      value: NetworkSecurityGroups
                    unit: Count
                  - currentValue: 43
                    limit: 60
                    name:
                      localizedValue: Public IP Addresses
                      value: PublicIPAddresses
                    unit: Count
                  - currentValue: 33
                    limit: 5000
                    name:
                      localizedValue: Network Interfaces
                      value: NetworkInterfaces
                    unit: Count
                  - currentValue: 11
                    limit: 100
                    name:
                      localizedValue: Load Balancers
                      value: LoadBalancers
                    unit: Count
                  - currentValue: 0
                    limit: 50
                    name:
                      localizedValue: Application Gateways
                      value: ApplicationGateways
                    unit: Count
                  - currentValue: 3
                    limit: 100
                    name:
                      localizedValue: Route Tables
                      value: RouteTables
                    unit: Count
                  - currentValue: 0
                    limit: 1000
                    name:
                      localizedValue: Route Filters
                      value: RouteFilters
                    unit: Count
                  - currentValue: 0
                    limit: 1
                    name:
                      localizedValue: Network Watchers
                      value: NetworkWatchers
                    unit: Count
                  - currentValue: 0
                    limit: 10
                    name:
                      localizedValue: Packet Captures
                      value: PacketCaptures
                    unit: Count
      x-ms-pageable:
        nextLinkName: nextLink
definitions:
  Usage:
    description: Describes network resource usage.
    properties:
      currentValue:
        description: The current value of the usage.
        format: int64
        type: integer
      limit:
        description: The limit of usage.
        format: int64
        type: integer
      name:
        $ref: "#/definitions/UsageName"
        description: The name of the type of usage.
      unit:
        description: An enum describing the unit of measurement.
        enum:
          - Count
        type: string
        x-ms-enum:
          modelAsString: true
          name: UsageUnit
    required:
      - unit
      - currentValue
      - limit
      - name
  UsageName:
    description: The usage names.
    properties:
      localizedValue:
        description: A localized string describing the resource name.
        type: string
      value:
        description: A string describing the resource name.
        type: string
  UsagesListResult:
    description: The list usages operation response.
    properties:
      nextLink:
        description: URL to get the next set of results.
        type: string
      value:
        description: The list network resource usages.
        items:
          $ref: "#/definitions/Usage"
        type: array
