openapi: 3.0.1
servers:
  - url: https://api.presalytics.io/ooxml-automation
info:
  description: This API helps users convert Excel and Powerpoint documents into rich, live dashboards and stories.
  title: OOXML Automation
  version: 0.1.0
  x-apisguru-categories:
    - analytics
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_presalytics.io_static_img_Logo_Logos_Orange-White_navbar.png
  x-origin:
    - format: openapi
      url: https://api.presalytics.io/ooxml-automation/docs/v1/openapi.json
      version: "3.0"
  x-providerName: presalytics.io
  x-serviceName: ooxml
tags:
  - description: Charts
    name: Charts
  - description: Charts / Axes
    name: Charts/Axes
  - description: Charts / AxisDataTypes
    name: Charts/AxisDataTypes
  - description: Charts / ChartData
    name: Charts/ChartData
  - description: Charts / ColumnCollections
    name: Charts/ColumnCollections
  - description: Charts / Columns
    name: Charts/Columns
  - description: Charts / DataPoints
    name: Charts/DataPoints
  - description: Charts / PlotType
    name: Charts/PlotType
  - description: Charts / RowCol
    name: Charts/RowCol
  - description: Charts / RowCollections
    name: Charts/RowCollections
  - description: Charts / RowNameFormatTypes
    name: Charts/RowNameFormatTypes
  - description: Charts / Rows
    name: Charts/Rows
  - description: ConnectionShapes
    name: ConnectionShapes
  - description: Documents
    name: Documents
  - description: Documents / DocumentType
    name: Documents/DocumentType
  - description: Groups
    name: Groups
  - description: Images
    name: Images
  - description: Shapes
    name: Shapes
  - description: ShapeTrees
    name: ShapeTrees
  - description: Shared / ColorTransformationAttributes
    name: Shared/ColorTransformationAttributes
  - description: Shared / ColorTransformations
    name: Shared/ColorTransformations
  - description: Shared / ColorTypes
    name: Shared/ColorTypes
  - description: Shared / DashTypes
    name: Shared/DashTypes
  - description: Shared / EffectAttributes
    name: Shared/EffectAttributes
  - description: Shared / Effects
    name: Shared/Effects
  - description: Shared / EffectTypes
    name: Shared/EffectTypes
  - description: Shared / FillMap
    name: Shared/FillMap
  - description: Shared / FillTypes
    name: Shared/FillTypes
  - description: Shared / GradientFills
    name: Shared/GradientFills
  - description: Shared / GradientStops
    name: Shared/GradientStops
  - description: Shared / ImageFills
    name: Shared/ImageFills
  - description: Shared / LineEndSizes
    name: Shared/LineEndSizes
  - description: Shared / LineEndTypes
    name: Shared/LineEndTypes
  - description: Shared / Lines
    name: Shared/Lines
  - description: Shared / Paragraph
    name: Shared/Paragraph
  - description: Shared / SolidFills
    name: Shared/SolidFills
  - description: Shared / Text
    name: Shared/Text
  - description: Shared / TextContainer
    name: Shared/TextContainer
  - description: Slides
    name: Slides
  - description: Slides / ColorMaps
    name: Slides/ColorMaps
  - description: Slides / Graphics
    name: Slides/Graphics
  - description: Slides / GraphicTypes
    name: Slides/GraphicTypes
  - description: Slides / GroupElements
    name: Slides/GroupElements
  - description: Slides / GroupElementTypes
    name: Slides/GroupElementTypes
  - description: Slides / SlideMasters
    name: Slides/SlideMasters
  - description: SmartArts
    name: SmartArts
  - description: Tables
    name: Tables
  - description: Tables / Borders
    name: Tables/Borders
  - description: Tables / Cells
    name: Tables/Cells
  - description: Tables / Columns
    name: Tables/Columns
  - description: Tables / Rows
    name: Tables/Rows
  - description: Themes
    name: Themes
  - description: Themes / BackgroundFills
    name: Themes/BackgroundFills
  - description: Themes / Colors
    name: Themes/Colors
  - description: Themes / CustomColors
    name: Themes/CustomColors
  - description: Themes / EffectMap
    name: Themes/EffectMap
  - description: Themes / Fills
    name: Themes/Fills
  - description: Themes / Fonts
    name: Themes/Fonts
  - description: Themes / Intensity
    name: Themes/Intensity
  - description: Themes / LineMap
    name: Themes/LineMap
paths:
  "/Charts/Axes/{id}":
    get:
      description: "Get by Id: Use this method to retrieve a Axes object by its primary key (id)"
      operationId: chart_axes_get_id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Chart.Axes"
          description: Success
        "401":
          description: Unauthorized
      summary: "Axes: Get by Id"
      tags:
        - Charts/Axes
  /Charts/AxisDataTypes:
    get:
      description: "List Types: Use this method to retreive a list of possible options for the AxisDataTypes type. Use the Id from oneof the returned elements on to make changes to elements in the Chart object space."
      operationId: chart_axisdatatypes_get
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Chart.AxisDataTypes"
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          description: Unauthorized
      summary: "AxisDataTypes: List All Possible Types"
      tags:
        - Charts/AxisDataTypes
      x-operationName: list
  "/Charts/AxisDataTypes/TypeId/{type_id}":
    get:
      description: This endpoint returns Type metadata from an integer type_id that can found on objects throughout the api.
      operationId: chart_axisdatatypes_typeid_get_type_id
      parameters:
        - in: path
          name: type_id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Chart.AxisDataTypes"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          description: Unauthorized
      summary: "AxisDataTypes: Get By Type Id"
      tags:
        - Charts/AxisDataTypes
      x-operationName: type-id
  "/Charts/AxisDataTypes/{id}":
    get:
      description: "Get by Id: Use this method to retrieve a AxisDataTypes object by its primary key (id)"
      operationId: chart_axisdatatypes_get_id
      parameters:
        - description: ""
          in: path
          name: id
          required: true
          schema:
            description: ""
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Chart.AxisDataTypes"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          description: Unauthorized
      summary: "AxisDataTypes: Get by Id"
      tags:
        - Charts/AxisDataTypes
  "/Charts/ChartData/{id}":
    get:
      description: "Get by Id: Use this method to retrieve a ChartData object by its primary key (id)"
      operationId: chart_chartdata_get_id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Chart.ChartData"
          description: Success
        "401":
          description: Unauthorized
      summary: "ChartData: Get by Id"
      tags:
        - Charts/ChartData
  "/Charts/ChartUpdate/{id}":
    get:
      description: Gets a ChartDataDTO object, usually used for downstream analytics and chart updates
      operationId: charts_charts_chartupdate_get_id
      parameters:
        - description: ""
          in: path
          name: id
          required: true
          schema:
            description: ""
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Chart.ChartDataDTO"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          description: Unauthorized
      summary: "Charts: Get Chart Data"
      tags:
        - Charts
    put:
      description: Simplifies chart update by allowing users to supply data via ChartDataDTO
      operationId: charts_charts_chartupdate_put_id
      parameters:
        - description: The Chart Id
          in: path
          name: id
          required: true
          schema:
            description: The Chart Id
            format: uuid
            type: string
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: "#/components/schemas/Chart.ChartDataDTO"
          application/json:
            schema:
              $ref: "#/components/schemas/Chart.ChartDataDTO"
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/Chart.ChartDataDTO"
          text/json:
            schema:
              $ref: "#/components/schemas/Chart.ChartDataDTO"
        description: The ChartDataDto Object
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
      summary: "Charts: Update Chart Data"
      tags:
        - Charts
  "/Charts/ChildObjects/{id}":
    get:
      description: This endpoint is helpful for helping users and bots identify dependent objects to this Chart and retreive their corresponding metadata in order to make modifications to those objects in downstream operations.
      operationId: charts_charts_childobjects_get_id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ChildObjects"
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
      summary: "Charts: Get Dependent Objects Tree"
      tags:
        - Charts
      x-operationName: get-obj-tree
  "/Charts/ColumnCollections/{id}":
    get:
      description: "Get by Id: Use this method to retrieve a ColumnCollections object by its primary key (id)"
      operationId: chart_columncollections_get_id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Chart.ColumnCollections"
          description: Success
        "401":
          description: Unauthorized
      summary: "ColumnCollections: Get by Id"
      tags:
        - Charts/ColumnCollections
  "/Charts/Columns/{id}":
    get:
      description: "Get by Id: Use this method to retrieve a Columns object by its primary key (id)"
      operationId: chart_columns_get_id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Chart.Columns"
          description: Success
        "401":
          description: Unauthorized
      summary: "Columns: Get by Id"
      tags:
        - Charts/Columns
  "/Charts/DataPoints/{id}":
    get:
      description: "Get by Id: Use this method to retrieve a DataPoints object by its primary key (id)"
      operationId: chart_datapoints_get_id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Chart.DataPoints"
          description: Success
        "401":
          description: Unauthorized
      summary: "DataPoints: Get by Id"
      tags:
        - Charts/DataPoints
  "/Charts/Details/{id}":
    get:
      description: "Returns object metadata and information about relative dependent objects "
      operationId: charts_charts_details_get_id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Chart.Charts.Details"
          description: Success
        "401":
          description: Unauthorized
      summary: "Charts: Get Details"
      tags:
        - Charts
      x-operationName: details
  "/Charts/OpenOfficeXml/{id}":
    get:
      description: Return the subset of the xml content from within the latest edited version of the OpenXmlDocument from this Chart object.  The returned xml data conforms to the [Ecma-376 standard](http://www.ecma-international.org/publications/standards/Ecma-376.htm).  Use this endpoint a starting point for building client-side extensions that modify Presalytics widgets containing Chart objects.
      operationId: charts_charts_openofficexml_get_id_updated
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
        - description: Indicates whether API should return the orginal uploaded xml (false) or the actively updated version (true, default)
          in: query
          name: updated
          schema:
            default: true
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OoxmlDTO"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
      summary: "Charts: Get Underlying Xml"
      tags:
        - Charts
      x-operationName: get-xml
    put:
      description: Directly eidt the underlying xml of a Chart object within an OpenOpenXml (e.g. Excel, Powerpoint) document. This endpoint will validatate the submitted xml against the [Ecma-376 standard](http://www.ecma-international.org/publications/standards/Ecma-376.htm) prior to saving modification.  Invalid xml will rejected by this endpoint and a (hopefully) helpful error message will be returned.  Use this endpoint for client-side automation of modifications ot Chart objects.
      operationId: charts_charts_openofficexml_put_id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: "#/components/schemas/OoxmlDTO"
          application/json:
            schema:
              $ref: "#/components/schemas/OoxmlDTO"
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/OoxmlDTO"
          text/json:
            schema:
              $ref: "#/components/schemas/OoxmlDTO"
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
      summary: "Charts: Modify Underlying Xml"
      tags:
        - Charts
      x-operationName: put-xml
  /Charts/PlotType:
    get:
      description: "List Types: Use this method to retreive a list of possible options for the PlotType type. Use the Id from oneof the returned elements on to make changes to elements in the Chart object space."
      operationId: chart_plottype_get
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Chart.PlotType"
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          description: Unauthorized
      summary: "PlotType: List All Possible Types"
      tags:
        - Charts/PlotType
      x-operationName: list
  "/Charts/PlotType/TypeId/{type_id}":
    get:
      description: This endpoint returns Type metadata from an integer type_id that can found on objects throughout the api.
      operationId: chart_plottype_typeid_get_type_id
      parameters:
        - in: path
          name: type_id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Chart.PlotType"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          description: Unauthorized
      summary: "PlotType: Get By Type Id"
      tags:
        - Charts/PlotType
      x-operationName: type-id
  "/Charts/PlotType/{id}":
    get:
      description: "Get by Id: Use this method to retrieve a PlotType object by its primary key (id)"
      operationId: chart_plottype_get_id
      parameters:
        - description: ""
          in: path
          name: id
          required: true
          schema:
            description: ""
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Chart.PlotType"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          description: Unauthorized
      summary: "PlotType: Get by Id"
      tags:
        - Charts/PlotType
  /Charts/RowCol:
    get:
      description: "List Types: Use this method to retreive a list of possible options for the RowCol type. Use the Id from oneof the returned elements on to make changes to elements in the Chart object space."
      operationId: chart_rowcol_get
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Chart.RowCol"
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          description: Unauthorized
      summary: "RowCol: List All Possible Types"
      tags:
        - Charts/RowCol
      x-operationName: list
  "/Charts/RowCol/TypeId/{type_id}":
    get:
      description: This endpoint returns Type metadata from an integer type_id that can found on objects throughout the api.
      operationId: chart_rowcol_typeid_get_type_id
      parameters:
        - in: path
          name: type_id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Chart.RowCol"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          description: Unauthorized
      summary: "RowCol: Get By Type Id"
      tags:
        - Charts/RowCol
      x-operationName: type-id
  "/Charts/RowCol/{id}":
    get:
      description: "Get by Id: Use this method to retrieve a RowCol object by its primary key (id)"
      operationId: chart_rowcol_get_id
      parameters:
        - description: ""
          in: path
          name: id
          required: true
          schema:
            description: ""
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Chart.RowCol"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          description: Unauthorized
      summary: "RowCol: Get by Id"
      tags:
        - Charts/RowCol
  "/Charts/RowCollections/{id}":
    get:
      description: "Get by Id: Use this method to retrieve a RowCollections object by its primary key (id)"
      operationId: chart_rowcollections_get_id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Chart.RowCollections"
          description: Success
        "401":
          description: Unauthorized
      summary: "RowCollections: Get by Id"
      tags:
        - Charts/RowCollections
  /Charts/RowNameFormatTypes:
    get:
      description: "List Types: Use this method to retreive a list of possible options for the RowNameFormatTypes type. Use the Id from oneof the returned elements on to make changes to elements in the Chart object space."
      operationId: chart_rownameformattypes_get
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Chart.RowNameFormatTypes"
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          description: Unauthorized
      summary: "RowNameFormatTypes: List All Possible Types"
      tags:
        - Charts/RowNameFormatTypes
      x-operationName: list
  "/Charts/RowNameFormatTypes/TypeId/{type_id}":
    get:
      description: This endpoint returns Type metadata from an integer type_id that can found on objects throughout the api.
      operationId: chart_rownameformattypes_typeid_get_type_id
      parameters:
        - in: path
          name: type_id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Chart.RowNameFormatTypes"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          description: Unauthorized
      summary: "RowNameFormatTypes: Get By Type Id"
      tags:
        - Charts/RowNameFormatTypes
      x-operationName: type-id
  "/Charts/RowNameFormatTypes/{id}":
    get:
      description: "Get by Id: Use this method to retrieve a RowNameFormatTypes object by its primary key (id)"
      operationId: chart_rownameformattypes_get_id
      parameters:
        - description: ""
          in: path
          name: id
          required: true
          schema:
            description: ""
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Chart.RowNameFormatTypes"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          description: Unauthorized
      summary: "RowNameFormatTypes: Get by Id"
      tags:
        - Charts/RowNameFormatTypes
  "/Charts/Rows/{id}":
    get:
      description: "Get by Id: Use this method to retrieve a Rows object by its primary key (id)"
      operationId: chart_rows_get_id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Chart.Rows"
          description: Success
        "401":
          description: Unauthorized
      summary: "Rows: Get by Id"
      tags:
        - Charts/Rows
  "/Charts/Svg/{id}":
    get:
      description: This endpoint is helpful for rending this Chart as an svg or image object that can then be rendered in a story, dashboard or website.
      operationId: charts_charts_svg_get_id_use_cache
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
        - description: Indicates whether API should retrieve content from a cache if aviable (true, default), or force an update (false)
          in: query
          name: use_cache
          schema:
            default: false
            type: boolean
      responses:
        "200":
          content:
            image/svg+xml:
              schema:
                description: The file byte stream.
                format: binary
                title: Svg byte stream
                type: string
          description: Returns an svg formatted-image of this object.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
      summary: "Charts: Get Svg file"
      tags:
        - Charts
      x-operationName: get-svg
  "/Charts/{id}":
    get:
      description: "Get by Id: Use this method to retrieve a Charts object by its primary key (id)"
      operationId: charts_charts_get_id
      parameters:
        - description: An Id of the respository DTO elemennt
          in: path
          name: id
          required: true
          schema:
            description: An Id of the respository DTO elemennt
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Chart.Charts"
          description: Success
        "401":
          description: Unauthorized
      summary: "Charts: Get by Id"
      tags:
        - Charts
  "/ConnectionShapes/ChildObjects/{id}":
    get:
      description: This endpoint is helpful for helping users and bots identify dependent objects to this Slide and retreive their corresponding metadata in order to make modifications to those objects in downstream operations.
      operationId: slides_connectionshapes_childobjects_get_id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ChildObjects"
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
      summary: "Slides: Get Dependent Objects Tree"
      tags:
        - ConnectionShapes
      x-operationName: get-obj-tree
  "/ConnectionShapes/Details/{id}":
    get:
      description: "Returns object metadata and information about relative dependent objects "
      operationId: slides_connectionshapes_details_get_id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Slide.Connector.Details"
          description: Success
        "401":
          description: Unauthorized
      summary: "Slides: Get Details"
      tags:
        - ConnectionShapes
      x-operationName: details
  "/ConnectionShapes/OpenOfficeXml/{id}":
    get:
      description: Return the subset of the xml content from within the latest edited version of the OpenXmlDocument from this Slide object.  The returned xml data conforms to the [Ecma-376 standard](http://www.ecma-international.org/publications/standards/Ecma-376.htm).  Use this endpoint a starting point for building client-side extensions that modify Presalytics widgets containing Slide objects.
      operationId: slides_connectionshapes_openofficexml_get_id_updated
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
        - description: Indicates whether API should return the orginal uploaded xml (false) or the actively updated version (true, default)
          in: query
          name: updated
          schema:
            default: true
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OoxmlDTO"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
      summary: "Slides: Get Underlying Xml"
      tags:
        - ConnectionShapes
      x-operationName: get-xml
    put:
      description: Directly eidt the underlying xml of a Slide object within an OpenOpenXml (e.g. Excel, Powerpoint) document. This endpoint will validatate the submitted xml against the [Ecma-376 standard](http://www.ecma-international.org/publications/standards/Ecma-376.htm) prior to saving modification.  Invalid xml will rejected by this endpoint and a (hopefully) helpful error message will be returned.  Use this endpoint for client-side automation of modifications ot Slide objects.
      operationId: slides_connectionshapes_openofficexml_put_id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: "#/components/schemas/OoxmlDTO"
          application/json:
            schema:
              $ref: "#/components/schemas/OoxmlDTO"
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/OoxmlDTO"
          text/json:
            schema:
              $ref: "#/components/schemas/OoxmlDTO"
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
      summary: "Slides: Modify Underlying Xml"
      tags:
        - ConnectionShapes
      x-operationName: put-xml
  "/ConnectionShapes/Svg/{id}":
    get:
      description: This endpoint is helpful for rending this Slide as an svg or image object that can then be rendered in a story, dashboard or website.
      operationId: slides_connectionshapes_svg_get_id_use_cache
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
        - description: Indicates whether API should retrieve content from a cache if aviable (true, default), or force an update (false)
          in: query
          name: use_cache
          schema:
            default: false
            type: boolean
      responses:
        "200":
          content:
            image/svg+xml:
              schema:
                description: The file byte stream.
                format: binary
                title: Svg byte stream
                type: string
          description: Returns an svg formatted-image of this object.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
      summary: "Slides: Get Svg file"
      tags:
        - ConnectionShapes
      x-operationName: get-svg
  "/ConnectionShapes/{id}":
    get:
      description: "Get by Id: Use this method to retrieve a ConnectionShapes object by its primary key (id)"
      operationId: slides_connectionshapes_get_id
      parameters:
        - description: An Id of the respository DTO elemennt
          in: path
          name: id
          required: true
          schema:
            description: An Id of the respository DTO elemennt
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Slide.Connector"
          description: Success
        "401":
          description: Unauthorized
      summary: "ConnectionShapes: Get by Id"
      tags:
        - ConnectionShapes
  /Documents:
    post:
      description: Upload an OpenOfficeXml document (e.g., .xlsx, .pptx) for processing by the API.
      operationId: documents_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  description: The file to upload.  Must be of type .pptx, ppt
                  format: binary
                  title: Story File
                  type: string
                storyId:
                  description: The story_id of the document being uploaded.
                  format: uuid
                  title: Story Id
                  type: string
              required:
                - file
                - storyId
              title: Story file form data
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Document"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/Document"
                type: array
            text/plain:
              schema:
                items:
                  $ref: "#/components/schemas/Document"
                type: array
          description: Success
        "400":
          description: Bad Request
      summary: "Documents: Upload"
      tags:
        - Documents
  "/Documents/ChildObjects/{id}":
    get:
      description: This endpoint is helpful for helping users and bots identify dependent objects to this DocumentsController and retreive their corresponding metadata in order to make modifications to those objects in downstream operations.
      operationId: documents_childobjects_get_id
      parameters:
        - description: ""
          in: path
          name: id
          required: true
          schema:
            description: ""
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ChildObjects"
                type: array
            text/json:
              schema:
                items:
                  $ref: "#/components/schemas/ChildObjects"
                type: array
            text/plain:
              schema:
                items:
                  $ref: "#/components/schemas/ChildObjects"
                type: array
          description: Success
        "400":
          description: Bad Request
        "403":
          description: Forbidden
      summary: "DocumentsController: Get Dependent Objects Tree"
      tags:
        - Documents
      x-operationName: get-obj-tree
  "/Documents/Clone/{id}":
    post:
      description: Clone A Document that has already been uploaded to a new Story
      operationId: documents_clone_post_id
      parameters:
        - description: the Source document Id
          in: path
          name: id
          required: true
          schema:
            description: the Source document Id
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DocumentCloneDTO"
        description: A DocumentCloneDto object with containing information required for cloning the document
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Document"
            text/json:
              schema:
                $ref: "#/components/schemas/Document"
            text/plain:
              schema:
                $ref: "#/components/schemas/Document"
          description: Success
        "400":
          description: Bad Request
      summary: "Documents: Clone an existing Ooxml Document to new Parent Story"
      tags:
        - Documents
  /Documents/DocumentType:
    get:
      description: "List Types: Use this method to retreive a list of possible options for the DocumentType type. Use the Id from oneof the returned elements on to make changes to elements in the Documents object space."
      operationId: documents_documenttype_get
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/DocumentType"
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          description: Unauthorized
      summary: "DocumentType: List All Possible Types"
      tags:
        - Documents/DocumentType
      x-operationName: list
  "/Documents/DocumentType/TypeId/{type_id}":
    get:
      description: This endpoint returns Type metadata from an integer type_id that can found on objects throughout the api.
      operationId: documents_documenttype_typeid_get_type_id
      parameters:
        - in: path
          name: type_id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentType"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          description: Unauthorized
      summary: "DocumentType: Get By Type Id"
      tags:
        - Documents/DocumentType
      x-operationName: type-id
  "/Documents/DocumentType/{id}":
    get:
      description: "Get by Id: Use this method to retrieve a DocumentType object by its primary key (id)"
      operationId: documents_documenttype_get_id
      parameters:
        - description: ""
          in: path
          name: id
          required: true
          schema:
            description: ""
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentType"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          description: Unauthorized
      summary: "DocumentType: Get by Id"
      tags:
        - Documents/DocumentType
  "/Documents/Download/{id}":
    get:
      description: Download the into a bytestream for client-side processing.
      operationId: documents_download_get_id_orginal
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
        - in: query
          name: orginal
          schema:
            default: false
            type: boolean
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                title: File byte stream
                type: string
          description: Returns an updated version of the OpenOffice Xml file
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      summary: "Documents: Download"
      tags:
        - Documents
      x-operationName: download
  "/Documents/{id}":
    delete:
      description: "Permantly delete a document from the Ooxml Automation API. Note that is does not make changes to the related Presalytics APIs.\r

        Please use the delete endpoint in the story API to ensure that stories are not left with orphaned references to the Ooxml Automation API."
      operationId: documents_delete_id
      parameters:
        - description: ""
          in: path
          name: id
          required: true
          schema:
            description: ""
            format: uuid
            type: string
      responses:
        "204":
          description: Success
        "400":
          description: Bad Request
        "403":
          description: Forbidden
      summary: "Documents: Delete by Id"
      tags:
        - Documents
    get:
      description: "Get by Id: Use this method to retrieve a Documents object by its primary key (id)"
      operationId: documents_get_id
      parameters:
        - description: ""
          in: path
          name: id
          required: true
          schema:
            description: ""
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Document"
            text/json:
              schema:
                $ref: "#/components/schemas/Document"
            text/plain:
              schema:
                $ref: "#/components/schemas/Document"
          description: Success
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
      summary: "Documents: Get by Id"
      tags:
        - Documents
  "/Groups/ChildObjects/{id}":
    get:
      description: This endpoint is helpful for helping users and bots identify dependent objects to this Slide and retreive their corresponding metadata in order to make modifications to those objects in downstream operations.
      operationId: slides_groups_childobjects_get_id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ChildObjects"
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
      summary: "Slides: Get Dependent Objects Tree"
      tags:
        - Groups
      x-operationName: get-obj-tree
  "/Groups/Details/{id}":
    get:
      description: "Returns object metadata and information about relative dependent objects "
      operationId: slides_groups_details_get_id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Slide.Groups.Details"
          description: Success
        "401":
          description: Unauthorized
      summary: "Slides: Get Details"
      tags:
        - Groups
      x-operationName: details
  "/Groups/OpenOfficeXml/{id}":
    get:
      description: Return the subset of the xml content from within the latest edited version of the OpenXmlDocument from this Slide object.  The returned xml data conforms to the [Ecma-376 standard](http://www.ecma-international.org/publications/standards/Ecma-376.htm).  Use this endpoint a starting point for building client-side extensions that modify Presalytics widgets containing Slide objects.
      operationId: slides_groups_openofficexml_get_id_updated
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
        - description: Indicates whether API should return the orginal uploaded xml (false) or the actively updated version (true, default)
          in: query
          name: updated
          schema:
            default: true
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OoxmlDTO"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
      summary: "Slides: Get Underlying Xml"
      tags:
        - Groups
      x-operationName: get-xml
    put:
      description: Directly eidt the underlying xml of a Slide object within an OpenOpenXml (e.g. Excel, Powerpoint) document. This endpoint will validatate the submitted xml against the [Ecma-376 standard](http://www.ecma-international.org/publications/standards/Ecma-376.htm) prior to saving modification.  Invalid xml will rejected by this endpoint and a (hopefully) helpful error message will be returned.  Use this endpoint for client-side automation of modifications ot Slide objects.
      operationId: slides_groups_openofficexml_put_id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: "#/components/schemas/OoxmlDTO"
          application/json:
            schema:
              $ref: "#/components/schemas/OoxmlDTO"
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/OoxmlDTO"
          text/json:
            schema:
              $ref: "#/components/schemas/OoxmlDTO"
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
      summary: "Slides: Modify Underlying Xml"
      tags:
        - Groups
      x-operationName: put-xml
  "/Groups/Svg/{id}":
    get:
      description: This endpoint is helpful for rending this Slide as an svg or image object that can then be rendered in a story, dashboard or website.
      operationId: slides_groups_svg_get_id_use_cache
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
        - description: Indicates whether API should retrieve content from a cache if aviable (true, default), or force an update (false)
          in: query
          name: use_cache
          schema:
            default: false
            type: boolean
      responses:
        "200":
          content:
            image/svg+xml:
              schema:
                description: The file byte stream.
                format: binary
                title: Svg byte stream
                type: string
          description: Returns an svg formatted-image of this object.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
      summary: "Slides: Get Svg file"
      tags:
        - Groups
      x-operationName: get-svg
  "/Groups/{id}":
    get:
      description: "Get by Id: Use this method to retrieve a Groups object by its primary key (id)"
      operationId: slides_groups_get_id
      parameters:
        - description: An Id of the respository DTO elemennt
          in: path
          name: id
          required: true
          schema:
            description: An Id of the respository DTO elemennt
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Slide.Groups"
          description: Success
        "401":
          description: Unauthorized
      summary: "Groups: Get by Id"
      tags:
        - Groups
  "/Images/ChildObjects/{id}":
    get:
      description: This endpoint is helpful for helping users and bots identify dependent objects to this Shared and retreive their corresponding metadata in order to make modifications to those objects in downstream operations.
      operationId: shared_images_childobjects_get_id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ChildObjects"
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
      summary: "Shared: Get Dependent Objects Tree"
      tags:
        - Images
      x-operationName: get-obj-tree
  "/Images/Details/{id}":
    get:
      description: "Returns object metadata and information about relative dependent objects "
      operationId: shared_images_details_get_id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Shared.Pictures.Details"
          description: Success
        "401":
          description: Unauthorized
      summary: "Shared: Get Details"
      tags:
        - Images
      x-operationName: details
  "/Images/GetImage/{Id}":
    put:
      description: Download Images extracted from Ooxml Documents
      operationId: shared_images_getimage_put_id
      parameters:
        - description: The Image Id
          in: path
          name: Id
          required: true
          schema:
            description: The Image Id
            format: uuid
            type: string
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "504":
          description: Server Error
      summary: "Image: Download Image"
      tags:
        - Images
  "/Images/OpenOfficeXml/{id}":
    get:
      description: Return the subset of the xml content from within the latest edited version of the OpenXmlDocument from this Shared object.  The returned xml data conforms to the [Ecma-376 standard](http://www.ecma-international.org/publications/standards/Ecma-376.htm).  Use this endpoint a starting point for building client-side extensions that modify Presalytics widgets containing Shared objects.
      operationId: shared_images_openofficexml_get_id_updated
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
        - description: Indicates whether API should return the orginal uploaded xml (false) or the actively updated version (true, default)
          in: query
          name: updated
          schema:
            default: true
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OoxmlDTO"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
      summary: "Shared: Get Underlying Xml"
      tags:
        - Images
      x-operationName: get-xml
    put:
      description: Directly eidt the underlying xml of a Shared object within an OpenOpenXml (e.g. Excel, Powerpoint) document. This endpoint will validatate the submitted xml against the [Ecma-376 standard](http://www.ecma-international.org/publications/standards/Ecma-376.htm) prior to saving modification.  Invalid xml will rejected by this endpoint and a (hopefully) helpful error message will be returned.  Use this endpoint for client-side automation of modifications ot Shared objects.
      operationId: shared_images_openofficexml_put_id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: "#/components/schemas/OoxmlDTO"
          application/json:
            schema:
              $ref: "#/components/schemas/OoxmlDTO"
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/OoxmlDTO"
          text/json:
            schema:
              $ref: "#/components/schemas/OoxmlDTO"
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
      summary: "Shared: Modify Underlying Xml"
      tags:
        - Images
      x-operationName: put-xml
  "/Images/Svg/{id}":
    get:
      description: This endpoint is helpful for rending this Shared as an svg or image object that can then be rendered in a story, dashboard or website.
      operationId: shared_images_svg_get_id_use_cache
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
        - description: Indicates whether API should retrieve content from a cache if aviable (true, default), or force an update (false)
          in: query
          name: use_cache
          schema:
            default: false
            type: boolean
      responses:
        "200":
          content:
            image/svg+xml:
              schema:
                description: The file byte stream.
                format: binary
                title: Svg byte stream
                type: string
          description: Returns an svg formatted-image of this object.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
      summary: "Shared: Get Svg file"
      tags:
        - Images
      x-operationName: get-svg
  "/Images/{id}":
    get:
      description: "Get by Id: Use this method to retrieve a Images object by its primary key (id)"
      operationId: shared_images_get_id
      parameters:
        - description: An Id of the respository DTO elemennt
          in: path
          name: id
          required: true
          schema:
            description: An Id of the respository DTO elemennt
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Shared.Pictures"
          description: Success
        "401":
          description: Unauthorized
      summary: "Images: Get by Id"
      tags:
        - Images
  "/ShapeTrees/ChildObjects/{id}":
    get:
      description: This endpoint is helpful for helping users and bots identify dependent objects to this Slide and retreive their corresponding metadata in order to make modifications to those objects in downstream operations.
      operationId: slides_shapetrees_childobjects_get_id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ChildObjects"
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
      summary: "Slides: Get Dependent Objects Tree"
      tags:
        - ShapeTrees
      x-operationName: get-obj-tree
  "/ShapeTrees/Details/{id}":
    get:
      description: "Returns object metadata and information about relative dependent objects "
      operationId: slides_shapetrees_details_get_id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Slide.ShapeTrees.Details"
          description: Success
        "401":
          description: Unauthorized
      summary: "Slides: Get Details"
      tags:
        - ShapeTrees
      x-operationName: details
  "/ShapeTrees/OpenOfficeXml/{id}":
    get:
      description: Return the subset of the xml content from within the latest edited version of the OpenXmlDocument from this Slide object.  The returned xml data conforms to the [Ecma-376 standard](http://www.ecma-international.org/publications/standards/Ecma-376.htm).  Use this endpoint a starting point for building client-side extensions that modify Presalytics widgets containing Slide objects.
      operationId: slides_shapetrees_openofficexml_get_id_updated
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
        - description: Indicates whether API should return the orginal uploaded xml (false) or the actively updated version (true, default)
          in: query
          name: updated
          schema:
            default: true
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OoxmlDTO"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
      summary: "Slides: Get Underlying Xml"
      tags:
        - ShapeTrees
      x-operationName: get-xml
    put:
      description: Directly eidt the underlying xml of a Slide object within an OpenOpenXml (e.g. Excel, Powerpoint) document. This endpoint will validatate the submitted xml against the [Ecma-376 standard](http://www.ecma-international.org/publications/standards/Ecma-376.htm) prior to saving modification.  Invalid xml will rejected by this endpoint and a (hopefully) helpful error message will be returned.  Use this endpoint for client-side automation of modifications ot Slide objects.
      operationId: slides_shapetrees_openofficexml_put_id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: "#/components/schemas/OoxmlDTO"
          application/json:
            schema:
              $ref: "#/components/schemas/OoxmlDTO"
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/OoxmlDTO"
          text/json:
            schema:
              $ref: "#/components/schemas/OoxmlDTO"
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
      summary: "Slides: Modify Underlying Xml"
      tags:
        - ShapeTrees
      x-operationName: put-xml
  "/ShapeTrees/Svg/{id}":
    get:
      description: This endpoint is helpful for rending this Slide as an svg or image object that can then be rendered in a story, dashboard or website.
      operationId: slides_shapetrees_svg_get_id_use_cache
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
        - description: Indicates whether API should retrieve content from a cache if aviable (true, default), or force an update (false)
          in: query
          name: use_cache
          schema:
            default: false
            type: boolean
      responses:
        "200":
          content:
            image/svg+xml:
              schema:
                description: The file byte stream.
                format: binary
                title: Svg byte stream
                type: string
          description: Returns an svg formatted-image of this object.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
      summary: "Slides: Get Svg file"
      tags:
        - ShapeTrees
      x-operationName: get-svg
  "/ShapeTrees/{id}":
    get:
      description: "Get by Id: Use this method to retrieve a ShapeTrees object by its primary key (id)"
      operationId: slides_shapetrees_get_id
      parameters:
        - description: An Id of the respository DTO elemennt
          in: path
          name: id
          required: true
          schema:
            description: An Id of the respository DTO elemennt
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Slide.ShapeTrees"
          description: Success
        "401":
          description: Unauthorized
      summary: "ShapeTrees: Get by Id"
      tags:
        - ShapeTrees
  "/Shapes/ChildObjects/{id}":
    get:
      description: This endpoint is helpful for helping users and bots identify dependent objects to this Slide and retreive their corresponding metadata in order to make modifications to those objects in downstream operations.
      operationId: slides_shapes_childobjects_get_id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ChildObjects"
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Forbidden
      summary: "Slides: Get Dependent Objects Tree"
      tags:
        - Shapes
      x-operationName: get-obj-tree
  "/Shapes/Details/{id}":
    get:
      description: "Returns object metadata and information about relative dependent objects "
      operationId: slides_shapes_details_get_id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Slide.Shapes.Details"
          description: Success
        "401":
          description: Unauthorized
      summary: "Slides: Get Details"
      tags:
        - Shapes
      x-operationName: details
  "/Shapes/OpenOfficeXml/{id}":
    get:
      description: Return the subset of the xml content from within the latest edited version of the OpenXmlDocument from this Slide object.  The returned xml data conforms to the [Ecma-376 standard](http://www.ecma-international.org/publications/standards/Ecma-376.htm).  Use this endpoint a starting point for building client-side extensions that modify Presalytics widgets containing Slide objects.
      operationId: slides_shapes_openofficexml_get_id_updated
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
        - description: Indicates whether API should return the orginal uploaded xml (false) or the actively updated version (true, default)
          in: query
          name: updated
          schema:
            default: true
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OoxmlDTO"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
      summary: "Slides: Get Underlying Xml"
      tags:
        - Shapes
      x-operationName: get-xml
    put:
      description: Directly eidt the underlying xml of a Slide object within an OpenOpenXml (e.g. Excel, Powerpoint) document. This endpoint will validatate the submitted xml against the [Ecma-376 standard](http://www.ecma-international.org/publications/standards/Ecma-376.htm) prior to saving modification.  Invalid xml will rejected by this endpoint and a (hopefully) helpful error message will be returned.  Use this endpoint for client-side automation of modifications ot Slide objects.
      operationId: slides_shapes_openofficexml_put_id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: "#/components/schemas/OoxmlDTO"
          application/json:
            schema:
              $ref: "#/components/schemas/OoxmlDTO"
          application/json-patch+json:
            schema:
              $ref: "#/components/schemas/OoxmlDTO"
          text/json:
            schema:
              $ref: "#/components/schemas/OoxmlDTO"
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
      summary: "Slides: Modify Underlying Xml"
      tags:
        - Shapes
      x-operationName: put-xml
  "/Shapes/Svg/{id}":
    get:
      description: This endpoint is helpful for rending this Slide as an svg or image object that can then be rendered in a story, dashboard or website.
      operationId: slides_shapes_svg_get_id_use_cache
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
        - description: Indicates whether API should retrieve content from a cache if aviable (true, default), or force an update (false)
          in: query
          name: use_cache
          schema:
            default: false
            type: boolean
      responses:
        "200":
          content:
            image/svg+xml:
              schema:
                description: The file byte stream.
                format: binary
                title: Svg byte stream
                type: string
          description: Returns an svg formatted-image of this object.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
      summary: "Slides: Get Svg file"
      tags:
        - Shapes
      x-operationName: get-svg
  "/Shapes/{id}":
    get:
      description: "Get by Id: Use this method to retrieve a Shapes object by its primary key (id)"
      operationId: slides_shapes_get_id
      parameters:
        - description: An Id of the respository DTO elemennt
          in: path
          name: id
          required: true
          schema:
            description: An Id of the respository DTO elemennt
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Slide.Shapes"
          description: Success
        "401":
          description: Unauthorized
      summary: "Shapes: Get by Id"
      tags:
        - Shapes
  "/Shared/ColorTransformationAttributes/{id}":
    get:
      description: "Get by Id: Use this method to retrieve a ColorTransformationAttributes object by its primary key (id)"
      operationId: shared_colortransformationattributes_get_id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Shared.ColorTransformationAttributes"
          description: Success
        "401":
          description: Unauthorized
      summary: "ColorTransformationAttributes: Get by Id"
      tags:
        - Shared/ColorTransformationAttributes
  "/Shared/ColorTransformations/{id}":
    get:
      description: "Get by Id: Use this method to retrieve a ColorTransformations object by its primary key (id)"
      operationId: shared_colortransformations_get_id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Shared.ColorTransformations"
          description: Success
        "401":
          description: Unauthorized
      summary: "ColorTransformations: Get by Id"
      tags:
        - Shared/ColorTransformations
  /Shared/ColorTypes:
    get:
      description: "List Types: Use this method to retreive a list of possible options for the ColorTypes type. Use the Id from oneof the returned elements on to make changes to elements in the Shared object space."
      operationId: shared_colortypes_get
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Shared.ColorTypes"
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          description: Unauthorized
      summary: "ColorTypes: List All Possible Types"
      tags:
        - Shared/ColorTypes
      x-operationName: list
  "/Shared/ColorTypes/TypeId/{type_id}":
    get:
      description: This endpoint returns Type metadata from an integer type_id that can found on objects throughout the api.
      operationId: shared_colortypes_typeid_get_type_id
      parameters:
        - in: path
          name: type_id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Shared.ColorTypes"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          description: Unauthorized
      summary: "ColorTypes: Get By Type Id"
      tags:
        - Shared/ColorTypes
      x-operationName: type-id
  "/Shared/ColorTypes/{id}":
    get:
      description: "Get by Id: Use this method to retrieve a ColorTypes object by its primary key (id)"
      operationId: shared_colortypes_get_id
      parameters:
        - description: ""
          in: path
          name: id
          required: true
          schema:
            description: ""
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Shared.ColorTypes"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          description: Unauthorized
      summary: "ColorTypes: Get by Id"
      tags:
        - Shared/ColorTypes
  /Shared/DashTypes:
    get:
      description: "List Types: Use this method to retreive a list of possible options for the DashTypes type. Use the Id from oneof the returned elements on to make changes to elements in the Shared object space."
      operationId: shared_dashtypes_get
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Shared.DashTypes"
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          description: Unauthorized
      summary: "DashTypes: List All Possible Types"
      tags:
        - Shared/DashTypes
      x-operationName: list
  "/Shared/DashTypes/TypeId/{type_id}":
    get:
      description: This endpoint returns Type metadata from an integer type_id that can found on objects throughout the api.
      operationId: shared_dashtypes_typeid_get_type_id
      parameters:
        - in: path
          name: type_id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Shared.DashTypes"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          description: Unauthorized
      summary: "DashTypes: Get By Type Id"
      tags:
        - Shared/DashTypes
      x-operationName: type-id
  "/Shared/DashTypes/{id}":
    get:
      description: "Get by Id: Use this method to retrieve a DashTypes object by its primary key (id)"
      operationId: shared_dashtypes_get_id
      parameters:
        - description: ""
          in: path
          name: id
          required: true
          schema:
            description: ""
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Shared.DashTypes"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          description: Unauthorized
      summary: "DashTypes: Get by Id"
      tags:
        - Shared/DashTypes
  "/Shared/EffectAttributes/{id}":
    get:
      description: "Get by Id: Use this method to retrieve a EffectAttributes object by its primary key (id)"
      operationId: shared_effectattributes_get_id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Shared.EffectAttributes"
          description: Success
        "401":
          description: Unauthorized
      summary: "EffectAttributes: Get by Id"
      tags:
        - Shared/EffectAttributes
  /Shared/EffectTypes:
    get:
      description: "List Types: Use this method to retreive a list of possible options for the EffectTypes type. Use the Id from oneof the returned elements on to make changes to elements in the Shared object space."
      operationId: shared_effecttypes_get
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Shared.EffectTypes"
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          description: Unauthorized
      summary: "EffectTypes: List All Possible Types"
      tags:
        - Shared/EffectTypes
      x-operationName: list
  "/Shared/EffectTypes/TypeId/{type_id}":
    get:
      description: This endpoint returns Type metadata from an integer type_id that can found on objects throughout the api.
      operationId: shared_effecttypes_typeid_get_type_id
      parameters:
        - in: path
          name: type_id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Shared.EffectTypes"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          description: Unauthorized
      summary: "EffectTypes: Get By Type Id"
      tags:
        - Shared/EffectTypes
      x-operationName: type-id
  "/Shared/EffectTypes/{id}":
    get:
      description: "Get by Id: Use this method to retrieve a EffectTypes object by its primary key (id)"
      operationId: shared_effecttypes_get_id
      parameters:
        - description: ""
          in: path
          name: id
          required: true
          schema:
            description: ""
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Shared.EffectTypes"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          description: Unauthorized
      summary: "EffectTypes: Get by Id"
      tags:
        - Shared/EffectTypes
  "/Shared/Effects/{id}":
    get:
      description: "Get by Id: Use this method to retrieve a Effects object by its primary key (id)"
      operationId: shared_effects_get_id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Shared.Effects"
          description: Success
        "401":
          description: Unauthorized
      summary: "Effects: Get by Id"
      tags:
        - Shared/Effects
  "/Shared/FillMap/{id}":
    get:
      description: "Get by Id: Use this method to retrieve a FillMap object by its primary key (id)"
      operationId: shared_fillmap_get_id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Shared.FillMap"
          description: Success
        "401":
          description: Unauthorized
      summary: "FillMap: Get by Id"
      tags:
        - Shared/FillMap
  /Shared/FillTypes:
    get:
      description: "List Types: Use this method to retreive a list of possible options for the FillTypes type. Use the Id from oneof the returned elements on to make changes to elements in the Shared object space."
      operationId: shared_filltypes_get
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Shared.FillTypes"
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          description: Unauthorized
      summary: "FillTypes: List All Possible Types"
      tags:
        - Shared/FillTypes
      x-operationName: list
  "/Shared/FillTypes/TypeId/{type_id}":
    get:
      description: This endpoint returns Type metadata from an integer type_id that can found on objects throughout the api.
      operationId: shared_filltypes_typeid_get_type_id
      parameters:
        - in: path
          name: type_id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Shared.FillTypes"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          description: Unauthorized
      summary: "FillTypes: Get By Type Id"
      tags:
        - Shared/FillTypes
      x-operationName: type-id
  "/Shared/FillTypes/{id}":
    get:
      description: "Get by Id: Use this method to retrieve a FillTypes object by its primary key (id)"
      operationId: shared_filltypes_get_id
      parameters:
        - description: ""
          in: path
          name: id
          required: true
          schema:
            description: ""
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Shared.FillTypes"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          description: Unauthorized
      summary: "FillTypes: Get by Id"
      tags:
        - Shared/FillTypes
  "/Shared/GradientFills/{id}":
    get:
      description: "Get by Id: Use this method to retrieve a GradientFills object by its primary key (id)"
      operationId: shared_gradientfills_get_id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Shared.GradientFills"
          description: Success
        "401":
          description: Unauthorized
      summary: "GradientFills: Get by Id"
      tags:
        - Shared/GradientFills
  "/Shared/GradientStops/{id}":
    get:
      description: "Get by Id: Use this method to retrieve a GradientStops object by its primary key (id)"
      operationId: shared_gradientstops_get_id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Shared.GradientStops"
          description: Success
        "401":
          description: Unauthorized
      summary: "GradientStops: Get by Id"
      tags:
        - Shared/GradientStops
  "/Shared/ImageFills/{id}":
    get:
      description: "Get by Id: Use this method to retrieve a ImageFills object by its primary key (id)"
      operationId: shared_imagefills_get_id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Shared.ImageFills"
          description: Success
        "401":
          description: Unauthorized
      summary: "ImageFills: Get by Id"
      tags:
        - Shared/ImageFills
  /Shared/LineEndSizes:
    get:
      description: "List Types: Use this method to retreive a list of possible options for the LineEndSizes type. Use the Id from oneof the returned elements on to make changes to elements in the Shared object space."
      operationId: shared_lineendsizes_get
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Shared.LineEndSizes"
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          description: Unauthorized
      summary: "LineEndSizes: List All Possible Types"
      tags:
        - Shared/LineEndSizes
      x-operationName: list
  "/Shared/LineEndSizes/TypeId/{type_id}":
    get:
      description: This endpoint returns Type metadata from an integer type_id that can found on objects throughout the api.
      operationId: shared_lineendsizes_typeid_get_type_id
      parameters:
        - in: path
          name: type_id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Shared.LineEndSizes"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          description: Unauthorized
      summary: "LineEndSizes: Get By Type Id"
      tags:
        - Shared/LineEndSizes
      x-operationName: type-id
  "/Shared/LineEndSizes/{id}":
    get:
      description: "Get by Id: Use this method to retrieve a LineEndSizes object by its primary key (id)"
      operationId: shared_lineendsizes_get_id
      parameters:
        - description: ""
          in: path
          name: id
          required: true
          schema:
            description: ""
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Shared.LineEndSizes"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/plain:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
          description: Bad Request
        "401":
          description: Unauthorized
      summary: "LineEndSizes: Get by Id"
      tags:
        - Shared/LineEndSizes
  /Shared/LineEndTypes:
    get:
      description: "List Types: Use this method to retreive a list of possible options for the LineEndTypes type. Use the Id from oneof the returned elements on to make changes to elements in the Shared object space."
      operationId: shared_lineendtypes_get
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Shared.LineEndTypes"
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"
            text/json:
              schema:
[...]
