swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Compute Management Client.
  title: ComputeManagementClient
  version: 2019-04-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/compute/resource-manager/Microsoft.Compute/stable/2019-04-01/skus.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: compute-skus
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/skus":
    get:
      description: Gets the list of Microsoft.Compute SKUs available for your Subscription.
      operationId: ResourceSkus_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ResourceSkusResult"
      tags:
        - Skus
        - AvailabilitySets
      x-ms-examples:
        Lists all available Resource SKUs:
          parameters:
            api-version: 2019-04-01
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                nextLink: null
                value:
                  - capabilities:
                      - name: MaxResourceVolumeMB
                        value: "20480"
                      - name: OSVhdSizeMB
                        value: "1047552"
                      - name: vCPUs
                        value: "1"
                      - name: HyperVGenerations
                        value: V1
                      - name: MemoryGB
                        value: "0.75"
                      - name: MaxDataDiskCount
                        value: "1"
                      - name: LowPriorityCapable
                        value: "False"
                      - name: PremiumIO
                        value: "False"
                      - name: vCPUsAvailable
                        value: "1"
                      - name: ACUs
                        value: "50"
                      - name: vCPUsPerCore
                        value: "1"
                      - name: EphemeralOSDiskSupported
                        value: "False"
                      - name: AcceleratedNetworkingEnabled
                        value: "False"
                      - name: RdmaEnabled
                        value: "False"
                      - name: MaxNetworkInterfaces
                        value: "2"
                    family: standardA0_A7Family
                    locationInfo:
                      - location: westus
                        zoneDetails:
                          - capabilities:
                              - name: UltraSSDAvailable
                                value: "True"
                            name:
                              - westus-AZ01
                        zones:
                          - westus-AZ01
                    locations:
                      - westus
                    name: Standard_A0
                    resourceType: virtualMachines
                    size: A0
                    tier: Standard
                  - capabilities:
                      - name: MaxResourceVolumeMB
                        value: "71680"
                      - name: OSVhdSizeMB
                        value: "1047552"
                      - name: vCPUs
                        value: "1"
                      - name: HyperVGenerations
                        value: V1
                      - name: MemoryGB
                        value: "1.75"
                      - name: MaxDataDiskCount
                        value: "2"
                      - name: LowPriorityCapable
                        value: "True"
                      - name: PremiumIO
                        value: "False"
                      - name: vCPUsAvailable
                        value: "1"
                      - name: ACUs
                        value: "100"
                      - name: vCPUsPerCore
                        value: "1"
                      - name: EphemeralOSDiskSupported
                        value: "False"
                      - name: AcceleratedNetworkingEnabled
                        value: "False"
                      - name: RdmaEnabled
                        value: "False"
                      - name: MaxNetworkInterfaces
                        value: "2"
                    family: standardA0_A7Family
                    locationInfo:
                      - location: westus
                        zones:
                          - westus-AZ02
                          - westus-AZ01
                    locations:
                      - westus
                    name: Standard_A1
                    resourceType: virtualMachines
                    size: A1
                    tier: Standard
        Lists all available Resource SKUs for the specified region:
          parameters:
            $filter: location eq 'westus'
            api-version: 2019-04-01
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                nextLink: null
                value:
                  - capabilities:
                      - name: MaxResourceVolumeMB
                        value: "20480"
                      - name: OSVhdSizeMB
                        value: "1047552"
                      - name: vCPUs
                        value: "1"
                      - name: HyperVGenerations
                        value: V1
                      - name: MemoryGB
                        value: "0.75"
                      - name: MaxDataDiskCount
                        value: "1"
                      - name: LowPriorityCapable
                        value: "False"
                      - name: PremiumIO
                        value: "False"
                      - name: vCPUsAvailable
                        value: "1"
                      - name: ACUs
                        value: "50"
                      - name: vCPUsPerCore
                        value: "1"
                      - name: EphemeralOSDiskSupported
                        value: "False"
                      - name: AcceleratedNetworkingEnabled
                        value: "False"
                      - name: RdmaEnabled
                        value: "False"
                      - name: MaxNetworkInterfaces
                        value: "2"
                    family: standardA0_A7Family
                    locationInfo:
                      - location: westus
                        zoneDetails:
                          - capabilities:
                              - name: UltraSSDAvailable
                                value: "True"
                            name:
                              - westus-AZ01
                        zones:
                          - westus-AZ01
                    locations:
                      - westus
                    name: Standard_A0
                    resourceType: virtualMachines
                    size: A0
                    tier: Standard
                  - capabilities:
                      - name: MaxResourceVolumeMB
                        value: "71680"
                      - name: OSVhdSizeMB
                        value: "1047552"
                      - name: vCPUs
                        value: "1"
                      - name: HyperVGenerations
                        value: V1
                      - name: MemoryGB
                        value: "1.75"
                      - name: MaxDataDiskCount
                        value: "2"
                      - name: LowPriorityCapable
                        value: "True"
                      - name: PremiumIO
                        value: "False"
                      - name: vCPUsAvailable
                        value: "1"
                      - name: ACUs
                        value: "100"
                      - name: vCPUsPerCore
                        value: "1"
                      - name: EphemeralOSDiskSupported
                        value: "False"
                      - name: AcceleratedNetworkingEnabled
                        value: "False"
                      - name: RdmaEnabled
                        value: "False"
                      - name: MaxNetworkInterfaces
                        value: "2"
                    family: standardA0_A7Family
                    locationInfo:
                      - location: westus
                        zones:
                          - westus-AZ02
                          - westus-AZ01
                    locations:
                      - westus
                    name: Standard_A1
                    resourceType: virtualMachines
                    size: A1
                    tier: Standard
      x-ms-pageable:
        nextLinkName: nextLink
definitions:
  ResourceSku:
    description: Describes an available Compute SKU.
    properties:
      apiVersions:
        description: The api versions that support this SKU.
        items:
          type: string
        readOnly: true
        type: array
      capabilities:
        description: A name value pair to describe the capability.
        items:
          $ref: "#/definitions/ResourceSkuCapabilities"
        readOnly: true
        type: array
      capacity:
        $ref: "#/definitions/ResourceSkuCapacity"
        description: Specifies the number of virtual machines in the scale set.
        readOnly: true
      costs:
        description: Metadata for retrieving price info.
        items:
          $ref: "#/definitions/ResourceSkuCosts"
        readOnly: true
        type: array
      family:
        description: The Family of this particular SKU.
        readOnly: true
        type: string
      kind:
        description: The Kind of resources that are supported in this SKU.
        readOnly: true
        type: string
      locationInfo:
        description: A list of locations and availability zones in those locations where the SKU is available.
        items:
          $ref: "#/definitions/ResourceSkuLocationInfo"
        readOnly: true
        type: array
      locations:
        description: The set of locations that the SKU is available.
        items:
          type: string
        readOnly: true
        type: array
      name:
        description: The name of SKU.
        readOnly: true
        type: string
      resourceType:
        description: The type of resource the SKU applies to.
        readOnly: true
        type: string
      restrictions:
        description: The restrictions because of which SKU cannot be used. This is empty if there are no restrictions.
        items:
          $ref: "#/definitions/ResourceSkuRestrictions"
        readOnly: true
        type: array
      size:
        description: The Size of the SKU.
        readOnly: true
        type: string
      tier:
        description: Specifies the tier of virtual machines in a scale set.<br /><br /> Possible Values:<br /><br /> **Standard**<br /><br /> **Basic**
        readOnly: true
        type: string
  ResourceSkuCapabilities:
    description: Describes The SKU capabilities object.
    properties:
      name:
        description: An invariant to describe the feature.
        readOnly: true
        type: string
      value:
        description: An invariant if the feature is measured by quantity.
        readOnly: true
        type: string
  ResourceSkuCapacity:
    description: Describes scaling information of a SKU.
    properties:
      default:
        description: The default capacity.
        format: int64
        readOnly: true
        type: integer
      maximum:
        description: The maximum capacity that can be set.
        format: int64
        readOnly: true
        type: integer
      minimum:
        description: The minimum capacity.
        format: int64
        readOnly: true
        type: integer
      scaleType:
        description: The scale type applicable to the sku.
        enum:
          - Automatic
          - Manual
          - None
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: ResourceSkuCapacityScaleType
  ResourceSkuCosts:
    description: Describes metadata for retrieving price info.
    properties:
      extendedUnit:
        description: An invariant to show the extended unit.
        readOnly: true
        type: string
      meterID:
        description: Used for querying price from commerce.
        readOnly: true
        type: string
      quantity:
        description: The multiplier is needed to extend the base metered cost.
        format: int64
        readOnly: true
        type: integer
  ResourceSkuLocationInfo:
    properties:
      location:
        description: Location of the SKU
        readOnly: true
        type: string
      zoneDetails:
        description: Details of capabilities available to a SKU in specific zones.
        items:
          $ref: "#/definitions/ResourceSkuZoneDetails"
        readOnly: true
        type: array
      zones:
        description: List of availability zones where the SKU is supported.
        items:
          type: string
        readOnly: true
        type: array
  ResourceSkuRestrictionInfo:
    properties:
      locations:
        description: Locations where the SKU is restricted
        items:
          type: string
        readOnly: true
        type: array
      zones:
        description: List of availability zones where the SKU is restricted.
        items:
          type: string
        readOnly: true
        type: array
  ResourceSkuRestrictions:
    description: Describes scaling information of a SKU.
    properties:
      reasonCode:
        description: The reason for restriction.
        enum:
          - QuotaId
          - NotAvailableForSubscription
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: ResourceSkuRestrictionsReasonCode
      restrictionInfo:
        $ref: "#/definitions/ResourceSkuRestrictionInfo"
        description: The information about the restriction where the SKU cannot be used.
        readOnly: true
      type:
        description: The type of restrictions.
        enum:
          - Location
          - Zone
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: ResourceSkuRestrictionsType
      values:
        description: The value of restrictions. If the restriction type is set to location. This would be different locations where the SKU is restricted.
        items:
          type: string
        readOnly: true
        type: array
  ResourceSkuZoneDetails:
    description: Describes The zonal capabilities of a SKU.
    properties:
      capabilities:
        description: A list of capabilities that are available for the SKU in the specified list of zones.
        items:
          $ref: "#/definitions/ResourceSkuCapabilities"
        readOnly: true
        type: array
      name:
        description: The set of zones that the SKU is available in with the specified capabilities.
        items:
          type: string
        readOnly: true
        type: array
  ResourceSkusResult:
    description: The List Resource Skus operation response.
    properties:
      nextLink:
        description: The URI to fetch the next page of Resource Skus. Call ListNext() with this URI to fetch the next page of Resource Skus
        type: string
      value:
        description: The list of skus available for the subscription.
        items:
          $ref: "#/definitions/ResourceSku"
        type: array
    required:
      - value
