swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Azure Application Insights workbook type.
  title: ApplicationInsightsManagementClient
  version: 2015-05-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/workbooks_API.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: applicationinsights-workbooks_API
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  CanFetchWorkbookContentParameter:
    description: Flag indicating whether or not to return the full content for each applicable workbook. If false, only return summary content for workbooks.
    in: query
    name: canFetchContent
    required: false
    type: boolean
    x-ms-parameter-location: method
  CategoryParameter:
    description: Category of workbook to return.
    enum:
      - workbook
      - TSG
      - performance
      - retention
    in: query
    name: category
    required: true
    type: string
    x-ms-enum:
      modelAsString: true
      name: CategoryType
    x-ms-parameter-location: method
  ResourceIdParameter:
    description: Azure Resource Id or any target workbook resource id.
    in: query
    name: resourceId
    required: true
    type: string
    x-ms-parameter-location: method
  SourceIdParameter:
    description: Azure Resource Id that will fetch all linked workbooks.
    in: query
    name: sourceId
    required: true
    type: string
    x-ms-parameter-location: method
  TagsParameter:
    collectionFormat: csv
    description: Tags presents on each workbook returned.
    in: query
    items:
      type: string
    name: tags
    required: false
    type: array
    x-ms-parameter-location: method
  WorkbookResourceNameParameter:
    description: The name of the Application Insights component resource.
    in: path
    name: resourceName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourceGroup/{resourceGroupName}/providers/microsoft.insights/workbooks":
    get:
      description: Get all Workbooks defined within a specified resource group and category.
      operationId: Workbooks_ListByResourceGroup
      parameters:
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/CategoryParameter"
        - $ref: "#/parameters/TagsParameter"
        - $ref: "#/parameters/CanFetchWorkbookContentParameter"
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: A list containing 0 or more workbook definitions.
          schema:
            $ref: "#/definitions/WorkbooksListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/WorkbookError"
      x-ms-examples:
        WorkbooksList:
          parameters:
            api-version: 2015-05-01
            category: workbook
            resourceGroupName: my-resource-group
            subscriptionId: 6b643656-33eb-422f-aee8-3ac145d124af
          responses:
            "200":
              body:
                - id: c0deea5e-3344-40f2-96f8-6f8e1c3b5722
                  location: westus
                  name: deadb33f-8bee-4d3b-a059-9be8dac93960
                  properties:
                    category: workbook
                    kind: shared
                    name: My Workbook 1
                    serializedData: "{\"verion\":\"Notebook/1.0\",\"items\":[{\"type\":1,\"content\":\"{\"json\":\"## New workbook\\r\\n---\\r\\n\\r\\nWelcome to your new workbook.  This area will display text formatted as markdown.\\r\\n\\r\\n\\r\\nWe've included a basic analytics query to get you started. Use the `Edit` button below each section to configure it or add more sections.\"}\",\"halfWidth\":null,\"conditionalVisibility\":null},{\"type\":3,\"content\":\"{\"version\":\"KqlItem/1.0\",\"query\":\"union withsource=TableName *\\n| summarize Count=count() by TableName\\n| render barchart\",\"showQuery\":false,\"size\":1,\"aggregation\":0,\"showAnnotations\":false}\",\"halfWidth\":null,\"conditionalVisibility\":null}],\"isLocked\":false}"
                    timeModified: null
                    userId: userId
                    version: ME
                    workbookId: deadb33f-8bee-4d3b-a059-9be8dac93960
                  tags: []
                  type: ""
                - id: c0deea5e-3344-40f2-96f8-6f8e1c3b5722
                  location: westus
                  name: deadb33f-8bee-4d3b-a059-9be8dac93960
                  properties:
                    category: workbook
                    kind: shared
                    name: My Workbook 2
                    serializedData: "{\"version\":\"Notebook/1.0\",\"items\":[{\"type\":1,\"content\":\"{\"json\":\"## New workbook\\r\\n---\\r\\n\\r\\nWelcome to your new workbook.  This area will display text formatted as markdown.\\r\\n\\r\\n\\r\\nWe've included a basic analytics query to get you started. Use the `Edit` button below each section to configure it or add more sections.\"}\",\"halfWidth\":null,\"conditionalVisibility\":null},{\"type\":3,\"content\":\"{\"version\":\"KqlItem/1.0\",\"query\":\"union withsource=TableName *\\n| summarize Count=count() by TableName\\n| render barchart\",\"showQuery\":false,\"size\":1,\"aggregation\":0,\"showAnnotations\":false}\",\"halfWidth\":null,\"conditionalVisibility\":null}],\"isLocked\":false}"
                    timeModified: null
                    userId: userId
                    version: ME
                    workbookId: deadb33f-8bee-4d3b-a059-9be8dac93960
                  tags:
                    - SampleTag01
                    - SampleTag2
                  type: ""
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroup/{resourceGroupName}/providers/microsoft.insights/workbooks/{resourceName}":
    delete:
      description: Delete a workbook.
      operationId: Workbooks_Delete
      parameters:
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/WorkbookResourceNameParameter"
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
      responses:
        "201":
          description: The workbook has been successfully deleted.
        "204":
          description: The resource doesn't exist.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/WorkbookError"
      x-ms-examples:
        WorkbookDelete:
          parameters:
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: deadb33f-5e0d-4064-8ebb-1a4ed0313eb2
            subscriptionId: subid
          responses:
            "201": {}
            "204": {}
    get:
      description: Get a single workbook by its resourceName.
      operationId: Workbooks_Get
      parameters:
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/WorkbookResourceNameParameter"
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: A workbook definition.
          schema:
            $ref: "#/definitions/Workbook"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/WorkbookError"
      x-ms-examples:
        WorkbookGet:
          parameters:
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: deadb33f-5e0d-4064-8ebb-1a4ed0313eb2
            subscriptionId: 6b643656-33eb-422f-aee8-3ac145d124af
          responses:
            "200":
              body:
                id: c0deea5e-3344-40f2-96f8-6f8e1c3b5722
                location: westus
                name: deadb33f-8bee-4d3b-a059-9be8dac93960
                properties:
                  category: workbook
                  kind: shared
                  name: My New Workbook
                  serializedData: "{\"version\":\"Notebook/1.0\",\"items\":[{\"type\":1,\"content\":\"{\"json\":\"## New workbook\\r\\n---\\r\\n\\r\\nWelcome to your new workbook.  This area will display text formatted as markdown.\\r\\n\\r\\n\\r\\nWe've included a basic analytics query to get you started. Use the `Edit` button below each section to configure it or add more sections.\"}\",\"halfWidth\":null,\"conditionalVisibility\":null},{\"type\":3,\"content\":\"{\"version\":\"KqlItem/1.0\",\"query\":\"union withsource=TableName *\\n| summarize Count=count() by TableName\\n| render barchart\",\"showQuery\":false,\"size\":1,\"aggregation\":0,\"showAnnotations\":false}\",\"halfWidth\":null,\"conditionalVisibility\":null}],\"isLocked\":false}"
                  timeModified: null
                  userId: userId
                  version: ME
                  workbookId: deadb33f-8bee-4d3b-a059-9be8dac93960
                tags:
                  - TagSample01
                  - TagSample02
                type: ""
    patch:
      description: Updates a workbook that has already been added.
      operationId: Workbooks_Update
      parameters:
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/WorkbookResourceNameParameter"
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: Properties that need to be specified to create a new workbook.
          in: body
          name: workbookProperties
          required: true
          schema:
            $ref: "#/definitions/Workbook"
      responses:
        "200":
          description: The workbook definition updated.
          schema:
            $ref: "#/definitions/Workbook"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/WorkbookError"
      x-ms-examples:
        WorkbookUpdate:
          parameters:
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: deadb33f-5e0d-4064-8ebb-1a4ed0313eb2
            subscriptionId: 6b643656-33eb-422f-aee8-3ac145d124af
            workbookProperties:
              location: west us
              name: deadb33f-8bee-4d3b-a059-9be8dac93960
              properties:
                category: workbook
                kind: shared
                name: Blah Blah Blah
                serializedData: "{\"version\":\"Notebook/1.0\",\"items\":[{\"type\":1,\"content\":\"{\"json\":\"## New workbook\\r\\n---\\r\\n\\r\\nWelcome to your new workbook.  This area will display text formatted as markdown.\\r\\n\\r\\n\\r\\nWe've included a basic analytics query to get you started. Use the `Edit` button below each section to configure it or add more sections.\"}\",\"halfWidth\":null,\"conditionalVisibility\":null},{\"type\":3,\"content\":\"{\"version\":\"KqlItem/1.0\",\"query\":\"union withsource=TableName *\\n| summarize Count=count() by TableName\\n| render barchart\",\"showQuery\":false,\"size\":1,\"aggregation\":0,\"showAnnotations\":false}\",\"halfWidth\":null,\"conditionalVisibility\":null}],\"isLocked\":false}"
                timeModified: null
                userId: userId
                version: ME
                workbookId: deadb33f-8bee-4d3b-a059-9be8dac93960
              tags:
                - TagSample01
                - TagSample02
          responses:
            "200":
              body:
                id: c0deea5e-3344-40f2-96f8-6f8e1c3b5722
                location: westus
                name: deadb33f-8bee-4d3b-a059-9be8dac93960
                properties:
                  category: workbook
                  kind: shared
                  name: Blah Blah Blah
                  serializedData: "{\"version\":\"Notebook/1.0\",\"items\":[{\"type\":1,\"content\":\"{\"json\":\"## New workbook\\r\\n---\\r\\n\\r\\nWelcome to your new workbook.  This area will display text formatted as markdown.\\r\\n\\r\\n\\r\\nWe've included a basic analytics query to get you started. Use the `Edit` button below each section to configure it or add more sections.\"}\",\"halfWidth\":null,\"conditionalVisibility\":null},{\"type\":3,\"content\":\"{\"version\":\"KqlItem/1.0\",\"query\":\"union withsource=TableName *\\n| summarize Count=count() by TableName\\n| render barchart\",\"showQuery\":false,\"size\":1,\"aggregation\":0,\"showAnnotations\":false}\",\"halfWidth\":null,\"conditionalVisibility\":null}],\"isLocked\":false}"
                  timeModified: null
                  userId: userId
                  version: ME
                  workbookId: deadb33f-8bee-4d3b-a059-9be8dac93960
                tags:
                  - TagSample01
                  - TagSample02
                type: ""
    put:
      description: Create a new workbook.
      operationId: Workbooks_CreateOrUpdate
      parameters:
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/WorkbookResourceNameParameter"
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: Properties that need to be specified to create a new workbook.
          in: body
          name: workbookProperties
          required: true
          schema:
            $ref: "#/definitions/Workbook"
      responses:
        "200":
          description: The newly created workbook.
          schema:
            $ref: "#/definitions/Workbook"
        "201":
          description: The newly created workbook.
          schema:
            $ref: "#/definitions/Workbook"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/WorkbookError"
      x-ms-examples:
        WorkbookAdd:
          parameters:
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: deadb33f-8bee-4d3b-a059-9be8dac93960
            subscriptionId: subid
            workbookProperties:
              id: c0deea5e-3344-40f2-96f8-6f8e1c3b5722
              location: west us
              name: deadb33f-8bee-4d3b-a059-9be8dac93960
              properties:
                category: workbook
                kind: shared
                name: Blah Blah Blah
                serializedData: "{\"version\":\"Notebook/1.0\",\"items\":[{\"type\":1,\"content\":\"{\"json\":\"## New workbook\\r\\n---\\r\\n\\r\\nWelcome to your new workbook.  This area will display text formatted as markdown.\\r\\n\\r\\n\\r\\nWe've included a basic analytics query to get you started. Use the `Edit` button below each section to configure it or add more sections.\"}\",\"halfWidth\":null,\"conditionalVisibility\":null},{\"type\":3,\"content\":\"{\"version\":\"KqlItem/1.0\",\"query\":\"union withsource=TableName *\\n| summarize Count=count() by TableName\\n| render barchart\",\"showQuery\":false,\"size\":1,\"aggregation\":0,\"showAnnotations\":false}\",\"halfWidth\":null,\"conditionalVisibility\":null}],\"isLocked\":false}"
                sourceResourceId: /subscriptions/00000000-0000-0000-0000-00000000/resourceGroups/MyGroup/providers/Microsoft.Web/sites/MyTestApp-CodeLens
                timeModified: null
                userId: userId
                workbookId: deadb33f-8bee-4d3b-a059-9be8dac93960
              tags:
                - TagSample01
                - TagSample02
          responses:
            "200":
              body:
                id: c0deea5e-3344-40f2-96f8-6f8e1c3b5722
                location: westus
                name: deadb33f-8bee-4d3b-a059-9be8dac93960
                properties:
                  category: workbook
                  kind: shared
                  name: Blah Blah Blah
                  serializedData: "{\"version\":\"Notebook/1.0\",\"items\":[{\"type\":1,\"content\":\"{\"json\":\"## New workbook\\r\\n---\\r\\n\\r\\nWelcome to your new workbook.  This area will display text formatted as markdown.\\r\\n\\r\\n\\r\\nWe've included a basic analytics query to get you started. Use the `Edit` button below each section to configure it or add more sections.\"}\",\"halfWidth\":null,\"conditionalVisibility\":null},{\"type\":3,\"content\":\"{\"version\":\"KqlItem/1.0\",\"query\":\"union withsource=TableName *\\n| summarize Count=count() by TableName\\n| render barchart\",\"showQuery\":false,\"size\":1,\"aggregation\":0,\"showAnnotations\":false}\",\"halfWidth\":null,\"conditionalVisibility\":null}],\"isLocked\":false}"
                  timeModified: null
                  userId: userId
                  version: ME
                  workbookId: deadb33f-8bee-4d3b-a059-9be8dac93960
                tags:
                  - TagSample01
                  - TagSample02
                type: ""
            "201":
              body:
                id: c0deea5e-3344-40f2-96f8-6f8e1c3b5722
                location: westus
                name: deadb33f-8bee-4d3b-a059-9be8dac93960
                properties:
                  category: workbook
                  kind: shared
                  name: Blah Blah Blah
                  serializedData: "{\"version\":\"Notebook/1.0\",\"items\":[{\"type\":1,\"content\":\"{\"json\":\"## New workbook\\r\\n---\\r\\n\\r\\nWelcome to your new workbook.  This area will display text formatted as markdown.\\r\\n\\r\\n\\r\\nWe've included a basic analytics query to get you started. Use the `Edit` button below each section to configure it or add more sections.\"}\",\"halfWidth\":null,\"conditionalVisibility\":null},{\"type\":3,\"content\":\"{\"version\":\"KqlItem/1.0\",\"query\":\"union withsource=TableName *\\n| summarize Count=count() by TableName\\n| render barchart\",\"showQuery\":false,\"size\":1,\"aggregation\":0,\"showAnnotations\":false}\",\"halfWidth\":null,\"conditionalVisibility\":null}],\"isLocked\":false}"
                  timeModified: null
                  userId: userId
                  version: ME
                  workbookId: deadb33f-8bee-4d3b-a059-9be8dac93960
                tags:
                  - TagSample01
                  - TagSample02
                type: ""
definitions:
  ErrorFieldContract:
    description: Error Field contract.
    properties:
      code:
        description: Property level error code.
        type: string
      message:
        description: Human-readable representation of property-level error.
        type: string
      target:
        description: Property name.
        type: string
  LinkProperties:
    description: Contains a sourceId and workbook resource id to link two resources.
    properties:
      category:
        description: The category of workbook
        type: string
      sourceId:
        description: The source Azure resource id
        type: string
      targetId:
        description: The workbook Azure resource id
        type: string
  Workbook:
    allOf:
      - $ref: "#/definitions/WorkbookResource"
    description: An Application Insights workbook definition.
    properties:
      kind:
        description: The kind of workbook. Choices are user and shared.
        enum:
          - user
          - shared
        type: string
        x-ms-enum:
          modelAsString: true
          name: SharedTypeKind
      properties:
        $ref: "#/definitions/WorkbookProperties"
        description: Metadata describing a web test for an Azure resource.
        x-ms-client-flatten: true
  WorkbookError:
    description: Error message body that will indicate why the operation failed.
    properties:
      code:
        description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
        type: string
      details:
        description: The list of invalid fields send in request, in case of validation error.
        items:
          $ref: "#/definitions/ErrorFieldContract"
        type: array
      message:
        description: Human-readable representation of the error.
        type: string
  WorkbookProperties:
    description: Properties that contain a workbook.
    properties:
      category:
        description: Workbook category, as defined by the user at creation time.
        type: string
      kind:
        default: shared
        description: Enum indicating if this workbook definition is owned by a specific user or is shared between all users with access to the Application Insights component.
        enum:
          - shared
          - user
        type: string
        x-ms-client-name: SharedTypeKind
        x-ms-enum:
          modelAsString: true
          name: SharedTypeKind
      name:
        description: The user-defined name of the workbook.
        type: string
      serializedData:
        description: Configuration of this particular workbook. Configuration data is a string containing valid JSON
        type: string
      sourceResourceId:
        description: Optional resourceId for a source resource.
        type: string
      tags:
        description: A list of 0 or more tags that are associated with this workbook definition
        items:
          type: string
        type: array
      timeModified:
        description: Date and time in UTC of the last modification that was made to this workbook definition.
        readOnly: true
        type: string
      userId:
        description: Unique user id of the specific user that owns this workbook.
        type: string
      version:
        description: This instance's version of the data model. This can change as new features are added that can be marked workbook.
        type: string
      workbookId:
        description: Internally assigned unique id of the workbook definition.
        type: string
    required:
      - name
      - kind
      - category
      - workbookId
      - serializedData
      - userId
  WorkbookResource:
    description: An azure resource object
    properties:
      id:
        description: Azure resource Id
        readOnly: true
        type: string
      location:
        description: Resource location
        type: string
        x-ms-mutability:
          - create
          - read
      name:
        description: Azure resource name
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags
      type:
        description: Azure resource type
        readOnly: true
        type: string
    x-ms-azure-resource: true
  WorkbooksListResult:
    description: Workbook list result.
    properties:
      value:
        description: An array of workbooks.
        items:
          $ref: "#/definitions/Workbook"
        readOnly: true
        type: array
