swagger: "2.0"
schemes:
  - https
host: echodata.epa.gov
basePath: /echo
info:
  contact:
    name: US EPA, OECA Integration, Targeting and Access Branch
  description: "Enforcement and Compliance History Online (ECHO) is a tool developed and maintained by EPA's Office of Enforcement and Compliance Assurance for public use. ECHO provides integrated compliance and enforcement information for over 1 million regulated facilities nationwide.


    DFR Rest Services provide multiple service endpoints, to retrieve detailed facility location, enforcement, compliance monitoring, and pollutant information for any single facility.  See the Detailed Facility Report (DFR) Help Page (https://echo.epa.gov/help/reports/detailed-facility-report-help) for additional information on the DFR.  Additionally, a Data Dictionary (https://echo.epa.gov/help/reports/dfr-data-dictionary) is also available.\ 

    There is one primary service end point, get_dfr, that provides all available DFR data.  All other service end points that are exposed, will return data on a single section of the DFR.   \ 

    \\

    Additional ECHO Resources:   <a href=\"https://echo.epa.gov/tools/web-services\">Web Services</a>, <a href=\"https://echo.epa.gov/resources/echo-data/about-the-data\">About ECHO's Data</a>, <a href=\"https://echo.epa.gov/tools/data-downloads\">Data Downloads</a>

    \ "
  license:
    name: This page was built with the Swagger API.
    url: https://swagger.io
  title: U.S. EPA Enforcement and Compliance History Online (ECHO) - Detailed Facility Report (DFR)
  version: 0.0.0
  x-apisguru-categories:
    - open_data
  x-logo:
    backgroundColor: "#FFFFFF"
    url: https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_632233890594299904_DgRDU6dx_400x400.png
  x-origin:
    - format: swagger
      url: https://ofmpub.epa.gov/echo/swaggerx.swagger_json?p_prefix=DFR
      version: "2.0"
  x-providerName: epa.gov
  x-serviceName: dfr
consumes:
  - application/x-www-form-urlencoded
produces:
  - application/json
  - application/xml
parameters:
  f.callback:
    description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.
    in: formData
    name: callback
    required: false
    type: string
  f.output:
    description: |-
      Output Format Flag.  Enter one of the following keywords:
      - JSON = Data model formatted as Javascript Object Notation (default).
      - JSONP = Data model formatted as Javascript Object Notation with Padding.  
      - XML = Data model formatted as Extensible Markup Language.
    enum:
      - JSONP
      - JSON
      - XML
    in: formData
    name: output
    required: false
    type: string
  f.p_id:
    description: "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
    in: formData
    name: p_id
    required: true
    type: string
  f.p_system:
    description: System Acronym Filter.  Enter a single system acronym to filter results.
    in: formData
    name: p_system
    required: false
    type: string
  q.callback:
    description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.
    in: query
    name: callback
    required: false
    type: string
  q.output:
    description: |-
      Output Format Flag.  Enter one of the following keywords:
      - JSON = Data model formatted as Javascript Object Notation (default).
      - JSONP = Data model formatted as Javascript Object Notation with Padding.  
      - XML = Data model formatted as Extensible Markup Language.
    enum:
      - JSONP
      - JSON
      - XML
    in: query
    name: output
    required: false
    type: string
  q.p_id:
    description: "Either the EPA Facility Registry System's REGISTRY_ID for a facility or the facility identifier from the following EPA Systems: RCRAINFO (HANDLER_ID), AFS (SCSC), ICIS NPDES (NPDES_ID), or SDWIS (PWS_ID)."
    in: query
    name: p_id
    required: true
    type: string
  q.p_missinglate:
    description: "For the D80.D90 download, identifies whether or not MISSINGviolations are downloaded or LATE violations are downloaded.  Valid values are:  MiISSING and LATE."
    enum:
      - MISSING
      - LATE
    in: query
    name: p_missinglate
    required: false
    type: string
  q.p_npdes_id:
    description: The NPDES_ID for the NPDES Permit to download DMR D80 and D90 Non-Receipt violations.
    in: query
    name: p_npdes_id
    required: false
    type: string
  q.p_qmtype:
    description: Identifies the time frame type, month or quarter, for the D80/D90 download.
    enum:
      - MONTH
      - QUARTER
    in: query
    name: p_qmtype
    required: false
    type: string
  q.p_qmvalue:
    description: A number between 1 and 39 that identifies the specific month or quarter for the D80/D90 violation download.
    in: query
    name: p_qmvalue
    required: false
    type: string
  q.p_system:
    description: System Acronym Filter.  Enter a single system acronym to filter results.
    in: query
    name: p_system
    required: false
    type: string
paths:
  /dfr_rest_services.air_3_yr_download:
    get:
      description: For the provided system identifier, dowloads all displayed Air quaterly/monthly Facility Level Status, High Priority Violation (HPV) History, HPV Detailed Violations and Federal Reportable Violation  information in a Comma Seperated Value (CSV) format.
      responses:
        "200":
          description: Results are a comma separated value (CSV) file.
          schema:
            type: file
      summary: Downloads the complete Air Compliance History Section of the DFR
      tags:
        - Detailed Facility Report
    post:
      description: For the provided system identifier, dowloads all displayed Air quaterly/monthly Facility Level Status, High Priority Violation (HPV) History, HPV Detailed Violations and Federal Reportable Violation  information in a Comma Seperated Value (CSV) format.
      responses:
        "200":
          description: Results are a comma separated value (CSV) file.
          schema:
            type: file
      summary: Downloads the complete Air Compliance History Section of the DFR
      tags:
        - Detailed Facility Report
  /dfr_rest_services.cwa_3_yr_effluent_download:
    get:
      description: For the provided system identifier, dowloads all displayed NPDES quaterly/monthly effluent violation information in a Comma Seperated Value (CSV) format.
      responses:
        "200":
          description: Results are a comma separated value (CSV) file.
          schema:
            type: file
      summary: Downloads NPDES Effluent Violation Information by month and quarter.
      tags:
        - Detailed Facility Report
    post:
      description: For the provided system identifier, dowloads all displayed NPDES quaterly/monthly effluent violation information in a Comma Seperated Value (CSV) format.
      responses:
        "200":
          description: Results are a comma separated value (CSV) file.
          schema:
            type: file
      summary: Downloads NPDES Effluent Violation Information by month and quarter.
      tags:
        - Detailed Facility Report
  /dfr_rest_services.cwa_3_yr_sepscs_download:
    get:
      description: For the provided system identifier, dowloads all displayed NPDES quaterly/monthly Compliance Schedule, Permit Schedule, and Single Event Violation  information in a Comma Seperated Value (CSV) format.
      responses:
        "200":
          description: Results are a comma separated value (CSV) file.
          schema:
            type: file
      summary: Downloads NPDES Compliance Schedule, Permit Schedule and Single Event Violation Information by month and quarter.
      tags:
        - Detailed Facility Report
    post:
      description: For the provided system identifier, dowloads all displayed NPDES quaterly/monthly Compliance Schedule, Permit Schedule, and Single Event Violation  information in a Comma Seperated Value (CSV) format.
      responses:
        "200":
          description: Results are a comma separated value (CSV) file.
          schema:
            type: file
      summary: Downloads NPDES Compliance Schedule, Permit Schedule and Single Event Violation Information by month and quarter.
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_air_compliance:
    get:
      description: This procedure obtains data for Air Compliance in the Environmental Conditions Section of the DFR.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes an array of compliance statuses for 12 quarters.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr001_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report Air Compliance Report Service
      tags:
        - Detailed Facility Report
    post:
      description: This procedure obtains data for Air Compliance in the Environmental Conditions Section of the DFR.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes an array of compliance statuses for 12 quarters.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr001_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report Air Compliance Report Service
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_air_quality:
    get:
      description: This procedure obtains data for Air Quality in the Environmental Conditions Section of the DFR.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes information on air quality
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr002_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report Air Quality Report Service
      tags:
        - Detailed Facility Report
    post:
      description: This procedure obtains data for Air Quality in the Environmental Conditions Section of the DFR.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes information on air quality
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr002_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report Air Quality Report Service
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_aws_docs:
    get:
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Results
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr0_get_aws_docs.Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Placeholder
      tags:
        - Detailed Facility Report
    post:
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Results
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr0_get_aws_docs.Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Placeholder
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_case_formal_actions:
    get:
      description: Displays closed case information from EPA's Federal Enforcement & Compliance System that are related to the facility.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes information on cases.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr004"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Displays Cases related to the Facility
      tags:
        - Detailed Facility Report
    post:
      description: Displays closed case information from EPA's Federal Enforcement & Compliance System that are related to the facility.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes information on cases.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr004"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Displays Cases related to the Facility
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_compliance_history:
    get:
      description: This procedure obtains data for the Compliance Monitoring History (5 years) in the Enforcement and Compliance Section of the Detailed Facility report.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes an array of compliance histories
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr005_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report 5 Year Compliance Monitoring History Service
      tags:
        - Detailed Facility Report
    post:
      description: This procedure obtains data for the Compliance Monitoring History (5 years) in the Enforcement and Compliance Section of the Detailed Facility report.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes an array of compliance histories
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr005_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report 5 Year Compliance Monitoring History Service
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_compliance_summary:
    get:
      description: This procedure obtains data for Compliance Summary Data in the Enforcement and Compliance Section of the Detailed Facility report.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes an array of compliance summaries
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr006_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report Compliance Summary Service
      tags:
        - Detailed Facility Report
    post:
      description: This procedure obtains data for Compliance Summary Data in the Enforcement and Compliance Section of the Detailed Facility report.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes an array of compliance summaries
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr006_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report Compliance Summary Service
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_csv:
    get:
      description: For a supplied system id and DFR section name, the procedure will download that section in a Comma Separated Value (CSV) format.
      responses:
        "200":
          description: Results are a comma separated value (CSV) file.
          schema:
            type: file
      summary: Downloads a spectific section  of the DFR in CSV Format
      tags:
        - Detailed Facility Report
    post:
      description: For a supplied system id and DFR section name, the procedure will download that section in a Comma Separated Value (CSV) format.
      responses:
        "200":
          description: Results are a comma separated value (CSV) file.
          schema:
            type: file
      summary: Downloads a spectific section  of the DFR in CSV Format
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_cwa_3yr_compliance:
    get:
      description: |-
        This procedure obtains data for the CWA Facility-Level Status section located in the Three Year Compliance Status by Quarter portion of the DFR. Valid Compliance Statuses are as follows:
        > "In Viol" = Facility is in violation
        > "No Viol" = No violation found
        > "Unk" = Unknown status
        > "SNC/Cat 1" = SNC/Category I violation found
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes an array of compliance statuses for 13 quarters
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr009_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report 3 Year CWA Facility-Level Status Service
      tags:
        - Detailed Facility Report
    post:
      description: |-
        This procedure obtains data for the CWA Facility-Level Status section located in the Three Year Compliance Status by Quarter portion of the DFR. Valid Compliance Statuses are as follows:
        > "In Viol" = Facility is in violation
        > "No Viol" = No violation found
        > "Unk" = Unknown status
        > "SNC/Cat 1" = SNC/Category I violation found
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes an array of compliance statuses for 13 quarters
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr009_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report 3 Year CWA Facility-Level Status Service
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_cwa_3yr_d80d90_counts:
    get:
      description: Displays monlthly and quarterly counts of D80 and D90 Effluent Non Reporting Violations Related to the Facility from EPA's ICIS NPDES System.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes an array of D80/D90 counts for 13 quarters and 39 months.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr007_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Displays monlthly and quarterly counts of D80 and D90 Effluent Non Reporting Violations Related to the Facility
      tags:
        - Detailed Facility Report
    post:
      description: Displays monlthly and quarterly counts of D80 and D90 Effluent Non Reporting Violations Related to the Facility from EPA's ICIS NPDES System.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes an array of D80/D90 counts for 13 quarters and 39 months.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr007_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Displays monlthly and quarterly counts of D80 and D90 Effluent Non Reporting Violations Related to the Facility
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_cwa_cs_compliance:
    get:
      description: This procedure obtains data for the CWA Compliance Schedule Violations section of the DFR.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes an array of compliance statuses for 13 quarters.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr010_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report CWA CSV Compliance Service
      tags:
        - Detailed Facility Report
    post:
      description: This procedure obtains data for the CWA Compliance Schedule Violations section of the DFR.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes an array of compliance statuses for 13 quarters.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr010_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report CWA CSV Compliance Service
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_cwa_eff_alr:
    get:
      description: This procedure obtains data for the CWA Pollutant Discharge section located in the Three Year Compliance Status by Quarter portion of the DFR.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes an array of effluent ALR for 13 quarters.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr011_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report CWA Effluent ALR Service
      tags:
        - Detailed Facility Report
    post:
      description: This procedure obtains data for the CWA Pollutant Discharge section located in the Three Year Compliance Status by Quarter portion of the DFR.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes an array of effluent ALR for 13 quarters.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr011_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report CWA Effluent ALR Service
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_cwa_eff_alr_exp:
    get:
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Results
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr0_get_cwa_eff_alr_exp.Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Placeholder
      tags:
        - Detailed Facility Report
    post:
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Results
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr0_get_cwa_eff_alr_exp.Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Placeholder
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_cwa_eff_compliance:
    get:
      description: "This procedure obtains data for the CWA Effluent Compliance section on the DFR.  "
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes an array of effluent compliance statuses for 13 quarters.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr012_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report CWA Effluent Compliance Service
      tags:
        - Detailed Facility Report
    post:
      description: "This procedure obtains data for the CWA Effluent Compliance section on the DFR.  "
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes an array of effluent compliance statuses for 13 quarters.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr012_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report CWA Effluent Compliance Service
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_cwa_eff_compliance_exp:
    get:
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Results
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr0_get_cwa_eff_compliance_exp.Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Placeholder
      tags:
        - Detailed Facility Report
    post:
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Results
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr0_get_cwa_eff_compliance_exp.Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Placeholder
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_cwa_ps_compliance:
    get:
      description: This procedure obtains data for the CWA Permit Schedule Violations section of the DFR.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes an array of permit schedule violations for 13 quarters.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr013_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report CWA PSV Compliance Service
      tags:
        - Detailed Facility Report
    post:
      description: This procedure obtains data for the CWA Permit Schedule Violations section of the DFR.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes an array of permit schedule violations for 13 quarters.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr013_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report CWA PSV Compliance Service
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_cwa_rnc_compliance:
    get:
      description: |-
        This procedure obtains data for the CWA SNC/RNC History section located in the Three Year ompliance Status by Quarter portion of the DFR. Valid Compliance Statuses are as follows.
        > S = SNC/Category I - an enforcement action has been issued, and the facility is not meeting its compliance schedule
        > E = SNC/Category I - effluent violations of monthly average limits (Technical Review Criteria and chronic)
        > X = SNC/Category I - effluent violations of non-monthly average limits (Technical Review Criteria and chronic)
        > T = SNC/Category I - compliance schedule reporting violation
        > D = SNC/Category I - reporting violation - nonreceipt of DMR
        > N = RNC/Category II - reportable non-compliance
        > P = Resolved Pending - an enforcement action has been issued, and facility compliance with the action is pending final completion
        > R = Resolved - the facility has returned to compliance with its permit conditions, either with or without issuance of an enforcement action
        > C = Not considered in RNC/SNC based on manual review of data by state or EPA region. This manual override status is also indicated by a superscripted "m".
        > Blank = Not considered in RNC/SNC
        > N/A = EPA's data system is not able to determine the facility-level compliance status based upon the information available. This information may be available from a state database.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes an array of RNC compliance statuses for 12 quarters
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr014_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report CWA RNC Compliance Service
      tags:
        - Detailed Facility Report
    post:
      description: |-
        This procedure obtains data for the CWA SNC/RNC History section located in the Three Year ompliance Status by Quarter portion of the DFR. Valid Compliance Statuses are as follows.
        > S = SNC/Category I - an enforcement action has been issued, and the facility is not meeting its compliance schedule
        > E = SNC/Category I - effluent violations of monthly average limits (Technical Review Criteria and chronic)
        > X = SNC/Category I - effluent violations of non-monthly average limits (Technical Review Criteria and chronic)
        > T = SNC/Category I - compliance schedule reporting violation
        > D = SNC/Category I - reporting violation - nonreceipt of DMR
        > N = RNC/Category II - reportable non-compliance
        > P = Resolved Pending - an enforcement action has been issued, and facility compliance with the action is pending final completion
        > R = Resolved - the facility has returned to compliance with its permit conditions, either with or without issuance of an enforcement action
        > C = Not considered in RNC/SNC based on manual review of data by state or EPA region. This manual override status is also indicated by a superscripted "m".
        > Blank = Not considered in RNC/SNC
        > N/A = EPA's data system is not able to determine the facility-level compliance status based upon the information available. This information may be available from a state database.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes an array of RNC compliance statuses for 12 quarters
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr014_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report CWA RNC Compliance Service
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_cwa_se_compliance:
    get:
      description: This procedure obtains data for the CWA Single Event Violations section of the DFR.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes an array of single-event statuses for 13 quarters.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr015_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report CWA SEV Compliance Service
      tags:
        - Detailed Facility Report
    post:
      description: This procedure obtains data for the CWA Single Event Violations section of the DFR.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes an array of single-event statuses for 13 quarters.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr015_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report CWA SEV Compliance Service
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_d80d90s_details:
    get:
      description: Displays detailed D80/D90 Effluent Non Reporting  information from EPA's ICIS NPDES system for the facility for a given quarter or month.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_npdes_id"
        - $ref: "#/parameters/q.p_missinglate"
        - $ref: "#/parameters/q.p_qmtype"
        - $ref: "#/parameters/q.p_qmvalue"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes information for  D80/D90 violations.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr0_get_d80d90s_details.Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Display detailed D80/D90 information for the facility for a given quarter or month
      tags:
        - Detailed Facility Report
    post:
      description: Displays detailed D80/D90 Effluent Non Reporting  information from EPA's ICIS NPDES system for the facility for a given quarter or month.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_npdes_id"
        - $ref: "#/parameters/q.p_missinglate"
        - $ref: "#/parameters/q.p_qmtype"
        - $ref: "#/parameters/q.p_qmvalue"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes information for  D80/D90 violations.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr0_get_d80d90s_details.Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Display detailed D80/D90 information for the facility for a given quarter or month
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_demographics_by_id:
    get:
      description: Displays precalculated 2010 Census and American Community Survey demographic information for a provided facility identifier.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes demographics
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr017_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Displays 2010 Census and ACS demographics by Facility ID
      tags:
        - Detailed Facility Report
    post:
      description: Displays precalculated 2010 Census and American Community Survey demographic information for a provided facility identifier.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes demographics
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr017_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Displays 2010 Census and ACS demographics by Facility ID
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_dfr:
    get:
      description: This procedure is the overall service for the Detailed Facility Report. It returns all of the data displayed in the DFR web report by invoking individual procedures that each return a targeted portion of the DFR.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.p_system"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns a complex object (Detailed Facility Report) composed of objects from all of the other procedures.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr018_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report Service
      tags:
        - Detailed Facility Report
    post:
      description: This procedure is the overall service for the Detailed Facility Report. It returns all of the data displayed in the DFR web report by invoking individual procedures that each return a targeted portion of the DFR.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.p_system"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns a complex object (Detailed Facility Report) composed of objects from all of the other procedures.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr018_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report Service
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_ejscreen_indexes:
    get:
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Results
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr0_get_ejscreen_indexes.Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report EJScreen Indexes Service
      tags:
        - Detailed Facility Report
    post:
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Results
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr0_get_ejscreen_indexes.Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report EJScreen Indexes Service
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_enforcement_summary:
    get:
      description: This procedure obtains data for the Enforcement and Compliance Summary in the Facility Summary section of the Detailed Facility Report.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes an array of enforcement compliance summaries
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr114_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report Enforcement Summary Service
      tags:
        - Detailed Facility Report
    post:
      description: This procedure obtains data for the Enforcement and Compliance Summary in the Facility Summary section of the Detailed Facility Report.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes an array of enforcement compliance summaries
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr114_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report Enforcement Summary Service
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_extract_dates:
    get:
      description: By EPA System, displays the extract dates that data was extracted for the DFR from multiple EPA computer systems.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object  that includes information on DFR system extract dates.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr115"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Displays the dates that data was extracted from native EPA systems for the DFR.
      tags:
        - Detailed Facility Report
    post:
      description: By EPA System, displays the extract dates that data was extracted for the DFR from multiple EPA computer systems.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object  that includes information on DFR system extract dates.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr115"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Displays the dates that data was extracted from native EPA systems for the DFR.
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_formal_actions:
    get:
      description: This procedure obtains data for the Formal Enforcement Actions section of the DFR.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes an array of formal actions.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr116_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report Formal Actions Service
      tags:
        - Detailed Facility Report
    post:
      description: This procedure obtains data for the Formal Enforcement Actions section of the DFR.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes an array of formal actions.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr116_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report Formal Actions Service
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_icis_formal_actions:
    get:
      description: "This procedure obtains data for the Integrated Compliance Information System, Formal Enforcement Actions section of the DFR. "
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes an array of ICIS formal actions.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr117_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report ICIS Formal Actions Service
      tags:
        - Detailed Facility Report
    post:
      description: "This procedure obtains data for the Integrated Compliance Information System, Formal Enforcement Actions section of the DFR. "
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes an array of ICIS formal actions.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr117_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report ICIS Formal Actions Service
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_inspections:
    get:
      description: This procedure obtains data for Enforcement and Compliance Summary Section of the Detailed Facility report.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes an array of inspection enforcement summaries
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr118_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report Inspections Summary Service
      tags:
        - Detailed Facility Report
    post:
      description: This procedure obtains data for Enforcement and Compliance Summary Section of the Detailed Facility report.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes an array of inspection enforcement summaries
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr118_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report Inspections Summary Service
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_map:
    get:
      description: Returns an object with the facility's latitude and longitude coordinates.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes information for displaying a map
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr119_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report Map Service
      tags:
        - Detailed Facility Report
    post:
      description: Returns an object with the facility's latitude and longitude coordinates.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes information for displaying a map
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr119_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report Map Service
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_naics:
    get:
      description: This procedure obtains data for the Facility NAICS Codes section in Facility/System Characteristics of the Detailed Facility Report.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes an array of NAICS codes
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr120_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report NAICS Code Service
      tags:
        - Detailed Facility Report
    post:
      description: This procedure obtains data for the Facility NAICS Codes section in Facility/System Characteristics of the Detailed Facility Report.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes an array of NAICS codes
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr120_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report NAICS Code Service
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_notices:
    get:
      description: This procedure obtains data for the Notices/Informal Actions section of the DFR.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes an array of notices
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr122_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report Notices Service
      tags:
        - Detailed Facility Report
    post:
      description: This procedure obtains data for the Notices/Informal Actions section of the DFR.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes an array of notices
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr122_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report Notices Service
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_permits:
    get:
      description: |-
        This procedure obtains data for the following sections of the Detailed Facility Report.
        > Facility Information (FRS) in the Facility Summary.
        > Regulatory Interests in the Facility Summary.
        > Also Reports in the Facility Summary.
        > Facility/System Characteristics in Facility/System Characteristics.
        > Facility Contact Information in Facility/System Characteristics.
        > Facility SIC Codes in Facility/System Characteristics section.
        > Facility NAICS Codes in Facility/System Characteristics section.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes an array of permits
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr123_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report Permits Service
      tags:
        - Detailed Facility Report
    post:
      description: |-
        This procedure obtains data for the following sections of the Detailed Facility Report.
        > Facility Information (FRS) in the Facility Summary.
        > Regulatory Interests in the Facility Summary.
        > Also Reports in the Facility Summary.
        > Facility/System Characteristics in Facility/System Characteristics.
        > Facility Contact Information in Facility/System Characteristics.
        > Facility SIC Codes in Facility/System Characteristics section.
        > Facility NAICS Codes in Facility/System Characteristics section.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes an array of permits
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr123_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report Permits Service
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_rcra_compliance:
    get:
      description: This procedure obtains data for the RCRA Compliance section of the DFR.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes RCRA compliance statuses
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr124_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report RCRA Compliance Service
      tags:
        - Detailed Facility Report
    post:
      description: This procedure obtains data for the RCRA Compliance section of the DFR.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes RCRA compliance statuses
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr124_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report RCRA Compliance Service
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_sdwa_lead_and_copper:
    get:
      description: This procedure obtains data for the SDWA, Lead and Copper Rule section of the DFR.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes an array of lead and copper rules
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr125_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report SDWA Lead and Copper Service
      tags:
        - Detailed Facility Report
    post:
      description: This procedure obtains data for the SDWA, Lead and Copper Rule section of the DFR.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes an array of lead and copper rules
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr125_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report SDWA Lead and Copper Service
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_sdwa_sanitary_surveys:
    get:
      description: This procedure obtains data for the SDWA, Sanitary Surveys section of the DFR.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes an array of sanitary surveys
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr126_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report SDWA Sanitary Surveys Service
      tags:
        - Detailed Facility Report
    post:
      description: This procedure obtains data for the SDWA, Sanitary Surveys section of the DFR.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes an array of sanitary surveys
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr126_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report SDWA Sanitary Surveys Service
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_sdwa_site_visits:
    get:
      description: This procedure obtains data for the SDWA, Sanitary Site Visits section of the DFR.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes an array of site visits
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr127_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report SDWA Sanitary Site Visits Service
      tags:
        - Detailed Facility Report
    post:
      description: This procedure obtains data for the SDWA, Sanitary Site Visits section of the DFR.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes an array of site visits
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr127_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report SDWA Sanitary Site Visits Service
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_sdwa_violations:
    get:
      description: This procedure obtains data for the SDWA Violations section of the DFR.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes SDWA violations
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr128_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report SDWA Violations Service
      tags:
        - Detailed Facility Report
    post:
      description: This procedure obtains data for the SDWA Violations section of the DFR.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes SDWA violations
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr128_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report SDWA Violations Service
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_sdwis_compliance:
    get:
      description: This procedure obtains data for the SDWA Compliance section of the DFR.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes an array of SDWIS compliance summaries
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr129_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report SDWIS Compliance Service
      tags:
        - Detailed Facility Report
    post:
      description: This procedure obtains data for the SDWA Compliance section of the DFR.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes an array of SDWIS compliance summaries
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr129_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report SDWIS Compliance Service
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_sic_codes:
    get:
      description: This procedure obtains data for the Facility SIC Codes section in Facility/System Characteristics of the Detailed Facility Report.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes an array of SIC codes
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr130_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report SIC Code Service
      tags:
        - Detailed Facility Report
    post:
      description: This procedure obtains data for the Facility SIC Codes section in Facility/System Characteristics of the Detailed Facility Report.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes an array of SIC codes
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr130_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report SIC Code Service
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_spatial_metadata:
    get:
      description: Returns an object with the facility coordinate spatial metadata.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes spatial metadata
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr131_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report Spatial Metadata Service
      tags:
        - Detailed Facility Report
    post:
      description: Returns an object with the facility coordinate spatial metadata.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes spatial metadata
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr131_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report Spatial Metadata Service
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_tri_history:
    get:
      description: This procedure obtains data for the TRI History section of the DFR.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes TRI history
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr132_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report TRI History Service
      tags:
        - Detailed Facility Report
    post:
      description: This procedure obtains data for the TRI History section of the DFR.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes TRI history
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr132_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report TRI History Service
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_tri_releases:
    get:
      description: This procedrue obtains data for the TRI Releases section of the DFR.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes TRI releases
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr133_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report TRI Releases Service
      tags:
        - Detailed Facility Report
    post:
      description: This procedrue obtains data for the TRI Releases section of the DFR.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes TRI releases
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr133_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report TRI Releases Service
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_tribes:
    get:
      description: This procedure obtains data for the Tribes and Reservations section of the DFR.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes an array of tribal location information.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr134_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report Tribes Service
      tags:
        - Detailed Facility Report
    post:
      description: This procedure obtains data for the Tribes and Reservations section of the DFR.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes an array of tribal location information.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr134_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report Tribes Service
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_water_quality:
    get:
      description: This procedure obtains data for the Water Quality section of the DFR.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes an array of water quality information.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr135_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report Water Quality Service
      tags:
        - Detailed Facility Report
    post:
      description: This procedure obtains data for the Water Quality section of the DFR.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes an array of water quality information.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr135_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Detailed Facility Report Water Quality Service
      tags:
        - Detailed Facility Report
  /dfr_rest_services.get_water_quality_details:
    get:
      description: This information is only available for facilities with a NPDES permit. Based on spatial data, displays water quality information from EPA's Office of Water ATTAINS system.
      parameters:
        - $ref: "#/parameters/q.output"
        - $ref: "#/parameters/q.p_id"
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns an object that includes water qualtity information.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr136_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Displays detailed Water Quality information from EPA's Office of Water Systems
      tags:
        - Detailed Facility Report
    post:
      description: This information is only available for facilities with a NPDES permit. Based on spatial data, displays water quality information from EPA's Office of Water ATTAINS system.
      parameters:
        - $ref: "#/parameters/f.output"
        - $ref: "#/parameters/f.p_id"
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns an object that includes water qualtity information.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/dfr136_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Displays detailed Water Quality information from EPA's Office of Water Systems
      tags:
        - Detailed Facility Report
  /dfr_rest_services.rcra_3_yr_download:
    get:
      description: For the provided system identifier, dowloads all displayed RCRA quaterly/monthly Facility Level Status and Violation information in a Comma Seperated Value (CSV) format.
      responses:
        "200":
          description: Results are a comma separated value (CSV) file.
          schema:
            type: file
      summary: Downloads the complete RCRA Compliance History Section of the DFR
      tags:
        - Detailed Facility Report
    post:
      description: For the provided system identifier, dowloads all displayed RCRA quaterly/monthly Facility Level Status and Violation information in a Comma Seperated Value (CSV) format.
      responses:
        "200":
          description: Results are a comma separated value (CSV) file.
          schema:
            type: file
      summary: Downloads the complete RCRA Compliance History Section of the DFR
      tags:
        - Detailed Facility Report
definitions:
  dfr001_Results:
    description: Results Object
    properties:
      AirCompliance:
        $ref: "#/definitions/dfr019"
      Message:
        description: Field to record messages (typically performance-related) about packet processing
        example: Success
        title: Message
        type: string
    required:
      - Message
    type: object
  dfr002_Results:
    description: Results Object
    properties:
      AirQuality:
        $ref: "#/definitions/dfr024"
      Message:
        description: Field to record messages (typically performance-related) about packet processing
        example: Success
        title: Message
        type: string
    required:
      - Message
    type: object
  dfr004:
    description: Results Object
    properties:
      CaseFormalActions:
        $ref: "#/definitions/dfr052"
      Message:
        description: Field to record messages (typically performance-related) about packet processing
        example: Success
        title: Message
        type: string
    required:
      - Message
    type: object
  dfr005_Results:
    description: Results Object
    properties:
      ComplianceHistory:
        $ref: "#/definitions/dfr057"
      Message:
        description: Field to record messages (typically performance-related) about packet processing
        example: Success
        title: Message
        type: string
    required:
      - Message
    type: object
  dfr006_Results:
    description: Results Object
    properties:
      ComplianceSummary:
        $ref: "#/definitions/dfr059"
      Message:
        description: Field to record messages (typically performance-related) about packet processing
        example: Success
        title: Message
        type: string
    required:
      - Message
    type: object
  dfr007_Results:
    description: Results Object
    properties:
      CWA3YrD80D90Counts:
        $ref: "#/definitions/dfr027"
      Message:
        description: Field to record messages (typically performance-related) about packet processing
        example: Success
        title: Message
        type: string
    required:
      - Message
      - CWA3YrD80D90Counts
    type: object
  dfr009_Results:
    description: Results Object
    properties:
      CWA3YrCompliance:
        $ref: "#/definitions/dfr025"
      Message:
        description: Field to record messages (typically performance-related) about packet processing
        example: Success
        title: Message
        type: string
    required:
      - Message
    type: object
  dfr010_Results:
    description: Results Object
    properties:
      CWACSCompliance:
        $ref: "#/definitions/dfr031"
      Message:
        description: Field to record messages (typically performance-related) about packet processing
        example: Success
        title: Message
        type: string
    required:
      - Message
    type: object
  dfr011_Results:
    description: Results Object
    properties:
      CWAEffluentALRExceedences:
        $ref: "#/definitions/dfr035"
      Message:
        description: Field to record messages (typically performance-related) about packet processing
        example: Success
        title: Message
        type: string
    required:
      - Message
    type: object
  dfr012_Results:
    description: Results Object
    properties:
      CWAEffluentCompliance:
        $ref: "#/definitions/dfr038"
      Message:
        description: Field to record messages (typically performance-related) about packet processing
        example: Success
        title: Message
        type: string
    required:
      - Message
    type: object
  dfr013_Results:
    description: Results Object
    properties:
      CWAPSCompliance:
        $ref: "#/definitions/dfr042"
      Message:
        description: Field to record messages (typically performance-related) about packet processing
        example: Success
        title: Message
        type: string
    required:
      - Message
    type: object
  dfr014_Results:
    description: Results Object
    properties:
      CWARNCCompliance:
        $ref: "#/definitions/dfr046"
      Message:
        description: Field to record messages (typically performance-related) about packet processing
        example: Success
        title: Message
        type: string
    required:
      - Message
    type: object
  dfr015_Results:
    description: Results Object
    properties:
      CWASECompliance:
        $ref: "#/definitions/dfr049"
      Message:
        description: Field to record messages (typically performance-related) about packet processing
        example: Success
        title: Message
        type: string
    required:
      - Message
    type: object
  dfr017_Results:
    description: Results Object
    properties:
      Demographics:
        $ref: "#/definitions/dfr061"
      Message:
        description: Field to record messages (typically performance-related) about packet processing
        example: Success
        title: Message
        type: string
    required:
      - Message
    type: object
  dfr018_CAEDDocuments:
    description: CAED Documents
    properties:
      DocumentLink:
        description: URLS for documents that EPA has colleted that are related to this Case.
        title: Dcoument Links
        type: string
      EPAProgram:
        description: The EPA Program associated with the Document URL
        title: EPA Program
        type: string
      FacilityName:
        description: The name of the facility.
        example: 3M COMPANY
        title: Facility Name
        type: string
      PublishDate:
        description: The date the document was published.
        title: Document Published Date
        type: string
      RegistryId:
        description: 12-digit Facility Registry Service (FRS) identification number.  FRS uniquely identifies a facility by assigning an identification number (FRS ID), and uses this FRS ID to link together all EPA regulatory program database records
        example: "110020837601"
        title: FRS Registry ID
        type: string
    type: object
    xml:
      name: CAEDDocuments
  dfr018_EJScreenIndexes:
    description: EJScreen Index Object
    properties:
      HazardWasteProximity:
        type: string
      LeadPaintIndicator:
        type: string
      NATACancerRisk:
        type: string
      NATADieselPM:
        type: string
      NATARespiratoryHI:
        type: string
      Over80Count:
        type: string
      Ozone:
        type: string
      PM25:
        type: string
      RMPProximity:
        type: string
      RegistryID:
        description: An internal 12-digit Facility Registry Service (FRS) tracking number used to tie all facility data together in EPA regulatory program databases.
        example: "110020837601"
        title: FRS ID
        type: string
      SuperfundProximity:
        type: string
      TrafficProximity:
        type: string
      WaterDischargeProximity:
        type: string
    required:
      - RegistryID
      - PM25
      - Ozone
      - NATADieselPM
      - NATACancerRisk
      - NATARespiratoryHI
      - TrafficProximity
      - LeadPaintIndicator
      - RMPProximity
      - SuperfundProximity
      - HazardWasteProximity
      - WaterDischargeProximity
      - Over80Count
    type: object
  dfr018_MapData:
    description: Map Data Object
    properties:
      ICON:
        description: Name of each individual icon file within the URL base
        example: CAA-IC-MN-N.png
        title: Icon
        type: string
      LAT:
        description: The latitude of the facility in degrees, to four decimal places
        example: "38.798026"
        title: Latitude
        type: string
      LON:
        description: The longitude of the facility in degrees, to four decimal places
        example: "-77.062981"
        title: Longitude
        type: string
      NAME:
        description: For DFR, this is the Facility name. The name corresponds to the TYPE value
        example: VIRGINIA CONCRETE ALEXANDRIA PLANT
        title: Name
        type: string
      PUV:
        description: Pop up value. Combine with PopUpBaseURL to give the popup for the facility
        example: "110001891506"
        title: Popup Value
        type: string
      TYPE:
        description: For DFR, this is always facility
        example: Facility
        title: Type
        type: string
    required:
      - LAT
      - LON
      - ICON
      - TYPE
      - NAME
      - PUV
    type: object
    xml:
      name: Object
  dfr018_MultipleFRSFacilities:
    description: Multiple FRS Facilities Object
    properties:
      RegistryIDs:
        items:
          $ref: "#/definitions/dfr018_RegistryIDs"
        title: Registry IDs
        type: array
        xml:
          name: RegistryIDs
          wrapped: true
    type: object
  dfr018_NAICS:
    description: NAICS Object
    properties:
      Sources:
        items:
          $ref: "#/definitions/dfr074"
        title: Sources
        type: array
        xml:
          name: Sources
          wrapped: true
    required:
      - Sources
    type: object
  dfr018_Permits:
    description: Permits Object
    properties:
      AccuracyScore:
        description: ??
        example: "17452"
        title: Accuracy Score
        type: string
      AccuracyValue:
        description: ??
        example: "25"
        title: Accuracy Value
        type: string
      Areas:
        description: Clean Air Act stationary source program subpart designation, Clean Water Act-NPDES permit component(s), and/or other Resource Conservation and Recovery Act designations, if any.
        example: "Total 2013 Facility Emissions in metric tons CO2e (excluding Biogenic CO2): 56962"
        title: Areas
        type: string
      CollectDesc:
        description: ??
        example: ADDRESS MATCHING-HOUSE NUMBER
        title: Collection Method Description
        type: string
      DQURL:
        description: ??
        example: ???
        type: string
      EPARegion:
        description: The EPA region in which the facility is located
        example: "04"
        title: EPA Region
        type: string
      EPASystem:
        description: |-
          The EPA data system in which permit and facility records are kept. EPA's Facility Registry System (FRS) links all program database records (such as permit IDs and IDs facilities use in reporting to EPA) together. The following list describes the individual data systems that are linked to from the detailed facility report: 

          - AFS: Air Facility System for Clean Air Act stationary source programs.
          - ICP: Integrated Compliance Information System for Clean Water Act programs monitoring National Pollutant Discharge Elimination System (NPDES) permits.
          - RCR: Resource Conservation and Recovery Act Information System (RCRAInfo) for tracking the Resource Conservation and Recovery Act (RCRA) programs.
          - NCDB: National Compliance Database System for monitoring national performance of the Toxic Substance Control Act (TSCA); the Emergency Planning and Right-to-Know Act, Section 313 (EPCRA); the Asbestos Hazard Emergency Response (AHERA); and the Federal Insecticide, Fungicide, and Rodenticide Act (FIFRA).
          - TRI: Toxics Release Inventory for Emergency Planning and Community Right-to-Know Act, Section 313 submissions.
          - NEI: National Emissions Inventory database contains information on stationary and mobile sources that emit criteria air pollutants and their precursors, as well as hazardous air pollutants (HAPs). The database includes estimates of annual emissions, by source, of air pollutants in each area of the country, on an annual basis.
          - TSCA: Toxic Substances Control Act addressing the production, importation, use, and disposal of specific chemicals.
        example: ICP
        title: EPA Data System
        type: string
      ExpDate:
        description: Date on which a given permit is scheduled to expire
        example: 09/10/2005
        type: string
      FacilityCity:
        description: The city in which the facility is located
        example: DECATUR
        title: Facility City
        type: string
      FacilityName:
        description: The name of the facility.
        example: 3M COMPANY
        title: Facility Name
        type: string
      FacilityState:
        description: The state in which the facility is located
        example: AL
        title: Facility State
        type: string
      FacilityStatus:
        description: |-
          The Air Program Status is given for each source ID (Operating; Planned; Under construction; Temporarily closed;  Permanently closed; and Seasonal)

          For CWA, the Permit Compliance System (PCS) designates a permitted facility as being Active or Inactive. Under the CWA, all facilities discharging pollutants from a point source (e.g., a pipe) to surface waters must have a NPDES permit. For CWA, ICISNPDES designates a permit as Effective, Administratively Continued, Expired, Not Needed, Pending, Retired, or Terminated. RCRA facilities (sites) are designated as Active or Inactive. The following provides RCRA site activity status definitions and explains site activity status designation.
        example: Effective
        title: Facility Status
        type: string
      FacilityStreet:
        description: The street address of the facility
        example: 1400 STATE DOCKS RD.
        title: Facility Street
        type: string
      FacilityZip:
        description: The zip code of the area in which the facility is located
        example: "35609"
        title: Facility Zipcode
        type: string
      HasBioRpt:
        description: Indicates if the facility has an associated Biosolids Facility Report.
        example: N
        title: Biosolids Report Flag
        type: string
      HasIcisSsoRpt:
        description: ??
        example: N
        type: string
      HdatumDesc:
        description: ??
        example: NAD83
        title: Horizontal Datum Description
        type: string
      IndianCountry:
        description: Indicates whether the facility is located in Indian Country
        example: N
        title: Indian Country
        type: string
      Latitude:
        description: The latitude of the facility or permit holder as maintained in each data system.
        example: "34.606651"
        format: double
        title: Latitude
        type: string
      Longitude:
        description: The longitude of the facility or permit holder as maintained in each data system
        example: "-86.982419"
        format: double
        title: Longitude
        type: string
      NAICS:
        description: The North American Industry Classification System codes
        example: "325211"
        title: NAICS Code
        type: string
      RefPointDesc:
        description: ??
        example: Facility Center/Centroid
        title: Reference Point Description
        type: string
      SIC:
        description: Standard Industrial Classification codes
        example: "3081"
        type: string
      Scale:
        description: ??
        title: Scale
        type: string
      SourceID:
        description: Unique Identifier assigned by EPA.
        example: ALR040033
        title: EPA Source Identifier
        type: string
      Statute:
        description: |-
          The name of the statute associated with each of the permits and identifiers linked to the facility: 
          - CAA = the Clean Air Act
          - CWA = the Clean Water Act
          - RCRA = the Resource Conservation and Recovery Act
          - EP313 = the Emergency Planning and Community Right-to-Know Act, Section 313 (also known as the Toxics Release Inventory Program)
          - TSCA = the Toxic Substances Control Act
          - SDWA = the Safe Drinking Water Act
        example: CWA
        title: Regulatory Statute
        type: string
      Universe:
        description: |-
          This field provides further description on type of permit or record for each data system as follows:
          - For CAA  = The program office defines each CAA Source ID and the associated permits as being Federally Reportable or Non-Federally Reportable. Under the CAA, federally reportable sources include majors, synthetic minors, NESHAP Part 61 minors, minors with an unresolved High Priority Violation (HPV), with recent enforcement actions, or included on a Compliance Monitoring Strategy plan. The Clean Air Act requires that delegated agencies and EPA track all federally reportable sources in Air Facility System (AFS).
          - For CWA  = Each CWA Source ID or National Pollutant Discharge Elimination System (NPDES) permit is defined by the program office as a Major or Minor discharger.
          - For RCRA = RCRA Source ID or permits for Treatment, Storage and Disposal facilities are identified by TSD, Large Quantity Generators are identified by LQG. Other values include Permit Workload (PMT), Closure Workload (CLO), Small Quantity Generator Universe (SQG), Conditionally-Exempt Small Quantity Generator (CESQG), Post-Closure Workload (POST CL), and Transporters.
        example: "Minor: General Permit Covered Facility"
        title: Universe
        type: string
    required:
      - Statute
      - EPASystem
      - EPARegion
      - SourceID
      - FacilityName
      - FacilityStreet
      - FacilityCity
      - FacilityState
      - FacilityZip
      - Universe
      - Areas
      - ExpDate
      - Latitude
      - Longitude
      - IndianCountry
      - SIC
      - NAICS
      - DQURL
      - HdatumDesc
      - CollectDesc
      - RefPointDesc
      - Scale
      - AccuracyValue
      - AccuracyScore
      - HasIcisSsoRpt
      - HasBioRpt
      - FacilityStatus
    type: object
    xml:
      name: Permits
  dfr018_ProgramDates:
    description: Program Dates Object
    properties:
      EndDate:
        description: End date for the date range of interest. Formatted as mm/dd/yyyy
        example: 01/01/2016
        title: End Date
        type: string
      Program:
        description: The source database for the EPA programs information.
        example: CWA
        title: Program
        type: string
      StartDate:
        description: Starting date for the date range of interest. Formatted as mm/dd/yyyy
        example: 01/01/2016
        title: Start Date
        type: string
    required:
      - Program
      - StartDate
      - EndDate
    type: object
    xml:
      name: ProgramDates
  dfr018_RegistryIDs:
    description: Registry IDs Object
    properties:
      EPASystem:
        description: |-
          The EPA data system in which permit and facility records are kept. EPA's Facility Registry System (FRS) links all program database records (such as permit IDs and IDs facilities use in reporting to EPA) together. The following list describes the individual data systems that are linked to from the detailed facility report: 

          - AFS: Air Facility System for Clean Air Act stationary source programs.
          - ICP: Integrated Compliance Information System for Clean Water Act programs monitoring National Pollutant Discharge Elimination System (NPDES) permits.
          - RCR: Resource Conservation and Recovery Act Information System (RCRAInfo) for tracking the Resource Conservation and Recovery Act (RCRA) programs.
[...]
