swagger: "2.0"
schemes:
  - http
host: api.rottentomatoes.com
basePath: /api/public/v1.0
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: https://github.com/mermade/mashery2openapi
  description: Test our API services using I/O Docs.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: Rotten Tomatoes
  version: "1.0"
  x-apisguru-categories:
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_RottenTomatoes_profile_image.png
  x-mashery-id: "1217"
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Mermade/openapi_specifications/master/mashery/api.rottentomatoes.com/Rotten-Tomatoes/1.0/swagger.json
      version: "2.0"
  x-providerName: rottentomatoes.com
  x-unofficialSpec: true
externalDocs:
  description: You can also view our written documentation.
  url: http://developer.rottentomatoes.com/io-docs/docs
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  key:
    in: query
    name: apikey
    type: apiKey
security:
  - key: []
tags:
  - name: Movie Lists
  - name: DVD Lists
  - name: Detailed Info
  - name: Search
  - name: Top Level Lists
paths:
  /lists.json:
    get:
      operationId: ListsDirectoryTopLevelLists
      parameters: []
      responses:
        "200":
          description: Success
        "400":
          description: Bad Request
        "403":
          description: Forbidden
      summary: ""
      tags:
        - Top Level Lists
  /lists/dvds.json:
    get:
      operationId: DVDListsDirectoryTopLevelLists
      parameters: []
      responses:
        "200":
          description: Success
        "400":
          description: Bad Request
        "403":
          description: Forbidden
      summary: ""
      tags:
        - Top Level Lists
  /lists/dvds/current_releases.json:
    get:
      operationId: CurrentReleaseDVDsDVDLists
      parameters:
        - default: "16"
          description: The amount of new release dvds to show per page
          in: query
          name: page_limit
          required: false
          type: string
        - default: "1"
          description: The selected page of current DVD releases
          in: query
          name: page
          required: false
          type: string
        - default: us
          description: Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.
          in: query
          name: country
          required: false
          type: string
      responses:
        "200":
          description: Success
        "400":
          description: Bad Request
        "403":
          description: Forbidden
      summary: ""
      tags:
        - DVD Lists
  /lists/dvds/new_releases.json:
    get:
      operationId: NewReleaseDVDsDVDLists
      parameters:
        - default: "16"
          description: The amount of new release dvds to show per page
          in: query
          name: page_limit
          required: false
          type: string
        - default: "1"
          description: The selected page of new release DVDs
          in: query
          name: page
          required: false
          type: string
        - default: us
          description: Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.
          in: query
          name: country
          required: false
          type: string
      responses:
        "200":
          description: Success
        "400":
          description: Bad Request
        "403":
          description: Forbidden
      summary: ""
      tags:
        - DVD Lists
  /lists/dvds/top_rentals.json:
    get:
      operationId: TopRentalsDVDLists
      parameters:
        - default: "10"
          description: Limits the number of top rentals returned
          in: query
          name: limit
          required: false
          type: string
        - default: us
          description: Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.
          in: query
          name: country
          required: false
          type: string
      responses:
        "200":
          description: Success
        "400":
          description: Bad Request
        "403":
          description: Forbidden
      summary: ""
      tags:
        - DVD Lists
  /lists/dvds/upcoming.json:
    get:
      operationId: UpcomingDVDsDVDLists
      parameters:
        - default: "16"
          description: The amount of upcoming dvds to show per page
          in: query
          name: page_limit
          required: false
          type: string
        - default: "1"
          description: The selected page of upcoming DVDs
          in: query
          name: page
          required: false
          type: string
        - default: us
          description: Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.
          in: query
          name: country
          required: false
          type: string
      responses:
        "200":
          description: Success
        "400":
          description: Bad Request
        "403":
          description: Forbidden
      summary: ""
      tags:
        - DVD Lists
  /lists/movies.json:
    get:
      operationId: MovieListsDirectoryTopLevelLists
      parameters: []
      responses:
        "200":
          description: Success
        "400":
          description: Bad Request
        "403":
          description: Forbidden
      summary: ""
      tags:
        - Top Level Lists
  /lists/movies/box_office.json:
    get:
      operationId: BoxOfficeMovieLists
      parameters:
        - default: "16"
          description: Limits the number of movies returned
          in: query
          name: limit
          required: false
          type: string
        - default: us
          description: Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.
          in: query
          name: country
          required: false
          type: string
      responses:
        "200":
          description: Success
        "400":
          description: Bad Request
        "403":
          description: Forbidden
      summary: ""
      tags:
        - Movie Lists
  /lists/movies/in_theaters.json:
    get:
      operationId: InTheatersMovieLists
      parameters:
        - default: "16"
          description: The amount of movies in theaters to show per page
          in: query
          name: page_limit
          required: false
          type: string
        - default: "1"
          description: The selected page of in theaters movies
          in: query
          name: page
          required: false
          type: string
        - default: us
          description: Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.
          in: query
          name: country
          required: false
          type: string
      responses:
        "200":
          description: Success
        "400":
          description: Bad Request
        "403":
          description: Forbidden
      summary: ""
      tags:
        - Movie Lists
  /lists/movies/opening.json:
    get:
      operationId: OpeningMoviesMovieLists
      parameters:
        - default: "16"
          description: Limits the number of opening movies returned
          in: query
          name: limit
          required: false
          type: string
        - default: us
          description: Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.
          in: query
          name: country
          required: false
          type: string
      responses:
        "200":
          description: Success
        "400":
          description: Bad Request
        "403":
          description: Forbidden
      summary: ""
      tags:
        - Movie Lists
  /lists/movies/upcoming.json:
    get:
      operationId: UpcomingMoviesMovieLists
      parameters:
        - default: "16"
          description: The amount of upcoming movies to show per page
          in: query
          name: page_limit
          required: false
          type: string
        - default: "1"
          description: The selected page of upcoming movies
          in: query
          name: page
          required: false
          type: string
        - default: us
          description: Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.
          in: query
          name: country
          required: false
          type: string
      responses:
        "200":
          description: Success
        "400":
          description: Bad Request
        "403":
          description: Forbidden
      summary: ""
      tags:
        - Movie Lists
  /movie_alias.json:
    get:
      operationId: MoviesAliasDetailedInfo
      parameters:
        - default: "0031381"
          description: Movie ID. You can use the movies search endpoint or peruse the lists of movies/dvds to get the Movie ID
          in: query
          name: id
          required: false
          type: string
        - default: imdb
          description: Only supports imdb lookup at this time
          in: query
          name: type
          required: false
          type: string
      responses:
        "200":
          description: Success
        "400":
          description: Bad Request
        "403":
          description: Forbidden
      summary: ""
      tags:
        - Detailed Info
  /movies.json:
    get:
      operationId: MoviesSearchSearch
      parameters:
        - description: The plain text search query to search for a movie. Remember to URI encode this!
          in: query
          name: q
          required: false
          type: string
        - default: "10"
          description: The amount of movie search results to show per page
          in: query
          name: page_limit
          required: false
          type: string
        - default: "1"
          description: The selected page of movie search results
          in: query
          name: page
          required: false
          type: string
      responses:
        "200":
          description: Success
        "400":
          description: Bad Request
        "403":
          description: Forbidden
      summary: ""
      tags:
        - Search
  "/movies/{id}.json":
    get:
      operationId: MoviesInfoDetailedInfo
      parameters:
        - default: "770672122"
          description: Movie ID. You can use the movies search endpoint or peruse the lists of movies/dvds to get the Movie ID
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
        "400":
          description: Bad Request
        "403":
          description: Forbidden
      summary: ""
      tags:
        - Detailed Info
  "/movies/{id}/cast.json":
    get:
      operationId: CastInfoDetailedInfo
      parameters:
        - default: "770672122"
          description: Movie ID. You can use the movies search endpoint or peruse the lists of movies/dvds to get the Movie ID
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
        "400":
          description: Bad Request
        "403":
          description: Forbidden
      summary: ""
      tags:
        - Detailed Info
  "/movies/{id}/clips.json":
    get:
      operationId: MovieClipsDetailedInfo
      parameters:
        - default: "770672122"
          description: Movie ID. You can use the movies search endpoint or peruse the lists of movies/dvds to get the Movie ID
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
        "400":
          description: Bad Request
        "403":
          description: Forbidden
      summary: ""
      tags:
        - Detailed Info
  "/movies/{id}/reviews.json":
    get:
      operationId: MoviesReviewsDetailedInfo
      parameters:
        - default: "770672122"
          description: Movie ID. You can use the movies search endpoint or peruse the lists of movies/dvds to get the Movie ID
          in: path
          name: id
          required: true
          type: string
        - default: top_critic
          description: "3 different review types are possible: 'all', 'top_critic' and 'dvd'. 'top_critic' shows all the Rotten Tomatoes designated top critics. 'dvd' pulls the reviews given on the DVD of the movie. 'all' as the name implies retrieves all reviews."
          in: query
          name: review_type
          required: false
          type: string
        - default: "20"
          description: The number of reviews to show per page
          in: query
          name: page_limit
          required: false
          type: string
        - default: "1"
          description: The selected page of reviews
          in: query
          name: page
          required: false
          type: string
        - default: us
          description: Provides localized data for the selected country (ISO 3166-1 alpha-2) if available. Otherwise, returns US data.
          in: query
          name: country
          required: false
          type: string
      responses:
        "200":
          description: Success
        "400":
          description: Bad Request
        "403":
          description: Forbidden
      summary: ""
      tags:
        - Detailed Info
  "/movies/{id}/similar.json":
    get:
      operationId: MoviesSimilarDetailedInfo
      parameters:
        - default: "770672122"
          description: Movie ID. You can use the movies search endpoint or peruse the lists of movies/dvds to get the Movie ID
          in: path
          name: id
          required: true
          type: string
        - default: "5"
          description: Limit the number of similar movies to show
          in: query
          name: limit
          required: false
          type: string
      responses:
        "200":
          description: Success
        "400":
          description: Bad Request
        "403":
          description: Forbidden
      summary: ""
      tags:
        - Detailed Info
definitions: {}
