swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Azure Cosmos DB Database Service Resource Provider REST API
  title: Cosmos DB
  version: 2016-03-31
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2016-03-31/cosmos-db.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: cosmos-db
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: Impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  accountNameParameter:
    description: Cosmos DB database account name.
    in: path
    maxLength: 50
    minLength: 3
    name: accountName
    pattern: ^[a-z0-9]+(-[a-z0-9]+)*
    required: true
    type: string
    x-ms-parameter-location: method
  apiVersionParameter:
    description: Version of the API to be used with the client request. The current version is 2015-04-08.
    in: query
    name: api-version
    required: true
    type: string
  collectionNameParameter:
    description: Cosmos DB collection name.
    in: path
    name: collectionName
    required: true
    type: string
    x-ms-parameter-location: method
  collectionRidParameter:
    description: Cosmos DB collection rid.
    in: path
    name: collectionRid
    required: true
    type: string
    x-ms-parameter-location: method
  containerNameParameter:
    description: Cosmos DB container name.
    in: path
    name: containerName
    required: true
    type: string
    x-ms-parameter-location: method
  databaseNameParameter:
    description: Cosmos DB database name.
    in: path
    name: databaseName
    required: true
    type: string
    x-ms-parameter-location: method
  databaseRidParameter:
    description: Cosmos DB database rid.
    in: path
    name: databaseRid
    required: true
    type: string
    x-ms-parameter-location: method
  filterParameter:
    description: An OData filter expression that describes a subset of metrics to return. The parameters that can be filtered are name.value (name of the metric, can have an or of multiple names), startTime, endTime, and timeGrain. The supported operator is eq.
    in: query
    name: $filter
    required: true
    type: string
    x-ms-parameter-location: method
  graphNameParameter:
    description: Cosmos DB graph name.
    in: path
    name: graphName
    required: true
    type: string
    x-ms-parameter-location: method
  keyspaceNameParameter:
    description: Cosmos DB keyspace name.
    in: path
    name: keyspaceName
    required: true
    type: string
    x-ms-parameter-location: method
  partitionKeyRangeIdParameter:
    description: Partition Key Range Id for which to get data.
    in: path
    name: partitionKeyRangeId
    required: true
    type: string
    x-ms-parameter-location: method
  regionParameter:
    description: Cosmos DB region, with spaces between words and each word capitalized.
    in: path
    name: region
    required: true
    type: string
    x-ms-parameter-location: method
  resourceGroupNameParameter:
    description: Name of an Azure resource group.
    in: path
    maxLength: 90
    minLength: 1
    name: resourceGroupName
    pattern: ^[-\w\._\(\)]+$
    required: true
    type: string
    x-ms-parameter-location: method
  sourceRegionParameter:
    description: Source region from which data is written. Cosmos DB region, with spaces between words and each word capitalized.
    in: path
    name: sourceRegion
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionIdParameter:
    description: Azure subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
  tableNameParameter:
    description: Cosmos DB table name.
    in: path
    name: tableName
    required: true
    type: string
    x-ms-parameter-location: method
  targetRegionParameter:
    description: Target region to which data is written. Cosmos DB region, with spaces between words and each word capitalized.
    in: path
    name: targetRegion
    required: true
    type: string
    x-ms-parameter-location: method
  usageFilterParameter:
    description: An OData filter expression that describes a subset of usages to return. The supported parameter is name.value (name of the metric, can have an or of multiple names).
    in: query
    name: $filter
    required: false
    type: string
    x-ms-parameter-location: method
paths:
  "/providers/Microsoft.DocumentDB/databaseAccountNames/{accountName}":
    head:
      description: Checks that the Azure Cosmos DB account name already exists. A valid account name may contain only lowercase letters, numbers, and the '-' character, and must be between 3 and 50 characters.
      operationId: DatabaseAccounts_CheckNameExists
      parameters:
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The account name is valid but is already in use.
        "404":
          description: Not Found. The account name is available and valid.
      x-ms-examples:
        CosmosDBDatabaseAccountCheckNameExists:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
          responses:
            "200": {}
            "404": {}
  /providers/Microsoft.DocumentDB/operations:
    get:
      description: Lists all of the available Cosmos DB Resource Provider operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/OperationListResult"
      tags:
        - Operations
      x-ms-examples:
        CosmosDBOperationsList:
          parameters:
            api-version: 2016-03-31
          responses:
            "200":
              body:
                value:
                  - display:
                      Description: description
                      Operation: operationName
                      Provider: providerName
                      Resource: resourceName
                    name: operationName
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/databaseAccounts":
    get:
      description: Lists all the Azure Cosmos DB database accounts available under the subscription.
      operationId: DatabaseAccounts_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
      responses:
        "200":
          description: The operation completed successfully.
          schema:
            $ref: "#/definitions/DatabaseAccountsListResult"
      x-ms-examples:
        CosmosDBDatabaseAccountList:
          parameters:
            api-version: 2016-03-31
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                    kind: GlobalDocumentDB
                    location: West US
                    name: ddb1
                    properties:
                      consistencyPolicy:
                        defaultConsistencyLevel: Session
                        maxIntervalInSeconds: 5
                        maxStalenessPrefix: 100
                      databaseAccountOfferType: Standard
                      documentEndpoint: https://ddb1.documents.azure.com:443/
                      failoverPolicies:
                        - failoverPriority: 0
                          id: ddb1-eastus
                          locationName: East US
                      ipRangeFilter: ""
                      provisioningState: Succeeded
                      readLocations:
                        - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                          failoverPriority: 0
                          id: ddb1-eastus
                          locationName: East US
                          provisioningState: Succeeded
                      writeLocations:
                        - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                          failoverPriority: 0
                          id: ddb1-eastus
                          locationName: East US
                          provisioningState: Succeeded
                    tags: {}
                    type: Microsoft.DocumentDB/databaseAccounts
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts":
    get:
      description: Lists all the Azure Cosmos DB database accounts available under the given resource group.
      operationId: DatabaseAccounts_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
      responses:
        "200":
          description: The operation completed successfully.
          schema:
            $ref: "#/definitions/DatabaseAccountsListResult"
      x-ms-examples:
        CosmosDBDatabaseAccountListByResourceGroup:
          parameters:
            api-version: 2016-03-31
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                    kind: GlobalDocumentDB
                    location: West US
                    name: ddb1
                    properties:
                      consistencyPolicy:
                        defaultConsistencyLevel: Session
                        maxIntervalInSeconds: 5
                        maxStalenessPrefix: 100
                      databaseAccountOfferType: Standard
                      documentEndpoint: https://ddb1.documents.azure.com:443/
                      failoverPolicies:
                        - failoverPriority: 0
                          id: ddb1-eastus
                          locationName: East US
                      ipRangeFilter: ""
                      provisioningState: Succeeded
                      readLocations:
                        - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                          failoverPriority: 0
                          id: ddb1-eastus
                          locationName: East US
                          provisioningState: Succeeded
                      writeLocations:
                        - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                          failoverPriority: 0
                          id: ddb1-eastus
                          locationName: East US
                          provisioningState: Succeeded
                    tags: {}
                    type: Microsoft.DocumentDB/databaseAccounts
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}":
    delete:
      description: Deletes an existing Azure Cosmos DB database account.
      operationId: DatabaseAccounts_Delete
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "202":
          description: The database account delete operation will complete asynchronously.
        "204":
          description: The specified account does not exist in the subscription.
      x-ms-examples:
        CosmosDBDatabaseAccountDelete:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Retrieves the properties of an existing Azure Cosmos DB database account.
      operationId: DatabaseAccounts_Get
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The database account properties were retrieved successfully.
          schema:
            $ref: "#/definitions/DatabaseAccount"
      x-ms-examples:
        CosmosDBDatabaseAccountGet:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                kind: GlobalDocumentDB
                location: West US
                name: ddb1
                properties:
                  consistencyPolicy:
                    defaultConsistencyLevel: Session
                    maxIntervalInSeconds: 5
                    maxStalenessPrefix: 100
                  databaseAccountOfferType: Standard
                  documentEndpoint: https://ddb1.documents.azure.com:443/
                  failoverPolicies:
                    - failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                  ipRangeFilter: ""
                  isVirtualNetworkFilterEnabled: false
                  provisioningState: Succeeded
                  readLocations:
                    - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                      failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                      provisioningState: Succeeded
                  virtualNetworkRules: []
                  writeLocations:
                    - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                      failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                      provisioningState: Succeeded
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts
    patch:
      description: Patches the properties of an existing Azure Cosmos DB database account.
      operationId: DatabaseAccounts_Patch
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: The tags parameter to patch for the current database account.
          in: body
          name: updateParameters
          required: true
          schema:
            $ref: "#/definitions/DatabaseAccountPatchParameters"
      responses:
        "200":
          description: The properties of the database account were patched successfully.
          schema:
            $ref: "#/definitions/DatabaseAccount"
      x-ms-examples:
        CosmosDBDatabaseAccountPatch:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            resourceGroupName: rg1
            subscriptionId: subid
            updateParameters:
              tags:
                dept: finance
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                kind: GlobalDocumentDB
                location: West US
                name: ddb1
                properties:
                  consistencyPolicy:
                    defaultConsistencyLevel: Session
                    maxIntervalInSeconds: 5
                    maxStalenessPrefix: 100
                  databaseAccountOfferType: Standard
                  documentEndpoint: https://ddb1.documents.azure.com:443/
                  failoverPolicies:
                    - failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                  ipRangeFilter: ""
                  provisioningState: Succeeded
                  readLocations:
                    - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                      failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                      provisioningState: Succeeded
                  writeLocations:
                    - documentEndpoint: https://ddb1-eastus.documents.azure.com:443/
                      failoverPriority: 0
                      id: ddb1-eastus
                      locationName: East US
                      provisioningState: Succeeded
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts
      x-ms-long-running-operation: true
    put:
      description: Creates or updates an Azure Cosmos DB database account.
      operationId: DatabaseAccounts_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: The parameters to provide for the current database account.
          in: body
          name: createUpdateParameters
          required: true
          schema:
            $ref: "#/definitions/DatabaseAccountCreateUpdateParameters"
      responses:
        "200":
          description: The database account create or update operation will complete asynchronously.
          schema:
            $ref: "#/definitions/DatabaseAccount"
      x-ms-examples:
        CosmosDBDatabaseAccountCreateMax:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            createUpdateParameters:
              kind: GlobalDocumentDB
              location: westus
              properties:
                consistencyPolicy:
                  defaultConsistencyLevel: BoundedStaleness
                  maxIntervalInSeconds: 10
                  maxStalenessPrefix: 200
                databaseAccountOfferType: Standard
                ipRangeFilter: 10.10.10.10
                isVirtualNetworkFilterEnabled: true
                locations:
                  - failoverPriority: 0
                    isZoneRedundant: false
                    locationName: southcentralus
                  - failoverPriority: 1
                    isZoneRedundant: false
                    locationName: eastus
                virtualNetworkRules:
                  - id: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
                    ignoreMissingVNetServiceEndpoint: false
              tags: {}
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                kind: GlobalDocumentDB
                location: West US
                name: ddb1
                properties:
                  consistencyPolicy:
                    defaultConsistencyLevel: BoundedStaleness
                    maxIntervalInSeconds: 10
                    maxStalenessPrefix: 200
                  databaseAccountOfferType: Standard
                  failoverPolicies:
                    - failoverPriority: 0
                      id: ddb1-southcentralus
                      locationName: South Central US
                    - failoverPriority: 1
                      id: ddb1-eastus
                      locationName: East US
                  ipRangeFilter: 10.10.10.10
                  isVirtualNetworkFilterEnabled: true
                  provisioningState: Initializing
                  readLocations:
                    - failoverPriority: 0
                      id: ddb1-southcentralus
                      isZoneRedundant: false
                      locationName: South Central US
                      provisioningState: Initializing
                    - failoverPriority: 1
                      id: ddb1-eastus
                      isZoneRedundant: false
                      locationName: East US
                      provisioningState: Initializing
                  virtualNetworkRules:
                    - id: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnet1/subnets/subnet1
                  writeLocations:
                    - failoverPriority: 0
                      id: ddb1-southcentralus
                      isZoneRedundant: false
                      locationName: South Central US
                      provisioningState: Initializing
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts
        CosmosDBDatabaseAccountCreateMin:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            createUpdateParameters:
              location: westus
              properties:
                databaseAccountOfferType: Standard
                locations:
                  - failoverPriority: 0
                    isZoneRedundant: false
                    locationName: southcentralus
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.DocumentDB/databaseAccounts/ddb1
                kind: GlobalDocumentDB
                location: West US
                name: ddb1
                properties:
                  consistencyPolicy:
                    defaultConsistencyLevel: Session
                    maxIntervalInSeconds: 5
                    maxStalenessPrefix: 100
                  databaseAccountOfferType: Standard
                  failoverPolicies:
                    - failoverPriority: 0
                      id: ddb1-southcentralus
                      locationName: South Central US
                  ipRangeFilter: ""
                  provisioningState: Initializing
                  readLocations:
                    - failoverPriority: 0
                      id: ddb1-southcentralus
                      isZoneRedundant: false
                      locationName: South Central US
                      provisioningState: Initializing
                  writeLocations:
                    - failoverPriority: 0
                      id: ddb1-southcentralus
                      isZoneRedundant: false
                      locationName: South Central US
                      provisioningState: Initializing
                tags: {}
                type: Microsoft.DocumentDB/databaseAccounts
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/cassandra/keyspaces":
    get:
      description: Lists the Cassandra keyspaces under an existing Azure Cosmos DB database account.
      operationId: DatabaseAccounts_ListCassandraKeyspaces
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The Cassandra keyspace properties were retrieved successfully.
          schema:
            $ref: "#/definitions/CassandraKeyspaceListResult"
      x-ms-examples:
        CosmosDBCassandraKeyspaceList:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            resourceGroupName: rgName
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: keyspaceName
                    name: keyspaceName
                    properties:
                      id: keyspaceName
                    type: Microsoft.DocumentDB/databaseAccounts/apis/keyspaces
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/cassandra/keyspaces/{keyspaceName}":
    delete:
      description: Deletes an existing Azure Cosmos DB Cassandra keyspace.
      operationId: DatabaseAccounts_DeleteCassandraKeyspace
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/keyspaceNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "202":
          description: The Cassandra keyspace delete operation will complete asynchronously.
        "204":
          description: The Cassandra keyspace delete operation was completed successfully.
      x-ms-examples:
        CosmosDBCassandraKeyspaceDelete:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets the Cassandra keyspaces under an existing Azure Cosmos DB database account with the provided name.
      operationId: DatabaseAccounts_GetCassandraKeyspace
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/keyspaceNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The Cassandra keyspace property was retrieved successfully.
          schema:
            $ref: "#/definitions/CassandraKeyspace"
      x-ms-examples:
        CosmosDBCassandraKeyspaceGet:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: keyspaceName
                name: keyspaceName
                properties:
                  id: keyspaceName
                type: Microsoft.DocumentDB/databaseAccounts/apis/keyspaces
    put:
      description: Create or update an Azure Cosmos DB Cassandra keyspace
      operationId: DatabaseAccounts_CreateUpdateCassandraKeyspace
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/keyspaceNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: The parameters to provide for the current Cassandra keyspace.
          in: body
          name: createUpdateCassandraKeyspaceParameters
          required: true
          schema:
            $ref: "#/definitions/CassandraKeyspaceCreateUpdateParameters"
      responses:
        "200":
          description: The Cassandra keyspace create or update operation was completed successfully.
          schema:
            $ref: "#/definitions/CassandraKeyspace"
        "202":
          description: The Cassandra keyspace create or update operation will complete asynchronously.
      x-ms-examples:
        CosmosDBCassandraKeyspaceCreateUpdate:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            createUpdateCassandraKeyspaceParameters:
              properties:
                options: {}
                resource:
                  id: keyspaceName
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: keyspaceName
                name: keyspaceName
                properties:
                  id: keyspaceName
                type: Microsoft.DocumentDB/databaseAccounts/apis/keyspaces
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/cassandra/keyspaces/{keyspaceName}/settings/throughput":
    get:
      description: Gets the RUs per second of the Cassandra Keyspace under an existing Azure Cosmos DB database account with the provided name.
      operationId: DatabaseAccounts_GetCassandraKeyspaceThroughput
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/keyspaceNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The RUs per second of the Cassandra Keyspace was retrieved successfully.
          schema:
            $ref: "#/definitions/Throughput"
      x-ms-examples:
        CosmosDBCassandraKeyspaceThroughputGet:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                properties:
                  throughput: 400
    put:
      description: Update RUs per second of an Azure Cosmos DB Cassandra Keyspace
      operationId: DatabaseAccounts_UpdateCassandraKeyspaceThroughput
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/keyspaceNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: The RUs per second of the parameters to provide for the current Cassandra Keyspace.
          in: body
          name: updateThroughputParameters
          required: true
          schema:
            $ref: "#/definitions/ThroughputUpdateParameters"
      responses:
        "200":
          description: The RUs per second of the Cassandra Keyspace update operation was completed successfully.
          schema:
            $ref: "#/definitions/Throughput"
        "202":
          description: The RUs per second of the Cassandra Keyspace update operation will complete asynchronously.
      x-ms-examples:
        CosmosDBCassandraKeyspaceThroughputUpdate:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
            updateThroughputParameters:
              properties:
                resource:
                  throughput: 400
          responses:
            "200":
              body:
                properties:
                  throughput: 400
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/cassandra/keyspaces/{keyspaceName}/tables":
    get:
      description: Lists the Cassandra table under an existing Azure Cosmos DB database account.
      operationId: DatabaseAccounts_ListCassandraTables
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/keyspaceNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The Cassandra table properties were retrieved successfully.
          schema:
            $ref: "#/definitions/CassandraTableListResult"
      x-ms-examples:
        CosmosDBCassandraTableList:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            keyspaceName: keyspaceName
            resourceGroupName: rgName
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: tableName
                    name: tableName
                    properties:
                      defaultTtl: 100
                      id: tableName
                      schema:
                        clusterKeys:
                          - name: columnA
                            orderBy: Asc
                        columns:
                          - name: columnA
                            type: Ascii
                        partitionKeys:
                          - name: columnA
                    type: Microsoft.DocumentDB/databaseAccounts/apis/keyspaces/tables
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/cassandra/keyspaces/{keyspaceName}/tables/{tableName}":
    delete:
      description: Deletes an existing Azure Cosmos DB Cassandra table.
      operationId: DatabaseAccounts_DeleteCassandraTable
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/keyspaceNameParameter"
        - $ref: "#/parameters/tableNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "202":
          description: The Cassandra table delete operation will complete asynchronously.
        "204":
          description: The Cassandra table delete operation was completed successfully.
      x-ms-examples:
        CosmosDBCassandraTableDelete:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
            tableName: tableName
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets the Cassandra table under an existing Azure Cosmos DB database account.
      operationId: DatabaseAccounts_GetCassandraTable
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/keyspaceNameParameter"
        - $ref: "#/parameters/tableNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The Cassandra table property was retrieved successfully.
          schema:
            $ref: "#/definitions/CassandraTable"
      x-ms-examples:
        CosmosDBCassandraTableGet:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
            tableName: tableName
          responses:
            "200":
              body:
                id: tableName
                name: tableName
                properties:
                  defaultTtl: 100
                  id: tableName
                  schema:
                    clusterKeys:
                      - name: columnA
                        orderBy: Asc
                    columns:
                      - name: columnA
                        type: Ascii
                    partitionKeys:
                      - name: columnA
                type: Microsoft.DocumentDB/databaseAccounts/apis/keyspaces/tables
    put:
      description: Create or update an Azure Cosmos DB Cassandra Table
      operationId: DatabaseAccounts_CreateUpdateCassandraTable
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/keyspaceNameParameter"
        - $ref: "#/parameters/tableNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: The parameters to provide for the current Cassandra Table.
          in: body
          name: createUpdateCassandraTableParameters
          required: true
          schema:
            $ref: "#/definitions/CassandraTableCreateUpdateParameters"
      responses:
        "200":
          description: The Cassandra Table create or update operation was completed successfully.
          schema:
            $ref: "#/definitions/CassandraTable"
        "202":
          description: The Cassandra Table create or update operation will complete asynchronously.
      x-ms-examples:
        CosmosDBCassandraTableCreateUpdate:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            createUpdateCassandraTableParameters:
              properties:
                options: {}
                resource:
                  defaultTtl: 100
                  id: tableName
                  schema:
                    clusterKeys:
                      - name: columnA
                        orderBy: Asc
                    columns:
                      - name: columnA
                        type: Ascii
                    partitionKeys:
                      - name: columnA
            keyspaceName: tableName
            resourceGroupName: rg1
            subscriptionId: subid
            tableName: tableName
          responses:
            "200":
              body:
                id: tableName
                name: tableName
                properties:
                  defaultTtl: 100
                  id: tableName
                  schema:
                    clusterKeys:
                      - name: columnA
                        orderBy: Asc
                    columns:
                      - name: columnA
                        type: Ascii
                    partitionKeys:
                      - name: columnA
                type: Microsoft.DocumentDB/databaseAccounts/apis/keyspaces/tables
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/cassandra/keyspaces/{keyspaceName}/tables/{tableName}/settings/throughput":
    get:
      description: Gets the RUs per second of the Cassandra table under an existing Azure Cosmos DB database account with the provided name.
      operationId: DatabaseAccounts_GetCassandraTableThroughput
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/keyspaceNameParameter"
        - $ref: "#/parameters/tableNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The RUs per second of the Cassandra table was retrieved successfully.
          schema:
            $ref: "#/definitions/Throughput"
      x-ms-examples:
        CosmosDBCassandraTableThroughputGet:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
            tableName: tableName
          responses:
            "200":
              body:
                properties:
                  throughput: 400
    put:
      description: Update RUs per second of an Azure Cosmos DB Cassandra table
      operationId: DatabaseAccounts_UpdateCassandraTableThroughput
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/keyspaceNameParameter"
        - $ref: "#/parameters/tableNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: The RUs per second of the parameters to provide for the current Cassandra table.
          in: body
          name: updateThroughputParameters
          required: true
          schema:
            $ref: "#/definitions/ThroughputUpdateParameters"
      responses:
        "200":
          description: The RUs per second of the Cassandra table update operation was completed successfully.
          schema:
            $ref: "#/definitions/Throughput"
        "202":
          description: The RUs per second of the Cassandra table update operation will complete asynchronously.
      x-ms-examples:
        CosmosDBCassandraTableThroughputUpdate:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            keyspaceName: keyspaceName
            resourceGroupName: rg1
            subscriptionId: subid
            tableName: tableName
            updateThroughputParameters:
              properties:
                resource:
                  throughput: 400
          responses:
            "200":
              body:
                properties:
                  throughput: 400
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/gremlin/databases":
    get:
      description: Lists the Gremlin databases under an existing Azure Cosmos DB database account.
      operationId: DatabaseAccounts_ListGremlinDatabases
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The Gremlin database properties were retrieved successfully.
          schema:
            $ref: "#/definitions/GremlinDatabaseListResult"
      x-ms-examples:
        CosmosDBGremlinDatabaseList:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            resourceGroupName: rgName
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: databaseName
                    name: databaseName
                    properties:
                      _etag: '"00000a00-0000-0000-0000-56672f920000"'
                      _rid: CqNBAA==
                      _ts: 1449602962
                      id: databaseName
                    type: Microsoft.DocumentDB/databaseAccounts/apis/databases
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/gremlin/databases/{databaseName}":
    delete:
      description: Deletes an existing Azure Cosmos DB Gremlin database.
      operationId: DatabaseAccounts_DeleteGremlinDatabase
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "202":
          description: The Gremlin database delete operation will complete asynchronously.
        "204":
          description: The Gremlin database delete operation was completed successfully.
      x-ms-examples:
        CosmosDBGremlinDatabaseDelete:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            databaseName: databaseName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets the Gremlin databases under an existing Azure Cosmos DB database account with the provided name.
      operationId: DatabaseAccounts_GetGremlinDatabase
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The Gremlin database property was retrieved successfully.
          schema:
            $ref: "#/definitions/GremlinDatabase"
      x-ms-examples:
        CosmosDBGremlinDatabaseGet:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            databaseName: databaseName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: databaseName
                name: databaseName
                properties:
                  _etag: '"00000a00-0000-0000-0000-56672f920000"'
                  _rid: CqNBAA==
                  _ts: 1449602962
                  id: databaseName
                type: Microsoft.DocumentDB/databaseAccounts/apis/databases
    put:
      description: Create or update an Azure Cosmos DB Gremlin database
      operationId: DatabaseAccounts_CreateUpdateGremlinDatabase
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: The parameters to provide for the current Gremlin database.
          in: body
          name: createUpdateGremlinDatabaseParameters
          required: true
          schema:
            $ref: "#/definitions/GremlinDatabaseCreateUpdateParameters"
      responses:
        "200":
          description: The Gremlin database create or update operation was completed successfully.
          schema:
            $ref: "#/definitions/GremlinDatabase"
        "202":
          description: The Gremlin database create or update operation will complete asynchronously.
      x-ms-examples:
        CosmosDBGremlinDatabaseCreateUpdate:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            createUpdateGremlinDatabaseParameters:
              properties:
                options: {}
                resource:
                  id: databaseName
            databaseName: databaseName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: databaseName
                name: databaseName
                properties:
                  _etag: '"00000a00-0000-0000-0000-56672f920000"'
                  _rid: CqNBAA==
                  _ts: 1449602962
                  id: databaseName
                type: Microsoft.DocumentDB/databaseAccounts/apis/databases
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/gremlin/databases/{databaseName}/graphs":
    get:
      description: Lists the Gremlin graph under an existing Azure Cosmos DB database account.
      operationId: DatabaseAccounts_ListGremlinGraphs
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The Gremlin graph properties were retrieved successfully.
          schema:
            $ref: "#/definitions/GremlinGraphListResult"
      x-ms-examples:
        CosmosDBGremlinGraphList:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            databaseName: databaseName
            resourceGroupName: rgName
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: testgrf
                    name: testgrf
                    properties:
                      _etag: '"00005900-0000-0000-0000-56f9a2630000"'
                      _rid: PD5DALigDgw=
                      _ts: 1459200611
                      conflictResolutionPolicy:
                        conflictResolutionPath: /path
                        mode: LastWriterWins
                      defaultTtl: 100
                      id: testgrf
                      indexingPolicy:
                        automatic: true
                        excludedPaths: []
                        includedPaths:
                          - indexes:
                              - dataType: String
                                kind: Range
                                precision: -1
                              - dataType: Number
                                kind: Range
                                precision: -1
                            path: /*
                        indexingMode: Consistent
                      partitionKey:
                        kind: Hash
                        paths:
                          - /AccountNumber
                      uniqueKeyPolicy:
                        uniqueKeys:
                          - paths:
                              - /testPath
                    type: Microsoft.DocumentDB/databaseAccounts/apis/databases/graphs
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/gremlin/databases/{databaseName}/graphs/{graphName}":
    delete:
      description: Deletes an existing Azure Cosmos DB Gremlin graph.
      operationId: DatabaseAccounts_DeleteGremlinGraph
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/graphNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "202":
          description: The Gremlin graph delete operation will complete asynchronously.
        "204":
          description: The Gremlin graph delete operation was completed successfully.
      x-ms-examples:
        CosmosDBGremlinGraphDelete:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            databaseName: databaseName
            graphName: graphName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets the Gremlin graph under an existing Azure Cosmos DB database account.
      operationId: DatabaseAccounts_GetGremlinGraph
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/graphNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The Gremlin graph property was retrieved successfully.
          schema:
            $ref: "#/definitions/GremlinGraph"
      x-ms-examples:
        CosmosDBGremlinGraphGet:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            databaseName: databaseName
            graphName: graphName
            resourceGroupName: rgName
            subscriptionId: subid
          responses:
            "200":
              body:
                id: graphName
                name: graphName
                properties:
                  _etag: '"00005900-0000-0000-0000-56f9a2630000"'
                  _rid: PD5DALigDgw=
                  _ts: 1459200611
                  conflictResolutionPolicy:
                    conflictResolutionPath: /path
                    mode: LastWriterWins
                  defaultTtl: 100
                  id: graphName
                  indexingPolicy:
                    automatic: true
                    excludedPaths: []
                    includedPaths:
                      - indexes:
                          - dataType: String
                            kind: Range
                            precision: -1
                          - dataType: Number
                            kind: Range
                            precision: -1
                        path: /*
                    indexingMode: Consistent
                  partitionKey:
                    kind: Hash
                    paths:
                      - /AccountNumber
                  uniqueKeyPolicy:
                    uniqueKeys:
                      - paths:
                          - /testPath
                type: Microsoft.DocumentDB/databaseAccounts/apis/databases/graphs
    put:
      description: Create or update an Azure Cosmos DB Gremlin graph
      operationId: DatabaseAccounts_CreateUpdateGremlinGraph
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/graphNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: The parameters to provide for the current Gremlin graph.
          in: body
          name: createUpdateGremlinGraphParameters
          required: true
          schema:
            $ref: "#/definitions/GremlinGraphCreateUpdateParameters"
      responses:
        "200":
          description: The Gremlin graph create or update operation was completed successfully.
          schema:
            $ref: "#/definitions/GremlinGraph"
        "202":
          description: The Gremlin graph create or update operation will complete asynchronously.
      x-ms-examples:
        CosmosDBGremlinGraphCreateUpdate:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            createUpdateGremlinGraphParameters:
              properties:
                options: {}
                resource:
                  conflictResolutionPolicy:
                    conflictResolutionPath: /path
                    mode: LastWriterWins
                  defaultTtl: 100
                  id: graphName
                  indexingPolicy:
                    automatic: true
                    excludedPaths: []
                    includedPaths:
                      - indexes:
                          - dataType: String
                            kind: Range
                            precision: -1
                          - dataType: Number
                            kind: Range
                            precision: -1
                        path: /*
                    indexingMode: Consistent
                  partitionKey:
                    kind: Hash
                    paths:
                      - /AccountNumber
                  uniqueKeyPolicy:
                    uniqueKeys:
                      - paths:
                          - /testPath
            databaseName: databaseName
            graphName: graphName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: graphName
                name: graphName
                properties:
                  _etag: '"00005900-0000-0000-0000-56f9a2630000"'
                  _rid: PD5DALigDgw=
                  _ts: 1459200611
                  conflictResolutionPolicy:
                    conflictResolutionPath: /path
                    mode: LastWriterWins
                  defaultTtl: 100
                  id: graphName
                  indexingPolicy:
                    automatic: true
                    excludedPaths: []
                    includedPaths:
                      - indexes:
                          - dataType: String
                            kind: Range
                            precision: -1
                          - dataType: Number
                            kind: Range
                            precision: -1
                        path: /*
                    indexingMode: Consistent
                  partitionKey:
                    kind: Hash
                    paths:
                      - /AccountNumber
                  uniqueKeyPolicy:
                    uniqueKeys:
                      - paths:
                          - /testPath
                type: Microsoft.DocumentDB/databaseAccounts/apis/databases/graphs
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/gremlin/databases/{databaseName}/graphs/{graphName}/settings/throughput":
    get:
      description: Gets the Gremlin graph throughput under an existing Azure Cosmos DB database account with the provided name.
      operationId: DatabaseAccounts_GetGremlinGraphThroughput
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/graphNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The RUs per second of the Gremlin graph was retrieved successfully.
          schema:
            $ref: "#/definitions/Throughput"
      x-ms-examples:
        CosmosDBGremlinGraphThroughputGet:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            databaseName: databaseName
            graphName: graphName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                properties:
                  throughput: 400
    put:
      description: Update RUs per second of an Azure Cosmos DB Gremlin graph
      operationId: DatabaseAccounts_UpdateGremlinGraphThroughput
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/graphNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: The RUs per second of the parameters to provide for the current Gremlin graph.
          in: body
          name: updateThroughputParameters
          required: true
          schema:
            $ref: "#/definitions/ThroughputUpdateParameters"
      responses:
        "200":
          description: The RUs per second of the Gremlin graph update operation was completed successfully.
          schema:
            $ref: "#/definitions/Throughput"
        "202":
          description: The RUs per second of the Gremlin graph update operation will complete asynchronously.
      x-ms-examples:
        CosmosDBGremlinGraphThroughputUpdate:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            databaseName: databaseName
            graphName: graphName
            resourceGroupName: rg1
            subscriptionId: subid
            updateThroughputParameters:
              properties:
                resource:
                  throughput: 400
          responses:
            "200":
              body:
                properties:
                  throughput: 400
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/gremlin/databases/{databaseName}/settings/throughput":
    get:
      description: Gets the RUs per second of the Gremlin database under an existing Azure Cosmos DB database account with the provided name.
      operationId: DatabaseAccounts_GetGremlinDatabaseThroughput
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The RUs per second of the Gremlin database was retrieved successfully.
          schema:
            $ref: "#/definitions/Throughput"
      x-ms-examples:
        CosmosDBGremlinDatabaseThroughputGet:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            databaseName: databaseName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                properties:
                  throughput: 400
    put:
      description: Update RUs per second of an Azure Cosmos DB Gremlin database
      operationId: DatabaseAccounts_UpdateGremlinDatabaseThroughput
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: The RUs per second of the parameters to provide for the current Gremlin database.
          in: body
          name: updateThroughputParameters
          required: true
          schema:
            $ref: "#/definitions/ThroughputUpdateParameters"
      responses:
        "200":
          description: The RUs per second of the Gremlin database update operation was completed successfully.
          schema:
            $ref: "#/definitions/Throughput"
        "202":
          description: The RUs per second of the Gremlin database update operation will complete asynchronously.
      x-ms-examples:
        CosmosDBGremlinDatabaseThroughputUpdate:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            databaseName: databaseName
            resourceGroupName: rg1
            subscriptionId: subid
            updateThroughputParameters:
              properties:
                resource:
                  throughput: 400
          responses:
            "200":
              body:
                properties:
                  throughput: 400
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/mongodb/databases":
    get:
      description: Lists the MongoDB databases under an existing Azure Cosmos DB database account.
      operationId: DatabaseAccounts_ListMongoDBDatabases
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The MongoDB database properties were retrieved successfully.
          schema:
            $ref: "#/definitions/MongoDBDatabaseListResult"
      x-ms-examples:
        CosmosDBMongoDBDatabaseList:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            resourceGroupName: rgName
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: databaseName
                    name: databaseName
                    properties:
                      id: databaseName
                    type: Microsoft.DocumentDB/databaseAccounts/apis/databases
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/mongodb/databases/{databaseName}":
    delete:
      description: Deletes an existing Azure Cosmos DB MongoDB database.
      operationId: DatabaseAccounts_DeleteMongoDBDatabase
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "202":
          description: The MongoDB database delete operation will complete asynchronously.
        "204":
          description: The MongoDB database delete operation was completed successfully.
      x-ms-examples:
        CosmosDBMongoDBDatabaseDelete:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            databaseName: databaseName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets the MongoDB databases under an existing Azure Cosmos DB database account with the provided name.
      operationId: DatabaseAccounts_GetMongoDBDatabase
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The MongoDB database property was retrieved successfully.
          schema:
            $ref: "#/definitions/MongoDBDatabase"
      x-ms-examples:
        CosmosDBMongoDBDatabaseGet:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            databaseName: databaseName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: databaseName
                name: databaseName
                properties:
                  id: databaseName
                type: Microsoft.DocumentDB/databaseAccounts/apis/databases
    put:
      description: Create or updates Azure Cosmos DB MongoDB database
      operationId: DatabaseAccounts_CreateUpdateMongoDBDatabase
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: The parameters to provide for the current MongoDB database.
          in: body
          name: createUpdateMongoDBDatabaseParameters
          required: true
          schema:
            $ref: "#/definitions/MongoDBDatabaseCreateUpdateParameters"
      responses:
        "200":
          description: The MongoDB database create or update operation was completed successfully.
          schema:
            $ref: "#/definitions/MongoDBDatabase"
        "202":
          description: The MongoDB database create or update operation will complete asynchronously.
      x-ms-examples:
        CosmosDBMongoDBDatabaseCreateUpdate:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            createUpdateMongoDBDatabaseParameters:
              properties:
                options: {}
                resource:
                  id: updatedDatabaseName
            databaseName: databaseName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: updatedDatabaseName
                name: updatedDatabaseName
                properties:
                  id: updatedDatabaseName
                type: Microsoft.DocumentDB/databaseAccounts/apis/databases
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/mongodb/databases/{databaseName}/collections":
    get:
      description: Lists the MongoDB collection under an existing Azure Cosmos DB database account.
      operationId: DatabaseAccounts_ListMongoDBCollections
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The MongoDB collection properties were retrieved successfully.
          schema:
            $ref: "#/definitions/MongoDBCollectionListResult"
      x-ms-examples:
        CosmosDBMongoDBCollectionList:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            databaseName: databaseName
            resourceGroupName: rgName
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: testcoll
                    name: testcoll
                    properties:
                      id: testcoll
                      indexes:
                        - key:
                            keys:
                              - testKey
                          options:
                            expireAfterSeconds: 100
                            unique: true
                      shardKey:
                        testKey: Hash
                    type: Microsoft.DocumentDB/databaseAccounts/apis/databases/collections
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/mongodb/databases/{databaseName}/collections/{collectionName}":
    delete:
      description: Deletes an existing Azure Cosmos DB MongoDB Collection.
      operationId: DatabaseAccounts_DeleteMongoDBCollection
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/collectionNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "202":
          description: The MongoDB collection delete operation will complete asynchronously.
        "204":
          description: The MongoDB collection delete operation was completed successfully.
      x-ms-examples:
        CosmosDBMongoDBCollectionDelete:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            collectionName: collectionName
            databaseName: databaseName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets the MongoDB collection under an existing Azure Cosmos DB database account.
      operationId: DatabaseAccounts_GetMongoDBCollection
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/collectionNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The MongoDB collection property was retrieved successfully.
          schema:
            $ref: "#/definitions/MongoDBCollection"
      x-ms-examples:
        CosmosDBMongoDBCollectionGet:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            collectionName: collectionName
            databaseName: databaseName
            resourceGroupName: rgName
            subscriptionId: subid
          responses:
            "200":
              body:
                id: collectionName
                name: collectionName
                properties:
                  id: testcoll
                  indexes:
                    - key:
                        keys:
                          - testKey
                      options:
                        expireAfterSeconds: 100
                        unique: true
                  shardKey:
                    testKey: Hash
                type: Microsoft.DocumentDB/databaseAccounts/apis/databases/collections
    put:
      description: Create or update an Azure Cosmos DB MongoDB Collection
      operationId: DatabaseAccounts_CreateUpdateMongoDBCollection
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/collectionNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: The parameters to provide for the current MongoDB Collection.
          in: body
          name: createUpdateMongoDBCollectionParameters
          required: true
          schema:
            $ref: "#/definitions/MongoDBCollectionCreateUpdateParameters"
      responses:
        "200":
          description: The MongoDB Collection create or update operation was completed successfully.
          schema:
            $ref: "#/definitions/MongoDBCollection"
        "202":
          description: The MongoDB Collection create or update operation will complete asynchronously.
      x-ms-examples:
        CosmosDBMongoDBCollectionCreateUpdate:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            collectionName: collectionName
            createUpdateMongoDBCollectionParameters:
              properties:
                options: {}
                resource:
                  id: testcoll
                  indexes:
                    - key:
                        keys:
                          - testKey
                      options:
                        expireAfterSeconds: 100
                        unique: true
                  shardKey:
                    testKey: Hash
            databaseName: databaseName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: collectionName
                name: collectionName
                properties:
                  id: testcoll
                  indexes:
                    - key:
                        keys:
                          - testKey
                      options:
                        expireAfterSeconds: 100
                        unique: true
                  shardKey:
                    testKey: Hash
                type: Microsoft.DocumentDB/databaseAccounts/apis/collection
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/mongodb/databases/{databaseName}/collections/{collectionName}/settings/throughput":
    get:
      description: Gets the RUs per second of the MongoDB collection under an existing Azure Cosmos DB database account with the provided name.
      operationId: DatabaseAccounts_GetMongoDBCollectionThroughput
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/collectionNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The RUs per second of the MongoDB collection was retrieved successfully.
          schema:
            $ref: "#/definitions/Throughput"
      x-ms-examples:
        CosmosDBMongoDBCollectionThroughputGet:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            collectionName: collectionName
            databaseName: databaseName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                properties:
                  throughput: 400
    put:
      description: Update the RUs per second of an Azure Cosmos DB MongoDB collection
      operationId: DatabaseAccounts_UpdateMongoDBCollectionThroughput
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/collectionNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: The RUs per second of the parameters to provide for the current MongoDB collection.
          in: body
          name: updateThroughputParameters
          required: true
          schema:
            $ref: "#/definitions/ThroughputUpdateParameters"
      responses:
        "200":
          description: The RUs per second of the MongoDB collection update operation was completed successfully.
          schema:
            $ref: "#/definitions/Throughput"
        "202":
          description: The RUs per second of the MongoDB collection update operation will complete asynchronously.
      x-ms-examples:
        CosmosDBMongoDBCollectionThroughputUpdate:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            collectionName: collectionName
            databaseName: databaseName
            resourceGroupName: rg1
            subscriptionId: subid
            updateThroughputParameters:
              properties:
                resource:
                  throughput: 400
          responses:
            "200":
              body:
                properties:
                  throughput: 400
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/mongodb/databases/{databaseName}/settings/throughput":
    get:
      description: Gets the RUs per second of the MongoDB database under an existing Azure Cosmos DB database account with the provided name.
      operationId: DatabaseAccounts_GetMongoDBDatabaseThroughput
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The RUs per second of the MongoDB database was retrieved successfully.
          schema:
            $ref: "#/definitions/Throughput"
      x-ms-examples:
        CosmosDBMongoDBDatabaseThroughputGet:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            databaseName: databaseName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                properties:
                  throughput: 400
    put:
      description: Update RUs per second of the an Azure Cosmos DB MongoDB database
      operationId: DatabaseAccounts_UpdateMongoDBDatabaseThroughput
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: The RUs per second of the parameters to provide for the current MongoDB database.
          in: body
          name: updateThroughputParameters
          required: true
          schema:
            $ref: "#/definitions/ThroughputUpdateParameters"
      responses:
        "200":
          description: The RUs per second of the MongoDB database update operation was completed successfully.
          schema:
            $ref: "#/definitions/Throughput"
        "202":
          description: The RUs per second of the MongoDB database update operation will complete asynchronously.
      x-ms-examples:
        CosmosDBMongoDBDatabaseThroughputUpdate:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            databaseName: databaseName
            resourceGroupName: rg1
            subscriptionId: subid
            updateThroughputParameters:
              properties:
                resource:
                  throughput: 400
          responses:
            "200":
              body:
                properties:
                  throughput: 400
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/sql/databases":
    get:
      description: Lists the SQL databases under an existing Azure Cosmos DB database account.
      operationId: DatabaseAccounts_ListSqlDatabases
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The SQL database properties were retrieved successfully.
          schema:
            $ref: "#/definitions/SqlDatabaseListResult"
      x-ms-examples:
        CosmosDBSqlDatabaseList:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            resourceGroupName: rgName
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: databaseName
                    name: databaseName
                    properties:
                      _colls: colls/
                      _etag: '"00000a00-0000-0000-0000-56672f920000"'
                      _rid: CqNBAA==
                      _ts: 1449602962
                      _users: users/
                      id: databaseName
                    type: Microsoft.DocumentDB/databaseAccounts/apis/databases
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/sql/databases/{databaseName}":
    delete:
      description: Deletes an existing Azure Cosmos DB SQL database.
      operationId: DatabaseAccounts_DeleteSqlDatabase
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "202":
          description: The SQL database delete operation will complete asynchronously.
        "204":
          description: The SQL database delete operation was completed successfully.
      x-ms-examples:
        CosmosDBSqlDatabaseDelete:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            databaseName: databaseName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets the SQL database under an existing Azure Cosmos DB database account with the provided name.
      operationId: DatabaseAccounts_GetSqlDatabase
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The SQL database property was retrieved successfully.
          schema:
            $ref: "#/definitions/SqlDatabase"
      x-ms-examples:
        CosmosDBSqlDatabaseGet:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            databaseName: databaseName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: databaseName
                name: databaseName
                properties:
                  _colls: colls/
                  _etag: '"00000a00-0000-0000-0000-56672f920000"'
                  _rid: CqNBAA==
                  _ts: 1449602962
                  _users: users/
                  id: databaseName
                type: Microsoft.DocumentDB/databaseAccounts/apis/databases
    put:
      description: Create or update an Azure Cosmos DB SQL database
      operationId: DatabaseAccounts_CreateUpdateSqlDatabase
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: The parameters to provide for the current SQL database.
          in: body
          name: createUpdateSqlDatabaseParameters
          required: true
          schema:
            $ref: "#/definitions/SqlDatabaseCreateUpdateParameters"
      responses:
        "200":
          description: The SQL database create or update operation was completed successfully.
          schema:
            $ref: "#/definitions/SqlDatabase"
        "202":
          description: The SQL database create or update operation will complete asynchronously.
      x-ms-examples:
        CosmosDBSqlDatabaseCreateUpdate:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            createUpdateSqlDatabaseParameters:
              properties:
                options: {}
                resource:
                  id: databaseName
            databaseName: databaseName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: databaseName
                name: databaseName
                properties:
                  _etag: '"00000a00-0000-0000-0000-56672f920000"'
                  _rid: CqNBAA==
                  _ts: 1449602962
                  id: databaseName
                type: Microsoft.DocumentDB/databaseAccounts/apis/databases
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/sql/databases/{databaseName}/containers":
    get:
      description: Lists the SQL container under an existing Azure Cosmos DB database account.
      operationId: DatabaseAccounts_ListSqlContainers
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The SQL container properties were retrieved successfully.
          schema:
            $ref: "#/definitions/SqlContainerListResult"
      x-ms-examples:
        CosmosDBSqlContainerList:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            databaseName: databaseName
            resourceGroupName: rgName
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: testctn
                    name: testctn
                    properties:
                      _etag: '"00005900-0000-0000-0000-56f9a2630000"'
                      _rid: PD5DALigDgw=
                      _ts: 1459200611
                      conflictResolutionPolicy:
                        conflictResolutionPath: /path
                        mode: LastWriterWins
                      defaultTtl: 100
                      id: testctn
                      indexingPolicy:
                        automatic: true
                        excludedPaths: []
                        includedPaths:
                          - indexes:
                              - dataType: String
                                kind: Range
                                precision: -1
                              - dataType: Number
                                kind: Range
                                precision: -1
                            path: /*
                        indexingMode: Consistent
                      partitionKey:
                        kind: Hash
                        paths:
                          - /AccountNumber
                      uniqueKeyPolicy:
                        uniqueKeys:
                          - paths:
                              - /testPath
                    type: Microsoft.DocumentDB/databaseAccounts/apis/databases/containers
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/sql/databases/{databaseName}/containers/{containerName}":
    delete:
      description: Deletes an existing Azure Cosmos DB SQL container.
      operationId: DatabaseAccounts_DeleteSqlContainer
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/containerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "202":
          description: The SQL container delete operation will complete asynchronously.
        "204":
          description: The SQL container delete operation was completed successfully.
      x-ms-examples:
        CosmosDBSqlContainerDelete:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            containerName: containerName
            databaseName: databaseName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets the SQL container under an existing Azure Cosmos DB database account.
      operationId: DatabaseAccounts_GetSqlContainer
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/containerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The SQL container property was retrieved successfully.
          schema:
            $ref: "#/definitions/SqlContainer"
      x-ms-examples:
        CosmosDBSqlContainerGet:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            containerName: containerName
            databaseName: databaseName
            resourceGroupName: rgName
            subscriptionId: subid
          responses:
            "200":
              body:
                id: containerName
                name: containerName
                properties:
                  _etag: '"00005900-0000-0000-0000-56f9a2630000"'
                  _rid: PD5DALigDgw=
                  _ts: 1459200611
                  conflictResolutionPolicy:
                    conflictResolutionPath: /path
                    mode: LastWriterWins
                  defaultTtl: 100
                  id: containerName
                  indexingPolicy:
                    automatic: true
                    excludedPaths: []
                    includedPaths:
                      - indexes:
                          - dataType: String
                            kind: Range
                            precision: -1
                          - dataType: Number
                            kind: Range
                            precision: -1
                        path: /*
                    indexingMode: Consistent
                  partitionKey:
                    kind: Hash
                    paths:
                      - /AccountNumber
                  uniqueKeyPolicy:
                    uniqueKeys:
                      - paths:
                          - /testPath
                type: Microsoft.DocumentDB/databaseAccounts/apis/databases/containers
    put:
      description: Create or update an Azure Cosmos DB SQL container
      operationId: DatabaseAccounts_CreateUpdateSqlContainer
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/containerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: The parameters to provide for the current SQL container.
          in: body
          name: createUpdateSqlContainerParameters
          required: true
          schema:
            $ref: "#/definitions/SqlContainerCreateUpdateParameters"
      responses:
        "200":
          description: The SQL container create or update operation was completed successfully.
          schema:
            $ref: "#/definitions/SqlContainer"
        "202":
          description: The SQL container create or update operation will complete asynchronously.
      x-ms-examples:
        CosmosDBSqlContainerCreateUpdate:
          parameters:
            accountName: ddb1
            api-version: 2016-03-31
            containerName: containerName
            createUpdateSqlContainerParameters:
              properties:
                options: {}
                resource:
                  conflictResolutionPolicy:
                    conflictResolutionPath: /path
                    mode: LastWriterWins
                  defaultTtl: 100
                  id: containerName
                  indexingPolicy:
                    automatic: true
                    excludedPaths: []
                    includedPaths:
                      - indexes:
                          - dataType: String
                            kind: Range
                            precision: -1
                          - dataType: Number
                            kind: Range
                            precision: -1
                        path: /*
                    indexingMode: Consistent
                  partitionKey:
                    kind: Hash
                    paths:
                      - /AccountNumber
                  uniqueKeyPolicy:
                    uniqueKeys:
                      - paths:
                          - /testPath
            databaseName: databaseName
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: containerName
                name: containerName
                properties:
                  _etag: '"00005900-0000-0000-0000-56f9a2630000"'
                  _rid: PD5DALigDgw=
                  _ts: 1459200611
                  conflictResolutionPolicy:
                    conflictResolutionPath: /path
                    mode: LastWriterWins
                  defaultTtl: 100
                  id: containerName
                  indexingPolicy:
                    automatic: true
                    excludedPaths: []
                    includedPaths:
                      - indexes:
                          - dataType: String
                            kind: Range
                            precision: -1
                          - dataType: Number
                            kind: Range
                            precision: -1
                        path: /*
                    indexingMode: Consistent
                  partitionKey:
                    kind: Hash
                    paths:
                      - /AccountNumber
                  uniqueKeyPolicy:
                    uniqueKeys:
                      - paths:
                          - /testPath
                type: Microsoft.DocumentDB/databaseAccounts/apis/databases/containers
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/sql/databases/{databaseName}/containers/{containerName}/settings/throughput":
    get:
      description: Gets the RUs per second of the SQL container under an existing Azure Cosmos DB database account.
      operationId: DatabaseAccounts_GetSqlContainerThroughput
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/accountNameParameter"
        - $ref: "#/parameters/databaseNameParameter"
        - $ref: "#/parameters/containerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The RUs per second of the SQL container was retrieved successfully.
          schema:
[...]
