swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: SubscriptionClient
  version: 2015-11-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/resources/resource-manager/Microsoft.Resources/stable/2015-11-01/subscriptions.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: resources-subscriptions
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
  - text/json
produces:
  - application/json
  - text/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
paths:
  /subscriptions:
    get:
      description: Gets a list of the subscriptionIds.
      operationId: Subscriptions_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/SubscriptionListResult"
      tags:
        - Subscriptions
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}":
    get:
      description: Gets details about particular subscription.
      operationId: Subscriptions_Get
      parameters:
        - description: Id of the subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Subscription"
      tags:
        - Subscriptions
  "/subscriptions/{subscriptionId}/locations":
    get:
      description: Gets a list of the subscription locations.
      operationId: Subscriptions_ListLocations
      parameters:
        - description: Id of the subscription
          in: path
          name: subscriptionId
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/LocationListResult"
      tags:
        - Subscriptions
      x-ms-pageable:
        nextLinkName: null
  /tenants:
    get:
      description: Gets a list of the tenantIds.
      operationId: Tenants_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/TenantListResult"
      tags:
        - Tenants
      x-ms-pageable:
        nextLinkName: nextLink
definitions:
  Location:
    description: Location information.
    properties:
      displayName:
        description: Gets or sets the display name of the location
        type: string
      id:
        description: Gets or sets the ID of the resource (/subscriptions/SubscriptionId).
        type: string
      latitude:
        description: Gets or sets the latitude of the location
        type: string
      longitude:
        description: Gets or sets the longitude of the location
        type: string
      name:
        description: Gets or sets the location name
        type: string
      subscriptionId:
        description: Gets or sets the subscription Id.
        type: string
  LocationListResult:
    description: Location list operation response.
    properties:
      value:
        description: Gets the locations.
        items:
          $ref: "#/definitions/Location"
        type: array
  Subscription:
    description: Subscription information.
    properties:
      displayName:
        description: Gets or sets the subscription display name
        type: string
      id:
        description: Gets or sets the ID of the resource (/subscriptions/SubscriptionId).
        type: string
      state:
        description: Gets or sets the subscription state
        type: string
      subscriptionId:
        description: Gets or sets the subscription Id.
        type: string
      subscriptionPolicies:
        $ref: "#/definitions/SubscriptionPolicies"
        description: Gets or sets the subscription policies.
  SubscriptionListResult:
    description: Subscription list operation response.
    properties:
      nextLink:
        description: Gets or sets the URL to get the next set of results.
        type: string
      value:
        description: Gets or sets subscriptions.
        items:
          $ref: "#/definitions/Subscription"
        type: array
    required:
      - nextLink
  SubscriptionPolicies:
    description: Subscription policies.
    properties:
      locationPlacementId:
        description: Gets or sets the subscription location placement Id.
        type: string
      quotaId:
        description: Gets or sets the subscription quota Id.
        type: string
  TenantIdDescription:
    description: Tenant Id information
    properties:
      id:
        description: Gets or sets Id
        type: string
      tenantId:
        description: Gets or sets tenantId
        type: string
  TenantListResult:
    description: Tenant Ids information.
    properties:
      nextLink:
        description: Gets or sets the URL to get the next set of results.
        type: string
      value:
        description: Gets or sets tenant Ids.
        items:
          $ref: "#/definitions/TenantIdDescription"
        type: array
    required:
      - nextLink
