{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://graph.windows.net"
    }
  ],
  "info": {
    "description": "The Graph RBAC Management Client",
    "title": "GraphRbacManagementClient",
    "version": "1.6",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/graphrbac/data-plane/Microsoft.GraphRbac/stable/1.6/graphrbac.json",
        "version": "3.0"
      }
    ],
    "x-providerName": "windows.net",
    "x-serviceName": "graphrbac"
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "paths": {
    "/{tenantID}/applications": {
      "get": {
        "description": "Lists applications by filter parameters.",
        "operationId": "Applications_List",
        "parameters": [
          {
            "description": "The filters to apply to the operation.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationListResult"
                }
              }
            },
            "description": "OK. The operation was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Application"
        ],
        "x-ms-odata": "#/components/schemas/Application",
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink",
          "operationName": "Applications_ListNext"
        }
      },
      "post": {
        "description": "Create a new application.",
        "operationId": "Applications_Create",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationCreateParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationCreateParameters"
              }
            }
          },
          "description": "The parameters for creating an application.",
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            },
            "description": "The application was created successfully."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Application"
        ]
      }
    },
    "/{tenantID}/applications/{applicationObjectId}": {
      "delete": {
        "description": "Delete an application.",
        "operationId": "Applications_Delete",
        "parameters": [
          {
            "description": "Application object ID.",
            "in": "path",
            "name": "applicationObjectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Application"
        ]
      },
      "get": {
        "description": "Get an application by object ID.",
        "operationId": "Applications_Get",
        "parameters": [
          {
            "description": "Application object ID.",
            "in": "path",
            "name": "applicationObjectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            },
            "description": "OK. The operation was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Application"
        ]
      },
      "patch": {
        "description": "Update an existing application.",
        "operationId": "Applications_Patch",
        "parameters": [
          {
            "description": "Application object ID.",
            "in": "path",
            "name": "applicationObjectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationUpdateParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationUpdateParameters"
              }
            }
          },
          "description": "Parameters to update an existing application.",
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Application"
        ]
      }
    },
    "/{tenantID}/applications/{applicationObjectId}/$links/owners": {
      "post": {
        "description": "Add an owner to an application.",
        "operationId": "Applications_AddOwner",
        "parameters": [
          {
            "description": "The object ID of the application to which to add the owner.",
            "in": "path",
            "name": "applicationObjectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/AddOwnerParameters"
        },
        "responses": {
          "204": {
            "description": "No Content. Indicates success. No response body is returned."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ApplicationOwners"
        ]
      }
    },
    "/{tenantID}/applications/{applicationObjectId}/$links/owners/{ownerObjectId}": {
      "delete": {
        "description": "Remove a member from owners.",
        "operationId": "Applications_RemoveOwner",
        "parameters": [
          {
            "description": "The object ID of the application from which to remove the owner.",
            "in": "path",
            "name": "applicationObjectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Owner object id",
            "in": "path",
            "name": "ownerObjectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content. Indicates success. No response body is returned."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ApplicationOwners"
        ]
      }
    },
    "/{tenantID}/applications/{applicationObjectId}/keyCredentials": {
      "get": {
        "description": "Get the keyCredentials associated with an application.",
        "operationId": "Applications_ListKeyCredentials",
        "parameters": [
          {
            "description": "Application object ID.",
            "in": "path",
            "name": "applicationObjectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyCredentialListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyCredentialListResult"
                }
              }
            },
            "description": "OK. The operation was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ApplicationKeyCredentials"
        ],
        "x-ms-pageable": {
          "nextLinkName": {
            "$ref": "#/paths/~1{tenantID}~1domains/get/x-ms-pageable/nextLinkName"
          }
        }
      },
      "patch": {
        "description": "Update the keyCredentials associated with an application.",
        "operationId": "Applications_UpdateKeyCredentials",
        "parameters": [
          {
            "description": "Application object ID.",
            "in": "path",
            "name": "applicationObjectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyCredentialsUpdateParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyCredentialsUpdateParameters"
              }
            }
          },
          "description": "Parameters to update the keyCredentials of an existing application.",
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ApplicationKeyCredentials"
        ]
      }
    },
    "/{tenantID}/applications/{applicationObjectId}/owners": {
      "get": {
        "description": "The owners are a set of non-admin users who are allowed to modify this object.",
        "operationId": "Applications_ListOwners",
        "parameters": [
          {
            "description": "The object ID of the application for which to get owners.",
            "in": "path",
            "name": "applicationObjectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryObjectListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryObjectListResult"
                }
              }
            },
            "description": "OK. The operation was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "summary": "Directory objects that are owners of the application.",
        "tags": [
          "ApplicationOwners"
        ],
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink"
        }
      }
    },
    "/{tenantID}/applications/{applicationObjectId}/passwordCredentials": {
      "get": {
        "description": "Get the passwordCredentials associated with an application.",
        "operationId": "Applications_ListPasswordCredentials",
        "parameters": [
          {
            "description": "Application object ID.",
            "in": "path",
            "name": "applicationObjectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PasswordCredentialListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PasswordCredentialListResult"
                }
              }
            },
            "description": "OK. The operation was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ApplicationPasswordCredentials"
        ],
        "x-ms-pageable": {
          "nextLinkName": {
            "$ref": "#/paths/~1{tenantID}~1domains/get/x-ms-pageable/nextLinkName"
          }
        }
      },
      "patch": {
        "description": "Update passwordCredentials associated with an application.",
        "operationId": "Applications_UpdatePasswordCredentials",
        "parameters": [
          {
            "description": "Application object ID.",
            "in": "path",
            "name": "applicationObjectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordCredentialsUpdateParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordCredentialsUpdateParameters"
              }
            }
          },
          "description": "Parameters to update passwordCredentials of an existing application.",
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ApplicationPasswordCredentials"
        ]
      }
    },
    "/{tenantID}/deletedApplications": {
      "get": {
        "description": "Gets a list of deleted applications in the directory.",
        "operationId": "DeletedApplications_List",
        "parameters": [
          {
            "description": "The filter to apply to the operation.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationListResult"
                }
              }
            },
            "description": "The applications were retrieved successfully."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "deletedApplications"
        ],
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink",
          "operationName": "DeletedApplications_ListNext"
        }
      }
    },
    "/{tenantID}/deletedApplications/{applicationObjectId}": {
      "delete": {
        "description": "Hard-delete an application.",
        "operationId": "DeletedApplications_HardDelete",
        "parameters": [
          {
            "description": "Application object ID.",
            "in": "path",
            "name": "applicationObjectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Application"
        ]
      }
    },
    "/{tenantID}/deletedApplications/{objectId}/restore": {
      "post": {
        "description": "Restores the deleted application in the directory.",
        "operationId": "DeletedApplications_Restore",
        "parameters": [
          {
            "description": "Application object ID.",
            "in": "path",
            "name": "objectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            },
            "description": "The application was restored successfully."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "deletedApplications"
        ]
      }
    },
    "/{tenantID}/domains": {
      "get": {
        "description": "Gets a list of domains for the current tenant.",
        "operationId": "Domains_List",
        "parameters": [
          {
            "description": "The filter to apply to the operation.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainListResult"
                }
              }
            },
            "description": "OK. The operation was successful."
          }
        },
        "tags": [
          "Domain"
        ],
        "x-ms-odata": "#/components/schemas/User",
        "x-ms-pageable": {
          "nextLinkName": {}
        }
      }
    },
    "/{tenantID}/domains/{domainName}": {
      "get": {
        "description": "Gets a specific domain in the current tenant.",
        "operationId": "Domains_Get",
        "parameters": [
          {
            "description": "name of the domain.",
            "in": "path",
            "name": "domainName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            },
            "description": "OK. The operation was successful."
          }
        },
        "tags": [
          "Domain"
        ]
      }
    },
    "/{tenantID}/getObjectsByObjectIds": {
      "post": {
        "description": "Gets the directory objects specified in a list of object IDs. You can also specify which resource collections (users, groups, etc.) should be searched by specifying the optional types parameter.",
        "operationId": "Objects_GetObjectsByObjectIds",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetObjectsParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetObjectsParameters"
              }
            }
          },
          "description": "Objects filtering parameters.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryObjectListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryObjectListResult"
                }
              }
            },
            "description": "OK. The operation was successful."
          }
        },
        "tags": [
          "Objects"
        ],
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink",
          "operationName": "Objects_GetObjectsByObjectIdsNext"
        }
      }
    },
    "/{tenantID}/groups": {
      "get": {
        "description": "Gets list of groups for the current tenant.",
        "operationId": "Groups_List",
        "parameters": [
          {
            "description": "The filter to apply to the operation.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupListResult"
                }
              }
            },
            "description": "OK. The operation was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Group"
        ],
        "x-ms-odata": "#/components/schemas/ADGroup",
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink",
          "operationName": "Groups_ListNext"
        }
      },
      "post": {
        "description": "Create a group in the directory.",
        "operationId": "Groups_Create",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupCreateParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupCreateParameters"
              }
            }
          },
          "description": "The parameters for the group to create.",
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ADGroup"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ADGroup"
                }
              }
            },
            "description": "Created"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Group"
        ]
      }
    },
    "/{tenantID}/groups/{groupObjectId}/$links/members": {
      "post": {
        "description": "Add a member to a group.",
        "operationId": "Groups_AddMember",
        "parameters": [
          {
            "description": "The object ID of the group to which to add the member.",
            "in": "path",
            "name": "groupObjectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupAddMemberParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupAddMemberParameters"
              }
            }
          },
          "description": "The URL of the member object, such as https://graph.windows.net/0b1f9851-1bf0-433f-aec3-cb9272f093dc/directoryObjects/f260bbc4-c254-447b-94cf-293b5ec434dd.",
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content. Indicates success. No response body is returned."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Group"
        ]
      }
    },
    "/{tenantID}/groups/{groupObjectId}/$links/members/{memberObjectId}": {
      "delete": {
        "description": "Remove a member from a group.",
        "operationId": "Groups_RemoveMember",
        "parameters": [
          {
            "description": "The object ID of the group from which to remove the member.",
            "in": "path",
            "name": "groupObjectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Member object id",
            "in": "path",
            "name": "memberObjectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content. Indicates success. No response body is returned."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Group"
        ]
      }
    },
    "/{tenantID}/groups/{objectId}": {
      "delete": {
        "description": "Delete a group from the directory.",
        "operationId": "Groups_Delete",
        "parameters": [
          {
            "description": "The object ID of the group to delete.",
            "in": "path",
            "name": "objectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Group"
        ]
      },
      "get": {
        "description": "Gets group information from the directory.",
        "operationId": "Groups_Get",
        "parameters": [
          {
            "description": "The object ID of the user for which to get group information.",
            "in": "path",
            "name": "objectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ADGroup"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ADGroup"
                }
              }
            },
            "description": "OK. The operation was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Group"
        ]
      }
    },
    "/{tenantID}/groups/{objectId}/$links/owners": {
      "post": {
        "description": "Add an owner to a group.",
        "operationId": "Groups_AddOwner",
        "parameters": [
          {
            "description": "The object ID of the application to which to add the owner.",
            "in": "path",
            "name": "objectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/AddOwnerParameters"
        },
        "responses": {
          "204": {
            "description": "No Content. Indicates success. No response body is returned."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "GroupsOwners"
        ]
      }
    },
    "/{tenantID}/groups/{objectId}/$links/owners/{ownerObjectId}": {
      "delete": {
        "description": "Remove a member from owners.",
        "operationId": "Groups_RemoveOwner",
        "parameters": [
          {
            "description": "The object ID of the group from which to remove the owner.",
            "in": "path",
            "name": "objectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Owner object id",
            "in": "path",
            "name": "ownerObjectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content. Indicates success. No response body is returned."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "GroupsOwners"
        ]
      }
    },
    "/{tenantID}/groups/{objectId}/getMemberGroups": {
      "post": {
        "description": "Gets a collection of object IDs of groups of which the specified group is a member.",
        "operationId": "Groups_GetMemberGroups",
        "parameters": [
          {
            "description": "The object ID of the group for which to get group membership.",
            "in": "path",
            "name": "objectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupGetMemberGroupsParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupGetMemberGroupsParameters"
              }
            }
          },
          "description": "Group filtering parameters.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupGetMemberGroupsResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupGetMemberGroupsResult"
                }
              }
            },
            "description": "OK. The operation was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Group"
        ],
        "x-ms-pageable": {
          "nextLinkName": {
            "$ref": "#/paths/~1{tenantID}~1domains/get/x-ms-pageable/nextLinkName"
          }
        }
      }
    },
    "/{tenantID}/groups/{objectId}/members": {
      "get": {
        "description": "Gets the members of a group.",
        "operationId": "Groups_GetGroupMembers",
        "parameters": [
          {
            "description": "The object ID of the group whose members should be retrieved.",
            "in": "path",
            "name": "objectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryObjectListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryObjectListResult"
                }
              }
            },
            "description": "OK. The operation was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Group"
        ],
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink",
          "operationName": "Groups_GetGroupMembersNext"
        }
      }
    },
    "/{tenantID}/groups/{objectId}/owners": {
      "get": {
        "description": "The owners are a set of non-admin users who are allowed to modify this object.",
        "operationId": "Groups_ListOwners",
        "parameters": [
          {
            "description": "The object ID of the group for which to get owners.",
            "in": "path",
            "name": "objectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryObjectListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryObjectListResult"
                }
              }
            },
            "description": "OK. The operation was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "summary": "Directory objects that are owners of the group.",
        "tags": [
          "GroupOwners"
        ],
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink"
        }
      }
    },
    "/{tenantID}/isMemberOf": {
      "post": {
        "description": "Checks whether the specified user, group, contact, or service principal is a direct or transitive member of the specified group.",
        "operationId": "Groups_IsMemberOf",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckGroupMembershipParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckGroupMembershipParameters"
              }
            }
          },
          "description": "The check group membership parameters.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckGroupMembershipResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckGroupMembershipResult"
                }
              }
            },
            "description": "OK. Indicates success. Returns true if the user, contact, group, or service principal is a direct or a transitive member of the specified group; otherwise, false."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "Group"
        ]
      }
    },
    "/{tenantID}/me": {
      "get": {
        "description": "Gets the details for the currently logged-in user.",
        "operationId": "SignedInUser_Get",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "OK. The operation was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "SignedInUser"
        ]
      }
    },
    "/{tenantID}/me/ownedObjects": {
      "get": {
        "description": "Get the list of directory objects that are owned by the user.",
        "operationId": "SignedInUser_ListOwnedObjects",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryObjectListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryObjectListResult"
                }
              }
            },
            "description": "OK. The operation was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "SignedInUser"
        ],
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink",
          "operationName": "SignedInUser_ListOwnedObjectsNext"
        }
      }
    },
    "/{tenantID}/oauth2PermissionGrants": {
      "get": {
        "description": "Queries OAuth2 permissions grants for the relevant SP ObjectId of an app.",
        "operationId": "OAuth2PermissionGrant_List",
        "parameters": [
          {
            "description": "This is the Service Principal ObjectId associated with the app",
            "example": "clientId+eq+'61ed44c3-5a1d-4639-a215-07f25129c6c3",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2PermissionGrantListResult"
                }
              }
            },
            "description": "OK. The operation was successful."
          }
        },
        "tags": [
          "OAuth2PermissionGrant_List"
        ],
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink",
          "operationName": "OAuth2PermissionGrant_ListNext"
        }
      },
      "post": {
        "description": "Grants OAuth2 permissions for the relevant resource Ids of an app.",
        "operationId": "OAuth2PermissionGrant_Create",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OAuth2PermissionGrant"
              }
            }
          },
          "description": "The relevant app Service Principal Object Id and the Service Principal Object Id you want to grant.",
          "x-examples": {
            "application/json": "{\n\t\"odata.type\": \"Microsoft.DirectoryServices.OAuth2PermissionGrant\",\n\t\"clientId\": \"39afbaa2-4a5c-4f5b-9ee3-2c83f09bbc87\", \n\t\"consentType\": \"AllPrincipals\",\n\t\"principalId\": null,\n\t\"resourceId\": \"d3247842-c517-4520-80a7-332690ae2fe4\",\n\t\"scope\": \"user_impersonation\",\n    \"startTime\": \"0001-01-01T00:00:00\",\n    \"expiryTime\": \"9000-01-01T00:00:00\"\n}",
            "description": "These are the values required to grant permission to a resourceId for an app, only one operation is allowed per request"
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2PermissionGrant"
                }
              }
            },
            "description": "OK. The operation was successful."
          }
        },
        "tags": [
          "OAuth2PermissionGrant_Create"
        ]
      }
    },
    "/{tenantID}/oauth2PermissionGrants/{objectId}": {
      "delete": {
        "description": "Delete a OAuth2 permission grant for the relevant resource Ids of an app.",
        "operationId": "OAuth2PermissionGrant_Delete",
        "parameters": [
          {
            "description": "The object ID of a permission grant.",
            "in": "path",
            "name": "objectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "OAuth2PermissionGrant_delete"
        ]
      }
    },
    "/{tenantID}/servicePrincipals": {
      "get": {
        "description": "Gets a list of service principals from the current tenant.",
        "operationId": "ServicePrincipals_List",
        "parameters": [
          {
            "description": "The filter to apply to the operation.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServicePrincipalListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServicePrincipalListResult"
                }
              }
            },
            "description": "OK. The operation was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ServicePrincipal"
        ],
        "x-ms-odata": "#/components/schemas/ServicePrincipal",
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink",
          "operationName": "ServicePrincipals_ListNext"
        }
      },
      "post": {
        "description": "Creates a service principal in the directory.",
        "operationId": "ServicePrincipals_Create",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServicePrincipalCreateParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ServicePrincipalCreateParameters"
              }
            }
          },
          "description": "Parameters to create a service principal.",
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServicePrincipal"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServicePrincipal"
                }
              }
            },
            "description": "The service principal was created successfully."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ServicePrincipal"
        ]
      }
    },
    "/{tenantID}/servicePrincipals/{objectId}": {
      "delete": {
        "description": "Deletes a service principal from the directory.",
        "operationId": "ServicePrincipals_Delete",
        "parameters": [
          {
            "description": "The object ID of the service principal to delete.",
            "in": "path",
            "name": "objectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ServicePrincipal"
        ]
      },
      "get": {
        "description": "Gets service principal information from the directory. Query by objectId or pass a filter to query by appId",
        "operationId": "ServicePrincipals_Get",
        "parameters": [
          {
            "description": "The object ID of the service principal to get.",
            "in": "path",
            "name": "objectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServicePrincipal"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServicePrincipal"
                }
              }
            },
            "description": "OK. The operation was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ServicePrincipal"
        ]
      },
      "patch": {
        "description": "Updates a service principal in the directory.",
        "operationId": "ServicePrincipals_Update",
        "parameters": [
          {
            "description": "The object ID of the service principal to delete.",
            "in": "path",
            "name": "objectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServicePrincipalUpdateParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ServicePrincipalUpdateParameters"
              }
            }
          },
          "description": "Parameters to update a service principal.",
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ServicePrincipal"
        ]
      }
    },
    "/{tenantID}/servicePrincipals/{objectId}/$links/owners": {
      "post": {
        "description": "Add an owner to a service principal.",
        "operationId": "ServicePrincipals_AddOwner",
        "parameters": [
          {
            "description": "The object ID of the service principal to which to add the owner.",
            "in": "path",
            "name": "objectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/AddOwnerParameters"
        },
        "responses": {
          "204": {
            "description": "No Content. Indicates success. No response body is returned."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ServicePrincipalOwners"
        ]
      }
    },
    "/{tenantID}/servicePrincipals/{objectId}/$links/owners/{ownerObjectId}": {
      "delete": {
        "description": "Remove a member from owners.",
        "operationId": "ServicePrincipals_RemoveOwner",
        "parameters": [
          {
            "description": "The object ID of the service principal from which to remove the owner.",
            "in": "path",
            "name": "objectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Owner object id",
            "in": "path",
            "name": "ownerObjectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content. Indicates success. No response body is returned."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ServicePrincipalOwners"
        ]
      }
    },
    "/{tenantID}/servicePrincipals/{objectId}/appRoleAssignedTo": {
      "get": {
        "operationId": "ServicePrincipals_ListAppRoleAssignedTo",
        "parameters": [
          {
            "description": "The object ID of the service principal for which to get owners.",
            "in": "path",
            "name": "objectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppRoleAssignmentListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppRoleAssignmentListResult"
                }
              }
            },
            "description": "OK. The operation was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "summary": "Principals (users, groups, and service principals) that are assigned to this service principal.",
        "tags": [
          "ServicePrincipalAppRoleAssignedTo"
        ],
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink"
        }
      }
    },
    "/{tenantID}/servicePrincipals/{objectId}/appRoleAssignments": {
      "get": {
        "operationId": "ServicePrincipals_ListAppRoleAssignments",
        "parameters": [
          {
            "description": "The object ID of the service principal for which to get owners.",
            "in": "path",
            "name": "objectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppRoleAssignmentListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppRoleAssignmentListResult"
                }
              }
            },
            "description": "OK. The operation was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "summary": "Applications that the service principal is assigned to.",
        "tags": [
          "ServicePrincipalAppRoleAssignments"
        ],
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink"
        }
      }
    },
    "/{tenantID}/servicePrincipals/{objectId}/keyCredentials": {
      "get": {
        "description": "Get the keyCredentials associated with the specified service principal.",
        "operationId": "ServicePrincipals_ListKeyCredentials",
        "parameters": [
          {
            "description": "The object ID of the service principal for which to get keyCredentials.",
            "in": "path",
            "name": "objectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyCredentialListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeyCredentialListResult"
                }
              }
            },
            "description": "OK. The operation was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ServicePrincipalKeyCredentials"
        ],
        "x-ms-pageable": {
          "nextLinkName": {
            "$ref": "#/paths/~1{tenantID}~1domains/get/x-ms-pageable/nextLinkName"
          }
        }
      },
      "patch": {
        "description": "Update the keyCredentials associated with a service principal.",
        "operationId": "ServicePrincipals_UpdateKeyCredentials",
        "parameters": [
          {
            "description": "The object ID for which to get service principal information.",
            "in": "path",
            "name": "objectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyCredentialsUpdateParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/KeyCredentialsUpdateParameters"
              }
            }
          },
          "description": "Parameters to update the keyCredentials of an existing service principal.",
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ServicePrincipalKeyCredentials"
        ]
      }
    },
    "/{tenantID}/servicePrincipals/{objectId}/owners": {
      "get": {
        "description": "The owners are a set of non-admin users who are allowed to modify this object.",
        "operationId": "ServicePrincipals_ListOwners",
        "parameters": [
          {
            "description": "The object ID of the service principal for which to get owners.",
            "in": "path",
            "name": "objectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryObjectListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DirectoryObjectListResult"
                }
              }
            },
            "description": "OK. The operation was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "summary": "Directory objects that are owners of this service principal.",
        "tags": [
          "ServicePrincipalOwners"
        ],
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink"
        }
      }
    },
    "/{tenantID}/servicePrincipals/{objectId}/passwordCredentials": {
      "get": {
        "description": "Gets the passwordCredentials associated with a service principal.",
        "operationId": "ServicePrincipals_ListPasswordCredentials",
        "parameters": [
          {
            "description": "The object ID of the service principal.",
            "in": "path",
            "name": "objectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PasswordCredentialListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PasswordCredentialListResult"
                }
              }
            },
            "description": "OK. The operation was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ServicePrincipalPasswordCredentials"
        ],
        "x-ms-pageable": {
          "nextLinkName": {
            "$ref": "#/paths/~1{tenantID}~1domains/get/x-ms-pageable/nextLinkName"
          }
        }
      },
      "patch": {
        "description": "Updates the passwordCredentials associated with a service principal.",
        "operationId": "ServicePrincipals_UpdatePasswordCredentials",
        "parameters": [
          {
            "description": "The object ID of the service principal.",
            "in": "path",
            "name": "objectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordCredentialsUpdateParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordCredentialsUpdateParameters"
              }
            }
          },
          "description": "Parameters to update the passwordCredentials of an existing service principal.",
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ServicePrincipalPasswordCredentials"
        ]
      }
    },
    "/{tenantID}/servicePrincipalsByAppId/{applicationID}/objectId": {
      "get": {
        "description": "Gets an object id for a given application id from the current tenant.",
        "operationId": "Applications_GetServicePrincipalsIdByAppId",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          },
          {
            "description": "The application ID.",
            "in": "path",
            "name": "applicationID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServicePrincipalObjectResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServicePrincipalObjectResult"
                }
              }
            },
            "description": "OK. The operation was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "ServicePrincipalsByAppId"
        ]
      }
    },
    "/{tenantID}/users": {
      "get": {
        "description": "Gets list of users for the current tenant.",
        "operationId": "Users_List",
        "parameters": [
          {
            "description": "The filter to apply to the operation.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The expand value for the operation result.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserListResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserListResult"
                }
              }
            },
            "description": "OK. The operation was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "User"
        ],
        "x-ms-odata": "#/components/schemas/User",
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink",
          "operationName": "Users_ListNext"
        }
      },
      "post": {
        "description": "Create a new user.",
        "operationId": "Users_Create",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserCreateParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UserCreateParameters"
              }
            }
          },
          "description": "Parameters to create a user.",
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "Created. Indicates success. The new user is returned in the response body."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "User"
        ]
      }
    },
    "/{tenantID}/users/{objectId}/getMemberGroups": {
      "post": {
        "description": "Gets a collection that contains the object IDs of the groups of which the user is a member.",
        "operationId": "Users_GetMemberGroups",
        "parameters": [
          {
            "description": "The object ID of the user for which to get group membership.",
            "in": "path",
            "name": "objectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserGetMemberGroupsParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UserGetMemberGroupsParameters"
              }
            }
          },
          "description": "User filtering parameters.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserGetMemberGroupsResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserGetMemberGroupsResult"
                }
              }
            },
            "description": "OK. The operation was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "User"
        ],
        "x-ms-pageable": {
          "nextLinkName": {
            "$ref": "#/paths/~1{tenantID}~1domains/get/x-ms-pageable/nextLinkName"
          }
        }
      }
    },
    "/{tenantID}/users/{upnOrObjectId}": {
      "delete": {
        "description": "Delete a user.",
        "operationId": "Users_Delete",
        "parameters": [
          {
            "description": "The object ID or principal name of the user to delete.",
            "in": "path",
            "name": "upnOrObjectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "User"
        ]
      },
      "get": {
        "description": "Gets user information from the directory.",
        "operationId": "Users_Get",
        "parameters": [
          {
            "description": "The object ID or principal name of the user for which to get information.",
            "in": "path",
            "name": "upnOrObjectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "OK. The operation was successful."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "User"
        ]
      },
      "patch": {
        "description": "Updates a user.",
        "operationId": "Users_Update",
        "parameters": [
          {
            "description": "The object ID or principal name of the user to update.",
            "in": "path",
            "name": "upnOrObjectId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/components/parameters/tenantIDInPath"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdateParameters"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdateParameters"
              }
            }
          },
          "description": "Parameters to update an existing user.",
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GraphError"
                }
              }
            },
            "description": "Error response describing why the operation failed."
          }
        },
        "tags": [
          "User"
        ]
      }
    }
  },
  "components": {
    "parameters": {
      "ApiVersionParameter": {
        "description": "Client API version.",
        "in": "query",
        "name": "api-version",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "tenantIDInPath": {
        "description": "The tenant ID.",
        "in": "path",
        "name": "tenantID",
        "required": true,
        "schema": {
          "type": "string"
        },
        "x-ms-parameter-location": "client"
      },
      "top": {
        "description": "(Optional) Set the maximum number of results per response.",
        "in": "query",
        "name": "$top",
        "required": false,
        "schema": {
          "default": 100,
          "maximum": 999,
          "minimum": 1,
          "type": "integer"
        },
        "x-ms-parameter-location": "method"
      }
    },
    "requestBodies": {
      "AddOwnerParameters": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AddOwnerParameters"
            }
          },
          "text/json": {
            "schema": {
              "$ref": "#/components/schemas/AddOwnerParameters"
            }
          }
        },
        "description": "The URL of the owner object, such as https://graph.windows.net/0b1f9851-1bf0-433f-aec3-cb9272f093dc/directoryObjects/f260bbc4-c254-447b-94cf-293b5ec434dd.",
        "required": true
      }
    },
    "schemas": {
      "ADGroup": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DirectoryObject"
          }
        ],
        "description": "Active Directory group information.",
        "properties": {
          "displayName": {
            "description": "The display name of the group.",
            "type": "string"
          },
          "mail": {
            "description": "The primary email address of the group.",
            "type": "string"
          },
          "mailEnabled": {
            "description": "Whether the group is mail-enabled. Must be false. This is because only pure security groups can be created using the Graph API.",
            "type": "boolean"
          },
          "mailNickname": {
            "description": "The mail alias for the group. ",
            "type": "string"
          },
          "securityEnabled": {
            "description": "Whether the group is security-enable.",
            "type": "boolean"
          }
        },
        "type": "object",
        "x-ms-discriminator-value": "Group"
      },
      "AddOwnerParameters": {
        "additionalProperties": {
          "type": "object"
        },
        "description": "Request parameters for adding a owner to an application.",
        "properties": {
          "url": {
            "description": "A owner object URL, such as \"https://graph.windows.net/0b1f9851-1bf0-433f-aec3-cb9272f093dc/directoryObjects/f260bbc4-c254-447b-94cf-293b5ec434dd\", where \"0b1f9851-1bf0-433f-aec3-cb9272f093dc\" is the tenantId and \"f260bbc4-c254-447b-94cf-293b5ec434dd\" is the objectId of the owner (user, application, servicePrincipal, group) to be added.",
[...]
