swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: StreamAnalyticsManagementClient
  version: 2016-03-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/stable/2016-03-01/streamingjobs.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: streamanalytics-streamingjobs
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  ResourceGroupNameParameter:
    description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  StreamingJobNameParameter:
    description: The name of the streaming job.
    in: path
    name: jobName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.StreamAnalytics/operations:
    get:
      description: Lists all of the available Stream Analytics related operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully listed the available operations.
          schema:
            $ref: "#/definitions/OperationListResult"
      tags:
        - Operations
      x-ms-examples:
        List available operations for the Stream Analytics resource provider:
          parameters:
            api-version: 2016-03-01
          responses:
            "200":
              body:
                value:
                  - display:
                      description: Start Stream Analytics Job
                      operation: Start Stream Analytics Job
                      provider: Microsoft Azure Stream Analytics
                      resource: Stream Analytics Job
                    name: Microsoft.StreamAnalytics/streamingjobs/Start/action
                  - display:
                      description: Stop Stream Analytics Job
                      operation: Stop Stream Analytics Job
                      provider: Microsoft Azure Stream Analytics
                      resource: Stream Analytics Job
                    name: Microsoft.StreamAnalytics/streamingjobs/Stop/action
                  - display:
                      description: Read Stream Analytics Job
                      operation: Read Stream Analytics Job
                      provider: Microsoft Azure Stream Analytics
                      resource: Stream Analytics Job
                    name: Microsoft.StreamAnalytics/streamingjobs/Read
                  - display:
                      description: Write Stream Analytics Job
                      operation: Write Stream Analytics Job
                      provider: Microsoft Azure Stream Analytics
                      resource: Stream Analytics Job
                    name: Microsoft.StreamAnalytics/streamingjobs/Write
                  - display:
                      description: Delete Stream Analytics Job
                      operation: Delete Stream Analytics Job
                      provider: Microsoft Azure Stream Analytics
                      resource: Stream Analytics Job
                    name: Microsoft.StreamAnalytics/streamingjobs/Delete
                  - display:
                      description: Read Stream Analytics Job Input
                      operation: Read Stream Analytics Job Input
                      provider: Microsoft Azure Stream Analytics
                      resource: Stream Analytics Job Input
                    name: Microsoft.StreamAnalytics/streamingjobs/inputs/Read
                  - display:
                      description: Write Stream Analytics Job Input
                      operation: Write Stream Analytics Job Input
                      provider: Microsoft Azure Stream Analytics
                      resource: Stream Analytics Job Input
                    name: Microsoft.StreamAnalytics/streamingjobs/inputs/Write
                  - display:
                      description: Delete Stream Analytics Job Input
                      operation: Delete Stream Analytics Job Input
                      provider: Microsoft Azure Stream Analytics
                      resource: Stream Analytics Job Input
                    name: Microsoft.StreamAnalytics/streamingjobs/inputs/Delete
                  - display:
                      description: Read Stream Analytics Job Output
                      operation: Read Stream Analytics Job Output
                      provider: Microsoft Azure Stream Analytics
                      resource: Stream Analytics Job Output
                    name: Microsoft.StreamAnalytics/streamingjobs/outputs/Read
                  - display:
                      description: Write Stream Analytics Job Output
                      operation: Write Stream Analytics Job Output
                      provider: Microsoft Azure Stream Analytics
                      resource: Stream Analytics Job Output
                    name: Microsoft.StreamAnalytics/streamingjobs/outputs/Write
                  - display:
                      description: Delete Stream Analytics Job Output
                      operation: Delete Stream Analytics Job Output
                      provider: Microsoft Azure Stream Analytics
                      resource: Stream Analytics Job Output
                    name: Microsoft.StreamAnalytics/streamingjobs/outputs/Delete
                  - display:
                      description: Read Stream Analytics Job Transformation
                      operation: Read Stream Analytics Job Transformation
                      provider: Microsoft Azure Stream Analytics
                      resource: Stream Analytics Job Transformation
                    name: Microsoft.StreamAnalytics/streamingjobs/transformations/Read
                  - display:
                      description: Write Stream Analytics Job Transformation
                      operation: Write Stream Analytics Job Transformation
                      provider: Microsoft Azure Stream Analytics
                      resource: Stream Analytics Job Transformation
                    name: Microsoft.StreamAnalytics/streamingjobs/transformations/Write
                  - display:
                      description: Delete Stream Analytics Job Transformation
                      operation: Delete Stream Analytics Job Transformation
                      provider: Microsoft Azure Stream Analytics
                      resource: Stream Analytics Job Transformation
                    name: Microsoft.StreamAnalytics/streamingjobs/transformations/Delete
                  - display:
                      description: Gets the available metrics for streamingjobs
                      operation: Read streamingjobs metric definitions
                      provider: Microsoft Azure Stream Analytics
                      resource: The metric definition of streamingjobs
                    name: Microsoft.StreamAnalytics/streamingjobs/providers/Microsoft.Insights/metricDefinitions/read
                  - display:
                      description: Gets the available logs for streamingjobs
                      operation: Read streamingjobs log definitions
                      provider: Microsoft Azure Stream Analytics
                      resource: The log definition of streamingjobs
                    name: Microsoft.StreamAnalytics/streamingjobs/providers/Microsoft.Insights/logDefinitions/read
                  - display:
                      description: Read diagnostic setting.
                      operation: Read diagnostic setting.
                      provider: Microsoft Azure Stream Analytics
                      resource: streamingjobs
                    name: Microsoft.StreamAnalytics/streamingjobs/providers/Microsoft.Insights/diagnosticSettings/read
                  - display:
                      description: Write diagnostic setting.
                      operation: Write diagnostic setting.
                      provider: Microsoft Azure Stream Analytics
                      resource: streamingjobs
                    name: Microsoft.StreamAnalytics/streamingjobs/providers/Microsoft.Insights/diagnosticSettings/write
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.StreamAnalytics/streamingjobs":
    get:
      description: Lists all of the streaming jobs in the given subscription.
      operationId: StreamingJobs_List
      parameters:
        - description: The $expand OData query parameter. This is a comma-separated list of additional streaming job properties to include in the response, beyond the default set returned when this parameter is absent. The default set is all streaming job properties other than 'inputs', 'transformation', 'outputs', and 'functions'.
          in: query
          name: $expand
          required: false
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Successfully listed the streaming jobs under the given subscription.
          schema:
            $ref: "#/definitions/StreamingJobListResult"
      tags:
        - StreamingJobs
      x-ms-examples:
        List all streaming jobs in a subscription and do not use the $expand OData query parameter:
          parameters:
            api-version: 2016-03-01
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg6936/providers/Microsoft.StreamAnalytics/streamingjobs/sj59
                    location: West US
                    name: sj59
                    properties:
                      compatibilityLevel: "1.0"
                      createdDate: 2017-05-11T04:37:04.697Z
                      dataLocale: en-US
                      etag: 3e6872bc-c9d0-45b6-91b6-da66f1773056
                      eventsLateArrivalMaxDelayInSeconds: 13
                      eventsOutOfOrderMaxDelayInSeconds: 21
                      eventsOutOfOrderPolicy: Drop
                      jobId: d53ecc3c-fcb0-485d-9caf-25e20fcb2061
                      jobState: Created
                      outputErrorPolicy: Drop
                      provisioningState: Succeeded
                      sku:
                        name: Standard
                    tags:
                      key1: value1
                      key3: value3
                      randomKey: randomValue
                    type: Microsoft.StreamAnalytics/streamingjobs
                  - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg6936/providers/Microsoft.StreamAnalytics/streamingjobs/sj69
                    location: West US
                    name: sj69
                    properties:
                      compatibilityLevel: "1.0"
                      createdDate: 2017-05-11T04:38:04.697Z
                      dataLocale: en-US
                      etag: 99538949-a164-4e2f-a991-40303e86024f
                      eventsLateArrivalMaxDelayInSeconds: 6
                      eventsOutOfOrderMaxDelayInSeconds: 5
                      eventsOutOfOrderPolicy: Drop
                      jobId: 817b36cf-a161-4a9e-86f2-eb00b3566d88
                      jobState: Created
                      outputErrorPolicy: Drop
                      provisioningState: Succeeded
                      sku:
                        name: Standard
                    tags:
                      key1: value1
                      key3: value3
                      randomKey: randomValue
                    type: Microsoft.StreamAnalytics/streamingjobs
        "List all streaming jobs in a subscription and use the $expand OData query parameter to expand inputs, outputs, transformation, and functions":
          parameters:
            $expand: inputs,outputs,transformation,functions
            api-version: 2016-03-01
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3276/providers/Microsoft.StreamAnalytics/streamingjobs/sj7804
                    location: West US
                    name: sj7804
                    properties:
                      compatibilityLevel: "1.0"
                      createdDate: 2017-05-11T04:37:11.54Z
                      dataLocale: en-US
                      etag: 8081b2a3-dfe6-457f-8740-1a22d209bf8a
                      eventsLateArrivalMaxDelayInSeconds: 5
                      eventsOutOfOrderMaxDelayInSeconds: 0
                      eventsOutOfOrderPolicy: Adjust
                      functions: []
                      inputs:
                        - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3276/providers/Microsoft.StreamAnalytics/streamingjobs/sj7804/inputs/inputtest
                          name: inputtest
                          properties:
                            datasource:
                              properties:
                                container: containerName
                                pathPattern: ""
                                storageAccounts:
                                  - accountName: accountName
                              type: Microsoft.Storage/Blob
                            etag: ca88f8fa-605b-4c7f-8695-46f5faa60cd0
                            serialization:
                              properties:
                                encoding: UTF8
                              type: Json
                            type: Stream
                          type: Microsoft.StreamAnalytics/streamingjobs/inputs
                      jobId: 732e4b1d-94a7-43ae-8297-3ad04f1540b9
                      jobState: Created
                      outputErrorPolicy: Stop
                      outputs:
                        - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3276/providers/Microsoft.StreamAnalytics/streamingjobs/sj7804/outputs/outputtest
                          name: outputtest
                          properties:
                            datasource:
                              properties:
                                database: databaseName
                                server: serverName
                                table: tableName
                                user: userName
                              type: Microsoft.Sql/Server/Database
                            etag: 62097c3c-b503-41ff-a56f-196a9598ab90
                          type: Microsoft.StreamAnalytics/streamingjobs/outputs
                      provisioningState: Succeeded
                      sku:
                        name: Standard
                      transformation:
                        id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3276/providers/Microsoft.StreamAnalytics/streamingjobs/sj7804/transformations/transformationtest
                        name: transformationtest
                        properties:
                          etag: 91d8fcbe-60b3-49c3-9f21-9942b95602b8
                          query: Select Id, Name from inputtest
                          streamingUnits: 1
                        type: Microsoft.StreamAnalytics/streamingjobs/transformations
                    tags:
                      key1: value1
                      key3: value3
                      randomKey: randomValue
                    type: Microsoft.StreamAnalytics/streamingjobs
                  - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3276/providers/Microsoft.StreamAnalytics/streamingjobs/sj7805
                    location: West US
                    name: sj7805
                    properties:
                      compatibilityLevel: "1.0"
                      createdDate: 2017-05-11T04:38:11.54Z
                      dataLocale: en-US
                      etag: 5420059f-e5d7-47d4-be44-40816a4dca7e
                      eventsLateArrivalMaxDelayInSeconds: 5
                      eventsOutOfOrderMaxDelayInSeconds: 0
                      eventsOutOfOrderPolicy: Adjust
                      functions: []
                      inputs:
                        - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3276/providers/Microsoft.StreamAnalytics/streamingjobs/sj7805/inputs/inputtest
                          name: inputtest
                          properties:
                            datasource:
                              properties:
                                container: containerName
                                pathPattern: ""
                                storageAccounts:
                                  - accountName: accountName
                              type: Microsoft.Storage/Blob
                            etag: 45dcf40f-88bb-4776-b5ca-7b10a607cb59
                            serialization:
                              properties:
                                encoding: UTF8
                              type: Json
                            type: Stream
                          type: Microsoft.StreamAnalytics/streamingjobs/inputs
                      jobId: d8f4041a-0793-433e-a38d-5499d5332113
                      jobState: Created
                      outputErrorPolicy: Stop
                      outputs:
                        - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3276/providers/Microsoft.StreamAnalytics/streamingjobs/sj7805/outputs/outputtest
                          name: outputtest
                          properties:
                            datasource:
                              properties:
                                database: databaseName
                                server: serverName
                                table: tableName
                                user: userName
                              type: Microsoft.Sql/Server/Database
                            etag: b09606c8-1b0d-43c9-affb-fac0e18b9481
                          type: Microsoft.StreamAnalytics/streamingjobs/outputs
                      provisioningState: Succeeded
                      sku:
                        name: Standard
                      transformation:
                        id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3276/providers/Microsoft.StreamAnalytics/streamingjobs/sj7805/transformations/transformationtest
                        name: transformationtest
                        properties:
                          etag: 288d95c0-204b-4c54-828f-f57aa6896b2a
                          query: Select Id, Name from inputtest
                          streamingUnits: 1
                        type: Microsoft.StreamAnalytics/streamingjobs/transformations
                    tags:
                      key1: value1
                      key3: value3
                      randomKey: randomValue
                    type: Microsoft.StreamAnalytics/streamingjobs
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs":
    get:
      description: Lists all of the streaming jobs in the specified resource group.
      operationId: StreamingJobs_ListByResourceGroup
      parameters:
        - description: The $expand OData query parameter. This is a comma-separated list of additional streaming job properties to include in the response, beyond the default set returned when this parameter is absent. The default set is all streaming job properties other than 'inputs', 'transformation', 'outputs', and 'functions'.
          in: query
          name: $expand
          required: false
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
      responses:
        "200":
          description: Successfully listed the streaming jobs under the specified resource group.
          schema:
            $ref: "#/definitions/StreamingJobListResult"
      tags:
        - StreamingJobs
      x-ms-examples:
        List all streaming jobs in a resource group and do not use the $expand OData query parameter:
          parameters:
            api-version: 2016-03-01
            resourceGroupName: sjrg6936
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg6936/providers/Microsoft.StreamAnalytics/streamingjobs/sj59
                    location: West US
                    name: sj59
                    properties:
                      compatibilityLevel: "1.0"
                      createdDate: 2017-05-11T04:37:04.697Z
                      dataLocale: en-US
                      etag: 3e6872bc-c9d0-45b6-91b6-da66f1773056
                      eventsLateArrivalMaxDelayInSeconds: 13
                      eventsOutOfOrderMaxDelayInSeconds: 21
                      eventsOutOfOrderPolicy: Drop
                      jobId: d53ecc3c-fcb0-485d-9caf-25e20fcb2061
                      jobState: Created
                      outputErrorPolicy: Drop
                      provisioningState: Succeeded
                      sku:
                        name: Standard
                    tags:
                      key1: value1
                      key3: value3
                      randomKey: randomValue
                    type: Microsoft.StreamAnalytics/streamingjobs
                  - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg6936/providers/Microsoft.StreamAnalytics/streamingjobs/sj69
                    location: West US
                    name: sj69
                    properties:
                      compatibilityLevel: "1.0"
                      createdDate: 2017-05-11T04:38:04.697Z
                      dataLocale: en-US
                      etag: 99538949-a164-4e2f-a991-40303e86024f
                      eventsLateArrivalMaxDelayInSeconds: 6
                      eventsOutOfOrderMaxDelayInSeconds: 5
                      eventsOutOfOrderPolicy: Drop
                      jobId: 817b36cf-a161-4a9e-86f2-eb00b3566d88
                      jobState: Created
                      outputErrorPolicy: Drop
                      provisioningState: Succeeded
                      sku:
                        name: Standard
                    tags:
                      key1: value1
                      key3: value3
                      randomKey: randomValue
                    type: Microsoft.StreamAnalytics/streamingjobs
        "List all streaming jobs in a resource group and use the $expand OData query parameter to expand inputs, outputs, transformation, and functions":
          parameters:
            $expand: inputs,outputs,transformation,functions
            api-version: 2016-03-01
            resourceGroupName: sjrg3276
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3276/providers/Microsoft.StreamAnalytics/streamingjobs/sj7804
                    location: West US
                    name: sj7804
                    properties:
                      compatibilityLevel: "1.0"
                      createdDate: 2017-05-11T04:37:11.54Z
                      dataLocale: en-US
                      etag: 8081b2a3-dfe6-457f-8740-1a22d209bf8a
                      eventsLateArrivalMaxDelayInSeconds: 5
                      eventsOutOfOrderMaxDelayInSeconds: 0
                      eventsOutOfOrderPolicy: Adjust
                      functions: []
                      inputs:
                        - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3276/providers/Microsoft.StreamAnalytics/streamingjobs/sj7804/inputs/inputtest
                          name: inputtest
                          properties:
                            datasource:
                              properties:
                                container: containerName
                                pathPattern: ""
                                storageAccounts:
                                  - accountName: accountName
                              type: Microsoft.Storage/Blob
                            etag: ca88f8fa-605b-4c7f-8695-46f5faa60cd0
                            serialization:
                              properties:
                                encoding: UTF8
                              type: Json
                            type: Stream
                          type: Microsoft.StreamAnalytics/streamingjobs/inputs
                      jobId: 732e4b1d-94a7-43ae-8297-3ad04f1540b9
                      jobState: Created
                      outputErrorPolicy: Stop
                      outputs:
                        - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3276/providers/Microsoft.StreamAnalytics/streamingjobs/sj7804/outputs/outputtest
                          name: outputtest
                          properties:
                            datasource:
                              properties:
                                database: databaseName
                                server: serverName
                                table: tableName
                                user: userName
                              type: Microsoft.Sql/Server/Database
                            etag: 62097c3c-b503-41ff-a56f-196a9598ab90
                          type: Microsoft.StreamAnalytics/streamingjobs/outputs
                      provisioningState: Succeeded
                      sku:
                        name: Standard
                      transformation:
                        id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3276/providers/Microsoft.StreamAnalytics/streamingjobs/sj7804/transformations/transformationtest
                        name: transformationtest
                        properties:
                          etag: 91d8fcbe-60b3-49c3-9f21-9942b95602b8
                          query: Select Id, Name from inputtest
                          streamingUnits: 1
                        type: Microsoft.StreamAnalytics/streamingjobs/transformations
                    tags:
                      key1: value1
                      key3: value3
                      randomKey: randomValue
                    type: Microsoft.StreamAnalytics/streamingjobs
                  - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3276/providers/Microsoft.StreamAnalytics/streamingjobs/sj7805
                    location: West US
                    name: sj7805
                    properties:
                      compatibilityLevel: "1.0"
                      createdDate: 2017-05-11T04:38:11.54Z
                      dataLocale: en-US
                      etag: 5420059f-e5d7-47d4-be44-40816a4dca7e
                      eventsLateArrivalMaxDelayInSeconds: 5
                      eventsOutOfOrderMaxDelayInSeconds: 0
                      eventsOutOfOrderPolicy: Adjust
                      functions: []
                      inputs:
                        - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3276/providers/Microsoft.StreamAnalytics/streamingjobs/sj7804/inputs/inputtest
                          name: inputtest
                          properties:
                            datasource:
                              properties:
                                container: containerName
                                pathPattern: ""
                                storageAccounts:
                                  - accountName: accountName
                              type: Microsoft.Storage/Blob
                            etag: 45dcf40f-88bb-4776-b5ca-7b10a607cb59
                            serialization:
                              properties:
                                encoding: UTF8
                              type: Json
                            type: Stream
                          type: Microsoft.StreamAnalytics/streamingjobs/inputs
                      jobId: d8f4041a-0793-433e-a38d-5499d5332113
                      jobState: Created
                      outputErrorPolicy: Stop
                      outputs:
                        - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3276/providers/Microsoft.StreamAnalytics/streamingjobs/sj7804/outputs/outputtest
                          name: outputtest
                          properties:
                            datasource:
                              properties:
                                database: databaseName
                                server: serverName
                                table: tableName
                                user: userName
                              type: Microsoft.Sql/Server/Database
                            etag: b09606c8-1b0d-43c9-affb-fac0e18b9481
                          type: Microsoft.StreamAnalytics/streamingjobs/outputs
                      provisioningState: Succeeded
                      sku:
                        name: Standard
                      transformation:
                        id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3276/providers/Microsoft.StreamAnalytics/streamingjobs/sj7804/transformations/transformationtest
                        name: transformationtest
                        properties:
                          etag: 288d95c0-204b-4c54-828f-f57aa6896b2a
                          query: Select Id, Name from inputtest
                          streamingUnits: 1
                        type: Microsoft.StreamAnalytics/streamingjobs/transformations
                    tags:
                      key1: value1
                      key3: value3
                      randomKey: randomValue
                    type: Microsoft.StreamAnalytics/streamingjobs
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}":
    delete:
      description: Deletes a streaming job.
      operationId: StreamingJobs_Delete
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/StreamingJobNameParameter"
      responses:
        "200":
          description: The streaming job was successfully deleted.
        "202":
          description: The delete request was successfully initiated.
        "204":
          description: The streaming job does not exist.
      tags:
        - StreamingJobs
      x-ms-examples:
        Delete a streaming job:
          parameters:
            api-version: 2016-03-01
            jobName: sj59
            resourceGroupName: sjrg6936
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets details about the specified streaming job.
      operationId: StreamingJobs_Get
      parameters:
        - description: The $expand OData query parameter. This is a comma-separated list of additional streaming job properties to include in the response, beyond the default set returned when this parameter is absent. The default set is all streaming job properties other than 'inputs', 'transformation', 'outputs', and 'functions'.
          in: query
          name: $expand
          required: false
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/StreamingJobNameParameter"
      responses:
        "200":
          description: Successfully retrieved the specified streaming job.
          headers:
            ETag:
              description: The current entity tag for the streaming job. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.
              type: string
          schema:
            $ref: "#/definitions/StreamingJob"
      tags:
        - StreamingJobs
      x-ms-examples:
        Get a streaming job and do not use the $expand OData query parameter:
          parameters:
            api-version: 2016-03-01
            jobName: sj59
            resourceGroupName: sjrg6936
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg6936/providers/Microsoft.StreamAnalytics/streamingjobs/sj59
                location: West US
                name: sj59
                properties:
                  compatibilityLevel: "1.0"
                  createdDate: 2017-05-11T04:37:04.697Z
                  dataLocale: en-US
                  eventsLateArrivalMaxDelayInSeconds: 16
                  eventsOutOfOrderMaxDelayInSeconds: 5
                  eventsOutOfOrderPolicy: Drop
                  jobId: d53ecc3c-fcb0-485d-9caf-25e20fcb2061
                  jobState: Created
                  outputErrorPolicy: Drop
                  provisioningState: Succeeded
                  sku:
                    name: Standard
                tags:
                  key1: value1
                  key3: value3
                  randomKey: randomValue
                type: Microsoft.StreamAnalytics/streamingjobs
              headers:
                ETag: 3e6872bc-c9d0-45b6-91b6-da66f1773056
        "Get a streaming job and use the $expand OData query parameter to expand inputs, outputs, transformation, and functions":
          parameters:
            $expand: inputs,outputs,transformation,functions
            api-version: 2016-03-01
            jobName: sj7804
            resourceGroupName: sjrg3276
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3276/providers/Microsoft.StreamAnalytics/streamingjobs/sj7804
                location: West US
                name: sj7804
                properties:
                  compatibilityLevel: "1.0"
                  createdDate: 2017-05-11T04:37:11.54Z
                  dataLocale: en-US
                  eventsLateArrivalMaxDelayInSeconds: 5
                  eventsOutOfOrderMaxDelayInSeconds: 0
                  eventsOutOfOrderPolicy: Drop
                  functions: []
                  inputs:
                    - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3276/providers/Microsoft.StreamAnalytics/streamingjobs/sj7804/inputs/inputtest
                      name: inputtest
                      properties:
                        datasource:
                          properties:
                            container: containerName
                            pathPattern: ""
                            storageAccounts:
                              - accountName: accountName
                          type: Microsoft.Storage/Blob
                        etag: ca88f8fa-605b-4c7f-8695-46f5faa60cd0
                        serialization:
                          properties:
                            encoding: UTF8
                          type: Json
                        type: Stream
                      type: Microsoft.StreamAnalytics/streamingjobs/inputs
                  jobId: 732e4b1d-94a7-43ae-8297-3ad04f1540b9
                  jobState: Created
                  outputErrorPolicy: Drop
                  outputs:
                    - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3276/providers/Microsoft.StreamAnalytics/streamingjobs/sj7804/outputs/outputtest
                      name: outputtest
                      properties:
                        datasource:
                          properties:
                            database: databaseName
                            server: serverName
                            table: tableName
                            user: userName
                          type: Microsoft.Sql/Server/Database
                        etag: 62097c3c-b503-41ff-a56f-196a9598ab90
                      type: Microsoft.StreamAnalytics/streamingjobs/outputs
                  provisioningState: Succeeded
                  sku:
                    name: Standard
                  transformation:
                    id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3276/providers/Microsoft.StreamAnalytics/streamingjobs/sj7804/transformations/transformationtest
                    name: transformationtest
                    properties:
                      etag: 91d8fcbe-60b3-49c3-9f21-9942b95602b8
                      query: Select Id, Name from inputtest
                      streamingUnits: 1
                    type: Microsoft.StreamAnalytics/streamingjobs/transformations
                tags:
                  key1: value1
                  key3: value3
                  randomKey: randomValue
                type: Microsoft.StreamAnalytics/streamingjobs
              headers:
                ETag: 87551cc5-1290-4d08-afcd-cdaa92e5ade0
    patch:
      description: Updates an existing streaming job. This can be used to partially update (ie. update one or two properties) a streaming job without affecting the rest the job definition.
      operationId: StreamingJobs_Update
      parameters:
        - description: A streaming job object. The properties specified here will overwrite the corresponding properties in the existing streaming job (ie. Those properties will be updated). Any properties that are set to null here will mean that the corresponding property in the existing input will remain the same and not change as a result of this PATCH operation.
          in: body
          name: streamingJob
          required: true
          schema:
            $ref: "#/definitions/StreamingJob"
        - description: The ETag of the streaming job. Omit this value to always overwrite the current record set. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.
          in: header
          name: If-Match
          required: false
          type: string
          x-ms-client-name: IfMatch
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/StreamingJobNameParameter"
      responses:
        "200":
          description: The streaming job was successfully updated.
          headers:
            ETag:
              description: The current entity tag for the streaming job. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.
              type: string
          schema:
            $ref: "#/definitions/StreamingJob"
      tags:
        - StreamingJobs
      x-ms-examples:
        Update a streaming job:
          parameters:
            api-version: 2016-03-01
            jobName: sj59
            resourceGroupName: sjrg6936
            streamingJob:
              properties:
                eventsLateArrivalMaxDelayInSeconds: 13
                eventsOutOfOrderMaxDelayInSeconds: 21
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg6936/providers/Microsoft.StreamAnalytics/streamingjobs/sj59
                location: West US
                name: sj59
                properties:
                  compatibilityLevel: "1.0"
                  createdDate: 2017-05-11T04:37:04.697Z
                  dataLocale: en-US
                  eventsLateArrivalMaxDelayInSeconds: 13
                  eventsOutOfOrderMaxDelayInSeconds: 21
                  eventsOutOfOrderPolicy: Drop
                  jobId: d53ecc3c-fcb0-485d-9caf-25e20fcb2061
                  jobState: Created
                  outputErrorPolicy: Drop
                  provisioningState: Succeeded
                  sku:
                    name: Standard
                tags:
                  key1: value1
                  key3: value3
                  randomKey: randomValue
                type: Microsoft.StreamAnalytics/streamingjobs
              headers:
                ETag: 3e6872bc-c9d0-45b6-91b6-da66f1773056
    put:
      description: Creates a streaming job or replaces an already existing streaming job.
      operationId: StreamingJobs_CreateOrReplace
      parameters:
        - description: The definition of the streaming job that will be used to create a new streaming job or replace the existing one.
          in: body
          name: streamingJob
          required: true
          schema:
            $ref: "#/definitions/StreamingJob"
        - description: The ETag of the streaming job. Omit this value to always overwrite the current record set. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.
          in: header
          name: If-Match
          required: false
          type: string
          x-ms-client-name: IfMatch
        - description: Set to '*' to allow a new streaming job to be created, but to prevent updating an existing record set. Other values will result in a 412 Pre-condition Failed response.
          in: header
          name: If-None-Match
          required: false
          type: string
          x-ms-client-name: IfNoneMatch
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/StreamingJobNameParameter"
      responses:
        "200":
          description: The streaming job was successfully created or replaced.
          headers:
            ETag:
              description: The current entity tag for the streaming job. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.
              type: string
          schema:
            $ref: "#/definitions/StreamingJob"
        "201":
          description: The streaming job was successfully created or replaced.
          headers:
            ETag:
              description: The current entity tag for the streaming job. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.
              type: string
          schema:
            $ref: "#/definitions/StreamingJob"
      tags:
        - StreamingJobs
      x-ms-examples:
        "Create a complete streaming job (a streaming job with a transformation, at least 1 input and at least 1 output)":
          parameters:
            api-version: 2016-03-01
            jobName: sj7804
            resourceGroupName: sjrg3276
            streamingJob:
              location: West US
              properties:
                compatibilityLevel: "1.0"
                dataLocale: en-US
                eventsLateArrivalMaxDelayInSeconds: 5
                eventsOutOfOrderMaxDelayInSeconds: 0
                eventsOutOfOrderPolicy: Drop
                functions: []
                inputs:
                  - name: inputtest
                    properties:
                      datasource:
                        properties:
                          container: containerName
                          pathPattern: ""
                          storageAccounts:
                            - accountKey: yourAccountKey==
                              accountName: yourAccountName
                        type: Microsoft.Storage/Blob
                      serialization:
                        properties:
                          encoding: UTF8
                        type: Json
                      type: Stream
                outputErrorPolicy: Drop
                outputs:
                  - name: outputtest
                    properties:
                      datasource:
                        properties:
                          database: databaseName
                          password: userPassword
                          server: serverName
                          table: tableName
                          user: userName
                        type: Microsoft.Sql/Server/Database
                sku:
                  name: Standard
                transformation:
                  name: transformationtest
                  properties:
                    query: Select Id, Name from inputtest
                    streamingUnits: 1
              tags:
                key1: value1
                key3: value3
                randomKey: randomValue
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3276/providers/Microsoft.StreamAnalytics/streamingjobs/sj7804
                location: West US
                name: sj7804
                properties:
                  compatibilityLevel: "1.0"
                  createdDate: 2017-05-11T04:37:11.54Z
                  dataLocale: en-US
                  eventsLateArrivalMaxDelayInSeconds: 5
                  eventsOutOfOrderMaxDelayInSeconds: 0
                  eventsOutOfOrderPolicy: Drop
                  functions: []
                  inputs:
                    - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3276/providers/Microsoft.StreamAnalytics/streamingjobs/sj7804/inputs/inputtest
                      name: inputtest
                      properties:
                        datasource:
                          properties:
                            container: containerName
                            pathPattern: ""
                            storageAccounts:
                              - accountName: accountName
                          type: Microsoft.Storage/Blob
                        etag: ca88f8fa-605b-4c7f-8695-46f5faa60cd0
                        serialization:
                          properties:
                            encoding: UTF8
                          type: Json
                        type: Stream
                      type: Microsoft.StreamAnalytics/streamingjobs/inputs
                  jobId: 732e4b1d-94a7-43ae-8297-3ad04f1540b9
                  jobState: Created
                  outputErrorPolicy: Drop
                  outputs:
                    - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3276/providers/Microsoft.StreamAnalytics/streamingjobs/sj7804/outputs/outputtest
                      name: outputtest
                      properties:
                        datasource:
                          properties:
                            database: databaseName
                            server: serverName
                            table: tableName
                            user: userName
                          type: Microsoft.Sql/Server/Database
                        etag: 62097c3c-b503-41ff-a56f-196a9598ab90
                      type: Microsoft.StreamAnalytics/streamingjobs/outputs
                  provisioningState: Succeeded
                  sku:
                    name: Standard
                  transformation:
                    id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3276/providers/Microsoft.StreamAnalytics/streamingjobs/sj7804/transformations/transformationtest
                    name: transformationtest
                    properties:
                      etag: 91d8fcbe-60b3-49c3-9f21-9942b95602b8
                      query: Select Id, Name from inputtest
                      streamingUnits: 1
                    type: Microsoft.StreamAnalytics/streamingjobs/transformations
                tags:
                  key1: value1
                  key3: value3
                  randomKey: randomValue
                type: Microsoft.StreamAnalytics/streamingjobs
              headers:
                ETag: 87551cc5-1290-4d08-afcd-cdaa92e5ade0
            "201":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3276/providers/Microsoft.StreamAnalytics/streamingjobs/sj7804
                location: West US
                name: sj7804
                properties:
                  compatibilityLevel: "1.0"
                  createdDate: 2017-05-11T04:37:11.54Z
                  dataLocale: en-US
                  eventsLateArrivalMaxDelayInSeconds: 5
                  eventsOutOfOrderMaxDelayInSeconds: 0
                  eventsOutOfOrderPolicy: Drop
                  functions: []
                  inputs:
                    - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3276/providers/Microsoft.StreamAnalytics/streamingjobs/sj7804/inputs/inputtest
                      name: inputtest
                      properties:
                        datasource:
                          properties:
                            container: containerName
                            pathPattern: ""
                            storageAccounts:
                              - accountName: accountName
                          type: Microsoft.Storage/Blob
                        etag: ca88f8fa-605b-4c7f-8695-46f5faa60cd0
                        serialization:
                          properties:
                            encoding: UTF8
                          type: Json
                        type: Stream
                      type: Microsoft.StreamAnalytics/streamingjobs/inputs
                  jobId: 732e4b1d-94a7-43ae-8297-3ad04f1540b9
                  jobState: Created
                  outputErrorPolicy: Drop
                  outputs:
                    - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3276/providers/Microsoft.StreamAnalytics/streamingjobs/sj7804/outputs/outputtest
                      name: outputtest
                      properties:
                        datasource:
                          properties:
                            database: databaseName
                            server: serverName
                            table: tableName
                            user: userName
                          type: Microsoft.Sql/Server/Database
                        etag: 62097c3c-b503-41ff-a56f-196a9598ab90
                      type: Microsoft.StreamAnalytics/streamingjobs/outputs
                  provisioningState: Succeeded
                  sku:
                    name: Standard
                  transformation:
                    id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3276/providers/Microsoft.StreamAnalytics/streamingjobs/sj7804/transformations/transformationtest
                    name: transformationtest
                    properties:
                      etag: 91d8fcbe-60b3-49c3-9f21-9942b95602b8
                      query: Select Id, Name from inputtest
                      streamingUnits: 1
                    type: Microsoft.StreamAnalytics/streamingjobs/transformations
                tags:
                  key1: value1
                  key3: value3
                  randomKey: randomValue
                type: Microsoft.StreamAnalytics/streamingjobs
              headers:
                ETag: 87551cc5-1290-4d08-afcd-cdaa92e5ade0
        "Create a streaming job shell (a streaming job with no inputs, outputs, transformation, or functions)":
          parameters:
            api-version: 2016-03-01
            jobName: sj59
            resourceGroupName: sjrg6936
            streamingJob:
              location: West US
              properties:
                compatibilityLevel: "1.0"
                dataLocale: en-US
                eventsLateArrivalMaxDelayInSeconds: 16
                eventsOutOfOrderMaxDelayInSeconds: 5
                eventsOutOfOrderPolicy: Drop
                functions: []
                inputs: []
                outputErrorPolicy: Drop
                outputs: []
                sku:
                  name: Standard
              tags:
                key1: value1
                key3: value3
                randomKey: randomValue
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg6936/providers/Microsoft.StreamAnalytics/streamingjobs/sj59
                location: West US
                name: sj59
                properties:
                  compatibilityLevel: "1.0"
                  createdDate: 2017-05-11T04:37:04.697Z
                  dataLocale: en-US
                  eventsLateArrivalMaxDelayInSeconds: 16
                  eventsOutOfOrderMaxDelayInSeconds: 5
                  eventsOutOfOrderPolicy: Drop
                  functions: []
                  inputs: []
                  jobId: d53ecc3c-fcb0-485d-9caf-25e20fcb2061
                  jobState: Created
                  outputErrorPolicy: Drop
                  outputs: []
                  provisioningState: Succeeded
                  sku:
                    name: Standard
                tags:
                  key1: value1
                  key3: value3
                  randomKey: randomValue
                type: Microsoft.StreamAnalytics/streamingjobs
              headers:
                ETag: 3e6872bc-c9d0-45b6-91b6-da66f1773056
            "201":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg6936/providers/Microsoft.StreamAnalytics/streamingjobs/sj59
                location: West US
                name: sj59
                properties:
                  compatibilityLevel: "1.0"
                  createdDate: 2017-05-11T04:37:04.697Z
                  dataLocale: en-US
                  eventsLateArrivalMaxDelayInSeconds: 16
                  eventsOutOfOrderMaxDelayInSeconds: 5
                  eventsOutOfOrderPolicy: Drop
                  functions: []
                  inputs: []
                  jobId: d53ecc3c-fcb0-485d-9caf-25e20fcb2061
                  jobState: Created
                  outputErrorPolicy: Drop
                  outputs: []
                  provisioningState: Succeeded
                  sku:
                    name: Standard
                tags:
                  key1: value1
                  key3: value3
                  randomKey: randomValue
                type: Microsoft.StreamAnalytics/streamingjobs
              headers:
                ETag: 3e6872bc-c9d0-45b6-91b6-da66f1773056
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/start":
    post:
      description: Starts a streaming job. Once a job is started it will start processing input events and produce output.
      operationId: StreamingJobs_Start
      parameters:
        - description: Parameters applicable to a start streaming job operation.
          in: body
          name: startJobParameters
          required: false
          schema:
            $ref: "#/definitions/StartStreamingJobParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/StreamingJobNameParameter"
      responses:
        "200":
          description: The streaming job was successfully started.
        "202":
          description: The start streaming job request was successfully initiated.
      tags:
        - StreamingJobs
      x-ms-examples:
        Start a streaming job with CustomTime output start mode:
          parameters:
            api-version: 2016-03-01
            jobName: sj59
            resourceGroupName: sjrg6936
            startJobParameters:
              outputStartMode: CustomTime
              outputStartTime: 2012-12-12T12:12:12Z
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200": {}
            "202": {}
        Start a streaming job with JobStartTime output start mode:
          parameters:
            api-version: 2016-03-01
            jobName: sj59
            resourceGroupName: sjrg6936
            startJobParameters:
              outputStartMode: JobStartTime
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200": {}
            "202": {}
        Start a streaming job with LastOutputEventTime output start mode:
          parameters:
            api-version: 2016-03-01
            jobName: sj59
            resourceGroupName: sjrg6936
            startJobParameters:
              outputStartMode: LastOutputEventTime
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/stop":
    post:
      description: Stops a running streaming job. This will cause a running streaming job to stop processing input events and producing output.
      operationId: StreamingJobs_Stop
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/StreamingJobNameParameter"
      responses:
        "200":
          description: The streaming job was successfully stopped.
        "202":
          description: The stop streaming job request was successfully initiated.
      tags:
        - StreamingJobs
      x-ms-examples:
        Stop a streaming job:
          parameters:
            api-version: 2016-03-01
            jobName: sj59
            resourceGroupName: sjrg6936
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
definitions:
  CompatibilityLevel:
    description: Controls certain runtime behaviors of the streaming job.
    enum:
      - "1.0"
    type: string
    x-ms-enum:
      modelAsString: true
      name: CompatibilityLevel
  EventsOutOfOrderPolicy:
    description: Indicates the policy to apply to events that arrive out of order in the input event stream.
    enum:
      - Adjust
      - Drop
    type: string
    x-ms-enum:
      modelAsString: true
      name: EventsOutOfOrderPolicy
  Operation:
    description: A Stream Analytics REST API operation
    properties:
      display:
        description: Contains the localized display information for this particular operation / action.
        properties:
          description:
            description: The localized friendly description for the operation.
            readOnly: true
            type: string
          operation:
            description: The localized friendly name for the operation.
            readOnly: true
            type: string
          provider:
            description: The localized friendly form of the resource provider name.
            readOnly: true
            type: string
          resource:
            description: The localized friendly form of the resource type related to this action/operation.
            readOnly: true
            type: string
        readOnly: true
      name:
        description: The name of the operation being performed on this particular object.
        readOnly: true
        type: string
    type: object
  OperationListResult:
    description: Result of the request to list Stream Analytics operations. It contains a list of operations and a URL link to get the next set of results.
    properties:
      nextLink:
        description: URL to get the next set of operation list results if there are any.
        readOnly: true
        type: string
      value:
        description: List of Stream Analytics operations supported by the Microsoft.StreamAnalytics resource provider.
        items:
          $ref: "#/definitions/Operation"
        readOnly: true
        type: array
  OutputErrorPolicy:
    description: Indicates the policy to apply to events that arrive at the output and cannot be written to the external storage due to being malformed (missing column values, column values of wrong type or size).
    enum:
      - Stop
      - Drop
    type: string
    x-ms-enum:
      modelAsString: true
      name: OutputErrorPolicy
  OutputStartMode:
    description: Value may be JobStartTime, CustomTime, or LastOutputEventTime to indicate whether the starting point of the output event stream should start whenever the job is started, start at a custom user time stamp specified via the outputStartTime property, or start from the last event output time.
    enum:
      - JobStartTime
      - CustomTime
      - LastOutputEventTime
    type: string
    x-ms-enum:
      modelAsString: true
      name: OutputStartMode
  Resource:
    description: The base resource model definition.
    properties:
      id:
        description: Resource Id
        readOnly: true
        type: string
      location:
        description: Resource location. Required on PUT (CreateOrReplace) requests.
        type: string
      name:
        description: Resource name
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
      type:
        description: Resource type
        readOnly: true
        type: string
    x-ms-azure-resource: true
  Sku:
    description: The properties that are associated with a SKU.
    properties:
      name:
        description: The name of the SKU. Required on PUT (CreateOrReplace) requests.
        enum:
          - Standard
        type: string
        x-ms-enum:
          modelAsString: true
          name: SkuName
  StartStreamingJobParameters:
    description: Parameters supplied to the Start Streaming Job operation.
    properties:
      outputStartMode:
        $ref: "#/definitions/OutputStartMode"
        description: Value may be JobStartTime, CustomTime, or LastOutputEventTime to indicate whether the starting point of the output event stream should start whenever the job is started, start at a custom user time stamp specified via the outputStartTime property, or start from the last event output time.
      outputStartTime:
        description: Value is either an ISO-8601 formatted time stamp that indicates the starting point of the output event stream, or null to indicate that the output event stream will start whenever the streaming job is started. This property must have a value if outputStartMode is set to CustomTime.
        format: date-time
        type: string
  StreamingJob:
    allOf:
      - $ref: "#/definitions/Resource"
    description: A streaming job object, containing all information associated with the named streaming job.
    properties:
      properties:
        $ref: "#/definitions/StreamingJobProperties"
        description: The properties that are associated with a streaming job.  Required on PUT (CreateOrReplace) requests.
        x-ms-client-flatten: true
  StreamingJobListResult:
    description: Object containing a list of streaming jobs.
    properties:
      nextLink:
        description: The link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        description: A list of streaming jobs. Populated by a 'List' operation.
        items:
          $ref: "#/definitions/StreamingJob"
        readOnly: true
        type: array
  StreamingJobProperties:
    description: The properties that are associated with a streaming job.
    properties:
      compatibilityLevel:
        $ref: "#/definitions/CompatibilityLevel"
        description: Controls certain runtime behaviors of the streaming job.
      createdDate:
        description: Value is an ISO-8601 formatted UTC timestamp indicating when the streaming job was created.
        format: date-time
        readOnly: true
        type: string
      dataLocale:
        description: The data locale of the stream analytics job. Value should be the name of a supported .NET Culture from the set https://msdn.microsoft.com/en-us/library/system.globalization.culturetypes(v=vs.110).aspx. Defaults to 'en-US' if none specified.
        type: string
      etag:
        description: The current entity tag for the streaming job. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.
        readOnly: true
        type: string
      eventsLateArrivalMaxDelayInSeconds:
        description: The maximum tolerable delay in seconds where events arriving late could be included.  Supported range is -1 to 1814399 (20.23:59:59 days) and -1 is used to specify wait indefinitely. If the property is absent, it is interpreted to have a value of -1.
        format: int32
        type: integer
      eventsOutOfOrderMaxDelayInSeconds:
        description: The maximum tolerable delay in seconds where out-of-order events can be adjusted to be back in order.
        format: int32
        type: integer
      eventsOutOfOrderPolicy:
        $ref: "#/definitions/EventsOutOfOrderPolicy"
        description: Indicates the policy to apply to events that arrive out of order in the input event stream.
      functions:
        description: A list of one or more functions for the streaming job. The name property for each function is required when specifying this property in a PUT request. This property cannot be modify via a PATCH operation. You must use the PATCH API available for the individual transformation.
        items:
          allOf:
            - description: The base sub-resource model definition.
              properties:
                id:
                  description: Resource Id
                  readOnly: true
                  type: string
                name:
                  description: Resource name
                  type: string
                type:
                  description: Resource type
                  readOnly: true
                  type: string
              x-ms-azure-resource: true
          description: A function object, containing all information associated with the named function. All functions are contained under a streaming job.
          properties:
            properties:
              description: The properties that are associated with a function.
              discriminator: type
              properties:
                etag:
                  description: The current entity tag for the function. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.
                  readOnly: true
                  type: string
                type:
                  description: Indicates the type of function.
                  type: string
        type: array
      inputs:
        description: A list of one or more inputs to the streaming job. The name property for each input is required when specifying this property in a PUT request. This property cannot be modify via a PATCH operation. You must use the PATCH API available for the individual input.
        items:
          allOf:
            - description: The base sub-resource model definition.
              properties:
                id:
                  description: Resource Id
                  readOnly: true
                  type: string
                name:
                  description: Resource name
                  type: string
                type:
                  description: Resource type
                  readOnly: true
                  type: string
              x-ms-azure-resource: true
          description: An input object, containing all information associated with the named input. All inputs are contained under a streaming job.
          properties:
            properties:
              description: The properties that are associated with an input.
              discriminator: type
              properties:
                diagnostics:
                  description: Describes conditions applicable to the Input, Output, or the job overall, that warrant customer attention.
                  properties:
                    conditions:
                      description: A collection of zero or more conditions applicable to the resource, or to the job overall, that warrant customer attention.
                      items:
                        description: Condition applicable to the resource, or to the job overall, that warrant customer attention.
                        properties:
                          code:
                            description: The opaque diagnostic code.
                            readOnly: true
                            type: string
                          message:
                            description: The human-readable message describing the condition in detail. Localized in the Accept-Language of the client request.
                            readOnly: true
                            type: string
                          since:
                            description: The UTC timestamp of when the condition started. Customers should be able to find a corresponding event in the ops log around this time.
                            readOnly: true
                            type: string
                      readOnly: true
                      type: array
                etag:
                  description: The current entity tag for the input. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.
                  readOnly: true
                  type: string
                serialization:
                  description: Describes how data from an input is serialized or how data is serialized when written to an output.
                  discriminator: type
                  properties:
                    type:
                      description: Indicates the type of serialization that the input or output uses. Required on PUT (CreateOrReplace) requests.
                      type: string
                type:
                  description: Indicates whether the input is a source of reference data or stream data. Required on PUT (CreateOrReplace) requests.
                  type: string
        type: array
      jobId:
        description: A GUID uniquely identifying the streaming job. This GUID is generated upon creation of the streaming job.
        readOnly: true
        type: string
      jobState:
        description: Describes the state of the streaming job.
        readOnly: true
        type: string
      lastOutputEventTime:
        description: Value is either an ISO-8601 formatted timestamp indicating the last output event time of the streaming job or null indicating that output has not yet been produced. In case of multiple outputs or multiple streams, this shows the latest value in that set.
        format: date-time
        readOnly: true
        type: string
      outputErrorPolicy:
        $ref: "#/definitions/OutputErrorPolicy"
        description: Indicates the policy to apply to events that arrive at the output and cannot be written to the external storage due to being malformed (missing column values, column values of wrong type or size).
      outputStartMode:
        $ref: "#/definitions/OutputStartMode"
        description: This property should only be utilized when it is desired that the job be started immediately upon creation. Value may be JobStartTime, CustomTime, or LastOutputEventTime to indicate whether the starting point of the output event stream should start whenever the job is started, start at a custom user time stamp specified via the outputStartTime property, or start from the last event output time.
      outputStartTime:
        description: Value is either an ISO-8601 formatted time stamp that indicates the starting point of the output event stream, or null to indicate that the output event stream will start whenever the streaming job is started. This property must have a value if outputStartMode is set to CustomTime.
        format: date-time
        type: string
      outputs:
        description: A list of one or more outputs for the streaming job. The name property for each output is required when specifying this property in a PUT request. This property cannot be modify via a PATCH operation. You must use the PATCH API available for the individual output.
        items:
          allOf:
            - description: The base sub-resource model definition.
              properties:
                id:
                  description: Resource Id
                  readOnly: true
                  type: string
                name:
                  description: Resource name
                  type: string
                type:
                  description: Resource type
                  readOnly: true
                  type: string
              x-ms-azure-resource: true
          description: An output object, containing all information associated with the named output. All outputs are contained under a streaming job.
          properties:
            properties:
              description: The properties that are associated with an output.
              properties:
                datasource:
                  description: Describes the data source that output will be written to.
                  discriminator: type
                  properties:
                    type:
                      description: Indicates the type of data source output will be written to. Required on PUT (CreateOrReplace) requests.
                      type: string
                diagnostics:
                  description: Describes conditions applicable to the Input, Output, or the job overall, that warrant customer attention.
                  properties:
                    conditions:
                      description: A collection of zero or more conditions applicable to the resource, or to the job overall, that warrant customer attention.
                      items:
                        description: Condition applicable to the resource, or to the job overall, that warrant customer attention.
                        properties:
                          code:
                            description: The opaque diagnostic code.
                            readOnly: true
                            type: string
                          message:
                            description: The human-readable message describing the condition in detail. Localized in the Accept-Language of the client request.
                            readOnly: true
                            type: string
                          since:
                            description: The UTC timestamp of when the condition started. Customers should be able to find a corresponding event in the ops log around this time.
                            readOnly: true
                            type: string
                      readOnly: true
                      type: array
                etag:
                  description: The current entity tag for the output. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.
                  readOnly: true
                  type: string
                serialization:
                  description: Describes how data from an input is serialized or how data is serialized when written to an output.
                  discriminator: type
                  properties:
                    type:
                      description: Indicates the type of serialization that the input or output uses. Required on PUT (CreateOrReplace) requests.
                      type: string
        type: array
      provisioningState:
        description: Describes the provisioning status of the streaming job.
        readOnly: true
        type: string
      sku:
        $ref: "#/definitions/Sku"
        description: Describes the SKU of the streaming job. Required on PUT (CreateOrReplace) requests.
      transformation:
        allOf:
          - description: The base sub-resource model definition.
            properties:
              id:
                description: Resource Id
                readOnly: true
                type: string
              name:
                description: Resource name
                type: string
              type:
                description: Resource type
                readOnly: true
                type: string
            x-ms-azure-resource: true
        description: A transformation object, containing all information associated with the named transformation. All transformations are contained under a streaming job.
        properties:
          properties:
            description: The properties that are associated with a transformation.
            properties:
              etag:
                description: The current entity tag for the transformation. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.
                readOnly: true
                type: string
              query:
                description: "Specifies the query that will be run in the streaming job. You can learn more about the Stream Analytics Query Language (SAQL) here: https://msdn.microsoft.com/library/azure/dn834998 . Required on PUT (CreateOrReplace) requests."
                type: string
              streamingUnits:
                description: Specifies the number of streaming units that the streaming job uses.
                format: int32
                type: integer
