swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: AutomationManagement
  version: 2015-10-31
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/variable.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: automation-variable
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters: {}
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/variables":
    get:
      description: Retrieve a list of variables.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/variableoperations
      operationId: Variable_ListByAutomationAccount
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/VariableListResult"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Variable
      x-ms-examples:
        "List variables, First 100":
          parameters:
            api-version: 2015-10-31
            automationAccountName: sampleAccount9
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: https://management.azure.com:443/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables?api-version=2015-10-31&$skip=100
                value:
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable
                    name: sampleVariable
                    properties:
                      creationTime: 2017-03-28T23:00:53.363+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:00:57.987+00:00
                      value: '"ComputerName3.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable0
                    name: sampleVariable0
                    properties:
                      creationTime: 2017-03-28T23:00:58.847+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:00:58.847+00:00
                      value: '"server0.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable1
                    name: sampleVariable1
                    properties:
                      creationTime: 2017-03-28T23:00:59.69+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:00:59.69+00:00
                      value: '"server1.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable10
                    name: sampleVariable10
                    properties:
                      creationTime: 2017-03-28T23:01:08.393+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:08.393+00:00
                      value: '"server10.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable100
                    name: sampleVariable100
                    properties:
                      creationTime: 2017-03-28T23:02:27.38+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:27.38+00:00
                      value: '"server100.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable101
                    name: sampleVariable101
                    properties:
                      creationTime: 2017-03-28T23:02:28.223+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:28.223+00:00
                      value: '"server101.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable102
                    name: sampleVariable102
                    properties:
                      creationTime: 2017-03-28T23:02:28.99+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:28.99+00:00
                      value: '"server102.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable103
                    name: sampleVariable103
                    properties:
                      creationTime: 2017-03-28T23:02:29.77+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:29.77+00:00
                      value: '"server103.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable104
                    name: sampleVariable104
                    properties:
                      creationTime: 2017-03-28T23:02:30.647+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:30.647+00:00
                      value: '"server104.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable105
                    name: sampleVariable105
                    properties:
                      creationTime: 2017-03-28T23:02:31.49+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:31.49+00:00
                      value: '"server105.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable106
                    name: sampleVariable106
                    properties:
                      creationTime: 2017-03-28T23:02:32.303+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:32.303+00:00
                      value: '"server106.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable107
                    name: sampleVariable107
                    properties:
                      creationTime: 2017-03-28T23:02:34.583+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:34.583+00:00
                      value: '"server107.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable108
                    name: sampleVariable108
                    properties:
                      creationTime: 2017-03-28T23:02:35.367+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:35.367+00:00
                      value: '"server108.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable109
                    name: sampleVariable109
                    properties:
                      creationTime: 2017-03-28T23:02:36.147+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:36.147+00:00
                      value: '"server109.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable11
                    name: sampleVariable11
                    properties:
                      creationTime: 2017-03-28T23:01:09.27+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:09.27+00:00
                      value: '"server11.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable12
                    name: sampleVariable12
                    properties:
                      creationTime: 2017-03-28T23:01:10.16+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:10.16+00:00
                      value: '"server12.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable13
                    name: sampleVariable13
                    properties:
                      creationTime: 2017-03-28T23:01:11.003+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:11.003+00:00
                      value: '"server13.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable14
                    name: sampleVariable14
                    properties:
                      creationTime: 2017-03-28T23:01:11.863+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:11.863+00:00
                      value: '"server14.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable15
                    name: sampleVariable15
                    properties:
                      creationTime: 2017-03-28T23:01:12.74+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:12.74+00:00
                      value: '"server15.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable16
                    name: sampleVariable16
                    properties:
                      creationTime: 2017-03-28T23:01:13.597+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:13.597+00:00
                      value: '"server16.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable17
                    name: sampleVariable17
                    properties:
                      creationTime: 2017-03-28T23:01:16.287+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:16.287+00:00
                      value: '"server17.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable18
                    name: sampleVariable18
                    properties:
                      creationTime: 2017-03-28T23:01:17.16+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:17.16+00:00
                      value: '"server18.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable19
                    name: sampleVariable19
                    properties:
                      creationTime: 2017-03-28T23:01:18.02+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:18.02+00:00
                      value: '"server19.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable2
                    name: sampleVariable2
                    properties:
                      creationTime: 2017-03-28T23:01:00.567+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:00.567+00:00
                      value: '"server2.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable20
                    name: sampleVariable20
                    properties:
                      creationTime: 2017-03-28T23:01:18.847+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:18.847+00:00
                      value: '"server20.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable21
                    name: sampleVariable21
                    properties:
                      creationTime: 2017-03-28T23:01:19.723+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:19.723+00:00
                      value: '"server21.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable22
                    name: sampleVariable22
                    properties:
                      creationTime: 2017-03-28T23:01:21.597+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:21.597+00:00
                      value: '"server22.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable23
                    name: sampleVariable23
                    properties:
                      creationTime: 2017-03-28T23:01:22.393+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:22.393+00:00
                      value: '"server23.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable24
                    name: sampleVariable24
                    properties:
                      creationTime: 2017-03-28T23:01:23.207+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:23.207+00:00
                      value: '"server24.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable25
                    name: sampleVariable25
                    properties:
                      creationTime: 2017-03-28T23:01:23.973+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:23.973+00:00
                      value: '"server25.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable26
                    name: sampleVariable26
                    properties:
                      creationTime: 2017-03-28T23:01:24.8+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:24.8+00:00
                      value: '"server26.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable27
                    name: sampleVariable27
                    properties:
                      creationTime: 2017-03-28T23:01:25.597+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:25.597+00:00
                      value: '"server27.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable28
                    name: sampleVariable28
                    properties:
                      creationTime: 2017-03-28T23:01:26.55+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:26.55+00:00
                      value: '"server28.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable29
                    name: sampleVariable29
                    properties:
                      creationTime: 2017-03-28T23:01:27.457+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:27.457+00:00
                      value: '"server29.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable3
                    name: sampleVariable3
                    properties:
                      creationTime: 2017-03-28T23:01:01.427+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:01.427+00:00
                      value: '"server3.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable30
                    name: sampleVariable30
                    properties:
                      creationTime: 2017-03-28T23:01:28.253+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:28.253+00:00
                      value: '"server30.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable31
                    name: sampleVariable31
                    properties:
                      creationTime: 2017-03-28T23:01:29.05+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:29.05+00:00
                      value: '"server31.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable32
                    name: sampleVariable32
                    properties:
                      creationTime: 2017-03-28T23:01:29.817+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:29.817+00:00
                      value: '"server32.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable33
                    name: sampleVariable33
                    properties:
                      creationTime: 2017-03-28T23:01:30.643+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:30.643+00:00
                      value: '"server33.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable34
                    name: sampleVariable34
                    properties:
                      creationTime: 2017-03-28T23:01:31.473+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:31.473+00:00
                      value: '"server34.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable35
                    name: sampleVariable35
                    properties:
                      creationTime: 2017-03-28T23:01:32.253+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:32.253+00:00
                      value: '"server35.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable36
                    name: sampleVariable36
                    properties:
                      creationTime: 2017-03-28T23:01:33.27+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:33.27+00:00
                      value: '"server36.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable37
                    name: sampleVariable37
                    properties:
                      creationTime: 2017-03-28T23:01:34.037+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:34.037+00:00
                      value: '"server37.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable38
                    name: sampleVariable38
                    properties:
                      creationTime: 2017-03-28T23:01:34.817+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:34.817+00:00
                      value: '"server38.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable39
                    name: sampleVariable39
                    properties:
                      creationTime: 2017-03-28T23:01:35.613+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:35.613+00:00
                      value: '"server39.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable4
                    name: sampleVariable4
                    properties:
                      creationTime: 2017-03-28T23:01:02.38+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:02.38+00:00
                      value: '"server4.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable40
                    name: sampleVariable40
                    properties:
                      creationTime: 2017-03-28T23:01:36.397+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:36.397+00:00
                      value: '"server40.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable41
                    name: sampleVariable41
                    properties:
                      creationTime: 2017-03-28T23:01:37.19+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:37.19+00:00
                      value: '"server41.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable42
                    name: sampleVariable42
                    properties:
                      creationTime: 2017-03-28T23:01:38.037+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:38.037+00:00
                      value: '"server42.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable43
                    name: sampleVariable43
                    properties:
                      creationTime: 2017-03-28T23:01:38.88+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:38.88+00:00
                      value: '"server43.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable44
                    name: sampleVariable44
                    properties:
                      creationTime: 2017-03-28T23:01:39.707+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:39.707+00:00
                      value: '"server44.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable45
                    name: sampleVariable45
                    properties:
                      creationTime: 2017-03-28T23:01:41.457+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:41.457+00:00
                      value: '"server45.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable46
                    name: sampleVariable46
                    properties:
                      creationTime: 2017-03-28T23:01:42.253+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:42.253+00:00
                      value: '"server46.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable47
                    name: sampleVariable47
                    properties:
                      creationTime: 2017-03-28T23:01:43.083+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:43.083+00:00
                      value: '"server47.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable48
                    name: sampleVariable48
                    properties:
                      creationTime: 2017-03-28T23:01:43.957+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:43.957+00:00
                      value: '"server48.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable49
                    name: sampleVariable49
                    properties:
                      creationTime: 2017-03-28T23:01:44.74+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:44.74+00:00
                      value: '"server49.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable5
                    name: sampleVariable5
                    properties:
                      creationTime: 2017-03-28T23:01:03.253+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:03.253+00:00
                      value: '"server5.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable50
                    name: sampleVariable50
                    properties:
                      creationTime: 2017-03-28T23:01:46.35+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:46.35+00:00
                      value: '"server50.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable51
                    name: sampleVariable51
                    properties:
                      creationTime: 2017-03-28T23:01:47.1+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:47.1+00:00
                      value: '"server51.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable52
                    name: sampleVariable52
                    properties:
                      creationTime: 2017-03-28T23:01:47.88+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:47.88+00:00
                      value: '"server52.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable53
                    name: sampleVariable53
                    properties:
                      creationTime: 2017-03-28T23:01:48.677+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:48.677+00:00
                      value: '"server53.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable54
                    name: sampleVariable54
                    properties:
                      creationTime: 2017-03-28T23:01:49.473+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:49.473+00:00
                      value: '"server54.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable55
                    name: sampleVariable55
                    properties:
                      creationTime: 2017-03-28T23:01:51.16+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:51.16+00:00
                      value: '"server55.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable56
                    name: sampleVariable56
                    properties:
                      creationTime: 2017-03-28T23:01:51.927+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:51.927+00:00
                      value: '"server56.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable57
                    name: sampleVariable57
                    properties:
                      creationTime: 2017-03-28T23:01:52.757+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:52.757+00:00
                      value: '"server57.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable58
                    name: sampleVariable58
                    properties:
                      creationTime: 2017-03-28T23:01:53.55+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:53.55+00:00
                      value: '"server58.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable59
                    name: sampleVariable59
                    properties:
                      creationTime: 2017-03-28T23:01:54.317+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:54.317+00:00
                      value: '"server59.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable6
                    name: sampleVariable6
                    properties:
                      creationTime: 2017-03-28T23:01:04.143+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:04.143+00:00
                      value: '"server6.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable60
                    name: sampleVariable60
                    properties:
                      creationTime: 2017-03-28T23:01:55.177+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:55.177+00:00
                      value: '"server60.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable61
                    name: sampleVariable61
                    properties:
                      creationTime: 2017-03-28T23:01:56.583+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:56.583+00:00
                      value: '"server61.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable62
                    name: sampleVariable62
                    properties:
                      creationTime: 2017-03-28T23:01:57.27+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:57.27+00:00
                      value: '"server62.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable63
                    name: sampleVariable63
                    properties:
                      creationTime: 2017-03-28T23:01:57.943+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:57.943+00:00
                      value: '"server63.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable64
                    name: sampleVariable64
                    properties:
                      creationTime: 2017-03-28T23:01:58.66+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:58.66+00:00
                      value: '"server64.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable65
                    name: sampleVariable65
                    properties:
                      creationTime: 2017-03-28T23:01:59.35+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:59.35+00:00
                      value: '"server65.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable66
                    name: sampleVariable66
                    properties:
                      creationTime: 2017-03-28T23:02:00.02+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:00.02+00:00
                      value: '"server66.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable67
                    name: sampleVariable67
                    properties:
                      creationTime: 2017-03-28T23:02:01.507+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:01.507+00:00
                      value: '"server67.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable68
                    name: sampleVariable68
                    properties:
                      creationTime: 2017-03-28T23:02:02.177+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:02.177+00:00
                      value: '"server68.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable69
                    name: sampleVariable69
                    properties:
                      creationTime: 2017-03-28T23:02:02.863+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:02.863+00:00
                      value: '"server69.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable7
                    name: sampleVariable7
                    properties:
                      creationTime: 2017-03-28T23:01:05.393+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:05.393+00:00
                      value: '"server7.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable70
                    name: sampleVariable70
                    properties:
                      creationTime: 2017-03-28T23:02:03.6+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:03.6+00:00
                      value: '"server70.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable71
                    name: sampleVariable71
                    properties:
                      creationTime: 2017-03-28T23:02:04.333+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:04.333+00:00
                      value: '"server71.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable72
                    name: sampleVariable72
                    properties:
                      creationTime: 2017-03-28T23:02:05.1+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:05.1+00:00
                      value: '"server72.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable73
                    name: sampleVariable73
                    properties:
                      creationTime: 2017-03-28T23:02:05.833+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:05.833+00:00
                      value: '"server73.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable74
                    name: sampleVariable74
                    properties:
                      creationTime: 2017-03-28T23:02:06.647+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:06.647+00:00
                      value: '"server74.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable75
                    name: sampleVariable75
                    properties:
                      creationTime: 2017-03-28T23:02:07.363+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:07.363+00:00
                      value: '"server75.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable76
                    name: sampleVariable76
                    properties:
                      creationTime: 2017-03-28T23:02:08.1+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:08.1+00:00
                      value: '"server76.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable77
                    name: sampleVariable77
                    properties:
                      creationTime: 2017-03-28T23:02:08.82+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:08.82+00:00
                      value: '"server77.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable78
                    name: sampleVariable78
                    properties:
                      creationTime: 2017-03-28T23:02:09.553+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:09.553+00:00
                      value: '"server78.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable79
                    name: sampleVariable79
                    properties:
                      creationTime: 2017-03-28T23:02:10.63+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:10.63+00:00
                      value: '"server79.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable8
                    name: sampleVariable8
                    properties:
                      creationTime: 2017-03-28T23:01:06.52+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:06.52+00:00
                      value: '"server8.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable80
                    name: sampleVariable80
                    properties:
                      creationTime: 2017-03-28T23:02:11.32+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:11.32+00:00
                      value: '"server80.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable81
                    name: sampleVariable81
                    properties:
                      creationTime: 2017-03-28T23:02:12.02+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:12.02+00:00
                      value: '"server81.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable82
                    name: sampleVariable82
                    properties:
                      creationTime: 2017-03-28T23:02:12.723+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:12.723+00:00
                      value: '"server82.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable83
                    name: sampleVariable83
                    properties:
                      creationTime: 2017-03-28T23:02:13.443+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:13.443+00:00
                      value: '"server83.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable84
                    name: sampleVariable84
                    properties:
                      creationTime: 2017-03-28T23:02:14.16+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:14.16+00:00
                      value: '"server84.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable85
                    name: sampleVariable85
                    properties:
                      creationTime: 2017-03-28T23:02:15.177+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:15.177+00:00
                      value: '"server85.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable86
                    name: sampleVariable86
                    properties:
                      creationTime: 2017-03-28T23:02:16.053+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:16.053+00:00
                      value: '"server86.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable87
                    name: sampleVariable87
                    properties:
                      creationTime: 2017-03-28T23:02:16.82+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:16.82+00:00
                      value: '"server87.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable88
                    name: sampleVariable88
                    properties:
                      creationTime: 2017-03-28T23:02:17.583+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:17.583+00:00
                      value: '"server88.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable89
                    name: sampleVariable89
                    properties:
                      creationTime: 2017-03-28T23:02:18.333+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:18.333+00:00
                      value: '"server89.domain.com"'
        "List variables, Next 100":
          parameters:
            $skip: 100
            api-version: 2015-10-31
            automationAccountName: sampleAccount9
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable9
                    name: sampleVariable9
                    properties:
                      creationTime: 2017-03-28T23:01:07.38+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:01:07.38+00:00
                      value: '"server9.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable90
                    name: sampleVariable90
                    properties:
                      creationTime: 2017-03-28T23:02:19.147+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:19.147+00:00
                      value: '"server90.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable91
                    name: sampleVariable91
                    properties:
                      creationTime: 2017-03-28T23:02:20.257+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:20.257+00:00
                      value: '"server91.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable92
                    name: sampleVariable92
                    properties:
                      creationTime: 2017-03-28T23:02:21.037+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:21.037+00:00
                      value: '"server92.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable93
                    name: sampleVariable93
                    properties:
                      creationTime: 2017-03-28T23:02:21.803+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:21.803+00:00
                      value: '"server93.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable94
                    name: sampleVariable94
                    properties:
                      creationTime: 2017-03-28T23:02:22.583+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:22.583+00:00
                      value: '"server94.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable95
                    name: sampleVariable95
                    properties:
                      creationTime: 2017-03-28T23:02:23.333+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:23.333+00:00
                      value: '"server95.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable96
                    name: sampleVariable96
                    properties:
                      creationTime: 2017-03-28T23:02:24.163+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:24.163+00:00
                      value: '"server96.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable97
                    name: sampleVariable97
                    properties:
                      creationTime: 2017-03-28T23:02:24.973+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:24.973+00:00
                      value: '"server97.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable98
                    name: sampleVariable98
                    properties:
                      creationTime: 2017-03-28T23:02:25.757+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:25.757+00:00
                      value: '"server98.domain.com"'
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable99
                    name: sampleVariable99
                    properties:
                      creationTime: 2017-03-28T23:02:26.553+00:00
                      description: null
                      isEncrypted: false
                      lastModifiedTime: 2017-03-28T23:02:26.553+00:00
                      value: '"server99.domain.com"'
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/variables/{variableName}":
    delete:
      description: Delete the variable.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/variableoperations
      operationId: Variable_Delete
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of variable.
          in: path
          name: variableName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Variable
      x-ms-examples:
        Delete a variable:
          parameters:
            api-version: 2015-10-31
            automationAccountName: sampleAccount9
            resourceGroupName: rg
            subscriptionId: subid
            variableName: sampleVariable
          responses:
            "200": {}
    get:
      description: Retrieve the variable identified by variable name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/variableoperations
      operationId: Variable_Get
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of variable.
          in: path
          name: variableName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Variable"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Variable
      x-ms-examples:
        Get a variable:
          parameters:
            api-version: 2015-10-31
            automationAccountName: sampleAccount9
            resourceGroupName: rg
            subscriptionId: subid
            variableName: sampleVariable
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable
                name: sampleVariable
                properties:
                  creationTime: 2017-03-28T22:59:00.937+00:00
                  description: my description
                  isEncrypted: false
                  lastModifiedTime: 2017-03-28T22:59:00.937+00:00
                  value: '"ComputerName.domain.com"'
    patch:
      description: Update a variable.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/variableoperations
      operationId: Variable_Update
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The variable name.
          in: path
          name: variableName
          required: true
          type: string
        - description: The parameters supplied to the update variable operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/VariableUpdateParameters"
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Variable"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Variable
      x-ms-examples:
        Update a variable:
          parameters:
            api-version: 2015-10-31
            automationAccountName: sampleAccount9
            parameters:
              name: sampleVariable
              properties:
                value: '"ComputerName3.domain.com"'
            resourceGroupName: rg
            subscriptionId: subid
            variableName: sampleVariable
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable
                name: sampleVariable
                properties:
                  creationTime: 2017-03-28T23:00:53.363+00:00
                  description: my description
                  isEncrypted: false
                  lastModifiedTime: 2017-03-28T23:00:57.987+00:00
                  value: '"ComputerName3.domain.com"'
              headers: {}
    put:
      description: Create a variable.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/variableoperations
      operationId: Variable_CreateOrUpdate
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The variable name.
          in: path
          name: variableName
          required: true
          type: string
        - description: The parameters supplied to the create or update variable operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/VariableCreateOrUpdateParameters"
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Variable"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/Variable"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Variable
      x-ms-examples:
        Create or update a variable:
          parameters:
            api-version: 2015-10-31
            automationAccountName: sampleAccount9
            parameters:
              name: sampleVariable
              properties:
                description: my description
                isEncrypted: false
                value: '"ComputerName.domain.com"'
            resourceGroupName: rg
            subscriptionId: subid
            variableName: sampleVariable
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable
                name: sampleVariable
                properties:
                  creationTime: 2017-03-28T22:59:00.937+00:00
                  description: my description
                  isEncrypted: false
                  lastModifiedTime: 2017-03-28T22:59:00.937+00:00
                  value: '"ComputerName2.domain.com"'
              headers: {}
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable
                name: sampleVariable
                properties:
                  creationTime: 2017-03-28T22:59:00.937+00:00
                  description: my description
                  isEncrypted: false
                  lastModifiedTime: 2017-03-28T22:59:00.937+00:00
                  value: '"ComputerName.domain.com"'
              headers: {}
definitions:
  Variable:
    allOf:
      - allOf:
          - description: The core properties of ARM resources
            properties:
              id:
                description: Fully qualified resource Id for the resource
                readOnly: true
                type: string
              name:
                description: The name of the resource
                readOnly: true
                type: string
              type:
                description: The type of the resource.
                readOnly: true
                type: string
            type: object
            x-ms-azure-resource: true
        description: ARM proxy resource.
        properties: {}
        type: object
    description: Definition of the variable.
    properties:
      properties:
        $ref: "#/definitions/VariableProperties"
        description: Gets or sets the properties of the variable.
        x-ms-client-flatten: true
  VariableCreateOrUpdateParameters:
    description: The parameters supplied to the create or update variable operation.
    properties:
      name:
        description: Gets or sets the name of the variable.
        type: string
      properties:
        $ref: "#/definitions/VariableCreateOrUpdateProperties"
        description: Gets or sets the properties of the variable.
        x-ms-client-flatten: true
    required:
      - name
      - properties
  VariableCreateOrUpdateProperties:
    description: The properties of the create variable operation.
    properties:
      description:
        description: Gets or sets the description of the variable.
        type: string
      isEncrypted:
        description: Gets or sets the encrypted flag of the variable.
        type: boolean
      value:
        description: Gets or sets the value of the variable.
        type: string
  VariableListResult:
    description: The response model for the list variables operation.
    properties:
      nextLink:
        description: Gets or sets the next link.
        type: string
      value:
        description: Gets or sets a list of variables.
        items:
          $ref: "#/definitions/Variable"
        type: array
  VariableProperties:
    description: Definition of the variable properties
    properties:
      creationTime:
        description: Gets or sets the creation time.
        format: date-time
        type: string
        x-nullable: false
      description:
        description: Gets or sets the description.
        type: string
      isEncrypted:
        description: Gets or sets the encrypted flag of the variable.
        type: boolean
        x-nullable: true
      lastModifiedTime:
        description: Gets or sets the last modified time.
        format: date-time
        type: string
        x-nullable: false
      value:
        description: Gets or sets the value of the variable.
        type: string
  VariableUpdateParameters:
    description: The parameters supplied to the update variable operation.
    properties:
      name:
        description: Gets or sets the name of the variable.
        type: string
      properties:
        $ref: "#/definitions/VariableUpdateProperties"
        description: Gets or sets the value of the variable.
        x-ms-client-flatten: true
  VariableUpdateProperties:
    description: The properties of the update variable
    properties:
      description:
        description: Gets or sets the description of the variable.
        type: string
      value:
        description: Gets or sets the value of the variable.
        type: string
