swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The HDInsight Management Client.
  title: HDInsightManagementClient
  version: 2018-06-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/configurations.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: hdinsight-configurations
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: The HDInsight client API Version.
    in: query
    name: api-version
    required: true
    type: string
  ClusterNameParameter:
    description: The name of the cluster.
    in: path
    name: clusterName
    required: true
    type: string
    x-ms-parameter-location: method
  ConfigurationNameParameter:
    description: The name of the cluster configuration.
    in: path
    name: configurationName
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceGroupNameParameter:
    description: The name of the resource group.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/configurations":
    post:
      description: Gets all configuration information for an HDI cluster.
      operationId: Configurations_List
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK response definition.
          schema:
            $ref: "#/definitions/ClusterConfigurations"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Describes the format of Error response.
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Configurations
      x-ms-examples:
        Get all configuration information:
          parameters:
            api-version: 2018-06-01-preview
            clusterName: cluster1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                configurations:
                  core-site:
                    fs.azure.account.key.test.blob.core.windows.net: accountKey
                    fs.defaultFS: wasb://test.blob.core.windows.net
                  gateway:
                    restAuthCredential.isEnabled: "true"
                    restAuthCredential.password: "**********"
                    restAuthCredential.username: admin
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/configurations/{configurationName}":
    get:
      description: The configuration object for the specified cluster. This API is not recommended and might be removed in the future. Please consider using List configurations API instead.
      operationId: Configurations_Get
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/ConfigurationNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK response definition.
          schema:
            $ref: "#/definitions/ClusterConfiguration"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Describes the format of Error response.
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Configurations
      x-ms-examples:
        Get Core site settings:
          parameters:
            api-version: 2018-06-01-preview
            clusterName: cluster1
            configurationName: core-site
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                fs.azure.account.key.test.blob.core.windows.net: accountKey
                fs.defaultFS: wasb://test.blob.core.windows.net
    post:
      deprecated: true
      description: Configures the HTTP settings on the specified cluster. This API is deprecated, please use UpdateGatewaySettings in cluster endpoint instead.
      operationId: Configurations_Update
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/ConfigurationNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: The cluster configurations.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ClusterConfiguration"
      responses:
        "200":
          description: Ok response definition
        "202":
          description: Accepted response definition
        "204":
          description: No content response definition
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Describes the format of Error response.
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Configurations
      x-ms-examples:
        Disable HTTP connectivity:
          parameters:
            api-version: 2018-06-01-preview
            clusterName: cluster1
            configurationName: gateway
            parameters:
              restAuthCredential.isEnabled: "false"
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult
            "204": {}
        Enable HTTP connectivity:
          parameters:
            api-version: 2018-06-01-preview
            clusterName: cluster1
            configurationName: gateway
            parameters:
              restAuthCredential.isEnabled: "true"
              restAuthCredential.password: "**********"
              restAuthCredential.username: hadoop
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult
            "204": {}
      x-ms-long-running-operation: true
definitions:
  ClusterConfiguration:
    additionalProperties:
      type: string
    description: The configuration object for the specified configuration for the specified cluster.
    type: object
  ClusterConfigurations:
    description: The configuration object for the specified cluster.
    properties:
      configurations:
        additionalProperties:
          $ref: "#/definitions/ClusterConfiguration"
        description: The configuration object for the specified configuration for the specified cluster.
        type: object
