swagger: "2.0"
schemes:
  - https
host: api.cognitive.microsoft.com
basePath: /bing/v7.0
info:
  contact:
    x-twitter: microsoft
  description: Visual Search API lets you discover insights about an image such as visually similar images, shopping sources, and related searches. The API can also perform text recognition, identify entities (people, places, things), return other topical content for the user to explore, and more. For more information, see [Visual Search Overview](https://docs.microsoft.com/azure/cognitive-services/bing-visual-search/overview).  **NOTE:** To comply with the new EU Copyright Directive in France, the Bing Visual Search API must omit some content from certain EU News sources for French users. The removed content may include thumbnail images and videos, video previews, and snippets which accompany search results from these sources. As a consequence, the Bing APIs may serve fewer results with thumbnail images and videos, video previews, and snippets to French users.
  title: Visual Search Client
  version: "1.0"
  x-apisguru-categories:
    - developer_tools
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_microsoft_profile_image.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/VisualSearch/preview/v1.0/VisualSearch.json
      version: "2.0"
  x-providerName: microsoft.com
  x-serviceName: cognitiveservices-VisualSearch
  x-tags:
    - Microsoft
produces:
  - application/json
securityDefinitions:
  apiKeyHeader:
    in: header
    name: Ocp-Apim-Subscription-Key
    type: apiKey
security:
  - apiKeyHeader: []
parameters:
  x-bingapis-sdk:
    description: Activate swagger compliance.
    enum:
      - "true"
    in: header
    name: X-BingApis-SDK
    required: true
    type: string
    x-ms-enum:
      modelAsString: true
      name: XBingApisSDK
    x-ms-parameter-location: method
paths:
  /images/visualsearch:
    post:
      consumes:
        - multipart/form-data
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: Images_VisualSearch
      parameters:
        - $ref: "#/parameters/x-bingapis-sdk"
        - description: The default media type is application/json. To specify that the response use [JSON-LD](http://json-ld.org/), set the Accept header to application/ld+json.
          in: header
          name: Accept
          required: false
          type: string
        - description: A comma-delimited list of one or more languages to use for user interface strings. The list is in decreasing order of preference. For additional information, including expected format, see [RFC2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html). This header and the [setLang](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-visual-search-api-v7-reference#setlang) query parameter are mutually exclusive; do not specify both. If you set this header, you must also specify the [cc](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-visual-search-api-v7-reference#cc) query parameter. To determine the market to return results for, Bing uses the first supported language it finds from the list and combines it with the cc parameter value. If the list does not include a supported language, Bing finds the closest language and market that supports the request or it uses an aggregated or default market for the results. To determine the market that Bing used, see the BingAPIs-Market header. Use this header and the cc query parameter only if you specify multiple languages. Otherwise, use the [mkt](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-visual-search-api-v7-reference#mkt) and [setLang](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-visual-search-api-v7-reference#setlang) query parameters. A user interface string is a string that's used as a label in a user interface. There are few user interface strings in the JSON response objects. Any links to Bing.com properties in the response objects apply the specified language.
          in: header
          name: Accept-Language
          required: false
          type: string
          x-ms-client-name: AcceptLanguage
        - description: Must be set to multipart/form-data and include a boundary parameter (for example, multipart/form-data; boundary=<boundary string>). For more details, see [Content form types]( https://docs.microsoft.com/en-us/azure/cognitive-services/bing-visual-search/overview#content-form-types).
          in: header
          name: Content-Type
          required: false
          type: string
          x-ms-client-name: ContentType
        - description: "The user agent originating the request. Bing uses the user agent to provide mobile users with an optimized experience. Although optional, you are encouraged to always specify this header. The user-agent should be the same string that any commonly used browser sends. For information about user agents, see [RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html). The following are examples of user-agent strings. Windows Phone: Mozilla/5.0 (compatible; MSIE 10.0; Windows Phone 8.0; Trident/6.0; IEMobile/10.0; ARM; Touch; NOKIA; Lumia 822). Android: Mozilla / 5.0 (Linux; U; Android 2.3.5; en - us; SCH - I500 Build / GINGERBREAD) AppleWebKit / 533.1 (KHTML; like Gecko) Version / 4.0 Mobile Safari / 533.1. iPhone: Mozilla / 5.0 (iPhone; CPU iPhone OS 6_1 like Mac OS X) AppleWebKit / 536.26 (KHTML; like Gecko) Mobile / 10B142 iPhone4; 1 BingWeb / 3.03.1428.20120423. PC: Mozilla / 5.0 (Windows NT 6.3; WOW64; Trident / 7.0; Touch; rv:11.0) like Gecko. iPad: Mozilla / 5.0 (iPad; CPU OS 7_0 like Mac OS X) AppleWebKit / 537.51.1 (KHTML, like Gecko) Version / 7.0 Mobile / 11A465 Safari / 9537.53."
          in: header
          name: User-Agent
          required: false
          type: string
          x-ms-client-name: UserAgent
        - description: "Bing uses this header to provide users with consistent behavior across Bing API calls. Bing often flights new features and improvements, and it uses the client ID as a key for assigning traffic on different flights. If you do not use the same client ID for a user across multiple requests, then Bing may assign the user to multiple conflicting flights. Being assigned to multiple conflicting flights can lead to an inconsistent user experience. For example, if the second request has a different flight assignment than the first, the experience may be unexpected. Also, Bing can use the client ID to tailor web results to that client ID’s search history, providing a richer experience for the user. Bing also uses this header to help improve result rankings by analyzing the activity generated by a client ID. The relevance improvements help with better quality of results delivered by Bing APIs and in turn enables higher click-through rates for the API consumer. IMPORTANT: Although optional, you should consider this header required. Persisting the client ID across multiple requests for the same end user and device combination enables 1) the API consumer to receive a consistent user experience, and 2) higher click-through rates via better quality of results from the Bing APIs. Each user that uses your application on the device must have a unique, Bing generated client ID. If you do not include this header in the request, Bing generates an ID and returns it in the X-MSEdge-ClientID response header. The only time that you should NOT include this header in a request is the first time the user uses your app on that device. Use the client ID for each Bing API request that your app makes for this user on the device. Persist the client ID. To persist the ID in a browser app, use a persistent HTTP cookie to ensure the ID is used across all sessions. Do not use a session cookie. For other apps such as mobile apps, use the device's persistent storage to persist the ID. The next time the user uses your app on that device, get the client ID that you persisted. Bing responses may or may not include this header. If the response includes this header, capture the client ID and use it for all subsequent Bing requests for the user on that device. ATTENTION: You must ensure that this Client ID is not linkable to any authenticatable user account information. If you include the X-MSEdge-ClientID, you must not include cookies in the request."
          in: header
          name: X-MSEdge-ClientID
          required: false
          type: string
          x-ms-client-name: ClientId
        - description: The IPv4 or IPv6 address of the client device. The IP address is used to discover the user's location. Bing uses the location information to determine safe search behavior. Although optional, you are encouraged to always specify this header and the X-Search-Location header. Do not obfuscate the address (for example, by changing the last octet to 0). Obfuscating the address results in the location not being anywhere near the device's actual location, which may result in Bing serving erroneous results.
          in: header
          name: X-MSEdge-ClientIP
          required: false
          type: string
          x-ms-client-name: ClientIp
        - description: "A semicolon-delimited list of key/value pairs that describe the client's geographical location. Bing uses the location information to determine safe search behavior and to return relevant local content. Specify the key/value pair as <key>:<value>. The following are the keys that you use to specify the user's location. lat (required): The latitude of the client's location, in degrees. The latitude must be greater than or equal to -90.0 and less than or equal to +90.0. Negative values indicate southern latitudes and positive values indicate northern latitudes. long (required): The longitude of the client's location, in degrees. The longitude must be greater than or equal to -180.0 and less than or equal to +180.0. Negative values indicate western longitudes and positive values indicate eastern longitudes. re (required): The radius, in meters, which specifies the horizontal accuracy of the coordinates. Pass the value returned by the device's location service. Typical values might be 22m for GPS/Wi-Fi, 380m for cell tower triangulation, and 18,000m for reverse IP lookup. ts (optional): The UTC UNIX timestamp of when the client was at the location. (The UNIX timestamp is the number of seconds since January 1, 1970.) head (optional): The client's relative heading or direction of travel. Specify the direction of travel as degrees from 0 through 360, counting clockwise relative to true north. Specify this key only if the sp key is nonzero. sp (optional): The horizontal velocity (speed), in meters per second, that the client device is traveling. alt (optional): The altitude of the client device, in meters. are (optional): The radius, in meters, that specifies the vertical accuracy of the coordinates. Specify this key only if you specify the alt key. Although many of the keys are optional, the more information that you provide, the more accurate the location results are. Although optional, you are encouraged to always specify the user's geographical location. Providing the location is especially important if the client's IP address does not accurately reflect the user's physical location (for example, if the client uses VPN). For optimal results, you should include this header and the X-MSEdge-ClientIP header, but at a minimum, you should include this header."
          in: header
          name: X-Search-Location
          required: false
          type: string
          x-ms-client-name: Location
        - description: "The market where the results come from. Typically, mkt is the country where the user is making the request from. However, it could be a different country if the user is not located in a country where Bing delivers results. The market must be in the form <language code>-<country code>. For example, en-US. The string is case insensitive. For a list of possible market values, see [Market Codes](https://docs.microsoft.com/en-us/azure/cognitive-services/bing-visual-search/supported-countries-markets). NOTE: If known, you are encouraged to always specify the market. Specifying the market helps Bing route the request and return an appropriate and optimal response. If you specify a market that is not listed in [Market Codes](https://docs.microsoft.com/en-us/azure/cognitive-services/bing-visual-search/supported-countries-markets), Bing uses a best fit market code based on an internal mapping that is subject to change."
          in: query
          name: mkt
          required: false
          type: string
          x-ms-client-name: Market
        - description: "Filter the image results in actions with type 'VisualSearch' for adult content. The following are the possible filter values. Off: May return images with adult content. Moderate: Do not return images with adult content. Strict: Do not return images with adult content. The default is Moderate. If the request comes from a market that Bing's adult policy requires that safeSearch is set to Strict, Bing ignores the safeSearch value and uses Strict. If you use the site: filter in the knowledge request, there is the chance that the response may contain adult content regardless of what the safeSearch query parameter is set to. Use site: only if you are aware of the content on the site and your scenario supports the possibility of adult content."
          enum:
            - Off
            - Moderate
            - Strict
          in: query
          name: safeSearch
          required: false
          type: string
          x-ms-client-name: SafeSearch
          x-ms-enum:
            modelAsString: true
            name: SafeSearch
        - description: The language to use for user interface strings. Specify the language using the ISO 639-1 2-letter language code. For example, the language code for English is EN. The default is EN (English). Although optional, you should always specify the language. Typically, you set setLang to the same language specified by mkt unless the user wants the user interface strings displayed in a different language. A user interface string is a string that's used as a label in a user interface. There are few user interface strings in the JSON response objects. Also, any links to Bing.com properties in the response objects apply the specified language.
          in: query
          name: setLang
          required: false
          type: string
          x-ms-client-name: SetLang
        - description: The form data is a JSON object that identifies the image using an insights token or URL to the image. The object may also include an optional crop area that identifies an area of interest in the image. The insights token and URL are mutually exclusive – do not specify both. You may specify knowledgeRequest form data and image form data in the same request only if knowledgeRequest form data specifies the cropArea field only (it must not include an insights token or URL).
          in: formData
          name: knowledgeRequest
          required: false
          type: string
          x-ms-client-name: VisualSearchRequest
        - description: The form data is an image binary. The Content-Disposition header's name parameter must be set to "image". You must specify an image binary if you do not use knowledgeRequest form data to specify the image; you may not use both forms to specify an image. You may specify knowledgeRequest form data and image form data in the same request only if knowledgeRequest form data specifies the cropArea field only  (it must not include an insights token or URL).
          in: formData
          name: image
          required: false
          type: file
          x-ms-client-name: Image
      responses:
        "200":
          description: Success.
          schema:
            $ref: "#/definitions/ImageKnowledge"
        default:
          description: An error has occurred. Check the response type and/or status code for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Visual Search API lets you discover insights about an image such as visually similar images, shopping sources, and related searches. The API can also perform text recognition, identify entities (people, places, things), return other topical content for the user to explore, and more. For more information, see [Visual Search Overview](https://docs.microsoft.com/azure/cognitive-services/bing-visual-search/overview).
      tags:
        - ImageVisualSearch
      x-ms-examples:
        Successful visual search:
          parameters:
            Content-Type: multipart/form-data
            Ocp-Apim-Subscription-Key: "{API key}"
            X-BingApis-SDK: "true"
            image: multipart-form-data
            knowledgeRequest: "{\r

              \            \"imageInfo\": {\r

              \                \"imageInsightsToken\": \"{Image Insights Token}\",\r

              \                \"url\": \"{Image URL}\",\r

              \                \"cropArea\": {\r

              \                    \"top\": \"0.1\",\r

              \                    \"bottom\": \"0.9\",\r

              \                    \"left\": \"0.1\",\r

              \                    \"right\": \"0.9\"\r

              \                }\r

              \            }\r

              \        }"
          responses:
            "200":
              body:
                _type: ImageKnowledge
                image:
                  imageInsightsToken: ccid_5raYvpmc*mid_28189CE73748FE8CB0AB80F7B377C4DA64EA132E
                tags:
                  - actions:
                      - _type: ImageAction
                        actionType: ImageById
                        image:
                          accentColor: 31749A
                          contentSize: 47157 B
                          contentUrl: https://assets0.roadtrippers.com/uploads/poi_gallery_image/image/319703805/-quality_60_-interlace_Plane_-resize_1024x480_U__-gravity_center_-extent_1024x480/poi_gallery_image-image-9e436dcb-f4af-4965-9fd6-d526b1af1758.jpg
                          encodingFormat: jpeg
                          height: 480
                          hostPageDisplayUrl: https://assets0.roadtrippers.com/uploads/poi_gallery_image/image/319703805/-quality_60_-interlace_Plane_-resize_1024x480_U__-gravity_center_-extent_1024x480/poi_gallery_image-image-9e436dcb-f4af-4965-9fd6-d526b1af1758.jpg
                          hostPageUrl: https://assets0.roadtrippers.com/uploads/poi_gallery_image/image/319703805/-quality_60_-interlace_Plane_-resize_1024x480_U__-gravity_center_-extent_1024x480/poi_gallery_image-image-9e436dcb-f4af-4965-9fd6-d526b1af1758.jpg
                          name: ""
                          thumbnail:
                            height: 0
                            width: 0
                          webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO
                          width: 1024
                    boundingBox:
                      displayRectangle:
                        bottomLeft:
                          x: 0
                          y: 1
                        bottomRight:
                          x: 1
                          y: 1
                        topLeft:
                          x: 0
                          y: 0
                        topRight:
                          x: 1
                          y: 0
                      queryRectangle:
                        bottomLeft:
                          x: 0
                          y: 1
                        bottomRight:
                          x: 1
                          y: 1
                        topLeft:
                          x: 0
                          y: 0
                        topRight:
                          x: 1
                          y: 0
                    displayName: Space Needle
                    image:
                      thumbnailUrl: https://tse4.mm.bing.net/th?q=Space+Needle&pid=Api&mkt=en-US&adlt=moderate
                  - actions:
                      - _type: ImageAction
                        actionType: ImageResults
                        displayName: city
                        serviceUrl: https://www.bing.com/api/v7/images/search?q=city
                        webSearchUrl: https://www.bing.com/images/search?q=city
                    boundingBox:
                      displayRectangle:
                        bottomLeft:
                          x: 0
                          y: 1
                        bottomRight:
                          x: 1
                          y: 1
                        topLeft:
                          x: 0
                          y: 0
                        topRight:
                          x: 1
                          y: 0
                      queryRectangle:
                        bottomLeft:
                          x: 0
                          y: 1
                        bottomRight:
                          x: 1
                          y: 1
                        topLeft:
                          x: 0
                          y: 0
                        topRight:
                          x: 1
                          y: 0
                    displayName: city
                    image:
                      thumbnailUrl: https://tse4.mm.bing.net/th?q=city&pid=Api&mkt=en-US&adlt=moderate
              headers: {}
definitions:
  Action:
    allOf:
      - $ref: "#/definitions/CreativeWork"
    description: Defines an action.
    properties:
      displayName:
        description: A display name for the action.
        readOnly: true
        type: string
      isTopAction:
        description: A Boolean representing whether this result is the top action.
        readOnly: true
        type: boolean
      result:
        description: The result produced in the action.
        items:
          $ref: "#/definitions/Thing"
        readOnly: true
        type: array
      serviceUrl:
        description: Use this URL to get additional data to determine how to take the appropriate action. For example, the serviceUrl might return JSON along with an image URL.
        readOnly: true
        type: string
    type: object
  AggregateOffer:
    allOf:
      - $ref: "#/definitions/Offer"
    description: Defines a list of offers from merchants that are related to the image.
    properties:
      offers:
        description: A list of offers from merchants that have offerings related to the image.
        items:
          $ref: "#/definitions/Offer"
        readOnly: true
        type: array
    type: object
  AggregateRating:
    allOf:
      - $ref: "#/definitions/Rating"
    description: Defines the metrics that indicate how well an item was rated by others.
    properties:
      reviewCount:
        description: The number of times the recipe has been rated or reviewed.
        format: int32
        readOnly: true
        type: integer
    type: object
  CreativeWork:
    allOf:
      - $ref: "#/definitions/Thing"
    description: The most generic kind of creative work, including books, movies, photographs, software programs, etc.
    properties:
      datePublished:
        description: The date on which the CreativeWork was published.
        readOnly: true
        type: string
      provider:
        description: The source of the creative work.
        items:
          $ref: "#/definitions/Thing"
        readOnly: true
        type: array
      text:
        description: Text content of this creative work.
        readOnly: true
        type: string
      thumbnailUrl:
        description: The URL to a thumbnail of the item.
        readOnly: true
        type: string
    type: object
  CropArea:
    description: A JSON object consisting of coordinates specifying the four corners of a cropped rectangle within the input image.
    properties:
      bottom:
        description: The bottom coordinate of the region to be cropped. The coordinate is a fractional value of the original image's height and is measured from the top edge of the image. Specify the coordinate as a value from 0.0 through 1.0.
        format: float
        type: number
      left:
        description: The left coordinate of the region to be cropped. The coordinate is a fractional value of the original image's width and is measured from the left edge of the image. Specify the coordinate as a value from 0.0 through 1.0.
        format: float
        type: number
      right:
        description: The right coordinate of the region to be cropped. The coordinate is a fractional value of the original image's width and is measured from the left edge of the image. Specify the coordinate as a value from 0.0 through 1.0.
        format: float
        type: number
      top:
        description: The top coordinate of the region to be cropped. The coordinate is a fractional value of the original image's height and is measured from the top edge of the image. Specify the coordinate as a value from 0.0 through 1.0.
        format: float
        type: number
    required:
      - top
      - bottom
      - left
      - right
    type: object
  Error:
    description: Defines the error that occurred.
    properties:
      code:
        default: None
        description: The error code that identifies the category of error.
        enum:
          - None
          - ServerError
          - InvalidRequest
          - RateLimitExceeded
          - InvalidAuthorization
          - InsufficientAuthorization
        type: string
        x-ms-enum:
          modelAsString: true
          name: ErrorCode
      message:
        description: A description of the error.
        type: string
      moreDetails:
        description: A description that provides additional information about the error.
        readOnly: true
        type: string
      parameter:
        description: The parameter in the request that caused the error.
        readOnly: true
        type: string
      subCode:
        description: The error code that further helps to identify the error.
        enum:
          - UnexpectedError
          - ResourceError
          - NotImplemented
          - ParameterMissing
          - ParameterInvalidValue
          - HttpNotAllowed
          - Blocked
          - AuthorizationMissing
          - AuthorizationRedundancy
          - AuthorizationDisabled
          - AuthorizationExpired
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ErrorSubCode
      value:
        description: The parameter's value in the request that was not valid.
        readOnly: true
        type: string
    required:
      - code
      - message
    type: object
  ErrorResponse:
    allOf:
      - $ref: "#/definitions/Response"
    description: The top-level response that represents a failed request.
    properties:
      errors:
        description: A list of errors that describe the reasons why the request failed.
        items:
          $ref: "#/definitions/Error"
        type: array
    required:
      - errors
    type: object
  Filters:
    description: "A key-value object consisting of filters that may be specified to limit the results returned by the API. Current available filters: site."
    properties:
      site:
        description: The URL of the site to return similar images and similar products from. (e.g., "www.bing.com", "bing.com").
        type: string
    type: object
  Identifiable:
    allOf:
      - $ref: "#/definitions/ResponseBase"
    description: Defines the identity of a resource.
    properties:
      id:
        description: A String identifier.
        readOnly: true
        type: string
    type: object
  ImageAction:
    allOf:
      - $ref: "#/definitions/Action"
    description: Defines an image action.
    discriminator: _type
    properties:
      _type:
        description: Specifies the sub-class of the action.
        enum:
          - ImageEntityAction
          - ImageModuleAction
          - ImageRecipesAction
          - ImageRelatedSearchesAction
          - ImageShoppingSourcesAction
        type: string
      actionType:
        description: A string representing the type of action.
        readOnly: true
        type: string
    type: object
  ImageEntityAction:
    allOf:
      - $ref: "#/definitions/ImageAction"
    description: Defines an entity action.
    type: object
    x-ms-discriminator-value: ImageEntityAction
  ImageInfo:
    description: A JSON object that identities the image to get insights of . It also includes the optional crop area that you use to identify the region of interest in the image.
    properties:
      cropArea:
        $ref: "#/definitions/CropArea"
        description: A JSON object consisting of coordinates specifying the four corners of a cropped rectangle within the input image. Use the crop area to identify the region of interest in the image. You can apply the crop area to the images specified using the imageInsightsToken or url fields, or an image binary specified in an image form data.
      imageInsightsToken:
        description: An image insights token. To get the insights token, call one of the Image Search APIs (for example, /images/search). In the search results, the [Image](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#image) object's [imageInsightsToken](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#image-imageinsightstoken) field contains the token. The imageInsightsToken and url fields mutually exclusive; do not specify both. Do not specify an insights token if the request includes the image form data.
        type: string
      url:
        description: The URL of the input image. The imageInsightsToken and url fields are mutually exclusive; do not specify both. Do not specify the URL if the request includes the image form data.
        type: string
    type: object
  ImageKnowledge:
    allOf:
      - $ref: "#/definitions/Response"
    description: Defines a visual search API response.
    properties:
      image:
        $ref: "#/definitions/ImageObject"
        description: Image object containing metadata about the requested image.
        readOnly: true
      tags:
        description: A list of visual search tags.
        items:
          $ref: "#/definitions/ImageTag"
        readOnly: true
        type: array
    type: object
  ImageModuleAction:
    allOf:
      - $ref: "#/definitions/ImageAction"
    description: Defines an image list action.
    properties:
      data:
        $ref: "#/definitions/ImagesModule"
        description: A list of images.
        readOnly: true
    type: object
    x-ms-discriminator-value: ImageModuleAction
  ImageObject:
    allOf:
      - $ref: "#/definitions/MediaObject"
    description: Defines an image.
    properties:
      accentColor:
        description: A three-byte hexadecimal number that represents the color that dominates the image. Use the color as the temporary background in your client until the image is loaded.
        readOnly: true
        type: string
      imageId:
        description: Unique Id for the image.
        readOnly: true
        type: string
      imageInsightsToken:
        description: The token that you use in a subsequent call to Visual Search API to get additional information about the image. For information about using this token, see the imageInsightsToken field inside the knowledgeRequest request parameter.
        readOnly: true
        type: string
      insightsMetadata:
        $ref: "#/definitions/ImagesImageMetadata"
        description: A count of the number of websites where you can shop or perform other actions related to the image. For example, if the image is of an apple pie, this object includes a count of the number of websites where you can buy an apple pie. To indicate the number of offers in your UX, include badging such as a shopping cart icon that contains the count. When the user clicks on the icon, use imageInsightsToken in a subsequent Visual Search API call to get the list of shopping websites.
        readOnly: true
      thumbnail:
        $ref: "#/definitions/ImageObject"
        description: The URL to a thumbnail of the image.
        readOnly: true
      visualWords:
        description: For internal use only.
        readOnly: true
        type: string
    type: object
  ImageRecipesAction:
    allOf:
      - $ref: "#/definitions/ImageAction"
    description: Defines an recipe action.
    properties:
      data:
        $ref: "#/definitions/RecipesModule"
        description: A list of recipes related to the image.
        readOnly: true
    type: object
    x-ms-discriminator-value: ImageRecipesAction
  ImageRelatedSearchesAction:
    allOf:
      - $ref: "#/definitions/ImageAction"
    description: Defines an related search action.
    properties:
      data:
        $ref: "#/definitions/RelatedSearchesModule"
        description: A list of queries related to the image.
        readOnly: true
    type: object
    x-ms-discriminator-value: ImageRelatedSearchesAction
  ImageShoppingSourcesAction:
    allOf:
      - $ref: "#/definitions/ImageAction"
    description: Defines a shopping sources action.
    properties:
      data:
        $ref: "#/definitions/AggregateOffer"
        description: A list of merchants that offer items related to the image.
        readOnly: true
    type: object
    x-ms-discriminator-value: ImageShoppingSourcesAction
  ImageTag:
    allOf:
      - $ref: "#/definitions/Thing"
    description: A visual search tag.
    properties:
      actions:
        description: Actions within this tag. The order of the items denotes the default ranking order of these actions, with the first action being the most likely user intent.
        items:
          $ref: "#/definitions/ImageAction"
        readOnly: true
        type: array
      boundingBox:
        $ref: "#/definitions/ImageTagRegion"
        description: The bounding box for this tag. For the default tag, there is no bounding box.
        readOnly: true
      displayName:
        description: Display name for this tag. For the default tag, the display name is empty.
        readOnly: true
        type: string
    type: object
  ImageTagRegion:
    description: Defines an image region relevant to the ImageTag.
    properties:
      displayRectangle:
        $ref: "#/definitions/NormalizedQuadrilateral"
        description: A recommended rectangle to show to the user.
      queryRectangle:
        $ref: "#/definitions/NormalizedQuadrilateral"
        description: A rectangle that outlines the area of interest for this tag.
    required:
      - queryRectangle
      - displayRectangle
    type: object
  ImagesImageMetadata:
    description: Defines a count of the number of websites where you can shop or perform other actions related to the image.
    properties:
      aggregateOffer:
        $ref: "#/definitions/AggregateOffer"
        description: "A summary of the online offers of products found in the image. For example, if the image is of a dress, the offer might identify the lowest price and the number of offers found. Only visually similar products insights include this field. The offer includes the following fields: Name, AggregateRating, OfferCount, and LowPrice."
        readOnly: true
      recipeSourcesCount:
        description: The number of websites that offer recipes of the food seen in the image.
        format: int32
        readOnly: true
        type: integer
      shoppingSourcesCount:
        description: The number of websites that sell the products seen in the image.
        format: int32
        readOnly: true
        type: integer
    type: object
    x-ms-discriminator-value: Images/ImageMetadata
  ImagesModule:
    description: Defines a list of images.
    properties:
      value:
        description: A list of images.
        items:
          $ref: "#/definitions/ImageObject"
        readOnly: true
        type: array
    type: object
  Intangible:
    allOf:
      - $ref: "#/definitions/Thing"
    description: A utility class that serves as the umbrella for a number of 'intangible' things such as quantities, structured values, etc.
    type: object
  KnowledgeRequest:
    description: A JSON object containing information about the request, such as filters for the resulting actions.
    properties:
      filters:
        $ref: "#/definitions/Filters"
        description: A key-value object consisting of filters that may be specified to limit the results returned by the API.
    type: object
  MediaObject:
    allOf:
      - $ref: "#/definitions/CreativeWork"
    description: Defines a media object.
    properties:
      contentSize:
        description: Size of the media object content. Use format "value unit" (e.g., "1024 B").
        readOnly: true
        type: string
      contentUrl:
        description: Original URL to retrieve the source (file) for the media object (e.g., the source URL for the image).
        readOnly: true
        type: string
      encodingFormat:
        description: Encoding format (e.g., png, gif, jpeg, etc).
        readOnly: true
        type: string
      height:
        description: The height of the media object, in pixels.
        format: int32
        readOnly: true
        type: integer
      hostPageDisplayUrl:
        description: Display URL of the page that hosts the media object.
        readOnly: true
        type: string
      hostPageUrl:
        description: URL of the page that hosts the media object.
        readOnly: true
        type: string
      width:
        description: The width of the media object, in pixels.
        format: int32
        readOnly: true
        type: integer
    type: object
  NormalizedQuadrilateral:
    allOf:
      - $ref: "#/definitions/StructuredValue"
    description: Defines a region of an image. The region is a convex quadrilateral defined by coordinates of its top left, top right, bottom left, and bottom right points. The coordinates are fractional values of the original image's width and height in the range 0.0 through 1.0.
    properties:
      bottomLeft:
        $ref: "#/definitions/Point2D"
        description: The bottom left corner coordinate.
      bottomRight:
        $ref: "#/definitions/Point2D"
        description: The bottom right corner coordinate.
      topLeft:
        $ref: "#/definitions/Point2D"
        description: The top left corner coordinate.
      topRight:
        $ref: "#/definitions/Point2D"
        description: The top right corner coordinate.
    required:
      - topLeft
      - topRight
      - bottomRight
      - bottomLeft
    type: object
  Offer:
    allOf:
      - $ref: "#/definitions/Thing"
    description: Defines a merchant's offer.
    properties:
      aggregateRating:
        $ref: "#/definitions/AggregateRating"
        description: An aggregated rating that indicates how well the product has been rated by others.
        readOnly: true
      availability:
        description: "The item's availability. The following are the possible values: Discontinued, InStock, InStoreOnly, LimitedAvailability, OnlineOnly, OutOfStock, PreOrder, SoldOut."
        enum:
          - Discontinued
          - InStock
          - InStoreOnly
          - LimitedAvailability
          - OnlineOnly
          - OutOfStock
          - PreOrder
          - SoldOut
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ItemAvailability
      lastUpdated:
        description: The last date that the offer was updated. The date is in the form YYYY-MM-DD.
        readOnly: true
        type: string
      price:
        description: The item's price.
        format: float
        readOnly: true
        type: number
      priceCurrency:
        default: USD
        description: The monetary currency. For example, USD.
        enum:
          - USD
          - CAD
          - GBP
          - EUR
          - COP
          - JPY
          - CNY
          - AUD
          - INR
          - AED
          - AFN
          - ALL
          - AMD
          - ANG
          - AOA
          - ARS
          - AWG
          - AZN
          - BAM
          - BBD
          - BDT
          - BGN
          - BHD
          - BIF
          - BMD
          - BND
          - BOB
          - BOV
          - BRL
          - BSD
          - BTN
          - BWP
          - BYR
          - BZD
          - CDF
          - CHE
          - CHF
          - CHW
          - CLF
          - CLP
          - COU
          - CRC
          - CUC
          - CUP
          - CVE
          - CZK
          - DJF
          - DKK
          - DOP
          - DZD
          - EGP
          - ERN
          - ETB
          - FJD
          - FKP
          - GEL
          - GHS
          - GIP
          - GMD
          - GNF
          - GTQ
          - GYD
          - HKD
          - HNL
          - HRK
          - HTG
          - HUF
          - IDR
          - ILS
          - IQD
          - IRR
          - ISK
          - JMD
          - JOD
          - KES
          - KGS
          - KHR
          - KMF
          - KPW
          - KRW
          - KWD
          - KYD
          - KZT
          - LAK
          - LBP
          - LKR
          - LRD
          - LSL
          - LYD
          - MAD
          - MDL
          - MGA
          - MKD
          - MMK
          - MNT
          - MOP
          - MRO
          - MUR
          - MVR
          - MWK
          - MXN
          - MXV
          - MYR
          - MZN
          - NAD
          - NGN
          - NIO
          - NOK
          - NPR
          - NZD
          - OMR
          - PAB
          - PEN
          - PGK
          - PHP
          - PKR
          - PLN
          - PYG
          - QAR
          - RON
          - RSD
          - RUB
          - RWF
          - SAR
          - SBD
          - SCR
          - SDG
          - SEK
          - SGD
          - SHP
          - SLL
          - SOS
          - SRD
          - SSP
          - STD
          - SYP
          - SZL
          - THB
          - TJS
          - TMT
          - TND
          - TOP
          - TRY
          - TTD
          - TWD
          - TZS
          - UAH
          - UGX
          - UYU
          - UZS
          - VEF
          - VND
          - VUV
          - WST
          - XAF
          - XCD
          - XOF
          - XPF
          - YER
          - ZAR
          - ZMW
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: Currency
      seller:
        $ref: "#/definitions/Organization"
        description: Seller for this offer.
        readOnly: true
    type: object
  Organization:
    allOf:
      - $ref: "#/definitions/Thing"
    description: Defines an organization.
    properties: {}
    type: object
  Person:
    allOf:
      - $ref: "#/definitions/Thing"
    description: Defines a person.
    properties:
      jobTitle:
        description: The person's job title.
        readOnly: true
        type: string
      twitterProfile:
        description: The URL of the person's twitter profile.
        readOnly: true
        type: string
    type: object
  Point2D:
    allOf:
      - $ref: "#/definitions/StructuredValue"
    description: Defines a 2D point with X and Y coordinates.
    properties:
      x:
        description: The x-coordinate of the point.
        format: float
        type: number
      y:
        description: The y-coordinate of the point.
        format: float
        type: number
    required:
      - x
      - y
    type: object
  PropertiesItem:
    description: Defines an item.
    discriminator: _type
    properties:
      _type:
        type: string
      text:
        description: Text representation of an item.
        readOnly: true
        type: string
    required:
      - _type
    type: object
    x-ms-discriminator-value: Properties/Item
  Query:
    description: Defines a search query.
    properties:
      displayText:
        description: The display version of the query term.
        readOnly: true
        type: string
      searchLink:
        description: The URL that you use to get the results of the related search. Before using the URL, you must append query parameters as appropriate and include the Ocp-Apim-Subscription-Key header. Use this URL if you're displaying the results in your own user interface. Otherwise, use the webSearchUrl URL.
        readOnly: true
        type: string
      text:
        description: The query string. Use this string as the query term in a new search request.
        type: string
      thumbnail:
        $ref: "#/definitions/ImageObject"
        description: The URL to a thumbnail of a related image.
        readOnly: true
      webSearchUrl:
        description: The URL that takes the user to the Bing search results page for the query.
        readOnly: true
        type: string
    required:
      - text
    type: object
  Rating:
    allOf:
      - $ref: "#/definitions/PropertiesItem"
    description: Defines a rating.
    properties:
      bestRating:
        description: The highest rated review. The possible values are 1.0 through 5.0.
        format: float
        readOnly: true
        type: number
      ratingValue:
        description: The mean (average) rating. The possible values are 1.0 through 5.0.
        format: float
        type: number
    required:
      - ratingValue
    type: object
  Recipe:
    allOf:
      - $ref: "#/definitions/CreativeWork"
    description: Defines a cooking recipe.
    properties:
      cookTime:
        description: The amount of time the food takes to cook. For example, PT25M. For information about the time format, see http://en.wikipedia.org/wiki/ISO_8601#Durations.
        readOnly: true
        type: string
      prepTime:
        description: The amount of time required to prepare the ingredients. For example, PT15M. For information about the time format, see http://en.wikipedia.org/wiki/ISO_8601#Durations.
        readOnly: true
        type: string
      totalTime:
        description: The total amount of time it takes to prepare and cook the recipe. For example, PT45M. For information about the time format, see http://en.wikipedia.org/wiki/ISO_8601#Durations.
        readOnly: true
        type: string
    type: object
  RecipesModule:
    description: Defines a list of recipes.
    properties:
      value:
        description: A list of recipes.
        items:
          $ref: "#/definitions/Recipe"
        readOnly: true
        type: array
    type: object
  RelatedSearchesModule:
    description: Defines a list of related searches.
    properties:
      value:
        description: A list of related searches.
        items:
          $ref: "#/definitions/Query"
        readOnly: true
        type: array
    type: object
  Response:
    allOf:
      - $ref: "#/definitions/Identifiable"
    description: Defines a response. All schemas that return at the root of the response must inherit from this object.
    properties:
      readLink:
        description: The URL that returns this resource. To use the URL, append query parameters as appropriate and include the Ocp-Apim-Subscription-Key header.
        readOnly: true
        type: string
      webSearchUrl:
        description: The URL to Bing's search result for this item.
        readOnly: true
        type: string
    type: object
  ResponseBase:
    description: Response base.
    discriminator: _type
    properties:
      _type:
        type: string
    type: object
  StructuredValue:
    allOf:
      - $ref: "#/definitions/Intangible"
    type: object
  Thing:
    allOf:
      - $ref: "#/definitions/Response"
    description: Defines a thing.
    properties:
      alternateName:
        description: An alias for the item.
        readOnly: true
        type: string
      bingId:
        description: An ID that uniquely identifies this item.
        readOnly: true
        type: string
      description:
        description: A short description of the item.
        readOnly: true
        type: string
      image:
        $ref: "#/definitions/ImageObject"
        description: An image of the item.
        readOnly: true
      name:
        description: The name of the thing represented by this object.
        readOnly: true
        type: string
      url:
        description: The URL to get more information about the thing represented by this object.
        readOnly: true
        type: string
    type: object
  VisualSearchRequest:
    description: A JSON object that contains information about the image to get insights of. Specify this object only in a knowledgeRequest form data.
    properties:
      imageInfo:
        $ref: "#/definitions/ImageInfo"
        description: A JSON object that identities the image to get insights of.
      knowledgeRequest:
        $ref: "#/definitions/KnowledgeRequest"
        description: A JSON object containing information about the request, such as filters, or a description.
    type: object
x-ms-parameterized-host:
  hostTemplate: "{Endpoint}"
  parameters:
    - default: https://api.cognitive.microsoft.com
      description: 'Supported Cognitive Services endpoints (protocol and hostname, for example: "https://westus.api.cognitive.microsoft.com", "https://api.cognitive.microsoft.com").'
      x-ms-parameter-location: client
      x-ms-skip-url-encoding: true
  useSchemePrefix: false
