swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Azure Event Hubs client
  title: EventHubManagementClient
  version: 2015-08-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/eventhub/resource-manager/Microsoft.EventHub/stable/2015-08-01/EventHub.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: eventhub-EventHub
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client API Version.
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
  authorizationRuleNameParameter:
    description: The authorization rule name.
    in: path
    maxLength: 50
    minLength: 1
    name: authorizationRuleName
    required: true
    type: string
    x-ms-parameter-location: method
  consumerGroupNameParameter:
    description: The consumer group name
    in: path
    maxLength: 50
    minLength: 1
    name: consumerGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  eventHubNameParameter:
    description: The Event Hub name
    in: path
    maxLength: 50
    minLength: 1
    name: eventHubName
    required: true
    type: string
    x-ms-parameter-location: method
  namespaceNameParameter:
    description: The Namespace name
    in: path
    maxLength: 50
    minLength: 6
    name: namespaceName
    required: true
    type: string
    x-ms-parameter-location: method
  resourceGroupNameParameter:
    description: Name of the resource group within the azure subscription.
    in: path
    maxLength: 90
    minLength: 1
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  /providers/Microsoft.EventHub/operations:
    get:
      description: Lists all of the available Event Hub REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/OperationListResult"
      tags:
        - Operations
      x-ms-examples:
        EHOperations_List:
          parameters:
            api-version: 2016-07-01
          responses:
            "200":
              body:
                value:
                  - display:
                      operation: Get namespace availability.
                      provider: Microsoft Azure EventHub
                      resource: Non Resource Operation
                    name: Microsoft.EventHub/checkNameAvailability/action
                  - display:
                      operation: Registers the EventHub Resource Provider
                      provider: Microsoft Azure EventHub
                      resource: EventHub Resource Provider
                    name: Microsoft.EventHub/register/action
                  - display:
                      operation: "Create Or Update Namespace "
                      provider: Microsoft Azure EventHub
                      resource: Namespace
                    name: Microsoft.EventHub/namespaces/write
                  - display:
                      operation: Get Namespace Resource
                      provider: Microsoft Azure EventHub
                      resource: Namespace
                    name: Microsoft.EventHub/namespaces/read
                  - display:
                      operation: Delete Namespace
                      provider: Microsoft Azure EventHub
                      resource: Namespace
                    name: Microsoft.EventHub/namespaces/Delete
                  - display:
                      operation: Get Namespace Authorization Rules
                      provider: Microsoft Azure EventHub
                      resource: AuthorizationRules
                    name: Microsoft.EventHub/namespaces/authorizationRules/read
                  - display:
                      operation: Create or Update Namespace Authorization Rules
                      provider: Microsoft Azure EventHub
                      resource: AuthorizationRules
                    name: Microsoft.EventHub/namespaces/authorizationRules/write
                  - display:
                      operation: Delete Namespace Authorization Rule
                      provider: Microsoft Azure EventHub
                      resource: AuthorizationRules
                    name: Microsoft.EventHub/namespaces/authorizationRules/delete
                  - display:
                      operation: Get Namespace Listkeys
                      provider: Microsoft Azure EventHub
                      resource: AuthorizationRules
                    name: Microsoft.EventHub/namespaces/authorizationRules/listkeys/action
                  - display:
                      operation: Resource Regeneratekeys
                      provider: Microsoft Azure EventHub
                      resource: AuthorizationRules
                    name: Microsoft.EventHub/namespaces/authorizationRules/regenerateKeys/action
                  - display:
                      operation: Create or Update EventHub
                      provider: Microsoft Azure EventHub
                      resource: EventHub
                    name: Microsoft.EventHub/namespaces/eventhubs/write
                  - display:
                      operation: Get EventHub
                      provider: Microsoft Azure EventHub
                      resource: EventHub
                    name: Microsoft.EventHub/namespaces/eventhubs/read
                  - display:
                      operation: Delete EventHub
                      provider: Microsoft Azure EventHub
                      resource: EventHub
                    name: Microsoft.EventHub/namespaces/eventhubs/Delete
                  - display:
                      operation: " Get EventHub Authorization Rules"
                      provider: Microsoft Azure EventHub
                      resource: EventHub AuthorizationRules
                    name: Microsoft.EventHub/namespaces/eventhubs/authorizationRules/read
                  - display:
                      operation: Create or Update EventHub Authorization Rule
                      provider: Microsoft Azure EventHub
                      resource: EventHub AuthorizationRules
                    name: Microsoft.EventHub/namespaces/eventhubs/authorizationRules/write
                  - display:
                      operation: Delete EventHub Authorization Rules
                      provider: Microsoft Azure EventHub
                      resource: EventHub AuthorizationRules
                    name: Microsoft.EventHub/namespaces/eventhubs/authorizationRules/delete
                  - display:
                      operation: List EventHub keys
                      provider: Microsoft Azure EventHub
                      resource: EventHub AuthorizationRules
                    name: Microsoft.EventHub/namespaces/eventhubs/authorizationRules/listkeys/action
                  - display:
                      operation: Resource Regeneratekeys
                      provider: Microsoft Azure EventHub
                      resource: EventHub AuthorizationRules
                    name: Microsoft.EventHub/namespaces/eventhubs/authorizationRules/regenerateKeys/action
                  - display:
                      operation: Create or Update ConsumerGroup
                      provider: Microsoft Azure EventHub
                      resource: ConsumerGroup
                    name: Microsoft.EventHub/namespaces/eventHubs/consumergroups/write
                  - display:
                      operation: Get ConsumerGroup
                      provider: Microsoft Azure EventHub
                      resource: ConsumerGroup
                    name: Microsoft.EventHub/namespaces/eventHubs/consumergroups/read
                  - display:
                      operation: Delete ConsumerGroup
                      provider: Microsoft Azure EventHub
                      resource: ConsumerGroup
                    name: Microsoft.EventHub/namespaces/eventHubs/consumergroups/Delete
                  - display:
                      operation: Get Namespace metrics
                      provider: Microsoft Azure EventHub
                      resource: Namespace metrics
                    name: Microsoft.EventHub/namespaces/metricDefinitions/read
                  - display:
                      operation: Get Namespace diagnostic settings
                      provider: Microsoft Azure EventHub
                      resource: Namespace diagnostic settings
                    name: Microsoft.EventHub/namespaces/diagnosticSettings/read
                  - display:
                      operation: Create or Update Namespace diagnostic settings
                      provider: Microsoft Azure EventHub
                      resource: Namespace diagnostic settings
                    name: Microsoft.EventHub/namespaces/diagnosticSettings/write
                  - display:
                      operation: Get Namespace logs
                      provider: Microsoft Azure EventHub
                      resource: Namespace logs
                    name: Microsoft.EventHub/namespaces/logDefinitions/read
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.EventHub/CheckNameAvailability":
    post:
      description: Check the give Namespace name availability.
      operationId: Namespaces_CheckNameAvailability
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: Parameters to check availability of the given Namespace name
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/CheckNameAvailabilityParameter"
      responses:
        "200":
          description: check availability returned successfully.
          schema:
            $ref: "#/definitions/CheckNameAvailabilityResult"
      tags:
        - Namespaces
      x-ms-examples:
        NamespacesCheckNameAvailability:
          parameters:
            api-version: 2015-08-01
            parameters:
              name: sdk-Namespace8107
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                message: " "
                nameAvailable: true
                reason: None
  "/subscriptions/{subscriptionId}/providers/Microsoft.EventHub/namespaces":
    get:
      description: Lists all the available Namespaces within a subscription, irrespective of the resource groups.
      operationId: Namespaces_ListBySubscription
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Namespaces returned successfully.
          schema:
            $ref: "#/definitions/NamespaceListResult"
      tags:
        - Namespaces
      x-ms-examples:
        NamespacesListBySubscription:
          parameters:
            api-version: 2015-08-01
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace-5166
                    location: Australia East
                    name: sdk-Namespace-5166
                    properties:
                      createdAt: 2017-02-24T06:45:29.38Z
                      enabled: true
                      metricId: e2f361f0-3b27-4503-a9cc-21cfba380093:sdk-namespace-5166
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://sdk-Namespace-5166.servicebus.windows.net:443/
                      status: Active
                      updatedAt: 2017-02-24T06:45:54.807Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/namespaces
                  - id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/Eventhub-Namespace-onesdk2423
                    location: West US
                    name: Eventhub-Namespace-onesdk2423
                    properties:
                      createdAt: 2017-02-08T00:45:03.127Z
                      enabled: true
                      metricId: e2f361f0-3b27-4503-a9cc-21cfba380093:eventhub-namespace-onesdk2423
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://Eventhub-Namespace-onesdk2423.servicebus.windows.net:443/
                      status: Active
                      updatedAt: 2017-02-08T00:45:24.713Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/namespaces
                  - id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace7810
                    location: South Central US
                    name: sdk-Namespace7810
                    properties:
                      createdAt: 2017-02-23T05:42:25.597Z
                      enabled: true
                      metricId: e2f361f0-3b27-4503-a9cc-21cfba380093:sdk-namespace7810
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://sdk-Namespace7810.servicebus.windows.net:443/
                      status: Active
                      updatedAt: 2017-02-23T05:42:47.16Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/namespaces
                  - id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace-9769
                    location: Australia East
                    name: sdk-Namespace-9769
                    properties:
                      createdAt: 2017-03-07T23:29:55.917Z
                      enabled: true
                      metricId: e2f361f0-3b27-4503-a9cc-21cfba380093:sdk-namespace-9769
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://sdk-Namespace-9769.servicebus.windows.net:443/
                      status: Active
                      updatedAt: 2017-03-07T23:30:21.6Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/namespaces
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces":
    get:
      description: Lists the available Namespaces within a resource group.
      operationId: Namespaces_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Namespaces returned successfully.
          schema:
            $ref: "#/definitions/NamespaceListResult"
      tags:
        - Namespaces
      x-ms-examples:
        NamespaceListByResourceGroup:
          parameters:
            api-version: 2015-08-01
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace-5166
                    location: Australia East
                    name: sdk-Namespace-5166
                    properties:
                      createdAt: 2017-02-24T06:45:29.38Z
                      enabled: true
                      metricId: e2f361f0-3b27-4503-a9cc-21cfba380093:sdk-namespace-5166
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://sdk-Namespace-5166.servicebus.windows.net:443/
                      status: Active
                      updatedAt: 2017-02-24T06:45:54.807Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/namespaces
                  - id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/Eventhub-Namespace-onesdk2423
                    location: West US
                    name: Eventhub-Namespace-onesdk2423
                    properties:
                      createdAt: 2017-02-08T00:45:03.127Z
                      enabled: true
                      metricId: e2f361f0-3b27-4503-a9cc-21cfba380093:eventhub-namespace-onesdk2423
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://Eventhub-Namespace-onesdk2423.servicebus.windows.net:443/
                      status: Active
                      updatedAt: 2017-02-08T00:45:24.713Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/namespaces
                  - id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/Eventhub-Namespace-onesdk6253
                    location: West US
                    name: Eventhub-Namespace-onesdk6253
                    properties:
                      createdAt: 2017-02-08T01:50:05.17Z
                      enabled: true
                      metricId: e2f361f0-3b27-4503-a9cc-21cfba380093:eventhub-namespace-onesdk6253
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://Eventhub-Namespace-onesdk6253.servicebus.windows.net:443/
                      status: Active
                      updatedAt: 2017-02-08T01:50:27.94Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/namespaces
                  - id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace-4772
                    location: Australia East
                    name: sdk-Namespace-4772
                    properties:
                      createdAt: 2017-03-07T23:43:36.89Z
                      enabled: true
                      metricId: e2f361f0-3b27-4503-a9cc-21cfba380093:sdk-namespace-4772
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://sdk-Namespace-4772.servicebus.windows.net:443/
                      status: Active
                      updatedAt: 2017-03-07T23:44:05.807Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.EventHub/namespaces
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}":
    delete:
      description: Deletes an existing namespace. This operation also removes all associated resources under the namespace.
      operationId: Namespaces_Delete
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Namespace successfully deleted.
        "202":
          description: Namespace delete request accepted.
        "204":
          description: No content.
      tags:
        - Namespaces
      x-ms-examples:
        NameSpaceDelete:
          parameters:
            api-version: 2015-08-01
            namespaceName: sdk-Namespace8107
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets the description of the specified namespace.
      operationId: Namespaces_Get
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Namespace returned successfully.
          schema:
            $ref: "#/definitions/NamespaceResource"
        "201":
          description: Namespace update request accepted.
          schema:
            $ref: "#/definitions/NamespaceResource"
      tags:
        - Namespaces
      x-ms-examples:
        NameSpaceGet:
          parameters:
            api-version: 2015-08-01
            namespaceName: sdk-Namespace8107
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace8107
                location: South Central US
                name: sdk-Namespace8107
                properties:
                  createdAt: 2017-03-12T19:15:11.25Z
                  enabled: true
                  metricId: e2f361f0-3b27-4503-a9cc-21cfba380093:sdk-namespace8107
                  provisioningState: Succeeded
                  serviceBusEndpoint: https://sdk-Namespace8107.servicebus.windows.net:443/
                  status: Active
                  updatedAt: 2017-03-12T19:15:30.347Z
                sku:
                  capacity: 1
                  name: Standard
                  tier: Standard
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.EventHub/namespaces
            "201":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace8107
                location: South Central US
                name: sdk-Namespace8107
                properties:
                  createdAt: 2017-03-12T19:15:11.25Z
                  enabled: true
                  metricId: e2f361f0-3b27-4503-a9cc-21cfba380093:sdk-namespace8107
                  provisioningState: Succeeded
                  serviceBusEndpoint: https://sdk-Namespace8107.servicebus.windows.net:443/
                  status: Active
                  updatedAt: 2017-03-12T19:15:30.347Z
                sku:
                  capacity: 1
                  name: Standard
                  tier: Standard
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.EventHub/namespaces
    patch:
      description: Creates or updates a namespace. Once created, this namespace's resource manifest is immutable. This operation is idempotent.
      operationId: Namespaces_Update
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - description: Parameters for updating a namespace resource.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/NamespaceUpdateParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Namespace successfully updated.
          schema:
            $ref: "#/definitions/NamespaceResource"
        "201":
          description: Namespace update request accepted.
          schema:
            $ref: "#/definitions/NamespaceResource"
        "202":
          description: Namespace create or update request accepted.
      tags:
        - Namespaces
      x-ms-examples:
        NamespacesUpdate:
          parameters:
            api-version: 2015-08-01
            location: West US
            namespaceName: sdk-Namespace8107
            parameters:
              tags:
                tag3: value3
                tag4: value4
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef
          responses:
            "200":
              body:
                id: ""
                location: ""
                name: ""
                properties:
                  metricId: ""
                  provisioningState: ""
                  serviceBusEndpoint: https://sdk-Namespace4638.servicebus.windows.net:443/
                  updatedAt: 2017-03-12T20:34:10.25Z
                tags:
                  tag3: value3
                  tag4: value4
                type: ""
            "201":
              body:
                id: ""
                location: ""
                name: ""
                properties:
                  metricId: ""
                  provisioningState: ""
                  serviceBusEndpoint: https://sdk-Namespace4638.servicebus.windows.net:443/
                  updatedAt: 2017-03-12T20:34:10.25Z
                tags:
                  tag3: value3
                  tag4: value4
                type: ""
            "202": {}
    put:
      description: Creates or updates a namespace. Once created, this namespace's resource manifest is immutable. This operation is idempotent.
      operationId: Namespaces_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - description: Parameters for creating a namespace resource.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/NamespaceCreateOrUpdateParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Namespace successfully created.
          schema:
            $ref: "#/definitions/NamespaceResource"
        "201":
          description: Namespace create request accepted.
          schema:
            $ref: "#/definitions/NamespaceResource"
        "202":
          description: Namespace create or update request accepted.
      tags:
        - Namespaces
      x-ms-examples:
        NamespaceCreate:
          parameters:
            api-version: 2015-08-01
            namespaceName: sdk-Namespace8107
            parameters:
              location: South Central US
              sku:
                name: Standard
                tier: Standard
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace8107
                location: South Central US
                name: sdk-Namespace8107
                properties:
                  enabled: false
                  metricId: e2f361f0-3b27-4503-a9cc-21cfba380093:sdk-namespace8107
                  provisioningState: Unknown
                sku:
                  name: Standard
                  tier: Standard
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.EventHub/namespaces
            "201":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace8107
                location: South Central US
                name: sdk-Namespace8107
                properties:
                  enabled: false
                  metricId: e2f361f0-3b27-4503-a9cc-21cfba380093:sdk-namespace8107
                  provisioningState: Unknown
                sku:
                  name: Standard
                  tier: Standard
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.EventHub/namespaces
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/AuthorizationRules":
    get:
      description: Gets a list of authorization rules for a Namespace.
      operationId: Namespaces_ListAuthorizationRules
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Namespace AuthorizationRule successfully returned.
          schema:
            $ref: "#/definitions/SharedAccessAuthorizationRuleListResult"
      tags:
        - Namespaces
      x-ms-examples:
        ListAuthorizationRules:
          parameters:
            api-version: 2015-08-01
            namespaceName: sdk-Namespace743
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                value:
                  - name: RootManageSharedAccessKey
                    properties:
                      rights:
                        - Listen
                        - Manage
                        - Send
                  - name: sdk-Authrules4867
                    properties:
                      rights:
                        - Listen
                        - Send
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}":
    delete:
      description: Deletes an AuthorizationRule for a Namespace.
      operationId: Namespaces_DeleteAuthorizationRule
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/authorizationRuleNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Namespace AuthorizationRule successfully deleted.
        "204":
          description: No content.
      tags:
        - Namespaces
      x-ms-examples:
        NameSpaceAuthorizationRuleDelete:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-Authrules4867
            namespaceName: sdk-Namespace743
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets an AuthorizationRule for a Namespace by rule name.
      operationId: Namespaces_GetAuthorizationRule
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/authorizationRuleNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Namespace AuthorizationRule returned successfully.
          schema:
            $ref: "#/definitions/SharedAccessAuthorizationRuleResource"
      tags:
        - Namespaces
      x-ms-examples:
        NameSpaceAuthorizationRuleGet:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-Authrules4867
            namespaceName: sdk-Namespace743
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace743/AuthorizationRules/RootManageSharedAccessKey
                name: RootManageSharedAccessKey
                properties:
                  rights:
                    - Listen
                    - Manage
                    - Send
                type: Microsoft.EventHub/AuthorizationRules
    put:
      description: Creates or updates an AuthorizationRule for a Namespace.
      operationId: Namespaces_CreateOrUpdateAuthorizationRule
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/authorizationRuleNameParameter"
        - description: The shared access AuthorizationRule.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/SharedAccessAuthorizationRuleCreateOrUpdateParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Namespace AuthorizationRule created
          schema:
            $ref: "#/definitions/SharedAccessAuthorizationRuleResource"
      tags:
        - Namespaces
      x-ms-examples:
        NameSpaceAuthorizationRuleCreate:
          parameters:
            api-version: 2016-07-01
            authorizationRuleName: sdk-Authrules4867
            namespaceName: sdk-Namespace743
            parameters:
              location: West US
              properties:
                rights:
                  - Listen
                  - Send
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace743/AuthorizationRules/sdk-Authrules4867
                name: sdk-Authrules4867
                properties:
                  rights:
                    - Listen
                    - Send
                type: Microsoft.EventHub/AuthorizationRules
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}/listKeys":
    post:
      description: Gets the primary and secondary connection strings for the Namespace.
      operationId: Namespaces_ListKeys
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/authorizationRuleNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Connection strings returned successfully.
          schema:
            $ref: "#/definitions/ResourceListKeys"
      tags:
        - Namespaces
      x-ms-examples:
        NameSpaceAuthorizationRuleListKey:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-Authrules4867
            namespaceName: sdk-namespace743
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                keyName: sdk-Authrules4867
                primaryConnectionString: Endpoint=sb://sdk-namespace743.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules4867;SharedAccessKey=############################
                primaryKey: "############################"
                secondaryConnectionString: Endpoint=sb://sdk-namespace743.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules4867;SharedAccessKey=############################
                secondaryKey: "############################"
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}/regenerateKeys":
    post:
      description: Regenerates the primary or secondary connection strings for the specified Namespace.
      operationId: Namespaces_RegenerateKeys
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/authorizationRuleNameParameter"
        - description: Parameters required to regenerate the connection string.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/RegenerateKeysParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Connection strings regenerated successfully.
          schema:
            $ref: "#/definitions/ResourceListKeys"
      tags:
        - Namespaces
      x-ms-examples:
        NameSpaceAuthorizationRuleRegenerateKey:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-Authrules5448
            namespaceName: sdk-namespace2364
            parameters:
              policykey: PrimaryKey
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                keyName: sdk-Authrules5448
                primaryConnectionString: Endpoint=sb://sdk-namespace2364.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules5448;SharedAccessKey=############################
                primaryKey: "############################"
                secondaryConnectionString: Endpoint=sb://sdk-namespace2364.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules5448;SharedAccessKey=############################
                secondaryKey: "############################"
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/eventhubs":
    get:
      description: Gets all the Event Hubs in a Namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639493.aspx
      operationId: EventHubs_ListAll
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Successfully retrieved the list of Event Hubs.
          schema:
            $ref: "#/definitions/EventHubListResult"
      tags:
        - EventHubs
      x-ms-examples:
        EventHubsListAll:
          parameters:
            api-version: 2015-08-01
            eventHubName: sdk-eventhub4839
            namespaceName: sdk-Namespace4919
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace4919/eventhubs/sdk-eventhub4839
                    name: sdk-eventhub4839
                    properties:
                      createdAt: 2017-03-12T07:39:13.31Z
                      messageRetentionInDays: 7
                      partitionCount: 4
                      partitionIds:
                        - "0"
                        - "1"
                        - "2"
                        - "3"
                      status: Active
                      updatedAt: 2017-03-12T07:39:15.41Z
                    type: Microsoft.EventHub/EventHubs
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/eventhubs/{eventHubName}":
    delete:
      description: Deletes an Event Hub from the specified Namespace and resource group.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639496.aspx
      operationId: EventHubs_Delete
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/eventHubNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Event Hub successfully deleted.
        "204":
          description: No content.
      tags:
        - EventHubs
      x-ms-examples:
        EventHubDelete:
          parameters:
            api-version: 2015-08-01
            eventHubName: sdk-EventHub4839
            namespaceName: sdk-sdk-Namespace4919
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets an Event Hubs description for the specified Event Hub.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639501.aspx
      operationId: EventHubs_Get
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/eventHubNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Successfully retrieved the Event Hub description.
          schema:
            $ref: "#/definitions/EventHubResource"
      tags:
        - EventHubs
      x-ms-examples:
        EventHubGet:
          parameters:
            api-version: 2015-08-01
            eventHubName: sdk-EventHub6448
            namespaceName: sdk-Namespace7834
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace7834/eventhubs/sdk-EventHub6448
                name: sdk-EventHub6448
                properties:
                  createdAt: 2017-03-12T09:19:03.577Z
                  messageRetentionInDays: 7
                  partitionCount: 4
                  partitionIds:
                    - "0"
                    - "1"
                    - "2"
                    - "3"
                  status: Active
                  updatedAt: 2017-03-12T09:19:05.577Z
                type: Microsoft.EventHub/EventHubs
    put:
      description: Creates or updates a new Event Hub as a nested resource within a Namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639497.aspx
      operationId: EventHubs_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/eventHubNameParameter"
        - description: Parameters supplied to create an Event Hub resource.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/EventHubCreateOrUpdateParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Event Hub successfully created.
          schema:
            $ref: "#/definitions/EventHubResource"
      tags:
        - EventHubs
      x-ms-examples:
        EventHubCreate:
          parameters:
            api-version: 2015-08-01
            eventHubName: sdk-EventHub6448
            namespaceName: sdk-Namespace7834
            parameters:
              location: West US
              properties:
                messageRetentionInDays: 7
                partitionCount: 4
                status: Active
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace7834/eventhubs/sdk-EventHub6448
                name: sdk-EventHub6448
                properties:
                  createdAt: 2017-03-12T20:37:09.28Z
                  messageRetentionInDays: 7
                  partitionCount: 4
                  partitionIds:
                    - "0"
                    - "1"
                    - "2"
                    - "3"
                  status: Active
                  updatedAt: 2017-03-12T20:37:18.64Z
                type: Microsoft.EventHub/EventHubs
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/eventhubs/{eventHubName}/authorizationRules":
    get:
      description: Gets the authorization rules for an Event Hub.
      operationId: EventHubs_ListAuthorizationRules
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/eventHubNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Event Hub AuthorizationRule returned successfully.
          schema:
            $ref: "#/definitions/SharedAccessAuthorizationRuleListResult"
      tags:
        - EventHubs
      x-ms-examples:
        EventHubAuthorizationRuleListAll:
          parameters:
            api-version: 2015-08-01
            eventHubName: sdk-EventHub8887
            namespaceName: sdk-Namespace2290
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                value:
                  - name: sdk-Authrules9261
                    properties:
                      rights:
                        - Listen
                        - Send
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/eventhubs/{eventHubName}/authorizationRules/{authorizationRuleName}":
    delete:
      description: Deletes an Event Hub AuthorizationRule.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt706100.aspx
      operationId: EventHubs_DeleteAuthorizationRule
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/eventHubNameParameter"
        - $ref: "#/parameters/authorizationRuleNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Event Hub AuthorizationRule successfully deleted.
        "204":
          description: No content.
      tags:
        - EventHubs
      x-ms-examples:
        EventHubAuthorizationRuleDelete:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-Authrules9261
            eventHubName: sdk-EventHub8887
            namespaceName: sdk-Namespace2290
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets an AuthorizationRule for an Event Hub by rule name.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt706097.aspx
      operationId: EventHubs_GetAuthorizationRule
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/eventHubNameParameter"
        - $ref: "#/parameters/authorizationRuleNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Event Hub AuthorizationRule successfully returned.
          schema:
            $ref: "#/definitions/SharedAccessAuthorizationRuleResource"
      tags:
        - EventHubs
      x-ms-examples:
        EventHubAuthorizationRuleGet:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-Authrules9261
            eventHubName: sdk-EventHub8887
            namespaceName: sdk-Namespace2290
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace2290/eventhubs/sdk-EventHub8887/authorizationRules/sdk-Authrules9261
                name: sdk-Authrules9261
                properties:
                  rights:
                    - Listen
                    - Send
                type: Microsoft.EventHub/AuthorizationRules
    post:
      description: Gets an AuthorizationRule for an Event Hub by rule name.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt706097.aspx
      operationId: EventHubs_PostAuthorizationRule
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/eventHubNameParameter"
        - $ref: "#/parameters/authorizationRuleNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Event Hub AuthorizationRule successfully returned.
          schema:
            $ref: "#/definitions/SharedAccessAuthorizationRuleResource"
      tags:
        - EventHubs
      x-ms-examples:
        EventHubAuthorizationRuleGet:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-Authrules9261
            eventHubName: sdk-EventHub8887
            namespaceName: sdk-Namespace2290
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace2290/eventhubs/sdk-EventHub8887/authorizationRules/sdk-Authrules9261
                name: sdk-Authrules9261
                properties:
                  rights:
                    - Listen
                    - Send
                type: Microsoft.EventHub/AuthorizationRules
    put:
      description: Creates or updates an AuthorizationRule for the specified Event Hub.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt706096.aspx
      operationId: EventHubs_CreateOrUpdateAuthorizationRule
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/eventHubNameParameter"
        - $ref: "#/parameters/authorizationRuleNameParameter"
        - description: The shared access AuthorizationRule.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/SharedAccessAuthorizationRuleCreateOrUpdateParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Event Hub AuthorizationRule successfully created.
          schema:
            $ref: "#/definitions/SharedAccessAuthorizationRuleResource"
      tags:
        - EventHubs
      x-ms-examples:
        EventHubAuthorizationRuleCreate:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-Authrules9261
            eventHubName: sdk-EventHub8887
            namespaceName: sdk-Namespace2290
            parameters:
              properties:
                rights:
                  - Listen
                  - Send
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace2290/eventhubs/sdk-EventHub8887/authorizationRules/sdk-Authrules9261
                name: sdk-Authrules9261
                properties:
                  rights:
                    - Listen
                    - Send
                type: Microsoft.EventHub/AuthorizationRules
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/eventhubs/{eventHubName}/authorizationRules/{authorizationRuleName}/ListKeys":
    post:
      description: Gets the ACS and SAS connection strings for the Event Hub.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt706098.aspx
      operationId: EventHubs_ListKeys
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/eventHubNameParameter"
        - $ref: "#/parameters/authorizationRuleNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Connection strings successfully returned.
          schema:
            $ref: "#/definitions/ResourceListKeys"
      tags:
        - EventHubs
      x-ms-examples:
        EventHubAuthorizationRuleListKey:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-Authrules9261
            eventHubName: sdk-EventHub8887
            namespaceName: sdk-namespace2290.
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                keyName: sdk-Authrules9261
                primaryConnectionString: Endpoint=sb://sdk-namespace2290.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules9261;SharedAccessKey=############################;EntityPath=sdk-EventHub8887
                primaryKey: "############################"
                secondaryConnectionString: Endpoint=sb://sdk-namespace2290.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules9261;SharedAccessKey=############################;EntityPath=sdk-EventHub8887
                secondaryKey: "############################"
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/eventhubs/{eventHubName}/authorizationRules/{authorizationRuleName}/regenerateKeys":
    post:
      description: Regenerates the ACS and SAS connection strings for the Event Hub.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt706099.aspx
      operationId: EventHubs_RegenerateKeys
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/eventHubNameParameter"
        - $ref: "#/parameters/authorizationRuleNameParameter"
        - description: Parameters supplied to regenerate the AuthorizationRule Keys (PrimaryKey/SecondaryKey).
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/RegenerateKeysParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Connection strings successfully regenerated.
          schema:
            $ref: "#/definitions/ResourceListKeys"
      tags:
        - EventHubs
      x-ms-examples:
        EventHubAuthorizationRuleRegenerateKey:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-Authrules9261
            eventHubName: sdk-EventHub8887
            namespaceName: sdk-namespace2290.
            parameters:
              policykey: PrimaryKey
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                keyName: sdk-Authrules9261
                primaryConnectionString: Endpoint=sb://sdk-namespace2290.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules9261;SharedAccessKey=############################;EntityPath=sdk-EventHub8887
                primaryKey: "############################"
                secondaryConnectionString: Endpoint=sb://sdk-namespace2290.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules9261;SharedAccessKey=############################;EntityPath=sdk-EventHub8887
                secondaryKey: "############################"
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/eventhubs/{eventHubName}/consumergroups":
    get:
      description: Gets all the consumer groups in a Namespace. An empty feed is returned if no consumer group exists in the Namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639503.aspx
      operationId: ConsumerGroups_ListAll
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/eventHubNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Successfully retrieved the list of consumer groups.
          schema:
            $ref: "#/definitions/ConsumerGroupListResult"
      tags:
        - ConsumerGroups
      x-ms-examples:
        ConsumerGroupsListAll:
          parameters:
            api-version: 2015-08-01
            eventHubName: sdk-EventHub5290
            namespaceName: sdk-Namespace736
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace736/eventhubs/sdk-EventHub5290/consumergroups/$Default
                    name: $Default
                    properties:
                      createdAt: 2017-03-12T09:19:03.577Z
                      updatedAt: 2017-03-12T09:19:05.577Z
                    type: Microsoft.EventHub/ConsumerGroups
                  - id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace736/eventhubs/sdk-EventHub5290/consumergroups/sdk-consumergroup115
                    name: sdk-consumergroup115
                    properties:
                      createdAt: 2017-03-12T09:19:07.577Z
                      updatedAt: 2017-03-12T09:19:09.577Z
                    type: Microsoft.EventHub/ConsumerGroups
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/namespaces/{namespaceName}/eventhubs/{eventHubName}/consumergroups/{consumerGroupName}":
    delete:
      description: Deletes a consumer group from the specified Event Hub and resource group.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639491.aspx
      operationId: ConsumerGroups_Delete
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/eventHubNameParameter"
        - $ref: "#/parameters/consumerGroupNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Consumer group deleted.
        "204":
          description: No content.
      tags:
        - ConsumerGroups
      x-ms-examples:
        ConsumerGroupDelete:
          parameters:
            api-version: 2015-08-01
            consumerGroupName: sdk-ConsumerGroup115
            eventHubName: sdk-EventHub5290
            namespaceName: sdk-Namespace736
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets a description for the specified consumer group.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639488.aspx
      operationId: ConsumerGroups_Get
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/eventHubNameParameter"
        - $ref: "#/parameters/consumerGroupNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Successfully retrieved the consumer group description.
          schema:
            $ref: "#/definitions/ConsumerGroupResource"
      tags:
        - ConsumerGroups
      x-ms-examples:
        ConsumerGroupGet:
          parameters:
            api-version: 2015-08-01
            consumerGroupName: sdk-ConsumerGroup115
            eventHubName: sdk-EventHub5290
            namespaceName: sdk-Namespace736
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace736/eventhubs/sdk-EventHub5290/consumergroups/sdk-ConsumerGroup115
                name: sdk-ConsumerGroup115
                properties:
                  createdAt: 2017-03-12T09:19:03.577Z
                  updatedAt: 2017-03-12T09:19:05.577Z
                type: Microsoft.EventHub/ConsumerGroups
    put:
      description: Creates or updates an Event Hubs consumer group as a nested resource within a Namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639498.aspx
      operationId: ConsumerGroups_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/eventHubNameParameter"
        - $ref: "#/parameters/consumerGroupNameParameter"
        - description: Parameters supplied to create or update a consumer group resource.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ConsumerGroupCreateOrUpdateParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Consumer group successfully created.
          schema:
            $ref: "#/definitions/ConsumerGroupResource"
      tags:
        - ConsumerGroups
      x-ms-examples:
        ConsumerGroupCreate:
          parameters:
            api-version: 2015-08-01
            consumerGroupName: sdk-ConsumerGroup115
            eventHubName: sdk-EventHub5290
            namespaceName: sdk-Namespace736
            parameters:
              location: West US
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.EventHub/namespaces/sdk-Namespace736/eventhubs/sdk-EventHub5290/consumergroups/sdk-ConsumerGroup115
                name: sdk-ConsumerGroup115
                properties:
                  createdAt: 2017-03-12T21:11:46.308019Z
                  updatedAt: 2017-03-12T21:11:46.308019Z
                type: Microsoft.EventHub/ConsumerGroups
definitions:
  CheckNameAvailabilityParameter:
    description: "Parameter supplied to check Namespace name availability operation "
    properties:
      name:
        description: Name to check the namespace name availability
        type: string
    required:
      - name
  CheckNameAvailabilityResult:
    description: The Result of the CheckNameAvailability operation
    properties:
      message:
        description: The detailed info regarding the reason associated with the Namespace.
        readOnly: true
        type: string
      nameAvailable:
        description: Value indicating Namespace is availability, true if the Namespace is available; otherwise, false.
        type: boolean
      reason:
        $ref: "#/definitions/UnavailableReason"
        description: The reason for unavailability of a Namespace.
  ConsumerGroupCreateOrUpdateParameters:
    description: Parameters supplied to the Create Or Update Consumer Group operation.
    properties:
      location:
        description: Location of the resource.
        type: string
      name:
        description: Name of the consumer group.
        type: string
      properties:
        $ref: "#/definitions/ConsumerGroupProperties"
        x-ms-client-flatten: true
      type:
        description: ARM type of the Namespace.
        type: string
    required:
      - location
  ConsumerGroupListResult:
    description: The result to the List Consumer Group operation.
    properties:
      nextLink:
        description: Link to the next set of results. Not empty if Value contains incomplete list of Consumer Group
        type: string
      value:
        description: Result of the List Consumer Group operation.
        items:
          $ref: "#/definitions/ConsumerGroupResource"
        type: array
  ConsumerGroupProperties:
    description: Properties supplied to the Create Or Update Consumer Group operation.
    properties:
      createdAt:
        description: Exact time the message was created.
        format: date-time
        readOnly: true
        type: string
      eventHubPath:
        description: The path of the Event Hub.
        readOnly: true
        type: string
      updatedAt:
        description: The exact time the message was updated.
        format: date-time
        readOnly: true
        type: string
      userMetadata:
        description: The user metadata.
        type: string
  ConsumerGroupResource:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Single item in List or Get Consumer group operation
    properties:
      properties:
        $ref: "#/definitions/ConsumerGroupProperties"
        x-ms-client-flatten: true
  EventHubCreateOrUpdateParameters:
    description: Parameters supplied to the Create Or Update Event Hub operation.
    properties:
      location:
        description: Location of the resource.
        type: string
      name:
        description: Name of the Event Hub.
        type: string
      properties:
        $ref: "#/definitions/EventHubProperties"
        x-ms-client-flatten: true
      type:
        description: ARM type of the Namespace.
        type: string
    required:
      - location
  EventHubListResult:
    description: The result of the List EventHubs operation.
    properties:
      nextLink:
        description: Link to the next set of results. Not empty if Value contains incomplete list of EventHubs.
        type: string
      value:
        description: Result of the List EventHubs operation.
        items:
          $ref: "#/definitions/EventHubResource"
        type: array
  EventHubProperties:
    description: Properties supplied to the Create Or Update Event Hub operation.
    properties:
      createdAt:
        description: Exact time the Event Hub was created.
        format: date-time
        readOnly: true
        type: string
      messageRetentionInDays:
        description: Number of days to retain the events for this Event Hub.
        format: int64
        type: integer
      partitionCount:
        description: Number of partitions created for the Event Hub.
        format: int64
        type: integer
      partitionIds:
        description: Current number of shards on the Event Hub.
        items:
          type: string
        readOnly: true
        type: array
      status:
        description: Enumerates the possible values for the status of the Event Hub.
        enum:
          - Active
          - Disabled
          - Restoring
          - SendDisabled
          - ReceiveDisabled
          - Creating
          - Deleting
          - Renaming
          - Unknown
        type: string
        x-ms-enum:
          modelAsString: false
          name: EntityStatus
      updatedAt:
        description: The exact time the message was updated.
        format: date-time
        readOnly: true
        type: string
  EventHubResource:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Single item in List or Get Event Hub operation
    properties:
      properties:
        $ref: "#/definitions/EventHubProperties"
        x-ms-client-flatten: true
  NamespaceCreateOrUpdateParameters:
    description: Parameters supplied to the Create Or Update Namespace operation.
    properties:
      location:
        description: Namespace location.
        type: string
      properties:
        $ref: "#/definitions/NamespaceProperties"
        x-ms-client-flatten: true
      sku:
        $ref: "#/definitions/Sku"
      tags:
        additionalProperties:
          type: string
        description: Namespace tags.
        type: object
    required:
      - location
  NamespaceListResult:
    description: The response of the List Namespace operation.
    properties:
      nextLink:
        description: Link to the next set of results. Not empty if Value contains incomplete list of namespaces.
        type: string
      value:
        description: Result of the List Namespace operation.
        items:
          $ref: "#/definitions/NamespaceResource"
        type: array
  NamespaceProperties:
    description: Properties of the Namespace supplied for create or update Namespace operation
    properties:
      createdAt:
        description: The time the Namespace was created.
        format: date-time
        type: string
      enabled:
        description: Specifies whether this instance is enabled.
        type: boolean
      metricId:
        description: Identifier for Azure Insights metrics
        readOnly: true
        type: string
      provisioningState:
        description: Provisioning state of the Namespace.
        type: string
      serviceBusEndpoint:
        description: Endpoint you can use to perform Service Bus operations.
        externalDocs:
          url: http://msdn.microsoft.com/en-us/library/windowsazure/jj873988.aspx
        type: string
      status:
        description: State of the Namespace.
        enum:
          - Unknown
          - Creating
          - Created
          - Activating
          - Enabling
          - Active
          - Disabling
          - Disabled
          - SoftDeleting
          - SoftDeleted
          - Removing
          - Removed
          - Failed
        type: string
        x-ms-enum:
          modelAsString: false
          name: NamespaceState
      updatedAt:
        description: The time the Namespace was updated.
        format: date-time
        type: string
  NamespaceResource:
    allOf:
      - $ref: "#/definitions/TrackedResource"
    description: Single Namespace item in List or Get Operation
    properties:
      properties:
        $ref: "#/definitions/NamespaceProperties"
        x-ms-client-flatten: true
      sku:
        $ref: "#/definitions/Sku"
  NamespaceUpdateParameter:
    description: Parameters supplied to the Patch/update Namespace operation.
    properties:
      sku:
        $ref: "#/definitions/Sku"
        description: The sku of the created Namespace
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
  Operation:
    description: A Event Hub REST API operation
    properties:
      display:
        description: The object that represents the operation.
        properties:
          operation:
            description: "Operation type: Read, write, delete, etc."
            readOnly: true
            type: string
          provider:
            description: "Service provider: Microsoft.EventHub"
            readOnly: true
            type: string
          resource:
            description: "Resource on which the operation is performed: Invoice, etc."
            readOnly: true
            type: string
      name:
        description: "Operation name: {provider}/{resource}/{operation}"
        readOnly: true
        type: string
    type: object
  OperationListResult:
    description: Result of the request to list Event Hub operations. It contains a list of operations and a URL link to get the next set of results.
    properties:
      nextLink:
        description: URL to get the next set of operation list results if there are any.
        readOnly: true
        type: string
      value:
        description: List of Event Hub operations supported by the Microsoft.EventHub resource provider.
        items:
          $ref: "#/definitions/Operation"
        readOnly: true
        type: array
  RegenerateKeysParameters:
    description: Parameters supplied to the Regenerate Authorization Rule keys operation.
    properties:
      policykey:
        description: Key that needs to be regenerated.
        enum:
          - PrimaryKey
          - SecondaryKey
        type: string
        x-ms-enum:
          modelAsString: false
          name: Policykey
  Resource:
    description: The Resource definition
    properties:
      id:
        description: Resource Id
        readOnly: true
        type: string
      location:
        description: Resource location
        type: string
      name:
        description: Resource name
        readOnly: true
        type: string
      type:
        description: Resource type
        readOnly: true
        type: string
    x-ms-azure-resource: true
  ResourceListKeys:
    description: Namespace/EventHub Connection String
    properties:
      keyName:
        description: A string that describes the AuthorizationRule.
        readOnly: true
        type: string
      primaryConnectionString:
        description: Primary connection string of the created Namespace AuthorizationRule.
        readOnly: true
        type: string
      primaryKey:
        description: A base64-encoded 256-bit primary key for signing and validating the SAS token.
        readOnly: true
        type: string
      secondaryConnectionString:
        description: Secondary connection string of the created Namespace AuthorizationRule.
        readOnly: true
        type: string
      secondaryKey:
        description: A base64-encoded 256-bit primary key for signing and validating the SAS token.
        readOnly: true
        type: string
  SharedAccessAuthorizationRuleCreateOrUpdateParameters:
    description: Parameters supplied to the Create Or Update Authorization Rules operation.
    properties:
      location:
        description: Data center location.
        type: string
      name:
        description: Name of the AuthorizationRule.
        type: string
      properties:
        $ref: "#/definitions/SharedAccessAuthorizationRuleProperties"
        x-ms-client-flatten: true
  SharedAccessAuthorizationRuleListResult:
    description: The response from the List Namespace operation.
    properties:
      nextLink:
        description: Link to the next set of results. Not empty if Value contains an incomplete list of Authorization Rules
        type: string
      value:
        description: Result of the List Authorization Rules operation.
        items:
          $ref: "#/definitions/SharedAccessAuthorizationRuleResource"
        type: array
  SharedAccessAuthorizationRuleProperties:
    description: Properties supplied to create or update SharedAccessAuthorizationRule
    properties:
      rights:
        description: The rights associated with the rule.
        items:
          enum:
            - Manage
            - Send
            - Listen
          type: string
          x-ms-enum:
            modelAsString: false
            name: AccessRights
        type: array
    required:
      - rights
  SharedAccessAuthorizationRuleResource:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Single item in a List or Get AuthorizationRule operation
    properties:
      properties:
        $ref: "#/definitions/SharedAccessAuthorizationRuleProperties"
        x-ms-client-flatten: true
  Sku:
    description: SKU parameters supplied to the create Namespace operation
    properties:
      capacity:
        description: The Event Hubs throughput units.
        format: int32
        type: integer
      name:
        description: Name of this SKU.
        enum:
          - Basic
          - Standard
        type: string
        x-ms-enum:
          modelAsString: true
          name: SkuName
      tier:
        description: The billing tier of this particular SKU.
        enum:
          - Basic
          - Standard
          - Premium
        type: string
        x-ms-enum:
          modelAsString: true
          name: SkuTier
    required:
      - tier
    type: object
  TrackedResource:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Definition of Resource
    properties:
      location:
        description: Resource location
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
    required:
      - location
  UnavailableReason:
    description: Specifies the reason for the unavailability of the service.
    enum:
      - None
      - InvalidName
      - SubscriptionIsDisabled
      - NameInUse
      - NameInLockdown
      - TooManyNamespaceInCurrentSubscription
    type: string
    x-ms-enum:
      modelAsString: false
      name: UnavailableReason
