swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: AutomationManagement
  version: 2015-10-31
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/module.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: automation-module
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters: {}
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/modules":
    get:
      description: Retrieve a list of modules.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/moduleoperations
      operationId: Module_ListByAutomationAccount
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ModuleListResult"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Module
      x-ms-examples:
        List modules by automation account:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount33
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/Azure
                    name: Azure
                    properties:
                      activityCount: 0
                      creationTime: 2014-03-18T23:02:40.323+00:00
                      isGlobal: true
                      lastModifiedTime: 2017-03-17T16:57:48.343+00:00
                      provisioningState: Created
                      sizeInBytes: 0
                      version: null
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/Azure.Storage
                    name: Azure.Storage
                    properties:
                      activityCount: 0
                      creationTime: 2016-01-30T01:21:44.68+00:00
                      isGlobal: true
                      lastModifiedTime: 2017-03-17T17:04:27.833+00:00
                      provisioningState: Created
                      sizeInBytes: 0
                      version: null
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Automation
                    name: AzureRM.Automation
                    properties:
                      activityCount: 0
                      creationTime: 2016-01-30T01:19:39.427+00:00
                      isGlobal: true
                      lastModifiedTime: 2017-03-17T17:02:24.42+00:00
                      provisioningState: Created
                      sizeInBytes: 0
                      version: null
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Compute
                    name: AzureRM.Compute
                    properties:
                      activityCount: 0
                      creationTime: 2015-11-24T20:24:06.1+00:00
                      isGlobal: true
                      lastModifiedTime: 2017-03-17T17:01:53.81+00:00
                      provisioningState: Created
                      sizeInBytes: 0
                      version: null
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Profile
                    name: AzureRM.Profile
                    properties:
                      activityCount: 0
                      creationTime: 2015-11-24T20:23:34.723+00:00
                      isGlobal: true
                      lastModifiedTime: 2017-03-17T17:01:22.993+00:00
                      provisioningState: Created
                      sizeInBytes: 0
                      version: null
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Resources
                    name: AzureRM.Resources
                    properties:
                      activityCount: 0
                      creationTime: 2016-01-30T01:20:10.367+00:00
                      isGlobal: true
                      lastModifiedTime: 2017-03-17T17:02:55.25+00:00
                      provisioningState: Created
                      sizeInBytes: 0
                      version: null
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Sql
                    name: AzureRM.Sql
                    properties:
                      activityCount: 0
                      creationTime: 2016-01-30T01:20:42.177+00:00
                      isGlobal: true
                      lastModifiedTime: 2017-03-17T17:03:26.08+00:00
                      provisioningState: Created
                      sizeInBytes: 0
                      version: null
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Storage
                    name: AzureRM.Storage
                    properties:
                      activityCount: 0
                      creationTime: 2016-01-30T01:21:13.237+00:00
                      isGlobal: true
                      lastModifiedTime: 2017-03-17T17:03:56.99+00:00
                      provisioningState: Created
                      sizeInBytes: 0
                      version: null
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/Microsoft.PowerShell.Core
                    name: Microsoft.PowerShell.Core
                    properties:
                      activityCount: 0
                      creationTime: 2015-03-17T00:12:20.897+00:00
                      isGlobal: true
                      lastModifiedTime: 2017-03-17T16:58:19.017+00:00
                      provisioningState: Created
                      sizeInBytes: 0
                      version: null
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/Microsoft.PowerShell.Diagnostics
                    name: Microsoft.PowerShell.Diagnostics
                    properties:
                      activityCount: 0
                      creationTime: 2015-03-17T00:12:22.817+00:00
                      isGlobal: true
                      lastModifiedTime: 2017-03-17T16:58:49.737+00:00
                      provisioningState: Created
                      sizeInBytes: 0
                      version: null
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/Microsoft.PowerShell.Management
                    name: Microsoft.PowerShell.Management
                    properties:
                      activityCount: 0
                      creationTime: 2015-03-17T00:12:24.967+00:00
                      isGlobal: true
                      lastModifiedTime: 2017-03-17T16:59:20.38+00:00
                      provisioningState: Created
                      sizeInBytes: 0
                      version: null
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/Microsoft.PowerShell.Security
                    name: Microsoft.PowerShell.Security
                    properties:
                      activityCount: 0
                      creationTime: 2015-03-17T00:12:26.753+00:00
                      isGlobal: true
                      lastModifiedTime: 2017-03-17T16:59:51.007+00:00
                      provisioningState: Created
                      sizeInBytes: 0
                      version: null
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/Microsoft.PowerShell.Utility
                    name: Microsoft.PowerShell.Utility
                    properties:
                      activityCount: 0
                      creationTime: 2015-03-17T00:12:28.643+00:00
                      isGlobal: true
                      lastModifiedTime: 2017-03-17T17:00:21.647+00:00
                      provisioningState: Created
                      sizeInBytes: 0
                      version: null
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/Microsoft.WSMan.Management
                    name: Microsoft.WSMan.Management
                    properties:
                      activityCount: 0
                      creationTime: 2015-03-17T00:17:15.003+00:00
                      isGlobal: true
                      lastModifiedTime: 2017-03-17T17:00:52.197+00:00
                      provisioningState: Created
                      sizeInBytes: 0
                      version: null
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/OmsCompositeResources
                    name: OmsCompositeResources
                    properties:
                      activityCount: 0
                      creationTime: 2017-03-29T15:41:47.003+00:00
                      isGlobal: false
                      lastModifiedTime: 2017-03-29T15:42:10.567+00:00
                      provisioningState: Creating
                      sizeInBytes: 0
                      version: null
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/Orchestrator.AssetManagement.Cmdlets
                    name: Orchestrator.AssetManagement.Cmdlets
                    properties:
                      activityCount: 0
                      creationTime: 2015-09-12T00:45:12.897+00:00
                      isGlobal: true
                      lastModifiedTime: 2017-03-17T17:05:01.57+00:00
                      provisioningState: Created
                      sizeInBytes: 0
                      version: null
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/modules/{moduleName}":
    delete:
      description: Delete the module by name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/moduleoperations
      operationId: Module_Delete
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The module name.
          in: path
          name: moduleName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Module
      x-ms-examples:
        Delete a module:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount33
            moduleName: OmsCompositeResources
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200": {}
    get:
      description: Retrieve the module identified by module name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/moduleoperations
      operationId: Module_Get
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The module name.
          in: path
          name: moduleName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Module"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Module
      x-ms-examples:
        Get a module:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount33
            moduleName: OmsCompositeResources
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: null
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/OmsCompositeResources
                location: East US 2
                name: OmsCompositeResources
                properties:
                  activityCount: 0
                  creationTime: 2017-03-29T15:41:47.003+00:00
                  error:
                    code: null
                    message: ""
                  isComposite: true
                  isGlobal: false
                  lastModifiedTime: 2017-03-29T15:42:10.567+00:00
                  provisioningState: Creating
                  sizeInBytes: 0
                  version: null
                tags: {}
                type: Microsoft.Automation/AutomationAccounts/Modules
              headers: {}
    patch:
      description: Update the module identified by module name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/moduleoperations
      operationId: Module_Update
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of module.
          in: path
          name: moduleName
          required: true
          type: string
        - description: The update parameters for module.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ModuleUpdateParameters"
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Module"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Module
      x-ms-examples:
        Update a module:
          parameters:
            api-version: 2015-10-31
            automationAccountName: MyAutomationAccount
            moduleName: MyModule
            parameters:
              properties:
                contentLink:
                  contentHash:
                    algorithm: sha265
                    value: 07E108A962B81DD9C9BAA89BB47C0F6EE52B29E83758B07795E408D258B2B87A
                  uri: https://teststorage.blob.core.windows.net/mycontainer/MyModule.zip
                  version: 1.0.0.0
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: null
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/MyAutomationAccount/modules/MyModule
                location: East US 2
                name: MyModule
                properties:
                  activityCount: 0
                  creationTime: 2017-03-29T15:41:47.003+00:00
                  error:
                    code: null
                    message: null
                  isComposite: false
                  isGlobal: false
                  lastModifiedTime: 2017-03-29T15:42:10.567+00:00
                  provisioningState: Creating
                  sizeInBytes: 0
                  version: null
                tags: {}
                type: Microsoft.Automation/AutomationAccounts/Modules
              headers: {}
    put:
      description: Create or Update the module identified by module name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/moduleoperations
      operationId: Module_CreateOrUpdate
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of module.
          in: path
          name: moduleName
          required: true
          type: string
        - description: The create or update parameters for module.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ModuleCreateOrUpdateParameters"
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Module"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/Module"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Module
      x-ms-examples:
        Create or update a module:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount33
            moduleName: OmsCompositeResources
            parameters:
              properties:
                contentLink:
                  contentHash:
                    algorithm: sha265
                    value: 07E108A962B81DD9C9BAA89BB47C0F6EE52B29E83758B07795E408D258B2B87A
                  uri: https://teststorage.blob.core.windows.net/dsccomposite/OmsCompositeResources.zip
                  version: 1.0.0.0
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: null
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/OmsCompositeResources
                location: East US 2
                name: OmsCompositeResources
                properties:
                  activityCount: 0
                  creationTime: 2017-03-29T15:41:47.003+00:00
                  error:
                    code: null
                    message: null
                  isComposite: false
                  isGlobal: false
                  lastModifiedTime: 2017-03-29T15:42:10.567+00:00
                  provisioningState: Creating
                  sizeInBytes: 0
                  version: null
                tags: {}
                type: Microsoft.Automation/AutomationAccounts/Modules
              headers: {}
            "201":
              body:
                etag: null
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/OmsCompositeResources
                location: East US 2
                name: OmsCompositeResources
                properties:
                  activityCount: 0
                  creationTime: 2017-03-29T15:41:47.003+00:00
                  error:
                    code: null
                    message: null
                  isComposite: false
                  isGlobal: false
                  lastModifiedTime: 2017-03-29T15:42:10.567+00:00
                  provisioningState: Creating
                  sizeInBytes: 0
                  version: null
                tags: {}
                type: Microsoft.Automation/AutomationAccounts/Modules
              headers: {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/modules/{moduleName}/activities":
    get:
      description: Retrieve a list of activities in the module identified by module name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/activityoperations
      operationId: Activity_ListByModule
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of module.
          in: path
          name: moduleName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ActivityListResult"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Activity
      x-ms-examples:
        List activities by a module:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount33
            moduleName: OmsCompositeResources
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Profile/activities/Add-AzureRmAccount
                    name: Add-AzureRmAccount
                    properties:
                      creationTime: 2017-03-17T17:05:21.697+00:00
                      definition: ""
                      description: |-
                        The Add-AzureRmAcccount cmdlet adds an authenticated Azure account to use for Azure Resource Manager cmdlet requests.

                        You can use this authenticated account only with Azure Resource Manager cmdlets. To add an authenticated account for use with Service Management cmdlets, use the Add-AzureAccount or the Import-AzurePublishSettingsFile cmdlet.
                      lastModifiedTime: 2017-03-17T17:05:21.697+00:00
                      outputTypes: null
                      parameterSets: null
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Profile/activities/Add-AzureRmEnvironment
                    name: Add-AzureRmEnvironment
                    properties:
                      creationTime: 2017-03-17T17:05:21.697+00:00
                      definition: ""
                      description: The Add-AzureRmEnvironment cmdlet adds endpoints and metadata to enable Azure Resource Manager cmdlets to connect with a new instance of Azure Resource Manager. The built-in environments AzureCloud and AzureChinaCloud target existing public instances of Azure Resource Manager.
                      lastModifiedTime: 2017-03-17T17:05:21.697+00:00
                      outputTypes: null
                      parameterSets: null
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Profile/activities/Disable-AzureRmDataCollection
                    name: Disable-AzureRmDataCollection
                    properties:
                      creationTime: 2017-03-17T17:05:21.713+00:00
                      definition: ""
                      description: ""
                      lastModifiedTime: 2017-03-17T17:05:21.713+00:00
                      outputTypes: null
                      parameterSets: null
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Profile/activities/Enable-AzureRmDataCollection
                    name: Enable-AzureRmDataCollection
                    properties:
                      creationTime: 2017-03-17T17:05:21.713+00:00
                      definition: ""
                      description: ""
                      lastModifiedTime: 2017-03-17T17:05:21.713+00:00
                      outputTypes: null
                      parameterSets: null
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Profile/activities/Get-AzureRmContext
                    name: Get-AzureRmContext
                    properties:
                      creationTime: 2017-03-17T17:05:21.713+00:00
                      definition: ""
                      description: |-
                        The Get-AzureRmContext cmdlet gets the current metadata used to authenticate Azure Resource Manager requests.

                        This cmdlet gets the Active Directory account, Active Directory tenant, Azure subscription, and the targeted Azure environment. Azure Resource Manager cmdlets use these settings by default when making Azure Resource Manager requests.
                      lastModifiedTime: 2017-03-17T17:05:21.713+00:00
                      outputTypes: null
                      parameterSets: null
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Profile/activities/Get-AzureRmEnvironment
                    name: Get-AzureRmEnvironment
                    properties:
                      creationTime: 2017-03-17T17:05:21.697+00:00
                      definition: ""
                      description: The Get-AzureRmEnvironment cmdlet gets endpoints and metadata for an instance of Azure services.
                      lastModifiedTime: 2017-03-17T17:05:21.697+00:00
                      outputTypes: null
                      parameterSets: null
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Profile/activities/Get-AzureRmSubscription
                    name: Get-AzureRmSubscription
                    properties:
                      creationTime: 2017-03-17T17:05:21.697+00:00
                      definition: ""
                      description: The Get-AzureRmSubscription cmdlet gets the subscription ID, subscription name, and home tenant for subscriptions that the current account can access.
                      lastModifiedTime: 2017-03-17T17:05:21.697+00:00
                      outputTypes: null
                      parameterSets: null
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Profile/activities/Get-AzureRmTenant
                    name: Get-AzureRmTenant
                    properties:
                      creationTime: 2017-03-17T17:05:21.697+00:00
                      definition: ""
                      description: The Get-AzureRmTenant cmdlet gets tenants authorized for the current user.
                      lastModifiedTime: 2017-03-17T17:05:21.697+00:00
                      outputTypes: null
                      parameterSets: null
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Profile/activities/Remove-AzureRmEnvironment
                    name: Remove-AzureRmEnvironment
                    properties:
                      creationTime: 2017-03-17T17:05:21.697+00:00
                      definition: ""
                      description: The Remove-AzureRmEnvironment cmdlet removes endpoints and metadata information for connecting to a given Azure instance.
                      lastModifiedTime: 2017-03-17T17:05:21.697+00:00
                      outputTypes: null
                      parameterSets: null
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Profile/activities/Save-AzureRmProfile
                    name: Save-AzureRmProfile
                    properties:
                      creationTime: 2017-03-17T17:05:21.697+00:00
                      definition: ""
                      description: The Save-AzureRmProfile cmdlet saves the current authentication information for use in other PowerShell sessions.
                      lastModifiedTime: 2017-03-17T17:05:21.697+00:00
                      outputTypes: null
                      parameterSets: null
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Profile/activities/Select-AzureRmProfile
                    name: Select-AzureRmProfile
                    properties:
                      creationTime: 2017-03-17T17:05:21.697+00:00
                      definition: ""
                      description: The Select-AzureRmProfile cmdlet loads authentication information from a file to set the Azure environment and context. Cmdlets that you run in the current session use this information to authenticate requests to Azure Resource Manager.
                      lastModifiedTime: 2017-03-17T17:05:21.697+00:00
                      outputTypes: null
                      parameterSets: null
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Profile/activities/Set-AzureRmContext
                    name: Set-AzureRmContext
                    properties:
                      creationTime: 2017-03-17T17:05:21.697+00:00
                      definition: ""
                      description: The Set-AzureRmContext cmdlet sets authentication information for cmdlets that you run in the current session. The context includes tenant, subscription, and environment information.
                      lastModifiedTime: 2017-03-17T17:05:21.697+00:00
                      outputTypes: null
                      parameterSets: null
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Profile/activities/Set-AzureRmEnvironment
                    name: Set-AzureRmEnvironment
                    properties:
                      creationTime: 2017-03-17T17:05:21.697+00:00
                      definition: ""
                      description: The Set-AzureRMEnvironment cmdlet sets endpoints and metadata for connecting to an instance of Azure.
                      lastModifiedTime: 2017-03-17T17:05:21.697+00:00
                      outputTypes: null
                      parameterSets: null
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/modules/{moduleName}/activities/{activityName}":
    get:
      description: Retrieve the activity in the module identified by module name and activity name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/activityoperations
      operationId: Activity_Get
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of module.
          in: path
          name: moduleName
          required: true
          type: string
        - description: The name of activity.
          in: path
          name: activityName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Activity"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Activity
      x-ms-examples:
        Get Activity in a module:
          parameters:
            activityName: Add-AzureRmAccount
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount33
            moduleName: OmsCompositeResources
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Profile/activities/Add-AzureRmAccount
                name: Add-AzureRmAccount
                properties:
                  creationTime: 2017-03-17T17:05:21.697+00:00
                  definition: ""
                  description: |-
                    The Add-AzureRmAcccount cmdlet adds an authenticated Azure account to use for Azure Resource Manager cmdlet requests.

                    You can use this authenticated account only with Azure Resource Manager cmdlets. To add an authenticated account for use with Service Management cmdlets, use the Add-AzureAccount or the Import-AzurePublishSettingsFile cmdlet.
                  lastModifiedTime: 2017-03-17T17:05:21.697+00:00
                  outputTypes:
                    - name: Microsoft.Azure.Commands.Profile.Models.PSAzureProfile
                      type: Microsoft.Azure.Commands.Profile.Models.PSAzureProfile
                  parameterSets:
                    - name: SubscriptionId
                      parameters:
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: false
                          name: AccessToken
                          position: -2147483648
                          type: System.String
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: false
                          name: AccountId
                          position: -2147483648
                          type: System.String
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: false
                          name: ApplicationId
                          position: -2147483648
                          type: System.String
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: false
                          name: CertificateThumbprint
                          position: -2147483648
                          type: System.String
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: false
                          name: Credential
                          position: -2147483648
                          type: System.Management.Automation.PSCredential
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: false
                          name: Environment
                          position: -2147483648
                          type: Microsoft.Azure.Common.Authentication.Models.AzureEnvironment
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: false
                          name: EnvironmentName
                          position: -2147483648
                          type: System.String
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: false
                          name: SubscriptionId
                          position: -2147483648
                          type: System.String
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: true
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: false
                          name: TenantId
                          position: -2147483648
                          type: System.String
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                    - name: ServicePrincipal
                      parameters:
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: true
                          name: Credential
                          position: -2147483648
                          type: System.Management.Automation.PSCredential
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: false
                          name: Environment
                          position: -2147483648
                          type: Microsoft.Azure.Common.Authentication.Models.AzureEnvironment
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: false
                          name: EnvironmentName
                          position: -2147483648
                          type: System.String
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: true
                          name: ServicePrincipal
                          position: -2147483648
                          type: System.Management.Automation.SwitchParameter
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: false
                          name: SubscriptionId
                          position: -2147483648
                          type: System.String
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: true
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: false
                          name: SubscriptionName
                          position: -2147483648
                          type: System.String
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: true
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: true
                          name: TenantId
                          position: -2147483648
                          type: System.String
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                    - name: SubscriptionName
                      parameters:
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: false
                          name: AccessToken
                          position: -2147483648
                          type: System.String
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: false
                          name: AccountId
                          position: -2147483648
                          type: System.String
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: false
                          name: ApplicationId
                          position: -2147483648
                          type: System.String
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: false
                          name: CertificateThumbprint
                          position: -2147483648
                          type: System.String
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: false
                          name: Credential
                          position: -2147483648
                          type: System.Management.Automation.PSCredential
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: false
                          name: Environment
                          position: -2147483648
                          type: Microsoft.Azure.Common.Authentication.Models.AzureEnvironment
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: false
                          name: EnvironmentName
                          position: -2147483648
                          type: System.String
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: false
                          name: SubscriptionName
                          position: -2147483648
                          type: System.String
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: true
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: false
                          name: TenantId
                          position: -2147483648
                          type: System.String
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                    - name: User
                      parameters:
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: false
                          name: Credential
                          position: -2147483648
                          type: System.Management.Automation.PSCredential
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: false
                          name: Environment
                          position: -2147483648
                          type: Microsoft.Azure.Common.Authentication.Models.AzureEnvironment
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: false
                          name: EnvironmentName
                          position: -2147483648
                          type: System.String
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: false
                          name: TenantId
                          position: -2147483648
                          type: System.String
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                    - name: AccessToken
                      parameters:
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: true
                          name: AccessToken
                          position: -2147483648
                          type: System.String
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: true
                          name: AccountId
                          position: -2147483648
                          type: System.String
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: false
                          name: Environment
                          position: -2147483648
                          type: Microsoft.Azure.Common.Authentication.Models.AzureEnvironment
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: false
                          name: EnvironmentName
                          position: -2147483648
                          type: System.String
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: false
                          name: TenantId
                          position: -2147483648
                          type: System.String
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                    - name: ServicePrincipalCertificate
                      parameters:
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: true
                          name: ApplicationId
                          position: -2147483648
                          type: System.String
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: true
                          name: CertificateThumbprint
                          position: -2147483648
                          type: System.String
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: false
                          name: Environment
                          position: -2147483648
                          type: Microsoft.Azure.Common.Authentication.Models.AzureEnvironment
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: false
                          name: EnvironmentName
                          position: -2147483648
                          type: System.String
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: true
                          name: ServicePrincipal
                          position: -2147483648
                          type: System.Management.Automation.SwitchParameter
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
                        - description: Specify the feature description
                          isDynamic: false
                          isMandatory: true
                          name: TenantId
                          position: -2147483648
                          type: System.String
                          validationSet: []
                          valueFromPipeline: false
                          valueFromPipelineByPropertyName: false
                          valueFromRemainingArguments: false
              headers: {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/modules/{moduleName}/objectDataTypes/{typeName}/fields":
    get:
      description: Retrieve a list of fields of a given type identified by module name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/objectdatatypeoperations
      operationId: ObjectDataTypes_ListFieldsByModuleAndType
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of module.
          in: path
          name: moduleName
          required: true
          type: string
        - description: The name of type.
          in: path
          name: typeName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/TypeFieldListResult"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - ObjectDataTypes
      x-ms-examples:
        Get a list of fields of a given type:
          parameters:
            api-version: 2015-10-31
            automationAccountName: MyAutomationAccount
            moduleName: MyModule
            resourceGroupName: rg
            subscriptionId: subid
            typeName: MyCustomType
          responses:
            "200":
              body:
                value:
                  - name: Name
                    type: System.String
                  - name: Id
                    type: System.Integer
                  - name: Details
                    type: MyModule.AnotherCustomType
              headers: {}
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/modules/{moduleName}/types/{typeName}/fields":
    get:
      description: Retrieve a list of fields of a given type identified by module name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/typefieldoperations
      operationId: Fields_ListByType
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of module.
          in: path
          name: moduleName
          required: true
          type: string
        - description: The name of type.
          in: path
          name: typeName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/TypeFieldListResult"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - TypeFields
      x-ms-examples:
        Get a list of fields of a given type:
          parameters:
            api-version: 2015-10-31
            automationAccountName: MyAutomationAccount
            moduleName: MyModule
            resourceGroupName: rg
            subscriptionId: subid
            typeName: MyCustomType
          responses:
            "200":
              body:
                value:
                  - name: Name
                    type: System.String
                  - name: Id
                    type: System.Integer
                  - name: Details
                    type: MyModule.AnotherCustomType
              headers: {}
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/objectDataTypes/{typeName}/fields":
    get:
      description: Retrieve a list of fields of a given type across all accessible modules.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/objectdatatypeoperations
      operationId: ObjectDataTypes_ListFieldsByType
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of type.
          in: path
          name: typeName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/TypeFieldListResult"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - ObjectDataTypes
      x-ms-examples:
        Get a list of fields of a given type across all accessible modules:
          parameters:
            api-version: 2015-10-31
            automationAccountName: MyAutomationAccount
            resourceGroupName: rg
            subscriptionId: subid
            typeName: MyCustomType
          responses:
            "200":
              body:
                value:
                  - name: Name
                    type: System.String
                  - name: Id
                    type: System.Integer
                  - name: Details
                    type: MyModule.AnotherCustomType
              headers: {}
      x-ms-pageable:
        nextLinkName: null
definitions:
  Activity:
    description: Definition of the activity.
    properties:
      id:
        description: Gets or sets the id of the resource.
        type: string
      name:
        description: Gets the name of the activity.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/ActivityProperties"
        description: Gets or sets the properties of the activity.
        x-ms-client-flatten: true
  ActivityListResult:
    description: The response model for the list activity operation.
    properties:
      nextLink:
        description: Gets or sets the next link.
        type: string
      value:
        description: Gets or sets a list of activities.
        items:
          $ref: "#/definitions/Activity"
        type: array
  ActivityOutputType:
    description: Definition of the activity output type.
    properties:
      name:
        description: Gets or sets the name of the activity output type.
        type: string
      type:
        description: Gets or sets the type of the activity output type.
        type: string
  ActivityParameter:
    description: Definition of the activity parameter.
    properties:
      description:
        description: Gets or sets the description of the activity parameter.
        type: string
      isDynamic:
        description: Gets or sets a Boolean value that indicates true if the parameter is dynamic.
        type: boolean
      isMandatory:
        description: Gets or sets a Boolean value that indicates true if the parameter is required. If the value is false, the parameter is optional.
        type: boolean
      name:
        description: Gets or sets the name of the activity parameter.
        type: string
      position:
        description: Gets or sets the position of the activity parameter.
        format: int64
        type: integer
      type:
        description: Gets or sets the type of the activity parameter.
        type: string
      validationSet:
        description: Gets or sets the validation set of activity parameter.
        items:
          $ref: "#/definitions/ActivityParameterValidationSet"
        type: array
      valueFromPipeline:
        description: Gets or sets a Boolean value that indicates true if the parameter can take values from the incoming pipeline objects. This setting is used if the cmdlet must access the complete input object. false indicates that the parameter cannot take values from the complete input object.
        type: boolean
      valueFromPipelineByPropertyName:
        description: "Gets or sets a Boolean value that indicates true if the parameter can be filled from a property of the incoming pipeline object that has the same name as this parameter. false indicates that the parameter cannot be filled from the incoming pipeline object property with the same name. "
        type: boolean
      valueFromRemainingArguments:
        description: Gets or sets a Boolean value that indicates true if the cmdlet parameter accepts all the remaining command-line arguments that are associated with this parameter in the form of an array. false if the cmdlet parameter does not accept all the remaining argument values.
        type: boolean
  ActivityParameterSet:
    description: Definition of the activity parameter set.
    properties:
      name:
        description: Gets or sets the name of the activity parameter set.
        type: string
      parameters:
        description: Gets or sets the parameters of the activity parameter set.
        items:
          $ref: "#/definitions/ActivityParameter"
        type: array
  ActivityParameterValidationSet:
    description: Definition of the activity parameter validation set.
    properties:
      memberValue:
        description: Gets or sets the name of the activity parameter validation set member.
        type: string
  ActivityProperties:
    description: Properties of the activity.
    properties:
      creationTime:
        description: Gets or sets the creation time.
        format: date-time
        type: string
        x-nullable: false
      definition:
        description: Gets or sets the user name of the activity.
        type: string
      description:
        description: Gets or sets the description.
        type: string
      lastModifiedTime:
        description: Gets or sets the last modified time.
        format: date-time
        type: string
        x-nullable: false
      outputTypes:
        description: Gets or sets the output types of the activity.
        items:
          $ref: "#/definitions/ActivityOutputType"
        type: array
      parameterSets:
        description: Gets or sets the parameter sets of the activity.
        items:
          $ref: "#/definitions/ActivityParameterSet"
        type: array
  ContentHash:
    description: Definition of the runbook property type.
    properties:
      algorithm:
        description: Gets or sets the content hash algorithm used to hash the content.
        type: string
      value:
        description: Gets or sets expected hash value of the content.
        type: string
    required:
      - algorithm
      - value
  ContentLink:
    description: Definition of the content link.
    properties:
      contentHash:
        $ref: "#/definitions/ContentHash"
        description: Gets or sets the hash.
      uri:
        description: Gets or sets the uri of the runbook content.
        type: string
      version:
        description: Gets or sets the version of the content.
        type: string
  Module:
    allOf:
      - allOf:
          - description: The core properties of ARM resources
            properties:
              id:
                description: Fully qualified resource Id for the resource
                readOnly: true
                type: string
              name:
                description: The name of the resource
                readOnly: true
                type: string
              type:
                description: The type of the resource.
                readOnly: true
                type: string
            type: object
            x-ms-azure-resource: true
        description: The resource model definition for a ARM tracked top level resource
        properties:
          location:
            description: The Azure Region where the resource lives
            type: string
            x-ms-mutability:
              - read
              - create
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
            x-ms-mutability:
              - read
              - create
              - update
        type: object
    description: Definition of the module type.
    properties:
      etag:
        description: Gets or sets the etag of the resource.
        type: string
      properties:
        $ref: "#/definitions/ModuleProperties"
        description: Gets or sets the module properties.
        x-ms-client-flatten: true
  ModuleCreateOrUpdateParameters:
    description: The parameters supplied to the create or update module operation.
    properties:
      location:
        description: Gets or sets the location of the resource.
        type: string
      name:
        description: Gets or sets name of the resource.
        type: string
      properties:
        $ref: "#/definitions/ModuleCreateOrUpdateProperties"
        description: Gets or sets the module create properties.
        x-ms-client-flatten: true
      tags:
        additionalProperties:
          type: string
        description: Gets or sets the tags attached to the resource.
        type: object
    required:
      - properties
  ModuleCreateOrUpdateProperties:
    description: The parameters supplied to the create or update module properties.
    properties:
      contentLink:
        $ref: "#/definitions/ContentLink"
        description: Gets or sets the module content link.
    required:
      - contentLink
  ModuleErrorInfo:
    description: Definition of the module error info type.
    properties:
      code:
        description: Gets or sets the error code.
        type: string
      message:
        description: Gets or sets the error message.
        type: string
  ModuleListResult:
    description: The response model for the list module operation.
    properties:
      nextLink:
        description: Gets or sets the next link.
        type: string
      value:
        description: Gets or sets a list of modules.
        items:
          $ref: "#/definitions/Module"
        type: array
  ModuleProperties:
    description: Definition of the module property type.
    properties:
      activityCount:
        description: Gets or sets the activity count of the module.
        format: int32
        type: integer
      contentLink:
        $ref: "#/definitions/ContentLink"
        description: Gets or sets the contentLink of the module.
      creationTime:
        description: Gets or sets the creation time.
        format: date-time
        type: string
        x-nullable: false
      description:
        description: Gets or sets the description.
        type: string
      error:
        $ref: "#/definitions/ModuleErrorInfo"
        description: Gets or sets the error info of the module.
      isComposite:
        description: Gets or sets type of module, if its composite or not.
        type: boolean
      isGlobal:
        description: Gets or sets the isGlobal flag of the module.
        type: boolean
      lastModifiedTime:
        description: Gets or sets the last modified time.
        format: date-time
        type: string
        x-nullable: false
      provisioningState:
        description: Gets or sets the provisioning state of the module.
        enum:
          - Created
          - Creating
          - StartingImportModuleRunbook
          - RunningImportModuleRunbook
          - ContentRetrieved
          - ContentDownloaded
          - ContentValidated
          - ConnectionTypeImported
          - ContentStored
          - ModuleDataStored
          - ActivitiesStored
          - ModuleImportRunbookComplete
          - Succeeded
          - Failed
          - Cancelled
          - Updating
        type: string
        x-ms-enum:
          modelAsString: false
          name: ModuleProvisioningState
      sizeInBytes:
        description: Gets or sets the size in bytes of the module.
        format: int64
        type: integer
      version:
        description: Gets or sets the version of the module.
        type: string
  ModuleUpdateParameters:
    description: The parameters supplied to the update module operation.
    properties:
      location:
        description: Gets or sets the location of the resource.
        type: string
      name:
        description: Gets or sets name of the resource.
        type: string
      properties:
        $ref: "#/definitions/ModuleUpdateProperties"
        description: Gets or sets the module update properties.
        x-ms-client-flatten: true
      tags:
        additionalProperties:
          type: string
        description: Gets or sets the tags attached to the resource.
        type: object
  ModuleUpdateProperties:
    description: The parameters supplied to the update properties.
    properties:
      contentLink:
        $ref: "#/definitions/ContentLink"
        description: Gets or sets the module content link.
  TypeField:
    description: Information about a field of a type.
    properties:
      name:
        description: Gets or sets the name of the field.
        type: string
      type:
        description: Gets or sets the type of the field.
        type: string
  TypeFieldListResult:
    description: The response model for the list fields operation.
    properties:
      value:
        description: Gets or sets a list of fields.
        items:
          $ref: "#/definitions/TypeField"
        type: array
