swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Deployment Admin Client.
  title: DeploymentAdminClient
  version: 2019-01-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/deployment/Microsoft.Deployment.Admin/preview/2019-01-01/ProductDeployment.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-ProductDeployment
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Authorization uses an Azure Active Directory OAuth2 flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  BootstrapActionParameter:
    description: Represents bootstrap action parameter
    in: body
    name: bootstrapActionParameter
    required: true
    schema:
      description: Parameters for bootstrap action
      properties:
        version:
          description: Generic Version object
          type: string
      type: object
    x-ms-parameter-location: method
  DeployActionParameter:
    description: Represents bootstrap action parameter
    in: body
    name: deployActionParameter
    required: true
    schema:
      description: Parameters for deploy action
      properties:
        parameters:
          description: Deployment parameters, value in JToken
          type: string
        version:
          description: Generic Version object
          type: string
      type: object
    x-ms-parameter-location: method
  ResourceGroupParameter:
    description: The resource group the resource is located under.
    in: path
    name: resourceGroup
    required: true
    type: string
    x-ms-parameter-location: method
  UnlockActionParameter:
    description: Represents bootstrap action parameter
    in: body
    name: unlockActionParameter
    required: true
    schema:
      description: Parameters for bootstrap action
      properties:
        duration:
          description: Duration in TimeSpan format(Define which ISO format)
          type: string
      type: object
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments":
    get:
      description: Invokes bootstrap action on the product deployment
      operationId: ProductDeployments_List
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - default: 2019-01-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: Ok
          schema:
            $ref: "#/definitions/ProductDeploymentsList"
      tags:
        - ProductDeployments
      x-ms-examples:
        List the product deployments:
          parameters:
            api-version: 2019-01-01
            location: global
            productId: Microsoft.IotHubPreview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                - id: /subscriptions/0a581108-e747-40cf-8a80-2c82ddd0438a/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/microsoft.iothubpreview
                  name: global/microsoft.iothubpreview
                  properties:
                    provisioningState: Succeeded
                    status: None
                  type: Microsoft.Deployment.Admin/locations/productDeployments
                - id: /subscriptions/0a581108-e747-40cf-8a80-2c82ddd0438a/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/microsoft.eventhubstaging
                  name: global/microsoft.eventhubstaging
                  properties:
                    deployment:
                      actionPlanInstanceResourceId: /subscriptions/0a581108-e747-40cf-8a80-2c82ddd0438a/providers/Microsoft.Deployment.Admin/locations/global/actionplans/33a10be1-2365-44a9-8c69-c8a06e8fd81c
                      parameters: {}
                      version: 1.3.1
                    lastSuccessfulDeployment:
                      actionPlanInstanceResourceId: /subscriptions/0a581108-e747-40cf-8a80-2c82ddd0438a/providers/Microsoft.Deployment.Admin/locations/global/actionplans/33a10be1-2365-44a9-8c69-c8a06e8fd81c
                      parameters: {}
                      version: 1.3.1
                    provisioningState: Succeeded
                    status: DeploymentSucceeded
                    subscriptionId: bc070a98-3728-476c-aeb0-8957e067c29d
                  type: Microsoft.Deployment.Admin/locations/productDeployments
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}":
    get:
      description: Invokes bootstrap action on the product deployment
      operationId: ProductDeployments_Get
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - default: 2019-01-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The product identifier.
          in: path
          name: productId
          required: true
          type: string
          x-ms-parameter-location: method
      responses:
        "200":
          description: Ok
          schema:
            $ref: "#/definitions/ProductDeploymentResourceEntity"
        "404":
          description: NOT FOUND
      tags:
        - ProductDeployments
      x-ms-examples:
        Gets the specified product deployment:
          parameters:
            api-version: 2019-01-01
            location: global
            productId: Microsoft.IotHubPreview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/microsoft.iothubpreview
                name: global/microsoft.iothubpreview
                properties:
                  provisioningState: Succeeded
                  status: BootstrapSucceeded
                  subscriptionId: c487a9cf-9841-44fa-9370-7b9e094db57e
                type: Microsoft.Deployment.Admin/locations/productDeployments
            "404": {}
  "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/bootstrap":
    post:
      description: Invokes bootstrap action on the product deployment
      operationId: ProductDeployments_BootStrap
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The product identifier.
          in: path
          name: productId
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Represents bootstrap action parameter
          in: body
          name: bootstrapActionParameter
          required: true
          schema:
            description: Parameters for bootstrap action
            properties:
              version:
                description: Generic Version object
                type: string
            type: object
          x-ms-parameter-location: method
        - default: 2019-01-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: Ok
        "202":
          description: ACCEPTED
      tags:
        - ProductDeployments
      x-ms-examples:
        Invokes bootstrap action on the product deployment:
          parameters:
            api-version: 2019-01-01
            bootstrapActionParameter:
              version: 1.0.2
            location: global
            productId: Microsoft.IotHubPreview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/deploy":
    post:
      description: Invokes deploy action on the product
      operationId: ProductDeployments_Deploy
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The product identifier.
          in: path
          name: productId
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Represents bootstrap action parameter
          in: body
          name: deployActionParameter
          required: true
          schema:
            description: Parameters for deploy action
            properties:
              parameters:
                description: Deployment parameters, value in JToken
                type: string
              version:
                description: Generic Version object
                type: string
            type: object
          x-ms-parameter-location: method
        - default: 2019-01-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: Ok
        "202":
          description: ACCEPTED
      tags:
        - ProductDeployments
      x-ms-examples:
        Invokes deploy action on the product:
          parameters:
            api-version: 2019-01-01
            deployActionParameter:
              version: 1.0.2
            location: global
            productId: Microsoft.IotHubPreview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/lock":
    post:
      description: locks the product subscription
      operationId: ProductDeployments_Lock
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The product identifier.
          in: path
          name: productId
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2019-01-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
      tags:
        - ProductDeployments
      x-ms-examples:
        locks the product subscription:
          parameters:
            api-version: 2019-01-01
            location: global
            productId: Microsoft.IotHubPreview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200": {}
  "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/remove":
    post:
      description: Invokes remove action on the product deployment
      operationId: ProductDeployments_Remove
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The product identifier.
          in: path
          name: productId
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2019-01-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: Ok
        "202":
          description: ACCEPTED
      tags:
        - ProductDeployments
      x-ms-examples:
        Invokes remove action on the product deployment:
          parameters:
            api-version: 2019-01-01
            location: global
            productId: Microsoft.IotHubPreview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/rotateSecrets":
    post:
      description: Invokes rotate secrets action on the product deployment
      operationId: ProductDeployments_RotateSecrets
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The product identifier.
          in: path
          name: productId
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2019-01-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
        "202":
          description: ACCEPTED
      tags:
        - ProductDeployments
      x-ms-examples:
        Invokes rotate secrets action on the product deployment:
          parameters:
            api-version: 2019-01-01
            location: global
            productId: Microsoft.IotHubPreview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productDeployments/{productId}/unlock":
    post:
      description: Unlocks the product subscription
      operationId: ProductDeployments_Unlock
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The product identifier.
          in: path
          name: productId
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Represents bootstrap action parameter
          in: body
          name: unlockActionParameter
          required: true
          schema:
            description: Parameters for bootstrap action
            properties:
              duration:
                description: Duration in TimeSpan format(Define which ISO format)
                type: string
            type: object
          x-ms-parameter-location: method
        - default: 2019-01-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
      tags:
        - ProductDeployments
      x-ms-examples:
        Unlocks the product subscription:
          parameters:
            api-version: 2019-01-01
            location: global
            productId: Microsoft.IotHubPreview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            unlockActionParameter:
              duration: P5D
          responses:
            "200": {}
definitions:
  BootStrapActionParameters:
    description: Parameters for bootstrap action
    properties:
      version:
        description: Generic Version object
        type: string
    type: object
  DeployActionParameters:
    description: Parameters for deploy action
    properties:
      parameters:
        description: Deployment parameters, value in JToken
        type: string
      version:
        description: Generic Version object
        type: string
    type: object
  DeploymentInfo:
    description: Resource provider deployment information
    properties:
      actionPlanInstanceResourceId:
        description: The identifier of the latest action plan instance resource.
        type: string
      eTag:
        description: entity tag
        type: string
      parameters:
        description: The latest deployment parameters as JToken
        type: string
      version:
        description: The product version
        type: string
    type: object
  DeploymentStatus:
    description: Status of an operation.
    enum:
      - None
      - Bootstrapping
      - BootstrapSucceeded
      - BootstrapFailed
      - Deploying
      - DeploymentSucceeded
      - DeploymentFailed
      - Updating
      - UpdateSucceeded
      - UpdateFailed
      - Removing
      - RemoveFailed
      - SecretRotationInProgress
      - SecretRotationSucceeded
      - SecretRotationFailed
      - Migrated
    type: string
    x-ms-enum:
      modelAsString: true
      name: DeploymentStatus
  ExtendedErrorInfo: {}
  ExternalAccessInfo:
    description: Resource provider deployment information
    properties:
      expirationTime:
        description: The deployment start time
        format: date-time
        type: string
      principalId:
        description: The object identifier of the user, group or service principal that have access to resource provider subscription.
        type: string
    type: object
  ProductDeploymentResourceEntity:
    allOf:
      - description: Object model of azure resource manager base.
        properties:
          id:
            description: ID of the resource.
            readOnly: true
            type: string
          location:
            description: Location of the resource.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          type:
            description: Type of Resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
    description: Product deployment entity
    properties:
      eTag:
        description: entity tag
        type: string
      properties:
        $ref: "#/definitions/ProductDeploymentsProperties"
        description: Product deployment resource properties
        x-ms-client-flatten: true
    type: object
  ProductDeploymentsInternalState:
    description: Resource type internal state
    properties:
      externalAccessRoleAssignmentId:
        description: The current external access role assignment identifier
        type: string
      intermediateVaultId:
        description: The intermediate vault resource identifier
        type: string
      intermediateVaultUri:
        description: The intermediate vault Uri.
        type: string
      jobId:
        description: The latest deployment job identifier
        type: string
    type: object
  ProductDeploymentsList:
    description: List of Product Deployments.
    properties:
      nextLink:
        description: URI to the next page.
        type: string
      value:
        description: List of Product Deployments.
        items:
          $ref: "#/definitions/ProductDeploymentResourceEntity"
        type: array
  ProductDeploymentsProperties:
    description: Product deployment resource properties
    properties:
      deployment:
        $ref: "#/definitions/DeploymentInfo"
        description: The current deployment information
      error:
        description: Error information
        properties:
          code:
            description: Error Code
            type: string
          details:
            $ref: "#/definitions/ExtendedErrorInfo"
            description: Error message details
          message:
            description: Error Message
            type: string
        type: object
      externalAccess:
        $ref: "#/definitions/ExternalAccessInfo"
        description: Resource provider secret rotation information
      internalState:
        $ref: "#/definitions/ProductDeploymentsInternalState"
        description: Product deployment resource internal state
      lastSuccessfulDeployment:
        $ref: "#/definitions/DeploymentInfo"
        description: The last successful deployment information
      productId:
        description: The product identifier
        type: string
      provisioningState:
        description: The provisioning state
        type: string
      secretRotation:
        $ref: "#/definitions/SecretRotationInfo"
        description: Resource provider secret rotation information
      status:
        $ref: "#/definitions/DeploymentStatus"
        description: Status of the product deployment.
      subscriptionId:
        description: The product subscription identifier
        type: string
    type: object
  SecretRotationInfo:
    description: Resource provider deployment information
    properties:
      secretRotationPlanInstanceResourceId:
        description: The identifier of the latest secret rotation plan instance resource.
        type: string
    type: object
  UnlockActionParameters:
    description: Parameters for bootstrap action
    properties:
      duration:
        description: Duration in TimeSpan format(Define which ISO format)
        type: string
    type: object
