swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: CertificateRegistrationProvider API Client
  version: 2018-02-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.CertificateRegistration/stable/2018-02-01/CertificateRegistrationProvider.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: web-CertificateRegistrationProvider
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: API Version
    in: query
    name: api-version
    required: true
    type: string
  subscriptionIdParameter:
    description: Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.CertificateRegistration/operations:
    get:
      description: Implements Csm operations Api to exposes the list of available Csm Apis under the resource provider
      operationId: CertificateRegistrationProvider_ListOperations
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            description: Collection of Azure resource manager operation metadata.
            properties:
              nextLink:
                description: Link to next page of resources.
                readOnly: true
                type: string
              value:
                description: Collection of resources.
                items:
                  description: Description of an operation available for Microsoft.Web resource provider.
                  properties:
                    display:
                      description: Meta data about operation used for display in portal.
                      properties:
                        description:
                          type: string
                        operation:
                          type: string
                        provider:
                          type: string
                        resource:
                          type: string
                      type: object
                    name:
                      type: string
                    origin:
                      type: string
                    properties:
                      description: Properties available for a Microsoft.Web resource provider operation.
                      properties:
                        serviceSpecification:
                          description: Resource metrics service provided by Microsoft.Insights resource provider.
                          properties:
                            logSpecifications:
                              items:
                                description: Log Definition of a single resource metric.
                                properties:
                                  blobDuration:
                                    type: string
                                  displayName:
                                    type: string
                                  name:
                                    type: string
                                type: object
                              type: array
                            metricSpecifications:
                              items:
                                description: Definition of a single resource metric.
                                properties:
                                  aggregationType:
                                    type: string
                                  availabilities:
                                    items:
                                      description: Retention policy of a resource metric.
                                      properties:
                                        blobDuration:
                                          type: string
                                        timeGrain:
                                          type: string
                                      type: object
                                    type: array
                                  category:
                                    type: string
                                  dimensions:
                                    items:
                                      description: |-
                                        Dimension of a resource metric. For e.g. instance specific HTTP requests for a web app, 
                                        where instance name is dimension of the metric HTTP request
                                      properties:
                                        displayName:
                                          type: string
                                        internalName:
                                          type: string
                                        name:
                                          type: string
                                        toBeExportedForShoebox:
                                          type: boolean
                                      type: object
                                    type: array
                                  displayDescription:
                                    type: string
                                  displayName:
                                    type: string
                                  enableRegionalMdmAccount:
                                    type: boolean
                                  fillGapWithZero:
                                    type: boolean
                                  isInternal:
                                    type: boolean
                                  metricFilterPattern:
                                    type: string
                                  name:
                                    type: string
                                  sourceMdmAccount:
                                    type: string
                                  sourceMdmNamespace:
                                    type: string
                                  supportsInstanceLevelAggregation:
                                    type: boolean
                                  unit:
                                    type: string
                                type: object
                              type: array
                          type: object
                      type: object
                  type: object
                type: array
            required:
              - value
            type: object
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Implements Csm operations Api to exposes the list of available Csm Apis under the resource provider
      tags:
        - CertificateRegistrationProvider
      x-ms-examples:
        List operations:
          parameters:
            api-version: 2018-02-01
          responses:
            "200":
              body:
                value:
                  - display:
                      description: Add a new certificate or update an existing one
                      operation: Add or Update Certificate
                      provider: Microsoft Certificates
                      resource: Certificate
                    name: Microsoft.CertificateRegistration/certificateOrders/certificates/Write
                    origin: user,system
                  - display:
                      description: Add a new certificateOrder or update an existing one
                      operation: Add or Update AppServiceCertificate
                      provider: Microsoft Certificates
                      resource: AppServiceCertificate
                    name: Microsoft.CertificateRegistration/certificateOrders/Write
                    origin: user,system
                  - display:
                      description: Delete an existing certificate
                      operation: Delete Certificate
                      provider: Microsoft Certificates
                      resource: Certificate
                    name: Microsoft.CertificateRegistration/certificateOrders/certificates/Delete
                    origin: user,system
                  - display:
                      description: Delete an existing AppServiceCertificate
                      operation: Delete AppServiceCertificate
                      provider: Microsoft Certificates
                      resource: AppServiceCertificate
                    name: Microsoft.CertificateRegistration/certificateOrders/Delete
                    origin: user,system
                  - display:
                      description: Get the list of CertificateOrders
                      operation: Get CertificateOrders
                      provider: Microsoft Certificates
                      resource: AppServiceCertificate
                    name: Microsoft.CertificateRegistration/certificateOrders/Read
                    origin: user,system
                  - display:
                      description: Get the list of certificates
                      operation: Get Certificates
                      provider: Microsoft Certificates
                      resource: Certificate
                    name: Microsoft.CertificateRegistration/certificateOrders/certificates/Read
                    origin: user,system
                  - display:
                      description: Reissue an existing certificateorder
                      operation: Reissue certificateorder
                      provider: Microsoft Certificates
                      resource: AppServiceCertificate
                    name: Microsoft.CertificateRegistration/certificateOrders/reissue/Action
                    origin: user,system
                  - display:
                      description: Renew an existing certificateorder
                      operation: Renew certificateorder
                      provider: Microsoft Certificates
                      resource: AppServiceCertificate
                    name: Microsoft.CertificateRegistration/certificateOrders/renew/Action
                    origin: user,system
                  - display:
                      description: Retrieve the list of certificate actions
                      operation: Certificateorder actions
                      provider: Microsoft Certificates
                      resource: AppServiceCertificate
                    name: Microsoft.CertificateRegistration/certificateOrders/retrieveCertificateActions/Action
                    origin: user,system
                  - display:
                      description: Retrieve certificate email history
                      operation: Certificateorder email history
                      provider: Microsoft Certificates
                      resource: AppServiceCertificate
                    name: Microsoft.CertificateRegistration/certificateOrders/retrieveEmailHistory/Action
                    origin: user,system
                  - display:
                      description: Resend certificate email
                      operation: Resend Certificateorder email
                      provider: Microsoft Certificates
                      resource: AppServiceCertificate
                    name: Microsoft.CertificateRegistration/certificateOrders/resendEmail/Action
                    origin: user,system
                  - display:
                      description: Verify domain ownership
                      operation: Verify domain ownership
                      provider: Microsoft Certificates
                      resource: AppServiceCertificate
                    name: Microsoft.CertificateRegistration/certificateOrders/verifyDomainOwnership/Action
                    origin: user,system
                  - display:
                      description: Resend request emails to another email address
                      operation: Resend request emails to another email address
                      provider: Microsoft Certificates
                      resource: AppServiceCertificate
                    name: Microsoft.CertificateRegistration/certificateOrders/resendRequestEmails/Action
                    origin: user,system
                  - display:
                      description: Retrieve site seal for an issued App Service Certificate
                      operation: Retrieve site seal for an issued App Service Certificate
                      provider: Microsoft Certificates
                      resource: AppServiceCertificate
                    name: Microsoft.CertificateRegistration/certificateOrders/resendRequestEmails/Action
                    origin: user,system
                  - display:
                      description: Provision service principal for service app principal
                      operation: Provision service principal
                      provider: Microsoft Certificates
                      resource: AppServiceCertificate
                    name: Microsoft.CertificateRegistration/provisionGlobalAppServicePrincipalInUserTenant/Action
                    origin: user,system
                  - display:
                      description: Validate certificate purchase object without submitting it
                      operation: Certificate Purchase Info Validation
                      provider: Microsoft Certificates
                      resource: AppServiceCertificate
                    name: Microsoft.CertificateRegistration/validateCertificateRegistrationInformation/Action
                    origin: user,system
                  - display:
                      description: Register the Microsoft Certificates resource provider for the subscription
                      operation: Register Microsoft Certificates resource provider
                      provider: Microsoft Certificates
                      resource: Microsoft Certificates resource provider
                    name: Microsoft.CertificateRegistration/register/action
                    origin: user,system
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
definitions: {}
