swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: AppServiceEnvironments API Client
  version: 2016-09-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2016-09-01/AppServiceEnvironments.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: web-AppServiceEnvironments
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: API Version
    in: query
    name: api-version
    required: true
    type: string
  resourceGroupNameParameter:
    description: Name of the resource group to which the resource belongs.
    in: path
    maxLength: 90
    minLength: 1
    name: resourceGroupName
    pattern: ^[-\w\._\(\)]+[^\.]$
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionIdParameter:
    description: Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Web/hostingEnvironments":
    get:
      description: Get all App Service Environments for a subscription.
      operationId: AppServiceEnvironments_List
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AppServiceEnvironmentCollection"
      summary: Get all App Service Environments for a subscription.
      tags:
        - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments":
    get:
      description: Get all App Service Environments in a resource group.
      operationId: AppServiceEnvironments_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AppServiceEnvironmentCollection"
      summary: Get all App Service Environments in a resource group.
      tags:
        - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}":
    delete:
      description: Delete an App Service Environment.
      operationId: AppServiceEnvironments_Delete
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the App Service Environment.
          in: path
          name: name
          required: true
          type: string
        - description: Specify <code>true</code> to force the deletion even if the App Service Environment contains resources. The default is <code>false</code>.
          in: query
          name: forceDelete
          type: boolean
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "202":
          description: Operation is in progress.
        "204":
          description: App Service Environment does not exist
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "409":
          description: Conflict.
      summary: Delete an App Service Environment.
      tags:
        - AppServiceEnvironments
      x-ms-long-running-operation: true
    get:
      description: Get the properties of an App Service Environment.
      operationId: AppServiceEnvironments_Get
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the App Service Environment.
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AppServiceEnvironmentResource"
      summary: Get the properties of an App Service Environment.
      tags:
        - AppServiceEnvironments
    patch:
      description: Create or update an App Service Environment.
      operationId: AppServiceEnvironments_Update
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the App Service Environment.
          in: path
          name: name
          required: true
          type: string
        - description: Configuration details of the App Service Environment.
          in: body
          name: hostingEnvironmentEnvelope
          required: true
          schema:
            $ref: "#/definitions/AppServiceEnvironmentPatchResource"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AppServiceEnvironmentResource"
        "202":
          description: Operation is in progress.
          schema:
            $ref: "#/definitions/AppServiceEnvironmentResource"
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "409":
          description: Conflict.
      summary: Create or update an App Service Environment.
      tags:
        - AppServiceEnvironments
    put:
      description: Create or update an App Service Environment.
      operationId: AppServiceEnvironments_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the App Service Environment.
          in: path
          name: name
          required: true
          type: string
        - description: Configuration details of the App Service Environment.
          in: body
          name: hostingEnvironmentEnvelope
          required: true
          schema:
            $ref: "#/definitions/AppServiceEnvironmentResource"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AppServiceEnvironmentResource"
        "202":
          description: Operation is in progress.
          schema:
            $ref: "#/definitions/AppServiceEnvironmentResource"
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "409":
          description: Conflict.
      summary: Create or update an App Service Environment.
      tags:
        - AppServiceEnvironments
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/capacities/compute":
    get:
      description: Get the used, available, and total worker capacity an App Service Environment.
      operationId: AppServiceEnvironments_ListCapacities
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the App Service Environment.
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/StampCapacityCollection"
      summary: Get the used, available, and total worker capacity an App Service Environment.
      tags:
        - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/capacities/virtualip":
    get:
      description: Get IP addresses assigned to an App Service Environment.
      operationId: AppServiceEnvironments_ListVips
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the App Service Environment.
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AddressResponse"
      summary: Get IP addresses assigned to an App Service Environment.
      tags:
        - AppServiceEnvironments
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/diagnostics":
    get:
      description: Get diagnostic information for an App Service Environment.
      operationId: AppServiceEnvironments_ListDiagnostics
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the App Service Environment.
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: "#/definitions/HostingEnvironmentDiagnostics"
            type: array
      summary: Get diagnostic information for an App Service Environment.
      tags:
        - AppServiceEnvironments
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/diagnostics/{diagnosticsName}":
    get:
      description: Get a diagnostics item for an App Service Environment.
      operationId: AppServiceEnvironments_GetDiagnosticsItem
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the App Service Environment.
          in: path
          name: name
          required: true
          type: string
        - description: Name of the diagnostics item.
          in: path
          name: diagnosticsName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/HostingEnvironmentDiagnostics"
      summary: Get a diagnostics item for an App Service Environment.
      tags:
        - AppServiceEnvironments
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/metricdefinitions":
    get:
      description: Get global metric definitions of an App Service Environment.
      operationId: AppServiceEnvironments_ListMetricDefinitions
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the App Service Environment.
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/MetricDefinition"
      summary: Get global metric definitions of an App Service Environment.
      tags:
        - AppServiceEnvironments
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/metrics":
    get:
      description: Get global metrics of an App Service Environment.
      operationId: AppServiceEnvironments_ListMetrics
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the App Service Environment.
          in: path
          name: name
          required: true
          type: string
        - description: Specify <code>true</code> to include instance details. The default is <code>false</code>.
          in: query
          name: details
          type: boolean
        - description: "Return only usages/metrics specified in the filter. Filter conforms to odata syntax. Example: $filter=(name.value eq 'Metric1' or name.value eq 'Metric2') and startTime eq '2014-01-01T00:00:00Z' and endTime eq '2014-12-31T23:59:59Z' and timeGrain eq duration'[Hour|Minute|Day]'."
          in: query
          name: $filter
          type: string
          x-ms-skip-url-encoding: true
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            description: Collection of metric responses.
            properties:
              nextLink:
                description: Link to next page of resources.
                readOnly: true
                type: string
              value:
                description: Collection of resources.
                items:
                  description: Object representing a metric for any resource .
                  properties:
                    endTime:
                      description: Metric end time.
                      format: date-time
                      readOnly: true
                      type: string
                    id:
                      description: Resource Id.
                      readOnly: true
                      type: string
                    metricValues:
                      description: Metric values.
                      items:
                        description: Value of resource metric.
                        properties:
                          average:
                            description: Value average.
                            format: float
                            readOnly: true
                            type: number
                          count:
                            description: Value count.
                            format: float
                            readOnly: true
                            type: number
                          maximum:
                            description: Value maximum.
                            format: float
                            readOnly: true
                            type: number
                          minimum:
                            description: Value minimum.
                            format: float
                            readOnly: true
                            type: number
                          properties:
                            description: Resource metric properties collection.
                            items:
                              description: Resource metric property.
                              properties:
                                key:
                                  description: Key for resource metric property.
                                  type: string
                                value:
                                  description: Value of pair.
                                  type: string
                              type: object
                            readOnly: true
                            type: array
                          timestamp:
                            description: Value timestamp.
                            readOnly: true
                            type: string
                          total:
                            description: Value total.
                            format: float
                            readOnly: true
                            type: number
                        type: object
                      readOnly: true
                      type: array
                    name:
                      description: Name of a metric for any resource .
                      properties:
                        localizedValue:
                          description: Localized metric name value.
                          readOnly: true
                          type: string
                        value:
                          description: metric name value.
                          readOnly: true
                          type: string
                      type: object
                    properties:
                      description: Resource metric properties collection.
                      items:
                        description: Resource metric property.
                        properties:
                          key:
                            description: Key for resource metric property.
                            type: string
                          value:
                            description: Value of pair.
                            type: string
                        type: object
                      readOnly: true
                      type: array
                    resourceId:
                      description: Metric resource Id.
                      readOnly: true
                      type: string
                    startTime:
                      description: Metric start time.
                      format: date-time
                      readOnly: true
                      type: string
                    timeGrain:
                      description: Metric granularity. E.g PT1H, PT5M, P1D
                      readOnly: true
                      type: string
                    unit:
                      description: Metric unit.
                      readOnly: true
                      type: string
                  type: object
                type: array
            required:
              - value
            type: object
      summary: Get global metrics of an App Service Environment.
      tags:
        - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools":
    get:
      description: Get all multi-role pools.
      operationId: AppServiceEnvironments_ListMultiRolePools
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the App Service Environment.
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/WorkerPoolCollection"
      summary: Get all multi-role pools.
      tags:
        - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default":
    get:
      description: Get properties of a multi-role pool.
      operationId: AppServiceEnvironments_GetMultiRolePool
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the App Service Environment.
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/WorkerPoolResource"
      summary: Get properties of a multi-role pool.
      tags:
        - AppServiceEnvironments
    patch:
      description: Create or update a multi-role pool.
      operationId: AppServiceEnvironments_UpdateMultiRolePool
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the App Service Environment.
          in: path
          name: name
          required: true
          type: string
        - description: Properties of the multi-role pool.
          in: body
          name: multiRolePoolEnvelope
          required: true
          schema:
            $ref: "#/definitions/WorkerPoolResource"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/WorkerPoolResource"
        "202":
          description: Operation is in progress.
          schema:
            $ref: "#/definitions/WorkerPoolResource"
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "409":
          description: Conflict.
      summary: Create or update a multi-role pool.
      tags:
        - AppServiceEnvironments
    put:
      description: Create or update a multi-role pool.
      operationId: AppServiceEnvironments_CreateOrUpdateMultiRolePool
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the App Service Environment.
          in: path
          name: name
          required: true
          type: string
        - description: Properties of the multi-role pool.
          in: body
          name: multiRolePoolEnvelope
          required: true
          schema:
            $ref: "#/definitions/WorkerPoolResource"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/WorkerPoolResource"
        "202":
          description: Operation is in progress.
          schema:
            $ref: "#/definitions/WorkerPoolResource"
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "409":
          description: Conflict.
      summary: Create or update a multi-role pool.
      tags:
        - AppServiceEnvironments
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/instances/{instance}/metricdefinitions":
    get:
      description: Get metric definitions for a specific instance of a multi-role pool of an App Service Environment.
      operationId: AppServiceEnvironments_ListMultiRolePoolInstanceMetricDefinitions
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the App Service Environment.
          in: path
          name: name
          required: true
          type: string
        - description: Name of the instance in the multi-role pool.
          in: path
          name: instance
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            description: Collection of metric definitions.
            properties:
              nextLink:
                description: Link to next page of resources.
                readOnly: true
                type: string
              value:
                description: Collection of resources.
                items:
                  allOf:
                    - description: Azure proxy only resource. This resource is not tracked by Azure Resource Manager.
                      properties:
                        id:
                          description: Resource Id.
                          readOnly: true
                          type: string
                        kind:
                          description: Kind of resource.
                          type: string
                        name:
                          description: Resource Name.
                          readOnly: true
                          type: string
                        type:
                          description: Resource type.
                          readOnly: true
                          type: string
                      x-ms-azure-resource: true
                  description: Metadata for the metrics.
                  properties:
                    properties:
                      description: ResourceMetricDefinition resource specific properties
                      properties:
                        id:
                          description: Resource ID.
                          readOnly: true
                          type: string
                        metricAvailabilities:
                          description: List of time grains supported for the metric together with retention period.
                          items:
                            description: Metrics availability and retention.
                            properties:
                              retention:
                                description: Retention period for the current time grain.
                                readOnly: true
                                type: string
                              timeGrain:
                                description: Time grain .
                                readOnly: true
                                type: string
                            type: object
                          readOnly: true
                          type: array
                        name:
                          description: Name of a metric for any resource .
                          properties:
                            localizedValue:
                              description: Localized metric name value.
                              readOnly: true
                              type: string
                            value:
                              description: metric name value.
                              readOnly: true
                              type: string
                          type: object
                        primaryAggregationType:
                          description: Primary aggregation type.
                          readOnly: true
                          type: string
                        properties:
                          additionalProperties:
                            type: string
                          description: Resource metric definition properties.
                          readOnly: true
                          type: object
                        resourceUri:
                          description: Resource URI.
                          readOnly: true
                          type: string
                        unit:
                          description: Unit of the metric.
                          readOnly: true
                          type: string
                      x-ms-client-flatten: true
                  type: object
                type: array
            required:
              - value
            type: object
      summary: Get metric definitions for a specific instance of a multi-role pool of an App Service Environment.
      tags:
        - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/instances/{instance}/metrics":
    get:
      description: Get metrics for a specific instance of a multi-role pool of an App Service Environment.
      operationId: AppServiceEnvironments_ListMultiRolePoolInstanceMetrics
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the App Service Environment.
          in: path
          name: name
          required: true
          type: string
        - description: Name of the instance in the multi-role pool.
          in: path
          name: instance
          required: true
          type: string
        - description: Specify <code>true</code> to include instance details. The default is <code>false</code>.
          in: query
          name: details
          type: boolean
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            description: Collection of metric responses.
            properties:
              nextLink:
                description: Link to next page of resources.
                readOnly: true
                type: string
              value:
                description: Collection of resources.
                items:
                  description: Object representing a metric for any resource .
                  properties:
                    endTime:
                      description: Metric end time.
                      format: date-time
                      readOnly: true
                      type: string
                    id:
                      description: Resource Id.
                      readOnly: true
                      type: string
                    metricValues:
                      description: Metric values.
                      items:
                        description: Value of resource metric.
                        properties:
                          average:
                            description: Value average.
                            format: float
                            readOnly: true
                            type: number
                          count:
                            description: Value count.
                            format: float
                            readOnly: true
                            type: number
                          maximum:
                            description: Value maximum.
                            format: float
                            readOnly: true
                            type: number
                          minimum:
                            description: Value minimum.
                            format: float
                            readOnly: true
                            type: number
                          properties:
                            description: Resource metric properties collection.
                            items:
                              description: Resource metric property.
                              properties:
                                key:
                                  description: Key for resource metric property.
                                  type: string
                                value:
                                  description: Value of pair.
                                  type: string
                              type: object
                            readOnly: true
                            type: array
                          timestamp:
                            description: Value timestamp.
                            readOnly: true
                            type: string
                          total:
                            description: Value total.
                            format: float
                            readOnly: true
                            type: number
                        type: object
                      readOnly: true
                      type: array
                    name:
                      description: Name of a metric for any resource .
                      properties:
                        localizedValue:
                          description: Localized metric name value.
                          readOnly: true
                          type: string
                        value:
                          description: metric name value.
                          readOnly: true
                          type: string
                      type: object
                    properties:
                      description: Resource metric properties collection.
                      items:
                        description: Resource metric property.
                        properties:
                          key:
                            description: Key for resource metric property.
                            type: string
                          value:
                            description: Value of pair.
                            type: string
                        type: object
                      readOnly: true
                      type: array
                    resourceId:
                      description: Metric resource Id.
                      readOnly: true
                      type: string
                    startTime:
                      description: Metric start time.
                      format: date-time
                      readOnly: true
                      type: string
                    timeGrain:
                      description: Metric granularity. E.g PT1H, PT5M, P1D
                      readOnly: true
                      type: string
                    unit:
                      description: Metric unit.
                      readOnly: true
                      type: string
                  type: object
                type: array
            required:
              - value
            type: object
      summary: Get metrics for a specific instance of a multi-role pool of an App Service Environment.
      tags:
        - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/metricdefinitions":
    get:
      description: Get metric definitions for a multi-role pool of an App Service Environment.
      operationId: AppServiceEnvironments_ListMultiRoleMetricDefinitions
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the App Service Environment.
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            description: Collection of metric definitions.
            properties:
              nextLink:
                description: Link to next page of resources.
                readOnly: true
                type: string
              value:
                description: Collection of resources.
                items:
                  allOf:
                    - description: Azure proxy only resource. This resource is not tracked by Azure Resource Manager.
                      properties:
                        id:
                          description: Resource Id.
                          readOnly: true
                          type: string
                        kind:
                          description: Kind of resource.
                          type: string
                        name:
                          description: Resource Name.
                          readOnly: true
                          type: string
                        type:
                          description: Resource type.
                          readOnly: true
                          type: string
                      x-ms-azure-resource: true
                  description: Metadata for the metrics.
                  properties:
                    properties:
                      description: ResourceMetricDefinition resource specific properties
                      properties:
                        id:
                          description: Resource ID.
                          readOnly: true
                          type: string
                        metricAvailabilities:
                          description: List of time grains supported for the metric together with retention period.
                          items:
                            description: Metrics availability and retention.
                            properties:
                              retention:
                                description: Retention period for the current time grain.
                                readOnly: true
                                type: string
                              timeGrain:
                                description: Time grain .
                                readOnly: true
                                type: string
                            type: object
                          readOnly: true
                          type: array
                        name:
                          description: Name of a metric for any resource .
                          properties:
                            localizedValue:
                              description: Localized metric name value.
                              readOnly: true
                              type: string
                            value:
                              description: metric name value.
                              readOnly: true
                              type: string
                          type: object
                        primaryAggregationType:
                          description: Primary aggregation type.
                          readOnly: true
                          type: string
                        properties:
                          additionalProperties:
                            type: string
                          description: Resource metric definition properties.
                          readOnly: true
                          type: object
                        resourceUri:
                          description: Resource URI.
                          readOnly: true
                          type: string
                        unit:
                          description: Unit of the metric.
                          readOnly: true
                          type: string
                      x-ms-client-flatten: true
                  type: object
                type: array
            required:
              - value
            type: object
      summary: Get metric definitions for a multi-role pool of an App Service Environment.
      tags:
        - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/metrics":
    get:
      description: Get metrics for a multi-role pool of an App Service Environment.
      operationId: AppServiceEnvironments_ListMultiRoleMetrics
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the App Service Environment.
          in: path
          name: name
          required: true
          type: string
        - description: Beginning time of the metrics query.
          in: query
          name: startTime
          type: string
        - description: End time of the metrics query.
          in: query
          name: endTime
          type: string
        - description: Time granularity of the metrics query.
          in: query
          name: timeGrain
          type: string
        - description: Specify <code>true</code> to include instance details. The default is <code>false</code>.
          in: query
          name: details
          type: boolean
        - description: "Return only usages/metrics specified in the filter. Filter conforms to odata syntax. Example: $filter=(name.value eq 'Metric1' or name.value eq 'Metric2') and startTime eq '2014-01-01T00:00:00Z' and endTime eq '2014-12-31T23:59:59Z' and timeGrain eq duration'[Hour|Minute|Day]'."
          in: query
          name: $filter
          type: string
          x-ms-skip-url-encoding: true
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            description: Collection of metric responses.
            properties:
              nextLink:
                description: Link to next page of resources.
                readOnly: true
                type: string
              value:
                description: Collection of resources.
                items:
                  description: Object representing a metric for any resource .
                  properties:
                    endTime:
                      description: Metric end time.
                      format: date-time
                      readOnly: true
                      type: string
                    id:
                      description: Resource Id.
                      readOnly: true
                      type: string
                    metricValues:
                      description: Metric values.
                      items:
                        description: Value of resource metric.
                        properties:
                          average:
                            description: Value average.
                            format: float
                            readOnly: true
                            type: number
                          count:
                            description: Value count.
                            format: float
                            readOnly: true
                            type: number
                          maximum:
                            description: Value maximum.
                            format: float
                            readOnly: true
                            type: number
                          minimum:
                            description: Value minimum.
                            format: float
                            readOnly: true
                            type: number
                          properties:
                            description: Resource metric properties collection.
                            items:
                              description: Resource metric property.
                              properties:
                                key:
                                  description: Key for resource metric property.
                                  type: string
                                value:
                                  description: Value of pair.
                                  type: string
                              type: object
                            readOnly: true
                            type: array
                          timestamp:
                            description: Value timestamp.
                            readOnly: true
                            type: string
                          total:
                            description: Value total.
                            format: float
                            readOnly: true
                            type: number
                        type: object
                      readOnly: true
                      type: array
                    name:
                      description: Name of a metric for any resource .
                      properties:
                        localizedValue:
                          description: Localized metric name value.
                          readOnly: true
                          type: string
                        value:
                          description: metric name value.
                          readOnly: true
                          type: string
                      type: object
                    properties:
                      description: Resource metric properties collection.
                      items:
                        description: Resource metric property.
                        properties:
                          key:
                            description: Key for resource metric property.
                            type: string
                          value:
                            description: Value of pair.
                            type: string
                        type: object
                      readOnly: true
                      type: array
                    resourceId:
                      description: Metric resource Id.
                      readOnly: true
                      type: string
                    startTime:
                      description: Metric start time.
                      format: date-time
                      readOnly: true
                      type: string
                    timeGrain:
                      description: Metric granularity. E.g PT1H, PT5M, P1D
                      readOnly: true
                      type: string
                    unit:
                      description: Metric unit.
                      readOnly: true
                      type: string
                  type: object
                type: array
            required:
              - value
            type: object
      summary: Get metrics for a multi-role pool of an App Service Environment.
      tags:
        - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/skus":
    get:
      description: Get available SKUs for scaling a multi-role pool.
      operationId: AppServiceEnvironments_ListMultiRolePoolSkus
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the App Service Environment.
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SkuInfoCollection"
      summary: Get available SKUs for scaling a multi-role pool.
      tags:
        - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/usages":
    get:
      description: Get usage metrics for a multi-role pool of an App Service Environment.
      operationId: AppServiceEnvironments_ListMultiRoleUsages
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the App Service Environment.
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/UsageCollection"
      summary: Get usage metrics for a multi-role pool of an App Service Environment.
      tags:
        - AppServiceEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/operations":
    get:
      description: List all currently running operations on the App Service Environment.
      operationId: AppServiceEnvironments_ListOperations
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the App Service Environment.
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            items:
              description: An operation on a resource.
              properties:
                createdTime:
                  description: Time when operation has started.
                  format: date-time
                  type: string
                errors:
                  description: Any errors associate with the operation.
                  items:
                    description: Body of the error response returned from the API.
                    properties:
                      code:
                        description: Basic error code.
                        type: string
                      extendedCode:
                        description: Type of error.
                        type: string
                      innerErrors:
                        description: Inner errors.
                        items:
                          $ref: "#/definitions/ErrorEntity"
                        type: array
                      message:
                        description: Any details of the error.
                        type: string
                      messageTemplate:
                        description: Message template.
                        type: string
                      parameters:
                        description: Parameters for the template.
                        items:
                          type: string
                        type: array
                    type: object
                  type: array
                expirationTime:
                  description: Time when operation will expire.
                  format: date-time
                  type: string
                geoMasterOperationId:
                  description: Applicable only for stamp operation ids.
                  example: 00000000-0000-0000-0000-000000000000
                  format: uuid
                  type: string
                id:
                  description: Operation ID.
                  type: string
                modifiedTime:
                  description: Time when operation has been updated.
                  format: date-time
                  type: string
                name:
                  description: Operation name.
                  type: string
                status:
                  description: The current status of the operation.
                  enum:
                    - InProgress
                    - Failed
                    - Succeeded
                    - TimedOut
                    - Created
                  type: string
                  x-ms-enum:
                    modelAsString: false
                    name: OperationStatus
              type: object
            type: array
      summary: List all currently running operations on the App Service Environment.
      tags:
        - AppServiceEnvironments
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/reboot":
    post:
      description: Reboot all machines in an App Service Environment.
      operationId: AppServiceEnvironments_Reboot
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the App Service Environment.
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "202":
          description: Asynchronous operation in progress.
        "400":
          description: Bad request.
        "404":
          description: Not found.
        "409":
          description: Conflict.
      summary: Reboot all machines in an App Service Environment.
      tags:
        - AppServiceEnvironments
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/resume":
    post:
      description: Resume an App Service Environment.
      operationId: AppServiceEnvironments_Resume
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the App Service Environment.
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK.
          schema:
            description: Collection of App Service apps.
            properties:
              nextLink:
                description: Link to next page of resources.
                readOnly: true
                type: string
              value:
                description: Collection of resources.
                items:
                  allOf:
                    - description: Azure resource. This resource is tracked in Azure Resource Manager
                      properties:
                        id:
                          description: Resource Id.
                          readOnly: true
                          type: string
                        kind:
                          description: Kind of resource.
                          type: string
                        location:
                          description: Resource Location.
                          type: string
                        name:
                          description: Resource Name.
                          readOnly: true
                          type: string
                        tags:
                          additionalProperties:
                            type: string
                          description: Resource tags.
                          type: object
                        type:
                          description: Resource type.
                          readOnly: true
                          type: string
                      required:
                        - location
                      x-ms-azure-resource: true
                  description: A web app, a mobile app backend, or an API app.
                  properties:
                    identity:
                      description: Managed service identity.
                      properties:
                        principalId:
                          description: Principal Id of managed service identity.
                          readOnly: true
                          type: string
                        tenantId:
                          description: Tenant of managed service identity.
                          readOnly: true
                          type: string
                        type:
                          description: Type of managed service identity.
                          enum:
                            - SystemAssigned
                          type: string
                          x-ms-enum:
                            modelAsString: true
                            name: ManagedServiceIdentityType
                      type: object
                    properties:
                      description: Site resource specific properties
                      properties:
                        availabilityState:
                          description: Management information availability state for the app.
                          enum:
                            - Normal
                            - Limited
                            - DisasterRecoveryMode
                          readOnly: true
                          type: string
                          x-ms-enum:
                            modelAsString: false
                            name: SiteAvailabilityState
                        clientAffinityEnabled:
                          description: <code>true</code> to enable client affinity; <code>false</code> to stop sending session affinity cookies, which route client requests in the same session to the same instance. Default is <code>true</code>.
                          type: boolean
                        clientCertEnabled:
                          description: <code>true</code> to enable client certificate authentication (TLS mutual authentication); otherwise, <code>false</code>. Default is <code>false</code>.
                          type: boolean
                        cloningInfo:
                          description: Information needed for cloning operation.
                          properties:
                            appSettingsOverrides:
                              additionalProperties:
                                type: string
                              description: |-
                                Application setting overrides for cloned app. If specified, these settings override the settings cloned 
                                from source app. Otherwise, application settings from source app are retained.
                              type: object
                            cloneCustomHostNames:
                              description: <code>true</code> to clone custom hostnames from source app; otherwise, <code>false</code>.
                              type: boolean
                            cloneSourceControl:
                              description: <code>true</code> to clone source control from source app; otherwise, <code>false</code>.
                              type: boolean
                            configureLoadBalancing:
                              description: <code>true</code> to configure load balancing for source and destination app.
                              type: boolean
                            correlationId:
                              description: |-
                                Correlation ID of cloning operation. This ID ties multiple cloning operations
                                together to use the same snapshot.
                              example: 00000000-0000-0000-0000-000000000000
                              format: uuid
                              type: string
                            hostingEnvironment:
                              description: App Service Environment.
                              type: string
                            ignoreQuotas:
                              description: <code>true</code> if quotas should be ignored; otherwise, <code>false</code>.
                              type: boolean
                            overwrite:
                              description: <code>true</code> to overwrite destination app; otherwise, <code>false</code>.
                              type: boolean
                            sourceWebAppId:
                              description: |-
                                ARM resource ID of the source app. App resource ID is of the form 
                                /subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName} for production slots and 
                                /subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slotName} for other slots.
                              type: string
                            trafficManagerProfileId:
                              description: |-
                                ARM resource ID of the Traffic Manager profile to use, if it exists. Traffic Manager resource ID is of the form 
                                /subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficManagerProfiles/{profileName}.
                              type: string
                            trafficManagerProfileName:
                              description: Name of Traffic Manager profile to create. This is only needed if Traffic Manager profile does not already exist.
                              type: string
                          required:
                            - sourceWebAppId
                          type: object
                        containerSize:
                          description: Size of the function container.
                          format: int32
                          type: integer
                        dailyMemoryTimeQuota:
                          description: Maximum allowed daily memory-time quota (applicable on dynamic apps only).
                          format: int32
                          type: integer
                        defaultHostName:
                          description: Default hostname of the app. Read-only.
                          readOnly: true
                          type: string
                        enabled:
                          description: <code>true</code> if the app is enabled; otherwise, <code>false</code>. Setting this value to false disables the app (takes the app offline).
                          type: boolean
                        enabledHostNames:
                          description: |-
                            Enabled hostnames for the app.Hostnames need to be assigned (see HostNames) AND enabled. Otherwise,
                            the app is not served on those hostnames.
                          items:
                            type: string
                          readOnly: true
                          type: array
                        hostNameSslStates:
                          description: Hostname SSL states are used to manage the SSL bindings for app's hostnames.
                          items:
                            description: SSL-enabled hostname.
                            properties:
                              hostType:
                                description: Indicates whether the hostname is a standard or repository hostname.
                                enum:
                                  - Standard
                                  - Repository
                                type: string
                                x-ms-enum:
                                  modelAsString: false
                                  name: HostType
                              name:
                                description: Hostname.
                                type: string
                              sslState:
                                description: SSL type.
                                enum:
                                  - Disabled
                                  - SniEnabled
                                  - IpBasedEnabled
                                type: string
                                x-ms-enum:
                                  modelAsString: false
                                  name: SslState
                              thumbprint:
                                description: SSL certificate thumbprint.
                                type: string
                              toUpdate:
                                description: Set to <code>true</code> to update existing hostname.
                                type: boolean
                              virtualIP:
                                description: Virtual IP address assigned to the hostname if IP based SSL is enabled.
                                type: string
                            type: object
                          type: array
                        hostNames:
                          description: Hostnames associated with the app.
                          items:
                            type: string
                          readOnly: true
                          type: array
                        hostNamesDisabled:
                          description: |-
                            <code>true</code> to disable the public hostnames of the app; otherwise, <code>false</code>.
                             If <code>true</code>, the app is only accessible via API management process.
                          type: boolean
                        hostingEnvironmentProfile:
                          description: Specification for an App Service Environment to use for this resource.
                          properties:
                            id:
                              description: Resource ID of the App Service Environment.
                              type: string
                            name:
                              description: Name of the App Service Environment.
                              readOnly: true
                              type: string
                            type:
                              description: Resource type of the App Service Environment.
                              readOnly: true
                              type: string
                          type: object
                        httpsOnly:
                          description: |-
                            HttpsOnly: configures a web site to accept only https requests. Issues redirect for
                            http requests
                          type: boolean
                        isDefaultContainer:
                          description: <code>true</code> if the app is a default container; otherwise, <code>false</code>.
                          readOnly: true
                          type: boolean
                        lastModifiedTimeUtc:
                          description: Last time the app was modified, in UTC. Read-only.
                          format: date-time
                          readOnly: true
                          type: string
                        maxNumberOfWorkers:
                          description: |-
                            Maximum number of workers.
                            This only applies to Functions container.
                          format: int32
                          readOnly: true
                          type: integer
                        outboundIpAddresses:
                          description: List of IP addresses that the app uses for outbound connections (e.g. database access). Includes VIPs from tenants that site can be hosted with current settings. Read-only.
                          readOnly: true
                          type: string
                        possibleOutboundIpAddresses:
                          description: List of IP addresses that the app uses for outbound connections (e.g. database access). Includes VIPs from all tenants. Read-only.
                          readOnly: true
                          type: string
                        repositorySiteName:
                          description: Name of the repository site.
                          readOnly: true
                          type: string
                        reserved:
                          default: false
                          description: <code>true</code> if reserved; otherwise, <code>false</code>.
                          type: boolean
                          x-ms-mutability:
                            - create
                            - read
                        resourceGroup:
                          description: Name of the resource group the app belongs to. Read-only.
                          readOnly: true
                          type: string
                        scmSiteAlsoStopped:
                          default: false
                          description: <code>true</code> to stop SCM (KUDU) site when the app is stopped; otherwise, <code>false</code>. The default is <code>false</code>.
                          type: boolean
                        serverFarmId:
                          description: 'Resource ID of the associated App Service plan, formatted as: "/subscriptions/{subscriptionID}/resourceGroups/{groupName}/providers/Microsoft.Web/serverfarms/{appServicePlanName}".'
                          type: string
                        siteConfig:
                          description: Configuration of an App Service app.
                          properties:
                            alwaysOn:
                              description: <code>true</code> if Always On is enabled; otherwise, <code>false</code>.
                              type: boolean
                            apiDefinition:
                              description: Information about the formal API definition for the app.
                              properties:
                                url:
                                  description: The URL of the API definition.
                                  type: string
                              type: object
                            appCommandLine:
                              description: App command line to launch.
                              type: string
                            appSettings:
                              description: Application settings.
                              items:
                                description: Name value pair.
                                properties:
                                  name:
                                    description: Pair name.
                                    type: string
                                  value:
                                    description: Pair value.
                                    type: string
                                type: object
                              type: array
                            autoHealEnabled:
                              description: <code>true</code> if Auto Heal is enabled; otherwise, <code>false</code>.
                              type: boolean
                            autoHealRules:
                              description: Rules that can be defined for auto-heal.
                              properties:
                                actions:
                                  description: Actions which to take by the auto-heal module when a rule is triggered.
                                  properties:
                                    actionType:
                                      description: Predefined action to be taken.
                                      enum:
                                        - Recycle
                                        - LogEvent
                                        - CustomAction
                                      type: string
                                      x-ms-enum:
                                        modelAsString: false
                                        name: AutoHealActionType
                                    customAction:
                                      description: |-
                                        Custom action to be executed
                                        when an auto heal rule is triggered.
                                      properties:
                                        exe:
                                          description: Executable to be run.
                                          type: string
                                        parameters:
                                          description: Parameters for the executable.
                                          type: string
                                      type: object
                                    minProcessExecutionTime:
                                      description: |-
                                        Minimum time the process must execute
                                        before taking the action
                                      type: string
                                  type: object
                                triggers:
                                  description: Triggers for auto-heal.
                                  properties:
                                    privateBytesInKB:
                                      description: A rule based on private bytes.
                                      format: int32
                                      type: integer
                                    requests:
                                      description: Trigger based on total requests.
                                      properties:
                                        count:
                                          description: Request Count.
                                          format: int32
                                          type: integer
                                        timeInterval:
                                          description: Time interval.
                                          type: string
                                      type: object
                                    slowRequests:
                                      description: Trigger based on request execution time.
                                      properties:
                                        count:
                                          description: Request Count.
                                          format: int32
                                          type: integer
                                        timeInterval:
                                          description: Time interval.
                                          type: string
                                        timeTaken:
                                          description: Time taken.
                                          type: string
                                      type: object
                                    statusCodes:
                                      description: A rule based on status codes.
                                      items:
                                        description: Trigger based on status code.
                                        properties:
                                          count:
                                            description: Request Count.
                                            format: int32
                                            type: integer
                                          status:
                                            description: HTTP status code.
                                            format: int32
                                            type: integer
                                          subStatus:
                                            description: Request Sub Status.
                                            format: int32
                                            type: integer
                                          timeInterval:
                                            description: Time interval.
                                            type: string
                                          win32Status:
                                            description: Win32 error code.
                                            format: int32
                                            type: integer
                                        type: object
                                      type: array
                                  type: object
                              type: object
                            autoSwapSlotName:
                              description: Auto-swap slot name.
                              type: string
                            connectionStrings:
                              description: Connection strings.
                              items:
                                description: Database connection string information.
                                properties:
                                  connectionString:
                                    description: Connection string value.
                                    type: string
                                  name:
                                    description: Name of connection string.
                                    type: string
                                  type:
                                    description: Type of database.
                                    enum:
                                      - MySql
                                      - SQLServer
                                      - SQLAzure
                                      - Custom
                                      - NotificationHub
                                      - ServiceBus
                                      - EventHub
                                      - ApiHub
                                      - DocDb
                                      - RedisCache
                                      - PostgreSQL
                                    type: string
                                    x-ms-enum:
                                      modelAsString: false
                                      name: ConnectionStringType
                                type: object
                              type: array
                            cors:
                              description: Cross-Origin Resource Sharing (CORS) settings for the app.
                              properties:
                                allowedOrigins:
                                  description: |-
                                    Gets or sets the list of origins that should be allowed to make cross-origin
                                    calls (for example: http://example.com:12345). Use "*" to allow all.
                                  items:
                                    type: string
                                  type: array
                              type: object
                            defaultDocuments:
                              description: Default documents.
                              items:
                                type: string
                              type: array
                            detailedErrorLoggingEnabled:
                              description: <code>true</code> if detailed error logging is enabled; otherwise, <code>false</code>.
                              type: boolean
                            documentRoot:
                              description: Document root.
                              type: string
                            experiments:
                              description: Routing rules in production experiments.
                              properties:
                                rampUpRules:
                                  description: List of ramp-up rules.
                                  items:
                                    description: Routing rules for ramp up testing. This rule allows to redirect static traffic % to a slot or to gradually change routing % based on performance.
                                    properties:
                                      actionHostName:
                                        description: Hostname of a slot to which the traffic will be redirected if decided to. E.g. myapp-stage.azurewebsites.net.
                                        type: string
                                      changeDecisionCallbackUrl:
                                        description: |-
                                          Custom decision algorithm can be provided in TiPCallback site extension which URL can be specified. See TiPCallback site extension for the scaffold and contracts.
                                          https://www.siteextensions.net/packages/TiPCallback/
                                        type: string
                                      changeIntervalInMinutes:
                                        description: Specifies interval in minutes to reevaluate ReroutePercentage.
                                        format: int32
                                        type: integer
                                      changeStep:
                                        description: |-
                                          In auto ramp up scenario this is the step to add/remove from <code>ReroutePercentage</code> until it reaches 
                                          <code>MinReroutePercentage</code> or <code>MaxReroutePercentage</code>. Site metrics are checked every N minutes specified in <code>ChangeIntervalInMinutes</code>.
                                          Custom decision algorithm can be provided in TiPCallback site extension which URL can be specified in <code>ChangeDecisionCallbackUrl</code>.
                                        format: double
                                        type: number
                                      maxReroutePercentage:
                                        description: Specifies upper boundary below which ReroutePercentage will stay.
                                        format: double
                                        type: number
                                      minReroutePercentage:
                                        description: Specifies lower boundary above which ReroutePercentage will stay.
                                        format: double
                                        type: number
                                      name:
                                        description: Name of the routing rule. The recommended name would be to point to the slot which will receive the traffic in the experiment.
                                        type: string
                                      reroutePercentage:
                                        description: Percentage of the traffic which will be redirected to <code>ActionHostName</code>.
                                        format: double
                                        type: number
                                    type: object
                                  type: array
                              type: object
                            handlerMappings:
                              description: Handler mappings.
                              items:
                                description: |-
                                  The IIS handler mappings used to define which handler processes HTTP requests with certain extension. 
                                  For example, it is used to configure php-cgi.exe process to handle all HTTP requests with *.php extension.
                                properties:
                                  arguments:
                                    description: Command-line arguments to be passed to the script processor.
                                    type: string
                                  extension:
                                    description: Requests with this extension will be handled using the specified FastCGI application.
                                    type: string
                                  scriptProcessor:
                                    description: The absolute path to the FastCGI application.
                                    type: string
                                type: object
                              type: array
                            http20Enabled:
                              default: true
                              description: "Http20Enabled: configures a web site to allow clients to connect over http2.0"
                              type: boolean
                            httpLoggingEnabled:
                              description: <code>true</code> if HTTP logging is enabled; otherwise, <code>false</code>.
                              type: boolean
                            ipSecurityRestrictions:
                              description: IP security restrictions.
                              items:
                                description: IP security restriction on an app.
                                properties:
                                  ipAddress:
                                    description: IP address the security restriction is valid for.
                                    type: string
                                  subnetMask:
                                    description: Subnet mask for the range of IP addresses the restriction is valid for.
                                    type: string
                                required:
                                  - ipAddress
                                type: object
                              type: array
                            javaContainer:
                              description: Java container.
                              type: string
                            javaContainerVersion:
                              description: Java container version.
                              type: string
                            javaVersion:
                              description: Java version.
                              type: string
                            limits:
                              description: Metric limits set on an app.
                              properties:
                                maxDiskSizeInMb:
                                  description: Maximum allowed disk size usage in MB.
                                  format: int64
                                  type: integer
                                maxMemoryInMb:
                                  description: Maximum allowed memory usage in MB.
                                  format: int64
                                  type: integer
                                maxPercentageCpu:
                                  description: Maximum allowed CPU usage percentage.
                                  format: double
                                  type: number
                              type: object
                            linuxFxVersion:
                              description: Linux App Framework and version
                              type: string
                            loadBalancing:
                              description: Site load balancing.
                              enum:
                                - WeightedRoundRobin
                                - LeastRequests
                                - LeastResponseTime
                                - WeightedTotalTraffic
                                - RequestHash
                              type: string
                              x-ms-enum:
                                modelAsString: false
                                name: SiteLoadBalancing
                            localMySqlEnabled:
                              default: false
                              description: <code>true</code> to enable local MySQL; otherwise, <code>false</code>.
                              type: boolean
                            logsDirectorySizeLimit:
                              description: HTTP logs directory size limit.
                              format: int32
                              type: integer
                            machineKey:
                              description: MachineKey of an app.
                              properties:
                                decryption:
                                  description: Algorithm used for decryption.
                                  type: string
                                decryptionKey:
                                  description: Decryption key.
                                  type: string
                                validation:
                                  description: MachineKey validation.
                                  type: string
                                validationKey:
                                  description: Validation key.
                                  type: string
                              type: object
                            managedPipelineMode:
                              description: Managed pipeline mode.
                              enum:
                                - Integrated
                                - Classic
                              type: string
                              x-ms-enum:
                                modelAsString: false
                                name: ManagedPipelineMode
                            minTlsVersion:
                              description: "MinTlsVersion: configures the minimum version of TLS required for SSL requests"
                              enum:
                                - "1.0"
                                - "1.1"
                                - "1.2"
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: SupportedTlsVersions
                            netFrameworkVersion:
                              default: v4.6
                              description: .NET Framework version.
                              type: string
                            nodeVersion:
                              description: Version of Node.js.
                              type: string
                            numberOfWorkers:
                              description: Number of workers.
                              format: int32
                              type: integer
                            phpVersion:
                              description: Version of PHP.
                              type: string
                            publishingUsername:
                              description: Publishing user name.
                              type: string
                            push:
                              allOf:
                                - description: Azure proxy only resource. This resource is not tracked by Azure Resource Manager.
                                  properties:
                                    id:
                                      description: Resource Id.
                                      readOnly: true
                                      type: string
                                    kind:
                                      description: Kind of resource.
                                      type: string
                                    name:
                                      description: Resource Name.
                                      readOnly: true
                                      type: string
                                    type:
                                      description: Resource type.
                                      readOnly: true
                                      type: string
                                  x-ms-azure-resource: true
                              description: Push settings for the App.
                              properties:
                                properties:
                                  description: PushSettings resource specific properties
                                  properties:
                                    dynamicTagsJson:
                                      description: Gets or sets a JSON string containing a list of dynamic tags that will be evaluated from user claims in the push registration endpoint.
                                      type: string
                                    isPushEnabled:
                                      description: Gets or sets a flag indicating whether the Push endpoint is enabled.
                                      type: boolean
                                    tagWhitelistJson:
                                      description: Gets or sets a JSON string containing a list of tags that are whitelisted for use by the push registration endpoint.
                                      type: string
                                    tagsRequiringAuth:
                                      description: |-
                                        Gets or sets a JSON string containing a list of tags that require user authentication to be used in the push registration endpoint.
                                        Tags can consist of alphanumeric characters and the following:
                                        '_', '@', '#', '.', ':', '-'. 
                                        Validation should be performed at the PushRequestHandler.
                                      type: string
                                  required:
                                    - isPushEnabled
                                  x-ms-client-flatten: true
                              type: object
                            pythonVersion:
                              description: Version of Python.
                              type: string
                            remoteDebuggingEnabled:
                              description: <code>true</code> if remote debugging is enabled; otherwise, <code>false</code>.
                              type: boolean
                            remoteDebuggingVersion:
                              description: Remote debugging version.
                              type: string
                            requestTracingEnabled:
                              description: <code>true</code> if request tracing is enabled; otherwise, <code>false</code>.
                              type: boolean
                            requestTracingExpirationTime:
                              description: Request tracing expiration time.
                              format: date-time
                              type: string
                            scmType:
                              description: SCM type.
                              enum:
                                - None
                                - Dropbox
                                - Tfs
                                - LocalGit
                                - GitHub
                                - CodePlexGit
                                - CodePlexHg
                                - BitbucketGit
                                - BitbucketHg
                                - ExternalGit
                                - ExternalHg
                                - OneDrive
                                - VSO
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: ScmType
                            tracingOptions:
                              description: Tracing options.
                              type: string
                            use32BitWorkerProcess:
                              description: <code>true</code> to use 32-bit worker process; otherwise, <code>false</code>.
                              type: boolean
                            virtualApplications:
                              description: Virtual applications.
                              items:
                                description: Virtual application in an app.
                                properties:
                                  physicalPath:
                                    description: Physical path.
                                    type: string
                                  preloadEnabled:
                                    description: <code>true</code> if preloading is enabled; otherwise, <code>false</code>.
                                    type: boolean
                                  virtualDirectories:
                                    description: Virtual directories for virtual application.
                                    items:
                                      description: Directory for virtual application.
                                      properties:
                                        physicalPath:
                                          description: Physical path.
                                          type: string
                                        virtualPath:
                                          description: Path to virtual application.
                                          type: string
                                      type: object
                                    type: array
                                  virtualPath:
                                    description: Virtual path.
                                    type: string
                                type: object
                              type: array
                            vnetName:
                              description: Virtual Network name.
                              type: string
                              x-ms-mutability:
                                - create
                                - read
                            webSocketsEnabled:
                              description: <code>true</code> if WebSocket is enabled; otherwise, <code>false</code>.
                              type: boolean
                          type: object
                        slotSwapStatus:
                          description: The status of the last successful slot swap operation.
                          properties:
                            destinationSlotName:
                              description: The destination slot of the last swap operation.
                              readOnly: true
                              type: string
                            sourceSlotName:
                              description: The source slot of the last swap operation.
                              readOnly: true
                              type: string
                            timestampUtc:
                              description: The time the last successful slot swap completed.
                              format: date-time
                              readOnly: true
                              type: string
                          type: object
                        snapshotInfo:
                          allOf:
                            - description: Azure proxy only resource. This resource is not tracked by Azure Resource Manager.
                              properties:
                                id:
                                  description: Resource Id.
                                  readOnly: true
                                  type: string
                                kind:
                                  description: Kind of resource.
                                  type: string
                                name:
                                  description: Resource Name.
                                  readOnly: true
                                  type: string
                                type:
                                  description: Resource type.
                                  readOnly: true
                                  type: string
                              x-ms-azure-resource: true
                          description: Details about app recovery operation.
                          properties:
                            properties:
                              description: SnapshotRecoveryRequest resource specific properties
                              properties:
                                ignoreConflictingHostNames:
                                  description: |-
                                    If true, custom hostname conflicts will be ignored when recovering to a target web app.
                                    This setting is only necessary when RecoverConfiguration is enabled.
[...]
