swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Windows Azure Network management API provides a RESTful set of web services that interact with Windows Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Windows Azure Networks service.
  title: NetworkResourceProviderClient
  version: 2015-05-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/preview/2015-05-01-preview/network.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
  - text/json
produces:
  - application/json
  - text/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGateways":
    get:
      description: The List application gateway operation retrieves all the application gateways in a subscription.
      operationId: ApplicationGateways_ListAll
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ApplicationGatewayListResult"
      tags:
        - ApplicationGateways
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteCircuits":
    get:
      description: The List ExpressRouteCircuit operation retrieves all the ExpressRouteCircuits in a subscription.
      operationId: ExpressRouteCircuits_ListAll
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteCircuitListResult"
      tags:
        - ExpressRouteCircuits
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/expressRouteServiceProviders":
    get:
      description: The List ExpressRouteServiceProvider operation retrieves all the available ExpressRouteServiceProviders.
      operationId: ExpressRouteServiceProviders_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteServiceProviderListResult"
      tags:
        - ExpressRouteServiceProviders
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/loadBalancers":
    get:
      description: The List loadBalancer operation retrieves all the load balancers in a subscription.
      operationId: LoadBalancers_ListAll
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/LoadBalancerListResult"
      tags:
        - LoadBalancers
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/CheckDnsNameAvailability":
    get:
      description: Checks whether a domain name in the cloudapp.net zone is available for use.
      operationId: CheckDnsNameAvailability
      parameters:
        - description: The location of the domain name
          in: path
          name: location
          required: true
          type: string
        - description: "The domain name to be verified. It must conform to the following regular expression: ^[a-z][a-z0-9-]{1,61}[a-z0-9]$."
          in: query
          name: domainNameLabel
          required: false
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/DnsNameAvailabilityResult"
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/usages":
    get:
      description: Lists compute usages for a subscription.
      operationId: Usages_List
      parameters:
        - description: The location upon which resource usage is queried.
          in: path
          name: location
          pattern: ^[-\w\._]+$
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/UsagesListResult"
      tags:
        - Usages
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkInterfaces":
    get:
      description: The List networkInterfaces operation retrieves all the networkInterfaces in a subscription.
      operationId: NetworkInterfaces_ListAll
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/NetworkInterfaceListResult"
      tags:
        - NetworkInterfaces
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkSecurityGroups":
    get:
      description: The list NetworkSecurityGroups returns all network security groups in a subscription
      operationId: NetworkSecurityGroups_ListAll
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/NetworkSecurityGroupListResult"
      tags:
        - NetworkSecurityGroups
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/publicIPAddresses":
    get:
      description: The List publicIpAddress operation retrieves all the publicIpAddresses in a subscription.
      operationId: PublicIpAddresses_ListAll
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/PublicIpAddressListResult"
      tags:
        - PublicIpAddresses
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/routeTables":
    get:
      description: The list RouteTables returns all route tables in a subscription
      operationId: RouteTables_ListAll
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/RouteTableListResult"
      tags:
        - RouteTables
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualnetworks":
    get:
      description: The list VirtualNetwork returns all Virtual Networks in a subscription
      operationId: VirtualNetworks_ListAll
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/VirtualNetworkListResult"
      tags:
        - VirtualNetworks
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways":
    get:
      description: The List ApplicationGateway operation retrieves all the application gateways in a resource group.
      operationId: ApplicationGateways_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ApplicationGatewayListResult"
      tags:
        - ApplicationGateways
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}":
    delete:
      description: The delete application gateway operation deletes the specified application gateway.
      operationId: ApplicationGateways_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the application gateway.
          in: path
          name: applicationGatewayName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - ApplicationGateways
      x-ms-long-running-operation: true
    get:
      description: The Get application gateway operation retrieves information about the specified application gateway.
      operationId: ApplicationGateways_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the application gateway.
          in: path
          name: applicationGatewayName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ApplicationGateway"
      tags:
        - ApplicationGateways
    put:
      description: The Put ApplicationGateway operation creates/updates a ApplicationGateway
      operationId: ApplicationGateways_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the ApplicationGateway.
          in: path
          name: applicationGatewayName
          required: true
          type: string
        - description: Parameters supplied to the create/delete ApplicationGateway operation
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ApplicationGateway"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ApplicationGateway"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/ApplicationGateway"
      tags:
        - ApplicationGateways
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/start":
    post:
      description: The Start ApplicationGateway operation starts application gateway in the specified resource group through Network resource provider.
      operationId: ApplicationGateways_Start
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the application gateway.
          in: path
          name: applicationGatewayName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "202":
          description: ""
      tags:
        - ApplicationGateways
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/stop":
    post:
      description: The STOP ApplicationGateway operation stops application gateway in the specified resource group through Network resource provider.
      operationId: ApplicationGateways_Stop
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the application gateway.
          in: path
          name: applicationGatewayName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
      tags:
        - ApplicationGateways
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections":
    get:
      description: The List VirtualNetworkGatewayConnections operation retrieves all the virtual network gateways connections created.
      operationId: VirtualNetworkGatewayConnections_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/VirtualNetworkGatewayConnectionListResult"
      tags:
        - VirtualNetworkGatewayConnections
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}":
    get:
      description: The Get VirtualNetworkGatewayConnection operation retrieves information about the specified virtual network gateway connection through Network resource provider.
      operationId: VirtualNetworkGatewayConnections_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway connection.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/VirtualNetworkGatewayConnection"
      tags:
        - VirtualNetworkGatewayConnections
    put:
      description: The Put VirtualNetworkGatewayConnection operation creates/updates a virtual network gateway connection in the specified resource group through Network resource provider.
      operationId: VirtualNetworkGatewayConnections_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway connection.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          type: string
        - description: Parameters supplied to the Begin Create or update Virtual Network Gateway connection operation through Network resource provider.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/VirtualNetworkGatewayConnection"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/VirtualNetworkGatewayConnection"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/VirtualNetworkGatewayConnection"
      tags:
        - VirtualNetworkGatewayConnections
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/":
    delete:
      description: The Delete VirtualNetworkGatewayConnection operation deletes the specified virtual network Gateway connection through Network resource provider.
      operationId: VirtualNetworkGatewayConnections_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway connection.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - VirtualNetworkGatewayConnections
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/sharedkey":
    get:
      description: The Get VirtualNetworkGatewayConnectionSharedKey operation retrieves information about the specified virtual network gateway connection shared key through Network resource provider.
      operationId: VirtualNetworkGatewayConnections_GetSharedKey
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The virtual network gateway connection shared key name.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ConnectionSharedKey"
      tags:
        - VirtualNetworkGatewayConnections
    put:
      description: The Put VirtualNetworkGatewayConnectionSharedKey operation sets the virtual network gateway connection shared key for passed virtual network gateway connection in the specified resource group through Network resource provider.
      operationId: VirtualNetworkGatewayConnections_SetSharedKey
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The virtual network gateway connection name.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          type: string
        - description: Parameters supplied to the Begin Set Virtual Network Gateway connection Shared key operation through Network resource provider.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ConnectionSharedKey"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ConnectionSharedKey"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/ConnectionSharedKey"
      tags:
        - VirtualNetworkGatewayConnections
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/connections/{virtualNetworkGatewayConnectionName}/sharedkey/reset":
    post:
      description: The VirtualNetworkGatewayConnectionResetSharedKey operation resets the virtual network gateway connection shared key for passed virtual network gateway connection in the specified resource group through Network resource provider.
      operationId: VirtualNetworkGatewayConnections_ResetSharedKey
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The virtual network gateway connection reset shared key Name.
          in: path
          name: virtualNetworkGatewayConnectionName
          required: true
          type: string
        - description: Parameters supplied to the Begin Reset Virtual Network Gateway connection shared key operation through Network resource provider.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ConnectionResetSharedKey"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ConnectionResetSharedKey"
        "202":
          description: ""
      tags:
        - VirtualNetworkGatewayConnections
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits":
    get:
      description: The List ExpressRouteCircuit operation retrieves all the ExpressRouteCircuits in a resource group.
      operationId: ExpressRouteCircuits_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteCircuitListResult"
      tags:
        - ExpressRouteCircuits
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/":
    delete:
      description: The delete ExpressRouteCircuit operation deletes the specified ExpressRouteCircuit.
      operationId: ExpressRouteCircuits_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route Circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - ExpressRouteCircuits
      x-ms-long-running-operation: true
    get:
      description: The Get ExpressRouteCircuit operation retrieves information about the specified ExpressRouteCircuit.
      operationId: ExpressRouteCircuits_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteCircuit"
      tags:
        - ExpressRouteCircuits
    put:
      description: The Put ExpressRouteCircuit operation creates/updates a ExpressRouteCircuit
      operationId: ExpressRouteCircuits_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: Parameters supplied to the create/delete ExpressRouteCircuit operation
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ExpressRouteCircuit"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteCircuit"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteCircuit"
      tags:
        - ExpressRouteCircuits
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/authorizations":
    get:
      description: The List authorization operation retrieves all the authorizations in an ExpressRouteCircuit.
      operationId: ExpressRouteCircuitAuthorizations_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/AuthorizationListResult"
      tags:
        - ExpressRouteCircuitAuthorizations
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/authorizations/{authorizationName}":
    delete:
      description: The delete authorization operation deletes the specified authorization from the specified ExpressRouteCircuit.
      operationId: ExpressRouteCircuitAuthorizations_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the authorization.
          in: path
          name: authorizationName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - ExpressRouteCircuitAuthorizations
      x-ms-long-running-operation: true
    get:
      description: The GET authorization operation retrieves the specified authorization from the specified ExpressRouteCircuit.
      operationId: ExpressRouteCircuitAuthorizations_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the authorization.
          in: path
          name: authorizationName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteCircuitAuthorization"
      tags:
        - ExpressRouteCircuitAuthorizations
    put:
      description: The Put Authorization operation creates/updates an authorization in the specified ExpressRouteCircuits
      operationId: ExpressRouteCircuitAuthorizations_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the authorization.
          in: path
          name: authorizationName
          required: true
          type: string
        - description: Parameters supplied to the create/update ExpressRouteCircuitAuthorization operation
          in: body
          name: authorizationParameters
          required: true
          schema:
            $ref: "#/definitions/ExpressRouteCircuitAuthorization"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteCircuitAuthorization"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteCircuitAuthorization"
      tags:
        - ExpressRouteCircuitAuthorizations
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings":
    get:
      description: The List peering operation retrieves all the peerings in an ExpressRouteCircuit.
      operationId: ExpressRouteCircuitPeerings_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteCircuitPeeringListResult"
      tags:
        - ExpressRouteCircuitPeerings
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}/peerings/{peeringName}":
    delete:
      description: The delete peering operation deletes the specified peering from the ExpressRouteCircuit.
      operationId: ExpressRouteCircuitPeerings_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - ExpressRouteCircuitPeerings
      x-ms-long-running-operation: true
    get:
      description: The GET peering operation retrieves the specified authorization from the ExpressRouteCircuit.
      operationId: ExpressRouteCircuitPeerings_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteCircuitPeering"
      tags:
        - ExpressRouteCircuitPeerings
    put:
      description: The Put Peering operation creates/updates an peering in the specified ExpressRouteCircuits
      operationId: ExpressRouteCircuitPeerings_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the express route circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          type: string
        - description: Parameters supplied to the create/update ExpressRouteCircuit Peering operation
          in: body
          name: peeringParameters
          required: true
          schema:
            $ref: "#/definitions/ExpressRouteCircuitPeering"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteCircuitPeering"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteCircuitPeering"
      tags:
        - ExpressRouteCircuitPeerings
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}arpTable":
    get:
      description: The ListArpTable from ExpressRouteCircuit operation retrieves the currently advertised arp table associated with the ExpressRouteCircuits in a resource group.
      operationId: ExpressRouteCircuits_ListArpTable
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteCircuitsArpTableListResult"
      tags:
        - ExpressRouteCircuits
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}routesTable":
    get:
      description: The ListRoutesTable from ExpressRouteCircuit operation retrieves the currently advertised routes table associated with the ExpressRouteCircuits in a resource group.
      operationId: ExpressRouteCircuits_ListRoutesTable
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the circuit.
          in: path
          name: circuitName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteCircuitsRoutesTableListResult"
      tags:
        - ExpressRouteCircuits
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/expressRouteCircuits/{circuitName}stats":
    get:
      description: The ListStats ExpressRouteCircuit operation retrieves all the stats from a ExpressRouteCircuits in a resource group.
      operationId: ExpressRouteCircuits_ListStats
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the loadBalancer.
          in: path
          name: circuitName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ExpressRouteCircuitsStatsListResult"
      tags:
        - ExpressRouteCircuits
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers":
    get:
      description: The List loadBalancer operation retrieves all the load balancers in a resource group.
      operationId: LoadBalancers_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/LoadBalancerListResult"
      tags:
        - LoadBalancers
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}":
    delete:
      description: The delete loadbalancer operation deletes the specified loadbalancer.
      operationId: LoadBalancers_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the loadBalancer.
          in: path
          name: loadBalancerName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - LoadBalancers
      x-ms-long-running-operation: true
    get:
      description: The Get network interface operation retrieves information about the specified network interface.
      operationId: LoadBalancers_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the loadBalancer.
          in: path
          name: loadBalancerName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/LoadBalancer"
      tags:
        - LoadBalancers
    put:
      description: The Put LoadBalancer operation creates/updates a LoadBalancer
      operationId: LoadBalancers_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the loadBalancer.
          in: path
          name: loadBalancerName
          required: true
          type: string
        - description: Parameters supplied to the create/delete LoadBalancer operation
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/LoadBalancer"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/LoadBalancer"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/LoadBalancer"
      tags:
        - LoadBalancers
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways":
    get:
      description: The List LocalNetworkGateways operation retrieves all the local network gateways stored.
      operationId: LocalNetworkGateways_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/LocalNetworkGatewayListResult"
      tags:
        - LocalNetworkGateways
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways/{localNetworkGatewayName}":
    get:
      description: The Get LocalNetworkGateway operation retrieves information about the specified local network gateway through Network resource provider.
      operationId: LocalNetworkGateways_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the local network gateway.
          in: path
          name: localNetworkGatewayName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/LocalNetworkGateway"
      tags:
        - LocalNetworkGateways
    put:
      description: The Put LocalNetworkGateway operation creates/updates a local network gateway in the specified resource group through Network resource provider.
      operationId: LocalNetworkGateways_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the local network gateway.
          in: path
          name: localNetworkGatewayName
          required: true
          type: string
        - description: Parameters supplied to the Begin Create or update Local Network Gateway operation through Network resource provider.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/LocalNetworkGateway"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/LocalNetworkGateway"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/LocalNetworkGateway"
      tags:
        - LocalNetworkGateways
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/localNetworkGateways/{localNetworkGatewayName}/":
    delete:
      description: The Delete LocalNetworkGateway operation deletes the specified local network Gateway through Network resource provider.
      operationId: LocalNetworkGateways_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the local network gateway.
          in: path
          name: localNetworkGatewayName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - LocalNetworkGateways
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces":
    get:
      description: The List networkInterfaces operation retrieves all the networkInterfaces in a resource group.
      operationId: NetworkInterfaces_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/NetworkInterfaceListResult"
      tags:
        - NetworkInterfaces
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}":
    delete:
      description: The delete networkInterface operation deletes the specified networkInterface.
      operationId: NetworkInterfaces_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network interface.
          in: path
          name: networkInterfaceName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - NetworkInterfaces
      x-ms-long-running-operation: true
    get:
      description: The Get network interface operation retrieves information about the specified network interface.
      operationId: NetworkInterfaces_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network interface.
          in: path
          name: networkInterfaceName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/NetworkInterface"
      tags:
        - NetworkInterfaces
    put:
      description: The Put NetworkInterface operation creates/updates a networkInterface
      operationId: NetworkInterfaces_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network interface.
          in: path
          name: networkInterfaceName
          required: true
          type: string
        - description: Parameters supplied to the create/update NetworkInterface operation
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/NetworkInterface"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/NetworkInterface"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/NetworkInterface"
      tags:
        - NetworkInterfaces
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityGroups":
    get:
      description: The list NetworkSecurityGroups returns all network security groups in a resource group
      operationId: NetworkSecurityGroups_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/NetworkSecurityGroupListResult"
      tags:
        - NetworkSecurityGroups
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityGroups/{networkSecurityGroupName}":
    delete:
      description: The Delete NetworkSecurityGroup operation deletes the specified network security group
      operationId: NetworkSecurityGroups_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network security group.
          in: path
          name: networkSecurityGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - NetworkSecurityGroups
      x-ms-long-running-operation: true
    get:
      description: The Get NetworkSecurityGroups operation retrieves information about the specified network security group.
      operationId: NetworkSecurityGroups_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network security group.
          in: path
          name: networkSecurityGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/NetworkSecurityGroup"
      tags:
        - NetworkSecurityGroups
    put:
      description: The Put NetworkSecurityGroup operation creates/updates a network security group in the specified resource group.
      operationId: NetworkSecurityGroups_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network security group.
          in: path
          name: networkSecurityGroupName
          required: true
          type: string
        - description: Parameters supplied to the create/update Network Security Group operation
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/NetworkSecurityGroup"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/NetworkSecurityGroup"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/NetworkSecurityGroup"
      tags:
        - NetworkSecurityGroups
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityGroups/{networkSecurityGroupName}/securityRules":
    get:
      description: The List network security rule operation retrieves all the security rules in a network security group.
      operationId: SecurityRules_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network security group.
          in: path
          name: networkSecurityGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/SecurityRuleListResult"
      tags:
        - SecurityRules
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityGroups/{networkSecurityGroupName}/securityRules/{securityRuleName}":
    delete:
      description: The delete network security rule operation deletes the specified network security rule.
      operationId: SecurityRules_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network security group.
          in: path
          name: networkSecurityGroupName
          required: true
          type: string
        - description: The name of the security rule.
          in: path
          name: securityRuleName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - SecurityRules
      x-ms-long-running-operation: true
    get:
      description: The Get NetworkSecurityRule operation retrieves information about the specified network security rule.
      operationId: SecurityRules_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network security group.
          in: path
          name: networkSecurityGroupName
          required: true
          type: string
        - description: The name of the security rule.
          in: path
          name: securityRuleName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/SecurityRule"
      tags:
        - SecurityRules
    put:
      description: The Put network security rule operation creates/updates a security rule in the specified network security group
      operationId: SecurityRules_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network security group.
          in: path
          name: networkSecurityGroupName
          required: true
          type: string
        - description: The name of the security rule.
          in: path
          name: securityRuleName
          required: true
          type: string
        - description: Parameters supplied to the create/update network security rule operation
          in: body
          name: securityRuleParameters
          required: true
          schema:
            $ref: "#/definitions/SecurityRule"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/SecurityRule"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/SecurityRule"
      tags:
        - SecurityRules
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/publicIPAddresses":
    get:
      description: The List publicIpAddress operation retrieves all the publicIpAddresses in a resource group.
      operationId: PublicIpAddresses_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/PublicIpAddressListResult"
      tags:
        - PublicIpAddresses
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/publicIPAddresses/{publicIpAddressName}/":
    delete:
      description: The delete publicIpAddress operation deletes the specified publicIpAddress.
      operationId: PublicIpAddresses_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the subnet.
          in: path
          name: publicIpAddressName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - PublicIpAddresses
      x-ms-long-running-operation: true
    get:
      description: The Get publicIpAddress operation retrieves information about the specified pubicIpAddress
      operationId: PublicIpAddresses_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the subnet.
          in: path
          name: publicIpAddressName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/PublicIpAddress"
      tags:
        - PublicIpAddresses
    put:
      description: The Put PublicIPAddress operation creates/updates a stable/dynamic PublicIP address
      operationId: PublicIpAddresses_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the publicIpAddress.
          in: path
          name: publicIpAddressName
          required: true
          type: string
        - description: Parameters supplied to the create/update PublicIPAddress operation
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/PublicIpAddress"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/PublicIpAddress"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/PublicIpAddress"
      tags:
        - PublicIpAddresses
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/routeTables":
    get:
      description: The list RouteTables returns all route tables in a resource group
      operationId: RouteTables_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/RouteTableListResult"
      tags:
        - RouteTables
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/routeTables/{routeTableName}":
    delete:
      description: The Delete RouteTable operation deletes the specified Route Table
      operationId: RouteTables_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the route table.
          in: path
          name: routeTableName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - RouteTables
      x-ms-long-running-operation: true
    get:
      description: The Get RouteTables operation retrieves information about the specified route table.
      operationId: RouteTables_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the route table.
          in: path
          name: routeTableName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/RouteTable"
      tags:
        - RouteTables
    put:
      description: The Put RouteTable operation creates/updates a route table in the specified resource group.
      operationId: RouteTables_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the route table.
          in: path
          name: routeTableName
          required: true
          type: string
        - description: Parameters supplied to the create/update Route Table operation
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/RouteTable"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/RouteTable"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/RouteTable"
      tags:
        - RouteTables
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/routeTables/{routeTableName}/routes":
    get:
      description: The List network security rule operation retrieves all the routes in a route table.
      operationId: Routes_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the route table.
          in: path
          name: routeTableName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/RouteListResult"
      tags:
        - Routes
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/routeTables/{routeTableName}/routes/{routeName}":
    delete:
      description: The delete route operation deletes the specified route from a route table.
      operationId: Routes_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the route table.
          in: path
          name: routeTableName
          required: true
          type: string
        - description: The name of the route.
          in: path
          name: routeName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - Routes
      x-ms-long-running-operation: true
    get:
      description: The Get route operation retrieves information about the specified route from the route table.
      operationId: Routes_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the route table.
          in: path
          name: routeTableName
          required: true
          type: string
        - description: The name of the route.
          in: path
          name: routeName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Route"
      tags:
        - Routes
    put:
      description: The Put route operation creates/updates a route in the specified route table
      operationId: Routes_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the route table.
          in: path
          name: routeTableName
          required: true
          type: string
        - description: The name of the route.
          in: path
          name: routeName
          required: true
          type: string
        - description: Parameters supplied to the create/update route operation
          in: body
          name: routeParameters
          required: true
          schema:
            $ref: "#/definitions/Route"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Route"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/Route"
      tags:
        - Routes
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways":
    get:
      description: The List VirtualNetworkGateways operation retrieves all the virtual network gateways stored.
      operationId: VirtualNetworkGateways_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/VirtualNetworkGatewayListResult"
      tags:
        - VirtualNetworkGateways
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkGateways/{virtualNetworkGatewayName}/":
    delete:
      description: The Delete VirtualNetworkGateway operation deletes the specified virtual network Gateway through Network resource provider.
      operationId: VirtualNetworkGateways_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - VirtualNetworkGateways
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualnetworkgateways/{virtualNetworkGatewayName}":
    get:
      description: The Get VirtualNetworkGateway operation retrieves information about the specified virtual network gateway through Network resource provider.
      operationId: VirtualNetworkGateways_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/VirtualNetworkGateway"
      tags:
        - VirtualNetworkGateways
    put:
      description: The Put VirtualNetworkGateway operation creates/updates a virtual network gateway in the specified resource group through Network resource provider.
      operationId: VirtualNetworkGateways_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          type: string
        - description: Parameters supplied to the Begin Create or update Virtual Network Gateway operation through Network resource provider.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/VirtualNetworkGateway"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/VirtualNetworkGateway"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/VirtualNetworkGateway"
      tags:
        - VirtualNetworkGateways
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualnetworkgateways/{virtualNetworkGatewayName}/reset":
    post:
      description: The Reset VirtualNetworkGateway operation resets the primary of the virtual network gateway in the specified resource group through Network resource provider.
      operationId: VirtualNetworkGateways_Reset
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network gateway.
          in: path
          name: virtualNetworkGatewayName
          required: true
          type: string
        - description: Parameters supplied to the Begin Reset Virtual Network Gateway operation through Network resource provider.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/VirtualNetworkGateway"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/VirtualNetworkGateway"
        "202":
          description: ""
      tags:
        - VirtualNetworkGateways
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualnetworks":
    get:
      description: The list VirtualNetwork returns all Virtual Networks in a resource group
      operationId: VirtualNetworks_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/VirtualNetworkListResult"
      tags:
        - VirtualNetworks
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualnetworks/{virtualNetworkName}":
    delete:
      description: The Delete VirtualNetwork operation deletes the specified virtual network
      operationId: VirtualNetworks_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - VirtualNetworks
      x-ms-long-running-operation: true
    get:
      description: The Get VirtualNetwork operation retrieves information about the specified virtual network.
      operationId: VirtualNetworks_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/VirtualNetwork"
      tags:
        - VirtualNetworks
    put:
      description: The Put VirtualNetwork operation creates/updates a virtual network in the specified resource group.
      operationId: VirtualNetworks_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - description: Parameters supplied to the create/update Virtual Network operation
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/VirtualNetwork"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/VirtualNetwork"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/VirtualNetwork"
      tags:
        - VirtualNetworks
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualnetworks/{virtualNetworkName}/subnets":
    get:
      description: The List subnets operation retrieves all the subnets in a virtual network.
      operationId: Subnets_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/SubnetListResult"
      tags:
        - Subnets
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualnetworks/{virtualNetworkName}/subnets/{subnetName}":
    delete:
      description: The delete subnet operation deletes the specified subnet.
      operationId: Subnets_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - description: The name of the subnet.
          in: path
          name: subnetName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - Subnets
      x-ms-long-running-operation: true
    get:
      description: The Get subnet operation retrieves information about the specified subnet.
      operationId: Subnets_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - description: The name of the subnet.
          in: path
          name: subnetName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Subnet"
      tags:
        - Subnets
    put:
      description: The Put Subnet operation creates/updates a subnet in the specified virtual network
      operationId: Subnets_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - description: The name of the subnet.
          in: path
          name: subnetName
          required: true
          type: string
        - description: Parameters supplied to the create/update Subnet operation
          in: body
          name: subnetParameters
          required: true
          schema:
            $ref: "#/definitions/Subnet"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Subnet"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/Subnet"
      tags:
        - Subnets
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/networkInterfaces":
    get:
      description: The list network interface operation retrieves information about all network interfaces in a virtual machine scale set.
      operationId: NetworkInterfaces_ListVirtualMachineScaleSetNetworkInterfaces
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: virtualMachineScaleSetName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/NetworkInterfaceListResult"
      tags:
        - NetworkInterfaces
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces":
    get:
      description: The list network interface operation retrieves information about all network interfaces in a virtual machine from a virtual machine scale set.
      operationId: NetworkInterfaces_ListVirtualMachineScaleSetVMNetworkInterfaces
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: virtualMachineScaleSetName
          required: true
          type: string
        - description: The virtual machine index.
          in: path
          name: virtualmachineIndex
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/NetworkInterfaceListResult"
      tags:
        - NetworkInterfaces
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}":
    get:
      description: The Get network interface operation retrieves information about the specified network interface in a virtual machine scale set.
      operationId: NetworkInterfaces_GetVirtualMachineScaleSetNetworkInterface
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: virtualMachineScaleSetName
          required: true
          type: string
        - description: The virtual machine index.
          in: path
          name: virtualmachineIndex
          required: true
          type: string
        - description: The name of the network interface.
          in: path
          name: networkInterfaceName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/NetworkInterface"
      tags:
        - NetworkInterfaces
definitions:
  AddressSpace:
    description: AddressSpace contains an array of IP address ranges that can be used by subnets
    properties:
      addressPrefixes:
        description: Gets or sets List of address blocks reserved for this virtual network in CIDR notation
        items:
          type: string
        type: array
  ApplicationGateway:
    allOf:
      - $ref: "#/definitions/Resource"
    description: ApplicationGateways resource
    properties:
      etag:
        description: Gets a unique read-only string that changes whenever the resource is updated
        type: string
      properties:
        $ref: "#/definitions/ApplicationGatewayPropertiesFormat"
        x-ms-client-flatten: true
  ApplicationGatewayBackendAddress:
    description: Backend Address of application gateway
    properties:
      fqdn:
        description: Gets or sets the dns name
        type: string
      ipAddress:
        description: Gets or sets the ip address
        type: string
  ApplicationGatewayBackendAddressPool:
    allOf:
      - $ref: "#/definitions/SubResource"
    description: Backend Address Pool of application gateway
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated
        type: string
      name:
        description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource
        type: string
      properties:
        $ref: "#/definitions/ApplicationGatewayBackendAddressPoolPropertiesFormat"
        x-ms-client-flatten: true
  ApplicationGatewayBackendAddressPoolPropertiesFormat:
    description: Properties of Backend Address Pool of application gateway
    properties:
      backendAddresses:
        description: Gets or sets the backend addresses
        items:
          $ref: "#/definitions/ApplicationGatewayBackendAddress"
        type: array
      backendIPConfigurations:
        description: "Gets or sets backendIPConfiguration of application gateway "
        items:
          $ref: "#/definitions/SubResource"
        type: array
      provisioningState:
        description: Gets or sets Provisioning state of the backend address pool resource Updating/Deleting/Failed
        type: string
  ApplicationGatewayBackendHttpSettings:
    allOf:
      - $ref: "#/definitions/SubResource"
    description: Backend address pool settings of application gateway
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated
        type: string
      name:
        description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource
        type: string
      properties:
        $ref: "#/definitions/ApplicationGatewayBackendHttpSettingsPropertiesFormat"
        x-ms-client-flatten: true
  ApplicationGatewayBackendHttpSettingsPropertiesFormat:
    description: Properties of Backend address pool settings of application gateway
    properties:
      cookieBasedAffinity:
        description: Gets or sets the cookie affinity
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: true
          name: ApplicationGatewayCookieBasedAffinity
      port:
        description: Gets or sets the port
        format: int32
        type: integer
      protocol:
        description: Gets or sets the protocol
        enum:
          - Http
          - Https
        type: string
        x-ms-enum:
          modelAsString: true
          name: ApplicationGatewayProtocol
      provisioningState:
        description: Gets or sets Provisioning state of the backend http settings resource Updating/Deleting/Failed
        type: string
  ApplicationGatewayFrontendIPConfiguration:
    allOf:
      - $ref: "#/definitions/SubResource"
    description: Frontend IP configuration of application gateway
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated
        type: string
      name:
        description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource
        type: string
      properties:
        $ref: "#/definitions/ApplicationGatewayFrontendIPConfigurationPropertiesFormat"
        x-ms-client-flatten: true
  ApplicationGatewayFrontendIPConfigurationPropertiesFormat:
    description: Properties of Frontend IP configuration of application gateway
    properties:
      privateIPAddress:
        description: Gets or sets the privateIPAddress of the Network Interface IP Configuration
        type: string
      privateIPAllocationMethod:
        description: Gets or sets PrivateIP allocation method (Static/Dynamic)
        enum:
          - Static
          - Dynamic
        type: string
        x-ms-enum:
          modelAsString: true
          name: IpAllocationMethod
      provisioningState:
        description: Gets or sets Provisioning state of the PublicIP resource Updating/Deleting/Failed
        type: string
      publicIPAddress:
        $ref: "#/definitions/SubResource"
        description: Gets or sets the reference of the PublicIP resource
      subnet:
        $ref: "#/definitions/SubResource"
        description: Gets or sets the reference of the subnet resource
  ApplicationGatewayFrontendPort:
    allOf:
      - $ref: "#/definitions/SubResource"
    description: Frontend Port of application gateway
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated
        type: string
      name:
        description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource
        type: string
      properties:
        $ref: "#/definitions/ApplicationGatewayFrontendPortPropertiesFormat"
        x-ms-client-flatten: true
  ApplicationGatewayFrontendPortPropertiesFormat:
    description: Properties of Frontend Port of application gateway
    properties:
      port:
        description: Gets or sets the frontend port
        format: int32
        type: integer
      provisioningState:
        description: Gets or sets Provisioning state of the frontend port resource Updating/Deleting/Failed
        type: string
  ApplicationGatewayHttpListener:
    allOf:
      - $ref: "#/definitions/SubResource"
    description: Http listener of application gateway
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated
        type: string
      name:
        description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource
        type: string
      properties:
        $ref: "#/definitions/ApplicationGatewayHttpListenerPropertiesFormat"
        x-ms-client-flatten: true
  ApplicationGatewayHttpListenerPropertiesFormat:
    description: Properties of Http listener of application gateway
    properties:
      frontendIPConfiguration:
        $ref: "#/definitions/SubResource"
        description: "Gets or sets frontend IP configuration resource of application gateway "
      frontendPort:
        $ref: "#/definitions/SubResource"
        description: "Gets or sets frontend port resource of application gateway "
      protocol:
        description: Gets or sets the protocol
        enum:
          - Http
          - Https
        type: string
        x-ms-enum:
          modelAsString: true
          name: ApplicationGatewayProtocol
      provisioningState:
        description: Gets or sets Provisioning state of the http listener resource Updating/Deleting/Failed
        type: string
      sslCertificate:
        $ref: "#/definitions/SubResource"
        description: "Gets or sets ssl certificate resource of application gateway "
  ApplicationGatewayIPConfiguration:
    allOf:
      - $ref: "#/definitions/SubResource"
    description: IP configuration of application gateway
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated
        type: string
      name:
        description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource
        type: string
      properties:
        $ref: "#/definitions/ApplicationGatewayIPConfigurationPropertiesFormat"
        x-ms-client-flatten: true
  ApplicationGatewayIPConfigurationPropertiesFormat:
    description: Properties of IP configuration of application gateway
    properties:
      provisioningState:
        description: Gets or sets Provisioning state of the application gateway subnet resource Updating/Deleting/Failed
        type: string
      subnet:
        $ref: "#/definitions/SubResource"
        description: "Gets or sets the reference of the subnet resource.A subnet from where application gateway gets its private address "
  ApplicationGatewayListResult:
    description: Response for ListLoadBalancers Api service call
    properties:
      nextLink:
        description: Gets the URL to get the next set of results.
        type: string
      value:
        description: Gets a list of ApplicationGateways in a resource group
        items:
          $ref: "#/definitions/ApplicationGateway"
        type: array
  ApplicationGatewayPropertiesFormat:
    description: Properties of Application Gateway
    properties:
      backendAddressPools:
        description: Gets or sets backend address pool of application gateway resource
        items:
          $ref: "#/definitions/ApplicationGatewayBackendAddressPool"
        type: array
      backendHttpSettingsCollection:
        description: Gets or sets backend http settings of application gateway resource
        items:
          $ref: "#/definitions/ApplicationGatewayBackendHttpSettings"
        type: array
      frontendIPConfigurations:
        description: Gets or sets frontend IP addresses of application gateway resource
        items:
          $ref: "#/definitions/ApplicationGatewayFrontendIPConfiguration"
        type: array
      frontendPorts:
        description: Gets or sets frontend ports of application gateway resource
        items:
          $ref: "#/definitions/ApplicationGatewayFrontendPort"
        type: array
      gatewayIPConfigurations:
        description: Gets or sets subnets of application gateway resource
        items:
          $ref: "#/definitions/ApplicationGatewayIPConfiguration"
        type: array
      httpListeners:
        description: Gets or sets HTTP listeners of application gateway resource
        items:
          $ref: "#/definitions/ApplicationGatewayHttpListener"
        type: array
      operationalState:
        description: Gets operational state of application gateway resource
        enum:
          - Stopped
          - Starting
          - Running
          - Stopping
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ApplicationGatewayOperationalState
      provisioningState:
        description: Gets or sets Provisioning state of the ApplicationGateway resource Updating/Deleting/Failed
        type: string
      requestRoutingRules:
        description: Gets or sets request routing rules of application gateway resource
        items:
          $ref: "#/definitions/ApplicationGatewayRequestRoutingRule"
        type: array
      resourceGuid:
        description: Gets or sets resource guid property of the ApplicationGateway resource
        type: string
      sku:
        $ref: "#/definitions/ApplicationGatewaySku"
        description: Gets or sets sku of application gateway resource
      sslCertificates:
        description: Gets or sets ssl certificates of application gateway resource
        items:
          $ref: "#/definitions/ApplicationGatewaySslCertificate"
        type: array
  ApplicationGatewayRequestRoutingRule:
    allOf:
      - $ref: "#/definitions/SubResource"
    description: Request routing rule of application gateway
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated
        type: string
      name:
        description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource
        type: string
      properties:
        $ref: "#/definitions/ApplicationGatewayRequestRoutingRulePropertiesFormat"
        x-ms-client-flatten: true
  ApplicationGatewayRequestRoutingRulePropertiesFormat:
    description: Properties of Request routing rule of application gateway
    properties:
      backendAddressPool:
        $ref: "#/definitions/SubResource"
        description: "Gets or sets backend address pool resource of application gateway "
      backendHttpSettings:
        $ref: "#/definitions/SubResource"
        description: "Gets or sets frontend port resource of application gateway "
      httpListener:
        $ref: "#/definitions/SubResource"
        description: "Gets or sets http listener resource of application gateway "
      provisioningState:
        description: Gets or sets Provisioning state of the request routing rule resource Updating/Deleting/Failed
        type: string
      ruleType:
        description: Gets or sets the rule type
        enum:
          - Basic
        type: string
        x-ms-enum:
[...]
