{
  "swagger": "2.0",
  "schemes": [
    "https",
    "http"
  ],
  "host": "api.fungenerators.com",
  "info": {
    "contact": {
      "name": "Fun Generators",
      "url": "http://fungenerators.com/"
    },
    "description": "Fungenerators name generation API generates random names relevant to the given category. Lots of categories are supported with many variations supported. [Click here to subscribe](http://fungenerators.com/api/namegen/)\n",
    "termsOfService": "https://fungenerators.com/terms",
    "title": "Name Generation API",
    "version": "1.5",
    "x-apisguru-categories": [
      "text"
    ],
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://fungenerators.com/yaml/namegen.yaml",
        "version": "2.0"
      }
    ],
    "x-providerName": "fungenerators.com",
    "x-serviceName": "namegen",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg"
    }
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json",
    "application/xml",
    "application/js"
  ],
  "securityDefinitions": {
    "X-Fungenerators-Api-Secret": {
      "in": "header",
      "name": "X-Fungenerators-Api-Secret",
      "type": "apiKey"
    }
  },
  "tags": [
    {
      "description": "Name Generation API",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://fungenerators.com/api/namegen/"
      },
      "name": "Names"
    }
  ],
  "paths": {
    "/name/categories": {
      "get": {
        "description": "Get available name generation categories.",
        "parameters": [
          {
            "description": "start",
            "format": "integer",
            "in": "query",
            "name": "start",
            "required": false,
            "type": "integer"
          },
          {
            "description": "limit",
            "format": "integer",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json",
          "application/xml",
          "application/js"
        ],
        "responses": {
          "200": {
            "description": "200  response",
            "examples": {
              "application/json": "{\n  \"success\": {\n    \"total\": \"37\",\n    \"start\": 0,\n    \"limit\": 5\n  },\n  \"contents\": [\n    [\n      {\n        \"name\": \"elf\",\n        \"title\": \"Elf Name Generator\",\n        \"suggestion_supported\": \"0\",\n        \"unisex\": false\n      },\n      {\n        \"name\": \"super-hero\",\n        \"title\": \"Superhero Name generator\",\n        \"suggestion_supported\": \"0\",\n        \"unisex\": true\n      },\n      {\n        \"name\": \"alien\",\n        \"title\": \"Alien Name generator\",\n        \"suggestion_supported\": \"0\",\n        \"unisex\": true\n      },\n      {\n        \"name\": \"dragon\",\n        \"title\": \"Dragon Name generator\",\n        \"suggestion_supported\": \"0\",\n        \"unisex\": true\n      },\n      {\n        \"name\": \"indian\",\n        \"title\": \"Indian Name generator\",\n        \"suggestion_supported\": \"0\",\n        \"unisex\": false\n      }\n    ]\n  ]\n}"
            }
          },
          "401": {
            "description": "401  response",
            "examples": {
              "application/json": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}     "
            }
          }
        },
        "security": [
          {
            "X-Fungenerators-Api-Secret": []
          }
        ],
        "tags": [
          "Names"
        ]
      }
    },
    "/name/generate": {
      "get": {
        "description": "Generated names in the given category",
        "parameters": [
          {
            "description": "Category to generator names from",
            "format": "string",
            "in": "query",
            "name": "category",
            "required": true,
            "type": "string"
          },
          {
            "description": "Suggestion string if supported by this category generator.",
            "format": "string",
            "in": "query",
            "name": "suggest",
            "required": false,
            "type": "string"
          },
          {
            "description": "start. Controls pagination. Relevant only if suggestion is supported",
            "format": "integer",
            "in": "query",
            "name": "start",
            "required": false,
            "type": "integer"
          },
          {
            "description": "limit. Controls pagination limit. Relevant only if suggestion is supported",
            "format": "integer",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Variation if supported ( male/female/any )",
            "format": "string",
            "in": "query",
            "name": "variation",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json",
          "application/xml",
          "application/js"
        ],
        "responses": {
          "200": {
            "description": "200  response",
            "examples": {
              "application/json": "{\n  \"success\": {\n    \"total\": null,\n    \"start\": 0,\n    \"limit\": 5\n  },\n  \"contents\": {\n    \"category\": \"ninja\",\n    \"names\": [\n      \"Snow Strikes\",\n      \"Rapid Fall\",\n      \"Agile Moon\",\n      \"Dreamsign\",\n      \"Phantom Fall\"\n    ]\n  },\n  \"copyright\": \"https://fungenerators.com/\"\n}"
            }
          },
          "401": {
            "description": "401  response",
            "examples": {
              "application/json": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
            }
          }
        },
        "security": [
          {
            "X-Fungenerators-Api-Secret": []
          }
        ],
        "tags": [
          "Names"
        ]
      }
    }
  }
}