openapi: 3.0.0
servers:
  - url: http://api.fungenerators.com
  - url: https://api.fungenerators.com
info:
  contact:
    name: Fun Generators
    url: http://fungenerators.com/api/shakespeare/
  description: |
    Shakespeare API. Generate random Shakespeare quotes, names, insults, lorem ipsum etc. Translate normal English to Shakespeare English.  [Click here to subscribe](http://fungenerators.com/api/shakespeare/) 
  termsOfService: https://fungenerators.com/terms
  title: Shakespeare API
  version: "1.5"
  x-apisguru-categories:
    - text
  x-origin:
    - format: openapi
      url: https://fungenerators.com/yaml/shakespeare.yaml
      version: "3.0"
  x-providerName: fungenerators.com
  x-serviceName: shakespeare
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg
tags:
  - description: Generate random quotes, names, insults, lorem ipsum etc
    externalDocs:
      description: Find out more
      url: http://fungenerators.com/api/shakespeare/
    name: Generation
  - description: Get Shakespeare Works via API
    externalDocs:
      description: Find out more
      url: http://fungenerators.com/api/shakespeare/
    name: Works
  - description: Translate to Shakespeare English
    externalDocs:
      description: Find out more
      url: http://fungenerators.com/api/shakespeare/
    name: Translation
paths:
  /shakespeare/generate/insult:
    get:
      description: Generate random Shakespeare style insults.
      parameters:
        - description: No of insults to generate
          in: query
          name: limit
          required: false
          schema:
            format: integer
            type: integer
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value: |-
                    {
                      "success": {
                        "total": 5,
                        "limit": 5
                      },
                      "contents": {
                        "taunts": [
                          "Thou cockered clapper-clawed mammet!",
                          "Thou dissembling weather-bitten rampallion!",
                          "Thou churlish evil-eyed pigeon-egg!",
                          "Thou saucy onion-eyed moldwarp!",
                          "Thou bootless onion-eyed measle!"
                        ]
                      },
                      "copyright": "https://fungenerators.com/"
                    }
          description: 200  response
        "401":
          content:
            application/json:
              examples:
                response:
                  value: |-
                    {
                        "error": {
                            "code": 401,
                            "message": "Unauthorized"
                        }
                    }                    
          description: 401  response
      security:
        - X-Fungenerators-Api-Secret: []
      tags:
        - Generation
  /shakespeare/generate/lorem-ipsum:
    get:
      description: Generate Shakespeare lorem ipsum.
      parameters:
        - description: Type of element to generate `paragraphs/sentences/words`.
          in: query
          name: type
          required: false
          schema:
            format: string
            type: string
        - description: No of elements to generate
          in: query
          name: limit
          required: false
          schema:
            format: integer
            type: integer
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value: |-
                    {
                      "success": {
                        "total": 5,
                        "limit": 5
                      },
                      "contents": {
                        "lorem-ipsum": "[\"Something wicked this way comes.  Those his goodly eyes, That o'er the files and musters of the war Have glow'd like plated Mars, now bend, now turn, The office and devotion of their view Upon a tawny front. Let Rome in Tiber melt, and the wide arch Of the rang'd empire fall! Here is my space.  Kingdoms are clay;  O unhappy youth!  Come not within these doors; within this roof The enemy of all your graces lives.   This is no place; this house is but a butchery; Abhor it, fear it, do not enter it. When I did hear The motley fool thus moral on the time, My lungs began to crow like chanticleer That fools should be so deep contemplative; And I did laugh sans intermission An hour by his dial. O noble fool!  A worthy fool! Motley's the only wear.\",\"The wheel is come full circle.  But this denoted a foregone conclusion:  He lets me feed with his hinds, bars me the place of a brother, and as much as in him lies, mines my gentility with my education.  And then the lover, Sighing like furnace, with a woeful ballad Made to his mistress' eyebrow.  You must borrow me Gargantua's mouth first; 'tis a word too great for any mouth of this age's size. To say ay and no to these particulars is more than to answer in a catechism. You have a nimble wit; I think 'twas made of Atalanta's heels. Will you sit down with me? and we two will rail against our mistress the world, and all our misery.\",\"Neither a borrower or a lender be.  Yes, so please your Majesty. I did go between them, as I said; but more than that, he loved her-for indeed he was mad for her, and talk'd of Satan, and of Limbo, and of Furies, and I know not what.  Good mother, fetch my bail. Stay, royal sir; More, more, I prithee, more. And then he drew a dial from his poke, And, looking on it with lack-lustre eye, Says very wisely, 'It is ten o'clock; Thus we may see,' quoth he, 'how the world wags; 'Tis but an hour ago since it was nine; And after one hour more 'twill be eleven; And so, from hour to hour, we ripe and ripe, And then, from hour to hour, we rot and rot; And thereby hangs a tale.'  The sixth age shifts Into the lean and slipper'd pantaloon, With spectacles on nose and pouch on side, His youthful hose, well sav'd, a world too wide For his shrunk shank; and his big manly voice, Turning again toward childish treble, pipes And whistles in his sound.  As it is a spare life, look you, it fits my humour well; but as there is no more plenty in it, it goes much against my stomach.  Most shallow man! thou worm's meat in respect of a good piece of flesh indeed! Learn of the wise, and perpend: civet is of a baser birth than tar- the very uncleanly flux of a cat. Mend the instance, shepherd.\",\"It is meat and drink to me to see a clown:  That's meat and drink to me, now.  The course of true love never did run smooth.  I will wear my heart upon my sleeve  A miserable world!  As I do live by food, I met a fool, Who laid him down and bask'd him in the sun, And rail'd on Lady Fortune in good terms, In good set terms- and yet a motley fool.   At first the infant, Mewling and puking in the nurse's arms; Then the whining school-boy, with his satchel And shining morning face, creeping like snail Unwillingly to school.  Now in respect it is in the fields, it pleaseth me well; but in respect it is not in the court, it is tedious.  You must borrow me Gargantua's mouth first; 'tis a word too great for any mouth of this age's size. To say ay and no to these particulars is more than to answer in a catechism.\",\"It beggared all description.  more in sorrow than in anger.  You must borrow me Gargantua's mouth first; 'tis a word too great for any mouth of this age's size. To say ay and no to these particulars is more than to answer in a catechism.\"]"
                      },
                      "copyright": "https://fungenerators.com/"
                    }
          description: 200  response
        "401":
          content:
            application/json:
              examples:
                response:
                  value: |-
                    {
                        "error": {
                            "code": 401,
                            "message": "Unauthorized"
                        }
                    }                    
          description: 401  response
      security:
        - X-Fungenerators-Api-Secret: []
      tags:
        - Generation
  /shakespeare/generate/name:
    get:
      description: Generate random Shakespearen names.
      parameters:
        - description: Variation to generate `male/female`.
          in: query
          name: variation
          required: false
          schema:
            format: string
            type: string
        - description: No of names to generate
          in: query
          name: limit
          required: false
          schema:
            format: integer
            type: integer
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value: |-
                    {
                      "success": {
                        "total": 5,
                        "start": 0,
                        "limit": 5
                      },
                      "contents": {
                        "variation": "male",
                        "names": [
                          "Varrius Quince",
                          "Fabian Tearsheet",
                          "Capucius Flute",
                          "Guiderius Wolsey",
                          "Silvius Stafford"
                        ]
                      },
                      "copyright": "https://fungenerators.com/"
                    }
          description: 200  response
        "401":
          content:
            application/json:
              examples:
                response:
                  value: |-
                    {
                        "error": {
                            "code": 401,
                            "message": "Unauthorized"
                        }
                    }
          description: 401  response
      security:
        - X-Fungenerators-Api-Secret: []
      tags:
        - Generation
  /shakespeare/quote:
    get:
      description: Get a random Shakespeare quote.
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value: |-
                    {
                      "success": {
                        "total": 1
                      },
                      "contents": {
                        "quote": "I could a tale unfold whose lightest wordWould harrow up thy soul, freeze thy young blood,Make thy two eyes like stars start from their spheres,Thy knotted and combined locks to part,And each particular hair to stand on endLike quills upon the fretful porpentine.But this eternal blazon must not beTo ears of flesh and blood.List, list, O list! ",
                        "author": "William Shakespeare"
                      },
                      "copyright": "https://fungenerators.com/"
                    }
          description: 200  response
        "401":
          content:
            application/json:
              examples:
                response:
                  value: |-
                    {
                        "error": {
                            "code": 401,
                            "message": "Unauthorized"
                        }
                    }    
          description: 401  response
      security:
        - X-Fungenerators-Api-Secret: []
      tags:
        - Works
  /shakespeare/translate:
    get:
      description: Translate from English to Shakespeare English.
      parameters:
        - description: Text to translate to Shakespeare English.
          in: query
          name: text
          required: true
          schema:
            format: string
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value: |-
                    {
                      "success": {
                        "total": 1
                      },
                      "contents": {
                        "translated": "What he did doth englut did maketh him kicketh the bucket",
                        "text": "What he ate made him die"
                      },
                      "copyright": "https://fungenerators.com/"
                    }
          description: 200  response
        "401":
          content:
            application/json:
              examples:
                response:
                  value: |-
                    {
                        "error": {
                            "code": 401,
                            "message": "Unauthorized"
                        }
                    }       
          description: 401  response
      security:
        - X-Fungenerators-Api-Secret: []
      tags:
        - Translation
components:
  securitySchemes:
    X-Fungenerators-Api-Secret:
      in: header
      name: X-Fungenerators-Api-Secret
      type: apiKey
