swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: StorSimpleManagementClient
  version: 2016-10-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/storSimple1200Series/resource-manager/Microsoft.StorSimple/stable/2016-10-01/StorSimple.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: storSimple1200Series-StorSimple
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: The api version
    in: query
    name: api-version
    required: true
    type: string
  managerNameParameter:
    description: The manager name
    in: path
    maxLength: 50
    minLength: 2
    name: managerName
    required: true
    type: string
    x-ms-parameter-location: method
  resourceGroupNameParameter:
    description: The resource group name
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionIdParameter:
    description: The subscription id
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.StorSimple/operations:
    get:
      deprecated: false
      description: List of AvailableProviderOperations
      operationId: AvailableProviderOperations_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AvailableProviderOperations"
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          schema:
            $ref: "#/definitions/Error"
      tags:
        - AvailableProviderOperations
      x-ms-examples:
        OperationsList:
          parameters:
            api-version: 2016-10-01
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                value:
                  - display:
                      description: The Update Resource Certificate operation updates the resource/vault credential certificate.
                      operation: Update Resource Certificate
                      provider: Microsoft.StorSimple
                      resource: Managers
                    name: Microsoft.StorSimple/Managers/certificates/write
                    origin: user
                  - display:
                      description: Lists or gets the Update Summary
                      operation: List Update Summary
                      provider: Microsoft StorSimple Device Manager
                      resource: Update Summary
                    name: Microsoft.StorSimple/managers/devices/updateSummary/read
                    origin: user
                  - display:
                      description: Scan for updates in a device.
                      operation: Scan Updates
                      provider: Microsoft StorSimple Device Manager
                      resource: Devices
                    name: Microsoft.StorSimple/managers/devices/scanForUpdates/action
                    origin: user
                  - display:
                      description: Dowload updates for a device.
                      operation: Download Device Updates
                      provider: Microsoft StorSimple Device Manager
                      resource: Devices
                    name: Microsoft.StorSimple/managers/devices/download/action
                    origin: user
                  - display:
                      description: Install updates on a device.
                      operation: Install Updates (1200 Series Only)
                      provider: Microsoft StorSimple Device Manager
                      resource: Devices
                    name: Microsoft.StorSimple/managers/devices/install/action
                    origin: user
                  - display:
                      description: Lists or gets the Time Settings
                      operation: List Time Settings
                      provider: Microsoft StorSimple Device Manager
                      resource: Time Settings
                    name: Microsoft.StorSimple/managers/devices/timeSettings/read
                    origin: user
                  - display:
                      description: Lists or gets the Alert Settings
                      operation: List Alert Settings
                      provider: Microsoft StorSimple Device Manager
                      resource: Alert Settings
                    name: Microsoft.StorSimple/managers/devices/alertSettings/read
                    origin: user
                  - display:
                      description: Lists or gets the Network Settings
                      operation: List Network Settings
                      provider: Microsoft StorSimple Device Manager
                      resource: Network Settings
                    name: Microsoft.StorSimple/managers/devices/networkSettings/read
                    origin: user
                  - display:
                      description: Create or update the Alert Settings
                      operation: Create or Update Alert Settings
                      provider: Microsoft StorSimple Device Manager
                      resource: Alert Settings
                    name: Microsoft.StorSimple/managers/devices/alertSettings/write
                    origin: user
                  - display:
                      description: Update the security settings.
                      operation: Update (1200 Series Only)
                      provider: Microsoft StorSimple Device Manager
                      resource: Security Settings
                    name: Microsoft.StorSimple/managers/devices/securitySettings/update/action
                    origin: user
                  - display:
                      description: Lists or gets the Devices
                      operation: List Devices
                      provider: Microsoft StorSimple Device Manager
                      resource: Devices
                    name: Microsoft.StorSimple/managers/devices/read
                    origin: user
                  - display:
                      description: Create or update the Devices
                      operation: Create or Update Devices
                      provider: Microsoft StorSimple Device Manager
                      resource: Devices
                    name: Microsoft.StorSimple/managers/devices/write
                    origin: user
                  - display:
                      description: Deletes the Devices
                      operation: Delete Devices
                      provider: Microsoft StorSimple Device Manager
                      resource: Devices
                    name: Microsoft.StorSimple/managers/devices/delete
                    origin: user
                  - display:
                      description: Deactivates a device.
                      operation: Deactivate Device
                      provider: Microsoft StorSimple Device Manager
                      resource: Devices
                    name: Microsoft.StorSimple/managers/devices/deactivate/action
                    origin: user
                  - display:
                      description: Publish support package of a device for Microsoft Support troubleshooting.
                      operation: Publish Support Package
                      provider: Microsoft StorSimple Device Manager
                      resource: Devices
                    name: Microsoft.StorSimple/managers/devices/publishSupportPackage/action
                    origin: user
                  - display:
                      description: Lists or gets the Metrics Definitions
                      operation: List Metrics Definitions
                      provider: Microsoft StorSimple Device Manager
                      resource: Metrics Definitions
                    name: Microsoft.StorSimple/managers/devices/metricsDefinitions/read
                    origin: user
                  - display:
                      description: Lists or gets the Metrics
                      operation: List Metrics
                      provider: Microsoft StorSimple Device Manager
                      resource: Metrics
                    name: Microsoft.StorSimple/managers/devices/metrics/read
                    origin: user
                  - display:
                      description: Failover of the device.
                      operation: Failover Device
                      provider: Microsoft StorSimple Device Manager
                      resource: Devices
                    name: Microsoft.StorSimple/managers/devices/failover/action
                    origin: user
                  - display:
                      description: Create or update the Shares
                      operation: Create or Update Shares
                      provider: Microsoft StorSimple Device Manager
                      resource: Shares (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/fileservers/shares/write
                    origin: user
                  - display:
                      description: Lists or gets the Shares
                      operation: List Shares
                      provider: Microsoft StorSimple Device Manager
                      resource: Shares (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/fileservers/shares/read
                    origin: user
                  - display:
                      description: Deletes the Shares
                      operation: Delete Shares
                      provider: Microsoft StorSimple Device Manager
                      resource: Shares (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/fileservers/shares/delete
                    origin: user
                  - display:
                      description: Lists or gets the Metrics Definitions
                      operation: List Metrics Definitions
                      provider: Microsoft StorSimple Device Manager
                      resource: Metrics Definitions
                    name: Microsoft.StorSimple/managers/devices/fileservers/shares/metricsDefinitions/read
                    origin: user
                  - display:
                      description: Lists or gets the Metrics
                      operation: List Metrics
                      provider: Microsoft StorSimple Device Manager
                      resource: Metrics
                    name: Microsoft.StorSimple/managers/devices/fileservers/shares/metrics/read
                    origin: user
                  - display:
                      description: Lists or gets the Disks
                      operation: List Disks
                      provider: Microsoft StorSimple Device Manager
                      resource: Disks (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/iscsiservers/disks/read
                    origin: user
                  - display:
                      description: Create or update the Disks
                      operation: Create or Update Disks
                      provider: Microsoft StorSimple Device Manager
                      resource: Disks (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/iscsiservers/disks/write
                    origin: user
                  - display:
                      description: Deletes the Disks
                      operation: Delete Disks
                      provider: Microsoft StorSimple Device Manager
                      resource: Disks (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/iscsiservers/disks/delete
                    origin: user
                  - display:
                      description: Lists or gets the Metrics Definitions
                      operation: List Metrics Definitions
                      provider: Microsoft StorSimple Device Manager
                      resource: Metrics Definitions
                    name: Microsoft.StorSimple/managers/devices/iscsiservers/disks/metricsDefinitions/read
                    origin: user
                  - display:
                      description: Lists or gets the Metrics
                      operation: List Metrics
                      provider: Microsoft StorSimple Device Manager
                      resource: Metrics
                    name: Microsoft.StorSimple/managers/devices/iscsiservers/disks/metrics/read
                    origin: user
                  - display:
                      description: Lists or gets the iSCSI Servers
                      operation: List iSCSI Servers
                      provider: Microsoft StorSimple Device Manager
                      resource: iSCSI Servers (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/iscsiservers/read
                    origin: user
                  - display:
                      description: Create or update the iSCSI Servers
                      operation: Create or Update iSCSI Servers
                      provider: Microsoft StorSimple Device Manager
                      resource: iSCSI Servers (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/iscsiservers/write
                    origin: user
                  - display:
                      description: Deletes the iSCSI Servers
                      operation: Delete iSCSI Servers
                      provider: Microsoft StorSimple Device Manager
                      resource: iSCSI Servers (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/iscsiservers/delete
                    origin: user
                  - display:
                      description: Take backup of an iSCSI server.
                      operation: Take Backup
                      provider: Microsoft StorSimple Device Manager
                      resource: iSCSI Servers (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/iscsiservers/backup/action
                    origin: user
                  - display:
                      description: Lists or gets the Metrics Definitions
                      operation: List Metrics Definitions
                      provider: Microsoft StorSimple Device Manager
                      resource: Metrics Definitions
                    name: Microsoft.StorSimple/managers/devices/iscsiservers/metricsDefinitions/read
                    origin: user
                  - display:
                      description: Lists or gets the Metrics
                      operation: List Metrics
                      provider: Microsoft StorSimple Device Manager
                      resource: Metrics
                    name: Microsoft.StorSimple/managers/devices/iscsiservers/metrics/read
                    origin: user
                  - display:
                      description: Lists or gets the Backup Schedule Groups
                      operation: List Backup Schedule Groups
                      provider: Microsoft StorSimple Device Manager
                      resource: Backup Schedule Groups (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/backupScheduleGroups/read
                    origin: user
                  - display:
                      description: Create or update the Backup Schedule Groups
                      operation: Create or Update Backup Schedule Groups
                      provider: Microsoft StorSimple Device Manager
                      resource: Backup Schedule Groups (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/backupScheduleGroups/write
                    origin: user
                  - display:
                      description: Deletes the Backup Schedule Groups
                      operation: Delete Backup Schedule Groups
                      provider: Microsoft StorSimple Device Manager
                      resource: Backup Schedule Groups (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/backupScheduleGroups/delete
                    origin: user
                  - display:
                      description: Lists or gets the Alerts
                      operation: List Alerts
                      provider: Microsoft StorSimple Device Manager
                      resource: Alerts
                    name: Microsoft.StorSimple/managers/alerts/read
                    origin: user
                  - display:
                      description: Clear all the alerts associated with the device manager.
                      operation: Clears All Alerts
                      provider: Microsoft StorSimple Device Manager
                      resource: Device Managers
                    name: Microsoft.StorSimple/managers/clearAlerts/action
                    origin: user
                  - display:
                      description: Send test alert email to configured email recipients.
                      operation: Send Test Alert Email
                      provider: Microsoft StorSimple Device Manager
                      resource: Devices
                    name: Microsoft.StorSimple/managers/devices/sendTestAlertEmail/action
                    origin: user
                  - display:
                      description: Create or update the Storage Account Credentials
                      operation: Create or Update Storage Account Credentials
                      provider: Microsoft StorSimple Device Manager
                      resource: Storage Account Credentials
                    name: Microsoft.StorSimple/managers/storageAccountCredentials/write
                    origin: user
                  - display:
                      description: Lists or gets the Storage Account Credentials
                      operation: List Storage Account Credentials
                      provider: Microsoft StorSimple Device Manager
                      resource: Storage Account Credentials
                    name: Microsoft.StorSimple/managers/storageAccountCredentials/read
                    origin: user
                  - display:
                      description: Deletes the Storage Account Credentials
                      operation: Delete Storage Account Credentials
                      provider: Microsoft StorSimple Device Manager
                      resource: Storage Account Credentials
                    name: Microsoft.StorSimple/managers/storageAccountCredentials/delete
                    origin: user
                  - display:
                      description: Get activation key for the device manager.
                      operation: Get Activation Key
                      provider: Microsoft StorSimple Device Manager
                      resource: Device Managers
                    name: Microsoft.StorSimple/managers/getActivationKey/action
                    origin: user
                  - display:
                      description: Regenerate activation key for the device manager.
                      operation: Regenerate Activation Key
                      provider: Microsoft StorSimple Device Manager
                      resource: Device Managers
                    name: Microsoft.StorSimple/managers/regenerateActivationKey/action
                    origin: user
                  - display:
                      description: Regenerate registration certificate for the device managers.
                      operation: Regenerate Registration Certificate
                      provider: Microsoft StorSimple Device Manager
                      resource: Device Managers
                    name: Microsoft.StorSimple/managers/regenarateRegistationCertificate/action
                    origin: user
                  - display:
                      description: Lists or gets the Encryption Settings
                      operation: List Encryption Settings
                      provider: Microsoft StorSimple Device Manager
                      resource: Encryption Settings
                    name: Microsoft.StorSimple/managers/encryptionSettings/read
                    origin: user
                  - display:
                      description: Get encryption key for the device manager.
                      operation: Get Encryption Key
                      provider: Microsoft StorSimple Device Manager
                      resource: Device Managers
                    name: Microsoft.StorSimple/managers/getEncryptionKey/action
                    origin: user
                  - display:
                      description: Lists or gets the Device Managers
                      operation: List Device Managers
                      provider: Microsoft StorSimple Device Manager
                      resource: Device Managers
                    name: Microsoft.StorSimple/managers/read
                    origin: user
                  - display:
                      description: Deletes the Device Managers
                      operation: Delete Device Managers
                      provider: Microsoft StorSimple Device Manager
                      resource: Device Managers
                    name: Microsoft.StorSimple/managers/delete
                    origin: user
                  - display:
                      description: Create or update the Device Managers
                      operation: Create or Update Device Managers
                      provider: Microsoft StorSimple Device Manager
                      resource: Device Managers
                    name: Microsoft.StorSimple/managers/write
                    origin: user
                  - display:
                      description: Lists or gets the Metrics Definitions
                      operation: List Metrics Definitions
                      provider: Microsoft StorSimple Device Manager
                      resource: Metrics Definitions
                    name: Microsoft.StorSimple/managers/metricsDefinitions/read
                    origin: user
                  - display:
                      description: Lists or gets the Metrics
                      operation: List Metrics
                      provider: Microsoft StorSimple Device Manager
                      resource: Metrics
                    name: Microsoft.StorSimple/managers/metrics/read
                    origin: user
                  - display:
                      description: Create or update the Chap Settings
                      operation: Create or Update Chap Settings
                      provider: Microsoft StorSimple Device Manager
                      resource: Chap Settings (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/chapSettings/write
                    origin: user
                  - display:
                      description: Lists or gets the Chap Settings
                      operation: List Chap Settings
                      provider: Microsoft StorSimple Device Manager
                      resource: Chap Settings (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/chapSettings/read
                    origin: user
                  - display:
                      description: Deletes the Chap Settings
                      operation: Delete Chap Settings
                      provider: Microsoft StorSimple Device Manager
                      resource: Chap Settings (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/chapSettings/delete
                    origin: user
                  - display:
                      description: Lists or gets the Backup Set
                      operation: List Backup Set
                      provider: Microsoft StorSimple Device Manager
                      resource: Backup Set
                    name: Microsoft.StorSimple/managers/devices/backups/read
                    origin: user
                  - display:
                      description: Deletes the Backup Set
                      operation: Delete Backup Set
                      provider: Microsoft StorSimple Device Manager
                      resource: Backup Set
                    name: Microsoft.StorSimple/managers/devices/backups/delete
                    origin: user
                  - display:
                      description: Clone a share or volume using a backup element.
                      operation: Clone
                      provider: Microsoft StorSimple Device Manager
                      resource: Backup Elements (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/backups/elements/clone/action
                    origin: user
                  - display:
                      description: Lists or gets the Storage Domains
                      operation: List Storage Domains
                      provider: Microsoft StorSimple Device Manager
                      resource: Storage Domains (1200 Series Only)
                    name: Microsoft.StorSimple/managers/storageDomains/read
                    origin: user
                  - display:
                      description: Create or update the Storage Domains
                      operation: Create or Update Storage Domains
                      provider: Microsoft StorSimple Device Manager
                      resource: Storage Domains (1200 Series Only)
                    name: Microsoft.StorSimple/managers/storageDomains/write
                    origin: user
                  - display:
                      description: Deletes the Storage Domains
                      operation: Delete Storage Domains
                      provider: Microsoft StorSimple Device Manager
                      resource: Storage Domains (1200 Series Only)
                    name: Microsoft.StorSimple/managers/storageDomains/delete
                    origin: user
                  - display:
                      description: Lists or gets the Jobs
                      operation: List Jobs
                      provider: Microsoft StorSimple Device Manager
                      resource: Jobs
                    name: Microsoft.StorSimple/managers/devices/jobs/read
                    origin: user
                  - display:
                      description: Lists or gets the Access Control Records
                      operation: List Access Control Records
                      provider: Microsoft StorSimple Device Manager
                      resource: Access Control Records
                    name: Microsoft.StorSimple/managers/accessControlRecords/read
                    origin: user
                  - display:
                      description: Create or update the Access Control Records
                      operation: Create or Update Access Control Records
                      provider: Microsoft StorSimple Device Manager
                      resource: Access Control Records
                    name: Microsoft.StorSimple/managers/accessControlRecords/write
                    origin: user
                  - display:
                      description: Deletes the Access Control Records
                      operation: Delete Access Control Records
                      provider: Microsoft StorSimple Device Manager
                      resource: Access Control Records
                    name: Microsoft.StorSimple/managers/accessControlRecords/delete
                    origin: user
                  - display:
                      description: Lists or gets the File Servers
                      operation: List File Servers
                      provider: Microsoft StorSimple Device Manager
                      resource: File Servers (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/fileservers/read
                    origin: user
                  - display:
                      description: Create or update the File Servers
                      operation: Create or Update File Servers
                      provider: Microsoft StorSimple Device Manager
                      resource: File Servers (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/fileservers/write
                    origin: user
                  - display:
                      description: Deletes the File Servers
                      operation: Delete File Servers
                      provider: Microsoft StorSimple Device Manager
                      resource: File Servers (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/fileservers/delete
                    origin: user
                  - display:
                      description: Take backup of an File Server.
                      operation: Take Backup
                      provider: Microsoft StorSimple Device Manager
                      resource: File Servers (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/fileservers/backup/action
                    origin: user
                  - display:
                      description: Lists or gets the Metrics Definitions
                      operation: List Metrics Definitions
                      provider: Microsoft StorSimple Device Manager
                      resource: Metrics Definitions
                    name: Microsoft.StorSimple/managers/devices/fileservers/metricsDefinitions/read
                    origin: user
                  - display:
                      description: Lists or gets the Metrics
                      operation: List Metrics
                      provider: Microsoft StorSimple Device Manager
                      resource: Metrics
                    name: Microsoft.StorSimple/managers/devices/fileservers/metrics/read
                    origin: user
                  - display:
                      description: Creates a new or updates Time Settings
                      operation: Creates or Updates Time Settings
                      provider: Microsoft StorSimple Device Manager
                      resource: Time Settings
                    name: Microsoft.StorSimple/managers/devices/timeSettings/write
                    origin: user
                  - display:
                      description: Creates a new or updates Network Settings
                      operation: Creates or Updates Network Settings
                      provider: Microsoft StorSimple Device Manager
                      resource: Network Settings
                    name: Microsoft.StorSimple/managers/devices/networkSettings/write
                    origin: user
                  - display:
                      description: List the Security Settings
                      operation: List Security Settings
                      provider: Microsoft StorSimple Device Manager
                      resource: Security Settings
                    name: Microsoft.StorSimple/managers/devices/securitySettings/read
                    origin: user
                  - display:
                      description: Synchronize the remote management certificate for a device.
                      operation: Synchronize Remote Management Certificate (8000 Series Only)
                      provider: Microsoft StorSimple Device Manager
                      resource: Security Settings
                    name: Microsoft.StorSimple/managers/devices/securitySettings/syncRemoteManagementCertificate/action
                    origin: user
                  - display:
                      description: Creates a new or updates Security Settings
                      operation: Creates or Updates Security Settings
                      provider: Microsoft StorSimple Device Manager
                      resource: Security Settings
                    name: Microsoft.StorSimple/managers/devices/securitySettings/write
                    origin: user
                  - display:
                      description: Configures a device
                      operation: Configure Device
                      provider: Microsoft StorSimple Device Manager
                      resource: Device Managers
                    name: Microsoft.StorSimple/managers/configureDevice/action
                    origin: user
                  - display:
                      description: Installs updates on the devices
                      operation: Install Updates (8000 Series Only)
                      provider: Microsoft StorSimple Device Manager
                      resource: Devices
                    name: Microsoft.StorSimple/managers/devices/installUpdates/action
                    origin: user
                  - display:
                      description: List the failover sets for an existing device.
                      operation: List Failover Sets
                      provider: Microsoft StorSimple Device Manager
                      resource: Devices
                    name: Microsoft.StorSimple/managers/devices/listFailoverSets/action
                    origin: user
                  - display:
                      description: List failover targets of the devices
                      operation: List Failover Targets
                      provider: Microsoft StorSimple Device Manager
                      resource: Devices
                    name: Microsoft.StorSimple/managers/devices/listFailoverTargets/action
                    origin: user
                  - display:
                      description: Gets the activation key of the StorSimple Device Manager.
                      operation: Gets Activation Key
                      provider: Microsoft StorSimple Device Manager
                      resource: Device Managers
                    name: Microsoft.StorSimple/managers/listActivationKey/action
                    origin: user
                  - display:
                      description: List public encryption keys of a StorSimple Device Manager.
                      operation: List Public Encryption Key
                      provider: Microsoft StorSimple Device Manager
                      resource: Device Managers
                    name: Microsoft.StorSimple/managers/listPublicEncryptionKey/action
                    origin: user
                  - display:
                      description: List public encryption key of the device manager
                      operation: List Public Encryption Key
                      provider: Microsoft StorSimple Device Manager
                      resource: Devices
                    name: Microsoft.StorSimple/managers/devices/publicEncryptionKey/action
                    origin: user
                  - display:
                      description: Gets private encryption key for a StorSimple Device Manager.
                      operation: List Private Encryption Key
                      provider: Microsoft StorSimple Device Manager
                      resource: Device Managers
                    name: Microsoft.StorSimple/managers/listPrivateEncryptionKey/action
                    origin: user
                  - display:
                      description: List access keys of Storage Account Credentials
                      operation: List Access Keys
                      provider: Microsoft StorSimple Device Manager
                      resource: Storage Account Credentials
                    name: Microsoft.StorSimple/managers/storageAccountCredentials/listAccessKey/action
                    origin: user
                  - display:
                      description: Cancel a running job
                      operation: Cancel Job
                      provider: Microsoft StorSimple Device Manager
                      resource: Jobs
                    name: Microsoft.StorSimple/managers/devices/jobs/cancel/action
                    origin: user
                  - display:
                      description: Creates a new or updates Volume Containers (8000 Series Only)
                      operation: Creates or Updates Volume Containers (8000 Series Only)
                      provider: Microsoft StorSimple Device Manager
                      resource: Volume Containers (8000 Series Only) (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/volumeContainers/write
                    origin: user
                  - display:
                      description: List the Volume Containers (8000 Series Only)
                      operation: List Volume Containers (8000 Series Only)
                      provider: Microsoft StorSimple Device Manager
                      resource: Volume Containers (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/volumeContainers/read
                    origin: user
                  - display:
                      description: Deletes an existing Volume Containers (8000 Series Only)
                      operation: Deletes Volume Containers (8000 Series Only)
                      provider: Microsoft StorSimple Device Manager
                      resource: Volume Containers (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/volumeContainers/delete
                    origin: user
                  - display:
                      description: List encryption keys of Volume Containers
                      operation: List Encryption Keys
                      provider: Microsoft StorSimple Device Manager
                      resource: Volume Containers (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/volumeContainers/listEncryptionKeys/action
                    origin: user
                  - display:
                      description: Rollover encryption keys of Volume Containers
                      operation: Rollover Encryption Keys
                      provider: Microsoft StorSimple Device Manager
                      resource: Volume Containers (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/volumeContainers/rolloverEncryptionKey/action
                    origin: user
                  - display:
                      description: List the Metrics Definitions
                      operation: List Metrics Definitions
                      provider: Microsoft StorSimple Device Manager
                      resource: Metrics Definitions
                    name: Microsoft.StorSimple/managers/devices/volumeContainers/metricsDefinitions/read
                    origin: user
                  - display:
                      description: List the Metrics
                      operation: List Metrics
                      provider: Microsoft StorSimple Device Manager
                      resource: Metrics
                    name: Microsoft.StorSimple/managers/devices/volumeContainers/metrics/read
                    origin: user
                  - display:
                      description: List the Volumes
                      operation: List Volumes
                      provider: Microsoft StorSimple Device Manager
                      resource: Volumes (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/volumeContainers/volumes/read
                    origin: user
                  - display:
                      description: Creates a new or updates Volumes
                      operation: Creates or Updates Volumes
                      provider: Microsoft StorSimple Device Manager
                      resource: Volumes
                    name: Microsoft.StorSimple/managers/devices/volumeContainers/volumes/write
                    origin: user
                  - display:
                      description: Deletes an existing Volumes
                      operation: Deletes Volumes
                      provider: Microsoft StorSimple Device Manager
                      resource: Volumes
                    name: Microsoft.StorSimple/managers/devices/volumeContainers/volumes/delete
                    origin: user
                  - display:
                      description: List the Metrics Definitions
                      operation: List Metrics Definitions
                      provider: Microsoft StorSimple Device Manager
                      resource: Metrics Definitions
                    name: Microsoft.StorSimple/managers/devices/volumeContainers/volumes/metricsDefinitions/read
                    origin: user
                  - display:
                      description: List the Metrics
                      operation: List Metrics
                      provider: Microsoft StorSimple Device Manager
                      resource: Metrics
                    name: Microsoft.StorSimple/managers/devices/volumeContainers/volumes/metrics/read
                    origin: user
                  - display:
                      description: List the Hardware Component Groups
                      operation: List Hardware Component Groups
                      provider: Microsoft StorSimple Device Manager
                      resource: Hardware Component Groups (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/hardwareComponentGroups/read
                    origin: user
                  - display:
                      description: Change controller power state of hardware component groups
                      operation: Change controller power state of hardware component groups
                      provider: Microsoft StorSimple Device Manager
                      resource: Hardware Component Groups
                    name: Microsoft.StorSimple/managers/devices/hardwareComponentGroups/changeControllerPowerState/action
                    origin: user
                  - display:
                      description: List the Bandwidth Settings (8000 Series Only)
                      operation: List Bandwidth Settings (8000 Series Only)
                      provider: Microsoft StorSimple Device Manager
                      resource: Bandwidth Settings (8000 Series Only) (8000 Series Only)
                    name: Microsoft.StorSimple/managers/bandwidthSettings/read
                    origin: user
                  - display:
                      description: Creates a new or updates Bandwidth Settings (8000 Series Only)
                      operation: Creates or Updates Bandwidth Settings (8000 Series Only)
                      provider: Microsoft StorSimple Device Manager
                      resource: Bandwidth Settings (8000 Series Only)
                    name: Microsoft.StorSimple/managers/bandwidthSettings/write
                    origin: user
                  - display:
                      description: Deletes an existing Bandwidth Settings (8000 Series Only)
                      operation: Deletes Bandwidth Settings (8000 Series Only)
                      provider: Microsoft StorSimple Device Manager
                      resource: Bandwidth Settings (8000 Series Only)
                    name: Microsoft.StorSimple/managers/bandwidthSettings/delete
                    origin: user
                  - display:
                      description: Restore all the volumes from a backup set.
                      operation: Restore from Backup Set
                      provider: Microsoft StorSimple Device Manager
                      resource: Backup Set
                    name: Microsoft.StorSimple/managers/devices/backups/restore/action
                    origin: user
                  - display:
                      description: Creates a new or updates Schedules
                      operation: Creates or Updates Schedules
                      provider: Microsoft StorSimple Device Manager
                      resource: Schedules (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/backupPolicies/schedules/write
                    origin: user
                  - display:
                      description: List the Schedules
                      operation: List Schedules
                      provider: Microsoft StorSimple Device Manager
                      resource: Schedules
                    name: Microsoft.StorSimple/managers/devices/backupPolicies/schedules/read
                    origin: user
                  - display:
                      description: Deletes an existing Schedules
                      operation: Deletes Schedules
                      provider: Microsoft StorSimple Device Manager
                      resource: Schedules
                    name: Microsoft.StorSimple/managers/devices/backupPolicies/schedules/delete
                    origin: user
                  - display:
                      description: Creates a new or updates Backup Polices (8000 Series Only)
                      operation: Creates or Updates Backup Polices (8000 Series Only)
                      provider: Microsoft StorSimple Device Manager
                      resource: Backup Polices (8000 Series Only) (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/backupPolicies/write
                    origin: user
                  - display:
                      description: List the Backup Polices (8000 Series Only)
                      operation: List Backup Polices (8000 Series Only)
                      provider: Microsoft StorSimple Device Manager
                      resource: Backup Polices (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/backupPolicies/read
                    origin: user
                  - display:
                      description: Deletes an existing Backup Polices (8000 Series Only)
                      operation: Deletes Backup Polices (8000 Series Only)
                      provider: Microsoft StorSimple Device Manager
                      resource: Backup Polices (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/backupPolicies/delete
                    origin: user
                  - display:
                      description: Take a manual backup to create an on-demand backup of all the volumes protected by the policy.
                      operation: Take Backup
                      provider: Microsoft StorSimple Device Manager
                      resource: Backup Polices (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/backupPolicies/backup/action
                    origin: user
                  - display:
                      description: Import source configurations for migration
                      operation: Import Source Configurations
                      provider: Microsoft StorSimple Device Manager
                      resource: Migration Source Configurations (8000 Series Only) (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/migrationSourceConfigurations/import/action
                    origin: user
                  - display:
                      description: Start a job to estimate the duration of the migration process.
                      operation: Start Migration Estimate
                      provider: Microsoft StorSimple Device Manager
                      resource: Migration Source Configurations (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/migrationSourceConfigurations/startMigrationEstimate/action
                    origin: user
                  - display:
                      description: Start migration using source configurations
                      operation: Start Migration
                      provider: Microsoft StorSimple Device Manager
                      resource: Migration Source Configurations (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/migrationSourceConfigurations/startMigration/action
                    origin: user
                  - display:
                      description: Confirms a successful migration and commit it.
                      operation: Confirm Migration
                      provider: Microsoft StorSimple Device Manager
                      resource: Migration Source Configurations (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/migrationSourceConfigurations/confirmMigration/action
                    origin: user
                  - display:
                      description: Fetch the status for the migration estimation job.
                      operation: Fetch Migration Estimate
                      provider: Microsoft StorSimple Device Manager
                      resource: Migration Source Configurations (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/migrationSourceConfigurations/fetchMigrationEstimate/action
                    origin: user
                  - display:
                      description: Fetch the status for the migration.
                      operation: Fetch Migration Status
                      provider: Microsoft StorSimple Device Manager
                      resource: Migration Source Configurations (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/migrationSourceConfigurations/fetchMigrationStatus/action
                    origin: user
                  - display:
                      description: Fetch the confirm status of migration.
                      operation: Fetch Migration Confirm Status
                      provider: Microsoft StorSimple Device Manager
                      resource: Migration Source Configurations (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/migrationSourceConfigurations/fetchConfirmMigrationStatus/action
                    origin: user
                  - display:
                      description: Create a new cloud appliance.
                      operation: Create Cloud Appliance (8000 Series Only)
                      provider: Microsoft StorSimple Device Manager
                      resource: Device Managers
                    name: Microsoft.StorSimple/managers/provisionCloudAppliance/action
                    origin: user
                  - display:
                      description: List the Cloud Appliance Supported Configurations
                      operation: List Cloud Appliance Supported Configurations
                      provider: Microsoft StorSimple Device Manager
                      resource: Cloud Appliance Supported Configurations (8000 Series Only)
                    name: Microsoft.StorSimple/managers/cloudApplianceConfigurations/read
                    origin: user
                  - display:
                      description: Create Vault operation creates an Azure resource of type 'vault'
                      operation: Create Vault
                      provider: Microsoft.StorSimple
                      resource: Managers
                    name: Microsoft.StorSimple/Managers/write
                    origin: user
                  - display:
                      description: The Get Vault operation gets an object representing the Azure resource of type 'vault'
                      operation: Get Vault
                      provider: Microsoft.StorSimple
                      resource: Managers
                    name: Microsoft.StorSimple/Managers/read
                    origin: user
                  - display:
                      description: The Delete Vault operation deletes the specified Azure resource of type 'vault'
                      operation: Delete Vault
                      provider: Microsoft.StorSimple
                      resource: Managers
                    name: Microsoft.StorSimple/Managers/delete
                    origin: user
                  - display:
                      description: The Get Extended Info operation gets an object's Extended Info representing the Azure resource of type ?vault?
                      operation: Get Extended Info
                      provider: Microsoft.StorSimple
                      resource: Managers
                    name: Microsoft.StorSimple/Managers/extendedInformation/read
                    origin: user
                  - display:
                      description: The Get Extended Info operation gets an object's Extended Info representing the Azure resource of type ?vault?
                      operation: Get Extended Info
                      provider: Microsoft.StorSimple
                      resource: Managers
                    name: Microsoft.StorSimple/Managers/extendedInformation/write
                    origin: user
                  - display:
                      description: The Get Extended Info operation gets an object's Extended Info representing the Azure resource of type ?vault?
                      operation: Get Extended Info
                      provider: Microsoft.StorSimple
                      resource: Managers
                    name: Microsoft.StorSimple/Managers/extendedInformation/delete
                    origin: user
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.StorSimple/managers":
    get:
      deprecated: false
      description: Retrieves all the managers in a subscription.
      operationId: Managers_List
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The collection of StorSimple managers.
          schema:
            $ref: "#/definitions/ManagerList"
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          schema:
            $ref: "#/definitions/Error"
      tags:
        - Managers
      x-ms-examples:
        ManagersList:
          parameters:
            User-Agent:
              - FxVersion/4.6.25211.01
              - Microsoft.Azure.Management.StorSimple1200Series.StorSimple1200SeriesManagementClient/1.0.0.0
            accept-language:
              - en-US
            api-version: 2016-10-01
            subscriptionId: 9eb689cd-7243-43b4-b6f6-5c65cb296641
            x-ms-client-request-id:
              - ea3afbb3-956b-46b3-8d55-8825e93e11ce
          responses:
            "200":
              body:
                value:
                  - etag: W/"datetime'2017-03-22T09%3A58%3A03.0020106Z'"
                    id: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/GroupForArmAutomation/providers/Microsoft.StorSimple/Managers/AuTo1117160133591
                    location: westus
                    name: AuTo1117160133591
                    properties:
                      cisIntrinsicSettings:
                        type: HelsinkiV1
                      provisioningState: Succeeded
                      sku:
                        name: Standard
                    type: Microsoft.StorSimple/Managers
                  - etag: W/"datetime'2018-02-27T12%3A56%3A02.0580397Z'"
                    id: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/GroupForArmAutomation/providers/Microsoft.StorSimple/Managers/GAuTosumanths-pc10227181824221
                    location: westus
                    name: GAuTosumanths-pc10227181824221
                    properties:
                      cisIntrinsicSettings:
                        type: GardaV1
                      provisioningState: Succeeded
                      sku:
                        name: Standard
                    type: Microsoft.StorSimple/Managers
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers":
    get:
      deprecated: false
      description: Retrieves all the managers in a resource group.
      operationId: Managers_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The collection of StorSimple managers.
          schema:
            $ref: "#/definitions/ManagerList"
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          schema:
            $ref: "#/definitions/Error"
      tags:
        - Managers
      x-ms-examples:
        ManagersListByResourceGroup:
          parameters:
            api-version: 2016-10-01
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 9eb689cd-7243-43b4-b6f6-5c65cb296641
          responses:
            "200":
              body:
                value:
                  - etag: W/"datetime'2018-08-12T15%3A10%3A35.3685957Z'"
                    id: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/Managers/hManagerForSDKTest
                    location: westus
                    name: hManagerForSDKTest
                    properties:
                      cisIntrinsicSettings:
                        type: HelsinkiV1
                      provisioningState: Succeeded
                      sku:
                        name: Standard
                    tags:
                      TagName: Demo manager for SDK test
                    type: Microsoft.StorSimple/Managers
                  - etag: W/"datetime'2018-08-07T16%3A06%3A24.4590789Z'"
                    id: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/Managers/hAzureSDKOperations
                    location: southeastasia
                    name: hAzureSDKOperations
                    properties:
                      cisIntrinsicSettings:
                        type: HelsinkiV1
                      provisioningState: Succeeded
                      sku:
                        name: Standard
                    type: Microsoft.StorSimple/Managers
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}":
    delete:
      deprecated: false
      description: Deletes the manager.
      operationId: Managers_Delete
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/managerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The StorSimple manager has been successfully deleted
        "204":
          description: The StorSimple manager is already in a deleted state
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          schema:
            $ref: "#/definitions/Error"
      tags:
        - Managers
      x-ms-examples:
        ManagersDelete:
          parameters:
            api-version: 2017-06-01
            managerName: ManagerForSDKTest2
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200": {}
            "204": {}
    get:
      deprecated: false
      description: Returns the properties of the specified manager name.
      operationId: Managers_Get
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/managerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The StorSimple manager.
          schema:
            $ref: "#/definitions/Manager"
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          schema:
            $ref: "#/definitions/Error"
      tags:
        - Managers
      x-ms-examples:
        ManagersGet:
          parameters:
            User-Agent:
              - FxVersion/4.6.25211.01
              - Microsoft.Azure.Management.StorSimple1200Series.StorSimple1200SeriesManagementClient/1.0.0.0
            accept-language:
              - en-US
            api-version: 2016-10-01
            managerName: hManagerForSDKTest
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 9eb689cd-7243-43b4-b6f6-5c65cb296641
            x-ms-client-request-id:
              - 639c24b9-95ee-4c74-a290-7f84682de40c
          responses:
            "200":
              body:
                etag: W/"datetime'2018-08-12T15%3A10%3A31.6040125Z'"
                id: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/Managers/hManagerForSDKTest
                location: westus
                name: hManagerForSDKTest
                properties:
                  cisIntrinsicSettings:
                    type: HelsinkiV1
                  provisioningState: Succeeded
                  sku:
                    name: Standard
                tags:
                  TagName: Demo manager for SDK test
                type: Microsoft.StorSimple/Managers
    patch:
      deprecated: false
      description: Updates the StorSimple Manager.
      operationId: Managers_Update
      parameters:
        - description: The manager update parameters.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ManagerPatch"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/managerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The StorSimple manager has been successfully updated
          schema:
            $ref: "#/definitions/Manager"
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          schema:
            $ref: "#/definitions/Error"
      tags:
        - Managers
      x-ms-examples:
        ManagersUpdate:
          parameters:
            api-version: 2017-06-01
            managerName: ManagerForSDKTest2
            parameters:
              tags:
                TagName: ForSDKTest
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                etag: W/"datetime'2017-06-18T16%3A13%3A43.8476579Z'"
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/Managers/ManagerForSDKTest2
                location: westus
                name: ManagerForSDKTest2
                properties:
                  cisIntrinsicSettings:
                    type: HelsinkiV1
                  provisioningState: Succeeded
                  sku:
                    name: Standard
                tags:
                  TagName: ForSDKTest
                type: Microsoft.StorSimple/Managers
    put:
      deprecated: false
      description: Creates or updates the manager.
      operationId: Managers_CreateOrUpdate
      parameters:
        - description: The manager.
          in: body
          name: Manager
          required: true
          schema:
            $ref: "#/definitions/Manager"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/managerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The StorSimple manager has been successfully updated
          schema:
            $ref: "#/definitions/Manager"
        "201":
          description: The StorSimple manager has been successfully created
          schema:
            $ref: "#/definitions/Manager"
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          schema:
            $ref: "#/definitions/Error"
      tags:
        - Managers
      x-ms-examples:
        ManagersCreateOrUpdate:
          parameters:
            Content-Length:
              - "200"
            Content-Type:
              - application/json; charset=utf-8
            Manager:
              location: westus
              name: hManagerForSDKTest
              properties:
                cisIntrinsicSettings:
                  type: HelsinkiV1
                sku:
                  name: Standard
            User-Agent:
              - FxVersion/4.6.25211.01
              - Microsoft.Azure.Management.StorSimple1200Series.StorSimple1200SeriesManagementClient/1.0.0.0
            accept-language:
              - en-US
            api-version: 2016-10-01
            managerName: hManagerForSDKTest
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 9eb689cd-7243-43b4-b6f6-5c65cb296641
            x-ms-client-request-id:
              - 55145dc4-3eec-45fb-9b6c-b58db4eae781
          responses:
            "200":
              body:
                etag: W/"datetime'2018-08-12T15%3A10%3A31.6040125Z'"
                id: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/Managers/hManagerForSDKTest
                location: westus
                name: hManagerForSDKTest
                properties:
                  cisIntrinsicSettings:
                    type: HelsinkiV1
                  provisioningState: Succeeded
                  sku:
                    name: Standard
                tags:
                  TagName: Demo manager for SDK test
                type: Microsoft.StorSimple/Managers
            "201":
              body:
                etag: W/"datetime'2018-08-12T15%3A10%3A31.6040125Z'"
                id: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/Managers/hManagerForSDKTest
                location: westus
                name: hManagerForSDKTest
                properties:
                  cisIntrinsicSettings:
                    type: HelsinkiV1
                  provisioningState: Succeeded
                  sku:
                    name: Standard
                tags:
                  TagName: Demo manager for SDK test
                type: Microsoft.StorSimple/Managers
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/accessControlRecords":
    get:
      deprecated: false
      description: Retrieves all the access control records in a manager.
      operationId: AccessControlRecords_ListByManager
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/managerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The collection of access control records.
          schema:
            $ref: "#/definitions/AccessControlRecordList"
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          schema:
            $ref: "#/definitions/Error"
      tags:
        - AccessControlRecords
      x-ms-examples:
        AccessControlRecordsListByManager:
          parameters:
            User-Agent:
              - FxVersion/4.6.25211.01
              - Microsoft.Azure.Management.StorSimple1200Series.StorSimple1200SeriesManagementClient/1.0.0.0
            accept-language:
              - en-US
            api-version: 2016-10-01
            managerName: hAzureSDKOperations
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 9eb689cd-7243-43b4-b6f6-5c65cb296641
            x-ms-client-request-id:
              - c8b9a072-76f6-4383-8350-db4431deb921
          responses:
            "200":
              body:
                value: []
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/accessControlRecords/{accessControlRecordName}":
    delete:
      deprecated: false
      description: Deletes the access control record.
      operationId: AccessControlRecords_Delete
      parameters:
        - description: The name of the access control record to delete.
          in: path
          name: accessControlRecordName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/managerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "202":
          description: Accepted the request to delete the access control record.
        "204":
          description: Successfully deleted the access control record.
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          schema:
            $ref: "#/definitions/Error"
      tags:
        - AccessControlRecords
      x-ms-examples:
        AccessControlRecordsDelete:
          parameters:
            User-Agent:
              - FxVersion/4.6.25211.01
              - Microsoft.Azure.Management.StorSimple1200Series.StorSimple1200SeriesManagementClient/1.0.0.0
            accept-language:
              - en-US
            accessControlRecordName: AcrForSDKTest
            api-version: 2016-10-01
            managerName: hAzureSDKOperations
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 9eb689cd-7243-43b4-b6f6-5c65cb296641
            x-ms-client-request-id:
              - ed092570-e074-40cf-b211-9295c285be86
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      deprecated: false
      description: Returns the properties of the specified access control record name.
      operationId: AccessControlRecords_Get
      parameters:
        - description: Name of access control record to be fetched.
          in: path
          name: accessControlRecordName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/managerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The access control record.
          schema:
            $ref: "#/definitions/AccessControlRecord"
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          schema:
            $ref: "#/definitions/Error"
      tags:
        - AccessControlRecords
      x-ms-examples:
        AccessControlRecordsGet:
          parameters:
            User-Agent:
              - FxVersion/4.6.25211.01
              - Microsoft.Azure.Management.StorSimple1200Series.StorSimple1200SeriesManagementClient/1.0.0.0
            accessControlRecordName: AcrForSDKTest
            api-version: 2016-10-01
            managerName: hAzureSDKOperations
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 9eb689cd-7243-43b4-b6f6-5c65cb296641
          responses:
            "200":
              body:
                id: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/accessControlRecords/AcrForSDKTest
                name: AcrForSDKTest
                properties:
                  initiatorName: iqn.2017-06.com.contoso:ForTest
                type: Microsoft.StorSimple/managers/accessControlRecords
    put:
      deprecated: false
      description: Creates or Updates an access control record.
      operationId: AccessControlRecords_CreateOrUpdate
      parameters:
        - description: The name of the access control record.
          in: path
          name: accessControlRecordName
          required: true
          type: string
        - description: The access control record to be added or updated.
          in: body
          name: accessControlRecord
          required: true
          schema:
            $ref: "#/definitions/AccessControlRecord"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/managerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: Successfully created or updated the access control record.
          schema:
            $ref: "#/definitions/AccessControlRecord"
        "202":
          description: Accepted the request to create or update the access control record.
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          schema:
            $ref: "#/definitions/Error"
      tags:
        - AccessControlRecords
      x-ms-examples:
        AccessControlRecordsCreateOrUpdate:
          parameters:
            Content-Length:
              - "451"
            Content-Type:
              - application/json; charset=utf-8
            User-Agent:
              - FxVersion/4.6.25211.01
              - Microsoft.Azure.Management.StorSimple1200Series.StorSimple1200SeriesManagementClient/1.0.0.0
            accept-language:
              - en-US
            accessControlRecord:
              Client:
                AcceptLanguage: en-US
                BaseUri: https://management.azure.com/
                GenerateClientRequestId: true
                LongRunningOperationRetryTimeout: 30
                SubscriptionId: 9eb689cd-7243-43b4-b6f6-5c65cb296641
              ManagerName: hAzureSDKOperations
              ResourceGroupName: ResourceGroupForSDKTest
              name: AcrForSDKTest
              properties:
                initiatorName: iqn.2017-06.com.contoso:ForTest
            accessControlRecordName: AcrForSDKTest
            api-version: 2016-10-01
            managerName: hAzureSDKOperations
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 9eb689cd-7243-43b4-b6f6-5c65cb296641
            x-ms-client-request-id:
              - 173bc617-d378-4534-8bfa-ceea66ba74c2
          responses:
            "200":
              body:
                id: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/accessControlRecords/AcrForSDKTest
                name: AcrForSDKTest
                properties:
                  initiatorName: iqn.2017-06.com.contoso:ForTest
                type: Microsoft.StorSimple/managers/accessControlRecords
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/alerts":
    get:
      deprecated: false
      description: Retrieves all the alerts in a manager.
      operationId: Alerts_ListByManager
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/managerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: OData Filter options
          in: query
          name: $filter
          required: false
          type: string
      responses:
        "200":
          description: The collection of alerts.
          schema:
            $ref: "#/definitions/AlertList"
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          schema:
            $ref: "#/definitions/Error"
      tags:
        - Alerts
      x-ms-examples:
        AlertsListByManager:
          parameters:
            $filter: status%20eq%20'Active'%20and%20severity%20eq%20'Critical'
            $top: 1
            User-Agent:
              - FxVersion/4.6.26328.01
              - Microsoft.Azure.Management.StorSimple1200Series.StorSimple1200SeriesManagementClient/0.0.0.0
            accept-language:
              - en-US
            api-version: 2016-10-01
            managerName: hManagerForSDKTest4
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 9eb689cd-7243-43b4-b6f6-5c65cb296641
            x-ms-client-request-id:
              - 588d01aa-3cf7-47c5-afcc-cca2d7cf838e
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hManagerForSDKTest4/devices/is2-hlmdhdgu1et/alerts/a1f3a945-74dc-4387-bf17-a4f226374833
                    name: a1f3a945-74dc-4387-bf17-a4f226374833
                    properties:
                      alertType: Cloud Connectivity
                      appearedAtSourceTime: 2018-08-02T04:08:12.9140342Z
                      appearedAtTime: 2018-08-02T04:08:12.9140342Z
                      clearedAtSourceTime: 0001-01-01T00:00:00Z
                      clearedAtTime: 0001-01-01T00:00:00Z
                      detailedInformation:
                        first observed: 1/1/0001 12:00:00 AM (UTC)
                        last observed: 8/2/2018 4:08:12 AM (UTC)
                        occurrences: "2"
                      errorDetails:
                        errorCode: ""
                        errorMessage: ""
                        occurences: 2
                      recommendation: "The StorSimple Device Manager service has not received a heartbeat from the virtual array. The virtual array may be offline. This could be due to one of the following reasons. <br/>\r

                        \t1. The virtual array may be turned off or paused on the hypervisor. In Hyper-V, your virtual array will be paused automatically when the volume that stores snapshots or virtual hard disks, runs out of available storage. The state of the virtual array is listed as <i>\"paused-critical\"</i> in Hyper-V Manager. Resolve this by creating additional space on the volume. If you still cannot connect, check the Hyper-V host or ESX server to ensure that the VM is healthy.<br/><br/>\r

                        \t2. The virtual array is not able to communicate with the StorSimple Device Manager service. In the local web UI of the virtual array, go to <b>Troubleshooting > Diagnostic tests</b> and click <b>Run diagnostic tests</b>. Resolve the reported issues. <br/> <br/>\r

                        \  If the issue persists, contact your network administrator."
                      resolutionReason: ""
                      scope: Device
                      severity: Critical
                      source:
                        alertSourceType: Device
                        name: is2-hlmdhdgu1et
                        timeZone: UTC
                      status: Active
                      title: No device heartbeat received for 5 minutes.
                    type: Microsoft.StorSimple/managers/devices/alerts
      x-ms-odata: "#/definitions/AlertFilter"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/backups":
    get:
      deprecated: false
      description: Retrieves all the backups in a manager.
      operationId: Backups_ListByManager
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/managerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: OData Filter options
          in: query
          name: $filter
          required: false
          type: string
      responses:
        "200":
          description: The collection of backups.
          schema:
            $ref: "#/definitions/BackupList"
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          schema:
            $ref: "#/definitions/Error"
      tags:
        - Backups
      x-ms-examples:
        BackupsListByManager:
          parameters:
            $filter: createdTime%20ge%20'2018-08-10T17:30:03Z'%20and%20createdTime%20le%20'2018-08-14T17:30:03Z'%20and%20initiatedBy%20eq%20'Manual'
            User-Agent:
              - FxVersion/4.6.25211.01
              - Microsoft.Azure.Management.StorSimple1200Series.StorSimple1200SeriesManagementClient/1.0.0.0
            accept-language:
              - en-US
            api-version: 2016-10-01
            managerName: hAzureSDKOperations
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 9eb689cd-7243-43b4-b6f6-5c65cb296641
            x-ms-client-request-id:
              - 7aa15ab5-99f1-4281-8b64-61002b85096d
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-UGU4PITWNI/backups/315c3461-96ad-41bf-af0b-3a8be5113203
                    name: 315c3461-96ad-41bf-af0b-3a8be5113203
                    properties:
                      createdTime: 2018-08-11T14:34:52.4149035Z
                      deviceId: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-UGU4PITWNI
                      elements:
                        - id: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-UGU4PITWNI/backups/315c3461-96ad-41bf-af0b-3a8be5113203/elements/f3fa955c-e20e-46fd-a71e-c0f0491db14b
                          name: f3fa955c-e20e-46fd-a71e-c0f0491db14b
                          properties:
                            dataPolicy: Tiered
                            endpointName: Auto-TestIscsiDisk2
                            sizeInBytes: 536870912000
                          type: Microsoft.StorSimple/managers/devices/backups/elements
                        - id: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-UGU4PITWNI/backups/315c3461-96ad-41bf-af0b-3a8be5113203/elements/9ba7098e-0fc8-43de-b39b-a4228dd3bbde
                          name: 9ba7098e-0fc8-43de-b39b-a4228dd3bbde
                          properties:
                            dataPolicy: Tiered
                            endpointName: Auto-TestIscsiDisk1
                            sizeInBytes: 536870912000
                          type: Microsoft.StorSimple/managers/devices/backups/elements
                      expirationTime: 9999-12-31T23:59:59.9999999Z
                      initiatedBy: Manual
                      sizeInBytes: 1073741824000
                      targetId: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-UGU4PITWNI/iscsiServers/HSDK-UGU4PITWNI
                      targetType: Microsoft.StorSimple/managers/devices/iscsiServers
                    type: Microsoft.StorSimple/managers/devices/backups
                  - id: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-UGU4PITWNI/backups/cce3a13c-b37e-4db1-bb78-444cc85be33d
                    name: cce3a13c-b37e-4db1-bb78-444cc85be33d
                    properties:
                      createdTime: 2018-08-12T14:02:13.0677276Z
                      deviceId: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-UGU4PITWNI
                      elements:
                        - id: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-UGU4PITWNI/backups/cce3a13c-b37e-4db1-bb78-444cc85be33d/elements/bebfaa5b-b02f-4f14-bf3f-83a0abdff090
                          name: bebfaa5b-b02f-4f14-bf3f-83a0abdff090
                          properties:
                            dataPolicy: Tiered
                            endpointName: ClonedTieredIscsiDiskForSDKTest
                            sizeInBytes: 536870912000
                          type: Microsoft.StorSimple/managers/devices/backups/elements
                        - id: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-UGU4PITWNI/backups/cce3a13c-b37e-4db1-bb78-444cc85be33d/elements/8e065d31-0571-43cc-a134-4855603bc222
                          name: 8e065d31-0571-43cc-a134-4855603bc222
                          properties:
                            dataPolicy: Tiered
                            endpointName: Auto-TestIscsiDisk2
                            sizeInBytes: 536870912000
                          type: Microsoft.StorSimple/managers/devices/backups/elements
                        - id: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-UGU4PITWNI/backups/cce3a13c-b37e-4db1-bb78-444cc85be33d/elements/e4a4b2c8-0252-488c-8909-f7bc67474b62
                          name: e4a4b2c8-0252-488c-8909-f7bc67474b62
                          properties:
                            dataPolicy: Tiered
                            endpointName: Auto-TestIscsiDisk1
                            sizeInBytes: 536870912000
                          type: Microsoft.StorSimple/managers/devices/backups/elements
                      expirationTime: 9999-12-31T23:59:59.9999999Z
                      initiatedBy: Manual
                      sizeInBytes: 1610612736000
                      targetId: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-UGU4PITWNI/iscsiServers/HSDK-UGU4PITWNI
                      targetType: Microsoft.StorSimple/managers/devices/iscsiServers
                    type: Microsoft.StorSimple/managers/devices/backups
                  - id: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-DMNJB2PET0/backups/899222aa-1340-4090-a8b1-7436e2b859d3
                    name: 899222aa-1340-4090-a8b1-7436e2b859d3
                    properties:
                      createdTime: 2018-08-12T14:34:24.3980414Z
                      deviceId: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-DMNJB2PET0
                      elements:
                        - id: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-DMNJB2PET0/backups/899222aa-1340-4090-a8b1-7436e2b859d3/elements/ac877a33-cce2-4107-a3f5-b00e0af43bd8
                          name: ac877a33-cce2-4107-a3f5-b00e0af43bd8
                          properties:
                            dataPolicy: Local
                            endpointName: Auto-TestFileShare2
                            sizeInBytes: 536870912000
                          type: Microsoft.StorSimple/managers/devices/backups/elements
                        - id: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-DMNJB2PET0/backups/899222aa-1340-4090-a8b1-7436e2b859d3/elements/6c5afd0b-5b1f-47c5-a37e-eab0812cfdf3
                          name: 6c5afd0b-5b1f-47c5-a37e-eab0812cfdf3
                          properties:
                            dataPolicy: Tiered
                            endpointName: ClonedTieredFileShareForSDKTest
                            sizeInBytes: 536870912000
                          type: Microsoft.StorSimple/managers/devices/backups/elements
                        - id: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-DMNJB2PET0/backups/899222aa-1340-4090-a8b1-7436e2b859d3/elements/6565f0f0-97d2-427f-8e44-fc43c4558234
                          name: 6565f0f0-97d2-427f-8e44-fc43c4558234
                          properties:
                            dataPolicy: Tiered
                            endpointName: Auto-TestFileShare1
                            sizeInBytes: 536870912000
                          type: Microsoft.StorSimple/managers/devices/backups/elements
                      expirationTime: 9999-12-31T23:59:59.9999999Z
                      initiatedBy: Manual
                      sizeInBytes: 1610612736000
                      targetId: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-DMNJB2PET0/fileServers/HSDK-DMNJB2PET0
                      targetType: Microsoft.StorSimple/managers/devices/fileServers
                    type: Microsoft.StorSimple/managers/devices/backups
                  - id: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-DMNJB2PET0/backups/a4ec37c8-7e5e-4483-88ec-9b37fdd686ff
                    name: a4ec37c8-7e5e-4483-88ec-9b37fdd686ff
                    properties:
                      createdTime: 2018-08-12T13:40:04.5908358Z
                      deviceId: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-DMNJB2PET0
                      elements:
                        - id: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-DMNJB2PET0/backups/a4ec37c8-7e5e-4483-88ec-9b37fdd686ff/elements/14e4f48f-e3fe-40cd-a3f4-5b226da83278
                          name: 14e4f48f-e3fe-40cd-a3f4-5b226da83278
                          properties:
                            dataPolicy: Local
                            endpointName: Auto-TestFileShare2
                            sizeInBytes: 536870912000
                          type: Microsoft.StorSimple/managers/devices/backups/elements
                        - id: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-DMNJB2PET0/backups/a4ec37c8-7e5e-4483-88ec-9b37fdd686ff/elements/bb6ec523-f18c-4123-8e44-ce1e83db1ab1
                          name: bb6ec523-f18c-4123-8e44-ce1e83db1ab1
                          properties:
                            dataPolicy: Tiered
                            endpointName: ClonedTieredFileShareForSDKTest
                            sizeInBytes: 536870912000
                          type: Microsoft.StorSimple/managers/devices/backups/elements
                        - id: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-DMNJB2PET0/backups/a4ec37c8-7e5e-4483-88ec-9b37fdd686ff/elements/dea75831-c6bf-4ae9-9f6f-3b6eae680db5
                          name: dea75831-c6bf-4ae9-9f6f-3b6eae680db5
                          properties:
                            dataPolicy: Tiered
                            endpointName: Auto-TestFileShare1
                            sizeInBytes: 536870912000
                          type: Microsoft.StorSimple/managers/devices/backups/elements
                      expirationTime: 9999-12-31T23:59:59.9999999Z
                      initiatedBy: Manual
                      sizeInBytes: 1610612736000
                      targetId: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/hAzureSDKOperations/devices/HSDK-DMNJB2PET0/fileServers/HSDK-DMNJB2PET0
                      targetType: Microsoft.StorSimple/managers/devices/fileServers
                    type: Microsoft.StorSimple/managers/devices/backups
      x-ms-odata: "#/definitions/BackupFilter"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/certificates/{certificateName}":
    put:
      deprecated: false
      description: "Upload Vault Cred Certificate.\r

        Returns UploadCertificateResponse"
      operationId: Managers_UploadRegistrationCertificate
      parameters:
        - description: Certificate Name
          in: path
          name: certificateName
          required: true
          type: string
        - description: UploadCertificateRequest Request
          in: body
          name: uploadCertificateRequestrequest
          required: true
          schema:
            $ref: "#/definitions/UploadCertificateRequest"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/managerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: Upload Vault Certificate
          schema:
            $ref: "#/definitions/UploadCertificateResponse"
        default:
          description: Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.
          schema:
            $ref: "#/definitions/Error"
      tags:
        - Managers
      x-ms-examples:
        ManagersUploadRegistrationCertificate:
          parameters:
            api-version: 2016-10-01
            certificateName: windows
            managerName: ManagerForSDKTest2
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
            uploadCertificateRequestrequest:
              contractVersion: V2012_12
              properties:
                authType: AzureActiveDirectory
                certificate: MIIC3TCCAcWgAwIBAgIQEr0bAWD6wJtA4LIbZ9NtgzANBgkqhkiG9w0BAQUFADAeMRwwGgYDVQQDExNXaW5kb3dzIEF6dXJlIFRvb2xzMB4XDTE4MDkxMDE1MzY0MFoXDTE4MDkxMzE1NDY0MFowHjEcMBoGA1UEAxMTV2luZG93cyBBenVyZSBUb29sczCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANUsKkz2Z4fECKMyNeLb9v3pr1XF4dVe+MITDtgphjl81ng190Y0IHgCVnh4YjfplUSpMk/1xii0rI5AAPwoz3ze2qRPtnwCiTaoVLkUe6knNRPzrRvVXHB81J0/14MO0lwdByHhdccRcVJZPLt5724t4aQny82v2AayJdDDkBBWNlpcqPy6n3sygP00THMPP0O3sFqy924eHqoDj3qSw79/meaZBJt9S5odPuFoskxjHuI4lM6BmK1Ql7p8Wo9/GhTOIoMz81orKPHRDleLjutwL4mb6NnhI5rfT/MxnHD6m82c4YYqiZC3XiTyJWVCkWkp7PK92OdRp6FA87rdKDMCAwEAAaMXMBUwEwYDVR0lBAwwCgYIKwYBBQUHAwIwDQYJKoZIhvcNAQEFBQADggEBAIYlezVU68TuEblkn06vM5dfzSmHKJOQgW61nDlLnyKrmSJtzKZLCAswTE2VyJHwKNdZgW15coJFINjWBLWcLr0/GjNV4u3Z+UL3NhBFQd5xuMtKsIhuoscKtyk0JHQXpBvHNmOUCobfQfOBQfTVC7kmyWdtlGztFUVxD28s6S5gMb1FEWWN68NOOJ3/ZhaTbUEM54yw8Hk8/f0L/Zn/7BYHUyWWA3KStAaYn89C/ZFF+952ark2VaKGIjBRQzgrJEIR8dI4r46I3DoEfzGPESKvQPvVLhOX84RG0PLPOtnRbHBVew1Nh3HE9kgCubkPKK+NPWE9IHZPoRmOTWBe+zU=
          responses:
            "200":
              body:
                id: /subscriptions/9eb689cd-7243-43b4-b6f6-5c65cb296641/resourcegroups/cleanupservice/providers/Microsoft.StorSimple/managers/res-jem-hel/certificates/windows
                name: windows
                properties:
                  aadAuthority: https://login.windows.net
                  aadTenantId: 625ad78b-e6ce-49ed-b9cd-29f4aa12d77e
                  authType: AzureActiveDirectory
                  azureManagementEndpointAudience: https://pod01-id1.wus.backup.windowsazure.com/restapi/
                  certificate: MIIC3TCCAcWgAwIBAgIQEr0bAWD6wJtA4LIbZ9NtgzANBgkqhkiG9w0BAQUFADAeMRwwGgYDVQQDExNXaW5kb3dzIEF6dXJlIFRvb2xzMB4XDTE4MDkxMDE1MzY0MFoXDTE4MDkxMzE1NDY0MFowHjEcMBoGA1UEAxMTV2luZG93cyBBenVyZSBUb29sczCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANUsKkz2Z4fECKMyNeLb9v3pr1XF4dVe+MITDtgphjl81ng190Y0IHgCVnh4YjfplUSpMk/1xii0rI5AAPwoz3ze2qRPtnwCiTaoVLkUe6knNRPzrRvVXHB81J0/14MO0lwdByHhdccRcVJZPLt5724t4aQny82v2AayJdDDkBBWNlpcqPy6n3sygP00THMPP0O3sFqy924eHqoDj3qSw79/meaZBJt9S5odPuFoskxjHuI4lM6BmK1Ql7p8Wo9/GhTOIoMz81orKPHRDleLjutwL4mb6NnhI5rfT/MxnHD6m82c4YYqiZC3XiTyJWVCkWkp7PK92OdRp6FA87rdKDMCAwEAAaMXMBUwEwYDVR0lBAwwCgYIKwYBBQUHAwIwDQYJKoZIhvcNAQEFBQADggEBAIYlezVU68TuEblkn06vM5dfzSmHKJOQgW61nDlLnyKrmSJtzKZLCAswTE2VyJHwKNdZgW15coJFINjWBLWcLr0/GjNV4u3Z+UL3NhBFQd5xuMtKsIhuoscKtyk0JHQXpBvHNmOUCobfQfOBQfTVC7kmyWdtlGztFUVxD28s6S5gMb1FEWWN68NOOJ3/ZhaTbUEM54yw8Hk8/f0L/Zn/7BYHUyWWA3KStAaYn89C/ZFF+952ark2VaKGIjBRQzgrJEIR8dI4r46I3DoEfzGPESKvQPvVLhOX84RG0PLPOtnRbHBVew1Nh3HE9kgCubkPKK+NPWE9IHZPoRmOTWBe+zU=
                  friendlyName: ""
                  issuer: CN=Windows Azure Tools
                  resourceId: 5047111583862266000
                  servicePrincipalClientId: a65f2051-51a3-4fa0-965e-76195bc73f4d
[...]
