swagger: "2.0"
schemes:
  - http
  - https
host: channel4.com
basePath: /pmlsd
info:
  contact:
    email: developer@channel4.co.uk
    name: Open C4 Project
    url: http://developer.channel4.com/
  description: This is the place to come for all the technical details you need to power your applications with Channel 4's deep programmes data.
  license:
    name: Channel 4 API license
    url: http://developer.channel4.com/page/read/API_Terms_of_Use
  termsOfService: http://developer.channel4.com/page/read/API_Terms_of_Use
  title: Channel 4 API
  version: 1.0.0
  x-apiClientRegistration:
    url: http://developer.channel4.com/apps/register
  x-apisguru-categories:
    - media
  x-logo:
    backgroundColor: "#FFFFFF"
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_Channel4_profile_image
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Mermade/openC4/master/c4Api/swagger.json
      version: "2.0"
  x-providerName: channel4.com
externalDocs:
  description: Programmes API Guide
  url: http://developer.channel4.com/docs/read/ProgrammesAPIGuide
consumes:
  - application/xml
produces:
  - application/xml
securityDefinitions:
  apikey:
    in: query
    name: apikey
    type: apiKey
security:
  - apikey: []
parameters:
  brand-web-safe-title:
    description: Title of brand to which clips belong
    in: path
    name: brand-web-safe-title
    required: true
    type: string
  category:
    description: The name of the category for which you seek associated Channel 4 programmes. (For a full list of categories, please see http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx)
    in: path
    name: category
    required: true
    type: string
  channel:
    description: The name of the channel for which you seek associated Channel 4oD programmes
    enum:
      - c4
      - f4
      - e4
      - m4
      - 4m
      - 4s
    in: path
    name: channel
    required: true
    type: string
  collection_name:
    description: Web safe title for the collection.
    in: path
    name: collection_name
    required: true
    type: string
  dd:
    description: The date for which you wish to see programming information. Note the schedule days start from 6am and run until 6am on the next calendar day.
    in: path
    name: dd
    required: true
    type: string
  mm:
    description: The date for which you wish to see programming information. Note the schedule days start from 6am and run until 6am on the next calendar day.
    in: path
    name: mm
    required: true
    type: string
  pageno:
    description: Page number of results to return
    in: path
    name: pageno
    required: true
    type: integer
  platform:
    description: The platform to use for the query. Alias 'client'.
    enum:
      - c4
      - ps3
      - yv
      - ios
      - fm
      - p06
      - ctv
      - freesat
      - android
      - samsung
    in: query
    name: platform
    required: false
    type: string
  q:
    description: "The programme name to look for, minimum length: 2 chars.Looking for programme names with special chars might be URL encoded."
    in: query
    name: q
    required: true
    type: string
  q1:
    description: "The programme name to look for, minimum length: 2 chars.Looking for programme names with special chars might be URL encoded."
    in: path
    name: q
    required: true
    type: string
  series_number:
    description: Unique identifier of series to which clips belong
    in: path
    name: series_number
    required: true
    type: string
  start_letter:
    description: The letter of the alphabet for which you seek associated Channel 4 programmes
    in: path
    name: start_letter
    required: true
    type: string
  yyyy:
    description: The date for which you wish to see programming information. Note the schedule days start from 6am and run until 6am on the next calendar day.
    in: path
    name: yyyy
    required: true
    type: string
tags:
  - description: Channel 4 data feeds
    name: discoveryresources
  - description: Channel 4 metadata
    name: metadataresources
paths:
  "/4od/episode-list/date/{yyyy}/{mm}/{dd}.atom":
    get:
      description: |-
        Information of daily broadcast content available on 4oD, according to 
          broadcast date

          http://api.channel4.com/pmlsd/4od/episode-list/date/[yyyy]/[mm]/[dd].atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/4od/episode-list/date/2010/11/28.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: 4oD_Browse_by_Date_Feed
      parameters:
        - $ref: "#/parameters/platform"
        - description: The date for which you wish to see programming information
          in: path
          name: yyyy
          required: true
          type: string
        - description: The date for which you wish to see programming information
          in: path
          name: mm
          required: true
          type: string
        - description: The date for which you wish to see programming information
          in: path
          name: dd
          required: true
          type: string
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: 4oD Browse by Date Feed
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Browse_by_Date_Feed
  /4od/episode-list/popular.atom:
    get:
      description: |-
        Information of the most popular content available on 4oD, according to user 
          data driven.

          http://api.channel4.com/pmlsd/4od/episode-list/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/4od/episode-list/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: 4oD_Most_Popular_Episodes_Feed
      parameters:
        - $ref: "#/parameters/platform"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: 4oD Most Popular Episodes Feed
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Most_Popular_Episodes_Feed
  /4od/recently-added/videos.atom:
    get:
      description: |-
        A feed containing metadata about short-form content relating to 4oD Episodes 
          recently added to 4oD based on linear transmission. The entries for the 
          Clips Landing Feed contain references to each short-form asset. It will 
          return up to 20 entries.

          http://api.channel4.com/pmlsd/4od/recently-added/videos.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/4od/episode-list/videos.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: 4oD_Clips_Catch_Up_Feed
      parameters:
        - $ref: "#/parameters/platform"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: 4oD Clips Catch Up Feed
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Clips_Catch_Up_Feed
  /atoz.atom:
    get:
      description: |-
        Lists Channel 4 programmes alphabetically from A to Z, providing the same 
          functionality and information as is available in the A to Z section of the 
          Channel 4 Programmes page, http://www.channel4.com/programmes.

          http://api.channel4.com/pmlsd/atoz.atom

          http://api.channel4.com/pmlsd/atoz.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: A_to_Z_Landing_Feed
      parameters:
        - $ref: "#/parameters/platform"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: A to Z Landing Feed
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/DiscoveryResources/A_to_Z_Landing_Feed
  "/atoz/{start_letter}.atom":
    get:
      description: |-
        Lists Channel 4 programmes whose names begin with the associated letter.

          http://api.channel4.com/pmlsd/atoz/start_letter.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/atoz/a.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: A_to_Z_Letter_Feed
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/start_letter"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: A to Z Letter Feed
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/DiscoveryResources/A_to_Z_Letter_Feed
  "/atoz/{start_letter}/page-{pageno}.atom":
    get:
      description: |-
        Lists Channel 4 programmes whose names begin with the associated letter.

          http://api.channel4.com/pmlsd/atoz/start_letter/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/atoz/a.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: A_to_Z_Letter_Feed(2)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/start_letter"
        - $ref: "#/parameters/pageno"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: A to Z Letter Feed(2)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/DiscoveryResources/A_to_Z_Letter_Feed
  /brands/4od.atom:
    get:
      description: |-
        Lists all Channel 4 programmes available on 4oD.  By default, the programmes 
          are listed by title in alphabetical order (case unsensitive).

          http://api.channel4.com/pmlsd/brands/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/brands/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: 4oD_Title_All_Brands_Feed
      parameters:
        - $ref: "#/parameters/platform"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: 4oD Title All Brands Feed
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Title_All_Brands_Feed
  "/brands/4od/page-{pageno}.atom":
    get:
      description: |-
        Lists all Channel 4 programmes available on 4oD.  By default, the programmes 
          are listed by title in alphabetical order (case unsensitive).

          http://api.channel4.com/pmlsd/brands/4od/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/brands/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: 4oD_Title_All_Brands_Feed(2)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/pageno"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: 4oD Title All Brands Feed(2)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Title_All_Brands_Feed
  /brands/4od/popular.atom:
    get:
      description: |-
        Lists all Channel 4 programmes available on 4oD by popularity considering 
          the data gathered within the last 7 days.

          http://api.channel4.com/pmlsd/brands/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/brands/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: 4oD_Popular_All_Brands_Feed
      parameters:
        - $ref: "#/parameters/platform"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: 4oD Popular All Brands Feed
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Popular_All_Brands_Feed
  "/brands/4od/popular/page-{pageno}.atom":
    get:
      description: |-
        Lists all Channel 4 programmes available on 4oD by popularity considering 
          the data gathered within the last 7 days.

          http://api.channel4.com/pmlsd/brands/4od/popular/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/brands/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: 4oD_Popular_All_Brands_Feed(2)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/pageno"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: 4oD Popular All Brands Feed(2)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Popular_All_Brands_Feed
  /brands/popular.atom:
    get:
      description: |-
        Lists all Channel 4 programmes by popularity considering the data gathered 
          within the last 7 days.

          http://api.channel4.com/pmlsd/brands/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/brands/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Popular_Brands_Feed
      parameters:
        - $ref: "#/parameters/platform"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: Popular Brands Feed
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Popular_Brands_Feed
  "/brands/popular/page-{pageno}.atom":
    get:
      description: |-
        Lists all Channel 4 programmes by popularity considering the data gathered 
          within the last 7 days.

          http://api.channel4.com/pmlsd/brands/popular/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/brands/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Popular_Brands_Feed(2)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/pageno"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: Popular Brands Feed(2)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Popular_Brands_Feed
  /categories.atom:
    get:
      description: |-
        Lists Channel 4 programmes by category (/ tag).

          http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Categories_Landing_Feed
      parameters:
        - $ref: "#/parameters/platform"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: Categories Landing Feed
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Categories_Landing_Feed
  "/categories/{category}.atom":
    get:
      description: |-
        Lists all Channel 4 programmes associated with the specified category (tag).  
          By default, the programmes are listed in order of Transmission (TX) Date, 
          with the most-recently-transmitted programmes listed first.

          http://api.channel4.com/pmlsd/categories/category.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/animals.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: All_Programmes_by_TX_Date
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/category"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: All Programmes by TX Date
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_TX_Date
  "/categories/{category}/4od.atom":
    get:
      description: |-
        Lists all Channel 4oD programmes associated with the specified category 
          (tag).By default, the programmes are listed in order of Transmission (TX) 
          Date, with the most-recently-transmitted programmes listed first.

          http://api.channel4.com/pmlsd/categories/category/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/animals/4oD.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: 4oD_Programmes_by_TX_Date
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/category"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: 4oD Programmes by TX Date
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_TX_Date
  "/categories/{category}/4od/page-{pageno}.atom":
    get:
      description: |-
        Lists all Channel 4oD programmes associated with the specified category 
          (tag).By default, the programmes are listed in order of Transmission (TX) 
          Date, with the most-recently-transmitted programmes listed first.

          http://api.channel4.com/pmlsd/categories/category/4od/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/animals/4oD.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: 4oD_Programmes_by_TX_Date(4)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/category"
        - $ref: "#/parameters/pageno"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: 4oD Programmes by TX Date(4)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_TX_Date
  "/categories/{category}/4od/popular.atom":
    get:
      description: |-
        Lists all Channel 4oD most popular brands for the given category within the 
          last 7 days, in order of popularity.

          http://api.channel4.com/pmlsd/categories/category/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Most_Popular_Brands_Feed
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/category"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: Most Popular Brands Feed
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Most_Popular_Brands_Feed
  "/categories/{category}/4od/popular/page-{pageno}.atom":
    get:
      description: |-
        Lists all Channel 4oD most popular brands for the given category within the 
          last 7 days, in order of popularity.

          http://api.channel4.com/pmlsd/categories/category/4od/popular/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Most_Popular_Brands_Feed(5)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/category"
        - $ref: "#/parameters/pageno"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: Most Popular Brands Feed(5)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Most_Popular_Brands_Feed
  "/categories/{category}/4od/title.atom":
    get:
      description: |-
        Lists all Channel 4oD programmes associated with the specified category 
          (tag), alphanumerically in order of Title.

          http://api.channel4.com/pmlsd/categories/category/4od/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/religion-and-belief/4oD/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: 4oD_Programmes_by_Title
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/category"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: 4oD Programmes by Title
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_Title
  "/categories/{category}/4od/title/page-{pageno}.atom":
    get:
      description: |-
        Lists all Channel 4oD programmes associated with the specified category 
          (tag), alphanumerically in order of Title.

          http://api.channel4.com/pmlsd/categories/category/4od/title/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/religion-and-belief/4oD/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: 4oD_Programmes_by_Title(4)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/category"
        - $ref: "#/parameters/pageno"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: 4oD Programmes by Title(4)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_Title
  "/categories/{category}/channel/{channel}.atom":
    get:
      description: |-
        Lists all Channel 4 programmes associated with the specified category (tag).  
          By default, the programmes are listed in order of Transmission (TX) Date, 
          with the most-recently-transmitted programmes listed first.

          http://api.channel4.com/pmlsd/categories/category/channel/[channel].atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/animals.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: All_Programmes_by_TX_Date(2)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/category"
        - $ref: "#/parameters/channel"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: All Programmes by TX Date(2)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_TX_Date
  "/categories/{category}/channel/{channel}/4od.atom":
    get:
      description: |-
        Lists all Channel 4oD programmes associated with the specified category 
          (tag).By default, the programmes are listed in order of Transmission (TX) 
          Date, with the most-recently-transmitted programmes listed first.

          http://api.channel4.com/pmlsd/categories/category/channel/[channel]/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/animals/4oD.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: 4oD_Programmes_by_TX_Date(2)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/category"
        - $ref: "#/parameters/channel"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: 4oD Programmes by TX Date(2)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_TX_Date
  "/categories/{category}/channel/{channel}/4od/page-{pageno}.atom":
    get:
      description: |-
        Lists all Channel 4oD programmes associated with the specified category 
          (tag).By default, the programmes are listed in order of Transmission (TX) 
          Date, with the most-recently-transmitted programmes listed first.

          http://api.channel4.com/pmlsd/categories/category/channel/[channel]/4od/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/animals/4oD.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: 4oD_Programmes_by_TX_Date(5)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/category"
        - $ref: "#/parameters/channel"
        - $ref: "#/parameters/pageno"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: 4oD Programmes by TX Date(5)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_TX_Date
  "/categories/{category}/channel/{channel}/4od/popular.atom":
    get:
      description: |-
        Lists all Channel 4oD most popular brands for the given category within the 
          last 7 days, in order of popularity.

          http://api.channel4.com/pmlsd/categories/category/channel/[channel]/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Most_Popular_Brands_Feed(3)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/category"
        - $ref: "#/parameters/channel"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: Most Popular Brands Feed(3)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Most_Popular_Brands_Feed
  "/categories/{category}/channel/{channel}/4od/popular/page-{pageno}.atom":
    get:
      description: |-
        Lists all Channel 4oD most popular brands for the given category within the 
          last 7 days, in order of popularity.

          http://api.channel4.com/pmlsd/categories/category/channel/[channel]/4od/popular/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Most_Popular_Brands_Feed(7)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/category"
        - $ref: "#/parameters/channel"
        - $ref: "#/parameters/pageno"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: Most Popular Brands Feed(7)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Most_Popular_Brands_Feed
  "/categories/{category}/channel/{channel}/4od/title.atom":
    get:
      description: |-
        Lists all Channel 4oD programmes associated with the specified category 
          (tag), alphanumerically in order of Title.

          http://api.channel4.com/pmlsd/categories/category/channel/[channel]/4od/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/religion-and-belief/4oD/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: 4oD_Programmes_by_Title(2)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/category"
        - $ref: "#/parameters/channel"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: 4oD Programmes by Title(2)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_Title
  "/categories/{category}/channel/{channel}/4od/title/page-{pageno}.atom":
    get:
      description: |-
        Lists all Channel 4oD programmes associated with the specified category 
          (tag), alphanumerically in order of Title.

          http://api.channel4.com/pmlsd/categories/category/channel/[channel]/4od/title/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/religion-and-belief/4oD/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: 4oD_Programmes_by_Title(5)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/category"
        - $ref: "#/parameters/channel"
        - $ref: "#/parameters/pageno"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: 4oD Programmes by Title(5)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_Title
  "/categories/{category}/channel/{channel}/page-{pageno}.atom":
    get:
      description: |-
        Lists all Channel 4 programmes associated with the specified category (tag).  
          By default, the programmes are listed in order of Transmission (TX) Date, 
          with the most-recently-transmitted programmes listed first.

          http://api.channel4.com/pmlsd/categories/category/channel/[channel]/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/animals.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: All_Programmes_by_TX_Date(5)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/category"
        - $ref: "#/parameters/channel"
        - $ref: "#/parameters/pageno"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: All Programmes by TX Date(5)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_TX_Date
  "/categories/{category}/channel/{channel}/title.atom":
    get:
      description: |-
        Lists all Channel 4 programmes associated with the specified category (tag), 
          alphanumerically in order of Title.

          http://api.channel4.com/pmlsd/categories/category/channel/[channel]/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/history/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: All_Programmes_by_Title(2)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/category"
        - $ref: "#/parameters/channel"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: All Programmes by Title(2)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_Title
  "/categories/{category}/channel/{channel}/title/page-{pageno}.atom":
    get:
      description: |-
        Lists all Channel 4 programmes associated with the specified category (tag), 
          alphanumerically in order of Title.

          http://api.channel4.com/pmlsd/categories/category/channel/[channel]/title/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/history/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: All_Programmes_by_Title(5)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/category"
        - $ref: "#/parameters/channel"
        - $ref: "#/parameters/pageno"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: All Programmes by Title(5)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_Title
  "/categories/{category}/derived/ad.atom":
    get:
      description: |-
        Lists all Channel 4 programmes associated with the specified category (tag).  
          By default, the programmes are listed in order of Transmission (TX) Date, 
          with the most-recently-transmitted programmes listed first.

          http://api.channel4.com/pmlsd/categories/category/derived/ad.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/animals.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: All_Programmes_by_TX_Date(3)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/category"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: All Programmes by TX Date(3)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_TX_Date
  "/categories/{category}/derived/ad/4od.atom":
    get:
      description: |-
        Lists all Channel 4oD programmes associated with the specified category 
          (tag).By default, the programmes are listed in order of Transmission (TX) 
          Date, with the most-recently-transmitted programmes listed first.

          http://api.channel4.com/pmlsd/categories/category/derived/ad/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/animals/4oD.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: 4oD_Programmes_by_TX_Date(3)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/category"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: 4oD Programmes by TX Date(3)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_TX_Date
  "/categories/{category}/derived/ad/4od/page-{pageno}.atom":
    get:
      description: |-
        Lists all Channel 4oD programmes associated with the specified category 
          (tag).By default, the programmes are listed in order of Transmission (TX) 
          Date, with the most-recently-transmitted programmes listed first.

          http://api.channel4.com/pmlsd/categories/category/derived/ad/4od/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/animals/4oD.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: 4oD_Programmes_by_TX_Date(6)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/category"
        - $ref: "#/parameters/pageno"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: 4oD Programmes by TX Date(6)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_TX_Date
  "/categories/{category}/derived/ad/4od/popular.atom":
    get:
      description: |-
        Lists all Channel 4oD most popular brands for the given category within the 
          last 7 days, in order of popularity.

          http://api.channel4.com/pmlsd/categories/category/derived/ad/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Most_Popular_Brands_Feed(4)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/category"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: Most Popular Brands Feed(4)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Most_Popular_Brands_Feed
  "/categories/{category}/derived/ad/4od/popular/page-{pageno}.atom":
    get:
      description: |-
        Lists all Channel 4oD most popular brands for the given category within the 
          last 7 days, in order of popularity.

          http://api.channel4.com/pmlsd/categories/category/derived/ad/4od/popular/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Most_Popular_Brands_Feed(8)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/category"
        - $ref: "#/parameters/pageno"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: Most Popular Brands Feed(8)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Most_Popular_Brands_Feed
  "/categories/{category}/derived/ad/4od/title.atom":
    get:
      description: |-
        Lists all Channel 4oD programmes associated with the specified category 
          (tag), alphanumerically in order of Title.

          http://api.channel4.com/pmlsd/categories/category/derived/ad/4od/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/religion-and-belief/4oD/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: 4oD_Programmes_by_Title(3)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/category"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: 4oD Programmes by Title(3)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_Title
  "/categories/{category}/derived/ad/4od/title/page-{pageno}.atom":
    get:
      description: |-
        Lists all Channel 4oD programmes associated with the specified category 
          (tag), alphanumerically in order of Title.

          http://api.channel4.com/pmlsd/categories/category/derived/ad/4od/title/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/religion-and-belief/4oD/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: 4oD_Programmes_by_Title(6)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/category"
        - $ref: "#/parameters/pageno"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: 4oD Programmes by Title(6)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/4oD_Programmes_by_Title
  "/categories/{category}/derived/ad/page-{pageno}.atom":
    get:
      description: |-
        Lists all Channel 4 programmes associated with the specified category (tag).  
          By default, the programmes are listed in order of Transmission (TX) Date, 
          with the most-recently-transmitted programmes listed first.

          http://api.channel4.com/pmlsd/categories/category/derived/ad/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/animals.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: All_Programmes_by_TX_Date(6)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/category"
        - $ref: "#/parameters/pageno"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: All Programmes by TX Date(6)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_TX_Date
  "/categories/{category}/derived/ad/title.atom":
    get:
      description: |-
        Lists all Channel 4 programmes associated with the specified category (tag), 
          alphanumerically in order of Title.

          http://api.channel4.com/pmlsd/categories/category/derived/ad/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/history/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: All_Programmes_by_Title(3)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/category"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: All Programmes by Title(3)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_Title
  "/categories/{category}/derived/ad/title/page-{pageno}.atom":
    get:
      description: |-
        Lists all Channel 4 programmes associated with the specified category (tag), 
          alphanumerically in order of Title.

          http://api.channel4.com/pmlsd/categories/category/derived/ad/title/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/history/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: All_Programmes_by_Title(6)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/category"
        - $ref: "#/parameters/pageno"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: All Programmes by Title(6)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_Title
  "/categories/{category}/page-{pageno}.atom":
    get:
      description: |-
        Lists all Channel 4 programmes associated with the specified category (tag).  
          By default, the programmes are listed in order of Transmission (TX) Date, 
          with the most-recently-transmitted programmes listed first.

          http://api.channel4.com/pmlsd/categories/category/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/animals.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: All_Programmes_by_TX_Date(4)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/category"
        - $ref: "#/parameters/pageno"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: All Programmes by TX Date(4)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_TX_Date
  "/categories/{category}/popular.atom":
    get:
      description: |-
        Lists all Channel 4oD most popular brands for the given category within the 
          last 7 days, in order of popularity.

          http://api.channel4.com/pmlsd/categories/category/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Most_Popular_Brands_Feed(2)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/category"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: Most Popular Brands Feed(2)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Most_Popular_Brands_Feed
  "/categories/{category}/popular/page-{pageno}.atom":
    get:
      description: |-
        Lists all Channel 4oD most popular brands for the given category within the 
          last 7 days, in order of popularity.

          http://api.channel4.com/pmlsd/categories/category/popular/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/comedy/4od/popular.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Most_Popular_Brands_Feed(6)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/category"
        - $ref: "#/parameters/pageno"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: Most Popular Brands Feed(6)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Most_Popular_Brands_Feed
  "/categories/{category}/title.atom":
    get:
      description: |-
        Lists all Channel 4 programmes associated with the specified category (tag), 
          alphanumerically in order of Title.

          http://api.channel4.com/pmlsd/categories/category/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/history/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: All_Programmes_by_Title
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/category"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: All Programmes by Title
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_Title
  "/categories/{category}/title/page-{pageno}.atom":
    get:
      description: |-
        Lists all Channel 4 programmes associated with the specified category (tag), 
          alphanumerically in order of Title.

          http://api.channel4.com/pmlsd/categories/category/title/page-{pageno}.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/categories/history/title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: All_Programmes_by_Title(4)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/category"
        - $ref: "#/parameters/pageno"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: All Programmes by Title(4)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/All_Programmes_by_Title
  "/collections/{collection_name}.atom":
    get:
      description: |-
        Collections are editorially controlled groups of brands, series, episodes or 
          other collections used for promotion and discovery of content. A SIMPLE 
          collection can contain an assortment of Brands, Series, Episodes or Freeform 
          items. A GROUP collection contains other collections.

          http://api.channel4.com/pmlsd/collections/collection_name.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/collections/4od-home-promo/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Collections_Feed(2)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/collection_name"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: Collections Feed(2)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Collections_Feed
  "/collections/{collection_name}/4od.atom":
    get:
      description: |-
        Collections are editorially controlled groups of brands, series, episodes or 
          other collections used for promotion and discovery of content. A SIMPLE 
          collection can contain an assortment of Brands, Series, Episodes or Freeform 
          items. A GROUP collection contains other collections.

          http://api.channel4.com/pmlsd/collections/collection_name/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/collections/4od-home-promo/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Collections_Feed
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/collection_name"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: Collections Feed
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Collections_Feed
  "/collections/{collection_name}/flattened.atom":
    get:
      description: |-
        The Flattened Collections Feed is only applicable for GROUP collections and 
          its purpose is mainly return 3 items (BRAND, SERIES or EPSIODE) of each of 
          the simple collections assigned to the GROUP.

          http://api.channel4.com/pmlsd/collections/collection_name/flattened.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/collections/4od-home-promo/flattened/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Flattened_Collection_Feed(2)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/collection_name"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: Flattened Collection Feed(2)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Flattened_Collection_Feed
  "/collections/{collection_name}/flattened/4od.atom":
    get:
      description: |-
        The Flattened Collections Feed is only applicable for GROUP collections and 
          its purpose is mainly return 3 items (BRAND, SERIES or EPSIODE) of each of 
          the simple collections assigned to the GROUP.

          http://api.channel4.com/pmlsd/collections/collection_name/flattened/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/collections/4od-home-promo/flattened/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Flattened_Collection_Feed
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/collection_name"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: Flattened Collection Feed
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Flattened_Collection_Feed
  /coming-soon.atom:
    get:
      description: |-
        Coming Soon feed display a list of episodes coming soon to linear TV so that 
          I can promote new Channel 4 content.

          http://api.channel4.com/pmlsd/coming-soon.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/coming-soon.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Coming_Soon_feed
      parameters:
        - $ref: "#/parameters/platform"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: Coming Soon feed
      tags:
        - metadataresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Coming_Soon_feed
  "/coming-soon/{category}.atom":
    get:
      description: |-
        Coming Soon feed display a list of episodes coming soon to linear TV so that 
          I can promote new Channel 4 content.

          http://api.channel4.com/pmlsd/coming-soon/[category].atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/coming-soon.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Coming_Soon_feed(2)
      parameters:
        - $ref: "#/parameters/platform"
        - description: The category websafe_title to filter the coming soon programmes on TV.
          in: path
          name: category
          required: true
          type: string
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: Coming Soon feed(2)
      tags:
        - metadataresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Coming_Soon_feed
  "/programme/{programme-id}.atom":
    get:
      description: |-
        A feed containing all long-form content currently or previously available 
          for a specified Programme Id. The entries for the Programme feed contain 
          references to long-form assets for each platform.

          http://api.channel4.com/pmlsd/programme/[programme-id].atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/programme/33881-001/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Programme_Feed
      parameters:
        - $ref: "#/parameters/platform"
        - description: The websafe programme identifier for the episode for which you seek on-demand content
          in: path
          name: programme-id
          required: true
          type: string
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: Programme Feed
      tags:
        - metadataresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Programme_Feed
  /search.atom:
    get:
      description: |-
        Lists all Channel 4 programmes where title (brand name) matching the search 
          term. Matches are made from the beginning of individual words in the title.

          http://api.channel4.com/pmlsd/search.atom?q=search-term&apikey=xxx

          http://api.channel4.com/pmlsd/search.atom?q=the+it+crowd&apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Search_Feed
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/q"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: Search Feed
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Search_Feed
  "/search/page-{pageno}.atom":
    get:
      description: |-
        Lists all Channel 4 programmes where title (brand name) matching the search 
          term. Matches are made from the beginning of individual words in the title.

          http://api.channel4.com/pmlsd/search/page-{pageno}.atom?q=search-term&apikey=xxx

          http://api.channel4.com/pmlsd/search.atom?q=the+it+crowd&apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Search_Feed(3)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/q"
        - $ref: "#/parameters/pageno"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: Search Feed(3)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Search_Feed
  "/search/{q}.atom":
    get:
      description: |-
        Lists all Channel 4 programmes where title (brand name) matching the search 
          term. Matches are made from the beginning of individual words in the title.

          http://api.channel4.com/pmlsd/search/search-term.atom?apikey=xxx

          http://api.channel4.com/pmlsd/search.atom?q=the+it+crowd&apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Search_Feed(2)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/q1"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: Search Feed(2)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Search_Feed
  "/search/{q}/page-{pageno}.atom":
    get:
      description: |-
        Lists all Channel 4 programmes where title (brand name) matching the search 
          term. Matches are made from the beginning of individual words in the title.

          http://api.channel4.com/pmlsd/search/search-term/page-{pageno}.atom?apikey=xxx

          http://api.channel4.com/pmlsd/search.atom?q=the+it+crowd&apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Search_Feed(4)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/q1"
        - $ref: "#/parameters/pageno"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: Search Feed(4)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/Search_Feed
  "/tv-listings/daily/{yyyy}/{mm}/{dd}.atom":
    get:
      description: |-
        EPG Information of daily broadcast content aired per channels, according to 
          broadcast date

          http://api.channel4.com/pmlsd/tv-listings/daily/[yyyy]/[mm]/[dd].atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/tv-listings/daily/2010/11/28.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: TV_Listings_Feed
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/yyyy"
        - $ref: "#/parameters/mm"
        - $ref: "#/parameters/dd"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: TV Listings Feed
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/TV_Listings_Feed
  "/tv-listings/daily/{yyyy}/{mm}/{dd}/{channel}.atom":
    get:
      description: |-
        EPG Information of daily broadcast content aired per channels, according to 
          broadcast date

          http://api.channel4.com/pmlsd/tv-listings/daily/[yyyy]/[mm]/[dd]/[channel].atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/tv-listings/daily/2010/11/28.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: TV_Listings_Feed(2)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/yyyy"
        - $ref: "#/parameters/mm"
        - $ref: "#/parameters/dd"
        - description: The EPG for a specific channel (c4, e4, m4, 4m, f4, 4s)
          enum:
            - c4
            - f4
            - e4
            - m4
            - 4m
            - 4s
          in: path
          name: channel
          required: true
          type: string
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: TV Listings Feed(2)
      tags:
        - discoveryresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/discoveryresources/TV_Listings_Feed
  "/{brand-web-safe-title}.atom":
    get:
      description: |-
        The basis for all brand information

          http://api.channel4.com/pmlsd/brand-web-safe-title.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/the-it-crowd.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Hub_Feed
      parameters:
        - $ref: "#/parameters/platform"
        - description: The title of the programme for which you seek associated data
          in: path
          name: brand-web-safe-title
          required: true
          type: string
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: Hub Feed
      tags:
        - metadataresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Hub_Feed
  "/{brand-web-safe-title}/4od.atom":
    get:
      description: |-
        A feed containing all available on-demand long-form content for a specified 
          brand. The entries for the 4oD feed contain references to each long-form 
          asset for a brand, ordered by series number and episode number.

          http://api.channel4.com/pmlsd/[brand-web-safe-title]/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/the-it-crowd/4od.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: 4oD_Feed
      parameters:
        - $ref: "#/parameters/platform"
        - description: The title of the programme for which you seek on-demand content
          in: path
          name: brand-web-safe-title
          required: true
          type: string
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: 4oD Feed
      tags:
        - metadataresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/4oD_Feed
  "/{brand-web-safe-title}/epg.atom":
    get:
      description: |-
        This feed contains metadata about upcoming electronic programme guide (EPG) 
          information for a brand. The entry details upcoming transmission slots for 
          this brand.

          http://api.channel4.com/pmlsd/brand-web-safe-title/epg.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/the-simpsons/epg.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Brand_EPG_Atom_Feed
      parameters:
        - $ref: "#/parameters/platform"
        - description: Title of the programme for which you seek EPG information
          in: path
          name: brand-web-safe-title
          required: true
          type: string
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: Brand EPG Atom Feed
      tags:
        - metadataresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Brand_EPG_Atom_Feed
  "/{brand-web-safe-title}/episode-guide.atom":
    get:
      description: |-
        A feed containing metadata about all series for a specified brand. The 
          entries in this feed contain references to each of the series (where 
          metadata has been published), with some convenient links.

          http://api.channel4.com/pmlsd/brand-web-safe-title/episode-guide.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/father-ted/episode-guide.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Episode_Guide_Feed_Series_Landing
      parameters:
        - $ref: "#/parameters/platform"
        - description: The title of the programme for which you seek episode-guide information
          in: path
          name: brand-web-safe-title
          required: true
          type: string
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: Episode Guide Feed Series Landing
      tags:
        - metadataresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Episode_Guide_Feed_Series_Landing
  "/{brand-web-safe-title}/episode-guide/series-{series_number}.atom":
    get:
      description: |-
        A feed containing metadata about all the episodes for a specific series. The 
          entries in this feed contain references to each of the episodes (where 
          metadata has been published), with some convenient links.

          http://api.channel4.com/pmlsd/brand-web-safe-title/episode-guide/series-series_number.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/chelmsford-123/episode-guide/series-1.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Episode_Guide_Feed_Series_Detail
      parameters:
        - $ref: "#/parameters/platform"
        - description: The title of the programme for which you seek series-related information
          in: path
          name: brand-web-safe-title
          required: true
          type: string
        - description: Unique enumerated identifier of the series within its brand
          in: path
          name: series_number
          required: true
          type: string
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: Episode Guide Feed Series Detail
      tags:
        - metadataresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Episode_Guide_Feed_Series_Detail
  "/{brand-web-safe-title}/episode-guide/series-{series_number}/episode-{episode_number}.atom":
    get:
      description: |-
        A feed containing metadata about a specified episode. (This feed does not 
          contain any entries and only contains a feed element regarding this 
          episode.)

          http://api.channel4.com/pmlsd/brand-web-safe-title/episode-guide/series-series_number/episode-episode_number.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/the-it-crowd/episode-guide/series-1/episode-1.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Episode_Guide_Feed_Episode_Detail
      parameters:
        - $ref: "#/parameters/platform"
        - description: Title of the brand to which the episode belongs
          in: path
          name: brand-web-safe-title
          required: true
          type: string
        - description: Unique enumerated identifier of the series within its brand to which the episode belongs
          in: path
          name: series_number
          required: true
          type: string
        - description: Unique enumerated identifier of the episode within its series
          in: path
          name: episode_number
          required: true
          type: string
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: Episode Guide Feed Episode Detail
      tags:
        - metadataresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Episode_Guide_Feed_Episode_Detail
  "/{brand-web-safe-title}/videos/all.atom":
    get:
      description: |-
        A feed containing metadata about all the short-form (clip) videos. The clips 
          feed can be accessed at different levels: the content is then filtered 
          depending on the level, but the structure is identical.When accessed: from 
          the top, the feed contains all the clips for the brand;  at series level, 
          the feed contains only clips from the series; and  at episode level, the 
          feed contains only clips for the episode (and is very unlikely to require 
          pagination). The entries for the Clips Landing Feed contain references to 
          each short-form asset.

          http://api.channel4.com/pmlsd/brand-web-safe-title/videos/all.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/peep-show/videos.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Clips_Landing_Feed_Brand_Series_and_Episode_Levels
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/brand-web-safe-title"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: Clips Landing Feed Brand Series and Episode Levels
      tags:
        - metadataresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Clips_Landing_Feed_Brand_Series_and_Episode_Levels
  "/{brand-web-safe-title}/videos/series-{series_number}.atom":
    get:
      description: |-
        A feed containing metadata about all the short-form (clip) videos. The clips 
          feed can be accessed at different levels: the content is then filtered 
          depending on the level, but the structure is identical.When accessed: from 
          the top, the feed contains all the clips for the brand;  at series level, 
          the feed contains only clips from the series; and  at episode level, the 
          feed contains only clips for the episode (and is very unlikely to require 
          pagination). The entries for the Clips Landing Feed contain references to 
          each short-form asset.

          http://api.channel4.com/pmlsd/brand-web-safe-title/videos/series-series_number.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/peep-show/videos.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Clips_Landing_Feed_Brand_Series_and_Episode_Levels(2)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/brand-web-safe-title"
        - $ref: "#/parameters/series_number"
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: Clips Landing Feed Brand Series and Episode Levels(2)
      tags:
        - metadataresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Clips_Landing_Feed_Brand_Series_and_Episode_Levels
  "/{brand-web-safe-title}/videos/series-{series_number}/episode-{episode_number}.atom":
    get:
      description: |-
        A feed containing metadata about all the short-form (clip) videos. The clips 
          feed can be accessed at different levels: the content is then filtered 
          depending on the level, but the structure is identical.When accessed: from 
          the top, the feed contains all the clips for the brand;  at series level, 
          the feed contains only clips from the series; and  at episode level, the 
          feed contains only clips for the episode (and is very unlikely to require 
          pagination). The entries for the Clips Landing Feed contain references to 
          each short-form asset.

          http://api.channel4.com/pmlsd/brand-web-safe-title/videos/series-series_number/episode-episode_number.atom?apikey=xxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/peep-show/videos.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Clips_Landing_Feed_Brand_Series_and_Episode_Levels(3)
      parameters:
        - $ref: "#/parameters/platform"
        - $ref: "#/parameters/brand-web-safe-title"
        - $ref: "#/parameters/series_number"
        - description: Unique identifier of episode to which clips belong
          in: path
          name: episode_number
          required: true
          type: string
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: Clips Landing Feed Brand Series and Episode Levels(3)
      tags:
        - metadataresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Clips_Landing_Feed_Brand_Series_and_Episode_Levels
  "/{brand-web-safe-title}/videos/{clip-asset-id}.atom":
    get:
      description: |-
        A feed containing metadata about a single short-form video (clip).

          http://api.channel4.com/pmlsd/brand-web-safe-title/videos/clip-asset-id.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx

          http://api.channel4.com/pmlsd/the-it-crowd/videos/TCGS_CLIP_0000001015.atom?apikey=xxxxxxxxxxxxxxxxxxxxxxxx
      operationId: Clip_Detail_Atom_Feed
      parameters:
        - $ref: "#/parameters/platform"
        - description: Title of the brand for which you seek a clip
          in: path
          name: brand-web-safe-title
          required: true
          type: string
        - description: Asset id for this clip
          in: path
          name: clip-asset-id
          required: true
          type: string
      responses:
        "200":
          description: Default response
          schema:
            $ref: "#/definitions/atom"
      summary: Clip Detail Atom Feed
      tags:
        - metadataresources
      x-documentation: http://developer.channel4.com/docs/read/programmesapiguide/metadataresources/Clip_Detail_Atom_Feed
definitions:
  ContentTypeType:
    additionalProperties: false
    type: object
    x-oneOf:
      - $ref: "#/definitions/textTypeType"
      - $ref: "#/definitions/MimeType"
  KnownRelCodeType:
    description: 'alternate: The value "alternate" signifies that the IRI in the value of the href attribute identifies an alternate version of the resource described by the containing element.related: The value "related" signifies that the IRI in the value of the href attribute identifies a resource related to the resource described by the containing element. For example, the feed for a site that discusses the performance of the search engine at "http://search.example.com" might contain, as a child of atom:feed. An identical link might appear as a child of any atom:entry whose content contains a discussion of that same search engine.self: The value "self" signifies that the IRI in the value of the href attribute identifies a resource equivalent to the containing element.enclosure: The value "enclosure" signifies that the IRI in the value of the href attribute identifies a related resource that is potentially large in size and might require special handling. For atom:link elements with rel="enclosure", the length attribute SHOULD be provided.via: The value "via" signifies that the IRI in the value of the href attribute identifies a resource that is the source of the information provided in the containing element.'
    enum:
      - alternate
      - related
      - self
      - enclosure
      - via
  MimeType:
    description: XML encoded identifier of a standard MIME type, possibly a parameterized MIME type. Copied from ows 2.0.1
    pattern: (application|audio|image|text|video|message|multipart|model)/.+(;\s*.+=.+)*
    type: string
  RelCodeType:
    additionalProperties: false
    type: object
    x-oneOf:
      - $ref: "#/definitions/KnownRelCodeType"
      - type: string
  atom:
    additionalProperties: false
    description: |-
      This version of the Atom schema is based on version 1.0 of the format specifications, found here http://www.atomenabled.org/developers/syndication/atom-format-spec.php. The original namespace was http://www.w3.org/2005/Atom but we changed it to http://www.opengis.net/atom/2005 to avoid conflicting definitions of the same namespace in the future. NOT DONE YET. There is no XSD official schema for atom but this one seems to be the most known: http://www.kbcafe.com/rss/atom.xsd.xml (The Atom Publishing Protocol was issued as a Proposed Standard in IETF RFC 5023 in October 2007 http://tools.ietf.org/html/rfc5023)
      An Atom document may have two root elements, feed and entry, as defined in section 2.
    properties:
      feed:
        $ref: "#/definitions/feedType"
    required:
      - feed
    title: converted/atomSchema.xsd
    type: object
  categoryType:
    additionalProperties: false
    description: The Atom category construct is defined in section 4.2.2 of the format spec.
    type: object
    x-anyOf:
      - $ref: "#/definitions/commonAttributes"
        required:
          - term
      - properties:
          label:
            type: string
          scheme:
            format: uri
            type: string
          term:
            type: string
  commonAttributes:
    additionalProperties: true
    properties:
      xml:base:
        type: string
      xml:lang:
        type: string
    type: object
  contentType:
    additionalProperties: true
    description: The Atom content construct is defined in section 4.1.3 of the format spec.
    type: object
    x-anyOf:
      - $ref: "#/definitions/commonAttributes"
      - properties:
          src:
            format: uri
            type: string
          type:
            $ref: "#/definitions/ContentTypeType"
  dateTimeType:
    additionalProperties: false
    type: object
    x-anyOf:
      - $ref: "#/definitions/commonAttributes"
      - properties:
          "#text":
            format: date-time
            type: string
  emailType:
    description: Schema definition for an email address.
    pattern: \w+@(\w+\.)+\w+
    type: string
  entry:
    $ref: "#/definitions/entryType"
  entryType:
    additionalProperties: true
    description: The Atom entry construct is defined in section 4.1.2 of the format spec.
    type: object
    x-anyOf:
      - $ref: "#/definitions/commonAttributes"
      - properties:
          author:
            items:
              $ref: "#/definitions/personType"
            type: array
          category:
            items:
              $ref: "#/definitions/categoryType"
            type: array
          content:
            $ref: "#/definitions/contentType"
          contributor:
            items:
              $ref: "#/definitions/personType"
            type: array
          dc:
            properties:
              relation:
                properties:
                  sortLetter:
                    description: Starting letter for this programme
                    type: integer
                type: object
            type: object
          dc:date:
            properties:
              Last:
                description: Timestamp of the previous TX from this brand (if applicable)
                format: date-time
                type: string
              Next:
                description: Timestamp of the next TX from this brand (if applicable)
                format: date-time
                type: string
              TXDate:
                description: If this programme is available on 4oD then this element indicates the broadcast date/time of the episode selected for 4oD. If the programme is not on 4oD then this element is omitted.(Indicates whether pre- or post-watershed)
                format: date-time
                type: string
              firstTXDate:
                description: First TX date information for this episode
                format: date-time
                type: string
              slotTXDate:
                description: Current TX date information for this slot's episode
                format: date-time
                type: string
            type: object
          dc:relataion:
            properties:
              BrandTitle:
                description: Title for the brand that the clip is associated with (directly or indirectly)
                type: string
              BrandWebSafeTitle:
                description: Web-safe title for the brand that the clip is associated with (directly or indirectly)
                type: string
            type: object
          dc:relation:
            properties:
              4oDProgrammeCount:
                description: The number of 4oD available programmes in the collection, including all Brand/Series/Episodes.
                type: integer
              AgeRating:
                description: Channel 4-specific recommended lower age-limit for viewers (0, 16 or 18)
                type: integer
              AllProgrammeCount:
                description: Number of available brands in this category (all programmes)
                type: integer
              AudioDescription:
                description: Boolean indicating if an audio description is available for this episode
                type: boolean
              BrandTitle:
                description: Title of brand
                type: string
              BrandWebSafeTitle:
                description: Programme's Brand name in Web safe format
                type: string
              BrandWebsafeTitle:
                description: The associated brand web-safe title
                type: string
              CategoryOrder:
                description: Enumerated order of category within its type (e.g., 'Channel' might have Food=1, More4=2, etc.) (Appears in feed only if CategoryType<>'None'.)
                type: integer
              CategoryType:
                description: Type to which the category belongs (if applicable). (Valid values are 'Channel', 'Display' or 'None'.)
                type: string
              Duration:
                description: Length in minutes and seconds - does not include ad breaks
                type: string
              EpisodeNumber:
                description: The episode number within the series.
                type: integer
              ExternalVideoId:
                description: This is the clip asset id (from column CLIP_ASSET.ASSET_ID. For the current implementation this is the Brightcove Id.
                type: integer
              Guidance:
                description: Channel 4-specific warning text about specific disturbing content, adult humour, nudity, etc., if applicable
                type: string
              LastChannel:
                description: The channel on which the previous TX from this brand(if applicable)
                type: string
              LoginRequired:
                description: Boolean indicating if the requestType is ARCHIVE and the user needs to be logged in to watch.
                type: boolean
              Movie:
                description: Boolean indicating if the SLOT is a Movie or not.
                type: boolean
              NextChannel:
                description: The channel on which the next TX from this brand (if applicable)
                type: string
              ParentCollectionId:
                description: The ID of the Parent Collection where the resource is assigned to.
                type: string
              Platform:
                description: The platform code that this episode is available on
                type: string
              ProgrammeType:
                description: Displays metadata code (as detailed in the following table) in a meaningful way on the application according to the specified programme type.
                type: string
              RelatedEntryId:
                description: The episode guide entry related to this episode
                type: string
              Repeat:
                description: Boolean indicating if the Slot includes an indicator marked as repeat.
                type: boolean
              SeriesNumber:
                description: The series to which this episode belongs.
                type: integer
              Signing:
                description: Boolean value is true if signing slot_indicator exists for this slot, otherwise false.
                type: boolean
              SimulcastRights:
                description: Boolean indicating if the episode has rights to be streamed on the live simulcast service.
                type: boolean
              Subtitles:
                description: Boolean indicating if subtitles are available for this episode
                type: boolean
              Synopsys:
                description: The synopsis of this brand
                type: string
              TXChannel:
                description: If this programme is available on 4oD then this element indicates the broadcast channel that the episode selected for 4oD. If the programme is not on 4oD then this element is omitted.
                type: string
              TXStartTime:
                description: Start date and time of the broadcast
                type: string
              WideScreen:
                description: Boolean value is true if widescreen slot_indicator exists for this slot, otherwise false
                type: boolean
              comingSoonTo4oD:
                description: If the brand is coming to be available on 4oD soon this empty element should be included.
                type: string
              firstTXChannel:
                description: First TX channel information for this episode
                type: string
              hd:
                description: Boolean indicating if the SLOT is HD on linear
                type: boolean
              platformClientVersion:
                description: Identifies the version of the client application compatible with this feed.
                type: number
              programmeId:
                description: The episode identifier.
                type: string
              requestType:
                description: Indicates catchup or archive content
                enum:
                  - ARCHIVE
                  - CATCHUP
                type: string
              resourceType:
                description: The type of the entry
                type: string
              slotTXChannel:
                description: Current TX channel information for this slot's episode
                type: string
              sortLetter:
                description: Starting letter for this programme
                type: string
              sortOrder:
                description: Starting letter for this programme
                type: integer
            type: object
          dcterms:available:
            description: Start date, end date and date / time format for the period of time when episode is available on 4oD. This element is not returned if the programme is not currently available on 4oD.
            type: string
          generator:
            description: Identifies the agent used to generate the feed
            properties:
              version:
                description: Identifies the version of the agent used to generate the feed
                type: number
            type: object
          id:
            $ref: "#/definitions/idType"
          link:
            items:
              $ref: "#/definitions/linkType"
            type: array
          media:content:
            properties:
              media:credit:
                description: List of credits/cast for the episode
                type: string
              media:thumbnail:
                description: URL to medium-sized image of this brand
                type: string
            type: object
          media:context:
            properties:
              media:thumbnail:
                description: URL to medium-sized image of this brand
                type: string
            type: object
          media:group:
            properties:
              media:category:
                description: Defines the type of short-form item.
                type: string
              media:content:
                properties:
                  dc:relation:
                    properties:
                      AgeRating:
                        description: Channel 4-specific recommended lower age-limit for viewers (0, 16 or 18)
                        type: integer
                      AudioDescription:
                        description: Boolean indicating if an audio description is available for this episode
                        type: boolean
                      Duration:
                        description: Length in minutes and seconds - does not include ad breaks
                        type: string
                      Guidance:
                        description: Channel 4-specific warning text about specific disturbing content, adult humour, nudity, etc., if applicable
                        type: string
                      Subtitles:
                        description: Boolean indicating if subtitles are available for this episode
                        type: boolean
                      deliveryType:
                        description: Indicates STREAMING or FOR DOWNLOAD content
                        enum:
                          - STREAM
                          - DOWNLOAD
                        type: string
                      requestType:
                        description: Indicates catchup or archive content
                        enum:
                          - ARCHIVE
                          - CATCHUP
                        type: string
                    type: object
                  dcterms:available:
                    description: Start date, end date and date/time format for the period of time when episode is available.  (This feed would not be available if the current date is outside the start and end dates.)
                    type: string
                  media:copyright:
                    description: Link to copyright / T&C information
                    type: string
                  media:player:
                    description: URL to media-player version of episode
                    format: uri
                    type: string
                  media:rating:
                    description: Flag to show whether episode is suitable for adults only ("adult") or for all viewers ("nonadult")
                    type: string
                  media:restriction:
                    description: Restriction flag ("allow") and list of country or state codes where episode is accessible to website users
                    type: string
                  media:rights:
                    description: Status of media rights under which Channel 4 provides episode content
                    type: string
                  media:thumbnail:
                    description: URL to medium-sized image of this episode
                    type: string
                type: object
              media:copyright:
                description: Link to 4oD  copyright / T&C information (if available)
                type: string
              media:player:
                description: URL to 4oD media-player version of episode (if available)
                format: uri
                type: string
              media:rating:
                description: Flag to show whether the 4oD version of the episode is suitable for adults only ("adult") or for all viewers ("nonadult") (if available)
                type: string
              media:restriction:
                description: Restriction flag ("allow") and list of country or state codes where 4oD episode is accessible to website users (if available)
                type: string
              media:rights:
                description: Status of 4oD media rights under which Channel 4 provides episode content (if available)
                type: string
              media:thumbnail:
                description: URL to 4oD medium-sized image of this episode (if available)
                type: string
            type: object
          media:thumbnail:
            description: URL to medium sized image of this series
            type: string
          published:
            $ref: "#/definitions/dateTimeType"
          rights:
            $ref: "#/definitions/textType"
          source:
            $ref: "#/definitions/textType"
          subtitle:
            description: The synopsis of the series.
            type: string
          summary:
            $ref: "#/definitions/textType"
          title:
            $ref: "#/definitions/textType"
          updated:
            $ref: "#/definitions/dateTimeType"
  feedType:
    additionalProperties: true
    description: The Atom feed construct is defined in section 4.1.1 of the format spec.
    type: object
    x-anyOf:
      - $ref: "#/definitions/commonAttributes"
      - properties:
          author:
            properties:
              name:
                description: Name of author / owner
                type: string
            type: object
          category:
            items:
              $ref: "#/definitions/categoryType"
            type: array
          category (primary):
            description: Primary category (brand must have ONE)
            type: string
          category (secondary):
            description: Secondary category (brand may have any number)
            type: string
          contributor:
            items:
              $ref: "#/definitions/personType"
            type: array
          dc:date:
            properties:
              TXDate:
                description: First TX date information for this episode
                format: date-time
                type: string
              firstTXDate:
                description: First TX date information for this episode
                format: date-time
                type: string
            type: object
          dc:relation:
            properties:
              4oDProgrammeCount:
                description: Number of available brands in this category beginning with this letter (4oD only)
                type: integer
              4oDSeriesCount:
                description: Number of available 4oD series for this Brand
                type: integer
              AgeRating:
                description: Channel 4-specific recommended lower age-limit for viewers (0, 16 or 18)
                type: integer
              AllProgrammeCount:
                description: Number of available brands in this category beginning with this letter (all programmes)
                type: integer
              AudioDescription:
                description: Boolean indicating if an audio description is available for this episode
                type: boolean
              BrandFlattened:
                description: Boolean indicating whether there is no Series -> Episode structure in this brand ("false" indicating that there is such a structure)
                type: boolean
              BrandTitle:
                description: Title of brand
                type: string
              BrandWebSafeTitle:
                description: Title of the brand safe for web linking (no whitespaces, no special chars...)
                type: string
              CategoryOrder:
                description: Enumerated order of category within its type(e.g., 'Channel' might have Food=1, More4=2, etc.)(Appears in feed only if CategoryType<>'None'.)
                type: integer
              CategoryType:
                description: Type to which the category belongs (if applicable).(Valid values are 'Channel', 'Display' or 'None'.)
                type: string
              Duration:
                description: Length in minutes and seconds - does not include ad breaks
                type: string
              EpisodeNumber:
                description: The episode number within the series
                type: integer
              ExternalVideoId:
                description: Clip Asset_id value from the Clip table (a.k.a. Brightcode id).
                type: string
              Guidance:
                description: Channel 4-specific warning text about specific disturbing content, adult humour, nudity, etc., if applicable
                type: string
              LoginRequired:
                description: Boolean indicating if the user has to be logged-in in order to play this episode.
                type: boolean
              New4oDSeriesAvailable:
                description: Flags that notifies clients when a Brand contains NEW series.
                type: boolean
              ParentCollectionId:
                description: The ID of the Parent Collection where the resource is assigned to.
                type: string
              ProgrammeType:
                description: Displays metadata code (as detailed in the following table) in a meaningful way on the application according to the specified programme type.
                type: string
              RelatedEntryId:
                description: The episode guide entry related to this episode
                type: string
              SeriesNumber:
                description: The series to which this episode belongs
                type: integer
              Sharable:
                description: Boolean value indicating if clips for this brand are sharable
                type: boolean
              StartOffset:
                description: ""
                type: integer
              Subtitles:
                description: Boolean indicating if subtitles are available for this episode
                type: boolean
              Synopsis:
                description: Summary of this feed
                type: string
              TXChannel:
                description: First TX channel information for this episode
                type: string
              TotalResults:
                description: Number of entries what match the search-term
                type: integer
              comingSoonTo4oD:
                description: If the brand is coming to be available on 4oD soon this empty element should be included.
                type: string
              firstTXChannel:
                description: First TX channel information for this episode
                type: string
              firstTXDate:
                description: Date of first broadcast (optional). This is based on EPG or, when EPG data is not available for the episode, it can be set editorially (significant date)
                format: date-time
                type: string
              lastTXChannel:
                description: Channel of last broadcast (optional). This is based on EPG ignoring repeats and giving preference to the channel that the brand is primarily targeted at (preferred channel)
                type: string
              lastTXDate:
                description: Date of last broadcast (optional). This is based on EPG ignoring repeats and giving preference to the channel that the brand is primarily targeted at (preferred channel)
                format: date-time
                type: string
              platformClientVersion:
                description: Identifies the version of the specified platform client application compatible with this feed.
                type: number
              presentationBrand:
                description: The presentation brand
                type: string
              programmeId:
                description: Indicates the contract and programme numbers
                type: string
              resourceType:
                description: The type of the entry
                type: string
            type: object
          dcterms:available:
            description: Start date, end date and date/time format for the period of time when episode is available.  (This feed would not be available if the current date is outside the start and end dates.)
            type: string
          entry:
            items:
              $ref: "#/definitions/entryType"
            type: array
          fh:complete:
[...]
