swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2018-02-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2018-02-01/applicationGateway.json
      version: "2.0"
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2018-02-01/applicationGateway.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-applicationGateway
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client API version.
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableSslOptions/default":
    get:
      description: Lists available Ssl options for configuring Ssl policy.
      operationId: ApplicationGateways_ListAvailableSslOptions
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Success. The operation returns all available Ssl options for configuring Ssl policy.
          schema:
            $ref: "#/definitions/ApplicationGatewayAvailableSslOptions"
      tags:
        - ApplicationGateways
      x-ms-examples:
        Get Available Ssl Options:
          parameters:
            api-version: 2018-02-01
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups//providers/Microsoft.Network/ApplicationGatewayAvailableSslOptions/default
                name: default
                properties:
                  availableCipherSuites:
                    - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
                    - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
                    - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384
                    - TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256
                  availableProtocols:
                    - TLSv1_0
                    - TLSv1_1
                    - TLSv1_2
                  defaultPolicy: AppGwSslPolicy20150501
                  predefinedPolicies:
                    - id: /subscriptions/subid/resourceGroups//providers/Microsoft.Network/ApplicationGatewayAvailableSslOptions/default/ApplicationGatewaySslPredefinedPolicy/AppGwSslPolicy20150501
                type: Microsoft.Network/ApplicationGatewayAvailableSslOptions
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableSslOptions/default/predefinedPolicies":
    get:
      description: Lists all SSL predefined policies for configuring Ssl policy.
      operationId: ApplicationGateways_ListAvailableSslPredefinedPolicies
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Success. The operation returns a lists of all Ssl predefined policies for configuring Ssl policy.
          schema:
            $ref: "#/definitions/ApplicationGatewayAvailableSslPredefinedPolicies"
      tags:
        - ApplicationGateways
      x-ms-examples:
        Get Available Ssl Predefined Policies:
          parameters:
            api-version: 2018-02-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups//providers/Microsoft.Network/ApplicationGatewayAvailableSslOptions/default/ApplicationGatewaySslPredefinedPolicy/AppGwSslPolicy20150501
                    name: AppGwSslPolicy20150501
                    properties:
                      cipherSuites:
                        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
                        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
                        - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384
                        - TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256
                      minProtocolVersion: TLSv1_0
                  - id: /subscriptions/subid/resourceGroups//providers/Microsoft.Network/ApplicationGatewayAvailableSslOptions/default/ApplicationGatewaySslPredefinedPolicy/AppGwSslPolicy20170401
                    name: AppGwSslPolicy20170401
                    properties:
                      cipherSuites:
                        - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
                        - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
                        - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA
                        - TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA
                      minProtocolVersion: TLSv1_1
                  - id: /subscriptions/subid/resourceGroups//providers/Microsoft.Network/ApplicationGatewayAvailableSslOptions/default/ApplicationGatewaySslPredefinedPolicy/AppGwSslPolicy20170401S
                    name: AppGwSslPolicy20170401S
                    properties:
                      cipherSuites:
                        - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
                        - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
                        - TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA
                        - TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA
                      minProtocolVersion: TLSv1_2
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableSslOptions/default/predefinedPolicies/{predefinedPolicyName}":
    get:
      description: Gets Ssl predefined policy with the specified policy name.
      operationId: ApplicationGateways_GetSslPredefinedPolicy
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: Name of Ssl predefined policy.
          in: path
          name: predefinedPolicyName
          required: true
          type: string
      responses:
        "200":
          description: Success. The operation returns a Ssl predefined policy with the specified policy name.
          schema:
            $ref: "#/definitions/ApplicationGatewaySslPredefinedPolicy"
      tags:
        - ApplicationGateways
      x-ms-examples:
        Get Available Ssl Predefined Policy by name:
          parameters:
            api-version: 2018-02-01
            predefinedPolicyName: AppGwSslPolicy20150501
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups//providers/Microsoft.Network/ApplicationGatewayAvailableSslOptions/default/ApplicationGatewaySslPredefinedPolicy/AppGwSslPolicy20150501
                name: AppGwSslPolicy20150501
                properties:
                  cipherSuites:
                    - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
                    - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
                    - TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384
                    - TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256
                  minProtocolVersion: TLSv1_0
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGatewayAvailableWafRuleSets":
    get:
      description: Lists all available web application firewall rule sets.
      operationId: ApplicationGateways_ListAvailableWafRuleSets
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Success. The operation returns a list of all available web application firewall rule sets.
          schema:
            $ref: "#/definitions/ApplicationGatewayAvailableWafRuleSetsResult"
      tags:
        - ApplicationGateways
      x-ms-examples:
        Get Available Waf Rule Sets:
          parameters:
            api-version: 2018-02-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions//resourceGroups//providers/Microsoft.Network/applicationGatewayAvailableWafRuleSets/
                    name: OWASP_3.0
                    properties:
                      provisioningState: Succeeded
                      ruleGroups:
                        - description: ""
                          ruleGroupName: General
                          rules:
                            - description: Possible Multipart Unmatched Boundary.
                              ruleId: 200004
                      ruleSetType: OWASP
                      ruleSetVersion: "3.0"
                    type: Microsoft.Network/applicationGatewayAvailableWafRuleSets
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationGateways":
    get:
      description: Gets all the application gateways in a subscription.
      operationId: ApplicationGateways_ListAll
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Success. The operation returns a list of ApplicationGateway resources.
          schema:
            $ref: "#/definitions/ApplicationGatewayListResult"
      tags:
        - ApplicationGateways
      x-ms-examples:
        Lists all application gateways in a subscription:
          parameters:
            api-version: 2018-02-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - location: southcentralus
                    name: appgw
                    properties:
                      backendAddressPools:
                        - name: appgwpool
                          properties:
                            backendAddresses:
                              - ipAddress: 10.0.1.1
                              - ipAddress: 10.0.1.2
                      backendHttpSettingsCollection:
                        - name: appgwbhs
                          properties:
                            cookieBasedAffinity: Disabled
                            port: 80
                            protocol: Http
                            requestTimeout: 30
                      frontendIPConfigurations:
                        - name: appgwfip
                          properties:
                            publicIPAddress:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/appgwpip
                      frontendPorts:
                        - name: appgwfp
                          properties:
                            port: 443
                      gatewayIPConfigurations:
                        - name: appgwipc
                          properties:
                            subnet:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet/subnets/appgwsubnet
                      httpListeners:
                        - name: appgwhl
                          properties:
                            frontendIPConfiguration:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                            frontendPort:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp
                            protocol: Https
                            requireServerNameIndication: false
                            sslCertificate:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/sslCertificates/sslcert
                      requestRoutingRules:
                        - name: appgwrule
                          properties:
                            backendAddressPool:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                            backendHttpSettings:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                            httpListener:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhl
                            ruleType: Basic
                      sku:
                        capacity: 3
                        name: Standard_Medium
                        tier: Standard
                      sslCertificates:
                        - name: sslcert
                          properties:
                            data: base64-pfxData
                            password: pass1
                    type: Microsoft.Network/applicationGateways
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways":
    get:
      description: Lists all application gateways in a resource group.
      operationId: ApplicationGateways_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Success. The operation returns a list of ApplicationGateway resources.
          schema:
            $ref: "#/definitions/ApplicationGatewayListResult"
      tags:
        - ApplicationGateways
      x-ms-examples:
        Lists all application gateways in a resource group:
          parameters:
            api-version: 2018-02-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - location: southcentralus
                    name: appgw
                    properties:
                      backendAddressPools:
                        - name: appgwpool
                          properties:
                            backendAddresses:
                              - ipAddress: 10.0.1.1
                              - ipAddress: 10.0.1.2
                      backendHttpSettingsCollection:
                        - name: appgwbhs
                          properties:
                            cookieBasedAffinity: Disabled
                            port: 80
                            protocol: Http
                            requestTimeout: 30
                      frontendIPConfigurations:
                        - name: appgwfip
                          properties:
                            publicIPAddress:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/appgwpip
                      frontendPorts:
                        - name: appgwfp
                          properties:
                            port: 443
                      gatewayIPConfigurations:
                        - name: appgwipc
                          properties:
                            subnet:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet/subnets/appgwsubnet
                      httpListeners:
                        - name: appgwhl
                          properties:
                            frontendIPConfiguration:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                            frontendPort:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp
                            protocol: Https
                            requireServerNameIndication: false
                            sslCertificate:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/sslCertificates/sslcert
                      requestRoutingRules:
                        - name: appgwrule
                          properties:
                            backendAddressPool:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                            backendHttpSettings:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                            httpListener:
                              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhl
                            ruleType: Basic
                      sku:
                        capacity: 3
                        name: Standard_Medium
                        tier: Standard
                      sslCertificates:
                        - name: sslcert
                          properties:
                            data: base64-pfxData
                            password: pass1
                    type: Microsoft.Network/applicationGateways
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}":
    delete:
      description: Deletes the specified application gateway.
      operationId: ApplicationGateways_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the application gateway.
          in: path
          name: applicationGatewayName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Delete successful.
        "202":
          description: Accepted and the operation will complete asynchronously.
        "204":
          description: Request successful. Resource with the specified name does not exist
      tags:
        - ApplicationGateways
      x-ms-examples:
        Delete ApplicationGateway:
          parameters:
            api-version: 2018-02-01
            applicationGatewayName: appgw
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets the specified application gateway.
      operationId: ApplicationGateways_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the application gateway.
          in: path
          name: applicationGatewayName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Request successful. The operation returns an ApplicationGateway resource.
          schema:
            $ref: "#/definitions/ApplicationGateway"
      tags:
        - ApplicationGateways
      x-ms-examples:
        Get ApplicationGateway:
          parameters:
            api-version: 2018-02-01
            applicationGatewayName: appgw
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw
                location: southcentralus
                name: appgw
                properties:
                  authenticationCertificates: []
                  backendAddressPools:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                      name: appgwpool
                      properties:
                        backendAddresses: []
                        provisioningState: Succeeded
                  backendHttpSettingsCollection:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                      name: appgwbhs
                      properties:
                        cookieBasedAffinity: Disabled
                        port: 80
                        protocol: Http
                        provisioningState: Succeeded
                        requestTimeout: 30
                  frontendIPConfigurations:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                      name: appgwfip
                      properties:
                        privateIPAllocationMethod: Dynamic
                        provisioningState: Succeeded
                        publicIPAddress:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/appgwpip
                  frontendPorts:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp
                      name: appgwfp
                      properties:
                        port: 443
                        provisioningState: Succeeded
                  gatewayIPConfigurations:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/gatewayIPConfigurations/appgwipc
                      name: appgwipc
                      properties:
                        provisioningState: Succeeded
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/virtualNetwork1/subnets/appgwsubnet
                  httpListeners:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhl
                      name: appgwhl
                      properties:
                        frontendIPConfiguration:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                        frontendPort:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp
                        protocol: Https
                        provisioningState: Succeeded
                        requireServerNameIndication: false
                        sslCertificate:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/sslCertificates/sslcert
                  operationalState: Running
                  probes: []
                  provisioningState: Succeeded
                  requestRoutingRules:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/requestRoutingRules/appgwrule
                      name: appgwrule
                      properties:
                        backendAddressPool:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                        backendHttpSettings:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                        httpListener:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhl
                        provisioningState: Succeeded
                        ruleType: Basic
                  sku:
                    capacity: 3
                    name: Standard_Medium
                    tier: Standard
                  sslCertificates:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/sslCertificates/sslcert
                      name: sslcert
                      properties:
                        provisioningState: Succeeded
                        publicCertData: "*****"
                  urlPathMaps: []
                type: Microsoft.Network/applicationGateways
    patch:
      description: Updates the specified application gateway tags.
      operationId: ApplicationGateways_UpdateTags
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the application gateway.
          in: path
          name: applicationGatewayName
          required: true
          type: string
        - description: Parameters supplied to update application gateway tags.
          in: body
          name: parameters
          required: true
          schema:
            description: Tags object for patch operations.
            properties:
              tags:
                additionalProperties:
                  type: string
                description: Resource tags.
                type: object
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Update successful. The operation returns the resulting ApplicationGateway resource.
          schema:
            $ref: "#/definitions/ApplicationGateway"
      tags:
        - ApplicationGateways
      x-ms-examples:
        Update Application Gateway tags:
          parameters:
            api-version: 2018-02-01
            applicationGatewayName: AppGw
            parameters:
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw
                location: westus
                name: AppGw
                properties:
                  authenticationCertificates: []
                  backendAddressPools:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/backendAddressPools/Pool01
                      name: Pool01
                      properties:
                        backendAddresses:
                          - ipAddress: 10.10.10.1
                          - ipAddress: 10.10.10.2
                          - ipAddress: 10.10.10.3
                        provisioningState: Succeeded
                  backendHttpSettingsCollection:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/backendHttpSettingsCollection/PoolSetting01
                      name: PoolSetting01
                      properties:
                        cookieBasedAffinity: Disabled
                        pickHostNameFromBackendAddress: false
                        port: 80
                        protocol: Http
                        provisioningState: Succeeded
                        requestTimeout: 30
                  frontendIPConfigurations:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/frontendIPConfigurations/FrontEndConfig01
                      name: FrontEndConfig01
                      properties:
                        privateIPAllocationMethod: Dynamic
                        provisioningState: Succeeded
                        publicIPAddress:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/publicIp1
                  frontendPorts:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/frontendPorts/FrontEndPort01
                      name: FrontEndPort01
                      properties:
                        port: 80
                        provisioningState: Succeeded
                  gatewayIPConfigurations:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/gatewayIPConfigurations/GatewayIp01
                      name: GatewayIp01
                      properties:
                        provisioningState: Succeeded
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet/subnets/subnet1
                  httpListeners:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/httpListeners/listener1
                      name: listener1
                      properties:
                        frontendIPConfiguration:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/frontendIPConfigurations/FrontEndConfig01
                        frontendPort:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/frontendPorts/FrontEndPort01
                        protocol: Http
                        provisioningState: Succeeded
                        requireServerNameIndication: false
                  operationalState: Running
                  probes: []
                  provisioningState: Succeeded
                  redirectConfigurations: []
                  requestRoutingRules:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/requestRoutingRules/Rule01
                      name: Rule01
                      properties:
                        backendAddressPool:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/backendAddressPools/Pool01
                        backendHttpSettings:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/backendHttpSettingsCollection/PoolSetting01
                        httpListener:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/AppGw/httpListeners/listener1
                        provisioningState: Succeeded
                        ruleType: Basic
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                  sku:
                    capacity: 2
                    name: Standard_Small
                    tier: Standard
                  sslCertificates: []
                  urlPathMaps: []
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Network/applicationGateways
      x-ms-long-running-operation: true
    put:
      description: Creates or updates the specified application gateway.
      operationId: ApplicationGateways_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the application gateway.
          in: path
          name: applicationGatewayName
          required: true
          type: string
        - description: Parameters supplied to the create or update application gateway operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ApplicationGateway"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Update successful. The operation returns the resulting ApplicationGateway resource.
          schema:
            $ref: "#/definitions/ApplicationGateway"
        "201":
          description: Create successful. The operation returns the resulting ApplicationGateway resource.
          schema:
            $ref: "#/definitions/ApplicationGateway"
      tags:
        - ApplicationGateways
      x-ms-examples:
        Create Application Gateway:
          parameters:
            api-version: 2018-02-01
            applicationGatewayName: appgw
            parameters:
              properties:
                backendAddressPools:
                  - name: appgwpool
                    properties:
                      backendAddresses:
                        - ipAddress: 10.0.1.1
                        - ipAddress: 10.0.1.2
                backendHttpSettingsCollection:
                  - name: appgwbhs
                    properties:
                      cookieBasedAffinity: Disabled
                      port: 80
                      protocol: Http
                      requestTimeout: 30
                frontendIPConfigurations:
                  - name: appgwfip
                    properties:
                      publicIPAddress:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/appgwpip
                frontendPorts:
                  - name: appgwfp
                    properties:
                      port: 443
                gatewayIPConfigurations:
                  - name: appgwipc
                    properties:
                      subnet:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnet/subnets/appgwsubnet
                httpListeners:
                  - name: appgwhl
                    properties:
                      frontendIPConfiguration:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                      frontendPort:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp
                      protocol: Https
                      requireServerNameIndication: false
                      sslCertificate:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/sslCertificates/sslcert
                requestRoutingRules:
                  - name: appgwrule
                    properties:
                      backendAddressPool:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                      backendHttpSettings:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                      httpListener:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhl
                      ruleType: Basic
                sku:
                  capacity: 3
                  name: Standard_Medium
                  tier: Standard
                sslCertificates:
                  - name: sslcert
                    properties:
                      data: "****"
                      password: "****"
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw
                location: southcentralus
                name: appgw
                properties:
                  authenticationCertificates: []
                  backendAddressPools:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                      name: appgwpool
                      properties:
                        backendAddresses: []
                        provisioningState: Succeeded
                  backendHttpSettingsCollection:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                      name: appgwbhs
                      properties:
                        cookieBasedAffinity: Disabled
                        port: 80
                        protocol: Http
                        provisioningState: Succeeded
                        requestTimeout: 30
                  frontendIPConfigurations:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                      name: appgwfip
                      properties:
                        privateIPAllocationMethod: Dynamic
                        provisioningState: Succeeded
                        publicIPAddress:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/appgwpip
                  frontendPorts:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp
                      name: appgwfp
                      properties:
                        port: 443
                        provisioningState: Succeeded
                  gatewayIPConfigurations:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/gatewayIPConfigurations/appgwipc
                      name: appgwipc
                      properties:
                        provisioningState: Succeeded
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/virtualNetwork1/subnets/appgwsubnet
                  httpListeners:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhl
                      name: appgwhl
                      properties:
                        frontendIPConfiguration:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                        frontendPort:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp
                        protocol: Https
                        provisioningState: Succeeded
                        requireServerNameIndication: false
                        sslCertificate:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/sslCertificates/sslcert
                  operationalState: Running
                  probes: []
                  provisioningState: Succeeded
                  requestRoutingRules:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/requestRoutingRules/appgwrule
                      name: appgwrule
                      properties:
                        backendAddressPool:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                        backendHttpSettings:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                        httpListener:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhl
                        provisioningState: Succeeded
                        ruleType: Basic
                  sku:
                    capacity: 3
                    name: Standard_Medium
                    tier: Standard
                  sslCertificates:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/sslCertificates/sslcert
                      name: sslcert
                      properties:
                        provisioningState: Succeeded
                        publicCertData: "*****"
                  urlPathMaps: []
                type: Microsoft.Network/applicationGateways
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw
                location: southcentralus
                name: appgw
                properties:
                  authenticationCertificates: []
                  backendAddressPools:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                      name: appgwpool
                      properties:
                        backendAddresses: []
                        provisioningState: Succeeded
                  backendHttpSettingsCollection:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                      name: appgwbhs
                      properties:
                        cookieBasedAffinity: Disabled
                        port: 80
                        protocol: Http
                        provisioningState: Succeeded
                        requestTimeout: 30
                  frontendIPConfigurations:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                      name: appgwfip
                      properties:
                        privateIPAllocationMethod: Dynamic
                        provisioningState: Succeeded
                        publicIPAddress:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/appgwpip
                  frontendPorts:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp
                      name: appgwfp
                      properties:
                        port: 443
                        provisioningState: Succeeded
                  gatewayIPConfigurations:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/gatewayIPConfigurations/appgwipc
                      name: appgwipc
                      properties:
                        provisioningState: Succeeded
                        subnet:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/virtualNetwork1/subnets/appgwsubnet
                  httpListeners:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhl
                      name: appgwhl
                      properties:
                        frontendIPConfiguration:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendIPConfigurations/appgwfip
                        frontendPort:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/frontendPorts/appgwfp
                        protocol: Https
                        provisioningState: Succeeded
                        requireServerNameIndication: false
                        sslCertificate:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/sslCertificates/sslcert
                  operationalState: Running
                  probes: []
                  provisioningState: Succeeded
                  requestRoutingRules:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/requestRoutingRules/appgwrule
                      name: appgwrule
                      properties:
                        backendAddressPool:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendAddressPools/appgwpool
                        backendHttpSettings:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/appgwbhs
                        httpListener:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/httpListeners/appgwhl
                        provisioningState: Succeeded
                        ruleType: Basic
                  sku:
                    capacity: 3
                    name: Standard_Medium
                    tier: Standard
                  sslCertificates:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/sslCertificates/sslcert
                      name: sslcert
                      properties:
                        provisioningState: Succeeded
                        publicCertData: "*****"
                  urlPathMaps: []
                type: Microsoft.Network/applicationGateways
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/backendhealth":
    post:
      description: Gets the backend health of the specified application gateway in a resource group.
      operationId: ApplicationGateways_BackendHealth
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the application gateway.
          in: path
          name: applicationGatewayName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: Expands BackendAddressPool and BackendHttpSettings referenced in backend health.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        "200":
          description: Request successful.
          schema:
            $ref: "#/definitions/ApplicationGatewayBackendHealth"
        "202":
          description: Accepted and the operation will complete asynchronously.
      tags:
        - ApplicationGateways
      x-ms-examples:
        Get Backend Health:
          parameters:
            api-version: 2018-02-01
            applicationGatewayName: appgw
            resourceGroupName: appgw
            subscriptionId: subid
          responses:
            "200":
              body:
                backendAddressPools:
                  - backendAddressPool:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendaddressPools/MFAnalyticsPool
                    backendHttpSettingsCollection:
                      - backendHttpSettings:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/MFPoolSettings
                        servers:
                          - address: 10.220.1.8
                            health: Up
                  - backendAddressPool:
                      id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendaddressPools/MFPool
                    backendHttpSettingsCollection:
                      - backendHttpSettings:
                          id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationGateways/appgw/backendHttpSettingsCollection/MFPoolSettings
                        servers:
                          - address: 10.220.1.4
                            health: Up
                          - address: 10.220.1.5
                            health: Up
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/start":
    post:
      description: Starts the specified application gateway.
      operationId: ApplicationGateways_Start
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the application gateway.
          in: path
          name: applicationGatewayName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Request successful. The operation starts the ApplicationGateway resource.
        "202":
          description: Accepted and the operation will complete asynchronously.
      tags:
        - ApplicationGateways
      x-ms-examples:
        Start Application Gateway:
          parameters:
            api-version: 2018-02-01
            applicationGatewayName: appgw
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationGateways/{applicationGatewayName}/stop":
    post:
      description: Stops the specified application gateway in a resource group.
      operationId: ApplicationGateways_Stop
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the application gateway.
          in: path
          name: applicationGatewayName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Request successful. The operation stops the ApplicationGateway resource.
        "202":
          description: Accepted and the operation will complete asynchronously.
      tags:
        - ApplicationGateways
      x-ms-examples:
        Stop Application Gateway:
          parameters:
            api-version: 2018-02-01
            applicationGatewayName: appgw
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
definitions:
  ApplicationGateway:
    allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: Application gateway resource
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated.
        type: string
      properties:
        $ref: "#/definitions/ApplicationGatewayPropertiesFormat"
        x-ms-client-flatten: true
  ApplicationGatewayAuthenticationCertificate:
    allOf:
      - $ref: "#/definitions/ApplicationGatewayPathRule/allOf/0"
    description: Authentication certificates of an application gateway.
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated.
        type: string
      name:
        description: Name of the resource that is unique within a resource group. This name can be used to access the resource.
        type: string
      properties:
        $ref: "#/definitions/ApplicationGatewayAuthenticationCertificatePropertiesFormat"
        x-ms-client-flatten: true
      type:
        description: Type of the resource.
        type: string
  ApplicationGatewayAuthenticationCertificatePropertiesFormat:
    description: Authentication certificates properties of an application gateway.
    properties:
      data:
        description: Certificate public data.
        type: string
      provisioningState:
        description: "Provisioning state of the authentication certificate resource. Possible values are: 'Updating', 'Deleting', and 'Failed'."
        type: string
  ApplicationGatewayAvailableSslOptions:
    allOf:
      - $ref: "#/definitions/ApplicationGateway/allOf/0"
    description: Response for ApplicationGatewayAvailableSslOptions API service call.
    properties:
      properties:
        $ref: "#/definitions/ApplicationGatewayAvailableSslOptionsPropertiesFormat"
        x-ms-client-flatten: true
  ApplicationGatewayAvailableSslOptionsPropertiesFormat:
    description: Properties of ApplicationGatewayAvailableSslOptions
    properties:
      availableCipherSuites:
        description: List of available Ssl cipher suites.
        items:
          $ref: "#/definitions/CipherSuitesEnum"
        type: array
      availableProtocols:
        description: List of available Ssl protocols.
        items:
          $ref: "#/definitions/ProtocolsEnum"
        type: array
      defaultPolicy:
        $ref: "#/definitions/PolicyNameEnum"
        description: Name of the Ssl predefined policy applied by default to application gateway
      predefinedPolicies:
        description: List of available Ssl predefined policy.
        items:
          $ref: "#/definitions/ApplicationGatewayPathRule/allOf/0"
        type: array
  ApplicationGatewayAvailableSslPredefinedPolicies:
    description: Response for ApplicationGatewayAvailableSslOptions API service call.
    properties:
      nextLink:
        description: URL to get the next set of results.
        type: string
      value:
        description: List of available Ssl predefined policy.
        items:
          $ref: "#/definitions/ApplicationGatewaySslPredefinedPolicy"
        type: array
  ApplicationGatewayAvailableWafRuleSetsResult:
    description: Response for ApplicationGatewayAvailableWafRuleSets API service call.
    properties:
      value:
        description: The list of application gateway rule sets.
        items:
          $ref: "#/definitions/ApplicationGatewayFirewallRuleSet"
        type: array
  ApplicationGatewayBackendAddress:
    description: Backend address of an application gateway.
    properties:
      fqdn:
        description: Fully qualified domain name (FQDN).
        type: string
      ipAddress:
        description: IP address
        type: string
  ApplicationGatewayBackendAddressPool:
    allOf:
      - $ref: "#/definitions/ApplicationGatewayPathRule/allOf/0"
    description: Backend Address Pool of an application gateway.
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated.
        type: string
      name:
        description: Resource that is unique within a resource group. This name can be used to access the resource.
        type: string
      properties:
        $ref: "#/definitions/ApplicationGatewayBackendAddressPoolPropertiesFormat"
        x-ms-client-flatten: true
      type:
        description: Type of the resource.
        type: string
  ApplicationGatewayBackendAddressPoolPropertiesFormat:
    description: Properties of Backend Address Pool of an application gateway.
    properties:
      backendAddresses:
        description: Backend addresses
        items:
          $ref: "#/definitions/ApplicationGatewayBackendAddress"
        type: array
      backendIPConfigurations:
        description: Collection of references to IPs defined in network interfaces.
        items:
          $ref: "#/definitions/ApplicationGatewayBackendHealthServer/properties/ipConfiguration"
        type: array
      provisioningState:
        description: "Provisioning state of the backend address pool resource. Possible values are: 'Updating', 'Deleting', and 'Failed'."
        type: string
  ApplicationGatewayBackendHealth:
    description: List of ApplicationGatewayBackendHealthPool resources.
    properties:
      backendAddressPools:
        items:
          $ref: "#/definitions/ApplicationGatewayBackendHealthPool"
        type: array
  ApplicationGatewayBackendHealthHttpSettings:
    description: Application gateway BackendHealthHttp settings.
    properties:
      backendHttpSettings:
        $ref: "#/definitions/ApplicationGatewayBackendHttpSettings"
        description: Reference of an ApplicationGatewayBackendHttpSettings resource.
      servers:
        description: List of ApplicationGatewayBackendHealthServer resources.
        items:
          $ref: "#/definitions/ApplicationGatewayBackendHealthServer"
        type: array
  ApplicationGatewayBackendHealthPool:
    description: Application gateway BackendHealth pool.
    properties:
      backendAddressPool:
        $ref: "#/definitions/ApplicationGatewayBackendAddressPool"
        description: Reference of an ApplicationGatewayBackendAddressPool resource.
      backendHttpSettingsCollection:
        description: List of ApplicationGatewayBackendHealthHttpSettings resources.
        items:
          $ref: "#/definitions/ApplicationGatewayBackendHealthHttpSettings"
        type: array
  ApplicationGatewayBackendHealthServer:
    description: Application gateway backendhealth http settings.
    properties:
      address:
        description: IP address or FQDN of backend server.
        type: string
      health:
        description: Health of backend server.
        enum:
          - Unknown
          - Up
          - Down
          - Partial
          - Draining
        type: string
        x-ms-enum:
          modelAsString: true
          name: ApplicationGatewayBackendHealthServerHealth
      ipConfiguration:
        allOf:
          - description: Reference to another subresource.
            properties:
              id:
                description: Resource ID.
                type: string
            x-ms-azure-resource: true
        description: IPConfiguration in a network interface.
        properties:
          etag:
            description: A unique read-only string that changes whenever the resource is updated.
            type: string
          name:
            description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
            type: string
          properties:
            description: Properties of IP configuration.
            properties:
              applicationGatewayBackendAddressPools:
                description: The reference of ApplicationGatewayBackendAddressPool resource.
                items:
                  allOf:
                    - $ref: "#/definitions/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/allOf/0"
                  description: Backend Address Pool of an application gateway.
                  properties:
                    etag:
                      description: A unique read-only string that changes whenever the resource is updated.
                      type: string
                    name:
                      description: Resource that is unique within a resource group. This name can be used to access the resource.
                      type: string
                    properties:
                      description: Properties of Backend Address Pool of an application gateway.
                      properties:
                        backendAddresses:
                          description: Backend addresses
                          items:
                            description: Backend address of an application gateway.
                            properties:
                              fqdn:
                                description: Fully qualified domain name (FQDN).
                                type: string
                              ipAddress:
                                description: IP address
                                type: string
                          type: array
                        backendIPConfigurations:
                          description: Collection of references to IPs defined in network interfaces.
                          items:
                            allOf:
                              - $ref: "#/definitions/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/allOf/0"
                            description: IPConfiguration in a network interface.
                            properties:
                              etag:
                                description: A unique read-only string that changes whenever the resource is updated.
                                type: string
                              name:
                                description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
                                type: string
                              properties:
                                description: Properties of IP configuration.
                                properties:
                                  applicationGatewayBackendAddressPools:
                                    description: The reference of ApplicationGatewayBackendAddressPool resource.
                                    items:
                                      $ref: "#/definitions/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/applicationGatewayBackendAddressPools/items"
                                    type: array
                                  applicationSecurityGroups:
                                    description: Application security groups in which the IP configuration is included.
                                    items:
                                      $ref: "#/definitions/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/applicationSecurityGroups/items"
                                    type: array
                                  loadBalancerBackendAddressPools:
                                    description: The reference of LoadBalancerBackendAddressPool resource.
                                    items:
                                      $ref: "#/definitions/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/loadBalancerBackendAddressPools/items"
                                    type: array
                                  loadBalancerInboundNatRules:
                                    description: A list of references of LoadBalancerInboundNatRules.
                                    items:
                                      $ref: "#/definitions/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/loadBalancerInboundNatRules/items"
                                    type: array
                                  primary:
                                    description: Gets whether this is a primary customer address on the network interface.
                                    type: boolean
                                  privateIPAddress:
                                    description: Private IP address of the IP configuration.
                                    type: string
                                  privateIPAddressVersion:
                                    description: "Available from Api-Version 2016-03-30 onwards, it represents whether the specific ipconfiguration is IPv4 or IPv6. Default is taken as IPv4.  Possible values are: 'IPv4' and 'IPv6'."
                                    enum:
                                      - IPv4
                                      - IPv6
                                    type: string
                                    x-ms-enum:
                                      modelAsString: true
                                      name: IPVersion
                                  privateIPAllocationMethod:
                                    description: "Defines how a private IP address is assigned. Possible values are: 'Static' and 'Dynamic'."
                                    enum:
                                      - Static
                                      - Dynamic
                                    type: string
                                    x-ms-enum:
                                      modelAsString: true
                                      name: IPAllocationMethod
                                  provisioningState:
                                    description: "The provisioning state of the network interface IP configuration. Possible values are: 'Updating', 'Deleting', and 'Failed'."
                                    type: string
                                  publicIPAddress:
                                    $ref: "#/definitions/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/publicIPAddress"
                                    description: Public IP address bound to the IP configuration.
                                  subnet:
                                    $ref: "#/definitions/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/subnet"
                                    description: Subnet bound to the IP configuration.
                          type: array
                        provisioningState:
                          description: "Provisioning state of the backend address pool resource. Possible values are: 'Updating', 'Deleting', and 'Failed'."
                          type: string
                    type:
                      description: Type of the resource.
                      type: string
                type: array
              applicationSecurityGroups:
                description: Application security groups in which the IP configuration is included.
                items:
                  allOf:
                    - $ref: "#/definitions/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/publicIPAddress/allOf/0"
                  description: An application security group in a resource group.
                  properties:
                    etag:
                      description: A unique read-only string that changes whenever the resource is updated.
                      readOnly: true
                      type: string
                    properties:
                      description: Application security group properties.
                      properties:
                        provisioningState:
                          description: "The provisioning state of the application security group resource. Possible values are: 'Succeeded', 'Updating', 'Deleting', and 'Failed'."
                          readOnly: true
                          type: string
                        resourceGuid:
                          description: The resource GUID property of the application security group resource. It uniquely identifies a resource, even if the user changes its name or migrate the resource across subscriptions or resource groups.
                          readOnly: true
                          type: string
                type: array
              loadBalancerBackendAddressPools:
                description: The reference of LoadBalancerBackendAddressPool resource.
                items:
                  allOf:
                    - $ref: "#/definitions/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/allOf/0"
                  description: Pool of backend IP addresses.
                  properties:
                    etag:
                      description: A unique read-only string that changes whenever the resource is updated.
                      type: string
                    name:
                      description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource.
                      type: string
                    properties:
                      description: Properties of the backend address pool.
                      properties:
                        backendIPConfigurations:
                          description: Gets collection of references to IP addresses defined in network interfaces.
                          items:
                            $ref: "#/definitions/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/applicationGatewayBackendAddressPools/items/properties/properties/properties/backendIPConfigurations/items"
                          readOnly: true
                          type: array
                        loadBalancingRules:
                          description: Gets load balancing rules that use this backend address pool.
                          items:
                            $ref: "#/definitions/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/allOf/0"
                          readOnly: true
                          type: array
                        outboundNatRule:
                          $ref: "#/definitions/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/allOf/0"
                          description: Gets outbound rules that use this backend address pool.
                          readOnly: true
                        provisioningState:
                          description: "Get provisioning state of the public IP resource. Possible values are: 'Updating', 'Deleting', and 'Failed'."
                          type: string
                type: array
              loadBalancerInboundNatRules:
                description: A list of references of LoadBalancerInboundNatRules.
                items:
                  allOf:
                    - $ref: "#/definitions/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/allOf/0"
                  description: Inbound NAT rule of the load balancer.
                  properties:
                    etag:
                      description: A unique read-only string that changes whenever the resource is updated.
                      type: string
                    name:
                      description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource.
                      type: string
                    properties:
                      description: Properties of the inbound NAT rule.
                      properties:
                        backendIPConfiguration:
                          $ref: "#/definitions/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/applicationGatewayBackendAddressPools/items/properties/properties/properties/backendIPConfigurations/items"
                        backendPort:
                          description: The port used for the internal endpoint. Acceptable values range from 1 to 65535.
                          format: int32
                          type: integer
                        enableFloatingIP:
                          description: Configures a virtual machine's endpoint for the floating IP capability required to configure a SQL AlwaysOn Availability Group. This setting is required when using the SQL AlwaysOn Availability Groups in SQL server. This setting can't be changed after you create the endpoint.
                          type: boolean
                        frontendIPConfiguration:
                          $ref: "#/definitions/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/allOf/0"
                          description: A reference to frontend IP addresses.
                        frontendPort:
                          description: The port for the external endpoint. Port numbers for each rule must be unique within the Load Balancer. Acceptable values range from 1 to 65534.
                          format: int32
                          type: integer
                        idleTimeoutInMinutes:
                          description: The timeout for the TCP idle connection. The value can be set between 4 and 30 minutes. The default value is 4 minutes. This element is only used when the protocol is set to TCP.
                          format: int32
                          type: integer
                        protocol:
                          description: The transport protocol for the endpoint. Possible values are 'Udp' or 'Tcp' or 'All'.
                          enum:
                            - Udp
                            - Tcp
                            - All
                          type: string
                          x-ms-enum:
                            modelAsString: true
                            name: TransportProtocol
                        provisioningState:
                          description: "Gets the provisioning state of the public IP resource. Possible values are: 'Updating', 'Deleting', and 'Failed'."
                          type: string
                type: array
              primary:
                description: Gets whether this is a primary customer address on the network interface.
                type: boolean
              privateIPAddress:
                description: Private IP address of the IP configuration.
                type: string
              privateIPAddressVersion:
                description: "Available from Api-Version 2016-03-30 onwards, it represents whether the specific ipconfiguration is IPv4 or IPv6. Default is taken as IPv4.  Possible values are: 'IPv4' and 'IPv6'."
                enum:
                  - IPv4
                  - IPv6
                type: string
                x-ms-enum:
                  modelAsString: true
                  name: IPVersion
              privateIPAllocationMethod:
                description: "Defines how a private IP address is assigned. Possible values are: 'Static' and 'Dynamic'."
                enum:
                  - Static
                  - Dynamic
                type: string
                x-ms-enum:
                  modelAsString: true
                  name: IPAllocationMethod
              provisioningState:
                description: "The provisioning state of the network interface IP configuration. Possible values are: 'Updating', 'Deleting', and 'Failed'."
                type: string
              publicIPAddress:
                allOf:
                  - description: Common resource representation.
                    properties:
                      id:
                        description: Resource ID.
                        type: string
                      location:
                        description: Resource location.
                        type: string
                      name:
                        description: Resource name.
                        readOnly: true
                        type: string
                      tags:
                        additionalProperties:
                          type: string
                        description: Resource tags.
                        type: object
                      type:
                        description: Resource type.
                        readOnly: true
                        type: string
                    x-ms-azure-resource: true
                description: Public IP address resource.
                properties:
                  etag:
                    description: A unique read-only string that changes whenever the resource is updated.
                    type: string
                  properties:
                    description: Public IP address properties.
                    properties:
                      dnsSettings:
                        description: Contains FQDN of the DNS record associated with the public IP address
                        properties:
                          domainNameLabel:
                            description: Gets or sets the Domain name label.The concatenation of the domain name label and the regionalized DNS zone make up the fully qualified domain name associated with the public IP address. If a domain name label is specified, an A DNS record is created for the public IP in the Microsoft Azure DNS system.
                            type: string
                          fqdn:
                            description: Gets the FQDN, Fully qualified domain name of the A DNS record associated with the public IP. This is the concatenation of the domainNameLabel and the regionalized DNS zone.
                            type: string
                          reverseFqdn:
                            description: "Gets or Sets the Reverse FQDN. A user-visible, fully qualified domain name that resolves to this public IP address. If the reverseFqdn is specified, then a PTR DNS record is created pointing from the IP address in the in-addr.arpa domain to the reverse FQDN. "
                            type: string
                      idleTimeoutInMinutes:
                        description: The idle timeout of the public IP address.
                        format: int32
                        type: integer
                      ipAddress:
                        description: The IP address associated with the public IP address resource.
                        type: string
                      ipConfiguration:
                        $ref: "#/definitions/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/subnet/properties/properties/properties/ipConfigurations/items"
                      ipTags:
                        description: The list of tags associated with the public IP address.
                        items:
                          description: Contains the IpTag associated with the public IP address
                          properties:
                            ipTagType:
                              description: "Gets or sets the ipTag type: Example FirstPartyUsage."
                              type: string
                            tag:
                              description: Gets or sets value of the IpTag associated with the public IP. Example SQL, Storage etc
                              type: string
                        type: array
                      provisioningState:
                        description: "The provisioning state of the PublicIP resource. Possible values are: 'Updating', 'Deleting', and 'Failed'."
                        type: string
                      publicIPAddressVersion:
                        description: "The public IP address version. Possible values are: 'IPv4' and 'IPv6'."
                        enum:
                          - IPv4
                          - IPv6
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: IPVersion
                      publicIPAllocationMethod:
                        description: "The public IP allocation method. Possible values are: 'Static' and 'Dynamic'."
                        enum:
                          - Static
                          - Dynamic
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: IPAllocationMethod
                      resourceGuid:
                        description: The resource GUID property of the public IP resource.
                        type: string
                  sku:
                    description: SKU of a public IP address
                    properties:
                      name:
                        description: Name of a public IP address SKU.
                        enum:
                          - Basic
                          - Standard
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: PublicIPAddressSkuName
                  zones:
                    description: A list of availability zones denoting the IP allocated for the resource needs to come from.
                    items:
                      type: string
                    type: array
              subnet:
                allOf:
                  - $ref: "#/definitions/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/allOf/0"
                description: Subnet in a virtual network resource.
                properties:
                  etag:
                    description: A unique read-only string that changes whenever the resource is updated.
                    type: string
                  name:
                    description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
                    type: string
                  properties:
                    description: Properties of the subnet.
                    properties:
                      addressPrefix:
                        description: The address prefix for the subnet.
                        type: string
                      ipConfigurations:
                        description: Gets an array of references to the network interface IP configurations using subnet.
                        items:
                          allOf:
                            - $ref: "#/definitions/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/allOf/0"
                          description: IP configuration
                          properties:
                            etag:
                              description: A unique read-only string that changes whenever the resource is updated.
                              type: string
                            name:
                              description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
                              type: string
                            properties:
                              description: Properties of IP configuration.
                              properties:
                                privateIPAddress:
                                  description: The private IP address of the IP configuration.
                                  type: string
                                privateIPAllocationMethod:
                                  description: The private IP allocation method. Possible values are 'Static' and 'Dynamic'.
                                  enum:
                                    - Static
                                    - Dynamic
                                  type: string
                                  x-ms-enum:
                                    modelAsString: true
                                    name: IPAllocationMethod
                                provisioningState:
                                  description: "Gets the provisioning state of the public IP resource. Possible values are: 'Updating', 'Deleting', and 'Failed'."
                                  type: string
                                publicIPAddress:
                                  $ref: "#/definitions/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/publicIPAddress"
                                  description: The reference of the public IP resource.
                                subnet:
                                  $ref: "#/definitions/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/subnet"
                                  description: The reference of the subnet resource.
                        readOnly: true
                        type: array
                      networkSecurityGroup:
                        allOf:
                          - $ref: "#/definitions/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/publicIPAddress/allOf/0"
                        description: NetworkSecurityGroup resource.
                        properties:
                          etag:
                            description: A unique read-only string that changes whenever the resource is updated.
                            type: string
                          properties:
                            description: Network Security Group resource.
                            properties:
                              defaultSecurityRules:
                                description: The default security rules of network security group.
                                items:
                                  $ref: "#/definitions/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/subnet/properties/properties/properties/networkSecurityGroup/properties/properties/properties/securityRules/items"
                                type: array
                              networkInterfaces:
                                description: A collection of references to network interfaces.
                                items:
                                  allOf:
                                    - $ref: "#/definitions/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/publicIPAddress/allOf/0"
                                  description: A network interface in a resource group.
                                  properties:
                                    etag:
                                      description: A unique read-only string that changes whenever the resource is updated.
                                      type: string
                                    properties:
                                      description: "NetworkInterface properties. "
                                      properties:
                                        dnsSettings:
                                          description: DNS settings of a network interface.
                                          properties:
                                            appliedDnsServers:
                                              description: If the VM that uses this NIC is part of an Availability Set, then this list will have the union of all DNS servers from all NICs that are part of the Availability Set. This property is what is configured on each of those VMs.
                                              items:
                                                type: string
                                              type: array
                                            dnsServers:
                                              description: List of DNS servers IP addresses. Use 'AzureProvidedDNS' to switch to azure provided DNS resolution. 'AzureProvidedDNS' value cannot be combined with other IPs, it must be the only value in dnsServers collection.
                                              items:
                                                type: string
                                              type: array
                                            internalDnsNameLabel:
                                              description: Relative DNS name for this NIC used for internal communications between VMs in the same virtual network.
                                              type: string
                                            internalDomainNameSuffix:
                                              description: Even if internalDnsNameLabel is not specified, a DNS entry is created for the primary NIC of the VM. This DNS name can be constructed by concatenating the VM name with the value of internalDomainNameSuffix.
                                              type: string
                                            internalFqdn:
                                              description: Fully qualified DNS name supporting internal communications between VMs in the same virtual network.
                                              type: string
                                        enableAcceleratedNetworking:
                                          description: If the network interface is accelerated networking enabled.
                                          type: boolean
                                        enableIPForwarding:
                                          description: Indicates whether IP forwarding is enabled on this network interface.
                                          type: boolean
                                        ipConfigurations:
                                          description: A list of IPConfigurations of the network interface.
                                          items:
                                            allOf:
                                              - $ref: "#/definitions/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/allOf/0"
                                            description: IPConfiguration in a network interface.
                                            properties:
                                              etag:
                                                description: A unique read-only string that changes whenever the resource is updated.
                                                type: string
                                              name:
                                                description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
                                                type: string
                                              properties:
                                                description: Properties of IP configuration.
                                                properties:
                                                  applicationGatewayBackendAddressPools:
                                                    description: The reference of ApplicationGatewayBackendAddressPool resource.
                                                    items:
                                                      $ref: "#/definitions/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/applicationGatewayBackendAddressPools/items"
                                                    type: array
                                                  applicationSecurityGroups:
                                                    description: Application security groups in which the IP configuration is included.
                                                    items:
                                                      $ref: "#/definitions/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/applicationSecurityGroups/items"
                                                    type: array
                                                  loadBalancerBackendAddressPools:
                                                    description: The reference of LoadBalancerBackendAddressPool resource.
                                                    items:
                                                      $ref: "#/definitions/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/loadBalancerBackendAddressPools/items"
                                                    type: array
                                                  loadBalancerInboundNatRules:
                                                    description: A list of references of LoadBalancerInboundNatRules.
                                                    items:
                                                      $ref: "#/definitions/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/loadBalancerInboundNatRules/items"
                                                    type: array
                                                  primary:
                                                    description: Gets whether this is a primary customer address on the network interface.
                                                    type: boolean
                                                  privateIPAddress:
                                                    description: Private IP address of the IP configuration.
                                                    type: string
                                                  privateIPAddressVersion:
                                                    description: "Available from Api-Version 2016-03-30 onwards, it represents whether the specific ipconfiguration is IPv4 or IPv6. Default is taken as IPv4.  Possible values are: 'IPv4' and 'IPv6'."
                                                    enum:
                                                      - IPv4
                                                      - IPv6
                                                    type: string
                                                    x-ms-enum:
                                                      modelAsString: true
                                                      name: IPVersion
                                                  privateIPAllocationMethod:
                                                    description: "Defines how a private IP address is assigned. Possible values are: 'Static' and 'Dynamic'."
                                                    enum:
                                                      - Static
                                                      - Dynamic
                                                    type: string
                                                    x-ms-enum:
                                                      modelAsString: true
                                                      name: IPAllocationMethod
                                                  provisioningState:
                                                    description: "The provisioning state of the network interface IP configuration. Possible values are: 'Updating', 'Deleting', and 'Failed'."
                                                    type: string
                                                  publicIPAddress:
                                                    $ref: "#/definitions/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/publicIPAddress"
                                                    description: Public IP address bound to the IP configuration.
                                                  subnet:
                                                    $ref: "#/definitions/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/subnet"
                                                    description: Subnet bound to the IP configuration.
                                          type: array
                                        macAddress:
                                          description: The MAC address of the network interface.
                                          type: string
                                        networkSecurityGroup:
                                          $ref: "#/definitions/ApplicationGatewayBackendHealthServer/properties/ipConfiguration/properties/properties/properties/subnet/properties/properties/properties/networkSecurityGroup"
                                          description: The reference of the NetworkSecurityGroup resource.
                                        primary:
                                          description: Gets whether this is a primary network interface on a virtual machine.
                                          type: boolean
                                        provisioningState:
                                          description: "The provisioning state of the public IP resource. Possible values are: 'Updating', 'Deleting', and 'Failed'."
                                          type: string
[...]
