swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Role based access control provides you a way to apply granular level policy administration down to individual resources or resource groups. These calls handle provider operations.
  title: AuthorizationManagementClient
  version: 2018-01-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/authorization/resource-manager/Microsoft.Authorization/preview/2018-01-01-preview/authorization-ProviderOperationsCalls.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: authorization-authorization-ProviderOperationsCalls
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: The API version to use for this operation.
    in: query
    name: api-version
    required: true
    type: string
  ResourceGroupNameParameter:
    description: The name of the resource group.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceProviderNamespaceParameter:
    description: The namespace of the resource provider.
    in: path
    name: resourceProviderNamespace
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: The ID of the target subscription.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.Authorization/providerOperations:
    get:
      description: Gets provider operations metadata for all resource providers.
      operationId: ProviderOperationsMetadata_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - default: resourceTypes
          description: Specifies whether to expand the values.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        "200":
          description: OK - Returns an array of the operations metadata.
          schema:
            $ref: "#/definitions/ProviderOperationsMetadataListResult"
      tags:
        - ProviderOperationsMetadata
      x-ms-examples:
        GetConfigurations:
          parameters:
            api-version: 2017-05-01
          responses:
            "200":
              body:
                value:
                  - displayName: displayName
                    id: id
                    name: name
                    operations: []
                    resourceTypes:
                      - displayName: name
                        name: name
                        operations: []
                    type: type
      x-ms-pageable:
        nextLinkName: nextLink
  "/providers/Microsoft.Authorization/providerOperations/{resourceProviderNamespace}":
    get:
      description: Gets provider operations metadata for the specified resource provider.
      operationId: ProviderOperationsMetadata_Get
      parameters:
        - $ref: "#/parameters/ResourceProviderNamespaceParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - default: resourceTypes
          description: Specifies whether to expand the values.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        "200":
          description: OK - Returns the operations metadata.
          schema:
            $ref: "#/definitions/ProviderOperationsMetadata"
      tags:
        - ProviderOperationsMetadata
      x-ms-examples:
        GetConfigurations:
          parameters:
            api-version: 2017-05-01
            resourceProviderNamespace: resourceProviderNamespace
          responses:
            "200":
              body:
                displayName: displayName
                id: id
                name: name
                operations: []
                resourceTypes:
                  - displayName: name
                    name: name
                    operations: []
                type: type
definitions:
  ProviderOperation:
    description: Operation
    properties:
      description:
        description: The operation description.
        type: string
      displayName:
        description: The operation display name.
        type: string
      isDataAction:
        description: The dataAction flag to specify the operation type.
        type: boolean
      name:
        description: The operation name.
        type: string
      origin:
        description: The operation origin.
        type: string
      properties:
        description: The operation properties.
        type: object
        x-ms-client-flatten: true
  ProviderOperationsMetadata:
    description: Provider Operations metadata
    properties:
      displayName:
        description: The provider display name.
        type: string
      id:
        description: The provider id.
        type: string
      name:
        description: The provider name.
        type: string
      operations:
        description: The provider operations.
        items:
          $ref: "#/definitions/ProviderOperation"
        type: array
      resourceTypes:
        description: The provider resource types
        items:
          $ref: "#/definitions/ResourceType"
        type: array
      type:
        description: The provider type.
        type: string
  ProviderOperationsMetadataListResult:
    description: Provider operations metadata list
    properties:
      nextLink:
        description: The URL to use for getting the next set of results.
        type: string
      value:
        description: The list of providers.
        items:
          $ref: "#/definitions/ProviderOperationsMetadata"
        type: array
  ResourceType:
    description: Resource Type
    properties:
      displayName:
        description: The resource type display name.
        type: string
      name:
        description: The resource type name.
        type: string
      operations:
        description: The resource type operations.
        items:
          $ref: "#/definitions/ProviderOperation"
        type: array
