swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Microsoft Storage Sync Service API
  title: Microsoft Storage Sync
  version: 2017-06-05-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-ms-code-generation-settings:
    name: StorageSyncManagementClient
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/storagesync/resource-manager/Microsoft.StorageSync/preview/2017-06-05-preview/storagesync.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: storagesync
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  ResourceGroupNameParameter:
    description: The name of the resource group within the user's subscription. The name is case insensitive.
    in: path
    maxLength: 90
    minLength: 1
    name: resourceGroupName
    pattern: ^[-\w\._\(\)]+$
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: Gets subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.StorageSync/operations:
    get:
      deprecated: false
      description: Lists all of the available Storage Sync Rest API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Array of operations resources in the Resource Provider
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              type: string
            x-ms-request-id:
              description: request id.
              type: string
          schema:
            $ref: "#/definitions/OperationEntityListResult"
        default:
          description: Error message indicating why the operation failed.
          schema:
            $ref: "#/definitions/StorageSyncError"
      tags:
        - ResourceProvider
        - Operations
      x-ms-examples:
        Operations_List:
          parameters:
            api-version: 2017-06-05-preview
          responses:
            "200":
              body:
                nextLink: null
                value:
                  - display:
                      description: Read any Storage Sync Services
                      operation: Read Storage Sync Services
                      provider: Microsoft.StorageSync
                      resource: Storage Sync Services
                    name: Microsoft.StorageSync/storageSyncServices/read
                    origin: User
                  - display:
                      description: Create or Update any Storage Sync Services
                      operation: Create or Update Storage Sync Services
                      provider: Microsoft.StorageSync
                      resource: Storage Sync Services
                    name: Microsoft.StorageSync/storageSyncServices/write
                    origin: User
                  - display:
                      description: Delete any Storage Sync Services
                      operation: Delete Storage Sync Services
                      provider: Microsoft.StorageSync
                      resource: Storage Sync Services
                    name: Microsoft.StorageSync/storageSyncServices/delete
                    origin: User
                  - display:
                      description: Read any Sync Groups
                      operation: Read Sync Groups
                      provider: Microsoft.StorageSync
                      resource: Sync Groups
                    name: Microsoft.StorageSync/storageSyncServices/syncGroups/read
                    origin: User
                  - display:
                      description: Create or Update any Sync Groups
                      operation: Create or Update Sync Groups
                      provider: Microsoft.StorageSync
                      resource: Sync Groups
                    name: Microsoft.StorageSync/storageSyncServices/syncGroups/write
                    origin: User
                  - display:
                      description: Delete any Sync Groups
                      operation: Delete Sync Groups
                      provider: Microsoft.StorageSync
                      resource: Sync Groups
                    name: Microsoft.StorageSync/storageSyncServices/syncGroups/delete
                    origin: User
                  - display:
                      description: Read any Cloud Endpoints
                      operation: Read Cloud Endpoints
                      provider: Microsoft.StorageSync
                      resource: Cloud Endpoints
                    name: Microsoft.StorageSync/storageSyncServices/syncGroups/cloudEndpoints/read
                    origin: User
                  - display:
                      description: Create or Update any Cloud Endpoints
                      operation: Create or Update Cloud Endpoints
                      provider: Microsoft.StorageSync
                      resource: Cloud Endpoints
                    name: Microsoft.StorageSync/storageSyncServices/syncGroups/cloudEndpoints/write
                    origin: User
                  - display:
                      description: Delete any Cloud Endpoints
                      operation: Delete Cloud Endpoints
                      provider: Microsoft.StorageSync
                      resource: Cloud Endpoints
                    name: Microsoft.StorageSync/storageSyncServices/syncGroups/cloudEndpoints/delete
                    origin: User
                  - display:
                      description: Call this action before backup
                      operation: prebackup
                      provider: Microsoft.StorageSync
                      resource: Cloud Endpoints
                    name: Microsoft.StorageSync/storageSyncServices/syncGroups/cloudEndpoints/prebackup/action
                    origin: User
                  - display:
                      description: Call this action after backup
                      operation: postbackup
                      provider: Microsoft.StorageSync
                      resource: Cloud Endpoints
                    name: Microsoft.StorageSync/storageSyncServices/syncGroups/cloudEndpoints/postbackup/action
                    origin: User
                  - display:
                      description: Call this action before restore
                      operation: prerestore
                      provider: Microsoft.StorageSync
                      resource: Cloud Endpoints
                    name: Microsoft.StorageSync/storageSyncServices/syncGroups/cloudEndpoints/prerestore/action
                    origin: User
                  - display:
                      description: Call this action after restore
                      operation: postrestore
                      provider: Microsoft.StorageSync
                      resource: Cloud Endpoints
                    name: Microsoft.StorageSync/storageSyncServices/syncGroups/cloudEndpoints/postrestore/action
                    origin: User
                  - display:
                      description: Read any Server Endpoints
                      operation: Read Server Endpoints
                      provider: Microsoft.StorageSync
                      resource: Server Endpoints
                    name: Microsoft.StorageSync/storageSyncServices/syncGroups/serverEndpoints/read
                    origin: User
                  - display:
                      description: Create or Update any Server Endpoints
                      operation: Create or Update Server Endpoints
                      provider: Microsoft.StorageSync
                      resource: Server Endpoints
                    name: Microsoft.StorageSync/storageSyncServices/syncGroups/serverEndpoints/write
                    origin: User
                  - display:
                      description: Delete any Server Endpoints
                      operation: Delete Server Endpoints
                      provider: Microsoft.StorageSync
                      resource: Server Endpoints
                    name: Microsoft.StorageSync/storageSyncServices/syncGroups/serverEndpoints/delete
                    origin: User
                  - display:
                      description: Call this action to recall files to a server
                      operation: recallAction
                      provider: Microsoft.StorageSync
                      resource: Server Endpoints
                    name: Microsoft.StorageSync/storageSyncServices/syncGroups/serverEndpoints/recallAction/action
                    origin: User
                  - display:
                      description: Read any Registered Server
                      operation: Read Registered Server
                      provider: Microsoft.StorageSync
                      resource: Registered Server
                    name: Microsoft.StorageSync/storageSyncServices/registeredServers/read
                    origin: User
                  - display:
                      description: Create or Update any Registered Server
                      operation: Create or Update Registered Server
                      provider: Microsoft.StorageSync
                      resource: Registered Server
                    name: Microsoft.StorageSync/storageSyncServices/registeredServers/write
                    origin: User
                  - display:
                      description: Delete any Registered Server
                      operation: Delete Registered Server
                      provider: Microsoft.StorageSync
                      resource: Registered Server
                    name: Microsoft.StorageSync/storageSyncServices/registeredServers/delete
                    origin: User
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.StorageSync/storageSyncServices":
    get:
      description: Get a StorageSyncService list by subscription.
      operationId: StorageSyncServices_ListBySubscription
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Array of registered Storage Sync Service resources in the subscription.
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              type: string
            x-ms-request-id:
              description: request id.
              type: string
          schema:
            $ref: "#/definitions/StorageSyncServiceArray"
        default:
          description: Error message indicating why the operation failed.
          schema:
            $ref: "#/definitions/StorageSyncError"
      tags:
        - StorageSyncServices Resource
      x-ms-examples:
        StorageSyncServices_ListBySubscription:
          parameters:
            api-version: 2017-06-05-preview
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1
                    location: WestUS
                    name: SampleStorageSyncService_1
                    properties:
                      storageSyncServiceStatus: 0
                      storageSyncServiceUid: '"3d1bf292-0f2a-4cc1-a3e1-60f35800e40c"'
                    tags: {}
                    type: Microsoft.StorageSync/storageSyncServices
                  - id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_2
                    location: WestUS
                    name: SampleStorageSyncService_2
                    properties:
                      storageSyncServiceStatus: 0
                      storageSyncServiceUid: '"2de01144-72da-4d7f-9d0c-e858855114a8"'
                    tags: {}
                    type: Microsoft.StorageSync/storageSyncServices
                  - id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_3
                    location: WestUS
                    name: SampleStorageSyncService_3
                    properties:
                      storageSyncServiceStatus: 0
                      storageSyncServiceUid: '"b2c58ee5-933e-462c-8a9e-b30f2bdd8fa3"'
                    tags: {}
                    type: Microsoft.StorageSync/storageSyncServices
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices":
    get:
      description: Get a StorageSyncService list by Resource group name.
      operationId: StorageSyncServices_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Array of registered Storage Sync Service resources in the Resource Group
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              type: string
            x-ms-request-id:
              description: request id.
              type: string
          schema:
            $ref: "#/definitions/StorageSyncServiceArray"
        default:
          description: Error message indicating why the operation failed.
          schema:
            $ref: "#/definitions/StorageSyncError"
      tags:
        - StorageSyncServices Resource
      x-ms-examples:
        StorageSyncServices_ListByResourceGroup:
          parameters:
            api-version: 2017-06-05-preview
            resourceGroupName: SampleResourceGroup_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1
                    location: WestUS
                    name: SampleStorageSyncService_1
                    properties:
                      storageSyncServiceStatus: 0
                      storageSyncServiceUid: '"3d1bf292-0f2a-4cc1-a3e1-60f35800e40c"'
                    tags: {}
                    type: Microsoft.StorageSync/storageSyncServices
                  - id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_2
                    location: WestUS
                    name: SampleStorageSyncService_2
                    properties:
                      storageSyncServiceStatus: 0
                      storageSyncServiceUid: '"2de01144-72da-4d7f-9d0c-e858855114a8"'
                    tags: {}
                    type: Microsoft.StorageSync/storageSyncServices
                  - id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_3
                    location: WestUS
                    name: SampleStorageSyncService_3
                    properties:
                      storageSyncServiceStatus: 0
                      storageSyncServiceUid: '"b2c58ee5-933e-462c-8a9e-b30f2bdd8fa3"'
                    tags: {}
                    type: Microsoft.StorageSync/storageSyncServices
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}":
    delete:
      description: Delete a given StorageSyncService.
      operationId: StorageSyncServices_Delete
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          type: string
      responses:
        "200":
          description: Storage Sync Service object was deleted.
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              type: string
            x-ms-request-id:
              description: request id.
              type: string
        "204":
          description: Storage Sync Service Resource doesn't exist
        default:
          description: Error message indicating why the operation failed.
          schema:
            $ref: "#/definitions/StorageSyncError"
      tags:
        - StorageSyncServices Resource
      x-ms-examples:
        StorageSyncServices_Delete:
          parameters:
            api-version: 2017-06-05-preview
            resourceGroupName: SampleResourceGroup_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
          responses:
            "200": {}
            "204": {}
    get:
      description: Get a given StorageSyncService.
      operationId: StorageSyncServices_Get
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Storage Sync Service object
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              type: string
            x-ms-request-id:
              description: request id.
              type: string
          schema:
            $ref: "#/definitions/StorageSyncService"
        default:
          description: Error message indicating why the operation failed.
          schema:
            $ref: "#/definitions/StorageSyncError"
      tags:
        - StorageSyncServices Resource
      x-ms-examples:
        StorageSyncServices_Get:
          parameters:
            api-version: 2017-06-05-preview
            resourceGroupName: SampleResourceGroup_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
            syncGroupName: SampleSyncGroup_1
          responses:
            "200":
              body:
                id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1
                location: WestUS
                name: SampleStorageSyncService_1
                properties:
                  storageSyncServiceStatus: 0
                  storageSyncServiceUid: '"2de01144-72da-4d7f-9d0c-e858855114a8"'
                tags: {}
                type: Microsoft.StorageSync/storageSyncServices
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
    patch:
      description: Patch a given StorageSyncService.
      operationId: StorageSyncServices_Update
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          type: string
        - description: Storage Sync Service resource.
          in: body
          name: parameters
          schema:
            $ref: "#/definitions/StorageSyncService"
      responses:
        "200":
          description: Storage Sync Service object created/updated
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              type: string
            x-ms-request-id:
              description: request id.
              type: string
          schema:
            $ref: "#/definitions/StorageSyncService"
        default:
          description: Error message indicating why the operation failed.
          schema:
            $ref: "#/definitions/StorageSyncError"
      tags:
        - StorageSyncServices Resource
      x-ms-examples:
        StorageSyncServices_Update:
          parameters:
            api-version: 2017-06-05-preview
            parameters:
              location: WestUS
              tags:
                Dept: IT
                Environment: Test
              type: Microsoft.StorageSync/storageSyncServices
            resourceGroupName: SampleResourceGroup_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
          responses:
            "200":
              body:
                id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1
                location: WestUS
                name: SampleStorageSyncService_1
                tags:
                  Dept: IT
                  Environment: Test
                type: Microsoft.StorageSync/storageSyncServices
    put:
      description: Create a new StorageSyncService.
      operationId: StorageSyncServices_Create
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          type: string
        - description: Storage Sync Service resource name.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/StorageSyncService"
      responses:
        "200":
          description: Storage Sync Service object created/updated
          schema:
            $ref: "#/definitions/StorageSyncService"
        default:
          description: Error message indicating why the operation failed.
          schema:
            $ref: "#/definitions/StorageSyncError"
      tags:
        - StorageSyncServices Resource
      x-ms-examples:
        StorageSyncServices_Create:
          parameters:
            api-version: 2017-06-05-preview
            parameters:
              location: WestUS
              tags: {}
              type: Microsoft.StorageSync/storageSyncServices
            resourceGroupName: SampleResourceGroup_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
          responses:
            "200":
              body:
                id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1
                location: WestUS
                name: SampleStorageSyncService_1
                tags: {}
                type: Microsoft.StorageSync/storageSyncServices
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/registeredServers":
    get:
      description: Get a given registered server list.
      operationId: RegisteredServers_ListByStorageSyncService
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          type: string
      responses:
        "200":
          description: Array of Registered Server resources in Storage Sync Service
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              type: string
            x-ms-request-id:
              description: request id.
              type: string
          schema:
            $ref: "#/definitions/RegisteredServerArray"
        default:
          description: Error message indicating why the operation failed.
          schema:
            $ref: "#/definitions/StorageSyncError"
      tags:
        - RegisteredServer Resource
      x-ms-examples:
        RegisteredServers_ListByStorageSyncService:
          parameters:
            api-version: 2017-06-05-preview
            resourceGroupName: SampleResourceGroup_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/registeredServers/080d4133-bdb5-40a0-96a0-71a6057bfe9a
                    name: SampleRegisteredServer_1.redmond.corp.microsoft.com
                    properties:
                      agentVersion: 1.0.277.0
                      clusterId: '"00000000-0000-0000-0000-000000000000"'
                      clusterName: ""
                      lastHeartBeat: '"2017-08-08T18:29:06.470652+00:00"'
                      lastWorkflowId: ""
                      provisioningState: Created
                      serverId: '"080d4133-bdb5-40a0-96a0-71a6057bfe9a"'
                      serverManagementtErrorCode: 0
                      serverOSVersion: 10.0.14393.0
                      serverRole: Standalone
                      storageSyncServiceUid: '"3d1bf292-0f2a-4cc1-a3e1-60f35800e40c"'
                    type: Microsoft.StorageSync/storageSyncServices/registeredServers
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/registeredServers/{serverId}":
    delete:
      description: Delete the given registered server.
      operationId: RegisteredServers_Delete
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          type: string
        - description: GUID identifying the on-premises server.
          in: path
          name: serverId
          required: true
          type: string
      responses:
        "200":
          description: Ok
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              type: string
            x-ms-request-id:
              description: request id.
              type: string
        "202":
          description: Asynchronous Operation Status Location
          headers:
            Location:
              description: Operation Status Location URI
              type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              type: string
            x-ms-request-id:
              description: request id.
              type: string
        "204":
          description: Resource doesn't exist
        default:
          description: Error message indicating why the operation failed.
          schema:
            $ref: "#/definitions/StorageSyncError"
      tags:
        - RegisteredServer Resource
      x-ms-examples:
        RegisteredServers_Delete:
          parameters:
            api-version: 2017-06-05-preview
            resourceGroupName: SampleResourceGroup_1
            serverId: 41166691-ab03-43e9-ab3e-0330eda162ac
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
          responses:
            "200":
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/workflows/cdb963fd-ea36-457e-9222-f85754ff398c/operations/20675646-8111-4158-954b-6b637e922cbf?api-version=2017-06-05-preview
                Location: https://management.azure.com/subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/workflows/cdb963fd-ea36-457e-9222-f85754ff398c/operationresults/20675646-8111-4158-954b-6b637e922cbf?api-version=2017-06-05-preview
                Retry-After: "10"
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Get a given registered server.
      operationId: RegisteredServers_Get
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          type: string
        - description: GUID identifying the on-premises server.
          in: path
          name: serverId
          required: true
          type: string
      responses:
        "200":
          description: Registered Server resources in Sync Group
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              type: string
            x-ms-request-id:
              description: request id.
              type: string
          schema:
            $ref: "#/definitions/RegisteredServer"
        default:
          description: Error message indicating why the operation failed.
          schema:
            $ref: "#/definitions/StorageSyncError"
      tags:
        - RegisteredServer Resource
      x-ms-examples:
        RegisteredServers_Get:
          parameters:
            api-version: 2017-06-05-preview
            resourceGroupName: SampleResourceGroup_1
            serverId: 080d4133-bdb5-40a0-96a0-71a6057bfe9a
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
          responses:
            "200":
              body:
                id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/registeredServers/080d4133-bdb5-40a0-96a0-71a6057bfe9a
                name: SampleRegisteredServer_1.redmond.corp.microsoft.com
                properties:
                  agentVersion: 1.0.277.0
                  clusterId: '"00000000-0000-0000-0000-000000000000"'
                  clusterName: ""
                  lastHeartBeat: '"2017-08-08T18:29:06.470652+00:00"'
                  lastWorkflowId: ""
                  provisioningState: Created
                  serverId: '"080d4133-bdb5-40a0-96a0-71a6057bfe9a"'
                  serverManagementtErrorCode: 0
                  serverOSVersion: 10.0.14393.0
                  serverRole: Standalone
                  storageSyncServiceUid: '"3d1bf292-0f2a-4cc1-a3e1-60f35800e40c"'
                type: Microsoft.StorageSync/storageSyncServices/registeredServers
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
    put:
      description: Add a new registered server.
      operationId: RegisteredServers_Create
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          type: string
        - description: GUID identifying the on-premises server.
          in: path
          name: serverId
          required: true
          type: string
        - description: Body of Registered Server object.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/RegisteredServer"
      responses:
        "200":
          description: Registered Server resources in Sync Group
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              type: string
            x-ms-request-id:
              description: request id.
              type: string
          schema:
            $ref: "#/definitions/RegisteredServer"
        "202":
          description: Asynchronous Operation Status Location
          headers:
            Azure-AsyncOperation:
              description: Operation Status Location URI
              type: string
            Location:
              description: Operation Status Location URI
              type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              type: string
            x-ms-request-id:
              description: request id.
              type: string
        default:
          description: Error message indicating why the operation failed.
          schema:
            $ref: "#/definitions/StorageSyncError"
      tags:
        - RegisteredServer Resource
      x-ms-examples:
        RegisteredServers_Create:
          parameters:
            api-version: 2017-06-05-preview
            parameters:
              name: SampleServer-prod3.redmond.corp.microsoft.com
              properties:
                agentVersion: 1.0.277.0
                lastHeartBeat: '"2017-08-08T18:29:06.470652Z"'
                provisioningState: Created
                serverCertificate: '"MIIDFjCCAf6gAwIBAgIQQS+DS8uhc4VNzUkTw7wbRjANBgkqhkiG9w0BAQ0FADAzMTEwLwYDVQQDEyhhbmt1c2hiLXByb2QzLnJlZG1vbmQuY29ycC5taWNyb3NvZnQuY29tMB4XDTE3MDgwMzE3MDQyNFoXDTE4MDgwNDE3MDQyNFowMzExMC8GA1UEAxMoYW5rdXNoYi1wcm9kMy5yZWRtb25kLmNvcnAubWljcm9zb2Z0LmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALDRvV4gmsIy6jGDPiHsXmvgVP749NNP7DopdlbHaNhjFmYINHl0uWylyaZmgJrROt2mnxN/zEyJtGnqYHlzUr4xvGq/qV5pqgdB9tag/sw9i22gfe9PRZ0FmSOZnXMbLYgLiDFqLtut5gHcOuWMj03YnkfoBEKlFBxWbagvW2yxz/Sxi9OVSJOKCaXra0RpcIHrO/KFl6ho2eE1/7Ykmfa8hZvSdoPd5gHdLiQcMB/pxq+mWp1fI6c8vFZoDu7Atn+NXTzYPKUxKzaisF12TsaKpohUsJpbB3Wocb0F5frn614D2pg14ERB5otjAMWw1m65csQWPI6dP8KIYe0+QPkCAwEAAaMmMCQwIgYDVR0lAQH/BBgwFgYIKwYBBQUHAwIGCisGAQQBgjcKAwwwDQYJKoZIhvcNAQENBQADggEBAA4RhVIBkw34M1RwakJgHvtjsOFxF1tVQA941NtLokx1l2Z8+GFQkcG4xpZSt+UN6wLerdCbnNhtkCErWUDeaT0jxk4g71Ofex7iM04crT4iHJr8mi96/XnhnkTUs+GDk12VgdeeNEczMZz+8Mxw9dJ5NCnYgTwO0SzGlclRsDvjzkLo8rh2ZG6n/jKrEyNXXo+hOqhupij0QbRP2Tvexdfw201kgN1jdZify8XzJ8Oi0bTS0KpJf2pNPOlooK2bjMUei9ANtEdXwwfVZGWvVh6tJjdv6k14wWWJ1L7zhA1IIVb1J+sQUzJji5iX0DrezjTz1Fg+gAzITaA/WsuujlM="'
                serverManagementtErrorCode: 0
                serverOSVersion: 10.0.14393.0
                serverRole: Standalone
              type: Microsoft.StorageSync/storageSyncServices/registeredServers
            resourceGroupName: SampleResourceGroup_1
            serverId: '"080d4133-bdb5-40a0-96a0-71a6057bfe9a"'
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
          responses:
            "200":
              body:
                id: /subscriptions/52b8da2f-61e0-4a1f-8dde-336911f367fb/resourceGroups/SampleResourceGroup_1/providers/10.91.86.47/storageSyncServices/SampleStorageSyncService_1/registeredServers/530a0384-50ac-456d-8240-9d6621404151
                name: ankushb-prod3.redmond.corp.microsoft.com
                properties:
                  agentVersion: 1.0.278.0
                  clusterId: '"00000000-0000-0000-0000-000000000000"'
                  lastHeartBeat: '"2017-08-21T13:24:18.2641509-07:00"'
                  lastWorkflowId: /subscriptions/52b8da2f-61e0-4a1f-8dde-336911f367fb/resourceGroups/SampleResourceGroup_1/providers/10.91.86.47/storageSyncServices/SampleStorageSyncService_1/workflows/c36c3bcb-a72e-492a-b700-4ad74a8e3d69
                  provisioningState: Succeeded
                  serverId: '"530a0384-50ac-456d-8240-9d6621404151"'
                  serverManagementtErrorCode: 0
                  serverOSVersion: 10.0.14393.0
                  serverRole: Standalone
                  storageSyncServiceUid: '"56cfb290-f846-4c96-abc4-ee338bd252e8"'
                type: 10.91.86.47/storageSyncServices/registeredServers
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/workflows/63e554fd-4d27-4b91-8249-2fc697de7c69/operations/d4b00aa1-7ae0-47f0-9fa7-7ed3ea527bc9?api-version=2017-06-05-preview
                Location: https://management.azure.com/subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/workflows/63e554fd-4d27-4b91-8249-2fc697de7c69/operationresults/d4b00aa1-7ae0-47f0-9fa7-7ed3ea527bc9?api-version=2017-06-05-preview
                Retry-After: "10"
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups":
    get:
      description: Get a SyncGroup List.
      operationId: SyncGroups_ListByStorageSyncService
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          type: string
      responses:
        "200":
          description: Array of Sync Group resources in Storage Sync Service
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              type: string
            x-ms-request-id:
              description: request id.
              type: string
          schema:
            $ref: "#/definitions/SyncGroupArray"
        default:
          description: Error message indicating why the operation failed.
          schema:
            $ref: "#/definitions/StorageSyncError"
      tags:
        - SyncGroup Resource
      x-ms-examples:
        SyncGroups_ListByStorageSyncService:
          parameters:
            api-version: 2017-06-05-preview
            resourceGroupName: SampleResourceGroup_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SSS_Restore_08-08_Test112/syncGroups/SampleSyncGroup_1
                    name: SampleSyncGroup_1
                    properties:
                      syncGroupStatus: "0"
                      uniqueId: 191660cd-6a1a-4f8c-9787-a6bed206a1dd
                    type: Microsoft.StorageSync/storageSyncServices/syncGroups
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}":
    delete:
      description: Delete a given SyncGroup.
      operationId: SyncGroups_Delete
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          type: string
      responses:
        "200":
          description: Sync Group object was deleted
          headers:
            x-ms-correlation-request-id:
              description: correlation request id
              type: string
            x-ms-request-id:
              description: Request id
              type: string
        "204":
          description: Resource doesn't exist
        default:
          description: Error message indicating why the operation failed.
          schema:
            $ref: "#/definitions/StorageSyncError"
      tags:
        - SyncGroup Resource
      x-ms-examples:
        SyncGroups_Delete:
          parameters:
            api-version: 2017-06-05-preview
            resourceGroupName: SampleResourceGroup_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
            syncGroupName: SampleSyncGroup_1
          responses:
            "200":
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
            "204": {}
    get:
      description: Get a given SyncGroup.
      operationId: SyncGroups_Get
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          type: string
      responses:
        "200":
          description: Sync Group object
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              type: string
            x-ms-request-id:
              description: request id.
              type: string
          schema:
            $ref: "#/definitions/SyncGroup"
        default:
          description: Error message indicating why the operation failed.
          schema:
            $ref: "#/definitions/StorageSyncError"
      tags:
        - SyncGroup Resource
      x-ms-examples:
        SyncGroups_Get:
          parameters:
            api-version: 2017-06-05-preview
            resourceGroupName: SampleResourceGroup_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
            syncGroupName: SampleSyncGroup_1
          responses:
            "200":
              body:
                id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SSS_Restore_08-08_Test112/syncGroups/SampleSyncGroup_1
                name: SampleSyncGroup_1
                properties:
                  syncGroupStatus: "0"
                  uniqueId: 191660cd-6a1a-4f8c-9787-a6bed206a1dd
                type: Microsoft.StorageSync/storageSyncServices/syncGroups
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
    put:
      description: Create a new SyncGroup.
      operationId: SyncGroups_Create
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          type: string
        - description: Sync Group Body
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/SyncGroup"
      responses:
        "200":
          description: Sync Group object
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              type: string
            x-ms-request-id:
              description: request id.
              type: string
          schema:
            $ref: "#/definitions/SyncGroup"
        default:
          description: Error message indicating why the operation failed.
          schema:
            $ref: "#/definitions/StorageSyncError"
      tags:
        - SyncGroup Resource
      x-ms-examples:
        SyncGroups_Create:
          parameters:
            api-version: 2017-06-05-preview
            parameters:
              type: Microsoft.StorageSync/storageSyncServices/syncGroups
            resourceGroupName: SampleResourceGroup_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
            syncGroupName: SampleSyncGroup_1
          responses:
            "200":
              body:
                id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/syncGroups/SampleSyncGroup_1
                name: SampleSyncGroup_1
                properties:
                  uniqueId: 7868e4ee-8ddd-4a2d-941b-0041f6052a8a
                type: Microsoft.StorageSync/storageSyncServices/syncGroups
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints":
    get:
      description: Get a CloudEndpoint List.
      operationId: CloudEndpoints_ListBySyncGroup
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          type: string
      responses:
        "200":
          description: Array of Cloud Endpoint resources in Sync Group
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              type: string
            x-ms-request-id:
              description: request id.
              type: string
          schema:
            $ref: "#/definitions/CloudEndpointArray"
        default:
          description: Error message indicating why the operation failed.
          schema:
            $ref: "#/definitions/StorageSyncError"
      tags:
        - CloudEndpoint Resource
      x-ms-examples:
        CloudEndpoints_ListBySyncGroup:
          parameters:
            api-version: 2017-06-05-preview
            resourceGroupName: SampleResourceGroup_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
            syncGroupName: SampleSyncGroup_1
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/syncGroups/SyncGroup_Restore_08-08_Test112/cloudEndpoints/CEP_Restore_08-08_Test112
                    name: CEP_Restore_08-08_Test112
                    properties:
                      friendlyName: SampleAzureFileShareName_1
                      lastWorkflowId: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/workflows/a377fdd5-949a-40ab-9629-06cd0e9852f9
                      partnershipId: 1|U0VSVkVSQVNTWU5DQ0xJRU5Udfsdfdsfs8MTkxNjYwQ0QtNkExQS00RjhDLTk3ODctQTZCRUQyMDZBMUREfEdFTkVSSUN8M0EwNDgyODMtMzM4Ri00MDAyLUE5REQtQTUwRkRBRENCMzky
                      provisioningState: Succeeded
                      storageAccount: https://storageaccounturl/SampleAzureFileShareName_1
                      storageAccountKey: storageaccountKeyvalue
                      storageAccountResourceId: ""
                      storageAccountShareName: ""
                      storageAccountTenantId: '"a4d1b191-c1af-4cef-a14b-f670e0beea52"'
                    type: Microsoft.StorageSync/storageSyncServices/syncGroups/cloudEndpoints
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}":
    delete:
      description: Delete a given CloudEndpoint.
      operationId: CloudEndpoints_Delete
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          type: string
        - description: Name of Cloud Endpoint object.
          in: path
          name: cloudEndpointName
          required: true
          type: string
      responses:
        "200":
          description: Ok
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              type: string
            x-ms-request-id:
              description: request id.
              type: string
        "202":
          description: Asynchronous Operation Status Location
          headers:
            Azure-AsyncOperation:
              description: Operation Status Location URI
              type: string
            Location:
              description: Operation Status Location URI
              type: string
            Retry-After:
              description: Retry After
              type: string
            x-ms-correlation-request-id:
              description: correlation request id
              type: string
            x-ms-request-id:
              description: Request id
              type: string
        "204":
          description: Resource doesn't exist
        default:
          description: Error message indicating why the operation failed.
          schema:
            $ref: "#/definitions/StorageSyncError"
      tags:
        - CloudEndpoint Resource
      x-ms-examples:
        CloudEndpoints_Delete:
          parameters:
            api-version: 2017-06-05-preview
            cloudEndpointName: SampleCloudEndpoint_1
            resourceGroupName: SampleResourceGroup_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
            syncGroupName: SampleSyncGroup_1
          responses:
            "200":
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/workflows/78a71465-77ef-4509-a026-2c0cd8b30208/operations/2d7f573a-7acd-4a3c-9425-fed7d029c69d?api-version=2017-06-05-preview
                Location: https://management.azure.com/subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/workflows/78a71465-77ef-4509-a026-2c0cd8b30208/operationresults/2d7f573a-7acd-4a3c-9425-fed7d029c69d?api-version=2017-06-05-preview
                Retry-After: "10"
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Get a given CloudEndpoint.
      operationId: CloudEndpoints_Get
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          type: string
        - description: Name of Cloud Endpoint object.
          in: path
          name: cloudEndpointName
          required: true
          type: string
      responses:
        "200":
          description: Cloud Endpoint object
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              type: string
            x-ms-request-id:
              description: request id.
              type: string
          schema:
            $ref: "#/definitions/CloudEndpoint"
        default:
          description: Error message indicating why the operation failed.
          schema:
            $ref: "#/definitions/StorageSyncError"
      tags:
        - CloudEndpoint Resource
      x-ms-examples:
        CloudEndpoints_Get:
          parameters:
            api-version: 2017-06-05-preview
            cloudEndpointName: SampleCloudEndpoint_1
            resourceGroupName: SampleResourceGroup_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
            syncGroupName: SampleSyncGroup_1
          responses:
            "200":
              body:
                id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/syncGroups/SyncGroup_Restore_08-08_Test112/cloudEndpoints/CEP_Restore_08-08_Test112
                name: SampleCloudEndpoint_1
                properties:
                  friendlyName: SampleAzureFileShareName_1
                  lastWorkflowId: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/workflows/a377fdd5-949a-40ab-9629-06cd0e9852f9
                  partnershipId: 1|U0VSVkVSQVNTWU5DQ0xJRU5USEZTVjJ8MTkxNjYwQ0QtNkExQS00RjhDLTk3ODctQTZCRUQyMDZBMUREfEdFTkVSSUN8M0EwNDgyODMtMzM4Ri00MDAyLUE5REQtQTUwRkRBRENCMzky
                  provisioningState: Succeeded
                  storageAccount: https://storageaccounturl/SampleAzureFileShareName_1
                  storageAccountKey: storageaccountkeyvalue
                  storageAccountResourceId: ""
                  storageAccountShareName: ""
                  storageAccountTenantId: '"a4d1b191-c1af-4cef-a14b-f670e0beea52"'
                type: Microsoft.StorageSync/storageSyncServices/syncGroups/cloudEndpoints
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
    put:
      description: Create a new CloudEndpoint.
      operationId: CloudEndpoints_Create
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          type: string
        - description: Name of Cloud Endpoint object.
          in: path
          name: cloudEndpointName
          required: true
          type: string
        - description: Body of Cloud Endpoint resource.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/CloudEndpoint"
      responses:
        "200":
          description: Cloud Endpoint object
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              type: string
            x-ms-request-id:
              description: request id.
              type: string
          schema:
            $ref: "#/definitions/CloudEndpoint"
        "202":
          description: Asynchronous Operation Status Location
          headers:
            Azure-AsyncOperation:
              description: Operation Status Location URI
              type: string
            Location:
              description: Operation Status Location URI
              type: string
            Retry-After:
              description: Retry After
              type: string
            x-ms-correlation-request-id:
              description: correlation request id
              type: string
            x-ms-request-id:
              description: Request id
              type: string
        default:
          description: Error message indicating why the operation failed.
          schema:
            $ref: "#/definitions/StorageSyncError"
      tags:
        - CloudEndpoint Resource
      x-ms-examples:
        CloudEndpoints_Create:
          parameters:
            api-version: 2017-06-05-preview
            cloudEndpointName: SampleCloudEndpoint_1
            parameters:
              properties:
                provisioningState: Created
                storageAccount: https://storageaccounturl/SampleCloudEndpoint
                storageAccountKey: storageaccountkeyvalue
                storageAccountResourceId: ""
                storageAccountShareName: ""
                storageAccountTenantId: '"a4d1b191-c1af-4cef-a14b-f670e0beea52"'
              type: Microsoft.StorageSync/storageSyncServices/syncGroups/cloudEndpoints
            resourceGroupName: SampleResourceGroup_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
            syncGroupName: SampleSyncGroup_1
          responses:
            "200":
              body:
                id: /subscriptions/52b8da2f-61e0-4a1f-8dde-336911f367fb/resourceGroups/SampleResourceGroup_1/providers/10.91.86.47/storageSyncServices/SampleStorageSyncService_1/syncGroups/SampleSyncGroup_1/cloudEndpoints/SampleCloudEndpoint_1
                name: SampleCloudEndpoint_1
                properties:
                  friendlyName: ankushbsubscriptionmgmtmab
                  lastWorkflowId: /subscriptions/52b8da2f-61e0-4a1f-8dde-336911f367fb/resourceGroups/SampleResourceGroup_1/providers/10.91.86.47/storageSyncServices/SampleStorageSyncService_1/workflows/6fe524cf-5944-4e87-816f-e4a85a1f3533
                  partnershipId: 1|U0VSVkVSQVNTWU5DQ0xJRU5USEZTVjJ8RjhDODcwQTItMkFGNi00NDUyLTgzMDgtRjJCQTZEQjI3RkEwfEdFTkVSSUN8NTJCOERBMkYtNjFFMC00QTFGLThEREUtMzM2OTExRjM2N0ZC
                  provisioningState: Succeeded
                  storageAccount: https://storageaccounturl/ankushbsubscriptionmgmtmab
                  storageAccountTenantId: '"a4d1b191-c1af-4cef-a14b-f670e0beea52"'
                type: 10.91.86.47/storageSyncServices/syncGroups/cloudEndpoints
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncservice_1/workflows/c1d54be7-4738-4898-8212-cc36774314f8/operations/7ce689b2-0eca-48f5-86f0-0b8d6ceef14a?api-version=2017-06-05-preview
                Location: https://management.azure.com/subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncservice_1/workflows/c1d54be7-4738-4898-8212-cc36774314f8/operationresults/7ce689b2-0eca-48f5-86f0-0b8d6ceef14a?api-version=2017-06-05-preview
                Retry-After: "10"
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/postbackup":
    post:
      description: Post Backup a given CloudEndpoint.
      operationId: CloudEndpoints_PostBackup
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          type: string
        - description: Name of Cloud Endpoint object.
          in: path
          name: cloudEndpointName
          required: true
          type: string
        - description: Body of Backup request.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/BackupRequest"
      responses:
        "200":
          description: Ok
          headers:
            Location:
              description: Operation Status Location URI
              type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              type: string
            x-ms-request-id:
              description: request id.
              type: string
          schema:
            $ref: "#/definitions/PostBackupResponse"
        "202":
          description: Asynchronous Operation Status Location
          headers:
            Location:
              description: Operation Status Location URI
              type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              type: string
            x-ms-request-id:
              description: request id.
              type: string
        default:
          description: Error message indicating why the operation failed.
          schema:
            $ref: "#/definitions/StorageSyncError"
      tags:
        - CloudEndpoint Resource
        - Actions
        - Backup Restore
      x-ms-examples:
        CloudEndpoints_PostBackup:
          parameters:
            api-version: 2017-06-05-preview
            cloudEndpointName: SampleCloudEndpoint_1
            parameters:
              azureFileShare: https://sampleserver.file.core.test-cint.azure-test.net/sampleFileShare
            resourceGroupName: SampleResourceGroup_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
            syncGroupName: SampleSyncGroup_1
          responses:
            "200":
              body:
                backupMetadata:
                  cloudEndpointName: subscriptions/52b8da2f-61e0-4a1f-8dde-336911f367fb/resourceGroups/SampleResourceGroup_1/providers/10.91.86.47/storageSyncServices/SampleStorageSyncService_1/syncGroups/SampleSyncGroup_1/cloudEndpoints/SampleCloudEndpoint_1
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
            "202":
              headers:
                Retry-After: "10"
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-location: https://management.azure.com/subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/HfsMabFS1/syncGroups/HfsMabDS1/cloudEndpoints/HfsMabCE1/operationresults/baa40401-b043-4d1b-a80b-cb4e79fa1398?api-version=2017-06-05-preview&resourcetype=PostBackupResourceType&ifxctx3=1847a938-7638-4d1b-943c-96ff2f8a2ec8
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/postrestore":
    post:
      description: Post Restore a given CloudEndpoint.
      operationId: CloudEndpoints_PostRestore
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          type: string
        - description: Name of Cloud Endpoint object.
          in: path
          name: cloudEndpointName
          required: true
          type: string
        - description: Body of Cloud Endpoint object.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/PostRestoreRequest"
      responses:
        "200":
          description: Ok
        "202":
          description: Asynchronous Operation Status Location
          headers:
            Location:
              description: Operation Status Location URI
              type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              type: string
            x-ms-request-id:
              description: request id.
              type: string
        default:
          description: Error message indicating why the operation failed.
          schema:
            $ref: "#/definitions/StorageSyncError"
      tags:
        - CloudEndpoint Resource
        - Actions
        - Backup Restore
      x-ms-examples:
        CloudEndpoints_PostRestore:
          parameters:
            api-version: 2017-06-05-preview
            cloudEndpointName: SampleCloudEndpoint_1
            parameters:
              azureFileShareUri: https://hfsazbackupdevintncus2.file.core.test-cint.azure-test.net/sampleFileShare
              restoreFileSpec:
                - isdir: false
                  path: text1.txt
                - isdir: true
                  path: MyDir
                - isdir: false
                  path: MyDir/SubDir
                - isdir: false
                  path: MyDir/SubDir/File1.pdf
              sourceAzureFileShareUri: https://hfsazbackupdevintncus2.file.core.test-cint.azure-test.net/sampleFileShare
              status: Succeeded
            resourceGroupName: SampleResourceGroup_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
            syncGroupName: SampleSyncGroup_1
          responses:
            "200":
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
            "202":
              headers:
                Retry-After: "10"
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-location: "https: //management.azure.com/subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/HfsMabFS1/syncGroups/HfsMabDS1/cloudEndpoints/HfsMabCE1/operationresults/d67cfb91-1b13-4710-8226-83467bb5b66d?api-version=2017-06-05-preview&resourcetype=preBackupResourceType&ifxctx3=005909ad-d156-4514-a26e-dd1cc566db64"
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/prebackup":
    post:
      description: Pre Backup a given CloudEndpoint.
      operationId: CloudEndpoints_PreBackup
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          type: string
        - description: Name of Cloud Endpoint object.
          in: path
          name: cloudEndpointName
          required: true
          type: string
        - description: Body of Backup request.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/BackupRequest"
      responses:
        "200":
          description: Ok
          headers:
            Location:
              description: Operation Status Location URI
              type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              type: string
            x-ms-request-id:
              description: request id.
              type: string
        "202":
          description: Asynchronous Operation Status Location
          headers:
            Location:
              description: Operation Status Location URI
              type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              type: string
            x-ms-request-id:
              description: request id.
              type: string
        default:
          description: Error message indicating why the operation failed.
          schema:
            $ref: "#/definitions/StorageSyncError"
      tags:
        - CloudEndpoint Resource
        - Actions
        - Backup Restore
      x-ms-examples:
        CloudEndpoints_PreBackup:
          parameters:
            api-version: 2017-06-05-preview
            cloudEndpointName: SampleCloudEndpoint_1
            parameters:
              azureFileShare: https://sampleserver.file.core.test-cint.azure-test.net/sampleFileShare
            resourceGroupName: SampleResourceGroup_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
            syncGroupName: SampleSyncGroup_1
          responses:
            "200":
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
            "202":
              headers:
                Retry-After: "10"
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-location: https://management.azure.com/subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/HfsMabFS1/syncGroups/HfsMabDS1/cloudEndpoints/HfsMabCE1/operationresults/d67cfb91-1b13-4710-8226-83467bb5b66d?api-version=2017-06-05-preview&resourcetype=preBackupResourceType&ifxctx3=005909ad-d156-4514-a26e-dd1cc566db64
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/prerestore":
    post:
      description: Pre Restore a given CloudEndpoint.
      operationId: CloudEndpoints_PreRestore
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          type: string
        - description: Name of Cloud Endpoint object.
          in: path
          name: cloudEndpointName
          required: true
          type: string
        - description: Body of Cloud Endpoint object.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/PreRestoreRequest"
      responses:
        "200":
          description: Ok
        "202":
          description: Asynchronous Operation Status Location
          headers:
            Location:
              description: Operation Status Location URI
              type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              type: string
            x-ms-request-id:
              description: request id.
              type: string
        default:
          description: Error message indicating why the operation failed.
          schema:
            $ref: "#/definitions/StorageSyncError"
      tags:
        - CloudEndpoint Resource
        - Actions
        - Backup Restore
      x-ms-examples:
        CloudEndpoints_PreRestore:
          parameters:
            api-version: 2017-06-05-preview
            cloudEndpointName: SampleCloudEndpoint_1
            parameters:
              azureFileShareUri: https://hfsazbackupdevintncus2.file.core.test-cint.azure-test.net/sampleFileShare
              restoreFileSpec:
                - isdir: false
                  path: text1.txt
                - isdir: true
                  path: MyDir
                - isdir: false
                  path: MyDir/SubDir
                - isdir: false
                  path: MyDir/SubDir/File1.pdf
            resourceGroupName: SampleResourceGroup_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
            syncGroupName: SampleSyncGroup_1
          responses:
            "200":
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
            "202":
              headers:
                Retry-After: "10"
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-location: "https: //management.azure.com/subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/HfsMabFS1/syncGroups/HfsMabDS1/cloudEndpoints/HfsMabCE1/operationresults/d67cfb91-1b13-4710-8226-83467bb5b66d?api-version=2017-06-05-preview&resourcetype=preBackupResourceType&ifxctx3=005909ad-d156-4514-a26e-dd1cc566db64"
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/cloudEndpoints/{cloudEndpointName}/restoreheartbeat":
    post:
      description: Restore Heartbeat a given CloudEndpoint.
      operationId: CloudEndpoints_RestoreHeatbeat
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          type: string
        - description: Name of Cloud Endpoint object.
          in: path
          name: cloudEndpointName
          required: true
          type: string
      responses:
        "200":
          description: Restore Heartbeat Operation has ran successfully.
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              type: string
            x-ms-request-id:
              description: request id.
              type: string
        default:
          description: Error message indicating why the operation failed.
          schema:
            $ref: "#/definitions/StorageSyncError"
      tags:
        - CloudEndpoint Resource
        - Actions
        - Backup Restore
      x-ms-examples:
        CloudEndpoints_RestoreHeatbeat:
          parameters:
            api-version: 2017-06-05-preview
            cloudEndpointName: SampleCloudEndpoint_1
            resourceGroupName: SampleResourceGroup_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
            syncGroupName: SampleSyncGroup_1
          responses:
            "200":
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/serverEndpoints":
    get:
      description: Get a ServerEndpoint list.
      operationId: ServerEndpoints_ListBySyncGroup
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          type: string
      responses:
        "200":
          description: Array of Server Endpoint resources in Sync Group
          headers:
            Location:
              description: Operation Status Location URI
              type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              type: string
            x-ms-request-id:
              description: request id.
              type: string
          schema:
            $ref: "#/definitions/ServerEndpointArray"
        default:
          description: Error message indicating why the operation failed.
          schema:
            $ref: "#/definitions/StorageSyncError"
      tags:
        - ServerEndpoint Resource
      x-ms-examples:
        ServerEndpoints_ListBySyncGroup:
          parameters:
            api-version: 2017-06-05-preview
            resourceGroupName: SampleResourceGroup_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
            syncGroupName: SampleSyncGroup_1
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/syncGroups/SyncGroup_Restore_08-08_Test112/serverEndpoints/SampleServerEndpoint_1
                    name: SampleServerEndpoint_1
                    properties:
                      byteProgress: 23
                      cloudTiering: off
                      currentProgressType: none
                      friendlyName: ankushb-prod3.redmond.corp.microsoft.com
                      itemDownloadErrorCount: 0
                      itemProgressCount: 0
                      itemTotalCount: 0
                      itemUploadErrorCount: 0
                      lastSyncSuccess: 2017-02-24T22:24:43.3216408Z
                      lastWorkflowId: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/workflows/219c62f3-8507-4b87-a85b-ac676ad198d1
                      provisioningState: Succeeded
                      serverLocalPath: D:\SampleServerEndpoint_1
                      serverResourceId: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/registeredServers/080d4133-bdb5-40a0-96a0-71a6057bfe9a
                      syncErrorContext: ""
                      syncErrorDirection: none
                      syncErrorState: "0"
                      syncErrorStateTimestamp: 2017-02-24T22:24:43.3216408Z
                      totalProgress: 23
                      volumeFreeSpacePercent: 20
                    type: Microsoft.StorageSync/storageSyncServices/syncGroups/serverEndpoints
                  - id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/syncGroups/SyncGroup_Restore_08-08_Test112/serverEndpoints/SampleServerEndpoint_2
                    name: SampleServerEndpoint_2
                    properties:
                      byteProgress: 0
                      cloudTiering: off
                      currentProgressType: none
                      friendlyName: ankushb-prod3.redmond.corp.microsoft.com
                      itemDownloadErrorCount: 0
                      itemProgressCount: 0
                      itemTotalCount: 0
                      itemUploadErrorCount: 0
                      lastSyncSuccess: 2017-02-24T22:24:43.3216408Z
                      lastWorkflowId: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/workflows/828219ea-083e-48b5-89ea-8fd9991b2e75
                      provisioningState: Succeeded
                      serverLocalPath: D:\SampleServerEndpoint_2
                      serverResourceId: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/registeredServers/080d4133-bdb5-40a0-96a0-71a6057bfe9a
                      syncErrorContext: ""
                      syncErrorDirection: none
                      syncErrorState: "0"
                      syncErrorStateTimestamp: 2017-02-24T22:24:43.3216408Z
                      totalProgress: 0
                      volumeFreeSpacePercent: 20
                    type: Microsoft.StorageSync/storageSyncServices/syncGroups/serverEndpoints
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageSync/storageSyncServices/{storageSyncServiceName}/syncGroups/{syncGroupName}/serverEndpoints/{serverEndpointName}":
    delete:
      description: Delete a given ServerEndpoint.
      operationId: ServerEndpoints_Delete
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          type: string
        - description: Name of Server Endpoint object.
          in: path
          name: serverEndpointName
          required: true
          type: string
      responses:
        "200":
          description: Ok
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              type: string
            x-ms-request-id:
              description: request id.
              type: string
        "202":
          description: Asynchronous Operation Status Location
          headers:
            Location:
              description: Operation Status Location URI
              type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              type: string
            x-ms-request-id:
              description: request id.
              type: string
        default:
          description: Error message indicating why the operation failed.
          schema:
            $ref: "#/definitions/StorageSyncError"
      tags:
        - ServerEndpoint Resource
      x-ms-examples:
        ServerEndpoints_Delete:
          parameters:
            api-version: 2017-06-05-preview
            resourceGroupName: SampleResourceGroup_1
            serverEndpointName: SampleServerEndpoint_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
            syncGroupName: SampleSyncGroup_1
          responses:
            "200":
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/workflows/9122d971-147b-4dba-bada-1ceb7c9311e5/operations/6dce076b-1df5-4449-829b-69b24f38b5a1?api-version=2017-06-05-preview
                Location: https://management.azure.com/subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/workflows/9122d971-147b-4dba-bada-1ceb7c9311e5/operationresults/6dce076b-1df5-4449-829b-69b24f38b5a1?api-version=2017-06-05-preview
                Retry-After: "10"
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
      x-ms-long-running-operation: true
    get:
      description: Get a ServerEndpoint.
      operationId: ServerEndpoints_Get
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          type: string
        - description: Name of Server Endpoint object.
          in: path
          name: serverEndpointName
          required: true
          type: string
      responses:
        "200":
          description: Server Endpoint object
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              type: string
            x-ms-request-id:
              description: request id.
              type: string
          schema:
            $ref: "#/definitions/ServerEndpoint"
        default:
          description: Error message indicating why the operation failed.
          schema:
            $ref: "#/definitions/StorageSyncError"
      tags:
        - ServerEndpoint Resource
      x-ms-examples:
        ServerEndpoints_Get:
          parameters:
            api-version: 2017-06-05-preview
            resourceGroupName: SampleResourceGroup_1
            serverEndpointName: SampleServerEndpoint_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
            syncGroupName: SampleSyncGroup_1
          responses:
            "200":
              body:
                id: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/syncGroups/SyncGroup_Restore_08-08_Test112/serverEndpoints/SampleServerEndpoint_1
                name: SampleServerEndpoint_1
                properties:
                  byteProgress: 0
                  cloudTiering: off
                  currentProgressType: none
                  friendlyName: SampleRegisteredServer-prod3.redmond.corp.microsoft.com
                  itemDownloadErrorCount: 0
                  itemProgressCount: 0
                  itemTotalCount: 0
                  itemUploadErrorCount: 0
                  lastSyncSuccess: 2017-02-24T22:24:43.3216408Z
                  lastWorkflowId: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/workflows/219c62f3-8507-4b87-a85b-ac676ad198d1
                  provisioningState: Succeeded
                  serverLocalPath: D:\SampleServerEndpoint_1
                  serverResourceId: /subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SampleStorageSyncService_1/registeredServers/080d4133-bdb5-40a0-96a0-71a6057bfe9a
                  syncErrorContext: ""
                  syncErrorDirection: none
                  syncErrorState: "0"
                  syncErrorStateTimestamp: 2017-02-24T22:24:43.3216408Z
                  volumeFreeSpacePercent: 20
                type: Microsoft.StorageSync/storageSyncServices/syncGroups/serverEndpoints
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
    patch:
      description: Patch a given ServerEndpoint.
      operationId: ServerEndpoints_Update
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: Name of Storage Sync Service resource.
          in: path
          name: storageSyncServiceName
          required: true
          type: string
        - description: Name of Sync Group resource.
          in: path
          name: syncGroupName
          required: true
          type: string
        - description: Name of Server Endpoint object.
          in: path
          name: serverEndpointName
          required: true
          type: string
        - description: Any of the properties applicable in PUT request.
          in: body
          name: parameters
          schema:
            $ref: "#/definitions/ServerEndpoint"
      responses:
        "200":
          description: Server Endpoint object
          headers:
            x-ms-correlation-request-id:
              description: correlation request id.
              type: string
            x-ms-request-id:
              description: request id.
              type: string
          schema:
            $ref: "#/definitions/ServerEndpoint"
        "202":
          description: Asynchronous Operation Status Location
          headers:
            Azure-AsyncOperation:
              description: Operation Status Location URI
              type: string
            Location:
              description: Operation Status Location URI
              type: string
            x-ms-correlation-request-id:
              description: correlation request id.
              type: string
            x-ms-request-id:
              description: request id.
              type: string
        default:
          description: Error message indicating why the operation failed.
          schema:
            $ref: "#/definitions/StorageSyncError"
      tags:
        - ServerEndpoint Resource
      x-ms-examples:
        ServerEndpoints_Update:
          parameters:
            api-version: 2017-06-05-preview
            cloudEndpointName: SampleCloudEndpoint_1
            parameters:
              properties:
                cloudTiering: off
                provisioningState: Created
                volumeFreeSpacePercent: 100
              type: Microsoft.StorageSync/storageSyncServices/syncGroups/serverEndpoints
            resourceGroupName: SampleResourceGroup_1
            serverEndpointName: SampleServerEndpoint_1
            storageSyncServiceName: SampleStorageSyncService_1
            subscriptionId: 52b8da2f-61e0-4a1f-8dde-336911f367fb
            syncGroupName: SampleSyncGroup_1
          responses:
            "200":
              body:
                id: /subscriptions/52b8da2f-61e0-4a1f-8dde-336911f367fb/resourceGroups/SampleResourceGroup_1/providers/10.91.86.47/storageSyncServices/SampleStorageSyncService_1/syncGroups/SampleSyncGroup_1/serverEndpoints/SampleServerEndpoint_1
                name: SampleServerEndpoint_1
                properties:
                  cloudTiering: off
                  friendlyName: ankushb-prod3.redmond.corp.microsoft.com
                  lastWorkflowId: /subscriptions/52b8da2f-61e0-4a1f-8dde-336911f367fb/resourceGroups/SampleResourceGroup_1/providers/10.91.86.47/storageSyncServices/SampleStorageSyncService_1/workflows/901054e8-d66f-4e2f-8266-f05a68dbfce4
                  provisioningState: Succeeded
                  serverLocalPath: D:\SampleServerEndpoint_1
                  serverResourceId: /subscriptions/52b8da2f-61e0-4a1f-8dde-336911f367fb/resourceGroups/SampleResourceGroup_1/providers/10.91.86.47/storageSyncServices/SampleStorageSyncService_1/registeredServers/530a0384-50ac-456d-8240-9d6621404151
                  volumeFreeSpacePercent: 20
                type: 10.91.86.47/storageSyncServices/syncGroups/serverEndpoints
              headers:
                x-ms-correlation-request-id: d166ca76-dad2-49df-b409-d2acfd42d730
                x-ms-request-id: 74e55a4d-1c6f-46de-9a8d-278e53a47403
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/3a048283-338f-4002-a9dd-a50fdadcb392/resourceGroups/SampleResourceGroup_1/providers/Microsoft.StorageSync/storageSyncServices/SSS_Swagger_08-09_Test212/workflows/3af798a9-26fd-44e7-a121-a4ad65f451bd/operations/ef2a30f4-9bb8-40e7-b403-5d6d3dc67a3c?api-version=2017-06-05-preview
[...]
