openapi: 3.0.1
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Preview
  version: 1.10.0
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_static1.twilio.com_marketing_bundles_marketing_img_logos_wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_preview.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_preview
paths:
  "/BulkExports/Exports/Jobs/{JobSid}":
    delete:
      description: ""
      operationId: DeleteJob
      parameters:
        - description: The unique string that that we created to identify the Bulk Export job
          in: path
          name: JobSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^JS[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchJob
      parameters:
        - description: The unique string that that we created to identify the Bulk Export job
          in: path
          name: JobSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^JS[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.bulk_exports.export.job"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://preview.twilio.com
    x-default-output-properties: []
    x-path-type: instance
  "/BulkExports/Exports/{ResourceType}":
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Export.
      operationId: FetchExport
      parameters:
        - description: The type of communication – Messages, Calls, Conferences, and Participants
          in: path
          name: ResourceType
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.bulk_exports.export"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://preview.twilio.com
    x-default-output-properties: []
    x-path-type: instance
  "/BulkExports/Exports/{ResourceType}/Configuration":
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Export Configuration.
      operationId: FetchExportConfiguration
      parameters:
        - description: The type of communication – Messages, Calls, Conferences, and Participants
          in: path
          name: ResourceType
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.bulk_exports.export_configuration"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: Update a specific Export Configuration.
      operationId: UpdateExportConfiguration
      parameters:
        - description: The type of communication – Messages, Calls, Conferences, and Participants
          in: path
          name: ResourceType
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Enabled:
                  description: If true, Twilio will automatically generate every day's file when the day is over.
                  type: boolean
                WebhookMethod:
                  description: Sets whether Twilio should call a webhook URL when the automatic generation is complete, using GET or POST. The actual destination is set in the webhook_url
                  type: string
                WebhookUrl:
                  description: Stores the URL destination for the method specified in webhook_method.
                  format: uri
                  type: string
              title: UpdateExportConfigurationRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.bulk_exports.export_configuration"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://preview.twilio.com
    x-default-output-properties: []
    x-path-type: instance
  "/BulkExports/Exports/{ResourceType}/Days":
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Days for a resource.
      operationId: ListDay
      parameters:
        - description: The type of communication – Messages, Calls, Conferences, and Participants
          in: path
          name: ResourceType
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  days:
                    items:
                      $ref: "#/components/schemas/preview.bulk_exports.export.day"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListDayResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://preview.twilio.com
    x-default-output-properties: []
    x-path-type: list
  "/BulkExports/Exports/{ResourceType}/Days/{Day}":
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Day.
      operationId: FetchDay
      parameters:
        - description: The type of communication – Messages, Calls, Conferences, and Participants
          in: path
          name: ResourceType
          required: true
          schema:
            type: string
        - description: The ISO 8601 format date of the resources in the file, for a UTC day
          in: path
          name: Day
          required: true
          schema:
            type: string
      responses:
        "307":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.bulk_exports.export.day-instance"
          description: Temporary Redirect
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://preview.twilio.com
    x-default-output-properties: []
    x-path-type: instance
  "/BulkExports/Exports/{ResourceType}/Jobs":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListExportCustomJob
      parameters:
        - description: The type of communication – Messages, Calls, Conferences, and Participants
          in: path
          name: ResourceType
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  jobs:
                    items:
                      $ref: "#/components/schemas/preview.bulk_exports.export.export_custom_job"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListExportCustomJobResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: CreateExportCustomJob
      parameters:
        - description: The type of communication – Messages or Calls, Conferences, and Participants
          in: path
          name: ResourceType
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Email:
                  description: The optional email to send the completion notification to
                  type: string
                EndDay:
                  description: The end day for the custom export specified as a string in the format of yyyy-mm-dd. End day is inclusive and must be 2 days earlier than the current UTC day.
                  type: string
                FriendlyName:
                  description: The friendly name specified when creating the job
                  type: string
                StartDay:
                  description: The start day for the custom export specified as a string in the format of yyyy-mm-dd
                  type: string
                WebhookMethod:
                  description: This is the method used to call the webhook on completion of the job. If this is supplied, `WebhookUrl` must also be supplied.
                  type: string
                WebhookUrl:
                  description: The optional webhook url called on completion of the job. If this is supplied, `WebhookMethod` must also be supplied.
                  type: string
              required:
                - StartDay
                - EndDay
                - FriendlyName
              title: CreateExportCustomJobRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.bulk_exports.export.export_custom_job"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://preview.twilio.com
    x-default-output-properties: []
    x-path-type: list
  /DeployedDevices/Fleets:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Fleets belonging to your account.
      operationId: ListFleet
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  fleets:
                    items:
                      $ref: "#/components/schemas/preview.deployed_devices.fleet"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListFleetResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: Create a new Fleet for scoping of deployed devices within your account.
      operationId: CreateFleet
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                FriendlyName:
                  description: Provides a human readable descriptive text for this Fleet, up to 256 characters long.
                  type: string
              title: CreateFleetRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.deployed_devices.fleet"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://preview.twilio.com
    x-default-output-properties: []
    x-path-type: list
  "/DeployedDevices/Fleets/{FleetSid}/Certificates":
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Certificate credentials belonging to the Fleet.
      operationId: ListCertificate
      parameters:
        - description: ""
          in: path
          name: FleetSid
          required: true
          schema:
            type: string
        - description: Filters the resulting list of Certificates by a unique string identifier of an authenticated Device.
          in: query
          name: DeviceSid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^TH[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  certificates:
                    items:
                      $ref: "#/components/schemas/preview.deployed_devices.fleet.certificate"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListCertificateResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: Enroll a new Certificate credential to the Fleet, optionally giving it a friendly name and assigning to a Device.
      operationId: CreateCertificate
      parameters:
        - description: ""
          in: path
          name: FleetSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CertificateData:
                  description: Provides a URL encoded representation of the public certificate in PEM format.
                  type: string
                DeviceSid:
                  description: Provides the unique string identifier of an existing Device to become authenticated with this Certificate credential.
                  maxLength: 34
                  minLength: 34
                  pattern: ^TH[0-9a-fA-F]{32}$
                  type: string
                FriendlyName:
                  description: Provides a human readable descriptive text for this Certificate credential, up to 256 characters long.
                  type: string
              required:
                - CertificateData
              title: CreateCertificateRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.deployed_devices.fleet.certificate"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://preview.twilio.com
    x-default-output-properties: []
    x-path-type: list
  "/DeployedDevices/Fleets/{FleetSid}/Certificates/{Sid}":
    delete:
      description: Unregister a specific Certificate credential from the Fleet, effectively disallowing any inbound client connections that are presenting it.
      operationId: DeleteCertificate
      parameters:
        - description: ""
          in: path
          name: FleetSid
          required: true
          schema:
            type: string
        - description: Provides a 34 character string that uniquely identifies the requested Certificate credential resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CY[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    description: "TODO: Resource-level docs"
    get:
      description: Fetch information about a specific Certificate credential in the Fleet.
      operationId: FetchCertificate
      parameters:
        - description: ""
          in: path
          name: FleetSid
          required: true
          schema:
            type: string
        - description: Provides a 34 character string that uniquely identifies the requested Certificate credential resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CY[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.deployed_devices.fleet.certificate"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: Update the given properties of a specific Certificate credential in the Fleet, giving it a friendly name or assigning to a Device.
      operationId: UpdateCertificate
      parameters:
        - description: ""
          in: path
          name: FleetSid
          required: true
          schema:
            type: string
        - description: Provides a 34 character string that uniquely identifies the requested Certificate credential resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CY[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                DeviceSid:
                  description: Provides the unique string identifier of an existing Device to become authenticated with this Certificate credential.
                  maxLength: 34
                  minLength: 34
                  pattern: ^TH[0-9a-fA-F]{32}$
                  type: string
                FriendlyName:
                  description: Provides a human readable descriptive text for this Certificate credential, up to 256 characters long.
                  type: string
              title: UpdateCertificateRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.deployed_devices.fleet.certificate"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://preview.twilio.com
    x-default-output-properties: []
    x-path-type: instance
  "/DeployedDevices/Fleets/{FleetSid}/Deployments":
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Deployments belonging to the Fleet.
      operationId: ListDeployment
      parameters:
        - description: ""
          in: path
          name: FleetSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  deployments:
                    items:
                      $ref: "#/components/schemas/preview.deployed_devices.fleet.deployment"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListDeploymentResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: Create a new Deployment in the Fleet, optionally giving it a friendly name and linking to a specific Twilio Sync service instance.
      operationId: CreateDeployment
      parameters:
        - description: ""
          in: path
          name: FleetSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                FriendlyName:
                  description: Provides a human readable descriptive text for this Deployment, up to 256 characters long.
                  type: string
                SyncServiceSid:
                  description: Provides the unique string identifier of the Twilio Sync service instance that will be linked to and accessible by this Deployment.
                  maxLength: 34
                  minLength: 34
                  pattern: ^IS[0-9a-fA-F]{32}$
                  type: string
              title: CreateDeploymentRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.deployed_devices.fleet.deployment"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://preview.twilio.com
    x-default-output-properties: []
    x-path-type: list
  "/DeployedDevices/Fleets/{FleetSid}/Deployments/{Sid}":
    delete:
      description: Delete a specific Deployment from the Fleet, leaving associated devices effectively undeployed.
      operationId: DeleteDeployment
      parameters:
        - description: ""
          in: path
          name: FleetSid
          required: true
          schema:
            type: string
        - description: Provides a 34 character string that uniquely identifies the requested Deployment resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^DL[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    description: "TODO: Resource-level docs"
    get:
      description: Fetch information about a specific Deployment in the Fleet.
      operationId: FetchDeployment
      parameters:
        - description: ""
          in: path
          name: FleetSid
          required: true
          schema:
            type: string
        - description: Provides a 34 character string that uniquely identifies the requested Deployment resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^DL[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.deployed_devices.fleet.deployment"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: Update the given properties of a specific Deployment credential in the Fleet, giving it a friendly name or linking to a specific Twilio Sync service instance.
      operationId: UpdateDeployment
      parameters:
        - description: ""
          in: path
          name: FleetSid
          required: true
          schema:
            type: string
        - description: Provides a 34 character string that uniquely identifies the requested Deployment resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^DL[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                FriendlyName:
                  description: Provides a human readable descriptive text for this Deployment, up to 64 characters long
                  type: string
                SyncServiceSid:
                  description: Provides the unique string identifier of the Twilio Sync service instance that will be linked to and accessible by this Deployment.
                  maxLength: 34
                  minLength: 34
                  pattern: ^IS[0-9a-fA-F]{32}$
                  type: string
              title: UpdateDeploymentRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.deployed_devices.fleet.deployment"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://preview.twilio.com
    x-default-output-properties: []
    x-path-type: instance
  "/DeployedDevices/Fleets/{FleetSid}/Devices":
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Devices belonging to the Fleet.
      operationId: ListDevice
      parameters:
        - description: ""
          in: path
          name: FleetSid
          required: true
          schema:
            type: string
        - description: Filters the resulting list of Devices by a unique string identifier of the Deployment they are associated with.
          in: query
          name: DeploymentSid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^DL[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  devices:
                    items:
                      $ref: "#/components/schemas/preview.deployed_devices.fleet.device"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListDeviceResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: Create a new Device in the Fleet, optionally giving it a unique name, friendly name, and assigning to a Deployment and/or human identity.
      operationId: CreateDevice
      parameters:
        - description: ""
          in: path
          name: FleetSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                DeploymentSid:
                  description: Specifies the unique string identifier of the Deployment group that this Device is going to be associated with.
                  maxLength: 34
                  minLength: 34
                  pattern: ^DL[0-9a-fA-F]{32}$
                  type: string
                Enabled:
                  description: ""
                  type: boolean
                FriendlyName:
                  description: Provides a human readable descriptive text to be assigned to this Device, up to 256 characters long.
                  type: string
                Identity:
                  description: Provides an arbitrary string identifier representing a human user to be associated with this Device, up to 256 characters long.
                  type: string
                UniqueName:
                  description: Provides a unique and addressable name to be assigned to this Device, to be used in addition to SID, up to 128 characters long.
                  type: string
              title: CreateDeviceRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.deployed_devices.fleet.device"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://preview.twilio.com
    x-default-output-properties: []
    x-path-type: list
  "/DeployedDevices/Fleets/{FleetSid}/Devices/{Sid}":
    delete:
      description: Delete a specific Device from the Fleet, also removing it from associated Deployments.
      operationId: DeleteDevice
      parameters:
        - description: ""
          in: path
          name: FleetSid
          required: true
          schema:
            type: string
        - description: Provides a 34 character string that uniquely identifies the requested Device resource.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    description: "TODO: Resource-level docs"
    get:
      description: Fetch information about a specific Device in the Fleet.
      operationId: FetchDevice
      parameters:
        - description: ""
          in: path
          name: FleetSid
          required: true
          schema:
            type: string
        - description: Provides a 34 character string that uniquely identifies the requested Device resource.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.deployed_devices.fleet.device"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: Update the given properties of a specific Device in the Fleet, giving it a friendly name, assigning to a Deployment, or a human identity.
      operationId: UpdateDevice
      parameters:
        - description: ""
          in: path
          name: FleetSid
          required: true
          schema:
            type: string
        - description: Provides a 34 character string that uniquely identifies the requested Device resource.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                DeploymentSid:
                  description: Specifies the unique string identifier of the Deployment group that this Device is going to be associated with.
                  maxLength: 34
                  minLength: 34
                  pattern: ^DL[0-9a-fA-F]{32}$
                  type: string
                Enabled:
                  description: ""
                  type: boolean
                FriendlyName:
                  description: Provides a human readable descriptive text to be assigned to this Device, up to 256 characters long.
                  type: string
                Identity:
                  description: Provides an arbitrary string identifier representing a human user to be associated with this Device, up to 256 characters long.
                  type: string
              title: UpdateDeviceRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.deployed_devices.fleet.device"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://preview.twilio.com
    x-default-output-properties: []
    x-path-type: instance
  "/DeployedDevices/Fleets/{FleetSid}/Keys":
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Keys credentials belonging to the Fleet.
      operationId: ListKey
      parameters:
        - description: ""
          in: path
          name: FleetSid
          required: true
          schema:
            type: string
        - description: Filters the resulting list of Keys by a unique string identifier of an authenticated Device.
          in: query
          name: DeviceSid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^TH[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  keys:
                    items:
                      $ref: "#/components/schemas/preview.deployed_devices.fleet.key"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListKeyResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: Create a new Key credential in the Fleet, optionally giving it a friendly name and assigning to a Device.
      operationId: CreateKey
      parameters:
        - description: ""
          in: path
          name: FleetSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                DeviceSid:
                  description: Provides the unique string identifier of an existing Device to become authenticated with this Key credential.
                  maxLength: 34
                  minLength: 34
                  pattern: ^TH[0-9a-fA-F]{32}$
                  type: string
                FriendlyName:
                  description: Provides a human readable descriptive text for this Key credential, up to 256 characters long.
                  type: string
              title: CreateKeyRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.deployed_devices.fleet.key"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://preview.twilio.com
    x-default-output-properties: []
    x-path-type: list
  "/DeployedDevices/Fleets/{FleetSid}/Keys/{Sid}":
    delete:
      description: Delete a specific Key credential from the Fleet, effectively disallowing any inbound client connections that are presenting it.
      operationId: DeleteKey
      parameters:
        - description: ""
          in: path
          name: FleetSid
          required: true
          schema:
            type: string
        - description: Provides a 34 character string that uniquely identifies the requested Key credential resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KY[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    description: "TODO: Resource-level docs"
    get:
      description: Fetch information about a specific Key credential in the Fleet.
      operationId: FetchKey
      parameters:
        - description: ""
          in: path
          name: FleetSid
          required: true
          schema:
            type: string
        - description: Provides a 34 character string that uniquely identifies the requested Key credential resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KY[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.deployed_devices.fleet.key"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: Update the given properties of a specific Key credential in the Fleet, giving it a friendly name or assigning to a Device.
      operationId: UpdateKey
      parameters:
        - description: ""
          in: path
          name: FleetSid
          required: true
          schema:
            type: string
        - description: Provides a 34 character string that uniquely identifies the requested Key credential resource.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^KY[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                DeviceSid:
                  description: Provides the unique string identifier of an existing Device to become authenticated with this Key credential.
                  maxLength: 34
                  minLength: 34
                  pattern: ^TH[0-9a-fA-F]{32}$
                  type: string
                FriendlyName:
                  description: Provides a human readable descriptive text for this Key credential, up to 256 characters long.
                  type: string
              title: UpdateKeyRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.deployed_devices.fleet.key"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://preview.twilio.com
    x-default-output-properties: []
    x-path-type: instance
  "/DeployedDevices/Fleets/{Sid}":
    delete:
      description: "Delete a specific Fleet from your account, also destroys all nested resources: Devices, Deployments, Certificates, Keys."
      operationId: DeleteFleet
      parameters:
        - description: Provides a 34 character string that uniquely identifies the requested Fleet resource.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    description: "TODO: Resource-level docs"
    get:
      description: Fetch information about a specific Fleet in your account.
      operationId: FetchFleet
      parameters:
        - description: Provides a 34 character string that uniquely identifies the requested Fleet resource.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.deployed_devices.fleet"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: Update the friendly name property of a specific Fleet in your account.
      operationId: UpdateFleet
      parameters:
        - description: Provides a 34 character string that uniquely identifies the requested Fleet resource.
          in: path
          name: Sid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                DefaultDeploymentSid:
                  description: Provides a string identifier of a Deployment that is going to be used as a default one for this Fleet.
                  maxLength: 34
                  minLength: 34
                  pattern: ^DL[0-9a-fA-F]{32}$
                  type: string
                FriendlyName:
                  description: Provides a human readable descriptive text for this Fleet, up to 256 characters long.
                  type: string
              title: UpdateFleetRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.deployed_devices.fleet"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://preview.twilio.com
    x-default-output-properties: []
    x-path-type: instance
  /HostedNumbers/AuthorizationDocuments:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of AuthorizationDocuments belonging to the account initiating the request.
      operationId: ListAuthorizationDocument
      parameters:
        - description: Email that this AuthorizationDocument will be sent to for signing.
          in: query
          name: Email
          schema:
            type: string
        - description: "Status of an instance resource. It can hold one of the values: 1. opened 2. signing, 3. signed LOA, 4. canceled, 5. failed. See the section entitled [Status Values](https://www.twilio.com/docs/api/phone-numbers/hosted-number-authorization-documents#status-values) for more information on each of these statuses."
          in: query
          name: Status
          schema:
            enum:
              - opened
              - signing
              - signed
              - canceled
              - failed
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  items:
                    items:
                      $ref: "#/components/schemas/preview.hosted_numbers.authorization_document"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListAuthorizationDocumentResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: Create an AuthorizationDocument for authorizing the hosting of phone number capabilities on Twilio's platform.
      operationId: CreateAuthorizationDocument
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                AddressSid:
                  description: A 34 character string that uniquely identifies the Address resource that is associated with this AuthorizationDocument.
                  maxLength: 34
                  minLength: 34
                  pattern: ^AD[0-9a-fA-F]{32}$
                  type: string
                CcEmails:
                  description: Email recipients who will be informed when an Authorization Document has been sent and signed.
                  items:
                    type: string
                  type: array
                ContactPhoneNumber:
                  description: The contact phone number of the person authorized to sign the Authorization Document.
                  type: string
                ContactTitle:
                  description: The title of the person authorized to sign the Authorization Document for this phone number.
                  type: string
                Email:
                  description: Email that this AuthorizationDocument will be sent to for signing.
                  type: string
                HostedNumberOrderSids:
                  description: A list of HostedNumberOrder sids that this AuthorizationDocument will authorize for hosting phone number capabilities on Twilio's platform.
                  items:
                    type: string
                  type: array
              required:
                - HostedNumberOrderSids
                - AddressSid
                - Email
                - ContactTitle
                - ContactPhoneNumber
              title: CreateAuthorizationDocumentRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.hosted_numbers.authorization_document"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://preview.twilio.com
    x-default-output-properties: []
    x-path-type: list
  "/HostedNumbers/AuthorizationDocuments/{Sid}":
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific AuthorizationDocument.
      operationId: FetchAuthorizationDocument
      parameters:
        - description: A 34 character string that uniquely identifies this AuthorizationDocument.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^PX[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.hosted_numbers.authorization_document"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: Updates a specific AuthorizationDocument.
      operationId: UpdateAuthorizationDocument
      parameters:
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^PX[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                AddressSid:
                  description: A 34 character string that uniquely identifies the Address resource that is associated with this AuthorizationDocument.
                  maxLength: 34
                  minLength: 34
                  pattern: ^AD[0-9a-fA-F]{32}$
                  type: string
                CcEmails:
                  description: Email recipients who will be informed when an Authorization Document has been sent and signed
                  items:
                    type: string
                  type: array
                ContactPhoneNumber:
                  description: The contact phone number of the person authorized to sign the Authorization Document.
                  type: string
                ContactTitle:
                  description: The title of the person authorized to sign the Authorization Document for this phone number.
                  type: string
                Email:
                  description: Email that this AuthorizationDocument will be sent to for signing.
                  type: string
                HostedNumberOrderSids:
                  description: A list of HostedNumberOrder sids that this AuthorizationDocument will authorize for hosting phone number capabilities on Twilio's platform.
                  items:
                    type: string
                  type: array
                Status:
                  description: "Status of an instance resource. It can hold one of the values: 1. opened 2. signing, 3. signed LOA, 4. canceled, 5. failed. See the section entitled [Status Values](https://www.twilio.com/docs/api/phone-numbers/hosted-number-authorization-documents#status-values) for more information on each of these statuses."
                  enum:
                    - opened
                    - signing
                    - signed
                    - canceled
                    - failed
                  type: string
              title: UpdateAuthorizationDocumentRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.hosted_numbers.authorization_document"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://preview.twilio.com
    x-default-output-properties: []
    x-path-type: instance
  "/HostedNumbers/AuthorizationDocuments/{SigningDocumentSid}/DependentHostedNumberOrders":
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of dependent HostedNumberOrders belonging to the AuthorizationDocument.
      operationId: ListDependentHostedNumberOrder
      parameters:
        - description: ""
          in: path
          name: SigningDocumentSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^PX[0-9a-fA-F]{32}$
            type: string
        - description: "Status of an instance resource. It can hold one of the values: 1. opened 2. signing, 3. signed LOA, 4. canceled, 5. failed. See the section entitled [Status Values](https://www.twilio.com/docs/api/phone-numbers/hosted-number-authorization-documents#status-values) for more information on each of these statuses."
          in: query
          name: Status
          schema:
            enum:
              - received
              - pending-verification
              - verified
              - pending-loa
              - carrier-processing
              - testing
              - completed
              - failed
              - action-required
            type: string
        - description: An E164 formatted phone number hosted by this HostedNumberOrder.
          in: query
          name: PhoneNumber
          schema:
            type: string
        - description: A 34 character string that uniquely identifies the IncomingPhoneNumber resource created by this HostedNumberOrder.
          in: query
          name: IncomingPhoneNumberSid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^PN[0-9a-fA-F]{32}$
            type: string
        - description: A human readable description of this resource, up to 64 characters.
          in: query
          name: FriendlyName
          schema:
            type: string
        - description: Provides a unique and addressable name to be assigned to this HostedNumberOrder, assigned by the developer, to be optionally used in addition to SID.
          in: query
          name: UniqueName
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  items:
                    items:
                      $ref: "#/components/schemas/preview.hosted_numbers.authorization_document.dependent_hosted_number_order"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListDependentHostedNumberOrderResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://preview.twilio.com
    x-default-output-properties: []
    x-path-type: list
  /HostedNumbers/HostedNumberOrders:
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of HostedNumberOrders belonging to the account initiating the request.
      operationId: ListHostedNumberOrder
      parameters:
        - description: The Status of this HostedNumberOrder. One of `received`, `pending-verification`, `verified`, `pending-loa`, `carrier-processing`, `testing`, `completed`, `failed`, or `action-required`.
          in: query
          name: Status
          schema:
            enum:
              - received
              - pending-verification
              - verified
              - pending-loa
              - carrier-processing
              - testing
              - completed
              - failed
              - action-required
            type: string
        - description: An E164 formatted phone number hosted by this HostedNumberOrder.
          in: query
          name: PhoneNumber
          schema:
            type: string
        - description: A 34 character string that uniquely identifies the IncomingPhoneNumber resource created by this HostedNumberOrder.
          in: query
          name: IncomingPhoneNumberSid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^PN[0-9a-fA-F]{32}$
            type: string
        - description: A human readable description of this resource, up to 64 characters.
          in: query
          name: FriendlyName
          schema:
            type: string
        - description: Provides a unique and addressable name to be assigned to this HostedNumberOrder, assigned by the developer, to be optionally used in addition to SID.
          in: query
          name: UniqueName
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  items:
                    items:
                      $ref: "#/components/schemas/preview.hosted_numbers.hosted_number_order"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListHostedNumberOrderResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: Host a phone number's capability on Twilio's platform.
      operationId: CreateHostedNumberOrder
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                AccountSid:
                  description: This defaults to the AccountSid of the authorization the user is using. This can be provided to specify a subaccount to add the HostedNumberOrder to.
                  maxLength: 34
                  minLength: 34
                  pattern: ^AC[0-9a-fA-F]{32}$
                  type: string
                AddressSid:
                  description: Optional. A 34 character string that uniquely identifies the Address resource that represents the address of the owner of this phone number.
                  maxLength: 34
                  minLength: 34
                  pattern: ^AD[0-9a-fA-F]{32}$
                  type: string
                CcEmails:
                  description: Optional. A list of emails that the LOA document for this HostedNumberOrder will be carbon copied to.
                  items:
                    type: string
                  type: array
                Email:
                  description: Optional. Email of the owner of this phone number that is being hosted.
                  type: string
                FriendlyName:
                  description: A 64 character string that is a human readable text that describes this resource.
                  type: string
                PhoneNumber:
                  description: The number to host in [+E.164](https://en.wikipedia.org/wiki/E.164) format
                  type: string
                SmsApplicationSid:
                  description: Optional. The 34 character sid of the application Twilio should use to handle SMS messages sent to this number. If a `SmsApplicationSid` is present, Twilio will ignore all of the SMS urls above and use those set on the application.
                  maxLength: 34
                  minLength: 34
                  pattern: ^AP[0-9a-fA-F]{32}$
                  type: string
                SmsCapability:
                  description: Used to specify that the SMS capability will be hosted on Twilio's platform.
                  type: boolean
                SmsFallbackMethod:
                  description: The HTTP method that should be used to request the SmsFallbackUrl. Must be either `GET` or `POST`. This will be copied onto the IncomingPhoneNumber resource.
                  enum:
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  type: string
                SmsFallbackUrl:
                  description: A URL that Twilio will request if an error occurs requesting or executing the TwiML defined by SmsUrl. This will be copied onto the IncomingPhoneNumber resource.
                  format: uri
                  type: string
                SmsMethod:
                  description: The HTTP method that should be used to request the SmsUrl. Must be either `GET` or `POST`.  This will be copied onto the IncomingPhoneNumber resource.
                  enum:
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  type: string
                SmsUrl:
                  description: The URL that Twilio should request when somebody sends an SMS to the phone number. This will be copied onto the IncomingPhoneNumber resource.
                  format: uri
                  type: string
                StatusCallbackMethod:
                  description: Optional. The Status Callback Method attached to the IncomingPhoneNumber resource.
                  enum:
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  type: string
                StatusCallbackUrl:
                  description: Optional. The Status Callback URL attached to the IncomingPhoneNumber resource.
                  format: uri
                  type: string
                UniqueName:
                  description: Optional. Provides a unique and addressable name to be assigned to this HostedNumberOrder, assigned by the developer, to be optionally used in addition to SID.
                  type: string
                VerificationDocumentSid:
                  description: Optional. The unique sid identifier of the Identity Document that represents the document for verifying ownership of the number to be hosted. Required when VerificationType is phone-bill.
                  maxLength: 34
                  minLength: 34
                  pattern: ^RI[0-9a-fA-F]{32}$
                  type: string
                VerificationType:
                  description: Optional. The method used for verifying ownership of the number to be hosted. One of phone-call (default) or phone-bill.
                  enum:
                    - phone-call
                    - phone-bill
                  type: string
              required:
                - PhoneNumber
                - SmsCapability
              title: CreateHostedNumberOrderRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.hosted_numbers.hosted_number_order"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://preview.twilio.com
    x-default-output-properties: []
    x-path-type: list
  "/HostedNumbers/HostedNumberOrders/{Sid}":
    delete:
      description: Cancel the HostedNumberOrder (only available when the status is in `received`).
      operationId: DeleteHostedNumberOrder
      parameters:
        - description: A 34 character string that uniquely identifies this HostedNumberOrder.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^HR[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific HostedNumberOrder.
      operationId: FetchHostedNumberOrder
      parameters:
        - description: A 34 character string that uniquely identifies this HostedNumberOrder.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^HR[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.hosted_numbers.hosted_number_order"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: Updates a specific HostedNumberOrder.
      operationId: UpdateHostedNumberOrder
      parameters:
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^HR[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                CallDelay:
                  description: The number of seconds, between 0 and 60, to delay before initiating the verification call. Defaults to 0.
                  type: integer
                CcEmails:
                  description: Optional. A list of emails that LOA document for this HostedNumberOrder will be carbon copied to.
                  items:
                    type: string
                  type: array
                Email:
                  description: Email of the owner of this phone number that is being hosted.
                  type: string
                Extension:
                  description: Digits to dial after connecting the verification call.
                  type: string
                FriendlyName:
                  description: A 64 character string that is a human readable text that describes this resource.
                  type: string
                Status:
                  description: User can only post to `pending-verification` status to transition the HostedNumberOrder to initiate a verification call or verification of ownership with a copy of a phone bill.
                  enum:
                    - received
                    - pending-verification
                    - verified
                    - pending-loa
                    - carrier-processing
                    - testing
                    - completed
                    - failed
                    - action-required
                  type: string
                UniqueName:
                  description: Provides a unique and addressable name to be assigned to this HostedNumberOrder, assigned by the developer, to be optionally used in addition to SID.
                  type: string
                VerificationCode:
                  description: A verification code that is given to the user via a phone call to the phone number that is being hosted.
                  type: string
                VerificationDocumentSid:
                  description: Optional. The unique sid identifier of the Identity Document that represents the document for verifying ownership of the number to be hosted. Required when VerificationType is phone-bill.
                  maxLength: 34
                  minLength: 34
                  pattern: ^RI[0-9a-fA-F]{32}$
                  type: string
                VerificationType:
                  description: Optional. The method used for verifying ownership of the number to be hosted. One of phone-call (default) or phone-bill.
                  enum:
                    - phone-call
                    - phone-bill
                  type: string
              title: UpdateHostedNumberOrderRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.hosted_numbers.hosted_number_order"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://preview.twilio.com
    x-default-output-properties: []
    x-path-type: instance
  /Sync/Services:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListService
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  services:
                    items:
                      $ref: "#/components/schemas/preview.sync.service"
                    type: array
                title: ListServiceResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: CreateService
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                AclEnabled:
                  description: ""
                  type: boolean
                FriendlyName:
                  description: ""
                  type: string
                ReachabilityWebhooksEnabled:
                  description: ""
                  type: boolean
                WebhookUrl:
                  description: ""
                  format: uri
                  type: string
              title: CreateServiceRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.sync.service"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://preview.twilio.com
    x-default-output-properties: []
    x-path-type: list
  "/Sync/Services/{ServiceSid}/Documents":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListDocument
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  documents:
                    items:
                      $ref: "#/components/schemas/preview.sync.service.document"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListDocumentResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: CreateDocument
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Data:
                  description: ""
                  type: object
                UniqueName:
                  description: ""
                  type: string
              title: CreateDocumentRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.sync.service.document"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://preview.twilio.com
    x-default-output-properties: []
    x-path-type: list
  "/Sync/Services/{ServiceSid}/Documents/{DocumentSid}/Permissions":
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Permissions applying to a Sync Document.
      operationId: ListDocumentPermission
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: Identifier of the Sync Document. Either a SID or a unique name.
          in: path
          name: DocumentSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  permissions:
                    items:
                      $ref: "#/components/schemas/preview.sync.service.document.document_permission"
                    type: array
                title: ListDocumentPermissionResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://preview.twilio.com
    x-default-output-properties: []
    x-path-type: list
  "/Sync/Services/{ServiceSid}/Documents/{DocumentSid}/Permissions/{Identity}":
    delete:
      description: Delete a specific Sync Document Permission.
      operationId: DeleteDocumentPermission
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: Identifier of the Sync Document. Either a SID or a unique name.
          in: path
          name: DocumentSid
          required: true
          schema:
            type: string
        - description: Arbitrary string identifier representing a user associated with an FPA token, assigned by the developer.
          in: path
          name: Identity
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Sync Document Permission.
      operationId: FetchDocumentPermission
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: Identifier of the Sync Document. Either a SID or a unique name.
          in: path
          name: DocumentSid
          required: true
          schema:
            type: string
        - description: Arbitrary string identifier representing a user associated with an FPA token, assigned by the developer.
          in: path
          name: Identity
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.sync.service.document.document_permission"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: Update an identity's access to a specific Sync Document.
      operationId: UpdateDocumentPermission
      parameters:
        - description: The unique SID identifier of the Sync Service Instance.
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: Identifier of the Sync Document. Either a SID or a unique name.
          in: path
          name: DocumentSid
          required: true
          schema:
            type: string
        - description: Arbitrary string identifier representing a human user associated with an FPA token, assigned by the developer.
          in: path
          name: Identity
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Manage:
                  description: Boolean flag specifying whether the identity can delete the Sync Document.
                  type: boolean
                Read:
                  description: Boolean flag specifying whether the identity can read the Sync Document.
                  type: boolean
                Write:
                  description: Boolean flag specifying whether the identity can update the Sync Document.
                  type: boolean
              required:
                - Read
                - Write
                - Manage
              title: UpdateDocumentPermissionRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.sync.service.document.document_permission"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://preview.twilio.com
    x-default-output-properties: []
    x-path-type: instance
  "/Sync/Services/{ServiceSid}/Documents/{Sid}":
    delete:
      description: ""
      operationId: DeleteDocument
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchDocument
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.sync.service.document"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: UpdateDocument
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            type: string
        - description: The If-Match HTTP request header
          in: header
          name: If-Match
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Data:
                  description: ""
                  type: object
              required:
                - Data
              title: UpdateDocumentRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.sync.service.document"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://preview.twilio.com
    x-default-output-properties: []
    x-path-type: instance
  "/Sync/Services/{ServiceSid}/Lists":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListSyncList
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  lists:
                    items:
                      $ref: "#/components/schemas/preview.sync.service.sync_list"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListSyncListResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: CreateSyncList
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                UniqueName:
                  description: ""
                  type: string
              title: CreateSyncListRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.sync.service.sync_list"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://preview.twilio.com
    x-default-output-properties: []
    x-path-type: list
  "/Sync/Services/{ServiceSid}/Lists/{ListSid}/Items":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListSyncListItem
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ListSid
          required: true
          schema:
            type: string
        - description: ""
          in: query
          name: Order
          schema:
            enum:
              - asc
              - desc
            type: string
        - description: ""
          in: query
          name: From
          schema:
            type: string
        - description: ""
          in: query
          name: Bounds
          schema:
            enum:
              - inclusive
              - exclusive
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  items:
                    items:
                      $ref: "#/components/schemas/preview.sync.service.sync_list.sync_list_item"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListSyncListItemResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: CreateSyncListItem
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ListSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Data:
                  description: ""
                  type: object
              required:
                - Data
              title: CreateSyncListItemRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.sync.service.sync_list.sync_list_item"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://preview.twilio.com
    x-default-output-properties: []
    x-path-type: list
  "/Sync/Services/{ServiceSid}/Lists/{ListSid}/Items/{Index}":
    delete:
      description: ""
      operationId: DeleteSyncListItem
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ListSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: Index
          required: true
          schema:
            type: integer
        - description: The If-Match HTTP request header
          in: header
          name: If-Match
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchSyncListItem
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ListSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: Index
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.sync.service.sync_list.sync_list_item"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    post:
      description: ""
      operationId: UpdateSyncListItem
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ListSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: Index
          required: true
          schema:
            type: integer
        - description: The If-Match HTTP request header
          in: header
          name: If-Match
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Data:
                  description: ""
                  type: object
              required:
                - Data
              title: UpdateSyncListItemRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/preview.sync.service.sync_list.sync_list_item"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://preview.twilio.com
    x-default-output-properties: []
    x-path-type: instance
  "/Sync/Services/{ServiceSid}/Lists/{ListSid}/Permissions":
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Permissions applying to a Sync List.
      operationId: ListSyncListPermission
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: Identifier of the Sync List. Either a SID or a unique name.
          in: path
          name: ListSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
[...]
