swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  contact:
    email: azuremigrate@microsoft.com
    name: Microsoft
  description: Move your workloads to Azure.
  title: Azure Migrate
  version: 2017-11-11-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/migrate/resource-manager/Microsoft.Migrate/preview/2017-11-11-preview/migrate.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: migrate
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  acceptLanguage:
    description: Standard request header. Used by service to respond to client in appropriate language.
    in: header
    name: Accept-Language
    type: string
    x-ms-parameter-location: client
  api-version:
    description: Standard request header. Used by service to identify API version used by client.
    enum:
      - 2017-11-11-preview
    in: query
    name: api-version
    required: true
    type: string
  assessedMachineName:
    description: Unique name of an assessed machine evaluated as part of an assessment.
    in: path
    name: assessedMachineName
    required: true
    type: string
    x-ms-parameter-location: method
  assessmentName:
    description: Unique name of an assessment within a project.
    in: path
    name: assessmentName
    required: true
    type: string
    x-ms-parameter-location: method
  groupName:
    description: Unique name of a group within a project.
    in: path
    name: groupName
    required: true
    type: string
    x-ms-parameter-location: method
  machineName:
    description: Unique name of a machine in private datacenter.
    in: path
    name: machineName
    required: true
    type: string
    x-ms-parameter-location: method
  projectName:
    description: Name of the Azure Migrate project.
    in: path
    name: projectName
    required: true
    type: string
    x-ms-parameter-location: method
  resourceGroupName:
    description: Name of the Azure Resource Group that project is part of.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionId:
    description: Azure Subscription Id in which project was created.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.Migrate/operations:
    get:
      description: Get a list of REST API supported by Microsoft.Migrate provider.
      operationId: Operations_List
      responses:
        "200":
          description: OK. Returns list of operations.
          schema:
            $ref: "#/definitions/OperationResultList"
      summary: Get list of operations supported in the API.
      x-ms-examples:
        Operations_List:
          parameters:
            api-version: 2017-11-11-preview
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                value:
                  - display:
                      description: Reads a project
                      operation: Read
                      provider: Microsoft.Migrate
                      resource: Microsoft.Migrate/projects
                    name: Read
                    origin: user,system
                  - display:
                      description: Creates or updates a project
                      operation: Write
                      provider: Microsoft.Migrate
                      resource: Microsoft.Migrate/projects
                    name: Write
                    origin: user,system
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/assessments":
    get:
      description: |
        Get all assessments created in the project.

        Returns a json array of objects of type 'assessment' as specified in Models section.
      operationId: Assessments_ListByProject
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns list of Assessment objects.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/AssessmentResultList"
        "401":
          description: Not authorized (No access to subscription, resource group, or project).
        "404":
          description: Not found (Invalid subscriptionId, resourceGroupName, assessmentName).
        "500":
          description: Internal Server Error.
        "503":
          description: Service Unavailable.
      summary: Get all assessments created in the project.
      x-ms-examples:
        Assessments_ListByProject:
          parameters:
            api-version: 2017-11-11-preview
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                value:
                  - eTag: '"1100637e-0000-0000-0000-59f6ed1f0000"'
                    id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment01
                    name: assessment01
                    properties:
                      azureHybridUseBenefit: Yes
                      azureLocation: WestUs
                      azureOfferCode: MSAZR0003P
                      azurePricingTier: Standard
                      azureStorageRedundancy: LocallyRedundant
                      createdTimestamp: 2017-09-12T13:25:02.6983504Z
                      currency: USD
                      discountPercentage: 100
                      monthlyBandwidthCost: 0
                      monthlyComputeCost: 0
                      monthlyStorageCost: 0
                      numberOfMachines: 4
                      percentile: Percentile50
                      pricesTimestamp: 2017-09-12T13:25:02.6983504Z
                      scalingFactor: 1.2
                      stage: InProgress
                      status: Invalid
                      timeRange: Day
                      updatedTimestamp: 2017-09-12T13:45:57.0489951Z
                    type: Microsoft.Migrate/projects/groups/assessments
                  - eTag: '"1100637e-0000-0000-0000-59f6ed1f0000"'
                    id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment02
                    name: assessment02
                    properties:
                      azureHybridUseBenefit: Yes
                      azureLocation: WestUs
                      azureOfferCode: MSAZR0003P
                      azurePricingTier: Standard
                      azureStorageRedundancy: LocallyRedundant
                      createdTimestamp: 2017-09-15T09:59:21.5319568Z
                      currency: USD
                      discountPercentage: 20
                      monthlyBandwidthCost: 10
                      monthlyComputeCost: 50
                      monthlyStorageCost: 30
                      numberOfMachines: 4
                      percentile: Percentile99
                      pricesTimestamp: 2017-09-12T13:25:02.6983504Z
                      scalingFactor: 1
                      stage: InProgress
                      status: Completed
                      timeRange: Day
                      updatedTimestamp: 2017-09-15T09:59:21.5319568Z
                    type: Microsoft.Migrate/projects/groups/assessments
            "401": {}
            "404": {}
            "500": {}
            "503": {}
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/groups":
    get:
      description: Get all groups created in the project. Returns a json array of objects of type 'group' as specified in the Models section.
      operationId: Groups_ListByProject
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns list of groups.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/GroupResultList"
        "401":
          description: Not authorized (No access to subscription, resource group, or project).
        "404":
          description: Not found (Invalid subscriptionId, resourceGroupName, projectName).
        "500":
          description: Internal Server Error.
        "503":
          description: Service Unavailable.
      summary: Get all groups
      x-ms-examples:
        Groups_ListByProject:
          parameters:
            api-version: 2017-11-11-preview
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                value:
                  - eTag: '"1100637e-0000-0000-0000-59f6ed1f0000"'
                    id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01
                    name: group01
                    properties:
                      assessments:
                        - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment01
                        - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment02
                      createdTimestamp: 2017-09-12T13:17:23.5437337Z
                      machines:
                        - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/machines/amansing_vm1
                        - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/machines/amansing_vm2
                      updatedTimestamp: 2017-10-30T09:13:02.7580235Z
                    type: Microsoft.Migrate/projects/groups
                  - eTag: '"0000470d-0000-0000-0000-59b90d820000"'
                    id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group02
                    name: group02
                    properties:
                      assessments:
                        - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group02/assessments/assessment03
                      createdTimestamp: 2017-09-13T10:50:43.4356428Z
                      machines:
                        - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/machines/amansing_vm1
                      updatedTimestamp: 2017-09-13T10:50:43.4356428Z
                    type: Microsoft.Migrate/projects/groups
            "401": {}
            "404": {}
            "500": {}
            "503": {}
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/groups/{groupName}":
    delete:
      description: |
        Delete the group from the project. The machines remain in the project. Deleting a non-existent group results in a no-operation.

        A group is an aggregation mechanism for machines in a project. Therefore, deleting group does not delete machines in it.
      operationId: Groups_Delete
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/groupName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Deleted the group.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
        "204":
          description: No content. No group with specified name was found.
        "401":
          description: Not authorized (No access to subscription, resource group, or project)
        "404":
          description: Not found (Invalid subscriptionId, resourceGroupName)
        "500":
          description: Internal Server Error.
        "503":
          description: Service Unavailable.
      summary: Delete the group
      x-ms-examples:
        Groups_Delete:
          parameters:
            api-version: 2017-11-11-preview
            groupName: group01
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200": {}
            "204": {}
            "401": {}
            "404": {}
            "500": {}
            "503": {}
    get:
      description: Get information related to a specific group in the project. Returns a json object of type 'group' as specified in the models section.
      operationId: Groups_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/groupName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns the group with the specified name.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/Group"
        "401":
          description: Not authorized (No access to subscription, resource group, or project).
        "404":
          description: Not found (Invalid subscriptionId, resourceGroupName, projectName, or groupName).
        "500":
          description: Internal Server Error.
        "503":
          description: Service Unavailable.
      summary: Get a specific group.
      x-ms-examples:
        Groups_Get:
          parameters:
            api-version: 2017-11-11-preview
            groupName: group01
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                eTag: '"1100637e-0000-0000-0000-59f6ed1f0000"'
                id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01
                name: group01
                properties:
                  assessments:
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment01
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment02
                  createdTimestamp: 2017-09-12T13:17:23.5437337Z
                  machines:
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/machines/amansing_vm1
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/machines/amansing_vm2
                  updatedTimestamp: 2017-10-30T09:13:02.7580235Z
                type: Microsoft.Migrate/projects/groups
            "401": {}
            "404": {}
            "500": {}
            "503": {}
    put:
      description: |
        Create a new group by sending a json object of type 'group' as given in Models section as part of the Request Body. The group name in a project is unique. Labels can be applied on a group as part of creation.

        If a group with the groupName specified in the URL already exists, then this call acts as an update.

        This operation is Idempotent.
      operationId: Groups_Create
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/groupName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
        - description: New or Updated Group object.
          in: body
          name: group
          schema:
            $ref: "#/definitions/Group"
      responses:
        "200":
          description: OK. Existing group updated.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/Group"
        "201":
          description: Created. New group was created.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/Group"
        "400":
          description: Bad Request (Read only settings of an existing group cannot be changed).
        "401":
          description: Not authorized (No access to subscription, resource group, or project).
        "500":
          description: Internal Server Error.
        "503":
          description: Service Unavailable.
      summary: Create a new group with specified settings. If group with the name provided already exists, then the existing group is updated.
      x-ms-examples:
        Groups_Create:
          parameters:
            api-version: 2017-11-11-preview
            group:
              eTag: '"1100637e-0000-0000-0000-59f6ed1f0000"'
              properties:
                machines:
                  - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/machines/amansing_vm1
                  - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/machines/amansing_vm2
                  - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/machines/amansing_vm3
            groupName: group01
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                eTag: '"1100637e-0000-0000-0000-59f6ed1f0000"'
                id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01
                name: group01
                properties:
                  assessments:
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment01
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment02
                  createdTimestamp: 2017-09-12T13:17:23.5437337Z
                  machines:
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/machines/amansing_vm1
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/machines/amansing_vm2
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/machines/amansing_vm3
                  updatedTimestamp: 2017-10-30T09:13:02.7580235Z
                type: Microsoft.Migrate/projects/groups
            "201":
              body:
                eTag: '"1100637e-0000-0000-0000-59f6ed1f0000"'
                id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01
                name: group01
                properties:
                  assessments:
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment01
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment02
                  createdTimestamp: 2017-09-12T13:17:23.5437337Z
                  machines:
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/machines/amansing_vm1
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/machines/amansing_vm2
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/machines/amansing_vm3
                  updatedTimestamp: 2017-10-30T09:13:02.7580235Z
                type: Microsoft.Migrate/projects/groups
            "400": {}
            "401": {}
            "500": {}
            "503": {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/groups/{groupName}/assessments":
    get:
      description: |
        Get all assessments created for the specified group.

        Returns a json array of objects of type 'assessment' as specified in Models section.
      operationId: Assessments_ListByGroup
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/groupName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns list of Assessment objects.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/AssessmentResultList"
        "401":
          description: Not authorized (No access to subscription, resource group, or project).
        "404":
          description: Not found (Invalid subscriptionId, resourceGroupName, assessmentName).
        "500":
          description: Internal Server Error.
        "503":
          description: Service Unavailable.
      summary: Get all assessments created for the specified group.
      x-ms-examples:
        Assessments_ListByGroup:
          parameters:
            api-version: 2017-11-11-preview
            groupName: group01
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                value:
                  - eTag: '"1100637e-0000-0000-0000-59f6ed1f0000"'
                    id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment01
                    name: assessment01
                    properties:
                      azureHybridUseBenefit: Yes
                      azureLocation: WestUs
                      azureOfferCode: MSAZR0003P
                      azurePricingTier: Standard
                      azureStorageRedundancy: LocallyRedundant
                      createdTimestamp: 2017-09-12T13:25:02.6983504Z
                      currency: USD
                      discountPercentage: 100
                      monthlyBandwidthCost: 0
                      monthlyComputeCost: 0
                      monthlyStorageCost: 0
                      numberOfMachines: 4
                      percentile: Percentile50
                      pricesTimestamp: 2017-09-12T13:25:02.6983504Z
                      scalingFactor: 1.2
                      stage: InProgress
                      status: Invalid
                      timeRange: Day
                      updatedTimestamp: 2017-09-12T13:45:57.0489951Z
                    type: Microsoft.Migrate/projects/groups/assessments
                  - eTag: '"1100637e-0000-0000-0000-59f6ed1f0000"'
                    id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment02
                    name: assessment02
                    properties:
                      azureHybridUseBenefit: Yes
                      azureLocation: WestUs
                      azureOfferCode: MSAZR0003P
                      azurePricingTier: Standard
                      azureStorageRedundancy: LocallyRedundant
                      createdTimestamp: 2017-09-15T09:59:21.5319568Z
                      currency: USD
                      discountPercentage: 20
                      monthlyBandwidthCost: 10
                      monthlyComputeCost: 50
                      monthlyStorageCost: 30
                      numberOfMachines: 4
                      percentile: Percentile99
                      pricesTimestamp: 2017-09-12T13:25:02.6983504Z
                      scalingFactor: 1
                      stage: InProgress
                      status: Completed
                      timeRange: Day
                      updatedTimestamp: 2017-09-15T09:59:21.5319568Z
                    type: Microsoft.Migrate/projects/groups/assessments
            "401": {}
            "404": {}
            "500": {}
            "503": {}
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/groups/{groupName}/assessments/{assessmentName}":
    delete:
      description: |
        Delete an assessment from the project. The machines remain in the assessment. Deleting a non-existent assessment results in a no-operation.

        When an assessment is under computation, as indicated by the 'computationState' field, it cannot be deleted. Any such attempt will return a 400 - Bad Request.
      operationId: Assessments_Delete
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/groupName"
        - $ref: "#/parameters/assessmentName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Deleted the assessment.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
        "204":
          description: No content. No assessment with specified name was found.
        "400":
          description: Bad Request. Assessment is under computation and cannot be deleted yet.
        "401":
          description: Not authorized (No access to subscription, resource group, or project)
        "500":
          description: Internal Server Error.
        "503":
          description: Service Unavailable.
      summary: Deletes an assessment from the project.
      x-ms-examples:
        Assessments_Delete:
          parameters:
            api-version: 2017-11-11-preview
            assessmentName: assessment01
            groupName: group01
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200": {}
            "204": {}
            "400": {}
            "401": {}
            "500": {}
            "503": {}
    get:
      description: Get an existing assessment with the specified name. Returns a json object of type 'assessment' as specified in Models section.
      operationId: Assessments_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/groupName"
        - $ref: "#/parameters/assessmentName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns Assessment object.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/Assessment"
        "401":
          description: Not authorized (No access to subscription, resource group, or project).
        "404":
          description: Not found (Invalid subscriptionId, resourceGroupName, projectName, or assessmentName).
        "500":
          description: Internal Server Error.
        "503":
          description: Service Unavailable.
      summary: Get an assessment.
      x-ms-examples:
        Assessments_Get:
          parameters:
            api-version: 2017-11-11-preview
            assessmentName: assessment01
            groupName: group01
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                eTag: '"1100637e-0000-0000-0000-59f6ed1f0000"'
                id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment01
                name: assessment01
                properties:
                  azureHybridUseBenefit: Yes
                  azureLocation: WestUs
                  azureOfferCode: MSAZR0003P
                  azurePricingTier: Standard
                  azureStorageRedundancy: LocallyRedundant
                  createdTimestamp: 2017-09-12T13:25:02.6983504Z
                  currency: USD
                  discountPercentage: 100
                  monthlyBandwidthCost: 0
                  monthlyComputeCost: 0
                  monthlyStorageCost: 0
                  numberOfMachines: 4
                  percentile: Percentile50
                  pricesTimestamp: 2017-09-12T13:25:02.6983504Z
                  scalingFactor: 1.2
                  stage: InProgress
                  status: Invalid
                  timeRange: Day
                  updatedTimestamp: 2017-09-12T13:45:57.0489951Z
                type: Microsoft.Migrate/projects/groups/assessments
            "401": {}
            "404": {}
            "500": {}
            "503": {}
    put:
      description: |
        Create a new assessment with the given name and the specified settings. Since name of an assessment in a project is a unique identifier, if an assessment with the name provided already exists, then the existing assessment is updated.

        Any PUT operation, resulting in either create or update on an assessment, will cause the assessment to go in a "InProgress" state. This will be indicated by the field 'computationState' on the Assessment object. During this time no other PUT operation will be allowed on that assessment object, nor will a Delete operation. Once the computation for the assessment is complete, the field 'computationState' will be updated to 'Ready', and then other PUT or DELETE operations can happen on the assessment.

        When assessment is under computation, any PUT will lead to a 400 - Bad Request error.
      operationId: Assessments_Create
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/groupName"
        - $ref: "#/parameters/assessmentName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
        - description: New or Updated Assessment object.
          in: body
          name: assessment
          schema:
            $ref: "#/definitions/Assessment"
      responses:
        "200":
          description: OK. Existing assessment updated.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/Assessment"
        "201":
          description: Created. New assessment was created.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/Assessment"
        "400":
          description: Bad Request. Assessment is under computation and cannot be updated yet.
        "401":
          description: Not authorized (No access to subscription, resource group, or project).
        "500":
          description: Internal Server Error.
        "503":
          description: Service Unavailable.
      summary: Create or Update assessment.
      x-ms-examples:
        Assessments_Create:
          parameters:
            api-version: 2017-11-11-preview
            assessment:
              eTag: '"1100637e-0000-0000-0000-59f6ed1f0000"'
              properties:
                azureHybridUseBenefit: Yes
                azureLocation: WestUs
                azureOfferCode: MSAZR0003P
                azurePricingTier: Standard
                azureStorageRedundancy: LocallyRedundant
                currency: USD
                discountPercentage: 100
                percentile: Percentile50
                scalingFactor: 1.2
                stage: InProgress
                timeRange: Day
            assessmentName: assessment01
            groupName: group01
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                eTag: '"1100637e-0000-0000-0000-59f6ed1f0000"'
                id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment01
                name: assessment01
                properties:
                  azureHybridUseBenefit: Yes
                  azureLocation: WestUs
                  azureOfferCode: MSAZR0003P
                  azurePricingTier: Standard
                  azureStorageRedundancy: LocallyRedundant
                  createdTimestamp: 2017-09-12T13:25:02.6983504Z
                  currency: USD
                  discountPercentage: 100
                  monthlyBandwidthCost: 0
                  monthlyComputeCost: 0
                  monthlyStorageCost: 0
                  numberOfMachines: 4
                  percentile: Percentile50
                  pricesTimestamp: 2017-09-12T13:25:02.6983504Z
                  scalingFactor: 1.2
                  stage: InProgress
                  status: Invalid
                  timeRange: Day
                  updatedTimestamp: 2017-09-12T13:45:57.0489951Z
                type: Microsoft.Migrate/projects/groups/assessments
            "201":
              body:
                eTag: '"1100637e-0000-0000-0000-59f6ed1f0000"'
                id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment01
                name: assessment01
                properties:
                  azureHybridUseBenefit: Yes
                  azureLocation: WestUs
                  azureOfferCode: MSAZR0003P
                  azurePricingTier: Standard
                  azureStorageRedundancy: LocallyRedundant
                  createdTimestamp: 2017-09-12T13:25:02.6983504Z
                  currency: USD
                  discountPercentage: 100
                  monthlyBandwidthCost: 0
                  monthlyComputeCost: 0
                  monthlyStorageCost: 0
                  numberOfMachines: 4
                  percentile: Percentile50
                  pricesTimestamp: 2017-09-12T13:25:02.6983504Z
                  scalingFactor: 1.2
                  stage: InProgress
                  status: Invalid
                  timeRange: Day
                  updatedTimestamp: 2017-09-12T13:45:57.0489951Z
                type: Microsoft.Migrate/projects/groups/assessments
            "400": {}
            "401": {}
            "500": {}
            "503": {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/groups/{groupName}/assessments/{assessmentName}/assessedMachines":
    get:
      description: |
        Get list of machines that assessed as part of the specified assessment. Returns a json array of objects of type 'assessedMachine' as specified in the Models section.

        Whenever an assessment is created or updated, it goes under computation. During this phase, the 'status' field of Assessment object reports 'Computing'.
        During the period when the assessment is under computation, the list of assessed machines is empty and no assessed machines are returned by this call.
      operationId: AssessedMachines_ListByAssessment
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/groupName"
        - $ref: "#/parameters/assessmentName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns list of machines with their assessment data in the assessment.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/AssessedMachineResultList"
        "401":
          description: Not authorized (No access to subscription, resource group, or project).
        "404":
          description: Not found (Invalid subscriptionId, resourceGroupName, projectName, or assessmentName).
        "500":
          description: Internal Server Error.
        "503":
          description: Service Unavailable.
      summary: Get assessed machines for assessment.
      x-ms-examples:
        AssessedMachines_ListByAssessment:
          parameters:
            api-version: 2017-11-11-preview
            assessmentName: assessment01
            groupName: group01
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                value:
                  - eTag: '"010000ef-0000-0000-0000-59b7e53e0000"'
                    id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment01/assessedMachines/amansing_vm1
                    name: amansing_vm1
                    properties:
                      bootType: BIOS
                      createdTimestamp: 2017-09-12T13:17:23.5437337Z
                      datacenterContainer: 10.184.81.34
                      datacenterMachineId: vmWare_amansing_vm1
                      datacenterManagementServer: 10.240.17.240
                      datacenterManagementServerId: vmWare_unqie_01
                      description: Azure Migration Planner - Collector
                      discoveredTimestamp: 2017-09-12T13:17:23.5437337Z
                      disks:
                        scsi0:0:
                          gigabytesConsumed: 0
                          gigabytesForRecommendedDiskSize: 32
                          gigabytesProvisioned: 20
                          megabytesPerSecondOfRead: 0
                          megabytesPerSecondOfWrite: 0
                          monthlyStorageCost: 0
                          name: scsi0:0
                          numberOfReadOperationsPerSecond: 0
                          numberOfWriteOperationsPerSecond: 0
                          recommendedDiskSize: Standard_S4
                          recommendedDiskType: Standard
                          suitability: Suitable
                          suitabilityExplanation: NotApplicable
                      displayName: amansing_vm1
                      groups:
                        - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/projects01/groups/groups01
                        - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/projects01/groups/groups02
                      megabytesOfMemory: 8192
                      megabytesOfMemoryForRecommendedSize: 786
                      monthlyBandwidthCost: 0
                      monthlyComputeCostForRecommendedSize: 0
                      monthlyStorageCost: 0
                      networkAdapters:
                        "4000":
                          ipAddresses:
                            - 2001:4898:e0:f099:91fd:55f:42de:c130
                            - 2001:4898:e0:f099:ac11:23c3:e39f:533d
                            - fe80::91fd:55f:42de:c130
                            - 10.184.83.206
                          macAddress: 00:50:56:ba:7f:25
                          megabytesPerSecondReceived: 0
                          megabytesPerSecondTransmitted: 0
                          monthlyBandwidthCosts: 0
                          netGigabytesTransmittedPerMonth: 0
                          suitability: Suitable
                          suitabilityExplanation: NotApplicable
                      numberOfCores: 4
                      numberOfCoresForRecommendedSize: 1
                      operatingSystem: Microsoft Windows Server 2008 (64-bit)
                      percentageCoresUtilization: 0.7752173913043479
                      percentageMemoryUtilization: 0.43666666666666665
                      recommendedSize: Standard_A0
                      suitability: ConditionallySuitable
                      suitabilityExplanation: WindowsServerVersionConditionallySupported
                      updatedTimestamp: 2017-09-12T13:17:23.5437337Z
                    type: Microsoft.Migrate/projects/groups/assessments/assessedMachines
                  - eTag: '"0000918f-0000-0000-0000-59c12ce90000"'
                    id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment01/assessedMachines/amansing_vm2
                    name: amansing_vm2
                    properties:
                      bootType: BIOS
                      createdTimestamp: 2017-09-12T13:17:23.5437337Z
                      datacenterContainer: 10.184.81.34
                      datacenterMachineId: vmWare_amansing_vm2
                      datacenterManagementServer: 10.240.17.240
                      datacenterManagementServerId: vmWare_unique_id
                      description: Azure Migration Planner - Collector
                      discoveredTimestamp: 2017-09-12T13:17:23.5437337Z
                      disks:
                        scsi0:0:
                          gigabytesConsumed: 0
                          gigabytesForRecommendedDiskSize: 32
                          gigabytesProvisioned: 20
                          megabytesPerSecondOfRead: 0
                          megabytesPerSecondOfWrite: 0
                          monthlyStorageCost: 0
                          name: scsi0:0
                          numberOfReadOperationsPerSecond: 0
                          numberOfWriteOperationsPerSecond: 0
                          recommendedDiskSize: Standard_S4
                          recommendedDiskType: Standard
                          suitability: Suitable
                          suitabilityExplanation: NotApplicable
                      displayName: amansing_vm2
                      groups:
                        - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/projects01/groups/groups01
                        - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/projects01/groups/groups02
                      megabytesOfMemory: 8192
                      megabytesOfMemoryForRecommendedSize: 786
                      monthlyBandwidthCost: 0
                      monthlyComputeCostForRecommendedSize: 0
                      monthlyStorageCost: 0
                      networkAdapters:
                        "4000":
                          ipAddresses:
                            - 2001:4898:e0:f099:91fd:55f:42de:c130
                            - 2001:4898:e0:f099:ac11:23c3:e39f:533d
                            - fe80::91fd:55f:42de:c130
                            - 10.184.83.206
                          macAddress: 00:50:56:ba:7f:25
                          megabytesPerSecondReceived: 0
                          megabytesPerSecondTransmitted: 0
                          monthlyBandwidthCosts: 0
                          netGigabytesTransmittedPerMonth: 0
                          suitability: Suitable
                          suitabilityExplanation: NotApplicable
                      numberOfCores: 4
                      numberOfCoresForRecommendedSize: 1
                      operatingSystem: Microsoft Windows Server 2008 (64-bit)
                      percentageCoresUtilization: 0.7752173913043479
                      percentageMemoryUtilization: 0.43666666666666665
                      recommendedSize: Standard_A0
                      suitability: ConditionallySuitable
                      suitabilityExplanation: WindowsServerVersionConditionallySupported
                      updatedTimestamp: 2017-09-12T13:17:23.5437337Z
                    type: Microsoft.Migrate/projects/groups/assessments/assessedMachines
            "401": {}
            "404": {}
            "500": {}
            "503": {}
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/groups/{groupName}/assessments/{assessmentName}/assessedMachines/{assessedMachineName}":
    get:
      description: Get an assessed machine with its size & cost estimate that was evaluated in the specified assessment.
      operationId: AssessedMachines_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/groupName"
        - $ref: "#/parameters/assessmentName"
        - $ref: "#/parameters/assessedMachineName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns a specific assessed machine.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/AssessedMachine"
        "401":
          description: Not authorized (No access to subscription, resource group, or project).
        "404":
          description: Not found (Invalid subscriptionId, resourceGroupName, projectName, groupName, assessmentName, or machineId).
        "500":
          description: Internal Server Error.
        "503":
          description: Service Unavailable.
      summary: Get an assessed machine.
      x-ms-examples:
        AssessedMachines_Get:
          parameters:
            api-version: 2017-11-11-preview
            assessedMachineName: amansing_vm1
            assessmentName: assessment01
            groupName: group01
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                eTag: '"010000ef-0000-0000-0000-59b7e53e0000"'
                id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/groups/group01/assessments/assessment01/assessedMachines/amansing_vm1
                name: amansing_vm1
                properties:
                  bootType: BIOS
                  createdTimestamp: 2017-09-12T13:17:23.5437337Z
                  datacenterContainer: 10.184.81.34
                  datacenterMachineId: vmWare_amansing_vm1
                  datacenterManagementServer: 10.240.17.240
                  datacenterManagementServerId: vmWare_unqie_01
                  description: Azure Migration Planner - Collector
                  discoveredTimestamp: 2017-09-12T13:17:23.5437337Z
                  disks:
                    scsi0:0:
                      gigabytesConsumed: 0
                      gigabytesForRecommendedDiskSize: 32
                      gigabytesProvisioned: 20
                      megabytesPerSecondOfRead: 0
                      megabytesPerSecondOfWrite: 0
                      monthlyStorageCost: 0
                      name: scsi0:0
                      numberOfReadOperationsPerSecond: 0
                      numberOfWriteOperationsPerSecond: 0
                      recommendedDiskSize: Standard_S4
                      recommendedDiskType: Standard
                      suitability: Suitable
                      suitabilityExplanation: NotApplicable
                  displayName: amansing_vm1
                  groups:
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/projects01/groups/groups01
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/projects01/groups/groups02
                  megabytesOfMemory: 8192
                  megabytesOfMemoryForRecommendedSize: 786
                  monthlyBandwidthCost: 0
                  monthlyComputeCostForRecommendedSize: 0
                  monthlyStorageCost: 0
                  networkAdapters:
                    "4000":
                      ipAddresses:
                        - 2001:4898:e0:f099:91fd:55f:42de:c130
                        - 2001:4898:e0:f099:ac11:23c3:e39f:533d
                        - fe80::91fd:55f:42de:c130
                        - 10.184.83.206
                      macAddress: 00:50:56:ba:7f:25
                      megabytesPerSecondReceived: 0
                      megabytesPerSecondTransmitted: 0
                      monthlyBandwidthCosts: 0
                      netGigabytesTransmittedPerMonth: 0
                      suitability: Suitable
                      suitabilityExplanation: NotApplicable
                  numberOfCores: 4
                  numberOfCoresForRecommendedSize: 1
                  operatingSystem: Microsoft Windows Server 2008 (64-bit)
                  percentageCoresUtilization: 0.7752173913043479
                  percentageMemoryUtilization: 0.43666666666666665
                  recommendedSize: Standard_A0
                  suitability: ConditionallySuitable
                  suitabilityExplanation: WindowsServerVersionConditionallySupported
                  updatedTimestamp: 2017-09-12T13:17:23.5437337Z
                type: Microsoft.Migrate/projects/groups/assessments/assessedMachines
            "401": {}
            "404": {}
            "500": {}
            "503": {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/groups/{groupName}/assessments/{assessmentName}/downloadUrl":
    post:
      description: Get the URL for downloading the assessment in a report format.
      operationId: Assessments_GetReportDownloadUrl
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/groupName"
        - $ref: "#/parameters/assessmentName"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/acceptLanguage"
      responses:
        "200":
          description: OK.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/DownloadUrl"
        "401":
          description: Not authorized (No access to subscription, resource group, or project).
        "404":
          description: Not found (Invalid subscriptionId, resourceGroupName, projectName).
        "500":
          description: Internal Server Error.
        "503":
          description: Service Unavailable.
      summary: Get download URL for the assessment report.
      x-ms-examples:
        Assessments_GetReportDownloadUrl:
          parameters:
            api-version: 2017-11-11-preview
            assessmentName: assessment01
            groupName: group01
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                assessmentReportUrl: link-to-download-assessment-report
                expirationTime: 2017-09-12T13:17:23.5437337Z
            "401": {}
            "404": {}
            "500": {}
            "503": {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/machines":
    get:
      description: Get data of all the machines available in the project. Returns a json array of objects of type 'machine' defined in Models section.
      operationId: Machines_ListByProject
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns list of all machine objects.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/MachineResultList"
        "401":
          description: Not authorized (No access to subscription, resource group, or project).
        "404":
          description: Not found (Invalid subscriptionId, resourceGroupName, projectName).
        "500":
          description: Internal Server Error.
        "503":
          description: Service Unavailable.
      summary: Get all machines in the project
      x-ms-examples:
        Machines_ListByProject:
          parameters:
            api-version: 2017-11-11-preview
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                value:
                  - eTag: '"b701c63a-0000-0000-0000-59c12fe60000"'
                    id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/projects01/machines/amansing_vm1
                    name: amansing_vm1
                    properties:
                      bootType: BIOS
                      createdTimestamp: 2017-09-09T07:44:44.5677283Z
                      datacenterContainer: vmWareFolder
                      datacenterMachineId: vmWare_amansing_vm1
                      datacenterManagementServer: 123.123.123.123
                      datacenterManagementServerId: vmWare_unqie_01
                      description: Azure Migration Planner - Collector
                      discoveredTimestamp: 2017-09-09T07:44:44.5677283Z
                      disks:
                        scsi0:0:
                          gigabytesAllocated: 20
                          gigabytesConsumed: 0
                      displayName: amansing_vm1
                      groups:
                        - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/projects01/groups/groups01
                        - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/projects01/groups/groups02
                      megabytesOfMemory: 8192
                      networkAdapters:
                        "4000":
                          ipAddresses:
                            - 2001:4898:e0:f099:91fd:55f:42de:c130
                            - 2001:4898:e0:f099:ac11:23c3:e39f:533d
                            - fe80::91fd:55f:42de:c130
                            - 10.184.83.206
                          macAddress: 00:50:56:ba:7f:25
                      numberOfCores: 4
                      operatingSystem: Microsoft Windows Server 2008 (64-bit)
                      updatedTimestamp: 2017-09-09T10:11:25.7585427Z
                    type: Microsoft.Migrate/projects/machines
                  - eTag: '"b701c73a-0000-0000-0000-59c12ff00000"'
                    id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01/machines/amansing_vm2
                    name: amansing_vm2
                    properties:
                      bootType: BIOS
                      createdTimestamp: 2017-09-09T07:44:44.5677283Z
                      datacenterContainer: vmWareFolder
                      datacenterMachineId: vmWare_amansing_vm2
                      datacenterManagementServer: 123.123.123.123
                      datacenterManagementServerId: vmWare_unqie_01
                      description: Azure Migration Planner - Collector
                      discoveredTimestamp: 2017-09-09T07:44:44.5677283Z
                      disks:
                        scsi0:0:
                          gigabytesAllocated: 20
                          gigabytesConsumed: 0
                      displayName: amansing_vm2
                      groups:
                        - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/projects01/groups/groups01
                      megabytesOfMemory: 8192
                      networkAdapters:
                        "4000":
                          ipAddresses:
                            - 2001:4898:e0:f099:91fd:55f:42de:c130
                            - 2001:4898:e0:f099:ac11:23c3:e39f:533d
                            - fe80::91fd:55f:42de:c130
                            - 10.184.83.206
                          macAddress: 00:50:56:ba:7f:25
                      numberOfCores: 4
                      operatingSystem: Microsoft Windows Server 2008 (64-bit)
                      updatedTimestamp: 2017-09-09T10:11:25.7585427Z
                    type: Microsoft.Migrate/projects/machines
            "401": {}
            "404": {}
            "500": {}
            "503": {}
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/machines/{machineName}":
    get:
      description: Get the machine with the specified name. Returns a json object of type 'machine' defined in Models section.
      operationId: Machines_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/machineName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns the machine with the specified name.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/Machine"
        "401":
          description: Not authorized (No access to subscription, resource group, or project).
        "404":
          description: Not found (Invalid subscriptionId, resourceGroupName, projectName, or machineName).
        "500":
          description: Internal Server Error.
        "503":
          description: Service Unavailable.
      summary: Get a specific machine.
      x-ms-examples:
        Machines_Get:
          parameters:
            api-version: 2017-11-11-preview
            machineName: amansing_vm1
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                eTag: '"b701c63a-0000-0000-0000-59c12fe60000"'
                id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/projects01/machines/amansing_vm1
                name: amansing_vm1
                properties:
                  bootType: BIOS
                  createdTimestamp: 2017-09-09T07:44:44.5677283Z
                  datacenterContainer: vmWareFolder
                  datacenterMachineId: vmWare_amansing_vm1
                  datacenterManagementServer: 123.123.123.123
                  datacenterManagementServerId: vmWare_unqie_01
                  description: Azure Migration Planner - Collector
                  discoveredTimestamp: 2017-09-09T07:44:44.5677283Z
                  disks:
                    scsi0:0:
                      gigabytesAllocated: 20
                      gigabytesConsumed: 0
                  displayName: amansing_vm1
                  groups:
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/projects01/groups/groups01
                    - /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/projects01/groups/groups02
                  megabytesOfMemory: 8192
                  networkAdapters:
                    "4000":
                      ipAddresses:
                        - 2001:4898:e0:f099:91fd:55f:42de:c130
                        - 2001:4898:e0:f099:ac11:23c3:e39f:533d
                        - fe80::91fd:55f:42de:c130
                        - 10.184.83.206
                      macAddress: 00:50:56:ba:7f:25
                  numberOfCores: 4
                  operatingSystem: Microsoft Windows Server 2008 (64-bit)
                  updatedTimestamp: 2017-09-09T10:11:25.7585427Z
                type: Microsoft.Migrate/projects/machines
            "401": {}
            "404": {}
            "500": {}
            "503": {}
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Migrate/projects":
    get:
      description: Get all the projects in the resource group.
      operationId: Projects_List
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/acceptLanguage"
      responses:
        "200":
          description: OK.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/ProjectResultList"
        "401":
          description: Not authorized (No access to subscription or resource group).
        "404":
          description: Not found (Invalid subscriptionId, resourceGroupName).
        "500":
          description: Internal Server Error.
        "503":
          description: Service Unavailable.
      summary: Get all projects.
      x-ms-examples:
        Projects_List:
          parameters:
            api-version: 2017-11-11-preview
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                value:
                  - eTag: '"b701c73a-0000-0000-0000-59c12ff00000"'
                    id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01
                    location: West Us
                    name: project01
                    properties:
                      createdTimestamp: 2017-09-12T13:11:30.8808917Z
                      customerWorkspaceId: ""
                      discoveryStatus: NotStarted
                      numberOfAssessments: 5
                      numberOfGroups: 2
                      numberOfMachines: 5
                      updatedTimestamp: 2017-09-12T13:11:30.8848966Z
                    tags: {}
                    type: Microsoft.Migrate/projects
                  - eTag: '"b701c73a-0000-1111-0000-59c12ff02222"'
                    id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project02
                    location: West Us
                    name: project02
                    properties:
                      createdTimestamp: 2017-09-13T10:50:05.3206647Z
                      customerWorkspaceId: ""
                      discoveryStatus: NotStarted
                      numberOfAssessments: 4
                      numberOfGroups: 4
                      numberOfMachines: 6
                      updatedTimestamp: 2017-09-13T10:50:05.3236679Z
                    tags: {}
                    type: Microsoft.Migrate/projects
            "401": {}
            "404": {}
            "500": {}
            "503": {}
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}":
    delete:
      description: Delete the project. Deleting non-existent project is a no-operation.
      operationId: Projects_Delete
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/acceptLanguage"
      responses:
        "200":
          description: OK. Deleted the group.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
        "204":
          description: No content. No project with specified name was found.
        "400":
          description: Bad request. (Invalid subscriptionId or resourceGroupName).
        "401":
          description: Not authorized (No access to subscription, resource group, or project)
        "500":
          description: Internal Server Error.
        "503":
          description: Service Unavailable.
      summary: Delete the project
      x-ms-examples:
        Projects_Delete:
          parameters:
            api-version: 2017-11-11-preview
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200": {}
            "204": {}
            "400": {}
            "401": {}
            "500": {}
            "503": {}
    get:
      description: Get the project with the specified name.
      operationId: Projects_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/acceptLanguage"
      responses:
        "200":
          description: OK.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/Project"
        "401":
          description: Not authorized (No access to subscription, resource group, or project).
        "404":
          description: Not found (Invalid subscriptionId, resourceGroupName, projectName).
        "500":
          description: Internal Server Error.
        "503":
          description: Service Unavailable.
      summary: Get the specified project.
      x-ms-examples:
        Projects_Get:
          parameters:
            api-version: 2017-11-11-preview
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                eTag: '"b701c73a-0000-0000-0000-59c12ff00000"'
                id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01
                location: West Us
                name: project01
                properties:
                  createdTimestamp: 2017-09-12T13:11:30.8808917Z
                  customerWorkspaceId: ""
                  discoveryStatus: NotStarted
                  numberOfAssessments: 5
                  numberOfGroups: 2
                  numberOfMachines: 5
                  updatedTimestamp: 2017-09-12T13:11:30.8848966Z
                tags: {}
                type: Microsoft.Migrate/projects
            "401": {}
            "404": {}
            "500": {}
            "503": {}
    patch:
      description: Update a project with specified name. Supports partial updates, for example only tags can be provided.
      operationId: Projects_Update
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/acceptLanguage"
        - description: Updated project object.
          in: body
          name: project
          schema:
            $ref: "#/definitions/Project"
      responses:
        "200":
          description: OK. Existing project updated.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/Project"
        "400":
          description: Bad Request (Read only settings of an existing project cannot be changed).
        "401":
          description: Not authorized (No access to subscription, resource group, or project).
        "404":
          description: Not found (Invalid subscriptionId, resourceGroupName, or nestName).
        "500":
          description: Internal Server Error.
        "503":
          description: Service Unavailable.
      summary: Update project.
      x-ms-examples:
        Projects_Update:
          parameters:
            api-version: 2017-11-11-preview
            project:
              eTag: ""
              id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01
              location: West Us
              name: project01
              properties:
                customerWorkspaceId: ""
              tags: {}
              type: Microsoft.Migrate/projects
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                eTag: '"b701c73a-0000-0000-0000-59c12ff00000"'
                id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01
                location: West Us
                name: project01
                properties:
                  createdTimestamp: 2017-09-12T13:11:30.8808917Z
                  customerWorkspaceId: ""
                  discoveryStatus: NotStarted
                  numberOfAssessments: 5
                  numberOfGroups: 2
                  numberOfMachines: 5
                  updatedTimestamp: 2017-09-12T13:11:30.8848966Z
                tags: {}
                type: Microsoft.Migrate/projects
            "400": {}
            "401": {}
            "404": {}
            "500": {}
            "503": {}
    put:
      description: Create a project with specified name. If a project already exists, update it.
      operationId: Projects_Create
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/acceptLanguage"
        - description: New or Updated project object.
          in: body
          name: project
          schema:
            $ref: "#/definitions/Project"
      responses:
        "200":
          description: OK. Existing project updated.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/Project"
        "201":
          description: Created. New project was created.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/Project"
        "400":
          description: Bad Request (Read only settings of an existing project cannot be changed).
        "401":
          description: Not authorized (No access to subscription, resource group, or project).
        "500":
          description: Internal Server Error.
        "503":
          description: Service Unavailable.
      summary: Create or update project.
      x-ms-examples:
        Projects_Create:
          parameters:
            api-version: 2017-11-11-preview
            project:
              eTag: '"b701c73a-0000-0000-0000-59c12ff00000"'
              id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01
              location: West Us
              name: project01
              properties:
                customerWorkspaceId: url-to-customers-service-map
              tags: {}
              type: Microsoft.Migrate/projects
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                eTag: '"b701c73a-0000-0000-0000-59c12ff00000"'
                id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01
                location: West Us
                name: project01
                properties:
                  createdTimestamp: 2017-09-12T13:11:30.8808917Z
                  customerWorkspaceId: ""
                  discoveryStatus: NotStarted
                  numberOfAssessments: 5
                  numberOfGroups: 2
                  numberOfMachines: 5
                  updatedTimestamp: 2017-09-12T13:11:30.8848966Z
                tags: {}
                type: Microsoft.Migrate/projects
            "201":
              body:
                eTag: '"b701c73a-0000-0000-0000-59c12ff00000"'
                id: /subscriptions/75dd7e42-4fd1-4512-af04-83ad9864335b/resourceGroups/myResourceGroup/providers/Microsoft.Migrate/projects/project01
                location: West Us
                name: project01
                properties:
                  createdTimestamp: 2017-09-12T13:11:30.8808917Z
                  customerWorkspaceId: ""
                  discoveryStatus: NotStarted
                  numberOfAssessments: 5
                  numberOfGroups: 2
                  numberOfMachines: 5
                  updatedTimestamp: 2017-09-12T13:11:30.8848966Z
                tags: {}
                type: Microsoft.Migrate/projects
            "400": {}
            "401": {}
            "500": {}
            "503": {}
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/keys":
    post:
      description: Gets the Log Analytics Workspace ID and Primary Key for the specified project.
      operationId: Projects_GetKeys
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/acceptLanguage"
      responses:
        "200":
          description: OK.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/ProjectKey"
        "401":
          description: Not authorized (No access to subscription, resource group, or project).
        "404":
          description: Not found (Invalid subscriptionId, resourceGroupName, projectName).
        "500":
          description: Internal Server Error.
        "503":
          description: Service Unavailable.
      summary: Get shared keys for the project.
      x-ms-examples:
        Projects_GetKeys:
          parameters:
            api-version: 2017-11-11-preview
            projectName: project01
            resourceGroupName: myResourceGroup
            subscriptionId: 75dd7e42-4fd1-4512-af04-83ad9864335b
          responses:
            "200":
              body:
                workspaceId: migrationProjectId
                workspaceKey: migrationProjectKey
            "401": {}
            "404": {}
            "500": {}
            "503": {}
definitions:
  AssessedDisk:
    description: A disk assessed for an assessment.
    properties:
      gigabytesConsumed:
        description: Gigabytes of storage consumed by this disk.
        format: double
        readOnly: true
        type: number
      gigabytesForRecommendedDiskSize:
        description: Gigabytes of storage provided by the recommended Azure disk size.
        format: int32
        readOnly: true
        type: integer
      gigabytesProvisioned:
        description: Gigabytes of storage provisioned for this disk.
        format: double
        readOnly: true
        type: number
      megabytesPerSecondOfRead:
        description: Disk throughput in MegaBytes per second.
        format: double
        readOnly: true
        type: number
      megabytesPerSecondOfWrite:
        description: Disk throughput in MegaBytes per second.
        format: double
        readOnly: true
        type: number
      monthlyStorageCost:
        description: Estimated aggregate storage cost for a 31-day month for this disk.
        format: double
        readOnly: true
        type: number
      name:
        description: Name of the assessed disk.
        readOnly: true
        type: string
      numberOfReadOperationsPerSecond:
        description: Number of read operations per second for the disk.
        format: double
        readOnly: true
        type: number
      numberOfWriteOperationsPerSecond:
        description: Number of read and write operations per second for the disk.
        format: double
        readOnly: true
        type: number
      recommendedDiskSize:
        description: Recommended Azure size for the disk, given utilization data and preferences set on Assessment.
        enum:
          - Unknown
          - Standard_S4
          - Standard_S6
          - Standard_S10
          - Standard_S20
          - Standard_S30
          - Standard_S40
          - Standard_S50
          - Premium_P4
          - Premium_P6
          - Premium_P10
          - Premium_P20
          - Premium_P30
          - Premium_P40
          - Premium_P50
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: AzureDiskSize
      recommendedDiskType:
        description: Storage type selected for this disk.
        enum:
          - Unknown
          - Standard
          - Premium
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: AzureDiskType
      suitability:
        description: Whether this disk is suitable for Azure.
        enum:
          - Unknown
          - NotSuitable
          - Suitable
          - ConditionallySuitable
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: CloudSuitability
      suitabilityExplanation:
        description: If disk is suitable, this explains the reasons and mitigation steps.
        enum:
          - Unknown
          - NotApplicable
          - DiskSizeGreaterThanSupported
          - NoSuitableDiskSizeForIops
          - NoSuitableDiskSizeForThroughput
          - NoDiskSizeFoundInSelectedLocation
          - NoDiskSizeFoundForSelectedRedundancy
          - InternalErrorOccurredForDiskEvaluation
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: AzureDiskSuitabilityExplanation
    type: object
  AssessedMachine:
    description: A machine evaluated as part of an assessment.
    properties:
      eTag:
        description: For optimistic concurrency control.
        type: string
      id:
        description: Path reference to this assessed machine. /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/groups/{groupName}/assessments/{assessmentName}/assessedMachines/{assessedMachineName}
        readOnly: true
        type: string
      name:
        description: Name of the machine.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/AssessedMachineProperties"
        description: Properties of an assessed machine.
        x-ms-client-flatten: true
      type:
        description: Type of the object = [Microsoft.Migrate/projects/groups/assessments/assessedMachines].
        readOnly: true
        type: string
    type: object
    x-ms-azure-resource: true
  AssessedMachineProperties:
    description: Properties of an assessed machine.
    properties:
      bootType:
        description: Boot type of the machine.
        enum:
          - Unknown
          - EFI
          - BIOS
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: MachineBootType
      createdTimestamp:
        description: Time when this machine was created. Date-Time represented in ISO-8601 format.
        format: date-time
        readOnly: true
        type: string
      datacenterContainer:
        description: Container defined in the management solution that this machine is part of in the datacenter.
        readOnly: true
        type: string
      datacenterMachineId:
        description: ID of the machine as tracked by the datacenter management solution.
        readOnly: true
        type: string
      datacenterManagementServer:
        description: Name of the server hosting the datacenter management solution.
        readOnly: true
        type: string
      datacenterManagementServerId:
        description: ID of the server hosting the datacenter management solution.
        readOnly: true
        type: string
      description:
        description: Description of the machine
        readOnly: true
        type: string
      discoveredTimestamp:
        description: Time when this machine was discovered by Azure Migrate agent. Date-Time represented in ISO-8601 format.
        format: date-time
        readOnly: true
        type: string
      disks:
        additionalProperties:
          $ref: "#/definitions/AssessedDisk"
        description: Dictionary of disks attached to the machine. Key is ID of disk. Value is a disk object.
        readOnly: true
        type: object
      displayName:
        description: User readable name of the machine as defined by the user in their private datacenter.
        readOnly: true
        type: string
      groups:
        description: List of references to the groups that the machine is member of.
        items:
          description: Reference to a group that this machine is member of. /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/groups/{groupName}
          readOnly: true
          type: string
        readOnly: true
        type: array
      megabytesOfMemory:
        description: Memory in Megabytes.
        format: double
        readOnly: true
        type: number
      megabytesOfMemoryForRecommendedSize:
        description: Megabytes of memory in the Recommended Azure VM Size.
        format: double
        readOnly: true
        type: number
      monthlyBandwidthCost:
        description: Monthly network cost estimate for the network adapters that are attached to this machine as a group, for a 31-day month.
        format: double
        readOnly: true
        type: number
      monthlyComputeCostForRecommendedSize:
        description: Compute Cost for a 31-day month, if the machine is migrated to Azure with the Recommended Size.
        format: double
        readOnly: true
        type: number
      monthlyStorageCost:
        description: Monthly storage cost estimate for the disks that are attached to this machine as a group, for a 31-day month.
        format: double
        readOnly: true
        type: number
      networkAdapters:
        additionalProperties:
          $ref: "#/definitions/AssessedNetworkAdapter"
        description: Dictionary of network adapters attached to the machine. Key is name of the adapter. Value is a network adapter object.
        readOnly: true
        type: object
      numberOfCores:
        description: Processor count.
        format: int32
        readOnly: true
        type: integer
      numberOfCoresForRecommendedSize:
        description: Number of CPU cores in the Recommended Azure VM Size.
        format: int32
        readOnly: true
        type: integer
      operatingSystem:
        description: Operating System of the machine.
        readOnly: true
        type: string
      percentageCoresUtilization:
        description: Utilization percentage of the processor core as observed in the private data center, in the Time Range selected on Assessment, reported as the Percentile value based on the percentile number selected in assessment.
        format: double
        readOnly: true
        type: number
      percentageMemoryUtilization:
        description: Utilization percentage of the memory as observed in the private data center, in the Time Range selected on Assessment, reported as the Percentile value based on the percentile number selected in assessment.
        format: double
        readOnly: true
        type: number
      recommendedSize:
        description: Recommended Azure size for this machine.
        enum:
          - Unknown
          - Basic_A0
          - Basic_A1
          - Basic_A2
          - Basic_A3
          - Basic_A4
          - Standard_A0
          - Standard_A1
          - Standard_A2
          - Standard_A3
          - Standard_A4
          - Standard_A5
          - Standard_A6
          - Standard_A7
          - Standard_A8
          - Standard_A9
          - Standard_A10
          - Standard_A11
          - Standard_A1_v2
          - Standard_A2_v2
          - Standard_A4_v2
          - Standard_A8_v2
          - Standard_A2m_v2
          - Standard_A4m_v2
          - Standard_A8m_v2
          - Standard_D1
          - Standard_D2
          - Standard_D3
          - Standard_D4
          - Standard_D11
          - Standard_D12
          - Standard_D13
          - Standard_D14
          - Standard_D1_v2
          - Standard_D2_v2
          - Standard_D3_v2
          - Standard_D4_v2
          - Standard_D5_v2
          - Standard_D11_v2
          - Standard_D12_v2
          - Standard_D13_v2
          - Standard_D14_v2
          - Standard_D15_v2
          - Standard_DS1
          - Standard_DS2
          - Standard_DS3
          - Standard_DS4
          - Standard_DS11
          - Standard_DS12
          - Standard_DS13
          - Standard_DS14
          - Standard_DS1_v2
          - Standard_DS2_v2
          - Standard_DS3_v2
          - Standard_DS4_v2
          - Standard_DS5_v2
          - Standard_DS11_v2
          - Standard_DS12_v2
          - Standard_DS13_v2
          - Standard_DS14_v2
          - Standard_DS15_v2
          - Standard_F1
          - Standard_F2
          - Standard_F4
          - Standard_F8
          - Standard_F16
          - Standard_F1s
          - Standard_F2s
          - Standard_F4s
          - Standard_F8s
          - Standard_F16s
          - Standard_G1
          - Standard_G2
          - Standard_G3
          - Standard_G4
          - Standard_G5
          - Standard_GS1
          - Standard_GS2
          - Standard_GS3
          - Standard_GS4
          - Standard_GS5
          - Standard_H8
          - Standard_H16
          - Standard_H8m
          - Standard_H16m
          - Standard_H16r
          - Standard_H16mr
          - Standard_L4s
          - Standard_L8s
          - Standard_L16s
          - Standard_L32s
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: AzureVmSize
      suitability:
        description: Whether machine is suitable for migration to Azure.
        enum:
          - Unknown
          - NotSuitable
          - Suitable
          - ConditionallySuitable
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: CloudSuitability
      suitabilityExplanation:
        description: If machine is not ready to be migrated, this explains the reasons and mitigation steps.
        enum:
          - Unknown
          - NotApplicable
          - GuestOperatingSystemArchitectureNotSupported
          - GuestOperatingSystemNotSupported
          - BootTypeNotSupported
          - MoreDisksThanSupported
          - NoSuitableVmSizeFound
          - OneOrMoreDisksNotSuitable
          - OneOrMoreAdaptersNotSuitable
          - InternalErrorOccuredDuringComputeEvaluation
          - InternalErrorOccuredDuringStorageEvaluation
          - InternalErrorOccuredDuringNetworkEvaluation
          - NoVmSizeSupportsStoragePerformance
          - NoVmSizeSupportsNetworkPerformance
          - NoVmSizeForSelectedPricingTier
          - NoVmSizeForSelectedAzureLocation
          - CheckRedHatLinuxVersion
          - CheckOpenSuseLinuxVersion
          - CheckWindowsServer2008R2Version
          - CheckCentOsVersion
          - CheckDebianLinuxVersion
          - CheckSuseLinuxVersion
          - CheckOracleLinuxVersion
          - CheckUbuntuLinuxVersion
          - CheckCoreOsLinuxVersion
          - WindowsServerVersionConditionallySupported
          - NoGuestOperatingSystemConditionallySupported
          - WindowsClientVersionsConditionallySupported
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: AzureVmSuitabilityExplanation
      updatedTimestamp:
        description: Time when this machine was last updated. Date-Time represented in ISO-8601 format.
        format: date-time
        readOnly: true
        type: string
    type: object
  AssessedMachineResultList:
    description: List of assessed machines.
    properties:
      value:
        description: List of assessed machines.
        items:
          $ref: "#/definitions/AssessedMachine"
        type: array
    type: object
  AssessedNetworkAdapter:
    description: A network adapter assessed for an assessment.
    properties:
      ipAddresses:
        description: List of IP Addresses on the network adapter.
        items:
          description: IP Address of the network adapter.
          readOnly: true
          type: string
        readOnly: true
        type: array
      macAddress:
        description: MAC Address of the network adapter.
        readOnly: true
        type: string
      megabytesPerSecondReceived:
        description: Adapter throughput for incoming traffic in MegaBytes per second.
        format: double
        readOnly: true
        type: number
      megabytesPerSecondTransmitted:
        description: Adapter throughput for outgoing traffic in MegaBytes per second.
        format: double
        readOnly: true
        type: number
      monthlyBandwidthCosts:
        description: Monthly cost estimate for network bandwidth used by this network adapter.
        format: double
        readOnly: true
        type: number
      netGigabytesTransmittedPerMonth:
        description: Gigabytes transmitted through this adapter each month.
        format: double
        type: number
      suitability:
        description: Whether this adapter is suitable for Azure.
        enum:
          - Unknown
          - NotSuitable
          - Suitable
          - ConditionallySuitable
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: CloudSuitability
      suitabilityExplanation:
        description: If network adapter is suitable, this explains the reasons and mitigation steps.
        enum:
          - Unknown
          - NotApplicable
          - InternalErrorOccured
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: AzureNetworkAdapterSuitabilityExplanation
    type: object
  Assessment:
    description: An assessment created for a group in the Migration project.
    properties:
      eTag:
        description: For optimistic concurrency control.
        type: string
      id:
        description: Path reference to this assessment. /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/projects/{projectName}/groups/{groupName}/assessment/{assessmentName}
        readOnly: true
        type: string
      name:
        description: Unique name of an assessment.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/AssessmentProperties"
        description: Properties of the assessment.
        x-ms-client-flatten: true
      type:
        description: Type of the object = [Microsoft.Migrate/projects/groups/assessments].
        readOnly: true
        type: string
    required:
      - properties
    type: object
    x-ms-azure-resource: true
  AssessmentProperties:
    description: Properties of an assessment.
    properties:
      azureHybridUseBenefit:
        description: AHUB discount on windows virtual machines.
        enum:
          - Unknown
          - Yes
          - No
        type: string
        x-ms-enum:
          modelAsString: true
          name: AzureHybridUseBenefit
      azureLocation:
        description: Target Azure location for which the machines should be assessed. These enums are the same as used by Compute API.
        enum:
          - Unknown
          - EastAsia
          - SoutheastAsia
          - AustraliaEast
          - AustraliaSoutheast
          - BrazilSouth
          - CanadaCentral
          - CanadaEast
          - WestEurope
          - NorthEurope
          - CentralIndia
          - SouthIndia
          - WestIndia
          - JapanEast
          - JapanWest
          - KoreaCentral
          - KoreaSouth
          - UkWest
          - UkSouth
          - NorthCentralUs
          - EastUs
          - WestUs2
          - SouthCentralUs
          - CentralUs
          - EastUs2
          - WestUs
          - WestCentralUs
        type: string
        x-ms-enum:
          modelAsString: true
          name: AzureLocation
      azureOfferCode:
        description: Offer code according to which cost estimation is done.
        enum:
          - Unknown
          - MSAZR0003P
          - MSAZR0044P
          - MSAZR0059P
          - MSAZR0060P
          - MSAZR0062P
          - MSAZR0063P
          - MSAZR0064P
          - MSAZR0029P
          - MSAZR0022P
          - MSAZR0023P
          - MSAZR0148P
          - MSAZR0025P
          - MSAZR0036P
          - MSAZR0120P
          - MSAZR0121P
          - MSAZR0122P
          - MSAZR0123P
          - MSAZR0124P
          - MSAZR0125P
          - MSAZR0126P
          - MSAZR0127P
          - MSAZR0128P
          - MSAZR0129P
          - MSAZR0130P
          - MSAZR0111P
          - MSAZR0144P
          - MSAZR0149P
        type: string
        x-ms-enum:
          modelAsString: true
          name: AzureOfferCode
      azurePricingTier:
        description: Pricing tier for Size evaluation.
        enum:
          - Standard
          - Basic
        type: string
        x-ms-enum:
          modelAsString: true
          name: AzurePricingTier
      azureStorageRedundancy:
        description: Storage Redundancy type offered by Azure.
        enum:
          - Unknown
          - LocallyRedundant
          - ZoneRedundant
          - GeoRedundant
          - ReadAccessGeoRedundant
        type: string
        x-ms-enum:
          modelAsString: true
          name: AzureStorageRedundancy
      createdTimestamp:
[...]
