swagger: "2.0"
schemes:
  - https
host: productapi.intel.com
info:
  contact:
    email: pim.360.team@intel.com
  description: "This is the documentation for PIM Micro services. In order to use this tool you need to have Basic Auth credentials and a client id. If you dont have one, please make sure to request one by sending an email to the PIM MS team: [pim.360.team@intel.com](mailto:pim.360.team@intel.com?subject=PIMServices)"
  termsOfService: http://www.intel.com/content/www/us/en/legal/terms-of-use.html
  title: Intel Product Catalogue Service
  version: 0.1.0
  x-apisguru-categories:
    - ecommerce
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.intel.com_content_dam_logos_logo-energyblue-1x1.png
  x-origin:
    - format: swagger
      url: https://productapi.intel.com/swagger.json
      version: "2.0"
  x-providerName: intel.com
  x-serviceName: product-catalogue
securityDefinitions:
  BasicAuth:
    type: basic
  ClientId:
    in: header
    name: client_id
    type: apiKey
security:
  - BasicAuth: []
  - ClientId: []
tags:
  - description: Product details.
    name: products
paths:
  /api/products/get-codename:
    get:
      description: Use this to get codename details for Intel products. No pagination supported.
      operationId: getCodeName
      parameters:
        - description: Locale and Geo code used to get localised data.<br/><br/>
          enum:
            - zh-TW
            - de-DE
            - en-US
            - es-ES
            - fr-FR
            - it-IT
            - ja-JP
            - ko-KR
            - nl-NL
            - pl-PL
            - pt-BR
            - ru-RU
            - sv-SE
            - th-TH
            - tr-TR
            - ur-PK
            - id-ID
            - uk-UA
            - vi-VN
            - si-LK
            - en-NE
            - zh-CN
            - en-UK
            - es-MX
            - pt-PT
            - bn-BD
            - en-EG
            - en-AU
            - en-CA
            - en-NZ
            - en-IE
            - en-VE
            - en-CO
            - en-PE
            - en-AR
            - en-PH
            - es-CL
            - en-HK
            - en-IN
            - en-MY
            - en-SG
            - en-ZA
            - es-XL
            - fr-CA
            - en-XR
            - en-XA
          in: query
          name: locale_geo_id
          required: true
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            properties:
              result:
                items:
                  properties:
                    CodeNameId:
                      example: "37567"
                      type: string
                    CodeNameText:
                      example: Products formerly Tunnel Creek
                      type: string
                    CodeNameType:
                      example: CODENAME
                      type: string
                    UrlText:
                      example: Tunnel-Creek
                      type: string
                  type: object
                type: array
              status:
                example: success
                type: string
              total_count:
                example: 909
                type: integer
            title: Complete codename lsit
            type: object
        "500":
          description: unsuccessful operation
          schema:
            properties:
              error_code:
                example: SERVICE_ERROR
                type: string
              message:
                example: Something went wrong, we have already captured log. Will fix this asap.
                type: string
            title: unsuccessful operation
            type: object
      summary: 5. Get list of codename details for Intel products.
      tags:
        - products
  /api/products/get-ordering-info:
    get:
      description: Use this to fetch ordering info details for Intel products. No pagination supported.
      operationId: getorderinginfo
      parameters:
        - description: "Filter ordering info details based on one or multiple product id's. Values must be enclosed in [ square brackets ] and each value must be in \"double quotes\". Use comma to add multiple values. <br/><br/>Example: [\"123003\"]"
          in: query
          name: product_id
          required: true
          type: string
        - description: Locale and Geo code used to get localised data.<br/><br/>
          enum:
            - zh-TW
            - de-DE
            - en-US
            - es-ES
            - fr-FR
            - it-IT
            - ja-JP
            - ko-KR
            - nl-NL
            - pl-PL
            - pt-BR
            - ru-RU
            - sv-SE
            - th-TH
            - tr-TR
            - ur-PK
            - id-ID
            - uk-UA
            - vi-VN
            - si-LK
            - en-NE
            - zh-CN
            - en-UK
            - es-MX
            - pt-PT
            - bn-BD
            - en-EG
            - en-AU
            - en-CA
            - en-NZ
            - en-IE
            - en-VE
            - en-CO
            - en-PE
            - en-AR
            - en-PH
            - es-CL
            - en-HK
            - en-IN
            - en-MY
            - en-SG
            - en-ZA
            - es-XL
            - fr-CA
            - en-XR
            - en-XA
          in: query
          name: locale_geo_id
          required: true
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            properties:
              result:
                items:
                  properties:
                    attributes:
                      items:
                        properties:
                          highlight_key:
                            example: OrderingCode
                            type: string
                          label:
                            example: Ordering Code
                            type: string
                          raw_value:
                            example: CM8068403377111
                            type: string
                          tool_tip:
                            example: tool tip
                            type: string
                          value:
                            example: CM8068403377111
                            type: string
                        type: object
                      type: array
                    product_id:
                      example: "123003"
                      type: string
                  type: object
                type: array
              status:
                example: success
                type: string
              total_count:
                example: 1
                type: integer
            title: Detailed ordering level info
            type: object
        "500":
          description: unsuccessful operation
          schema:
            properties:
              error_code:
                example: SERVICE_ERROR
                type: string
              message:
                example: Something went wrong, we have already captured log. Will fix this asap.
                type: string
            title: unsuccessful operation
            type: object
      summary: 3. Get ordering info for product id's requested.
      tags:
        - products
  /api/products/get-products:
    get:
      description: Use this to get basic details of products with pagination. Can be used to generate listing page for products.
      operationId: getProductList
      parameters:
        - description: Locale and Geo code used to get localised data.<br/><br/>
          enum:
            - zh-TW
            - de-DE
            - en-US
            - es-ES
            - fr-FR
            - it-IT
            - ja-JP
            - ko-KR
            - nl-NL
            - pl-PL
            - pt-BR
            - ru-RU
            - sv-SE
            - th-TH
            - tr-TR
            - ur-PK
            - id-ID
            - uk-UA
            - vi-VN
            - si-LK
            - en-NE
            - zh-CN
            - en-UK
            - es-MX
            - pt-PT
            - bn-BD
            - en-EG
            - en-AU
            - en-CA
            - en-NZ
            - en-IE
            - en-VE
            - en-CO
            - en-PE
            - en-AR
            - en-PH
            - es-CL
            - en-HK
            - en-IN
            - en-MY
            - en-SG
            - en-ZA
            - es-XL
            - fr-CA
            - en-XR
            - en-XA
          in: query
          name: locale_geo_id
          required: true
          type: string
        - description: "Filter products based on one or multiple category id. Either category id or product id is mandatory for any request. Values must be enclosed in [ square brackets ] and each value must be in \"double quotes\". Use comma to add multiple values. <br/><br/>Example: [\"873\"]<br/><br/>Categories Available:<br/> Processors = 873, Server Products = 1201, Mini PC's = 98414, Wireless Networking = 59485, Ethernet Products = 36773, Fabric products = 70021, Memory and Storage = 35125, Chipsets = 53, Graphics Drivers = 80939 <br/><br/>"
          in: query
          name: category_id
          required: false
          type: string
        - description: 'Filter products based on one or multiple product id. Either category id or product id is mandatory for any request. Values must be enclosed in [ square brackets ] and each value must be in "double quotes". Use comma to add multiple values. <br/><br/>Example: ["123003"]<br/><br/>'
          in: query
          name: product_id
          required: false
          type: string
        - description: 'Specification values which needs to be pulled from product data. Values must be enclosed in [ square brackets ] and each value must be in "double quotes". Use comma to add multiple values. <br/><br/>Example: ["CoreCount", "StatusCodeText"]<br/><br/>'
          in: query
          name: highlights
          required: false
          type: string
        - description: 'Indicates sorting fields. Accepts array of objects in format like: [{"field":"name","order":"ASC"}].<br/><br/>Any specification that we get from get-product-info can be used to sort result. Other generic sort field is "name".<br/><br/>'
          in: query
          name: sort
          required: false
          type: string
        - description: 'Allows to filter data.<br/><br/>Format of filter: [{"type":"specvalue","name":"ThreadCount","gteq":"4"}]<br/><br/><b>Available operators are:</b> "eq": equal to, "neq": not equal to, "lteq": less than or equal to, "gteq": greater than or equal to, "swc": starts with characters, "nswc": not starting with characters, "cts": contains, "ncts": not contains<br/><br/><b>Conditions:</b> By default all objects works on an AND condition. But inside an object we have the capability to put an "OR" or "AND" condition.<br/>Example conditions: [{"type":"specvalue","name":"ThreadCount","ncts":"4,5","cond":"AND"}]<br/><br/><br/>'
          in: query
          name: filters
          required: false
          type: string
        - description: Filter number of products in response to desired size.
          in: query
          name: per_page
          required: false
          type: integer
        - description: Indicates page number for pagination of results.
          in: query
          name: page_no
          required: false
          type: integer
      responses:
        "200":
          description: successful operation
          schema:
            properties:
              page_no:
                example: "1"
                type: string
              per_page:
                example: 10
                type: integer
              result:
                description: Multiple objects with product data.
                items:
                  properties:
                    created_date:
                      example: 2018-04-17T08:29:13:770-0400
                      type: string
                    highlights_info:
                      items:
                        properties:
                          highlight_key:
                            example: StatusCodeText
                            type: string
                          label:
                            example: Status
                            type: string
                          raw_value:
                            example: "4"
                            type: string
                          value:
                            example: Launched
                            type: string
                        type: object
                      type: array
                    mktg_prd_type:
                      example: "18"
                      type: string
                    product_category:
                      description: Multiple product category
                      example:
                        - "51163"
                        - "12201"
                      items:
                        type: string
                      type: array
                    product_description:
                      example: Intel® Xeon® Gold 5122 Processor (16.5M Cache, 3.60 GHz)
                      type: string
                    product_id:
                      example: "120475"
                      type: string
                    product_manufacturer:
                      example: Intel
                      type: string
                    product_name:
                      example: Intel® Xeon® Gold 5122 Processor (16.5M Cache, 3.60 GHz)
                      type: string
                    product_name_raw:
                      example: Intel® Xeon® Gold 5122 Processor (16.5M Cache, 3.60 GHz)
                      type: string
                    product_on_market_date:
                      example: 2017-07-11T00:00:00:000-0400
                      type: string
                    updated_date:
                      example: 2018-10-11T07:20:11:500-0400
                      type: string
                  type: object
                type: array
              status:
                example: success
                type: string
              total_count:
                example: 230
                type: integer
            required:
              - status
              - total_count
              - page_no
              - per_page
              - result
              - result.created_date
              - result.mktg_prd_type
              - result.product_category
              - result.product_description
              - result.product_id
              - result.product_manufacturer
              - result.product_name
              - result.product_name_raw
              - result.product_on_market_date
              - result.updated_date
            title: Product listing level info
            type: object
        "500":
          description: unsuccessful operation
          schema:
            properties:
              error_code:
                example: SERVICE_ERROR
                type: string
              message:
                example: Something went wrong, we have already captured log. Will fix this asap.
                type: string
            title: unsuccessful operation
            type: object
      summary: 1. Find products by product id or category id
      tags:
        - products
  /api/products/get-products-info:
    get:
      description: Use this to get complete product info. No pagination supported.
      operationId: getProductInfo
      parameters:
        - description: Locale and Geo code used to get localised data.<br/><br/>
          enum:
            - zh-TW
            - de-DE
            - en-US
            - es-ES
            - fr-FR
            - it-IT
            - ja-JP
            - ko-KR
            - nl-NL
            - pl-PL
            - pt-BR
            - ru-RU
            - sv-SE
            - th-TH
            - tr-TR
            - ur-PK
            - id-ID
            - uk-UA
            - vi-VN
            - si-LK
            - en-NE
            - zh-CN
            - en-UK
            - es-MX
            - pt-PT
            - bn-BD
            - en-EG
            - en-AU
            - en-CA
            - en-NZ
            - en-IE
            - en-VE
            - en-CO
            - en-PE
            - en-AR
            - en-PH
            - es-CL
            - en-HK
            - en-IN
            - en-MY
            - en-SG
            - en-ZA
            - es-XL
            - fr-CA
            - en-XR
            - en-XA
          in: query
          name: locale_geo_id
          required: true
          type: string
        - description: "Product id's that needs to be filtered. Only max of 40 products are supported now. Values must be enclosed in [ square brackets ] and each value must be in \"double quotes\". Use comma to add multiple values.<br/><br/>Example: [\"223\",\"224\"]"
          in: query
          name: product_id
          required: true
          type: string
        - description: If send "true", this will fetch variant/compatible info into result set. Default is false.
          in: query
          name: include_reference
          required: false
          type: string
      responses:
        "200":
          description: Successful operation.
          schema:
            properties:
              result:
                description: Product info for a locale.
                items:
                  allOf:
                    - properties:
                        created_date:
                          example: 2017-12-18T03:40:13:990-0500
                          type: string
                        media_asset:
                          description: product media asset
                          properties:
                            picture_1:
                              type: string
                            picture_2:
                              type: string
                            picture_3:
                              type: string
                            picture_4:
                              type: string
                            picture_5:
                              type: string
                          type: object
                        mktg_prd_type:
                          example: "18"
                          type: string
                        product_category:
                          description: Product category
                          items:
                            example:
                              - "1201"
                              - "51127"
                            type: string
                          type: array
                        product_description:
                          example: Intel Atom® Processor C2316 (1M Cache, 1.50 GHz)
                          type: string
                        product_id:
                          example: "123003"
                          type: string
                        product_manufacturer:
                          example: Intel
                          type: string
                        product_name:
                          example: Intel Atom® Processor C2316 (1M Cache, 1.50 GHz)
                          type: string
                        product_name_raw:
                          example: Intel Atom® Processor C2316 (1M Cache, 1.50 GHz)
                          type: string
                        product_on_market_date:
                          example: 2017-07-11T00:00:00:000-0400
                          type: string
                        product_picture:
                          example: https://www.intel.com/content/dam/www/global/ark/badges/36866_128.gif/jcr:content/renditions/_64.gif
                          type: string
                        reference:
                          items:
                            properties:
                              category_id:
                                description: Array of category id's to which the product belong to.
                                items:
                                  example:
                                    - "1201"
                                    - "77593"
                                    - "89017"
                                  type: string
                                type: array
                              reference_id:
                                example: "2345"
                                type: string
                              reference_type:
                                example: Compatible
                                type: string
                            type: object
                          type: array
                        tech_spec:
                          description: tech spec
                          items:
                            properties:
                              disclaimer:
                                example: Max Turbo Frequency refers to the maximum single-core processor frequency that can be achieved with Intel® Turbo Boost Technology.  See <a href="http://www.intel.com/technology/turboboost/">www.intel.com/technology/turboboost/</a> for more information.
                                type: string
                              highlight_key:
                                example: TBTVersion
                                type: string
                              label:
                                example: Intel® Turbo Boost Technology <small><sup>‡</sup></small>
                                type: string
                              raw_value:
                                example: "2"
                                type: string
                              tool_tip:
                                example: Intel® Turbo Boost Technology dynamically increases the processor's frequency as needed by taking advantage of thermal and power headroom to give you a burst of speed when you need it, and increased energy efficiency when you don’t.
                                type: string
                              value:
                                example: "2.0"
                                type: string
                            type: object
                          type: array
                        updated_date:
                          example: 2018-10-15T03:42:52:320-0400
                          type: string
                      type: object
                type: array
              status:
                example: success
                type: string
              total_count:
                example: 10
                type: integer
            title: Detailed product information
            type: object
        "500":
          description: unsuccessful operation
          schema:
            properties:
              error_code:
                example: SERVICE_ERROR
                type: string
              message:
                example: Something went wrong, we have already captured log. Will fix this asap.
                type: string
            title: unsuccessful operation
            type: object
      summary: 2. Get complete product info with product id.
      tags:
        - products
x-navigateMethodsByName: true
x-sortMethodsBy:
  - summary
  - operation
