{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "http://api.nytimes.com/svc/suggest/v1"
    },
    {
      "url": "https://api.nytimes.com/svc/suggest/v1"
    }
  ],
  "info": {
    "description": "With the TimesTags API, you can mine the riches of the New York Times tag set. The TimesTags service matches your query to the controlled vocabularies that fuel NYTimes.com metadata. You supply a string of characters, and the service returns a ranked list of suggested terms.",
    "termsOfService": "http://developer.nytimes.com/tou",
    "title": "TimesTags API",
    "version": "1.0.0",
    "x-apiClientRegistration": {
      "url": "http://developer.nytimes.com/signup"
    },
    "x-apisguru-categories": [
      "media",
      "open_data"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_static01.nyt.com_images_icons_t_logo_291_black.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/nytimes/public_api_specs/master/times_tags/times_tags_v3.json",
        "version": "3.0"
      }
    ],
    "x-providerName": "nytimes.com",
    "x-serviceName": "times_tags"
  },
  "externalDocs": {
    "url": "http://developer.nytimes.com/"
  },
  "security": [
    {
      "apikey": []
    }
  ],
  "paths": {
    "/timestags": {
      "get": {
        "parameters": [
          {
            "description": "Your search query",
            "in": "query",
            "name": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If you do not specify a value for filter (see the Optional Parameters), your query will be matched to tags in all four Times dictionaries: subject, geographic location, organization and person. To use more than one, separate with commas.\n",
            "in": "query",
            "name": "filter",
            "required": false,
            "schema": {
              "enum": [
                "Des",
                "Geo",
                "Org",
                "Per"
              ],
              "type": "string"
            }
          },
          {
            "description": "Sets the maximum number of results",
            "in": "query",
            "name": "max",
            "required": false,
            "schema": {
              "default": 10,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "type": "array"
                }
              }
            },
            "description": "An array of tags"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apikey": {
        "in": "query",
        "name": "api-key",
        "type": "apiKey"
      }
    }
  }
}