openapi: 3.0.0
servers:
  - url: https://southcentralus.api.cognitive.microsoft.com/customvision/v1.2/Training
info:
  contact:
    x-twitter: microsoft
  title: TrainingApi
  version: "1.2"
  x-apisguru-categories:
    - developer_tools
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_microsoft_profile_image.png
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/CustomVision/Training/stable/v1.2/Training.json
      version: "3.0"
  x-preferred: false
  x-providerName: microsoft.com
  x-serviceName: cognitiveservices-Training
  x-tags:
    - Microsoft
paths:
  /account:
    get:
      operationId: GetAccountInfo
      parameters:
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetAccountInfo request:
                  $ref: "#/components/examples/Successful_GetAccountInfo_request"
              schema:
                $ref: "#/components/schemas/Account"
            application/xml:
              examples:
                Successful GetAccountInfo request:
                  $ref: "#/components/examples/Successful_GetAccountInfo_request"
              schema:
                $ref: "#/components/schemas/Account"
            text/json:
              examples:
                Successful GetAccountInfo request:
                  $ref: "#/components/examples/Successful_GetAccountInfo_request"
              schema:
                $ref: "#/components/schemas/Account"
            text/xml:
              examples:
                Successful GetAccountInfo request:
                  $ref: "#/components/examples/Successful_GetAccountInfo_request"
              schema:
                $ref: "#/components/schemas/Account"
          description: OK
      summary: Get basic information about your account
      tags:
        - AccountApi
  /domains:
    get:
      operationId: GetDomains
      parameters:
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetDomains request:
                  $ref: "#/components/examples/Successful_GetDomains_request"
              schema:
                items:
                  $ref: "#/components/schemas/Domain"
                nullable: true
                type: array
            application/xml:
              examples:
                Successful GetDomains request:
                  $ref: "#/components/examples/Successful_GetDomains_request"
              schema:
                items:
                  $ref: "#/components/schemas/Domain"
                nullable: true
                type: array
            text/json:
              examples:
                Successful GetDomains request:
                  $ref: "#/components/examples/Successful_GetDomains_request"
              schema:
                items:
                  $ref: "#/components/schemas/Domain"
                nullable: true
                type: array
            text/xml:
              examples:
                Successful GetDomains request:
                  $ref: "#/components/examples/Successful_GetDomains_request"
              schema:
                items:
                  $ref: "#/components/schemas/Domain"
                nullable: true
                type: array
          description: OK
      summary: Get a list of the available domains
      tags:
        - DomainsApi
  "/domains/{domainId}":
    get:
      operationId: GetDomain
      parameters:
        - description: The id of the domain to get information about
          examples:
            Successful GetDomain request:
              value: b30a91ae-e3c1-4f73-a81e-c270bff27c39
          in: path
          name: domainId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetDomain request:
                  $ref: "#/components/examples/Successful_GetDomain_request"
              schema:
                $ref: "#/components/schemas/Domain"
            application/xml:
              examples:
                Successful GetDomain request:
                  $ref: "#/components/examples/Successful_GetDomain_request"
              schema:
                $ref: "#/components/schemas/Domain"
            text/json:
              examples:
                Successful GetDomain request:
                  $ref: "#/components/examples/Successful_GetDomain_request"
              schema:
                $ref: "#/components/schemas/Domain"
            text/xml:
              examples:
                Successful GetDomain request:
                  $ref: "#/components/examples/Successful_GetDomain_request"
              schema:
                $ref: "#/components/schemas/Domain"
          description: OK
      summary: Get information about a specific domain
      tags:
        - DomainsApi
  /projects:
    get:
      operationId: GetProjects
      parameters:
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetProjects request:
                  $ref: "#/components/examples/Successful_GetProjects_request"
              schema:
                items:
                  $ref: "#/components/schemas/Project"
                nullable: true
                type: array
            application/xml:
              examples:
                Successful GetProjects request:
                  $ref: "#/components/examples/Successful_GetProjects_request"
              schema:
                items:
                  $ref: "#/components/schemas/Project"
                nullable: true
                type: array
            text/json:
              examples:
                Successful GetProjects request:
                  $ref: "#/components/examples/Successful_GetProjects_request"
              schema:
                items:
                  $ref: "#/components/schemas/Project"
                nullable: true
                type: array
            text/xml:
              examples:
                Successful GetProjects request:
                  $ref: "#/components/examples/Successful_GetProjects_request"
              schema:
                items:
                  $ref: "#/components/schemas/Project"
                nullable: true
                type: array
          description: OK
      summary: Get your projects
      tags:
        - ProjectApi
    post:
      operationId: CreateProject
      parameters:
        - description: Name of the project
          examples:
            Successful CreateProject request:
              value: My New Project
          in: query
          name: name
          required: true
          schema:
            type: string
          x-nullable: true
        - description: The description of the project
          examples:
            Successful CreateProject request:
              value: A test project
          in: query
          name: description
          required: false
          schema:
            type: string
          x-nullable: true
        - description: The id of the domain to use for this project. Defaults to General
          examples:
            Successful CreateProject request:
              value: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
          in: query
          name: domainId
          required: false
          schema:
            format: uuid
            type: string
          x-nullable: true
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful CreateProject request:
                  $ref: "#/components/examples/Successful_CreateProject_request"
              schema:
                $ref: "#/components/schemas/Project"
            application/xml:
              examples:
                Successful CreateProject request:
                  $ref: "#/components/examples/Successful_CreateProject_request"
              schema:
                $ref: "#/components/schemas/Project"
            text/json:
              examples:
                Successful CreateProject request:
                  $ref: "#/components/examples/Successful_CreateProject_request"
              schema:
                $ref: "#/components/schemas/Project"
            text/xml:
              examples:
                Successful CreateProject request:
                  $ref: "#/components/examples/Successful_CreateProject_request"
              schema:
                $ref: "#/components/schemas/Project"
          description: OK
      summary: Create a project
      tags:
        - ProjectApi
  "/projects/{projectId}":
    delete:
      operationId: DeleteProject
      parameters:
        - description: The project id
          examples:
            Successful DeleteProject request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "204":
          description: No Content
      summary: Delete a specific project
      tags:
        - ProjectApi
    get:
      operationId: GetProject
      parameters:
        - description: The id of the project to get
          examples:
            Successful GetProject request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetProject request:
                  $ref: "#/components/examples/Successful_GetProject_request"
              schema:
                $ref: "#/components/schemas/Project"
            application/xml:
              examples:
                Successful GetProject request:
                  $ref: "#/components/examples/Successful_GetProject_request"
              schema:
                $ref: "#/components/schemas/Project"
            text/json:
              examples:
                Successful GetProject request:
                  $ref: "#/components/examples/Successful_GetProject_request"
              schema:
                $ref: "#/components/schemas/Project"
            text/xml:
              examples:
                Successful GetProject request:
                  $ref: "#/components/examples/Successful_GetProject_request"
              schema:
                $ref: "#/components/schemas/Project"
          description: OK
      summary: Get a specific project
      tags:
        - ProjectApi
    patch:
      operationId: UpdateProject
      parameters:
        - description: The id of the project to update
          examples:
            Successful UpdateProject request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Project"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/Project"
          application/xml:
            schema:
              $ref: "#/components/schemas/Project"
          text/json:
            schema:
              $ref: "#/components/schemas/Project"
          text/xml:
            schema:
              $ref: "#/components/schemas/Project"
        description: The updated project model
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful UpdateProject request:
                  $ref: "#/components/examples/Successful_UpdateProject_request"
              schema:
                $ref: "#/components/schemas/Project"
            application/xml:
              examples:
                Successful UpdateProject request:
                  $ref: "#/components/examples/Successful_UpdateProject_request"
              schema:
                $ref: "#/components/schemas/Project"
            text/json:
              examples:
                Successful UpdateProject request:
                  $ref: "#/components/examples/Successful_UpdateProject_request"
              schema:
                $ref: "#/components/schemas/Project"
            text/xml:
              examples:
                Successful UpdateProject request:
                  $ref: "#/components/examples/Successful_UpdateProject_request"
              schema:
                $ref: "#/components/schemas/Project"
          description: OK
      summary: Update a specific project
      tags:
        - ProjectApi
  "/projects/{projectId}/images":
    delete:
      operationId: DeleteImages
      parameters:
        - description: The project id
          examples:
            Successful DeleteImages request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: Ids of the images to be deleted. Limited to 256 images per batch
          examples:
            Successful DeleteImages request:
              value:
                - e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
                - cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
          explode: false
          in: query
          name: imageIds
          required: true
          schema:
            items:
              nullable: false
              type: string
            type: array
          style: form
          x-nullable: true
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "204":
          description: No Content
      summary: Delete images from the set of training images
      tags:
        - ImageApi
    post:
      description: "This API accepts body content as multipart/form-data and application/octet-stream. When using multipart\r

        multiple image files can be sent at once, with a maximum of 64 files"
      operationId: CreateImagesFromData
      parameters:
        - description: The project id
          examples:
            Successful CreateImagesFromData request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The tags ids with which to tag each image. Limited to 20
          examples:
            Successful CreateImagesFromData request:
              value:
                - b607964f-7bd6-4a3b-a869-6791fb6aab87
          explode: false
          in: query
          name: tagIds
          required: false
          schema:
            items:
              nullable: false
              type: string
            type: array
          style: form
          x-nullable: true
        - $ref: "#/components/parameters/ApiKey"
      requestBody:
        $ref: "#/components/requestBodies/CreateImagesFromData"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful CreateImagesFromData request:
                  $ref: "#/components/examples/Successful_CreateImagesFromData_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
            application/xml:
              examples:
                Successful CreateImagesFromData request:
                  $ref: "#/components/examples/Successful_CreateImagesFromData_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
            text/json:
              examples:
                Successful CreateImagesFromData request:
                  $ref: "#/components/examples/Successful_CreateImagesFromData_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
            text/xml:
              examples:
                Successful CreateImagesFromData request:
                  $ref: "#/components/examples/Successful_CreateImagesFromData_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
          description: OK
      summary: Add the provided images to the set of training images
      tags:
        - ImageApi
  "/projects/{projectId}/images/files":
    post:
      operationId: CreateImagesFromFiles
      parameters:
        - description: The project id
          examples:
            Successful CreateImagesFromFiles request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImageFileCreateBatch"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ImageFileCreateBatch"
          application/xml:
            schema:
              $ref: "#/components/schemas/ImageFileCreateBatch"
          text/json:
            schema:
              $ref: "#/components/schemas/ImageFileCreateBatch"
          text/xml:
            schema:
              $ref: "#/components/schemas/ImageFileCreateBatch"
        description: The batch of image files to add. Limited to 64 images and 20 tags per batch
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful CreateImagesFromFiles request:
                  $ref: "#/components/examples/Successful_CreateImagesFromFiles_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
            application/xml:
              examples:
                Successful CreateImagesFromFiles request:
                  $ref: "#/components/examples/Successful_CreateImagesFromFiles_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
            text/json:
              examples:
                Successful CreateImagesFromFiles request:
                  $ref: "#/components/examples/Successful_CreateImagesFromFiles_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
            text/xml:
              examples:
                Successful CreateImagesFromFiles request:
                  $ref: "#/components/examples/Successful_CreateImagesFromFiles_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
          description: OK
      summary: Add the provided batch of images to the set of training images
      tags:
        - ImageApi
  "/projects/{projectId}/images/predictions":
    post:
      operationId: CreateImagesFromPredictions
      parameters:
        - description: The project id
          examples:
            Successful CreateImagesFromPredictions request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImageIdCreateBatch"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ImageIdCreateBatch"
          application/xml:
            schema:
              $ref: "#/components/schemas/ImageIdCreateBatch"
          text/json:
            schema:
              $ref: "#/components/schemas/ImageIdCreateBatch"
          text/xml:
            schema:
              $ref: "#/components/schemas/ImageIdCreateBatch"
        description: Image and tag ids. Limited to 64 images and 20 tags per batch
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful CreateImagesFromPredictions request:
                  $ref: "#/components/examples/Successful_CreateImagesFromPredictions_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
            application/xml:
              examples:
                Successful CreateImagesFromPredictions request:
                  $ref: "#/components/examples/Successful_CreateImagesFromPredictions_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
            text/json:
              examples:
                Successful CreateImagesFromPredictions request:
                  $ref: "#/components/examples/Successful_CreateImagesFromPredictions_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
            text/xml:
              examples:
                Successful CreateImagesFromPredictions request:
                  $ref: "#/components/examples/Successful_CreateImagesFromPredictions_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
          description: OK
      summary: Add the specified predicted images to the set of training images
      tags:
        - ImageApi
  "/projects/{projectId}/images/tagged":
    get:
      description: "This API supports batching and range selection. By default it will only return first 50 images matching images.\r

        Use the {take} and {skip} parameters to control how many images to return in a given batch.\r

        The filtering is on an and/or relationship. For example, if the provided tag ids are for the \"Dog\" and\r

        \"Cat\" tags, then only images tagged with Dog and/or Cat will be returned"
      operationId: GetTaggedImages
      parameters:
        - description: The project id
          examples:
            Successful GetTaggedImages request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace
          examples:
            Successful GetTaggedImages request:
              value: cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
          in: query
          name: iterationId
          required: false
          schema:
            format: uuid
            type: string
          x-nullable: true
        - description: An list of tags ids to filter the images. Defaults to all tagged images when null. Limited to 20
          explode: false
          in: query
          name: tagIds
          required: false
          schema:
            items:
              nullable: false
              type: string
            type: array
          style: form
          x-nullable: true
        - description: The ordering. Defaults to newest
          in: query
          name: orderBy
          required: false
          schema:
            enum:
              - Newest
              - Oldest
            type: string
          x-nullable: false
        - description: Maximum number of images to return. Defaults to 50, limited to 256
          in: query
          name: take
          required: false
          schema:
            default: 50
            format: int32
            type: integer
        - description: Number of images to skip before beginning the image batch. Defaults to 0
          in: query
          name: skip
          required: false
          schema:
            default: 0
            format: int32
            type: integer
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetTaggedImages request:
                  $ref: "#/components/examples/Successful_GetTaggedImages_request"
              schema:
                items:
                  $ref: "#/components/schemas/Image"
                nullable: true
                type: array
            application/xml:
              examples:
                Successful GetTaggedImages request:
                  $ref: "#/components/examples/Successful_GetTaggedImages_request"
              schema:
                items:
                  $ref: "#/components/schemas/Image"
                nullable: true
                type: array
            text/json:
              examples:
                Successful GetTaggedImages request:
                  $ref: "#/components/examples/Successful_GetTaggedImages_request"
              schema:
                items:
                  $ref: "#/components/schemas/Image"
                nullable: true
                type: array
            text/xml:
              examples:
                Successful GetTaggedImages request:
                  $ref: "#/components/examples/Successful_GetTaggedImages_request"
              schema:
                items:
                  $ref: "#/components/schemas/Image"
                nullable: true
                type: array
          description: OK
      summary: Get tagged images for a given project iteration
      tags:
        - ImageApi
  "/projects/{projectId}/images/tags":
    delete:
      operationId: DeleteImageTags
      parameters:
        - description: The project id
          examples:
            Successful DeleteImageTags request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: Image ids. Limited to 64 images
          examples:
            Successful DeleteImageTags request:
              value:
                - e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
                - cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
          explode: false
          in: query
          name: imageIds
          required: true
          schema:
            items:
              nullable: false
              type: string
            type: array
          style: form
          x-nullable: true
        - description: Tags to be deleted from the specified images. Limited to 20 tags
          examples:
            Successful DeleteImageTags request:
              value:
                - e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
                - cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
          explode: false
          in: query
          name: tagIds
          required: true
          schema:
            items:
              nullable: false
              type: string
            type: array
          style: form
          x-nullable: true
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "204":
          description: No Content
      summary: Remove a set of tags from a set of images
      tags:
        - ImageApi
    post:
      operationId: PostImageTags
      parameters:
        - description: The project id
          examples:
            Successful PostImageTags request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImageTagCreateBatch"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ImageTagCreateBatch"
          application/xml:
            schema:
              $ref: "#/components/schemas/ImageTagCreateBatch"
          text/json:
            schema:
              $ref: "#/components/schemas/ImageTagCreateBatch"
          text/xml:
            schema:
              $ref: "#/components/schemas/ImageTagCreateBatch"
        description: Batch of image tags. Limited to 128 tags per batch
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful PostImageTags request:
                  $ref: "#/components/examples/Successful_PostImageTags_request"
              schema:
                $ref: "#/components/schemas/ImageTagCreateSummary"
            application/xml:
              examples:
                Successful PostImageTags request:
                  $ref: "#/components/examples/Successful_PostImageTags_request"
              schema:
                $ref: "#/components/schemas/ImageTagCreateSummary"
            text/json:
              examples:
                Successful PostImageTags request:
                  $ref: "#/components/examples/Successful_PostImageTags_request"
              schema:
                $ref: "#/components/schemas/ImageTagCreateSummary"
            text/xml:
              examples:
                Successful PostImageTags request:
                  $ref: "#/components/examples/Successful_PostImageTags_request"
              schema:
                $ref: "#/components/schemas/ImageTagCreateSummary"
          description: OK
      summary: Associate a set of images with a set of tags
      tags:
        - ImageApi
  "/projects/{projectId}/images/untagged":
    get:
      description: "This API supports batching and range selection. By default it will only return first 50 images matching images.\r

        Use the {take} and {skip} parameters to control how many images to return in a given batch."
      operationId: GetUntaggedImages
      parameters:
        - description: The project id
          examples:
            Successful GetUntaggedImages request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace
          examples:
            Successful GetUntaggedImages request:
              value: cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
          in: query
          name: iterationId
          required: false
          schema:
            format: uuid
            type: string
          x-nullable: true
        - description: The ordering. Defaults to newest
          in: query
          name: orderBy
          required: false
          schema:
            enum:
              - Newest
              - Oldest
            type: string
          x-nullable: false
        - description: Maximum number of images to return. Defaults to 50, limited to 256
          in: query
          name: take
          required: false
          schema:
            default: 50
            format: int32
            type: integer
        - description: Number of images to skip before beginning the image batch. Defaults to 0
          in: query
          name: skip
          required: false
          schema:
            default: 0
            format: int32
            type: integer
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetUntaggedImages request:
                  $ref: "#/components/examples/Successful_GetUntaggedImages_request"
              schema:
                items:
                  $ref: "#/components/schemas/Image"
                nullable: true
                type: array
            application/xml:
              examples:
                Successful GetUntaggedImages request:
                  $ref: "#/components/examples/Successful_GetUntaggedImages_request"
              schema:
                items:
                  $ref: "#/components/schemas/Image"
                nullable: true
                type: array
            text/json:
              examples:
                Successful GetUntaggedImages request:
                  $ref: "#/components/examples/Successful_GetUntaggedImages_request"
              schema:
                items:
                  $ref: "#/components/schemas/Image"
                nullable: true
                type: array
            text/xml:
              examples:
                Successful GetUntaggedImages request:
                  $ref: "#/components/examples/Successful_GetUntaggedImages_request"
              schema:
                items:
                  $ref: "#/components/schemas/Image"
                nullable: true
                type: array
          description: OK
      summary: Get untagged images for a given project iteration
      tags:
        - ImageApi
  "/projects/{projectId}/images/urls":
    post:
      operationId: CreateImagesFromUrls
      parameters:
        - description: The project id
          examples:
            Successful CreateImagesFromUrls request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImageUrlCreateBatch"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ImageUrlCreateBatch"
          application/xml:
            schema:
              $ref: "#/components/schemas/ImageUrlCreateBatch"
          text/json:
            schema:
              $ref: "#/components/schemas/ImageUrlCreateBatch"
          text/xml:
            schema:
              $ref: "#/components/schemas/ImageUrlCreateBatch"
        description: Image urls and tag ids. Limited to 64 images and 20 tags per batch
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful CreateImagesFromUrls request:
                  $ref: "#/components/examples/Successful_CreateImagesFromUrls_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
            application/xml:
              examples:
                Successful CreateImagesFromUrls request:
                  $ref: "#/components/examples/Successful_CreateImagesFromUrls_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
            text/json:
              examples:
                Successful CreateImagesFromUrls request:
                  $ref: "#/components/examples/Successful_CreateImagesFromUrls_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
            text/xml:
              examples:
                Successful CreateImagesFromUrls request:
                  $ref: "#/components/examples/Successful_CreateImagesFromUrls_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
          description: OK
      summary: Add the provided images urls to the set of training images
      tags:
        - ImageApi
  "/projects/{projectId}/iterations":
    get:
      operationId: GetIterations
      parameters:
        - description: The project id
          examples:
            Successful GetIterations request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetIterations request:
                  $ref: "#/components/examples/Successful_GetIterations_request"
              schema:
                items:
                  $ref: "#/components/schemas/Iteration"
                nullable: true
                type: array
            application/xml:
              examples:
                Successful GetIterations request:
                  $ref: "#/components/examples/Successful_GetIterations_request"
              schema:
                items:
                  $ref: "#/components/schemas/Iteration"
                nullable: true
                type: array
            text/json:
              examples:
                Successful GetIterations request:
                  $ref: "#/components/examples/Successful_GetIterations_request"
              schema:
                items:
                  $ref: "#/components/schemas/Iteration"
                nullable: true
                type: array
            text/xml:
              examples:
                Successful GetIterations request:
                  $ref: "#/components/examples/Successful_GetIterations_request"
              schema:
                items:
                  $ref: "#/components/schemas/Iteration"
                nullable: true
                type: array
          description: OK
      summary: Get iterations for the project
      tags:
        - ProjectApi
  "/projects/{projectId}/iterations/{iterationId}":
    delete:
      operationId: DeleteIteration
      parameters:
        - description: The project id
          examples:
            Successful DeleteIteration request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The iteration id
          examples:
            Successful DeleteIteration request:
              value: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
          in: path
          name: iterationId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "204":
          description: No Content
      summary: Delete a specific iteration of a project
      tags:
        - ProjectApi
    get:
      operationId: GetIteration
      parameters:
        - description: The id of the project the iteration belongs to
          examples:
            Successful GetIteration request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The id of the iteration to get
          examples:
            Successful GetIteration request:
              value: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
          in: path
          name: iterationId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetIteration request:
                  $ref: "#/components/examples/Successful_GetIteration_request"
              schema:
                $ref: "#/components/schemas/Iteration"
            application/xml:
              examples:
                Successful GetIteration request:
                  $ref: "#/components/examples/Successful_GetIteration_request"
              schema:
                $ref: "#/components/schemas/Iteration"
            text/json:
              examples:
                Successful GetIteration request:
                  $ref: "#/components/examples/Successful_GetIteration_request"
              schema:
                $ref: "#/components/schemas/Iteration"
            text/xml:
              examples:
                Successful GetIteration request:
                  $ref: "#/components/examples/Successful_GetIteration_request"
              schema:
                $ref: "#/components/schemas/Iteration"
          description: OK
      summary: Get a specific iteration
      tags:
        - ProjectApi
    patch:
      operationId: UpdateIteration
      parameters:
        - description: Project id
          examples:
            Successful UpdateIteration request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: Iteration id
          examples:
            Successful UpdateIteration request:
              value: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
          in: path
          name: iterationId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Iteration"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/Iteration"
          application/xml:
            schema:
              $ref: "#/components/schemas/Iteration"
          text/json:
            schema:
              $ref: "#/components/schemas/Iteration"
          text/xml:
            schema:
              $ref: "#/components/schemas/Iteration"
        description: The updated iteration model
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful UpdateIteration request:
                  $ref: "#/components/examples/Successful_UpdateIteration_request"
              schema:
                $ref: "#/components/schemas/Iteration"
            application/xml:
              examples:
                Successful UpdateIteration request:
                  $ref: "#/components/examples/Successful_UpdateIteration_request"
              schema:
                $ref: "#/components/schemas/Iteration"
            text/json:
              examples:
                Successful UpdateIteration request:
                  $ref: "#/components/examples/Successful_UpdateIteration_request"
              schema:
                $ref: "#/components/schemas/Iteration"
            text/xml:
              examples:
                Successful UpdateIteration request:
                  $ref: "#/components/examples/Successful_UpdateIteration_request"
              schema:
                $ref: "#/components/schemas/Iteration"
          description: OK
      summary: Update a specific iteration
      tags:
        - ProjectApi
  "/projects/{projectId}/iterations/{iterationId}/export":
    get:
      operationId: GetExports
      parameters:
        - description: The project id
          examples:
            Successful GetExports request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The iteration id
          examples:
            Successful GetExports request:
              value: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
          in: path
          name: iterationId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetExports request:
                  $ref: "#/components/examples/Successful_GetExports_request"
              schema:
                items:
                  $ref: "#/components/schemas/Export"
                nullable: true
                type: array
            application/xml:
              examples:
                Successful GetExports request:
                  $ref: "#/components/examples/Successful_GetExports_request"
              schema:
                items:
                  $ref: "#/components/schemas/Export"
                nullable: true
                type: array
            text/json:
              examples:
                Successful GetExports request:
                  $ref: "#/components/examples/Successful_GetExports_request"
              schema:
                items:
                  $ref: "#/components/schemas/Export"
                nullable: true
                type: array
            text/xml:
              examples:
                Successful GetExports request:
                  $ref: "#/components/examples/Successful_GetExports_request"
              schema:
                items:
                  $ref: "#/components/schemas/Export"
                nullable: true
                type: array
          description: OK
      summary: Get the list of exports for a specific iteration
      tags:
        - ProjectApi
    post:
      operationId: ExportIteration
      parameters:
        - description: The project id
          examples:
            Successful ExportIteration request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The iteration id
          examples:
            Successful ExportIteration request:
              value: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
          in: path
          name: iterationId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The target platform (coreml or tensorflow)
          examples:
            Successful ExportIteration request:
              value: tensorflow
          in: query
          name: platform
          required: true
          schema:
            type: string
          x-nullable: true
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful ExportIteration request:
                  $ref: "#/components/examples/Successful_ExportIteration_request"
              schema:
                $ref: "#/components/schemas/Export"
            application/xml:
              examples:
                Successful ExportIteration request:
                  $ref: "#/components/examples/Successful_ExportIteration_request"
              schema:
                $ref: "#/components/schemas/Export"
            text/json:
              examples:
                Successful ExportIteration request:
                  $ref: "#/components/examples/Successful_ExportIteration_request"
              schema:
                $ref: "#/components/schemas/Export"
            text/xml:
              examples:
                Successful ExportIteration request:
                  $ref: "#/components/examples/Successful_ExportIteration_request"
              schema:
                $ref: "#/components/schemas/Export"
          description: OK
      summary: Export a trained iteration
      tags:
        - ProjectApi
  "/projects/{projectId}/iterations/{iterationId}/performance":
    get:
      operationId: GetIterationPerformance
      parameters:
        - description: The project id
          examples:
            Successful GetIterationPerformance request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The id of the trained iteration
          examples:
            Successful GetIterationPerformance request:
              value: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
          in: path
          name: iterationId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The 0 to 1 threshold to determine positive prediction
          examples:
            Successful GetIterationPerformance request:
              value: 0.9
          in: query
          name: threshold
          required: true
          schema:
            format: float
            type: number
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetIterationPerformance request:
                  $ref: "#/components/examples/Successful_GetIterationPerformance_request"
              schema:
                $ref: "#/components/schemas/IterationPerformance"
            application/xml:
              examples:
                Successful GetIterationPerformance request:
                  $ref: "#/components/examples/Successful_GetIterationPerformance_request"
              schema:
                $ref: "#/components/schemas/IterationPerformance"
            text/json:
              examples:
                Successful GetIterationPerformance request:
                  $ref: "#/components/examples/Successful_GetIterationPerformance_request"
              schema:
                $ref: "#/components/schemas/IterationPerformance"
            text/xml:
              examples:
                Successful GetIterationPerformance request:
                  $ref: "#/components/examples/Successful_GetIterationPerformance_request"
              schema:
                $ref: "#/components/schemas/IterationPerformance"
          description: OK
      summary: Get detailed performance information about a trained iteration
      tags:
        - ProjectApi
  "/projects/{projectId}/predictions":
    delete:
      operationId: DeletePrediction
      parameters:
        - description: The project id
          examples:
            Successful DeletePrediction request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The prediction ids. Limited to 64
          examples:
            Successful DeletePrediction request:
              value:
                - e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
                - cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
          explode: false
          in: query
          name: ids
          required: true
          schema:
            items:
              nullable: false
              type: string
            type: array
          style: form
          x-nullable: true
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "204":
          description: No Content
      summary: Delete a set of predicted images and their associated prediction results
      tags:
        - PredictionsApi
  "/projects/{projectId}/predictions/query":
    post:
      operationId: QueryPredictionResults
      parameters:
        - description: The project id
          examples:
            Successful QueryPredictionResults request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PredictionQueryToken"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/PredictionQueryToken"
          application/xml:
            schema:
              $ref: "#/components/schemas/PredictionQueryToken"
          text/json:
            schema:
              $ref: "#/components/schemas/PredictionQueryToken"
          text/xml:
            schema:
              $ref: "#/components/schemas/PredictionQueryToken"
        description: Parameters used to query the predictions. Limited to combining 2 tags
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful QueryPredictionResults request:
                  $ref: "#/components/examples/Successful_QueryPredictionResults_request"
              schema:
                $ref: "#/components/schemas/PredictionQuery"
            application/xml:
              examples:
                Successful QueryPredictionResults request:
                  $ref: "#/components/examples/Successful_QueryPredictionResults_request"
              schema:
                $ref: "#/components/schemas/PredictionQuery"
            text/json:
              examples:
                Successful QueryPredictionResults request:
                  $ref: "#/components/examples/Successful_QueryPredictionResults_request"
              schema:
                $ref: "#/components/schemas/PredictionQuery"
            text/xml:
              examples:
                Successful QueryPredictionResults request:
                  $ref: "#/components/examples/Successful_QueryPredictionResults_request"
              schema:
                $ref: "#/components/schemas/PredictionQuery"
          description: OK
      summary: Get images that were sent to your prediction endpoint
      tags:
        - PredictionsApi
  "/projects/{projectId}/quicktest/image":
    post:
      operationId: QuickTestImage
      parameters:
        - description: The project id
          examples:
            Successful QuickTestImage request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: "Optional. Specifies the id of a particular iteration to evaluate against.\r

            \            The default iteration for the project will be used when not specified."
          examples:
            Successful QuickTestImage request:
              value: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
          in: query
          name: iterationId
          required: false
          schema:
            format: uuid
            type: string
          x-nullable: true
        - $ref: "#/components/parameters/ApiKey"
      requestBody:
        $ref: "#/components/requestBodies/CreateImagesFromData"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful QuickTestImage request:
                  $ref: "#/components/examples/Successful_QuickTestImage_request"
              schema:
                $ref: "#/components/schemas/ImagePredictionResult"
            application/xml:
              examples:
                Successful QuickTestImage request:
                  $ref: "#/components/examples/Successful_QuickTestImage_request"
              schema:
                $ref: "#/components/schemas/ImagePredictionResult"
            text/json:
              examples:
                Successful QuickTestImage request:
                  $ref: "#/components/examples/Successful_QuickTestImage_request"
              schema:
                $ref: "#/components/schemas/ImagePredictionResult"
            text/xml:
              examples:
                Successful QuickTestImage request:
                  $ref: "#/components/examples/Successful_QuickTestImage_request"
              schema:
                $ref: "#/components/schemas/ImagePredictionResult"
          description: OK
      summary: Quick test an image
      tags:
        - PredictionsApi
  "/projects/{projectId}/quicktest/url":
    post:
      operationId: QuickTestImageUrl
      parameters:
        - description: The project to evaluate against
          examples:
            Successful QuickTestImageUrl request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: "Optional. Specifies the id of a particular iteration to evaluate against.\r

            \            The default iteration for the project will be used when not specified."
          examples:
            Successful QuickTestImageUrl request:
              value: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
          in: query
          name: iterationId
          required: false
          schema:
            format: uuid
            type: string
          x-nullable: true
        - $ref: "#/components/parameters/ApiKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImageUrl"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ImageUrl"
          application/xml:
            schema:
              $ref: "#/components/schemas/ImageUrl"
          text/json:
            schema:
              $ref: "#/components/schemas/ImageUrl"
          text/xml:
            schema:
              $ref: "#/components/schemas/ImageUrl"
        description: An {Iris.Web.Api.Models.ImageUrl} that contains the url of the image to be evaluated
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful QuickTestImageUrl request:
                  $ref: "#/components/examples/Successful_QuickTestImageUrl_request"
              schema:
                $ref: "#/components/schemas/ImagePredictionResult"
            application/xml:
              examples:
                Successful QuickTestImageUrl request:
                  $ref: "#/components/examples/Successful_QuickTestImageUrl_request"
              schema:
                $ref: "#/components/schemas/ImagePredictionResult"
            text/json:
              examples:
                Successful QuickTestImageUrl request:
                  $ref: "#/components/examples/Successful_QuickTestImageUrl_request"
              schema:
                $ref: "#/components/schemas/ImagePredictionResult"
            text/xml:
              examples:
                Successful QuickTestImageUrl request:
                  $ref: "#/components/examples/Successful_QuickTestImageUrl_request"
              schema:
                $ref: "#/components/schemas/ImagePredictionResult"
          description: OK
      summary: Quick test an image url
      tags:
        - PredictionsApi
  "/projects/{projectId}/tags":
    get:
      operationId: GetTags
      parameters:
        - description: The project id
          examples:
            Successful GetTags request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace
          in: query
          name: iterationId
          required: false
          schema:
            format: uuid
            type: string
          x-nullable: true
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetTags request:
                  $ref: "#/components/examples/Successful_GetTags_request"
              schema:
                $ref: "#/components/schemas/TagList"
            application/xml:
              examples:
                Successful GetTags request:
                  $ref: "#/components/examples/Successful_GetTags_request"
              schema:
                $ref: "#/components/schemas/TagList"
            text/json:
              examples:
                Successful GetTags request:
                  $ref: "#/components/examples/Successful_GetTags_request"
              schema:
                $ref: "#/components/schemas/TagList"
            text/xml:
              examples:
                Successful GetTags request:
                  $ref: "#/components/examples/Successful_GetTags_request"
              schema:
                $ref: "#/components/schemas/TagList"
          description: OK
      summary: Get the tags for a given project and iteration
      tags:
        - TagsApi
    post:
      operationId: CreateTag
      parameters:
        - description: The project id
          examples:
            Successful CreateTag request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The tag name
          examples:
            Successful CreateTag request:
              value: Tag1
          in: query
          name: name
          required: true
          schema:
            type: string
          x-nullable: true
        - description: Optional description for the tag
          examples:
            Successful CreateTag request:
              value: Description of Tag1
          in: query
          name: description
          required: false
          schema:
            type: string
          x-nullable: true
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful CreateTag request:
                  $ref: "#/components/examples/Successful_CreateTag_request"
              schema:
                $ref: "#/components/schemas/Tag"
            application/xml:
              examples:
                Successful CreateTag request:
                  $ref: "#/components/examples/Successful_CreateTag_request"
              schema:
                $ref: "#/components/schemas/Tag"
            text/json:
              examples:
                Successful CreateTag request:
                  $ref: "#/components/examples/Successful_CreateTag_request"
              schema:
                $ref: "#/components/schemas/Tag"
            text/xml:
              examples:
                Successful CreateTag request:
                  $ref: "#/components/examples/Successful_CreateTag_request"
              schema:
                $ref: "#/components/schemas/Tag"
          description: OK
      summary: Create a tag for the project
      tags:
        - TagsApi
  "/projects/{projectId}/tags/{tagId}":
    delete:
      operationId: DeleteTag
      parameters:
        - description: The project id
          examples:
            Successful DeleteTag request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: Id of the tag to be deleted
          examples:
            Successful DeleteTag request:
              value: 9e27bc1b-7ae7-4e3b-a4e5-36153479dc01
          in: path
          name: tagId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "204":
          description: No Content
      summary: Delete a tag from the project
      tags:
        - TagsApi
    get:
      operationId: GetTag
      parameters:
        - description: The project this tag belongs to
          examples:
            Successful GetTag request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The tag id
          examples:
            Successful GetTag request:
              value: 9e27bc1b-7ae7-4e3b-a4e5-36153479dc01
          in: path
          name: tagId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The iteration to retrieve this tag from. Optional, defaults to current training set
          in: query
          name: iterationId
          required: false
          schema:
            format: uuid
            type: string
          x-nullable: true
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetTag request:
                  $ref: "#/components/examples/Successful_GetTag_request"
              schema:
                $ref: "#/components/schemas/Tag"
            application/xml:
              examples:
                Successful GetTag request:
                  $ref: "#/components/examples/Successful_GetTag_request"
              schema:
                $ref: "#/components/schemas/Tag"
            text/json:
              examples:
                Successful GetTag request:
                  $ref: "#/components/examples/Successful_GetTag_request"
              schema:
                $ref: "#/components/schemas/Tag"
            text/xml:
              examples:
                Successful GetTag request:
                  $ref: "#/components/examples/Successful_GetTag_request"
              schema:
                $ref: "#/components/schemas/Tag"
          description: OK
      summary: Get information about a specific tag
      tags:
        - TagsApi
    patch:
      operationId: UpdateTag
      parameters:
        - description: The project id
          examples:
            Successful UpdateTag request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The id of the target tag
          examples:
            Successful UpdateTag request:
              value: 9e27bc1b-7ae7-4e3b-a4e5-36153479dc01
          in: path
          name: tagId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Tag"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/Tag"
          application/xml:
            schema:
              $ref: "#/components/schemas/Tag"
          text/json:
            schema:
              $ref: "#/components/schemas/Tag"
          text/xml:
            schema:
              $ref: "#/components/schemas/Tag"
        description: The updated tag model
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful UpdateTag request:
                  $ref: "#/components/examples/Successful_UpdateTag_request"
              schema:
                $ref: "#/components/schemas/Tag"
            application/xml:
              examples:
                Successful UpdateTag request:
                  $ref: "#/components/examples/Successful_UpdateTag_request"
              schema:
                $ref: "#/components/schemas/Tag"
            text/json:
              examples:
                Successful UpdateTag request:
                  $ref: "#/components/examples/Successful_UpdateTag_request"
              schema:
                $ref: "#/components/schemas/Tag"
            text/xml:
              examples:
                Successful UpdateTag request:
                  $ref: "#/components/examples/Successful_UpdateTag_request"
              schema:
                $ref: "#/components/schemas/Tag"
          description: OK
      summary: Update a tag
      tags:
        - TagsApi
  "/projects/{projectId}/train":
    post:
      operationId: TrainProject
      parameters:
        - description: The project id
          examples:
            Successful TrainProject request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - $ref: "#/components/parameters/ApiKey"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful TrainProject request:
                  $ref: "#/components/examples/Successful_TrainProject_request"
              schema:
                $ref: "#/components/schemas/Iteration"
            application/xml:
              examples:
                Successful TrainProject request:
                  $ref: "#/components/examples/Successful_TrainProject_request"
              schema:
                $ref: "#/components/schemas/Iteration"
            text/json:
              examples:
                Successful TrainProject request:
                  $ref: "#/components/examples/Successful_TrainProject_request"
              schema:
                $ref: "#/components/schemas/Iteration"
            text/xml:
              examples:
                Successful TrainProject request:
                  $ref: "#/components/examples/Successful_TrainProject_request"
              schema:
                $ref: "#/components/schemas/Iteration"
          description: OK
      summary: Queues project for training
      tags:
        - ProjectApi
components:
  examples:
    Successful_CreateImagesFromData_request:
      value:
        Images:
          - Image:
              Created: 2017-12-19T15:56:10.65Z
              Height: 900
              Id: 4d6eb844-42ee-42bc-bd6f-c32455ef07c9
              ImageUri: "{Image Uri}"
              Tags:
                - Created: 2017-12-19T15:56:09.6105895Z
                  TagId: b607964f-7bd6-4a3b-a869-6791fb6aab87
              ThumbnailUri: "{Thumbnail Uri}"
              Width: 1095
            SourceUrl: '"hemlock_10.jpg"'
            Status: OK
          - Image:
              Created: 2017-12-19T15:56:10.57Z
              Height: 1531
              Id: f1855a92-b873-47e7-b513-f07a667ceda1
              ImageUri: "{Image Uri}"
              Tags:
                - Created: 2017-12-19T15:56:09.5168568Z
                  TagId: b607964f-7bd6-4a3b-a869-6791fb6aab87
              ThumbnailUri: "{Thumbnail Uri}"
              Width: 900
            SourceUrl: '"hemlock_6.jpg"'
            Status: OK
        IsBatchSuccessful: true
    Successful_CreateImagesFromFiles_request:
      value:
        Images:
          - Image:
              Created: 2017-12-19T15:56:10.65Z
              Height: 900
              Id: 4d6eb844-42ee-42bc-bd6f-c32455ef07c9
              ImageUri: "{Image Uri}"
              Tags:
                - Created: 2017-12-19T15:56:09.6105895Z
                  TagId: b607964f-7bd6-4a3b-a869-6791fb6aab87
              ThumbnailUri: "{Thumbnail Uri}"
              Width: 1095
            SourceUrl: '"hemlock_10.jpg"'
            Status: OK
        IsBatchSuccessful: true
    Successful_CreateImagesFromPredictions_request:
      value:
        Images:
          - Image:
              Created: 2017-12-19T15:56:10.65Z
              Height: 900
              Id: 4d6eb844-42ee-42bc-bd6f-c32455ef07c9
              ImageUri: "{Image Uri}"
              Tags:
                - Created: 2017-12-19T15:56:09.6105895Z
                  TagId: b607964f-7bd6-4a3b-a869-6791fb6aab87
              ThumbnailUri: "{Thumbnail Uri}"
              Width: 1095
            SourceUrl: '"hemlock_10.jpg"'
            Status: OK
        IsBatchSuccessful: true
    Successful_CreateImagesFromUrls_request:
      value:
        Images:
          - Image:
              Created: 2017-12-19T15:56:10.65Z
              Height: 900
              Id: 4d6eb844-42ee-42bc-bd6f-c32455ef07c9
              ImageUri: "{Image Uri}"
              Tags:
                - Created: 2017-12-19T15:56:09.6105895Z
                  TagId: b607964f-7bd6-4a3b-a869-6791fb6aab87
              ThumbnailUri: "{Thumbnail Uri}"
              Width: 1095
            SourceUrl: "{url to image}"
            Status: OK
        IsBatchSuccessful: true
    Successful_CreateProject_request:
      value:
        Created: 2017-12-18T05:43:18.08Z
        CurrentIterationId: a2a64ff1-22e6-418b-aeea-75e3b43f122c
        Description: A test project
        Id: bc3f7dad-5544-468c-8573-3ef04d55463e
        LastModified: 2017-12-18T05:43:18.0962423Z
        Name: My New Project
        Settings:
          DomainId: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
    Successful_CreateTag_request:
      value:
        Description: Description of Tag1
        Id: 9e27bc1b-7ae7-4e3b-a4e5-36153479dc01
        ImageCount: 0
        Name: Tag1
    Successful_ExportIteration_request:
      value:
        Platform: TensorFlow
        Status: Exporting
    Successful_GetAccountInfo_request:
      value:
        Email: User@email.com
        Keys:
          PredictionKeys:
            PrimaryKey: "{API Key}"
            SecondaryKey: "{API Key}"
          TrainingKeys:
            PrimaryKey: "{API Key}"
            SecondaryKey: "{API Key}"
        Quotas:
          PerProject:
            - Images:
                Total: 1000
                Used: 0
              Iterations:
                Total: 20
                Used: 0
              ProjectId: bc3f7dad-5544-468c-8573-3ef04d55463e
              Tags:
                Total: 50
                Used: 2
          Predictions:
            Total: 1000
            Used: 0
          Projects:
            Total: 20
            Used: 9
          Tier: Free
        UserName: User Name
    Successful_GetDomain_request:
      value:
        Exportable: false
        Id: b30a91ae-e3c1-4f73-a81e-c270bff27c39
        Name: Retail
    Successful_GetDomains_request:
      value:
        - Exportable: false
          Id: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
          Name: General
        - Exportable: false
          Id: c151d5b5-dd07-472a-acc8-15d29dea8518
          Name: Food
        - Exportable: false
          Id: ca455789-012d-4b50-9fec-5bb63841c793
          Name: Landmarks
        - Exportable: false
          Id: b30a91ae-e3c1-4f73-a81e-c270bff27c39
          Name: Retail
        - Exportable: false
          Id: 45badf75-3591-4f26-a705-45678d3e9f5f
          Name: Adult
        - Exportable: true
          Id: 0732100f-1a38-4e49-a514-c9b44c697ab5
          Name: General (compact)
        - Exportable: true
          Id: b5cfd229-2ac7-4b2b-8d0a-2b0661344894
          Name: Landmarks (compact)
        - Exportable: true
          Id: 6b4faeda-8396-481b-9f8b-177b9fa3097f
          Name: Retail (compact)
    Successful_GetExports_request:
      value:
        - DownloadUri: "{Download URI"
          Platform: TensorFlow
          Status: Done
    Successful_GetIterationPerformance_request:
      value:
        PerTagPerformance:
          - Id: e31ff107-5505-4753-be42-b369b21b026c
            Name: Hemlock
            Precision: 1
            PrecisionStdDeviation: 0
            Recall: 1
            RecallStdDeviation: 0
          - Id: 349d72ac-0948-4d51-b1e4-c14a1f9b848a
            Name: Japanese Cherry
            Precision: 1
            PrecisionStdDeviation: 0
            Recall: 1
            RecallStdDeviation: 0
        Precision: 1
        PrecisionStdDeviation: 0
        Recall: 1
        RecallStdDeviation: 0
    Successful_GetIteration_request:
      value:
        Created: 2017-12-18T22:40:36.9066667Z
        DomainId: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
        Exportable: false
        Id: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
        IsDefault: false
        LastModified: 2017-12-19T15:47:02.9511889Z
        Name: Iteration 2
        ProjectId: 64b822c5-8082-4b36-a426-27225f4aa18c
        Status: Completed
        TrainedAt: 2017-12-19T15:47:02.9511889Z
    Successful_GetIterations_request:
      value:
        - Created: 2017-12-18T22:40:29.7304213Z
          DomainId: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
          Exportable: false
          Id: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
          IsDefault: true
          LastModified: 2017-12-18T22:40:41.3173903Z
          Name: Iteration 1
          ProjectId: 64b822c5-8082-4b36-a426-27225f4aa18c
          Status: Completed
          TrainedAt: 2017-12-18T22:40:41.0058589Z
        - Created: 2017-12-18T22:40:36.9066667Z
          DomainId: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
          Exportable: false
          Id: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
          IsDefault: false
          LastModified: 2017-12-19T15:47:02.9511889Z
          Name: Iteration 2
          ProjectId: 64b822c5-8082-4b36-a426-27225f4aa18c
          Status: Completed
          TrainedAt: 2017-12-19T15:47:02.9511889Z
        - Created: 2017-12-19T15:46:59.2533333Z
          Exportable: false
          Id: 3adaf7b2-18fc-4376-9da4-b5ea160a7cf5
          IsDefault: false
          LastModified: 2017-12-19T15:46:59.2699369Z
          Name: Iteration 3
          ProjectId: 64b822c5-8082-4b36-a426-27225f4aa18c
          Status: New
    Successful_GetProject_request:
      value:
        Created: 2017-12-18T05:43:18.08Z
        CurrentIterationId: a2a64ff1-22e6-418b-aeea-75e3b43f122c
        Description: A test project
        Id: bc3f7dad-5544-468c-8573-3ef04d55463e
        LastModified: 2017-12-18T05:43:18.0962423Z
        Name: My New Project
        Settings:
          DomainId: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
    Successful_GetProjects_request:
      value:
        - Created: 2017-12-18T05:43:18.08Z
          CurrentIterationId: a2a64ff1-22e6-418b-aeea-75e3b43f122c
          Description: ""
          Id: bc3f7dad-5544-468c-8573-3ef04d55463e
          LastModified: 2017-12-18T05:43:18.0962423Z
          Name: My New Project
          Settings:
            DomainId: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
    Successful_GetTag_request:
      value:
        Description: Description of Tag1
        Id: 9e27bc1b-7ae7-4e3b-a4e5-36153479dc01
        ImageCount: 0
        Name: Tag1
    Successful_GetTaggedImages_request:
      value: []
    Successful_GetTags_request:
      value:
        Tags:
          - Description: Description of Tag1
            Id: 9e27bc1b-7ae7-4e3b-a4e5-36153479dc01
            ImageCount: 0
            Name: Tag1
        TotalTaggedImages: 0
        TotalUntaggedImages: 0
    Successful_GetUntaggedImages_request:
      value: []
    Successful_PostImageTags_request:
      value:
        Created:
          - ImageId: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
            TagId: 349d72ac-0948-4d51-b1e4-c14a1f9b848a
    Successful_QueryPredictionResults_request:
      value:
        Results:
          - Created: 2018-01-31T20:18:26.5806336Z
            Id: dfd2d346-3ed5-4e1e-857d-af4e32cec042
            ImageUri: <image uri>
            Iteration: b7b9d99c-a2c6-4658-9900-a98d2ff5bc66
            Predictions:
              - Probability: 1
                Tag: Tag 1
                TagId: b5f7e6a2-a481-49a6-afec-a7cef1af3544
              - Probability: 3.60627153e-12
                Tag: Tag 2
                TagId: 45619cda-d1c9-4bc8-a3e1-87c5d81adbc3
            Project: 8988643a-ae70-447d-9a22-15c4255e5ecb
            ThumbnailUri: <thumbnail uri>
        Token:
          MaxCount: 0
          OrderBy: Newest
          Session: 1:286613
          Tags:
            - Id: b5f7e6a2-a481-49a6-afec-a7cef1af3544
              MaxThreshold: 1
              MinThreshold: 0.9
    Successful_QuickTestImageUrl_request:
      value:
        Created: 2017-12-19T14:21:41.6789561Z
        Id: 951098b2-9b69-427b-bddb-d5cb618874e3
        Iteration: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
        Predictions:
          - Probability: 0.05149666
            Tag: Hemlock
            TagId: e31ff107-5505-4753-be42-b369b21b026c
          - Probability: 0.000193528482
            Tag: Japanese Cherry
            TagId: 349d72ac-0948-4d51-b1e4-c14a1f9b848a
        Project: 64b822c5-8082-4b36-a426-27225f4aa18c
    Successful_QuickTestImage_request:
      value:
        Created: 2017-12-19T14:21:41.6789561Z
        Id: 951098b2-9b69-427b-bddb-d5cb618874e3
        Iteration: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
        Predictions:
          - Probability: 0.05149666
            Tag: Hemlock
            TagId: e31ff107-5505-4753-be42-b369b21b026c
          - Probability: 0
            Tag: Japanese Cherry
            TagId: 349d72ac-0948-4d51-b1e4-c14a1f9b848a
        Project: 64b822c5-8082-4b36-a426-27225f4aa18c
    Successful_TrainProject_request:
      value:
        Created: 2017-12-18T22:40:36.9066667Z
        Exportable: false
        Id: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
        IsDefault: false
        LastModified: 2017-12-19T15:46:58.197323Z
        Name: Iteration 2
        ProjectId: 64b822c5-8082-4b36-a426-27225f4aa18c
        Status: Training
    Successful_UpdateIteration_request:
      value:
        Created: 2017-12-18T22:40:36.9066667Z
        DomainId: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
        Exportable: false
        Id: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
        IsDefault: false
        LastModified: 2017-12-19T15:53:07.8782881Z
        Name: Best Iteration
        ProjectId: 64b822c5-8082-4b36-a426-27225f4aa18c
        Status: Completed
        TrainedAt: 2017-12-19T15:47:02.9511889Z
    Successful_UpdateProject_request:
      value:
        Created: 2017-12-18T05:43:18.08Z
        CurrentIterationId: a2a64ff1-22e6-418b-aeea-75e3b43f122c
        Description: A new Description
        Id: bc3f7dad-5544-468c-8573-3ef04d55463e
        LastModified: 2017-12-18T05:43:18.0962423Z
        Name: New Project Name
        Settings:
          DomainId: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
    Successful_UpdateTag_request:
      value:
        Description: Better description
        Id: 9e27bc1b-7ae7-4e3b-a4e5-36153479dc01
        ImageCount: 0
        Name: Better Tag Name
  parameters:
    ApiKey:
      examples:
        Successful CreateImagesFromData request:
          value: "{API Key}"
        Successful CreateImagesFromFiles request:
          value: "{API Key}"
        Successful CreateImagesFromPredictions request:
          value: "{API Key}"
        Successful CreateImagesFromUrls request:
          value: "{API Key}"
        Successful CreateProject request:
          value: "{API Key}"
        Successful CreateTag request:
          value: "{API Key}"
        Successful DeleteImageTags request:
          value: "{API Key}"
        Successful DeleteImages request:
          value: "{API Key}"
        Successful DeleteIteration request:
          value: "{API Key}"
        Successful DeletePrediction request:
          value: "{API Key}"
        Successful DeleteProject request:
          value: "{API Key}"
        Successful DeleteTag request:
          value: "{API Key}"
        Successful ExportIteration request:
          value: "{API Key}"
        Successful GetAccountInfo request:
          value: "{API Key}"
        Successful GetDomain request:
          value: "{API Key}"
        Successful GetDomains request:
          value: "{API Key}"
        Successful GetExports request:
          value: "{API Key}"
        Successful GetIteration request:
          value: "{API Key}"
        Successful GetIterationPerformance request:
          value: "{API Key}"
        Successful GetIterations request:
          value: "{API Key}"
        Successful GetProject request:
          value: "{API Key}"
        Successful GetProjects request:
          value: "{API Key}"
        Successful GetTag request:
          value: "{API Key}"
        Successful GetTaggedImages request:
          value: "{API Key}"
        Successful GetTags request:
          value: "{API Key}"
        Successful GetUntaggedImages request:
          value: "{API Key}"
        Successful PostImageTags request:
          value: "{API Key}"
        Successful QueryPredictionResults request:
          value: "{API Key}"
        Successful QuickTestImage request:
          value: "{API Key}"
        Successful QuickTestImageUrl request:
          value: "{API Key}"
        Successful TrainProject request:
          value: "{API Key}"
        Successful UpdateIteration request:
          value: "{API Key}"
        Successful UpdateProject request:
          value: "{API Key}"
        Successful UpdateTag request:
          value: "{API Key}"
      in: header
      name: Training-Key
      required: true
      schema:
        type: string
      x-ms-client-name: ApiKey
      x-ms-parameter-location: client
  requestBodies:
    CreateImagesFromData:
      content:
        multipart/form-data:
          schema:
            properties:
              imageData:
                format: binary
                type: string
            required:
              - imageData
            type: object
      required: true
  schemas:
    Account:
      description: Represents a user account
      nullable: true
      properties:
        Email:
          description: Gets the email associated with this account
          nullable: true
          readOnly: true
          type: string
        Keys:
          $ref: "#/components/schemas/ApiKeys"
        Quotas:
          $ref: "#/components/schemas/AccountQuota"
        UserName:
          description: Gets the name of the account owner
          nullable: true
          readOnly: true
          type: string
      type: object
    AccountQuota:
      description: Represents a set of quotas associated with an account
      nullable: true
      properties:
        PerProject:
          description: Gets a list of quotas that apply per-project for each project
          items:
            $ref: "#/components/schemas/PerProjectQuota"
          nullable: true
          readOnly: true
          type: array
        Predictions:
          $ref: "#/components/schemas/Quota"
        Projects:
          $ref: "#/components/schemas/Quota"
        Tier:
          description: Gets the tier of user
          nullable: true
          readOnly: true
          type: string
      type: object
    ApiKeys:
      nullable: true
      properties:
        PredictionKeys:
          $ref: "#/components/schemas/KeyPair"
        TrainingKeys:
          $ref: "#/components/schemas/KeyPair"
      type: object
    Domain:
      nullable: true
      properties:
        Exportable:
          nullable: false
          readOnly: true
          type: boolean
        Id:
          format: uuid
          nullable: false
          readOnly: true
          type: string
        Name:
          nullable: true
          readOnly: true
          type: string
      type: object
    Export:
      nullable: true
      properties:
        DownloadUri:
          nullable: true
          readOnly: true
          type: string
        Platform:
          enum:
            - CoreML
            - TensorFlow
          nullable: false
          readOnly: true
          type: string
        Status:
          enum:
            - Exporting
            - Failed
            - Done
          nullable: false
          readOnly: true
          type: string
      type: object
    Image:
      description: Image model to be sent as JSON
      nullable: true
      properties:
        Created:
          format: date-time
          nullable: false
          readOnly: true
          type: string
        Height:
          format: int32
          nullable: false
          readOnly: true
          type: integer
        Id:
          format: uuid
          nullable: false
          readOnly: true
          type: string
        ImageUri:
          nullable: true
          readOnly: true
          type: string
        Predictions:
          items:
            $ref: "#/components/schemas/PredictionTag"
          nullable: true
          readOnly: true
          type: array
        Tags:
          items:
            $ref: "#/components/schemas/ImageTag"
          nullable: true
          readOnly: true
          type: array
        ThumbnailUri:
          nullable: true
          readOnly: true
          type: string
        Width:
          format: int32
          nullable: false
          readOnly: true
          type: integer
      type: object
    ImageCreateResult:
      nullable: true
      properties:
        Image:
          $ref: "#/components/schemas/Image"
        SourceUrl:
          nullable: true
          readOnly: true
          type: string
        Status:
          enum:
            - OK
            - OKDuplicate
            - ErrorSource
            - ErrorImageFormat
            - ErrorImageSize
            - ErrorStorage
            - ErrorLimitExceed
            - ErrorTagLimitExceed
            - ErrorUnknown
          nullable: false
          readOnly: true
          type: string
      type: object
    ImageCreateSummary:
      nullable: true
      properties:
        Images:
          items:
            $ref: "#/components/schemas/ImageCreateResult"
          nullable: true
          readOnly: true
          type: array
        IsBatchSuccessful:
          nullable: false
          readOnly: true
          type: boolean
      type: object
    ImageFileCreateBatch:
      nullable: true
      properties:
        Images:
          items:
            $ref: "#/components/schemas/ImageFileCreateEntry"
          nullable: true
          type: array
        TagIds:
          items:
            format: uuid
            nullable: false
            type: string
          nullable: true
          type: array
      type: object
    ImageFileCreateEntry:
      nullable: true
      properties:
        Contents:
          format: byte
          nullable: true
          type: string
        Name:
          nullable: true
          type: string
        TagIds:
          items:
            format: uuid
            nullable: false
            type: string
          nullable: true
          type: array
      type: object
    ImageIdCreateBatch:
      nullable: true
      properties:
        Images:
          items:
            $ref: "#/components/schemas/ImageIdCreateEntry"
          nullable: true
          type: array
        TagIds:
          items:
            format: uuid
            nullable: false
            type: string
          nullable: true
          type: array
      type: object
    ImageIdCreateEntry:
      nullable: true
      properties:
        Id:
          format: uuid
          nullable: false
          type: string
        TagIds:
          items:
            format: uuid
            nullable: false
            type: string
          nullable: true
          type: array
      type: object
    ImagePredictionResult:
      description: result of an image prediction request
      nullable: true
      properties:
        Created:
          format: date-time
          nullable: false
          readOnly: true
          type: string
        Id:
          format: uuid
          nullable: false
          readOnly: true
          type: string
        Iteration:
          format: uuid
          nullable: false
          readOnly: true
          type: string
        Predictions:
          items:
            $ref: "#/components/schemas/ImageTagPrediction"
          nullable: true
          readOnly: true
          type: array
        Project:
          format: uuid
          nullable: false
          readOnly: true
          type: string
      type: object
    ImageTag:
      nullable: true
      properties:
        Created:
          format: date-time
          nullable: false
          readOnly: true
          type: string
        TagId:
          format: uuid
          nullable: false
          readOnly: true
          type: string
      type: object
    ImageTagCreateBatch:
      nullable: true
      properties:
        Tags:
          items:
            $ref: "#/components/schemas/ImageTagCreateEntry"
          nullable: true
          type: array
      type: object
    ImageTagCreateEntry:
      nullable: true
      properties:
        ImageId:
          format: uuid
          nullable: false
          type: string
        TagId:
          format: uuid
          nullable: false
          type: string
      type: object
    ImageTagCreateSummary:
      nullable: true
      properties:
        Created:
          items:
            $ref: "#/components/schemas/ImageTagCreateEntry"
          nullable: true
          type: array
        Duplicated:
          items:
            $ref: "#/components/schemas/ImageTagCreateEntry"
          nullable: true
          type: array
        Exceeded:
          items:
            $ref: "#/components/schemas/ImageTagCreateEntry"
          nullable: true
          type: array
      type: object
    ImageTagPrediction:
      nullable: true
      properties:
        Probability:
          format: float
          nullable: false
          readOnly: true
          type: number
        Tag:
          nullable: true
          readOnly: true
          type: string
        TagId:
          format: uuid
          nullable: false
          readOnly: true
          type: string
      type: object
    ImageUrl:
      nullable: true
      properties:
        Url:
          nullable: true
          type: string
      type: object
    ImageUrlCreateBatch:
      nullable: true
      properties:
        Images:
          items:
            $ref: "#/components/schemas/ImageUrlCreateEntry"
          nullable: true
          type: array
        TagIds:
          items:
            format: uuid
            nullable: false
            type: string
          nullable: true
          type: array
      type: object
    ImageUrlCreateEntry:
      nullable: true
      properties:
        TagIds:
          items:
            format: uuid
            nullable: false
            type: string
          nullable: true
          type: array
        Url:
          nullable: true
          type: string
      type: object
    Iteration:
      description: Iteration model to be sent over JSON
      nullable: true
      properties:
        Created:
          description: Gets the time this iteration was completed
          format: date-time
          nullable: false
          readOnly: true
          type: string
        DomainId:
          description: Get or sets a guid of the domain the iteration has been trained on
          format: uuid
          nullable: true
          readOnly: true
          type: string
        Exportable:
          description: Whether the iteration can be exported to another format for download
          nullable: false
          readOnly: true
          type: boolean
        Id:
          description: Gets the id of the iteration
          format: uuid
          nullable: false
          readOnly: true
          type: string
        IsDefault:
          description: Gets or sets a value indicating whether the iteration is the default iteration for the project
          nullable: false
          type: boolean
        LastModified:
          description: Gets the time this iteration was last modified
          format: date-time
          nullable: false
          readOnly: true
          type: string
        Name:
          description: Gets or sets the name of the iteration
          nullable: true
          type: string
        ProjectId:
          description: Gets the project id of the iteration
          format: uuid
          nullable: false
          readOnly: true
          type: string
        Status:
          description: Gets the current iteration status
          nullable: true
          readOnly: true
          type: string
        TrainedAt:
          description: Gets the time this iteration was last modified
          format: date-time
          nullable: true
          readOnly: true
          type: string
      type: object
    IterationPerformance:
      description: Represents the detailed performance data for a trained iteration
      nullable: true
      properties:
        PerTagPerformance:
          description: Gets the per-tag performance details for this iteration
          items:
            $ref: "#/components/schemas/TagPerformance"
          nullable: true
          readOnly: true
          type: array
        Precision:
          description: Gets the precision
          format: double
          nullable: false
          readOnly: true
          type: number
        PrecisionStdDeviation:
          description: Gets the standard deviation for the precision
          format: double
          nullable: false
          readOnly: true
          type: number
        Recall:
          description: Gets the recall
          format: double
          nullable: false
          readOnly: true
          type: number
        RecallStdDeviation:
          description: Gets the standard deviation for the recall
          format: double
          nullable: false
          readOnly: true
          type: number
      type: object
    KeyPair:
      nullable: true
      properties:
        PrimaryKey:
          nullable: true
          type: string
        SecondaryKey:
          nullable: true
          type: string
      type: object
    PerProjectQuota:
      description: Represents a set of quotas for a given project
      nullable: true
      properties:
        Images:
          $ref: "#/components/schemas/Quota"
        Iterations:
          $ref: "#/components/schemas/Quota"
        ProjectId:
          description: Gets the project id of the project this quota applies to
          format: uuid
          nullable: false
          readOnly: true
          type: string
        Tags:
          $ref: "#/components/schemas/Quota"
      type: object
    Prediction:
      description: result of an image classification request
      nullable: true
      properties:
        Created:
          format: date-time
          nullable: false
          readOnly: true
          type: string
        Id:
          format: uuid
          nullable: false
          readOnly: true
          type: string
        ImageUri:
          nullable: true
          readOnly: true
          type: string
        Iteration:
          format: uuid
          nullable: false
          readOnly: true
          type: string
        Predictions:
          items:
[...]
