swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Provides create, read, update and delete functionality for Azure SQL Database resources including recommendations and operations.
  title: Azure SQL Database
  version: 2014-04-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/recommendedElasticPoolsDecoupled.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: sql-recommendedElasticPoolsDecoupled
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
parameters:
  ServerNameParameter:
    description: The name of the server.
    in: path
    name: serverName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recommendedElasticPools":
    get:
      description: Returns recommended elastic pools.
      operationId: RecommendedElasticPools_ListByServer
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/RecommendedElasticPoolListResult"
      tags:
        - RecommendedElasticPools
      x-ms-examples:
        List recommended elastic pools:
          parameters:
            api-version: 2014-04-01
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/recommendedElasticPools/ElasticPool1
                    name: ElasticPool1
                    properties:
                      databaseDtuMax: 200.5
                      databaseDtuMin: 100.6
                      databaseEdition: Standard
                      databases: []
                      dtu: 1000
                      maxObservedDtu: 900.2
                      maxObservedStorageMB: 350
                      metrics:
                        - dateTime: 2015-04-01T00:00:00Z
                          dtu: 100.5
                          sizeGB: 15.4
                        - dateTime: 2015-04-02T00:00:00Z
                          dtu: 135
                          sizeGB: 12.754
                        - dateTime: 2015-04-03T00:00:00Z
                          dtu: 135
                          sizeGB: 12.754
                      observationPeriodEnd: 2014-11-15T00:00:00Z
                      observationPeriodStart: 2014-11-01T00:00:00Z
                      storageMB: 1000.3
                    type: Microsoft.Sql/servers/recommendedElasticPools
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/recommendedElasticPools/ElasticPool2
                    name: ElasticPool2
                    properties:
                      databaseDtuMax: 200
                      databaseDtuMin: 100
                      databaseEdition: Standard
                      databases:
                        - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/databases/master
                          location: Southeast Asia
                          name: master
                          type: Microsoft.Sql/servers/databases
                      dtu: 1000
                      maxObservedDtu: 450
                      maxObservedStorageMB: 900
                      observationPeriodEnd: 2014-11-15T00:00:00Z
                      observationPeriodStart: 2014-11-01T00:00:00Z
                      storageMB: 1000
                    type: Microsoft.Sql/servers/recommendedElasticPools
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recommendedElasticPools/{recommendedElasticPoolName}":
    get:
      description: Gets a recommended elastic pool.
      operationId: RecommendedElasticPools_Get
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the recommended elastic pool to be retrieved.
          in: path
          name: recommendedElasticPoolName
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/RecommendedElasticPool"
      tags:
        - RecommendedElasticPools
      x-ms-examples:
        Get a recommended elastic pool:
          parameters:
            api-version: 2014-04-01
            recommendedElasticPoolName: ElasticPool1
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/recommendedElasticPools/ElasticPool1
                name: ElasticPool1
                properties:
                  databaseDtuMax: 200.5
                  databaseDtuMin: 100.6
                  databaseEdition: Standard
                  databases: []
                  dtu: 1000
                  maxObservedDtu: 900.2
                  maxObservedStorageMB: 350
                  metrics:
                    - dateTime: 2015-04-01T00:00:00Z
                      dtu: 100.5
                      sizeGB: 15.4
                    - dateTime: 2015-04-02T00:00:00Z
                      dtu: 135
                      sizeGB: 12.754
                    - dateTime: 2015-04-03T00:00:00Z
                      dtu: 135
                      sizeGB: 12.754
                  observationPeriodEnd: 2014-11-15T00:00:00Z
                  observationPeriodStart: 2014-11-01T00:00:00Z
                  storageMB: 1000.3
                type: Microsoft.Sql/servers/recommendedElasticPools
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recommendedElasticPools/{recommendedElasticPoolName}/metrics":
    get:
      description: Returns recommended elastic pool metrics.
      operationId: RecommendedElasticPools_ListMetrics
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the recommended elastic pool to be retrieved.
          in: path
          name: recommendedElasticPoolName
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/RecommendedElasticPoolListMetricsResult"
      tags:
        - RecommendedElasticPools
      x-ms-examples:
        Get recommended elastic pool metrics:
          parameters:
            api-version: 2014-04-01
            recommendedElasticPoolName: sqlcrudtest-2080_pool1
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - dateTime: 2017-07-24T12:00:00Z
                    dtu: 0.01758824557626567
                    sizeGB: 0.921875
                  - dateTime: 2017-07-25T12:00:00Z
                    dtu: 0.018937532104510685
                    sizeGB: 0.921875
      x-ms-pageable:
        nextLinkName: null
definitions:
  RecommendedElasticPool:
    allOf:
      - allOf:
          - description: ARM resource.
            properties:
              id:
                description: Resource ID.
                readOnly: true
                type: string
              name:
                description: Resource name.
                readOnly: true
                type: string
              type:
                description: Resource type.
                readOnly: true
                type: string
            type: object
            x-ms-azure-resource: true
        description: ARM proxy resource.
        properties: {}
        type: object
    description: Represents a recommended elastic pool.
    properties:
      properties:
        $ref: "#/definitions/RecommendedElasticPoolProperties"
        description: The properties representing the resource.
        x-ms-client-flatten: true
  RecommendedElasticPoolListMetricsResult:
    description: Represents the response to a list recommended elastic pool metrics request.
    properties:
      value:
        description: The list of recommended elastic pools metrics.
        items:
          $ref: "#/definitions/RecommendedElasticPoolMetric"
        type: array
    required:
      - value
  RecommendedElasticPoolListResult:
    description: Represents the response to a list recommended elastic pool request.
    properties:
      value:
        description: The list of recommended elastic pools hosted in the server.
        items:
          $ref: "#/definitions/RecommendedElasticPool"
        type: array
    required:
      - value
  RecommendedElasticPoolMetric:
    description: Represents recommended elastic pool metric.
    properties:
      dateTime:
        description: The time of metric (ISO8601 format).
        format: date-time
        type: string
      dtu:
        description: Gets or sets the DTUs (Database Transaction Units). See https://azure.microsoft.com/documentation/articles/sql-database-what-is-a-dtu/
        format: double
        type: number
      sizeGB:
        description: Gets or sets size in gigabytes.
        format: double
        type: number
  RecommendedElasticPoolProperties:
    description: Represents the properties of a recommended elastic pool.
    properties:
      databaseDtuMax:
        description: The maximum DTU for the database.
        format: double
        type: number
      databaseDtuMin:
        description: The minimum DTU for the database.
        format: double
        type: number
      databaseEdition:
        description: The edition of the recommended elastic pool. The ElasticPoolEdition enumeration contains all the valid editions.
        enum:
          - Basic
          - Standard
          - Premium
          - GeneralPurpose
          - BusinessCritical
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ElasticPoolEdition
      databases:
        description: The list of databases in this pool. Expanded property
        items:
          allOf:
            - description: ARM resource.
              properties:
                id:
                  description: Resource ID.
                  readOnly: true
                  type: string
                name:
                  description: Resource name.
                  readOnly: true
                  type: string
                type:
                  description: Resource type.
                  readOnly: true
                  type: string
              type: object
              x-ms-azure-resource: true
          description: ARM tracked top level resource.
          properties:
            location:
              description: Resource location.
              type: string
              x-ms-mutability:
                - read
                - create
            tags:
              additionalProperties:
                type: string
              description: Resource tags.
              type: object
          required:
            - location
          type: object
        readOnly: true
        type: array
      dtu:
        description: The DTU for the recommended elastic pool.
        format: double
        type: number
      maxObservedDtu:
        description: Gets maximum observed DTU.
        format: double
        readOnly: true
        type: number
      maxObservedStorageMB:
        description: Gets maximum observed storage in megabytes.
        format: double
        readOnly: true
        type: number
      metrics:
        description: The list of databases housed in the server. Expanded property
        items:
          $ref: "#/definitions/RecommendedElasticPoolMetric"
        readOnly: true
        type: array
      observationPeriodEnd:
        description: The observation period start (ISO8601 format).
        format: date-time
        readOnly: true
        type: string
      observationPeriodStart:
        description: The observation period start (ISO8601 format).
        format: date-time
        readOnly: true
        type: string
      storageMB:
        description: Gets storage size in megabytes.
        format: double
        type: number
