swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: StreamAnalyticsManagementClient
  version: 2016-03-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/stable/2016-03-01/inputs.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: streamanalytics-inputs
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  InputNameParameter:
    description: The name of the input.
    in: path
    name: inputName
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceGroupNameParameter:
    description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  StreamingJobNameParameter:
    description: The name of the streaming job.
    in: path
    name: jobName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: GUID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/inputs":
    get:
      description: Lists all of the inputs under the specified streaming job.
      operationId: Inputs_ListByStreamingJob
      parameters:
        - description: The $select OData query parameter. This is a comma-separated list of structural properties to include in the response, or "*" to include all properties. By default, all properties are returned except diagnostics. Currently only accepts '*' as a valid value.
          in: query
          name: $select
          required: false
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/StreamingJobNameParameter"
      responses:
        "200":
          description: Successfully listed the inputs under the specified streaming job.
          schema:
            $ref: "#/definitions/InputListResult"
      tags:
        - Inputs
      x-ms-examples:
        List all inputs in a streaming job:
          parameters:
            api-version: 2016-03-01
            jobName: sj9597
            resourceGroupName: sjrg8440
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg8440/providers/Microsoft.StreamAnalytics/streamingjobs/sj9597/inputs/input7225
                    name: input7225
                    properties:
                      datasource:
                        properties:
                          container: differentContainer
                          dateFormat: yyyy/MM/dd
                          pathPattern: "{date}/{time}"
                          storageAccounts:
                            - accountName: someAccountName
                          timeFormat: HH
                        type: Microsoft.Storage/Blob
                      etag: a4ceb697-1c8f-40c8-b951-fb5ee4757437
                      serialization:
                        properties:
                          encoding: UTF8
                          fieldDelimiter: "|"
                        type: Csv
                      type: Reference
                    type: Microsoft.StreamAnalytics/streamingjobs/inputs
                  - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg8440/providers/Microsoft.StreamAnalytics/streamingjobs/sj9597/inputs/input8899
                    name: input8899
                    properties:
                      datasource:
                        properties:
                          container: state
                          dateFormat: yyyy/MM/dd
                          pathPattern: "{date}/{time}"
                          sourcePartitionCount: 32
                          storageAccounts:
                            - accountName: someAccountName
                          timeFormat: HH
                        type: Microsoft.Storage/Blob
                      etag: 3b35d57c-02f4-4b41-8e1d-af02a86c2fa1
                      serialization:
                        properties:
                          encoding: UTF8
                          fieldDelimiter: "|"
                        type: Csv
                      type: Stream
                    type: Microsoft.StreamAnalytics/streamingjobs/inputs
                  - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg8440/providers/Microsoft.StreamAnalytics/streamingjobs/sj9597/inputs/input7425
                    name: input7425
                    properties:
                      datasource:
                        properties:
                          consumerGroupName: differentConsumerGroupName
                          eventHubName: sdkeventhub
                          serviceBusNamespace: sdktest
                          sharedAccessPolicyName: RootManageSharedAccessKey
                        type: Microsoft.ServiceBus/EventHub
                      etag: 7548f259-81b5-4ea7-b896-25c6717d98ba
                      serialization:
                        properties: {}
                        type: Avro
                      type: Stream
                    type: Microsoft.StreamAnalytics/streamingjobs/inputs
                  - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg8440/providers/Microsoft.StreamAnalytics/streamingjobs/sj9597/inputs/input7970
                    name: input7970
                    properties:
                      datasource:
                        properties:
                          consumerGroupName: sdkconsumergroup
                          endpoint: messages/operationsMonitoringEvents
                          iotHubNamespace: iothub
                          sharedAccessPolicyName: owner
                        type: Microsoft.Devices/IotHubs
                      etag: e2d847e0-c95b-48ef-9e14-1afc1f2270cb
                      serialization:
                        properties:
                          encoding: UTF8
                          fieldDelimiter: "|"
                        type: Csv
                      type: Stream
                    type: Microsoft.StreamAnalytics/streamingjobs/inputs
        List all inputs in a streaming job and include diagnostic information using the $select OData query parameter:
          parameters:
            $select: "*"
            api-version: 2016-03-01
            jobName: sj7804
            resourceGroupName: sjrg3276
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3276/providers/Microsoft.StreamAnalytics/streamingjobs/sj7804/inputs/inputtest
                    name: inputtest
                    properties:
                      datasource:
                        properties:
                          container: state
                          pathPattern: ""
                          storageAccounts:
                            - accountName: someAccountName
                        type: Microsoft.Storage/Blob
                      diagnostics:
                        conditions:
                          - code: INP-3
                            message: "Could not deserialize the input event as Json. Some possible reasons: 1) Malformed events 2) Input source configured with incorrect serialization format"
                            since: 2017-05-11T04:38:42.4938687Z
                      etag: ca88f8fa-605b-4c7f-8695-46f5faa60cd0
                      serialization:
                        properties:
                          encoding: UTF8
                        type: Json
                      type: Stream
                    type: Microsoft.StreamAnalytics/streamingjobs/inputs
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/inputs/{inputName}":
    delete:
      description: Deletes an input from the streaming job.
      operationId: Inputs_Delete
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/StreamingJobNameParameter"
        - $ref: "#/parameters/InputNameParameter"
      responses:
        "200":
          description: The input was successfully deleted.
        "204":
          description: The input does not exist.
      tags:
        - Inputs
      x-ms-examples:
        Delete an input:
          parameters:
            api-version: 2016-03-01
            inputName: input7225
            jobName: sj9597
            resourceGroupName: sjrg8440
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets details about the specified input.
      operationId: Inputs_Get
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/StreamingJobNameParameter"
        - $ref: "#/parameters/InputNameParameter"
      responses:
        "200":
          description: Successfully retrieved the specified input.
          headers:
            ETag:
              description: The current entity tag for the input. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.
              type: string
          schema:
            $ref: "#/definitions/Input"
      tags:
        - Inputs
      x-ms-examples:
        Get a reference blob input with CSV serialization:
          parameters:
            api-version: 2016-03-01
            inputName: input7225
            jobName: sj9597
            resourceGroupName: sjrg8440
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg8440/providers/Microsoft.StreamAnalytics/streamingjobs/sj9597/inputs/input7225
                name: input7225
                properties:
                  datasource:
                    properties:
                      container: state
                      dateFormat: yyyy/MM/dd
                      pathPattern: "{date}/{time}"
                      storageAccounts:
                        - accountName: someAccountName
                      timeFormat: HH
                    type: Microsoft.Storage/Blob
                  serialization:
                    properties:
                      encoding: UTF8
                      fieldDelimiter: ","
                    type: Csv
                  type: Reference
                type: Microsoft.StreamAnalytics/streamingjobs/inputs
              headers:
                ETag: c987701d-4039-47aa-a115-ad84f67d07c5
        Get a stream Event Hub input with JSON serialization:
          parameters:
            api-version: 2016-03-01
            inputName: input7425
            jobName: sj197
            resourceGroupName: sjrg3139
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3139/providers/Microsoft.StreamAnalytics/streamingjobs/sj197/inputs/input7425
                name: input7425
                properties:
                  datasource:
                    properties:
                      consumerGroupName: sdkconsumergroup
                      eventHubName: sdkeventhub
                      serviceBusNamespace: sdktest
                      sharedAccessPolicyName: RootManageSharedAccessKey
                    type: Microsoft.ServiceBus/EventHub
                  serialization:
                    properties:
                      encoding: UTF8
                    type: Json
                  type: Stream
                type: Microsoft.StreamAnalytics/streamingjobs/inputs
              headers:
                ETag: afd0d184-37e9-4370-9e55-32501bc4de3a
        Get a stream IoT Hub input with Avro serialization:
          parameters:
            api-version: 2016-03-01
            inputName: input7970
            jobName: sj9742
            resourceGroupName: sjrg3467
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3467/providers/Microsoft.StreamAnalytics/streamingjobs/sj9742/inputs/input7970
                name: input7970
                properties:
                  datasource:
                    properties:
                      consumerGroupName: sdkconsumergroup
                      endpoint: messages/events
                      iotHubNamespace: iothub
                      sharedAccessPolicyName: owner
                    type: Microsoft.Devices/IotHubs
                  serialization:
                    properties: {}
                    type: Avro
                  type: Stream
                type: Microsoft.StreamAnalytics/streamingjobs/inputs
              headers:
                ETag: bd8009b3-8165-4bd3-aad2-29a2b378dd14
        Get a stream blob input with CSV serialization:
          parameters:
            api-version: 2016-03-01
            inputName: input8899
            jobName: sj6695
            resourceGroupName: sjrg8161
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg8161/providers/Microsoft.StreamAnalytics/streamingjobs/sj6695/inputs/input8899
                name: input8899
                properties:
                  datasource:
                    properties:
                      container: state
                      dateFormat: yyyy/MM/dd
                      pathPattern: "{date}/{time}"
                      sourcePartitionCount: 16
                      storageAccounts:
                        - accountName: someAccountName
                      timeFormat: HH
                    type: Microsoft.Storage/Blob
                  serialization:
                    properties:
                      encoding: UTF8
                      fieldDelimiter: ","
                    type: Csv
                  type: Stream
                type: Microsoft.StreamAnalytics/streamingjobs/inputs
              headers:
                ETag: 475074b8-c957-4b1f-a219-12b8399c3d4c
    patch:
      description: Updates an existing input under an existing streaming job. This can be used to partially update (ie. update one or two properties) an input without affecting the rest the job or input definition.
      operationId: Inputs_Update
      parameters:
        - description: An Input object. The properties specified here will overwrite the corresponding properties in the existing input (ie. Those properties will be updated). Any properties that are set to null here will mean that the corresponding property in the existing input will remain the same and not change as a result of this PATCH operation.
          in: body
          name: input
          required: true
          schema:
            $ref: "#/definitions/Input"
        - description: The ETag of the input. Omit this value to always overwrite the current input. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.
          in: header
          name: If-Match
          required: false
          type: string
          x-ms-client-name: IfMatch
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/StreamingJobNameParameter"
        - $ref: "#/parameters/InputNameParameter"
      responses:
        "200":
          description: The input was successfully updated.
          headers:
            ETag:
              description: The current entity tag for the input. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.
              type: string
          schema:
            $ref: "#/definitions/Input"
      tags:
        - Inputs
      x-ms-examples:
        Update a reference blob input:
          parameters:
            api-version: 2016-03-01
            input:
              properties:
                datasource:
                  properties:
                    container: differentContainer
                  type: Microsoft.Storage/Blob
                serialization:
                  properties:
                    encoding: UTF8
                    fieldDelimiter: "|"
                  type: Csv
                type: Reference
            inputName: input7225
            jobName: sj9597
            resourceGroupName: sjrg8440
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg8440/providers/Microsoft.StreamAnalytics/streamingjobs/sj9597/inputs/input7225
                name: input7225
                properties:
                  datasource:
                    properties:
                      container: differentContainer
                      dateFormat: yyyy/MM/dd
                      pathPattern: "{date}/{time}"
                      storageAccounts:
                        - accountName: someAccountName
                      timeFormat: HH
                    type: Microsoft.Storage/Blob
                  serialization:
                    properties:
                      encoding: UTF8
                      fieldDelimiter: "|"
                    type: Csv
                  type: Reference
                type: Microsoft.StreamAnalytics/streamingjobs/inputs
              headers:
                ETag: a4ceb697-1c8f-40c8-b951-fb5ee4757437
        Update a stream Event Hub input:
          parameters:
            api-version: 2016-03-01
            input:
              properties:
                datasource:
                  properties:
                    consumerGroupName: differentConsumerGroupName
                  type: Microsoft.ServiceBus/EventHub
                serialization:
                  type: Avro
                type: Stream
            inputName: input7425
            jobName: sj197
            resourceGroupName: sjrg3139
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3139/providers/Microsoft.StreamAnalytics/streamingjobs/sj197/inputs/input7425
                name: input7425
                properties:
                  datasource:
                    properties:
                      consumerGroupName: differentConsumerGroupName
                      eventHubName: sdkeventhub
                      serviceBusNamespace: sdktest
                      sharedAccessPolicyName: RootManageSharedAccessKey
                    type: Microsoft.ServiceBus/EventHub
                  serialization:
                    properties: {}
                    type: Avro
                  type: Stream
                type: Microsoft.StreamAnalytics/streamingjobs/inputs
              headers:
                ETag: 7548f259-81b5-4ea7-b896-25c6717d98ba
        Update a stream IoT Hub input:
          parameters:
            api-version: 2016-03-01
            input:
              properties:
                datasource:
                  properties:
                    endpoint: messages/operationsMonitoringEvents
                  type: Microsoft.Devices/IotHubs
                serialization:
                  properties:
                    encoding: UTF8
                    fieldDelimiter: "|"
                  type: Csv
                type: Stream
            inputName: input7970
            jobName: sj9742
            resourceGroupName: sjrg3467
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3467/providers/Microsoft.StreamAnalytics/streamingjobs/sj9742/inputs/input7970
                name: input7970
                properties:
                  datasource:
                    properties:
                      consumerGroupName: sdkconsumergroup
                      endpoint: messages/operationsMonitoringEvents
                      iotHubNamespace: iothub
                      sharedAccessPolicyName: owner
                    type: Microsoft.Devices/IotHubs
                  serialization:
                    properties:
                      encoding: UTF8
                      fieldDelimiter: "|"
                    type: Csv
                  type: Stream
                type: Microsoft.StreamAnalytics/streamingjobs/inputs
              headers:
                ETag: e2d847e0-c95b-48ef-9e14-1afc1f2270cb
        Update a stream blob input:
          parameters:
            api-version: 2016-03-01
            input:
              properties:
                datasource:
                  properties:
                    sourcePartitionCount: 32
                  type: Microsoft.Storage/Blob
                serialization:
                  properties:
                    encoding: UTF8
                    fieldDelimiter: "|"
                  type: Csv
                type: Stream
            inputName: input8899
            jobName: sj6695
            resourceGroupName: sjrg8161
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg8161/providers/Microsoft.StreamAnalytics/streamingjobs/sj6695/inputs/input8899
                name: input8899
                properties:
                  datasource:
                    properties:
                      container: state
                      dateFormat: yyyy/MM/dd
                      pathPattern: "{date}/{time}"
                      sourcePartitionCount: 32
                      storageAccounts:
                        - accountName: someAccountName
                      timeFormat: HH
                    type: Microsoft.Storage/Blob
                  serialization:
                    properties:
                      encoding: UTF8
                      fieldDelimiter: "|"
                    type: Csv
                  type: Stream
                type: Microsoft.StreamAnalytics/streamingjobs/inputs
              headers:
                ETag: 3b35d57c-02f4-4b41-8e1d-af02a86c2fa1
    put:
      description: Creates an input or replaces an already existing input under an existing streaming job.
      operationId: Inputs_CreateOrReplace
      parameters:
        - description: The definition of the input that will be used to create a new input or replace the existing one under the streaming job.
          in: body
          name: input
          required: true
          schema:
            $ref: "#/definitions/Input"
        - description: The ETag of the input. Omit this value to always overwrite the current input. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.
          in: header
          name: If-Match
          required: false
          type: string
          x-ms-client-name: IfMatch
        - description: Set to '*' to allow a new input to be created, but to prevent updating an existing input. Other values will result in a 412 Pre-condition Failed response.
          in: header
          name: If-None-Match
          required: false
          type: string
          x-ms-client-name: IfNoneMatch
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/StreamingJobNameParameter"
        - $ref: "#/parameters/InputNameParameter"
      responses:
        "200":
          description: The input was successfully created or replaced.
          headers:
            ETag:
              description: The current entity tag for the input. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.
              type: string
          schema:
            $ref: "#/definitions/Input"
        "201":
          description: The input was successfully created or replaced.
          headers:
            ETag:
              description: The current entity tag for the input. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.
              type: string
          schema:
            $ref: "#/definitions/Input"
      tags:
        - Inputs
      x-ms-examples:
        Create a reference blob input with CSV serialization:
          parameters:
            api-version: 2016-03-01
            input:
              properties:
                datasource:
                  properties:
                    container: state
                    dateFormat: yyyy/MM/dd
                    pathPattern: "{date}/{time}"
                    storageAccounts:
                      - accountKey: someAccountKey==
                        accountName: someAccountName
                    timeFormat: HH
                  type: Microsoft.Storage/Blob
                serialization:
                  properties:
                    encoding: UTF8
                    fieldDelimiter: ","
                  type: Csv
                type: Reference
            inputName: input7225
            jobName: sj9597
            resourceGroupName: sjrg8440
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg8440/providers/Microsoft.StreamAnalytics/streamingjobs/sj9597/inputs/input7225
                name: input7225
                properties:
                  datasource:
                    properties:
                      container: state
                      dateFormat: yyyy/MM/dd
                      pathPattern: "{date}/{time}"
                      storageAccounts:
                        - accountName: someAccountName
                      timeFormat: HH
                    type: Microsoft.Storage/Blob
                  serialization:
                    properties:
                      encoding: UTF8
                      fieldDelimiter: ","
                    type: Csv
                  type: Reference
                type: Microsoft.StreamAnalytics/streamingjobs/inputs
              headers:
                ETag: c987701d-4039-47aa-a115-ad84f67d07c5
            "201":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg8440/providers/Microsoft.StreamAnalytics/streamingjobs/sj9597/inputs/input7225
                name: input7225
                properties:
                  datasource:
                    properties:
                      container: state
                      dateFormat: yyyy/MM/dd
                      pathPattern: "{date}/{time}"
                      storageAccounts:
                        - accountName: someAccountName
                      timeFormat: HH
                    type: Microsoft.Storage/Blob
                  serialization:
                    properties:
                      encoding: UTF8
                      fieldDelimiter: ","
                    type: Csv
                  type: Reference
                type: Microsoft.StreamAnalytics/streamingjobs/inputs
              headers:
                ETag: c987701d-4039-47aa-a115-ad84f67d07c5
        Create a stream Event Hub input with JSON serialization:
          parameters:
            api-version: 2016-03-01
            input:
              properties:
                datasource:
                  properties:
                    consumerGroupName: sdkconsumergroup
                    eventHubName: sdkeventhub
                    serviceBusNamespace: sdktest
                    sharedAccessPolicyKey: someSharedAccessPolicyKey==
                    sharedAccessPolicyName: RootManageSharedAccessKey
                  type: Microsoft.ServiceBus/EventHub
                serialization:
                  properties:
                    encoding: UTF8
                  type: Json
                type: Stream
            inputName: input7425
            jobName: sj197
            resourceGroupName: sjrg3139
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3139/providers/Microsoft.StreamAnalytics/streamingjobs/sj197/inputs/input7425
                name: input7425
                properties:
                  datasource:
                    properties:
                      consumerGroupName: sdkconsumergroup
                      eventHubName: sdkeventhub
                      serviceBusNamespace: sdktest
                      sharedAccessPolicyName: RootManageSharedAccessKey
                    type: Microsoft.ServiceBus/EventHub
                  serialization:
                    properties:
                      encoding: UTF8
                    type: Json
                  type: Stream
                type: Microsoft.StreamAnalytics/streamingjobs/inputs
              headers:
                ETag: afd0d184-37e9-4370-9e55-32501bc4de3a
            "201":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3139/providers/Microsoft.StreamAnalytics/streamingjobs/sj197/inputs/input7425
                name: input7425
                properties:
                  datasource:
                    properties:
                      consumerGroupName: sdkconsumergroup
                      eventHubName: sdkeventhub
                      serviceBusNamespace: sdktest
                      sharedAccessPolicyName: RootManageSharedAccessKey
                    type: Microsoft.ServiceBus/EventHub
                  serialization:
                    properties:
                      encoding: UTF8
                    type: Json
                  type: Stream
                type: Microsoft.StreamAnalytics/streamingjobs/inputs
              headers:
                ETag: afd0d184-37e9-4370-9e55-32501bc4de3a
        Create a stream IoT Hub input with Avro serialization:
          parameters:
            api-version: 2016-03-01
            input:
              properties:
                datasource:
                  properties:
                    consumerGroupName: sdkconsumergroup
                    endpoint: messages/events
                    iotHubNamespace: iothub
                    sharedAccessPolicyKey: sharedAccessPolicyKey=
                    sharedAccessPolicyName: owner
                  type: Microsoft.Devices/IotHubs
                serialization:
                  type: Avro
                type: Stream
            inputName: input7970
            jobName: sj9742
            resourceGroupName: sjrg3467
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3467/providers/Microsoft.StreamAnalytics/streamingjobs/sj9742/inputs/input7970
                name: input7970
                properties:
                  datasource:
                    properties:
                      consumerGroupName: sdkconsumergroup
                      endpoint: messages/events
                      iotHubNamespace: iothub
                      sharedAccessPolicyName: owner
                    type: Microsoft.Devices/IotHubs
                  serialization:
                    properties: {}
                    type: Avro
                  type: Stream
                type: Microsoft.StreamAnalytics/streamingjobs/inputs
              headers:
                ETag: bd8009b3-8165-4bd3-aad2-29a2b378dd14
            "201":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg3467/providers/Microsoft.StreamAnalytics/streamingjobs/sj9742/inputs/input7970
                name: input7970
                properties:
                  datasource:
                    properties:
                      consumerGroupName: sdkconsumergroup
                      endpoint: messages/events
                      iotHubNamespace: iothub
                      sharedAccessPolicyName: owner
                    type: Microsoft.Devices/IotHubs
                  serialization:
                    properties: {}
                    type: Avro
                  type: Stream
                type: Microsoft.StreamAnalytics/streamingjobs/inputs
              headers:
                ETag: bd8009b3-8165-4bd3-aad2-29a2b378dd14
        Create a stream blob input with CSV serialization:
          parameters:
            api-version: 2016-03-01
            input:
              properties:
                datasource:
                  properties:
                    container: state
                    dateFormat: yyyy/MM/dd
                    pathPattern: "{date}/{time}"
                    sourcePartitionCount: 16
                    storageAccounts:
                      - accountKey: someAccountKey==
                        accountName: someAccountName
                    timeFormat: HH
                  type: Microsoft.Storage/Blob
                serialization:
                  properties:
                    encoding: UTF8
                    fieldDelimiter: ","
                  type: Csv
                type: Stream
            inputName: input8899
            jobName: sj6695
            resourceGroupName: sjrg8161
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg8161/providers/Microsoft.StreamAnalytics/streamingjobs/sj6695/inputs/input8899
                name: input8899
                properties:
                  datasource:
                    properties:
                      container: state
                      dateFormat: yyyy/MM/dd
                      pathPattern: "{date}/{time}"
                      sourcePartitionCount: 16
                      storageAccounts:
                        - accountName: someAccountName
                      timeFormat: HH
                    type: Microsoft.Storage/Blob
                  serialization:
                    properties:
                      encoding: UTF8
                      fieldDelimiter: ","
                    type: Csv
                  type: Stream
                type: Microsoft.StreamAnalytics/streamingjobs/inputs
              headers:
                ETag: 475074b8-c957-4b1f-a219-12b8399c3d4c
            "201":
              body:
                id: /subscriptions/56b5e0a9-b645-407d-99b0-c64f86013e3d/resourceGroups/sjrg8161/providers/Microsoft.StreamAnalytics/streamingjobs/sj6695/inputs/input8899
                name: input8899
                properties:
                  datasource:
                    properties:
                      container: state
                      dateFormat: yyyy/MM/dd
                      pathPattern: "{date}/{time}"
                      sourcePartitionCount: 16
                      storageAccounts:
                        - accountName: someAccountName
                      timeFormat: HH
                    type: Microsoft.Storage/Blob
                  serialization:
                    properties:
                      encoding: UTF8
                      fieldDelimiter: ","
                    type: Csv
                  type: Stream
                type: Microsoft.StreamAnalytics/streamingjobs/inputs
              headers:
                ETag: 475074b8-c957-4b1f-a219-12b8399c3d4c
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/inputs/{inputName}/test":
    post:
      description: Tests whether an input’s datasource is reachable and usable by the Azure Stream Analytics service.
      operationId: Inputs_Test
      parameters:
        - description: If the input specified does not already exist, this parameter must contain the full input definition intended to be tested. If the input specified already exists, this parameter can be left null to test the existing input as is or if specified, the properties specified will overwrite the corresponding properties in the existing input (exactly like a PATCH operation) and the resulting input will be tested.
          in: body
          name: input
          required: false
          schema:
            $ref: "#/definitions/Input"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/StreamingJobNameParameter"
        - $ref: "#/parameters/InputNameParameter"
      responses:
        "200":
          description: The test operation completed successfully.
          schema:
            $ref: "#/definitions/ResourceTestStatus"
        "202":
          description: The test request was successfully initiated.
      tags:
        - Inputs
      x-ms-examples:
        Test the connection for an input:
          parameters:
            api-version: 2016-03-01
            inputName: input7225
            jobName: sj9597
            resourceGroupName: sjrg8440
            subscriptionId: 56b5e0a9-b645-407d-99b0-c64f86013e3d
          responses:
            "200":
              body:
                status: TestSucceeded
            "202": {}
      x-ms-long-running-operation: true
definitions:
  AvroSerialization:
    allOf:
      - $ref: "#/definitions/Serialization"
    description: Describes how data from an input is serialized or how data is serialized when written to an output in Avro format.
    properties:
      properties:
        $ref: "#/definitions/AvroSerializationProperties"
        description: The properties that are associated with the Avro serialization type. Required on PUT (CreateOrReplace) requests.
        x-ms-client-flatten: true
    x-ms-discriminator-value: Avro
  AvroSerializationProperties:
    description: The properties that are associated with the Avro serialization type.
    properties: {}
  BlobDataSourceProperties:
    description: The properties that are associated with a blob data source.
    properties:
      container:
        description: The name of a container within the associated Storage account. This container contains either the blob(s) to be read from or written to. Required on PUT (CreateOrReplace) requests.
        type: string
      dateFormat:
        description: The date format. Wherever {date} appears in pathPattern, the value of this property is used as the date format instead.
        type: string
      pathPattern:
        description: The blob path pattern. Not a regular expression. It represents a pattern against which blob names will be matched to determine whether or not they should be included as input or output to the job. See https://docs.microsoft.com/en-us/rest/api/streamanalytics/stream-analytics-input or https://docs.microsoft.com/en-us/rest/api/streamanalytics/stream-analytics-output for a more detailed explanation and example.
        type: string
      storageAccounts:
        description: A list of one or more Azure Storage accounts. Required on PUT (CreateOrReplace) requests.
        items:
          $ref: "#/definitions/StorageAccount"
        type: array
      timeFormat:
        description: The time format. Wherever {time} appears in pathPattern, the value of this property is used as the time format instead.
        type: string
  BlobReferenceInputDataSource:
    allOf:
      - $ref: "#/definitions/ReferenceInputDataSource"
    description: Describes a blob input data source that contains reference data.
    properties:
      properties:
        $ref: "#/definitions/BlobReferenceInputDataSourceProperties"
        description: The properties that are associated with a blob input containing reference data. Required on PUT (CreateOrReplace) requests.
        x-ms-client-flatten: true
    x-ms-discriminator-value: Microsoft.Storage/Blob
  BlobReferenceInputDataSourceProperties:
    allOf:
      - $ref: "#/definitions/BlobDataSourceProperties"
    description: The properties that are associated with a blob input containing reference data.
    properties: {}
  BlobStreamInputDataSource:
    allOf:
      - $ref: "#/definitions/StreamInputDataSource"
    description: Describes a blob input data source that contains stream data.
    properties:
      properties:
        $ref: "#/definitions/BlobStreamInputDataSourceProperties"
        description: The properties that are associated with a blob input containing stream data. Required on PUT (CreateOrReplace) requests.
        x-ms-client-flatten: true
    x-ms-discriminator-value: Microsoft.Storage/Blob
  BlobStreamInputDataSourceProperties:
    allOf:
      - $ref: "#/definitions/BlobDataSourceProperties"
    description: The properties that are associated with a blob input containing stream data.
    properties:
      sourcePartitionCount:
        description: The partition count of the blob input data source. Range 1 - 256.
        format: int32
        type: integer
  CsvSerialization:
    allOf:
      - $ref: "#/definitions/Serialization"
    description: Describes how data from an input is serialized or how data is serialized when written to an output in CSV format.
    properties:
      properties:
        $ref: "#/definitions/CsvSerializationProperties"
        description: The properties that are associated with the CSV serialization type. Required on PUT (CreateOrReplace) requests.
        x-ms-client-flatten: true
    x-ms-discriminator-value: Csv
  CsvSerializationProperties:
    description: The properties that are associated with the CSV serialization type.
    properties:
      encoding:
        $ref: "#/definitions/Encoding"
        description: Specifies the encoding of the incoming data in the case of input and the encoding of outgoing data in the case of output. Required on PUT (CreateOrReplace) requests.
      fieldDelimiter:
        description: Specifies the delimiter that will be used to separate comma-separated value (CSV) records. See https://docs.microsoft.com/en-us/rest/api/streamanalytics/stream-analytics-input or https://docs.microsoft.com/en-us/rest/api/streamanalytics/stream-analytics-output for a list of supported values. Required on PUT (CreateOrReplace) requests.
        type: string
  DiagnosticCondition:
    description: Condition applicable to the resource, or to the job overall, that warrant customer attention.
    properties:
      code:
        description: The opaque diagnostic code.
        readOnly: true
        type: string
      message:
        description: The human-readable message describing the condition in detail. Localized in the Accept-Language of the client request.
        readOnly: true
        type: string
      since:
        description: The UTC timestamp of when the condition started. Customers should be able to find a corresponding event in the ops log around this time.
        readOnly: true
        type: string
  Diagnostics:
    description: Describes conditions applicable to the Input, Output, or the job overall, that warrant customer attention.
    properties:
      conditions:
        description: A collection of zero or more conditions applicable to the resource, or to the job overall, that warrant customer attention.
        items:
          $ref: "#/definitions/DiagnosticCondition"
        readOnly: true
        type: array
  Encoding:
    description: Specifies the encoding of the incoming data in the case of input and the encoding of outgoing data in the case of output.
    enum:
      - UTF8
    type: string
    x-ms-enum:
      modelAsString: true
      name: Encoding
  ErrorResponse:
    description: Describes the error that occurred.
    properties:
      code:
        description: Error code associated with the error that occurred.
        readOnly: true
        type: string
      message:
        description: Describes the error in detail.
        readOnly: true
        type: string
  EventHubDataSourceProperties:
    allOf:
      - $ref: "#/definitions/ServiceBusDataSourceProperties"
    description: The common properties that are associated with Event Hub data sources.
    properties:
      eventHubName:
        description: The name of the Event Hub. Required on PUT (CreateOrReplace) requests.
        type: string
  EventHubStreamInputDataSource:
    allOf:
      - $ref: "#/definitions/StreamInputDataSource"
    description: Describes an Event Hub input data source that contains stream data.
    properties:
      properties:
        $ref: "#/definitions/EventHubStreamInputDataSourceProperties"
        description: The properties that are associated with an Event Hub input containing stream data. Required on PUT (CreateOrReplace) requests.
        x-ms-client-flatten: true
    x-ms-discriminator-value: Microsoft.ServiceBus/EventHub
  EventHubStreamInputDataSourceProperties:
    allOf:
      - $ref: "#/definitions/EventHubDataSourceProperties"
    description: The properties that are associated with a Event Hub input containing stream data.
    properties:
      consumerGroupName:
        description: The name of an Event Hub Consumer Group that should be used to read events from the Event Hub. Specifying distinct consumer group names for multiple inputs allows each of those inputs to receive the same events from the Event Hub. If not specified, the input uses the Event Hub’s default consumer group.
        type: string
  Input:
    allOf:
      - $ref: "#/definitions/SubResource"
    description: An input object, containing all information associated with the named input. All inputs are contained under a streaming job.
    properties:
      properties:
        $ref: "#/definitions/InputProperties"
        description: The properties that are associated with an input. Required on PUT (CreateOrReplace) requests.
  InputListResult:
    description: Object containing a list of inputs under a streaming job.
    properties:
      nextLink:
        description: The link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        description: A list of inputs under a streaming job. Populated by a 'List' operation.
        items:
          $ref: "#/definitions/Input"
        readOnly: true
        type: array
  InputProperties:
    description: The properties that are associated with an input.
    discriminator: type
    properties:
      diagnostics:
        $ref: "#/definitions/Diagnostics"
        description: Describes conditions applicable to the Input, Output, or the job overall, that warrant customer attention.
        readOnly: true
      etag:
        description: The current entity tag for the input. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.
        readOnly: true
        type: string
      serialization:
        $ref: "#/definitions/Serialization"
        description: Describes how data from an input is serialized or how data is serialized when written to an output. Required on PUT (CreateOrReplace) requests.
      type:
        description: Indicates whether the input is a source of reference data or stream data. Required on PUT (CreateOrReplace) requests.
        type: string
  IoTHubStreamInputDataSource:
    allOf:
      - $ref: "#/definitions/StreamInputDataSource"
    description: Describes an IoT Hub input data source that contains stream data.
    properties:
      properties:
        $ref: "#/definitions/IoTHubStreamInputDataSourceProperties"
        description: The properties that are associated with an IoT Hub input containing stream data. Required on PUT (CreateOrReplace) requests.
        x-ms-client-flatten: true
    x-ms-discriminator-value: Microsoft.Devices/IotHubs
  IoTHubStreamInputDataSourceProperties:
    description: The properties that are associated with a IoT Hub input containing stream data.
    properties:
      consumerGroupName:
        description: The name of an IoT Hub Consumer Group that should be used to read events from the IoT Hub. If not specified, the input uses the Iot Hub’s default consumer group.
        type: string
      endpoint:
        description: The IoT Hub endpoint to connect to (ie. messages/events, messages/operationsMonitoringEvents, etc.).
        type: string
      iotHubNamespace:
        description: The name or the URI of the IoT Hub. Required on PUT (CreateOrReplace) requests.
        type: string
      sharedAccessPolicyKey:
        description: The shared access policy key for the specified shared access policy. Required on PUT (CreateOrReplace) requests.
        type: string
      sharedAccessPolicyName:
        description: The shared access policy name for the IoT Hub. This policy must contain at least the Service connect permission. Required on PUT (CreateOrReplace) requests.
        type: string
  JsonOutputSerializationFormat:
    description: Specifies the format of the JSON the output will be written in. The currently supported values are 'lineSeparated' indicating the output will be formatted by having each JSON object separated by a new line and 'array' indicating the output will be formatted as an array of JSON objects.
    enum:
      - LineSeparated
      - Array
    type: string
    x-ms-enum:
      modelAsString: true
      name: JsonOutputSerializationFormat
  JsonSerialization:
    allOf:
      - $ref: "#/definitions/Serialization"
    description: Describes how data from an input is serialized or how data is serialized when written to an output in JSON format.
    properties:
      properties:
        $ref: "#/definitions/JsonSerializationProperties"
        description: The properties that are associated with the JSON serialization type. Required on PUT (CreateOrReplace) requests.
        x-ms-client-flatten: true
    x-ms-discriminator-value: Json
  JsonSerializationProperties:
    description: The properties that are associated with the JSON serialization type.
    properties:
      encoding:
        $ref: "#/definitions/Encoding"
        description: Specifies the encoding of the incoming data in the case of input and the encoding of outgoing data in the case of output. Required on PUT (CreateOrReplace) requests.
      format:
        $ref: "#/definitions/JsonOutputSerializationFormat"
        description: This property only applies to JSON serialization of outputs only. It is not applicable to inputs. This property specifies the format of the JSON the output will be written in. The currently supported values are 'lineSeparated' indicating the output will be formatted by having each JSON object separated by a new line and 'array' indicating the output will be formatted as an array of JSON objects. Default value is 'lineSeparated' if left null.
  ReferenceInputDataSource:
    description: Describes an input data source that contains reference data.
    discriminator: type
    properties:
      type:
        description: Indicates the type of input data source containing reference data. Required on PUT (CreateOrReplace) requests.
        type: string
  ReferenceInputProperties:
    allOf:
      - $ref: "#/definitions/InputProperties"
    description: The properties that are associated with an input containing reference data.
    properties:
      datasource:
        $ref: "#/definitions/ReferenceInputDataSource"
        description: Describes an input data source that contains reference data. Required on PUT (CreateOrReplace) requests.
    x-ms-discriminator-value: Reference
  ResourceTestStatus:
    description: Describes the status of the test operation along with error information, if applicable.
    properties:
      error:
        $ref: "#/definitions/ErrorResponse"
        description: Describes the error that occurred.
        readOnly: true
      status:
        description: The status of the test operation.
        readOnly: true
        type: string
  Serialization:
    description: Describes how data from an input is serialized or how data is serialized when written to an output.
    discriminator: type
    properties:
      type:
        description: Indicates the type of serialization that the input or output uses. Required on PUT (CreateOrReplace) requests.
        type: string
  ServiceBusDataSourceProperties:
    description: The common properties that are associated with Service Bus data sources (Queues, Topics, Event Hubs, etc.).
    properties:
      serviceBusNamespace:
        description: The namespace that is associated with the desired Event Hub, Service Bus Queue, Service Bus Topic, etc. Required on PUT (CreateOrReplace) requests.
        type: string
      sharedAccessPolicyKey:
        description: The shared access policy key for the specified shared access policy. Required on PUT (CreateOrReplace) requests.
        type: string
      sharedAccessPolicyName:
        description: The shared access policy name for the Event Hub, Service Bus Queue, Service Bus Topic, etc. Required on PUT (CreateOrReplace) requests.
        type: string
  StorageAccount:
    description: The properties that are associated with an Azure Storage account
    properties:
      accountKey:
        description: The account key for the Azure Storage account. Required on PUT (CreateOrReplace) requests.
        type: string
      accountName:
        description: The name of the Azure Storage account. Required on PUT (CreateOrReplace) requests.
        type: string
  StreamInputDataSource:
    description: Describes an input data source that contains stream data.
    discriminator: type
    properties:
      type:
        description: Indicates the type of input data source containing stream data. Required on PUT (CreateOrReplace) requests.
        type: string
  StreamInputProperties:
    allOf:
      - $ref: "#/definitions/InputProperties"
    description: The properties that are associated with an input containing stream data.
    properties:
      datasource:
        $ref: "#/definitions/StreamInputDataSource"
        description: Describes an input data source that contains stream data. Required on PUT (CreateOrReplace) requests.
    x-ms-discriminator-value: Stream
  SubResource:
    description: The base sub-resource model definition.
    properties:
      id:
        description: Resource Id
        readOnly: true
        type: string
      name:
        description: Resource name
        type: string
      type:
        description: Resource type
        readOnly: true
        type: string
    x-ms-azure-resource: true
