swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The DevTest Labs Client.
  title: DevTestLabsClient
  version: 2018-09-15
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/devtestlabs/resource-manager/Microsoft.DevTestLab/stable/2018-09-15/DTL.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: devtestlabs-DTL
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: OAuth2 Implicit Grant
    flow: implicit
    scopes:
      user_impersonation: Access Microsoft Azure
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  api-version:
    default: 2018-09-15
    description: Client API version.
    in: query
    name: api-version
    required: true
    type: string
  locationName:
    description: The name of the location.
    in: path
    name: locationName
    required: true
    type: string
    x-ms-parameter-location: method
  resourceGroupName:
    description: The name of the resource group.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionId:
    description: The subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.DevTestLab/operations:
    get:
      description: Result of the request to list REST API operations
      operationId: ProviderOperations_List
      parameters:
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ProviderOperationResult"
      tags:
        - ProviderOperations
      x-ms-examples:
        ProviderOperations_List:
          parameters:
            api-version: 2018-09-15
          responses:
            "200":
              body:
                value:
                  - display:
                      description: Registers the subscription
                      operation: Register Subscription
                      provider: Microsoft DevTest Labs
                      resource: register
                    name: Microsoft.DevTestLab/register/action
                  - display:
                      description: Evaluates lab policy.
                      operation: Evaluate policy
                      provider: Microsoft DevTest Labs
                      resource: policy sets
                    name: Microsoft.DevTestLab/labs/policySets/EvaluatePolicies/action
                  - display:
                      description: Delete labs.
                      operation: Delete labs.
                      provider: Microsoft DevTest Labs
                      resource: Labs
                    name: Microsoft.DevTestLab/labs/delete
                  - display:
                      description: Read labs.
                      operation: Read labs.
                      provider: Microsoft DevTest Labs
                      resource: Labs
                    name: Microsoft.DevTestLab/labs/read
                  - display:
                      description: Add or modify labs.
                      operation: Add or modify labs.
                      provider: Microsoft DevTest Labs
                      resource: Labs
                    name: Microsoft.DevTestLab/labs/write
                  - display:
                      description: List disk images available for custom image creation.
                      operation: List VHDs
                      provider: Microsoft DevTest Labs
                      resource: Labs
                    name: Microsoft.DevTestLab/labs/ListVhds/action
                  - display:
                      description: Generate a URI for uploading custom disk images to a Lab.
                      operation: Generate image upload URI
                      provider: Microsoft DevTest Labs
                      resource: Labs
                    name: Microsoft.DevTestLab/labs/GenerateUploadUri/action
                  - display:
                      description: Create virtual machines in a lab.
                      operation: Create a virtual machine
                      provider: Microsoft DevTest Labs
                      resource: Labs
                    name: Microsoft.DevTestLab/labs/CreateEnvironment/action
                  - display:
                      description: Claim a random claimable virtual machine in the lab.
                      operation: Claim Any Virtual Machine
                      provider: Microsoft DevTest Labs
                      resource: Labs
                    name: Microsoft.DevTestLab/labs/ClaimAnyVm/action
                  - display:
                      description: Exports the lab resource usage into a storage account
                      operation: Exports the lab resource usage into a storage account
                      provider: Microsoft DevTest Labs
                      resource: Labs
                    name: Microsoft.DevTestLab/labs/ExportResourceUsage/action
                  - display:
                      description: Import a virtual machine into a different lab.
                      operation: Import a virtual machine
                      provider: Microsoft DevTest Labs
                      resource: Labs
                    name: Microsoft.DevTestLab/labs/ImportVirtualMachine/action
                  - display:
                      description: Delete policies.
                      operation: Delete policies.
                      provider: Microsoft DevTest Labs
                      resource: policies
                    name: Microsoft.DevTestLab/labs/policySets/policies/delete
                  - display:
                      description: Read policies.
                      operation: Read policies.
                      provider: Microsoft DevTest Labs
                      resource: policies
                    name: Microsoft.DevTestLab/labs/policySets/policies/read
                  - display:
                      description: Add or modify policies.
                      operation: Add or modify policies.
                      provider: Microsoft DevTest Labs
                      resource: policies
                    name: Microsoft.DevTestLab/labs/policySets/policies/write
                  - display:
                      description: Delete schedules.
                      operation: Delete schedules.
                      provider: Microsoft DevTest Labs
                      resource: schedules
                    name: Microsoft.DevTestLab/labs/schedules/delete
                  - display:
                      description: Read schedules.
                      operation: Read schedules.
                      provider: Microsoft DevTest Labs
                      resource: schedules
                    name: Microsoft.DevTestLab/labs/schedules/read
                  - display:
                      description: Add or modify schedules.
                      operation: Add or modify schedules.
                      provider: Microsoft DevTest Labs
                      resource: schedules
                    name: Microsoft.DevTestLab/labs/schedules/write
                  - display:
                      description: Execute a schedule.
                      operation: Execute schedule
                      provider: Microsoft DevTest Labs
                      resource: schedules
                    name: Microsoft.DevTestLab/labs/schedules/Execute/action
                  - display:
                      description: Lists all applicable schedules
                      operation: List all applicable schedules
                      provider: Microsoft DevTest Labs
                      resource: schedules
                    name: Microsoft.DevTestLab/labs/schedules/ListApplicable/action
                  - display:
                      description: Delete schedules.
                      operation: Delete schedules.
                      provider: Microsoft DevTest Labs
                      resource: schedules
                    name: Microsoft.DevTestLab/schedules/delete
                  - display:
                      description: Read schedules.
                      operation: Read schedules.
                      provider: Microsoft DevTest Labs
                      resource: schedules
                    name: Microsoft.DevTestLab/schedules/read
                  - display:
                      description: Add or modify schedules.
                      operation: Add or modify schedules.
                      provider: Microsoft DevTest Labs
                      resource: schedules
                    name: Microsoft.DevTestLab/schedules/write
                  - display:
                      description: Execute a schedule.
                      operation: Execute schedule
                      provider: Microsoft DevTest Labs
                      resource: schedules
                    name: Microsoft.DevTestLab/schedules/Execute/action
                  - display:
                      description: Updates a schedule's target resource Id.
                      operation: Retarget schedule.
                      provider: Microsoft DevTest Labs
                      resource: schedules
                    name: Microsoft.DevTestLab/schedules/Retarget/action
                  - display:
                      description: Delete schedules.
                      operation: Delete schedules.
                      provider: Microsoft DevTest Labs
                      resource: schedules
                    name: Microsoft.DevTestLab/labs/virtualMachines/schedules/delete
                  - display:
                      description: Read schedules.
                      operation: Read schedules.
                      provider: Microsoft DevTest Labs
                      resource: schedules
                    name: Microsoft.DevTestLab/labs/virtualMachines/schedules/read
                  - display:
                      description: Add or modify schedules.
                      operation: Add or modify schedules.
                      provider: Microsoft DevTest Labs
                      resource: schedules
                    name: Microsoft.DevTestLab/labs/virtualMachines/schedules/write
                  - display:
                      description: Execute a schedule.
                      operation: Execute schedule
                      provider: Microsoft DevTest Labs
                      resource: schedules
                    name: Microsoft.DevTestLab/labs/virtualMachines/schedules/Execute/action
                  - display:
                      description: Delete schedules.
                      operation: Delete schedules.
                      provider: Microsoft DevTest Labs
                      resource: schedules
                    name: Microsoft.DevTestLab/labs/users/serviceFabrics/schedules/delete
                  - display:
                      description: Read schedules.
                      operation: Read schedules.
                      provider: Microsoft DevTest Labs
                      resource: schedules
                    name: Microsoft.DevTestLab/labs/users/serviceFabrics/schedules/read
                  - display:
                      description: Add or modify schedules.
                      operation: Add or modify schedules.
                      provider: Microsoft DevTest Labs
                      resource: schedules
                    name: Microsoft.DevTestLab/labs/users/serviceFabrics/schedules/write
                  - display:
                      description: Execute a schedule.
                      operation: Execute schedule
                      provider: Microsoft DevTest Labs
                      resource: schedules
                    name: Microsoft.DevTestLab/labs/users/serviceFabrics/schedules/Execute/action
                  - display:
                      description: Delete artifact sources.
                      operation: Delete artifact sources.
                      provider: Microsoft DevTest Labs
                      resource: Artifact sources
                    name: Microsoft.DevTestLab/labs/artifactSources/delete
                  - display:
                      description: Read artifact sources.
                      operation: Read artifact sources.
                      provider: Microsoft DevTest Labs
                      resource: Artifact sources
                    name: Microsoft.DevTestLab/labs/artifactSources/read
                  - display:
                      description: Add or modify artifact sources.
                      operation: Add or modify artifact sources.
                      provider: Microsoft DevTest Labs
                      resource: Artifact sources
                    name: Microsoft.DevTestLab/labs/artifactSources/write
                  - display:
                      description: Read artifacts.
                      operation: Read artifacts.
                      provider: Microsoft DevTest Labs
                      resource: Artifacts
                    name: Microsoft.DevTestLab/labs/artifactSources/artifacts/read
                  - display:
                      description: Generates an ARM template for the given artifact, uploads the required files to a storage account, and validates the generated artifact.
                      operation: Generates an ARM template for the given artifact
                      provider: Microsoft DevTest Labs
                      resource: Artifacts
                    name: Microsoft.DevTestLab/labs/artifactSources/artifacts/GenerateArmTemplate/action
                  - display:
                      description: Read gallery images.
                      operation: Read gallery images.
                      provider: Microsoft DevTest Labs
                      resource: gallery images
                    name: Microsoft.DevTestLab/labs/galleryImages/read
                  - display:
                      description: Delete custom images.
                      operation: Delete custom images.
                      provider: Microsoft DevTest Labs
                      resource: custom images
                    name: Microsoft.DevTestLab/labs/customImages/delete
                  - display:
                      description: Read custom images.
                      operation: Read custom images.
                      provider: Microsoft DevTest Labs
                      resource: custom images
                    name: Microsoft.DevTestLab/labs/customImages/read
                  - display:
                      description: Add or modify custom images.
                      operation: Add or modify custom images.
                      provider: Microsoft DevTest Labs
                      resource: custom images
                    name: Microsoft.DevTestLab/labs/customImages/write
                  - display:
                      description: Delete virtual networks.
                      operation: Delete virtual networks.
                      provider: Microsoft DevTest Labs
                      resource: virtual networks
                    name: Microsoft.DevTestLab/labs/virtualNetworks/delete
                  - display:
                      description: Read virtual networks.
                      operation: Read virtual networks.
                      provider: Microsoft DevTest Labs
                      resource: virtual networks
                    name: Microsoft.DevTestLab/labs/virtualNetworks/read
                  - display:
                      description: Add or modify virtual networks.
                      operation: Add or modify virtual networks.
                      provider: Microsoft DevTest Labs
                      resource: virtual networks
                    name: Microsoft.DevTestLab/labs/virtualNetworks/write
                  - display:
                      description: Delete virtual machines.
                      operation: Delete virtual machines.
                      provider: Microsoft DevTest Labs
                      resource: Virtual machines
                    name: Microsoft.DevTestLab/labs/virtualMachines/delete
                  - display:
                      description: Read virtual machines.
                      operation: Read virtual machines.
                      provider: Microsoft DevTest Labs
                      resource: Virtual machines
                    name: Microsoft.DevTestLab/labs/virtualMachines/read
                  - display:
                      description: Add or modify virtual machines.
                      operation: Add or modify virtual machines.
                      provider: Microsoft DevTest Labs
                      resource: Virtual machines
                    name: Microsoft.DevTestLab/labs/virtualMachines/write
                  - display:
                      description: Start a virtual machine.
                      operation: Start virtual machine
                      provider: Microsoft DevTest Labs
                      resource: Virtual machines
                    name: Microsoft.DevTestLab/labs/virtualMachines/Start/action
                  - display:
                      description: Stop a virtual machine
                      operation: Stop virtual machine
                      provider: Microsoft DevTest Labs
                      resource: Virtual machines
                    name: Microsoft.DevTestLab/labs/virtualMachines/Stop/action
                  - display:
                      description: Restart a virtual machine.
                      operation: Restart virtual machine
                      provider: Microsoft DevTest Labs
                      resource: Virtual machines
                    name: Microsoft.DevTestLab/labs/virtualMachines/Restart/action
                  - display:
                      description: Redeploy a virtual machine
                      operation: Redeploy a virtual machine
                      provider: Microsoft DevTest Labs
                      resource: Virtual machines
                    name: Microsoft.DevTestLab/labs/virtualMachines/Redeploy/action
                  - display:
                      description: Resize Virtual Machine.
                      operation: Resize Virtual Machine.
                      provider: Microsoft DevTest Labs
                      resource: Virtual machines
                    name: Microsoft.DevTestLab/labs/virtualMachines/Resize/action
                  - display:
                      description: Apply artifacts to virtual machine.
                      operation: Apply artifacts to virtual machine
                      provider: Microsoft DevTest Labs
                      resource: Virtual machines
                    name: Microsoft.DevTestLab/labs/virtualMachines/ApplyArtifacts/action
                  - display:
                      description: Attach a new or existing data disk to virtual machine.
                      operation: Add or attach a data disk
                      provider: Microsoft DevTest Labs
                      resource: Virtual machines
                    name: Microsoft.DevTestLab/labs/virtualMachines/AddDataDisk/action
                  - display:
                      description: Detach the specified disk from the virtual machine.
                      operation: Detach the specified disk from the virtual machine
                      provider: Microsoft DevTest Labs
                      resource: Virtual machines
                    name: Microsoft.DevTestLab/labs/virtualMachines/DetachDataDisk/action
                  - display:
                      description: Take ownership of an existing virtual machine
                      operation: Claim a virtual machine
                      provider: Microsoft DevTest Labs
                      resource: Virtual machines
                    name: Microsoft.DevTestLab/labs/virtualMachines/Claim/action
                  - display:
                      description: Release ownership of an existing virtual machine
                      operation: Unclaim a virtual machine
                      provider: Microsoft DevTest Labs
                      resource: Virtual machines
                    name: Microsoft.DevTestLab/labs/virtualMachines/UnClaim/action
                  - display:
                      description: Transfer ownership of virtual machine data disks to yourself
                      operation: Transfer data disks to yourself
                      provider: Microsoft DevTest Labs
                      resource: Virtual machines
                    name: Microsoft.DevTestLab/labs/virtualMachines/TransferDisks/action
                  - display:
                      description: Lists all applicable schedules
                      operation: List all applicable schedules
                      provider: Microsoft DevTest Labs
                      resource: Virtual machines
                    name: Microsoft.DevTestLab/labs/virtualMachines/ListApplicableSchedules/action
                  - display:
                      description: Gets a string that represents the contents of the RDP file for the virtual machine
                      operation: Get RDP file contents
                      provider: Microsoft DevTest Labs
                      resource: Virtual machines
                    name: Microsoft.DevTestLab/labs/virtualMachines/GetRdpFileContents/action
                  - display:
                      description: Delete formulas.
                      operation: Delete formulas.
                      provider: Microsoft DevTest Labs
                      resource: Formulas
                    name: Microsoft.DevTestLab/labs/formulas/delete
                  - display:
                      description: Read formulas.
                      operation: Read formulas.
                      provider: Microsoft DevTest Labs
                      resource: Formulas
                    name: Microsoft.DevTestLab/labs/formulas/read
                  - display:
                      description: Add or modify formulas.
                      operation: Add or modify formulas.
                      provider: Microsoft DevTest Labs
                      resource: Formulas
                    name: Microsoft.DevTestLab/labs/formulas/write
                  - display:
                      description: Read costs.
                      operation: Read costs.
                      provider: Microsoft DevTest Labs
                      resource: costs
                    name: Microsoft.DevTestLab/labs/costs/read
                  - display:
                      description: Add or modify costs.
                      operation: Add or modify costs.
                      provider: Microsoft DevTest Labs
                      resource: costs
                    name: Microsoft.DevTestLab/labs/costs/write
                  - display:
                      description: Delete disks.
                      operation: Delete disks.
                      provider: Microsoft DevTest Labs
                      resource: disks
                    name: Microsoft.DevTestLab/labs/users/disks/delete
                  - display:
                      description: Read disks.
                      operation: Read disks.
                      provider: Microsoft DevTest Labs
                      resource: disks
                    name: Microsoft.DevTestLab/labs/users/disks/read
                  - display:
                      description: Add or modify disks.
                      operation: Add or modify disks.
                      provider: Microsoft DevTest Labs
                      resource: disks
                    name: Microsoft.DevTestLab/labs/users/disks/write
                  - display:
                      description: Attach and create the lease of the disk to the virtual machine.
                      operation: Attach disk
                      provider: Microsoft DevTest Labs
                      resource: disks
                    name: Microsoft.DevTestLab/labs/users/disks/Attach/action
                  - display:
                      description: Detach and break the lease of the disk attached to the virtual machine.
                      operation: Detach and break the lease of the disk attached to the virtual machine
                      provider: Microsoft DevTest Labs
                      resource: disks
                    name: Microsoft.DevTestLab/labs/users/disks/Detach/action
                  - display:
                      description: Delete user profiles.
                      operation: Delete user profiles.
                      provider: Microsoft DevTest Labs
                      resource: user profiles
                    name: Microsoft.DevTestLab/labs/users/delete
                  - display:
                      description: Read user profiles.
                      operation: Read user profiles.
                      provider: Microsoft DevTest Labs
                      resource: user profiles
                    name: Microsoft.DevTestLab/labs/users/read
                  - display:
                      description: Add or modify user profiles.
                      operation: Add or modify user profiles.
                      provider: Microsoft DevTest Labs
                      resource: user profiles
                    name: Microsoft.DevTestLab/labs/users/write
                  - display:
                      description: Delete notification channels.
                      operation: Delete notification channels.
                      provider: Microsoft DevTest Labs
                      resource: notificationChannels
                    name: Microsoft.DevTestLab/labs/notificationChannels/delete
                  - display:
                      description: Read notification channels.
                      operation: Read notification channels.
                      provider: Microsoft DevTest Labs
                      resource: notificationChannels
                    name: Microsoft.DevTestLab/labs/notificationChannels/read
                  - display:
                      description: Add or modify notification channels.
                      operation: Add or modify notification channels.
                      provider: Microsoft DevTest Labs
                      resource: notificationChannels
                    name: Microsoft.DevTestLab/labs/notificationChannels/write
                  - display:
                      description: Send notification to provided channel.
                      operation: Notify
                      provider: Microsoft DevTest Labs
                      resource: notificationChannels
                    name: Microsoft.DevTestLab/labs/notificationChannels/Notify/action
                  - display:
                      description: Delete secrets.
                      operation: Delete secrets.
                      provider: Microsoft DevTest Labs
                      resource: secrets
                    name: Microsoft.DevTestLab/labs/users/secrets/delete
                  - display:
                      description: Read secrets.
                      operation: Read secrets.
                      provider: Microsoft DevTest Labs
                      resource: secrets
                    name: Microsoft.DevTestLab/labs/users/secrets/read
                  - display:
                      description: Add or modify secrets.
                      operation: Add or modify secrets.
                      provider: Microsoft DevTest Labs
                      resource: secrets
                    name: Microsoft.DevTestLab/labs/users/secrets/write
                  - display:
                      description: Read operations.
                      operation: Read operations.
                      provider: Microsoft DevTest Labs
                      resource: operations
                    name: Microsoft.DevTestLab/locations/operations/read
                  - display:
                      description: Read azure resource manager templates.
                      operation: Read azure resource manager templates.
                      provider: Microsoft DevTest Labs
                      resource: Azure Resource Manager templates
                    name: Microsoft.DevTestLab/labs/artifactSources/armTemplates/read
                  - display:
                      description: Delete environments.
                      operation: Delete environments.
                      provider: Microsoft DevTest Labs
                      resource: environments
                    name: Microsoft.DevTestLab/labs/users/environments/delete
                  - display:
                      description: Read environments.
                      operation: Read environments.
                      provider: Microsoft DevTest Labs
                      resource: environments
                    name: Microsoft.DevTestLab/labs/users/environments/read
                  - display:
                      description: Add or modify environments.
                      operation: Add or modify environments.
                      provider: Microsoft DevTest Labs
                      resource: environments
                    name: Microsoft.DevTestLab/labs/users/environments/write
                  - display:
                      description: Delete service runners.
                      operation: Delete service runners.
                      provider: Microsoft DevTest Labs
                      resource: Service runners
                    name: Microsoft.DevTestLab/labs/serviceRunners/delete
                  - display:
                      description: Read service runners.
                      operation: Read service runners.
                      provider: Microsoft DevTest Labs
                      resource: Service runners
                    name: Microsoft.DevTestLab/labs/serviceRunners/read
                  - display:
                      description: Add or modify service runners.
                      operation: Add or modify service runners.
                      provider: Microsoft DevTest Labs
                      resource: Service runners
                    name: Microsoft.DevTestLab/labs/serviceRunners/write
                  - display:
                      description: Delete service fabrics.
                      operation: Delete service fabrics.
                      provider: Microsoft DevTest Labs
                      resource: Service Fabrics
                    name: Microsoft.DevTestLab/labs/users/serviceFabrics/delete
                  - display:
                      description: Read service fabrics.
                      operation: Read service fabrics.
                      provider: Microsoft DevTest Labs
                      resource: Service Fabrics
                    name: Microsoft.DevTestLab/labs/users/serviceFabrics/read
                  - display:
                      description: Add or modify service fabrics.
                      operation: Add or modify service fabrics.
                      provider: Microsoft DevTest Labs
                      resource: Service Fabrics
                    name: Microsoft.DevTestLab/labs/users/serviceFabrics/write
                  - display:
                      description: Start a service fabric.
                      operation: Start service fabric
                      provider: Microsoft DevTest Labs
                      resource: Service Fabrics
                    name: Microsoft.DevTestLab/labs/users/serviceFabrics/Start/action
                  - display:
                      description: Stop a service fabric
                      operation: Stop service fabric
                      provider: Microsoft DevTest Labs
                      resource: Service Fabrics
                    name: Microsoft.DevTestLab/labs/users/serviceFabrics/Stop/action
                  - display:
                      description: Lists all applicable schedules
                      operation: List all applicable schedules
                      provider: Microsoft DevTest Labs
                      resource: Service Fabrics
                    name: Microsoft.DevTestLab/labs/users/serviceFabrics/ListApplicableSchedules/action
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.DevTestLab/labs":
    get:
      description: List labs in a subscription.
      operationId: Labs_ListBySubscription
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: "Specify the $expand query. Example: 'properties($select=defaultStorageAccount)'"
          in: query
          name: $expand
          type: string
        - description: "The filter to apply to the operation. Example: '$filter=contains(name,'myName')"
          in: query
          name: $filter
          type: string
        - description: "The maximum number of resources to return from the operation. Example: '$top=10'"
          format: int32
          in: query
          name: $top
          type: integer
        - description: "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'"
          in: query
          name: $orderby
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/LabList"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Labs
      x-ms-examples:
        Labs_ListBySubscription:
          parameters:
            api-version: 2018-09-15
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/{subscription-id}/resourcegroups/{resourcegroup-name-1}/providers/microsoft.devtestlab/labs/{lab-name-1}
                    location: westcentralus
                    name: "{lab-name-1}"
                    properties:
                      announcement:
                        enabled: Disabled
                        expired: false
                        markdown: ""
                        title: ""
                      artifactsStorageAccount: /subscriptions/{subscription-id}/resourceGroups/{resourcegroup-name-1}/providers/Microsoft.Storage/storageAccounts/{storageaccount-name-1}
                      createdDate: 2018-09-30T08:38:13.1973609-07:00
                      defaultPremiumStorageAccount: /subscriptions/{subscription-id}/resourceGroups/{resourcegroup-name-1}/providers/Microsoft.Storage/storageAccounts/{storageaccount-name-1}
                      defaultStorageAccount: /subscriptions/{subscription-id}/resourceGroups/{resourcegroup-name-1}/providers/Microsoft.Storage/storageAccounts/{storageaccount-name-1}
                      environmentPermission: Reader
                      labStorageType: Premium
                      mandatoryArtifactsResourceIdsLinux: []
                      mandatoryArtifactsResourceIdsWindows: []
                      premiumDataDiskStorageAccount: /subscriptions/{subscription-id}/resourceGroups/{resourcegroup-name-1}/providers/Microsoft.Storage/storageAccounts/{storageaccount-name-1}
                      premiumDataDisks: Disabled
                      provisioningState: Succeeded
                      support:
                        enabled: Disabled
                        markdown: ""
                      uniqueIdentifier: "{unique-identifier}"
                      vaultName: /subscriptions/{subscription-id}/resourceGroups/{resourcegroup-name-1}/providers/Microsoft.KeyVault/vaults/{keyvault-name-1}
                    tags: {}
                    type: Microsoft.DevTestLab/labs
                  - id: /subscriptions/{subscription-id}/resourcegroups/{resourcegroup-name-2}/providers/microsoft.devtestlab/labs/{lab-name-2}
                    location: japaneast
                    name: "{lab-name-2}"
                    properties:
                      announcement:
                        enabled: Disabled
                        expired: false
                        markdown: ""
                        title: ""
                      artifactsStorageAccount: /subscriptions/{subscription-id}/resourceGroups/{resourcegroup-name-2}/providers/Microsoft.Storage/storageAccounts/{storageaccount-name-2}
                      createdDate: 2018-09-30T09:37:52.9675083-07:00
                      defaultPremiumStorageAccount: /subscriptions/{subscription-id}/resourceGroups/{resourcegroup-name-2}/providers/Microsoft.Storage/storageAccounts/{storageaccount-name-2}
                      defaultStorageAccount: /subscriptions/{subscription-id}/resourceGroups/{resourcegroup-name-2}/providers/Microsoft.Storage/storageAccounts/{storageaccount-name-2}
                      environmentPermission: Reader
                      labStorageType: Premium
                      mandatoryArtifactsResourceIdsLinux: []
                      mandatoryArtifactsResourceIdsWindows: []
                      premiumDataDiskStorageAccount: /subscriptions/{subscription-id}/resourceGroups/{resourcegroup-name-2}/providers/Microsoft.Storage/storageAccounts/{storageaccount-name-2}
                      premiumDataDisks: Disabled
                      provisioningState: Succeeded
                      support:
                        enabled: Disabled
                        markdown: ""
                      uniqueIdentifier: "{unique-identifier}"
                      vaultName: /subscriptions/{subscription-id}/resourceGroups/{resourcegroup-name-2}/providers/Microsoft.KeyVault/vaults/{keyvault-name-2}
                    tags: {}
                    type: Microsoft.DevTestLab/labs
      x-ms-odata: "#/definitions/Lab"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.DevTestLab/locations/{locationName}/operations/{name}":
    get:
      description: Get operation.
      operationId: Operations_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/locationName"
        - description: The name of the operation.
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/OperationResult"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Operations
  "/subscriptions/{subscriptionId}/providers/Microsoft.DevTestLab/schedules":
    get:
      description: List schedules in a subscription.
      operationId: GlobalSchedules_ListBySubscription
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - description: "Specify the $expand query. Example: 'properties($select=status)'"
          in: query
          name: $expand
          type: string
        - description: "The filter to apply to the operation. Example: '$filter=contains(name,'myName')"
          in: query
          name: $filter
          type: string
        - description: "The maximum number of resources to return from the operation. Example: '$top=10'"
          format: int32
          in: query
          name: $top
          type: integer
        - description: "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'"
          in: query
          name: $orderby
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ScheduleList"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - GlobalSchedules
      x-ms-odata: "#/definitions/Schedule"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs":
    get:
      description: List labs in a resource group.
      operationId: Labs_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: "Specify the $expand query. Example: 'properties($select=defaultStorageAccount)'"
          in: query
          name: $expand
          type: string
        - description: "The filter to apply to the operation. Example: '$filter=contains(name,'myName')"
          in: query
          name: $filter
          type: string
        - description: "The maximum number of resources to return from the operation. Example: '$top=10'"
          format: int32
          in: query
          name: $top
          type: integer
        - description: "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'"
          in: query
          name: $orderby
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/LabList"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Labs
      x-ms-examples:
        Labs_ListByResourceGroup:
          parameters:
            api-version: 2018-09-15
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/{subscription-id}/resourcegroups/myResourceGroup/providers/microsoft.devtestlab/labs/{devtestlab-name}
                    location: "{azure-location}"
                    name: "{devtestlab-name}"
                    properties:
                      announcement:
                        enabled: Disabled
                        expired: false
                        markdown: ""
                        title: ""
                      createdDate: 2018-10-02T10:23:20.9573599-07:00
                      environmentPermission: Reader
                      labStorageType: Standard
                      mandatoryArtifactsResourceIdsLinux: []
                      mandatoryArtifactsResourceIdsWindows: []
                      premiumDataDisks: Disabled
                      provisioningState: Succeeded
                      support:
                        enabled: Disabled
                        markdown: ""
                      uniqueIdentifier: "{unique-identifier}"
                      vaultName: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/{keyvault-name}
                    tags:
                      MyTag: MyValue
                    type: Microsoft.DevTestLab/labs
      x-ms-odata: "#/definitions/Lab"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources":
    get:
      description: List artifact sources in a given lab.
      operationId: ArtifactSources_List
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: "Specify the $expand query. Example: 'properties($select=displayName)'"
          in: query
          name: $expand
          type: string
        - description: "The filter to apply to the operation. Example: '$filter=contains(name,'myName')"
          in: query
          name: $filter
          type: string
        - description: "The maximum number of resources to return from the operation. Example: '$top=10'"
          format: int32
          in: query
          name: $top
          type: integer
        - description: "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'"
          in: query
          name: $orderby
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ArtifactSourceList"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - ArtifactSources
      x-ms-odata: "#/definitions/ArtifactSource"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/armtemplates":
    get:
      description: List azure resource manager templates in a given artifact source.
      operationId: ArmTemplates_List
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the artifact source.
          in: path
          name: artifactSourceName
          required: true
          type: string
        - description: "Specify the $expand query. Example: 'properties($select=displayName)'"
          in: query
          name: $expand
          type: string
        - description: "The filter to apply to the operation. Example: '$filter=contains(name,'myName')"
          in: query
          name: $filter
          type: string
        - description: "The maximum number of resources to return from the operation. Example: '$top=10'"
          format: int32
          in: query
          name: $top
          type: integer
        - description: "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'"
          in: query
          name: $orderby
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ArmTemplateList"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - ArmTemplates
      x-ms-odata: "#/definitions/ArmTemplate"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/armtemplates/{name}":
    get:
      description: Get azure resource manager template.
      operationId: ArmTemplates_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the artifact source.
          in: path
          name: artifactSourceName
          required: true
          type: string
        - description: The name of the azure resource manager template.
          in: path
          name: name
          required: true
          type: string
        - description: "Specify the $expand query. Example: 'properties($select=displayName)'"
          in: query
          name: $expand
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ArmTemplate"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - ArmTemplates
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts":
    get:
      description: List artifacts in a given artifact source.
      operationId: Artifacts_List
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the artifact source.
          in: path
          name: artifactSourceName
          required: true
          type: string
        - description: "Specify the $expand query. Example: 'properties($select=title)'"
          in: query
          name: $expand
          type: string
        - description: "The filter to apply to the operation. Example: '$filter=contains(name,'myName')"
          in: query
          name: $filter
          type: string
        - description: "The maximum number of resources to return from the operation. Example: '$top=10'"
          format: int32
          in: query
          name: $top
          type: integer
        - description: "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'"
          in: query
          name: $orderby
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ArtifactList"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Artifacts
      x-ms-odata: "#/definitions/Artifact"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts/{name}":
    get:
      description: Get artifact.
      operationId: Artifacts_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the artifact source.
          in: path
          name: artifactSourceName
          required: true
          type: string
        - description: The name of the artifact.
          in: path
          name: name
          required: true
          type: string
        - description: "Specify the $expand query. Example: 'properties($select=title)'"
          in: query
          name: $expand
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Artifact"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Artifacts
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts/{name}/generateArmTemplate":
    post:
      description: Generates an ARM template for the given artifact, uploads the required files to a storage account, and validates the generated artifact.
      operationId: Artifacts_GenerateArmTemplate
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the artifact source.
          in: path
          name: artifactSourceName
          required: true
          type: string
        - description: The name of the artifact.
          in: path
          name: name
          required: true
          type: string
        - description: Parameters for generating an ARM template for deploying artifacts.
          in: body
          name: generateArmTemplateRequest
          required: true
          schema:
            $ref: "#/definitions/GenerateArmTemplateRequest"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ArmTemplateInfo"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Artifacts
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{name}":
    delete:
      description: Delete artifact source.
      operationId: ArtifactSources_Delete
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the artifact source.
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
        "204":
          description: No Content
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - ArtifactSources
    get:
      description: Get artifact source.
      operationId: ArtifactSources_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the artifact source.
          in: path
          name: name
          required: true
          type: string
        - description: "Specify the $expand query. Example: 'properties($select=displayName)'"
          in: query
          name: $expand
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ArtifactSource"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - ArtifactSources
    patch:
      description: Allows modifying tags of artifact sources. All other properties will be ignored.
      operationId: ArtifactSources_Update
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the artifact source.
          in: path
          name: name
          required: true
          type: string
        - description: Properties of an artifact source.
          in: body
          name: artifactSource
          required: true
          schema:
            $ref: "#/definitions/ArtifactSourceFragment"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ArtifactSource"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - ArtifactSources
    put:
      description: Create or replace an existing artifact source.
      operationId: ArtifactSources_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the artifact source.
          in: path
          name: name
          required: true
          type: string
        - description: Properties of an artifact source.
          in: body
          name: artifactSource
          required: true
          schema:
            $ref: "#/definitions/ArtifactSource"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ArtifactSource"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/ArtifactSource"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - ArtifactSources
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costs/{name}":
    get:
      description: Get cost.
      operationId: Costs_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the cost.
          in: path
          name: name
          required: true
          type: string
        - description: "Specify the $expand query. Example: 'properties($expand=labCostDetails)'"
          in: query
          name: $expand
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/LabCost"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Costs
    put:
      description: Create or replace an existing cost.
      operationId: Costs_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the cost.
          in: path
          name: name
          required: true
          type: string
        - description: A cost item.
          in: body
          name: labCost
          required: true
          schema:
            $ref: "#/definitions/LabCost"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/LabCost"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/LabCost"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Costs
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/customimages":
    get:
      description: List custom images in a given lab.
      operationId: CustomImages_List
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: "Specify the $expand query. Example: 'properties($select=vm)'"
          in: query
          name: $expand
          type: string
        - description: "The filter to apply to the operation. Example: '$filter=contains(name,'myName')"
          in: query
          name: $filter
          type: string
        - description: "The maximum number of resources to return from the operation. Example: '$top=10'"
          format: int32
          in: query
          name: $top
          type: integer
        - description: "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'"
          in: query
          name: $orderby
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CustomImageList"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - CustomImages
      x-ms-odata: "#/definitions/CustomImage"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/customimages/{name}":
    delete:
      description: Delete custom image. This operation can take a while to complete.
      operationId: CustomImages_Delete
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the custom image.
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
        "204":
          description: No Content
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - CustomImages
      x-ms-long-running-operation: true
    get:
      description: Get custom image.
      operationId: CustomImages_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the custom image.
          in: path
          name: name
          required: true
          type: string
        - description: "Specify the $expand query. Example: 'properties($select=vm)'"
          in: query
          name: $expand
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CustomImage"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - CustomImages
    patch:
      description: Allows modifying tags of custom images. All other properties will be ignored.
      operationId: CustomImages_Update
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the custom image.
          in: path
          name: name
          required: true
          type: string
        - description: A custom image.
          in: body
          name: customImage
          required: true
          schema:
            $ref: "#/definitions/CustomImageFragment"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CustomImage"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - CustomImages
    put:
      description: Create or replace an existing custom image. This operation can take a while to complete.
      operationId: CustomImages_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the custom image.
          in: path
          name: name
          required: true
          type: string
        - description: A custom image.
          in: body
          name: customImage
          required: true
          schema:
            $ref: "#/definitions/CustomImage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CustomImage"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/CustomImage"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - CustomImages
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/formulas":
    get:
      description: List formulas in a given lab.
      operationId: Formulas_List
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: "Specify the $expand query. Example: 'properties($select=description)'"
          in: query
          name: $expand
          type: string
        - description: "The filter to apply to the operation. Example: '$filter=contains(name,'myName')"
          in: query
          name: $filter
          type: string
        - description: "The maximum number of resources to return from the operation. Example: '$top=10'"
          format: int32
          in: query
          name: $top
          type: integer
        - description: "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'"
          in: query
          name: $orderby
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/FormulaList"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Formulas
      x-ms-odata: "#/definitions/Formula"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/formulas/{name}":
    delete:
      description: Delete formula.
      operationId: Formulas_Delete
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the formula.
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
        "204":
          description: No Content
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Formulas
    get:
      description: Get formula.
      operationId: Formulas_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the formula.
          in: path
          name: name
          required: true
          type: string
        - description: "Specify the $expand query. Example: 'properties($select=description)'"
          in: query
          name: $expand
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Formula"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Formulas
    patch:
      description: Allows modifying tags of formulas. All other properties will be ignored.
      operationId: Formulas_Update
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the formula.
          in: path
          name: name
          required: true
          type: string
        - description: A formula for creating a VM, specifying an image base and other parameters
          in: body
          name: formula
          required: true
          schema:
            $ref: "#/definitions/FormulaFragment"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Formula"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Formulas
    put:
      description: Create or replace an existing formula. This operation can take a while to complete.
      operationId: Formulas_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the formula.
          in: path
          name: name
          required: true
          type: string
        - description: A formula for creating a VM, specifying an image base and other parameters
          in: body
          name: formula
          required: true
          schema:
            $ref: "#/definitions/Formula"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Formula"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/Formula"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Formulas
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/galleryimages":
    get:
      description: List gallery images in a given lab.
      operationId: GalleryImages_List
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: "Specify the $expand query. Example: 'properties($select=author)'"
          in: query
          name: $expand
          type: string
        - description: "The filter to apply to the operation. Example: '$filter=contains(name,'myName')"
          in: query
          name: $filter
          type: string
        - description: "The maximum number of resources to return from the operation. Example: '$top=10'"
          format: int32
          in: query
          name: $top
          type: integer
        - description: "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'"
          in: query
          name: $orderby
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/GalleryImageList"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - GalleryImages
      x-ms-odata: "#/definitions/GalleryImage"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/notificationchannels":
    get:
      description: List notification channels in a given lab.
      operationId: NotificationChannels_List
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: "Specify the $expand query. Example: 'properties($select=webHookUrl)'"
          in: query
          name: $expand
          type: string
        - description: "The filter to apply to the operation. Example: '$filter=contains(name,'myName')"
          in: query
          name: $filter
          type: string
        - description: "The maximum number of resources to return from the operation. Example: '$top=10'"
          format: int32
          in: query
          name: $top
          type: integer
        - description: "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'"
          in: query
          name: $orderby
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/NotificationChannelList"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - NotificationChannels
      x-ms-odata: "#/definitions/NotificationChannel"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/notificationchannels/{name}":
    delete:
      description: Delete notification channel.
      operationId: NotificationChannels_Delete
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the notification channel.
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
        "204":
          description: No Content
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - NotificationChannels
    get:
      description: Get notification channel.
      operationId: NotificationChannels_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the notification channel.
          in: path
          name: name
          required: true
          type: string
        - description: "Specify the $expand query. Example: 'properties($select=webHookUrl)'"
          in: query
          name: $expand
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/NotificationChannel"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - NotificationChannels
    patch:
      description: Allows modifying tags of notification channels. All other properties will be ignored.
      operationId: NotificationChannels_Update
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the notification channel.
          in: path
          name: name
          required: true
          type: string
        - description: A notification.
          in: body
          name: notificationChannel
          required: true
          schema:
            $ref: "#/definitions/NotificationChannelFragment"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/NotificationChannel"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - NotificationChannels
    put:
      description: Create or replace an existing notification channel.
      operationId: NotificationChannels_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the notification channel.
          in: path
          name: name
          required: true
          type: string
        - description: A notification.
          in: body
          name: notificationChannel
          required: true
          schema:
            $ref: "#/definitions/NotificationChannel"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/NotificationChannel"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/NotificationChannel"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - NotificationChannels
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/notificationchannels/{name}/notify":
    post:
      description: Send notification to provided channel.
      operationId: NotificationChannels_Notify
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the notification channel.
          in: path
          name: name
          required: true
          type: string
        - description: Properties for generating a Notification.
          in: body
          name: notifyParameters
          required: true
          schema:
            $ref: "#/definitions/NotifyParameters"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - NotificationChannels
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{name}/evaluatePolicies":
    post:
      description: Evaluates lab policy.
      operationId: PolicySets_EvaluatePolicies
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the policy set.
          in: path
          name: name
          required: true
          type: string
        - description: Request body for evaluating a policy set.
          in: body
          name: evaluatePoliciesRequest
          required: true
          schema:
            $ref: "#/definitions/EvaluatePoliciesRequest"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/EvaluatePoliciesResponse"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - PolicySets
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{policySetName}/policies":
    get:
      description: List policies in a given policy set.
      operationId: Policies_List
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the policy set.
          in: path
          name: policySetName
          required: true
          type: string
        - description: "Specify the $expand query. Example: 'properties($select=description)'"
          in: query
          name: $expand
          type: string
        - description: "The filter to apply to the operation. Example: '$filter=contains(name,'myName')"
          in: query
          name: $filter
          type: string
        - description: "The maximum number of resources to return from the operation. Example: '$top=10'"
          format: int32
          in: query
          name: $top
          type: integer
        - description: "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'"
          in: query
          name: $orderby
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/PolicyList"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Policies
      x-ms-odata: "#/definitions/Policy"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{policySetName}/policies/{name}":
    delete:
      description: Delete policy.
      operationId: Policies_Delete
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the policy set.
          in: path
          name: policySetName
          required: true
          type: string
        - description: The name of the policy.
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
        "204":
          description: No Content
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Policies
    get:
      description: Get policy.
      operationId: Policies_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the policy set.
          in: path
          name: policySetName
          required: true
          type: string
        - description: The name of the policy.
          in: path
          name: name
          required: true
          type: string
        - description: "Specify the $expand query. Example: 'properties($select=description)'"
          in: query
          name: $expand
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Policy"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Policies
    patch:
      description: Allows modifying tags of policies. All other properties will be ignored.
      operationId: Policies_Update
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the policy set.
          in: path
          name: policySetName
          required: true
          type: string
        - description: The name of the policy.
          in: path
          name: name
          required: true
          type: string
        - description: A Policy.
          in: body
          name: policy
          required: true
          schema:
            $ref: "#/definitions/PolicyFragment"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Policy"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Policies
    put:
      description: Create or replace an existing policy.
      operationId: Policies_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the policy set.
          in: path
          name: policySetName
          required: true
          type: string
        - description: The name of the policy.
          in: path
          name: name
          required: true
          type: string
        - description: A Policy.
          in: body
          name: policy
          required: true
          schema:
            $ref: "#/definitions/Policy"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Policy"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/Policy"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Policies
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules":
    get:
      description: List schedules in a given lab.
      operationId: Schedules_List
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: "Specify the $expand query. Example: 'properties($select=status)'"
          in: query
          name: $expand
          type: string
        - description: "The filter to apply to the operation. Example: '$filter=contains(name,'myName')"
          in: query
          name: $filter
          type: string
        - description: "The maximum number of resources to return from the operation. Example: '$top=10'"
          format: int32
          in: query
          name: $top
          type: integer
        - description: "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'"
          in: query
          name: $orderby
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ScheduleList"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Schedules
      x-ms-odata: "#/definitions/Schedule"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules/{name}":
    delete:
      description: Delete schedule.
      operationId: Schedules_Delete
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the schedule.
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
        "204":
          description: No Content
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Schedules
    get:
      description: Get schedule.
      operationId: Schedules_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the schedule.
          in: path
          name: name
          required: true
          type: string
        - description: "Specify the $expand query. Example: 'properties($select=status)'"
          in: query
          name: $expand
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Schedule"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Schedules
    patch:
      description: Allows modifying tags of schedules. All other properties will be ignored.
      operationId: Schedules_Update
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the schedule.
          in: path
          name: name
          required: true
          type: string
        - description: A schedule.
          in: body
          name: schedule
          required: true
          schema:
            $ref: "#/definitions/ScheduleFragment"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Schedule"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Schedules
    put:
      description: Create or replace an existing schedule.
      operationId: Schedules_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the schedule.
          in: path
          name: name
          required: true
          type: string
        - description: A schedule.
          in: body
          name: schedule
          required: true
          schema:
            $ref: "#/definitions/Schedule"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Schedule"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/Schedule"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Schedules
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules/{name}/execute":
    post:
      description: Execute a schedule. This operation can take a while to complete.
      operationId: Schedules_Execute
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the schedule.
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Schedules
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules/{name}/listApplicable":
    post:
      description: Lists all applicable schedules
      operationId: Schedules_ListApplicable
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the schedule.
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ScheduleList"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Schedules
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/servicerunners/{name}":
    delete:
      description: Delete service runner.
      operationId: ServiceRunners_Delete
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the service runner.
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
        "204":
          description: No Content
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - ServiceRunners
    get:
      description: Get service runner.
      operationId: ServiceRunners_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the service runner.
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ServiceRunner"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - ServiceRunners
    put:
      description: Create or replace an existing service runner.
      operationId: ServiceRunners_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the service runner.
          in: path
          name: name
          required: true
          type: string
        - description: A container for a managed identity to execute DevTest lab services.
          in: body
          name: serviceRunner
          required: true
          schema:
            $ref: "#/definitions/ServiceRunner"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ServiceRunner"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/ServiceRunner"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - ServiceRunners
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users":
    get:
      description: List user profiles in a given lab.
      operationId: Users_List
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: "Specify the $expand query. Example: 'properties($select=identity)'"
          in: query
          name: $expand
          type: string
        - description: "The filter to apply to the operation. Example: '$filter=contains(name,'myName')"
          in: query
          name: $filter
          type: string
        - description: "The maximum number of resources to return from the operation. Example: '$top=10'"
          format: int32
          in: query
          name: $top
          type: integer
        - description: "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'"
          in: query
          name: $orderby
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/UserList"
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Users
      x-ms-odata: "#/definitions/User"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users/{name}":
    delete:
      description: Delete user profile. This operation can take a while to complete.
      operationId: Users_Delete
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          type: string
        - description: The name of the user profile.
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
        "204":
          description: No Content
        default:
          description: BadRequest
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Users
      x-ms-long-running-operation: true
    get:
      description: Get user profile.
      operationId: Users_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
[...]
