openapi: 3.0.0
servers:
  - url: https://analytics.googleapis.com/analytics/v3
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Views and manages your Google Analytics data.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google Analytics API
  version: v3
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png
  x-origin:
    - format: google
      url: https://analytics.googleapis.com/$discovery/rest?version=v3
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: analytics
externalDocs:
  url: https://developers.google.com/analytics/
tags:
  - name: data
  - name: management
  - name: metadata
  - name: provisioning
  - name: userDeletion
paths:
  /data/ga:
    get:
      description: Returns Analytics data for a view (profile).
      operationId: analytics.data.ga.get
      parameters:
        - description: Unique table ID for retrieving Analytics data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.
          in: query
          name: ids
          required: true
          schema:
            type: string
        - description: Start date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.
          in: query
          name: start-date
          required: true
          schema:
            type: string
        - description: End date for fetching Analytics data. Request can should specify an end date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is yesterday.
          in: query
          name: end-date
          required: true
          schema:
            type: string
        - description: A comma-separated list of Analytics metrics. E.g., 'ga:sessions,ga:pageviews'. At least one metric must be specified.
          in: query
          name: metrics
          required: true
          schema:
            type: string
        - description: A comma-separated list of Analytics dimensions. E.g., 'ga:browser,ga:city'.
          in: query
          name: dimensions
          schema:
            type: string
        - description: A comma-separated list of dimension or metric filters to be applied to Analytics data.
          in: query
          name: filters
          schema:
            type: string
        - description: The response will include empty rows if this parameter is set to true, the default is true
          in: query
          name: include-empty-rows
          schema:
            type: boolean
        - description: The maximum number of entries to include in this feed.
          in: query
          name: max-results
          schema:
            type: integer
        - description: The selected format for the response. Default format is JSON.
          in: query
          name: output
          schema:
            enum:
              - dataTable
              - json
            type: string
        - description: The desired sampling level.
          in: query
          name: samplingLevel
          schema:
            enum:
              - DEFAULT
              - FASTER
              - HIGHER_PRECISION
            type: string
        - description: An Analytics segment to be applied to data.
          in: query
          name: segment
          schema:
            type: string
        - description: A comma-separated list of dimensions or metrics that determine the sort order for Analytics data.
          in: query
          name: sort
          schema:
            type: string
        - description: An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
          in: query
          name: start-index
          schema:
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GaData"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics
          Oauth2c:
            - https://www.googleapis.com/auth/analytics
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - data
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  /data/mcf:
    get:
      description: Returns Analytics Multi-Channel Funnels data for a view (profile).
      operationId: analytics.data.mcf.get
      parameters:
        - description: Unique table ID for retrieving Analytics data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.
          in: query
          name: ids
          required: true
          schema:
            type: string
        - description: Start date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.
          in: query
          name: start-date
          required: true
          schema:
            type: string
        - description: End date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.
          in: query
          name: end-date
          required: true
          schema:
            type: string
        - description: A comma-separated list of Multi-Channel Funnels metrics. E.g., 'mcf:totalConversions,mcf:totalConversionValue'. At least one metric must be specified.
          in: query
          name: metrics
          required: true
          schema:
            type: string
        - description: A comma-separated list of Multi-Channel Funnels dimensions. E.g., 'mcf:source,mcf:medium'.
          in: query
          name: dimensions
          schema:
            type: string
        - description: A comma-separated list of dimension or metric filters to be applied to the Analytics data.
          in: query
          name: filters
          schema:
            type: string
        - description: The maximum number of entries to include in this feed.
          in: query
          name: max-results
          schema:
            type: integer
        - description: The desired sampling level.
          in: query
          name: samplingLevel
          schema:
            enum:
              - DEFAULT
              - FASTER
              - HIGHER_PRECISION
            type: string
        - description: A comma-separated list of dimensions or metrics that determine the sort order for the Analytics data.
          in: query
          name: sort
          schema:
            type: string
        - description: An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
          in: query
          name: start-index
          schema:
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/McfData"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics
          Oauth2c:
            - https://www.googleapis.com/auth/analytics
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - data
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  /data/realtime:
    get:
      description: Returns real time data for a view (profile).
      operationId: analytics.data.realtime.get
      parameters:
        - description: Unique table ID for retrieving real time data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.
          in: query
          name: ids
          required: true
          schema:
            type: string
        - description: A comma-separated list of real time metrics. E.g., 'rt:activeUsers'. At least one metric must be specified.
          in: query
          name: metrics
          required: true
          schema:
            type: string
        - description: A comma-separated list of real time dimensions. E.g., 'rt:medium,rt:city'.
          in: query
          name: dimensions
          schema:
            type: string
        - description: A comma-separated list of dimension or metric filters to be applied to real time data.
          in: query
          name: filters
          schema:
            type: string
        - description: The maximum number of entries to include in this feed.
          in: query
          name: max-results
          schema:
            type: integer
        - description: A comma-separated list of dimensions or metrics that determine the sort order for real time data.
          in: query
          name: sort
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RealtimeData"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics
          Oauth2c:
            - https://www.googleapis.com/auth/analytics
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - data
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  /management/accountSummaries:
    get:
      description: Lists account summaries (lightweight tree comprised of accounts/properties/profiles) to which the user has access.
      operationId: analytics.management.accountSummaries.list
      parameters:
        - description: The maximum number of account summaries to include in this response, where the largest acceptable value is 1000.
          in: query
          name: max-results
          schema:
            type: integer
        - description: An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
          in: query
          name: start-index
          schema:
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountSummaries"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - management
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  /management/accounts:
    get:
      description: Lists all accounts to which the user has access.
      operationId: analytics.management.accounts.list
      parameters:
        - description: The maximum number of accounts to include in this response.
          in: query
          name: max-results
          schema:
            type: integer
        - description: An index of the first account to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
          in: query
          name: start-index
          schema:
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Accounts"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics
          Oauth2c:
            - https://www.googleapis.com/auth/analytics
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - management
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/management/accounts/{accountId}/entityUserLinks":
    get:
      description: Lists account-user links for a given account.
      operationId: analytics.management.accountUserLinks.list
      parameters:
        - description: Account ID to retrieve the user links for.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The maximum number of account-user links to include in this response.
          in: query
          name: max-results
          schema:
            type: integer
        - description: An index of the first account-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
          in: query
          name: start-index
          schema:
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntityUserLinks"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.manage.users
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.manage.users
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.manage.users.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.manage.users.readonly
      tags:
        - management
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Adds a new user to the given account.
      operationId: analytics.management.accountUserLinks.insert
      parameters:
        - description: Account ID to create the user link for.
          in: path
          name: accountId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EntityUserLink"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntityUserLink"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.manage.users
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.manage.users
      tags:
        - management
  "/management/accounts/{accountId}/entityUserLinks/{linkId}":
    delete:
      description: Removes a user from the given account.
      operationId: analytics.management.accountUserLinks.delete
      parameters:
        - description: Account ID to delete the user link for.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Link ID to delete the user link for.
          in: path
          name: linkId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.manage.users
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.manage.users
      tags:
        - management
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    put:
      description: Updates permissions for an existing user on the given account.
      operationId: analytics.management.accountUserLinks.update
      parameters:
        - description: Account ID to update the account-user link for.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Link ID to update the account-user link for.
          in: path
          name: linkId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EntityUserLink"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntityUserLink"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.manage.users
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.manage.users
      tags:
        - management
  "/management/accounts/{accountId}/filters":
    get:
      description: Lists all filters for an account
      operationId: analytics.management.filters.list
      parameters:
        - description: Account ID to retrieve filters for.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The maximum number of filters to include in this response.
          in: query
          name: max-results
          schema:
            type: integer
        - description: An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
          in: query
          name: start-index
          schema:
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Filters"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - management
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Create a new filter.
      operationId: analytics.management.filters.insert
      parameters:
        - description: Account ID to create filter for.
          in: path
          name: accountId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Filter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Filter"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - management
  "/management/accounts/{accountId}/filters/{filterId}":
    delete:
      description: Delete a filter.
      operationId: analytics.management.filters.delete
      parameters:
        - description: Account ID to delete the filter for.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: ID of the filter to be deleted.
          in: path
          name: filterId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Filter"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - management
    get:
      description: Returns filters to which the user has access.
      operationId: analytics.management.filters.get
      parameters:
        - description: Account ID to retrieve filters for.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Filter ID to retrieve filters for.
          in: path
          name: filterId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Filter"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - management
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    patch:
      description: Updates an existing filter. This method supports patch semantics.
      operationId: analytics.management.filters.patch
      parameters:
        - description: Account ID to which the filter belongs.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: ID of the filter to be updated.
          in: path
          name: filterId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Filter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Filter"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - management
    put:
      description: Updates an existing filter.
      operationId: analytics.management.filters.update
      parameters:
        - description: Account ID to which the filter belongs.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: ID of the filter to be updated.
          in: path
          name: filterId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Filter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Filter"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - management
  "/management/accounts/{accountId}/webproperties":
    get:
      description: Lists web properties to which the user has access.
      operationId: analytics.management.webproperties.list
      parameters:
        - description: Account ID to retrieve web properties for. Can either be a specific account ID or '~all', which refers to all the accounts that user has access to.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The maximum number of web properties to include in this response.
          in: query
          name: max-results
          schema:
            type: integer
        - description: An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
          in: query
          name: start-index
          schema:
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webproperties"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics
          Oauth2c:
            - https://www.googleapis.com/auth/analytics
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - management
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Create a new property if the account has fewer than 20 properties. Web properties are visible in the Google Analytics interface only if they have at least one profile.
      operationId: analytics.management.webproperties.insert
      parameters:
        - description: Account ID to create the web property for.
          in: path
          name: accountId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Webproperty"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webproperty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - management
  "/management/accounts/{accountId}/webproperties/{webPropertyId}":
    get:
      description: Gets a web property to which the user has access.
      operationId: analytics.management.webproperties.get
      parameters:
        - description: Account ID to retrieve the web property for.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: ID to retrieve the web property for.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webproperty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - management
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    patch:
      description: Updates an existing web property. This method supports patch semantics.
      operationId: analytics.management.webproperties.patch
      parameters:
        - description: Account ID to which the web property belongs
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property ID
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Webproperty"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webproperty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - management
    put:
      description: Updates an existing web property.
      operationId: analytics.management.webproperties.update
      parameters:
        - description: Account ID to which the web property belongs
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property ID
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Webproperty"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webproperty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - management
  "/management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources":
    get:
      description: List custom data sources to which the user has access.
      operationId: analytics.management.customDataSources.list
      parameters:
        - description: Account Id for the custom data sources to retrieve.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property Id for the custom data sources to retrieve.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: The maximum number of custom data sources to include in this response.
          in: query
          name: max-results
          schema:
            minimum: 1
            type: integer
        - description: A 1-based index of the first custom data source to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
          in: query
          name: start-index
          schema:
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomDataSources"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics
          Oauth2c:
            - https://www.googleapis.com/auth/analytics
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - management
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/deleteUploadData":
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Delete data associated with a previous upload.
      operationId: analytics.management.uploads.deleteUploadData
      parameters:
        - description: Account Id for the uploads to be deleted.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property Id for the uploads to be deleted.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: Custom data source Id for the uploads to be deleted.
          in: path
          name: customDataSourceId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AnalyticsDataimportDeleteUploadDataRequest"
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics
          Oauth2c:
            - https://www.googleapis.com/auth/analytics
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - management
  "/management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads":
    get:
      description: List uploads to which the user has access.
      operationId: analytics.management.uploads.list
      parameters:
        - description: Account Id for the uploads to retrieve.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property Id for the uploads to retrieve.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: Custom data source Id for uploads to retrieve.
          in: path
          name: customDataSourceId
          required: true
          schema:
            type: string
        - description: The maximum number of uploads to include in this response.
          in: query
          name: max-results
          schema:
            minimum: 1
            type: integer
        - description: A 1-based index of the first upload to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
          in: query
          name: start-index
          schema:
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Uploads"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics
          Oauth2c:
            - https://www.googleapis.com/auth/analytics
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - management
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Upload data for a custom data source.
      operationId: analytics.management.uploads.uploadData
      parameters:
        - description: Account Id associated with the upload.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property UA-string associated with the upload.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: Custom data source Id to which the data being uploaded belongs.
          in: path
          name: customDataSourceId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Upload"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics
          Oauth2c:
            - https://www.googleapis.com/auth/analytics
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - management
  "/management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads/{uploadId}":
    get:
      description: List uploads to which the user has access.
      operationId: analytics.management.uploads.get
      parameters:
        - description: Account Id for the upload to retrieve.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property Id for the upload to retrieve.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: Custom data source Id for upload to retrieve.
          in: path
          name: customDataSourceId
          required: true
          schema:
            type: string
        - description: Upload Id to retrieve.
          in: path
          name: uploadId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Upload"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics
          Oauth2c:
            - https://www.googleapis.com/auth/analytics
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - management
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions":
    get:
      description: Lists custom dimensions to which the user has access.
      operationId: analytics.management.customDimensions.list
      parameters:
        - description: Account ID for the custom dimensions to retrieve.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property ID for the custom dimensions to retrieve.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: The maximum number of custom dimensions to include in this response.
          in: query
          name: max-results
          schema:
            type: integer
        - description: An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
          in: query
          name: start-index
          schema:
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomDimensions"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics
          Oauth2c:
            - https://www.googleapis.com/auth/analytics
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - management
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Create a new custom dimension.
      operationId: analytics.management.customDimensions.insert
      parameters:
        - description: Account ID for the custom dimension to create.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property ID for the custom dimension to create.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomDimension"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomDimension"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - management
  "/management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}":
    get:
      description: Get a custom dimension to which the user has access.
      operationId: analytics.management.customDimensions.get
      parameters:
        - description: Account ID for the custom dimension to retrieve.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property ID for the custom dimension to retrieve.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: The ID of the custom dimension to retrieve.
          in: path
          name: customDimensionId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomDimension"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - management
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    patch:
      description: Updates an existing custom dimension. This method supports patch semantics.
      operationId: analytics.management.customDimensions.patch
      parameters:
        - description: Account ID for the custom dimension to update.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property ID for the custom dimension to update.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: Custom dimension ID for the custom dimension to update.
          in: path
          name: customDimensionId
          required: true
          schema:
            type: string
        - description: Force the update and ignore any warnings related to the custom dimension being linked to a custom data source / data set.
          in: query
          name: ignoreCustomDataSourceLinks
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomDimension"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomDimension"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - management
    put:
      description: Updates an existing custom dimension.
      operationId: analytics.management.customDimensions.update
      parameters:
        - description: Account ID for the custom dimension to update.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property ID for the custom dimension to update.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: Custom dimension ID for the custom dimension to update.
          in: path
          name: customDimensionId
          required: true
          schema:
            type: string
        - description: Force the update and ignore any warnings related to the custom dimension being linked to a custom data source / data set.
          in: query
          name: ignoreCustomDataSourceLinks
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomDimension"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomDimension"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - management
  "/management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics":
    get:
      description: Lists custom metrics to which the user has access.
      operationId: analytics.management.customMetrics.list
      parameters:
        - description: Account ID for the custom metrics to retrieve.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property ID for the custom metrics to retrieve.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: The maximum number of custom metrics to include in this response.
          in: query
          name: max-results
          schema:
            type: integer
        - description: An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
          in: query
          name: start-index
          schema:
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomMetrics"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics
          Oauth2c:
            - https://www.googleapis.com/auth/analytics
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - management
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Create a new custom metric.
      operationId: analytics.management.customMetrics.insert
      parameters:
        - description: Account ID for the custom metric to create.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property ID for the custom dimension to create.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomMetric"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomMetric"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - management
  "/management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}":
    get:
      description: Get a custom metric to which the user has access.
      operationId: analytics.management.customMetrics.get
      parameters:
        - description: Account ID for the custom metric to retrieve.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property ID for the custom metric to retrieve.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: The ID of the custom metric to retrieve.
          in: path
          name: customMetricId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomMetric"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - management
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    patch:
      description: Updates an existing custom metric. This method supports patch semantics.
      operationId: analytics.management.customMetrics.patch
      parameters:
        - description: Account ID for the custom metric to update.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property ID for the custom metric to update.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: Custom metric ID for the custom metric to update.
          in: path
          name: customMetricId
          required: true
          schema:
            type: string
        - description: Force the update and ignore any warnings related to the custom metric being linked to a custom data source / data set.
          in: query
          name: ignoreCustomDataSourceLinks
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomMetric"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomMetric"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - management
    put:
      description: Updates an existing custom metric.
      operationId: analytics.management.customMetrics.update
      parameters:
        - description: Account ID for the custom metric to update.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property ID for the custom metric to update.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: Custom metric ID for the custom metric to update.
          in: path
          name: customMetricId
          required: true
          schema:
            type: string
        - description: Force the update and ignore any warnings related to the custom metric being linked to a custom data source / data set.
          in: query
          name: ignoreCustomDataSourceLinks
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomMetric"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomMetric"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - management
  "/management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks":
    get:
      description: Lists webProperty-Google Ads links for a given web property.
      operationId: analytics.management.webPropertyAdWordsLinks.list
      parameters:
        - description: ID of the account which the given web property belongs to.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property ID to retrieve the Google Ads links for.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: The maximum number of webProperty-Google Ads links to include in this response.
          in: query
          name: max-results
          schema:
            type: integer
        - description: An index of the first webProperty-Google Ads link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
          in: query
          name: start-index
          schema:
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntityAdWordsLinks"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - management
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Creates a webProperty-Google Ads link.
      operationId: analytics.management.webPropertyAdWordsLinks.insert
      parameters:
        - description: ID of the Google Analytics account to create the link for.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property ID to create the link for.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EntityAdWordsLink"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntityAdWordsLink"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - management
  "/management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}":
    delete:
      description: Deletes a web property-Google Ads link.
      operationId: analytics.management.webPropertyAdWordsLinks.delete
      parameters:
        - description: ID of the account which the given web property belongs to.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property ID to delete the Google Ads link for.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: Web property Google Ads link ID.
          in: path
          name: webPropertyAdWordsLinkId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - management
    get:
      description: Returns a web property-Google Ads link to which the user has access.
      operationId: analytics.management.webPropertyAdWordsLinks.get
      parameters:
        - description: ID of the account which the given web property belongs to.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property ID to retrieve the Google Ads link for.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: Web property-Google Ads link ID.
          in: path
          name: webPropertyAdWordsLinkId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntityAdWordsLink"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - management
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    patch:
      description: Updates an existing webProperty-Google Ads link. This method supports patch semantics.
      operationId: analytics.management.webPropertyAdWordsLinks.patch
      parameters:
        - description: ID of the account which the given web property belongs to.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property ID to retrieve the Google Ads link for.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: Web property-Google Ads link ID.
          in: path
          name: webPropertyAdWordsLinkId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EntityAdWordsLink"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntityAdWordsLink"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - management
    put:
      description: Updates an existing webProperty-Google Ads link.
      operationId: analytics.management.webPropertyAdWordsLinks.update
      parameters:
        - description: ID of the account which the given web property belongs to.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property ID to retrieve the Google Ads link for.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: Web property-Google Ads link ID.
          in: path
          name: webPropertyAdWordsLinkId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EntityAdWordsLink"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntityAdWordsLink"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - management
  "/management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks":
    get:
      description: Lists webProperty-user links for a given web property.
      operationId: analytics.management.webpropertyUserLinks.list
      parameters:
        - description: Account ID which the given web property belongs to.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web Property ID for the webProperty-user links to retrieve. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: The maximum number of webProperty-user Links to include in this response.
          in: query
          name: max-results
          schema:
            type: integer
        - description: An index of the first webProperty-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
          in: query
          name: start-index
          schema:
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntityUserLinks"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.manage.users
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.manage.users
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.manage.users.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.manage.users.readonly
      tags:
        - management
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Adds a new user to the given web property.
      operationId: analytics.management.webpropertyUserLinks.insert
      parameters:
        - description: Account ID to create the user link for.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web Property ID to create the user link for.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EntityUserLink"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntityUserLink"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.manage.users
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.manage.users
      tags:
        - management
  "/management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks/{linkId}":
    delete:
      description: Removes a user from the given web property.
      operationId: analytics.management.webpropertyUserLinks.delete
      parameters:
        - description: Account ID to delete the user link for.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web Property ID to delete the user link for.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: Link ID to delete the user link for.
          in: path
          name: linkId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.manage.users
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.manage.users
      tags:
        - management
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    put:
      description: Updates permissions for an existing user on the given web property.
      operationId: analytics.management.webpropertyUserLinks.update
      parameters:
        - description: Account ID to update the account-user link for.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property ID to update the account-user link for.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: Link ID to update the account-user link for.
          in: path
          name: linkId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EntityUserLink"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntityUserLink"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.manage.users
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.manage.users
      tags:
        - management
  "/management/accounts/{accountId}/webproperties/{webPropertyId}/profiles":
    get:
      description: Lists views (profiles) to which the user has access.
      operationId: analytics.management.profiles.list
      parameters:
        - description: Account ID for the view (profiles) to retrieve. Can either be a specific account ID or '~all', which refers to all the accounts to which the user has access.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property ID for the views (profiles) to retrieve. Can either be a specific web property ID or '~all', which refers to all the web properties to which the user has access.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: The maximum number of views (profiles) to include in this response.
          in: query
          name: max-results
          schema:
            type: integer
        - description: An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
          in: query
          name: start-index
          schema:
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Profiles"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics
          Oauth2c:
            - https://www.googleapis.com/auth/analytics
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - management
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Create a new view (profile).
      operationId: analytics.management.profiles.insert
      parameters:
        - description: Account ID to create the view (profile) for.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property ID to create the view (profile) for.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Profile"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Profile"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - management
  "/management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}":
    delete:
      description: Deletes a view (profile).
      operationId: analytics.management.profiles.delete
      parameters:
        - description: Account ID to delete the view (profile) for.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property ID to delete the view (profile) for.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: ID of the view (profile) to be deleted.
          in: path
          name: profileId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - management
    get:
      description: Gets a view (profile) to which the user has access.
      operationId: analytics.management.profiles.get
      parameters:
        - description: Account ID to retrieve the view (profile) for.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property ID to retrieve the view (profile) for.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: View (Profile) ID to retrieve the view (profile) for.
          in: path
          name: profileId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Profile"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - management
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    patch:
      description: Updates an existing view (profile). This method supports patch semantics.
      operationId: analytics.management.profiles.patch
      parameters:
        - description: Account ID to which the view (profile) belongs
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property ID to which the view (profile) belongs
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: ID of the view (profile) to be updated.
          in: path
          name: profileId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Profile"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Profile"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - management
    put:
      description: Updates an existing view (profile).
      operationId: analytics.management.profiles.update
      parameters:
        - description: Account ID to which the view (profile) belongs
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property ID to which the view (profile) belongs
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: ID of the view (profile) to be updated.
          in: path
          name: profileId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Profile"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Profile"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - management
  "/management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks":
    get:
      description: Lists profile-user links for a given view (profile).
      operationId: analytics.management.profileUserLinks.list
      parameters:
        - description: Account ID which the given view (profile) belongs to.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web Property ID which the given view (profile) belongs to. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: View (Profile) ID to retrieve the profile-user links for. Can either be a specific profile ID or '~all', which refers to all the profiles that user has access to.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: The maximum number of profile-user links to include in this response.
          in: query
          name: max-results
          schema:
            type: integer
        - description: An index of the first profile-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
          in: query
          name: start-index
          schema:
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntityUserLinks"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.manage.users
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.manage.users
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.manage.users.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.manage.users.readonly
      tags:
        - management
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Adds a new user to the given view (profile).
      operationId: analytics.management.profileUserLinks.insert
      parameters:
        - description: Account ID to create the user link for.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web Property ID to create the user link for.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: View (Profile) ID to create the user link for.
          in: path
          name: profileId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EntityUserLink"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntityUserLink"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.manage.users
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.manage.users
      tags:
        - management
  "/management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks/{linkId}":
    delete:
      description: Removes a user from the given view (profile).
      operationId: analytics.management.profileUserLinks.delete
      parameters:
        - description: Account ID to delete the user link for.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web Property ID to delete the user link for.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: View (Profile) ID to delete the user link for.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Link ID to delete the user link for.
          in: path
          name: linkId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.manage.users
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.manage.users
      tags:
        - management
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    put:
      description: Updates permissions for an existing user on the given view (profile).
      operationId: analytics.management.profileUserLinks.update
      parameters:
        - description: Account ID to update the user link for.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web Property ID to update the user link for.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: View (Profile ID) to update the user link for.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Link ID to update the user link for.
          in: path
          name: linkId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EntityUserLink"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EntityUserLink"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.manage.users
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.manage.users
      tags:
        - management
  "/management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments":
    get:
      description: Lists experiments to which the user has access.
      operationId: analytics.management.experiments.list
      parameters:
        - description: Account ID to retrieve experiments for.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property ID to retrieve experiments for.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: View (Profile) ID to retrieve experiments for.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: The maximum number of experiments to include in this response.
          in: query
          name: max-results
          schema:
            type: integer
        - description: An index of the first experiment to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.
          in: query
          name: start-index
          schema:
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Experiments"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics
          Oauth2c:
            - https://www.googleapis.com/auth/analytics
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - management
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Create a new experiment.
      operationId: analytics.management.experiments.insert
      parameters:
        - description: Account ID to create the experiment for.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property ID to create the experiment for.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: View (Profile) ID to create the experiment for.
          in: path
          name: profileId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Experiment"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Experiment"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics
          Oauth2c:
            - https://www.googleapis.com/auth/analytics
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - management
  "/management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}":
    delete:
      description: Delete an experiment.
      operationId: analytics.management.experiments.delete
      parameters:
        - description: Account ID to which the experiment belongs
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property ID to which the experiment belongs
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: View (Profile) ID to which the experiment belongs
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: ID of the experiment to delete
          in: path
          name: experimentId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics
          Oauth2c:
            - https://www.googleapis.com/auth/analytics
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - management
    get:
      description: Returns an experiment to which the user has access.
      operationId: analytics.management.experiments.get
      parameters:
        - description: Account ID to retrieve the experiment for.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property ID to retrieve the experiment for.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: View (Profile) ID to retrieve the experiment for.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Experiment ID to retrieve the experiment for.
          in: path
          name: experimentId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Experiment"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics
          Oauth2c:
            - https://www.googleapis.com/auth/analytics
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - management
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    patch:
      description: Update an existing experiment. This method supports patch semantics.
      operationId: analytics.management.experiments.patch
      parameters:
        - description: Account ID of the experiment to update.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property ID of the experiment to update.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: View (Profile) ID of the experiment to update.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Experiment ID of the experiment to update.
          in: path
          name: experimentId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Experiment"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Experiment"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics
          Oauth2c:
            - https://www.googleapis.com/auth/analytics
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - management
    put:
      description: Update an existing experiment.
      operationId: analytics.management.experiments.update
      parameters:
        - description: Account ID of the experiment to update.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property ID of the experiment to update.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: View (Profile) ID of the experiment to update.
          in: path
          name: profileId
          required: true
          schema:
            type: string
        - description: Experiment ID of the experiment to update.
          in: path
          name: experimentId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Experiment"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Experiment"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics
          Oauth2c:
            - https://www.googleapis.com/auth/analytics
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - management
  "/management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals":
    get:
      description: Lists goals to which the user has access.
      operationId: analytics.management.goals.list
      parameters:
        - description: Account ID to retrieve goals for. Can either be a specific account ID or '~all', which refers to all the accounts that user has access to.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Web property ID to retrieve goals for. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.
          in: path
          name: webPropertyId
          required: true
          schema:
            type: string
        - description: View (Profile) ID to retrieve goals for. Can either be a specific view (profile) ID or '~all', which refers to all the views (profiles) that user has access to.
          in: path
          name: profileId
          required: true
          schema:
            type: string
[...]
