openapi: 3.0.0
servers:
  - url: https://rest-api.d7networks.com/secure
info:
  contact:
    email: int@d7networks.com
    name: Emanuel
    url: https://d7networks.com/
    x-twitter: d7sms
  description: D7 SMS allows you to reach your customers via SMS over D7's own connectivity to global mobile networks. D7 provides reliable and cost-effective SMS services to businesses across all industries and aims to connect all countries and territories via direct connections.
  title: D7SMS
  version: 1.0.2
  x-apisguru-categories:
    - messaging
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_d7sms_profile_image.jpeg
  x-origin:
    - format: openapi
      url: https://api.swaggerhub.com/apis/Direct7Networks/D7SMS/1.0.2
      version: "3.0"
  x-providerName: d7networks.com
security:
  - auth: []
tags: []
paths:
  /balance:
    get:
      deprecated: false
      description: Check account balance
      operationId: BalanceGet
      responses:
        "200":
          description: ""
          headers: {}
        "500":
          content:
            application/json:
              schema: {}
          description: Internal Server Error
      summary: Balance
  /send:
    post:
      deprecated: false
      description: Send SMS  to recipients using D7 SMS Gateway
      operationId: SendPost
      parameters:
        - description: ""
          in: header
          name: Content-Type
          required: true
          schema:
            type: string
        - description: ""
          in: header
          name: Accept
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendSMSRequest"
        description: Message Body
        required: true
      responses:
        "200":
          description: ""
          headers: {}
        "500":
          content:
            application/json:
              schema: {}
          description: Internal Server Error
      summary: SendSMS
  /sendbatch:
    post:
      deprecated: false
      description: Send Bulk SMS  to multiple recipients using D7 SMS Gateway
      operationId: SendbatchPost
      parameters:
        - description: ""
          in: header
          name: Content-Type
          required: true
          schema:
            type: string
        - description: ""
          in: header
          name: Accept
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkSMSRequest"
        description: Message Body
        required: true
      responses:
        "200":
          description: ""
          headers: {}
      summary: Bulk SMS
components:
  schemas:
    BulkSMSRequest:
      description: Bulk SMS Request
      example:
        messages:
          - content: Same content goes to three numbers
            from: SignSMS
            to:
              - "971562316353"
              - "971562316354"
              - "971562316355"
      properties:
        messages:
          description: Sendbatch message body
          items:
            $ref: "#/components/schemas/Message"
          type: array
      required:
        - messages
      title: BulkSMSRequest
      type: object
    Message:
      description: ""
      example:
        content: Same content goes to three numbers
        from: SignSMS
        to:
          - "971562316353"
          - "971562316354"
          - "971562316355"
      properties:
        content:
          type: string
        from:
          type: string
        to:
          description: Destination Number
          items:
            type: string
          type: array
      required:
        - to
        - content
        - from
      title: Message
      type: object
    SendSMSRequest:
      description: Send SMS Request
      example:
        content: Send single SMS Testing
        from: SignSMS
        to: 971562316353
      properties:
        content:
          description: Message Content
          type: string
        from:
          description: Sender ID / Number
          type: string
        to:
          description: Destination Mobile Number
          format: int64
          type: integer
      required:
        - to
        - from
        - content
      title: SendSMSRequest
      type: object
  securitySchemes:
    auth:
      scheme: basic
      type: http
