swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Azure BatchAI Management API.
  title: BatchAI
  version: 2018-05-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-ms-code-generation-settings:
    name: BatchAIManagementClient
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/batchai/resource-manager/Microsoft.BatchAI/stable/2018-05-01/BatchAI.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: batchai-BatchAI
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Specifies the version of API used for this request.
    in: query
    name: api-version
    required: true
    type: string
  ClusterNameParameter:
    description: The name of the cluster within the specified resource group. Cluster names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.
    in: path
    maxLength: 64
    minLength: 1
    name: clusterName
    pattern: ^[-\w_]+$
    required: true
    type: string
    x-ms-parameter-location: method
  Directory:
    default: .
    description: The path to the directory.
    in: query
    name: directory
    required: false
    type: string
    x-ms-parameter-grouping:
      postfix: Options
    x-ms-parameter-location: method
  DownloadLinkExpiryParameter:
    default: 60
    description: The number of minutes after which the download link will expire.
    format: int32
    in: query
    maximum: 600
    minimum: 5
    name: linkexpiryinminutes
    required: false
    type: integer
    x-ms-parameter-grouping:
      postfix: Options
    x-ms-parameter-location: method
  ExperimentNameParameter:
    description: The name of the experiment. Experiment names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.
    in: path
    maxLength: 64
    minLength: 1
    name: experimentName
    pattern: ^[-\w_]+$
    required: true
    type: string
    x-ms-parameter-location: method
  FileServerNameParameter:
    description: The name of the file server within the specified resource group. File server names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.
    in: path
    maxLength: 64
    minLength: 1
    name: fileServerName
    pattern: ^[-\w_]+$
    required: true
    type: string
    x-ms-parameter-location: method
  JobNameParameter:
    description: The name of the job within the specified resource group. Job names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.
    in: path
    maxLength: 64
    minLength: 1
    name: jobName
    pattern: ^[-\w_]+$
    required: true
    type: string
    x-ms-parameter-location: method
  MaxResultsParameter:
    default: 1000
    description: The maximum number of items to return in the response. A maximum of 1000 files can be returned.
    format: int32
    in: query
    maximum: 1000
    minimum: 1
    name: maxresults
    required: false
    type: integer
    x-ms-client-name: maxResults
    x-ms-parameter-grouping:
      postfix: Options
    x-ms-parameter-location: method
  OutputDirectoryIdParameter:
    description: Id of the job output directory. This is the OutputDirectory-->id parameter that is given by the user during Create Job.
    in: query
    name: outputdirectoryid
    required: true
    type: string
    x-ms-parameter-grouping:
      postfix: Options
    x-ms-parameter-location: method
  ResourceGroupNameParameter:
    description: Name of the resource group to which the resource belongs.
    in: path
    name: resourceGroupName
    pattern: ^[-\w\._]+$
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: The subscriptionID for the Azure user.
    in: path
    name: subscriptionId
    required: true
    type: string
  WorkspaceNameParameter:
    description: The name of the workspace. Workspace names can only contain a combination of alphanumeric characters along with dash (-) and underscore (_). The name must be from 1 through 64 characters long.
    in: path
    maxLength: 64
    minLength: 1
    name: workspaceName
    pattern: ^[-\w_]+$
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  /providers/Microsoft.BatchAI/operations:
    get:
      description: Lists available operations for the Microsoft.BatchAI provider.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/OperationListResult"
      tags:
        - Operations
      x-ms-examples:
        Create or update cluster:
          parameters:
            api-version: 2018-05-01
          responses:
            "200":
              body:
                value:
                  - display:
                      description: Lists Batch AI workspaces or gets the properties of a Batch AI workspace
                      operation: List or get Batch AI workspaces
                      provider: Microsoft Batch AI
                      resource: Batch AI Workspaces
                    name: Microsoft.BatchAI/workspaces/read
                    origin: user,system
                    properties: null
                  - display:
                      description: Creates a new Batch AI workspace or updates an existing Batch AI workspace
                      operation: Create or update Batch AI workspace
                      provider: Microsoft Batch AI
                      resource: Batch AI Workspaces
                    name: Microsoft.BatchAI/workspaces/write
                    origin: user,system
                    properties: null
                  - display:
                      description: Deletes a Batch AI workspace
                      operation: Delete Batch AI workspace
                      provider: Microsoft Batch AI
                      resource: Batch AI Clusters
                    name: Microsoft.BatchAI/workspaces/delete
                    origin: user,system
                    properties: null
                  - display:
                      description: Lists Batch AI experiments or gets the properties of a Batch AI experiment
                      operation: List or get Batch AI experiements
                      provider: Microsoft Batch AI
                      resource: Batch AI Experiments
                    name: Microsoft.BatchAI/workspaces/experiments/read
                    origin: user,system
                    properties: null
                  - display:
                      description: Creates a new Batch AI experiment or updates an existing Batch AI experiment
                      operation: Create or update Batch AI experiement
                      provider: Microsoft Batch AI
                      resource: Batch AI Experiments
                    name: Microsoft.BatchAI/workspaces/experiments/write
                    origin: user,system
                    properties: null
                  - display:
                      description: Deletes a Batch AI experiment
                      operation: Delete Batch AI experiment
                      provider: Microsoft Batch AI
                      resource: Batch AI Experiments
                    name: Microsoft.BatchAI/workspaces/experiments/delete
                    origin: user,system
                    properties: null
                  - display:
                      description: Lists Batch AI clusters or gets the properties of a Batch AI cluster
                      operation: List or get Batch AI clusters
                      provider: Microsoft Batch AI
                      resource: Batch AI Clusters
                    name: Microsoft.BatchAI/clusters/read
                    origin: user,system
                    properties: null
                  - display:
                      description: Lists Batch AI clusters or gets the properties of a Batch AI cluster
                      operation: List or get Batch AI clusters
                      provider: Microsoft Batch AI
                      resource: Batch AI Clusters
                    name: Microsoft.BatchAI/workspaces/clusters/read
                    origin: user,system
                    properties: null
                  - display:
                      description: Creates a new Batch AI cluster or updates an existing Batch AI cluster
                      operation: Create or update Batch AI cluster
                      provider: Microsoft Batch AI
                      resource: Batch AI Clusters
                    name: Microsoft.BatchAI/workspaces/clusters/write
                    origin: user,system
                    properties: null
                  - display:
                      description: Deletes a Batch AI cluster
                      operation: Delete Batch AI cluster
                      provider: Microsoft Batch AI
                      resource: Batch AI Clusters
                    name: Microsoft.BatchAI/workspaces/clusters/delete
                    origin: user,system
                    properties: null
                  - display:
                      description: Lists remote-login information for a Batch AI cluster
                      operation: List Batch AI cluster remote-login information
                      provider: Microsoft Batch AI
                      resource: Batch AI Clusters
                    name: Microsoft.BatchAI/workspaces/clusters/remoteLoginInformation/action
                    origin: user,system
                    properties: null
                  - display:
                      description: Lists Batch AI jobs or gets the properties of a Batch AI job
                      operation: List or get Batch AI jobs
                      provider: Microsoft Batch AI
                      resource: Batch AI Jobs
                    name: Microsoft.BatchAI/workspaces/experiments/jobs/read
                    origin: user,system
                    properties: null
                  - display:
                      description: Creates a new Batch AI job or updates an existing Batch AI job
                      operation: Create or update Batch AI job
                      provider: Microsoft Batch AI
                      resource: Batch AI Jobs
                    name: Microsoft.BatchAI/workspaces/experiments/jobs/write
                    origin: user,system
                    properties: null
                  - display:
                      description: Deletes a Batch AI job
                      operation: Delete Batch AI job
                      provider: Microsoft Batch AI
                      resource: Batch AI Jobs
                    name: Microsoft.BatchAI/workspaces/experiments/jobs/delete
                    origin: user,system
                    properties: null
                  - display:
                      description: Terminates a Batch AI job
                      operation: Terminate Batch AI job
                      provider: Microsoft Batch AI
                      resource: Batch AI Jobs
                    name: Microsoft.BatchAI/workspaces/experiments/jobs/terminate/action
                    origin: user,system
                    properties: null
                  - display:
                      description: Lists remote-login information for a Batch AI job
                      operation: List Batch AI job remote-login information
                      provider: Microsoft Batch AI
                      resource: Batch AI Jobs
                    name: Microsoft.BatchAI/workspaces/experiments/jobs/remoteLoginInformation/action
                    origin: user,system
                    properties: null
                  - display:
                      description: Lists output files for a Batch AI job
                      operation: List Batch AI job output files
                      provider: Microsoft Batch AI
                      resource: Batch AI Jobs
                    name: Microsoft.BatchAI/workspaces/experiments/jobs/listoutputfiles/action
                    origin: user,system
                    properties: null
                  - display:
                      description: Lists Batch AI fileservers or gets the properties of a Batch AI fileserver
                      operation: List or get Batch AI fileservers
                      provider: Microsoft Batch AI
                      resource: Batch AI Fileservers
                    name: Microsoft.BatchAI/fileservers/read
                    origin: user,system
                    properties: null
                  - display:
                      description: Lists Batch AI fileservers or gets the properties of a Batch AI fileserver
                      operation: List or get Batch AI fileservers
                      provider: Microsoft Batch AI
                      resource: Batch AI Fileservers
                    name: Microsoft.BatchAI/workspaces/fileservers/read
                    origin: user,system
                    properties: null
                  - display:
                      description: Creates a new Batch AI fileserver or updates an existing Batch AI fileserver
                      operation: Create or update Batch AI fileserver
                      provider: Microsoft Batch AI
                      resource: Batch AI Fileservers
                    name: Microsoft.BatchAI/workspaces/fileservers/write
                    origin: user,system
                    properties: null
                  - display:
                      description: Deletes a Batch AI fileserver
                      operation: Delete Batch AI filserver
                      provider: Microsoft Batch AI
                      resource: Batch AI Fileservers
                    name: Microsoft.BatchAI/workspaces/fileservers/delete
                    origin: user,system
                    properties: null
                  - display:
                      description: Gets Batch AI usages of the specified subscription at the specified Azure region
                      operation: Get Batch AI Usages
                      provider: Microsoft Batch AI
                      resource: Batch AI Usages
                    name: Microsoft.BatchAI/locations/usages/read
                    origin: user,system
                    properties: null
                  - display:
                      description: Registers the subscription for the Batch AI Resource Provider and enables the creation of Batch AI resources
                      operation: Register the Batch AI Resource Provider
                      provider: Microsoft Batch AI
                      resource: Batch AI Resource Provider
                    name: Microsoft.BatchAI/register/action
                    origin: user,system
                    properties: null
                  - display:
                      description: Unregisters the subscription for the Batch AI Resource Provider preventing the creation of Batch AI resources
                      operation: Unregister the Batch AI Resource Provider
                      provider: Microsoft Batch AI
                      resource: Batch AI Resource Provider
                    name: Microsoft.BatchAI/unregister/action
                    origin: user,system
                    properties: null
                  - display:
                      description: Gets Batch AI async operation result at the specified Azure region
                      operation: Get Batch AI Opreation Result
                      provider: Microsoft Batch AI
                      resource: Batch AI Operation Results
                    name: Microsoft.BatchAI/locations/operationresults/read
                    origin: user,system
                    properties: null
                  - display:
                      description: Gets Batch AI async operation status at the specified Azure region
                      operation: Get Batch AI Opreation Status
                      provider: Microsoft Batch AI
                      resource: Batch AI Operation Statuses
                    name: Microsoft.BatchAI/locations/operationstatuses/read
                    origin: user,system
                    properties: null
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.BatchAI/locations/{location}/usages":
    get:
      description: Gets the current usage information as well as limits for Batch AI resources for given subscription.
      operationId: Usages_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The location for which resource usage is queried.
          in: path
          name: location
          pattern: ^[-\w\._]+$
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ListUsagesResult"
      tags:
        - Usage
      x-ms-examples:
        Create or update cluster:
          parameters:
            api-version: 2018-05-01
            location: eastus
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - currentValue: 5
                    limit: 20
                    name:
                      localizedValue: Clusters
                      value: Clusters
                    unit: Count
                  - currentValue: 49
                    limit: 600
                    name:
                      localizedValue: Total Cluster Dedicated Regional vCPUs
                      value: Total Cluster Dedicated Regional vCPUs
                    unit: Count
                  - currentValue: 1
                    limit: 600
                    name:
                      localizedValue: Standard D Family Cluster Dedicated vCPUs
                      value: Standard D Family Cluster Dedicated vCPUs
                    unit: Count
                  - currentValue: 0
                    limit: 600
                    name:
                      localizedValue: Standard Dv2 Family Cluster Dedicated vCPUs
                      value: Standard Dv2 Family Cluster Dedicated vCPUs
                    unit: Count
                  - currentValue: 48
                    limit: 600
                    name:
                      localizedValue: Standard NC Family Cluster Dedicated vCPUs
                      value: Standard NC Family Cluster Dedicated vCPUs
                    unit: Count
                  - currentValue: 0
                    limit: 0
                    name:
                      localizedValue: Standard NCv2 Family Cluster Dedicated vCPUs
                      value: Standard NCv2 Family Cluster Dedicated vCPUs
                    unit: Count
                  - currentValue: 0
                    limit: 0
                    name:
                      localizedValue: Standard NCv3 Family Cluster Dedicated vCPUs
                      value: Standard NCv3 Family Cluster Dedicated vCPUs
                    unit: Count
                  - currentValue: 0
                    limit: 0
                    name:
                      localizedValue: Standard ND Family Cluster Dedicated vCPUs
                      value: Standard ND Family Cluster Dedicated vCPUs
                    unit: Count
                  - currentValue: 0
                    limit: 600
                    name:
                      localizedValue: Standard NV Family Cluster Dedicated vCPUs
                      value: Standard NV Family Cluster Dedicated vCPUs
                    unit: Count
                  - currentValue: 0
                    limit: 150
                    name:
                      localizedValue: Total Cluster Low Priority Regional vCPUs
                      value: Total Cluster LowPriority Regional vCPUs
                    unit: Count
                  - currentValue: 0
                    limit: 150
                    name:
                      localizedValue: Standard D Family Cluster Low Priority vCPUs
                      value: Standard D Family Cluster LowPriority vCPUs
                    unit: Count
                  - currentValue: 0
                    limit: 150
                    name:
                      localizedValue: Standard Dv2 Family Cluster Low Priority vCPUs
                      value: Standard Dv2 Family Cluster LowPriority vCPUs
                    unit: Count
                  - currentValue: 0
                    limit: 150
                    name:
                      localizedValue: Standard NC Family Cluster Low Priority vCPUs
                      value: Standard NC Family Cluster LowPriority vCPUs
                    unit: Count
                  - currentValue: 0
                    limit: 0
                    name:
                      localizedValue: Standard NCv2 Family Cluster Low Priority vCPUs
                      value: Standard NCv2 Family Cluster LowPriority vCPUs
                    unit: Count
                  - currentValue: 0
                    limit: 0
                    name:
                      localizedValue: Standard NCv3 Family Cluster Low Priority vCPUs
                      value: Standard NCv3 Family Cluster LowPriority vCPUs
                    unit: Count
                  - currentValue: 0
                    limit: 0
                    name:
                      localizedValue: Standard ND Family Cluster Low Priority vCPUs
                      value: Standard ND Family Cluster LowPriority vCPUs
                    unit: Count
                  - currentValue: 0
                    limit: 150
                    name:
                      localizedValue: Standard NV Family Cluster Low Priority vCPUs
                      value: Standard NV Family Cluster LowPriority vCPUs
                    unit: Count
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.BatchAI/workspaces":
    get:
      description: Gets a list of Workspaces associated with the given subscription.
      operationId: Workspaces_List
      parameters:
        - $ref: "#/parameters/MaxResultsParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains a formatted list of workspaces and their properties.
          schema:
            $ref: "#/definitions/WorkspaceListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Workspace
      x-ms-examples:
        List file servers:
          parameters:
            api-version: 2018-05-01
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/workspace/demo_workspace
                    location: eastus
                    name: demo_workspace
                    properties:
                      creationTime: 2017-09-27T22:28:08.325Z
                      provisioningState: succeeded
                      provisioningStateTransitionTime: 2017-09-27T22:28:08.327Z
                    type: Microsoft.BatchAI/Workspaces
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/workspaces":
    get:
      description: Gets a list of Workspaces within the specified resource group.
      operationId: Workspaces_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/MaxResultsParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains a list of workspaces within the resource group.
          schema:
            $ref: "#/definitions/WorkspaceListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Workspace
      x-ms-examples:
        List workspaces:
          parameters:
            api-version: 2018-05-01
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/workspace/demo_workspace
                    location: eastus
                    name: demo_workspace
                    properties:
                      creationTime: 2017-09-27T22:28:08.325Z
                      provisioningState: succeeded
                      provisioningStateTransitionTime: 2017-09-27T22:28:08.327Z
                    type: Microsoft.BatchAI/Workspaces
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/workspaces/{workspaceName}":
    delete:
      description: Deletes a Workspace.
      operationId: Workspaces_Delete
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful.
        "202":
          description: The operation will be completed asynchronously.
        "204":
          description: No content.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Workspace
      x-ms-examples:
        Delete a workspace:
          parameters:
            api-version: 2018-05-01
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: demo_workspace
          responses:
            "200": {}
            "202":
              headers:
                Location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/7e69f371-db62-4183-bba0-5ee577d43bd7?api-version=2018-05-01
                Retry-After: 15
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets information about a Workspace.
      operationId: Workspaces_Get
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains information about the Workspace.
          schema:
            $ref: "#/definitions/Workspace"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Workspace
      x-ms-examples:
        Get a workspace information:
          parameters:
            api-version: 2018-05-01
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: demo_workspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/workspaces/demo_workspace
                location: eastus
                name: demo_workspace
                properties:
                  creationTime: 2017-09-27T21:50:03.828Z
                  provisioningState: succeeded
                  provisioningStateTransitionTime: 2017-09-27T21:50:03.828Z
                type: Microsoft.BatchAI/Workspace
    patch:
      description: Updates properties of a Workspace.
      operationId: Workspaces_Update
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - description: Additional parameters for workspace update.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/WorkspaceUpdateParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains the Workspace entity.
          schema:
            $ref: "#/definitions/Workspace"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Workspace
      x-ms-examples:
        Update workspace tags:
          parameters:
            api-version: 2018-05-01
            parameters:
              tags:
                key1: value1
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: demo_workspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/workspaces/demo_workspace
                location: eastus
                name: demo_worksapce
                properties:
                  creationTime: 2017-09-27T21:50:03.828Z
                  provisioningState: succeeded
                  provisioningStateTransitionTime: 2017-09-27T21:50:03.828Z
                tags:
                  key1: value1
                type: Microsoft.BatchAI/Workspaces
    put:
      description: Creates a Workspace.
      operationId: Workspaces_Create
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - description: Workspace creation parameters.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/WorkspaceCreateParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains the workspace entity.
          schema:
            $ref: "#/definitions/Workspace"
        "202":
          description: The operation will be completed asynchronously.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Workspace
      x-ms-examples:
        Create a workspace:
          parameters:
            api-version: 2018-05-01
            parameters:
              location: eastus
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: demo_workspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/workspaces/demo_workspace
                location: eastus
                name: demo_worksapce
                properties:
                  creationTime: 2017-09-27T21:50:03.828Z
                  provisioningState: succeeded
                  provisioningStateTransitionTime: 2017-09-27T21:50:03.828Z
                type: Microsoft.BatchAI/Workspaces
            "202":
              headers:
                Location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/7e69f371-db62-4183-bba0-5ee577d43bd7?api-version=2018-05-01
                Retry-After: 15
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/workspaces/{workspaceName}/clusters":
    get:
      description: Gets information about Clusters associated with the given Workspace.
      operationId: Clusters_ListByWorkspace
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/MaxResultsParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains a list of Clusters and their properties.
          schema:
            $ref: "#/definitions/ClusterListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Cluster
      x-ms-examples:
        Get a list of cluster in a workspace:
          parameters:
            api-version: 2018-05-01
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: demo_workspace
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/workspace/demo_workspace/clusters/demo_cluster
                    name: demo_cluster
                    properties:
                      allocationState: resizing
                      allocationStateTransitionTime: 2017-09-27T22:28:08.998Z
                      creationTime: 2017-09-27T22:28:07.645Z
                      currentNodeCount: 0
                      nodeSetup:
                        mountVolumes:
                          azureFileShares:
                            - accountName: storage_account_name
                              azureFileUrl: https://storage_account_name.file.core.windows.net/azure_file_share_name
                              credentials: {}
                              directoryMode: "0777"
                              fileMode: "0777"
                              relativeMountPath: azfiles
                      nodeStateCounts:
                        idleNodeCount: 0
                        leavingNodeCount: 0
                        preparingNodeCount: 0
                        runningNodeCount: 0
                        unusableNodeCount: 0
                      provisioningState: succeeded
                      provisioningStateTransitionTime: 2017-09-27T22:28:08.327Z
                      scaleSettings:
                        manual:
                          nodeDeallocationOption: requeue
                          targetNodeCount: 1
                      userAccountSettings:
                        adminUserName: admin_user_name
                      virtualMachineConfiguration:
                        imageReference:
                          offer: UbuntuServer
                          publisher: Canonical
                          sku: 16.04-LTS
                          version: latest
                      vmPriority: dedicated
                      vmSize: STANDARD_NC6
                    type: Microsoft.BatchAI/Clusters
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/workspaces/{workspaceName}/clusters/{clusterName}":
    delete:
      description: Deletes a Cluster.
      operationId: Clusters_Delete
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful.
        "202":
          description: The operation will be completed asynchronously.
        "204":
          description: No content.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Cluster
      x-ms-examples:
        Delete a cluster:
          parameters:
            api-version: 2018-05-01
            clusterName: demo_cluster
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: demo_workspace
          responses:
            "200": {}
            "202":
              headers:
                Location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/7e69f371-db62-4183-bba0-5ee577d43bd7?api-version=2018-05-01
                Retry-After: 15
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets information about a Cluster.
      operationId: Clusters_Get
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains information about the Cluster.
          schema:
            $ref: "#/definitions/Cluster"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Cluster
      x-ms-examples:
        Get a cluster's information:
          parameters:
            api-version: 2018-05-01
            clusterName: demo_cluster
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: demo_workspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/workspaces/demo_workspace/clusters/demo_cluster
                name: demo_cluster
                properties:
                  allocationState: resizing
                  allocationStateTransitionTime: 2017-09-27T21:50:04.521Z
                  creationTime: 2017-09-27T21:50:02.377Z
                  currentNodeCount: 0
                  nodeSetup:
                    mountVolumes:
                      azureFileShares:
                        - accountName: storage_account_name
                          azureFileUrl: https://storage_account_name.file.core.windows.net/azure_file_share_name
                          credentials: {}
                          directoryMode: "0777"
                          fileMode: "0777"
                          relativeMountPath: azfiles
                      fileServers:
                        - fileServer:
                            id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/workspaces/demo_workspace/fileservers/fileservercedd134b
                          mountOptions: rw
                          relativeMountPath: nfs
                  nodeStateCounts:
                    idleNodeCount: 0
                    leavingNodeCount: 0
                    preparingNodeCount: 0
                    runningNodeCount: 0
                    unusableNodeCount: 0
                  provisioningState: succeeded
                  provisioningStateTransitionTime: 2017-09-27T21:50:03.828Z
                  scaleSettings:
                    manual:
                      nodeDeallocationOption: requeue
                      targetNodeCount: 1
                  subnet:
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.Network/virtualNetworks/7feb1976-8c31-4f1f-bea2-86cb1839a7bavnet/subnets/Subnet-1
                  userAccountSettings:
                    adminUserName: admin_user_name
                  virtualMachineConfiguration:
                    imageReference:
                      offer: UbuntuServer
                      publisher: Canonical
                      sku: 16.04-LTS
                      version: latest
                  vmPriority: dedicated
                  vmSize: STANDARD_NC6
                type: Microsoft.BatchAI/Clusters
    patch:
      description: Updates properties of a Cluster.
      operationId: Clusters_Update
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - description: Additional parameters for cluster update.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ClusterUpdateParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains the Cluster entity.
          schema:
            $ref: "#/definitions/Cluster"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Cluster
      x-ms-examples:
        Resize a cluster:
          parameters:
            api-version: 2018-05-01
            clusterName: demo_cluster
            parameters:
              properties:
                scaleSettings:
                  autoScale:
                    maximumNodeCount: 10
                    minimumNodeCount: 0
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: demo_workspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/workspaces/demo_workspace/clusters/demo_cluster
                name: demo_cluster
                properties:
                  allocationState: steady
                  allocationStateTransitionTime: 2017-09-27T21:43:57.664Z
                  creationTime: 2017-09-27T21:43:55.215Z
                  currentNodeCount: 0
                  nodeSetup:
                    mountVolumes:
                      azureFileShares:
                        - accountName: storage_account_name
                          azureFileUrl: https://storage_account_name.file.core.windows.net/azure_file_share_name
                          credentials: {}
                          directoryMode: "0777"
                          fileMode: "0777"
                          relativeMountPath: azfiles
                  nodeStateCounts:
                    idleNodeCount: 0
                    leavingNodeCount: 0
                    preparingNodeCount: 0
                    runningNodeCount: 0
                    unusableNodeCount: 0
                  provisioningState: succeeded
                  provisioningStateTransitionTime: 2017-09-27T21:43:56.238Z
                  scaleSettings:
                    autoScale:
                      initialNodeCount: 0
                      maximumNodeCount: 10
                      minimumNodeCount: 0
                  userAccountSettings:
                    adminUserName: admin_user_name
                  virtualMachineConfiguration:
                    imageReference:
                      offer: UbuntuServer
                      publisher: Canonical
                      sku: 16.04-LTS
                      version: latest
                  vmPriority: dedicated
                  vmSize: STANDARD_NC6
                type: Microsoft.BatchAI/Clusters
    put:
      description: Creates a Cluster in the given Workspace.
      operationId: Clusters_Create
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - description: The parameters to provide for the Cluster creation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ClusterCreateParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains the Cluster entity.
          schema:
            $ref: "#/definitions/Cluster"
        "202":
          description: The operation will be completed asynchronously.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Cluster
      x-ms-examples:
        Create a cluster:
          parameters:
            api-version: 2018-05-01
            clusterName: demo_cluster
            parameters:
              properties:
                nodeSetup:
                  mountVolumes:
                    azureFileShares:
                      - accountName: storage_account_name
                        azureFileUrl: https://storage_account_name.file.core.windows.net/azure_file_share_name
                        credentials:
                          accountKey: 00000000000000000000000000000000000000000000000000000000000000000000000000000000000000==
                        directoryMode: "0777"
                        fileMode: "0777"
                        relativeMountPath: azfiles
                    fileServers:
                      - fileServer:
                          id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/workspaces/demo_workspaces/fileservers/fileservercedd134b
                        mountOptions: rw
                        relativeMountPath: nfs
                scaleSettings:
                  manual:
                    nodeDeallocationOption: requeue
                    targetNodeCount: 1
                userAccountSettings:
                  adminUserName: admin_user_name
                  adminUserPassword: admin_user_password
                  adminUserSshPublicKey: ssh-rsa AAAAB3NzaC1yc...
                vmPriority: dedicated
                vmSize: STANDARD_NC6
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: demo_workspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/workspaces/demo_workspace/clusters/demo_cluster
                name: demo_cluster
                properties:
                  allocationState: resizing
                  allocationStateTransitionTime: 2017-09-27T21:50:04.521Z
                  creationTime: 2017-09-27T21:50:02.377Z
                  currentNodeCount: 0
                  nodeSetup:
                    mountVolumes:
                      azureFileShares:
                        - accountName: storage_account_name
                          azureFileUrl: https://storage_account_name.file.core.windows.net/azure_file_share_name
                          credentials: {}
                          directoryMode: "0777"
                          fileMode: "0777"
                          relativeMountPath: azfiles
                      fileServers:
                        - fileServer:
                            id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/workspaces/demo_workspaces/fileservers/fileservercedd134b
                          mountOptions: rw
                          relativeMountPath: nfs
                  nodeStateCounts:
                    idleNodeCount: 0
                    leavingNodeCount: 0
                    preparingNodeCount: 0
                    runningNodeCount: 0
                    unusableNodeCount: 0
                  provisioningState: succeeded
                  provisioningStateTransitionTime: 2017-09-27T21:50:03.828Z
                  scaleSettings:
                    manual:
                      nodeDeallocationOption: requeue
                      targetNodeCount: 1
                  subnet:
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.Network/virtualNetworks/7feb1976-8c31-4f1f-bea2-86cb1839a7bavnet/subnets/Subnet-1
                  userAccountSettings:
                    adminUserName: admin_user_name
                  virtualMachineConfiguration:
                    imageReference:
                      offer: UbuntuServer
                      publisher: Canonical
                      sku: 16.04-LTS
                      version: latest
                  vmPriority: dedicated
                  vmSize: STANDARD_NC6
                type: Microsoft.BatchAI/Clusters
            "202":
              headers:
                Location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/7e69f371-db62-4183-bba0-5ee577d43bd7?api-version=2018-05-01
                Retry-After: 15
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/workspaces/{workspaceName}/clusters/{clusterName}/listRemoteLoginInformation":
    post:
      description: Get the IP address, port of all the compute nodes in the Cluster.
      operationId: Clusters_ListRemoteLoginInformation
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains the list of IP addresses.
          schema:
            $ref: "#/definitions/RemoteLoginInformationListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Cluster
      x-ms-examples:
        "Get remote login information for a cluster's nodes ":
          parameters:
            api-version: 2018-05-01
            clusterName: demo_cluster
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: demo_workspace
          responses:
            "200":
              body:
                value:
                  - ipAddress: 13.84.190.124
                    nodeId: tvm-3601533753_1-20170719t162906z
                    port: 50000
                  - ipAddress: 13.84.190.124
                    nodeId: tvm-3601533753_2-20170719t162906z
                    port: 50001
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/workspaces/{workspaceName}/experiments":
    get:
      description: Gets a list of Experiments within the specified Workspace.
      operationId: Experiments_ListByWorkspace
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/MaxResultsParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains a list of experiments within the workspace.
          schema:
            $ref: "#/definitions/ExperimentListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Experiment
      x-ms-examples:
        List experiments:
          parameters:
            api-version: 2018-05-01
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: demo_workspace
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/workspace/demo_workspace/experiments/demo_experiment
                    name: demo_experiment
                    properties:
                      creationTime: 2017-09-27T22:27:52.611Z
                      provisioningState: succeeded
                      provisioningStateTransitionTime: 2017-09-27T22:28:08.327Z
                    type: Microsoft.BatchAI/Experiments
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/workspaces/{workspaceName}/experiments/{experimentName}":
    delete:
      description: Deletes an Experiment.
      operationId: Experiments_Delete
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ExperimentNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful.
        "202":
          description: The operation will be completed asynchronously.
        "204":
          description: No content.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Experiment
      x-ms-examples:
        Delete an experiment:
          parameters:
            api-version: 2018-05-01
            experimentName: demo_experiment
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: demo_workspace
          responses:
            "200": {}
            "202":
              headers:
                Location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/7e69f371-db62-4183-bba0-5ee577d43bd7?api-version=2018-05-01
                Retry-After: 15
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets information about an Experiment.
      operationId: Experiments_Get
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ExperimentNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains information about the experiment.
          schema:
            $ref: "#/definitions/Experiment"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Experiment
      x-ms-examples:
        Get an experiment information:
          parameters:
            api-version: 2018-05-01
            experimentName: demo_experiment
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: demo_workspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/workspace/demo_workspace/experiments/demo_experiment
                name: demo_experiment
                properties:
                  creationTime: 2017-09-27T22:27:52.611Z
                  provisioningState: succeeded
                  provisioningStateTransitionTime: 2017-09-27T22:28:08.327Z
                type: Microsoft.BatchAI/Experiments
    put:
      description: Creates an Experiment.
      operationId: Experiments_Create
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ExperimentNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains the experiment entity.
          schema:
            $ref: "#/definitions/Experiment"
        "202":
          description: The operation will be completed asynchronously.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Experiment
      x-ms-examples:
        Create an experiment:
          parameters:
            api-version: 2018-05-01
            experimentName: demo_experiment
            parameters:
              properties: {}
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: demo_workspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/workspaces/demo_workspace/experiments/demo_experiment
                name: demo_experiment
                properties:
                  creationTime: 2017-09-27T21:49:52.611Z
                  provisioningState: succeeded
                  provisioningStateTransitionTime: 2017-09-27T21:50:03.828Z
                type: Microsoft.BatchAI/Experiments
            "202":
              headers:
                Location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/7e69f371-db62-4183-bba0-5ee577d43bd7?api-version=2018-05-01
                Retry-After: 15
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/workspaces/{workspaceName}/experiments/{experimentName}/jobs":
    get:
      description: Gets a list of Jobs within the specified Experiment.
      operationId: Jobs_ListByExperiment
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ExperimentNameParameter"
        - $ref: "#/parameters/MaxResultsParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains a list of ExperimentJob entities associated with the experiment.
          schema:
            $ref: "#/definitions/JobListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Job
      x-ms-examples:
        List jobs in an experiment:
          parameters:
            api-version: 2018-05-01
            experimentName: demo_experimnet
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: demo_workspace
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/workspaces/demo_workspace/jobs/demo_job
                    name: demo_job
                    properties:
                      cluster:
                        id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/workspaces/demo_workspace/clusters/demo_cluster
                      constraints:
                        maxWallClockTime: P7D
                      containerSettings:
                        imageSourceRegistry:
                          image: ubuntu
                      creationTime: 2017-09-27T23:36:52.611Z
                      customToolkitSettings:
                        commandLine: echo hi | tee $AZ_BATCHAI_OUTPUT_OUTPUTS/hi.txt
                      executionInfo:
                        startTime: 2017-09-27T23:36:54.115Z
                      executionState: running
                      executionStateTransitionTime: 2017-09-27T23:36:56.395Z
                      inputDirectories:
                        - id: INPUT
                          path: $AZ_BATCHAI_MOUNT_ROOT/azfiles/input
                      jobOutputDirectoryPathSegment: 00000000-0000-0000-0000-000000000000/demo_resource_group/workspaces/demo_workspace/experiments/demo_experiment/jobs/demo_job/00000000-0000-0000-0000-000000000000
                      nodeCount: 1
                      outputDirectories:
                        - id: OUTPUTS
                          pathPrefix: $AZ_BATCHAI_MOUNT_ROOT/azfiles/
                          pathSuffix: files
                      provisioningState: succeeded
                      provisioningStateTransitionTime: 2017-09-27T23:36:53.701Z
                      schedulingPriority: normal
                      stdOutErrPathPrefix: $AZ_BATCHAI_MOUNT_ROOT/azfiles
                      toolType: custom
                    type: Microsoft.BatchAI/Jobs
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/workspaces/{workspaceName}/experiments/{experimentName}/jobs/{jobName}":
    delete:
      description: Deletes a Job.
      operationId: Jobs_Delete
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ExperimentNameParameter"
        - $ref: "#/parameters/JobNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful.
        "202":
          description: The operation will be completed asynchronously.
        "204":
          description: No content.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Job
      x-ms-examples:
        Delete a job:
          parameters:
            api-version: 2018-05-01
            experimentName: demo_experiment
            jobName: demo_job
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: demo_workspace
          responses:
            "200": {}
            "202":
              headers:
                Location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/7e69f371-db62-4183-bba0-5ee577d43bd7?api-version=2018-05-01
                Retry-After: 15
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets information about a Job.
      operationId: Jobs_Get
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ExperimentNameParameter"
        - $ref: "#/parameters/JobNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains the Job entity.
          schema:
            $ref: "#/definitions/Job"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Job
      x-ms-examples:
        Get job's information:
          parameters:
            api-version: 2018-05-01
            experimentName: demo_experiment
            jobName: demo_job
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: demo_workspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/workspaces/demo_workspace/experiments/demo_experiment/jobs/demo_job
                name: demo_job
                properties:
                  cluster:
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/clusters/demo_cluster
                  constraints:
                    maxWallClockTime: P7D
                  containerSettings:
                    imageSourceRegistry:
                      image: ubuntu
                  creationTime: 2017-09-27T23:36:52.611Z
                  customToolkitSettings:
                    commandLine: echo hi | tee $AZ_BATCHAI_OUTPUT_OUTPUTS/hi.txt
                  executionInfo:
                    startTime: 2017-09-27T23:36:54.115Z
                  executionState: running
                  executionStateTransitionTime: 2017-09-27T23:36:56.395Z
                  inputDirectories:
                    - id: INPUT
                      path: $AZ_BATCHAI_MOUNT_ROOT/azfiles/input
                  jobOutputDirectoryPathSegment: 00000000-0000-0000-0000-000000000000/demo_resource_group/workspaces/demo_workspace/experiments/demo_experiment/jobs/demo_job/00000000-0000-0000-0000-000000000000
                  nodeCount: 1
                  outputDirectories:
                    - id: OUTPUTS
                      pathPrefix: $AZ_BATCHAI_MOUNT_ROOT/azfiles/
                      pathSuffix: files
                  provisioningState: succeeded
                  provisioningStateTransitionTime: 2017-09-27T23:36:53.701Z
                  schedulingPriority: normal
                  stdOutErrPathPrefix: $AZ_BATCHAI_MOUNT_ROOT/azfiles
                  toolType: custom
                type: Microsoft.BatchAI/Jobs
    put:
      description: Creates a Job in the given Experiment.
      operationId: Jobs_Create
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ExperimentNameParameter"
        - $ref: "#/parameters/JobNameParameter"
        - description: The parameters to provide for job creation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/JobCreateParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains the job entity.
          schema:
            $ref: "#/definitions/Job"
        "202":
          description: The operation will be completed asynchronously.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Job
      x-ms-examples:
        Create a job:
          parameters:
            api-version: 2018-05-01
            experimentName: demo_experiment
            jobName: demo_job
            parameters:
              properties:
                cluster:
                  id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/workspace/demo_workspace/clusters/demo_cluster
                containerSettings:
                  imageSourceRegistry:
                    image: ubuntu
                customToolkitSettings:
                  commandLine: echo hi | tee $AZ_BATCHAI_OUTPUT_OUTPUTS/hi.txt
                inputDirectories:
                  - id: INPUT
                    path: $AZ_BATCHAI_MOUNT_ROOT/azfiles/input
                nodeCount: 1
                outputDirectories:
                  - id: OUTPUTS
                    pathPrefix: $AZ_BATCHAI_MOUNT_ROOT/azfiles/
                    pathSuffix: files
                schedulingPriority: normal
                stdOutErrPathPrefix: $AZ_BATCHAI_MOUNT_ROOT/azfiles
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: demo_workspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/workspaces/demo_workspace/experiments/demo_experiment/jobs/demo_job
                name: demo_job
                properties:
                  cluster:
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/workspaces/demo_workspace/clusters/demo_cluster
                  constraints:
                    maxWallClockTime: P7D
                  containerSettings:
                    imageSourceRegistry:
                      image: ubuntu
                  creationTime: 2017-09-27T23:36:52.611Z
                  customToolkitSettings:
                    commandLine: echo hi | tee $AZ_BATCHAI_OUTPUT_OUTPUTS/hi.txt
                  executionInfo:
                    startTime: 2017-09-27T23:36:54.115Z
                  executionState: running
                  executionStateTransitionTime: 2017-09-27T23:36:56.395Z
                  inputDirectories:
                    - id: INPUT
                      path: $AZ_BATCHAI_MOUNT_ROOT/azfiles/input
                  jobOutputDirectoryPathSegment: 00000000-0000-0000-0000-000000000000/demo_resource_group/workspaces/demo_workspace/00000000-0000-0000-0000-000000000000/experiments/demo_experiment/00000000-0000-0000-0000-000000000000/jobs/demo_job/00000000-0000-0000-0000-000000000000
                  nodeCount: 1
                  outputDirectories:
                    - id: OUTPUTS
                      pathPrefix: $AZ_BATCHAI_MOUNT_ROOT/azfiles/
                      pathSuffix: files
                  provisioningState: succeeded
                  provisioningStateTransitionTime: 2017-09-27T23:36:53.701Z
                  schedulingPriority: normal
                  stdOutErrPathPrefix: $AZ_BATCHAI_MOUNT_ROOT/azfiles
                  toolType: custom
                type: Microsoft.BatchAI/Job
            "202":
              headers:
                Location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/7e69f371-db62-4183-bba0-5ee577d43bd7?api-version=2018-05-01
                Retry-After: 15
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/workspaces/{workspaceName}/experiments/{experimentName}/jobs/{jobName}/listOutputFiles":
    post:
      description: List all directories and files inside the given directory of the Job's output directory (if the output directory is on Azure File Share or Azure Storage Container).
      operationId: Jobs_ListOutputFiles
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ExperimentNameParameter"
        - $ref: "#/parameters/JobNameParameter"
        - $ref: "#/parameters/OutputDirectoryIdParameter"
        - $ref: "#/parameters/Directory"
        - $ref: "#/parameters/DownloadLinkExpiryParameter"
        - $ref: "#/parameters/MaxResultsParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains the list of files.
          schema:
            $ref: "#/definitions/FileListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Job
      x-ms-examples:
        List a job's files:
          parameters:
            api-version: 2018-05-01
            experimentName: demo_experiment
            jobName: demo_job
            outputdirectoryid: stdouterr
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: demo_workspace
          responses:
            "200":
              body:
                value:
                  - downloadUrl: https://storage_account_name.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_job_preparation_hoste0e613b6/jobs/job/host_prep_stderr.txt?sv=2016-05-31&sr=f&sig=CNPJmjDQT9Anld9%2FdnQ52ZBpfOff2el8r4el6J%2BnpJE%3D&se=2017-09-28T01%3A22%3A35Z&sp=rl
                    fileType: file
                    name: stderr-job_prep.txt
                    properties:
                      contentLength: 0
                      lastModified: 2017-09-28T00:22:19Z
                  - downloadUrl: https://storage_account_name.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_job_preparation_hoste0e613b6/jobs/job/host_prep_stdout.txt?sv=2016-05-31&sr=f&sig=yK%2F5acWSTdcmBZGGL9%2F3IqeZ7N%2B1sRXfwB%2FaCkoRS%2Bc%3D&se=2017-09-28T01%3A22%3A35Z&sp=rl
                    fileType: file
                    name: stdout-job_prep.txt
                    properties:
                      contentLength: 720
                      lastModified: 2017-09-28T00:22:19Z
                  - downloadUrl: https://storage_account_name.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_job_preparation_hoste0e613b6/jobs/job/stderr.txt?sv=2016-05-31&sr=f&sig=TdvHhdQjvWWA0Z7aPb0oZpPgGbBPOyDarNXWHFnRS3c%3D&se=2017-09-28T01%3A22%3A35Z&sp=rl
                    fileType: file
                    name: stderr.txt
                    properties:
                      contentLength: 0
                      lastModified: 2017-09-28T00:22:19Z
                  - downloadUrl: https://storage_account_name.file.core.windows.net/share/00000000-0000-0000-0000-000000000000/test_mgmt_batchai_jobs_test_job_preparation_hoste0e613b6/jobs/job/stdout.txt?sv=2016-05-31&sr=f&sig=nyydEjNnYpQfovknJc%2B5G%2F05g0IV4acWKlfkM35lh00%3D&se=2017-09-28T01%3A22%3A35Z&sp=rl
                    fileType: file
                    name: stdout.txt
                    properties:
                      contentLength: 32
                      lastModified: 2017-09-28T00:22:19Z
                  - fileType: directory
                    name: counters
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/workspaces/{workspaceName}/experiments/{experimentName}/jobs/{jobName}/listRemoteLoginInformation":
    post:
      description: Gets a list of currently existing nodes which were used for the Job execution. The returned information contains the node ID, its public IP and SSH port.
      operationId: Jobs_ListRemoteLoginInformation
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ExperimentNameParameter"
        - $ref: "#/parameters/JobNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains compute node remote login information.
          schema:
            $ref: "#/definitions/RemoteLoginInformationListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Job
      x-ms-examples:
        Get information about nodes which ran a job:
          parameters:
            api-version: 2018-05-01
            experimentName: demo_experiment
            jobName: demo_job
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: demo_workspace
          responses:
            "200":
              body:
                value:
                  - ipAddress: 13.84.190.124
                    nodeId: tvm-3601533753_1-20170719t162906z
                    port: 50000
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/workspaces/{workspaceName}/experiments/{experimentName}/jobs/{jobName}/terminate":
    post:
      description: Terminates a job.
      operationId: Jobs_Terminate
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ExperimentNameParameter"
        - $ref: "#/parameters/JobNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful.
        "202":
          description: The operation will be completed asynchronously.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Job
      x-ms-examples:
        Terminate a job:
          parameters:
            api-version: 2018-05-01
            experimentName: demo_experiment
            jobName: demo_job
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: demo_workspace
          responses:
            "200": {}
            "202":
              headers:
                Location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/7e69f371-db62-4183-bba0-5ee577d43bd7?api-version=2018-05-01
                Retry-After: 15
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/workspaces/{workspaceName}/fileServers":
    get:
      description: Gets a list of File Servers associated with the specified workspace.
      operationId: FileServers_ListByWorkspace
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/MaxResultsParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains a list of File Servers and their properties.
          schema:
            $ref: "#/definitions/FileServerListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - FileServer
      x-ms-examples:
        Get a list of file servers:
          parameters:
            api-version: 2018-05-01
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: demo_workspace
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/workspaces/demo_workspace/fileservers/fileservercedd134b
                    name: fileservercedd134b
                    properties:
                      creationTime: 2017-09-27T21:45:28.159Z
                      dataDisks:
                        cachingType: none
                        diskCount: 2
                        diskSizeInGB: 10
                        storageAccountType: Standard_LRS
                      mountSettings:
                        fileServerInternalIP: 10.0.0.4
                        fileServerPublicIP: 13.90.141.66
                        mountPoint: /mnt/data
                      provisioningState: succeeded
                      provisioningStateTransitionTime: 2017-09-27T21:49:25.416Z
                      sshConfiguration:
                        userAccountSettings:
                          adminUserName: admin_user_name
                      subnet:
                        id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.Network/virtualNetworks/7feb1976-8c31-4f1f-bea2-86cb1839a7bavnet/subnets/Subnet-1
                      vmSize: STANDARD_NC6
                    type: Microsoft.BatchAI/FileServers
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BatchAI/workspaces/{workspaceName}/fileServers/{fileServerName}":
    delete:
      description: Deletes a File Server.
      operationId: FileServers_Delete
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/FileServerNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful.
        "202":
          description: The operation will be completed asynchronously.
        "204":
          description: No content.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - FileServer
      x-ms-examples:
        Delete a file server:
          parameters:
            api-version: 2018-05-01
            fileServerName: demo_nfs
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: demo_workspace
          responses:
            "200": {}
            "202":
              headers:
                Location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/7e69f371-db62-4183-bba0-5ee577d43bd7?api-version=2018-05-01
                Retry-After: 15
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets information about a File Server.
      operationId: FileServers_Get
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/FileServerNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains information about the FileServer.
          schema:
            $ref: "#/definitions/FileServer"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - FileServer
      x-ms-examples:
        Get a file server's information:
          parameters:
            api-version: 2018-05-01
            fileServerName: demo_nfs
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: demo_workspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/workspaces/demo_workspace/fileservers/fileservercedd134b
                name: fileservercedd134b
                properties:
                  creationTime: 2017-09-27T21:45:28.159Z
                  dataDisks:
                    cachingType: none
                    diskCount: 2
                    diskSizeInGB: 10
                    storageAccountType: Standard_LRS
                  mountSettings:
                    fileServerInternalIP: 10.0.0.4
                    fileServerPublicIP: 13.90.141.66
                    mountPoint: /mnt/data
                  provisioningState: succeeded
                  provisioningStateTransitionTime: 2017-09-27T21:49:25.416Z
                  sshConfiguration:
                    userAccountSettings:
                      adminUserName: admin_user_name
                  subnet:
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.Network/virtualNetworks/7feb1976-8c31-4f1f-bea2-86cb1839a7bavnet/subnets/Subnet-1
                  vmSize: STANDARD_NC6
                type: Microsoft.BatchAI/FileServers
    put:
      description: Creates a File Server in the given workspace.
      operationId: FileServers_Create
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/FileServerNameParameter"
        - description: The parameters to provide for File Server creation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/FileServerCreateParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains the file server entity.
          schema:
            $ref: "#/definitions/FileServer"
        "202":
          description: The operation will be completed asynchronously.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - FileServer
      x-ms-examples:
        Create a file server:
          parameters:
            api-version: 2018-05-01
            fileServerName: demo_nfs
            parameters:
              properties:
                dataDisks:
                  diskCount: 2
                  diskSizeInGB: 10
                  storageAccountType: Standard_LRS
                sshConfiguration:
                  userAccountSettings:
                    adminUserName: admin_user_name
                    adminUserPassword: admin_user_password
                vmSize: STANDARD_NC6
            resourceGroupName: demo_resource_group
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: demo_workspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.BatchAI/workspaces/demo_workspace/fileservers/fileservercedd134b
                name: demo_nfs
                properties:
                  creationTime: 2017-09-27T21:45:28.159Z
                  dataDisks:
                    cachingType: none
                    diskCount: 2
                    diskSizeInGB: 10
                    storageAccountType: Standard_LRS
                  mountSettings:
                    fileServerInternalIP: 10.0.0.4
                    fileServerPublicIP: 13.90.141.66
                    mountPoint: /mnt/data
                  provisioningState: succeeded
                  provisioningStateTransitionTime: 2017-09-27T21:49:25.416Z
                  sshConfiguration:
                    userAccountSettings:
                      adminUserName: admin_user_name
                  subnet:
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/demo_resource_group/providers/Microsoft.Network/virtualNetworks/7feb1976-8c31-4f1f-bea2-86cb1839a7bavnet/subnets/Subnet-1
                  vmSize: STANDARD_NC6
                type: Microsoft.BatchAI/FileServers
            "202":
              headers:
                Location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.BatchAI/locations/eastus/operationresults/7e69f371-db62-4183-bba0-5ee577d43bd7?api-version=2018-05-01
                Retry-After: 15
      x-ms-long-running-operation: true
definitions:
  AppInsightsReference:
    description: Azure Application Insights information for performance counters reporting.
    properties:
      component:
        $ref: "#/definitions/ResourceId"
        description: Azure Application Insights component resource ID.
        title: Component ID.
      instrumentationKey:
        description: Value of the Azure Application Insights instrumentation key.
        title: Instrumentation Key.
        type: string
      instrumentationKeySecretReference:
        $ref: "#/definitions/KeyVaultSecretReference"
        description: KeyVault Store and Secret which contains Azure Application Insights instrumentation key. One of instrumentationKey or instrumentationKeySecretReference must be specified.
        title: Instrumentation key KeyVault Secret reference.
    required:
      - component
  AutoScaleSettings:
    description: Auto-scale settings for the cluster. The system automatically scales the cluster up and down (within minimumNodeCount and maximumNodeCount) based on the number of queued and running jobs assigned to the cluster.
    properties:
      initialNodeCount:
        default: 0
        description: "The number of compute nodes to allocate on cluster creation. Note that this value is used only during cluster creation. Default: 0."
        format: int32
        title: Initial node count.
        type: integer
      maximumNodeCount:
        description: The maximum number of compute nodes the cluster can have.
        format: int32
        title: Maximum node count.
        type: integer
      minimumNodeCount:
        description: The minimum number of compute nodes the Batch AI service will try to allocate for the cluster. Note, the actual number of nodes can be less than the specified value if the subscription has not enough quota to fulfill the request.
        format: int32
        title: Minimum node count.
        type: integer
    required:
      - minimumNodeCount
      - maximumNodeCount
  AzureBlobFileSystemReference:
    description: Azure Blob Storage Container mounting configuration.
    properties:
      accountName:
        description: Name of the Azure storage account.
        title: Account name.
        type: string
      containerName:
        description: Name of the Azure Blob Storage container to mount on the cluster.
        title: Container name.
        type: string
      credentials:
        $ref: "#/definitions/AzureStorageCredentialsInfo"
        description: Information about the Azure storage credentials.
        title: Credentials.
      mountOptions:
        description: Mount options for mounting blobfuse file system.
        title: Mount options.
        type: string
      relativeMountPath:
        description: The relative path on the compute node where the Azure File container will be mounted. Note that all cluster level containers will be mounted under $AZ_BATCHAI_MOUNT_ROOT location and all job level containers will be mounted under $AZ_BATCHAI_JOB_MOUNT_ROOT.
        title: Relative mount path.
        type: string
    required:
      - accountName
      - containerName
      - credentials
      - relativeMountPath
  AzureFileShareReference:
    description: Azure File Share mounting configuration.
    properties:
      accountName:
        description: Name of the Azure storage account.
        title: Account name.
        type: string
      azureFileUrl:
        description: URL to access the Azure File.
        title: Azure File URL.
        type: string
      credentials:
        $ref: "#/definitions/AzureStorageCredentialsInfo"
        description: Information about the Azure storage credentials.
        title: Credentials.
      directoryMode:
        default: "0777"
        description: "File mode for directories on the mounted file share. Default value: 0777."
        title: Directory mode.
        type: string
      fileMode:
        default: "0777"
        description: "File mode for files on the mounted file share. Default value: 0777."
        title: File mode.
        type: string
      relativeMountPath:
        description: The relative path on the compute node where the Azure File share will be mounted. Note that all cluster level file shares will be mounted under $AZ_BATCHAI_MOUNT_ROOT location and all job level file shares will be mounted under $AZ_BATCHAI_JOB_MOUNT_ROOT.
        title: Relative mount path.
        type: string
    required:
      - accountName
      - azureFileUrl
      - credentials
      - relativeMountPath
  AzureStorageCredentialsInfo:
    description: Azure storage account credentials.
    properties:
      accountKey:
        description: Storage account key. One of accountKey or accountKeySecretReference must be specified.
        title: Account key.
        type: string
      accountKeySecretReference:
        $ref: "#/definitions/KeyVaultSecretReference"
        description: Information about KeyVault secret storing the storage account key. One of accountKey or accountKeySecretReference must be specified.
        title: Account key secret reference.
  BatchAIError:
    description: An error response from the Batch AI service.
    properties:
      code:
        description: An identifier of the error. Codes are invariant and are intended to be consumed programmatically.
        readOnly: true
        type: string
      details:
        description: A list of additional details about the error.
        items:
          $ref: "#/definitions/NameValuePair"
        readOnly: true
        type: array
      message:
        description: A message describing the error, intended to be suitable for display in a user interface.
        readOnly: true
        type: string
  CNTKsettings:
    description: CNTK (aka Microsoft Cognitive Toolkit) job settings.
    properties:
      commandLineArgs:
        description: Command line arguments that need to be passed to the python script or cntk executable.
        title: Command line arguments.
        type: string
      configFilePath:
        description: Specifies the path of the BrainScript config file. This property can be specified only if the languageType is 'BrainScript'.
        title: Config file path.
        type: string
      languageType:
        description: The language to use for launching CNTK (aka Microsoft Cognitive Toolkit) job. Valid values are 'BrainScript' or 'Python'.
        title: Language type.
        type: string
      processCount:
        description: Number of processes to launch for the job execution. The default value for this property is equal to nodeCount property
        format: int32
        title: Process count.
        type: integer
      pythonInterpreterPath:
        description: The path to the Python interpreter. This property can be specified only if the languageType is 'Python'.
        title: Python interpreter path.
        type: string
      pythonScriptFilePath:
        description: Python script to execute. This property can be specified only if the languageType is 'Python'.
        title: Python script file path.
        type: string
  Caffe2Settings:
    description: Caffe2 job settings.
    properties:
      commandLineArgs:
        description: Command line arguments that need to be passed to the python script.
        title: Command line arguments.
        type: string
      pythonInterpreterPath:
        description: The path to the Python interpreter.
        title: Python interpreter path.
        type: string
      pythonScriptFilePath:
        description: The python script to execute.
        title: Python script file path.
        type: string
    required:
      - pythonScriptFilePath
  CaffeSettings:
    description: Caffe job settings.
    properties:
      commandLineArgs:
        description: Command line arguments that need to be passed to the Caffe job.
        title: Command line arguments.
        type: string
      configFilePath:
        description: Path of the config file for the job. This property cannot be specified if pythonScriptFilePath is specified.
        title: Config file path.
        type: string
      processCount:
        description: Number of processes to launch for the job execution. The default value for this property is equal to nodeCount property
        format: int32
        title: Process count.
        type: integer
      pythonInterpreterPath:
        description: The path to the Python interpreter. The property can be specified only if the pythonScriptFilePath is specified.
        title: Python interpreter path.
[...]
