swagger: "2.0"
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: Virtual Network admin operation endpoints and objects.
  title: NetworkAdminManagementClient
  version: 2015-06-15
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/network/Microsoft.Network.Admin/preview/2015-06-15/VirtualNetworks.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-VirtualNetworks
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters: {}
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network.Admin/adminVirtualNetworks":
    get:
      description: Get a list of all virtual networks.
      operationId: VirtualNetworks_List
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - default: 2015-06-15
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
        - description: OData filter parameter.
          in: query
          name: $filter
          type: string
          x-ms-parameter-location: method
        - description: OData orderBy parameter.
          in: query
          name: $orderBy
          type: string
          x-ms-parameter-location: method
        - description: OData top parameter.
          in: query
          name: $top
          type: string
          x-ms-parameter-location: method
        - description: OData skip parameter.
          in: query
          name: $skip
          type: string
          x-ms-parameter-location: method
        - description: OData inline count parameter.
          in: query
          name: $inlineCount
          type: string
          x-ms-parameter-location: method
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/VirtualNetworksList"
      tags:
        - VirtualNetworks
      x-ms-examples:
        List of all virtual networks.:
          parameters:
            api-version: 2016-05-01
            subscriptionId: fc8456aa-4843-4079-a152-f3497c63aa73
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/fc8456aa-4843-4079-a152-f3497c63aa73/providers/Microsoft.Network.Admin/adminVirtualNetworks/TestVirtualNetwork
                    location: ""
                    name: TestVirtualNetwork
                    properties:
                      configurationState:
                        hostErrors: []
                        lastUpdatedTime: 2017-10-12T15:24:47.4985673-07:00
                        status: Success
                        virtualNetworkInterfaceErrors: []
                      provisioningState: Succeeded
                      subscriptionId: fc8456aa-4843-4079-a152-f3497c63aa73
                      tenantResourceUri: /subscriptions/fc8456aa-4843-4079-a152-f3497c63aa73/resourceGroups/GreatResource/providers/Microsoft.Network/virtualNetworks/TestVirtualNetwork
                    type: Microsoft.Network.Admin/adminVirtualNetworks
      x-ms-odata: "#/definitions/VirtualNetwork"
      x-ms-pageable:
        nextLinkName: nextLink
definitions:
  VirtualNetwork:
    allOf:
      - description: Base Resource Object
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: Region location of resource.
            readOnly: true
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key value pairs.
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
    description: This represents a virtual network.
    properties:
      properties:
        $ref: "#/definitions/VirtualNetworkProperties"
        description: Properties of a virtual network.
        x-ms-client-flatten: true
    type: object
  VirtualNetworkConfigurationState:
    description: The virtual network configuration state.
    properties:
      hostErrors:
        description: List of NIC errors associated with the resource.
        items:
          $ref: "#/definitions/VirtualNetworkConfigurationStatus"
        type: array
      lastUpdatedTime:
        description: Last updated time for the running state.
        format: date-time
        readOnly: true
        type: string
      status:
        description: The virtual network status.
        enum:
          - Failure
          - Warning
          - Success
          - Uninitialized
          - InProgress
          - Unknown
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: VirtualNetworkConfigurationStateStatusType
      virtualNetworkInterfaceErrors:
        description: List of NIC errors associated with the resource.
        items:
          $ref: "#/definitions/VirtualNetworkConfigurationStatus"
        type: array
    type: object
  VirtualNetworkConfigurationStatus:
    description: Virtual network configuration status.
    properties:
      lastUpdatedTime:
        description: Last updated time for the configuration status.
        format: date-time
        readOnly: true
        type: string
      status:
        description: The virtual network configuration status.
        enum:
          - Failure
          - Warning
          - Success
          - Uninitialized
          - InProgress
          - Unknown
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: VirtualNetworkConfigurationStatusType
    type: object
  VirtualNetworkProperties:
    allOf:
      - description: Objects which have a provisioning state.
        properties:
          provisioningState:
            description: The provisioning state.
            readOnly: true
            type: string
        type: object
      - description: These resources are utilized by a single tenant.
        properties:
          subscriptionId:
            description: The subscription ID.
            readOnly: true
            type: string
          tenantResourceUri:
            description: The tenant resource URI.
            readOnly: true
            type: string
        type: object
    description: Properties of a virtual network.
    properties:
      configurationState:
        $ref: "#/definitions/VirtualNetworkConfigurationState"
        description: The virtual network configuration state.
    type: object
  VirtualNetworksList:
    description: Pageable list of virtual networks.
    properties:
      nextLink:
        description: URI to the next page.
        type: string
      value:
        description: List of virtual networks for this page.
        items:
          $ref: "#/definitions/VirtualNetwork"
        type: array
    type: object
