openapi: 3.0.0
servers:
  - url: https://gamesmanagement.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: The Google Play Game Management API allows developers to manage resources from the Google Play Game service.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google Play Game Management
  version: v1management
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png
  x-origin:
    - format: google
      url: https://gamesmanagement.googleapis.com/$discovery/rest?version=v1management
      version: v1
  x-providerName: googleapis.com
  x-serviceName: gamesManagement
externalDocs:
  url: https://developers.google.com/games/
tags:
  - name: achievements
  - name: applications
  - name: events
  - name: players
  - name: scores
paths:
  /games/v1management/achievements/reset:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Resets all achievements for the currently authenticated player for your application. This method is only accessible to whitelisted tester accounts for your application.
      operationId: gamesManagement.achievements.resetAll
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AchievementResetAllResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/games
          Oauth2c:
            - https://www.googleapis.com/auth/games
      tags:
        - achievements
  /games/v1management/achievements/resetAllForAllPlayers:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Resets all draft achievements for all players. This method is only available to user accounts for your developer console.
      operationId: gamesManagement.achievements.resetAllForAllPlayers
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/games
          Oauth2c:
            - https://www.googleapis.com/auth/games
      tags:
        - achievements
  /games/v1management/achievements/resetMultipleForAllPlayers:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Resets achievements with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft achievements may be reset.
      operationId: gamesManagement.achievements.resetMultipleForAllPlayers
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AchievementResetMultipleForAllRequest"
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/games
          Oauth2c:
            - https://www.googleapis.com/auth/games
      tags:
        - achievements
  "/games/v1management/achievements/{achievementId}/reset":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Resets the achievement with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.
      operationId: gamesManagement.achievements.reset
      parameters:
        - description: The ID of the achievement used by this method.
          in: path
          name: achievementId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AchievementResetResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/games
          Oauth2c:
            - https://www.googleapis.com/auth/games
      tags:
        - achievements
  "/games/v1management/achievements/{achievementId}/resetForAllPlayers":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Resets the achievement with the given ID for all players. This method is only available to user accounts for your developer console. Only draft achievements can be reset.
      operationId: gamesManagement.achievements.resetForAllPlayers
      parameters:
        - description: The ID of the achievement used by this method.
          in: path
          name: achievementId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/games
          Oauth2c:
            - https://www.googleapis.com/auth/games
      tags:
        - achievements
  "/games/v1management/applications/{applicationId}/players/hidden":
    get:
      description: Get the list of players hidden from the given application. This method is only available to user accounts for your developer console.
      operationId: gamesManagement.applications.listHidden
      parameters:
        - description: The application ID from the Google Play developer console.
          in: path
          name: applicationId
          required: true
          schema:
            type: string
        - description: The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified `maxResults`.
          in: query
          name: maxResults
          schema:
            type: integer
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HiddenPlayerList"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/games
          Oauth2c:
            - https://www.googleapis.com/auth/games
      tags:
        - applications
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/games/v1management/applications/{applicationId}/players/hidden/{playerId}":
    delete:
      description: Unhide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.
      operationId: gamesManagement.players.unhide
      parameters:
        - description: The application ID from the Google Play developer console.
          in: path
          name: applicationId
          required: true
          schema:
            type: string
        - description: A player ID. A value of `me` may be used in place of the authenticated player's ID.
          in: path
          name: playerId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/games
          Oauth2c:
            - https://www.googleapis.com/auth/games
      tags:
        - players
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Hide the given player's leaderboard scores from the given application. This method is only available to user accounts for your developer console.
      operationId: gamesManagement.players.hide
      parameters:
        - description: The application ID from the Google Play developer console.
          in: path
          name: applicationId
          required: true
          schema:
            type: string
        - description: A player ID. A value of `me` may be used in place of the authenticated player's ID.
          in: path
          name: playerId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/games
          Oauth2c:
            - https://www.googleapis.com/auth/games
      tags:
        - players
  /games/v1management/events/reset:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Resets all player progress on all events for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.
      operationId: gamesManagement.events.resetAll
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/games
          Oauth2c:
            - https://www.googleapis.com/auth/games
      tags:
        - events
  /games/v1management/events/resetAllForAllPlayers:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Resets all draft events for all players. This method is only available to user accounts for your developer console.
      operationId: gamesManagement.events.resetAllForAllPlayers
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/games
          Oauth2c:
            - https://www.googleapis.com/auth/games
      tags:
        - events
  /games/v1management/events/resetMultipleForAllPlayers:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Resets events with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft events may be reset.
      operationId: gamesManagement.events.resetMultipleForAllPlayers
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventsResetMultipleForAllRequest"
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/games
          Oauth2c:
            - https://www.googleapis.com/auth/games
      tags:
        - events
  "/games/v1management/events/{eventId}/reset":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Resets all player progress on the event with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.
      operationId: gamesManagement.events.reset
      parameters:
        - description: The ID of the event.
          in: path
          name: eventId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/games
          Oauth2c:
            - https://www.googleapis.com/auth/games
      tags:
        - events
  "/games/v1management/events/{eventId}/resetForAllPlayers":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Resets the event with the given ID for all players. This method is only available to user accounts for your developer console. Only draft events can be reset.
      operationId: gamesManagement.events.resetForAllPlayers
      parameters:
        - description: The ID of the event.
          in: path
          name: eventId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/games
          Oauth2c:
            - https://www.googleapis.com/auth/games
      tags:
        - events
  "/games/v1management/leaderboards/{leaderboardId}/scores/reset":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Resets scores for the leaderboard with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.
      operationId: gamesManagement.scores.reset
      parameters:
        - description: The ID of the leaderboard.
          in: path
          name: leaderboardId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerScoreResetResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/games
          Oauth2c:
            - https://www.googleapis.com/auth/games
      tags:
        - scores
  "/games/v1management/leaderboards/{leaderboardId}/scores/resetForAllPlayers":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Resets scores for the leaderboard with the given ID for all players. This method is only available to user accounts for your developer console. Only draft leaderboards can be reset.
      operationId: gamesManagement.scores.resetForAllPlayers
      parameters:
        - description: The ID of the leaderboard.
          in: path
          name: leaderboardId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/games
          Oauth2c:
            - https://www.googleapis.com/auth/games
      tags:
        - scores
  /games/v1management/scores/reset:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Resets all scores for all leaderboards for the currently authenticated players. This method is only accessible to whitelisted tester accounts for your application.
      operationId: gamesManagement.scores.resetAll
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlayerScoreResetAllResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/games
          Oauth2c:
            - https://www.googleapis.com/auth/games
      tags:
        - scores
  /games/v1management/scores/resetAllForAllPlayers:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Resets scores for all draft leaderboards for all players. This method is only available to user accounts for your developer console.
      operationId: gamesManagement.scores.resetAllForAllPlayers
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/games
          Oauth2c:
            - https://www.googleapis.com/auth/games
      tags:
        - scores
  /games/v1management/scores/resetMultipleForAllPlayers:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Resets scores for the leaderboards with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft leaderboards may be reset.
      operationId: gamesManagement.scores.resetMultipleForAllPlayers
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScoresResetMultipleForAllRequest"
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/games
          Oauth2c:
            - https://www.googleapis.com/auth/games
      tags:
        - scores
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    AchievementResetAllResponse:
      description: Achievement reset all response.
      properties:
        kind:
          description: Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetAllResponse`.
          type: string
        results:
          description: The achievement reset results.
          items:
            $ref: "#/components/schemas/AchievementResetResponse"
          type: array
      type: object
    AchievementResetMultipleForAllRequest:
      properties:
        achievement_ids:
          description: The IDs of achievements to reset.
          items:
            type: string
          type: array
        kind:
          description: Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetMultipleForAllRequest`.
          type: string
      type: object
    AchievementResetResponse:
      description: An achievement reset response.
      properties:
        currentState:
          description: 'The current state of the achievement. This is the same as the initial state of the achievement. Possible values are: - "`HIDDEN`"- Achievement is hidden. - "`REVEALED`" - Achievement is revealed. - "`UNLOCKED`" - Achievement is unlocked. '
          type: string
        definitionId:
          description: The ID of an achievement for which player state has been updated.
          type: string
        kind:
          description: Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#achievementResetResponse`.
          type: string
        updateOccurred:
          description: Flag to indicate if the requested update actually occurred.
          type: boolean
      type: object
    EventsResetMultipleForAllRequest:
      description: Multiple events reset all request.
      properties:
        event_ids:
          description: The IDs of events to reset.
          items:
            type: string
          type: array
        kind:
          description: Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#eventsResetMultipleForAllRequest`.
          type: string
      type: object
    GamesPlayerExperienceInfoResource:
      description: 1P/3P metadata about the player's experience.
      properties:
        currentExperiencePoints:
          description: The current number of experience points for the player.
          format: int64
          type: string
        currentLevel:
          $ref: "#/components/schemas/GamesPlayerLevelResource"
          description: The current level of the player.
        lastLevelUpTimestampMillis:
          description: The timestamp when the player was leveled up, in millis since Unix epoch UTC.
          format: int64
          type: string
        nextLevel:
          $ref: "#/components/schemas/GamesPlayerLevelResource"
          description: The next level of the player. If the current level is the maximum level, this should be same as the current level.
      type: object
    GamesPlayerLevelResource:
      description: 1P/3P metadata about a user's level.
      properties:
        level:
          description: The level for the user.
          format: int32
          type: integer
        maxExperiencePoints:
          description: The maximum experience points for this level.
          format: int64
          type: string
        minExperiencePoints:
          description: The minimum experience points for this level.
          format: int64
          type: string
      type: object
    HiddenPlayer:
      description: The HiddenPlayer resource.
      properties:
        hiddenTimeMillis:
          description: Output only. The time this player was hidden.
          format: int64
          readOnly: true
          type: string
        kind:
          description: Output only. Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayer`.
          readOnly: true
          type: string
        player:
          $ref: "#/components/schemas/Player"
          description: Output only. The player information.
          readOnly: true
      type: object
    HiddenPlayerList:
      description: A list of hidden players.
      properties:
        items:
          description: The players.
          items:
            $ref: "#/components/schemas/HiddenPlayer"
          type: array
        kind:
          description: Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#hiddenPlayerList`.
          type: string
        nextPageToken:
          description: The pagination token for the next page of results.
          type: string
      type: object
    Player:
      description: A Player resource.
      properties:
        avatarImageUrl:
          description: The base URL for the image that represents the player.
          type: string
        bannerUrlLandscape:
          description: The url to the landscape mode player banner image.
          type: string
        bannerUrlPortrait:
          description: The url to the portrait mode player banner image.
          type: string
        displayName:
          description: The name to display for the player.
          type: string
        experienceInfo:
          $ref: "#/components/schemas/GamesPlayerExperienceInfoResource"
          description: An object to represent Play Game experience information for the player.
        kind:
          description: Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#player`.
          type: string
        name:
          description: An object representation of the individual components of the player's name. For some players, these fields may not be present.
          properties:
            familyName:
              description: The family name of this player. In some places, this is known as the last name.
              type: string
            givenName:
              description: The given name of this player. In some places, this is known as the first name.
              type: string
          type: object
        originalPlayerId:
          description: The player ID that was used for this player the first time they signed into the game in question. This is only populated for calls to player.get for the requesting player, only if the player ID has subsequently changed, and only to clients that support remapping player IDs.
          type: string
        playerId:
          description: The ID of the player.
          type: string
        profileSettings:
          $ref: "#/components/schemas/ProfileSettings"
          description: The player's profile settings. Controls whether or not the player's profile is visible to other players.
        title:
          description: The player's title rewarded for their game activities.
          type: string
      type: object
    PlayerScoreResetAllResponse:
      description: A list of leaderboard reset resources.
      properties:
        kind:
          description: Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetAllResponse`.
          type: string
        results:
          description: The leaderboard reset results.
          items:
            $ref: "#/components/schemas/PlayerScoreResetResponse"
          type: array
      type: object
    PlayerScoreResetResponse:
      description: A list of reset leaderboard entry resources.
      properties:
        definitionId:
          description: The ID of an leaderboard for which player state has been updated.
          type: string
        kind:
          description: Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#playerScoreResetResponse`.
          type: string
        resetScoreTimeSpans:
          description: 'The time spans of the updated score. Possible values are: - "`ALL_TIME`" - The score is an all-time score. - "`WEEKLY`" - The score is a weekly score. - "`DAILY`" - The score is a daily score. '
          items:
            type: string
          type: array
      type: object
    ProfileSettings:
      description: Profile settings
      properties:
        kind:
          description: Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#profileSettings`.
          type: string
        profileVisible:
          type: boolean
      type: object
    ScoresResetMultipleForAllRequest:
      properties:
        kind:
          description: Uniquely identifies the type of this resource. Value is always the fixed string `gamesManagement#scoresResetMultipleForAllRequest`.
          type: string
        leaderboard_ids:
          description: The IDs of leaderboards to reset.
          items:
            type: string
          type: array
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/games: Create, edit, and delete your Google Play Games activity
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/games: Create, edit, and delete your Google Play Games activity
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
