swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.
  title: SqlManagementClient
  version: 2018-06-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/preview/2018-06-01-preview/usages.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: sql-usages
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
parameters:
  ApiVersionParameter:
    description: The API version to use for the request.
    in: query
    name: api-version
    required: true
    type: string
    x-ms-parameter-location: client
  BlobAuditingPolicyNameParameter:
    description: The name of the blob auditing policy.
    enum:
      - default
    in: path
    name: blobAuditingPolicyName
    required: true
    type: string
    x-ms-parameter-location: method
  DatabaseNameParameter:
    description: The name of the database.
    in: path
    name: databaseName
    required: true
    type: string
    x-ms-parameter-location: method
  ManagedInstanceNameParameter:
    description: The name of the managed instance.
    in: path
    name: managedInstanceName
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceGroupParameter:
    description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  ServerNameParameter:
    description: The name of the server.
    in: path
    name: serverName
    required: true
    type: string
    x-ms-parameter-location: method
  SqlVirtualMachineContainerNameParameter:
    description: The name of the SqlVirtualMachineContainer.
    in: path
    name: sqlVirtualMachineContainerName
    required: true
    type: string
    x-ms-parameter-location: method
  SqlVirtualMachineInstanceNameParameter:
    description: The name of the SqlVirtualMachineInstance.
    in: path
    name: sqlVirtualMachineInstanceName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: The subscription ID that identifies an Azure subscription.
    in: path
    name: subscriptionId
    required: true
    type: string
    x-ms-parameter-location: client
  VirtualClusterNameParameter:
    description: The name of the virtual cluster.
    in: path
    name: virtualClusterName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/instancePools/{instancePoolName}/usages":
    get:
      description: Gets all instance pool usage metrics
      operationId: Usages_ListByInstancePool
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - description: The name of the instance pool to be retrieved.
          in: path
          name: instancePoolName
          required: true
          type: string
        - description: Optional request parameter to include managed instance usages within the instance pool.
          in: query
          name: expandChildren
          required: false
          type: boolean
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the instance pool usages.
          schema:
            $ref: "#/definitions/UsageListResult"
        default:
          description: |-
            *** Error Responses: ***

             * 400 InstancePoolWrongUsageName - Request for an instance pool's usage has an unsupported usage name

             * 400 InstancePoolManagedInstanceInfoUnavailable - Information for managed instances inside this instance pool is not available

             * 404 InstancePoolNotFound - An instance pool cannot be found
      tags:
        - Usages
      x-ms-examples:
        List instance pool usages expanded with children.:
          parameters:
            api-version: 2018-06-01-preview
            expandChildren: true
            instancePoolName: testIP
            resourceGroupName: group1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - currentValue: 12
                    id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/instancePools/testIP/usages/vcore_utilization
                    limit: 16
                    name:
                      localizedValue: VCore utilization
                      value: VCore utilization
                    requestedLimit: 40
                    type: Microsoft.Sql/instancePools/usages
                    unit: VCores
                  - currentValue: 384
                    id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/instancePools/testIP/usages/storage_utilization
                    limit: 8196
                    name:
                      localizedValue: Storage utilization
                      value: Storage utilization
                    requestedLimit: null
                    type: Microsoft.Sql/instancePools/usages
                    unit: VCores
                  - currentValue: 5
                    id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/instancePools/testIP/usages/database_utilization
                    limit: 100
                    name:
                      localizedValue: Database utilization
                      value: Database utilization
                    requestedLimit: null
                    type: Microsoft.Sql/instancePools/usages
                    unit: Number Of Databases
                  - currentValue: null
                    id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/instancePools/testIP/managedInstances/managedInstance1/usages/vcore_utilization
                    limit: 4
                    name:
                      localizedValue: VCore utilization
                      value: VCore utilization
                    requestedLimit: null
                    type: Microsoft.Sql/instancePools/managedInstances/usages
                    unit: VCores
                  - currentValue: null
                    id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/instancePools/testIP/managedInstances/managedInstance2/usages/vcore_utilization
                    limit: 4
                    name:
                      localizedValue: VCore utilization
                      value: VCore utilization
                    requestedLimit: 8
                    type: Microsoft.Sql/instancePools/managedInstances/usages
                    unit: VCores
                  - currentValue: null
                    id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/instancePools/testIP/managedInstances/managedInstance1/usages/storage_utilization
                    limit: 128
                    name:
                      localizedValue: Storage utilization
                      value: Storage utilization
                    requestedLimit: null
                    type: Microsoft.Sql/instancePools/managedInstances/usages
                    unit: Gigabytes
                  - currentValue: null
                    id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/instancePools/testIP/managedInstances/managedInstance2/usages/storage_utilization
                    limit: 128
                    name:
                      localizedValue: VCore utilization
                      value: VCore utilization
                    requestedLimit: 256
                    type: Microsoft.Sql/instancePools/managedInstances/usages
                    unit: Gigabytes
                  - currentValue: 2
                    id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/instancePools/testIP/managedInstances/managedInstance1/usages/database_utilization
                    limit: 100
                    name:
                      localizedValue: Database utilization
                      value: Database utilization
                    requestedLimit: null
                    type: Microsoft.Sql/instancePools/managedInstances/usages
                    unit: Number Of Databases
                  - currentValue: 3
                    id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/instancePools/testIP/managedInstances/managedInstance2/usages/database_utilization
                    limit: 100
                    name:
                      localizedValue: Database utilization
                      value: Database utilization
                    requestedLimit: null
                    type: Microsoft.Sql/instancePools/managedInstances/usages
                    unit: Number Of Databases
        List instance pool usages.:
          parameters:
            api-version: 2018-06-01-preview
            instancePoolName: testIP
            resourceGroupName: group1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - currentValue: 12
                    id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/instancePools/testIP/usages/vcore_utilization
                    limit: 16
                    name:
                      localizedValue: VCore utilization
                      value: VCore utilization
                    requestedLimit: 40
                    type: Microsoft.Sql/instancePools/usages
                    unit: VCores
                  - currentValue: 384
                    id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/instancePools/testIP/usages/storage_utilization
                    limit: 8196
                    name:
                      localizedValue: Storage utilization
                      value: Storage utilization
                    requestedLimit: null
                    type: Microsoft.Sql/instancePools/usages
                    unit: VCores
                  - currentValue: 5
                    id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/instancePools/testIP/usages/database_utilization
                    limit: 100
                    name:
                      localizedValue: Database utilization
                      value: Database utilization
                    requestedLimit: null
                    type: Microsoft.Sql/instancePools/usages
                    unit: Number Of Databases
      x-ms-pageable:
        nextLinkName: nextLink
definitions:
  Name:
    description: ARM Usage Name
    properties:
      localizedValue:
        description: Usage name localized value.
        type: string
      value:
        description: Usage name value
        type: string
    type: object
  Usage:
    description: ARM usage.
    properties:
      currentValue:
        description: Usage current value.
        format: int32
        readOnly: true
        type: integer
      id:
        description: Resource ID.
        readOnly: true
        type: string
      limit:
        description: Usage limit.
        format: int32
        readOnly: true
        type: integer
      name:
        $ref: "#/definitions/Name"
        description: Resource name.
        readOnly: true
      requestedLimit:
        description: Usage requested limit.
        format: int32
        readOnly: true
        type: integer
      type:
        description: Resource type.
        readOnly: true
        type: string
      unit:
        description: Usage unit.
        readOnly: true
        type: string
    type: object
  UsageListResult:
    description: A list of usages.
    properties:
      nextLink:
        description: Link to retrieve next page of results.
        readOnly: true
        type: string
      value:
        description: Array of results.
        items:
          $ref: "#/definitions/Usage"
        readOnly: true
        type: array
    type: object
