swagger: "2.0"
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: The Admin Storage Management Client.
  title: StorageManagementClient
  version: 2019-08-08-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/storage/Microsoft.Storage.Admin/preview/2019-08-08/storageaccounts.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: azsadmin-storageaccounts
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Authorization uses an Azure Active Directory OAuth2 flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  AccountIdParameter:
    description: Internal storage account ID, which is not visible to tenant.
    in: path
    name: accountId
    required: true
    type: string
    x-ms-parameter-location: method
  FilterParameter:
    description: Filter string
    in: query
    name: $filter
    type: string
    x-ms-parameter-location: method
  NewAccountNameParameter:
    description: New storage account name when doing undelete storage account operation.
    in: query
    name: newAccountName
    required: false
    type: string
    x-ms-parameter-location: method
  SummaryParameter:
    description: Switch for whether summary or detailed information is returned.
    in: query
    name: summary
    required: false
    type: boolean
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Storage.Admin/locations/{location}/reclaimStorageCapacity":
    post:
      description: Start reclaim storage capacity on deleted storage objects.
      operationId: StorageAccounts_ReclaimStorageCapacity
      parameters:
        - description: Subscription Id.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Resource location.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - description: REST Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK -- Reclaim storage capacity has completed.
        "202":
          description: Accepted -- reclaim storage capacity operation triggered; operation will complete asynchronously.
        default:
          description: Error Response.
          schema:
            description: The error response for request which failed.
            properties:
              code:
                description: The error description code.
                readOnly: true
                type: string
              details:
                description: The error details information.
                items:
                  type: string
                readOnly: true
                type: array
              message:
                description: The error description message.
                readOnly: true
                type: string
              target:
                description: The error target description.
                readOnly: true
                type: string
            type: object
      tags:
        - StorageAccounts
      x-ms-examples:
        Start reclaim storage capacity on deleted storage objects.:
          parameters:
            api-version: 2019-08-08-preview
            location: local
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/providers/Microsoft.Storage.Admin/locations/{location}/storageaccounts":
    get:
      description: Returns a list of storage accounts.
      operationId: StorageAccounts_List
      parameters:
        - description: Subscription Id.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Resource location.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - description: REST Api Version.
          in: query
          name: api-version
          required: true
          type: string
        - $ref: "#/parameters/FilterParameter"
        - $ref: "#/parameters/SummaryParameter"
      responses:
        "200":
          description: OK -- The list of storage accounts has been returned.
          schema:
            $ref: "#/definitions/StorageAccountList"
        default:
          description: Error Response.
          schema:
            description: The error response for request which failed.
            properties:
              code:
                description: The error description code.
                readOnly: true
                type: string
              details:
                description: The error details information.
                items:
                  type: string
                readOnly: true
                type: array
              message:
                description: The error description message.
                readOnly: true
                type: string
              target:
                description: The error target description.
                readOnly: true
                type: string
            type: object
      tags:
        - StorageAccounts
      x-ms-examples:
        Returns a list of storage accounts.:
          parameters:
            api-version: 2019-08-08-preview
            location: local
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
            summary: false
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourcegroups/System.local/providers/Microsoft.Storage.Admin/storageaccounts/0180624c67694706a4066782d83057a5
                    kind: StorageV2
                    location: local
                    name: 0180624c67694706a4066782d83057a5
                    properties:
                      accessTier: Cool
                      accountId: 0180624c67694706a4066782d83057a5
                      accountStatus: Active
                      accountType: Standard_LRS
                      creationTime: 2018-01-17T02:10:27.41
                      healthState: Healthy
                      primaryEndpoints:
                        blob: https://adminkvlclproddata004.blob.local.azurestack.external/
                        queue: https://adminkvlclproddata004.queue.local.azurestack.external/
                        table: https://adminkvlclproddata004.table.local.azurestack.external/
                      primaryLocation: local
                      provisioningState: Succeeded
                      statusOfPrimary: Available
                      tenantResourceGroupName: system.local.adminkeyvault
                      tenantStorageAccountName: adminkvlclproddata004
                      tenantSubscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
                      tenantViewId: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourcegroups/system.local.adminkeyvault/providers/Microsoft.Storage/storageaccounts/adminkvlclproddata004
                    type: Microsoft.Storage.Admin/storageaccounts
                  - id: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourcegroups/System.local/providers/Microsoft.Storage.Admin/storageaccounts/04106a84393f4a12ab8efdbc0a69bb65
                    kind: Storage
                    location: local
                    name: 04106a84393f4a12ab8efdbc0a69bb65
                    properties:
                      accountId: 04106a84393f4a12ab8efdbc0a69bb65
                      accountStatus: Active
                      accountType: Standard_LRS
                      creationTime: 2018-01-17T02:10:27.847
                      healthState: Healthy
                      primaryEndpoints:
                        blob: https://adminkvlclproddata005.blob.local.azurestack.external/
                        queue: https://adminkvlclproddata005.queue.local.azurestack.external/
                        table: https://adminkvlclproddata005.table.local.azurestack.external/
                      primaryLocation: local
                      provisioningState: Succeeded
                      statusOfPrimary: Available
                      tenantResourceGroupName: system.local.adminkeyvault
                      tenantStorageAccountName: adminkvlclproddata005
                      tenantSubscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
                      tenantViewId: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourcegroups/system.local.adminkeyvault/providers/Microsoft.Storage/storageaccounts/adminkvlclproddata005
                    type: Microsoft.Storage.Admin/storageaccounts
                  - id: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourcegroups/System.local/providers/Microsoft.Storage.Admin/storageaccounts/06e296e00b284f5cb5708dfabd6ad74c
                    kind: Storage
                    location: local
                    name: 06e296e00b284f5cb5708dfabd6ad74c
                    properties:
                      accountId: 06e296e00b284f5cb5708dfabd6ad74c
                      accountStatus: Active
                      accountType: Standard_LRS
                      creationTime: 2018-01-17T02:10:12.47
                      healthState: Healthy
                      primaryEndpoints:
                        blob: https://wasphealthaccount.blob.local.azurestack.external/
                        queue: https://wasphealthaccount.queue.local.azurestack.external/
                        table: https://wasphealthaccount.table.local.azurestack.external/
                      primaryLocation: local
                      provisioningState: Succeeded
                      statusOfPrimary: Available
                      tenantResourceGroupName: system.local
                      tenantStorageAccountName: wasphealthaccount
                      tenantSubscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
                      tenantViewId: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourcegroups/system.local/providers/Microsoft.Storage/storageaccounts/wasphealthaccount
                    type: Microsoft.Storage.Admin/storageaccounts
                  - id: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourcegroups/System.local/providers/Microsoft.Storage.Admin/storageaccounts/0a6b4f6b1de14cc08aa1fefadcc481eb
                    kind: Storage
                    location: local
                    name: 0a6b4f6b1de14cc08aa1fefadcc481eb
                    properties:
                      accountId: 0a6b4f6b1de14cc08aa1fefadcc481eb
                      accountStatus: Active
                      accountType: Standard_LRS
                      creationTime: 2018-01-17T02:10:02.527
                      healthState: Healthy
                      primaryEndpoints:
                        blob: https://frphealthaccount.blob.local.azurestack.external/
                        queue: https://frphealthaccount.queue.local.azurestack.external/
                        table: https://frphealthaccount.table.local.azurestack.external/
                      primaryLocation: local
                      provisioningState: Succeeded
                      statusOfPrimary: Available
                      tenantResourceGroupName: system.local
                      tenantStorageAccountName: frphealthaccount
                      tenantSubscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
                      tenantViewId: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourcegroups/system.local/providers/Microsoft.Storage/storageaccounts/frphealthaccount
                    type: Microsoft.Storage.Admin/storageaccounts
                  - id: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourcegroups/System.local/providers/Microsoft.Storage.Admin/storageaccounts/0d724e3f75004e48948c1bfa0b4a964a
                    kind: Storage
                    location: local
                    name: 0d724e3f75004e48948c1bfa0b4a964a
                    properties:
                      accountId: 0d724e3f75004e48948c1bfa0b4a964a
                      accountStatus: Active
                      accountType: Standard_LRS
                      creationTime: 2018-01-17T01:56:29.467
                      healthState: Healthy
                      primaryEndpoints:
                        blob: https://systemgallery.blob.local.azurestack.external/
                        queue: https://systemgallery.queue.local.azurestack.external/
                        table: https://systemgallery.table.local.azurestack.external/
                      primaryLocation: local
                      provisioningState: Succeeded
                      statusOfPrimary: Available
                      tenantResourceGroupName: system.local
                      tenantStorageAccountName: systemgallery
                      tenantSubscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
                      tenantViewId: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourcegroups/system.local/providers/Microsoft.Storage/storageaccounts/systemgallery
                    type: Microsoft.Storage.Admin/storageaccounts
                  - id: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourcegroups/System.local/providers/Microsoft.Storage.Admin/storageaccounts/0dda0879146341178603ba151d7da010
                    kind: Storage
                    location: local
                    name: 0dda0879146341178603ba151d7da010
                    properties:
                      accountId: 0dda0879146341178603ba151d7da010
                      accountStatus: Active
                      accountType: Standard_LRS
                      creationTime: 2018-01-17T02:10:23.84
                      healthState: Healthy
                      primaryEndpoints:
                        blob: https://nrpeventsaccount.blob.local.azurestack.external/
                        queue: https://nrpeventsaccount.queue.local.azurestack.external/
                        table: https://nrpeventsaccount.table.local.azurestack.external/
                      primaryLocation: local
                      provisioningState: Succeeded
                      statusOfPrimary: Available
                      tenantResourceGroupName: system.local
                      tenantStorageAccountName: nrpeventsaccount
                      tenantSubscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
                      tenantViewId: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourcegroups/system.local/providers/Microsoft.Storage/storageaccounts/nrpeventsaccount
                    type: Microsoft.Storage.Admin/storageaccounts
                  - id: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourcegroups/System.local/providers/Microsoft.Storage.Admin/storageaccounts/15612011f6094654abcb6031a4394ef5
                    kind: Storage
                    location: local
                    name: 15612011f6094654abcb6031a4394ef5
                    properties:
                      accountId: 15612011f6094654abcb6031a4394ef5
                      accountStatus: Active
                      accountType: Standard_LRS
                      creationTime: 2018-01-17T02:10:36.193
                      healthState: Healthy
                      primaryEndpoints:
                        blob: https://kvrphealthaccount.blob.local.azurestack.external/
                        queue: https://kvrphealthaccount.queue.local.azurestack.external/
                        table: https://kvrphealthaccount.table.local.azurestack.external/
                      primaryLocation: local
                      provisioningState: Succeeded
                      statusOfPrimary: Available
                      tenantResourceGroupName: system.local
                      tenantStorageAccountName: kvrphealthaccount
                      tenantSubscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
                      tenantViewId: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourcegroups/system.local/providers/Microsoft.Storage/storageaccounts/kvrphealthaccount
                    type: Microsoft.Storage.Admin/storageaccounts
                  - id: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourcegroups/System.local/providers/Microsoft.Storage.Admin/storageaccounts/17829fa81c154239ad8a6fae05f44793
                    kind: Storage
                    location: local
                    name: 17829fa81c154239ad8a6fae05f44793
                    properties:
                      accountId: 17829fa81c154239ad8a6fae05f44793
                      accountStatus: Active
                      accountType: Standard_LRS
                      creationTime: 2018-01-17T02:10:15.38
                      healthState: Healthy
                      primaryEndpoints:
                        blob: https://srpusageaccount.blob.local.azurestack.external/
                        queue: https://srpusageaccount.queue.local.azurestack.external/
                        table: https://srpusageaccount.table.local.azurestack.external/
                      primaryLocation: local
                      provisioningState: Succeeded
                      statusOfPrimary: Available
                      tenantResourceGroupName: system.local
                      tenantStorageAccountName: srpusageaccount
                      tenantSubscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
                      tenantViewId: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourcegroups/system.local/providers/Microsoft.Storage/storageaccounts/srpusageaccount
                    type: Microsoft.Storage.Admin/storageaccounts
      x-ms-pageable:
        nextLinkName: "@odata.nextLink"
  "/subscriptions/{subscriptionId}/providers/Microsoft.Storage.Admin/locations/{location}/storageaccounts/{accountId}":
    get:
      description: Returns the requested storage account.
      operationId: StorageAccounts_Get
      parameters:
        - description: Subscription Id.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Resource location.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/AccountIdParameter"
        - description: REST Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK -- The storage account has been returned.
          schema:
            $ref: "#/definitions/StorageAccount"
        default:
          description: Error Response.
          schema:
            description: The error response for request which failed.
            properties:
              code:
                description: The error description code.
                readOnly: true
                type: string
              details:
                description: The error details information.
                items:
                  type: string
                readOnly: true
                type: array
              message:
                description: The error description message.
                readOnly: true
                type: string
              target:
                description: The error target description.
                readOnly: true
                type: string
            type: object
      tags:
        - StorageAccounts
      x-ms-examples:
        Returns the requested storage account.:
          parameters:
            accountId: f93c9df9e7af487fbda484a9201d9c18
            api-version: 2019-08-08-preview
            location: local
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
            summary: "false"
          responses:
            "200":
              body:
                id: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourcegroups/System.local/providers/Microsoft.Storage.Admin/storageaccounts/f93c9df9e7af487fbda484a9201d9c18
                kind: Storage
                location: local
                name: f93c9df9e7af487fbda484a9201d9c18
                properties:
                  accountId: f93c9df9e7af487fbda484a9201d9c18
                  accountStatus: Active
                  accountType: Standard_LRS
                  creationTime: 2018-01-17T01:56:30.983
                  healthState: Healthy
                  primaryEndpoints:
                    blob: https://authprod.blob.local.azurestack.external/
                    queue: https://authprod.queue.local.azurestack.external/
                    table: https://authprod.table.local.azurestack.external/
                  primaryLocation: local
                  provisioningState: Succeeded
                  statusOfPrimary: Available
                  tenantResourceGroupName: system.local
                  tenantStorageAccountName: authprod
                  tenantSubscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
                  tenantViewId: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourcegroups/system.local/providers/Microsoft.Storage/storageaccounts/authprod
                type: Microsoft.Storage.Admin/storageaccounts
  "/subscriptions/{subscriptionId}/providers/Microsoft.Storage.Admin/locations/{location}/storageaccounts/{accountId}/undelete":
    post:
      description: Undelete a deleted storage account with new account name if the a new name is provided.
      operationId: StorageAccounts_Undelete
      parameters:
        - description: Subscription Id.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Resource location.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/AccountIdParameter"
        - description: REST Api Version.
          in: query
          name: api-version
          required: true
          type: string
        - $ref: "#/parameters/NewAccountNameParameter"
      responses:
        "200":
          description: OK -- Undelete either has been performed or account was not deleted.
          schema:
            $ref: "#/definitions/UndeleteStorageAccount"
        "202":
          description: Accepted -- undelete operation trigged; operation will complete asynchronously.
        default:
          description: Error Response.
          schema:
            description: The error response for request which failed.
            properties:
              code:
                description: The error description code.
                readOnly: true
                type: string
              details:
                description: The error details information.
                items:
                  type: string
                readOnly: true
                type: array
              message:
                description: The error description message.
                readOnly: true
                type: string
              target:
                description: The error target description.
                readOnly: true
                type: string
            type: object
      tags:
        - StorageAccounts
      x-ms-examples:
        Undelete a deleted storage account.:
          parameters:
            accountId: f93c9df9e7af487fbda484a9201d9c18
            api-version: 2019-08-08-preview
            location: local
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
            summary: "false"
          responses:
            "200":
              body:
                accountId: 80d458ce4ecd47888b54aaa277800748
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
definitions:
  EncryptionKeySource:
    description: Encryption Key Source
    enum:
      - Microsoft.Storage
    type: string
    x-ms-enum:
      modelAsString: true
      name: EncryptionKeySource
  LocationStatus:
    description: Gets the status indicating whether the primary location of the storage account is available or unavailable.
    enum:
      - Available
      - Unavailable
    readOnly: true
    type: string
    x-ms-enum:
      modelAsString: true
      name: LocationStatus
  StorageAccount:
    allOf:
      - description: Base resource object.
        properties:
          id:
            description: Resource ID.
            readOnly: true
            type: string
          location:
            description: Resource Location.
            readOnly: true
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource Type.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
    description: Properties of the storage account.
    properties:
      kind:
        $ref: "#/definitions/StorageAccountKind"
        description: Indicates the type of storage account
        readOnly: true
      properties:
        $ref: "#/definitions/StorageAccountProperties"
        description: Properties of the storage account.
        readOnly: true
        x-ms-client-flatten: true
      tags:
        additionalProperties:
          type: string
        description: Resource tags.
        readOnly: true
        type: object
    type: object
  StorageAccountAccessTier:
    description: Access tier for storage account
    enum:
      - Hot
      - Cool
    type: string
    x-ms-enum:
      modelAsString: true
      name: StorageAccountAccessTier
  StorageAccountHealthState:
    description: Health state for storage account
    enum:
      - Healthy
      - Suspended
      - OverQuota
      - SuspendedAndOverQuota
    type: string
    x-ms-enum:
      modelAsString: true
      name: StorageAccountHealthState
  StorageAccountKind:
    description: The kind of storage account
    enum:
      - Storage
      - StorageV2
      - BlobStorage
    type: string
    x-ms-enum:
      modelAsString: true
      name: StorageAccountKind
  StorageAccountList:
    description: Pageable list of storage accounts.
    properties:
      "@odata.nextLink":
        description: URI to the next page.
        readOnly: true
        type: string
      value:
        description: List of storage accounts.
        items:
          $ref: "#/definitions/StorageAccount"
        readOnly: true
        type: array
    type: object
  StorageAccountProperties:
    description: Properties of a storage account.
    properties:
      accessTier:
        $ref: "#/definitions/StorageAccountAccessTier"
        description: Required for storage accounts where kind = BlobStorage.
        readOnly: true
      accountId:
        description: Internal storage account ID, which is not visible to tenant.
        readOnly: true
        type: string
      accountStatus:
        $ref: "#/definitions/StorageAccountStatus"
        description: The status of storage account.
      accountType:
        $ref: "#/definitions/StorageAccountType"
        description: Storage account type.
        readOnly: true
      creationTime:
        description: The creation date and time of storage account in UTC.
        readOnly: true
        type: string
      deletedTime:
        description: The date-time when the storage account was deleted.
        format: date-time
        readOnly: true
        type: string
      encryption:
        $ref: "#/definitions/StorageEncryption"
        description: The storage encryption setting
        readOnly: true
      faultDomain:
        description: The fault domain for the storage account.
        readOnly: true
        type: string
      healthState:
        $ref: "#/definitions/StorageAccountHealthState"
        description: The internal health state for storage account.
        readOnly: true
      primaryEndpoints:
        additionalProperties:
          type: string
        description: The URLs that are used to perform a retrieval of a public BLOB, queue, or table object.
        readOnly: true
      primaryLocation:
        description: The primary location for the storage account.
        readOnly: true
        type: string
      provisioningState:
        $ref: "#/definitions/StorageAccountState"
        description: The provisioning state of storage account.
        readOnly: true
      statusOfPrimary:
        $ref: "#/definitions/LocationStatus"
        description: The status of primary location of storage account.
        readOnly: true
      supportsHttpsTrafficOnly:
        description: Storage account supports https traffic only or not
        readOnly: true
        type: boolean
      tenantResourceGroupName:
        description: The name of resource group under which the storage account locates.
        readOnly: true
        type: string
      tenantStorageAccountName:
        description: Storage account name from tenant view.
        readOnly: true
        type: string
      tenantSubscriptionId:
        description: Subscription ID of the subscription under which the storage account locates.
        readOnly: true
        type: string
      tenantViewId:
        description: Resource URI of storage account from tenant view.
        readOnly: true
        type: string
    type: object
  StorageAccountState:
    description: Storage account state.
    enum:
      - Creating
      - Succeeded
    readOnly: true
    type: string
    x-ms-enum:
      modelAsString: true
      name: StorageAccountState
  StorageAccountStatus:
    description: The state of storage account in WAC.
    enum:
      - Active
      - Deleted
    type: string
    x-ms-enum:
      modelAsString: true
      name: StorageAccountStatus
  StorageAccountType:
    description: Storage account type.
    enum:
      - Standard_LRS
      - Standard_GRS
      - Standard_ZRS
      - Standard_RAGRS
      - Premium_LRS
    type: string
    x-ms-enum:
      modelAsString: true
      name: StorageAccountType
  StorageEncryption:
    description: Storage encryption setting
    properties:
      keySource:
        $ref: "#/definitions/EncryptionKeySource"
        description: Encryption keySource
        readOnly: true
      services:
        $ref: "#/definitions/StorageEncryptionServices"
        description: Services for which encryption setting is mentioned
        readOnly: true
    type: object
  StorageEncryptionServices:
    description: Services for which encryption setting is mentioned.
    properties:
      blob:
        $ref: "#/definitions/StorageEncryptionSetting"
        description: Blob service.
        readOnly: true
      queue:
        $ref: "#/definitions/StorageEncryptionSetting"
        description: Queue service
        readOnly: true
      table:
        $ref: "#/definitions/StorageEncryptionSetting"
        description: Table service.
        readOnly: true
    type: object
  StorageEncryptionSetting:
    description: Storage Encryption setting
    properties:
      enabled:
        description: Bool to indicate whether enabled or not.
        readOnly: true
        type: boolean
      lastEnabledTime:
        description: A rough estimate of the date/time when the encryption was last enabled by the user.
        readOnly: true
        type: string
    type: object
  UndeleteStorageAccount:
    description: Undelete storage account information.
    properties:
      accountId:
        description: The internal wac id for storage account.
        readOnly: true
        type: string
      newAccountName:
        description: The new account name for the restored account if defined.
        readOnly: true
        type: string
    type: object
