swagger: "2.0"
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: The Admin Backup Management Client.
  title: BackupManagementClient
  version: 2018-09-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/backup/Microsoft.Backup.Admin/preview/2018-09-01/Backup.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: azsadmin-Backup
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Authorization uses an Azure Active Directory OAuth2 flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    default: 2018-09-01
    description: Client API version.
    in: query
    name: api-version
    required: true
    type: string
  ResourceGroupParameter:
    description: Name of the resource group.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.Backup.Admin/operations:
    get:
      description: Returns the list of support REST operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/OperationList"
      tags:
        - Backup
      x-ms-examples:
        Returns the list of support REST operations.:
          parameters:
            api-version: 2018-09-01
            location: local
            subscriptionId: 11111111-2222-3333-4444-555555555555
          responses:
            "200":
              body:
                nextLink: null
                value:
                  - display:
                      description: Location where backups are saved.
                      operation: Returns backup locations
                      provider: Microsoft Backup Resource Provider.
                      resource: Backup location
                    name: Microsoft.Backup.Admin/backupLocations/read
                  - display:
                      description: Create a new backup.
                      operation: Create a new backup
                      provider: Microsoft Backup Resource Provider.
                      resource: Backup
                    name: Microsoft.Backup.Admin/backupLocations/createBackup/action
                  - display:
                      description: Gets the backups.
                      operation: Get a backup
                      provider: Microsoft Backup Resource Provider.
                      resource: Backup
                    name: Microsoft.Backup.Admin/backupLocations/backups/read
                  - display:
                      description: Restore a previous backup.
                      operation: Restore a backup.
                      provider: Microsoft Backup Resource Provider.
                      resource: Backup
                    name: Microsoft.Backup.Admin/backupLocations/backups/restore/action
      x-ms-pageable:
        nextLinkName: nextLink
definitions:
  Display:
    description: Contains the localized display information for this particular operation / action.
    properties:
      description:
        description: The localized, friendly description for the operation. The description will be displayed to the user. It should be thorough and concise for used in both tooltips and detailed views.
        readOnly: true
        type: string
      operation:
        description: The localized, friendly name for the operation. Use the name as it will displayed to the user.
        readOnly: true
        type: string
      provider:
        description: The localized friendly form of the resource provider name – it is expected to also include the publisher/company responsible. It should use Title Casing and begin with "Microsoft" for 1st party services. e.g. "Microsoft Monitoring Insights" or "Microsoft Compute."
        readOnly: true
        type: string
      resource:
        description: The localized, friendly version of the resource type related to this action or operation; the resource type should match the public documentation for the resource provider.
        readOnly: true
        type: string
  LongRunningOperationStatus:
    description: Status of a long running operation.
    properties:
      code:
        description: Operation result code.
        readOnly: true
        type: string
      message:
        description: Description of the operation status.
        readOnly: true
        type: string
    type: object
  Operation:
    description: Describes the supported REST operation.
    properties:
      display:
        $ref: "#/definitions/Display"
        description: Contains the localized display information for this particular operation / action.
        readOnly: true
      name:
        description: The name of the operation being performed on this particular object. This name should match the name that appears in RBAC or the event service.
        readOnly: true
        type: string
  OperationList:
    description: List of Operations
    properties:
      nextLink:
        description: URI to the next page of operations.
        readOnly: true
        type: string
      value:
        description: Array of operations
        items:
          $ref: "#/definitions/Operation"
        readOnly: true
        type: array
  Resource:
    description: Base Resource Object
    properties:
      id:
        description: URI of the resource.
        readOnly: true
        type: string
      location:
        description: Location of the resource.
        readOnly: false
        type: string
      name:
        description: Name of the resource.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: List of key value pairs.
        readOnly: false
        type: object
      type:
        description: Type of resource.
        readOnly: true
        type: string
    type: object
    x-ms-azure-resource: true
