swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: AutomationManagement
  version: 2018-01-15
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2018-01-15/dscNode.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: automation-dscNode
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
  - text/plain
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters: {}
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/agentRegistrationInformation":
    get:
      description: Retrieve the automation agent registration information.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/agentregistrationoperations
      operationId: AgentRegistrationInformation_Get
      parameters:
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AgentRegistration"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - AgentRegistrationInformation
      x-ms-examples:
        Get the agent registration information:
          parameters:
            api-version: 2018-01-15
            automationAccountName: myAutomationAccount18
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                dscMetaConfiguration: "\r

                  \tinstance of MSFT_WebDownloadManager as $MSFT_WebDownloadManager1ref\r

                  \t{\r

                  \tResourceID = \"[ConfigurationRepositoryWeb]AzureAutomationDSC\";\r

                  \t SourceInfo = \"C:\\\\OaaS-RegistrationMetaConfig2.ps1::20::9::ConfigurationRepositoryWeb\";\r

                  \t RegistrationKey = \"5ci0000000000000000000000000000000000000000000000000000000000000000000000000000Y5H/8wFg==\"; \r

                  \t ServerURL = \"https://eus2-agentservice-prod-1.azure-automation.net/accounts/bd8fac9e-0000-0000-0000-0000f474fbf6\";\r

                  \t};\r

                  \r

                  \tinstance of MSFT_WebResourceManager as $MSFT_WebResourceManager1ref\r

                  \t{\r

                  \t SourceInfo = \"C:\\\\OaaS-RegistrationMetaConfig2.ps1::27::9::ResourceRepositoryWeb\";\r

                  \t ServerURL = \"https://eus2-agentservice-prod-1.azure-automation.net/accounts/bd8fac9e-0000-0000-0000-0000f474fbf6\";\r

                  \t ResourceID = \"[ResourceRepositoryWeb]AzureAutomationDSC\";\r

                  \t RegistrationKey = \"5ci0000000000000000000000000000000000000000000000000000000000000000000000000000Y5H/8wFg==\"; \r

                  \t};\r

                  \r

                  \tinstance of MSFT_WebReportManager as $MSFT_WebReportManager1ref\r

                  \t{\r

                  \t SourceInfo = \"C:\\\\OaaS-RegistrationMetaConfig2.ps1::34::9::ReportServerWeb\";\r

                  \t ServerURL = \"https://eus2-agentservice-prod-1.azure-automation.net/accounts/bd8fac9e-0000-0000-0000-0000f474fbf6\";\r

                  \t ResourceID = \"[ReportServerWeb]AzureAutomationDSC\";\r

                  \t RegistrationKey = \"5ci0000000000000000000000000000000000000000000000000000000000000000000000000000Y5H/8wFg==\"; \r

                  \t};\r

                  \r

                  \tinstance of MSFT_DSCMetaConfiguration as $MSFT_DSCMetaConfiguration1ref\r

                  \t{\r

                  \t RefreshMode = \"Pull\";\r

                  \t AllowModuleOverwrite = False;\r

                  \t ActionAfterReboot = \"ContinueConfiguration\";\r

                  \t RefreshFrequencyMins = 30;\r

                  \t RebootNodeIfNeeded = False;\r

                  \t ConfigurationModeFrequencyMins = 15;\r

                  \t ConfigurationMode = \"ApplyAndMonitor\";\r

                  \r

                  \t  ResourceModuleManagers = {\r

                  \t  $MSFT_WebResourceManager1ref  \r

                  \t};\r

                  \t  ReportManagers = {\r

                  \t  $MSFT_WebReportManager1ref  \r

                  \t };\r

                  \t  ConfigurationDownloadManagers = {\r

                  \t  $MSFT_WebDownloadManager1ref  \r

                  \t };\r

                  \t};\r

                  \r

                  \tinstance of OMI_ConfigurationDocument\r

                  \t{\r

                  \t Version=\"2.0.0\";\r

                  \t MinimumCompatibleVersion = \"2.0.0\";\r

                  \t CompatibleVersionAdditionalProperties= { \"MSFT_DSCMetaConfiguration:StatusRetentionTimeInDays\" };\r

                  \t Author=\"azureautomation\";\r

                  \t GenerationDate=\"04/17/2015 11:41:09\";\r

                  \t GenerationHost=\"azureautomation-01\";\r

                  \t Name=\"RegistrationMetaConfig\";\r

                  \t};\r

                  \t"
                endpoint: https://eus2-agentservice-prod-1.azure-automation.net/accounts/bd8fac9e-0000-0000-0000-0000f474fbf6
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount18/agentRegistrationInformation/https://eus2-agentservice-prod-1.azure-automation.net/accounts/bd8fac9e-0000-0000-0000-0000f474fbf6
                keys:
                  primary: 5ci0000000000000000000000000000000000000000000000000000000000000000000000000000Y5H/8wFg==
                  secondary: rVp0000000000000000000000000000000000000000000000000000000000000000000000000000f8cbmrOA==
              headers: {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/agentRegistrationInformation/regenerateKey":
    post:
      description: Regenerate a primary or secondary agent registration key
      externalDocs:
        url: http://aka.ms/azureautomationsdk/agentregistrationoperations
      operationId: AgentRegistrationInformation_RegenerateKey
      parameters:
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the agent registration key to be regenerated
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/AgentRegistrationRegenerateKeyParameter"
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AgentRegistration"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - AgentRegistrationInformation
      x-ms-examples:
        Regenerate registration key:
          parameters:
            api-version: 2018-01-15
            automationAccountName: myAutomationAccount18
            parameters:
              keyName: primary
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                dscMetaConfiguration: null
                endpoint: https://eus2-agentservice-prod-1.azure-automation.net/accounts/bd8fac9e-0000-0000-0000-0000f474fbf6
                id: null
                keys:
                  primary: 5ci0000000000000000000000000000000000000000000000000000000000000000000000000000Y5H/8wFg==
                  secondary: rVp0000000000000000000000000000000000000000000000000000000000000000000000000000f8cbmrOA==
              headers: {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodes":
    get:
      description: Retrieve a list of dsc nodes.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/dscnodeoperations
      operationId: DscNode_ListByAutomationAccount
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
        - description: The number of rows to skip.
          in: query
          name: $skip
          required: false
          type: integer
        - description: The number of rows to take.
          in: query
          name: $top
          required: false
          type: integer
        - description: Return total rows.
          in: query
          name: $inlinecount
          required: false
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DscNodeListResult"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - DscNode
      x-ms-examples:
        List DSC nodes by Automation Account:
          parameters:
            api-version: 2018-01-15
            automationAccountName: myAutomationAccount33
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId
                    name: DSCCOMP
                    properties:
                      extensionHandler:
                        - name: Microsoft.Powershell.DSC
                          version: 2.75.0.0
                      ip: ip
                      lastSeen: 2018-03-22T22:25:39.0963773+00:00
                      nodeConfiguration:
                        name: SetupServer.localhost
                      nodeId: nodeId
                      registrationTime: 2018-03-10T00:51:12.5393083+00:00
                      status: Pending
                    type: Microsoft.Automation/AutomationAccounts/Nodes
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId2
                    name: DSCCOMP2
                    properties:
                      extensionHandler:
                        - name: Microsoft.Powershell.DSC
                          version: 2.75.0.0
                      ip: ip
                      lastSeen: 2018-03-22T22:25:39.0963773+00:00
                      nodeConfiguration:
                        name: SetupServer.localhost
                      nodeId: nodeId2
                      registrationTime: 2018-03-10T00:51:12.5393083+00:00
                      status: Pending
                    type: Microsoft.Automation/AutomationAccounts/Nodes
              headers: {}
        List Paged DSC nodes by Automation Account where Node Configurations are not assigned filter:
          parameters:
            $filter: properties/nodeConfiguration/name eq ''
            $inlinecount: allpages
            $skip: 0
            $top: 20
            api-version: 2018-01-15
            automationAccountName: myAutomationAccount33
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                totalCount: 2
                value:
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/Node60
                    name: Node60
                    properties:
                      extensionHandler:
                        - name: Microsoft.Powershell.DSC
                          version: 2.75.0.0
                      ip: ip
                      lastSeen: 2018-03-22T22:25:39.0963773+00:00
                      nodeConfiguration:
                        name: ""
                      nodeId: 477F9596-92F3-479A-82F2-9EE149F2C6B0
                      registrationTime: 2018-03-10T00:51:12.5393083+00:00
                      status: Compliant
                    type: Microsoft.Automation/AutomationAccounts/Nodes
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/Node61
                    name: Node61
                    properties:
                      extensionHandler:
                        - name: Microsoft.Powershell.DSC
                          version: 2.75.0.0
                      ip: ip
                      lastSeen: 2018-03-22T22:25:39.0963773+00:00
                      nodeConfiguration:
                        name: ""
                      nodeId: E5D5D0B5-400D-48F7-A791-612945DAC5EB
                      registrationTime: 2018-03-10T00:51:12.5393083+00:00
                      status: Compliant
                    type: Microsoft.Automation/AutomationAccounts/Nodes
              headers: {}
        List Paged DSC nodes by Automation Account with Node Configuration Custom filter:
          parameters:
            $filter: contains(properties/nodeConfiguration/name,'SetupServer.localhost,SetupClient.localhost,$$Not$$Configured$$')
            $inlinecount: allpages
            $skip: 0
            $top: 4
            api-version: 2018-01-15
            automationAccountName: myAutomationAccount33
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                totalCount: 12
                value:
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/Node32
                    name: Node32
                    properties:
                      extensionHandler:
                        - name: Microsoft.Powershell.DSC
                          version: 2.75.0.0
                      ip: ip
                      lastSeen: 2018-03-22T22:25:39.0963773+00:00
                      nodeConfiguration:
                        name: ""
                      nodeId: 477F9596-92F3-479A-82F2-9EE149F2C6B0
                      registrationTime: 2018-03-10T00:51:12.5393083+00:00
                      status: Compliant
                    type: Microsoft.Automation/AutomationAccounts/Nodes
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/Node33
                    name: Node33
                    properties:
                      extensionHandler:
                        - name: Microsoft.Powershell.DSC
                          version: 2.75.0.0
                      ip: ip
                      lastSeen: 2018-03-22T22:25:39.0963773+00:00
                      nodeConfiguration:
                        name: SetupServer.localhost
                      nodeId: E5D5D0B5-400D-48F7-A791-612945DAC5EB
                      registrationTime: 2018-03-10T00:51:12.5393083+00:00
                      status: Compliant
                    type: Microsoft.Automation/AutomationAccounts/Nodes
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/Node34
                    name: Node34
                    properties:
                      extensionHandler:
                        - name: Microsoft.Powershell.DSC
                          version: 2.75.0.0
                      ip: ip
                      lastSeen: 2018-03-22T22:25:39.0963773+00:00
                      nodeConfiguration:
                        name: SetupClient.localhost
                      nodeId: Node34
                      registrationTime: 2018-03-10T00:51:12.5393083+00:00
                      status: Compliant
                    type: Microsoft.Automation/AutomationAccounts/Nodes
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/Node35
                    name: Node35
                    properties:
                      extensionHandler:
                        - name: Microsoft.Powershell.DSC
                          version: 2.75.0.0
                      ip: ip
                      lastSeen: 2018-03-22T22:25:39.0963773+00:00
                      nodeConfiguration:
                        name: SetupClient.localhost
                      nodeId: Node35
                      registrationTime: 2018-03-10T00:51:12.5393083+00:00
                      status: NotCompliant
                    type: Microsoft.Automation/AutomationAccounts/Nodes
              headers: {}
        List Paged DSC nodes by Automation Account with name filter:
          parameters:
            $filter: contains('DSCCOMP',name)
            $inlinecount: allpages
            $skip: 0
            $top: 6
            api-version: 2018-01-15
            automationAccountName: myAutomationAccount33
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                totalCount: 2
                value:
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/DSCCOMP
                    name: DSCCOMP
                    properties:
                      extensionHandler:
                        - name: Microsoft.Powershell.DSC
                          version: 2.75.0.0
                      ip: ip
                      lastSeen: 2018-03-22T22:25:39.0963773+00:00
                      nodeConfiguration:
                        name: SetupServer.localhost
                      nodeId: 708D250A-2169-4B54-89FF-76F5F71C252A
                      registrationTime: 2018-03-10T00:51:12.5393083+00:00
                      status: Compliant
                    type: Microsoft.Automation/AutomationAccounts/Nodes
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/DSCCOMP2
                    name: DSCCOMP2
                    properties:
                      extensionHandler:
                        - name: Microsoft.Powershell.DSC
                          version: 2.75.0.0
                      ip: ip
                      lastSeen: 2018-03-22T22:25:39.0963773+00:00
                      nodeConfiguration:
                        name: SetupServer.localhost
                      nodeId: 3B4BB31A-5132-4669-A15F-A17E234D1634
                      registrationTime: 2018-03-10T00:51:12.5393083+00:00
                      status: Failed
                    type: Microsoft.Automation/AutomationAccounts/Nodes
              headers: {}
        List Paged DSC nodes by Automation Account with no filters:
          parameters:
            $inlinecount: allpages
            $skip: 0
            $top: 2
            api-version: 2018-01-15
            automationAccountName: myAutomationAccount33
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                totalCount: 152
                value:
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId
                    name: DSCCOMP
                    properties:
                      extensionHandler:
                        - name: Microsoft.Powershell.DSC
                          version: 2.75.0.0
                      ip: ip
                      lastSeen: 2018-03-22T22:25:39.0963773+00:00
                      nodeConfiguration:
                        name: SetupServer.localhost
                      nodeId: FCC20208-E781-41C4-A757-17AA0429B3A4
                      registrationTime: 2018-03-10T00:51:12.5393083+00:00
                      status: Pending
                    type: Microsoft.Automation/AutomationAccounts/Nodes
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId2
                    name: DSCCOMP2
                    properties:
                      extensionHandler:
                        - name: Microsoft.Powershell.DSC
                          version: 2.75.0.0
                      ip: ip
                      lastSeen: 2018-03-22T22:25:39.0963773+00:00
                      nodeConfiguration:
                        name: SetupServer.localhost
                      nodeId: A63C781C-0C50-4825-B295-B7F8ECFD0DBC
                      registrationTime: 2018-03-10T00:51:12.5393083+00:00
                      status: Pending
                    type: Microsoft.Automation/AutomationAccounts/Nodes
              headers: {}
        List Paged DSC nodes by Automation Account with node status filter:
          parameters:
            $filter: contains(properties/status,'Compliant,NotCompliant')
            $inlinecount: allpages
            $skip: 0
            $top: 4
            api-version: 2018-01-15
            automationAccountName: myAutomationAccount33
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                totalCount: 67
                value:
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/Node12
                    name: Node12
                    properties:
                      extensionHandler:
                        - name: Microsoft.Powershell.DSC
                          version: 2.75.0.0
                      ip: ip
                      lastSeen: 2018-03-22T22:25:39.0963773+00:00
                      nodeConfiguration:
                        name: SetupServer.localhost
                      nodeId: 01D64CDE-85DD-4C9B-B8F1-2F725348FDEC
                      registrationTime: 2018-03-10T00:51:12.5393083+00:00
                      status: Compliant
                    type: Microsoft.Automation/AutomationAccounts/Nodes
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/Node13
                    name: Node13
                    properties:
                      extensionHandler:
                        - name: Microsoft.Powershell.DSC
                          version: 2.75.0.0
                      ip: ip
                      lastSeen: 2018-03-22T22:25:39.0963773+00:00
                      nodeConfiguration:
                        name: SetupServer.localhost
                      nodeId: E13076D7-A959-4067-B02F-4F014AAD22D7
                      registrationTime: 2018-03-10T00:51:12.5393083+00:00
                      status: Compliant
                    type: Microsoft.Automation/AutomationAccounts/Nodes
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/Node14
                    name: Node14
                    properties:
                      extensionHandler:
                        - name: Microsoft.Powershell.DSC
                          version: 2.75.0.0
                      ip: ip
                      lastSeen: 2018-03-22T22:25:39.0963773+00:00
                      nodeConfiguration:
                        name: SetupServer.localhost
                      nodeId: 4289B441-B9A0-4309-93FC-0C5100CFBE46
                      registrationTime: 2018-03-10T00:51:12.5393083+00:00
                      status: Compliant
                    type: Microsoft.Automation/AutomationAccounts/Nodes
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/Node15
                    name: Node15
                    properties:
                      extensionHandler:
                        - name: Microsoft.Powershell.DSC
                          version: 2.75.0.0
                      ip: ip
                      lastSeen: 2018-03-22T22:25:39.0963773+00:00
                      nodeConfiguration:
                        name: SetupServer.localhost
                      nodeId: CBD2212B-8F4C-4049-98E7-1DBCBED7343B
                      registrationTime: 2018-03-10T00:51:12.5393083+00:00
                      status: NotCompliant
                    type: Microsoft.Automation/AutomationAccounts/Nodes
              headers: {}
        List Paged DSC nodes by Automation Account with version filter:
          parameters:
            $filter: "properties/extensionHandler/any(eh: eh/version le '2.70')"
            $inlinecount: allpages
            $skip: 0
            $top: 4
            api-version: 2018-01-15
            automationAccountName: myAutomationAccount33
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                totalCount: 7
                value:
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/Node62
                    name: Node62
                    properties:
                      extensionHandler: null
                      ip: ip
                      lastSeen: 2018-03-22T22:25:39.0963773+00:00
                      nodeConfiguration:
                        name: SetupServer.localhost
                      nodeId: 01D64CDE-85DD-4C9B-B8F1-2F725348FDEC
                      registrationTime: 2018-03-10T00:51:12.5393083+00:00
                      status: Compliant
                    type: Microsoft.Automation/AutomationAccounts/Nodes
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/Node63
                    name: Node63
                    properties:
                      extensionHandler:
                        - name: Microsoft.Powershell.DSC
                          version: 2.70.0.0
                      ip: ip
                      lastSeen: 2018-03-22T22:25:39.0963773+00:00
                      nodeConfiguration:
                        name: SetupServer.localhost
                      nodeId: E13076D7-A959-4067-B02F-4F014AAD22D7
                      registrationTime: 2018-03-10T00:51:12.5393083+00:00
                      status: Compliant
                    type: Microsoft.Automation/AutomationAccounts/Nodes
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/Node64
                    name: Node64
                    properties:
                      extensionHandler:
                        - name: Microsoft.Powershell.DSC
                          version: 2.70.0.0
                      ip: ip
                      lastSeen: 2018-03-22T22:25:39.0963773+00:00
                      nodeConfiguration:
                        name: SetupServer.localhost
                      nodeId: 4289B441-B9A0-4309-93FC-0C5100CFBE46
                      registrationTime: 2018-03-10T00:51:12.5393083+00:00
                      status: Compliant
                    type: Microsoft.Automation/AutomationAccounts/Nodes
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/Node65
                    name: Node65
                    properties:
                      extensionHandler: null
                      ip: ip
                      lastSeen: 2018-03-22T22:25:39.0963773+00:00
                      nodeConfiguration:
                        name: SetupServer.localhost
                      nodeId: CBD2212B-8F4C-4049-98E7-1DBCBED7343B
                      registrationTime: 2018-03-10T00:51:12.5393083+00:00
                      status: NotCompliant
                    type: Microsoft.Automation/AutomationAccounts/Nodes
              headers: {}
        List Paged DSC nodes with filters separated by 'and':
          parameters:
            $filter: "properties/extensionHandler/any(eh: eh/version gt '2.70') and contains(name,'sql') and contains(properties/nodeConfiguration/name,'$$Not$$Configured$$')"
            $inlinecount: allpages
            $skip: 0
            $top: 10
            api-version: 2018-01-15
            automationAccountName: myAutomationAccount33
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                totalCount: 1
                value:
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/Sql1
                    name: Sql1
                    properties:
                      extensionHandler:
                        - name: Microsoft.Powershell.DSC
                          version: 2.70.0.1
                      ip: ip
                      lastSeen: 2018-03-22T22:25:39.0963773+00:00
                      nodeConfiguration:
                        name: SetupSqlServer.localhost
                      nodeId: 01D64CDE-85DD-4C9B-B8F1-2F725348FDEC
                      registrationTime: 2018-03-10T00:51:12.5393083+00:00
                      status: Compliant
                    type: Microsoft.Automation/AutomationAccounts/Nodes
              headers: {}
      x-ms-odata: "#/definitions/DscNode"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodes/{nodeId}":
    delete:
      description: Delete the dsc node identified by node id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/dscnodeoperations
      operationId: DscNode_Delete
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The node id.
          in: path
          name: nodeId
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DscNode"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - DscNode
      x-ms-examples:
        Delete a DSC Node:
          parameters:
            api-version: 2018-01-15
            automationAccountName: myAutomationAccount9
            nodeId: e1243a76-a9bd-432f-bde3-ad8f317ee786
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200": {}
    get:
      description: Retrieve the dsc node identified by node id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/dscnodeoperations
      operationId: DscNode_Get
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The node id.
          in: path
          name: nodeId
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DscNode"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - DscNode
      x-ms-examples:
        Get a node:
          parameters:
            api-version: 2018-01-15
            automationAccountName: myAutomationAccount33
            nodeId: nodeId
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId
                name: DSCCOMP
                properties:
                  extensionHandler:
                    - name: Microsoft.Powershell.DSC
                      version: 2.75.0.0
                  ip: ip
                  lastSeen: 2018-03-22T22:25:39.0963773+00:00
                  nodeConfiguration:
                    name: SetupServer.localhost
                  nodeId: nodeId
                  registrationTime: 2018-03-10T00:51:12.5393083+00:00
                  status: Pending
                type: Microsoft.Automation/AutomationAccounts/Nodes
              headers: {}
    patch:
      description: Update the dsc node.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/dscnodeoperations
      operationId: DscNode_Update
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Parameters supplied to the update dsc node.
          in: path
          name: nodeId
          required: true
          type: string
        - description: Parameters supplied to the update dsc node.
          in: body
          name: dscNodeUpdateParameters
          required: true
          schema:
            $ref: "#/definitions/DscNodeUpdateParameters"
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DscNode"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - DscNode
      x-ms-examples:
        Update a node:
          parameters:
            api-version: 2018-01-15
            automationAccountName: myAutomationAccount33
            dscNodeUpdateParameters:
              nodeId: nodeId
              properties:
                nodeConfiguration:
                  name: SetupServer.localhost
            nodeId: nodeId
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId
                name: DSCCOMP
                properties:
                  extensionHandler:
                    - name: Microsoft.Powershell.DSC
                      version: 2.75.0.0
                  ip: ip
                  lastSeen: 2018-03-22T22:25:39.0963773+00:00
                  nodeConfiguration:
                    name: SetupServer.localhost
                  nodeId: nodeId
                  registrationTime: 2018-03-10T00:51:12.5393083+00:00
                  status: Pending
                type: Microsoft.Automation/AutomationAccounts/Nodes
              headers: {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodes/{nodeId}/reports":
    get:
      description: Retrieve the Dsc node report list by node id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/dscnodereportoperations
      operationId: NodeReports_ListByNode
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The parameters supplied to the list operation.
          in: path
          name: nodeId
          required: true
          type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DscNodeReportListResult"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - NodeReports
      x-ms-examples:
        List DSC reports by node id.:
          parameters:
            api-version: 2018-01-15
            automationAccountName: myAutomationAccount33
            nodeId: nodeId
            reportId: 903a5ead-140c-11e7-a943-000d3a6140c9
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - configurationVersion: 2.0.0
                    endTime: 2017-03-28T23:16:27.587+00:00
                    id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/903a5ead-140c-11e7-a943-000d3a6140c9
                    lastModifiedTime: 2017-03-28T23:16:29.4440401+00:00
                    rebootRequested: "False"
                    refreshMode: Pull
                    reportFormatVersion: "2.0"
                    reportId: 903a5ead-140c-11e7-a943-000d3a6140c9
                    startTime: 2017-03-28T23:16:27.587+00:00
                    status: Compliant
                    type: Consistency
                  - configurationVersion: 2.0.0
                    endTime: 2017-03-28T23:16:27.015+00:00
                    id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/903a5eac-140c-11e7-a943-000d3a6140c9
                    lastModifiedTime: 2017-03-28T23:16:28.3813034+00:00
                    rebootRequested: "False"
                    refreshMode: Pull
                    reportFormatVersion: "2.0"
                    reportId: 903a5eac-140c-11e7-a943-000d3a6140c9
                    startTime: 2017-03-28T23:16:26.015+00:00
                    status: Compliant
                    type: Consistency
                  - configurationVersion: 2.0.0
                    endTime: 2017-03-28T23:01:26.986+00:00
                    id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/77c280c2-140a-11e7-a943-000d3a6140c9
                    lastModifiedTime: 2017-03-28T23:01:28.216963+00:00
                    rebootRequested: "False"
                    refreshMode: Pull
                    reportFormatVersion: "2.0"
                    reportId: 77c280c2-140a-11e7-a943-000d3a6140c9
                    startTime: 2017-03-28T23:01:25.986+00:00
                    status: Compliant
                    type: Consistency
                  - configurationVersion: 2.0.0
                    endTime: 2017-03-28T22:46:28.668+00:00
                    id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/5f4f5382-1408-11e7-a943-000d3a6140c9
                    lastModifiedTime: 2017-03-28T22:46:29.0439184+00:00
                    rebootRequested: "False"
                    refreshMode: Pull
                    reportFormatVersion: "2.0"
                    reportId: 5f4f5382-1408-11e7-a943-000d3a6140c9
                    startTime: 2017-03-28T22:46:27.668+00:00
                    status: Compliant
                    type: Consistency
                  - configurationVersion: 2.0.0
                    endTime: 2017-03-28T22:46:26.957+00:00
                    id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/5f4f5381-1408-11e7-a943-000d3a6140c9
                    lastModifiedTime: 2017-03-28T22:46:27.9498533+00:00
                    rebootRequested: "False"
                    refreshMode: Pull
                    reportFormatVersion: "2.0"
                    reportId: 5f4f5381-1408-11e7-a943-000d3a6140c9
                    startTime: 2017-03-28T22:46:25.957+00:00
                    status: Compliant
                    type: Consistency
                  - configurationVersion: 2.0.0
                    endTime: 2017-03-28T22:31:26.941+00:00
                    id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/46d97d6a-1406-11e7-a943-000d3a6140c9
                    lastModifiedTime: 2017-03-28T22:31:27.6825492+00:00
                    rebootRequested: "False"
                    refreshMode: Pull
                    reportFormatVersion: "2.0"
                    reportId: 46d97d6a-1406-11e7-a943-000d3a6140c9
                    startTime: 2017-03-28T22:31:25.941+00:00
                    status: Compliant
                    type: Consistency
                  - configurationVersion: 2.0.0
                    endTime: 2017-03-28T22:17:10.163+00:00
                    id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/48c8e301-1404-11e7-a943-000d3a6140c9
                    lastModifiedTime: 2017-03-28T22:17:11.0040472+00:00
                    rebootRequested: "False"
                    refreshMode: Pull
                    reportFormatVersion: "2.0"
                    reportId: 48c8e301-1404-11e7-a943-000d3a6140c9
                    startTime: 2017-03-28T22:17:10.163+00:00
                    status: Failed
                    type: Consistency
                  - configurationVersion: 2.0.0
                    endTime: 2017-03-28T22:17:09.897+00:00
                    id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/2e63fdbc-1404-11e7-a943-000d3a6140c9
                    lastModifiedTime: 2017-03-28T22:16:27.3128731+00:00
                    rebootRequested: "False"
                    refreshMode: Pull
                    reportFormatVersion: "2.0"
                    reportId: 2e63fdbc-1404-11e7-a943-000d3a6140c9
                    startTime: 2017-03-28T22:16:25.897+00:00
                    status: Compliant
                    type: Consistency
                  - configurationVersion: 2.0.0
                    endTime: 2017-03-28T22:01:27.899+00:00
                    id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/15ee63e4-1402-11e7-a943-000d3a6140c9
                    lastModifiedTime: 2017-03-28T22:01:26.6282252+00:00
                    rebootRequested: "False"
                    refreshMode: Pull
                    reportFormatVersion: "2.0"
                    reportId: 15ee63e4-1402-11e7-a943-000d3a6140c9
                    startTime: 2017-03-28T22:01:25.899+00:00
                    status: Compliant
                    type: Consistency
                  - configurationVersion: 2.0.0
                    endTime: 2017-03-28T21:46:39.511+00:00
                    id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/0508f316-1400-11e7-a943-000d3a6140c9
                    lastModifiedTime: 2017-03-28T21:46:40.577983+00:00
                    rebootRequested: "False"
                    refreshMode: Pull
                    reportFormatVersion: "2.0"
                    reportId: 0508f316-1400-11e7-a943-000d3a6140c9
                    startTime: 2017-03-28T21:46:38.511+00:00
                    status: Failed
                    type: Consistency
                  - configurationVersion: 2.0.0
                    endTime: 2017-03-28T21:46:37.843+00:00
                    id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/fd799a51-13ff-11e7-a943-000d3a6140c9
                    lastModifiedTime: 2017-03-28T21:46:28.4660077+00:00
                    rebootRequested: "False"
                    refreshMode: Pull
                    reportFormatVersion: "2.0"
                    reportId: fd799a51-13ff-11e7-a943-000d3a6140c9
                    startTime: 2017-03-28T21:46:25.843+00:00
                    status: Compliant
                    type: Consistency
                  - configurationVersion: 2.0.0
                    endTime: 2017-03-28T21:31:27.818+00:00
                    id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/e504ae1b-13fd-11e7-a943-000d3a6140c9
                    lastModifiedTime: 2017-03-28T21:31:28.1503168+00:00
                    rebootRequested: "False"
                    refreshMode: Pull
                    reportFormatVersion: "2.0"
                    reportId: e504ae1b-13fd-11e7-a943-000d3a6140c9
                    startTime: 2017-03-28T21:31:25.818+00:00
                    status: Compliant
                    type: Consistency
                  - configurationVersion: 2.0.0
                    endTime: 2017-03-28T21:16:59.538+00:00
                    id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/cd3ed224-13fb-11e7-a943-000d3a6140c9
                    lastModifiedTime: 2017-03-28T21:16:37.1768158+00:00
                    rebootRequested: "False"
                    refreshMode: Pull
                    reportFormatVersion: "2.0"
                    reportId: cd3ed224-13fb-11e7-a943-000d3a6140c9
                    startTime: 2017-03-28T21:16:35.538+00:00
                    status: Compliant
                    type: Consistency
                  - configurationVersion: 2.0.0
                    endTime: 2017-03-28T21:16:34.956+00:00
                    id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/cd3ed223-13fb-11e7-a943-000d3a6140c9
                    lastModifiedTime: 2017-03-28T21:16:29.2370664+00:00
                    rebootRequested: "False"
                    refreshMode: Pull
                    reportFormatVersion: "2.0"
                    reportId: cd3ed223-13fb-11e7-a943-000d3a6140c9
                    startTime: 2017-03-28T21:16:26.956+00:00
                    status: Compliant
                    type: Consistency
                  - configurationVersion: 2.0.0
                    endTime: 2017-03-28T21:02:02.916+00:00
                    id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/b6915efa-13f9-11e7-a943-000d3a6140c9
                    lastModifiedTime: 2017-03-28T21:01:31.875597+00:00
                    rebootRequested: "False"
                    refreshMode: Pull
                    reportFormatVersion: "2.0"
                    reportId: b6915efa-13f9-11e7-a943-000d3a6140c9
                    startTime: 2017-03-28T21:01:29.916+00:00
                    status: Compliant
                    type: Consistency
                  - configurationVersion: 2.0.0
                    endTime: 2017-03-28T20:46:44.626+00:00
                    id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/a3560dca-13f7-11e7-a943-000d3a6140c9
                    lastModifiedTime: 2017-03-28T20:46:39.749649+00:00
                    rebootRequested: "False"
                    refreshMode: Pull
                    reportFormatVersion: "2.0"
                    reportId: a3560dca-13f7-11e7-a943-000d3a6140c9
                    startTime: 2017-03-28T20:46:38.626+00:00
                    status: Failed
                    type: Consistency
                  - configurationVersion: 2.0.0
                    endTime: 2017-03-28T20:46:37.676+00:00
                    id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/9b9bb016-13f7-11e7-a943-000d3a6140c9
                    lastModifiedTime: 2017-03-28T20:46:27.2602881+00:00
                    rebootRequested: "False"
                    refreshMode: Pull
                    reportFormatVersion: "2.0"
                    reportId: 9b9bb016-13f7-11e7-a943-000d3a6140c9
                    startTime: 2017-03-28T20:46:25.676+00:00
                    status: Compliant
                    type: Consistency
                  - configurationVersion: 2.0.0
                    endTime: 2017-03-28T20:40:24.805+00:00
                    id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/833bd89b-13f5-11e7-a943-000d3a6140c9
                    lastModifiedTime: 2017-03-28T20:31:27.1356547+00:00
                    rebootRequested: "False"
                    refreshMode: Pull
                    reportFormatVersion: "2.0"
                    reportId: 833bd89b-13f5-11e7-a943-000d3a6140c9
                    startTime: 2017-03-28T20:31:25.805+00:00
                    status: Compliant
                    type: Consistency
              headers: {}
      x-ms-odata: "#/definitions/DscNodeReport"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodes/{nodeId}/reports/{reportId}":
    get:
      description: Retrieve the Dsc node report data by node id and report id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/dscnodereportoperations
      operationId: NodeReports_Get
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The Dsc node id.
          in: path
          name: nodeId
          required: true
          type: string
        - description: The report id.
          in: path
          name: reportId
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DscNodeReport"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - NodeReports
      x-ms-examples:
        "Get Dsc node report data by node id and report id. ":
          parameters:
            api-version: 2018-01-15
            automationAccountName: myAutomationAccount33
            nodeId: nodeId
            reportId: 903a5ead-140c-11e7-a943-000d3a6140c9
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                configurationVersion: 2.0.0
                endTime: 2017-03-28T23:16:27.587+00:00
                errors: []
                hostName: DSCCOMP
                iPV4Addresses:
                  - 172.16.2.5
                  - 127.0.0.1
                iPV6Addresses:
                  - fe80::4c51:9518:aa3c:256a%5
                  - ::2000:0:0:0
                  - ::1
                  - ::2000:0:0:0
                  - 2001:0:9d38:78cf:106b:130a:53ef:fdfa
                  - fe80::106b:130a:53ef:fdfa%7
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/903a5ead-140c-11e7-a943-000d3a6140c9
                lastModifiedTime: 2017-03-28T23:16:29.4440401+00:00
                metaConfiguration:
                  actionAfterReboot: ContinueConfiguration
                  allowModuleOverwrite: false
                  certificateId: certId
                  configurationMode: ApplyAndMonitor
                  configurationModeFrequencyMins: 15
                  rebootNodeIfNeeded: false
                  refreshFrequencyMins: 30
                numberOfResources: 1
                rawErrors: null
                rebootRequested: "False"
                refreshMode: Pull
                reportFormatVersion: "2.0"
                reportId: 903a5ead-140c-11e7-a943-000d3a6140c9
                resources:
                  - dependsOn: []
                    durationInSeconds: 0.25
                    error: null
                    moduleName: PsDesiredStateConfiguration
                    moduleVersion: "1.1"
                    resourceId: "[WindowsFeature]IIS"
                    resourceName: WindowsFeature
                    sourceInfo: ::4::32::WindowsFeature
                    startDate: 2017-03-28T23:16:28.181+00:00
                    status: Compliant
                startTime: 2017-03-28T23:16:27.587+00:00
                status: Compliant
                type: Consistency
              headers: {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodes/{nodeId}/reports/{reportId}/content":
    get:
      description: Retrieve the Dsc node reports by node id and report id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/dscnodereportoperations
      operationId: NodeReports_GetContent
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The Dsc node id.
          in: path
          name: nodeId
          required: true
          type: string
        - description: The report id.
          in: path
          name: reportId
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            type: object
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - NodeReports
      x-ms-examples:
        Get content of node:
          parameters:
            api-version: 2018-01-15
            automationAccountName: myAutomationAccount33
            nodeId: nodeId
            reportId: reportId
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                AdditionalData:
                  - Key: OSVersion
                    Value: '{"VersionString":"Microsoft Windows NT 6.1.7601 Service Pack 1","ServicePack":"Service Pack 1","Platform":"Win32NT"}'
                  - Key: PSVersion
                    Value: '{"CLRVersion":"4.0.30319.42000","PSVersion":"5.1.14409.1012","BuildVersion":"10.0.14409.1012"}'
                Errors: []
                IpAddress: 10.13.49.8;127.0.0.1;fe80::2cc0:8062:a210:e1c6%11;::2000:0:0:0;::1;::2000:0:0:0
                JobId: eabe061f-2e1f-11e8-8d01-000d3a18dec4
                LCMVersion: "2.0"
                NodeName: ANAGG-2008R2
                OperationType: Consistency
                ReportFormatVersion: "2.0"
                StartTime: 2018-03-22T22:25:26.2140000+00:00
                StatusData:
                  - '{"IPV4Addresses":["10.13.49.8","127.0.0.1"],"MACAddresses":["00-0D-3A-18-DE-C4","00-00-00-00-00-00-00-E0"],"Type":"Consistency","HostName":"ANAGG-2008R2","Locale":"en-US","StartDate":"2018-03-22T22:25:26.2140000+00:00","JobID":"{EABE061F-2E1F-11E8-8D01-000D3A18DEC4}","LCMVersion":"2.0","IPV6Addresses":["fe80::2cc0:8062:a210:e1c6%11","::2000:0:0:0","::1","::2000:0:0:0"]}'
              headers:
                content-type: text/plain
definitions:
  AgentRegistration:
    description: Definition of the agent registration information type.
    properties:
      dscMetaConfiguration:
        description: Gets or sets the dsc meta configuration.
        type: string
      endpoint:
        description: Gets or sets the dsc server endpoint.
        type: string
      id:
        description: Gets or sets the id.
        type: string
      keys:
        $ref: "#/definitions/AgentRegistrationKeys"
        description: Gets or sets the agent registration keys.
  AgentRegistrationKeys:
    description: Definition of the agent registration keys.
    properties:
      primary:
        description: Gets or sets the primary key.
        type: string
      secondary:
        description: Gets or sets the secondary key.
        type: string
  AgentRegistrationRegenerateKeyParameter:
    description: The parameters supplied to the regenerate keys operation.
    properties:
      keyName:
        description: Gets or sets the agent registration key name - primary or secondary.
        enum:
          - primary
          - secondary
        type: string
        x-ms-enum:
          modelAsString: true
          name: AgentRegistrationKeyName
    required:
      - keyName
  DscMetaConfiguration:
    description: Definition of the DSC Meta Configuration.
    properties:
      actionAfterReboot:
        description: Gets or sets the ActionAfterReboot value of the meta configuration.
        type: string
      allowModuleOverwrite:
        description: Gets or sets the AllowModuleOverwrite value of the meta configuration.
        type: boolean
      certificateId:
        description: Gets or sets the CertificateId value of the meta configuration.
        type: string
      configurationMode:
        description: Gets or sets the ConfigurationMode value of the meta configuration.
        type: string
      configurationModeFrequencyMins:
        description: Gets or sets the ConfigurationModeFrequencyMins value of the meta configuration.
        format: int32
        type: integer
      rebootNodeIfNeeded:
        description: Gets or sets the RebootNodeIfNeeded value of the meta configuration.
        type: boolean
      refreshFrequencyMins:
        description: Gets or sets the RefreshFrequencyMins value of the meta configuration.
        format: int32
        type: integer
  DscNode:
    allOf:
      - allOf:
          - description: The core properties of ARM resources
            properties:
              id:
                description: Fully qualified resource Id for the resource
                readOnly: true
                type: string
              name:
                description: The name of the resource
                readOnly: true
                type: string
              type:
                description: The type of the resource.
                readOnly: true
                type: string
            type: object
            x-ms-azure-resource: true
        description: ARM proxy resource.
        properties: {}
        type: object
    description: Definition of a DscNode
    properties:
      properties:
        $ref: "#/definitions/DscNodeProperties"
        description: The properties of a DscNode.
        x-ms-client-flatten: true
  DscNodeConfigurationAssociationProperty:
    description: The dsc node configuration property associated with the entity.
    properties:
      name:
        description: Gets or sets the name of the dsc node configuration.
        type: string
  DscNodeExtensionHandlerAssociationProperty:
    description: The dsc extensionHandler property associated with the node
    properties:
      name:
        description: Gets or sets the name of the extension handler.
        type: string
      version:
        description: Gets or sets the version of the extension handler.
        type: string
  DscNodeListResult:
    description: The response model for the list dsc nodes operation.
    properties:
      nextLink:
        description: Gets or sets the next link.
        type: string
      totalCount:
        description: Gets the total number of nodes matching filter criteria.
        type: integer
      value:
        description: Gets or sets a list of dsc nodes.
        items:
          $ref: "#/definitions/DscNode"
        type: array
  DscNodeProperties:
    description: The properties of a DscNode
    properties:
      accountId:
        description: Gets or sets the account id of the node.
        type: string
      etag:
        description: Gets or sets the etag of the resource.
        type: string
      extensionHandler:
        description: Gets or sets the list of extensionHandler properties for a Node.
        items:
          $ref: "#/definitions/DscNodeExtensionHandlerAssociationProperty"
        type: array
      ip:
        description: Gets or sets the ip of the node.
        type: string
      lastSeen:
        description: Gets or sets the last seen time of the node.
        format: date-time
        type: string
        x-nullable: false
      nodeConfiguration:
        $ref: "#/definitions/DscNodeConfigurationAssociationProperty"
        description: Gets or sets the configuration of the node.
        x-ms-client-flatten: true
        x-nullable: true
      nodeId:
        description: Gets or sets the node id.
        type: string
      registrationTime:
        description: Gets or sets the registration time of the node.
        format: date-time
        type: string
        x-nullable: false
      status:
        description: Gets or sets the status of the node.
        type: string
      totalCount:
        description: Gets the total number of records matching filter criteria.
        type: integer
  DscNodeReport:
    description: Definition of the dsc node report type.
    properties:
      configurationVersion:
        description: Gets or sets the configurationVersion of the node report.
        type: string
      endTime:
        description: Gets or sets the end time of the node report.
        format: date-time
        type: string
        x-nullable: true
      errors:
        description: Gets or sets the errors for the node report.
        items:
          $ref: "#/definitions/DscReportError"
        type: array
      hostName:
        description: Gets or sets the hostname of the node that sent the report.
        type: string
      iPV4Addresses:
        description: Gets or sets the IPv4 address of the node that sent the report.
        items:
          type: string
        type: array
      iPV6Addresses:
        description: Gets or sets the IPv6 address of the node that sent the report.
        items:
          type: string
        type: array
      id:
        description: Gets or sets the id.
        type: string
      lastModifiedTime:
        description: Gets or sets the lastModifiedTime of the node report.
        format: date-time
        type: string
        x-nullable: false
      metaConfiguration:
        $ref: "#/definitions/DscMetaConfiguration"
        description: Gets or sets the metaConfiguration of the node at the time of the report.
      numberOfResources:
        description: Gets or sets the number of resource in the node report.
        format: int32
        type: integer
      rawErrors:
        description: Gets or sets the unparsed errors for the node report.
        type: string
      rebootRequested:
        description: Gets or sets the rebootRequested of the node report.
        type: string
      refreshMode:
        description: Gets or sets the refreshMode of the node report.
        type: string
      reportFormatVersion:
        description: Gets or sets the reportFormatVersion of the node report.
        type: string
      reportId:
        description: Gets or sets the id of the node report.
        type: string
      resources:
        description: Gets or sets the resource for the node report.
        items:
          $ref: "#/definitions/DscReportResource"
        type: array
      startTime:
        description: Gets or sets the start time of the node report.
        format: date-time
        type: string
        x-nullable: true
      status:
        description: Gets or sets the status of the node report.
        type: string
      type:
        description: Gets or sets the type of the node report.
        type: string
  DscNodeReportListResult:
    description: The response model for the list dsc nodes operation.
    properties:
      nextLink:
        description: Gets or sets the next link.
        type: string
      value:
        description: Gets or sets a list of dsc node reports.
        items:
          $ref: "#/definitions/DscNodeReport"
        type: array
  DscNodeUpdateParameters:
    description: The parameters supplied to the update dsc node operation.
    properties:
      nodeId:
        description: Gets or sets the id of the dsc node.
        type: string
      properties:
        properties:
          nodeConfiguration:
            $ref: "#/definitions/DscNodeConfigurationAssociationProperty"
            description: Gets or sets the configuration of the node.
            x-ms-client-flatten: true
  DscReportError:
    description: Definition of the dsc node report error type.
    properties:
      errorCode:
        description: Gets or sets the error code.
        type: string
      errorDetails:
        description: Gets or sets the error details.
        type: string
      errorMessage:
        description: Gets or sets the error message.
        type: string
      errorSource:
        description: Gets or sets the source of the error.
        type: string
      locale:
        description: Gets or sets the locale of the error.
        type: string
      resourceId:
        description: Gets or sets the resource ID which generated the error.
        type: string
  DscReportResource:
    description: Definition of the DSC Report Resource.
    properties:
      dependsOn:
        description: Gets or sets the Resource Navigation values for resources the resource depends on.
        items:
          $ref: "#/definitions/DscReportResourceNavigation"
        type: array
      durationInSeconds:
        description: Gets or sets the duration in seconds for the resource.
        format: double
        type: number
      error:
        description: Gets or sets the error of the resource.
        type: string
      moduleName:
        description: Gets or sets the module name of the resource.
        type: string
      moduleVersion:
        description: Gets or sets the module version of the resource.
        type: string
      resourceId:
        description: Gets or sets the ID of the resource.
        type: string
      resourceName:
        description: Gets or sets the name of the resource.
        type: string
      sourceInfo:
        description: Gets or sets the source info of the resource.
        type: string
      startDate:
        description: Gets or sets the start date of the resource.
        format: date-time
        type: string
        x-nullable: false
      status:
        description: Gets or sets the status of the resource.
        type: string
  DscReportResourceNavigation:
    description: Navigation for DSC Report Resource.
    properties:
      resourceId:
        description: Gets or sets the ID of the resource to navigate to.
        type: string
