swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2016-09-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2016-09-01/networkInterface.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-networkInterface
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
  - text/json
produces:
  - application/json
  - text/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client API version.
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkInterfaces":
    get:
      description: Gets all network interfaces in a subscription.
      operationId: NetworkInterfaces_ListAll
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Request successful. The operation returns a list of NetworkInterface resources.
          schema:
            $ref: "#/definitions/NetworkInterfaceListResult"
      tags:
        - NetworkInterfaces
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces":
    get:
      description: Gets all network interfaces in a resource group.
      operationId: NetworkInterfaces_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Request successful. The operation returns a list of NetworkInterface resources.
          schema:
            $ref: "#/definitions/NetworkInterfaceListResult"
      tags:
        - NetworkInterfaces
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}":
    delete:
      description: Deletes the specified network interface.
      operationId: NetworkInterfaces_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network interface.
          in: path
          name: networkInterfaceName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Delete successful.
        "202":
          description: Accepted and the operation will complete asynchronously.
        "204":
          description: Request successful. Resource does not exist.
      tags:
        - NetworkInterfaces
      x-ms-long-running-operation: true
    get:
      description: Gets information about the specified network interface.
      operationId: NetworkInterfaces_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network interface.
          in: path
          name: networkInterfaceName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: Expands referenced resources.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        "200":
          description: Request successful. The operation returns the resulting NetworkInterface resource.
          schema:
            $ref: "#/definitions/NetworkInterface"
      tags:
        - NetworkInterfaces
    put:
      description: Creates or updates a network interface.
      operationId: NetworkInterfaces_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network interface.
          in: path
          name: networkInterfaceName
          required: true
          type: string
        - description: Parameters supplied to the create or update network interface operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/NetworkInterface"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Update successful. The operation returns the resulting NetworkInterface resource.
          schema:
            $ref: "#/definitions/NetworkInterface"
        "201":
          description: Create successful. The operation returns the resulting NetworkInterface resource.
          schema:
            $ref: "#/definitions/NetworkInterface"
      tags:
        - NetworkInterfaces
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}/effectiveNetworkSecurityGroups":
    post:
      description: Gets all network security groups applied to a network interface.
      operationId: NetworkInterfaces_ListEffectiveNetworkSecurityGroups
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network interface.
          in: path
          name: networkInterfaceName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Request successful. The operation returns a list of NetworkSecurityGroup resources.
          schema:
            $ref: "#/definitions/EffectiveNetworkSecurityGroupListResult"
        "202":
          description: Accepted and the operation will complete asynchronously.
      tags:
        - NetworkInterfaces
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}/effectiveRouteTable":
    post:
      description: Gets all route tables applied to a network interface.
      operationId: NetworkInterfaces_GetEffectiveRouteTable
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the network interface.
          in: path
          name: networkInterfaceName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Request successful. The operation returns a list of EffectRoute resources.
          schema:
            $ref: "#/definitions/EffectiveRouteListResult"
        "202":
          description: Accepted and the operation will complete asynchronously.
      tags:
        - NetworkInterfaces
      x-ms-long-running-operation: true
definitions:
  EffectiveNetworkSecurityGroup:
    description: Effective network security group.
    properties:
      association:
        $ref: "#/definitions/EffectiveNetworkSecurityGroupAssociation"
      effectiveSecurityRules:
        description: A collection of effective security rules.
        items:
          $ref: "#/definitions/EffectiveNetworkSecurityRule"
        type: array
      networkSecurityGroup:
        properties:
          id:
            description: Resource ID.
            type: string
        x-ms-azure-resource: true
  EffectiveNetworkSecurityGroupAssociation:
    description: The effective network security group association.
    properties:
      networkInterface:
        properties:
          id:
            description: Resource ID.
            type: string
        x-ms-azure-resource: true
      subnet:
        properties:
          id:
            description: Resource ID.
            type: string
        x-ms-azure-resource: true
  EffectiveNetworkSecurityGroupListResult:
    description: Response for list effective network security groups API service call.
    properties:
      nextLink:
        description: The URL to get the next set of results.
        type: string
      value:
        description: A list of effective network security groups.
        items:
          $ref: "#/definitions/EffectiveNetworkSecurityGroup"
        type: array
  EffectiveNetworkSecurityRule:
    description: Effective network security rules.
    properties:
      access:
        description: "Whether network traffic is allowed or denied. Possible values are: 'Allow' and 'Deny'."
        enum:
          - Allow
          - Deny
        type: string
        x-ms-enum:
          modelAsString: true
          name: SecurityRuleAccess
      destinationAddressPrefix:
        description: The destination address prefix.
        type: string
      destinationPortRange:
        description: The destination port or range.
        type: string
      direction:
        description: "The direction of the rule. Possible values are: 'Inbound and Outbound'."
        enum:
          - Inbound
          - Outbound
        type: string
        x-ms-enum:
          modelAsString: true
          name: SecurityRuleDirection
      expandedDestinationAddressPrefix:
        description: Expanded destination address prefix.
        items:
          type: string
        type: array
      expandedSourceAddressPrefix:
        description: The expanded source address prefix.
        items:
          type: string
        type: array
      name:
        description: The name of the security rule specified by the user (if created by the user).
        type: string
      priority:
        description: The priority of the rule.
        format: int32
        type: integer
      protocol:
        description: "The network protocol this rule applies to. Possible values are: 'Tcp', 'Udp', and '*'."
        enum:
          - Tcp
          - Udp
          - "*"
        type: string
        x-ms-enum:
          modelAsString: true
          name: SecurityRuleProtocol
      sourceAddressPrefix:
        description: The source address prefix.
        type: string
      sourcePortRange:
        description: The source port or range.
        type: string
  EffectiveRoute:
    description: Effective Route
    properties:
      addressPrefix:
        description: The address prefixes of the effective routes in CIDR notation.
        items:
          type: string
        type: array
      name:
        description: The name of the user defined route. This is optional.
        type: string
      nextHopIpAddress:
        description: The IP address of the next hop of the effective route.
        items:
          type: string
        type: array
      nextHopType:
        description: "The type of Azure hop the packet should be sent to. Possible values are: 'VirtualNetworkGateway', 'VnetLocal', 'Internet', 'VirtualAppliance', and 'None'."
        enum:
          - VirtualNetworkGateway
          - VnetLocal
          - Internet
          - VirtualAppliance
          - None
        type: string
        x-ms-enum:
          modelAsString: true
          name: RouteNextHopType
      source:
        description: "Who created the route. Possible values are: 'Unknown', 'User', 'VirtualNetworkGateway', and 'Default'."
        enum:
          - Unknown
          - User
          - VirtualNetworkGateway
          - Default
        type: string
        x-ms-enum:
          modelAsString: true
          name: EffectiveRouteSource
      state:
        description: "The value of effective route. Possible values are: 'Active' and 'Invalid'."
        enum:
          - Active
          - Invalid
        type: string
        x-ms-enum:
          modelAsString: true
          name: EffectiveRouteState
  EffectiveRouteListResult:
    description: Response for list effective route API service call.
    properties:
      nextLink:
        description: The URL to get the next set of results.
        type: string
      value:
        description: A list of effective routes.
        items:
          $ref: "#/definitions/EffectiveRoute"
        type: array
  IPConfiguration:
    allOf:
      - properties:
          id:
            description: Resource ID.
            type: string
        x-ms-azure-resource: true
    description: IPConfiguration
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated.
        type: string
      name:
        description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
        type: string
      properties:
        $ref: "#/definitions/IPConfigurationPropertiesFormat"
        x-ms-client-flatten: true
  IPConfigurationPropertiesFormat:
    description: Properties of IP configuration.
    properties:
      privateIPAddress:
        description: The private IP address of the IP configuration.
        type: string
      privateIPAllocationMethod:
        description: The private IP allocation method. Possible values are 'Static' and 'Dynamic'.
        enum:
          - Static
          - Dynamic
        type: string
        x-ms-enum:
          modelAsString: true
          name: IPAllocationMethod
      provisioningState:
        description: "Gets the provisioning state of the public IP resource. Possible values are: 'Updating', 'Deleting', and 'Failed'."
        type: string
      publicIPAddress:
        $ref: ./publicIpAddress.json#/definitions/PublicIPAddress
        description: The reference of the public IP resource.
      subnet:
        $ref: ./virtualNetwork.json#/definitions/Subnet
        description: The reference of the subnet resource.
  NetworkInterface:
    allOf:
      - properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: A network interface in a resource group.
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated.
        type: string
      properties:
        $ref: "#/definitions/NetworkInterfacePropertiesFormat"
        x-ms-client-flatten: true
  NetworkInterfaceDnsSettings:
    description: DNS settings of a network interface.
    properties:
      appliedDnsServers:
        description: If the VM that uses this NIC is part of an Availability Set, then this list will have the union of all DNS servers from all NICs that are part of the Availability Set. This property is what is configured on each of those VMs.
        items:
          type: string
        type: array
      dnsServers:
        description: List of DNS servers IP addresses. Use 'AzureProvidedDNS' to switch to azure provided DNS resolution. 'AzureProvidedDNS' value cannot be combined with other IPs, it must be the only value in dnsServers collection.
        items:
          type: string
        type: array
      internalDnsNameLabel:
        description: Relative DNS name for this NIC used for internal communications between VMs in the same virtual network.
        type: string
      internalDomainNameSuffix:
        description: Even if internalDnsNameLabel is not specified, a DNS entry is created for the primary NIC of the VM. This DNS name can be constructed by concatenating the VM name with the value of internalDomainNameSuffix.
        type: string
      internalFqdn:
        description: Fully qualified DNS name supporting internal communications between VMs in the same virtual network.
        type: string
  NetworkInterfaceIPConfiguration:
    allOf:
      - properties:
          id:
            description: Resource ID.
            type: string
        x-ms-azure-resource: true
    description: IPConfiguration in a network interface.
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated.
        type: string
      name:
        description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
        type: string
      properties:
        $ref: "#/definitions/NetworkInterfaceIPConfigurationPropertiesFormat"
        x-ms-client-flatten: true
  NetworkInterfaceIPConfigurationPropertiesFormat:
    description: Properties of IP configuration.
    properties:
      applicationGatewayBackendAddressPools:
        description: The reference of ApplicationGatewayBackendAddressPool resource.
        items:
          $ref: ./applicationGateway.json#/definitions/ApplicationGatewayBackendAddressPool
        type: array
      loadBalancerBackendAddressPools:
        description: The reference of LoadBalancerBackendAddressPool resource.
        items:
          $ref: ./loadBalancer.json#/definitions/BackendAddressPool
        type: array
      loadBalancerInboundNatRules:
        description: A list of references of LoadBalancerInboundNatRules.
        items:
          $ref: ./loadBalancer.json#/definitions/InboundNatRule
        type: array
      primary:
        description: Gets whether this is a primary customer address on the network interface.
        type: boolean
      privateIPAddress:
        type: string
      privateIPAddressVersion:
        description: "Available from Api-Version 2016-03-30 onwards, it represents whether the specific ipconfiguration is IPv4 or IPv6. Default is taken as IPv4.  Possible values are: 'IPv4' and 'IPv6'."
        enum:
          - IPv4
          - IPv6
        type: string
        x-ms-enum:
          modelAsString: true
          name: IPVersion
      privateIPAllocationMethod:
        description: "Defines how a private IP address is assigned. Possible values are: 'Static' and 'Dynamic'."
        enum:
          - Static
          - Dynamic
        type: string
        x-ms-enum:
          modelAsString: true
          name: IPAllocationMethod
      provisioningState:
        type: string
      publicIPAddress:
        $ref: ./publicIpAddress.json#/definitions/PublicIPAddress
      subnet:
        $ref: ./virtualNetwork.json#/definitions/Subnet
  NetworkInterfaceListResult:
    description: Response for the ListNetworkInterface API service call.
    properties:
      nextLink:
        description: The URL to get the next set of results.
        type: string
      value:
        description: A list of network interfaces in a resource group.
        items:
          $ref: "#/definitions/NetworkInterface"
        type: array
  NetworkInterfacePropertiesFormat:
    description: "NetworkInterface properties. "
    properties:
      dnsSettings:
        description: DNS settings of a network interface.
        properties:
          appliedDnsServers:
            description: If the VM that uses this NIC is part of an Availability Set, then this list will have the union of all DNS servers from all NICs that are part of the Availability Set. This property is what is configured on each of those VMs.
            items:
              type: string
            type: array
          dnsServers:
            description: List of DNS servers IP addresses. Use 'AzureProvidedDNS' to switch to azure provided DNS resolution. 'AzureProvidedDNS' value cannot be combined with other IPs, it must be the only value in dnsServers collection.
            items:
              type: string
            type: array
          internalDnsNameLabel:
            description: Relative DNS name for this NIC used for internal communications between VMs in the same virtual network.
            type: string
          internalDomainNameSuffix:
            description: Even if internalDnsNameLabel is not specified, a DNS entry is created for the primary NIC of the VM. This DNS name can be constructed by concatenating the VM name with the value of internalDomainNameSuffix.
            type: string
          internalFqdn:
            description: Fully qualified DNS name supporting internal communications between VMs in the same virtual network.
            type: string
      enableAcceleratedNetworking:
        description: If the network interface is accelerated networking enabled.
        type: boolean
      enableIPForwarding:
        description: Indicates whether IP forwarding is enabled on this network interface.
        type: boolean
      ipConfigurations:
        description: A list of IPConfigurations of the network interface.
        items:
          $ref: "#/definitions/NetworkInterfaceIPConfiguration"
        type: array
      macAddress:
        description: The MAC address of the network interface.
        type: string
      networkSecurityGroup:
        $ref: ./networkSecurityGroup.json#/definitions/NetworkSecurityGroup
        description: The reference of the NetworkSecurityGroup resource.
      primary:
        description: Gets whether this is a primary network interface on a virtual machine.
        type: boolean
      provisioningState:
        description: "The provisioning state of the public IP resource. Possible values are: 'Updating', 'Deleting', and 'Failed'."
        type: string
      resourceGuid:
        description: The resource GUID property of the network interface resource.
        type: string
      virtualMachine:
        properties:
          id:
            description: Resource ID.
            type: string
        x-ms-azure-resource: true
