{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://storage.googleapis.com/storage/v1beta2"
    }
  ],
  "info": {
    "contact": {
      "name": "Google",
      "url": "https://google.com",
      "x-twitter": "youtube"
    },
    "description": "Lets you store and retrieve potentially-large, immutable data objects.",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "termsOfService": "https://developers.google.com/terms/",
    "title": "Cloud Storage JSON API",
    "version": "v1beta2",
    "x-apiClientRegistration": {
      "url": "https://console.developers.google.com"
    },
    "x-apisguru-categories": [
      "analytics",
      "media"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/lucybot/api-spec-converter",
          "version": "2.7.31"
        },
        "format": "google",
        "url": "https://www.googleapis.com/discovery/v1/apis/storage/v1beta2/rest",
        "version": "v1"
      }
    ],
    "x-preferred": false,
    "x-providerName": "googleapis.com",
    "x-serviceName": "storage"
  },
  "externalDocs": {
    "url": "https://developers.google.com/storage/docs/json_api/"
  },
  "tags": [
    {
      "name": "bucketAccessControls"
    },
    {
      "name": "buckets"
    },
    {
      "name": "channels"
    },
    {
      "name": "defaultObjectAccessControls"
    },
    {
      "name": "objectAccessControls"
    },
    {
      "name": "objects"
    }
  ],
  "paths": {
    "/b": {
      "get": {
        "description": "Retrieves a list of buckets for a given project.",
        "operationId": "storage.buckets.list",
        "parameters": [
          {
            "description": "A valid API project identifier.",
            "in": "query",
            "name": "project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Maximum number of buckets to return.",
            "in": "query",
            "name": "maxResults",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "A previously-returned page token representing part of the larger set of results to view.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set of properties to return. Defaults to noAcl.",
            "in": "query",
            "name": "projection",
            "schema": {
              "enum": [
                "full",
                "noAcl"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Buckets"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_only"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_only"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "buckets"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ],
      "post": {
        "description": "Creates a new bucket.",
        "operationId": "storage.buckets.insert",
        "parameters": [
          {
            "description": "A valid API project identifier.",
            "in": "query",
            "name": "project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set of properties to return. Defaults to noAcl, unless the bucket resource specifies acl or defaultObjectAcl properties, when it defaults to full.",
            "in": "query",
            "name": "projection",
            "schema": {
              "enum": [
                "full",
                "noAcl"
              ],
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Bucket"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bucket"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "buckets"
        ]
      }
    },
    "/b/{bucket}": {
      "delete": {
        "description": "Permanently deletes an empty bucket.",
        "operationId": "storage.buckets.delete",
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the return of the bucket metadata conditional on whether the bucket's current metageneration matches the given value.",
            "in": "query",
            "name": "ifMetagenerationMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the return of the bucket metadata conditional on whether the bucket's current metageneration does not match the given value.",
            "in": "query",
            "name": "ifMetagenerationNotMatch",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "buckets"
        ]
      },
      "get": {
        "description": "Returns metadata for the specified bucket.",
        "operationId": "storage.buckets.get",
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the return of the bucket metadata conditional on whether the bucket's current metageneration matches the given value.",
            "in": "query",
            "name": "ifMetagenerationMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the return of the bucket metadata conditional on whether the bucket's current metageneration does not match the given value.",
            "in": "query",
            "name": "ifMetagenerationNotMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set of properties to return. Defaults to noAcl.",
            "in": "query",
            "name": "projection",
            "schema": {
              "enum": [
                "full",
                "noAcl"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bucket"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_only"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_only"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "buckets"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ],
      "patch": {
        "description": "Updates a bucket. This method supports patch semantics.",
        "operationId": "storage.buckets.patch",
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the return of the bucket metadata conditional on whether the bucket's current metageneration matches the given value.",
            "in": "query",
            "name": "ifMetagenerationMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the return of the bucket metadata conditional on whether the bucket's current metageneration does not match the given value.",
            "in": "query",
            "name": "ifMetagenerationNotMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set of properties to return. Defaults to full.",
            "in": "query",
            "name": "projection",
            "schema": {
              "enum": [
                "full",
                "noAcl"
              ],
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Bucket"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bucket"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "buckets"
        ]
      },
      "put": {
        "description": "Updates a bucket.",
        "operationId": "storage.buckets.update",
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the return of the bucket metadata conditional on whether the bucket's current metageneration matches the given value.",
            "in": "query",
            "name": "ifMetagenerationMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the return of the bucket metadata conditional on whether the bucket's current metageneration does not match the given value.",
            "in": "query",
            "name": "ifMetagenerationNotMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set of properties to return. Defaults to full.",
            "in": "query",
            "name": "projection",
            "schema": {
              "enum": [
                "full",
                "noAcl"
              ],
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Bucket"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bucket"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "buckets"
        ]
      }
    },
    "/b/{bucket}/acl": {
      "get": {
        "description": "Retrieves ACL entries on the specified bucket.",
        "operationId": "storage.bucketAccessControls.list",
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BucketAccessControls"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "bucketAccessControls"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ],
      "post": {
        "description": "Creates a new ACL entry on the specified bucket.",
        "operationId": "storage.bucketAccessControls.insert",
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BucketAccessControl"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BucketAccessControl"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "bucketAccessControls"
        ]
      }
    },
    "/b/{bucket}/acl/{entity}": {
      "delete": {
        "description": "Permanently deletes the ACL entry for the specified entity on the specified bucket.",
        "operationId": "storage.bucketAccessControls.delete",
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
            "in": "path",
            "name": "entity",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "bucketAccessControls"
        ]
      },
      "get": {
        "description": "Returns the ACL entry for the specified entity on the specified bucket.",
        "operationId": "storage.bucketAccessControls.get",
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
            "in": "path",
            "name": "entity",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BucketAccessControl"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "bucketAccessControls"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ],
      "patch": {
        "description": "Updates an ACL entry on the specified bucket. This method supports patch semantics.",
        "operationId": "storage.bucketAccessControls.patch",
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
            "in": "path",
            "name": "entity",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BucketAccessControl"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BucketAccessControl"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "bucketAccessControls"
        ]
      },
      "put": {
        "description": "Updates an ACL entry on the specified bucket.",
        "operationId": "storage.bucketAccessControls.update",
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
            "in": "path",
            "name": "entity",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BucketAccessControl"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BucketAccessControl"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "bucketAccessControls"
        ]
      }
    },
    "/b/{bucket}/defaultObjectAcl": {
      "get": {
        "description": "Retrieves default object ACL entries on the specified bucket.",
        "operationId": "storage.defaultObjectAccessControls.list",
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If present, only return default ACL listing if the bucket's current metageneration matches this value.",
            "in": "query",
            "name": "ifMetagenerationMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If present, only return default ACL listing if the bucket's current metageneration does not match the given value.",
            "in": "query",
            "name": "ifMetagenerationNotMatch",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectAccessControls"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "defaultObjectAccessControls"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ],
      "post": {
        "description": "Creates a new default object ACL entry on the specified bucket.",
        "operationId": "storage.defaultObjectAccessControls.insert",
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectAccessControl"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectAccessControl"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "defaultObjectAccessControls"
        ]
      }
    },
    "/b/{bucket}/defaultObjectAcl/{entity}": {
      "delete": {
        "description": "Permanently deletes the default object ACL entry for the specified entity on the specified bucket.",
        "operationId": "storage.defaultObjectAccessControls.delete",
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
            "in": "path",
            "name": "entity",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "defaultObjectAccessControls"
        ]
      },
      "get": {
        "description": "Returns the default object ACL entry for the specified entity on the specified bucket.",
        "operationId": "storage.defaultObjectAccessControls.get",
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
            "in": "path",
            "name": "entity",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectAccessControl"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "defaultObjectAccessControls"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ],
      "patch": {
        "description": "Updates a default object ACL entry on the specified bucket. This method supports patch semantics.",
        "operationId": "storage.defaultObjectAccessControls.patch",
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
            "in": "path",
            "name": "entity",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectAccessControl"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectAccessControl"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "defaultObjectAccessControls"
        ]
      },
      "put": {
        "description": "Updates a default object ACL entry on the specified bucket.",
        "operationId": "storage.defaultObjectAccessControls.update",
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
            "in": "path",
            "name": "entity",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectAccessControl"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectAccessControl"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "defaultObjectAccessControls"
        ]
      }
    },
    "/b/{bucket}/o": {
      "get": {
        "description": "Retrieves a list of objects matching the criteria.",
        "operationId": "storage.objects.list",
        "parameters": [
          {
            "description": "Name of the bucket in which to look for objects.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Returns results in a directory-like mode. items will contain only objects whose names, aside from the prefix, do not contain delimiter. Objects whose names, aside from the prefix, contain delimiter will have their name, truncated after the delimiter, returned in prefixes. Duplicate prefixes are omitted.",
            "in": "query",
            "name": "delimiter",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Maximum number of items plus prefixes to return. As duplicate prefixes are omitted, fewer total results may be returned than requested.",
            "in": "query",
            "name": "maxResults",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "A previously-returned page token representing part of the larger set of results to view.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results to objects whose names begin with this prefix.",
            "in": "query",
            "name": "prefix",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set of properties to return. Defaults to noAcl.",
            "in": "query",
            "name": "projection",
            "schema": {
              "enum": [
                "full",
                "noAcl"
              ],
              "type": "string"
            }
          },
          {
            "description": "If true, lists all versions of a file as distinct results.",
            "in": "query",
            "name": "versions",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Objects"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_only"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_only"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "objects"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ],
      "post": {
        "description": "Stores new data blobs and associated metadata.",
        "operationId": "storage.objects.insert",
        "parameters": [
          {
            "description": "Name of the bucket in which to store the new object. Overrides the provided object metadata's bucket value, if any.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the operation conditional on whether the object's current generation matches the given value.",
            "in": "query",
            "name": "ifGenerationMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the operation conditional on whether the object's current generation does not match the given value.",
            "in": "query",
            "name": "ifGenerationNotMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the operation conditional on whether the object's current metageneration matches the given value.",
            "in": "query",
            "name": "ifMetagenerationMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the operation conditional on whether the object's current metageneration does not match the given value.",
            "in": "query",
            "name": "ifMetagenerationNotMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the object. Required when the object metadata is not otherwise provided. Overrides the object metadata's name value, if any.",
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set of properties to return. Defaults to noAcl, unless the object resource specifies the acl property, when it defaults to full.",
            "in": "query",
            "name": "projection",
            "schema": {
              "enum": [
                "full",
                "noAcl"
              ],
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "$ref": "#/components/schemas/Object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "objects"
        ]
      }
    },
    "/b/{bucket}/o/watch": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ],
      "post": {
        "description": "Watch for changes on all objects in a bucket.",
        "operationId": "storage.objects.watchAll",
        "parameters": [
          {
            "description": "Name of the bucket in which to look for objects.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Returns results in a directory-like mode. items will contain only objects whose names, aside from the prefix, do not contain delimiter. Objects whose names, aside from the prefix, contain delimiter will have their name, truncated after the delimiter, returned in prefixes. Duplicate prefixes are omitted.",
            "in": "query",
            "name": "delimiter",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Maximum number of items plus prefixes to return. As duplicate prefixes are omitted, fewer total results may be returned than requested.",
            "in": "query",
            "name": "maxResults",
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "A previously-returned page token representing part of the larger set of results to view.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results to objects whose names begin with this prefix.",
            "in": "query",
            "name": "prefix",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set of properties to return. Defaults to noAcl.",
            "in": "query",
            "name": "projection",
            "schema": {
              "enum": [
                "full",
                "noAcl"
              ],
              "type": "string"
            }
          },
          {
            "description": "If true, lists all versions of a file as distinct results.",
            "in": "query",
            "name": "versions",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Channel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_only"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_only"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "objects"
        ]
      }
    },
    "/b/{bucket}/o/{object}": {
      "delete": {
        "description": "Deletes data blobs and associated metadata. Deletions are permanent if versioning is not enabled for the bucket, or if the generation parameter is used.",
        "operationId": "storage.objects.delete",
        "parameters": [
          {
            "description": "Name of the bucket in which the object resides.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the object.",
            "in": "path",
            "name": "object",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If present, permanently deletes a specific revision of this object (as opposed to the latest version, the default).",
            "in": "query",
            "name": "generation",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the operation conditional on whether the object's current generation matches the given value.",
            "in": "query",
            "name": "ifGenerationMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the operation conditional on whether the object's current generation does not match the given value.",
            "in": "query",
            "name": "ifGenerationNotMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the operation conditional on whether the object's current metageneration matches the given value.",
            "in": "query",
            "name": "ifMetagenerationMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the operation conditional on whether the object's current metageneration does not match the given value.",
            "in": "query",
            "name": "ifMetagenerationNotMatch",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "objects"
        ]
      },
      "get": {
        "description": "Retrieves objects or their associated metadata.",
        "operationId": "storage.objects.get",
        "parameters": [
          {
            "description": "Name of the bucket in which the object resides.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the object.",
            "in": "path",
            "name": "object",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If present, selects a specific revision of this object (as opposed to the latest version, the default).",
            "in": "query",
            "name": "generation",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the operation conditional on whether the object's generation matches the given value.",
            "in": "query",
            "name": "ifGenerationMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the operation conditional on whether the object's generation does not match the given value.",
            "in": "query",
            "name": "ifGenerationNotMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the operation conditional on whether the object's current metageneration matches the given value.",
            "in": "query",
            "name": "ifMetagenerationMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the operation conditional on whether the object's current metageneration does not match the given value.",
            "in": "query",
            "name": "ifMetagenerationNotMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set of properties to return. Defaults to noAcl.",
            "in": "query",
            "name": "projection",
            "schema": {
              "enum": [
                "full",
                "noAcl"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_only"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_only"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "objects"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ],
      "patch": {
        "description": "Updates a data blob's associated metadata. This method supports patch semantics.",
        "operationId": "storage.objects.patch",
        "parameters": [
          {
            "description": "Name of the bucket in which the object resides.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the object.",
            "in": "path",
            "name": "object",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If present, selects a specific revision of this object (as opposed to the latest version, the default).",
            "in": "query",
            "name": "generation",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the operation conditional on whether the object's current generation matches the given value.",
            "in": "query",
            "name": "ifGenerationMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the operation conditional on whether the object's current generation does not match the given value.",
            "in": "query",
            "name": "ifGenerationNotMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the operation conditional on whether the object's current metageneration matches the given value.",
            "in": "query",
            "name": "ifMetagenerationMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the operation conditional on whether the object's current metageneration does not match the given value.",
            "in": "query",
            "name": "ifMetagenerationNotMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set of properties to return. Defaults to full.",
            "in": "query",
            "name": "projection",
            "schema": {
              "enum": [
                "full",
                "noAcl"
              ],
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "objects"
        ]
      },
      "put": {
        "description": "Updates a data blob's associated metadata.",
        "operationId": "storage.objects.update",
        "parameters": [
          {
            "description": "Name of the bucket in which the object resides.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the object.",
            "in": "path",
            "name": "object",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If present, selects a specific revision of this object (as opposed to the latest version, the default).",
            "in": "query",
            "name": "generation",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the operation conditional on whether the object's current generation matches the given value.",
            "in": "query",
            "name": "ifGenerationMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the operation conditional on whether the object's current generation does not match the given value.",
            "in": "query",
            "name": "ifGenerationNotMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the operation conditional on whether the object's current metageneration matches the given value.",
            "in": "query",
            "name": "ifMetagenerationMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the operation conditional on whether the object's current metageneration does not match the given value.",
            "in": "query",
            "name": "ifMetagenerationNotMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set of properties to return. Defaults to full.",
            "in": "query",
            "name": "projection",
            "schema": {
              "enum": [
                "full",
                "noAcl"
              ],
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "objects"
        ]
      }
    },
    "/b/{bucket}/o/{object}/acl": {
      "get": {
        "description": "Retrieves ACL entries on the specified object.",
        "operationId": "storage.objectAccessControls.list",
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the object.",
            "in": "path",
            "name": "object",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If present, selects a specific revision of this object (as opposed to the latest version, the default).",
            "in": "query",
            "name": "generation",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectAccessControls"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "objectAccessControls"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ],
      "post": {
        "description": "Creates a new ACL entry on the specified object.",
        "operationId": "storage.objectAccessControls.insert",
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the object.",
            "in": "path",
            "name": "object",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If present, selects a specific revision of this object (as opposed to the latest version, the default).",
            "in": "query",
            "name": "generation",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectAccessControl"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectAccessControl"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "objectAccessControls"
        ]
      }
    },
    "/b/{bucket}/o/{object}/acl/{entity}": {
      "delete": {
        "description": "Permanently deletes the ACL entry for the specified entity on the specified object.",
        "operationId": "storage.objectAccessControls.delete",
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the object.",
            "in": "path",
            "name": "object",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
            "in": "path",
            "name": "entity",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If present, selects a specific revision of this object (as opposed to the latest version, the default).",
            "in": "query",
            "name": "generation",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "objectAccessControls"
        ]
      },
      "get": {
        "description": "Returns the ACL entry for the specified entity on the specified object.",
        "operationId": "storage.objectAccessControls.get",
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the object.",
            "in": "path",
            "name": "object",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
            "in": "path",
            "name": "entity",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If present, selects a specific revision of this object (as opposed to the latest version, the default).",
            "in": "query",
            "name": "generation",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectAccessControl"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "objectAccessControls"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ],
      "patch": {
        "description": "Updates an ACL entry on the specified object. This method supports patch semantics.",
        "operationId": "storage.objectAccessControls.patch",
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the object.",
            "in": "path",
            "name": "object",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
            "in": "path",
            "name": "entity",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If present, selects a specific revision of this object (as opposed to the latest version, the default).",
            "in": "query",
            "name": "generation",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectAccessControl"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectAccessControl"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "objectAccessControls"
        ]
      },
      "put": {
        "description": "Updates an ACL entry on the specified object.",
        "operationId": "storage.objectAccessControls.update",
        "parameters": [
          {
            "description": "Name of a bucket.",
            "in": "path",
            "name": "bucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the object.",
            "in": "path",
            "name": "object",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.",
            "in": "path",
            "name": "entity",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If present, selects a specific revision of this object (as opposed to the latest version, the default).",
            "in": "query",
            "name": "generation",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ObjectAccessControl"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectAccessControl"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          }
        ],
        "tags": [
          "objectAccessControls"
        ]
      }
    },
    "/b/{destinationBucket}/o/{destinationObject}/compose": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ],
      "post": {
        "description": "Concatenates a list of existing objects into a new object in the same bucket.",
        "operationId": "storage.objects.compose",
        "parameters": [
          {
            "description": "Name of the bucket containing the source objects. The destination object is stored in this bucket.",
            "in": "path",
            "name": "destinationBucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the new object.",
            "in": "path",
            "name": "destinationObject",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the operation conditional on whether the object's current generation matches the given value.",
            "in": "query",
            "name": "ifGenerationMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the operation conditional on whether the object's current metageneration matches the given value.",
            "in": "query",
            "name": "ifMetagenerationMatch",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComposeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "objects"
        ]
      }
    },
    "/b/{sourceBucket}/o/{sourceObject}/copyTo/b/{destinationBucket}/o/{destinationObject}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ],
      "post": {
        "description": "Copies an object to a destination in the same location. Optionally overrides metadata.",
        "operationId": "storage.objects.copy",
        "parameters": [
          {
            "description": "Name of the bucket in which to find the source object.",
            "in": "path",
            "name": "sourceBucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the source object.",
            "in": "path",
            "name": "sourceObject",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the bucket in which to store the new object. Overrides the provided object metadata's bucket value, if any.",
            "in": "path",
            "name": "destinationBucket",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Name of the new object. Required when the object metadata is not otherwise provided. Overrides the object metadata's name value, if any.",
            "in": "path",
            "name": "destinationObject",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the operation conditional on whether the destination object's current generation matches the given value.",
            "in": "query",
            "name": "ifGenerationMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the operation conditional on whether the destination object's current generation does not match the given value.",
            "in": "query",
            "name": "ifGenerationNotMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the operation conditional on whether the destination object's current metageneration matches the given value.",
            "in": "query",
            "name": "ifMetagenerationMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the operation conditional on whether the destination object's current metageneration does not match the given value.",
            "in": "query",
            "name": "ifMetagenerationNotMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the operation conditional on whether the source object's generation matches the given value.",
            "in": "query",
            "name": "ifSourceGenerationMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the operation conditional on whether the source object's generation does not match the given value.",
            "in": "query",
            "name": "ifSourceGenerationNotMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the operation conditional on whether the source object's current metageneration matches the given value.",
            "in": "query",
            "name": "ifSourceMetagenerationMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Makes the operation conditional on whether the source object's current metageneration does not match the given value.",
            "in": "query",
            "name": "ifSourceMetagenerationNotMatch",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set of properties to return. Defaults to noAcl, unless the object resource specifies the acl property, when it defaults to full.",
            "in": "query",
            "name": "projection",
            "schema": {
              "enum": [
                "full",
                "noAcl"
              ],
              "type": "string"
            }
          },
          {
            "description": "If present, selects a specific revision of the source object (as opposed to the latest version, the default).",
            "in": "query",
            "name": "sourceGeneration",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "objects"
        ]
      }
    },
    "/channels/stop": {
      "parameters": [
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/userIp"
        }
      ],
      "post": {
        "description": "Stop watching resources through this channel",
        "operationId": "storage.channels.stop",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Channel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.full_control"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_only"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_only"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/devstorage.read_write"
            ]
          }
        ],
        "tags": [
          "channels"
        ]
      }
    }
  },
  "components": {
    "parameters": {
      "alt": {
        "description": "Data format for the response.",
        "in": "query",
        "name": "alt",
        "schema": {
          "enum": [
            "json"
          ],
          "type": "string"
        }
      },
      "fields": {
        "description": "Selector specifying which fields to include in a partial response.",
        "in": "query",
        "name": "fields",
        "schema": {
          "type": "string"
        }
      },
      "key": {
        "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
        "in": "query",
        "name": "key",
        "schema": {
          "type": "string"
        }
      },
      "oauth_token": {
        "description": "OAuth 2.0 token for the current user.",
        "in": "query",
        "name": "oauth_token",
        "schema": {
          "type": "string"
        }
      },
      "prettyPrint": {
        "description": "Returns response with indentations and line breaks.",
        "in": "query",
        "name": "prettyPrint",
        "schema": {
          "type": "boolean"
        }
      },
      "quotaUser": {
        "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
        "in": "query",
        "name": "quotaUser",
        "schema": {
          "type": "string"
        }
      },
      "userIp": {
        "description": "Deprecated. Please use quotaUser instead.",
        "in": "query",
        "name": "userIp",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "Bucket": {
        "description": "A bucket.",
        "properties": {
          "acl": {
            "description": "Access controls on the bucket.",
            "items": {
              "$ref": "#/components/schemas/BucketAccessControl"
            },
            "type": "array"
          },
          "cors": {
            "description": "The bucket's Cross-Origin Resource Sharing (CORS) configuration.",
            "items": {
              "properties": {
                "maxAgeSeconds": {
                  "description": "The value, in seconds, to return in the  Access-Control-Max-Age header used in preflight responses.",
                  "format": "int32",
                  "type": "integer"
                },
                "method": {
                  "description": "The list of HTTP methods on which to include CORS response headers: GET, OPTIONS, POST, etc. Note, \"*\" is permitted in the list of methods, and means \"any method\".",
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "origin": {
                  "description": "The list of Origins eligible to receive CORS response headers. Note: \"*\" is permitted in the list of origins, and means \"any Origin\".",
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "responseHeader": {
                  "description": "The list of HTTP headers other than the simple response headers to give permission for the user-agent to share across domains.",
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            },
            "type": "array"
          },
          "defaultObjectAcl": {
            "description": "Default access controls to apply to new objects when no ACL is provided.",
            "items": {
              "$ref": "#/components/schemas/ObjectAccessControl"
            },
            "type": "array"
          },
          "etag": {
            "description": "HTTP 1.1 Entity tag for the bucket.",
            "type": "string"
          },
          "id": {
            "description": "The ID of the bucket.",
            "type": "string"
          },
          "kind": {
            "default": "storage#bucket",
            "description": "The kind of item this is. For buckets, this is always storage#bucket.",
            "type": "string"
          },
          "lifecycle": {
            "description": "The bucket's lifecycle configuration. See object lifecycle management for more information.",
            "properties": {
              "rule": {
                "description": "A lifecycle management rule, which is made of an action to take and the condition(s) under which the action will be taken.",
                "items": {
                  "properties": {
                    "action": {
                      "description": "The action to take.",
                      "properties": {
                        "type": {
                          "description": "Type of the action. Currently only Delete is supported.",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "condition": {
                      "description": "The condition(s) under which the action will be taken.",
                      "properties": {
                        "age": {
                          "description": "Age of an object (in days). This condition is satisfied when an object reaches the specified age.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "createdBefore": {
                          "description": "A date in RFC 3339 format with only the date part, e.g. \"2013-01-15\". This condition is satisfied when an object is created before midnight of the specified date in UTC.",
                          "format": "date",
                          "type": "string"
                        },
                        "isLive": {
                          "description": "Relevant only for versioned objects. If the value is true, this condition matches live objects; if the value is false, it matches archived objects.",
                          "type": "boolean"
                        },
                        "numNewerVersions": {
                          "description": "Relevant only for versioned objects. If the value is N, this condition is satisfied when there are at least N versions (including the live version) newer than this version of the object.",
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                },
                "type": "array"
              }
            },
            "type": "object"
          },
          "location": {
            "description": "The location of the bucket. Object data for objects in the bucket resides in physical storage within this region. Typical values are US and EU. Defaults to US. See the developer's guide for the authoritative list.",
            "type": "string"
          },
          "logging": {
            "description": "The bucket's logging configuration, which defines the destination bucket and optional name prefix for the current bucket's logs.",
            "properties": {
              "logBucket": {
                "description": "The destination bucket where the current bucket's logs should be placed.",
                "type": "string"
              },
              "logObjectPrefix": {
                "description": "A prefix for log object names.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "metageneration": {
            "description": "The metadata generation of this bucket.",
            "format": "int64",
            "type": "string"
          },
          "name": {
            "description": "The name of the bucket.",
            "type": "string"
          },
          "owner": {
            "description": "The owner of the bucket. This is always the project team's owner group.",
            "properties": {
              "entity": {
                "description": "The entity, in the form group-groupId.",
                "type": "string"
              },
              "entityId": {
                "description": "The ID for the entity.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "selfLink": {
            "description": "The URI of this bucket.",
            "type": "string"
          },
          "storageClass": {
            "description": "The bucket's storage class. This defines how objects in the bucket are stored and determines the SLA and the cost of storage. Typical values are STANDARD and DURABLE_REDUCED_AVAILABILITY. Defaults to STANDARD. See the developer's guide for the authoritative list.",
            "type": "string"
          },
          "timeCreated": {
            "description": "Creation time of the bucket in RFC 3339 format.",
            "format": "date-time",
            "type": "string"
          },
          "versioning": {
            "description": "The bucket's versioning configuration.",
            "properties": {
              "enabled": {
                "description": "While set to true, versioning is fully enabled for this bucket.",
                "type": "boolean"
              }
            },
            "type": "object"
          },
          "website": {
            "description": "The bucket's website configuration.",
            "properties": {
              "mainPageSuffix": {
                "description": "Behaves as the bucket's directory index where missing objects are treated as potential directories.",
                "type": "string"
              },
              "notFoundPage": {
                "description": "The custom object to return when a requested resource is not found.",
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "type": "object"
      },
      "BucketAccessControl": {
        "description": "An access-control entry.",
        "properties": {
          "bucket": {
            "description": "The name of the bucket.",
            "type": "string"
          },
          "domain": {
            "description": "The domain associated with the entity, if any.",
            "type": "string"
          },
          "email": {
            "description": "The email address associated with the entity, if any.",
            "type": "string"
          },
          "entity": {
            "description": "The entity holding the permission, in one of the following forms: \n- user-userId \n- user-email \n- group-groupId \n- group-email \n- domain-domain \n- allUsers \n- allAuthenticatedUsers Examples: \n- The user liz@example.com would be user-liz@example.com. \n- The group example@googlegroups.com would be group-example@googlegroups.com. \n- To refer to all members of the Google Apps for Business domain example.com, the entity would be domain-example.com.",
            "type": "string"
          },
          "entityId": {
            "description": "The ID for the entity, if any.",
            "type": "string"
          },
          "etag": {
            "description": "HTTP 1.1 Entity tag for the access-control entry.",
            "type": "string"
          },
          "id": {
            "description": "The ID of the access-control entry.",
            "type": "string"
          },
          "kind": {
            "default": "storage#bucketAccessControl",
            "description": "The kind of item this is. For bucket access control entries, this is always storage#bucketAccessControl.",
            "type": "string"
          },
          "role": {
            "description": "The access permission for the entity. Can be READER, WRITER, or OWNER.",
            "type": "string"
          },
          "selfLink": {
            "description": "The link to this access-control entry.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "BucketAccessControls": {
        "description": "An access-control list.",
        "properties": {
          "items": {
            "description": "The list of items.",
            "items": {
              "$ref": "#/components/schemas/BucketAccessControl"
            },
            "type": "array"
          },
          "kind": {
            "default": "storage#bucketAccessControls",
            "description": "The kind of item this is. For lists of bucket access control entries, this is always storage#bucketAccessControls.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Buckets": {
        "description": "A list of buckets.",
        "properties": {
          "items": {
            "description": "The list of items.",
            "items": {
              "$ref": "#/components/schemas/Bucket"
            },
            "type": "array"
          },
          "kind": {
            "default": "storage#buckets",
[...]
