openapi: 3.0.3
servers:
  - url: https://api.telematicssdk.com
  - url: https://mobilesdk.telematicssdk.com
info:
  contact: {}
  description: |-
    # Introduction
    We have prepared a set of APIs for quick start to integrate telematics SDK that powers mobile telematics inside 3rd party mobile applications.

    * [CONTACT US](https://telematicssdk.com)
    * [SANDBOX](https://userdatahub.com)
    * [DEV.PORTAL](https://docs.telematicssdk.com)
    * [DEMO APP](https://raxeltelematics.com/telematics-app)


    # Overview
    Datamotion provides telematics infrastructure for mobile applications. 

    Telematics SDK turns any smartphone into telematics data gathering device to collect Location, driving and behavior data. API services unlocks power of your mobile application

    There are 3 groups of methods:
    * 1 - user management
    * 2 - statistics for mobile app
    * 3 - statistics for back-end(s)

    in certain cases you will need SNS or any other notification services. read more [here](https://docs.telematicssdk.com/platform-features/sns)
    # Possible architecture

    There are three common schemes that are used by our clients. These schemes can be combined
    * Collect, Process, Store (required: 1&2)
    * Collect, Process (required: 1& sns)
    * Collect (required 1&sns)


    ## Collect, Process, Store
    ![Collect, Process, Store](https://website-cliparts-datamotion.s3.us-east-2.amazonaws.com/Dev.portal/Architecture+-+Collection%2C+processing%2C+storage)

    ## Collect, Process
    ![Collect, Process](https://website-cliparts-datamotion.s3.us-east-2.amazonaws.com/Dev.portal/Architecture+-+Collection+and+processing)

    ## Collect
    ![Collect](https://website-cliparts-datamotion.s3.us-east-2.amazonaws.com/Dev.portal/Architecture+-+Collection+only)

    ***
    ![Telematic sdk](https://website-cliparts-datamotion.s3.us-east-2.amazonaws.com/Github/transportation_small.png)

    # Common use-cases:
    * Safe and efficient driving
    * Usage-based insurance
    * Safe driving assessment
    * Driver assessment
    * Trip log
    * Geo-analysis
    * Accident monitoring
    * Driving engagements
    * Location based services
    * Realtime Tracking
    and beyond

    # How to start
    * Register a [SANDBOX ACCOUNT](https://userdatahub.com)
    * Get [CREDENTIALS](https://docs.userdatahub.com/sandbox/credentials) 
    * Follow the guide from [DEVELOPER POERTAL](https://docs.telematicssdk.com)

    # Authentication
    To create a user on datamotion platform, you require to use InstanceID and InstanceKEY. You can get it in Datahub -> management -> user-service credentials

    Once you create a user, you will get Device token, JWT token and refresh token. then, you will use it for APIs
  title: Quick start - Telematics SDK
  version: 1.0.0
  x-apisguru-categories:
    - iot
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.telematicssdk.com_wp-content_uploads_2021_03_cropped-sdk-180x180.png
  x-origin:
    - format: postman
      url: https://www.getpostman.com/collections/94fc76d14f0398faf807
      version: 2.x
  x-providerName: telematicssdk.com
tags:
  - description: |-
      # Introduction
      if you build an integration when all statistics data coming from your own server, only "Create telematics SDK user" required.

      Refresh JWT and Login method are required if you are going to use our APIs to get data and services and use it in mobile app

      # Scheme
      ![user-service integration](https://website-cliparts-datamotion.s3.us-east-2.amazonaws.com/Dev.portal/user+service+integration.png)
    name: 1. User management (Required)
  - description: |-
      # Introduction
      These API services designed to use it inside a mobile applications to get statistics data and services directly from telematics platform and show it in the app

      # Scheme
      ![API statistics](https://website-cliparts-datamotion.s3.us-east-2.amazonaws.com/Dev.portal/API+statistics+integration.png)
    name: 2. For mobile app (Optional)
  - name: 2.1. User statistics (Optional)
  - name: 2.2. User trips (Optional)
  - name: 2.3. User eco scoring (Optional)
  - name: 2.4. User safe scoring (Optional)
  - description: |-
      # Introduction
      The methods are required to have an admin authentication.

      # How to get admin credentials
      Please create admin credentials in [Datahub](https://userdatahub.com) and use method v1/Auth/Login (1. User management)

      # Scheme
      ![Admin statistics integration](https://website-cliparts-datamotion.s3.us-east-2.amazonaws.com/Dev.portal/admin+statistics+integration.png)
    name: 3. For back-end (Optional)
  - name: Consolidated statistics
  - name: Consolidated safe scoring
paths:
  /mobilesdk/stage/track/get_track/v1:
    get:
      description: Trips - trip details
      operationId: tripsTripDetails
      parameters:
        - in: query
          name: trackToken
          schema:
            example: ""
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                Success:
                  value:
                    Result:
                      Code: 200
                      Track:
                        AccelerationCount: 0
                        AddressEnd: <street>, <city>, <Country>
                        AddressFinishParts:
                          City: ""
                          CountryCode: ""
                          District: ""
                          House: ""
                          PostalCode: ""
                          Street: ""
                        AddressStart: <street>, <city>, <Country>
                        AddressStartParts:
                          City: ""
                          CountryCode: ""
                          District: ""
                          House: ""
                          PostalCode: ""
                          Street: ""
                        BeaconId: 0
                        CityFinish: Podgorica
                        CityStart: Podgorica
                        DecelerationCount: 1
                        Distance: 2.215
                        DrivingTips: "Why you have rating 40 on this trip:\r

                          - Rapid Acceleration - 2.73 m/ss, time 13:37:07, speed 43 km/h\r

                          - Harsh Braking - -3.76 m/ss, time 13:39:48, speed 54 km/h"
                        Duration: 5.9
                        EcoScore: 91
                        EcoScoreBrakes: 100
                        EcoScoreDepreciation: 100
                        EcoScoreFuel: 86
                        EcoScoreTyres: 100
                        EndDate: 2021-02-27T13:42:48+01:00
                        HighOverSpeedMileage: 0
                        MidOverSpeedMileage: 0
                        OriginChanged: false
                        PhoneUsage: 0
                        Points:
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 64.7411117553711
                            Height: 47042
                            Id: 5562646835
                            Lateral: 0
                            Latitude: 42.42971
                            Longitude: 19.26057
                            MidSpeed: 1.8899999856948853
                            Number: 23
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:36:53+01:00
                            Speed: 6.803999900817871
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 70.55370791973205
                            Yaw: -3.707047985186452
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646836
                            Lateral: 0
                            Latitude: 42.43003
                            Longitude: 19.26076
                            MidSpeed: 0
                            Number: 23
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:36:53+01:00
                            Speed: 6.803999900817871
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 70.55370791973205
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 48.432376861572266
                            Height: 45651
                            Id: 5562646837
                            Lateral: 0
                            Latitude: 42.43029
                            Longitude: 19.26094
                            MidSpeed: 10.529999732971191
                            Number: 30
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:37:01+01:00
                            Speed: 37.907997131347656
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 134.3688907707058
                            Yaw: -1.154099030300728
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646838
                            Lateral: 0
                            Latitude: 42.43035
                            Longitude: 19.26098
                            MidSpeed: 0
                            Number: 30
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:37:01+01:00
                            Speed: 37.907997131347656
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 134.3688907707058
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646839
                            Lateral: 0
                            Latitude: 42.43049
                            Longitude: 19.26107
                            MidSpeed: 0
                            Number: 30
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:37:01+01:00
                            Speed: 37.907997131347656
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 134.3688907707058
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646840
                            Lateral: 0
                            Latitude: 42.43063
                            Longitude: 19.26116
                            MidSpeed: 0
                            Number: 30
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:37:01+01:00
                            Speed: 37.907997131347656
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 134.3688907707058
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646841
                            Lateral: 0
                            Latitude: 42.43078
                            Longitude: 19.26125
                            MidSpeed: 0
                            Number: 30
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:37:01+01:00
                            Speed: 37.907997131347656
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 134.3688907707058
                            Yaw: 0
                          - AlertType: acc
                            AlertValue: 2.73121304678698
                            Cornering: false
                            Course: 30.037277221679688
                            Height: 46081
                            Id: 5562646842
                            Lateral: 0
                            Latitude: 42.43091
                            Longitude: 19.26132
                            MidSpeed: 11.899999618530272
                            Number: 36
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:37:07+01:00
                            Speed: 42.839996337890625
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 199.8859402377926
                            Yaw: 3.373774303543403
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646843
                            Lateral: 0
                            Latitude: 42.4311
                            Longitude: 19.26144
                            MidSpeed: 0
                            Number: 36
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:37:07+01:00
                            Speed: 42.839996337890625
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 199.8859402377926
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 29.018964767456055
                            Height: 45439
                            Id: 5562646844
                            Lateral: 0
                            Latitude: 42.43122
                            Longitude: 19.26151
                            MidSpeed: 1.9900000095367432
                            Number: 46
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:37:16+01:00
                            Speed: 7.164000034332275
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 255.9242702429615
                            Yaw: 7.8788453773104274
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 28.016765594482425
                            Height: 46800
                            Id: 5562646845
                            Lateral: 0
                            Latitude: 42.43122
                            Longitude: 19.26151
                            MidSpeed: 0
                            Number: 76
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:37:46+01:00
                            Speed: 0.7199999690055847
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 277.9192503768824
                            Yaw: 21.491451889582823
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 27.94347381591797
                            Height: 48428
                            Id: 5562646846
                            Lateral: 0
                            Latitude: 42.43133
                            Longitude: 19.26158
                            MidSpeed: 3.390000104904175
                            Number: 101
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:38:12+01:00
                            Speed: 12.20400047302246
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 294.7550404412025
                            Yaw: 32.60337781625023
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646847
                            Lateral: 0
                            Latitude: 42.43141
                            Longitude: 19.26163
                            MidSpeed: 0
                            Number: 101
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:38:12+01:00
                            Speed: 12.20400047302246
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 294.7550404412025
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 13.68250560760498
                            Height: 46130
                            Id: 5562646848
                            Lateral: 0
                            Latitude: 42.43141
                            Longitude: 19.26163
                            MidSpeed: 1.5900000333786013
                            Number: 121
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:38:32+01:00
                            Speed: 5.723999977111816
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 305.0785604929053
                            Yaw: 40.04452754574179
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646849
                            Lateral: 0
                            Latitude: 42.43154
                            Longitude: 19.2617
                            MidSpeed: 0
                            Number: 121
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:38:32+01:00
                            Speed: 5.723999977111816
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 305.0785604929053
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 297.7659606933594
                            Height: 43317
                            Id: 5562646850
                            Lateral: 0
                            Latitude: 42.43168
                            Longitude: 19.26121
                            MidSpeed: 11.449999809265137
                            Number: 127
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:38:38+01:00
                            Speed: 41.21999740600586
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 352.023600469979
                            Yaw: 42.2121041232123
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646851
                            Lateral: 0
                            Latitude: 42.43172
                            Longitude: 19.26106
                            MidSpeed: 0
                            Number: 127
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:38:38+01:00
                            Speed: 41.21999740600586
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 352.023600469979
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 292.27545166015625
                            Height: 43050
                            Id: 5562646852
                            Lateral: 0
                            Latitude: 42.43176
                            Longitude: 19.26092
                            MidSpeed: 13.010000228881836
                            Number: 129
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:38:40+01:00
                            Speed: 46.83599853515625
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 376.79683054772255
                            Yaw: 43.1180245122444
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646853
                            Lateral: 0
                            Latitude: 42.43184
                            Longitude: 19.2606
                            MidSpeed: 0
                            Number: 129
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:38:40+01:00
                            Speed: 46.83599853515625
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 376.79683054772255
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646854
                            Lateral: 0
                            Latitude: 42.43191
                            Longitude: 19.26019
                            MidSpeed: 0
                            Number: 129
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:38:40+01:00
                            Speed: 46.83599853515625
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 376.79683054772255
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 275.3913269042969
                            Height: 42569
                            Id: 5562646855
                            Lateral: 0
                            Latitude: 42.43194
                            Longitude: 19.25974
                            MidSpeed: 15.710000038146973
                            Number: 135
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:38:46+01:00
                            Speed: 56.555999755859375
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 468.6895719656074
                            Yaw: 45.4873528575099
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646856
                            Lateral: 0
                            Latitude: 42.43194
                            Longitude: 19.25966
                            MidSpeed: 0
                            Number: 135
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:38:46+01:00
                            Speed: 56.555999755859375
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 468.6895719656074
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646857
                            Lateral: 0
                            Latitude: 42.43195
                            Longitude: 19.259
                            MidSpeed: 0
                            Number: 135
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:38:46+01:00
                            Speed: 56.555999755859375
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 468.6895719656074
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 276.47760009765625
                            Height: 41650
                            Id: 5562646858
                            Lateral: 0
                            Latitude: 42.43197
                            Longitude: 19.25868
                            MidSpeed: 9.65999984741211
                            Number: 142
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:38:53+01:00
                            Speed: 34.775997161865234
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 555.9989318441475
                            Yaw: 48.4893260790632
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646859
                            Lateral: 0
                            Latitude: 42.43198
                            Longitude: 19.25851
                            MidSpeed: 0
                            Number: 142
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:38:53+01:00
                            Speed: 34.775997161865234
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 555.9989318441475
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646860
                            Lateral: 0
                            Latitude: 42.43202
                            Longitude: 19.2583
                            MidSpeed: 0
                            Number: 142
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:38:53+01:00
                            Speed: 34.775997161865234
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 555.9989318441475
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646861
                            Lateral: 0
                            Latitude: 42.43211
                            Longitude: 19.25797
                            MidSpeed: 0
                            Number: 142
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:38:53+01:00
                            Speed: 34.775997161865234
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 555.9989318441475
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 289.5633239746094
                            Height: 41436
                            Id: 5562646862
                            Lateral: 0
                            Latitude: 42.43218
                            Longitude: 19.25775
                            MidSpeed: 15.18000030517578
                            Number: 148
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:38:59+01:00
                            Speed: 54.64799880981445
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 632.5515530199134
                            Yaw: 50.998841030168656
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 293.8403015136719
                            Height: 39828
                            Id: 5562646863
                            Lateral: 0
                            Latitude: 42.43247
                            Longitude: 19.25686
                            MidSpeed: 14.720000267028809
                            Number: 153
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:04+01:00
                            Speed: 52.992000579833984
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 711.2929436105811
                            Yaw: 53.07797740375618
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 294.9710693359375
                            Height: 39735
                            Id: 5562646864
                            Lateral: 0
                            Latitude: 42.43251
                            Longitude: 19.25673
                            MidSpeed: 13
                            Number: 154
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:05+01:00
                            Speed: 46.79999923706055
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 724.8389436105812
                            Yaw: 53.42982326388652
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646865
                            Lateral: 0
                            Latitude: 42.43266
                            Longitude: 19.25627
                            MidSpeed: 0
                            Number: 154
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:05+01:00
                            Speed: 46.79999923706055
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 724.8389436105812
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 284.28033447265625
                            Height: 40029
                            Id: 5562646866
                            Lateral: 0
                            Latitude: 42.43269
                            Longitude: 19.2562
                            MidSpeed: 5.230000019073486
                            Number: 160
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:11+01:00
                            Speed: 18.82799911499023
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 772.7493736642922
                            Yaw: 56.065891945777494
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646867
                            Lateral: 0
                            Latitude: 42.43276
                            Longitude: 19.25599
                            MidSpeed: 0
                            Number: 160
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:11+01:00
                            Speed: 18.82799911499023
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 772.7493736642922
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646868
                            Lateral: 0
                            Latitude: 42.43281
                            Longitude: 19.25587
                            MidSpeed: 0
                            Number: 160
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:11+01:00
                            Speed: 18.82799911499023
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 772.7493736642922
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 299.666259765625
                            Height: 40505
                            Id: 5562646869
                            Lateral: 0
                            Latitude: 42.43292
                            Longitude: 19.25556
                            MidSpeed: 12.729999542236328
                            Number: 166
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:17+01:00
                            Speed: 45.82799530029297
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 830.1764931844796
                            Yaw: 58.63781013215189
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646870
                            Lateral: 0
                            Latitude: 42.43298
                            Longitude: 19.25537
                            MidSpeed: 0
                            Number: 166
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:17+01:00
                            Speed: 45.82799530029297
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 830.1764931844796
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646871
                            Lateral: 0
                            Latitude: 42.43314
                            Longitude: 19.25501
                            MidSpeed: 0
                            Number: 166
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:17+01:00
                            Speed: 45.82799530029297
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 830.1764931844796
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646872
                            Lateral: 0
                            Latitude: 42.43327
                            Longitude: 19.25478
                            MidSpeed: 0
                            Number: 166
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:17+01:00
                            Speed: 45.82799530029297
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 830.1764931844796
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 307.3990783691406
                            Height: 40894
                            Id: 5562646873
                            Lateral: 0
                            Latitude: 42.43336
                            Longitude: 19.25465
                            MidSpeed: 15.369999885559082
                            Number: 172
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:23+01:00
                            Speed: 55.33199691772461
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 919.5998032192314
                            Yaw: 60.92182924570467
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 310.5881652832031
                            Height: 40854
                            Id: 5562646874
                            Lateral: 0
                            Latitude: 42.43344
                            Longitude: 19.25452
                            MidSpeed: 15.06999969482422
                            Number: 173
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:24+01:00
                            Speed: 54.25199890136719
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 934.3533329204644
                            Yaw: 61.39741396088132
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646875
                            Lateral: 0
                            Latitude: 42.43363
                            Longitude: 19.25429
                            MidSpeed: 0
                            Number: 173
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:24+01:00
                            Speed: 54.25199890136719
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 934.3533329204644
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646876
                            Lateral: 0
                            Latitude: 42.43387
                            Longitude: 19.25405
                            MidSpeed: 0
                            Number: 173
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:24+01:00
                            Speed: 54.25199890136719
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 934.3533329204644
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646877
                            Lateral: 0
                            Latitude: 42.43415
                            Longitude: 19.25385
                            MidSpeed: 0
                            Number: 173
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:24+01:00
                            Speed: 54.25199890136719
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 934.3533329204644
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646878
                            Lateral: 0
                            Latitude: 42.43436
                            Longitude: 19.25373
                            MidSpeed: 0
                            Number: 173
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:24+01:00
                            Speed: 54.25199890136719
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 934.3533329204644
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646879
                            Lateral: 0
                            Latitude: 42.43456
                            Longitude: 19.25364
                            MidSpeed: 0
                            Number: 173
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:24+01:00
                            Speed: 54.25199890136719
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 934.3533329204644
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646880
                            Lateral: 0
                            Latitude: 42.43499
                            Longitude: 19.25352
                            MidSpeed: 0
                            Number: 173
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:24+01:00
                            Speed: 54.25199890136719
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 934.3533329204644
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646881
                            Lateral: 0
                            Latitude: 42.4353
                            Longitude: 19.25344
                            MidSpeed: 0
                            Number: 173
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:24+01:00
                            Speed: 54.25199890136719
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 934.3533329204644
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646882
                            Lateral: 0
                            Latitude: 42.43575
                            Longitude: 19.25334
                            MidSpeed: 0
                            Number: 173
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:24+01:00
                            Speed: 54.25199890136719
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 934.3533329204644
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 344.4350891113281
                            Height: 36731
                            Id: 5562646883
                            Lateral: 0
                            Latitude: 42.43613
                            Longitude: 19.25325
                            MidSpeed: 17.149999618530273
                            Number: 192
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:43+01:00
                            Speed: 61.73999786376953
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1227.8437422823035
                            Yaw: 69.07598577063673
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 344.4350891113281
                            Height: 36618
                            Id: 5562646884
                            Lateral: 0
                            Latitude: 42.43631
                            Longitude: 19.2532
                            MidSpeed: 17.139999389648438
                            Number: 193
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:44+01:00
                            Speed: 61.70399475097656
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1244.7609216798865
                            Yaw: 69.49348632939045
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 343.380126953125
                            Height: 36866
                            Id: 5562646885
                            Lateral: 0
                            Latitude: 42.43642
                            Longitude: 19.25317
                            MidSpeed: 17.229999542236328
                            Number: 194
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:45+01:00
                            Speed: 62.02799606323242
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1261.922001223954
                            Yaw: 69.88101379860703
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 343.380126953125
                            Height: 36997
                            Id: 5562646886
                            Lateral: 0
                            Latitude: 42.43658
                            Longitude: 19.25313
                            MidSpeed: 17.239999771118164
                            Number: 195
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:46+01:00
                            Speed: 62.06399917602539
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1279.162000995072
                            Yaw: 70.27861996514474
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646887
                            Lateral: 0
                            Latitude: 42.43663
                            Longitude: 19.25312
                            MidSpeed: 0
                            Number: 195
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:46+01:00
                            Speed: 62.06399917602539
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1279.162000995072
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 346.81640625
                            Height: 37879
                            Id: 5562646888
                            Lateral: 0
                            Latitude: 42.43671
                            Longitude: 19.2531
                            MidSpeed: 16.459999084472656
                            Number: 196
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:47+01:00
                            Speed: 59.25599670410156
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1295.6713800767982
                            Yaw: 70.8377523613182
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646889
                            Lateral: 0
                            Latitude: 42.43685
                            Longitude: 19.25307
                            MidSpeed: 0
                            Number: 196
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:47+01:00
                            Speed: 59.25599670410156
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1295.6713800767982
                            Yaw: 0
                          - AlertType: deacc
                            AlertValue: -3.7591028213500977
                            Cornering: false
                            Course: 354.5003356933594
                            Height: 38737
                            Id: 5562646890
                            Lateral: 0
                            Latitude: 42.43694
                            Longitude: 19.25304
                            MidSpeed: 14.970000267028809
                            Number: 197
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:48+01:00
                            Speed: 53.891998291015625
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1311.8090403646552
                            Yaw: 71.32981682045221
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 351.5540771484375
                            Height: 38737
                            Id: 5562646891
                            Lateral: 0
                            Latitude: 42.43694
                            Longitude: 19.25304
                            MidSpeed: 10.949999809265137
                            Number: 198
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:48+01:00
                            Speed: 39.41999816894531
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1321.8720901893698
                            Yaw: 71.67572921945528
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 349.14227294921875
                            Height: 39117
                            Id: 5562646892
                            Lateral: 0
                            Latitude: 42.43705
                            Longitude: 19.25301
                            MidSpeed: 7.949999809265136
                            Number: 199
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:50+01:00
                            Speed: 28.61999893188477
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1329.7823399995889
                            Yaw: 72.14386730537845
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 345.4686279296875
                            Height: 39117
                            Id: 5562646893
                            Lateral: 0
                            Latitude: 42.43705
                            Longitude: 19.25301
                            MidSpeed: 6.079999923706055
                            Number: 201
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:50+01:00
                            Speed: 21.887998580932617
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1342.999950076493
                            Yaw: 72.74754699753727
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 346.5404357910156
                            Height: 40087
                            Id: 5562646894
                            Lateral: 0
                            Latitude: 42.43717
                            Longitude: 19.25297
                            MidSpeed: 5.78000020980835
                            Number: 202
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:53+01:00
                            Speed: 20.808000564575195
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1348.8897702902875
                            Yaw: 73.01035973988643
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 346.5404357910156
                            Height: 40087
                            Id: 5562646895
                            Lateral: 0
                            Latitude: 42.43717
                            Longitude: 19.25297
                            MidSpeed: 4.199999809265137
                            Number: 203
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:53+01:00
                            Speed: 15.119998931884766
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1353.0519701012695
                            Yaw: 73.36909624172438
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 346.5404357910156
                            Height: 40087
                            Id: 5562646896
                            Lateral: 0
                            Latitude: 42.43717
                            Longitude: 19.25297
                            MidSpeed: 3.2300000190734863
                            Number: 204
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:53+01:00
                            Speed: 11.627999305725098
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1356.5565201219642
                            Yaw: 73.7475963688152
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 346.5404357910156
                            Height: 40087
                            Id: 5562646897
                            Lateral: 0
                            Latitude: 42.43717
                            Longitude: 19.25297
                            MidSpeed: 2.4800000190734863
                            Number: 205
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:39:53+01:00
                            Speed: 8.927999496459961
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1358.8728401397789
                            Yaw: 74.16882553258381
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 347.5557861328125
                            Height: 39593
                            Id: 5562646898
                            Lateral: 0
                            Latitude: 42.43707
                            Longitude: 19.253
                            MidSpeed: 0
                            Number: 218
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:40:08+01:00
                            Speed: 0
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1364.6706501443111
                            Yaw: 79.67267876366833
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 345.53472900390625
                            Height: 39680
                            Id: 5562646899
                            Lateral: 0
                            Latitude: 42.43717
                            Longitude: 19.25297
                            MidSpeed: 3.119999885559082
                            Number: 233
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:40:24+01:00
                            Speed: 11.231999397277832
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1379.551999977784
                            Yaw: 85.17839875827006
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646900
                            Lateral: 0
                            Latitude: 42.43717
                            Longitude: 19.25297
                            MidSpeed: 0
                            Number: 233
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:40:24+01:00
                            Speed: 11.231999397277832
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1379.551999977784
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646901
                            Lateral: 0
                            Latitude: 42.43738
                            Longitude: 19.25288
                            MidSpeed: 0
                            Number: 233
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:40:24+01:00
                            Speed: 11.231999397277832
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1379.551999977784
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 340.4259033203125
                            Height: 40311
                            Id: 5562646902
                            Lateral: 0
                            Latitude: 42.43752
                            Longitude: 19.25281
                            MidSpeed: 7.239999771118165
                            Number: 239
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:40:30+01:00
                            Speed: 26.06399917602539
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1416.2653299223948
                            Yaw: 87.49092951785359
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646903
                            Lateral: 0
                            Latitude: 42.43755
                            Longitude: 19.2528
                            MidSpeed: 0
                            Number: 239
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:40:30+01:00
                            Speed: 26.06399917602539
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1416.2653299223948
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646904
                            Lateral: 0
                            Latitude: 42.43772
                            Longitude: 19.2527
                            MidSpeed: 0
                            Number: 239
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:40:30+01:00
                            Speed: 26.06399917602539
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1416.2653299223948
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646905
                            Lateral: 0
                            Latitude: 42.43794
                            Longitude: 19.25254
                            MidSpeed: 0
                            Number: 239
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:40:30+01:00
                            Speed: 26.06399917602539
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1416.2653299223948
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 325.7630920410156
                            Height: 41356
                            Id: 5562646906
                            Lateral: 0
                            Latitude: 42.4381
                            Longitude: 19.25239
                            MidSpeed: 9.039999961853027
                            Number: 248
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:40:39+01:00
                            Speed: 32.54399871826172
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1494.6371305315065
                            Yaw: 91.1742764806284
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646907
                            Lateral: 0
                            Latitude: 42.43817
                            Longitude: 19.25233
                            MidSpeed: 0
                            Number: 248
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:40:39+01:00
                            Speed: 32.54399871826172
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1494.6371305315065
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646908
                            Lateral: 0
                            Latitude: 42.4386
                            Longitude: 19.25187
                            MidSpeed: 0
                            Number: 248
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:40:39+01:00
                            Speed: 32.54399871826172
                            SpeedLimit: 30
                            SpeedType: norm
                            TotalMeters: 1494.6371305315065
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646909
                            Lateral: 0
                            Latitude: 42.43881
                            Longitude: 19.25163
                            MidSpeed: 0
                            Number: 248
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:40:39+01:00
                            Speed: 32.54399871826172
                            SpeedLimit: 30
                            SpeedType: norm
                            TotalMeters: 1494.6371305315065
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646910
                            Lateral: 0
                            Latitude: 42.4389
                            Longitude: 19.25154
                            MidSpeed: 0
                            Number: 248
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:40:39+01:00
                            Speed: 32.54399871826172
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1494.6371305315065
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646911
                            Lateral: 0
                            Latitude: 42.43911
                            Longitude: 19.25129
                            MidSpeed: 0
                            Number: 248
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:40:39+01:00
                            Speed: 32.54399871826172
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1494.6371305315065
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 316.4778747558594
                            Height: 43845
                            Id: 5562646912
                            Lateral: 0
                            Latitude: 42.43923
                            Longitude: 19.25113
                            MidSpeed: 9.970000267028809
                            Number: 270
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:41:01+01:00
                            Speed: 35.891998291015625
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1665.3712916509676
                            Yaw: 100.4104219492962
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646913
                            Lateral: 0
                            Latitude: 42.43937
                            Longitude: 19.25094
                            MidSpeed: 0
                            Number: 270
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:41:01+01:00
                            Speed: 35.891998291015625
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1665.3712916509676
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646914
                            Lateral: 0
                            Latitude: 42.43956
                            Longitude: 19.25065
                            MidSpeed: 0
                            Number: 270
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:41:01+01:00
                            Speed: 35.891998291015625
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1665.3712916509676
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 308.3668212890625
                            Height: 46114
                            Id: 5562646915
                            Lateral: 0
                            Latitude: 42.4396
                            Longitude: 19.25059
                            MidSpeed: 10.390000343322754
                            Number: 276
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:41:07+01:00
                            Speed: 37.40399932861328
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1722.1879512865116
                            Yaw: 103.2318802901614
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646916
                            Lateral: 0
                            Latitude: 42.43973
                            Longitude: 19.25039
                            MidSpeed: 0
                            Number: 276
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:41:07+01:00
                            Speed: 37.40399932861328
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1722.1879512865116
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 313.2654724121094
                            Height: 46059
                            Id: 5562646917
                            Lateral: 0
                            Latitude: 42.43995
                            Longitude: 19.25002
                            MidSpeed: 8.720000267028809
                            Number: 283
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:41:13+01:00
                            Speed: 31.392000198364254
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1789.2476106464435
                            Yaw: 107.0564026594094
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646918
                            Lateral: 0
                            Latitude: 42.44013
                            Longitude: 19.24971
                            MidSpeed: 0
                            Number: 283
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:41:13+01:00
                            Speed: 31.392000198364254
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1789.2476106464435
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 315.5694580078125
                            Height: 45829
                            Id: 5562646919
                            Lateral: 0
                            Latitude: 42.44016
                            Longitude: 19.24966
                            MidSpeed: 5.690000057220459
                            Number: 289
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:41:19+01:00
                            Speed: 20.483999252319336
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1829.4807607366613
                            Yaw: 109.40795882721008
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646920
                            Lateral: 0
                            Latitude: 42.44025
                            Longitude: 19.24948
                            MidSpeed: 0
                            Number: 289
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:41:19+01:00
                            Speed: 20.483999252319336
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1829.4807607366613
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646921
                            Lateral: 0
                            Latitude: 42.44038
                            Longitude: 19.24923
                            MidSpeed: 0
                            Number: 289
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:41:19+01:00
                            Speed: 20.483999252319336
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1829.4807607366613
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646922
                            Lateral: 0
                            Latitude: 42.44048
                            Longitude: 19.249
                            MidSpeed: 0
                            Number: 289
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:41:19+01:00
                            Speed: 20.483999252319336
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 1829.4807607366613
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 308.9947204589844
                            Height: 45315
                            Id: 5562646923
                            Lateral: 0
                            Latitude: 42.4405
                            Longitude: 19.24894
                            MidSpeed: 11.609999656677246
                            Number: 295
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:41:26+01:00
                            Speed: 41.795997619628906
                            SpeedLimit: 30
                            SpeedType: norm
                            TotalMeters: 1879.2109605071112
                            Yaw: 111.90267476845324
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646924
                            Lateral: 0
                            Latitude: 42.44058
                            Longitude: 19.24876
                            MidSpeed: 0
                            Number: 295
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:41:26+01:00
                            Speed: 41.795997619628906
                            SpeedLimit: 30
                            SpeedType: norm
                            TotalMeters: 1879.2109605071112
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646925
                            Lateral: 0
                            Latitude: 42.44069
                            Longitude: 19.24846
                            MidSpeed: 0
                            Number: 295
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:41:26+01:00
                            Speed: 41.795997619628906
                            SpeedLimit: 30
                            SpeedType: norm
                            TotalMeters: 1879.2109605071112
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 298.5267333984375
                            Height: 45685
                            Id: 5562646926
                            Lateral: 0
                            Latitude: 42.44075
                            Longitude: 19.2483
                            MidSpeed: 9.90999984741211
                            Number: 302
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:41:33+01:00
                            Speed: 35.67599868774414
                            SpeedLimit: 30
                            SpeedType: norm
                            TotalMeters: 1940.7894106232689
                            Yaw: 114.59229148532928
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646927
                            Lateral: 0
                            Latitude: 42.44077
                            Longitude: 19.24823
                            MidSpeed: 0
                            Number: 302
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:41:33+01:00
                            Speed: 35.67599868774414
                            SpeedLimit: 30
                            SpeedType: norm
                            TotalMeters: 1940.7894106232689
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646928
                            Lateral: 0
                            Latitude: 42.44079
                            Longitude: 19.24818
                            MidSpeed: 0
                            Number: 302
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:41:33+01:00
                            Speed: 35.67599868774414
                            SpeedLimit: 30
                            SpeedType: norm
                            TotalMeters: 1940.7894106232689
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646929
                            Lateral: 0
                            Latitude: 42.44093
                            Longitude: 19.24774
                            MidSpeed: 0
                            Number: 302
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:41:33+01:00
                            Speed: 35.67599868774414
                            SpeedLimit: 30
                            SpeedType: norm
                            TotalMeters: 1940.7894106232689
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 300.67510986328125
                            Height: 46212
                            Id: 5562646930
                            Lateral: 0
                            Latitude: 42.441
                            Longitude: 19.24751
                            MidSpeed: 6.320000171661377
                            Number: 306
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:41:40+01:00
                            Speed: 22.75200080871582
                            SpeedLimit: 30
                            SpeedType: norm
                            TotalMeters: 2009.8020598699616
                            Yaw: 116.66939401648766
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 303.58770751953125
                            Height: 46212
                            Id: 5562646931
                            Lateral: 0
                            Latitude: 42.441
                            Longitude: 19.24751
                            MidSpeed: 4.909999847412109
                            Number: 307
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:41:40+01:00
                            Speed: 17.67599868774414
                            SpeedLimit: 30
                            SpeedType: norm
                            TotalMeters: 2014.3978197271392
                            Yaw: 117.16396382678344
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 298.88055419921875
                            Height: 46212
                            Id: 5562646932
                            Lateral: 0
                            Latitude: 42.441
                            Longitude: 19.24751
                            MidSpeed: 4.909999847412109
                            Number: 308
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:41:40+01:00
                            Speed: 17.67599868774414
                            SpeedLimit: 30
                            SpeedType: norm
                            TotalMeters: 2020.94284952374
                            Yaw: 117.6456884112008
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646933
                            Lateral: 0
                            Latitude: 42.44108
                            Longitude: 19.24725
                            MidSpeed: 0
                            Number: 308
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:41:40+01:00
                            Speed: 17.67599868774414
                            SpeedLimit: 30
                            SpeedType: norm
                            TotalMeters: 2020.94284952374
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646934
                            Lateral: 0
                            Latitude: 42.441
                            Longitude: 19.24721
                            MidSpeed: 0
                            Number: 308
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:41:40+01:00
                            Speed: 17.67599868774414
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 2020.94284952374
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 249.6420135498047
                            Height: 46240
                            Id: 5562646935
                            Lateral: 0
                            Latitude: 42.44096
                            Longitude: 19.24735
                            MidSpeed: 1.809999942779541
                            Number: 309
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:41:42+01:00
                            Speed: 6.515999794006348
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 2022.3691294786504
                            Yaw: 117.6456884112008
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 200.1379852294922
                            Height: 46240
                            Id: 5562646936
                            Lateral: 0
                            Latitude: 42.44096
                            Longitude: 19.24735
                            MidSpeed: 1.809999942779541
                            Number: 310
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:41:42+01:00
                            Speed: 6.515999794006348
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 2024.0976794240048
                            Yaw: 117.87265873230238
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646937
                            Lateral: 0
                            Latitude: 42.44078
                            Longitude: 19.24793
                            MidSpeed: 0
                            Number: 310
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:41:42+01:00
                            Speed: 6.515999794006348
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 2024.0976794240048
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646938
                            Lateral: 0
                            Latitude: 42.4407
                            Longitude: 19.24817
                            MidSpeed: 0
                            Number: 310
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:41:42+01:00
                            Speed: 6.515999794006348
                            SpeedLimit: 50
                            SpeedType: norm
                            TotalMeters: 2024.0976794240048
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 109.84397888183594
                            Height: 47733
                            Id: 5562646939
                            Lateral: 0
                            Latitude: 42.44067
                            Longitude: 19.24825
                            MidSpeed: 8.079999923706055
                            Number: 322
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:42:15+01:00
                            Speed: 29.08799934387207
                            SpeedLimit: 30
                            SpeedType: norm
                            TotalMeters: 2056.864958710151
                            Yaw: 129.35230792514207
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646940
                            Lateral: 0
                            Latitude: 42.44061
                            Longitude: 19.24843
                            MidSpeed: 0
                            Number: 322
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:42:15+01:00
                            Speed: 29.08799934387207
                            SpeedLimit: 30
                            SpeedType: norm
                            TotalMeters: 2056.864958710151
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646941
                            Lateral: 0
                            Latitude: 42.44057
                            Longitude: 19.24853
                            MidSpeed: 0
                            Number: 322
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:42:15+01:00
                            Speed: 29.08799934387207
                            SpeedLimit: 30
                            SpeedType: norm
                            TotalMeters: 2056.864958710151
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 109.32795715332033
                            Height: 47526
                            Id: 5562646942
                            Lateral: 0
                            Latitude: 42.44057
                            Longitude: 19.24853
                            MidSpeed: 4.840000152587891
                            Number: 328
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:42:21+01:00
                            Speed: 17.423999786376953
                            SpeedLimit: 30
                            SpeedType: norm
                            TotalMeters: 2088.4171688022184
                            Yaw: 131.41682005178222
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646943
                            Lateral: 0
                            Latitude: 42.44047
                            Longitude: 19.24878
                            MidSpeed: 0
                            Number: 328
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:42:21+01:00
                            Speed: 17.423999786376953
                            SpeedLimit: 30
                            SpeedType: norm
                            TotalMeters: 2088.4171688022184
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646944
                            Lateral: 0
                            Latitude: 42.4404
                            Longitude: 19.24895
                            MidSpeed: 0
                            Number: 328
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:42:21+01:00
                            Speed: 17.423999786376953
                            SpeedLimit: 30
                            SpeedType: norm
                            TotalMeters: 2088.4171688022184
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646945
                            Lateral: 0
                            Latitude: 42.44028
                            Longitude: 19.24922
                            MidSpeed: 0
                            Number: 328
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:42:21+01:00
                            Speed: 17.423999786376953
                            SpeedLimit: 30
                            SpeedType: norm
                            TotalMeters: 2088.4171688022184
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
                            Cornering: false
                            Course: 0
                            Height: 0
                            Id: 5562646946
                            Lateral: 0
                            Latitude: 42.44019
                            Longitude: 19.24939
                            MidSpeed: 0
                            Number: 328
                            PhoneUsage: false
                            PointDate: 2021-02-27T13:42:21+01:00
                            Speed: 17.423999786376953
                            SpeedLimit: 30
                            SpeedType: norm
                            TotalMeters: 2088.4171688022184
                            Yaw: 0
                          - AlertType: ""
                            AlertValue: 0
[...]
