swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: RecoveryServicesBackupClient
  version: 2016-08-10
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2016-08-10/operations.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: recoveryservicesbackup-operations
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account.
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersion:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
paths:
  /providers/Microsoft.RecoveryServices/operations:
    get:
      description: Returns the list of available operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersion"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ClientDiscoveryResponse"
      tags:
        - Operations
      x-ms-examples:
        ListOperations:
          parameters:
            api-version: 2016-08-10
          responses:
            "200":
              body:
                value:
                  - display:
                      description: Returns usage details for a Recovery Services Vault.
                      operation: Recovery Services Vault usage details.
                      provider: microsoft.recoveryservices
                      resource: Vault Usage
                    name: microsoft.recoveryservices/vaults/usages/read
                    origin: user
                  - display:
                      description: Returns summaries for Protected Items and Protected Servers for a Recovery Services .
                      operation: Recovery Services Protected Items and Protected Servers usage summaries details.
                      provider: microsoft.recoveryservices
                      resource: Backup Usages Summaries
                    name: microsoft.recoveryservices/vaults/backupUsageSummaries/read
                    origin: user
                  - display:
                      description: Returns Storage Configuration for Recovery Services Vault.
                      operation: Get Resource Storage Config
                      provider: microsoft.recoveryservices
                      resource: Vault Storage Config
                    name: microsoft.recoveryservices/vaults/storageConfig/read
                    origin: user
                  - display:
                      description: Updates Storage Configuration for Recovery Services Vault.
                      operation: Write Resource Storage Config
                      provider: microsoft.recoveryservices
                      resource: Vault Storage Config
                    name: microsoft.recoveryservices/vaults/storageConfig/write
                    origin: user
                  - display:
                      description: Returns Configuration for Recovery Services Vault.
                      operation: Get Resource Config
                      provider: microsoft.recoveryservices
                      resource: Vault Config
                    name: microsoft.recoveryservices/vaults/backupconfig/vaultconfig/read
                    origin: user
                  - display:
                      description: Updates Configuration for Recovery Services Vault.
                      operation: Update Resource Config
                      provider: microsoft.recoveryservices
                      resource: Vault Config
                    name: microsoft.recoveryservices/vaults/backupconfig/vaultconfig/write
                    origin: user
                  - display:
                      description: Returns token information for Recovery Services Vault.
                      operation: Get Vault Token Info
                      provider: microsoft.recoveryservices
                      resource: Token Info
                    name: microsoft.recoveryservices/vaults/tokenInfo/read
                    origin: user
                  - display:
                      description: Returns Security PIN Information for Recovery Services Vault.
                      operation: Get Security PIN Info
                      provider: microsoft.recoveryservices
                      resource: SecurityPINInfo
                    name: microsoft.recoveryservices/vaults/backupSecurityPIN/read
                    origin: user
                  - display:
                      description: Returns Backup Management Metadata for Recovery Services Vault.
                      operation: Get Backup Management Metadata
                      provider: microsoft.recoveryservices
                      resource: Backup Management Metadata
                    name: microsoft.recoveryservices/vaults/backupManagementMetaData/read
                    origin: user
                  - display:
                      description: Returns Backup Operation Result for Recovery Services Vault.
                      operation: Get Backup Operation Result
                      provider: microsoft.recoveryservices
                      resource: Backup Operation Results
                    name: microsoft.recoveryservices/vaults/backupOperationResults/read
                    origin: user
                  - display:
                      description: Returns Backup Operation Status for Recovery Services Vault.
                      operation: Get Backup Operation Status
                      provider: microsoft.recoveryservices
                      resource: Backup Operation Status
                    name: microsoft.recoveryservices/vaults/backupOperations/read
                    origin: user
                  - display:
                      description: Returns all Job Objects
                      operation: Get Jobs
                      provider: microsoft.recoveryservices
                      resource: Backup Jobs
                    name: microsoft.recoveryservices/vaults/backupJobs/read
                    origin: user
                  - display:
                      description: Cancel the Job
                      operation: Cancel Jobs
                      provider: microsoft.recoveryservices
                      resource: Backup Jobs
                    name: microsoft.recoveryservices/vaults/backupJobs/cancel/action
                    origin: user
                  - display:
                      description: Export Jobs
                      operation: Export Jobs
                      provider: microsoft.recoveryservices
                      resource: Export Backup Jobs
                    name: microsoft.recoveryservices/vaults/backupJobsExport/action
                    origin: user
                  - display:
                      description: Returns the Result of Job Operation.
                      operation: Get Job Operation Result
                      provider: microsoft.recoveryservices
                      resource: Backup Jobs Operation Results
                    name: microsoft.recoveryservices/vaults/backupJobs/operationResults/read
                    origin: user
                  - display:
                      description: Returns the Result of Export Job Operation.
                      operation: Get Export Job Operation Result
                      provider: microsoft.recoveryservices
                      resource: Export Backup Jobs Operation Results
                    name: microsoft.recoveryservices/vaults/backupJobsExport/operationResults/read
                    origin: user
                  - display:
                      description: Get Recovery Points for Protected Items.
                      operation: Get Recovery Points
                      provider: microsoft.recoveryservices
                      resource: Recovery Points
                    name: microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints/read
                    origin: user
                  - display:
                      description: Restore Recovery Points for Protected Items.
                      operation: Restore Recovery Points
                      provider: microsoft.recoveryservices
                      resource: Recovery Points
                    name: microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints/restore/action
                    origin: user
                  - display:
                      description: Provision Instant Item Recovery for Protected Item
                      operation: Provision Instant Item Recovery for Protected Item
                      provider: microsoft.recoveryservices
                      resource: Recovery Points
                    name: microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints/provisionInstantItemRecovery/action
                    origin: user
                  - display:
                      description: Revoke Instant Item Recovery for Protected Item
                      operation: Revoke Instant Item Recovery for Protected Item
                      provider: microsoft.recoveryservices
                      resource: Recovery Points
                    name: microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints/revokeInstantItemRecovery/action
                    origin: user
                  - display:
                      description: Returns all Protection Policies
                      operation: Get Protection Policy
                      provider: microsoft.recoveryservices
                      resource: Backup Policies
                    name: microsoft.recoveryservices/vaults/backupPolicies/read
                    origin: user
                  - display:
                      description: Creates Protection Policy
                      operation: Create Protection Policy
                      provider: microsoft.recoveryservices
                      resource: Backup Policies
                    name: microsoft.recoveryservices/vaults/backupPolicies/write
                    origin: user
                  - display:
                      description: Delete a Protection Policy
                      operation: Delete Protection Policy
                      provider: microsoft.recoveryservices
                      resource: Backup Policies
                    name: microsoft.recoveryservices/vaults/backupPolicies/delete
                    origin: user
                  - display:
                      description: Get Results of Policy Operation.
                      operation: Get Policy Operation Results
                      provider: microsoft.recoveryservices
                      resource: Backup Policy Operation Results
                    name: microsoft.recoveryservices/vaults/backupPolicies/operationResults/read
                    origin: user
                  - display:
                      description: Get Status of Policy Operation.
                      operation: Get Policy Operation Status
                      provider: microsoft.recoveryservices
                      resource: Backup Policy Operation Status
                    name: microsoft.recoveryservices/vaults/backupPolicies/operationsStatus/read
                    origin: user
                  - display:
                      description: Returns object details of the Protected Item
                      operation: Get Protected Item Details
                      provider: microsoft.recoveryservices
                      resource: Protected Items
                    name: microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/protectedItems/read
                    origin: user
                  - display:
                      description: Returns the list of all Protected Items.
                      operation: Get All Protected Items
                      provider: microsoft.recoveryservices
                      resource: Protected Items
                    name: microsoft.recoveryservices/vaults/backupProtectedItems/read
                    origin: user
                  - display:
                      description: Create a backup Protected Item
                      operation: Create Backup Protected Item
                      provider: microsoft.recoveryservices
                      resource: Protected Items
                    name: microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/protectedItems/write
                    origin: user
                  - display:
                      description: Deletes Protected Item
                      operation: Delete Protected Items
                      provider: microsoft.recoveryservices
                      resource: Protected Items
                    name: microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/protectedItems/delete
                    origin: user
                  - display:
                      description: Gets Result of Operation Performed on Protected Items.
                      operation: Get Protected Items Operation Results
                      provider: microsoft.recoveryservices
                      resource: Protected Item Operation Results
                    name: microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/protectedItems/operationResults/read
                    origin: user
                  - display:
                      description: Returns the status of Operation performed on Protected Items.
                      operation: Get Protected Items operation status
                      provider: microsoft.recoveryservices
                      resource: Protected Item Operation Status
                    name: microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/protectedItems/operationsStatus/read
                    origin: user
                  - display:
                      description: Performs Backup for Protected Item.
                      operation: Backup Protected Item
                      provider: microsoft.recoveryservices
                      resource: Protected Items
                    name: microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/protectedItems/backup/action
                    origin: user
                  - display:
                      description: Returns list of all Protectable Items.
                      operation: Get Protectable Items
                      provider: microsoft.recoveryservices
                      resource: Backup Protectable Items
                    name: microsoft.recoveryservices/vaults/backupProtectableItems/read
                    origin: user
                  - display:
                      description: Refreshes the container list
                      operation: Refresh container
                      provider: microsoft.recoveryservices
                      resource: Refresh Containers
                    name: microsoft.recoveryservices/vaults/refreshContainers/read
                    origin: user
                  - display:
                      description: Returns status of the operation
                      operation: Get Operation Results
                      provider: microsoft.recoveryservices
                      resource: Refresh Containers Operation Results
                    name: microsoft.recoveryservices/vaults/backupFabrics/operationResults/read
                    origin: user
                  - display:
                      description: Returns all containers belonging to the subscription
                      operation: Get Containers In Subscription
                      provider: microsoft.recoveryservices
                      resource: Backup Protection Containers
                    name: microsoft.recoveryservices/vaults/backupProtectionContainers/read
                    origin: user
                  - display:
                      description: Returns all registered containers
                      operation: Get Registered Container
                      provider: microsoft.recoveryservices
                      resource: Protection Containers
                    name: microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/read
                    origin: user
                  - display:
                      description: Gets result of Operation performed on Protection Container.
                      operation: Get Container Operation Results
                      provider: microsoft.recoveryservices
                      resource: Protection Containers Operation Results
                    name: microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/operationResults/read
                    origin: user
                  - display:
                      description: Returns all the backup management servers registered with vault.
                      operation: List of backup management servers.
                      provider: microsoft.recoveryservices
                      resource: Backup Engines
                    name: microsoft.recoveryservices/vaults/backupEngines
                    origin: user
                  - display:
                      description: Check Backup Status for Recovery Services Vaults
                      operation: Check Backup Status for Vault
                      provider: microsoft.recoveryservices
                      resource: Backup Status
                    name: microsoft.recoveryservices/vaults/backupStatus
                    origin: user
                  - display:
                      description: ""
                      operation: Pre Validate Enable Protection
                      provider: microsoft.recoveryservices
                      resource: PreValidate Protection
                    name: microsoft.recoveryservices/vaults/backupPreValidateProtection
                    origin: user
                  - display:
                      description: Validate Features
                      operation: Validate Features
                      provider: microsoft.recoveryservices
                      resource: Validate Features
                    name: microsoft.recoveryservices/vaults/backupValidateFeatures
                    origin: user
                  - display:
                      description: Create a backup Protection Intent
                      operation: Create backup Protection Intent
                      provider: microsoft.recoveryservices
                      resource: Protection Intent
                    name: microsoft.recoveryservices/vaults/backupFabrics/backupProtectionIntent/write
                    origin: user
                  - display:
                      description: Get all items in a container
                      operation: Get all items in a container
                      provider: microsoft.recoveryservices
                      resource: Workload Items
                    name: microsoft.recoveryservices/vaults/backupFabrics/{fabricName}/protectionContainers/{containerName}/items/read
                    origin: user
                  - display:
                      description: Get all items in a container
                      operation: Get all items in a container
                      provider: microsoft.recoveryservices
                      resource: Protection Containers Inquire
                    name: microsoft.recoveryservices/vaults/backupFabrics/protectionContainers/inquire/action
                    origin: user
      x-ms-pageable:
        itemName: value
        nextLinkName: nextLink
definitions:
  ClientDiscoveryDisplay:
    description: Localized display information of an operation.
    properties:
      description:
        description: Description of the operation having details of what operation is about.
        type: string
      operation:
        description: Operations Name itself.
        type: string
      provider:
        description: Name of the provider for display purposes
        type: string
      resource:
        description: ResourceType for which this Operation can be performed.
        type: string
    type: object
  ClientDiscoveryForLogSpecification:
    description: Class to represent shoebox log specification in json client discovery.
    properties:
      blobDuration:
        description: blob duration of shoebox log specification
        type: string
      displayName:
        description: Localized display name
        type: string
      name:
        description: Name for shoebox log specification.
        type: string
    type: object
  ClientDiscoveryForProperties:
    description: Class to represent shoebox properties in json client discovery.
    properties:
      serviceSpecification:
        $ref: "#/definitions/ClientDiscoveryForServiceSpecification"
        description: Operation properties.
    type: object
  ClientDiscoveryForServiceSpecification:
    description: Class to represent shoebox service specification in json client discovery.
    properties:
      logSpecifications:
        description: List of log specifications of this operation.
        items:
          $ref: "#/definitions/ClientDiscoveryForLogSpecification"
        type: array
    type: object
  ClientDiscoveryResponse:
    description: Operations List response which contains list of available APIs.
    properties:
      nextLink:
        description: Link to the next chunk of Response.
        type: string
      value:
        description: List of available operations.
        items:
          $ref: "#/definitions/ClientDiscoveryValueForSingleApi"
        type: array
    type: object
  ClientDiscoveryValueForSingleApi:
    description: Available operation details.
    properties:
      display:
        $ref: "#/definitions/ClientDiscoveryDisplay"
        description: Contains the localized display information for this particular operation
      name:
        description: Name of the Operation.
        type: string
      origin:
        description: The intended executor of the operation;governs the display of the operation in the RBAC UX and the audit logs UX
        type: string
      properties:
        $ref: "#/definitions/ClientDiscoveryForProperties"
        description: ShoeBox properties for the given operation.
    type: object
