swagger: "2.0"
schemes:
  - https
host: api.mastercard.com
info:
  title: rePower
  version: V2
  x-artifactId: repower
  x-origin:
    - format: swagger
      url: https://developer.mastercard.com/devzone/api/portal/swagger/mastercard-repower
      version: "2.0"
  x-providerName: mastercard.com
  x-serviceName: Repower
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg
tags:
  - name: rePower Transfer
  - name: rePower Transfer Reversal
paths:
  /repower/v2/repower:
    post:
      consumes:
        - application/xml
      description: |+
        Mastercard rePower empowers consumers to instantly add money to eligible Mastercard cards. Money is available immediately for expenditures anywhere Mastercard prepaid account is accepted. The ease with which cardholders can convert cash to prepaid card funds turns their reloadable prepaid cards into valuable and practical financial tools. Making the reload process simple and accessible provides merchants with an opportunity to increase cardholder traffic. Unlike other top-up services, merchants have the flexibility to set their own reload fees.  This resource streamlines development efforts to offer Mastercard rePower services, through quick and convenient web services with the following benefits: 1)Savings in development and operational costs associated with implementing a standard MIP connection.  2)Requires support for only a single acquiring interface.  3)Leverages existing processing messages and transaction codes  4)Mastercard provides a net settlement guarantee for each reload transaction  5)Supports EMV, PayPass & MDES transactions.  This resource facilitates the ability for cardholders to reload their prepaid cards easily and securely. 

      operationId: repowerPost2
      parameters:
        - description: Contains the details of the repower request message.
          in: body
          name: RepowerRequest
          required: false
          schema:
            $ref: "#/definitions/Repowerrequest_1_wrapper"
      produces:
        - application/xml
      responses:
        "200":
          description: Response details
          schema:
            $ref: "#/definitions/Repower_5_wrapper"
      tags:
        - rePower Transfer
      x-samples:
        - ignoreAsserts:
            - Repower.RequestId
            - Repower.TransactionReference
            - Repower.TransactionHistory.Transaction.SystemTraceAuditNumber
            - Repower.TransactionHistory.Transaction.NetworkReferenceNumber
            - Repower.TransactionHistory.Transaction.SettlementDate
            - Repower.TransactionHistory.Transaction.Response
            - Repower.TransactionHistory.Transaction.SubmitDateTime
            - Repower.AccountBalance.Value
            - Repower.AccountBalance.Currency
            - Repower.PersonPresentIndicator
          name: example_repower_transfer
          ordering: 1
          request:
            application/json: |
              {
                "RepowerRequest": {
                  "TransactionReference": "1113@remember-integer[15]@",
                 "CardNumber": "5184680430000006",
                  "TransactionAmount": {
                    "Value": "1314",
                    "Currency": "840"
                  },
                  "LocalDate": "0822",
                  "LocalTime": "133414",
                  "Channel": "P",
                  "ICA": "009674",
                  "ProcessorId": "9000000442",
                  "RoutingAndTransitNumber": "990442082",
                  "MerchantType": "6532",
                  "CardAcceptor": {
                    "Name": "THE BEST BANK",
                    "City": "ANYTOWN",
                    "State": "MO",
                    "PostalCode": "63101-1234",
                    "Country": "USA"
                  },
                  "TransactionFee": {
                    "Value": "25588",
                    "Currency": "840"
                  }
                }
              }
          response:
            application/json: |
              {
                "Repower": {
                  "RequestId": "1725992",
                  "TransactionReference": "1113@remember-integer[15]@",
                  "TransactionHistory": {
                    "Transaction": {
                      "Type": "REPOWERPAYMENT",
                      "SystemTraceAuditNumber": "105294",
                      "NetworkReferenceNumber": "411980208",
                      "SettlementDate": "0823",
                      "Response": {
                        "Code": "00",
                        "Description": "Approved or completed successfully"
                      },
                      "SubmitDateTime": "2016-08-25T06:38:25Z"
                    }
                  },
                  "AccountBalance": {
                    "Value": "30000",
                    "Currency": "840"
                  }
                }
              }
        - ignoreAsserts:
            - Repower.RequestId
            - Repower.TransactionReference
            - Repower.TransactionHistory.Transaction.SystemTraceAuditNumber
            - Repower.TransactionHistory.Transaction.NetworkReferenceNumber
            - Repower.TransactionHistory.Transaction.SettlementDate
            - Repower.TransactionHistory.Transaction.Response
            - Repower.TransactionHistory.Transaction.SubmitDateTime
            - Repower.AccountBalance
            - Repower.PersonPresentIndicator
          name: example_repower_transfer_Type2_Service
          ordering: 3
          request:
            application/json: |
              {
               "RepowerRequest": {
                "TransactionReference": "1114@remember-integer[15]@",
                "CardNumber": "5184680439000015",
                "TransactionAmount": {
                 "Value": "1338",
                 "Currency": "840"
                },
                "LocalDate": "1209",
                "LocalTime": "083738",
                "Channel": "W",
                "ICA": "009674",
                "ProcessorId": "9000000436",
                "RoutingAndTransitNumber": "728384008",
                "MerchantType": "6532",
                "CardAcceptor": {
                 "Name": "Mastercard int",
                 "City": "St Charles",
                 "State": "MO",
                 "PostalCode": "63301",
                 "Country": "USA"
                },
                "PaymentPosEntryMode": "050",
                "CardSequenceNumber": "015",
                "POSCardDataTerminalInputCapabilityIndicator": "3",
                "ICCEMVData": "9F090200025F2A0200369F10120112E1234BC7BBCC000000000000000000009F3704A28384049F360200019C01009F1E0831303030303634389F3501229F3403420300820259809A031511249F33032060089F1A0200369F02060000000000009F2701809F260803E87312A5953BD695050000048000",
                "PaymentInitiationChannel": "01",
                "AdditionalSenderInformation": "1234567891234567891202031985Cash",
                "ReceiverTrack2Data": "5184680439000015=241210100000860"
               }
              }
          response:
            application/json: |
              {
                 "Repower": {
                    "RequestId": "1513736",
                    "TransactionReference": "1114@remember-integer[15]@",
                    "TransactionHistory": {
                       "Transaction": {
                          "Type": "REPOWERPAYMENT",
                          "SystemTraceAuditNumber": "219247",
                          "NetworkReferenceNumber": "311515287",
                          "SettlementDate": "1018",
                          "Response": {
                             "Code": "00",
                             "Description": "Approved or completed successfully"
                          },
                          "SubmitDateTime": "2016-10-17T18:44:25Z"
                       }
                    },
                    "PersonPresentIndicator": "2",
                    "AccountBalance": ""
                 }
              }
        - ignoreAsserts:
            - Repower.RequestId
            - Repower.TransactionReference
            - Repower.TransactionHistory.Transaction.SystemTraceAuditNumber
            - Repower.TransactionHistory.Transaction.NetworkReferenceNumber
            - Repower.TransactionHistory.Transaction.SettlementDate
            - Repower.TransactionHistory.Transaction.Response
            - Repower.TransactionHistory.Transaction.SubmitDateTime
            - Repower.AccountBalance
            - Repower.PersonPresentIndicator
          name: example_repower_transfer_Type1_Service
          ordering: 4
          request:
            application/json: |
              {
               "RepowerRequest": {
                "TransactionReference": "1115@remember-integer[15]@",
                "CardNumber": "5184680438000016",
                "TransactionAmount": {
                 "Value": "1123",
                 "Currency": "840"
                },
                "LocalDate": "1017",
                "LocalTime": "150210",
                "Channel": "W",
                "ICA": "009674",
                "ProcessorId": "9000000436",
                "RoutingAndTransitNumber": "728384008",
                "MerchantType": "6532",
                "CardAcceptor": {
                 "Name": "Mastercard int",
                 "City": "St Charles",
                 "State": "MO",
                 "PostalCode": "63301",
                 "Country": "USA"
                },
                "PaymentPosEntryMode": "050",
                "CardSequenceNumber": "011",
                "POSCardDataTerminalInputCapabilityIndicator": "3",
                "ICCEMVData": "9F090200025F2A0200369F10120112E1234BC7BBCC000000000000000000009F3704A28384049F360200019C01009F1E0831303030303634389F3501229F3403420300820259809A031511249F33032060089F1A0200369F02060000000000009F2701809F260803E87312A5953BD695050000048000",
                "PaymentInitiationChannel": "01",
                "AdditionalSenderInformation": "1234567891234567891202031985Cash",
                "ReceiverTrack2Data": "5184680438000016=241210100000860"
               }
              }
          response:
            application/json: |
              {
               "Repower": {
                "RequestId": "1513732",
                "TransactionReference": "1115@remember-integer[15]@",
                "TransactionHistory": {
                 "Transaction": {
                  "Type": "REPOWERPAYMENT",
                  "SystemTraceAuditNumber": "115750",
                  "NetworkReferenceNumber": "413375140",
                  "SettlementDate": "1018",
                  "Response": {
                   "Code": "00",
                   "Description": "Approved or completed successfully"
                  },
                  "SubmitDateTime": "2016-10-17T18:43:00Z"
                 }
                },
                "PersonPresentIndicator": "1",
                "AccountBalance": ""
               }
              }
      x-testable: false
  /repower/v2/repowerreversal:
    post:
      consumes:
        - application/xml
      description: "A Transfer Reversal is a request to reverse a previously submitted Mastercard rePower Transfer, and is only available in extremely limited circumstances.  Reversal Processing : A rePower transaction reversal may be submitted in the event of a documented clerical error. The rePower transaction reversal must be submitted within 15 minutes of the time the original rePower transaction was authorized.  Use this resource to reverse a previously submitted rePower Transfer. "
      operationId: repowerReversalPost2
      parameters:
        - description: Contains the details of the repower reversal request message.
          in: body
          name: RepowerReversalRequest
          required: false
          schema:
            $ref: "#/definitions/Repowerreversalrequest_10_wrapper"
      produces:
        - application/xml
      responses:
        "200":
          description: Response details
          schema:
            $ref: "#/definitions/Repowerreversal_11_wrapper"
      tags:
        - rePower Transfer Reversal
      x-samples:
        - ignoreAsserts:
            - RepowerReversal.RequestId
            - RepowerReversal.OriginalRequestId
            - RepowerReversal.TransactionReference
            - RepowerReversal.TransactionHistory.Transaction.SystemTraceAuditNumber
            - RepowerReversal.TransactionHistory.Transaction.NetworkReferenceNumber
            - RepowerReversal.TransactionHistory.Transaction.SettlementDate
            - RepowerReversal.TransactionHistory.Transaction.SubmitDateTime
            - RepowerReversal.AccountBalance.Value
            - RepowerReversal.AccountBalance.Currency
          name: example_repower_transfer_reversal
          ordering: 2
          overrides:
            - RepowerReversalRequest.TransactionReference: example_repower_transfer.Repower.TransactionReference
          request:
            application/json: |
              {
                "RepowerReversalRequest": {
                  "TransactionReference": "0600967423013255115",
                  "ICA": "009674",
                  "ReversalReason": "Invalid amount loaded"
                }
              }
          response:
            application/json: |
              {
                "RepowerReversal": {
                  "RequestId": "1427988",
                  "OriginalRequestId": "1427986",
                  "TransactionReference": "4566941824121178890",
                  "TransactionHistory": {
                    "Transaction": {
                      "Type": "REPOWERPAYMENTREVERSAL",
                      "SystemTraceAuditNumber": "427986",
                      "NetworkReferenceNumber": "212355347",
                      "SettlementDate": "0826",
                      "Response": {
                        "Code": "00",
                        "Description": "Approved or completed successfully"
                      },
                      "SubmitDateTime": "2016-08-25T07:21:21Z"
                    }
                  }
                }
              }
      x-testable: false
definitions:
  Accountbalance_9:
    description: Account Balance amount value and currency
    properties:
      Currency:
        description: Global currency code used to represent the type of currency for the "Value" for the Account balance. Details- numeric, 3, valid ISO 4217 numeric currency codes (leading zeros may be required.)
        example: "840"
        type: string
      Value:
        description: Account balance. Implied decimal point based on currency exponent. Details- Numeric, 12
        example: "7500"
        type: string
    type: object
    xml:
      name: AccountBalance
  Cardacceptor_2:
    description: Card Acceptor
    properties:
      City:
        description: City of merchant's address. Details- String, 1-13
        example: St Charles
        type: string
      Country:
        description: The CountryIso3Code will be a three character value compliant with ISO 3166-1 and alpha-3 standards. Details- String, 3
        example: USA
        type: string
      Name:
        description: Point of sale merchant's name. Details- String, 1-22
        example: THE BEST BANK
        type: string
      PostalCode:
        description: The PostalCode is a value representing the zip code for the merchant's address. Details- String, 10
        example: 63368-1234
        type: string
      State:
        description: State of the merchant's address. Details- String, 2
        example: MO
        type: string
    required:
      - Name
      - City
      - State
      - Country
    type: object
    xml:
      name: CardAcceptor
  Repower_5:
    description: Response details
    properties:
      AccountBalance:
        $ref: "#/definitions/Accountbalance_9"
      ICCEMVData:
        description: " Integrated Circuit Card (ICC) System related data. It must be present for EMV transactions. Required DE 55 Subelements in /0200 and /0220 Messages. Details- Conditional, String, 255"
        example: 9F36020000910AEE7C7466F8DE982D0010
        type: string
      PANMappingFileInformation:
        description: PAN Mapping File Information will be avalable when the PAN is MDES token. Details- Conditional, String, 33
        example: 0101M0216518600960419927903041907
        type: string
      PersonPresentIndicator:
        description: |-
          Person Present Indicator values is populated in repower response.
          Where the repower requests are 
          a. PaymentPosEntryMode (07*/09*) 
          b. CardSequenceNumber > 0 
          c. Transaction Amount > 0
          It is a number value and size 2 digit
        example: "1"
        type: string
      RequestId:
        description: This is the unique identifier for API Web service request. Details- Numeric value, variable length between 1 and 19 digits, without zero padding
        example: "1023"
        type: string
      TransactionHistory:
        $ref: "#/definitions/Transactionhistory_6"
      TransactionReference:
        description: This value represents the unique reference number for the rePower transaction provided by the merchant or acquiring institution. Details- Alphanumeric value, 19
        example: 999999034810154900
        type: string
    type: object
    xml:
      name: Repower
  Repower_5_wrapper:
    description: Response details
    properties:
      Repower:
        $ref: "#/definitions/Repower_5"
  Repowerrequest_1:
    description: Contains the details of the repower request message.
    properties:
      AdditionalSenderInformation:
        description: " Contains additional sender information in the Financial Transaction.The first 20 digits will be telephone number(n-20), the next 8 digits will be Date of Birth(n-8)(MMDDYYYY)and 'Check' or 'Cash' needs to be populated next based on check load or cash load.  Details- String, Min 32 characters, Max 65 characters in Length"
        example: 1234567891234567891202031985Cash
        type: string
      CardAcceptor:
        $ref: "#/definitions/Cardacceptor_2"
      CardNumber:
        description: Cardholder personal account number. Details- Numeric, 16 or 19, must pass LUHN MOD10 validation
        example: "5184680430000014"
        type: string
      CardSequenceNumber:
        description: Card Sequence Number as part of PaymentPOS Entry mode Integrated Circuit and contactless M/Chip. It must be present for EMV,MDES or PayPass transactions (where POS Entry Mode = "05x" or "07x"). Details- Numeric, 3, The Possible values for Card Sequence Number are in the range 000–099
        example: "010"
        type: string
      Channel:
        description: Origination channel for the rePower transaction as 'Attended POS' (P) or 'Web' (W).  Details- Alpha, 1, Constant P or W
        example: W
        type: string
      ICA:
        description: ICA of acquiring institution. Details- Numeric, 4-6
        example: "999999"
        type: string
      ICCEMVData:
        description: Integrated Circuit Card (ICC) System related data. It must be present for EMV(Including paypass/MDES EMV) transactions. Details- String, 255. Please refer section 'ICCEMVData' for more details.
        example: 5F2A02064382025C00950500000000009A030306199C01009F02060000000100009F10200012A08003242000961F00000000000000FF00000000000000000000000000009F1A0206439F2701809F360200A29F3704000000569F4104000066829F260878F10CB66852EA62
        type: string
      LocalDate:
        description: This is the local date for the location where the request is originating. Details- Numeric, 4, MMDD
        example: "1231 "
        type: string
      LocalTime:
        description: " This is the local time for the location where the request is originating. The format is military or twenty-four hour clock time. Details- Numeric, HHMMSS"
        example: "143752"
        type: string
      MerchantType:
        description: Merchant's type of business or Service will be represented as a member financial institution initiated rePower transaction (6532), or merchant initiated rePower transaction (6533). Details- Numeric, 4, constant 6532 or 6533
        example: "6532"
        type: string
      POSCardDataTerminalInputCapabilityIndicator:
        description: Point of Service (POS) card data terminal input capability indicator. It must be present for EMV,MDES or PayPass transactions (where POS Entry Mode = "05x" or "07x" or "91x"). Details- Conditional, numeric, 1, The Possible values for POS card data terminal input capability indicator is 3 or 4.
        example: "3"
        type: string
      PaymentInitiationChannel:
        description: Payment Initiation Channel is the device type used to identify mobile-initiated (m-commerce) or other non-card device initiated transactions. It's an option field for paypass transactions. Details-  Numeric, 2 digits. The possible values for Payment Initiation Channel is detailed out in section 'PaymentInitiationChannel'
        example: "01"
        type: string
      PaymentPosEntryMode:
        description: PaymentPos Entry Mode to represent the POS Terminal PAN Entry Mode & Terminal PIN Entry Mode. This is required for EMV transactions and Paypass/MDES magstripe transactions. The first two digits indicate PAN entry mode and the last digit indicate PIN entry mode. Details- Numeric, 3. For PAN/PIN Entry mode details refer section 'PaymentPosEntryMode'
        example: "070"
        type: string
      ProcessorId:
        description: Processor Id. Details- Numeric, 10
        example: "1234567890"
        type: string
      ReceiverTrack2Data:
        description: Contains 8 sub fields to enhance the repower API to support EMV scripting data fields.It must be present for EMV, MDES or PayPass transactions(where POS Entry Mode is other than 010 or 011 or 012). Details- Conditional, String, Max 37 characters in Length. Refer section 'ReceiverTrack2Data'
        example: 1234567890123452=241210100000860
        type: string
      RoutingAndTransitNumber:
        description: Routing and Transit number. Details- Numeric, 9
        example: "123456789"
        type: string
      TransactionAmount:
        $ref: "#/definitions/Transactionamount_3"
      TransactionFee:
        $ref: "#/definitions/Transactionfee_4"
      TransactionReference:
        description: Repower Transaction Reference Number. Provided by the Client submitting the rePower transfer request. Must be "unique" across all rePower transfer requests. Details- Numeric, length 19
        example: "0999999034810154901 "
        type: string
    required:
      - ICA
      - ProcessorId
      - RoutingAndTransitNumber
      - MerchantType
      - Channel
      - LocalTime
      - LocalDate
      - TransactionReference
      - CardNumber
    type: object
    xml:
      name: RepowerRequest
  Repowerrequest_1_wrapper:
    description: Contains the details of the repower request message.
    properties:
      RepowerRequest:
        $ref: "#/definitions/Repowerrequest_1"
  Repowerreversal_11:
    description: Response details
    properties:
      OriginalRequestId:
        description: Unique identifier assigned to the original rePower transaction request. Details- Numeric value, 1-19
        example: "1005"
        type: string
      RequestId:
        description: This is the unique identifier for API Web service request. Details- Numeric value, variable length between 1 and 19 digits, without zero padding
        example: "1023"
        type: string
      TransactionHistory:
        $ref: "#/definitions/Transactionhistory_12"
      TransactionReference:
        description: This is the Request ID for the original rePower transaction provided by the merchant or acquiring institution. Details- Alphanumeric value, 19
        example: 999999034810154900
        type: string
    type: object
    xml:
      name: RepowerReversal
  Repowerreversal_11_wrapper:
    description: Response details
    properties:
      RepowerReversal:
        $ref: "#/definitions/Repowerreversal_11"
  Repowerreversalrequest_10:
    description: Contains the details of the repower reversal request message.
    properties:
      ICA:
        description: ICA of acquiring institution. Details- Numeric, 4-6
        example: "999999"
        type: string
      ReversalReason:
        description: Brief description of reason for reversal. Details- String, 1-50
        example: FAILURE IN PROCESSING
        type: string
      TransactionReference:
        description: Unique reference number provided by the client in the "original" rePower transfer to be reversed. Details- Alphanumeric, 19
        example: "0999999034810154901 "
        type: string
    required:
      - ICA
      - TransactionReference
      - ReversalReason
    type: object
    xml:
      name: RepowerReversalRequest
  Repowerreversalrequest_10_wrapper:
    description: Contains the details of the repower reversal request message.
    properties:
      RepowerReversalRequest:
        $ref: "#/definitions/Repowerreversalrequest_10"
  Response_14:
    description: Transaction response
    properties:
      Code:
        description: Code that specifies the dispensation of the financial transaction request. Details- Alpha numeric, 2
        example: "11"
        type: string
      Description:
        description: This is the Description of response. Details- Alpha Numeric, Special, 80
        example: "Approved or completed successfully "
        type: string
    type: object
    xml:
      name: Response
  Response_8:
    description: Transaction response
    properties:
      Code:
        description: Code that specifies the dispensation of the financial transaction request. Details- Alpha numeric, 2
        example: "11"
        type: string
      Description:
        description: This is the Description of response. Details- Alpha Numeric, Special, 80
        example: "Approved or completed successfully "
        type: string
    type: object
    xml:
      name: Response
  Transaction_13:
    description: Information for one transaction
    properties:
      NetworkReferenceNumber:
        description: Network Reference Number that can be used for transaction inquiry. Details- Numeric, 9
        example: "412370594"
        type: string
      Response:
        $ref: "#/definitions/Response_14"
      SettlementDate:
        description: Date Funds will be transferred between the acquirer and issuer by Single Message System, in MMDD format
        example: "1231"
        type: string
      SubmitDateTime:
        description: "This is the time and date of the transaction submission, in the following format: <date>T<time>Z, where date> is YYYY-MM-DD, <time> is HH:MM:SS"
        example: 2012-07-02T12:17:46Z
        type: string
      SystemTraceAuditNumber:
        description: Identifier assigned to each transaction by the rePower service. This identifier is unique for any single UTC date. Details- Numeric value, 6
        example: "192325"
        type: string
      Type:
        description: Type of transaction. Details- Alpha
        example: REPOWERPAYMENTREVERSAL
        type: string
    type: object
    xml:
      name: Transaction
  Transaction_7:
    description: Information for one transaction
    properties:
      NetworkReferenceNumber:
        description: Network Reference Number that can be used for transaction inquiry. Details- Numeric, 9
        example: "412370594"
        type: string
      Response:
        $ref: "#/definitions/Response_8"
      SettlementDate:
        description: Date Funds will be transferred between the acquirer and issuer by Single Message System, in MMDD format
        example: "1231"
        type: string
      SubmitDateTime:
        description: "This is the time and date of the transaction submission, in the following format: <date>T<time>Z, where date> is YYYY-MM-DD, <time> is HH:MM:SS"
        example: 2012-07-02T12:17:46Z
        type: string
      SystemTraceAuditNumber:
        description: Identifier assigned to each transaction by the rePower service. This identifier is unique for any single UTC date. Details- Numeric value, 6
        example: "192325"
        type: string
      Type:
        description: Type of transaction. Details- Alpha
        example: REPOWERPAYMENT
        type: string
    type: object
    xml:
      name: Transaction
  Transactionamount_3:
    description: Transaction amount value and currency
    properties:
      Currency:
        description: Global currency code used to represent the type of currency for the "Value" representing funds to be topped up. Details- numeric, 3, valid ISO 4217 numeric currency codes (leading zeros may be required.)
        example: "840"
        type: string
      Value:
        description: The amount to be loaded onto the account. Implied decimal point based on currency exponent. Details- Numeric, 2-12
        example: "25000"
        type: string
    required:
      - Value
      - Currency
    type: object
    xml:
      name: TransactionAmount
  Transactionfee_4:
    description: Transaction fee amount and currency
    properties:
      Currency:
        description: Global currency code used to represent the type of currency for the "Value" representing the fees.It should match the transaction amount currency. Details- Numeric, 3, valid ISO 4217 numeric currency codes (leading zeros may be required.)
        example: "840"
        type: string
      Value:
        description: Fee charged by the acquirer for transaction activity in the currency of the Transaction amount value. Details- numeric, 1-8
        example: "250"
        type: string
    type: object
    xml:
      name: TransactionFee
  Transactionhistory_12:
    description: "List of transactions performed to complete request "
    properties:
      Transaction:
        description: Information for one transaction
        items:
          $ref: "#/definitions/Transaction_13"
        type: array
    type: object
    xml:
      name: TransactionHistory
  Transactionhistory_6:
    description: "List of transactions performed to complete request "
    properties:
      Transaction:
        description: Information for one transaction
        items:
          $ref: "#/definitions/Transaction_7"
        type: array
    type: object
    xml:
      name: TransactionHistory
