swagger: "2.0"
schemes:
  - https
host: api.mastercard.com
info:
  title: Send Person to Merchant
  version: V1
  x-artifactId: p2m
  x-origin:
    - format: swagger
      url: https://developer.mastercard.com/devzone/api/portal/swagger/mastercard-merchant-presented-qr
      version: "2.0"
  x-providerName: mastercard.com
  x-serviceName: masterpassqr
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg
tags:
  - name: Merchant Transfer - Funding and Payment
  - name: Merchant Transfer - Payment
  - name: Merchant Retrieval
  - name: Digital Account Reference Number
  - name: Digital Account Reference Number Retrieval
  - name: Merchant Refund
  - name: Funding
  - name: Funding Reversal
  - name: Test Payment Notification
  - name: Test Refund Notification
  - name: Transfer Notification Registration
paths:
  "/send/#env/v1/partners/{partnerId}/merchant/transfer":
    post:
      consumes:
        - application/json
        - application/xml
      description: Initiates a Mastercard Merchant Presented QR purchase transaction by securing funds from a consumer’s account with a Funding Transaction and pushing funds to a merchant account with a Payment Transaction.
      operationId: createMerchantTransfer
      parameters:
        - description: |-
            Path Param - Provider assigned partner id. 

            Type: Alphanumeric Special  [a-zA-Z0-9_-], Length: 32
          in: path
          name: partnerId
          required: true
          type: string
          x-example: ptnr_A37V2q91WUqSonkfEG29Q-Bf4s9
        - description: Contains the details of the request message.
          in: body
          name: merchant_transfer
          required: true
          schema:
            $ref: "#/definitions/MerchantTransfer_1_wrapper"
      produces:
        - application/json
        - application/xml
      responses:
        "200":
          description: Response details for a merchant transfer.
          schema:
            $ref: "#/definitions/MerchantTransfer_14_wrapper"
      summary: Initiates a Mastercard Merchant Presented QR purchase transaction by securing funds from a consumer’s account with a Funding Transaction and pushing funds to a merchant account with a Payment Transaction.
      tags:
        - Merchant Transfer - Funding and Payment
      x-samples:
        - ignoreAsserts:
            - merchant_transfer.id
            - merchant_transfer.created
            - merchant_transfer.transfer_reference
            - merchant_transfer.transaction_history.data.transaction[0].id
            - merchant_transfer.transaction_history.data.transaction[0].create_timestamp
            - merchant_transfer.transaction_history.data.transaction[0].status_timestamp
            - merchant_transfer.transaction_history.data.transaction[0].retrieval_reference
            - merchant_transfer.transaction_history.data.transaction[0].system_trace_audit_number
            - merchant_transfer.transaction_history.data.transaction[0].unique_reference_number
            - merchant_transfer.transaction_history.data.transaction[1].id
            - merchant_transfer.transaction_history.data.transaction[1].create_timestamp
            - merchant_transfer.transaction_history.data.transaction[1].status_timestamp
            - merchant_transfer.transaction_history.data.transaction[1].retrieval_reference
            - merchant_transfer.transaction_history.data.transaction[1].system_trace_audit_number
            - merchant_transfer.transaction_history.data.transaction[1].unique_reference_number
            - merchant_transfer.status_timestamp
            - merchant_transfer.recipient.email
            - merchant_transfer.original_status
            - merchant_transfer.transaction_history.data.transaction[0].network
          name: CreateTransfer
          ordering: 103
          request:
            application/json: |-
              {
               "partnerId": "ptnr_BEeCrYJHh2BXTXPy_PEtp-8DBOo",
               "merchant_transfer": {
                "transfer_reference": "4007@remember-integer[36]@",
                "payment_type": "P2M",
                "transfer_amount": {
                 "value": "18",
                 "currency": "USD"
                },
                "payment_origination_country": "USA",
                "sender_account_uri": "pan:5299920210000277;exp=2077-08;cvc=123",
                "digital_account_reference_number": "pan:5299920210000277",
                "sender": {
                 "first_name": "John",
                 "middle_name": "Tyler",
                 "last_name": "Jones",
                 "address": {
                  "line1": "21 Broadway",
                  "line2": "Apartment A-6",
                  "city": "OFallon",
                  "country_subdivision": "MO",
                  "postal_code": "63368",
                  "country": "USA"
                 },
                 "phone": "11234565555",
                 "email": "John.Jones123@abcmail.com" , 
                  "additional_merchant_data": {
                  "payment_facilitator_id":"00000123456",
                   "sub_merchant_id" : "A1234D"
              } 
              },
                "recipient_account_uri": "pan:5299920210000277;exp=2077-08",
                "recipient": {
                 "first_name": "Jane",
                 "middle_name": "Tyler",
                 "last_name": "Smith",
                 "address": {
                  "line1": "1 Main St",
                  "line2": "Apartment 9",
                  "city": "OFallon",
                  "country_subdivision": "MO",
                  "postal_code": "63368",
                  "country": "USA"
                 },
                 "phone": "11234567890",
                 "email": "Jane.Smith123@abcmail.com",
                 "additional_merchant_data": {
                  "payment_facilitator_id":"00000123456",
                   "sub_merchant_id" : "A1234D"
              },
                 "merchant_category_code": "3000"   
                },
                "reconciliation_data": {
                 "custom_field": [{
                  "name": "GHI",
                  "value": "123"
                 }, {
                  "name": "ABC",
                  "value": "456"
                 }, {
                  "name": "DEF",
                  "value": "789"
                 }]
                },
                "transaction_local_date_time": "2016-09-22T13:22:11-05:30",
                "participant": {
                     "card_acceptor_name": "WELLS FARGO BANK NA",
                     "card_acceptor_id": "CardAcceptor123"
                },
                "participation_id": "TERMINAL34728",
                "additional_message": "mymessage",
                "interchange_rate_designator": "QR",
                "mastercard_assigned_id": "123456"
               }
              }
          response:
            application/json: |
              {
               "merchant_transfer": {
                "id": "mtrn_8HmnHRkW5CsHsKtIGEJ8azsrwnJ",
                "resource_type": "merchant_transfer",
                "transfer_reference": "4007@remember-integer[36]@",
                "payment_type": "P2M",
                "sender_account_uri": "pan:************0277",
                "digital_account_reference_number": "pan:************0277",
                "payment_origination_country": "USA",
                "sender": {
                 "first_name": "John",
                 "middle_name": "Tyler",
                 "last_name": "Jones",
                 "address": {
                  "line1": "21 Broadway",
                  "line2": "Apartment A-6",
                  "city": "OFallon",
                  "country_subdivision": "MO",
                  "postal_code": "63368",
                  "country": "USA"
                 },
                 "phone": "11234565555",
                 "email": "John.Jones123@abcmail.com",
                 "additional_merchant_data": {
                  "payment_facilitator_id":"00000123456",
                   "sub_merchant_id" : "A1234D"
              }
              },
                "recipient_account_uri": "pan:************0277",
                "recipient": {
                 "first_name": "Jane",
                 "middle_name": "Tyler",
                 "last_name": "Smith",
                 "address": {
                  "line1": "1 Main St",
                  "line2": "Apartment 9",
                  "city": "OFallon",
                  "country_subdivision": "MO",
                  "postal_code": "63368",
                  "country": "USA"
                 },
                 "phone": "11234567890",
                 "email": "John.Jones123@abcmail.com",
                 "additional_merchant_data": {
                  "payment_facilitator_id":"00000123456",
                   "sub_merchant_id" : "A1234D"
              },
                 "merchant_category_code": "3000"
                },
                "transfer_amount": {
                 "value": "18",
                 "currency": "USD"
                },
                "created": "2016-09-22T13:22:11-05:30",
                "transaction_history": {
                 "resource_type": "list",
                 "item_count": "2",
                 "data": {
                  "transaction": [{
                   "id": "txn_KHesUdrpshiYXJVH_H702cCvtEK5",
                   "resource_type": "transaction",
                   "account_uri": "pan:************0277",
                   "transaction_amount": {
                    "value": "18",
                    "currency": "USD"
                   },
                   "network": "MoneySend",
              	 "network_status_code": "00",
              	 "network_status_description": "Approved",
              	 "type": "FUNDING",
                   "create_timestamp": "2016-08-29T01:07:37-05:30",
                   "status": "APPROVED",
                   "status_reason": "APPROVED",
                   "status_timestamp": "2016-08-29T01:07:37-05:30",
                   "retrieval_reference": "723411975497",
                   "system_trace_audit_number": "975497",
              	 "unique_reference_number": "9261621456"
                  },{
                   "id": "txn_KHesUdrpshiYXJVH_H702cCvtEK5",
                   "resource_type": "transaction",
                   "account_uri": "pan:************0277",
                   "transaction_amount": {
                    "value": "18",
                    "currency": "USD"
                   },
                   "network": "MoneySend",
              	 "network_status_code": "00",
              	 "network_status_description": "Approved",
              	 "type": "PAYMENT",
                   "create_timestamp": "2016-08-29T01:07:37-05:30",
                   "status": "APPROVED",
                   "status_reason": "APPROVED",
                   "status_timestamp": "2016-08-29T01:07:37-05:30",
                   "retrieval_reference": "723411975497",
                   "system_trace_audit_number": "975497",
              	 "unique_reference_number": "9261621456"
                  }]
                 }
                },
                "reconciliation_data": {
                 "custom_field": [{
                  "name": "GHI",
                  "value": "123"
                 }, {
                  "name": "ABC",
                  "value": "456"
                 }, {
                  "name": "DEF",
                  "value": "789"
                 }]
                },
                "original_status": "APPROVED",
                "status": "APPROVED",
                "status_timestamp": "2016-08-29T01:07:37-05:00",
                "transaction_local_date_time": "2016-09-22T13:22:11-05:30",
                "mastercard_assigned_id": "123456",
                "interchange_rate_designator": "QR",
                "participant": {
                      "card_acceptor_name": "WELLS FARGO BANK NA"
                }
               }
              }
      x-testable: false
  "/send/#env/v1/partners/{partnerId}/merchant/transfers":
    get:
      description: Purpose of this service is to retrieve the Transfer resource associated with a specified transfer_reference value.
      operationId: getMerchantTransferByRef
      parameters:
        - description: Path Param - Provider assigned partner id. Details - string, 32
          in: path
          name: partnerId
          required: true
          type: string
        - description: Query Param - Is the client specified transfer reference when initiating the transfer. Allowable characters are alphanumeric and * , - . _ ~. Details- 6-40 Example- DEF123456
          in: query
          name: ref
          required: true
          type: string
      produces:
        - application/json
        - application/xml
      responses:
        "200":
          description: Response details for a merchant transfer.
          schema:
            $ref: "#/definitions/MerchantTransfers_69_wrapper"
      summary: Purpose of this service is to retrieve the Transfer resource associated with a specified transfer_reference value.
      tags:
        - Merchant Retrieval
      x-action: read by reference
      x-samples:
        - ignoreAsserts:
            - merchant_transfers.data.merchant_transfer[0].transfer_reference
            - merchant_transfers.data.merchant_transfer[0].id
            - merchant_transfers.data.merchant_transfer[0].created
            - merchant_transfers.data.merchant_transfer[0].transaction_history.data.transaction[0].id
            - merchant_transfers.data.merchant_transfer[0].transaction_history.data.transaction[0].create_timestamp
            - merchant_transfers.data.merchant_transfer[0].transaction_history.data.transaction[0].status_timestamp
            - merchant_transfers.data.merchant_transfer[0].status_timestamp
            - merchant_transfers.data.merchant_transfer[0].recipient.email
            - merchant_transfers.data.merchant_transfer[0].transaction_history.data.transaction[0].retrieval_reference
            - merchant_transfers.data.merchant_transfer[0].transaction_history.data.transaction[0].system_trace_audit_number
            - merchant_transfers.data.merchant_transfer[0].original_status
            - merchant_transfers.data.merchant_transfer[0].transaction_local_date_time
            - merchant_transfers.data.merchant_transfer[0].funding_source
            - merchant_transfers.data.merchant_transfer[0].participant.card_acceptor_id
            - merchant_transfers.data.merchant_transfer[0].participant.card_acceptor_name
            - merchant_transfer.transaction_history.data.transaction[0].network_status_description
            - merchant_transfers.data.merchant_transfer[0].transaction_history.data.transaction[0].network
            - merchant_transfers.data.merchant_transfer[0].transaction_history.data.transaction[0].network_status_description
            - merchant_transfers.data.merchant_transfer[0].resource_type
            - merchant_transfers.data.merchant_transfer[0].payment_type
            - merchant_transfers.data.merchant_transfer[0].digital_account_reference_number
            - merchant_transfers.data.merchant_transfer[0].sender_account_uri
            - merchant_transfers.data.merchant_transfer[0].sender.first_name
            - merchant_transfers.data.merchant_transfer[0].sender.middle_name
            - merchant_transfers.data.merchant_transfer[0].sender.last_name
            - merchant_transfers.data.merchant_transfer[0].sender.additional_merchant_data.payment_facilitator_id
            - merchant_transfers.data.merchant_transfer[0].sender.additional_merchant_data.sub_merchant_id
            - merchant_transfers.data.merchant_transfer[0].recipient_account_uri
            - merchant_transfers.data.merchant_transfer[0].recipient.first_name
            - merchant_transfers.data.merchant_transfer[0].recipient.middle_name
            - merchant_transfers.data.merchant_transfer[0].recipient.last_name
            - merchant_transfers.data.merchant_transfer[0].recipient.address.line1
            - merchant_transfers.data.merchant_transfer[0].recipient.address.line2
            - merchant_transfers.data.merchant_transfer[0].recipient.address.city
            - merchant_transfers.data.merchant_transfer[0].recipient.address.country_subdivision
            - merchant_transfers.data.merchant_transfer[0].recipient.address.postal_code
            - merchant_transfers.data.merchant_transfer[0].recipient.address.country
            - merchant_transfers.data.merchant_transfer[0].recipient.phone
            - merchant_transfers.data.merchant_transfer[0].recipient.additional_merchant_data.payment_facilitator_id
            - merchant_transfers.data.merchant_transfer[0].recipient.additional_merchant_data.sub_merchant_id
            - merchant_transfers.data.merchant_transfer[0].recipient.merchant_category_code
            - merchant_transfers.data.merchant_transfer[0].transfer_amount.value
            - merchant_transfers.data.merchant_transfer[0].transfer_amount.currency
            - merchant_transfers.data.merchant_transfer[0].transaction_history.resource_type
            - merchant_transfers.data.merchant_transfer[0].transaction_history.item_count
            - merchant_transfers.data.merchant_transfer[0].transaction_history.data.transaction[0].resource_type
            - merchant_transfers.data.merchant_transfer[0].transaction_history.data.transaction[0].account_uri
            - merchant_transfers.data.merchant_transfer[0].transaction_history.data.transaction[0].transaction_amount.value
            - merchant_transfers.data.merchant_transfer[0].transaction_history.data.transaction[0].transaction_amount.currency
            - merchant_transfers.data.merchant_transfer[0].transaction_history.data.transaction[0].network_status_code
            - merchant_transfers.data.merchant_transfer[0].transaction_history.data.transaction[0].type
            - merchant_transfers.data.merchant_transfer[0].transaction_history.data.transaction[0].status
            - merchant_transfers.data.merchant_transfer[0].transaction_history.data.transaction[0].status_reason
            - merchant_transfers.data.merchant_transfer[0].transaction_history.data.transaction[0].switch_serial_number
            - merchant_transfers.data.merchant_transfer[0].transaction_history.data.transaction[0].unique_reference_number
            - merchant_transfers.data.merchant_transfer[0].transaction_history.data.transaction[0].qr_data
            - merchant_transfers.data.merchant_transfer[0].transaction_history.data.transaction[0].convenience_amount
            - merchant_transfers.data.merchant_transfer[0].transaction_history.data.transaction[0].convenience_indicator
            - merchant_transfers.data.merchant_transfer[0].reconciliation_data.custom_field[0].name
            - merchant_transfers.data.merchant_transfer[0].reconciliation_data.custom_field[0].value
            - merchant_transfers.data.merchant_transfer[0].reconciliation_data.custom_field[1].name
            - merchant_transfers.data.merchant_transfer[0].reconciliation_data.custom_field[1].value
            - merchant_transfers.data.merchant_transfer[0].reconciliation_data.custom_field[2].name
            - merchant_transfers.data.merchant_transfer[0].reconciliation_data.custom_field[2].value
            - merchant_transfers.data.merchant_transfer[0].channel
            - merchant_transfers.data.merchant_transfer[0].device_id
            - merchant_transfers.data.merchant_transfer[0].location
            - merchant_transfers.data.merchant_transfer[0].status
            - merchant_transfers.data.merchant_transfer[0].payment_origination_country
          name: GetTransferByRef_NON_TOKENIZED
          ordering: 355
          overrides:
            - ref: CreateTransfer.merchant_transfer.transfer_reference
          request:
            application/json: |
              {
              "partnerId": "ptnr_BEeCrYJHh2BXTXPy_PEtp-8DBOo",
              "ref": "MTRNREF_20160829130404970"
              }
          response:
            application/json: |
              {
               "merchant_transfers": {
                "resource_type": "list",
                "item_count": "1",
                "data": {
                 "merchant_transfer": [{
                  "id": "mtrn_MQTGry0D_TGe8QTrWj4LtaydUUWM",
                  "resource_type": "merchant_transfer",
                  "transfer_reference": "MTRNREF_20160829130404970",
                  "payment_type": "P2M",
                  "digital_account_reference_number":"************4562",
                  "sender_account_uri": "pan:************0187",
                  "sender": {
                   "first_name": "John",
                   "middle_name": "Tyler",
                   "last_name": "Jones",
                   "additional_merchant_data": {
                  "payment_facilitator_id":"00000123456",
                   "sub_merchant_id" : "A1234D"
              }
                  },
                  "recipient_account_uri": "pan:************0187",
                  "recipient": {
                   "first_name": "Jane",
                   "middle_name": "Tyler",
                   "last_name": "Smith",
                   "address": {
                    "line1": "1 Main St",
                    "line2": "Apartment 9",
                    "city": "OFallon",
                    "country_subdivision": "MO",
                    "postal_code": "63368",
                    "country": "USA"
                   },
                   "phone": "11234567890",
                   "email": "Jane.Smith123@abcmail.com",
                   "additional_merchant_data": {
                  "payment_facilitator_id":"00000123456",
                   "sub_merchant_id" : "A1234D"
              },
                   "merchant_category_code": "3005"
                  },
                  "transfer_amount": {
                   "value": "1800",
                   "currency": "USD"
                  },
                  "created": "2016-08-29T08:07:37.282-05:00",
                  "transaction_history": {
                   "resource_type": "list",
                   "item_count": "1",
                   "data": {
                    "transaction": [{
                     "id": "txn_SVDvtQk1mKcJefExHKpvVeLctXvJ",
                     "resource_type": "transaction",
                     "account_uri": "pan:************0187",
                     "transaction_amount": {
                      "value": "1800",
                      "currency": "USD"
                     },
                     "network": "STAR",
                     "network_status_code": "00",
                     "network_status_description": "Approved or completed successfully",
                     "type": "PAYMENT",
                     "create_timestamp": "2016-08-29T08:07:37.288-05:00",
                     "status": "APPROVED",
                     "status_reason": "APPROVED",
                     "status_timestamp": "2016-08-29T01:07:37-05:00",
                     "retrieval_reference": "624200192616",
                     "system_trace_audit_number": "926162",
                     "switch_serial_number": "564727057",
                     "unique_reference_number": "0000000000592087939",
                     "qr_data": "001006XX123400201012353611110030073041233004008LYL44354005009EEB",
                     "convenience_amount": "10",
                     "convenience_indicator": "01"
                    }]
                   }
                  },
                  "reconciliation_data": {
                   "custom_field": [{
                    "name": "ABC",
                    "value": "123"
                   }, {
                    "name": "DEF",
                    "value": "456"
                   }, {
                    "name": "GHI",
                    "value": "789"
                   }]
                  },
                  "channel": "KIOSK",
                  "device_id": "DEVICE-1234",
                  "location": "state:MO",
                  "original_status": "APPROVED",
                  "status": "APPROVED",
                  "status_timestamp": "2016-08-29T01:07:37-05:00",
                  "payment_origination_country": "USA",
                  "transaction_local_date_time": "2016-09-22T13:22:11-05:30",
                  "funding_source": "DEBIT",
                  "interchange_rate_designator": "QR",
                  "participant": {
                       "card_acceptor_id": "CardAcceptor1",
                       "card_acceptor_name": "TESTBANK"
                    }
                 }]
                }
               }
              }
      x-testable: false
  "/send/#env/v1/partners/{partnerId}/merchant/transfers/payment":
    post:
      consumes:
        - application/json
        - application/xml
      description: Initiates a Mastercard Merchant Presented QR purchase transaction by pushing funds to a merchant account.
      operationId: createMerchantPayment
      parameters:
        - description: Path Param - Provider assigned partner id. Details - string, 32
          in: path
          name: partnerId
          required: true
          type: string
        - description: Contains the details of the request message.
          in: body
          name: merchant_payment_transfer
          required: false
          schema:
            $ref: "#/definitions/MerchantPaymentTransfer_29_wrapper"
      produces:
        - application/json
        - application/xml
      responses:
        "200":
          description: Response details for a merchant transfer.
          schema:
            $ref: "#/definitions/MerchantTransfer_40_wrapper"
      summary: Initiates a Mastercard Merchant Presented QR purchase transaction by pushing funds to a merchant account.
      tags:
        - Merchant Transfer - Payment
      x-samples:
        - ignoreAsserts:
            - merchant_transfer.id
            - merchant_transfer.created
            - merchant_transfer.transfer_reference
            - merchant_transfer.transaction_history.data.transaction[0].id
            - merchant_transfer.transaction_history.data.transaction[0].create_timestamp
            - merchant_transfer.transaction_history.data.transaction[0].status_timestamp
            - merchant_transfer.status_timestamp
            - merchant_transfer.transaction_history.data.transaction[0].retrieval_reference
            - merchant_transfer.transaction_history.data.transaction[0].system_trace_audit_number
            - merchant_transfer.recipient.email
            - merchant_transfer.original_status
            - merchant_transfer.transaction_local_date_time
            - merchant_transfer.funding_source
            - merchant_transfer.transaction_history.data.transaction[0].switch_serial_number
            - merchant_transfer.transaction_history.data.transaction[0].network
            - merchant_transfer.transaction_history.data.transaction[0].resource_type
            - merchant_transfer.transaction_history.data.transaction[0].account_uri
            - merchant_transfer.transaction_history.data.transaction[0].transaction_amount
            - merchant_transfer.transaction_history.data.transaction[0].transaction_amount.value
            - merchant_transfer.transaction_history.data.transaction[0].transaction_amount.currency
            - merchant_transfer.transaction_history.data.transaction[0].network
            - merchant_transfer.transaction_history.data.transaction[0].network_status_code
            - merchant_transfer.transaction_history.data.transaction[0].network_status_description
            - merchant_transfer.transaction_history.data.transaction[0].type
            - merchant_transfer.transaction_history.data.transaction[0].status
            - merchant_transfer.transaction_history.data.transaction[0].status_reason
          name: CreateMerchantPayment_NON_TOKENIZED
          ordering: 351
          request:
            application/json: |
              {
               "partnerId": "ptnr_BEeCrYJHh2BXTXPy_PEtp-8DBOo",
               "merchant_payment_transfer": {
                "transfer_reference": "4002@remember-integer[36]@",
                "payment_type": "P2M",
                "funding_source": "DEBIT",
                "transaction_local_date_time": "2016-09-22T13:22:11-17:30",
                "amount": "1800",
                "currency": "USD",
                "sender_account_uri": "pan:5299920210000277;exp=2099-08;cvc=123",
                "digital_account_reference_number": "pan:5299920210000277",
                "sender": {
                 "first_name": "John",
                 "middle_name": "Tyler",
                 "last_name": "Jones",
                 "date_of_birth": "1994-05-21",
                 "address": {
                  "line1": "21 Broadway",
                  "line2": "Apartment A-6",
                  "city": "OFallon",
                  "country_subdivision": "MO",
                  "postal_code": "63368",
                  "country": "USA"
                 },
                 "phone": "11234565555",
                 "email": "John.Jones123@abcmail.com"
                },
                "recipient_account_uri": "pan:5299920210000277;exp=2099-08;cvc=123",
                "recipient": {
                 "first_name": "Jane",
                 "middle_name": "Tyler",
                 "last_name": "Smith",
                 "merchant_category_code": "3005",
                 "address": {
                  "line1": "1 Main St",
                  "line2": "Apartment 9",
                  "city": "OFallon",
                  "country_subdivision": "MO",
                  "postal_code": "63368",
                  "country": "USA"
                 },
                 "phone": "11234567890",
                 "email": "Jane.Smith123@abcmail.com",
              "additional_merchant_data": {
                  "payment_facilitator_id":"00000123456",
                   "sub_merchant_id" : "A1234D"
              }
                },
                "payment_origination_country": "USA",
                "reconciliation_data": {
                 "custom_field": [{
                  "name": "ABC",
                  "value": "123"
                 }, {
                  "name": "DEF",
                  "value": "456"
                 }, {
                  "name": "GHI",
                  "value": "789"
                 }]
                },
                "funding_transaction_reference": {
                 "reference_number": "trn_12345678",
                 "network": "MONEYSEND"
                },
                "participant": {
                  "card_acceptor_name": "TESTBANK",
                  "card_acceptor_id": "CardAcceptor123"
                },
                "device_id": "DEVICE-1234",
                "location": "state:MO",
                "channel": "KIOSK",
                "participation_id": "TERMINAL34728",
                "additional_message": "mymessage",
                "mastercard_assigned_id": "123456",
                "token_cryptogram": {
              	"type": "CONTACTLESS_CHIP",
              "value": "8dae2d0c"
              ,
              "pan_sequence_number": "011"

                },
                "interchange_rate_designator": "QR",
                "authentication_value": "ucaf:jJJLtQa+Iws8AREAEbjsA1MAAAA"
               }
              }
          response:
            application/json: |-
              {
               "merchant_transfer": {
                "id": "mtrn_MQTGry0D_TGe8QTrWj4LtaydUUWM",
                "resource_type": "merchant_transfer",
                "transfer_reference": "4002@remember-integer[36]@",
                "payment_type": "P2M",
                "sender_account_uri": "pan:************0277",
                "digital_account_reference_number": "pan:************0277",
                "sender": {
                 "first_name": "John",
                 "middle_name": "Tyler",
                 "last_name": "Jones"
                },
                "recipient_account_uri": "pan:************0277",
                "recipient": {
                 "first_name": "Jane",
                 "middle_name": "Tyler",
                 "last_name": "Smith",
                 "address": {
                  "line1": "1 Main St",
                  "line2": "Apartment 9",
                  "city": "OFallon",
                  "country_subdivision": "MO",
                  "postal_code": "63368",
                  "country": "USA"
                 },
                 "phone": "11234567890",
                 "email": "John.Jones123@abcmail.com",
              "additional_merchant_data": {
                  "payment_facilitator_id":"00000123456",
                   "sub_merchant_id" : "A1234D"
              },
                 "merchant_category_code": "3005"
                },
                "transfer_amount": {
                 "value": "1800",
                 "currency": "USD"
                },
                "created": "2016-08-29T01:07:37-05:00",
                "transaction_history": {
                 "resource_type": "list",
                 "item_count": "1",
                 "data": {
                  "transaction": [{
                   "id": "txn_SVDvtQk1mKcJefExHKpvVeLctXvJ",
                   "resource_type": "transaction",
                   "account_uri": "pan:************0187",
                   "transaction_amount": {
                    "value": "1800",
                    "currency": "USD"
                   },
                   "network": "STAR",
                   "type": "PAYMENT",
                   "create_timestamp": "2016-08-29T01:07:37-05:00",
                   "status": "APPROVED",
                   "status_reason": "APPROVED",
                   "status_timestamp": "2016-08-29T01:07:37-05:00",
                   "retrieval_reference": "624200192616",
                   "system_trace_audit_number": "926162", 
                "switch_serial_number": "123456789"
                  }]
                 }
                },
                "reconciliation_data": {
                 "custom_field": [{
                  "name": "ABC",
                  "value": "123"
                 }, {
                  "name": "DEF",
                  "value": "456"
                 }, {
                  "name": "GHI",
                  "value": "789"
                 }]
                },
                "channel": "KIOSK",
                "device_id": "DEVICE-1234",
                "location": "state:MO",
                "original_status": "APPROVED",
                "status": "APPROVED",
                "status_timestamp": "2016-08-29T01:07:37-05:00",
                "payment_origination_country": "USA",
                "transaction_local_date_time": "2016-09-22T13:22:11-05:30",
                "funding_source": "DEBIT",
                "interchange_rate_designator": "QR",
               "participant": {
                  "card_acceptor_name": "TESTBANK"
                }
               }
              }
      x-testable: false
  "/send/#env/v1/partners/{partnerId}/merchant/transfers/refund":
    post:
      consumes:
        - application/json
        - application/xml
      description: Initiates a Mastercard Merchant Presented QR Refund transaction by pushing funds from a merchant account back to the customer's account.
      operationId: createMerchantRefund
      parameters:
        - description: Path Param - Provider assigned partner id. Details - string, 32
          in: path
          name: partnerId
          required: true
          type: string
        - description: Contains the details of the request message.
          in: body
          name: merchant_refund_transfer
          required: false
          schema:
            $ref: "#/definitions/MerchantRefundTransfer_93_wrapper"
      produces:
        - application/json
        - application/xml
      responses:
        "200":
          description: Response details for a merchant transfer.
          schema:
            $ref: "#/definitions/MerchantTransfer_104_wrapper"
      summary: Initiates a Mastercard Merchant Presented QR Refund transaction by pushing funds from a merchant account back to the customer's account.
      tags:
        - Merchant Refund
      x-samples:
        - ignoreAsserts:
            - merchant_transfer.id
            - merchant_transfer.created
            - merchant_transfer.transfer_reference
            - merchant_transfer.transaction_history.data.transaction[0].id
            - merchant_transfer.transaction_history.data.transaction[0].create_timestamp
            - merchant_transfer.transaction_history.data.transaction[0].status_timestamp
            - merchant_transfer.status_timestamp
            - merchant_transfer.transaction_history.data.transaction[0].retrieval_reference
            - merchant_transfer.transaction_history.data.transaction[0].system_trace_audit_number
            - merchant_transfer.recipient.email
            - merchant_transfer.original_status
            - merchant_transfer.transaction_local_date_time
            - merchant_transfer.funding_source
            - merchant_transfer.transaction_history.data.transaction[0].switch_serial_number
            - merchant_transfer.transaction_history.data.transaction[0].network
            - merchant_transfer.transaction_history.data.transaction[0].resource_type
            - merchant_transfer.transaction_history.data.transaction[0].account_uri
            - merchant_transfer.transaction_history.data.transaction[0].transaction_amount
            - merchant_transfer.transaction_history.data.transaction[0].transaction_amount.value
            - merchant_transfer.transaction_history.data.transaction[0].transaction_amount.currency
            - merchant_transfer.transaction_history.data.transaction[0].network_status_code
            - merchant_transfer.transaction_history.data.transaction[0].network_status_description
            - merchant_transfer.transaction_history.data.transaction[0].type
            - merchant_transfer.transaction_history.data.transaction[0].status
            - merchant_transfer.transaction_history.data.transaction[0].status_reason
            - merchant_transfer.transaction_history.data.transaction[0].unique_reference_number
            - merchant_transfer.digital_account_reference_number
          name: CreateMerchantRefund
          ordering: 352
          request:
            application/json: |-
              {
               "partnerId": "ptnr_BEeCrYJHh2BXTXPy_PEtp-8DBOo",
               "merchant_refund_transfer": {
                "transfer_reference": "4003@remember-integer[36]@",
                "payment_type": "MRF",
                "funding_source": "DEBIT",
                "transaction_local_date_time": "2016-09-22T13:22:11-17:30",
                "amount": "1800",
                "currency": "USD",
                "sender_account_uri": "pan:5299920210000277;exp=2099-08;cvc=123",
                "digital_account_reference_number": "pan:5299920210000277",
                "sender": {
                 "first_name": "John",
                 "middle_name": "Tyler",
                 "last_name": "Jones",
                 "date_of_birth": "1994-05-21",
                 "address": {
                  "line1": "21 Broadway",
                  "line2": "Apartment A-6",
                  "city": "OFallon",
                  "country_subdivision": "MO",
                  "postal_code": "63368",
                  "country": "USA"
                 },
                 "phone": "11234565555",
                 "email": "John.Jones123@abcmail.com",
                 "merchant_category_code": "6536"
                },
                 "recipient": {
                 "first_name": "Jane",
                 "middle_name": "Tyler",
                 "last_name": "Smith",
                 "merchant_category_code": "3005",
                 "address": {
                  "line1": "1 Main St",
                  "line2": "Apartment 9",
                  "city": "OFallon",
                  "country_subdivision": "MO",
                  "postal_code": "63368",
                  "country": "USA"
                 },
                 "phone": "11234567890",
                 "email": "Jane.Smith123@abcmail.com",
              "additional_merchant_data": {
                  "payment_facilitator_id":"00000123456",
                   "sub_merchant_id" : "A1234D"
              }
                },
                "payment_origination_country": "USA",
                "reconciliation_data": {
                 "custom_field": [{
                  "name": "ABC",
                  "value": "123"
                 }, {
                  "name": "DEF",
                  "value": "456"
                 }, {
                  "name": "GHI",
                  "value": "789"
                 }]
                },
                "payment_transaction_reference": {
                 "reference_number": "trn_12345678901234"  
                 },
                "participant": {
                  "card_acceptor_name": "TESTBANK",
                  "card_acceptor_id": "CardAcceptor123"
                },
                "device_id": "DEVICE-1234",
                "location": "state:MO",
                "channel": "KIOSK",
                "participation_id": "TERMINAL34728",
                "additional_message": "mymessage",
                "interchange_rate_designator": "QR",
                "mastercard_assigned_id": "123456"
               }
              }
          response:
            application/json: |-
              {
               "merchant_transfer": {
                "id": "mtrn_MQTGry0D_TGe8QTrWj4LtaydUUWM",
                "resource_type": "merchant_transfer",
                "transfer_reference": "4002@remember-integer[36]@",
                "payment_type": "MRF",
                "sender_account_uri": "pan:************0277",
                "digital_account_reference_number": "pan:************0277",
                "sender": {
                 "first_name": "John",
                 "middle_name": "Tyler",
                 "last_name": "Jones"
                },
                "recipient": {
                 "first_name": "Jane",
                 "middle_name": "Tyler",
                 "last_name": "Smith",
                 "address": {
                  "line1": "1 Main St",
                  "line2": "Apartment 9",
                  "city": "OFallon",
                  "country_subdivision": "MO",
                  "postal_code": "63368",
                  "country": "USA"
                 },
                 "phone": "11234567890",
                 "email": "John.Jones123@abcmail.com",
              "additional_merchant_data": {
                  "payment_facilitator_id":"00000123456",
                   "sub_merchant_id" : "A1234D"
              },
                 "merchant_category_code": "3005"
                },
                "transfer_amount": {
                 "value": "1800",
                 "currency": "USD"
                },
                "created": "2016-08-29T01:07:37-05:00",
                "transaction_history": {
                 "resource_type": "list",
                 "item_count": "1",
                 "data": {
                  "transaction": [{
                   "id": "txn_SVDvtQk1mKcJefExHKpvVeLctXvJ",
                   "resource_type": "transaction",
                   "account_uri": "pan:************0277",
                   "transaction_amount": {
                    "value": "1800",
                    "currency": "USD"
                   },
                   "network": "MERCHANT_FUNDING_DM",
                   "type": "PAYMENT",
                   "create_timestamp": "2016-08-29T01:07:37-05:00",
                   "status": "APPROVED",
                   "status_reason": "APPROVED",
                   "status_timestamp": "2016-08-29T01:07:37-05:00",
                   "retrieval_reference": "624200192616",
                   "system_trace_audit_number": "926162", 
                  "unique_reference_number":"0trn_12345678901234",
                "switch_serial_number": "123456789"
                  }]
                 }
                },
                "reconciliation_data": {
                 "custom_field": [{
                  "name": "ABC",
                  "value": "123"
                 }, {
                  "name": "DEF",
                  "value": "456"
                 }, {
                  "name": "GHI",
                  "value": "789"
                 }]
                },
                "channel": "KIOSK",
                "device_id": "DEVICE-1234",
                "location": "state:MO",
                "original_status": "APPROVED",
                "status": "APPROVED",
                "status_timestamp": "2016-08-29T01:07:37-05:00",
                "payment_origination_country": "USA",
                "transaction_local_date_time": "2016-09-22T13:22:11-05:30",
                "funding_source": "DEBIT",
                "interchange_rate_designator": "QR",
               "participant": {
                  "card_acceptor_name": "TESTBANK"
                }
               }
              }
      x-testable: false
  "/send/#env/v1/partners/{partnerId}/merchant/transfers/{transferId}":
    get:
      description: Purpose of this service is to retrieve the Transfer resource associated with the specified transfer-id.
      operationId: getMerchantTransferById
      parameters:
        - description: Path Param - Provider assigned partner id. Details - string, 32
          in: path
          name: partnerId
          required: true
          type: string
        - description: Path Param - Valid transfer id
          in: path
          name: transferId
          required: true
          type: string
      produces:
        - application/json
        - application/xml
      responses:
        "200":
          description: Response details for a merchant transfer.
          schema:
            $ref: "#/definitions/MerchantTransfer_54_wrapper"
      summary: Purpose of this service is to retrieve the Transfer resource associated with the specified transfer-id.
      tags:
        - Merchant Retrieval
      x-action: read by ID
      x-samples:
        - ignoreAsserts:
            - merchant_transfer.id
            - merchant_transfer.created
            - merchant_transfer.transfer_reference
            - merchant_transfer.transaction_history.data.transaction[0].id
            - merchant_transfer.transaction_history.data.transaction[0].create_timestamp
            - merchant_transfer.transaction_history.data.transaction[0].status_timestamp
            - merchant_transfer.status_timestamp
            - merchant_transfer.transaction_history.data.transaction[0].retrieval_reference
            - merchant_transfer.transaction_history.data.transaction[0].system_trace_audit_number
            - merchant_transfer.recipient.email
            - merchant_transfer.original_status
            - merchant_transfer.transaction_local_date_time
            - merchant_transfer.funding_source
            - merchant_transfer.participant.card_acceptor_id
            - merchant_transfer.participant.card_acceptor_name
            - merchant_transfer.transaction_history.data.transaction[0].network_status_description
            - merchant_transfer.transaction_history.data.transaction[0].network
            - merchant_transfer.sender.additional_merchant_data.payment_facilitator_id
            - merchant_transfer.transaction_history.item_count
            - merchant_transfer.transaction_history.data.transaction[0].type
            - merchant_transfer.transaction_history.data.transaction[0].switch_serial_number
            - merchant_transfer.transaction_history.data.transaction[0].unique_reference_number
            - merchant_transfer.transaction_history.data.transaction[0].qr_data
            - merchant_transfer.transaction_history.data.transaction[0].convenience_amount
            - merchant_transfer.transaction_history.data.transaction[0].convenience_indicator
            - merchant_transfer.reconciliation_data.custom_field[0].name
            - merchant_transfer.reconciliation_data.custom_field[1].name
            - merchant_transfer.reconciliation_data.custom_field[2].name
            - merchant_transfer.channel
            - merchant_transfer.device_id
            - merchant_transfer.location
          name: GetMerchantTransferById_NON_TOKENIZED
          ordering: 353
          overrides:
            - transferId: CreateTransfer.merchant_transfer.id
          request:
            application/json: |
              {
              "partnerId": "ptnr_BEeCrYJHh2BXTXPy_PEtp-8DBOo",
              "transferId": "mtrn_MQTGry0D_TGe8QTrWj4LtaydUUWM"
              }
          response:
            application/json: |
              {
               "merchant_transfer": {
                "id": "mtrn_MQTGry0D_TGe8QTrWj4LtaydUUWM",
                "resource_type": "merchant_transfer",
                "transfer_reference": "4001@remember-integer[36]@",
                "payment_type": "P2M",
                "digital_account_reference_number":"pan:************0277",
                "sender_account_uri": "pan:************0277",
                "sender": {
                 "first_name": "John",
                 "middle_name": "Tyler",
                 "last_name": "Jones",
                  "additional_merchant_data": {
                  "payment_facilitator_id":"00000123456",
                   "sub_merchant_id" : "A1234D"
              }
                },
                "recipient_account_uri": "pan:************0277",
                "recipient": {
                 "first_name": "Jane",
                 "middle_name": "Tyler",
                 "last_name": "Smith",
                 "address": {
                  "line1": "1 Main St",
                  "line2": "Apartment 9",
                  "city": "OFallon",
                  "country_subdivision": "MO",
                  "postal_code": "63368",
                  "country": "USA"
                 },
                 "phone": "11234567890",
                 "email": "John.Jones123@abcmail.com",
                 "additional_merchant_data": {
                  "payment_facilitator_id":"00000123456",
                   "sub_merchant_id" : "A1234D"
              },
                 "merchant_category_code": "3000"
                },
                "transfer_amount": {
                 "value": "18",
                 "currency": "USD"
                },
                "created": "2016-08-29T01:07:37-05:00",
                "transaction_history": {
                 "resource_type": "list",
                 "item_count": "1",
                 "data": {
                  "transaction": [{
                   "id": "txn_SVDvtQk1mKcJefExHKpvVeLctXvJ",
                   "resource_type": "transaction",
                   "account_uri": "pan:************0277",
                   "transaction_amount": {
                    "value": "18",
                    "currency": "USD"
                   },
                   "network": "STAR",
                   "type": "PAYMENT",
                   "create_timestamp": "2016-08-29T01:07:37-05:00",
                   "status": "APPROVED",
                   "status_reason": "APPROVED",
                   "status_timestamp": "2016-08-29T01:07:37-05:00",
                   "retrieval_reference": "624200192616",
                   "system_trace_audit_number": "926162",
                   "switch_serial_number": "564727057",
                   "unique_reference_number": "0000000000592087939",
                   "qr_data": "001006XX123400201012353611110030073041233004008LYL44354005009EEB",
                   "convenience_amount": "10",
                   "convenience_indicator": "01"
                  }]
                 }
                },
                "reconciliation_data": {
                 "custom_field": [{
                  "name": "ABC",
                  "value": "123"
                 }, {
                  "name": "DEF",
                  "value": "456"
                 }, {
                  "name": "GHI",
                  "value": "789"
                 }]
                },
                "channel": "KIOSK",
                "device_id": "DEVICE-1234",
                "location": "state:MO",
                "original_status": "APPROVED",
                "status": "APPROVED",
                "status_timestamp": "2016-08-29T01:07:37-05:00",
                "payment_origination_country": "USA",
                "transaction_local_date_time": "2016-09-22T13:22:11-05:30",
                "funding_source": "DEBIT",
                "interchange_rate_designator": "QR",
                "participant": {
                  "card_acceptor_id": "CardAcceptor1",
                  "card_acceptor_name": "TESTBANK"
                }
               }
              }
      x-testable: false
  "/send/v1/partners/{partner-id}/transfers/{transfer-id}/transactions/{transaction-id}/reversals":
    post:
      consumes:
        - application/xml
      description: "Funding Reversals must be submitted within 30 minutes of the funding transfer request, and should only be submitted for the following conditions:  Funding Transaction must be reversed if payment transaction cannot complete successfully, i.e. the payment transaction is rejected or declined.  Upon a successful reversal of a funding transaction, the refund must be credited to the sending consumer’s Funding Account."
      operationId: createFundingReversal
      parameters:
        - description: Path Param - Provider assigned partner id. Details - string, 32
          in: path
          name: partner-id
          required: true
          type: string
        - description: Valid transfer id
          in: path
          name: transfer-id
          required: true
          type: string
        - description: Valid transaction id
          in: path
          name: transaction-id
          required: true
          type: string
        - description: Contains the details of the request message.
          in: body
          name: funding_reversal
          required: false
          schema:
            $ref: "#/definitions/FundingReversal_144_wrapper"
      produces:
        - application/xml
      responses:
        "200":
          description: Response details
          schema:
            $ref: "#/definitions/Transfer_145_wrapper"
      summary: "Funding Reversals must be submitted within 30 minutes of the funding transfer request, and should only be submitted for the following conditions:  Funding Transaction must be reversed if payment transaction cannot complete successfully, i.e. the payment transaction is rejected or declined.  Upon a successful reversal of a funding transaction, the refund must be credited to the sending consumer’s Funding Account."
      tags:
        - Funding Reversal
      x-samples:
        - ignoreAsserts:
            - transfer.id
            - transfer.transfer_reference
            - transfer.transaction_history.data.transaction[0].id
            - transfer.transaction_history.data.transaction[0].create_timestamp
            - transfer.transaction_history.data.transaction[0].status_timestamp
            - transfer.status_timestamp
            - transfer.created
            - transfer.transaction_history.data.transaction[1].id
            - transfer.transaction_history.data.transaction[1].create_timestamp
            - transfer.transaction_history.data.transaction[1].status_timestamp
            - transfer.transaction_history.data.transaction[0].retrieval_reference
            - transfer.transaction_history.data.transaction[0].system_trace_audit_number
            - transfer.transaction_history.data.transaction[1].retrieval_reference
            - transfer.transaction_history.data.transaction[1].system_trace_audit_number
            - transfer.statement_descriptor
            - transfer.sender.government_ids
            - transfer.sender.government_ids.government_id_uri[0]
            - transfer.sender.sanction_score
            - transfer.recipient.government_ids
            - transfer.recipient.government_ids.government_id_uri[0]
            - transfer.recipient.sanction_score
            - transfer.original_status
            - transfer.transaction_history.data.transaction[0].resource_type
            - transfer.transaction_history.data.transaction[0].account_uri
            - transfer.transaction_history.data.transaction[0].transaction_amount.value
            - transfer.transaction_history.data.transaction[0].transaction_amount.currency
            - transfer.transaction_history.data.transaction[0].network
            - transfer.transaction_history.data.transaction[0].network_status_code
            - transfer.transaction_history.data.transaction[0].network_status_description
            - transfer.transaction_history.data.transaction[0].type
            - transfer.transaction_history.data.transaction[0].status
            - transfer.transaction_history.data.transaction[0].status_reason
            - transfer.transaction_history.data.transaction[1].resource_type
            - transfer.transaction_history.data.transaction[1].account_uri
            - transfer.transaction_history.data.transaction[1].transaction_amount.value
            - transfer.transaction_history.data.transaction[1].transaction_amount.currency
            - transfer.transaction_history.data.transaction[1].network
            - transfer.transaction_history.data.transaction[1].network_status_code
            - transfer.transaction_history.data.transaction[1].network_status_description
            - transfer.transaction_history.data.transaction[1].type
            - transfer.transaction_history.data.transaction[1].status
            - transfer.transaction_history.data.transaction[1].status_reason
            - transfer.transaction_history.data.transaction[1].reversal_reason
            - transfer.transaction_history.data.transaction[0].authorization_id
            - transfer.transaction_history.data.transaction[0].payment_account_reference
            - transfer.transaction_history.data.transaction[1].authorization_id
            - transfer.transaction_history.data.transaction[1].payment_account_reference
          name: MerchantFundingReversal
          ordering: 213
          overrides:
            - transfer-id: CreateMerchantFundingTokenized.transfer.id
            - transaction-id: CreateMerchantFundingTokenized.transfer.transaction_history.data.transaction[0].id
          request:
            application/json: |
              {
                "transfer-id": "trn_Be9NbqeGnqNUDOs6lQAUx9--05Qc",
                "transaction-id": "xnR3qC0NVexjx",
                "partner-id": "ptnr_BEeCrYJHh2BXTXPy_PEtp-8DBOo",
                "funding_reversal": {
                  "reversal_reason": "Incorrect Amount"
                }
              }
          response:
            application/json: |
              {
               "transfer": {
                "id": "trn_Be9NbqeGnqNUDOs6lQAUx9--05Qc",
                "resource_type": "transfer",
                "transfer_reference": "TRNREF_20160826170254832",
                "payment_type": "P2M",
                "sender_account_uri": "pan:************9973",
                "sender": {
                 "first_name": "John",
                 "middle_name": "Tyler",
                 "last_name": "Smith",
                 "nationality": "USA",
                 "date_of_birth": "1999-12-30",
                 "address": {
                  "line1": "1 Main St",
                  "line2": "Apartment 9",
                  "city": "OFallon",
                  "country_subdivision": "MO",
                  "postal_code": "63368",
                  "country": "USA"
                 },
                 "phone": "11234567890",
                 "email": "John.Jones123@abcmail.com",
                 "government_ids": { "government_id_uri": ["ppn:*****6789;expiration-date=2019-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon" ]},
                 "sanction_score": "20"
                },
                "recipient_account_uri": "pan:************9973",
                "recipient": {
                 "first_name": "John",
                 "middle_name": "Tyler",
                 "last_name": "Smith",
                 "nationality": "USA",
                 "date_of_birth": "1999-12-30",
                 "address": {
                  "line1": "1 Main St",
                  "line2": "Apartment 9",
                  "city": "OFallon",
                  "country_subdivision": "MO",
                  "postal_code": "63368",
                  "country": "USA"
                 },
                 "phone": "11234567890",
                 "email": "John.Smith123@abcmail.com",
                 "government_ids": { "government_id_uri":[ "ppn:*****6789;expiration-date=2019-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon" ]},
                 "sanction_score": "20"
                },
                "transfer_amount": {
                 "value": "100",
                 "currency": "USD"
                },
                "created": "2016-08-26T06:32:56.141-05:00",
                "transaction_history": {
                 "resource_type": "list",
                 "item_count": "2",
                 "data": {
                  "transaction": [{
                   "id": "txn_DS1JPDNqUrLDxynZorLdwaYDsNS_",
                   "resource_type": "transaction",
                   "account_uri": "pan:************9973",
                   "transaction_amount": {
                    "value": "100",
                    "currency": "USD"
                   },
                   "network": "VISAAFT",
                   "network_status_code": "00",
                   "network_status_description": "Approved",
                   "type": "FUNDING",
                   "create_timestamp": "2016-08-26T06:32:56.151-05:00",
                   "status": "APPROVED",
                   "status_reason": "APPROVED",
                   "status_timestamp": "2016-08-26T11:32:56-05:00",
                   "retrieval_reference": "624200192616",
                   "system_trace_audit_number": "926162",
                   "authorization_id":"736786",
                   "payment_account_reference":"5001ESVM4JQAAOP5JKSK1XGAPOPG2"
                  }, {
                   "id": "txn_g3H3adFZdJtOaCFcrIkHDxSjg0bx",
                   "resource_type": "transaction",
                   "account_uri": "pan:************9973",
                   "transaction_amount": {
                    "value": "100",
                    "currency": "USD"
                   },
                   "network": "VISAAFT",
                   "network_status_code": "00",
                   "network_status_description": "Approved",
                   "type": "FUNDING_REVERSAL",
                   "create_timestamp": "2016-08-26T06:33:03.130-05:00",
                   "status": "APPROVED",
                   "status_reason": "APPROVED",
                   "reversal_reason": "Incorrect Amount",
                   "status_timestamp": "2016-08-26T11:33:03-05:00",
                   "retrieval_reference": "624200192616",
                   "system_trace_audit_number": "926162",
                   "authorization_id":"23FD43",
                   "payment_account_reference":"5001ESVM4JQAAOP5JKSK1XGAPOPG2"
                  }]
                 }
                },
                "reconciliation_data": {
                 "custom_field": [{
                  "name": "ABC",
                  "value": "123"
                 }, {
                  "name": "DEF",
                  "value": "456"
                 }, {
                  "name": "GHI",
                  "value": "789"
                 }]
                },
                "statement_descriptor": "TST*THANKYOU",
                "channel": "KIOSK",
                "device_id": "DEVICE-1234",
                "location": "state:MO",
                "original_status": "APPROVED",
                "status": "REVERSED",
                "status_timestamp": "2016-08-26T06:33:03.249-05:00"
               }
              }
      x-testable: false
  "/send/v1/partners/{partnerId}/events/generate/payment":
    post:
      consumes:
        - application/xml
      description: "Client can simulate a Mastercard Merchant Presented QR Payment notification to the registered URL endpoint. "
      operationId: sendNotificationPaymentRetry
      parameters:
        - description: Path Param - Provider assigned partner id. Details - string, 32
          in: path
          name: partnerId
          required: true
          type: string
        - description: Contains the details of the request message.
          in: body
          name: notification_request
          required: false
          schema:
            $ref: "#/definitions/NotificationRequest_159_wrapper"
      produces:
        - N/A
      responses:
        "200":
          description: Contains the details of the response message.
          schema:
            $ref: "#/definitions/NotificationResponse_162_wrapper"
      summary: "Client can simulate a Mastercard Merchant Presented QR Payment notification to the registered URL endpoint. "
      tags:
        - Test Payment Notification
      x-samples:
        - ignoreAsserts:
            - notification_response.transfer_reference
            - null
            - null
            - null
          name: SimulateNotificationPayment
          ordering: 975
          overrides:
            - notification_request.status: val:OK
          request:
            application/json: |
              {
                "partnerId": "ptnr_BEeCrYJHh2BXTXPy_PEtp-8DBOo",
                "notification_request": {
                  "recipient_account_uri": "pan:5013040000000018",
                  "payment_type": "P2M",
                  "merchant_category_code": "6011",
                  "recipient": {
                    "name_on_account": "M&M Corp",
                    "address": "Mahantan , NY, usa"
                  },
                  "additional_message": "001006XX123400201012353611110030073041233004008LYL44354005009EEB",
                  "transaction_amount": {
                    "value": "5300",
                    "currency": "USD"
                  },
                  "transfer_status": "APPROVED"
                }
              }
          response:
            application/json: |
              {
                "notification_response": {
                  "status": "OK",
                  "transfer_reference":"ref_jXgKR2WW1GyjImhv7_U3YI5JPF23"
                }
              }
      x-testable: false
  "/send/v1/partners/{partnerId}/events/generate/refund":
    post:
      consumes:
        - application/xml
      description: "Client can simulate a Mastercard Merchant Presented QR Refund notification to the registered URL endpoint. "
      operationId: sendNotificationRefundRetry
      parameters:
        - description: Path Param - Provider assigned partner id. Details - string, 32
          in: path
          name: partnerId
          required: true
          type: string
        - description: Contains the details of the request message.
          in: body
          name: notification_request
          required: false
          schema:
            $ref: "#/definitions/NotificationRequest_163_wrapper"
      produces:
        - N/A
      responses:
        "200":
          description: Contains the details of the response message.
          schema:
            $ref: "#/definitions/NotificationResponse_166_wrapper"
      summary: "Client can simulate a Mastercard Merchant Presented QR Refund notification to the registered URL endpoint. "
      tags:
        - Test Refund Notification
      x-samples:
        - ignoreAsserts:
            - notification_response.transfer_reference
            - null
            - null
            - null
          name: SimulateNotificationRefund
          ordering: 976
          overrides:
            - notification_request.status: val:OK
          request:
            application/json: |
              {
                "partnerId": "ptnr_BEeCrYJHh2BXTXPy_PEtp-8DBOo",
                "notification_request": {
                  "recipient_account_uri": "pan:5013040000000018",
                  "payment_type": "MRF",
                  "merchant_category_code": "6011",
                  "recipient": {
                    "name_on_account": "M&M Corp",
                    "address": "Mahantan , NY, usa"
                  },
                  "additional_message": "001006XX123400201012353611110030073041233004008LYL44354005009EEB",
                  "transaction_amount": {
                    "value": "5300",
                    "currency": "USD"
                  },
                  "transfer_status": "APPROVED"
                }
              }
          response:
            application/json: |
              {
                "notification_response": {
                  "status": "OK",
                  "transfer_reference":"ref_jXgKR2WW1GyjImhv7_U3YI5JPF23"
                }
              }
      x-testable: false
  "/send/v1/partners/{partnerId}/notification-registries":
    post:
      consumes:
        - application/json
        - application/xml
      description: This service allows Mastercard Merchant QR originating and receiving partners to register a PAN and service provider to receive notifications on an inbound Merchant Refund or Merchant Payment Transaction.
      operationId: createTransferNotificationRegistration
      parameters:
        - description: "Path Param - Provider assigned partner id. Type: Alphanumeric Special Length: 40"
          in: path
          name: partnerId
          required: true
          type: string
          x-example: ptnr_A37V2q91WUqSonkfEG29Q-Bf4s9
        - description: Contains the details of the request message.
          in: body
          name: accountregistration
          required: false
          schema:
            $ref: "#/definitions/Accountregistration_167_wrapper"
      produces:
        - application/json
        - application/xml
      responses:
        "200":
          description: Response details
          schema:
            $ref: "#/definitions/Accountregistration_168_wrapper"
      summary: This service allows Mastercard Merchant QR originating and receiving partners to register a PAN and service provider to receive notifications on an inbound Merchant Refund or Merchant Payment Transaction.
      tags:
        - Transfer Notification Registration
      x-action: create
      x-samples:
        - ignoreAsserts:
            - accountregistration.account_registration_reference
            - accountregistration.account_uri
            - accountregistration.notification_partner_id
            - accountregistration.notification_partner_name
            - null
            - null
          name: SimulateNotificationRegistrationCreate
          ordering: 977
          request:
            application/json: |
              {
               "partnerId": "ptnr_A37V2q91WUqSonkfEG29Q-Bf4s9",
                "accountregistration": {
                  "account_uri": "pan:5299926000000542",
                  "notification_partner_id": "ptnr_A37V2q91WUqSonkfEG29Q-Bf4s9"
                }
              }
          response:
            application/json: |
              {
                 "accountregistration": {
                 "account_registration_reference": "areg_GDVUiwh1bXzA_xVdDXn4ctJEKOF",
                 "account_uri": "pan:5299926000000542",
                 "notification_partner_id": "ptnr_A37V2q91WUqSonkfEG29Q-Bf4s9",
                 "notification_partner_name": "PROVIDER XYZ"
                }
              }
          type: sample
      x-testable: false
  "/send/v1/partners/{partnerId}/notification-registries/{account-reg-ref}":
    delete:
      consumes:
        - application/json
        - application/xml
      description: "This service allows Mastercard Merchant QR originating and receiving partners to delete a registered PAN for notifications. "
      operationId: deleteTransferNotificationRegistration
      parameters:
        - description: "Path Param - Provider assigned partner id. Type: Alphanumeric Special Length: 40"
          in: path
          name: partnerId
          required: true
          type: string
          x-example: ptnr_A37V2q91WUqSonkfEG29Q-Bf4s9
        - description: "Path Param - System generated unique account registration identifier. Type: Alphanumeric Special Length: 40"
          in: path
          name: account-reg-ref
          required: true
          type: string
          x-example: areg_GDVUiwh1bXzA_xVdDXn4ctJEKOF
      produces:
        - application/json
        - application/xml
      responses:
        "200":
          description: Response details
          schema:
            $ref: "#/definitions/Accountregistration_171_wrapper"
      summary: "This service allows Mastercard Merchant QR originating and receiving partners to delete a registered PAN for notifications. "
      tags:
        - Transfer Notification Registration
      x-action: delete
      x-samples:
        - ignoreAsserts:
            - accountregistration.account_registration_reference
            - accountregistration.account_uri
            - accountregistration.notification_partner_id
            - accountregistration.notification_partner_name
          name: SimulateNotificationRegistrationDelete
          ordering: 979
          request:
            application/json: |
              { 
               "partnerId": "ptnr_A37V2q91WUqSonkfEG29Q-Bf4s9", 
              "account-reg-ref": "areg_GDVUiwh1bXzA_xVdDXn4ctJEKOF"
              }
          response:
            application/json: |
              {
                "accountregistration": {
                "account_registration_reference": "areg_GDVUiwh1bXzA_xVdDXn4ctJEKOF",
                "account_uri": "pan:5299926000000542",
                "notification_partner_id": "ptnr_A37V2q91WUqSonkfEG29Q-Bf4s9",
                "notification_partner_name": "PROVIDER XYZ"
                }
              }
          type: sample
      x-testable: false
    get:
      consumes:
        - application/json
        - application/xml
      description: "This service allows Mastercard Merchant QR originating and receiving partners to retrieve the service provider's information for a registered PAN for notifications. "
      operationId: NotificationRegistrationAPIReadBy
      parameters:
        - description: "Path Param - Provider assigned partner id. Type: Alphanumeric Special Length: 40"
          in: path
          name: partnerId
          required: true
          type: string
          x-example: ptnr_A37V2q91WUqSonkfEG29Q-Bf4s9
        - description: "Path Param - System generated unique account registration identifier. Type: Alphanumberic Special Length: 40"
          in: path
          name: account-reg-ref
          required: true
          type: string
          x-example: areg_GDVUiwh1bXzA_xVdDXn4ctJEKOF
      produces:
        - application/json
        - application/xml
      responses:
        "200":
          description: Response details
          schema:
            $ref: "#/definitions/Accountregistration_172_wrapper"
      summary: "This service allows Mastercard Merchant QR originating and receiving partners to retrieve the service provider's information for a registered PAN for notifications. "
      tags:
        - Transfer Notification Registration
      x-action: readby
      x-samples:
        - ignoreAsserts:
            - accountregistration.account_registration_reference
            - accountregistration.account_uri
            - accountregistration.notification_partner_id
            - accountregistration.notification_partner_name
          name: SimulateNotificationRegistrationReadBy
          ordering: 980
          request:
            application/json: |
              { 
               "partnerId": "ptnr_A37V2q91WUqSonkfEG29Q-Bf4s9",
               "account-reg-ref": "areg_GDVUiwh1bXzA_xVdDXn4ctJEKOF"
              }
          response:
            application/json: |
              {
                "accountregistration": {
                  "account_registration_reference": "areg_GDVUiwh1bXzA_xVdDXn4ctJEKOF",
                  "account_uri": "pan:5299926000000542",
                  "notification_partner_id": "ptnr_A37V2q91WUqSonkfEG29Q-Bf4s9",
                  "notification_partner_name": "PROVIDER XYZ"
                }
              }
          type: sample
      x-testable: false
    put:
      consumes:
        - application/json
        - application/xml
      description: This service allows Mastercard Merchant QR originating and receiving partners to update the notitification service provider for a registered PAN.
      operationId: NotificationRegistrationAPIUpdate
      parameters:
        - description: "Path Param - Provider assigned partner id. Type: Alphanumeric Special Length: 40"
          in: path
          name: partnerId
          required: true
          type: string
          x-example: ptnr_A37V2q91WUqSonkfEG29Q-Bf4s9
        - description: "Path Param - System generated unique account registration identifier. Type: Alphanumeric Special Length: 40"
          in: path
          name: account-reg-ref
          required: true
          type: string
          x-example: areg_GDVUiwh1bXzA_xVdDXn4ctJEKOF
        - description: Contains the details of the request message.
          in: body
          name: accountregistration
          required: false
          schema:
            $ref: "#/definitions/Accountregistration_169_wrapper"
      produces:
        - application/json
        - application/xml
      responses:
        "200":
          description: Response details
          schema:
            $ref: "#/definitions/Accountregistration_170_wrapper"
      summary: This service allows Mastercard Merchant QR originating and receiving partners to update the notitification service provider for a registered PAN.
      tags:
        - Transfer Notification Registration
      x-action: update
      x-samples:
        - ignoreAsserts:
            - accountregistration.account_registration_reference
            - accountregistration.account_uri
            - accountregistration.notification_partner_id
            - accountregistration.notification_partner_name
          name: SimulateNotificationRegistrationUpdate
          ordering: 978
          request:
            application/json: |
              {
               "partnerId": "ptnr_A37V2q91WUqSonkfEG29Q-Bf4s9",
               "account-reg-ref": "areg_GDVUiwh1bXzA_xVdDXn4ctJEKOF",
                "accountregistration": {
                  "account_uri": "pan:5299926000000542",
                  "notification_partner_id": "ptnr_A37V2q91WUqSonkfEG29Q-Bf4s9"
                }
              }
          response:
            application/json: |
              {
                "accountregistration": {
                "account_registration_reference": "areg_GDVUiwh1bXzA_xVdDXn4ctJEKOF",
                "account_uri": "pan:5299926000000542",
                "notification_partner_id": "ptnr_A37V2q91WUqSonkfEG29Q-Bf4s9",
                "notification_partner_name": "PROVIDER XYZ"
                }
              }
          type: sample
      x-testable: false
  "/send/v1/partners/{partnerId}/transfers/funding":
    post:
      consumes:
        - application/xml
      description: The Funding Transaction enables the 'pull' of money from the sender's card to the Transaction Originator who is providing the Person to Merchant service. The amount that is debited from the Funding Account (sending consumer's account) will be the amount 'pushed' to the recipient via a payment transfer request.  Funds can be transferred from Mastercard® or Maestro® debit card accounts. To initiate the funding transaction, users can provide the sending consumer's Primary Account Number (PAN) or a unique identifier previously mapped to the sending consumer's account.
      operationId: createFunding
      parameters:
        - description: Path Param - Provider assigned partner id. Details - string, 32
          in: path
          name: partnerId
          required: true
          type: string
          x-example: ptnr_A37V2q91WUqSonkfEG29Q-Bf4s9
        - description: Contains the details of the request message.
          in: body
          name: funding_transfer
          required: false
          schema:
            $ref: "#/definitions/FundingTransfer_118_wrapper"
      produces:
        - application/xml
      responses:
        "200":
          description: Response details
          schema:
            $ref: "#/definitions/Transfer_129_wrapper"
      summary: The Funding Transaction enables the 'pull' of money from the sender's card to the Transaction Originator who is providing the Person to Merchant service. The amount that is debited from the Funding Account (sending consumer's account) will be the amount 'pushed' to the recipient via a payment transfer request.  Funds can be transferred from Mastercard® or Maestro® debit card accounts. To initiate the funding transaction, users can provide the sending consumer's Primary Account Number (PAN) or a unique identifier previously mapped to the sending consumer's account.
      tags:
        - Funding
      x-samples:
        - ignoreAsserts:
            - transfer.id
            - transfer.transfer_reference
            - transfer.transaction_history.data.transaction[0].id
            - transfer.transaction_history.data.transaction[0].resource_type
            - transfer.transaction_history.data.transaction[0].account_uri
            - transfer.transaction_history.data.transaction[0].transaction_amount
            - transfer.transaction_history.data.transaction[0].transaction_amount.value
            - transfer.transaction_history.data.transaction[0].transaction_amount.currency
            - transfer.transaction_history.data.transaction[0].network
            - transfer.transaction_history.data.transaction[0].network_status_code
            - transfer.transaction_history.data.transaction[0].network_status_description
            - transfer.transaction_history.data.transaction[0].type
            - transfer.transaction_history.data.transaction[0].create_timestamp
            - transfer.transaction_history.data.transaction[0].status_timestamp
            - transfer.transaction_history.data.transaction[0].retrieval_reference
            - transfer.transaction_history.data.transaction[0].system_trace_audit_number
            - transfer.transaction_history.data.transaction[0].status
            - transfer.transaction_history.data.transaction[0].status_reason
            - transfer.transaction_history.data.transaction[0].unique_reference_number
            - transfer.status_timestamp
            - transfer.created
            - transfer.transaction_history.data.transaction.retrieval_reference
            - transfer.transaction_history.data.transaction.system_trace_audit_number
            - transfer.statement_descriptor
            - transfer.sender.email
            - transfer.recipient.email
            - transfer.sender.government_ids
            - transfer.sender.government_ids.government_id_uri[0]
            - transfer.sender.sanction_score
            - transfer.recipient.government_ids
            - transfer.recipient.government_ids.government_id_uri[0]
            - transfer.recipient.sanction_score
            - transfer.original_status
            - transfer.sender.additional_merchant_data.payment_facilitator_id
            - transfer.sender.additional_merchant_data.sub_merchant_id
            - transfer.interchange_rate_designator
          name: CreateMerchantFundingTokenized
          ordering: 100
          overrides:
            - funding_transfer.statement_descriptor: val:CLA*TEST
          request:
            application/json: |
              {
                "partnerId": "ptnr_BEeCrYJHh2BXTXPy_PEtp-8DBOo",
                "funding_transfer": {
                  "transfer_reference": "103@remember-integer[37]@",
                  "payment_type": "P2M",
                  "amount": "100",
                  "currency": "USD",
                  "funding_hints": "ucaf:84vdsfu4320ngftn3409823",
                  "sender_account_uri": "pan:4000289999999973;exp=2027-08",
                  "sender": {
                    "first_name": "John",
                    "middle_name": "Tyler",
                    "last_name": "Smith",
                    "nationality": "USA",
                    "date_of_birth": "1999-12-30",
                    "address": {
                      "line1": "1 Main St",
                      "line2": "Apartment 9",
                      "city": "OFallon",
                      "country_subdivision": "MO",
                      "postal_code": "63368",
                      "country": "USA"
                    },
                    "phone": "11234567890",
                    "email": "John.Jones123@abcmail.com",
                    "additional_merchant_data": {
                      "payment_facilitator_id": "00000123456",
                      "sub_merchant_id": "SenderSubMerID"
                    }
                  },
                  "recipient_account_uri": "pan:4000289999999973;exp=2027-08",
                  "recipient": {
                    "merchant_category_code": "6536",
                    "first_name": "John",
                    "middle_name": "Tyler",
                    "last_name": "Smith",
                    "nationality": "USA",
                    "date_of_birth": "1999-12-30",
                    "address": {
                      "line1": "1 Main St",
                      "line2": "Apartment 9",
                      "city": "OFallon",
                      "country_subdivision": "MO",
                      "postal_code": "63368",
                      "country": "USA"
                    },
                    "phone": "11234567890",
                    "email": "John.Smith123@abcmail.com"
                  },
                  "sanction_screening_override": "true",
                  "reconciliation_data": {
                    "custom_field": [
                      {
                        "name": "ABC",
                        "value": "123"
                      },
                      {
                        "name": "DEF",
                        "value": "456"
                      },
                      {
                        "name": "GHI",
                        "value": "789"
                      }
                    ]
                  },
                  "statement_descriptor": "TST*THANKYOU",
                  "channel": "KIOSK",
                  "device_id": "DEVICE-1234",
                  "location": "state:MO",
                  "additional_message": "FudingKIOSK",
                  "language_identification": "ENG",
                  "language_data": "PAID FOR RENT",
                  "participation_id": "P123",
                  "token_cryptogram": {
                    "type": "CONTACTLESS_CHIP",
                    "value": "jjoutwsdgfdou124354ljlsdhgout968957",
                    "pan_sequence_number": "011"
                  },
                  "interchange_rate_designator": "QR",
                  "authentication_value": "ucaf:jJJLtQa+Iws8AREAEbjsA1MAAAA"
                }
              }
          response:
            application/json: |
              {
               "transfer": {
                "id": "trn_9iwoeGjDoWDl-U1SuRrH5L_P8IPY",
                "resource_type": "transfer",
                "transfer_reference": "TRNREF_20160826170254837",
                "payment_type": "P2M",
                "sender_account_uri": "pan:************9973",
                "sender": {
                 "first_name": "John",
                 "middle_name": "Tyler",
                 "last_name": "Smith",
                 "nationality": "USA",
                 "date_of_birth": "1999-12-30",
                 "address": {
                  "line1": "1 Main St",
                  "line2": "Apartment 9",
                  "city": "OFallon",
                  "country_subdivision": "MO",
                  "postal_code": "63368",
                  "country": "USA"
                 },
                 "phone": "11234567890",
                 "email": "John.Jones123@abcmail.com",
                  "additional_merchant_data": {
                  "payment_facilitator_id":"00000123456",
                   "sub_merchant_id" : "A1234D"
              },
                    "sanction_score": "20"
                },
                "recipient_account_uri": "pan:************9973",
                "recipient": {
                 "first_name": "John",
                 "middle_name": "Tyler",
                 "last_name": "Smith",
                 "nationality": "USA",
                 "date_of_birth": "1999-12-30",
                 "address": {
                  "line1": "1 Main St",
                  "line2": "Apartment 9",
                  "city": "OFallon",
                  "country_subdivision": "MO",
                  "postal_code": "63368",
                  "country": "USA"
                 },
                 "phone": "11234567890",
                 "email": "John.Smith123@abcmail.com",
                 "sanction_score": "20"
                },
                "transfer_amount": {
                 "value": "100",
                 "currency": "USD"
                },
                "created": "2016-08-26T12:48:52-05:00",
                "transaction_history": {
                 "resource_type": "list",
                 "item_count": "1",
                 "data": {
                  "transaction": [{
                   "id": "txn_7yuFI3NK6PQQufWrBzOFRAYSWXCg",
                   "resource_type": "transaction",
                   "account_uri": "pan:************9973",
                   "transaction_amount": {
                    "value": "100",
                    "currency": "USD"
                   },
                   "network": "VISAAFT",
                   "type": "FUNDING",
                   "create_timestamp": "2016-08-26T12:48:52-05:00",
                   "status": "APPROVED",
                   "status_reason": "APPROVED",
                   "status_timestamp": "2016-08-26T12:48:52-05:00",
                   "retrieval_reference": "624200192616",
                   "system_trace_audit_number": "926162"
                  }]
                 }
                },
                "reconciliation_data": {
                 "custom_field": [{
                  "name": "ABC",
                  "value": "123"
                 }, {
                  "name": "DEF",
                  "value": "456"
                 }, {
                  "name": "GHI",
                  "value": "789"
                 }]
                },
                "statement_descriptor": "TST*THANKYOU",
                "channel": "KIOSK",
                "device_id": "DEVICE-1234",
                "location": "state:MO",
                "original_status": "APPROVED",
                "status": "APPROVED",
                "status_timestamp": "2016-08-26T12:48:52-05:00",
                "interchange_rate_designator": "QR"
               }
              }
        - ignoreAsserts:
            - transfer.id
            - transfer.transfer_reference
            - transfer.transaction_history.data.transaction[0].id
            - transfer.transaction_history.data.transaction[0].resource_type
            - transfer.transaction_history.data.transaction[0].account_uri
            - transfer.transaction_history.data.transaction[0].transaction_amount
            - transfer.transaction_history.data.transaction[0].transaction_amount.value
            - transfer.transaction_history.data.transaction[0].transaction_amount.currency
            - transfer.transaction_history.data.transaction[0].network
            - transfer.transaction_history.data.transaction[0].network_status_code
            - transfer.transaction_history.data.transaction[0].network_status_description
            - transfer.transaction_history.data.transaction[0].type
            - transfer.transaction_history.data.transaction[0].create_timestamp
            - transfer.transaction_history.data.transaction[0].status_timestamp
            - transfer.transaction_history.data.transaction[0].retrieval_reference
            - transfer.transaction_history.data.transaction[0].system_trace_audit_number
            - transfer.transaction_history.data.transaction[0].status
            - transfer.transaction_history.data.transaction[0].status_reason
            - transfer.transaction_history.data.transaction[0].unique_reference_number
            - transfer.status_timestamp
            - transfer.created
            - transfer.statement_descriptor
            - transfer.sender.government_ids.government_id_uri[0]
            - transfer.sender.sanction_score
            - transfer.recipient.government_ids.government_id_uri[0]
            - transfer.recipient.sanction_score
            - transfer.original_status
            - transfer.sender.email
            - transfer.recipient.email
            - transfer.sender.additional_merchant_data.payment_facilitator_id
            - transfer.sender.additional_merchant_data.sub_merchant_id
            - transfer.recipient.merchant_category_code
            - transfer.interchange_rate_designator
            - null
            - null
          name: CreateMerchantFundingNonTokenized
          ordering: 101
          overrides:
            - funding_transfer.statement_descriptor: val:CLA*TEST
          request:
            application/json: |-
              {
               "partnerId": "ptnr_BEeCrYJHh2BXTXPy_PEtp-8DBOo",
               "funding_transfer": {
                  "transfer_reference": "104@remember-integer[16]@",
                  "payment_type": "P2M",
                  "amount": "100",
                  "currency": "USD",
                  "funding_hints": "ucaf:84vdsfu4320ngftn3409823",
                  "sender_account_uri": "pan:4000289999999973;exp=2099-08;cvc=123",
                  "sender": {
                    "first_name": "John",
                    "middle_name": "Tyler",
                    "last_name": "Jones",
                    "nationality": "USA",
                    "date_of_birth": "1994-05-21",
                    "address": {
                      "line1": "21 Broadway",
                      "line2": "Apartment A-6",
                      "city": "OFallon",
                      "country_subdivision": "MO",
                      "postal_code": "63368",
                      "country": "USA"
                    },
                    "phone": "11234565555",
                    "email": "John.Jones123@abcmail.com",
                     "additional_merchant_data": {
                  "payment_facilitator_id":"00000123456",
                   "sub_merchant_id" : "A1234D"
              },
                    "government_ids": { "government_id_uri": ["ppn:123456789;expiration-date=2019-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon" ]}
                  },
                  "recipient_account_uri": "pan:5102589999999988;exp=2099-08;cvc=123",
                  "recipient": {
                    "first_name": "Jane",
                    "middle_name": "Tyler",
                    "last_name": "Smith",
                    "nationality": "USA",
                    "date_of_birth": "1999-12-30",
                    "address": {
                      "line1": "1 Main St",
                      "line2": "Apartment 9",
                      "city": "OFallon",
                      "country_subdivision": "MO",
                      "postal_code": "63368",
                      "country": "USA"
                    },
                    "phone": "11234567890",
                    "email": "Jane.Smith123@abcmail.com",
                    "government_ids": { "government_id_uri": ["ppn:123456789;expiration-date=2019-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon" ]},
                    "merchant_category_code": "0763"                             
                  },
                  "sanction_screening_override": "true",
                  "reconciliation_data": {
                    "custom_field": [{
                    "name": "ABC",
                    "value": "123"
                    }, {
                    "name": "DEF",
                    "value": "456"
                    }, {
                    "name": "GHI",
                    "value": "789"
                    }]
                  },
                  "statement_descriptor": "TST*THANKYOU",
                  "channel": "KIOSK",
                  "device_id": "DEVICE-1234",
                  "location": "state:MO",
                  "additional_message": "FudingKIOSK",
                  "language_identification": "ENG",
                  "language_data": "PAID FOR RENT",
                  "participation_id": "P123",
                  "token_cryptogram": {
                    "type": "CONTACTLESS_CHIP",
                    "value": "jjoutwsdgfdou124354ljlsdhgout968957",
                    "pan_sequence_number": "011"
                  },
                   "interchange_rate_designator": "QR",
                  "authentication_value": "ucaf:jJJLtQa+Iws8AREAEbjsA1MAAAA"
               }
              }
          response:
            application/json: |
              {
               "transfer": {
                "id": "trn_Be9NbqeGnqNUDOs6lQAUx9--05Qc",
                "resource_type": "transfer",
                "transfer_reference": "TRNREF_20160826170254832",
                "payment_type": "P2M",
                "sender_account_uri": "pan:************9973",
                "sender": {
                 "first_name": "John",
                 "middle_name": "Tyler",
                 "last_name": "Jones",
                 "nationality": "USA",
                 "date_of_birth": "1994-05-21",
                 "address": {
                  "line1": "21 Broadway",
                  "line2": "Apartment A-6",
                  "city": "OFallon",
                  "country_subdivision": "MO",
                  "postal_code": "63368",
                  "country": "USA"
                 },
                 "phone": "11234565555",
                 "email": "Jane.Jones123@abcmail.com",
              "additional_merchant_data": {
                  "payment_facilitator_id":"00000123456",
                   "sub_merchant_id" : "A1234D"
              },
                 "government_ids": { "government_id_uri": ["ppn:*****6789;expiration-date=2019-05-27;issue-date=2011-07-12;issuing-country=USA;issuing-place=OFallon" ]},
                 "sanction_score": "20"
                },
                "recipient_account_uri": "pan:************9988",
                "recipient": {
                 "first_name": "Jane",
                 "middle_name": "Tyler",
                 "last_name": "Smith",
                 "nationality": "USA",
                 "date_of_birth": "1999-12-30",
                 "address": {
                  "line1": "1 Main St",
                  "line2": "Apartment 9",
                  "city": "OFallon",
                  "country_subdivision": "MO",
                  "postal_code": "63368",
                  "country": "USA"
                 },
                 "phone": "11234567890",
[...]
