swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Container Service Client.
  title: ContainerServiceClient
  version: 2017-09-30
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2017-09-30/location.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: containerservice-location
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
    x-ms-parameter-location: client
  LocationParameter:
    description: The name of a supported Azure region.
    in: path
    name: location
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceTypeParameter:
    description: resource type for which the list of orchestrators needs to be returned
    in: query
    name: resource-type
    required: false
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
    x-ms-parameter-location: client
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerService/locations/{location}/orchestrators":
    get:
      description: Gets a list of supported orchestrators in the specified subscription. The operation returns properties of each orchestrator including version and available upgrades.
      operationId: ContainerServices_ListOrchestrators
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/LocationParameter"
        - $ref: "#/parameters/ResourceTypeParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/OrchestratorVersionProfileListResult"
      summary: Gets a list of supported orchestrators in the specified subscription.
      tags:
        - ContainerServices
      x-ms-examples:
        List Container Service Orchestrators:
          parameters:
            api-version: 2017-09-30
            location: location1
            subscriptionId: subid1
          responses:
            "200":
              body:
                id: /subscriptions/subid1/providers/Microsoft.ContainerService/locations/location1/orchestrators
                name: default
                properties:
                  orchestrators:
                    - orchestratorType: DCOS
                      orchestratorVersion: 1.10.0
                    - default: true
                      orchestratorType: DCOS
                      orchestratorVersion: 1.9.0
                    - orchestratorType: DCOS
                      orchestratorVersion: 1.8.8
                    - orchestratorType: Swarm
                      orchestratorVersion: swarm:1.1.0
                    - orchestratorType: DockerCE
                      orchestratorVersion: 17.03.*
                    - orchestratorType: Kubernetes
                      orchestratorVersion: 1.8.1
                      upgrades:
                        - orchestratorVersion: 1.8.4
                        - orchestratorVersion: 1.8.2
                    - orchestratorType: Kubernetes
                      orchestratorVersion: 1.8.2
                      upgrades:
                        - orchestratorVersion: 1.8.4
                    - orchestratorType: Kubernetes
                      orchestratorVersion: 1.6.11
                      upgrades:
                        - orchestratorVersion: 1.7.4
                        - orchestratorVersion: 1.7.9
                        - orchestratorVersion: 1.6.12
                        - orchestratorVersion: 1.7.1
                        - orchestratorVersion: 1.7.0
                        - orchestratorVersion: 1.7.5
                        - orchestratorVersion: 1.7.10
                        - orchestratorVersion: 1.6.13
                        - orchestratorVersion: 1.7.2
                        - orchestratorVersion: 1.7.7
                    - orchestratorType: Kubernetes
                      orchestratorVersion: 1.7.7
                      upgrades:
                        - orchestratorVersion: 1.7.9
                        - orchestratorVersion: 1.8.4
                        - orchestratorVersion: 1.8.0
                        - orchestratorVersion: 1.7.10
                        - orchestratorVersion: 1.8.1
                        - orchestratorVersion: 1.8.2
                    - orchestratorType: Kubernetes
                      orchestratorVersion: 1.5.8
                      upgrades:
                        - orchestratorVersion: 1.6.11
                        - orchestratorVersion: 1.6.13
                        - orchestratorVersion: 1.6.9
                        - orchestratorVersion: 1.6.6
                        - orchestratorVersion: 1.6.12
                    - orchestratorType: Kubernetes
                      orchestratorVersion: 1.6.9
                      upgrades:
                        - orchestratorVersion: 1.7.4
                        - orchestratorVersion: 1.7.9
                        - orchestratorVersion: 1.6.12
                        - orchestratorVersion: 1.7.1
                        - orchestratorVersion: 1.7.0
                        - orchestratorVersion: 1.7.5
                        - orchestratorVersion: 1.7.10
                        - orchestratorVersion: 1.6.11
                        - orchestratorVersion: 1.6.13
                        - orchestratorVersion: 1.7.2
                        - orchestratorVersion: 1.7.7
                    - default: true
                      orchestratorType: Kubernetes
                      orchestratorVersion: 1.7.9
                      upgrades:
                        - orchestratorVersion: 1.8.1
                        - orchestratorVersion: 1.8.2
                        - orchestratorVersion: 1.8.4
                        - orchestratorVersion: 1.8.0
                        - orchestratorVersion: 1.7.10
                type: Microsoft.ContainerService/locations/orchestrators
definitions:
  OrchestratorProfile:
    description: Contains information about orchestrator.
    properties:
      orchestratorType:
        description: Orchestrator type.
        type: string
      orchestratorVersion:
        description: Orchestrator version (major, minor, patch).
        type: string
    required:
      - orchestratorType
      - orchestratorVersion
  OrchestratorVersionProfile:
    description: The profile of an orchestrator and its available versions.
    properties:
      default:
        description: Installed by default if version is not specified.
        type: boolean
      orchestratorType:
        description: Orchestrator type.
        type: string
      orchestratorVersion:
        description: Orchestrator version (major, minor, patch).
        type: string
      upgrades:
        description: The list of available upgrade versions.
        items:
          $ref: "#/definitions/OrchestratorProfile"
        type: array
    required:
      - orchestratorVersion
      - orchestratorType
      - upgrades
      - default
  OrchestratorVersionProfileListResult:
    description: The list of versions for supported orchestrators.
    properties:
      id:
        description: Id of the orchestrator version profile list result.
        readOnly: true
        type: string
      name:
        description: Name of the orchestrator version profile list result.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/OrchestratorVersionProfileProperties"
        description: The properties of an orchestrator version profile.
        x-ms-client-flatten: true
      type:
        description: Type of the orchestrator version profile list result.
        readOnly: true
        type: string
    required:
      - properties
  OrchestratorVersionProfileProperties:
    description: The properties of an orchestrator version profile.
    properties:
      orchestrators:
        description: List of orchestrator version profiles.
        items:
          $ref: "#/definitions/OrchestratorVersionProfile"
        type: array
    required:
      - orchestrators
