swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Provides create, read, update and delete functionality for Azure SQL Database resources including servers, databases, elastic pools, recommendations, and operations.
  title: Azure SQL Database
  version: 2014-04-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/deprecated.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: sql-deprecated
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
parameters:
  DatabaseExpandParameter:
    description: "A comma separated list of child objects to expand in the response. Possible properties: serviceTierAdvisors, transparentDataEncryption."
    in: query
    name: $expand
    required: false
    type: string
    x-ms-parameter-location: method
  ServerNameParameter:
    description: The name of the server.
    in: path
    name: serverName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/extensions":
    get:
      description: Gets database extensions. This API is deprecated and should not be used.
      operationId: Extensions_ListByDatabase
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the database to import into
          in: path
          name: databaseName
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ExtensionListResult"
      tags:
        - ImportExport
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/extensions/{extensionName}":
    get:
      description: Gets a database extension. This API is deprecated and should not be used.
      operationId: Extensions_Get
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the database to import into
          in: path
          name: databaseName
          required: true
          type: string
        - description: The name of the extension to get
          enum:
            - import
          in: path
          name: extensionName
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ExtensionName
      responses:
        "200":
          description: OK
      tags:
        - ImportExport
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/transparentDataEncryption":
    get:
      deprecated: true
      description: Gets a list of a database's transparent data encryption configurations. There is only ever one element, named 'current', so GetTransparentDataEncryptionConfiguration should be used instead.
      operationId: TransparentDataEncryptionConfigurations_ListByDatabase
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the database for which the transparent data encryption applies.
          in: path
          name: databaseName
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/TransparentDataEncryptionListResult"
      tags:
        - TransparentDataEncryption
      x-ms-examples:
        Get a list of transparent data encryption configurations:
          parameters:
            api-version: 2014-04-01
            databaseName: sqlcrudtest-9187
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/databases/sqlcrudtest-9187/transparentDataEncryption/current
                    location: North Europe
                    name: current
                    properties:
                      status: Enabled
                    type: Microsoft.Sql/servers/databases/transparentDataEncryption
      x-ms-pageable:
        nextLinkName: null
definitions:
  ExtensionListResult:
    description: Represents the response to a list extensions request.
    properties:
      value:
        description: The list of extensions.
        items:
          properties: {}
        type: array
  TransparentDataEncryptionListResult:
    description: Represents the response to a list transparent data encryption configurations request.
    properties:
      value:
        description: The list of transparent data encryption configurations.
        items:
          allOf:
            - allOf:
                - description: ARM resource.
                  properties:
                    id:
                      description: Resource ID.
                      readOnly: true
                      type: string
                    name:
                      description: Resource name.
                      readOnly: true
                      type: string
                    type:
                      description: Resource type.
                      readOnly: true
                      type: string
                  type: object
                  x-ms-azure-resource: true
              description: ARM proxy resource.
              properties: {}
              type: object
          description: Represents a database transparent data encryption configuration.
          properties:
            location:
              description: Resource location.
              readOnly: true
              type: string
            properties:
              description: Represents the properties of a database transparent data encryption.
              properties:
                status:
                  description: The status of the database transparent data encryption.
                  enum:
                    - Enabled
                    - Disabled
                  type: string
                  x-ms-enum:
                    name: TransparentDataEncryptionStatus
        type: array
