swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  contact:
    email: azuremigrate@microsoft.com
    name: Microsoft
  description: Assess your workloads for Azure.
  title: Azure Migrate V2
  version: 2019-10-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/migrate/resource-manager/Microsoft.Migrate/stable/2019-10-01/migrate.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: migrate
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  acceptLanguage:
    description: Standard request header. Used by service to respond to client in appropriate language.
    in: header
    name: Accept-Language
    type: string
  api-version:
    description: Standard request header. Used by service to identify API version used by client.
    enum:
      - 2019-10-01
    in: query
    name: api-version
    required: true
    type: string
  assessedMachineName:
    description: Unique name of an assessed machine evaluated as part of an assessment.
    in: path
    name: assessedMachineName
    required: true
    type: string
    x-ms-parameter-location: method
  assessmentName:
    description: Unique name of an assessment within a project.
    in: path
    name: assessmentName
    required: true
    type: string
    x-ms-parameter-location: method
  assessmentOptionsName:
    description: Name of the assessment options. The only name accepted in default.
    in: path
    name: assessmentOptionsName
    required: true
    type: string
    x-ms-parameter-location: method
  groupName:
    description: Unique name of a group within a project.
    in: path
    name: groupName
    required: true
    type: string
    x-ms-parameter-location: method
  hyperVCollectorName:
    description: Unique name of a Hyper-V collector within a project.
    in: path
    name: hyperVCollectorName
    required: true
    type: string
    x-ms-parameter-location: method
  machineName:
    description: Unique name of a machine in private datacenter.
    in: path
    name: machineName
    required: true
    type: string
    x-ms-parameter-location: method
  projectName:
    description: Name of the Azure Migrate project.
    in: path
    name: projectName
    required: true
    type: string
    x-ms-parameter-location: method
  resourceGroupName:
    description: Name of the Azure Resource Group that project is part of.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionId:
    description: Azure Subscription Id in which project was created.
    in: path
    name: subscriptionId
    required: true
    type: string
  vmWareCollectorName:
    description: Unique name of a VMware collector within a project.
    in: path
    name: vmWareCollectorName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  /providers/Microsoft.Migrate/operations:
    get:
      description: Get a list of REST API supported by Microsoft.Migrate provider.
      operationId: Operations_List
      responses:
        "200":
          description: OK. Returns list of operations.
          schema:
            $ref: "#/definitions/OperationResultList"
      summary: Get list of operations supported in the API.
      x-ms-examples:
        Operations_List:
          parameters:
            api-version: 2019-10-01
            resourceGroupName: abgoyal-westEurope
            subscriptionId: 6393a73f-8d55-47ef-b6dd-179b3e0c7910
          responses:
            "200":
              body:
                value:
                  - display:
                      description: Reads a project
                      operation: Read
                      provider: Microsoft.Migrate
                      resource: Microsoft.Migrate/assessmentProjects
                    name: Read
                    origin: user,system
                  - display:
                      description: Creates or updates a project
                      operation: Write
                      provider: Microsoft.Migrate
                      resource: Microsoft.Migrate/assessmentProjects
                    name: Write
                    origin: user,system
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Migrate/assessmentProjects":
    get:
      description: Get all the projects in the subscription.
      operationId: Projects_ListBySubscription
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/acceptLanguage"
      responses:
        "200":
          description: OK.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/ProjectResultList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Get all projects.
      x-ms-examples:
        Projects_List:
          parameters:
            api-version: 2019-10-01
            subscriptionId: 6393a73f-8d55-47ef-b6dd-179b3e0c7910
          responses:
            "200":
              body:
                value:
                  - eTag: '"0500be57-0000-0300-0000-5cb893f70000"'
                    id: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/SMSValidations/providers/Microsoft.Migrate/assessmentprojects/site1493ae9ea68project
                    location: centralus
                    name: site1493ae9ea68project
                    properties:
                      assessmentSolutionId: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/SMSValidations/providers/Microsoft.Migrate/MigrateProjects/SMSValidations-MigrateProject/Solutions/Servers-Assessment-ServerAssessment
                      createdTimestamp: 2019-02-15T09:18:02.572288Z
                      customerWorkspaceId: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourcegroups/SMSValidations/providers/Microsoft.OperationalInsights/workspaces/test-haili-01
                      customerWorkspaceLocation: southeastasia
                      lastAssessmentTimestamp: 2019-04-18T15:12:55.2386626Z
                      numberOfAssessments: 12
                      numberOfGroups: 8
                      numberOfMachines: 26
                      projectStatus: Active
                      provisioningState: Succeeded
                      serviceEndpoint: https://asmsrvprodcus.prod.migration.windowsazure.com/
                      updatedTimestamp: 2019-03-18T03:31:20.8362646Z
                    type: Microsoft.Migrate/assessmentprojects
                  - eTag: '"8300bdec-0000-0300-0000-5cd678410000"'
                    id: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/ppValidation/providers/Microsoft.Migrate/assessmentprojects/site1ad5aa6cc09project
                    location: centralus
                    name: site1ad5aa6cc09project
                    properties:
                      assessmentSolutionId: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/ppValidation/providers/Microsoft.Migrate/MigrateProjects/ppValidation-MigrateProject/Solutions/Servers-Assessment-ServerAssessment
                      createdTimestamp: 2019-02-18T16:46:46.0843984Z
                      customerWorkspaceId: null
                      customerWorkspaceLocation: null
                      lastAssessmentTimestamp: 2019-05-11T07:22:41.5553328Z
                      numberOfAssessments: 12
                      numberOfGroups: 7
                      numberOfMachines: 29
                      projectStatus: Active
                      provisioningState: Succeeded
                      serviceEndpoint: https://asmsrvprodcus.prod.migration.windowsazure.com/
                      updatedTimestamp: 2019-02-18T16:46:46.0843984Z
                    type: Microsoft.Migrate/assessmentprojects
                  - eTag: '"0d00efcf-0000-0300-0000-5d6fdac70000"'
                    id: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/SDKUpgradeValidations/providers/Microsoft.Migrate/assessmentprojects/migrateproject0720project
                    location: centralus
                    name: migrateproject0720project
                    properties:
                      assessmentSolutionId: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/SDKUpgradeValidations/providers/Microsoft.Migrate/MigrateProjects/SDKUpgradeValidations-MigrateProject/Solutions/Servers-Assessment-ServerAssessment
                      createdTimestamp: 2019-03-22T07:06:04.9725546Z
                      customerWorkspaceId: null
                      customerWorkspaceLocation: null
                      lastAssessmentTimestamp: 2019-09-04T15:39:51.3046884Z
                      numberOfAssessments: 2
                      numberOfGroups: 1
                      numberOfMachines: 24
                      projectStatus: Active
                      provisioningState: Succeeded
                      serviceEndpoint: https://asmsrvprodcus.prod.migration.windowsazure.com/
                      updatedTimestamp: 2019-03-22T07:06:04.9725546Z
                    type: Microsoft.Migrate/assessmentprojects
                  - eTag: '"00004d14-0000-0300-0000-5cb820290000"'
                    id: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/AccessibilityTesting/providers/Microsoft.Migrate/assessmentprojects/migrateproject03acproject
                    location: centralus
                    name: migrateproject03acproject
                    properties:
                      assessmentSolutionId: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/AccessibilityTesting/providers/Microsoft.Migrate/MigrateProjects/AccessibilityTesting-MigrateProject/Solutions/Servers-Assessment-ServerAssessment
                      createdTimestamp: 2019-04-18T06:53:59.4191419Z
                      customerWorkspaceId: null
                      customerWorkspaceLocation: null
                      lastAssessmentTimestamp: null
                      numberOfAssessments: 0
                      numberOfGroups: 0
                      numberOfMachines: 16
                      projectStatus: Active
                      provisioningState: Succeeded
                      serviceEndpoint: https://asmsrvprodcus.prod.migration.windowsazure.com/
                      updatedTimestamp: 2019-04-18T06:53:59.4191419Z
                    type: Microsoft.Migrate/assessmentprojects
                  - eTag: '"1300df9f-0000-0300-0000-5d6e6d860000"'
                    id: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/vmwaretesting/providers/Microsoft.Migrate/assessmentprojects/migrateprojecta961project
                    location: centralus
                    name: migrateprojecta961project
                    properties:
                      assessmentSolutionId: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/vmwaretesting/providers/Microsoft.Migrate/MigrateProjects/vmwaretesting-MigrateProject/Solutions/Servers-Assessment-ServerAssessment
                      createdTimestamp: 2019-04-20T11:59:42.7355994Z
                      customerWorkspaceId: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourcegroups/vmwaretesting/providers/Microsoft.OperationalInsights/workspaces/mahpar324211
                      customerWorkspaceLocation: westeurope
                      lastAssessmentTimestamp: null
                      numberOfAssessments: 0
                      numberOfGroups: 1
                      numberOfMachines: 47
                      projectStatus: Active
                      provisioningState: Succeeded
                      serviceEndpoint: https://asmsrvprodcus.prod.migration.windowsazure.com/
                      updatedTimestamp: 2019-09-03T13:41:26.6775107Z
                    type: Microsoft.Migrate/assessmentprojects
                  - eTag: '"02006b1f-0000-0300-0000-5d24a44a0000"'
                    id: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/GARegressionTesting/providers/Microsoft.Migrate/assessmentprojects/PortalGAValidations43bbproject
                    location: centralus
                    name: PortalGAValidations43bbproject
                    properties:
                      assessmentSolutionId: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/GARegressionTesting/providers/Microsoft.Migrate/MigrateProjects/PortalGAValidations/Solutions/Servers-Assessment-ServerAssessment
                      createdTimestamp: 2019-07-04T03:56:50.853542Z
                      customerWorkspaceId: null
                      customerWorkspaceLocation: null
                      lastAssessmentTimestamp: 2019-07-09T14:27:22.8856571Z
                      numberOfAssessments: 4
                      numberOfGroups: 4
                      numberOfMachines: 49
                      projectStatus: Active
                      provisioningState: Succeeded
                      serviceEndpoint: https://asmsrvprodcus.prod.migration.windowsazure.com/
                      updatedTimestamp: 2019-07-04T03:56:50.853542Z
                    type: Microsoft.Migrate/assessmentprojects
                  - eTag: '"0400d98a-0000-0d00-0000-5cd3ff790000"'
                    id: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/vaindana-migrate-ga-rg/providers/Microsoft.Migrate/assessmentprojects/vaindana-pre-ga120dproject
                    location: westeurope
                    name: vaindana-pre-ga120dproject
                    properties:
                      assessmentSolutionId: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/vaindana-migrate-ga-rg/providers/Microsoft.Migrate/MigrateProjects/vaindana-pre-ga/Solutions/Servers-Assessment-ServerAssessment
                      createdTimestamp: 2019-05-08T15:09:37.8565484Z
                      customerWorkspaceId: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourcegroups/vaindana-migrate-ga-rg/providers/Microsoft.OperationalInsights/workspaces/vaindana-pre-ga-oms
                      customerWorkspaceLocation: westeurope
                      lastAssessmentTimestamp: 2019-05-09T10:22:48.9730444Z
                      numberOfAssessments: 2
                      numberOfGroups: 2
                      numberOfMachines: 14
                      projectStatus: Active
                      provisioningState: Succeeded
                      serviceEndpoint: https://asmsrvprodwe.prod.migration.windowsazure.com/
                      updatedTimestamp: 2019-05-08T17:12:42.1788728Z
                    type: Microsoft.Migrate/assessmentprojects
                  - eTag: '"0b00349d-0000-0d00-0000-5d22eb5b0000"'
                    id: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/Mahesh-RG-Eurpe-Bugbash/providers/Microsoft.Migrate/assessmentprojects/Mahesh-V2-Europe-Bugbash181eproject
                    location: westeurope
                    name: Mahesh-V2-Europe-Bugbash181eproject
                    properties:
                      assessmentSolutionId: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/Mahesh-RG-Eurpe-Bugbash/providers/Microsoft.Migrate/MigrateProjects/Mahesh-V2-Europe-Bugbash/Solutions/Servers-Assessment-ServerAssessment
                      createdTimestamp: 2019-05-09T07:38:23.0345615Z
                      customerWorkspaceId: null
                      customerWorkspaceLocation: null
                      lastAssessmentTimestamp: 2019-07-02T06:38:34.2815102Z
                      numberOfAssessments: 6
                      numberOfGroups: 3
                      numberOfMachines: 36
                      projectStatus: Active
                      provisioningState: Succeeded
                      serviceEndpoint: https://asmsrvprodwe.prod.migration.windowsazure.com/
                      updatedTimestamp: 2019-05-09T07:38:23.0345615Z
                    type: Microsoft.Migrate/assessmentprojects
                  - eTag: '"0600c777-0000-0d00-0000-5cdaa4170000"'
                    id: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/abgoyal-westEurope/providers/Microsoft.Migrate/assessmentprojects/abgoyalWEselfhostb72bproject
                    location: westeurope
                    name: abgoyalWEselfhostb72bproject
                    properties:
                      assessmentSolutionId: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourcegroups/abgoyal-westeurope/providers/microsoft.migrate/migrateprojects/abgoyalweselfhost/Solutions/Servers-Assessment-ServerAssessment
                      createdTimestamp: 2019-05-09T08:28:53.3305058Z
                      customerWorkspaceId: null
                      customerWorkspaceLocation: null
                      lastAssessmentTimestamp: 2019-05-14T11:18:47.7893715Z
                      numberOfAssessments: 3
                      numberOfGroups: 2
                      numberOfMachines: 28
                      projectStatus: Active
                      provisioningState: Succeeded
                      serviceEndpoint: https://asmsrvprodwe.prod.migration.windowsazure.com/
                      updatedTimestamp: 2019-05-09T10:11:16.0228967Z
                    type: Microsoft.Migrate/assessmentprojects
                  - eTag: '"01003c88-0000-0d00-0000-5d41601b0000"'
                    id: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/vaindana-migrate-ga-rg/providers/Microsoft.Migrate/assessmentprojects/vaindana-pre-ga-10180project
                    location: westeurope
                    name: vaindana-pre-ga-10180project
                    properties:
                      assessmentSolutionId: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/vaindana-migrate-ga-rg/providers/Microsoft.Migrate/MigrateProjects/vaindana-pre-ga-1/Solutions/Servers-Assessment-ServerAssessment
                      createdTimestamp: 2019-05-09T11:58:13.0218178Z
                      customerWorkspaceId: null
                      customerWorkspaceLocation: null
                      lastAssessmentTimestamp: 2019-07-31T09:32:11.4963946Z
                      numberOfAssessments: 4
                      numberOfGroups: 2
                      numberOfMachines: 101
                      projectStatus: Active
                      provisioningState: Succeeded
                      serviceEndpoint: https://asmsrvprodwe.prod.migration.windowsazure.com/
                      updatedTimestamp: 2019-05-15T16:52:08.9189309Z
                    type: Microsoft.Migrate/assessmentprojects
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/assessments":
    get:
      description: |
        Get all assessments created in the project.

        Returns a json array of objects of type 'assessment' as specified in Models section.
      operationId: Assessments_ListByProject
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns list of Assessment objects.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/AssessmentResultList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Get all assessments created in the project.
      x-ms-examples:
        Assessments_ListByProject:
          parameters:
            api-version: 2019-10-01
            projectName: abgoyalWEselfhostb72bproject
            resourceGroupName: abgoyal-westEurope
            subscriptionId: 6393a73f-8d55-47ef-b6dd-179b3e0c7910
          responses:
            "200":
              body:
                value:
                  - eTag: '"21009c31-0000-0d00-0000-5cd585ad0000"'
                    id: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/abgoyal-westeurope/providers/Microsoft.Migrate/assessmentprojects/abgoyalWEselfhostb72bproject/groups/Test1/assessments/assessment_5_9_2019_16_22_14
                    name: assessment_5_9_2019_16_22_14
                    properties:
                      azureDiskType: StandardOrPremium
                      azureHybridUseBenefit: Yes
                      azureLocation: NorthEurope
                      azureOfferCode: MSAZR0003P
                      azurePricingTier: Standard
                      azureStorageRedundancy: LocallyRedundant
                      azureVmFamilies:
                        - Dv2_series
                        - F_series
                        - Dv3_series
                        - DS_series
                        - DSv2_series
                        - Fs_series
                        - Dsv3_series
                        - Ev3_series
                        - Esv3_series
                        - D_series
                        - M_series
                        - Fsv2_series
                        - H_series
                      confidenceRatingInPercentage: 0
                      createdTimestamp: 2019-05-09T10:52:14.4896347Z
                      currency: USD
                      discountPercentage: 0
                      eaSubscriptionId: null
                      monthlyBandwidthCost: 0
                      monthlyComputeCost: 2588.830584
                      monthlyPremiumStorageCost: 0
                      monthlyStandardSSDStorageCost: 0
                      monthlyStorageCost: 238.016
                      numberOfMachines: 26
                      percentile: Percentile95
                      perfDataEndTime: 2019-05-09T10:52:14.4896347Z
                      perfDataStartTime: 2019-05-08T10:52:14.4896347Z
                      pricesTimestamp: 2019-03-26T11:07:37.139768Z
                      reservedInstance: RI3Year
                      scalingFactor: 1
                      sizingCriterion: PerformanceBased
                      stage: InProgress
                      status: OutDated
                      timeRange: Day
                      updatedTimestamp: 2019-05-09T10:52:14.4896347Z
                      vmUptime:
                        daysPerMonth: 31
                        hoursPerDay: 24
                    type: Microsoft.Migrate/assessmentprojects/groups/assessments
                  - eTag: '"1e000c2c-0000-0d00-0000-5cdaa4190000"'
                    id: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/abgoyal-westeurope/providers/Microsoft.Migrate/assessmentprojects/abgoyalWEselfhostb72bproject/groups/Group2/assessments/assessment_5_9_2019_17_0_56
                    name: assessment_5_9_2019_17_0_56
                    properties:
                      azureDiskType: StandardOrPremium
                      azureHybridUseBenefit: Yes
                      azureLocation: NorthEurope
                      azureOfferCode: MSAZR0003P
                      azurePricingTier: Standard
                      azureStorageRedundancy: LocallyRedundant
                      azureVmFamilies:
                        - Dv2_series
                        - F_series
                        - Dv3_series
                        - DS_series
                        - DSv2_series
                        - Fs_series
                        - Dsv3_series
                        - Ev3_series
                        - Esv3_series
                        - D_series
                        - M_series
                        - Fsv2_series
                        - H_series
                      confidenceRatingInPercentage: 0
                      createdTimestamp: 2019-05-09T11:30:57.0035869Z
                      currency: USD
                      discountPercentage: 0
                      eaSubscriptionId: null
                      monthlyBandwidthCost: 0
                      monthlyComputeCost: 607.443264
                      monthlyPremiumStorageCost: 0
                      monthlyStandardSSDStorageCost: 0
                      monthlyStorageCost: 111.36
                      numberOfMachines: 5
                      percentile: Percentile95
                      perfDataEndTime: 2019-05-09T11:30:57.0035869Z
                      perfDataStartTime: 2019-05-08T11:30:57.0035869Z
                      pricesTimestamp: 2019-03-26T11:07:37.139768Z
                      reservedInstance: RI3Year
                      scalingFactor: 1
                      sizingCriterion: PerformanceBased
                      stage: InProgress
                      status: Completed
                      timeRange: Day
                      updatedTimestamp: 2019-05-09T11:30:57.0035869Z
                      vmUptime:
                        daysPerMonth: 31
                        hoursPerDay: 24
                    type: Microsoft.Migrate/assessmentprojects/groups/assessments
                  - eTag: '"1e000c2c-0000-0d00-0000-5cdaa4190000"'
                    id: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/abgoyal-westeurope/providers/Microsoft.Migrate/assessmentprojects/abgoyalWEselfhostb72bproject/groups/Group2/assessments/assessment_5_14_2019_16_48_47
                    name: assessment_5_14_2019_16_48_47
                    properties:
                      azureDiskType: StandardOrPremium
                      azureHybridUseBenefit: Yes
                      azureLocation: NorthEurope
                      azureOfferCode: MSAZR0003P
                      azurePricingTier: Standard
                      azureStorageRedundancy: LocallyRedundant
                      azureVmFamilies:
                        - Dv2_series
                        - F_series
                        - Dv3_series
                        - DS_series
                        - DSv2_series
                        - Fs_series
                        - Dsv3_series
                        - Ev3_series
                        - Esv3_series
                        - D_series
                        - M_series
                        - Fsv2_series
                        - H_series
                      confidenceRatingInPercentage: 0
                      createdTimestamp: 2019-05-14T11:18:47.7893715Z
                      currency: USD
                      discountPercentage: 0
                      eaSubscriptionId: null
                      monthlyBandwidthCost: 0
                      monthlyComputeCost: 607.443264
                      monthlyPremiumStorageCost: 0
                      monthlyStandardSSDStorageCost: 0
                      monthlyStorageCost: 111.36
                      numberOfMachines: 5
                      percentile: Percentile95
                      perfDataEndTime: 2019-05-14T11:18:47.7893715Z
                      perfDataStartTime: 2019-05-13T11:18:47.7893715Z
                      pricesTimestamp: 2019-03-26T11:07:37.139768Z
                      reservedInstance: RI3Year
                      scalingFactor: 1
                      sizingCriterion: PerformanceBased
                      stage: InProgress
                      status: Completed
                      timeRange: Day
                      updatedTimestamp: 2019-05-14T11:18:47.7893715Z
                      vmUptime:
                        daysPerMonth: 31
                        hoursPerDay: 24
                    type: Microsoft.Migrate/assessmentprojects/groups/assessments
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups":
    get:
      description: Get all groups created in the project. Returns a json array of objects of type 'group' as specified in the Models section.
      operationId: Groups_ListByProject
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns list of groups.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/GroupResultList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Get all groups
      x-ms-examples:
        Groups_ListByProject:
          parameters:
            api-version: 2019-10-01
            projectName: abgoyalWEselfhostb72bproject
            resourceGroupName: abgoyal-westEurope
            subscriptionId: 6393a73f-8d55-47ef-b6dd-179b3e0c7910
          responses:
            "200":
              body:
                value:
                  - eTag: '"21009c31-0000-0d00-0000-5cd585ad0000"'
                    id: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/abgoyal-westeurope/providers/Microsoft.Migrate/assessmentprojects/abgoyalWEselfhostb72bproject/groups/Test1
                    name: Test1
                    properties:
                      areAssessmentsRunning: false
                      assessments:
                        - /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/abgoyal-westeurope/providers/Microsoft.Migrate/assessmentprojects/abgoyalWEselfhostb72bproject/groups/Test1/assessments/assessment_5_9_2019_16_22_14
                      createdTimestamp: 2019-05-09T10:52:07.7368474Z
                      groupStatus: Completed
                      machineCount: 26
                      updatedTimestamp: 2019-05-10T14:07:41.752989Z
                    type: Microsoft.Migrate/assessmentprojects/groups
                  - eTag: '"1e000c2c-0000-0d00-0000-5cdaa4190000"'
                    id: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/abgoyal-westeurope/providers/Microsoft.Migrate/assessmentprojects/abgoyalWEselfhostb72bproject/groups/Group2
                    name: Group2
                    properties:
                      areAssessmentsRunning: false
                      assessments:
                        - /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/abgoyal-westeurope/providers/Microsoft.Migrate/assessmentprojects/abgoyalWEselfhostb72bproject/groups/Group2/assessments/assessment_5_9_2019_17_0_56
                        - /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/abgoyal-westeurope/providers/Microsoft.Migrate/assessmentprojects/abgoyalWEselfhostb72bproject/groups/Group2/assessments/assessment_5_14_2019_16_48_47
                      createdTimestamp: 2019-05-09T10:52:56.1574737Z
                      groupStatus: Completed
                      machineCount: 5
                      updatedTimestamp: 2019-05-14T11:18:49.5485462Z
                    type: Microsoft.Migrate/assessmentprojects/groups
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}":
    delete:
      description: |
        Delete the group from the project. The machines remain in the project. Deleting a non-existent group results in a no-operation.

        A group is an aggregation mechanism for machines in a project. Therefore, deleting group does not delete machines in it.
      operationId: Groups_Delete
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/groupName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Deleted the group.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
        "204":
          description: No content. No group with specified name was found.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Delete the group
      x-ms-examples:
        Groups_Delete:
          parameters:
            api-version: 2019-10-01
            groupName: Test1
            projectName: abgoyalWEselfhostb72bproject
            resourceGroupName: abgoyal-westEurope
            subscriptionId: 6393a73f-8d55-47ef-b6dd-179b3e0c7910
          responses:
            "200": {}
            "204": {}
    get:
      description: Get information related to a specific group in the project. Returns a json object of type 'group' as specified in the models section.
      operationId: Groups_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/groupName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns the group with the specified name.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/Group"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Get a specific group.
      x-ms-examples:
        Groups_Get:
          parameters:
            api-version: 2019-10-01
            groupName: Test1
            projectName: abgoyalWEselfhostb72bproject
            resourceGroupName: abgoyal-westEurope
            subscriptionId: 6393a73f-8d55-47ef-b6dd-179b3e0c7910
          responses:
            "200":
              body:
                eTag: '"21009c31-0000-0d00-0000-5cd585ad0000"'
                id: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/abgoyal-westeurope/providers/Microsoft.Migrate/assessmentprojects/abgoyalWEselfhostb72bproject/groups/Test1
                name: Test1
                properties:
                  areAssessmentsRunning: false
                  assessments:
                    - /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/abgoyal-westeurope/providers/Microsoft.Migrate/assessmentprojects/abgoyalWEselfhostb72bproject/groups/Test1/assessments/assessment_5_9_2019_16_22_14
                  createdTimestamp: 2019-05-09T10:52:07.7368474Z
                  groupStatus: Completed
                  machineCount: 26
                  updatedTimestamp: 2019-05-10T14:07:41.752989Z
                type: Microsoft.Migrate/assessmentprojects/groups
    put:
      description: |
        Create a new group by sending a json object of type 'group' as given in Models section as part of the Request Body. The group name in a project is unique.

        This operation is Idempotent.
      operationId: Groups_Create
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/groupName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
        - description: New or Updated Group object.
          in: body
          name: group
          schema:
            $ref: "#/definitions/Group"
      responses:
        "200":
          description: OK. Existing group updated.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/Group"
        "201":
          description: Created. New group was created.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/Group"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Create a new group with specified settings.
      x-ms-examples:
        Groups_Create:
          parameters:
            api-version: 2019-10-01
            group:
              eTag: '"1e000c2c-0000-0d00-0000-5cdaa4190000"'
              properties: {}
            groupName: Group2
            projectName: abgoyalWEselfhostb72bproject
            resourceGroupName: abgoyal-westEurope
            subscriptionId: 6393a73f-8d55-47ef-b6dd-179b3e0c7910
          responses:
            "200":
              body:
                eTag: '"1e000c2c-0000-0d00-0000-5cdaa4190000"'
                id: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/abgoyal-westeurope/providers/Microsoft.Migrate/assessmentprojects/abgoyalWEselfhostb72bproject/groups/Group2
                name: Group2
                properties:
                  areAssessmentsRunning: false
                  assessments: []
                  createdTimestamp: 2019-05-09T10:52:56.1574737Z
                  groupStatus: Completed
                  machineCount: 0
                  updatedTimestamp: 2019-05-14T11:18:49.5485462Z
                type: Microsoft.Migrate/assessmentprojects/groups
            "201":
              body:
                eTag: '"1e000c2c-0000-0d00-0000-5cdaa4190000"'
                id: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/abgoyal-westeurope/providers/Microsoft.Migrate/assessmentprojects/abgoyalWEselfhostb72bproject/groups/Group2
                name: Group2
                properties:
                  areAssessmentsRunning: false
                  assessments: []
                  createdTimestamp: 2019-05-09T10:52:56.1574737Z
                  groupStatus: Completed
                  machineCount: 0
                  updatedTimestamp: 2019-05-14T11:18:49.5485462Z
                type: Microsoft.Migrate/assessmentprojects/groups
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/assessments":
    get:
      description: |
        Get all assessments created for the specified group.

        Returns a json array of objects of type 'assessment' as specified in Models section.
      operationId: Assessments_ListByGroup
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/groupName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns list of Assessment objects.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/AssessmentResultList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Get all assessments created for the specified group.
      x-ms-examples:
        Assessments_ListByGroup:
          parameters:
            api-version: 2019-10-01
            groupName: Test1
            projectName: abgoyalWEselfhostb72bproject
            resourceGroupName: abgoyal-westEurope
            subscriptionId: 6393a73f-8d55-47ef-b6dd-179b3e0c7910
          responses:
            "200":
              body:
                value:
                  - eTag: '"21009c31-0000-0d00-0000-5cd585ad0000"'
                    id: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/abgoyal-westeurope/providers/Microsoft.Migrate/assessmentprojects/abgoyalWEselfhostb72bproject/groups/Test1/assessments/assessment_5_9_2019_16_22_14
                    name: assessment_5_9_2019_16_22_14
                    properties:
                      azureDiskType: StandardOrPremium
                      azureHybridUseBenefit: Yes
                      azureLocation: NorthEurope
                      azureOfferCode: MSAZR0003P
                      azurePricingTier: Standard
                      azureStorageRedundancy: LocallyRedundant
                      azureVmFamilies:
                        - Dv2_series
                        - F_series
                        - Dv3_series
                        - DS_series
                        - DSv2_series
                        - Fs_series
                        - Dsv3_series
                        - Ev3_series
                        - Esv3_series
                        - D_series
                        - M_series
                        - Fsv2_series
                        - H_series
                      confidenceRatingInPercentage: 0
                      createdTimestamp: 2019-05-09T10:52:14.4896347Z
                      currency: USD
                      discountPercentage: 0
                      eaSubscriptionId: null
                      monthlyBandwidthCost: 0
                      monthlyComputeCost: 2588.830584
                      monthlyPremiumStorageCost: 0
                      monthlyStandardSSDStorageCost: 0
                      monthlyStorageCost: 238.016
                      numberOfMachines: 26
                      percentile: Percentile95
                      perfDataEndTime: 2019-05-09T10:52:14.4896347Z
                      perfDataStartTime: 2019-05-08T10:52:14.4896347Z
                      pricesTimestamp: 2019-03-26T11:07:37.139768Z
                      reservedInstance: RI3Year
                      scalingFactor: 1
                      sizingCriterion: PerformanceBased
                      stage: InProgress
                      status: OutDated
                      timeRange: Day
                      updatedTimestamp: 2019-05-09T10:52:14.4896347Z
                      vmUptime:
                        daysPerMonth: 31
                        hoursPerDay: 24
                    type: Microsoft.Migrate/assessmentprojects/groups/assessments
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/assessments/{assessmentName}":
    delete:
      description: |
        Delete an assessment from the project. The machines remain in the assessment. Deleting a non-existent assessment results in a no-operation.

        When an assessment is under computation, as indicated by the 'computationState' field, it cannot be deleted. Any such attempt will return a 400 - Bad Request.
      operationId: Assessments_Delete
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/groupName"
        - $ref: "#/parameters/assessmentName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Deleted the assessment.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
        "204":
          description: No content. No assessment with specified name was found.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Deletes an assessment from the project.
      x-ms-examples:
        Assessments_Delete:
          parameters:
            api-version: 2019-10-01
            assessmentName: assessment_5_9_2019_16_22_14
            groupName: Test1
            projectName: abgoyalWEselfhostb72bproject
            resourceGroupName: abgoyal-westEurope
            subscriptionId: 6393a73f-8d55-47ef-b6dd-179b3e0c7910
          responses:
            "200": {}
            "204": {}
    get:
      description: Get an existing assessment with the specified name. Returns a json object of type 'assessment' as specified in Models section.
      operationId: Assessments_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/groupName"
        - $ref: "#/parameters/assessmentName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns Assessment object.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/Assessment"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Get an assessment.
      x-ms-examples:
        Assessments_Get:
          parameters:
            api-version: 2019-10-01
            assessmentName: assessment_5_9_2019_16_22_14
            groupName: Test1
            projectName: abgoyalWEselfhostb72bproject
            resourceGroupName: abgoyal-westEurope
            subscriptionId: 6393a73f-8d55-47ef-b6dd-179b3e0c7910
          responses:
            "200":
              body:
                eTag: '"21009c31-0000-0d00-0000-5cd585ad0000"'
                id: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/abgoyal-westeurope/providers/Microsoft.Migrate/assessmentprojects/abgoyalWEselfhostb72bproject/groups/Test1/assessments/assessment_5_9_2019_16_22_14
                name: assessment_5_9_2019_16_22_14
                properties:
                  azureDiskType: StandardOrPremium
                  azureHybridUseBenefit: Yes
                  azureLocation: NorthEurope
                  azureOfferCode: MSAZR0003P
                  azurePricingTier: Standard
                  azureStorageRedundancy: LocallyRedundant
                  azureVmFamilies:
                    - Dv2_series
                    - F_series
                    - Dv3_series
                    - DS_series
                    - DSv2_series
                    - Fs_series
                    - Dsv3_series
                    - Ev3_series
                    - Esv3_series
                    - D_series
                    - M_series
                    - Fsv2_series
                    - H_series
                  confidenceRatingInPercentage: 0
                  createdTimestamp: 2019-05-09T10:52:14.4896347Z
                  currency: USD
                  discountPercentage: 0
                  eaSubscriptionId: null
                  monthlyBandwidthCost: 0
                  monthlyComputeCost: 2588.830584
                  monthlyPremiumStorageCost: 0
                  monthlyStandardSSDStorageCost: 0
                  monthlyStorageCost: 238.016
                  numberOfMachines: 26
                  percentile: Percentile95
                  perfDataEndTime: 2019-05-09T10:52:14.4896347Z
                  perfDataStartTime: 2019-05-08T10:52:14.4896347Z
                  pricesTimestamp: 2019-03-26T11:07:37.139768Z
                  reservedInstance: RI3Year
                  scalingFactor: 1
                  sizingCriterion: PerformanceBased
                  stage: InProgress
                  status: OutDated
                  timeRange: Day
                  updatedTimestamp: 2019-05-09T10:52:14.4896347Z
                  vmUptime:
                    daysPerMonth: 31
                    hoursPerDay: 24
                type: Microsoft.Migrate/assessmentprojects/groups/assessments
    put:
      description: |
        Create a new assessment with the given name and the specified settings. Since name of an assessment in a project is a unique identifier, if an assessment with the name provided already exists, then the existing assessment is updated.

        Any PUT operation, resulting in either create or update on an assessment, will cause the assessment to go in a "InProgress" state. This will be indicated by the field 'computationState' on the Assessment object. During this time no other PUT operation will be allowed on that assessment object, nor will a Delete operation. Once the computation for the assessment is complete, the field 'computationState' will be updated to 'Ready', and then other PUT or DELETE operations can happen on the assessment.

        When assessment is under computation, any PUT will lead to a 400 - Bad Request error.
      operationId: Assessments_Create
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/groupName"
        - $ref: "#/parameters/assessmentName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
        - description: New or Updated Assessment object.
          in: body
          name: assessment
          schema:
            $ref: "#/definitions/Assessment"
      responses:
        "200":
          description: OK. Existing assessment updated.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/Assessment"
        "201":
          description: Created. New assessment was created.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/Assessment"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Create or Update assessment.
      x-ms-examples:
        Assessments_Create:
          parameters:
            api-version: 2019-10-01
            assessment:
              eTag: '"1e000c2c-0000-0d00-0000-5cdaa4190000"'
              properties:
                azureDiskType: StandardOrPremium
                azureHybridUseBenefit: Yes
                azureLocation: NorthEurope
                azureOfferCode: MSAZR0003P
                azurePricingTier: Standard
                azureStorageRedundancy: LocallyRedundant
                azureVmFamilies:
                  - Dv2_series
                  - F_series
                  - Dv3_series
                  - DS_series
                  - DSv2_series
                  - Fs_series
                  - Dsv3_series
                  - Ev3_series
                  - Esv3_series
                  - D_series
                  - M_series
                  - Fsv2_series
                  - H_series
                currency: USD
                discountPercentage: 100
                percentile: Percentile95
                reservedInstance: RI3Year
                scalingFactor: 1
                sizingCriterion: PerformanceBased
                stage: InProgress
                timeRange: Day
                vmUptime:
                  daysPerMonth: 31
                  hoursPerDay: 24
            assessmentName: assessment_5_14_2019_16_48_47
            groupName: Group2
            projectName: abgoyalWEselfhostb72bproject
            resourceGroupName: abgoyal-westEurope
            subscriptionId: 6393a73f-8d55-47ef-b6dd-179b3e0c7910
          responses:
            "200":
              body:
                eTag: '"1e000c2c-0000-0d00-0000-5cdaa4190000"'
                id: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/abgoyal-westeurope/providers/Microsoft.Migrate/assessmentprojects/abgoyalWEselfhostb72bproject/groups/Group2/assessments/assessment_5_14_2019_16_48_47
                name: assessment_5_14_2019_16_48_47
                properties:
                  azureDiskType: StandardOrPremium
                  azureHybridUseBenefit: Yes
                  azureLocation: NorthEurope
                  azureOfferCode: MSAZR0003P
                  azurePricingTier: Standard
                  azureStorageRedundancy: LocallyRedundant
                  azureVmFamilies:
                    - Dv2_series
                    - F_series
                    - Dv3_series
                    - DS_series
                    - DSv2_series
                    - Fs_series
                    - Dsv3_series
                    - Ev3_series
                    - Esv3_series
                    - D_series
                    - M_series
                    - Fsv2_series
                    - H_series
                  confidenceRatingInPercentage: 0
                  createdTimestamp: 2019-05-14T11:18:47.7893715Z
                  currency: USD
                  discountPercentage: 0
                  eaSubscriptionId: null
                  monthlyBandwidthCost: 0
                  monthlyComputeCost: 607.443264
                  monthlyPremiumStorageCost: 0
                  monthlyStandardSSDStorageCost: 0
                  monthlyStorageCost: 111.36
                  numberOfMachines: 5
                  percentile: Percentile95
                  perfDataEndTime: 2019-05-14T11:18:47.7893715Z
                  perfDataStartTime: 2019-05-13T11:18:47.7893715Z
                  pricesTimestamp: 2019-03-26T11:07:37.139768Z
                  reservedInstance: RI3Year
                  scalingFactor: 1
                  sizingCriterion: PerformanceBased
                  stage: InProgress
                  status: Completed
                  timeRange: Day
                  updatedTimestamp: 2019-05-14T11:18:47.7893715Z
                  vmUptime:
                    daysPerMonth: 31
                    hoursPerDay: 24
                type: Microsoft.Migrate/assessmentprojects/groups/assessments
            "201":
              body:
                eTag: '"1e000c2c-0000-0d00-0000-5cdaa4190000"'
                id: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/abgoyal-westeurope/providers/Microsoft.Migrate/assessmentprojects/abgoyalWEselfhostb72bproject/groups/Group2/assessments/assessment_5_14_2019_16_48_47
                name: assessment_5_14_2019_16_48_47
                properties:
                  azureDiskType: StandardOrPremium
                  azureHybridUseBenefit: Yes
                  azureLocation: NorthEurope
                  azureOfferCode: MSAZR0003P
                  azurePricingTier: Standard
                  azureStorageRedundancy: LocallyRedundant
                  azureVmFamilies:
                    - Dv2_series
                    - F_series
                    - Dv3_series
                    - DS_series
                    - DSv2_series
                    - Fs_series
                    - Dsv3_series
                    - Ev3_series
                    - Esv3_series
                    - D_series
                    - M_series
                    - Fsv2_series
                    - H_series
                  confidenceRatingInPercentage: 0
                  createdTimestamp: 2019-05-14T11:18:47.7893715Z
                  currency: USD
                  discountPercentage: 0
                  eaSubscriptionId: null
                  monthlyBandwidthCost: 0
                  monthlyComputeCost: 607.443264
                  monthlyPremiumStorageCost: 0
                  monthlyStandardSSDStorageCost: 0
                  monthlyStorageCost: 111.36
                  numberOfMachines: 5
                  percentile: Percentile95
                  perfDataEndTime: 2019-05-14T11:18:47.7893715Z
                  perfDataStartTime: 2019-05-13T11:18:47.7893715Z
                  pricesTimestamp: 2019-03-26T11:07:37.139768Z
                  reservedInstance: RI3Year
                  scalingFactor: 1
                  sizingCriterion: PerformanceBased
                  stage: InProgress
                  status: Completed
                  timeRange: Day
                  updatedTimestamp: 2019-05-14T11:18:47.7893715Z
                  vmUptime:
                    daysPerMonth: 31
                    hoursPerDay: 24
                type: Microsoft.Migrate/assessmentprojects/groups/assessments
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/assessments/{assessmentName}/assessedMachines":
    get:
      description: |
        Get list of machines that assessed as part of the specified assessment. Returns a json array of objects of type 'assessedMachine' as specified in the Models section.

        Whenever an assessment is created or updated, it goes under computation. During this phase, the 'status' field of Assessment object reports 'Computing'.
        During the period when the assessment is under computation, the list of assessed machines is empty and no assessed machines are returned by this call.
      operationId: AssessedMachines_ListByAssessment
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/groupName"
        - $ref: "#/parameters/assessmentName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns list of machines with their assessment data in the assessment.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/AssessedMachineResultList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Get assessed machines for assessment.
      x-ms-examples:
        AssessedMachines_ListByAssessment:
          parameters:
            api-version: 2019-10-01
            assessmentName: assessment_5_9_2019_16_22_14
            groupName: Test1
            projectName: abgoyalWEselfhostb72bproject
            resourceGroupName: abgoyal-westEurope
            subscriptionId: 6393a73f-8d55-47ef-b6dd-179b3e0c7910
          responses:
            "200":
              body:
                nextLink: null
                value:
                  - eTag: '"b300e5dd-0000-0d00-0000-5cd4065f0000"'
                    id: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/abgoyal-westeurope/providers/Microsoft.Migrate/assessmentprojects/abgoyalWEselfhostb72bproject/groups/Test1/assessments/assessment_5_9_2019_16_22_14/assessedMachines/f57fe432-3bd2-486a-a83a-6f4d99f1a952
                    name: f57fe432-3bd2-486a-a83a-6f4d99f1a952
                    properties:
                      bootType: BIOS
                      confidenceRatingInPercentage: 0
                      createdTimestamp: 2019-05-09T10:52:15.7789159Z
                      datacenterMachineArmId: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourcegroups/abgoyal-westeurope/providers/microsoft.offazure/vmwaresites/portalvcenterbc2fsite/machines/idclab-a360-fareast-corp-micros-86617dcf-effe-59ad-8c3a-cdd3ea7300d3_52e1f68c-bea5-19ff-d0ad-6a94b79a286f
                      datacenterManagementServerArmId: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/abgoyal-westEurope/providers/Microsoft.OffAzure/VMwareSites/PortalvCenterbc2fsite/vcenters/idclab-a360-fareast-corp-micros-86617dcf-effe-59ad-8c3a-cdd3ea7300d3
                      datacenterManagementServerName: IDCLAB-A360.fareast.corp.microsoft.com
                      description: Microsoft Azure Migration Image on Windows Server 2016
                      disks:
                        6000C299-02f5-d137-9bab-8a8ee7b192a0:
                          displayName: scsi0:0
                          gigabytesForRecommendedDiskSize: 128
                          gigabytesProvisioned: 80
                          megabytesPerSecondOfRead: 0
                          megabytesPerSecondOfWrite: 0
                          monthlyStorageCost: 5.888
                          name: 6000C299-02f5-d137-9bab-8a8ee7b192a0
                          numberOfReadOperationsPerSecond: 0
                          numberOfWriteOperationsPerSecond: 0
                          recommendedDiskSize: Standard_S10
                          recommendedDiskType: Standard
                          suitability: Suitable
                          suitabilityDetail: NumberOfReadOperationsPerSecondMissing, NumberOfWriteOperationsPerSecondMissing, MegabytesPerSecondOfReadMissing, MegabytesPerSecondOfWriteMissing
                          suitabilityExplanation: NotApplicable
                      displayName: SHubhamVMNew
                      megabytesOfMemory: 16384
                      megabytesOfMemoryForRecommendedSize: 16384
                      monthlyBandwidthCost: 0
                      monthlyComputeCostForRecommendedSize: 101.138616
                      monthlyPremiumStorageCost: 0
                      monthlyStandardSSDStorageCost: 0
                      monthlyStorageCost: 5.888
                      networkAdapters:
                        "4000":
                          displayName: VM Network
                          ipAddresses: []
                          macAddress: 00:0c:29:ad:13:d3
                          megabytesPerSecondReceived: 0
                          megabytesPerSecondTransmitted: 0
                          monthlyBandwidthCosts: 0
                          netGigabytesTransmittedPerMonth: 0
                          suitability: Suitable
                          suitabilityDetail: MegabytesOfDataTransmittedMissing
                          suitabilityExplanation: NotApplicable
                      numberOfCores: 8
                      numberOfCoresForRecommendedSize: 8
                      operatingSystemName: Microsoft Windows Server 2016 (64-bit)
                      operatingSystemType: windowsGuest
                      operatingSystemVersion: null
                      percentageCoresUtilization: 0
                      percentageMemoryUtilization: 0
                      recommendedSize: Standard_F8s_v2
                      suitability: Suitable
                      suitabilityDetail: PercentageOfCoresUtilizedMissing, PercentageOfMemoryUtilizedMissing
                      suitabilityExplanation: NotApplicable
                      updatedTimestamp: 2019-05-09T10:52:15.7789159Z
                    type: Microsoft.Migrate/assessmentprojects/groups/assessments/assessedMachines
                  - eTag: '"b300e6dd-0000-0d00-0000-5cd4065f0000"'
                    id: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/abgoyal-westeurope/providers/Microsoft.Migrate/assessmentprojects/abgoyalWEselfhostb72bproject/groups/Test1/assessments/assessment_5_9_2019_16_22_14/assessedMachines/3b4a34a6-c729-46d2-bfd1-bcb52cc4935e
                    name: 3b4a34a6-c729-46d2-bfd1-bcb52cc4935e
                    properties:
                      bootType: BIOS
                      confidenceRatingInPercentage: 0
                      createdTimestamp: 2019-05-09T10:52:15.7789159Z
                      datacenterMachineArmId: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourcegroups/abgoyal-westeurope/providers/microsoft.offazure/vmwaresites/portalvcenterbc2fsite/machines/idclab-a360-fareast-corp-micros-86617dcf-effe-59ad-8c3a-cdd3ea7300d3_50296915-8b4b-5c82-79a1-adf3966acb6b
                      datacenterManagementServerArmId: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/abgoyal-westEurope/providers/Microsoft.OffAzure/VMwareSites/PortalvCenterbc2fsite/vcenters/idclab-a360-fareast-corp-micros-86617dcf-effe-59ad-8c3a-cdd3ea7300d3
                      datacenterManagementServerName: IDCLAB-A360.fareast.corp.microsoft.com
                      description: Microsoft Azure Migration Image on Windows Server 2016
                      disks:
                        6000C298-8305-5635-e618-3a8675c42495:
                          displayName: scsi0:0
                          gigabytesForRecommendedDiskSize: 128
                          gigabytesProvisioned: 80
                          megabytesPerSecondOfRead: 0
                          megabytesPerSecondOfWrite: 0
                          monthlyStorageCost: 5.888
                          name: 6000C298-8305-5635-e618-3a8675c42495
                          numberOfReadOperationsPerSecond: 0
                          numberOfWriteOperationsPerSecond: 0
                          recommendedDiskSize: Standard_S10
                          recommendedDiskType: Standard
                          suitability: Suitable
                          suitabilityDetail: NumberOfReadOperationsPerSecondMissing, NumberOfWriteOperationsPerSecondMissing, MegabytesPerSecondOfReadMissing, MegabytesPerSecondOfWriteMissing
                          suitabilityExplanation: NotApplicable
                      displayName: testfpl1
                      megabytesOfMemory: 16384
                      megabytesOfMemoryForRecommendedSize: 16384
                      monthlyBandwidthCost: 0
                      monthlyComputeCostForRecommendedSize: 101.138616
                      monthlyPremiumStorageCost: 0
                      monthlyStandardSSDStorageCost: 0
                      monthlyStorageCost: 5.888
                      networkAdapters:
                        "4000":
                          displayName: VM Network
                          ipAddresses: []
                          macAddress: 00:50:56:a9:35:ca
                          megabytesPerSecondReceived: 0
                          megabytesPerSecondTransmitted: 0
                          monthlyBandwidthCosts: 0
                          netGigabytesTransmittedPerMonth: 0
                          suitability: Suitable
                          suitabilityDetail: MegabytesOfDataTransmittedMissing
                          suitabilityExplanation: NotApplicable
                      numberOfCores: 8
                      numberOfCoresForRecommendedSize: 8
                      operatingSystemName: Microsoft Windows Server 2016 (64-bit)
                      operatingSystemType: windowsguest
                      operatingSystemVersion: null
                      percentageCoresUtilization: 0
                      percentageMemoryUtilization: 0
                      recommendedSize: Standard_F8s_v2
                      suitability: Suitable
                      suitabilityDetail: PercentageOfCoresUtilizedMissing, PercentageOfMemoryUtilizedMissing
                      suitabilityExplanation: NotApplicable
                      updatedTimestamp: 2019-05-09T10:52:15.7789159Z
                    type: Microsoft.Migrate/assessmentprojects/groups/assessments/assessedMachines
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/assessments/{assessmentName}/assessedMachines/{assessedMachineName}":
    get:
      description: Get an assessed machine with its size & cost estimate that was evaluated in the specified assessment.
      operationId: AssessedMachines_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/groupName"
        - $ref: "#/parameters/assessmentName"
        - $ref: "#/parameters/assessedMachineName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns a specific assessed machine.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/AssessedMachine"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Get an assessed machine.
      x-ms-examples:
        AssessedMachines_Get:
          parameters:
            api-version: 2019-10-01
            assessedMachineName: f57fe432-3bd2-486a-a83a-6f4d99f1a952
            assessmentName: assessment_5_9_2019_16_22_14
            groupName: Test1
            projectName: abgoyalWEselfhostb72bproject
            resourceGroupName: abgoyal-westEurope
            subscriptionId: 6393a73f-8d55-47ef-b6dd-179b3e0c7910
          responses:
            "200":
              body:
                eTag: '"b300e5dd-0000-0d00-0000-5cd4065f0000"'
                id: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/abgoyal-westeurope/providers/Microsoft.Migrate/assessmentprojects/abgoyalWEselfhostb72bproject/groups/Test1/assessments/assessment_5_9_2019_16_22_14/assessedMachines/f57fe432-3bd2-486a-a83a-6f4d99f1a952
                name: f57fe432-3bd2-486a-a83a-6f4d99f1a952
                properties:
                  bootType: BIOS
                  confidenceRatingInPercentage: 0
                  createdTimestamp: 2019-05-09T10:52:15.7789159Z
                  datacenterMachineArmId: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourcegroups/abgoyal-westeurope/providers/microsoft.offazure/vmwaresites/portalvcenterbc2fsite/machines/idclab-a360-fareast-corp-micros-86617dcf-effe-59ad-8c3a-cdd3ea7300d3_52e1f68c-bea5-19ff-d0ad-6a94b79a286f
                  datacenterManagementServerArmId: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/abgoyal-westEurope/providers/Microsoft.OffAzure/VMwareSites/PortalvCenterbc2fsite/vcenters/idclab-a360-fareast-corp-micros-86617dcf-effe-59ad-8c3a-cdd3ea7300d3
                  datacenterManagementServerName: IDCLAB-A360.fareast.corp.microsoft.com
                  description: Microsoft Azure Migration Image on Windows Server 2016
                  disks:
                    6000C299-02f5-d137-9bab-8a8ee7b192a0:
                      displayName: scsi0:0
                      gigabytesForRecommendedDiskSize: 128
                      gigabytesProvisioned: 80
                      megabytesPerSecondOfRead: 0
                      megabytesPerSecondOfWrite: 0
                      monthlyStorageCost: 5.888
                      name: 6000C299-02f5-d137-9bab-8a8ee7b192a0
                      numberOfReadOperationsPerSecond: 0
                      numberOfWriteOperationsPerSecond: 0
                      recommendedDiskSize: Standard_S10
                      recommendedDiskType: Standard
                      suitability: Suitable
                      suitabilityDetail: NumberOfReadOperationsPerSecondMissing, NumberOfWriteOperationsPerSecondMissing, MegabytesPerSecondOfReadMissing, MegabytesPerSecondOfWriteMissing
                      suitabilityExplanation: NotApplicable
                  displayName: SHubhamVMNew
                  megabytesOfMemory: 16384
                  megabytesOfMemoryForRecommendedSize: 16384
                  monthlyBandwidthCost: 0
                  monthlyComputeCostForRecommendedSize: 101.138616
                  monthlyPremiumStorageCost: 0
                  monthlyStandardSSDStorageCost: 0
                  monthlyStorageCost: 5.888
                  networkAdapters:
                    "4000":
                      displayName: VM Network
                      ipAddresses: []
                      macAddress: 00:0c:29:ad:13:d3
                      megabytesPerSecondReceived: 0
                      megabytesPerSecondTransmitted: 0
                      monthlyBandwidthCosts: 0
                      netGigabytesTransmittedPerMonth: 0
                      suitability: Suitable
                      suitabilityDetail: MegabytesOfDataTransmittedMissing
                      suitabilityExplanation: NotApplicable
                  numberOfCores: 8
                  numberOfCoresForRecommendedSize: 8
                  operatingSystemName: Microsoft Windows Server 2016 (64-bit)
                  operatingSystemType: windowsGuest
                  operatingSystemVersion: null
                  percentageCoresUtilization: 0
                  percentageMemoryUtilization: 0
                  recommendedSize: Standard_F8s_v2
                  suitability: Suitable
                  suitabilityDetail: PercentageOfCoresUtilizedMissing, PercentageOfMemoryUtilizedMissing
                  suitabilityExplanation: NotApplicable
                  updatedTimestamp: 2019-05-09T10:52:15.7789159Z
                type: Microsoft.Migrate/assessmentprojects/groups/assessments/assessedMachines
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/assessments/{assessmentName}/downloadUrl":
    post:
      description: Get the URL for downloading the assessment in a report format.
      operationId: Assessments_GetReportDownloadUrl
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/groupName"
        - $ref: "#/parameters/assessmentName"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/acceptLanguage"
      responses:
        "200":
          description: OK.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/DownloadUrl"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Get download URL for the assessment report.
      x-ms-examples:
        Assessments_GetReportDownloadUrl:
          parameters:
            api-version: 2019-10-01
            assessmentName: assessment_5_9_2019_16_22_14
            groupName: Test1
            projectName: abgoyalWEselfhostb72bproject
            resourceGroupName: abgoyal-westEurope
            subscriptionId: 6393a73f-8d55-47ef-b6dd-179b3e0c7910
          responses:
            "200":
              body:
                assessmentReportUrl: link-to-download-assessment-report
                expirationTime: 2019-09-05T13:17:23.5437337Z
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/updateMachines":
    post:
      description: Update machines in group by adding or removing machines.
      operationId: Groups_UpdateMachines
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/groupName"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/acceptLanguage"
        - description: Machines list to be added or removed from group.
          in: body
          name: groupUpdateProperties
          schema:
            $ref: "#/definitions/UpdateGroupBody"
      responses:
        "200":
          description: OK. Existing group updated.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/Group"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Update machines in group.
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/hypervcollectors":
    get:
      description: Get a list of Hyper-V collector.
      operationId: HyperVCollectors_ListByProject
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns list of Hyper-V collectors.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/HyperVCollectorList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Get a list of Hyper-V collector.
      x-ms-examples:
        HyperVCollectors_ListByProject:
          parameters:
            api-version: 2019-10-01
            projectName: migrateprojectce73project
            resourceGroupName: contosoithyperv
            subscriptionId: 8c3c936a-c09b-4de3-830b-3f5f244d72e9
          responses:
            "200":
              body:
                value:
                  - eTag: '"00000981-0000-0300-0000-5d74cd5f0000"'
                    id: /subscriptions/8c3c936a-c09b-4de3-830b-3f5f244d72e9/resourceGroups/contosoithyperv/providers/Microsoft.Migrate/assessmentprojects/migrateprojectce73project/hypervcollectors/migrateprojectce73collector
                    name: migrateprojectce73collector
                    properties:
                      agentProperties:
                        id: d86c7d5a-2103-5157-bb20-9026b75e5de8
                        lastHeartbeatUtc: 2019-09-08T09:43:59.0573145Z
                        spnDetails:
                          applicationId: 827f1053-44dc-439f-b832-05416dcce12b
                          audience: https://72f988bf-86f1-41af-91ab-2d7cd011db47/migrateprojectce73agentauthaadapp
                          authority: https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47
                          objectId: be75098e-c0fc-4ac4-98c7-282ebbcf8370
                          tenantId: 72f988bf-86f1-41af-91ab-2d7cd011db47
                        version: 1.0.8.218
                      createdTimestamp: 2019-04-10T10:22:51.6271816Z
                      discoverySiteId: /subscriptions/8c3c936a-c09b-4de3-830b-3f5f244d72e9/resourceGroups/ContosoITHyperV/providers/Microsoft.OffAzure/HyperVSites/migrateprojectce73site
                      updatedTimestamp: 2019-09-08T09:43:59.0573145Z
                    type: Microsoft.Migrate/assessmentprojects/hypervcollectors
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/hypervcollectors/{hyperVCollectorName}":
    delete:
      description: Delete a Hyper-V collector from the project.
      operationId: HyperVCollectors_Delete
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/hyperVCollectorName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Deleted the Hyper-V collector.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
        "204":
          description: No content. No Hyper-V collector with specified name was found.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Deletes Hyper-V collector from the project.
      x-ms-examples:
        HyperVCollectors_Delete:
          parameters:
            api-version: 2019-10-01
            hyperVCollectorName: migrateprojectce73collector
            projectName: migrateprojectce73project
            resourceGroupName: contosoithyperv
            subscriptionId: 8c3c936a-c09b-4de3-830b-3f5f244d72e9
          responses:
            "200": {}
            "204": {}
    get:
      description: Get a Hyper-V collector.
      operationId: HyperVCollectors_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/hyperVCollectorName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns the specific Hyper-V collector.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/HyperVCollector"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Get a Hyper-V collector.
      x-ms-examples:
        HyperVCollectors_Get:
          parameters:
            api-version: 2019-10-01
            hyperVCollectorName: migrateprojectce73collector
            projectName: migrateprojectce73project
            resourceGroupName: contosoithyperv
            subscriptionId: 8c3c936a-c09b-4de3-830b-3f5f244d72e9
          responses:
            "200":
              body:
                eTag: '"00000981-0000-0300-0000-5d74cd5f0000"'
                id: /subscriptions/8c3c936a-c09b-4de3-830b-3f5f244d72e9/resourceGroups/contosoithyperv/providers/Microsoft.Migrate/assessmentprojects/migrateprojectce73project/hypervcollectors/migrateprojectce73collector
                name: migrateprojectce73collector
                properties:
                  agentProperties:
                    id: d86c7d5a-2103-5157-bb20-9026b75e5de8
                    lastHeartbeatUtc: 2019-09-08T09:43:59.0573145Z
                    spnDetails:
                      applicationId: 827f1053-44dc-439f-b832-05416dcce12b
                      audience: https://72f988bf-86f1-41af-91ab-2d7cd011db47/migrateprojectce73agentauthaadapp
                      authority: https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47
                      objectId: be75098e-c0fc-4ac4-98c7-282ebbcf8370
                      tenantId: 72f988bf-86f1-41af-91ab-2d7cd011db47
                    version: 1.0.8.218
                  createdTimestamp: 2019-04-10T10:22:51.6271816Z
                  discoverySiteId: /subscriptions/8c3c936a-c09b-4de3-830b-3f5f244d72e9/resourceGroups/ContosoITHyperV/providers/Microsoft.OffAzure/HyperVSites/migrateprojectce73site
                  updatedTimestamp: 2019-09-08T09:43:59.0573145Z
                type: Microsoft.Migrate/assessmentprojects/hypervcollectors
    put:
      description: Create or Update Hyper-V collector
      operationId: HyperVCollectors_Create
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/hyperVCollectorName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
        - description: New or Updated Hyper-V collector.
          in: body
          name: collectorBody
          schema:
            $ref: "#/definitions/HyperVCollector"
      responses:
        "200":
          description: OK. Existing Hyper-V collector.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/HyperVCollector"
        "201":
          description: Created. New Hyper-V collector was created.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/HyperVCollector"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Create or Update Hyper-V collector.
      x-ms-examples:
        HyperVCollectors_Create:
          parameters:
            api-version: 2019-10-01
            collectorBody:
              eTag: '"00000981-0000-0300-0000-5d74cd5f0000"'
              properties:
                agentProperties:
                  spnDetails:
                    applicationId: 827f1053-44dc-439f-b832-05416dcce12b
                    audience: https://72f988bf-86f1-41af-91ab-2d7cd011db47/migrateprojectce73agentauthaadapp
                    authority: https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47
                    objectId: be75098e-c0fc-4ac4-98c7-282ebbcf8370
                    tenantId: 72f988bf-86f1-41af-91ab-2d7cd011db47
                discoverySiteId: /subscriptions/8c3c936a-c09b-4de3-830b-3f5f244d72e9/resourceGroups/ContosoITHyperV/providers/Microsoft.OffAzure/HyperVSites/migrateprojectce73site
            hyperVCollectorName: migrateprojectce73collector
            projectName: migrateprojectce73project
            resourceGroupName: contosoithyperv
            subscriptionId: 8c3c936a-c09b-4de3-830b-3f5f244d72e9
          responses:
            "200":
              body:
                eTag: '"00000981-0000-0300-0000-5d74cd5f0000"'
                id: /subscriptions/8c3c936a-c09b-4de3-830b-3f5f244d72e9/resourceGroups/contosoithyperv/providers/Microsoft.Migrate/assessmentprojects/migrateprojectce73project/hypervcollectors/migrateprojectce73collector
                name: migrateprojectce73collector
                properties:
                  agentProperties:
                    id: d86c7d5a-2103-5157-bb20-9026b75e5de8
                    lastHeartbeatUtc: 2019-09-08T09:43:59.0573145Z
                    spnDetails:
                      applicationId: 827f1053-44dc-439f-b832-05416dcce12b
                      audience: https://72f988bf-86f1-41af-91ab-2d7cd011db47/migrateprojectce73agentauthaadapp
                      authority: https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47
                      objectId: be75098e-c0fc-4ac4-98c7-282ebbcf8370
                      tenantId: 72f988bf-86f1-41af-91ab-2d7cd011db47
                    version: 1.0.8.218
                  createdTimestamp: 2019-04-10T10:22:51.6271816Z
                  discoverySiteId: /subscriptions/8c3c936a-c09b-4de3-830b-3f5f244d72e9/resourceGroups/ContosoITHyperV/providers/Microsoft.OffAzure/HyperVSites/migrateprojectce73site
                  updatedTimestamp: 2019-09-08T09:43:59.0573145Z
                type: Microsoft.Migrate/assessmentprojects/hypervcollectors
            "201":
              body:
                eTag: '"00000981-0000-0300-0000-5d74cd5f0000"'
                id: /subscriptions/8c3c936a-c09b-4de3-830b-3f5f244d72e9/resourceGroups/contosoithyperv/providers/Microsoft.Migrate/assessmentprojects/migrateprojectce73project/hypervcollectors/migrateprojectce73collector
                name: migrateprojectce73collector
                properties:
                  agentProperties:
                    id: d86c7d5a-2103-5157-bb20-9026b75e5de8
                    lastHeartbeatUtc: 2019-09-08T09:43:59.0573145Z
                    spnDetails:
                      applicationId: 827f1053-44dc-439f-b832-05416dcce12b
                      audience: https://72f988bf-86f1-41af-91ab-2d7cd011db47/migrateprojectce73agentauthaadapp
                      authority: https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47
                      objectId: be75098e-c0fc-4ac4-98c7-282ebbcf8370
                      tenantId: 72f988bf-86f1-41af-91ab-2d7cd011db47
                    version: 1.0.8.218
                  createdTimestamp: 2019-04-10T10:22:51.6271816Z
                  discoverySiteId: /subscriptions/8c3c936a-c09b-4de3-830b-3f5f244d72e9/resourceGroups/ContosoITHyperV/providers/Microsoft.OffAzure/HyperVSites/migrateprojectce73site
                  updatedTimestamp: 2019-09-08T09:43:59.0573145Z
                type: Microsoft.Migrate/assessmentprojects/hypervcollectors
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/machines":
    get:
      description: Get data of all the machines available in the project. Returns a json array of objects of type 'machine' defined in Models section.
      operationId: Machines_ListByProject
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns list of all machine objects.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/MachineResultList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Get all machines in the project
      x-ms-examples:
        Machines_ListByProject:
          parameters:
            api-version: 2019-10-01
            projectName: abgoyalWEselfhostb72bproject
            resourceGroupName: abgoyal-westEurope
            subscriptionId: 6393a73f-8d55-47ef-b6dd-179b3e0c7910
          responses:
            "200":
              body:
                value:
                  - eTag: '"04006052-0000-0d00-0000-5cd4065a0000"'
                    id: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/abgoyal-westeurope/providers/Microsoft.Migrate/assessmentprojects/abgoyalWEselfhostb72bproject/machines/269ef295-a38d-4f8f-9779-77ce79088311
                    name: 269ef295-a38d-4f8f-9779-77ce79088311
                    properties:
                      bootType: BIOS
                      createdTimestamp: 2019-05-09T09:58:22.1734149Z
                      datacenterManagementServerArmId: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/abgoyal-westEurope/providers/Microsoft.OffAzure/VMwareSites/PortalvCenterbc2fsite/vcenters/idclab-a360-fareast-corp-micros-86617dcf-effe-59ad-8c3a-cdd3ea7300d3
                      datacenterManagementServerName: IDCLAB-A360.fareast.corp.microsoft.com
                      description: Microsoft Azure Migration Image on Windows Server 2016
                      discoveryMachineArmId: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourcegroups/abgoyal-westeurope/providers/microsoft.offazure/vmwaresites/portalvcenterbc2fsite/machines/idclab-a360-fareast-corp-micros-86617dcf-effe-59ad-8c3a-cdd3ea7300d3_52bd4eeb-faf4-7d95-4dd5-5524350ce2bb
                      disks:
                        6000C29f-9065-8fe0-ab83-7e58ff6ba442:
                          displayName: scsi0:0
                          gigabytesAllocated: 80
                      displayName: ShubhamFirstAndThird
                      groups:
                        - /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/abgoyal-westeurope/providers/Microsoft.Migrate/assessmentprojects/abgoyalWEselfhostb72bproject/groups/test1
                      megabytesOfMemory: 16384
                      networkAdapters:
                        "4000":
                          displayName: VM Network
                          ipAddresses: []
                          macAddress: 00:0c:29:ac:e3:6d
                      numberOfCores: 8
                      operatingSystemName: Microsoft Windows Server 2016 (64-bit)
                      operatingSystemType: windowsGuest
                      operatingSystemVersion: null
                      updatedTimestamp: 2019-05-09T09:58:22.2990529Z
                    type: Microsoft.Migrate/assessmentprojects/machines
                  - eTag: '"04005652-0000-0d00-0000-5cd4065a0000"'
                    id: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/abgoyal-westeurope/providers/Microsoft.Migrate/assessmentprojects/abgoyalWEselfhostb72bproject/machines/3ad6c8b7-08d6-45dc-87f5-cd533501f553
                    name: 3ad6c8b7-08d6-45dc-87f5-cd533501f553
                    properties:
                      bootType: BIOS
                      createdTimestamp: 2019-05-09T09:58:22.1734149Z
                      datacenterManagementServerArmId: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/abgoyal-westEurope/providers/Microsoft.OffAzure/VMwareSites/PortalvCenterbc2fsite/vcenters/idclab-a360-fareast-corp-micros-86617dcf-effe-59ad-8c3a-cdd3ea7300d3
                      datacenterManagementServerName: IDCLAB-A360.fareast.corp.microsoft.com
                      description: Microsoft Azure Migration Image on Windows Server 2016
                      discoveryMachineArmId: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourcegroups/abgoyal-westeurope/providers/microsoft.offazure/vmwaresites/portalvcenterbc2fsite/machines/idclab-a360-fareast-corp-micros-86617dcf-effe-59ad-8c3a-cdd3ea7300d3_52e5be9c-2758-a483-c252-eeef7919095c
                      disks:
                        6000C296-54c9-e29c-51be-125e76850958:
                          displayName: scsi0:0
                          gigabytesAllocated: 80
                      displayName: shsinglaVM5
                      groups:
                        - /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/abgoyal-westeurope/providers/Microsoft.Migrate/assessmentprojects/abgoyalWEselfhostb72bproject/groups/test1
                      megabytesOfMemory: 16384
                      networkAdapters:
                        "4000":
                          displayName: VM Network
                          ipAddresses: []
                          macAddress: 00:0c:29:1f:ac:0a
                      numberOfCores: 8
                      operatingSystemName: Microsoft Windows Server 2016 (64-bit)
                      operatingSystemType: windowsGuest
                      operatingSystemVersion: null
                      updatedTimestamp: 2019-05-09T09:58:22.3142054Z
                    type: Microsoft.Migrate/assessmentprojects/machines
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/machines/{machineName}":
    get:
      description: Get the machine with the specified name. Returns a json object of type 'machine' defined in Models section.
      operationId: Machines_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/projectName"
        - $ref: "#/parameters/machineName"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns the machine with the specified name.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/Machine"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Get a specific machine.
      x-ms-examples:
        Machines_Get:
          parameters:
            api-version: 2019-10-01
            machineName: 269ef295-a38d-4f8f-9779-77ce79088311
            projectName: abgoyalWEselfhostb72bproject
            resourceGroupName: abgoyal-westEurope
            subscriptionId: 6393a73f-8d55-47ef-b6dd-179b3e0c7910
          responses:
            "200":
              body:
                eTag: '"04006052-0000-0d00-0000-5cd4065a0000"'
                id: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/abgoyal-westeurope/providers/Microsoft.Migrate/assessmentprojects/abgoyalWEselfhostb72bproject/machines/269ef295-a38d-4f8f-9779-77ce79088311
                name: 269ef295-a38d-4f8f-9779-77ce79088311
                properties:
                  bootType: BIOS
                  createdTimestamp: 2019-05-09T09:58:22.1734149Z
                  datacenterManagementServerArmId: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/abgoyal-westEurope/providers/Microsoft.OffAzure/VMwareSites/PortalvCenterbc2fsite/vcenters/idclab-a360-fareast-corp-micros-86617dcf-effe-59ad-8c3a-cdd3ea7300d3
                  datacenterManagementServerName: IDCLAB-A360.fareast.corp.microsoft.com
                  description: Microsoft Azure Migration Image on Windows Server 2016
                  discoveryMachineArmId: /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourcegroups/abgoyal-westeurope/providers/microsoft.offazure/vmwaresites/portalvcenterbc2fsite/machines/idclab-a360-fareast-corp-micros-86617dcf-effe-59ad-8c3a-cdd3ea7300d3_52bd4eeb-faf4-7d95-4dd5-5524350ce2bb
                  disks:
                    6000C29f-9065-8fe0-ab83-7e58ff6ba442:
                      displayName: scsi0:0
                      gigabytesAllocated: 80
                  displayName: ShubhamFirstAndThird
                  groups:
                    - /subscriptions/6393a73f-8d55-47ef-b6dd-179b3e0c7910/resourceGroups/abgoyal-westeurope/providers/Microsoft.Migrate/assessmentprojects/abgoyalWEselfhostb72bproject/groups/test1
                  megabytesOfMemory: 16384
                  networkAdapters:
                    "4000":
                      displayName: VM Network
                      ipAddresses: []
                      macAddress: 00:0c:29:ac:e3:6d
                  numberOfCores: 8
                  operatingSystemName: Microsoft Windows Server 2016 (64-bit)
                  operatingSystemType: windowsGuest
                  operatingSystemVersion: null
                  updatedTimestamp: 2019-05-09T09:58:22.2990529Z
                type: Microsoft.Migrate/assessmentprojects/machines
[...]
