openapi: 3.0.0
info:
  version: 2010-06-01
  x-release: v2
  title: AWS Import/Export
  description: <fullname>AWS Import/Export Service</fullname> AWS Import/Export accelerates transferring large amounts of data between the AWS cloud and portable storage devices that you mail to us. AWS Import/Export transfers data directly onto and off of your storage devices using Amazon's high-speed internal network and bypassing the Internet. For large data sets, AWS Import/Export is often faster than Internet transfer and more cost effective than upgrading your connectivity.
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.png
    backgroundColor: "#FFFFFF"
  termsOfService: https://aws.amazon.com/service-terms/
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: https://github.com/mermade/aws2openapi
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: http://www.apache.org/licenses/
  x-providerName: amazonaws.com
  x-serviceName: importexport
  x-origin:
    - contentType: application/json
      url: https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/importexport-2010-06-01.normal.json
      converter:
        url: https://github.com/mermade/aws2openapi
        version: 1.0.0
      x-apisguru-driver: external
  x-apiClientRegistration:
    url: https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: https://docs.aws.amazon.com/importexport/
servers:
  - url: http://importexport.amazonaws.com
    variables: {}
    description: The general AWS Import/Export multi-region endpoint
  - url: https://importexport.amazonaws.com
    variables: {}
    description: The general AWS Import/Export multi-region endpoint
  - url: http://importexport.{region}.amazonaws.com.cn
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWS Import/Export endpoint for China (Beijing) and China (Ningxia)
  - url: https://importexport.{region}.amazonaws.com.cn
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWS Import/Export endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
paths:
  /#Operation=CancelJob&Action=CancelJob:
    get:
      x-aws-operation-name: CancelJob
      operationId: GET_CancelJob
      description: This operation cancels a specified job. Only the job owner can cancel it. The operation fails if the job has already started or is complete.
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CancelJobOutput"
        "480":
          description: InvalidJobIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidJobIdException"
        "481":
          description: ExpiredJobIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ExpiredJobIdException"
        "482":
          description: CanceledJobIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CanceledJobIdException"
        "483":
          description: UnableToCancelJobIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/UnableToCancelJobIdException"
        "484":
          description: InvalidAccessKeyIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidAccessKeyIdException"
        "485":
          description: InvalidVersionException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidVersionException"
      parameters:
        - name: JobId
          in: query
          required: true
          description: ""
          schema:
            type: string
            description: A unique identifier which refers to a particular job.
        - name: APIVersion
          in: query
          required: false
          description: ""
          schema:
            type: string
            description: Specifies the version of the client tool.
        - name: Operation
          in: query
          required: true
          schema:
            type: string
            enum:
              - CancelJob
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - CancelJob
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-06-01
    parameters:
      - $ref: "#/components/parameters/AWSAccessKeyId"
      - $ref: "#/components/parameters/Action"
      - $ref: "#/components/parameters/SignatureMethod"
      - $ref: "#/components/parameters/SignatureVersion"
      - $ref: "#/components/parameters/Timestamp"
      - $ref: "#/components/parameters/Version"
      - $ref: "#/components/parameters/Signature"
    post:
      x-aws-operation-name: CancelJob
      operationId: POST_CancelJob
      description: This operation cancels a specified job. Only the job owner can cancel it. The operation fails if the job has already started or is complete.
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CancelJobOutput"
        "480":
          description: InvalidJobIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidJobIdException"
        "481":
          description: ExpiredJobIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ExpiredJobIdException"
        "482":
          description: CanceledJobIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CanceledJobIdException"
        "483":
          description: UnableToCancelJobIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/UnableToCancelJobIdException"
        "484":
          description: InvalidAccessKeyIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidAccessKeyIdException"
        "485":
          description: InvalidVersionException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidVersionException"
      requestBody:
        content:
          text/xml:
            schema:
              $ref: "#/components/schemas/CancelJobInput"
      parameters:
        - name: Operation
          in: query
          required: true
          schema:
            type: string
            enum:
              - CancelJob
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - CancelJob
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-06-01
  /#Operation=CreateJob&Action=CreateJob:
    get:
      x-aws-operation-name: CreateJob
      operationId: GET_CreateJob
      description: This operation initiates the process of scheduling an upload or download of your data. You include in the request a manifest that describes the data transfer specifics. The response to the request includes a job ID, which you can use in other operations, a signature that you use to identify your storage device, and the address where you should ship your storage device.
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CreateJobOutput"
        "480":
          description: MissingParameterException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/MissingParameterException"
        "481":
          description: InvalidParameterException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidParameterException"
        "482":
          description: InvalidAccessKeyIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidAccessKeyIdException"
        "483":
          description: InvalidAddressException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidAddressException"
        "484":
          description: InvalidManifestFieldException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidManifestFieldException"
        "485":
          description: MissingManifestFieldException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/MissingManifestFieldException"
        "486":
          description: NoSuchBucketException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchBucketException"
        "487":
          description: MissingCustomsException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/MissingCustomsException"
        "488":
          description: InvalidCustomsException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidCustomsException"
        "489":
          description: InvalidFileSystemException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidFileSystemException"
        "490":
          description: MultipleRegionsException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/MultipleRegionsException"
        "491":
          description: BucketPermissionException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/BucketPermissionException"
        "492":
          description: MalformedManifestException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/MalformedManifestException"
        "493":
          description: CreateJobQuotaExceededException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CreateJobQuotaExceededException"
        "494":
          description: InvalidJobIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidJobIdException"
        "495":
          description: InvalidVersionException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidVersionException"
      parameters:
        - name: JobType
          in: query
          required: true
          description: ""
          schema:
            type: string
            enum:
              - Import
              - Export
            description: Specifies whether the job to initiate is an import or export job.
        - name: Manifest
          in: query
          required: true
          description: ""
          schema:
            type: string
            description: The UTF-8 encoded text of the manifest file.
        - name: ManifestAddendum
          in: query
          required: false
          description: ""
          schema:
            type: string
            description: For internal use only.
        - name: ValidateOnly
          in: query
          required: true
          description: ""
          schema:
            type: boolean
            description: Validate the manifest and parameter values in the request but do not actually create a job.
        - name: APIVersion
          in: query
          required: false
          description: ""
          schema:
            type: string
            description: Specifies the version of the client tool.
        - name: Operation
          in: query
          required: true
          schema:
            type: string
            enum:
              - CreateJob
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - CreateJob
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-06-01
    parameters:
      - $ref: "#/components/parameters/AWSAccessKeyId"
      - $ref: "#/components/parameters/Action"
      - $ref: "#/components/parameters/SignatureMethod"
      - $ref: "#/components/parameters/SignatureVersion"
      - $ref: "#/components/parameters/Timestamp"
      - $ref: "#/components/parameters/Version"
      - $ref: "#/components/parameters/Signature"
    post:
      x-aws-operation-name: CreateJob
      operationId: POST_CreateJob
      description: This operation initiates the process of scheduling an upload or download of your data. You include in the request a manifest that describes the data transfer specifics. The response to the request includes a job ID, which you can use in other operations, a signature that you use to identify your storage device, and the address where you should ship your storage device.
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CreateJobOutput"
        "480":
          description: MissingParameterException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/MissingParameterException"
        "481":
          description: InvalidParameterException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidParameterException"
        "482":
          description: InvalidAccessKeyIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidAccessKeyIdException"
        "483":
          description: InvalidAddressException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidAddressException"
        "484":
          description: InvalidManifestFieldException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidManifestFieldException"
        "485":
          description: MissingManifestFieldException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/MissingManifestFieldException"
        "486":
          description: NoSuchBucketException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchBucketException"
        "487":
          description: MissingCustomsException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/MissingCustomsException"
        "488":
          description: InvalidCustomsException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidCustomsException"
        "489":
          description: InvalidFileSystemException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidFileSystemException"
        "490":
          description: MultipleRegionsException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/MultipleRegionsException"
        "491":
          description: BucketPermissionException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/BucketPermissionException"
        "492":
          description: MalformedManifestException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/MalformedManifestException"
        "493":
          description: CreateJobQuotaExceededException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CreateJobQuotaExceededException"
        "494":
          description: InvalidJobIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidJobIdException"
        "495":
          description: InvalidVersionException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidVersionException"
      requestBody:
        content:
          text/xml:
            schema:
              $ref: "#/components/schemas/CreateJobInput"
      parameters:
        - name: Operation
          in: query
          required: true
          schema:
            type: string
            enum:
              - CreateJob
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - CreateJob
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-06-01
  /#Operation=GetShippingLabel&Action=GetShippingLabel:
    get:
      x-aws-operation-name: GetShippingLabel
      operationId: GET_GetShippingLabel
      description: This operation generates a pre-paid UPS shipping label that you will use to ship your device to AWS for processing.
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/GetShippingLabelOutput"
        "480":
          description: InvalidJobIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidJobIdException"
        "481":
          description: ExpiredJobIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ExpiredJobIdException"
        "482":
          description: CanceledJobIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CanceledJobIdException"
        "483":
          description: InvalidAccessKeyIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidAccessKeyIdException"
        "484":
          description: InvalidAddressException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidAddressException"
        "485":
          description: InvalidVersionException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidVersionException"
        "486":
          description: InvalidParameterException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidParameterException"
      parameters:
        - name: jobIds
          in: query
          required: true
          description: ""
          schema:
            type: array
            items:
              $ref: "#/components/schemas/GenericString"
        - name: name
          in: query
          required: false
          description: ""
          schema:
            type: string
            description: Specifies the name of the person responsible for shipping this package.
        - name: company
          in: query
          required: false
          description: ""
          schema:
            type: string
            description: Specifies the name of the company that will ship this package.
        - name: phoneNumber
          in: query
          required: false
          description: ""
          schema:
            type: string
            description: Specifies the phone number of the person responsible for shipping this package.
        - name: country
          in: query
          required: false
          description: ""
          schema:
            type: string
            description: Specifies the name of your country for the return address.
        - name: stateOrProvince
          in: query
          required: false
          description: ""
          schema:
            type: string
            description: Specifies the name of your state or your province for the return address.
        - name: city
          in: query
          required: false
          description: ""
          schema:
            type: string
            description: Specifies the name of your city for the return address.
        - name: postalCode
          in: query
          required: false
          description: ""
          schema:
            type: string
            description: Specifies the postal code for the return address.
        - name: street1
          in: query
          required: false
          description: ""
          schema:
            type: string
            description: Specifies the first part of the street address for the return address, for example 1234 Main Street.
        - name: street2
          in: query
          required: false
          description: ""
          schema:
            type: string
            description: Specifies the optional second part of the street address for the return address, for example Suite 100.
        - name: street3
          in: query
          required: false
          description: ""
          schema:
            type: string
            description: Specifies the optional third part of the street address for the return address, for example c/o Jane Doe.
        - name: APIVersion
          in: query
          required: false
          description: ""
          schema:
            type: string
            description: Specifies the version of the client tool.
        - name: Operation
          in: query
          required: true
          schema:
            type: string
            enum:
              - GetShippingLabel
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - GetShippingLabel
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-06-01
    parameters:
      - $ref: "#/components/parameters/AWSAccessKeyId"
      - $ref: "#/components/parameters/Action"
      - $ref: "#/components/parameters/SignatureMethod"
      - $ref: "#/components/parameters/SignatureVersion"
      - $ref: "#/components/parameters/Timestamp"
      - $ref: "#/components/parameters/Version"
      - $ref: "#/components/parameters/Signature"
    post:
      x-aws-operation-name: GetShippingLabel
      operationId: POST_GetShippingLabel
      description: This operation generates a pre-paid UPS shipping label that you will use to ship your device to AWS for processing.
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/GetShippingLabelOutput"
        "480":
          description: InvalidJobIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidJobIdException"
        "481":
          description: ExpiredJobIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ExpiredJobIdException"
        "482":
          description: CanceledJobIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CanceledJobIdException"
        "483":
          description: InvalidAccessKeyIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidAccessKeyIdException"
        "484":
          description: InvalidAddressException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidAddressException"
        "485":
          description: InvalidVersionException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidVersionException"
        "486":
          description: InvalidParameterException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidParameterException"
      requestBody:
        content:
          text/xml:
            schema:
              $ref: "#/components/schemas/GetShippingLabelInput"
      parameters:
        - name: Operation
          in: query
          required: true
          schema:
            type: string
            enum:
              - GetShippingLabel
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - GetShippingLabel
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-06-01
  /#Operation=GetStatus&Action=GetStatus:
    get:
      x-aws-operation-name: GetStatus
      operationId: GET_GetStatus
      description: This operation returns information about a job, including where the job is in the processing pipeline, the status of the results, and the signature value associated with the job. You can only return information about jobs you own.
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/GetStatusOutput"
        "480":
          description: InvalidJobIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidJobIdException"
        "481":
          description: ExpiredJobIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ExpiredJobIdException"
        "482":
          description: CanceledJobIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CanceledJobIdException"
        "483":
          description: InvalidAccessKeyIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidAccessKeyIdException"
        "484":
          description: InvalidVersionException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidVersionException"
      parameters:
        - name: JobId
          in: query
          required: true
          description: ""
          schema:
            type: string
            description: A unique identifier which refers to a particular job.
        - name: APIVersion
          in: query
          required: false
          description: ""
          schema:
            type: string
            description: Specifies the version of the client tool.
        - name: Operation
          in: query
          required: true
          schema:
            type: string
            enum:
              - GetStatus
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - GetStatus
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-06-01
    parameters:
      - $ref: "#/components/parameters/AWSAccessKeyId"
      - $ref: "#/components/parameters/Action"
      - $ref: "#/components/parameters/SignatureMethod"
      - $ref: "#/components/parameters/SignatureVersion"
      - $ref: "#/components/parameters/Timestamp"
      - $ref: "#/components/parameters/Version"
      - $ref: "#/components/parameters/Signature"
    post:
      x-aws-operation-name: GetStatus
      operationId: POST_GetStatus
      description: This operation returns information about a job, including where the job is in the processing pipeline, the status of the results, and the signature value associated with the job. You can only return information about jobs you own.
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/GetStatusOutput"
        "480":
          description: InvalidJobIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidJobIdException"
        "481":
          description: ExpiredJobIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ExpiredJobIdException"
        "482":
          description: CanceledJobIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CanceledJobIdException"
        "483":
          description: InvalidAccessKeyIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidAccessKeyIdException"
        "484":
          description: InvalidVersionException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidVersionException"
      requestBody:
        content:
          text/xml:
            schema:
              $ref: "#/components/schemas/GetStatusInput"
      parameters:
        - name: Operation
          in: query
          required: true
          schema:
            type: string
            enum:
              - GetStatus
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - GetStatus
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-06-01
  /#Operation=ListJobs&Action=ListJobs:
    get:
      x-aws-operation-name: ListJobs
      operationId: GET_ListJobs
      description: This operation returns the jobs associated with the requester. AWS Import/Export lists the jobs in reverse chronological order based on the date of creation. For example if Job Test1 was created 2009Dec30 and Test2 was created 2010Feb05, the ListJobs operation would return Test2 followed by Test1.
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ListJobsOutput"
        "480":
          description: InvalidParameterException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidParameterException"
        "481":
          description: InvalidAccessKeyIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidAccessKeyIdException"
        "482":
          description: InvalidVersionException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidVersionException"
      parameters:
        - name: MaxJobs
          in: query
          required: false
          description: ""
          schema:
            type: integer
            description: Sets the maximum number of jobs returned in the response. If there are additional jobs that were not returned because MaxJobs was exceeded, the response contains &lt;IsTruncated&gt;true&lt;/IsTruncated&gt;. To return the additional jobs, see Marker.
        - name: Marker
          in: query
          required: false
          description: ""
          schema:
            type: string
            description: Specifies the JOBID to start after when listing the jobs created with your account. AWS Import/Export lists your jobs in reverse chronological order. See MaxJobs.
        - name: APIVersion
          in: query
          required: false
          description: ""
          schema:
            type: string
            description: Specifies the version of the client tool.
        - name: Operation
          in: query
          required: true
          schema:
            type: string
            enum:
              - ListJobs
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - ListJobs
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-06-01
    parameters:
      - $ref: "#/components/parameters/AWSAccessKeyId"
      - $ref: "#/components/parameters/Action"
      - $ref: "#/components/parameters/SignatureMethod"
      - $ref: "#/components/parameters/SignatureVersion"
      - $ref: "#/components/parameters/Timestamp"
      - $ref: "#/components/parameters/Version"
      - $ref: "#/components/parameters/Signature"
    post:
      x-aws-operation-name: ListJobs
      operationId: POST_ListJobs
      description: This operation returns the jobs associated with the requester. AWS Import/Export lists the jobs in reverse chronological order based on the date of creation. For example if Job Test1 was created 2009Dec30 and Test2 was created 2010Feb05, the ListJobs operation would return Test2 followed by Test1.
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ListJobsOutput"
        "480":
          description: InvalidParameterException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidParameterException"
        "481":
          description: InvalidAccessKeyIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidAccessKeyIdException"
        "482":
          description: InvalidVersionException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidVersionException"
      requestBody:
        content:
          text/xml:
            schema:
              $ref: "#/components/schemas/ListJobsInput"
      parameters:
        - name: MaxJobs
          in: query
          schema:
            type: string
          description: Pagination limit
          required: false
        - name: Marker
          in: query
          schema:
            type: string
          description: Pagination token
          required: false
        - name: Operation
          in: query
          required: true
          schema:
            type: string
            enum:
              - ListJobs
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - ListJobs
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-06-01
  /#Operation=UpdateJob&Action=UpdateJob:
    get:
      x-aws-operation-name: UpdateJob
      operationId: GET_UpdateJob
      description: You use this operation to change the parameters specified in the original manifest file by supplying a new manifest file. The manifest file attached to this request replaces the original manifest file. You can only use the operation after a CreateJob request but before the data transfer starts and you can only use it on jobs you own.
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/UpdateJobOutput"
        "480":
          description: MissingParameterException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/MissingParameterException"
        "481":
          description: InvalidParameterException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidParameterException"
        "482":
          description: InvalidAccessKeyIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidAccessKeyIdException"
        "483":
          description: InvalidAddressException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidAddressException"
        "484":
          description: InvalidManifestFieldException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidManifestFieldException"
        "485":
          description: InvalidJobIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidJobIdException"
        "486":
          description: MissingManifestFieldException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/MissingManifestFieldException"
        "487":
          description: NoSuchBucketException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchBucketException"
        "488":
          description: ExpiredJobIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ExpiredJobIdException"
        "489":
          description: CanceledJobIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CanceledJobIdException"
        "490":
          description: MissingCustomsException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/MissingCustomsException"
        "491":
          description: InvalidCustomsException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidCustomsException"
        "492":
          description: InvalidFileSystemException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidFileSystemException"
        "493":
          description: MultipleRegionsException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/MultipleRegionsException"
        "494":
          description: BucketPermissionException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/BucketPermissionException"
        "495":
          description: MalformedManifestException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/MalformedManifestException"
        "496":
          description: UnableToUpdateJobIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/UnableToUpdateJobIdException"
        "497":
          description: InvalidVersionException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidVersionException"
      parameters:
        - name: JobId
          in: query
          required: true
          description: ""
          schema:
            type: string
            description: A unique identifier which refers to a particular job.
        - name: Manifest
          in: query
          required: true
          description: ""
          schema:
            type: string
            description: The UTF-8 encoded text of the manifest file.
        - name: JobType
          in: query
          required: true
          description: ""
          schema:
            type: string
            enum:
              - Import
              - Export
            description: Specifies whether the job to initiate is an import or export job.
        - name: ValidateOnly
          in: query
          required: true
          description: ""
          schema:
            type: boolean
            description: Validate the manifest and parameter values in the request but do not actually create a job.
        - name: APIVersion
          in: query
          required: false
          description: ""
          schema:
            type: string
            description: Specifies the version of the client tool.
        - name: Operation
          in: query
          required: true
          schema:
            type: string
            enum:
              - UpdateJob
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - UpdateJob
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-06-01
    parameters:
      - $ref: "#/components/parameters/AWSAccessKeyId"
      - $ref: "#/components/parameters/Action"
      - $ref: "#/components/parameters/SignatureMethod"
      - $ref: "#/components/parameters/SignatureVersion"
      - $ref: "#/components/parameters/Timestamp"
      - $ref: "#/components/parameters/Version"
      - $ref: "#/components/parameters/Signature"
    post:
      x-aws-operation-name: UpdateJob
      operationId: POST_UpdateJob
      description: You use this operation to change the parameters specified in the original manifest file by supplying a new manifest file. The manifest file attached to this request replaces the original manifest file. You can only use the operation after a CreateJob request but before the data transfer starts and you can only use it on jobs you own.
      responses:
        "200":
          description: Success
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/UpdateJobOutput"
        "480":
          description: MissingParameterException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/MissingParameterException"
        "481":
          description: InvalidParameterException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidParameterException"
        "482":
          description: InvalidAccessKeyIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidAccessKeyIdException"
        "483":
          description: InvalidAddressException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidAddressException"
        "484":
          description: InvalidManifestFieldException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidManifestFieldException"
        "485":
          description: InvalidJobIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidJobIdException"
        "486":
          description: MissingManifestFieldException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/MissingManifestFieldException"
        "487":
          description: NoSuchBucketException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/NoSuchBucketException"
        "488":
          description: ExpiredJobIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/ExpiredJobIdException"
        "489":
          description: CanceledJobIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/CanceledJobIdException"
        "490":
          description: MissingCustomsException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/MissingCustomsException"
        "491":
          description: InvalidCustomsException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidCustomsException"
        "492":
          description: InvalidFileSystemException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidFileSystemException"
        "493":
          description: MultipleRegionsException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/MultipleRegionsException"
        "494":
          description: BucketPermissionException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/BucketPermissionException"
        "495":
          description: MalformedManifestException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/MalformedManifestException"
        "496":
          description: UnableToUpdateJobIdException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/UnableToUpdateJobIdException"
        "497":
          description: InvalidVersionException
          x-aws-exception: true
          content:
            text/xml:
              schema:
                $ref: "#/components/schemas/InvalidVersionException"
      requestBody:
        content:
          text/xml:
            schema:
              $ref: "#/components/schemas/UpdateJobInput"
      parameters:
        - name: Operation
          in: query
          required: true
          schema:
            type: string
            enum:
              - UpdateJob
        - name: Action
          in: query
          required: true
          schema:
            type: string
            enum:
              - UpdateJob
        - name: Version
          in: query
          required: true
          schema:
            type: string
            enum:
              - 2010-06-01
components:
  parameters:
    AWSAccessKeyId:
      name: AWSAccessKeyId
      in: query
      schema:
        type: string
      required: true
    Action:
      name: Action
      in: query
      schema:
        type: string
      required: true
    SignatureMethod:
      name: SignatureMethod
      in: query
      schema:
        type: string
      required: true
    SignatureVersion:
      name: SignatureVersion
      in: query
      schema:
        type: string
      required: true
    Timestamp:
      name: Timestamp
      in: query
      schema:
        type: string
      required: true
    Version:
      name: Version
      in: query
      schema:
        type: string
      required: true
    Signature:
      name: Signature
      in: query
      schema:
        type: string
      required: true
  securitySchemes:
    hmac:
      type: apiKey
      name: Authorization
      in: header
      description: Amazon Signature authorization v2
      x-amazon-apigateway-authtype: awsSigv2
  schemas:
    CancelJobOutput:
      type: object
      properties:
        Success:
          $ref: "#/components/schemas/Success"
      description: Output structure for the CancelJob operation.
    InvalidJobIdException:
      type: object
      properties:
        message:
          $ref: "#/components/schemas/ErrorMessage"
      description: The JOBID was missing, not found, or not associated with the AWS account.
    ExpiredJobIdException:
      type: object
      properties:
        message:
          $ref: "#/components/schemas/ErrorMessage"
      description: Indicates that the specified job has expired out of the system.
    CanceledJobIdException:
      type: object
      properties:
        message:
          $ref: "#/components/schemas/ErrorMessage"
      description: The specified job ID has been canceled and is no longer valid.
    UnableToCancelJobIdException:
      type: object
      properties:
        message:
          $ref: "#/components/schemas/ErrorMessage"
      description: AWS Import/Export cannot cancel the job
    InvalidAccessKeyIdException:
      type: object
      properties:
        message:
          $ref: "#/components/schemas/ErrorMessage"
      description: The AWS Access Key ID specified in the request did not match the manifest's accessKeyId value. The manifest and the request authentication must use the same AWS Access Key ID.
    InvalidVersionException:
      type: object
      properties:
        message:
          $ref: "#/components/schemas/ErrorMessage"
      description: The client tool version is invalid.
    CreateJobOutput:
      type: object
      properties:
        JobId:
          $ref: "#/components/schemas/JobId"
        JobType:
          $ref: "#/components/schemas/JobType"
        Signature:
          $ref: "#/components/schemas/Signature"
        SignatureFileContents:
          $ref: "#/components/schemas/SignatureFileContents"
        WarningMessage:
          $ref: "#/components/schemas/WarningMessage"
        ArtifactList:
          $ref: "#/components/schemas/ArtifactList"
      description: Output structure for the CreateJob operation.
    MissingParameterException:
      type: object
      properties:
        message:
          $ref: "#/components/schemas/ErrorMessage"
      description: One or more required parameters was missing from the request.
    InvalidParameterException:
      type: object
      properties:
        message:
          $ref: "#/components/schemas/ErrorMessage"
      description: One or more parameters had an invalid value.
    InvalidAddressException:
      type: object
      properties:
        message:
          $ref: "#/components/schemas/ErrorMessage"
      description: The address specified in the manifest is invalid.
    InvalidManifestFieldException:
      type: object
      properties:
        message:
          $ref: "#/components/schemas/ErrorMessage"
      description: One or more manifest fields was invalid. Please correct and resubmit.
    MissingManifestFieldException:
      type: object
      properties:
        message:
          $ref: "#/components/schemas/ErrorMessage"
      description: One or more required fields were missing from the manifest file. Please correct and resubmit.
    NoSuchBucketException:
      type: object
      properties:
        message:
          $ref: "#/components/schemas/ErrorMessage"
      description: The specified bucket does not exist. Create the specified bucket or change the manifest's bucket, exportBucket, or logBucket field to a bucket that the account, as specified by the manifest's Access Key ID, has write permissions to.
    MissingCustomsException:
      type: object
      properties:
        message:
          $ref: "#/components/schemas/ErrorMessage"
      description: One or more required customs parameters was missing from the manifest.
    InvalidCustomsException:
      type: object
      properties:
        message:
          $ref: "#/components/schemas/ErrorMessage"
      description: One or more customs parameters was invalid. Please correct and resubmit.
    InvalidFileSystemException:
      type: object
      properties:
        message:
          $ref: "#/components/schemas/ErrorMessage"
      description: File system specified in export manifest is invalid.
    MultipleRegionsException:
      type: object
      properties:
        message:
          $ref: "#/components/schemas/ErrorMessage"
      description: Your manifest file contained buckets from multiple regions. A job is restricted to buckets from one region. Please correct and resubmit.
    BucketPermissionException:
      type: object
      properties:
        message:
          $ref: "#/components/schemas/ErrorMessage"
      description: The account specified does not have the appropriate bucket permissions.
    MalformedManifestException:
      type: object
      properties:
        message:
          $ref: "#/components/schemas/ErrorMessage"
      description: Your manifest is not well-formed.
    CreateJobQuotaExceededException:
      type: object
      properties:
        message:
          $ref: "#/components/schemas/ErrorMessage"
      description: Each account can create only a certain number of jobs per day. If you need to create more than this, please contact awsimportexport@amazon.com to explain your particular use case.
    GetShippingLabelOutput:
      type: object
      properties:
        ShippingLabelURL:
          $ref: "#/components/schemas/GenericString"
        Warning:
          $ref: "#/components/schemas/GenericString"
    GenericString:
      type: string
    GetStatusOutput:
      type: object
      properties:
        JobId:
          $ref: "#/components/schemas/JobId"
        JobType:
          $ref: "#/components/schemas/JobType"
        LocationCode:
          $ref: "#/components/schemas/LocationCode"
        LocationMessage:
          $ref: "#/components/schemas/LocationMessage"
        ProgressCode:
          $ref: "#/components/schemas/ProgressCode"
        ProgressMessage:
          $ref: "#/components/schemas/ProgressMessage"
        Carrier:
          $ref: "#/components/schemas/Carrier"
        TrackingNumber:
          $ref: "#/components/schemas/TrackingNumber"
        LogBucket:
          $ref: "#/components/schemas/LogBucket"
        LogKey:
          $ref: "#/components/schemas/LogKey"
        ErrorCount:
          $ref: "#/components/schemas/ErrorCount"
        Signature:
          $ref: "#/components/schemas/Signature"
        SignatureFileContents:
          $ref: "#/components/schemas/Signature"
        CurrentManifest:
          $ref: "#/components/schemas/CurrentManifest"
        CreationDate:
          $ref: "#/components/schemas/CreationDate"
        ArtifactList:
          $ref: "#/components/schemas/ArtifactList"
      description: Output structure for the GetStatus operation.
    ListJobsOutput:
      type: object
      properties:
        Jobs:
          $ref: "#/components/schemas/JobsList"
        IsTruncated:
          $ref: "#/components/schemas/IsTruncated"
      description: Output structure for the ListJobs operation.
    UpdateJobOutput:
      type: object
      properties:
        Success:
          $ref: "#/components/schemas/Success"
        WarningMessage:
          $ref: "#/components/schemas/WarningMessage"
        ArtifactList:
          $ref: "#/components/schemas/ArtifactList"
      description: Output structure for the UpateJob operation.
    UnableToUpdateJobIdException:
      type: object
      properties:
        message:
          $ref: "#/components/schemas/ErrorMessage"
      description: AWS Import/Export cannot update the job
    APIVersion:
      type: string
      description: Specifies the version of the client tool.
    Description:
      type: string
      description: The associated description for this object.
    URL:
      type: string
      description: The URL for a given Artifact.
    Artifact:
      type: object
      properties:
        Description:
          $ref: "#/components/schemas/Description"
        URL:
          $ref: "#/components/schemas/URL"
      description: A discrete item that contains the description and URL of an artifact (such as a PDF).
    ArtifactList:
      type: array
      description: A collection of artifacts.
      items:
        $ref: "#/components/schemas/Artifact"
    ErrorMessage:
      type: string
      description: The human-readable description of a particular error.
    JobId:
      type: string
      description: A unique identifier which refers to a particular job.
    CancelJobInput:
      type: object
      required:
        - JobId
      title: CancelJobInput
      properties:
        JobId:
          $ref: "#/components/schemas/JobId"
        APIVersion:
          $ref: "#/components/schemas/APIVersion"
      description: Input structure for the CancelJob operation.
    Success:
      type: boolean
      description: Specifies whether (true) or not (false) AWS Import/Export updated your job.
    Carrier:
      type: string
      description: Name of the shipping company. This value is included when the LocationCode is "Returned".
    JobType:
      type: string
      enum:
        - Import
        - Export
      description: Specifies whether the job to initiate is an import or export job.
    Manifest:
      type: string
      description: The UTF-8 encoded text of the manifest file.
    ManifestAddendum:
      type: string
      description: For internal use only.
    ValidateOnly:
      type: boolean
      description: Validate the manifest and parameter values in the request but do not actually create a job.
    CreateJobInput:
      type: object
      required:
        - JobType
        - Manifest
        - ValidateOnly
      title: CreateJobInput
      properties:
        JobType:
          $ref: "#/components/schemas/JobType"
        Manifest:
          $ref: "#/components/schemas/Manifest"
        ManifestAddendum:
          $ref: "#/components/schemas/ManifestAddendum"
        ValidateOnly:
          $ref: "#/components/schemas/ValidateOnly"
        APIVersion:
          $ref: "#/components/schemas/APIVersion"
      description: Input structure for the CreateJob operation.
    Signature:
      type: string
      description: An encrypted code used to authenticate the request and response, for example, "DV+TpDfx1/TdSE9ktyK9k/bDTVI=". Only use this value is you want to create the signature file yourself. Generally you should use the SignatureFileContents value.
    SignatureFileContents:
      type: string
      description: The actual text of the SIGNATURE file to be written to disk.
    WarningMessage:
      type: string
      description: An optional message notifying you of non-fatal issues with the job, such as use of an incompatible Amazon S3 bucket name.
    CreationDate:
      type: string
      description: Timestamp of the CreateJob request in ISO8601 date format. For example "2010-03-28T20:27:35Z".
      format: date-time
    CurrentManifest:
      type: string
      description: The last manifest submitted, which will be used to process the job.
    ErrorCount:
      type: integer
      description: Number of errors. We return this value when the ProgressCode is Success or SuccessWithErrors.
    JobIdList:
      type: array
      items:
        $ref: "#/components/schemas/GenericString"
    name:
      type: string
      description: Specifies the name of the person responsible for shipping this package.
    company:
      type: string
      description: Specifies the name of the company that will ship this package.
    phoneNumber:
      type: string
      description: Specifies the phone number of the person responsible for shipping this package.
    country:
      type: string
      description: Specifies the name of your country for the return address.
    stateOrProvince:
      type: string
      description: Specifies the name of your state or your province for the return address.
    city:
      type: string
      description: Specifies the name of your city for the return address.
    postalCode:
      type: string
      description: Specifies the postal code for the return address.
    street1:
      type: string
      description: Specifies the first part of the street address for the return address, for example 1234 Main Street.
    street2:
      type: string
      description: Specifies the optional second part of the street address for the return address, for example Suite 100.
    street3:
      type: string
      description: Specifies the optional third part of the street address for the return address, for example c/o Jane Doe.
    GetShippingLabelInput:
      type: object
      required:
        - jobIds
      title: GetShippingLabelInput
      properties:
        jobIds:
          $ref: "#/components/schemas/JobIdList"
        name:
          $ref: "#/components/schemas/name"
        company:
          $ref: "#/components/schemas/company"
        phoneNumber:
          $ref: "#/components/schemas/phoneNumber"
        country:
          $ref: "#/components/schemas/country"
        stateOrProvince:
          $ref: "#/components/schemas/stateOrProvince"
        city:
          $ref: "#/components/schemas/city"
        postalCode:
          $ref: "#/components/schemas/postalCode"
        street1:
          $ref: "#/components/schemas/street1"
        street2:
          $ref: "#/components/schemas/street2"
        street3:
          $ref: "#/components/schemas/street3"
        APIVersion:
          $ref: "#/components/schemas/APIVersion"
    GetStatusInput:
      type: object
      required:
        - JobId
      title: GetStatusInput
      properties:
        JobId:
          $ref: "#/components/schemas/JobId"
        APIVersion:
          $ref: "#/components/schemas/APIVersion"
      description: Input structure for the GetStatus operation.
    LocationCode:
      type: string
      description: A token representing the location of the storage device, such as "AtAWS".
    LocationMessage:
      type: string
      description: A more human readable form of the physical location of the storage device.
    ProgressCode:
      type: string
      description: A token representing the state of the job, such as "Started".
    ProgressMessage:
      type: string
      description: A more human readable form of the job status.
    TrackingNumber:
      type: string
      description: The shipping tracking number assigned by AWS Import/Export to the storage device when it's returned to you. We return this value when the LocationCode is "Returned".
    LogBucket:
      type: string
      description: Amazon S3 bucket for user logs.
    LogKey:
      type: string
      description: The key where the user logs were stored.
    IsCanceled:
      type: boolean
      description: Indicates whether the job was canceled.
    IsTruncated:
      type: boolean
      description: Indicates whether the list of jobs was truncated. If true, then call ListJobs again using the last JobId element as the marker.
    Job:
      type: object
      properties:
        JobId:
          $ref: "#/components/schemas/JobId"
        CreationDate:
          $ref: "#/components/schemas/CreationDate"
        IsCanceled:
          $ref: "#/components/schemas/IsCanceled"
        JobType:
          $ref: "#/components/schemas/JobType"
      description: Representation of a job returned by the ListJobs operation.
    JobsList:
      type: array
      description: A list container for Jobs returned by the ListJobs operation.
      items:
        $ref: "#/components/schemas/Job"
    MaxJobs:
      type: integer
      description: Sets the maximum number of jobs returned in the response. If there are additional jobs that were not returned because MaxJobs was exceeded, the response contains &lt;IsTruncated&gt;true&lt;/IsTruncated&gt;. To return the additional jobs, see Marker.
    Marker:
      type: string
      description: Specifies the JOBID to start after when listing the jobs created with your account. AWS Import/Export lists your jobs in reverse chronological order. See MaxJobs.
    ListJobsInput:
      type: object
      title: ListJobsInput
      properties:
        MaxJobs:
          $ref: "#/components/schemas/MaxJobs"
        Marker:
          $ref: "#/components/schemas/Marker"
        APIVersion:
          $ref: "#/components/schemas/APIVersion"
      description: Input structure for the ListJobs operation.
    UpdateJobInput:
      type: object
      required:
        - JobId
        - Manifest
        - JobType
        - ValidateOnly
      title: UpdateJobInput
      properties:
        JobId:
          $ref: "#/components/schemas/JobId"
        Manifest:
          $ref: "#/components/schemas/Manifest"
        JobType:
          $ref: "#/components/schemas/JobType"
        ValidateOnly:
          $ref: "#/components/schemas/ValidateOnly"
        APIVersion:
          $ref: "#/components/schemas/APIVersion"
      description: Input structure for the UpateJob operation.
security:
  - hmac: []
