swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: These APIs allow end users to operate on Azure Machine Learning Workspace resources.
  title: Azure Machine Learning Workspaces
  version: 2018-03-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/preview/2018-03-01-preview/machineLearningServices.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: machinelearningservices-machineLearningServices
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  APIVersionParameter:
    description: Version of Azure Machine Learning resource provider API.
    in: query
    name: api-version
    required: true
    type: string
  AsyncOperationIdParameter:
    description: Identifier of an asynchronous Azure Machine Learning compute operation.
    in: path
    name: asyncOperationId
    required: true
    type: string
    x-ms-parameter-location: method
  ComputeDefinitionParameter:
    description: Payload with Machine Learning compute definition.
    in: body
    name: parameters
    required: true
    schema:
      $ref: "#/definitions/ComputeResource"
    x-ms-parameter-location: method
  ComputeNameParameter:
    description: Name of the Azure Machine Learning compute.
    in: path
    name: computeName
    required: true
    type: string
    x-ms-parameter-location: method
  ComputeTypeParameter:
    description: Type of compute to filter by.
    in: query
    name: compute-type
    required: false
    type: string
    x-ms-parameter-location: method
  LocationParameter:
    description: The name of the Azure location/region.
    in: path
    name: location
    required: true
    type: string
    x-ms-parameter-location: method
  PaginationParameter:
    description: Continuation token for pagination.
    in: query
    name: $skiptoken
    required: false
    type: string
    x-ms-parameter-location: method
  ResourceGroupNameParameter:
    description: Name of the resource group in which workspace is located.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: Azure subscription identifier.
    in: path
    name: subscriptionId
    required: true
    type: string
  WorkspaceNameParameter:
    description: Name of Azure Machine Learning workspace.
    in: path
    name: workspaceName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  /providers/Microsoft.MachineLearningServices/operations:
    get:
      description: Lists all of the available Azure Machine Learning Workspaces REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/APIVersionParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/OperationListResult"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/MachineLearningServiceError"
      tags:
        - Operation
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/workspaces":
    get:
      description: Lists all the available machine learning workspaces under the specified subscription.
      operationId: Workspaces_ListBySubscription
      parameters:
        - $ref: "#/parameters/APIVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/PaginationParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/WorkspaceListResult"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/MachineLearningServiceError"
      tags:
        - Workspaces
      x-ms-examples:
        Get Workspaces by subscription:
          parameters:
            api-version: 2018-03-01-preview
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                nextLink: nextLink
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace
                    location: eastus2euap
                    name: testworkspace
                    properties:
                      applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                      batchaiWorkspace: /subscriptions/00000000-1111-2222-3333-444444444444/resourcegroups/workspace-1234/providers/Microsoft.BatchAI/workspaces/testBatchAIWorkspace
                      containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry
                      creationTime: 2017-03-01T23:14:37.0707808Z
                      description: test description
                      discoveryUrl: http://example.com
                      friendlyName: HelloName
                      keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                      storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                    type: Microsoft.MachineLearningServices/workspaces
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-5678/providers/Microsoft.MachineLearningServices/workspaces/testworkspace
                    location: eastus2euap
                    name: testworkspace
                    properties:
                      applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                      batchaiWorkspace: /subscriptions/00000000-1111-2222-3333-444444444444/resourcegroups/workspace-1234/providers/Microsoft.BatchAI/workspaces/testBatchAIWorkspace
                      containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistryNew
                      creationTime: 2017-03-01T23:14:37.0707808Z
                      description: test description
                      discoveryUrl: http://example.com
                      friendlyName: HelloName
                      keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkvNew
                      storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccountOld
                    type: Microsoft.MachineLearningServices/workspaces
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces":
    get:
      description: Lists all the available machine learning workspaces under the specified resource group.
      operationId: Workspaces_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/APIVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/PaginationParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/WorkspaceListResult"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/MachineLearningServiceError"
      tags:
        - Workspaces
      x-ms-examples:
        Get Workspaces by Resource Group:
          parameters:
            api-version: 2018-03-01-preview
            resourceGroupName: workspace-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                nextLink: nextLink
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace
                    location: eastus2euap
                    name: testworkspace
                    properties:
                      applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                      batchaiWorkspace: /subscriptions/00000000-1111-2222-3333-444444444444/resourcegroups/workspace-1234/providers/Microsoft.BatchAI/workspaces/testBatchAIWorkspace
                      containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry
                      creationTime: 2017-03-01T23:14:37.0707808Z
                      description: test description
                      discoveryUrl: http://example.com
                      friendlyName: HelloName
                      keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                      storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                    type: Microsoft.MachineLearningServices/workspaces
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace1
                    location: eastus2euap
                    name: testworkspace1
                    properties:
                      applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                      batchaiWorkspace: /subscriptions/00000000-1111-2222-3333-444444444444/resourcegroups/workspace-1234/providers/Microsoft.BatchAI/workspaces/testBatchAIWorkspace
                      containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistryNew
                      creationTime: 2017-03-01T23:14:37.0707808Z
                      description: test description
                      discoveryUrl: http://example.com
                      friendlyName: HelloName 1
                      keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkvNew
                      storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccountOld
                    type: Microsoft.MachineLearningServices/workspaces
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}":
    delete:
      description: Deletes a machine learning workspace.
      operationId: Workspaces_Delete
      parameters:
        - $ref: "#/parameters/APIVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
        "204":
          description: The machine learning workspace does not exist in the subscription.
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/MachineLearningServiceError"
      tags:
        - Workspaces
      x-ms-examples:
        Delete Workspace:
          parameters:
            api-version: 2018-03-01-preview
            resourceGroupName: workspace-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
            workspaceName: testworkspace
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets the properties of the specified machine learning workspace.
      operationId: Workspaces_Get
      parameters:
        - $ref: "#/parameters/APIVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/Workspace"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/MachineLearningServiceError"
      tags:
        - Workspaces
      x-ms-examples:
        Get Workspace:
          parameters:
            api-version: 2018-03-01-preview
            resourceGroupName: workspace-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
            workspaceName: testworkspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace
                location: eastus2euap
                name: testworkspace
                properties:
                  applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                  batchaiWorkspace: /subscriptions/00000000-1111-2222-3333-444444444444/resourcegroups/workspace-1234/providers/Microsoft.BatchAI/workspaces/testBatchAIWorkspace
                  containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry
                  creationTime: 2017-03-01T23:14:37.0707808Z
                  description: test description
                  discoveryUrl: http://example.com
                  friendlyName: HelloName
                  keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                  storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                type: Microsoft.MachineLearningServices/workspaces
    patch:
      description: Updates a machine learning workspace with the specified parameters.
      operationId: Workspaces_Update
      parameters:
        - $ref: "#/parameters/APIVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - description: The parameters for updating a machine learning workspace.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/WorkspaceUpdateParameters"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/Workspace"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/MachineLearningServiceError"
      tags:
        - Workspaces
      x-ms-examples:
        Update Workspace:
          parameters:
            api-version: 2018-03-01-preview
            parameters:
              properties:
                description: new description
                friendlyName: New friendly name
            resourceGroupName: workspace-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
            workspaceName: testworkspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace
                location: eastus2euap
                name: testworkspace
                properties:
                  applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                  batchaiWorkspace: /subscriptions/00000000-1111-2222-3333-444444444444/resourcegroups/workspace-1234/providers/Microsoft.BatchAI/workspaces/testBatchAIWorkspace
                  containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry
                  creationTime: 2017-03-01T23:14:37.0707808Z
                  description: new description
                  discoveryUrl: http://example.com
                  friendlyName: New friendly name
                  keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                  storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                type: Microsoft.MachineLearningServices/workspaces
    put:
      description: Creates or updates a workspace with the specified parameters.
      operationId: Workspaces_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/APIVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - description: The parameters for creating or updating a machine learning workspace.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Workspace"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/Workspace"
        "201":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/Workspace"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/MachineLearningServiceError"
      tags:
        - Workspaces
      x-ms-examples:
        Create Workspace:
          parameters:
            api-version: 2018-03-01-preview
            parameters:
              location: eastus2euap
              properties:
                applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                batchaiWorkspace: /subscriptions/00000000-1111-2222-3333-444444444444/resourcegroups/workspace-1234/providers/Microsoft.BatchAI/workspaces/testBatchAIWorkspace
                containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry
                description: test description
                friendlyName: HelloName
                keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
            resourceGroupName: workspace-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
            workspaceName: testworkspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace
                location: eastus2euap
                name: testworkspace
                properties:
                  applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                  batchaiWorkspace: /subscriptions/00000000-1111-2222-3333-444444444444/resourcegroups/workspace-1234/providers/Microsoft.BatchAI/workspaces/testBatchAIWorkspace
                  containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry
                  creationTime: 2017-03-01T23:14:37.0707808Z
                  description: test description
                  discoveryUrl: http://example.com
                  friendlyName: HelloName
                  keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                  storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                type: Microsoft.MachineLearningServices/workspaces
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace
                location: eastus2euap
                name: testworkspace
                properties:
                  applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                  batchaiWorkspace: /subscriptions/00000000-1111-2222-3333-444444444444/resourcegroups/workspace-1234/providers/Microsoft.BatchAI/workspaces/testBatchAIWorkspace
                  containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry
                  creationTime: 2017-03-01T23:14:37.0707808Z
                  description: test description
                  discoveryUrl: http://example.com
                  friendlyName: HelloName
                  keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                  storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                type: Microsoft.MachineLearningServices/workspaces
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/computes":
    get:
      description: Gets computes in specified workspace.
      operationId: MachineLearningCompute_ListByWorkspace
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/APIVersionParameter"
        - $ref: "#/parameters/PaginationParameter"
      responses:
        "200":
          description: The response includes a paginated array of Machine Learning computes and a URI to the next set of results, if any. For the more information the limits of the number of items in a resource group, see https://azure.microsoft.com/en-us/documentation/articles/azure-subscription-service-limits/.
          schema:
            $ref: "#/definitions/PaginatedComputeResourcesList"
        default:
          description: Error response describing why the request failed.
          schema:
            $ref: "#/definitions/MachineLearningServiceError"
      tags:
        - OperationalizationClusters
        - MachineLearningComputes
      x-ms-examples:
        Get Computes:
          parameters:
            api-version: 2018-03-01-preview
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workspaceName: workspaces123
          responses:
            "200":
              body:
                nextLink: nextLink
                value:
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute123
                    location: eastus
                    name: compute123
                    properties:
                      computeType: AKS
                      description: some compute
                      provisioningState: Succeeded
                      resourceId: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourcegroups/testrg123/providers/Microsoft.ContainerService/managedClusters/compute123-56826-c9b00420020b2
                    type: Microsoft.MachineLearningServices/workspaces/computes
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute1234
                    location: eastus
                    name: compute1234
                    properties:
                      computeType: AKS
                      description: some compute
                      provisioningState: Succeeded
                      resourceId: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourcegroups/testrg123/providers/Microsoft.ContainerService/managedClusters/compute1234-56826-c9b00420020b2
                    type: Microsoft.MachineLearningServices/workspaces/computes
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/computes/{computeName}":
    delete:
      description: Deletes specified Machine Learning compute.
      operationId: MachineLearningCompute_Delete
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ComputeNameParameter"
        - $ref: "#/parameters/APIVersionParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
        "202":
          description: Compute deletion initiated.
          headers:
            Azure-AsyncOperation:
              description: URI to poll for asynchronous operation status.
              type: string
            Location:
              description: URI to poll for asynchronous operation result.
              type: string
        default:
          description: Error response describing why the request failed.
          schema:
            $ref: "#/definitions/MachineLearningServiceError"
      tags:
        - OperationalizationClusters
        - MachineLearningComputes
      x-ms-examples:
        Delete Compute:
          parameters:
            api-version: 2018-03-01-preview
            computeName: compute123
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workspaceName: workspaces123
          responses:
            "200": {}
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/...pathToOperationStatus...
                Location: https://management.azure.com/subscriptions/...pathToOperationResult...
      x-ms-long-running-operation: true
    get:
      description: Gets compute definition by its name. Any secrets (storage keys, service credentials, etc) are not returned - use 'keys' nested resource to get them.
      operationId: MachineLearningCompute_Get
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ComputeNameParameter"
        - $ref: "#/parameters/APIVersionParameter"
      responses:
        "200":
          description: Success.
          schema:
            $ref: "#/definitions/ComputeResource"
        default:
          description: Error response describing why the request failed.
          schema:
            $ref: "#/definitions/MachineLearningServiceError"
      tags:
        - OperationalizationClusters
        - MachineLearningComputes
      x-ms-examples:
        Get a AKS Compute:
          parameters:
            api-version: 2018-03-01-preview
            computeName: compute123
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workspaceName: workspaces123
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute123
                location: eastus
                name: compute123
                properties:
                  computeType: AKS
                  description: some compute
                  provisioningState: Succeeded
                  resourceId: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourcegroups/testrg123/providers/Microsoft.ContainerService/managedClusters/compute123-56826-c9b00420020b2
                type: Microsoft.MachineLearningServices/workspaces/computes
        Get a BatchAI Compute:
          parameters:
            api-version: 2018-03-01-preview
            computeName: compute123
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workspaceName: workspaces123
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute123
                location: eastus2
                name: compute123
                properties:
                  computeType: BatchAI
                  description: some compute
                  provisioningState: Succeeded
                  resourceId: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.BatchAI/clusters/compute123-ccb488844dcc2
                type: Microsoft.MachineLearningServices/workspaces/computes
    post:
      description: System Update On Machine Learning compute.
      operationId: MachineLearningCompute_SystemUpdate
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ComputeNameParameter"
        - $ref: "#/parameters/APIVersionParameter"
      responses:
        "200":
          description: Compute System updated.
        "202":
          description: Compute System Update initiated.
          headers:
            Azure-AsyncOperation:
              description: URI to poll for asynchronous operation status.
              type: string
            Location:
              description: URI to poll for asynchronous operation result.
              type: string
        default:
          description: Error response describing why the request failed.
          schema:
            $ref: "#/definitions/MachineLearningServiceError"
      tags:
        - OperationalizationClusters
        - MachineLearningComputes
      x-ms-examples:
        System Update Compute:
          parameters:
            api-version: 2018-03-01-preview
            computeName: compute123
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workspaceName: workspaces123
          responses:
            "200": {}
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/...pathToOperationStatus...
                Location: https://management.azure.com/subscriptions/...pathToOperationResult...
      x-ms-long-running-operation: true
    put:
      description: Creates or updates compute. This call will overwrite a compute if it exists. This is a nonrecoverable operation. If your intent is to create a new compute, do a GET first to verify that it does not exist yet.
      operationId: MachineLearningCompute_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ComputeNameParameter"
        - $ref: "#/parameters/APIVersionParameter"
        - $ref: "#/parameters/ComputeDefinitionParameter"
      responses:
        "200":
          description: Compute creation or update initiated.
          schema:
            $ref: "#/definitions/ComputeResource"
        "201":
          description: Compute creation or update initiated.
          headers:
            Azure-AsyncOperation:
              description: URI to poll for asynchronous operation status.
              type: string
          schema:
            $ref: "#/definitions/ComputeResource"
        default:
          description: Error response describing why the request failed.
          schema:
            $ref: "#/definitions/MachineLearningServiceError"
      tags:
        - OperationalizationClusters
        - MachineLearningComputes
      x-ms-examples:
        Create AKS Compute:
          parameters:
            api-version: 2018-03-01-preview
            computeName: compute123
            parameters:
              location: eastus
              properties:
                computeType: AKS
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workspaceName: workspaces123
          responses:
            "200":
              body:
                id: subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute123
                location: eastus
                name: compute123
                properties:
                  computeType: AKS
                  provisioningState: Creating
                type: Microsoft.MachineLearningServices/workspaces/computes
            "201":
              body:
                id: subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute123
                location: eastus
                name: compute123
                properties:
                  computeType: AKS
                  provisioningState: Creating
                type: Microsoft.MachineLearningServices/workspaces/computes
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/...pathToOperationStatus...
        Create a BatchAI Compute:
          parameters:
            api-version: 2018-03-01-preview
            computeName: compute123
            parameters:
              location: eastus
              properties:
                computeType: BatchAI
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workspaceName: workspaces123
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute123
                location: eastus
                name: compute123
                properties:
                  computeType: BatchAI
                  provisioningState: Creating
                type: Microsoft.MachineLearningServices/workspaces/computes
            "201":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute123
                location: eastus
                name: compute123
                properties:
                  computeType: BatchAI
                  provisioningState: Creating
                type: Microsoft.MachineLearningServices/workspaces/computes
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/...pathToOperationStatus...
        Create a DataFactory Compute:
          parameters:
            api-version: 2018-03-01-preview
            computeName: compute123
            parameters:
              location: eastus
              properties:
                computeType: DataFactory
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workspaceName: workspaces123
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute123
                location: eastus
                name: compute123
                properties:
                  computeType: DataFactory
                  provisioningState: Creating
                type: Microsoft.MachineLearningServices/workspaces/computes
            "201":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute123
                location: eastus
                name: compute123
                properties:
                  computeType: DataFactory
                  provisioningState: Creating
                type: Microsoft.MachineLearningServices/workspaces/computes
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/...pathToOperationStatus...
        Update a AKS Compute:
          parameters:
            api-version: 2018-03-01-preview
            computeName: compute123
            parameters:
              id: compute123
              location: eastus
              properties:
                computeType: AKS
                description: some compute
                properties:
                  agentCount: 4
                resourceId: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourcegroups/testrg123/providers/Microsoft.ContainerService/managedClusters/compute123-56826-c9b00420020b2
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workspaceName: workspaces123
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute123
                location: eastus
                name: compute123
                properties:
                  computeType: AKS
                  description: some compute
                  provisioningState: Updating
                  resourceId: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourcegroups/testrg123/providers/Microsoft.ContainerService/managedClusters/compute123-56826-c9b00420020b2
                type: Microsoft.MachineLearningServices/workspaces/computes
            "201":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute123
                location: eastus
                name: compute123
                properties:
                  computeType: AKS
                  description: some compute
                  provisioningState: Updating
                  resourceId: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourcegroups/testrg123/providers/Microsoft.ContainerService/managedClusters/compute123-56826-c9b00420020b2
                type: Microsoft.MachineLearningServices/workspaces/computes
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/...pathToOperationStatus...
        Update a BatchAI Compute:
          parameters:
            api-version: 2018-03-01-preview
            computeName: compute123
            parameters:
              location: eastus
              properties:
                computeType: BatchAI
                properties:
                  computeType: BatchAI
                  description: some compute
                  properties:
                    scaleSettings:
                      autoScaleEnabled: false
                      maxNodeCount: 4
                      minNodeCount: 4
                  resourceId: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.BatchAI/clusters/compute123-ccb488844dcc2
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workspaceName: workspaces123
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute123
                location: eastus2
                name: compute123
                properties:
                  computeType: BatchAI
                  description: some compute
                  provisioningState: Updating
                  resourceId: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.BatchAI/clusters/compute123-ccb488844dcc2
                type: Microsoft.MachineLearningServices/workspaces/computes
            "201":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute123
                location: eastus2
                name: compute123
                properties:
                  computeType: BatchAI
                  description: some compute
                  provisioningState: Updating
                  resourceId: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.BatchAI/clusters/compute123-ccb488844dcc2
                type: Microsoft.MachineLearningServices/workspaces/computes
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/...pathToOperationStatus...
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/computes/{computeName}/listKeys":
    post:
      description: Gets secrets related to Machine Learning compute (storage keys, service credentials, etc).
      operationId: MachineLearningCompute_ListKeys
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ComputeNameParameter"
        - $ref: "#/parameters/APIVersionParameter"
      responses:
        "200":
          description: Success.
          schema:
            $ref: "#/definitions/ComputeSecrets"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/MachineLearningServiceError"
      tags:
        - OperationalizationClusters
        - MachineLearningComputes
      x-ms-examples:
        List AKS Compute Keys:
          parameters:
            api-version: 2018-03-01-preview
            computeName: compute123
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workspaceName: workspaces123
          responses:
            "200":
              body:
                adminKubeConfig: admin kube config...
                computeType: AKS
                imagePullSecretName: the image pull secret name
                userKubeConfig: user kube config...
        List BatchAI Compute Keys:
          parameters:
            api-version: 2018-03-01-preview
            computeName: compute123
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workspaceName: workspaces123
          responses:
            "200":
              body:
                adminKubeConfig: admin kube config...
                computeType: AKS
                imagePullSecretName: the image pull secret name
                userKubeConfig: user kube config...
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/listKeys":
    post:
      description: Lists all the keys associated with this workspace. This includes keys for the storage account, app insights and password for container registry
      operationId: Workspaces_ListKeys
      parameters:
        - $ref: "#/parameters/APIVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/ListWorkspaceKeysResult"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/MachineLearningServiceError"
      tags:
        - Workspaces
      x-ms-examples:
        List Workspace Keys:
          parameters:
            api-version: 2018-03-01-preview
            resourceGroupName: testrg123
            subscriptionId: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
            workspaceName: workspaces123
          responses:
            "200":
              body:
                appInsightsInstrumentationKey: null
                containerRegistryCredentials:
                  location: null
                  passwords:
                    - name: password
                      value: vBvVhYgAGtUSewVCUv3w95p4/q5Yrsnw
                    - name: password2
                      value: 0KARRQoQHSUq1yViPWg7YFernOS=Ic/t
                  username: testdemoworkjmjmeykp
                userStorageKey: r5rKCJ018TLk+bdAi/9YaVzgcQ0nkLsUqGyUN03KsdCFtqG0SjFGPV8+vT1frWqkvBL0bGoPpLc1BlZSSaZmOA==
                userStorageResourceId: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/ragargeastus2euap/providers/Microsoft.Storage/storageAccounts/testdemoworkazashomr
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/resyncKeys":
    post:
      description: Resync all the keys associated with this workspace. This includes keys for the storage account, app insights and password for container registry
      operationId: Workspaces_ResyncKeys
      parameters:
        - $ref: "#/parameters/APIVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/MachineLearningServiceError"
      tags:
        - Workspaces
      x-ms-examples:
        Resync Workspace Keys:
          parameters:
            api-version: 2018-03-01-preview
            resourceGroupName: testrg123
            subscriptionId: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
            workspaceName: workspaces123
          responses:
            "200": {}
definitions:
  AKS:
    allOf:
      - $ref: "#/definitions/Compute"
      - properties:
          properties:
            description: AKS properties
            properties:
              agentCount:
                description: Number of agents
                minimum: 1
                type: integer
              agentVMSize:
                description: Agent virtual machine size
                type: string
              clusterFqdn:
                description: Cluster full qualified domain name
                type: string
              sslConfiguration:
                $ref: "#/definitions/SslConfiguration"
                description: SSL configuration
              systemServices:
                description: System services
                items:
                  $ref: "#/definitions/SystemService"
                type: array
            type: object
        type: object
    description: A Machine Learning compute based on AKS.
    x-ms-discriminator-value: AKS
  AksComputeSecrets:
    allOf:
      - $ref: "#/definitions/ComputeSecrets"
      - properties:
          adminKubeConfig:
            description: Content of kubeconfig file that can be used to connect to the Kubernetes cluster.
            type: string
          imagePullSecretName:
            description: Image registry pull secret.
            type: string
          userKubeConfig:
            description: Content of kubeconfig file that can be used to connect to the Kubernetes cluster.
            type: string
        type: object
    description: Secrets related to a Machine Learning compute based on AKS.
    x-ms-discriminator-value: AKS
  BatchAI:
    allOf:
      - $ref: "#/definitions/Compute"
      - properties:
          properties:
            description: BatchAI properties
            properties:
              scaleSettings:
                $ref: "#/definitions/ScaleSettings"
                description: Scale settings for BatchAI
              vmPriority:
                description: Virtual Machine priority
                type: string
              vmSize:
                description: Virtual Machine Size
                type: string
            type: object
        type: object
    description: A Machine Learning compute based on Azure BatchAI.
    x-ms-discriminator-value: BatchAI
  Compute:
    description: Machine Learning compute object.
    discriminator: computeType
    properties:
      computeLocation:
        description: Location for the underlying compute
        type: string
      computeType:
        $ref: "#/definitions/ComputeType"
        description: The type of compute
      createdOn:
        description: The date and time when the compute was created.
        format: date-time
        readOnly: true
        type: string
      description:
        description: The description of the Machine Learning compute.
        type: string
      modifiedOn:
        description: The date and time when the compute was last modified.
        format: date-time
        readOnly: true
        type: string
      provisioningErrors:
        description: Errors during provisioning
        items:
          $ref: "#/definitions/MachineLearningServiceError"
        readOnly: true
        type: array
      provisioningState:
        description: The provision state of the cluster. Valid values are Unknown, Updating, Provisioning, Succeeded, and Failed.
        enum:
          - Unknown
          - Updating
          - Creating
          - Deleting
          - Succeeded
          - Failed
          - Canceled
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProvisioningState
      resourceId:
        description: ARM resource id of the compute
        type: string
    required:
      - computeType
    type: object
  ComputeResource:
    allOf:
      - $ref: "#/definitions/Resource"
      - properties:
          properties:
            $ref: "#/definitions/Compute"
            description: Compute properties
        type: object
    description: Machine Learning compute object wrapped into ARM resource envelope.
    type: object
  ComputeSecrets:
    description: Secrets related to a Machine Learning compute. Might differ for every type of compute.
    discriminator: computeType
    properties:
      computeType:
        $ref: "#/definitions/ComputeType"
        description: The type of compute
    required:
      - computeType
    type: object
  ComputeType:
    description: The type of compute
    enum:
      - AKS
      - BatchAI
      - DataFactory
      - VirtualMachine
      - HDInsight
    type: string
    x-ms-enum:
      modelAsString: true
      name: ComputeType
  DataFactory:
    allOf:
      - $ref: "#/definitions/Compute"
    description: A DataFactory compute.
    x-ms-discriminator-value: DataFactory
  ErrorDetail:
    description: Error detail information.
    properties:
      code:
        description: Error code.
        type: string
      message:
        description: Error message.
        type: string
    required:
      - code
      - message
    type: object
  ErrorResponse:
    description: Error response information.
    properties:
      code:
        description: Error code.
        type: string
      details:
        description: An array of error detail objects.
        items:
          $ref: "#/definitions/ErrorDetail"
        type: array
      message:
        description: Error message.
        type: string
    required:
      - code
      - message
    type: object
  HDInsight:
    allOf:
      - $ref: "#/definitions/Compute"
      - properties:
          properties:
            properties:
              address:
                description: Public IP address of the master node of the cluster.
                type: string
              administratorAccount:
                $ref: "#/definitions/VirtualMachineSshCredentials"
                description: Admin credentials for master node of the cluster
              sshPort:
                description: Port open for ssh connections on the master node of the cluster.
                type: integer
            type: object
        type: object
    description: A HDInsight compute.
    x-ms-discriminator-value: HDInsight
  Identity:
    description: Identity for the resource.
    properties:
      principalId:
        description: The principal ID of resource identity.
        readOnly: true
        type: string
      tenantId:
        description: The tenant ID of resource.
        readOnly: true
        type: string
      type:
        description: The identity type.
        enum:
          - SystemAssigned
        type: string
        x-ms-enum:
          modelAsString: false
          name: ResourceIdentityType
  ListWorkspaceKeysResult:
    properties:
      appInsightsInstrumentationKey:
        readOnly: true
        type: string
      containerRegistryCredentials:
        $ref: "#/definitions/RegistryListCredentialsResult"
        readOnly: true
      userStorageKey:
        readOnly: true
        type: string
      userStorageResourceId:
        readOnly: true
        type: string
    type: object
  MachineLearningServiceError:
    description: Wrapper for error response to follow ARM guidelines.
    properties:
      error:
        $ref: "#/definitions/ErrorResponse"
        description: The error response.
    type: object
  Operation:
    description: Azure Machine Learning workspace REST API operation
    properties:
      display:
        description: Display name of operation
        properties:
          description:
            description: The description for the operation.
            type: string
          operation:
            description: The operation that users can perform.
            type: string
          provider:
            description: "The resource provider name: Microsoft.MachineLearningExperimentation"
            type: string
          resource:
            description: The resource on which the operation is performed.
            type: string
      name:
        description: "Operation name: {provider}/{resource}/{operation}"
        type: string
    type: object
  OperationListResult:
    description: An array of operations supported by the resource provider.
    properties:
      value:
        description: List of AML workspace operations supported by the AML workspace resource provider.
        items:
          $ref: "#/definitions/Operation"
        type: array
  PaginatedComputeResourcesList:
    description: Paginated list of Machine Learning compute objects wrapped in ARM resource envelope.
    properties:
      nextLink:
        description: A continuation link (absolute URI) to the next page of results in the list.
        type: string
      value:
        description: An array of Machine Learning compute objects wrapped in ARM resource envelope.
        items:
          $ref: "#/definitions/ComputeResource"
        type: array
    type: object
  Password:
    properties:
      name:
        readOnly: true
        type: string
      value:
        readOnly: true
        type: string
    type: object
  RegistryListCredentialsResult:
    properties:
      location:
        readOnly: true
        type: string
      passwords:
        items:
          $ref: "#/definitions/Password"
        type: array
      username:
        readOnly: true
        type: string
    type: object
  Resource:
    description: Azure Resource Manager resource envelope.
    properties:
      id:
        description: Specifies the resource ID.
        readOnly: true
        type: string
      identity:
        $ref: "#/definitions/Identity"
        description: The identity of the resource.
        readOnly: true
      location:
        description: Specifies the location of the resource.
        type: string
      name:
        description: Specifies the name of the resource.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Contains resource tags defined as key/value pairs.
        type: object
      type:
        description: Specifies the type of the resource.
        readOnly: true
        type: string
    x-ms-azure-resource: true
  ScaleSettings:
    description: scale settings for BatchAI Compute
    properties:
      autoScaleEnabled:
        description: Enable or disable auto scale
        type: boolean
      maxNodeCount:
        description: Max number of nodes to use
        type: integer
      minNodeCount:
        description: Min number of nodes to use
        type: integer
    type: object
  ServicePrincipalCredentials:
    description: Service principal credentials.
    properties:
      clientId:
        description: Client Id
        type: string
      clientSecret:
        description: Client secret
        type: string
    required:
      - clientId
      - clientSecret
    type: object
  SslConfiguration:
    description: The SSL configuration for scoring
    properties:
      cert:
        description: Cert data
        type: string
      cname:
        description: CNAME of the cert
        type: string
      key:
        description: Key data
        type: string
      status:
        description: Enable or disable SSL for scoring
        enum:
          - Disabled
          - Enabled
        type: string
    type: object
  SystemService:
    description: A system service running on a compute.
    properties:
      publicIpAddress:
        description: Public IP address
        readOnly: true
        type: string
      systemServiceType:
        description: The type of this system service.
        readOnly: true
        type: string
      version:
        description: The version for this type.
        readOnly: true
        type: string
    type: object
  VirtualMachine:
    allOf:
      - $ref: "#/definitions/Compute"
      - properties:
          properties:
            properties:
              address:
                description: Public IP address of the virtual machine.
                type: string
              administratorAccount:
                $ref: "#/definitions/VirtualMachineSshCredentials"
                description: Admin credentials for virtual machine
              sshPort:
                description: Port open for ssh connections.
                type: integer
              virtualMachineSize:
                description: Virtual Machine size
                type: string
            type: object
        type: object
    description: A Machine Learning compute based on Azure Virtual Machines.
    x-ms-discriminator-value: VirtualMachine
  VirtualMachineSecrets:
    allOf:
      - $ref: "#/definitions/ComputeSecrets"
      - properties:
          administratorAccount:
            $ref: "#/definitions/VirtualMachineSshCredentials"
            description: Admin credentials for virtual machine.
        type: object
    description: Secrets related to a Machine Learning compute based on AKS.
    x-ms-discriminator-value: VirtualMachine
  VirtualMachineSshCredentials:
    description: Admin credentials for virtual machine
    properties:
      password:
        description: Password of admin account
        type: string
      privateKeyData:
        description: Private key data
        type: string
      publicKeyData:
        description: Public key data
        type: string
      username:
        description: Username of admin account
        type: string
    type: object
  Workspace:
    allOf:
      - $ref: "#/definitions/Resource"
    description: An object that represents a machine learning workspace.
    properties:
      properties:
        $ref: "#/definitions/WorkspaceProperties"
        description: The properties of the machine learning workspace.
        x-ms-client-flatten: true
    type: object
  WorkspaceListResult:
    description: The result of a request to list machine learning workspaces.
    properties:
      nextLink:
        description: The URI that can be used to request the next list of machine learning workspaces.
        type: string
      value:
        description: The list of machine learning workspaces. Since this list may be incomplete, the nextLink field should be used to request the next list of machine learning workspaces.
        items:
          $ref: "#/definitions/Workspace"
        type: array
  WorkspaceProperties:
    description: The properties of a machine learning workspace.
    properties:
      applicationInsights:
        description: ARM id of the application insights associated with this workspace. This cannot be changed once the workspace has been created
        type: string
      batchaiWorkspace:
        description: ARM id of the Batch AI workspace associated with this workspace. This cannot be changed once the workspace has been created
        type: string
      containerRegistry:
        description: ARM id of the container registry associated with this workspace. This cannot be changed once the workspace has been created
        type: string
      creationTime:
        description: The creation time of the machine learning workspace in ISO8601 format.
        format: date-time
        readOnly: true
        type: string
      description:
        description: The description of this workspace.
        type: string
      discoveryUrl:
        description: Url for the discovery service to identify regional endpoints for machine learning experimentation services
        type: string
      friendlyName:
        description: The friendly name for this workspace. This name in mutable
        type: string
      keyVault:
        description: ARM id of the key vault associated with this workspace. This cannot be changed once the workspace has been created
        type: string
      provisioningState:
        description: The current deployment state of workspace resource. The provisioningState is to indicate states for resource provisioning.
        enum:
          - Unknown
          - Updating
          - Creating
          - Deleting
          - Succeeded
          - Failed
          - Canceled
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProvisioningState
      storageAccount:
        description: ARM id of the storage account associated with this workspace. This cannot be changed once the workspace has been created
        type: string
      workspaceId:
        description: The immutable id associated with this workspace.
        readOnly: true
        type: string
    type: object
  WorkspacePropertiesUpdateParameters:
    description: The parameters for updating the properties of a machine learning workspace.
    properties:
      description:
        description: The description of this workspace.
        type: string
      friendlyName:
        description: The friendly name for this workspace.
        type: string
  WorkspaceUpdateParameters:
    description: The parameters for updating a machine learning workspace.
    properties:
      properties:
        $ref: "#/definitions/WorkspacePropertiesUpdateParameters"
        description: The properties that the machine learning workspace will be updated with.
        x-ms-client-flatten: true
      tags:
        additionalProperties:
          type: string
        description: The resource tags for the machine learning workspace.
        type: object
