swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Consumption management client provides access to consumption resources for Azure Enterprise Subscriptions.
  title: ConsumptionManagementClient
  version: 2018-05-31
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/consumption/resource-manager/Microsoft.Consumption/stable/2018-05-31/consumption.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: consumption
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: Version of the API to be used with the client request. The current version is 2018-05-31.
    in: query
    name: api-version
    required: true
    type: string
  billingAccountIdParameter:
    description: BillingAccount ID
    in: path
    name: billingAccountId
    required: true
    type: string
    x-ms-parameter-location: method
  billingPeriodNameParameter:
    description: Billing Period Name.
    in: path
    name: billingPeriodName
    required: true
    type: string
    x-ms-parameter-location: method
  departmentIdParameter:
    description: Department ID
    in: path
    name: departmentId
    required: true
    type: string
    x-ms-parameter-location: method
  enrollmentAccountIdParameter:
    description: EnrollmentAccount ID
    in: path
    name: enrollmentAccountId
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionIdParameter:
    description: Azure Subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/usageDetails":
    get:
      description: Lists the usage details based on billingAccountId for a scope by billing period. Usage details are available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: UsageDetails_ListForBillingPeriodByBillingAccount
      parameters:
        - $ref: "#/parameters/billingAccountIdParameter"
        - $ref: "#/parameters/billingPeriodNameParameter"
        - description: May be used to expand the properties/additionalProperties or properties/meterDetails within a list of usage details. By default, these fields are not included when listing usage details.
          in: query
          name: $expand
          required: false
          type: string
        - description: May be used to filter usageDetails by properties/usageEnd (Utc time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).
          in: query
          name: $filter
          required: false
          type: string
        - description: OData apply expression to aggregate usageDetails by tags or (tags and properties/usageStart) for specified billing period
          in: query
          name: $apply
          required: false
          type: string
          x-ms-client-name: Apply
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        - description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          type: string
        - description: May be used to limit the number of results to the most recent N usageDetails.
          in: query
          maximum: 1000
          minimum: 1
          name: $top
          required: false
          type: integer
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/UsageDetailsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - UsageDetails
      x-ms-examples:
        UsageDetailsListForBillingPeriod:
          parameters:
            api-version: 2018-05-31
            billingAccountId: "1234"
            billingPeriodName: "201702"
          responses:
            "200":
              body:
                value:
                  - id: /providers/Microsoft.Billing/BillingAccounts/1234/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/usageDetails/usageDetailsId1
                    name: usageDetailsId1
                    properties:
                      billableQuantity: 0.00328
                      billingPeriodId: /providers/Microsoft.Billing/BillingAccounts/1234/providers/Microsoft.Billing/billingPeriods/201702
                      chargesBilledSeparately: true
                      currency: USD
                      instanceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                      instanceLocation: eastasia
                      instanceName: shared1
                      invoiceId: /providers/Microsoft.Billing/BillingAccounts/1234/providers/Microsoft.Billing/invoices/201703-123456789
                      isEstimated: false
                      meterId: 00000000-0000-0000-0000-000000000000
                      offerId: Offer Id 1
                      partNumber: Part Number 1
                      pretaxCost: 0.67
                      resourceGuid: 00000000-0000-0000-0000-000000000000
                      usageEnd: 2017-02-13T23:59:59Z
                      usageQuantity: 0.00328
                      usageStart: 2017-02-13T00:00:00Z
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/usageDetails
      x-ms-pageable:
        nextLinkName: nextLink
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/usageDetails":
    get:
      description: Lists the usage details by billingAccountId for a scope by current billing period. Usage details are available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: UsageDetails_ListByBillingAccount
      parameters:
        - $ref: "#/parameters/billingAccountIdParameter"
        - description: May be used to expand the properties/additionalProperties or properties/meterDetails within a list of usage details. By default, these fields are not included when listing usage details.
          in: query
          name: $expand
          required: false
          type: string
        - description: May be used to filter usageDetails by properties/usageEnd (Utc time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName, properties/instanceId or tags. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).
          in: query
          name: $filter
          required: false
          type: string
        - description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          type: string
        - description: May be used to limit the number of results to the most recent N usageDetails.
          in: query
          maximum: 1000
          minimum: 1
          name: $top
          required: false
          type: integer
        - description: OData apply expression to aggregate usageDetails by tags or (tags and properties/usageStart)
          in: query
          name: $apply
          required: false
          type: string
          x-ms-client-name: Apply
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/UsageDetailsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - UsageDetails
      x-ms-examples:
        UsageDetailsList:
          parameters:
            api-version: 2018-05-31
            billingAccountId: "1234"
          responses:
            "200":
              body:
                value:
                  - id: /providers/Microsoft.Billing/BillingAccounts/1234/providers/Microsoft.Consumption/usageDetails/usageDetailsId1
                    name: usageDetailsId1
                    properties:
                      billableQuantity: 0.00328
                      billingPeriodId: /providers/Microsoft.Billing/BillingAccounts/1234/providers/Microsoft.Billing/billingPeriods/201702
                      chargesBilledSeparately: true
                      currency: USD
                      instanceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                      instanceLocation: eastasia
                      instanceName: shared1
                      invoiceId: /providers/Microsoft.Billing/BillingAccounts/1234/providers/Microsoft.Billing/invoices/201703-123456789
                      isEstimated: false
                      meterId: 00000000-0000-0000-0000-000000000000
                      offerId: Offer Id 1
                      partNumber: Part Number 1
                      pretaxCost: 0.67
                      resourceGuid: 00000000-0000-0000-0000-000000000000
                      usageEnd: 2017-02-13T23:59:59Z
                      usageQuantity: 0.00328
                      usageStart: 2017-02-13T00:00:00Z
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/usageDetails
      x-ms-pageable:
        nextLinkName: nextLink
  "/providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/usageDetails":
    get:
      description: Lists the usage details based on departmentId for a scope by billing period. Usage details are available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: UsageDetails_ListForBillingPeriodByDepartment
      parameters:
        - $ref: "#/parameters/departmentIdParameter"
        - $ref: "#/parameters/billingPeriodNameParameter"
        - description: May be used to expand the properties/additionalProperties or properties/meterDetails within a list of usage details. By default, these fields are not included when listing usage details.
          in: query
          name: $expand
          required: false
          type: string
        - description: May be used to filter usageDetails by properties/usageEnd (Utc time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).
          in: query
          name: $filter
          required: false
          type: string
        - description: OData apply expression to aggregate usageDetails by tags or (tags and properties/usageStart) for specified billing period
          in: query
          name: $apply
          required: false
          type: string
          x-ms-client-name: Apply
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        - description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          type: string
        - description: May be used to limit the number of results to the most recent N usageDetails.
          in: query
          maximum: 1000
          minimum: 1
          name: $top
          required: false
          type: integer
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/UsageDetailsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - UsageDetails
      x-ms-examples:
        UsageDetailsListForBillingPeriod:
          parameters:
            api-version: 2018-05-31
            billingPeriodName: "201702"
            departmentId: "1234"
          responses:
            "200":
              body:
                value:
                  - id: /providers/Microsoft.Billing/Departments/1234/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/usageDetails/usageDetailsId1
                    name: usageDetailsId1
                    properties:
                      billableQuantity: 0.00328
                      billingPeriodId: /providers/Microsoft.Billing/Departments/1234/providers/Microsoft.Billing/billingPeriods/201702
                      chargesBilledSeparately: true
                      currency: USD
                      instanceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                      instanceLocation: eastasia
                      instanceName: shared1
                      invoiceId: /providers/Microsoft.Billing/Departments/1234/providers/Microsoft.Billing/invoices/201703-123456789
                      isEstimated: false
                      meterId: 00000000-0000-0000-0000-000000000000
                      offerId: Offer Id 1
                      partNumber: Part Number 1
                      pretaxCost: 0.67
                      resourceGuid: 00000000-0000-0000-0000-000000000000
                      usageEnd: 2017-02-13T23:59:59Z
                      usageQuantity: 0.00328
                      usageStart: 2017-02-13T00:00:00Z
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/usageDetails
      x-ms-pageable:
        nextLinkName: nextLink
  "/providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.Consumption/usageDetails":
    get:
      description: Lists the usage details by departmentId for a scope by current billing period. Usage details are available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: UsageDetails_ListByDepartment
      parameters:
        - $ref: "#/parameters/departmentIdParameter"
        - description: May be used to expand the properties/additionalProperties or properties/meterDetails within a list of usage details. By default, these fields are not included when listing usage details.
          in: query
          name: $expand
          required: false
          type: string
        - description: May be used to filter usageDetails by properties/usageEnd (Utc time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName, properties/instanceId or tags. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).
          in: query
          name: $filter
          required: false
          type: string
        - description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          type: string
        - description: May be used to limit the number of results to the most recent N usageDetails.
          in: query
          maximum: 1000
          minimum: 1
          name: $top
          required: false
          type: integer
        - description: OData apply expression to aggregate usageDetails by tags or (tags and properties/usageStart)
          in: query
          name: $apply
          required: false
          type: string
          x-ms-client-name: Apply
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/UsageDetailsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - UsageDetails
      x-ms-examples:
        UsageDetailsList:
          parameters:
            api-version: 2018-05-31
            departmentId: "1234"
          responses:
            "200":
              body:
                value:
                  - id: /providers/Microsoft.Billing/Departments/1234/providers/Microsoft.Consumption/usageDetails/usageDetailsId1
                    name: usageDetailsId1
                    properties:
                      billableQuantity: 0.00328
                      billingPeriodId: /providers/Microsoft.Billing/Departments/1234/providers/Microsoft.Billing/billingPeriods/201702
                      chargesBilledSeparately: true
                      currency: USD
                      instanceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                      instanceLocation: eastasia
                      instanceName: shared1
                      invoiceId: /providers/Microsoft.Billing/Departments/1234/providers/Microsoft.Billing/invoices/201703-123456789
                      isEstimated: false
                      meterId: 00000000-0000-0000-0000-000000000000
                      offerId: Offer Id 1
                      partNumber: Part Number 1
                      pretaxCost: 0.67
                      resourceGuid: 00000000-0000-0000-0000-000000000000
                      usageEnd: 2017-02-13T23:59:59Z
                      usageQuantity: 0.00328
                      usageStart: 2017-02-13T00:00:00Z
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/usageDetails
      x-ms-pageable:
        nextLinkName: nextLink
  "/providers/Microsoft.Billing/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/usageDetails":
    get:
      description: Lists the usage details based on enrollmentAccountId for a scope by billing period. Usage details are available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: UsageDetails_ListForBillingPeriodByEnrollmentAccount
      parameters:
        - $ref: "#/parameters/enrollmentAccountIdParameter"
        - $ref: "#/parameters/billingPeriodNameParameter"
        - description: May be used to expand the properties/additionalProperties or properties/meterDetails within a list of usage details. By default, these fields are not included when listing usage details.
          in: query
          name: $expand
          required: false
          type: string
        - description: May be used to filter usageDetails by properties/usageEnd (Utc time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).
          in: query
          name: $filter
          required: false
          type: string
        - description: OData apply expression to aggregate usageDetails by tags or (tags and properties/usageStart) for specified billing period
          in: query
          name: $apply
          required: false
          type: string
          x-ms-client-name: Apply
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        - description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          type: string
        - description: May be used to limit the number of results to the most recent N usageDetails.
          in: query
          maximum: 1000
          minimum: 1
          name: $top
          required: false
          type: integer
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/UsageDetailsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - UsageDetails
      x-ms-examples:
        UsageDetailsListForBillingPeriod:
          parameters:
            api-version: 2018-05-31
            billingPeriodName: "201702"
            enrollmentAccountId: "1234"
          responses:
            "200":
              body:
                value:
                  - id: /providers/Microsoft.Billing/EnrollmentAccounts/1234/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/usageDetails/usageDetailsId1
                    name: usageDetailsId1
                    properties:
                      billableQuantity: 0.00328
                      billingPeriodId: /providers/Microsoft.Billing/EnrollmentAccounts/1234/providers/Microsoft.Billing/billingPeriods/201702
                      chargesBilledSeparately: true
                      currency: USD
                      instanceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                      instanceLocation: eastasia
                      instanceName: shared1
                      invoiceId: /providers/Microsoft.Billing/EnrollmentAccounts/1234/providers/Microsoft.Billing/invoices/201703-123456789
                      isEstimated: false
                      meterId: 00000000-0000-0000-0000-000000000000
                      offerId: Offer Id 1
                      partNumber: Part Number 1
                      pretaxCost: 0.67
                      resourceGuid: 00000000-0000-0000-0000-000000000000
                      usageEnd: 2017-02-13T23:59:59Z
                      usageQuantity: 0.00328
                      usageStart: 2017-02-13T00:00:00Z
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/usageDetails
      x-ms-pageable:
        nextLinkName: nextLink
  "/providers/Microsoft.Billing/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.Consumption/usageDetails":
    get:
      description: Lists the usage details by enrollmentAccountId for a scope by current billing period. Usage details are available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: UsageDetails_ListByEnrollmentAccount
      parameters:
        - $ref: "#/parameters/enrollmentAccountIdParameter"
        - description: May be used to expand the properties/additionalProperties or properties/meterDetails within a list of usage details. By default, these fields are not included when listing usage details.
          in: query
          name: $expand
          required: false
          type: string
        - description: May be used to filter usageDetails by properties/usageEnd (Utc time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName, properties/instanceId or tags. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).
          in: query
          name: $filter
          required: false
          type: string
        - description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          type: string
        - description: May be used to limit the number of results to the most recent N usageDetails.
          in: query
          maximum: 1000
          minimum: 1
          name: $top
          required: false
          type: integer
        - description: OData apply expression to aggregate usageDetails by tags or (tags and properties/usageStart)
          in: query
          name: $apply
          required: false
          type: string
          x-ms-client-name: Apply
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/UsageDetailsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - UsageDetails
      x-ms-examples:
        UsageDetailsList:
          parameters:
            api-version: 2018-05-31
            enrollmentAccountId: "1234"
          responses:
            "200":
              body:
                value:
                  - id: /providers/Microsoft.Billing/EnrollmentAccounts/1234/providers/Microsoft.Consumption/usageDetails/usageDetailsId1
                    name: usageDetailsId1
                    properties:
                      billableQuantity: 0.00328
                      billingPeriodId: /providers/Microsoft.Billing/EnrollmentAccounts/1234/providers/Microsoft.Billing/billingPeriods/201702
                      chargesBilledSeparately: true
                      currency: USD
                      instanceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                      instanceLocation: eastasia
                      instanceName: shared1
                      invoiceId: /providers/Microsoft.Billing/EnrollmentAccounts/1234/providers/Microsoft.Billing/invoices/201703-123456789
                      isEstimated: false
                      meterId: 00000000-0000-0000-0000-000000000000
                      offerId: Offer Id 1
                      partNumber: Part Number 1
                      pretaxCost: 0.67
                      resourceGuid: 00000000-0000-0000-0000-000000000000
                      usageEnd: 2017-02-13T23:59:59Z
                      usageQuantity: 0.00328
                      usageStart: 2017-02-13T00:00:00Z
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/usageDetails
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Consumption/operations:
    get:
      description: Lists all of the available consumption REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/OperationListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Operations
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/pricesheets/default":
    get:
      description: Get the price sheet for a scope by subscriptionId and billing period. Price sheet is available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: PriceSheet_GetByBillingPeriod
      parameters:
        - description: May be used to expand the properties/meterDetails within a price sheet. By default, these fields are not included when returning price sheet.
          in: query
          name: $expand
          required: false
          type: string
        - description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          type: string
        - description: May be used to limit the number of results to the top N results.
          in: query
          maximum: 1000
          minimum: 1
          name: $top
          required: false
          type: integer
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/billingPeriodNameParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/PriceSheetResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - PriceSheet
      x-ms-examples:
        PriceSheetExpand:
          parameters:
            $expand: meterDetails
            api-version: 2018-05-31
            billingPeriodName: "201801"
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/pricesheets/default
                name: default
                properties:
                  nextLink: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.consumption/pricesheets/default?api-version=2018-01-31&$skiptoken=AQAAAA%3D%3D&$expand=properties/pricesheets/meterDetails
                  pricesheets:
                    - billingPeriodId: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201702
                      currencyCode: EUR
                      includedQuantity: 100
                      meterDetails:
                        meterCategory: Networking
                        meterLocation: Zone 2
                        meterName: Data Transfer Out (GB)
                        pretaxStandardRate: 0.138
                        totalIncludedQuantity: 0
                        unit: GB
                      meterId: 00000000-0000-0000-0000-000000000000
                      offerId: OfferId 1
                      partNumber: XX-11110
                      unitOfMeasure: 100 Hours
                      unitPrice: 0.00328
                type: Microsoft.Consumption/pricesheets
        PriceSheetForBillingPeriod:
          parameters:
            api-version: 2018-05-31
            billingPeriodName: "201801"
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/pricesheets/default
                name: default
                properties:
                  nextLink: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201702/providers/microsoft.consumption/pricesheets/default?api-version=2018-01-31
                  pricesheets:
                    - billingPeriodId: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201702
                      currencyCode: EUR
                      includedQuantity: 100
                      meterId: 00000000-0000-0000-0000-000000000000
                      offerId: OfferId 1
                      partNumber: XX-11110
                      unitOfMeasure: 100 Hours
                      unitPrice: 0.00328
                type: Microsoft.Consumption/pricesheets
  "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/usageDetails":
    get:
      description: Lists the usage details for a scope by billing period. Usage details are available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: UsageDetails_ListByBillingPeriod
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/billingPeriodNameParameter"
        - description: May be used to expand the properties/additionalProperties or properties/meterDetails within a list of usage details. By default, these fields are not included when listing usage details.
          in: query
          name: $expand
          required: false
          type: string
        - description: May be used to filter usageDetails by properties/usageEnd (Utc time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).
          in: query
          name: $filter
          required: false
          type: string
        - description: OData apply expression to aggregate usageDetails by tags or (tags and properties/usageStart) for specified billing period
          in: query
          name: $apply
          required: false
          type: string
          x-ms-client-name: Apply
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        - description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          type: string
        - description: May be used to limit the number of results to the most recent N usageDetails.
          in: query
          maximum: 1000
          minimum: 1
          name: $top
          required: false
          type: integer
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/UsageDetailsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - UsageDetails
      x-ms-examples:
        UsageDetailsExpand:
          parameters:
            $expand: meterDetails,additionalProperties
            $filter: properties/usageEnd ge '2018-01-14' AND properties/usageEnd le '2018-02-14' AND tags eq 'dev:tools'
            $top: 1
            api-version: 2018-05-31
            billingPeriodName: "201702"
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/usageDetails/usageDetailsId1
                    name: usageDetailsId1
                    properties:
                      accountName: My account name
                      additionalProperties: '{"MyType":"","ServiceType":"","VMName":"","UsageType":"MyUsage"}'
                      billableQuantity: 0.00328
                      billingPeriodId: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201702
                      chargesBilledSeparately: true
                      consumedService: My consumed service
                      costCenter: Cost center 1
                      currency: USD
                      departmentName: My department name
                      instanceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                      instanceLocation: eastasia
                      instanceName: shared1
                      invoiceId: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/invoices/201703-123456789
                      isEstimated: false
                      meterDetails:
                        meterCategory: Networking
                        meterLocation: Zone 2
                        meterName: Data Transfer Out (GB)
                        pretaxStandardRate: 0.138
                        totalIncludedQuantity: 0
                        unit: GB
                      meterId: 00000000-0000-0000-0000-000000000000
                      offerId: Offer Id 1
                      partNumber: Part Number 1
                      pretaxCost: 0.67
                      product: My product name
                      resourceGuid: 00000000-0000-0000-0000-000000000000
                      subscriptionGuid: 00000000-0000-0000-0000-000000000000
                      subscriptionName: Dummy subscription
                      usageEnd: 2017-02-13T23:59:59Z
                      usageQuantity: 0.00328
                      usageStart: 2017-02-13T00:00:00Z
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/usageDetails
        UsageDetailsListForBillingPeriod:
          parameters:
            api-version: 2018-05-31
            billingPeriodName: "201702"
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/usageDetails/usageDetailsId1
                    name: usageDetailsId1
                    properties:
                      billableQuantity: 0.00328
                      billingPeriodId: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201702
                      chargesBilledSeparately: true
                      currency: USD
                      instanceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                      instanceLocation: eastasia
                      instanceName: shared1
                      invoiceId: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/invoices/201703-123456789
                      isEstimated: false
                      meterId: 00000000-0000-0000-0000-000000000000
                      offerId: Offer Id 1
                      partNumber: Part Number 1
                      pretaxCost: 0.67
                      resourceGuid: 00000000-0000-0000-0000-000000000000
                      usageEnd: 2017-02-13T23:59:59Z
                      usageQuantity: 0.00328
                      usageStart: 2017-02-13T00:00:00Z
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/usageDetails
        UsageDetailsListForBillingPeriodGroupByTag:
          parameters:
            $apply: groupby((tags))
            api-version: 2018-05-31
            billingPeriodName: "201803"
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/20180301/providers/Microsoft.Consumption/usageDetails/usageDetailsId1
                    name: usageDetailsId1
                    properties:
                      billingPeriodId: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/20180301
                      currency: USD
                      pretaxCost: 0
                      usageQuantity: 11.11111
                    tags:
                      description: Azure VCAP STA - RDS Server
                    type: Microsoft.Consumption/usageDetails
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/20180301/providers/Microsoft.Consumption/usageDetails/usageDetailsId1
                    name: usageDetailsId1
                    properties:
                      billingPeriodId: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/20180301
                      currency: USD
                      pretaxCost: 0
                      usageQuantity: 111.11111111111
                    tags:
                      description: Domain controller - STA
                    type: Microsoft.Consumption/usageDetails
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Consumption/forecasts":
    get:
      description: Lists the forecast charges by subscriptionId.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: Forecasts_List
      parameters:
        - description: May be used to filter forecasts by properties/usageDate (Utc time), properties/chargeType or properties/grain. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'.
          in: query
          name: $filter
          required: false
          type: string
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ForecastsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Forecasts
      x-ms-examples:
        ForecastsList:
          parameters:
            api-version: 2018-05-31
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/providers/Microsoft.Consumption/forecasts/forecastId1
                    name: forecastId1
                    properties:
                      charge: 752
                      chargeType: Actual
                      confidenceLevels: null
                      currency: USD
                      grain: Daily
                      usageDate: 2018-04-01
                    type: Microsoft.Consumption/forecasts
                  - id: /subscriptions/subid/providers/Microsoft.Consumption/forecasts/forecastId2
                    name: forecastId2
                    properties:
                      charge: 753.809074
                      chargeType: Forecast
                      confidenceLevels:
                        - bound: Upper
                          percentage: 95
                          value: 1165.951737
                        - bound: Lower
                          percentage: 95
                          value: 340.753404
                      currency: USD
                      grain: Daily
                      usageDate: 2018-04-02
                    type: Microsoft.Consumption/forecasts
        ForecastsListFilterByDates:
          parameters:
            $filter: usagedate ge '2018-04-01' AND usagedate le '2018-04-02'
            api-version: 2018-05-31
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/providers/Microsoft.Consumption/forecasts/forecastId1
                    name: forecastId1
                    properties:
                      charge: 752
                      chargeType: Actual
                      confidenceLevels: null
                      currency: USD
                      grain: Daily
                      usageDate: 2018-04-01
                    type: Microsoft.Consumption/forecasts
                  - id: /subscriptions/subid/providers/Microsoft.Consumption/forecasts/forecastId2
                    name: forecastId2
                    properties:
                      charge: 753.809074
                      chargeType: Forecast
                      confidenceLevels:
                        - bound: Upper
                          percentage: 95
                          value: 1165.951737
                        - bound: Lower
                          percentage: 95
                          value: 340.753404
                      currency: USD
                      grain: Daily
                      usageDate: 2018-04-02
                    type: Microsoft.Consumption/forecasts
        ForecastsListFilterByGrain:
          parameters:
            $filter: Grain eq 'Monthly'
            api-version: 2018-05-31
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/providers/Microsoft.Consumption/forecasts/forecastId1
                    name: forecastId1
                    properties:
                      charge: 752
                      chargeType: Actual
                      confidenceLevels: null
                      currency: USD
                      grain: Monthly
                      usageDate: 2018-04-01
                    type: Microsoft.Consumption/forecasts
                  - id: /subscriptions/subid/providers/Microsoft.Consumption/forecasts/forecastId2
                    name: forecastId2
                    properties:
                      charge: 753.809074
                      chargeType: Forecast
                      confidenceLevels:
                        - bound: Upper
                          percentage: 95
                          value: 1165.951737
                        - bound: Lower
                          percentage: 95
                          value: 340.753404
                      currency: USD
                      grain: Monthly
                      usageDate: 2018-05-01
                    type: Microsoft.Consumption/forecasts
      x-ms-odata: "#/definitions/Forecast"
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/providers/Microsoft.Consumption/pricesheets/default":
    get:
      description: Gets the price sheet for a scope by subscriptionId. Price sheet is available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: PriceSheet_Get
      parameters:
        - description: May be used to expand the properties/meterDetails within a price sheet. By default, these fields are not included when returning price sheet.
          in: query
          name: $expand
          required: false
          type: string
        - description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          type: string
        - description: May be used to limit the number of results to the top N results.
          in: query
          maximum: 1000
          minimum: 1
          name: $top
          required: false
          type: integer
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/PriceSheetResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - PriceSheet
      x-ms-examples:
        PriceSheet:
          parameters:
            api-version: 2018-05-31
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/pricesheets/default
                name: default
                properties:
                  nextLink: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/microsoft.consumption/pricesheets/default?api-version=2018-01-31&$skiptoken=AQAAAA%3D%3D
                  pricesheets:
                    - billingPeriodId: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201702
                      currencyCode: EUR
                      includedQuantity: 100
                      meterId: 00000000-0000-0000-0000-000000000000
                      offerId: OfferId 1
                      partNumber: XX-11110
                      unitOfMeasure: 100 Hours
                      unitPrice: 0.00328
                type: Microsoft.Consumption/pricesheets
  "/subscriptions/{subscriptionId}/providers/Microsoft.Consumption/usageDetails":
    get:
      description: Lists the usage details for a scope by current billing period. Usage details are available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: UsageDetails_List
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - description: May be used to expand the properties/additionalProperties or properties/meterDetails within a list of usage details. By default, these fields are not included when listing usage details.
          in: query
          name: $expand
          required: false
          type: string
        - description: May be used to filter usageDetails by properties/usageEnd (Utc time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName, properties/instanceId or tags. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).
          in: query
          name: $filter
          required: false
          type: string
        - description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          type: string
        - description: May be used to limit the number of results to the most recent N usageDetails.
          in: query
          maximum: 1000
          minimum: 1
          name: $top
          required: false
          type: integer
        - description: OData apply expression to aggregate usageDetails by tags or (tags and properties/usageStart)
          in: query
          name: $apply
          required: false
          type: string
          x-ms-client-name: Apply
          x-ms-parameter-grouping:
            name: QueryOptions
          x-ms-parameter-location: method
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/UsageDetailsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - UsageDetails
      x-ms-examples:
        UsageDetailsList:
          parameters:
            api-version: 2018-05-31
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/usageDetails/usageDetailsId1
                    name: usageDetailsId1
                    properties:
                      billableQuantity: 0.00328
                      billingPeriodId: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201702
                      chargesBilledSeparately: true
                      currency: USD
                      instanceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                      instanceLocation: eastasia
                      instanceName: shared1
                      invoiceId: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/invoices/201703-123456789
                      isEstimated: false
                      meterId: 00000000-0000-0000-0000-000000000000
                      offerId: Offer Id 1
                      partNumber: Part Number 1
                      pretaxCost: 0.67
                      resourceGuid: 00000000-0000-0000-0000-000000000000
                      usageEnd: 2017-02-13T23:59:59Z
                      usageQuantity: 0.00328
                      usageStart: 2017-02-13T00:00:00Z
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/usageDetails
        UsageDetailsListFilterByTag:
          parameters:
            $filter: tags eq 'dev:tools'
            api-version: 2018-05-31
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Consumption/usageDetails/usageDetailsId1
                    name: usageDetailsId1
                    properties:
                      billableQuantity: 0.00328
                      billingPeriodId: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/201702
                      chargesBilledSeparately: true
                      currency: USD
                      instanceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                      instanceLocation: eastasia
                      instanceName: shared1
                      invoiceId: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/invoices/201703-123456789
                      isEstimated: false
                      meterId: 00000000-0000-0000-0000-000000000000
                      offerId: Offer Id 1
                      partNumber: Part Number 1
                      pretaxCost: 0.67
                      resourceGuid: 00000000-0000-0000-0000-000000000000
                      usageEnd: 2017-02-13T23:59:59Z
                      usageQuantity: 0.00328
                      usageStart: 2017-02-13T00:00:00Z
                    tags:
                      dev: tools
                    type: Microsoft.Consumption/usageDetails
        UsageDetailsListGroupByTagDate:
          parameters:
            $apply: groupby((tags,properties/usageStart))
            api-version: 2018-05-31
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/20180301/providers/Microsoft.Consumption/usageDetails/usageDetailsId1
                    name: usageDetailsId1
                    properties:
                      billingPeriodId: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/20180301
                      currency: USD
                      pretaxCost: 0
                      usageEnd: 2018-03-01T23:59:59.0000000Z
                      usageQuantity: 11.11111
                      usageStart: 2018-03-01T00:00:00.0000000Z
                    tags:
                      description: Azure VCAP STA - RDS Server
                    type: Microsoft.Consumption/usageDetails
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/20180301/providers/Microsoft.Consumption/usageDetails/usageDetailsId1
                    name: usageDetailsId1
                    properties:
                      billingPeriodId: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Billing/billingPeriods/20180301
                      currency: USD
                      pretaxCost: 0
                      usageEnd: 2018-03-02T23:59:59.0000000Z
                      usageQuantity: 1.11111111111
                      usageStart: 2018-03-02T00:00:00.0000000Z
                    tags:
                      description: Azure VCAP STA - RDS Server
                    type: Microsoft.Consumption/usageDetails
      x-ms-pageable:
        nextLinkName: nextLink
definitions:
  ErrorDetails:
    description: The details of the error.
    properties:
      code:
        description: Error code.
        readOnly: true
        type: string
      message:
        description: Error message indicating why the operation failed.
        readOnly: true
        type: string
  ErrorResponse:
    description: Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.
    properties:
      error:
        $ref: "#/definitions/ErrorDetails"
        description: The details of the error.
    type: object
  Forecast:
    allOf:
      - $ref: "#/definitions/Resource"
    description: A forecast resource.
    properties:
      properties:
        $ref: "#/definitions/ForecastProperties"
        title: Forecast properties
        x-ms-client-flatten: true
    type: object
  ForecastProperties:
    description: The properties of the forecast charge.
    properties:
      charge:
        description: The amount of charge
        format: decimal
        readOnly: true
        type: number
      chargeType:
        description: The type of the charge. Could be actual or forecast
        enum:
          - Actual
          - Forecast
        type: string
        x-ms-enum:
          modelAsString: true
          name: ChargeType
      confidenceLevels:
        description: The details about the forecast confidence levels. This is populated only when chargeType is Forecast.
        items:
          properties:
            bound:
              description: The boundary of the percentage, values could be 'Upper' or 'Lower'
              enum:
                - Upper
                - Lower
              type: string
              x-ms-enum:
                modelAsString: true
                name: Bound
            percentage:
              description: The percentage level of the confidence
              format: decimal
              readOnly: true
              type: number
            value:
              description: The amount of forecast within the percentage level
              format: decimal
              readOnly: true
              type: number
          type: object
        readOnly: true
        type: array
      currency:
        description: The ISO currency in which the meter is charged, for example, USD.
        readOnly: true
        type: string
      grain:
        description: The granularity of forecast.
        enum:
          - Daily
          - Monthly
          - Yearly
        type: string
        x-ms-enum:
          modelAsString: true
          name: Grain
      usageDate:
        description: The usage date of the forecast.
        readOnly: true
        type: string
    type: object
  ForecastsListResult:
    description: Result of listing forecasts. It contains a list of available forecasts.
    properties:
      value:
        description: The list of forecasts.
        items:
          $ref: "#/definitions/Forecast"
        readOnly: true
        type: array
    type: object
  MeterDetails:
    description: The properties of the meter detail.
    properties:
      meterCategory:
        description: The category of the meter, for example, 'Cloud services', 'Networking', etc..
        readOnly: true
        type: string
      meterLocation:
        description: The location in which the Azure service is available.
        readOnly: true
        type: string
      meterName:
        description: The name of the meter, within the given meter category
        readOnly: true
        type: string
      meterSubCategory:
        description: The subcategory of the meter, for example, 'A6 Cloud services', 'ExpressRoute (IXP)', etc..
        readOnly: true
        type: string
      pretaxStandardRate:
        description: The pretax listing price.
        format: decimal
        readOnly: true
        type: number
      totalIncludedQuantity:
        description: The total included quantity associated with the offer.
        format: decimal
        readOnly: true
        type: number
      unit:
        description: The unit in which the meter consumption is charged, for example, 'Hours', 'GB', etc.
        readOnly: true
        type: string
  Operation:
    description: A Consumption REST API operation.
    properties:
      display:
        description: The object that represents the operation.
        properties:
          operation:
            description: "Operation type: Read, write, delete, etc."
            readOnly: true
            type: string
          provider:
            description: "Service provider: Microsoft.Consumption."
            readOnly: true
            type: string
          resource:
            description: "Resource on which the operation is performed: UsageDetail, etc."
            readOnly: true
            type: string
      name:
        description: "Operation name: {provider}/{resource}/{operation}."
        readOnly: true
        type: string
    type: object
  OperationListResult:
    description: Result of listing consumption operations. It contains a list of operations and a URL link to get the next set of results.
    properties:
      nextLink:
        description: URL to get the next set of operation list results if there are any.
        readOnly: true
        type: string
      value:
        description: List of consumption operations supported by the Microsoft.Consumption resource provider.
        items:
          $ref: "#/definitions/Operation"
        readOnly: true
        type: array
  PriceSheetModel:
    description: price sheet result. It contains the pricesheet associated with billing period
    properties:
      nextLink:
        description: The link (url) to the next page of results.
        readOnly: true
        type: string
      pricesheets:
        description: Price sheet
        items:
          $ref: "#/definitions/PriceSheetProperties"
        readOnly: true
        type: array
  PriceSheetProperties:
    description: The properties of the price sheet.
    properties:
      billingPeriodId:
        description: The id of the billing period resource that the usage belongs to.
        readOnly: true
        type: string
      currencyCode:
        description: Currency Code
        readOnly: true
        type: string
      includedQuantity:
        description: Included quality for an offer
        format: decimal
        readOnly: true
        type: number
      meterDetails:
        $ref: "#/definitions/MeterDetails"
        description: The details about the meter. By default this is not populated, unless it's specified in $expand.
        readOnly: true
      meterId:
        description: The meter id (GUID)
        format: uuid
        readOnly: true
        type: string
      offerId:
        description: Offer Id
        readOnly: true
        type: string
      partNumber:
        description: Part Number
        readOnly: true
        type: string
      unitOfMeasure:
        description: Unit of measure
        readOnly: true
        type: string
      unitPrice:
        description: Unit Price
        format: decimal
        readOnly: true
        type: number
  PriceSheetResult:
    allOf:
      - $ref: "#/definitions/Resource"
    description: An pricesheet resource.
    properties:
      properties:
        $ref: "#/definitions/PriceSheetModel"
        title: Price sheet properties
        x-ms-client-flatten: true
    type: object
  Resource:
    description: The Resource model definition.
    properties:
      id:
        description: Resource Id.
        readOnly: true
        type: string
      name:
        description: Resource name.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags.
        readOnly: true
        type: object
      type:
        description: Resource type.
        readOnly: true
        type: string
    x-ms-azure-resource: true
  UsageDetail:
    allOf:
      - $ref: "#/definitions/Resource"
    description: An usage detail resource.
    properties:
      properties:
        $ref: "#/definitions/UsageDetailProperties"
        title: Usage detail properties
        x-ms-client-flatten: true
    type: object
  UsageDetailProperties:
    description: The properties of the usage detail.
    properties:
      accountName:
        description: Account name.
        readOnly: true
        type: string
      additionalProperties:
        description: Additional details of this usage item. By default this is not populated, unless it's specified in $expand.
        readOnly: true
        type: string
      billableQuantity:
        description: The billable usage quantity.
        format: decimal
        readOnly: true
        type: number
      billingPeriodId:
        description: The id of the billing period resource that the usage belongs to.
        readOnly: true
        type: string
      chargesBilledSeparately:
        description: Charges billed separately
        readOnly: true
        type: boolean
      consumedService:
        description: Consumed service name.
        readOnly: true
        type: string
      costCenter:
        description: The cost center of this department if it is a department and a costcenter exists
        readOnly: true
        type: string
      currency:
        description: The ISO currency in which the meter is charged, for example, USD.
        readOnly: true
        type: string
      departmentName:
        description: Department name.
        readOnly: true
        type: string
      instanceId:
        description: The uri of the resource instance that the usage is about.
        readOnly: true
        type: string
      instanceLocation:
        description: The location of the resource instance that the usage is about.
        readOnly: true
        type: string
      instanceName:
        description: The name of the resource instance that the usage is about.
        readOnly: true
        type: string
      invoiceId:
        description: The id of the invoice resource that the usage belongs to.
        readOnly: true
        type: string
      isEstimated:
        description: The estimated usage is subject to change.
        readOnly: true
        type: boolean
      meterDetails:
        $ref: "#/definitions/MeterDetails"
        description: The details about the meter. By default this is not populated, unless it's specified in $expand.
        readOnly: true
      meterId:
        description: The meter id (GUID).
        format: uuid
        readOnly: true
        type: string
      offerId:
        description: Offer Id
        readOnly: true
        type: string
      partNumber:
        description: Part Number
        readOnly: true
        type: string
      pretaxCost:
        description: The amount of cost before tax.
        format: decimal
        readOnly: true
        type: number
      product:
        description: Product name.
        readOnly: true
        type: string
      resourceGuid:
        description: Resource Guid
        readOnly: true
        type: string
      subscriptionGuid:
        description: Subscription guid.
        format: uuid
        readOnly: true
        type: string
      subscriptionName:
        description: Subscription name.
        readOnly: true
        type: string
      usageEnd:
        description: The end of the date time range covered by the usage detail.
        format: date-time
        readOnly: true
        type: string
      usageQuantity:
        description: The quantity of usage.
        format: decimal
        readOnly: true
        type: number
      usageStart:
        description: The start of the date time range covered by the usage detail.
        format: date-time
        readOnly: true
        type: string
  UsageDetailsListResult:
    description: Result of listing usage details. It contains a list of available usage details in reverse chronological order by billing period.
    properties:
      nextLink:
        description: The link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        description: The list of usage details.
        items:
          $ref: "#/definitions/UsageDetail"
        readOnly: true
        type: array
