swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: ServiceFabricManagementClient
  version: 2016-09-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/servicefabric/resource-manager/Microsoft.ServiceFabric/stable/2016-09-01/servicefabric.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: servicefabric
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  api-version:
    description: The version of the ServiceFabric resource provider api
    in: query
    name: api-version
    required: true
    type: string
  clusterNameParameter:
    description: The name of the cluster resource
    in: path
    name: clusterName
    required: true
    type: string
    x-ms-parameter-location: method
  clusterVersion:
    description: The cluster code version
    in: path
    name: clusterVersion
    required: true
    type: string
    x-ms-parameter-location: method
  environment:
    description: Cluster operating system, the default means all
    enum:
      - Windows
      - Linux
    in: path
    name: environment
    required: true
    type: string
    x-ms-parameter-location: method
  locationForClusterCodeVersions:
    description: The location for the cluster code versions, this is different from cluster location
    in: path
    name: location
    required: true
    type: string
    x-ms-parameter-location: method
  resourceGroupNameParameter:
    description: The name of the resource group to which the resource belongs or get created
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionId:
    description: The customer subscription identifier
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.ServiceFabric/operations:
    get:
      description: Lists all of the available ServiceFabric REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/OperationListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorModel"
      tags:
        - Operations
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/clusters":
    get:
      description: List cluster resource
      operationId: Clusters_List
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
      responses:
        "200":
          description: OK - Get cluster  successfully
          schema:
            $ref: "#/definitions/ClusterListResult"
      tags:
        - ClusterListOperation
      x-ms-examples:
        List clusters:
          parameters:
            api-version: 2016-09-01
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/bmwdemo/providers/Microsoft.ServiceFabric/clusters/bmwdemo
                    location: westus
                    name: bmwdemo
                    properties:
                      availableClusterVersions:
                        - codeVersion: 5.4.164.9494
                          environment: Windows
                          supportExpiryUtc: 9999-12-31T23:59:59.9999999
                      clientCertificateCommonNames: []
                      clientCertificateThumbprints: []
                      clusterCodeVersion: 5.4.164.9494
                      clusterEndpoint: https://westus.servicefabric.azure.com/runtime/clusters/a4e23572-8443-470e-adcb-3b7ebe6d582b
                      clusterId: a4e23572-8443-470e-adcb-3b7ebe6d582b
                      clusterState: Ready
                      diagnosticsStorageAccountConfig:
                        blobEndpoint: https://sflogsbmwdemo4564.blob.core.windows.net/
                        protectedAccountKeyName: StorageAccountKey1
                        queueEndpoint: https://sflogsbmwdemo4564.queue.core.windows.net/
                        storageAccountName: sflogsbmwdemo4564
                        tableEndpoint: https://sflogsbmwdemo4564.table.core.windows.net/
                      fabricSettings: []
                      managementEndpoint: http://bmwdemo.westus.cloudapp.azure.com:19080
                      nodeTypes:
                        - applicationPorts:
                            endPort: 30000
                            startPort: 20000
                          clientConnectionEndpointPort: 19000
                          durabilityLevel: Bronze
                          ephemeralPorts:
                            endPort: 65534
                            startPort: 49152
                          httpGatewayEndpointPort: 19080
                          isPrimary: true
                          name: Demo
                          vmInstanceCount: 5
                      provisioningState: Succeeded
                      reliabilityLevel: Silver
                      upgradeDescription:
                        deltaHealthPolicy:
                          maxPercentDeltaUnhealthyApplications: 0
                          maxPercentDeltaUnhealthyNodes: 0
                          maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                        forceRestart: true
                        healthCheckRetryTimeout: 00:45:00
                        healthCheckStableDuration: 00:05:00
                        healthCheckWaitDuration: 00:05:00
                        healthPolicy:
                          maxPercentUnhealthyApplications: 100
                          maxPercentUnhealthyNodes: 100
                        overrideUserUpgradePolicy: false
                        upgradeDomainTimeout: 02:00:00
                        upgradeReplicaSetCheckTimeout: 10675199.02:48:05.4775807
                        upgradeTimeout: 12:00:00
                      upgradeMode: Automatic
                      vmImage: Windows
                    tags:
                      clusterName: bmwdemo
                      resourceType: Service Fabric
                    type: Microsoft.ServiceFabric/clusters
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/psdeployrg4/providers/Microsoft.ServiceFabric/clusters/sfclust4
                    location: southcentralus
                    name: sfclust4
                    properties:
                      availableClusterVersions:
                        - codeVersion: 5.1.158.9590
                          environment: Windows
                          supportExpiryUtc: 9999-12-31T23:59:59.9999999
                        - codeVersion: 5.2.0.100
                          environment: Windows
                          supportExpiryUtc: 9999-12-31T23:59:59.9999999
                        - codeVersion: 5.2.207.9590
                          environment: Windows
                          supportExpiryUtc: 9999-12-31T23:59:59.9999999
                        - codeVersion: 5.3.121.9494
                          environment: Windows
                          supportExpiryUtc: 9999-12-31T23:59:59.9999999
                        - codeVersion: 5.3.311.9590
                          environment: Windows
                          supportExpiryUtc: 9999-12-31T23:59:59.9999999
                        - codeVersion: 5.4.30.100
                          environment: Windows
                          supportExpiryUtc: 9999-12-31T23:59:59.9999999
                        - codeVersion: 5.4.35.100
                          environment: Windows
                          supportExpiryUtc: 9999-12-31T23:59:59.9999999
                        - codeVersion: 5.4.38.100
                          environment: Windows
                          supportExpiryUtc: 9999-12-31T23:59:59.9999999
                        - codeVersion: 5.4.118.9494
                          environment: Windows
                          supportExpiryUtc: 9999-12-31T23:59:59.9999999
                        - codeVersion: 5.4.132.9494
                          environment: Windows
                          supportExpiryUtc: 9999-12-31T23:59:59.9999999
                        - codeVersion: 5.4.145.9494
                          environment: Windows
                          supportExpiryUtc: 9999-12-31T23:59:59.9999999
                        - codeVersion: 5.4.164.9494
                          environment: Windows
                          supportExpiryUtc: 9999-12-31T23:59:59.9999999
                        - codeVersion: 5.5.67.9494
                          environment: Windows
                          supportExpiryUtc: 9999-12-31T23:59:59.9999999
                        - codeVersion: 5.5.149.9494
                          environment: Windows
                          supportExpiryUtc: 9999-12-31T23:59:59.9999999
                      certificate:
                        thumbprint: 68A89C30F20B2A198B0A26DF3744079D0F5AC2FC
                        x509StoreName: My
                      clientCertificateCommonNames: []
                      clientCertificateThumbprints: []
                      clusterCodeVersion: 5.5.149.9494
                      clusterEndpoint: https://warp-test-winfabrp-southcentralus.trafficmanager.net/runtime/clusters/029c03b7-d94e-4c64-9dd4-b1c3bb0914c1
                      clusterId: 029c03b7-d94e-4c64-9dd4-b1c3bb0914c1
                      clusterState: Ready
                      diagnosticsStorageAccountConfig:
                        blobEndpoint: https://t2vgl3f2bk6qw2.blob.core.windows.net/
                        protectedAccountKeyName: StorageAccountKey1
                        queueEndpoint: https://t2vgl3f2bk6qw2.queue.core.windows.net/
                        storageAccountName: t2vgl3f2bk6qw2
                        tableEndpoint: https://t2vgl3f2bk6qw2.table.core.windows.net/
                      fabricSettings:
                        - name: Security
                          parameters:
                            - name: ClusterProtectionLevel
                              value: EncryptAndSign
                      managementEndpoint: https://sfclust4.southcentralus.cloudapp.azure.com:19080
                      nodeTypes:
                        - applicationPorts:
                            endPort: 30000
                            startPort: 20000
                          clientConnectionEndpointPort: 19000
                          durabilityLevel: Bronze
                          ephemeralPorts:
                            endPort: 65534
                            startPort: 49152
                          httpGatewayEndpointPort: 19080
                          isPrimary: true
                          name: nt1vm
                          vmInstanceCount: 5
                      provisioningState: Succeeded
                      reliabilityLevel: Silver
                      upgradeDescription:
                        deltaHealthPolicy:
                          maxPercentDeltaUnhealthyApplications: 0
                          maxPercentDeltaUnhealthyNodes: 0
                          maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                        forceRestart: true
                        healthCheckRetryTimeout: 00:45:00
                        healthCheckStableDuration: 00:05:00
                        healthCheckWaitDuration: 00:05:00
                        healthPolicy:
                          maxPercentUnhealthyApplications: 100
                          maxPercentUnhealthyNodes: 100
                        overrideUserUpgradePolicy: false
                        upgradeDomainTimeout: 02:00:00
                        upgradeReplicaSetCheckTimeout: 10675199.02:48:05.4775807
                        upgradeTimeout: 12:00:00
                      upgradeMode: Automatic
                      vmImage: Windows
                    tags:
                      clusterName: sfclust4
                      resourceType: Service Fabric
                    type: Microsoft.ServiceFabric/clusters
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/clusterVersions":
    get:
      description: List cluster code versions by location
      operationId: ClusterVersions_List
      parameters:
        - $ref: "#/parameters/locationForClusterCodeVersions"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
      responses:
        "200":
          description: OK - List cluster code versions successfully
          schema:
            $ref: "#/definitions/ClusterCodeVersionsListResult"
      tags:
        - ClusterVersion
      x-ms-examples:
        List cluster versions:
          parameters:
            api-version: 2016-09-01
            location: westus
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/5.5.216.0
                    name: 5.5.216.0
                    properties:
                      codeVersion: 5.5.216.0
                      environment: Windows
                      supportExpiryUtc: 2017-08-10T00:00:00
                    type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/5.5.219.0
                    name: 5.5.219.0
                    properties:
                      codeVersion: 5.5.219.0
                      environment: Windows
                      supportExpiryUtc: 2017-08-10T00:00:00
                    type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/5.5.232.0
                    name: 5.5.232.0
                    properties:
                      codeVersion: 5.5.232.0
                      environment: Windows
                      supportExpiryUtc: 2017-08-10T00:00:00
                    type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/5.6.204.9494
                    name: 5.6.204.9494
                    properties:
                      codeVersion: 5.6.204.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/5.6.205.9494
                    name: 5.6.205.9494
                    properties:
                      codeVersion: 5.6.205.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/5.6.210.9494
                    name: 5.6.210.9494
                    properties:
                      codeVersion: 5.6.210.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/5.6.220.9494
                    name: 5.6.220.9494
                    properties:
                      codeVersion: 5.6.220.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/255.255.5718.255
                    name: 255.255.5718.255
                    properties:
                      codeVersion: 255.255.5718.255
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Linux/clusterVersions/5.3.0.0
                    name: 5.3.0.0
                    properties:
                      codeVersion: 5.3.0.0
                      environment: Linux
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Linux/clusterVersions/5.3.0.3
                    name: 5.3.0.3
                    properties:
                      codeVersion: 5.3.0.3
                      environment: Linux
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Linux/clusterVersions/5.4.0.0
                    name: 5.4.0.0
                    properties:
                      codeVersion: 5.4.0.0
                      environment: Linux
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Linux/clusterVersions/5.5.0.2
                    name: 5.5.0.2
                    properties:
                      codeVersion: 5.5.0.2
                      environment: Linux
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Linux/clusterVersions/5.6.3.6
                    name: 5.6.3.6
                    properties:
                      codeVersion: 5.6.3.6
                      environment: Linux
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    type: Microsoft.ServiceFabric/locations/environments/clusterVersions
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/clusterVersions/{clusterVersion}":
    get:
      description: List cluster code versions by version
      operationId: ClusterVersions_ListByVersion
      parameters:
        - $ref: "#/parameters/locationForClusterCodeVersions"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/clusterVersion"
      responses:
        "200":
          description: OK - Get cluster code versions successfully
          schema:
            $ref: "#/definitions/ClusterCodeVersionsListResult"
      tags:
        - ClusterVersionsListOperation
      x-ms-examples:
        List cluster version:
          parameters:
            api-version: 2016-09-01
            clusterVersion: 5.5.216.0
            location: westus
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/5.5.216.0
                    name: 5.5.216.0
                    properties:
                      codeVersion: 5.5.216.0
                      environment: Windows
                      supportExpiryUtc: 2017-08-10T00:00:00
                    type: Microsoft.ServiceFabric/locations/environments/clusterVersions
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/environments/{environment}/clusterVersions":
    get:
      description: List cluster code versions by environment
      operationId: ClusterVersions_ListByEnvironment
      parameters:
        - $ref: "#/parameters/locationForClusterCodeVersions"
        - $ref: "#/parameters/environment"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
      responses:
        "200":
          description: OK - List cluster code versions successfully
          schema:
            $ref: "#/definitions/ClusterCodeVersionsListResult"
      tags:
        - ClusterVersion
      x-ms-examples:
        List cluster version:
          parameters:
            api-version: 2016-09-01
            environment: Windows
            location: westus
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/5.5.216.0
                    name: 5.5.216.0
                    properties:
                      codeVersion: 5.5.216.0
                      environment: Windows
                      supportExpiryUtc: 2017-08-10T00:00:00
                    type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/5.5.219.0
                    name: 5.5.219.0
                    properties:
                      codeVersion: 5.5.219.0
                      environment: Windows
                      supportExpiryUtc: 2017-08-10T00:00:00
                    type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/5.5.232.0
                    name: 5.5.232.0
                    properties:
                      codeVersion: 5.5.232.0
                      environment: Windows
                      supportExpiryUtc: 2017-08-10T00:00:00
                    type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/5.6.204.9494
                    name: 5.6.204.9494
                    properties:
                      codeVersion: 5.6.204.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/5.6.205.9494
                    name: 5.6.205.9494
                    properties:
                      codeVersion: 5.6.205.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/5.6.210.9494
                    name: 5.6.210.9494
                    properties:
                      codeVersion: 5.6.210.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/5.6.220.9494
                    name: 5.6.220.9494
                    properties:
                      codeVersion: 5.6.220.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    type: Microsoft.ServiceFabric/locations/environments/clusterVersions
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/255.255.5718.255
                    name: 255.255.5718.255
                    properties:
                      codeVersion: 255.255.5718.255
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    type: Microsoft.ServiceFabric/locations/environments/clusterVersions
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/environments/{environment}/clusterVersions/{clusterVersion}":
    get:
      description: Get cluster code versions by environment and version
      operationId: ClusterVersions_Get
      parameters:
        - $ref: "#/parameters/locationForClusterCodeVersions"
        - $ref: "#/parameters/environment"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/clusterVersion"
      responses:
        "200":
          description: OK - Get cluster code versions successfully
          schema:
            $ref: "#/definitions/ClusterCodeVersionsResult"
      tags:
        - ClusterVersion
      x-ms-examples:
        List cluster version:
          parameters:
            api-version: 2016-09-01
            clusterVersion: 5.6.210.9494
            environment: Windows
            location: westus
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ServiceFabric/locations/westus/environments/Windows/clusterVersions/5.6.210.9494
                name: 5.6.210.9494
                properties:
                  codeVersion: 5.6.210.9494
                  environment: Windows
                  supportExpiryUtc: 9999-12-31T23:59:59.9999999
                type: Microsoft.ServiceFabric/locations/environments/clusterVersions
              headers: {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}":
    delete:
      description: Delete cluster resource
      operationId: Clusters_Delete
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/clusterNameParameter"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
      responses:
        "200":
          description: OK - cluster deleted  successfully
        "204":
          description: NoContent
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      tags:
        - ClusterDeleteOperation
      x-ms-examples:
        Delete a cluster:
          parameters:
            api-version: 2016-09-01
            clusterName: myCluster
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "204": {}
    get:
      description: Get cluster resource
      operationId: Clusters_Get
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/clusterNameParameter"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
      responses:
        "200":
          description: OK - Get cluster successfully
          schema:
            $ref: "#/definitions/Cluster"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      tags:
        - ClusterGetOperation
      x-ms-examples:
        Get a cluster:
          parameters:
            api-version: 2016-09-01
            clusterName: myCluster
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster
                location: southcentralus
                name: myCluster
                properties:
                  availableClusterVersions:
                    - codeVersion: 5.1.158.9590
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.2.0.100
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.2.207.9590
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.3.121.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.3.311.9590
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.4.30.100
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.4.35.100
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.4.38.100
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.4.118.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.4.132.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.4.145.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.4.164.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.5.67.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.5.149.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  certificate:
                    thumbprint: 1901CF0F76AF711BEE53DF39941092BDAC8D9050
                    x509StoreName: My
                  clientCertificateCommonNames: []
                  clientCertificateThumbprints: []
                  clusterCodeVersion: 5.5.149.9494
                  clusterEndpoint: https://warp-test-winfabrp-southcentralus.trafficmanager.net/runtime/clusters/1a1acec2-8d75-424a-81af-2fb83dd1cac8
                  clusterId: 1a1acec2-8d75-424a-81af-2fb83dd1cac8
                  clusterState: Ready
                  diagnosticsStorageAccountConfig:
                    blobEndpoint: https://3nrb4ixoj6ogq2.blob.core.windows.net/
                    protectedAccountKeyName: StorageAccountKey1
                    queueEndpoint: https://3nrb4ixoj6ogq2.queue.core.windows.net/
                    storageAccountName: 3nrb4ixoj6ogq2
                    tableEndpoint: https://3nrb4ixoj6ogq2.table.core.windows.net/
                  fabricSettings:
                    - name: Security
                      parameters:
                        - name: ClusterProtectionLevel
                          value: EncryptAndSign
                  managementEndpoint: https://myCluster.southcentralus.cloudapp.azure.com:19080
                  nodeTypes:
                    - applicationPorts:
                        endPort: 30000
                        startPort: 20000
                      clientConnectionEndpointPort: 19000
                      durabilityLevel: Bronze
                      ephemeralPorts:
                        endPort: 65534
                        startPort: 49152
                      httpGatewayEndpointPort: 19080
                      isPrimary: true
                      name: nt1vm
                      vmInstanceCount: 5
                  provisioningState: Succeeded
                  reliabilityLevel: Silver
                  upgradeDescription:
                    deltaHealthPolicy:
                      maxPercentDeltaUnhealthyApplications: 0
                      maxPercentDeltaUnhealthyNodes: 0
                      maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                    forceRestart: true
                    healthCheckRetryTimeout: 00:45:00
                    healthCheckStableDuration: 00:05:00
                    healthCheckWaitDuration: 00:05:00
                    healthPolicy:
                      maxPercentUnhealthyApplications: 100
                      maxPercentUnhealthyNodes: 100
                    overrideUserUpgradePolicy: false
                    upgradeDomainTimeout: 02:00:00
                    upgradeReplicaSetCheckTimeout: 10675199.02:48:05.4775807
                    upgradeTimeout: 12:00:00
                  upgradeMode: Automatic
                  vmImage: Windows
                tags:
                  clusterName: myCluster
                  resourceType: Service Fabric
                type: Microsoft.ServiceFabric/clusters
              headers: {}
    patch:
      description: Update cluster configuration
      operationId: Clusters_Update
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/clusterNameParameter"
        - $ref: "#/parameters/api-version"
        - description: The parameters which contains the property value and property name which used to update the cluster configuration
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ClusterUpdateParameters"
        - $ref: "#/parameters/subscriptionId"
      responses:
        "200":
          description: OK - Cluster updated successfully
          schema:
            $ref: "#/definitions/Cluster"
        "202":
          description: Accepted - Update request accepted; the operation will complete asynchronously.
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      tags:
        - ClusterPatchOperation
      x-ms-examples:
        Patch a cluster:
          parameters:
            api-version: 2016-09-01
            clusterName: myCluster
            parameters:
              properties:
                nodeTypes:
                  - applicationPorts:
                      endPort: 30000
                      startPort: 20000
                    clientConnectionEndpointPort: 19000
                    durabilityLevel: Silver
                    ephemeralPorts:
                      endPort: 65534
                      startPort: 49152
                    httpGatewayEndpointPort: 19080
                    isPrimary: true
                    name: n1
                    reverseProxyEndpointPort: 9998
                    vmInstanceCount: 5
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster
                location: southcentralus
                name: myCluster
                properties:
                  availableClusterVersions:
                    - codeVersion: 5.4.145.9494
                      environment: Windows
                      supportExpiryUtc: 2017-05-10T00:00:00
                    - codeVersion: 5.4.164.9494
                      environment: Windows
                      supportExpiryUtc: 2017-05-10T00:00:00
                    - codeVersion: 5.5.216.0
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  clientCertificateCommonNames: []
                  clientCertificateThumbprints: []
                  clusterCodeVersion: 5.5.216.0
                  clusterEndpoint: https://warp-test-winfabrp-southcentralus.trafficmanager.net/runtime/clusters/8d566293-3508-4d62-ba7b-056fa710c3c9
                  clusterId: 8d566293-3508-4d62-ba7b-056fa710c3c9
                  clusterState: Ready
                  diagnosticsStorageAccountConfig:
                    blobEndpoint: https://sflogssdktest5486.blob.core.windows.net/
                    protectedAccountKeyName: StorageAccountKey1
                    queueEndpoint: https://sflogssdktest5486.queue.core.windows.net/
                    storageAccountName: sflogssdktest5486
                    tableEndpoint: https://sflogssdktest5486.table.core.windows.net/
                  fabricSettings: []
                  managementEndpoint: http://myCluster.southcentralus.cloudapp.azure.com:19080
                  nodeTypes:
                    - applicationPorts:
                        endPort: 30000
                        startPort: 20000
                      clientConnectionEndpointPort: 19000
                      durabilityLevel: Silver
                      ephemeralPorts:
                        endPort: 65534
                        startPort: 49152
                      httpGatewayEndpointPort: 19080
                      isPrimary: true
                      name: n1
                      reverseProxyEndpointPort: 9998
                      vmInstanceCount: 5
                  provisioningState: Succeeded
                  reliabilityLevel: Bronze
                  upgradeDescription:
                    deltaHealthPolicy:
                      maxPercentDeltaUnhealthyApplications: 0
                      maxPercentDeltaUnhealthyNodes: 0
                      maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                    forceRestart: true
                    healthCheckRetryTimeout: 00:00:01
                    healthCheckStableDuration: 00:00:01
                    healthCheckWaitDuration: 00:00:01
                    healthPolicy:
                      maxPercentUnhealthyApplications: 100
                      maxPercentUnhealthyNodes: 100
                    overrideUserUpgradePolicy: false
                    upgradeDomainTimeout: 02:00:00
                    upgradeReplicaSetCheckTimeout: 10675199.02:48:05.4775807
                    upgradeTimeout: 12:00:00
                  upgradeMode: Automatic
                  vmImage: Windows
                tags: {}
                type: Microsoft.ServiceFabric/clusters
              headers: {}
            "202": {}
      x-ms-long-running-operation: true
    put:
      description: Create cluster resource
      operationId: Clusters_Create
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/clusterNameParameter"
        - $ref: "#/parameters/api-version"
        - description: Put Request
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Cluster"
        - $ref: "#/parameters/subscriptionId"
      responses:
        "200":
          description: OK - Put cluster successfully
          schema:
            $ref: "#/definitions/Cluster"
        "202":
          description: Accepted - Put request accepted; the operation will complete asynchronously.
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorModel"
      tags:
        - ClusterCreateOperation
      x-ms-examples:
        Put a cluster with max parameter:
          parameters:
            api-version: 2016-09-01
            clusterName: myCluster
            parameters:
              location: southcentralus
              properties:
                azureActiveDirectory:
                  clientApplication: 00000000-0000-0000-0000-000000000000
                  clusterApplication: 00000000-0000-0000-0000-000000000000
                  tenantId: 00000000-0000-0000-0000-000000000000
                certificate:
                  thumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                  thumbprintSecondary: 361A93445450CC8F2FF747F74500E8044942DAFD
                  x509StoreName: My
                clientCertificateCommonNames:
                  - certificateCommonName: abc.com
                    certificateIssuerThumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                    isAdmin: true
                clientCertificateThumbprints:
                  - 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                clusterCodeVersion: 5.5.149.9494
                diagnosticsStorageAccountConfig:
                  blobEndpoint: https://7623qfhwmnstw2.blob.core.windows.net/
                  protectedAccountKeyName: StorageAccountKey1
                  queueEndpoint: https://7623qfhwmnstw2.queue.core.windows.net/
                  storageAccountName: 7623qfhwmnstw2
                  tableEndpoint: https://7623qfhwmnstw2.table.core.windows.net/
                fabricSettings:
                  - name: Security
                    parameters:
                      - name: ClusterProtectionLevel
                        value: EncryptAndSign
                managementEndpoint: https://sfclust2.southcentralus.cloudapp.azure.com:19080
                nodeTypes:
                  - applicationPorts:
                      endPort: 30000
                      startPort: 20000
                    clientConnectionEndpointPort: 19000
                    durabilityLevel: Bronze
                    ephemeralPorts:
                      endPort: 65534
                      startPort: 49152
                    httpGatewayEndpointPort: 19080
                    isPrimary: true
                    name: nt1vm
                    vmInstanceCount: 5
                provisioningState: Succeeded
                reliabilityLevel: Silver
                upgradeDescription:
                  deltaHealthPolicy:
                    maxPercentDeltaUnhealthyApplications: 0
                    maxPercentDeltaUnhealthyNodes: 0
                    maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                  forceRestart: true
                  healthCheckRetryTimeout: 00:45:00
                  healthCheckStableDuration: 00:05:00
                  healthCheckWaitDuration: 00:05:00
                  healthPolicy:
                    maxPercentUnhealthyApplications: 100
                    maxPercentUnhealthyNodes: 100
                  overrideUserUpgradePolicy: false
                  upgradeDomainTimeout: 02:00:00
                  upgradeReplicaSetCheckTimeout: 10675199.02:48:05.4775807
                  upgradeTimeout: 12:00:00
                upgradeMode: Automatic
                vmImage: Windows
              tags:
                clusterName: myCluster
                resourceType: Service Fabric
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster
                location: southcentralus
                name: myCluster
                properties:
                  availableClusterVersions:
                    - codeVersion: 5.1.158.9590
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.2.0.100
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.2.207.9590
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.3.121.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.3.311.9590
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.4.30.100
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.4.35.100
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.4.38.100
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.4.118.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.4.132.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.4.145.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.4.164.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.5.67.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.5.149.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  azureActiveDirectory:
                    clientApplication: 00000000-0000-0000-0000-000000000000
                    clusterApplication: 00000000-0000-0000-0000-000000000000
                    tenantId: 00000000-0000-0000-0000-000000000000
                  certificate:
                    thumbprint: 483B5DE52ECA35147B94C5E116FA7B2E34BB68F9
                    x509StoreName: My
                  clientCertificateCommonNames:
                    - certificateCommonName: abc.com
                      certificateIssuerThumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                      isAdmin: true
                  clientCertificateThumbprints:
                    - 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                  clusterCodeVersion: 5.5.149.9494
                  clusterEndpoint: https://warp-test-winfabrp-southcentralus.trafficmanager.net/runtime/clusters/466e7604-b8ae-4696-a91d-d7b5fcc63628
                  clusterId: 466e7604-b8ae-4696-a91d-d7b5fcc63628
                  clusterState: UpdatingUserConfiguration
                  diagnosticsStorageAccountConfig:
                    blobEndpoint: https://ba3wzulspn67w2.blob.core.windows.net/
                    protectedAccountKeyName: StorageAccountKey1
                    queueEndpoint: https://ba3wzulspn67w2.queue.core.windows.net/
                    storageAccountName: ba3wzulspn67w2
                    tableEndpoint: https://ba3wzulspn67w2.table.core.windows.net/
                  fabricSettings:
                    - name: Hosting
                      parameters:
                        - name: ActivationMaxRetryInterval
                          value: "10000"
                  managementEndpoint: https://myCluster.southcentralus.cloudapp.azure.com:19080
                  nodeTypes:
                    - applicationPorts:
                        endPort: 30000
                        startPort: 20000
                      clientConnectionEndpointPort: 19000
                      durabilityLevel: Bronze
                      ephemeralPorts:
                        endPort: 65534
                        startPort: 49152
                      httpGatewayEndpointPort: 19080
                      isPrimary: true
                      name: nt1vm
                      vmInstanceCount: 5
                  provisioningState: Updating
                  reliabilityLevel: Silver
                  upgradeDescription:
                    deltaHealthPolicy:
                      maxPercentDeltaUnhealthyApplications: 0
                      maxPercentDeltaUnhealthyNodes: 0
                      maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                    forceRestart: true
                    healthCheckRetryTimeout: 00:45:00
                    healthCheckStableDuration: 00:05:00
                    healthCheckWaitDuration: 00:05:00
                    healthPolicy:
                      maxPercentUnhealthyApplications: 100
                      maxPercentUnhealthyNodes: 100
                    overrideUserUpgradePolicy: false
                    upgradeDomainTimeout: 02:00:00
                    upgradeReplicaSetCheckTimeout: 10675199.02:48:05.4775807
                    upgradeTimeout: 12:00:00
                  upgradeMode: Automatic
                  vmImage: Windows
                tags:
                  clusterName: myCluster
                  resourceType: Service Fabric
                type: Microsoft.ServiceFabric/clusters
              headers: {}
            "202": {}
        Put a cluster with min parameter:
          parameters:
            api-version: 2016-09-01
            clusterName: myCluster
            parameters:
              location: southcentralus
              properties:
                clusterCodeVersion: 5.5.149.9494
                diagnosticsStorageAccountConfig:
                  blobEndpoint: https://7623qfhwmnstw2.blob.core.windows.net/
                  protectedAccountKeyName: StorageAccountKey1
                  queueEndpoint: https://7623qfhwmnstw2.queue.core.windows.net/
                  storageAccountName: 7623qfhwmnstw2
                  tableEndpoint: https://7623qfhwmnstw2.table.core.windows.net/
                managementEndpoint: https://myCluster.southcentralus.cloudapp.azure.com:19080
                nodeTypes:
                  - applicationPorts:
                      endPort: 30000
                      startPort: 20000
                    clientConnectionEndpointPort: 19000
                    durabilityLevel: Bronze
                    ephemeralPorts:
                      endPort: 65534
                      startPort: 49152
                    httpGatewayEndpointPort: 19080
                    isPrimary: true
                    name: nt1vm
                    vmInstanceCount: 5
                provisioningState: Succeeded
                reliabilityLevel: Silver
                upgradeMode: Automatic
                vmImage: Windows
              tags:
                clusterName: myCluster
                resourceType: Service Fabric
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/resRg/providers/Microsoft.ServiceFabric/clusters/myCluster
                location: southcentralus
                name: myCluster
                properties:
                  availableClusterVersions:
                    - codeVersion: 5.1.158.9590
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.2.0.100
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.2.207.9590
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.3.121.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.3.311.9590
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.4.30.100
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.4.35.100
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.4.38.100
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.4.118.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.4.132.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.4.145.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.4.164.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.5.67.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                    - codeVersion: 5.5.149.9494
                      environment: Windows
                      supportExpiryUtc: 9999-12-31T23:59:59.9999999
                  certificate:
                    thumbprint: 483B5DE52ECA35147B94C5E116FA7B2E34BB68F9
                    x509StoreName: My
                  clientCertificateCommonNames: []
                  clientCertificateThumbprints: []
                  clusterCodeVersion: 5.5.149.9494
                  clusterEndpoint: https://warp-test-winfabrp-southcentralus.trafficmanager.net/runtime/clusters/466e7604-b8ae-4696-a91d-d7b5fcc63628
                  clusterId: 466e7604-b8ae-4696-a91d-d7b5fcc63628
                  clusterState: UpdatingUserConfiguration
                  diagnosticsStorageAccountConfig:
                    blobEndpoint: https://ba3wzulspn67w2.blob.core.windows.net/
                    protectedAccountKeyName: StorageAccountKey1
                    queueEndpoint: https://ba3wzulspn67w2.queue.core.windows.net/
                    storageAccountName: ba3wzulspn67w2
                    tableEndpoint: https://ba3wzulspn67w2.table.core.windows.net/
                  fabricSettings: []
                  managementEndpoint: https://myCluster.southcentralus.cloudapp.azure.com:19080
                  nodeTypes:
                    - applicationPorts:
                        endPort: 30000
                        startPort: 20000
                      clientConnectionEndpointPort: 19000
                      durabilityLevel: Bronze
                      ephemeralPorts:
                        endPort: 65534
                        startPort: 49152
                      httpGatewayEndpointPort: 19080
                      isPrimary: true
                      name: nt1vm
                      vmInstanceCount: 5
                  provisioningState: Updating
                  reliabilityLevel: Silver
                  upgradeDescription:
                    deltaHealthPolicy:
                      maxPercentDeltaUnhealthyApplications: 0
                      maxPercentDeltaUnhealthyNodes: 0
                      maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                    forceRestart: true
                    healthCheckRetryTimeout: 00:45:00
                    healthCheckStableDuration: 00:05:00
                    healthCheckWaitDuration: 00:05:00
                    healthPolicy:
                      maxPercentUnhealthyApplications: 100
                      maxPercentUnhealthyNodes: 100
                    overrideUserUpgradePolicy: false
                    upgradeDomainTimeout: 02:00:00
                    upgradeReplicaSetCheckTimeout: 10675199.02:48:05.4775807
                    upgradeTimeout: 12:00:00
                  upgradeMode: Automatic
                  vmImage: Windows
                tags:
                  clusterName: myCluster
                  resourceType: Service Fabric
                type: Microsoft.ServiceFabric/clusters
              headers: {}
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters":
    get:
      description: List cluster resource by resource group
      operationId: Clusters_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
      responses:
        "200":
          description: OK - Get cluster  successfully
          schema:
            $ref: "#/definitions/ClusterListResult"
      tags:
        - ClusterListByResourceGroupOperation
      x-ms-examples:
        List cluster by resource group:
          parameters:
            api-version: 2016-09-01
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/psrg1/providers/Microsoft.ServiceFabric/clusters/testcluster
                    location: southcentralus
                    name: testcluster
                    properties:
                      availableClusterVersions:
                        - codeVersion: 5.4.145.9494
                          environment: Windows
                          supportExpiryUtc: 2017-05-10T00:00:00
                        - codeVersion: 5.4.164.9494
                          environment: Windows
                          supportExpiryUtc: 2017-05-10T00:00:00
                        - codeVersion: 5.5.216.0
                          environment: Windows
                          supportExpiryUtc: 9999-12-31T23:59:59.9999999
                        - codeVersion: 5.5.219.0
                          environment: Windows
                          supportExpiryUtc: 9999-12-31T23:59:59.9999999
                      certificate:
                        thumbprint: 5F3660C715EBBDA31DB1FFDCF508302348DE8E7A
                        x509StoreName: My
                      clientCertificateCommonNames: []
                      clientCertificateThumbprints: []
                      clusterCodeVersion: 5.5.216.0
                      clusterEndpoint: https://warp-test-winfabrp-southcentralus.trafficmanager.net/runtime/clusters/29cfe945-7ff1-4234-b567-09871226d4f6
                      clusterId: 29cfe945-7ff1-4234-b567-09871226d4f6
                      clusterState: Ready
                      diagnosticsStorageAccountConfig:
                        blobEndpoint: https://sflogppe231337596.blob.core.windows.net/
                        protectedAccountKeyName: StorageAccountKey1
                        queueEndpoint: https://sflogppe231337596.queue.core.windows.net/
                        storageAccountName: sflogppe231337596
                        tableEndpoint: https://sflogppe231337596.table.core.windows.net/
                      fabricSettings:
                        - name: Security
                          parameters:
                            - name: ClusterProtectionLevel
                              value: EncryptAndSign
                      managementEndpoint: https://testcluster.southcentralus.cloudapp.azure.com:19080
                      nodeTypes:
                        - applicationPorts:
                            endPort: 30000
                            startPort: 20000
                          clientConnectionEndpointPort: 19000
                          durabilityLevel: Silver
                          ephemeralPorts:
                            endPort: 65534
                            startPort: 49152
                          httpGatewayEndpointPort: 19080
                          isPrimary: true
                          name: n1
                          vmInstanceCount: 5
                      provisioningState: Succeeded
                      reliabilityLevel: Silver
                      upgradeDescription:
                        deltaHealthPolicy:
                          maxPercentDeltaUnhealthyApplications: 0
                          maxPercentDeltaUnhealthyNodes: 0
                          maxPercentUpgradeDomainDeltaUnhealthyNodes: 0
                        forceRestart: false
                        healthCheckRetryTimeout: 00:45:00
                        healthCheckStableDuration: 00:05:00
                        healthCheckWaitDuration: 00:05:00
                        healthPolicy:
                          maxPercentUnhealthyApplications: 100
                          maxPercentUnhealthyNodes: 100
                        overrideUserUpgradePolicy: false
                        upgradeDomainTimeout: 02:00:00
                        upgradeReplicaSetCheckTimeout: 10675199.02:48:05.4775807
                        upgradeTimeout: 12:00:00
                      upgradeMode: Automatic
                      vmImage: Windows
                    tags:
                      clusterName: testcluster
                      resourceType: Service Fabric
                    type: Microsoft.ServiceFabric/clusters
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
definitions:
  AvailableOperationDisplay:
    description: Operation supported by ServiceFabric resource provider
    properties:
      description:
        description: Operation description
        type: string
      operation:
        description: Operation name
        type: string
      provider:
        description: Provider name
        type: string
      resource:
        description: Resource name
        type: string
  AzureActiveDirectory:
    description: The settings to enable AAD authentication on the cluster
    properties:
      clientApplication:
        description: Azure active directory client application id
        type: string
      clusterApplication:
        description: Azure active directory cluster application id
        type: string
      tenantId:
        description: Azure active directory tenant id
        type: string
  CertificateDescription:
    description: Certificate details
    properties:
      thumbprint:
        description: Thumbprint of the primary certificate
        type: string
      thumbprintSecondary:
        description: Thumbprint of the secondary certificate
        type: string
      x509StoreName:
        description: The local certificate store location
        enum:
          - AddressBook
          - AuthRoot
          - CertificateAuthority
          - Disallowed
          - My
          - Root
          - TrustedPeople
          - TrustedPublisher
        type: string
    required:
      - thumbprint
  ClientCertificateCommonName:
    description: Client certificate details using common name
    properties:
      certificateCommonName:
        description: Certificate common name to be granted access; be careful using wild card common names
        type: string
      certificateIssuerThumbprint:
        description: Certificate issuer thumbprint
        type: string
      isAdmin:
        description: Is this certificate used for admin access from the client, if false , it is used or query only access
        type: boolean
    required:
      - isAdmin
      - certificateCommonName
      - certificateIssuerThumbprint
  ClientCertificateThumbprint:
    description: Client certificate details using thumbprint
    properties:
      certificateThumbprint:
        description: Certificate thumbprint
        type: string
      isAdmin:
        description: Is this certificate used for admin access from the client, if false, it is used or query only access
        type: boolean
    required:
      - isAdmin
      - certificateThumbprint
  Cluster:
    allOf:
      - $ref: "#/definitions/Resource"
    description: The cluster resource
    properties:
      properties:
        $ref: "#/definitions/ClusterProperties"
        x-ms-client-flatten: true
  ClusterCodeVersionsListResult:
    description: The list results of the ServiceFabric runtime versions
    properties:
      nextLink:
        description: The URL to use for getting the next set of results.
        type: string
      value:
        items:
          $ref: "#/definitions/ClusterCodeVersionsResult"
        type: array
  ClusterCodeVersionsResult:
    description: The result of the ServiceFabric runtime versions
    properties:
      id:
        description: The identification of the result
        type: string
      name:
        description: The name of the result
        type: string
      properties:
        $ref: "#/definitions/ClusterVersionDetails"
        x-ms-client-flatten: true
      type:
        description: The result resource type
        type: string
  ClusterEnvironment:
    description: Cluster operating system, the default will be Windows
    enum:
      - Windows
      - Linux
    type: string
  ClusterHealthPolicy:
    description: Defines a health policy used to evaluate the health of the cluster or of a cluster node.
    properties:
      maxPercentUnhealthyApplications:
        description: "The maximum allowed percentage of unhealthy applications before reporting an error. For example, to allow 10% of applications to be unhealthy, this value would be 10. "
        maximum: 100
        minimum: 0
        type: integer
      maxPercentUnhealthyNodes:
        description: "The maximum allowed percentage of unhealthy nodes before reporting an error. For example, to allow 10% of nodes to be unhealthy, this value would be 10. "
        maximum: 100
        minimum: 0
        type: integer
  ClusterListResult:
    description: Cluster list results
    properties:
      nextLink:
        description: The URL to use for getting the next set of results.
        type: string
      value:
        items:
          $ref: "#/definitions/Cluster"
        type: array
  ClusterProperties:
    description: The cluster resource properties
    properties:
      availableClusterVersions:
        description: The available cluster code version which the cluster can upgrade to, note that you must choose upgradeMode to manual to upgrade to
        items:
          $ref: "#/definitions/ClusterVersionDetails"
        readOnly: true
        type: array
      azureActiveDirectory:
        $ref: "#/definitions/AzureActiveDirectory"
        description: The settings to enable AAD authentication on the cluster
      certificate:
        $ref: "#/definitions/CertificateDescription"
        description: This primary certificate will be used as cluster node to node security, SSL certificate for cluster management endpoint and default admin client
      clientCertificateCommonNames:
        description: " List of client certificates to whitelist based on common names"
        items:
          $ref: "#/definitions/ClientCertificateCommonName"
        type: array
      clientCertificateThumbprints:
        description: The client thumbprint details ,it is used for client access for cluster operation
        items:
          $ref: "#/definitions/ClientCertificateThumbprint"
        type: array
      clusterCodeVersion:
        description: The ServiceFabric code version running in your cluster
        type: string
      clusterEndpoint:
        description: The endpoint for the cluster connecting to servicefabric resource provider
        readOnly: true
        type: string
      clusterId:
        description: The unique identifier for the cluster resource
        readOnly: true
        type: string
      clusterState:
        description: The state for the cluster
        enum:
          - WaitingForNodes
          - Deploying
          - BaselineUpgrade
          - UpdatingUserConfiguration
          - UpdatingUserCertificate
          - UpdatingInfrastructure
          - EnforcingClusterVersion
          - UpgradeServiceUnreachable
          - AutoScale
          - Ready
        readOnly: true
        type: string
      diagnosticsStorageAccountConfig:
        $ref: "#/definitions/DiagnosticsStorageAccountConfig"
        description: The storage diagnostics account configuration details
      fabricSettings:
        description: List of custom fabric settings to configure the cluster.
        items:
          $ref: "#/definitions/SettingsSectionDescription"
        type: array
      managementEndpoint:
        description: The http management endpoint of the cluster
        type: string
      nodeTypes:
        description: The list of node types that make up the cluster
        items:
          $ref: "#/definitions/NodeTypeDescription"
        type: array
      provisioningState:
        description: The provisioning state of the cluster resource
        enum:
          - Updating
          - Succeeded
          - Failed
          - Canceled
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProvisioningState
      reliabilityLevel:
        description: Cluster reliability level indicates replica set size of system service
        enum:
          - Bronze
          - Silver
          - Gold
          - Platinum
        type: string
      reverseProxyCertificate:
        $ref: "#/definitions/CertificateDescription"
        description: The server certificate used by reverse proxy
      upgradeDescription:
        $ref: "#/definitions/ClusterUpgradePolicy"
        description: The policy to use when upgrading the cluster.
      upgradeMode:
        description: Cluster upgrade mode indicates if fabric upgrade is initiated automatically by the system or not
        enum:
          - Automatic
          - Manual
        type: string
      vmImage:
        description: The name of VM image VMSS has been configured with. Generic names such as Windows or Linux can be used.
        type: string
    required:
      - managementEndpoint
      - nodeTypes
  ClusterPropertiesUpdateParameters:
    description: The cluster resource properties can be updated
    properties:
      certificate:
        $ref: "#/definitions/CertificateDescription"
        description: This primary certificate will be used as cluster node to node security, SSL certificate for cluster management endpoint and default admin client, the certificate should exist in the virtual machine scale sets or Azure key vault, before you add it. It will override original value
      clientCertificateCommonNames:
        description: List of client certificates to whitelist based on common names.
        items:
          $ref: "#/definitions/ClientCertificateCommonName"
        type: array
      clientCertificateThumbprints:
        description: The client thumbprint details, it is used for client access for cluster operation, it will override existing collection
        items:
          $ref: "#/definitions/ClientCertificateThumbprint"
        type: array
      clusterCodeVersion:
        description: The ServiceFabric code version, if set it, please make sure you have set upgradeMode to Manual, otherwise ,it will fail, if you are using PUT new cluster, you can get the version by using ClusterVersions_List, if you are updating existing cluster, you can get the availableClusterVersions from Clusters_Get
        type: string
      fabricSettings:
        description: List of custom fabric settings to configure the cluster, Note, it will overwrite existing collection
        items:
          $ref: "#/definitions/SettingsSectionDescription"
        type: array
      nodeTypes:
        description: The list of node types that make up the cluster, it will override
        items:
          $ref: "#/definitions/NodeTypeDescription"
        type: array
      reliabilityLevel:
        description: This level is used to set the number of replicas of the system services
        enum:
          - Bronze
          - Silver
          - Gold
        type: string
      reverseProxyCertificate:
        $ref: "#/definitions/CertificateDescription"
        description: Certificate for the reverse proxy
      upgradeDescription:
        $ref: "#/definitions/ClusterUpgradePolicy"
        description: The policy to use when upgrading the cluster.
      upgradeMode:
        description: Cluster upgrade mode indicates if fabric upgrade is initiated automatically by the system or not
        enum:
          - Automatic
          - Manual
        type: string
  ClusterUpdateParameters:
    description: Cluster update request
    properties:
      properties:
        $ref: "#/definitions/ClusterPropertiesUpdateParameters"
        x-ms-client-flatten: true
      tags:
        additionalProperties:
          type: string
        description: Cluster update parameters
        type: object
  ClusterUpgradeDeltaHealthPolicy:
    description: Delta health policy for the cluster
    properties:
      maxPercentDeltaUnhealthyApplications:
        description: Additional unhealthy applications percentage
        maximum: 100
        minimum: 0
        type: integer
      maxPercentDeltaUnhealthyNodes:
        description: Additional unhealthy nodes percentage
        maximum: 100
        minimum: 0
        type: integer
      maxPercentUpgradeDomainDeltaUnhealthyNodes:
        description: "Additional unhealthy nodes percentage per upgrade domain "
        maximum: 100
        minimum: 0
        type: integer
    required:
      - maxPercentDeltaUnhealthyNodes
      - maxPercentUpgradeDomainDeltaUnhealthyNodes
      - maxPercentDeltaUnhealthyApplications
  ClusterUpgradePolicy:
    description: Cluster upgrade policy
    properties:
      deltaHealthPolicy:
        $ref: "#/definitions/ClusterUpgradeDeltaHealthPolicy"
        description: Delta health policy
      forceRestart:
        description: Force node to restart or not
        type: boolean
      healthCheckRetryTimeout:
        description: The length of time that health checks can fail continuously,it represents .Net TimeSpan
        type: string
      healthCheckStableDuration:
        description: The length of time that health checks must pass continuously,it represents .Net TimeSpan
        type: string
      healthCheckWaitDuration:
        description: The length of time to wait after completing an upgrade domain before performing health checks, it represents .Net TimeSpan
        type: string
      healthPolicy:
        $ref: "#/definitions/ClusterHealthPolicy"
        description: Cluster health Policy
      overrideUserUpgradePolicy:
        description: Use the user defined upgrade policy or not
        type: boolean
      upgradeDomainTimeout:
        description: The timeout for any upgrade domain,it represents .Net TimeSpan
        type: string
      upgradeReplicaSetCheckTimeout:
        description: Timeout for replica set upgrade to complete,it represents .Net TimeSpan
        type: string
      upgradeTimeout:
        description: The upgrade timeout,it represents .Net TimeSpan
        type: string
    required:
      - upgradeReplicaSetCheckTimeout
      - healthCheckWaitDuration
      - healthCheckStableDuration
      - healthCheckRetryTimeout
      - upgradeTimeout
      - upgradeDomainTimeout
      - healthPolicy
  ClusterVersionDetails:
    description: The detail of the ServiceFabric runtime version result
    properties:
      codeVersion:
        description: The ServiceFabric runtime version of the cluster
        type: string
      environment:
        $ref: "#/definitions/ClusterEnvironment"
        description: Cluster operating system
      supportExpiryUtc:
        description: The date of expiry of support of the version
        type: string
  DiagnosticsStorageAccountConfig:
    description: Diagnostics storage account config
    properties:
      blobEndpoint:
        description: Diagnostics storage account blob endpoint
        type: string
      protectedAccountKeyName:
        description: Protected Diagnostics storage key name
        type: string
      queueEndpoint:
        description: Diagnostics storage account queue endpoint
        type: string
      storageAccountName:
        description: Diagnostics storage account name
        type: string
      tableEndpoint:
        description: Diagnostics storage account table endpoint
        type: string
    required:
      - storageAccountName
      - protectedAccountKeyName
      - blobEndpoint
      - queueEndpoint
      - tableEndpoint
  EndpointRangeDescription:
    description: Port range details
    properties:
      endPort:
        description: End port of a range of ports
        type: integer
      startPort:
        description: Starting port of a range of ports
        type: integer
    required:
      - startPort
      - endPort
  ErrorModel:
    description: The structure of the error
    properties:
      error:
        description: "The error detail "
        properties:
          code:
            description: The error code
            type: string
          message:
            description: The error message
            type: string
  NodeTypeDescription:
    description: Describes a node type in the cluster, each node type represents sub set of nodes in the cluster
    properties:
      applicationPorts:
        $ref: "#/definitions/EndpointRangeDescription"
        description: Ports used by applications
      capacities:
        additionalProperties:
          description: Capacity tag value
          type: string
        description: The capacity tags applied to the nodes in the node type, the cluster resource manager uses these tags to understand how much of a resource a node has
        type: object
      clientConnectionEndpointPort:
        description: The TCP cluster management endpoint port
        type: integer
      durabilityLevel:
        description: Node type durability Level
        enum:
          - Bronze
          - Silver
          - Gold
        type: string
      ephemeralPorts:
        $ref: "#/definitions/EndpointRangeDescription"
        description: System assigned application ports
      httpGatewayEndpointPort:
        description: The HTTP cluster management endpoint port
        type: integer
      isPrimary:
        description: Mark this as the primary node type
        type: boolean
      name:
        description: Name of the node type
        type: string
      placementProperties:
        additionalProperties:
          description: Placement tag value
          type: string
        description: The placement tags applied to nodes in the node type, which can be used to indicate where certain services (workload) should run
        type: object
      reverseProxyEndpointPort:
        description: Endpoint used by reverse proxy
        type: integer
      vmInstanceCount:
        description: The number of node instances in the node type
        maximum: 2147483647
        minimum: 1
        type: integer
    required:
      - vmInstanceCount
      - name
      - clientConnectionEndpointPort
      - httpGatewayEndpointPort
      - isPrimary
  OperationListResult:
    description: Result of the request to list ServiceFabric operations. It contains a list of operations and a URL link to get the next set of results.
    properties:
      nextLink:
        description: URL to get the next set of operation list results if there are any.
        readOnly: true
        type: string
      value:
        description: List of ServiceFabric operations supported by the Microsoft.ServiceFabric resource provider.
        items:
          $ref: "#/definitions/OperationResult"
        readOnly: true
        type: array
  OperationResult:
    description: Available operation list result
    properties:
      display:
        $ref: "#/definitions/AvailableOperationDisplay"
        description: Display of the result
      name:
        description: Result name
        type: string
      nextLink:
        description: The URL to use for getting the next set of results.
        type: string
      origin:
        description: Origin result
        type: string
  Resource:
    description: The resource model definition.
    properties:
      id:
        description: Resource ID.
        readOnly: true
        type: string
      location:
        description: Resource location.
        type: string
      name:
        description: Resource name.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags.
        type: object
      type:
        description: Resource type.
        readOnly: true
        type: string
    required:
      - location
    x-ms-azure-resource: true
  SettingsParameterDescription:
    description: ServiceFabric settings under sections
    properties:
      name:
        description: The name of settings property
        type: string
      value:
        description: The value of the property
        type: string
    required:
      - name
      - value
  SettingsSectionDescription:
    description: ServiceFabric section settings
    properties:
      name:
        description: The name of settings section
        type: string
      parameters:
        description: Collection of settings in the section, each setting is a tuple consisting of setting name and value
        items:
          $ref: "#/definitions/SettingsParameterDescription"
        type: array
    required:
      - name
      - parameters
