swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: HybridDataManagementClient
  version: 2016-06-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/hybriddatamanager/resource-manager/Microsoft.HybridData/stable/2016-06-01/hybriddata.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: hybriddatamanager-hybriddata
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: The API Version
    in: query
    name: api-version
    required: true
    type: string
  dataManagerNameParameter:
    description: The name of the DataManager Resource within the specified resource group. DataManager names must be between 3 and 24 characters in length and use any alphanumeric and underscore only
    in: path
    maxLength: 24
    minLength: 3
    name: dataManagerName
    pattern: ^[-\w\.]+$
    required: true
    type: string
    x-ms-parameter-location: method
  resourceGroupNameParameter:
    description: The Resource Group Name
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionIdParameter:
    description: The Subscription Id
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.HybridData/operations:
    get:
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: This method gets all the operations.
          schema:
            $ref: "#/definitions/AvailableProviderOperations"
      summary: This method gets all the operations.
      tags:
        - Operations
      x-ms-examples:
        Operations_ListGET11:
          parameters:
            User-Agent:
              - FxVersion/4.6.26614.01
              - OSName/Windows
              - OSVersion/Microsoft.Windows.10.0.17763.
              - Microsoft.Azure.Management.HybridData.HybridDataManagementClient/0.9.0.preview
            accept-language:
              - en-US
            api-version: 2016-06-01
            x-ms-client-request-id:
              - 1ad3439a-918a-49c1-8aa5-cc0c862a301d
          responses:
            "200":
              body:
                value:
                  - display:
                      description: Read Operation results
                      operation: Get Operation results
                      provider: Microsoft.HybridData
                      resource: Operation results
                    name: Microsoft.HybridData/dataManagers/dataStores/operationResults/read
                    origin: user
                    properties: {}
                  - display:
                      description: Read Operation results
                      operation: Get Operation results
                      provider: Microsoft.HybridData
                      resource: Operation results
                    name: Microsoft.HybridData/dataManagers/dataServices/jobDefinitions/operationResults/read
                    origin: user
                    properties: {}
                  - display:
                      description: Read Operation results
                      operation: Get Operation results
                      provider: Microsoft.HybridData
                      resource: Operation results
                    name: Microsoft.HybridData/dataManagers/dataServices/jobDefinitions/jobs/operationResults/read
                    origin: user
                    properties: {}
                  - display:
                      description: Read Operation results
                      operation: Get Operation results
                      provider: Microsoft.HybridData
                      resource: Operation results
                    name: Microsoft.HybridData/dataManagers/operationResults/read
                    origin: user
                    properties: {}
                  - display:
                      description: Create or update Job definitions
                      operation: Creates or updates Job definitions
                      provider: Microsoft.HybridData
                      resource: Job definitions
                    name: Microsoft.HybridData/dataManagers/dataServices/jobDefinitions/write
                    origin: user
                    properties: {}
                  - display:
                      description: Delete Job definitions
                      operation: Delete Job definitions
                      provider: Microsoft.HybridData
                      resource: Job definitions
                    name: Microsoft.HybridData/dataManagers/dataServices/jobDefinitions/delete
                    origin: user
                    properties: {}
                  - display:
                      description: Read Job definitions
                      operation: Get Job definitions
                      provider: Microsoft.HybridData
                      resource: Job definitions
                    name: Microsoft.HybridData/dataManagers/dataServices/jobDefinitions/read
                    origin: user
                    properties: {}
                  - display:
                      description: Read Job definitions
                      operation: Get Job definitions
                      provider: Microsoft.HybridData
                      resource: Job definitions
                    name: Microsoft.HybridData/dataManagers/jobDefinitions/read
                    origin: user
                    properties: {}
                  - display:
                      description: Get job defintions
                      operation: Get job definitions
                      provider: Microsoft.HybridData
                      resource: Job definitions
                    name: Microsoft.HybridData/dataManagers/dataServices/jobDefinitions/listResults/action
                    origin: user
                    properties: {}
                  - display:
                      description: Run job defintions
                      operation: Run job definitions
                      provider: Microsoft.HybridData
                      resource: Job definitions
                    name: Microsoft.HybridData/dataManagers/dataServices/jobDefinitions/run/action
                    origin: user
                    properties: {}
                  - display:
                      description: Read Public keys
                      operation: Get Public keys
                      provider: Microsoft.HybridData
                      resource: Public keys
                    name: Microsoft.HybridData/dataManagers/publicKeys/read
                    origin: user
                    properties: {}
                  - display:
                      description: Read Data services
                      operation: Get Data services
                      provider: Microsoft.HybridData
                      resource: Data services
                    name: Microsoft.HybridData/dataManagers/dataServices/read
                    origin: user
                    properties: {}
                  - display:
                      description: Create or update Datastores
                      operation: Creates or updates Datastores
                      provider: Microsoft.HybridData
                      resource: Datastores
                    name: Microsoft.HybridData/dataManagers/dataStores/write
                    origin: user
                    properties: {}
                  - display:
                      description: Delete Datastores
                      operation: Delete Datastores
                      provider: Microsoft.HybridData
                      resource: Datastores
                    name: Microsoft.HybridData/dataManagers/dataStores/delete
                    origin: user
                    properties: {}
                  - display:
                      description: Read Datastores
                      operation: Get Datastores
                      provider: Microsoft.HybridData
                      resource: Datastores
                    name: Microsoft.HybridData/dataManagers/dataStores/read
                    origin: user
                    properties: {}
                  - display:
                      description: Read Datastore types
                      operation: Get Datastore types
                      provider: Microsoft.HybridData
                      resource: Datastore types
                    name: Microsoft.HybridData/dataManagers/dataStoreTypes/read
                    origin: user
                    properties: {}
                  - display:
                      description: Delete Data managers
                      operation: Delete Data managers
                      provider: Microsoft.HybridData
                      resource: Data managers
                    name: Microsoft.HybridData/dataManagers/delete
                    origin: user
                    properties: {}
                  - display:
                      description: Read Data managers
                      operation: Get Data managers
                      provider: Microsoft.HybridData
                      resource: Data managers
                    name: Microsoft.HybridData/dataManagers/read
                    origin: user
                    properties: {}
                  - display:
                      description: Create or update Data managers
                      operation: Creates or updates Data managers
                      provider: Microsoft.HybridData
                      resource: Data managers
                    name: Microsoft.HybridData/dataManagers/write
                    origin: user
                    properties: {}
                  - display:
                      description: Cancel jobs
                      operation: Cancel jobs
                      provider: Microsoft.HybridData
                      resource: Jobs
                    name: Microsoft.HybridData/dataManagers/dataServices/jobDefinitions/jobs/cancel/action
                    origin: user
                    properties: {}
                  - display:
                      description: Read Jobs
                      operation: Get Jobs
                      provider: Microsoft.HybridData
                      resource: Jobs
                    name: Microsoft.HybridData/dataManagers/dataServices/jobDefinitions/jobs/read
                    origin: user
                    properties: {}
                  - display:
                      description: Read Jobs
                      operation: Get Jobs
                      provider: Microsoft.HybridData
                      resource: Jobs
                    name: Microsoft.HybridData/dataManagers/jobs/read
                    origin: user
                    properties: {}
                  - display:
                      description: Read Jobs
                      operation: Get Jobs
                      provider: Microsoft.HybridData
                      resource: Jobs
                    name: Microsoft.HybridData/dataManagers/dataServices/jobs/read
                    origin: user
                    properties: {}
                  - display:
                      description: Resume jobs
                      operation: Resumes jobs
                      provider: Microsoft.HybridData
                      resource: Jobs
                    name: Microsoft.HybridData/dataManagers/dataServices/jobDefinitions/jobs/resume/action
                    origin: user
                    properties: {}
                  - display:
                      description: Read ArmApiRes_Microsoft.HybridData
                      operation: Get ArmApiRes_Microsoft.HybridData
                      provider: Microsoft.HybridData
                      resource: ArmApiRes_Microsoft.HybridData
                    name: Microsoft.HybridData/read
                    origin: user
                    properties: {}
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.HybridData/dataManagers":
    get:
      description: Lists all the data manager resources available under the subscription.
      operationId: DataManagers_List
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: List of data manager resources available under the subscription.
          schema:
            $ref: "#/definitions/DataManagerList"
      tags:
        - DataManagers
      x-ms-examples:
        DataManagers_ListGET21:
          parameters:
            User-Agent:
              - FxVersion/4.6.26614.01
              - OSName/Windows
              - OSVersion/Microsoft.Windows.10.0.18875.
              - Microsoft.Azure.Management.HybridData.HybridDataManagementClient/0.9.0.preview
            accept-language:
              - en-US
            api-version: 2016-06-01
            subscriptionId: 6e0219f5-327a-4365-904f-05eed4227ad7
            x-ms-client-request-id:
              - 19ba4253-11e6-4c9b-897a-b1e84e783213
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/providers/Microsoft.HybridData/dataManagers?api-version=2016-06-01&%24skiptoken=dVLbjtowEP0X1PaNxQkJCyutKiAXSEkKjrFJ3uw4S0KcyyYhXFb77%2fVCu32oKlmWPWd8zswZv%2fWK%2bNyu0iJrek9vPWL6aOv3nnpJ21bN02CQ04Lu4zwu2gd6PdbxQ1Tmg%2bbImqhOqzYti2YwioGqTF70%2flB9pH1tONL7E6C99IEex1xTZZA%2fDqq67FIe183ATaO6bMqX9mFxYXXKDdrSAZebe5Oqm%2b%2b0SvudTJXszypQRn0gl%2fLtS5OlFSqzuHheGxONkdOe5%2fgSqaJjB5C6vnZapjPBcq8LbXEMryDlO5ivkKkuD%2bOvKjM25XijTo5copxYgJLJEduTOiTaHd0vjbPBVF0iuhLsYCXPW6a2gh00b55O98v5dIw%2fNbXL6jAdr5RQRIUncz9Z5tP92oJ6ZG8lL7atlNlbmfcnIuv4YNqvTV3EC7gJdg6gd7VVuMvkG9c3z64xTVCuYA6UV4gwpQIDtKscVxHINWZeLLIzsmDNgb4gO%2bhBK2yI4NA1lVcfeSFWzCtZVPMwd3bMrg4MiVFwcKhrnltq4JBl1Ylk3Kc2XMA89OBB1AQn8u7sYIFDrMImUHVvhU4dyrHGrVkSFbCS7nUsa0WM%2fnpyx52Og1v8vESRuiRei4sqdZVQJ8gh3BLBpuAJvuLjvS6vDe27biCSnzGuAlSEGTGrV9lHFpPlFRc8iDMnD7JI57i8%2bgfpJcKnIFeyiCwvvg%2fGK3Bz0WdD%2ftu9T38tmEQ5F9w8d4F6n%2fdazC6UKLKT7GMi%2f%2bJ78ONjyivgdUx2ywqc3DoWsKMqPq4lvp5P%2fvdLvg557%2f39Fw%3d%3d
                value:
                  - etag: W/"datetime'2018-07-23T09%3A58%3A15.3299896Z'"_W/"datetime'2018-07-23T09%3A58%3A15.3500041Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/batchcertneafterdep1
                    location: northeurope
                    name: batchcertneafterdep1
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-07-16T09%3A46%3A06.3239385Z'"_W/"datetime'2018-07-16T09%3A46%3A06.3289422Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/batchcertneold
                    location: northeurope
                    name: batchcertneold
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-03-15T10%3A53%3A10.0933461Z'"_W/"datetime'2018-03-15T10%3A53%3A10.1213654Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/dmsnesmoketest
                    location: northeurope
                    name: dmsnesmoketest
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-07-10T06%3A36%3A18.0878861Z'"_W/"datetime'2018-07-10T06%3A36%3A18.1139046Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/ne-07-10
                    location: northeurope
                    name: ne-07-10
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-07-23T03%3A58%3A20.5213761Z'"_W/"datetime'2018-07-23T03%3A58%3A20.5423899Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/batchcerteusafterdep1
                    location: eastus
                    name: batchcerteusafterdep1
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-07-16T10%3A00%3A49.4703338Z'"_W/"datetime'2018-07-16T10%3A00%3A49.4913491Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/batchcerteusold
                    location: eastus
                    name: batchcerteusold
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-04-10T06%3A09%3A32.3093315Z'"_W/"datetime'2018-04-10T06%3A09%3A32.3243425Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/dms-04-10
                    location: eastus
                    name: dms-04-10
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-07-07T19%3A05%3A00.7594128Z'"_W/"datetime'2018-07-07T19%3A05%3A00.7664174Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/eus-07-08
                    location: eastus
                    name: eus-07-08
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-07-10T06%3A36%3A46.642745Z'"_W/"datetime'2018-07-10T06%3A36%3A46.7658314Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/eus-07-10
                    location: eastus
                    name: eus-07-10
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-02-13T08%3A57%3A11.4468401Z'"_W/"datetime'2018-02-13T08%3A57%3A11.6219625Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/DmsBvtRG1/providers/Microsoft.HybridData/dataManagers/BVT1Resource-ET5FP7HVFH
                    location: westus2
                    name: BVT1Resource-ET5FP7HVFH
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-02-13T09%3A11%3A23.6700448Z'"_W/"datetime'2018-02-13T09%3A11%3A23.6750484Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/DmsBvtRG2/providers/Microsoft.HybridData/dataManagers/BVT1Resource-TJXJIKNJEL
                    location: westus2
                    name: BVT1Resource-TJXJIKNJEL
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-02-13T09%3A53%3A28.2022576Z'"_W/"datetime'2018-02-13T09%3A53%3A28.2082618Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/DmsBvtRG3/providers/Microsoft.HybridData/dataManagers/BVT1Resource-R6YA59OGWH
                    location: westus2
                    name: BVT1Resource-R6YA59OGWH
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-07-23T07%3A44%3A12.1141909Z'"_W/"datetime'2018-07-23T07%3A44%3A12.1432118Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/batchcertwus2afterdep1
                    location: westus2
                    name: batchcertwus2afterdep1
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-07-16T09%3A44%3A49.261222Z'"_W/"datetime'2018-07-16T09%3A44%3A49.2702259Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/batchcertwus2old
                    location: westus2
                    name: batchcertwus2old
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-03-20T08%3A08%3A52.7007451Z'"_W/"datetime'2018-03-20T08%3A08%3A52.7207592Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/smoketestwus2
                    location: westus2
                    name: smoketestwus2
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2019-02-17T14%3A50%3A37.866739Z'"_W/"datetime'2019-02-17T14%3A50%3A38.038859Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/AzureSDKOperations
                    location: westus2
                    name: AzureSDKOperations
                    sku: {}
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-07-18T04%3A48%3A50.1962283Z'"_W/"datetime'2018-07-18T04%3A48%3A50.3433306Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/batchcertwcusafterdep1
                    location: westcentralus
                    name: batchcertwcusafterdep1
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-07-16T09%3A43%3A43.569014Z'"_W/"datetime'2018-07-16T09%3A43%3A43.5740171Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/batchcertwcusold
                    location: westcentralus
                    name: batchcertwcusold
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-03-20T08%3A08%3A11.5901685Z'"_W/"datetime'2018-03-20T08%3A08%3A11.6161871Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/smoketestwcus
                    location: westcentralus
                    name: smoketestwcus
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-04-13T09%3A17%3A33.9031753Z'"_W/"datetime'2018-04-13T09%3A17%3A33.9301949Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/wcus04-13
                    location: westcentralus
                    name: wcus04-13
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-07-05T14%3A40%3A04.7506699Z'"_W/"datetime'2018-07-05T14%3A40%3A04.7776888Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/wcus07-05
                    location: westcentralus
                    name: wcus07-05
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-06-05T11%3A17%3A08.7276428Z'"_W/"datetime'2018-06-05T11%3A17%3A08.7336469Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/wcussmoketest
                    location: westcentralus
                    name: wcussmoketest
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-07-23T08%3A24%3A48.4779951Z'"_W/"datetime'2018-07-23T08%3A24%3A48.5120189Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/batchcertseaafterdep1
                    location: southeastasia
                    name: batchcertseaafterdep1
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-07-16T10%3A00%3A28.3513242Z'"_W/"datetime'2018-07-16T10%3A00%3A28.3583291Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/batchcertseaold
                    location: southeastasia
                    name: batchcertseaold
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-06-13T18%3A04%3A02.4340032Z'"_W/"datetime'2018-06-13T18%3A04%3A02.4430097Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/testresourceon613
                    location: southeastasia
                    name: testresourceon613
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-02-22T11%3A13%3A22.4906285Z'"_W/"datetime'2018-02-22T11%3A13%3A22.6667555Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/DmsBvtRG3/providers/Microsoft.HybridData/dataManagers/testServiceIncident
                    location: westus
                    name: testServiceIncident
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-11-30T05%3A26%3A48.5998504Z'"_W/"datetime'2018-11-30T05%3A26%3A48.6048551Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/DmsBvtRG/providers/Microsoft.HybridData/dataManagers/storagemanagerresource
                    location: westus
                    name: storagemanagerresource
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-11-29T07%3A55%3A30.6749871Z'"_W/"datetime'2018-11-29T07%3A55%3A30.6809932Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsintrg/providers/Microsoft.HybridData/dataManagers/int-wus-11-29
                    location: westus
                    name: int-wus-11-29
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-03-17T15%3A03%3A36.5993632Z'"_W/"datetime'2018-03-17T15%3A03%3A36.7594788Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsintrg/providers/Microsoft.HybridData/dataManagers/intnewresource
                    location: westus
                    name: intnewresource
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-03-13T08%3A11%3A39.9025375Z'"_W/"datetime'2018-03-13T08%3A11%3A40.1036797Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsintrg/providers/Microsoft.HybridData/dataManagers/intresource
                    location: westus
                    name: intresource
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-10-30T09%3A56%3A32.9053638Z'"_W/"datetime'2018-10-30T09%3A56%3A33.0704765Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsintrg/providers/Microsoft.HybridData/dataManagers/intresource-10-30
                    location: westus
                    name: intresource-10-30
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-03-13T08%3A11%3A40.1389003Z'"_W/"datetime'2018-03-13T08%3A11%3A40.2479789Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsintrg/providers/Microsoft.HybridData/dataManagers/testresourceint
                    location: westus
                    name: testresourceint
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-04-27T05%3A51%3A33.0357952Z'"_W/"datetime'2018-04-27T05%3A51%3A33.0427995Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/acstoaadtest
                    location: westus
                    name: acstoaadtest
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-06-15T14%3A58%3A47.2327719Z'"_W/"datetime'2018-06-15T14%3A58%3A47.2397766Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/arbaswus15jun
                    location: westus
                    name: arbaswus15jun
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-07-13T09%3A56%3A08.5837426Z'"_W/"datetime'2018-07-13T09%3A56%3A08.7668731Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/batchcertdecryptperm2
                    location: westus
                    name: batchcertdecryptperm2
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-07-13T05%3A40%3A36.3146424Z'"_W/"datetime'2018-07-13T05%3A40%3A36.3226463Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/batchcertdecryptpermiss
                    location: westus
                    name: batchcertdecryptpermiss
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-07-19T09%3A49%3A52.1839822Z'"_W/"datetime'2018-07-19T09%3A49%3A52.3601069Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/batchcertintafterdep2
                    location: westus
                    name: batchcertintafterdep2
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-07-30T05%3A07%3A07.1198938Z'"_W/"datetime'2018-07-30T05%3A07%3A07.2940167Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/batchcertintbuild101
                    location: westus
                    name: batchcertintbuild101
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-07-12T09%3A46%3A50.1774789Z'"_W/"datetime'2018-07-12T09%3A46%3A50.3215821Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/batchcertoldresource
                    location: westus
                    name: batchcertoldresource
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-03-01T11%3A52%3A02.7715263Z'"_W/"datetime'2018-03-01T11%3A52%3A02.7765292Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/dmswusresource
                    location: westus
                    name: dmswusresource
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-06-07T13%3A08%3A29.4575101Z'"_W/"datetime'2018-06-07T13%3A08%3A29.629632Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/dsmsnodebinarytest
                    location: westus
                    name: dsmsnodebinarytest
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-05-23T08%3A45%3A40.8795252Z'"_W/"datetime'2018-05-23T08%3A45%3A41.0666584Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/dsmsresource
                    location: westus
                    name: dsmsresource
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-06-05T05%3A02%3A54.5475181Z'"_W/"datetime'2018-06-05T05%3A02%3A54.73265Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/dsmsresource1
                    location: westus
                    name: dsmsresource1
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-06-05T05%3A34%3A59.227556Z'"_W/"datetime'2018-06-05T05%3A34%3A59.4357029Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/dsmsresource2
                    location: westus
                    name: dsmsresource2
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-06-05T11%3A02%3A52.3744002Z'"_W/"datetime'2018-06-05T11%3A02%3A52.5365141Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/dsmsresource3
                    location: westus
                    name: dsmsresource3
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-06-08T15%3A58%3A07.1761866Z'"_W/"datetime'2018-06-08T15%3A58%3A07.3703309Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/dsmsresource4
                    location: westus
                    name: dsmsresource4
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-10-03T08%3A03%3A21.5040402Z'"_W/"datetime'2018-10-03T08%3A03%3A21.6421388Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/govtcloudtest
                    location: westus
                    name: govtcloudtest
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-02-01T10%3A38%3A07.9487894Z'"_W/"datetime'2018-02-01T10%3A38%3A08.1499556Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/intresource2
                    location: westus
                    name: intresource2
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-07-03T15%3A33%3A45.7585904Z'"_W/"datetime'2018-07-03T15%3A33%3A45.932713Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/intresource3rdjuly
                    location: westus
                    name: intresource3rdjuly
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-09-24T12%3A01%3A29.4312765Z'"_W/"datetime'2018-09-24T12%3A01%3A29.489317Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/intsmallfiles
                    location: westus
                    name: intsmallfiles
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-12-06T05%3A48%3A21.5818324Z'"_W/"datetime'2018-12-06T05%3A48%3A21.7748343Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/copyspeedexp/providers/Microsoft.HybridData/dataManagers/copyexp-we-int1
                    location: westeurope
                    name: copyexp-we-int1
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2019-01-16T09%3A57%3A01.2214069Z'"_W/"datetime'2019-01-16T09%3A57%3A01.4364046Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/DmsBvtRG/providers/Microsoft.HybridData/dataManagers/dms-we-16jan
                    location: westeurope
                    name: dms-we-16jan
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-11-28T10%3A55%3A58.530785Z'"_W/"datetime'2018-11-28T10%3A55%3A58.8107858Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/we-int-1
                    location: westeurope
                    name: we-int-1
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-11-14T02%3A42%3A38.6041538Z'"_W/"datetime'2018-11-14T02%3A42%3A38.6081571Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/amemigration/providers/Microsoft.HybridData/dataManagers/ecy-aftermigration
                    location: eastus2euap
                    name: ecy-aftermigration
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-11-11T03%3A11%3A40.5411975Z'"_W/"datetime'2018-11-11T03%3A11%3A40.6752923Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/amemigration/providers/Microsoft.HybridData/dataManagers/ecy-ame
                    location: eastus2euap
                    name: ecy-ame
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-06-15T15%3A31%3A18.3878653Z'"_W/"datetime'2018-06-15T15%3A31%3A18.3918681Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/arbasecy15jun
                    location: eastus2euap
                    name: arbasecy15jun
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-02-02T05%3A27%3A26.2904906Z'"_W/"datetime'2018-02-02T05%3A27%3A26.4706193Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/arbasecyresource
                    location: eastus2euap
                    name: arbasecyresource
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-07-12T10%3A58%3A42.4388372Z'"_W/"datetime'2018-07-12T10%3A58%3A42.4968789Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/batchcertecy
                    location: eastus2euap
                    name: batchcertecy
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-08-14T09%3A17%3A38.2905819Z'"_W/"datetime'2018-08-14T09%3A17%3A38.4556979Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/batchcertecynew
                    location: eastus2euap
                    name: batchcertecynew
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-04-10T09%3A41%3A03.749493Z'"_W/"datetime'2018-04-10T09%3A41%3A03.8805855Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/ecyresource-04-10
                    location: eastus2euap
                    name: ecyresource-04-10
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-02-20T10%3A01%3A55.2712681Z'"_W/"datetime'2018-02-20T10%3A01%3A55.441388Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/feb20ecyresource
                    location: eastus2euap
                    name: feb20ecyresource
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-02-06T08%3A37%3A23.6486177Z'"_W/"datetime'2018-02-06T08%3A37%3A23.7857152Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/hari-dms-analysis-ecy
                    location: eastus2euap
                    name: hari-dms-analysis-ecy
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2019-01-14T05%3A16%3A38.9573714Z'"_W/"datetime'2019-01-14T05%3A16%3A39.0774564Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/ForDMS/providers/Microsoft.HybridData/dataManagers/EcySmoke
                    location: eastus2euap
                    name: EcySmoke
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-11-11T03%3A13%3A19.0340832Z'"_W/"datetime'2018-11-11T03%3A13%3A19.038086Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/amemigration/providers/Microsoft.HybridData/dataManagers/ccy-ame
                    location: centraluseuap
                    name: ccy-ame
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2019-03-26T04%3A54%3A23.06065Z'"_W/"datetime'2019-03-26T04%3A54%3A23.1216929Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/amemigration/providers/Microsoft.HybridData/dataManagers/ccytest-26-march
                    location: Central US EUAP
                    name: ccytest-26-march
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-09-08T04%3A34%3A51.2547639Z'"_W/"datetime'2018-09-08T04%3A34%3A51.2597674Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/DmsBvtRG/providers/Microsoft.HybridData/dataManagers/BVT1Resource-4FOOXM2QHZ
                    location: centraluseuap
                    name: BVT1Resource-4FOOXM2QHZ
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-02-02T04%3A28%3A28.6587571Z'"_W/"datetime'2018-02-02T04%3A28%3A28.84689Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/arbasccyresource
                    location: centraluseuap
                    name: arbasccyresource
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-07-17T03%3A26%3A37.1256197Z'"_W/"datetime'2018-07-17T03%3A26%3A37.2667201Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/batchcertccyafterdep1
                    location: centraluseuap
                    name: batchcertccyafterdep1
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-07-28T05%3A02%3A57.763469Z'"_W/"datetime'2018-07-28T05%3A02%3A57.9215815Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/batchcertccybuild101
                    location: centraluseuap
                    name: batchcertccybuild101
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-07-12T09%3A47%3A44.2155827Z'"_W/"datetime'2018-07-12T09%3A47%3A44.2235883Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/batchcertoldccy
                    location: centraluseuap
                    name: batchcertoldccy
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-09-04T06%3A47%3A31.8676921Z'"_W/"datetime'2018-09-04T06%3A47%3A32.0268062Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/ccylargenumberoffiles
                    location: centraluseuap
                    name: ccylargenumberoffiles
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-02-20T10%3A02%3A19.8430119Z'"_W/"datetime'2018-02-20T10%3A02%3A20.0291444Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/feb20ccyresoirce
                    location: centraluseuap
                    name: feb20ccyresoirce
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-09-24T05%3A24%3A44.2753634Z'"_W/"datetime'2018-09-24T05%3A24%3A44.4114594Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/dmsResourceGroup/providers/Microsoft.HybridData/dataManagers/smallfilesccyjob
                    location: centraluseuap
                    name: smallfilesccyjob
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2019-02-07T09%3A38%3A22.6976591Z'"_W/"datetime'2019-02-07T09%3A38%3A22.8767865Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/ForDMS/providers/Microsoft.HybridData/dataManagers/res4ccyBCDR
                    location: centraluseuap
                    name: res4ccyBCDR
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-09-25T07%3A11%3A55.7616108Z'"_W/"datetime'2018-09-25T07%3A11%3A55.8957061Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/prpare/providers/Microsoft.HybridData/dataManagers/prpare50lakhsmallfiles
                    location: centraluseuap
                    name: prpare50lakhsmallfiles
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2018-06-15T07%3A04%3A34.2882012Z'"_W/"datetime'2018-06-15T07%3A04%3A34.3472441Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourcegroups/test-varavi/providers/Microsoft.HybridData/dataManagers/ccytestingpav2
                    location: centraluseuap
                    name: ccytestingpav2
                    sku:
                      name: DS0
                      tier: Standard
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers":
    get:
      description: Lists all the data manager resources available under the given resource group.
      operationId: DataManagers_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: List of data manager resources by resource group.
          schema:
            $ref: "#/definitions/DataManagerList"
      tags:
        - DataManagers
      x-ms-examples:
        DataManagers_ListByResourceGroupGET31:
          parameters:
            User-Agent:
              - FxVersion/4.6.26614.01
              - OSName/Windows
              - OSVersion/Microsoft.Windows.10.0.18875.
              - Microsoft.Azure.Management.HybridData.HybridDataManagementClient/0.9.0.preview
            accept-language:
              - en-US
            api-version: 2016-06-01
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 6e0219f5-327a-4365-904f-05eed4227ad7
            x-ms-client-request-id:
              - e3b4eee6-0a8d-4b70-9378-d4d6b125bfc3
          responses:
            "200":
              body:
                value:
                  - etag: W/"datetime'2019-02-17T14%3A50%3A37.866739Z'"_W/"datetime'2019-02-17T14%3A50%3A38.038859Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/AzureSDKOperations
                    location: westus2
                    name: AzureSDKOperations
                    sku: {}
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2019-03-30T06%3A35%3A01.1816182Z'"_W/"datetime'2019-03-30T06%3A35%3A01.2846913Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/AzSDKOps
                    location: westus
                    name: AzSDKOps
                    sku:
                      name: DS0
                      tier: Standard
                    tags:
                      helL00000: dlrow
                      hello: World
                      new: "true"
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2019-04-01T04%3A39%3A26.7966056Z'"_W/"datetime'2019-04-01T04%3A39%3A26.8006084Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/AzureSDKOperationsTest
                    location: westus
                    name: AzureSDKOperationsTest
                    sku:
                      name: DS0
                      tier: Standard
                    tags:
                      updateDateTime: 4/1/2019 10:09:23 AM
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2019-03-29T02%3A42%3A05.6859276Z'"_W/"datetime'2019-03-29T02%3A42%3A05.69093Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/DMSTestService
                    location: westus
                    name: DMSTestService
                    sku:
                      name: DS0
                      tier: Standard
                    tags:
                      hello: World
                      team: hcs
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2019-04-10T09%3A08%3A57.4101089Z'"_W/"datetime'2019-04-10T09%3A08%3A57.5552101Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations
                    location: westus
                    name: TestAzureSDKOperations
                    sku: {}
                    tags: {}
                    type: Microsoft.HybridData/dataManagers
                  - etag: W/"datetime'2019-03-13T04%3A55%3A25.3547061Z'"_W/"datetime'2019-03-13T04%3A55%3A25.359709Z'"
                    id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestDMS
                    location: westus
                    name: TestDMS
                    sku:
                      name: DS0
                      tier: Standard
                    tags:
                      newTag: 123abc
                    type: Microsoft.HybridData/dataManagers
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}":
    delete:
      description: Deletes a data manager resource in Microsoft Azure.
      operationId: DataManagers_Delete
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/dataManagerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "202":
          description: Data Manager Resource deleted.
        "204":
          description: Data Manager Resource deleted.
      tags:
        - DataManagers
      x-ms-examples:
        DataManagers_DeleteDELETE41:
          parameters:
            User-Agent:
              - FxVersion/4.6.26614.01
              - OSName/Windows
              - OSVersion/Microsoft.Windows.10.0.18875.
              - Microsoft.Azure.Management.HybridData.HybridDataManagementClient/0.9.0.preview
            accept-language:
              - en-US
            api-version: 2016-06-01
            dataManagerName: TestAzureSDKOperations
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 6e0219f5-327a-4365-904f-05eed4227ad7
            x-ms-client-request-id:
              - 13e52cec-60dd-4733-90b2-6781ec82e368
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets information about the specified data manager resource.
      operationId: DataManagers_Get
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/dataManagerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: Data Manager Resource object.
          schema:
            $ref: "#/definitions/DataManager"
      tags:
        - DataManagers
      x-ms-examples:
        DataManagers_GetGET41:
          parameters:
            User-Agent:
              - FxVersion/4.6.26614.01
              - OSName/Windows
              - OSVersion/Microsoft.Windows.10.0.18875.
              - Microsoft.Azure.Management.HybridData.HybridDataManagementClient/0.9.0.preview
            accept-language:
              - en-US
            api-version: 2016-06-01
            dataManagerName: TestAzureSDKOperations
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 6e0219f5-327a-4365-904f-05eed4227ad7
            x-ms-client-request-id:
              - 409f52e4-e9ae-4983-8cc1-4a09a1f82a7c
          responses:
            "200":
              body:
                etag: W/"datetime'2019-04-10T09%3A08%3A57.4101089Z'"_W/"datetime'2019-04-10T09%3A08%3A57.5552101Z'"
                id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations
                location: westus
                name: TestAzureSDKOperations
                sku: {}
                tags: {}
                type: Microsoft.HybridData/dataManagers
    patch:
      description: Updates the properties of an existing data manager resource.
      operationId: DataManagers_Update
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/dataManagerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: Defines the If-Match condition. The patch will be performed only if the ETag of the data manager resource on the server matches this value.
          in: header
          name: If-Match
          type: string
        - description: Data manager resource details from request body.
          in: body
          name: dataManagerUpdateParameter
          required: true
          schema:
            $ref: "#/definitions/DataManagerUpdateParameter"
      responses:
        "200":
          description: Data Manager Resource object.
          schema:
            $ref: "#/definitions/DataManager"
        "202":
          description: Data Manager Resource updated.
      tags:
        - DataManagers
      x-ms-examples:
        DataManagers_UpdatePATCH43:
          parameters:
            Content-Length:
              - "82"
            Content-Type:
              - application/json; charset=utf-8
            User-Agent:
              - FxVersion/4.6.26614.01
              - OSName/Windows
              - OSVersion/Microsoft.Windows.10.0.18875.
              - Microsoft.Azure.Management.HybridData.HybridDataManagementClient/0.9.0.preview
            accept-language:
              - en-US
            api-version: 2016-06-01
            dataManagerName: TestAzureSDKOperations
            dataManagerUpdateParameter:
              sku: {}
              tags:
                UpdateDateTime: 4/10/2019 2:53:54 PM
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 6e0219f5-327a-4365-904f-05eed4227ad7
            x-ms-client-request-id:
              - c46ff8b8-99cc-4762-b634-003713c68b75
          responses:
            "200":
              body:
                etag: W/"datetime'2019-04-10T09%3A23%3A57.1833483Z'"_W/"datetime'2019-04-10T09%3A23%3A57.1993588Z'"
                id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations
                location: westus
                name: TestAzureSDKOperations
                sku:
                  name: DS0
                  tier: Standard
                tags:
                  updateDateTime: 4/10/2019 2:53:54 PM
                type: Microsoft.HybridData/dataManagers
            "202": {}
      x-ms-long-running-operation: true
    put:
      description: "Creates a new data manager resource with the specified parameters. Existing resources cannot be updated with this API\r

        and should instead be updated with the Update data manager resource API."
      operationId: DataManagers_Create
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/dataManagerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: Data manager resource details from request body.
          in: body
          name: dataManager
          required: true
          schema:
            $ref: "#/definitions/DataManager"
      responses:
        "200":
          description: Data Manager Resource object.
          schema:
            $ref: "#/definitions/DataManager"
        "202":
          description: Accepted request for create/update.
      tags:
        - DataManagers
      x-ms-examples:
        DataManagers_CreatePUT41:
          parameters:
            Content-Length:
              - "28"
            Content-Type:
              - application/json; charset=utf-8
            User-Agent:
              - FxVersion/4.6.26614.01
              - OSName/Windows
              - OSVersion/Microsoft.Windows.10.0.18875.
              - Microsoft.Azure.Management.HybridData.HybridDataManagementClient/0.9.0.preview
            accept-language:
              - en-US
            api-version: 2016-06-01
            dataManager:
              location: westus
            dataManagerName: TestAzureSDKOperations
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 6e0219f5-327a-4365-904f-05eed4227ad7
            x-ms-client-request-id:
              - 125835ee-eee2-4f86-a8dc-73ef3c1a2a5c
          responses:
            "200":
              body:
                etag: W/"datetime'2019-04-10T09%3A08%3A57.4101089Z'"_W/"datetime'2019-04-10T09%3A08%3A57.5552101Z'"
                id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations
                location: westus
                name: TestAzureSDKOperations
                sku: {}
                tags: {}
                type: Microsoft.HybridData/dataManagers
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataServices":
    get:
      description: This method gets all the data services.
      operationId: DataServices_ListByDataManager
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/dataManagerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The list of data services.
          schema:
            $ref: "#/definitions/DataServiceList"
      tags:
        - DataServices
      x-ms-examples:
        DataServices_ListByDataManagerGET51:
          parameters:
            User-Agent:
              - FxVersion/4.6.26614.01
              - OSName/Windows
              - OSVersion/Microsoft.Windows.10.0.18875.
              - Microsoft.Azure.Management.HybridData.HybridDataManagementClient/0.9.0.preview
            accept-language:
              - en-US
            api-version: 2016-06-01
            dataManagerName: TestAzureSDKOperations
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 6e0219f5-327a-4365-904f-05eed4227ad7
            x-ms-client-request-id:
              - 5b073c32-d084-45e2-ac2d-3cec0bb722f9
          responses:
            "200":
              body:
                nextLink: null
                value:
                  - id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations/dataServices/DataTransformation
                    name: DataTransformation
                    properties:
                      state: Enabled
                      supportedDataSinkTypes:
                        - /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations/dataStoreTypes/AzureStorageAccount
                        - /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations/dataStoreTypes/AzureMediaServicesAccount
                      supportedDataSourceTypes:
                        - /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations/dataStoreTypes/StorSimple8000Series
                    type: Microsoft.HybridData/dataManagers/dataServices
                  - id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations/dataServices/KeyRollover
                    name: KeyRollover
                    properties:
                      state: Supported
                      supportedDataSinkTypes: []
                      supportedDataSourceTypes: []
                    type: Microsoft.HybridData/dataManagers/dataServices
                  - id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations/dataServices/DataSecurity
                    name: DataSecurity
                    properties:
                      state: Supported
                      supportedDataSinkTypes: []
                      supportedDataSourceTypes: []
                    type: Microsoft.HybridData/dataManagers/dataServices
                  - id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations/dataServices/DataInsights
                    name: DataInsights
                    properties:
                      state: Supported
                      supportedDataSinkTypes: []
                      supportedDataSourceTypes: []
                    type: Microsoft.HybridData/dataManagers/dataServices
                  - id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations/dataServices/DataHealth
                    name: DataHealth
                    properties:
                      state: Supported
                      supportedDataSinkTypes: []
                      supportedDataSourceTypes: []
                    type: Microsoft.HybridData/dataManagers/dataServices
                  - id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations/dataServices/RunnerService
                    name: RunnerService
                    properties:
                      state: Supported
                      supportedDataSinkTypes: []
                      supportedDataSourceTypes: []
                    type: Microsoft.HybridData/dataManagers/dataServices
                  - id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations/dataServices/IndexingAndSearch
                    name: IndexingAndSearch
                    properties:
                      state: Enabled
                      supportedDataSinkTypes:
                        - /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations/dataStoreTypes/SqlServer
                      supportedDataSourceTypes:
                        - /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations/dataStoreTypes/StorSimple8000Series
                        - /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations/dataStoreTypes/AzureStorageAccount
                    type: Microsoft.HybridData/dataManagers/dataServices
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataServices/{dataServiceName}":
    get:
      description: Gets the data service that match the data service name given.
      operationId: DataServices_Get
      parameters:
        - description: The name of the data service that is being queried.
          in: path
          name: dataServiceName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/dataManagerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The data service that matches the name.
          schema:
            $ref: "#/definitions/DataService"
      tags:
        - DataServices
      x-ms-examples:
        DataServices_GetGET62:
          parameters:
            User-Agent:
              - FxVersion/4.6.26614.01
              - OSName/Windows
              - OSVersion/Microsoft.Windows.10.0.18875.
              - Microsoft.Azure.Management.HybridData.HybridDataManagementClient/0.9.0.preview
            accept-language:
              - en-US
            api-version: 2016-06-01
            dataManagerName: TestAzureSDKOperations
            dataServiceName: DataTransformation
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 6e0219f5-327a-4365-904f-05eed4227ad7
            x-ms-client-request-id:
              - 5ed986da-1428-4cf2-87ee-c808408676ce
          responses:
            "200":
              body:
                id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations/dataServices/DataTransformation
                name: DataTransformation
                properties:
                  state: Enabled
                  supportedDataSinkTypes:
                    - /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations/dataStoreTypes/AzureStorageAccount
                    - /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations/dataStoreTypes/AzureMediaServicesAccount
                  supportedDataSourceTypes:
                    - /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations/dataStoreTypes/StorSimple8000Series
                type: Microsoft.HybridData/dataManagers/dataServices
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataServices/{dataServiceName}/jobDefinitions":
    get:
      description: This method gets all the job definitions of the given data service name.
      operationId: JobDefinitions_ListByDataService
      parameters:
        - description: The data service type of interest.
          in: path
          name: dataServiceName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/dataManagerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: OData Filter options
          in: query
          name: $filter
          required: false
          type: string
      responses:
        "200":
          description: The list of job definitions of the given data service type.
          schema:
            $ref: "#/definitions/JobDefinitionList"
      tags:
        - JobDefinitions
      x-ms-examples:
        JobDefinitions_ListByDataServiceGET71:
          parameters:
            User-Agent:
              - FxVersion/4.6.26614.01
              - OSName/Windows
              - OSVersion/Microsoft.Windows.10.0.18875.
              - Microsoft.Azure.Management.HybridData.HybridDataManagementClient/0.9.0.preview
            accept-language:
              - en-US
            api-version: 2016-06-01
            dataManagerName: TestAzureSDKOperations
            dataServiceName: DataTransformation
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 6e0219f5-327a-4365-904f-05eed4227ad7
            x-ms-client-request-id:
              - 3cd34277-0300-43ee-a55c-03bbd1b6d46a
          responses:
            "200":
              body:
                nextLink: null
                value:
                  - id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations/dataServices/DataTransformation/jobDefinitions/jobdeffromtestcode1
                    name: jobdeffromtestcode1
                    properties:
                      dataServiceInput:
                        AzureStorageType: Blob
                        BackupChoice: UseExistingLatest
                        ContainerName: containerfromtest
                        DeviceName: dmsdatasource
                        FileNameFilter: "*"
                        IsDirectoryMode: false
                        RootDirectories:
                          - \
                        VolumeNames:
                          - dmsbvtvol
                      dataSinkId: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations/dataStores/TestAzureStorage1
                      dataSourceId: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations/dataStores/TestStorSimpleSource1
                      lastModifiedTime: 2019-04-10T09:15:57.5797713Z
                      runLocation: westus
                      schedules: []
                      state: Enabled
                      userConfirmation: Required
                    type: Microsoft.HybridData/dataManagers/dataServices/jobDefinitions
      x-ms-odata: "#/definitions/JobDefinitionFilter"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataServices/{dataServiceName}/jobDefinitions/{jobDefinitionName}":
    delete:
      description: This method deletes the given job definition.
      operationId: JobDefinitions_Delete
      parameters:
        - description: The data service type of the job definition.
          in: path
          name: dataServiceName
          required: true
          type: string
        - description: The job definition name to be deleted.
          in: path
          name: jobDefinitionName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/dataManagerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "202":
          description: Accepted request for JobDefinition deletion.
        "204":
          description: JobDefinition deleted.
      tags:
        - JobDefinitions
      x-ms-examples:
        JobDefinitions_DeleteDELETE81:
          parameters:
            User-Agent:
              - FxVersion/4.6.26614.01
              - OSName/Windows
              - OSVersion/Microsoft.Windows.10.0.18875.
              - Microsoft.Azure.Management.HybridData.HybridDataManagementClient/0.9.0.preview
            accept-language:
              - en-US
            api-version: 2016-06-01
            dataManagerName: TestAzureSDKOperations
            dataServiceName: DataTransformation
            jobDefinitionName: jobdeffromtestcode1
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 6e0219f5-327a-4365-904f-05eed4227ad7
            x-ms-client-request-id:
              - 5de5bf1a-fb62-4e6a-9345-3be7f0dde32b
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: This method gets job definition object by name.
      operationId: JobDefinitions_Get
      parameters:
        - description: The data service name of the job definition
          in: path
          name: dataServiceName
          required: true
          type: string
        - description: The job definition name that is being queried.
          in: path
          name: jobDefinitionName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/dataManagerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The job definition that matches the criteria.
          schema:
            $ref: "#/definitions/JobDefinition"
      tags:
        - JobDefinitions
      x-ms-examples:
        JobDefinitions_GetGET81:
          parameters:
            User-Agent:
              - FxVersion/4.6.26614.01
              - OSName/Windows
              - OSVersion/Microsoft.Windows.10.0.18875.
              - Microsoft.Azure.Management.HybridData.HybridDataManagementClient/0.9.0.preview
            accept-language:
              - en-US
            api-version: 2016-06-01
            dataManagerName: TestAzureSDKOperations
            dataServiceName: DataTransformation
            jobDefinitionName: jobdeffromtestcode1
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 6e0219f5-327a-4365-904f-05eed4227ad7
            x-ms-client-request-id:
              - ba2d829f-8515-4907-b35e-c3dbb5e0219d
          responses:
            "200":
              body:
                id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations/dataServices/DataTransformation/jobDefinitions/jobdeffromtestcode1
                name: jobdeffromtestcode1
                properties:
                  dataServiceInput:
                    AzureStorageType: Blob
                    BackupChoice: UseExistingLatest
                    ContainerName: containerfromtest
                    DeviceName: dmsdatasource
                    FileNameFilter: "*"
                    IsDirectoryMode: false
                    RootDirectories:
                      - \
                    VolumeNames:
                      - dmsbvtvol
                  dataSinkId: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations/dataStores/TestAzureStorage1
                  dataSourceId: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations/dataStores/TestStorSimpleSource1
                  lastModifiedTime: 2019-04-10T09:15:57.5797713Z
                  runLocation: westus
                  schedules: []
                  state: Enabled
                  userConfirmation: Required
                type: Microsoft.HybridData/dataManagers/dataServices/jobDefinitions
    put:
      description: Creates or updates a job definition.
      operationId: JobDefinitions_CreateOrUpdate
      parameters:
        - description: The data service type of the job definition.
          in: path
          name: dataServiceName
          required: true
          type: string
        - description: The job definition name to be created or updated.
          in: path
          name: jobDefinitionName
          required: true
          type: string
        - description: Job Definition object to be created or updated.
          in: body
          name: jobDefinition
          required: true
          schema:
            $ref: "#/definitions/JobDefinition"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/dataManagerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: JobDefinition object.
          schema:
            $ref: "#/definitions/JobDefinition"
        "202":
          description: Accepted request for create/update.
      tags:
        - JobDefinitions
      x-ms-examples:
        JobDefinitions_CreateOrUpdatePUT83:
          parameters:
            Content-Length:
              - "909"
            Content-Type:
              - application/json; charset=utf-8
            User-Agent:
              - FxVersion/4.6.26614.01
              - OSName/Windows
              - OSVersion/Microsoft.Windows.10.0.18875.
              - Microsoft.Azure.Management.HybridData.HybridDataManagementClient/0.9.0.preview
            accept-language:
              - en-US
            api-version: 2016-06-01
            dataManagerName: TestAzureSDKOperations
            dataServiceName: DataTransformation
            jobDefinition:
              properties:
                dataServiceInput:
                  AzureStorageType: Blob
                  BackupChoice: UseExistingLatest
                  ContainerName: containerfromtest
                  DeviceName: dmsdatasource
                  FileNameFilter: "*"
                  IsDirectoryMode: false
                  RootDirectories:
                    - \
                  VolumeNames:
                    - dmsbvtvol
                dataSinkId: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations/dataStores/TestAzureStorage1
                dataSourceId: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations/dataStores/TestStorSimpleSource1
                runLocation: westus
                state: Enabled
                userConfirmation: Required
            jobDefinitionName: jobdeffromtestcode1
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 6e0219f5-327a-4365-904f-05eed4227ad7
            x-ms-client-request-id:
              - b9c5dbad-b03d-4c93-9eb2-ddfc49b789fb
          responses:
            "200":
              body:
                id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations/dataServices/DataTransformation/jobDefinitions/jobdeffromtestcode1
                name: jobdeffromtestcode1
                properties:
                  dataServiceInput:
                    AzureStorageType: Blob
                    BackupChoice: UseExistingLatest
                    ContainerName: containerfromtest
                    DeviceName: dmsdatasource
                    FileNameFilter: "*"
                    IsDirectoryMode: false
                    RootDirectories:
                      - \
                    VolumeNames:
                      - dmsbvtvol
                  dataSinkId: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations/dataStores/TestAzureStorage1
                  dataSourceId: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations/dataStores/TestStorSimpleSource1
                  lastModifiedTime: 2019-04-10T09:15:57.5797713Z
                  runLocation: westus
                  schedules: []
                  state: Enabled
                  userConfirmation: Required
                type: Microsoft.HybridData/dataManagers/dataServices/jobDefinitions
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataServices/{dataServiceName}/jobDefinitions/{jobDefinitionName}/jobs":
    get:
      description: This method gets all the jobs of a given job definition.
      operationId: Jobs_ListByJobDefinition
      parameters:
        - description: The name of the data service of the job definition.
          in: path
          name: dataServiceName
          required: true
          type: string
        - description: The name of the job definition for which jobs are needed.
          in: path
          name: jobDefinitionName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/dataManagerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: OData Filter options
          in: query
          name: $filter
          required: false
          type: string
      responses:
        "200":
          description: The list of jobs.
          schema:
            $ref: "#/definitions/JobList"
      tags:
        - Jobs
      x-ms-examples:
        Jobs_ListByJobDefinitionGET91:
          parameters:
            User-Agent:
              - FxVersion/4.6.26614.01
              - OSName/Windows
              - OSVersion/Microsoft.Windows.10.0.18875.
              - Microsoft.Azure.Management.HybridData.HybridDataManagementClient/0.9.0.preview
            accept-language:
              - en-US
            api-version: 2016-06-01
            dataManagerName: TestAzureSDKOperations
            dataServiceName: DataTransformation
            jobDefinitionName: jobdeffromtestcode1
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 6e0219f5-327a-4365-904f-05eed4227ad7
            x-ms-client-request-id:
              - 01ef0302-1fdb-4156-9961-05647e263d4e
          responses:
            "200":
              body:
                nextLink: null
                value:
                  - id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations/dataServices/DataTransformation/jobDefinitions/jobdeffromtestcode1/jobs/8ae39e0e-df7b-453e-8599-db47a277e543
                    name: 8ae39e0e-df7b-453e-8599-db47a277e543
                    properties:
                      bytesProcessed: 0
                      isCancellable: Cancellable
                      itemsProcessed: 0
                      totalBytesToProcess: 0
                      totalItemsToProcess: 0
                    startTime: 2019-04-10T09:18:43.5738907Z
                    status: InProgress
                    type: Microsoft.HybridData/dataManagers/jobs
                  - id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations/dataServices/DataTransformation/jobDefinitions/jobdeffromtestcode1/jobs/0e10d92e-972a-4c3c-aa49-1b96911cb254
                    name: 0e10d92e-972a-4c3c-aa49-1b96911cb254
                    properties:
                      bytesProcessed: 0
                      isCancellable: Cancellable
                      itemsProcessed: 0
                      totalBytesToProcess: 0
                      totalItemsToProcess: 0
                    startTime: 2019-04-10T09:18:27.7961146Z
                    status: InProgress
                    type: Microsoft.HybridData/dataManagers/jobs
                  - id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations/dataServices/DataTransformation/jobDefinitions/jobdeffromtestcode1/jobs/1fc3cf96-a62f-47b4-ae6b-add6d6543f7a
                    name: 1fc3cf96-a62f-47b4-ae6b-add6d6543f7a
                    properties:
                      bytesProcessed: 0
                      isCancellable: Cancellable
                      itemsProcessed: 0
                      totalBytesToProcess: 0
                      totalItemsToProcess: 0
                    startTime: 2019-04-10T09:17:38.0215948Z
                    status: InProgress
                    type: Microsoft.HybridData/dataManagers/jobs
      x-ms-odata: "#/definitions/JobFilter"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridData/dataManagers/{dataManagerName}/dataServices/{dataServiceName}/jobDefinitions/{jobDefinitionName}/jobs/{jobId}":
    get:
      description: This method gets a data manager job given the jobId.
      operationId: Jobs_Get
      parameters:
        - description: The name of the data service of the job definition.
          in: path
          name: dataServiceName
          required: true
          type: string
        - description: The name of the job definition of the job.
          in: path
          name: jobDefinitionName
          required: true
          type: string
        - description: The job id of the job queried.
          in: path
          name: jobId
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/dataManagerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: $expand is supported on details parameter for job, which provides details on the job stages.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        "200":
          description: The job that matches the given criteria.
          schema:
            $ref: "#/definitions/Job"
      tags:
        - Jobs
      x-ms-examples:
        Jobs_GetGET101:
          parameters:
            User-Agent:
              - FxVersion/4.6.26614.01
              - OSName/Windows
              - OSVersion/Microsoft.Windows.10.0.18875.
              - Microsoft.Azure.Management.HybridData.HybridDataManagementClient/0.9.0.preview
            accept-language:
              - en-US
            api-version: 2016-06-01
            dataManagerName: TestAzureSDKOperations
            dataServiceName: DataTransformation
            jobDefinitionName: jobdeffromtestcode1
            jobId: 1fc3cf96-a62f-47b4-ae6b-add6d6543f7a
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 6e0219f5-327a-4365-904f-05eed4227ad7
            x-ms-client-request-id:
              - e24339c5-18a9-4376-b6d1-f7d1537e665f
          responses:
            "200":
              body:
                id: /subscriptions/6e0219f5-327a-4365-904f-05eed4227ad7/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.HybridData/dataManagers/TestAzureSDKOperations/dataServices/DataTransformation/jobDefinitions/jobdeffromtestcode1/jobs/1fc3cf96-a62f-47b4-ae6b-add6d6543f7a
                name: 1fc3cf96-a62f-47b4-ae6b-add6d6543f7a
                properties:
                  bytesProcessed: 0
[...]
