swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Provides create, read, update and delete functionality for Azure SQL Database resources including servers, databases, elastic pools, recommendations, operations, and usage metrics.
  title: Azure SQL Database
  version: 2014-04-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/usages.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: sql-usages
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
parameters:
  ServerNameParameter:
    description: The name of the server.
    in: path
    name: serverName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/usages":
    get:
      description: Returns database usages.
      operationId: DatabaseUsages_ListByDatabase
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the database.
          in: path
          name: databaseName
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DatabaseUsageListResult"
      tags:
        - Databases
      x-ms-examples:
        List database usage metrics:
          parameters:
            api-version: 2014-04-01
            databaseName: "3481"
            resourceGroupName: sqlcrudtest-6730
            serverName: sqlcrudtest-9007
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - currentValue: 4194304
                    displayName: Database Size
                    limit: 268435456000
                    name: database_size
                    nextResetTime: null
                    resourceName: "3481"
                    unit: Bytes
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/usages":
    get:
      description: Returns server usages.
      operationId: ServerUsages_ListByServer
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ServerUsageListResult"
      tags:
        - Servers
      x-ms-examples:
        List servers usages:
          parameters:
            api-version: 2014-04-01
            resourceGroupName: sqlcrudtest-6730
            serverName: sqlcrudtest-9007
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - currentValue: 0
                    displayName: Database Throughput Unit Quota
                    limit: 45000
                    name: server_dtu_quota
                    nextResetTime: null
                    resourceName: sqlcrudtest-9007
                    unit: DTUs
                  - currentValue: 0
                    displayName: Database Throughput Unit Quota
                    limit: 45000
                    name: server_dtu_quota_current
                    nextResetTime: null
                    resourceName: sqlcrudtest-9007
                    unit: DTUs
      x-ms-pageable:
        nextLinkName: null
definitions:
  DatabaseUsage:
    description: The database usages.
    properties:
      currentValue:
        description: The current value of the usage metric.
        format: double
        readOnly: true
        type: number
      displayName:
        description: The usage metric display name.
        readOnly: true
        type: string
      limit:
        description: The current limit of the usage metric.
        format: double
        readOnly: true
        type: number
      name:
        description: The name of the usage metric.
        readOnly: true
        type: string
      nextResetTime:
        description: The next reset time for the usage metric (ISO8601 format).
        format: date-time
        readOnly: true
        type: string
      resourceName:
        description: The name of the resource.
        readOnly: true
        type: string
      unit:
        description: The units of the usage metric.
        readOnly: true
        type: string
  DatabaseUsageListResult:
    description: The response to a list database metrics request.
    properties:
      value:
        description: The list of database usages for the database.
        items:
          $ref: "#/definitions/DatabaseUsage"
        type: array
    required:
      - value
  ServerUsage:
    description: Represents server metrics.
    properties:
      currentValue:
        description: The current value of the metric.
        format: double
        readOnly: true
        type: number
      displayName:
        description: The metric display name.
        readOnly: true
        type: string
      limit:
        description: The current limit of the metric.
        format: double
        readOnly: true
        type: number
      name:
        description: Name of the server usage metric.
        readOnly: true
        type: string
      nextResetTime:
        description: The next reset time for the metric (ISO8601 format).
        format: date-time
        readOnly: true
        type: string
      resourceName:
        description: The name of the resource.
        readOnly: true
        type: string
      unit:
        description: The units of the metric.
        readOnly: true
        type: string
  ServerUsageListResult:
    description: Represents the response to a list server metrics request.
    properties:
      value:
        description: The list of server metrics for the server.
        items:
          $ref: "#/definitions/ServerUsage"
        type: array
    required:
      - value
