{
  "openapi": "3.0.3",
  "servers": [
    {
      "url": "https://rest.iad-01.braze.com"
    }
  ],
  "info": {
    "contact": {},
    "description": "# Braze API Overview\n\nBraze provides a high performance REST API to allow you to track users, send messages, export data, and more.\n\nA REST API is a way to programmatically transfer information over the web using a predefined schema. Braze has created many different endpoints with specific requirements that will perform various actions and/or return various data. API access is done using HTTPS web requests to your company's REST API endpoint (this will correspond to your Dashboard URL as shown in the table below).\n\nCustomers using Braze's EU database should use `https://rest.fra-01.braze.eu/`. For more information on REST API endpoints for customers using Braze's EU database see our [EU/US Implementation Differences documentation](https://www.braze.com/docs/developer_guide/eu01_us3_sdk_implementation_differences/overview/).\n\n## Braze Instances\n\nInstance    | Dashboard URL   | REST Endpoint\n----------- |---------------- | --------------------\nUS-01 | `https://dashboard.braze.com` or<br> `https://dashboard-01.braze.com` | `https://rest.iad-01.braze.com`\nUS-02 | `https://dashboard-02.braze.com` | `https://rest.iad-02.braze.com`\nUS-03 | `https://dashboard-03.braze.com` | `https://rest.iad-03.braze.com`\nUS-04 | `https://dashboard-04.braze.com` | `https://rest.iad-04.braze.com`\nUS-06 | `https://dashboard-06.braze.com` | `https://rest.iad-06.braze.com`\nEU-01 | `https://dashboard.braze.eu` or<br> `https://dashboard-01.braze.eu` | `https://rest.fra-01.braze.eu`\n\n\n# Using Braze's Postman Collection \n\nIf you have a Postman account (MacOS, Windows, and Linux versions can be downloaded from their website located [here](https://www.getpostman.com)), you can go to our Postman documentation and click the orange `Run in Postman` button in the top, right corner. This will allow you to [create an environment](#setting-up-your-postman-environment), as well as edit the available `POST` and `GET` requests to suit your own needs.\n\n## Setting Up Your Postman Environment\n\nThe Braze Postman Collection uses a templating variable, `{{instance_url}}`, to substitute the REST API URL of your Braze instance into the pre-built requests. Rather than having to manually edit all requests in the Collection, you can set up this variable in your Postman environment. To do so, please follow the steps below:\n\n1. Click on the gear icon in the top right corner of the Postman app. \n2. Select \"Manage Environments\" to open a modal window which displays your active environments.\n3. In the bottom right corner of the modal window, click \"Add\" to create a new environment.\n4. Give this environment a name (e.g. \"Braze API Requests\") and add keys for `instance_url` and `api_key` with values corresponding to [your Braze instance](https://www.braze.com/docs/api/basics/#endpoints) and [Braze REST API Key](https://www.braze.com/docs/api/basics/#app-group-rest-api-keys), as pictured below. \n\nAs of April, 2020 Braze has changed how we read App Group API keys. Instead of passing them in the request body or through url parameters, we now read the App Group Rest`api_key` through the HTTP Authorization header. API keys not passed through the HTTP Authorization Header will coninue to work until they have been sunset. \n\n## Using the Pre-Built Requests from the Collection\n\nOnce you have configured your environment. You can use any of the pre-built requests in the collection as a template for building new API requests. To start using one of the pre-built requests, simply click on it within the 'Collections' menu on the left side of Postman. This will open the request as a new tab in the main window of the Postman app.\n\nIn general, there are two types of requests that Braze's API endpoints accept - `GET` and `POST`. Depending on which `HTTP` method the endpoint uses, you'll need to edit the pre-built request differently.\n\n### Edit a POST Request\n\nWhen editing a `POST` request, you'll need to open the request and navigate to the `Body` section in the request editor. For readability, select the `raw` radio button to format the `JSON` request body.\n\n### Edit a GET Request\n\nWhen editing a `GET` request, you will need to edit the parameters passed in the request URL. To edit these easily, select the `Params` button next to the URL bar and edit the key-value pairs in the fields that will appear below the URL bar.\n\n## Send Your Request\n\nOnce your API request is ready to send, click on the 'Send' button next to the URL bar. The request will be sent and the response data will be populated in a section underneath the request editor. From here, you can view the raw data returned from Braze's API, see the HTTP response code, see how long the request took to process, and view header information.",
    "title": "Braze Endpoints",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "marketing"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_www.braze.com_assets_favicon_apple-touch-icon.png"
    },
    "x-origin": [
      {
        "format": "postman",
        "url": "https://www.getpostman.com/collections/29baa41d7ba930673ef0",
        "version": "2.x"
      }
    ],
    "x-providerName": "braze.com"
  },
  "tags": [
    {
      "description": "Users’ email subscription status can be updated and retrieved via Braze using a RESTful API. You can use the API to set up bi-directional sync between Braze and other email systems or your own database.",
      "name": "Email Lists & Addresses"
    },
    {
      "description": "With this collection of endpoints, you will be able to access and export various levels of details on your users, segments, campaigns, and Canvases. \n\nPlease be sure to reference the correct Instance when making API requests.\n\n",
      "name": "Export"
    },
    {
      "name": "Campaign"
    },
    {
      "name": "Canvas"
    },
    {
      "name": "Custom Events"
    },
    {
      "name": "KPI"
    },
    {
      "name": "News Feed"
    },
    {
      "name": "Segment"
    },
    {
      "name": "Session Analytics"
    },
    {
      "name": "Users"
    },
    {
      "description": "The Braze messaging API provides you with two distinct options for sending messages to your users. You can provide the message contents and configuration in the API request with the /messages/send and /messages/schedule endpoints. Alternatively, you can manage the details of your message with an API-Triggered Delivery campaign in the dashboard and just control when and to whom it is sent with the campaigns/trigger/send and campaigns/trigger/schedule endpoints. The following sections will detail the request specification for both methods.\n\nThe examples below contain the URL https://rest.iad-01.braze.com, but some customers will need to use a different endpoint URL, for example if you are hosted in Braze’s EU data center or have a dedicated Braze installation. Your Success Manager will inform you if you should use a different endpoint URL.\n\nSimilarly to other campaigns, you can limit the number of times a particular user can receive a Messaging API campaign by configuring re-eligibility settings in the Braze Dashboard. Braze will not deliver API messages to users that haven’t become re-eligible for the campaign regardless of how many API requests are sent.\n\n",
      "name": "Messaging"
    },
    {
      "name": "Schedule Mesages"
    },
    {
      "name": "Send Messages"
    },
    {
      "description": "Use the Subscription Group REST APIs to programmatically manage the subscription groups that you have stored on the Braze dashboard, on the Subscription Group page.",
      "name": "Subscription Groups"
    },
    {
      "name": "Email"
    },
    {
      "name": "SMS"
    },
    {
      "name": "Templates"
    },
    {
      "description": "Content Blocks are an Email Templating feature that allow you to: \n- Create a consistent look and feel to your Email campaigns using Content Blocks as Headers and Footers.\n- Distribute the same offer codes through different channels.\n- Create pre-defined assets that can be used to build messages with consistent information and assets.\n- Copy entire message bodies to other messages.\n\nYou can edit Content Blocks in the Templates & Media section of the Braze UI, or here, via API.",
      "name": "Content Blocks"
    },
    {
      "name": "Email Templates"
    },
    {
      "description": "The User API allows you to track information on your users by logging data about your users that comes from outside your mobile app. You can also use this API to delete users for testing or other purposes.\n\nAll API endpoints have a data payload limit of 4MB. Attempts to post more data than 4MB will fail with an HTTP 413 Request Entity Too Large.\n\nThe examples below contain the URL https://rest.iad-01.braze.com, but some customers will need to use a different endpoint URL, for example if you are hosted in Braze’s EU data center or have a dedicated Braze installation. Your Success Manager will inform you if you should use a different endpoint URL.\n\n",
      "name": "User Data"
    },
    {
      "description": "The External ID Migration API allows you to rename existing external IDs (creating a new primary ID and deprecating the existing ID) and remove deprecated IDs post-migration. <br><br> We've architected this solution to allow multiple External IDs in order to support a migration period whereby older versions of your apps still in the wild that use the previous External ID naming schema don’t break. We highly recommend removing deprecated External IDs once your old naming schema is no longer in use.",
      "name": "External ID Migration"
    }
  ],
  "paths": {
    "/campaigns/data_series": {
      "get": {
        "description": "This endpoint allows you to retrieve a daily series of various stats for a campaign over time. Data returned includes how many messages were sent, opened, clicked, converted, etc., broken down by message channel. \n\n### Components Used\n-[Campaign Identifier](https://www.braze.com/docs/api/identifier_types/)\n\n\n### Responses\n\n#### Multi-Channel Response\n\n```json\nContent-Type: application/json\nAuthorization: Bearer YOUR-REST-API-KEY\n{\n    \"message\": (required, string) the status of the export, returns 'success' when completed without errors,\n    \"data\" : [\n        {\n            \"time\" : (string) date as ISO 8601 date,\n            \"messages\" : {\n                \"ios_push\" : [\n                    {\n                      \"variation_name\": \"iOS_Push\",\n                      \"sent\" : (int),\n                      \"direct_opens\" : (int),\n                      \"total_opens\" : (int),\n                      \"bounces\" : (int),\n                      \"body_clicks\" : (int)\n                      \"revenue\": 0,\n                      \"unique_recipients\": 1,\n                      \"conversions\": 0,\n                      \"conversions_by_send_time\": 0,\n                      \"conversions1\": 0,\n                      \"conversions1_by_send_time\": 0,\n                      \"conversions2\": 0,\n                      \"conversions2_by_send_time\": 0,\n                      \"conversions3\": 0,\n                      \"conversions3_by_send_time\": 0,\n                      \"carousel_slide_[NUM]_[TITLE]_click\": (optional, int),\n                      \"notif_button_[NUM]_[TITLE]_click\": (optional, int)\n                    }\n                ],\n                \"android_push\" : [\n                    {\n                      \"sent\" : (int),\n                      \"direct_opens\" : (int),\n                      \"total_opens\" : (int),\n                      \"bounces\" : (int),\n                      \"body_clicks\" : (int)\n                    }\n                ],\n                \"webhook\": [\n                    {\n                      \"sent\": (int),\n                      \"errors\": (int)\n                    }\n                ],\n                \"email\" : [\n                    {\n                      \"sent\": (int),\n                      \"opens\": (int),\n                      \"unique_opens\": (int),\n                      \"clicks\": (int),\n                      \"unique_clicks\": (int),\n                      \"unsubscribes\": (int),\n                      \"bounces\": (int),\n                      \"delivered\": (int),\n                      \"reported_spam\": (int)\n                    }\n                ],\n                \"sms\" : [\n                  {\n                    \"sent\": (int),\n                    \"delivered\": (int),\n                    \"undelivered\": (int),\n                    \"delivery_failed\": (int)\n                  }\n                ]\n              },\n           \"conversions_by_send_time\": (optional, int),\n           \"conversions1_by_send_time\": (optional, int),\n           \"conversions2_by_send_time\": (optional, int),\n           \"conversions3_by_send_time\": (optional, int),\n           \"conversions\": (int),\n           \"conversions1\": (optional, int),\n           \"conversions2\": (optional, int),\n           \"conversions3\": (optional, int),\n           \"unique_recipients\": (int),\n           \"revenue\": (optional, float)\n        },\n        ...\n    ],\n    ...\n}\n```\n\n#### Multivariate Response\n\n```json\nContent-Type: application/json\nAuthorization: Bearer YOUR-REST-API-KEY\n{\n    \"data\" : [\n        {\n            \"time\" : (string) date as ISO 8601 date,\n            \"conversions\" : (int),\n            \"revenue\": (float),\n            \"conversions_by_send_time\": (int),\n            \"messages\" : {\n               \"trigger_in_app_message\": [{\n      \t\t\t\t\"variation_name\": (optional, string),\n      \t\t\t\t\"impressions\": (int),\n      \t\t\t\t\"clicks\": (int),\n      \t\t\t\t\"first_button_clicks\": (int),\n      \t\t\t\t\"second_button_clicks\": (int),\n      \t\t\t\t\"revenue\": (optional, float),,\n      \t\t\t\t\"unique_recipients\": (int),\n      \t\t\t\t\"conversions\": (optional, int),\n      \t\t\t\t\"conversions_by_send_time\": (optional, int),\n      \t\t\t\t\"conversions1\": (optional, int),\n      \t\t\t\t\"conversions1_by_send_time\": (optional, int),\n      \t\t\t\t\"conversions2\": (optional, int),\n      \t\t\t\t\"conversions2_by_send_time\": (optional, int),\n      \t\t\t\t\"conversions3\": (optional, int),\n      \t\t\t\t\"conversions3_by_send_time\": (optional, int)\n      \t\t\t}, {\n      \t\t\t\t\"variation_name\": (optional, string),\n      \t\t\t\t\"impressions\": (int),\n      \t\t\t\t\"clicks\": (int),\n      \t\t\t\t\"first_button_clicks\": (int),\n      \t\t\t\t\"second_button_clicks\": (int),\n      \t\t\t\t\"revenue\": (optional, float),,\n      \t\t\t\t\"unique_recipients\": (int),\n      \t\t\t\t\"conversions\": (optional, int),\n      \t\t\t\t\"conversions_by_send_time\": (optional, int),\n      \t\t\t\t\"conversions1\": (optional, int),\n      \t\t\t\t\"conversions1_by_send_time\": (optional, int),\n      \t\t\t\t\"conversions2\": (optional, int),\n      \t\t\t\t\"conversions2_by_send_time\": (optional, int),\n      \t\t\t\t\"conversions3\": (optional, int).\n      \t\t\t\t\"conversions3_by_send_time\": (optional, int)\n      \t\t\t}, {\n      \t\t\t\t\"variation_name\": (optional, string),\n      \t\t\t\t\"revenue\": (optional, float),,\n      \t\t\t\t\"unique_recipients\": (int),\n      \t\t\t\t\"conversions\": (optional, int),\n      \t\t\t\t\"conversions_by_send_time\": (optional, int),\n      \t\t\t\t\"conversions1\": (optional, int),\n      \t\t\t\t\"conversions1_by_send_time\": (optional, int),\n      \t\t\t\t\"conversions2\": (optional, int),\n      \t\t\t\t\"conversions2_by_send_time\": (optional, int),\n      \t\t\t\t\"conversions3\": (optional, int),\n      \t\t\t\t\"conversions3_by_send_time\": (optional, int),\n      \t\t\t\t\"enrolled\": (optional, int)\n      \t\t\t}]\n      \t\t},\n      \t\t\"conversions_by_send_time\": (optional, int),\n      \t\t\"conversions1_by_send_time\": (optional, int),\n      \t\t\"conversions2_by_send_time\": (optional, int),\n      \t\t\"conversions3_by_send_time\": (optional, int),\n      \t\t\"conversions\": (optional, int,\n      \t\t\"conversions1\": (optional, int),\n      \t\t\"conversions2\": (optional, int),\n      \t\t\"conversions3\": (optional, int),\n      \t\t\"unique_recipients\": (int),\n      \t\t\"revenue\": (optional, float)\n         }],\n         ...\n}\n```\n\nPossible message types are `email`, `in_app_message`, `webhook`, `android_push`, `apple_push`, `kindle_push`, `web_push`, `windows_phone8_push`, and `windows_universal_push`. All push message types will have the same statistics shown for `android_push` above.",
        "operationId": "campaignAnalytics",
        "parameters": [
          {
            "description": "(Required) String\n\nCampaign API identifier",
            "in": "query",
            "name": "campaign_id",
            "schema": {
              "example": "{{campaign_identifier}}",
              "type": "string"
            }
          },
          {
            "description": "(Required) Integer\n\nMax number of days before ending_at to include in the returned series - must be between 1 and 100 inclusive",
            "in": "query",
            "name": "length",
            "schema": {
              "example": "7",
              "type": "string"
            }
          },
          {
            "description": "(Optional) DateTime (ISO 8601 string)\n\nDate on which the data series should end - defaults to time of the request",
            "in": "query",
            "name": "ending_at",
            "schema": {
              "example": "2020-06-28T23:59:59-5:00",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "Campaign Analytics",
        "tags": [
          "Export",
          "Campaign"
        ]
      }
    },
    "/campaigns/details": {
      "get": {
        "description": "This endpoint allows you to retrieve relevant information on a specified campaign, which can be identified by the `campaign_id`. \n\n> The campaign_id for API campaigns can be found on the Developer Console page and the campaign details page within your dashboard or you can use the Campaign List Endpoint.\n\n### Components Used\n- [Campaign Identifier](https://www.braze.com/docs/api/identifier_types/)\n\n\n### Campaign Details Endpoint API Response\n\n```json\nContent-Type: application/json\nAuthorization: Bearer YOUR-REST-API-KEY\n{\n    \"message\": (required, string) the status of the export, returns 'success' when completed without errors,\n    \"created_at\" : (string) date created as ISO 8601 date,\n    \"updated_at\" : (string) date last updated as ISO 8601 date,\n    \"archived\": (boolean) whether this Campaign is archived,\n    \"draft\": (boolean) whether this Campaign is a draft,\n    \"name\" : (string) campaign name,\n    \"description\" : (string) campaign description,\n    \"schedule_type\" : (string) type of scheduling action,\n    \"channels\" : (array) list of channels to send via,\n    \"first_sent\" : (string) date and hour of first sent as ISO 8601 date,\n    \"last_sent\" : (string) date and hour of last sent as ISO 8601 date,\n    \"tags\" : (array) tag names associated with the campaign,\n    \"messages\": {\n        \"message_variation_id\": (string) { // <=This is the actual id\n            \"channel\": (string) channel type of the message (as in, \"email\", \"ios_push\", \"webhook\", \"content_card\", \"in-app_message\", \"sms\"),\n            \"name\": (string) name of the message in the Dashboard (eg., \"Variation 1\")\n            ... channel-specific fields for this message, see below ...\n        }\n    },\n    \"conversion_behaviors\": (array) conversion event behaviors assigned to the campaign (see below)\n}\n```\n\n#### Messages\n\nThe `messages` response will contain information about each message. Example message responses for channels are below:\n\n##### Push Channels\n\n```json\n{\n    \"channel\": (string) description of the channel, such as \"ios_push\" or \"android_push\"\n    \"alert\": (string) alert body text,\n    \"extras\": (hash) any key value pairs provided\n}\n```\n\n##### Email Channel\n\n```json\n{\n    \"channel\": \"email\",\n    \"subject\": (string) subject,\n    \"body\": (string) HTML body,\n    \"from\": (string) from address and display name,\n    \"reply_to\": (string) reply-to for message, if different than \"from\" address,\n    \"title\": (string) name of the email,\n    \"extras\": (hash) any key value pairs provided\n}\n```\n\n##### Content Card Channel\n\n```json\n{\n    \"channel\": \"content_cards\",\n    \"name\": (string) name of variant,\n    \"extras\": (hash) any key value pairs provided; only present if at least one key-value pair has been set\n}\n```\n\n##### Webhook Channel\n\n```json\n{\n    \"channel\": \"webhook\",\n    \"url\": (string) url for webhook,\n    \"body\": (string) payload body,\n    \"type\": (string) body content type,\n    \"headers\": (hash) specified request headers,\n    \"method\": (string) HTTP method (e.g., \"POST\" or \"GET\"),\n}\n```\n\n##### SMS Channel\n\n```json\n{\n  \"channel\": \"sms\",\n  \"body\": (string) payload body,\n  \"from\": (string) list of numbers associated with the subscription group,\n  \"subscription_group_id\": (string) API id of the subscription group targeted in the SMS message\n}\n```\n\n##### Control Messages\n\n```json\n{\n    \"channel\": (string) description of the channel that the control is for,\n    \"type\": \"control\"\n}\n```\n\n#### Conversion Behaviors\n\nThe `conversion_behaviors` array will contain information about each conversion event behavior set for the campaign. These behaviors are in order as set by the campaign. For example, Conversion Event A will be the first item in the array, Conversion Event B will be second, etc. Example conversion event behavior responses for are below:\n\n##### Clicks Email\n\n```json\n{\n    \"type\": \"Clicks Email\",\n    \"window\": (integer) number of seconds during which the user can convert on this event, i.e. - 86400, which is 24 hours\n}\n```\n\n##### Opens Email\n\n```json\n{\n    \"type\": \"Opens Email\",\n    \"window\": (integer) number of seconds during which the user can convert on this event, i.e. - 86400, which is 24 hours\n}\n```\n\n##### Makes Purchase (any purchase)\n\n```json\n{\n    \"type\": \"Makes Any Purchase\",\n    \"window\": (integer) number of seconds during which the user can convert on this event, i.e. - 86400, which is 24 hours\n}\n```\n\n##### Makes Purchase (specific product)\n\n```json\n{\n    \"type\": \"Makes Specific Purchase\",\n    \"window\": (integer) number of seconds during which the user can convert on this event, i.e. - 86400, which is 24 hours,\n    \"product\": (string) name of the product, i.e. - \"Feline Body Armor\"\n}\n```\n\n##### Performs Custom Event\n\n```json\n{\n    \"type\": \"Performs Custom Event\",\n    \"window\": (integer) number of seconds during which the user can convert on this event, i.e. - 86400, which is 24 hours,\n    \"custom_event_name\": (string) name of the event, i.e. - \"Used Feline Body Armor\"\n}\n```\n\n##### Upgrades App\n\n```json\n{\n    \"type\": \"Upgrades App\",\n    \"window\": (integer) number of seconds during which the user can convert on this event, i.e. - 86400, which is 24 hours,\n    \"app_ids\": (array|null) array of app ids, i.e. - [\"12345\", \"67890\"], or `null` if \"Track sessions for any app\" is selected in the UI\n}\n```\n\n##### Uses App\n\n```json\n{\n    \"type\": \"Starts Session\",\n    \"window\": (integer) number of seconds during which the user can convert on this event, i.e. - 86400, which is 24 hours,\n    \"app_ids\": (array|null) array of app ids, i.e. - [\"12345\", \"67890\"], or `null` if \"Track sessions for any app\" is selected in the UI\n}\n```",
        "operationId": "campaignDetails",
        "parameters": [
          {
            "description": "(Required) String\n\nCampaign API identifier",
            "in": "query",
            "name": "campaign_id",
            "schema": {
              "example": "{{campaign_identifier}}",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "Campaign Details",
        "tags": [
          "Export",
          "Campaign"
        ]
      }
    },
    "/campaigns/list": {
      "get": {
        "description": "This endpoint allows you to export a list of campaigns, each of which will include its name, Campaign API Identifier, whether it is an API Campaign, and Tags associated with the campaign. The campaigns are returned in groups of 100 sorted by time of creation (oldest to newest by default).\n\n## Campaign List Endpoint API Response\n\n```json\nContent-Type: application/json\nAuthorization: Bearer YOUR-REST-API-KEY\n{\n    \"message\": (required, string) the status of the export, returns 'success' when completed without errors,\n    \"campaigns\" : [\n        {\n            \"id\" : (string) Campaign API Identifier,\n            \"last_edited\": (ISO 8601 string) the last edited time for the message \n            \"name\" : (string) campaign name,\n            \"is_api_campaign\" : (boolean) whether the campaign is an API Campaign,\n            \"tags\" : (array) tag names associated with the campaign\n        },\n        ...\n    ]\n}\n```",
        "operationId": "campaignList",
        "parameters": [
          {
            "description": "(Optional) Integer\n\nThe page of campaigns to return, defaults to 0 (returns the first set of up to 100)",
            "in": "query",
            "name": "page",
            "schema": {
              "example": "0",
              "type": "string"
            }
          },
          {
            "description": "(Optional) Boolean\n\nWhether or not to include archived campaigns, defaults to false",
            "in": "query",
            "name": "include_archived",
            "schema": {
              "example": "false",
              "type": "string"
            }
          },
          {
            "description": "(Optional) String\n\nPass in the value `desc` to sort by creation time from newest to oldest. Pass in `asc` to sort from oldest to newest. If sort_direction is not included, the default order is oldest to newest.",
            "in": "query",
            "name": "sort_direction",
            "schema": {
              "example": "desc",
              "type": "string"
            }
          },
          {
            "description": "(Optional) DateTime (ISO 8601 string)\n\nFilters the results and only returns campaigns that were edited greater than the time provided till now. ",
            "in": "query",
            "name": "last_edit.time[gt]",
            "schema": {
              "example": "2020-06-28T23:59:59-5:00",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "Campaign List",
        "tags": [
          "Export",
          "Campaign"
        ]
      }
    },
    "/canvas/data_series": {
      "get": {
        "description": "This endpoint allows you to export time series data for a Canvas.\n\n### Components Used\n- [Canvas Identifier](https://www.braze.com/docs/api/identifier_types/)\n\n## Response\n```json\nContent-Type: application/json\nAuthorization: Bearer YOUR-REST-API-KEY\n{\n  \"data\": {\n    \"name\": (string) Canvas name,\n    \"stats\": [\n      {\n        \"time\": (string) date as ISO 8601 date,\n        \"total_stats\": {\n          \"revenue\": (float),\n          \"conversions\": (int),\n          \"conversions_by_entry_time\": (int),\n          \"entries\": (int)\n        },\n        \"variant_stats\": (optional) {\n          \"00000000-0000-0000-0000-0000000000000\": (API identifier for variant) {\n            \"name\": (string) name of variant,\n            \"revenue\": (int),\n            \"conversions\": (int),\n            \"conversions_by_entry_time\": (int),\n            \"entries\": (int)\n          },\n          ... (more variants)\n        },\n        \"step_stats\": (optional) {\n          \"00000000-0000-0000-0000-0000000000000\": (API identifier for step) {\n            \"name\": (string) name of step,\n            \"revenue\": (float),\n            \"conversions\": (int),\n            \"conversions_by_entry_time\": (int),\n            \"messages\": {\n              \"email\": [\n                {\n                  \"sent\": (int),\n                  \"opens\": (int),\n                  \"unique_opens\": (int),\n                  \"clicks\": (int),\n                  ... (more stats)\n                }\n              ],\n              ... (more channels)\n            }\n          },\n          ... (more steps)\n        }\n      },\n      ... (more stats by time)\n    ]\n  },\n  \"message\": (required, string) the status of the export, returns 'success' when completed without errors\n}\n```",
        "operationId": "canvasDataSeriesAnalytics",
        "parameters": [
          {
            "description": "(Required) String\n\nCanvas API Identifier",
            "in": "query",
            "name": "canvas_id",
            "schema": {
              "example": "{{canvas_id}}",
              "type": "string"
            }
          },
          {
            "description": "(Required) DateTime (ISO 8601 string)\n\nDate on which the data export should end - defaults to time of the request",
            "in": "query",
            "name": "ending_at",
            "schema": {
              "example": "2018-05-30T23:59:59-5:00",
              "type": "string"
            }
          },
          {
            "description": "(Optional) DateTime (ISO 8601 string) \n\nDate on which the data export should begin (either length or starting_at are required)",
            "in": "query",
            "name": "starting_at",
            "schema": {
              "example": "2018-05-28T23:59:59-5:00",
              "type": "string"
            }
          },
          {
            "description": "(Optional) DateTime (ISO 8601 string)\n\nMax number of days before ending_at to include in the returned series - must be between 1 and 14 inclusive (either length or starting_at required)",
            "in": "query",
            "name": "length",
            "schema": {
              "example": "10",
              "type": "string"
            }
          },
          {
            "description": "(Optional) Boolean\n\nWhether or not to include variant stats (defaults to false)",
            "in": "query",
            "name": "include_variant_breakdown",
            "schema": {
              "example": "true",
              "type": "string"
            }
          },
          {
            "description": "(Optional) Boolean\n\nWhether or not to include step stats (defaults to false)",
            "in": "query",
            "name": "include_step_breakdown",
            "schema": {
              "example": "true",
              "type": "string"
            }
          },
          {
            "description": "(Optional) Boolean\n\nWhether or not to include step stats for deleted steps (defaults to false)",
            "in": "query",
            "name": "include_deleted_step_data",
            "schema": {
              "example": "true",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "Canvas Data Series Analytics",
        "tags": [
          "Export",
          "Canvas"
        ]
      }
    },
    "/canvas/data_summary": {
      "get": {
        "description": "This endpoint allows you to export rollups of time series data for a Canvas, providing a concise summary of a Canvas' results.\n\n### Components Used\n- [Canvas Identifier](https://www.braze.com/docs/api/identifier_types/)\n\n## Response\n\n```json\nContent-Type: application/json\nAuthorization: Bearer YOUR-REST-API-KEY\n{\n  \"data\": {\n    \"name\": (string) Canvas name,\n    \"total_stats\": {\n      \"revenue\": (float),\n      \"conversions\": (int),\n      \"conversions_by_entry_time\": (int),\n      \"entries\": (int)\n    },\n    \"variant_stats\": (optional) {\n      \"00000000-0000-0000-0000-0000000000000\": (API identifier for variant) {\n        \"name\": (string) name of variant,\n        \"revenue\": (float),\n        \"conversions\": (int),\n        \"entries\": (int)\n      },\n      ... (more variants)\n    },\n    \"step_stats\": (optional) {\n      \"00000000-0000-0000-0000-0000000000000\": (API identifier for step) {\n        \"name\": (string) name of step,\n        \"revenue\": (float),\n        \"conversions\": (int),\n        \"conversions_by_entry_time\": (int),\n        \"messages\": {\n          \"android_push\": (name of channel) [\n            {\n              \"sent\": (int),\n              \"opens\": (int),\n              \"influenced_opens\": (int),\n              \"bounces\": (int)\n              ... (more stats for channel)\n            }\n          ],\n          ... (more channels)\n        }\n      },\n      ... (more steps)\n    }\n  },\n  \"message\": (required, string) the status of the export, returns 'success' when completed without errors\n}\n```",
        "operationId": "canvasDataAnalyticsSummary",
        "parameters": [
          {
            "description": "(Required) String \n\nCanvas API identifier",
            "in": "query",
            "name": "canvas_id",
            "schema": {
              "example": "{{canvas_id}}",
              "type": "string"
            }
          },
          {
            "description": "(Required) DateTime (ISO 8601 string)\n\nDate on which the data export should end - defaults to time of the request",
            "in": "query",
            "name": "ending_at",
            "schema": {
              "example": "2018-05-30T23:59:59-5:00",
              "type": "string"
            }
          },
          {
            "description": "(Optional) DateTime (ISO 8601 string)\n\nDate on which the data export should begin (either length or starting_at required)",
            "in": "query",
            "name": "starting_at",
            "schema": {
              "example": "2018-05-28T23:59:59-5:00",
              "type": "string"
            }
          },
          {
            "description": "(Optional) Integer\n\nMax number of days before ending_at to include in the returned series - must be between 1 and 14 inclusive (either length or starting_at required)",
            "in": "query",
            "name": "length",
            "schema": {
              "example": "5",
              "type": "string"
            }
          },
          {
            "description": "(Optional) Boolean\n\nWhether or not to include variant stats (defaults to false)",
            "in": "query",
            "name": "include_variant_breakdown",
            "schema": {
              "example": "true",
              "type": "string"
            }
          },
          {
            "description": "(Optional) Boolean\n\nWhether or not to include step stats (defaults to false)",
            "in": "query",
            "name": "include_step_breakdown",
            "schema": {
              "example": "true",
              "type": "string"
            }
          },
          {
            "description": "(Optional) Boolean\n\nWhether or not to include step stats for deleted steps (defaults to false)",
            "in": "query",
            "name": "include_deleted_step_data",
            "schema": {
              "example": "true",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "Canvas Data Analytics Summary",
        "tags": [
          "Export",
          "Canvas"
        ]
      }
    },
    "/canvas/details": {
      "get": {
        "description": "This endpoint allows you to export metadata about a Canvas, such as its name, when it was created, its current status, and more.\n\n### Components Used\n- [Canvas Identifier](https://www.braze.com/docs/api/identifier_types/)\n\n## Response\n\n```json\nContent-Type: application/json\nAuthorization: Bearer YOUR-REST-API-KEY\n{\n  \"created_at\": (string) date created as ISO 8601 date,\n  \"updated_at\": (string) date updated as ISO 8601 date,\n  \"name\": (string) Canvas name,\n  \"description\": (string) Canvas description,\n  \"archived\": (boolean) whether this Canvas is archived,\n  \"draft\": (boolean) whether this Canvas is a draft,\n  \"schedule_type\": (string) type of scheduling action,\n  \"first_entry\": (string) date of first entry as ISO 8601 date,\n  \"last_entry\": (string) date of last entry as ISO 8601 date,\n  \"channels\": (array of strings) step channels used with Canvas,\n  \"variants\": [\n    {\n      \"name\": (string) name of variant,\n      \"id\": (string) API identifier of the variant,\n      \"first_step_ids\": (array of strings) API identifiers for first steps in variant,\n      \"first_step_id\": (string) API identifier of first step in variant (deprecated in November 2017, only included if the variant has only one first step)\n    },\n    ... (more variations)\n  ],\n  \"tags\": (array of strings) tag names associated with the Canvas,\n  \"steps\": [\n    {\n      \"name\": (string) name of step,\n      \"id\": (string) API identifier of the step,\n      \"next_step_ids\": (array of strings) API identifiers of steps following step,\n      \"channels\": (array of strings) channels used in step,\n      \"messages\": {\n          \"message_variation_id\": (string) {  // <=This is the actual id\n              \"channel\": (string) channel type of the message (eg., \"email\"),\n              ... channel-specific fields for this message, see Campaign Details Endpoint API Response for example message responses ...\n          }\n      }\n    },\n    ... (more steps)\n  ],\n  \"message\": (required, string) the status of the export, returns 'success' when completed without errors\n}\n```",
        "operationId": "canvasDetails",
        "parameters": [
          {
            "description": "(Required) String\n\nCanvas API Identifier ",
            "in": "query",
            "name": "canvas_id",
            "schema": {
              "example": "{{canvas_identifier}}",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "Canvas Details",
        "tags": [
          "Export",
          "Canvas"
        ]
      }
    },
    "/canvas/list": {
      "get": {
        "description": "This endpoint allows you to export a list of Canvases, including the name, Canvas API Identifier and associated Tags. The Canvases are returned in groups of 100 sorted by time of creation (oldest to newest by default).\n\n> Archived Canvases will not be included in the API response unless the `include_archived` field is specified. Canvases that are stopped but not archived, however, will be returned by default.\n\n\n## Response\n\n```json\nContent-Type: application/json\nAuthorization: Bearer YOUR-REST-API-KEY\n{\n  \"canvases\" : [\n  \t{\n  \t\t\"id\" : (string) Canvas API Identifier,\n  \t\t\"last_edited\": (ISO 8601 string) the last edited time for the message,\n  \t\t\"name\" : (string) Canvas name,\n  \t\t\"tags\" : (array) tag names associated with the Canvas,\n  \t},\n    ... (more Canvases)\n  ],\n  \"message\": (required, string) the status of the export, returns 'success' when completed without errors\n}\n```",
        "operationId": "canvasList",
        "parameters": [
          {
            "description": "(Optional) Integer\n\nThe page of Canvases to return, defaults to `0` (returns the first set of up to 100)",
            "in": "query",
            "name": "page",
            "schema": {
              "example": "1",
              "type": "string"
            }
          },
          {
            "description": "(Optional) Boolean\n\nWhether or not to include archived Canvases, defaults to `false`.",
            "in": "query",
            "name": "include_archived",
            "schema": {
              "example": "false",
              "type": "string"
            }
          },
          {
            "description": "(Optional) String\n\nPass in the value `desc` to sort by creation time from newest to oldest. Pass in `asc` to sort from oldest to newest. If sort_direction is not included, the default order is oldest to newest.",
            "in": "query",
            "name": "sort_direction",
            "schema": {
              "example": "desc",
              "type": "string"
            }
          },
          {
            "description": "(Optional) DateTime (ISO 8601 string)\n\nFilters the results and only returns Canvases that were edited greater than the time provided till now.",
            "in": "query",
            "name": "last_edit.time[gt]",
            "schema": {
              "example": "2020-06-28T23:59:59-5:00",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "Canvas List",
        "tags": [
          "Export",
          "Canvas"
        ]
      }
    },
    "/canvas/trigger/schedule/create": {
      "post": {
        "description": "Use this endpoint to trigger API Triggered Canvases, which are created on the Dashboard and initiated via the API. You can pass in `canvas_entry_properties` that will be templated into the messages sent by the first steps of the Canvas.\n\nThis endpoint allows you to schedule Canvas messages (up to 90 days in advance) via API Triggered delivery, allowing you to decide what action should trigger the message to be sent. Please note that to send messages with this endpoint, you must have a Canvas ID, created when you build a Canvas.\n\n### Request Parameters\n\n| Parameter | Required | Data Type | Description |\n| --------- | ---------| --------- | ----------- |\n|`canvas_id`|Required|String| See canvas identifier|\n|`send_id` | Optional | String | See send identifier |\n|`recipients` | Optional | Array of recipient objects | See recipients object |\n|`audience` | Optional | Connected audience object | See connected audience |\n|`broadcast` | Optional | Boolean | See broadcast -- defaults to false on 8/31/17, must be set to true if \"recipients\" object is omitted |\n| `trigger_properties` | Optional | Object | Personalization key value pairs for all users in this send; see trigger properties |\n| `schedule` | Required | Schedule object | See schedule object |\n\n## Request Components\n- [Canvas Identifier](https://www.braze.com/docs/api/identifier_types/)\n- [Recipients](https://www.braze.com/docs/api/objects_filters/recipient_object/)\n- [Connected Audience](https://www.braze.com/docs/api/objects_filters/connected_audience/)\n- [Broadcast](https://www.braze.com/docs/api/parameters/#broadcast)\n- [Trigger Properties](https://www.braze.com/docs/api/objects_filters/trigger_properties_object/)\n- [Schedule Object](https://www.braze.com/docs/api/objects_filters/schedule_object/)",
        "operationId": "scheduleApiTriggeredCanvases",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "audience": {
                  "AND": [
                    {
                      "custom_attribute": {
                        "comparison": "equals",
                        "custom_attribute_name": "eye_color",
                        "value": "blue"
                      }
                    },
                    {
                      "custom_attribute": {
                        "comparison": "includes_value",
                        "custom_attribute_name": "favorite_foods",
                        "value": "pizza"
                      }
                    },
                    {
                      "OR": [
                        {
                          "custom_attribute": {
                            "comparison": "less_than_x_days_ago",
                            "custom_attribute_name": "last_purchase_time",
                            "value": 2
                          }
                        },
                        {
                          "push_subscription_status": {
                            "comparison": "is",
                            "value": "opted_in"
                          }
                        }
                      ]
                    },
                    {
                      "email_subscription_status": {
                        "comparison": "is_not",
                        "value": "subscribed"
                      }
                    },
                    {
                      "last_used_app": {
                        "comparison": "after",
                        "value": "2019-07-22T13:17:55+0000"
                      }
                    }
                  ]
                },
                "broadcast": false,
                "canvas_entry_properties": {},
                "canvas_id": "canvas_identifier",
                "recipients": [
                  {
                    "canvas_entry_properties": {},
                    "external_user_id": "external_user_identifier",
                    "trigger_properties": "",
                    "user_alias": "example_alias"
                  }
                ],
                "schedule": {
                  "at_optimal_time": false,
                  "in_local_time": false,
                  "time": ""
                }
              },
              "schema": {
                "properties": {
                  "audience": {
                    "properties": {
                      "AND": {
                        "items": {
                          "properties": {
                            "custom_attribute": {
                              "properties": {
                                "comparison": {
                                  "example": "equals",
                                  "type": "string"
                                },
                                "custom_attribute_name": {
                                  "example": "eye_color",
                                  "type": "string"
                                },
                                "value": {
                                  "example": "blue",
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      }
                    },
                    "type": "object"
                  },
                  "broadcast": {
                    "example": false,
                    "type": "boolean"
                  },
                  "canvas_entry_properties": {
                    "properties": {},
                    "type": "object"
                  },
                  "canvas_id": {
                    "example": "canvas_identifier",
                    "type": "string"
                  },
                  "recipients": {
                    "items": {
                      "properties": {
                        "canvas_entry_properties": {
                          "properties": {},
                          "type": "object"
                        },
                        "external_user_id": {
                          "example": "external_user_identifier",
                          "type": "string"
                        },
                        "trigger_properties": {
                          "example": "",
                          "type": "string"
                        },
                        "user_alias": {
                          "example": "example_alias",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "schedule": {
                    "properties": {
                      "at_optimal_time": {
                        "example": false,
                        "type": "boolean"
                      },
                      "in_local_time": {
                        "example": false,
                        "type": "boolean"
                      },
                      "time": {
                        "example": "",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "Schedule API Triggered Canvases",
        "tags": [
          "Messaging",
          "Schedule Mesages"
        ]
      }
    },
    "/content_blocks/info": {
      "get": {
        "description": "This endpoint will call information for an existing Content Block.\n\n### Successful Response Properties\n```json\nContent-Type: application/json\nAuthorization: Bearer YOUR_REST_API_KEY\n{\n  \"content_block_id\": \"string\",\n  \"name\": \"string\",\n  \"content\": \"string\",\n  \"description\": \"string\",\n  \"content_type\": \"html or text\",\n  \"tags\":  \"array of strings\",\n  \"created_at\": \"time-in-iso\",\n  \"last_edited\": \"time-in-iso\",\n  \"inclusion_count\" : \"integer\",\n  \"message\": \"success\"\n}\n```\n\n### Possible Errors\n- `Content Block ID cannot be blank.` - A Content Block has not been listed or is not encapsulated in quotes.\n\n- `Content Block ID is invalid for this App Group.` - This Content Block does not exist or is in a different company account or app group.\n\n- `Content Block has been deleted - content not available.` - This Content Block, though it may have existed earlier, has been deleted.\n\n- `Include Inclusion Data - error` - One of true or false is not provided.",
        "operationId": "seeContentBlockInformation",
        "parameters": [
          {
            "description": "(Required) String\n\nThe Content Block ID. This can be found by either listing Content Block information or going to the Developer Console, then API Settings, then scrolling to the bottom and searching for your Content Block API Identifier.",
            "in": "query",
            "name": "content_block_id",
            "schema": {
              "example": "{{content_block_id}}",
              "type": "string"
            }
          },
          {
            "description": "(Optional) Boolean\n\nWhen set to ‘true’, the API returns back the Message Variation API ID of Campaigns and Canvases where this content block is included, to be used in subsequent calls. The results exclude archived or deleted Campaigns or Canvases.",
            "in": "query",
            "name": "include_inclusion_data",
            "schema": {
              "example": "No",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "See Content Block Information",
        "tags": [
          "Templates",
          "Content Blocks"
        ]
      }
    },
    "/content_blocks/list": {
      "get": {
        "description": "This endpoint will list existing Content Block information.\n\n### Successful Response Properties\n```json\nContent-Type: application/json\nAuthorization: Bearer YOUR_REST_API_KEY\n{\n  \"count\": \"integer\",\n  \"content_blocks\": [\n    {\n      \"content_block_id\": \"string\",\n      \"name\": \"string\",\n      \"content_type\": \"html or text\",\n      \"liquid_tag\": \"string\",\n      \"inclusion_count\" : \"integer\",\n      \"created_at\": \"time-in-iso\",\n      \"last_edited\": \"time-in-iso\",\n      \"tags\" : \"array of strings\"\n    }\n  ]\n}\n```\n\n### Possible Errors\n- `Modified after time is invalid.`\nThe date you have provided is not a valid or parsable date. Please reformat this value as a string in ISO 8601 format (`yyyy-mm-ddThh:mm:ss.ffffff`).\n\n- `Modified before time is invalid.`\nThe date you have provided is not a valid or parsable date. Please reformat this value as a string in ISO 8601 format (`yyyy-mm-ddThh:mm:ss.ffffff`).\n\n- `Modified after time must be earlier than or the same as modified before time.`\n\n- `Content Block number limit is invalid.`\nThe `limit` parameter must be an integer (positive number) greater than 0.\n\n- `Content Block number limit must be greater than 0.`\nThe `limit` parameter must be an integer (positive number) greater than 0.\n\n- `Content Block number limit exceeds maximum of 1000.`\nThe `limit` parameter must be an integer (positive number) greater than 0.\n\n- `Offset is invalid.`\nThe `offset` parameter must be an integer (positive number) greater than 0.\n\n- `Offset must be greater than 0.`\nThe `offset` parameter must be an integer (positive number) greater than 0.",
        "operationId": "listAvailableContentBlocks",
        "parameters": [
          {
            "description": "(Optional) String in ISO 8601\n\nRetrieve only content blocks updated at or after the given time.",
            "in": "query",
            "name": "modified_after",
            "schema": {
              "example": "2020-01-01T01:01:01.000000",
              "type": "string"
            }
          },
          {
            "description": "(Optional) String in ISO 8601\n\nRetrieve only content blocks updated at or before the given time.",
            "in": "query",
            "name": "modified_before",
            "schema": {
              "example": "2020-02-01T01:01:01.000000",
              "type": "string"
            }
          },
          {
            "description": "(Optional) Positive Number\n\nMaximum number of content blocks to retrieve, default to 100 if not provided, maximum acceptable value is 1000.",
            "in": "query",
            "name": "limit",
            "schema": {
              "example": "100",
              "type": "string"
            }
          },
          {
            "description": "(Optional) Positive Number\n\nNumber of content blocks to skip before returning rest of the templates that fit the search criteria.",
            "in": "query",
            "name": "offset",
            "schema": {
              "example": "1",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "List Available Content Blocks",
        "tags": [
          "Templates",
          "Content Blocks"
        ]
      }
    },
    "/email/hard_bounces": {
      "get": {
        "description": "This endpoint allows you to pull a list of email addresses that have “hard bounced” your email messages within a certain time frame.\n\n> You must provide an `end_date`, as well as either an `email` or a `start_date`.<br><br>If your date range has more than `limit` number of hard bounces, you will need to make multiple API calls, each time increasing the `offset` until a call returns either fewer than `limit` or zero results.\n\n## Response\n\nEntries are listed in descending order.\n\n```json\nContent-Type: application/json\nAuthorization: Bearer YOUR-REST-API-KEY\n{\n  \"emails\": [\n    {\n      \"email\": \"example1@braze.com\",\n      \"hard_bounced_at\": \"2016-08-25 15:24:32 +0000\"\n    },\n    {\n      \"email\": \"example2@braze.com\",\n      \"hard_bounced_at\": \"2016-08-24 17:41:58 +0000\"\n    },\n    {\n      \"email\": \"example3@braze.com\",\n      \"hard_bounced_at\": \"2016-08-24 12:01:13 +0000\"\n    }\n  ],\n  \"message\": \"success\"\n}\n```",
        "operationId": "queryHardBouncedEmails",
        "parameters": [
          {
            "description": "(Optional*) String in YYYY-MM-DD format \n\nStart date of the range to retrieve hard bounces, must be earlier than `end_date`. This is treated as midnight in UTC time by the API.\n\n*You must provide either an `email` or a `start_date`, and an `end_date`.\n",
            "in": "query",
            "name": "start_date",
            "schema": {
              "example": "2019-01-01",
              "type": "string"
            }
          },
          {
            "description": "(Optional*) String in YYYY-MM-DD format\n\nString in YYYY-MM-DD format. End date of the range to retrieve hard bounces. This is treated as midnight in UTC time by the API.\n\n*You must provide either an `email` or a `start_date`, and an `end_date`.",
            "in": "query",
            "name": "end_date",
            "schema": {
              "example": "2019-02-01",
              "type": "string"
            }
          },
          {
            "description": "(Optional) Integer\n\nOptional field to limit the number of results returned. Defaults to 100, maximum is 500.",
            "in": "query",
            "name": "limit",
            "schema": {
              "example": "100",
              "type": "string"
            }
          },
          {
            "description": "(Optional) Integer\n\nOptional beginning point in the list to retrieve from.",
            "in": "query",
            "name": "offset",
            "schema": {
              "example": "1",
              "type": "string"
            }
          },
          {
            "description": "(Optional*) String\n\nIf provided, we will return whether or not the user has hard bounced.\n\n*You must provide either an `email` or a `start_date`, and an `end_date`.",
            "in": "query",
            "name": "email",
            "schema": {
              "example": "example@braze.com",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "Query Hard Bounced Emails",
        "tags": [
          "Email Lists & Addresses"
        ]
      }
    },
    "/email/unsubscribes": {
      "get": {
        "description": "Use the /email/unsubscribes endpoint to return emails that have unsubscribed during the time period from `start_date` to `end_date`. You can use this endpoint to set up a bi-directional sync between Braze and other email systems or your own database.\n\n> You must provide either an email or a start_date and an end_date. <br><br>If your date range has more than `limit` number of unsubscribes, you will need to make multiple API calls, each time increasing the `offset` until a call returns either fewer than `limit` or zero results.",
        "operationId": "queryListOfUnsubscribedEmailAddresses",
        "parameters": [
          {
            "description": "(Optional*) String in YYYY-MM-DD format\n\nStart date of the range to retrieve unsubscribes, must be earlier than end_date. This is treated as midnight in UTC time by the API.",
            "in": "query",
            "name": "start_date",
            "schema": {
              "example": "2020-01-01",
              "type": "string"
            }
          },
          {
            "description": "(Optional*)  String in YYYY-MM-DD format\n\nEnd date of the range to retrieve unsubscribes. This is treated as midnight in UTC time by the API.",
            "in": "query",
            "name": "end_date",
            "schema": {
              "example": "2020-02-01",
              "type": "string"
            }
          },
          {
            "description": "(Optional) Integer\n\nOptional field to limit the number of results returned. Limit must be greater than 1. Defaults to 100, maximum is 500.",
            "in": "query",
            "name": "limit",
            "schema": {
              "example": "1",
              "type": "string"
            }
          },
          {
            "description": "(Optional) Integer \n\nOptional beginning point in the list to retrieve from",
            "in": "query",
            "name": "offset",
            "schema": {
              "example": "1",
              "type": "string"
            }
          },
          {
            "description": "(Optional) String\n\nPass in the value `asc` to sort unsubscribes from oldest to newest. Pass in `desc` to sort from newest to oldest. If sort_direction is not included, the default order is newest to oldest.",
            "in": "query",
            "name": "sort_direction",
            "schema": {
              "example": "desc",
              "type": "string"
            }
          },
          {
            "description": "(Optional*) String\n\nIf provided, we will return whether or not the user has unsubscribed",
            "in": "query",
            "name": "email",
            "schema": {
              "example": "example@braze.com",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "Query List of Unsubscribed Email Addresses",
        "tags": [
          "Email Lists & Addresses"
        ]
      }
    },
    "/events/data_series": {
      "get": {
        "description": "This endpoint allows you to retrieve a series of the number of occurrences of a custom event in your app over a designated time period.\n\n### Components Used\n-[Segment Identifier](https://www.braze.com/docs/api/identifier_types/)\n\n\n## Response\n\n```json\nContent-Type: application/json\nAuthorization: Bearer YOUR-REST-API-KEY\n{\n    \"message\": (required, string) the status of the export, returns 'success' when completed without errors,\n    \"data\" : [\n        {\n            \"time\" : (string) point in time - as ISO 8601 extended when unit is \"hour\" and as ISO 8601 date when unit is \"day\",\n            \"count\" : (int)\n        },\n        ...\n    ]\n}\n```\n\n### Fatal Error Response Codes\nThe following status codes and associated error messages will be returned if your request encounters a fatal error. Any of these error codes indicate that no data will be processed.\n\n| Error Code       | Reason / Cause                                                   |\n| ---------------- | ---------------------------------------------------------------- |\n| 400 Bad Request  | Bad Syntax                                                       |\n| 401 Unauthorized | Unknown or missing REST API Key                                  |\n| 429 Rate Limited | Over rate limit                                                  |\n| 5XX              | Internal server error, you should retry with exponential backoff |",
        "operationId": "customEventsAnalytics",
        "parameters": [
          {
            "description": "(Required) String\n\nThe name of the custom event for which to return analytics ",
            "in": "query",
            "name": "event",
            "schema": {
              "example": "event_name",
              "type": "string"
            }
          },
          {
            "description": "(Required) Integer\n\nMax number of units (days or hours) before ending_at to include in the returned series - must be between 1 and 100 inclusive",
            "in": "query",
            "name": "length",
            "schema": {
              "example": "24",
              "type": "string"
            }
          },
          {
            "description": "(Optional) String\n\nUnit of time between data points - can be \"day\" or \"hour\" (defaults to \"day\")",
            "in": "query",
            "name": "unit",
            "schema": {
              "example": "hour",
              "type": "string"
            }
          },
          {
            "description": "(Optional) DateTime (ISO 8601 string)\n\nPoint in time when the data series should end - defaults to time of the request",
            "in": "query",
            "name": "ending_at",
            "schema": {
              "example": "2014-12-10T23:59:59-05:00",
              "type": "string"
            }
          },
          {
            "description": "(Optional) String\n\nApp API identifier retrieved from the Developer Console to limit analytics to a specific app",
            "in": "query",
            "name": "app_id",
            "schema": {
              "example": "{{app_identifier}}",
              "type": "string"
            }
          },
          {
            "description": "(Optional) String\n\nSegment API identifier indicating the analytics enabled segment for which event analytics should be returned",
            "in": "query",
            "name": "segment_id",
            "schema": {
              "example": "{{segment_identifier}}",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "Custom Events Analytics",
        "tags": [
          "Export",
          "Custom Events"
        ]
      }
    },
    "/events/list": {
      "get": {
        "description": "This endpoint allows you to export a list of custom events that have been recorded for your app. The event names are returned in groups of 250, sorted alphabetically.\n\n\n## Response\n\n```json\nContent-Type: application/json\nAuthorization: Bearer YOUR-REST-API-KEY\n{\n    \"message\": (required, string) the status of the export, returns 'success' when completed without errors,\n    \"events\" : [\n        \"Event A\",\n        \"Event B\",\n        \"Event C\",\n        ...\n    ]\n}\n```\n\n### Fatal Error Response Codes\n\nThe following status codes and associated error messages will be returned if your request encounters a fatal error. Any of these error codes indicate that no data will be processed.\n\n| Error Code       | Reason / Cause                                                   |\n| ---------------- | ---------------------------------------------------------------- |\n| 400 Bad Request  | Bad Syntax                                                       |\n| 401 Unauthorized | Unknown or missing REST API Key                                  |\n| 429 Rate Limited | Over rate limit                                                  |\n| 5XX              | Internal server error, you should retry with exponential backoff |",
        "operationId": "customEventsList",
        "parameters": [
          {
            "description": "(Optional) Integer\n\nThe page of event names to return, defaults to 0 (returns the first set of up to 250)",
            "in": "query",
            "name": "page",
            "schema": {
              "example": "3",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "Custom Events List",
        "tags": [
          "Export",
          "Custom Events"
        ]
      }
    },
    "/feed/data_series": {
      "get": {
        "description": "This endpoint allows you to retrieve a daily series of engagement stats for a card over time.\n\n### Components Used\n- [Card ID](https://www.braze.com/docs/api/identifier_types/)\n- [News Feed List](https://www.braze.com/docs/api/endpoints/export/news_feed/get_news_feed_cards/)\n\n## Response\n\n```json\nContent-Type: application/json\nAuthorization: Bearer YOUR-REST-API-KEY\n{\n    \"message\": (required, string) the status of the export, returns 'success' when completed without errors,\n    \"data\" : [\n        {\n            \"time\" : (string) point in time - as ISO 8601 extended when unit is \"hour\" and as ISO 8601 date when unit is \"day\",\n            \"clicks\" : (int) ,\n            \"impressions\" : (int),\n            \"unique_clicks\" : (int),\n            \"unique_impressions\" : (int)\n        },\n        ...\n    ]\n}\n```",
        "operationId": "newsFeedCardAnalytics",
        "parameters": [
          {
            "description": "(Required) String\n\nCard API identifier",
            "in": "query",
            "name": "card_id",
            "schema": {
              "example": "{{card_identifier}}",
              "type": "string"
            }
          },
          {
            "description": "(Required) Integer\n\nMax number of units (days or hours) before ending_at to include in the returned series - must be between 1 and 100 inclusive",
            "in": "query",
            "name": "length",
            "schema": {
              "example": "14",
              "type": "string"
            }
          },
          {
            "description": "(Optional) String\n\nUnit of time between data points - can be \"day\" or \"hour\" (defaults to \"day\")",
            "in": "query",
            "name": "unit",
            "schema": {
              "example": "day",
              "type": "string"
            }
          },
          {
            "description": "(Optional) DateTime (ISO 8601 string)\n\nDate on which the data series should end - defaults to time of the request",
            "in": "query",
            "name": "ending_at",
            "schema": {
              "example": "2018-06-28T23:59:59-5:00",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "News Feed Card Analytics",
        "tags": [
          "Export",
          "News Feed"
        ]
      }
    },
    "/feed/details": {
      "get": {
        "description": "This endpoint allows you to retrieve relevant information on the card, which can be identified by the `card_id`.\n\n### Components Used\n- [Card ID](https://www.braze.com/docs/api/identifier_types/)\n- [News Feed List](https://www.braze.com/docs/api/endpoints/export/news_feed/get_news_feed_cards/)\n\n\n## Response\n\n```json\nContent-Type: application/json\nAuthorization: Bearer YOUR-REST-API-KEY\n{\n    \"message\": (required, string) The status of the export, returns 'success' when completed without errors,\n    \"created_at\" : (string) Date created as ISO 8601 date,\n    \"updated_at\" : (string) Date last updated as ISO 8601 date,\n    \"name\" : (string) Card name,\n    \"publish_at\" : (string) Date card was published as ISO 8601 date,\n    \"end_at\" : (string) Date card will stop displaying for users as ISO 8601 date,\n    \"tags\" : (array) Tag names associated with the card,\n    \"title\" : (string) Title of the card,\n    \"image_url\" : (string) Image URL used by this card,\n    \"extras\" : (dictionary) Dictionary containing key-value pair data attached to this card,\n    \"description\" : (string) Description text used by this card,\n    \"archived\": (boolean) whether this Card is archived,\n    \"draft\": (boolean) whether this Card is a draft,\n}\n```",
        "operationId": "newsFeedCardsDetails",
        "parameters": [
          {
            "description": "(Required) String\n\nCard API identifier ",
            "in": "query",
            "name": "card_id",
            "schema": {
              "example": "{{card_identifier}}",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "News Feed Cards Details",
        "tags": [
          "Export",
          "News Feed"
        ]
      }
    },
    "/feed/list": {
      "get": {
        "description": "This endpoint allows you to export a list of News Feed cards, each of which will include its name and Card API Identifier. The cards are returned in groups of 100 sorted by time of creation (oldest to newest by default).\n\n\n## Response\n\n```json\nContent-Type: application/json\nAuthorization: Bearer YOUR-REST-API-KEY\n{\n    \"message\": (required, string) the status of the export, returns 'success' when completed without errors,\n    \"cards\" : [\n        {\n            \"id\" : (string) Card API Identifier,\n            \"type\" : (string) type of the card - NewsItem (classic cards), CaptionedImage, Banner or DevPick (cross-promotional cards),\n            \"title\" : (string) title of the card,\n            \"tags\" : (array) tag names associated with the card\n        },\n        ...\n    ]\n}\n```",
        "operationId": "newsFeedCardsList",
        "parameters": [
          {
            "description": "(Optional) Integer\n\nThe page of cards to return, defaults to 0 (returns the first set of up to 100)",
            "in": "query",
            "name": "page",
            "schema": {
              "example": "1",
              "type": "string"
            }
          },
          {
            "description": "(Optional) Boolean\n\nWhether or not to include archived cards, defaults to false",
            "in": "query",
            "name": "include_archived",
            "schema": {
              "example": "true",
              "type": "string"
            }
          },
          {
            "description": "(Optional) String\n\nPass in the value `desc` to sort by creation time from newest to oldest. Pass in `asc` to sort from oldest to newest. If sort_direction is not included, the default order is oldest to newest.",
            "in": "query",
            "name": "sort_direction",
            "schema": {
              "example": "desc",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "News Feed Cards List",
        "tags": [
          "Export",
          "News Feed"
        ]
      }
    },
    "/kpi/dau/data_series": {
      "get": {
        "description": "This endpoint allows you to retrieve a daily series of the total number of unique active users on each date.\n\n\n## Response\n\n```json\nContent-Type: application/json\nAuthorization: Bearer YOUR-REST-API-KEY\n{\n    \"message\": (required, string) the status of the export, returns 'success' when completed without errors,\n    \"data\" : [\n        {\n            \"time\" : (string) date as ISO 8601 date,\n            \"dau\" : (int)\n        },\n        ...\n    ]\n}\n```",
        "operationId": "dailyActiveUsersByDate",
        "parameters": [
          {
            "description": "(Required) Integer\n\nMax number of days before ending_at to include in the returned series - must be between 1 and 100 inclusive",
            "in": "query",
            "name": "length",
            "schema": {
              "example": "10",
              "type": "string"
            }
          },
          {
            "description": "(Optional) DateTime (ISO 8601 string)\n\nPoint in time when the data series should end - defaults to time of the request",
            "in": "query",
            "name": "ending_at",
            "schema": {
              "example": "2018-06-28T23:59:59-5:00",
              "type": "string"
            }
          },
          {
            "description": "(Optional) String\n\nApp API identifier; if excluded, results for all apps in app group will be returned",
            "in": "query",
            "name": "app_id",
            "schema": {
              "example": "{{app_identifier}}",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "Daily Active Users by Date",
        "tags": [
          "Export",
          "KPI"
        ]
      }
    },
    "/kpi/mau/data_series": {
      "get": {
        "description": "This endpoint allows you to retrieve a daily series of the total number of unique active users over a 30-day rolling window.\n\n## Response\n\n```json\nContent-Type: application/json\nAuthorization: Bearer YOUR-REST-API-KEY\n{\n    \"message\": (required, string) the status of the export, returns 'success' when completed without errors,\n    \"data\" : [\n        {\n            \"time\" : (string) date as ISO 8601 date,\n            \"mau\" : (int)\n        },\n        ...\n    ]\n}\n```",
        "operationId": "monthlyActiveUsersForLast30Days",
        "parameters": [
          {
            "description": "(Required) Integer\n\nMax number of days before ending_at to include in the returned series - must be between 1 and 100 inclusive",
            "in": "query",
            "name": "length",
            "schema": {
              "example": "7",
              "type": "string"
            }
          },
          {
            "description": "(Optional) DateTime (ISO 8601 string)\n\nPoint in time when the data series should end - defaults to time of the request",
            "in": "query",
            "name": "ending_at",
            "schema": {
              "example": "2018-06-28T23:59:59-05:00",
              "type": "string"
            }
          },
          {
            "description": "(Optional) String\n\nApp API identifier; if excluded, results for all apps in app group will be returned",
            "in": "query",
            "name": "app_id",
            "schema": {
              "example": "{{app_identifier}}",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "Monthly Active Users for Last 30 Days",
        "tags": [
          "Export",
          "KPI"
        ]
      }
    },
    "/kpi/new_users/data_series": {
      "get": {
        "description": "This endpoint allows you to retrieve a daily series of the total number of new users on each date.\n\n\n## Response\n\n```json\nContent-Type: application/json\nAuthorization: Bearer YOUR-REST-API-KEY\n{\n    \"message\": (required, string) the status of the export, returns 'success' when completed without errors,\n    \"data\" : [\n        {\n            \"time\" : (string) date as ISO 8601 date,\n            \"new_users\" : (int)\n        },\n        ...\n    ]\n}\n```",
        "operationId": "dailyNewUsersByDate",
        "parameters": [
          {
            "description": "(Required) Integer\n\nMax number of days before ending_at to include in the returned series - must be between 1 and 100 inclusive",
            "in": "query",
            "name": "length",
            "schema": {
              "example": "14",
              "type": "string"
            }
          },
          {
            "description": "(Optional) DateTime (ISO 8601 string)\n\nPoint in time when the data series should end - defaults to time of the request",
            "in": "query",
            "name": "ending_at",
            "schema": {
              "example": "2018-06-28T23:59:59-5:00",
              "type": "string"
            }
          },
          {
            "description": "(Optional) String\n\nApp API identifier; if excluded, results for all apps in app group will be returned",
            "in": "query",
            "name": "app_id",
            "schema": {
              "example": "{{app_identifier}}",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "Daily New Users by Date",
        "tags": [
          "Export",
          "KPI"
        ]
      }
    },
    "/kpi/uninstalls/data_series": {
      "get": {
        "description": "This endpoint allows you to retrieve a daily series of the total number of uninstalls on each date.\n\n## Response\n\n```json\nContent-Type: application/json\nAuthorization: Bearer YOUR-REST-API-KEY\n{\n    \"message\": (required, string) the status of the export, returns 'success' when completed without errors,\n    \"data\" : [\n        {\n            \"time\" : (string) date as ISO 8601 date,\n            \"uninstalls\" : (int)\n        },\n        ...\n    ]\n}\n```",
        "operationId": "kpIsForDailyAppUninstallsByDate",
        "parameters": [
          {
            "description": "(Required) Integer\n\nMax number of days before ending_at to include in the returned series - must be between 1 and 100 inclusive",
            "in": "query",
            "name": "length",
            "schema": {
              "example": "14",
              "type": "string"
            }
          },
          {
            "description": "(Optional) DateTime (ISO 8601 string)\n\nPoint in time when the data series should end - defaults to time of the request",
            "in": "query",
            "name": "ending_at",
            "schema": {
              "example": "2018-06-28T23:59:59-5:00",
              "type": "string"
            }
          },
          {
            "description": "(Optional) String\n\nApp API identifier; if excluded, results for all apps in app group will be returned",
            "in": "query",
            "name": "app_id",
            "schema": {
              "example": "{{app_identifier}}",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "KPIs for Daily App Uninstalls by Date",
        "tags": [
          "Export",
          "KPI"
        ]
      }
    },
    "/messages/scheduled_broadcasts": {
      "get": {
        "description": "You can view a JSON list of upcoming and scheduled Campaigns and Canvases using the following information and parameters. The endpoint will return information about scheduled Campaigns and entry Canvases between now and the designated end_time (ISO 8601 format) specified in the request. Daily, recurring messages will only appear once with their next occurrence. Results returned in this endpoint are only for Campaigns and Canvases created and scheduled in Braze.\n\n## Response\n\n```json\nContent-Type: application/json\nAuthorization: Bearer YOUR-REST-API-KEY\n{\n    \"scheduled_broadcasts\": [\n      # Example Canvas\n      {\n        \"name\" => String,\n        \"id\" => String,\n        \"type\" => \"Canvas\",\n        \"tags\" => [String tag names],\n        \"next_send_time\" => \"YYYY-MM-DD HH:mm:ss\" (may also include time zone if not local/intelligent delivery)\n        \"schedule_type\" => one of \"local_time_zones\", \"intelligent_delivery\", or the name of your company's time zone\n      },\n      # Example Campaign\n      {\n        \"name\" => String,\n        \"id\" => String,\n        \"type\" => \"Campaign\",\n        \"tags\" => [String tag names],\n        \"next_send_time\" => \"YYYY-MM-DD HH:mm:ss\" (may also include time zone if not local/intelligent delivery)\n        \"schedule_type\" => one of \"local_time_zones\", \"intelligent_delivery\", or the name of your company's time zone\n      },\n    ]\n}\n```",
        "operationId": "getUpcomingScheduledCampaignsAndCanvases",
        "parameters": [
          {
            "description": "(Required) String in ISO 8601 format\n\nEnd date of the range to retrieve upcoming scheduled Campaigns and Canvases. This is treated as midnight in UTC time by the API.",
            "in": "query",
            "name": "end_time",
            "schema": {
              "example": "2018-09-01T00:00:00-04:00",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "Get Upcoming Scheduled Campaigns and Canvases",
        "tags": [
          "Messaging",
          "Schedule Mesages"
        ]
      }
    },
    "/segments/data_series": {
      "get": {
        "description": "This endpoint allows you to retrieve a daily series of the size of a segment over time for a segment.\n\n### Request Components\n- [Segment Identifier](https://www.braze.com/docs/api/identifier_types/)\n\n## Response\n\n```json\nContent-Type: application/json\nAuthorization: Bearer YOUR-REST-API-KEY\n{\n    \"message\": (required, string) the status of the export, returns 'success' when completed without errors,\n    \"data\" : [\n        {\n            \"time\" : (string) date as ISO 8601 date,\n            \"size\" : (int) size of the segment on that date\n        },\n        ...\n    ]\n}\n```",
        "operationId": "segmentAnalytics",
        "parameters": [
          {
            "description": "(Required) String\n\nSegment API identifier.",
            "in": "query",
            "name": "segment_id",
            "schema": {
              "example": "{{segment_identifier}}",
              "type": "string"
            }
          },
          {
            "description": "(Required) Integer\n\nMax number of days before `ending_at` to include in the returned series - must be between 1 and 100 inclusive.",
            "in": "query",
            "name": "length",
            "schema": {
              "example": "14",
              "type": "string"
            }
          },
          {
            "description": "(Optional) DateTime (ISO 8601 string)\n\nPoint in time when the data series should end - defaults to time of the request.",
            "in": "query",
            "name": "ending_at",
            "schema": {
              "example": "2018-06-27T23:59:59-5:00",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "Segment Analytics",
        "tags": [
          "Export",
          "Segment"
        ]
      }
    },
    "/segments/details": {
      "get": {
        "description": "This endpoint allows you to retrieve relevant information on the segment, which can be identified by the `segment_id`.\n\n### Request Components\n- [Segment Identifier](https://www.braze.com/docs/api/identifier_types/)\n\n## Response\n\n```json\nContent-Type: application/json\nAuthorization: Bearer YOUR-REST-API-KEY\n{\n      \"message\": (required, string) the status of the export, returns 'success' when completed without errors,\n      \"created_at\" : (string) date created as ISO 8601 date,\n      \"updated_at\" : (string) date last updated as ISO 8601 date,\n      \"name\" : (string) segment name,\n      \"description\" : (string) human-readable description of filters,\n      \"text_description\" : (string) segment description, \n      \"tags\" : (array) tag names associated with the segment\n}\n```",
        "operationId": "segmentDetails",
        "parameters": [
          {
            "description": "(Required) String\n\nSegment API identifier",
            "in": "query",
            "name": "segment_id",
            "schema": {
              "example": "{{segment_identifier}}",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "Segment Details",
        "tags": [
          "Export",
          "Segment"
        ]
      }
    },
    "/segments/list": {
      "get": {
        "description": "This endpoint allows you to export a list of segments, each of which will include its name, Segment API Identifier, and whether it has analytics tracking enabled. The segments are returned in groups of 100 sorted by time of creation (oldest to newest by default). Archived segments are not included.\n\n### Request Components\n- [Segment Identifier](https://www.braze.com/docs/api/identifier_types/)\n\n\n## Response\n\n```json\nContent-Type: application/json\nAuthorization: Bearer YOUR-REST-API-KEY\n{\n    \"message\": (required, string) the status of the export, returns 'success' when completed without errors,\n    \"segments\" : [\n        {\n            \"id\" : (string) Segment API Identifier,\n            \"name\" : (string) segment name,\n            \"analytics_tracking_enabled\" : (boolean) whether the segment has analytics tracking enabled,\n            \"tags\" : (array) tag names associated with the segment\n        },\n        ...\n    ]\n}\n```",
        "operationId": "segmentList",
        "parameters": [
          {
            "description": "(Optional) Integer\n\nThe page of segments to return, defaults to 0 (returns the first set of up to 100)",
            "in": "query",
            "name": "page",
            "schema": {
              "example": "1",
              "type": "string"
            }
          },
          {
            "description": "(Optional) String\n\nPass in the value `desc` to sort by creation time from newest to oldest. Pass in `asc` to sort from oldest to newest. If `sort_direction` is not included, the default order is oldest to newest.",
            "in": "query",
            "name": "sort_direction",
            "schema": {
              "example": "desc",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "Segment List",
        "tags": [
          "Export",
          "Segment"
        ]
      }
    },
    "/sends/data_series": {
      "get": {
        "description": "This endpoint allows you to retrieve a daily series of various stats for a tracked `send_id`. Braze stores send analytics for 14 days after the send.\n\nCampaign conversions will be attributed towards the most recent send id that a given user has received from the campaign.\n\n> The `send_id` is only generated for API campaign sends targeting segments, connected audiences or broadcasts. When relevant, the `send_id` is included in response for the `messages/send`, `messages/schedule`, `campaign/trigger/send` and `campaign/trigger/schedule` endpoints.\n\n### Components Used\n- [Campaign Identifier](https://www.braze.com/docs/api/identifier_types/)\n\n### Send Analytics Endpoint API Response\n\n```json\nContent-Type: application/json\nAuthorization: Bearer YOUR-REST-API-KEY\n{\n            \"variation_name\": (string) variation name,\n            \"sent\": (int) the number of sends,\n            \"delivered\": (int) the number of messages successfully delivered,\n            \"undelivered\": (int) the number of undelivered,\n            \"delivery_failed\": (int) the number of rejected,\n            \"direct_opens\": (int) the number of direct opens,\n            \"total_opens\": (int) the number of total opens,\n            \"bounces\": (int) the number of bounces,\n            \"body_clicks\": (int) the number of body clicks,\n            \"revenue\": (float) the number of dollars of revenue (USD),\n            \"unique_recipients\": (int) the number of unique recipients,\n            \"conversions\": (int) the number of conversions,\n            \"conversions_by_send_time\": (int) the number of conversions,\n            \"conversions1\": (int, optional) the number of conversions for the second conversion event,\n            \"conversions1_by_send_time\": (int, optional) the number of conversions for the second conversion event by send time,\n            \"conversions2\": (int, optional) the number of conversions for the third conversion event,\n            \"conversions2_by_send_time\": (int, optional) the number of conversions for the third conversion event by send time,\n            \"conversions3\": (int, optional) the number of conversions for the fourth conversion event,\n            \"conversions3_by_send_time\": (int, optional) the number of conversions for the fourth conversion event by send time\n          }\n        ]\n      },\n      \"conversions_by_send_time\": 0,\n      \"conversions1_by_send_time\": 0,\n      \"conversions2_by_send_time\": 0,\n      \"conversions3_by_send_time\": 0,\n      \"conversions\": 0,\n      \"conversions1\": 0,\n      \"conversions2\": 0,\n      \"conversions3\": 0,\n      \"unique_recipients\": 1,\n      \"revenue\": 0\n    }\n  ],\n  \"message\": \"success\"\n}\n```",
        "operationId": "sendAnalytics",
        "parameters": [
          {
            "description": "(Required) String\n\nCampaign API identifier.",
            "in": "query",
            "name": "campaign_id",
            "schema": {
              "example": "{{campaign_identifier}}",
              "type": "string"
            }
          },
          {
            "description": "(Required) String\n\nSend API identifier.",
            "in": "query",
            "name": "send_id",
            "schema": {
              "example": "{{send_identifier}}",
              "type": "string"
            }
          },
          {
            "description": "(Required) Integer\n\nMaximum number of days before `ending_at` to include in the returned series. Must be between 1 and 100 inclusive.",
            "in": "query",
            "name": "length",
            "schema": {
              "example": "30",
              "type": "string"
            }
          },
          {
            "description": "(Optional) Datetime ISO 8601 string\n\nDate on which the data series should end. Defaults to time of the request.",
            "in": "query",
            "name": "ending_at",
            "schema": {
              "example": "2014-12-10T23:59:59-05:00",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "Send Analytics",
        "tags": [
          "Export",
          "Campaign"
        ]
      }
    },
    "/sessions/data_series": {
      "get": {
        "description": "This endpoint allows you to retrieve a series of the number of sessions for your app over a designated time period.\n\n### Components Used\n- [Segment Identifier](https://www.braze.com/docs/api/identifier_types/)\n\n## Response\n\n```json\nContent-Type: application/json\nAuthorization: Bearer YOUR-REST-API-KEY\n{\n    \"message\": (required, string) the status of the export, returns 'success' when completed without errors,\n    \"data\" : [\n        {\n            \"time\" : (string) point in time - as ISO 8601 extended when unit is \"hour\" and as ISO 8601 date when unit is \"day\",\n            \"sessions\" : (int)\n        },\n        ...\n    ]\n}\n```",
        "operationId": "appSessionsByTime",
        "parameters": [
          {
            "description": "(Required) Integer\n\nMax number of units (days or hours) before ending_at to include in the returned series - must be between 1 and 100 inclusive.",
            "in": "query",
            "name": "length",
            "schema": {
              "example": "14",
              "type": "string"
            }
          },
          {
            "description": "(Optional) String\n\nUnit of time between data points - can be \"day\" or \"hour\" (defaults to \"day\"). ",
            "in": "query",
            "name": "unit",
            "schema": {
              "example": "day",
              "type": "string"
            }
          },
          {
            "description": "(Optional) DateTime (ISO 8601 string)\n\nPoint in time when the data series should end - defaults to time of the request.",
            "in": "query",
            "name": "ending_at",
            "schema": {
              "example": "2018-06-28T23:59:59-5:00",
              "type": "string"
            }
          },
          {
            "description": "(Optional) String\n\nApp API identifier retrieved from the Developer Console to limit analytics to a specific app.",
            "in": "query",
            "name": "app_id",
            "schema": {
              "example": "{{app_identifier}}",
              "type": "string"
            }
          },
          {
            "description": "(Optional) String\n\nSegment API identifier indicating the analytics enabled segment for which sessions should be returned.",
            "in": "query",
            "name": "segment_id",
            "schema": {
              "example": "{{segment_identifier}}",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "App Sessions by Time",
        "tags": [
          "Export",
          "Session Analytics"
        ]
      }
    },
    "/subscription/status/get": {
      "get": {
        "description": "Use the endpoint below to get the subscription state of a user in a subscription group. The response from this endpoint will include the external ID and either subscribed, unsubscribed, or unknown for the specific subscription group requested in the API call. This can be used to update the subscription group state in subsequent API calls or to be displayed on a hosted web page.\n\n> *Either `external_id` or `email` are required.\n\n## Response\n\nAll successful responses will return `subscribed`, `unsubscribed`, or `unknown` depending on status and user history with the subscription group.\n\n```json\nContent-Type: application/json\nAuthorization: Bearer YOUR-REST-API-KEY\n{\n  \"status\": {\n    \"1\": \"Unsubscribed\",\n    \"2\": \"Subscribed\"\n  },\n  \"message\": \"success\"\n}\n```",
        "operationId": "listUser'sSubscriptionGroupStatusSms",
        "parameters": [
          {
            "description": "(Required) String\n\nThe `id` of your subscription group.",
            "in": "query",
            "name": "subscription_group_id",
            "schema": {
              "example": "{{subscription_group_id}}",
              "type": "string"
            }
          },
          {
            "description": "(Required*) String\n\nThe `external_id` of the user (must include at least one and at most 50 `external_ids`).\n\nOnly external_id or phone is accepted for SMS subscription groups\n",
            "in": "query",
            "name": "external_id",
            "schema": {
              "example": "{{external_identifier}}",
              "type": "string"
            }
          },
          {
            "description": "(Required*) String\n\nThe phone number of the user (must include at least one phone number and at most 50 phone numbers). The recommendation is to provide this in the E.164 format.\n\nOnly external_id or phone is accepted for SMS subscription groups\n",
            "in": "query",
            "name": "phone",
            "schema": {
              "example": "+11112223333",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "List User's  Subscription Group Status - SMS",
        "tags": [
          "Subscription Groups",
          "SMS"
        ]
      }
    },
    "/subscription/user/status": {
      "get": {
        "description": "Use the endpoint below to list and get the subscription groups of a certain user.\n\n> If there are multiple users (multiple external ids) who share the same email address, all users will be returned as a separate user (even if they have the same email address or subscription group).",
[...]
