swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Provides create, read, update and delete functionality for Azure SQL Databases.
  title: Azure SQL Database
  version: 2014-04-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/databases.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: sql-databases
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
parameters:
  DatabaseExpandParameter:
    description: "A comma separated list of child objects to expand in the response. Possible properties: serviceTierAdvisors, transparentDataEncryption."
    in: query
    name: $expand
    required: false
    type: string
    x-ms-parameter-location: method
  ServerNameParameter:
    description: The name of the server.
    in: path
    name: serverName
    required: true
    type: string
    x-ms-parameter-location: method
  TransparentDataEncryptionNameParameter:
    description: The name of the transparent data encryption configuration.
    enum:
      - current
    in: path
    name: transparentDataEncryptionName
    required: true
    type: string
    x-ms-enum:
      modelAsString: true
      name: TransparentDataEncryptionName
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases":
    get:
      description: Returns a list of databases in a server.
      operationId: Databases_ListByServer
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
        - $ref: "#/parameters/DatabaseExpandParameter"
        - description: An OData filter expression that describes a subset of databases to return.
          in: query
          name: $filter
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DatabaseListResult"
      tags:
        - Databases
      x-ms-examples:
        List databases by server:
          parameters:
            api-version: 2014-04-01
            resourceGroupName: sqlcrudtest-6845
            serverName: sqlcrudtest-7177
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/master
                    kind: v12.0,system
                    location: Japan East
                    name: master
                    properties:
                      collation: SQL_Latin1_General_CP1_CI_AS
                      containmentState: 2
                      creationDate: 2017-02-10T00:59:33.483Z
                      currentServiceObjectiveId: 620323bf-2879-4807-b30d-c2e6d7b3b3aa
                      databaseId: e760a51c-3dce-4d8c-976b-a2b929a73e08
                      defaultSecondaryLocation: Japan West
                      earliestRestoreDate: null
                      edition: System
                      elasticPoolName: null
                      failoverGroupId: null
                      maxSizeBytes: "32212254720"
                      readScale: Disabled
                      requestedServiceObjectiveId: 620323bf-2879-4807-b30d-c2e6d7b3b3aa
                      requestedServiceObjectiveName: System2
                      sampleName: null
                      serviceLevelObjective: System2
                      status: Online
                    type: Microsoft.Sql/servers/databases
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-1142
                    kind: v12.0,user
                    location: Japan East
                    name: sqlcrudtest-1142
                    properties:
                      collation: SQL_Latin1_General_CP1_CI_AS
                      containmentState: 2
                      creationDate: 2017-02-10T01:03:34.04Z
                      currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      databaseId: 11c1813c-52db-4d17-95d7-119eda1850b1
                      defaultSecondaryLocation: Japan West
                      earliestRestoreDate: 2017-02-10T01:14:10.233Z
                      edition: Standard
                      elasticPoolName: null
                      failoverGroupId: null
                      maxSizeBytes: "268435456000"
                      readScale: Disabled
                      requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      requestedServiceObjectiveName: S0
                      sampleName: null
                      serviceLevelObjective: S0
                      status: Online
                    type: Microsoft.Sql/servers/databases
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-2788
                    kind: v12.0,user
                    location: Japan East
                    name: sqlcrudtest-2788
                    properties:
                      collation: SQL_Latin1_General_CP1_CI_AS
                      containmentState: 2
                      creationDate: 2017-02-10T01:00:21.067Z
                      currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      databaseId: d63e118b-41cf-49b9-8dac-aa6ef6f91731
                      defaultSecondaryLocation: Japan West
                      earliestRestoreDate: 2017-02-10T01:10:52.25Z
                      edition: Standard
                      elasticPoolName: null
                      failoverGroupId: null
                      maxSizeBytes: "268435456000"
                      readScale: Disabled
                      requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      requestedServiceObjectiveName: S0
                      sampleName: null
                      serviceLevelObjective: S0
                      status: Online
                    type: Microsoft.Sql/servers/databases
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-6877
                    kind: v12.0,user
                    location: Japan East
                    name: sqlcrudtest-6877
                    properties:
                      collation: SQL_Latin1_General_CP1_CI_AS
                      containmentState: 2
                      creationDate: 2017-02-10T01:02:28.853Z
                      currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      databaseId: 40ac16e8-855c-439c-b495-c97e918a771c
                      defaultSecondaryLocation: Japan West
                      earliestRestoreDate: 2017-02-10T01:13:21.66Z
                      edition: Standard
                      elasticPoolName: null
                      failoverGroupId: null
                      maxSizeBytes: "268435456000"
                      readScale: Disabled
                      requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      requestedServiceObjectiveName: S0
                      sampleName: null
                      serviceLevelObjective: S0
                      status: Online
                    type: Microsoft.Sql/servers/databases
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-9888
                    kind: v12.0,user
                    location: Japan East
                    name: sqlcrudtest-9888
                    properties:
                      collation: SQL_Latin1_General_CP1_CI_AS
                      containmentState: 2
                      creationDate: 2017-02-10T01:01:25.347Z
                      currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      databaseId: 59daf4ad-082f-4ac5-b38a-ed656b937980
                      defaultSecondaryLocation: Japan West
                      earliestRestoreDate: 2017-02-10T01:12:05.303Z
                      edition: Standard
                      elasticPoolName: null
                      failoverGroupId: null
                      maxSizeBytes: "268435456000"
                      readScale: Disabled
                      requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      requestedServiceObjectiveName: S0
                      sampleName: null
                      serviceLevelObjective: S0
                      status: Online
                    type: Microsoft.Sql/servers/databases
        List databases by server with filter:
          parameters:
            $filter: properties/edition eq 'System'
            api-version: 2014-04-01
            resourceGroupName: sqlcrudtest-6845
            serverName: sqlcrudtest-7177
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/master
                    kind: v12.0,system
                    location: Japan East
                    name: master
                    properties:
                      collation: SQL_Latin1_General_CP1_CI_AS
                      containmentState: 2
                      creationDate: 2017-02-10T00:59:33.483Z
                      currentServiceObjectiveId: 620323bf-2879-4807-b30d-c2e6d7b3b3aa
                      databaseId: e760a51c-3dce-4d8c-976b-a2b929a73e08
                      defaultSecondaryLocation: Japan West
                      earliestRestoreDate: null
                      edition: System
                      elasticPoolName: null
                      failoverGroupId: null
                      maxSizeBytes: "32212254720"
                      readScale: Disabled
                      requestedServiceObjectiveId: 620323bf-2879-4807-b30d-c2e6d7b3b3aa
                      requestedServiceObjectiveName: System2
                      sampleName: null
                      serviceLevelObjective: System2
                      status: Online
                    type: Microsoft.Sql/servers/databases
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}":
    delete:
      description: Deletes a database.
      operationId: Databases_Delete
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the database to be deleted.
          in: path
          name: databaseName
          required: true
          type: string
      responses:
        "200":
          description: OK
        "204":
          description: NoContent
      tags:
        - Databases
      x-ms-examples:
        Delete a database:
          parameters:
            api-version: 2014-04-01
            databaseName: sqlcrudtest-331
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets a database.
      operationId: Databases_Get
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the database to be retrieved.
          in: path
          name: databaseName
          required: true
          type: string
        - $ref: "#/parameters/DatabaseExpandParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Database"
      tags:
        - Databases
      x-ms-examples:
        Get a database:
          parameters:
            api-version: 2014-04-01
            databaseName: sqlcrudtest-9187
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/databases/sqlcrudtest-9187
                kind: v12.0,user
                location: Japan East
                name: sqlcrudtest-9187
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-10T00:56:19.2Z
                  currentServiceObjectiveId: dd6d99bb-f193-4ec1-86f2-43d3bccbc49c
                  databaseId: 200216b2-dc19-4866-85aa-f73fe4a1ebac
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:06:29.78Z
                  edition: Basic
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: "2147483648"
                  readScale: Disabled
                  requestedServiceObjectiveId: dd6d99bb-f193-4ec1-86f2-43d3bccbc49c
                  requestedServiceObjectiveName: Basic
                  sampleName: null
                  serviceLevelObjective: Basic
                  status: Online
                tags:
                  tagKey1: TagValue1
                type: Microsoft.Sql/servers/databases
    patch:
      description: Updates an existing database.
      operationId: Databases_Update
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the database to be updated.
          in: path
          name: databaseName
          required: true
          type: string
        - description: The required parameters for updating a database.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/DatabaseUpdate"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Database"
        "202":
          description: Accepted
      tags:
        - Databases
      x-ms-examples:
        Update a database max:
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            parameters:
              properties:
                collation: SQL_Latin1_General_CP1_CI_AS
                containmentState: 2
                createMode: Default
                currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                defaultSecondaryLocation: Japan West
                earliestRestoreDate: 2017-02-10T01:52:52.923Z
                edition: Standard
                maxSizeBytes: "268435456000"
                readScale: Disabled
                requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                requestedServiceObjectiveName: S0
                serviceLevelObjective: S0
                status: Online
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-5961
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb
                kind: v12.0,user
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-24T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:52:52.923Z
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "202": {}
        Update a database min:
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            parameters: {}
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-5961
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb
                kind: v12.0,user
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-24T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:52:52.923Z
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "202": {}
      x-ms-long-running-operation: true
    put:
      description: Creates a new database or updates an existing database.
      operationId: Databases_CreateOrUpdate
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the database to be operated on (updated or created).
          in: path
          name: databaseName
          required: true
          type: string
        - description: The required parameters for creating or updating a database.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Database"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Database"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/Database"
        "202":
          description: Accepted
      tags:
        - Databases
      x-ms-examples:
        Create a database as a copy:
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            parameters:
              location: Japan East
              properties:
                createMode: Copy
                sourceDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-6440
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb
                kind: v12.0,user
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-24T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:52:52.923Z
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb
                kind: v12.0,user
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-24T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:52:52.923Z
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "202": {}
        Create a database as a dropped database restore to a specific point in time:
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            parameters:
              location: Japan East
              properties:
                createMode: Restore
                restorePointInTime: 2017-05-20T21:24:37.467Z
                sourceDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444 /resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3782/restorableDroppedDatabases/sourcedb,131403269876900000
            resourceGroupName: sqlcrudtest-8412
            serverName: sqlcrudtest-3584
            subscriptionId: "00000000-1111-2222-3333-444444444444 "
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: v12.0,user
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-05-30T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-05-30T22:50:46.547Z
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: v12.0,user
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-05-30T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-05-30T22:50:46.547Z
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "202": {}
        Create a database as a dropped database restore to deletion time:
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            parameters:
              location: Japan East
              properties:
                createMode: Restore
                sourceDatabaseDeletionDate: 2017-05-27T02:49:47.69Z
                sourceDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444 /resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/sourcedb
            resourceGroupName: sqlcrudtest-8412
            serverName: sqlcrudtest-3584
            subscriptionId: "00000000-1111-2222-3333-444444444444 "
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: v12.0,user
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-05-30T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-05-30T22:50:46.547Z
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: v12.0,user
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-05-30T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-05-30T22:50:46.547Z
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "202": {}
        Create a database as a geo restore:
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            parameters:
              location: Japan East
              properties:
                createMode: Recovery
                sourceDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444 /resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3782/recoverableDatabases/sourcedb
            resourceGroupName: sqlcrudtest-8412
            serverName: sqlcrudtest-3584
            subscriptionId: "00000000-1111-2222-3333-444444444444 "
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: v12.0,user
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-05-30T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-05-30T22:50:46.547Z
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: v12.0,user
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-05-30T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-05-30T22:50:46.547Z
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "202": {}
        Create a database as a non-readable secondary:
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            parameters:
              location: Japan East
              properties:
                createMode: NonReadableSecondary
                sourceDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-6440
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb
                kind: v12.0,user
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-24T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:52:52.923Z
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb
                kind: v12.0,user
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-24T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:52:52.923Z
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "202": {}
        Create a database as a point in time restore:
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            parameters:
              location: Japan East
              properties:
                createMode: PointInTimeRestore
                restorePointInTime: 2017-02-16T21:24:37.467Z
                sourceDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444 /resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
            resourceGroupName: sqlcrudtest-8412
            serverName: sqlcrudtest-3584
            subscriptionId: "00000000-1111-2222-3333-444444444444 "
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: v12.0,user
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-24T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:52:52.923Z
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: v12.0,user
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-24T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:52:52.923Z
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "202": {}
        Create a database as an online secondary:
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            parameters:
              location: Japan East
              properties:
                createMode: OnlineSecondary
                sourceDatabaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-6440
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: v12.0,user
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-24T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:52:52.923Z
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: v12.0,user
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-24T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:52:52.923Z
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "202": {}
        Create a database from a long term retention backup:
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            parameters:
              location: Japan East
              properties:
                createMode: RestoreLongTermRetentionBackup
                recoveryServicesRecoveryPointResourceId: /subscriptions/00000000-1111-2222-3333-444444444444 /resourceGroups/sqlcrudtest-8412/providers/Microsoft.RecoveryServices/vaults/testVault/backupFabrics/Azure/protectionContainers/AzureSqlContainer;Sql;sqlcrudtest-8412;testsvr/protectedItems/AzureSqlDb;dsName;testdb;9dafcc99-7c84-4727-88ee-1a4fdb89afd7/RecoveryPoints/16043455089734
            resourceGroupName: sqlcrudtest-8412
            serverName: sqlcrudtest-3584
            subscriptionId: "00000000-1111-2222-3333-444444444444 "
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: v12.0,user
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-05-30T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-05-30T22:50:46.547Z
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb
                kind: v12.0,user
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-05-30T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-05-30T22:50:46.547Z
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "202": {}
        Create a database max:
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            parameters:
              location: Japan East
              properties:
                collation: SQL_Latin1_General_CP1_CI_AS
                containmentState: 2
                createMode: Default
                creationDate: 2017-02-10T01:37:18.847Z
                currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                databaseId: 816c5f7e-0e36-4eec-9c51-eee7a276c14c
                defaultSecondaryLocation: Japan West
                earliestRestoreDate: 2017-02-10T01:48:08.237Z
                edition: Standard
                maxSizeBytes: "268435456000"
                readScale: Disabled
                requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                requestedServiceObjectiveName: S0
                sampleName: AdventureWorksLT
                serviceLevelObjective: S0
                status: Online
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-6440
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-8931/providers/Microsoft.Sql/servers/sqlcrudtest-1932/databases/testdb
                kind: v12.0,user
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  createMode: Default
                  creationDate: 2017-02-10T01:37:18.847Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  databaseId: 816c5f7e-0e36-4eec-9c51-eee7a276c14c
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:48:08.237Z
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  sourceDatabaseId: null
                  status: Online
                type: Microsoft.Sql/servers/databases
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-8931/providers/Microsoft.Sql/servers/sqlcrudtest-1932/databases/testdb
                kind: v12.0,user
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  createMode: Default
                  creationDate: 2017-02-10T01:37:18.847Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  databaseId: 816c5f7e-0e36-4eec-9c51-eee7a276c14c
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:48:08.237Z
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  sourceDatabaseId: null
                  status: Online
                type: Microsoft.Sql/servers/databases
            "202": {}
        Create a database min:
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            parameters:
              location: Japan East
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-5961
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb
                kind: v12.0,user
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-24T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:52:52.923Z
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb
                kind: v12.0,user
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-24T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:52:52.923Z
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "202": {}
        Update a database max:
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            parameters:
              location: Japan East
              properties:
                collation: SQL_Latin1_General_CP1_CI_AS
                containmentState: 2
                createMode: Default
                currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                defaultSecondaryLocation: Japan West
                earliestRestoreDate: 2017-02-10T01:52:52.923Z
                edition: Standard
                maxSizeBytes: "268435456000"
                readScale: Disabled
                requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                requestedServiceObjectiveName: S0
                serviceLevelObjective: S0
                status: Online
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-5961
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb
                kind: v12.0,user
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-24T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:52:52.923Z
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb
                kind: v12.0,user
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-24T22:39:46.547Z
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:52:52.923Z
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "202": {}
        Update a database's elastic pool':
          parameters:
            api-version: 2014-04-01
            databaseName: testdb
            parameters:
              location: Japan East
              properties:
                elasticPoolName: "7537"
            resourceGroupName: sqlcrudtest-4799
            serverName: sqlcrudtest-6440
            subscriptionId: 9d4e2ad0-e20b-4464-9219-353bded52513
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb
                kind: v12.0,user
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:52:52.923Z
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb
                kind: v12.0,user
                location: Japan East
                name: testdb
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:52:52.923Z
                  edition: Standard
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: "268435456000"
                  readScale: Disabled
                  requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                  requestedServiceObjectiveName: S0
                  sampleName: null
                  serviceLevelObjective: S0
                  status: Online
                type: Microsoft.Sql/servers/databases
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/pause":
    post:
      description: Pauses a data warehouse.
      operationId: Databases_Pause
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the data warehouse to pause.
          in: path
          name: databaseName
          required: true
          type: string
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
      tags:
        - DatabaseActivation
      x-ms-examples:
        Pause a data warehouse:
          parameters:
            api-version: 2014-04-01
            databaseName: sqlcrudtest-9187
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/resume":
    post:
      description: Resumes a data warehouse.
      operationId: Databases_Resume
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the data warehouse to resume.
          in: path
          name: databaseName
          required: true
          type: string
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
      tags:
        - DatabaseActivation
      x-ms-examples:
        Resume a data warehouse:
          parameters:
            api-version: 2014-04-01
            databaseName: sqlcrudtest-9187
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/databases":
    get:
      description: Returns a list of databases in an elastic pool.
      operationId: Databases_ListByElasticPool
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the elastic pool to be retrieved.
          in: path
          name: elasticPoolName
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DatabaseListResult"
      tags:
        - Databases
      x-ms-examples:
        Gets databases in an elastic pool:
          parameters:
            api-version: 2014-04-01
            elasticPoolName: sqlcrudtest-7745
            resourceGroupName: sqlcrudtest-6845
            serverName: sqlcrudtest-7177
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/master
                    kind: v12.0,system
                    location: Japan East
                    name: master
                    properties:
                      collation: SQL_Latin1_General_CP1_CI_AS
                      containmentState: 2
                      creationDate: 2017-02-10T00:59:33.483Z
                      currentServiceObjectiveId: 620323bf-2879-4807-b30d-c2e6d7b3b3aa
                      databaseId: e760a51c-3dce-4d8c-976b-a2b929a73e08
                      defaultSecondaryLocation: Japan West
                      earliestRestoreDate: null
                      edition: System
                      elasticPoolName: null
                      failoverGroupId: null
                      maxSizeBytes: "32212254720"
                      readScale: Disabled
                      requestedServiceObjectiveId: 620323bf-2879-4807-b30d-c2e6d7b3b3aa
                      requestedServiceObjectiveName: System2
                      sampleName: null
                      serviceLevelObjective: System2
                      status: Online
                    type: Microsoft.Sql/servers/databases
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-1142
                    kind: v12.0,user
                    location: Japan East
                    name: sqlcrudtest-1142
                    properties:
                      collation: SQL_Latin1_General_CP1_CI_AS
                      containmentState: 2
                      creationDate: 2017-02-10T01:03:34.04Z
                      currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      databaseId: 11c1813c-52db-4d17-95d7-119eda1850b1
                      defaultSecondaryLocation: Japan West
                      earliestRestoreDate: 2017-02-10T01:14:10.233Z
                      edition: Standard
                      elasticPoolName: null
                      failoverGroupId: null
                      maxSizeBytes: "268435456000"
                      readScale: Disabled
                      requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      requestedServiceObjectiveName: S0
                      sampleName: null
                      serviceLevelObjective: S0
                      status: Online
                    type: Microsoft.Sql/servers/databases
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-2788
                    kind: v12.0,user
                    location: Japan East
                    name: sqlcrudtest-2788
                    properties:
                      collation: SQL_Latin1_General_CP1_CI_AS
                      containmentState: 2
                      creationDate: 2017-02-10T01:00:21.067Z
                      currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      databaseId: d63e118b-41cf-49b9-8dac-aa6ef6f91731
                      defaultSecondaryLocation: Japan West
                      earliestRestoreDate: 2017-02-10T01:10:52.25Z
                      edition: Standard
                      elasticPoolName: null
                      failoverGroupId: null
                      maxSizeBytes: "268435456000"
                      readScale: Disabled
                      requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      requestedServiceObjectiveName: S0
                      sampleName: null
                      serviceLevelObjective: S0
                      status: Online
                    type: Microsoft.Sql/servers/databases
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-6877
                    kind: v12.0,user
                    location: Japan East
                    name: sqlcrudtest-6877
                    properties:
                      collation: SQL_Latin1_General_CP1_CI_AS
                      containmentState: 2
                      creationDate: 2017-02-10T01:02:28.853Z
                      currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      databaseId: 40ac16e8-855c-439c-b495-c97e918a771c
                      defaultSecondaryLocation: Japan West
                      earliestRestoreDate: 2017-02-10T01:13:21.66Z
                      edition: Standard
                      elasticPoolName: null
                      failoverGroupId: null
                      maxSizeBytes: "268435456000"
                      readScale: Disabled
                      requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      requestedServiceObjectiveName: S0
                      sampleName: null
                      serviceLevelObjective: S0
                      status: Online
                    type: Microsoft.Sql/servers/databases
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-9888
                    kind: v12.0,user
                    location: Japan East
                    name: sqlcrudtest-9888
                    properties:
                      collation: SQL_Latin1_General_CP1_CI_AS
                      containmentState: 2
                      creationDate: 2017-02-10T01:01:25.347Z
                      currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      databaseId: 59daf4ad-082f-4ac5-b38a-ed656b937980
                      defaultSecondaryLocation: Japan West
                      earliestRestoreDate: 2017-02-10T01:12:05.303Z
                      edition: Standard
                      elasticPoolName: null
                      failoverGroupId: null
                      maxSizeBytes: "268435456000"
                      readScale: Disabled
                      requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      requestedServiceObjectiveName: S0
                      sampleName: null
                      serviceLevelObjective: S0
                      status: Online
                    type: Microsoft.Sql/servers/databases
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/databases/{databaseName}":
    get:
      description: Gets a database inside of an elastic pool.
      operationId: Databases_GetByElasticPool
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the elastic pool to be retrieved.
          in: path
          name: elasticPoolName
          required: true
          type: string
        - description: The name of the database to be retrieved.
          in: path
          name: databaseName
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Database"
      tags:
        - ElasticPools
      x-ms-examples:
        Get a database in an elastic pool:
          parameters:
            api-version: 2014-04-01
            databaseName: sqlcrudtest-9187
            elasticPoolName: sqlcrudtest-7745
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/databases/sqlcrudtest-9187
                kind: v12.0,user
                location: Japan East
                name: sqlcrudtest-9187
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-10T00:56:19.2Z
                  currentServiceObjectiveId: dd6d99bb-f193-4ec1-86f2-43d3bccbc49c
                  databaseId: 200216b2-dc19-4866-85aa-f73fe4a1ebac
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:06:29.78Z
                  edition: Basic
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: "2147483648"
                  readScale: Disabled
                  requestedServiceObjectiveId: dd6d99bb-f193-4ec1-86f2-43d3bccbc49c
                  requestedServiceObjectiveName: Basic
                  sampleName: null
                  serviceLevelObjective: Basic
                  status: Online
                tags:
                  tagKey1: TagValue1
                type: Microsoft.Sql/servers/databases
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recommendedElasticPools/{recommendedElasticPoolName}/databases":
    get:
      description: Returns a list of databases inside a recommended elastic pool.
      operationId: Databases_ListByRecommendedElasticPool
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the recommended elastic pool to be retrieved.
          in: path
          name: recommendedElasticPoolName
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DatabaseListResult"
      tags:
        - Databases
      x-ms-examples:
        Gets databases in an elastic pool:
          parameters:
            api-version: 2014-04-01
            recommendedElasticPoolName: sqlcrudtest-7745
            resourceGroupName: sqlcrudtest-6845
            serverName: sqlcrudtest-7177
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/master
                    kind: v12.0,system
                    location: Japan East
                    name: master
                    properties:
                      collation: SQL_Latin1_General_CP1_CI_AS
                      containmentState: 2
                      creationDate: 2017-02-10T00:59:33.483Z
                      currentServiceObjectiveId: 620323bf-2879-4807-b30d-c2e6d7b3b3aa
                      databaseId: e760a51c-3dce-4d8c-976b-a2b929a73e08
                      defaultSecondaryLocation: Japan West
                      earliestRestoreDate: null
                      edition: System
                      elasticPoolName: null
                      failoverGroupId: null
                      maxSizeBytes: "32212254720"
                      readScale: Disabled
                      requestedServiceObjectiveId: 620323bf-2879-4807-b30d-c2e6d7b3b3aa
                      requestedServiceObjectiveName: System2
                      sampleName: null
                      serviceLevelObjective: System2
                      status: Online
                    type: Microsoft.Sql/servers/databases
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-1142
                    kind: v12.0,user
                    location: Japan East
                    name: sqlcrudtest-1142
                    properties:
                      collation: SQL_Latin1_General_CP1_CI_AS
                      containmentState: 2
                      creationDate: 2017-02-10T01:03:34.04Z
                      currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      databaseId: 11c1813c-52db-4d17-95d7-119eda1850b1
                      defaultSecondaryLocation: Japan West
                      earliestRestoreDate: 2017-02-10T01:14:10.233Z
                      edition: Standard
                      elasticPoolName: null
                      failoverGroupId: null
                      maxSizeBytes: "268435456000"
                      readScale: Disabled
                      requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      requestedServiceObjectiveName: S0
                      sampleName: null
                      serviceLevelObjective: S0
                      status: Online
                    type: Microsoft.Sql/servers/databases
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-2788
                    kind: v12.0,user
                    location: Japan East
                    name: sqlcrudtest-2788
                    properties:
                      collation: SQL_Latin1_General_CP1_CI_AS
                      containmentState: 2
                      creationDate: 2017-02-10T01:00:21.067Z
                      currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      databaseId: d63e118b-41cf-49b9-8dac-aa6ef6f91731
                      defaultSecondaryLocation: Japan West
                      earliestRestoreDate: 2017-02-10T01:10:52.25Z
                      edition: Standard
                      elasticPoolName: null
                      failoverGroupId: null
                      maxSizeBytes: "268435456000"
                      readScale: Disabled
                      requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      requestedServiceObjectiveName: S0
                      sampleName: null
                      serviceLevelObjective: S0
                      status: Online
                    type: Microsoft.Sql/servers/databases
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-6877
                    kind: v12.0,user
                    location: Japan East
                    name: sqlcrudtest-6877
                    properties:
                      collation: SQL_Latin1_General_CP1_CI_AS
                      containmentState: 2
                      creationDate: 2017-02-10T01:02:28.853Z
                      currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      databaseId: 40ac16e8-855c-439c-b495-c97e918a771c
                      defaultSecondaryLocation: Japan West
                      earliestRestoreDate: 2017-02-10T01:13:21.66Z
                      edition: Standard
                      elasticPoolName: null
                      failoverGroupId: null
                      maxSizeBytes: "268435456000"
                      readScale: Disabled
                      requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      requestedServiceObjectiveName: S0
                      sampleName: null
                      serviceLevelObjective: S0
                      status: Online
                    type: Microsoft.Sql/servers/databases
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6845/providers/Microsoft.Sql/servers/sqlcrudtest-7177/databases/sqlcrudtest-9888
                    kind: v12.0,user
                    location: Japan East
                    name: sqlcrudtest-9888
                    properties:
                      collation: SQL_Latin1_General_CP1_CI_AS
                      containmentState: 2
                      creationDate: 2017-02-10T01:01:25.347Z
                      currentServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      databaseId: 59daf4ad-082f-4ac5-b38a-ed656b937980
                      defaultSecondaryLocation: Japan West
                      earliestRestoreDate: 2017-02-10T01:12:05.303Z
                      edition: Standard
                      elasticPoolName: null
                      failoverGroupId: null
                      maxSizeBytes: "268435456000"
                      readScale: Disabled
                      requestedServiceObjectiveId: f1173c43-91bd-4aaa-973c-54e79e15235b
                      requestedServiceObjectiveName: S0
                      sampleName: null
                      serviceLevelObjective: S0
                      status: Online
                    type: Microsoft.Sql/servers/databases
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recommendedElasticPools/{recommendedElasticPoolName}/databases/{databaseName}":
    get:
      description: Gets a database inside of a recommended elastic pool.
      operationId: Databases_GetByRecommendedElasticPool
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the elastic pool to be retrieved.
          in: path
          name: recommendedElasticPoolName
          required: true
          type: string
        - description: The name of the database to be retrieved.
          in: path
          name: databaseName
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Database"
      tags:
        - Databases
      x-ms-examples:
        Get a database in a recommended elastic pool:
          parameters:
            api-version: 2014-04-01
            databaseName: sqlcrudtest-9187
            recommendedElasticPoolName: sqlcrudtest-7745
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/databases/sqlcrudtest-9187
                kind: v12.0,user
                location: Japan East
                name: sqlcrudtest-9187
                properties:
                  collation: SQL_Latin1_General_CP1_CI_AS
                  containmentState: 2
                  creationDate: 2017-02-10T00:56:19.2Z
                  currentServiceObjectiveId: dd6d99bb-f193-4ec1-86f2-43d3bccbc49c
                  databaseId: 200216b2-dc19-4866-85aa-f73fe4a1ebac
                  defaultSecondaryLocation: Japan West
                  earliestRestoreDate: 2017-02-10T01:06:29.78Z
                  edition: Basic
                  elasticPoolName: null
                  failoverGroupId: null
                  maxSizeBytes: "2147483648"
                  readScale: Disabled
                  requestedServiceObjectiveId: dd6d99bb-f193-4ec1-86f2-43d3bccbc49c
                  requestedServiceObjectiveName: Basic
                  sampleName: null
                  serviceLevelObjective: Basic
                  status: Online
                tags:
                  tagKey1: TagValue1
                type: Microsoft.Sql/servers/databases
definitions:
  Database:
    allOf:
      - allOf:
          - description: ARM resource.
            properties:
              id:
                description: Resource ID.
                readOnly: true
                type: string
              name:
                description: Resource name.
                readOnly: true
                type: string
              type:
                description: Resource type.
                readOnly: true
                type: string
            type: object
            x-ms-azure-resource: true
        description: ARM tracked top level resource.
        properties:
          location:
            description: Resource location.
            type: string
            x-ms-mutability:
              - read
              - create
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
        required:
          - location
        type: object
    description: Represents a database.
    properties:
      kind:
        description: Kind of database.  This is metadata used for the Azure portal experience.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/DatabaseProperties"
        description: The properties representing the resource.
        x-ms-client-flatten: true
  DatabaseListResult:
    description: Represents the response to a list database request.
    properties:
      value:
        description: The list of databases housed in the server.
        items:
          $ref: "#/definitions/Database"
        type: array
    required:
      - value
  DatabaseProperties:
    description: Represents the properties of a database.
    properties:
      collation:
        description: The collation of the database. If createMode is not Default, this value is ignored.
        type: string
        x-ms-mutability:
          - create
          - read
      containmentState:
        description: The containment state of the database.
        format: int64
        readOnly: true
        type: integer
      createMode:
        description: |-
          Specifies the mode of database creation.

          Default: regular database creation.

          Copy: creates a database as a copy of an existing database. sourceDatabaseId must be specified as the resource ID of the source database.

          OnlineSecondary/NonReadableSecondary: creates a database as a (readable or nonreadable) secondary replica of an existing database. sourceDatabaseId must be specified as the resource ID of the existing primary database.

          PointInTimeRestore: Creates a database by restoring a point in time backup of an existing database. sourceDatabaseId must be specified as the resource ID of the existing database, and restorePointInTime must be specified.

          Recovery: Creates a database by restoring a geo-replicated backup. sourceDatabaseId must be specified as the recoverable database resource ID to restore.

          Restore: Creates a database by restoring a backup of a deleted database. sourceDatabaseId must be specified. If sourceDatabaseId is the database's original resource ID, then sourceDatabaseDeletionDate must be specified. Otherwise sourceDatabaseId must be the restorable dropped database resource ID and sourceDatabaseDeletionDate is ignored. restorePointInTime may also be specified to restore from an earlier point in time.

          RestoreLongTermRetentionBackup: Creates a database by restoring from a long term retention vault. recoveryServicesRecoveryPointResourceId must be specified as the recovery point resource ID.

          Copy, NonReadableSecondary, OnlineSecondary and RestoreLongTermRetentionBackup are not supported for DataWarehouse edition.
        enum:
          - Copy
          - Default
          - NonReadableSecondary
          - OnlineSecondary
          - PointInTimeRestore
          - Recovery
          - Restore
          - RestoreLongTermRetentionBackup
        type: string
        x-ms-enum:
          modelAsString: true
          name: CreateMode
        x-ms-mutability:
          - create
      creationDate:
        description: The creation date of the database (ISO8601 format).
        format: date-time
        readOnly: true
        type: string
      currentServiceObjectiveId:
        description: The current service level objective ID of the database. This is the ID of the service level objective that is currently active.
        format: uuid
        readOnly: true
        type: string
      databaseId:
        description: The ID of the database.
        format: uuid
        readOnly: true
        type: string
      defaultSecondaryLocation:
        description: The default secondary region for this database.
        readOnly: true
        type: string
      earliestRestoreDate:
        description: This records the earliest start date and time that restore is available for this database (ISO8601 format).
        format: date-time
        readOnly: true
        type: string
      edition:
        description: "The edition of the database. The DatabaseEditions enumeration contains all the valid editions. If createMode is NonReadableSecondary or OnlineSecondary, this value is ignored.\r

          \r

          The list of SKUs may vary by region and support offer. To determine the SKUs (including the SKU name, tier/edition, family, and capacity) that are available to your subscription in an Azure region, use the `Capabilities_ListByLocation` REST API or one of the following commands:\r

          \r

          ```azurecli\r

          az sql db list-editions -l <location> -o table\r

          ````\r

          \r

          ```powershell\r

          Get-AzSqlServerServiceObjective -Location <location>\r

          ````\r\n"
        enum:
          - Web
          - Business
          - Basic
          - Standard
          - Premium
          - PremiumRS
          - Free
          - Stretch
          - DataWarehouse
          - System
          - System2
          - GeneralPurpose
          - BusinessCritical
          - Hyperscale
        type: string
        x-ms-enum:
          modelAsString: true
          name: DatabaseEdition
      elasticPoolName:
        description: The name of the elastic pool the database is in. If elasticPoolName and requestedServiceObjectiveName are both updated, the value of requestedServiceObjectiveName is ignored. Not supported for DataWarehouse edition.
        type: string
      failoverGroupId:
        description: The resource identifier of the failover group containing this database.
        readOnly: true
        type: string
      maxSizeBytes:
        description: 'The max size of the database expressed in bytes. If createMode is not Default, this value is ignored. To see possible values, query the capabilities API (/subscriptions/{subscriptionId}/providers/Microsoft.Sql/locations/{locationID}/capabilities) referred to by operationId: "Capabilities_ListByLocation."'
        type: string
      readScale:
        description: Conditional. If the database is a geo-secondary, readScale indicates whether read-only connections are allowed to this database or not. Not supported for DataWarehouse edition.
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          name: ReadScale
      recommendedIndex:
        description: The recommended indices for this database.
        items:
          allOf:
            - allOf:
                - description: ARM resource.
                  properties:
                    id:
                      description: Resource ID.
                      readOnly: true
                      type: string
                    name:
                      description: Resource name.
                      readOnly: true
                      type: string
                    type:
                      description: Resource type.
                      readOnly: true
                      type: string
                  type: object
                  x-ms-azure-resource: true
              description: ARM proxy resource.
              properties: {}
              type: object
          description: Represents a database recommended index.
          properties:
            properties:
              description: Represents the properties of a database recommended index.
              properties:
                action:
                  description: The proposed index action. You can create a missing index, drop an unused index, or rebuild an existing index to improve its performance.
                  enum:
                    - Create
                    - Drop
                    - Rebuild
                  readOnly: true
                  type: string
                  x-ms-enum:
                    name: RecommendedIndexAction
                columns:
                  description: Columns over which to build index
                  items:
                    type: string
                  readOnly: true
                  type: array
                created:
                  description: The UTC datetime showing when this resource was created (ISO8601 format).
                  format: date-time
                  readOnly: true
                  type: string
                estimatedImpact:
                  description: The estimated impact of doing recommended index action.
                  items:
                    description: The impact of an operation, both in absolute and relative terms.
                    properties:
                      changeValueAbsolute:
                        description: The absolute impact to dimension.
                        format: double
                        readOnly: true
                        type: number
                      changeValueRelative:
                        description: The relative impact to dimension (null if not applicable)
                        format: double
                        readOnly: true
                        type: number
                      name:
                        description: The name of the impact dimension.
                        readOnly: true
                        type: string
                      unit:
                        description: The unit in which estimated impact to dimension is measured.
                        readOnly: true
                        type: string
                  readOnly: true
                  type: array
                includedColumns:
                  description: The list of column names to be included in the index
                  items:
                    type: string
                  readOnly: true
                  type: array
                indexScript:
                  description: The full build index script
                  readOnly: true
                  type: string
                indexType:
                  description: The type of index (CLUSTERED, NONCLUSTERED, COLUMNSTORE, CLUSTERED COLUMNSTORE)
                  enum:
                    - CLUSTERED
                    - NONCLUSTERED
                    - COLUMNSTORE
                    - CLUSTERED COLUMNSTORE
                  readOnly: true
                  type: string
                  x-ms-enum:
                    name: RecommendedIndexType
                lastModified:
                  description: The UTC datetime of when was this resource last changed (ISO8601 format).
                  format: date-time
[...]
