swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Provides create, read, update and delete functionality for Azure SQL Database resources including servers, databases, elastic pools, recommendations, operations, and usage metrics.
  title: Azure SQL Database
  version: 2014-04-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/serviceObjectives.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: sql-serviceObjectives
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
parameters:
  ServerNameParameter:
    description: The name of the server.
    in: path
    name: serverName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/serviceObjectives":
    get:
      description: Returns database service objectives.
      operationId: ServiceObjectives_ListByServer
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ServiceObjectiveListResult"
      tags:
        - ServiceObjectives
      x-ms-examples:
        List service objectives:
          parameters:
            api-version: 2014-04-01
            resourceGroupName: group1
            serverName: sqlcrudtest
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/26e021db-f1f9-4c98-84c6-92af8ef433d7
                    location: Central US
                    name: 26e021db-f1f9-4c98-84c6-92af8ef433d7
                    properties:
                      description: null
                      enabled: false
                      isDefault: false
                      isSystem: true
                      serviceObjectiveName: System
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/29dd7459-4a7c-4e56-be22-f0adda49440d
                    location: Central US
                    name: 29dd7459-4a7c-4e56-be22-f0adda49440d
                    properties:
                      description: null
                      enabled: false
                      isDefault: false
                      isSystem: true
                      serviceObjectiveName: System0
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/c99ac918-dbea-463f-a475-16ec020fdc12
                    location: Central US
                    name: c99ac918-dbea-463f-a475-16ec020fdc12
                    properties:
                      description: null
                      enabled: false
                      isDefault: false
                      isSystem: true
                      serviceObjectiveName: System1
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/620323bf-2879-4807-b30d-c2e6d7b3b3aa
                    location: Central US
                    name: 620323bf-2879-4807-b30d-c2e6d7b3b3aa
                    properties:
                      description: null
                      enabled: false
                      isDefault: false
                      isSystem: true
                      serviceObjectiveName: System2
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/33d0db1f-6893-4210-99f9-463fb9b496a4
                    location: Central US
                    name: 33d0db1f-6893-4210-99f9-463fb9b496a4
                    properties:
                      description: null
                      enabled: false
                      isDefault: false
                      isSystem: true
                      serviceObjectiveName: System3
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/da24338c-a6c9-46c2-a4bf-4ac95b496ae4
                    location: Central US
                    name: da24338c-a6c9-46c2-a4bf-4ac95b496ae4
                    properties:
                      description: null
                      enabled: false
                      isDefault: false
                      isSystem: true
                      serviceObjectiveName: System4
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/53f7fa1b-b0d0-43d6-bc29-c5f059fb36e9
                    location: Central US
                    name: 53f7fa1b-b0d0-43d6-bc29-c5f059fb36e9
                    properties:
                      description: null
                      enabled: false
                      isDefault: false
                      isSystem: true
                      serviceObjectiveName: System2L
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/e79cd55c-689f-48d9-bffa-0dd12c772248
                    location: Central US
                    name: e79cd55c-689f-48d9-bffa-0dd12c772248
                    properties:
                      description: null
                      enabled: false
                      isDefault: false
                      isSystem: true
                      serviceObjectiveName: System3L
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/4b37bb6d-e004-47ac-8f7a-be56ac9fb490
                    location: Central US
                    name: 4b37bb6d-e004-47ac-8f7a-be56ac9fb490
                    properties:
                      description: null
                      enabled: false
                      isDefault: false
                      isSystem: true
                      serviceObjectiveName: System4L
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/6aa3bb3e-7f50-40d6-95ef-5497c30d99d8
                    location: Central US
                    name: 6aa3bb3e-7f50-40d6-95ef-5497c30d99d8
                    properties:
                      description: null
                      enabled: true
                      isDefault: true
                      isSystem: false
                      serviceObjectiveName: Free
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/dd6d99bb-f193-4ec1-86f2-43d3bccbc49c
                    location: Central US
                    name: dd6d99bb-f193-4ec1-86f2-43d3bccbc49c
                    properties:
                      description: null
                      enabled: true
                      isDefault: true
                      isSystem: false
                      serviceObjectiveName: Basic
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/f1173c43-91bd-4aaa-973c-54e79e15235b
                    location: Central US
                    name: f1173c43-91bd-4aaa-973c-54e79e15235b
                    properties:
                      description: null
                      enabled: true
                      isDefault: true
                      isSystem: false
                      serviceObjectiveName: S0
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/1b1ebd4d-d903-4baa-97f9-4ea675f5e928
                    location: Central US
                    name: 1b1ebd4d-d903-4baa-97f9-4ea675f5e928
                    properties:
                      description: null
                      enabled: true
                      isDefault: false
                      isSystem: false
                      serviceObjectiveName: S1
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/455330e1-00cd-488b-b5fa-177c226f28b7
                    location: Central US
                    name: 455330e1-00cd-488b-b5fa-177c226f28b7
                    properties:
                      description: null
                      enabled: true
                      isDefault: false
                      isSystem: false
                      serviceObjectiveName: S2
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/789681b8-ca10-4eb0-bdf2-e0b050601b40
                    location: Central US
                    name: 789681b8-ca10-4eb0-bdf2-e0b050601b40
                    properties:
                      description: null
                      enabled: true
                      isDefault: false
                      isSystem: false
                      serviceObjectiveName: S3
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/7203483a-c4fb-4304-9e9f-17c71c904f5d
                    location: Central US
                    name: 7203483a-c4fb-4304-9e9f-17c71c904f5d
                    properties:
                      description: null
                      enabled: true
                      isDefault: true
                      isSystem: false
                      serviceObjectiveName: P1
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/a7d1b92d-c987-4375-b54d-2b1d0e0f5bb0
                    location: Central US
                    name: a7d1b92d-c987-4375-b54d-2b1d0e0f5bb0
                    properties:
                      description: null
                      enabled: true
                      isDefault: false
                      isSystem: false
                      serviceObjectiveName: P2
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/afe1eee1-1f12-4e5f-9ad6-2de9c12cb4dc
                    location: Central US
                    name: afe1eee1-1f12-4e5f-9ad6-2de9c12cb4dc
                    properties:
                      description: null
                      enabled: true
                      isDefault: false
                      isSystem: false
                      serviceObjectiveName: P4
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/43940481-9191-475a-9dba-6b505615b9aa
                    location: Central US
                    name: 43940481-9191-475a-9dba-6b505615b9aa
                    properties:
                      description: null
                      enabled: true
                      isDefault: false
                      isSystem: false
                      serviceObjectiveName: P6
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/dd00d544-bbc0-4f61-ba60-cdce0c410288
                    location: Central US
                    name: dd00d544-bbc0-4f61-ba60-cdce0c410288
                    properties:
                      description: null
                      enabled: true
                      isDefault: false
                      isSystem: false
                      serviceObjectiveName: P11
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/5bc86cca-9a96-4a94-90ef-bbdfcfbf2d71
                    location: Central US
                    name: 5bc86cca-9a96-4a94-90ef-bbdfcfbf2d71
                    properties:
                      description: null
                      enabled: true
                      isDefault: false
                      isSystem: false
                      serviceObjectiveName: P15
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/dfdc102c-ed02-4349-9756-e227f0e43bb8
                    location: Central US
                    name: dfdc102c-ed02-4349-9756-e227f0e43bb8
                    properties:
                      description: null
                      enabled: true
                      isDefault: true
                      isSystem: false
                      serviceObjectiveName: PRS1
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/a089506e-b47a-4f42-8a32-cc19af4c86fb
                    location: Central US
                    name: a089506e-b47a-4f42-8a32-cc19af4c86fb
                    properties:
                      description: null
                      enabled: true
                      isDefault: false
                      isSystem: false
                      serviceObjectiveName: PRS2
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/39cb8faf-cba8-4b1b-b580-1e1202f2a024
                    location: Central US
                    name: 39cb8faf-cba8-4b1b-b580-1e1202f2a024
                    properties:
                      description: null
                      enabled: true
                      isDefault: false
                      isSystem: false
                      serviceObjectiveName: PRS4
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/1e8da92e-efcd-4682-9140-bf6582120d1f
                    location: Central US
                    name: 1e8da92e-efcd-4682-9140-bf6582120d1f
                    properties:
                      description: null
                      enabled: true
                      isDefault: false
                      isSystem: false
                      serviceObjectiveName: PRS6
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/4e63cb0e-91b9-46fd-b05c-51fdd2367618
                    location: Central US
                    name: 4e63cb0e-91b9-46fd-b05c-51fdd2367618
                    properties:
                      description: null
                      enabled: true
                      isDefault: true
                      isSystem: false
                      serviceObjectiveName: DW100
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/99e78a92-d724-4e1b-857b-2be661f3d153
                    location: Central US
                    name: 99e78a92-d724-4e1b-857b-2be661f3d153
                    properties:
                      description: null
                      enabled: true
                      isDefault: false
                      isSystem: false
                      serviceObjectiveName: DW200
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/284f1aff-fee7-4d3b-a211-5b8ebdd28fea
                    location: Central US
                    name: 284f1aff-fee7-4d3b-a211-5b8ebdd28fea
                    properties:
                      description: null
                      enabled: true
                      isDefault: false
                      isSystem: false
                      serviceObjectiveName: DW300
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/3bdaeefe-8a9d-41d3-91c4-46ef896b19af
                    location: Central US
                    name: 3bdaeefe-8a9d-41d3-91c4-46ef896b19af
                    properties:
                      description: null
                      enabled: true
                      isDefault: false
                      isSystem: false
                      serviceObjectiveName: DW400
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/5f759b78-8ec0-4dfb-97cc-c1455a3b5b4d
                    location: Central US
                    name: 5f759b78-8ec0-4dfb-97cc-c1455a3b5b4d
                    properties:
                      description: null
                      enabled: true
                      isDefault: false
                      isSystem: false
                      serviceObjectiveName: DW500
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/efd65c5b-af7b-4389-9109-f6a69d6a3885
                    location: Central US
                    name: efd65c5b-af7b-4389-9109-f6a69d6a3885
                    properties:
                      description: null
                      enabled: true
                      isDefault: false
                      isSystem: false
                      serviceObjectiveName: DW600
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/b89b9c6a-4ec2-4eb8-99db-6d2807e6aabb
                    location: Central US
                    name: b89b9c6a-4ec2-4eb8-99db-6d2807e6aabb
                    properties:
                      description: null
                      enabled: true
                      isDefault: false
                      isSystem: false
                      serviceObjectiveName: DW1000
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/9a7a374e-b95c-4fd5-a68e-131d60796c47
                    location: Central US
                    name: 9a7a374e-b95c-4fd5-a68e-131d60796c47
                    properties:
                      description: null
                      enabled: true
                      isDefault: false
                      isSystem: false
                      serviceObjectiveName: DW1200
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/b930f58e-86b5-43e0-a2da-d8bf8769c557
                    location: Central US
                    name: b930f58e-86b5-43e0-a2da-d8bf8769c557
                    properties:
                      description: null
                      enabled: true
                      isDefault: false
                      isSystem: false
                      serviceObjectiveName: DW1500
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/99165ede-a5ab-4b52-b317-e391d92ec370
                    location: Central US
                    name: 99165ede-a5ab-4b52-b317-e391d92ec370
                    properties:
                      description: null
                      enabled: true
                      isDefault: false
                      isSystem: false
                      serviceObjectiveName: DW2000
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/8e28c923-5cf2-43cb-bd25-28c8c69b30ff
                    location: Central US
                    name: 8e28c923-5cf2-43cb-bd25-28c8c69b30ff
                    properties:
                      description: null
                      enabled: true
                      isDefault: false
                      isSystem: false
                      serviceObjectiveName: DW3000
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/ee1df062-4f3c-42ad-91bf-58b2a7c351e4
                    location: Central US
                    name: ee1df062-4f3c-42ad-91bf-58b2a7c351e4
                    properties:
                      description: null
                      enabled: true
                      isDefault: false
                      isSystem: false
                      serviceObjectiveName: DW6000
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/9cfc850f-d57f-4760-b5a6-bb640d268bf0
                    location: Central US
                    name: 9cfc850f-d57f-4760-b5a6-bb640d268bf0
                    properties:
                      description: null
                      enabled: true
                      isDefault: true
                      isSystem: false
                      serviceObjectiveName: DS100
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/053407ef-f01c-46f4-b829-96e01a14f449
                    location: Central US
                    name: 053407ef-f01c-46f4-b829-96e01a14f449
                    properties:
                      description: null
                      enabled: true
                      isDefault: false
                      isSystem: false
                      serviceObjectiveName: DS200
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/013a9e10-cafc-45a8-8fcf-93095655d2ce
                    location: Central US
                    name: 013a9e10-cafc-45a8-8fcf-93095655d2ce
                    properties:
                      description: null
                      enabled: true
                      isDefault: false
                      isSystem: false
                      serviceObjectiveName: DS300
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/79f61db4-8c10-46ba-a93a-d7d02dddd61c
                    location: Central US
                    name: 79f61db4-8c10-46ba-a93a-d7d02dddd61c
                    properties:
                      description: null
                      enabled: true
                      isDefault: false
                      isSystem: false
                      serviceObjectiveName: DS400
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/44eaac33-df00-4ef4-a2bb-f7ff87899eea
                    location: Central US
                    name: 44eaac33-df00-4ef4-a2bb-f7ff87899eea
                    properties:
                      description: null
                      enabled: true
                      isDefault: false
                      isSystem: false
                      serviceObjectiveName: DS500
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/f8e0f3a6-888b-459c-a9dd-d74d8b2b0e72
                    location: Central US
                    name: f8e0f3a6-888b-459c-a9dd-d74d8b2b0e72
                    properties:
                      description: null
                      enabled: true
                      isDefault: false
                      isSystem: false
                      serviceObjectiveName: DS600
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/b9ed8f51-a414-42dc-8348-e4a1de25e12b
                    location: Central US
                    name: b9ed8f51-a414-42dc-8348-e4a1de25e12b
                    properties:
                      description: null
                      enabled: true
                      isDefault: false
                      isSystem: false
                      serviceObjectiveName: DS1000
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/07479569-6d70-47a5-8db6-0af55d34f2c1
                    location: Central US
                    name: 07479569-6d70-47a5-8db6-0af55d34f2c1
                    properties:
                      description: null
                      enabled: true
                      isDefault: false
                      isSystem: false
                      serviceObjectiveName: DS1200
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/2d79baec-2879-46d5-9f5d-fb70eb004c4e
                    location: Central US
                    name: 2d79baec-2879-46d5-9f5d-fb70eb004c4e
                    properties:
                      description: null
                      enabled: true
                      isDefault: false
                      isSystem: false
                      serviceObjectiveName: DS1500
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/7fb5389f-6d15-4e0b-9540-fe5ecdfdbeee
                    location: Central US
                    name: 7fb5389f-6d15-4e0b-9540-fe5ecdfdbeee
                    properties:
                      description: null
                      enabled: true
                      isDefault: false
                      isSystem: false
                      serviceObjectiveName: DS2000
                    type: Microsoft.Sql/servers/serviceObjectives
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/sqlcrudtest/serviceObjectives/d1737d22-a8ea-4de7-9bd0-33395d2a7419
                    location: Central US
                    name: d1737d22-a8ea-4de7-9bd0-33395d2a7419
                    properties:
                      description: null
                      enabled: true
                      isDefault: false
                      isSystem: false
                      serviceObjectiveName: ElasticPool
                    type: Microsoft.Sql/servers/serviceObjectives
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/serviceObjectives/{serviceObjectiveName}":
    get:
      description: Gets a database service objective.
      operationId: ServiceObjectives_Get
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the service objective to retrieve.
          in: path
          name: serviceObjectiveName
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ServiceObjective"
      tags:
        - ServiceObjectives
      x-ms-examples:
        Get a service objective:
          parameters:
            api-version: 2014-04-01
            resourceGroupName: group1
            serverName: sqlcrudtest
            serviceObjectiveName: 29dd7459-4a7c-4e56-be22-f0adda49440d
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/b6a6e0c5-e79c-4c6d-a878-72eafbca4cf2/resourceGroups/QA/providers/Microsoft.Sql/servers/nafantest/serviceObjectives/29dd7459-4a7c-4e56-be22-f0adda49440d
                location: Central US
                name: 29dd7459-4a7c-4e56-be22-f0adda49440d
                properties:
                  description: null
                  enabled: false
                  isDefault: false
                  isSystem: true
                  serviceObjectiveName: System0
                type: Microsoft.Sql/servers/serviceObjectives
definitions:
  ServiceObjective:
    allOf:
      - allOf:
          - description: ARM resource.
            properties:
              id:
                description: Resource ID.
                readOnly: true
                type: string
              name:
                description: Resource name.
                readOnly: true
                type: string
              type:
                description: Resource type.
                readOnly: true
                type: string
            type: object
            x-ms-azure-resource: true
        description: ARM proxy resource.
        properties: {}
        type: object
    description: Represents a database service objective.
    properties:
      properties:
        $ref: "#/definitions/ServiceObjectiveProperties"
        description: Represents the properties of the resource.
        x-ms-client-flatten: true
  ServiceObjectiveListResult:
    description: Represents the response to a get database service objectives request.
    properties:
      value:
        description: The list of database service objectives.
        items:
          $ref: "#/definitions/ServiceObjective"
        type: array
    required:
      - value
  ServiceObjectiveProperties:
    description: Represents the properties of a database service objective.
    properties:
      description:
        description: The description for the service level objective.
        readOnly: true
        type: string
      enabled:
        description: Gets whether the service level objective is enabled.
        readOnly: true
        type: boolean
        x-nullable: false
      isDefault:
        description: Gets whether the service level objective is the default service objective.
        readOnly: true
        type: boolean
        x-nullable: false
      isSystem:
        description: Gets whether the service level objective is a system service objective.
        readOnly: true
        type: boolean
        x-nullable: false
      serviceObjectiveName:
        description: The name for the service objective.
        readOnly: true
        type: string
