swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Use these APIs to manage Azure CDN resources through the Azure Resource Manager. You must make sure that requests made to these resources are secure.
  title: CdnManagementClient
  version: 2019-12-31
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cdn/resource-manager/Microsoft.Cdn/stable/2019-12-31/cdn.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: cdn
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: Version of the API to be used with the client request. Current version is 2017-04-02.
    in: query
    name: api-version
    required: true
    type: string
  resourceGroupNameParameter:
    description: Name of the Resource group within the Azure subscription.
    in: path
    maxLength: 90
    minLength: 1
    name: resourceGroupName
    pattern: ^[-\w\._\(\)]+$
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionIdParameter:
    description: Azure Subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.Cdn/checkNameAvailability:
    post:
      description: Check the availability of a resource name. This is needed for resources where name is globally unique, such as a CDN endpoint.
      operationId: CheckNameAvailability
      parameters:
        - description: Input to check.
          in: body
          name: checkNameAvailabilityInput
          required: true
          schema:
            $ref: "#/definitions/CheckNameAvailabilityInput"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/CheckNameAvailabilityOutput"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - CheckNameAvailability
      x-ms-examples:
        CheckNameAvailability:
          parameters:
            api-version: 2019-12-31
            checkNameAvailabilityInput:
              name: sampleName
              type: Microsoft.Cdn/Profiles/Endpoints
          responses:
            "200":
              body:
                message: Name not available
                nameAvailable: false
                reason: Name is already in use
  /providers/Microsoft.Cdn/edgenodes:
    get:
      description: Edgenodes are the global Point of Presence (POP) locations used to deliver CDN content to end users.
      operationId: EdgeNodes_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/EdgenodeResult"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Edgenodes
      x-ms-examples:
        EdgeNodes_List:
          parameters:
            api-version: 2019-12-31
          responses:
            "200":
              body:
                value:
                  - id: /providers/Microsoft.Cdn/edgenodes/Standard_Verizon
                    name: Standard_Verizon
                    properties:
                      ipAddressGroups:
                        - deliveryRegion: All
                          ipv4Addresses:
                            - baseIpAddress: 192.229.176.0
                              prefixLength: 24
                            - baseIpAddress: 180.240.184.128
                              prefixLength: 25
                            - baseIpAddress: 152.195.27.0
                              prefixLength: 24
                          ipv6Addresses:
                            - baseIpAddress: "2606:2800:60f2::"
                              prefixLength: 48
                            - baseIpAddress: "2606:2800:700c::"
                              prefixLength: 48
                    type: Microsoft.Cdn/edgenodes
                  - id: /providers/Microsoft.Cdn/edgenodes/Premium_Verizon
                    name: Premium_Verizon
                    properties:
                      ipAddressGroups:
                        - deliveryRegion: All
                          ipv4Addresses:
                            - baseIpAddress: 192.229.176.0
                              prefixLength: 24
                            - baseIpAddress: 152.195.27.0
                              prefixLength: 24
                          ipv6Addresses:
                            - baseIpAddress: "2606:2800:60f2::"
                              prefixLength: 48
                            - baseIpAddress: "2606:2800:700c::"
                              prefixLength: 48
                    type: Microsoft.Cdn/edgenodes
                  - id: /providers/Microsoft.Cdn/edgenodes/Custom_Verizon
                    name: Custom_Verizon
                    properties:
                      ipAddressGroups:
                        - deliveryRegion: All
                          ipv4Addresses:
                            - baseIpAddress: 192.229.176.0
                              prefixLength: 24
                            - baseIpAddress: "2606:2800:420b::"
                              prefixLength: 48
                            - baseIpAddress: "2606:2800:700c::"
                              prefixLength: 48
                    type: Microsoft.Cdn/edgenodes
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Cdn/operations:
    get:
      description: Lists all of the available CDN REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/OperationsListResult"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Operations
      x-ms-examples:
        Operations_List:
          parameters:
            api-version: 2019-12-31
          responses:
            "200":
              body:
                value:
                  - display:
                      operation: Registers the Microsoft.Cdn Resource Provider
                      provider: Microsoft.Cdn
                      resource: Microsoft.Cdn Resource Provider
                    name: Microsoft.Cdn/register/action
                  - display:
                      operation: read
                      provider: Microsoft.Cdn
                      resource: EdgeNode
                    name: Microsoft.Cdn/edgenodes/read
                  - display:
                      operation: write
                      provider: Microsoft.Cdn
                      resource: EdgeNode
                    name: Microsoft.Cdn/edgenodes/write
                  - display:
                      operation: delete
                      provider: Microsoft.Cdn
                      resource: EdgeNode
                    name: Microsoft.Cdn/edgenodes/delete
                  - display:
                      operation: read
                      provider: Microsoft.Cdn
                      resource: Profile
                    name: Microsoft.Cdn/profiles/read
                  - display:
                      operation: write
                      provider: Microsoft.Cdn
                      resource: Profile
                    name: Microsoft.Cdn/profiles/write
                  - display:
                      operation: write
                      provider: Microsoft.Cdn
                      resource: Profile
                    name: Microsoft.Cdn/operationresults/profileresults/write
                  - display:
                      operation: delete
                      provider: Microsoft.Cdn
                      resource: Profile
                    name: Microsoft.Cdn/operationresults/profileresults/delete
                  - display:
                      operation: CheckResourceUsage
                      provider: Microsoft.Cdn
                      resource: Profile
                    name: Microsoft.Cdn/operationresults/profileresults/CheckResourceUsage/action
                  - display:
                      operation: GenerateSsoUri
                      provider: Microsoft.Cdn
                      resource: Profile
                    name: Microsoft.Cdn/operationresults/profileresults/GenerateSsoUri/action
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Cdn/checkNameAvailability":
    post:
      description: Check the availability of a resource name. This is needed for resources where name is globally unique, such as a CDN endpoint.
      operationId: CheckNameAvailabilityWithSubscription
      parameters:
        - description: Input to check.
          in: body
          name: checkNameAvailabilityInput
          required: true
          schema:
            $ref: "#/definitions/CheckNameAvailabilityInput"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/CheckNameAvailabilityOutput"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - CheckNameAvailabilityWithSubscription
      x-ms-examples:
        CheckNameAvailabilityWithSubscription:
          parameters:
            api-version: 2019-12-31
            checkNameAvailabilityInput:
              name: sampleName
              type: Microsoft.Cdn/Profiles/Endpoints
            subscriptionId: subid
          responses:
            "200":
              body:
                message: Name not available
                nameAvailable: false
                reason: Name is already in use
  "/subscriptions/{subscriptionId}/providers/Microsoft.Cdn/checkResourceUsage":
    post:
      description: Check the quota and actual usage of the CDN profiles under the given subscription.
      operationId: ResourceUsage_List
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ResourceUsageListResult"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - CheckResourceUsage
      x-ms-examples:
        ResourceUsage_List:
          parameters:
            api-version: 2019-12-31
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - currentValue: 31
                    limit: 200
                    resourceType: profile
                    unit: count
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Cdn/profiles":
    get:
      description: Lists all of the CDN profiles within an Azure subscription.
      operationId: Profiles_List
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ProfileListResult"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Profiles
      x-ms-examples:
        Profiles_List:
          parameters:
            api-version: 2019-12-31
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourcegroups/RG1/providers/Microsoft.Cdn/profiles/profile1
                    location: WestCentralUs
                    name: profile1
                    properties:
                      provisioningState: Succeeded
                      resourceState: Active
                    sku:
                      name: Standard_Akamai
                    tags: {}
                    type: Microsoft.Cdn/profiles
                  - id: /subscriptions/subid/resourcegroups/RG1/providers/Microsoft.Cdn/profiles/profile2
                    location: WestCentralUs
                    name: profile2
                    properties:
                      provisioningState: Succeeded
                      resourceState: Active
                    sku:
                      name: Standard_Akamai
                    tags: {}
                    type: Microsoft.Cdn/profiles
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Cdn/validateProbe":
    post:
      description: Check if the probe path is a valid path and the file can be accessed. Probe path is the path to a file hosted on the origin server to help accelerate the delivery of dynamic content via the CDN endpoint. This path is relative to the origin path specified in the endpoint configuration.
      operationId: ValidateProbe
      parameters:
        - description: Input to check.
          in: body
          name: validateProbeInput
          required: true
          schema:
            $ref: "#/definitions/ValidateProbeInput"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ValidateProbeOutput"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ValidateProbe
      x-ms-examples:
        ValidateProbe:
          parameters:
            api-version: 2019-12-31
            subscriptionId: subid
            validateProbeInput:
              probeURL: https://www.bing.com/image
          responses:
            "200":
              body:
                errorCode: None
                isValid: true
                message: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles":
    get:
      description: Lists all of the CDN profiles within a resource group.
      operationId: Profiles_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ProfileListResult"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Profiles
      x-ms-examples:
        Profiles_ListByResourceGroup:
          parameters:
            api-version: 2019-12-31
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1
                    location: WestCentralUs
                    name: profile1
                    properties:
                      provisioningState: Succeeded
                      resourceState: Active
                    sku:
                      name: Standard_Akamai
                    tags: {}
                    type: Microsoft.Cdn/profiles
                  - id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile2
                    location: WestCentralUs
                    name: profile2
                    properties:
                      provisioningState: Succeeded
                      resourceState: Active
                    sku:
                      name: Standard_Akamai
                    tags: {}
                    type: Microsoft.Cdn/profiles
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}":
    delete:
      description: Deletes an existing CDN profile with the specified parameters. Deleting a profile will result in the deletion of all of the sub-resources including endpoints, origins and custom domains.
      operationId: Profiles_Delete
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "202":
          description: Accepted. The request has been accepted for processing and the operation will complete asynchronously.
        "204":
          description: No Content. The request has been accepted but the profile was not found.
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Profiles
      x-ms-examples:
        Profiles_Delete:
          parameters:
            api-version: 2019-12-31
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets a CDN profile with the specified profile name under the specified subscription and resource group.
      operationId: Profiles_Get
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/Profile"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Profiles
      x-ms-examples:
        Profiles_Get:
          parameters:
            api-version: 2019-12-31
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1
                location: WestCentralUs
                name: profile1
                properties:
                  provisioningState: Succeeded
                  resourceState: Active
                sku:
                  name: Standard_Akamai
                tags: {}
                type: Microsoft.Cdn/profiles
    patch:
      description: Updates an existing CDN profile with the specified profile name under the specified subscription and resource group.
      operationId: Profiles_Update
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Profile properties needed to update an existing profile.
          in: body
          name: profileUpdateParameters
          required: true
          schema:
            $ref: "#/definitions/ProfileUpdateParameters"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/Profile"
        "202":
          description: Accepted. The request has been accepted for processing and the operation will complete asynchronously.
          schema:
            $ref: "#/definitions/Profile"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Profiles
      x-ms-examples:
        Profiles_Update:
          parameters:
            api-version: 2019-12-31
            profileName: profile1
            profileUpdateParameters:
              tags:
                additionalProperties: Tag1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1
                location: WestCentralUs
                name: profile1
                properties:
                  provisioningState: Succeeded
                  resourceState: Active
                sku:
                  name: Standard_Verizon
                tags:
                  additionalProperties: Tag1
                type: Microsoft.Cdn/profiles
            "202":
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1
                location: WestCentralUs
                name: profile1
                properties:
                  provisioningState: Succeeded
                  resourceState: Active
                sku:
                  name: Standard_Verizon
                tags:
                  additionalProperties: Tag1
                type: Microsoft.Cdn/profiles
      x-ms-long-running-operation: true
    put:
      description: Creates a new CDN profile with a profile name under the specified subscription and resource group.
      operationId: Profiles_Create
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Profile properties needed to create a new profile.
          in: body
          name: profile
          required: true
          schema:
            $ref: "#/definitions/Profile"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/Profile"
        "201":
          description: Created. The request has been fulfilled and a new profile has been created.
          schema:
            $ref: "#/definitions/Profile"
        "202":
          description: Accepted. The request has been accepted for processing and the operation will complete asynchronously.
          schema:
            $ref: "#/definitions/Profile"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Profiles
      x-ms-examples:
        Profiles_Create:
          parameters:
            api-version: 2019-12-31
            profile:
              location: WestCentralUs
              sku:
                name: Standard_Verizon
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1
                location: WestCentralUs
                name: profile1
                properties:
                  provisioningState: Creating
                  resourceState: Creating
                sku:
                  name: Standard_Verizon
                tags: {}
                type: Microsoft.Cdn/profiles
            "201":
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1
                location: WestCentralUs
                name: profile1
                properties:
                  provisioningState: Creating
                  resourceState: Creating
                sku:
                  name: Standard_Verizon
                tags: {}
                type: Microsoft.Cdn/profiles
            "202":
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1
                location: WestCentralUs
                name: profile1
                properties:
                  provisioningState: Creating
                  resourceState: Creating
                sku:
                  name: Standard_Verizon
                tags: {}
                type: Microsoft.Cdn/profiles
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/checkResourceUsage":
    post:
      description: Checks the quota and actual usage of endpoints under the given CDN profile.
      operationId: Profiles_ListResourceUsage
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ResourceUsageListResult"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Profiles
      x-ms-examples:
        Profiles_ListResourceUsage:
          parameters:
            api-version: 2019-12-31
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - currentValue: 0
                    limit: 25
                    resourceType: endpoint
                    unit: count
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints":
    get:
      description: Lists existing CDN endpoints.
      operationId: Endpoints_ListByProfile
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/EndpointListResult"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Endpoints
      x-ms-examples:
        Endpoints_ListByProfile:
          parameters:
            api-version: 2019-12-31
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1
                    location: CentralUs
                    name: endpoint1
                    properties:
                      contentTypesToCompress: []
                      defaultOriginGroup:
                        id: /subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/originGroups/originGroup1
                      geoFilters: []
                      hostName: endpoint1.azureedge.net
                      isCompressionEnabled: false
                      isHttpAllowed: true
                      isHttpsAllowed: true
                      optimizationType: DynamicSiteAcceleration
                      originGroups:
                        - name: originGroup1
                          properties:
                            healthProbeSettings:
                              probeIntervalInSeconds: 120
                              probePath: /health.aspx
                              probeProtocol: Http
                              probeRequestType: GET
                            origins:
                              - id: /subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/www-bing-com
                            responseBasedOriginErrorDetectionSettings:
                              responseBasedDetectedErrorTypes: TcpErrorsOnly
                              responseBasedFailoverThresholdPercentage: 10
                      originHostHeader: www.bing.com
                      originPath: null
                      origins:
                        - name: www-bing-com
                          properties:
                            enabled: true
                            hostName: www.bing.com
                            httpPort: 80
                            httpsPort: 443
                            originHostHeader: www.someDomain2.net
                            priority: 2
                            weight: 50
                      probePath: /image
                      provisioningState: Succeeded
                      queryStringCachingBehavior: NotSet
                      resourceState: Running
                    tags: {}
                    type: Microsoft.Cdn/profiles/endpoints
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}":
    delete:
      description: Deletes an existing CDN endpoint with the specified endpoint name under the specified subscription, resource group and profile.
      operationId: Endpoints_Delete
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "202":
          description: Accepted and the operation will complete asynchronously.
        "204":
          description: No Content. The request has been accepted but the endpoint was not found.
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Endpoints
      x-ms-examples:
        Endpoints_Delete:
          parameters:
            api-version: 2019-12-31
            endpointName: endpoint1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets an existing CDN endpoint with the specified endpoint name under the specified subscription, resource group and profile.
      operationId: Endpoints_Get
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/Endpoint"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Endpoints
      x-ms-examples:
        Endpoints_Get:
          parameters:
            api-version: 2019-12-31
            endpointName: endpoint1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1
                location: CentralUs
                name: endpoint1
                properties:
                  contentTypesToCompress: []
                  defaultOriginGroup:
                    id: /subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/originGroups/originGroup1
                  geoFilters: []
                  hostName: endpoint1.azureedge.net
                  isCompressionEnabled: false
                  isHttpAllowed: true
                  isHttpsAllowed: true
                  optimizationType: DynamicSiteAcceleration
                  originGroups:
                    - name: originGroup1
                      properties:
                        healthProbeSettings:
                          probeIntervalInSeconds: 120
                          probePath: /health.aspx
                          probeProtocol: Http
                          probeRequestType: GET
                        origins:
                          - id: /subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/www-bing-com
                  originHostHeader: www.bing.com
                  originPath: null
                  origins:
                    - name: www-bing-com
                      properties:
                        enabled: true
                        hostName: www.bing.com
                        httpPort: 80
                        httpsPort: 443
                        originHostHeader: www.someDomain2.net
                        priority: 2
                        weight: 50
                  probePath: /image
                  provisioningState: Succeeded
                  queryStringCachingBehavior: NotSet
                  resourceState: Running
                tags: {}
                type: Microsoft.Cdn/profiles/endpoints
    patch:
      description: Updates an existing CDN endpoint with the specified endpoint name under the specified subscription, resource group and profile. Only tags can be updated after creating an endpoint. To update origins, use the Update Origin operation. To update origin groups, use the Update Origin group operation. To update custom domains, use the Update Custom Domain operation.
      operationId: Endpoints_Update
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - description: Endpoint update properties
          in: body
          name: endpointUpdateProperties
          required: true
          schema:
            $ref: "#/definitions/EndpointUpdateParameters"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/Endpoint"
        "202":
          description: Accepted and the operation will complete asynchronously
          schema:
            $ref: "#/definitions/Endpoint"
        default:
          description: CDN error response describing why the operation failed
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Endpoints
      x-ms-examples:
        Endpoints_Update:
          parameters:
            api-version: 2019-12-31
            endpointName: endpoint1
            endpointUpdateProperties:
              tags:
                additionalProperties: Tag1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1
                location: WestCentralUs
                name: endpoint1
                properties:
                  contentTypesToCompress: []
                  defaultOriginGroup:
                    id: /subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/originGroups/originGroup1
                  geoFilters: []
                  hostName: endpoint1.azureedge.net
                  isCompressionEnabled: false
                  isHttpAllowed: true
                  isHttpsAllowed: true
                  optimizationType: null
                  originGroups:
                    - name: originGroup1
                      properties:
                        healthProbeSettings:
                          probeIntervalInSeconds: 120
                          probePath: /health.aspx
                          probeProtocol: Http
                          probeRequestType: GET
                        origins:
                          - id: /subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/www-bing-com
                  originHostHeader: null
                  originPath: null
                  origins:
                    - name: www-bing-com
                      properties:
                        enabled: true
                        hostName: www.bing.com
                        httpPort: 80
                        httpsPort: 443
                        originHostHeader: www.someDomain2.net
                        priority: 2
                        weight: 50
                  probePath: null
                  provisioningState: Creating
                  queryStringCachingBehavior: IgnoreQueryString
                  resourceState: Creating
                tags:
                  additionalProperties: Tag1
                type: Microsoft.Cdn/profiles/endpoints
            "202":
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1
                location: WestCentralUs
                name: endpoint1
                properties:
                  contentTypesToCompress: []
                  defaultOriginGroup:
                    id: /subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/originGroups/originGroup1
                  geoFilters: []
                  hostName: endpoint1.azureedge.net
                  isCompressionEnabled: false
                  isHttpAllowed: true
                  isHttpsAllowed: true
                  optimizationType: null
                  originGroups:
                    - name: originGroup1
                      properties:
                        healthProbeSettings:
                          probeIntervalInSeconds: 120
                          probePath: /health.aspx
                          probeProtocol: Http
                          probeRequestType: GET
                        origins:
                          - id: /subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/www-bing-com
                  originHostHeader: null
                  originPath: null
                  origins:
                    - name: www-bing-com
                      properties:
                        enabled: true
                        hostName: www.bing.com
                        httpPort: 80
                        httpsPort: 443
                        originHostHeader: www.someDomain2.net
                        priority: 2
                        weight: 50
                  probePath: null
                  provisioningState: Creating
                  queryStringCachingBehavior: IgnoreQueryString
                  resourceState: Creating
                tags:
                  additionalProperties: Tag1
                type: Microsoft.Cdn/profiles/endpoints
      x-ms-long-running-operation: true
    put:
      description: Creates a new CDN endpoint with the specified endpoint name under the specified subscription, resource group and profile.
      operationId: Endpoints_Create
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - description: Endpoint properties
          in: body
          name: endpoint
          required: true
          schema:
            $ref: "#/definitions/Endpoint"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/Endpoint"
        "201":
          description: Created. The request has been fulfilled and a new endpoint has been created.
          schema:
            $ref: "#/definitions/Endpoint"
        "202":
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: "#/definitions/Endpoint"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Endpoints
      x-ms-examples:
        Endpoints_Create:
          parameters:
            api-version: 2019-12-31
            endpoint:
              location: WestUs
              properties:
                contentTypesToCompress:
                  - text/html
                  - application/octet-stream
                defaultOriginGroup:
                  id: /subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/originGroups/originGroup1
                deliveryPolicy:
                  description: Test description for a policy.
                  rules:
                    - actions:
                        - name: CacheExpiration
                          parameters:
                            "@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleCacheExpirationActionParameters"
                            cacheBehavior: Override
                            cacheDuration: 10:10:09
                            cacheType: All
                        - name: ModifyResponseHeader
                          parameters:
                            "@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleHeaderActionParameters"
                            headerAction: Overwrite
                            headerName: Access-Control-Allow-Origin
                            value: "*"
                        - name: ModifyRequestHeader
                          parameters:
                            "@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleHeaderActionParameters"
                            headerAction: Overwrite
                            headerName: Accept-Encoding
                            value: gzip
                      conditions:
                        - name: RemoteAddress
                          parameters:
                            "@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleRemoteAddressConditionParameters"
                            matchValues:
                              - 192.168.1.0/24
                              - 10.0.0.0/24
                            negateCondition: true
                            operator: IPMatch
                      name: rule1
                      order: 1
                isCompressionEnabled: true
                isHttpAllowed: true
                isHttpsAllowed: true
                originGroups:
                  - name: originGroup1
                    properties:
                      healthProbeSettings:
                        probeIntervalInSeconds: 120
                        probePath: /health.aspx
                        probeProtocol: Http
                        probeRequestType: GET
                      origins:
                        - id: /subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/origin1
                        - id: /subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/origin2
                      responseBasedOriginErrorDetectionSettings:
                        responseBasedDetectedErrorTypes: TcpErrorsOnly
                        responseBasedFailoverThresholdPercentage: 10
                originHostHeader: www.bing.com
                originPath: /photos
                origins:
                  - name: origin1
                    properties:
                      enabled: true
                      hostName: www.someDomain1.net
                      httpPort: 80
                      httpsPort: 443
                      originHostHeader: www.someDomain1.net
                      priority: 1
                      weight: 50
                  - name: origin2
                    properties:
                      enabled: true
                      hostName: www.someDomain2.net
                      httpPort: 80
                      httpsPort: 443
                      originHostHeader: www.someDomain2.net
                      priority: 2
                      weight: 50
                queryStringCachingBehavior: BypassCaching
              tags:
                key1: value1
            endpointName: endpoint1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1
                location: WestUs
                name: endpoint4899
                properties:
                  contentTypesToCompress:
                    - text/html
                    - application/octet-stream
                  defaultOriginGroup:
                    id: /subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/originGroups/originGroup1
                  deliveryPolicy:
                    description: Test description for a policy.
                    rules:
                      - actions:
                          - name: CacheExpiration
                            parameters:
                              "@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleCacheExpirationActionParameters"
                              cacheBehavior: Override
                              cacheDuration: 10:10:09
                              cacheType: All
                          - name: ModifyResponseHeader
                            parameters:
                              "@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleHeaderActionParameters"
                              headerAction: Overwrite
                              headerName: Access-Control-Allow-Origin
                              value: "*"
                          - name: ModifyRequestHeader
                            parameters:
                              "@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleHeaderActionParameters"
                              headerAction: Overwrite
                              headerName: Accept-Encoding
                              value: gzip
                        conditions:
                          - name: RemoteAddress
                            parameters:
                              "@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleRemoteAddressConditionParameters"
                              matchValues:
                                - 192.168.1.0/24
                                - 10.0.0.0/24
                              negateCondition: true
                              operator: IPMatch
                              transforms: []
                        name: rule1
                        order: 1
                  geoFilters: []
                  hostName: endpoint4899.azureedge-test.net
                  isCompressionEnabled: true
                  isHttpAllowed: true
                  isHttpsAllowed: true
                  optimizationType: null
                  originGroups:
                    - name: originGroup1
                      properties:
                        healthProbeSettings:
                          probeIntervalInSeconds: 120
                          probePath: /health.aspx
                          probeProtocol: Http
                          probeRequestType: GET
                        origins:
                          - id: /subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/origin1
                          - id: /subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/origin2
                        responseBasedOriginErrorDetectionSettings:
                          responseBasedDetectedErrorTypes: TcpErrorsOnly
                          responseBasedFailoverThresholdPercentage: 10
                  originHostHeader: www.bing.com
                  originPath: /photos
                  origins:
                    - name: origin1
                      properties:
                        enabled: true
                        hostName: www.someDomain1.net
                        httpPort: 80
                        httpsPort: 443
                        originHostHeader: www.someDomain1.net
                        priority: 1
                        weight: 50
                    - name: origin2
                      properties:
                        enabled: true
                        hostName: www.someDomain2.net
                        httpPort: 80
                        httpsPort: 443
                        originHostHeader: www.someDomain2.net
                        priority: 2
                        weight: 50
                  probePath: null
                  provisioningState: Creating
                  queryStringCachingBehavior: BypassCaching
                  resourceState: Creating
                tags:
                  kay1: value1
                type: Microsoft.Cdn/profiles/endpoints
            "201":
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1
                location: WestUs
                name: endpoint4899
                properties:
                  contentTypesToCompress:
                    - text/html
                    - application/octet-stream
                  defaultOriginGroup:
                    id: /subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/originGroups/originGroup1
                  deliveryPolicy:
                    description: Test description for a policy.
                    rules:
                      - actions:
                          - name: CacheExpiration
                            parameters:
                              "@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleCacheExpirationActionParameters"
                              cacheBehavior: Override
                              cacheDuration: 10:10:09
                              cacheType: All
                          - name: ModifyResponseHeader
                            parameters:
                              "@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleHeaderActionParameters"
                              headerAction: Overwrite
                              headerName: Access-Control-Allow-Origin
                              value: "*"
                          - name: ModifyRequestHeader
                            parameters:
                              "@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleHeaderActionParameters"
                              headerAction: Overwrite
                              headerName: Accept-Encoding
                              value: gzip
                        conditions:
                          - name: RemoteAddress
                            parameters:
                              "@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleRemoteAddressConditionParameters"
                              matchValues:
                                - 192.168.1.0/24
                                - 10.0.0.0/24
                              negateCondition: true
                              operator: IPMatch
                              transforms: []
                        name: rule1
                        order: 1
                  geoFilters: []
                  hostName: endpoint4899.azureedge-test.net
                  isCompressionEnabled: true
                  isHttpAllowed: true
                  isHttpsAllowed: true
                  optimizationType: null
                  originGroups:
                    - name: originGroup1
                      properties:
                        healthProbeSettings:
                          probeIntervalInSeconds: 120
                          probePath: /health.aspx
                          probeProtocol: Http
                          probeRequestType: GET
                        origins:
                          - id: /subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/origin1
                          - id: /subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/origin2
                        responseBasedOriginErrorDetectionSettings:
                          responseBasedDetectedErrorTypes: TcpErrorsOnly
                          responseBasedFailoverThresholdPercentage: 10
                  originHostHeader: www.bing.com
                  originPath: /photos
                  origins:
                    - name: origin1
                      properties:
                        enabled: true
                        hostName: www.someDomain1.net
                        httpPort: 80
                        httpsPort: 443
                        originHostHeader: www.someDomain1.net
                        priority: 1
                        weight: 50
                    - name: origin2
                      properties:
                        enabled: true
                        hostName: www.someDomain2.net
                        httpPort: 80
                        httpsPort: 443
                        originHostHeader: www.someDomain2.net
                        priority: 2
                        weight: 50
                  probePath: null
                  provisioningState: Creating
                  queryStringCachingBehavior: BypassCaching
                  resourceState: Creating
                tags:
                  kay1: value1
                type: Microsoft.Cdn/profiles/endpoints
            "202":
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1
                location: WestUs
                name: endpoint4899
                properties:
                  contentTypesToCompress:
                    - text/html
                    - application/octet-stream
                  defaultOriginGroup:
                    id: /subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/originGroups/originGroup1
                  deliveryPolicy:
                    description: Test description for a policy.
                    rules:
                      - actions:
                          - name: CacheExpiration
                            parameters:
                              "@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleCacheExpirationActionParameters"
                              cacheBehavior: Override
                              cacheDuration: 10:10:09
                              cacheType: All
                          - name: ModifyResponseHeader
                            parameters:
                              "@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleHeaderActionParameters"
                              headerAction: Overwrite
                              headerName: Access-Control-Allow-Origin
                              value: "*"
                          - name: ModifyRequestHeader
                            parameters:
                              "@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleHeaderActionParameters"
                              headerAction: Overwrite
                              headerName: Accept-Encoding
                              value: gzip
                        conditions:
                          - name: RemoteAddress
                            parameters:
                              "@odata.type": "#Microsoft.Azure.Cdn.Models.DeliveryRuleRemoteAddressConditionParameters"
                              matchValues:
                                - 192.168.1.0/24
                                - 10.0.0.0/24
                              negateCondition: true
                              operator: IPMatch
                              transforms: []
                        name: rule1
                        order: 1
                  geoFilters: []
                  hostName: endpoint4899.azureedge-test.net
                  isCompressionEnabled: true
                  isHttpAllowed: true
                  isHttpsAllowed: true
                  optimizationType: null
                  originGroups:
                    - name: originGroup1
                      properties:
                        healthProbeSettings:
                          probeIntervalInSeconds: 120
                          probePath: /health.aspx
                          probeProtocol: Http
                          probeRequestType: GET
                        origins:
                          - id: /subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/origin1
                          - id: /subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/origin2
                        responseBasedOriginErrorDetectionSettings:
                          responseBasedDetectedErrorTypes: TcpErrorsOnly
                          responseBasedFailoverThresholdPercentage: 10
                  originHostHeader: www.bing.com
                  originPath: /photos
                  origins:
                    - name: origin1
                      properties:
                        enabled: true
                        hostName: www.someDomain1.net
                        httpPort: 80
                        httpsPort: 443
                        originHostHeader: www.someDomain1.net
                        priority: 1
                        weight: 50
                    - name: origin2
                      properties:
                        enabled: true
                        hostName: www.someDomain2.net
                        httpPort: 80
                        httpsPort: 443
                        originHostHeader: www.someDomain2.net
                        priority: 2
                        weight: 50
                  probePath: null
                  provisioningState: Creating
                  queryStringCachingBehavior: BypassCaching
                  resourceState: Creating
                tags:
                  kay1: value1
                type: Microsoft.Cdn/profiles/endpoints
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/checkResourceUsage":
    post:
      description: Checks the quota and usage of geo filters and custom domains under the given endpoint.
      operationId: Endpoints_ListResourceUsage
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ResourceUsageListResult"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Endpoints
      x-ms-examples:
        Endpoints_ListResourceUsage:
          parameters:
            api-version: 2019-12-31
            endpointName: endpoint1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - currentValue: 1
                    limit: 20
                    resourceType: customdomain
                    unit: count
                  - currentValue: 0
                    limit: 25
                    resourceType: geofilter
                    unit: count
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/customDomains":
    get:
      description: Lists all of the existing custom domains within an endpoint.
      operationId: CustomDomains_ListByEndpoint
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/CustomDomainListResult"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - CustomDomains
      x-ms-examples:
        CustomDomains_ListByEndpoint:
          parameters:
            api-version: 2019-12-31
            endpointName: endpoint1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/customdomains/www-someDomain-net
                    name: www-someDomain-net
                    properties:
                      customHttpsProvisioningState: Disabled
                      customHttpsProvisioningSubstate: None
                      hostName: www.someDomain.net
                      provisioningState: Succeeded
                      resourceState: Active
                      validationData: null
                    type: Microsoft.Cdn/profiles/endpoints/customdomains
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/customDomains/{customDomainName}":
    delete:
      description: Deletes an existing custom domain within an endpoint.
      operationId: CustomDomains_Delete
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - description: Name of the custom domain within an endpoint.
          in: path
          name: customDomainName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
        "202":
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: "#/definitions/CustomDomain"
        "204":
          description: No Content. The request has been accepted but the custom domain was not found
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - CustomDomains
      x-ms-examples:
        CustomDomains_Delete:
          parameters:
            api-version: 2019-12-31
            customDomainName: www-someDomain-net
            endpointName: endpoint1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            "200": {}
            "202":
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/customdomains/www-someDomain-net
                name: www-someDomain-net
                properties:
                  customHttpsProvisioningState: Enabling
                  customHttpsProvisioningSubstate: PendingDomainControlValidationREquestApproval
                  hostName: www.someDomain.net
                  provisioningState: Succeeded
                  resourceState: Active
                  validationData: null
                type: Microsoft.Cdn/profiles/endpoints/customdomains
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets an existing custom domain within an endpoint.
      operationId: CustomDomains_Get
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - description: Name of the custom domain within an endpoint.
          in: path
          name: customDomainName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/CustomDomain"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - CustomDomains
      x-ms-examples:
        CustomDomains_Get:
          parameters:
            api-version: 2019-12-31
            customDomainName: www-someDomain-net
            endpointName: endpoint1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/customdomains/www-someDomain-net
                name: www-someDomain-net
                properties:
                  customHttpsProvisioningState: Disabled
                  customHttpsProvisioningSubstate: None
                  hostName: www.someDomain.net
                  provisioningState: Succeeded
                  resourceState: Active
                  validationData: null
                type: Microsoft.Cdn/profiles/endpoints/customdomains
    put:
      description: Creates a new custom domain within an endpoint.
      operationId: CustomDomains_Create
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - description: Name of the custom domain within an endpoint.
          in: path
          name: customDomainName
          required: true
          type: string
        - description: Properties required to create a new custom domain.
          in: body
          name: customDomainProperties
          required: true
          schema:
            $ref: "#/definitions/CustomDomainParameters"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/CustomDomain"
        "201":
          description: Created. The request has been fulfilled and a new custom domain has been created.
          schema:
            $ref: "#/definitions/CustomDomain"
        "202":
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: "#/definitions/CustomDomain"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - CustomDomains
      x-ms-examples:
        CustomDomains_Create:
          parameters:
            api-version: 2019-12-31
            customDomainName: www-someDomain-net
            customDomainProperties:
              properties:
                hostName: www.someDomain.net
            endpointName: endpoint1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/customdomains/www-someDomain-net
                name: www-someDomain-net
                properties:
                  customHttpsProvisioningState: Enabling
                  customHttpsProvisioningSubstate: PendingDomainControlValidationREquestApproval
                  hostName: www.someDomain.net
                  provisioningState: Succeeded
                  resourceState: Active
                  validationData: null
                type: Microsoft.Cdn/profiles/endpoints/customdomains
            "201":
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/customdomains/www-someDomain-net
                name: www-someDomain-net
                properties:
                  customHttpsProvisioningState: Enabling
                  customHttpsProvisioningSubstate: PendingDomainControlValidationREquestApproval
                  hostName: www.someDomain.net
                  provisioningState: Succeeded
                  resourceState: Active
                  validationData: null
                type: Microsoft.Cdn/profiles/endpoints/customdomains
            "202":
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/customdomains/www-someDomain-net
                name: www-someDomain-net
                properties:
                  customHttpsProvisioningState: Enabling
                  customHttpsProvisioningSubstate: PendingDomainControlValidationREquestApproval
                  hostName: www.someDomain.net
                  provisioningState: Succeeded
                  resourceState: Active
                  validationData: null
                type: Microsoft.Cdn/profiles/endpoints/customdomains
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/customDomains/{customDomainName}/disableCustomHttps":
    post:
      description: Disable https delivery of the custom domain.
      operationId: CustomDomains_DisableCustomHttps
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - description: Name of the custom domain within an endpoint.
          in: path
          name: customDomainName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
        "202":
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: "#/definitions/CustomDomain"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - CustomDomains
      x-ms-examples:
        CustomDomains_DisableCustomHttps:
          parameters:
            api-version: 2019-12-31
            customDomainName: www-someDomain-net
            endpointName: endpoint1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            "200": {}
            "202":
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/customdomains/www-someDomain-net
                name: www-someDomain-net
                properties:
                  customHttpsProvisioningState: Enabling
                  customHttpsProvisioningSubstate: PendingDomainControlValidationREquestApproval
                  hostName: www.someDomain.net
                  provisioningState: Succeeded
                  resourceState: Active
                  validationData: null
                type: Microsoft.Cdn/profiles/endpoints/customdomains
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/customDomains/{customDomainName}/enableCustomHttps":
    post:
      description: Enable https delivery of the custom domain.
      operationId: CustomDomains_EnableCustomHttps
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - description: Name of the custom domain within an endpoint.
          in: path
          name: customDomainName
          required: true
          type: string
        - description: The configuration specifying how to enable HTTPS for the custom domain - using CDN managed certificate or user's own certificate. If not specified, enabling ssl uses CDN managed certificate by default.
          in: body
          name: customDomainHttpsParameters
          required: false
          schema:
            $ref: "#/definitions/CustomDomainHttpsParameters"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
        "202":
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: "#/definitions/CustomDomain"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - CustomDomains
      x-ms-examples:
        CustomDomains_EnableCustomHttpsUsingCDNManagedCertificate:
          parameters:
            api-version: 2019-12-31
            customDomainName: www-someDomain-net
            customHttpsParameters:
              MinimumTLSVersion: TLS12
              certificateSource: Cdn
              certificateSourceParameters:
                OData.type: "#Microsoft.Azure.Cdn.Models.CdnCertificateSourceParameters"
                certificateType: Shared
              protocolType: ServerNameIndication
            endpointName: endpoint1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            "200": {}
            "202":
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/customdomains/www-someDomain-net
                name: www-someDomain-net
                properties:
                  customHttpsProvisioningState: Enabling
                  customHttpsProvisioningSubstate: PendingDomainControlValidationREquestApproval
                  hostName: www.someDomain.net
                  provisioningState: Succeeded
                  resourceState: Active
                  validationData: validationdata
                type: Microsoft.Cdn/profiles/endpoints/customdomains
        CustomDomains_EnableCustomHttpsUsingYourOwnCertificate:
          parameters:
            api-version: 2019-12-31
            customDomainName: www-someDomain-net
            customHttpsParameters:
              MinimumTLSVersion: TLS12
              certificateSource: AzureKeyVault
              certificateSourceParameters:
                OData.type: "#Microsoft.Azure.Cdn.Models.KeyVaultCertificateSourceParameters"
                deleteRule: NoAction
                resourceGroupName: RG
                secretName: secret1
                secretVersion: 00000000-0000-0000-0000-000000000000
                subscriptionId: subid
                updateRule: NoAction
                vaultName: kv
              protocolType: ServerNameIndication
            endpointName: endpoint1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            "200": {}
            "202":
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/customdomains/www-someDomain-net
                name: www-someDomain-net
                properties:
                  customHttpsProvisioningState: Enabling
                  customHttpsProvisioningSubstate: PendingDomainControlValidationREquestApproval
                  hostName: www.someDomain.net
                  provisioningState: Succeeded
                  resourceState: Active
                  validationData: validationdata
                type: Microsoft.Cdn/profiles/endpoints/customdomains
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/load":
    post:
      description: Pre-loads a content to CDN. Available for Verizon Profiles.
      operationId: Endpoints_LoadContent
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - description: "The path to the content to be loaded. Path should be a full URL, e.g. ‘/pictures/city.png' which loads a single file "
          in: body
          name: contentFilePaths
          required: true
          schema:
            $ref: "#/definitions/LoadParameters"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
        "202":
          description: Accepted and the operation will complete asynchronously.
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Endpoints
      x-ms-examples:
        Endpoints_LoadContent:
          parameters:
            api-version: 2019-12-31
            contentFilePaths:
              contentPaths:
                - /folder1
            endpointName: endpoint1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/originGroups":
    get:
      description: Lists all of the existing origin groups within an endpoint.
      operationId: OriginGroups_ListByEndpoint
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/OriginGroupListResult"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - OriginGroups
      x-ms-examples:
        OriginsGroups_ListByEndpoint:
          parameters:
            api-version: 2019-12-31
            endpointName: endpoint1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/originGroups/originGroup1
                    name: origingroup1
                    properties:
                      healthProbeSettings:
                        probeIntervalInSeconds: 120
                        probePath: /health.aspx
                        probeProtocol: Http
                        probeRequestType: GET
                      origins:
                        - id: /subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/origin1
                      provisioningState: Succeeded
                      resourceState: Active
                      responseBasedOriginErrorDetectionSettings:
                        responseBasedDetectedErrorTypes: TcpErrorsOnly
                        responseBasedFailoverThresholdPercentage: 10
                    type: Microsoft.Cdn/profiles/endpoints/origingroups
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/originGroups/{originGroupName}":
    delete:
      description: Deletes an existing origin group within an endpoint.
      operationId: OriginGroups_Delete
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - description: Name of the origin group which is unique within the endpoint.
          in: path
          name: originGroupName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "202":
          description: Accepted and the operation will complete asynchronously.
        "204":
          description: No Content. The request has been accepted but the origin was not found.
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - OriginGroups
      x-ms-examples:
        OriginGroups_Delete:
          parameters:
            api-version: 2019-12-31
            endpointName: endpoint1
            originGroupName: originGroup1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets an existing origin group within an endpoint.
      operationId: OriginGroups_Get
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - description: Name of the origin group which is unique within the endpoint.
          in: path
          name: originGroupName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/OriginGroup"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - OriginGroups
      x-ms-examples:
        OriginGroups_Get:
          parameters:
            api-version: 2019-12-31
            endpointName: endpoint1
            originGroupName: originGroup1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/originGroups/originGroup1
                name: origingroup1
                properties:
                  healthProbeSettings:
                    probeIntervalInSeconds: 120
                    probePath: /health.aspx
                    probeProtocol: Http
                    probeRequestType: GET
                  origins:
                    - id: /subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/origin1
                  provisioningState: Succeeded
                  resourceState: Active
                  responseBasedOriginErrorDetectionSettings:
                    httpErrorRanges:
                      - begin: 500
                        end: 505
                    responseBasedDetectedErrorTypes: TcpAndHttpErrors
                    responseBasedFailoverThresholdPercentage: 10
                type: Microsoft.Cdn/profiles/endpoints/origingroups
    patch:
      description: Updates an existing origin group within an endpoint.
      operationId: OriginGroups_Update
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - description: Name of the origin group which is unique within the endpoint.
          in: path
          name: originGroupName
          required: true
          type: string
        - description: Origin group properties
          in: body
          name: originGroupUpdateProperties
          required: true
          schema:
            $ref: "#/definitions/OriginGroupUpdateParameters"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/OriginGroup"
        "202":
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: "#/definitions/OriginGroup"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - OriginGroups
      x-ms-examples:
        OriginGroups_Update:
          parameters:
            api-version: 2019-12-31
            endpointName: endpoint1
            originGroupName: originGroup1
            originGroupUpdateProperties:
              properties:
                healthProbeSettings:
                  probeIntervalInSeconds: 120
                  probePath: /health.aspx
                  probeProtocol: Http
                  probeRequestType: GET
                origins:
                  - id: /subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/origin2
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/www-someDomain-net
                name: www-someDomain-net
                properties:
                  healthProbeSettings:
                    probeIntervalInSeconds: 120
                    probePath: /health.aspx
                    probeProtocol: Http
                    probeRequestType: GET
                  origins:
                    - id: /subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/origin2
                  provisioningState: Succeeded
                  resourceState: Active
                type: Microsoft.Cdn/profiles/endpoints/origins
            "202":
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/www-someDomain-net
                name: www-someDomain-net
                properties:
                  healthProbeSettings:
                    probeIntervalInSeconds: 120
                    probePath: /health.aspx
                    probeProtocol: Http
                    probeRequestType: GET
                  origins:
                    - id: /subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/origin2
                  provisioningState: Succeeded
                  resourceState: Active
                type: Microsoft.Cdn/profiles/endpoints/origins
      x-ms-long-running-operation: true
    put:
      description: Creates a new origin group within the specified endpoint.
      operationId: OriginGroups_Create
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - description: Name of the origin group which is unique within the endpoint.
          in: path
          name: originGroupName
          required: true
          type: string
        - description: Origin group properties
          in: body
          name: originGroup
          required: true
          schema:
            $ref: "#/definitions/OriginGroup"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/OriginGroup"
        "201":
          description: Created. The request has been fulfilled and a new origin group has been created.
          schema:
            $ref: "#/definitions/OriginGroup"
        "202":
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: "#/definitions/OriginGroup"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - OriginGroups
      x-ms-examples:
        OriginGroups_Create:
          parameters:
            api-version: 2019-12-31
            endpointName: endpoint1
            originGroup:
              properties:
                healthProbeSettings:
                  probeIntervalInSeconds: 120
                  probePath: /health.aspx
                  probeProtocol: Http
                  probeRequestType: GET
                origins:
                  - id: /subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/origin1
                responseBasedOriginErrorDetectionSettings:
                  responseBasedDetectedErrorTypes: TcpErrorsOnly
                  responseBasedFailoverThresholdPercentage: 10
            originGroupName: origingroup1
            profileName: profile1
            resourceGroupName: RG
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/originGroups/originGroup1
                name: origingroup1
                properties:
                  healthProbeSettings:
                    probeIntervalInSeconds: 120
                    probePath: /health.aspx
                    probeProtocol: Http
                    probeRequestType: GET
                  origins:
                    - id: /subscriptions/subid/resourceGroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/origins/origin1
                  provisioningState: Succeeded
                  resourceState: Active
                  responseBasedOriginErrorDetectionSettings:
                    responseBasedDetectedErrorTypes: TcpErrorsOnly
                    responseBasedFailoverThresholdPercentage: 10
                type: Microsoft.Cdn/profiles/endpoints/origingroups
            "201":
              body:
                id: /subscriptions/subid/resourcegroups/RG/providers/Microsoft.Cdn/profiles/profile1/endpoints/endpoint1/originGroups/originGroup1
                name: origingroup1
[...]
