{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "http://api.climatekuul.com:8000/footprint",
      "variables": {}
    }
  ],
  "info": {
    "contact": {},
    "title": "climateKuul live",
    "version": "1.0",
    "x-apisguru-categories": [
      "backend"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_static.wixstatic.com_media_c53c35_186b357d06f64319ba7866f3469585e6%7Emv2.gif_v1_fill_w_32%2Ch_32%2Clg_1%2Cusm_0.66_1.00_0.01_c53c35_186b357d06f64319ba7866f3469585e6%7Emv2.gif"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "http://api.climatekuul.com/api-docs",
        "version": "3.0"
      }
    ],
    "x-providerName": "climatekuul.com"
  },
  "paths": {
    "/airtravelCoordinates": {
      "post": {
        "deprecated": false,
        "operationId": "airtravelCoordinates",
        "parameters": [
          {
            "description": "",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "schema": {
              "example": "application/x-www-form-urlencoded",
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "properties": {
                  "apiKey_l1": {
                    "description": "Client Api Key",
                    "example": "d95fead6-e8a6-4547-9fb9-7835101a3960",
                    "type": "string"
                  },
                  "apiKey_l2": {
                    "description": "Integration Partner Api Key",
                    "example": "c60f8db5-7204-4427-960d-27400c38b166",
                    "type": "string"
                  },
                  "destination_airport_latitude": {
                    "description": "Destination latitude (like:  50.870752, value = -90<=x<=90)",
                    "example": 24.9056,
                    "format": "double",
                    "type": "number"
                  },
                  "destination_airport_longitude": {
                    "description": "Destination longitude (like:  4.669490, value = -180<=x<=180)",
                    "example": 67.1569,
                    "format": "double",
                    "type": "number"
                  },
                  "number_of_passengers": {
                    "description": "Number of passengers (like: 1, 2 ,3 )",
                    "example": 2,
                    "format": "int32",
                    "type": "integer"
                  },
                  "origin_airport_latitude": {
                    "description": "Origin latitude (like: 23.372628 value = -90<=x<=90 )",
                    "example": 31.5208,
                    "format": "double",
                    "type": "number"
                  },
                  "origin_airport_longitude": {
                    "description": "Origin longitude (like: 113.159339, value = -180<=x<=180 )",
                    "example": 74.4028,
                    "format": "double",
                    "type": "number"
                  },
                  "travel_class": {
                    "description": "Travel class can be 'First Class', 'Economy', 'Business' or 'Premium Economy'",
                    "example": "Economy",
                    "type": "string"
                  },
                  "travel_mode": {
                    "description": "Travel mode can be 'one way' or 'round trip'",
                    "example": "round trip",
                    "type": "string"
                  }
                },
                "required": [
                  "number_of_passengers",
                  "travel_class",
                  "travel_mode",
                  "origin_airport_latitude",
                  "origin_airport_longitude",
                  "destination_airport_latitude",
                  "destination_airport_longitude",
                  "apiKey_l1",
                  "apiKey_l2"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "servers": [
          {
            "url": "http://api.climatekuul.com:8000/footprint",
            "variables": {}
          }
        ],
        "summary": "airtravelCoordinates",
        "tags": [
          "AirtravelCoordinates"
        ]
      }
    },
    "/airtravelCoordinates/confirmCarbonOffset": {
      "patch": {
        "deprecated": false,
        "operationId": "confirmCarbonOffset4",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "properties": {
                  "carbonOffset": {
                    "description": "Confirm Carbon Offset (Value = y/n)",
                    "example": "y",
                    "type": "string"
                  },
                  "contactEmail": {
                    "description": "Contact email",
                    "example": "example@example.com",
                    "type": "string"
                  },
                  "contactFirstName": {
                    "description": "Contact first name",
                    "example": "abc",
                    "type": "string"
                  },
                  "contactLastName": {
                    "description": "Contact last name",
                    "example": "xyz",
                    "type": "string"
                  },
                  "transaction_id": {
                    "description": "transaction_id",
                    "example": "60a78ed201d88997746c91b5",
                    "type": "string"
                  }
                },
                "required": [
                  "transaction_id",
                  "carbonOffset"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "servers": [
          {
            "url": "http://api.climatekuul.com:8000/footprint",
            "variables": {}
          }
        ],
        "summary": "confirmCarbonOffset",
        "tags": [
          "AirtravelCoordinates"
        ]
      }
    },
    "/airtravelCoordinates/confirmPayment": {
      "patch": {
        "deprecated": false,
        "operationId": "confirmPayment4",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "properties": {
                  "apiKey_l1": {
                    "description": "apikey_l1 (Like: d95fead6-e8a6-4247-9fb9-7835101a4560)",
                    "example": "d95fead6-e8a6-4247-9fb9-7835101a4560",
                    "type": "string"
                  },
                  "apiKey_l2": {
                    "description": "apikey_l2 (Like: c60f8db5-7904-4227-960d-27400c38b166)",
                    "example": "c60f8db5-7904-4227-960d-27400c38b166",
                    "type": "string"
                  },
                  "confirmPayment": {
                    "description": "Confirm Payment (Value = y/n)",
                    "example": "y",
                    "type": "string"
                  },
                  "paymentID": {
                    "description": "Payment Id",
                    "example": 34567878,
                    "format": "int32",
                    "type": "integer"
                  },
                  "transaction_id": {
                    "description": "transaction_id",
                    "example": "60a78ed201d88997746c91b5",
                    "type": "string"
                  }
                },
                "required": [
                  "transaction_id",
                  "confirmPayment",
                  "paymentID",
                  "apiKey_l1",
                  "apiKey_l2"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "servers": [
          {
            "url": "http://api.climatekuul.com:8000/footprint",
            "variables": {}
          }
        ],
        "summary": "confirmPayment",
        "tags": [
          "AirtravelCoordinates"
        ]
      }
    },
    "/airtravelCoordinates/confirmPlanting": {
      "patch": {
        "deprecated": false,
        "operationId": "confirmsPlanting4",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "properties": {
                  "apiKey_l1": {
                    "description": "apikey_l1 (Like: d95fead6-e8a6-4247-9fb9-7835101a4560)",
                    "example": "d95fead6-e8a6-4247-9fb9-7835101a4560",
                    "type": "string"
                  },
                  "apiKey_l2": {
                    "description": "apikey_l2 (Like: c60f8db5-7904-4227-960d-27400c38b166)",
                    "example": "c60f8db5-7904-4227-960d-27400c38b166",
                    "type": "string"
                  },
                  "confirmPlanting": {
                    "description": "Confirm Planting (Value = y/n)",
                    "example": "y",
                    "type": "string"
                  },
                  "transaction_id": {
                    "description": "transaction_id",
                    "example": "60a78ed201d88997746c91b5",
                    "type": "string"
                  }
                },
                "required": [
                  "transaction_id",
                  "confirmPlanting",
                  "apiKey_l1",
                  "apiKey_l2"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "servers": [
          {
            "url": "http://api.climatekuul.com:8000/footprint",
            "variables": {}
          }
        ],
        "summary": "confirmPlanting",
        "tags": [
          "AirtravelCoordinates"
        ]
      }
    },
    "/airtravelCoordinates/confirmTransaction": {
      "patch": {
        "deprecated": false,
        "operationId": "confirmPaymentOfTransaction4",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "properties": {
                  "confirmTransaction": {
                    "description": "Confirm Payment Of Transaction (Value = y/n)",
                    "example": "y",
                    "type": "string"
                  },
                  "transaction_id": {
                    "description": "transaction_id",
                    "example": "60a78ed201d88997746c91b5",
                    "type": "string"
                  }
                },
                "required": [
                  "transaction_id",
                  "confirmTransaction"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "servers": [
          {
            "url": "http://api.climatekuul.com:8000/footprint",
            "variables": {}
          }
        ],
        "summary": "confirmTransaction",
        "tags": [
          "AirtravelCoordinates"
        ]
      }
    },
    "/airtravelMultileg": {
      "post": {
        "deprecated": false,
        "operationId": "airtravelMultileg",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "apiKey_l1": "d95fead6-e8a6-4547-9fb9-7835101a3960",
                "apiKey_l2": "c60f8db5-7204-4427-960d-27400c38b166",
                "leg1": {
                  "destination_airport_code": "DXB",
                  "origin_airport_code": "KHI",
                  "travel_class": "Economy"
                },
                "leg2": {
                  "destination_airport_code": "LHR",
                  "origin_airport_code": "DXB",
                  "travel_class": "Business"
                },
                "leg3": {
                  "destination_airport_code": "KHI",
                  "origin_airport_code": "FRA",
                  "travel_class": "Premium Economy"
                },
                "legs_count": "2",
                "number_of_passengers": "2",
                "travel_mode": "multileg"
              },
              "schema": {
                "$ref": "#/components/schemas/airtravelMultilegRequest"
              }
            }
          },
          "description": "",
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "servers": [
          {
            "url": "http://api.climatekuul.com:8000/footprint",
            "variables": {}
          }
        ],
        "summary": "airtravelMultileg",
        "tags": [
          "airtravelMultileg"
        ]
      }
    },
    "/airtravelMultileg/confirmCarbonOffset": {
      "patch": {
        "deprecated": false,
        "operationId": "confirmCarbonOffset3",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "properties": {
                  "carbonOffset": {
                    "description": "Confirm Carbon Offset (Value = y/n)",
                    "example": "y",
                    "type": "string"
                  },
                  "contactEmail": {
                    "description": "Contact email",
                    "example": "example@example.com",
                    "type": "string"
                  },
                  "contactFirstName": {
                    "description": "Contact first name",
                    "example": "abc",
                    "type": "string"
                  },
                  "contactLastName": {
                    "description": "Contact last name",
                    "example": "xyz",
                    "type": "string"
                  },
                  "transaction_id": {
                    "description": "transaction_id",
                    "example": "60a75c0e94c8cb95a6d0e02e",
                    "type": "string"
                  }
                },
                "required": [
                  "transaction_id",
                  "carbonOffset"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "servers": [
          {
            "url": "http://api.climatekuul.com:8000/footprint",
            "variables": {}
          }
        ],
        "summary": "confirmCarbonOffset",
        "tags": [
          "airtravelMultileg"
        ]
      }
    },
    "/airtravelMultileg/confirmPayment": {
      "patch": {
        "deprecated": false,
        "operationId": "confirmPayment3",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "properties": {
                  "apiKey_l1": {
                    "description": "apikey_l1 (Like: d95fead6-e8a6-4247-9fb9-7835101a4560)",
                    "example": "d95fead6-e8a6-4247-9fb9-7835101a4560",
                    "type": "string"
                  },
                  "apiKey_l2": {
                    "description": "apikey_l2 (Like: c60f8db5-7904-4227-960d-27400c38b166)",
                    "example": "c60f8db5-7904-4227-960d-27400c38b166",
                    "type": "string"
                  },
                  "confirmPayment": {
                    "description": "Confirm Payment (Value = y/n)",
                    "example": "y",
                    "type": "string"
                  },
                  "paymentID": {
                    "description": "Payment Id",
                    "example": 34567878,
                    "format": "int32",
                    "type": "integer"
                  },
                  "transaction_id": {
                    "description": "transaction_id",
                    "example": "60a75c0e94c8cb95a6d0e02e",
                    "type": "string"
                  }
                },
                "required": [
                  "transaction_id",
                  "confirmPayment",
                  "paymentID",
                  "apiKey_l1",
                  "apiKey_l2"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "servers": [
          {
            "url": "http://api.climatekuul.com:8000/footprint",
            "variables": {}
          }
        ],
        "summary": "confirmPayment",
        "tags": [
          "airtravelMultileg"
        ]
      }
    },
    "/airtravelMultileg/confirmPlanting": {
      "patch": {
        "deprecated": false,
        "operationId": "confirmsPlanting3",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "properties": {
                  "apiKey_l1": {
                    "description": "apikey_l1 (Like: d95fead6-e8a6-4247-9fb9-7835101a4560)",
                    "example": "d95fead6-e8a6-4247-9fb9-7835101a4560",
                    "type": "string"
                  },
                  "apiKey_l2": {
                    "description": "apikey_l2 (Like: c60f8db5-7904-4227-960d-27400c38b166)",
                    "example": "c60f8db5-7904-4227-960d-27400c38b166",
                    "type": "string"
                  },
                  "confirmPlanting": {
                    "description": "Confirm Planting (Value = y/n)",
                    "example": "y",
                    "type": "string"
                  },
                  "transaction_id": {
                    "description": "transaction_id",
                    "example": "60a75c0e94c8cb95a6d0e02e",
                    "type": "string"
                  }
                },
                "required": [
                  "transaction_id",
                  "confirmPlanting",
                  "apiKey_l1",
                  "apiKey_l2"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "servers": [
          {
            "url": "http://api.climatekuul.com:8000/footprint",
            "variables": {}
          }
        ],
        "summary": "confirmPlanting",
        "tags": [
          "airtravelMultileg"
        ]
      }
    },
    "/airtravelMultileg/confirmTransaction": {
      "patch": {
        "deprecated": false,
        "operationId": "confirmPaymentOfTransaction3",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "properties": {
                  "confirmTransaction": {
                    "description": "Confirm Payment Of Transaction (Value = y/n)",
                    "example": "y",
                    "type": "string"
                  },
                  "transaction_id": {
                    "description": "transaction_id",
                    "example": "60a75c0e94c8cb95a6d0e02e",
                    "type": "string"
                  }
                },
                "required": [
                  "transaction_id",
                  "confirmTransaction"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "servers": [
          {
            "url": "http://api.climatekuul.com:8000/footprint",
            "variables": {}
          }
        ],
        "summary": "confirmTransaction",
        "tags": [
          "airtravelMultileg"
        ]
      }
    },
    "/ecommerceDelivery": {
      "post": {
        "deprecated": false,
        "operationId": "ecommerceDelivery",
        "parameters": [
          {
            "description": "",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "schema": {
              "example": "application/x-www-form-urlencoded",
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "properties": {
                  "apiKey_l1": {
                    "description": "Client Api Key",
                    "example": "d95fead6-e8a6-4547-9fb9-7835101a3960",
                    "type": "string"
                  },
                  "apiKey_l2": {
                    "description": "Integration Partner Api Key",
                    "example": "c60f8db5-7204-4427-960d-27400c38b166",
                    "type": "string"
                  },
                  "destination_airport_code": {
                    "description": "valid airport code of destination",
                    "example": "BRU",
                    "type": "string"
                  },
                  "destination_latitude": {
                    "description": "valid latitude of destination",
                    "example": 50.870752,
                    "format": "double",
                    "type": "number"
                  },
                  "destination_longitude": {
                    "description": "valid longitude of destination",
                    "example": 4.66949,
                    "format": "double",
                    "type": "number"
                  },
                  "origin_airport_code": {
                    "description": "valid airport code of origin",
                    "example": "KHI",
                    "type": "string"
                  },
                  "origin_latitude": {
                    "description": "valid latitude of origin",
                    "example": 23.372628,
                    "format": "double",
                    "type": "number"
                  },
                  "origin_longitude": {
                    "description": "valid longitude of origin",
                    "example": 113.159339,
                    "format": "double",
                    "type": "number"
                  },
                  "volumetric_weight": {
                    "description": "Volumetric weight' (like:2.70)",
                    "example": 2.7,
                    "format": "double",
                    "type": "number"
                  },
                  "waybill_type": {
                    "description": "this can be 'air only', 'road only' or 'air and road'",
                    "example": "road only",
                    "type": "string"
                  }
                },
                "required": [
                  "waybill_type",
                  "origin_latitude",
                  "origin_longitude",
                  "destination_latitude",
                  "destination_longitude",
                  "volumetric_weight",
                  "apiKey_l1",
                  "apiKey_l2"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "servers": [
          {
            "url": "http://api.climatekuul.com:8000/footprint",
            "variables": {}
          }
        ],
        "summary": "ecommerceDelivery",
        "tags": [
          "EcommerceDelivery"
        ]
      }
    },
    "/ecommerceDelivery/confirmCarbonOffset": {
      "patch": {
        "deprecated": false,
        "operationId": "confirmCarbonOffset1",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "properties": {
                  "carbonOffset": {
                    "description": "Confirm Carbon Offset (Value = y/n)",
                    "example": "y",
                    "type": "string"
                  },
                  "contactEmail": {
                    "description": "Contact email",
                    "example": "example@example.com",
                    "type": "string"
                  },
                  "contactFirstName": {
                    "description": "Contact first name",
                    "example": "abc",
                    "type": "string"
                  },
                  "contactLastName": {
                    "description": "Contact last name",
                    "example": "xyz",
                    "type": "string"
                  },
                  "transaction_id": {
                    "description": "transaction_id",
                    "example": "60a766d401d88997746c91a0",
                    "type": "string"
                  }
                },
                "required": [
                  "transaction_id",
                  "carbonOffset"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "servers": [
          {
            "url": "http://api.climatekuul.com:8000/footprint",
            "variables": {}
          }
        ],
        "summary": "confirmCarbonOffset",
        "tags": [
          "EcommerceDelivery"
        ]
      }
    },
    "/ecommerceDelivery/confirmPayment": {
      "patch": {
        "deprecated": false,
        "operationId": "confirmPayment1",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "properties": {
                  "apiKey_l1": {
                    "description": "apikey_l1 (Like: d95fead6-e8a6-4247-9fb9-7835101a4560)",
                    "example": "d95fead6-e8a6-4247-9fb9-7835101a4560",
                    "type": "string"
                  },
                  "apiKey_l2": {
                    "description": "apikey_l2 (Like: c60f8db5-7904-4227-960d-27400c38b166)",
                    "example": "c60f8db5-7904-4227-960d-27400c38b166",
                    "type": "string"
                  },
                  "confirmPayment": {
                    "description": "Confirm Payment (Value = y/n)",
                    "example": "y",
                    "type": "string"
                  },
                  "paymentID": {
                    "description": "Payment Id",
                    "example": 34567878,
                    "format": "int32",
                    "type": "integer"
                  },
                  "transaction_id": {
                    "description": "transaction_id",
                    "example": "60a766d401d88997746c91a0",
                    "type": "string"
                  }
                },
                "required": [
                  "transaction_id",
                  "confirmPayment",
                  "paymentID",
                  "apiKey_l1",
                  "apiKey_l2"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "servers": [
          {
            "url": "http://api.climatekuul.com:8000/footprint",
            "variables": {}
          }
        ],
        "summary": "confirmPayment",
        "tags": [
          "EcommerceDelivery"
        ]
      }
    },
    "/ecommerceDelivery/confirmPlanting": {
      "patch": {
        "deprecated": false,
        "operationId": "confirmsPlanting2",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "properties": {
                  "apiKey_l1": {
                    "description": "apikey_l1 (Like: d95fead6-e8a6-4247-9fb9-7835101a4560)",
                    "example": "d95fead6-e8a6-4247-9fb9-7835101a4560",
                    "type": "string"
                  },
                  "apiKey_l2": {
                    "description": "apikey_l2 (Like: c60f8db5-7904-4227-960d-27400c38b166)",
                    "example": "c60f8db5-7904-4227-960d-27400c38b166",
                    "type": "string"
                  },
                  "confirmPlanting": {
                    "description": "Confirm Planting (Value = y/n)",
                    "example": "y",
                    "type": "string"
                  },
                  "transaction_id": {
                    "description": "transaction_id",
                    "example": "60a766d401d88997746c91a0",
                    "type": "string"
                  }
                },
                "required": [
                  "transaction_id",
                  "confirmPlanting",
                  "apiKey_l1",
                  "apiKey_l2"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "servers": [
          {
            "url": "http://api.climatekuul.com:8000/footprint",
            "variables": {}
          }
        ],
        "summary": "confirmPlanting",
        "tags": [
          "EcommerceDelivery"
        ]
      }
    },
    "/ecommerceDelivery/confirmTransaction": {
      "patch": {
        "deprecated": false,
        "operationId": "confirmPaymentOfTransaction1",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "properties": {
                  "confirmTransaction": {
                    "description": "Confirm Payment Of Transaction (Value = y/n)",
                    "example": "y",
                    "type": "string"
                  },
                  "transaction_id": {
                    "description": "transaction_id",
                    "example": "60a766d401d88997746c91a0",
                    "type": "string"
                  }
                },
                "required": [
                  "transaction_id",
                  "confirmTransaction"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "servers": [
          {
            "url": "http://api.climatekuul.com:8000/footprint",
            "variables": {}
          }
        ],
        "summary": "confirmTransaction",
        "tags": [
          "EcommerceDelivery"
        ]
      }
    },
    "/requestApiKey": {
      "post": {
        "deprecated": false,
        "operationId": "requestApiKey",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "properties": {
                  "apiKey_l1": {
                    "description": "Api Key for client",
                    "example": "qNahlSrEaduQ",
                    "type": "string"
                  },
                  "apiKey_l2": {
                    "description": "Integration Partner Api Key",
                    "example": "eCqMeAfaDBWG",
                    "type": "string"
                  },
                  "email": {
                    "description": "User email",
                    "example": "abcd@gmail.com",
                    "type": "string"
                  },
                  "password": {
                    "description": "User password",
                    "example": 234,
                    "format": "int32",
                    "type": "integer"
                  },
                  "userFirstName": {
                    "description": "User first name",
                    "example": "usman",
                    "type": "string"
                  },
                  "userLastName": {
                    "description": "User last name",
                    "example": "ch",
                    "type": "string"
                  }
                },
                "required": [
                  "userFirstName",
                  "userLastName",
                  "email",
                  "password",
                  "apiKey_l1",
                  "apiKey_l2"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "servers": [
          {
            "url": "http://api.climatekuul.com:8000/footprint",
            "variables": {}
          }
        ],
        "summary": "requestApiKey",
        "tags": [
          "Request Api Key"
        ]
      }
    },
    "/roadDistance": {
      "post": {
        "deprecated": false,
        "operationId": "roadDistance",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "properties": {
                  "apiKey_l1": {
                    "description": "Client Api Key",
                    "example": "d95fead6-e8a6-4547-9fb9-7835101a3960",
                    "type": "string"
                  },
                  "apiKey_l2": {
                    "description": "Integration Partner Api Key",
                    "example": "c60f8db5-7204-4427-960d-27400c38b166",
                    "type": "string"
                  },
                  "travel_distance": {
                    "example": 2450,
                    "format": "int32",
                    "type": "integer"
                  },
                  "trip_end": {
                    "description": "timestamp in epoch time (like: 1606780799)",
                    "example": 18,
                    "format": "int32",
                    "type": "integer"
                  },
                  "trip_start": {
                    "description": "timestamp in epoch time (like: 1604188800)",
                    "example": 16,
                    "format": "int32",
                    "type": "integer"
                  },
                  "vehicle_make": {
                    "description": "vehicle make (like: Honda, Toyota, Smart), Required only when vehicle_type is 'personal car' ",
                    "example": "Honda",
                    "type": "string"
                  },
                  "vehicle_type": {
                    "description": "Vehicle type can be 'personal car', 'light truck' or 'heavy-duty truck'",
                    "example": "personal car",
                    "type": "string"
                  },
                  "vehicle_year": {
                    "description": "vehicle year (like: 2010, 2015, 2019), Required only when vehicle_type is 'personal car' ",
                    "example": 2010,
                    "format": "int32",
                    "type": "integer"
                  }
                },
                "required": [
                  "travel_distance",
                  "vehicle_type",
                  "trip_start",
                  "trip_end",
                  "apiKey_l1",
                  "apiKey_l2"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "servers": [
          {
            "url": "http://api.climatekuul.com:8000/footprint",
            "variables": {}
          }
        ],
        "summary": "RoadDistance",
        "tags": [
          "RoadDistance"
        ]
      }
    },
    "/roadDistance/confirmCarbonOffset": {
      "patch": {
        "deprecated": false,
        "operationId": "confirmCarbonOffset5",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "properties": {
                  "carbonOffset": {
                    "description": "Confirm Carbon Offset (Value = y/n)",
                    "example": "y",
                    "type": "string"
                  },
                  "contactEmail": {
                    "description": "Contact email",
                    "example": "example@example.com",
                    "type": "string"
                  },
                  "contactFirstName": {
                    "description": "Contact first name",
                    "example": "abc",
                    "type": "string"
                  },
                  "contactLastName": {
                    "description": "Contact last name",
                    "example": "xyz",
                    "type": "string"
                  },
                  "transaction_id": {
                    "description": "transaction_id",
                    "example": "60a7823401d88997746c91a7",
                    "type": "string"
                  }
                },
                "required": [
                  "transaction_id",
                  "carbonOffset"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "servers": [
          {
            "url": "http://api.climatekuul.com:8000/footprint",
            "variables": {}
          }
        ],
        "summary": "confirmCarbonOffset",
        "tags": [
          "RoadDistance"
        ]
      }
    },
    "/roadDistance/confirmPayment": {
      "patch": {
        "deprecated": false,
        "operationId": "confirmPayment5",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "properties": {
                  "apiKey_l1": {
                    "description": "apikey_l1 (Like: d95fead6-e8a6-4247-9fb9-7835101a4560)",
                    "example": "d95fead6-e8a6-4247-9fb9-7835101a4560",
                    "type": "string"
                  },
                  "apiKey_l2": {
                    "description": "apikey_l2 (Like: c60f8db5-7904-4227-960d-27400c38b166)",
                    "example": "c60f8db5-7904-4227-960d-27400c38b166",
                    "type": "string"
                  },
                  "confirmPayment": {
                    "description": "Confirm Payment (Value = y/n)",
                    "example": "y",
                    "type": "string"
                  },
                  "paymentID": {
                    "description": "Payment Id",
                    "example": 34567878,
                    "format": "int32",
                    "type": "integer"
                  },
                  "transaction_id": {
                    "description": "transaction_id",
                    "example": "60a7823401d88997746c91a7",
                    "type": "string"
                  }
                },
                "required": [
                  "transaction_id",
                  "confirmPayment",
                  "paymentID",
                  "apiKey_l1",
                  "apiKey_l2"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "servers": [
          {
            "url": "http://api.climatekuul.com:8000/footprint",
            "variables": {}
          }
        ],
        "summary": "confirmPayment",
        "tags": [
          "RoadDistance"
        ]
      }
    },
    "/roadDistance/confirmPlanting": {
      "patch": {
        "deprecated": false,
        "operationId": "confirmsPlanting5",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "properties": {
                  "apiKey_l1": {
                    "description": "apikey_l1 (Like: d95fead6-e8a6-4247-9fb9-7835101a4560)",
                    "example": "d95fead6-e8a6-4247-9fb9-7835101a4560",
                    "type": "string"
                  },
                  "apiKey_l2": {
                    "description": "apikey_l2 (Like: c60f8db5-7904-4227-960d-27400c38b166)",
                    "example": "c60f8db5-7904-4227-960d-27400c38b166",
                    "type": "string"
                  },
                  "confirmPlanting": {
                    "description": "Confirm Planting (Value = y/n)",
                    "example": "y",
                    "type": "string"
                  },
                  "transaction_id": {
                    "description": "transaction_id",
                    "example": "60a7823401d88997746c91a7",
                    "type": "string"
                  }
                },
                "required": [
                  "transaction_id",
                  "confirmPlanting",
                  "apiKey_l1",
                  "apiKey_l2"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "servers": [
          {
            "url": "http://api.climatekuul.com:8000/footprint",
            "variables": {}
          }
        ],
        "summary": "confirmPlanting",
        "tags": [
          "RoadDistance"
        ]
      }
    },
    "/roadDistance/confirmTransaction": {
      "patch": {
        "deprecated": false,
        "operationId": "confirmPaymentOfTransaction5",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "properties": {
                  "confirmTransaction": {
                    "description": "Confirm Payment Of Transaction (Value = y/n)",
                    "example": "y",
                    "type": "string"
                  },
                  "transaction_id": {
                    "description": "transaction_id",
                    "example": "60a7823401d88997746c91a7",
                    "type": "string"
                  }
                },
                "required": [
                  "transaction_id",
                  "confirmTransaction"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "servers": [
          {
            "url": "http://api.climatekuul.com:8000/footprint",
            "variables": {}
          }
        ],
        "summary": "confirmTransaction",
        "tags": [
          "RoadDistance"
        ]
      }
    },
    "/urbanDelivery": {
      "post": {
        "deprecated": false,
        "operationId": "urbanDelivery",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "properties": {
                  "apiKey_l1": {
                    "description": "Client Api Key",
                    "example": "d95fead6-e8a6-4547-9fb9-7835101a3960",
                    "type": "string"
                  },
                  "apiKey_l2": {
                    "description": "Integration Partner Api Key",
                    "example": "c60f8db5-7204-4427-960d-27400c38b166",
                    "type": "string"
                  },
                  "destination_latitude": {
                    "description": "Destination latitude (like: 50.870752, value = -90<=x<=90)",
                    "example": -89.870752,
                    "format": "double",
                    "type": "number"
                  },
                  "destination_longitude": {
                    "description": "Destination longitude (like: 4.669490, value = -180<=x<=180)",
                    "example": 179.66949,
                    "format": "double",
                    "type": "number"
                  },
                  "item_count": {
                    "description": "item_count' (like:2, value = 0<x<=100)",
                    "example": 3,
                    "format": "int32",
                    "type": "integer"
                  },
                  "origin_latitude": {
                    "description": "Origin latitude (like: 23.372628, value = -90<=x<=90)",
                    "example": -89.372628,
                    "format": "double",
                    "type": "number"
                  },
                  "origin_longitude": {
                    "description": "Origin longitude (like: 113.159339, value = -180<=x<=180)",
                    "example": -179.159339,
                    "format": "double",
                    "type": "number"
                  },
                  "vehicle_type": {
                    "description": "Vehicle type (like: private car, motorcycle,cargo van,zero-emission)",
                    "example": "PRIVATE CAR",
                    "type": "string"
                  }
                },
                "required": [
                  "vehicle_type",
                  "origin_latitude",
                  "origin_longitude",
                  "destination_latitude",
                  "destination_longitude",
                  "item_count",
                  "apiKey_l1",
                  "apiKey_l2"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "servers": [
          {
            "url": "http://api.climatekuul.com:8000/footprint",
            "variables": {}
          }
        ],
        "summary": "urbanDelivery",
        "tags": [
          "UrbanDelivery"
        ]
      }
    },
    "/urbanDelivery/confirmCarbonOffset": {
      "patch": {
        "deprecated": false,
        "operationId": "confirmCarbonOffset",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "properties": {
                  "carbonOffset": {
                    "description": "Confirm Carbon Offset (Value = y/n)",
                    "example": "y",
                    "type": "string"
                  },
                  "contactEmail": {
                    "description": "Contact email",
                    "example": "example@example.com",
                    "type": "string"
                  },
                  "contactFirstName": {
                    "description": "Contact first name",
                    "example": "abc",
                    "type": "string"
                  },
                  "contactLastName": {
                    "description": "Contact last name",
                    "example": "xyz",
                    "type": "string"
                  },
                  "transaction_id": {
                    "description": "transaction_id",
                    "example": "60a7875a01d88997746c91ae",
                    "type": "string"
                  }
                },
                "required": [
                  "transaction_id",
                  "carbonOffset"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "servers": [
          {
            "url": "http://api.climatekuul.com:8000/footprint",
            "variables": {}
          }
        ],
        "summary": "confirmCarbonOffset",
        "tags": [
          "UrbanDelivery"
        ]
      }
    },
    "/urbanDelivery/confirmPayment": {
      "patch": {
        "deprecated": false,
        "operationId": "confirmPayment",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "properties": {
                  "apiKey_l1": {
                    "description": "apikey_l1 (Like: d95fead6-e8a6-4247-9fb9-7835101a4560)",
                    "example": "d95fead6-e8a6-4247-9fb9-7835101a4560",
                    "type": "string"
                  },
                  "apiKey_l2": {
                    "description": "apikey_l2 (Like: c60f8db5-7904-4227-960d-27400c38b166)",
                    "example": "c60f8db5-7904-4227-960d-27400c38b166",
                    "type": "string"
                  },
                  "confirmPayment": {
                    "description": "Confirm Payment (Value = y/n)",
                    "example": "y",
                    "type": "string"
                  },
                  "paymentID": {
                    "description": "Payment Id",
                    "example": 34567878,
                    "format": "int32",
                    "type": "integer"
                  },
                  "transaction_id": {
                    "description": "transaction_id",
                    "example": "60a7875a01d88997746c91ae",
                    "type": "string"
                  }
                },
                "required": [
                  "transaction_id",
                  "confirmPayment",
                  "paymentID",
                  "apiKey_l1",
                  "apiKey_l2"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "servers": [
          {
            "url": "http://api.climatekuul.com:8000/footprint",
            "variables": {}
          }
        ],
        "summary": "confirmPayment",
        "tags": [
          "UrbanDelivery"
        ]
      }
    },
    "/urbanDelivery/confirmPlanting": {
      "patch": {
        "deprecated": false,
        "operationId": "confirmsPlanting",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "properties": {
                  "apiKey_l1": {
                    "description": "apikey_l1 (Like: d95fead6-e8a6-4247-9fb9-7835101a4560)",
                    "example": "d95fead6-e8a6-4247-9fb9-7835101a4560",
                    "type": "string"
                  },
                  "apiKey_l2": {
                    "description": "apikey_l2 (Like: c60f8db5-7904-4227-960d-27400c38b166)",
                    "example": "c60f8db5-7904-4227-960d-27400c38b166",
                    "type": "string"
                  },
                  "confirmPlanting": {
                    "description": "Confirm Planting (Value = y/n)",
                    "example": "y",
                    "type": "string"
                  },
                  "transaction_id": {
                    "description": "transaction_id",
                    "example": "60a7875a01d88997746c91ae",
                    "type": "string"
                  }
                },
                "required": [
                  "transaction_id",
                  "confirmPlanting",
                  "apiKey_l1",
                  "apiKey_l2"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "servers": [
          {
            "url": "http://api.climatekuul.com:8000/footprint",
            "variables": {}
          }
        ],
        "summary": "confirmPlanting",
        "tags": [
          "UrbanDelivery"
        ]
      }
    },
    "/urbanDelivery/confirmTransaction": {
      "patch": {
        "deprecated": false,
        "operationId": "confirmPaymentOfTransaction",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "properties": {
                  "confirmTransaction": {
                    "description": "Confirm Payment Of Transaction (Value = y/n)",
                    "example": "y",
                    "type": "string"
                  },
                  "transaction_id": {
                    "description": "transaction_id",
                    "example": "60a7875a01d88997746c91ae",
                    "type": "string"
                  }
                },
                "required": [
                  "transaction_id",
                  "confirmTransaction"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "servers": [
          {
            "url": "http://api.climatekuul.com:8000/footprint",
            "variables": {}
          }
        ],
        "summary": "confirmTransaction",
        "tags": [
          "UrbanDelivery"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Leg1": {
        "example": {
          "destination_airport_code": "DXB",
          "origin_airport_code": "KHI",
          "travel_class": "Economy"
        },
        "properties": {
          "destination_airport_code": {
            "type": "string"
          },
          "origin_airport_code": {
            "type": "string"
          },
          "travel_class": {
            "type": "string"
          }
        },
        "required": [
          "origin_airport_code",
          "destination_airport_code",
          "travel_class"
        ],
        "title": "Leg1",
        "type": "object"
      },
      "airtravelMultilegRequest": {
        "example": {
          "apiKey_l1": "qNahlSrEaduQ",
          "apiKey_l2": "eCqMeAfaDBWG",
          "contactEmail": "example@example.com",
          "contactFirstName": "abc",
          "contactLastName": "xyz",
          "leg1": {
            "destination_airport_code": "DXB",
            "origin_airport_code": "KHI",
            "travel_class": "Economy"
          },
          "leg2": {
            "destination_airport_code": "LHR",
            "origin_airport_code": "DXB",
            "travel_class": "Business"
          },
          "leg3": {
            "destination_airport_code": "KHI",
            "origin_airport_code": "FRA",
            "travel_class": "Premium Economy"
          },
          "legs_count": "2",
          "number_of_passengers": "2",
          "travel_mode": "multileg"
        },
        "properties": {
          "apiKey_l1": {
            "type": "string"
          },
          "apiKey_l2": {
            "type": "string"
          },
          "contactEmail": {
            "type": "string"
          },
          "contactFirstName": {
            "type": "string"
          },
          "contactLastName": {
            "type": "string"
          },
          "leg1": {
            "$ref": "#/components/schemas/Leg1"
          },
          "leg2": {
            "$ref": "#/components/schemas/Leg1"
          },
          "leg3": {
            "$ref": "#/components/schemas/Leg1"
          },
          "legs_count": {
            "type": "string"
          },
          "number_of_passengers": {
            "type": "string"
          },
          "travel_mode": {
            "type": "string"
          }
        },
        "required": [
          "travel_mode",
          "legs_count",
          "leg1",
          "leg2",
          "leg3",
          "number_of_passengers",
          "apiKey_l1",
          "apiKey_l2",
          "contactFirstName",
          "contactLastName",
          "contactEmail"
        ],
        "title": "airtravelMultilegRequest",
        "type": "object"
      }
    }
  }
}