swagger: "2.0"
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: The Admin Storage Management Client.
  title: StorageManagementClient
  version: 2019-08-08-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/storage/Microsoft.Storage.Admin/preview/2019-08-08/storage.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: azsadmin-storage
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Authorization uses an Azure Active Directory OAuth2 flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: REST Api Version.
    in: query
    name: api-version
    required: true
    type: string
  LocationParameter:
    description: Resource location.
    in: path
    name: location
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: Subscription Id.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.Storage.Admin/operations:
    get:
      description: Get the list of support rest operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK -- The list of operations has been returned.
          schema:
            $ref: "#/definitions/OperationList"
        default:
          description: Error Response.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Commerce
      x-ms-examples:
        Get the list of support rest operations.:
          parameters:
            api-version: 2019-08-08-preview
          responses:
            "200":
              body:
                value: []
definitions:
  Display:
    description: Contains the localized display information for this particular operation / action.
    properties:
      description:
        description: The localized friendly description for the operation, as it should be shown to the user. It should be thorough, yet concise – it will be used in tool tips and detailed views.
        readOnly: true
        type: string
      operation:
        description: The localized friendly name for the operation, as it should be shown to the user.
        readOnly: true
        type: string
      provider:
        description: The localized friendly form of the resource provider name – it is expected to also include the publisher/company responsible. It should use Title Casing and begin with "Microsoft" for 1st party services. e.g. "Microsoft Monitoring Insights" or "Microsoft Compute."
        readOnly: true
        type: string
      resource:
        description: The localized friendly form of the resource type related to this action/operation – it should match the public documentation for the resource provider.
        readOnly: true
        type: string
  ErrorResponse:
    description: The error response for request which failed.
    properties:
      code:
        description: The error description code.
        readOnly: true
        type: string
      details:
        description: The error details information.
        items:
          type: string
        readOnly: true
        type: array
      message:
        description: The error description message.
        readOnly: true
        type: string
      target:
        description: The error target description.
        readOnly: true
        type: string
    type: object
  Operation:
    description: Describes the supported REST operation.
    properties:
      display:
        $ref: "#/definitions/Display"
        description: Contains the localized display information for this particular operation / action.
        readOnly: true
      name:
        description: The name of the operation being performed on this particular object. It should match the action name that appears in RBAC / the event service.
        readOnly: true
        type: string
  OperationList:
    description: Pageable list of supported operations.
    properties:
      value:
        description: List of operations
        items:
          $ref: "#/definitions/Operation"
        type: array
  Resource:
    description: Base resource object.
    properties:
      id:
        description: Resource ID.
        readOnly: true
        type: string
      location:
        description: Resource Location.
        readOnly: true
        type: string
      name:
        description: Resource Name.
        readOnly: true
        type: string
      type:
        description: Resource Type.
        readOnly: true
        type: string
    type: object
    x-ms-azure-resource: true
