swagger: "2.0"
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: Infrastructure role instance operation endpoints and objects.
  title: FabricAdminClient
  version: 2016-05-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/InfraRoleInstance.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-InfraRoleInstance
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Authorization uses an Azure Active Directory OAuth2 flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  InfraRoleInstanceParameter:
    description: Name of an infrastructure role instance.
    in: path
    name: infraRoleInstance
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoleInstances":
    get:
      description: Returns a list of all infrastructure role instances at a location.
      operationId: InfraRoleInstances_List
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2016-05-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
        - description: OData filter parameter.
          in: query
          name: $filter
          type: string
          x-ms-parameter-location: method
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/InfraRoleInstanceList"
        "404":
          description: NOT FOUND
      tags:
        - InfraRoleInstances
      x-ms-examples:
        Returns a list of all infrastructure role instances at a location.:
          parameters:
            api-version: 2016-05-01
            location: local
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-ACS01
                    location: local
                    name: local/AzS-ACS01
                    properties:
                      scaleUnit: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnits/S-Cluster
                      scaleUnitNode: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnitNodes/HC1u15a2437
                      size:
                        cores: 2
                        memoryGb: 8
                      state: Running
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoleInstances
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-ADFS01
                    location: local
                    name: local/AzS-ADFS01
                    properties:
                      scaleUnit: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnits/S-Cluster
                      scaleUnitNode: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnitNodes/HC1u15a2437
                      size:
                        cores: 2
                        memoryGb: 2
                      state: Running
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoleInstances
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-BGPNAT01
                    location: local
                    name: local/AzS-BGPNAT01
                    properties:
                      scaleUnit: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnits/S-Cluster
                      scaleUnitNode: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnitNodes/HC1u15a2437
                      size:
                        cores: 2
                        memoryGb: 2
                      state: Running
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoleInstances
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-CA01
                    location: local
                    name: local/AzS-CA01
                    properties:
                      scaleUnit: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnits/S-Cluster
                      scaleUnitNode: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnitNodes/HC1u15a2437
                      size:
                        cores: 2
                        memoryGb: 1
                      state: Running
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoleInstances
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Gwy01
                    location: local
                    name: local/AzS-Gwy01
                    properties:
                      scaleUnit: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnits/S-Cluster
                      scaleUnitNode: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnitNodes/HC1u15a2437
                      size:
                        cores: 4
                        memoryGb: 2
                      state: Running
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoleInstances
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-NC01
                    location: local
                    name: local/AzS-NC01
                    properties:
                      scaleUnit: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnits/S-Cluster
                      scaleUnitNode: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnitNodes/HC1u15a2437
                      size:
                        cores: 2
                        memoryGb: 4
                      state: Running
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoleInstances
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-SLB01
                    location: local
                    name: local/AzS-SLB01
                    properties:
                      scaleUnit: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnits/S-Cluster
                      scaleUnitNode: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnitNodes/HC1u15a2437
                      size:
                        cores: 4
                        memoryGb: 2
                      state: Running
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoleInstances
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Sql01
                    location: local
                    name: local/AzS-Sql01
                    properties:
                      scaleUnit: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnits/S-Cluster
                      scaleUnitNode: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnitNodes/HC1u15a2437
                      size:
                        cores: 2
                        memoryGb: 4
                      state: Running
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoleInstances
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WAS01
                    location: local
                    name: local/AzS-WAS01
                    properties:
                      scaleUnit: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnits/S-Cluster
                      scaleUnitNode: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnitNodes/HC1u15a2437
                      size:
                        cores: 2
                        memoryGb: 4
                      state: Running
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoleInstances
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-WASP01
                    location: local
                    name: local/AzS-WASP01
                    properties:
                      scaleUnit: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnits/S-Cluster
                      scaleUnitNode: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnitNodes/HC1u15a2437
                      size:
                        cores: 2
                        memoryGb: 8
                      state: Running
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoleInstances
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-Xrp01
                    location: local
                    name: local/AzS-Xrp01
                    properties:
                      scaleUnit: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnits/S-Cluster
                      scaleUnitNode: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnitNodes/HC1u15a2437
                      size:
                        cores: 4
                        memoryGb: 8
                      state: Running
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/infraRoleInstances
            "404": {}
      x-ms-odata: "#/definitions/InfraRoleInstance"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoleInstances/{infraRoleInstance}":
    get:
      description: Return the requested infrastructure role instance.
      operationId: InfraRoleInstances_Get
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/InfraRoleInstanceParameter"
        - default: 2016-05-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/InfraRoleInstance"
        "404":
          description: NOT FOUND
      tags:
        - InfraRoleInstances
      x-ms-examples:
        Return the requested infrastructure role instance.:
          parameters:
            api-version: 2016-05-01
            infraRoleInstance: AzS-NC01
            location: local
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoleInstances/AzS-BGPNAT01
                location: local
                name: local/AzS-BGPNAT01
                properties:
                  scaleUnit: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnits/S-Cluster
                  scaleUnitNode: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnitNodes/HC1u15a2437
                  size:
                    cores: 2
                    memoryGb: 2
                  state: Running
                tags: {}
                type: Microsoft.Fabric.Admin/fabricLocations/infraRoleInstances
            "404": {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoleInstances/{infraRoleInstance}/PowerOff":
    post:
      description: Power off an infrastructure role instance.
      operationId: InfraRoleInstances_PowerOff
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/InfraRoleInstanceParameter"
        - default: 2016-05-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
        "202":
          description: ACCEPTED
      tags:
        - InfraRoleInstances
      x-ms-examples:
        Power off an infrastructure role instance:
          parameters:
            api-version: 2016-05-01
            infraRoleInstance: AzS-NC01
            location: local
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoleInstances/{infraRoleInstance}/PowerOn":
    post:
      description: Power on an infrastructure role instance.
      operationId: InfraRoleInstances_PowerOn
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/InfraRoleInstanceParameter"
        - default: 2016-05-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
        "202":
          description: ACCEPTED
      tags:
        - InfraRoleInstances
      x-ms-examples:
        Power on an infrastructure role instance:
          parameters:
            api-version: 2016-05-01
            infraRoleInstance: AzS-NC01
            location: local
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoleInstances/{infraRoleInstance}/Reboot":
    post:
      description: Reboot an infrastructure role instance.
      operationId: InfraRoleInstances_Reboot
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/InfraRoleInstanceParameter"
        - default: 2016-05-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
        "202":
          description: ACCEPTED
      tags:
        - InfraRoleInstances
      x-ms-examples:
        Reboot an infrastructure role instance:
          parameters:
            api-version: 2016-05-01
            infraRoleInstance: AzS-NC01
            location: local
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/infraRoleInstances/{infraRoleInstance}/Shutdown":
    post:
      description: Shut down an infrastructure role instance.
      operationId: InfraRoleInstances_Shutdown
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/InfraRoleInstanceParameter"
        - default: 2016-05-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
        "202":
          description: ACCEPTED
      tags:
        - InfraRoleInstances
      x-ms-examples:
        Shutdown an infrastructure role instance:
          parameters:
            api-version: 2016-05-01
            infraRoleInstance: AzS-NC01
            location: local
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
definitions:
  InfraRoleInstance:
    allOf:
      - description: Base resource object.
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: The region where the resource is located.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key-value pairs.
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
    description: The virtual machine resource is used to represent an infrastructure virtual machine in the Azure Stack environment. The fabric resource provider only surfaces infrastructure virtual machines. These machines are never created directly by the admin, but rather as a side effect of expanding admin services.
    properties:
      properties:
        $ref: "#/definitions/InfraRoleInstanceModel"
        description: All properties of an infrastructure role instance.
        x-ms-client-flatten: true
    type: object
  InfraRoleInstanceList:
    description: Pageable list of infrastructure role instances.
    properties:
      nextLink:
        description: URI to the next page.
        type: string
      value:
        description: List of infrastructure role instances.
        items:
          $ref: "#/definitions/InfraRoleInstance"
        type: array
    type: object
  InfraRoleInstanceModel:
    description: All properties of an infrastructure role instance.
    properties:
      scaleUnit:
        description: The cluster that the virtual machine's host is part of.
        type: string
      scaleUnitNode:
        description: URI to the scale unit node.
        type: string
      size:
        $ref: "#/definitions/InfraRoleInstanceSize"
        description: Size of the virtual machine.
      state:
        description: The current state of the virtual machine.
        enum:
          - Stopped
          - Starting
          - Running
          - Stopping
        type: string
        x-ms-enum:
          modelAsString: true
          name: InfraRoleInstanceState
    type: object
  InfraRoleInstanceSize:
    description: The capacity information for a virtual machine.
    properties:
      cores:
        description: The number of cores assigned to the virtual machine.
        format: int32
        type: integer
      memoryGb:
        description: The amount of memory, in GB, currently assigned to the virtual machine.
        format: float
        type: number
    type: object
