swagger: "2.0"
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: AzureBridge Admin Client.
  title: AzureBridgeAdminClient
  version: 2016-01-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/azurebridge/Microsoft.AzureBridge.Admin/preview/2016-01-01/DownloadedProduct.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-DownloadedProduct
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Authorization uses an Azure Active Directory OAuth2 flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  DownloadedProductParameter:
    description: Downloaded product resource definition.
    in: body
    name: downloadedProduct
    required: true
    schema:
      allOf:
        - description: Base Resource Object
          properties:
            id:
              description: URI of the resource.
              readOnly: true
              type: string
            location:
              description: Location of the resource
              readOnly: true
              type: string
            name:
              description: Name of the resource.
              readOnly: true
              type: string
            tags:
              additionalProperties:
                type: string
              description: List of key value pairs.
              readOnly: true
              type: object
            type:
              description: Type of resource.
              readOnly: true
              type: string
          type: object
          x-ms-azure-resource: true
      description: Downloaded product resource.
      properties:
        properties:
          allOf:
            - description: Base object for all product classes.
              properties:
                billingPartNumber:
                  description: Billing part number.
                  type: string
                compatibility:
                  description: Product compatibility
                  properties:
                    description:
                      description: Full error message if any compatibility issues are found
                      type: string
                    isCompatible:
                      description: Tells if product is compatible with current device
                      type: boolean
                    issues:
                      description: List of all issues found
                      items:
                        description: Compatibility issue
                        enum:
                          - HigherDeviceVersionRequired
                          - LowerDeviceVersionRequired
                          - CapacityBillingModelRequired
                          - PayAsYouGoBillingModelRequired
                          - DevelopmentBillingModelRequired
                          - AzureADIdentitySystemRequired
                          - ADFSIdentitySystemRequired
                          - ConnectionToInternetRequired
                          - ConnectionToAzureRequired
                          - DisconnectedEnvironmentRequired
                        type: string
                        x-ms-enum:
                          modelAsString: true
                          name: CompatibilityIssue
                      type: array
                    message:
                      description: Short error message if any compatibility issues are found
                      type: string
                  type: object
                description:
                  description: Description of the product.
                  type: string
                displayName:
                  description: Name displayed for the product.
                  type: string
                galleryItemIdentity:
                  description: Gallery item identity.
                  type: string
                iconUris:
                  description: Icons for the gallery items.
                  properties:
                    hero:
                      description: The hero (815x290) icon relative path.
                      type: string
                    large:
                      description: The large (115x115) icon relative path.
                      type: string
                    medium:
                      description: The medium (90x90) icon relative path.
                      type: string
                    small:
                      description: The small (40x40) icon relative path.
                      type: string
                    wide:
                      description: The wide (255x115) icon relative path.
                      type: string
                  type: object
                offer:
                  description: Offer name.
                  type: string
                offerVersion:
                  description: Offer version.
                  type: string
                payloadLength:
                  description: Size in bytes.
                  format: int64
                  type: integer
                productKind:
                  description: The kind. E.g. VirtualMachineProductProperties.ProductKind or WebApp, SolutionTemplate.
                  type: string
                productProperties:
                  description: Additional properties of the product
                  properties:
                    version:
                      description: The version of the product
                      type: string
                  type: object
                publisherDisplayName:
                  description: Name of publisher.
                  type: string
                publisherIdentifier:
                  description: Publisher identifier.
                  type: string
                sku:
                  description: Product SKU.
                  type: string
              type: object
          description: Properties for aggregate usage.
          properties:
            galleryPackageBlobSasUri:
              description: The URI to the .azpkg file that provides information required for showing product in the gallery.
              readOnly: true
              type: string
            legalTerms:
              description: Legal terms for the product.
              type: string
            links:
              description: List of product links.
              items:
                description: Link to a product.
                properties:
                  displayName:
                    description: Displayed name of product.
                    type: string
                  uri:
                    description: URI to product.
                    type: string
                type: object
              type: array
            privacyPolicy:
              description: Privacy policy of the product.
              type: string
            productDetailsProperties:
              allOf:
                - description: Product information.
                  properties:
                    computeRole:
                      description: Compute role type (IaaS or PaaS).
                      enum:
                        - None
                        - IaaS
                        - PaaS
                      type: string
                      x-ms-enum:
                        modelAsString: true
                        name: ComputeRole
                    isSystemExtension:
                      description: Specifies if product is a Virtual Machine Extension.
                      readOnly: true
                      type: boolean
                    sourceBlob:
                      description: The URI.
                      properties:
                        uri:
                          description: The URI.
                          readOnly: true
                          type: string
                      type: object
                    supportMultipleExtensions:
                      description: Indicates if specified product supports multiple extensions.
                      readOnly: true
                      type: boolean
                    version:
                      description: Specifies product version.
                      readOnly: true
                      type: string
                    vmOsType:
                      description: Operating system type (Windows or Linux).
                      enum:
                        - None
                        - Windows
                        - Linux
                      type: string
                      x-ms-enum:
                        modelAsString: true
                        name: OperatingSystem
                    vmScaleSetEnabled:
                      description: Indicates if virtual machine Scale Set is enabled in the specified product.
                      readOnly: true
                      type: boolean
                  type: object
                - description: Product information.
                  properties:
                    dataDiskImages:
                      description: List of attached data disks.
                      items:
                        description: Data disk image.
                        properties:
                          lun:
                            description: The LUN.
                            format: int32
                            readOnly: true
                            type: integer
                          sourceBlobSasUri:
                            description: SAS key for source blob.
                            readOnly: true
                            type: string
                        type: object
                      readOnly: true
                      type: array
                    osDiskImage:
                      description: OS disk image.
                      properties:
                        operatingSystem:
                          description: Operating system type (Windows or Linux).
                          enum:
                            - None
                            - Windows
                            - Linux
                          type: string
                          x-ms-enum:
                            modelAsString: true
                            name: OperatingSystem
                        sourceBlobSasUri:
                          description: SAS key for source blob.
                          readOnly: true
                          type: string
                      type: object
                    version:
                      description: Specifies product version.
                      readOnly: true
                      type: string
                  type: object
              description: Product information.
              properties: {}
              type: object
            provisioningState:
              description: The provisioning state of the resource.
              enum:
                - Stopped
                - Starting
                - Running
                - Stopping
                - Succeeded
                - Downloading
              type: string
              x-ms-enum:
                modelAsString: true
                name: ProvisioningState
            vmExtensionType:
              description: Extension type of the VM.
              type: string
          type: object
      type: object
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}/downloadedProducts":
    get:
      description: Get a list of downloaded products.
      operationId: DownloadedProducts_List
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group the resource is located under.
          in: path
          name: resourceGroup
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of the activation.
          in: path
          name: activationName
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2016-01-01
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DownloadedProductResourcesPage"
      tags:
        - DownloadedProducts
      x-ms-examples:
        Get a list of downloaded products.:
          parameters:
            activationName: default
            api-version: 2015-06-01-preview
            location: local
            resourceGroup: azurestack
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/downloadedProducts/Canonical.UbuntuServer1710-ARM.1.0.6
                    name: default/Canonical.UbuntuServer1710-ARM.1.0.6
                    properties:
                      billingPartNumber: ""
                      description: Ubuntu Server 17.10 amd64 20180109 Public Azure, 20180109 Azure China, 20180109 Azure Germany. Ubuntu Server is the world's most popular Linux for cloud environments. Updates and patches for Ubuntu 17.10 will be available until July 2018.  Ubuntu Server is the perfect virtual machine (VM) platform for all workloads from web applications to NoSQL databases and Hadoop. For more information see <a href='http://partners.ubuntu.com/microsoft' target='_blank'>Ubuntu on Azure</a> and <a href='http://juju.ubuntu.com' target='_blank'>using Juju to deploy your workloads</a>.<p><h3 class='msportalfx-text-header'>Legal Terms</h3></p><p>By clicking the Create button, I acknowledge that I am getting this software from Canonical and that the <a href='http://www.ubuntu.com/project/about-ubuntu/licensing' target='_blank'>legal terms</a> of Canonical apply to it. Microsoft does not provide rights for third-party software. Also see the <a href='http://www.ubuntu.com/aboutus/privacypolicy' target='_blank'>privacy statement</a> from Canonical.</p>
                      displayName: Ubuntu Server 17.10
                      galleryItemIdentity: Canonical.UbuntuServer1710-ARM.1.0.6
                      iconUris:
                        large: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1710-ARM.1.0.6/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1710-ARM.1.0.6/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1710-ARM.1.0.6/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1710-ARM.1.0.6/icons/Wide.png
                      legalTerms: http://www.ubuntu.com/project/about-ubuntu/licensing
                      links:
                        - displayName: Linux VM Documentation
                          uri: https://docs.microsoft.com/azure/virtual-machines/linux/
                        - displayName: Ubuntu Documentation
                          uri: https://help.ubuntu.com/17.10/index.html
                        - displayName: FAQ
                          uri: https://help.ubuntu.com/community/ServerFaq
                        - displayName: Pricing details
                          uri: http://azure.microsoft.com/en-us/pricing/details/virtual-machines/#linux
                      offer: UbuntuServer
                      offerVersion: 1.0.6
                      payloadLength: 32212288186
                      privacyPolicy: http://www.ubuntu.com/aboutus/privacypolicy
                      productKind: VirtualMachine
                      productProperties:
                        version: 17.10.201801090
                      provisioningState: Downloading
                      publisherDisplayName: Canonical
                      publisherIdentifier: Canonical
                      sku: "17.10"
                    type: Microsoft.AzureBridge.Admin/activations/downloadedProducts
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}/downloadedProducts/{productName}":
    delete:
      description: Delete a downloaded product.
      operationId: DownloadedProducts_Delete
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group the resource is located under.
          in: path
          name: resourceGroup
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of the activation.
          in: path
          name: activationName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of the product.
          in: path
          name: productName
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2016-01-01
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: Accepted
          schema:
            allOf:
              - description: Base Resource Object
                properties:
                  id:
                    description: URI of the resource.
                    readOnly: true
                    type: string
                  location:
                    description: Location of the resource
                    readOnly: true
                    type: string
                  name:
                    description: Name of the resource.
                    readOnly: true
                    type: string
                  tags:
                    additionalProperties:
                      type: string
                    description: List of key value pairs.
                    readOnly: true
                    type: object
                  type:
                    description: Type of resource.
                    readOnly: true
                    type: string
                type: object
                x-ms-azure-resource: true
            description: Downloaded product resource.
            properties:
              properties:
                allOf:
                  - description: Base object for all product classes.
                    properties:
                      billingPartNumber:
                        description: Billing part number.
                        type: string
                      compatibility:
                        description: Product compatibility
                        properties:
                          description:
                            description: Full error message if any compatibility issues are found
                            type: string
                          isCompatible:
                            description: Tells if product is compatible with current device
                            type: boolean
                          issues:
                            description: List of all issues found
                            items:
                              description: Compatibility issue
                              enum:
                                - HigherDeviceVersionRequired
                                - LowerDeviceVersionRequired
                                - CapacityBillingModelRequired
                                - PayAsYouGoBillingModelRequired
                                - DevelopmentBillingModelRequired
                                - AzureADIdentitySystemRequired
                                - ADFSIdentitySystemRequired
                                - ConnectionToInternetRequired
                                - ConnectionToAzureRequired
                                - DisconnectedEnvironmentRequired
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: CompatibilityIssue
                            type: array
                          message:
                            description: Short error message if any compatibility issues are found
                            type: string
                        type: object
                      description:
                        description: Description of the product.
                        type: string
                      displayName:
                        description: Name displayed for the product.
                        type: string
                      galleryItemIdentity:
                        description: Gallery item identity.
                        type: string
                      iconUris:
                        description: Icons for the gallery items.
                        properties:
                          hero:
                            description: The hero (815x290) icon relative path.
                            type: string
                          large:
                            description: The large (115x115) icon relative path.
                            type: string
                          medium:
                            description: The medium (90x90) icon relative path.
                            type: string
                          small:
                            description: The small (40x40) icon relative path.
                            type: string
                          wide:
                            description: The wide (255x115) icon relative path.
                            type: string
                        type: object
                      offer:
                        description: Offer name.
                        type: string
                      offerVersion:
                        description: Offer version.
                        type: string
                      payloadLength:
                        description: Size in bytes.
                        format: int64
                        type: integer
                      productKind:
                        description: The kind. E.g. VirtualMachineProductProperties.ProductKind or WebApp, SolutionTemplate.
                        type: string
                      productProperties:
                        description: Additional properties of the product
                        properties:
                          version:
                            description: The version of the product
                            type: string
                        type: object
                      publisherDisplayName:
                        description: Name of publisher.
                        type: string
                      publisherIdentifier:
                        description: Publisher identifier.
                        type: string
                      sku:
                        description: Product SKU.
                        type: string
                    type: object
                description: Properties for aggregate usage.
                properties:
                  galleryPackageBlobSasUri:
                    description: The URI to the .azpkg file that provides information required for showing product in the gallery.
                    readOnly: true
                    type: string
                  legalTerms:
                    description: Legal terms for the product.
                    type: string
                  links:
                    description: List of product links.
                    items:
                      description: Link to a product.
                      properties:
                        displayName:
                          description: Displayed name of product.
                          type: string
                        uri:
                          description: URI to product.
                          type: string
                      type: object
                    type: array
                  privacyPolicy:
                    description: Privacy policy of the product.
                    type: string
                  productDetailsProperties:
                    allOf:
                      - description: Product information.
                        properties:
                          computeRole:
                            description: Compute role type (IaaS or PaaS).
                            enum:
                              - None
                              - IaaS
                              - PaaS
                            type: string
                            x-ms-enum:
                              modelAsString: true
                              name: ComputeRole
                          isSystemExtension:
                            description: Specifies if product is a Virtual Machine Extension.
                            readOnly: true
                            type: boolean
                          sourceBlob:
                            description: The URI.
                            properties:
                              uri:
                                description: The URI.
                                readOnly: true
                                type: string
                            type: object
                          supportMultipleExtensions:
                            description: Indicates if specified product supports multiple extensions.
                            readOnly: true
                            type: boolean
                          version:
                            description: Specifies product version.
                            readOnly: true
                            type: string
                          vmOsType:
                            description: Operating system type (Windows or Linux).
                            enum:
                              - None
                              - Windows
                              - Linux
                            type: string
                            x-ms-enum:
                              modelAsString: true
                              name: OperatingSystem
                          vmScaleSetEnabled:
                            description: Indicates if virtual machine Scale Set is enabled in the specified product.
                            readOnly: true
                            type: boolean
                        type: object
                      - description: Product information.
                        properties:
                          dataDiskImages:
                            description: List of attached data disks.
                            items:
                              description: Data disk image.
                              properties:
                                lun:
                                  description: The LUN.
                                  format: int32
                                  readOnly: true
                                  type: integer
                                sourceBlobSasUri:
                                  description: SAS key for source blob.
                                  readOnly: true
                                  type: string
                              type: object
                            readOnly: true
                            type: array
                          osDiskImage:
                            description: OS disk image.
                            properties:
                              operatingSystem:
                                description: Operating system type (Windows or Linux).
                                enum:
                                  - None
                                  - Windows
                                  - Linux
                                type: string
                                x-ms-enum:
                                  modelAsString: true
                                  name: OperatingSystem
                              sourceBlobSasUri:
                                description: SAS key for source blob.
                                readOnly: true
                                type: string
                            type: object
                          version:
                            description: Specifies product version.
                            readOnly: true
                            type: string
                        type: object
                    description: Product information.
                    properties: {}
                    type: object
                  provisioningState:
                    description: The provisioning state of the resource.
                    enum:
                      - Stopped
                      - Starting
                      - Running
                      - Stopping
                      - Succeeded
                      - Downloading
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: ProvisioningState
                  vmExtensionType:
                    description: Extension type of the VM.
                    type: string
                type: object
            type: object
        "202":
          description: Accepted
          schema:
            allOf:
              - description: Base Resource Object
                properties:
                  id:
                    description: URI of the resource.
                    readOnly: true
                    type: string
                  location:
                    description: Location of the resource
                    readOnly: true
                    type: string
                  name:
                    description: Name of the resource.
                    readOnly: true
                    type: string
                  tags:
                    additionalProperties:
                      type: string
                    description: List of key value pairs.
                    readOnly: true
                    type: object
                  type:
                    description: Type of resource.
                    readOnly: true
                    type: string
                type: object
                x-ms-azure-resource: true
            description: Downloaded product resource.
            properties:
              properties:
                allOf:
                  - description: Base object for all product classes.
                    properties:
                      billingPartNumber:
                        description: Billing part number.
                        type: string
                      compatibility:
                        description: Product compatibility
                        properties:
                          description:
                            description: Full error message if any compatibility issues are found
                            type: string
                          isCompatible:
                            description: Tells if product is compatible with current device
                            type: boolean
                          issues:
                            description: List of all issues found
                            items:
                              description: Compatibility issue
                              enum:
                                - HigherDeviceVersionRequired
                                - LowerDeviceVersionRequired
                                - CapacityBillingModelRequired
                                - PayAsYouGoBillingModelRequired
                                - DevelopmentBillingModelRequired
                                - AzureADIdentitySystemRequired
                                - ADFSIdentitySystemRequired
                                - ConnectionToInternetRequired
                                - ConnectionToAzureRequired
                                - DisconnectedEnvironmentRequired
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: CompatibilityIssue
                            type: array
                          message:
                            description: Short error message if any compatibility issues are found
                            type: string
                        type: object
                      description:
                        description: Description of the product.
                        type: string
                      displayName:
                        description: Name displayed for the product.
                        type: string
                      galleryItemIdentity:
                        description: Gallery item identity.
                        type: string
                      iconUris:
                        description: Icons for the gallery items.
                        properties:
                          hero:
                            description: The hero (815x290) icon relative path.
                            type: string
                          large:
                            description: The large (115x115) icon relative path.
                            type: string
                          medium:
                            description: The medium (90x90) icon relative path.
                            type: string
                          small:
                            description: The small (40x40) icon relative path.
                            type: string
                          wide:
                            description: The wide (255x115) icon relative path.
                            type: string
                        type: object
                      offer:
                        description: Offer name.
                        type: string
                      offerVersion:
                        description: Offer version.
                        type: string
                      payloadLength:
                        description: Size in bytes.
                        format: int64
                        type: integer
                      productKind:
                        description: The kind. E.g. VirtualMachineProductProperties.ProductKind or WebApp, SolutionTemplate.
                        type: string
                      productProperties:
                        description: Additional properties of the product
                        properties:
                          version:
                            description: The version of the product
                            type: string
                        type: object
                      publisherDisplayName:
                        description: Name of publisher.
                        type: string
                      publisherIdentifier:
                        description: Publisher identifier.
                        type: string
                      sku:
                        description: Product SKU.
                        type: string
                    type: object
                description: Properties for aggregate usage.
                properties:
                  galleryPackageBlobSasUri:
                    description: The URI to the .azpkg file that provides information required for showing product in the gallery.
                    readOnly: true
                    type: string
                  legalTerms:
                    description: Legal terms for the product.
                    type: string
                  links:
                    description: List of product links.
                    items:
                      description: Link to a product.
                      properties:
                        displayName:
                          description: Displayed name of product.
                          type: string
                        uri:
                          description: URI to product.
                          type: string
                      type: object
                    type: array
                  privacyPolicy:
                    description: Privacy policy of the product.
                    type: string
                  productDetailsProperties:
                    allOf:
                      - description: Product information.
                        properties:
                          computeRole:
                            description: Compute role type (IaaS or PaaS).
                            enum:
                              - None
                              - IaaS
                              - PaaS
                            type: string
                            x-ms-enum:
                              modelAsString: true
                              name: ComputeRole
                          isSystemExtension:
                            description: Specifies if product is a Virtual Machine Extension.
                            readOnly: true
                            type: boolean
                          sourceBlob:
                            description: The URI.
                            properties:
                              uri:
                                description: The URI.
                                readOnly: true
                                type: string
                            type: object
                          supportMultipleExtensions:
                            description: Indicates if specified product supports multiple extensions.
                            readOnly: true
                            type: boolean
                          version:
                            description: Specifies product version.
                            readOnly: true
                            type: string
                          vmOsType:
                            description: Operating system type (Windows or Linux).
                            enum:
                              - None
                              - Windows
                              - Linux
                            type: string
                            x-ms-enum:
                              modelAsString: true
                              name: OperatingSystem
                          vmScaleSetEnabled:
                            description: Indicates if virtual machine Scale Set is enabled in the specified product.
                            readOnly: true
                            type: boolean
                        type: object
                      - description: Product information.
                        properties:
                          dataDiskImages:
                            description: List of attached data disks.
                            items:
                              description: Data disk image.
                              properties:
                                lun:
                                  description: The LUN.
                                  format: int32
                                  readOnly: true
                                  type: integer
                                sourceBlobSasUri:
                                  description: SAS key for source blob.
                                  readOnly: true
                                  type: string
                              type: object
                            readOnly: true
                            type: array
                          osDiskImage:
                            description: OS disk image.
                            properties:
                              operatingSystem:
                                description: Operating system type (Windows or Linux).
                                enum:
                                  - None
                                  - Windows
                                  - Linux
                                type: string
                                x-ms-enum:
                                  modelAsString: true
                                  name: OperatingSystem
                              sourceBlobSasUri:
                                description: SAS key for source blob.
                                readOnly: true
                                type: string
                            type: object
                          version:
                            description: Specifies product version.
                            readOnly: true
                            type: string
                        type: object
                    description: Product information.
                    properties: {}
                    type: object
                  provisioningState:
                    description: The provisioning state of the resource.
                    enum:
                      - Stopped
                      - Starting
                      - Running
                      - Stopping
                      - Succeeded
                      - Downloading
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: ProvisioningState
                  vmExtensionType:
                    description: Extension type of the VM.
                    type: string
                type: object
            type: object
        "404":
          description: Not Found
      tags:
        - DownloadedProducts
      x-ms-examples:
        Deletes the specified downloaded product.:
          parameters:
            activationName: default
            api-version: 2015-06-01-preview
            location: local
            productName: Canonical.UbuntuServer1710-ARM.1.0.6
            resourceGroup: azurestack
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body: {}
            "202":
              body: {}
            "404": {}
      x-ms-long-running-operation: true
    get:
      description: Get a downloaded product.
      operationId: DownloadedProducts_Get
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group the resource is located under.
          in: path
          name: resourceGroup
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of the activation.
          in: path
          name: activationName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of the product.
          in: path
          name: productName
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2016-01-01
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            allOf:
              - description: Base Resource Object
                properties:
                  id:
                    description: URI of the resource.
                    readOnly: true
                    type: string
                  location:
                    description: Location of the resource
                    readOnly: true
                    type: string
                  name:
                    description: Name of the resource.
                    readOnly: true
                    type: string
                  tags:
                    additionalProperties:
                      type: string
                    description: List of key value pairs.
                    readOnly: true
                    type: object
                  type:
                    description: Type of resource.
                    readOnly: true
                    type: string
                type: object
                x-ms-azure-resource: true
            description: Downloaded product resource.
            properties:
              properties:
                allOf:
                  - description: Base object for all product classes.
                    properties:
                      billingPartNumber:
                        description: Billing part number.
                        type: string
                      compatibility:
                        description: Product compatibility
                        properties:
                          description:
                            description: Full error message if any compatibility issues are found
                            type: string
                          isCompatible:
                            description: Tells if product is compatible with current device
                            type: boolean
                          issues:
                            description: List of all issues found
                            items:
                              description: Compatibility issue
                              enum:
                                - HigherDeviceVersionRequired
                                - LowerDeviceVersionRequired
                                - CapacityBillingModelRequired
                                - PayAsYouGoBillingModelRequired
                                - DevelopmentBillingModelRequired
                                - AzureADIdentitySystemRequired
                                - ADFSIdentitySystemRequired
                                - ConnectionToInternetRequired
                                - ConnectionToAzureRequired
                                - DisconnectedEnvironmentRequired
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: CompatibilityIssue
                            type: array
                          message:
                            description: Short error message if any compatibility issues are found
                            type: string
                        type: object
                      description:
                        description: Description of the product.
                        type: string
                      displayName:
                        description: Name displayed for the product.
                        type: string
                      galleryItemIdentity:
                        description: Gallery item identity.
                        type: string
                      iconUris:
                        description: Icons for the gallery items.
                        properties:
                          hero:
                            description: The hero (815x290) icon relative path.
                            type: string
                          large:
                            description: The large (115x115) icon relative path.
                            type: string
                          medium:
                            description: The medium (90x90) icon relative path.
                            type: string
                          small:
                            description: The small (40x40) icon relative path.
                            type: string
                          wide:
                            description: The wide (255x115) icon relative path.
                            type: string
                        type: object
                      offer:
                        description: Offer name.
                        type: string
                      offerVersion:
                        description: Offer version.
                        type: string
                      payloadLength:
                        description: Size in bytes.
                        format: int64
                        type: integer
                      productKind:
                        description: The kind. E.g. VirtualMachineProductProperties.ProductKind or WebApp, SolutionTemplate.
                        type: string
                      productProperties:
                        description: Additional properties of the product
                        properties:
                          version:
                            description: The version of the product
                            type: string
                        type: object
                      publisherDisplayName:
                        description: Name of publisher.
                        type: string
                      publisherIdentifier:
                        description: Publisher identifier.
                        type: string
                      sku:
                        description: Product SKU.
                        type: string
                    type: object
                description: Properties for aggregate usage.
                properties:
                  galleryPackageBlobSasUri:
                    description: The URI to the .azpkg file that provides information required for showing product in the gallery.
                    readOnly: true
                    type: string
                  legalTerms:
                    description: Legal terms for the product.
                    type: string
                  links:
                    description: List of product links.
                    items:
                      description: Link to a product.
                      properties:
                        displayName:
                          description: Displayed name of product.
                          type: string
                        uri:
                          description: URI to product.
                          type: string
                      type: object
                    type: array
                  privacyPolicy:
                    description: Privacy policy of the product.
                    type: string
                  productDetailsProperties:
                    allOf:
                      - description: Product information.
                        properties:
                          computeRole:
                            description: Compute role type (IaaS or PaaS).
                            enum:
                              - None
                              - IaaS
                              - PaaS
                            type: string
                            x-ms-enum:
                              modelAsString: true
                              name: ComputeRole
                          isSystemExtension:
                            description: Specifies if product is a Virtual Machine Extension.
                            readOnly: true
                            type: boolean
                          sourceBlob:
                            description: The URI.
                            properties:
                              uri:
                                description: The URI.
                                readOnly: true
                                type: string
                            type: object
                          supportMultipleExtensions:
                            description: Indicates if specified product supports multiple extensions.
                            readOnly: true
                            type: boolean
                          version:
                            description: Specifies product version.
                            readOnly: true
                            type: string
                          vmOsType:
                            description: Operating system type (Windows or Linux).
                            enum:
                              - None
                              - Windows
                              - Linux
                            type: string
                            x-ms-enum:
                              modelAsString: true
                              name: OperatingSystem
                          vmScaleSetEnabled:
                            description: Indicates if virtual machine Scale Set is enabled in the specified product.
                            readOnly: true
                            type: boolean
                        type: object
                      - description: Product information.
                        properties:
                          dataDiskImages:
                            description: List of attached data disks.
                            items:
                              description: Data disk image.
                              properties:
                                lun:
                                  description: The LUN.
                                  format: int32
                                  readOnly: true
                                  type: integer
                                sourceBlobSasUri:
                                  description: SAS key for source blob.
                                  readOnly: true
                                  type: string
                              type: object
                            readOnly: true
                            type: array
                          osDiskImage:
                            description: OS disk image.
                            properties:
                              operatingSystem:
                                description: Operating system type (Windows or Linux).
                                enum:
                                  - None
                                  - Windows
                                  - Linux
                                type: string
                                x-ms-enum:
                                  modelAsString: true
                                  name: OperatingSystem
                              sourceBlobSasUri:
                                description: SAS key for source blob.
                                readOnly: true
                                type: string
                            type: object
                          version:
                            description: Specifies product version.
                            readOnly: true
                            type: string
                        type: object
                    description: Product information.
                    properties: {}
                    type: object
                  provisioningState:
                    description: The provisioning state of the resource.
                    enum:
                      - Stopped
                      - Starting
                      - Running
                      - Stopping
                      - Succeeded
                      - Downloading
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: ProvisioningState
                  vmExtensionType:
                    description: Extension type of the VM.
                    type: string
                type: object
            type: object
        "404":
          description: Not Found
      tags:
        - DownloadedProducts
      x-ms-examples:
        Gets the specified downloaded product.:
          parameters:
            activationName: default
            api-version: 2015-06-01-preview
            location: local
            productName: Canonical.UbuntuServer1710-ARM.1.0.6
            resourceGroup: azurestack
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/downloadedProducts/Canonical.UbuntuServer1710-ARM.1.0.6
                name: default/Canonical.UbuntuServer1710-ARM.1.0.6
                properties:
                  billingPartNumber: ""
                  description: Ubuntu Server 17.10 amd64 20180109 Public Azure, 20180109 Azure China, 20180109 Azure Germany. Ubuntu Server is the world's most popular Linux for cloud environments. Updates and patches for Ubuntu 17.10 will be available until July 2018.  Ubuntu Server is the perfect virtual machine (VM) platform for all workloads from web applications to NoSQL databases and Hadoop. For more information see <a href='http://partners.ubuntu.com/microsoft' target='_blank'>Ubuntu on Azure</a> and <a href='http://juju.ubuntu.com' target='_blank'>using Juju to deploy your workloads</a>.<p><h3 class='msportalfx-text-header'>Legal Terms</h3></p><p>By clicking the Create button, I acknowledge that I am getting this software from Canonical and that the <a href='http://www.ubuntu.com/project/about-ubuntu/licensing' target='_blank'>legal terms</a> of Canonical apply to it. Microsoft does not provide rights for third-party software. Also see the <a href='http://www.ubuntu.com/aboutus/privacypolicy' target='_blank'>privacy statement</a> from Canonical.</p>
                  displayName: Ubuntu Server 17.10
                  galleryItemIdentity: Canonical.UbuntuServer1710-ARM.1.0.6
                  iconUris:
                    large: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1710-ARM.1.0.6/icons/Large.png
                    medium: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1710-ARM.1.0.6/icons/Medium.png
                    small: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1710-ARM.1.0.6/icons/Small.png
                    wide: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1710-ARM.1.0.6/icons/Wide.png
                  legalTerms: http://www.ubuntu.com/project/about-ubuntu/licensing
                  links:
                    - displayName: Linux VM Documentation
                      uri: https://docs.microsoft.com/azure/virtual-machines/linux/
                    - displayName: Ubuntu Documentation
                      uri: https://help.ubuntu.com/17.10/index.html
                    - displayName: FAQ
                      uri: https://help.ubuntu.com/community/ServerFaq
                    - displayName: Pricing details
                      uri: http://azure.microsoft.com/en-us/pricing/details/virtual-machines/#linux
                  offer: UbuntuServer
                  offerVersion: 1.0.6
                  payloadLength: 32212288186
                  privacyPolicy: http://www.ubuntu.com/aboutus/privacypolicy
                  productKind: VirtualMachine
                  productProperties:
                    version: 17.10.201801090
                  provisioningState: Downloading
                  publisherDisplayName: Canonical
                  publisherIdentifier: Canonical
                  sku: "17.10"
                type: Microsoft.AzureBridge.Admin/activations/downloadedProducts
            "404": {}
    put:
      description: Creates a downloaded product.
      operationId: DownloadedProducts_Create
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group the resource is located under.
          in: path
          name: resourceGroup
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of the activation.
          in: path
          name: activationName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of the product.
          in: path
          name: productName
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2016-01-01
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
        - $ref: "#/parameters/DownloadedProductParameter"
      responses:
        "200":
          description: OK
          schema:
            allOf:
              - description: Base Resource Object
                properties:
                  id:
                    description: URI of the resource.
                    readOnly: true
                    type: string
                  location:
                    description: Location of the resource
                    readOnly: true
                    type: string
                  name:
                    description: Name of the resource.
                    readOnly: true
                    type: string
                  tags:
                    additionalProperties:
                      type: string
                    description: List of key value pairs.
                    readOnly: true
                    type: object
                  type:
                    description: Type of resource.
                    readOnly: true
                    type: string
                type: object
                x-ms-azure-resource: true
            description: Downloaded product resource.
            properties:
              properties:
                allOf:
                  - description: Base object for all product classes.
                    properties:
                      billingPartNumber:
                        description: Billing part number.
                        type: string
                      compatibility:
                        description: Product compatibility
                        properties:
                          description:
                            description: Full error message if any compatibility issues are found
                            type: string
                          isCompatible:
                            description: Tells if product is compatible with current device
                            type: boolean
                          issues:
                            description: List of all issues found
                            items:
                              description: Compatibility issue
                              enum:
                                - HigherDeviceVersionRequired
                                - LowerDeviceVersionRequired
                                - CapacityBillingModelRequired
                                - PayAsYouGoBillingModelRequired
                                - DevelopmentBillingModelRequired
                                - AzureADIdentitySystemRequired
                                - ADFSIdentitySystemRequired
                                - ConnectionToInternetRequired
                                - ConnectionToAzureRequired
                                - DisconnectedEnvironmentRequired
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: CompatibilityIssue
                            type: array
                          message:
                            description: Short error message if any compatibility issues are found
                            type: string
                        type: object
                      description:
                        description: Description of the product.
                        type: string
                      displayName:
                        description: Name displayed for the product.
                        type: string
                      galleryItemIdentity:
                        description: Gallery item identity.
                        type: string
                      iconUris:
                        description: Icons for the gallery items.
                        properties:
                          hero:
                            description: The hero (815x290) icon relative path.
                            type: string
                          large:
                            description: The large (115x115) icon relative path.
                            type: string
                          medium:
                            description: The medium (90x90) icon relative path.
                            type: string
                          small:
                            description: The small (40x40) icon relative path.
                            type: string
                          wide:
                            description: The wide (255x115) icon relative path.
                            type: string
                        type: object
                      offer:
                        description: Offer name.
                        type: string
                      offerVersion:
                        description: Offer version.
                        type: string
                      payloadLength:
                        description: Size in bytes.
                        format: int64
                        type: integer
                      productKind:
                        description: The kind. E.g. VirtualMachineProductProperties.ProductKind or WebApp, SolutionTemplate.
                        type: string
                      productProperties:
                        description: Additional properties of the product
                        properties:
                          version:
                            description: The version of the product
                            type: string
                        type: object
                      publisherDisplayName:
                        description: Name of publisher.
                        type: string
                      publisherIdentifier:
                        description: Publisher identifier.
                        type: string
                      sku:
                        description: Product SKU.
                        type: string
                    type: object
                description: Properties for aggregate usage.
                properties:
                  galleryPackageBlobSasUri:
                    description: The URI to the .azpkg file that provides information required for showing product in the gallery.
                    readOnly: true
                    type: string
                  legalTerms:
                    description: Legal terms for the product.
                    type: string
                  links:
                    description: List of product links.
                    items:
                      description: Link to a product.
                      properties:
                        displayName:
                          description: Displayed name of product.
                          type: string
                        uri:
                          description: URI to product.
                          type: string
                      type: object
                    type: array
                  privacyPolicy:
                    description: Privacy policy of the product.
                    type: string
                  productDetailsProperties:
                    allOf:
                      - description: Product information.
                        properties:
                          computeRole:
                            description: Compute role type (IaaS or PaaS).
                            enum:
                              - None
                              - IaaS
                              - PaaS
                            type: string
                            x-ms-enum:
                              modelAsString: true
                              name: ComputeRole
                          isSystemExtension:
                            description: Specifies if product is a Virtual Machine Extension.
                            readOnly: true
                            type: boolean
                          sourceBlob:
                            description: The URI.
                            properties:
                              uri:
                                description: The URI.
                                readOnly: true
                                type: string
                            type: object
                          supportMultipleExtensions:
                            description: Indicates if specified product supports multiple extensions.
                            readOnly: true
                            type: boolean
                          version:
                            description: Specifies product version.
                            readOnly: true
                            type: string
                          vmOsType:
                            description: Operating system type (Windows or Linux).
                            enum:
                              - None
                              - Windows
                              - Linux
                            type: string
                            x-ms-enum:
                              modelAsString: true
                              name: OperatingSystem
                          vmScaleSetEnabled:
                            description: Indicates if virtual machine Scale Set is enabled in the specified product.
                            readOnly: true
                            type: boolean
                        type: object
                      - description: Product information.
                        properties:
                          dataDiskImages:
                            description: List of attached data disks.
                            items:
                              description: Data disk image.
                              properties:
                                lun:
                                  description: The LUN.
                                  format: int32
                                  readOnly: true
                                  type: integer
                                sourceBlobSasUri:
                                  description: SAS key for source blob.
                                  readOnly: true
                                  type: string
                              type: object
                            readOnly: true
                            type: array
                          osDiskImage:
                            description: OS disk image.
                            properties:
                              operatingSystem:
                                description: Operating system type (Windows or Linux).
                                enum:
                                  - None
                                  - Windows
                                  - Linux
                                type: string
                                x-ms-enum:
                                  modelAsString: true
                                  name: OperatingSystem
                              sourceBlobSasUri:
                                description: SAS key for source blob.
                                readOnly: true
                                type: string
                            type: object
                          version:
                            description: Specifies product version.
                            readOnly: true
                            type: string
                        type: object
                    description: Product information.
                    properties: {}
                    type: object
                  provisioningState:
                    description: The provisioning state of the resource.
                    enum:
                      - Stopped
                      - Starting
                      - Running
                      - Stopping
                      - Succeeded
                      - Downloading
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: ProvisioningState
                  vmExtensionType:
                    description: Extension type of the VM.
                    type: string
                type: object
            type: object
        "202":
          description: Accepted
          schema:
            allOf:
              - description: Base Resource Object
                properties:
                  id:
                    description: URI of the resource.
                    readOnly: true
                    type: string
                  location:
                    description: Location of the resource
                    readOnly: true
                    type: string
                  name:
                    description: Name of the resource.
                    readOnly: true
                    type: string
                  tags:
                    additionalProperties:
                      type: string
                    description: List of key value pairs.
                    readOnly: true
                    type: object
                  type:
                    description: Type of resource.
                    readOnly: true
                    type: string
                type: object
                x-ms-azure-resource: true
            description: Downloaded product resource.
            properties:
              properties:
                allOf:
                  - description: Base object for all product classes.
                    properties:
                      billingPartNumber:
                        description: Billing part number.
                        type: string
                      compatibility:
                        description: Product compatibility
                        properties:
                          description:
                            description: Full error message if any compatibility issues are found
                            type: string
                          isCompatible:
                            description: Tells if product is compatible with current device
                            type: boolean
                          issues:
                            description: List of all issues found
                            items:
                              description: Compatibility issue
                              enum:
                                - HigherDeviceVersionRequired
                                - LowerDeviceVersionRequired
                                - CapacityBillingModelRequired
                                - PayAsYouGoBillingModelRequired
                                - DevelopmentBillingModelRequired
                                - AzureADIdentitySystemRequired
                                - ADFSIdentitySystemRequired
                                - ConnectionToInternetRequired
                                - ConnectionToAzureRequired
                                - DisconnectedEnvironmentRequired
                              type: string
                              x-ms-enum:
                                modelAsString: true
                                name: CompatibilityIssue
                            type: array
                          message:
                            description: Short error message if any compatibility issues are found
                            type: string
                        type: object
                      description:
                        description: Description of the product.
                        type: string
                      displayName:
                        description: Name displayed for the product.
                        type: string
                      galleryItemIdentity:
                        description: Gallery item identity.
                        type: string
                      iconUris:
                        description: Icons for the gallery items.
                        properties:
                          hero:
                            description: The hero (815x290) icon relative path.
                            type: string
                          large:
                            description: The large (115x115) icon relative path.
                            type: string
                          medium:
                            description: The medium (90x90) icon relative path.
                            type: string
                          small:
                            description: The small (40x40) icon relative path.
                            type: string
                          wide:
                            description: The wide (255x115) icon relative path.
                            type: string
                        type: object
                      offer:
                        description: Offer name.
                        type: string
                      offerVersion:
                        description: Offer version.
                        type: string
                      payloadLength:
                        description: Size in bytes.
                        format: int64
                        type: integer
                      productKind:
                        description: The kind. E.g. VirtualMachineProductProperties.ProductKind or WebApp, SolutionTemplate.
                        type: string
                      productProperties:
                        description: Additional properties of the product
                        properties:
                          version:
                            description: The version of the product
                            type: string
                        type: object
                      publisherDisplayName:
                        description: Name of publisher.
                        type: string
                      publisherIdentifier:
                        description: Publisher identifier.
                        type: string
                      sku:
                        description: Product SKU.
                        type: string
                    type: object
                description: Properties for aggregate usage.
                properties:
                  galleryPackageBlobSasUri:
                    description: The URI to the .azpkg file that provides information required for showing product in the gallery.
                    readOnly: true
                    type: string
                  legalTerms:
                    description: Legal terms for the product.
                    type: string
                  links:
                    description: List of product links.
                    items:
                      description: Link to a product.
                      properties:
                        displayName:
                          description: Displayed name of product.
                          type: string
                        uri:
                          description: URI to product.
                          type: string
                      type: object
                    type: array
                  privacyPolicy:
                    description: Privacy policy of the product.
                    type: string
                  productDetailsProperties:
                    allOf:
                      - description: Product information.
                        properties:
                          computeRole:
                            description: Compute role type (IaaS or PaaS).
                            enum:
                              - None
                              - IaaS
                              - PaaS
                            type: string
                            x-ms-enum:
                              modelAsString: true
                              name: ComputeRole
                          isSystemExtension:
                            description: Specifies if product is a Virtual Machine Extension.
                            readOnly: true
                            type: boolean
                          sourceBlob:
                            description: The URI.
                            properties:
                              uri:
                                description: The URI.
                                readOnly: true
                                type: string
                            type: object
                          supportMultipleExtensions:
                            description: Indicates if specified product supports multiple extensions.
                            readOnly: true
                            type: boolean
                          version:
                            description: Specifies product version.
                            readOnly: true
                            type: string
                          vmOsType:
                            description: Operating system type (Windows or Linux).
                            enum:
                              - None
                              - Windows
                              - Linux
                            type: string
                            x-ms-enum:
                              modelAsString: true
                              name: OperatingSystem
                          vmScaleSetEnabled:
                            description: Indicates if virtual machine Scale Set is enabled in the specified product.
                            readOnly: true
                            type: boolean
                        type: object
                      - description: Product information.
                        properties:
                          dataDiskImages:
                            description: List of attached data disks.
                            items:
                              description: Data disk image.
                              properties:
                                lun:
                                  description: The LUN.
                                  format: int32
                                  readOnly: true
                                  type: integer
                                sourceBlobSasUri:
                                  description: SAS key for source blob.
                                  readOnly: true
                                  type: string
                              type: object
                            readOnly: true
                            type: array
                          osDiskImage:
                            description: OS disk image.
                            properties:
                              operatingSystem:
                                description: Operating system type (Windows or Linux).
                                enum:
                                  - None
                                  - Windows
                                  - Linux
                                type: string
                                x-ms-enum:
                                  modelAsString: true
                                  name: OperatingSystem
                              sourceBlobSasUri:
                                description: SAS key for source blob.
                                readOnly: true
                                type: string
                            type: object
                          version:
                            description: Specifies product version.
                            readOnly: true
                            type: string
                        type: object
                    description: Product information.
                    properties: {}
                    type: object
                  provisioningState:
                    description: The provisioning state of the resource.
                    enum:
                      - Stopped
                      - Starting
                      - Running
                      - Stopping
                      - Succeeded
                      - Downloading
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: ProvisioningState
                  vmExtensionType:
                    description: Extension type of the VM.
                    type: string
                type: object
            type: object
      tags:
        - DownloadedProducts
      x-ms-examples:
        Puts the specified downloaded product.:
          parameters:
            activationName: default
            api-version: 2015-06-01-preview
            downloadedProduct:
              id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/downloadedProducts/Canonical.UbuntuServer1710-ARM.1.0.6
              name: default/Canonical.UbuntuServer1710-ARM.1.0.6
              properties:
                galleryPackageBlobSasUri: https://azstrptestwcu001.blob.core.windows.net/packages/Canonical.UbuntuServer1710.ARM.1.0.6/gallery/package.azpkg?sv=2015-04-05&sr=b&sig=mnzKeDrSMWoDilUrfrETb7n%2BG0Shme6f3AYzl3uzkYA%3D&se=2018-02-13T10%3A46%3A24Z&sp=r
                productDetailsProperties:
                  computeRole: IaaS
                  isSystemExtension: false
                  sourceBlob:
                    uri: https://azstrptestwcu001.blob.core.windows.net/packages/Canonical.UbuntuServer1710.ARM.1.0.6/extension/vmext.zip?sv=2015-04-05&sr=b&sig=XtLzuO2rlqxyZOzfoTEDZW4DU9OxBZVCOw%2FVgY2%2FiUo%3D&se=2018-02-13T10%3A46%3A24Z&sp=r
                  supportMultipleExtensions: false
                  version: 1.0.6
                  vmOsType: Linux
                  vmScaleSetEnabled: false
                productKind: virtualMachineExtension
              type: Microsoft.AzureBridge.Admin/activations/downloadedProducts
            location: local
            productName: Canonical.UbuntuServer1710-ARM.1.0.6
            resourceGroup: azurestack
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/downloadedProducts/Canonical.UbuntuServer1710-ARM.1.0.6
                name: default/Canonical.UbuntuServer1710-ARM.1.0.6
                properties:
                  galleryPackageBlobSasUri: https://azstrptestwcu001.blob.core.windows.net/packages/Canonical.UbuntuServer1710.ARM.1.0.6/gallery/package.azpkg?sv=2015-04-05&sr=b&sig=mnzKeDrSMWoDilUrfrETb7n%2BG0Shme6f3AYzl3uzkYA%3D&se=2018-02-13T10%3A46%3A24Z&sp=r
                  productDetailsProperties:
                    computeRole: IaaS
                    isSystemExtension: false
                    sourceBlob:
                      uri: https://azstrptestwcu001.blob.core.windows.net/packages/Canonical.UbuntuServer1710.ARM.1.0.6/extension/vmext.zip?sv=2015-04-05&sr=b&sig=XtLzuO2rlqxyZOzfoTEDZW4DU9OxBZVCOw%2FVgY2%2FiUo%3D&se=2018-02-13T10%3A46%3A24Z&sp=r
                    supportMultipleExtensions: false
                    version: 1.0.6
                    vmOsType: Linux
                    vmScaleSetEnabled: false
                  productKind: virtualMachineExtension
                type: Microsoft.AzureBridge.Admin/activations/downloadedProducts
            "202":
              body:
                id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/downloadedProducts/Canonical.UbuntuServer1710-ARM.1.0.6
                name: default/Canonical.UbuntuServer1710-ARM.1.0.6
                properties:
                  galleryPackageBlobSasUri: https://azstrptestwcu001.blob.core.windows.net/packages/Canonical.UbuntuServer1710.ARM.1.0.6/gallery/package.azpkg?sv=2015-04-05&sr=b&sig=mnzKeDrSMWoDilUrfrETb7n%2BG0Shme6f3AYzl3uzkYA%3D&se=2018-02-13T10%3A46%3A24Z&sp=r
                  productDetailsProperties:
                    computeRole: IaaS
                    isSystemExtension: false
                    sourceBlob:
                      uri: https://azstrptestwcu001.blob.core.windows.net/packages/Canonical.UbuntuServer1710.ARM.1.0.6/extension/vmext.zip?sv=2015-04-05&sr=b&sig=XtLzuO2rlqxyZOzfoTEDZW4DU9OxBZVCOw%2FVgY2%2FiUo%3D&se=2018-02-13T10%3A46%3A24Z&sp=r
                    supportMultipleExtensions: false
                    version: 1.0.6
                    vmOsType: Linux
                    vmScaleSetEnabled: false
                  productKind: virtualMachineExtension
                type: Microsoft.AzureBridge.Admin/activations/downloadedProducts
      x-ms-long-running-operation: true
definitions:
  DownloadedProductResourcesPage:
    description: Holds an array of downloaded products and the URI to the next page.
    properties:
      nextLink:
        description: URI to next page.
        type: string
      value:
        description: Array of downloaded products.
        items:
          allOf:
            - description: Base Resource Object
              properties:
                id:
                  description: URI of the resource.
                  readOnly: true
                  type: string
                location:
                  description: Location of the resource
                  readOnly: true
                  type: string
                name:
                  description: Name of the resource.
                  readOnly: true
                  type: string
                tags:
                  additionalProperties:
                    type: string
                  description: List of key value pairs.
                  readOnly: true
                  type: object
                type:
                  description: Type of resource.
                  readOnly: true
                  type: string
              type: object
              x-ms-azure-resource: true
          description: Downloaded product resource.
          properties:
            properties:
              allOf:
                - description: Base object for all product classes.
                  properties:
                    billingPartNumber:
                      description: Billing part number.
                      type: string
                    compatibility:
                      description: Product compatibility
                      properties:
                        description:
                          description: Full error message if any compatibility issues are found
                          type: string
                        isCompatible:
                          description: Tells if product is compatible with current device
                          type: boolean
                        issues:
                          description: List of all issues found
                          items:
                            description: Compatibility issue
                            enum:
                              - HigherDeviceVersionRequired
                              - LowerDeviceVersionRequired
                              - CapacityBillingModelRequired
                              - PayAsYouGoBillingModelRequired
                              - DevelopmentBillingModelRequired
                              - AzureADIdentitySystemRequired
                              - ADFSIdentitySystemRequired
                              - ConnectionToInternetRequired
                              - ConnectionToAzureRequired
                              - DisconnectedEnvironmentRequired
                            type: string
                            x-ms-enum:
                              modelAsString: true
                              name: CompatibilityIssue
                          type: array
                        message:
                          description: Short error message if any compatibility issues are found
                          type: string
                      type: object
                    description:
                      description: Description of the product.
                      type: string
                    displayName:
                      description: Name displayed for the product.
                      type: string
                    galleryItemIdentity:
                      description: Gallery item identity.
                      type: string
                    iconUris:
                      description: Icons for the gallery items.
                      properties:
                        hero:
                          description: The hero (815x290) icon relative path.
                          type: string
                        large:
                          description: The large (115x115) icon relative path.
                          type: string
                        medium:
                          description: The medium (90x90) icon relative path.
                          type: string
                        small:
                          description: The small (40x40) icon relative path.
                          type: string
                        wide:
                          description: The wide (255x115) icon relative path.
                          type: string
                      type: object
                    offer:
                      description: Offer name.
                      type: string
                    offerVersion:
                      description: Offer version.
                      type: string
                    payloadLength:
                      description: Size in bytes.
                      format: int64
                      type: integer
                    productKind:
                      description: The kind. E.g. VirtualMachineProductProperties.ProductKind or WebApp, SolutionTemplate.
                      type: string
                    productProperties:
                      description: Additional properties of the product
                      properties:
                        version:
                          description: The version of the product
                          type: string
                      type: object
                    publisherDisplayName:
                      description: Name of publisher.
                      type: string
                    publisherIdentifier:
                      description: Publisher identifier.
                      type: string
                    sku:
                      description: Product SKU.
                      type: string
                  type: object
              description: Properties for aggregate usage.
              properties:
                galleryPackageBlobSasUri:
                  description: The URI to the .azpkg file that provides information required for showing product in the gallery.
                  readOnly: true
                  type: string
                legalTerms:
                  description: Legal terms for the product.
                  type: string
                links:
                  description: List of product links.
                  items:
                    description: Link to a product.
                    properties:
                      displayName:
                        description: Displayed name of product.
                        type: string
                      uri:
                        description: URI to product.
                        type: string
                    type: object
                  type: array
                privacyPolicy:
                  description: Privacy policy of the product.
                  type: string
                productDetailsProperties:
                  allOf:
                    - description: Product information.
                      properties:
                        computeRole:
                          description: Compute role type (IaaS or PaaS).
                          enum:
                            - None
                            - IaaS
                            - PaaS
                          type: string
                          x-ms-enum:
                            modelAsString: true
                            name: ComputeRole
                        isSystemExtension:
                          description: Specifies if product is a Virtual Machine Extension.
                          readOnly: true
                          type: boolean
                        sourceBlob:
                          description: The URI.
                          properties:
                            uri:
                              description: The URI.
                              readOnly: true
                              type: string
                          type: object
                        supportMultipleExtensions:
                          description: Indicates if specified product supports multiple extensions.
                          readOnly: true
                          type: boolean
                        version:
                          description: Specifies product version.
                          readOnly: true
                          type: string
                        vmOsType:
                          description: Operating system type (Windows or Linux).
                          enum:
                            - None
                            - Windows
                            - Linux
                          type: string
                          x-ms-enum:
                            modelAsString: true
                            name: OperatingSystem
                        vmScaleSetEnabled:
                          description: Indicates if virtual machine Scale Set is enabled in the specified product.
                          readOnly: true
                          type: boolean
                      type: object
                    - description: Product information.
                      properties:
                        dataDiskImages:
                          description: List of attached data disks.
                          items:
[...]
