openapi: 3.0.2
servers:
  - description: Vimeo.com
    url: https://api.vimeo.com
info:
  contact:
    url: https://developer.vimeo.com/help
    x-twitter: vimeo
  title: Vimeo
  version: "3.4"
  x-apisguru-categories:
    - entertainment
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_vimeo_profile_image.jpeg
  x-origin:
    - converter:
        url: https://github.com/lucybot/api-spec-converter
        version: 2.7.31
      format: openapi
      url: https://raw.githubusercontent.com/vimeo/openapi/master/api.yaml
      version: "3.0"
  x-providerName: vimeo.com
security:
  - oauth2:
      - create
      - delete
      - edit
      - email
      - interact
      - private
      - promo_codes
      - public
      - purchase
      - purchased
      - stats
      - upload
      - video_files
tags:
  - name: API Information
  - name: Albums\Album videos
  - name: Albums\Custom album logos
  - name: Albums\Custom album thumbnails
  - name: Albums\Essentials
  - name: Authentication Extras\Essentials
  - name: Categories\Channels
  - name: Categories\Essentials
  - name: Categories\Groups
  - name: Categories\Subscriptions
  - name: Categories\Videos
  - name: Channels\Categories
  - name: Channels\Essentials
  - name: Channels\Moderators
  - name: Channels\Private channel members
  - name: Channels\Subscriptions and subscribers
  - name: Channels\Tags
  - name: Channels\Videos
  - name: Embed Presets\Custom Logos
  - name: Embed Presets\Essentials
  - name: Embed Presets\Videos
  - name: Groups\Essentials
  - name: Groups\Subscription
  - name: Groups\Users
  - name: Groups\Videos
  - name: Likes\Essentials
  - name: On Demand\Backgrounds
  - name: On Demand\Essentials
  - name: On Demand\Genres
  - name: On Demand\Posters
  - name: On Demand\Promotions
  - name: On Demand\Purchases and Rentals
  - name: On Demand\Regions
  - name: On Demand\Seasons
  - name: On Demand\Videos
  - name: Portfolios\Essentials
  - name: Portfolios\Videos
  - name: Projects\Essentials
  - name: Projects\Videos
  - name: Tags\Essentials
  - name: Users\Essentials
  - name: Users\Feed
  - name: Users\Follows
  - name: Users\Internal
  - name: Users\Pictures
  - name: Users\Watch History
  - name: Videos\Comments
  - name: Videos\Content Ratings
  - name: Videos\Creative Commons
  - name: Videos\Credits
  - name: Videos\Embed Privacy
  - name: Videos\Essentials
  - name: Videos\Languages
  - name: Videos\Recommendations
  - name: Videos\Tags
  - name: Videos\Text Tracks
  - name: Videos\Thumbnails
  - name: Videos\Upload
  - name: Videos\Versions
  - name: Videos\Viewing Privacy
  - name: Watch Later Queue\Essentials
paths:
  /:
    get:
      operationId: get_endpoints
      parameters:
        - description: Return an OpenAPI specification.
          in: query
          name: openapi
          required: false
          schema:
            example: "true"
            type: boolean
      responses:
        "200":
          content:
            application/vnd.vimeo.endpoint+json:
              schema:
                $ref: "#/components/schemas/endpoint"
          description: Standard request.
      summary: Get an API specification
      tags:
        - API Information
  /categories:
    get:
      description: This method gets all existing categories.
      operationId: get_categories
      parameters:
        - description: The sort direction of the results.
          in: query
          name: direction
          required: false
          schema:
            enum:
              - asc
              - desc
            example: asc
            type: string
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            example: 1
            type: number
        - description: The number of items to show on each page of results, up to a maximum of 100.
          in: query
          name: per_page
          required: false
          schema:
            example: 10
            type: number
        - description: The way to sort the results.
          in: query
          name: sort
          required: false
          schema:
            enum:
              - last_video_featured_time
              - name
            type: string
      responses:
        "200":
          content:
            application/vnd.vimeo.category+json:
              schema:
                items:
                  $ref: "#/components/schemas/category"
                type: array
          description: The categories were returned.
      summary: Get all categories
      tags:
        - Categories\Essentials
  "/categories/{category}":
    get:
      operationId: get_category
      parameters:
        - description: The name of the category.
          in: path
          name: category
          required: true
          schema:
            example: animation
            type: string
      responses:
        "200":
          content:
            application/vnd.vimeo.category+json:
              schema:
                $ref: "#/components/schemas/category"
          description: The category was returned.
        "404":
          content:
            application/vnd.vimeo.category+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: No such category exists.
      summary: Get a specific category
      tags:
        - Categories\Essentials
  "/categories/{category}/channels":
    get:
      operationId: get_category_channels
      parameters:
        - description: The name of the category.
          in: path
          name: category
          required: true
          schema:
            example: animation
            type: string
        - description: The sort direction of the results.
          in: query
          name: direction
          required: false
          schema:
            enum:
              - asc
              - desc
            example: asc
            type: string
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            example: 1
            type: number
        - description: The number of items to show on each page of results, up to a maximum of 100.
          in: query
          name: per_page
          required: false
          schema:
            example: 10
            type: number
        - description: The search query to use to filter the results.
          in: query
          name: query
          required: false
          schema:
            example: Stop motion
            type: string
        - description: The way to sort the results.
          in: query
          name: sort
          required: false
          schema:
            enum:
              - alphabetical
              - date
              - followers
              - videos
            type: string
      responses:
        "200":
          content:
            application/vnd.vimeo.channel+json:
              schema:
                items:
                  $ref: "#/components/schemas/channel"
                type: array
          description: The channels were returned.
        "404":
          content:
            application/vnd.vimeo.channel+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: No such category exists.
      summary: Get all the channels in a category
      tags:
        - Categories\Channels
  "/categories/{category}/groups":
    get:
      operationId: get_category_groups
      parameters:
        - description: The name of the category.
          in: path
          name: category
          required: true
          schema:
            example: animation
            type: string
        - description: The sort direction of the results.
          in: query
          name: direction
          required: false
          schema:
            enum:
              - asc
              - desc
            example: asc
            type: string
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            example: 1
            type: number
        - description: The number of items to show on each page of results, up to a maximum of 100.
          in: query
          name: per_page
          required: false
          schema:
            example: 10
            type: number
        - description: The search query to use to filter the results.
          in: query
          name: query
          required: false
          schema:
            example: Stop motion
            type: string
        - description: The way to sort the results.
          in: query
          name: sort
          required: false
          schema:
            enum:
              - alphabetical
              - date
              - members
              - videos
            type: string
      responses:
        "200":
          content:
            application/vnd.vimeo.group+json:
              schema:
                items:
                  $ref: "#/components/schemas/group"
                type: array
          description: The groups were returned.
        "404":
          content:
            application/vnd.vimeo.group+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: No such category exists.
      summary: Get all the groups in a category
      tags:
        - Categories\Groups
  "/categories/{category}/videos":
    get:
      operationId: get_category_videos
      parameters:
        - description: The name of the category.
          in: path
          name: category
          required: true
          schema:
            example: animation
            type: string
        - description: The sort direction of the results.
          in: query
          name: direction
          required: false
          schema:
            enum:
              - asc
              - desc
            example: asc
            type: string
        - description: |
            The attribute by which to filter the results.

            Option descriptions:
             * `conditional_featured` - Featured (promoted) videos
          in: query
          name: filter
          required: false
          schema:
            enum:
              - conditional_featured
              - embeddable
            type: string
        - description: Whether to filter the results by embeddable videos (`true`) or non-embeddable videos (`false`). Required only if **filter** is `embeddable`.
          in: query
          name: filter_embeddable
          required: false
          schema:
            example: "true"
            type: boolean
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            example: 1
            type: number
        - description: The number of items to show on each page of results, up to a maximum of 100.
          in: query
          name: per_page
          required: false
          schema:
            example: 10
            type: number
        - description: The search query to use to filter the results.
          in: query
          name: query
          required: false
          schema:
            example: Stop motion
            type: string
        - description: The way to sort the results.
          in: query
          name: sort
          required: false
          schema:
            enum:
              - alphabetical
              - comments
              - date
              - duration
              - featured
              - likes
              - plays
              - relevant
            type: string
      responses:
        "200":
          content:
            application/vnd.vimeo.video+json:
              schema:
                items:
                  $ref: "#/components/schemas/video"
                type: array
          description: The videos were returned.
        "404":
          content:
            application/vnd.vimeo.video+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: No such category exists.
      summary: Get all the videos in a category
      tags:
        - Categories\Videos
  "/categories/{category}/videos/{video_id}":
    get:
      operationId: check_category_for_video
      parameters:
        - description: The name of the category.
          in: path
          name: category
          required: true
          schema:
            example: animation
            type: string
        - description: The ID of the video.
          in: path
          name: video_id
          required: true
          schema:
            example: 273576296
            type: number
      responses:
        "200":
          content:
            application/vnd.vimeo.video+json:
              schema:
                $ref: "#/components/schemas/video"
          description: The video belongs to the category.
        "404":
          content:
            application/vnd.vimeo.video+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: No such category exists, or the video doesn't belong to it.
      summary: Check for a video in a category
      tags:
        - Categories\Videos
  /channels:
    get:
      operationId: get_channels
      parameters:
        - description: The sort direction of the results.
          in: query
          name: direction
          required: false
          schema:
            enum:
              - asc
              - desc
            example: asc
            type: string
        - description: The attribute by which to filter the results.
          in: query
          name: filter
          required: false
          schema:
            enum:
              - featured
            type: string
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            example: 1
            type: number
        - description: The number of items to show on each page of results, up to a maximum of 100.
          in: query
          name: per_page
          required: false
          schema:
            example: 10
            type: number
        - description: The search query to use to filter the results.
          in: query
          name: query
          required: false
          schema:
            example: Stop motion
            type: string
        - description: |
            The way to sort the results.

            Option descriptions:
             * `relevant` - Relevant sorting is available only for search queries.
          in: query
          name: sort
          required: false
          schema:
            enum:
              - alphabetical
              - date
              - followers
              - relevant
              - videos
            type: string
      responses:
        "200":
          content:
            application/vnd.vimeo.channel+json:
              schema:
                items:
                  $ref: "#/components/schemas/channel"
                type: array
          description: The channels were returned.
        "400":
          content:
            application/vnd.vimeo.channel+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: The relevant sort has no search query.
      summary: Get all channels
      tags:
        - Channels\Essentials
    post:
      description: This method creates a new channel.
      operationId: create_channel
      requestBody:
        content:
          application/vnd.vimeo.channel+json:
            schema:
              properties:
                description:
                  description: The description of the channel.
                  example: We really love videos, and these are the videos we really, really love.
                  type: string
                link:
                  description: The link to access the channel. You can use a custom name in the URL in place of a numeric channel ID, as in `/channels/{url_custom}`.
                  example: staffpicks
                  type: string
                name:
                  description: The name of the channel.
                  example: Vimeo Staff Picks
                  type: string
                privacy:
                  description: The privacy level of the channel.
                  enum:
                    - anybody
                    - moderators
                    - user
                  type: string
              required:
                - name
                - privacy
              type: object
        required: true
      responses:
        "200":
          content:
            application/vnd.vimeo.channel+json:
              schema:
                $ref: "#/components/schemas/channel"
          description: The channel was created.
        "400":
          content:
            application/vnd.vimeo.channel+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: A parameter is invalid.
        "403":
          content:
            application/vnd.vimeo.channel+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: The authenticated user can't create a channel.
      security:
        - oauth2:
            - create
      summary: Create a channel
      tags:
        - Channels\Essentials
  "/channels/{channel_id}":
    delete:
      operationId: delete_channel
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
      responses:
        "204":
          description: The channel was deleted.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: The authenticated user doesn't own this channel.
      security:
        - oauth2:
            - delete
      summary: Delete a channel
      tags:
        - Channels\Essentials
    get:
      operationId: get_channel
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
      responses:
        "200":
          content:
            application/vnd.vimeo.channel+json:
              schema:
                $ref: "#/components/schemas/channel"
          description: The channel was returned.
      summary: Get a specific channel
      tags:
        - Channels\Essentials
    patch:
      description: This method edits the specified channel.
      operationId: edit_channel
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
      requestBody:
        content:
          application/vnd.vimeo.channel+json:
            schema:
              properties:
                description:
                  description: The description of the channel.
                  example: We really love videos, and these are the videos we really, really love.
                  type: string
                link:
                  description: The link to access the channel. You can use a custom name in the URL in place of a numeric channel ID, as in `/channels/{url_custom}`. Submitting `""` for this field removes the link alias.
                  example: staffpicks
                  type: string
                name:
                  description: The name of the channel.
                  example: Vimeo Staff Picks
                  type: string
                privacy:
                  description: The privacy level of the channel.
                  enum:
                    - anybody
                    - moderators
                    - users
                  type: string
              type: object
        required: false
      responses:
        "200":
          content:
            application/vnd.vimeo.channel+json:
              schema:
                $ref: "#/components/schemas/channel"
          description: The channel was edited.
        "400":
          content:
            application/vnd.vimeo.channel+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: A parameter is invalid.
      security:
        - oauth2:
            - edit
      summary: Edit a channel
      tags:
        - Channels\Essentials
  "/channels/{channel_id}/categories":
    get:
      description: This method gets all the categories in the specified channel.
      operationId: get_channel_categories
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
      responses:
        "200":
          content:
            application/vnd.vimeo.category+json:
              schema:
                items:
                  $ref: "#/components/schemas/category"
                type: array
          description: The categories were returned.
        "404":
          content:
            application/vnd.vimeo.category+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: No such channel exists.
      summary: Get all the categories in a channel
      tags:
        - Channels\Categories
    put:
      description: This method adds multiple categories to the specified channel.
      operationId: add_channel_categories
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
      requestBody:
        content:
          application/json:
            schema:
              properties:
                channels:
                  description: The array of category URIs to add.
                  items:
                    type: string
                  type: array
              required:
                - channels
              type: object
        required: true
      responses:
        "204":
          description: The categories were added.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: |-
            * Error code 2205: There was no request body, or the request body is malformed.
            * Error code 2204: You exceeded the maximum number of channel categories.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: "Error code 8003: The user credentials are invalid."
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: "Error code 3200: The authenticated user can't add categories to the channel."
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: No such channel exists.
      summary: Add a list of categories to a channel
      tags:
        - Channels\Categories
  "/channels/{channel_id}/categories/{category}":
    delete:
      description: This method removes a single category from the specified channel.
      operationId: delete_channel_category
      parameters:
        - description: The name of the category.
          in: path
          name: category
          required: true
          schema:
            example: animation
            type: string
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
      responses:
        "204":
          description: The channel was removed.
        "401":
          content:
            application/vnd.vimeo.category+json:
              schema:
                $ref: "#/components/schemas/error"
          description: "Error code 8003: The user credentials are invalid."
        "403":
          content:
            application/vnd.vimeo.category+json:
              schema:
                $ref: "#/components/schemas/error"
          description: "Error code 3200: The authenticated user doesn't own the channel or isn't a channel moderator."
        "404":
          content:
            application/vnd.vimeo.category+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: No such channel or category exists.
      security:
        - oauth2:
            - edit
      summary: Remove a category from a channel
      tags:
        - Channels\Categories
    put:
      description: This method adds a channel to a category.
      operationId: categorize_channel
      parameters:
        - description: The name of the category.
          in: path
          name: category
          required: true
          schema:
            example: animation
            type: string
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
      responses:
        "204":
          description: The channel was categorized.
        "400":
          content:
            application/vnd.vimeo.category+json:
              schema:
                $ref: "#/components/schemas/error"
          description: "Error code 2204: You exceeded the maximum number of channel categories."
        "401":
          content:
            application/vnd.vimeo.category+json:
              schema:
                $ref: "#/components/schemas/error"
          description: "Error code 8003: The user credentials are invalid."
        "403":
          content:
            application/vnd.vimeo.category+json:
              schema:
                $ref: "#/components/schemas/error"
          description: "Error code 3200: The authenticated user doesn't own the channel or isn't a channel moderator."
        "404":
          content:
            application/vnd.vimeo.category+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: No such channel or category exists.
      security:
        - oauth2:
            - edit
      summary: Categorize a channel
      tags:
        - Channels\Categories
  "/channels/{channel_id}/moderators":
    delete:
      operationId: remove_channel_moderators
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
      requestBody:
        content:
          application/vnd.vimeo.user+json:
            schema:
              properties:
                user_uri:
                  description: The URI of a user to remove as a moderator.
                  example: /users/152184
                  type: string
              required:
                - user_uri
              type: object
        required: true
      responses:
        "204":
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: "#/components/schemas/user"
          description: The moderators were removed.
        "403":
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: The authenticated user doesn't own the channel, the user isn't a moderator of the channel, or you tried to remove the owner of the channel.
        "404":
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: No such channel exists, or no such user exists.
      security:
        - oauth2:
            - edit
      summary: Remove a list of channel moderators
      tags:
        - Channels\Moderators
    get:
      operationId: get_channel_moderators
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
        - description: The sort direction of the results.
          in: query
          name: direction
          required: false
          schema:
            enum:
              - asc
              - desc
            example: asc
            type: string
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            example: 1
            type: number
        - description: The number of items to show on each page of results, up to a maximum of 100.
          in: query
          name: per_page
          required: false
          schema:
            example: 10
            type: number
        - description: The search query to use to filter the results.
          in: query
          name: query
          required: false
          schema:
            example: Stop motion
            type: string
        - description: The way to sort the results.
          in: query
          name: sort
          required: false
          schema:
            enum:
              - alphabetical
              - date
            type: string
      responses:
        "200":
          content:
            application/vnd.vimeo.user+json:
              schema:
                items:
                  $ref: "#/components/schemas/user"
                type: array
          description: The moderators were returned.
      summary: Get all the moderators in a channel
      tags:
        - Channels\Moderators
    patch:
      operationId: replace_channel_moderators
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
      requestBody:
        content:
          application/json:
            schema:
              properties:
                user_uri:
                  description: The URI of the user to add as a moderator.
                  example: /users/152184
                  type: string
              required:
                - user_uri
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/user"
                type: array
          description: The moderators were replaced.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: "Error code 2908: The list contains more than 100 users."
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: The authenticated user owns this channel.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: No such channel exists.
      security:
        - oauth2:
            - edit
      summary: Replace the moderators of a channel
      tags:
        - Channels\Moderators
    put:
      operationId: add_channel_moderators
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
      requestBody:
        content:
          application/json:
            schema:
              properties:
                user_uri:
                  description: The URI of a user to add as a moderator.
                  example: /users/152184
                  type: string
              required:
                - user_uri
              type: object
        required: true
      responses:
        "200":
          description: The moderators were added.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: "Error code 2908: The list contains more than 100 users."
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: The authenticated user doesn't own the channel, a user is already a moderator of the channel, or you tried to add a user that the authenticated user doesn't follow.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: No such channel exists, or no such user exists.
      security:
        - oauth2:
            - edit
      summary: Add a list of channel moderators
      tags:
        - Channels\Moderators
  "/channels/{channel_id}/moderators/{user_id}":
    delete:
      operationId: remove_channel_moderator
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
        - description: The ID of the user.
          in: path
          name: user_id
          required: true
          schema:
            example: 152184
            type: number
      responses:
        "204":
          description: The moderator was removed.
        "403":
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: The authenticated user doesn't own the channel, the user isn't a moderator of the channel, or you tried to remove the owner of the channel.
        "404":
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: No such channel exists, or no such user exists.
      security:
        - oauth2:
            - edit
      summary: Remove a specific channel moderator
      tags:
        - Channels\Moderators
    get:
      operationId: get_channel_moderator
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
        - description: The ID of the user.
          in: path
          name: user_id
          required: true
          schema:
            example: 152184
            type: number
      responses:
        "200":
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: "#/components/schemas/user"
          description: The moderator was returned.
      summary: Get a specific channel moderator
      tags:
        - Channels\Moderators
    put:
      operationId: add_channel_moderator
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
        - description: The ID of the user.
          in: path
          name: user_id
          required: true
          schema:
            example: 152184
            type: number
      responses:
        "403":
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: The authenticated user doesn't own the channel, a user is already a moderator of the channel, or you tried to add a user that the authenticated user doesn't follow.
        "404":
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: No such channel exists, or no such user exists.
      security:
        - oauth2:
            - edit
      summary: Add a specific channel moderator
      tags:
        - Channels\Moderators
  "/channels/{channel_id}/privacy/users":
    get:
      description: This method gets all the users who have access to the specified private channel.
      operationId: get_channel_privacy_users
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
        - description: The sort direction of the results.
          in: query
          name: direction
          required: false
          schema:
            enum:
              - asc
              - desc
            example: asc
            type: string
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            example: 1
            type: number
        - description: The number of items to show on each page of results, up to a maximum of 100.
          in: query
          name: per_page
          required: false
          schema:
            example: 10
            type: number
      responses:
        "200":
          content:
            application/vnd.vimeo.user+json:
              schema:
                items:
                  $ref: "#/components/schemas/user"
                type: array
          description: The users were returned.
        "401":
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: "#/components/schemas/error"
          description: "Error code 8003: The user credentials are invalid."
        "403":
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: "#/components/schemas/error"
          description: "Error code 3200: The authenticated user doesn't own this channel."
        "404":
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: "#/components/schemas/error"
          description: "Error code 2204: You can't add this user to a channel of this type."
      summary: Get all the users who can view a private channel
      tags:
        - Channels\Private channel members
    put:
      description: This method gives multiple users access to the specified private channel.
      operationId: set_channel_privacy_users
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
      requestBody:
        content:
          application/vnd.vimeo.user+json:
            schema:
              properties:
                users:
                  description: The array of either the user URIs or the user IDs to permit to view the private channel.
                  items:
                    type: string
                  type: array
              required:
                - users
              type: object
        required: true
      responses:
        "200":
          content:
            application/vnd.vimeo.user+json:
              schema:
                items:
                  $ref: "#/components/schemas/user"
                type: array
          description: The users can now view the private channel.
        "400":
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: "#/components/schemas/error"
          description: |-
            * Error code 2205: There was no request body, or the request body is malformed.
            * Error code 2900: At least one of the specified user accounts doesn't exist.
        "401":
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: "#/components/schemas/error"
          description: "Error code 8003: The user credentials are invalid."
        "403":
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: "#/components/schemas/error"
          description: "Error code 3200: The authenticated user doesn't own this channel."
        "404":
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: "#/components/schemas/error"
          description: "Error code 2204: You can't add one or more of these users to a channel of this type."
      security:
        - oauth2:
            - edit
      summary: Permit a list of users to view a private channel
      tags:
        - Channels\Private channel members
  "/channels/{channel_id}/privacy/users/{user_id}":
    delete:
      description: This method prevents a single user from being able to access the specified private channel.
      operationId: delete_channel_privacy_user
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
        - description: The ID of the user.
          in: path
          name: user_id
          required: true
          schema:
            example: 152184
            type: number
      responses:
        "204":
          description: The user can no longer view the private channel.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: "Error code 8003: The user credentials are invalid."
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: "Error code 3200: The authenticated user doesn't own this channel."
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: "Error code 2204: You can't add this user to a channel of this type."
      security:
        - oauth2:
            - edit
      summary: Restrict a user from viewing a private channel
      tags:
        - Channels\Private channel members
    put:
      description: This method gives a single user access to the specified private channel.
      operationId: set_channel_privacy_user
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
        - description: The ID of the user.
          in: path
          name: user_id
          required: true
          schema:
            example: 152184
            type: number
      responses:
        "200":
          description: The user can now view the private channel.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: "Error code 8003: The user credentials are invalid."
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: "Error code 3200: The authenticated user doesn't own this channel."
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
          description: "Error code 2204: You can't add this user to a channel of this type."
      security:
        - oauth2:
            - edit
      summary: Permit a specific user to view a private channel
      tags:
        - Channels\Private channel members
  "/channels/{channel_id}/tags":
    get:
      description: This method gets all the tags that have been added to the specified channel.
      operationId: get_channel_tags
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
      responses:
        "200":
          content:
            application/vnd.vimeo.tag+json:
              schema:
                items:
                  $ref: "#/components/schemas/tag"
                type: array
          description: The tags were returned.
        "400":
          content:
            application/vnd.vimeo.tag+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: No such channel exists.
      summary: Get all the tags that have been added to a channel
      tags:
        - Channels\Tags
    put:
      description: This method adds multiple tags to the specified channel.
      operationId: add_tags_to_channel
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
      requestBody:
        content:
          application/vnd.vimeo.tag+json:
            schema:
              properties:
                tag:
                  description: An array of tags to assign.
                  items:
                    type: string
                  type: array
              required:
                - tag
              type: object
        required: true
      responses:
        "200":
          content:
            application/vnd.vimeo.tag+json:
              schema:
                items:
                  $ref: "#/components/schemas/tag"
                type: array
          description: The tags were added.
        "400":
          content:
            application/vnd.vimeo.tag+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: |-
            * No such channel exists, or a parameter is invalid.
            * Error code 2501: You tried to add more than 20 tags to the channel.
            * Error code 2205: There was no request body, or the request body is malformed.
        "401":
          content:
            application/vnd.vimeo.tag+json:
              schema:
                $ref: "#/components/schemas/error"
          description: "Error code 8003: The user credentials are invalid."
        "403":
          content:
            application/vnd.vimeo.tag+json:
              schema:
                $ref: "#/components/schemas/error"
          description: "Error code 3200: The authenticated user can't add tags to this channel."
      security:
        - oauth2:
            - edit
      summary: Add a list of tags to a channel
      tags:
        - Channels\Tags
  "/channels/{channel_id}/tags/{word}":
    delete:
      description: This method removes a single tag from the specified channel.
      operationId: delete_tag_from_channel
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
        - description: The word to use as the tag.
          in: path
          name: word
          required: true
          schema:
            example: awesome
            type: string
      responses:
        "204":
          description: The tag was removed.
        "400":
          content:
            application/vnd.vimeo.tag+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: The tag is invalid, or a parameter is invalid.
        "401":
          content:
            application/vnd.vimeo.tag+json:
              schema:
                $ref: "#/components/schemas/error"
          description: "Error code 8003: The user credentials are invalid."
        "403":
          content:
            application/vnd.vimeo.tag+json:
              schema:
                $ref: "#/components/schemas/error"
          description: "Error code 3200: The authenticated user can't remove tags from this channel."
      security:
        - oauth2:
            - edit
      summary: Remove a tag from a channel
      tags:
        - Channels\Tags
    get:
      description: This method determines whether a specific tag has been added to the channel in question.
      operationId: check_if_channel_has_tag
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
        - description: The word to use as the tag.
          in: path
          name: word
          required: true
          schema:
            example: awesome
            type: string
      responses:
        "204":
          description: The tag has been added to the channel.
        "400":
          content:
            application/vnd.vimeo.tag+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: No such tag exists.
        "404":
          content:
            application/vnd.vimeo.tag+json:
              schema:
                $ref: "#/components/schemas/error"
          description: "Error code 5000: The tag exists, but the channel isn't tagged by it."
      summary: Check if a tag has been added to a channel
      tags:
        - Channels\Tags
    put:
      description: This method adds a single tag to the specified channel.
      operationId: add_channel_tag
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
        - description: The word to use as the tag.
          in: path
          name: word
          required: true
          schema:
            example: awesome
            type: string
      responses:
        "204":
          description: The tag was added.
        "400":
          content:
            application/vnd.vimeo.tag+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: |-
            * The tag is invalid, or a parameter is invalid.
            * Error code 2501: The channel has already reached its maximum number of 20 tags.
        "401":
          content:
            application/vnd.vimeo.tag+json:
              schema:
                $ref: "#/components/schemas/error"
          description: "Error code 8003: The user credentials are invalid."
        "403":
          content:
            application/vnd.vimeo.tag+json:
              schema:
                $ref: "#/components/schemas/error"
          description: "Error code 3200: The authenticated user can't add tags to this channel."
      security:
        - oauth2:
            - edit
      summary: Add a specific tag to a channel
      tags:
        - Channels\Tags
  "/channels/{channel_id}/users":
    get:
      operationId: get_channel_subscribers
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
        - description: The sort direction of the results.
          in: query
          name: direction
          required: false
          schema:
            enum:
              - asc
              - desc
            example: asc
            type: string
        - description: The attribute by which to filter the results.
          in: query
          name: filter
          required: true
          schema:
            enum:
              - moderators
            type: string
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            example: 1
            type: number
        - description: The number of items to show on each page of results, up to a maximum of 100.
          in: query
          name: per_page
          required: false
          schema:
            example: 10
            type: number
        - description: The search query to use to filter the results.
          in: query
          name: query
          required: false
          schema:
            example: Stop motion
            type: string
        - description: The way to sort the results.
          in: query
          name: sort
          required: false
          schema:
            enum:
              - alphabetical
              - date
            type: string
      responses:
        "200":
          content:
            application/vnd.vimeo.user+json:
              schema:
                items:
                  $ref: "#/components/schemas/user"
                type: array
          description: The followers were returned.
        "404":
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: No such channel exists.
      summary: Get all the followers of a channel
      tags:
        - Channels\Subscriptions and subscribers
  "/channels/{channel_id}/videos":
    delete:
      operationId: remove_videos_from_channel
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
      requestBody:
        content:
          application/json:
            schema:
              properties:
                video_uri:
                  description: The URI of a video to remove.
                  example: /videos/258684937
                  type: string
              required:
                - video_uri
              type: object
        required: true
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/video"
          description: The videos were removed.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: The authenticated user isn't a moderator of this channel, or you can't remove this video from the channel.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: No such channel exists, or no such user exists.
      security:
        - oauth2:
            - edit
      summary: Remove a list of videos from a channel
      tags:
        - Channels\Videos
    get:
      operationId: get_channel_videos
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
        - description: The page that contains the video URI.
          in: query
          name: containing_uri
          required: false
          schema:
            example: /videos/258684937
            type: string
        - description: The sort direction of the results.
          in: query
          name: direction
          required: false
          schema:
            enum:
              - asc
              - desc
            example: asc
            type: string
        - description: The attribute by which to filter the results.
          in: query
          name: filter
          required: false
          schema:
            enum:
              - embeddable
            type: string
        - description: Whether to filter the results by embeddable videos (`true`) or non-embeddable videos (`false`). Required only if **filter** is `embeddable`.
          in: query
          name: filter_embeddable
          required: false
          schema:
            example: "true"
            type: boolean
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            example: 1
            type: number
        - description: The number of items to show on each page of results, up to a maximum of 100.
          in: query
          name: per_page
          required: false
          schema:
            example: 10
            type: number
        - description: The search query to use to filter the results.
          in: query
          name: query
          required: false
          schema:
            example: Stop motion
            type: string
        - description: The way to sort the results.
          in: query
          name: sort
          required: false
          schema:
            enum:
              - added
              - alphabetical
              - comments
              - date
              - default
              - duration
              - likes
              - manual
              - modified_time
              - plays
            type: string
      responses:
        "200":
          content:
            application/vnd.vimeo.video+json:
              schema:
                items:
                  $ref: "#/components/schemas/video"
                type: array
          description: The videos were returned.
        "304":
          description: No videos have been added to this channel since the given `If-Modified-Since` header.
        "400":
          content:
            application/vnd.vimeo.video+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: The **sort** field is `default`, but the **direction** field has a value.
        "404":
          content:
            application/vnd.vimeo.video+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: No such channel exists.
      summary: Get all the videos in a channel
      tags:
        - Channels\Videos
    put:
      operationId: add_videos_to_channel
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
      requestBody:
        content:
          application/json:
            schema:
              properties:
                video_uri:
                  description: The URI of a video to add.
                  example: /videos/258684937
                  type: string
              required:
                - video_uri
              type: object
        required: true
      responses:
        "200":
          description: The videos were added.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: The authenticated user isn't a moderator of the channel, or the video can't be added to the channel.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: No such channel exists, or no such user exists.
      security:
        - oauth2:
            - edit
      summary: Add a list of videos to a channel
      tags:
        - Channels\Videos
  "/channels/{channel_id}/videos/{video_id}":
    delete:
      operationId: delete_video_from_channel
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
        - description: The ID of the video.
          in: path
          name: video_id
          required: true
          schema:
            example: 258684937
            type: number
      responses:
        "204":
          description: The video was removed.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: The authenticated user isn't a moderator of this channel.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: No such channel exists, or no such video exists.
      security:
        - oauth2:
            - edit
      summary: Remove a specific video from a channel
      tags:
        - Channels\Videos
    get:
      description: This method returns a specific video in a channel. You can use it to determine whether the video is in the channel.
      operationId: get_channel_video
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
        - description: The ID of the video.
          in: path
          name: video_id
          required: true
          schema:
            example: 258684937
            type: number
      responses:
        "200":
          content:
            application/vnd.vimeo.video+json:
              schema:
                $ref: "#/components/schemas/video"
          description: The video was returned.
        "404":
          content:
            application/vnd.vimeo.video+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: No such channel exists.
      summary: Get a specific video in a channel
      tags:
        - Channels\Videos
    put:
      operationId: add_video_to_channel
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
        - description: The ID of the video.
          in: path
          name: video_id
          required: true
          schema:
            example: 258684937
            type: number
      responses:
        "204":
          description: The video was added.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: The video can't be added to channels, or the authenticated user isn't the moderator of this channel.
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: No such channel exists, or no such video exists.
      security:
        - oauth2:
            - edit
      summary: Add a specific video to a channel
      tags:
        - Channels\Videos
  "/channels/{channel_id}/videos/{video_id}/comments":
    get:
      operationId: get_comments_alt1
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
        - description: The ID of the video.
          in: path
          name: video_id
          required: true
          schema:
            example: 258684937
            type: number
        - description: The sort direction of the results.
          in: query
          name: direction
          required: false
          schema:
            enum:
              - asc
              - desc
            example: asc
            type: string
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            example: 1
            type: number
        - description: The number of items to show on each page of results, up to a maximum of 100.
          in: query
          name: per_page
          required: false
          schema:
            example: 10
            type: number
      responses:
        "200":
          content:
            application/vnd.vimeo.comment+json:
              schema:
                items:
                  $ref: "#/components/schemas/comment"
                type: array
          description: The comments were returned.
      summary: Get all the comments on a video
      tags:
        - Videos\Comments
    post:
      operationId: create_comment_alt1
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
        - description: The ID of the video.
          in: path
          name: video_id
          required: true
          schema:
            example: 258684937
            type: number
      requestBody:
        content:
          application/vnd.vimeo.comment+json:
            schema:
              properties:
                text:
                  description: The text of the comment.
                  example: I love this!
                  type: string
              required:
                - text
              type: object
        required: true
      responses:
        "201":
          content:
            application/vnd.vimeo.comment+json:
              schema:
                $ref: "#/components/schemas/comment"
          description: The comment was added.
        "400":
          content:
            application/vnd.vimeo.comment+json:
              schema:
                $ref: "#/components/schemas/error"
          description: "Error code 2207: The comment text is missing."
        "401":
          content:
            application/vnd.vimeo.comment+json:
              schema:
                $ref: "#/components/schemas/error"
          description: "Error code 8003: The user credentials are invalid."
        "403":
          content:
            application/vnd.vimeo.comment+json:
              schema:
                $ref: "#/components/schemas/error"
          description: |-
            * Error code 3413: Comments are disabled for this video.
            * Error code 3411: The authenticated user is unverified.
            * Error code 3412: The authenticated user can't comment.
            * Error code 3301: The comment was flagged as spam.
      security:
        - oauth2:
            - interact
      summary: Add a comment to a video
      tags:
        - Videos\Comments
  "/channels/{channel_id}/videos/{video_id}/credits":
    get:
      operationId: get_video_credits_alt1
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
        - description: The ID of the video.
          in: path
          name: video_id
          required: true
          schema:
            example: 258684937
            type: number
        - description: The sort direction of the results.
          in: query
          name: direction
          required: false
          schema:
            enum:
              - asc
              - desc
            example: asc
            type: string
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            example: 1
            type: number
        - description: The number of items to show on each page of results, up to a maximum of 100.
          in: query
          name: per_page
          required: false
          schema:
            example: 10
            type: number
        - description: The search query to use to filter the results.
          in: query
          name: query
          required: false
          schema:
            example: Stop motion
            type: string
        - description: The way to sort the results.
          in: query
          name: sort
          required: false
          schema:
            enum:
              - alphabetical
              - date
            type: string
      responses:
        "200":
          content:
            application/vnd.vimeo.credit+json:
              schema:
                items:
                  $ref: "#/components/schemas/credit"
                type: array
          description: The users were returned.
      summary: Get all the credited users in a video
      tags:
        - Videos\Credits
    post:
      operationId: add_video_credit_alt1
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
        - description: The ID of the video.
          in: path
          name: video_id
          required: true
          schema:
            example: 258684937
            type: number
      requestBody:
        content:
          application/vnd.vimeo.credit+json:
            schema:
              properties:
                email:
                  description: The email address of the credited person.
                  example: user@example.com
                  type: string
                name:
                  description: The name of the credited person.
                  example: Sam Doe
                  type: string
                role:
                  description: The role of the credited person.
                  example: Producer
                  type: string
                user_uri:
                  description: The URI of the Vimeo user who should be given credit in this video.
                  example: /users/152184
                  type: string
              required:
                - email
                - name
                - role
                - user_uri
              type: object
        required: true
      responses:
        "201":
          content:
            application/vnd.vimeo.credit+json:
              schema:
                $ref: "#/components/schemas/credit"
          description: The credit was added.
        "400":
          content:
            application/vnd.vimeo.credit+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: |-
            * The credit was added.
            * A parameter is invalid.
            * The authenticated user has an unverified email address.
            * There is a user block between the video owner and the person receiving credit.
        "403":
          content:
            application/vnd.vimeo.credit+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: The authenticated user doesn't own the video.
      summary: Credit a user in a video
      tags:
        - Videos\Credits
  "/channels/{channel_id}/videos/{video_id}/likes":
    get:
      operationId: get_video_likes_alt1
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
        - description: The ID of the video.
          in: path
          name: video_id
          required: true
          schema:
            example: 258684937
            type: number
        - description: The sort direction of the results.
          in: query
          name: direction
          required: false
          schema:
            enum:
              - asc
              - desc
            example: asc
            type: string
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            example: 1
            type: number
        - description: The number of items to show on each page of results, up to a maximum of 100.
          in: query
          name: per_page
          required: false
          schema:
            example: 10
            type: number
        - description: The way to sort the results.
          in: query
          name: sort
          required: false
          schema:
            enum:
              - alphabetical
              - date
            type: string
      responses:
        "200":
          content:
            application/vnd.vimeo.user+json:
              schema:
                items:
                  $ref: "#/components/schemas/user"
                type: array
          description: The users were returned.
      summary: Get all the users who have liked a video
      tags:
        - Likes\Essentials
  "/channels/{channel_id}/videos/{video_id}/pictures":
    get:
      operationId: get_video_thumbnails_alt1
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
        - description: The ID of the video.
          in: path
          name: video_id
          required: true
          schema:
            example: 258684937
            type: number
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            example: 1
            type: number
        - description: The number of items to show on each page of results, up to a maximum of 100.
          in: query
          name: per_page
          required: false
          schema:
            example: 10
            type: number
      responses:
        "200":
          content:
            application/vnd.vimeo.picture+json:
              schema:
                items:
                  $ref: "#/components/schemas/picture"
                type: array
          description: The thumbnails were returned.
      summary: Get all the thumbnails of a video
      tags:
        - Videos\Thumbnails
    post:
      operationId: create_video_thumbnail_alt1
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
        - description: The ID of the video.
          in: path
          name: video_id
          required: true
          schema:
            example: 258684937
            type: number
      requestBody:
        content:
          application/vnd.vimeo.picture+json:
            schema:
              properties:
                active:
                  description: Whether the image created by the `time` field should be the default thumbnail for the video.
                  example: "true"
                  type: boolean
                time:
                  description: Creates an image of the video from the given time offset.
                  example: 300
                  type: number
              type: object
        required: false
      responses:
        "201":
          content:
            application/vnd.vimeo.picture+json:
              schema:
                $ref: "#/components/schemas/picture"
          description: The thumbnail was created.
      security:
        - oauth2:
            - upload
      summary: Add a video thumbnail
      tags:
        - Videos\Thumbnails
  "/channels/{channel_id}/videos/{video_id}/privacy/users":
    get:
      operationId: get_video_privacy_users_alt1
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
        - description: The ID of the video.
          in: path
          name: video_id
          required: true
          schema:
            example: 258684937
            type: number
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            example: 1
            type: number
        - description: The number of items to show on each page of results, up to a maximum of 100.
          in: query
          name: per_page
          required: false
          schema:
            example: 10
            type: number
      responses:
        "200":
          content:
            application/vnd.vimeo.user+json:
              schema:
                items:
                  $ref: "#/components/schemas/user"
                type: array
          description: The users were returned.
        "400":
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: No users can view the private video.
      summary: Get all the users who can view a user's private videos by default
      tags:
        - Videos\Viewing Privacy
    put:
      description: |-
        The body of this request should follow our
        [batch request format](https://developer.vimeo.com/api/common-formats#batch-requests). Each object must contain
        a single `URI` field, and the value of this field must be the URI of the user who can view this video.
      operationId: add_video_privacy_users_alt1
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
        - description: The ID of the video.
          in: path
          name: video_id
          required: true
          schema:
            example: 258684937
            type: number
      responses:
        "200":
          content:
            application/vnd.vimeo.user+json:
              schema:
                items:
                  $ref: "#/components/schemas/user"
                type: array
          description: The users can now view the private video.
      security:
        - oauth2:
            - edit
      summary: Permit a list of users to view a private video
      tags:
        - Videos\Viewing Privacy
  "/channels/{channel_id}/videos/{video_id}/texttracks":
    get:
      operationId: get_text_tracks_alt1
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
        - description: The ID of the video.
          in: path
          name: video_id
          required: true
          schema:
            example: 258684937
            type: number
      responses:
        "200":
          content:
            application/vnd.vimeo.video.texttrack+json:
              schema:
                items:
                  $ref: "#/components/schemas/text-track"
                type: array
          description: The text tracks were returned.
        "404":
          content:
            application/vnd.vimeo.video.texttrack+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: No such video exists.
      summary: Get all the text tracks of a video
      tags:
        - Videos\Text Tracks
    post:
      description: For additional information, see our [text track upload guide](https://developer.vimeo.com/api/upload/texttracks).
      operationId: create_text_track_alt1
      parameters:
        - description: The ID of the channel.
          in: path
          name: channel_id
          required: true
          schema:
            example: 927
            type: number
        - description: The ID of the video.
          in: path
          name: video_id
          required: true
          schema:
            example: 258684937
            type: number
      requestBody:
        content:
          application/vnd.vimeo.video.texttrack+json:
            schema:
              properties:
                active:
                  description: Active text tracks appear in the player and are visible to other users. Only one text track per language can be active.
                  example: "true"
                  type: boolean
                language:
                  description: The language of the text track. For a complete list of valid languages, use the [/languages?filter=texttracks](https://developer.vimeo.com/api/endpoints/videos#GET/languages) endpoint.
                  example: en-US
                  type: string
                name:
                  description: The name of the text track.
                  example: Commentary
                  type: string
                type:
                  description: The type of the text track.
                  enum:
                    - captions
                    - chapters
                    - descriptions
                    - metadata
                    - subtitles
                  type: string
              required:
                - language
                - name
                - type
              type: object
        required: true
      responses:
        "201":
          content:
            application/vnd.vimeo.video.texttrack+json:
              schema:
                $ref: "#/components/schemas/text-track"
          description: The text track was added.
        "403":
          content:
            application/vnd.vimeo.video.texttrack+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: |-
            * The authenticated user can't edit the text track.
            * Error code 2204: The request contains errors.
      security:
        - oauth2:
            - upload
      summary: Add a text track to a video
      tags:
        - Videos\Text Tracks
  /contentratings:
    get:
      operationId: get_content_ratings
      responses:
        "200":
          content:
            application/vnd.vimeo.contentrating+json:
              schema:
                items:
                  $ref: "#/components/schemas/content-rating"
                type: array
          description: The content ratings were returned.
      summary: Get all content ratings
      tags:
        - Videos\Content Ratings
  /creativecommons:
    get:
      operationId: get_cc_licenses
      responses:
        "200":
          content:
            application/vnd.vimeo.creativecommons+json:
              schema:
                items:
                  $ref: "#/components/schemas/creative-commons"
                type: array
          description: The Creative Commons licenses were returned.
      summary: Get all Creative Commons licenses
      tags:
        - Videos\Creative Commons
  /groups:
    get:
      operationId: get_groups
      parameters:
        - description: The sort direction of the results.
          in: query
          name: direction
          required: false
          schema:
            enum:
              - asc
              - desc
            example: asc
            type: string
        - description: The attribute by which to filter the results.
          in: query
          name: filter
          required: false
          schema:
            enum:
              - featured
            type: string
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            example: 1
            type: number
        - description: The number of items to show on each page of results, up to a maximum of 100.
          in: query
          name: per_page
          required: false
          schema:
            example: 10
            type: number
        - description: The search query to use to filter the results.
          in: query
          name: query
          required: false
          schema:
            example: Stop motion
            type: string
        - description: |
            The way to sort the results.

            Option descriptions:
             * `relevant` - Relevant sorting is available only for search queries.
          in: query
          name: sort
          required: false
          schema:
            enum:
              - alphabetical
              - date
              - followers
              - relevant
              - videos
            type: string
      responses:
        "200":
          content:
            application/vnd.vimeo.group+json:
              schema:
                items:
                  $ref: "#/components/schemas/group"
                type: array
          description: The groups were returned.
      summary: Get all groups
      tags:
        - Groups\Essentials
    post:
      operationId: create_group
      requestBody:
        content:
          application/vnd.vimeo.group+json:
            schema:
              properties:
                description:
                  description: The description of the new group.
                  example: Want to participate in our weekly Challenges? Join the Group to receive messages and new Challenges!
                  type: string
                name:
                  description: The name of the new group.
                  example: Vimeo Weekend Challenge
                  type: string
              required:
                - name
              type: object
        required: true
      responses:
        "200":
          content:
            application/vnd.vimeo.group+json:
              schema:
                $ref: "#/components/schemas/group"
          description: The group was created.
        "400":
          content:
            application/vnd.vimeo.group+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: A parameter is invalid.
        "403":
          content:
            application/vnd.vimeo.group+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: The authenticated user can't create groups.
      security:
        - oauth2:
            - create
      summary: Create a group
      tags:
        - Groups\Essentials
  "/groups/{group_id}":
    delete:
      operationId: delete_group
      parameters:
        - description: The ID of the group.
          in: path
          name: group_id
          required: true
          schema:
            example: 1108
            type: number
      responses:
        "204":
          description: The group was deleted.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: The authenticated user isn't the group owner.
      security:
        - oauth2:
            - delete
      summary: Delete a group
      tags:
        - Groups\Essentials
    get:
      operationId: get_group
      parameters:
        - description: The ID of the group.
          in: path
          name: group_id
          required: true
          schema:
            example: 1108
            type: number
      responses:
        "200":
          content:
            application/vnd.vimeo.group+json:
              schema:
                $ref: "#/components/schemas/group"
          description: The group was returned.
      summary: Get a specific group
      tags:
        - Groups\Essentials
  "/groups/{group_id}/users":
    get:
      operationId: get_group_members
      parameters:
        - description: The ID of the group.
          in: path
          name: group_id
          required: true
          schema:
            example: 1108
            type: number
        - description: The sort direction of the results.
          in: query
          name: direction
          required: false
          schema:
            enum:
              - asc
              - desc
            example: asc
            type: string
        - description: The attribute by which to filter the results.
          in: query
          name: filter
          required: false
          schema:
            enum:
              - moderators
            type: string
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            example: 1
            type: number
        - description: The number of items to show on each page of results, up to a maximum of 100.
          in: query
          name: per_page
          required: false
          schema:
            example: 10
            type: number
        - description: The search query to use to filter the results.
          in: query
          name: query
          required: false
          schema:
            example: Stop motion
            type: string
        - description: The way to sort the results.
          in: query
          name: sort
          required: false
          schema:
            enum:
              - alphabetical
              - date
            type: string
      responses:
        "200":
          content:
            application/vnd.vimeo.user+json:
              schema:
                items:
                  $ref: "#/components/schemas/user"
                type: array
          description: The members were returned.
        "404":
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: No such group exists.
      summary: Get all the members of a group
      tags:
        - Groups\Users
  "/groups/{group_id}/videos":
    get:
      operationId: get_group_videos
      parameters:
        - description: The ID of the group.
          in: path
          name: group_id
          required: true
          schema:
            example: 1108
            type: number
        - description: The sort direction of the results.
          in: query
          name: direction
          required: false
          schema:
            enum:
              - asc
              - desc
            example: asc
            type: string
        - description: The attribute by which to filter the results.
          in: query
          name: filter
          required: false
          schema:
            enum:
              - embeddable
            type: string
        - description: Whether to filter the results by embeddable videos (`true`) or non-embeddable videos (`false`). Required only if **filter** is `embeddable`.
          in: query
          name: filter_embeddable
          required: false
          schema:
            example: "true"
            type: boolean
        - description: The page number of the results to show.
          in: query
          name: page
          required: false
          schema:
            example: 1
            type: number
        - description: The number of items to show on each page of results, up to a maximum of 100.
          in: query
          name: per_page
          required: false
          schema:
            example: 10
            type: number
        - description: The search query to use to filter the results.
          in: query
          name: query
          required: false
          schema:
            example: Stop motion
            type: string
        - description: The way to sort the results.
          in: query
          name: sort
          required: false
          schema:
            enum:
              - alphabetical
              - comments
              - date
              - duration
              - likes
              - plays
            type: string
      responses:
        "200":
          content:
            application/vnd.vimeo.video+json:
              schema:
                items:
                  $ref: "#/components/schemas/video"
                type: array
          description: The videos were returned.
        "304":
          description: No videos have been added to this group since the given `If-Modified-Since` header.
        "404":
          content:
            application/vnd.vimeo.video+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: No such group exists.
      summary: Get all the videos in a group
      tags:
        - Groups\Videos
  "/groups/{group_id}/videos/{video_id}":
    delete:
      operationId: delete_video_from_group
      parameters:
        - description: The ID of the group.
          in: path
          name: group_id
          required: true
          schema:
            example: 1108
            type: number
        - description: The ID of the video.
          in: path
          name: video_id
          required: true
          schema:
            example: 258684937
            type: number
      responses:
        "204":
          description: The video was deleted.
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: The authenticated user can't modify this group's videos.
      security:
        - oauth2:
            - edit
      summary: Remove a video from a group
      tags:
        - Groups\Videos
    get:
      description: Check if a group has a video.
      operationId: get_group_video
      parameters:
        - description: The ID of the group.
          in: path
          name: group_id
          required: true
          schema:
            example: 1108
            type: number
        - description: The ID of the video.
          in: path
          name: video_id
          required: true
          schema:
            example: 258684937
            type: number
      responses:
        "200":
          content:
            application/vnd.vimeo.video+json:
              schema:
                $ref: "#/components/schemas/video"
          description: The video was returned.
        "404":
          content:
            application/vnd.vimeo.video+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: No such video or group exists.
      summary: Get a specific video in a group
      tags:
        - Groups\Videos
    put:
      operationId: add_video_to_group
      parameters:
        - description: The ID of the group.
          in: path
          name: group_id
          required: true
          schema:
            example: 1108
            type: number
        - description: The ID of the video.
          in: path
          name: video_id
          required: true
          schema:
            example: 258684937
            type: number
      responses:
        "200":
          content:
            application/vnd.vimeo.video+json:
              schema:
                $ref: "#/components/schemas/video"
          description: The video was added.
        "202":
          description: The video is in pending status.
        "403":
          content:
            application/vnd.vimeo.video+json:
              schema:
                $ref: "#/components/schemas/legacy-error"
          description: |-
            * The video is already in the group.
            * The user can't add videos to the group.
      security:
        - oauth2:
            - edit
      summary: Add a video to a group
      tags:
        - Groups\Videos
  /languages:
    get:
      operationId: get_languages
      parameters:
        - description: |
            The attribute by which to filter the results.

            Option descriptions:
             * `texttracks` - Only return text track supported languages
          in: query
          name: filter
          required: false
          schema:
            enum:
              - texttracks
            type: string
      responses:
        "200":
          content:
            application/vnd.vimeo.language+json:
              schema:
                items:
                  $ref: "#/components/schemas/language"
                type: array
          description: The languages were returned.
      summary: Get all languages
      tags:
        - Videos\Languages
  /me:
    get:
      operationId: get_user_alt1
      responses:
        "200":
          content:
            application/vnd.vimeo.user+json:
              schema:
                $ref: "#/components/schemas/user"
          description: The user was returned.
      summary: Get a user
      tags:
        - Users\Essentials
    patch:
      operationId: edit_user_alt1
      requestBody:
        content:
          application/vnd.vimeo.user+json:
            schema:
              properties:
                bio:
                  description: The user's bio.
                  example: This is where you will find videos and news updates from the staff
                  type: string
                content_filter:
                  description: A list of values describing the content in this video. Find the full list in the [/contentratings](https://developer.vimeo.com/api/endpoints/videos#GET/contentratings) endpoint. You must provide a comma-separated list if you are using a query string or an array if you are using JSON.
                  items:
                    type: string
                  type: array
                link:
                  description: The user's custom Vimeo URL slug.
                  example: staff
                  type: string
                location:
                  description: The user's location.
                  example: New York City
                  type: string
                name:
                  description: The user's display name.
                  example: Vimeo Staff
                  type: string
                password:
                  description: The default password for all future videos that this user uploads. To use this field, the `videos.privacy.view` field must be `password`.
                  example: hunter1
                  type: string
                videos:
                  properties:
                    privacy:
                      properties:
                        add:
                          description: Whether a user can add the video to an album, channel, or group. This value becomes the default add setting for all future videos uploaded by the user.
                          example: "true"
                          type: boolean
                        comments:
                          description: Who can comment on the video. This value becomes the default comment setting for all future videos that this user uploads.
                          enum:
                            - anybody
                            - contacts
                            - nobody
                          type: string
                        download:
                          description: Whether a user can download the video. This value becomes the default download setting for all future videos that this user uploads.
                          example: "true"
                          type: boolean
                        embed:
                          description: The privacy for embed videos. The `whitelist` value enables you to define all valid embed domains. See our [documentation](https://developer.vimeo.com/api/endpoints/videos#/{video_id}/privacy/domains) for adding and removing domains.
                          enum:
                            - private
                            - public
                            - whitelist
                          type: string
                        view:
[...]
