{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "info": {
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "title": "NetworkManagementClient",
    "version": "2017-03-30",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/vmssPublicIpAddress.json",
        "version": "2.0"
      }
    ],
    "x-preferred": false,
    "x-providerName": "azure.com",
    "x-serviceName": "network-vmssPublicIpAddress",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/publicipaddresses": {
      "get": {
        "description": "Gets information about all public IP addresses on a virtual machine scale set level.",
        "operationId": "PublicIPAddresses_ListVirtualMachineScaleSetPublicIPAddresses",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the virtual machine scale set.",
            "in": "path",
            "name": "virtualMachineScaleSetName",
            "required": true,
            "type": "string"
          },
          {
            "description": "Client API version.",
            "enum": [
              "2017-03-30"
            ],
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ApiVersion"
            }
          },
          {
            "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of PublicIPInterface resources.",
            "schema": {
              "description": "Response for ListPublicIpAddresses API service call.",
              "properties": {
                "nextLink": {
                  "description": "The URL to get the next set of results.",
                  "type": "string"
                },
                "value": {
                  "description": "A list of public IP addresses that exists in a resource group.",
                  "items": {
                    "allOf": [
                      {
                        "description": "Common resource representation.",
                        "properties": {
                          "id": {
                            "description": "Resource ID.",
                            "type": "string"
                          },
                          "location": {
                            "description": "Resource location.",
                            "type": "string"
                          },
                          "name": {
                            "description": "Resource name.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "tags": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "description": "Resource tags.",
                            "type": "object"
                          },
                          "type": {
                            "description": "Resource type.",
                            "readOnly": true,
                            "type": "string"
                          }
                        },
                        "x-ms-azure-resource": true
                      }
                    ],
                    "description": "Public IP address resource.",
                    "properties": {
                      "etag": {
                        "description": "A unique read-only string that changes whenever the resource is updated.",
                        "type": "string"
                      },
                      "properties": {
                        "$ref": "#/definitions/PublicIPAddressPropertiesFormat",
                        "description": "Public IP address properties.",
                        "x-ms-client-flatten": true
                      },
                      "sku": {
                        "description": "SKU of a public IP address.",
                        "properties": {
                          "name": {
                            "description": "Name of a public IP address SKU.",
                            "enum": [
                              "Basic",
                              "Standard"
                            ],
                            "type": "string",
                            "x-ms-enum": {
                              "modelAsString": true,
                              "name": "PublicIPAddressSkuName"
                            }
                          }
                        }
                      },
                      "zones": {
                        "description": "A list of availability zones denoting the IP allocated for the resource needs to come from.",
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      }
                    }
                  },
                  "type": "array"
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "ListVMSSPublicIP": {
            "parameters": {
              "api-version": "2017-03-30",
              "resourceGroupName": "vmss-tester",
              "subscriptionId": "subid",
              "virtualMachineScaleSetName": "vmss1"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/vmss-tester/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1/ipConfigurations/ip1/publicIPAddresses/pub1",
                      "name": "pub1",
                      "properties": {
                        "dnsSettings": {
                          "domainNameLabel": "vm1.testvmssacc",
                          "fqdn": "vm1.testvmssacc.southeastasia.cloudapp.azure.com"
                        },
                        "idleTimeoutInMinutes": 10,
                        "ipAddress": "13.67.119.72",
                        "ipConfiguration": {
                          "id": "/subscriptions/subid/resourceGroups/vmss-tester/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1/ipConfigurations/ip1"
                        },
                        "provisioningState": "Succeeded",
                        "publicIPAddressVersion": "IPv4",
                        "publicIPAllocationMethod": "Dynamic"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/vmss-tester/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/3/networkInterfaces/nic1/ipConfigurations/ip1/publicIPAddresses/pub1",
                      "name": "pub1",
                      "properties": {
                        "dnsSettings": {
                          "domainNameLabel": "vm3.testvmssacc",
                          "fqdn": "vm3.testvmssacc.southeastasia.cloudapp.azure.com"
                        },
                        "idleTimeoutInMinutes": 10,
                        "ipAddress": "13.67.118.216",
                        "ipConfiguration": {
                          "id": "/subscriptions/subid/resourceGroups/vmss-tester/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/3/networkInterfaces/nic1/ipConfigurations/ip1"
                        },
                        "provisioningState": "Succeeded",
                        "publicIPAddressVersion": "IPv4",
                        "publicIPAllocationMethod": "Dynamic"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}/ipconfigurations/{ipConfigurationName}/publicipaddresses": {
      "get": {
        "description": "Gets information about all public IP addresses in a virtual machine IP configuration in a virtual machine scale set.",
        "operationId": "PublicIPAddresses_ListVirtualMachineScaleSetVMPublicIPAddresses",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the virtual machine scale set.",
            "in": "path",
            "name": "virtualMachineScaleSetName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The virtual machine index.",
            "in": "path",
            "name": "virtualmachineIndex",
            "required": true,
            "type": "string"
          },
          {
            "description": "The network interface name.",
            "in": "path",
            "name": "networkInterfaceName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The IP configuration name.",
            "in": "path",
            "name": "ipConfigurationName",
            "required": true,
            "type": "string"
          },
          {
            "description": "Client API version.",
            "enum": [
              "2017-03-30"
            ],
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ApiVersion"
            }
          },
          {
            "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of PublicIPAddress resources.",
            "schema": {
              "description": "Response for ListPublicIpAddresses API service call.",
              "properties": {
                "nextLink": {
                  "description": "The URL to get the next set of results.",
                  "type": "string"
                },
                "value": {
                  "description": "A list of public IP addresses that exists in a resource group.",
                  "items": {
                    "allOf": [
                      {
                        "description": "Common resource representation.",
                        "properties": {
                          "id": {
                            "description": "Resource ID.",
                            "type": "string"
                          },
                          "location": {
                            "description": "Resource location.",
                            "type": "string"
                          },
                          "name": {
                            "description": "Resource name.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "tags": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "description": "Resource tags.",
                            "type": "object"
                          },
                          "type": {
                            "description": "Resource type.",
                            "readOnly": true,
                            "type": "string"
                          }
                        },
                        "x-ms-azure-resource": true
                      }
                    ],
                    "description": "Public IP address resource.",
                    "properties": {
                      "etag": {
                        "description": "A unique read-only string that changes whenever the resource is updated.",
                        "type": "string"
                      },
                      "properties": {
                        "$ref": "#/definitions/PublicIPAddressPropertiesFormat",
                        "description": "Public IP address properties.",
                        "x-ms-client-flatten": true
                      },
                      "sku": {
                        "description": "SKU of a public IP address.",
                        "properties": {
                          "name": {
                            "description": "Name of a public IP address SKU.",
                            "enum": [
                              "Basic",
                              "Standard"
                            ],
                            "type": "string",
                            "x-ms-enum": {
                              "modelAsString": true,
                              "name": "PublicIPAddressSkuName"
                            }
                          }
                        }
                      },
                      "zones": {
                        "description": "A list of availability zones denoting the IP allocated for the resource needs to come from.",
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      }
                    }
                  },
                  "type": "array"
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "ListVMSSVMPublicIP": {
            "parameters": {
              "api-version": "2017-03-30",
              "ipConfigurationName": "ip1",
              "networkInterfaceName": "nic1",
              "resourceGroupName": "vmss-tester",
              "subscriptionId": "subid",
              "virtualMachineScaleSetName": "vmss1",
              "virtualmachineIndex": 1
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/vmss-tester/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1/ipConfigurations/ip1/publicIPAddresses/pub1",
                      "name": "pub1",
                      "properties": {
                        "dnsSettings": {
                          "domainNameLabel": "vm1.testvmssacc",
                          "fqdn": "vm1.testvmssacc.southeastasia.cloudapp.azure.com"
                        },
                        "idleTimeoutInMinutes": 10,
                        "ipAddress": "13.67.119.72",
                        "ipConfiguration": {
                          "id": "/subscriptions/subid/resourceGroups/vmss-tester/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1/ipConfigurations/ip1"
                        },
                        "provisioningState": "Succeeded",
                        "publicIPAddressVersion": "IPv4",
                        "publicIPAllocationMethod": "Dynamic"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}/ipconfigurations/{ipConfigurationName}/publicipaddresses/{publicIpAddressName}": {
      "get": {
        "description": "Get the specified public IP address in a virtual machine scale set.",
        "operationId": "PublicIPAddresses_GetVirtualMachineScaleSetPublicIPAddress",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the virtual machine scale set.",
            "in": "path",
            "name": "virtualMachineScaleSetName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The virtual machine index.",
            "in": "path",
            "name": "virtualmachineIndex",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the network interface.",
            "in": "path",
            "name": "networkInterfaceName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the IP configuration.",
            "in": "path",
            "name": "ipConfigurationName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the public IP Address.",
            "in": "path",
            "name": "publicIpAddressName",
            "required": true,
            "type": "string"
          },
          {
            "description": "Client API version.",
            "enum": [
              "2017-03-30"
            ],
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "ApiVersion"
            }
          },
          {
            "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Expands referenced resources.",
            "in": "query",
            "name": "$expand",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting PublicIPAddress resource.",
            "schema": {
              "allOf": [
                {
                  "description": "Common resource representation.",
                  "properties": {
                    "id": {
                      "description": "Resource ID.",
                      "type": "string"
                    },
                    "location": {
                      "description": "Resource location.",
                      "type": "string"
                    },
                    "name": {
                      "description": "Resource name.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "tags": {
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Resource tags.",
                      "type": "object"
                    },
                    "type": {
                      "description": "Resource type.",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "x-ms-azure-resource": true
                }
              ],
              "description": "Public IP address resource.",
              "properties": {
                "etag": {
                  "description": "A unique read-only string that changes whenever the resource is updated.",
                  "type": "string"
                },
                "properties": {
                  "$ref": "#/definitions/PublicIPAddressPropertiesFormat",
                  "description": "Public IP address properties.",
                  "x-ms-client-flatten": true
                },
                "sku": {
                  "description": "SKU of a public IP address.",
                  "properties": {
                    "name": {
                      "description": "Name of a public IP address SKU.",
                      "enum": [
                        "Basic",
                        "Standard"
                      ],
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "PublicIPAddressSkuName"
                      }
                    }
                  }
                },
                "zones": {
                  "description": "A list of availability zones denoting the IP allocated for the resource needs to come from.",
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "GetVMSSPublicIP": {
            "parameters": {
              "api-version": "2017-03-30",
              "ipConfigurationName": "ip1",
              "networkInterfaceName": "nic1",
              "publicIpAddressName": "pub1",
              "resourceGroupName": "vmss-tester",
              "subscriptionId": "subid",
              "virtualMachineScaleSetName": "vmss1",
              "virtualmachineIndex": 1
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/vmss-tester/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1/ipConfigurations/ip1/publicIPAddresses/pub1",
                  "name": "pub1",
                  "properties": {
                    "dnsSettings": {
                      "domainNameLabel": "vm1.testvmssacc",
                      "fqdn": "vm1.testvmssacc.southeastasia.cloudapp.azure.com"
                    },
                    "idleTimeoutInMinutes": 10,
                    "ipAddress": "13.67.119.72",
                    "ipConfiguration": {
                      "id": "/subscriptions/subid/resourceGroups/vmss-tester/providers/Microsoft.Compute/virtualMachineScaleSets/vmss1/virtualMachines/1/networkInterfaces/nic1/ipConfigurations/ip1"
                    },
                    "provisioningState": "Succeeded",
                    "publicIPAddressVersion": "IPv4",
                    "publicIPAllocationMethod": "Dynamic"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "PublicIPAddressPropertiesFormat": {}
  }
}